<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0,viewport-fit=cover" >
		<title>{#$langData['waimai'][0][27]#}</title> {#*   桌号管理   *#}
		<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
		<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/manage-desk.css?v={#$cfg_staticVersion#}">
		<script src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
		<script type="text/javascript" src="{#$cfg_staticPath#}js/core/zepto.min.js?v={#$cfg_staticVersion#}"></script>
		<script src="{#$templets_skin#}js/vue.min.js?v={#$cfg_staticVersion#}"></script>
		<script>
			var sid = "{#$sid#}";
			var zhuhao = {#json_encode($zhuohao)#}
		</script>
	</head>
	<body>
		<div id="page">
			<!-- 头部 -->
			<div class="top_box">
				<div class="headbox">
					<a href="javascript:;" onclick="javascript:history.go(-1);" class="back_btn goBack"></a>
					<div class="htitle">{#$langData['waimai'][0][27]#}</div>    {#*   桌号管理   *#}
				</div>
			</div>

			<!-- 桌号 -->
			<div class="desk_list" v-cloak>
				<form action="" method="post" id="submitBox">
					<ul>
						<li class="desk_li" v-for="desk in deskList">
							<div class="desk_info">
								<h3 v-show="desk.change">{{desk.name}}</h3>
								<input type="text" placeholder="{#$langData['waimai'][11][118]#}" v-model="desk.name" name="zhuohao[content][]" v-show="!desk.change">    {#*   请输入桌号   *#}
								<a href="javascript:;" class="del" @click="del_desk" data-type="del">{#$langData['waimai'][2][42]#}</a>  {#*   删除   *#}
							</div>
							<div class="btns_group">
								<a href="javascript:;" class="edit" v-show="desk.change" @click="desk.change = !desk.change">{#$langData['waimai'][11][119]#}</a>  {#*   编辑桌号   *#}
								<a href="javascript:;" class="erCode" v-show="desk.change" :data-path="'{#$cfg_basehost#}/include/qrcode.php?type=waimaiDesk&data={#getUrlPath service='waimai' template='shop' shopid={#$id#} #}?desk='+desk.name" @click="ercode_show()">{#$langData['waimai'][11][120]#}</a> {#*   下载二维码   *#}
								<a href="javascript:;" class="sureChange" v-show="!desk.change" @click="desk.change = !desk.change,submitData() " :data-type="desk.change?'change':'add'">{#$langData['waimai'][3][33]#}</a> {#*   确定   *#}
							</div>
						</li>
					</ul>
				</form>
			</div>
			<div class="btn_box">
				<a href="javascript:;" class="add_type" @click="add_desk">{#$langData['waimai'][11][121]#}</a>  {#*   新增桌号   *#}

			</div>
			<!-- 加载中 -->
			<div v-cloak class="loading_icon" v-if="LOADING"></div>
			<!-- 底部 -->
			<template>
			<div class="eqcode_mask" v-show="erCode" @click="erCode = !erCode"> <i></i></div>
			<div class="erCode_box" v-show="erCode">
				<h3>{#$langData['waimai'][0][30]#}：<em class="desk_name">{{chose_desk}}</em></h3>{#*   桌号   *#}
				<div class="erCode"><img :src="erCodeImg" alt="" @touchmove="move"  @touchstart="start" @touchstart="end" ></div>
				<p>{#$langData['waimai'][11][122]#}</p>{#*   可长按图片保存到相册   *#}
			</div>
			</template>
		</div>
	</body>
	<script src="{#$templets_skin#}js/axios.min.js?v={#$cfg_staticVersion#}"></script>
	<script src="{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}"></script>
	<script src="{#$templets_skin#}js/manage-desk.js?v={#$cfg_staticVersion#}"></script>

</html>
