<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0,viewport-fit=cover">
		<title>新建优惠券</title> {#*   新建优惠券   *#}
		<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
		<script type="text/javascript" src="{#$cfg_staticPath#}js/core/zepto.min.js?v={#$cfg_staticVersion#}"></script>
		<script src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
		<script src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js?v={#$cfg_staticVersion#}"></script>
		<link rel="stylesheet"  href="{#$cfg_staticPath#}css/ui/mobiscroll.javascript.css?v={#$cfg_staticVersion#}">
		<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/add-quan.css?v={#$cfg_staticVersion#}">
		<script src="{#$cfg_staticPath#}js/ui/mobiscroll.custom-3.0.0-beta4.js?v={#$cfg_staticVersion#}"></script>

		<script src="{#$templets_skin#}js/vue.min.js?v={#$cfg_staticVersion#}"></script>
		<script>

			 var pageUrl = '{#$cfg_basehost#}/wmsj/order/waimaiOrder.php?state=', state = '{#if $state#}{#$state#}{#else#}2{#/if#}';
			 var cookiePre = '{#$cfg_cookiePre#}';
			 var orderState = {#if $state==1#}1{#else#}0{#/if#};  //订单状态为1 则是历史订单
			 var templets = "{#$templets_skin#}";
			 var staticPath = "{#$cfg_staticPath#}";
			 var oldNumber = '{#$number#}';
			 var limitNum = '{#$limit#}';
			 var sid = '{#$sid#}';
			 var id = '{#$id#}';
		</script>
	</head>
	<body>
		<div id="page">
			<!-- 订单列表 -->
			<div class="page_list">
				<!-- 头部 s-->
				<div class="top_box">
					<div class="headbox">
						<a class="back_btn" href="javascript:;" onclick="history.go(-1)"></a>
						<div class="htitle">新建优惠券</div>    {#*   新建优惠券   *#}
					</div>

				</div>
				<!-- 头部 e-->

				<!-- 表单s -->
				<form action="" id="formBox">
					<input type="hidden" name="shopid" value="{#if $shopids#}{#$shopids#}{#else#}{#$sid#}{#/if#}">
					<input type="hidden" name="id" value="{#$id#}">
					<dl>
						<dt>基本信息<span>优惠券创建后，基本信息不可再修改</span></dt>
						<dd class="mbox">
							<div class="itembox selbox">
								<div class="item">
									<label for="">使用截止时间</label>
									<div class="item_right"><input type="text" id="endtime" name="deadline" value="{#$deadline#}" placeholder="请选择"></div>
								</div>
								<p class="item_tip">创建发放优惠券后立即可领取</p>
							</div>
							<div class="itembox inpbox">
								<div class="item">
									<label for="">优惠金额</label>
									<div class="item_right"><input type="text" placeholder="" name="money" id="yhmoney" value="{#$money#}" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');">{#echoCurrency type="short"#}</div>
								</div>
							</div>
							<div class="itembox inpbox">
								<div class="item">
									<label for="">使用门槛</label>
									<div class="item_right"><input type="text" name="basic_price" value="{#$basic_price#}" id="manjian" placeholder="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');">{#echoCurrency type="short"#}</div>
								</div>
								<p class="item_tip">门槛需高于优惠金额，或无门槛可填写“0”</p>
							</div>
						</dd>
					</dl>
					<dl>
						<dt>发放信息</dt>
						<dd class="mbox">
							<div class="itembox inpbox">
								<div class="item">
									<label for="">发放量</label>
									<div class="item_right"><input type="text" id="number" name="number" value="{#$number#}" placeholder="">张</div>
								</div>
							</div>
							<div class="itembox selbox ">
								<div class="item xianling">
									<label for="">每人限领</label>
									<div class="item_right"><input type="text" name="limitname" id="quanlimitname" readonly="" placeholder="请选择"><input type="hidden" name="limit" value="{#$limit#}"  id="quanlimit"></div>
								</div>

							</div>
						</dd>
					</dl>
						<p class="tips">优惠券创建后，发放量/限领数量都只能增加不能减少，请谨慎设置</p>
				</form>
				<!-- 表单e -->

				<!-- 按钮 -->
				<div class="btnsbox"><a href="javascript:;" class="btn_new" @click="submit()">立即发放</a></div>
			</div>


		</div>
	</body>
	<script src="{#$cfg_staticPath#}js/ui/swiper.min_4.2.2.js?v={#$cfg_staticVersion#}"></script>
	<script src="{#$templets_skin#}js/axios.min.js?v={#$cfg_staticVersion#}"></script>
	<script src="{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}"></script>
	<script src="{#$templets_skin#}js/drag-loading.js?v={#$cfg_staticVersion#}"></script>
	<script src="{#$templets_skin#}js/add-quan.js?v={#$cfg_staticVersion#}"></script>
</html>
