.rConBox .tabBox{font-size: 17px; color: #333; line-height: 52px; border-bottom: solid 1px #eee; padding-left: 20px; position: relative;}
.rConBox .tabBox span{float: left; margin-right: 68px; cursor: pointer;}
.rConBox .tabBox span.curr{font-weight: bold;}

.rConBox .tabBox s{display: block; width: 70px; height: 2px; background-color: #2278FF; left: 0; bottom: 0; position: absolute;  transform: translatex(20px); transition: transform .3s}

.formbox{padding: 20px;}
.formbox .form_item {margin-bottom: 70px;}
.formbox .form_item dt{height: 50px; line-height: 50px; padding: 0 22px; background-color: #F7F9FC; color: #333; font-weight: bold; font-size: 16px; border-radius: 6px;}
.formbox .form_item dd{padding-top: 36px;}
.formbox .form_item .warning{background-color: #F5FAFF;border-radius: 6px;padding: 0 20px;display: flex;align-items: center;box-sizing: border-box;color: #919399;transition: all .2s;overflow: hidden}
.formbox .form_item .warning s{display: inline-block;width: 16px;height: 16px;background: url(../images/tip_icon.png) no-repeat center/cover;margin-right: 5px;vertical-align: middle;}
.formbox .form_item .warning span{font-size: 14px;color: #3377FF;margin-right: 16px;}
.formbox .form_item .el-form-item{margin-bottom: 20px;}
.formbox .form_item .el-form-item__label{line-height: 46px;}
.formbox .form_item .bigInp{width: 450px; display: inline-block; margin-right: 10px; height: 44px; }
.bigInp .el-input.is-disabled input{color: #666 !important;cursor: default !important;}
.bigInp.el-input.is-disabled input{color: #666 !important;cursor: default !important;}

.formbox .form_item .bigInp .el-input__suffix,.formbox .form_item .mediumInp .el-input__suffix{padding:0 6px; line-height: 46px;}
.formbox .form_item .el-input input{height: 46px; line-height: 44px; }
.formbox .form_item .tip_inp{display: inline-block; color: #A6A6A6; font-size: 13px; line-height: 1.5em; margin-top: 14px; }

.formbox .form_item .medium_select{width: 220px; margin-right: 6px;}
.file_add{width: 120px; height: 120px; background-color: #F7F9FC; border-radius: 8px; display: flex; align-items: center; justify-content: center; flex-direction: column;}
.file_add::before{content: ''; display: block; width: 24px; height: 24px;  background: url(/static/images/supplier/uploadIcon.png) no-repeat center/cover; margin-bottom: 10px;}
.file_add p{font-size: 12px; color: #8D92A6; text-align: center; line-height: 1.2em;}
.prviewImg img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 8px; }
.prviewImg{width: 120px; height: 120px; border-radius: 8px; position: relative; background-color: #F7F9FC;}
.prviewImg p{position: absolute; left: 0; right: 0; bottom: 0; line-height: 30px; text-align: center; color: #fff; border-radius:0 0 8px 8px;transition: all .3s;}
.prviewImg:hover .resetImg{opacity: 1;}
/* .prviewImg:hover .hadcertificate{opacity: 0 !important;} */
.prviewImg .resetImg{background-color: rgba(0,0,0,.6);opacity: 0;}
.prviewImg .hadcertificate{background-color: rgba(61, 92, 153, .6);line-height: 24px;}
.progress{position: absolute; left: 0; right: 0; bottom: 0; font-size: 12px; }
.progress .el-progress-bar__outer{border-radius: 0;}
.progress .el-progress-bar__inner{border-radius: 0 ; transition: width .3s;}

.licence .uploadBtn{display: inline-block; margin-right: 10px; vertical-align: top;} 
.licence .file_add{width: 160px; height: 120px;}
.licence .prviewImg {width: 160px; height: 120px;}

.btn_submit{width: 200px; height: 46px; background: linear-gradient(90deg, #3377FF 0%, #407FFF 100%); border-radius: 6px; font-size: 16px; margin-left: 138px; margin-right: 24px;}
.btn_submit:hover{background:  linear-gradient(90deg, #4c88ff 0%, #5990ff 100%);}
.changeTip{color: #333; font-size: 14px; padding-left: 138px;}
.changeTip span{display: inline-block; width: 18px; height: 18px; border-radius: 4px; vertical-align: middle; margin-top: -2px; margin-left: 4px;}
.changeTip img{display: block; width: 100%; height: 100%; object-fit: cover;  border-radius: 4px; }
.changeTip a,.changeBusiness{color: #1975FF; text-decoration: underline !important;}
.changeBusiness:hover{color: #1975FF;}
.el-form-item .btn_cha{color: #1975FF;}

/* 联系方式 */
.groupBox{display: flex; align-items: flex-start; width: 450px;}
.groupBox .inpGroup { width: 450px; position: relative;}
.groupBox .inpGroup .bigInp{border-radius: 0; width: 355px; margin-right: 0; display: block;}
.el-input__inner{border: solid 1px #EDEDED ;}
.groupBox .inpGroup .bigInp:first-of-type input{border-radius: 4px 0 0 0;}
/* .groupBox .inpGroup .bigInp:last-of-type{margin-top: -1px;} */
.groupBox .inpGroup .bigInp:last-of-type input{border-radius:  0 0 0 4px;}
.groupBox .inpGroup .bigInp input:focus,.groupBox .inpGroup .bigInp input:hover{position: relative; z-index: 1;}
.groupBox .headIconBox{width: 92px; height: 90px; box-sizing: border-box; border: solid 1px #EDEDED; border-radius: 0px 5px 5px 0px;background-color: #fff; flex-shrink: 0; margin-left: -5px; transform: translateX(-4px); position: relative;  display: flex; align-items: center; justify-content: center;}
.groupBox .headIconBox .photoBox{width: 70px ; height: 70px; border: 1px solid #EDEDED; border-radius: 4px; position: relative; margin: auto;}
.groupBox .headIconBox .photoBox img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 4px;}
.groupBox .headIconBox .photoBox span.text{font-size: 12px; color: #fff; text-align: center; line-height: 22px; background-color: rgba(0,0,0,0.6); position: absolute; display: block; left: 0; right: 0; border-radius: 0 0 4px 4px; bottom: 0;}

.groupBox .headIconBox .pbtns{position: absolute; left: 75px; top: 0;}
.groupBox .headIconBox .pbtns .uploadBtn{opacity: 0;transition: all .3s;}
.groupBox .headIconBox .photoBox:hover .uploadBtn{opacity: 1;}
.groupBox .headIconBox .pbtns a,.groupBox .headIconBox .pbtns .btn_up_photo{display: flex; width: 76px; height: 30px; border-radius: 16px; background-color: #EDEFF2; color: #666; align-items: center; justify-content: center;}
.groupBox .headIconBox .pbtns a::before{content: ''; display: block; width: 16px; height: 16px; background: url(../images/reload.png) no-repeat center/cover; margin-right: 2px;}
.groupBox .headIconBox .pbtns .btn_up_photo{background-color: #fff; border: 1px solid #E6E6E6; box-sizing: border-box; margin-top: 8px;}
.groupBox .headIconBox .pbtns .btn_up_photo:hover{background-color: #EDEFF2;}
.address_box{display: inline-flex; align-items: center;}
.mapPop_btn{display: inline-block; width: 36px; height: 36px; background: url(../images/map_btn.png) no-repeat center/cover; margin-left: 7px; }
.textarea {max-width: 1050px; min-height: 260px; position: relative;}
.textarea .len{color: #B1B7CC; font-size: 12px; position: absolute; right: 14px; bottom: 0;}
.textarea .text_inp{width: 100%; height: 100%;  min-height: 260px; box-sizing: border-box; font-size: 14px; border: solid 1px #EDEDED; border-radius: 4px; padding: 16px 10px 10px;  outline-width: 1px !important; line-height: 20px;}
.textarea .text_inp:focus{outline:1px solid #409EFF;}
.textarea .text_inp:empty::before{content: attr(placeholder); color: #C0C2CC;}
.textarea .el-textarea__inner{min-height: 260px !important; padding-top: 10px; padding-bottom: 50px;}
.labsBox {padding-top: 2px;}
.labsBox span{display: inline-block; min-width: 80px; height: 30px; font-size: 13px; color: #8D92A6; border: solid 1px #E6E6E6; border-radius: 4px; line-height: 28px; text-align: center; margin-right: 6px; margin-bottom: 8px; cursor: pointer;}
.labsBox span:hover{color: #1975FF;border-color: #8AB0FF;}
.labsBox span.on_chose{background-color: #F0F6FF;color: #1975FF;border-color: #8AB0FF;}


.pics .file_add{width: 160px; height: 120px;}
.pics .uploadBtn{float: left; margin-bottom: 14px;}
.pics .prviewImg {width: 160px; height: 120px; background-color: #f5f5f5;  float: left; margin-right: 12px; margin-bottom: 12px;}
.pics .prviewImg .del_btn{line-height: 30px; border-radius: 0 12px 0 8px; background: rgba(0,0,0,.6); position: absolute; left: 0; bottom: 0; color: #fff; padding: 0 6px; min-width: 60px; box-sizing: border-box; text-align: center;} 
.pics .prviewImg img{width: 100%; height: 100%; object-fit: cover;}

.timePicker{margin-right: 12px;cursor: pointer !important;}
.timePicker input{cursor: pointer;}
.el-cascader-menu__wrap{height: 300px;}
.popConfirmContainer .btnsGroup .big_btn{width: 190px;}
.popConfirmContainer .btnsGroup .btn_default{border-color: #B2D1FF; color: #1975FF;}

/* 发布职位 */
.checkInline {display: inline-block;}
.el-checkbox__inner::after{border-width: 1.5px;}
.datePick .el-input__icon{line-height: 46px;}
/* .datePick .el-input__prefix{display: none;}
.datePick .el-input__inner{padding-left: 15px; padding-right: 30px;}
.datePick .el-input__prefix{} */
.postAddr .add_addr{display: flex; align-items: center; font-size: 14px; color: #1975FF; margin-top: 16px; max-width: 150px;} 
.postAddr .add_addr i{font-size: 14px; font-weight: 900; margin-right: 10px;}
.postAddr .el-input__suffix{display: none;}
.postAddr.arrow .el-input__suffix{display: block;}
.postAddr input{cursor: default !important;}
.addressPop .add_addr i{font-size: 14px; font-weight: 900; margin-right: 10px;}
.addressPop .add_addr{display: flex; align-items: center; font-size: 14px; color: #1975FF;  font-weight: normal;} 

.addressPop .el-select-dropdown__item{height: 46px; line-height: 46px;}
.addressPop .el-select-dropdown__item.hover,.addressPop .el-select-dropdown__item:hover{background-color: #F0F6FF; color: #1975FF;}

.vip_tip{display: inline-block; font-size: 12px; color: #919399; font-weight: normal; margin-left: 26px;}
.vip_tip .tip{font-size: 14px; color: #3377FF; margin-right: 6px;}
.vip_tip .tip i{margin-right: 5px;}
.vip_tip em{color:#FF5039 ;}
.err_tip{display: inline-block; font-size: 13px; color: #1975FF;} 
.err_tip i{font-size: 14px; margin-right: 2px;}
.err_tip.onError{color:#FF4F38; font-size: 13px;}

.el-form-item.post_lab  .el-form-item__label{line-height: 40px;}
.el-form-item.post_lab  .labs .el-tag{font-size: 13px; color: #8D92A6; border-color: #E6E6E6; background:none ; cursor: pointer; margin-right: 4px; margin-bottom: 8px;}
.el-form-item.post_lab .labs .el-tag.on_chose{background-color: #F0F6FF; color: #1975FF; border-color: #8AB0FF;}
.el-form-item.post_lab .labs .el-tag:hover{color: #1975FF; border-color: #8AB0FF;}
.el-form-item.post_lab .selfaddBox>.el-tag{background: none; cursor: pointer;}
.formbox .el-form-item.post_lab .el-input{display: inline-block; width: 430px; height: 32px;}
.formbox .el-form-item.post_lab .el-input input{height: 32px; font-size: 13px;}
.formbox .el-form-item.post_lab .selfLabBox{ height: 32px;  box-sizing: border-box; padding: 3px; vertical-align: middle; align-items: center; display: inline-flex; margin-bottom: 2px;}
.formbox .el-form-item.post_lab .selfLabBox .el-tag{margin-right: 4px; height: 26px; line-height: 24px; background-color: #F2F4F7; border-color: #e6e6e6; color: #575A66; font-size: 13px;cursor: pointer;}
.el-tag .el-icon-close{color: #575A66;opacity: 0;}
.formbox .el-form-item.post_lab .selfLabBox .el-tag:hover .el-icon-close{opacity: 1;}
/* background-color: #575A66; color: #fff; */

.el-checkbox__input.is-checked+.el-checkbox__label{color: #1975FF;}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{background-color: #1975FF;}
.selectBox .el-select-dropdown__item.hover,.selectBox .el-select-dropdown__item:hover{background:#F0F6FF !important; color: #1975FF !important;}
.selectBox.el-popper .popper__arrow{display: none;}
.selectBox.el-popper[x-placement^=bottom]{margin-top: 0px;}

.jobAddrList .addJobAddr{font-size: 14px; color: #1975FF; line-height: 46px;}
.jobAddrList .addJobAddr s{display: inline-block; width: 12px; height: 12px; background: url(../images/add_blue.png) no-repeat center/cover; margin-right: 5px; vertical-align: middle; margin-bottom: 2px;}
.jobAddrList p{color: #A6A6A6; font-size: 12px;}
.jobAddrList li {position: relative; border-bottom: solid 1px #EDEDED;}
.jobAddrList .jobAddr{height: 46px; color: #666; font-size: 14px; line-height: 46px; padding: 0 12px; cursor: pointer; }
.jobAddrList li::after{content: ''; display: block; width: 14px; height: 46px; position: absolute; right: -14px; top: 0; bottom: 0;}
.jobAddrList li .btn_groups{position: absolute; left: 694px; top: 0; bottom: 0; margin: auto; white-space: nowrap; font-size: 14px; display: none;}
.jobAddrList li:hover .btn_groups{display: block;}
.jobAddrList li .btn_groups .del_btn{color: #666;}
.jobAddrList li .btn_groups .edit_btn{color: #1975FF;}
.jobAddrList li:last-of-type{border: none;}
.jobAddrList .jobAddr_ul{background-color: #FAFBFC; border-radius: 4px;  width: 680px; border: solid 1px #EDEDED;}

.edit_posi{display: inline-block; font-size: 14px; color: #1975FF; margin-left: 12px; cursor: pointer;}
.edit_posi s{display: inline-block; width: 28px; height: 28px; background: url(../images/map_btn.png) no-repeat center/cover; vertical-align: middle; margin-bottom: 2px; margin-right: 2px;}
.addressPop li{font-weight: normal !important;}
.el-select-dropdown__item.selected{color: #1975FF;}


.el-input.focus_shan .el-input__inner{border-color: #409EFF; animation: blink .4s 2 steps(1,end); }

/* 提示 */
.tips_resume{height: 40px; background-color: #F5FAFF; border-radius: 6px; padding:0 12px; display: flex; align-items: center; box-sizing: border-box;margin-bottom: 10px; color: #919399;}
.tips_resume em{color: #FF5039;}
.tips_resume h4{font-size: 14px; color: #3377FF; margin-right: 16px;}
.tips_resume h4 s{display: inline-block; width: 16px; height: 16px; background: url(../images/tip_icon.png) no-repeat center/cover; margin-right: 5px; vertical-align: middle; margin-bottom: 4px;}


.form_item .inlineInp{display: inline-block;}
.form_item .mediumInp{width: 220px; }
.changeSalary{display: inline-block; font-size: 14px; color: #666; vertical-align: middle; margin: 0px 10px;}
.changeSalary s{display: inline-block; width: 20px; height: 20px; background: url(../images/change_icon.png) no-repeat center/cover; vertical-align: middle; margin-bottom: 2px; margin-right: 2px;}

/* 确认弹窗 */
.sm_comfirmPop.confirmPop {width: 360px !important;}
.sm_comfirmPop.confirmPop .ptext{min-height: 16px;}
.sm_comfirmPop.confirmPop .el-button--cancel{width: 100px;}
.sm_comfirmPop.confirmPop .el-button--primary{width: 140px;}
/* 进度条 */
.prviewImg .progress {position: absolute;  right: 4px; bottom: 4px; height: 3px; left: 4px; height: 4px; overflow: hidden; z-index: 15; margin:0; padding: 0; border-radius: 0; background: transparent;}
.prviewImg .progress span {display: block; overflow: hidden; width: 0; height: 100%; background: #499c00 url('/static/js/webuploader/progress.png') repeat-x; -webit-transition: width 200ms linear; -moz-transition: width 200ms linear; -o-transition: width 200ms linear; -ms-transition: width 200ms linear; transition: width 200ms linear; -webkit-animation: progressmove 2s linear infinite; -moz-animation: progressmove 2s linear infinite; -o-animation: progressmove 2s linear infinite; -ms-animation: progressmove 2s linear infinite; animation: progressmove 2s linear infinite; -webkit-transform: translateZ(0);}
@-webkit-keyframes progressmove {
  0% {background-position: 0 0;}
  100% {background-position: 17px 0;}
}
@-moz-keyframes progressmove {
  0% {background-position: 0 0;}
  100% {background-position: 17px 0;}
}
@keyframes progressmove {
  0% {background-position: 0 0;}
  100% {background-position: 17px 0;}
}
@keyframes blink {
	0%, 100% {
        border-color: #409EFF;
    }
    50% {
        border-color: #ededed;
    }

}

.blink-1 {
	-webkit-animation: blink-1 0.6s both;
	        animation: blink-1 0.6s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-1-10 14:11:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation blink-1
 * ----------------------------------------
 */
 @-webkit-keyframes blink-1 {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }
  @keyframes blink-1 {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }
  


.selfaddBox{display: flex; align-items: center;}
.selfaddBox>span.el-tag{margin-right: 8px;}
.selfaddBox .selfAddLad{display: flex; align-items: center;}
.selfaddBox .selfAddLad input,.selfaddBox .selfAddLad .selfLabBox {border: none !important;}
.selfaddBox .selfAddLad {border-radius: 4px; border: solid 1px #E6E6E6; min-width: 356px;}
.selfaddBox .selfAddLad .el-input.inp{width: 100%;}
.formbox .el-form-item.post_lab .selfaddBox  .el-input{display: flex;min-width: 300px;}
.formbox .el-form-item.post_lab .selfaddBox  .el-input .el-input__suffix{transform: translateY(-4px);}

.nocertificate{height: 60px;background: #F2F7FF;border: 1px solid #DEEBFF;border-radius: 8px;box-sizing: border-box;display: flex;align-items: center;color: #4C5059;font-size: 15px;margin: 0px 20px 20px;}
.refusecertificate{height: 60px;background: #FCF2F2;border: 1px solid #FCDEDE;border-radius: 8px;box-sizing: border-box;display: flex;align-items: center;color: #4C5059;font-size: 15px;margin: 0px 20px 20px;}
.nocertificate .iconbox,.refusecertificate .iconbox{display: none;}
.certificateimg{width: 20px;height: 20px;object-fit: cover;margin:0px 8px 0px 20px;}
.warntext{color: #A6A6A6;font-size: 13px;}
.checkInline .el-checkbox:last-of-type{margin-left: 8px;}
.checkInline .el-checkbox__label{padding-left: 8px;}
.btn_blue{border-color: #B2D1FF;background-color: #fff;color: #1975FF;}
.btn_repeat{border: 1px solid #B2D1FF;background-color: rgba(25, 117, 255, .1);color: #1975FF;}
.classify .el-scrollbar__wrap{text-align: left !important;}
.classify .el-cascader-node__label{padding-left: 0px;}
.err_tip.changeTip{padding-left: 10px;font-weight: 400;}
.changeWarn{color: #3377FF;font-size: 13px;font-weight: 400;margin-left: 10px;}
.changeWarn s{display: inline-block;width: 16px;height: 16px;background: url(../images/tip_icon.png) no-repeat center/cover;margin-right: 5px;vertical-align: middle;margin-bottom: 2px;}
.err_tip.refuseTip{font-weight: normal;font-size: 14px;margin-right: 2px;padding-left: 10px;color: #FF5338;}
.err_tip.refuseTip span{text-decoration: underline;color: #999999;margin-left: 15px;cursor: pointer;}