
.right_box{display: flex; align-items: flex-start; justify-content: space-between; min-height: calc(100vh - 50px); box-sizing: content-box;}
/* .partMid{ margin: 0 20px; float: left; width: 66.4vw; min-width: 1000px; flex-shrink: 0;} */
.partMid{ margin: 0 20px; float: left; width: 100%; min-width: 1000px;}
.infoCon{background-color: #fff; padding: 0px 20px 20px; border-radius: 10px; margin-bottom: 20px;}
.partRight{width: 380px; margin-right: 20px;float: right; flex-shrink: 0; min-height: calc(100vh - 140px);position: sticky;z-index: 1;}
.busiInfoCon {padding-top: 30px;}
.busiInfoCon .bs_logo{float: left;display: block;}
.el-avatar{background: #fff !important;}
.el-avatar img {width: 100%;}
.busiInfoCon .bs_detail{margin-left: 109px; padding-top: 4px;}
.busiInfoCon .bs_detail h4{font-size: 22px; color: #333; font-weight: bold;}
.busiInfoCon .bs_detail .companyHome{width: 60px;height: 26px;background: #FFFFFF;border: 1px solid #B8C0CC;border-radius: 13px;font-size: 12px;box-sizing: border-box;display: flex;align-items: center;justify-content: center;float: left;margin-top: 10px;margin-right: 20px;}
.busiInfoCon .bs_detail .companyHome s{background: url(../images/company.png) no-repeat;background-size: cover;width: 16px;height: 16px;}
.busiInfoCon .bs_detail .labs{font-size: 12px; color: #515B6E; line-height: 26px; margin-top: 10px; display: block;float: right;}
.busiInfoCon .bs_detail .lab{margin-right: 26px; float: left;}
.busiInfoCon .bs_detail .lab s{display: inline-block; width: 26px; height: 26px; background: url(../images/phone_check.png) no-repeat center/cover; margin-right: 4px; vertical-align: middle; margin-bottom: 4px;}
.busiInfoCon .bs_detail .lab.noCheck s{background-image: url(../images/phone_check1.png);}
.busiInfoCon .bs_detail .lab.certificatCheck s{background-image: url(../images/certification_check.png);}
.busiInfoCon .bs_detail .lab.weChatBind s{background-image: url(../images/wechat_bind.png);}
.busiInfoCon .bs_detail .lab.certificatCheck.noCheck s{background-image: url(../images/certification_check1.png);}
.busiInfoCon .bs_detail .lab.weChatBind.noCheck s{background-image: url(../images/wechat_bind1.png);}
/* .busiInfoCon .bsInfo{display: flex; align-items: center;justify-content: space-between; overflow: hidden;} */
.busiInfoCon .bsInfo{display: flex; align-items: center;justify-content: space-between;}
.busiInfoCon .bs_left{float: left; padding-left: 10px;}
.busiInfoCon .bs_btns{float: right;}
.busiInfoCon .bs_btns a{display: inline-block; border: solid 1px #16C689; height: 28px; border-radius: 16px; min-width: 98px; box-sizing: border-box; padding:0 9px; line-height: 26px; text-align: center; color: #16C689; margin-right: 16px; padding-right: 16px; box-sizing: border-box;}  
.busiInfoCon .bs_btns a s{display: inline-block; width: 16px; height: 16px; background: url(../images/post_icon.png) no-repeat center/cover;  vertical-align: middle; margin-right: 5px; margin-bottom: 2px;}
.busiInfoCon .bs_btns a.app_bth{border-color: #1975FF; color: #1975FF;}
.busiInfoCon .bs_btns a.app_bth s{background-image: url(../images/app_icon.png);}

.todoList {margin-top: 30px; display: flex; align-items: center; justify-content: space-between;}
.todoList .icon{width: 52px; height: 52px; float: left;}
.todoList .icon img{display: block; width: 100%; height: 100%; object-fit: cover;}
.todoList .grid-content {height: 100px; border-radius: 8px; box-sizing: border-box; padding:24px 20px; float: left; width: 22%; margin-right: 12px; box-sizing: border-box; position: relative;}
.todoList .grid-content:last-of-type{margin-right: 0; }
.todoList .grid-content .con{padding-left: 65px;}
.todoList .grid-content h4{font-size: 16px; color:#333; line-height: 1.3em;}
.todoList .grid-content.green{ background: linear-gradient(90deg, #F3FAFA 0%, #F0FCF9 100%);}
.todoList .grid-content.blue{ background: linear-gradient(90deg, #F8F9FD 0% ,#F2F7FF 100%);}
.todoList .grid-content.purple{ background: linear-gradient(90deg,#FBF8FD 0%, #F9F2FF 100%);}
.todoList .grid-content.blue2{ background: linear-gradient(90deg, #F7FCFC 0% ,#F0F8FC 100%); min-width: 360px;flex: 1;}
.todoList .grid-content .msg_tip{font-size: 22px; font-weight: bold; color: #000; line-height: 1.1em; margin-top: 6px;}
.todoList .grid-content .add_post{font-size: 14px; color: #fff; font-weight: bold; width: 104px; height: 40px; border-radius: 20px; background-color: #3377FF; display: flex; align-items: center; justify-content: center; position: absolute; right: 28px; top: 0; bottom: 0; margin: auto; text-align: center;} 
.todoList .grid-content .add_post:hover{background-color: #4089ff;}
.todoList .grid-content .add_post s{display: inline-block; width: 12px; height: 12px; background: url(../images/add_btn.png) no-repeat center/cover;  vertical-align: middle; margin-right: 2px;}


/* 招聘进展 */
.infoCon.postInfoCon {padding-bottom:  1px; box-sizing: border-box; padding-bottom: 20px;}
.infoCon.postInfoCon .rowTit{margin-bottom: 20px;top: 136px;position: sticky;z-index: 1;}
.postInfoCon .title,.personInfoCon .title{font-size: 18px; font-weight: bold; color: #333; padding: 20px 0px 22px;position: sticky;top: 70px;z-index: 1;background-color: white;}
.personInfoCon .title a{float: right; font-size: 13px; color: #999; font-weight: normal; padding-right: 20px;}
.postInfoCon .rowTit{height: 110px; background: #F7F9FC; border-radius: 6px;}
.postInfoCon .rowTit .el-col{text-align: center; height: 100%;}
.postInfoCon .rowTit .el-col .grid-content {height: 100%; position: relative; display: block;}
.postInfoCon .rowTit .el-col .grid-content::after{content: ''; display: block; width: 1px; height: 60px; background-color: #E6EBF2; position: absolute; right: 0; top: 0; bottom: 0; margin: auto;}
.postInfoCon .rowTit .el-col:last-of-type .grid-content::after{display: none;}
.postInfoCon .rowTit .el-col .grid-content p{font-size: 16px; color: #909299; padding-top: 20px;}
.postInfoCon .rowTit .el-col .grid-content h2{font-size: 32px; color: #1975FF; font-family: DINMittelschriftStd;} 
.postInfoCon .rowConList{border-bottom: solid 1px #EBEEF2;}
.postInfoCon .rowCon{border-bottom: solid 1px #EBEEF2; line-height: 60px;}
.postInfoCon .rowCon div:hover a{color: #1975FF !important;}
.postInfoCon .rowCon:hover{background-color: #F7F9FC;}
.postInfoCon .rowCon .grid-tit{color: #3D4566; font-size: 17px; font-weight: bold; padding-left: 26px; cursor: pointer;}
.postInfoCon .rowCon .grid-tit .title_txt{display: inline-block;max-width: calc(100% - 40px); overflow: hidden; text-overflow: ellipsis; white-space: nowrap;  vertical-align: middle; }
.postInfoCon .rowCon .grid-tit .refresh{display: none; width: 60px; height: 24px;  border-radius: 12px; text-align: center; color: #26A5FF; font-size: 14px; font-weight: normal; line-height: 24px; vertical-align: middle; position: absolute; top: 0; bottom: 0; margin: auto; cursor: pointer;}
.postInfoCon .rowCon:hover .grid-tit .refresh{display:inline-block}
.postInfoCon .rowCon .grid-tit .refresh .el-icon-refresh {font-weight: bold;}
.postInfoCon .rowCon .grid-tit:hover  .refresh .el-icon-refresh{animation: rotate 1s 1 ;}
.postInfoCon .rowCon .grid-data{color: #525666; font-size: 16px; text-align: center; display: block; }
.postInfoCon .rowCon:last-of-type{border: none;}


/* 推荐人才 */
.personInfoCon.infoCon {padding-right: 6px;}
.personInfoCon .person{padding: 25px 12px 30px 14px; background: #FFFFFF; border-radius: 10px; float: left; box-sizing: border-box; width: 402px; height: 100px; border: 1px solid #EBEEF2; position: relative; margin-right: 12px; margin-bottom: 12px;}
/* .personInfoCon .person:nth-child(3n){margin-right: 0;} */
.personInfoCon .person .person_photo{width: 46px; height: 46px; float: left; margin-right: 8px;}
.personInfoCon .person .person_info h3{font-size: 15px; color: #212121;}
.personInfoCon .person .person_info .top{height: 18px; color: #FF6A00; background-color: #FFF5F0; border-color: #FF6A00; min-width: 44px; line-height: 16px; padding: 0 4px; box-sizing: border-box; text-align: center; margin-left: 3px;}
.personInfoCon .person .person_info p{color: #666; font-size: 12px; margin-top: 6px;}
.personInfoCon .person .person_info p em{font-size: 11px; color: #E0E0E0; font-weight: 100;}
.personInfoCon .person h4{position: absolute; right: 12px; top: 24px;}
.personInfoCon .person .post_name{font-size: 15px; color: #212121; max-width: 160px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; vertical-align: middle; display: inline-block;}
.personInfoCon .person h4 b{color: #1975FF; font-size: 16px; font-family: DINMittelschriftStd; vertical-align: middle; display: inline-block; margin-left: 3px;}


/* 右侧会员专区 */
.hasBeVip .vipBox{height: 90px; background:  url(../images/vip_bg.png) no-repeat center/cover; border-radius: 10px; box-sizing: border-box; padding: 18px 22px; position: relative; cursor: pointer ; display: block; flex-shrink: 0;}
.hasBeVip .vipBox h3{font-size: 24px; background: linear-gradient(0deg, #FFF8EB 0%, #FEDEBD 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-weight: bold; color: #FEE6CC;}
.hasBeVip .vipBox p{color: #FEE6CC; font-size: 13px; opacity: .5;}
.hasBeVip .vipBox .renew_btn{font-size: 15px; color: #4C4947; font-weight: bold; line-height: 32px; width: 80px; box-sizing: border-box; padding-left: 15px; position: absolute; top: 30px; right: 14px;} 
.joblist .list_title a{color: #5C7099;}
.joblist .list_title a:hover{text-decoration: underline !important;}
.joblist .listCon{display: flex; align-items: center; justify-content: space-around;}
.listBox{background-color: #fff; border-radius: 10px; margin-top: 20px;}
.listBox .list_title{display: flex; align-items: center; justify-content: space-between; padding: 0 14px 0 16px; padding-top: 18px; margin-bottom: 24px;}
.listBox .list_title span{color: #999; color: #999;}
.listBox .list_title h3{font-size: 18px; font-weight: bold; color: #333;}
.listBox .list_title h3 i{color:#575759; margin-right: 4px; display: inline-block; width: 20px; height: 20px; background: url(../images/date_icon.png) no-repeat center/cover; vertical-align: middle; margin-bottom: 2px;}

.listBox {padding-bottom: 1px;}
.newStuffList{flex-shrink: 0;}
.listBox.joblist{position: relative; background:#fff url(../images/bg_1.png) no-repeat top/100% auto; flex-shrink: 0;}
/* .listBox.joblist::before {background: linear-gradient(-90deg, #E8F4FF 0%, #EDEDF5 50%, #FFF4ED 100%); content: ''; display: block; height: 114px; position: absolute; left: 0; top: 0; right: 0; border-radius: 8px 8px 0 0; pointer-events: none;} */
.listBox .interview {padding:0 20px; padding-left: 42px; margin-bottom: 36px;}
.listBox .interview .interview_time{color: #1975FF; font-size: 15px; font-weight: bold; margin-bottom: 8px; position: relative;}
.listBox .interview .interview_time s{display: block; width:16px ; height: 16px; background: url(../images/clock.png) no-repeat center/cover; position: absolute; left: -23px; top: 0; bottom: 0; margin: auto;}
.listBox .interview h3{color: #212121; font-weight: bold; font-size: 15px;  margin-bottom: 8px; }
.listBox .interview p{color: #737780; font-size: 14px; line-height: 26px;}

.listBox .newStuff{padding: 10px 16px; position: relative; flex-shrink: 0;}
.listBox .newStuff .stuff_photo{width: 56px; height: 56px; float: left; margin-right: 14px;}
.listBox .newStuff .stuff_info h5{font-size: 14px; color: #212121; max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.listBox .newStuff .stuff_info p{color: #525866; font-size: 14px; margin-top: 8px;}
.listBox .newStuff .stuff_info p span{color: #8A8F99;}
.listBox .newStuff .more_btn{position: absolute; right: 16px; top: 10px; width: 20px; height: 20px; background: url(../images/more_icon.png) no-repeat center/cover;}

/* 专属客服 */
.kefuInfo{display: flex; align-items: center; justify-content: flex-start; margin: 0 20px;}
.kefuInfo .photo{margin-right: 14px; width: 50px; height: 50px;}
.kefuInfo .nickname{font-size: 16px; color: #4D4D4D;}
.kefuInfo .nickname a{display: inline-block; width: 58px; height: 22px; background: url(../images/qq_icon.png) no-repeat center/cover; vertical-align: middle;}
.kefu_contact {margin: 20px 18px 0; padding-bottom: 10px;}
.kefu_contact p{font-size: 14px; color: #8A8F99; margin-bottom:14px;}
.kefu_contact p.tip_p{color: #1975FF;}
.kefu_contact .qrCode{width: 88px; height: 88px; background-color: #f5f5f5;}
.kefu_contact .qrCode img{display: block; width: 100%; height: 100%; object-fit: cover;}


/* 招聘资源 */
.joblist .listCon {padding-bottom: 18px;}
.joblist .listCon .con{cursor: default;}
.joblist .listCon .con h5{font-size: 14px; color: #3D4566;  text-align: center;}
.joblist .listCon .con h5 b{font-size: 22px; font-weight: normal; font-family: DINMittelschriftStd;}
.joblist .listCon .con p{color: #909299; font-size: 14px; text-align: center;}
.popover_tip .markBox{line-height: 26px;}
.popover_tip .markBox b{color: #3D4566; font-size: 18px;font-family: DINMittelschriftStd; }
.popover_tip {width: 434px; height: 90px; background: #FFFFFF; border: 1px solid #EDEDED; box-shadow: 2px 10px 50px 0px rgba(0,15,77,0.08); border-radius: 8px; padding: 20px 24px; box-sizing: border-box;}


/* 刷新弹窗的样式 */
.refreshTipPop.confirmPop {width: 460px !important; height: 260px !important;}
.refreshTipPop.confirmPop::before{content: ''; display: block; width: 100%; height: 100px; background: linear-gradient(0deg, #FFFFFF 0%, #EDF4FF 100%); border-radius: 16px 16px 0 0; position: absolute; left: 0; top: 0; right: 0;}
.refreshTipPop.confirmPop h3 s{background-image: url(../images/refresh_icon.png);}
.refreshTipPop.confirmPop h3,.refreshTipPop.confirmPop p,.refreshTipPop.confirmPop .btnsGroup  {position: relative;}
.refreshTipPop.confirmPop.pop_error .ptext{color: #999 !important; margin: 0 52px; line-height: 24px; margin-top: 10px;}
.refreshTipPop.confirmPop .el-button--primary{width: 180px;}

/* 成功刷新提示 */
.successTipPop .btn_self{position: relative; margin-right: 20px;}
.successTipPop .btn_self .el-button{width: 180px; height: 42px; background: linear-gradient(90deg, #00195A 0%, #2C3146 100%); border-radius: 6px; color: #fff; font-size: 14px;}
.successTipPop .btn_self span.btn_tip{padding: 0 6px; height: 20px; background: linear-gradient(90deg, #FF6669 0%, #FF5988 100%); border-radius: 10px 10px 10px 2px; color: #fff; font-size: 12px; position: absolute; left: 50px; top: -14px; white-space: nowrap;}



.more_btn {overflow: hidden;}
.more_btn .el-input{opacity: 0; width: 100%; height: 100%; overflow: hidden;}

/* 更新信息的 */
.nocertificate{height: 60px;background: #F2F7FF;border: 1px solid #DEEBFF;border-radius: 8px;box-sizing: border-box;display: flex;align-items: center;color: #4C5059;font-size: 15px;margin-bottom: 20px;}
.refusecertificate{height: 60px;background: #FCF2F2;border: 1px solid #FCDEDE;border-radius: 8px;box-sizing: border-box;display: flex;align-items: center;color: #4C5059;font-size: 15px;margin-bottom: 20px;}
.nocertificate .iconbox,.refusecertificate .iconbox{display: none;}
.certificateimg{width: 20px;height: 20px;object-fit: cover;margin:0px 8px 0px 20px;}
.finishInfoTipBox{height: 80px; background: #F2F7FF; border: 1px solid #DEEBFF; box-shadow: 1px 5px 16px 0px rgba(0,15,77,0.04); border-radius: 8px; padding: 12px 10px; margin-bottom: 20px; box-sizing: border-box; position: relative; cursor: pointer;}
.finishInfoTipBox .certificateimg{display: none;}
.finishInfoTipBox .iconbox{width: 48px; height: 48px; margin-right: 10px; }
.finishInfoTipBox .iconbox img{display: block; width: 100%; height: 100%;}
.finishInfoTipBox h3{font-size: 16px; color: #333; margin-bottom: 4px;}
.finishInfoTipBox h3 span{color: #1975FF;}
.finishInfoTipBox  p{color: #999; font-size: 13px;}
.finishInfoTipBox .goLink{width: 100px; height: 34px; background: #3377FF; border-radius: 17px; display: block; font-size: 14px; color: #fff; text-align: center; line-height: 34px; position: absolute; right: 30px; top: 0; bottom: 0; margin: auto;}
.finishInfoTipBox .goLink:hover{background-color: #4089ff;}
.partRight .hasBeVip{display: flex; justify-content: space-between; flex-direction: column; padding-bottom: 70px;}

.interviewList {height: 100%;}
.interviewList .noData{height: 430px; box-sizing: border-box; padding-top: 120px; }
.interviewList .noData img{display: block; width: 114px; margin: auto;}
.interviewList .noData p{color: #919499; font-size: 14px; margin-top: 20px; text-align: center;}

@media only screen and (min-width: 992px){

    .el-col-md-4 {
        width: 12.5%;
    }

    .el-col-md-6{
        width: 25% !important;
    }
}

@keyframes rotate_{
	0%{ transform: rotate(0deg);}
	50%{ transform: rotate(180deg);}
	100%{ transform: rotate(360deg);}
}

.lodingSelf{width: 100px; height: 94px; display: flex; align-items: center; justify-content: center; border-radius: 10px; position: fixed; left: 0; top: 0; bottom: 0; right: 0; margin: auto; font-size: 30px; background-color: rgba(0,0,0,.5); color: #fff; z-index: 99;}

.failRefresh_tip{color: #666; font-size: 14px;}
.failRefresh_tip em{color: #FF4F38;}
.foot{position: absolute; left: 0; right: 0;}
.partMid .content{min-height: calc(100vh - 180px);}


/* app端弹出层 */
.busiInfoCon .bs_btns a.app_bth{position: relative; z-index: 9;}
.busiInfoCon .bs_btns a.app_bth:hover .popver_app{display: block;}
.popver_app::before{content: ''; display: block; width: 20px; height: 10px; background: url(../images/arr_white_1.png) no-repeat center/cover; position: absolute; left: 66px; top: -10px;}
.popver_app::after{content: ''; display: block; height: 10px; position: absolute; left: 0; top: -10px; right: 0;}
.popver_app{width: 340px; min-height: 230px; background: #FFFFFF; border: 1px solid #EDEDED; box-shadow: 1px 8px 40px 0px rgba(0,15,77,0.08); border-radius: 8px; position: absolute; left: -24px; top:38px; color: #333; box-sizing: border-box; padding-top: 20px; padding-bottom: 20px; display: none; animation: topFadeIn .3s;} 
.popver_app h4{font-size: 14px; color: #333; display: flex; align-items: center; justify-content: center;}
.popver_app h4::before,.popver_app h4::after{content: ''; display: block; width: 60px; height: 1px; background-color: #EDEDED; margin: 0 10px;}
.popver_app .qrCode{width: 120px; height: 120px; background-color: #fff; padding: 4px; margin: 10px auto 0;}
.popver_app .qrCode img{display: block; width: 100%; height: 100%; object-fit: cover;}
.popver_app h4 span{color: #1975FF;}
.popver_app p{color: #666; font-size: 12px; text-align: center; margin-top: 12px;}
/* 招聘海报 */ 
.poster{position: fixed;top: 0px;left: 0px;right: 0px;bottom: 0px;background-color: rgba(0,0,0,.5);z-index: 1003;display: none;align-items: center;justify-content: center;}
.p-produce{width: 990px;height: 620px;padding: 24px 0px 30px 30px;border-radius: 16px;background: linear-gradient(to bottom, #EDF4FF 0%, #FFFFFF 30%);position: absolute;box-sizing: border-box;display: flex;flex-direction: column;padding-right: 6px;animation: topFadeIn .3s;}
.p-produce::after{content: '';width: 100%;height: 30px;background: linear-gradient(to top,white 0%,rgba(255,255,255,0) 100%);position: absolute;bottom: 28px;left: 0px;}
.pp-close{position: absolute;right: 18px;top: 16px;cursor: pointer;object-fit: cover;width: 30px;height: 30px;z-index: 1;}
.pp-close:hover{opacity: .7;}
.pp-title{font-size: 20px;font-weight: bold;color: #222222;margin-bottom: 10px;}
.pp-steps{overflow-y: auto;}
.pp-steps::-webkit-scrollbar{width: 6px;cursor: pointer;}
.pp-steps::-webkit-scrollbar-thumb{background: #E7E7E7;border-radius: 3px;}
.pp-steps::-webkit-scrollbar-thumb:hover{background:#cccccc;}
.pp-steps::-webkit-scrollbar-thumb:active{background: #b2b2b2;}
.pp-steps .step1{margin-bottom: 18px;}
.pp-steps .step1 .title,.pp-steps .step2 .title{font-size: 14px;color: #666666;margin-bottom: 10px;}
.pp-steps .step1 ul{display: flex;flex-wrap: wrap;}
.pp-steps .step1 ul{overflow: hidden;}
.pp-steps .step1 ul li{border: 1px solid #EDEDED;border-radius: 6px;display: flex;align-items: center;height: 38px;padding: 0px 20px 0px 10px;box-sizing: border-box;margin-right: 10px;margin-bottom: 12px;cursor: pointer;}
.pp-steps .step1 ul li:hover{border-color: #b3b3b3;}
.pp-steps .step1 ul li .select{width: 14px;height: 14px;background: #FFFFFF;border: 1px solid #DFE3EB;border-radius: 50%;box-sizing: border-box;margin-right: 6px;}
.pp-steps .step1 ul li span{color: #666666;font-size: 14px;margin-right: 30px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 300px;}
.pp-steps .step1 ul li div{color: #999999;font-size: 13px;}
.pp-steps .step1 ul .active{border: 1px solid #99BBFF;background-color: #F5F9FF;}
.pp-steps .step1 ul .active:hover{border-color: #99BBFF;}
.pp-steps .step1 ul .active span{color: #212121;}
.pp-steps .step1 ul .active .select{background: url(../images/confirmW.png) no-repeat center/cover #2278FF;border-color: #2278FF;}
.pp-steps .step1 ul .unfold,.pp-steps .step1 ul .fold{border-color: #EDEDED;background-color: #F5F7FA;color: #999999;font-size: 14px;margin: 0px;align-items: center;justify-content: center;padding: 0px 8px 0px 14px;display: none;}
.pp-steps .step1 ul .unfold::after{content: '';width: 16px;height: 16px;background: url(../images/posterd.png) no-repeat center/cover;}
.pp-steps .step1 ul .fold::after{content: '';width: 16px;height: 16px;background: url(../images/posterd.png) no-repeat center/cover;transform: rotateZ(180deg);}
.pp-steps .step2{display: none;}
.pp-steps .step2 ul{display: flex;flex-wrap: wrap;}
.pp-steps .step2 ul li{width: 160px;height: 350px;margin-right: 20px;margin-bottom: 20px;position: relative;animation: leftFadeIn .3s;}
.pp-steps .step2 img{object-fit: cover;width: 100%;height: 100%;border-radius: 4px;}
.pp-steps .step2 ul li:hover .btn{display: block;}
.pp-steps .step2 ul li .btn{position: absolute;bottom: 0px;left: 0px;height: 100%;width: 100%;background: linear-gradient(to top, rgba(0,0,0,.6) 0%,rgba(0,0,0,0) 35%);border-radius: 4px;display: none;cursor: pointer;}
.pp-steps .step2 ul li .btn div{width: 120px;height: 36px;background: #3F7EFC;border-radius: 6px;line-height: 36px;text-align: center;font-size: 14px;color: white;position: absolute;bottom: 18px;left: calc(50% - 60px);cursor: pointer;animation: bottomFadeIn .3s;}
.pp-steps .step2 ul li .btn div:hover{background-color: #4089ff;}
.p-save{position: fixed;top: 0;left: 0;right: 0;bottom: 0;background-color: rgba(0,0,0,.2);z-index: 1110;display: none;}
.pp-poster{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
.pp-loading{width: 340px;height: 640px;background: #F5F7FA;box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.4);border-radius: 6px;display: flex;align-items: center;justify-content: center;flex-direction: column;}
.pp-loading img{width: 68px;height: 57px;object-fit: cover;border-radius: 16px;margin-bottom: 16px;}
.pp-loading p{font-size: 14px;color: #999999;text-align: center;}
.pp-poster a{width: 120px;height: 38px;background: #3F7EFC;border-radius: 6px;text-align: center;line-height: 38px;color: white;font-size: 14px;margin: auto;cursor: pointer;display: block;margin-top: 15px;animation: topFadeIn .2s;}
.pp-show{max-height: 640px;overflow-y: overlay;display: none;border-radius: 6px;box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.4);}
.pp-show::-webkit-scrollbar{width: 6px;position: absolute;right: 0px;}
.pp-show::-webkit-scrollbar-thumb{width: 6px;background: rgba(231,231,231,.5);border-radius: 3px;opacity: .7;}
.ppp-showimg{width: 340px;object-fit: cover;border-radius: 6px;display: block;}
.pp-drag{position: absolute;top: 0px;width: 100%;height: 64px;left: 0px;cursor: all-scroll;}
.p-warning{background-color: rgba(51, 51, 51, .9);border-radius: 10px;position: fixed;top: 43%;left: 50%;transform: translate(-50%,-50%);color: white;font-size: 14px;display: none;padding: 26px 40px;}
.pp-nopost{display: none;flex-direction: column;justify-content: center;align-items: center;flex: 1;}
.pp-nopost img{width: 220px;object-fit: cover;}
.pp-nopost a{border-radius: 20px;background-color: #3377FF;height: 40px;width: 200px;color: white !important;text-align: center;line-height: 40px;font-size: 16px;display: block;}
.pp-nopost a:hover{background-color: #4089ff;}
.pp-nopost p{color: #909399;font-size: 14px;margin-bottom: 20px;}
@keyframes bottomFadeOut{
	0%{opacity:1;	transform:translateY(0px);}
	100%{opacity:0; transform:translateY(-20px);}
}