#page{min-width: 1500px;}
.right_box{min-width:1300px;}
.rConBox>h3{border: none;}
.mealTip{margin: 0 20px; height: 60px; background: #F5FAFF; border-radius: 6px; font-size: 14px; line-height: 60px; padding-left: 12px; padding-right: 20px;}
.mealTip s{display: inline-block; width: 16px; height: 16px; background: url(../images/tip_icon.png) no-repeat center/cover; vertical-align: middle; margin-bottom: 2px; margin-right: 6px;}
.mealTip .text_tip{font-size: 14px; color: #3377FF;}
.mealTip .kefu{color: #666;}
.mealTip .kefu span{color: #3377FF;}
.mealTab.mealTip{background: none;}

.mealTab .tabBox {position: relative;}
.mealTab .tabBox li{font-size:15px; color: #6C7180; float: left; margin-right: 60px; cursor: pointer;}
.mealTab .tabBox li:hover{color: #333;}
.mealTab .tabBox .active{color: #333;}
.mealTab .tabBox em.line{display: block; width: 30px; height: 5px; border-radius: 3px; background-color: #2278FF; position: absolute; bottom: 0; transform: translateX(0); transition: .3s transform;}

.conBox_inner{margin: 20px 20px 0;}
.busiInfoBox{width: 26%; min-width: 434px; height: 184px; background: linear-gradient(0deg, #FFFFFF 0%, #FFFFFF 100%); box-shadow: 0px 1px 12px 0px rgba(0,17,51,0.05); border-radius: 8px; flex-shrink: 0; margin-right: 18px;}
.busiInfoBox.vipBusiInfoBox{ background: linear-gradient(-90deg, #F0F8FF 0%, #FFF7F2 100%);}
.busiInfoBox .busiInfo{padding: 30px 30px 0;}
.busiInfoBox .busiLogo{width: 56px;height: 56px; border-radius: 50%; border: 4px solid #D9D8D6; box-sizing: border-box; position: relative; margin-right: 14px;}
.busiInfoBox.vipBusiInfoBox .busiLogo{border-color: #EFCEAD;}
.busiInfoBox .busiLogo .b_meal {white-space: nowrap; left: 50%; transform: translateX(-50%); position: absolute; bottom: -8px; }
.busiInfoBox .busiLogo .level_icon{width: 20px; height: 20px; position: absolute; right: -3px; bottom: -1px;}
.busiInfoBox .busiLogo .b_meal s{display: inline-block; width: 20px; height: 20px; margin-right: -15px; vertical-align: middle; position: relative;}
.busiInfoBox .busiLogo .b_meal img,.busiInfoBox .busiLogo .level_icon img{display: block; width: 100%; height: 100%; object-fit: cover; vertical-align: middle;}
.busiInfoBox .busiLogo .b_meal span{display: inline-block ; padding-left: 14px; padding-right: 8px; line-height: 18px; color: #5F5C5A; background: linear-gradient(90deg, #DAD8D6 0%, #DAD8D6 100%);white-space: nowrap; border-radius: 9px; vertical-align: middle;}
.busiInfoBox .busiInfo .busiDetail{padding-top: 6px;}
.busiInfoBox .busiInfo .busiDetail h4{font-size: 15px; color: #101111; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.busiInfoBox .busiInfo .busiDetail p{font-size: 12px; color: #DB9D60; margin-top: 4px;}
.busiInfoBox .busiInfo .busiDetail .vipInfoBox{width: 269px; height: 30px;   background: linear-gradient(-90deg, #E8F4FF, #FFF1E8); border-radius: 14px; padding: 2px; box-sizing: border-box; margin-top: 4px;cursor: pointer;}
.busiInfoBox .busiInfo .busiDetail .vipInfoBox:hover{background: linear-gradient(-90deg, #d4ebff, #ffe6d6);}
.busiInfoBox .busiInfo .busiDetail .vipInfo{height: 26px; background: #FFFFFF; border-radius: 13px; box-sizing: border-box; padding-left: 10px; line-height: 24px;}
.busiInfoBox .busiInfo .busiDetail .vipInfo .fn-left{font-size: 12px; color: #AAABB3;}
.busiInfoBox .busiInfo .busiDetail .vipInfo .fn-left em{color: #737580;}
.busiInfoBox .busiInfo .busiDetail .vipInfo .keepVip{color: #C4916C; font-size: 12px; padding: 0 12px; padding-right: 20px; position: relative;} 
.busiInfoBox .busiInfo .busiDetail .vipInfo .keepVip::before{content: ''; display: block; width: 1px; height: 10px; background: #F0E5DE; position: absolute; left: 0; top: 0; bottom: 0; margin: auto;}
.busiInfoBox .job_count{margin: 26px 18px 0;}
.busiInfoBox .job_count .count{font-size: 20px; color: #3D4566; font-family: DINMittelschriftStd;  text-align: center;}
.busiInfoBox .job_count p{color: #9DA3B0; font-size: 12px; text-align: center;}

.flexBox{display: flex; align-items: center; justify-content: space-between;}
.conBox_inner .mealAdvBox{height: 184px; background: linear-gradient(90deg, #E7F4FF 0%, #3377FF 100%); border-radius: 8px; float: right; position: relative; max-width: calc(100% - 434px); width: calc(74% - 18px);}
.conBox_inner .mealAdvBox img{display: block; width: 100%; height: 100%; border-radius: 8px; object-fit: cover;}
.conBox_inner .mealAdvBox .text_show{position: absolute; left: 108px; top: 42px;}
.conBox_inner .mealAdvBox .text_show h2{font-size: 46px; color: #2663FF; font-weight: bold; line-height: 47px; margin-bottom: 8px;}
.conBox_inner .mealAdvBox .text_show p{color: #687CAD; font-size: 18px;}

.mealBox{ border: 1px solid #FBF2E3; background: linear-gradient(0deg, #FFFBF3 0%, #FFF 100%); border-radius: 8px; margin: 20px 20px 0; padding: 20px 0; transition: bakground .3s; box-sizing: border-box;} 


.greyConBox.mealBox{border: 1px solid #F0F4FC; background: linear-gradient(180deg, #FFFFFF 0%, #F5F8FF 100%);}
.mealBox .tabBox{margin: 0 20px;}
.mealBox .tabBox .tab {float: left; width: 50%; }
.mealBox .tabBox .tab .tab_btn{margin: 0 9px; height: 60px; background: #FFF6E6; border-radius: 10px; color: #4D4A45; font-weight: bold; text-align: center; line-height: 60px; font-size: 20px; cursor: pointer;}
.mealBox .tabBox.greyTab .tab .tab_btn{background-color: #EDEEF2;}
.mealBox .tabBox.greyTab .tab .tab_btn.on_tab{ background: linear-gradient(90deg, #2C4278 0%, #8D94B5 100%); color: #fff;}
.mealBox .tabBox.greyTab .tab .tab_btn.on_tab s{ border-top:solid 12px #5D6B97;}
.mealBox .tabBox .tab .tab_btn.on_tab{background: linear-gradient(90deg, #EBBD6F 0%, #F5DDB4 100%);color: #333; position: relative;}
.mealBox .tabBox .tab .tab_btn.on_tab s{display: block; width: 0; height: 0; border: solid 12px rgba(255,255,255,0); border-top:solid 12px #F0CD92; left: 0; right: 0; margin: auto; margin-top: -4px;}
/* 套餐 */
.tabConBox {margin-top: 20px;}
.tabConBox .swiper-container{padding: 20px 40px 30px 0px;}
.tabConBox .swiper-wrapper{margin-left: 20px; height: 460px;}
.tabConBox .tabCon{position: relative;}
.tabConBox .meal{width: 290px; min-height: 440px; background: #FFF url(../images/meal_bg.png) no-repeat right bottom/132px auto; box-shadow: 0px 1px 40px 0px rgba(126,89,29,0.09); border-radius: 10px;}
.tabConBox .meal .meal_info{margin: 0 28px; border-bottom: solid 1px #eee; height: 176px; box-sizing: border-box; padding-top: 32px;}
.tabConBox .meal .meal_info>h1{font-size: 24px; color: #333; font-weight: bold;overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;}
.tabConBox .meal .meal_info>p{color: #98A0B3; font-size: 15px; margin-top: 4px;}
.tabConBox .meal .meal_info .meal_price{margin-top: 20px;}
.tabConBox .meal .meal_info .meal_price span{color: #FF5039; font-size: 22px; font-weight: bold;} 
.tabConBox .meal .meal_info .meal_price span b{font-size: 28px;}
.tabConBox .meal .meal_info .meal_price p{color: #9FA4B0; font-size: 12px; padding-top: 14px;}
.tabConBox .meal .meal_info .meal_price p s{display: inline-block; width: 12px; height: 12px; background: url(../images/icon_shou.png) no-repeat center/cover; vertical-align: middle;  margin-right: 2px;}
.tabConBox .prev,.tabConBox .next{width: 48px; height: 48px; background: url(../images/prev_icon.png) no-repeat center/cover;  position: absolute; left: -8px; top: 0; bottom: 0; margin: auto; z-index: 9; cursor: pointer;}
.tabConBox .next{background-image: url(../images/next_icon.png); left: auto; right: -8px;}
.tabConBox .meal .meal_right{font-size: 13px; color: #737780; line-height: 36px; margin: 0 28px; padding-top: 20px;}
.tabConBox .meal .meal_right ul li b{color: #FF5039; font-weight: bold;}
.tabConBox .meal .btn_box{text-align: center;}
.tabConBox .meal .btn_box .buyMeal{width: 170px; height: 40px; background: #3377FF; box-shadow: 0px 5px 8px 0px rgba(51,119,255,0.2); border-radius: 20px; margin: auto; font-weight: bold; margin-top: 30px; position: absolute; left: 0; right: 0; bottom: 30px;}
.tabConBox .meal .btn_box .buyMeal.changeMeal{background-color: #EAF1FF; color: #1975FF; border-color: #EAF1FF ; box-shadow: none;}
.tabConBox .meal .btn_box .buyMeal.infinity{cursor: default;}
.tabConBox .meal .right_top{right: 0; top: 0;  width: 66px; height: 60px; overflow: hidden; position: absolute;}
/*  position: absolute; right: -44px; top: 9px;  */
.tabConBox .meal .chosedLab{font-size: 12px; color: #2278FF; background-color: #E8F1FF; text-align: center; width: 150px; line-height: 26px;transform:rotate(39deg) translate(-20px, 26px);} 
.tabConBox .currTip{font-size: 14px; color: #9FA4B0; line-height: 40px; margin: 0 20px; padding-top: 0; margin-top: -10px;}
.rConBox{padding-bottom: 20px;}

.mostPop{height: 30px; background: linear-gradient(90deg, #F2BD61 0%, #FFE8C1 45%, #EBB352 100%); border-radius: 15px 15px 15px 0px; padding: 0 14px; color: #7C4D20; font-weight: bold; position: absolute; left: 0; top: -14px; line-height: 30px;}


/* 增值套餐 */
.addPackage {margin: 0 30px; padding-top: 20px;}
.addPackage .text_con .add_tit {font-size: 14px; color: #333; line-height: 30px;}
.addPackage .text_con .add_text{ margin-left: 76px; color: #9FA4B0; font-size: 13px; line-height: 30px;margin-top: 10px;}
.addPackage .addCon .leftCon li{width: 220px; height: 62px; background: #FFF; border-radius: 6px; margin-bottom: 12px; display: flex; align-items: center; justify-content: flex-start; padding-left: 35px; box-sizing: border-box; cursor: pointer;transition: all .2s;}
.addPackage .addCon .leftCon li:hover{box-shadow: 0px 1px 40px 0px rgba(29, 61, 125, 0.05)}
.addPackage .addCon .leftCon li h4{font-size: 14px; font-weight: bold; }
.addPackage .addCon .leftCon li p{font-size: 12px; color: #B0B4BF;}
.addPackage .addCon .leftCon li .icon{width: 26px; height: 26px; background: url(../images/zz_bg2.png) no-repeat center/cover; border-radius: 10px; margin-right: 20px; display: flex; align-items: center; justify-content: center;}
.addPackage .addCon .leftCon li .icon img{display: block; width: 20px; height: 20px; object-fit: cover;}
.addPackage .addCon .leftCon li.on_tab h4,.addPackage .addCon .leftCon li.on_tab p{color: #fff;}
.addPackage .addCon .leftCon li.on_tab{ background: linear-gradient(90deg, #83C6FF 0%, #5392FF 100%);}
.addPackage .addCon .leftCon li.on_tab .icon{background-image: url(../images/zz_bg1.png);}

.rightCon{margin-left: 240px; min-height: 358px; background-color: #fff; box-shadow: 0px 1px 40px 0px rgba(29,61,125,0.08); border-radius: 10px;}
.rightCon.bg_grey{min-height: 364px; background: #F5F7FC; border: 1px solid #FFFFFF; box-shadow: 0px 1px 40px 0px rgba(29,61,125,0.08); border-radius: 10px; padding-top: 10px; box-sizing: border-box; height: auto; padding-bottom: 10px;}
.rightCon.bg_grey .addValList{margin: 0 10px;}
.rightCon.bg_grey .addValList li{height: 108px; background: #FFFFFF; border-radius: 8px; margin-bottom: 10px; position: relative; overflow: hidden;}
.rightCon.bg_grey .addValList li .addValInfo{width: 220px; text-align: center; padding-top: 26px; height: 100%; box-sizing: border-box; position: relative;}
.rightCon.bg_grey .addValList li .addValInfo::after{content: ''; display: block; width: 1px; height: 70px; background: linear-gradient(0deg, #FFFFFF 0%, #000000 47%, #FFFFFF 100%); opacity: 0.08; position: absolute; right: 0; top: 0; bottom: 0; margin: auto;}
.rightCon.bg_grey .addValList li h3{font-size: 18px; color: #333; font-weight: bold;}
.rightCon.bg_grey .addValList li .price span{color: #FF5039; font-size: 18px; font-weight: bold;}
.rightCon.bg_grey .addValList li .price span b{font-size: 24px;}
.rightCon.bg_grey .addValList li .price s{font-size: 13px; color: #A9A9A9;}
.rightCon.bg_grey .addValList li .addValCon{padding-left: 43px; font-size: 14px; color: #7C808A; height: 100%; display: flex; align-items: center; flex-wrap: wrap; max-width: 40%;}
.rightCon.bg_grey .addValList li .addValCon span{margin-right: 26px;}
.rightCon.bg_grey .addValList li .addValCon em{color: #FF5039;}
.rightCon.bg_grey .addValList li .btnbox .hasCount{ font-size: 12px; color: #9FA4B0; margin-right: 26px;}
.rightCon.bg_grey .addValList li .btnbox .hasCount s{display: inline-block; width: 12px; height: 12px; background: url(../images/icon_shou.png) no-repeat center/cover; vertical-align: middle; margin-right: 2px;}
.rightCon.bg_grey .addValList li .btnbox .el-button{width: 152px; background-color: #3377FF; font-weight: bold;}
.rightCon.bg_grey .addValList li .btnbox {padding-top: 34px; margin-right: 26px; position: absolute; top: 0; right: 0;}
.rightCon.bg_grey .addValList li:last-of-type{margin-bottom: 0;}
.rightCon.bg_grey .addValList li .recTab{width: 150px; line-height: 34px; color: #fff; background: linear-gradient(90deg, #EBAE46 0%, #F5C87A 100%); font-size: 18px; font-weight: bold; text-align: center; position: absolute; left: -48px; top:10px; transform: rotate(-40deg); }

.rightCon .addValList.padd{box-sizing: border-box; padding: 20px;}
.rightCon .addValList.padd li{width: 200px; height: 118px; background: #FFFFFF; border: 1px solid #EEEEEE; border-radius: 8px; position: relative; margin-right: 10px; margin-bottom: 10px; cursor: pointer; float: left; box-sizing: border-box; padding-top: 1.5px;}
.rightCon .addValList.padd li .borderBox {width: 196px; height: 92px; background: #FFFFFF; border-radius: 6px; box-sizing: border-box; padding-left: 15px; padding-top: 16px; margin: auto;}
.rightCon .addValList.padd li.noBottom .borderBox{height: 112px;}
.rightCon .addValList.padd li .borderBox p{font-size: 15px; color: #333; }
.rightCon .addValList.padd li .borderBox span{color: #FF5039; font-size: 15px; font-weight: bold;}
.rightCon .addValList.padd li .borderBox span b{font-size: 24px;}
.rightCon .addValList.padd li .borderBox s{font-size: 13px; color: #A9A9A9;}
.rightCon .addValList.padd li .tip{position: absolute; left: 0; bottom: 0; right: 0; background-color: #E0EDFF; color: #7693CF; font-size: 12px; line-height: 24px; height: 24px; text-align: center; border-radius: 0 0 8px 8px;}
.rightCon .addValList.padd li.on_chose,.rightCon .addValList.padd li:hover{ background: linear-gradient(120deg, #83C6FF 0%, #5392FF 100%); border-color: #83C6FF; }
.rightCon .addValList.padd li.on_chose .tip,.rightCon .addValList.padd li:hover  .tip{background: none; color: #fff;}
.rightCon .addValList.padd ul{overflow: hidden;}
.rightCon .addValList.padd .countBox {margin-top: 60px;}
.rightCon .addValList.padd .countBox .el-button{width: 172px; background-color: #3377FF; font-weight: bold;margin-top: 24px;}
.rightCon .addValList.padd .countBox p span{color: #FF5039; font-size: 15px; font-weight: bold;}
.rightCon .addValList.padd .countBox  p span b{font-size: 24px;}
.rightCon .addValList.padd .countBox p {color: #666; font-size: 12px;}

.mealChangePop.confirmPop  {width: 480px !important; padding-bottom: 34px !important;}
.mealChangePop h3 b{color: #1975FF;}
.mealChangePop .ptext ul{ margin-left: 60px; font-size: 14px; color: #999; text-align: left; line-height: 26px;}
.mealChangePop .ptext ul li em{color: #333;}
.mealChangePop .ptext ul s{display: inline-block; width: 4px; height: 4px; background-color: #7FB2FF; border-radius: 2px; vertical-align: middle; margin-right: 6px;}
.mealChangePop.confirmPop .btnsGroup{margin-top: 20px;}
.mealChangePop .btnsGroup .el-button.el-button--primary{width: 190px;}
.mealChangePop .btnsGroup .cancel_btn.el-button.el-button--primary{background-color: #F2F2F2; color: #666; width: 130px; border: #F2F2F2 1px solid; }
.mealChangePop .btnsGroup .cancel_btn.el-button.el-button--primary:hover{background-color: #ebebeb;}



/* 刷新置顶 */
.freshtopBox{margin: 20px 24px 0;}
.freshtopBox .freshtop_count .ft_con_box{width: 40%; box-sizing: border-box;}
.freshtopBox .freshtop_count .ft_con_box.fn-left{padding-right: 9px;}
.freshtopBox .freshtop_count .ft_con_box.fn-right{padding-left: 9px; width: 60%;}
.freshtopBox .freshtop_count .ft_con{height: 124px; background-color: #FFF7F5; box-sizing: border-box; padding: 0 40px; display: flex; align-items: center; justify-content: space-between;}
.freshtopBox .freshtop_count .ft_con .left_count s.icon{display: block; width: 46px; height: 46px; border-radius: 50%; background: url(../images/icon_count1.png) no-repeat center/30px; background-color: #FFA759; margin-top: 8px;}
.freshtopBox .freshtop_count .ft_con .ft_count{margin-left: 67px;}
.freshtopBox .freshtop_count .ft_con .ft_count h5{font-size: 14px; color: #666;}
.freshtopBox .freshtop_count .ft_con .ft_count p{font-size: 14px; color: #333;}
.freshtopBox .freshtop_count .ft_con .ft_count p b{font-size: 30px; font-weight: bold;}
.freshtopBox .freshtop_count .ft_con .ft_count p span{vertical-align: middle;}
.freshtopBox .freshtop_count .ft_con .ft_count p span.orange{color: #FF8218; }
.freshtopBox .freshtop_count .ft_con .ft_count p span.add{font-size: 20px;}
.freshtopBox .freshtop_count .ft_con .el-button{background-color: #FF8218; color: #fff; font-weight: bold; width: 122px; height: 44px; border: solid 1px #FF8218; font-size: 15px; box-sizing: border-box;}
.freshtopBox .freshtop_count .ft_con .el-button.buy_btn{background-color: #fff; color: #FF8218;}

/* 置顶/刷新的职位 */
.ftPostList_box {margin-top: 26px; min-height: 100px;}
.ftPostList_box .post{height: 100px; border: 1px solid #EBF1FA; margin-bottom: 12px; background: linear-gradient(0deg, #F5F9FF 0%, #FBFDFF 100%); border-radius: 8px; box-sizing: border-box; padding: 0 20px;}
.ftPostList_box .post .post_info{padding-top: 20px;}
.ftPostList_box .post .post_info h3{font-size: 16px; color: #3E4559; font-weight: bold;}
.ftPostList_box .post .post_info h3>span{max-width: 600px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: inline-block; vertical-align: middle;}
.ftPostList_box .post .post_info h3 .el-tag{font-weight: normal; color: #FF8218; font-size: 12px; background-color: #fff; border-color: #FF8218; box-sizing: border-box; vertical-align: middle;}
.ftPostList_box .post .post_info p{color: #969DB3; font-size: 14px; margin-top: 8px;}
.ftPostList_box .post .post_info p s{font-style: normal; color: #6C7180; text-decoration: none;}
.ftPostList_box .post .post_info p em{font-size:12px; color:#DADDE6; margin:  0 20px;}
.ftPostList_box .post .opt_count{display: inline-block; font-size: 14px; color: #8D93A6; margin-right: 80px;}
.ftPostList_box .post .opt_count span{vertical-align: middle;}
.ftPostList_box .post .opt_count s{color: #2278FF; text-decoration: none;}
.ftPostList_box .post .opt_count.refresh_opt s{color: #6C7180; text-decoration: none;}
.ftPostList_box .post .opt_count em{font-size: 12px; color: #DADDE6; margin: 0 10px; vertical-align: middle;}
.ftPostList_box .post .opt_count.refresh_opt em{ margin: 0 20px; vertical-align: middle;}
.ftPostList_box .post  .post_opt{padding-top: 30px;}
.ftPostList_box .post  .post_opt .el-button{width: 116px; height: 38px; box-sizing: border-box; border-radius: 6px;}

.freshtopRecordBox{margin-top: 40px;}
.freshtopRecordBox h1{font-size: 16px; color: #1975FF; border-bottom: solid 1px #eee; }
.freshtopRecordBox h1 span{display: inline-block; border-bottom: solid 4px #2278FF; padding-bottom: 12px;}
.freshtopRecordBox .shaiBox{padding-top: 26px;}
.freshtopRecordBox .shaiBox .el-select{width: 130px; vertical-align: middle;}
.freshtopRecordBox .shaiBox .el-date-editor{width: 260px; vertical-align: middle;}
.freshtopRecordBox .tabType{display: inline-block; margin-left: 20px; vertical-align: middle;}
.freshtopRecordBox .tabType span{display: inline-block; line-height: 34px; padding: 0 16px; background: #F9FAFC; font-size: 14px; color: #666; vertical-align: middle; cursor: pointer;}
.freshtopRecordBox .tabType span:hover,.freshtopRecordBox .tabType span.onTab{background-color: #F2F7FF; color: #1975FF;}
.freshtopRecordBox .tabType  em{display: inline-block; vertical-align: middle; width: 2px; height: 12px; background: #F0F2F7; margin: 0 6px;}

.tableBox{margin-top: 24px;}
.tableBox .el-table--border td, .tableBox .el-table--border th,.tableBox  .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed{border-right:none ;}
.tableBox .el-table .el-table__header tr,.tableBox .el-table .el-table__header th{background-color: #F9FAFC !important;}
.tableBox .el-table td,.tableBox  .el-table th.is-leaf{border-color: #EDF3FD !important;}
.tableBox .el-table td, .tableBox .el-table  .el-table__header th{height: 44px; padding: 0; line-height: 44px; box-sizing: border-box;}
.tableBox .el-table .cell h3{font-size: 14px; color: #3E4559;}
.tableBox .el-table .cell h3 em{color: #8A8D99;}
.tableBox .el-table .cell {color: #828799; font-size: 14px;}
.tableBox .el-table .cell p.blue{color: #1975FF;}

.freshtopBox .freshtop_count .ft_con .ft_count p .tip_icon{display: inline-block; width: 16px; height: 16px; background: url(../images/tip_icon1.png) no-repeat center/cover;}

/* 修改日期选择的样式 */
/* .shaiBox .el-date-editor .el-input__icon{display: none;} */
/* .shaiBox .el-date-editor::after{content: ""; color: #999; display: ;} */
.shaiBox .el-date-editor .el-icon-date{color: #999;}

.pageBox{float: right; margin-top: 30px;}
.pageBox .el-pagination{font-weight: normal;}
.pageBox .el-pagination .el-pager li{background: none; border: solid 1px #DCDAD9; min-width: 26px; color: #666;}
.pageBox .el-pagination .el-pager li:not(.disabled).active{border: none; background-color: #347CFF; color: #fff;}
.pageBox .el-pagination  .btn-prev:not(.disabled),.pageBox .el-pagination  .btn-next:not(.disabled){padding: 0 12px; border: solid 1px #DCDAD9; background:none; color: #666;}
.el-popconfirm .el-popconfirm__main{margin: 12px 0 !important;}
.el-pagination.is-background .btn-next.disabled, .el-pagination.is-background .btn-next:disabled, .el-pagination.is-background .btn-prev.disabled, .el-pagination.is-background .btn-prev:disabled, .el-pagination.is-background .el-pager li.disable{color: #C0C4CC !important;}
.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li{height: 30px; line-height: 28px;}


.confirmPop .btnsGroup.btnsGroup_3 .el-button.btn_sm{width: 110px;}
.confirmPop .btnsGroup.btnsGroup_3 .el-button.btn_mid{width: 130px;}
.prev.swiper-button-disabled,.next.swiper-button-disabled{opacity: 0.6;}