.shaiBox{margin: 0 26px; padding-top: 24px; padding-bottom: 12px; border-bottom: solid 1px #F2F2F2;}
.shaiBox .shai_item label{font-size: 14px; color: #666; line-height: 36px;}
.shaiBox .shai_item .chose_box{margin-left: 45px;}
.shaiBox .shai_item .chose_box .tagBox{min-width: 540px; width: 50%; overflow: hidden;}
.shaiBox .shai_item .chose_box .tag,.myPostList .tag{font-size: 13px; color: #333; height: 36px; line-height: 34px; border-color: #eee; background: none; cursor: pointer; margin-right: 8px; margin-bottom: 9px;}
.shaiBox .shai_item .chose_box .tag.on_chose,.shaiBox .shai_item .chose_box .tag:hover,.myPostList .tag.on_chose,.myPostList .tag:hover{background-color: #F2F7FF; border-color: #66A3FF; color: #1975FF;}
.shaiBox .shai_item .chose_box .chose_btn{width: 300px; height: 38px; background: #FAFAFA; border: 1px solid #EEE; border-radius: 4px; font-size: 13px; color: #666; margin-bottom: 10px;}
.shaiBox .shai_item .chose_box .chose_btn:hover{background-color: #F2F7FF; color: #1975FF; border-color: #66A3FF;}
.shaiBox .shai_item .chose_box .lab{font-size: 13px; color: #212121; margin-right:20px; line-height: 36px; cursor: pointer;}
.shaiBox .shai_item .chose_box .lab.on_chose{color: #1A75FF; font-weight: bold;}
.shaiBox .shai_item{margin-bottom: 8px;}
.shaiBox .shai_item .chose_box .lab:hover{color: #1A75FF;}
.shaiBox .shai_item .chose_box .selectBox .el-select input{width: 120px; height: 36px;}
.shaiBox .shai_item .chose_box .selectBox .el-select .el-input__icon{line-height: 36px;}
.shaiBox .shai_item .chose_box .selectBox .el-select {margin-right: 6px;}

.shaiBox .self_defined{display: inline-block; color: #999; padding-left: 20px;}
.shaiBox .self_defined label{font-size: 14px; color: #999;}
.shaiBox .self_defined .inp,.popoverBox_age .self_defined .inp,.popoverBox_salary .self_defined .inp{display: inline-block; width: 72px;}
.shaiBox .self_defined .inp em{line-height: 28px;}
.shaiBox .self_defined .btn_sure{margin-left: 10px;}
.shaiBox .self_defined .btn_sure:focus{background: none; border: 1px solid #DCDFE6; color: #606266;}
.shaiBox .self_defined .btn_sure:hover{color: #409EFF  !important; border-color: #c6e2ff !important; background-color: #ecf5ff !important;}
.shaiBox .self_defined .el-input--prefix .el-input__inner{padding-left: 20px; padding-right: 20px;}


/* 筛选条件汇总 */
.shaiResultBox{margin: 0 26px; height: 64px; }
.shaiResult {padding: 15px 0; display: inline-block; white-space: nowrap; vertical-align: middle;}
.shaiResult span.lab{display: inline-block; height: 30px; border-radius: 15px; border: solid 1px rgba(0, 102, 255, .3); line-height: 28px; padding: 0 14px; color: #1975FF; font-size: 14px; box-sizing: border-box; margin-right: 6px; cursor: pointer; max-width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding-left: 8px;}
.shaiResult span.lab s{display: inline-block; width: 16px; height: 16px; background: url(../images/close1_icon.png) no-repeat center/cover; vertical-align: middle; margin-bottom: 2px; margin-right: 5px;}
.clearAll.el-button--text span{font-size: 13px; color: #666 !important;}
.clearAll.el-button--text span:hover{color: #1975FF !important;}
.clearAll em{color: #1975FF;}


.btnTipBox{position: absolute; top: 22px; right: 28px; color: #212121; font-size: 14px;}
.btnTipBox div.tip{display: inline-block;}
.btnTipBox .toBuy{width: 110px; height: 40px; background: linear-gradient(90deg, #00195A 0%, #2C3146 100%); border-radius: 6px; color: #fff; font-size: 14px; border: none;margin-left: 20px;}
.btnTipBox b{font-size: 18px;font-family: DINMittelschriftStd; color: #212121; vertical-align: middle;}
.btnTipBox b.blue{color: #1975FF;}
.btnTipBox .tip_icon{display: inline-block; width: 16px; height: 16px; background: url(../images/tip_icon1.png) no-repeat center/cover; vertical-align: middle; margin-bottom: 4px; cursor: default;}
.markBox p{font-size: 14px; color: #666;}
.markBox b{color: #3D4566;}
.markBox b.blue{color: #1975FF}
.search_inp{margin-top: 10px; width: 280px;}
.search_inp .clear_icon{width: 24px; height: 100%; display: block; background: url(../images/clear_icon.png) no-repeat center/16px; cursor: pointer; }
/* 列表排序 */
.listConBox{margin: 0 20px;}
.el-dropdown{cursor: pointer;}
.orderCon{height: 50px; background: #F7F9FC; border-radius: 8px; padding-left: 32px; padding-right: 15px; margin: 0 24px;}
.orderCon .order span{font-size: 14px; color: #666; margin-right: 36px; line-height: 50px; cursor: pointer;}
.orderCon .order span:last-child{margin-right: 66px;}
.orderCon .order span.on{color: #2278FF; font-weight: bold;}
.el-checkbox__input.is-focus .el-checkbox__inner{border-color: #DCDFE6 ;}
.el-checkbox:hover .el-checkbox__inner{border-color:#2278FF ;}
.el-checkbox__input.is-checked+.el-checkbox__label{color: #1975FF;}
.el-checkbox__label{padding-left: 6px;}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{background-color: #1975FF;}
.orderCon .order{display: inline-block;}
.orderCon .filter {font-size: 14px; color: #666; display: inline-block;}
.orderCon .filter .el-checkbox{color: #999; font-size: 14px;}
.orderCon .filter .el-checkbox .el-checkbox__inner::after{border-width: 1.5px;}
.layout .layout1,.layout .layout2{display: inline-block; width: 20px; height: 50px;background: url(../images/lay2.png) no-repeat center/20px; cursor: pointer;}
.layout .layout1.on_chose{background-image: url(../images/lay2_blue.png);}
.layout .layout2.on_chose{background-image: url(../images/lay1.png);}
.layout .layout2{background-image: url(../images/lay1_grey.png); margin-left: 14px;}
.listCon  ul{min-height: 100px;}
.listCon  li{margin-top: 14px;transition: all .2s;border-radius: 12px;border-width: 1px;}
.listCon  li:hover{box-shadow: 2px 10px 40px 0px rgba(0,15,77,0.06);position: relative;z-index: 1;}
.listCon .unsuit .linkbox{position: relative;}
.listCon .unsuit .linkbox .appliyInfo p .post{opacity: .6;}
.listCon .unsuit .linkbox .appliyInfo p .salary{opacity: .6; color: #333;}
.listCon .unsuit .linkbox::before{content: ''; display: block; position: absolute; left: 0; top:0; bottom: 0; right: 0; background-color: rgba(0,11,33,.08); z-index: 9;}
.listCon .unsuit .linkbox .appliyInfo h3{opacity: .6;}
.listCon .unsuit .linkbox .appliyInfoBox p{color: #000B21; opacity: .6;}
.listCon .unsuit .linkbox .eduInfoBox{opacity: .6;}
.listCon .unsuit .linkbox .labRight{ background: rgba(0, 11, 33, .08); color: #808080;}
.listCon .linkbox{display: block; border: 1px solid #F0F0F0; border-radius: 12px; padding-left: 20px; padding-right: 34px; position: relative; overflow: hidden;}
.listCon .linkbox .appliyInfoBox{padding-top: 26px; padding-bottom: 22px; width: 34%; }
/* .listCon .linkbox .photo{margin-right: 18px;} */
.listCon.briefStyle .linkbox .appliyInfo{padding-left: 98px;}
.listCon .linkbox .appliyInfo{padding-left: 118px;}
.listCon .linkbox .appliyInfo p.advantage{font-size: 14px; color: #999; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.listCon .linkbox .appliyInfo h3{font-size: 18px; color: #333;font-weight: bold;margin-bottom: 4px; white-space: nowrap;}
.listCon .linkbox .appliyInfo h3 .el-tag{background-color: #FFF5F0; border-color: #FF6A00; color: #FF6A00; font-size: 12px; margin-left: 3px;}
.listCon .linkbox .appliyInfo p{color: #666; font-size: 12px; margin-bottom: 10px; overflow: hidden; text-overflow: ellipsis;}
.listCon .linkbox .appliyInfo p span{vertical-align: middle;}
.listCon .linkbox .appliyInfo p em{ margin: 0 10px;display: inline-flex;align-items: center;}
.listCon .linkbox .appliyInfo p em::before{content: '';height: 10px;background-color: #E0E0E0;width: 1px;}
.listCon .linkbox .appliyInfo p .salary{font-size: 18px; color: #1975FF; font-family: DINMittelschriftStd;flex-shrink: 0;}
.listCon .linkbox .appliyInfo p .post{font-size: 14px; color: #333; margin-left: 13px; font-weight: bold;word-break: break-all;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;margin-top: 2px;}
.listCon .linkbox .appliyInfo .joinDate{background-color: #F5F9FF; border-color: #94AFDA; color: #668FCC; font-size: 13px; margin-right: 8px;} 

.listCon .linkbox .eduInfoBox{width: 49%; padding-top: 29px; box-sizing: border-box; padding-left: 30px !important;}
.listCon .linkbox .eduInfoBox .job_item{margin-bottom: 14px;}
.listCon .linkbox .eduInfoBox h5{font-size: 14px; color: #333;}
.listCon .linkbox .eduInfoBox h5 s{display: inline-block; width: 22px; height: 22px; background: url(../images/job_icon.png) no-repeat center/cover; vertical-align: middle; margin-bottom: 2px; margin-left: -30px; margin-right: 7px;}
.listCon .linkbox .eduInfoBox .edu_item h5 s{background-image: url(../images/edu_icon.png);}
.listCon .linkbox .eduInfoBox .edu_item  em{color: #999;}
.listCon .linkbox .eduInfoBox p{font-size: 14px; color: #999; box-sizing: border-box; margin-right: 20px; max-width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

.listCon .linkbox .optBox{display: flex; align-items: center; justify-content: center;  padding: 60px 0; position: absolute; right: 34px; }
.listCon .linkbox .optBox .collect{font-size: 14px; color: #666; margin-right: 30px;}
.listCon .linkbox .optBox .collect:hover{color: #5c5e66;}
.listCon .linkbox .optBox .collect.collected i{background-image: url(../images/collect_1.png)}
.listCon .linkbox .optBox .collect i{display: inline-block; width: 20px; height: 20px; background: url(../images/collect.png) no-repeat center/cover; vertical-align: middle; margin-bottom: 2px; margin-right: 5px;}
.listCon .linkbox .optBox .download_btn{background-color: #3377FF; font-size: 14px; color: #fff;}
.listCon .linkbox .optBox .download_btn:hover{background-color: #548dff;}
.listCon .linkbox .optBox .el-button.hasDown{height: 34px; background-color: #F5F5F7; color: #999;  padding-top: 0;  padding-bottom: 0; font-size: 13px; border: none; width: 100px;}


.listCon .linkbox.notFit::before{content: ''; display: block; position: absolute; left: 0; right: 0; top: 0; bottom: 0; border-radius: 10px 10px 18px 18px; background: #000B21; opacity: 0.08; z-index: 1;}
.listCon .linkbox.notFit{  filter: grayscale(100%); }
.listCon .linkbox.notFit .photo{opacity: .6;}
.listCon .linkbox.notFit h3,.listCon .linkbox.notFit p ,.listCon .linkbox.notFit p .post{color: rgba(51,51,51,.6);}
.listCon .linkbox .labRight{font-size: 12px; color: #256CFA; line-height: 24px; position: absolute; right: -50px; bottom: 10px; background-color: #EDF5FC;width: 150px; transform: rotate(-40deg); text-align: center;}
.listCon .linkbox.notFit .labRight{background-color: #EDEDED;}
/* 简约版 */
.listCon.briefStyle .linkbox .photo{width: 80px;}
.listCon.briefStyle .linkbox .appliyInfo h3{margin-bottom: 0;}
.listCon.briefStyle .linkbox .photo .el-avatar{display: block;background:white;}
.listCon.briefStyle .linkbox .eduInfoBox {padding: 0;}
.listCon.briefStyle .linkbox .appliyInfoBox{padding: 0;}
.listCon.briefStyle .linkbox .appliyInfoBox p{margin-bottom: 4px;display: flex;}
.listCon.briefStyle .linkbox .optBox {padding: 20px 0;}
.listCon.briefStyle .linkbox{padding: 20px;}
.listCon.briefStyle .linkbox .eduInfoBox .job_item{margin-bottom: 8px;}


/* 筛选框定位到顶部 */
.selectBox .el-select-dropdown__item.hover,.selectBox .el-select-dropdown__item:hover{background:#F0F6FF !important; color: #1975FF !important;}
.selectBox.el-popper .popper__arrow,.popoverBox_age.el-popper .popper__arrow,.popoverBox_salary.el-popper .popper__arrow{display: none;}
.selectBox.el-popper[x-placement^=bottom],.popoverBox_age.el-popper,.popoverBox_salary.el-popper[x-placement^=bottom] {margin-top: 0px;}
.scrollBox{position: relative;padding-bottom: 20px;}
/* .scrollBox{position: relative; height: calc(100vh - 300px);  padding-bottom: 20px;} */
.scrollCon::-webkit-scrollbar{ width: 8px; height: 0; border-radius: 4px; background: none; }
.scrollCon::-webkit-scrollbar-thumb{ border-radius: 5px; -webkit-box-shadow: inset 0 0 5px #bec0c4; background: #bec0c4; }
.scrollCon{height: 100%;position: relative;}
.fixedTop{position: absolute; left: 0; top: 0; right: 8px;  background-color: #fff; z-index: 1;}


.fixedTop{padding-bottom: 10px; z-index: 12;}
.fixedTop .inpbox{display: inline-block; width: 150px;}
.popoverBox_age,.popoverBox_salary {width: 278px !important; background: #FFFFFF; border: 1px solid #EBEEF2; box-shadow: 1px 8px 40px 0px rgba(0,15,77,0.08); border-radius: 4px; box-sizing: border-box; padding-left: 20px;}
.popoverBox_age .chose_age span{display: inline-block; width: 32%; line-height: 36px; cursor: pointer; font-size: 14xp; color: #666;}
.popoverBox_salary .chose_salary span{display: inline-block; width: 48%; line-height: 36px; cursor: pointer; font-size: 14xp; color: #666;}
.popoverBox_age .chose_age span:hover{color: #1975FF;}
.popoverBox_salary .chose_salary span:hover{color: #1975FF;}
.popoverBox_age .self_defined input,.popoverBox_salary .self_defined input{height: 30px; margin-top: 10px;}
.popoverBox_age .btn_sure,.popoverBox_salary .btn_sure{background-color: #E8F1FF; border: solid 1px #E8F1FF; color: #3377FF; font-size: 12px; width: 50px; text-align: center; box-sizing: border-box;padding-left: 0; padding-right: 0; }
.fixedTop .el-select,.fixedTop .el-select .el-input{width: 120px;}
.fixedTop .el-select,.fixedTop .shaiBox>span{margin-right: 6px; margin-bottom: 10px;}
.fixedTop .shaiBox{max-width: calc(100% - 400px); border: none; padding-bottom: 0;}
.fixedTop .shaiBox .post{width: 250px;}
.fixedTop .shaiBox .post input{cursor: pointer;}
.fixedTop .shaiResultBox{margin-bottom: 16px;}
.fixedTop .shaiResultBox .search_inp {margin-top: 0; display: inline-block; margin-right: 20px;}
.fixedTop .post{margin-right: 6px;}
.fixedTop .post .icon_list{display: block; width: 16px; height: 100%; background: url(../images/list_icon.png) no-repeat center/16px;}

.noData{padding: 40px;}
.noData img{width: 220px; margin: auto; display: block;}
.noData p{line-height: 20px; text-align: center; color: #999;}


/* 职位选择弹窗 */
.industryMask{position: fixed; left: 0; right: 0; top: 0; bottom: 0; background-color: rgba(0,0,0,.5); z-index: 19; display: none;}
.industryMask.showPop,.industryPop.showPop{display: block;}
.industryPop{width: 830px; height: 594px; background-color: #fff; position: fixed; left: 0; right: 0; top: 0; bottom: 0;  margin: auto; z-index: 20; border-radius: 16px; display: none; animation: topFadeIn .3s;}
.industryPop .industry_head{height: 60px;  border-bottom: solid 1px #eee; padding: 0 22px; box-sizing: border-box;}
.industryPop .industry_head h3{color: #333; font-size: 18px; font-weight: bold; line-height: 60px; }
.industryPop .industry_content{height: 390px; border-bottom: solid 1px #eee; }
.industryPop .industry_list{width: 210px; box-sizing: border-box; float: left; border-right: solid 1px #eee; height: 100%; padding: 10px 0;}
.industryPop .industry_list ul{max-height: 100%; overflow: overlay;}
.industryPop .industry_list li{line-height: 40px; color: #666; font-size: 13px; padding: 0 18px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; cursor: pointer;} 
.industryPop .industry_list li:hover,.industryPop .industry_list li.on_chose{background: #F5F8FF; color: #1975FF;}

.industryPop .postArr{margin-left: 210px; padding-left:12px ; height: 100%;}
.industryPop .postArr .postArrList{max-height: 100%; overflow: auto; }
.industryPop .postArr dt{font-size: 14px; color: #333; font-weight: bold; padding-top: 20px; margin-bottom: 12px;}
.industryPop .postArr li{width: 33.3%; float: left; box-sizing: border-box; padding-right: 10px; font-size: 13px; color: #666; line-height: 40px; cursor: pointer; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.industryPop .postArr li:hover,.industryPop .postArr li.on_chose{color: #1975FF;}
.industryPop .postArrList::-webkit-scrollbar,.industryPop .industry_list ul::-webkit-scrollbar{ width: 8px; height: 0; border-radius: 4px; background: none; }
.industryPop .postArrList::-webkit-scrollbar-thumb,.industryPop .industry_list ul::-webkit-scrollbar-thumb{ border-radius: 5px; -webkit-box-shadow: inset 0 0 5px #bec0c4; background: #bec0c4;  z-index: 999; position: relative;}
.industryPop .industry_bottom{padding: 0 20px;}
.industryPop .industry_bottom .btn_box{text-align: center;}
.industryPop .industry_bottom .btn_box .el-button{width: 160px; font-size: 14px;}
.industryPop .industry_bottom .btn_box .el-button.cancel_btn{background-color: #F2F2F2; color: #666; border-color: #f2f2f2;}
.industryPop .industry_bottom .hasChosed{padding: 10px 0; margin-bottom: 20px; min-height: 20px;opacity: 0;transition: all .2s;}
.industryPop .industry_bottom .hasChosed p{color: #245bdb;font-size: 13px;display: flex;align-items: center;}
.industryPop .industry_bottom .hasChosed p::before{content: '';background: url(../images/tip_icon.png) no-repeat;width: 16px;height: 16px;background-size: cover;margin-top: 1px;margin-right: 5px;}
.industryPop .industry_bottom .hasChosed label{width: 100px; font-size: 14px; color: #666; display: inline-block;}
.industryPop .industry_bottom .hasChosed label em{font-size: 17px; color: #333; margin-left: 4px;}
.industryPop .industry_bottom .hasChosed .el-tag{color: #1975FF; font-size: 13px; border-color: #D0E0FF; background-color: #F5F8FF;} 
/* .industryPop .industry_bottom .hasChosed .el-tag .el-icon-close::before{color: #1975FF;}
.industryPop .industry_bottom .hasChosed .el-tag .el-icon-close:hover{background-color: #A4ABB2; color: #fff !important;}
.industryPop .industry_bottom .hasChosed .el-tag .el-icon-close:hover::before{color: #fff;} */
.industryPop .industry_bottom .hasChosed .el-tag .el-icon-close::before{display: none;}
.industryPop .industry_bottom .hasChosed .el-tag .el-icon-close{background:url(../images/close_tag_icon.png) no-repeat center/cover;}
.industryPop .industry_bottom .hasChosed .el-tag .el-icon-close:hover{background-image:url(../images/close_tag_hover_icon.png);}

/* 提示 自定义*/
.defineToolTipBox {position: fixed;}
.defineToolTipBox .tipCon{padding: 18px 18px 18px 18px; box-sizing: border-box; min-height: 80px; display: flex; align-items: center; justify-content: center; flex-direction: column;}
.defineToolTipBox .success_icon {display: block; width: 24px; height: 24px; background: url(../images/collect_1.png) no-repeat center/cover; margin:0 auto; margin-bottom: 6px;}


/* 分页 */
.dataPage{ display: flex; align-items: center; justify-content: flex-end; padding: 0 30px; padding-bottom: 40px;}
.dataPage .el-pagination.is-background .btn-next,.dataPage .el-pagination.is-background .btn-prev,.dataPage .el-pagination.is-background .el-pager li{font-weight: normal; font-size: 12px; background: none; border: solid 1px #D9D9D9; color: #666;}
.dataPage .el-pagination .btn-prev,.dataPage .el-pagination .btn-next{padding: 0 6px;}
.dataPage .el-pagination .btn-prev[disabled="disabled"],.dataPage .el-pagination .btn-next[disabled="disabled"]{display: none;}
.dataPage .el-pagination li:not(.disabled).active.number{background:#3377FF; border-color: #3377FF;}
.dataPage .el-pagination li:hover{color: #3377FF;}


.el-dropdown-menu.el-popper .el-dropdown-menu__item h4{margin-bottom: -12px;}
.el-dropdown-menu.el-popper .el-dropdown-menu__item p {
    color: #999;
    font-size: 13px;
}
.tooltipBox{height: 80px;line-height: 80px; top: 42.5% !important;}
.el-avatar>img{width: 100%;}