body,html{background-color: #F5F5F7; min-height: 100%; }

html{height: 100%; overflow: hidden;}

.headbox .back_btn{display: block; width: .72rem; height: .72rem; background: url(../images/header_back_index.png) no-repeat center; background-size: .4rem; position: absolute;left: .12rem; top: 0; bottom: 0; margin: auto; z-index: 3;}

.top_box {position: absolute; left: 0; right: 0; top: 0; z-index: 3; background: #24262B}
.top_box .headbox{background-color: #24262B; color: #fff; display: flex; justify-content: space-between; height: .88rem; line-height: .88rem; padding: 0 .34rem; align-items: center; position: relative; flex-direction: row-reverse;}
.top_box .headbox .ucenter{width: .4rem; height: .4rem; background: url(../images/ucenter.png) no-repeat center; background-size: cover; float: left; position: relative; z-index: 1;}
.top_box .headbox  .h_url{position: relative; z-index: 1; color: #fff;}
.top_box .headbox .htitle{font-size: .32rem; color: #fff; font-weight: bold; position: absolute; left: 0; right: 0; top: 0; bottom: 0; text-align: center;}
.top_box .tab_li{background-color: #24262B; height: .78rem;}
.top_box .tab_li ul{display: flex; color: #fff; font-size: .28rem; padding-left: .67rem; }
.top_box .tab_li li{opacity: .6; line-height: .85rem; margin-right: 1.07rem; position: relative; height: .78rem; overflow: visible;}
.top_box .tab_li li.on_chose{opacity: 1;}
.top_box .tab_li li.on_chose::after{content: ''; display: block; width: 100%; height: .08rem; border-radius: .04rem;
background: #FEB206;box-shadow: 0 .05rem .2rem 0 rgba(254, 178, 7, 0.5); position: absolute; bottom: 0;}

.page_box{padding-top: .88rem;}


[v-cloak]{
    display: none !important;
}


/* 错误提示1 */
.popErr {position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 100001; visibility: hidden; }
.popErr p {position: fixed; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: .3rem; line-height: 1.4; text-align: center; padding: .24rem .2rem; z-index: 9999; left: 0; top: 30%; margin-top: -.2rem;}



.huoniao_iOS.huoniao_Fullscreen .top_box .headbox{padding-top: .88rem;}
.huoniao_iOS.huoniao_Fullscreen .top_box .headbox .htitle{padding-top: .88rem;}
.huoniao_iOS.huoniao_Fullscreen .page_box{padding-top: 1.68rem}

.loading{display: block; width: 1.1rem; height: 1.1rem; border-radius: .3rem;  background: rgba(0,0,0,.9) ; background-size: .5rem; position: fixed; left: 0; right: 0; margin: auto; top: 50%;}
.loading::before{content: ''; background: url(../images/loading.png) no-repeat center; background-size: .5rem; position: absolute; left: 0; right: 0; margin: auto; top: 0; bottom: 0; animation:rotate_ 1s infinite linear;}
@keyframes rotate_{
	0%{ transform: rotate(0deg);}
	50%{ transform: rotate(180deg);}
	100%{ transform: rotate(360deg);}
}

/* 20210909 统计 */
.countBoxMonth {background: #24262B; position: relative; height: 3.8rem;}
.countBoxMonth .allCount{display: flex; align-items: center; justify-content: space-between; position: relative; z-index: 3; padding: 0 .28rem; margin-bottom: .42rem;}
.countBoxMonth .leftAmount {padding-left: .15rem}
.countBoxMonth .leftAmount h3{font-size: .6rem; color: #fff; font-family: moneyNumber; }
.countBoxMonth .leftAmount p{color: #fff; font-size: .24rem; opacity: .5;}


.countBoxMonth .myPocket{display: block; font-size: .26rem; color: #24262B; font-weight: bold; height: .72rem; border-radius: .36rem; background: #fff; padding: 0 .3rem; line-height: .72rem; min-width: 1.6rem; box-sizing: border-box; text-align: center; }

.detailsBox {margin-top: -1.6rem; position: relative;}
.detailsBox .tab_ul{display: flex; align-items: center; justify-content: space-around; font-size: .28rem; color: #fff; position: relative; padding-bottom: .14rem;}
.detailsBox .tab_ul li.on_chose{font-size: .34rem; color: #fff; font-weight: bold;}
.detailsBox .tab_ul .line{display: block; width: .46rem; height: .08rem; border-radius: .04rem; background: linear-gradient(-90deg, #FFAE00 0%, #FCBF1C 100%); box-shadow: 0 .05rem .13rem 0 rgba(255, 175, 2, 0.37); position: absolute; bottom: 0; left: 0; transition: left .3s}

.detailList{background: #fff; border-radius: .5rem .5rem 0 0; margin-top: .2rem; overflow: auto; height: calc(100vh - 3.8rem); position: fixed; left: 0; right: 0;}
/* .detailList .detailListBox{overflow: auto; height: 100%; position: relative;} */
.detailList dt{height: 1rem; background: #F7F7F7;  font-size: .24rem; color: #616266; padding: 0 .35rem; line-height: 1rem; border-bottom: solid 1px #EBEBED; position: sticky; top: 0; left: 0; right: 0}
.detailList dt span.month{font-size: .26rem; color: #45464D; font-weight: bold; font-family: moneyNumber; margin-right: .26rem;}
.detailList dd { height: 1.3rem; margin: 0 .24rem;  box-sizing: border-box; padding-top: .3rem; border-bottom: solid 1px #EBEBED; }
.detailList dd:last-child{border: none;}
.detailList dd .detInfo{display: flex; align-items: center; justify-content: space-between;}
.detailList dd .detInfo h3{font-size: .3rem; color: #1A1B21; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.detailList dd .detInfo h4{color: #1A1B21; font-weight: bold; font-family: moneyNumber; font-size: .36rem; }
.detailList dd.income h4{color: #FC8200}
.detailList dd p{display: flex; align-items: center; justify-content: space-between; color: #919399; font-size: .22rem;}
.loadText{font-size: .26rem; color: #999; text-align: center; padding: .5rem;}
.detailList dd p .balanceTip{font-size: .22rem; color: #919191;}
.detailList dd p .failTip{color: #F73145; display: flex;align-items: center;}
.detailList dd p .failTip::after{content:''; display: block; width: .16rem; height: .2rem; background: url(../images/arr_red.png) no-repeat center/cover; margin-right: .04rem; margin-bottom: -.02rem;}

.maskPop{position: fixed; left: 0; right: 0; top: 0; bottom: 0; background: rgba(0,0,0,.5)}
.failPop{width: 6rem; min-height: 3.4rem; background: #fff; position: fixed; left: 0; right: 0; margin: auto; top: 36%; border-radius: .4rem; box-shadow: 0 .07rem .23rem 0 rgba(0, 0, 0, 0.1); animation: popup .3s; padding-bottom.42rem; box-sizing: border-box;}
.failPop h3{font-size: .34rem; color: #1A1B21; font-weight: bold; text-align: center; line-height: 1.12rem;}
.failPop p{color: #49494D; font-size: .26rem ; margin: 0 .38rem; line-height: .4rem; min-height: .65rem;}
.failPop a{display: block; line-height: .76rem; border-radius: .38rem; background: linear-gradient(-90deg, #FFAE00 0%, #FCBF1C 100%); color: #fff; text-align: center; font-weight: bold; width: 2.46rem; margin:.36rem auto 0;}