/* .top_box {position: absolute; left: 0; right: 0; top: 0; z-index: 3; height: 5.38rem; background: url(../images/bbg.png) no-repeat bottom center; background-size:auto 3rem; } */
html,body{height: 100%; background-color: #F5F5F7;}
.pagebox{height: 100%; overflow-y: auto; }
::-webkit-scrollbar,::-webkit-scrollbar-thumb{display: none;}
.pagebox>div{min-height: 100%;}
.top_box{position: fixed; left: 0; right: 0; top: 0; z-index: 1;}
.top_box .headbox{background-color: #24262B; color: #fff; display: flex; justify-content: space-between; height: .88rem; line-height: .88rem; align-items: center; position: relative;}
.top_box .headbox  .h_url{position: relative; z-index: 1;}
.top_box .headbox .htitle{font-size: .32rem; color: #fff; font-weight: bold; position: absolute; left: 0; right: 0; top: 0; bottom: 0; text-align: center;}
.back_btn{width: .88rem; height: .88rem; background: url(../images/header_back_index.png) no-repeat center; background-size: .4rem auto; position: relative; z-index: 3;}

.userbox dl{background-color: #fff; margin-bottom: .2rem; padding: 0 .3rem;}
.userbox dl dt{font-size: .28rem; color: #313233; padding-top: .4rem;}
.userbox dl dd{height: 1.1rem; border-bottom: solid 1px #f5f5f7; line-height: 1.1rem; display: flex; justify-content: space-between; font-size: .3rem;}
.userbox dl dd:last-child{border: none;}
.userbox dl dd .info_title{color: #1A1B21;  font-weight: bold;}
.userbox dl dd .info_val{color: #636366; display: flex; align-items: center; }
.userbox dl dd .info_val em{display: block; width: .3rem; height: .3rem; background: url(../images/arr_r.png) no-repeat center; background-size: cover; margin-right: -.06rem; margin-left: .16rem;}

/* 手机绑定 */

.page_cphone,.page_cid,.page_ctel{min-height: 100%; background-color: #fff; }
.page_cphone p,.page_cid p{color: #313233; font-size: .28rem; padding:.43rem .37rem ;}
.page_cphone h1,.page_cid h1{font-size: .4rem; color: #000; font-family: moneyNumber; text-align: center;}
.page_cphone .bind_tel,.page_cid .next_step,.page_cpsd .cpsd_btn,.bindtel{display: block; width: 6.9rem; height: .8rem; border-radius: .4rem;background: linear-gradient(-90deg, #FFAE00 0%, #FCBF1C 100%); margin: auto ; border: none; color: #fff; font-size: .28rem; font-weight: bold; margin-top: .6rem;}
.page_cid .next_step,.page_cpsd .cpsd_btn,.bindtel{margin-top: .92rem;}

/* input */
.inpbox{border-bottom: solid #f5f5f7 1px; height: .9rem;margin: .2rem .3rem; margin-top: .2rem; position: relative; padding: 0 .1rem;}
.inpbox input{height: .9rem; border: none; background: none; font-size: .28rem; width: 100%;}
.inpbox input::placeholder{color: #C6C7CC;}
.inpbox i{display: block; width: .9rem ; height: .9rem; background: url(../images/eye_close.png) no-repeat center; background-size: .4rem; position: absolute;top: 0; bottom: 0; right: -.1rem; margin: auto}
.inpbox i.eye_open{background-image: url(../images/eye_open.png); }
.inpbox input[name=password],.inpbox input[name=sure_password]{display: none;}
.inpbox input[name=password].input_text,.inpbox input[name=sure_password].input_text{display: block;}
.inpbox input[name=sure_password].input_text ~ i{display: none;}
.inpbox .get_code{min-width: 1.2rem; box-sizing: border-box; padding: 0 .1rem; height: .6rem; border: solid 1px #FFAE01; box-sizing: border-box; color: #FFAE00; font-size: .28rem; position: absolute; top: 0; bottom: 0; right: 0; background: none; margin: auto; border-radius: .1rem; font-weight: bold;}
.page_cpsd{min-height: 100%; background-color: #fff;}

/* 错误提示1 */
.popErr {position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 100001; visibility: hidden;}
.popErr p {position: fixed; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: .3rem; line-height: 1.4; text-align: center; padding: .24rem .2rem; z-index: 9999; left: 0; top: 30%; margin-top: -.2rem;}


@font-face {
	font-family: moneyNumber;
	src: url('/static/fonts/coregtd6.otf'),
		url('/static/fonts/coregtd6.TTF'),
		url('/static/fonts/coregtd6.svg'),
		 url('/static/fonts/coregtd6.woff'); /* IE9 */
}
.page_policy{height: 100%; background-color: #fff;}
.page_policy .content{font-size: .28rem; padding:.2rem .24rem ; text-indent: 2em;}

.mobileSelect.mobileSelect-show .content{box-shadow: 0 .07rem .23rem 0 rgba(0, 0, 0, 0.1); border-radius: .4rem .4rem 0 0;}
.mobileSelect.mobileSelect-show .content .btnBar{border: none !important; font-weight: bold;}
.mobileSelect.mobileSelect-show .content .btnBar .ensure{color: #FFAE00 !important; font-size: .3rem;}
.mobileSelect.mobileSelect-show .content .btnBar .cancel{color: #949599; font-size: .3rem;}
.mobileSelect.mobileSelect-show .content .btnBar .title{font-size: .28rem;}
.userbox dl dd a{display: flex; width: 100%; justify-content:space-between}

.huoniao_iOS.huoniao_Fullscreen .pagebox>div{padding-top: 1.96rem;padding-bottom: .6rem;}
.huoniao_iOS.huoniao_Fullscreen .top_box .headbox{padding-top: .88rem;}
.huoniao_iOS.huoniao_Fullscreen .top_box .headbox .htitle{padding-top: .88rem;}
/*.huoniao_iOS.huoniao_Fullscreen .userbox{padding-top: 1.96rem; }*/

.msg_tui{display: flex; align-items: center; justify-content: space-between;  color: #313233; font-size: .3rem; font-weight: bold; }
.msg_tui .guan{width: .9rem; height: .48rem; background-color: #efefef; border-radius: .24rem; position: relative;}
.msg_tui .guan.open{background: linear-gradient(-90deg, #FFAE00 0%, #FCBF1C 100%);}
.msg_tui .guan::before{content: ''; width: .44rem; height: .44rem; border-radius: 50%; background-color: #fff; 
box-shadow: 0 .05rem .1rem 0 rgba(0, 0, 0, 0.1); display: block;position: absolute; top: .02rem; bottom: .02rem; left: .02rem; transition: left .3s; }
.msg_tui .guan.open::before{ left: .44rem;}


.loading{display: none; width: 1.1rem; height: 1.1rem; border-radius: .3rem;  background: rgba(0,0,0,.9) ; background-size: .5rem; position: fixed; left: 0; right: 0; margin: auto; top: 50%; z-index: 999}
.loading::before{content: ''; background: url(../images/loading.png) no-repeat center; background-size: .5rem; position: absolute; left: 0; right: 0; margin: auto; top: 0; bottom: 0; animation:rotate_ 1s infinite linear;}
@keyframes rotate_{
	0%{ transform: rotate(0deg);}
	50%{ transform: rotate(180deg);}
	100%{ transform: rotate(360deg);}
}

/*注销弹窗*/
.off-mask {position: fixed;left:0;top:0;right:0;bottom:0;z-index: 100000;background: rgba(0,0,0,.3);display: none;}
.offWrap{background: #fff;padding-bottom:calc(.7rem + constant(safe-area-inset-bottom));padding-bottom: calc(.7rem + env(safe-area-inset-bottom));position: fixed;left:0;right:0;bottom:-100%;z-index: 100001;border-radius:.4rem .4rem 0px 0px;overflow: hidden;}
.offWrap i.off-close{position: absolute;right: .4rem;top: .32rem;display: inline-block;width: .3rem;height: .3rem;background: url(/templates/member/touch/images/off-close.png) center center no-repeat;background-size: contain;z-index: 2}

.offWrap .off-top{height: 2rem;box-sizing: border-box;width: 100%;color: #fff;padding: .4rem .7rem;background:linear-gradient(90deg,rgba(255,59,69,1) 0%,rgba(255,122,85,1) 100%);position: relative;}
.off-top em.off-bg{display: inline-block;width: 1.8rem;height: 1.56rem;background: url(/templates/member/touch/images/off-bg.png)no-repeat;background-size: cover;position: absolute;right: .2rem;bottom: 0}
.off-top h3.offTitle{font-size: .44rem;font-weight: bold;}
.off-top h3.offTitle i{display: inline-block;width: .4rem;height: .4rem;background: url(/templates/member/touch/images/off-tip.png) center center no-repeat;background-size: cover;vertical-align: middle;margin-right: .1rem;margin-top: -.02rem}
.off-top p{font-size: .26rem;margin-top: .05rem}
.offWrap .off-ts{font-size: .22rem;color: #999;text-align: center;margin-top: .4rem;padding-bottom: .2rem}
.offWrap .off-ts span{display: inline-block;padding: 0 .1rem;position: relative;}
.offWrap .off-ts span:before{content: '';width: .3rem;height: .02rem;background: #ccc;position: absolute;top:.15rem;left: -.3rem;}
.offWrap .off-ts span:after{content: '';width: .3rem;height: .02rem;background: #ccc;position: absolute;top:.15rem;right: -.3rem;}
.offSon{max-height: 5.6rem;overflow: hidden;overflow-y: auto;    padding-bottom: .2rem;}
.offcon{margin-top: .7rem;padding: 0 .44rem}
.offcon.speOff{margin-top: .5rem}
.offcon h2.offTit{font-size: .36rem;color: #000;font-weight: bold;padding-bottom: .2rem}
.offcon p{font-size: .26rem;color: #333;line-height: .4rem;}

.off-agree{margin: .2rem .4rem 0;position: relative;}
.off-agree a{display: block;width: 100%;height: .88rem;line-height: .88rem;font-size: .3rem;color: #fff;background: #FF3C44;border-radius: .1rem;text-align: center;}
.off-agree:before{content:'';display: block;height:.3rem;background:linear-gradient(0deg,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);position: absolute;left: 0;right: 0;top: -.5rem}


/*删除 弹出层*/
.delMask{position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,.57);z-index: 100002;display: none;}
.delMask.show{display: block;}
.delAlert{position: fixed;top: 50%;left: 0;right: 0;z-index: 100003;overflow: hidden;height: 2.8rem;margin-top: -1.4rem;text-align: center;display: none;pointer-events: none;-webkit-animation: popup .3s ease-out; -moz-animation: popup .3s ease-out; animation: popup .3s ease-out;}
.delAlertCon{background: #fff;box-shadow:0px 7px 37px 0px rgba(0, 0, 0, 0.13);border-radius:.3rem;min-width: 4.8rem;display: inline-block;pointer-events: auto}
.delAlertCon>div{padding: .55rem .4rem .48rem}
.delAlert h2.delTile{font-size: .32rem;font-weight: bold;text-align: center;}
.delAlert p{font-size: .24rem;color: #333;text-align: center;margin-top: .05rem}
.delAlert ul{border-top: 1px solid #f5f5f7;}
.delAlert ul li{float: left;width: 50%;box-sizing: border-box;height: .86rem;line-height: .86rem;font-size: .3rem;font-weight: bold;text-align: center;}
.delAlert ul li a{display: block;color: 000;}
.delAlert ul li a.sureDel{color: #3B7CFF}
.delAlert ul li.firLi{border-right: 1px solid #f5f5f7}



.copyright {text-align: center; color: #333!important; font-size: .2rem!important; opacity: .4; padding: 1.5rem 0 .5rem; line-height: 1.8em!important;}
.copyright * {color: #333!important; font-size: .2rem!important; line-height: 1.8em!important;}
