<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<title>砍价狂欢-{#$shop_title#}</title>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
	<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/swiper.min_4.2.2.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/bargain_list.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}">

<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type='text/javascript' src='{#$cfg_basehost#}/include/json.php?action=lang'></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$shop_channelDomain#}',staticPath = '{#$cfg_staticPath#}',templets_skin = '{#$templets_skin#}';
	var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}', cookieDomain = '{#$cfg_cookieDomain#}';
	jQuery = $;
	var now = {#$smarty.now#};
</script>
</head>

<body class="w1200">
{#$pageCurr = 'bargain_list'#}
{#include file="top.html"#}

<div class="bread">
	<p><a href="{#$shop_channelDomain#}">{#$langData['siteConfig'][0][0]#}</a>><a href="{#getUrlPath service='shop' template='list'#}">{#$langData['shop'][5][47]#}</a>><a href="{#getUrlPath service='shop' template='bargain_list'#}">砍价狂欢</a></p>
</div>
<div class="barBanner"><img src="{#$templets_skin#}images/kan_banner.png?v={#$cfg_staticVersion#}" alt=""></div>
<div class="mainWrap">
	<div class="wrap">
		<ul class="fn-clear listUl">
			{#shop action="bargainingList" return="list" page={#$page#} pageSize="28"#}
			<li><a href="javascript:;">
				<div class="topImg">
					{#if $list.isself ==1#}
					<span class="ing">砍价中</span>
					{#/if#}
					<img src="{#$list.litpic#}" alt="" onerror="javascript:this.src='{#$cfg_staticPath#}images/noPhoto_100.jpg';this.onerror=this.src='{#$cfg_staticPath#}images/404.jpg';" class="ttimg">
					<div class="codeWrap">
						<div>
							<img src="{#$cfg_basehost#}/include/qrcode.php?data={#getUrlPath service="shop" template="detail" id="{#$list.id#}"#}" alt="">
						</div>
						<p>手机扫码砍价</p>
					</div>
				</div>
				<div class="detInfo">
					<h2>{#$list.title#}</h2>	
					{#$priceArr = "."|explode:$list.floorprice#}
					<div class="price">{#echoCurrency type='symbol'#}<span><em>{#$priceArr[0]#}</em>.{#$priceArr[1]#}</span><s>{#echoCurrency type='symbol'#}{#$list.mprice#}</s></div>
					{#if $list.isself ==1#}
					 {#if $detail_kanjiastate ==1#}
						<div class="kanA ">砍价成功</div>
					 {#else#}
					{#if $list.huodonginventory ==0#}
						<div class="kanA disabled">已砍完</div>
					{#else#}
						<div class="kanA ">继续砍价</div>
					{#/if#}
					{#/if#}
					{#elseif $list.isself ==0 && $list.huodonginventory !=0#}
					<div class="kanA ">立即砍价</div>
					{#elseif  $list.huodonginventory ==0#}
					<div class="kanA disabled">已砍完</div>
					{#/if#}
				</div>
			</a></li>
			{#/shop#}
		</ul>
		{#if $pageInfo.totalCount == 0#}
			<div class="empty">暂无商品</div> 
		{#/if#}
		
		{#getPageList service='shop' template='bargain_list' pageType='dynamic' param="page=#page#"#}
		
	</div>
	
</div>
{#include file="bottom.html"#}


<script src="{#$templets_skin#}js/swiper.min_4.2.2.js?v={#$cfg_staticVersion#}" type="text/javascript"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>