<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<title>准点秒杀-{#$shop_title#}</title>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
	<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/swiper.min_4.2.2.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/secKill.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}">

<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type='text/javascript' src='{#$cfg_basehost#}/include/json.php?action=lang'></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$shop_channelDomain#}',staticPath = '{#$cfg_staticPath#}',templets_skin = '{#$templets_skin#}';
	var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}', cookieDomain = '{#$cfg_cookieDomain#}';
	jQuery = $;
	var now = {#$smarty.now#};
</script>
</head>

<body class="w1200">
{#$pageCurr = 'secKill'#}
{#include file="top.html"#}
<div class="bannerImg"><img src="{#$templets_skin#}images/ms_bg.png" alt=""></div>
<div class="mainWrap">
	<div class="wrap">
		<div class="good_tab">
		    <ul class="tab_ul fn-clear">
		        <li class="curr"><a href="javascript:;">
		            <h2>正在秒杀</h2>
		            <span>限量速抢</span>
		        </a></li>
		        <li><a href="javascript:;">
		            <h2>即将开始</h2>
		            <span>抢先加购</span>
		        </a></li>
		    </ul>
		</div>
		<div class="proWrap">
			<ul class="fn-clear proList">
				{#shop action="proHuodongList" huodongtype="2" huodongstate="1" page="1" pageSize="16"#}
				<li><a href="{#$row.url#}" target="_blank">
					<div class="topImg">
						<img src="{#changeFileSize url=$row['litpic'] type='small'#}" alt="" onerror="javascript:this.src='{#$cfg_staticPath#}images/noPhoto_100.jpg';this.onerror=this.src='{#$cfg_staticPath#}images/good_default.png';">
						{#if $row.huodonginventory == 0 || $row.huodongtimestate == 2#}
						<span>已抢完</span>
						{#/if#}
					</div>
					<div class="goodInfo">
						<h2 class="goodTit">{#$row.title#}</h2>
						<h3 class="subTit">{#$row.subtitle#}</h3>
						<div class="fn-clear goodBot">
							<div>
								<p class="nprice">
									{#$hdprice = $row.huodongprice#}
									{#if $row.huodongprice >=10000#}
									{#$hdprice = (int)($row.huodongprice)#}
									{#/if#}
									<span class="pr">{#echoCurrency type='symbol'#}<strong>{#$hdprice#}</strong></span>
									<s>{#echoCurrency type='symbol'#}{#$row.mprice#}</s>
								</p>
								<p class="xstxt"><i></i>直降{#$row.mprice-$row.huodongprice#}</p>
							</div>
							{#if $row.huodonginventory == 0 || $row.huodongtimestate == 2#}
							<span class="qg fn-right disabled">已抢完</span>
							{#else#}
							<span class="qg fn-right">立即抢</span>
							{#/if#}
						</div>
						{#if $row.huodonginventory > 0#}
						<span class="jins">仅剩<em>{#$row.huodonginventory#}</em>件</span>
						{#/if#}
					</div>
				</a></li>
				{#/shop#}
			</ul>
			<div class="emptyData" {#if $pageInfo.totalCount < 1#}style="display:block;"{#/if#}>
		          <img src="{#$templets_skin#}images/noresult.png" alt="">
		          <h2>非常抱歉</h2> 
		          <p>没有找到相关宝贝</p>
		    </div>
		      
		    <div class="sepagination fn-clear"></div>
		</div>
	</div>
</div>

{#include file="bottom.html"#}

<script src="{#$templets_skin#}js/swiper.min_4.2.2.js?v={#$cfg_staticVersion#}" type="text/javascript"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$templets_skin#}js/secKill.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>