{#include file="../../siteConfig/top1.html"#}
<script>
	var productUrl = '{#getUrlPath service="shop" template="search_list"#}', storeUrl = '{#getUrlPath service="shop" template="search_list" param="stype=shop"#}';
</script>

<div class="header wrap fn-clear">
	<h1 class="logo"><a href="{#$shop_channelDomain#}" title="{#$shop_channelName#}"><img src="{#$shop_logoUrl#}" alt="{#$shop_channelName#}" /></a></h1>

	<div class="search">
		<div class="formbox">
			<form id="sform" name="search" method="post" action="{#getUrlPath service='shop' template='search_list'#}">
				<input name="token" id="token" value="{#$token#}" type="hidden" />
				<input name="keywords" type="text" class="txt_search" id="search_keyword" value="{#$keywords#}" autocomplete="off" x-webkit-speech="" x-webkit-grammar="builtin:translate" placeholder="输入你要搜索的关键词" data-role="input" />
				<button id="search_button" type="submit" class="btn-s"></button>
			</form>

			{#if $imagesearch#}
			<div class="imgsearch">
				<span class="imgsearch-btn"></span>
				<input type="file" name="Filedata" class="fn-hide" id="Filedata_imgsearch">
			</div>
			{#if $image#}
			<div class="imgsearch-holder">
				<div class="img-box">
					<div class="img-container"><img class="img" src="{#$image#}"></div>
				</div>
				<div class="x-btn">
                  <span class="icon-btn-x">&times;</span>
                </div>
			</div>
			{#/if#}
			{#/if#}

		</div>
		<p class="hot-s">
			{#siteConfig module="shop" action="hotkeywords" return="hotkeywords"#}
			<a href="{#if $hotkeywords.href#}{#$hotkeywords.href#}{#else#}{#$shop_channelDomain#}/search_list.html?keywords={#$hotkeywords.keyword#}{#/if#}"{#if $hotkeywords.target == 0#} target="_blank"{#/if#}>{#$hotkeywords.keyword#}</a>
			{#/siteConfig#}
		</p>
	</div>
	<div class="newtopcart">
		<a href="{#getUrlPath service="shop" template="cart"#}" class="newcart-btn" target="_blank"><span class="icon"></span><i>0</i>我的购物车</a>
	</div>

	<div class="kefu">
		<s><img src="{#$templets_skin#}images/tell.png" alt=""></s>
		<p>客服热线</p>
		<h2>{#if $shop_hotline#}{#$shop_hotline#}{#else#}{#$cfg_hotline#}{#/if#}</h2>
	</div>
</div>

<div class="storeInfoBox">
	<div class="wrap fn-clear ">
		<div class="leftInfo fn-clear">
			<div class="storeImg"><img src="{#$detail_logo#}" alt="{#$detail_title#}" title="{#$detail_title#}" onerror="javascript:this.src='{#$cfg_staticPath#}images/noPhoto_100.jpg';this.onerror=this.src='{#$cfg_staticPath#}images/noPhoto_100.jpg';"></div>
			<div class="storeDetail">
				<h2>{#$detail_title#}</h2>
				<div class="store_zz">
					<span class="zz"><s></s>执照认证</span>
					{#if $detail_promotion > 0#}<span class="bzj"><s></s>保证金{#$detail_promotion#}元</span>{#/if#}
					<span class="zlpay"><s></s>主流支付</span>
				</div>
			</div>
		</div>
		<div class="rightBtn">
			<a href="javascript:;" class="chat_to-Link contact" data-type="user"><s></s>联系商家</a>
			{#if $detail_collect != 1#}
			<a href="javascript:;" class="soucang"><s></s>关注店铺</a>
			{#else#}
			<a href="javascript:;" class="soucang has"><s></s>已关注</a>
			{#/if#}
		</div>
	</div>
</div>
<div class="navBoxContainer">
	<div class="navBox wrap fn-clear">
		<dl class="allNav">
			<dt>
				全部分类
				<div class="lines">
					<p></p>
					<p></p>
					<p></p>
				</div>
		</dt>
		<dd>
			<ul class="pul">
				{#shop action="category" store={#$detail_id#}#}
				<li>
					<a href="{#getUrlPath service='shop' template='store-detail' id={#$detail_id#} typeid={#$row.id#}#}" class="ycate">{#$row.typename#}</a>
					<ul class="cul">
						{#$k = 0#}
						{#shop action="category" store={#$detail_id#} type={#$row.id#} return="childlist"#}
						{#$k = $k + 1#}
						<li><a href="{#getUrlPath service='shop' template='store-detail' id={#$detail_id#} typeid={#$childlist.id#}#}" class="ycate">{#$childlist.typename#}</a></li>
						{#/shop#}
					</ul>
					{#if $k > 0#}
					<s></s>
					{#/if#}
				</li>
				{#/shop#}
			</ul>
		</dd>
		</dl>
		<ul class="navShow">
			<li class="{#if $pid == 0 && $all != '1'#}on{#/if#}"><a href="{#getUrlPath service='shop' template='store-detail' id={#$detail_id#}#}">首页</a></li>
			<li class="{#if $all == '1'#}on{#/if#}"><a href="{#getUrlPath service='shop' template='store-detail' id={#$detail_id#} typeid=0#}?all=1">所有商品</a></li>
			{#shop action="category" store={#$detail_id#}#}
			<li class="{#if $pid == $row.id#}on{#/if#}"><a href="{#getUrlPath service='shop' template='store-detail' id={#$detail_id#} typeid={#$row.id#}#}" class="ycate">{#$row.typename#}</a></li>
			{#/shop#}
			<li class="{#if $shopinfo == '1'#}on{#/if#}"><a href="{#getUrlPath service='shop' template='store-detail' id={#$detail_id#}#}?shopinfo=1">店铺信息</a></li>

		</ul>
	</div>
</div>
