{#include file="../../siteConfig/top1.html"#}
<script>
	var productUrl = '{#getUrlPath service="shop" template="search_list"#}', storeUrl = '{#getUrlPath service="shop" template="search_list" param="stype=shop"#}';
</script>

<div class="header wrap fn-clear">
	<h1 class="logo"><a href="{#$shop_channelDomain#}" title="{#$shop_channelName#}"><img src="{#$shop_logoUrl#}" alt="{#$shop_channelName#}" /></a></h1>

	<div class="search">
		<div class="formbox">
			<form id="sform" name="search" method="post" action="{#getUrlPath service='shop' template='search_list'#}">
				<input name="token" id="token" value="{#$token#}" type="hidden" />
				<input name="keywords" type="text" class="txt_search" id="search_keyword" value="{#$keywords#}" autocomplete="off" x-webkit-speech="" x-webkit-grammar="builtin:translate" placeholder="输入你要搜索的关键词" data-role="input" />
				<button id="search_button" type="submit" class="btn-s"></button>
			</form>

			{#if $imagesearch#}
			<div class="imgsearch">
				<span class="imgsearch-btn"></span>
				<input type="file" name="Filedata" class="fn-hide" id="Filedata_imgsearch">
			</div>
			{#if $image#}
			<div class="imgsearch-holder">
				<div class="img-box">
					<div class="img-container"><img class="img" src="{#$image#}"></div>
				</div>
				<div class="x-btn">
                  <span class="icon-btn-x">&times;</span>
                </div>
			</div>
			{#/if#}
			{#/if#}

		</div>
		<p class="hot-s">
			{#siteConfig module="shop" action="hotkeywords" return="hotkeywords"#}
			<a href="{#if $hotkeywords.href#}{#$hotkeywords.href#}{#else#}{#$shop_channelDomain#}/search_list.html?keywords={#$hotkeywords.keyword#}{#/if#}"{#if $hotkeywords.target == 0#} target="_blank"{#/if#}>{#$hotkeywords.keyword#}</a>
			{#/siteConfig#}
		</p>
	</div>
	<div class="newtopcart">
		<a href="{#getUrlPath service="shop" template="cart"#}" class="newcart-btn" target="_blank"><span class="icon"></span><i>0</i>我的购物车</a>
	</div>

	<div class="kefu">
		<s><img src="{#$templets_skin#}images/tell.png" alt=""></s>
		<p>客服热线</p>
		<h2>{#if $shop_hotline#}{#$shop_hotline#}{#else#}{#$cfg_hotline#}{#/if#}</h2>
	</div>
</div>

{#if $pageCurr != "search_list" && $pageCurr != "store-detail"#}
<div class="nav-box">
	<div class="wrap fn-clear">
		<div class="lnav">
			<div class="t-category"><a href="{#getUrlPath service="shop" template="search_list"#}">全部商品分类<i></i></a></div>

			<div class="category-popup">
				<ul class="fn-clear">
					{#shop action="type" gettype="all" return="type"#}
					{#if $_bindex.type > 7#}
					<li class="fn-hide">
					{#else#}
					<li class="fn-clear">
					{#/if#}
					<!--<li class="fn-clear">-->
						<div class="fix">
								<a href="{#getUrlPath service='shop' template='search_list'#}?typeid={#$type.id#}" class="name">{#$type.typename#}</a>
								{#if $type.lowerarr && count($type.lowerarr) > 0#}
								<span>
									<a href="{#getUrlPath service='shop' template='search_list'#}?typeid={#$type.lowerarr[0].id#}" class="item">{#$type.lowerarr[0].typename#}</a>
								</span>
								{#/if#}
						</div>
						<div class="sub-category fn-clear">
							<div class="sub">
							{#foreach from=$type.lowerarr item=type1#}
                            {#if $type1#}	
							<dl class="fn-clear">
								<dt><a href="{#getUrlPath service='shop' template='search_list'#}?typeid={#$type1.id#}">{#$type1.typename#}</a></dt>
								{#if $type1.sublowerarr && count($type1.sublowerarr) > 0#}
								<dd class="fn-clear">
									<s></s>
									{#foreach from=$type1.sublowerarr item= type2#}
									<a href="{#getUrlPath service='shop' template='search_list'#}?typeid={#$type2.id#}">{#$type2.typename#}</a>
									{#/foreach#}
								</dd>
								{#/if#}
							</dl>
							{#/if#}
							{#/foreach#}
							</div>

						</div>
					</li>
					{#/shop#}

					<li class="fn-clear">
						<div class="fix">
							<a class="name" href="{#getUrlPath service="shop" template="search_list"#}">更多分类</a>
							<span>
								
								<a href="javascript:;" class="item">
									{#shop action="type" gettype="all" return="type"#}
									{#if $_bindex.type > 7#}
									{#$type.typename#}/
									{#/if#}
									{#/shop#}
								</a>
								
							</span>
						</div>
					</li>
				</ul>

			</div>
		</div>

		<ul class="nav fn-clear">
			<li {#if $pageCurr == "index"#} class="currpage"{#/if#}><a href="{#$shop_channelDomain#}" target="_blank">首页</a></li>

            {#foreach from=$shop_pageTypeConfig name=foo item=pageTypeConfig#}
            {#if $pageTypeConfig.show == 1 && $pageTypeConfig.id == 1#}
			<li {#if $pageCurr == "search_list"#} class="currpage"{#/if#}><a target="_blank" href="{#getUrlPath service="shop" template="search_list" param="ctype=1"#}">本地团购</a></li>
            {#/if#}
            {#/foreach#}
			<li {#if $pageCurr == "bargain_list"#} class="currpage"{#/if#}><a target="_blank" href="{#getUrlPath service="shop" template="bargain_list"#}">砍价狂欢</a></li>
			<li {#if $pageCurr == "qianggou"#} class="currpage"{#/if#}><a target="_blank" href="{#getUrlPath service="shop" template="qianggou"#}">限时抢购</a></li>
			<li {#if $pageCurr == "secKill"#} class="currpage"{#/if#}><a target="_blank" href="{#getUrlPath service="shop" template="secKill"#}">准点秒杀</a></li>
			<li {#if $pageCurr == "pintuan"#} class="currpage"{#/if#}><a target="_blank" href="{#getUrlPath service="shop" template="pintuan"#}">拼团优惠</a></li>
			<!-- <li {#if $pageCurr == "shangquan"#} class="currpage"{#/if#}><a href="{#getUrlPath service="shop" template="shangquan"#}">热门商圈</a></li> -->

			<li {#if $pageCurr == "store"#} class="currpage"{#/if#}><a target="_blank" href="{#getUrlPath service="shop" template="search_list" param="ctype=3"#}">推荐商家</a></li>
			<li {#if $pageCurr == "map"#} class="currpage"{#/if#}><a target="_blank" href="{#getUrlPath service="shop" template="store_map"#}">地图找店</a></li>
			<li {#if $pageCurr == "getQuan"#} class="currpage"{#/if#}><a target="_blank" href="{#getUrlPath service="shop" template="getQuan"#}">领券中心</a></li>
			<li {#if $pageCurr == "news"#} class="currpage"{#/if#}><a target="_blank" href="{#getUrlPath service="shop" template="news"#}">商城资讯</a></li>

		</ul>
	</div>
</div>
{#/if#}
