<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
<title>{#$pagetitle#}</title>
{#$cssFile#}
<script>
var thumbSize = {#$thumbSize#}, thumbType = "{#$thumbType#}",  //缩略图配置
  modelType = "marry", adminPath = "{#$adminPath#}", filter = '{#$filter#}';
  var imglist = {"imgpics": {#$pics#}};
</script>
</head>

<body>
{#if ($typeid=="9")#}

<form action="" method="post" name="editform" id="editform" class="editform">
  <input type="hidden" name="dopost" id="dopost" value="{#$dopost#}" />
  <input type="hidden" name="id" id="id" value="{#$id#}" />
  <input type="hidden" name="token" id="token" value="{#$token#}" />
  <input type="hidden" name="typeid" id="typeid" value="{#$typeid#}" />
  <dl class="clearfix">
    <dt><label for="sort">套餐类型：</label></dt>
    <dd>
      <select name="planmealstyle" id="planmealstyle" class="input-medium">
        {#html_options options=$taocanlist selected=$planmealstyle#}
      </select>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="title">标题：</label></dt>
    <dd>
      <input class="input-xxlarge" type="text" name="title" id="title" value="{#$title#}" data-regex=".{1,60}"/>
      <span class="input-tips"><s></s>请输入2-30字</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt>价格：</dt>
    <dd>
      <div class="input-prepend input-append" style="margin-bottom:0">
        <input class="input-mini" id="price" name="price" type="text" data-regex="0|\d*\.?\d+" value="{#$price#}" />
        <span class="add-on">{#echoCurrency type="short"#}</span>
      </div>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="style">选择风格：</label></dt>
    <dd>
      <select name="style" id="style" class="input-medium">
        {#html_options options=$tclist selected=$style#}
      </select>
      <span class="input-tips"><s></s>请选择风格</span>
    </dd>
  </dl>

  <dl class="clearfix">
    <dt><label for="classification">选择婚礼类别：</label></dt>
    <dd>
      <select name="classification" id="classification" class="input-medium">
        {#html_options options=$hllist selected=$classification#}
      </select>
      <span class="input-tips"><s></s>请选择风格</span>
    </dd>
  </dl>

  <dl class="clearfix">
    <dt><label for="colour">选择颜色：</label></dt>
    <dd>
      <select name="colour" id="colour" class="input-medium">
        {#html_options options=$yslist selected=$colour#}
      </select>
      <span class="input-tips"><s></s>请选择风格</span>
    </dd>
  </dl>
  <dl id="companyInfo" class="clearfix">
    <dt><label for="zjcom">婚嫁公司：</label></dt>
    <dd style="position:static;">
      <input class="input-xlarge" type="text" name="zjcom" id="zjcom" value="{#$zjcom#}" autocomplete="off" />
      <input type="hidden" name="comid" id="comid" value="{#$comid#}" />
      <span class="input-tips"><s></s>请选择所在婚嫁公司</span>
      <div id="comList" class="popup_key"></div>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="tel">联系电话：</label></dt>
    <dd>
      <input class="input-xlarge" type="text" name="tel" id="tel" value="{#$tel#}" data-regex=".{1,60}"/>
      <span class="input-tips"><s></s>请输入联系方式</span>
    </dd>
  </dl>


  <dl class="clearfix">
    <dt>图集：</dt>
    <dd class="listImgBox hide">
      <div class="list-holder">
        <ul id="listSection4" class="clearfix listSection piece"></ul>
        <input type="hidden" name="pics" value='{#$pics#}' class="imglist-hidden">
      </div>
      <div class="btn-section clearfix">
        <div class="uploadinp filePicker" id="filePicker4" data-type="album" data-count="{#$atlasMax#}" data-size="{#$atlasSize#}" data-imglist="imgpics"><div id="flasHolder"></div><span>添加图片</span></div>
        <div class="upload-tip">
          <p><a href="javascript:;" class="hide deleteAllAtlas">删除所有</a>&nbsp;&nbsp;{#$atlasType|replace:"*.":""|replace:";":"、"#}&nbsp;&nbsp;单张最大{#$atlasSize/1024#}M<span class="fileerror"></span></p>
        </div>
      </div>
    </dd>
  </dl>
  <dl class="clearfix" id="type0">
    <dt>上传视频：</dt>
    <dd>
      <input name="video" type="hidden" id="video" value="{#$video#}" />
      <div class="spic{#if !$video#} hide{#/if#}">
        <div class="sholder" id="videoPreview">
          {#if $video != ""#}
          <a href="/include/videoPreview.php?f=" data-id="{#$video#}">预览视频</a>
          {#/if#}
        </div>
        <a href="javascript:;" class="reupload">重新上传</a>
      </div>
      <iframe src ="/include/upfile.inc.php?mod=marry&type=video&obj=video&filetype=video" style="width:100%; height:25px;{#if $video != ""#} display: none;{#/if#}" scrolling="no" frameborder="0" marginwidth="0" marginheight="0"></iframe>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="planner">策划师：</label></dt>
    <dd>
      <select name="planner" id="planner" class="input-medium">
        {#html_options options=$plannerlist selected=$planner#}
      </select>
      <span class="input-tips"><s></s>请选择服装</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="supervisor">督导师：</label></dt>
    <dd>
      <select name="supervisor" id="supervisor" class="input-medium">
        {#html_options options=$supervisorlist selected=$supervisor#}
      </select>
      <span class="input-tips"><s></s>请选择服装</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="host">主持人：</label></dt>
    <dd>
      <select name="host" id="host" class="input-medium">
        {#html_options options=$hostlist selected=$host#}
      </select>
      <span class="input-tips"><s></s>请选择服装</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="photographer">摄影师：</label></dt>
    <dd>
      <select name="photographer" id="photographer" class="input-medium">
        {#html_options options=$photographerlist selected=$photographer#}
      </select>
      <span class="input-tips"><s></s>请选择服装</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="cameraman">摄像师：</label></dt>
    <dd>
      <select name="cameraman" id="cameraman" class="input-medium">
        {#html_options options=$cameramanlist selected=$cameraman#}
      </select>
      <span class="input-tips"><s></s>请选择服装</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="explain">迎宾区：</label></dt>
    <dd><textarea id="explain" name="explain" rows="3" class="input-xxlarge">{#$explain#}</textarea></dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="explain_one">仪式区：</label></dt>
    <dd><textarea id="explain_one" name="explain_one" rows="3" class="input-xxlarge">{#$explain_one#}</textarea></dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="explain_two">婚礼灯光：</label></dt>
    <dd><textarea id="explain_two" name="explain_two" rows="3" class="input-xxlarge">{#$explain_two#}</textarea></dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="dance">舞美道具：</label></dt>
    <dd><textarea id="dance" name="dance" rows="3" class="input-xxlarge">{#$dance#}</textarea></dd>
  </dl>  <dl class="clearfix">
  <dt><label for="buynotice">购买须知：</label></dt>
  <dd><textarea id="buynotice" name="buynotice" rows="3" class="input-xxlarge">{#$buynotice#}</textarea></dd>
</dl>

  <dl class="clearfix">
    <dt><label>特色标签：</label></dt>
    <dd>
      {#foreach from=$tagArr item=item#}
      <label><input type="checkbox" name="tag[]" value="{#$item#}"{#if $tag && in_array($item, $tagSel)#} checked{#/if#} />{#$item#}</label>&nbsp;&nbsp;
      {#/foreach#}
    </dd>
  </dl>

  <dl class="clearfix">
    <dt><label for="click">浏览次数：</label></dt>
    <dd>
      <span><input class="input-mini" type="number" name="click" min="0" id="click" value="{#$click#}" /></span>
      <label class="ml30" for="weight">排序：</label><input class="input-mini" type="number" name="weight" id="weight" min="0" data-regex="[1-9]\d*" value="{#$weight#}" />
      <span class="input-tips"><s></s>必填，排序越大，越排在前面</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="state">显示状态：</label></dt>
    <dd class="radio">
      {#html_radios name="state" values=$stateopt checked=$state output=$statenames separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>

  <dl class="clearfix">
    <dt>图文详情：</dt>
    <dd><script id="note" name="note" type="text/plain" style="width:85%;height:500px">{#$note#}</script></dd>
  </dl>
  <dl class="clearfix formbtn">
    <dt>&nbsp;</dt>
    <dd><input class="btn btn-large btn-success" type="submit" name="submit" id="btnSubmit" value="确认提交" /></dd>
  </dl>
</form>

{#/if#}
{#if ($typeid=="1")#}
{#include file="./hssy.html"#}
{#elseif ($typeid=="2")#}
{#include file="./sheying.html"#}
{#elseif ($typeid=="3")#}
{#include file="./zhubaoshoushi.html"#}
{#elseif ($typeid=="4")#}
{#include file="./shexiang.html"#}
{#elseif ($typeid=="5")#}
{#include file="./xngz.html"#}
{#elseif ($typeid=="6")#}
{#include file="./hslf.html"#}
{#/if#}

{#$editorFile#}
{#$jsFile#}
</body>
</html>
