html{background:#f8f8f8;}
/*.popupRightBottom{display: none;}*/
body{padding-bottom: 1rem;}

/*视频*/
.topSwiper{position: relative;overflow: hidden;height: 3.5rem;}
.topSwiper a.myStore{display: inline-block;position: absolute;top:.3rem;right: .3rem;width: .72rem;height: .72rem;border-radius: 50%;background:rgba(0,0,0,.5) url("../images/myStore.png") no-repeat center center;background-size: .34rem;z-index: 2}

.topSwiper .swiper-slide{height:3.5rem;}
.topSwiper .swiper-slide img{width: 100%;height: 100%;object-fit: cover;}
.topSwiper .swiper-pagination{position: absolute;right: .17rem;bottom:.17rem;left:auto;width:auto; padding: 0 .12rem; line-height:.36rem;text-align:right;background:rgba(0,0,0,.5);color:#fff;border-radius: .4rem;font-size: .2rem;z-index: 9;}
.topSwiper .swiper-pagination .swiper-pagination-total{font-size: .24rem}
.markBox{width:50%;text-align:center;position: absolute;bottom:.24rem;right:25%; z-index: 1;}
.pmark{display:inline-block;width: .8rem;height: .36rem;color:#333;line-height: .38rem;border-radius: .18rem;background: #FFF;margin:0 .16rem;font-size: .2rem;}
.pmark.curr{background:linear-gradient(90deg,rgba(249,55,78,1) 0%,rgba(255,119,119,1) 100%);color:#fff;}
.imgplay{position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);}
.imgplay img{width: 1rem!important;height: 1rem;}
/*全屏*/
.videoModal{width:100%;height:100%;position: fixed;z-index: -1;top: 0;left: 0;bottom:0;opacity: 0;}
.videoModal.vshow{opacity: 1;visibility: visible;z-index:999999 ;transition: all .4s;}
.videoModal .swiper-container{width: 100%;height: 100%;background: #000;}
.videoModal .vClose{position: absolute;top: .22rem;right: .2rem;width: .5rem;height: .5rem;display: block;background: url(../images/vclose.png) no-repeat center center;background-size: .5rem;z-index: 11;}
.videoModal .swiper-pagination{position: absolute;left: 50%;top: .25rem;width: auto;height: .45rem;line-height: .5rem;padding: .04rem .2rem;line-height: .4rem;text-align: right;color: #fff;border-radius: .4rem;font-size: .26rem;z-index: 9;margin-left:-.4rem;}
.videoModal .swiper-slide{width:100%!important;height: 100%}
.videoModal .swiper-slide img{width:100%;height:auto;position: relative;top: 50%; transform: translateY(-50%);-webkit-transform: translateY(-50%);}

.videoModal video{height: 4.4rem;position: absolute;top:50%;margin-top: -2.2rem;}


/*商家信息*/
.planInfo{margin-bottom: .2rem;background: #fff; }
.planInfo .infotop{padding:.24rem ;}
.planInfo .infobtom{padding: .3rem .2rem;border-top: 1px solid #eee;}

.planInfo h2{font-size: .36rem; color: #333;font-weight: bold;}
.planInfo p{font-size: .26rem;}
.planInfo p>span{color: #a6a6a6;margin-right: .1rem;}
.planInfo .addr{float: left;}
.planInfo .addr a{display: block;font-size: .26rem;color: #333;}
.planInfo .addr i.adr_icon{display: inline-block;width: .3rem;height: .3rem;background: url("../images/adr_icon.png") no-repeat;background-size: .3rem;vertical-align: middle;
    margin-top: -.1rem;margin-right: .1rem}

.planInfo .tel{display: inline-block;width: .3rem;height: .3rem;background: url("../images/tel.png") no-repeat;background-size: .3rem;float: right;margin-right: .06rem;}

.planInfo .price{margin-top: .18rem;color: #F9374E;}
.planInfo .price strong{font-size: .36rem;}
.planInfo .price em{font-size: .24rem;}

.planInfo .tip{padding-top: .25rem;}
.planInfo .tip span{border-radius: .06rem;padding: .04rem .1rem;margin-right: .2rem;color: #fff;font-size: .2rem}
.planInfo .tip span.dt{background: #FFB260}
.planInfo .tip span.dl{background:#FD6C6E;}
.planInfo .tip span.gg{background:#6CB7F1;}

h3{font-size: .32rem;padding: .3rem .24rem;font-weight: bold;}
.more{text-align: center;color: #a0a0a0;font-size: .24rem;min-height: .2rem}
.more a{color: #A0A0A0;height: .78rem;line-height: .78rem;border-top: 1px solid #f5f5f7;display: block;}
.more i.rmDown{display: inline-block;width: .22rem;height: .22rem;background: url("../images/more_la.png") no-repeat;background-size: .22rem;    vertical-align: middle;margin-top: -.04rem;margin-left: .04rem}

/*商家介绍*/
.seller-intro{background: #fff;margin-bottom: .2rem;}
.seller-intro .intro-brief{padding: 0 .24rem;font-size: .26rem; color: #333  }
.seller-intro .intro-brief .introBox{    overflow: hidden;font-size: .26rem !important;color: #666 !important;max-height: 3.4rem;}
.seller-intro .intro-brief img{max-width:100%;height:auto;margin: .15rem 0;}
.seller-intro .intro-brief .readMore{margin-top: .25rem;}

.readMore i.rmUp{display: inline-block;width: .18rem;height: .1rem;background: url("../images/icon_la_up.png") no-repeat;background-size: contain;vertical-align: middle;margin-top: -.04rem;margin-left: .04rem}
h3{font-weight: bold;}
/*宴会场地*/
.meal{background: #fff;margin-bottom: .2rem;padding: 0 .24rem;}
.meal h3{padding:.3rem 0 0;color: #333;}
.meal-list li{padding: .3rem 0;border-bottom: 1px solid #f5f5f7;position: relative;}
.meal-list li:active{background: #f8f8f8;}
.meal-list li .img-box{width: 2rem;height: 1.5rem;border-radius: .08rem;overflow: hidden;padding-right: .14rem;position: relative;}
.meal-list li .img-box img{width: 100%;height:100%;border-radius: .08rem;}
.meal-list li .info{position: relative;overflow: hidden;margin-right: 1.5rem}
.meal-list li .info .name{font-size: .28rem; display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;font-weight: bold;}
.meal-list li .info p.table{color: #a0a0a0;padding: .28rem 0 .15rem;font-size: .24rem; }

.meal-list li .info p.high{color: #a0a0a0;font-size: .24rem;}
.meal-list li .info p.high span,.meal-list li .info p.table span{margin-right: .12rem}
.meal-list li:last-child{border-bottom: none;}
.seeD{display: inline-block;width: 1.45rem;height: .6rem;line-height: .6rem;text-align: center;border: 1px solid #F9384D;border-radius: .3rem;font-size: .24rem;color: #F9384F;position: absolute;right: 0;top: .7rem;}
/*婚宴菜单*/
.menu{background: #fff;margin-bottom: .2rem;padding: 0 .24rem;}
.menu h3{padding:.3rem 0 0;}
.menu .menubox{    overflow: hidden;}
.menu .menu-list li{border-bottom: 1px solid #f5f5f7;padding: .25rem 0;font-size: .26rem;}
.menu .menu-list li:active{background: #f8f8f8;}
.menu .menu-list li h4.name{font-size: .28rem;color: #333;}
.menu .menu-list li h4.name span{font-size: .24rem;color: #999;margin-left: .14rem;}
.menu .menu-list li .price{color:#F9374E;font-size: .24rem;font-weight: normal;}
.menu .menu-list li .price em{font-size: .28rem;font-weight: bold;}
.menu .menu-list li .icon_next{display: inline-block;margin:.14rem .04rem 0 .16rem;width: .11rem;height: .18rem;background: url("../images/icon_next_2.png") no-repeat;background-size: contain;}
.menu .menu-list li:last-child{border-bottom: none}

.writeCom{font-size: .24rem;color: #999;position: absolute;right: .24rem;top: .4rem}
.writeCom i{display: inline-block;width: .24rem;height: .24rem;background: url("../images/write.png") no-repeat center center;background-size: .24rem;margin-left: .08rem;vertical-align: middle;margin-top: -.03rem}


/*评论区域*/
.commentBox ,.recomBox{background: #fff;margin-bottom: .24rem;    position: relative;}
.headtop{padding:0 .25rem;}
.commentList{padding:0 .25rem;}
.commentBox ul li {padding:.2rem 0;border-bottom:solid .02rem #dedede;overflow: hidden;}
.commentBox ul li .imgbox{float: left;width: .6rem;height: .6rem;position: relative;border-radius:100%;overflow: hidden;margin-right: .14rem;}
.commentBox ul li .imgbox img{max-width: 100%;max-height: 100%;position: absolute;top:0;left:0;right: 0;bottom: 0;margin:auto;display: block;}
.commentBox ul li .rightInfo{position: relative;overflow: hidden;}
.commentBox ul li .rightInfo h4{font-size: .26rem;color:#5a5c5e;line-height: .4rem;}
.commentBox ul li .rightInfo .txtInfo{font-size: .3rem;color:#393a3b;margin-top: .15rem;}
.commentBox ul li .rightInfo .replyCon{padding:.2rem;background: #f2f3f5;margin:.25rem 0 .3rem;}
.rightInfo .replyCon dl{line-height: .4rem;overflow: hidden;}
.rightInfo .replyCon dl dt{float: left;font-size: .28rem;}
.rightInfo .replyCon dl dd{font-size: .28rem;color:#666;}
.commentBox ul li .rightInfo .rbottom{overflow: hidden;font-size: .24rem;color:#999;}
.rightInfo .rbottom .rtime{float: left;}
.rightInfo .rbottom .rbInfo{float: right;}
.rightInfo .rbottom .rbInfo s{display: inline-block;width: .28rem;height: .26rem;vertical-align: middle;margin-top:-.08rem;margin-right: .05rem;}
.rightInfo .rbottom .rbInfo .btnReply{margin-right: .4rem;}
.rightInfo .rbottom .rbInfo .btnReply s{background: url(../images/ic_reply.png) no-repeat center center;background-size: contain;}
.rightInfo .rbottom .rbInfo .btnUp s{background: url(../images/ic_up.png) no-repeat center center;background-size: cover;}
.rightInfo .rbottom .rbInfo .btnUp.active{color:#fc3a4a;}
.rightInfo .rbottom .rbInfo .btnUp.active s{background: url(../images/ic_up1.png) no-repeat center center;background-size: cover}
.spColor,.pmore{color:#498cde;}
.pmore{font-size: .28rem;display: block;}
.commentBox ul li:last-child{border-bottom: none}
.allmore{padding: 0 .25rem}

/*猜你喜欢*/
.like {background: #fff;padding-bottom: .3rem;margin-bottom: .5rem}
.like h3.tit{padding-bottom: .1rem}
.like ul{padding: 0 .24rem;}
.like ul li{margin-top: .3rem}
.like ul li:active{background: #f8f8f8;}
.like ul li .img{ width: 2.4rem;height: 1.8rem;overflow: hidden;border-radius: .08rem;float: left;margin-right: .2rem;}
.like ul li .img img{width: 100%;height: 100%; object-fit: cover;}
.like ul li .info{position: relative;overflow: hidden;height: 1.8rem;}
.like ul li .name{font-size: .28rem; font-weight: bold;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.like ul li .type{font-size: .24rem; color: #a0a0a0;line-height: 2.2em;margin-bottom: .02rem}
.like ul li .type em{margin-left: .1rem;margin-right: .1rem;    display: inline-block;
    vertical-align: middle;margin-top: -.05rem;}
.like ul li .tip span{border-radius: .06rem;padding: .04rem .1rem;margin-right: .2rem;color: #fff;font-size: .2rem}
.like ul li .tip span.dt{background: #FFB260}
.like ul li .tip span.dl{background:#FD6C6E;}
.like ul li .tip span.gg{background:#6CB7F1;}
.like ul li .area{font-size: .24rem; color: #a0a0a0;position: absolute;bottom: 0;left: 0;right: 0;display: flex;align-items: center;justify-content: space-between;line-height: 1.2em}
.like ul li .area .price{color: #f9374e;}
.like ul li .area .price strong{font-size: .28rem;}
.like ul li .area .price i{font-size: .2rem;font-weight: bold;}
.like ul li .area .price em{font-size: .2rem;color: #A0A0A0}


.loading{height: 1.06rem;line-height: 1.06rem;font-size: .26rem;color: #a6a6a6;text-align: center;}


