/*.popupRightBottom{display: none;}*/
.huoniao_iOS .container{top:0;}

.container {}
.container .item{}
.container .itemTop{height: .87rem;line-height: .87rem;padding: 0 .24rem}
.container .itemTop a{display: block;border-bottom: 1px solid #E5E5E5;overflow: hidden;}
.itemTop h3{display: inline-block;font-size: .28rem;color: #333}
.itemTop span{float: right;color: #F9374E;}
.itemTop span em{font-size: .28rem;font-weight: bold;}
.itemTop s {display: inline-block !important; vertical-align: middle; border-right: 1px solid #999; border-bottom: 1px solid #999; width: .12rem; height: .12rem; transform: rotate(45deg); margin:.3rem 0 0 .13rem ;float: right;}

.container .itemDown{background: #F5F5F5;height: 0;overflow: hidden;}
.container .itemDown p{font-size: .24rem;color: #333;font-weight: bold;padding: .55rem 0 .38rem;text-align: center;}
.container .itemDown ul{padding-top: .18rem;}
.container .itemDown li{font-size: .24rem;color: #666;margin-top: .2rem;text-align: center;}
