.popupRightBottom{display: none;}

.header{    position: fixed;left: 0;right: 0;top: 0;}
/*头部*/
.top_tab{position: fixed;left:0;right: 0;top:.9rem;height: .8rem;line-height: .8rem;border-bottom: 1px solid #ebebeb;background: #fff;z-index: 2}
.huoniao_iOS .top_tab{top: 0}
.top_tab ul{text-align: center;padding: 0 .24rem;z-index: 111;float: left;display: flex;justify-content: space-between;width: 25%;}
.top_tab ul li{font-size: .3rem;position: relative;}
.top_tab ul li.curr{color: #F9374E;font-weight: bold;}
.top_tab ul li.curr:after{content: '';width: .68rem;height: .05rem;border-radius: .03rem;background: #F9374E;position: absolute;bottom: 0;left: 50%;margin-left: -.34rem}
.otherFilter{float: right;}
.otherFilter a{display: inline-block;width: .34rem;height: .34rem;margin-right: .33rem;margin-top: .27rem;}
.otherFilter a.orderby{background: url(../images/zonghe.png) no-repeat center center;background-size: .34rem;}
.otherFilter a.sear{background: url(../images/sear.png) no-repeat center center;background-size: .34rem}
/*综合排序*/
#choose-more{height: 100%;background: #fff;width: 6.6rem!important;position: fixed;top:0;right: -100%;bottom:0; padding: .3rem .26rem;border-radius: .2rem 0 0 .2rem;    z-index: 99999999;box-sizing: border-box;}
#choose-more dl dt{font-size: .32rem;padding: .3rem 0;color: #333}
#choose-more dl{margin-bottom: .3rem}
#choose-more dd a{float: left;width: 1.84rem;height: .6rem;border-radius: .3rem;line-height: .6rem;text-align: center;font-size: .24rem;color: #636466;background: #F5F6F8;margin-right: .28rem;margin-bottom: .2rem}
#choose-more dd a:nth-child(3n){margin-right: 0}
#choose-more dd a.chosed{background: #F9384D;color: #fff;}
.choose-more-search{height: 95%;overflow-y: auto;}
.choose-more-search::-webkit-scrollbar { display: none }
#choose-more dt span{font-size: .24rem;color: #97989C;float: right;margin-right: .1rem}
#choose-more dt span:after{content: '';display: inline-block; vertical-align: middle; border-right: 1px solid #BABBBF; border-bottom: 1px solid #BABBBF; width: .12rem; height: .12rem; transform: rotate(45deg); margin:-.15rem 0 0 .1rem ;}


.confirm{z-index: 9;position: absolute;bottom:0;right:0;left: 0;display: flex;justify-content: space-between;  }
.confirm a{display:inline-block;color: #000;width: 50%;height: .92rem;line-height:.92rem;text-align: center;box-sizing: border-box;font-size:.32rem;font-weight: bold;background: #fff}
.confirm a.btn_reset{ box-shadow:0px -3px 13px 0px rgba(0, 0, 0, 0.07);color: #636466}
.confirm a.btn_confirm{background:linear-gradient(90deg,rgba(250,99,89,1) 0%,rgba(249,56,77,1) 100%);color: #fff;}

/*价格区间样式*/
.choose-price-user .irs--big .irs-line{height: .08rem !important; border-radius: .04rem !important; border: none !important;}
.choose-price-user .irs--big .irs-bar{height: .08rem !important; border-radius: .04rem !important; background: #F9384D !important; border: none; box-shadow: none;}
.choose-price-user .irs--big .irs-handle{width: .8rem !important; height: .8rem !important; background:url("../images/btn_price.png") no-repeat ; background-size: contain;border: 0  !important; box-shadow: none !important; top: .36rem;}
.choose-price-user .irs--big .irs-bar.state_hover, .irs--big .irs-handle:hover{ background: none; background:url("../images/btn_price.png") no-repeat !important; background-size: contain !important; border: 0 !important;}
.irs-grid{display: none !important;}
.irs--big .irs-min, .irs--big .irs-max{display: none;}
.irs--big .irs-from, .irs--big .irs-to, .irs--big .irs-single{background: none; color: #a0a0a0;}
.price_text{display: inline-block; margin-left: .2rem;font-size: .28rem;color: #F9384D;float: right;}


.container{padding-top: 1.75rem}
.huoniao_iOS .container{padding-top: .75rem}
/*.list{padding:.2rem 0;}*/
/*套餐列表*/
.list li.mealLi{position: relative;margin: 0 .24rem 1.2rem}
.list li.mealLi:first-child{margin-top: .2rem}
.list li.mealLi span.tj{position: absolute;left: 0 ;top: .26rem;display: inline-block;background:linear-gradient(90deg,rgba(246,44,92,1) 0%,rgba(250,137,119,1) 100%);height: .48rem;line-height: .5rem;border-radius: 0 .24rem .24rem 0;padding: 0 .24rem 0 .2rem;font-size: .24rem;color: #fff}
.list li.mealLi span.clafy{position: absolute;right: .3rem ;top: .3rem;display: inline-block;background:rgba(0,0,0,.5);height: .34rem;line-height: .36rem;border-radius: .17rem;padding: 0 .16rem;font-size: .2rem;color: #fff}
.list li.mealLi .topImg{width: 100%;height: 5.26rem;border-radius: .2rem;overflow: hidden;}
.list li.mealLi .topImg img{width: 100%;height: 100%;object-fit: cover;}
.list li.mealLi .mealInfo {position: absolute;left: .3rem;right: .3rem;top:4.35rem; background: #fff;box-shadow:0px 7px 16px 0px rgba(31,31,31,0.11);padding: .2rem .2rem .25rem;border-radius: .2rem}
.list .mealInfo h2{max-width: 4.7rem;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-size: .28rem;color: #333;font-weight: bold;}
.list .mealInfo .addr{margin-top: .1rem;font-size: .24rem;color: #A0A0A0;}
.list .addr em{display: inline-block;height: .24rem;width: .01rem;background: #A0A0A0;vertical-align: middle;margin-top: -.02rem;margin-left: .1rem;margin-right: .1rem}
.list .other{margin-top: .2rem;}
.list .other span{display: inline-block;height: .36rem;line-height: .38rem;border-radius: .18rem;padding: 0 .16rem;margin-right: .1rem;font-size: .2rem;color: #fff;}
.list .other span.chaozhitejia{background:linear-gradient(90deg,rgba(246,44,92,1) 0%,rgba(250,137,119,1) 100%);}
.list .other span.renqituijian{background:linear-gradient(90deg,rgba(15,189,171,1) 0%,rgba(31,218,181,1) 100%);}
.list .other span.benjiremai{background:linear-gradient(90deg,rgba(15,137,241,1) 0%,rgba(35,185,255,1) 100%);}
.list .other span.same{background: #FEEBED;color: #F93A4D;}

.list .other strong.pri{font-size: .3rem;color: #F9374E;float: right;}
/*商家列表*/
.list li.storeLi{border-bottom: 1px solid #E5E5E5;padding: .3rem .24rem;position: relative;}

.list li.storeLi .leftImg{width: 1.2rem;height: 1.2rem;border-radius: .08rem;overflow: hidden;float: left;margin-right: .16rem}
.list li.storeLi .leftImg img{width: 100%;height: 100%;object-fit: cover;}
.list li.storeLi .rightb{margin-left: 1.36rem}
.list li.storeLi .sName{font-size: .28rem;font-weight: bold;color: #333;    max-width: 82%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.list li.storeLi .sPrice{font-size: .28rem;color: #F9374E;margin-top: .1rem;font-weight: bold;}
.list li.storeLi .sPrice em{font-size: .2rem;color: #A0A0A0;}
.list li.storeLi .sInfo{font-size: .24rem;color: #A0A0A0;margin-top: .1rem}
.list li.storeLi .sInfo em{margin-right: .2rem;margin-left: .2rem;}
.list li.storeLi dl{float: left;margin-right: .1rem;margin-top: .28rem}
.list li.storeLi dl:nth-child(3n){margin-right: 0}
.list li.storeLi dl dt{width: 1.82rem;height: 1.35rem;border-radius: .06rem;overflow: hidden;}
.list li.storeLi dl dt img{width: 100%;height: 100%;object-fit: cover;}
.list li.storeLi dl dd{font-size: .24rem;color: #F9374E;font-weight: bold;margin-top: .1rem}
.list li.storeLi .rCall{position: absolute;right: .24rem;top: .56rem;display: block;width: .8rem;height: .8rem;border-radius: 50%;border: .02rem solid #F9374E;background: url(../images/rcall.png) no-repeat center center;background-size: .38rem}

.mask {position: fixed;left: 0;top: 0;width: 100%;height: 100%;transition: all 0.5s;background: rgba(0,0,0,0.6);opacity: 1;z-index:100;-webkit-backface-visibility: hidden;-webkit-transform-style: preserve-3d;}
.mask-hide,.fn-hides{display: none;}
.mask.spe{z-index: 1000000}