html,body{width:100%; min-height: 100%;}
.fixed{top: 0;left: 0; right: 0; position: fixed;}

.search_icon{width: 1rem; height: .58rem; position: relative; display: block; border-radius: .29rem 0 0 .29rem; position: absolute; right: 0; top: .11rem; box-shadow: -.03rem .03rem .13rem rgba(255,1,0,.23);
background: -webkit-linear-gradient(-35deg,  #ff7b63 , #ff4849); /* Safari 5.1 - 6.0 */
background: -o-linear-gradient(-35deg,  #ff7b63, #ff4849); /* Opera 11.1 - 12.0 */
background: -moz-linear-gradient(-35deg,  #ff7b63, #ff4849); /* Firefox 3.6 - 15 */
background: linear-gradient(-35deg,#ff7b63, #ff4849); }
.search_icon:after{content: '' ; display: block; width: .4rem; height: .58rem; background: no-repeat url(../images/search_icon1.png); background-size: .4rem auto; background-position:center; position: absolute; left: .28rem; top: 0;}

/*搜索页*/
.search_page{width: 100%; height: 100%; background-color: #fff; position: fixed; top: 0; left: 0; right: 0; display: none; z-index: 9;}
.search_box{height:.88rem; padding-top: .9rem; box-shadow: 0 .03rem 0 rgba(25,30,59,.05); position: relative;}
.huoniao_iOS .search_box{padding-top: 0; float: left; width: 100%;}
.form_search{margin:.15rem 1.2rem 0 .24rem ; border-radius: .29rem; height: .58rem;background:no-repeat .3rem center url(../images/search_icon.png); background-size: .32rem; background-color: #f5f6f8;}
.form_search input{width: 100%; padding-left: .8rem; padding-right: .2rem; box-sizing: border-box;border: none; background: none; font-size: .26rem; line-height: .4rem;margin-top: .1rem;}
.form_search input::-webkit-input-placeholder{color: #a6a7ab;}
.search_box .chose_type{float: left; margin-left: .3rem; font-size: .28rem;}
.search_box .chose_type:after{content: ''; display: inline-block; width: 0; height: 0; border-top: solid .08rem #333;border-bottom: solid .08rem rgba(0,0,0,0); border-left: solid .08rem rgba(0,0,0,0); border-right: solid .08rem rgba(0,0,0,0); margin-left: .14rem; margin-top: .2rem;}
.search_box .cancel_btn{float: right; margin-right: .3rem; font-size: .3rem;}
.search_box span{color: #333; line-height: .88rem;}
.chose_box{position: absolute; width: 1.6rem; height: 2rem; border-radius: .2rem; border: solid .01rem #ebeced; background: #fff; box-shadow: 0 .03rem .13rem rgba(25,30,59,.05); left: .3rem; padding:0 .3rem;box-sizing: border-box; text-align: center; font-size: .3rem ; color: #333; display: none;}
.chose_box li{border-bottom: solid .02rem #ebeced; height: 50%; line-height: 1rem;}
.chose_box li:nth-last-child(1){border: none;}

/*搜索列表*/
.search_result ul li{border-bottom: solid .02rem #ebebed;padding: .3rem .4rem .3rem .3rem; overflow: hidden;}
.search_result ul li:before{content: ''; display: inline-block; width: .36rem; height: .36rem; background: url(../images/clock_1.png) no-repeat center; margin-right: .15rem; background-size: cover;vertical-align: middle;}
.search_result ul li:nth-last-child(1){border: none;}
.search_result ul li a{font-size: .3rem; color: #313233; vertical-align: middle; line-height: .36rem;}
.search_result ul li i{width: .36rem; height: .36rem; display: inline-block; background:url(../images/del_btn.png) no-repeat center ; background-size: cover; float: right; margin-top: .02rem;}

