html,body{background-color: #F5F5F7;}

.save_btn{display: block; position: fixed; left: 0; right: 0; bottom: 0; height: 1rem; color: #fff; font-size: .3rem; font-weight: bold; background: linear-gradient(90deg, #F9374E 0%, #FC6150 100%); line-height: 1rem; text-align: center;padding-bottom:calc(-.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.3rem + env(safe-area-inset-bottom));}

.albumList {padding-bottom: 1.5rem;}
.albumList .albumbox{background-color: #fff; margin-top: .2rem;padding: 0 .3rem; padding-bottom: .3rem;}
.albumList .albumbox dt {display: flex; align-items: center; justify-content: space-between; height: .94rem;}
.albumList .albumbox dt .album_title{font-size: .36rem; color: #000; font-weight: bold;}
.albumList .albumbox dt .albumbtns{display: flex; align-items: center; }
.albumList .albumbox dt .albumbtns a{display: block; width: .48rem; height: .48rem; background: url(../images/business_config/upsort.png) no-repeat center/cover; margin-left: .23rem;}
.albumList .albumbox dt .albumbtns a.downSort{background-image: url(../images/business_config/downsort.png) ;}
.albumList .albumbox .photos li{display: block; width: 1.6rem; height: 1.6rem; border-radius: .1rem; float: left; background-color: #f5f5f5; }
.albumList .albumbox .photos li.photo {margin-right: .1rem;}
.albumList .albumbox .photos li.photo img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: .1rem;}
.albumList .albumbox .photos li.photo:nth-child(3){margin-right: .2rem;}
.albumList .albumbox .photos li.more{ background: url(../images/business_config/pbg.png) no-repeat center/cover;}
.albumList .albumbox .photos li.more a{display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; color: #fff; flex-direction: column;}
.albumList .albumbox .photos li.more h4{font-size: .28rem; font-weight: bold;}
.albumList .albumbox .photos li.more p{font-size: .24rem;}
.albumList .albumbox:first-of-type .upSort,
.albumList .albumbox:last-of-type .downSort{display: none;}
.loading{font-size: .26rem; text-align: center; color: #676767; padding: .6rem;}
.pop_mask{position: fixed; left: 0;right: 0; top: 0; bottom: 0; background: rgba(0,0,0,.5); z-index: 100001; display: none;}
.pop{ height: 3.3rem; left: 0; right: 0; background-color: #fff; border-radius: .4rem .4rem 0 0; box-shadow: 0 .07rem .23rem 0 rgba(0, 0, 0, 0.1); z-index: 100002; bottom: 0; position: fixed; transition: transform .3s; opacity: 0; transform: translateY(3.3rem);}
.pop h4{color: #949599; font-size: .28rem; display: flex; align-items: center; justify-content: space-between; line-height: 1.04rem; padding: 0 .64rem;}
.pop h4 .cancel_btn{color: #949599; font-size: .3rem; font-weight: bold;}
.pop h4 .sure_btn{color: #010101; font-size: .3rem; font-weight: bold;}
.pop .inpbox{margin: .38rem .35rem .35rem; height: 1rem; border: solid 1px #D5D5D5; border-radius: .1rem;}
.pop .inpbox input{border: none; height: 1rem; font-size: .3rem; box-sizing: border-box; padding-left: .26rem; background: none; width: 100%;}
.pop .inpbox input::placeholder{color: #ccc;}


.slide-top {
	-webkit-animation: slide-top 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-bottom {
	-webkit-animation: slide-bottom 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bottom 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          display: block;
}
.slide-out-top {
  -webkit-animation: slide-out-top 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
          animation: slide-out-top 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
          display: block;
}
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1.425rem);
            transform: translateY(-1.425rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1.425rem);
            transform: translateY(-1.425rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}


@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1.425rem);
            transform: translateY(-1.425rem);
    opacity: 0;
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1.425rem);
            transform: translateY(-1.425rem);
    opacity: 0;
  }
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-3.035rem);
            transform: translateY(-3.035rem);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-3.035rem);
            transform: translateY(-3.035rem);
  }
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(3.035rem);
            transform: translateY(3.035rem);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(3.035rem);
            transform: translateY(3.035rem);
  }
}



/* 发布照片 */
.photoList li{float: left; width: 2.2rem; height: 2.2rem; background-color: #fff; border-radius: .1rem; margin-top: .2rem; margin-right: .14rem; position: relative;}
.photoList li:nth-of-type(3n){margin-right: 0;}
.photoList li.upload_btn{box-sizing: border-box; border: dashed 1px #E5E5E5; display: flex; align-items: center; justify-content: center; flex-direction: column; color: #B5B5B5; font-size: .24rem !important;}
.photoList li.upload_btn .webuploader-pick{font-size: .24rem !important; line-height: 1.5em; height: .5rem; color: #B5B5B5;}
.photoList li.upload_btn>div:not(.webuploader-pick){left: 0; right: 0; top: 0; bottom: 0; width: 100%; height: 100%;}
.photoList li.upload_btn::before{content: ''; display: block; width: .74rem; height: .64rem; background: url(../images/business_config/img_icon.png) no-repeat center/cover; margin-bottom: .15rem;}
.photoList ul{margin: 0 .3rem;}
.photoList li img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: .1rem;}
.photoList li .btns{position: absolute; right: .1rem; top: .1rem;}
.photoList li a.fn-hide{display: none !important;}
.photoList li .del_img{display: block; width: .34rem; height: .34rem; background: url(../images/business_config/del_img.png) no-repeat center/cover; }
.photoList li .tochose{display: block; width: .34rem; height: .34rem; background: url(../images/business_config/chose.png) no-repeat center/.32rem; }
.photoList li.active .tochose{background-image:url(../images/business_config/gou.png) ;}
.loadingIcon{display: block; width: 1.1rem; height: 1.1rem; border-radius: .3rem;  background: rgba(0,0,0,.9) ; background-size: .5rem; position: fixed; left: 0; right: 0; margin: auto; top: 50%;}
.loadingIcon::before{content: ''; background: url(../images/business_config/loading.png) no-repeat center; background-size: .5rem; position: absolute; left: 0; right: 0; margin: auto; top: 0; bottom: 0; animation:rotate_ 1s infinite linear;}

@keyframes rotate_{
	0%{ transform: rotate(0deg);}
	50%{ transform: rotate(180deg);}
	100%{ transform: rotate(360deg);}
}

.btnsbox{background-color: #fff; position: fixed; left: 0; right: 0; bottom: 0; height: 1rem;}
.btn_group{display: flex; align-items: center; text-align: center; font-size: .24rem; color: #3B3B3B;}
.btn_group.fn-hide{display: none;}
.btn_group li{display: flex; align-items: center; justify-content: center; flex-direction: column; height: 1rem; margin: 0 .5rem;}
.tjBtn,.error{display: none;}
.btn_group li::before{content: ''; display: block; width: .4rem; height: .4rem; background: url(../images/business_config/rename.png) no-repeat center/cover;}
.btn_group li.manage::before{background-image: url(../images/business_config/manage.png);}
.btn_group li.del_album::before{background-image: url(../images/business_config/del_album.png);}

.pilia_btns{display: flex; align-items: center; justify-content: space-between;}
.pilia_btns .all_chose{font-size: .3rem; color: #333; display: flex; align-items: center; justify-content: center; line-height: 1rem; margin-left: .3rem;}
.pilia_btns .all_chose::before{content: '';display: block; width: .32rem;height: .3rem; box-sizing: border-box; border: solid 1px #ddd; border-radius: 50%;margin-right: .14rem; }
.pilia_btns .all_chose.active::before{border: none; background:url(../images/business_config/gou.png) no-repeat center/.32rem;}
.pilia_btns .piliang_op a{min-width: 1.46rem; height: .6rem; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: solid 1px #eee; border-radius: .3rem; padding: 0 .3rem; margin-left: .2rem; color: #666; font-size: .26rem;}
.pilia_btns .piliang_op a.del_imgs::before{content: ''; display: block; width: .34rem; height: .34rem; background: url(../images/business_config/del_btn.png) no-repeat center/.34rem; margin-right: .06rem;}
.pilia_btns .piliang_op{display: flex; align-items: center; margin-right: .14rem;}




/*删除 弹出层*/
.delMask{position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,.57);z-index: 999;display: none;}
.delMask.show{display: block;}
.delAlert{position: fixed;top: 50%;left: 0;right: 0;z-index: 1000;overflow: hidden;height: 2.8rem;margin-top: -1.4rem;text-align: center;display: none;pointer-events: none;-webkit-animation: popup .3s ease-out; -moz-animation: popup .3s ease-out; animation: popup .3s ease-out; transform-origin: center !important;}
.delAlertCon{background: #fff;box-shadow:0px 7px 37px 0px rgba(0, 0, 0, 0.13);border-radius:.3rem;min-width: 4.8rem;display: inline-block;pointer-events: auto;transform-origin: center !important;}
.delAlertCon>div{padding: .55rem .4rem .48rem}
.delAlert h2.delTile{font-size: .32rem;font-weight: bold;text-align: center;}
.delAlert p{font-size: .24rem;color: #333;text-align: center;margin-top: .05rem}
.delAlert ul{border-top: 1px solid #f5f5f7;}
.delAlert ul li{float: left;width: 50%;box-sizing: border-box;height: .86rem;line-height: .86rem;font-size: .3rem;font-weight: bold;text-align: center;}
.delAlert ul li a{display: block;color: 000;}
.delAlert ul li a.sureDel{color: #3B7CFF}
.delAlert ul li.firLi{border-right: 1px solid #f5f5f7}


/* 视频 */
.videoList {padding-bottom: 1rem;}
.videoList li{background-color: #fff; margin-top: .2rem;}
.videoList li .video_info{display: flex;align-items: center; padding: .3rem; position: relative; border-bottom: solid 1px #f5f5f7;}
.videoList li .video_info .vimg{width: 1.6rem; height: 1.2rem; background-color: #f5f5f5; border-radius: .1rem; margin-right: .2rem; overflow: hidden;}
.videoList li .video_info .vimg img{display: block; width: 100%; height: 100%; object-fit: cover;}
.videoList li .video_info .vinfo h3{font-size: .36rem; color: #000; font-weight: bold;}
.videoList li .video_info .vinfo .vclick_num{ color: #666; font-size: .26rem; display: flex; align-items: center; margin-top: .27rem;}
.videoList li .video_info .vinfo .vclick_num::before{content: ''; display: block; width: .32rem; height: .32rem; background: url(../images/business_config/read.png) no-repeat center/cover; margin-right: .1rem;}
.videoList li .video_info .vinfo .pubtime{position: absolute; right: .3rem; bottom: .4rem; font-size: .28rem ;color: #999;}

.videoList .btnsGroup{display: flex; align-items: center; justify-content: flex-end; padding: .2rem .28rem;} 
.videoList .btnsGroup .btn{font-size: .26rem; color: #666; min-width: 1.47rem; height: .6rem; border-radius: .3rem; box-sizing: border-box; border: solid 1px #eee; display: flex; align-items: center; justify-content: center; margin-left: .2rem;}
.videoList .btnsGroup .btn::before{content: ''; display: block; width: .34rem; height: .34rem; background: url(../images/business_config/del_btn.png) no-repeat center/cover; margin-right: .1rem;}
.videoList .btnsGroup .btn.edit_btn::before{background-image:  url(../images/business_config/edit.png);}
