html, body {/*height: 100%;*/ background: #F5F5F7}
body{padding-bottom: 1rem; padding-bottom: calc(1rem + constant(safe-area-inset-bottom));}
.mbsc-fr-lock .gz-address,.mbsc-fr-lock .gz-addr-wrap{position: static;}
/*基本资料*/
#propage{background: url(../images/shop/pro_bg.png) top center no-repeat;background-size: 100% auto;}
.modPro{padding: .35rem .2rem 0;}
.modPro .pro1{background: #fff;border-radius: .2rem;padding: .27rem .24rem }
.modPro .leftMod{}
.modPro .leftMod p{}
.modPro .leftMod p:first-child{margin-bottom: .1rem;}
.modPro .leftMod p em{font-size: .24rem;color: #999}
.modPro .leftMod p span{font-size: .28rem;color: #222;margin-left: .16rem;}
.modPro .changeMod{display: inline-block;width: 1.48rem;text-align: center;line-height: .58rem;background: #3478FF;border-radius: .1rem;font-size: .24rem;color: #fff;margin-top: .16rem}
.noMod .formWrap:first-of-type{margin-top: 0; border-radius: 0 0 .2rem .2rem}
.formWrap{background: #fff;border-radius: .2rem;margin-top: .35rem;overflow: hidden;}
.img-box .tit{font-size: .28rem;color: #333;font-weight: bold;padding: .28rem .3rem 0;}
/* 上传图片 */
.img-box {padding-bottom: .4rem; position: relative; background: #fff; border-bottom: 1px solid #f5f5f7;}
.img-box ul {padding-left: .22rem;}
.img-box li {position: relative; float: left; margin: 15px 15px 0 0; width: 1.4rem; height: 1.4rem; background: #fff; border-radius: .08rem;}

/* 上传按钮 */
.img-box li.uploadbtn {box-shadow: none; width: 1.4rem; height: 1.4rem; border: 2px dashed #e5e5e5;    box-sizing: border-box;}
.img-box li.uploadbtn p {line-height: 55px; text-align: center; font-size: 90px; color: #e5e5e5;}
.webuploader-element-invisible {position: absolute !important; clip: rect(1px,1px,1px,1px);}
/*.webuploader-container div {width: 1.4rem; height: 1.4rem;}*/

/* 图片队列 */
.img-box .imgtip{color: #d0d0d0; font-size: 0.3rem; position: absolute; left: 110px; top: 40px;}
.img-box .thumbnail img {width: 100%; height: 100%; display: block; background-repeat: no-repeat; background-size: cover; background-position: center 20%;}

.img-box .thumbnail .file-panel {position: absolute; top: -.16rem; right: -.09rem;}
.img-box .thumbnail .file-panel .cancel {width: .36rem;height: .36rem; background: url(../images/shop/delbtn.png) center center no-repeat;background-size: cover;display: inline-block;}
.img-box dl{margin-left: .33rem;}
.img-box .logo_container{margin-top: .38rem;}
.img-box .logo_container .input-img{width: 1.4rem; height: 1.4rem; font-size: .2rem; color: #B5B5B5; font-weight: 500; text-align: center; display: flex; align-items: center; justify-content: center; flex-direction: column; position: relative; background-color: #F8F8F8; border: 1px solid #E5E5E5;border-radius: .08rem;}
.img-box .logo_container .input-img::before{content: ''; display: block; width: .5rem; height: .5rem; background:  url(../images/marry/marryAdd.png) no-repeat center/cover; margin-bottom: .14rem;}
.img-box .logo_container .input-img input,.img-box .logo_container .input-img label{opacity: 0; position: absolute; left: 0; right: 0; top: 0; bottom: 0;}

.img-box .logoshow{width: 1.4rem; height: 1.4rem;margin-top: .38rem; position: relative;}
.img-box .logoshow img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: .08rem;}
.img-box .logoshow .del_btn{display: block; width: .36rem; height: .36rem; background: url(../images/shop/delbtn.png) center center no-repeat;background-size: cover; position: absolute; top: -.13rem; right: -.09rem; }


.img-box .thumbnail .progress {position: absolute; right: 4px; bottom: 4px; height: 3px; left: 4px; height: 4px; overflow: hidden; z-index: 15; margin:0; padding: 0; border-radius: 0; background: transparent;}
.img-box .thumbnail .progress span {display: block; overflow: hidden; width: 0; height: 100%; background: #499c00 url('/static/js/webuploader/progress.png') repeat-x; -webit-transition: width 200ms linear; -moz-transition: width 200ms linear; -o-transition: width 200ms linear; -ms-transition: width 200ms linear; transition: width 200ms linear; -webkit-animation: progressmove 2s linear infinite; -moz-animation: progressmove 2s linear infinite; -o-animation: progressmove 2s linear infinite; -ms-animation: progressmove 2s linear infinite; animation: progressmove 2s linear infinite; -webkit-transform: translateZ(0);}
@-webkit-keyframes progressmove {
    0% {background-position: 0 0;}
    100% {background-position: 17px 0;}
}
@-moz-keyframes progressmove {
    0% {background-position: 0 0;}
    100% {background-position: 17px 0;}
}
@keyframes progressmove {
    0% {background-position: 0 0;}
    100% {background-position: 17px 0;}
}

.f-item {background:#fff;font-size:.28rem;height:1rem;line-height:1rem;padding:0 .3rem;border-bottom: 1px solid #f5f5f7}
.f-item em {display:inline-block;font-size:.28rem;width:1.3rem;overflow:hidden;height:1rem;float:none;vertical-align:middle;color: #333;font-weight: bold;}
.f-item input {width:5.6rem;text-align:right;border:none;outline:none;background:none;font-size: .26rem;color: #333;    box-sizing: border-box;}
.f-item input::placeholder{color: #A0A0A0}

.f-item.indusel{position: relative;}
.f-item.indusel em{float: left;}
.f-item.indusel input{padding-right: .26rem;}
.f-item.indusel::before {content:"";position:absolute;right:.24rem;top:.4rem;width: .22rem;height: .22rem; background: url(../images/shop/arr2.png) center center no-repeat;background-size: cover;}
.ChoiceBox {background:#fff;height:1rem;line-height:1rem;padding:0 .3rem;font-size:.28rem;border-bottom: 1px solid #f5f5f7;position: relative;}

.ChoiceBox span {display:inline-block;width:1.5rem;font-size:.28rem;overflow:hidden;height:1rem;float:left;color: #333;font-weight: bold;}
.ChoiceBox .ChoiceBox_input {text-align:right;width:5.4rem;display:inline-block;font-size:.26rem;position:relative;padding-right:.26rem;color: #333;box-sizing: border-box;}
.ChoiceBox .ChoiceBox_input em {color:#909090;}
.ChoiceBox .ChoiceBox_input:before {content:"";position:absolute;right:0;top:.4rem;width: .22rem;height: .22rem; background: url(../images/shop/arr2.png) center center no-repeat;background-size: cover;}
.ChoiceBox .chose_area{float: right;margin-right: 1rem;}
.ChoiceBox .chose_area p{color: #333;}
.ChoiceBox .map_detail{position: absolute;right: .3rem;top: 0;display: flex;align-items: center;}
.ChoiceBox .map_detail s{display: inline-block;width: .28rem;height: .28rem;background: url(../images/shop/adrpos.png) no-repeat center center;background-size: .28rem;}
.ChoiceBox .map_detail em{font-size: .26rem;color: #777}

.f-item.addressItem{display: flex;align-items: center;min-height: 1rem;height: auto;}

.f-item .txt{font-size: .26rem;color: #333;line-height: .4rem;float: right;text-align: right;width: 5.6rem;}
.f-item .txt:empty:before{content: attr(placeholder);color: #A0A0A0;}
.f-item .txt:focus{ content:none;}
.mobileSelect-show .content{border-radius: .3rem .3rem 0 0;overflow: hidden;}
.mobileSelect .content .btnBar{background: #F7F8FA;border-bottom: none;height: 1rem;line-height: 1rem;}
.mobileSelect .content .btnBar .cancel{font-size: .28rem;color: #999;font-weight: bold;}
.mobileSelect .content .btnBar .title{font-size: .28rem;color: #999}
.mobileSelect .content .btnBar .ensure{font-size: .28rem;color: #3378FF;font-weight: bold;}


.nextStep,.tjBtn{margin: .37rem .3rem;padding-bottom: 1rem;}
.nextStep a,.tjBtn a{display: block;width: 100%;background: linear-gradient(90deg, #407FFF 0%, #3377FF 100%);line-height: .8rem;text-align: center;font-size: .32rem;color: #fff;font-weight: bold;border-radius: .4rem;}
/* 地图 */
.pageitem {display: none; height: 100%; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 50; background: #fff;}

.lead{ position: relative; text-align: center; height: 1rem; line-height: 1rem; background: #fff; margin-bottom: 0.2rem;}
.lead p{ width: .5rem; height: .5rem; position: absolute; left: .15rem; top: .25rem; background: url(../images/Arrow_left.png) no-repeat center; background-size: .4rem;}
.lead span{ font-size: .36rem;}
.lead b a{ position: absolute; right: 0.1rem; top: 0rem; color: #e83829; font-size: 0.28rem; width: 1rem;}

.lead input { height: .7rem; border: 1px solid #e8e8e8; border-radius: 0.1rem; width: 75%; margin-left: 0.2rem; padding-left: 0.5rem; background: url(../images/search_1.png) no-repeat 0.1rem; background-size: .4rem; text-indent: 0.2rem; font-size: 0.28rem;}

.map { position: relative; width: 100%; height: 5.5rem; background: #ccc; margin-top: -.2rem;}
#mapdiv { position: absolute; left: 0; right: 0; top: 0; bottom: 0; z-index: 1;}
.mapcenter { position: absolute; z-index: 2; left: 50%; top: 50%; width: .6rem; height: .6rem; margin: -.4rem 0 0 -.3rem; background: url('../images/local.png'); background-size: cover;}

.mapresults { display: none; position: absolute; top: 6.5rem; left: 0; right: 0; bottom: 0; background: #fff; overflow-y: auto; -webkit-overflow-scrolling: touch;}
.mapresults li { position: relative; padding: .1rem .2rem .1rem .6rem; border-bottom: 1px solid #efefef;}
.mapresults li:before { position: absolute; content: ""; left: .1rem; top: .2rem; width: .4rem; height: .4rem; background: url('../images/local.png'); background-size: cover;}
.mapresults li h5 { font-size: .3rem; line-height: .5rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.mapresults li p { font-size: .24rem; color: #999; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.elseStreet { display: block; width: 80%; margin: .3rem auto; border: 2px solid #f00; height: .6rem; line-height: .6rem; border-radius: .5rem; color: #f00; font-size: .3rem; text-align: center;}
.tangram-suggestion-main{z-index: 999;}





/*选择区域 -0- 样式修改*/
.gz-addr-seladdr dd{padding-right: 0}
.gz-sel-addr{border-radius: .4rem .4rem 0 0;}
.gz-sel-addr .gz-sel-addr-header{text-align: center;position: relative;padding: .4rem 0 .34rem;height: auto;line-height: 1;}
.gz-sel-addr .gz-sel-addr-header h3{display: inline-block;font-size: .36rem;color: #212121;font-weight: bold;position: relative;left: auto;right: auto;top: auto;bottom: auto;}
.gz-sel-addr .gz-sel-addr-header a.sureAddrid{font-size: .26rem;color: #000;position: absolute;right: .4rem;top: .48rem;}
.gz-sel-addr .gz-sel-addr-header a.cancelAddrid{position: absolute;top: .48rem;left: .4rem;font-size: .26rem;color: #999;}
.showAddr .gz-address{z-index:99999;}


.mbsc-fr-btn-cont{height: 1rem; background: #F7F8FA !important; border-radius: .2rem .2rem 0 0 ; overflow: hidden; border: none !important; }
.mbsc-ios .mbsc-fr-btn{line-height: 1rem;}
.mbsc-fr-popup.mbsc-ltr{background-color: #fff;border-radius: .2rem .2rem 0 0 ; overflow: hidden;}
.mbsc-calendar{position: relative; z-index: 999999; background-color: #fff;  overflow: hidden;}
.mbsc-fr-overlay{background: rgba(0,0,0,.5) !important;}
.mbsc-fr-popup{z-index: 99;}
.mbsc-ios .mbsc-range-btn-t {display: flex; height: 1rem; border-bottom: solid 1px #E6E7ED;}
.mbsc-ios .mbsc-range-btn-end,.mbsc-ios  .mbsc-range-btn-start{width: 50%; border: none; }
.mbsc-ios .mbsc-sc-itm .mbsc-sc-whl-c{font-size: .32rem !important;}
.mbsc-ios .mbsc-range-btn-v{background-color: #fff; left: 0; right: 0; top: 0; bottom: 0;text-align: center; line-height: 1rem;}
.mbsc-ios.mbsc-calendar .mbsc-fr-persp .mbsc-fr-w{background: #fff;  }
.mbsc-ios .mbsc-sc-whl-o, .mbsc-ios.mbsc-calendar .mbsc-sc-whl-o,.mbsc-ios.mbsc-fr-top .mbsc-sc-whl-o, .mbsc-ios.mbsc-fr-bottom .mbsc-sc-whl-o{background: none;}
.mbsc-ios .mbsc-fr-btn-w.mbsc-fr-btn-s .mbsc-fr-btn{color: #3478FF; padding:0 .55rem;}
.mbsc-ios .mbsc-fr-btn-w.mbsc-fr-btn-c .mbsc-fr-btn{color: #999;  padding:0 .55rem;}
.mbsc-ios .mbsc-fr-w {padding-top: 1rem;}
.mbsc-ios .mbsc-range-btn-sel .mbsc-range-btn .mbsc-range-btn-v{font-weight: bold; color: #3478FF; font-size: .36rem; }
.mbsc-ios .mbsc-range-btn{height: 100%; box-sizing: border-box;}
.mbsc-ios .mbsc-range-btn-v{font-weight: bold; font-size: .36rem;}
.mbsc-ios .mbsc-range-btn-sel .mbsc-range-btn .mbsc-range-btn-v:after{content: ''; display: block; width: .2rem; height: .2rem; background: url(../images/arr_d2.png) no-repeat center; background-size: cover; position: absolute; bottom: 0; left: 0; right: 0; margin: auto;}
.mbsc-ios .mbsc-range-btn-t::before{content: '至'; font-size: .26rem; color: #666 ; line-height: 1rem; left: 50%;  transform: translate(-50%, 0); position: absolute; z-index: 9;}
.mbsc-ios .mbsc-dt-whl-d .mbsc-sc-itm, .mbsc-ios .mbsc-dt-whl-h .mbsc-sc-itm, .mbsc-ios .mbsc-dt-whl-date .mbsc-sc-itm{text-align: center;}
.mbsc-ios .mbsc-dt-whl-m .mbsc-sc-itm{text-align: center;}
.mbsc-ios .mbsc-sc-itm{font-size: .3rem; font-weight: normal !important; }
/* .mbsc-ios .mbsc-sc-itm-sel{border-bottom: solid 1px #f5f5f7; border-top: solid 1px #f5f5f7; font-size: .32rem; font-weight: bold !important; } */
.mbsc-fr-aria.mbsc-fr-hdn{position: absolute;z-index: 1;left: 0;right: 0;top: 0; pointer-events: none;line-height: 1rem; color: #999; font-size: .28rem; height: 1rem !important; width: 100% !important;}
.mbsc-ios .mbsc-sc-whl-w .mbsc-sc-whl-l{display: block !important; border-color: #f5f5f7 !important;}
.mbsc-ios .mbsc-fr-w{background: #fff;}
.mbsc-fr-persp{height: auto !important;}
.mbsc-fr-popup.mbsc-ltr{top: auto !important; bottom: 0;}
.mbsc-fr-bottom{z-index: 999}

.saleWrap{background: #fff;border-radius: .2rem;margin-top: .2rem;padding: .34rem .38rem .4rem;}
.saleWrap .tit{font-size: .36rem;font-weight: bold;}
.saleItem{margin-top: .4rem;}
.saleItem label{width: .32rem;height: .32rem;border: .02rem solid #BBBCC4;border-radius: .08rem;margin-right: .16rem;float: left;    margin-top: .06rem;box-sizing: border-box;}
.saleItem div{margin-left: .48rem;}
.saleItem div h3{font-size: .3rem;color: #171921;font-weight: bold;}
.saleItem div h3 em{font-size: .22rem;color: #393A5C;}
.saleItem div p{font-size: .24rem;color: #999;line-height: .36rem;    margin-top: .06rem;}
.saleItem div .changePs{font-size: .24rem;color: #3478FF;}
.saleItem.curr label{background: #3478FF;position: relative;border: none;}
.saleItem.curr label::after{content: '';display: inline-block;width: .2rem;height: .2rem;background: url(../images/shop/gou.png) center center no-repeat;background-size: cover;position: absolute;top: 50%;left: 50%;margin-top: -.1rem;margin-left: -.1rem;}
.saleItem.curr.disabled label{background: #E4E8EE;border: 1px solid #C9D1E1;}
.saleItem.curr.disabled label::after{background: url(../images/shop/nochange.png) center center no-repeat;background-size: cover;}
.saleWrap .saleTip{font-size: .22rem;color: #BBBCC4;margin-top: .5rem;}
.saleWrap .saleTip i{display: inline-block;width: .24rem;height: .24rem;background: url(../images/shop/tip.png) center center no-repeat;background-size: cover;vertical-align: top;margin-right: .05rem;margin-top: .04rem;}

.pubdelAlert p{color: #666; line-height: .4rem; text-align: left;}
.pubdelAlert .delTile{margin-bottom: .2rem}
.pubdelAlertCon{width: 5.4rem; box-sizing: border-box; }
.loadingItem{position: fixed;top: 30%;left: 50%;transform: translateX(-50%);z-index: 999999999999;justify-content: center;flex-direction: column;align-items: center;background-color: rgba(0,0,0,.5);border-radius: .2rem;padding: .2rem .3rem;display: none;}
.l-text{font-size: .26rem;color: white;margin-top: .1rem;}
.loadingItem .gif{width: .5rem;height: .5rem;transform: scale(.7);}
.loadingItem .gif span{display: inline-block;width: .08rem;height: .08rem;border-radius: 50%;background: white;position: absolute;-webkit-animation: load 1.04s ease infinite;}
.loadingItem .gif span:nth-child(1){left: 0;top: 50%;margin-top:-.04rem;-webkit-animation-delay:0.13s;}
.loadingItem .gif span:nth-child(2){left: .07rem;top: .07rem;-webkit-animation-delay:0.26s;}
.loadingItem .gif span:nth-child(3){left: 50%;top: 0;margin-left: -.04rem;-webkit-animation-delay:0.39s;}
.loadingItem .gif span:nth-child(4){top: .07rem;right:.07rem;-webkit-animation-delay:0.52s;}
.loadingItem .gif span:nth-child(5){right: 0;top: 50%;margin-top:-.04rem;-webkit-animation-delay:0.65s;}
.loadingItem .gif span:nth-child(6){right: .07rem;bottom:.07rem;-webkit-animation-delay:0.78s;}
.loadingItem .gif span:nth-child(7){bottom: 0;left: 50%;margin-left: -.04rem;-webkit-animation-delay:0.91s;}
.loadingItem .gif span:nth-child(8){bottom: .07rem;left: .07rem;-webkit-animation-delay:1.04s;}
@-webkit-keyframes load{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0.2;
    }
}