.conbox .form{background-color: #fff; margin-top: .2rem; }
.conbox .inpbox{display: flex; align-items: center; justify-content: space-between; padding: 0 .24rem; min-height: 1rem; border-bottom: solid 1px #f5f5f7;}
.conbox .inpbox label{font-size: .28rem; color: #333; font-weight: bold; line-height: 1rem; display: block;}
.conbox .inpbox label span{font-size: .22rem; color: #BBBCC4; font-weight: 500; margin-left: .1rem;}
.conbox .inpbox input{border: none; width: 4rem; font-size: .26rem; text-align: right;}
.conbox .inpbox input::placeholder{color: #999;}
.conbox .inpbox.singlebox{display: block; padding-bottom: .4rem;}
.conbox .inpbox.singlebox label{display: block;}
.conbox .imgbox{width: 1.86rem; height: 1.4rem;}
.conbox .imgbox .add_img{display: flex; align-items: center; justify-content: center; flex-direction: column;color: #B5B5B5; font-size: .2rem; width: 100%; height: 100%; border: dashed 1px #E5E5E5; box-sizing: border-box; background-color: #F8F8F8; border-radius: .1rem; position: relative;}
.conbox .imgbox .add_img label,.conbox .imgbox .add_img input{position: absolute; left: 0; right: 0; top: 0; bottom: 0;}
.conbox .imgbox .add_img .webuploader-pick{font-size: .2rem; color: #B5B5B5; line-height: 1.2em; height: .3rem;}
.conbox .imgbox .add_img>div:not(.webuploader-pick){ width: 100%; height: 100%; object-fit: cover;}
.conbox .imgbox .add_img.fn-hide{display: none;}
.conbox .imgbox .add_img::before{content: ''; display: block; width: .64rem; height: .64rem; background: url(../images/business_config/upload_img.png) no-repeat center/cover; margin-bottom: .1rem;}
.conbox .inpbox.singlebox  input{text-align: left;}
.conbox>p{color: #bbb; font-size: .24rem; line-height: .4rem;margin: 0 .24rem; margin-top: .22rem;}
.imgshow {display: block; width: 100%; height: 100%; position: relative;}
.imgshow img{width: 100%; height: 100%; object-fit: cover; display: block; border-radius: .1rem;}
.imgshow .del_img{display: block; width: .32rem; height: .32rem; background: url(../images/business_config/del_img.png) no-repeat center/cover; position: absolute; right: -.14rem; top: -.12rem;}