html{background: #F6F5F5;}
.header{z-index: 1;}
.container{padding-bottom: 1.4rem;}
.header-l img{display: none;}
.header-c {-webkit-box-flex: 1;text-align: center;font-size: .34rem;line-height: .9rem;}
.header-l a {display: table-cell;vertical-align: middle;height: .9rem;width: 1rem;}
.header-r a {display: table-cell;width: .8rem;height: .9rem;vertical-align: middle;}
.huoniao_iOS {top: 0;}
.huoniao_iOS .container{padding-top: 0}
h3.tuanTip{height: .7rem;line-height: .7rem;padding: 0 .24rem;font-size: .24rem;color: #aaa}
.chooseGoods{height: 1.4rem;background: #fff;position: relative;box-sizing: border-box;padding: .2rem .2rem .2rem .24rem;margin-bottom: .36rem;overflow: hidden;}
.chooseGoods span.first{font-size: .28rem;color: #222;float: left;margin-top: .3rem;font-weight: bold;}
.chooseGoods i.arr{display: inline-block;width: .3rem;height: .3rem;background:url("../images/shop/arr.png") no-repeat;background-size: .3rem;position: absolute;right: .2rem;top: 50%;transform: translateY(-50%);}
/*基本信息*/
.info{background: #fff;margin-bottom: .2rem;padding-left: .2rem;}
.info li{border-bottom: 1px solid #f5f5f7;padding: .28rem 0;padding-right: .24rem;font-size: .28rem;color: #222;position: relative;}
.info li.noChange{pointer-events: none; opacity: .8}
.info li .name{float: left;height: .4rem;line-height: .4rem}
.info li .name .star{color: #FF010D;}
.info li input{float: right;text-align: right;border: 0;width: 68%;font-size: .26rem;color: #222;margin-top: .05rem;-webkit-appearance:none;background: #ffff;line-height: 1}
.info li input::placeholder{color: #ccc; }
.info li input#market{color: #EC3628;}
.info li .pintuanPrice{float: right;width: 76%;text-align: right;}
.info li .un{margin: 0 0 0px .15rem;font-size: .26rem;color: #999;height: .4rem;line-height: .42rem}
.info li .un sup{font-size: .20rem;}
.info li.gz-addr-seladdr p{display: inline-block;color: #45464f;}
.gz-addr-seladdr dd{padding-right: .25rem;}
.position_box{position: absolute;right: .04rem;left: 0;top: 0;bottom: 0;text-align: right;line-height: .9rem;font-size: .3rem;}
.info li input#huodongtime{margin-right: .4rem;width:50%;}
.info li input#huodongtime.hasc{margin-right: .1rem;}
.info li input#startdate{margin-right: .4rem}
.info li input#enddate{margin-right: .4rem}
.info li #qghour{float:right;margin-right: .4rem;}
.info li i.arr{display: inline-block;width: .3rem;height: .3rem;background:url("../images/shop/arr.png") no-repeat;background-size: .3rem;position: absolute;right: .2rem;top: 50%;transform: translateY(-50%);}

.qgTip{font-size: .24rem;color: #999;padding: .04rem .4rem .3rem;}
.container .fabu_btn{position: fixed;bottom: 0;left: 0;right: 0;}
.container .fabu_btn .btn{display: inline-block;width: 100%;height: .95rem;background:#FC1913;text-align: center;line-height: .95rem;color: #fff;font-size: .3rem;}

.popErr{font-size: .3rem;text-align: center;padding: .2rem .3rem;color: #fff;background: rgba(0,0,0,0.67);position: fixed;top: 50%;left: 50%;transform: translate(-50%,-50%);border-radius: .08rem;z-index: 999999;white-space: nowrap;}

.chooseGoods .goodItem{float: left;}
.goodImg{width: 1rem;height: 1rem;border-radius:.1rem;float: left;overflow: hidden;box-sizing: border-box;}
.goodImg img{width: 100%;height: 100%;object-fit: cover;}
.goodInfo{margin-left: 1.25rem;height: 1rem;position: relative;width: 5rem;}
.goodInfo h4 {display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;font-size: .28rem;color: #000;font-weight: bold;line-height: .36rem;width: 4.25rem;position: absolute;top: 50%;transform: translateY(-50%);left: 0}

/*多规格库存*/
.pinBot h2{font-size: .24rem;color: #999;padding-top: .2rem;margin-bottom: .26rem}
.pinBot .pinWrap{padding: 0 .2rem 0;background: #F8F8F8;border-radius: .1rem;overflow: hidden;}
.pinBot .pinItem{border-bottom: 1px solid rgba(225,225,225,.8);padding-top: .38rem;overflow: hidden;}
.pinBot .pinItem:last-child{border-bottom: none}
.pinBot .pinItem dl{margin-bottom: .4rem}
.pinBot .pinItem dt{font-size: .26rem;color: #333;margin-bottom: .2rem}
.pinBot .pinItem dd span{font-size: .26rem;color: #999;display: inline-block;line-height: .68rem;vertical-align: top;}
.pinBot .pinItem dd span em{color: #EC3628;}
.info .pinBot .pinItem div{float: right;position: relative;}
.info .pinBot .pinItem div i{position: absolute;top: 0;right: .2rem;font-size: .26rem;color: #999;display: none;line-height: .68rem;}
.info .pinBot input{float: none;text-align: left;width: 1.94rem;margin-top: 0;border: 1px solid #D4D4D4;border-radius: .08rem;box-sizing: border-box;padding: .17rem .18rem;margin-left: .2rem;-webkit-appearance:none;background: #fff !important;height: .68rem;box-sizing: border-box;}
.info .pinBot input::placeholder{color: #999;}

/*批量弹窗*/
.commask{position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,.8);z-index: 10000;display: none;}
.batch{position: fixed;top: 50%;left: 50%;z-index: 10001;animation: popup .3s ease-out; width: 5.4rem;background: #fff;border-radius: .3rem;box-shadow: 0px .07rem .37rem 0px rgba(0, 0, 0, 0.13); margin-left: -2.7rem;margin-top: -2.18rem;display: none}
.batch.show{display: block;}
.batch h2{font-size: .32rem;font-weight: bold;padding: .38rem 0 ;text-align: center;}
.batch h3{font-size: .24rem;padding: .22rem 0 ;text-align: center;color: #666;}
.batch>div{position: relative;width: 4rem;margin: 0 auto;}
.batch>div i{position: absolute;top: 0;line-height:.68rem;right: .24rem; font-size: .26rem;color: #999;display: none;}
.batch>div.speDiv{margin-top: .15rem;}
.batch input{border: .02rem solid #D4D4D4;width: 4rem;height: .68rem;box-sizing: border-box;text-align: center;font-size: .26rem; margin: 0 auto;display: block;border-radius: .08rem;-webkit-appearance:none;background: #ffff}
.batch input::placeholder{color: #999; }
.batch input#batchprice{margin-bottom: .15rem;}
.batch ul{border-top: 1px solid #DCDCDE;}
.batch ul li{float: left;width: 50%;box-sizing: border-box;font-size: .3rem;font-weight: bold;height: .86rem;line-height: .86rem;text-align: center;color: #1F66F2;}
.batch ul li.cancelbatch{border-right:1px solid #DCDCDE;color: #000; }

/*跳转弹窗*/
.commask2{position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,.8);z-index: 10000;display: none;}
.jumpAlert{position: fixed;top: 50%;left: 50%;z-index: 10001;animation: popup .3s ease-out; width: 5.4rem;background: #fff;border-radius: .3rem;box-shadow: 0px .07rem .37rem 0px rgba(0, 0, 0, 0.13); margin-left: -2.7rem;margin-top: -2.18rem;display: none}
.jumpAlert.show{display: block;}
.jumpAlert h2{font-size: .32rem;font-weight: bold;padding: .38rem 0 .1rem;text-align: center;}
.jumpAlert h3{font-size: .24rem;padding: .22rem 0 .48rem;text-align: center;color: #666;}
.jumpAlert ul{border-top: 1px solid #DCDCDE;}
.jumpAlert ul li{float: left;width: 50%;box-sizing: border-box;font-size: .3rem;font-weight: bold;height: .86rem;line-height: .86rem;text-align: center;color: #1F66F2;}
.jumpAlert ul li.canceljump{border-right:1px solid #DCDCDE;color: #000; }

/*时间弹窗*/
.md-range-event .md-header {position:relative;background:#4ECCC4;padding:1em;text-align:center;margin-bottom:1em;}
.mbsc-material.md-range-event .md-header,.md-range-event .mbsc-material .md-header {background:#009688;}
.mbsc-android-holo.md-range-event .md-header,.md-range-event .mbsc-android-holo .md-header {background:#31c6e7;}
.mbsc-ios-classic.md-range-event .md-header,.mbsc-ios.md-range-event .md-header,.md-range-event .mbsc-ios .md-header {background:#1272dc;margin:0;z-index:1;}
.mbsc-ios-dark.md-range-event .md-header,.md-range-event .mbsc-ios-dark .md-header {background:#ff8b0f;margin:0;color:#a1a1a1;}
.mbsc-wp.md-range-event .md-header,.md-range-event .mbsc-wp .md-header {background:#1a9fe0;}
.md-range-event .md-header .mbsc-header-txt {display:inline-block;color:#fff;font-size:18px;}
.md-range-event .md-header .mbsc-btn-flat {margin:0;padding:0 .5em 0 .5em;height:30px;color:#fff;text-transform:capitalize;}
.md-range-event .md-header .md-cancel-btn,.md-range-event .md-header .md-add-btn {position:absolute;top:50%;margin-top:-15px;}
.md-range-event .md-header .mbsc-btn-flat.mbsc-active {background:rgba(255,255,255,0.2);}
.md-range-event .md-header .md-add-btn {right:.75em;}
.md-range-event .md-header .md-cancel-btn {left:.75em;}



.mbsc-fr-btn-cont{height: 1rem; background: #F7F8FA !important; border-radius: .2rem .2rem 0 0 ; overflow: hidden; border: none !important; }
.mbsc-ios .mbsc-fr-btn{line-height: 1rem;}
.mbsc-fr-popup.mbsc-ltr{background-color: #fff;border-radius: .2rem .2rem 0 0 ; overflow: hidden;}
.mbsc-calendar{position: relative; z-index: 999999; background-color: #fff;  overflow: hidden;}
.mbsc-fr-overlay{background: rgba(0,0,0,.5) !important;}
.mbsc-fr-popup{z-index: 99;}
.mbsc-ios .mbsc-range-btn-t {display: flex; height: 1rem; border-bottom: solid 1px #E6E7ED;}
.mbsc-ios .mbsc-range-btn-end,.mbsc-ios  .mbsc-range-btn-start{width: 50%; border: none; }
.mbsc-ios .mbsc-sc-itm .mbsc-sc-whl-c{font-size: .32rem !important;}
.mbsc-ios .mbsc-range-btn-v{background-color: #fff; left: 0; right: 0; top: 0; bottom: 0;text-align: center; line-height: 1rem;}
.mbsc-ios.mbsc-calendar .mbsc-fr-persp .mbsc-fr-w{background: #fff;  }
.mbsc-ios .mbsc-sc-whl-o, .mbsc-ios.mbsc-calendar .mbsc-sc-whl-o,.mbsc-ios.mbsc-fr-top .mbsc-sc-whl-o, .mbsc-ios.mbsc-fr-bottom .mbsc-sc-whl-o{background: none;}
.mbsc-ios .mbsc-fr-btn-w.mbsc-fr-btn-s .mbsc-fr-btn{color: #3378FF; padding:0 .55rem;font-size: .28rem}
.mbsc-ios .mbsc-fr-btn-w.mbsc-fr-btn-c .mbsc-fr-btn{color: #999;  padding:0 .55rem;font-size: .28rem;font-weight: bold;}
.mbsc-ios .mbsc-fr-w {padding-top: 1rem;background: #fff}
.mbsc-ios .mbsc-range-btn-sel .mbsc-range-btn .mbsc-range-btn-v{font-weight: bold; color: #FFAE00; font-size: .36rem; }
.mbsc-ios .mbsc-range-btn{height: 100%; box-sizing: border-box;}
.mbsc-ios .mbsc-range-btn-v{font-weight: bold; font-size: .36rem;}
.mbsc-ios .mbsc-range-btn-sel .mbsc-range-btn .mbsc-range-btn-v:after{content: ''; display: block; width: .2rem; height: .2rem; background: url(../images/arr_d2.png) no-repeat center; background-size: cover; position: absolute; bottom: 0; left: 0; right: 0; margin: auto;}
.mbsc-ios .mbsc-range-btn-t::before{content: '至'; font-size: .26rem; color: #666 ; line-height: 1rem; left: 50%;  transform: translate(-50%, 0); position: absolute; z-index: 9;}
.mbsc-ios .mbsc-dt-whl-d .mbsc-sc-itm, .mbsc-ios .mbsc-dt-whl-h .mbsc-sc-itm, .mbsc-ios .mbsc-dt-whl-date .mbsc-sc-itm{text-align: center;}
.mbsc-ios .mbsc-dt-whl-m .mbsc-sc-itm{text-align: center;}
.mbsc-ios .mbsc-sc-itm{font-size: .3rem; font-weight: normal !important; }
.mbsc-fr-aria.mbsc-fr-hdn{position: absolute;z-index: 1;left: 0;right: 0;top: 0; pointer-events: none;line-height: 1rem; color: #999; font-size: .28rem; height: 1rem !important; width: 100% !important;}
.mbsc-ios .mbsc-sc-whl-w .mbsc-sc-whl-l{display: block !important; border-color: #f5f5f7 !important;}
.mbsc-ios .mbsc-fr-hdr{font-size: .28rem;color: #999;font-weight: normal;line-height: 2.1em;}

.mbsc-ios .mbsc-sc-whl-gr-c{margin: 0 5%;padding: 0}
.mbsc-ios .mbsc-sc-whl-gr{padding: .833333em 0;}
.mbsc-ios .mbsc-sc-itm{padding: 0;}
.mbsc-ios .mbsc-sc-whl-gr-c .mbsc-sc-whl-w.mbsc-dt-whl-y{min-width: 33% !important}
.mbsc-ios .mbsc-sc-whl-gr-c .mbsc-sc-whl-w.mbsc-dt-whl-m{min-width: 33% !important;}
.mbsc-ios .mbsc-sc-whl-gr-c .mbsc-sc-whl-w.mbsc-dt-whl-d{min-width: 33% !important;}


/*场次弹窗*/
.mobileSelect .content{border-radius: .2rem .2rem 0 0;overflow: hidden;}
.mobileSelect .content .btnBar{height: 1rem;line-height: 1rem;font-size: .28rem;color: #999;background: #F7F8FA;border-bottom: none;}
.mobileSelect .content .panel .selectLine{border-top: 1px solid #f5f5f7;border-bottom: 1px solid #f5f5f7}
.mobileSelect .content .btnBar .cancel{color: #999;font-size: .28rem;font-weight: bold;}
.mobileSelect .content .btnBar .ensure{color: #3378FF;font-size: .28rem;font-weight: bold;}
.mobileSelect .content .panel .wheel .selectContainer li{font-size: .3rem;color: #808080;}
.mobileSelect .content .panel .wheel .selectContainer li span{font-size: .26rem;}
.mobileSelect .content .panel .wheel .selectContainer li.curr{font-size: .32rem;color: #000;font-weight: bold;}
.mobileSelect .content .panel .wheel .selectContainer li.curr span{font-size: .26rem;}
.mobileSelect .content .panel .wheel .selectContainer li span.red{color: #EC3628}



