html,body{background-color: #F5F5F7;}


.save_btn{display: block; position: fixed; left: 0; right: 0; bottom: 0; height: 1rem; color: #fff; font-size: .3rem; font-weight: bold; background: linear-gradient(90deg, #F9374E 0%, #FC6150 100%); line-height: 1rem; text-align: center;padding-bottom:calc(-.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.3rem + env(safe-area-inset-bottom));}




/* 发布自定义菜单 */
/* .conbox{height: 100%; position: relative;} */
.formbox{background-color: #fff; margin-top: .2rem; }
.formbox .inpbox{display: flex; align-items: center; justify-content: space-between; padding: 0 .24rem; min-height: 1rem; border-bottom: solid 1px #f5f5f7;}
.formbox .inpbox label{font-size: .28rem; color: #333; font-weight: bold; line-height: 1rem; display: block;}
.formbox .inpbox input{border: none; width: 4rem; font-size: .26rem; text-align: right; text-overflow: ellipsis;}
.formbox .inpbox input::placeholder{color: #999;}
.formbox .inp.selinp:after{content: ''; display: inline-block; width: .14rem; height: .24rem; background: url(../images/business_config/icon_next.png) no-repeat center/cover; vertical-align: middle; margin-bottom: .04rem; margin-left: .1rem;}

.formbox .inp.radio{display: flex; align-items: center; }
.formbox .inp.radio span{display: flex; align-items: center; color: #333; font-size: .26rem; margin-left: .4rem;}
.formbox .inp.radio span::before{content: ''; display: block; width: .32rem; height: .32rem; box-sizing: border-box; border: solid 1px #ddd; margin-right: .14rem; border-radius: 50%;}
.formbox .inp.radio span.curr::before{border: none; background: url(../images/business_config/gou.png) no-repeat center/cover;}
.formbox .inpbox.singel_inp{display: block;}
.formbox .inpbox.singel_inp .textarea{line-height: .36rem; font-size: .28rem;}
.formbox .inpbox.singel_inp .textarea img{max-width: 100% !important;  height: auto !important;object-fit: cover;}
.formbox .inpbox.singel_inp .textarea:empty::before{content: attr(placeholder); color: #999; font-size: .26rem; }
.formbox .inpbox.singel_inp .textarea .video_li{width: 3rem; min-height: 3rem; display:flex; align-items:center;justify-content:center; flex-direction: column;  border-radius: .1rem; background-color: #f5f5f6; position: relative;}
.formbox .inpbox.singel_inp .textarea .video_li img,.formbox .inpbox.singel_inp .textarea .video_li video{width: 100%; height: 100%; object-fit: cover; border-radius: .1rem;}
.formbox .inpbox.singel_inp .textarea .video_li:before{content:""; display:block; width:1rem; height:1rem; background: url(../images/business_config/video.png) no-repeat center/cover; position: absolute; left: 0; right: 0; top: 0; bottom:.5rem; margin: auto; pointer-events: none;}
.formbox .inpbox.singel_inp .textarea .video_li .load{color: #999; font-size: .28rem; margin-top: 1.3rem;}
.formbox .inpbox.singel_inp.coninp{ background-color: #fff; box-sizing: border-box; padding-bottom: 2.5rem;}
.formbox .inpbox.singel_inp{box-sizing: border-box;min-height: 1.76rem; padding-bottom: .2rem;}
.formbox .inpbox.singel_inp.fn-hide{display: none !important;}
.formbox .inpbox .btnsgroup {position: fixed; left: .05rem; bottom: 1.27rem; padding-bottom:calc(-.3rem + constant(safe-area-inset-bottom)); padding-bottom: calc(-.3rem + env(safe-area-inset-bottom)); display: flex; align-items: center;}
.formbox .inpbox .btnsgroup a{display: block; width: .8rem; height: .8rem; border-radius: .08rem; box-sizing: border-box; border: 1px solid #D5D5D5; margin-left: .2rem; background:#fff url(../images/business_config/upimg.png) no-repeat center/.48rem; position: relative;}
.formbox .inpbox .btnsgroup a.upvideo{background-image:url(../images/business_config/upvideo.png) ;}
.btns-group{width: 2.62rem; height: .68rem; border-radius: .14rem;  position: absolute;  left: 50%; margin-left: -1.31rem; /* margin-top: -2rem; */ background-color: #fff;box-shadow:0 .03rem .13rem 0 rgba(0, 0, 0, 0.07); animation: bottomFadeIn .2s ease-in; display: none;}
.btns-group:after{content: ''; display: block; width: 0; height: 0; border: solid .1rem rgba(0,0,0,0); position: absolute; bottom: -.18rem; left: 50%; margin-left: -.1rem; border-top: solid .1rem #fff ;box-shadow:0 .03rem .13rem 0 rgba(0, 0, 0, 0.07);}
.btns-group span{float: left; width: 50%; text-align: center; line-height: .68rem;}
.btns-group span.btn_change::before{content: ''; display: block; width: .02rem; background-color: #E6E7ED; height: .2rem; position: absolute; left: 50%; top: .24rem;}
.progress {position: absolute;  right: 4px; bottom: 4px; height: 3px; left: 4px; height: 4px; overflow: hidden; z-index: 15; margin:0; padding: 0; border-radius: 0; background: transparent;}
.progress span {display: block; overflow: hidden; width: 0; height: 100%; background: #499c00 url('/static/js/webuploader/progress.png') repeat-x; -webit-transition: width 200ms linear; -moz-transition: width 200ms linear; -o-transition: width 200ms linear; -ms-transition: width 200ms linear; transition: width 200ms linear; -webkit-animation: progressmove 2s linear infinite; -moz-animation: progressmove 2s linear infinite; -o-animation: progressmove 2s linear infinite; -ms-animation: progressmove 2s linear infinite; animation: progressmove 2s linear infinite; -webkit-transform: translateZ(0);}
.con_thum {position: relative;}
.txtbox{min-height: 1em;}
.video_li .btns-group {width: 1.32rem; margin-left: -.7rem;}
.video_li .btns-group .btn_del{width: 100%;}
.tjBtn,.error{display: none !important;}


.aboutbox .formbox{margin-top: 0; border-top: solid .2rem #f5f5f7;}
.aboutbox .formbox .inpbox.singel_inp.coninp{border: none;}



.mbsc-fr-btn-cont{height: 1rem; background: #F7F8FA !important; border-radius: .2rem .2rem 0 0 ; overflow: hidden; border: none !important; }
.mbsc-ios .mbsc-fr-btn{line-height: 1rem;}
.mbsc-fr-popup.mbsc-ltr{background-color: #fff;border-radius: .2rem .2rem 0 0 ; overflow: hidden;}
.mbsc-calendar{position: relative; z-index: 999999; background-color: #fff;  overflow: hidden;}
.mbsc-fr-overlay{background: rgba(0,0,0,.5) !important;}
.mbsc-fr-popup{z-index: 99;}
.mbsc-ios .mbsc-range-btn-t {display: flex; height: 1rem; border-bottom: solid 1px #E6E7ED;}
.mbsc-ios .mbsc-range-btn-end,.mbsc-ios  .mbsc-range-btn-start{width: 50%; border: none; }
.mbsc-ios .mbsc-sc-itm .mbsc-sc-whl-c{font-size: .32rem !important;}
.mbsc-ios .mbsc-range-btn-v{background-color: #fff; left: 0; right: 0; top: 0; bottom: 0;text-align: center; line-height: 1rem;}
.mbsc-ios.mbsc-calendar .mbsc-fr-persp .mbsc-fr-w{background: #fff;  }
.mbsc-ios .mbsc-sc-whl-o, .mbsc-ios.mbsc-calendar .mbsc-sc-whl-o,.mbsc-ios.mbsc-fr-top .mbsc-sc-whl-o, .mbsc-ios.mbsc-fr-bottom .mbsc-sc-whl-o{background: none;}
.mbsc-ios .mbsc-fr-btn-w.mbsc-fr-btn-s .mbsc-fr-btn{color: #FFAE00; padding:0 .55rem;}
.mbsc-ios .mbsc-fr-btn-w.mbsc-fr-btn-c .mbsc-fr-btn{color: #999;  padding:0 .55rem;}
.mbsc-ios .mbsc-fr-w {padding-top: 1rem;}
.mbsc-ios .mbsc-range-btn-sel .mbsc-range-btn .mbsc-range-btn-v{font-weight: bold; color: #FFAE00; font-size: .36rem; }
.mbsc-ios .mbsc-range-btn{height: 100%; box-sizing: border-box;}
.mbsc-ios .mbsc-range-btn-v{font-weight: bold; font-size: .36rem;}
.mbsc-ios .mbsc-range-btn-sel .mbsc-range-btn .mbsc-range-btn-v:after{content: ''; display: block; width: .2rem; height: .2rem; background: url(../images/arr_d2.png) no-repeat center; background-size: cover; position: absolute; bottom: 0; left: 0; right: 0; margin: auto;}
.mbsc-ios .mbsc-range-btn-t::before{content: '至'; font-size: .26rem; color: #666 ; line-height: 1rem; left: 50%;  transform: translate(-50%, 0); position: absolute; z-index: 9;}
.mbsc-ios .mbsc-dt-whl-d .mbsc-sc-itm, .mbsc-ios .mbsc-dt-whl-h .mbsc-sc-itm, .mbsc-ios .mbsc-dt-whl-date .mbsc-sc-itm{text-align: center;}
.mbsc-ios .mbsc-dt-whl-m .mbsc-sc-itm{text-align: center;}
.mbsc-ios .mbsc-sc-itm{font-size: .3rem; font-weight: normal !important; }
/* .mbsc-ios .mbsc-sc-itm-sel{border-bottom: solid 1px #f5f5f7; border-top: solid 1px #f5f5f7; font-size: .32rem; font-weight: bold !important; } */
.mbsc-fr-aria.mbsc-fr-hdn{position: absolute;z-index: 1;left: 0;right: 0;top: 0; pointer-events: none;line-height: 1rem; color: #999; font-size: .28rem; height: 1rem !important; width: 100% !important;}
.mbsc-ios .mbsc-sc-whl-w .mbsc-sc-whl-l{display: block !important; border-color: #f5f5f7 !important;}
.mbsc-ios .mbsc-fr-w{background: #fff;}
.mbsc-fr-persp{height: auto !important;}
.mbsc-fr-popup.mbsc-ltr{top: auto !important; bottom: 0;}


