body, html{background: #f4f4f4; font-size: .3rem;}

/*头部*/
.header{position: fixed !important; left: 0; right: 0; top: 0; z-index: 999;}
.tab{position: fixed; left: 0; right: 0; top: .9rem; background: #fff; z-index: 99;}
.huoniao_iOS .tab {top: 0;}
/* .header-search a{background: none!important;} */
.header-search{visibility: hidden;}
/*选项卡*/
.tab ul{display: -webkit-box;}
.tab ul li{-webkit-box-flex: 1; text-align: center; padding: .2rem 0; border-bottom: 1px solid #f4f4f4; font-size: .3rem;font-weight: bold; }
.tab ul li.curr{border-bottom: 2px solid #129bf0;}
.tab ul li.sel select{background: transparent; }
.huoniao_iOS .tab{top: 0;}
.tab ul li.curr a{color: #347DF6;}
/*筛选项*/
.navFilter {position: fixed;top: 1.78rem;left: 0;right: 0;padding: .15rem .2rem;background: #fff;z-index: 2}
.huoniao_iOS .navFilter{top: .88rem;}
.navFilter>div{float: left;}
.navFilter>div.searchItem{height: .6rem;background: #F6F5F5;border-radius: .3rem;display: flex;align-items: center;width: 2.5rem}
.navFilter>div.searchItem s{display: inline-block;width: .3rem;height: .3rem; background: url(../images/shop/searchicon.png) left center no-repeat; background-size: .3rem auto; margin-left: .2rem;}
.navFilter>div.searchItem input{border: none;background: none;font-size: .24rem;margin-left: .08rem;width: 70%}
.navFilter>div.searchItem input::placeholder{color: #999;}
.navFilter>div.filterItem{font-size: .26rem;color: #333;height: .6rem;display: flex;align-items: center;margin-left: .25rem;}
.navFilter>div.filterItem i{display: inline-block;width: .2rem;height: .2rem; background: url(../images/shop/downicon.png) left center no-repeat; background-size: .2rem; margin-left: .1rem;}
.navFilter>div.filterItem.curr i{background: url(../images/shop/upicon.png) left center no-repeat; background-size: .2rem;}
.navFilter>div.filterItem.typeitem{margin-left: .5rem}

/*房屋总数*/
.count{border-bottom: 1px solid #f4f4f4; padding: .1rem 0; font-size: .26rem; padding-left: .4rem; margin-top: 1.8rem; font-weight: 600;}
.huoniao_iOS .count {margin-top: .8rem;}
.count span{font-size: .32rem; margin: 0 .1rem;}
.count li{display: none;}
.count li:first-child{display: block;}
.huoniao_iOS .count{margin-top: .8rem;}

/*商品列表*/
#shopList{padding-top:2.9rem}
.huoniao_iOS #shopList{padding-top:2rem}
.item{background: #fff; padding: .2rem;margin-bottom: .2rem;border-radius: .2rem}
.item .item-img{margin-right: .2rem; float: left;}
.item .item-img a{width: 1.8rem; height: 1.8rem; display: block;}
.item .item-img img{display: block; width: 100%; height: 100%;object-fit: cover;border-radius: .12rem}
.item .item-txt{position: relative; overflow: hidden;height: 1.8rem;}
.item .item-tit{display: block;overflow: hidden;max-width: 100%;text-overflow: ellipsis;font-size: .3rem;font-weight: bold;white-space: nowrap;}
.item .operate{color: #999; font-size: .24rem;position: absolute;bottom: .06rem;left: 0; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 100%;}
.item .operate span{margin-right: .2rem;}
.item .opWrap{margin-top: .2rem}
.item .opWrap a{float: right;font-size: .24rem;color: #404040;border: 1px solid #e1e1e1;padding: 0 .3rem;height: .5rem;display: flex;text-align: center;margin-left: .2rem;border-radius: .26rem;align-items: center;}
.item .opWrap a.noBaom{padding:0 .16rem; }
.item .opWrap a i{display: inline-block;width: .3rem;height: .3rem;margin-right: .1rem}
.item .opWrap .edit i{background: url(../images/shop/editCon.png) left center no-repeat; background-size: .3rem auto;}
.item .opWrap .offShelf i{background: url(../images/shop/offShelf.png) left center no-repeat; background-size: .3rem auto;}
.item .opWrap .upShelf i{background: url(../images/shop/upShelf.png) left center no-repeat; background-size: .3rem auto;}
.item .opWrap .noBaom i{background: url(../images/shop/baom.png) left center no-repeat; background-size: .3rem auto;}
.item .opWrap .delete i{background: url(../images/shop/deleteicon.png) left center no-repeat; background-size: .3rem auto;}
.item .price{font-family: "coregtd";font-size: .2rem;color: #EC3628;position: absolute;bottom: .42rem;left: 0;}
.item .price em{font-weight: 600;font-size: .28rem;}

.item .hding{margin-top: 0;  overflow: hidden; height: .38rem;}
.item .hding span{display: inline-block;height: .36rem;line-height: .36rem;border-radius: .08rem 0px .08rem 0px;padding: 0 .12rem;font-size: .22rem;color: #fff; margin-right: .06rem}
.item .hding span.tuanIng{background: #9A4DF3}
.item .hding span.miaoshaIng{background: #1B9FFF}
.item .hding span.kanjiaIng{background: #FF8A00}
.item .hding span.qianggouIng{background: #FF0059}

.loading{text-align: center; line-height: 1rem;    font-size: .24rem;color: #999;}

/*分类列表*/
.maskAside{background: rgba(0,0,0,.8);position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 999;display: none}
.asideType{position: fixed;top: 0;bottom: 0;right: 0;width: 6.1rem;background: #fff;z-index: 1000;border-radius: .3rem 0px 0px .3rem;-webkit-transition: all 0.5s; transition: all 0.5s;-webkit-transform: translate3d(100%, 0, 0);transform: translate3d(100%, 0, 0);}
.asideType.show{transform: translate3d(0, 0, 0);}
.asideType h3{font-size: .32rem;font-weight: bold;padding: .48rem 0 .3rem;text-align: center;}
.asideType div{overflow-y: auto;padding-left: .3rem;height: 90%}
.asideType p{font-size: .28rem;color: #333;height: .86rem;line-height: .86rem;border-top: .01rem solid #f5f6f7;padding-left: .05rem}
.asideType p.active a{font-weight: bold;color: #347DF6;}
.asideType p.active::after{content: '';display: inline-block;width: .3rem;height: .3rem;background: url(../images/shop/check2.png) left center no-repeat; background-size: .3rem;float: right;margin-top:.27rem ;margin-right: .28rem;}
/*删除 弹出层*/
.delMask{position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,.57);z-index: 999;display: none;}
.delMask.show{display: block;}
.delAlert{position: fixed;top: 50%;left: 0;right: 0;z-index: 1000;overflow: hidden;height: 2.8rem;margin-top: -1.4rem;text-align: center;display: none;pointer-events: none;-webkit-animation: popup .3s ease-out; -moz-animation: popup .3s ease-out; animation: popup .3s ease-out;}
.delAlertCon{background: #fff;box-shadow:0px 7px 37px 0px rgba(0, 0, 0, 0.13);border-radius:.3rem;min-width: 4.8rem;display: inline-block;pointer-events: auto}
.delAlertCon>div{padding: .55rem .4rem .48rem}
.delAlert h2.delTile{font-size: .32rem;font-weight: bold;text-align: center;}
.delAlert p{font-size: .24rem;color: #333;text-align: center;margin-top: .05rem}
.delAlert ul{border-top: 1px solid #f5f5f7;}
.delAlert ul li{float: left;width: 50%;box-sizing: border-box;height: .86rem;line-height: .86rem;font-size: .3rem;font-weight: bold;text-align: center;}
.delAlert ul li a{display: block;color: 000;}
.delAlert ul li a.sureDel{color: #3B7CFF}
.delAlert ul li.firLi{border-right: 1px solid #f5f5f7}

/*排序弹窗*/
.orderbyAlert{position: fixed;left: 0;right: 0;bottom: -100%;background: #fff;box-shadow: 0px .03rem .13rem 0px rgba(25, 30, 59, 0.05);border-radius: .3rem .3rem 0px 0px;padding: 0 .3rem .4rem;z-index: 1000}
.orderbyAlert div{padding: .2rem 0 .4rem}
.orderbyAlert div p{border-bottom: .01rem solid #f5f6f7;height: 1.08rem;line-height: 1.08rem;padding-left: .22rem;}
.orderbyAlert a.cancelOr{display: block;width: 100%;height: .76rem;line-height: .76rem;background: #F0F0F2;text-align: center;font-size: .26rem;color: #313233;font-weight: bold;border-radius: .38rem}
.orderbyAlert p.active a{font-weight: bold;color: #347DF6;}
.orderbyAlert p.active::after{content: '';display: inline-block;width: .3rem;height: .3rem;background: url(../images/shop/check2.png) left center no-repeat; background-size: .3rem;float: right;margin-top:.32rem ;margin-right: .32rem;}

@font-face {
  	font-family: "coregtd";
  	src: url("/static/fonts/coregtd6.woff2"),
       url("/static/fonts/coregtd6.woff"),
       url("/static/fonts/coregtd6.ttf"),
       url("/static/fonts/coregtd6.eot"),
       url("/static/fonts/coregtd6.otf");
}

/*分店管理*/
.tab.branchTab ul li{border-bottom: none;position: relative;}
.tab.branchTab ul li a{font-size: .28rem;color: #636466;font-weight: normal;}
.tab.branchTab ul li.curr{border-bottom: none;}
.tab.branchTab ul li.curr a{color: #FF5C50;font-size: .32rem;font-weight: bold;}
.tab.branchTab ul li.curr::after{content: '';display: block;width: .38rem;height: .06rem;background: #FF5C50;
box-shadow: 0px .03rem .07rem 0px rgba(255, 92, 80, 0.27);border-radius: .03rem;position: absolute;left: 50%;margin-left: -.19rem;bottom: 0}


#shopbranchList{padding-top:2rem}
.huoniao_iOS #shopbranchList{padding-top:1.1rem}
#shopbranchList .item{padding: 0;}
#shopbranchList .item .item-img a{width: 1.5rem;height: 1.5rem;}
#shopbranchList .item .item-img img{border-radius: .1rem;}
#shopbranchList .item .item-txt{height: 1.5rem}
#shopbranchList .item .opWrap{border-top: 1px solid #f5f5f7;margin-top: 0;padding: .2rem .2rem .18rem}
.item .opWrap .dianor i{background: url(../images/shop/dianor.png) left center no-repeat; background-size: .3rem auto;}
#shopbranchList .item .fendInfo{font-size: .24rem;color: #666;margin-top: .08rem}
#shopbranchList .item .fendAdr{font-size: .24rem;color: #999;max-width: 100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin-top: .2rem}

#shopbranchList .branchstate{border-bottom: 1px solid #f5f5f7;margin: 0 .2rem;padding: .2rem 0}
#shopbranchList .branchstate em{font-size: .24rem;color: #999;}
#shopbranchList .branchstate span{font-size: .22rem;color: #7F889E;display: inline-block;line-height: .4rem;border-radius: .06rem;padding: 0 .13rem;background: #F0F2F7;float: right;}
#shopbranchList .branchInfo{padding: .3rem .2rem}


.shopbranch .pubdelAlertCon,.shopbranch2 .pubdelAlertCon{width: 5.4rem;}
.shopbranch .pubdelAlertCon>div{padding:.38rem .3rem .48rem}
.shopbranch2 .pubdelAlertCon>div{padding:.38rem .3rem .4rem}
.shopbranch .pubdelAlert p,.shopbranch2 .pubdelAlert p{font-size: .26rem;color: #999;text-align: left;margin-top: .2rem;padding: 0 .06rem;}
.shopbranch .pubdelAlert p{text-align: center;}