body, html{background: #F5F5F7; font-size: .3rem;overflow: visible;}

/*头部*/
.header{position: fixed !important; left: 0; right: 0; top: 0; z-index: 999;}
.tabDiv{position: fixed; left: 0; right: 0; top: .9rem; background: #fff; z-index: 99;overflow: visible;}
.huoniao_iOS .tabDiv {top: 0;}
.tabDiv.tabs{overflow: hidden;}
/*选项卡*/
.tabDiv ul{display: flex;align-items: center;justify-content: flex-start;height: .88rem;padding: 0 0 0 .55rem;}
.tabDiv li{ text-align: center;  margin-right: .54rem;}
.tabDiv li a{display: block;font-size: .28rem;color: #636466}
.tabDiv li.curr a{font-weight: bold;color: #FF5C50;font-size: .32rem;position: relative;}
.tabDiv li a::after{content: '';display: block;width: .38rem;height: .06rem;border-radius: .03rem;position: absolute;bottom: -.24rem;left: 50%;margin-left: -.19rem;}
.tabDiv li.curr a::after{box-shadow: 0px 3px 7px 0px rgba(255, 92, 80, 0.27);background: #FF5C50;}

.search_box {position: absolute;right: -100%;top: 0;transition: all .5s;left: auto;background: #fff;    bottom: 0;}
.search_box.sershow{right: .3rem;left: .35rem;}
.ordershopForm{background: #f5f5f7;border-radius: .35rem;width: 6rem}
.ordershopForm s{display: inline-block;width: .32rem;height: .32rem;background: url(../images/shop/search2.png) no-repeat center;background-size: cover;margin-left: .32rem;vertical-align: top;margin-top: .2rem;}
.ordershopForm input{background: none;border: none;outline: none;font-size: .26rem;padding: .2rem .18rem;width: 86%;padding-right: 0}
.ordershopForm input::-webkit-search-cancel-button {-webkit-appearance: none;position: relative;height: 20px;width: 20px;border-radius: 50%;background: url(../images/shop/clear_input.png) no-repeat center/cover;}
.ordershopForm input::placeholder{color: #BBBCC4;}
.search_box .qx_btn {font-size: .3rem;color: #333;margin-top: .18rem;margin-left: 0.25rem;}
.serbtn{width: .36rem;height: .36rem;background: url(../images/shop/serquan.png) no-repeat center/cover;position: absolute;right: .3rem;top: 50%;margin-top: -.18rem;}

/*商品列表*/
.QuanList {margin-top: 2.1rem;padding-bottom: 1.5rem;}
.huoniao_iOS .QuanList {margin-top: 1.2rem;}
.item{ margin: .3rem .2rem;}
.item .itemTop{background: #fff;padding: .3rem 0 .44rem;border-radius: .2rem .2rem 0px 0px;}
.item .itemTop .quanLeft{float: left;min-width: 1.34rem;text-align: center;color: #FF5C50;padding: .1rem .2rem 0;}
.item .itemTop .quanLeft strong{font-size: .5rem;font-family: moneyNumber}
.item .itemTop .quanLeft em{font-size: .24rem;}
.item .quanRt{float: left;}
.item .quanRt h2{font-size: .32rem;color: #222;font-weight: bold;max-width: 4.2rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.item .quaninfo{font-size: 0;margin-top: .1rem;padding-bottom: .1rem;}
.item .quaninfo em{font-size: .26rem;color: #666;display: inline-block;line-height: .4rem;}
.item .quaninfo span{display: inline-block;margin-right: .1rem;display: inline-block;font-size: .2rem;line-height: .4rem;border-radius: .06rem;vertical-align: top;}
.item .quaninfo span.state{padding: 0 .16rem;color: #fff;}
.item .quaninfo span.usetype{padding: 0 .12rem;font-size: .22rem;margin-right: .14rem;}
.item .quaninfo .state.blue{background: linear-gradient(90deg, #407FFF 0%, #3377FF 100%);}
.item .quaninfo .state.red{background: #FF5C50}
.item .quaninfo .state.grey{background: #9396A4}
.item .quaninfo .usetype.goods{background: #F0F2F7;color: #7F889E}
.item .quaninfo .usetype.store{background: #FFF2EF;color: #FF5C50}
.item .quanpro{font-size: .24rem;color: #999;margin-top: .14rem;}

.item .itemBot{height: .94rem;display: flex;align-items: center;background: url(../images/shop/quanline.png) center center no-repeat;background-size: cover;position: relative;justify-content: flex-start;padding: 0 .88rem;border-top: .02rem dashed #eee;}
.item .itemBot a{font-size: .28rem;color: #3282ED;position: relative;}
.item .itemBot em{display: block;width: 1px;background: #ddd;height: .28rem;margin: 0 .5rem;}
.item .itemBot::before,.item .itemBot::after{content: '';display: block;position: absolute;top: -.13rem;width: .26rem;height: .26rem;background: #F5F5F7;border-radius: 50%;}
.item .itemBot::before{left: -.13rem;}
.item .itemBot::after{right: -.13rem;}
.loading{text-align: center; line-height: 1rem;font-size: .24rem;color: #999}


.addQuan {position: fixed; left: 0; bottom:0; right: 0;padding: .3rem;}
.addQuan a {display: block; line-height: .8rem;height: .8rem; text-align: center; font-size: .32rem; color: #fff;font-weight: bold;background: linear-gradient(90deg, #407FFF 0%, #3377FF 100%);border-radius: .4rem;position: relative;z-index: 2}
.addQuan::after{content: '';display: block;width: 100%;height:1.6rem;background:linear-gradient(180deg, rgba(255, 255, 255, .2) 0%, rgba(245, 245, 247, 1) 80%);position: absolute;left: 0;right: 0;bottom: 0;}

/*复制成功弹窗*/
.suc,.failed{width: 2.7rem;height: 1.74rem;background: rgba(0,0,0,.8);border-radius: .2rem;position: fixed;left: 50%;top: 50%;margin-left: -1.35rem;margin-top: -0.87rem;display: none;animation: popup .3s ease-out;}
.suc.show,.failed.show{display: block;}
.suc i{display: block;width: .5rem;height: .5rem;background: url(../images/shop/suc.png) center center no-repeat;background-size: cover;margin: .32rem auto .16rem;}
.suc p,.failed p{text-align: center;font-size: .28rem;color: #fff;font-weight: bold;}
.failed{height: .9rem;line-height: .9rem;margin-top: -.45rem;}

/*删除 结束弹窗*/
.shopQuanEnd .pubdelAlert{height: auto;margin-top: -1.46rem;overflow: visible;}
.shopQuanEnd .pubdelAlertCon>div{padding: .48rem .4rem .56rem}
.shopQuanEnd .pubdelAlert h2.delTile{font-size: .36rem}
.shopQuanEnd .pubdelAlert p{font-size: .28rem;color: #444;    margin-top: 0.15rem;}

.quanEmpty{}
.quanEmpty .imgEmpty{display: block;width: 4.2rem;height: 3.7rem;background: url(../images/shop/quanempty.png) center center no-repeat;background-size: cover;margin: 1.84rem auto .1rem}
.quanEmpty p{font-size: .24rem;color: #9C9EAF;text-align: center;}
