body, html{background: #fff; font-size: .3rem;overflow: visible;}
.line{height: .3rem;background: #F5F5F7;}
/*券详情*/
.quanTop{padding: .3rem 0 .43rem;background: url("../images/shop/quandet_bg.png") no-repeat top center;background-size:100% auto;}
.item{margin: 0 .2rem;background: #fff;padding: .5rem 0 .44rem;border-radius: .2rem;box-shadow: 0px 1px .29rem 0px rgba(213, 213, 213, 0.44);}
.item .quanLeft{float: left;min-width: 2.3rem;text-align: center;color: #3378FF;padding: .1rem .2rem 0;box-sizing: border-box;}
.item .quanLeft strong{font-size: .6rem;font-family: moneyNumber}
.item .quanLeft span{font-size: .36rem;font-weight: bold;}
.item .quanRt{overflow: hidden;padding-right: .2rem;}
.item .quanRt h2{font-size: .36rem;color: #222;font-weight: bold;}
.item .quaninfo{font-size: 0;margin-top: .08rem;}
.item .quaninfo em{font-size: .24rem;color: #444;display: inline-block;line-height: .4rem;}
.item .quaninfo span{display: inline-block;margin-right: .12rem;display: inline-block;font-size: .2rem;line-height: .4rem;border-radius: .06rem;vertical-align: top;}
.item .quaninfo span.state{padding: 0 .16rem;color: #fff;}
.item .quaninfo span.usetype{padding: 0 .12rem;font-size: .22rem;margin-right: .14rem;background: #F0F2F7;color: #7F889E}
.item .quaninfo .state.blue{background: linear-gradient(90deg, #407FFF 0%, #3377FF 100%);}
.item .quaninfo .state.red{background: #FF5C50}
.item .quaninfo .state.grey{background: #9396A4}
.item .quaninfo .usetype.goods{background: #F0F2F7;color: #7F889E}
.item .quaninfo .usetype.store{background: #FFF2EF;color: #FF5C50}

.addQuan{box-sizing: border-box;padding: 0 .3rem;background: #fff; margin-top: .38rem;}
.addQuan a{display: block;width: 100%;height: .8rem;line-height: .8rem;border-radius: .4rem;background: linear-gradient(90deg, #407FFF 0%, #3377FF 100%);font-size: .32rem;color: #fff;font-weight: bold;text-align: center;}

.quanMid{padding: .4rem .3rem;}
.quanMid dl{margin-bottom: .54rem;}
.quanMid dt{font-size: .3rem;color: #333;font-weight: bold;margin-bottom: .2rem}
.quanMid dt::before{content: '';display: inline-block;width: .22rem;height: .22rem;box-sizing: border-box;border-radius: 50%;background: #fff;border: .06rem solid #3378FF;margin-right: .14rem}
.quanMid dd{padding-left: .36rem;}
.quanMid dd p.quanpro{font-size: .24rem;color: #666;margin-bottom: .22rem;}
.quanMid dd .fw{font-size: .24rem;color: #666}


/*商品列表*/
.quanMid .pro_box dt{margin-bottom: .34rem}
.pro_box ul .pro_li {position: relative;border: 1px solid #f5f5f7;border-radius: .2rem;margin-top: .2rem;}
.pro_box ul .pro_li a{display: block;padding:.2rem;}
.pro_box ul .pro_li .left_proimg{width: 1.2rem; height: 1.2rem; float: left; position: relative;}
.pro_box ul .pro_li .left_proimg img{width: 100%; height: 100%; object-fit: cover; border-radius: .12rem;}
.pro_box ul .pro_li .right_info{margin-left: 1.35rem; height: 1.2rem;width: 4.8rem;}
.pro_box ul .pro_li .right_info h2{font-size: .28rem; color: #000;margin: 0;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;height: .65rem;}
.pro_box ul .pro_li .right_info h5{font-size: .22rem;color: #777;margin-top: .02rem;}
.pro_box ul .pro_li .right_info h5 i{display: inline-block;width: .24rem;height: .24rem;background:url("../images/shop/yure.png") no-repeat;background-size:cover;vertical-align: middle;margin-top: -.04rem;margin-right: .03rem;}
.pro_box ul .pro_li .right_info h5 span{font-size: .22rem;color: #FF6916;margin-right: .16rem;}
.pro_box ul .pro_li .right_info .msTime{font-size:0;color: #777;margin-top: .02rem;}
.pro_box ul .pro_li .right_info .msTime span,.pro_box ul .pro_li .right_info .msTime em{font-size: .22rem;}
.pro_box ul .pro_li .right_info .msTime p{display: inline-block;font-size: .22rem;color: #FF6916;margin-right: .16rem;}
.pro_box ul .pro_li .right_info .msTime i{display: inline-block;width: .24rem;height: .24rem;background:url("../images/shop/yure.png") no-repeat;background-size:cover;vertical-align: middle;margin-top: -.04rem;margin-right: .03rem;}

.pro_box ul .pro_li .right_info p{ margin-top: .12rem}
.pro_box ul .pro_li .right_info p span{display: inline-block;padding: 0 .06rem;line-height: .3rem;font-size: .2rem;color: #fff;border-radius: .06rem;margin-right: .08rem;vertical-align: middle;margin-top: -.04rem;}
.pro_box ul .pro_li .right_info p span.qgou{background: #EC3628}
.pro_box ul .pro_li .right_info p span.msha{background: #EC3628}
.pro_box ul .pro_li .right_info p span.kanjia{background: linear-gradient(90deg, #F643FF 0%, #6730F1 100%);}
.pro_box ul .pro_li .right_info p span.tuan{background: linear-gradient(90deg, #F643FF 0%, #6730F1 100%);}
.pro_box ul .pro_li .right_info p em{font-size: .2rem;font-family: moneyNumber;color: #EC3628;}
.pro_box ul .pro_li .right_info p strong{font-family: moneyNumber; font-size: .28rem;color: #EC3628;}