body, html{background: #F7F8FA;}
.huoniao_iOS .bgbox .top_box .left_link{visibility: hidden; }
.huoniao_iOS .bgbox .top_box{visibility: hidden; height: .2rem;}
.huoniao_iOS .page_shop#bus::before{height: 5rem;}
.app_show{display: none;}
.huoniao_iOS .app_show{display: block;}
.bgbox{width: 100%;background-position: center bottom;position: relative;}
.bgbox .top_box{display: flex; padding: 0rem .3rem 0rem .26rem; align-items: center; justify-content: space-between; height: .88rem;box-sizing: border-box;}
.bgbox .top_box .left_link{display: inline-block;width: .44rem;height: .48rem;background: url(../images/back-r.png) no-repeat;background-size: cover;}
.bgbox .top_box .right_link{width: .48rem; height: .48rem; background: url(../images/shop/set-icon.png) no-repeat center/.48rem; }

.userinfo_box{margin: 0 .3rem; display: flex; align-items: center; justify-content: space-between; margin-top: .38rem;}
.userinfo_box .uhead_box{display: flex; align-items: center;  }
.userinfo_box .uhead_box .uheadImg{width: 1.2rem; height: 1.2rem; border-radius: 50%; background-color: #f5f5f5; margin-right: .2rem; display: block;}
.userinfo_box .uhead_box .uheadImg img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.userinfo_box .uhead_box .uinfo{display: block;}
.userinfo_box .uhead_box .uinfo h3{font-size: .36rem; color: #fff; font-weight: bold; max-width: 3rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.page_shop .userinfo_box .uhead_box .uinfo h3 {max-width: 5rem;}
.userinfo_box .uhead_box .uinfo p{font-size: .26rem; color: #fff; opacity: .7; margin-top: .1rem;}
.userinfo_box .homepage{font-size: .26rem; color: #FF3150; display: block; line-height: .5rem; border-radius: .25rem; padding: 0 .25rem; background-color: #fff;}
.userinfo_box .homepage.level{color: #784244 !important; background: linear-gradient(90deg, #FEE6CC, #FEDEBD);}
.module_data{margin: 0 .2rem; margin-top: .4rem;}
.module_data ul{display: flex; align-items: center; justify-content: space-around; color: #fff; text-align: center;}
.module_data ul li a{color: #fff;}
.module_data ul li h4{font-size: .32rem; font-family: moneyNumber;}
.module_data ul li p{font-size: .24rem; opacity: .7;}
@font-face {
	font-family: moneyNumber;
	src: url('/static/fonts/coregtd6.otf'),
		url('/static/fonts/coregtd6.TTF'),
		url('/static/fonts/coregtd6.svg'),
		 url('/static/fonts/coregtd6.woff'); /* IE9 */
}


/* 内容 */
.content_box{margin-top: .4rem;}
.content_box .con{margin: 0 .24rem .24rem;border-radius: .24rem; box-shadow: 0 .07rem .37rem 0 rgba(0, 0, 0, 0.08); background-color: #fff; overflow: hidden;position: relative;}
.content_box .con dt{height: .9rem; border-bottom: solid 1px #f5f5f7; display: flex; align-items: center; justify-content: space-between; padding: 0 .3rem;}
.content_box .con dt h5{color: #000; font-size: .3rem; font-weight: bold;}
.content_box .con dt h5 span{color: #9C9EAF; font-size: .24rem; margin-left: .1rem; font-weight:500 ;}
.content_box .con dt a{color: #D48137; font-size: .24rem;}
.content_box .con.first_con dt a{color: #9C9EAF;}
.content_box .con dd{padding: 0rem .3rem .3rem;}
.content_box .con .orderType{display: grid; grid-template-columns: repeat(5,1fr); row-gap: .2rem; align-items: center; justify-content: space-around;}
.content_box .con .icon_box{width: .64rem; height: .64rem; margin: auto; position: relative;}
.content_box .con .icon_box .num{display: block; min-width: .34rem; line-height: .34rem; border-radius: .17rem; color: #fff; font-size: .24rem; background-color: #FF523B; box-sizing: border-box; padding: 0 .1rem; position: absolute; left: .38rem; bottom: .4rem;}
.content_box .con .orderType .icon_box img,.content_box .con .mymanage .icon_box img{display: block; width: 100%; height: 100%; object-fit: cover;}
.content_box .con .orderType p{color: #6A6D80; font-size: .24rem; margin-top: .1rem; text-align: center;}
.content_box .con .orderType a{display: block; text-align: center;}
.content_box .con .qd_box{height: .84rem; border-radius: .2rem; background-color: #FFF5EA; display: flex; align-items: center; justify-content: space-between; padding: 0 .2rem 0 .1rem; color: #FB7324; font-size: .26rem; font-weight: bold; margin-top: .24rem;}
.content_box .con .qd_box a{color: #FB7324; min-width: 1.1rem; height: .48rem; border-radius: .25rem; border: solid 1px #FFB990; line-height: .48rem; text-align: center;}
.content_box .con .qd_box span::before{content: ''; display: block; width: .84rem; height: .84rem; background: url(../images/mcenter/qd.png) no-repeat center; background-size: .84rem; margin-right: .06rem;}
.content_box .con .qd_box span{display: flex; align-items: center;}

.content_box .con .mymanage{width: 100%; display: flex; align-items: center;}
.content_box .con .mymanage li{width: 25%; }
.content_box .con .mymanage li a{display: block;}
.content_box .con .mymanage p{color: #6A6D80; text-align: center; margin-top: .1rem;}
.content_box .con .mymanage p em{color: #2A2B33; margin-left: .1rem;}

.content_box .vipTo{height: 1.3rem; margin: 0 .3rem; border-radius: .24rem; background: url(../images/mcenter/bg_black.png) no-repeat center; background-size: cover; box-sizing: border-box; padding: 0 .3rem; display: flex; align-items: center; justify-content: space-between; margin-bottom: .2rem;  box-shadow: 0 .04rem .2rem 0 rgba(0, 0, 0, 0.26);}
.content_box .vipTo .left_text h3{font-size: .36rem; color: #FEE6CC; background: linear-gradient(90deg, #FFF8EB 0%, #FEDEBD 80%);-webkit-background-clip: text;-webkit-text-fill-color: transparent; font-weight: 900; display: inline-block;}
.content_box .vipTo .left_text p{color: #FEE6CC; font-size: .24rem;background: linear-gradient(90deg, #FFF8EB 0%, #FEDEBD 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.content_box .vipTo .right_btn{ min-width: 1.8rem; height: .6rem; border-radius: .3rem;  display: flex; align-items: center; justify-content: center; color: #784244; font-size: .24rem; background: linear-gradient(90deg, #FEE6CC, #FEDEBD); font-weight: bold;}
.content_box .vipTo .right_btn::after{content: ''; display: block; width: .3rem; height: .3rem; background: url(../images/mcenter/arr.png) no-repeat center; background-size: cover; margin-left:.1rem ; }
.content_box .vipTo .right_to{color: #A69380; font-size: .22rem; display: flex; align-items: center; }
.content_box .vipTo .right_to:after{content: ''; display: block; width: .24rem; height: .24rem; background: url(../images/mcenter/arr2.png) no-repeat center; margin-left: .1rem; background-size: cover;}


.link_manage{margin: 0 .3rem;  min-height: .8rem; background-color: #FFF5E5; box-sizing: border-box; border: solid 1px #F7E4C6; box-shadow: 0 .07rem .37rem 0 rgba(0, 0, 0, 0.06); border-radius: .24rem; margin-bottom: .2rem; padding: 0 .28rem; padding-right: .2rem; display: flex; align-items: center; justify-content: space-between; margin-top: .2rem;}
.link_manage h5{font-weight: bold; font-size: .3rem; color: #000;}
.link_manage h5 span{color: #A5958B; font-weight: normal; font-size: .24rem; margin-left: .11rem;}
.link_manage a{display: block; width: 1.36rem; line-height: .5rem; border-radius: .25rem; text-align: center; font-size: .24rem;background: linear-gradient(90deg, #6B5040 0%, #554135 100%);box-shadow: 0 .07rem .13rem 0 rgba(163, 124, 98, 0.23); color: #FFF5E5;}
/*商城--商家版*/

.page_shop#bus {padding-bottom: 1rem;position: relative;}
.page_shop#bus::before{background: url(../images/myCenterBg.png) no-repeat;position: absolute;top: 0;left: 0;width: 100%;content: '';height: 6rem;background-size: cover;}
.page_shop#bus .userinfo_box{margin-top: .2rem;margin-right: 0}
.page_shop#bus .storeindex{font-size: .24rem;color: #fff;background: linear-gradient(90deg, #FF6A4D 0%, #FF514D 100%);border-radius: .3rem;position: absolute;right: .24rem;width: 1.7rem;box-sizing: border-box;height: .62rem;display:flex;align-items: center;justify-content: center;}
.page_shop#bus .storeindex img{width: .3rem;height: .3rem;}
.page_shop#bus .userinfo_box .uhead_box .uinfo a{display: block;}
.page_shop#bus .userinfo_box .uhead_box .uinfo h3{max-width: 3.6rem;}
.page_shop#bus .userinfo_box .uhead_box .uinfo p{font-size: .22rem;display: flex;gap: .1rem;}
.page_shop#bus .userinfo_box .uhead_box .uinfo p em{font-size: .22rem;color: #FFD3A9;opacity: 1;width: .64rem;height: .3rem;background: #37384B;border-radius: .15rem;border: .01rem solid #FFD3A9;display: flex;align-items: center;justify-content: center;}
.page_shop#bus .content_box .con{box-shadow: none;}
.page_shop#bus .content_box .con dt{border-bottom: none;}
.page_shop#bus .content_box .con dt h5{font-size: .32rem;}
.page_shop#bus .content_box .con .orderType p{font-size: .26rem;}
.page_shop#bus .hxsp{margin: .24rem}
.page_shop#bus .hxsp ul{display: flex;justify-content: space-between;gap: .2rem;}
.page_shop#bus .hxsp li{height: 1.33rem;position: relative;border-radius: .2rem;overflow: hidden;flex: .5;}
.page_shop#bus .hxsp li a{display: block;display: flex;align-items: center;width: 100%;height: 100%}
.page_shop#bus .hxsp li h4{font-size: .32rem;color: #772D2E;font-weight: bold;margin-left: .33rem;}
.page_shop#bus .hxsp li p{font-size: .24rem;color: rgba(119, 45, 46, .8);margin-left: .34rem;margin-top: -.01rem;}
.page_shop#bus .hxsp li.hxquan{ background: linear-gradient(90deg, #FFCAB8 0%, #FFDFD3 100%);}
.page_shop#bus .hxsp li.spmanage{background: linear-gradient(90deg, #FFE19E 0%, #F9EABF 100%);}
.page_shop#bus .hxsp li.spmanage h4{color: #714B1C}
.page_shop#bus .hxsp li.spmanage p{color: rgba(149, 115, 66, .8)}
.page_shop#bus .hxsp li a::after{content: '';display: inline-block;width: 1rem;height: 1rem;position: absolute;right: .24rem;top: 50%;margin-top: -.5rem;}
.page_shop#bus .hxsp li.hxquan a::after{background: url(../images/shop/shop_hx.png) center center no-repeat;background-size: cover;}
.page_shop#bus .hxsp li.spmanage a::after{background: url(../images/shop/shop_sp.png) center center no-repeat;background-size: cover;}
.page_shop#bus .content_box .con.first_con dt a.renz{color: #F1562A}
/* .page_shop#bus .content_box .con.yingxiao .orderType{justify-content: flex-start;}
.page_shop#bus .content_box .con.yingxiao .orderType li{margin-right: .46rem;} */



.pubMask{position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,.57);z-index: 100000000;display: none;}
.pubMask.show,.pubAlert.show{display: block;}

.pubAlert{position: fixed;top: 30%;left: 0;right: 0;z-index: 100000001;overflow: hidden;min-height: 2.8rem;margin-top: -1.4rem;text-align: center;  transform-origin: center; display: none; animation:popup .3s forwards; transform-origin: center !important; margin: auto; width: 5.4rem}
.pubAlertCon{background: #fff; box-shadow:0 .07rem .37rem 0 rgba(0, 0, 0, 0.13); border-radius:.3rem;min-width:5.4rem;display: inline-block;pointer-events: auto}
/*.pubAlertCon>div{padding: .55rem .4rem .48rem}*/
.pubAlert h2.delTile{font-size: .32rem;font-weight: bold;text-align: center;}
.pubAlert p{font-size: .24rem;color: #999;text-align: center;margin-top: .05rem}
.pubAlert ul{border-top: 1px solid #f5f5f7;display: flex;align-items: center;justify-content: center; margin-top: .34rem}
.pubAlert ul li{box-sizing: border-box;height: .86rem;line-height: .86rem;font-size: .3rem;font-weight: bold;text-align: center;width: 100%; border-right:solid 1px #f5f5f7;}
.pubAlert ul li a{display: block;color: #3C7CFF;}
.pubAlert ul li a.sureDel{color: #3B7CFF}
.pubAlert ul.popfirmUl li{border-right: 1px solid #f5f5f7}
.pubAlert ul.popfirmUl li{width: 50%;}
.pubAlert ul li:last-child{border-right: none;}
.pubAlert .pubImg{display: block; width: 2.66rem; height: 1.8rem; margin: auto; padding-top: .54rem;}
.pubAlert .pubImg img{ width: 100%; object-fit: cover ; }
.pubAlert .pubText h3{font-size:.3rem; font-weight: bold;}
.pubAlert .pubText.checking h3{font-size: .36rem}
.pubAlert .pubText.checkFailed h3{font-size: .28rem}
.pubAlert .pubText.checkSuccess{margin-top: .28rem}
.pubAlert .pubText.checkFailed{margin-top: .2rem}
.closePubAlert{display: block; width: .3rem; height: .3rem; background: url(../images/closePop.png) no-repeat center/cover; position: absolute; top: .27rem; right: .32rem}
.noCloseBtn .closePubAlert{display: none;}


/*到期提示*/
.daoqi_mask{position: fixed; left: 0; right: 0; top: 0; bottom: 0; background: rgba(0,0,0,.5); display: none;  z-index: 999}
.daoqiPop{width: 6.02rem; height: 6.24rem; position: fixed; left: 0; right: 0;top: 0; bottom: 0; margin: auto; background: url(../images/shop/shop_bg.png) no-repeat center/cover; display: none; animation: popup .3s; z-index: 999; transform-origin: center center !important;}
.daoqiPop .title{margin: 0 .7rem; padding-top:.5rem;}
.daoqiPop .title h3{font-size: .42rem; color: #504640; font-weight: 800; line-height: .6rem;}
.daoqiPop .title h3 b{color: #E60000}
.daoqiPop .title p{font-size: .28rem; color: #806F66; line-height: .36rem; margin-top: .1rem}
.daoqiPop .btn_xu{display: block; width: 3.7rem; height: .85rem; border-radius: .43rem; text-align: center; line-height: .85rem; font-size: .36rem; color: #78482F; background: linear-gradient(90deg, #DBB292 0%, #F8DFC4 100%); box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.5); position: absolute; left: 0; right: 0; bottom: .8rem; margin: auto; font-weight: bold;}
.daoqiPop .btn_close{display: block; width: .7rem; height: .7rem; background: url(../images/shop/close_guoqiPop.png) no-repeat center/cover; position: absolute; left: 0; right: 0; bottom: -1.3rem; margin: auto;}
.c-data{display: flex;justify-content: space-between;margin-top: .4rem;}
.cd-item{flex: .3;text-align: center;}
.cdi-time{font-weight: 500;font-size: .26rem;color: #FFFFFF;opacity: 0.7;}
.cdi-number{font-family: moneyNumber;font-size: .34rem;color: #FFFFFF;}
.cdi-text{font-weight: 500;font-size: .22rem;color: #FFFFFF;opacity: 0.5;}
.continueLabel{margin: 0rem .24rem .22rem;height: 1.3rem;background: url(../images/newLabel.png) no-repeat;background-size: cover;border-radius: .3rem;display: flex;align-items: center;justify-content: space-between;padding: 0rem .3rem;position: relative;z-index: 1;}
.c-left .title{font-weight: bold;font-size: .32rem;color: #FEE6CC;background: linear-gradient(to right, #FFF8EB 0%, #FEDEBD 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.c-left .tip{font-weight: 400;font-size: .24rem;color: #FEE6CC;background: linear-gradient(to right, #FFF8EB 0%, #FEDEBD 100%);opacity: 0.8;-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.c-btn{width: 1.8rem;height: .6rem;background: linear-gradient(90deg, #FEE6CC, #FEDEBD);border-radius: .32rem;display: flex;align-items: center;justify-content: center;}
.c-btn span{font-weight: bold;font-size: .24rem;color: #4C4947;}
.c-btn img{width: .28rem;height: .28rem;margin-left: .06rem;}