<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
<title>管理商城店铺</title>
{#$cssFile#}
<style>
.list td .delete {color: #f00;}
</style>
</head>

<body>
<div class="search">
  搜索：
  <div class="choseCity"><input type="hidden" id="cityid" name="cityid" placeholder="请选择城市分站" value=""></div>
  <div class="btn-group" id="shoptypeBtn" data-id="">
    <button class="btn dropdown-toggle" data-toggle="dropdown">店铺类型<span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="javascript:;" data-id="">店铺类型</a></li>
      <li><a href="javascript:;" data-id="1">团购</a></li>
      <li><a href="javascript:;" data-id="2">电商</a></li>
    </ul>
  </div>
  <div class="btn-group" id="certiBtn" data-id="">
    <button class="btn dropdown-toggle" data-toggle="dropdown">{#if $sCerti#}审核配送方式{#else#}认证/待办信息{#/if#}<span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="javascript:;" data-id="">认证/待办信息</a></li>
      <li><a href="javascript:;" data-id="0">未认证</a></li>
      <li><a href="javascript:;" data-id="1">已认证</a></li>
      <li><a href="javascript:;" data-id="2">认证失败</a></li>
      <li><a href="javascript:;" data-id="3">审核配送方式</a></li>
    </ul>
  </div>
  <div class="btn-group" id="deliveryBtn" data-id="">
    <button class="btn dropdown-toggle" data-toggle="dropdown">配送方式<span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="javascript:;" data-id="">配送方式</a></li>
      <li><a href="javascript:;" data-id="express">快递配送</a></li>
      <li><a href="javascript:;" data-id="merchant_deliver">商家自送</a></li>
      <li><a href="javascript:;" data-id="distribution">平台配送</a></li>
    </ul>
  </div>
  <div class="btn-group" id="industryBtn" data-id="">
    <button class="btn dropdown-toggle" data-toggle="dropdown">全部行业<span class="caret"></span></button>
  </div>
  <input class="input-xlarge" type="search" id="keyword" placeholder="请输入要搜索的关键字" value="{#$keywords#}">
  <button type="button" class="btn btn-success" id="searchBtn">立即搜索</button>
</div>

<div class="filter clearfix">
  <div class="f-left">
    <div class="btn-group" id="selectBtn">
      <button class="btn dropdown-toggle" data-toggle="dropdown"><span class="check"></span><span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="javascript:;" data-id="1">全选</a></li>
        <li><a href="javascript:;" data-id="0">不选</a></li>
      </ul>
    </div>
    <button class="btn" data-toggle="dropdown" id="delBtn">删除</button>
    <div class="btn-group" id="stateBtn"{#if $notice#} data-id="0"{#/if#}>
      {#if $notice#}
      <button class="btn dropdown-toggle" data-toggle="dropdown">待审核(<span class="totalGray"></span>)<span class="caret"></span></button>
      {#else#}
      <button class="btn dropdown-toggle" data-toggle="dropdown">全部信息(<span class="totalCount"></span>)<span class="caret"></span></button>
      {#/if#}
      <ul class="dropdown-menu">
        <li><a href="javascript:;" data-id="">全部信息(<span class="totalCount"></span>)</a></li>
        <li><a href="javascript:;" data-id="0">待审核(<span class="totalGray"></span>)</a></li>
        <li><a href="javascript:;" data-id="1">已审核(<span class="totalAudit"></span>)</a></li>
        <li><a href="javascript:;" data-id="2">拒绝审核(<span class="totalRefuse"></span>)</a></li>
      </ul>
    </div>
    <div class="btn-group hide" id="batchAudit">
      <button class="btn dropdown-toggle" data-toggle="dropdown">批量审核<span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="javascript:;" data-id="待审核">待审核</a></li>
        <li><a href="javascript:;" data-id="已审核">已审核</a></li>
        <li><a href="javascript:;" data-id="拒绝审核">拒绝审核</a></li>
      </ul>
    </div>
    <a href="shopStoreAdd.php" class="btn btn-primary" id="addNew">新增店铺</a>
  </div>
  <div class="f-right">
    <div class="btn-group" id="pageBtn" data-id="20">
      <button class="btn dropdown-toggle" data-toggle="dropdown">每页20条<span class="caret"></span></button>
      <ul class="dropdown-menu pull-right">
        <li><a href="javascript:;" data-id="10">每页10条</a></li>
        <li><a href="javascript:;" data-id="15">每页15条</a></li>
        <li><a href="javascript:;" data-id="20">每页20条</a></li>
        <li><a href="javascript:;" data-id="30">每页30条</a></li>
        <li><a href="javascript:;" data-id="50">每页50条</a></li>
        <li><a href="javascript:;" data-id="100">每页100条</a></li>
      </ul>
    </div>
    <button class="btn disabled" data-toggle="dropdown" id="prevBtn">上一页</button>
    <button class="btn disabled" data-toggle="dropdown" id="nextBtn">下一页</button>
    <div class="btn-group" id="paginationBtn">
      <button class="btn dropdown-toggle" data-toggle="dropdown">1/1页<span class="caret"></span></button>
      <ul class="dropdown-menu" style="left:auto; right:0;">
        <li><a href="javascript:;" data-id="1">第1页</a></li>
      </ul>
    </div>
  </div>
</div>

<ul class="thead t100 clearfix">
  <li class="row3">&nbsp;</li>
  <li class="row25 left">店铺名</li>
  <li class="row16 left">会员信息</li>
  <li class="row12 left">经营行业</li>
  <li class="row10 left">入驻时间</li>
  <li class="row10 left">管理</li>
  <li class="row6 left">商品/订单</li>
  <li class="row8">状态</li>
  <li class="row10">操作</li>
</ul>

<div class="list mt124" id="list" data-totalpage="1" data-atpage="1"><table><tbody></tbody></table><div id="loading" class="loading hide"></div></div>

<div id="pageInfo" class="pagination pagination-centered"></div>

<div class="hide">
  <span id="sKeyword">{#$keywords#}</span>
  <span id="sIndustry"></span>
  <span id="sAddr"></span>
  <span id="sCerti">{#$sCerti#}</span>
  <span id="sDelivery"></span>
  <span id="shoptype"></span>
</div>

<script>
  var addrListArr = {#$addrListArr#}, industryListArr = {#$industryListArr#},
      adminPath = "{#$adminPath#}",cityList = {#json_encode($cityArr)#};
</script>
{#$jsFile#}
</body>
</html>
