<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
	<title>图片视频</title>
	<meta name="keywords" content="{#$cfg_keywords#}">
	<meta name="description" content="{#$cfg_description#}">
	<link rel="stylesheet" type="text/css" media="all" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" />
	<!-- <link rel="stylesheet" href="{#$cfg_staticPath#}/css/admin/bootstrap.css?v={#$cfg_staticVersion#}"> -->
	<link rel="stylesheet" href="{#$templets_skin#}css/pub_loupan.css?v={#$cfg_staticVersion#}">
	<link rel="stylesheet" href="{#$templets_skin#}css/albums.css?v={#$cfg_staticVersion#}">
	<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js?v={#$cfg_staticVersion#}"></script>
	<script type="text/javascript" src="{#$cfg_staticPath#}js/vue/vue.min.js?v={#$cfg_staticVersion#}"></script>

	<script type="text/javascript">
		var masterDomain = '{#$cfg_basehost#}',
			staticPath = '{#$cfg_staticPath#}';
		var hideFileUrl = '{#$cfg_hideUrl#}';
		var cookiePre = '{#$cfg_cookiePre#}',
			cfg_clihost = '{#$cfg_clihost#}';
		var templets = '{#$templets_skin#}';

		var currid = 3;
		var uptype = 0; //上传视频类型  本地还是url
		var atpage = 1, totalCount = 20, pageSize = 8;
		var loupanid = '{#$loupanid#}';
		var modeType = 'house';
	</script>
</head>

<body class="w1200">
	<div id="page">
		<!-- 头部 -->
		{#include file="top.html"#}
		<div class="conbox">
			{#include file="left.html"#}
			<!-- 右侧 -->
			<div class="right_box">
				<div class="rConBox">
					<h3>图片视频</h3>
					<div class="ListContainer">
						<div class="headbox">
							<div class="shaixuan" >
								<span :class="{'curr':show=='album'}" data-id="album">图片<s></s></span>
								<span :class="{'curr':show=='video'}" data-id="video">视频<s></s></span>
							</div>
						</div>
						<div class="listbox">
							<ul class="album_ul fn-clear" v-cloak v-if="show=='album'">
								<li class="uploadBox" @click="showPop('.pop_albums','add')">
										<s></s>
										<p>新建相册</p>
								</li>
								<li :class="['album',{'noimg':album.countnum==0}]" v-for="(album, i) in albumList">
									<div class="litpic_box">
										<div class="album_info">
											<h3>{{album.title}}</h3>
											<p>已传{{album.countnum}}张图片</p>
										</div>
										<img v-if="album.countnum" :src="'{#$cfg_basehost#}/include/attachment.php?f='+album.piclist[0]" alt="">
									</div>
									<div class="imglist">
										<div class="img" v-for="i in 3">
											<img v-if="album.piclist[i] && album.piclist[i]!='' " :src="'{#$cfg_basehost#}/include/attachment.php?f='+album.piclist[i]" alt="">
										</div>

									</div>
									<div class="btn_group">
										<a :href="'albums-detail.html?id='+album.id" class="edit_btn">编辑相册</a>
										<a :href="'{#$house_channelDomain#}/loupan-album-{#$loupanid#}.html#nav'" target="_blank" class="read_img">查看</a>
									</div>
								</li>
							</ul>
							<ul class="video_ul fn-clear" v-cloak v-else>
								<li class="upvideo" @click="showPop('.pop_videos','add')">
										<s></s>
										<p>上传视频</p>
								</li>

								<li class="video" v-for="(video,i) in videoList">
									<div class="vimg">
										<s></s>
										<img :src="video.litpicpath" alt="">
									</div>
									<div class="vinfo">
										<h5>{{video.title}}</h5>
										<p>{{video.pubdate}}上传</p>
									</div>
									<div class="opt_btn">
										<div class="opbox">
											<a href="javascipt:;" class="edit_btn" @click="showPop('.pop_videos','edit',i,videoList)"><s></s>编辑视频</a>
											<a href="javascipt:;" class="del_btn" @click="del_video(video.id,i)"><s></s>删除</a>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
						<div class="pagination fn-clear"></div>
				</div>
			</div>
			<div class="loading" v-if="loading"></div>
			<div class="foot">
				<div class="foot-bottom">
					<div class="bottom wrap">
						版权所有 © {#$smarty.now|date_format:'%Y'#} {#$cfg_shortname#}. All rights reserved.<br />
					</div>
				</div>
			</div>
		</div>

		<!-- 弹窗 -->
		<div class="pop_mask" @click="close_pop"></div>

		<!-- 相册弹窗 -->
		<div class="Popbox pop_albums" v-cloak>
			<a href="javascript:;" class="close_pop" @click="close_pop"></a>
			<h2>新增相册</h2>
			<form action="" class="formbox">
				<div class="albuminp">
					<label for="title"><em>*</em>相册标题</label>
					<div class="inp">
						<p class="err_tip">请输入相册标题</p>
						<input type="text" name="title" placeholder="填写相册标题">
					</div>
				</div>
				<a href="javascript:;" class="submit" @click="add_album('add')">确认提交</a>
			</form>
		</div>

		<!-- 视频弹窗 -->
		<div :class="['Popbox pop_videos',{'localVideo':!videotype}]"  v-cloak>
			<a href="javascript:;" class="close_pop" @click="close_pop"></a>
			<h2>上传视频</h2>
			<form action="" class="formbox">
				<div class="videoinp">
					<label for="title"><em>*</em>视频标题</label>
					<div class="inp">
						<p class="err_tip">请输入相册标题</p>
						<input type="text" name="title" :value="editArr.title" placeholder="填写视频标题">
					</div>
				</div>
				<div class="videoinp">
					<label for="title"><em>*</em>视频缩略图</label>
					<div class="inp_div img_upload listImgBox">
						<input type="hidden" name="litpic" :value="editArr.litpic" class="imglist-hidden" placeholder="请上传楼盘图片"/>
						<div class="imgbox">

							<div  :class="['upload_btn filePicker uploadinp',{'hide':editArr.litpic}]" id="filePicker1" data-type="thumb"  data-count="1" data-size="{#$thumbSize#}" data-imglist="">
								<s></s>
								<p>上传图片</p>
							</div>

							<div class="imgShow" >
								<ul id="listSection1" class="listSection thumblist">
									<li v-if="editArr.litpic" id="WU_FILE_img_0" class="pubitem">
										<img :src="editArr.litpicpath" :data-val="editArr.litpic" :data-url="editArr.litpicpath">
										<a class="reupload li-rm" href="javascript:;">重新上传</a>
									</li>
								</ul>
								<!-- <div class="reupload">重新上传</div> -->
							</div>
						</div>
						<p class="tip">视频封面图片，推荐尺寸500像素*360像素</p>
					</div>
				</div>

				<div class="videoinp">
					<label for="title"><em>*</em>视频类型</label>
					<div class="inp_div radiobox">
						<ul >
							<li :class="{'chose':videotype == 0}"  @click="videotype=0">
								<input type="radio" name="videotype" value="0" :checked="videotype==0"><s></s>本地
							</li>
							<li :class="{'chose':videotype == 1}"  @click="videotype=1">
								<input type="radio" name="videotype" value="1" :checked="videotype==1"><s></s>外站调用
							</li>
						</ul>
					</div>
				</div>

				<div class="videoinp" v-show="videotype">
					<label for="title"><em>*</em>视频地址</label>
					<div class="inp">
						<input v-if="videotype!=0 && ( editArr.videotype!=1)" type="text" name="videourl"  placeholder="目前仅支持第三方平台的通用代码播放">

						<input v-if="videotype == 1 && editArr.videotype==1 && editArr.videourl" type="text" name="videourl" :value="editArr.videourl" placeholder="目前仅支持第三方平台的通用代码播放">

					</div>
				</div>

				<div v-show="!videotype" class="videoinp">
					<label for="title"><em>*</em>上传视频</label>
					<div class="inp_div img_upload listImgBox video_upload">
						<input v-if="!videotype" type="hidden" name="videourl"  class="imglist-hidden" placeholder="请上传楼盘图片"/>
						<div class="imgbox">
							<div :class="['upload_btn filePicker uploadinp',{'hide':  (videotype==1 && editArr=='') || (editArr!='' && editArr.videotype==0) }]" id="filePicker2" data-mimetypes="video/*" data-extensions="mp4,mov" data-type="filenail" data-type-real="video" data-count="1" data-size="{#$videoSize#}" data-imglist="" >
								<s></s>
								<p>上传视频</p>
							</div>
							<div class="imgShow">
								<ul id="listSection2" class="listSection thumblist" style="display:block !important;">
									<li v-if="videotype == 0 && editArr.videotype==0 && editArr.videourl" id="WU_FILE_video_0" class="pubitem"> <video class="video-js enlarge" id="video_WU_FILE_0" :src="editArr.videourlpath" :data-val="editArr.videourlpath" ><source class="enlarge" src="/include/attachment.php?f=" type="video/mp4"></video> <div class="file-panel li-rm"><span class="cancel">删除</span></div> <span class="player"></span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>



				<a href="javascript:;" class="submit" @click="add_video()">确认提交</a>
			</form>
		</div>

		<!-- 加载中 -->
		<div class="loading" v-show="loading"><s></s></div>
	</div>
	<div>{#$cfg_statisticscode#}</div>
</body>

<script type='text/javascript' src='{#$cfg_basehost#}/include/json.php?action=lang'></script>
<script type="text/javascript" src="{#$templets_skin#}js/publicUpload_v2.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/vue/axios.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/albums.js?v={#$cfg_staticVersion#}"></script>
</html>
