<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
		<title>楼盘管理系统！</title>
		<meta name="keywords" content="{#$cfg_keywords#}">
		<meta name="description" content="{#$cfg_description#}">
		<link rel="stylesheet" type="text/css" media="all" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" />
		<link rel="stylesheet" href="{#$templets_skin#}css/index.css?v={#$cfg_staticVersion#}">
		<link rel="stylesheet" href="{#$templets_skin#}css/pub_loupan.css?v={#$cfg_staticVersion#}">
		<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js?v={#$cfg_staticVersion#}"></script>
		<script type="text/javascript" src="{#$cfg_staticPath#}js/vue/vue.min.js?v={#$cfg_staticVersion#}"></script>
		<script type="text/javascript">
		    var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';
		    var hideFileUrl = '{#$cfg_hideUrl#}';
		    var cookiePre = '{#$cfg_cookiePre#}', cfg_clihost = '{#$cfg_clihost#}';
			var templets = '{#$templets_skin#}';
			var loupanid = '{#$loupanid#}';
		</script>
	</head>
	<body class="w1200">
		<div id="page">

			<!-- 头部 -->
			{#include file="top.html"#}
			<div class="conbox">
				<!-- 左侧导航 -->
				<div class="left_box">
					<ul v-cloak>
						<li v-for=" (item,i) in navList" :class="{'curr':i==currid || i === hoverid}"  @mouseover="hoverid = i" @mouseleave="hoverid = ''">
							<a :href="item.link">
								<s v-if="i!=currid && i !== hoverid"><img :src="'{#$templets_skin#}images/'+(i+1)+'.png'" ></s>
								<s v-else><img :src="'{#$templets_skin#}images/'+(i+1)+'_on.png'" ></s>
								<span>{{item.txt}}</span>
							</a>
						</li>
					</ul>
				</div>
				<!-- 右侧 -->
				<div class="right_box">
					<!-- 欢迎 -->
					<div class="welcomeBox">
						<h3>欢迎登录楼盘管理系统！</h3>
						<div class="loupanBox">
							<div class="loupan_info fn-clear">
								<div class="loupan_left">
									<div class="loupan_img"><img src="{#$litpic#}" alt=""></div>
									<div class="loupan_detail">
										<h2>{#$title#}</h2>
										<p><span>开盘时间：{#$deliverdate#}</span> <em> | </em> <span>总访问量：{#$views#}</span></p>
										<p>销售状态：{#$salestate#}</p>
									</div>
								</div>
								<a href="{#$loupanurl#}" target="_blank" class="btn_home">预览楼盘主页</a>
							</div>

							<ul class="loupan_about">
								<li>
									<div class="left_icon">
										<div class="icon"><img src="{#$templets_skin#}images/dt.png" ></div>
										<div class="txt">
											<h4><b>{#$oupannews#}</b>条</h4>
											<p>资讯动态</p>
										</div>
									</div>
									<a href="{#$cfg_basehost#}/supplier/loupan/add_article.html" class="add_btn">+添加</a>
								</li>
								<li>
									<div class="left_icon">
										<div class="icon"><img src="{#$templets_skin#}images/gw.png" ></div>
										<div class="txt">
											<h4><b>{#$gwcount#}</b>人</h4>
											<p>销售顾问</p>
										</div>
									</div>
									<a href="{#$cfg_basehost#}/supplier/loupan/add_adviser.html" class="add_btn">+添加</a>
								</li>
								<li>
									<div class="left_icon">
										<div class="icon"><img src="{#$templets_skin#}images/kh.png" ></div>
										<div class="txt">
											<h4><b>{#$yxcount#}</b>人</h4>
											<p>意向客户</p>
										</div>
									</div>
									<a href="{#$cfg_basehost#}/supplier/loupan/customer.html" class="add_btn">+查看</a>
								</li>
								<li>
									<div class="left_icon">
										<div class="icon"><img src="{#$templets_skin#}images/bb.png" ></div>
										<div class="txt">
											<h4><b>{#$fenxiaocount#}</b>条</h4>
											<p>分销报备</p>
										</div>
									</div>
									<a href="{#$cfg_basehost#}/supplier/loupan/fenxiaobaobei.html" class="add_btn">+查看</a>
								</li>
							</ul>
						</div>
					</div>

					<!-- 统计图 -->
					<div class="tongjiBox">
						<div class="readBox chartsbox">
							<div class="titleBox">
								<h3>浏览量统计</h3>
								<div class="date_chose"><span class="curr_chose" data-day="7">近7天</span><span data-day="15">近15天</span><span data-day="30">近30天</span></div>
							</div>
							<div class="charts" id="read">

							</div>
						</div>
						<div class="yixiangBox chartsbox">
							<div class="titleBox">
								<h3>意向客户统计</h3>
								<div class="date_chose"><span class="curr_chose" data-day="7">近7天</span><span data-day="15">近15天</span><span data-day="30">近30天</span></div>
							</div>
							<div class="charts" id="yixiang">

							</div>

						</div>
					</div>
				</div>
				<div class="loading" v-show="loading"><s></s></div>
				<div class="foot">
					<div class="foot-bottom">
						<div class="bottom wrap">
							版权所有 © {#$smarty.now|date_format:'%Y'#} {#$cfg_shortname#}. All rights reserved.
							<!--  -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div>{#$cfg_statisticscode#}</div>
	</body>
	<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
	<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/echarts/echarts.js?v={#$cfg_staticVersion#}"></script>
	<script type="text/javascript" src="{#$cfg_staticPath#}js/vue/axios.min.js?v={#$cfg_staticVersion#}"></script>
	<script type="text/javascript" src="{#$templets_skin#}js/index.js?v={#$cfg_staticVersion#}"></script>
</html>
