body,html{-webkit-tap-highlight-color: rgba(240,240,240,0); background: #fff;}
.header{border-bottom: none;}

.shop_info{display: flex; align-items: center; margin: .32rem; font-size: .3rem; color: #313233; }
.shop_info h3{font-weight: bold;}
.shop_info .shop_img{width: .6rem; height: .6rem; border-radius: .3rem; background-color: #fff; margin-right: .1rem;}
.shop_info .shop_img img{width: 100%; height: 100%; object-fit: cover; display: block; border-radius: .3rem;}

.formbox {padding-bottom: 3rem;}
.formbox .inpbox{margin: 0 .3rem; background-color: #F6F6F6; border-radius: .3rem; height: 1.2rem; display: flex; align-items: center; justify-content: space-between; padding: 0 .3rem;margin-bottom: .32rem; border: solid .03rem #F6F6F6; box-sizing: border-box;}
.formbox .inpbox label{color: #7C7C80; font-size: .34rem; font-weight: bold;}
.formbox .inpbox_youhui label {font-size: .28rem;}
.formbox .inpbox label span {position: relative; height: .3rem; display: inline-block; vertical-align: middle; margin: -.1rem 0 0 .1rem; padding: 0 .15rem 0 .1rem; border-radius: .3rem; color: #fff; font-size: .2rem; font-weight: bold; line-height: .32rem; background: linear-gradient(120deg, #FF6B1A 0%, #FF0036 100%); font-family: Core Gothic D; overflow: hidden;}
.formbox .inpbox label span::before {content: ''; position: absolute; left: 0; top: 0; width: .26rem; height: .3rem; background: url('/static/images/business/maidan_sale.png') no-repeat center; background-size: cover; z-index: 1; border-radius: .3rem;}
.formbox .inpbox label span i {position: relative; z-index: 2; font-style: italic;}
.formbox .inpbox label .discount {display: inline-block; font-size: .3rem; color: #FF7A20; margin-left: .1rem;}
.formbox .inpbox input{font-size: .36rem; color: #313233; text-align: right; border: none; background: none; width: 2.25rem;}
.formbox .inpbox input::placeholder{color: #ADAEB3; font-size: .28rem;}
.formbox .inpbox.focus{border: solid .03rem #EFDABF;}
.count{position: relative; margin: 0 .55rem; font-size: .3rem; color: #313233; font-weight: bold; margin-top: .6rem;}
.count span{color: #FF7A20; font-size: .32rem; font-weight: bold; margin-left: .1rem;}
.count span em{font-weight: bold; font-size: .4rem;}
.count .sale_tips {position: absolute; right: 0; top: 0; color: #C58827; font-size: .24rem; line-height: .5rem; font-weight: 500; padding-left: .32rem;}
.count .sale_tips::before {content: ''; position: absolute; left: 0; top: 50%; margin-top: -.16rem; width: .32rem; height: .32rem; background: url('/static/images/business/tips.png') no-repeat center; background-size: cover;}
.btn_pay {display: block; margin: 0 .3rem; height: 1rem; border-radius: .5rem; background: linear-gradient(-71deg, #F74F20 0%, #FD6E38 100%); color: #fff; text-align: center; font-size: .36rem; font-weight: bold; line-height: 1rem; margin-top: .4rem;}
.disabled {pointer-events: none !important; opacity: 0.5;}

.sale_tips_box {position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 9999999; display: none;}
.sale_tips_box_bg {position: fixed; top:0; left: 0; right: 0; bottom: 0;background:rgba(0,0,0,0.5); z-index: 1;}
.sale_tips_box_main {position: absolute; bottom: 0; left: 0; right: 0; background-color: #fff; border-radius: .4rem .4rem 0 0; z-index: 2; padding-bottom: .6rem;}
.sale_tips_box_title {text-align: center; font-size: .36rem; font-weight: 700; color: #000; padding: .45rem 0 .1rem;}
.sale_tips_box_title i {display: inline-block; vertical-align: middle; width: .38rem; height: .38rem; background: url(../images/tip.png) no-repeat center; background-size: .38rem; margin: -.05rem .1rem 0 0;}

.tip_hui{background-color: #F7F7F7; border-radius: .3rem; padding: .3rem .3rem .3rem; margin: .32rem;}
.tip_hui dt{color: #C58827; font-size: .28rem; font-weight: bold; display: flex; align-items: center; margin-bottom: .1rem;}
.tip_hui dd{font-size: .26rem; color: #000; opacity: 0.5; line-height: .36rem;}
.tip_hui.sys dd {padding-left: .3rem; margin-bottom: .1rem; position: relative;}
.tip_hui.sys dd::before {content: ''; position: absolute; left: .1rem; top: .13rem; width: 3px; height: 3px; background: #9D9D9D; border-radius: 50%;}

/* 错误提示1 */
.popErr {position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 100001; visibility: hidden;}
.popErr p {position: fixed; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: .3rem; line-height: 1.4; text-align: center; padding: .24rem .2rem; z-index: 9999; left: 0; top: 50%; margin-top: -.2rem;}

#selfNumBox .inpbox{position: relative;}
#selfNumBox .blink {line-height: 1.1rem; font-size: .36rem; color: #000; position: absolute; right: .22rem; bottom: 0; top: 0;	margin: auto; animation: blink .8s infinite steps(1, start);}
#selfNumBox .focus .blink {display: block;}

.ds_keyboard {padding: .24rem; height: auto!important;}
.ds_keyboard ul {margin-right: 0;}
.ds_keyboard li {width: 2.2rem;}
.ds_keyboard li.dot, .ds_keyboard li.ds_delNum {background: none;}
.ds_keyboard li.dot:active, .ds_keyboard li.ds_delNum:active {background-color: #ccc;}
.ds_keyboard li.ds_delNum {background-image: url(/static/images/pay/close_pop_keyboard.png); background-repeat: no-repeat; background-position: center; background-size: 0.5rem;}