html {background-color: #F7F8FA;}
.header {background: none!important;}

/* 支付状态 */
.paystate {padding: .4rem .3rem;}
.paystate h2 {text-align: center; font-size: .42rem; color: #313233; font-weight: 700;}
.paystate h2::before {content: ""; display: inline-block; vertical-align: middle; margin-top: -.1rem; width: .77rem; height: .77rem; background-color: #F9302A; border-radius: 50%; margin-right: .15rem;}
.paystate.suc h2::before {background-image: url('/static/images/business/suc.png'); background-repeat: no-repeat; background-size: .56rem; background-position: center;}
.paystate.fail h2::before {background-image: url('/static/images/business/fail.png'); background-repeat: no-repeat; background-size: .77rem; background-position: center;}
.paystate p {text-align: center; font-size: .26rem; color: #313233; line-height: 1.5em; margin-top: .25rem;}
.paystate p i {color: #F6262F; font-size: .28rem;}
.paystate .btn-group {text-align: center; margin-top: .2rem;}
.paystate .kefu {display: inline-block; margin: .2rem .1rem 0; width: 2.2rem; height: .74rem; border: 1px solid #313233; background: #fff; border-radius: .37rem; color: #313233; font-size: .3rem; text-align: center; line-height: .74rem;}
.paystate .btn {display: inline-block; margin: .2rem .1rem 0; width: 2.2rem; height: .74rem; border: 1px solid #F85223; background: linear-gradient(-71deg, #FE4123 0%, #F82B2D 100%); border-radius: .37rem; color: #fff; font-size: .3rem; text-align: center; line-height: .74rem;}

/* 订单信息 */
.orderinfo {background: #fff; border-radius: .2rem; margin: .3rem; padding: .25rem; font-size: .28rem;}
.orderinfo h3 {font-size: .3rem; font-weight: 700; color: #000; margin-bottom: .2rem;}
.orderinfo dl {padding: .1rem 0;}
.orderinfo dt {float: left; width: 1.4rem; color: #808080; white-space: nowrap;}
.orderinfo dd {position: relative; overflow: hidden; padding-left: .6rem; color: #000;}
.orderinfo dd.amount {font-weight: 700;}
.orderinfo dd.amount::first-letter {font-size: 75%;}
.orderinfo dd.amount .discount {color: #808080; font-weight: 500;}

/* 广告 */
.adv {padding: 0 .3rem;}
.adv img {display: block;}

/* 优选商家 */
.storerec {margin: .4rem .21rem; padding-bottom: .5rem;}
.storerec h5 {font-size: .3rem; color: #000; font-weight: 700; margin-bottom: .2rem; padding-left: .1rem;}
.storerec .loading {text-align: center; line-height: 1rem;;}
.storerec ul.box1 {float: left;}
.storerec ul.box2 {float: right;}
.storerec li {width: 3.5rem; padding:.09rem; box-sizing: border-box;}
.storerec li a {display: block; width: 100%; background-color: #fff; border-radius: .16rem;overflow: hidden; padding-bottom: .2rem;}
.storerec li .img {position: relative; width: 100%; background-color: #ccc;}
.storerec li .img img {max-width: 100%; display: block;}
.storerec li .img i {position: absolute; z-index: 2; font-size: .22rem; color: #fff; background: rgba(0,0,0,.6); right: 10px; bottom: 10px; padding: 0 .1rem; line-height: .36rem; border-radius: .18rem;}
.storerec li .info {padding: .16rem .17rem 0;}
.storerec li h2 {display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;font-size: .28rem;font-weight: bold;color: #212121;line-height: 1.3em; margin-bottom: .05rem;}
.storerec li .addr {font-size: .22rem; color: #666;}
.storerec li .sale {margin-top: .2rem; font-size: .22rem; color: #333;}
.storerec li .sale span {display: inline-block; background-color: #FFEEED; border-radius: 3px; font-size: .2rem; color: #F33521; height: .36rem; line-height: .36rem; margin-right: .1rem;}
.storerec li .sale span s {display: inline-block; width: .36rem; text-align: center; color: #fff; text-decoration: none; background: linear-gradient(90deg, #F75F42 0%, #F22A18 100%); border-radius: 3px;}
.storerec li .sale span strong {padding: 0 .1rem; font-weight: 500;}