.container{z-index: 1 !important; }
.tit1{background: #F9F9F9; line-height: 33px; margin: 0 30px 0; border-top: solid 2px #CACACA; border-bottom:solid 1px #E5E5E5 ; padding-left: 14px; color: #999; margin-bottom: 20px; font-size: 16px}
.w-form dt{width: 160px}
.w-form dd{margin-left: 175px}
.w-form dd .inp{width: 244px; }
.w-form .input-append .add-aft{padding: 4px 7px;}

.w-form .input-append input{width: 227px;font-size: 14px; border-radius: 5px 0 0 5px}
.w-form input#market{width: 172px;color: #EC3628;font-size: 14px;background: #F5F5F5;
border: 1px solid #D8D8D8;}
.w-form input#pintime{width: 129px;}
.w-form .time-tip{font-size: 14px;color: #999;margin-left: 14px;float: left;}
.w-form.w-form .inp.disabled{background: #F5F5F5;color: #999;font-size: 14px;}
.w-form.w-form .pintuanPrice{display: none}
.w-form input#fakeInp{width: 172px;}
.w-form .icon-time{display: inline-block;width: 14px;height: 14px;margin-top: 4px;line-height: 14px;vertical-align: text-top;background-image: url(/static/images/admin/glyphicons-halflings.png);background-position: -48px -24px;background-repeat: no-repeat;}

.w-form .add-on{display: inline-block;width: auto;height: 24px;min-width: 16px;padding: 4px 5px;font-size: 14px;font-weight: normal;line-height: 24px;text-align: center;text-shadow: 0 1px 0 #fff;background-color: #eee;border: 1px solid #ccc;vertical-align: top;margin-left: -1px;-webkit-border-radius: 0 4px 4px 0;-moz-border-radius: 0 4px 4px 0;border-radius: 0 4px 4px 0;}
.w-form .form_datetime .add-aft{padding: 4px 5px;min-width: 16px;}
.w-form .form_datetime.input-append input{width: 142px;cursor: pointer;}
.w-form .form_datetime.input-append{cursor: pointer;}
.hdtimeTip{font-size: 14px;color: #666;float: left;margin-left: 10px;margin-right: 10px;}
.form_datetime .time-tip{font-size: 14px;color: #999;margin-left: 14px;}
.w-form .input-append.hastxt .hitxt{float:left; line-height:34px; font-size:14px; color:#222; width:30px;}
.w-form .input-append.hastxt input{width: 196px}
.w-form .time-tip{font-size: 14px;color: #999;margin-left: 14px;float: left; line-height:34px;}
.w-form .box2{margin-top: 60px}
.w-form .input-append select{width:249px; height: 34px; font-size: 14px;}
.w-form .chooseGoods { display: inline-block; height: 40px; line-height: 40px; padding: 0 24px; background: #347DF6; border-radius: 5px; font-size: 16px; color: #fff; margin-left:14px; float: left;}
/* 商品链接关联 */
/* .mask_pl{display: block;} */
.link_pro{height: 70%; position: fixed; top:50%; left: 50%; background: #fff; z-index: 100001; border-radius: 10px;width: 586px;display: none;transform: translate(-50%,-50%);}
.link_pro.noDatapro{height: 56%}
.link_pro a.cancel_btn{display: block;width: 32px; height: 32px; background: url(../images/shop/f_close.png) no-repeat center; background-size: cover; position: absolute; top: -10px; right: -10px;z-index: 2}
.link_pro h1{font-size: 22px; color: #333; text-align: center; position: relative; line-height: 77px; font-weight: bold;}
.link_pro .search_box{margin: 0 20px; background: #F2F2F2; border-radius: 10px; position: relative;}
.link_pro .search_box s{ display: block; width: 20px; height: 20px; background: url(../images/shop/f_search.png) no-repeat center; background-size: cover;position: absolute; left: 10px; top: 10px;}
.link_pro .search_box input{background: none; border: none; width: 100%; box-sizing: border-box; font-size: 14px; padding: 9px 55px; box-shadow: none;color: #000 }
.link_pro .kanjiaTip{height: 40px;line-height: 40px;background: #FFF0EF;text-align: center;font-size: 14px;color: #EC3628;margin-top: 10px;}
/*商品列表*/
.pro_box{overflow: hidden; position: absolute; top: 104px; bottom: 0;  box-sizing: border-box; left: 0; right: 0;-webkit-overflow-scrolling: touch;border-radius: 10px;padding: 14px 0; padding-bottom: 80px}
.pro_box.kanpro_box{top: 153px;}
.pro_box ul{margin: 0;height: 100%;overflow: auto;margin-right: 5px;}
.pro_box ul .pro_li{padding: 0 20px; overflow: hidden; position: relative;}
.pro_box ul .pro_li:hover{background: #f9f9f9;}
.pro_box ul .pro_li a{display: block;border-bottom: 1px solid #eee;padding: 20px 0; padding-left: 50px;}
.pro_box ul .pro_li .left_proimg{width: 60px; height: 60px; float: left; position: relative;}
.pro_box ul .pro_li .left_proimg img{width: 100%; height: 100%; object-fit: cover; border-radius: 4px;}
.pro_box ul .pro_li .right_info{margin-left: 72px; height: 60px}
.pro_box ul .pro_li .right_info h2{font-size: 16px; color: #000; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;margin: 0;line-height: 26px}
.pro_box ul .pro_li .right_info p{color: #FC3A4A; font-size: 16px; font-weight: 500; margin-top: 10px}
.pro_box ul .pro_li.chosed{position: relative;}
.pro_box ul .pro_li.chosed s.hasChoseIcon{display: block; width: 20px; height: 20px; background: url(../images/shop/f_chose.png) no-repeat center; background-size: cover; position: absolute; right: 34px; bottom: 40px;}

/* 已选的 商品链接 */
.pro_show ul{margin-left: 0;padding: 0;}
.pro_show li { position: relative; margin-top: 10px;border-radius: 8px; padding: 10px;background: #F5F5F5;float: left;width: 450px;margin-right: 10px;-moz-user-select:none; -webkit-user-select:none; -ms-user-select:none; -khtml-user-select:none; user-select:none;min-height:18px;list-style: none}
.pro_show li.holder {background:none;}
.pro_show .li_show .l_img{float: left; width: 80px; height: 80px; border-radius: 10px; overflow: hidden;}
.pro_show .li_show .l_img img{width: 100%; height: 100%; object-fit: cover;}
.pro_show .li_show .r_info{margin-left: 110px;}
.pro_show .li_show .r_info h2{color: #333; font-size: 15px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; margin-right: 80px;line-height: 20px}
.pro_show .li_show .r_info p{color: #999; font-size: 14px; margin-top: 12px}
.pro_show .li_show i.clear{display: block; top: 36px; right: 10px; }
.pro_show .li_show[data-type="link"] .r_info p{display: none;}
/*已选商品*/
.goodsDl{display: flex;align-items: center;}
.goodsDl.fn-hide{display: none}
.w-form .goodsDl dd{margin-left: 0;}
.goodsCon {float: left;overflow: hidden; margin-left: 14px;}
.goodsCon .goodImg{width: 60px; height: 60px; float: left; position: relative;}
.goodsCon .goodImg img{width: 100%; height: 100%; object-fit: cover; border-radius: 10px;}
.goodsCon .goodInfo{margin-left: 72px; height: 60px;margin-right: 92px;display: flex;align-items: center;}
.goodsCon .goodInfo h4{font-size: 16px; color: #000;line-height: 26px;max-width: 268px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.pinBot{display: none;}
.pinBot .pintip{font-size: 14px;color: #999;    margin-bottom: 10px;}
.mask_pl{position: fixed; top: 0; left: 0; right: 0 ; bottom: 0; background: rgba(0,0,0,.7); z-index: 100000; display: none;}
::-webkit-scrollbar{width:4px;height:4px;}
::-webkit-scrollbar-track-piece{background:#EAEAEA;border-radius:2px;}
::-webkit-scrollbar-thumb{border-radius:2px;background-color:#ABABAB;}
::-webkit-scrollbar-thumb:hover{background-color:#666;}
.loading{text-align: center;}
.loading .emptyImg{width: 268px;height: 222px;background:url("../images/shop/empty.png") no-repeat;background-size:cover;margin: 40px auto 32px;}
.loading h2{font-size: 20px;color: #000;font-weight: bold;}
.loading p{font-size: 16px;color: #999;margin-top: 10px;font-weight: normal;}
.hasChoseIcon{display: block; width: 18px; height: 18px; border: solid 1px #ddd; box-sizing: border-box; position: absolute; top: 0; bottom: 0; margin: auto; left: 34px; border-radius: 2px;}
.pro_box ul .pro_li.selected{background: #F7F8FA}
.pro_box ul .pro_li.selected .hasChoseIcon{border: none; background: url(../images/shop/selected.png) no-repeat center/cover; width: 22px; height: 22px;}
.pro_box ul .pro_li.selected.no_change{pointer-events: none;}
.pro_box ul .pro_li.selected.no_change .hasChoseIcon{background-image: url(../images/shop/selected1.png)}

.btnbox{position: absolute; left: 0; bottom: 0; right: 0; height: 80px; background: #F7F8FA ; border-radius: 0 0 10px 10px}
.btnbox a{display:block; width: 185px; height: 50px; border-radius: 4px; color: #fff; text-align: center; font-size: 18px; line-height: 50px; margin: auto; margin-top: 15px; background: #307CFC; }
.dropdown-menu{position: absolute;top: 100%;left: 0;z-index: 100000;display: none;float: left;min-width: 150px;padding: 5px 0;margin: 2px 0 0;list-style: none;background-color: #fff;border: 1px solid #ccc;border: 1px solid rgba(0,0,0,0.05);*border-right-width: 2px;*border-bottom-width: 2px;-webkit-border-radius: 0 0 6px 6px;-moz-border-radius: 0 0 0 6px 6px;border-radius: 0 0 6px 6px;-webkit-box-shadow: 0 5px 50px rgb(0 0 0 / 30%);-moz-box-shadow: 0 5px 50px rgba(0,0,0,0.3);box-shadow: 0 5px 50px rgb(0 0 0 / 30%);-webkit-background-clip: padding-box;-moz-background-clip: padding;background-clip: padding-box;}
.table-condensed th, .table-condensed td{padding: 4px 5px;}

.icon-arrow-left{display: inline-block;width: 14px;height: 14px;margin-top: 1px;*margin-right: .3em;line-height: 14px;vertical-align: text-top;background-image: url(/static/images/admin/glyphicons-halflings.png);background-repeat: no-repeat;background-position: -240px -96px;}
.icon-arrow-right{display: inline-block;width: 14px;height: 14px;margin-top: 1px;*margin-right: .3em;line-height: 14px;vertical-align: text-top;background-image: url(/static/images/admin/glyphicons-halflings.png);background-repeat: no-repeat;background-position: -264px -96px;}
.datetimepicker td, .datetimepicker th{font-size: 14px;color: #333;}
.datetimepicker th{font-weight: bold;}


/* 券详情 */
.quanDetailBox{padding-top: 30px}
.quanDetail{margin: 0 30px}
.quanDetailBox label{float: left; width: 180px; font-size: 15px; line-height: 50px; text-align: right;}
.quanDetailBox .con{margin-left: 200px; font-size: 15px; line-height: 50px;}
.link_to_list{display: block; width: 160px; height: 45px; border-radius: 4px; color: #fff; line-height: 45px; text-align: center; font-size: 18px; background: #85C336; margin-left: 120px; margin-top: 70px}
.prolist{height: 246px; background: #F5F5F7; border-radius: 10px; margin-right: 120px; padding: 10px 10px; overflow: auto; box-sizing: border-box;}
.prolist li{float: left; width: 410px; height: 90px; border-radius: 10px; background: #fff; margin: 10px;}
.prolist li a{display: block; width: 100%; height: 100%; box-sizing: border-box; padding: 15px}
.prolist li .proimg{width: 60px; height: 60px; background: #f5f5f5; border-radius: 4px; float: left;}
.prolist li .proimg img{display: block; width: 100%; height: 100%; object-fit: cover;}
.prolist li .proinfo{margin-left: 72px; line-height: 1.2em}
.prolist li .proinfo h4{font-size: 16px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.prolist li .proinfo p{color: #EC3628; font-size: 16px; margin-top: 10px;}




















.proinfo{}
