

#listSection3 .uploadinp{position: relative;}
#listSection3 .btn-section label,#listSection3 .btn-section input{position: absolute; left: 0; right: 0; bottom: 0; top: 0; width: 100% !important; height: 100% !important; }
#filePicker3{position: relative;}
#filePicker3>div:not(.webuploader-pick){position: absolute; left: 0; right: 0; bottom: 0; top: 0; width: 100%; height: 100%;}
.listImgBox .upTip{font-size: 14px; color:#999; }

#listSection3 .wxUploadObj .uploadinp{width:145px;height:126px;background-image: none;background-color: #fff;border-color: #f1884e;}
#listSection3 .wxUploadObj .uploadinp em {position: absolute;left:0;right:0;top:30px;text-align: center;font-size: 64px;}
#listSection3 .wxUploadObj .uploadinp span,#listSection3 .wxUploadObj .uploadinp em{color: #f1884e;
    bottom: 15px;}
#listSection3 .wxUploadObj .uploadinp label,#listSection3 .wxUploadObj .uploadinp input[type="file"]{width: 100%; height: 100%; position: absolute; left: 0; top: 0; cursor: pointer;}

/*图片*/
#listSection3 .pubitem{width: 147px; height: 128px; position: relative; float: left;margin-right: 20px; margin-bottom: 10px}
#listSection3 .pubitem img{width: 100%; height: 100%; object-fit: cover;}
#listSection3 .pubitem .li-rm {position: absolute;right:0;top:0;display: block;height:20px;line-height: 20px;padding: 0 15px;background-color: rgba(0,0,0,.4);margin:0;color:#fff;z-index: 2;font-size: 12px;text-align: center;display: none}
#listSection3 .pubitem:hover .li-rm{display: block;}
.listSection#listSection3  .pubitem:first-child .setMain{display: none !important; }
.listSection#listSection3  .pubitem:first-child .mainImg{display: block !important; }
#listSection3 .pubitem .setMain,#listSection3 .pubitem .mainImg{font-size: 12px; color: #fff; position: absolute; left: 0; bottom: 0;right: 0; line-height: 28px; background: rgba(0,0,0,.7) ; display: none; text-align: center; cursor: pointer;}
#listSection3 .pubitem:hover .setMain{display: block;}


/*日历弹窗*/

.dropdown-menu{position: absolute;top: 100%;left: 0;z-index: 100000;display: none;float: left;min-width: 150px;padding: 5px 0;margin: 2px 0 0;list-style: none;background-color: #fff;border: 1px solid #ccc;border: 1px solid rgba(0,0,0,0.05);*border-right-width: 2px;*border-bottom-width: 2px;-webkit-border-radius: 0 0 6px 6px;-moz-border-radius: 0 0 0 6px 6px;border-radius: 0 0 6px 6px;-webkit-box-shadow: 0 5px 50px rgb(0 0 0 / 30%);-moz-box-shadow: 0 5px 50px rgba(0,0,0,0.3);box-shadow: 0 5px 50px rgb(0 0 0 / 30%);-webkit-background-clip: padding-box;-moz-background-clip: padding;background-clip: padding-box;}
.table-condensed th, .table-condensed td{padding: 4px 5px;}

.icon-arrow-left{display: inline-block;width: 14px;height: 14px;margin-top: 1px;*margin-right: .3em;line-height: 14px;vertical-align: text-top;background-image: url(/static/images/admin/glyphicons-halflings.png);background-repeat: no-repeat;background-position: -240px -96px;}
.icon-arrow-right{display: inline-block;width: 14px;height: 14px;margin-top: 1px;*margin-right: .3em;line-height: 14px;vertical-align: text-top;background-image: url(/static/images/admin/glyphicons-halflings.png);background-repeat: no-repeat;background-position: -264px -96px;}
.datetimepicker td, .datetimepicker th{font-size: 14px;color: #333;}
.datetimepicker th{font-weight: bold;}

.hdtimeTip{font-size: 14px;color: #666;float: left;margin-left: 10px;margin-right: 10px;}
.form_datetime .time-tip{font-size: 14px;color: #999;margin-left: 14px;}

.w-form dl.mainAdvice{margin-top: -8px;}
.w-form dl.mainAdvice dt{padding: 0;}
.w-form dl.mainAdvice dd{padding: 0 10px;}
.w-form dl.mainAdvice dd p{font-size: 14px;color: #999}