.common-title{margin:0 40px 20px;padding-bottom:10px ;font-size: 18px;color: #333;font-weight: bold;border-bottom: 1px solid #E9E9E9;}
.common-title.spe_title{margin-top: 80px;}
.common-title.spe_tit{margin-top: 50px;}
.w-form dt{width: 180px;}
.w-form dd{margin-left: 185px;}
.w-form .inp{width: 233px;font-size: 14px;}
.w-form .inp#began,.w-form .inp#end{cursor: pointer;}
.w-form .comBox{position: relative;width: 255px;}
.w-form .comBox span.sym{position: absolute;right: 14px;top:0;font-size: 14px;color: #3B3B3B}
.w-form .comBox .caret {position: absolute;right: 14px;top: 14px;display: inline-block; width: 0; height: 0;  vertical-align: top; border-top: 4px solid #000; border-right: 4px solid transparent; border-left: 4px solid transparent; content: "";}
/*添加菜品名称*/
.route {overflow: hidden;line-height: 1;position: relative;}
.route .route-div{position: relative;display: block;margin-right: 10px;margin-bottom: 10px;width: 255px;}
.route .del-route{position: absolute;top: 10px; right: 10px;width: 16px; height: 16px; background:url(../images/marry/del.png) no-repeat center center;background-size: cover;font-size: 0;z-index: 2;display: none;cursor: pointer;}
.route .add-route{    position: absolute; left: 264px;bottom: 0;border: 1px solid #D8D8D8;background: #eee;height: 32px;line-height: 32px;padding: 0 20px;font-size: 14px;border-radius: 5px;display: inline-block;vertical-align: top;cursor: pointer;margin-bottom: 10px;}

/*发布婚宴场地*/
.w-form .inp.lizhu,.w-form .inp.shape,.w-form .inp.fenlei{width: 255px;height: 34px;}
.imgTip{font-size: 14px;color: #333;}


/*发布套餐*/
.info,.cominfo{display: none;}
.telTip{font-size: 14px;color: #999;margin-left: 10px;}
.parmWrap textarea{height: 110px;width: 50%;border: 1px solid #d8d8d8;border-radius: 5px;padding: 6px 10px;}
.parmWrap textarea::-webkit-input-placeholder{font-size: 14px;color: #999;}
#mustKnow{height: 110px;width: 50%;border: 1px solid #d8d8d8;border-radius: 5px;padding: 6px 10px;}
#mustKnow::-webkit-input-placeholder{font-size: 14px;color: #999;}
/*发布套餐 -- 国籍区号*/
.w-form dd{position: relative;}
.w-form dd .areaCode{line-height: 34px;top: 11px;left: 12px;bottom: 17px;font-size: 16px;border-right: 1px solid #f3f3f3;width: 70px;}
.w-form dd input#contact{padding-left: 80px;width: 163px;}
.w-form dd .areaCode_wrap{width: 265px;top: 43px;z-index: 100}

.w-form .inp.tChoose{cursor: pointer;}
.seList{width: 253px;border: 1px solid #d8d8d8;    position: absolute; z-index: 999;background: #fff;top: 46px;display: none;}
.seList p{line-height: 36px;padding-left: 20px;font-size: 15px;cursor: pointer;}
.seList p.selected{color: #F9374E}

/*修改分类 弹出层*/
.delMask{position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,.57);z-index: 100002;display: none;}
.delMask.show{display: block;}
.delAlert{position: fixed;top: 50%;left: 0;right: 0;z-index: 100003;overflow: hidden;height: 280px;margin-top: -140px;text-align: center;display: none;pointer-events: none;-webkit-animation: popup .3s ease-out; -moz-animation: popup .3s ease-out; animation: popup .3s ease-out;}
.delAlertCon{background: #fff;box-shadow:0px 7px 37px 0px rgba(0, 0, 0, 0.13);border-radius:10px;min-width: 320px;display: inline-block;pointer-events: auto}
.delAlertCon>div{padding: 35px 40px 28px}
.delAlert h2.delTile{font-size: 18px;font-weight: bold;text-align: center;}
.delAlert p{font-size: 14px;color: #333;text-align: center;margin-top: 5px}
.delAlert ul{border-top: 1px solid #f5f5f7;}
.delAlert ul li{float: left;width: 50%;box-sizing: border-box;height: 60px;line-height: 60px;font-size: 16px;font-weight: bold;text-align: center;}
.delAlert ul li a{display: block;color: 000;}
.delAlert ul li a.sureDel{color: #3B7CFF}
.delAlert ul li.firLi{border-right: 1px solid #f5f5f7}