
.w-form#educationForm h2.comTit{font-size: 18px;color: #333;font-weight: bold;padding-bottom: 12px;border-bottom: 1px solid #E9E9E9;margin: 0 40px 20px;}
.w-form#educationForm h2.comTit.comTit2{margin-top: 50px;}

.w-form#educationForm .caret {position: absolute;right: 10px;top: 14px;display: inline-block; width: 0; height: 0;  vertical-align: top; border-top: 4px solid #000; border-right: 4px solid transparent; border-left: 4px solid transparent; content: "";}
.w-form#educationForm .inp{width: 233px;}
.w-form#educationForm #body{float: left;}
.w-form#educationForm dt{width: 180px;}
.w-form#educationForm dd{margin-left: 185px;}
/*下拉选择*/
.w-form#educationForm .down-div{position: relative;width: 255px;font-size: 14px;}
.w-form#educationForm .down-div .inp{cursor: pointer;}
.w-form#educationForm .down-div .time_choose{position: absolute;top: 34px;left: 0;padding: 10px 0;width: 100%; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;border: 1px solid #E5E5E5;z-index: 99999;background: #fff;display: none;border-top: none}
.w-form#educationForm .down-div .time_choose.active{display: block;}
.w-form#educationForm .pro-choose{max-height: 220px;overflow: auto}
.w-form#educationForm .pro-choose::-webkit-scrollbar{width:4px;height:4px;}
.w-form#educationForm .pro-choose::-webkit-scrollbar-track-piece{background:#EAEAEA;border-radius:2px;}/*//底部*/
.w-form#educationForm .pro-choose::-webkit-scrollbar-thumb{border-radius:2px;background-color:#ABABAB;}/*//滚动*/
.w-form#educationForm .pro-choose::-webkit-scrollbar-thumb:hover{background-color:#666;}
.w-form#educationForm .pro-choose p a{height: 30px;line-height: 30px;padding-left: 12px;font-size: 14px;color: #666;display: block;}
.w-form#educationForm .pro-choose p:hover a,.pro-choose p.curr a{background: #FFF7F2;color: #FB5845}

/*.listImgBox.oneUploadTip .oneUploadObj,.listImgBox.oneUploadTip .listSection{float: left;}*/
.listImgBox.oneUploadTip .upload-tip{float: none;margin-left: 0;line-height: 25px;}

.w-form#educationForm .input_area{width: 40%;height: 66px;border: 1px solid #d8d8d8;border-radius: 5px; padding: 15px 17px;font-size: 14px;}
.w-form#educationForm .input_area::placeholder{color: #999;}
/*所在区域*/
.addrBtn{border-radius: 5px!important;width: 243px!important;font-size: 14px !important;}

/*教育科目*/
.tags {border: 1px solid #d8d8d8; border-radius: 5px; padding: 6px 10px; width: 80%;}
.tags input[type="text"], .tags input[type="text"]:focus {border: 0 none; box-shadow: none; display: inline; line-height: 22px; margin: 0; outline: 0 none; padding: 4px 6px;}
.tags input.tags_enter{width: 20%;}
.tags .tag {background-color: #91b8d0; color: #fff; display: inline-block; font-size: 12px; font-weight: normal; margin-bottom: 3px; margin-right: 3px; padding: 0 22px 0 9px; position: relative; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15); transition: all 0.2s ease 0s; vertical-align: baseline; white-space: nowrap;}
.tags .tag .close {bottom: 0; color: #fff; float: none; font-size: 12px; line-height: 20px; opacity: 1; position: absolute; right: 0; text-align: center; text-shadow: none; top: 0; width: 18px;}
.tags .tag .close:hover {background-color: rgba(0, 0, 0, 0.2);}
.close {color: #000; float: right; font-size: 21px; font-weight: bold; line-height: 1; opacity: 0.2; text-shadow: 0 1px 0 #fff;}
.close:hover, .close:focus {color: #000; cursor: pointer; opacity: 0.5; text-decoration: none;}
button.close {background: transparent none repeat scroll 0 0; border: 0 none; cursor: pointer; padding: 0;}
.tags .tag-warning {background-color: #ffb752;}

/*认证资料*/
.license-item .filePicker > div {height:100%;}
.license-item .filePicker {position: relative;height:100%;overflow: hidden;}
.license-item .filePicker input {opacity: 0;filter:alpha(opacity=0);}
.license-item .listSection {position: absolute;left:-1px;top:-1px;z-index: 2;border:1px solid #d2d2d2;}
.license-item .listSection.thumblist img {max-width: none !important;}
.license-item .reupload {background: url('../images/education/anchor_del3.png') center no-repeat;width:50px;height: 50px;display: block;font-size: 0;color:transparent;position: absolute;right:0;top:0;padding:0;line-height: 26px;opacity: .5;filter:alpha(opacity=50);}
.license-item .reupload:hover {opacity: 1;filter:alpha(opacity=100);}

.license-item {position: relative;width:310px;height:190px;float: left;border:1px dashed #d2d2d2;margin-right: 20px;}
.license-item .up_area {cursor: pointer;}
.license-item .pic {position: relative;width:65px;height:65px;border:1px solid #d9d9d9;border-radius:50%;margin:45px auto 10px;}
.license-item .pic span {position: absolute;background: #d9d9d9;border-radius:100px;display: block;}
.license-item .pic span.l1 {width:44px;height: 2px;left:11px;top:50%;margin-top: -1px;}
.license-item .pic span.l2 {width:2px;height: 44px;top:11px;left:50%;margin-left: -1px;}
.license-item .tit {text-align: center;font-size: 16px;color: #a0a0a0;}
.license-item img {width: 310px;height:190px;display: block;object-fit: cover;}