.container {padding: 30px 30px 0;}


/* 订单基本信息 */
.info-section {margin: 0 0 10px; padding: 8px 16px; font-size: 14px; border: 1px solid #f5d8a7; background: #fff6db; color: #666; overflow: hidden; zoom: 1; line-height: 1.8em;position: relative;
}
.info-text {font-weight: 700; color: #d00;}
.operation {margin-top: 5px; font-size: 15px; font-weight: 700;}
.operation a {margin-right: 15px;}
.apply-refund-link {float: right; font-size: 12px; font-weight: 700; color: #d00;}
.info-section .oprDd{position: absolute;right: 25px;top: 20px;}
.info-section .oprDd a{font-size: 14px;font-weight: bold;color: #333;margin-left: 14px;}
.info-section .oprDd a.clred{color: #E30000}

/* 订单详细信息 */
.bunch-section {margin: 0 0 10px; font-size: 12px; background: #fff; border: 1px solid #e5e5e5; overflow: hidden; zoom: 1; font-size: 14px;}
.bunch-section.noborder{border-bottom: none;margin-bottom: 0;padding-bottom: 10px;}
.bunch-section dt {padding: 8px 10px; font-size: 14px; font-weight: 700; color: #333; background: #eee;}
.bunch-section dt .changeBranch {margin-left: 20px; color: #f00;}
.bunch-section dd {padding: 10px; line-height: 1.8em;}
.flow-list {list-style: 1.8em;}
.flow-list li {float: left; width: 25%; zoom: 1;}
.flow-list li:nth-child(1){width: 35%}
.flow-list li:nth-child(2){width: 30%}
.flow-list li:nth-child(3){width: 20%}
.flow-list li:nth-child(4){width: 15%}
.info-table {width: 100%; color: #666;}
.info-table th {font-weight: 700;}
.info-table th, .info-table td {padding: 5px; text-align: center;}
.info-table th.left, .info-table td.left {text-align: left;}
.info-table a {color: #027cff;}
.info-table .total {color: #f60;}
.bunch-section ul.jzinfoUl li{color: #3B3B3B;font-size: 14px;}
.bunch-section ul.jzinfoUl li span:first-child{color: #808080;}

.bunch-section ul.jzinfoUl li a.contactUser{font-size: 14px;color: #017BFF;}
.bunch-section ul.jzinfoUl li a.contactUser i{display: inline-block;width: 20px;height: 20px;background: url(../images/homemaking/imIcon.png);background-size: cover;vertical-align: middle;    margin-right: 2px;
    margin-top: -2px;margin-left: 3px;}
/*派单 备注*/
.changepaidan{background: #FFEBEB;border-radius: 4px;height: 30px;line-height: 30px;padding: 0 20px;font-size: 14px;color: #E30000;display: inline-block;margin-top: 10px;font-weight: bold;margin-bottom: 16px;}
.pdinfo {margin-top: 8px;}
.pdinfo span.pdtit{font-size: 14px;color: #999;float: left;}
.pdinfo .textra_div{float: left;margin-left: 10px;}
.pdinfo .textra_div textarea{width: 520px;height: 74px;padding: 10px; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;font-size: 12px;color: #999;border: 1px solid #eee;display: block;}
.pdinfo #sureNote{cursor: pointer;background: #F74C25;border-radius: 4px;height: 30px;line-height: 30px;padding: 0 20px;font-size: 14px;color: #fff;display: inline-block;margin-top: 10px;}





/* 退款 */
.retUl {margin: 10px 0 5px;}
.retUl.store {border-top: 1px solid #ccc; padding: 8px 0;}
.retUl li {position: relative; padding-left: 75px;}
.retUl li label {position: absolute; left: 0; top: 0;}
.retUl .retPics label {top: 5px;}
.retPics {padding: 10px 0;}
.retPics img {display: inline-block; vertical-align: middle; width: 50px; height: 50px;}

/*商品*/
.bunch-section dt.proInfo{font-size: 0}
.bunch-section dt.proInfo span{display: inline-block;font-size: 14px;}
.bunch-section dt.proInfo span:nth-child(1){width: 35%}
.bunch-section dt.proInfo span:nth-child(2){width: 15%;text-align: center;}
.bunch-section dt.proInfo span:nth-child(3){width: 36%;text-align: center;}
.bunch-section dt.proInfo span:nth-child(4){width: 14%;text-align: center;}

.shop-pro ul{overflow:hidden;}
.shop-pro ul.sp{padding: 10px 0 10px 0;}
.shop-pro ul.sp li{float: left; font-size: 12px;line-height: 18px;}
.shop-pro ul.sp li:nth-child(1){width: 35%}
.shop-pro ul.sp li:nth-child(2){width: 15%;text-align: center;}
.shop-pro ul.sp li:nth-child(3){width: 36%;text-align: center;}
.shop-pro ul.sp li:nth-child(4){width: 14%;text-align: center;color: #E5201C;}
.shop-pro ul.sp li a.proImg{display: block;width: 82px;height: 82px;float: left;}
.shop-pro ul.sp li a.proImg img{display: block;width: 100%;height: 100%;object-fit: cover;}
.shop-pro ul.sp li a.proTit{font-size: 12px;float: left;margin-left: 15px;    max-width: 60%;line-height: 18px;}



.shop-pro .sum{padding-left: 25px; font-size: 14px; margin: 10px; background:#fff; padding-right: 36px;}
.shop-pro .sum .right{float: none; text-align: right; margin-top: 10px;}
.shop-pro .sum .right span{display: inline-block; line-height: 55px; font-size: 14px; color: #333}
.shop-pro .sum .right em,.shop-pro .sum .right font{color:#e11f28 }
.shop-pro .sum .right font{font-size: 26px; }
