
.container{padding: 20px 25px;}
.container s.jgeLine{display: block;width: 1px;background: #ddd;position: absolute;bottom: 43px;top: 86px;right: 350px;}


.toprefundTab ul{overflow: hidden;}
.toprefundTab li{float: left;width: 33.3%;background: #ccc;height: 44px;line-height: 44px;text-align: center;font-size: 15px;font-weight: bold;position: relative;}
.toprefundTab li a{display: block;color: #fff;position: relative;}
.toprefundTab li span{display: inline-block;width: 20px;height: 20px;text-align: center;line-height: 20px;font-size: 14px;color: #B5B5B5;font-weight: bold;background: #fff;border-radius: 50%;margin-right: 10px;}
.toprefundTab li s{display: inline-block;width: 30px;height: 30px;border-top: 4px solid #fff;border-right: 4px solid #fff;border-bottom: 4px solid transparent;border-left: 4px solid transparent;background: #ccc;position: absolute;top: 3px;right:-15px;transform: rotate(45deg);-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);z-index: 2;}
.toprefundTab li.active{background: #027CFF;}
.toprefundTab li.active s{background: #027CFF;}
.toprefundTab li.active span{color:#027CFF;}

.refundCon{margin-top: 20px;padding: 0 5px;}
.refundLeft {padding: 10px 30px 26px 0; position: relative; overflow: hidden;}


.refundLeft dl{margin-bottom: 20px}
.refundLeft dl dt{font-size: 14px;color: #333;width: 120px;text-align: right;float: left;line-height: 36px;}
.refundLeft dl.spedl1 dt{padding-top: 30px; }
.refundLeft dl dt span.star{color: #ff4646}
.refundLeft dl dd{margin-left: 130px;position: relative;}
.refundLeft .inp {height: 20px; border: 1px solid #d8d8d8; border-radius: 5px; padding: 6px 10px; line-height: 20px; -webkit-transition: border linear .2s,box-shadow linear .2s; -moz-transition: border linear .2s,box-shadow linear .2s; -o-transition: border linear .2s,box-shadow linear .2s; transition: border linear .2s,box-shadow linear .2s;width: 246px;}
.refundLeft .inp:focus {border-color:rgba(82,168,236,0.8);outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6)}
.refundLeft dl dd p.maxMoney{font-size: 12px;color: #999;margin-top: 9px;}
.refundLeft .inp#cancel_price{color: #FF0000;padding-left: 24px;width: 232px;}
.refundLeft dl dd span.carsym{color: #FF0000;position: absolute;left: 12px;top: 8px;}

.refundLeft textarea#cancel_desc{border: 1px solid #d8d8d8;padding: 10px;font-size: 12px;border-radius: 5px;width: 486px;height: 88px;resize: none;}
.refundLeft a.tjbtn{background: #027CFF;border-radius: 4px;height: 42px;line-height: 42px;display: inline-block;padding: 0 38px;font-size: 16px;color: #fff}



/*订单详情*/
.refundRight {padding: 0 8px 0 20px; float: right; width: 290px;}
.refundRight h3.refundH{padding: 10px 0 14px;border-bottom: 1px solid #ddd;font-size: 16px;}
.refundRight .orderCon{padding: 14px 0 20px;border-bottom: 1px solid #ddd;}
.refundRight .proimg{width: 60px;height: 60px;float: left;}
.refundRight .proimg a{width: 60px;height: 60px;display: block;}
.refundRight .proimg img{display: block;width: 100%;height: 100%;object-fit: cover;}
.refundRight .proInfo{margin-left: 70px;height: 60px;}
.refundRight .proInfo h3{font-size: 12px;padding-top: 6px;}

.storeCon{padding-top: 20px;}
.storeCon dl {font-size: 0;margin-bottom: 6px;}
.storeCon dl dt,.storeCon dl dd{display: inline-block;font-size: 12px;color: #999;   }
.storeCon dl dd{color: #333;max-width: 76%;vertical-align: top;}
.storeCon dl dd span.storeTit{max-width: 150px;display: inline-block;vertical-align: top;}
.storeCon dl dd a.contactStore{display: inline-block;width: 20px;height: 20px;background: url(../images/refund/imIcon.png);background-size: cover;vertical-align: middle;margin-left: 8px;margin-top: -3px;}

.storeCon.tuiCon{border-top: 1px solid #ddd;margin-top: 30px;}


/*商家处理退款中*/
#cancelIng .ingTop{padding-top: 10px;padding-bottom: 28px;border-bottom: 1px solid #ddd;}
#cancelIng .ingTop strong.stxt1{font-size: 18px;color: #333;}

#cancelIng .ingTop i{display: inline-block;width: 22px;height: 22px;background: url(../images/refund/clock.png);background-size: cover;vertical-align: middle;margin-left: 8px;margin-top: -3px;}
#cancelIng .ingTop .time-item{display: inline-block;font-size: 0;color: #E30000;font-weight: bold;}
#cancelIng .ingTop .time-item strong,#cancelIng .ingTop .time-item span{font-size: 16px;}
#cancelIng .ingTop p{font-size: 14px;color: #666;margin-top: 10px;}
#cancelIng .ingMiddle{padding: 14px 5px 30px;border-bottom: 1px solid #ddd;min-height: 184px;}
#cancelIng .ingMiddle p{font-size: 14px;color: #999;margin-bottom: 5px;}
#cancelIng .ingMiddle p.stxt2{color: #666;font-size: 14px;margin-top: 13px;}
#cancelIng .ingMiddle p.stxt2 a{color: #027CFF;margin-left: 10px;}
#cancelIng .ingMiddle ul{margin-top: 30px;}
#cancelIng .ingMiddle ul li{float: left;margin-right: 10px;}
#cancelIng .ingMiddle ul li a{background: #027CFF;border-radius: 4px;height: 40px;line-height: 40px;display: block;padding: 0 38px;font-size: 16px;color: #fff;border: 1px solid #027CFF;}
#cancelIng .ingMiddle ul li a.refuseRefund,#cancelIng .ingMiddle ul li a.refuseTuikuan{background: #fff;color: #666;border: 1px solid #DEDEDE;}
#cancelIng .ingMiddle ul li:hover a{background: #027CFF;color: #fff;border: 1px solid #027CFF;}
/*协商历史*/
.talkList h2{padding: 16px 4px 4px;font-size: 18px;color: #333;font-weight: bold;}
.talkList li{padding: 20px 0;border-bottom: 1px solid #ddd;}
.talkList li .userImg{width: 50px;height: 50px;float: left;}
.talkList li .userImg img{display: block;width: 100%;height: 100%;object-fit: cover;}
.talkList li .userIxt{margin-left: 60px;min-height: 50px;}
.talkList li .userIxt h3{font-size: 14px;color: #666}
.talkList li .userIxt h3 span{color: #999;font-size: 13px;float: right;}
.talkList li .userIxt p{font-size: 14px;color: #333;margin-top: 4px;}
.talkList li .images {margin-top: 5px;}
.talkList li .images a {display: inline-block; width: 50px; height: 50px; margin: 0 5px 5px 0;}
.talkList li .images a img {display: block; width: 50px; height: 50px; object-fit: cover;}

/*商家处理结果*/
.finishTop{padding-bottom: 28px;border-bottom: 1px solid #ddd;}
.finishTop h4{font-size: 18px;color: #333;font-weight: bold;}
.finishTop p{font-size: 14px;color: #666;margin-top: 12px;}
.finishMid{padding-bottom: 38px;border-bottom: 1px solid #ddd;padding-top: 10px;min-height: 180px;}
.finishMid h4{font-size: 16px;color: #333;}
.finishMid h4 span{color: #FF0000}
.finishMid p{font-size: 14px;color: #999;margin-top: 12px;}
.finishMid h3.stxt3{font-size: 14px;color: #999;}
.finishMid h4.stxt4{margin-top: 22px;}

/*拒绝原因弹窗*/
.fwMask {position: fixed;left:0;top:0;right:0;bottom:0;background: rgba(0,0,0,.2);z-index: 4;display: none;}
.refuseWrap {position: fixed;left:0;top:0;right:0;bottom:0;z-index: 5;display: flex;align-items: center;display: none;pointer-events: none;}
.refuseWrap>div{position: fixed;left:50%;top:auto;width: 670px;margin-left: -335px;padding: 22px 0 35px;background-color: rgb(255, 255, 255);box-shadow: 0px 2px 7px 0px rgba(219, 217, 213, 0.42);z-index: 100; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;pointer-events: auto;}
.refuseWrap .close {position: absolute;right:10px;top:10px;display: block;width:20px;height:20px;z-index: 3;background: url(../images/refund/close.png);background-size: cover;}

.refuseWrap .sureFwAlertTit{text-align: center;font-size: 18px;color: #333;font-weight: bold;}

.refuseAlert .refuse_note{margin: 70px 37px 20px;}
.refuseAlert .refuse_note span{font-size: 14px;color: #333;display: inline-block;vertical-align: top;padding-top: 12px;margin-right: 4px;}

.refuseAlert .refuse_note textarea{    width: 478px;height: 83px;border-radius: 4px;font-size: 14px;resize: none;border: 1px solid #eee;padding: 14px;}

.refuseAlert .refusesubmit {width:140px;height: 42px;line-height: 42px;text-align: center;font-size: 16px;color: #fff;background: #027CFF;border:none;outline:0;border-radius: 4px;margin-left: 120px;}
.refuseAlert .refusesubmit a{color: #fff;display: block;}

/*页码样式*/
.pagination{text-align: right;}
.pagination .pagination-pages{display: inline-block;}
.pagination-pages .redirect{display: none;}
.pagination-pages a, .pagination-pages span{box-shadow: none;border: 1px solid #D4D4D4;}
.pagination-pages .curr{border: 1px solid #027CFF;background: #fff;color: #027CFF}
.pagination-pages a:hover {background-color: #fff; color: #027CFF; border-color: #027CFF;}

/*2021-12-29 新增商城退款*/

.toprefundTab .speUl li{width: 25%}

/*退货弹窗*/
.tuihuoMask {position: fixed;left:0;top:0;right:0;bottom:0;background: rgba(0,0,0,.2);z-index: 4;display: none;}
.thWrap {position: fixed;left:0;top:0;right:0;bottom:0;z-index: 5;display: flex;align-items: center;display: none;pointer-events: none;}
.thWrap>div{position: fixed;left:50%;top:auto;width: 670px;margin-left: -335px;padding: 22px 0 34px;background-color: #fff;box-shadow: 0px 2px 7px 0px rgba(219, 217, 213, 0.42);z-index: 100; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;pointer-events: auto;}
.thWrap .close {position: absolute;right:10px;top:10px;display: block;width:20px;height:20px;z-index: 3;background: url(../images/refund/close.png);background-size: cover;}

.thWrap .surethtTit{text-align: center;font-size: 18px;color: #333;font-weight: bold;}

.thAlert ul{margin-top:35px;}
.thAlert ul li{width: 100%; font-size: 14px; margin-top: 20px;}
.thAlert ul li dt{float: left; width: 120px; height: 36px; text-align: right;line-height: 36px;font-size: 14px;color: #333; }
.thAlert ul li dd{position: relative; margin-left: 138px;}
.thAlert ul li font{color: #F52B21; margin-right: 1px}
.thAlert ul li input{float: left; width: 316px;  border:1px solid #ddd; padding:7px 10px 6px; margin-right: 10px;font-size: 14px;outline: none;appearance:none;-moz-appearance:none;-webkit-appearance:none;border-radius: 4px}
.thAlert ul li input::placeholder{color: #bbb;}
.thAlert ul li dd.cue{font-size: 14px; color: #999}
.thAlert ul li dd.confirm a{display: block; width: 140px; height: 42px; border-radius: 3px; text-align: center; line-height: 42px; color: #fff; font-size: 16px; background: #027CFF;font-weight: bold;border-radius: 4px}
.thAlert ul li dd select{height: 36px; line-height: 36px; border:1px solid #ddd; padding:0 10px; margin-right:  6px; width: 270px;outline: none;background: url('../images/select_down.png') no-repeat 250px 12px;background-size: 14px;appearance:none;-moz-appearance:none;-webkit-appearance:none;padding-right: 20px;font-size: 14px;}
.thAlert ul li dd select::-ms-expand { display: none; }

.input-tips {float: left; display:none; color: #666; font-size: 14px;}
.input-tips s {display: inline-block; width: 17px; height: 17px; margin: -3px 5px 0 0; vertical-align: middle; background: url('../images/icon-status.png') 0 -296px;}
.thAlert ul li.error .input-tips{display: inline-block;line-height: 36px;}
.thAlert ul li.error input {border-color: #f76120;}
.addrBtn{width: 306px!important;height: 36px!important;line-height: 36px!important;font-size: 14px!important;background: url('../images/shop/select.png') no-repeat 312px 12px !important;background-size: 14px !important; border:1px solid #ddd!important;padding-right: 20px;padding-left: 10px;}
#selAddr .sel-group{float: left;margin-right: 10px;}
.thAlert ul li input#mobile{border: none;padding-left: 62px;width: 260px;margin-left: 0;margin-right: 0}

.thAlert .inpbdr{border: 1px solid #ddd;width: 336px;position: relative;float: left;margin-right: 10px;border-radius: 4px}
.thAlert .inpbdr .areaCode{text-indent: 10px; font-size: 14px;text-align: left;bottom: 1px;left: 1px;top: 1px;line-height: 34px;}
.thAlert .inpbdr .areaCode s{right: 14px;border-top-color: #ddd;}

.thAlert .areaCode_wrap{left: 0;width: 270px;top: 36px;}
.thAlert .areaCode_wrap ul{width: 100%!important}

.thAlert textarea{border: 1px solid #ddd;padding: 10px;font-size: 12px;border-radius: 5px;width:338px;height: 88px;resize: none;box-sizing: border-box;}
