html,body{background-color: #F5F5F7;}

/* 自定义导航 */
.conbox{padding-bottom: 1.5rem;}
.btnbox{background-color: #f5f5f7; padding: .3rem 0;}
.conbox .newstypeList{margin-top: .2rem;}
.conbox li{margin-bottom: .1rem; background-color: #fff; height: 1.2rem; padding: 0 .3rem; display: flex; align-items: center; justify-content: space-between;}
.conbox li h3{font-size: .32rem; color: #000; font-weight: bold;}
.conbox li h3 input{font-size: .32rem; color: #000; border: none; font-weight: bold;}
.conbox li h3 input::placeholder{color: #ccc; font-weight: normal;}
.conbox li .btn_group{display: flex; align-items: center; justify-content: flex-end;}
.conbox li .btn_group a{display: block; width: .8rem; height: .8rem; border: solid 1px #eee; border-radius: 50%; background: url(../images/business_config/edit_btn.png) no-repeat center/.44rem; margin: 0 .1rem;}
.conbox li .btn_group a.del_btn{background-image: url(../images/business_config/del.png);}
.addNav{ margin:0 .3rem; height: .88rem; background-color: #fff; border-radius: .08rem; border: solid 1px #666; box-sizing: border-box; display: flex; align-items: center; justify-content: center; color: #333; font-size: .32rem;}
.addNav::before{content: ''; display: block; width: .34rem; height: .34rem; background: url(../images/business_config/add_icon.png) no-repeat center/cover; margin-right: .09rem;}




.loading{font-size: .24rem; color: #999; text-align: center; padding: .6rem;}
/*删除 弹出层*/
.delMask{position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,.57);z-index: 999;display: none;}
.delMask.show{display: block;}
.delAlert{position: fixed;top: 50%;left: 0;right: 0;z-index: 1000;overflow: hidden;height: 2.8rem;margin-top: -1.4rem;text-align: center;display: none;pointer-events: none;-webkit-animation: popup .3s ease-out; -moz-animation: popup .3s ease-out; animation: popup .3s ease-out; transform-origin: center !important;}
.delAlertCon{background: #fff;box-shadow:0px 7px 37px 0px rgba(0, 0, 0, 0.13);border-radius:.3rem;min-width: 4.8rem;display: inline-block;pointer-events: auto;transform-origin: center !important;}
.delAlertCon>div{padding: .55rem .4rem .48rem}
.delAlert h2.delTile{font-size: .32rem;font-weight: bold;text-align: center;}
.delAlert p{font-size: .24rem;color: #333;text-align: center;margin-top: .05rem}
.delAlert ul{border-top: 1px solid #f5f5f7;}
.delAlert ul li{float: left;width: 50%;box-sizing: border-box;height: .86rem;line-height: .86rem;font-size: .3rem;font-weight: bold;text-align: center;}
.delAlert ul li a{display: block;color: 000;}
.delAlert ul li a.sureDel{color: #3B7CFF}
.delAlert ul li.firLi{border-right: 1px solid #f5f5f7}



/* 动态相关 */
.bottom_btsgroup{display: flex; align-items: center; height: 1rem; position: fixed; left: 0; right: 0; bottom: 0; }
.bottom_btsgroup a{display: block; width: 50%; line-height: 1rem; text-align: center; font-size: .3rem; font-weight: bold;}
.bottom_btsgroup a.add_news{background-color: #F9394E; color: #fff;}
.bottom_btsgroup a.manage_news{background-color: #fff; color: #F9394E;}
.newsbox .menu dt {padding: .22rem 0;}
.newsbox .menu dt h3{font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: 1.8em;}
.newsbox .menu dt p{display: flex; align-items: center; justify-content: space-between; line-height: .4rem;}
.newsbox .menu dt p .typename{display: block; height: .4rem; box-sizing: border-box; border-radius: .2rem; border: solid 1px #B1B1B2; padding: 0 .22rem; font-size: .24rem; font-weight: normal; color: #666;} 
.newsbox .menu dt p .pubtime{font-size: .28rem; color: #999; font-weight: 500;}


.pop_mask{position: fixed; left: 0;right: 0; top: 0; bottom: 0; background: rgba(0,0,0,.5); z-index: 100001; display: none;}
.pop{ height: 3.3rem; left: 0; right: 0; background-color: #fff; border-radius: .4rem .4rem 0 0; box-shadow: 0 .07rem .23rem 0 rgba(0, 0, 0, 0.1); z-index: 100002; bottom: 0; position: fixed; transition: transform .3s; opacity: 0; transform: translateY(3.3rem);}
.pop h4{color: #949599; font-size: .28rem; display: flex; align-items: center; justify-content: space-between; line-height: 1.04rem; padding: 0 .64rem;}
.pop h4 .cancel_btn{color: #949599; font-size: .3rem; font-weight: bold;}
.pop h4 .sure_btn{color: #010101; font-size: .3rem; font-weight: bold;}
.pop .inpbox{margin: .38rem .35rem .35rem; height: 1rem; border: solid 1px #D5D5D5; border-radius: .1rem;}
.pop .inpbox input{border: none; height: 1rem; font-size: .3rem; box-sizing: border-box; padding-left: .26rem; background: none; width: 100%;}
.pop .inpbox input::placeholder{color: #ccc;}