body{min-height: 100vh; box-sizing: border-box; }
[v-cloak]{display: none;}
.huoniao_iOS .header{display: -webkit-box !important; opacity: 1 !important;}
.huoniao_iOS .header .header-l{visibility: hidden;}
.page{background:#F7F8FA url(../images/enter/busiBg.png) no-repeat center -1rem/ 100%  7.45rem;}
.header{background: transparent !important; z-index: 5;}
.header .header-l .goBack{background-image: url(/static/images/header_back_index.png);}
.header .header-search  .link{background: none; color: rgba(255,255,255,.6); font-size: .26rem; width: auto; padding-right: .3rem;}
.page .titleCon {padding: 0 .37rem;}
.page .titleCon h1{font-size: .66rem; color: #fff; font-weight: 800; color: #313233; background: linear-gradient(90deg, #FFD2AB 0%, #FFE7D3 100%); font-family: source; -webkit-background-clip: text; -webkit-text-fill-color: transparent;}

.conBox .modBox{margin: .3rem .25rem 0; padding-top: .3rem; position: relative; box-sizing: border-box; height: 3.64rem; background: url(../images/enter/bg_con.png) no-repeat center/cover; }
.conBox .modBox .userInfo{display: flex; align-items: center; margin-left: .25rem;}
.conBox .modBox .userInfo .photo{width: .64rem; height: .64rem; border-radius: 50%; margin-right: .1rem;}
.conBox .modBox .userInfo .photo img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.conBox .modBox .userInfo .nickname{font-size: .26rem; color: #fff; font-weight: bold; margin-bottom: .1rem; max-width: 2.8rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.conBox .modBox .userInfo .vip{height: .34rem; border-radius: .17rem; background: linear-gradient(90deg, #FED2AE 0%, #FEEDDF 100%); color: #623E34; padding: 0 .15rem; font-size: .18rem; display: inline-flex; align-items: center;}
.conBox .modBox .userInfo .vip em{display: inline-block; width: .01rem; height: .12rem; background-color: #623E34; margin: 0 .1rem;}
.conBox .modBox .userInfo .vip.noVip{background: linear-gradient(90deg, #637AA6 0%, #A1B8E6 100%); color: #fff;}
.conBox .modBox .userInfo .vip.noVip em{background-color: #fff;}
.conBox .modBox::after{content: ''; display: block; width: 2.2rem; height: 2rem; background: url(../images/enter/busiIcon.png) no-repeat center/cover; position: absolute; right: .25rem; top: -.88rem;}
.conBox .modBox .swiperItem{overflow: hidden; padding: 0 .2rem;}
/* .conBox .modBox .swiperItem ul{padding: .3rem .2rem; box-sizing: border-box; display: grid; grid-template-columns: repeat(4,1fr); } */
.conBox .modBox .swiperItem ul{padding: .3rem 0; box-sizing: border-box;  }
.conBox .modBox .swiperItem ul li{display: flex; align-items: center; justify-content: center; flex-direction: column; text-align: center;}
.conBox .modBox .swiperItem .icon{width: .92rem; height: .92rem; margin-bottom: .16rem;}
.conBox .modBox .swiperItem .icon img{width: 100%; height: 100%; object-fit: cover;}
.conBox .modBox .swiperItem .text h5{font-size: .28rem; color: #F5DBC2; font-weight: 500;}
.conBox .modBox .swiperItem .text p{font-size: .22rem; color: #999; margin-top: .1rem;}

.tabBox .tab_ul{display: flex; align-items: center; font-size: .36rem; font-weight: bold; background-color: #373330; border-radius: .3rem .3rem 0 0; margin-top: .34rem;}
.tabBox .tab_ul .tab_li{display: flex; align-items: center; justify-content: center; position: relative; width: 50%; height: .88rem; position: relative; color: #FFE3CB; font-size: .32rem; }
.tabBox .tab_ul .tab_li .tab_bg{display: none; position: absolute; left: 0; bottom: 0; height: .88rem; border-radius: .3rem .3rem 0 0; width: 56.4vw;}
.tabBox .tab_ul .tab_li.on_chose { color: #000; font-size: .36rem; }
.tabBox .tab_ul .tab_li.on_chose .tab_bg{background: linear-gradient(180deg, #FFECE1 0%, #fff 100%); display: block; transform: scaleY(1.2) perspective(.3rem) rotateX(2deg); transform-origin:bottom left}
.tabBox .tab_ul .tab_li:last-of-type .tab_bg{right: 0; left: auto; transform-origin:bottom right}
.tabBox .tab_ul .tab_li.on_chose  span{position: relative; z-index: 1;}
.tabBox .tab_ul .tab_li.on_chose .tab_bg::after{content: '';    background: radial-gradient(circle at .3rem 0, transparent .3rem, #fff .1rem); position: absolute; right: -.3rem; bottom: 0; width: .3rem; height: .3rem;}
.tabBox .tab_ul .tab_li:last-of-type .tab_bg::after{left: -.3rem; right: auto; background: radial-gradient(circle at 0 0, transparent .3rem, #fff .1rem);}
.tabBox .tabCon .tcBox{background-color: #fff; border-radius: 0 0 .3rem .3rem;}
.tabBox .tabCon .tcBox h6,.tabBox .tabCon .openBox h6{font-size: .26rem; color: #808080; padding: 0 .3rem; padding-top: .1rem ; margin-bottom: .2rem;}
.ulBox {overflow: auto;}
.ulBox ul{padding: 0 .3rem; align-items: center; white-space: nowrap; }
.ulBox::-webkit-scrollbar{display: none;}
.ulBox li{width: 2.7rem; height: 3.2rem; background: #FFFBF4; border-radius: .2rem; border: 1px solid #FFEBC7; position: relative; display: flex; box-sizing: border-box; padding-top: .3rem; flex-direction: column; flex-shrink: 0; margin-right: .2rem; display: inline-block;}
.ulBox li:last-of-type{margin-right: .3rem;}
.ulBox li .fuli{height: .68rem; display: flex; align-items: center; justify-content: center; position: absolute; left: 0; bottom: 0; right: 0; background-color: #FFF5E8; color: #A15703; font-size: .3rem; border-radius: 0 0 .2rem .2rem;}
.ulBox li .time{color: #111112; font-size: .36rem; font-weight: bold; text-align: center; margin-bottom: .3rem;}
.ulBox li .price p{font-size: .28rem; color: #999; text-align: center; text-decoration: line-through;}
.ulBox li .price .currPrice{font-weight: bold; color: #111112; font-size: .36rem; text-align: center;}
.ulBox li .price .currPrice b{font-size: .68rem; margin-left: .1rem;}
.ulBox li.on_chose{background: url(../images/enter/tc_bg.png) no-repeat center/cover; border: solid 1px transparent;}
.ulBox li.on_chose .fuli{background: linear-gradient(100deg, #FDD27A 0%, #FDD27A 74%, #FEE7B8 100%);}
.ulBox li.on_chose .time,.ulBox li.on_chose .price .currPrice,.ulBox li.on_chose .price p{color: #A15703;}

.tabBox .tabCon .btn_Box .btn{display: flex; align-items: center; justify-content: center; height: .96rem; border-radius: .48rem; background: linear-gradient(90deg, #23201F 0%, #5A524D 100%); color: #FFD8B6; font-size: .36rem; font-weight: bold; margin: .46rem .3rem .3rem;}
.tabBox .tabCon .btn_Box .btn span{margin-right: .1rem;}
.tabBox .tabCon .tcBox .tip,.pop_foot .tip{color: #999; font-size: .24rem; display: flex; align-items: center; padding: 0 .46rem;}
.tabBox .tabCon .tcBox .tip a,.pop_foot .tip a{color: #D1975E;}
.tabBox .tabCon .tcBox .tip span,.pop_foot .tip span{display: flex; align-items: center;}
.tabBox .tabCon .tcBox .tip span::before,.pop_foot .tip span::before{content: ''; display: block; width: .26rem; height: .26rem; border: solid .02rem rgba(14, 4, 8, .5); margin-right: .1rem; border-radius: 50%;}
.tabBox .tabCon .tcBox .tip.agree span::before,.pop_foot .tip.agree span::before{background: url(../../../touch/images/enter/agree_icon.png) no-repeat center/cover; border: none; width: .28rem; height: .28rem;}
.tabBox .tabCon .tcBox{padding-bottom: .5rem; }

.helpKfBox{margin-top: .22rem; background-color: #fff; border-radius: .3rem .3rem 0 0; padding: .4rem 0;}
.helpKfBox .help_header{padding: 0 .36rem;}
.helpKfBox .help_header h3{font-size: .34rem; color: #000; font-weight: bold;} 
.helpKfBox .help_header p{color: rgba(17, 17, 18, .6); font-size: .22rem; margin-top: .1rem;}
.help_con{margin: .2rem .3rem; background: linear-gradient(0deg, #F5E4C4 0%, #FFF8ED 98%); border-radius: .2rem; display: flex; align-items: center; }
.help_con .help_icon{width: 2.8rem; height: 2.5rem; background: url(../images/enter/kefu_icon.png) no-repeat center top/100% auto;}
.help_con .help_info {padding-top: .1rem;}
.help_con .help_info h4{color: rgba(0,0,0,.3); font-size: .48rem; font-weight: 500; display: flex; align-items: center;}
.help_con .help_info h4 span{font-weight: normal; color: #111112; font-size: .26rem; margin: 0 .1rem;}
.help_con .sup{transform: translateY(50%);}
.help_con .help_info .telBox{height: 1.22rem; background: linear-gradient(90deg, rgba(255,255,255,1) 0%,rgba(255,255,255,0.5) 100%); border-radius: .16rem; display: flex; justify-content: center; box-sizing: border-box; padding-left: .22rem; color: #A15703; flex-direction: column; line-height: .4rem; margin-top: .2rem;}
.help_con .help_info .telBox h5{font-size: .24rem;}
.help_con .help_info .telBox h2{font-size: .3rem; font-weight: bold;}

/* 已开通套餐 */
.tabConBox>div:first-of-type{border-radius: 0 0 .3rem .3rem !important;}
.tabBox .tabCon .openBox{background-color: #fff; border-radius: .3rem; padding-bottom: .5rem; margin-bottom: .24rem; padding-top: .01rem;}
.tabBox .tabCon:first-of-type{border-radius: 0 0 .3rem .3rem;}
.tabBox .tabCon:last-of-type{border-radius:.3rem .3rem 0 0 ;}
.tabBox .tabCon .openBox  ul{display: grid; grid-template-columns: repeat(2,1fr); margin: 0 .26rem; column-gap: .14rem; row-gap: .2rem;}
.tabBox .tabCon .openBox  ul.fullLi{display: block;}
.tabBox .tabCon .openBox ul li{ height: 1.8rem; background: linear-gradient(90deg, #FFF5F0 0%, #FFE8DA 98%); border-radius: .2rem; display: flex; justify-content: center; flex-direction: column; box-sizing: border-box; padding: 0 .24rem; position: relative;}
.tabBox .tabCon .openBox  ul li h4{color: #62301E; font-size: .3rem; font-weight: bold;}
.tabBox .tabCon .openBox  ul li .left_info{min-width: 0;}
.tabBox .tabCon .openBox  ul li .left_info p{color: rgba(98, 48, 30, .5); font-size: .22rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.tabBox .tabCon .openBox .modBox ul li .left_info .m_price{color: #111112; font-size: .22rem; margin-top: .22rem;}
.tabBox .tabCon .openBox .modBox ul li .left_info .m_price b{color: #FF4144; font-size: .36rem; font-weight: bold;}
.tabBox .tabCon .openBox .modBox ul li .right_info{position: absolute; right: .15rem; bottom: .22rem; text-align: center;} 
.tabBox .tabCon .openBox .modBox ul li .right_info p{color: #FF4144; font-size: .22rem; margin-bottom: .1rem;}
.tabBox .tabCon .openBox  ul li .right_info .btn_xu{width: 1.2rem; height: .58rem; background: linear-gradient(90deg, #F6D396 0%, #EABB6B 100%); border-radius: .29rem; color: #4A2708; font-size: .24rem; display: flex; align-items: center; justify-content: center;}

.tabBox .tabCon .openBox .openRight {margin-top: .4rem;}
.tabBox .tabCon .openBox .openRight h3{font-size: .3rem; color: #000; font-weight: bold; padding: 0 .32rem; margin-bottom: .22rem;}
.tabBox .tabCon .openBox .openRight ul li{height: 1.3rem; align-items: center; flex-direction: row; padding: .2rem; padding-right: .16rem; justify-content: space-between;}

.tabBox .tabCon .moreRightBox{background:  linear-gradient(180deg, #fff 0%, #f5f7f8 2rem, #f5f7f8 70%, #fff 100%); padding: .34rem .3rem;  border-radius: .3rem ;}
.tabBox .tabCon .moreRightBox>h4{font-size: .34rem; color: #000; font-weight: bold; padding: 0 .04rem; margin-bottom: .32rem;}
.tabBox .tabCon .moreRightBox .busiRight ul{display: flex; flex-wrap: wrap; }
.tabBox .tabCon .moreRightBox  li{display: flex;height: 1.4rem; border-radius: .2rem; background-color: #fff; flex-grow: 1; margin-left: .14rem; align-items: center; justify-content: space-between; padding-left: .26rem; padding-right: .2rem; margin-bottom: .2rem;}
.tabBox .tabCon .moreRightBox .busiRight li:nth-of-type(2n + 1){margin-left: 0;}
.tabBox .tabCon .moreRightBox  li h4{font-size: .3rem; color: #111112; font-weight: bold;}
.tabBox .tabCon .moreRightBox  li .price{font-size: .22rem; color: #111112; margin-top: .1rem; font-weight: normal; margin-left: .1rem;}
.tabBox .tabCon .moreRightBox  li .left_info{min-width: 0;}
.tabBox .tabCon .moreRightBox  li .left_info p{ color: #111112; font-size: .22rem; opacity: .6; margin-top: .08rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.tabBox .tabCon .moreRightBox  li .price b{font-size: .36rem; color:#FF4144; font-weight: bold; margin-right: .05rem;}
.tabBox .tabCon .moreRightBox  li .right_btn{height: .6rem; padding:0 .3rem; background: linear-gradient(90deg, #F6D396 0%, #EABB6B 100%); border-radius: .3rem; font-size: .26rem; color: #4A2708; display: flex; align-items: center; justify-content: center; flex-shrink: 0; white-space: nowrap;}
.tabBox .tabCon .moreRightBox .otherRight li{margin-left: 0;}
.tabBox .tabCon .moreRightBox  .otherRight li .right_btn{padding: 0 .4rem;}
.moreRightBox .help_con{margin: 0; margin-top: .3rem;}
.help_con.hasQr {height: 3.88rem;}
.help_con.hasQr .help_icon{height: 2.9rem; align-self: flex-start;}
.help_con.hasQr .rightBox{display: flex; align-items: center; justify-content: flex-start; flex-direction: column; }
.help_con.hasQr .rightBox h4{color: rgba(0,0,0,.3); font-size: .48rem; font-weight: 500; display: flex; align-items: center; transform: translateY(-.33rem);}
.help_con.hasQr .rightBox h4 span{font-weight: normal; color: #111112; font-size: .26rem; margin: 0 .1rem;}
.help_con.hasQr .rightBox h4 .sup{transform: translateY(100%);}
.help_con.hasQr .rightBox h4 .sub{transform: translateY(-50%);}
.help_con.hasQr .leftBox{width: 3.73rem; height: 3.12rem; background: #FFFFFF; border-radius: .16rem; display: flex; align-items: center; flex-direction: column; justify-content: flex-start; padding-top: .22rem;}
.help_con.hasQr .leftBox .qrBox .qrImg{width: 1.68rem; height: 1.68rem; margin: auto; background-color: #f5f5f5;}
.help_con.hasQr .leftBox .qrBox .qrImg img{width: 100%; height: 100%; object-fit: cover;}
.help_con.hasQr .leftBox .qrBox p{font-size: .24rem; text-align: center; columns: #000; margin-top: .1rem; font-weight: 500;}
.help_con .leftBox .telBox{display: flex; align-items: center; justify-content: center;  color: #A15703; margin-top: .3rem;}
.help_con .leftBox .telBox h5{font-size: .24rem; margin-right: .1rem;}
.help_con .leftBox .telBox h2{font-size: .3rem; font-weight: bold;}

.pop_mask_inner{position: fixed; left: 0; right: 0; top: 0; bottom: 0; background-color: rgba(0,0,0,.6); z-index: 6; }
.popConBox.show{transform: translateY(0);}
.popConBox{height: 6.76rem; position: fixed; left: 0; right: 0; bottom: 0; background-color: #fff; border-radius: .5rem .5rem 0 0; z-index: 6; transform: translateY(100%); transition: .3s transform;}
.popConBox .pop_header{height: 1.58rem; display: flex; flex-direction: column; justify-content: center; padding: 0 .39rem;}
.popConBox .pop_header h3{font-size: .36rem; font-weight: bold;}
.popConBox .pop_header p{font-size: .26rem; color: #999;}
.popConBox .ulBox li{width: 2.1rem; height: 2.6rem; border-radius: .2rem;}
.popConBox .ulBox li .time{font-size: .32rem; margin-bottom: .2rem;}
.popConBox .ulBox li .price .currPrice b{font-size: .52rem; margin-left: 0;}
.popConBox .ulBox li .price p{font-size: .26rem;}
.popConBox .ulBox li .fuli{height: .5rem; font-size: .24rem;}
.close_pop{width: .4rem; height: .4rem; background: url(../images/enter/close_btn1.png) no-repeat center/cover; position: absolute; right: .3rem; top: .3rem;}
.pop_foot {padding-top: .26rem; margin-top: .22rem;}
.pop_foot .btn{margin: 0 .3rem; height: .96rem; display: flex; align-items: center; justify-content: center; border-radius: .48rem; font-size: .36rem; color: #4A2708; font-weight: bold; background: linear-gradient(90deg, #F4DDB4 0%, #EABB6B 100%); margin-top: .28rem;} 

.pagination{position: absolute; left: 0; right: 0; bottom: .1rem; text-align: center;}
.pagination .swiper-pagination-bullet{width: .06rem; height: .06rem; border-radius: .03rem; background-color: rgba(255,255,255,.5); transition: all .3s; margin: 0 .04rem !important;}
.pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{width: .22rem; background-color: #fff; }

.popCenter{position: fixed; left: 0; top: 0; right: 0; bottom: 0; display: flex; align-items: center; justify-content: center; z-index: 6;}
.popCenter .popCon{width: 5.8rem; height: 3.66rem; background: #FFFFFF; border-radius: .3rem; display: flex; align-items: center; flex-direction: column; justify-content: center; padding-top: .2rem; box-sizing: border-box; animation: popup .3s; display: none;}
.popCenter .popCon.show{display: flex;}
.popCenter .popCon h4{font-size: .32rem; color: #000; font-weight: bold; text-align: center; }
.popCenter .popCon p{font-size: .24rem; color: #999; text-align: center; margin-top: .2rem;}
.popCenter .popCon a{display: block; margin: auto; text-align: center;}
.popCenter .popCon a.agree_btn{width: 4rem; height: .76rem; background: #FC5E33; border-radius: .38rem; display: flex; align-items: center; justify-content: center; font-size: .28rem; margin-top: .5rem; font-weight: bold; color: #fff;}
.popCenter .popCon a.refuse_btn{color: #333; margin-top: .2rem;}
.bottom_btn{min-height: 1.5rem; padding-top: .4rem; background-color: #fff;}
.bottom_btn .btn_contact{display: flex; align-items: center; justify-content: center; font-size: .36rem; color: #FFD8B6; font-weight: bold; height: .96rem; background: linear-gradient(90deg, #23201F 0%, #5A524D 100%); margin: 0 .3rem; border-radius: .48rem;} 


.pagination.swiper-horizontal>.swiper-pagination-progressbar, 
.pagination.swiper-pagination-progressbar.swiper-pagination-horizontal, 
.pagination.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, 
.pagination.swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite{width: .4rem !important; top: auto !important; height: .06rem; border-radius: .03rem; margin: auto; bottom: .2rem;}
.pagination.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{border-radius: .03rem; height: .06rem; background-color: #fff;}