html, body {/*height: 100%;*/ background: #F5F5F7}
body{padding-bottom: 1rem; padding-bottom: calc(1rem + constant(safe-area-inset-bottom));}

/*基本资料*/

.modPro{padding: .35rem .2rem 0;}
.modPro .pro1{background: #fff;border-radius: .2rem;padding: .27rem .24rem }
.modPro .leftMod{}
.modPro .leftMod p{}
.modPro .leftMod p:first-child{margin-bottom: .1rem;}
.modPro .leftMod p em{font-size: .24rem;color: #999}
.modPro .leftMod p span{font-size: .28rem;color: #222;margin-left: .16rem;}
.modPro .changeMod{display: inline-block;width: 1.48rem;text-align: center;line-height: .58rem;background: #3478FF;border-radius: .1rem;font-size: .24rem;color: #fff;margin-top: .16rem}

.formWrap{background: #fff;border-radius: .2rem;margin-top: .2rem;overflow: hidden;}
.img-box .tit{font-size: .28rem;color: #333;font-weight: bold;padding: .28rem .3rem 0;}
/* 上传图片 */
.img-box {padding-bottom: .4rem; position: relative; background: #fff; border-bottom: 1px solid #f5f5f7;}
.img-box ul {padding-left: .22rem;}
.img-box li {position: relative; float: left; margin: 15px 15px 0 0; width: 1.4rem; height: 1.4rem; background: #fff; border-radius: .08rem;}

/* 上传按钮 */
.img-box li.uploadbtn {box-shadow: none; width: 1.4rem; height: 1.4rem;
border: 1px solid #E5E5E5;    box-sizing: border-box;border-radius: .08rem;}
.img-box li.uploadbtn img{width: .5rem;height: .5rem;margin: auto;display: block;margin-top: .26rem;margin-bottom: .05rem;}
.img-box li.uploadbtn p { text-align: center; font-size: .2rem; color: #B5B5B5;}

.webuploader-element-invisible {position: absolute !important; clip: rect(1px,1px,1px,1px);}
/*.webuploader-container div {width: 1.4rem; height: 1.4rem;}*/

/* 图片队列 */
.img-box .imgtip{color: #d0d0d0; font-size: 0.3rem; position: absolute; left: 110px; top: 40px;}
.img-box .thumbnail img {width: 100%; height: 100%; display: block; background-repeat: no-repeat; background-size: cover; background-position: center 20%;}

.img-box .thumbnail .file-panel {position: absolute; top: -.16rem; right: -.09rem;}
.img-box .thumbnail .file-panel .cancel {width: .36rem;height: .36rem; background: url(../images/shop/delbtn.png) center center no-repeat;background-size: cover;display: inline-block;}
.img-box dl{margin-left: .33rem;}
.img-box .logo_container{margin-top: .38rem;}
.img-box .logo_container .input-img{width: 1.4rem; height: 1.4rem; font-size: .2rem; color: #B5B5B5; font-weight: 500; text-align: center; display: flex; align-items: center; justify-content: center; flex-direction: column; position: relative; background-color: #F8F8F8; border: 1px solid #E5E5E5;border-radius: .08rem;}
.img-box .logo_container .input-img::before{content: ''; display: block; width: .5rem; height: .5rem; background:  url(../images/marry/marryAdd.png) no-repeat center/cover; margin-bottom: .14rem;}
.img-box .logo_container .input-img input,.img-box .logo_container .input-img label{opacity: 0; position: absolute; left: 0; right: 0; top: 0; bottom: 0;}

.img-box .logoshow{width: 1.4rem; height: 1.4rem;margin-top: .38rem; position: relative;}
.img-box .logoshow img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: .08rem;}
.img-box .logoshow .del_btn{display: block; width: .36rem; height: .36rem; background: url(../images/shop/delbtn.png) center center no-repeat;background-size: cover; position: absolute; top: -.13rem; right: -.09rem; }



.img-box .thumbnail .progress {position: absolute; right: 4px; bottom: 4px; height: 3px; left: 4px; height: 4px; overflow: hidden; z-index: 15; margin:0; padding: 0; border-radius: 0; background: transparent;}
.img-box .thumbnail .progress span {display: block; overflow: hidden; width: 0; height: 100%; background: #499c00 url('/static/js/webuploader/progress.png') repeat-x; -webit-transition: width 200ms linear; -moz-transition: width 200ms linear; -o-transition: width 200ms linear; -ms-transition: width 200ms linear; transition: width 200ms linear; -webkit-animation: progressmove 2s linear infinite; -moz-animation: progressmove 2s linear infinite; -o-animation: progressmove 2s linear infinite; -ms-animation: progressmove 2s linear infinite; animation: progressmove 2s linear infinite; -webkit-transform: translateZ(0);}
@-webkit-keyframes progressmove {
    0% {background-position: 0 0;}
    100% {background-position: 17px 0;}
}
@-moz-keyframes progressmove {
    0% {background-position: 0 0;}
    100% {background-position: 17px 0;}
}
@keyframes progressmove {
    0% {background-position: 0 0;}
    100% {background-position: 17px 0;}
}

.f-item {background:#fff;font-size:.28rem;height:1rem;line-height:1rem;padding:0 .3rem;border-bottom: 1px solid #f5f5f7}
.f-item em {display:inline-block;font-size:.28rem;width:1.3rem;overflow:hidden;height:1rem;float:none;vertical-align:middle;color: #333;font-weight: bold;}
.f-item input {width:5.6rem;text-align:right;border:none;outline:none;background:none;font-size: .26rem;color: #333;    box-sizing: border-box;}
.f-item input::placeholder{color: #A0A0A0}

.f-item.indusel{position: relative;}
.f-item.indusel em{float: left;}
.f-item.indusel input{padding-right: .26rem;}
.f-item.indusel input::-webkit-input-placeholder{color: #999}
.f-item.indusel input::-moz-input-placeholder{color: #999}
.f-item.indusel input::-ms-input-placeholder{color: #999}
.f-item.indusel::before {content:"";position:absolute;right:.24rem;top:.4rem;width: .22rem;height: .22rem; background: url(../images/shop/arr2.png) center center no-repeat;background-size: cover;}
.ChoiceBox {background:#fff;height:1rem;line-height:1rem;padding:0 .3rem;font-size:.28rem;border-bottom: 1px solid #f5f5f7;position: relative;}

.ChoiceBox span {display:inline-block;width:1.5rem;font-size:.28rem;overflow:hidden;height:1rem;float:left;color: #333;font-weight: bold;}
.ChoiceBox .ChoiceBox_input {text-align:right;width:5.4rem;display:inline-block;font-size:.26rem;position:relative;padding-right:.26rem;color: #333;box-sizing: border-box;}
.ChoiceBox .ChoiceBox_input em {color:#909090;}
.ChoiceBox .ChoiceBox_input:before {content:"";position:absolute;right:0;top:.4rem;width: .22rem;height: .22rem; background: url(../images/shop/arr2.png) center center no-repeat;background-size: cover;}
.ChoiceBox .chose_area{float: right;margin-right: 1rem;}
.ChoiceBox .chose_area p{color: #333;}
.ChoiceBox .map_detail{position: absolute;right: .3rem;top: 0;display: flex;align-items: center;}
.ChoiceBox .map_detail s{display: inline-block;width: .28rem;height: .28rem;background: url(../images/shop/adrpos.png) no-repeat center center;background-size: .28rem;}
.ChoiceBox .map_detail em{font-size: .26rem;color: #777}

.f-item.addressItem{display: flex;align-items: center;min-height: 1rem;height: auto;}

.f-item .txt{font-size: .26rem;color: #333;line-height: .4rem;float: right;text-align: right;width: 5.6rem;}
.f-item .txt:empty:before{content: attr(placeholder);color: #A0A0A0;}
.f-item .txt:focus{ content:none;}
.mobileSelect-show .content{border-radius: .3rem .3rem 0 0;overflow: hidden;}
.mobileSelect .content .btnBar{background: #F7F8FA;border-bottom: none;height: 1rem;line-height: 1rem;}
.mobileSelect .content .btnBar .cancel{font-size: .28rem;color: #999;font-weight: bold;}
.mobileSelect .content .btnBar .title{font-size: .28rem;color: #999}
.mobileSelect .content .btnBar .ensure{font-size: .28rem;color: #3378FF;font-weight: bold;}

.nextStep,.tjBtn{margin: .37rem .3rem;}
.nextStep a,.tjBtn a{display: block;width: 100%;background: linear-gradient(90deg, #407FFF 0%, #3377FF 100%);line-height: .8rem;text-align: center;font-size: .32rem;color: #fff;font-weight: bold;border-radius: .4rem;}

/*营业时间*/
.date_chose{border-bottom: 1px solid #f5f5f7;padding-bottom: .07rem;}
.date_chose h3{font-size: .28rem;color: #333;font-weight: bold;padding:.26rem .3rem .06rem;}
.date_chose .time_list {float: left;margin-bottom: .2rem;}
.date_chose .date_box{margin-top: .2rem;margin: .2rem 0 .2rem .3rem}
.date_chose .time_list span,.date_chose .add_btn{display: inline-block;width: 1.8rem;height: .64rem;box-sizing: border-box;line-height: .62rem;border: solid 1px #B1B1B3;border-radius: .06rem;text-align: center;color: #7C7C80;font-size: .26rem;margin: 0 .2rem;position: relative;vertical-align: middle;margin-left: 0;}
.date_chose .add_btn{margin-top: 0}
.date_chose .time_list span{width: 2.1rem;}
.date_chose .time_list span.chose_inp em{    display: block;width: .36rem;height: .36rem;background: url(../images/shop/delbtn.png) center center no-repeat;background-size: .36rem;position: absolute;right: -.12rem;top: -.12rem;}

/*设施/服务*/
.facilities{padding-bottom: .43rem}
.facilities h3{font-size: .28rem;color: #333;font-weight: bold;padding:.26rem .3rem 0;}
.facilities .facybox{padding: 0 .24rem}
.facilities .facybox span{float: left; width: 1.5rem; height: .52rem; border-radius: .04rem; background-color: #F4F4F4; color: #333; font-size: .26rem; text-align: center; line-height: .5rem; margin-right: .3rem; margin-top: .3rem; border: solid 1px #F4F4F4; box-sizing: border-box;}
.facilities .facybox span:nth-child(4n){margin-right: 0;}
.facilities .facybox span.active{border: solid 1px #1D86FD; background-color: #F5F6FA; color: #3478FF;}

.mbsc-fr-btn-cont{height: 1rem; background: #F7F8FA !important; border-radius: .2rem .2rem 0 0 ; overflow: hidden; border: none !important; }
.mbsc-ios .mbsc-fr-btn{line-height: 1rem;}
.mbsc-fr-popup.mbsc-ltr{background-color: #fff;border-radius: .2rem .2rem 0 0 ; overflow: hidden;}
.mbsc-calendar{position: relative; z-index: 999999; background-color: #fff;  overflow: hidden;}
.mbsc-fr-overlay{background: rgba(0,0,0,.5) !important;}
.mbsc-fr-popup{z-index: 99;}
.mbsc-ios .mbsc-range-btn-t {display: flex; height: 1rem; border-bottom: solid 1px #E6E7ED;}
.mbsc-ios .mbsc-range-btn-end,.mbsc-ios  .mbsc-range-btn-start{width: 50%; border: none; }
.mbsc-ios .mbsc-sc-itm .mbsc-sc-whl-c{font-size: .32rem !important;}
.mbsc-ios .mbsc-range-btn-v{background-color: #fff; left: 0; right: 0; top: 0; bottom: 0;text-align: center; line-height: 1rem;}
.mbsc-ios.mbsc-calendar .mbsc-fr-persp .mbsc-fr-w{background: #fff;  }
.mbsc-ios .mbsc-sc-whl-o, .mbsc-ios.mbsc-calendar .mbsc-sc-whl-o,.mbsc-ios.mbsc-fr-top .mbsc-sc-whl-o, .mbsc-ios.mbsc-fr-bottom .mbsc-sc-whl-o{background: none;}
.mbsc-ios .mbsc-fr-btn-w.mbsc-fr-btn-s .mbsc-fr-btn{color: #3378FF; padding:0 .55rem;font-weight: bold;font-size: .3rem;}
.mbsc-ios .mbsc-fr-btn-w.mbsc-fr-btn-c .mbsc-fr-btn{color: #999;  padding:0 .55rem;font-size: .3rem;font-weight: bold;}
.mbsc-ios .mbsc-fr-w {padding-top: 1rem;}
.mbsc-ios .mbsc-range-btn-sel .mbsc-range-btn .mbsc-range-btn-v{font-weight: bold; color: #3378FF; font-size: .36rem; }
.mbsc-ios .mbsc-range-btn{height: 100%; box-sizing: border-box;}
.mbsc-ios .mbsc-range-btn-v{font-weight: bold; font-size: .36rem;}
.mbsc-ios .mbsc-range-btn-sel .mbsc-range-btn .mbsc-range-btn-v:after{content: ''; display: block; width: .12rem; height: .08rem; background: url(../images/shop/arr_d2.png) no-repeat center; background-size: cover; position: absolute; bottom: .16rem; left: 0; right: 0; margin: auto;}
.mbsc-ios .mbsc-range-btn-t::before{content: '至'; font-size: .26rem; color: #666 ; line-height: 1rem; left: 50%;  transform: translate(-50%, 0); position: absolute; z-index: 9;}
.mbsc-ios .mbsc-dt-whl-d .mbsc-sc-itm, .mbsc-ios .mbsc-dt-whl-h .mbsc-sc-itm, .mbsc-ios .mbsc-dt-whl-date .mbsc-sc-itm{text-align: center;}
.mbsc-ios .mbsc-dt-whl-m .mbsc-sc-itm{text-align: center;}
.mbsc-ios .mbsc-sc-itm{font-size: .3rem; font-weight: normal !important; }
/* .mbsc-ios .mbsc-sc-itm-sel{border-bottom: solid 1px #f5f5f7; border-top: solid 1px #f5f5f7; font-size: .32rem; font-weight: bold !important; } */
.mbsc-fr-aria.mbsc-fr-hdn{position: absolute;z-index: 1;left: 0;right: 0;top: 0; pointer-events: none;line-height: 1rem; color: #999; font-size: .28rem; height: 1rem !important; width: 100% !important;}
.mbsc-ios .mbsc-sc-whl-w .mbsc-sc-whl-l{display: block !important; border-color: #f5f5f7 !important;}
.mbsc-ios .mbsc-fr-w{background: #fff;}
.mbsc-fr-persp{height: auto !important;}
.mbsc-fr-popup.mbsc-ltr{top: auto !important; bottom: 0;}

/* 弹出层 */
.mask_scroll{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,.6); z-index: 50; display: none;}
.scroll_box{min-height: 5.4rem; position: fixed; bottom: -6.6rem; left: 0; right: 0; border-radius: .4rem .4rem 0 0; background-color: #fff; z-index: 51; transition: bottom .3s ease-in-out;overflow: hidden; }
.scroll_box .scroll_head{line-height: 1rem; display: flex; align-items: center; justify-content: space-between; padding:0 .54rem; font-size: .3rem; font-weight: bold; color: #999;background: #F7F8FA}
.scroll_box .scroll_head a{color: #999}
.scroll_box .scroll_head .htitle{font-size: .28rem; font-weight: normal; color: #949599;}
.scroll_box .scroll_head .sure_btn{color: #3378FF;}
.select_box ul{margin-left: .3rem;max-height: 5rem; overflow: auto;}
.scroll_box .select_box{padding: .3rem 0;}
.select_box li.chosed{border-color: #3378FF; background-color: #EEF4FF;color: #3378FF;}
.select_box li{float: left; width: 2.16rem; height:.6rem; border-radius: .04rem;box-sizing: border-box; border: solid 1px #EBEBED; color: #202021; font-size: .28rem; margin-right: .2rem; text-align: center; line-height: .58rem; margin-bottom: .2rem;} 

