html, body {/*height: 100%;*/ background: #F5F5F7}
body{padding-bottom: .3rem; padding-bottom: calc(.3rem + constant(safe-area-inset-bottom));}
.moduleWrap{background: #fff;border-radius: 0px 0px .3rem .3rem;padding: .24rem .3rem .42rem;}
.moduleWrap .tit{font-size: .36rem;font-weight: bold;}
.moduleWrap .choseWrap{}
.moduleWrap .choseTab{margin: .3rem .06rem 0;}
.moduleWrap .choseTab li{width: 3.24rem;height: .68rem;box-sizing: border-box;line-height: .68rem;border: 1px solid #E0E1E8;border-radius: .1rem;position: relative;overflow: hidden;}
.moduleWrap .choseTab li::after{content: '';display: block;width: .48rem;height: .48rem;position: absolute;right: 0;bottom: -1px;}
.moduleWrap .choseTab li a{display: block;font-size: .28rem;color: #BBBCC4;font-weight: bold;text-align: center;}
.moduleWrap .choseTab li.active{border: 1px solid #347DF6;}
.moduleWrap .choseTab li.active::after{background: url(../images/shop/chose.png) center center no-repeat;background-size: cover;}
.moduleWrap .choseTab li.active a{color: #171921}
.choseCon{margin-top: .33rem;}
.choseCon .comCon{background: #F2F7FF;border-radius: .16rem;display: none;padding: .22rem .28rem .4rem;position: relative;animation: rightFadeIn .3s;}
.choseCon .comCon.comshow{display: block;}
.choseCon .comCon::after{content: '';display: block;width: .32rem;height: .32rem;background: url(../images/shop/arrow.png) center center no-repeat;background-size: cover;vertical-align: top;position: absolute;left: 1.6rem;top: -.22rem;}
.choseCon .comCon.onlineCon::after{right: 1.6rem;left: auto;}
.choseCon .advice{}
.choseCon .advice i{display: inline-block;width: .32rem;height: .32rem;background: url(../images/shop/advice.png) center center no-repeat;background-size: cover;vertical-align: top;}

.choseCon .advice span{display: inline-block;vertical-align: top;font-size: .24rem;color: #777;line-height: .36rem;max-width: 5.7rem;margin-left: .1rem;}
.choseCon .advWrap {margin-top: .4rem;}
.advWrap .leftAdv{float: left;}
.advWrap .img{width: 2.7rem;height: 4.9rem;overflow: hidden;position: relative;}
.advWrap .img img{display: block;width: 100%;}
.advWrap p{font-size: .24rem;color: #333;margin-top: .2rem;text-align: center;}
.advWrap .rightAdv{float: right;}
.advWrap .rightAdv .img{width: 3.44rem;}
.advWrap .img::after{content: '';position: absolute;width: .44rem;height: .44rem;background: url(../images/shop/seemore.png) center center no-repeat;background-size: cover;top: .16rem;right: .13rem;}

.saleWrap{background: #fff;border-radius: .2rem;margin-top: .2rem;padding: .34rem .38rem .4rem;}
.saleWrap .tit{font-size: .36rem;font-weight: bold;}
.saleItem{margin-top: .4rem;}
.saleItem label{width: .32rem;height: .32rem;border: .02rem solid #BBBCC4;border-radius: .08rem;margin-right: .16rem;float: left;    margin-top: .06rem;box-sizing: border-box;}
.saleItem div{margin-left: .48rem;}
.saleItem div h3{font-size: .3rem;color: #171921;font-weight: bold;}
.saleItem div h3 em{font-size: .22rem;color: #393A5C;}
.saleItem div p{font-size: .24rem;color: #999;line-height: .36rem;    margin-top: .06rem;}
.saleItem div .changePs{font-size: .24rem;color: #3478FF;}
.saleItem.curr label{background: #3478FF;position: relative;border: none;}
.saleItem.curr label::after{content: '';display: inline-block;width: .2rem;height: .2rem;background: url(../images/shop/gou.png) center center no-repeat;background-size: cover;position: absolute;top: 50%;left: 50%;margin-top: -.1rem;margin-left: -.1rem;}
.saleItem.curr.disabled label{background: #E4E8EE;border: 1px solid #C9D1E1;}
.saleItem.curr.disabled label::after{background: url(../images/shop/nochange.png) center center no-repeat;background-size: cover;}
.saleWrap .saleTip{font-size: .22rem;color: #BBBCC4;margin-top: .5rem;}
.saleWrap .saleTip i{display: inline-block;width: .24rem;height: .24rem;background: url(../images/shop/tip.png) center center no-repeat;background-size: cover;vertical-align: top;margin-right: .05rem;margin-top: .04rem;}
.nextStep,.tjBtn{margin: .37rem .3rem;}
.nextStep a,.tjBtn a{display: block;width: 100%;background: linear-gradient(90deg, #407FFF 0%, #3377FF 100%);line-height: .8rem;text-align: center;font-size: .32rem;color: #fff;font-weight: bold;border-radius: .4rem;}

/*配送修改弹窗*/
.pubdelAlert{height: auto;margin-top: -1.9rem;top: 50%;}
.pubdelAlertCon>div{padding-top: .32rem;}
.pubdelAlert h2.delTile{width: 4.14rem;margin: 0 auto;}
.pubdelAlert p{width: 4.56rem;text-align: left;color: #999;line-height: .32rem;margin-top: .3rem;}



