html{background: #F6F5F5;}
.header{z-index: 1;}
.container{padding-bottom: 1.4rem;}
.header-l img{display: none;}
.header-c {-webkit-box-flex: 1;text-align: center;font-size: .34rem;line-height: .9rem;}
.header-l a {display: table-cell;vertical-align: middle;height: .9rem;width: 1rem;}
.header-r a {display: table-cell;width: .8rem;height: .9rem;vertical-align: middle;}
.huoniao_iOS {top: 0;}
.huoniao_iOS .container{padding-top: 0}
h3.tuanTip{height: .7rem;line-height: .7rem;padding: 0 .24rem;font-size: .24rem;color: #aaa}
.chooseGoods{height: 1.4rem;background: #fff;position: relative;box-sizing: border-box;padding: .2rem .2rem .2rem .24rem;margin-bottom: .36rem;overflow: hidden;}
.chooseGoods span.first{font-size: .28rem;color: #222;float: left;margin-top: .3rem}
.chooseGoods i.arr{display: inline-block;width: .3rem;height: .3rem;background:url("../images/shop/arr.png") no-repeat;background-size: .3rem;position: absolute;right: .2rem;top: 50%;transform: translateY(-50%);}
/*基本信息*/
.info{background: #fff;margin-bottom: .2rem;padding-left: .2rem;}
.info li{border-bottom: 1px solid #f5f5f7;padding: .28rem 0;padding-right: .24rem;font-size: .28rem;color: #222;position: relative;}
.info li.noChange{pointer-events: none; opacity: .8}
.info li .name{float: left;}
.info li .name .star{color: #FF010D;}
.info li input{float: right;text-align: right;border: 0;width: 68%;font-size: .24rem;color: #222;margin-top: .04rem;}
.info li input::placeholder{color: #ccc; }
.info li input#market{color: #EC3628;}
.info li .pintuanPrice{float: right;width: 76%;text-align: right;}
.info li .un{margin: -.02rem 0 0px .15rem;font-size: .26rem;color: #999;}
.info li .un sup{font-size: .20rem;}
.info li.gz-addr-seladdr p{display: inline-block;color: #45464f;}
.gz-addr-seladdr dd{padding-right: .25rem;}
.position_box{position: absolute;right: .04rem;left: 0;top: 0;bottom: 0;text-align: right;line-height: .9rem;font-size: .3rem;}
.info li input#huodongtime{margin-right: .4rem}
.info li i.arr{display: inline-block;width: .3rem;height: .3rem;background:url("../images/shop/arr.png") no-repeat;background-size: .3rem;position: absolute;right: .2rem;top: 50%;transform: translateY(-50%);}


.container .fabu_btn{position: fixed;bottom: 0;left: 0;right: 0;}
.container .fabu_btn .btn{display: inline-block;width: 100%;height: .95rem;background:#FC1913;text-align: center;line-height: .95rem;color: #fff;font-size: .3rem;}

.popErr{font-size: .3rem;text-align: center;padding: .2rem .3rem;color: #fff;background: rgba(0,0,0,0.67);position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);border-radius: .08rem;}

.chooseGoods .goodItem{float: left;}
.goodImg{width: 1rem;height: 1rem;border-radius:.1rem;float: left;overflow: hidden;box-sizing: border-box;}
.goodImg img{width: 100%;height: 100%;object-fit: cover;}
.goodInfo{margin-left: 1.25rem;height: 1rem;position: relative;width: 5rem;}
.goodInfo h4 {display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;font-size: .28rem;color: #000;font-weight: bold;line-height: .36rem;width: 4.25rem;position: absolute;top: 50%;transform: translateY(-50%);left: 0}

/*多规格库存*/
.pinBot h2{font-size: .24rem;color: #999;padding-top: .2rem;margin-bottom: .26rem}
.pinBot .pinWrap{padding: 0 .2rem 0;background: #F8F8F8;border-radius: .1rem;overflow: hidden;}
.pinBot .pinItem{border-bottom: 1px solid rgba(225,225,225,.8);padding-top: .38rem;overflow: hidden;}
.pinBot .pinItem:last-child{border-bottom: none}
.pinBot .pinItem dl{margin-bottom: .4rem}
.pinBot .pinItem dt{font-size: .26rem;color: #333;margin-bottom: .2rem}
.pinBot .pinItem dd span{font-size: .26rem;color: #999;display: inline-block;line-height: .68rem;vertical-align: top;}
.pinBot .pinItem dd span em{color: #EC3628;}
.info .pinBot input{float: right;text-align: left;width: 1.94rem;font-size: .26rem;color: #222;margin-top: .04rem;border: 1px solid #D4D4D4;border-radius: .08rem;box-sizing: border-box;padding: .17rem .18rem;margin-left: .2rem;}
.info .pinBot input::placeholder{color: #999; }

/*批量弹窗*/
.commask{position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,.67);z-index: 10000;display: none}
.batch{position: fixed;top: 50%;left: 50%;z-index: 10001;animation: popup .3s ease-out; width: 5.4rem;background: #fff;border-radius: .3rem;box-shadow: 0px .07rem .37rem 0px rgba(0, 0, 0, 0.13); margin-left: -2.7rem;margin-top: -2.18rem;display: none}
.batch.show{display: block;}
.batch h2{font-size: .32rem;font-weight: bold;padding: .38rem 0 ;text-align: center;}
.batch h3{font-size: .24rem;padding: .22rem 0 ;text-align: center;color: #666;}
.batch input{border: .02rem solid #D4D4D4;width: 4rem;height: .68rem;box-sizing: border-box;text-align: center;font-size: .26rem; margin: 0 auto;display: block;border-radius: .08rem;}
.batch input::placeholder{color: #999; }
.batch input#batchprice{margin-bottom: .15rem;}
.batch ul{border-top: 1px solid #DCDCDE;}
.batch ul li{float: left;width: 50%;box-sizing: border-box;font-size: .3rem;font-weight: bold;height: .86rem;line-height: .86rem;text-align: center;color: #1F66F2;}
.batch ul li.cancelbatch{border-right:1px solid #DCDCDE;color: #000; }