html{background: #F6F5F5;}
.header{z-index: 1;}
.container{padding-bottom: 2rem;}

.huoniao_iOS .container{padding-top: 0}
.quanTit{padding: .6rem .24rem .18rem;font-size: .36rem;font-weight: bold;}

.chooseGoods{height: 1.4rem;background: #fff;position: relative;box-sizing: border-box;padding: .2rem .2rem .2rem .24rem;margin-bottom: .36rem;overflow: hidden;}
.chooseGoods span.first{font-size: .28rem;color: #222;float: left;margin-top: .3rem;font-weight: bold;}
.chooseGoods i.arr{display: inline-block;width: .3rem;height: .3rem;background:url("../images/shop/arr.png") no-repeat;background-size: .3rem;position: absolute;right: .2rem;top: 50%;transform: translateY(-50%);}
/*基本信息*/
.info{background: #fff;margin-bottom: .2rem;border-radius: .2rem;}
.info li{border-bottom: 1px solid #f5f5f7;padding: .28rem .3rem;font-size: .28rem;color: #222;position: relative;}
.info li .name{float: left;height: .4rem;line-height: .4rem;font-size: .28rem;color: #333;font-weight: bold;}
.info li .name .star{color: #FF010D;}
.info li input{float: right;text-align: right;border: 0;width: 68%;font-size: .26rem;color: #222;margin-top: .04rem;-webkit-appearance:none;background: #fff;line-height: 1}
.info li input::placeholder{color: #A0A0A0; }
.info li input#market{color: #EC3628;}
.info li .pintuanPrice{float: right;width: 76%;text-align: right;}
.info li .un{margin: 0 0 0px .15rem;font-size: .26rem;color: #999;height: .4rem;line-height: .42rem}
.info li .un sup{font-size: .20rem;}
.info li.gz-addr-seladdr p{display: inline-block;color: #45464f;}
.gz-addr-seladdr dd{padding-right: .25rem;}
.position_box{position: absolute;right: .04rem;left: 0;top: 0;bottom: 0;text-align: right;line-height: .9rem;font-size: .3rem;}
.info li input#huodongtime{margin-right: .4rem}
.info li input#startdate{margin-right: .4rem}
.info li input#enddate{margin-right: .4rem}
.info li i.arr{display: inline-block;width: .3rem;height: .3rem;background:url("../images/shop/arr.png") no-repeat;background-size: .3rem;position: absolute;right: .2rem;top: 50%;transform: translateY(-50%);}
.info li .time-tip{display: block;font-size: .22rem;color: #A0A0A0;margin-top: .26rem;}
.info li .time-tip.fn-hide{display: none;}
.info li.hdTime .timeWrap>div{float: right;overflow: hidden;position: relative;width: 5.6rem}
.info li.hdTime i.arr{right: 0}
.info li input#usedate{width: 100%;box-sizing: border-box;}
.info li input#usedate,.info li input#quanlimitname{padding-right: .4rem;}
.info li.xianling i.arr{right: .3rem}
.info li .mrtit{font-size: .28rem;color: #333;font-weight: bold;}
.info li.radiobox{padding-bottom: .4rem;}
.radiobox .radio{display: flex; justify-content: flex-start;margin-top: .3rem;}
.radiobox .radio span{margin-right: .6rem;}
.radiobox .radio span i{display: inline-block; width: .3rem; height: .3rem; border: solid 1px #dfe0e5; background-color: #fff; vertical-align: middle; border-radius: 50%; margin-right: .12rem;}
.radiobox .radio span em{font-size: .26rem; vertical-align: middle;color: #333}
.radiobox .radio span.curr i{border: solid 1px #3377FF; background-color: #EEF4FF; position: relative;}
.radiobox .radio span.curr i::before{content: ''; display: block; width: .18rem; height: .18rem; background-color: #3377FF; margin: auto; border-radius: 50%; position: absolute; top: 0; left: 0; right: 0; bottom: 0;}

.info2{border-radius: .2rem .2rem 0 0;}
.yhTip{font-size: .22rem;color: #999;padding: .14rem .3rem;}


.fabu_btn {position: fixed; left: 0; bottom:0; right: 0;padding: .3rem;}
.fabu_btn a {display: block; line-height: .8rem;height: .8rem; text-align: center; font-size: .32rem; color: #fff;font-weight: bold;background: linear-gradient(90deg, #407FFF 0%, #3377FF 100%);border-radius: .4rem;position: relative;z-index: 2}
.fabu_btn::after{content: '';display: block;width: 100%;height:1.6rem;background:linear-gradient(180deg, rgba(255, 255, 255, .2) 0%, rgba(245, 245, 247, 1) 80%);position: absolute;left: 0;right: 0;bottom: 0;}
.popErr{font-size: .3rem;text-align: center;padding: .2rem .3rem;color: #fff;background: rgba(0,0,0,0.67);position: fixed;top: 50%;left: 50%;transform: translate(-50%,-50%);border-radius: .08rem;white-space: nowrap;}

/*选择商品*/
.goodsTip{font-size: .22rem;color: #999;margin-top: .08rem;}
.info li.choseGoodW{padding-bottom: .55rem;}
.info li.choseGoodW.hasC{padding-bottom: .35rem;}
.choseGoodW .goodWrap{min-height: 1.3rem;}
.goodWrap li.goodLi{padding: .2rem;background: #F5F5F7;border-radius: .2rem;border: none;margin-top: .25rem;}
.goodWrap li.goodLi::after{content: '';display: block;
background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0.62) 38%, rgba(255, 255, 255, 0) 100%);height: 1.48rem;position: absolute;left: -.1rem;right: -.1rem;bottom: 0;}
.goodWrap li .goodImg{width: 1.2rem;height: 1.2rem;border-radius: .12rem;overflow: hidden;float: left;}
.goodWrap li .goodImg img{display: block;width: 100%;height: 100%;object-fit: cover;}
.goodWrap li.goodLi p{font-size: .25rem;color: #000;line-height: .36rem;font-weight: bold;margin-left: 1.4rem;min-height: 1.2rem;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;    padding-top: 0.06rem;box-sizing: border-box;}



.chooseSp {text-align: center;position: absolute;bottom: .55rem;left: 50%;transform: translateX(-50%);}
.chooseSp a{height: .7rem;min-width: 2.6rem;text-align: center;border: .02rem solid #3478FF;background: linear-gradient(90deg, #407FFF 0%, #3377FF 100%);border-radius: .35rem;line-height: .7rem;box-sizing: border-box;font-size: .24rem;color: #fff;display: inline-block;box-sizing: border-box;padding: 0 .44rem;}
.info li.choseGoodW.hasC .chooseSp{bottom: .38rem;}
/*活动商品*/
.pro_mask{position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,.7);z-index: 100001;display: none;}
.pro_box{background: #fff;border-radius: .3rem .3rem 0 0;overflow: hidden;z-index: 100002;position: fixed;left: 0;right: 0;bottom: 0;transform: translateY(100%);transition: all .3s;}
.pro_box.proshow{transform: translateY(0)}
.pro_box .pro_tit{background: #F7F8FA;height: 1rem;line-height: 1rem;text-align: center;position: relative;}
.pro_box .pro_tit h3{display: inline-block;font-size: .28rem;color: #999;}
.pro_box .pro_tit a{position: absolute;font-size: .28rem;font-weight: bold;}
.pro_box .pro_tit a.pro_cancel{color: #999;left: .56rem;}
.pro_box .pro_tit a.pro_sure{color: #3378FF;right: .56rem;}

.pro_box .search_box{margin: .23rem .2rem; background: #F7F7F7; border-radius: .28rem; position: relative;height: .56rem;}
.pro_box .search_box s{ display: block; width: .26rem; height: .26rem; background: url(../images/shop/search2.png) no-repeat center; background-size: cover;position: absolute; left: 2.85rem; top: 50%;margin-top: -.13rem;transition: all .3s}
.pro_box .search_box div{position: absolute;left: 3.2rem;top: 0;right: 0;transition: all .3s}
.pro_box .search_box input{background: none; border: none; box-sizing: border-box; font-size: .26rem; padding: .13rem 0; box-shadow: none;color: #000;width: 100%;}
.pro_box .search_box input::placeholder{color: #999;}
.pro_box .search_box input::-webkit-search-cancel-button {-webkit-appearance: none;position: relative;height: 20px;width: 20px;border-radius: 50%;background: url(../images/shop/clear_input.png) no-repeat center/cover;background-size: 100% 100%;
}
.pro_box .search_box.seshow s{left: .3rem;}
.pro_box .search_box.seshow div{left: .6rem;}


.pro_box .proScrollBox{overflow: auto;height: 8rem;}
.pro_box ul .pro_li {padding-left: .22rem;position: relative;}
.pro_box ul .pro_li a{display: block;border-bottom: 1px solid #f5f5f7;padding: .3rem .26rem .3rem 0;}
.pro_box ul .pro_li:last-child a{border-bottom: none;}
.pro_box ul .pro_li .left_proimg{width: 1.2rem; height: 1.2rem; float: left; position: relative;}
.pro_box ul .pro_li .left_proimg img{width: 100%; height: 100%; object-fit: cover; border-radius: .12rem;}
.pro_box ul .pro_li .right_info{margin-left: 1.35rem; height: 1.2rem;width: 4.8rem;}
.pro_box ul .pro_li .right_info h2{font-size: .28rem; color: #000;margin: 0;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.pro_box ul .pro_li .right_info h5{font-size: .22rem;color: #777;margin-top: .02rem;}
.pro_box ul .pro_li .right_info h5 i{display: inline-block;width: .24rem;height: .24rem;background:url("../images/shop/yure.png") no-repeat;background-size:cover;vertical-align: middle;margin-top: -.04rem;margin-right: .03rem;}
.pro_box ul .pro_li .right_info h5 span{font-size: .22rem;color: #FF6916;margin-right: .16rem;}
.pro_box ul .pro_li .right_info .msTime{font-size:0;color: #777;margin-top: .02rem;}
.pro_box ul .pro_li .right_info .msTime span,.pro_box ul .pro_li .right_info .msTime em{font-size: .22rem;}
.pro_box ul .pro_li .right_info .msTime p{display: inline-block;font-size: .22rem;color: #FF6916;margin-right: .16rem;}
.pro_box ul .pro_li .right_info .msTime i{display: inline-block;width: .24rem;height: .24rem;background:url("../images/shop/yure.png") no-repeat;background-size:cover;vertical-align: middle;margin-top: -.04rem;margin-right: .03rem;}

.pro_box ul .pro_li .right_info p{ margin-top: .12rem}
.pro_box ul .pro_li .right_info p span{display: inline-block;padding: 0 .06rem;line-height: .3rem;font-size: .2rem;color: #fff;border-radius: .06rem;margin-right: .08rem;vertical-align: middle;margin-top: -.04rem;}
.pro_box ul .pro_li .right_info p span.qgou{background: #EC3628}
.pro_box ul .pro_li .right_info p span.msha{background: #EC3628}
.pro_box ul .pro_li .right_info p span.kanjia{background: linear-gradient(90deg, #F643FF 0%, #6730F1 100%);}
.pro_box ul .pro_li .right_info p span.tuan{background: linear-gradient(90deg, #F643FF 0%, #6730F1 100%);}
.pro_box ul .pro_li .right_info p em{font-size: .2rem;font-family: moneyNumber;color: #EC3628;}
.pro_box ul .pro_li .right_info p strong{font-family: moneyNumber; font-size: .28rem;color: #EC3628;}
.pro_box ul .pro_li .hasChoseIcon{width: .32rem;height: .32rem;border: .02rem solid #BBBCC4;border-radius: 50%;margin-top: -.16rem;position: absolute;right: .27rem;top: 50%;box-sizing: border-box;}
.pro_box ul .pro_li.chosed s.hasChoseIcon{background: #3478FF;border: none;}
.pro_box ul .pro_li.chosed s.hasChoseIcon::after{content: '';display: inline-block;width: .2rem;height: .2rem;background: url(../images/shop/gou.png) center center no-repeat;background-size: cover;position: absolute;top: 50%;left: 50%;margin-top: -.1rem;margin-left: -.1rem;}
::-webkit-scrollbar{width:4px;height:4px;}
::-webkit-scrollbar-track-piece{background:none;border-radius:2px;}
::-webkit-scrollbar-thumb{border-radius:2px;background-color:#ABABAB;}
::-webkit-scrollbar-thumb:hover{background-color:#666;}

.loading{text-align: center;}
.loading .emptyImg{width: 4rem;height: 3rem;background:url("../images/shop/emptyImg.png") no-repeat;background-size:cover;margin: 1.25rem auto .5rem;}
.loading h2{font-size: .36rem;color: #000;font-weight: bold;}
.loading p{font-size: .24rem;color: #999;margin-top: .28rem;font-weight: normal;}
/*错误信息*/
.error{color: #fff; background: rgba(0,0,0,.7); border-radius: .1rem;  position: fixed; z-index: 100002; top: 50%; padding: .2rem; text-align: center; left: 50%;  display: none; font-size: .25rem;transform:translateX(-50%);margin-top: -.36rem}

#peisList_dummy{opacity: 0;position: absolute;left: 0;right: 0;top: 0;bottom: 0;width: 100%;}

.chooseGoods .goodItem{float: left;}
.goodImg{width: 1rem;height: 1rem;border-radius:.1rem;float: left;overflow: hidden;box-sizing: border-box;}
.goodImg img{width: 100%;height: 100%;object-fit: cover;}
.goodInfo{margin-left: 1.25rem;height: 1rem;position: relative;width: 5rem;}
.goodInfo h4 {display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;font-size: .28rem;color: #000;font-weight: bold;line-height: .36rem;width: 4.25rem;position: absolute;top: 50%;transform: translateY(-50%);left: 0}


/*批量弹窗*/
.commask{position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,.8);z-index: 10000;display: none;}


/*时间弹窗*/
.md-range-event .md-header {position:relative;background:#4ECCC4;padding:1em;text-align:center;margin-bottom:1em;}
.mbsc-material.md-range-event .md-header,.md-range-event .mbsc-material .md-header {background:#009688;}
.mbsc-android-holo.md-range-event .md-header,.md-range-event .mbsc-android-holo .md-header {background:#31c6e7;}
.mbsc-ios-classic.md-range-event .md-header,.mbsc-ios.md-range-event .md-header,.md-range-event .mbsc-ios .md-header {background:#1272dc;margin:0;z-index:1;}
.mbsc-ios-dark.md-range-event .md-header,.md-range-event .mbsc-ios-dark .md-header {background:#ff8b0f;margin:0;color:#a1a1a1;}
.mbsc-wp.md-range-event .md-header,.md-range-event .mbsc-wp .md-header {background:#1a9fe0;}
.md-range-event .md-header .mbsc-header-txt {display:inline-block;color:#fff;font-size:18px;}
.md-range-event .md-header .mbsc-btn-flat {margin:0;padding:0 .5em 0 .5em;height:30px;color:#fff;text-transform:capitalize;}
.md-range-event .md-header .md-cancel-btn,.md-range-event .md-header .md-add-btn {position:absolute;top:50%;margin-top:-15px;}
.md-range-event .md-header .mbsc-btn-flat.mbsc-active {background:rgba(255,255,255,0.2);}
.md-range-event .md-header .md-add-btn {right:.75em;}
.md-range-event .md-header .md-cancel-btn {left:.75em;}



.mbsc-fr-btn-cont{height: 1rem; background: #F7F8FA !important; border-radius: .2rem .2rem 0 0 ; overflow: hidden; border: none !important; }
.mbsc-ios .mbsc-fr-btn{line-height: 1rem;}
.mbsc-fr-popup.mbsc-ltr{background-color: #fff;border-radius: .2rem .2rem 0 0 ; overflow: hidden;}
.mbsc-calendar{position: relative; z-index: 999999; background-color: #fff;  overflow: hidden;}
.mbsc-fr-overlay{background: rgba(0,0,0,.5) !important;}
.mbsc-fr-popup{z-index: 99;}
.mbsc-ios .mbsc-range-btn-t {display: flex; height: 1rem; border-bottom: solid 1px #E6E7ED;}
.mbsc-ios .mbsc-range-btn-end,.mbsc-ios  .mbsc-range-btn-start{width: 50%; border: none; }
.mbsc-ios .mbsc-sc-itm .mbsc-sc-whl-c{font-size: .32rem !important;}
.mbsc-ios .mbsc-range-btn-v{background-color: #fff; left: 0; right: 0; top: 0; bottom: 0;text-align: center; line-height: 1rem;}
.mbsc-ios.mbsc-calendar .mbsc-fr-persp .mbsc-fr-w{background: #fff;  }
.mbsc-ios .mbsc-sc-whl-o, .mbsc-ios.mbsc-calendar .mbsc-sc-whl-o,.mbsc-ios.mbsc-fr-top .mbsc-sc-whl-o, .mbsc-ios.mbsc-fr-bottom .mbsc-sc-whl-o{background: none;}
.mbsc-ios .mbsc-fr-btn-w.mbsc-fr-btn-s .mbsc-fr-btn{color: #3378FF; padding:0 .55rem;font-size: .28rem}
.mbsc-ios .mbsc-fr-btn-w.mbsc-fr-btn-c .mbsc-fr-btn{color: #999;  padding:0 .55rem;font-size: .28rem;font-weight: bold;}
.mbsc-ios .mbsc-fr-w {padding-top: 1rem;background: #fff}
.mbsc-ios .mbsc-range-btn-sel .mbsc-range-btn .mbsc-range-btn-v{font-weight: bold; color: #FFAE00; font-size: .36rem; }
.mbsc-ios .mbsc-range-btn{height: 100%; box-sizing: border-box;}
.mbsc-ios .mbsc-range-btn-v{font-weight: bold; font-size: .36rem;}
.mbsc-ios .mbsc-range-btn-sel .mbsc-range-btn .mbsc-range-btn-v:after{content: ''; display: block; width: .2rem; height: .2rem; background: url(../images/arr_d2.png) no-repeat center; background-size: cover; position: absolute; bottom: 0; left: 0; right: 0; margin: auto;}
.mbsc-ios .mbsc-range-btn-t::before{content: '至'; font-size: .26rem; color: #666 ; line-height: 1rem; left: 50%;  transform: translate(-50%, 0); position: absolute; z-index: 9;}
.mbsc-ios .mbsc-dt-whl-d .mbsc-sc-itm, .mbsc-ios .mbsc-dt-whl-h .mbsc-sc-itm, .mbsc-ios .mbsc-dt-whl-date .mbsc-sc-itm{text-align: center;}

.mbsc-ios .mbsc-sc-itm{font-size: .3rem; font-weight: normal !important; }
.mbsc-fr-aria.mbsc-fr-hdn{position: absolute;z-index: 1;left: 0;right: 0;top: 0; pointer-events: none;line-height: 1rem; color: #999; font-size: .28rem; height: 1rem !important; width: 100% !important;}
.mbsc-ios .mbsc-sc-whl-w .mbsc-sc-whl-l{display: block !important; border-color: #f5f5f7!important;}

.mbsc-fr-c{padding: 0 4%}

.mbsc-ios .mbsc-sc-whl-gr-c{display: inline-block !important;width: 35%;padding: 0;box-sizing: border-box;}


.mbsc-ios .mbsc-sc-whl-gr-c:first-child{width: 65%;padding-right: 2%;}
.mbsc-ios .mbsc-sc-whl-gr-c .mbsc-sc-whl-w.mbsc-dt-whl-y{min-width: 42% !important}
.mbsc-ios .mbsc-sc-whl-gr-c .mbsc-sc-whl-w.mbsc-dt-whl-m{min-width: 27.8% !important;}
.mbsc-ios .mbsc-sc-whl-gr-c .mbsc-sc-whl-w.mbsc-dt-whl-d{min-width: 34% !important;padding-right: 6.2%;box-sizing: border-box;}
.mbsc-ios .mbsc-sc-whl-gr-c .mbsc-sc-whl-w.mbsc-dt-whl-m .mbsc-sc-itm{text-align: center !important;}
.mbsc-ios .mbsc-sc-whl-gr-c .mbsc-sc-whl-w.mbsc-dt-whl-d .mbsc-sc-itm{text-align: left !important;}
.mbsc-ios .mbsc-sc-whl-gr-c .mbsc-sc-whl-w.mbsc-dt-whl-i .mbsc-sc-itm{text-align: left !important;}
.mbsc-ios .mbsc-sc-whl-gr{padding: .833333em 0;}


.mbsc-ios .mbsc-sc-whl-gr-c .mbsc-sc-whl-w.mbsc-dt-whl-h{min-width: 50% !important;}
.mbsc-ios .mbsc-sc-whl-gr-c .mbsc-sc-whl-w.mbsc-dt-whl-i{min-width: 50% !important;}
.mbsc-ios .mbsc-fr-hdr{font-size: .28rem;color: #999;font-weight: normal;line-height: 2.1em;}

.loadIcon{display: block; width: 1.1rem; height: 1.1rem; border-radius: .3rem;  background: rgba(0,0,0,.9) ; background-size: .5rem; position: fixed; left: 0; right: 0; margin: auto; top: 50%;display: none;}
.loadIcon::before{content: ''; background: url(../images/shop/loading.png) no-repeat center; background-size: .5rem; position: absolute; left: 0; right: 0; margin: auto; top: 0; bottom: 0; animation:rotate_ 1s infinite linear;}


@keyframes rotate_{
	0%{ transform: rotate(0deg);}
	50%{ transform: rotate(180deg);}
	100%{ transform: rotate(360deg);}
}