html,body{background: #F5F5F7}

.info-block{border-radius: .2rem;overflow: hidden;background: #fff; margin: .2rem .24rem;}
.info-block .shInfo{padding: .32rem .3rem .4rem;}
.info-block .shInfo .shIcon{float: left;width: .5rem;height: .5rem;background: url(../images/shop/pos.png) center center no-repeat; background-size: cover;}
.info-block .shTxt{margin-left: .62rem;}
.info-block .shName{font-size: .3rem;color: #333;padding-top: .04rem;}
.info-block .shName span{margin-left: .2rem;}
.info-block .shAddr{font-size: .26rem;color: #333;margin-top: .2rem;}

.info-block .stit{border-top: 1px solid #f5f5f7;color: #333;padding: .2rem .3rem;overflow: hidden;line-height: .5rem}
.info-block .psTit{font-size: .3rem;}
.info-block .qsTit{font-size: .24rem;}
.info-block .psTit strong{font-size: .3rem;color: #333;margin-right: .2rem}
.info-block .qsTit strong{font-size: .26rem;color: #F21E01;margin-right: .2rem}
.info-block .psIcon{float: left;width: .5rem;height: .5rem;background: url(../images/shop/psicon.png) center center no-repeat; background-size: cover;margin-right: .1rem}
.info-block .stit strong,.info-block .stit em{display: inline-block;}


.list{border-radius: .2rem;overflow: hidden;background: #fff; margin: .2rem .24rem;}
.list ul{padding: .3rem .35rem ;}
.list ul li{ padding-left: .3rem; border-left: solid .02rem #F5F5F7; position: relative;    padding-bottom: .44rem;}

.list ul li:before{content: ''; display: block; width: .1rem; height: .1rem; border-radius: 50%; background: #CBCBCB; position: absolute; left: -.05rem; top: .1rem;}
.list ul li:first-child::before{background: #E30000;border: .04rem solid #F9CCCC;width: .15rem;height: .15rem;left: -.11rem;top:0;}
.list ul li:last-child{border: none; left: 0.02rem;}
.list ul li .left_state{float: left; font-size: .3rem; color: #9A9A9A;line-height: 1.1em;font-weight: bold;}
.list ul li .right_time{ color: #9A9A9A;  font-size: .24rem;margin-left: .15rem}
.list ul li .li_info{overflow: hidden;    display: flex;align-items: center;}
.list ul li .tip{font-size: .24rem; color: #999; margin-top: .1rem;}
.list ul li .call{font-size: .24rem;color: #E30000}
.list ul li:first-child .left_state{color: #E30000}
.list ul li:first-child .right_time{color: #E30000}
.list ul li:first-child .tip{color: #333}