body,html{background: #F5F5F7;}
/*运费列表*/
.logList{padding-bottom: 1.6rem}
.logItem{background: #fff;padding-left: .32rem;margin-top: .2rem}
.logItem .logTop{height: .92rem;display: flex;align-items: center;justify-content: space-between;padding-right: .3rem;border-bottom: 1px solid #f5f5f7;}
.logItem .logTop strong{font-size: .32rem;max-width: 2.5rem;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.logItem .logTop span{font-size: .24rem;padding:0 .14rem ;line-height: .44rem;color: #666;display: inline-block;background: #F5F5F7;border-radius: .1rem;}
.logItem .logNote{margin: .23rem .45rem .1rem 0 ;font-size: .26rem;color: #999;position: relative;max-height:.68rem ;overflow: hidden;}
.logItem .logNote.hasT{margin-bottom: .38rem;}
.logItem .logNote.over::after{content: '';display: block;width: 100%;height: .46rem;position: absolute;left: 0;/*top:.19rem;*/ bottom:0; background: linear-gradient(180deg, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);}

.logItem .logOpr{text-align: right;padding-right: .15rem;font-size: 0;padding-bottom: .26rem}
.logItem .logOpr a{display: inline-block;margin-left: .1rem;height: .6rem;line-height: .6rem;padding: 0 .27rem;border: 1px solid #f5f5f7;border-radius: .3rem;box-sizing: border-box;font-size: .26rem;color: #666;}
.logItem .logOpr a i{display: inline-block;width: .34rem;height: .34rem;background: url(../images/shop/log_del.png) center center no-repeat;background-size: cover;vertical-align: middle;margin-top: -.04rem;margin-right: .1rem}
.logItem .logOpr a.logEdit i{background: url(../images/shop/log_edit.png) center center no-repeat;background-size: cover;}

.loading{text-align: center;line-height: 1rem;font-size: .26rem}
.addLog{position: fixed;left: 0;right: 0;bottom: 0; padding:.2rem .3rem; padding-bottom:calc(.2rem + constant(safe-area-inset-bottom));padding-bottom: calc(.2rem + env(safe-area-inset-bottom)); background: #fff}
.addLog a{display: block;width: 100%;text-align: center;line-height: .8rem;border-radius: .4rem;background: linear-gradient(90deg, #407FFF 0%, #3377FF 100%);font-size: .32rem;color: #fff;font-weight: bold;}
/*头部tab*/
.confirmTab{background: #F0EEEF;margin: .3rem 0 0;border-radius: .1rem .1rem 0 0;}

.confirmTab ul{display: flex;}
.confirmTab li{position: relative;}
.confirmTab li a{display: block;width: 3.62rem;text-align: center;line-height: 1rem;font-size: .3rem;color: rgba(32, 32, 33, .3);position: relative;z-index: 2;font-weight: bold;}
.confirmTab li.active a{width: 3.88rem;color: #202021;}
.confirmTab li.active::after{content: "";width: 100%;height: 1rem;display: block;position: absolute;left: 0;bottom: 0;background: url(../images/shop/tabbg1.png) center center no-repeat;background-size: cover;border-radius: .1rem 0 0 0;}
.confirmTab li:last-child.active::after{transform: rotateY(180deg);}
.container .comCon{display: none;}
.container .comCon.comShow{display: block;animation: rightFadeIn .3s;}
/*表单*/
.comBox{background: #fff;border-radius: .2rem;margin-bottom: .2rem;}
.comBox:first-child{border-radius: 0 0 .2rem .2rem}
.inpbox{font-size: .28rem; border-bottom: 1px solid #f5f5f7;   margin-left: .3rem;}
.inpbox dt{width: 1.6rem; color: #333; float: left;font-size: .32rem;font-weight: bold;line-height: 1rem;}
.inpbox dd{position: relative; padding-right: .27rem; font-size: .26rem; overflow: hidden;}
.inpbox dd.selgroup{text-align: right;}
.inpbox dd.selgroup p{text-align: right; background: url(../images/gz_select.png) center right no-repeat; background-size: .22rem; padding-right: .32rem; margin-top: .16rem;white-space: nowrap;text-overflow:ellipsis;overflow: hidden; color: #333;}
.inpbox dd input{width: 100%; border: 0; outline: 0; padding: .35rem 0 .35rem 0; text-align: right; display: block;font-size: .26rem;}
.inpbox dd input::placeholder{color:#A0A0A0 }

.radiobox{padding: .2rem .24rem; color: #333;}
.radiobox dt{font-size: .32rem; margin-bottom: .16rem;font-weight: bold;}
.radiobox .radio{display: flex; justify-content: space-between;}
.radiobox .radio span i{display: inline-block; width: .3rem; height: .3rem; border: solid 1px #dfe0e5; background-color: #fff; vertical-align: middle; border-radius: 50%; margin-right: .12rem;}
.radiobox .radio span em{font-size: .28rem; vertical-align: middle;}
.radiobox .radio span.curr i{border: solid 1px #3377FF; background-color: #EEF4FF; position: relative;}
.radiobox .radio span.curr i::before{content: ''; display: block; width: .18rem; height: .18rem; background-color: #3377FF; margin: auto; border-radius: 50%; position: absolute; top: 0; left: 0; right: 0; bottom: 0;}

.radiobox.valuation,.radiobox.calcPr{border-bottom: 1px solid #f5f5f7;padding: .34rem .3rem .28rem}
.radiobox.valuation dt,.radiobox.calcPr dt,.radiobox.kunJishu dt{margin-bottom: .34rem}
.radiobox.valuation .radio,.radiobox.calcPr .radio{justify-content: flex-start;}
.radiobox.valuation .radio span:first-child,.radiobox.calcPr .radio span:first-child{margin-right: 1.4rem}
.radiobox.calcPr .radio span,.radiobox.calcPr .radio span:first-child{margin-right: .62rem}

.delivery_fee {padding: .34rem .3rem .32rem}
.delivery_fee dt{font-size: .32rem; margin-bottom: .35rem;font-weight: bold;color: #333}
.delivery_fee dd .feeBox{border: 1px solid #f5f5f7;padding: 0 .2rem 0 .3rem;border-radius: .1rem;position: relative;}
.delivery_fee dd .comdl{border-bottom: 1px solid #EBEBED;font-size: 0; display: flex; align-items: center; justify-content: space-between; width: 100%}
.delivery_fee dd .comdl span{display: inline-block;line-height: .9rem;width: 1.3rem;font-size: .26rem;color: #7C7C80}
.delivery_fee dd .comdl .unit{display: inline-block;line-height: .9rem;font-size: .26rem;color: #333;}
.delivery_fee dd .comdl input{width: 4.77rem; border: 0; outline: 0; padding: .3rem .2rem .3rem 0; text-align: right; display: inline-block;font-size: .26rem;box-sizing: border-box;}
.delivery_fee dd .comdl input::placeholder{color:#BBBCC4 }
.delivery_fee dd .manj span{display: inline-block;line-height: .9rem;width: .44rem;font-size: .26rem;color: #7C7C80}
.delivery_fee dd .manj input{width: 3.4rem; border: 0; outline: 0; padding: .3rem 0 .3rem 0; text-align: left; display: inline-block;font-size: .26rem;box-sizing: border-box;}
.delivery_fee dd .manj input::placeholder{color:#BBBCC4 }
.delivery_fee dd .manj .sunit{display: inline-block;line-height: .9rem;font-size: .26rem;color: #333;}
.switch{background-color: #E6E6E6;width:1rem;height: .56rem;border-radius: .28rem;position: relative;float: right;margin-top: .16rem}
.switch.active{background: #3377FF;}

.switch::before{content: ''; display: block; width: .5rem; height: .5rem; border-radius: 50%; background-color: #fff;box-shadow: 0px .05rem .07rem 0px rgba(56, 56, 59, 0.23); position: absolute; top: 0; bottom: 0; margin: auto; left: .03rem; transition: all .3s;}
.switch.active::before{left: .47rem;}

/*配送距离*/
.delivery_fee.delivery_random{padding-bottom: .44rem;}
.delivery_fee.delivery_random dd .feeBox{padding-left: .7rem;margin-bottom: .3rem;}
.delivery_fee.delivery_random dd .comdl input{width: 4.4rem;padding-right: .35rem}
.delivery_fee.delivery_random dd .comdl:last-child{border-bottom: none;}
.delivery_random dd .psjuli{font-size: 0;border-bottom: 1px solid #EBEBED;}
.delivery_random dd .psjuli span{display: inline-block;line-height: .9rem;width: 1.3rem;font-size: .26rem;color: #7C7C80}
.delivery_random dd .psjuli input{width: 1.3rem; border: 0; outline: 0; padding: .3rem 0 .3rem 0; text-align: right; display: inline-block;font-size: .26rem;box-sizing: border-box;margin-right: .1rem}
.delivery_random dd .psjuli input.juliEd{width: 1.6rem;}
.delivery_random dd .psjuli input::placeholder{color:#BBBCC4 }
.delivery_random dd .psjuli em{display: inline-block;line-height: .9rem;font-size: .26rem;color: #333;}
.delivery_random dd .psjuli .zhi{display: inline-block;width: .16rem;height: .03rem;background: #202021;margin: 0 .18rem;vertical-align: middle;margin-top: -.2rem}
.delivery_random .feeBox .feeDel,.delivery_area .feeBox .feeDel{content: '';display: block;position: absolute;top: .32rem;left: .18rem;width: .24rem;height: .24rem; background: url(../images/shop/yf_del.png) center right no-repeat; background-size: cover;}

.ranfeeAdd,.comfeeAdd{text-align: center;margin-top: .3rem}
.ranfeeAdd a,.comfeeAdd a{display: inline-block;padding: 0 .22rem;line-height: .66rem;border: .01rem solid #3282ED;font-size: .28rem;color: #3282ED;border-radius: .1rem;}
.ranfeeAdd a i,.comfeeAdd a i{display: inline-block;width: .3rem;height: .3rem; background: url(../images/shop/ranfee_add.png) center center no-repeat; background-size: cover;vertical-align: middle;margin-top: -.06rem;margin-right: .1rem;}

.yfNote{padding: .32rem .3rem .3rem;}
.yfNote dt{font-size: .32rem;color: #333;font-weight: bold;margin-bottom: .34rem;}
.yfNote .textarea{font-size: .24rem;color: #333;line-height: .4rem;padding: .26rem .24rem .3rem;min-height: 1.1rem;border: 1px solid #f5f5f7;border-radius: .08rem}
.yfNote .textarea:empty:before{content: attr(placeholder);color: #BBBCC4;}
.yfNote .textarea:focus{ content:none;}

/*快递邮寄方式*/

.delivery_fee.delivery_area{padding-bottom: .44rem;}
.delivery_fee.delivery_area dd .feeBox{padding-left: .7rem;margin-bottom: .3rem;}
.delivery_fee.delivery_area dd .comdl input{width: 4.4rem;padding-right: .35rem}
.delivery_fee.delivery_area dd .comdl:last-child{border-bottom: none;}
.delivery_area dd .psArea{font-size: 0;border-bottom: 1px solid #EBEBED;  display: flex; align-items: center; justify-content: space-between; width: 100%}
.delivery_area dd .psArea span{display: inline-block;line-height: .9rem;font-size: .26rem;color: #7C7C80}
.delivery_area dd .psArea .choseArea{float: right;}
.delivery_area dd .psArea .choseArea input{padding: .3rem .06rem .3rem 0; text-align: right; display: inline-block;font-size: .26rem;box-sizing: border-box;border: 0; outline: 0;color: #333}
.delivery_area dd .psArea .choseArea .arr{display: inline-block;width: .24rem;height: .24rem; background: url(../images/shop/area_arr.png) center center no-repeat; background-size: cover;vertical-align: middle;margin-top: -.16rem;}
.delivery_area dd .areaNum{float: right;font-size: 0;margin-top: .15rem}
.delivery_area dd .comdl .areaNum>div{display: inline-block;min-width: .66rem;position: relative;height: .56rem}
.delivery_area dd .comdl .areaNum>div input{width: 100%;text-align: center;padding-right: 0;position: absolute;left: 0;top: 0;padding: .13rem .1rem}
.delivery_area dd .areaNum .rec,.delivery_area dd .areaNum .plus{display: inline-block;width: .56rem;height: .56rem;vertical-align: top;background-image: url(../images/shop/area_rec.png) ;background-repeat: no-repeat;background-position: center;background-size: 0.2rem;background-color: #F5F5F7;border-radius: .08rem;}
.delivery_area dd .areaNum .plus{background-image: url(../images/shop/area_plus.png);}
.delivery_area dd .areaNum .rec.disabled,.delivery_area dd .areaNum .plus.disabled{opacity:.3;}

.delivery_area dd .psjuli input{width: 1.3rem; border: 0; outline: 0; padding: .3rem 0 .3rem 0; text-align: right; display: inline-block;font-size: .26rem;box-sizing: border-box;margin-right: .1rem}
.delivery_area dd .psjuli input.juliEd{width: 1.6rem;}
.delivery_area dd .psjuli input::placeholder{color:#BBBCC4 }
.delivery_area dd .psjuli em{display: inline-block;line-height: .9rem;font-size: .26rem;color: #333;}
.delivery_area dd .psjuli .zhi{display: inline-block;width: .16rem;height: .03rem;background: #202021;margin: 0 .18rem;vertical-align: middle;margin-top: -.2rem}
.delivery_fee.delivery_area dd .comdl span{width: auto;}
/*指定包邮*/
.delivery_fee.delivery_area.baoyou{padding-top: .22rem;padding-bottom: .22rem;border-bottom: 1px solid #f5f5f7}
.delivery_fee.delivery_area.baoyou dt{margin-bottom: 0}
.delivery_fee.delivery_area.baoyou.active{padding-bottom: .4rem}
.delivery_fee.delivery_area.baoyou.active dt{margin-bottom: .35rem}
.delivery_fee.baoyou dd .comdl span{width: 2.6rem}
.delivery_area.baoyou dd .comdl .areaNum.dip>div{width: 1.6rem;}
.delivery_area.baoyou dd .comdl .areaNum.dip>div input{text-align: right;}
.baoyou dt span{display: inline-block;margin-top: .13rem}
.baoyou dt .switch{margin-top: 0}
/*指定区域不配送*/
.delivery_fee.delivery_area.nopeis{padding-top: .22rem;padding-bottom: .22rem}
.delivery_fee.delivery_area.nopeis dt{margin-bottom: 0}
.delivery_fee.delivery_area.nopeis.active{padding-bottom: .01rem}
.delivery_fee.delivery_area.nopeis.active dt{margin-bottom: .35rem}
.nopeis dt span{display: inline-block;margin-top: .13rem}
.nopeis dt .switch{margin-top: 0}

.delivery_area.nopeis dd .psArea{border-bottom: none;}
.delivery_fee.delivery_area.nopeis dd .feeBox{padding-left: .2rem}

.addBtn{margin: .4rem .3rem}
.addBtn a{display: block;width: 100%;text-align: center;line-height: .8rem;border-radius: .4rem;background: linear-gradient(90deg, #407FFF 0%, #3377FF 100%);font-size: .32rem;color: #fff;font-weight: bold;}

/* 选择地区弹窗 */
.areaMask{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,.6); z-index: 50; display: none;}
.areaAlert{ position: fixed; bottom: 0; left: 0; right: 0; border-radius: .4rem .4rem 0 0; background-color: #fff; z-index: 51; overflow: hidden; transition: all .3s;transform:translateY(100%);}
.areaAlert.alertshow{transform:translateY(0); }
.areaAlert .area_head{line-height: 1rem; display: flex; align-items: center; justify-content: space-between; padding:0 .54rem; font-size: .3rem; font-weight: bold; color: #999;background: #F7F8FA}
.areaAlert .area_head a{color: #999}
.areaAlert .area_head .htitle{font-size: .28rem; font-weight: normal; color: #949599;}
.areaAlert .area_head .sure_btn{color: #3378FF;}
.areaAlert .areaWrap{max-height: 6rem;overflow: auto;padding: .16rem .5rem .3rem;min-height: 2rem}
.areaWrap .areaItem{border-bottom: 1px solid #f5f5f7;height: .88rem;overflow: hidden;transition: height .3s;}
.areaWrap .areaItem.hasClick{border-bottom: none;}
.areaWrap .areaItem .comItem{height: .88rem;display: flex;align-items: center;justify-content: flex-start;}
.areaWrap .comItem span{font-size: .28rem;color: #333;padding-left: .22rem;}
.comItem {position: relative;}
.comItem label{width: .36rem;height: .36rem;border: .02rem solid #ddd;border-radius: .08rem;float: left;    margin-top: .02rem;box-sizing: border-box;background: #fff;}
.comItem.curr label{background: #3478FF;position: relative;border: none;}
.comItem.curr label::after{content: '';display: inline-block;width: .2rem;height: .2rem;background: url(../images/shop/gou.png) center center no-repeat;background-size: cover;position: absolute;top: 50%;left: 50%;margin-top: -.1rem;margin-left: -.1rem;}
.areaWrap .comItem .arr{display: inline-block;width: .88rem;height: .88rem; position: absolute;right: .1rem;top: 50%;margin-top: -.44rem}
.areaWrap .comItem .arr::before{content: '';display: block;width: .24rem;height: .24rem;position: absolute;right: 0;top: 50%;margin-top: -.12rem;background: url(../images/shop/area_arr.png) right center no-repeat; background-size: .24rem;}
.areaWrap .areaItem.hasClick .comItem .arr::before{transform:rotate(90deg); }
.areaWrap .areaBot{background: #F5F5F7;padding: .1rem .64rem;border-radius: .16rem;}
.areaWrap .areaItem .areaBot .comItem{height: .74rem;}

.pubdelAlertCon>div{padding-top: .44rem;padding-bottom: .4rem}
.pubdelAlert p{font-size: .26rem;color: #999;font-weight: normal;margin-top: .22rem}
.pubdelAlert ul{flex-direction: row-reverse;}
.pubdelAlert ul li:last-child{border-right: 1px solid #f5f5f7;}
.pubdelAlert ul li:first-child{border-right: none;}
.loadIcon{display: block; width: 1.1rem; height: 1.1rem; border-radius: .3rem;  background: rgba(0,0,0,.9) ; background-size: .5rem; position: fixed; left: 0; right: 0; margin: auto; top: 50%;}
.loadIcon::before{content: ''; background: url(../images/shop/loading.png) no-repeat center; background-size: .5rem; position: absolute; left: 0; right: 0; margin: auto; top: 0; bottom: 0; animation:rotate_ 1s infinite linear;}

.nopsmod {
    margin-top: .3rem;
    font-size: .22rem;
    color: #999
}

@keyframes rotate_{
	0%{ transform: rotate(0deg);}
	50%{ transform: rotate(180deg);}
	100%{ transform: rotate(360deg);}
}