body, html{background: #F5F5F5; font-size: .28rem;height: 100%}

.refuseCon{background: #fff;border-radius: .16rem;margin: .2rem .24rem 0;padding: .24rem .2rem}
.refundH{font-size: .3rem;color: #39393B;}
.refuseCon textarea{resize: none;margin-top: .26rem;font-size: .26rem;color: #333;border: none;min-height: 2rem;width: 100%;}
.refuseCon textarea::placeholder{color: #999}

/*提交*/
.cancel_submit{margin: .3rem .24rem;}
.cancel_submit a{height:.88rem;line-height:.88rem;color:#fff;font-size:.32rem;text-align:center;display: block;width: 100%;border-radius: .44rem;background: #FA6353;}
.cancelprice:disabled{background-color: #fff;}

/*信息提示框*/
.error{position: fixed;  background-color: rgba(0,0,0,.87); border-radius: .2rem; color: #fff; font-size: .26rem;height: 1rem; line-height: 1rem; text-align: center; padding: 0 .5rem; z-index: 1000000; left: 50%; top: 50%; margin-top: -.5rem;transform: translate(-50%,-50%);white-space: nowrap;display: none;}
