
.header{position: fixed;top: 0;left: 0;right: 0}
.searchDiv{padding: .2rem;background: #fff;position: fixed;top: .9rem;left: 0;right: 0;z-index: 2;border: 1px solid #f5f5f7;}
.huoniao_iOS .searchDiv,.huoniao_Android .searchDiv{top:0;}
.searchDiv div{height: .56rem;border-radius: .28rem;background: #F7F7F7;box-sizing: border-box;padding-left: 2.85rem;transition: all .3s}
.searchDiv input{border: none;background: none;display: inline-block;vertical-align: top;margin-top: .15rem;margin-left: .1rem;}
.searchDiv s{display: inline-block;width: .26rem;height:.26rem;background:url("../images/shop/search.png") no-repeat;background-size:.26rem;    vertical-align: top;margin-top: .15rem;}

/*我砍价的商品*/
.container{background: #fff;overflow: hidden;padding-top: 1.9rem;}
.huoniao_iOS .container,.huoniao_Android .container{padding-top: .9rem;}
.container .bargainTip{height: .8rem;line-height: .8rem;background: #FFF0EF;text-align: center;font-size: .24rem;color: #EC3628;display: none;}
.container li{position: relative;overflow: hidden;background: #FFF;padding-left: .25rem}
.container li a{display: block;border-bottom: 1px solid #f5f5f7;padding: .3rem 0;position: relative;}
.container li.curr a::after{content: '';display: block;width: .36rem;height:.36rem;background:url("../images/shop/checked.png") no-repeat;background-size:.36rem;position: absolute;right: .25rem;top: 50%;margin-top: -.18rem;}
.goodImg{width: 1.2rem;height: 1.2rem;border-radius:.12rem;float: left;overflow: hidden;box-sizing: border-box;}
.goodImg a{display: block;width: 100%;height: 100%;}
.goodImg img{width: 100%;height: 100%;object-fit: cover;}
.goodInfo{margin-left: 1.35rem;height: 1.2rem;}
.goodInfo h4 {height: .7rem;overflow: hidden;font-size: .28rem;color: #000;font-weight: bold;line-height: .36rem;padding-top: .05rem;width: 4.8rem;}
.goodInfo p.nPrice{color: #EC3628;font-family: coregtd;font-size: .2rem;margin-top: .08rem;}
.goodInfo p.nPrice span{font-size: .28rem;}


.loading{text-align: center;line-height: .88rem;padding-top: .2rem;font-weight: bold;}
.loading .emptyImg{width: 5.8rem;height: 3.86rem;background:url("../images/shop/empty.png") no-repeat;background-size:5.8rem 3.86rem;margin: 1.46rem auto 1.1rem;}
.loading h2{font-size: .3rem;color: #000;line-height: 1}
.loading p{font-size: .24rem;color: #999;margin-top: .24rem;line-height: 1;font-weight: normal;}

@font-face {
  	font-family: "coregtd";
  	src: url("/static/fonts/coregtd6.woff2"),
       url("/static/fonts/coregtd6.woff"),
       url("/static/fonts/coregtd6.ttf"),
       url("/static/fonts/coregtd6.eot"),
       url("/static/fonts/coregtd6.otf");
}