body, html{background: #fff; }
.header{border-bottom: none}
.container{padding: .3rem .2rem;}
a.has{display: block;width: 100%;height: .88rem;line-height: .88rem;background: linear-gradient(178deg, #FFEAE4 0%, #FFD6CC 100%);border-radius: .44rem;font-size: .32rem;font-weight: bold;color: #E92721;text-align: center;margin-bottom: .25rem}

.content1 .con{background: #fff;box-shadow: 0px .07rem .14rem 0px rgba(53, 53, 53, 0.12);border-radius: .2rem;margin-bottom: .3rem;overflow: hidden;}
.content1 .con a{display: block;}
.content1 .conTop{padding: .27rem .3rem .13rem;}
.content1 .conTop .topImg{float: left;width: 1.3rem;height: 1.3rem;}
.content1 .conTop .topImg img{width: 100%;height: 100%;object-fit: cover;}
.content1 .conTop .topInfo{margin-left: 1.33rem;height: 1.3rem;}
.content1 .conTop .topInfo h3{font-size: .38rem;color: #fff;font-weight: bold;}
.content1 .conTop .topInfo p{font-size: .26rem;color: rgba(255,255,255,.6);line-height: .32rem;margin-top: .1rem}

.content1 .conBot{padding: .38rem .3rem .4rem;overflow: hidden;}
.content1 .conBot p{font-size: .24rem;color: #666;line-height: .36rem;max-width: 4.6rem;float: left;}
.content1 .conBot span{float: right;width: 1.56rem;height: .6rem;line-height: .6rem;text-align: center;font-size: .28rem;color: #fff;background: linear-gradient(90deg, #FF6941 0%, #E7221E 100%);box-shadow: 0px .05rem .16rem 0px rgba(255, 49, 0, 0.34);border-radius: .3rem;}

.content1 .tuan .conTop{background: url(../images/shop/bg1.png) no-repeat;background-size: 100% auto;}
.content1 .msha .conTop{background: url(../images/shop/bg2.png) no-repeat;background-size: 100% auto;}
.content1 .bargain .conTop{background: url(../images/shop/bg3.png) no-repeat;background-size: 100% auto;}
.content1 .qianggou .conTop{background: url(../images/shop/bg4.png) no-repeat;background-size: 100% auto;}

