html, body {/*height: 100%;*/ background: #F5F5F7}
body{padding-bottom: 1rem; padding-bottom: calc(1rem + constant(safe-area-inset-bottom));}
.moduleWrap{background: #fff;border-radius: 0px 0px .3rem .3rem;padding: .24rem .3rem .42rem;}
.moduleWrap .tit{font-size: .36rem;font-weight: bold;}
.moduleWrap .choseWrap{}
.moduleWrap .choseTab{margin: .3rem .06rem 0;}
.moduleWrap .choseTab li{width: 3.24rem;height: .68rem;box-sizing: border-box;line-height: .68rem;border: 1px solid #E0E1E8;border-radius: .1rem;position: relative;}
.moduleWrap .choseTab li::after{content: '';display: block;width: .48rem;height: .48rem;position: absolute;right: 0;bottom: -1px;}
.moduleWrap .choseTab li a{display: block;font-size: .28rem;color: #BBBCC4;font-weight: bold;text-align: center;}
.moduleWrap .choseTab li.active{border: 1px solid #FC6C0C;}
.moduleWrap .choseTab li.active::after{background: url(../images/shop/chose2.png) center center no-repeat;background-size: cover;}
.moduleWrap .choseTab li.active a{color: #171921}
.choseCon{margin-top: .33rem;}
.choseCon .comCon{background: #F2F7FF;border-radius: .16rem;display: none;padding: .22rem .28rem .4rem;position: relative;animation: rightFadeIn .3s;}
.choseCon .comCon.comshow{display: block;}
.choseCon .comCon::after{content: '';display: block;width: .32rem;height: .32rem;background: url(../images/shop/arrow.png) center center no-repeat;background-size: cover;vertical-align: top;position: absolute;left: 1.6rem;top: -.22rem;}
.choseCon .comCon.onlineCon::after{right: 1.6rem;left: auto;}
.choseCon .advice{}
.choseCon .advice i{display: inline-block;width: .32rem;height: .32rem;background: url(../images/shop/advice.png) center center no-repeat;background-size: cover;vertical-align: top;}

.choseCon .advice span{display: inline-block;vertical-align: top;font-size: .24rem;color: #777;line-height: .36rem;max-width: 5.7rem;margin-left: .1rem;}
.choseCon .advice em{color: #333;}
.choseCon .advWrap {margin-top: .4rem;}
.advWrap .leftAdv{float: left;}
.advWrap .img{width: 2.7rem;height: 7.12rem;overflow: hidden;position: relative;}
.advWrap .img img{display: block;width: 100%;}
.advWrap p{font-size: .24rem;color: #333;margin-top: .2rem;text-align: center;}
.advWrap .rightAdv{float: right;}
.advWrap .rightAdv .img{width: 3.44rem;}
.advWrap .img::after{content: '';position: absolute;width: .44rem;height: .44rem;background: url(../images/shop/seemore.png) center center no-repeat;background-size: cover;top: .16rem;right: .13rem;}


.nextStep,.tjBtn{margin: .37rem .3rem;}
.nextStep a,.tjBtn a{display: block;width: 100%;background: #FC6C0C;line-height: .8rem;text-align: center;font-size: .32rem;color: #fff;font-weight: bold;border-radius: .4rem;}





