<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
  <title>基础设置收费</title>
  {#$cssFile#}
  <style>
    .btns_group { display: flex; align-items: center; margin-top: 20px; margin-left: 20px; margin-bottom: 16px; }
    .btns_group a { display: flex; align-items: center; justify-content: center; min-width: 150px; height: 50px; background: #FFFFFF; border-radius: 3px; border: 1px solid #C4C6CC; color: #5C5F66; font-weight: bold; font-size: 15px; margin-right: 20px; text-decoration: none; }
    .btns_group a:hover{color: #1F1F33;}
    .btns_group a .icon { margin-right: 12px; }
    .btns_group a .icon img, .btns_group a .icon { display: block; width: 28px; height: 28px; }
    .btns_group a.active { border-color: #6699FF; background-color: #EBF3FF; color: #1F1F33; position: relative; }
    .btns_group a.active::after { content: ''; display: block; width: 7px; height: 7px; border-bottom: solid 1px #6699FF; border-right: solid 1px #6699FF; transform: rotate(45deg); background-color: #EBF3FF; position: absolute; left: 0; right: 0; bottom: -4px; margin: auto; box-sizing: border-box; }
    .btns_group a.active.combo_btn { border: none; background: linear-gradient(90deg, #F5CB82 0%, #FAE1B6 100%); }
    .btns_group a.active.combo_btn::after { background-color: #F8D8A2; border: none; }
    .editform .site dt { width: 200px !important; }
  </style>
  <script>
    var action = "{#$action#}", adminPath = "{#$adminPath#}";
    var token = '{#$token#}'
  </script>
</head>

<body>
  <div class="btns_group">
    <a href="javascript:;" class=" base_btn  active">基础设置收费</a>
    <a href="jobCombo.php" data-id="jobCombophp" data-title="招聘套餐" class="add-page combo_btn"><span class="icon"><img
          src="/static/images/admin/job/combo_icon.png" alt=""></span>招聘套餐</a>
    <a href="jobPackage.php" data-id="jobPackagephp" data-title="增值包" class="add-page package_btn"><span
        class="icon"><img src="/static/images/admin/job/package_icon.png" alt=""></span>增值包</a>
  </div>
  <form action="jobConfig.php" method="post" name="editform" id="editform" class="editform">
    <div class="item site">

      <dl class="clearfix">
        <dt><label>职位上架费用：</label></dt>
        <dd class="radio">
          <div class="input-append" style="margin: 0;">
            <input class="input-mini" id="job_fee" name="job_fee" type="number" step=".01" min="0.01" value="{#$job_fee#}">
            <span class="add-on">元/个</span>
          </div>
          <span class="input-tips" style="display:inline-block;"><s></s>必须设置，并且金额要大于0元</span>
        </dd>
      </dl>
      <dl class="clearfix">
        <dt><label>下载简历费用：</label></dt>
        <dd class="radio">
          <div class="input-append" style="margin: 0;">
            <input class="input-mini" id="resume_down_fee" name="resume_down_fee" step=".01" type="number" min="0.01"
              value="{#$resume_down_fee#}">
            <span class="add-on">元/次</span>
          </div>
          <span class="input-tips" style="display:inline-block;"><s></s>必须设置，并且金额要大于0元</span>
        </dd>
      </dl>
      <dl class="clearfix">
        <dt><label>职位置顶单天价格：</label></dt>
        <dd class="radio">
          <div class="input-append" style="margin: 0;">
            <input class="input-mini" id="job_top_fee" name="job_top_fee" type="number" min="0.01"
              value="{#$job_top_fee#}" step=".01">
            <span class="add-on">元/天</span>
          </div>
          <span class="input-tips" style="display:inline-block;"><s></s>必须设置，并且金额要大于0元</span>
        </dd>
      </dl>
      <dl class="clearfix">
        <dt><label>职位单次刷新价格：</label></dt>
        <dd class="radio">
          <div class="input-append" style="margin: 0;">
            <input class="input-mini" id="job_refresh_fee" name="job_refresh_fee" type="number" min="0"
              value="{#$job_refresh_fee#}" step=".01">
            <span class="add-on">元/次</span>
          </div>
          <span class="input-tips" style="display:inline-block;"><s></s>必须设置，并且金额要大于0元</span>
        </dd>
      </dl>
      <dl class="clearfix">
        <dt><label>新入驻体验_职位上架：</label></dt>
        <dd class="radio">
          <div class="input-append" style="margin: 0;">
            <input class="input-mini" id="free_jobs" step="1" name="free_jobs" type="number" min="0" value="{#$free_jobs#}">
            <span class="add-on">个</span>
          </div>
        </dd>
      </dl>
      <dl class="clearfix">
        <dt><label>新入驻体验_简历下载：</label></dt>
        <dd class="radio">
          <div class="input-append" style="margin: 0;">
            <input class="input-mini" id="free_job_resume_down" name="free_job_resume_down" type="number" min="0"
              value="{#$free_job_resume_down#}" step="1">
            <span class="add-on">次</span>
          </div>
        </dd>
      </dl>
      <dl class="clearfix">
        <dt><label>新入驻体验_职位刷新：</label></dt>
        <dd class="radio">
          <div class="input-append" style="margin: 0;">
            <input class="input-mini" id="free_job_refresh" name="free_job_refresh" type="number" min="0"
              value="{#$free_job_refresh#}">
            <span class="add-on">次</span>
          </div>
        </dd>
      </dl>
      <dl class="clearfix">
        <dt><label>新入驻体验_职位置顶：</label></dt>
        <dd class="radio">
          <div class="input-append" style="margin: 0;">
            <input class="input-mini" id="free_job_top" name="free_job_top" type="number" min="0"
              value="{#$free_job_top#}">
            <span class="add-on">天</span>
          </div>
        </dd>
      </dl>
      <dl class="clearfix formbtn">
        <dt>&nbsp;</dt>
        <dd><input class="btn btn-large btn-success" type="submit" name="submit" id="btnSubmit" value="确认提交" /></dd>
      </dl>
    </div>
  </form>
  {#$jsFile#}
</body>

</html>