<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
<title>招聘套餐</title>
{#$cssFile#}
<style>
  .btns_group{display: flex; align-items: center; margin-top: 20px; margin-left: 20px; margin-bottom: 16px;}
  .btns_group a{display: flex; align-items: center; justify-content: center; min-width: 150px; height: 50px; background: #FFFFFF; border-radius: 3px; border: 1px solid #C4C6CC; color: #5C5F66; font-weight: bold; font-size: 15px; margin-right: 20px; text-decoration: none;}
  .btns_group a:hover{color: #1F1F33;}
  .btns_group a .icon{margin-right: 12px;}
  .btns_group a .icon img,.btns_group a .icon{display: block; width: 28px; height: 28px; }
  .btns_group a.active{border-color: #6699FF; background-color: #EBF3FF; color: #1F1F33; position: relative;}
  .btns_group a.active::after{content: ''; display: block; width: 7px; height: 7px;border-bottom: solid 1px #6699FF;border-right: solid 1px #6699FF; transform: rotate(45deg);  background-color: #EBF3FF; position: absolute; left: 0; right: 0; bottom: -3px; margin: auto; box-sizing: border-box;}
  .btns_group a.active.combo_btn{border: none;background: linear-gradient(90deg, #F5CB82 0%, #FAE1B6 100%);}
  .btns_group a.active.combo_btn::after{background-color: #F8D8A2; border: none;}
</style>
</head>

<body>
<div class="btns_group">
  <a href="jobCharge.php" class="add-page base_btn"  data-id="jobChargephp" data-title="套餐与增值包">基础设置收费</a>
  <a href="javascript:;" class="combo_btn active"><span class="icon"><img src="/static/images/admin/job/combo_icon.png" alt=""></span>招聘套餐</a>
  <a href="jobPackage.php" data-id="jobPackagephp" data-title="增值包" class="add-page package_btn"><span class="icon"><img src="/static/images/admin/job/package_icon.png" alt=""></span>增值包</a>
</div>
<div class="search">
  <label>搜索：<input class="input-xlarge" type="search" id="keyword" placeholder="请输入要搜索的关键字"></label>
  <!--<div class="btn-group" id="addrBtn" data-id="">-->
    <!--<button class="btn dropdown-toggle" data-toggle="dropdown">全部地区<span class="caret"></span></button>-->
  <!--</div>-->
  <div class="choseCity hide"><input type="hidden" id="cityid" name="cityid" placeholder="请选择城市分站" value=""></div>
  <button type="button" class="btn btn-success" id="searchBtn">立即搜索</button>
</div>

<div class="filter clearfix">
  <div class="f-left">
    <div class="btn-group" id="selectBtn">
      <button class="btn dropdown-toggle" data-toggle="dropdown"><span class="check"></span><span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="javascript:;" data-id="1">全选</a></li>
        <li><a href="javascript:;" data-id="0">不选</a></li>
      </ul>
    </div>
    <button class="btn" data-toggle="dropdown" id="delBtn">删除</button>
    <a href="jobComboAdd.php" class="btn btn-primary" id="addNew">新增招聘套餐</a>
  </div>
  <div class="f-right">
    <div class="btn-group" id="pageBtn" data-id="20">
      <button class="btn dropdown-toggle" data-toggle="dropdown">每页20条<span class="caret"></span></button>
      <ul class="dropdown-menu pull-right">
        <li><a href="javascript:;" data-id="10">每页10条</a></li>
        <li><a href="javascript:;" data-id="15">每页15条</a></li>
        <li><a href="javascript:;" data-id="20">每页20条</a></li>
        <li><a href="javascript:;" data-id="30">每页30条</a></li>
        <li><a href="javascript:;" data-id="50">每页50条</a></li>
        <li><a href="javascript:;" data-id="100">每页100条</a></li>
      </ul>
    </div>
    <button class="btn disabled" data-toggle="dropdown" id="prevBtn">上一页</button>
    <button class="btn disabled" data-toggle="dropdown" id="nextBtn">下一页</button>
    <div class="btn-group" id="paginationBtn">
      <button class="btn dropdown-toggle" data-toggle="dropdown">1/1页<span class="caret"></span></button>
      <ul class="dropdown-menu" style="left:auto; right:0;">
        <li><a href="javascript:;" data-id="1">第1页</a></li>
      </ul>
    </div>
  </div>
</div>

<ul class="thead t100 clearfix">
  <li class="row3">&nbsp;</li>
  <li class="row25 left">名称</li>
  <li class="row10 left">有效期（天）</li>
  <li class="row15 left">价格（元）</li>
  <li class="row10 left">购买人数</li>
  <li class="row25 left">职位上架/简历下载/刷新/置顶</li>
  <li class="row12">编辑/删除</li>
</ul>

<div class="list mt124" id="list" data-totalpage="1" data-atpage="1"><table><tbody></tbody></table><div id="loading" class="loading hide"></div></div>

<div id="pageInfo" class="pagination pagination-centered"></div>

<div class="hide">
  <span id="sKeyword"></span>
  <span id="sAddr"></span>
</div>

<script>
  var addrListArr = {#$addrListArr#}, adminPath = "{#$adminPath#}",cityList = {#json_encode($cityArr)#};
</script>
{#$jsFile#}
</body>
</html>
