<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
<title>客户跟进记录</title>
{#$cssFile#}
<style>
  .btns_group{display: grid; grid-template-columns: repeat(3,1fr);  border-radius: 4px; width: 320px; height: 36px; box-sizing: border-box; margin-left: 20px; margin-top: 20px; overflow: hidden;}
  .btns_group .btn{display: flex; align-items: center; justify-content: center; border: solid 1px #DCDFE6; border-radius: 0 !important;}
  .btns_group .btn:first-of-type{border-radius: 4px 0 0 4px !important; border-right: none !important;}
  .btns_group .btn:last-of-type{border-radius: 0 4px 4px 0 !important; border-left: none !important;}
  .btns_group .btn.active{background-color: #409EFF !important; color: #fff;}
</style>
</head>

<body>
  <div class="btns_group">
    <a href="jobCompanyGH.php" class="add-page btn GH" data-id="jobCompanyGHphp" data-title="公海客户">公海客户<span></span></a>
    <a href="javascript:;" class="btn active Follow" data-id="jobCompanyFollowphp" data-title="跟进记录">跟进记录<span></span></a>
    <a href="jobCompanyMy.php" class="add-page btn My" data-id="jobCompanyMyphp" data-title="我的客户">我的客户<span></span></a>
  </div>
<div class="search">
  搜索：
  <div class="choseCity"><input type="hidden" id="cityid" name="cityid" placeholder="请选择城市分站" value=""></div>&nbsp;
  <!--<div class="btn-group" id="addrBtn" data-id="">-->
    <!--<button class="btn dropdown-toggle" data-toggle="dropdown">全部地区<span class="caret"></span></button>-->
  <!--</div>-->
  <div class="btn-group" id="comboBtn">
    <!-- <button class="btn dropdown-toggle" data-toggle="dropdown">企业套餐<span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="javascript:;" data-id=""  data-nolist="true">企业套餐</a></li>
    {#foreach $comboList as $comboId => $comboTitle#}
    <li><a href="javascript:;" data-id="{#$comboId#}" data-nolist="true">{#$comboTitle#}</a></li>
    {#/foreach#}
  </ul> -->
  </div>
  <div class="btn-group" id="certBtn">
    <!-- <button class="btn dropdown-toggle" data-toggle="dropdown">认证状态<span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="javascript:;" data-id="" data-nolist="true">认证状态</a></li>
      <li><a href="javascript:;" data-id="1" data-nolist="true">已认证</a></li>
      <li><a href="javascript:;" data-id="0" data-nolist="true">待认证</a></li>
    </ul> -->
  </div>
  跟进时间&nbsp;&nbsp;<input class="input-small" type="text" id="stime" placeholder="开始日期" autocomplete="off">&nbsp;到&nbsp;<input class="input-small" type="text" id="etime" placeholder="结束日期" autocomplete="off">
  <select class="chosen-select" id="cadmin" style="width: auto;"></select>
  <span>
    <select style="width: auto; border-right: 0; border-radius: 4px 0 0 4px; border-color: #dcdfe6;" name="searchType" id="searchType">
      <option value="cname">公司名</option>
      <option value="uname">用户名</option>
    </select><input class="input-large" type="search" id="keyword" placeholder="请输入要搜索的关键字" style="border-radius: 0 4px 4px 0!important;">
  </span>
  <button type="button" class="btn btn-success" id="searchBtn">立即搜索</button>
</div>

<div class="filter clearfix">
  <div class="f-left">
    <div class="btn-group hide" id="batchAudit">
    </div>
    <a href="javascript:;" class="btn btn-warning" id="export">导出数据</a>
    <span class="tongji" style="margin: 0 10px; line-height: 36px;">共<span class="totalCount">0</span>条记录</span>
  </div>
  <div class="f-right">
    <div class="btn-group" id="pageBtn" data-id="20">
      <button class="btn dropdown-toggle" data-toggle="dropdown">每页20条<span class="caret"></span></button>
      <ul class="dropdown-menu pull-right">
        <li><a href="javascript:;" data-id="10">每页10条</a></li>
        <li><a href="javascript:;" data-id="15">每页15条</a></li>
        <li><a href="javascript:;" data-id="20">每页20条</a></li>
        <li><a href="javascript:;" data-id="30">每页30条</a></li>
        <li><a href="javascript:;" data-id="50">每页50条</a></li>
        <li><a href="javascript:;" data-id="100">每页100条</a></li>
      </ul>
    </div>
    <button class="btn disabled" data-toggle="dropdown" id="prevBtn">上一页</button>
    <button class="btn disabled" data-toggle="dropdown" id="nextBtn">下一页</button>
    <div class="btn-group" id="paginationBtn">
      <button class="btn dropdown-toggle" data-toggle="dropdown">1/1页<span class="caret"></span></button>
      <ul class="dropdown-menu" style="left:auto; right:0;">
        <li><a href="javascript:;" data-id="1">第1页</a></li>
      </ul>
    </div>
  </div>
</div>

<ul class="thead t100 clearfix">
  <li class="row21 left">公司信息</li>
  <li class="row15 left">联系人/电话</li>
  <li class="row10 left">跟进销售</li>
  <li class="row14 left">跟进时间</li>
  <li class="row10 left">类型</li>
  <li class="row30 left">内容</li>
</ul>

<div class="list mt124" id="list" data-totalpage="1" data-atpage="1"><table><tbody></tbody></table><div id="loading" class="loading hide"></div></div>

<div id="pageInfo" class="pagination pagination-centered"></div>

<div class="hide">
  <span id="sKeyword"></span>
  <span id="sAddr"></span>
</div>

<script>
  var adminList = {#$adminList#},addrListArr = {#$addrListArr#}, adminPath = "{#$adminPath#}",cityList = {#json_encode($cityArr)#};
</script>
{#$jsFile#}
</body>
</html>
