<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
<title>{#$pagetitle#}</title>
{#$cssFile#}
<script>
var modelType = "job", adminPath = "{#$adminPath#}";
</script>
</head>

<body>
<form action="" method="post" name="editform" id="editform" class="editform">
  <input type="hidden" name="dopost" id="dopost" value="{#$dopost#}" />
  <input type="hidden" name="id" id="id" value="{#$id#}" />
  <input type="hidden" name="token" id="token" value="{#$token#}" />
  <dl class="clearfix">
    <dt><label for="fname">招聘会：</label></dt>
    <dd style="position:static;">
      <input readonly class="input-xlarge" type="text" name="fname" id="fname" autocomplete="off" value="{#$fname#}" data-regex=".{2,50}" />
      <input type="hidden" name="fid" id="fid" value="{#$fid#}" />
      <!-- <span class="input-tips" style="display:inline-block;"><s></s>请指定未结束的网络招聘会</span> -->
      <div id="fairsList" class="popup_key"></div>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label>公司名称：</label></dt>
    <dd style="position:static;">
        <input class="input-xlarge" id="company" type="text" name="company" value="{#$company#}" />
        <input type="hidden" name="cid" id="cid" value="{#$cid#}" />
        <span class="input-tips" style="display:inline-block;"><s></s>输入系统已经入驻的公司名称并选择</span>
        <div id="companyList" class="popup_key"></div>
    </dd>
  </dl>
<!--  <dl class="clearfix">
      <dt><label for="phone">联系电话：</label></dt>
      <dd><input class="input-medium" type="text" name="phone" id="phone" value="{#$phone#}" /></dd>
  </dl>-->
  <dl class="clearfix">
    <dt>审核状态</dt>
    <dd class="radio" id="type">
      {#html_radios name="state" values=$states checked=$state output=$state_names separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>
  <dl class="clearfix formbtn">
    <dt>&nbsp;</dt>
    <dd><input class="btn btn-large btn-success" type="submit" name="submit" id="btnSubmit" value="确认提交" /></dd>
  </dl>
</form>

{#$editorFile#}
{#$jsFile#}
</body>
</html>