<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$detail_Newtitle#} - {#$list_typename#} - {#$info_title#}</title>
<meta name="keywords" content="{#$info_keywords#}" />
<meta name="description" content="{#$info_description#}" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/detail.css?v={#$cfg_staticVersion#}" media="all" />


<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
{#if $detail_video#}
<!-- <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/ui/video-js.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/ui/vsg-skin.css?v={#$cfg_staticVersion#}" media="all" /> -->
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/ui/plyr.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/plyr.js"></script>
{#/if#}
<script type="text/javascript">
    var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$info_channelDomain#}', cfg_staticPath =staticPath= '{#$cfg_staticPath#}', templatePath = '{#$templets_skin#}';

    var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}';
    var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}', id = {#$detail_id#};
    var user_id = '{#$detail_member['userid']#}';
    var imconfig = {
    	'mod':'info',
		'chatid':"{#$detail_member.userid#}",
		'title': '{#$detail_Newtitle#}',
		"price": '#{#$detail_typename#}#',
		"imgUrl": '{#if $detail_litpic#}{#changeFileSize url={#$detail_litpic#} type='small'#}{#else#}{#$templets_skin#}images/default_info.png{#/if#}',
		"link": '{#getUrlPath service="info" template="detail" id=$detail_id#}',
    }
    var fbTime = '{#if $detail_editdate#}{#$detail_pubdate#}{#else#}{#$detail_pubdate#}{#/if#}';
    var hb_set = {#if $detail_countHongbao > 0#}true{#else#}false{#/if#}; //设置阅读激励
    var share = {#if $bao && $detail_rewardPrice >0 && $detail_info['member']['userid'] != $userinfo.userid#}true{#else#}false{#/if#},fenxiangPrice = "{#$detail_rewardPrice#}";
    var fxState =  '{#$detail_fxState#}';
    var gz_userid = "{#$detail_info['member']['userid']#}";
    var detail_id = '{#$detail_info.id#}';
    var editValid = '{#$detail_valid#}';
    var editId = '{#$detail_info.id#}';
    var totalBalance ='{#$userinfo.money|default:0#}';
    var payPhone = {#$payPhone|default:0#}
</script>
</head>

<body class="w1200 {#if $detail_valid<$smarty.now#}validInfo{#/if#}">
{#$pageCurr = "list"#}
{#include file="../../siteConfig/top1.html" privatePhone="1"#}
<!-- 导航 s-->
{#include file="header_search.html" pagenow='detail'#}

<!-- 导航 e-->
<div class="body_container">
  <div class="wrap">
    <!-- 面包屑  -->
    <div class="bread"><a href="{#$cfg_basehost#}">首页</a>><a href="{#$info_channelDomain#}">分类信息</a>>{#$list_crumbs|replace:" » ":">"#}</div>
    <div class="infoDetail">
      {#if $detail_valid < $smarty.now#} <div class="validImg"><span>已失效</span></div>{#/if#}
      <div class="info_detail fn-clear">
        <div class="opbtns">
          <a href="javascript:;" class="shou store-btn {#if $detail_collect#} curr{#/if#}"><s></s><span>{#if $detail_collect#}{#$langData['info'][1][32]#}{#else#}{#$langData['info'][4][42]#}{#/if#}</span></a>{#* 已收藏  收藏  *#}
          <div class="shareBox">
            {#if $bao && $detail_rewardPrice > 0 && $detail_info['member']['userid'] != $userinfo.userid#}
            <a href="javascript:;" class="share_gift"><s></s><span>{#$langData['info'][4][43]#}</span></a>{#*  立即分享 100%现金有奖！  *#}
            {#else#}
              <a href="javascript:;" class="share "><s></s>{#$langData['info'][0][30]#}</a>{#* 分享  *#}
            {#/if#}
            <div class="shareListPop">
              <h5>{#$langData['info'][4][44]#}</h5>  {#*  微信扫码分享</b>或点击分享到  *#}
              <div class="shareWayBox">
                <div class="wxQrShare">
                  <div class="wxQr"><img src="{#$cfg_basehost#}/include/qrcode.php?data={#getUrlPath service='info' template='detail' id={#$detail_id#} param="{#if $userinfo && $userinfo.userid#}fromShare={#$userinfo.userid#}{#/if#}"#}" alt=""></div>
                </div>
                <div class="otherShare">
                  <ul>
                    <ul>
                    <li class="qzone"><a href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url={#getUrlPath service='info' template='detail' id={#$detail_id#} param="{#if $userinfo && $userinfo.userid#}fromShare={#$userinfo.userid#}{#/if#}"#}&desc={#$detail_titlenew|truncate:100:"":true#}&pics={#$detail_imglist[0]['path']|default:$info_logoUrl#}" target="_blank"  class="sharea">QQ空间</a></li>
                  <li class="qq"><a href="http://connect.qq.com/widget/shareqq/index.html?url={#getUrlPath service='info' template='detail' id={#$detail_id#} param="{#if $userinfo && $userinfo.userid#}fromShare={#$userinfo.userid#}{#/if#}"#}#}&desc={#$detail_titlenew|truncate:100:"":true#}&title={#$detail_titlenew|truncate:100:"":true#}&summary={#$detail_titlenew|truncate:100:"":true#}&pics={#$detail_imglist[0]['path']|default:$info_logoUrl#}" target="_blank"  class="sharea">QQ好友</a></li>
                    <li class="sina"><a href="http://service.weibo.com/share/share.php?url={#getUrlPath service='info' template='detail' id={#$detail_id#} param="{#if $userinfo && $userinfo.userid#}fromShare={#$userinfo.userid#}{#/if#}"#}#}&title={#$detail_titlenew|truncate:100:"":true#}&pic={#$detail_imglist[0]['path']|default:$info_logoUrl#}" target="_blank"  class="sharea">新浪微博</a></li>
                </ul>
                </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h2>{#$detail_addrArr#} {#$detail_typename#}</h2>
        <div class="info_fb" data-time="{#$smarty.now#}">
          <p><span class="fb_time">{#$langData['info'][3][45]#}<em>{#if $detail_editdate|date_format:"%Y-%m-%d"#}{#$detail_pubdate1#}{#else#}{#$detail_pubdate1#}{#/if#}</em>{#if $detail_iphome#} · {#$detail_iphome#}{#/if#}</span><span class="info_read">{#$langData['info'][1][6]#}：{#$detail_click|default:0#}</span><span class="info_shou">{#$langData['info'][4][42]#}：{#$detail_collectt["collectCount"]|default:0#}</span></p>{#* 更新于 浏览  收藏   有效期  1天后过期 *#}
          <p class="phone_tip">
            <span class="info_deadline">{#if (($detail_valid - $smarty.now)/86400) > 1000#}长期有效{#else#}{#$langData['info'][4][46]#}：{#if $detail_valid>$smarty.now#}<em>{#$langData['info'][4][45]|replace:"1":(int)((($detail_valid-$smarty.now)/86400)+1)#}</em>{#else#}已失效{#/if#}{#/if#}{#if $userinfo.userid == $detail_info['member']['userid'] && (($detail_valid - $smarty.now)/86400) < 1000#}<a href="javascript:;" class="delayTime">立即延长></a>{#/if#}</span>
            
            {#if $userinfo.userid != $detail_info['member']['userid']#}<em class="line"></em><span>联系我时，请说是在<em class="shortname">{#$cfg_shortname#}</em>上看到的，谢谢！</span>{#/if#}
          </p>
          <div class="btnGroup">
            <a href="javascript:;" class="chat_to-Link chat_btn" data-type="detail">{#$langData['info'][4][48]#}</a> {#*  在线咨询 *#}
            <a href="{#if $userinfo#}tel:{#$detail_telNum#}{#else#}{#$cfg_basehost#}/login.html{#/if#}" class="phone_btn fn-clear privatePhoneBtn {#if $cfg_payPhoneState == 1 && !$detail_payPhoneState#}payPhoneBtn{#/if#}" data-temp="detail" data-id="{#$detail_id#}" data-module="info" data-tel="{#$detail_telNum#}" data-url="{#getUrlPath service="info" template="detail" id=$detail_id#}">
              <s></s>
              <div class="txt">
                {#if !$cfg_privatenumberState#}
                {#if !$userinfo #}
                <h4>{#$detail_telNum_#}</h4>
                <p>登录查看完整电话</p> {#*  登录查看完整电话 *#}
                {#else#}
                <h4 style="padding-top:8px;">{#if $detail_telNum == '请先付费'#}查看电话{#else#}{#$detail_telNum#}{#/if#}</h4>
                {#/if#}
                {#else#}
                <h4 style="padding-top:8px;" class="showTelNumObj">查看电话</h4>
                {#/if#}
              </div>
            </a>
          </div>
        </div>
        <!-- 认证商家 -->
        {#if $is_shop#}
        <div class="fb_user" data-href="{#$cfg_basehost#}/user/{#$detail_member['userid']#}">
          <div class="fbuser_info fn-clear">
            <a href="{#getUrlPath service='business' template='fabu' id=$sjid#}" class="fb_logo"><img src="{#if $detail_member['photo']#}{#$detail_member['photo']#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt="{#$detail_member.nickname#}" onerror="this.src='/static/images/shop.png'"></a>
            <div class="fb_detail">
              <a href="{#getUrlPath service='business' template='fabu' id=$sjid#}" target="_blank"><h2><span class="nickname">{#$detail_member.nickname#}</span><span class="renzhen">{#$langData['info'][2][79]#}</span></h2></a>  {#*  认证商家 *#}
              <p><span class="fbCount">{#$langData['info'][0][2]#}<em>{#$detail_fabuCount#}</em>条</span><span class="fansCount">{#$langData['info'][0][26]#}<em>{#$detail_follow|default:0#}</em></span></p>{#*  发布信息  粉丝  *#}
            </div>
          </div>
          <div class="fb_posi"><p><s></s>{#if $detail_address#}{#$detail_address#}{#else#}{#$detail_addrArr#}{#/if#}</p><em class="bg"></em></div>
        </div>
        {#elseif $detail_member.userid #}
      <!-- 个人用户 -->
      <a class="fb_personal" href="{#$cfg_basehost#}/user/{#$detail_member['userid']#}/fabu.html">
          <div class="phead"><img src="{#$detail_info['member']['photo']#}" alt="" onerror="this.src='/static/images/noPhoto_60.jpg'"></div>
          <div class="pinfo">
              {#if $is_shop  == 1#}
              <h3>{#$detail_info['member']['nickname']#} {#if $detail_info['member']['certifyState']#}<span class="grsm">认证商家</span>{#else#}<span class="grsm" style="background: #e7e7e7; color: #b0b0b0;">未实名认证</span>{#/if#}</h3> {#*  认证商家 *#}
              {#else if $is_shop == 0#}
              <h3>{#$detail_info['member']['nickname']#} {#if $detail_info['member']['certifyState']#}<span class="grsm">{#$langData['info'][4][49]#}</span>{#else#}<span class="grsm" style="background: #e7e7e7; color: #b0b0b0;">未实名认证</span>{#/if#}</h3> {#*  实名认证 *#}
              {#/if#}
            <p><span class="fbCount">{#$langData['info'][0][2]#}<em>{#$detail_fabuCount#}</em>条</span><span class="fansCount">{#$langData['info'][0][26]#}<em>{#$detail_follow|default:0#}</em></span></p>{#*  发布信息  粉丝  *#}
          </div>
      </a>
      {#/if#}
      </div>
      <div class="info_tip">{#$langData['info'][4][50]#}</div>{#*  公告声明：本平台仅提供信息发布交流和网络服务技术支持，请谨慎判断信息真伪。如遇虚假诈骗信息，请<a href="javascript:;" class="jubao_btn report">立即举报</a> *#}
    </div>

    <div class="infoContainer fn-clear">
      <div class="list-mid leftCon fn-clear  con-tit ">
          <div class="list-tab">
              <div class="list-lead fn-clear">
                  <ul>
                      <li class="current" ><a href="javascript:;">{#$langData['info'][2][29]#}</a></li>{#*  信息详情  *#}
                      {#if $detail_valid > $smarty.now#}
                      <li class="line"></li>
                      <li><a href="#comment">{#$langData['info'][4][51]|replace:"1":$detail_common#}</a></li>{#*  留言({#$detail_common#}条)  *#}
                      {#/if#}
                  </ul>
              </div>
          </div>
          <div class="lm-txt fn-clear">
              <div class="lm_con">

                  {#if $detail_label#}
                  <div class="labs_detail">
                    {#foreach from=$detail_label key=key item=label#}
                    <span>{#$label.name#}</span>
                    {#/foreach#}
                  </div>
                  {#/if#}

                  {#$detail_title#}

                  <ul class="customBox">
                    {#foreach from=$detail_item item='item'#}
                    <li data-id="{#$item.id#}"><label for="">{#$item.type#}</label> <span>{#$item.value#}</span></li>
                    {#/foreach#}
                  </ul>
              </div>
              {#if $detail_video#}
              <div class="videoBox"><video poster="{#$detail_videoPoster#}" src="{#$detail_video#}"></video></div>
              {#/if#}
              <div class="imgBox fn-clear">
                {#foreach from=$detail_info['imglist'] key=key item=imgs#}
                <div class="picBox" data-key="{#$key#}">
                  <a href="{#$imgs['path']#}" target="_blank"><img src="{#$imgs['path']#}" alt=""></a>
                </div>
                {#/foreach#}
              </div>
          </div>

          <div class="act-tao fn-clear con-tit" id="comment">

              <div class="writ-l fn-clear">
                  <p><a {#if $userinfo#}href="{#getUrlPath service='siteConfig' template='user' id=$userinfo['userid']#}" target="_blank"{#else#} href="javascript:;"{#/if#}><img src="{#if $userinfo && $userinfo['photo']#}{#$userinfo['photo']#}{#else#}{#$cfg_staticPath#}images/noPhoto_100.jpg{#/if#}" onerror="this.src='{#$cfg_staticPath#}images/noPhoto_100.jpg'"></a></p>
                  {#if $userinfo#}<h3><a href="{#getUrlPath service='siteConfig' template='user' id=$userinfo['userid']#}" target="_blank">{#$userinfo['nickname']#}：</a></h3>{#/if#}
              </div>
              <div class="writ"><p><textarea placeholder="{#$langData['info'][4][52]#}" id="textarea"></textarea></p></div>{#*  来说两句吧...  *#}
              <div class="fn-clear">
                  <div class="writ-b"><a href="javascript:;"{#if $userinfo#} id="rtj"{#else#} id="login"{#/if#}>{#if $userinfo#}{#$langData['info'][4][53]#}{#else#}{#$langData['info'][4][54]#}{#/if#}</a></div>{#*  发送留言  登录  *#}
              </div>
              <div id="replyList" data-url="{#getUrlPath service='siteConfig' template='user' id='%id'#}"><div class="loading"><img src="{#$cfg_staticPath#}/images/ui/loading.gif" /></div></div>
          </div>

      </div>

      <div class="rightCon">
        <h3>{#$langData['info'][4][55]#} </h3>{#*  推荐信息  *#}
        <ul class="rec_ul">
           {#info action="ilist_v2" return="ilist" orderby="1"  rec='1'  page='1' pageSize="5"#}
          <li>
            <a href="{#$ilist.url#}" target="_blank" class="rec fn-clear">
              {#if $ilist.litpic#}
              <div class="iImg"><img src="{#$ilist.litpic#}" alt="" onerror="this.src='/static/images/404.jpg'"></div>
              {#/if#}
              <div class="iDetail">
                <h4><span class="typename">#{#$ilist.typename#}# </span>{#$ilist.title#}</h4>
                <p>{#if $ilist.dizhi#}{#$ilist.dizhi#}{#else#}{#$ilist.addrArr#}{#/if#}</p>
              </div>
            </a>
          </li>
          {#/info#}
		  {#if $pageInfo.totalCount == 0#}
          <li class="noData">暂无数据</li>
          {#/if#}
        </ul>
      </div>

    </div>
    {#if $detail_countHongbao > 0#}
    <a href="javascript:;" class="btn_hb"><span class="hb_txt">抢红包</span></a>
    {#/if#}
  </div>
</div>
  <!-- 延长有效期 -->
<div class="changeValidMask"></div>
<div class="changeValidPop">
	<h2 class="headTit"><span>延长有效期</span> <em>可按您的需求选择信息展示时长！</em> <a href="javascript:;" class="close_validPop"></a></h2>
	<div class="validCon">
		<h3 class="valid_tit"><span>选择时长</span><em>优惠仅限当前页面</em></h3>
		<div class="validBox">
			<ul class="fn-clear">
				{#foreach from=$info key=k item=i#}
				<li data-time="{#$i.daytime#}" data-price="{#$i.price#}" class="{#if $k==0#}on_chose{#/if#}">
					<h3><b>{#$i.day#}</b>{#$i.dayText#}</h3>{#*  天  *#}
					<p>{#$langData['info'][3][38]#}{#$i.price#}{#echoCurrency type="short"#}</p>{#*  需  *#}
				</li>
				{#/foreach#}

				{#if $cfg_valid && $cfg_valid[0]['day']#}
				<li class="forever" data-time="{#$cfg_valid[0]['daytime']#}" data-price="{#$cfg_valid[0]['price']#}">
					<h3>{#$langData['info'][3][36]#}</h3>{#*  永久有效  *#}
					<p>{#$langData['info'][3][38]#}{#$cfg_valid[0]['price'] #}{#echoCurrency type="short"#}</p>{#*  需  *#}
				</li>
				{#/if#}
			</ul>
		</div>
	</div>
	<div class="validbtnBox">
		<p>已选延长<em></em>有效期</p>
		<a href="javascript:;" class="btn_valid">立即延长</a>
	</div>
</div>

<form action="/include/ajax.php" method="post" id="payform">
	<input type="hidden" name="service"  value="member">
	<input type="hidden" name="action"  value="fabuPay">
	<input type="hidden" name="module"  value="info" id="module">
	<input type="hidden" name="type"  value="">
	<input type="hidden" name="paytype"  value="">
	<input type="hidden" name="aid"  value="" />
	<input type="hidden" name="amount"  value="" />
	<input type="hidden" name="tourl"  value="" />
	<input type="hidden" name="createtype"  value="1" />
  <input type="hidden" name="valid"  value="" />
  <input type="hidden" name="validType"  value="0" />
</form>
{#include file="{#$HUONIAOROOT#}/templates/member/public-pay-pop.html"#}
<!-- 红包弹窗 -->
<div class="hbMask"></div>
<div class="hbPop">
  <!-- <div class="hb_info">
    <h3>苏州英孚青少儿英语</h3>
    <p>{#$langData['info'][4][56]#}</p>{#*  发来红包  *#}
  </div> -->
  <a href="javascript:;" class="close_hbpop"></a>
  <div class="hbCon">
    <h4 class="hbbg_tit">{#$langData['info'][3][1]#}</h4> {#*  红包福利  *#}
    {#if $detail_desc#}
    <h3 class="hb_message">{#$detail_desc#}</h3>
    {#else#}
    <h3 class="hb_message">{#$detail_member.nickname#}</h3>
    {#/if#}
    <div class="hb_detail">
    {#if $detail_desc#}  <p>{#$langData['info'][3][2]#}</p>{#*  红包总额  *#}
    {#else#}<p>{#$langData['info'][4][56]#}</p>{#*  发来红包  *#}{#/if#}
      <h1>{#echoCurrency type="symbol"#}<b>{#floatval($detail_priceHongbao)#}</b></h1>
      <div class="hbQrBox">
        <div class="Qr"></div>
      </div>
      <h5>{#$langData['info'][4][57]#}</h5>{#*  扫码立即领取  *#}
      <s class="hb_decor"></s>
    </div>
  </div>
</div>

<!-- 分享奖励 -->
<div class="shareMask"></div>
<div class="sharePop">
  <div class="share_icon"></div>
  <h5>{#$langData['info'][4][58]#}</h5>{#*  分享成功！ *#}
  <h2 class="shareGet"><b>+<span>{#$detail_rewardPrice#}</span></b>{#echoCurrency type="short"#}<s class="tip"><em>{#$langData['info'][3][11]#}</em></s></h2> {#*  已到账  *#}
  <p>{#$langData['info'][3][12]#}</p>{#*  每次有人点开你的分享链接还会有奖励哦！  *#}
  <a href="javascript:;" class="btn_know">{#$langData['info'][2][43]#}</a> {#*  确定  *#}
</div>


{#include file="bottom.html"#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.scroll.loading.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.dialog-4.2.0.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.qrcode.min.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/noscroll.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/list_detail.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/designpicd.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/viewer-jquery.min.js?v={#$cfg_staticVersion#}"></script>
{#if $detail_video#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/videojs-ie8.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/video.js?v={#$cfg_staticVersion#}"></script>
{#/if#}
</body>
</html>
