body{min-height: 100vh}
.header{z-index: 1}
.loupan_info{margin: 0 .3rem; background: #fff; border-radius: .26rem; box-shadow: 0 .07rem .47rem 0 rgba(0, 0, 77, 0.08); min-height: 2.8rem; margin-top: .08rem; z-index: 9; position: relative; box-sizing: border-box; padding:.4rem .3rem;  ;padding-left: .45rem;}
.loupan_info .loupan_detail{padding-bottom: .3rem; border-left:solid .02rem #EBEBED;}
.loupan_info .loupan_detail::before{content: ''; display: block; width: .5rem; height: .5rem; background: url(../../images/mcenter/bb_icon.png) no-repeat center/.4rem #fff; position: absolute; top: 0; left: 0; margin-left: -.25rem}
.loupan_info .loupan_detail,.loupan_info .loupan_tip{padding-left: .35rem; position: relative;}
.loupan_info .loupan_detail h3{font-size: .4rem; color: #202021; font-weight: bold;}
.loupan_info .loupan_detail p{font-size: .22rem; color: #313233; margin-top: .1rem}
.loupan_info .loupan_tip h4{font-size: .3rem; color: #202021; font-weight: bold; }
.loupan_info .loupan_tip p{font-size: .22rem; color: #A6A6A6; margin-top: .12rem}
.loupan_info .loupan_tip s{display: flex; width: .4rem; height: .4rem; position: absolute; left: 0; top: 0; margin-left: -.2rem; background: #fff; align-items: center; justify-content: center; }
.loupan_info .loupan_tip s::before{content: ''; display: block; width:.1rem; height: .1rem; border-radius: .05rem; background: #009987; }

.inpbox label{display: block; font-size: .3rem; color: #313233; font-weight: bold; margin-bottom: .2rem}
.inpbox.required label::before{content:'*'; font-size: .26rem; color: #F53C1E;}
.form_box{margin: 0 .3rem; margin-top: .65rem}
.form_box .inp{border-radius: .16rem; background: #F5F5F7; margin-bottom: .3rem}
.form_box .inp input{height: .88rem; border:none; background: none; font-size: .28rem; box-sizing: border-box; padding-left: .2rem; width: 100%;}
.form_box .inp textarea{height:1.98rem; font-size: .28rem; width: 100%; font-size: .28rem;  border: none; background: none; padding: .2rem}
.form_box .inp input::placeholder,.form_box .inp textarea::placeholder{color: #BBBCC4}
.form_box{padding-bottom: 1.5rem;}
.bottomBox{position: fixed; left: 0 ;right: 0; bottom: 0;padding-top: .2rem;padding-bottom: .4rem;background: #fff}
.submit{display: block; width: 6rem; height: .84rem ; box-shadow: 0 .08rem .13rem 0 rgba(254, 78, 76, 0.15); border-radius: .42rem;  margin: auto; background: #F7413E; color: #fff; text-align:center; font-size:.28rem; font-weight:bold; line-height:.84rem ;}
