.bannerbox{height: 4rem; position: relative;}
.bannerbox img{display: block; width: 100%; height: 100%}
.searchbox{position: absolute; left: .3rem; right:.3rem; bottom: .85rem; display: flex; align-items: center; justify-content: center;}
.searchbox .searchinp{width: 5.26rem; height: .78rem; background: #fff; border-radius: .39rem;position: relative;}
.searchbox .searchinp input{height: .78rem; font-size: .26rem; padding-left: .75rem; background: none; border:none; box-sizing: border-box; width: 100%; padding-right: 10px}
.searchbox .searchinp input::placeholder{color: #C6C7CC;}
.searchbox .searchinp::before{content: ''; display: block; width: .3rem; height: .3rem; background: url(../../images/mcenter/search_icon.png) no-repeat center/cover; position: absolute; top: 0; left:.3rem; bottom: 0; margin: auto;}
.searchbox a{display: block; width: 1.5rem; height: .78rem; border-radius: .39rem; text-align: center; line-height: .78rem; background: linear-gradient(-51deg, #009582 0%, #00B3A8 100%); box-shadow: 0 .07rem 37px 0 rgba(0, 0, 0, 0.06); font-size: .28rem; color:#fff; font-weight:bold; margin-left:.14rem;}
.listbox{background: #F5F5F7; border-radius: .4rem .4rem 0 0; min-height: calc(100vh - 4.48rem); margin-top: -.4rem; position: relative; padding-bottom: 1.8rem}

.listbox .list_head{display: flex; align-items: center; padding: 0 .35rem ; padding-top: .3rem}
.listbox .list_head h3{font-size: .34rem; color: #313233; font-weight: bold; margin-right: .3rem ;margin-bottom: .04rem; position: relative;}
.listbox .list_head h3::after{content: ''; display: block; width: .3rem; height: .06rem; border-radius: .03rem; background: #F53C1E; position: absolute; left: 0; right: 0 ; bottom: -.15rem; margin: auto;}
.swiperbox{width: 4.1rem; height: .44rem; border-radius: .22rem; background: #DFF2F0; color: #459F96; font-size: .22rem; overflow: hidden; display: none;}
.swiperbox .swiper-container{height: .44rem}
.swiperbox li{padding-left: .16rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; height: .44rem}
.swiperbox li span{vertical-align: middle; line-height: .44rem}
.swiperbox li::before{content: ''; display: inline-block; width: .32rem; height: .32rem; vertical-align:middle;; background: url(../../images/mcenter/house_icon.png) no-repeat center/cover; margin-right: .07rem; margin-bottom: .04rem}

.btn_to{display: flex; width: 2.8rem; height: .8rem; border-radius: .4rem; background: #F7413E; box-shadow: 0 .08rem .2rem 0 rgba(254, 78, 76, 0.2); font-size: .28rem; color: #fff; align-items: center; justify-content: center; font-weight: bold; padding-left: .3rem; position:fixed; left:0; right:0 ; bottom:.4rem; margin:auto;;}
.btn_to::after{content: ''; display: block; width: .24rem; height: .24rem; background: url(../../images/mcenter/arr_white.png) no-repeat center/cover; margin-left: .06rem}

.list_ul{margin-top: .4rem;}
.baobei_li{margin: 0 .3rem; background: #fff; min-height: 2.1rem; border-radius: .2rem; box-sizing: border-box; padding: .26rem; position: relative; margin-bottom: .2rem; }
.baobei_li h1{font-size: .32rem; color: #313233; font-weight: bold; }
.baobei_li .address{font-size: .2rem; margin-top: .06rem}
.baobei_li .yongjin{font-size: .26rem; color: #313233; margin-top: .3rem}
.baobei_li .tip{color: #A6A6A6; font-size:.22rem; margin-top: .1rem}
.baobei_li a{display: flex; align-items: center; justify-content: center; color: #19485A; font-size: .28rem; font-weight: bold; position: absolute; top: .3rem; right: .26rem}
.baobei_li a::before{content: ''; display: block; width: .24rem; height: .24rem; background: url(../../images/mcenter/edit_icon_1.png) no-repeat center/cover; margin-right: .1rem}

.loading{font-size: .26rem; color: #999; text-align: center; padding: .6rem}
