/* #page{padding-top: .9rem} */

.searchbox{height: 1rem; position: relative; box-sizing: border-box; padding-top: .18rem;}
.searchbox .inpbox{height: .64rem; border-radius: .32rem; background: #F7F7F7; display: flex; align-items: center; box-sizing: border-box; padding: 0 .28rem;  margin-right: 1.2rem; margin-left: .3rem;}
.searchbox .inpbox input{height: .64rem; background: none;}
.searchbox .inpbox::before{content: ''; display: block; width: .3rem; height: .3rem; background: url(../images/search_icon.png) no-repeat center/cover; margin-right: .07rem;}
.searchbox .inpbox input{border:none; width: 100%}
.cancel_btn{position: absolute; font-size: .3rem; color: #333; font-weight: bold; right: .3rem; top: 0; line-height: 1rem;}
.clear_inp{display: block; width: .34rem; height: .34rem; background: url(../images/clear.png) no-repeat center/cover; flex-shrink: 0; margin-right: -.08rem;}
.searchpage dl{margin: 0 .27rem 0;}
.searchpage dl.hot{margin-top:.74rem;}
.searchpage dl.hot dt{font-size: .34rem; color: #00AF62; font-weight: bold; margin-bottom: .32rem; }
.searchpage dl.hot dt span{display: inline-block; position: relative; z-index: 2}
.searchpage dl.hot dt span::after{content:''; display: block; height: .16rem; border-radius: .08rem; background: #D8F9EA; position: absolute; left: 0; right: -.08rem; bottom: .02rem; z-index: -1; }
.searchpage .history{margin-top: .3rem;}
.searchpage .history dt{font-size: .32rem; color: #333; font-weight: bold; margin-bottom: .28rem; display: flex; align-items: center; justify-content: space-between;}
.searchpage .history dt .del_btn{display: block; width: .4rem; height: .4rem; background: url(../images/del_btn.png) no-repeat center/cover;}
.searchpage dd{display: inline-block; line-height: .6rem; border-radius: .3rem; background: #F5F6F8; padding: 0 .34rem; margin-bottom: .18rem; margin-right: .16rem;}
.searchpage dd a{color: #333;}
.searchpage dd.hot a::before{content: ''; display: inline-block; width: .3rem; height: .3rem; background: url(../images/hot.png) no-repeat center/cover; vertical-align: middle; margin-right: .04rem; margin-bottom: .06rem;}

.tabType{height:1rem; padding-left: .4rem; margin-top: -.2rem; border-bottom: solid 1px #f5f5f7; overflow-x: auto;}
.tabType ul{white-space: nowrap;}
.tabType li{display: inline-block; line-height: 1rem; font-size: .28rem; color: #333; margin-right: .54rem;}
.tabType li.on_tab{font-size: .32rem; color: #000; position: relative; font-weight: bold; }
.tabType li.on_tab::after{content: ''; display: block; width: .36rem; height: .06rem;
background: linear-gradient(90deg, #F45E2C 0%, #FF8822 100%); position: absolute; bottom:.22rem; left: 0; right: 0; margin: auto;}
.noData {padding-top: .88rem;}
.noData .noimg{width: 3.08rem; margin: auto;}
.noData .noimg img{display: block; width: 100%;}
.noData p{color: #999; margin-top: .58rem; text-align: center;}
.list li{border-bottom: solid 1px #f5f5f7;}
.list .litpic{position: relative; width: 2.78rem; height: 1.88rem; border-radius: .08rem; background: #f5f5f5; float: left;}
.list .litpic img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: .08rem;}
.list a{display: block; padding: .24rem .2rem .28rem .24rem; background: #fff;}
.list li .detail{ margin-left: 3.04rem; height: 1.88rem; position:relative;}
.list li .detail .address{color: #A0A0A0; font-size: .2rem; position: absolute; bottom: .06rem; left: 0; right: 0;}
.list li .detail h2{font-size: .28rem; color: #333; font-weight: bold;}
.list li.noHasAddr .detail h2{display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; }
.list li.hasAddr .detail h2{ white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.list li .detail .labs{margin-top: .08rem;}
.list li .detail .labs span{display: inline-block; line-height: .32rem; border-radius: .04rem; background: #DFE2EA; color: #9AA2B7; font-size: .2rem; margin-right: .06rem; padding: 0 .08rem;}
.typename{position: absolute; left: 0; right: 0; bottom: 0; line-height: .4rem; text-align: center; color: #fff; color: .22rem; background: rgba(0,0,0,.8); border-radius: 0 0 .08rem .08rem;}
.list li .detail .flexAddr{display: flex; align-items: center; justify-content: space-between;}
.list li .detail .price{font-size: .24rem; color: #A0A0A0; margin-top: .3rem;}
.list li.noHasAddr .price{margin-top: 0}
.list li .detail .price span{color: #F53111}
.list li .detail .price b{font-size: .32rem; font-weight: bold;}
.lt_lab{position: absolute; left: 0; top: 0; background: #FDC224; color: #fff; line-height: .36rem; border-radius: .08rem 0 0 0; padding: 0 .08rem;}
[v-clock]{display: none !important;}
.loading{text-align: center; color: #999; padding: .5rem;}
.txt{font-size: .22rem; color: #A0A0A0; margin-bottom: .1rem;}
