.container ul.list li{height: 619px;}
.container ul.list li .info{padding: 18px 20px;}
.container ul.list li .info p.name{font-size: 24px;color: rgb(31, 32, 33);font-weight: bold;margin-bottom: 10px;width: 240px;overflow: hidden;height: 36px}
.container ul.list li .info p.time{font-size: 14px;color: rgb(83, 86, 89);line-height: 36px;}
/*分页*/
.pagination {padding: 10px 0 30px; text-align: center; line-height: 32px; font-size: 14px; color: #666; margin-top: 30px;}
.pagination li {display: inline-block; margin-right: 7px; background-color:#fff;border: 1px solid  #D9D9D9;border-radius: 3px}
.pagination li.page_disabled {display: none;}
.pagination li a, .pagination li span {display: block; padding: 0 10px;color:#797a82;}
.pagination li a:hover ,.pagination li.page_current span {background: #FB5845; color: #fff;}
.pagination li.page_more span {background: #fff;color: #797a82; cursor: default;}
.pagination .page_info {display: none;}

.container ul.list li.failed{width: 100%;text-align: center;padding-top: 120px;font-size: 16px;}
.container ul.list li.failed img{display: block;margin: 0 auto 40px;}
