.header-search {visibility: hidden;}
body,html{background: #F6F5F5;}
/*内容*/
.order-info{font-size: .34rem;padding-top: .2rem;}
.order-name,.order-num,.order-price,.order-fare{height: 1rem;border-bottom: 1px solid #ebebeb;line-height: 1rem;background: #fff;padding: 0 .2rem;}
.name-l{float: left;color: #969696;}
.name-r{float: right;}
.order-num .name-r span,.order-num .name-r input{border: 1px solid #969696;display: block;float: left;padding: 0 .2rem;line-height: .6rem;margin-top: .2rem;width: .4rem;outline: 0;text-align: center;}
.order-num .name-r input.num-account{width: .6rem; border-left: 0;border-right: 0;font-size: .32rem;-webkit-appearance:none;border-radius: 0}
.order-name .name-l{width: 70%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

/*绑定手机号*/
.band{background: #fff;padding-top: .2rem;line-height: 1rem;font-size: .34rem;text-align: right;}
.band em {position: relative; z-index: 1; float: left; margin-left: .2rem;}
.band a{position: relative; z-index: 2; display: block;padding-right: .2rem;}

/*登录后*/
.band-tit{height: 1rem;padding: 0 .2rem;}
.band-change{height: 1rem;padding: 0 0 0 .2rem;background: #fff;border-top: 1px solid #ebebeb;}

/*提交订单*/
.submit{background: #f90;font-size: .32rem;text-align: center;height: 1rem;line-height: 1rem;width: 100%;max-width: 1080px;margin-top: .3rem;}
.submit a{display: block;color: #fff;}

/*快递无地址*/
.order-address{margin-top: .2rem;background: #fff;font-size: .32rem;}
.order-address .address-tit{height: .8rem;line-height: .8rem;padding-left: .2rem;color: #969696;border-bottom: 1px solid #ebebeb;}
.address-add,.delivery-day{height: 1rem;line-height: 1rem;border-bottom: 1px solid #ebebeb;padding: 0 .2rem;}
.address-add a,.delivery-day a{display: block;}
.remark{margin-top: .2rem;border-top: 1px solid #ebebeb;border-bottom: 1px solid #ebebeb;background: #fff;padding: .2rem 0;}
.remark input{border: 0;outline: 0;font-size: .3rem;overflow:scroll;width: 90%;padding-left: .2rem;}

/*快递有地址*/
.address-change{background: #fff;}
.address-change a{display: block;position: relative;padding: .2rem;}
.address-change .name-l{width: 90%;}
.address-change .name-r{position: absolute;right: .2rem;top: 27%;}
.order-day{background: #fff;margin-top: .2rem;font-size: .32rem;}
.order-day a{display: block;}
.order-day .day-tit{height: .8rem;line-height: .8rem;padding-left: .2rem;color: #969696;border-bottom: 1px solid #ebebeb;}
.order-day .day-change{position: relative; height: 1rem;line-height: 1rem;padding: 0 .2rem;}
.order-day .day-change .name-l{position: relative; width: 100%; z-index: 2;}
.order-day .day-change .name-l select{height: .9rem;width: 100%;outline: 0;border: 0;background: transparent;font-size: .32rem;-webkit-appearance:none;}
.order-day .day-change .day-r{position: absolute;right: .2rem;z-index: 1;}



/* 新增 20210730*/
.bottomFixed{position: fixed; left: 0; right: 0; bottom: 0; height: 1rem; background: #fff; display: flex; align-items: center; justify-content: space-between;}
.bottomFixed .left_price{font-size: .28rem; color: #333; padding-left: .35rem;}
.bottomFixed .left_price span{color: #E73A53; font-size: .36rem; font-weight: bold;}
#submit{text-align: center; display: block; width: 1.8rem; background: #FF990F; font-size: .32rem; height: 1rem; color: #fff; line-height: 1rem; padding: 0 .2rem;}
.integral{color: #60656F; font-size: .28rem; height: .9rem; margin-top: .3rem; background: #fff; border-bottom: solid 1px #f5f5f7; display: flex; align-items: center; justify-content: space-between; padding: 0 .14rem 0 .18rem;}
.integral .left{display: flex; align-items: center;}
.integral .left::before{content: ''; display: block; width: .44rem; height: .44rem; background: url(/templates/member/touch/images/jifen_icon.png) no-repeat center/cover;  margin-right: .14rem}
.integral .gou{display: block; width: .48rem; height: .48rem; background: url(/templates/member/touch/images/gou_gray.png) no-repeat center/cover;}
.integral .gou.hasgou{background-image: url(/templates/member/touch/images/gou_yew.png) }
