<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>公告列表-{#$shop_title#}</title>
<meta name="keywords" content="{#$shop_keywords#}"/>
<meta name="description" content="{#$shop_description#}"/>
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico?v={#$cfg_staticVersion#}" type="image/x-icon"/>
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all"/>
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all"/>
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/news.css?v={#$cfg_staticVersion#}" media="all"/>
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$shop_channelDomain#}';

	var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}', cookieDomain = '{#$cfg_cookieDomain#}';
</script>
</head>

<body class="w1200">
{#$noEntrue=1#}
{#include file="top.html"#}

<div class="bread">
	<p><a href="{#$shop_channelDomain#}">{#$langData['siteConfig'][0][0]#}</a>><a href="javascript:;">公告列表</a></p>
</div>

<div class="content fn-clear">
	<div class="news-left left">
		<div class="all">
			<ul>
				{#shop action="notice" page={#$_page#} pageSize="15"#}
				<li>
					<h3><a href="{#if $row.redirecturl#}{#$row.redirecturl#}{#else#}{#$row.url#}{#/if#}" title="{#$row.title#}" target="_blank">{#$row.title#}</a></h3>
					<dl>
						{#if $row.litpic != ""#}<dt class="left"><a href="{#$row.url#}" target="_blank" title="{#$row.title#}"><img src="{#$row.litpic#}"></a></dt>{#/if#}
						<dd class="left"><p>{#$row.note#}... <a href="{#$row.url#}" target='_blank'>[{#$langData['siteConfig'][19][568]#}]</a></p><span>{#$row.pubdate|date_format:"%Y-%m-%d"#}</span></dd>
					</dl>
				</li>
				{#/shop#}
				{#if $pageInfo.totalCount == 0#}
				<li class="empty">{#$langData['shop'][5][57]#}</li>
				{#/if#}
			</ul>
		</div>
		<!-- 分页 -->
		{#getPageList service='shop' template='announcement'#}

	</div>

	<div class="news-right right">
		<div class="hot">
			<h3>特价秒杀<span></span><em></em></h3>
			<ul class="miaosha">
				{#shop action="proHuodongList" huodongtype="2" return="l1" huodongstate="1"#}
				{#if $_bindex.l1<=10#}
				<li class="item"><i{#if $_bindex.l1 < 4#} class="on"{#/if#}>{#$_bindex.l1#}</i><a href="{#$l1.url#}" title="{#$l1.title#}" target="_blank">{#$l1.title#}</a></li>
				{#/if#}
				{#/shop#}
                {#if $pageInfo.totalCount == 0#}
				<li class="empty">{#$langData['shop'][5][54]#}</li>
                {#/if#}
			</ul>
		</div>
		<div class="hot">
			<h3>砍价狂欢<span></span><em></em></h3>
			<ul class="cutPrice">
				{#shop action="bargainingList" return="l2"#}
				{#if $_bindex.l2<=10#}
				<li class="item"><i{#if $_bindex.l2 < 4#} class="on"{#/if#}>{#$_bindex.l2#}</i><a href="{#getUrlPath service='shop' template='detail' id=$l2.id#}" title="{#$l2.title#}" target="_blank">{#$l2.title#}</a></li>
				{#/if#}
				{#/shop#}
                {#if $pageInfo.totalCount == 0#}
				<li class="empty">{#$langData['shop'][5][54]#}</li>
                {#/if#}
			</ul>
		</div>
		<div class="hot">
			<h3>拼团特惠<span></span><em></em></h3>
			<ul class="pinDiscount">
				{#shop action="proHuodongList" huodongtype="2" return="l3"#}
				{#if $_bindex.l3<=10#}
				<li class="item"><i{#if $_bindex.l3 < 4#} class="on"{#/if#}>{#$_bindex.l3#}</i><a href="{#$l3.url#}" title="{#$l3.title#}" target="_blank">{#$l3.title#}</a></li>
				{#/if#}
				{#/shop#}
                {#if $pageInfo.totalCount == 0#}
				<li class="empty">{#$langData['shop'][5][54]#}</li>
                {#/if#}
			</ul>
		</div>
	</div>
</div>


{#include file="bottom.html"#}
</body>
<script>
	$(function () {
		// 右侧活动推荐处理
		let arrActivity = ['miaosha', 'cutPrice', 'pinDiscount'];
		for (let i = 0; i < arrActivity.length; i++) {
			let item = arrActivity[i];
			if (!$(`.${item} .item`)[0]) {
				$(`.${item} .empty`).show();
			}
		}
	})
</script>
</html>
