<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<title>热门商圈-{#$shop_title#}</title>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/shangquan.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type='text/javascript' src='{#$cfg_basehost#}/include/json.php?action=lang'></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$shop_channelDomain#}',staticPath = '{#$cfg_staticPath#}',templets_skin = '{#$templets_skin#}';
	var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}', cookieDomain = '{#$cfg_cookieDomain#}';
	jQuery = $;
</script>
</head>

<body class="w1200">
{#$pageCurr = 'shangquan'#}
{#include file="top.html"#}

<div class="mainWrap listWrap">
	<div class="bgWrap">
		<h1>热门商圈</h1>
		<h3>Business circle</h3>
	</div>
	<div class="wrap busiWrap">
		<!-- 商圈区域 s -->
		<div class="busiArea fn-clear">
			<label for="">商圈区域</label>
			<ul class="areaList fn-clear">
				<li class="addr_li curr" data-addrid="" data-lng="" data-lat="">全部</li>
				{#siteConfig action="addr" addtype="1" type=$siteCityInfo['cityid'] return="addr"#}
				<li class="addr_li" data-addrid="{#$addr.id#}" data-lng="{#$add.longitude#}" data-lat="{#$add.latitude#}">{#$addr.title#}</li>
				{#/siteConfig#}
			</ul>
		</div>
		<!-- 商圈区域 e -->

		<!-- 筛选 排序  搜索s -->
		<div class="shaiBox fn-clear">
			<div class="left_shai fn-left">
				<a href="javascript:;" class="rec curr">人气推荐<s></s></a>
				<a href="javascript:;" class="closeTo">离我最近<s></s></a>
			</div>
			<div class="right_search  fn-right">
				<input type="search" placeholder="搜索商户名、商场名">
				<a href="javascript:;" class="searchBtn"></a>
			</div>
		</div>
		<!-- 筛选 排序 e -->

		<div class="listBox">
			<ul class="fn-clear">
				<li>
					<a href="#" class="busi fn-clear">
						<div class="busi_img">
							<img src="" alt="" onerror="this.src='/static/images/404.jpg'">
								<span class="shopLen">5家好店</span>
						</div>
						<div class="busi_info">
							<h2>苏州现代传媒广场商业区</h2>
							<div class="labs"><span>交通便利</span><span>交通便利</span><span>交通便利</span></div>
							<p class="yy_time"><s></s>营业时间: 08:00-22:00</p>
							<p class="yy_addr"><s></s>苏州市工业园区神湖路588号新未来花园苏州市工业园区神湖路588号新未来花园</p>
						</div>
						<div class="btn_go">去逛逛</div>
					</a>
				</li>
				<li>
					<a href="#" class="busi fn-clear">
						<div class="busi_img">
							<img src="" alt="" onerror="this.src='/static/images/404.jpg'">
								<span class="shopLen">5家好店</span>
						</div>
						<div class="busi_info">
							<h2>苏州现代传媒广场商业区</h2>
							<div class="labs"><span>交通便利</span><span>交通便利</span><span>交通便利</span></div>
							<p class="yy_time"><s></s>营业时间: 08:00-22:00</p>
							<p class="yy_addr"><s></s>苏州市工业园区神湖路588号新未来花园...</p>
						</div>
						<div class="btn_go">去逛逛</div>
					</a>
				</li>
				<li>
					<a href="#" class="busi fn-clear">
						<div class="busi_img">
							<img src="" alt="" onerror="this.src='/static/images/404.jpg'">
								<span class="shopLen">5家好店</span>
						</div>
						<div class="busi_info">
							<h2>苏州现代传媒广场商业区</h2>
							<div class="labs"><span>交通便利</span><span>交通便利</span><span>交通便利</span></div>
							<p class="yy_time"><s></s>营业时间: 08:00-22:00</p>
							<p class="yy_addr"><s></s>苏州市工业园区神湖路588号新未来花园...</p>
						</div>
						<div class="btn_go">去逛逛</div>
					</a>
				</li>
				<li>
					<a href="#" class="busi fn-clear">
						<div class="busi_img">
							<img src="" alt="" onerror="this.src='/static/images/404.jpg'">
								<span class="shopLen">5家好店</span>
						</div>
						<div class="busi_info">
							<h2>苏州现代传媒广场商业区</h2>
							<div class="labs"><span>交通便利</span><span>交通便利</span><span>交通便利</span></div>
							<p class="yy_time"><s></s>营业时间: 08:00-22:00</p>
							<p class="yy_addr"><s></s>苏州市工业园区神湖路588号新未来花园...</p>
						</div>
						<div class="btn_go">去逛逛</div>
					</a>
				</li>
			</ul>
		</div>
	</div>

</div>

{#include file="bottom.html"#}
<script>
	var atpage = 1,
		keywords = '{#$keywords#}',
		pageSize = 12;
</script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js"></script>
<script src="{#$templets_skin#}js/common.js?v={#$cfg_staticVersion#}" type="text/javascript"></script>
<script src="{#$templets_skin#}js/shangquan.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
