<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<meta charset="UTF-8">
<title>{#$detail_title#}-{#$shop_title#}</title>
<meta name="keywords" content="{#$shop_keywords#}"/>
<meta name="description" content="{#$shop_description#}"/>
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico?v={#$cfg_staticVersion#}" type="image/x-icon"/>
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/store-detail-tuan.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
    var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$shop_channelDomain#}';
    var storeid = {#$detail_id#};
    var id = {#$detail_id#};
    var imconfig = {
    	chatid :'{#$detail_userid#}',
    }
    var pageData = {
        id: "{#$detail_id#}",
        title: "{#$detail_title#}",
        address: "{#if $detail_address#}{#$detail_address#}{#else#}{#$detail_addr[$detail_addr|count-2]#} {#$detail_addr[$detail_addr|count-1]#}{#/if#}",
        lat: "{#$detail_lat#}",
        lng: "{#$detail_lng#}",
        mapType: '{#$site_map#}',
        mapKey: '{#$site_map_key#}'
    };
    var serviceTime = '{#$smarty.now#}';
    var site_map = "{#$site_map#}", site_map_key = '{#$site_map_key#}';
</script>
</head>

<body class="w1200">
  {#$pageCurr = 'store-detail'#}
{#include file="top.html"#}
<script type="text/javascript" src="{#$templets_skin#}/js/designpicd.js?v=1653290957"></script>
<div class="mianWrap">
  <div class="wrap">
    <div class="bread">
      <p><a href="{#$shop_channelDomain#}" target="_blank">{#$langData['siteConfig'][0][0]#}</a> >
        <a href="{#$shop_channelDomain#}/search_list.html?stype=shop&typeid={#$detail_industryid#}">{#$detail_industry#}</a> 
        >
        <a href="javascript:;">{#$detail_title#}</a>
      </p>
    </div>
    
    <!-- 店铺信息 -->
    <div class="shopDet fn-clear">
      <div class="shopDetCon fn-left">
        <div class="shopTop">
          <h2>{#$detail_title#}</h2>
          <p class="hpbox">            
            {#$rateArr = "%"|explode:$detail_rating#}
            {#$ratePoint = ($rateArr[0]/20)|string_format:"%.1f"#}
            <span class="haoping"><i></i><span>{#if $atePoint <= 0#}<em >暂无评分</em>{#else#}{#$ratePoint#}{#/if#}</span></span>
            {#if $detail_certi == 1#}<span class="renzheng"></span>{#/if#}
          </p>
          <div class="other">
            <!-- {#if $detail_merchant_deliver == 1 || $detail_distribution == 1#}
              {#if $detail_merchant_deliver == 1#}<span>商家配送</span>{#else#}<span>平台配送</span>{#/if#}
            {#/if#}

            {#if $detail_toshop == 1#}
            <span>到店消费</span>
            {#/if#}
            {#if $detail_express == 1#}
            <span>快递</span>
            {#/if#} -->
            
            {#foreach from= $detail_facilityarr item=facility#}
            <em>{#$facility#}</em>
            {#/foreach#}
          </div>

        </div>
        <div class="shopBot">
          <dl><dt>商家电话：</dt><dd>{#$detail_tel#}</dd></dl>
          <dl><dt>商家地址：</dt><dd>{#$detail_address#}<a href="javascript:;" target="_blank" class="appMapBtn"><i></i>查看地图</a></dd></dl>
          {#if $detail_periodarr#}<dl><dt>营业时间：</dt><dd>{#join(',',$detail_periodarr)#}</dd></dl>{#/If#}
        </div>
        <div class="conBtn">
          <a href="javascript:;" class="chat_to-Link contact" data-type="user"><s></s>在线联系</a>
          {#if $detail_collect != 1#}
          <a href="javascript:;" class="soucang"><s></s>关注商家</a>
          {#else#}
          <a href="javascript:;" class="soucang has"><s></s>已关注</a>
          {#/if#}
        </div>
      </div>
      {#$imgpath = ''#}
      {#if $detail_litpicpath#}
      {#$imgpath = $detail_litpicpath#}
      {#else#}
      {#$imgpath = $detail_pics[0].path#}
      {#/if#}
      <div class="shopLip fn-right">
        <div class="shopImg"><img src="{#changeFileSize url=$imgpath width='680' height='310'#}" onerror="this.src='/static/images/404.jpg'" alt=""></div>
        <p><i></i><span>{#$detail_pics|@count#}</span></p>
      </div>
      
    </div>
    <div class="mainCon fn-clear">
      <div class="fn-left leftCon">

        {#if $detail_padvertisear#}
        <div class="guanggBox">
          <div class="slideBox" id="slideBox1">                     
            <div class="bd">
              <ul class="fn-clear">
                {#foreach from=$detail_padvertisear item="adv"#}                 
                <li>
                  <div class="siteAdvObj">
                    <a href="{#if $adv.link!=""#}{#$adv.link#}{#else#}javascript:;{#/if#}">
                      <img src="{#changeFileSize url=$adv['picpath'] width='1780' height='300'#}" width="100%" height="" alt="">
                    </a>
                  </div>
                </li>
                {#/foreach#}
              </ul>
            </div> 
          </div>
        </div>
        {#/if#}
        <div class="activity">
            {#if $detail_huodongarr#}
			{#$huodongtypearr = array_column($detail_huodongarr,'huodongtype')#}
            {#else#}
            {#$huodongtypearr = array()#}
            {#/if#}
			{#$hdNum = 0#}
			{#if $detail_huodongarr #}
				{#if in_array('1',$huodongtypearr) || in_array('2',$huodongtypearr) || in_array('4',$huodongtypearr)#}
                <div class="baoreBox fn-clear">
                <div class="titTop"><strong>爆热活动</strong><s></s></div>
                <div class="slideBox" id="slideBox2">                     
                    <div class="bd">
                        <ul>
                        <!-- detail_explosionidarr 商家设置的主页活动商品展示 -->
                        {#$i = 0#}
                        {#foreach from=$detail_huodongarr key = k item=huodong#}
                        {#if in_array($huodong['pid'],$detail_explosionidarr)#}
                        {#$nowtime = time()#}
                        <li class="{#if $huodong.huodongtype ==1 || $huodong.huodongtype ==2#} xianshi {#elseif $huodong.huodongtype== 4#} pintuan{#else#}kanjia {#/if#}" >
                            <a href="{#getUrlPath service='shop' template='detail'  id={#$huodong.pid#}#}">
                            <div class="saleImg"><img src="{#changeFileSize url=$huodong['litpic'] width='260' height='260'#}" alt="" onerror="javascript:this.src='{#$cfg_staticPath#}images/noPhoto_100.jpg';this.onerror=this.src='{#$cfg_staticPath#}images/good_default.png';"></div>
                            <div class="{#if $huodong.huodongtype ==4#}hd_info{#else#}saleInfo{#/if#}">
                                <h2>{#$huodong.title#}</h2>
                                {#if $huodong.huodongtype ==4#}
                                <!-- 未开始 -->
                                {#if $nowtime < $huodong.ktime#}
                                <div class="ptdjs" data-time="{#$huodong.ktime#}"><span class="day">00</span><em class="daypot">天</em><span class="hour">00</span><em class="hourpot">时</em><span class="minute">00</span><em>分</em><i>后开始</i></div>
                                {#else#}
                                <div class="pt_list">
                                    <ul>
                                    {#foreach from=$huodong.huodongjoinarr item=pic#}
                                    <li><img src="{#changeFileSize url=$pic['photopath'] width='60' height='60'#}" alt="" onerror="this.src='/static/images/404.jpg'"></li>
                                    {#/foreach#}
                                    </ul>
                                    <p><span>{#$huodong.huodongjoinnum#}</span>人已参团</p>
                                    
                                </div>
                                {#/if#}
                                {#/if#}
                                {#if $huodong.huodongtype ==3#}
                                <!-- 未开始 -->
                                {#if $nowtime < $huodong.ktime#}
                                <div class="ptdjs" data-time="{#$huodong.ktime#}"><span class="day">00</span><em class="daypot">天</em><span class="hour">00</span><em class="hourpot">时</em><span class="minute">00</span><em>分</em><i>后开始</i></div>
                                {#elseif $huodong.ktime <= $nowtime && $huodong.etime >$nowtime#}
                                <div class="ptdjs" data-time="{#$huodong.etime#}"><span class="day">00</span><em class="daypot">天</em><span class="hour">00</span><em class="hourpot">时</em><span class="minute">00</span><em>分</em><i>后结束</i></div>
                                {#/if#}
                                {#/if#}
                                <div class="salePrice">              
                                {#$priarr = explode('.', $huodong.huodongprice)#}
                                {#if $huodong.huodongtype ==3#}
                                <p class="oldPrice"><s>{#echoCurrency type='symbol'#}{#$huodong.mprice#}</s></p> 
                                <p class="newPrice">{#echoCurrency type='symbol'#}<span>{#$priarr[0]#}</span><em>.{#$priarr[1]#}</em><i>可砍至</i></p>
                                {#else#}
                                <p class="newPrice">{#echoCurrency type='symbol'#}<span>{#$priarr[0]#}</span><em>.{#$priarr[1]#}</em></p>
                                <p class="oldPrice"><s>{#echoCurrency type='symbol'#}{#$huodong.mprice#}</s></p>   
                                {#/if#}   
                                </div>
                                {#$cls = ''#}
                                {#$clstxt = ''#}
                                {#$pintxt = ''#}
                                {#$kantxt = ''#}
                                {#if $nowtime > $huodong.etime#} 
                                <!-- 已经结束 -->
                                {#$cls = 'disabled'#}
                                {#$clstxt = '活动已结束~'#}
                                {#$pintxt = '已结束'#}
                                {#$kantxt = '已结束'#}
                                {#elseif $huodong.ktime <= $nowtime && $huodong.etime >$nowtime#}
                                {#$clstxt = '活动中'#}
                                {#$pintxt = '去拼团'#}
                                {#$kantxt = '立即砍价'#}
                                {#else#}
                                {#$clstxt = '预热中'#}
                                {#$pintxt = '提前加购'#}
                                {#$kantxt = '提前看看'#}
                                {#/if#}
                                {#if $huodong.huodongtype ==2#}
                                <div class="huod {#$cls#}">
                                <p class="huodTxt">限时秒杀</h3>
                                <p class="huodState">{#$clstxt#}</h3>
                                </div>
                                {#else if $huodong.huodongtype ==1#}
                                <div class="huod qg {#$cls#}">
                                <p class="huodTxt">限时抢购</h3>
                                <p class="huodState">{#$clstxt#}</h3>
                                </div>
                                {#else if $huodong.huodongtype ==4#}
                                <span class="btn_pin {#$cls#}">{#$pintxt#}</span>
                                {#else if $huodong.huodongtype ==3#}
                                <span class="btn_pin {#$cls#}">{#$kantxt#}</span>
                                {#/if#}
                            </div>
                            </a>
                        </li>
                            {#$hdNum = $hdNum + 1#}
                        {#/if#}
                        {#/foreach#}
                        </ul>
                    </div>
                    <a class="prev" href="javascript:;"></a>
                    <a class="next" href="javascript:;"></a>
                </div>
                </div>
                {#/if#}
            {#else#}
            <div class="saleOne">
              <div class="titTop2"></div>
              {#shop action="slist" return="list" orderby=1 store="{#$detail_id#}" pageSize=1 page=1 #}
              <div class="saleGoods">
                <a href="{#$list.url#}">
                  <div class="saleImg"><img src="{#changeFileSize url=$list['litpic'] width='260' height='260'#}" alt="" onerror="javascript:this.src='{#$cfg_staticPath#}images/noPhoto_100.jpg';this.onerror=this.src='{#$cfg_staticPath#}images/404.jpg';"></div>
                  <div class="saleInfo">
                    <h2>{#$list.title#}</h2>
                    <span class="cutdown">立省{#$list.mprice-$list.price#}</span>
                    <div class="salePrice fn-clear">  
                      {#$priceArr = "."|explode:$list.price#}       
                      <p class="newPrice">{#echoCurrency type='symbol'#}<span>{#$priceArr[0]#}</span><em>.{#$priceArr[1]#}</em></p>
                      <p class="oldPrice"><s>{#echoCurrency type='symbol'#}{#$list.mprice#}</s></p>     
                    </div>
                    <span class="qg">立即加购</span>
                    <p class="ttsale">消费{#$list.sales#}</p>
                  </div>
                </a>
              </div>
              {#/shop#}
            </div>
            {#/if#}
        </div>

        <div class="comCon daodain">
          <div class="comTit">
            <strong class="daodian">到店优惠<em></em></strong>
          </div>
          <ul class="proList fn-clear">
            {#$n = 0#}
            {#shop action="slist" store="{#$detail_id#}" moduletype="3" page="1" pageSize="99"#}
            <li {#if $n > 1#}class="fn-hide"{#/if#}><a href="{#$row.url#}">
              <div class="leftImg"><img src="{#changeFileSize url=$row['litpic'] width='260' height='260'#}" alt="" onerror="javascript:this.src='{#$cfg_staticPath#}images/noPhoto_100.jpg';this.onerror=this.src='{#$cfg_staticPath#}images/good_default.png';"></div>
              <div class="rInfo">
                <h3>{#$row.title#}</h3>
                <div class="godPrice">
                  <span class="nprice">{#echoCurrency type='symbol'#}<strong>{#$row.price#}</strong></span>
                  <s class="mprice">{#echoCurrency type='symbol'#}{#$row.mprice#}</s>
                </div>
                <p class="xiaof">消费{#$row.sales#}</p>
                <span class="qgnow">立即抢购</span>
              </div>
            </a></li>
            {#$n = $n+1#}
            {#/shop#}
          </ul>
          {#if $pageInfo.totalCount < 1#}
          <div class="loading">暂无到店优惠商品</div>
          {#else if $pageInfo.totalCount > 2#}
          <a href="javascript:;" class="seeAll">查看全部<i></i></a>
          {#/if#}
          
        </div>
        <div class="comCon sameCity">
          <div class="comTit">
            <strong class="tongcheng">同城配送<em></em></strong>
            <span>即刻下单，最快30分钟送达！</span>
          </div>
          <ul class="proList fn-clear">
            {#$n = 0#}
            {#shop action="slist" store="{#$detail_id#}" moduletype="5" page="1" pageSize="99"#}
            <li {#if $n > 1#}class="fn-hide"{#/if#}><a href="{#$row.url#}">
              <div class="leftImg"><img src="{#changeFileSize url=$row['litpic'] width='260' height='260'#}" alt="" onerror="javascript:this.src='{#$cfg_staticPath#}images/noPhoto_100.jpg';this.onerror=this.src='{#$cfg_staticPath#}images/good_default.png';"></div>
              <div class="rInfo">
                <h3>{#$row.title#}</h3>
                <div class="godPrice">
                  <span class="nprice">{#echoCurrency type='symbol'#}<strong>{#$row.price#}</strong></span>
                  <s class="mprice">{#echoCurrency type='symbol'#}{#$row.mprice#}</s>
                </div>
                <p class="xiaof">消费{#$row.sales#}</p>
                <span class="qgnow">立即抢购</span>
              </div>
            </a></li>
            {#$n = $n+1#}
            {#/shop#}
          </ul>
          {#if $pageInfo.totalCount < 1#}
          <div class="loading">暂无同城配送商品</div>
          {#else if $pageInfo.totalCount > 2#}
          <a href="javascript:;" class="seeAll">查看全部<i></i></a>
          {#/if#}
          
        </div>
        <div class="comCon storeInfo">
          <div class="comTit">
            <strong>店铺信息<em></em></strong>
          </div>
          <div class="shopDetCon2">
            {#if $detail_note#}
            <dl>
              <dt>店铺介绍：</dt>
              <dd><div class="shopdetInfo">{#$detail_note#}</div></dd>
            </dl>
            {#/if#}
            {#if $detail_tel#}
            <dl><dt>客服电话：</dt><dd>{#$detail_tel#}</dd></dl>
            {#/if#}
            {#if $detail_qq#}
            <dl><dt>联系QQ：</dt><dd>{#$detail_qq#}</dd></dl>
            {#/if#}
            {#if $detail_wechatcode#}
            <dl class="fn-hide"><dt>微信号：</dt><dd>{#$detail_wechatcode#}</dd></dl>
            {#/if#}
            {#if $detail_wechatqr#}
            <dl class="shopWxcode"><dt>微信二维码：</dt>
              <dd><div class="wxcodeImg"><img src="{#$detail_wechatqr#}" alt=""></div></dd>
            </dl>
            {#/if#} 
            
           
            {#foreach from=$detail_authattrtypearr item=v#}
            <dl class="shopzzImg fn-hide"><dt>{#$v.typename#}：</dt>
              <dd><div><img src="{#changeFileSize url=$v['imagesource'] width='328' height='204'#}" onerror="this.src='/static/iamges/404.jpg'" alt="" onerror="this.src='/static/images/404.jpg'"></div></dd>
            </dl>
            {#/foreach#}
            
          </div>
          <a href="javascript:;" class="seeAll seeSt">查看全部<i></i></a>
        </div>
      </div>
      <!-- 右侧 -->
      <div class="fn-right rightCon">
        <div class="sudBox"><a href="{#getUrlPath service='shop' template='store-express' id=$detail_id#}" target="_blank"><img src="{#$templets_skin#}images/store/sudi.png" alt=""></a></div>
        <div class="tjCon">
          <div class="comTit">
            <strong>新品上架<em></em></strong>
          </div>
          <ul class="tjList">
            {#shop action="slist" store="{#$detail_id#}" orderby="5" page="1" pageSize="5"#}
            <li><a href="{#$row.url#}">
              <div class="leftImg"><img src="{#changeFileSize url=$row['litpic'] width='180' height='180'#}" alt="" onerror="javascript:this.src='{#$cfg_staticPath#}images/noPhoto_100.jpg';this.onerror=this.src='{#$cfg_staticPath#}images/good_default.png';"></div>
              <div class="rInfo">
                <h3>{#$row.title#}</h3>
                <p class="saddr">{#$row.typename#} {#if $row.alladdr#}{#$row.alladdr[$row.alladdr|count-1]#}{#/if#}</p>
                <div class="godPrice">
                  <span class="nprice">{#echoCurrency type='symbol'#}<strong>{#floatval($row.price)#}</strong>起</span>
                </div>
              </div>
            </a></li>
            {#/shop#}
          </ul>
          {#if $pageInfo.totalCount < 1#}
          <div class="loading">暂无推荐商品</div>
          {#/if#}
        </div>
      </div>
      
    </div>

    <!-- 店铺图片s -->
    <div class="slide-box">
      <div class="slide">
        <span class="close"><img src="{#$templets_skin#}/images/close1.png"></span>
        <div id="slide-big">
           {#foreach from=$detail_pics item='pic' key='k'#}
            <div class="big-item big-item-{#$k#}" data-load="load"><div class="slideinfo"><h3></h3></div><div class="big-pic"><i></i><img src="{#changeFileSize url=$pic['path'] width='800' height='800'#}" alt=""></div></div>
          {#/foreach#}
          
        </div>

          <span class="num"><em>1</em>/{#count($detail_pics)#}</span>
        <a href="javascript:;" class="prev" id="slidebtn_prev"><s></s></a>
        <a href="javascript:;" class="next" id="slidebtn_next"><s></s></a>
        <div id="slide_small">
          <div class="spbox">
              <div class="picsmall fn-clear">
                {#foreach from=$detail_pics item='pic' key='k'#}
                <a href="javascript:;" data-bigpic="{#changeFileSize url=$pic['path'] width='800' height='800'#}"><img src="{#changeFileSize url=$pic['path'] width='84' height='87'#}"></a>
                {#/foreach#}
                
              </div>
          </div>
          <a href="javascript:;" class="prev disabled" id="slidebtn2_prev"><s></s></a>
          <a href="javascript:;" class="prev disabled" id="slidebtn2_next"><s></s></a>
        </div>
      </div>
    </div>
    <!-- 店铺图片e -->
  </div>
</div>

<!--底部 s-->
{#include file="bottom.html"#}
<!--底部 e-->
<script type="text/javascript" src="{#$site_map_apiFile#}"></script>
{#if $site_map != "amap"#}
<script type="text/javascript" src="{#$site_map_amap_apiFile#}" charset="utf-8"></script>
{#/if#}
<script src="{#$cfg_staticPath#}js/publicOpenMap.js?v={#$cfg_staticVersion#}"></script>

<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js"></script>
<script src="{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.scroll.loading.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/store-detail-tuan.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
