/*tab切换*/
.sresult{height: 56px;line-height: 56px;font-size: 14px;color: #666;}
.sresult .red{color: #FC334A;}
.cartory{box-shadow:-6px 8px 8px 0px rgba(198,203,204,0.17);}
.cartory li{font-size: 16px;color: #333;float: left;}
.cartory li.active{border-bottom: 2px solid #FC334A}
.cartory li a{display: block;padding: 13px 24px;}
.cartory li.active a{color: #FC334A;font-weight: bold;}
.adv_wrap{margin-bottom: 20px;}
.list_r{margin-top: 30px;}
/*套餐*/
.list_ul {margin-top: 10px;}
.list_ul li{padding: 20px 0;border-bottom: 1px solid #EAEAEA}
.list_ul li a{display: block;}

.list_ul li.mealLi .left_b{width: 253px;height: 190px;float: left;}
.list_ul li.mealLi .left_b img{width: 100%;height: 100%;object-fit: cover;}
.list_ul li.mealLi .right_b{margin-left: 266px;position: relative;height: 190px;}

.list_ul li.mealLi .right_b .htitle{font-size: 24px;max-width: 360px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

.list_ul li.mealLi .tag{margin-top: 18px;font-size: 0;}
.list_ul li.mealLi .tag span{display: inline-block;height: 26px;line-height: 26px;padding: 0 15px;font-size: 14px;color: #fff;margin-right: 8px;border-radius: 13px}
.list_ul li.mealLi .tag span.benjiremai{background:linear-gradient(90deg,rgba(246,44,92,1) 0%,rgba(250,137,119,1) 100%);}
.list_ul li.mealLi .tag span.chaozhitejia{background:linear-gradient(90deg,rgba(15,189,171,1) 0%,rgba(31,218,181,1) 100%);}
.list_ul li.mealLi .tag span.renqituijian{background:linear-gradient(90deg,rgba(15,137,241,1) 0%,rgba(35,185,255,1) 100%);}
.list_ul li.mealLi .tag span.same{background:#FEEBED ;color: #F93A4D}

.list_ul li.mealLi .otherInfo{margin-top: 15px;font-size: 14px;color: #999;}
.list_ul li.mealLi .otherInfo em{display: inline-block;width: 1px ;height: 14px;background: #999;vertical-align: middle;margin-left: 8px;margin-right: 8px;margin-top: -2px;}
.list_ul li.mealLi .price{position: absolute;bottom: 12px;font-size: 16px;color: #F93A4D;}
.list_ul li.mealLi .price strong{font-size: 28px;}

.list_ul li.mealLi span.seeDetail{display: block;position: absolute;bottom: 0;right: 0;font-size: 16px;color: #fff;width: 150px;height: 50px;line-height: 50px;text-align: center;background:#F93A4D;box-shadow:0px 10px 24px 0px rgba(249,58,77,0.2);border-radius:25px;}

/*酒店*/
.list_ul li.hotelLi .left_b{width: 320px;height: 240px;float: left;}
.list_ul li.hotelLi .left_b img{width: 100%;height: 100%;object-fit: cover;}
.list_ul li.hotelLi .right_b{margin-left: 340px;position: relative;height: 240px;}
.list_ul li.hotelLi .price{font-size: 14px;color: #A0A0A0;position: absolute;right: 0;top: 0}
.list_ul li.hotelLi .price span{font-size: 24px;color: #F93A4D;}
.list_ul li.hotelLi .right_b .hotel_title{font-size: 24px;max-width: 360px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.list_ul li.hotelLi .tableInfo{padding-top: }
.list_ul li.hotelLi .tableInfo p{margin-top: 4px;font-size: 14px;color: #999;}
.list_ul li.hotelLi .hotelInfo{margin-top: 18px;font-size: 0;}
.list_ul li.hotelLi .hotelInfo span{display: inline-block;height: 26px;line-height: 26px;padding: 0 10px;font-size: 14px;color: #fff;margin-right: 8px;border-radius: 4px}
.list_ul li.hotelLi .hotelInfo span.ditieyanxian{background:#FFB260 ;}
.list_ul li.hotelLi .hotelInfo span.dulimenmian{background:#FD6C6E ;}
.list_ul li.hotelLi .hotelInfo span.cenggaogao{background:#6CB7F1 ;}

.list_ul li.hotelLi .hotelbottom{position: absolute;bottom: 20px;}
.list_ul li.hotelLi .hotelbottom span.tel{font-size: 16px;color: #F93A4D;font-weight: bold;}
.list_ul li.hotelLi .hotelbottom span.seePhone{font-size: 14px;color: #508FE9;margin-left: 8px}
.list_ul li.hotelLi span.seeDetail{display: block;position: absolute;bottom: 0;right: 0;font-size: 16px;color: #fff;width: 150px;height: 50px;line-height: 50px;text-align: center;background:#F93A4D;box-shadow:0px 10px 24px 0px rgba(249,58,77,0.2);border-radius:25px;}

/*商家*/

.list_ul li.storeLi .left_b{width: 150px;height: 150px;float: left;border: 1px solid #eee}
.list_ul li.storeLi .left_b img{width: 100%;height: 100%;object-fit: cover;}
.list_ul li.storeLi .right_b{margin-left: 166px;position: relative;height: 150px;}
.list_ul li.storeLi .price{font-size: 14px;color: #A0A0A0;position: absolute;right: 0;top: 0}
.list_ul li.storeLi .price span{font-size: 24px;color: #F93A4D;}
.list_ul li.storeLi .right_b .hotel_title{font-size: 24px;max-width: 360px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.list_ul li.storeLi .tableInfo{padding-top: }
.list_ul li.storeLi .tableInfo p{margin-top: 4px;font-size: 14px;color: #999;}


.list_ul li.storeLi .hotelbottom{position: absolute;bottom: 16px;}
.list_ul li.storeLi .hotelbottom span.tel{font-size: 16px;color: #F93A4D;font-weight: bold;}
.list_ul li.storeLi .hotelbottom span.seePhone{font-size: 14px;color: #508FE9;margin-left: 8px}
.list_ul li.storeLi span.seeDetail{display: block;position: absolute;bottom: 10px;right: 0;font-size: 16px;color: #fff;width: 150px;height: 50px;line-height: 50px;text-align: center;background:#F93A4D;box-shadow:0px 10px 24px 0px rgba(249,58,77,0.2);border-radius:25px;}

.list_ul li.storeLi .li_bottom{margin-top: 30px;}

.list_ul li.storeLi .img-item{float: left;width: 202px;height: 150px;position: relative;margin-left: 20px;overflow: hidden;display: block;}
.list_ul li.storeLi .img-item img{width: 100%;height: 100%;object-fit: cover;}
.list_ul li.storeLi .img-item:first-child{margin-left: 0}
.list_ul li.storeLi .img-item p{position: absolute;left: 0;right: 0;bottom: 0;padding: 0 10px;height: 35px;line-height: 35px;background:rgba(0,0,0,.6);display: none;-webkit-animation: bottomFadeIn .3s ease-out; -moz-animation: bottomFadeIn .3s ease-out; animation: bottomFadeIn .3s ease-out;font-size: 14px;color: #fff;text-align: center;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.list_ul li.storeLi .img-item:hover p{display: block;}


/*没有搜索结果*/

.noresult img{display: block;margin: 200px auto 50px;}
.noresult span{display: block;text-align: center;line-height: 88px;font-size: 16px;color: #999}









