<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
	<title>户型介绍</title>
	<meta name="keywords" content="{#$cfg_keywords#}">
	<meta name="description" content="{#$cfg_description#}">
	<link rel="stylesheet" type="text/css" media="all" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" />
	<!-- <link rel="stylesheet" href="{#$cfg_staticPath#}/css/admin/bootstrap.css?v={#$cfg_staticVersion#}"> -->
	<link rel="stylesheet" href="{#$templets_skin#}css/pub_loupan.css?v={#$cfg_staticVersion#}">
	<link rel="stylesheet" href="{#$templets_skin#}css/albums.css?v={#$cfg_staticVersion#}">
	<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js?v={#$cfg_staticVersion#}"></script>
	<script type="text/javascript" src="{#$cfg_staticPath#}js/vue/vue.min.js?v={#$cfg_staticVersion#}"></script>

	<script type="text/javascript">
		var masterDomain = '{#$cfg_basehost#}',
			staticPath = '{#$cfg_staticPath#}';
		var hideFileUrl = '{#$cfg_hideUrl#}';
		var cookiePre = '{#$cfg_cookiePre#}',
			cfg_clihost = '{#$cfg_clihost#}';
		var templets = '{#$templets_skin#}';

		var currid = 5;
		var uptype = 0; //上传视频类型  本地还是url

		var atpage = 1, totalCount = 20, pageSize = 8;

		var loupanid = '{#$loupanid#}';
	</script>
</head>

<body class="w1200">
	<div id="page">
		<!-- 头部 -->
		{#include file="top.html"#}
		<div class="conbox">
			{#include file="left.html"#}
			<!-- 右侧 -->
			<div class="right_box">
				<div class="rConBox">
					<h3>户型介绍</h3>
					<div class="ListContainer">

						<div class="listbox">
							<ul class="huxing_ul fn-clear" v-cloak >
								<li class="add_huxing" >
									<a href="add_huxing.html">

										<s></s>
										<p>新增户型</p>
									</a>
								</li>
								<li class="huxing" v-for="(huxing,i) in huxingList">
									<div class="himg"><img :src="huxing.litpic" alt=""></div>
									<div class="hinfo">
										<div class="hdetail">
											<h3>{{huxing.title}}</h3>
											<p>{{huxing.room}}室{{huxing.hall}}厅{{huxing.guard}}卫  |  {{huxing.area}}㎡</p>
										</div>
										<div class="btn_group fn-clear">
											<a :href="'add_huxing.html?id='+huxing.id" class="edit_btn">编辑户型</a>
											<a :href="'{#$house_channelDomain#}/loupan-hx-detail-{#$loupanid#}-'+huxing.id+'.html#nav'" class="read_btn">查看详情</a>
										</div>
									</div>
								</li>
							</ul>
						</div>
							<div class="pagination fn-clear"></div>
					</div>
				</div>
			</div>
			<div class="foot">
				<div class="foot-bottom">
					<div class="bottom wrap">
						版权所有 © {#$smarty.now|date_format:'%Y'#} {#$cfg_shortname#}. All rights reserved.<br />
					</div>
				</div>
			</div>
		</div>




		<!-- 加载中 -->
		<div class="loading" v-show="loading"><s></s></div>
	</div>
	<div>{#$cfg_statisticscode#}</div>
</body>

<script type='text/javascript' src='{#$cfg_basehost#}/include/json.php?action=lang'></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/vue/axios.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/albums.js?v={#$cfg_staticVersion#}"></script>
</html>
