<div class="topBox fn-clear">
	<div class="left_con">
		<div class="logobox"><img src="{#if $house_logoUrl#}{#$house_logoUrl#}{#else#}{#$cfg_weblogo#}{#/if#}" ><s></s></div>
		<div class="line"></div>
		<div class="title">楼盘管理系统</div>
	</div>
	<div class="right_con" @mousemove="show_change" @mouseleave="hide_change">
		{#if $userinfo#}
		<div class="user" >
			<div class="user_icon"><img src="{#$userinfo.photo#}" onerror="this.src='/static/images/noPhoto_40.jpg'" alt=""></div>
			<div class="nickname">{#$userinfo.nickname#}</div>
			<s class="arr"></s>
		</div>
		<div class="change_account"><a href="{#$cfg_basehost#}/logout.html"><s></s>切换账户</a></div>
		{#else#}
		<div class="user">
			<a class="user_icon"><img src="/static/images/noPhoto_40.jpg" onerror="this.src='/static/images/noPhoto_40.jpg'" alt=""></a>
			<a class="nickname" href="{#$cfg_basehost#}/login.html">去登陆</a>
		</div>
		{#/if#}
	</div>
</div>
