#MobileGoodInfo {
    background: rgb(242, 242, 242);
    padding-bottom: 50px;
}
#MobileGoodInfo .swipe{
    height: 7.5rem;
    width: 7.5rem;
    overflow: hidden;
}
#MobileGoodInfo .swipe img {
    height: 7.5rem;
    width: 7.5rem;
    object-fit: cover;
    border: none
}
#MobileGoodInfo .button-cell .van-cell__value--alone {
    text-align: center;
}
#MobileGoodInfo .auction-card {
    color: #fff;
    font-size: .24rem;
    position: absolute;
    bottom: 0;
    z-index: 111;
    left: 0;
    right: 0;
    height: 1.06rem;
    line-height: .44rem;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.3rem 0 0.36rem;
    border-top-right-radius: 0.24rem;
}
#MobileGoodInfo .auction-card.inactive {
    background: rgb(156, 156, 156);
}
#MobileGoodInfo .auction-card.active {
    background: linear-gradient(270deg, #f2140c, #ff6c33);
}
#MobileGoodInfo .auction-card.active.green {
    background: linear-gradient(270deg, #029069, #079e76);
}

#MobileGoodInfo .info-card {
    background: #fff;
    padding: 0.24rem 0.36rem;
    border-radius: 0.24rem 0.24rem;
    font-size: .26rem;
    margin-bottom: 0.24rem;
}

#MobileGoodInfo .info-card .product-name {
    line-height: .45rem;
    font-size: .32rem;
    font-weight: 700;
    color: #252525;
}

#MobileGoodInfo .auction-info {
    display: flex;
    flex-wrap: wrap;
    line-height: 30px;
    align-items: center;
}
#MobileGoodInfo .auction-info .label{float: left; display: flex; align-items: center;}
#MobileGoodInfo .auction-info .label > div {
    /* margin-right: 0.44rem; */
    margin-right: 0.24rem;
    margin-left: 0.1rem;
    display: flex;
    align-items: center;
}
#MobileGoodInfo.nostart .auction-info .van-tag{
    background-color: #079e76 !important;
}
#MobileGoodInfo .desc-tip {
    margin-top: -0.05rem;
    margin-left: 0.1rem;
    width: 0.32rem;
    height: 0.32rem;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAkFBMVEUAAACMjIyNjY2Tk5OMjIyNjY2Ojo6Ojo6MjIyPj4+SkpKPj4+MjIyPj4+ZmZmPj4+NjY2cnJyOjo6MjIyPj4+QkJCMjIyOjo6NjY2NjY2SkpKNjY2NjY2NjY2NjY2NjY2QkJCNjY2WlpaSkpKNjY2Ojo6VlZWNjY2NjY2NjY2UlJSOjo7j4+PGxsbGxsaMjIzmXD2dAAAAL3RSTlMA+b4F5L0uUO4PDCbmn5OCgTQ0HRJV8oaGOAr22srEmpd5d21jSB/Sr6eRPSkpJdbQU4QAAAEaSURBVDjLvZPZdsIwDERtY8cmO4QEEig7dO/8/9+VUyWxctxn7tMgyXgkK+K5RIVKpUxVEf2bXhqMmGWQnuWAy2wSx4nNHJDPpvmVglzPh1/ztYRaTc4r6AUPLDQU/48cuhITKo2c+YPsz3dt3dLJhYR3arAhcdMAXn/+9AZm7B+O/N2b7al+wws5dRjmUSAjcUb5MNyAyjMUglCwJK7v7aPAgTq0UIJIkQhP2V8hEqR9SCLmef1FKoYcC/xMaj8RX6BRsY5rEvwKA+tvOJDDickSRzFGLx0J3mYEN7isgCspPiixx2141v2OojTqgeQyWY/wsYjwuTnfhyhcGM4JsgxWjtN9AM3R3oOl9XwGax8Qnc1uSx/OU/kFM4oZ/4dTuO0AAAAASUVORK5CYII=) 50%/0.32rem 0.32rem no-repeat;
}

#MobileGoodInfo .product-info img {
    max-width: 6.94rem!important;
}
#MobileGoodInfo .product-info p{padding-top: .12rem;}
#MobileGoodInfo .product-info div,#MobileGoodInfo .product-info table{max-width: 100% !important;}
.van-button:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: var(--van-black);
    border: inherit;
    border-color: var(--van-black);
    border-radius: inherit;
    transform: translate(-50%,-50%);
    opacity: 0;
    content: " ";
}

#MobileGoodInfo .auction-card .van-count-down {
    margin-left: 0.2rem;
    color: #fff;
    font-size: .3rem;
}
.van-action-bar {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    box-sizing: content-box;
    height: 1rem;
    background: #fff;
}
#MobileGoodInfo .bottom-btn {
    height: 1rem;
    font-size: 16px;
    font-weight: 700;
}

#MobileGoodInfo.nostart .bottom-btn{
    background: linear-gradient(270deg, #029069, #079e76) !important;
}
.van-safe-area-bottom {
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
}
.van-cell__title .nickanme{display: inline-block; width: 1.5rem; overflow: hidden; text-overflow: ellipsis; vertical-align: bottom; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

#MobileGoodInfo .record-popup-title {
    text-align: center;
    font-size: .3rem;
    padding: 0.3rem 0.36rem 0.3rem;
    font-weight: bold;
}
#MobileGoodInfo .bidding-action-bar {
    font-size: .26rem;
    display: flex;
    justify-content: space-between;
}

.btn_groups{display: flex; align-items: center;}
.btn_groups .stepbox{display: flex; align-items: center;}
.canChange .stepbox{display: flex; align-items: center; justify-content: space-between;}
.btn_groups .stepbox .van-stepper{margin-left: .12rem;}
.van-address-item__edit{display: none;}
/* .van-address-list__bottom{display: none;} */

.regBox .addressList{ padding-right: 1rem; overflow: auto; }
.regBox .addrTit{padding-bottom: 0;}
.regBox .addrTit::after{display: none;}
.regBox .van-cell__title{font-weight: bold;}
.regBox .van-field:active{background: none;}
.header{z-index: 999;}
.van-overlay,.van-image-preview{z-index: 99999;}