<?xml version="1.0" encoding="utf-8"?>
<root>
	<Data>
		<tplname><![CDATA[DIY模板]]></tplname>
		<copyright><![CDATA[火鸟门户]]></copyright>
		<router>1</router>
		<beforeEach>Ty5iZWZvcmVFYWNoKCh0byxmcm9tLG5leHQpPT57bGV0IHN0cj0iIjtpZih0by5xdWVyeSE9e30pe2xldCBsZW5ndGg9T2JqZWN0LmtleXModG8ucXVlcnkpLmxlbmd0aDtsZXQgY291bnQ9MDtmb3IobGV0IGtleSBpbiB0by5xdWVyeSl7Kytjb3VudDtzdHIrPWAke2tleX09JHt0by5xdWVyeVtrZXldfSR7bGVuZ3RoPT1jb3VudD8iIjoiJiJ9YH19bGV0IGFycj1be3dlYjoiaW5kZXgiLHRhcmdldDoiaW5kZXhkaXkifV07Zm9yKGxldCBpPTA7aTxhcnIubGVuZ3RoO2krKyl7bGV0IHdlYj1hcnJbaV0ud2ViO2xldCB0YXJnZXQ9YXJyW2ldLnRhcmdldDtpZih0by5wYXRoLmluZGV4T2YoYC8ke3dlYn1gKT4tMSYmdG8ucGF0aCE9YC8ke3dlYn1gKXtpZih0YXJnZXQ9PSIiKXt0by5wYXRoPWAvJHt0YXJnZXR9PyR7c3RyfWB9ZWxzZXt0by5wYXRoPWAvJHt0YXJnZXR9JHtzdHIuaW5jbHVkZXMoIj8iKT8iJiI6Ij8ifSR7c3RyfWB9bmV4dCh0by5wYXRoKTticmVha31lbHNlIGlmKHRvLnBhdGg9PWAvc2l0ZUNvbmZpZ2B8fHRvLnBhdGg9PWAvaW5kZXhgfHx0by5wYXRoPT1gYCl7bmV4dCgiLyIpO3JldHVybn19bmV4dCgpfSk7</beforeEach>
	</Data>
</root>
