{#$pageTitle = "收到的入驻申请"|cat:" - "|cat:$cfg_webname#}
{#include file="head.html"#}
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/car_receive_broker.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript">
	var module = '{#$module#}', comid = {#$comid#}, atpage = 1, totalCount = 0, pageSize = 10, state = '{#$state#}', type = '{#$type#}';
</script>
</head>

{#$pageCurr = "car_receive_broker"#}

<body>
{#include file="headSidebar.html"#}

<div class="main">
	<style>
	.list {padding: 0 15px;}
	</style>
	<div class="nav-tabs fn-clear">
		<ul class="fn-clear">
			{#*全部 *#}
			<li data-id="" class="active"><a href="javascript:;">{#$langData['siteConfig'][9][0]#} (<span id="total">0</span>)</a></li>

			{#*已处理 *#}
			<li data-id="1,2"><a href="javascript:;">{#$langData['siteConfig'][9][64]#} (<span id="yes_total">0</span>)</a></li>

			{#*未处理 *#}
			<li data-id="0"><a href="javascript:;">{#$langData['siteConfig'][32][2]#} (<span id="not_total">0</span>)</a></li>
		</ul>
	</div>
	<div class="container fn-clear">
		<div class="list house_receive_broker" id="list">
			<p class="loading"><img src="{#$cfg_staticPath#}images/ajax-loader.gif" />{#$langData['siteConfig'][20][184]#}...</p></div>
		<div class="pagination fn-clear"></div>
	</div>
</div>

<div class="model model_fail">
	<div class="bg"></div>
	<a href="javascript:;" class="close">×</a>
	<P class="info"></P>
	<div class="model_m">
		<div class="model_title">{#$langData['siteConfig'][20][588]#}</div> {#*拒绝理由 *#}
		<div class="model_body">
			<textarea name="" id="" cols="30" rows="4" placeholder="{#$langData['siteConfig'][7][0]#}..."></textarea> {#*请输入 *#}
			<p class="choose">
				<label for="" class="active" data-id="1"><em></em>{#$langData['siteConfig'][42][8]#}</label> {#*人员已满 *#}
				<label for="" data-id="2"><em></em>{#$langData['siteConfig'][42][9]#}</label> {#*不符合门店要求 *#}
			</p>
		</div>
		<div class="model_btns">
			<a href="javascript:;" class="ok">{#$langData['siteConfig'][6][1]#}</a> {#*确定 *#}
		</div>
	</div>
</div>

<!-- 删除确认层 -->
<div class="model model_del">
	<div class="bg"></div>
	<a href="javascript:;" class="close">×</a>
	<div class="model_m">
		<div class="model_title" data-del="{#$langData['siteConfig'][42][10]#}" data-agree="{#$langData['siteConfig'][42][11]#}"></div> {#*此操作将删除该顾问账号！！！ *#}  {#*确定要通过该申请吗？ *#}
		<div class="model_btns">
			<a href="javascript:;" class="cancel">{#$langData['siteConfig'][6][12]#}</a> {#*取消 *#}
			<a href="javascript:;" class="ok">{#$langData['siteConfig'][6][1]#}</a> {#*确定 *#}
		</div>
	</div>
</div>

{#include file="footer.html"#}
<script type="text/javascript" src="{#$templets_skin#}js/car_receive_broker.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
