{#if {#verifyModuleAuth module='education'#}#}
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/admin/datetimepicker.css?v={#$cfg_staticVersion#}">
<script>
	var isteacher = '{#$isteacher#}';
	var doact = '{#$do#}';
	var classid = '{#$detail_classid#}'
</script>
<div class="w-form" id="educationForm">
	<form name="fabuForm" id="fabuForm" method="post" action="/include/ajax.php?service=education&action={#if $id#}edit&id={#$id#}{#else#}put{#/if#}" data-url="{#getUrlPath service='member' template='manage-education'#}">
		<h2 class="comTit">基本信息</h2>
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>{#$langData['siteConfig'][19][0]#}：</dt>{#* 标题 *#}
			<dd>
				<input type="text" name="title" class="inp" id="title" size="60" maxlength="50" data-title="{#$langData['siteConfig'][20][40]#}" value="{#$detail_title#}" />{#* 请输入信息标题，2-50个字 *#}
				<span class="tip-inline"></span>
			</dd>
		</dl>

		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>{#$langData['education'][7][11]#}：</dt>{#* 课程分类 *#}
			<dd>
				<div class="down-div">
					<div class="time-div">
						{#*请选择 *#}
		                <input type="text" id="typename" class="inp" autocomplete="off" placeholder="{#$langData['siteConfig'][7][2]#}" value="{#if $detail_typeid#}{#$detail_typename#}{#/if#}" data-title="请选择课程分类" readonly>
		            </div>{#*请选择课程分类 *#}

					<div class="time_choose fn-clear">
		                <div class="pro-choose ">
		                	{#loop service="education" action="educationtype" value=1 return="type"#}
		                    <p {#if $detail_typeid == $type.id#}class="curr"{#/if#}> <a href="javascript:;" data-id="{#$type.id#}">{#$type.value#}</a> </p>
		                    {#/loop#}
		                </div>
		            </div>
		            <span class="caret"></span>
		            <input id="typeid" name="typeid" value="{#if $detail_typeid#}{#$detail_typeid#}{#/if#}" type="hidden">
		        </div>
				<span class="tip-inline"></span>
			</dd>
		</dl>

		<dl class="fn-clear">
			<dt><span>*</span>{#$langData['education'][4][19]#}：</dt>{#* 课程照片 *#}
			<dd class="listImgBox fn-hide oneUploadTip">
				<div class="list-holder">
					<ul id="listSection2" class="fn-clear listSection fn-hide"{#if $detail_pics#} style="display: block;"{#/if#}>
						{#foreach from=$detail_pics key=k item=i#}
						<li class="fn-clear pubitem" id="WU_FILE_1_{#$k#}">
							<span class="li-move" title="{#$langData['siteConfig'][23][42]#}">↕</span>{#* 拖动调整图片顺序 *#}
							<a class="li-rm" href="javascript:;">×</a>
							<div class="li-thumb" style="display: block;">
								<div class="r-progress"><s></s></div>
								<span class="ibtn">
									<a href="javascript:;" class="Lrotate" title="{#$langData['siteConfig'][23][43]#}"></a>{#* 逆时针旋转90度 *#}
									<a href="javascript:;" class="Rrotate" title="{#$langData['siteConfig'][23][44]#}"></a>{#* 顺时针旋转90度 *#}
									<a href="{#$i.path#}" target="_blank" class="enlarge" title="{#$langData['siteConfig'][23][45]#}"></a>{#* 放大 *#}
								</span>
								<span class="ibg"></span>
								<img data-val="{#$i.pathSource#}" data-url="{#changeFileSize url="{#$i.path#}" type="small"#}" onerror="this.src='{#$i.path#}'" src="{#changeFileSize url="{#$i.path#}" type="small"#}" />
							</div>
							<textarea class="li-desc" placeholder="{#$langData['siteConfig'][20][477]#}" style="display: inline-block;">{#$i.info#}</textarea>{#* 请输入图片描述 *#}
						</li>
						{#/foreach#}
					</ul>
					<input type="hidden" name="pics" value="" class="imglist-hidden">
				</div>
				<div class="btn-section fn-clear">
					<div class="oneUploadObj fn-clear">
						<div class="uploadinp filePicker" id="filePicker2" data-type="desc" data-count="{#$atlasMax#}" data-size="{#$atlasSize#}" data-imglist=""><div id="flasHolder"></div><span>{#$langData['siteConfig'][6][168]#}</span></div>{#* 添加图片 *#}
						<span class="upload-split fn-hide">{#$langData['siteConfig'][13][0]#}</span>{#* 或 *#}
						<dl class="wxUpload fn-hide fn-clear">
							<dt><img id="wxUploadImg" src="{#$templets_skin#}images/qr.jpg"/></dt>
							<dd>{#$langData['siteConfig'][19][362]#}<em class="wx">{#$langData['siteConfig'][27][139]#}</em>{#$langData['siteConfig'][27][140]#}<br />{#$langData['siteConfig'][19][846]#}{#$cfg_weixinName#}{#$langData['siteConfig'][27][141]#}<br />{#$langData['siteConfig'][27][142]#}<em class="fs">{#$langData['siteConfig'][6][139]#}</em>{#$langData['siteConfig'][27][143]#}</dd>{#* 使用-微信-扫描左侧二维码-关注-公众号后-将图片-发送-给公众号即可传图 *#}
						</dl>
					</div>
					<div class="upload-tip">
						<p><a href="javascript:;" class="fn-hide deleteAllAtlas"{#if $detail_pics#} style="display: inline-block;"{#/if#}>{#$langData['siteConfig'][6][79]#}</a>{#* 删除所有 *#}
							&nbsp;&nbsp;{#$langData['siteConfig'][20][10]|replace:'1':{#$atlasSize/1024#}|replace:'2':$atlasMax#} <span class="fileerror"></span></p>{#* 单张最大1M，最多2张 *#}
					</div>
				</div>
			</dd>
		</dl>

		<h2 class="comTit comTit2">课程安排</h2>
		<dl class="fn-clear clasType fn-hide">
			<dt><span>*</span>班级情况：</dt> {#* 班级情况 *#}
			<dd>
				<div class="radio">

					<span data-id="0" {#if $detail_classtype == 0#}class="curr" {#/if#}>不分班级</span>
					<span data-id="1" {#if $detail_classtype == 1#}class="curr" {#/if#}>多个班级</span>

					<input type="hidden" id="class_type" name="classtype" value="0"/>
				</div>
				<span class="tip-inline"></span>
			</dd>
		</dl>

		<div class="classContainer" style="display:block;">

			{#if $detail_workArr#}
			{#foreach from=$detail_workArr key=k item=val#}

			{#if $val.manyclass#}
			{#foreach from=$val.manyclass key=kk item=v#}
			<div class="classWrap classWrap1">
                <input type="hidden" class="class_id">
				<div class="classCon fn-clear">
					<dl class="fn-clear speDl">
						<dt><span>*</span>班级名：</dt>
						<dd>
							<input type="text" class="inp class_name" name="courses[{#$k#}][classname]" value="{#$v.classname#}">
						</dd>
					</dl>
					<dl class="speTime fn-clear">
						<dt><span>*</span>课程时间：</dt>
						<dd>
							<div class="form_datetime">								
								<input type="text" class="inp startTime" name="courses[{#$k#}][openStart]" readonly placeholder="开始时间" value="{#$v.openStart#}">
								<em>-</em>
								<input type="text" class="inp endTime" name="courses[{#$k#}][openEnd]" readonly placeholder="结束时间" value="{#$v.openEnd#}">
							</div>
						</dd>
					</dl>
					<dl class="fn-clear">
						<dt><span>*</span>地点：</dt>
						<dd>
							<input type="text" class="inp class_place class_com" name="courses[{#$k#}][address]" value="{#$v.address#}">
						</dd>
					</dl>
					<dl class="fn-clear">
						<dt><span>*</span>价格：</dt>
						<dd>
							<div class="input-append">
			                    <input type="text" name="courses[{#$k#}][price]" value="{#$v.price#}" onkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')" class="class_price class_com2">
			                    <span class="add-aft">{#echoCurrency type='short'#}</span> {#* 元 *#}
			                </div>
						</dd>
					</dl>
					<dl class="fn-clear">
						<dt><span>*</span>课时：</dt>
						<dd>
							<div class="input-append">
			                    <input type="text" name="courses[{#$k#}][classhour]" value="{#$v.classhour#}" onkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')" class="class_hour class_com2">
			                    <span class="add-aft">时</span> {#* 时 *#}
			                </div>
						</dd>
					</dl>
					{#if $isteacher#}
					<dl class="fn-clear">
						<dt>授课教师：</dt>
						<dd>
							<div class="comBox">
								<input type="text" class="inp class_teacher class_com"  placeholder="请选择" readonly value="{#$v.teachername#}">
								<span class="caret"></span>
							</div>
							<input type="hidden" name="courses[{#$k#}][teacherid]" class="class_teacherid" value="{#$v.teacherid#}">

						</dd>
					</dl>
					{#/if#}

					<dl class="fn-clear">
						<dt>授课形式：</dt> {#* 授课形式 *#}
						<dd>
							<div class="radio">
								{#loop service="education" action="educationitem" type="3" return="type"#}
								<span data-id="{#$type.id#}" {#if $v.typeid==$type.id#}class="curr"{#/if#}>{#$type.typename#}</span>
								{#/loop#}


								<input type="hidden" name="courses[{#$k#}][typeid]" value="{#$v.typeid#}" class="class_typeid" value="{#$v.typeid#}">
							</div>
						</dd>
					</dl>

					<dl class="fn-clear">
						<dt>班级特色：</dt>
						<dd>
							<textarea class="input_area" name="courses[{#$k#}][desc]">{#$v.desc#}</textarea>
						</dd>
					</dl>
				</div>				
				<span class="btn move" title="{#$langData['siteConfig'][6][19]#}"><i></i></span>
				<span class="btn del" title="{#$langData['siteConfig'][6][8]#}"><i></i></span>
				<span class="btn add" title="{#$langData['siteConfig'][6][18]#}"><i></i></span>

			</div>
			{#/foreach#}
			{#else#}
			<div class="classWrap classWrap1">
                <input type="hidden" class="class_id" value="{#$val.id#}">
				<div class="classCon fn-clear">
					<dl class="fn-clear speDl">
						<dt><span>*</span>班级名：</dt>
						<dd>
							<input type="text" class="inp class_name" name="courses[{#$k#}][classname]" value="{#$val.classname#}">
						</dd>
					</dl>
					<dl class="speTime fn-clear">
						<dt><span>*</span>课程时间：</dt>
						<dd>
							<div class="form_datetime">								
								<input type="text" class="inp startTime" name="courses[{#$k#}][openStart]" readonly placeholder="开始时间" value="{#$val.openStart#}">
								<em>-</em>
								<input type="text" class="inp endTime" name="courses[{#$k#}][openEnd]" readonly placeholder="结束时间" value="{#$val.openEnd#}">
							</div>
						</dd>
					</dl>
					<dl class="fn-clear">
						<dt><span>*</span>地点：</dt>
						<dd>
							<input type="text" class="inp class_place class_com" name="courses[{#$k#}][address]" value="{#$val.address#}">
						</dd>
					</dl>
					<dl class="fn-clear">
						<dt><span>*</span>价格：</dt>
						<dd>
							<div class="input-append">
			                    <input type="text" name="courses[{#$k#}][price]" value="{#$val.price#}" onkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')" class="class_price class_com2">
			                    <span class="add-aft">{#echoCurrency type='short'#}</span> {#* 元 *#}
			                </div>
						</dd>
					</dl>
					<dl class="fn-clear">
						<dt><span>*</span>课时：</dt>
						<dd>
							<div class="input-append">
			                    <input type="text" name="courses[{#$k#}][classhour]" value="{#$val.classhour#}" onkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')" class="class_hour class_com2">
			                    <span class="add-aft">时</span> {#* 时 *#}
			                </div>
						</dd>
					</dl>
					{#if $isteacher#}
					<dl class="fn-clear">
						<dt>授课教师：</dt>
						<dd>
							<div class="comBox">
								<input type="text" class="inp class_teacher class_com"  placeholder="请选择" readonly value="{#$val.teachername#}">
								<span class="caret"></span>
							</div>
							<input type="hidden" name="courses[{#$k#}][teacherid]" class="class_teacherid" value="{#$val.teacherid#}">

						</dd>
					</dl>
					{#/if#}

					<dl class="fn-clear">
						<dt>授课形式：</dt> {#* 授课形式 *#}
						<dd>
							<div class="radio">
								{#loop service="education" action="educationitem" type="3" return="type"#}
								<span data-id="{#$type.id#}" {#if $val.typeid==$type.id#}class="curr"{#/if#}>{#$type.typename#}</span>
								{#/loop#}


								<input type="hidden" name="courses[{#$k#}][typeid]" value="{#$val.typeid#}" class="class_typeid" value="{#$val.typeid#}">
							</div>
						</dd>
					</dl>

					<dl class="fn-clear">
						<dt>班级特色：</dt>
						<dd>
							<textarea class="input_area" name="courses[{#$k#}][desc]">{#$val.desc#}</textarea>
						</dd>
					</dl>
				</div>				
				<span class="btn move" title="{#$langData['siteConfig'][6][19]#}"><i></i></span>
				<span class="btn del" title="{#$langData['siteConfig'][6][8]#}"><i></i></span>
				<span class="btn add" title="{#$langData['siteConfig'][6][18]#}"><i></i></span>

			</div>
			{#/if#}
			{#/foreach#}
			{#else#}
			<div class="classWrap classWrap1">
				<input type="hidden" class="class_id">
				<div class="classCon fn-clear">
					<dl class="fn-clear speDl">
						<dt><span>*</span>班级名：</dt>
						<dd>
							<input type="text" class="inp class_name">
						</dd>
					</dl>
					<dl class="speTime fn-clear">
						<dt><span>*</span>课程时间：</dt>
						<dd>
							<div class="form_datetime">
								<input type="text" class="inp startTime" readonly placeholder="开始时间">
								<em>-</em>
								<input type="text" class="inp endTime" readonly placeholder="结束时间">
							</div>
						</dd>
					</dl>
					<dl class="fn-clear">
						<dt><span>*</span>地点：</dt>
						<dd>
							<input type="text" class="inp class_place class_com">
						</dd>
					</dl>
					<dl class="fn-clear">
						<dt><span>*</span>价格：</dt>
						<dd>
							<div class="input-append">
								<input type="text" value="" onkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')" class="class_price class_com2">
								<span class="add-aft">{#echoCurrency type='short'#}</span> {#* 元 *#}
							</div>
						</dd>
					</dl>
					<dl class="fn-clear">
						<dt><span>*</span>课时：</dt>
						<dd>
							<div class="input-append">
								<input type="text" value="" onkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')" class="class_hour class_com2">
								<span class="add-aft">时</span> {#* 时 *#}
							</div>
						</dd>
					</dl>
					{#if $isteacher#}
					<dl class="fn-clear">
						<dt>授课教师：</dt>
						<dd>
							<div class="comBox">
								<input type="text" class="inp class_teacher class_com"  placeholder="请选择" readonly>
								<span class="caret"></span>
							</div>
							<input type="hidden" class="class_teacherid">

						</dd>
					</dl>
					{#/if#}

					<dl class="fn-clear">
						<dt>授课形式：</dt> {#* 授课形式 *#}
						<dd>
							<div class="radio">
								{#$ks = 1#}
								{#loop service="education" action="educationitem" type="3" return="type"#}
								<span data-id="{#$type.id#}" {#if $ks == 1#}class="curr"{#/if#}>{#$type.typename#}</span>
								{#$ks = $ks+1#}
								{#/loop#}

								<input type="hidden"  value="" class="class_typeid">
							</div>
						</dd>
					</dl>

					<dl class="fn-clear">
						<dt>班级特色：</dt>
						<dd>
							<textarea class="input_area"></textarea>
						</dd>
					</dl>
				</div>
				<span class="btn move" title="{#$langData['siteConfig'][6][19]#}"><i></i></span>
				<span class="btn del" title="{#$langData['siteConfig'][6][8]#}"><i></i></span>
				<span class="btn add" title="{#$langData['siteConfig'][6][18]#}"><i></i></span>

			</div>
			{#/if#}

		</div>
		<a href="javascript:;" class="addMore" style="display: inline-block;">{#$langData['education'][4][22]#}</a> {#*继续添加班级 *#}
		

		<h2 class="comTit comTit2">课程详情</h2>
		<dl class="fn-clear">
			<dt>课程简介：</dt>
			<dd>
				<textarea class="input_area" id="coursesdesc" name="coursesdesc" placeholder="{#$langData['education'][4][24]#}">{#$detail_coursesdesc#}</textarea>  {#*请输入课程简介 *#}
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>适用学员范围：</dt>
			<dd>
				<textarea class="input_area" id="coursesrange" name="coursesrange" placeholder="{#$langData['education'][4][25]#}">{#$detail_coursesrange#}</textarea>  {#*请输入适用学员范围 *#}
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>授课内容：</dt>
			<dd>
				<textarea class="input_area" id="coursescontent" name="coursescontent" placeholder="{#$langData['education'][4][26]#}">{#$detail_coursescontent#}</textarea>  {#*请输入授课内容 *#}
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>补充说明：</dt>
			<dd>
				<textarea class="input_area" id="coursesnotes" name="coursesnotes" placeholder="{#$langData['education'][4][27]#}">{#$detail_coursesnotes#}</textarea>  {#*请输入其他补充说明 *#}
			</dd>
		</dl>


		<dl class="fn-clear">
			<dt>&nbsp;</dt>
			<dd><button class="submit" type="submit" id="submit">{#if $id == 0#}{#$langData['siteConfig'][11][19]#}{#else#}{#$langData['siteConfig'][6][122]#}{#/if#}</button></dd>{#* 立即发布--提交修改 *#}
		</dl>
	</form>
</div>
<div class="teMask"></div>
<div class="teacherWrap">
	<div class="teacherCon">
		<a href="javascript:;" class="tecClose"></a>
		<div class="tecTop">选择教师</div>
		<div class="tecMid">
			<ul>
				{#loop service="education" action="teacherList" orderby=2 store={#$storeid#} return="list" page=1 pageSize=99#}
				<li data-id="{#$list.id#}"><a href="javascript:;">
					<div class="left_img"><img src="{#if $list.photo#}{#$list.photo#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt="" onerror="javascript:this.src='{#$cfg_staticPath#}images/noPhoto_100.jpg';this.onerror=this.src='{#$cfg_staticPath#}images/404.jpg';"></div>
					<div class="r_info">
						<h3 class="r_name">{#$list.name#}</h3>
						<p class="r_other">{#if $list.certifyState == 1#}<span class="cerRz">身份认证</span>{#/if#}{#if $list.degreestate == 1#}<span class="eduRz">学历认证{#/if#}</span></p>
						<div class="r_class">
							{#foreach from=$list.coursesArr item=item#}
							<span>{#$item#}</span>
							{#/foreach#}
						</div>
					</div>
				</a></li>
				{#/loop#}
			</ul>
		</div>
		<div class="tecBot">
			<ul>
				<li class="tecCancel"><a href="javascript:;">取消</a></li>
				<li class="tecConfirm active"><a href="javascript:;">确认选择</a></li>
			</ul>
		</div>
	</div>
	
</div>
<div class="fakeHtml fn-hide">
	{#$km = 1#}
	{#loop service="education" action="educationitem" type="3" return="type"#}
	<span data-id="{#$type.id#}" {#if $km == 1#}class="curr"{#/if#}>{#$type.typename#}</span>
	{#$km = $km+1#}
	{#/loop#}
</div>
{#else#}
<div class="list" style="padding: 200px 0; text-align: center; font-size: 14px; color: red;">{#$langData['siteConfig'][20][403]#}</div>
{#/if#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/publicAddr.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/bootstrap.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/bootstrap-datetimepicker.min.js?v={#$cfg_staticVersion#}"></script>