<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/admin/datetimepicker.css?v={#$cfg_staticVersion#}">
<script>
		var server_image_url = '/include/upload.inc.php?mod={#$module#}&filetype=image&type=atlas';
</script>
<div class="w-form ">
	<form name="fabuForm" id="fabuForm" method="post" action="/include/ajax.php?service=paimai&action={#if $do == 'edit'#}edit&id={#$id#}{#else#}put{#/if#}" data-url="{#getUrlPath service='member' template='manage' action='paimai'#}">
		<input type="hidden" name="id" id="id" value="{#$id#}" />
		
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>商品标题：</dt>   {#* 商品标题： *#}
			<dd>
				<input type="text" name="title" class="inp" id="title" size="60" maxlength="100" data-title="{#$langData['siteConfig'][27][130]|replace:'100':'50'|replace:'1':5#}" value="{#$detail_title#}" />
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear" data-required="1" id="box_mold">
			<dt><span>*</span>{#$langData['siteConfig'][19][393]#}：</dt>{#* 分类 *#}
			<dd id="selType">
				<div class="sel-group" data-title="{#$langData['siteConfig'][20][41]#}">
					<button type="button" class="sel">{#if $do == "edit"#}{#$detail_typename#}{#else#}{#$langData['siteConfig'][7][2]#}{#/if#}{#* 请选择 *#}<span class="caret"></span></button>
					<ul class="sel-menu">
						{#loop service="paimai" action="type" action='type' return="type"#}
						<li><a href="javascript:;" data-id="{#$type.id#}">{#$type.typename#}</a></li>
						{#/loop#}
					</ul>
				</div>
				<input type="hidden" name="ptype" id="typeid" value="{#$detail_typeid#}" />
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt><span>*</span>商品图集：</dt>
			<dd class="listImgBox">
				<div id="listSection3" class="listSection filePickerBox">
					<!-- 主图 -->
					{#if $detail_litpic#}
					  <div id="WU_UP_lip_FILE_00" class="pubitem">
						<a href="{#changeFileSize url="{#$detail_litpicUrl#}"#}" target="_blank" title="" class="enlarge"><img src="{#changeFileSize url="{#$detail_litpicUrl#}" type="small"#}" onerror="this.src='/static/images/404.jpg'" data-val="{#$detail_litpic#}" data-url="{#changeFileSize url="{#$detail_litpicUrl#}" type="small"#}"></a><a class="li-rm" href="javascript:;"><span>删除</span></a><span class="setMain">设为主图</span><span class="mainImg">主图</span>
					</div>
					{#/if#}
					{#if $detail_pics#}
					{#foreach from=$detail_picsUrl key=k item=i#}
					<div id="WU_UP_lip_FILE_{#$k#}" class="pubitem">
						<a href="{#changeFileSize url="{#$i#}"#}" target="_blank" title="" class="enlarge"><img src="{#changeFileSize url="{#$i#}" type="small"#}" onerror="this.src='/static/images/404.jpg'" data-val="{#$detail_pics[i]#}" data-url="{#changeFileSize url="{#$i#}" type="small"#}"></a><a class="li-rm" href="javascript:;"><span>删除</span></a><span class="setMain">设为主图</span><span class="mainImg">主图</span>
					</div>
					{#/foreach#}
					{#/if#}
					<div class="btn-section fn-clear">
						<div class="wxUploadObj fn-clear">
							<div class="uploadinp " data-main="1" data-right="1" id="filePicker3"  data-count="{#$atlasMax#}" data-size="{#$atlasSize#}" data-imglist=""><div id="flasHolder3"></div><span>添加图片</span><em>+</em></div>
						</div>
					</div>
				</div>
				<p class="upTip ">{#$langData['siteConfig'][54][19]|replace:' 1 ':(($atlasSize/1024)|string_format:"%.1f")|replace:' 2 ':$atlasMax#}，推荐图片比例1:1，如900像素 × 900像素</p>
				<input type="hidden" name="litpic" id="litpic" value="{#$detail_litpic#}" />
				<input type="hidden" name="pics" value=""  id="imglist" class="imglist-hidden">
			</dd>
		</dl>
		<dl class="fn-clear" >
			<dt>最大拍卖数：</dt>
			<dd>
				<div class="input-append">
					<input id="maxnum" name="maxnum" type="text" size="8" data-title="请输入最大拍卖的数量" value="{#$detail_maxnum|default:1#}">
					<span class="add-aft">件</span>
				</div>
				<span class="tip-inline"></span>
			</dd>
		</dl>

		<dl data-title="请选择" data-type="radio" class="fn-clear">
			<dt><font color="#f00">*</font>交易类型：</dt>
			<dd>
				<div class="radio" data-title="请选择">
					<span data-id="0"{#if !$detail_jy_type #} class="curr"{#/if#}>平台交易</span>
					<span data-id="1"{#if $detail_guigetype == 1#} class="curr"{#/if#}>线下交易</span>
					<input type="hidden" name="jy_type" id="jy_type" value="{#$detail_jy_type|default:0#}">
				</div>
				<span class="tip-inline"><s></s>请选择</span>
			</dd>
		</dl>

		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>起步价：</dt>
			<dd>
				<div class="input-append">
					<input id="start_money" name="start_money" type="text" size="8" data-title="请输入加价幅度" value="{#$detail_start_money#}">
					<span class="add-aft">{#echoCurrency type="short"#}</span>
				</div>
				<span class="tip-inline"></span>
			</dd>
		</dl>
		
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>加价幅度：</dt>
			<dd>
				<div class="input-append">
					<input id="add_money" name="add_money" type="text" size="8" data-title="请输入商品起拍价格" value="{#$detail_add_money#}">
					<span class="add-aft">{#echoCurrency type="short"#}</span>
				</div>
				<span class="tip-inline"></span>
			</dd>
		</dl>
		
		<dl class="fn-clear">
			<dt>保证金：</dt>
			<dd>
				<div class="input-append">
					<input id="amount" name="amount" type="text" size="8" data-title="请输入保证金金额" value="{#$detail_amount#}">
					<span class="add-aft">{#echoCurrency type="short"#}</span>
				</div>
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>保留价：</dt>
			<dd>
				<div class="input-append">
					<input id="min_money" name="min_money" type="text" size="8" data-title="请输入最低成交价" value="{#$detail_min_money#}">
					<span class="add-aft">{#echoCurrency type="short"#}</span>
				</div>
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>延时周期：</dt>
			<dd>
				<div class="input-append">
					<input id="add_interval" name="add_interval" type="text" size="8" data-title="延时周期不可小于5分钟" value="{#$detail_add_interval#}">
					<span class="add-aft">分钟</span>
				</div>
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>付款期限：</dt>
			<dd>
				<div class="input-append">
					<input id="pay_limit" name="pay_limit" type="text" size="8" data-title="请输入付款期限" value="{#$detail_pay_limit#}">
					<span class="add-aft">小时</span>
				</div>
				<span class="tip-inline"></span>
			</dd>
		</dl>

		<dl class="clearfix yxdate " style="overflow: hidden;">
			<dt><span>*</span>开始日期：</dt>
			<dd>
			  <input id="startdate" type="text" name="startdate_txt" readonly style="background: #fff;cursor: pointer;"  data-title="请选择开始日期" value="{#$detail_startdate|date_format:'%Y-%m-%d %H:%M:%S'#}" class="inp" />
			  <input type="hidden" name="startdate" class="startdate_time" value="{#$detail_startdate#}">

			  <span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="clearfix yxdate " style="overflow: hidden;">
			<dt><span>*</span>结束日期：</dt>
			<dd>
			  <input id="enddate" type="text" name="enddate_txt" readonly style="background: #fff;cursor: pointer;"  data-title="请选择结束日期" value="{#$detail_enddate|date_format:'%Y-%m-%d %H:%M:%S'#}" class="inp" />
			  <input type="hidden" name="enddate" class="enddate_time" value="{#$detail_enddate#}">
			  <span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt><span>*</span>{#$langData['siteConfig'][26][121]#}{#$langData['siteConfig'][19][335]#}：</dt>  {#* 电脑端描述 *#}
			<dd>
				<p><small>图片尺寸建议宽930px，高度不限</small></p>
				<script id="body" name="body" type="text/plain" style="width:90%;height:500px">{#$detail_body#}</script>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>&nbsp;</dt>
			<dd>
				<button class="submit">{#if $id == 0#}发布拍卖{#else#}修改商品{#/if#}</button>
			</dd>
		</dl>
	</form>
	<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/bootstrap.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/bootstrap-datetimepicker.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/calendar/WdatePicker.js?v={#$cfg_staticVersion#}"></script>
</div>