<style>
	.list {padding: 0 15px;}
</style>
<script>
	var travelEditUrl = '{#getUrlPath service="member" template="orderdetail-travel" id="%id%"#}';
	var vertifyUrl = "{#getUrlPath service='member' template='verify-travel'#}";

</script>
<div class="nav-tabs fn-clear">
	<ul class="fn-clear">
		{#* 全部 *#}
		<li data-id="" class="curr"><a href="javascript:;">{#$langData['siteConfig'][9][0]#} (<span id="state">0</span>)<s></s></a></li>
		<li data-id="0"><a href="javascript:;">{#$langData['travel'][5][23]#}(<span id="state0">0</span>)<s></s></a></li>{#*  未付款   *#}
		<li data-id="1"><a href="javascript:;">{#$langData['travel'][5][24]#}(<span id="state1">0</span>)<s></s></a></li>{#*  已付款   *#}
		<li data-id="8"><a href="javascript:;">{#$langData['siteConfig'][9][27]#}(<span id="state8">0</span>)<s></s></a></li>{#*  退款中   *#}
		<li data-id="9"><a href="javascript:;">{#$langData['siteConfig'][9][34]#}(<span id="state9">0</span>)<s></s></a></li>{#*  退款成功   *#}
		<li data-id="3"><a href="javascript:;">{#$langData['travel'][5][26]#}(<span id="state3">0</span>)<s></s></a></li>{#*  成功   *#}
	</ul>
</div>
<table class="oh">
	<colgroup>
		<col style="width:38%;">
		<col style="width:10%;">
		<col style="width:7%;">
		<col style="width:17%;">
		<col style="width:16%;">
		<col style="width:12%;">
	</colgroup>
	<tbody>
		<tr>
			<td>{#$langData['siteConfig'][16][25]#}</td>
			<td>{#$langData['siteConfig'][19][323]#}</td>
			<td>{#$langData['siteConfig'][19][324]#}</td>
			<td>{#$langData['siteConfig'][19][316]#}</td>
			<td>{#$langData['siteConfig'][19][307]#}</td>
			<td>{#$langData['siteConfig'][6][11]#}</td>
		</tr>
	</tbody>
</table>
<script>
	var imconfig = {
            'mod':'travel',
            'chatid':"",
            'chatType':'list',//列表聊天
        }
</script>

<!-- 退款弹窗 -->
<div class="agreelegouMask"></div>
<div class="agreekuanWrap legouComWrap">
	<div class="sureAlert">
		<h2 class="sureTit">{#$langData['siteConfig'][6][0]#}</h2> {#* 确认 *#}
	 	<a href="javascript:;" class="closeAlert"></a>
	 	<div class="agreeCon">
	 		<h3><i></i>{#$langData['siteConfig'][55][41]#}</h3> {#* 确定同意退款吗？确定后钱款将直接退回买家账户，请谨慎操作！ *#}
	 		<ul>
	 			<li><a href="javascript:;" class="sureTuikuan" data-id="">{#$langData['siteConfig'][55][35]#}</a></li> {#* 同意退款 *#}
	 			<li><a href="javascript:;" class="cancelTui">{#$langData['siteConfig'][6][12]#}</a></li> {#* 取消 *#}
	 		</ul>
	 	</div>	
	 </div>
</div>
