{#$stateInfo = ""#}
{#if $detail_orderstate == 0#}
	{#$stateInfo = $langData['siteConfig'][9][83]#}  {#* 等待买家付款  *#}
{#elseif $detail_orderstate == 1#}
	{#$stateInfo = $langData['siteConfig'][9][54]#}  {#* 买家已付款，待发货  *#}
{#elseif $detail_orderstate == 2#}
	{#$stateInfo = $langData['siteConfig'][9][29]#} {#* 已过期  *#}
{#elseif $detail_orderstate == 3#}
	{#$stateInfo = $langData['siteConfig'][9][37] #}{#* 交易成功  *#}
{#elseif $detail_orderstate == 6#}
	{#if $detail_retState == 1#}
		{#if $detail_expDate == 0#}
			{#$stateInfo = $langData['siteConfig'][9][55]#} {#* 未发货，买家申请退款 *#}
		{#else#}
			{#$stateInfo = $langData['siteConfig'][9][56]#} {#* 已发货，买家申请退款  *#}
		{#/if#}
	{#else#}
		{#$stateInfo = $langData['siteConfig'][9][57]#} {#* 已发货，等待买家收货  *#}
	{#/if#}
{#elseif $detail_orderstate == 7#}
	{#$stateInfo = $langData['siteConfig'][9][34]#} {#*  退款成功  *#}
{#/if#}
<dl class="info-section">
	<dt>
		{#*  当前订单状态  *#}
		<span class="info-title">{#$langData['siteConfig'][19][318]#}：</span><em class="info-text">{#$stateInfo#}</em>
		{#if $detail_orderstate == 7#}
		&nbsp;&nbsp;{#$langData['siteConfig'][19][42]#}：{#$detail_retOkdate|date_format:"%Y-%m-%d %H:%M:%S"#}  {#*  退款时间  *#}
		{#/if#}
	</dt>

	{#* 买家已付款，待发货 *#}
	{#if $detail_orderstate == 1#}
	<dd class="last">
		<p class="operation"><a href="javascript:;" class="fahuo">{#$langData['siteConfig'][6][152]#}</a></p> {#*  立即发货  *#}
	</dd>
	{#/if#}


	{#* 退款中 *#}
	{#if ($detail_orderstate == 6 && $detail_retState == 1) || $detail_orderstate == 7#}
	<dd class="last">

		<ul class="retUl">
			<li><label>{#$langData['siteConfig'][19][43]#}：</label>{#$detail_retType#}</li>{#*  退款原因 *#}
			<li><label>{#$langData['siteConfig'][19][44]#}：</label>{#$detail_retNote#}</li>{#*  退款说明 *#}
			{#if $detail_retPics|@count > 0#}
			<li class="retPics"><label>{#$langData['siteConfig'][19][45]#}：</label>{#*  退款凭证 *#}
				{#foreach from=$detail_retPics item=pics key=k#}
				<a href="{#$pics.path#}" target="_blank"><img src="{#changeFileSize url="{#$pics.path#}" type="small"#}" /></a>
				{#/foreach#}
			</li>
			{#/if#}
			<li><label>{#$langData['siteConfig'][19][304]#}：</label>{#$detail_retDate|date_format:"%Y-%m-%d %H:%M:%S"#}</li> {#*  申请时间 *#}
		</ul>

		{#if $detail_retSnote != ""#}
		<ul class="retUl store">
			<li><label>{#$langData['siteConfig'][19][47]#}：</label>{#$detail_retSnote#}</li>{#*  卖家回复 *#}
			{#if $detail_retSpics|@count > 0#}
			<li class="retPics"><label>{#$langData['siteConfig'][19][48]#}：</label>{#*  回复凭证 *#}
				{#foreach from=$detail_retSpics item=pics key=k#}
				<a href="{#$pics.path#}" target="_blank"><img src="{#changeFileSize url="{#$pics.path#}" type="small"#}" /></a>
				{#/foreach#}
			</li>
			{#/if#}
			<li><label>{#$langData['siteConfig'][19][49]#}：</label>{#$detail_retSdate|date_format:"%Y-%m-%d %H:%M:%S"#}</li> {#*  回复时间 *#}
		</ul>
		{#/if#}

		{#if $detail_retState == 1#}
		<p class="operation">
			<a href="javascript:;" class="tuikuan">{#$langData['siteConfig'][6][153]#}</a>{#*  确定退款 *#}
			{#if $detail_retSnote == ""#}
			<a href="javascript:;" class="huifu">{#$langData['siteConfig'][6][29]#}</a>{#*  回复 *#}
			{#/if#}
		</p>
		{#/if#}

	</dd>
	{#/if#}

</dl>

{#if $detail_orderstate == 1#}
<dl class="bunch-section fh"{#if $rates == 1#} style="display: block;"{#/if#}>
	<dt>{#$langData['siteConfig'][6][154]#}</dt> {#*  发货 *#}
	<dd>
		<div class="formfield">
			<label for="exp-company"><em>*</em> {#$langData['siteConfig'][19][63]#}：</label>{#*  快递公司 *#}
			<input type="text" name="exp-company" id="exp-company" size="20" maxlength="20" />
			<span class="input-tips"><s></s>{#$langData['siteConfig'][43][29]#}</span>{#*  请填写快递公司名称 *#}
		</div>
		<div class="formfield">
			<label for="exp-number"><em>*</em> {#$langData['siteConfig'][19][64]#}：</label>{#*  快递单号 *#}
			<input type="text" name="exp-number" id="exp-number" size="25" maxlength="20" />
			<span class="input-tips"><s></s>{#$langData['siteConfig'][20][406]#}</span>{#*  请填写快递单号 *#}
		</div>
		<div class="btns">
			<button type="button" class="cbtn" id="expBtn">{#$langData['siteConfig'][6][0]#}</button> {#*确认 *#}
			<a href="javascript:;" class="cancel canExp">{#$langData['siteConfig'][6][12]#}</a> {#*取消 *#}
		</div>
	</dd>
</dl>
{#/if#}

{#if $detail_retState == 1 && $detail_retSnote == ""#}
<script>
var atlasSize = {#$atlasSize*1024#};
var atlasType = '{#$atlasType#}';
var atlasMax  = 5;
</script>
<dl class="bunch-section hf"{#if $rates == 1#} style="display: block;"{#/if#}>
	<dt>{#$langData['siteConfig'][6][29]#}</dt> {#*回复 *#}
	<dd>
		<div class="formfield">
			<label for="exp-company"><em>*</em> {#$langData['siteConfig'][43][30]#}：</label> {#*回复内容 *#}
			<div class="textarea">
				<textarea rows="5" id="ret-note"></textarea>
				<span class="lim-count">{#$langData['siteConfig'][39][9]|replace:'1':'<strong>500</strong>'#}</span> {#*还可输入1个字。 *#}
			</div>
		</div>
		<div class="formfield">
			<label for="exp-number"> {#$langData['siteConfig'][6][67]#}：</label> {#*上传凭证 *#}
			<ul class="uploader-list" id="fileList"></ul>
			<div class="uploader-btn fn-clear">
				<div id="filePicker">{#$langData['siteConfig'][6][50]#}</div> {#*上传图片 *#}
				<span class="utip">{#$langData['siteConfig'][32][22]#}</span> {#*最多传5张，按住 Ctrl 或 Shift 可选择多张 *#}
			</div>
			<p class="tips">* {#$langData['siteConfig'][20][56]#}</p> {#*请上传原创、真实、合法的图片，如果发现用户上传的图片有侵权内容，网站有权先行删除 *#}
		</div>
		<div class="btns">
			<button type="button" class="cbtn" id="hfBtn">{#$langData['siteConfig'][6][0]#}</button> {#*确认 *#}
			<a href="javascript:;" class="cancel canHf">{#$langData['siteConfig'][6][12]#}</a> {#*取消 *#}
		</div>
	</dd>
</dl>
<script src="{#$cfg_staticPath#}js/ui/jquery.dragsort-0.5.1.min.js"></script>
<script src="{#$cfg_staticPath#}js/webuploader/webuploader.min.js"></script>
{#/if#}

<dl class="bunch-section">

	<dt>{#$langData['siteConfig'][19][319]#}</dt> {#*订单信息 *#}
	<dd>
		<ul class="flow-list fn-clear">
			{#*订单编号 *#}
			<li>{#$langData['siteConfig'][19][50]#}：{#$detail_ordernum#}</li>

			{#*下单时间 *#}
			<li>{#$langData['siteConfig'][19][51]#}：{#$detail_orderdate|date_format:"%Y-%m-%d %H:%M:%S"#}</li>

			{#*付款方式 *#}
			{#* if $detail_orderstate == 1 || ($detail_orderstate == 2 && $detail_paydate != 0) || $detail_orderstate == 3 || $detail_orderstate == 4 *#}
			{#if $detail_paydate != 0#}
			<li>{#$langData['siteConfig'][19][52]#}：{#$detail_paytype#}</li>

			{#*付款时间 *#}
			<li>{#$langData['siteConfig'][19][53]#}：{#$detail_paydate|date_format:"%Y-%m-%d %H:%M:%S"#}</li>
			{#/if#}
		</ul>
	</dd>

	<dt>{#$langData['siteConfig'][26][127]#}</dt> {#*配送信息 *#}
	<dd>
		<ul>
			{#*收货人 *#}
			<li>{#$langData['siteConfig'][19][319]#}：{#$detail_username#}</li>

			{#*订单编号 *#}
			<li>联系电话{#$langData['siteConfig'][19][33]#}：{#$detail_usercontact#}</li>

			{#*送货地址 *#}
			<li>{#$langData['siteConfig'][19][57]#}：{#$detail_useraddr#}</li>

			{#*配送说明 *#}
			<li>{#$langData['siteConfig'][19][344]#}：{#$detail_note#}</li>
		</ul>
	</dd>

	{#if ($detail_orderstate == 3 || $detail_orderstate == 4 || $detail_orderstate == 6 || $detail_orderstate == 7) && $detail_expDate != 0#}
	<dt>{#$langData['siteConfig'][19][62]#}</dt> {#*快递信息 *#}
	<dd>
		<ul>
			{#*快递公司 *#}
			<li>{#$langData['siteConfig'][19][63]#}：{#$detail_expCompany#}</li>

			{#*快递单号 *#}
			<li>{#$langData['siteConfig'][19][64]#}：{#$detail_expNumber#}</li>

			{#*发货时间 *#}
			<li>{#$langData['siteConfig'][19][65]#}：{#$detail_expDate|date_format:"%Y-%m-%d %H:%M:%S"#}</li>

			{#*物流跟踪 *#}
			<li>{#$langData['siteConfig'][19][66]#}：<a href="https://www.baidu.com/s?wd={#$detail_expCompany#} {#$detail_expNumber#}" target="_blank" style="color:#027cff;">{#$langData['siteConfig'][6][94]#}</a></li> {#*点击查看详细 *#}
		</ul>
	</dd>
	{#/if#}

	<dt>{#$langData['siteConfig'][19][322]#}</dt>{#* 购买信息 *#}
	<dd class="shop-pro">
		{#foreach from=$detail_product item="product"#}
		<ul class="sp clearfix">
			<li class="t0"></li>
			<li class="t1"><a href="{#getUrlPath service='furniture' template='detail' id={#$product.id#}#}" target="_blank"><img src="{#changeFileSize url={#$product.litpic#} type='small'#}"></a></li>
			<li class="t2"><a href="{#getUrlPath service='furniture' template='detail' id={#$product.id#}#}" target="_blank">{#$product.title#}</a></li>
			<li class="t3">
				<span><em>{#$langData['siteConfig'][19][315]#}</em><strong>{#$product.price#}</strong></span> {#* 单价 *#}
				<i>×</i>
				<span><em>{#$langData['siteConfig'][19][311]#}</em><strong>{#$product.count#}</strong></span> {#* 数量 *#}
				<i>+</i>
				<span><em>{#$langData['siteConfig'][19][325]#}</em><strong>{#$product.logistic#}</strong></span> {#* 运费 *#}
				{#if $product.discount != 0#}
				<i>-</i>
				<span><em>{#$langData['siteConfig'][19][326]#}</em><strong>{#$product.discount#}</strong></span> {#* 折扣 *#}
				{#/if#}

				{#if $detail_orderstate != 0#}
					{#if $product.point > 0#}
					<i>-</i>
					<span><em title="{#$cfg_pointRatio#}{#$cfg_pointName#}等于1{#echoCurrency type='short'#}{#echoCurrency type='name'#}">{#$cfg_pointName#}{#$langData['siteConfig'][19][326]#}</em><strong>{#$product.point/$cfg_pointRatio#}</strong></span> {#* 支付 *#}
					{#/if#}
					{#if $product.balance > 0#}
					<i>-</i>
					<span><em>{#$langData['siteConfig'][19][328]#}</em><strong>{#$product.balance#}</strong></span>{#* 余额支付 *#}
					{#/if#}
				{#/if#}
				<i>=</i>
				<span><em>{#$langData['siteConfig'][19][329]#}</em><strong>{#$product.payprice#}</strong></span> {#* 实际支付 *#}
			</li>
		</ul>
		{#/foreach#}
		<div class="sum">
			<div class="right">{#$langData['siteConfig'][19][316]#}：<font>{#echoCurrency type='symbol'#}<strong>{#$detail_totalPayPrice#}</strong></font></span></div>  {#* 实付款 *#}
		</div>
	</dd>

</dl>
