<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/order_homemaking_common.css?v={#$cfg_staticVersion#}">
<!-- 确认服务弹窗 s-->
<div class="fwMask"></div>
<div class="fwWrap jzComWrap">
	<div class="sureFwAlert">
		<h2 class="sureFwAlertTit">确认服务收费</h2>
	 	<a href="javascript:;" class="close">×</a>	
		<div class="wrhomeCon wrhomeCon1 fn-clear">
			<p>{#$langData['homemaking'][7][1]#}：</p>		{#* 确认服务 *#}
			<div class="sfRule">
				<ul class="no_pay fn-clear">
					<li data-id="0" class="active">{#$langData['homemaking'][7][2]#}</li>		{#* 无后续收费 *#}
					<li data-id="1">{#$langData['homemaking'][7][3]#}</li>		{#* 有后续收费 *#}
				</ul>
				<ul class="need_pay fn-clear">
					<li data-id="0" class="active">{#$langData['homemaking'][7][4]#}</li>		{#* 线上收费 *#}
					<li data-id="1">{#$langData['homemaking'][7][5]#}</li>		{#* 线下收费 *#}
				</ul>
			</div>
			
		</div>
		<div class="wrhomeCon wrhomeCon2 fn-clear">
			<p>{#$langData['homemaking'][7][4]#}：</p>		{#* 线上收费 *#}
			<div class="onlinPrice">
				<div><input type="text" id="price" placeholder="{#$langData['homemaking'][7][7]#}"> <span>元</span></div>	{#* 请输入金额 *#}		
				<div><input type="text" id="demo" placeholder="{#$langData['homemaking'][7][8]#}"></div> {#* 收费备注(例：材料费) *#}
			</div>			
		</div>
		<div class="wrhomeCon wrhomeCon3 fn-clear">
			<p>{#$langData['homemaking'][7][6]#}：</p>		{#* 保修情况 *#}
			<div>
				{#* 例：在3个月保修期内，若发生了与本次服务内容完全相同、且非人为损坏的故障，商家将免费提供维修服务。 *#}
				<textarea name="guarantee" id="guarantee" placeholder="{#$langData['homemaking'][5][25]#}"></textarea>
			</div>		
		</div>
		<p class="wrhometip">{#$langData['homemaking'][7][9]#}</p>	{#* 提交后请确保顾客当面结清所有费用 *#}
		<div class="surefwsubmit"  data-id="">
			<a href="javascript:;">{#$langData['homemaking'][7][1]#}</a>		{#* 确认服务 *#}
		</div>
	</div>
</div>
<!-- 确认服务弹窗 e-->



<!-- 派单弹窗 s-->
<div class="jzpdWrap jzComWrap">
	<div class="jzpdAlert">
		<input type="hidden" value="" id="jzcourier">
		<h2 class="sureFwAlertTit">派单</h2>
	 	<a href="javascript:;" class="close">×</a>
	 	<div class="fwPeoList">
	 		<ul>

	 		</ul>
	 		<div class="fwMore"><a href="javascript:;">查看更多></a></div>
	 	</div>
	 	<div class="surepdsubmit"  data-id="">
			<a href="javascript:;">确认派单</a>		{#* 确认派单 *#}
		</div>
	</div>
</div>
<!-- 派单弹窗 e-->

<!-- 无效弹窗 s-->
<div class="jznouseWrap jzComWrap">
  <div class="jznouseAlert">
  	<h2 class="sureFwAlertTit">确认无效</h2>
  	<a href="javascript:;" class="close">×</a>
    {#* 请填写订单失败原因 *#}
    <div class="nouse_note"><textarea name="failnote" id="nouse_tip"  name="failnote" placeholder="{#$langData['homemaking'][5][24]#}"></textarea>
  </div>

 	<div class="snousesubmit"  data-id="">
		<a href="javascript:;">确认无效</a>		{#* 确认无效 *#}
	</div>
  </div>
</div>
<!-- 无效弹窗 e-->
<!-- 服务码弹窗 s-->
<div class="fwcodeWrap jzComWrap">
	<div class="fwcodeAlert">
		<h2 class="sureFwAlertTit">验证服务码</h2>
	 	<a href="javascript:;" class="close">×</a>	
	 	<input type="text" name="cardnum" id="confim_sure" placeholder="{#$langData['homemaking'][3][40]#}">   {#* 请输入服务码 *#}	 	
		<div class="scodesubmit"  data-id="">
			<a href="javascript:;">{#$langData['homemaking'][3][41]#}</a>		{#* 验证服务码 *#}
		</div>
		{#* 上门后向顾客获取服务码 *#} {#* 验证成功后预付金将转入您的账户 *#}
	 	<p class="fwcodeTip">{#$langData['homemaking'][3][38]#}，{#$langData['homemaking'][3][39]#}</p>
	</div>
</div>
<!-- 服务码弹窗 e-->