{#$pageTitle = $langData['siteConfig'][11][12]|cat:" - "|cat:$cfg_webname#}
{#include file="head.html"#}

<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/admin/datetimepicker.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/manage.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/fabu.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/fabu_shop_quan.css?v={#$cfg_staticVersion#}">
<script type="text/javascript">
	var id = "{#$id#}";
	var specifiVal = '{#if !$detail_specifiVal#}[]{#else#}{#$detail_specifiVal#}{#/if#}';//多规格
	var eskuArr = '{#if !$detail_specificationArr#}[]{#else#}{#$detail_specificationArr#}{#/if#}';//编辑--多规格
	var eskuList = '{#if !$detail_specifiList#}[]{#else#}{#$detail_specifiList#}{#/if#}';//编辑--多规格
	var hasChosed= '1100,1099';

	var litmit = 0; //已经设置过的限领值
 var allCount = 0; //已经设置过的发放值
	var limit = '';
</script>
</head>
{#$pageCurr = "fabu_shop_quan"#}
<body>
{#include file="headSidebar.html"#}

<div class="main">
	<div class="nav-tabs fn-clear">
		<ul class="fn-clear">
			<li class="active"><a href="javascript:;">查看优惠券</a></li>
			<li><a href="{#getUrlPath service='member' template='quan' action='shop'#}">返回全部优惠券</a></li>
		</ul>
	</div>
	<div class="container fn-clear">
		<div class="quanDetailBox">
			<h2 class="tit1">基本信息</h2>
			<div class="quanDetail">
				<ul>
					<li class="fn-clear">
						<label class="labname" for="">名称：</label>
						<div class="con">{#$detail_name#}</div>
					</li>
					<li class="fn-clear">
						<label class="labname" for=""> 使用时间： </label>
						<div class="con">{#date('Y-m-d H:i:s',$detail_ktime)#}至{#date('Y-m-d H:i:s',$detail_etime)#} </div> </li>
					<li class="fn-clear">
						<label class="labname" for="">适用范围：</label>
						<div class="con">{#if $detail_shoptype==0#}全店通用{#else#}指定商品{#/if#} </div>
					</li>
					{#if $detail_foodarr && count($detail_foodarr)>0#}
					<li class="fn-clear">
						<label class="labname" for="">商品范围：</label>
						<div class="con">
							<h3>(已选{#count($detail_foodarr)#}个)</h3>
							<ul class="prolist fn-clear">

								{#foreach from=$detail_foodarr item=shop#}
								<li>
									<a href="{#$shop.url#}" class="fn-clear">
										<div class="proimg"><img src="{#$shop.litpic#}" alt=""></div>
										<div class="proinfo">
											<h4>{#$shop.title#}</h4>
											<p>{#echoCurrency type='symbol'#}{#$shop.price#}</p>
										</div>
									</a>
								</li>
								{#/foreach#}

							</ul>
						</div>
					</li>
					{#/if#}
					<li class="fn-clear">
						<label class="labname" for="">面额：</label>
						<div class="con">{#$detail_promotio#}{#if $detail_promotiotype==0#}元{#else#}折{#/if#} </div> </li>
					<li class="fn-clear">
						<label class="labname" for="">使用门槛：</label>
						<div class="con">满{#$detail_basic_price#}元使用 </div> </li>
					<li class="fn-clear">
						<label class="labname" for="">发放量：</label>
						<div class="con"> {#$detail_number#}张 </div>
					</li>
					<li class="fn-clear">
						<label class="labname" for="">每人限领：</label>
						<div class="con">{#$detail_limit#}张</div>
					</li>
				</ul>
				<a href="{#getUrlPath service='member' template='quan' action='shop'#}" class="link_to_list">返回列表</a>
			</div>
		</div>

	</div>

</div>

{#include file="footer.html"#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/bootstrap.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/bootstrap-datetimepicker.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/fabu.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/fabu-shop-quan.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
