
<script type="text/javascript">
	var editUrl = '{#getUrlPath service="member" template="fabu" action="renovation-honor"#}';
</script>
<style media="screen">
.container .list {padding: 10px 30px 0;}
.container table {width: 100%;}
.container .fir {width: 20px;}
.container thead {border-bottom: 2px solid #e3e4e8; font-size: 14px; background: #fff; color: #8e8e8e; line-height: 60px;}
.container tbody tr {line-height: 45px; font-size: 14px; border-bottom: 1px solid #eee;}
.container tbody tr:hover td {background-color: #f5f5f5;}
.container tbody tr:hover td.empty {background-color: #fff;}
.container tbody td {line-height: 28px; padding: 12px 0;}

.pagination {padding-bottom: 0;}
.container td.rowPeo{width: 13%}
.container td.rowState{width: 12%}
</style>

<div class="nav-tabs fn-clear">
	<ul class="fn-clear">
		{#* 全部工地 *#}
		<li data-id="" class="active"><a href="javascript:;">{#$langData['renovation'][15][47]#} (<span id="total">0</span>)</a></li>
		<li data-id="1"><a href="javascript:;">{#$langData['siteConfig'][19][392]#} (<span id="audit">0</span>)</a></li>
		<li data-id="0"><a href="javascript:;">{#$langData['siteConfig'][9][21]#} (<span id="gray">0</span>)</a></li>
		<li data-id="2"><a href="javascript:;">{#$langData['siteConfig'][9][35]#} (<span id="refuse">0</span>)</a></li>
	</ul>
	{#* 添加荣誉资质 *#}
	<a href="{#getUrlPath service='member' template='fabu' action='renovation-honor'#}" class="btn add">{#$langData['renovation'][10][14]#}</a>
</div>



