<script>
	var editUrl = '{#getUrlPath service="member" template="fabu" action="renovation-case"#}';
</script>
<div class="nav-tabs fn-clear">
	<ul class="fn-clear">
		<li data-id="" class="active"><a href="javascript:;">{#$langData['siteConfig'][19][391]#} (<span id="total">0</span>)</a></li>
		<li data-id="1"><a href="javascript:;">{#$langData['siteConfig'][19][392]#} (<span id="audit">0</span>)</a></li>
		<li data-id="0"><a href="javascript:;">{#$langData['siteConfig'][9][21]#} (<span id="gray">0</span>)</a></li>
		<li data-id="2"><a href="javascript:;">{#$langData['siteConfig'][9][35]#} (<span id="refuse">0</span>)</a></li>
	</ul>
	{#* 发布案例 *#}
	<a href="{#getUrlPath service='member'  template='fabu' action='renovation-case' param="fid={#$Identity.store.id#}&fabutype={#$Identity.store.typeid#}"#}" class="btn add">{#$langData['renovation'][11][19]#}</a>
</div>
