{#$pageTitle = $langData['siteConfig'][11][12]|cat:" - "|cat:$cfg_webname#}
{#include file="head.html"#}
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/shop.css?v={#$cfg_staticVersion#}">
<script type="text/javascript">
	var module = '{#$module#}', atpage = 1, totalCount = 0, pageSize = 10, state = '{#$state#}', type = '{#$type#}';
	// var modelType = '{#$module#}', state = '{#$state#}', type = '{#$type#}', typeid = {#$typeid#}, uploadType = "thumb";
	var id = "{#$id#}";
</script>
</head>

{#$pageCurr = "shop_huodong"#}

<body>
{#include file="headSidebar.html"#}

<div class="main">
	<div class="nav-tabs fn-clear">
		<ul class="fn-clear">
			<li class="active"><a href="{#getUrlPath service="member" template="shop_huodong"#}">活动报名</a></li>

			<li {#if $id#}class="fn-hide"{#/if#}><a href="{#getUrlPath service="member" template="shop_hasjoin"#}">已报名</a></li>
		</ul>
	</div>
	<div class="container fn-clear">
		<div class="content1">
			{#if in_array('4',$huodongopenarr)#}
	      	<div class="con tuan">
		          <div class="conTop">
		            <div class="topImg"><img src="{#$templets_skin#}images/shop/icon1.png" alt=""></div>
		            <div class="huodong_topInfo">
		              <h3>拼团特惠</h3>
		              <p>拼团使用裂变方式，促使参与者自发传播，堪称营销神器</p>
		              <h4>商家定好拼团价、拼团人数等；用户在限定时间内开团或参与他人拼团，人满即可</h4>
		            </div>
		          </div>
		          <div class="conBot">
		            <a href="{#getUrlPath service='member' template='fabu_shop_tuan' #}">去报名</a>
		          </div>		        
	      	</div>
			{#/if#}

			{#if in_array('2',$huodongopenarr)#}
	      	<div class="con msha">
		             
		          <div class="conTop">
		            <div class="topImg"><img src="{#$templets_skin#}images/shop/icon2.png" alt=""></div>
		            <div class="huodong_topInfo">
		              <h3>特价秒杀</h3>
		              <p>限时特惠的体验式营销，限时+限量抢购玩法,商家通过低价抢购氛围来引流</p>
		              <h4>秒杀支持设置秒杀价、秒杀时间、数量等；用户在设定好的规则里进行秒杀抢购</h4>
		            </div>
		          </div>
		          <div class="conBot">		            
		            <a href="{#getUrlPath service='member' template='fabu_shop_secKill' #}">去报名</a>
		          </div>
	      	</div>
			{#/if#}

			{#if in_array('3',$huodongopenarr)#}
	      	<div class="con bargain">
		             
		          <div class="conTop">
		            <div class="topImg"><img src="{#$templets_skin#}images/shop/icon3.png" alt=""></div>
		            <div class="huodong_topInfo">
		              <h3>砍价狂欢</h3>
		              <p>通过砍价活动，可使商品宣传急速裂变，一传二、二传四…大幅增加线下引流</p>
		              <h4>商家定好底价及需砍价人数等；用户邀请好友帮助砍价，砍至所定的底价，即可购买</h4>
		            </div>
		          </div>
		          <div class="conBot">		            
		            <a href="{#getUrlPath service='member' template='fabu_shop_bargain' #}">去报名</a>
		          </div>
	      	</div>
			{#/if#}

			{#if in_array('1',$huodongopenarr)#}
	      	<div class="con qianggou">
		          <div class="conTop">
		            <div class="topImg"><img src="{#$templets_skin#}images/shop/icon4.png" alt=""></div>
		            <div class="huodong_topInfo">
		              <h3>限时抢购</h3>
		              <p>限时抢购是平台所设限时限量闪购业务，通过限时开团打造“抢”的氛围</p>
		              <h4>商家设定好抢购价、抢购数量、时间等；用户在活动时间内完成抢购</h4>
		            </div>
		          </div>
		          <div class="conBot">
		            
		            <a href="{#getUrlPath service='member' template='fabu_shop_qianggou' #}">去报名</a>
		          </div>
		        
	      	</div>
			{#/if#}
	    </div>
	</div>

</div>

{#include file="footer.html"#}
</body>
</html>
