.userinfo,.checkDetail{cursor: pointer;}
.userinfo:hover span,.checkDetail:hover{color: #408CFF;}
.sort a{color: #999;text-decoration: none !important;}
.sort a i{display:inline-block;width: 18px;height: 20px;background: url(/static/images/ui/chosen-sprite.png) no-repeat -2px 3px;margin-left: 2px;}
.sort a:hover,.sort .curr{color: #408CFF;}
.select-group{display: inline-flex;}
.select-group label{margin: 0;}
.select-group #userFilter{margin: 0;}
.select-group button{border-radius: 4px 0px 0px 4px !important;}
.select-group #userid1{border-radius: 0 !important;}
.select-group #userid1:hover,.select-group #userid1:focus{z-index: 1;}
.select-group #userid2{border-radius: 0px 4px 4px 0px !important;margin-left: -1px;}