.pageCon{display: flex;}
.pageCon .leftCon{min-width: 150px; height: 100vh; position: relative; flex-shrink: 0;}
.pageCon .leftCon h4{font-size: 18px; color: #000; line-height: 60px; padding-left: 20px;}
.pageCon .leftCon ul li{height: 40px; font-size: 14px; color: #3D4974;  padding-left:26px ; padding-right:26px; margin: 0 20px 6px;  cursor: pointer;  border-radius: 6px; display: flex; align-items: center; }
.pageCon .leftCon ul li a{color: #3D4974;}
.pageCon .leftCon ul li:hover a{color: #1975FF;}
.pageCon .leftCon ul li.on_chose,.pageCon .leftCon ul li:hover{background-color: #EBF3FF;color:#1975FF ;}
.pageCon .leftCon::after{content: ''; width: 1px; background: #DEDEDE; box-shadow: 0px 0px 18px 0px rgba(12,40,95,0.11); opacity: 0.5; right: 0; top:0; bottom: 0; display: block; position: absolute;}
.pageCon .leftCon .logout_btn{width: 110px; height: 40px; background: #F2F4F7; border-radius: 6px; font-size: 14px; color: #8F97B3; display: flex; justify-content: center; align-items: center; position: absolute; left: 0; right: 0; bottom: 24px; margin: auto;}
.pageCon .rightCon{flex-grow: 1; height: 100vh;}
.pageCon .rightCon .manageBox{display: flex; flex-direction: column; height: calc(100% - 50px);}
.pageCon .rightCon .manageBox .manageHeader .left_h{display: flex; align-items: baseline; }
.pageCon .rightCon .manageBox .manageHeader h2{font-size: 24px; color:#000; margin-right: 12px;}
.pageCon .rightCon .manageBox .manageHeader .tip{color: #999; font-size: 14px;}
.pageCon .rightCon .manageBox .manageHeader .tip span.tip_icon{display: inline-block; width: 16px; height: 16px; background: url(/static/images/admin/tip_icon.png) no-repeat center/cover;  vertical-align: middle; cursor: pointer;}
.pageCon .rightCon .manageBox .manageHeader{padding: 0 30px; height: 75px; display: flex; align-items: center; justify-content: space-between;}
.pageCon .rightCon .manageBox .noList{margin: 0 30px;height: 620px; background: #F5F7FA; border: 1px solid #EDF0F2; border-radius: 6px; flex-grow: 1; display: flex; align-items: center; justify-content: center;}
.pageCon .rightCon .manageBox .noList .addNewMod{width: 260px; height: 476px; background: #FFFFFF url(/static/images/admin/default_bg_index.png) no-repeat top center/100% auto; border: 1px solid #EDF0F2; border-radius: 18px; display: flex; align-items: center; justify-content: center; flex-direction: column;}
.pageCon .rightCon .manageBox .noList.memberPage .addNewMod{background-image: url(/static/images/admin/default_bg_member.png);}
.pageCon .rightCon .manageBox .noList .addNewMod h5{color: #4C5866; font-size: 16px; text-align: center;}
.pageCon .rightCon .manageBox .noList .addNewMod .addNew{display: flex; align-items: center; justify-content: center; width: 144px; height: 46px; background: #3983FA; border-radius: 10px; color: #fff; font-size: 14px; margin-top: 24px;}
.pageCon .rightCon .manageBox .noUseModel.memberPage{transform: translateY(15px);}
.pageCon .rightCon .right_h{display: flex; align-items: center;}
.pageCon .rightCon .right_h .searchBox {display: flex; align-items: center; justify-content: flex-end;}
.pageCon .rightCon .right_h .searchBox .el-input input,.pageCon .rightCon .right_h .smSelect input{height: 34px; font-size: 14px;}
.pageCon .rightCon .right_h .searchBox .el-input input::placeholder{color: #C2C4CC;}
.pageCon .rightCon .right_h .smSelect{width: 110px; height: 34px; margin-right: 10px;}
.pageCon .rightCon .right_h .el-button{width: 80px; height: 34px; background: #409EFF; border-radius: 4px; color: #fff; font-size: 15px; line-height: 34px; padding: 0; box-sizing: border-box; margin-left: 10px; flex-shrink: 0; border: none;}
.pageCon .rightCon .right_h .el-input__icon{height: 34px; line-height: 34px;}
.manageCon{max-height: calc(100% - 75px); padding:0 30px; overflow: auto;}
.manageCon .modList{display: grid; grid-template-columns: repeat(auto-fit,minmax(240px,240px)); column-gap: 20px; row-gap: 20px; padding-bottom: 34px;}
.manageCon .modList li.addNewMod a{display: flex; align-items: center; justify-content: center; flex-direction: column; height: 100%; width: 100%;}
.manageCon .modList li.addNewMod p{margin-top: 10px;}
.manageCon .modList li.addNewMod a::before{content: ''; display: block; width: 40px; height: 40px; background: url(/static/images/admin/siteConfigPage/add_blue_big.png) no-repeat center/cover; margin-bottom: 20px;}
.manageCon .modList li{width: 240px; height: 476px; background: #FFFFFF; border: 1px solid #EDF0F2;  border-radius: 18px;}
.manageCon .modList li:hover{box-shadow: 0px 15px 30px 0px rgba(0,13,77,0.06);}
.manageCon li:hover .mod_opt{opacity: 1;}
.manageCon li .mod_opt{width: 220px; height: 150px; background: linear-gradient(180deg, #00000000 0%,rgba(0,0,0,.25) 100%);  border-radius: 0px 0px 12px 12px;display: flex; flex-direction: column; align-items: center; justify-content: flex-end; box-sizing: border-box; padding-bottom: 24px; position: absolute; left: 0; right: 0; bottom: 0; opacity: 0;}
.manageCon li .edit_page{color: #fff; font-size: 14px; width: 144px; height: 46px; background: #3983FA; border-radius: 10px; display: flex; align-items: center; justify-content: center;}
.manageCon li .userModel{width: 144px; height: 46px; background: #EFFEF8; border-radius: 10px; color: #00BF7C; font-size: 14px;  display: flex; align-items: center; justify-content: center; margin-bottom: 14px;}
.manageCon li h5{color: #4C5866; font-size: 16px;}
.manageCon li p{color: #A1A9B3; font-size: 14px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;} 
.manageCon li p span{font-size: 12px; color: #81A0CE; margin-left: 4px; }
.manageCon li.mod_li{padding: 10px 10px 0; box-sizing: border-box;}
.manageCon li.mod_li .mod_img{width: 220px; height: 400px; background: rgba(0,0,0,.02); border-radius: 12px; position: relative; overflow: hidden;}
.manageCon li h4{font-size: 15px; color: #333;}
.manageCon li.mod_li .mod_info{display: flex; align-items: center; justify-content: space-between; height: 66px;}
.manageCon li.mod_li .mod_img .mod_opt a{transform: translateY(10px); transition: all .2s ease-in-out; opacity: 0;}
.manageCon li.mod_li:hover .mod_img .mod_opt a{transform: translateY(0); opacity: 1;}
.manageCon li.mod_li .mod_info .opt{width: 32px; height: 32px; background: #F2F4F7; border-radius: 6px; display: flex; align-items: center; justify-content: center; cursor: pointer;}
.manageCon li.mod_li .mod_info .opt em{display: block; width: 3px; height: 3px; border-radius: 2px; background-color: #737780; margin: 0 2px;}
.optionBoxPop{width: 120px; max-height: 98px; background: #FFFFFF; border: 1px solid #E8EAEC; box-shadow: 0px 20px 40px 0px rgba(0,17,51,0.08); border-radius: 6px; padding: 8px 0; box-sizing: border-box;}
.optionBoxPop li{ color: #2E3033; font-size: 14px; line-height: 40px; cursor: pointer; display: flex; align-items: center; padding: 0 12px;}
.optionBoxPop li:hover{background-color: #F2F4F7;}
.optionBoxPop li::before{content: ''; display: block; width: 20px; height: 20px; background: url(/static/images/admin/apply_icon.png) no-repeat center/cover; margin-right: 7px;}
.optionBoxPop li.del::before{background-image: url(/static/images/admin/delred_icon.png);}
.optionBoxPop li.del{color: #F73131;}
.optionBoxPop li.del:hover{color: #F73131; background-color: #FFE8E8;}
.manageCon li.mod_li .mod_img  .useState{color: #919499; font-size: 12px;border-radius: 10px; position: absolute; left: 8px; top: 8px; padding: 0 8px; height: 20px; background-color: #F2F7FF;}
.manageCon li.mod_li .mod_img  .useState.state1{background-color: rgba(0,0,0,.6); color: #fff; display: flex; align-items: center; justify-content: center;}
.manageCon li.mod_li .mod_img  .useState.state1::before{content: ''; width: 4px;height: 4px; background: #00E695; border-radius: 50%; display: block; margin-right: 4px;}
.manageCon li.mod_li img{width: 100%; min-height: 100%; object-fit: cover;}

.pageCon .rightCon .manageBox .manageHeader .toggleSwitch{display: flex; align-items: center; color: #2672EC; font-size: 14px; margin-right: 18px; cursor: pointer;}
.pageCon .rightCon .manageBox .manageHeader .toggleSwitch span{display: block; width: 22px; height: 14px; background: linear-gradient(90deg, #67C4FF 0%, #50B5FF 100%); opacity: 0.9; border-radius: 7px; margin-right: 7px; position: relative;  cursor: pointer;}
.pageCon .rightCon .manageBox .manageHeader .toggleSwitch span em{display: block; width: 8px; height: 8px; background: #FFF; border-radius: 4px; position: absolute; left: 11px; top: 0; bottom: 0; margin: auto; transition: left .3s;} 
.pageCon .rightCon .manageBox .manageHeader .toggleSwitch.noUse{color: #4d4d4d;}
.pageCon .rightCon .manageBox .manageHeader .toggleSwitch.noUse span em{left: 3px; background-color: #BFBFBF;} 
.pageCon .rightCon .manageBox .manageHeader .toggleSwitch.noUse span{background: transparent; border: solid 1px #BFBFBF; box-sizing: border-box;}


/* 个人中心的模板只有4个 */
.memberPage.manageCon{display: flex; overflow: visible;  }
.memberPage.manageCon .modListBox{position: relative;  }
.memberPage.manageCon .modList.flowhidden{overflow:hidden; max-height: calc(100% - 75px)}
.memberPage.manageCon .modList{display: flex; padding-bottom: 0;flex-wrap: wrap; }
/* .memberPage.manageCon .modList li.mod_li{margin-right: 20px;} */
.memberPage.manageCon .diy_mask{position: absolute; left: -15px; right: -15px; background-color: rgba(242, 242, 242, .8); border-radius: 24px; top: -15px; bottom: -15px; z-index: 1; display: flex; align-items: center; justify-content: center;}
.memberPage.manageCon .diy_mask .mask_tip{width: 144px; height: 46px; background: rgba(204,204,204,0.9); border: 1px solid #FFFFFF; border-radius: 10px; color: #fff; display: flex; align-items: center; color: #fff; font-size: 16px; justify-content: center;}
.terminalList {margin-left: 30px;}
.terminalList li{margin-bottom: 20px; display: flex; align-items: center;}
.terminalList li a{display: flex; align-items: center; width: 144px; height: 46px; background: #F5F7FA; border-radius: 10px; font-size: 14px; padding: 0 16px; color: #4C5866; box-sizing: border-box; margin-right: 18px; flex-shrink: 0;}
.terminalList li a s{display: block; width: 14px; height: 14px; margin-right: 16px; background: url(/static/images/admin/edit_icon_blue.png) no-repeat center/cover;}
.terminalList li a:hover{background-color: #E6E9ED;}
.terminalList li p{color: #999; font-size: 14px;}
.terminalList li p span{color: #1975FF; cursor: pointer;}
[v-cloak]{display: none;}

/* 对话框 */
.delModBox{border-radius: 10px;}
.delModBox .el-dialog__body{padding: 20px 30px;}

::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
}
::-webkit-scrollbar-thumb {
    background-color: #0003 !important;
    border-radius: 10px !important;
    transition: all .2s ease-in-out !important;
}
::-webkit-scrollbar-track-piece {
    /* background: #f3f3f3 !important; */
}