
[v-cloak]{display: none;}
html{ overflow: overlay; background: #F2F7FF ; box-sizing: border-box; padding-right: 10px;scrollbar-gutter:stable;min-width: 1420px;}
.pagebox{ min-height: 100vh; overflow: hidden; background: linear-gradient(180deg, #fff 0%, #F2F7FF 300px, #F2F7FF 100%);}
.allDataShow{height: 262px; box-sizing: border-box; padding: 20px 30px 0;}
.allDataShow h2{font-size: 22px; color: #141433; font-weight: bold;}
.allDataShow .dTitle{display: flex; align-items: center; justify-content: space-between; margin-bottom: 16px;}
.allDataShow .dTitle .right_txt{display: flex; align-items: center; color: #737380; font-size: 14px;}
.allDataShow .dTitle .btns_group{display: flex; align-items: center; }
.allDataShow .dTitle .btns_group a{display: flex; align-items: center; justify-content: center; height: 28px; border: solid 1px #EDEDED; border-radius: 4px; margin-left: 10px; min-width: 60px; box-sizing: border-box; padding: 0 10px; color: #737380; }
.allDataShow .dTitle .btns_group a:hover{background-color: #f5f5f5;}
.allDataShow .dataGridBox{display: grid; grid-template-columns: repeat(4,1fr);column-gap: 20px; margin: 0;}
.allDataShow .dataGridBox li{height: 160px; background: #EBF3FF; border-radius: 12px; list-style: none; box-sizing: border-box; padding: 0 36px 4px; display: flex; align-items: center; justify-content: space-between; position: relative; cursor: pointer;}
.allDataShow .dataGridBox li::after{content: ''; display: block; position: absolute; left: 0; right: 0; top: 0; bottom: 0; border-radius: 12px; background-color: rgba(0,0,0,.04); opacity: 0; transition: all .2s;}
.allDataShow .dataGridBox li:hover::after{opacity: 1;}
.allDataShow .dataGridBox li.d_job{background-color: #FFF0FB;}
.allDataShow .dataGridBox li.d_resume{background-color: #F4F2FF;}
.allDataShow .dataGridBox li.d_income{background-color: #FFF2F9;}
.allDataShow .dataGridBox li .r_imgShow{width: 48px; height: 48px; align-self: flex-end; margin-bottom: 24px; flex-shrink: 0;}
.allDataShow .dataGridBox li .r_imgShow img{width: 48px; height: 48px;}
.allDataShow .dataGridBox li .l_dShow{display: block;}
.allDataShow .dataGridBox li .l_dShow h5{color: #141433; font-size: 16px;}
.allDataShow .dataGridBox li .l_dShow h3{color: #141433; font-size: 32px; margin-top: 10px; font-weight: bold; font-family: DINMittelschriftStd;}
.allDataShow .dataGridBox li .l_dShow p{color: #737380; font-size: 15px; margin-top: 16px;}
.allDataShow .dataGridBox li .l_dShow p em{color: #141433; font-style: normal;}
.allDataShow .dataGridBox li .l_dShow i.line{display: inline-block; width: 1px; height: 18px; background-color: #D5E0ED; margin: 0 18px; vertical-align: middle;}


.modConBox.flexBox{display: flex; align-items: flex-start; margin-bottom: 20px;}
.modConBox.flexBox .echartBox{width: 520px; height: 416px; border-radius: 12px; background-color: #fff; margin-right: 20px; margin-top: 20px;}
.modConBox.flexBox .echartBox .box_header{margin: 0 20px; padding-top: 16px;}
.modConBox.flexBox .echartBox .box_header h3{font-size: 18px; color: #141433; font-weight: bold; display: flex; align-items: center; justify-content: space-between;}
.modConBox.flexBox .echartBox .box_header h3 .add-page{font-weight: normal; font-size: 14px; color: #3377FF;}
.modConBox.flexBox .echartBox .box_header ul{border-bottom: solid 1px #EDEDED; color: #525866; font-size: 14px; height: 40px; display: flex; align-items: center; padding: 0 7px; position: relative;}
.modConBox.flexBox .echartBox .box_header ul li{padding: 0 6px; margin-right: 30px; cursor: pointer; white-space: nowrap;}
.modConBox.flexBox .echartBox .box_header ul li.active{color: #3377FF; font-weight: bold;position: relative; line-height: 40px;}
.modConBox.flexBox .echartBox .box_header ul li.active::after{ display: block; content: '';  height: 3px; background-color: #3377FF; position: absolute; left: 0; right: 0; bottom: -1px;}
.modConBox.flexBox .echartBox .box_header ul li:hover,.modConBox.flexBox .pluginsBox .linkTo:hover,.modConBox.flexBox .newsDataBox .box_con li:hover  h5,.modConBox.flexBox .newsDataBox .box_header .btns_group a:hover{color: #3377FF;}
.modConBox.flexBox .echartBox .box_con{height: 320px; width: 100%; display: flex; align-items: flex-start; justify-content: space-between;}
.modConBox.flexBox .echartBox .box_con .ratio{width: 292px; height: 100%;}
.modConBox.flexBox .echartBox .box_con .ratioInfo{display: flex; align-items: flex-start; margin-top: 36px; flex-grow: 1; }
.modConBox.flexBox .echartBox .box_con .ratioInfo dl{margin-right: 28px; flex-grow: 1;}
.modConBox.flexBox .echartBox .box_con .ratioInfo dt{color: #8A8F99; font-size: 15px; margin-bottom: 20px; font-weight: normal;}
.modConBox.flexBox .echartBox .box_con .ratioInfo dd{color: #525866; font-size: 15px; max-width: 110px; overflow: hidden; text-overflow: ellipsis; line-height: 44px; white-space: nowrap; } 
.modConBox.flexBox .echartBox .box_con .ratioInfo dd i{display: inline-block; width: 12px; height: 12px; border-radius: 2px; margin-right: 10px;}
.modConBox.flexBox .optDataBox{ height: 416px; border-radius: 12px;  flex-grow: 1; background-color: #fff;}

.modConBox.flexBox .optDataBox{padding: 0 20px; display: flex; }
.modConBox.flexBox .optDataBox>div{flex-grow: 1;}
.modConBox.flexBox .box_header{display: flex; align-items: center; justify-content: space-between; }
.modConBox.flexBox .box_header h3{font-size: 18px; color: #141433; font-weight: bold; line-height: 68px;}
.modConBox.flexBox .box_header .link{color: #525866; font-size: 14px;}

.modConBox.flexBox .toOptBox{padding-right: 30px; padding-left: 28px;}
.modConBox.flexBox .toOptBox ul{display: grid; grid-template-columns: repeat(5,1fr); row-gap: 15px; column-gap: 15px;}
.modConBox.flexBox .toOptBox li{height: 92px; background-color: #F7F8FA; border-radius: 10px; position: relative; box-sizing: border-box; padding-left: 16px; display: flex;  flex-direction: column; justify-content: center; cursor: pointer;}
.modConBox.flexBox .toOptBox li::after{content: ''; display: block; position: absolute; left: 0; right: 0; top: 0; bottom: 0; border-radius: 10px; background-color: rgba(0, 0, 0, .03); pointer-events: none; opacity: 0; transition: all .2s;}
.modConBox.flexBox .toOptBox li:hover::after{opacity: 1;}
.modConBox.flexBox .toOptBox li h4{font-size: 16px; color: #141433;}
.modConBox.flexBox .toOptBox li p{color: #ACB2BF; font-size: 15px; margin-top: 6px;}
.modConBox.flexBox .toOptBox li h3{font-size: 26px; color: #071A59; font-family: DINMittelschriftStd;}
.modConBox.flexBox .toOptBox li .opt_btn{width: 20px; height: 20px; background: url(/static/images/admin/job/dot_icon.png) no-repeat center/cover; position: absolute; right: 12px; top: 15px; cursor: pointer;}
.modConBox.flexBox .toOptBox li .opt_btn:hover,.modConBox.flexBox .flexRight .psInfoBox .box_header .set_icon:hover{background-color: #eee; border-radius: 2px;}
.modConBox.flexBox .optDataBox .jobfairsBox{}
.modConBox.flexBox .optDataBox .jobfairsBox ul{max-height: 304px; padding-left: 6px; overflow:overlay;}
.modConBox.flexBox .optDataBox .jobfairsBox ul::-webkit-scrollbar{width: 10px !important; height: 0;  background: none;}
.modConBox.flexBox .optDataBox .jobfairsBox ul::-webkit-scrollbar-thumb{ border-radius: 0 !important; width: 10px !important; -webkit-box-shadow: inset 0 0 5px rgba(202, 203, 204, .4); background: rgba(202, 203, 204, .4) !important;}
.modConBox.flexBox .optDataBox .jobfairsBox li{padding-left: 14px; padding-bottom: 30px; border-left: dashed 1px #DADEE6; box-sizing: border-box; position: relative; border-top: solid 1px transparent;}
.modConBox.flexBox .optDataBox .jobfairsBox li:first-of-type:last-of-type{height: 304px;}
.modConBox.flexBox .optDataBox .jobfairsBox li::before{content: ''; display: block; width: 12px; height: 12px; box-sizing: border-box; border: solid 3px #3377FF; border-radius: 50%; position: absolute; left: -6px; top: 0; background-color: #fff;}
.modConBox.flexBox .optDataBox .jobfairsBox li.endFair .fair_time h5{color:#8A8F99;}
.modConBox.flexBox .optDataBox .jobfairsBox li.endFair::before{border-color: #B8CAE6;}
.modConBox.flexBox .optDataBox .jobfairsBox li .loadEnd{text-align: center; font-size: 14px; margin-top: 30px; color: #AAADB3;}
.modConBox.flexBox .optDataBox .jobfairsBox .fair_time{ margin-bottom: 16px; margin-top: -6px;}
.modConBox.flexBox .optDataBox .jobfairsBox .fair_time h5{color: #141433; font-size: 15px;}
.modConBox.flexBox .optDataBox .jobfairsBox .fair_time p{font-size: 14px; color: #AAADB3; margin-top: 10px;}
.modConBox.flexBox .optDataBox .jobfairsBox .fair_con{background: #F0F7FF; border-radius: 12px; padding:10px 10px 10px; min-height: 106px; margin-left: 6px;  box-sizing: border-box;}
.modConBox.flexBox .optDataBox .jobfairsBox .fair_con .fair_state{align-self: flex-end;}
.modConBox.flexBox .optDataBox .jobfairsBox .fair_con h3{font-size: 16px; color: #3377FF; font-weight: bold; padding: 0 14px;}
.modConBox.flexBox .optDataBox .jobfairsBox .fair_con .fair_detail{display: flex; align-items: center; justify-content: space-between;  padding: 0 14px;}
.modConBox.flexBox .optDataBox .jobfairsBox li.endFair .fair_con h3{color: #4D5E80;}
.modConBox.flexBox .optDataBox .jobfairsBox li.endFair .fair_con{background-color: #F7F8FA;}
.modConBox.flexBox .optDataBox .jobfairsBox .fair_con .fair_organize{padding: 10px; background-color: #fff; border-radius: 8px; box-sizing: border-box; display: flex; align-items: center; margin-top: 20px;}
.modConBox.flexBox .optDataBox .jobfairsBox .fair_con .fair_organize .o_pic{width: 120px; height: 90px; border-radius: 4px; margin-right: 16px;}
.modConBox.flexBox .optDataBox .jobfairsBox .fair_con .fair_organize .o_pic img{display: block; width: 100%; height: 100%; object-fit: cover;  border-radius: 4px; }
.modConBox.flexBox .optDataBox .jobfairsBox .fair_con .fair_organize h5{color: #525866; font-size: 14px; margin-bottom: 10px;}
.modConBox.flexBox .optDataBox .jobfairsBox .fair_con .fair_organize p{color: #8A8F99; font-size: 12px; line-height: 26px;}
.modConBox.flexBox .optDataBox .jobfairsBox .fair_con span{margin-right: 16px;}
.modConBox.flexBox .optDataBox .jobfairsBox .fair_con span:last-of-type{margin-right: 0;}
.modConBox.flexBox .optDataBox .jobfairsBox .fair_con span em{color: #141433;}
.modConBox.flexBox .optDataBox .jobfairsBox .fair_con span em.red{color: #F93442;}
.modConBox.flexBox .optDataBox .jobfairsBox .fair_con p{font-size: 14px; color: #737380; }
.modConBox.flexBox .optDataBox .jobfairsBox .fair_con p i.line{display: inline-block; width: 1px; height: 14px; background: #D5E0ED; border-radius: 0px; margin-right: 14px;}
.modConBox.flexBox .optDataBox .jobfairsBox li.noData .btns_group a{display: flex; align-items: center;  height: 80px; border-radius: 12px; padding: 15px 30px; box-sizing: border-box; background-color: #F0F7FF; margin-top: 20px;  }
.modConBox.flexBox .optDataBox .jobfairsBox li.noData .btns_group p{margin-top: 4px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.modConBox.flexBox .optDataBox .jobfairsBox li.noData .btns_group  .img{width: 50px; height: 50px; margin-right: 30px; flex-shrink: 0;}




.modConBox.flexBox .todayDataBox{ height: 400px; border-radius: 12px; background-color: #fff; flex-grow: 1;}
.modConBox.flexBox .newsDataBox{height: 270px; border-radius: 12px; background-color: #fff; margin-top: 20px;}
.modConBox.flexBox .newsDataBox .box_header{display: flex; align-items: center; justify-content: space-between; height: 70px; padding: 0 24px;}
.modConBox.flexBox .newsDataBox .box_header h3,.modConBox.flexBox .todayDataBox .box_header h3{font-size: 18px; color: #141433; font-weight: bold; line-height: 68px;}
.modConBox.flexBox .newsDataBox .box_header .btns_group a{color: #525866; font-size:14px ; margin-left: 32px;}
.modConBox.flexBox .newsDataBox .box_con ul{padding: 0 10px 0 20px; overflow: auto; max-height: 190px;  margin-right: 10px; box-sizing: border-box;}
.modConBox.flexBox .newsDataBox .box_con li {margin-bottom: 20px; }
.modConBox.flexBox .newsDataBox .box_con li a{display: flex; align-items: center; cursor: pointer; }
.modConBox.flexBox .newsDataBox .box_con li a .list_con{ width: 0; flex: 1;}
/* .modConBox.flexBox .newsDataBox .box_con li h5::before{content: '·';font-size: 24px; display: inline-block; vertical-align: middle;  color: #FF6470; margin-right: 10px;} */
.modConBox.flexBox .newsDataBox .box_con li .list_pic{flex-shrink: 0;width: 60px; height: 44px; background: #F7F8FA; border-radius: 4px; margin-right: 15px;}
.modConBox.flexBox .newsDataBox .box_con li .list_pic img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 4px;}
.modConBox.flexBox .newsDataBox .box_con li .list_con{width: 0; flex-grow: 1;}
.modConBox.flexBox .newsDataBox .box_con li h5{padding-left: 6px; box-sizing: border-box; color: #525866; font-size: 14px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.modConBox.flexBox .newsDataBox .box_con li h5 span{color: #3377FF;}
.modConBox.flexBox .newsDataBox .box_con li p{color: #ACB2BF; font-size: 12px;}
.modConBox.flexBox .newsDataBox .box_con .btns_group{display: grid; grid-template-columns: repeat(2,1fr); column-gap: 15px; margin: 10px 24px 0;}
.modConBox.flexBox .newsDataBox .box_con .btns_group a{display: flex; align-items: center;height: 80px; background: #F0F7FF; border-radius: 12px; font-size: 15px; color: #292C33; padding: 0 16px;}
.modConBox.flexBox .newsDataBox .box_con .btns_group .icon{width: 24px; height: 24px; background: url(/static/images/admin/job/type_icon.png) no-repeat center/cover; margin-right: 4px;}
.modConBox.flexBox .newsDataBox .box_con .btns_group .fabu_btn .icon{background-image: url(/static/images/admin/job/fabu_icon.png);}
.modConBox.flexBox .newsDataBox .box_con .btns_group .fabu_btn{background-color: #F7F8FA;}

.modConBox.flexBox .todayDataBox .box_header{display: flex; align-items: center; padding: 0 27px; height: 70px; justify-content: space-between;}
.modConBox.flexBox .todayDataBox .box_header h3{margin-right: 15px; white-space: nowrap;}
.modConBox.flexBox .todayDataBox .time-box {display: flex; justify-content: space-between; align-items: center;}
.time-chose {display: flex; justify-content: space-between; align-items: center; margin-left: 10px; border:solid 1px #DAE3ED; border-left: 0; border-radius: 4px; overflow: hidden;}
.time-chose .inline_d {cursor: pointer; padding: 0 10px; display: inline-block; color: #9D9FA6; font-size: 14px; line-height: 30px; text-align: center; border-left: 1px solid #DAE3ED;}
.time-chose .inline_d em {font-style: normal;}
.time-chose .inline_d.self-define i {display: inline-block; width: 17px; height: 17px; background: url('../../images/admin/date_chose.png') no-repeat center; background-size: cover; vertical-align: middle; margin-left: 3px;}
.time-chose .inline_d.self-define{position: relative;}
.time-chose .inline_d.self-define .el-date-editor{position: absolute; width: 100%; left: 0; top: 0; bottom: 0; right: 0; opacity: 0; cursor: pointer;}
.time-chose .inline_d.self-define .el-date-editor input{cursor: pointer !important;}
.time-chose .inline_d.curr {box-shadow: 0px 2px 5px 0px inset rgba(82,88,102,0.2);}
.modConBox.flexBox .todayDataBox{min-width: 570px;}
/* .modConBox.flexBox .todayDataBox .box_con{max-width: 100%;} */
.modConBox.flexBox .todayDataBox .box_con {padding-left: 30px; overflow: auto; max-width: 100%; height: calc(100% - 70px); overflow-y: hidden;}
.modConBox.flexBox .todayDataBox .box_con::-webkit-scrollbar{width: 10px !important; height: 10px !important; height: 0;  background: none;}
.modConBox.flexBox .todayDataBox .box_con::-webkit-scrollbar-thumb{ border-radius: 0 !important; width: 10px !important; -webkit-box-shadow: inset 0 0 5px rgba(202, 203, 204, .4); background: rgba(202, 203, 204, .4) !important;}
.orderList .order_company{display: flex; align-items: center; margin-bottom: 20px;}
.orderList .order_other{display: flex; align-items: center;}
.orderList .all_count{width: 310px; height: 132px; background: url(/static/images/admin/shop/shop_company.png) no-repeat right bottom/cover ; box-sizing: border-box; padding-left: 28px; display: flex; flex-direction: column; justify-content: center; margin-right: 20px; flex-shrink: 0;  cursor: pointer;}
.orderList .order_other .all_count{background-image:  url(/static/images/admin/shop/shop_other.png);}
.orderList .d_ul{display: flex; flex-shrink: 0;}
.orderList .d_ul>li{min-width: 168px; height: 132px; flex-shrink: 0; box-sizing: border-box; padding-left: 12px; display: flex; flex-direction: column; justify-content: center;}
.orderList h5{font-size: 15px; color: #525866; }
.orderList h3{font-size: 15px; color: #8A8F99;}
.orderList h3 span{margin-left: 12px}
.orderList p{color: #8A8F99; font-size: 14px;}
.orderList p span{color: #3377FF;}
.orderList p em{display: inline-block; width: 14px; height: 14px; background: url(/static/images/admin/job/arr_down.png) no-repeat center/cover; margin: 0 6px; margin-right: 2px; vertical-align: middle; margin-bottom: 2px;}
.orderList p.up em{background-image: url(/static/images/admin/job/arr_up.png);}
.orderList h3 b{font-family: DINMittelschriftStd; font-weight: bold; color: #071A59; font-size: 34px;}
.orderList .d_ul h3 b{font-size: 26px;}





.ui_title_bar{display: none !important;}
/* .popBox{width: 579px; height: 300px; background: #FFFFFF; box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1); border-radius: 20px; padding: 0 30px;} */
.popBox{width: 579px; height: 300px; background: #FFFFFF; box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1); border-radius: 20px; padding: 0 30px; position: fixed; left: 0; right: 0; top: 0; bottom: 0; margin: auto; z-index: 1; animation: popup .3s;}
.pop_mask{position: fixed; z-index: 1; left: 0; right: 10px; top: 0; bottom: 0; background-color: rgba(0,0,0,.3);}
.popBox .pop_header h4{color: #1F2533; font-size: 18px; font-weight: bold; line-height: 70px;}
.popBox .pop_header{display: flex; align-items: center; justify-content: space-between}
.popBox .pop_header .closePop{width: 24px; height: 24px; opacity: 1 !important; margin-top: -10px; margin-right: -5px; background: url(/static/images/admin/close_btn1.png) no-repeat center/cover;}
.popBox .pop_header .closePop:hover{ opacity: .8 !important;}
.popBox .pop_con .options{display: flex; align-items: center;}
.popBox .pop_con .options .opt{width: 240px; height: 60px; background: #F7F8FA; border-radius: 6px; color: #626973; font-size: 14px; display: flex; align-items: center; margin-right: 20px; box-sizing: border-box; padding-left: 18px; cursor: pointer;}
.popBox .pop_con .options .opt span.quan{ display: block; width: 16px; height: 16px; background: #FFFFFF; border-radius: 50%;border: 1px solid #AFB0B3;  display: flex; align-items: center; justify-content: center; box-sizing: border-box; margin-right: 6px;}
.popBox .pop_con .options .opt.currChose{border:solid 1px #6699FF; background-color: #F0F5FF;}
.popBox .pop_con .options .opt.currChose span.quan{border: 1px solid #2672EC;}
.popBox .pop_con .options .opt.currChose span.quan::before{content: ''; display: block; width: 10px; height: 10px; background: #2672EC; border-radius: 50%;}
.popBox .pop_con .check_quick{margin-top: 20px; height: 18px;}
.popBox .pop_foot .btns_group{display: flex; align-items: center; justify-content: flex-end; margin-top: 60px;}
.popBox .pop_foot .btns_group a{display: flex; align-items: center; justify-content: center; width: 140px; height: 44px; background: #FFFFFF; border-radius: 6px; border: 1px solid #EDEDED; font-size: 15px; color: #666; font-size: 15px;}
.popBox .pop_foot .btns_group a:hover{background-color: #f5f5f9;}
.popBox .pop_foot .btns_group a.confirm{border: none; background: #2672EC !important; color: #fff; margin-left: 16px;}
.popBox .pop_foot .btns_group a.confirm:hover{opacity: .9;}
.popBox .pop_foot .btns_group a.confirm.disabled{opacity: .3;}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{border-color:#1975FF !important; background-color: #1975FF !important;}
.el-checkbox__input.is-checked+.el-checkbox__label{color:#1975FF;}



/* 商城 */
.modConBox.flexBox .flexRight{width: 520px;margin-left: 20px;}
.modConBox.flexBox .flexLeft{flex-grow: 1; height: 584px; background-color: #fff; border-radius: 10px; min-width: 870px;}
.modConBox.flexBox.shrotBox .flexLeft{height: 482px; }
/* 平台配送情况 */
.modConBox.flexBox .flexRight .psInfoBox{height: 150px; background: #FFFFFF; border-radius: 12px;}
.modConBox.flexBox .flexRight .psInfoBox .box_header{display: flex; align-items: center; justify-content: space-between; margin: 0 16px 0 20px; }
.modConBox.flexBox .flexRight .psInfoBox .box_header h3{font-size: 18px; color: #141433; font-weight: bold; display: flex; align-items: center; justify-content: space-between;}
.modConBox.flexBox .flexRight .psInfoBox .box_header .set_icon{width: 20px; height: 20px; background: url(/static/images/admin/shop/set_icon.png) no-repeat center/cover; cursor: pointer;}
.modConBox.flexBox .flexRight .psInfoBox .box_con{padding-top: 10px;}
.modConBox.flexBox .flexRight .psInfoBox .box_con ul {display: grid; grid-template-columns: repeat(4,1fr); margin: 0 20px; text-align: center;}
.modConBox.flexBox .flexRight .psInfoBox .box_con ul li{cursor: pointer;}
.modConBox.flexBox .flexRight .psInfoBox .box_con ul h4{font-size: 20px; color: #141433; font-family: DINMittelschriftStd;}
.modConBox.flexBox .flexRight .psInfoBox .box_con ul li.red h4{color: #F93442;}
.modConBox.flexBox .flexRight .psInfoBox .box_con ul  p{color: #737380; font-size: 14px;}

/* 今日统计 */
.modConBox.flexBox .todayDataBox .box_con{display: flex; align-self: flex-start;}
.orderList .order_other .all_count{height: 170px;}
.orderList p.payTip{margin-top: 16px;}
.orderList p.payTip span{color: #737380; font-size: 15px; margin-right: 20px;}
.modConBox.flexBox .todayDataBox .chartBox{ flex-grow: 1; height: 320px;}
.modConBox.flexBox .todayDataBox .box_header>h3{width: 310px;}
.modConBox.flexBox .todayDataBox .box_header .right_header{display: flex; align-items: center; justify-content: space-between; flex-grow: 1; margin-left: 20px;}

.modConBox.flexBox .toOptBox li.red h3{color: #F93442;}
.modConBox.flexBox .fastMenuBox,.modConBox.flexBox .pluginsBox{padding: 0 27px;}
.modConBox.flexBox .fastMenuBox .box_con{display: flex; align-items: center; justify-content: space-between;}
.modConBox.flexBox .fastMenuBox .box_con .line{width: 1px; height: 78px; background: #EBEEF2; margin: 0 30px;}
.modConBox.flexBox .fastMenuBox .box_con ul{display: grid; grid-template-columns: repeat(4,1fr);}
.modConBox.flexBox .fastMenuBox .box_con .group_menu{flex-grow: 1; width: 57%;}
.modConBox.flexBox .fastMenuBox .box_con .lessMenu.group_menu{width: 42%;}
.modConBox.flexBox .fastMenuBox .box_con .lessMenu ul{grid-template-columns: repeat(3,1fr);}
.modConBox.flexBox .fastMenuBox .box_con li{display: flex; align-items: center; justify-content: center;}
.modConBox.flexBox .fastMenuBox .box_con li a.link{display: block; box-sizing: border-box; padding: 0 10px;}
.modConBox.flexBox .fastMenuBox .box_con li a.link:hover .icon{opacity: .85;}
.modConBox.flexBox .fastMenuBox .box_con .icon{width: 48px; height: 48px; margin: auto;}
.modConBox.flexBox .fastMenuBox .box_con p{color: #737380; font-size: 14px; text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-top: 6px;}
.modConBox.flexBox .plugin_ul{display: grid; grid-template-columns: repeat(3,1fr); column-gap: 20px;}
.modConBox.flexBox .plugin_ul .plugin a{display: flex; height: 100px; background: #FFFFFF; border-radius: 10px; border: 1px solid #EAEFF6; padding: 10px; box-sizing: border-box; cursor: pointer;}
.modConBox.flexBox .plugin_ul .plugin a:hover .p_icon img{transform: scale(1.1);}
.modConBox.flexBox .plugin_ul .plugin .p_icon{width: 80px; height: 80px; border-radius: 8px; margin-right: 15px; background-color: #f5f5f5; flex-shrink: 0; overflow: hidden;}
.modConBox.flexBox .plugin_ul .plugin .p_icon img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 8px; transition: all .3s;}
.modConBox.flexBox .plugin_ul .plugin .p_info {padding-top: 8px;}
.modConBox.flexBox .plugin_ul .plugin .p_info h5{font-size: 15px; color: #141433;}
.modConBox.flexBox .plugin_ul .plugin .p_info p{color: #919499; font-size: 12px; line-height: 1.5em;}
.modConBox.flexBox .pluginsBox{margin-top: 30px;}
.modConBox.flexBox .pluginsBox .linkTo{display: block; font-size: 14px; color: #919499; margin-top: 30px;}


.modConBox.flexBox .fastSearchBox{ height: 192px; background-color: #fff; border-radius: 12px;}
.modConBox.flexBox .fastSearchBox .box_header h3{font-size: 18px; color: #141433; font-weight: bold; padding: 0 20px;}
.modConBox.flexBox .fastSearchBox .box_con {margin-top: -10px;}
.modConBox.flexBox .fastSearchBox .box_con .search_inp{display: flex; align-items: center; margin: 0 70px; padding: 10px 0;}
.modConBox.flexBox .fastSearchBox .box_con .search_inp label{color: #45454D; font-size: 15px; flex-shrink: 0; white-space: nowrap; margin-bottom: 0; margin-right: 18px;}
.popBox .pop_con{min-height: 100px;}
.popBox .pop_con .form_item{padding-left: 18px; color: #2C333B; font-size: 14px;}
.popBox .pop_con .form_item .err_tip{color: #FF4F38; font-size: 13px; padding-top: 8px; position: absolute;}
.popBox .pop_con .form_item .el-input{width: 150px; margin-left: 8px; margin-right: 8px;}
.popBox .pop_con .form_item p{margin-top: 20px;}
.popBox .pop_con .form_item .el-input.el-input-group--append input{border-radius: 2px 0 0 2px !important; height: 38px; box-sizing: border-box;}
.popBox .pop_con .form_item .el-input.el-input-group--append .el-input-group__append{width: 50px; box-sizing: border-box; padding: 0; text-align: center; color: #919599; font-size: 14px;}
.popBox .pop_con .form_item .el-input.el-input-group--append .el-input-group__append span.txt{display: flex; align-items: center; justify-content: center; cursor: pointer;}
.popBox .pop_con .form_item .el-input.el-input-group--append .el-input-group__append span.txt::after{content: ''; display: block; width: 0; height: 0; border: solid 4px transparent; border-top: solid 4px rgba(145, 149, 153, .6); margin-left: 5px; transform: translateY(2px);}
.chosePopover{padding: 5px 0; box-sizing: border-box; min-width: 100px;}
.chosePopover .chose_box{font-size: 13px; color: #2E3033;}
.chosePopover .chose_box li{ line-height: 36px; padding: 0 16px; cursor: pointer;}
.chosePopover .chose_box li:hover{background-color: #F2F7FF; color: #3377FF;}


.platform-income-popup {position: fixed; z-index: 10000; top: 0; left: 0; right: 0; bottom: 0; display: block; -webkit-animation: topFadeIn .3s ease-out; -moz-animation: topFadeIn .3s ease-out; animation: topFadeIn .3s ease-out;}
.platform-income-popup::after {content: ''; position: fixed; left: 0; top: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, .1);}
.platform-income-popup .platform-income-popup-wrap {position: fixed; z-index: 3; top: 47%; left: 50%; transform: translate(-50%, -50%); width: 1320px; background: #FFFFFF; border: 1px solid #EAEFF6; box-shadow: 0px 8px 40px 0px rgba(0,15,77,0.15); border-radius: 10px; overflow: hidden;}
.platform-income-popup .platform-title {height: 60px; background: #F7F9FC; border-bottom: 1px solid #EAEFF6; padding: 0 23px; display: flex; justify-content: space-between; align-items: center;}
.platform-income-popup .platform-title  .flex_left{display: flex; align-items: center;}
.platform-income-popup .platform-title h3 {font-size: 20px; color: #141433; margin: 0; line-height: 60px; font-weight: bold; width: 100px;}
/* .platform-income-popup .platform-title .platform-date {flex: 1;} */
.platform-income-popup .platform-title .platform-date .time-chose { background-color: #fff; margin-left: 15px; justify-content: flex-start;}
.platform-income-popup .platform-title .platform-close {font-size: 20px; font-family: serif; color: #111; font-style: normal; font-weight: 700; cursor: pointer;}
.platform-income-popup .platform-con {padding: 30px 25px;}
/* .platform-income-popup .platform-con-statistics {position: relative; height: 30px; line-height: 30px;} */
.platform-income-popup .platform-con-statistics .orderList{display: flex; align-items: center; margin: 0 40px;}
.platform-income-popup .platform-con-statistics .orderList>div{flex:1; margin: 0 12px; border-radius: 10px; background: linear-gradient(0deg, #EDF3FF00 0%, #EDF3FF 100%); }
.platform-income-popup .platform-con-statistics .orderList .order_company {background: linear-gradient(0deg, #EDF3FF50 0%, #EDF3FF 100%);}
.platform-income-popup .platform-con-statistics .orderList .order_other {background: linear-gradient(0deg, #E8F7FF50 0%, #E8F7FF 100%);}
.platform-income-popup .platform-con-statistics .orderList .all_count{width: 100%; height: 140px; border-radius: 10px;}
.platform-income-popup .platform-con-statistics .orderList .all_count .placeholder{height: 18px;}
.platform-income-popup .platform-con-statistics .orderList .order_company .all_count,.platform-income-popup .platform-con-statistics .orderList .order_other .all_count {background-image: none; position: relative;}
.platform-income-popup .platform-con-statistics .orderList .order_company .all_count::after{content: ''; display: block; width: 100px; height: 100px; background:url(/static/images/admin/shop/order_icon.png) no-repeat right bottom/cover; position: absolute; right: 0; bottom: 0; opacity: .6;}
.platform-income-popup .platform-con-statistics .orderList .order_other .all_count::after {content: ''; display: block; width: 100px; height: 100px; background:url(/static/images/admin/shop/amount_icon.png) no-repeat right bottom/cover; position: absolute; right: 0; bottom: 0; opacity: .6;}
.platform-income-popup .platform-con-statistics .orderList .all_count .payTip{display: inline-block; margin-left: 10px;}
.platform-income-popup .platform-con-statistics .orderList .all_count .payTip span{margin: 0;}
/* .platform-income-popup .platform-con-statistics span {font-size: 12px; color: #5C5E66;}
.platform-income-popup .platform-con-statistics h5 {position: absolute; left: 0; top: 0; right: 0; bottom: 0; line-height: 30px; margin: 0; text-align: center;}
.platform-income-popup .platform-con-statistics h5 small {font-size: 14px; color: #141433; font-weight: 700;}
.platform-income-popup .platform-con-statistics h5 strong {font-size: 24px; color: #141433; font-family: 'DINMit';}
.platform-income-popup .platform-con-statistics h5 em {font-size: 14px; color: #141433; opacity: .5; font-style: normal; margin-left: 5px;} */
.platform-income-popup .platform-charts {height: 320px; margin-top: 20px;}
.platform-income-popup .platform-note {text-align: center; font-size: 15px; color: #5C5E66; margin-top: 25px;}
.platform-income-popup .platform-btns {text-align: right;}
.platform-income-popup .platform-btns a {margin-left: 10px;}
.platform-income-popup .platform-btns a::before {content: ''; display: inline-block; width: 18px; height: 18px; background: url('../../images/admin/2.0/chart-icon-download.png') no-repeat center; background-size: cover; margin-right: 3px; vertical-align: middle;}
.platform-income-popup .platform-btns a:hover {text-decoration: none;}
.platform-income-popup .platform-btns .platform-btn-download {display: inline-block; padding: 0 15px; line-height: 30px; border: 1px solid #6496FA; border-radius: 6px; color: #3275FA;}

/* 分佣设置弹窗 */
.fenyongPop.popBox{width: 870px; height: 576px; background: #FFFFFF; box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1); border-radius: 20px;}
.fenyongPop.popBox .form-item{display: flex; align-items: center; margin-bottom: 18px;}
.fenyongPop.popBox .title {margin-top: 40px; margin-bottom: 38px;}
.fenyongPop.popBox .title h4{color: #1F2533; font-weight: bold; font-size: 16px;}
.fenyongPop.popBox .title em{color: #919499; font-size: 13px; margin-left: 10px;}
.fenyongPop.popBox .title a{color: #3377FF;}
.fenyongPop.popBox .form-item span.tip{color: #919499; font-size: 13px; margin-left: 10px;}
.fenyongPop.popBox .form-item label{color: #2C333B; font-size: 14px; width: 175px; text-align: right;}
.fenyongPop.popBox .form-item label::before{content: '*'; color: #FF4F38;}
.fenyongPop.popBox .form-item .el-input{width: 162px; height: 38px; }
.fenyongPop.popBox .form-item .el-input input{border-radius: 4px 0 0 4px !important;}
.fenyongPop.popBox .form-item .el-input .el-input-group__append{border-radius:  0 4px 4px 0 ; width: 42px; padding: 0; text-align: center; color: #919599; font-size: 14px; background-color: #F7F9FA;}
html::-webkit-scrollbar,body::-webkit-scrollbar{width: 10px !important; height: 10px !important; height: 0;  background: none;}
html::-webkit-scrollbar-thumb,body::-webkit-scrollbar-thumb{ border-radius: 0 !important; width: 10px !important; -webkit-box-shadow: inset 0 0 5px rgba(163, 163, 163, .4); background: rgba(163, 163, 163, 0.4) !important;}
html::-webkit-scrollbar-thumb:hover,body::-webkit-scrollbar-thumb:hover{background: rgba(163, 163, 163, .7) !important}
html::-webkit-scrollbar-thumb:active,body::-webkit-scrollbar-thumb:active{background: rgba(163, 163, 163, 1) !important}
.el-picker-panel.el-date-range-picker{z-index: 10001 !important;}
@font-face {
    font-family: 'DINMittelschriftStd';
    font-style: normal;
    font-weight: 700;
    src: url('/static/fonts/DINMittelschriftStd.woff') format('woff'),
        url('/static/fonts/DINMittelschriftStd.eot'),
        url('/static/fonts/DINMittelschriftStd.ttf'),
        url('/static/fonts/DINMittelschriftStd.otf')
        
}