.printBox{width: 100%; page-break-inside: avoid;font-family: "Microsoft Yahei","微软雅黑","Microsoft Yahei UI","\5FAE\8F6F\96C5\9ED1";}
.disflex{overflow: hidden;}
.a-c{align-items: center;}
.printBox{width: 100%; max-width: 1000px; margin: auto; min-height: 1000px; box-sizing: border-box; }
.resumeCon {min-height: 1000px; position: relative; overflow: hidden;}
.resumeLeft{width: 250px; background-color: rgb(220,241,234); -webkit-print-color-adjust:exact;
-moz-print-color-adjust:exact;
-ms-print-color-adjust:exact;
position: absolute;
left: 0;
top: 0;
bottom: 0;
z-index: 10;
print-color-adjust:exact; box-sizing: border-box; padding: 60px 40px 0; min-height: 100%;}
.photo{width: 140px; height: 140px; border-radius: 50%; margin: auto;}
.photo img{display: block; width: 100%; height: 100%; object-fit: cover;border-radius: 50%;}
.basic_info .info_detail{text-align: center; padding-top: 40px; padding-bottom: 36px;}
.basic_info .info_detail h2{font-size: 34px; font-weight: bold; color: #333; -webkit-print-color-adjust:exact;
-moz-print-color-adjust:exact;
-ms-print-color-adjust:exact;
print-color-adjust:exact;}
.basic_info .info_detail p{font-size: 16px; color: rgb(96,97,130); -webkit-print-color-adjust:exact;
-moz-print-color-adjust:exact;
-ms-print-color-adjust:exact;
print-color-adjust:exact;}
.basic_info .info_detail p em{margin: 0 6px;}

.lineCon {padding-bottom: 20px; page-break-inside: avoid; padding-top: 20px; }
.lineCon .line_decr{margin-bottom: 24px;}
.lineCon .line_decr::before{content: ''; width: 40px; height: 6px; border-radius: 3px; background-color: rgb(92,189,156);display: block; -webkit-print-color-adjust:exact;
-moz-print-color-adjust:exact;
-ms-print-color-adjust:exact;
print-color-adjust:exact;}
.lineCon .line_decr::after{height: 1px; content: ''; display: block; background-color: rgb(92,189,156); -webkit-print-color-adjust:exact;
-moz-print-color-adjust:exact;
-ms-print-color-adjust:exact;
print-color-adjust:exact;}
.lineCon .lineTit{font-size: 20px; color: rgb(92,189,156); font-weight: bold; -webkit-print-color-adjust:exact;
-moz-print-color-adjust:exact;
-ms-print-color-adjust:exact;
print-color-adjust:exact;}
.lineCon .line_item{font-size: 16px; color: #333; margin-top: 20px;-webkit-print-color-adjust:exact;
-moz-print-color-adjust:exact;
-ms-print-color-adjust:exact;
print-color-adjust:exact;}
.lineCon .langTit{min-width: 70px; padding-right: 4px;}
.lineCon .langLevel{font-size: 12px; flex-shrink: 0;white-space: nowrap;}
.lineCon .line_item label,.lineCon .line_item>p{display: inline;}

/* 右侧文字内容 */
.resumeRight{padding: 40px 26px 10px 276px; width: 100%; box-sizing: border-box;}
.textCon{padding-bottom: 26px;}
.textCon .line_tit{overflow: hidden; position: relative;}
.textCon .line_tit h4{font-size: 22px; font-weight: bold; color: rgb(92,189,156); margin-right: 12px;float: left; -webkit-print-color-adjust:exact;
-moz-print-color-adjust:exact;
-ms-print-color-adjust:exact;
background-color: #fff; 
padding-right: 20px;
position: relative;
z-index: 1;
print-color-adjust:exact;}
.textCon .line_tit .line{height: 1px; float: left; background-color: rgb(92,189,156);
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    -webkit-print-color-adjust:exact;
-moz-print-color-adjust:exact;
-ms-print-color-adjust:exact;
print-color-adjust:exact;}
.textCon .txt{padding-top: 24px; color: rgb(102,102,102); font-size: 16px; line-height: 1.8em; text-indent: 2em;-webkit-print-color-adjust:exact;
-moz-print-color-adjust:exact;
-ms-print-color-adjust:exact;
print-color-adjust:exact;}
.textCon .advantage_show{padding-top: 24px; overflow: hidden;}
.textCon .advantage_show .lab{padding: 0 8px; min-width: 56px; height: 26px; background-color: rgb(246,246,246); font-size: 14px;-webkit-print-color-adjust:exact;
-moz-print-color-adjust:exact;
-ms-print-color-adjust:exact;
print-color-adjust:exact; color: rgb(102,102,102); float: left; margin-right: 12px; margin-bottom: 10px; line-height: 26px; border-radius: 4px;}

.textCon .txt_item{margin-top: 26px; color: rgb(102,102,102); font-size: 16px;-webkit-print-color-adjust:exact;
-moz-print-color-adjust:exact;
-ms-print-color-adjust:exact;
print-color-adjust:exact;}
.textCon .txt_item .text_item_tit_con h5{font-size: 18px; font-weight: bold; color: rgb(38,41,44); -webkit-print-color-adjust:exact;
-moz-print-color-adjust:exact;
-ms-print-color-adjust:exact;
print-color-adjust:exact;margin-bottom: 6px;}
.textCon .txt_item .txt_item_con{margin-top: 10px; line-height: 2em;}
@media print{
    body{
        page-break-inside: avoid;
        -webkit-print-color-adjust:exact;
        -moz-print-color-adjust:exact;
        -ms-print-color-adjust:exact;
        print-color-adjust:exact;
    }
    #printPage{display: block;}
    .w1200 .wrap{width: 1000px;}
    .noPrint,.im-panel_box,.im-msg_tip,.im-tip_p,.im-big_img,.im-notes_panel,.im-photo,.im-video_box{display: none !important; visibility: hidden; opacity: 0;}
    @page {
        size: A4 portrait;
    }
} 
@media print{
body{
    page-break-inside: avoid;
    -webkit-print-color-adjust:exact;
    -moz-print-color-adjust:exact;
    -ms-print-color-adjust:exact;
    print-color-adjust:exact;
}
#printPage{display: block;}
.w1200 .wrap{width: 1000px;}
.noPrint,.im-panel_box,.im-msg_tip,.im-tip_p,.im-big_img,.im-notes_panel,.im-photo,.im-video_box{display: none !important; visibility: hidden; opacity: 0;}
@page {
    size: A4 portrait;
}
} 