<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>{#$langData['marry'][8][76]#}</title>  {#* 搜索结果 *#}   
    <meta name="keywords" content="{#$marry_keywords#}" />
    <meta name="description" content="{#$marry_description#}" />
    <link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/list_filter.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/slist.css?v={#$cfg_staticVersion#}" media="all" />
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$marry_channelDomain#}', staticPath = '{#$cfg_staticPath#}';
        var hideFileUrl = {#$cfg_hideUrl#};
        var cookiePre = '{#$cfg_cookiePre#}', numArr = [];
    </script>

</head>

<body class="w1200">
{#$pageCurr = "slist"#}
{#include file="../../siteConfig/top1.html"#}
<!-- 导航 s-->
{#include file="header.html"#}

<!-- 导航 e-->
<div class="main_wrap">
    {#* 搜索 *#} {#* 共<span class="red"></span>条结果 *#}
    <div class="wrap sresult">
        {#$totalCount = 0#}
        {#if $contype == 1#}
            {#marry action="planmealList" return="list"  keywords={#$keywords#} page={#$page#} pageSize=1#}
            {#if $pageInfo.totalCount > 0#}
                {#$totalCount = $pageInfo.totalCount#}
            {#/if#}
            {#/marry#}
        {#elseif $contype == 2#}
            {#marry action="storelist" return="list"  filter=8 keywords={#$keywords#} page={#$page#} pageSize=1#}
            {#if $pageInfo.totalCount > 0#}
                {#$totalCount = $pageInfo.totalCount#}
            {#/if#}
            {#/marry#}
        {#else#}    
            {#marry action="storelist" return="list"  keywords={#$keywords#} page={#$page#} pageSize=1#}
            {#if $pageInfo.totalCount > 0#}
                {#$totalCount = $pageInfo.totalCount#}
            {#/if#}
            {#/marry#}
        {#/if#}
        {#$langData['siteConfig'][6][109]#}<span class="red">{#$keywords#}</span>，{#$langData['marry'][8][75]|replace:'1':$totalCount#}
    </div>
    <div class="cartory">
        
        <ul class="fn-clear wrap">
            <li {#if $contype=="1"#} class="active" {#/if#}><a href="{#getUrlPath service="marry" template="search_list" param="keywords=$keywords&contype=1"#}">{#$langData['marry'][6][11]#}</a></li> {#* 套餐 *#}
            <li {#if $contype=="2"#} class="active" {#/if#} ><a href="{#getUrlPath service="marry" template="search_list" param="keywords=$keywords&contype=2"#}">{#$langData['marry'][6][100]#}</a></li> {#* 酒店 *#}
            <li {#if $contype=="3"#} class="active" {#/if#}><a href="{#getUrlPath service="marry" template="search_list" param="keywords=$keywords&contype=3"#}">{#$langData['marry'][7][0]#}</a></li> {#* 商家 *#}
        </ul>
    </div>
	<!-- 列表 s-->
	<div class="wrap fn-clear" >
        
		<!-- 列表左 s-->
	    <div class="list_left">
	        <ul class="list_ul">
                {#if $contype == 1#}
                {#marry action="planmealList" return="list"  keywords={#$keywords#} page={#$page#} pageSize=10#}
                <!-- 套餐 s-->
                <li class="fn-clear mealLi">
                    <a href="{#$list.url#}" target="_blank">
                        <div class="left_b">
                            <img src="{#if $list.litpic#}{#$list.litpic#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" alt="" onerror="javascript:this.src='{#$cfg_staticPath#}images/noPhoto_100.jpg';this.onerror=this.src='{#$cfg_staticPath#}images/404.jpg';">                         
                        </div>
                        <div class="right_b">
                            
                            <h2 class="htitle">{#$list.title#}</h2>
                            <div class="tag">
                                {#foreach from= $list.tagAll item=tag #}
                                <span class="{#$tag.py#}">{#$tag.jc#}</span>
                                {#/foreach#}
                                {#if $list.stylename#}
                                <span class="same">{#$list.stylename#}</span>
                                {#/if#}
                            </div>
                            <div class="otherInfo">{#if $list.addrname#}{#$list.addrname[$list.addrname|count-2]#} {#$list.addrname[$list.addrname|count-1]#}{#/if#}<em></em>{#$list.companyname#}</div>
                            <p class="price">{#echoCurrency type='symbol'#}<strong>{#$list.price#}</strong></p>
                            {#* 查看套餐详情 *#}
                            <span class="seeDetail">{#$langData['marry'][6][20]#}</span>    
                        </div>  
                    </a>                
                </li>
                {#/marry#}

                <!-- 套餐 e-->
                {#elseif $contype == 2#}
                {#marry action="storelist" return="list"   filter=8  keywords={#$keywords#} page={#$page#} pageSize=10#}
                <!--酒店 s-->
              <li class="fn-clear hotelLi">
                  <a href="{#$list.url#}" target="_blank">
                      <div class="left_b">
                          <img src="{#if $list.litpic#}{#$list.litpic#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" alt="">
                      </div>
                      <div class="right_b">
                          <p class="price"><span>{#echoCurrency type='symbol'#}{#$list.pricee#}</span>起</p>
                          <h2 class="hotel_title">{#$list.title#}</h2>
                          <div class="tableInfo">
                              <p>{#$list.typename#}&nbsp;|&nbsp;0-10桌</p>
                              {#* 地址 *#}
                              <p>{#$langData['marry'][0][20]#}：{#$list.addrname[$list.addrname|count-2]#}{#$list.addrname[$list.addrname|count-1]#}{#$list.address#}</p>
                          </div>
                          <div class="hotelInfo">
                              {#foreach from= $list.flagAll item=flag #}
                              <span class="{#$flag.py#}">{#$flag.jc#}</span>
                              {#/foreach#}
                          </div>
                          <div class="hotelbottom">
                              <span class="tel" data-call="{#$list.tel#}">133******33</span>
                              {#* 点击查看完整电话 *#}
                              <span class="seePhone">{#$langData['marry'][6][23]#}</span>
                          </div>
                          {#* 查看酒店详情 *#}
                          <span class="seeDetail">{#$langData['marry'][6][25]#}</span>
                      </div>
                  </a>
              </li>
                {#/marry#}
                <!-- 酒店 e-->
                {#elseif $contype == 3#}
                {#marry action="storelist" return="list"    keywords={#$keywords#} page={#$page#} pageSize=10#}

                <!-- 商家 e -->
                 <li class="fn-clear storeLi">
                     <a href="{#$list.url#}" target="_blank">
                     <div class="li_top">
                         <div class="left_b">
                             <img src="{#if $list.litpic#}{#$list.litpic#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" alt="">
                         </div>
                         <div class="right_b">
                             <p class="price"><span>{#echoCurrency type='symbol'#}{#$list.pricee#}</span>起</p>
                             <h2 class="hotel_title">{#$list.title#}</h2>
                             <div class="tableInfo">
                                 <p>{#$list.typename#}&nbsp;|&nbsp;0-10桌</p>
                                 {#* 地址 *#}
                                 <p>{#$langData['marry'][0][20]#}：{#$list.addrname[$list.addrname|count-2]#}{#$list.addrname[$list.addrname|count-1]#}{#$list.address#}</p>
                             </div>
                             <div class="hotelbottom">
                                 <span class="tel" data-call="{#$list.tel#}">133******33</span>
                                 {#* 点击查看完整电话 *#}
                                 <span class="seePhone">{#$langData['marry'][6][23]#}</span>
                             </div>
                             {#* 进入店铺 *#}
                             <span class="seeDetail">{#$langData['marry'][6][24]#}</span>
                         </div>
                     </div>
                     </a>
                     <div class="li_bottom fn-clear">
                         {#foreach from=$list.taocan  key=kyy  item=var #}
                            {#if $kyy <4#}
                         <a class="img-item" href="{#$list.url#}" target="_blank"><img src="{#$var.litpic#}" alt=""><p>{#$var.title#}</p></a>
                            {#/if#}
                         {#/foreach#}
                     </div>

                 </li>
                {#/marry#}
                <!--  商家 e -->
                {#/if#}

            </ul>
            {#getPageList service='marry' template='search_list' pageType='dynamic' param="page=#page#&keywords=$keywords&contype=$contype"#}

            {#if $pageInfo.totalCount == 0#}
            <div class="empty noresult"><img src="{#$templets_skin#}images/noresult.png"><span>{#$langData['marry'][7][1]#}</span></div> {#* 哎呀，暂无搜索结果，换个关键词试试 *#}
            {#/if#}
        </div>

        <!-- 列表左 e-->
	    <!-- 列表右 s-->
	    <div class="list_r">
         <div class="adv_r">{#myad title="婚嫁_模板二_电脑端_列表_广告二"#}</div>   
         <div class="listr_con">
             {#* 热门商家推荐 *#}
            <h2 class="newr_tit">{#$langData['marry'][6][22]#}</h2>
            <ul>

            </ul>
         </div>
        </div>
	    <!-- 列表右 e-->

	</div>
	<!-- 列表 e-->
    
</div>
{#include file="bottom.html"#}

<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/slist.js?v={#$cfg_staticVersion#}"></script>

</body>
</html>
