<!DOCTYPE html>
<html>
<head>
<meta charset="{#$cfg_soft_lang#}">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<title>{#$langData['siteConfig'][19][716]#} </title>
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/ui/vant/index.css" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/addAccount.css?v={#$cfg_staticVersion#}" media="all" />
<script src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/zepto.min.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/vue/vue.min.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/vant/vant.min.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/vue/axios.min.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';

	var hideFileUrl = {#$cfg_hideUrl#};
	var money = {#$userinfo.money#}, withdrawLog = '{#getUrlPath service="member" type="user" template="withdraw_log_detail" id="%id%"#}';
	var memberDomain = '{#$member_userDomain#}';
	var withdrawJfFee = {#$cfg_withdrawJfFee|default:0#};  //提现扣除积分比例
    var bankConfig={#$bankConfig|json_encode#};
</script>
<style>
    [v-cloak] {
        display: none;
    }
</style>
</head>

<body>
    {#include file="top.html" pageTitle="添加账号"#}
    <div id="app">
        <div class="topBar"{#if $withdrawPlatform && (!in_array('alipay', $withdrawPlatform) || !in_array('bank', $withdrawPlatform))#} style="display: none;"{#/if#}>
            <ul>
                {#if $withdrawPlatform && in_array('alipay', $withdrawPlatform)#}
                <li :class="{curr:!isCurr}" @click='showContent'>支付宝</li>
                {#/if#}
                {#if $withdrawPlatform && in_array('bank', $withdrawPlatform)#}
                <li :class="{curr:isCurr}" @click='showContent'>银行卡</li>
                {#/if#}
            </ul>
        </div>
        <div class="content" v-cloak>
            <div class="alipayContnet same" v-show='!isShowConent'>
                <div class="sameTitle">
                    <span></span>
                    <span>支付宝账号</span>
                </div>
                <ul>
                    <li class="sameLi">
                        <label>
                            <span>收款人姓名</span>
                            <input type="text" placeholder="请输入真实姓名" v-model='alipayData.cardname'>
                        </label>
                    </li>
                    <li class="sameLi">
                        <label>
                            <span>支付宝账号</span>
                            <input type="text" placeholder="请输入支付宝账号" v-model='alipayData.cardnum'>
                        </label>
                    </li>
                </ul>
                <div class="submitBtn" @click='alipaySubmit'>提交</div>
            </div>
            <div class="bankContent same" v-show='isShowConent'>
                <div class="sameTitle">
                    <span></span>
                    <span>银行卡账号</span>
                </div>
                <ul>
                    <li class="sameLi">
                        <label>
                            <span>选择银行</span>
                            <input type="text" placeholder="请选择" v-model='bankData.bank' @click="bankShow" readonly>
                        </label>
                    </li>
                    <li class="sameLi">
                        <label>
                            <span>开户行</span>
                            <input type="text" placeholder="请输入开户行" v-model='bankData.bankName'>
                        </label>
                    </li>
                    <li class="sameLi">
                        <label>
                            <span>银行卡号</span>
                            <input type="text" placeholder="请输入银行卡号" v-model='bankData.cardnum'>
                        </label>
                    </li>
                    <li class="sameLi">
                        <label>
                            <span>开户人姓名</span>
                            <input type="text" placeholder="请输入开户人姓名" v-model='bankData.cardname'>
                        </label>
                    </li>
                </ul>
                <div class="submitBtn" @click='bankSubmit'>提交</div>
            </div>
            <van-popup v-model="bankshow" position="bottom" :style="{ height: '45%' }">
                <van-picker title="银行名称" show-toolbar :columns="bankSelectData" @confirm="bankConfirm"
                    @cancel="bankCancel" />
            </van-popup>
        </div>
    </div>

<script type='text/javascript' src='{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}'></script>
<script type="text/javascript" src="{#$templets_skin#}js/addAccount.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
