<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
<title>{#$langData['siteConfig'][19][774]#}</title> {#*   绑定手机号   *#}
<meta name="apptitle" content="{#$langData['siteConfig'][19][774]#}">
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" href="{#$templets_skin#}css/register_v2.css?v={#$cfg_staticVersion#}">
<script src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$cfg_staticPath#}js/core/zepto.min.js"></script>
<script src="{#$cfg_staticPath#}js/vue/vue.min.js?v={#$cfg_staticVersion#}"></script>
{#$ifConsult = 0#}
<script type="text/javascript">
  var masterDomain = '{#$cfg_basehost#}', redirectUrl = '{#$redirectUrl#}', userDomain = '{#$member_userDomain#}', staticPath = '{#$cfg_staticPath#}';
  var geetest = {#$cfg_geetest#};
  var areacode = '{#$internationalPhoneSection[0]['code']#}';
  var cookiePre = '{#$cfg_cookiePre#}';
  var connect_uid = '{#$connect_uid#}';
</script>
{#* 微信分享 *#}
{#$Share_description = {#$cfg_description#}#}
{#$Share_title = {#$cfg_webname#}#}
{#$Share_img = {#$cfg_weblogo#}#}
{#$Share_url = {#$cfg_basehost#}#}
{#include file="{#$HUONIAOROOT#}/templates/siteConfig/public_share.html"#}
</head>

<body>

<div id="register_page" >

	<!-- 手机/邮箱注册 -->
	<div class="regpage_info" >
		<div class="header">
			<a href="javascript:;" class="goBack arr_back" onclick="history.go(-1)"></a>
		</div>
		<div class="regbox">
			<div class="form_title">
				<span class="curr" >{#$langData['siteConfig'][19][774]#}</span>  {#*   绑定手机号   *#}
			</div>
			<form class="formbox reg_phone">
				<div class="inputbox telinp">
					 <input type="hidden" name="type" id="type" value="signup" />
					 <input type="hidden" name="code" id="code" value="{#$code#}" />
					<div class="telCode" @click="showAreacode()">
						<span class="codeChoose" v-cloak>+{{areacode}}</span><a href="javascript:;" class="showCode"></a>
						<input type="hidden" name="areaCode" :value="areacode" id="codeChoose">
					</div>
					<input type="tel" placeholder=" {#$langData['siteConfig'][20][239]#}" name="account" id="phone" autocomplete="off" @input="showBtn();"  key="usertel">  {#*   请输入手机号   *#}
					<a href="javascript:;" class="clearInp fn-hide" @click="clearInp()"></a>
				</div>
				<div class="inputbox codeinp">
					<input type="tel" maxlength="6" placeholder=" {#$langData['siteConfig'][20][176]#}" name="vcode" autocomplete="off" id="vercode" key="vercode">  {#*   请输入验证码   *#}
					<a href="javascript:;" class="getCode" @click="getPhoneMsg()">{#$langData['siteConfig'][4][1]#}</a>  {#*   获取验证码   *#}
				</div>

				<a href="javascript:;"  class="btn_login btn" @click="bind_by_tel()" style="margin-top: 1.1rem;" key="tel_btn">立即绑定</a>{#*   获取验证码   *#}
			</form>

		</div>

	</div>


	<!-- 区号选择 -->
	<div class="popl_mask" @click="hideAreaCode()"></div>
	<div class="popl_box anum_box">
		<h2>{#$langData['siteConfig'][40][1]#}   <a href="javascript:;" class="back" @click="hideAreaCode()">{#$langData['siteConfig'][6][117]#}</a></h2>     {#* 选择地区----返回 *#}
		<div class="areaList" id="areaList">
			<ul>
				{#siteConfig action='internationalPhoneSection' return="item"#}
				<li data-cn="{#$item.name#}" data-code="{#$item.code#}" @click="getAreaCode()"><span>{#$item.name#}<span><em class="fn-right">+{#$item.code#}</em></li>
				{#/siteConfig#}
			</ul>
		</div>
	</div>


	<div class="loadIcon" v-show="loading"></div>
</div>



{#if $cfg_geetest#}
{#if $cfg_geetest == 1#}
<script type="text/javascript" src="{#$cfg_secureAccess#}static.geetest.com/static/tools/gt.js"></script>
{#/if#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/captchaVerify.js?v={#$cfg_staticVersion#}"></script>
{#/if#}
<script type='text/javascript' src='{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}'></script>
<script src="{#$cfg_staticPath#}js/vue/axios.min.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$templets_skin#}js/bindtel_v2.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
