<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{#$langData['siteConfig'][39][10]#}</title>  {#*我的店铺 *#}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/config-house.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$cfg_staticPath#}js/core/zepto.min.js"></script>
<script src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';
	var hideFileUrl = 0;
	var module = 'house';
</script>
</head>

<body>
{#$pageTitle = "{#$langData['siteConfig'][39][10]#}"#}  {#*我的店铺 *#}
{#$pageRight = '<a href="javascript:;" class="notMenu"> </a>'#}
{#include file="top.html"#}


{#if $jjr == 0#}

<div class="reg">
<a href="{#getUrlPath service=member type=user template=enter_house#}" id="reg">{#$langData['siteConfig'][19][400]#}</a>，{#$langData['siteConfig'][20][144]#}
</div>

{#else#}

{#if $jjr && $detail_state == 0#}
{#if $detail_zjcom == 0#}
<p class="state0">{#$langData['siteConfig'][16][168]#}</p>  {#*您的资料正在审核中，请耐心等待 *#}
{#else#}
<p class="state0">{#$langData['siteConfig'][20][141]#}</p>
{#/if#}
{#elseif $jjr && $detail_state == 2#}
<p class="state0">{#$langData['siteConfig'][20][413]#}{#if $detail_fail_type#}<br>{#$langData['siteConfig'][20][588]#}：{#$detail_fail_type#}{#if $detail_fail_info#}<br>{#$detail_fail_info#}{#/if#}{#/if#}</p>   {#*拒绝理由 *#}
{#/if#}


<div class="mealinfo">
	{#*配置了套餐或者有购买记录*#}
	{#if $detail_meal_open || $detail_meal#}
		{#if $detail_meal#}
	<p class="name">{#$detail_meal.name#}<a href="{#getUrlPath service='member' type='user' template='house_meallist' param="type={#$detail_meal.type#}&item={#$detail_meal.item#}"#}" class="renew">{#$langData['siteConfig'][19][661]#}</a>   {#*续费 *#}
		{#if $detail_meal_up#}<a href="{#getUrlPath service='member' type='user' template='house_meallist' param="type={#$detail_meal.type#}&item={#$detail_meal.item#}&upgrade=1"#}" class="upgrade">{#$langData['siteConfig'][20][589]#}</a>{#/if#}   {#*升级 *#}
		<a href="{#getUrlPath service='member' type='user' template='deposit'#}" class="deposit">{#$langData['siteConfig'][15][0]#}</a>   {#*充值 *#}
	</p>
	<p class="money">{#$langData['siteConfig'][19][386]#}<font>{#$userinfo.money#}</font></p>   {#*账户余额 *#}
	{#if $detail_meal.expired <= $smarty.now#}<p class="time">{#$detail_meal.expired|date_format:"%Y-%m-%d"#}{#$langData['siteConfig'][39][11]#}，{#$langData['siteConfig'][9][29]#}</p>   {#*到期 *#}   {#*已过期 *#}
	{#else#}<p class="time">{#$langData['siteConfig'][39][12]|replace:'1':"<font>{#$detail_meal.expired_day#}</font>"#}<br />
	套餐余额：<span>房源</span><span>{#$detail_meal.house#}个</span>
	<span>刷新</span><span>{#$detail_meal.refresh#}次</span>
	<span>置顶</span><span>{#$detail_meal.settop#}天</span>
</p>
{#/if#}   {#*剩余1天到期 *#}
		{#else#}
	<p class="name">{#$langData['siteConfig'][39][13]#}<a href="{#getUrlPath service='member' type='user' template='house_meallist'#}" class="upgrade">{#$langData['siteConfig'][19][686]#}</a>   {#*暂无套餐 *#}    {#*购买 *#}
		<a href="{#getUrlPath service='member' type='user' template='deposit'#}" class="deposit">{#$langData['siteConfig'][15][0]#}</a></p>   {#*充值 *#}
	<p class="money">{#$langData['siteConfig'][19][386]#}<font>{#$userinfo.money#}</font></p>   {#*账户余额 *#}
		{#/if#}
	{#else#}
	<p class="name">{#$langData['siteConfig'][39][13]#}<a href="{#getUrlPath service='member' type='user' template='deposit'#}" class="deposit">{#$langData['siteConfig'][15][0]#}</a></p>   {#*充值 *#}    {#*购买 *#}
	<p class="money">{#$langData['siteConfig'][19][386]#}<font>{#$userinfo.money#}</font></p>  {#*账户余额 *#}
	{#/if#}
  <a href="{#getUrlPath service='house' template='broker-detail' id=$detail_id param="{#if $detail_state != 1#}u=1{#/if#}"#}" class="view">预览店铺</a>   {#*预览店铺 *#}
</div>


<ul class="link">
	{#*基本资料 *#}
  <li><a href="{#getUrlPath service='member' type='user' template='config-house_basic'#}">{#$langData['siteConfig'][19][21]#}</a></li>

  {#*套餐 *#}
  <li><a href="{#getUrlPath service='member' type='user' template='house_meallist'#}">{#$langData['siteConfig'][19][545]#}</a></li>

  {#*套餐记录 *#}
  <li><a href="{#getUrlPath service='member' type='user' template='house_mymeal'#}">{#$langData['siteConfig'][32][4]#}</a></li>

  {#*服务区域 *#}
  <li><a href="{#getUrlPath service='member' type='user' template='config-house_area'#}">{#$langData['siteConfig'][19][81]#}</a></li>

  {#*二维码 *#}
  <li><a href="{#getUrlPath service='member' type='user' template='config-house_qr'#}">{#$langData['siteConfig'][20][593]#}</a></li>

  {#*证件照 *#}
  <!-- <li><a href="{#getUrlPath service='member' type='user' template='config-house_idcard'#}">{#$langData['siteConfig'][19][907]#}</a></li> -->

  {#*名片认证 *#}
  <li><a href="{#getUrlPath service='member' type='user' template='config-house_card'#}">{#$langData['siteConfig'][20][594]#}</a></li>

  {#*职业资格认证 *#}
  <li><a href="{#getUrlPath service='member' type='user' template='config-house_license'#}">{#$langData['siteConfig'][30][20]#}</a></li>
</ul>

{#/if#}

<script type='text/javascript' src='{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}'></script>
</body>
</html>
