<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{#$langData['siteConfig'][35][19]#}</title>{#* 生成分享海报 *#}
    <meta name="keywords" content="{#$article_keywords#}">
    <meta name="description" content="{#$article_description#}">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}" />
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/ui/swiper.min_4.2.2.css?v={#$cfg_staticVersion#}">
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/fenxiao_code_poster.css?v={#$cfg_staticVersion#}">
    <script type="text/javascript" src="{#$cfg_staticPath#}js/ui/html2canvas.js?v={#$cfg_staticVersion#}"></script>
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-2.1.1.min.js?v={#$cfg_staticVersion#}"></script>
    <!--<script type="text/javascript" src="{#$cfg_staticPath#}js/core/zepto.min.js?v={#$cfg_staticVersion#}"></script>-->
    <script>
        var templets_skin ="{#$templets_skin#}",baseHost ="{#$cfg_basehost#}";
        var uid ="{#$userinfo.userid#}";
    </script>

</head>
<body>
{#include file="../../siteConfig/touch_top.html" pageTitle={#$langData['siteConfig'][35][19]#}#}{#*生成分享海报 *#}
<div class="caseBox">

    <!--<div class="caseBox-bg"></div>-->

    <h3 class="c-tit">{#$langData['siteConfig'][35][20]#}</h3>{#* 长按海报图片保存到手机 *#}


    <div class="topSwiper msend">
        <div class="swiper-container swiper-container-horizontal swiper-container-ios">
            <div class="swiper-wrapper">
            
            </div>
        </div>
        <div class="pagination"></div>
    </div>
    

</div>
<div class="loasMask">
    <div class="loadIcon"></div>
</div>

<script>
var postConfig = {
	title: '邀请你一起加入~',
	description: '{#$userinfo['nickname']#}正在使用{#$cfg_shortname#}，点击加入=>',
	imgUrl: '{#$cfg_share#}',
	link: '{#$cfg_basehost#}/register.html?fromShare={#$userinfo.userid#}'
};


var staticPath = '{#$cfg_staticPath#}';
var wxconfig = {
    "appId": '{#$wxjssdk_appId#}',
    "timestamp": '{#$wxjssdk_timestamp#}',
    "nonceStr": '{#$wxjssdk_nonceStr#}',
    "signature": '{#$wxjssdk_signature#}',
    "description": '{#$userinfo['nickname']#}正在使用{#$cfg_shortname#}，点击加入=>',
    "title": '邀请你一起加入~',
    "imgUrl": '{#$cfg_share#}',
    "link": '{#$cfg_basehost#}/register.html?fromShare={#$userinfo.userid#}',
};
document.write(unescape("%3Cscript src='{#$cfg_staticPath#}js/publicShare.js?v="+~(-new Date())+"'type='text/javascript'%3E%3C/script%3E"));
</script>
<script src="{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/swiper.min_4.2.2.js?v={#$cfg_staticVersion#}"></script>
<!-- <script src="{#$templets_skin#}js/html2canvas.js?v={#$cfg_staticVersion#}"></script> -->

<script type="text/javascript" src="{#$templets_skin#}js/fenxiao_code_poster.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
