<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
	<title>浏览足迹</title>
	<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}" media="all" />
    {#if $module == ''#}
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/order.css?v={#$cfg_staticVersion#}" media="all" />
    {#else#}
	<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/mcenter/history.css?v={#$cfg_staticVersion#}">
    {#/if#}
	<script type="text/javascript" src="{#$cfg_staticPath#}js/core/zepto.min.js"></script>
	<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
	<script type="text/javascript">
		var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';
		var hideFileUrl = {#$cfg_hideUrl#}, state = '{#$state#}';
		var atpage = 1, totalCount = 0, pageSize = 15;
	    var module = '{#$module#}';
		var userinfo = {#json_encode($userinfo)#}
		if(!userinfo){
			var oUrl = window.location;
			window.location = '/login.html?furl='+encodeURIComponent(oUrl);
		}
	</script>
	{#* 微信分享 *#}
	{#$Share_description = {#$cfg_description#}#}
	{#$Share_title = '浏览足迹'#}
	{#$Share_img = {#$cfg_weblogo#}#}
	{#$Share_url = {#$cfg_basehost#}#}
	{#include file="{#$HUONIAOROOT#}/templates/siteConfig/public_share.html"#}
	</head>
	<body>
		{#include file="../../siteConfig/touch_top.html" headTheme="absolute" pageTitle="浏览足迹"#}

        {#if $module == ''#}
        <div class="tabList">
            <ul class="tab-ul">

                <li class="tab-li business-li">
                    <a href="{#getUrlPath service='member' type='user' template='history' param='module=business'#}">
                        <div class="left_tab">
                            <span class="li-icon"><img src="{#$cfg_staticPath#}images/admin/nav/business.png"></span>
                            <span>商家主页</span>
                        </div>
                        <div class="right_tab">
                            <i class="r-arrow"></i>
                        </div>
                    </a>
                </li>

                
            {#loop service="siteConfig" action="siteModule" return="module"#}

                {#if $module.code == "house"#}
                <li class="tab-li house-li">
                    <a href="{#getUrlPath service='member' type='user' template='history' param='module=house'#}">
                        <div class="left_tab">
                            <span class="li-icon"><img src="{#$module.icon#}"></span>
                            <span>{#$module.name#}</span>
                        </div>
                        <div class="right_tab">
                            <i class="r-arrow"></i>
                        </div>
                    </a>
                </li>
                {#/if#}

                {#if $module.code == "live"#}
                <li class="tab-li live-li">
                    <a href="{#getUrlPath service='member' type='user' template='history' param='module=live'#}">
                        <div class="left_tab">
                            <span class="li-icon"><img src="{#$module.icon#}"></span>
                            <span>{#$module.name#}</span>
                        </div>
                        <div class="right_tab">
                            <i class="r-arrow"></i>
                        </div>
                    </a>
                </li>
                {#/if#}

                {#if $module.code == "article"#}
                <li class="tab-li article-li">
                    <a href="{#getUrlPath service='member' type='user' template='history' param='module=article'#}">
                        <div class="left_tab">
                            <span class="li-icon"><img src="{#$module.icon#}"></span>
                            <span>{#$module.name#}</span>
                        </div>
                        <div class="right_tab">
                            <i class="r-arrow"></i>
                        </div>
                    </a>
                </li>
                {#/if#}

                {#if $module.code == "tieba"#}
                <li class="tab-li tieba-li">
                    <a href="{#getUrlPath service='member' type='user' template='history' param='module=tieba'#}">
                        <div class="left_tab">
                            <span class="li-icon"><img src="{#$module.icon#}"></span>
                            <span>{#$module.name#}</span>
                        </div>
                        <div class="right_tab">
                            <i class="r-arrow"></i>
                        </div>
                    </a>
                </li>
                {#/if#}

                {#if $module.code == "pension"#}
                <li class="tab-li pension-li">
                    <a href="{#getUrlPath service='member' type='user' template='history' param='module=pension'#}">
                        <div class="left_tab">
                            <span class="li-icon"><img src="{#$module.icon#}"></span>
                            <span>{#$module.name#}</span>
                        </div>
                        <div class="right_tab">
                            <i class="r-arrow"></i>
                        </div>
                    </a>
                </li>
                {#/if#}

                {#if $module.code == "car"#}
                <li class="tab-li car-li">
                    <a href="{#getUrlPath service='member' type='user' template='history' param='module=car'#}">
                        <div class="left_tab">
                            <span class="li-icon"><img src="{#$module.icon#}"></span>
                            <span>{#$module.name#}</span>
                        </div>
                        <div class="right_tab">
                            <i class="r-arrow"></i>
                        </div>
                    </a>
                </li>
                {#/if#}

                {#if $module.code == "job"#}
                <li class="tab-li job-li">
                    <a href="{#getUrlPath service='member' type='user' template='history' param='module=job'#}">
                        <div class="left_tab">
                            <span class="li-icon"><img src="{#$module.icon#}"></span>
                            <span>{#$module.name#}</span>
                        </div>
                        <div class="right_tab">
                            <i class="r-arrow"></i>
                        </div>
                    </a>
                </li>
                {#/if#}

                {#if $module.code == "huodong"#}
                <li class="tab-li huodong-li">
                    <a href="{#getUrlPath service='member' type='user' template='history' param='module=huodong'#}">
                        <div class="left_tab">
                            <span class="li-icon"><img src="{#$module.icon#}"></span>
                            <span>{#$module.name#}</span>
                        </div>
                        <div class="right_tab">
                            <i class="r-arrow"></i>
                        </div>
                    </a>
                </li>
                {#/if#}

                {#if $module.code == "info"#}
                <li class="tab-li info-li">
                    <a href="{#getUrlPath service='member' type='user' template='history' param='module=info'#}">
                        <div class="left_tab">
                            <span class="li-icon"><img src="{#$module.icon#}"></span>
                            <span>{#$module.name#}</span>
                        </div>
                        <div class="right_tab">
                            <i class="r-arrow"></i>
                        </div>
                    </a>
                </li>
                {#/if#}

                {#if $module.code == "shop"#}
                <li class="tab-li shop-li">
                    <a href="{#getUrlPath service='member' type='user' template='history' param='module=shop'#}">
                        <div class="left_tab">
                            <span class="li-icon"><img src="{#$module.icon#}"></span>
                            <span>{#$module.name#}</span>
                        </div>
                        <div class="right_tab">
                            <i class="r-arrow"></i>
                        </div>
                    </a>
                </li>
                {#/if#}

                {#if $module.code == "travel"#}
                <li class="tab-li travel-li">
                    <a href="{#getUrlPath service='member' type='user' template='history' param='module=travel'#}">
                        <div class="left_tab">
                            <span class="li-icon"><img src="{#$module.icon#}"></span>
                            <span>{#$module.name#}</span>
                        </div>
                        <div class="right_tab">
                            <i class="r-arrow"></i>
                        </div>
                    </a>
                </li>
                {#/if#}

                {#if $module.code == "renovation"#}
                <li class="tab-li renovation-li">
                    <a href="{#getUrlPath service='member' type='user' template='history' param='module=renovation'#}">
                        <div class="left_tab">
                            <span class="li-icon"><img src="{#$module.icon#}"></span>
                            <span>{#$module.name#}</span>
                        </div>
                        <div class="right_tab">
                            <i class="r-arrow"></i>
                        </div>
                    </a>
                </li>
                {#/if#}

                {#if $module.code == "homemaking"#}
                <li class="tab-li homemaking-li">
                    <a href="{#getUrlPath service='member' type='user' template='history' param='module=homemaking'#}">
                        <div class="left_tab">
                            <span class="li-icon"><img src="{#$module.icon#}"></span>
                            <span>{#$module.name#}</span>
                        </div>
                        <div class="right_tab">
                            <i class="r-arrow"></i>
                        </div>
                    </a>
                </li>
                {#/if#}

                {#if $module.code == "tuan"#}
                <li class="tab-li tuan-li">
                    <a href="{#getUrlPath service='member' type='user' template='history' param='module=tuan'#}">
                        <div class="left_tab">
                            <span class="li-icon"><img src="{#$module.icon#}"></span>
                            <span>{#$module.name#}</span>
                        </div>
                        <div class="right_tab">
                            <i class="r-arrow"></i>
                        </div>
                    </a>
                </li>
                {#/if#}

                {#if $module.code == "education"#}
                <li class="tab-li education-li">
                    <a href="{#getUrlPath service='member' type='user' template='history' param='module=education'#}">
                        <div class="left_tab">
                            <span class="li-icon"><img src="{#$module.icon#}"></span>
                            <span>{#$module.name#}</span>
                        </div>
                        <div class="right_tab">
                            <i class="r-arrow"></i>
                        </div>
                    </a>
                </li>
                {#/if#}

                {#if $module.code == "sfcar"#}
                <li class="tab-li sfcar-li">
                    <a href="{#getUrlPath service='member' type='user' template='index_sfcar'#}">
                        <div class="left_tab">
                            <span class="li-icon"><img src="{#$module.icon#}"></span>
                            <span>{#$module.name#}</span>
                        </div>
                        <div class="right_tab">
                            <i class="r-arrow"></i>
                        </div>
                    </a>
                </li>
                {#/if#}

                {#if $module.code == "task"#}
                <li class="tab-li task-li">
                    <a href="{#str_replace(".html","",{#getUrlPath service='task' template='browser'#})#}#/pages/task/browser/browser">
                        <div class="left_tab">
                            <span class="li-icon"><img src="{#$module.icon#}"></span>
                            <span>{#$module.name#}</span>
                        </div>
                        <div class="right_tab">
                            <i class="r-arrow"></i>
                        </div>
                    </a>
                </li>
                {#/if#}

            {#/loop#}
            </ul>
        </div>
        {#else#}
		<!--房产 -->
		<div class="house_page fn-hide">
			<div class="tabbox">
				<ul>
					<li data-type="sale" class="curr">二手房</li>
					<li data-type="loupan">新房</li>
					<li data-type="zu">租房</li>
					<li data-type="sp">商铺办公</li>
					<li data-type="xzl">写字楼</li>
					<li data-type="cf">厂房仓库</li>
					<li data-type="cw">车位</li>
				</ul>
			</div>
			<div class="tabCon">
				<div class="conbox">
					<!-- <dl class="house_dl">
						<dt>2020-12-22</dt>
						<dd class="list_dd">
							<a href="#" class="fn-clear">
								<div class="litpic"><img src="" alt=""></div>
								<div class="rinfo">
									<h1>中铁诺德誉园 精装修116平急售</h1>
									<p> 3室2厅/116.8m /朝南/新港名仕花园 </p>
									<div class="price_show"><span class="allprice"><b>258</b>万</span> <span class="unit_price">28610元/平</span></div>
									<div class="label_show"><span>地铁</span><span>地铁</span></div>
								</div>
							</a>

						</dd>
						<dd class="list_dd">
							<a href="#" class="fn-clear">
								<div class="litpic"><img src="" alt=""></div>
								<div class="rinfo">
									<h1>中铁诺德誉园 精装修116平急售</h1>
									<p> 3室2厅/116.8m /朝南/新港名仕花园 </p>
									<div class="price_show"><span class="allprice"><b>258</b>万</span> <span class="unit_price">28610元/平</span></div>
									<div class="label_show"><span>地铁</span><span>地铁</span></div>
								</div>
							</a>

						</dd>
					</dl>
					<p class="loading">已显示完最近30天的浏览记录</p> -->
				</div>
			</div>
		</div>


		<!-- 直播 -->
		<div class="live_page fn-hide">
			<!-- <div class="live_dl">
				<h3 class="live_dt">今天 观看了4个直播</h3>
				<ul class="fn-clear">
					<li class="list_dd">
						<a href="#">
							<div class="litpic"><img src="" alt=""></div>
							<h1>上海市闸北实验小学戏剧《三国小神童》表演</h1>
							<p>快看直播</p>
						</a>
					</li>
					<li class="list_dd">
						<a href="#">
							<div class="litpic"><img src="" alt=""></div>
							<h1>上海市闸北实验小学戏剧《三国小神童》表演</h1>
							<p>快看直播</p>
						</a>
					</li>
					<li class="list_dd">
						<a href="#">
							<div class="litpic"><img src="" alt=""></div>
							<h1>上海市闸北实验小学戏剧《三国小神童》表演</h1>
							<p>快看直播</p>
						</a>
					</li>
				</ul>
			</div>
			<div class="live_dl">
				<h3 class="live_dt">今天 观看了4个直播</h3>
				<ul class="fn-clear">
					<li class="list_dd">
						<a href="#">
							<div class="litpic"><img src="" alt=""></div>
							<h1>上海市闸北实验小学戏剧《三国小神童》表演</h1>
							<p>快看直播</p>
						</a>
					</li>
					<li class="list_dd">
						<a href="#">
							<div class="litpic"><img src="" alt=""></div>
							<h1>上海市闸北实验小学戏剧《三国小神童》表演</h1>
							<p>快看直播</p>
						</a>
					</li>
					<li class="list_dd">
						<a href="#">
							<div class="litpic"><img src="" alt=""></div>
							<h1>上海市闸北实验小学戏剧《三国小神童》表演</h1>
							<p>快看直播</p>
						</a>
					</li>
				</ul>
			</div> -->
		</div>

		<!-- 资讯 -->
		<div class="article_page fn-hide ">
			<!-- <dl class="article_dl">
				<dt>12-20 阅读了3条资讯</dt>
				<dd class="list_dd">
					<a href="#" class="fn-clear">
						<div class="litpic">
						</div>
						<div class="rinfo">
							<h1>圣诞夜第一人之争，阿杜赢数据詹…皇赢比赛？</h1>
							<p><span>政治新闻</span></p>
						</div>
					</a>
				</dd>
				<dd class="list_dd">
					<a href="#" class="fn-clear">
						<div class="litpic">
						</div>
						<div class="rinfo">
							<h1>圣诞夜第一人之争，阿杜赢数据詹…皇赢比赛？</h1>
							<p><span>政治新闻</span></p>
						</div>
					</a>
				</dd>
			</dl> -->

		</div>

		<!-- 贴吧 -->
		<div class="tieba_page fn-hide">
			<!-- <dl class="tieba_dl">
				<dt>12-20 浏览了3条帖子</dt>
				<dd class="list_dd">
					<a href="#" class="fn-clear">
						<div class="litpic">
							<h6>麻</h6>
						</div>
						<div class="rinfo">
							<h1>圣诞夜第一人之争，阿杜赢数据詹…皇赢比赛？</h1>
							<p><span>政治新闻</span></p>
						</div>
					</a>
				</dd>
			</dl> -->
		</div>



		<!-- 养老 -->
		<div class="pension_page fn-hide">
			<!-- <dl class="pension_dl">
				<dt>2020-12-22</dt>
				<dd class="list_dd">
					<a href="#" class="fn-clear">
						<div class="litpic"><img src="" alt=""></div>
						<div class="rinfo">
							<h1>江苏省苏州市馨和园颐养院</h1>
							<p>工业园区</p>
							<div class="price_show"><span class="allprice"><b>258</b>万</span></div>
						</div>
					</a>
				</dd>
			</dl> -->

		</div>

		<!-- 汽车 -->
		<div class="car_page fn-hide">
			<!-- <dl class="car_dl">
				<dt>2020-12-22</dt>
				<dd class="list_dd">
					<a href="#" class="fn-clear">
						<div class="litpic">
							<label class="lab">个人</label>
							<img src="" alt="">
						</div>
						<div class="rinfo">
							<h1>奥迪 奥迪A3(进口) 2013款 Sportback 30 TFSI 舒适型</h1>
							<p>2年/15万公里</p>
							<div class="price_show"><span class="allprice"><b>258</b>万</span></div>
						</div>
					</a>
				</dd>

			</dl> -->
		</div>


		<!-- 招聘 -->
		<div class="job_page fn-hide">
			<ul class="job_ul">
				<!-- <li class="job_li">
					<a href="">
						<h1>高级游戏开发工程师  <span class="salary">1.5万-2万/月</span></h1>
						<p>苏州<em>|</em>三年<em>|</em>本科</p>
						<div class="comp_detail">
							<div class="litpic"></div>
							<div class="comp_name">中移(苏州)软件技术有限公司</div>
						</div>
					</a>
				</li> -->
			</ul>
		</div>



		<!-- 活动 -->
		<div class="huodong_page fn-hide">
			<!-- <div class="huodong_dl">
				<h3 class="huodong_dt">今天</h3>
				<ul class="fn-clear">
					<li class="list_dd">
						<a href="#">
							<div class="litpic"><img src="" alt=""></div>
							<h1>上海市闸北实验小学戏剧《三国小神童》表演</h1>
							<p class="price">{#echoCurrency type='symbol'#}150</p>
						</a>
					</li>
					<li class="list_dd">
						<a href="#">
							<div class="litpic"><img src="" alt=""></div>
							<h1>上海市闸北实验小学戏剧《三国小神童》表演</h1>
							<p class="price">{#echoCurrency type='symbol'#}150</p>
						</a>
					</li>

				</ul>
			</div> -->
		</div>



		<!-- 商家 -->
		<div class="business_page fn-hide">
			<!-- <dl class="business_dl">
				<dt>12-20 浏览了3条帖子</dt>
				<dd class="list_dd">
					<a href="#" class="fn-clear">
						<div class="litpic"></div>
						<div class="rinfo">
							<h1>圣诞夜第一人之争，阿杜赢数据詹…皇赢比赛？</h1>
							<p><span>政治新闻</span></p>
							<label>教育培训</label>
						</div>
					</a>
				</dd>
			</dl> -->
		</div>

		<!-- 信息 -->
		<div class="info_page fn-hide">
			<!-- <dl class="info_dl">
				<dt>12-20 浏览了3条帖子</dt>
				<dd class="list_dd">
					<a href="#" class="fn-clear">
						<div class="litpic"></div>
						<div class="rinfo">
							<h1>圣诞夜第一人之争，阿杜赢数据詹…皇赢比赛？</h1>
							<p><span>政治新闻</span></p>
							<label>教育培训</label>
						</div>
					</a>
				</dd>
			</dl> -->
		</div>

		<!-- 商城 -->
		<div class="shop_page fn-hide">
			<!-- <div class="shop_dl">
				<h3 class="shop_dt">今天</h3>
				<ul class="fn-clear">
					<li class="list_dd">
						<a href="#">
							<div class="litpic"><img src="" alt=""></div>
							<h1>上海市闸北实验小学戏剧《三国小神童》表演</h1>
							<p class="price">￥<em>150</em></p>
						</a>
					</li>

				</ul>
			</div> -->
		</div>

		<!-- 旅游 -->
		<div class="travel_page fn-hide">
			<div class="tabbox">
				<ul>
					<li data-type="" class="curr">全部</li>
					<li data-type="ticket,daytravel,agency">游玩</li>
					<li data-type="hotel">住宿</li>
					<li data-type="video,strategy">视频攻略</li>
					<li data-type="rentcar,visa">租车签证</li>
				</ul>
			</div>
			<div class="tabCon">
				<div class="conbox">
					<!-- <dl class="travel_dl">
						<dt>2020-12-22</dt>
						<dd class="list_dd">
							<a href="#" class="fn-clear">
								<div class="litpic"><img src="" alt=""></div>
								<div class="rinfo">
									<h1>中铁诺德誉园 精装修116平急售</h1>
									<div class="price_show"><span class="allprice"><b>258</b>万</span> <span class="unit_price">28610元/平</span></div>
									<div class="label_show"><span>地铁</span><span>地铁</span></div>
								</div>
							</a>

						</dd>
					</dl>
					<p class="loading">已显示完最近30天的浏览记录</p>-->
				</div>
			</div>
		</div>

		<!-- 装修 -->
		<div class="renovation_page fn-hide">
			<!-- <dl class="renovation_dl">
				<dt>12-20 </dt>
				<dd class="list_dd">
					<a href="#" class="fn-clear">
						<div class="litpic"></div>
						<div class="rinfo">
							<h1>圣诞夜第一人之争，阿杜赢数据詹…皇赢比赛？</h1>
							<p><span>政治新闻</span></p>
						</div>
					</a>
				</dd>
			</dl> -->
		</div>

		<!-- 家政 -->
		<div class="homemaking_page fn-hide">
			<!-- <dl class="homemaking_dl">
				<dt>12-20 </dt>
				<dd class="list_dd">
					<a href="#" class="fn-clear">
						<div class="litpic"></div>
						<div class="rinfo">
							<h1>圣诞夜第一人之争，阿杜赢数据詹…皇赢比赛？</h1>
							<p><span>政治新闻</span></p>
						</div>
					</a>
				</dd>
			</dl> -->
		</div>

		<!-- 团购 -->
		<div class="tuan_page fn-hide">

		</div>

		<!-- 教育 -->
		<div class="education_page fn-hide">

		</div>

		<div class="manage_box">
			<a href="javascript:;" class="manage_btn" >管理</a>
			<div class="btns_group fn-hide">
				<a href="javascript:;" class="btn_del disabled">删除(<em>0</em>)</a>
				<span></span>
				<a href="javascript:;" class="btn_clear">全部清空</a>
				<span></span>
				<a href="javascript:;" class="btn_cancel">取消管理</a>
			</div>
		</div>

		<div class="clear_mask"></div>
		<div class="clear_sure">
			<h2 class="al_title">
				确认删除全部浏览记录？
			</h2>
			<div class="al_btns">
				<a href="javascript:;" class="cancel">取消</a>
				<a href="javascript:;" class="sure">确定</a>
			</div>
		</div>
        <script type="text/javascript" src="{#$templets_skin#}js/mcenter/history.js?v={#$cfg_staticVersion#}"></script>
        {#/if#}
	</body>
</html>
