<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
		<title>{#$langData['homemaking'][9][42]#}</title>
		<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}" media="all" />
		<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}">
		<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/homemaking-count.css?v={#$cfg_staticVersion#}" media="all" />
		 <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/mobiscroll.css?v={#$cfg_staticVersion#}" />
		<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
		<script type="text/javascript" src="{#$cfg_staticPath#}js/core/zepto.min.js?v={#$cfg_staticVersion#}"></script>
		<script type="text/javascript">
			var dispatchid = {#$id#}
		</script>
	</head>
	<body>
		{#$pageTitle = "我服务的订单"#}  
		{#include file="top.html"#}
		<div class="top_box">
			<h2 class="t_tilte">结单统计</h2>
			<!-- 时间选择s -->
			<div class="TimeBox">
				<a href="javascript:;" class="r_btn">查询</a>
				<div class="l_time">
					<input type="text" readonly="readonly" id="ftime" name="ftime" value="" />-<input type="text" readonly="readonly" id="etime" name="etime" value=""  />
				</div>
			</div>
			<!-- 时间选择e -->
		</div>
		
		<!-- 列表 -->
		<div class="listBox">
			<h3><span class="item_title">项目<em>/</em>数量</span><span class="p_title">金额</span></h3>
			<ul class="item_List">
				{#*
				<li class="item_li">
					<h4 class="iname">厨房全屋清洁 抽油烟机灶台冰箱微抽油烟机灶台冰箱微</h4>
					<div class="num_box fn-clear">
						<div class="l_num">13</div>
						<div class="r_price"><em>{#echoCurrency type='symbol'#}</em>2580.00</div>
					</div>
				</li>
				<li class="item_li">
					<h4 class="iname">厨房全屋清洁 抽油烟机灶台冰箱微抽油烟机灶台冰箱微</h4>
					<div class="num_box fn-clear">
						<div class="l_num">13</div>
						<div class="r_price"><em>{#echoCurrency type='symbol'#}</em>2580.00</div>
					</div>
				</li>
				<li class="item_li">
					<h4 class="iname">厨房全屋清洁 抽油烟机灶台冰箱微抽油烟机灶台冰箱微</h4>
					<div class="num_box fn-clear">
						<div class="l_num">13</div>
						<div class="r_price"><em>{#echoCurrency type='symbol'#}</em>2580.00</div>
					</div>
				</li>
				<li class="item_li">
					<h4 class="iname">厨房全屋清洁 抽油烟机灶台冰箱微抽油烟机灶台冰箱微</h4>
					<div class="num_box fn-clear">
						<div class="l_num">13</div>
						<div class="r_price"><em>{#echoCurrency type='symbol'#}</em>2580.00</div>
					</div>
				</li>
				<li class="item_li">
					<h4 class="iname">厨房全屋清洁 抽油烟机灶台冰箱微抽油烟机灶台冰箱微</h4>
					<div class="num_box fn-clear">
						<div class="l_num">13</div>
						<div class="r_price"><em>{#echoCurrency type='symbol'#}</em>2580.00</div>
					</div>
				</li>
				*#}
			</ul>
		</div>
		<div class="bottom_box">
			<p class="left_num">总计<span>27单</span></p>
			<p class="right_count">{#echoCurrency type='symbol'#}<span>15880.00</span></p>
		</div>
		<div class="bg1"></div>
		<div class="bg2"></div>
		<script type="text/javascript" src="{#$templets_skin#}js/mobiscroll.js?v={#$cfg_staticVersion#}" ></script>
		<script type="text/javascript" src="{#$templets_skin#}js/mobiscroll.datetime.js?v={#$cfg_staticVersion#}" ></script>
		<script type="text/javascript" src="{#$templets_skin#}js/homemaking-count.js?v={#$cfg_staticVersion#}"></script>
	</body>
</html>
