  <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<title>{#$langData['siteConfig'][0][7]#} </title>
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/ui/swiper.min_4.2.2.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/mcenter/index_info.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$cfg_staticPath#}js/core/zepto.min.js"></script>
<script type="text/javascript">
  var masterDomain = '{#$cfg_basehost#}', cookiePre = '{#$cfg_cookiePre#}';
  var joinBusiUrl = '{#getUrlPath service='member' type='user' template='enter'#}';
  var mdList = {#json_encode($memberModule.userModuleList)#};
  var userinfo = {#json_encode($userinfo)#};
  var memberUrl = '{#$member_userDomain#}';

</script>
{#if !$cfg_business_state#}
<style>
    .left_link {visibility: hidden;}
</style>
{#/if#}
</head>

<body>
	<div class="page_renovation lower">
		<div class="bgbox ">
			{#if $memberModule && (count($memberModule.userModuleList)>1 || count($memberModule.userModuleList)==0)#}
			<div class="top_box">
				{#if $userinfo#}
				{#*个人升级到商家*#}
					{#if $userinfo.userType == 1#}
						{#if !$is_ios_app || !$cfg_ios_shelf#}
						<a class="left_link" href="{#getUrlPath service='member' template='renovation'#}{#if $is_app#}?appIndex=1{#/if#}#join">{#$langData['siteConfig'][50][0]#}></a>  {#*  切换商家版  *#}
						{#/if#}
					{#else#}
						<a class="left_link" href="{#getUrlPath service='member' template='renovation'#}{#if $is_app#}?appIndex=1{#/if#}">{#$langData['siteConfig'][50][0]#}></a>  {#*  切换商家版  *#}
					{#/if#}
				{#else#}
				<a class="left_link" href="{#getUrlPath service='member' template='renovation'#}{#if $is_app#}?appIndex=1{#/if#}">{#$langData['siteConfig'][50][0]#}></a>  {#*  切换商家版  *#}
				{#/if#}
				<a class="right_link" href="{#getUrlPath service='member' type='user' template='setting'#}"></a>
			</div>
			{#else#}
			{#include file="../../siteConfig/touch_top.html" pageTitle='装修' headTheme="transparent"#}
			{#/if#}
			<div class="userinfo_box">
				<div class="uhead_box">
					<a class="uheadImg" href="{#getUrlPath service='member' type='user' template='profile'#}"><img src="{#$userinfo.photo#}" onerror="this.src='/static/images/noPhoto_60.jpg'" alt=""></a>
					{#if $userinfo#}
					<a class="uinfo"  href="{#getUrlPath service='member' type='user' template='profile'#}">
						<h3>{#$userinfo.nickname#}</h3>
						<p>用户名：{#$userinfo.username#}</p>
					</a>
					{#else#}
					<a class="uinfo"  href="{#getUrlPath service='member' type='user' template='login'#}">
						<h3>登录/注册</h3>
					</a>
					{#/if#}
				</div>
				{#if $renovation_foremanuid#}
				<a href="{#getUrlPath service='renovation' template='foreman-detail' id="{#$renovation_foremanuid#}"#}" class="homepage {#if $userinfo.level > 0#}level{#/if#}">我的主页</a>
				{#else if $renovation_teamuid#}
				<a href="{#getUrlPath service='renovation' template='designer-detail'  id="{#$renovation_teamuid#}"#}" class="homepage {#if $userinfo.level > 0#}level{#/if#}">我的主页</a>
				{#else if $userinfo#}
				<a href="{#$member_userDomain#}/user/{#$userinfo.userid#}" class="homepage {#if $userinfo.level > 0#}level{#/if#}">我的主页</a>
				{#else#}
				<a href="{#getUrlPath service='member' type='user' template='login'#}" class="homepage {#if $userinfo.level > 0#}level{#/if#}">我的主页</a>
				{#/if#}
			</div>

		</div>

		<div class="content_box">
			{#if $userinfo.level > 0 && 'vip'|in_array:$cfg_ucenterLinks#}
			<div class="vipTo {#if $cfg_iosVirtualPaymentState#}iosVirtualPaymentHide{#/if#}">
				<div class="left_text">
					<h3>{#$userinfo.levelName#}</h3>
					<p>点亮会员标识，畅享尊贵特权</p>
				</div>
				<a href="{#$member_userDomain#}/upgrade.html" class="right_to">{#$userinfo.expired|date_format:"%Y-%m-%d"#}{#$langData['siteConfig'][39][11]#} </a>
			</div>
			{#/if#}

			<!-- 工长工作台 -->
			{#if $renovation_teamuid #}
			<dl class="con first_con">
				<dt><h5>设计师工作台</h5> <a href="#">我的公司</a></dt>
				<dd>
					<ul class="orderType">
						<li>
							<a href="{#$member_userDomain#}/renovation-profile.html?type=designer">
								<div class="icon_box"><img src="{#$templets_skin#}images/mcenter/tofb.png" alt=""></div>
								<p>我的资料</p>
							</a>
						</li>
						<li>
							<a class="toMini" data-temp="fabu" data-module="mcenter" data-param="mold=renovation&otherActive=3&code=1" href="{#getUrlPath service='member' type='user' template='manage-renovation' param="otherActive=3"#}">
								<div class="icon_box"><img src="{#$templets_skin#}images/mcenter/house_weituo.png" alt=""></div>
								<p>案例管理</p>
							</a>
						</li>
						<li>
							<a class="toMini" data-temp="fabu" data-module="mcenter" data-param="mold=renovation&otherActive=4&code=1" href="{#getUrlPath service='member' type='user' template='manage-renovation' param="otherActive=4"#}">
								<div class="icon_box"><img src="{#$templets_skin#}images/mcenter/wenzhang.png" alt=""></div>
								<p>我的文章</p>
							</a>
						</li>
						<li>
							<a href="{#$member_userDomain#}/collection.html?module=renovation">
								<div class="icon_box"><img src="{#$templets_skin#}images/mcenter/xing.png" alt=""></div>
								<p>收藏</p>
							</a>
						</li>
					</ul>
				</dd>
			</dl>
			{#/if#}

			<!-- 工长工作台 -->
			{#if $renovation_foremanuid #}
			<dl class="con first_con">
				<dt><h5>工长工作台</h5> <a href="#">我的公司</a></dt>
				<dd>
					<ul class="orderType">
						<li>
							<a href="{#$member_userDomain#}/renovation-profile.html?type=foreman">
								<div class="icon_box"><img src="{#$templets_skin#}images/mcenter/tofb.png" alt=""></div>
								<p>我的资料</p>
							</a>
						</li>
						<li>
							<a class="toMini" data-temp="fabu" data-module="mcenter" data-param="mold=renovation&otherActive=1&code=1" href="{#getUrlPath service='member' type='user' template='manage-renovation' param="otherActive=1"#}">
								<div class="icon_box"><img src="{#$templets_skin#}images/mcenter/house_weituo.png" alt=""></div>
								<p>案例管理</p>
							</a>
						</li>
						<li>
							<a class="toMini" data-temp="fabu" data-module="mcenter" data-param="mold=renovation&otherActive=2&code=1" href="{#getUrlPath service='member' type='user' template='manage-renovation' param="otherActive=2"#}">
								<div class="icon_box"><img src="{#$templets_skin#}images/mcenter/wenzhang.png" alt=""></div>
								<p>我的文章</p>
							</a>
						</li>
						<li>
							<a href="{#$member_userDomain#}/collection.html?module=renovation">
								<div class="icon_box"><img src="{#$templets_skin#}images/mcenter/xing.png" alt=""></div>
								<p>收藏</p>
							</a>
						</li>
					</ul>
				</dd>
			</dl>
			{#/if#}


			{#if (!$userinfo || $userinfo.level=='0') && 'vip'|in_array:$cfg_ucenterLinks#}
			<div class="vipTo {#if $cfg_iosVirtualPaymentState#}iosVirtualPaymentHide{#/if#}">
				<div class="left_text">
					<h3>超级VIP</h3>
					<p>点亮标识畅享特权，更有10%下单优惠</p>
				</div>
				<a href="{#$member_userDomain#}/upgrade.html" class="right_btn">开通会员</a>
			</div>
			{#/if#}

			{#if $userinfo.userType == 2 && $cfg_business_state#}
			<div class="link_manage towLine">
				<div class="left_text">
					<h5>商家管理</h5>
					<p>公司信息及客户管理等，请至商家后台</p>
				</div>
				<a href="{#$member_busiDomain#}/?currentPageOpen=1&module=renovation{#if $is_app#}&appIndex=1&appFullScreen{#/if#}">立即前往</a>
			</div>
			{#/if#}


			<dl class="con first_con">
				{#if $renovation_foremanuid || $renovation_teamuid#}
				<dt><h5>装修工具</h5></dt>
				<dd>
					<ul class="orderType">
						<li>
							<a href="{#$member_userDomain#}/renovation-order.html">
								<div class="icon_box"><img src="{#$templets_skin#}images/mcenter/yuyue.png" alt=""></div>
								<p>我的预约</p>
							</a>
						</li>
						<li>
							<a class="toMini" data-temp="fabu" data-module="mcenter" data-param="mold=renovation&code=1" href="{#getUrlPath service='member' type='user' template='manage-renovation'#}">
								<div class="icon_box"><img src="{#$templets_skin#}images/mcenter/zhaobiao.png" alt=""></div>
								<p>我的招标</p>
							</a>
						</li>

						<li>
							<a href="{#$member_userDomain#}/history?module=renovation">
								<div class="icon_box"><img src="{#$templets_skin#}images/mcenter/history.png" alt=""></div>
								<p>历史浏览</p>
							</a>
						</li>
						{#if $cfg_kefu_touch_url#}
						<li>
							<a href="{#$cfg_kefu_touch_url#}">
								<div class="icon_box"><img src="{#$templets_skin#}images/mcenter/kefu_re.png" alt=""></div>
								<p>客服</p>
							</a>
						</li>
						{#/if#}
					</ul>

				</dd>
				{#else#}
				<dd>
					<ul class="orderType">
						<li>
							<a class="toMini" data-temp="fabu" data-module="mcenter" data-param="mold=renovation&code=1" href="{#getUrlPath service='member' type='user' template='manage-renovation'#}">
								<div class="icon_box"><img src="{#$templets_skin#}images/mcenter/zhaobiao.png" alt=""></div>
								<p>我的招标</p>
							</a>
						</li>

						<li>
							<a href="{#$member_userDomain#}/collection.html?module=renovation">
								<div class="icon_box"><img src="{#$templets_skin#}images/mcenter/media.png" alt=""></div>
								<p>收藏</p>
							</a>
						</li>
						<li>
							<a href="{#$member_userDomain#}/history?module=renovation">
								<div class="icon_box"><img src="{#$templets_skin#}images/mcenter/history.png" alt=""></div>
								<p>历史浏览</p>
							</a>
						</li>
						{#if $cfg_kefu_touch_url#}
						<li>
							<a href="{#$cfg_kefu_touch_url#}">
								<div class="icon_box"><img src="{#$templets_skin#}images/mcenter/kefu_re.png" alt=""></div>
								<p>客服</p>
							</a>
						</li>
						{#/if#}
					</ul>

				</dd>
				{#/if#}
			</dl>
			{#if !$renovation_teamuid && !$renovation_foremanuid #}
			<div class="swiper-container joinWrap">
				<div class="swiper-wrapper">
					<!-- 加入工长 -->
					<div class="swiper-slide">
						<a class="imgShow" href="{#$renovation_channelDomain#}/foreman_join.html">
							<img src="{#$templets_skin#}images/mcenter/bg_re.png" alt="">
							<div class="text">
								<h2>我是专业装修工长</h2>
								<p><span>加入工长</span> 获取更多客户</p>
							</div>
						</a>
					</div>

					<!-- 加入设计师 -->
					<div class="swiper-slide">
						<a class="imgShow" href="{#$renovation_channelDomain#}/designer_join.html">
							<img src="{#$templets_skin#}images/mcenter/bg_red.png" alt="">
							<div class="text">
								<h2 style="color: #246E95;">我是家装设计师</h2>
								<p><span>立即加入</span> 获取更多客户</p>
							</div>
						</a>
					</div>
				</div>
				<div class="page"></div>
			</div>
			{#else if $renovation_teamuid && !$renovation_foremanuid#}
			<a class="imgShow" href="{#$renovation_channelDomain#}/foreman_join.html">
				<img src="{#$templets_skin#}images/mcenter/bg_re.png" alt="">
				<div class="text">
					<h2>我是专业装修工长</h2>
					<p><span>加入工长</span> 获取更多客户</p>
				</div>
			</a>
			{#else if !$renovation_teamuid && $renovation_foremanuid#}
			<a class="imgShow" href="{#$renovation_channelDomain#}/designer_join.html">
				<img src="{#$templets_skin#}images/mcenter/bg_red.png" alt="">
				<div class="text">
					<h2 style="color: #246E95;">我是家装设计师</h2>
					<p><span>立即加入</span> 获取更多客户</p>
				</div>
			</a>
			{#/if#}

			{#if $userinfo#}
			{#if $renovation_foremanuid || $renovation_teamuid#}
			<!-- 工长或者设计师 -->
			<div class="conBox">
				<div class="conHead">
					<span class="active">客户预约</span>
					<a href="{#$member_userDomain#}/renovation-customer.html?type=designer">客户管理</a>
					<i></i>
				</div>
				<div class="listBox">
					<ul class="kh_yuyue">
						<!-- 设计师 type=2 bid为工长id-->
						{#loop service="renovation" action='rese' type=2 bid=38 pageSize=3 return='list'#}
						<li class="con yy_li">
							<div class="kh_info">
								<h5>{#$list.people#}</h5>
								<p><span> {#$list.address#} </span> <em>|</em> <span> {#$list.community#} </span> </p>
							</div>
							<div class="kh_call"> 联系电话 <b>{#$list.contact#}</b> </div>
							<p>{#$list.md#} {#$list.his#}</p>
							<a href="tel:{#$list.contact#}" class="tel">联系TA</a>
						</li>
						{#/loop#}

						{#if $pageInfo.totalCount>0#}
						<div class="link_to">
							<a href="{#$member_userDomain#}/renovation-customer.html?type=designer">查看全部客户</a>
						</div>
						{#else#}
						<!-- <p class="noData">暂无数据</p> -->
						{#/if#}


						<!-- 工长 type=1 bid为工长id-->
					</ul>
				</div>
			</div>


			{#else#}
			<!-- 预约记录 和 参观工地 -->
			<div class="conBox">
				<div class="conHead">
					<span class="active">预约记录</span>
					<span>参观工地</span>
					<i></i>
				</div>
				<div class="listBox">
					<ul class="shop_yuyue">
						<!-- <li class="con">
							<a href="#" class="fn-clear">
								<div class="shop_img"></div>
								<div class="shop_info">
									<h2><span>设计师</span>我是标题</h2>
									<p><span>苏州 高新区</span></p>
									<div class="num_show"><span>经验<b>5</b>年</span><span>案例<b>12</b>套</span></div>
								</div>
							</a>
						</li> -->
					</ul>
					<ul class="car_shou fn-hide">
						<!-- <li class="con">
							<a href="#" class="fn-clear">
								<div class="car_img"></div>
								<div class="car_info">
									<h2><span>个人</span>我是标题</h2>
									<p><span>98m<sup>2</sup></span><em>|</em><span>12-15万</span><em>|</em><span>日式</span></p>
									<div class="re_shop">苏州尚技装饰 <b>•</b> 验收完成</div>
								</div>
							</a>
						</li>
						<div class="link_to">
							<a href="#">查看全部预约参观的工地</a>
						</div> -->
					</ul>
				</div>
			</div>
			{#/if#}

			{#/if#}

		</div>

	</div>
	{#include file="../../siteConfig/touch_bottom_5.0.html" active="fifthicon" bottom_module="renovation"#}
<script type='text/javascript' src='{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}'></script>
<script type='text/javascript' src='{#$cfg_staticPath#}js/ui/swiper.min_4.2.2.js?v={#$cfg_staticVersion#}'></script>
<script type="text/javascript" src="{#$templets_skin#}js/mcenter/index_info.js?v={#$cfg_staticVersion#}"></script>


</body>
</html>
