  <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<title>{#$langData['siteConfig'][0][7]#} </title>
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/mcenter/index_info.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$cfg_staticPath#}js/core/zepto.min.js"></script>
<script type="text/javascript">
  var masterDomain = '{#$cfg_basehost#}', cookiePre = '{#$cfg_cookiePre#}';
  var joinBusiUrl = '{#getUrlPath service='member' type='user' template='enter'#}';
  var mdList = {#json_encode($memberModule.userModuleList)#};
  var userinfo = {#json_encode($userinfo)#}
  var mcenter = '{#$member_userDomain#}';

</script>
{#if !$cfg_business_state#}
<style>
    .left_link {visibility: hidden;}
</style>
{#/if#}
</head>

<body>
	<div class="page_car">
		<div class="bgbox {#if $userinfo#}logined{#/if#}">
			{#if $memberModule && (count($memberModule.userModuleList)>1 || count($memberModule.userModuleList)==0)#}
			<div class="top_box">
				{#if $userinfo#}
				{#*个人升级到商家*#}
					{#if $userinfo.userType == 1#}
						{#if !$is_ios_app || !$cfg_ios_shelf#}
						<a class="left_link" href="{#getUrlPath service='member' type='user' template='car'#}{#if $is_app#}?appIndex=1{#/if#}#join">{#$langData['siteConfig'][50][0]#}></a>  {#*  切换商家版  *#}
						{#/if#}
					{#else#}
						<a class="left_link" href="{#getUrlPath service='member' type='user' template='car'#}{#if $is_app#}?appIndex=1{#/if#}">{#$langData['siteConfig'][50][0]#}></a>  {#*  切换商家版  *#}
					{#/if#}
				{#else#}
				<a class="left_link" href="{#getUrlPath service='member' type='user' template='car'#}{#if $is_app#}?appIndex=1{#/if#}">{#$langData['siteConfig'][50][0]#}></a>  {#*  切换商家版  *#}
				{#/if#}
				<a class="right_link" href="{#getUrlPath service='member' type='user' template='setting'#}"></a>
			</div>
			{#else#}
			{#include file="../../siteConfig/touch_top.html" pageTitle='二手汽车' headTheme="transparent"#}
			{#/if#}
			<div class="userinfo_box">
				<div class="uhead_box">
					<a class="uheadImg" href="{#getUrlPath service='member' type='user' template='profile'#}"><img src="{#$userinfo.photo#}" onerror="this.src='/static/images/noPhoto_60.jpg'" alt=""></a>
					{#if $userinfo#}
					<a class="uinfo"  href="{#getUrlPath service='member' type='user' template='profile'#}">
						<h3>{#$userinfo.nickname#}</h3>
						<p>用户名：{#$userinfo.username#}</p>
					</a>
					{#else#}
					<a class="uinfo"  href="{#getUrlPath service='member' type='user' template='login'#}">
						<h3>登录/注册</h3>
					</a>
					{#/if#}
				</div>
				{#if $userinfo.userType == 1#}
				{#if $userinfo#}<a href="{#$cfg_basehost#}/user-{#$userinfo.userid#}.html" class="homepage {#if $userinfo.level > 0#}level{#/if#}">{#$langData['siteConfig'][10][20]#}</a>{#/if#}  {#*  我的主页  *#}
				{#else#}
				<a href="{#if $userinfo#}{#getUrlPath service='business' template='detail' id=$userinfo.busiId#}{#else#}{#getUrlPath service='member' type='user' template='login'#}{#/if#}" class="homepage {#if $userinfo.level > 0#}level{#/if#}">{#$langData['siteConfig'][10][20]#}</a>
				{#/if#}
			</div>
			<div class="module_data">
				<ul>
					<li>
						<a href="{#$member_userDomain#}/history?module=car">
							<h4>{#if !$userinfo#}0{#else#}{#$todayzjcount#}{#/if#}</h4>
							<p>足迹</p>
						</a>
					</li>
					<li>
						<a href="{#$member_userDomain#}/collection.html?module=car">
							<h4>{#if !$userinfo#}0{#else#}{#$storegzcount#}{#/if#}</h4>
							<p>关注车商</p>
						</a>
					</li>
					<li>
						<a href="{#if !$userinfo#}{#getUrlPath service='member' type='user' template='login'#}{#else#}{#$cfg_basehost#}/user/{#$userinfo.userid#}/fans.html{#/if#}">
							<h4>{#if !$userinfo#}0{#else#}{#$fansall#}{#/if#}</h4>
							<p>粉丝</p>
						</a>
					</li>

				</ul>
			</div>
		</div>

		<div class="content_box">
			{#if $userinfo.level > 0 && 'vip'|in_array:$cfg_ucenterLinks#}
			<div class="vipTo {#if $cfg_iosVirtualPaymentState#}iosVirtualPaymentHide{#/if#}">
				<div class="left_text">
					<h3>{#$userinfo.levelName#}</h3>
					<p>点亮会员标识，畅享尊贵特权</p>
				</div>
				<a href="{#$member_userDomain#}/upgrade.html" class="right_to">{#$userinfo.expired|date_format:"%Y-%m-%d"#}{#$langData['siteConfig'][39][11]#} </a>
			</div>
			{#/if#}

			<!-- 我要卖车 -->
			<a class="imgShow" href="{#$car_channelDomain#}/sell.html">
				<img src="{#$templets_skin#}images/mcenter/bg_car.png" alt="">
			</a>



			{#if (!$userinfo || $userinfo.level=='0') && 'vip'|in_array:$cfg_ucenterLinks#}
			<div class="vipTo {#if $cfg_iosVirtualPaymentState#}iosVirtualPaymentHide{#/if#}">
				<div class="left_text">
					<h3>超级VIP</h3>
					<p>点亮标识畅享特权，更有10%下单优惠</p>
				</div>
				<a href="{#$member_userDomain#}/upgrade.html" class="right_btn">开通会员</a>
			</div>
			{#/if#}

			{#if $userinfo.userType == 2 && $cfg_business_state#}
			<div class="link_manage towLine">
				<div class="left_text">
					<h5>商家管理</h5>
					<p>公司信息及车源管理等，请至商家后台</p>
				</div>
				<a href="{#$member_busiDomain#}/?currentPageOpen=1&module=car{#if $is_app#}&appIndex=1&appFullScreen{#/if#}">立即前往</a>
			</div>
            {#/if#}

			<!-- 我发布的 -->
			<dl class="con link_con fn-hide">
				<dt>我发布的 <a class="toMini" data-temp="fabu" data-module="mcenter" data-param="mold=car&code=1" href="{#$member_userDomain#}/manage-car.html">查看全部</a></dt>
				{#loop service="car" action='car' u=1 orderby=1  pageSize=2 isAjax=1 return='list'#}
				<dd class="fb_car">
					<a href="{#$list.url#}" class="fn-clear">
						<div class="car_img"><img src="{#$list.litpic#}" onerror="this.src='/static/images/404.jpg'" alt=""></div>
						<div class="car_info">
							<h4>{#$list.title#}</h4>
							<p><em>{#$list.click#}</em> 浏览</p>
						</div>
					</a>
				</dd>
				{#/loop#}
			</dl>

			<!-- 我的收藏 和 预约到店 -->
			<div class="conBox">
				<div class="conHead">
					<span class="active">我的收藏</span>
					<!-- <span>预约到店</span> -->
					<i></i>
				</div>
				<div class="listBox">
					{#if $userinfo#}
					<ul class="car_shou">

					</ul>
					{#else#}
						<a class="noData" style="display: block; text-align: center; color: #999;" href="{#getUrlPath service='member' type='user' template='login'#}">登录查看更多</a>
					{#/if#}
				<!-- 	<ul class="shop_yuyue fn-hide">

						<div class="link_to"><a href="#">查看全部 <em>23</em> 条预约</a></div>
					</ul> -->
				</div>
			</div>




		</div>

	</div>
	{#include file="../../siteConfig/touch_bottom_5.0.html" active="fifthicon" bottom_module="car"#}
<script type='text/javascript' src='{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}'></script>
<script type="text/javascript" src="{#$templets_skin#}js/mcenter/index_info.js?v={#$cfg_staticVersion#}"></script>


</body>
</html>
