<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<title>{#$langData['siteConfig'][0][7]#} </title>
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/mcenter/index_info.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$cfg_staticPath#}js/core/zepto.min.js"></script>
<script type="text/javascript">
  var masterDomain = '{#$cfg_basehost#}', cookiePre = '{#$cfg_cookiePre#}';
  var joinBusiUrl = '{#getUrlPath service='member' type='user' template='enter'#}';
  var mdList = {#json_encode($memberModule.userModuleList)#};
  var userinfo = {#json_encode($userinfo)#}

</script>
{#if !$cfg_business_state#}
<style>
    .left_link {visibility: hidden;}
</style>
{#/if#}
</head>

<body>
	<div class="page_pension lower">
		<div class="bgbox {#if $userinfo#}logined{#/if#}">
			{#if $memberModule && (count($memberModule.userModuleList)>1 || count($memberModule.userModuleList)==0)#}
			<div class="top_box">
				{#if $userinfo#}
				{#*个人升级到商家*#}
					{#if $userinfo.userType == 1#}
						{#if !$is_ios_app || !$cfg_ios_shelf#}
						<a class="left_link  {#if $cfg_iosVirtualPaymentState#}iosVirtualPaymentHide{#/if#}" href="{#getUrlPath service='member' template='pension'#}{#if $is_app#}?appIndex=1{#/if#}#join">{#$langData['siteConfig'][50][0]#}></a>  {#*  切换商家版  *#}
						{#/if#}
					{#else#}
						<a class="left_link" href="{#getUrlPath service='member' template='pension'#}{#if $is_app#}?appIndex=1{#/if#}">{#$langData['siteConfig'][50][0]#}></a>  {#*  切换商家版  *#}
					{#/if#}
				{#else#}
				<a class="left_link" href="{#getUrlPath service='member' template='pension'#}{#if $is_app#}?appIndex=1{#/if#}">{#$langData['siteConfig'][50][0]#}></a>  {#*  切换商家版  *#}
				{#/if#}
				<a class="right_link" href="{#getUrlPath service='member' type='user' template='setting'#}"></a>
			</div>
			{#else#}
			{#include file="../../siteConfig/touch_top.html" pageTitle='我的' headTheme="transparent"#}
			{#/if#}
			<div class="userinfo_box">
				<div class="uhead_box">
					<a class="uheadImg" href="{#getUrlPath service='member' type='user' template='profile'#}"><img src="{#$userinfo.photo#}" onerror="this.src='/static/images/noPhoto_60.jpg'" alt=""></a>
					{#if $userinfo#}
					<a class="uinfo"  href="{#getUrlPath service='member' type='user' template='profile'#}">
						<h3>{#$userinfo.nickname#}</h3>
						<p>用户名：{#$userinfo.username#}</p>
					</a>
					{#else#}
					<a class="uinfo"  href="{#getUrlPath service='member' type='user' template='login'#}">
						<h3>登录/注册</h3>
					</a>
					{#/if#}
				</div>
			</div>

		</div>

		<div class="content_box">
			<!-- 会员 -->
			{#if $userinfo.level > 0 && 'vip'|in_array:$cfg_ucenterLinks#}
			<div class="vipTo  {#if $cfg_iosVirtualPaymentState#}iosVirtualPaymentHide{#/if#}">
				<div class="left_text">
					<h3>{#$userinfo.levelName#}</h3>
					<p>点亮会员标识，畅享尊贵特权</p>
				</div>
				<a href="{#$member_userDomain#}/upgrade.html" class="right_to">{#$userinfo.expired|date_format:"%Y-%m-%d"#}{#$langData['siteConfig'][39][11]#} </a>{#* 到期 *#}
			</div>
			{#/if#}

			{#if $memberModule && count($memberModule.userModuleList)==1#}
			<div class="link_manage towLine">
				<div class="left_text">
					<h5>养老机构管理</h5>
					<p>机构信息及客户管理等，请至商家后台</p>
				</div>
				<a href="{#$member_busiDomain#}">立即前往</a>
			</div>
			{#/if#}

			<!-- 完善老人信息 -->
			{#if $detail_id ==''#}
			<a class="con finfo_con" href="{#$member_userDomain#}/fabu-pension-elderly.html">
				<div class="hicon_box"></div>
				<div class="text">
					<h5>完善老人信息</h5>
					<p>完善信息才能挑选更满意的养老机构哦</p>
				</div>
			</a>
			{#else#}
			<!-- 老人信息 -->
			<dl class="con first_con">
				<dt>
					<h5>老人信息</h5>
					<a href="{#$member_userDomain#}/fabu-pension-elderly.html" class="edit_btn">编辑</a>
				</dt>
				<dd class="op_detail">
					<div class="p_photo"></div>
					<div class="p_info">
						<h5>{#$detail_elderlyname#} <span>{#if $detail_sex == 1#}男{#else#}女{#/if#}/{#$detail_age#}岁</span></h5>
						<p>期望在 {#join(' ',$detail_addrname)#}养老</p>
					</div>
				</dd>
			</dl>
			{#/if#}
			<dl class="con first_con">
				<dt>
					<h5>我关注的养老机构</h5>
				</dt>
				<dd>
					<ul class="orderType">
						<li>
							<a href="{#if $userinfo#}{#$member_userDomain#}/pension-apply.html{#else#}{#getUrlPath service='member' type='user' template='login' param="furl={#$member_userDomain#}/pension-apply.html"#}{#/if#}">
								<div class="icon_box"><img src="{#$templets_skin#}images/mcenter/ruzhu_1.png" alt=""></div>
								<p>我的申请</p>
							</a>
						</li>
						<li>
							<a href="{#if $userinfo#}{#$member_userDomain#}/pension-appoint.html{#else#}{#getUrlPath service='member' type='user' template='login' param="furl={#$member_userDomain#}/pension-appoint.html"#}{#/if#}">
								<div class="icon_box"><img src="{#$templets_skin#}images/mcenter/yuyue_pension.png" alt=""></div>
								<p>预约参观</p>
							</a>
						</li>
						<li>
							<a href="{#$member_userDomain#}/collection.html?module=pension">
								<div class="icon_box"><img src="{#$templets_skin#}images/mcenter/shou_pension.png" alt=""></div>
								<p>收藏</p>
							</a>
						</li>
						<li>
							<a href="{#$member_userDomain#}/history?module=pension">
							<div class="icon_box"><img src="{#$templets_skin#}images/mcenter/history_pension.png" alt=""></div>
							<p>浏览历史</p>
							</a>
						</li>
					</ul>
				</dd>
			</dl>

			<div class="con new_invite fn-hide">
				<div class="linvite_info">
					<div class="icon"><i>0</i></div>
					<span><b></b>发来邀请</span>
				</div>
				<a href="{#$member_userDomain#}/pension-invite.html" class="link_to">立即查看</a>
			</div>


			{#if $userinfo.level=='0' && 'vip'|in_array:$cfg_ucenterLinks#}
			<div class="vipTo  {#if $cfg_iosVirtualPaymentState#}iosVirtualPaymentHide{#/if#}">
				<div class="left_text">
					<h3>超级VIP</h3>
					<p>点亮标识畅享特权，更有10%下单优惠</p>
				</div>
				<a href="{#$member_userDomain#}/upgrade.html" class="right_btn">开通会员</a>
			</div>
			{#/if#}

			{#if $userinfo#}
			<dl class="con link_con">
				<dt>我的养老</dt>
				<dd class="manage_gz"><a href="{#$member_userDomain#}/pension-appoint.html"><h5>我关注的机构</h5><span>收藏/预约/申请入住</span></a></dd>
				<dd class="manage_kefu"><a href="{#$member_userDomain#}/fabu-pension-elderly.html"><h5>老人信息</h5><span>去完善</span></a></dd>
			</dl>
			{#/if#}

			<dl class="con link_con">
				<dt>常用功能</dt>
				{#if $cfg_fenxiaoState && 'fenxiao'|in_array:$cfg_ucenterLinks#}<dd class="manage_fenxiao"><a href="{#getUrlPath service='member' type='user' template='fenxiao'#}"><h5>{#$cfg_fenxiaoName#}</h5><span>加入推广计划 轻松分享赚钱</span></a></dd>{#/if#}
				{#if $userinfo.userType!=2#}<dd class="manage_ruzhu"><a href="{#$member_userDomain#}/enter.html#join"><h5>入驻商家</h5><span></span></a></dd>{#/if#}
				{#if $cfg_kefu_touch_url#}
				{#if $memberModule && count($memberModule.userModuleList)<=1#}<dd class="manage_kefu"><a href="{#$cfg_kefu_touch_url#}"><h5>平台客服</h5><span></span></a></dd>{#/if#}
				{#/if#}
			</dl>
		</div>

	</div>
	{#include file="../../siteConfig/touch_bottom_5.0.html" active="fifthicon" bottom_module="pension"#}
<script type='text/javascript' src='{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}'></script>
<script type="text/javascript" src="{#$templets_skin#}js/mcenter/index_info.js?v={#$cfg_staticVersion#}"></script>


</body>
</html>
