<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<title>{#$langData['siteConfig'][0][7]#} </title>
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/mcenter/index_info.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$cfg_staticPath#}js/core/zepto.min.js"></script>
<script type="text/javascript">
  var masterDomain = '{#$cfg_basehost#}', cookiePre = '{#$cfg_cookiePre#}';
  var joinBusiUrl = '{#getUrlPath service='member' type='user' template='enter'#}';
  var mdList = {#json_encode($memberModule.userModuleList)#};
  var userinfo = {#json_encode($userinfo)#}

</script>

{#if $cfg_ios_shelf#}
<style>
	.header {visibility: hidden!important;}
</style>
{#/if#}
{#if !$cfg_business_state#}
<style>
    .left_link {visibility: hidden;}
</style>
{#/if#}
</head>

<body>
	<div class="page_business">
		<div class="bgbox {#if $userinfo#}logined{#/if#}">
			{#if $memberModule && (count($memberModule.userModuleList)>1 || count($memberModule.userModuleList)==0)#}
			<div class="top_box">
				{#if $userinfo#}
				{#*个人升级到商家*#}
					{#if $userinfo.userType == 1#}
						{#if !$is_ios_app || !$cfg_ios_shelf#}
						<a class="left_link" href="{#getUrlPath service='member' type='user' template='enter'#}{#if $is_app#}?appIndex=1&appFullScreen{#/if#}#join">{#$langData['siteConfig'][50][0]#}></a>  {#*  切换商家版  *#}
						{#/if#}
					{#else#}
						<a class="left_link" href="{#$member_busiDomain#}/?currentPageOpen=1&module=business{#if $is_app#}&appIndex=1&appFullScreen{#/if#}">{#$langData['siteConfig'][50][0]#}></a>  {#*  切换商家版  *#}
					{#/if#}
				{#else#}
				<a class="left_link" href="{#$member_busiDomain#}/?currentPageOpen=1&module=business{#if $is_app#}&appIndex=1&appFullScreen{#/if#}">{#$langData['siteConfig'][50][0]#}></a>  {#*  切换商家版  *#}
				{#/if#}
				<a class="right_link" href="{#getUrlPath service='member' type='user' template='setting'#}"></a>
			</div>
			{#else#}
			{#include file="../../siteConfig/touch_top.html" pageTitle='我的' headTheme="transparent"#}
			{#/if#}
			<div class="userinfo_box">
				<div class="uhead_box">
					<a class="uheadImg" href="{#getUrlPath service='member' type='user' template='profile'#}"><img src="{#$userinfo.photo#}" onerror="this.src='/static/images/noPhoto_60.jpg'" alt=""></a>
					{#if $userinfo#}
					<a class="uinfo"  href="{#getUrlPath service='member' type='user' template='profile'#}">
						<h3>{#$userinfo.nickname#}</h3>
						<p>用户名：{#$userinfo.username#}</p>
					</a>
					{#else#}
					<a class="uinfo"  href="{#getUrlPath service='member' type='user' template='login'#}">
						<h3>登录/注册</h3>
					</a>
					{#/if#}
				</div>
			</div>
			<div class="module_data">
				<ul>
					<li>
						<a href="{#$member_userDomain#}/order-business.html?type=diancan">
							<h4>{#$businessorder#}</h4>
							<p>全部订单</p>
						</a>
					</li>
					<li>
						<a href="{#$member_userDomain#}/collection.html?module=business">
							<h4>{#$kechengzcount#}</h4>
							<p>关注商家</p>
						</a>
					</li>
					<li>
						<a href="{#$member_userDomain#}/history?module=business">
							<h4>{#$todayzjcount#}</h4>
							<p>足迹</p>
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="content_box">

			{#if !$cfg_ios_shelf#}

			<!-- 会员 -->
			{#if $userinfo.level > 0 && 'vip'|in_array:$cfg_ucenterLinks#}
			<div class="vipTo {#if $cfg_iosVirtualPaymentState#}iosVirtualPaymentHide{#/if#}">
				<div class="left_text">
					<h3>{#$userinfo.levelName#}</h3>
					<p>点亮会员标识，畅享尊贵特权</p>
				</div>
				<a href="{#$member_userDomain#}/upgrade.html" class="right_to">{#$userinfo.expired|date_format:"%Y-%m-%d"#}{#$langData['siteConfig'][39][11]#}</a>
			</div>
			{#/if#}

			{#if $userinfo.userType == 2 && $cfg_business_state#}
			<div class="link_manage">
				<h5>商家管理<span>店铺、订单管理等请至商家后台</span></h5>
				<a href="{#$member_busiDomain#}/?currentPageOpen=1&module=business{#if $is_app#}&appIndex=1&appFullScreen{#/if#}">立即前往</a>
			</div>
			{#/if#}

			{#/if#}


			{#if $userinfo#}
			<!-- 线上订单 -->
			<dl class="con paidui_con fn-hide">
				{#business action='paiduiOrder' state=0 pageSize=1 return='list'#}
				<dt class="noLine">
					线上排队
					<div class="NumShow">我的号码-<span>{#$list.table#}</span> </div>
				</dt>
				<dd class="online_order fn-clear">
					<a class="shop_icon" href="{#$list.store.url#}"><img src="{#$list.store.logo#}" onerror="this.src='/static/images/404.jpg'"></a>
					<a class="order_info" href="{#$list.store.url#}">
						<h5>{#$list.store.title#}<span>[排队中]</span></h5>
						<p> {#$list.people#}人就餐 <em>|</em> 已等待{#($smarty.now-$list.pubdate)/60#}分钟 <em>|</em> 前方还有<span>{#$list.before#}</span>桌</p>
					</a>
				</dd>
				{#/business#}
			</dl>


			<!-- 店内点餐 -->
			{#business action='diancanOrder' state=0  pageSize=1 return='list'#}
			<dl class="con paidui_con fn-hide">
				<dt  class="noLine"> 店内点餐 </dt>
				<dd class="online_order fn-clear shop_in">
					<a class="shop_icon" href="{#$list.store.url#}"><img src="{#$list.store.logo#}" onerror="this.src='/static/images/404.jpg'"></a>
					<a class="order_info" href="{#$list.store.url#}">
						<h5><span>{#$list.food[0].title#}</span>等<em>{#count($list.food)#}</em>件商品</h5>
						<p>总计：<span>{#echoCurrency type='symbol'#}<b>{#$list.amount#}</b></span></p>
					</a>
					<a href="{#$list.store.url#}" class="order_btn">继续点餐</a>
				</dd>
			</dl>
			{#/business#}


			<!-- 预定座位 -->
			<dl class="con paidui_con fn-hide">
				<dt  class="noLine"> 预定座位 <a href="{#$member_userDomain#}/order-business.html?type=dingzuo">查看全部</a></dt>
				{#$weekday = ['日','一','二','三','四','五','六']#}
				{#business action='dingzuoOrder' state=0  pageSize=2 return='list'#}
				<dd class="online_order fn-clear order_before">
					<a class="shop_icon" href="{#$list.store.url#}"><img src="{#$list.store.logo#}" onerror="this.src='/static/images/404.jpg'"></a>
					<a class="order_info" href="{#$list.store.url#}">
						<h5>{#$list.pubdate|date_format:"%m-%d"#} 周{#$weekday[$list.pubdate|date_format:"%w"]#} {#$list.pubdate|date_format:"%H:%M"#} <em>|</em> {#$list.store.title#} </h5>
						<p>{#$list.people#}人就餐</p>
					</a>
				</dd>
				{#/business#}
			</dl>

			{#/if#}


			{#if !$cfg_ios_shelf && 'vip'|in_array:$cfg_ucenterLinks#}
			{#if !$userinfo || $userinfo.level=='0'#}
			<div class="vipTo {#if $cfg_iosVirtualPaymentState#}iosVirtualPaymentHide{#/if#}">
				<div class="left_text">
					<h3>超级VIP</h3>
					<p>点亮标识畅享特权，更有10%下单优惠</p>
				</div>
				<a href="{#$member_userDomain#}/upgrade.html" class="right_btn">开通会员</a>
			</div>
			{#/if#}
			{#/if#}


			{#if !$cfg_ios_shelf#}
			<dl class="con link_con">
				<dt>常用功能</dt>
				{#if $cfg_fenxiaoState && 'fenxiao'|in_array:$cfg_ucenterLinks#}<dd class="manage_fenxiao"><a href="{#getUrlPath service='member' type='user' template='fenxiao'#}"><h5>{#$cfg_fenxiaoName#}</h5><span>加入推广计划 轻松分享赚钱</span></a></dd>{#/if#}
				{#if !$cfg_ios_shelf && $userinfo#}
				<dd class="manage_pocket"><a href="{#getUrlPath service='member' type='user' template='pocket' param="dtype=0"#}"><h5>我的钱包</h5><span></span></a></dd>
				{#/if#}
				{#if $userinfo.userType!=2#}<dd class="manage_ruzhu"><a href="{#getUrlPath service='member' type='user' template='enter'#}{#if $is_app#}?appIndex=1{#/if#}#join"><h5>入驻商家</h5><span></span></a></dd>{#/if#}
				{#if $cfg_kefu_touch_url#}
				{#if $memberModule && count($memberModule.userModuleList)<=1#}<dd class="manage_kefu"><a href="{#$cfg_kefu_touch_url#}"><h5>{#$langData['siteConfig'][54][58]#}</h5><span></span></a></dd>{#/if#}
				{#/if#}
			</dl>
			{#/if#}
			
		</div>

	</div>
	{#include file="../../siteConfig/touch_bottom_5.0.html" active="fifthicon" bottom_module="business"#}
<script type='text/javascript' src='{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}'></script>
<script type="text/javascript" src="{#$templets_skin#}js/mcenter/index_info.js?v={#$cfg_staticVersion#}"></script>


</body>
</html>
