<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<title>{#$langData['siteConfig'][0][7]#} </title>
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/mcenter/index_info.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$cfg_staticPath#}js/core/zepto.min.js"></script>
<script type="text/javascript">
  var masterDomain = '{#$cfg_basehost#}', cookiePre = '{#$cfg_cookiePre#}';
  var joinBusiUrl = '{#getUrlPath service='member' type='user' template='enter'#}';
  var mdList = {#json_encode($memberModule.userModuleList)#};
  var userinfo = {#json_encode($userinfo)#}

</script>
{#if !$cfg_business_state#}
<style>
    .left_link {visibility: hidden;}
</style>
{#/if#}
</head>

<body>
	<div class="page_tuan">
		<div class="bgbox" {#if $userinfo#} style="height: 5rem;" {#/if#}>
			{#if $memberModule && (count($memberModule.userModuleList)>1 || count($memberModule.userModuleList)==0)#}
            {#if $isByteMiniprogram#}
            <script src="https://lf1-cdn-tos.bytegoofy.com/goofy/developer/jssdk/jssdk-1.0.3.js?v={#$cfg_staticVersion#}" type="text/javascript"></script>
            {#/if#}
			<div class="top_box">
                {#if $isByteMiniprogram && $userinfo.userType != 2#}
                <span class="left_link"></span>
                {#else#}
				{#if $userinfo#}
				{#*个人升级到商家*#}
					{#if $userinfo.userType == 1#}
						{#if !$is_ios_app || !$cfg_ios_shelf#}
						<a class="left_link {#if $cfg_iosVirtualPaymentState#}iosVirtualPaymentHide{#/if#}" href="{#getUrlPath service='member' type='user' template='enter'#}{#if $is_app#}?appIndex=1&appFullScreen{#/if#}#join">{#$langData['siteConfig'][50][0]#}></a>  {#*  切换商家版  *#}
						{#/if#}
					{#else#}
						<a class="left_link" href="{#$member_busiDomain#}/?currentPageOpen=1&module=tuan{#if $is_app#}&appIndex=1&appFullScreen{#/if#}">{#$langData['siteConfig'][50][0]#}></a>  {#*  切换商家版  *#}
					{#/if#}
				{#else#}
				<a class="left_link" href="{#$member_busiDomain#}/?currentPageOpen=1&module=tuan{#if $is_app#}&appIndex=1&appFullScreen{#/if#}">{#$langData['siteConfig'][50][0]#}></a>  {#*  切换商家版  *#}
				{#/if#}
				{#/if#}
				<a class="right_link" href="{#getUrlPath service='member' type='user' template='setting'#}"></a>
			</div>
			{#else#}
			{#include file="../../siteConfig/touch_top.html" pageTitle='我的团购' headTheme="transparent"#}
			{#/if#}
			<div class="userinfo_box">
				<div class="uhead_box">
					<a class="uheadImg" href="{#getUrlPath service='member' type='user' template='profile'#}"><img src="{#$userinfo.photo#}" onerror="this.src='/static/images/noPhoto_60.jpg'" alt=""></a>
					{#if $userinfo#}
					<a class="uinfo"  href="{#getUrlPath service='member' type='user' template='profile'#}">
						<h3>{#$userinfo.nickname#}</h3>
						<p>用户名：{#$userinfo.username#}</p>
					</a>
					{#else#}
					<a class="uinfo"  href="{#getUrlPath service='member' type='user' template='login'#}">
						<h3>登录/注册</h3>
					</a>
					{#/if#}
				</div>
			</div>
			<div class="module_data">
				<ul>
					<li>
						<a href="{#$member_userDomain#}/collection.html?module=tuan&type=detail">
							<h4>{#$kechengzcount#}</h4>
							<p>收藏商品</p>
						</a>
					</li>
					<li>
						<a href="{#$member_userDomain#}/collection.html?module=tuan&type=store">
							<h4>{#$storegzcount#}</h4>
							<p>关注店铺</p>
						</a>
					</li>
					<li>
						<a href="{#$member_userDomain#}/history?module=tuan">
							<h4>{#$todayzjcount#}</h4>
							<p>浏览足迹</p>
						</a>

					</li>
				</ul>
			</div>
		</div>

		<div class="content_box">
			<!-- 会员 -->
			{#if $userinfo.level > 0 && 'vip'|in_array:$cfg_ucenterLinks#}
			<div class="vipTo  {#if $cfg_iosVirtualPaymentState#}iosVirtualPaymentHide{#/if#}">
				<div class="left_text">
					<h3>{#$userinfo.levelName#}</h3>
					<p>点亮会员标识，畅享尊贵特权</p>
				</div>
			<a href="{#$member_userDomain#}/upgrade.html" class="right_to">{#$userinfo.expired|date_format:"%Y-%m-%d"#}{#$langData['siteConfig'][39][11]#} </a>{#* 到期 *#}
			</div>
			{#/if#}

			{#if $userinfo.userType == 2 && $cfg_business_state#}
			<div class="link_manage">
				<h5>商家管理<span>店铺、订单管理等请至商家后台</span></h5>
				<a href="{#$member_busiDomain#}/?currentPageOpen=1&module=tuan{#if $is_app#}&appIndex=1&appFullScreen{#/if#}">立即前往</a>
			</div>
			{#/if#}


			<!-- 我的订单 -->
			<dl class="con first_con">
				<dt>
					<h5>我的订单</h5>
					<a href="{#$member_userDomain#}/order-tuan.html" class="toMini" data-temp="order" data-module="mcenter" data-param="mod=tuan">查看全部订单</a>
				</dt>
				<dd>
					<ul class="orderType">
						<li>
							<a href="{#$member_userDomain#}/order-tuan.html?state=0" class="toMini" data-temp="order" data-module="mcenter" data-param="mod=tuan&state=0">
								<div class="icon_box"><img src="{#$templets_skin#}images/mcenter/forPay.png" alt=""></div>
								<p>待付款</p>
							</a>
						</li>

						<!-- 有待使用的class="newTip" -->
						<li >
							<a href="{#$member_userDomain#}/order-tuan.html?state=1" class="toMini" data-temp="order" data-module="mcenter" data-param="mod=tuan&state=1">
								<div class="icon_box"><img src="{#$templets_skin#}images/mcenter/quan_tuan.png" alt=""></div>
								<p>待使用</p>
							</a>
						</li>
						<li>
							<a href="{#$member_userDomain#}/order-tuan.html?state=6" class="toMini" data-temp="order" data-module="mcenter" data-param="mod=tuan&state=6">
								<div class="icon_box"><img src="{#$templets_skin#}images/mcenter/forShou.png" alt=""></div>
								<p>待收货</p>
							</a>
						</li>
						<li>
							<a href="{#$member_userDomain#}/order-tuan.html?state=5" class="toMini" data-temp="order" data-module="mcenter" data-param="mod=tuan&state=5">
								<div class="icon_box"><img src="{#$templets_skin#}images/mcenter/pingjia.png" alt=""></div>
								<p>待评价</p>
							</a>
						</li>
						<li>
							<a href="{#$member_userDomain#}/order-tuan.html?state=4" class="toMini" data-temp="order" data-module="mcenter" data-param="mod=tuan&state=4">
								<div class="icon_box"><img src="{#$templets_skin#}images/mcenter/forTui.png" alt=""></div>
								<p>退款/售后</p>
							</a>
						</li>
					</ul>

				</dd>
			</dl>

			{#if $userinfo.level=='0' && !$isByteMiniprogram && 'vip'|in_array:$cfg_ucenterLinks#}
			<div class="vipTo  {#if $cfg_iosVirtualPaymentState#}iosVirtualPaymentHide{#/if#}">
				<div class="left_text">
					<h3>超级VIP</h3>
					<p>点亮标识畅享特权，更有10%下单优惠</p>
				</div>
				<a href="{#$member_userDomain#}/upgrade.html" class="right_btn">开通会员</a>
			</div>
			{#/if#}



			<dl class="con link_con">
				<dt>常用功能</dt>
				{#if $cfg_fenxiaoState && 'fenxiao'|in_array:$cfg_ucenterLinks && !$isByteMiniprogram#}<dd class="manage_fenxiao"><a href="{#getUrlPath service='member' type='user' template='fenxiao'#}"><h5>{#$cfg_fenxiaoName#}</h5><span>加入推广计划 轻松分享赚钱</span></a></dd>{#/if#}
				<dd class="manage_address"><a href="{#getUrlPath service='member' type='user' template='address'#}"><h5>我的地址</h5><span></span></a></dd>
				{#if !$cfg_ios_shelf && $userinfo#}<dd class="manage_pocket"><a href="{#getUrlPath service='member' type='user' template='pocket' param="dtype=0"#}"><h5>我的钱包</h5><span></span></a></dd>{#/if#}
				{#if $userinfo.userType == 1 && !$isByteMiniprogram#}
				<dd class="manage_ruzhu {#if $cfg_iosVirtualPaymentState#}iosVirtualPaymentHide{#/if#}"><a href="{#getUrlPath service='member' type='user' template='enter'#}{#if $is_app#}?appIndex=1{#/if#}#join"><h5>商家入驻</h5><span>立即认证 发布团购</span></a></dd>
				{#/if#}
				<dd class="manage_kefu"><a href="tel:{#$cfg_hotline#}"><h5>客服电话</h5><span></span></a></dd> <!-- 在线客服 -->
				<dd class="manage_zizhi"><a href="{#getUrlPath service='siteConfig' template='protocol' title='服务资质'#}"><h5>服务资质</h5><span></span></a></dd>
			</dl>
		</div>

	</div>
	{#include file="../../siteConfig/touch_bottom_5.0.html" active="fifthicon" bottom_module="tuan" noDySdk="1"#}
<script type='text/javascript' src='{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}'></script>
<script type="text/javascript" src="{#$templets_skin#}js/mcenter/index_info.js?v={#$cfg_staticVersion#}"></script>


</body>
</html>
