<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<title>{#$langData['siteConfig'][0][7]#} </title>
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/invite.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$cfg_staticPath#}js/ui/html2canvas.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-2.1.1.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
  var masterDomain = '{#$cfg_basehost#}', cookiePre = '{#$cfg_cookiePre#}';
  var staticPath  = '{#$cfg_staticPath#}';
</script>
<style media="screen">
	.html2ImgBox {z-index: 1;}``
</style>
</head>

<body>
<div class="html2ImgBox gzh_box" style="opacity: 1;">
	<div class="html2_con" id="html2_node">
		<div class="title_con">
			<h4>好友邀请你</h4>
			<h2>领现金大礼包</h2>
		</div>
		<div class="gzhQr">
			<div class="qrimg"><img src="{#if $img#}/include/qrcode.php?data={#$img#}{#else#}{#$cfg_weixinQr#}{#/if#}" alt=""></div>
			<p>长按识别或微信扫码关注后领取</p>
		</div>
		<div class="bg_box">
			<img src="{#$templets_skin#}images/yaoqing/bg3.jpg" alt="">
		</div>
		<p class="mh_name">{#$cfg_weixinName#}</p>
	</div>
</div>
<div class="pop_box gzh_pop">
	<div class="poster_box"></div>
</div>
</body>
</html>
