  <!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<title>我的奖金</title>
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/inviteWithdraw.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$cfg_staticPath#}js/ui/html2canvas.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-2.1.1.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
  var masterDomain = '{#$cfg_basehost#}', cookiePre = '{#$cfg_cookiePre#}';
  var staticPath  = '{#$cfg_staticPath#}';
  var totalCanWithdrawn = {#$totalCanWithdrawn#}, moneyRegGivingWithdraw = {#$cfg_moneyRegGivingWithdraw#};
</script>
</head>

<body>
{#include file="../../siteConfig/touch_top.html" pageTitle='我的奖金'#}
<div class="topbox">
	<img src="{#$templets_skin#}images/yaoqing/jiangjin_bg.jpg" alt="">
	<div class="amount_box">
		<div class="left_amount">
			<h5><em>{#echoCurrency type="symbol"#}</em><span>{#$totalCanWithdrawn#}</span></h5>
			<p>满{#$cfg_moneyRegGivingWithdraw#}{#echoCurrency type="short"#}可提现</p>
		</div>
		<a href="{#$member_userDomain#}/withdraw.html?from=invite" class="tx_btn">申请提现</a>
	</div>
</div>
<div class="allCount">
	<div class="can_tx">
		<h5><span>{#$totalBonus#}</span><em>{#echoCurrency type="short"#}</em></h5>
		<p>累计获得</p>
	</div>
	<div class="al_tx">
		<h5><span>{#$totalReviewWithdrawn#}</span><em>{#echoCurrency type="short"#}</em></h5>
		<p>审核中</p>
	</div>
	<div class="al_tx">
		<h5><span>{#$totalWithdrawn#}</span><em>{#echoCurrency type="short"#}</em></h5>
		<p>已经提现</p>
	</div>
</div>
<dl class="listBox ">
	<dt class="tab">
		<span class="curr" data-page="1" data-isload="0" data-type="yq">邀请纪录</span>
		<span  data-page="1" data-isload="0" data-type="tx">提现纪录</span>
	</dt>
	<dd class="recordList">
		<ul class="yq_record"></ul>
		<ul class="tx_record  fn-hide"></ul>
	</dd>
</dl>

<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/noscroll.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/inviteWithdraw.js?v={#$cfg_staticVersion#}"></script>


</body>
</html>
