

{#$pageTitle = '对我感兴趣'#}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>{#$pageTitle#}</title>
    <link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/job-interested.css?v={#$cfg_staticVersion#}" media="all" />
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
    <script type="text/javascript" src="{#$cfg_staticPath#}js/vue/vue.js?v={#$cfg_staticVersion#}"></script>
    <script src="{#$cfg_staticPath#}js/core/zepto.min.js"></script>
</head>
<body>
    <div class="header alignLeft">
      <div class="header-l">
          <a href="javascript:;" onclick="history.go(-1)" class="goBack"></a>
      </div>
      <div class="header-address">
          <span>对我感兴趣</span>
      </div>
      <div class="header-search"><s></s></div>
    </div>

    <div class="page" id="page" v-cloak>
        <div class="container">
          
          <div class="tabBox">
            <ul>
                <li :data-id="item.id" v-for="item in tabList" :class="{'on_chose':currOnTab == item.id} " @click="currOnTab = item.id">{{item.tit}}<em v-if="item.noread" :class="item.id == 3 ? 'num' : 'dot'">{{item.id == 3 ? item.noread : ''}}</em></li>
            </ul>
            <i class="line" :style="'left:'+tabOffLeft+'px;'"></i>
          </div>
          {#if $hasResume#}
          <!-- 置顶曝光图显 -->
          <div class="topBgBox" @click="uplevelResume">
            <div class="tbHead">
              <h4>简历置顶 · 求职快人一步</h4>
              <span>让更多HR看到我</span>
            </div>
            <div class="tbCon">
              <div class="tbImg"><img src="{#$templets_skin#}images/job/top_bg.png" alt=""></div>
              <p class="fn-clear"><span>置顶前曝光</span><span>置顶后曝光</span></p>
            </div>
          </div>
          {#/if#}

          <div class="listBox">
            <ul v-if="tdList.length ">
              <li class="company" v-for="item in tdList">
                <a :href="item.companyUrl" :data-id="item.companyId" data-module="job" class="toMini" data-temp="company">
                  <div class="companyInfo">
                    <div class="clogo">
                      <img :src="item.companyLogo" onerror="this.src='/static/images/404.jpg'" alt="">
                      <span v-if="item.companyFamous"><b>名企</b></span>
                    </div>
                    <div class="cInfo">
                      <h4>{{item.companyTitle}}</h4>
                      <p><span>{{item.companyNature}}</span><em>|</em><span>{{item.companyIndustry}}</span></p>
                    </div>
                    <div class="cAddr">{{item.companyAddrName}}</div>
                  </div>
                  <div class="companyState">
                    <div class="cHeadImg"><img :src="item.companyRandom_people_pic ? '/static/images/supplier/headicon_' + item.companyRandom_people_pic : item.companyPeople_pic" onerror="this.src='/static/images/404.jpg'" alt=""></div>
                    <h4 class="cName" v-if="item.companyPeople && item.companyPeople_job "><span>{{item.companyPeople}}</span><span v-if="item.companyPeople_job">/</span><span v-if="item.companyPeople_job">{{item.companyPeople_job }}</span></h4>
                    <span class="cState" v-if=" item.login && item.login < 3 ">{{item.login === 1 ? '当前在线' : '今日活跃' }}</span>
                    <p>{{item.showTime}}<span>{{item.op != 'click' ? '收藏':'看'}}</span>了我：{{item.alias}}</p>
                  </div>
                </a>
              </li>
            </ul>
            <div class="loadingText" v-if="isload && !loadEnd">加载中~</div>
            <div class="loadingText" v-if="!loadEnd && tdList.length && !isload">下拉加载更多</div>
            <div class="loadingText" v-if="loadEnd && tdList.length">没有更多了~</div>
          </div>

          <div class="noData" v-if="!tdList.length && loadEnd">
              <div class="noDataImg"><img src="{#$templets_skin#}images/job/noData.png" alt=""></div>
              {#if $hasResume#}
              <div class="hasResume">
                <h4>暂无记录</h4>
                <p>快去投递心仪的职位吧</p>
              </div>
              {#else#}
              <div class="hasResume">
                <h4>请先完善简历，才能吸引HR哦</h4>
                <a href="javascript:;" class="btn_toResume">完善简历</a>
              </div>
              {#/if#}
          </div>

        </div>

      </div>
      {#include file='public_intention_pop.html' noDeirectShow="0"#}


<script src="{#$templets_skin#}js/job-interested.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>