<!DOCTYPE html>
<html>
	<head>
		<meta charset="{#$cfg_soft_lang#}">
		<title>{#$title#}-直播分类</title>{#* 直播分类 *#}
		<meta name="keywords" content="{#$title#}"/>
		<meta name="description" content="{#$title#}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
		<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}" />
		<link rel="stylesheet" href="{#$templets_skin#}css/live_fenlei.css?v={#$cfg_staticVersion#}">
		<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
		<script type="text/javascript" src="{#$cfg_staticPath#}js/core/zepto.min.js?v={#$cfg_staticVersion#}"></script>
		<script>
		    var staticPath = '{#$cfg_staticPath#}', templatePath = '{#$templets_skin#}';
		    var masterDomain = '{#$cfg_basehost#}', userDomain = '{#$member_userDomain#}',channelDomain = '{#$cfg_currentHost#}';
		    var streamname='{#$streamname#}',livetime='{#$livetime#}',starttime='{#$starttime#}',liveLimitTime='{#$liveLimitTime#}',webUrl='{#$webUrl#}',litpic='{#$litpic#}',id='{#$id#}',pullUrl="{#$pullUrl#}",title="{#$title#}",pushurl="{#$pushurl#}",flowname="{#$flow#}",wayname="{#$way#}",editUrl = '{#getUrlPath service="member" type="user" template="fabu" action="$module"#}';
		</script>
	</head>
	<body>
		{#$pageTitle = '直播分类'#}
		{#include file="top.html"#}
		<div class="fenlei_box">
			<h3>最近开播</h3>
			<ul class="fn-clear">
				<li>
					<a href="javascript:;">
						<i class="fenlei_icon"><img src="{#$templets_skin#}upfile/dy.png" alt=""></i>
						<p class="fenlei_name">端游</p>
					</a>
				</li>
				
			</ul>
		</div>
		<div class="fenlei_box">
			<h3>所有分类</h3>
			<ul class="fn-clear">
				{#loop service="live" action="type" return="typenav" type="0"#}
				<li data-id="{#$typenav.id#}">
					<a href="{#$member_userDomain#}/fabu-live.html?type={#$typenav.id#}">
						<i class="fenlei_icon"><img src="{#$templets_skin#}upfile/{#$typenav.id#}.png" alt=""></i>
						<p class="fenlei_name">{#$typenav.typename#}</p>
					</a>
				</li>
				{#/loop#}
				
			</ul>
		</div>
	</body>
</html>
