<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="{#$cfg_soft_lang#}">
    <title>{#$title#}-{#$langData['siteConfig'][32][9]#}</title>{#* 直播详情 *#}
    <meta name="keywords" content="{#$title#}"/>
    <meta name="description" content="{#$title#}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}">
    <link rel="stylesheet" href="{#$templets_skin#}css/fabu-live.css?v={#$cfg_staticVersion#}">
	<link rel="stylesheet" href="{#$templets_skin#}css/live_detail.css?v={#$cfg_staticVersion#}">
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/zepto.min.js?v={#$cfg_staticVersion#}"></script>
    <script type="text/javascript" src="{#$templets_skin#}js/mobiscroll.js"></script>
    <script>
        var staticPath = '{#$cfg_staticPath#}', templatePath = '{#$templets_skin#}';
        var masterDomain = '{#$cfg_basehost#}', userDomain = '{#$member_userDomain#}',channelDomain = '{#$cfg_currentHost#}';
        var streamname='{#$streamname#}',livetime='{#$livetime#}',starttime='{#$starttime#}',liveLimitTime='{#$liveLimitTime#}',webUrl='{#$webUrl#}',litpic='{#$litpic#}',id='{#$id#}',pullUrl="{#$pullUrl#}",title="{#$title#}",pushurl="{#$pushurl#}",flowname="{#$flow#}",wayname="{#$way#}",editUrl = '{#getUrlPath service="member" type="user" template="fabu" action="$module"#}';
        var pulltype = {#$pulltype#};
		var level = "{#$userinfo.level#}";
		var chatid = "{#$id#}";
		var livetime = '{#$livetime#}';
		var live_state = '{#$state#}';
        var appinfo = {#$appinfo#};
    </script>
</head>
<body>
{#$pageTitle = {#$title#}#}
{#include file="top.html"#}
<div class="publish_live">
	<div class="module_box">
		<div class="live_video">
		    <!-- <button class="vrefresh"></button> -->
		    {#if $wayname == '横屏'#}
		    {#$temp = 'h_detail'#}
		    {#else#}
		    {#$temp = 'detail'#}
		    {#/if#}
		    {#if $arcrank == 1#}
		    <a href="{#if $replaystate#}{#getUrlPath service='live' template=$temp id="{#$id#}"#}{#else#}javascript:;{#/if#}">
				   <div class="live_info">{#if $location#}<span class="live_posi">{#$location#}</span>{#/if#}<span class="live_type">{#$typename#}</span></div>
				   {#if $replaystate#}<span class="btn_style">{#$langData['live'][4][28]#}</span>{#/if#}  {#* 进入直播 *#}
		        <img class="live_litpic" src="{#$litpic#}">
		    </a>
		    {#else#}
		    <a href="javascript:;">
				   <div class="live_info">{#if $location#}<span class="live_posi">{#$location#}</span>{#/if#}<span class="live_type">{#$typename#}</span></div>
		        <div class="vcontent" style="display: none;">
		            <p>{#if $arcrank == 0#}{#$langData['siteConfig'][19][556]#}{#else#}{#$langData['siteConfig'][23][101]#}{#/if#}</p>{#* 待审核 *#} {#* 审核失败 *#}
		        </div>
		        <img class="live_litpic" src="{#$litpic#}" >
		    </a>
		    {#/if#}
		</div>
		<h1 class="live_title">{#if $state==2#}<em>{#$langData['live'][1][25]#}</em>{#/if#}{#$title#} {#if $state==0#}<a href="{#$member_userDomain#}/fabu-live.html?id={#$id#}"><i></i></a>{#/if#}</h1>  {#* 回放 *#}
		<div class="live_time">
			<h2>{#if $state==1#} {#$langData['live'][4][29]#} {#else#} {#$langData['live'][0][31]#} {#/if#}</h2>  {#* 正在直播   直播时间 *#}
			{#$i = explode(" ",$ftime)#}
			<p>{#if $state==1#}<span class="live_ftime">00{#$langData['live'][1][28]#}00{#$langData['live'][1][47]#}00{#$langData['live'][1][48]#}</span>{#else#} <span class="live_ftime">{#$ftime|replace:".":"-"#}</span>{#if $state==2#}<span class="live_etime fn-hide">{#$langData['live'][4][30]#}  {#$times#}</span>{#/if#}{#/if#}</p>
		</div>
		<span class="click">{#$click#}</span>
	</div>

	<!-- 收益 -->
	{#if $state!=0#}
	<div class="module_box md_sy">
		<h3>{#$langData['live'][4][9]#} </h3>   {#* 直播收益 *#}
		<div class=" sy_box">
			<ul class="sy_ul">
				<li class="ds_li">
					<h4>{#$langData['live'][1][21]#}</h4>   {#* 打赏收益 *#}
					{#$reward = explode(".", $rewardTotal)#}
					<p>{#echoCurrency type='symbol'#}<em>{#$reward[0]#}</em>.{#$reward[1]#}</p>
				</li>
				<li class="gift_li">
					<h4>{#$langData['live'][1][20]#}</h4>   {#* 礼物收益 *#}
					{#$gift = explode(".", $giftTotal)#}
					<p>{#echoCurrency type='symbol'#}<em>{#$gift[0]#}</em>.{#$gift[1]#}</p>
				</li>
				{#if $catid==2#}
				<li class="fee_li">
					<h4>{#$langData['live'][1][22]#}</h4>   {#* 付费收益 *#}
					{#$income = explode(".", $incomeTotalAmount)#}
					<p><span class="fee_count">{#echoCurrency type='symbol'#}<em>{#$income[0]#}</em>.{#$income[1]#}</span><span class="fee_num"><em>{#$incomeTotalCount#}</em>人</span></p>
				</li>
				{#/if#}
			</ul>
		</div>
	</div>
	{#/if#}

	<!-- 推流 -->
	{#if $arcrank == 1 && $state == 0#}
    <div class="module_box md_url">
		<h3>{#$langData['live'][2][2]#}  </h3> {#* 直播视频源 *#}
		<!-- <div class="url_container no_set {#if $pushurl=='' && $pullurl_pc=='' && $pullurl_touch==''#}{#else#}fn-hide{#/if#}">
			<div class="url_box ">
				<h3>系统拉流/手动拉流</h3>
				<p>此为专业直播配置，使用<a href="#">手机APP直接开播</a>可忽略</p>
			</div>
		</div> -->
		<div class="url_container url_auto  {#if $pulltype == 1#}fn-hide{#/if#}">
			<a href="javascript:;" class="edit_url fn-right">{#$langData['live'][4][32]#}</a>  {#* 改为手动拉流 *#}
			<div class="url_box copy_btn" data-clipboard-target="#litmit_url" contenteditable="true">
				<p id="litmit_url">{#$pushurl#}</p>
			</div>
			<p class="url_tip">{#$langData['live'][4][33]|replace:" 1 ":"OBS/XSplit"#}</p>  {#* 可长按复制，填入OBS/XSplit等系统拉流软件 *#}
		</div>
		<div class="url_container url_self {#if $pulltype != 1#}fn-hide{#/if#}">
			<a href="javascript:;" class="edit_url fn-right">{#$langData['live'][4][34]#}</a>{#* 改为系统拉流 *#}
			<div class="url_box">
				<div class="pc_url fn-clear"><label class="fn-left">{#$langData['live'][0][45]#}</label><p>{#$pullurl_pc#}</p></div> {#*  电脑端  *#}
				<div class="phone_url  fn-clear"><label class="fn-left">{#$langData['live'][0][46]#}</label><p>{#$pullurl_touch#}</p></div> {#*  移动端  *#}
			</div>
		</div>
	</div>
	{#/if#}

	<!-- 权限 -->
	{#if $catid#}

	<div class="module_box md_catid {#if $replaystate#}fn-hide{#/if#}">
		<h3>{#$langData['live'][1][0]#} {#if $state==0#}<a href="{#$member_userDomain#}/fabu-live.html?id={#$id#}" class="fn-right edit_catid">{#$langData['live'][2][38]#}</a>{#/if#}</h3>{#*  直播权限   编辑  *#}
		<div class="catid_container fee_type {#if $catid!=2#}fn-hide{#/if#}">
			<div class="fee_box">
				<div class="live_before fn-clear"><label class="fn-left">{#$langData['live'][1][6]#}</label><p><em>{#if !empty($startmoney)#}{#$startmoney#}{#else#}0{#/if#}</em>{#echoCurrency type='short'#}</p></div>   {#*  回放收费  *#}
				<div class="live_after  fn-clear"><label class="fn-left">{#$langData['live'][1][2]#}</label><p><em>{#if !empty($endmoney)#}{#$endmoney#}{#else#}0{#/if#}</em>{#echoCurrency type='short'#}</p></div>   {#*  直播收费  *#}
			</div>
		</div>
		<div class="catid_container psd_type {#if $catid!=1#}fn-hide{#/if#}">
			<div class="psd_box">
				<div class="live_psd fn-clear"><label class="fn-left">{#$langData['live'][4][35]#}</label><p><em>{#$password#}</em></p></div> {#* 直播间密码 *#}
			</div>
		</div>
	</div>

	{#/if#}
	<!-- 回访开关 -->
	<div class="module_box switch_con">
		<div class="switch_box">{#$langData['live'][6][7]#}    <span class="switch {#if $replaystate#}{#else#}closed_switch{#/if#}"><em>{#if $replaystate#}{#$langData['live'][1][36]#}{#else#}{#$langData['live'][1][7]#}{#/if#}</em> <i></i></span></div> {#*直播回放  开启  关闭    *#}
	</div>


	<!-- 介绍 -->
	<div class="module_box md_instro">
		<h3>{#$langData['live'][4][36]#} {#if $state==0#}<a href="{#$member_userDomain#}/fabu-live.html?id={#$id#}" class="edit_instro fn-right">{#$langData['live'][2][38]#}</a>{#/if#}</h3>   {#* 直播介绍  编辑 *#}
		<div class="instro_box">{#$note#}</div>
	</div>

	<!-- 动态 -->
	<div class="module_box md_state">
		<h3>{#$langData['live'][1][14]#} </h3>  {#* 直播动态 *#}
		<div class="state_box fn-clear ">
			{#loop service="live" action="imgTextList" return=list  chatid=$id pageSize= 1#}
			<div class="left_img fn-left"><img src="{#$list.img[0]#}" alt=""></div>
			<div class="right_info ">
				<h5>{#$list.text#}</h5>
				<p>{#$list.pubdate|date_format:'%Y-%m-%d %H:%M:%S'#}</p>
			</div>
			{#/loop#}
			{#if $pageInfo.totalCount#}<a href="{#$member_userDomain#}/live_imgtext.html?id={#$id#}" class="edit_state fn-right">{#$langData['live'][4][37]#}</a>{#/if#} {#* 查看全部 *#}
			{#if !$pageInfo.totalCount#}
			<p class="fn-left notip">{#$langData['live'][4][38]#}</p> {#* 实时更新直播要点、最新动态 *#}
			{#/if#}
			<a href="{#$member_userDomain#}/fabu_live_imgtext.html?id={#$id#}" class="btn_fabu fn-right {#if !$pageInfo.totalCount#}no_state{#/if#}">{#$langData['live'][4][39]#}</a>  {#* 去发布 *#}
		</div>
	</div>

	<!-- 菜单 -->

	<div class="module_box md_menu">
		<h3>{#$langData['live'][1][12]#} <a href="{#$member_userDomain#}/livedetail_menu.html?id={#$id#}" class="edit_menu fn-right">{#$langData['live'][4][40]#}</a></h3>{#* 自定义菜单 自定义设置*#}
		<div class="menu_box fn-clear ">
			<ul class="menu_ul">
				{#foreach from=$menu item=m key=k#}
				{#if $m.show#}
				<li>
					<h5>{#$m.name#}</h5>
					{#if $m.url#}<p>{#$m.url#}</p>{#/if#}
				</li>
				{#/if#}
				{#/foreach#}
			</ul>
		</div>
	</div>

</div>
{#if $state!=2#}
{#if $arcrank == 1 && $state==0#}
  <div class="btn_group">
<a href="javascript:;" class="btn_start btn_live">{#$langData['siteConfig'][32][13]#}</a>{#* 开始直播  *#}
    </div>
{#/if#}
{#if $state==1#}
<div class="btn_group">
	<a href="javascript:;" class="btn_start btn_live">继续直播</a>{#* 开始直播  *#}
	<a href="javascript:;" class="btn_end btn_live">{#$langData['siteConfig'][32][12]#}</a>{#* 结束直播  *#}
</div>
{#/if#}
{#/if#}
<div class="bottom_box">
		<ul class="btn_groups">
			<li class="btn_li">
				<a href="{#$member_userDomain#}/live_prolist.html?id={#$id#}" class="btn_link">
					<div class="icon_box"><img src="{#$templets_skin#}images/live/pro_icon.png" alt="">{#*<i>10</i>*#}</div>
					<p>{#$langData['live'][1][15]#}</p>{#* 商品管理  *#}
				</a>
			</li>
			<li class="btn_li">
				<a href="{#$member_userDomain#}/live_imgtext.html?id={#$id#}" class="btn_link">
					<div class="icon_box"><img src="{#$templets_skin#}images/live/state_icon.png" alt=""></div>
					<p>{#$langData['live'][4][41]#}</p>   {#* 动态管理  *#}
				</a>
			</li>
			<li class="btn_li">
				<a href="{#$member_userDomain#}/live_reward.html?id={#$id#}" class="btn_link">
					<div class="icon_box"><img src="{#$templets_skin#}images/live/profi_icon.png" alt=""></div>
					<p>{#$langData['live'][4][9]#}</p>   {#* 直播收益  *#}
				</a>
			</li>
			<li class="btn_li">
				<a href="{#$member_userDomain#}/live_charts.html?id={#$id#}" class="btn_link">
					<div class="icon_box"><img src="{#$templets_skin#}images/live/charts_icon.png" alt=""></div>
					<p>{#$langData['live'][4][42]#}</p>   {#* 排行榜  *#}
				</a>
			</li>
			<li class="btn_li">
				<a href="{#$member_userDomain#}/live_userlist.html?id={#$id#}" class="btn_link">
					<div class="icon_box"><img src="{#$templets_skin#}images/live/user_icon.png" alt=""></div>
					<p>{#$langData['live'][1][16]#}</p>{#* 用户管理  *#}
				</a>
			</li>
			<li class="btn_li">
				<a href="{#$member_userDomain#}/live_comment.html?id={#$id#}" class="btn_link">
					<div class="icon_box"><img src="{#$templets_skin#}images/live/cmt_icon.png" alt=""></div>
					<p>{#$langData['live'][1][17]#}</p>{#* 评论管理  *#}
				</a>
			</li>
			<li class="btn_li">
				<a href="{#$member_userDomain#}/live_hongbao.html?id={#$id#}" class="btn_link">
					<div class="icon_box"><img src="{#$templets_skin#}images/live/hb_icon.png" alt=""></div>
					<p>{#$langData['live'][1][18]#}</p>{#* 红包管理  *#}
				</a>
			</li>
		</ul>
	</div>

    <div class="down_modal" style="display: none;">
        <div class="modal_box">
            <div class="m-close"><img  src="{#$templets_skin#}images/m_close.png"></div>
            {#* {#$langData['siteConfig'][32][11]#} *#}
            <p>{#$langData['siteConfig'][32][11]#}</p>{#* 您需下载安卓版APP后方可使用 IOS版app正在开发中  *#}
            <div class="hn_logo"><img  src="{#$cfg_app_logo#}"></div>
            <h5>{#$cfg_appname#}</h5>
            <div class="btn-down"><a href="{#getUrlPath service='siteConfig' template='mobile'#}" target="_blank">{#$langData['siteConfig'][26][193]#}</a></div>{#* 点击下载  *#}
        </div>
    </div>

<!-- 弹出层 -->
<div class="mask"></div>
<div class="pop_url">
	<ul class="tab_box {#if $pulltype != 1#}left_li{#else#}right_li{#/if#}  fn-clear">
		<li {#if $pulltype != 1#}class="selected"{#/if#} data-val="0">{#$langData['live'][4][43]#}</li>  {#* 系统拉流  *#}
		<li {#if $pulltype == 1#}class="selected"{#/if#} data-val="1">{#$langData['live'][4][44]#}</li>  {#* 手动拉流  *#}
		<input type="hidden" id="pulltype" name="pulltype" value="{#$pulltype#}">
	</ul>

	<div class="tab_con">
		<div class="auto_box conbox {#if $pulltype == 1#}fn-hide{#/if#}" >
			<div class="auto_before {#if $pushurl==''#}{#else#}fn-hide{#/if#}">
				<h4>{#$langData['live'][4][45]#}</h4>       {#* 系统生成推流地址  *#}
				<p>{#$langData['live'][4][46]#}</p>       {#* 此为专业直播配置，使用<a href="#">手机APP直接开播</a>可忽略  *#}
				<a href="javascript:;" class="tobe_url">{#$langData['live'][2][9]#}</a>       {#* 立即生成  *#}
			</div>
			<div class="auto_after {#if $pushurl==''#}fn-hide{#/if#}">
				<h4>{#$langData['live'][4][45]#}</h4>
				<div class="url_show copy_btn" data-clipboard-target="#litmit_url" contenteditable="true">{#$pushurl#}</div>
				<p>{#$langData['live'][4][43]|replace:" 1 ":"OBS/XSplit"#}</p>{#* 可长按复制，填入OBS/XSplit等系统拉流软件 *#}
			</div>
		</div>
		<div class="self_box conbox {#if $pulltype !=1 #}fn-hide{#/if#}">
			<dl>
				<dt>{#$langData['live'][0][45]#}</dt>   {#* 电脑端 *#}
				<dd><input type="text" name="addrPc" id="addrPc" value="{#$pullurl_pc#}" placeholder="输入拉流地址（mp4、flv、m3u8格式）"></dd>
			</dl>
			<dl>
				<dt>{#$langData['live'][0][46]#}</dt>   {#* 移动端 *#}
				<dd><input type="text" name="addrMob" id="addrMob" value="{#$pullurl_touch#}" placeholder="输入拉流地址（mp4、m3u8格式）"></dd>
			</dl>
			<a href="javascript:;" class="btn_tj">{#$langData['live'][1][39]#}</a>  {#* 确认 *#}
			<p class="tip">{#$langData['live'][4][46]#}</p>  {#* 此为专业直播配置，使用<a href="">手机APP直接开播</a>可忽略  *#}
		</div>
	</div>
</div>
<div class="popsure_box">
	<div class="pop_sure pop_title fn-hide">
		<div class="pop_tip">
			<h3>{#$langData['live'][4][47]#}</h3>   {#* 你已配置过手动拉流，确认改为<b>系统拉流  *#}
			<p>{#$langData['live'][2][17]#}</p>   {#* 此前的拉流设置均将失效  *#}
		</div>
		<div class="btn_group fn-clear">
			<p class="cancel_btn">{#$langData['live'][0][9]#}</p>    {#* 取消  *#}
			<p class="sure_btn">{#$langData['live'][1][39]#}</p>    {#* 确认  *#}
		</div>
	</div>
	<div class="pop_sure no_title fn-hide">
		<div class="pop_tip">
			<h3>{#$langData['live'][6][6]#}</h3>
		</div>
		<div class="btn_group fn-clear">
			<p class="cancel_btn">{#$langData['live'][0][9]#}</p>    {#* 取消  *#}
			<p class="sure_btn">{#$langData['live'][1][39]#}</p>    {#* 确认  *#}
		</div>
	</div>
</div>

<div class="pop_box">
	<h3>{#$langData['live'][4][48]|replace:" 1 ":$cfg_fabuAmount['livetime']#}</h3>   {#*   普通用户直播限时 1 小时 *#}
	<p>{#$langData['live'][4][49]#}</p>   {#*  现在开通会员可享更久直播时长哦~  *#}
	<a href="{#$member_userDomain#}/upgrade.html" class="btn_go">{#$langData['live'][4][50]#}</a>   {#* 开通会员   *#}
	<a href="javascript:;" class="btn_live1">{#$langData['live'][5][0]#}</a>   {#*  直接开播  *#}
	<a href="javascript:;" class="close_pop"></a>
</div>

<!--大图查看s-->
{#include file="../../siteConfig/bigimg_1.2.html"#}
{#* 微信分享 *#}
{#$Share_description = {#$cfg_description#}#}
{#$Share_title = {#$langData['siteConfig'][0][7]#}#}
{#$Share_img = {#$cfg_weblogo#}#}
{#$Share_url = {#$member_userDomain#}#}
{#include file="{#$HUONIAOROOT#}/templates/siteConfig/public_share.html"#}
<!--大图查看e-->
<!-- <script type="text/javascript" src="{#$cfg_staticPath#}js/ui/clipboard.min.js?v={#$cfg_staticVersion#}"></script>	 -->
<script type="text/javascript" src="{#$templets_skin#}js/livedetail.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
