<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{#$langData['siteConfig'][41][20]#} </title> {#* 视频直播-图文直播消息列表 *#}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/live_comment.css?v={#$cfg_staticVersion#}">
<script src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$cfg_staticPath#}js/core/zepto.min.js"></script>
<script src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<style media="screen">
  body {opacity: 1;padding-bottom: 1.8rem; padding-bottom: calc(1.6rem + constant(safe-area-inset-bottom));}
  .fabuBtn {background-color: #edeef2;position: fixed;left:0;right: 0;bottom: 0;padding:.25rem 0;}
  .fabuBtn a.fabu{width:6rem; height: 0.8rem;margin: auto;border-radius: .8rem;background: -moz-linear-gradient( 0deg, rgb(96,118,246) 0%, rgb(142,194,255) 100%);background: -webkit-linear-gradient( 0deg, rgb(96,118,246) 0%, rgb(142,194,255) 100%);background: -ms-linear-gradient( 0deg, rgb(96,118,246) 0%, rgb(142,194,255) 100%);box-shadow: 0px 3px 7px 0px rgba(101, 126, 255, 0.47);border-radius: .4rem;display: block; line-height: .8rem;  text-align: center; font-size: .3rem; font-weight:bold;color: #fff;}
  .fabuBtn a.fabu:active{background: -moz-linear-gradient( 0deg, rgb(96,118,246) 0%, rgb(142,194,255) 100%);background: -webkit-linear-gradient( 0deg, rgb(96,118,246) 0%, rgb(142,194,255) 100%);background: -ms-linear-gradient( 0deg, rgb(96,118,246) 0%, rgb(142,194,255) 100%);}
  /*.fabuBtn .searchBtn {position: absolute;right:0;display: block;width:.4rem;top:.25rem;white-space: nowrap;line-height: .8rem;}*/
</style>
<script type="text/javascript">
var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';
var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}';
var module = 'live', atpage = 1, totalCount = 0, pageSize = 10, state = 1, type = 1;
var chatid = {#$id|default:0#};
var usermember = "{#$member_userDomain#}"
</script>
</head>
<body>

<style>
    /*发布列表*/
    .mlist{font-size: .3rem;}
    .mlist li{background: #fff;}
    .mlist li a{display: block;}
    .mlist li a:active {background: #f2f2f2;}
    .mlist li a .item{display: -webkit-box; border-bottom: 1px solid #e8e8e8; padding: 0 .25rem;}
    .mlist li .icon{display: table-cell; width: 0.85rem; height: .9rem; vertical-align: middle;}
    .mlist li .icon img{display: block; height: 0.65rem;}
    .mlist li p{-webkit-box-flex: 1; line-height: .9rem;color:#333;font-size: .36rem;}
    .mlist li span{line-height: .9rem; display: block; font-size: .26rem; color: #bcbdbf; background: url({#$templets_skin#}images/arrow_icon.png) right center no-repeat; background-size: auto .24rem; padding-right: .3rem;}

    .item .content p {font-size: 14px;font-weight: bold;}
    .item .pics {margin-top: .2rem; border-radius: .08rem; overflow: hidden; display: inline-block;}
    .item .pics a {float: left;width:2.16rem;height: 1.44rem;line-height: 1.44rem;overflow: hidden;/* border-radius:4px;margin:.1rem .15rem 0 0; */text-align: center;background: #f7f7f7 url('/static/images/placeholder_img.png') center no-repeat;background-size:contain;}
    .item .pics a:nth-child(3n) {margin-right: 0;}
	.item .pics a.big_img{float: none; width:100%; display: block; height: auto; min-height: 1.2rem;}
    .item .pics img {width:100%;height: 100%; object-fit: cover; vertical-align: middle;display: block;}
</style>
<!-- 发布列表 s -->
 {#$pageTitle = $langData['siteConfig'][6][22]|cat:$tit#}      {#* 管理 *#}
 {#include file="top.html"#}
<div class="mlist">

 

  <div class="search_box">
	<form class="searchbox" action="">
		<input type="search" name="keywords" id="keywords"  placeholder="{#$langData['live'][5][5]#}" autocomplete="off">
		<i class="search_icon"></i>
		<i class="search_clear"></i>
		<p class="placeholder">{#$langData['live'][5][5]#}</p>  {#* 输入直播关键词 *#}
	</form>
  </div>
  <!-- 列表 s -->
  <div class="house-list esf-list" id="list"></div>
  <!-- 列表 s -->
  <div class="bottom_box">
	  <a href="{#getUrlPath service='member' type='user' template='fabu_live_imgtext' param="id={#$id#}"#}" class="mbtn">{#$langData['siteConfig'][11][0]#}</a> 
  </div>
</div>
<!--大图查看s-->
{#include file="../../siteConfig/bigimg_1.2.html"#}
<!--大图查看e-->
<script type='text/javascript' src='{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}'></script>
<script src="{#$templets_skin#}js/alert.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$templets_skin#}js/live_imgtext.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
