<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$langData['siteConfig'][19][23]#} </title>
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link href="{#$templets_skin#}css/mobiscroll.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/gz-fabu.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/mobileSelect.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/profile.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';

	var hideFileUrl = {#$cfg_hideUrl#};
</script>
</head>

<body>
<div class="gz-address">

  <div class="gz-addr-wrap" id="gzAddNewObj">	

		{#$pageTitle = $langData['siteConfig'][19][23]#}
		{#include file="top.html"#}

		<div class="imgbox">
			
				<dl class="inpbox imgInp">	
					<a href="{#getUrlPath service='member' type='user' template='portrait'#}?currentPageOpen=1" class="goupphoto"></a>			
					<dt class="uploader-btn"><span>{#$langData['siteConfig'][19][13]#}</span></dt>
					<dd class="addimg">
                        {#if $userinfo.photo_state#}
                        <span class="inreview">{#$userinfo.photo_state#}</span>
                        {#/if#}
						<div class="txImg">
                            {#if $userinfo.photo_audit#}
							<img src="{#if $userinfo.photo_audit != ""#}{#$userinfo.photo_audit#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt="">
                            {#else#}
							<img src="{#if $userinfo.photo != ""#}{#$userinfo.photo#}{#else#}{#$cfg_staticPath#}/images/noPhoto_100.jpg{#/if#}" alt="">
                            {#/if#}
						</div>					   
					</dd>
				</dl>
			
			{#*  用户名  *#}
			<dl class="inpbox speInp">
			      <dt><span>{#$langData['siteConfig'][19][20]#}</span></dt>

			      <dd> {#if $userinfo.is_editname ==0#}<a href="{#$member_userDomain#}/manage_unick.html">{#$userinfo.username#}</a> {#else#} {#$userinfo.username#} {#/if#}<i></i></dd>
		    </dl>
		    <dl class="inpbox">
		      <dt><span>{#$langData['siteConfig'][19][6]#}</span></dt>
		      <dd>
                {#if $userinfo.nickname_state#}
                <span class="inreview">{#$userinfo.nickname_state#}</span>
                {#/if#}
                <input type="text" name="nickname" id="nickname" autocomplete="off" value="{#if $userinfo.nickname_audit#}{#$userinfo.nickname_audit#}{#else#}{#$userinfo.nickname#}{#/if#}">
            </dd>
		    </dl>

		</div>
		<div class="list">
		  <form name="fabuForm" id="fabuForm" method="post" action="/include/ajax.php?service=member&action=updateProfile">
		    <dl class="inpbox">
		      <dt><span>QQ</span></dt>
		      <dd><input type="text" placeholder="{#$langData['siteConfig'][20][224]#}" name="qq" id="qq" autocomplete="off" onkeyup="value=value.replace(/\D+/ig,'')" value="{#$userinfo.qq#}"></dd>
		    </dl>
		    <dl class="inpbox speInp sexdl">
		      <dt><span>{#$langData['siteConfig'][19][7]#}</span></dt>
		      <dd>
		      	<span class="sexChoose">{#if $userinfo.sex == 1#}{#$langData['siteConfig'][13][4]#}{#else#}{#$langData['siteConfig'][13][5]#}{#/if#}</span>
		      	<i></i>
		      	<input type="hidden" name="sex" id="sex" value="{#$userinfo.sex#}">
		      </dd>
		    </dl>
		    <dl class="inpbox speInp">
		    	{#* 生日 *#}
		      <dt><span>{#$langData['siteConfig'][19][757]#}</span></dt>
		      <dd><input type="text" placeholder="{#$langData['siteConfig'][20][225]#}" name="birthday" readonly id="birth"  value="{#$userinfo.birthday|date_format:'%Y-%m-%d'#}"><i></i></dd>
		    </dl>
		    <dl class="inpbox gz-addr-seladdr">
		    	{#* 所在地 *#}
		      <dt><span>{#$langData['siteConfig'][54][59]#}</span></dt>
		      <dd class="selgroup">
		      	<p>
						{#if $userinfo.addrName == ""#}{#$langData['siteConfig'][20][68]#}{#/if#}
						{#if $userinfo.addrName != ""#}{#$userinfo.addrName|replace:">":" "#}{#/if#}
					</p><i></i>
					<input type="hidden" name="addr" id="addr" value="{#$userinfo.addrid#}" />
		      </dd>
					
		    </dl>

            <dl class="inpbox speInp nationdl">
                <dt><span>民族</span></dt>
                <dd>
                    <span class="nationChoose">{#if $userinfo.nation#}{#$userinfo.nation#}{#else#}请选择{#/if#}</span>
                    <i></i>
                    <input type="hidden" name="nation" id="nation" value="{#$userinfo.nation#}">
                </dd>
            </dl>
		    
		    <dl class="inpbox logintime">
		      <dt><span>{#$langData['siteConfig'][19][28]#}</span></dt>
		      <dd>{#$userinfo.regtime#}</dd>
		    </dl>
		    
		  </form>
		  <div class="submit">
		        <a href="javascript:;" id="submit">{#$langData['siteConfig'][6][27]#}</a>
		    </div>
		</div>
		<div class="error"></div>
	</div>
	<div class="gz-sel-addr gz-sel-addr-hide"id="gzSelAddr" >
		<div class="gz-sel-addr-header">
			<h3>{#$langData['siteConfig'][6][73]#}</h3>
			<button class="gz-sel-addr-close"id="gzSelAddrCloseBtn"></button>
		</div>
		<ul class="gz-sel-addr-nav"></ul>
		<div class="gz-sel-addr-list"></div>
	</div>
	<div class="gz-sel-addr-mask"></div>
</div>

<script>
var thumbSize = {#$thumbSize#}, thumbType = '{#$thumbType#}', atlasSize = {#$atlasSize*1024*1024#}, atlasType = '{#$atlasType#}', atlasMax = 1, modelType = 'siteConfig', upType = 'photo';
var areaLevel = '{#$detail_addrname#}';
var typeidLevel = '{#if $userinfo.addrName != ""#}{#$userinfo.addrName#}{#/if#}', typeid = '{#$userinfo.addrid#}';
</script>
<script src="{#$templets_skin#}js/mobiscroll.js" type="text/javascript"></script>
<script src="{#$templets_skin#}js/mobiscroll.datetime.js" type="text/javascript"></script>
<script src="{#$templets_skin#}js/mobiscroll.select.js" type="text/javascript"></script>
<script type='text/javascript' src='{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}'></script>
{#$rsaScript#}
<script type="text/javascript" src="{#$templets_skin#}js/mobileSelect.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/gz-info.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/profile.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
