<!DOCTYPE html>
{#$payname = ''#}
{#siteConfig action="payment"#}
{#if $row.pay_code == "huoniao_bonus"#}
{#$payname = {#$row.pay_name#}#}
{#/if#}
{#/siteConfig#}
<html>
<head>
<meta charset="{#$cfg_soft_lang#}">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<title>充值{#$payname#}</title>
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/recharge.css?v={#$cfg_staticVersion#}" media="all" />
<script src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>

<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';

	var hideFileUrl = {#$cfg_hideUrl#};
	var pointRatio = {#$cfg_pointRatio#}, pointName = '{#$cfg_pointName#}';
	var type =  "{#$paytype#}";

	var ordertype = "{#if $paytype==deposit#}deposit{#else#}recharge{#/if#}";
</script>

</head>
<body>
	{#* 充值消费金 *#}
	{#include file="top.html" pageTitle="充值{#$payname#}"#}
		
	<div class="topCon">
	  <h4>我的{#$payname#}({#echoCurrency type='short'#})</h4>
	  <p class="xfmoney">{#$userinfo.bonus#}</p>
	</div>

	<div class="depositCon">
		<h2 class="tit"><strong>{#$payname#}充值</strong></h2>
		<div class="giftBox">
			<input type="text" placeholder="请输入充值卡密码" name="giftpassword" class="giftpassword" autocomplete="off">
			<s></s>
		</div>

		<div class="giftSure">
			<a href="javascript:;" class="disabled">{#$langData['siteConfig'][6][0]#}</a> {#* 确定 *#}
		</div>
		<p class="depositTip">我已阅读并同意<a href="{#getUrlPath service='siteConfig' template='protocol' title='充值协议'#}" target="_blank"><span>《充值协议》</span></a></p>
	</div>
	


<div class="error"></div>

<script type='text/javascript' src='{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}'></script>
<script type="text/javascript" src="{#$templets_skin#}js/recharge.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
