<div class="shopComWrap">
{#foreach from=$product item=pro key=key1#}
<div class="comment shop" data-id="{#$pro.id#}" data-speid="{#$pro.speid#}" data-specation="{#$pro.specation#}">
  <div class="topWrap">
      <div class="proBox">
        <div class="leftImg"><img src="{#$pro.litpic#}" alt="" onerror="javascript:this.src='{#$cfg_staticPath#}images/noPhoto_100.jpg';this.onerror=this.src='{#$cfg_staticPath#}images/good_default.png';"></div>
        <div class="rInfo">
          <h3>{#$pro.title#}</h3>
          <p>{#$pro.specation#}</p>
        </div>
      </div>
      <div class="pleased">
        <h2>您对这个商品满意吗？</h2>
        <ul>
          <li class="cha{#if $pro.common['rating'] == 3#} on{#/if#}" data-id="3"><a href="javascript:;"><i></i><p>不满意</p></a></li>
          <li class="midPj{#if $pro.common['rating'] == 2 || !$pro.common#} on{#/if#}" data-id="2"><a href="javascript:;"><i></i><p>{#$langData['siteConfig'][25][1]#}</p></a></li>
          <li class="hao{#if $pro.common['rating'] == 1#} on{#/if#}" data-id="1"><a href="javascript:;"><i></i><p>{#$langData['siteConfig'][25][3]#}</p></a></li>
          
        </ul>
      </div>
      <div class="selftxt" contenteditable="true" placeholder="{#$cfg_commentPlaceholder#}">{#$pro.common.content#}</div>
      <div class="fn-clear imgWrap">
        <div class="imgbox img-box">
          <div class="addimg">
            <ul class="fileList fn-clear{#if $pro.common.pics == ''#} noimg{#/if#}" id="fileList{#$key1#}">          
              {#if $pro.common.pics#}
              {#foreach from=$pro.common.pics item=pics key=k#}
              <li class="thumbnail" id="item_{#$k#}"><img src="{#changeFileSize url="{#$pics.url#}" type="small"#}" data-val="{#$pics.source#}"><div class="file-panel"><span class="cancel"></span></div></li>
              {#/foreach#}
              {#/if#}
              <li class="add uploadbtn"><div id="filePicker{#$key1#}" class="btn filePicker"><img src="{#$templets_skin#}images/shop/pjadd.png" alt=""><p class="utip">还可上传{#if $pro.common.pics#}{#5-count($pro.common.pics)#}{#else#}5{#/if#}张</p></div></li>
            </ul>
          </div>
        </div>
        <!-- <p class="uploader-btn"></p> -->
      </div>
      <div class="anony"><i></i>匿名评价<input type="hidden" id="anonymous" value="0"></div>
  </div>
  <!-- 店铺评分 s -->
  <div class="ping">
    <ul>
      <!-- 描述相符 -->
      <li class="fn-clear">
        <span>{#$langData['siteConfig'][18][44]#}</span>
        <div class="pingfen" data-id="score{#$pro.id#}_{#$pro.speid#}1">
          <i{#if $pro.common.score1 > 0#} class="on"{#/if#}></i>
          <i{#if $pro.common.score1 > 1#} class="on"{#/if#}></i>
          <i{#if $pro.common.score1 > 2#} class="on"{#/if#}></i>
          <i{#if $pro.common.score1 > 3#} class="on"{#/if#}></i>
          <i{#if $pro.common.score1 > 4#} class="on"{#/if#}></i>
        </div>
      </li>
      <!-- 服务态度 -->
      <li class="fn-clear">
        <span>{#$langData['siteConfig'][18][46]#}</span>
        <div class="pingfen" data-id="score{#$pro.id#}_{#$pro.speid#}3">
          <i{#if $pro.common.score3 > 0#} class="on"{#/if#}></i>
          <i{#if $pro.common.score3 > 1#} class="on"{#/if#}></i>
          <i{#if $pro.common.score3 > 2#} class="on"{#/if#}></i>
          <i{#if $pro.common.score3 > 3#} class="on"{#/if#}></i>
          <i{#if $pro.common.score3 > 4#} class="on"{#/if#}></i>
        </div>
      </li>
      
      <!-- 物流体验 -->
      <li class="fn-clear">
        <span>物流体验</span>
        <div class="pingfen" data-id="score{#$pro.id#}_{#$pro.speid#}2">
          <i{#if $pro.common.score2 > 0#} class="on"{#/if#}></i>
          <i{#if $pro.common.score2 > 1#} class="on"{#/if#}></i>
          <i{#if $pro.common.score2 > 2#} class="on"{#/if#}></i>
          <i{#if $pro.common.score2 > 3#} class="on"{#/if#}></i>
          <i{#if $pro.common.score2 > 4#} class="on"{#/if#}></i>
        </div>
      </li>
    </ul>
  </div>
  <!-- 店铺评分 e -->
</div>
{#/foreach#}

  <!-- 发表评价 s -->
  <div class="btnCon">
    <a href="javascript:;" id="commonBtn">{#if $pro.common#}{#$langData['siteConfig'][8][2]#}{#else#}提交评价{#/if#}</a>
  </div>
  
  <!-- 发表评价 e -->

{#if $pro.common#}
  <div class="error">{#if $pro.common.ischeck == 0#}{#$langData['siteConfig'][20][52]#}{#elseif $pro.common.ischeck == 2#}{#$langData['siteConfig'][20][53]#}{#/if#}</div>
{#/if#}
</div>

<!-- 评价成功 -->
<div class="shopcomSuc">
  <img src="{#$templets_skin#}images/shop/pjsuc.png" alt="">
  <h2>评价成功</h2>
  {#if $CommentCheck == 1#}
  <p>感谢您的评价！春风十里不如你的一句满意</p>
  {#else#}
  <p>评论提交成功，审核预计1-2天，感谢您的评价</p>
  {#/if#}
  <div class="fanOrder">
    <a href="{#getUrlPath service='member' type='user' template='order-shop'#}">返回订单</a>
  </div>
  
</div>
