{#$pageGrayCss#} {#* 页面变灰 *#}
{#if $site_map == "amap"#}
{#$amap_jscode#} {#* 高德地图安全密钥 *#}
{#/if#}

<script type="text/javascript">
	var wxconfig = {
		"appId": '{#$wxjssdk_appId#}',
		"timestamp": '{#$wxjssdk_timestamp#}',
		"nonceStr": '{#$wxjssdk_nonceStr#}',
		"signature": '{#$wxjssdk_signature#}',
		"description": '{#$Share_description#}',
		"title": '{#$Share_title#}',
		"imgUrl":'{#$Share_img#}',
		"link": '{#$Share_url#}',
	};
    document.head.appendChild(document.createElement('script')).src = '{#$cfg_staticPath#}js/publicShare.js?v=' + ~(-new Date());
	// document.write(unescape("%3Cscript src='{#$cfg_staticPath#}js/publicShare.js?v="+~(-new Date())+"'type='text/javascript'%3E%3C/script%3E"));
</script>

{#if $isByteMiniprogram&&!$needByte#}
<script src="https://lf3-cdn-tos.bytegoofy.com/goofy/developer/jssdk/jssdk-1.2.1.js?v={#$cfg_staticVersion#}" type="text/javascript"></script>
{#/if#}