<script>
  	var site_map = "{#$site_map#}", site_map_key = '{#$site_map_key#}';
	var temp = '{#$template#}'
</script>
{#if $site_map == "amap"#}
{#$amap_jscode#} {#* 高德地图安全密钥 *#}
{#/if#}

<script src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js?v={#$cfg_staticVersion#}"></script>

{#if ($site_map!="google"&&$http_domestic==1)||$http_domestic==0 || $template == 'mapPosi'#}
<script type="text/javascript" src="{#if $pageMapType == 'webgl' && $site_map == 'baidu'#}{#$site_map_apiFile|replace:'2.0':'1.0'#}&type=webgl{#else#}{#$site_map_apiFile#}{#/if#}"></script>
{#/if#}

{#if $site_map == "qq"#}
<script type="text/javascript" src="https://3gimg.qq.com/lightmap/components/geolocation/geolocation.min.js" charset="utf-8"></script>
{#/if#}

{#*
{#if $site_map != "amap"#}
<script type="text/javascript" src="{#$site_map_amap_apiFile#}" charset="utf-8"></script>
{#/if#}
*#}

<script type="text/javascript" src="{#$cfg_staticPath#}js/publicLocation.js?v={#$cfg_staticVersion#}"></script>
