
{#* 分享时使用 *#}
<meta property="og:image" content="{#if $detail_litpic#}{#$detail_litpic#}{#elseif $detail_imgGroup[0]#}{#$detail_imgGroup[0]#}{#elseif $detail_thumbnail#}{#$detail_thumbnail#}{#else#}{#$shareAdvancedUrl#}{#/if#}" />
<meta property="og:description" content="" />
<link rel="canonical" href="{#$HTTP_URI#}">
<img src="{#if $detail_litpic#}{#$detail_litpic#}{#elseif $detail_imgGroup[0]#}{#$detail_imgGroup[0]#}{#elseif $detail_thumbnail#}{#$detail_thumbnail#}{#else#}{#$shareAdvancedUrl#}{#/if#}" id="firstImage" style="display: none;" />

{#$pageGrayCss#} {#* 页面变灰 *#}
{#if $site_map == "amap"#}
{#$amap_jscode#} {#* 高德地图安全密钥 *#}
{#/if#}

{#if $isByteMiniprogram&&!$needByte#}
<script src="https://lf3-cdn-tos.bytegoofy.com/goofy/developer/jssdk/jssdk-1.2.1.js?v={#$cfg_staticVersion#}" type="text/javascript"></script>
{#/if#}

{#* 如果是上架中状态，隐藏IM聊天入口 *#}
{#if $cfg_ios_shelf && ($is_app || $isminiprogram)#}
<style>.chat_to-Link {display: none!important;}</style>
{#/if#}
{#if $from == 'wmsj'#}
<style>
.fastNav {display: none!important;}
</style>
{#/if#}
<style>
	.hideEle{visibility: hidden; opacity: 0; pointer-events: none;}
</style>

<script>
	var cfg_timezone = '{#$cfg_timezone#}';
	var noHeader  = '{#$noHeader|default:0#}';
	var installModArr_top = '{#json_encode($installModuleArr)#}';
	var dopost = '{#$dopost#}'
	var masterDomain = '{#$cfg_basehost#}'
	var cfg_staticPath = '{#$cfg_staticPath#}'
	var cfg_ios_shelf = '{#$cfg_ios_shelf|default:0#}'
	var cartUrl = '{#getUrlPath service='shop' template='cart'#}'
	var cfg_staticVersion = '{#$cfg_staticVersion#}'
	var memberUserDomain = '{#$member_userDomain#}'
	var has_touch_top = true;
	var cookiePre = '{#$cfg_cookiePre#}';
	var user_member  =  '{#$member_userDomain#}';
	var defaultindex = 'siteConfig'
	var noCountMsg = '{#$noCountMsg#}'; //是否统计消息
    var cfg_useWxMiniProgramLogin = {#$useWxMiniProgramLogin|default:0#};  //启用小程序原生登录
	var topMsgInterval = null;
</script>
{#if !$noHeader#}
<div class="header {#$headTheme#}"{#if $from == 'wmsj'#} style="display: -webkit-box!important;"{#/if#}>
	{#if $pageLeft != ""#}
	{#$pageLeft#}
	{#else#}
	<div class="header-l">
		{#if $selBackUrl#}	<!-- 2023.12.15修改 如果需要指定后退到某个页面，那就自己设置selBackUrl -->
		<a href="{#$selBackUrl#}"  class="goBack"></a>
		{#elseif $template!='index'#} 
		<a href="javascript:;" onclick="history.go(-1)" class="goBack"></a>
		{#else#}
		<a href="{#$cfg_basehost#}"  class="goBack"></a>
		{#/if#}
	</div>
	{#/if#}
	<div class="header-address">
		<span>{#$pageTitle#}</span>
	</div>
	{#if $from != 'wmsj'#}
	<div class="header-search {#if $noCountMsg == 2#}hideEle{#/if#}">
		{#if $pageRight != ""#}
		{#$pageRight#}
		{#else#}
		<a href="javascript:;" class="dropnav"></a>
		{#/if#}
	</div>
	{#else#}
	<div class="header-search"><a href="javascript:;" style="background: none;">&nbsp;</a></div>
	{#/if#}
</div>

<script>
	var cfg_ios_shelf = '{#$cfg_ios_shelf#}'; //app上架
	var appBoolean = {#$is_app|default:0#}
</script>

{#/if#}
<script type='text/javascript' src='{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}'></script>
<script type="text/javascript" src="{#$cfg_basehost#}/static/js/ui/iscroll.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_basehost#}/static/js/ui/noscroll.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.qrcode.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/touch_top.js?v={#$cfg_staticVersion#}"></script>
<style>

		.header .header-l.hideArr{opacity: 0; pointer-events: none;}
</style>
{#if $privatePhone#}
{#include file="{#$HUONIAOROOT#}/templates/siteConfig/privatePhone_touch.html"#}
{#/if#}