html{background:#f8f8f8;}
.pro_con{padding: 0 .24rem;background: #fff}
.jianjie{margin-bottom: .2rem;padding-bottom: .4rem}
.enviroment{padding-bottom: 1.4rem}
h2.comm-title{font-size: .32rem;padding: .3rem 0;font-weight: bold;}
.cont{font-size: .26rem !important;color: #666!important;line-height: .48rem !important}
.cont p{font-size: .26rem !important;color: #666!important;line-height: .48rem !important}
.cont span{font-size: .26rem !important;color: #666!important;line-height: .48rem !important}

.cont img{max-width:100%!important;max-height: 5rem;object-fit: cover;display: block;margin: 0 auto .2rem}
.imgList img{max-width:100%!important;max-height: 5rem;object-fit: cover;display: block;margin: 0 auto .2rem}


