html{background:#f8f8f8;}
/*.popupRightBottom{display: none;}*/
/*视频*/
.topSwiper{position: relative;overflow: hidden;height: 5.62rem;}
.topSwiper a.myStore{display: inline-block;position: absolute;top:.3rem;right: .3rem;width: .72rem;height: .72rem;border-radius: 50%;background:rgba(0,0,0,.5) url("../images/myStore.png") no-repeat center center;background-size: .34rem;z-index: 2}

.topSwiper .swiper-slide{height:5.62rem;}
.topSwiper .swiper-slide img{width: 100%;height: 100%;object-fit: cover;}
.topSwiper .swiper-pagination{position: absolute;right: .17rem;bottom:.17rem;left:auto;width:auto; padding: 0 .12rem; line-height:.36rem;text-align:right;background:rgba(0,0,0,.5);color:#fff;border-radius: .4rem;font-size: .2rem;z-index: 9;}
.topSwiper .swiper-pagination .swiper-pagination-total{font-size: .24rem}
.markBox{width:50%;text-align:center;position: absolute;bottom:.24rem;right:25%; z-index: 1;}
.pmark{display:inline-block;width: .8rem;height: .36rem;color:#333;line-height: .38rem;border-radius: .18rem;background: #FFF;margin:0 .16rem;font-size: .2rem;}
.pmark.curr{background:linear-gradient(90deg,rgba(249,55,78,1) 0%,rgba(255,119,119,1) 100%);color:#fff;}
.imgplay{position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);}
.imgplay img{width: 1rem!important;height: 1rem;}
/*全屏*/
.videoModal{width:100%;height:100%;position: fixed;z-index: -1;top: 0;left: 0;bottom:0;opacity: 0;}
.videoModal.vshow{opacity: 1;visibility: visible;z-index:999999 ;transition: all .4s;}
.videoModal .swiper-container{width: 100%;height: 100%;background: #000;}
.videoModal .vClose{position: absolute;top: .22rem;right: .2rem;width: .5rem;height: .5rem;display: block;background: url(../images/vclose.png) no-repeat center center;background-size: .5rem;z-index: 11;}
.videoModal .swiper-pagination{position: absolute;left: 50%;top: .25rem;width: auto;height: .45rem;line-height: .5rem;padding: .04rem .2rem;line-height: .4rem;text-align: right;color: #fff;border-radius: .4rem;font-size: .26rem;z-index: 9;margin-left:-.4rem;}
.videoModal .swiper-slide{width:100%!important;height: 100%}
.videoModal .swiper-slide img{width:100%;height:auto;position: relative;top: 50%; transform: translateY(-50%);-webkit-transform: translateY(-50%);}

.videoModal video{height: 4.4rem;position: absolute;top:50%;margin-top: -2.2rem;}

/*头部信息*/
.title{padding: .35rem .24rem .4rem;background: #fff;margin-bottom: .2rem}
.title h2{font-size: .36rem;font-weight: bold;color: #333}
.tag{margin-top: .15rem;}
.tag span{display: inline-block;height: .36rem;line-height: .38rem;border-radius: .18rem;padding: 0 .16rem;margin-right: .1rem;font-size: .2rem;color: #fff;}
.tag span.benjiremai{background:linear-gradient(90deg,rgba(246,44,92,1) 0%,rgba(250,137,119,1) 100%);}
.tag span.chaozhitejia{background:linear-gradient(90deg,rgba(15,189,171,1) 0%,rgba(31,218,181,1) 100%);}
.tag span.renqituijian{background:linear-gradient(90deg,rgba(15,137,241,1) 0%,rgba(35,185,255,1) 100%);}
.tag span.same{background:#FEEBED ;color: #F93A4D}

.title .price{color: #f9374e;font-size: .36rem;font-weight: bold;margin-top: .25rem}

.msg{background: #fff;position: relative;margin-bottom: .2rem;}
.msg a{display: block;padding: .3rem .24rem;}
.msg .img-box{width: 1.2rem;height: 1.2rem;border-radius: 50%;overflow: hidden;float: left;}
.msg .img-box img{width: 100%;height: 100%;border-radius: 50%;object-fit: cover;}
.msg .info{margin-left:1.45rem ;height: 1.2rem}
.msg .info .name{font-size: .28rem;padding-bottom: .15rem;font-weight: bold;color: #333;padding-top: .15rem;max-width: 4rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.msg .info .sInfo{font-size: .24rem;color: #A0A0A0;}
.msg .info .sInfo em{margin-right: .2rem;margin-left: .2rem;}
.msg .icon_next{display: inline-block;width: 1.45rem;height: .6rem;position: absolute;right: .24rem;top: 50%;transform: translate(0, -50%);line-height: .6rem;text-align: center;font-size: .24rem;color: #F9384D;border: 1px solid #F9384D;border-radius: .3rem}

.container{    padding-bottom: 1.2rem;}
.tab-ul{border-bottom: 1px solid #eee;display: flex;justify-content: space-around;background: #fff;}
.tab-ul.fixed{position: fixed;top: 0;left: 0;right: 0;z-index: 99}
.tab-ul li{float: left;font-size: .26rem;color: #333;height: .88rem;line-height: .88rem;position: relative;}
.tab-ul li.active{color: #F9374E;font-weight: bold;}
.tab-ul li.active:after{display: inline-block;content: "";width: .52rem;height: .04rem;background: #f9374e;position: absolute;bottom: 0;left: 50%;margin-left: -.26rem}
.tab_con {margin-bottom: .2rem;background: #fff;padding: 0 .24rem .6rem;position: relative;}
.tab_con h2.list-tit{font-size: .32rem;color: #333;font-weight: bold;padding: .3rem 0}
/*基本参数*/
.param {padding-top: .4rem;padding-left: .06rem}
.param li{font-size: .24rem;color: #333;line-height: .4rem;margin-top: .1rem}
.param li em{color: #999;margin-right: .2rem;display: inline-block;width: 1rem}
.param li span{display: inline-block;max-width: 78%;vertical-align: top;}
/*图文详情*/
.photos img{width:100%!important;max-height: 5rem;object-fit: cover;margin-bottom: .1rem;}
.writeCom{font-size: .24rem;color: #999;position: absolute;right: .24rem;top: .4rem}
.writeCom i{display: inline-block;width: .24rem;height: .24rem;background: url("../images/write.png") no-repeat center center;background-size: .24rem;margin-left: .08rem;vertical-align: middle;margin-top: -.03rem}

/*评论区域*/
.commentBox ,.recomBox{background: #fff;margin-bottom: .24rem;}
.headtop{padding:0 .25rem;}
.commentList{padding:0 .25rem;}
.commentBox ul li {padding:.2rem 0;border-bottom:solid .02rem #dedede;overflow: hidden;}
.commentBox ul li .imgbox{float: left;width: .6rem;height: .6rem;position: relative;border-radius:100%;overflow: hidden;margin-right: .14rem;}
.commentBox ul li .imgbox img{max-width: 100%;max-height: 100%;position: absolute;top:0;left:0;right: 0;bottom: 0;margin:auto;display: block;}
.commentBox ul li .rightInfo{position: relative;overflow: hidden;}
.commentBox ul li .rightInfo h4{font-size: .26rem;color:#5a5c5e;line-height: .4rem;}
.commentBox ul li .rightInfo .txtInfo{font-size: .3rem;color:#393a3b;margin-top: .15rem;}
.commentBox ul li .rightInfo .replyCon{padding:.2rem;background: #f2f3f5;margin:.25rem 0 .3rem;}
.rightInfo .replyCon dl{line-height: .4rem;overflow: hidden;}
.rightInfo .replyCon dl dt{float: left;font-size: .28rem;}
.rightInfo .replyCon dl dd{font-size: .28rem;color:#666;}
.commentBox ul li .rightInfo .rbottom{overflow: hidden;font-size: .24rem;color:#999;}
.rightInfo .rbottom .rtime{float: left;}
.rightInfo .rbottom .rbInfo{float: right;}
.rightInfo .rbottom .rbInfo s{display: inline-block;width: .28rem;height: .26rem;vertical-align: middle;margin-top:-.08rem;margin-right: .05rem;}
.rightInfo .rbottom .rbInfo .btnReply{margin-right: .4rem;}
.rightInfo .rbottom .rbInfo .btnReply s{background: url(../images/ic_reply.png) no-repeat center center;background-size: contain;}
.rightInfo .rbottom .rbInfo .btnUp s{background: url(../images/ic_up.png) no-repeat center center;background-size: cover;}
.rightInfo .rbottom .rbInfo .btnUp.active{color:#fc3a4a;}
.rightInfo .rbottom .rbInfo .btnUp.active s{background: url(../images/ic_up1.png) no-repeat center center;background-size: cover}
.spColor,.pmore{color:#498cde;}
.pmore{font-size: .28rem;display: block;}
.commentBox ul li:last-child{border-bottom: none}
.allmore{padding: 0 .25rem}




