.Shell{padding: 0rem .3rem 2rem;min-height: calc(100vh - .9rem);}
.progress::after {content: '';display: block;overflow: hidden;width: 100%;height: 5px;background: #2691FF url('/static/js/webuploader/progress.png') repeat-x;transition: width 200ms linear;animation: progressmove 2s linear infinite;transform: translateZ(0);position: absolute;bottom: 0px;left: 0px;}
.s-top{display: flex;position: relative;justify-content: center;align-items: center;height: .88rem;}
.s-top img{position: absolute;top: 50%;transform: translateY(-50%);left: .1rem;width: .44rem;height: .44rem;}
.s-top div{font-size: .36rem;font-weight: bold;color: #313233;}
.s-kefu{width: 100%;height: 3rem;background: url(../images/scrapKefu.png) no-repeat;background-size: 100% 100%;display: flex;justify-content: flex-end;align-items: center;flex-direction: column;padding-bottom: .46rem;box-sizing: border-box;margin-bottom: .46rem;}
.sk-title{font-size: .32rem;font-weight: 800;color: #FB5845;line-height: 100%;margin-bottom: .37rem;}
.sk-btn{display: flex;gap: .3rem;}
.sk-btn div,.sk-btn a{width: 2.4rem;height: .76rem;border: .01rem solid #FB5845;border-radius: .38rem;box-sizing: border-box;font-size: .3rem;font-weight: 500;display: flex;align-items: center;justify-content: center;}
.skb-wx{background: #FFFFFF;color: #FB5845;}
.skb-phone{background: #FB5845;color: white;}
.stp-title,.stt-title{font-size: .3rem;font-weight: 500;color: #45464F;line-height: 100%;}
.st-picture{margin-bottom: .52rem;}
.st-picture ul{display: flex;gap: .15rem;margin-top: .3rem;flex-wrap: wrap;}
.st-picture ul li{width: 2.2rem;height: 2.2rem;border-radius: .1rem;background-color: #F7F8FA;position: relative;}
.st-picture .showPic .picture{width: 100%;height: 100%;object-fit: cover;}
.st-picture .showPic .delete{width: .4rem;height: .4rem;position: absolute;top: -.1rem;right: -.1rem;z-index: 1;}
.st-picture .addPic{display: flex;align-items: center;justify-content: center;flex-direction: column;}
.st-picture .addPic span{font-size: .24rem;font-weight: 500;color: #9FA1AB;margin-top: .16rem;}
.st-picture .addPic img{width: .6rem;height: .6rem;}
.st-picture .addPic input{opacity: 0;position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.st-type input{width: 100%;height: .8rem;background: #FFFFFF;border: .01rem solid #DEDFE3;border-radius: .1rem;transition: all .2s;padding-left: .22rem;box-sizing: border-box;font-size: .3rem;margin-top: .3rem;margin-bottom: .45rem;}
.st-type input::placeholder{color: #1D1D21;opacity: .3;}
.st-type input:focus{border-color: #FB5845;}
.stt-title.need{display: flex;}
.stt-title.need::before{content: '\002a';color: #F74C58;}
.s-submit{position: fixed;bottom: .5rem;left: 0;width: 100%;height: .8rem;background-color: white;padding: .1rem 0rem calc(.1rem + env(safe-area-inset-bottom));}
.ss-submit{height: 100%;background: #42444F;border-radius: .4rem;font-size: .3rem;font-weight: bold;color: #FFFFFF;display: flex;align-items: center;justify-content: center;margin: 0px .3rem;}
.tipPop{position: fixed;top: 28%;left: 0;width: 100%;text-align: center;padding: 0rem .4rem;box-sizing: border-box;display: none;z-index: 9;pointer-events: none;word-break: break-all;}
.tipPop div{min-width: 2.8rem;min-height: 1rem;background: #141414;opacity: 0.98;border-radius: .2rem;font-size: .3rem;font-weight: 500;color: #FFFFFF;display: inline-flex;align-items: center;justify-content: center;padding: 0rem .4rem;box-sizing: border-box;}
.s-pop{width: 100%;height: 100%;position: fixed;top: 0;left: 0;background-color: rgba(0,0,0,.6);z-index: 1;display: none;}
.sp-con{width: 100%;height: 6.7rem;background: #FFFFFF;border-radius: .4rem .4rem 0rem 0rem;position: absolute;bottom: 0;left: 0;display: flex;flex-direction: column;justify-content: center;align-items: center;padding-bottom: env(safe-area-inset-bottom);transition: all .3s;}
.spc-title{font-size: .36rem;font-weight: bold;color: #313233;}
.spc-qrcode{width: 3.4rem;height: 3.4rem;object-fit: contain;margin-top: .6rem;}
.spc-tip{font-size: .3rem;font-weight: 500;color: #919299;margin-top: .38rem;}
@keyframes progressmove {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 17px 0;
    }
}