<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
<title>网站安全设置</title>
{#$cssFile#}
<script type="text/javascript">
var adminPath = "{#$adminPath#}", safeqa = {#$safeqa#};
</script>
<style media="screen">
    .maliciousSplider .input-tips {vertical-align: top;}
    .editform dt {width: 200px;}
</style>
</head>

<body>
<div class="btn-group config-nav" data-toggle="buttons-radio">
  <button type="button" class="btn active" data-type="basic">基本设置</button>
  <button type="button" class="btn" data-type="verify">验证码设置</button>
  <button type="button" class="btn hide" data-type="question">验证问题设置</button>
  <button type="button" class="btn" data-type="geetest">滑块验证码</button>
  <button type="button" class="btn" data-type="moderation">内容审核</button>
  <button type="button" class="btn" data-type="rsa">RSA密钥（数据传输加密）</button>
  <button type="button" class="btn" data-type="aes">AES密钥（数据存储加密）</button>
</div>

<div class="info-tips hide" id="infoTip"></div>

<form action="" method="post" name="editform" id="editform" class="editform">
  <input type="hidden" name="configType" value="basic" />
  <input type="hidden" name="token" id="token" value="{#$token#}" />
  <div class="item">
    <dl class="clearfix">
      <dt><label for="holdsubdomain">保留子级域名：</label></dt>
      <dd>
        <textarea name="holdsubdomain" class="input-xxlarge" id="holdsubdomain" data-regex=".*">{#$holdsubdomain#}</textarea>
        <span class="input-tips" style="display:inline-block;"><s></s>多个请用“|”分隔。<br />如：www|bbs|login</span>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label for="iplimit">IP访问限制：</label></dt>
      <dd>
        <textarea name="iplimit" class="input-xxlarge" id="iplimit" rows="3" data-regex=".*">{#$iplimit#}</textarea>
        <span class="input-tips" style="display:inline-block;"><s></s>您可以添加多个限制IP，每个IP用回车分隔。<br />也可只输入 IP 开头，例如 "192.168."(不含引号) 可匹配 192.168.0.0～192.168.255.255 范围内的所有地址。<br />留空为不设置。</span>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label for="errLoginCount">登录错误几次锁定：</label></dt>
      <dd>
        <input class="input-mini" type="number" min="0" name="errLoginCount" id="errLoginCount" value="{#$errLoginCount#}" data-regex="[0-9]\d*" />次
        <span class="input-tips" style="display:inline-block;"><s></s>0表示不限制，字段为数字型</span>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label for="loginLock">锁定时间：</label></dt>
      <dd>
        <input class="input-mini" type="number" min="0" name="loginLock" id="loginLock" value="{#$loginLock#}" data-regex="[0-9]\d*" />分钟
        <span class="input-tips" style="display:inline-block;"><s></s>0表示不锁定，字段为数字型</span>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label>短信验证码登录：</label></dt>
      <dd class="radio">
        {#html_radios name="smsLoginState" values=$smsLoginState checked=$smsLoginStateChecked output=$smsLoginStateNames separator="&nbsp;&nbsp;"#}
        <span class="input-tips" style="display:inline-block;"><s></s>开启后请确认【<a href="siteNotify.php" id="siteNotify">消息通知配置</a>】中是否配置并开启 <i><u>[会员-短信登录-发送验证码]</u></i> 短信模板！</span>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label>短信验证码自动注册：</label></dt>
      <dd class="radio">
        {#html_radios name="smsAutoRegister" values=$smsAutoRegister checked=$smsAutoRegisterChecked output=$smsAutoRegisterNames separator="&nbsp;&nbsp;"#}
        <span class="input-tips" style="display:inline-block;"><s></s>该功能用于短信验证码登录时，如果输入的手机号码没有注册过账号，系统自动为此号码注册账号，<br />关闭此功能后，未注册过的手机号码将无法获取短信验证码，页面会提示：该手机号码还不是会员，请先注册！</span>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label>登录/注册手动勾选协议：</label></dt>
      <dd class="radio">
        {#html_radios name="agreeProtocol" values=$agreeProtocol checked=$agreeProtocolChecked output=$agreeProtocolNames separator="&nbsp;&nbsp;"#}
        <!-- <span class="input-tips" style="display:inline-block;"><s></s>部分APP应用市场有强制要求，提交上架时请开启！</span> -->
      </dd>
    </dl>

    <dl class="clearfix">
        <dt><label>会员注册开关：</label></dt>
        <dd class="radio">
          {#html_radios name="regstatus" values=$regstatus checked=$regstatusChecked output=$regstatusNames separator="&nbsp;&nbsp;"#}
        </dd>
      </dl>
      {#if !$regstatusChecked#}
      <div id="reg1">
      {#else#}
      <div id="reg1" class="hide">
      {#/if#}
        <dl class="clearfix">
          <dt><label for="regclosemessage">关闭原因：</label></dt>
          <dd>
            <textarea name="regclosemessage" id="regclosemessage" class="input-xxlarge" rows="5" placeholder="注册关闭时出现的提示信息" data-regex=".*">{#$regclosemessage#}</textarea>
            <span class="input-tips"><s></s>请输入关闭注册时要显示的提示信息</span>
          </dd>
        </dl>
      </div>
  
      {#if !$regstatusChecked#}
      <div class="hide" id="reg0">
      {#else#}
      <div id="reg0">
      {#/if#}
        <dl class="clearfix hide">
          <dt><label>注册验证：</label></dt>
          <dd>
            {#html_radios name="regverify" values=$regverify checked=$regverifyChecked output=$regverifyNames separator="&nbsp;&nbsp;"#}
          </dd>
        </dl>
        <dl class="clearfix">
          <dt><label for="regtime">注册间隔时间：</label></dt>
          <dd>
            <input class="input-mini" type="number" min="0" name="regtime" id="regtime" value="{#$regtime#}" data-regex="[0-9]\d*" />分钟
            <span class="input-tips" style="display:inline-block;"><s></s>0表示不限制，字段为数字型</span>
          </dd>
        </dl>
  
        <dl class="clearfix">
          <dt><label for="holduser">保留用户名：</label></dt>
          <dd>
            <textarea name="holduser" class="input-xxlarge" id="holduser" data-regex=".*">{#$holduser#}</textarea>
            <span class="input-tips" style="display:inline-block;"><s></s>多个请用“|”分隔。<br />如：admin|123456|user</span>
          </dd>
        </dl>

        <dl class="clearfix" id="registerType">
            <dt><label>会员注册类型开关：</label></dt>
            <dd class="radio">
                {#html_checkboxes name=regtype values=$regType output=$regTypeName selected=$regTypeChecked separator="&nbsp;&nbsp;"#}
              <span class="input-tips" style="display: inline-block;"><s></s>用户名注册不可与手机注册/邮箱注册共用！</span>
            </dd>
            </dl>
            <dl class="clearfix hide" id="registerByUsername">
            <dt><label>会员注册字段开关：</label></dt>
            <dd class="radio">
                {#html_checkboxes name=regfields values=$regFields output=$regFieldsName selected=$regFieldsChecked separator="&nbsp;&nbsp;"#}
                <span class="input-tips" style="display:inline-block;"><s></s>仅针对用户名注册</span>
            </dd>
          </dl>

      </div>

    <dl class="clearfix">
        <dt><label>密码强度验证：</label></dt>
        <dd class="radio">
            {#html_radios name="pwdLevel" values=$pwdLevel checked=$pwdLevelChecked output=$pwdLevelNames separator="&nbsp;&nbsp;"#}
            <p style="padding-left: 0; font-size: 12px; padding-top: 10px; color: #999;">关闭：将不对密码进行任何安全验证，风险较大，不建议使用；<br />简单：只对密码进行长度验证，不得小于8位；<br />复杂：要求必须8位以上，并且包含字母和数字，推荐使用该方式；<br />极致：要求必须8位以上，并且包含大写字母、小写字母、数字和特殊符号，同时不能用连续或重复的字母和数字(如abc/cba/123/321/aaa/666等)</p>
        </dd>
    </dl>
    
    <dl class="clearfix">
      <dt><label>发布信息实名认证：</label></dt>
      <dd class="radio">
        {#html_radios name="memberVerified" values=$memberVerified checked=$memberVerifiedChecked output=$memberVerifiedNames separator="&nbsp;&nbsp;"#}
        <!-- <span class="input-tips" style="display:inline-block;"><s></s>仅针对个人会员生效</span> -->
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label for="memberVerifiedInfo">实名认证提示文案：</label></dt>
      <dd>
        <input class="input-xxlarge" type="text" name="memberVerifiedInfo" id="memberVerifiedInfo" value="{#$memberVerifiedInfo#}" />
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label>发布信息绑定手机：</label></dt>
      <dd class="radio">
        {#html_radios name="memberBindPhone" values=$memberBindPhone checked=$memberBindPhoneChecked output=$memberBindPhoneNames separator="&nbsp;&nbsp;"#}
        <!-- <span class="input-tips" style="display:inline-block;"><s></s></span> -->
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label for="memberBindPhoneInfo">绑定手机提示文案：</label></dt>
      <dd>
        <input class="input-xxlarge" type="text" name="memberBindPhoneInfo" id="memberBindPhoneInfo" value="{#$memberBindPhoneInfo#}" />
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label>发布信息关注微信公众号：</label></dt>
      <dd class="radio">
        {#html_radios name="memberFollowWechat" values=$memberFollowWechat checked=$memberFollowWechatChecked output=$memberFollowWechatNames separator="&nbsp;&nbsp;"#}
        <!-- <span class="input-tips" style="display:inline-block;"><s></s></span> -->
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label for="memberFollowWechatInfo">关注微信提示文案：</label></dt>
      <dd>
        <input class="input-xxlarge" type="text" name="memberFollowWechatInfo" id="memberFollowWechatInfo" value="{#$memberFollowWechatInfo#}" />
      </dd>
    </dl>

    <dl class="clearfix">
        <dt><label>周期性检测手机号码：</label></dt>
        <dd class="radio">
          {#html_radios name="periodicCheckPhone" values=$periodicCheckPhone checked=$periodicCheckPhoneChecked output=$periodicCheckPhoneNames separator="&nbsp;&nbsp;"#}
          <span class="input-tips" style="display:inline-block;"><s></s>开启后，已经绑定的手机如果超过检测时间，需要重新验证手机！</span>
        </dd>
    </dl>
    <dl class="clearfix">
        <dt><label for="periodicCheckPhoneCycle">检测周期：</label></dt>
        <dd>
          <input class="input-mini" type="number" min="0" name="periodicCheckPhoneCycle" id="periodicCheckPhoneCycle" value="{#$periodicCheckPhoneCycle#}" data-regex="[0-9]\d*" />天
          <span class="input-tips" style="display:inline-block;"><s></s>0表示不检测</span>
        </dd>
    </dl>

    <dl class="clearfix">
      <dt><label>源文件删除开关：</label></dt>
      <dd class="radio">
        {#html_radios name="filedelstatus" values=$filedelstatus checked=$filedelstatusChecked output=$filedelstatusNames separator="&nbsp;&nbsp;"#}
        <div style="font-size: 14px; color: rgb(153, 153, 153); padding-top: 10px;">开启会造成误删源文件的操作；<br />关闭可能会造成网站垃圾文件较多；<br /></div>
      </dd>
    </dl>

    <dl class="clearfix">
      <dt><label>昵称是否可以修改：</label></dt>
      <dd class="radio">
        {#html_radios name="nicknameEditState" values=$nicknameEditState checked=$nicknameEditStateChecked output=$nicknameEditStateNames separator="&nbsp;&nbsp;"#}
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label for="nicknameEditInfo">不可修改昵称时提示文案：</label></dt>
      <dd>
        <input class="input-xxlarge" type="text" name="nicknameEditInfo" id="nicknameEditInfo" value="{#$nicknameEditInfo#}" placeholder="默认：功能维护中，暂停使用！" />
      </dd>
    </dl>

    <dl class="clearfix">
      <dt><label>修改昵称是否需要审核：</label></dt>
      <dd class="radio">
        {#html_radios name="nicknameEditAudit" values=$nicknameEditAudit checked=$nicknameEditAuditChecked output=$nicknameEditAuditNames separator="&nbsp;&nbsp;"#}
      </dd>
    </dl>

    <dl class="clearfix">
      <dt><label>头像是否可以修改：</label></dt>
      <dd class="radio">
        {#html_radios name="avatarEditState" values=$avatarEditState checked=$avatarEditStateChecked output=$avatarEditStateNames separator="&nbsp;&nbsp;"#}
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label for="avatarEditInfo">不可修改头像时提示文案：</label></dt>
      <dd>
        <input class="input-xxlarge" type="text" name="avatarEditInfo" id="avatarEditInfo" value="{#$avatarEditInfo#}" placeholder="默认：功能维护中，暂停使用！" />
      </dd>
    </dl>

    <dl class="clearfix">
      <dt><label>修改头像是否需要审核：</label></dt>
      <dd class="radio">
        {#html_radios name="avatarEditAudit" values=$avatarEditAudit checked=$avatarEditAuditChecked output=$avatarEditAuditNames separator="&nbsp;&nbsp;"#}
      </dd>
    </dl>

    <dl class="clearfix">
      <dt><label>会员付费发布是否需要审核：</label></dt>
      <dd class="radio">
        {#html_radios name="cfgmemberstatus" values=$cfgmemberstatus  checked=$cfgmemberstatusChecked output=$cfgmemberstatusNames separator="&nbsp;&nbsp;"#}
      </dd>
    </dl>

    <dl class="clearfix">
      <dt><label>IP属地：</label></dt>
      <dd class="radio">
        {#html_radios name="iphome" values=$iphome  checked=$iphomeChecked output=$iphomeNames separator="&nbsp;&nbsp;"#}
      </dd>
    </dl>

    <dl class="clearfix">
      <dt><label>禁止评论：</label></dt>
      <dd class="radio">
        {#html_radios name="disableCommentState" values=$disableCommentState checked=$disableCommentStateChecked output=$disableCommentStateNames separator="&nbsp;&nbsp;"#}
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label for="disableCommentInfo">禁止评论时提示文案：</label></dt>
      <dd>
        <input class="input-xxlarge" type="text" name="disableCommentInfo" id="disableCommentInfo" value="{#$disableCommentInfo#}" placeholder="默认：功能维护中，暂停使用！" />
      </dd>
    </dl>

    <dl class="clearfix">
      <dt><label>禁止点赞：</label></dt>
      <dd class="radio">
        {#html_radios name="disableLikeState" values=$disableLikeState checked=$disableLikeStateChecked output=$disableLikeStateNames separator="&nbsp;&nbsp;"#}
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label for="disableLikeInfo">禁止点赞时提示文案：</label></dt>
      <dd>
        <input class="input-xxlarge" type="text" name="disableLikeInfo" id="disableLikeInfo" value="{#$disableLikeInfo#}" placeholder="默认：功能维护中，暂停使用！" />
      </dd>
    </dl>

    <dl class="clearfix">
      <dt><label for="commentPlaceholder">评论框提示文案：</label></dt>
      <dd>
        <input class="input-xxlarge" type="text" name="commentPlaceholder" id="commentPlaceholder" value="{#$commentPlaceholder#}" placeholder="默认：发条友善的评论~" />
      </dd>
    </dl>

    <dl class="clearfix">
      <dt><label>注销账户开关：</label></dt>
      <dd class="radio">
        {#html_radios name="cfgcancellation" values=$cfgcancellation  checked=$cfgcancellationChecked output=$cfgcancellationNames separator="&nbsp;&nbsp;"#}
      </dd>
    </dl>

    <dl class="clearfix">
      <dt><label>单表最大行数控制：</label></dt>
      <dd>
        <input name="max_subtable_count" class="input-small" type="number" value="{#$max_subtable_count#}" min="1" id="max_subtable_count" data-regex="[0-9]\d*"></input>
        <span class="input-tips" style="display: inline-block;"><s></s>超过此数值将自动分表，默认100000【10万】</span>
      </dd>
    </dl>
	<dl class="clearfix">
      <dt><label>支付成功后跳转页面：</label></dt>
      <dd class="radio">
        {#html_radios name="payReturnType" values=$payReturnType checked=$payReturnTypeChecked output=$payReturnTypeNames separator="&nbsp;&nbsp;"#}
      </dd>
    </dl>
	<dl class="payReturnType1 clearfix {#if !$payReturnTypeChecked#}hide{#/if#}">
      <dt><label for="payReturnUrlPc">电脑端自定义跳转链接：</label></dt>
      <dd>
        <input class="input-xxlarge" type="text" name="payReturnUrlPc" id="payReturnUrlPc" value="{#$payReturnUrlPc#}" />
		<span class="input-tips" style="display: inline-block;"><s></s>留空将跳转到系统默认页面</span>
      </dd>
    </dl>
	<dl class="payReturnType1 clearfix {#if !$payReturnTypeChecked#}hide{#/if#}">
      <dt><label for="payReturnUrlTouch">移动端自定义跳转链接：</label></dt>
      <dd>
        <input class="input-xxlarge" type="text" name="payReturnUrlTouch" id="payReturnUrlTouch" value="{#$payReturnUrlTouch#}" />
		<span class="input-tips" style="display: inline-block;"><s></s>留空将跳转到系统默认页面</span>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label for="replacestr">敏感词过滤：</label></dt>
      <dd>
        <textarea name="replacestr" class="input-xxlarge" id="replacestr" rows="3" data-regex=".*">{#$replacestr#}</textarea>
        <span class="input-tips" style="display:inline-block;"><s></s>词语会被替换成“**”，多个请用“|”分隔开。<br />此处过滤功能比较简单，建议使用【内容审核】接口更为准确！</span>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label for="maliciousSplider">屏蔽恶意访问：</label></dt>
      <dd class="maliciousSplider">
        <textarea name="maliciousSplider" class="input-xxlarge" id="maliciousSplider" rows="5">{#$maliciousSplider#}</textarea>
        <span class="input-tips" style="display: inline-block;"><s></s>可以通过此处拦截垃圾爬虫或国外蜘蛛访问，此功能是根据来访者的User-Agent标识进行拦截；<br />常见的拦截标识如下，多个请用“|”分隔：<br /><code style="display: inline-block; width: 520px; height: 80px; white-space: normal;">Bytespider|FeedDemon|JikeSpider|Indy Library|Alexa Toolbar|AskTbFXTV|AhrefsBot|CrawlDaddy|CoolpadWebkit|Feedly|UniversalFeedParser|ApacheBench|Microsoft URL Control|Swiftbot|ZmEu|oBot|jaunty|lightDeckReports Bot|YYSpider|DigExt|MJ12bot|heritrix|Ezooms</code></span>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label for="secureDomain">系统安全域名：</label></dt>
      <dd class="secureDomain">
        <textarea name="secureDomain" class="input-xxlarge" id="secureDomain" rows="3">{#$secureDomain#}</textarea>
        <span class="input-tips" style="display: inline-block;"><s></s>不在列表中的域名，通过页面点击跳转前会先进入中转页，用户确认后才会跳转！<br />多个域名用“|”分隔，如：ihuoniao.cn|kumanyun.com|baidu.com<br />如果不想拦截任何域名，填写 * 号即可</span>
      </dd>
    </dl>
  </div>

  <div class="item hide">
    <dl class="clearfix hide">
      <dt><label>启用验证码：</label></dt>
      <dd>
        {#html_checkboxes name='seccodestatus' values=$seccodestatus output=$seccodestatusList selected=$seccodestatusitem separator="&nbsp;&nbsp;"#}
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label>验证码类型：</label></dt>
      <dd>
        {#html_radios name="seccodetype" values=$seccodetype checked=$seccodetypeChecked output=$seccodetypeNames separator="&nbsp;&nbsp;"#}
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label>验证码尺寸：</label></dt>
      <dd>
        <div class="input-prepend input-append">
          <span class="add-on">宽</span>
          <input class="span1" id="seccodewidth" name="seccodewidth" type="text" value="{#$seccodewidth#}" />
          <span class="add-on">px</span>
        </div>
        &times;
        <div class="input-prepend input-append">
          <span class="add-on">高</span>
          <input class="span1" id="seccodeheight" name="seccodeheight" type="text" value="{#$seccodeheight#}" />
          <span class="add-on">px</span>
        </div>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label for="seccodefamily">验证码字体：</label></dt>
      <dd>
        <select name="seccodefamily" id="seccodefamily">
          {#html_options values=$seccodefamily selected=$seccodefamilySelected output=$seccodefamily#}
        </select>
        <span class="input-tips" style="display:inline-block;"><s></s>字体文件存放在{#$HUONIAOINC#}/data/fonts下<br />如果是汉字水印，请选择“simhei.ttf”，否则水印不显示！</span>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label>随机倾斜度：</label></dt>
      <dd class="radio">
        {#html_radios name="scecodeangle" values=$scecodeangle checked=$scecodeangleChecked output=$scecodeangleNames separator="&nbsp;&nbsp;"#}
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label>随机扭曲：</label></dt>
      <dd class="radio">
        {#html_radios name="scecodewarping" values=$scecodewarping checked=$scecodewarpingChecked output=$scecodewarpingNames separator="&nbsp;&nbsp;"#}
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label>文字阴影：</label></dt>
      <dd class="radio">
        {#html_radios name="scecodeshadow" values=$scecodeshadow checked=$scecodeshadowChecked output=$scecodeshadowNames separator="&nbsp;&nbsp;"#}
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label>GIF 动画：</label></dt>
      <dd class="radio">
        {#html_radios name="scecodeanimator" values=$scecodeanimator checked=$scecodeanimatorChecked output=$scecodeanimatorNames separator="&nbsp;&nbsp;"#}
      </dd>
    </dl>
    <dl class="clearfix">
      <dt>预览：</dt>
      <dd><img id="sceimg" src="../../include/vdimgck.php" onClick="this.src='../../include/vdimgck.php'" /></dd>
    </dl>
  </div>
  <div class="item hide">
    <dl class="clearfix hide">
      <dt><label>启用验证问题：</label></dt>
      <dd>
        {#html_checkboxes name='secqaastatus' values=$secqaastatus output=$secqaastatusList selected=$secqaastatusitem separator="&nbsp;&nbsp;"#}
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label>问题及答：</label></dt>
      <dd>
        <ul class="qalist" id="qaList">
          <li class="qahead clearfix">
            <span class="row60">问题</span>
            <span class="row30">答案</span>
          </li>
        </ul>
        <a href="javascript:;" class="add-type" style="display:inline-block;" id="addNew">添加新问题</a>
      </dd>
    </dl>
  </div>
  <div class="item hide">
    <dl class="clearfix">
      <dt><label>功能开关：</label></dt>
      <dd id="geetestType">
        {#html_radios name="geetest" values=$geetest checked=$geetestChecked output=$geetestNames separator="&nbsp;&nbsp;"#}
      </dd>
    </dl>
    <div id="geetest1"{#if $geetestChecked != 1#} class="hide"{#/if#}>
        <dl class="clearfix">
            <dt></dt>
            <dd><a href="https://www.geetest.com" target="_blank">点击申请极验行为验证</a></dd>
        </dl>
        <dl class="clearfix">
            <dt><label for="geetest_id">ID：</label></dt>
            <dd><input class="input-xlarge" type="text" name="geetest_id" id="geetest_id" value="{#$geetest_id#}" /></dd>
        </dl>
        <dl class="clearfix">
            <dt><label for="geetest_key">KEY：</label></dt>
            <dd><input class="input-xlarge" type="text" name="geetest_key" id="geetest_key" value="{#$geetest_key#}" /></dd>
        </dl>
    </div>
    <div id="geetest2"{#if $geetestChecked != 2#} class="hide"{#/if#}>
        <dl class="clearfix">
            <dt></dt>
            <dd><a href="https://www.aliyun.com/product/security/captcha" target="_blank">点击申请阿里云验证码</a>，查看配置教程：<a href="https://help.kumanyun.com/help-225-1163.html" target="_blank">https://help.kumanyun.com/help-225-1163.html</a></dd>
        </dl>
        <dl class="clearfix">
            <dt><label for="geetest_AccessKeyID">AccessKey ID：</label></dt>
            <dd><input class="input-xlarge" type="text" name="geetest_AccessKeyID" id="geetest_AccessKeyID" value="{#$geetest_AccessKeyID#}" /></dd>
        </dl>
        <dl class="clearfix">
            <dt><label for="geetest_AccessKeySecret">Access Key Secret：</label></dt>
            <dd><input class="input-xlarge" type="text" name="geetest_AccessKeySecret" id="geetest_AccessKeySecret" value="{#$geetest_AccessKeySecret#}" /></dd>
        </dl>
        <dl class="clearfix">
            <dt><label for="geetest_prefix">身份标识：</label></dt>
            <dd><input class="input-xlarge" type="text" name="geetest_prefix" id="geetest_prefix" value="{#$geetest_prefix#}" /></dd>
        </dl>
        <dl class="clearfix">
            <dt><label>场景ID：</label></dt>
            <dd>
                <div class="input-prepend input-append">
                    <span class="add-on" style="width: 70px;">WEB端</span>
                    <input class="input-small" id="geetest_web" name="geetest_web" type="text" value="{#$geetest_web#}">
                </div><br />
                <div class="input-prepend input-append">
                    <span class="add-on" style="width: 70px;">H5端</span>
                    <input class="input-small" id="geetest_h5" name="geetest_h5" type="text" value="{#$geetest_h5#}">
                </div><br />
                <div class="input-prepend input-append">
                    <span class="add-on" style="width: 70px;">APP端</span>
                    <input class="input-small" id="geetest_app" name="geetest_app" type="text" value="{#$geetest_app#}">
                </div><br />
                <div class="input-prepend input-append">
                    <span class="add-on" style="width: 70px;">微信小程序</span>
                    <input class="input-small" id="geetest_wxmini" name="geetest_wxmini" type="text" value="{#$geetest_wxmini#}">
                </div>
            </dd>
        </dl>
    </div>
  </div>
  <div class="item hide">
      <div class="alert alert-success" style="margin:10px 20px 15px 50px!important;"><button type="button" class="close" data-dismiss="alert">×</button>发布信息时对文字、图片、音频、视频是否涉及政治人物、涉政暴恐、涉黄等内容进行审核，提升网络安全！<br />其中：文字和图片是同步审核，可以实时获知内容是否违规；音频和视频是先发后审，等待审核后如果内容违规，系统将自动清理违规内容，具体审核时间受文件大小、时长等因素影响。<br />配置教程：<br />阿里云：<a href="https://help.kumanyun.com/help-225-1180.html" target="_blank">https://help.kumanyun.com/help-225-1180.html</a><br />华为云：<a href="https://help.kumanyun.com/help-69-702.html" target="_blank">https://help.kumanyun.com/help-69-702.html</a></div>
    <dl class="clearfix">
      <dt><label>文字内容审核：</label></dt>
      <dd>
        {#html_radios name="moderationWB" values=$moderationWB checked=$moderationWBChecked output=$moderationWBNames separator="&nbsp;&nbsp;"#}
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label>图片内容审核：</label></dt>
      <dd>
        {#html_radios name="moderationTP" values=$moderationTP checked=$moderationTPChecked output=$moderationTPNames separator="&nbsp;&nbsp;"#}
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label>音频内容审核：</label></dt>
      <dd>
        {#html_radios name="moderationYP" values=$moderationYP checked=$moderationYPChecked output=$moderationYPNames separator="&nbsp;&nbsp;"#}
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label>视频内容审核：</label></dt>
      <dd>
        {#html_radios name="moderationSP" values=$moderationSP checked=$moderationSPChecked output=$moderationSPNames separator="&nbsp;&nbsp;"#}
      </dd>
    </dl>

    <dl class="clearfix">
        <dt><label>审核平台：</label></dt>
        <dd id="moderationPlatformType">
          {#html_radios name="moderationPlatform" values=$moderationPlatform checked=$moderationPlatformChecked output=$moderationPlatformNames separator="&nbsp;&nbsp;"#}
        </dd>
    </dl>

    <div id="moderation_aliyun"{#if $moderationPlatformChecked != 'aliyun'#} class="hide"{#/if#}>
        <dl class="clearfix">
        <dt><label for="moderation_aliyun_region">区域节点：</label></dt>
        <dd>
            <select id="moderation_aliyun_region" name="moderation_aliyun_region">
                <option value="">请选择</option>
                <option value="green-cip.cn-shanghai.aliyuncs.com"{#if $moderation_aliyun_region == 'green-cip.cn-shanghai.aliyuncs.com'#} selected{#/if#}>华东2（上海）</option>
                <option value="green-cip.cn-beijing.aliyuncs.com"{#if $moderation_aliyun_region == 'green-cip.cn-beijing.aliyuncs.com'#} selected{#/if#}>华北2（北京）</option>
                <option value="green-cip.cn-hangzhou.aliyuncs.com"{#if $moderation_aliyun_region == 'green-cip.cn-hangzhou.aliyuncs.com'#} selected{#/if#}>华东1（杭州）</option>
                <option value="green-cip.cn-shenzhen.aliyuncs.com"{#if $moderation_aliyun_region == 'green-cip.cn-shenzhen.aliyuncs.com'#} selected{#/if#}>华南1（深圳）</option>
            </select>
        </dd>
        </dl>
        <dl class="clearfix">
        <dt><label for="moderation_aliyun_key">Access Key Id：</label></dt>
        <dd><input class="input-xlarge" type="text" name="moderation_aliyun_key" id="moderation_aliyun_key" value="{#$moderation_aliyun_key#}" /></dd>
        </dl>
        <dl class="clearfix">
        <dt><label for="moderation_aliyun_secret">Access Key Secret：</label></dt>
        <dd><input class="input-xxlarge" type="text" name="moderation_aliyun_secret" id="moderation_aliyun_secret" value="{#$moderation_aliyun_secret#}" /></dd>
        </dl>
    </div>

    <div id="moderation_huawei"{#if $moderationPlatformChecked != 'huawei'#} class="hide"{#/if#}>
        <dl class="clearfix">
        <dt><label for="moderation_region">区域节点：</label></dt>
        <dd>
            <select id="moderation_region" name="moderation_region">
                <option value="">请选择</option>
                <option value="cn-north-1"{#if $moderation_region == 'cn-north-1'#} selected{#/if#}>华北-北京一</option>
                <option value="cn-north-4"{#if $moderation_region == 'cn-north-4'#} selected{#/if#}>华北-北京四</option>
                <option value="cn-east-3"{#if $moderation_region == 'cn-east-3'#} selected{#/if#}>华东-上海一</option>
                <option value="ap-southeast-1"{#if $moderation_region == 'ap-southeast-1'#} selected{#/if#}>亚太-香港</option>
            </select>
        </dd>
        </dl>
        <dl class="clearfix">
        <dt><label for="moderation_projectId">项目projectId：</label></dt>
        <dd>
            <input class="input-xlarge" type="text" name="moderation_projectId" id="moderation_projectId" value="{#$moderation_projectId#}" />
            <span class="input-tips" style="display:inline-block;"><s></s>用户的project_id 登陆华为云 -> 用户中心 -> 我的凭证 -> api凭证 即可查看对应区域的项目ID。</span>
        </dd>
        </dl>
        <dl class="clearfix">
        <dt><label for="moderation_key">Access Key Id：</label></dt>
        <dd><input class="input-xlarge" type="text" name="moderation_key" id="moderation_key" value="{#$moderation_key#}" /></dd>
        </dl>
        <dl class="clearfix">
        <dt><label for="moderation_secret">Secret Access Key：</label></dt>
        <dd><input class="input-xxlarge" type="text" name="moderation_secret" id="moderation_secret" value="{#$moderation_secret#}" /></dd>
        </dl>
    </div>
  </div>
  <div class="item hide">
    <div class="alert alert-success" style="margin:10px 20px 15px 50px!important;"><button type="button" class="close" data-dismiss="alert">×</button>此功能用于对隐私数据加密传输（如：登录、注册、找回密码、修改个人资料等），通过网络传输时为加密内容，防止机密信息被抓包窃取，私钥内容请勿泄漏，如发现已经泄漏，请及时更新私钥和公钥！</div>
    <dl class="clearfix">
      <dt><label>私钥：</label></dt>
      <dd>
        <textarea class="input-xxlarge" rows="5" name="encryptPrivkey" id="encryptPrivkey" data-regex=".*" style="width: 630px; height: 400px;">{#$encryptPrivkey#}</textarea>
        <a href="javascript:;" class="autoget variable variable-0 inline" data-type="rsa" style="display: inline;">在线生成</a>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><label>公钥：</label></dt>
      <dd>
        <textarea class="input-xxlarge" rows="5" name="encryptPubkey" id="encryptPubkey" data-regex=".*" style="width: 630px; height: 150px;">{#$encryptPubkey#}</textarea>
      </dd>
    </dl>
  </div>
  <div class="item hide">
    <div class="alert alert-success" style="margin:10px 20px 15px 50px!important;"><button type="button" class="close" data-dismiss="alert">×</button>此功能用于对敏感数据加密存储（如：真实姓名、身份证号码、手机号码、银行卡号、邮箱地址、收货地址等），保存在数据库中的这些数据为加密状态，确保用户数据安全！</div>
    <dl class="clearfix">
        <dt><label for="aes_key">密钥：</label></dt>
        <dd>
            <input class="input-xlarge" type="text" name="aes_key" id="aes_key" value="{#$aes_key#}" />
            <a href="javascript:;" class="autoget variable variable-0 inline" data-type="aes" style="display: inline;">随机生成</a>
            <span class="help-inline" style="font-size: 12px;">默认生成的是15位，如需其他长度的密钥，请自行填写！</span>

            <p style="padding-left: 0; font-size: 12px; padding-top: 30px; color: #999;"><strong style="color: red;">使用本功能前，请务必做好数据库备份，以免操作错误导致数据异常无法恢复！！！</strong><br /><br />为了防止转换数据时有新数据写入，请在转换数据前，<font color="red">先关闭网站</font>【系统基本参数-网站状态-禁用】，否则可能会导致数据异常！<br />一、首次使用：填写好密钥并保存后，<a href="javascript:;" class="convertAesData" data-type="first">开始转换数据>>></a><br />二、已经使用，现在需要修改密钥：修改前，请务必记好上次使用的密钥，填写好新密钥并保存后，<a href="javascript:;" class="convertAesData" data-type="last">开始转换数据>>></a><br />注意：如果有多次重复生成和保存操作，需要将上次使用的密钥手动填写至<code>{#$HUONIAOINC#}/config/siteConfig.inc.php</code>文件的<code>$cfg_aes_key_last</code>值处。<br /><br />转换结束后，请检查用户列表数据是否正常，没有问题后重新启用网站，如果数据有问题，先恢复数据后联系售后处理！</p>
        </dd>
    </dl>
  </div>
  <dl class="clearfix formbtn">
    <dt>&nbsp;</dt>
    <dd><input class="btn btn-large btn-success" type="submit" name="submit" id="btnSubmit" value="确认提交" /></dd>
  </dl>
</form>

{#$jsFile#}
</body>
</html>
