<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
<title>{#$pagetitle#}</title>
{#$cssFile#}
<script>
var thumbSize = {#$thumbSize#}, thumbType = "{#$thumbType#}",
	adminPath = "{#$adminPath#}";
var service = 'house';
</script>
</head>

<body>
<div class="search">
    <label>管理 <strong>{#$loupaname#}</strong> 顾问</label>
</div>

<form action="" method="post" name="editform" id="editform" class="editform">
    <input type="hidden" name="dopost" id="dopost" value="{#$dopost#}" />
    <input type="hidden" name="id" id="id" value="{#$id#}" />
    <input type="hidden" name="loupanid" id="loupanid" value="{#$loupanid#}" />
    <input type="hidden" name="token" id="token" value="{#$token#}" />
    <dl class="clearfix">
        <dt><label for="user">选择会员：</label></dt>
        <dd style="position:static;">
        <input class="input-medium" type="text" name="user" id="user" value="{#$username#}" autocomplete="off" />
        <input type="hidden" name="userid" id="userid" value="{#$userid#}" />
        <span class="input-tips"><s></s>请输入网站对应会员名</span>
        <div id="userList" class="popup_key"></div>
        </dd>
    </dl>
    <dl class="clearfix">
        <dt><label for="name">顾问姓名：</label></dt>
        <dd>
        <input class="input-xlarge" type="text" name="name" id="name" data-regex=".{1,60}" maxlength="60" value="{#$name#}" />
        <span class="input-tips"><s></s>请输入顾问姓名</span>
        </dd>
    </dl>
    <dl class="clearfix">
        <dt><label for="photo">头像：</label></dt>
        <dd class="thumb fn-clear listImgBox">
            <div class="uploadinp filePicker thumbtn{#if $photo != ""#} hide{#/if#}" id="filePicker1" data-type="thumb"  data-count="1" data-size="{#$thumbSize#}" data-imglist=""><div></div><span></span></div>
            {#if $photo != ""#}
            <ul id="listSection1" class="listSection thumblist fn-clear" style="display:inline-block;"><li id="WU_FILE_0_1"><a href='{#$cfg_attachment#}{#$photo#}' target="_blank" title=""><img alt="" src="{#$cfg_attachment#}{#$photo#}" data-val="{#$photo#}"/></a><a class="reupload li-rm" href="javascript:;">删除图片</a></li></ul>
            {#else#}
            <ul id="listSection1" class="listSection thumblist fn-clear"></ul>
            {#/if#}
            <input type="hidden" name="photo" value="{#$photo#}" class="imglist-hidden" id="photo">
        </dd>
    </dl>
    <dl class="clearfix">
        <dt><label for="wxQr">微信二维码：</label></dt>
        <dd class="thumb fn-clear listImgBox">
            <div class="uploadinp filePicker thumbtn{#if $wxQr != ""#} hide{#/if#}" id="filePicker2" data-type="atlas"  data-count="1" data-size="{#$atlasSize#}" data-imglist=""><div></div><span></span></div>
            {#if $wxQr != ""#}
            <ul id="listSection1" class="listSection thumblist fn-clear" style="display:inline-block;"><li id="WU_FILE_0_1"><a href='{#$cfg_attachment#}{#$wxQr#}' target="_blank" title=""><img alt="" src="{#$cfg_attachment#}{#$wxQr#}" data-val="{#$wxQr#}"/></a><a class="reupload li-rm" href="javascript:;">删除图片</a></li></ul>
            {#else#}
            <ul id="listSection1" class="listSection thumblist fn-clear"></ul>
            {#/if#}
            <input type="hidden" name="wxQr" value="{#$wxQr#}" class="imglist-hidden" id="wxQr">
        </dd>
    </dl>
    <dl class="clearfix">
        <dt><label for="phone">手机号码：</label><input type="hidden" name="areaCode" id="areaCode" value="{#$areaCode#}" /></dt>
        <dd style="overflow: inherit; padding-left: 140px;" id="phoneArea">
        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">{#if $areaCode#}+{#$areaCode#}{#else#}区号{#/if#}<span class="caret"></span></button>
        <ul class="dropdown-menu" style="left: 140px; max-height: 300px; overflow-y: auto;">
          {#foreach from=$internationalPhoneCode item=p#}
	      <li><a href="javascript:;" data-id="+{#$p.code#}">{#$p.name#}&nbsp;&nbsp;+{#$p.code#}</a></li>
          {#/foreach#}
        </ul>
        <input class="input-large" type="text" name="phone" id="phone" data-regex=".{1,60}" maxlength="60" value="{#$phone#}" />
        <span class="input-tips"><s></s>请输入手机号码</span>
        </dd>
    </dl>
    <dl class="clearfix">
        <dt><label for="wx">微信号码：</label></dt>
        <dd>
        <input class="input-xlarge" type="text" name="wx" id="wx" data-regex=".{0,60}" maxlength="60" value="{#$wx#}" />
        <span class="input-tips"><s></s>请输入微信号码</span>
        </dd>
    </dl>
    <dl class="clearfix">
        <dt><label for="post">职位名称：</label></dt>
        <dd>
        <input class="input-xlarge" type="text" name="post" id="post" data-regex=".{0,60}" maxlength="60" value="{#$post#}" />
        <span class="input-tips"><s></s>请输入职位名称</span>
        </dd>
    </dl>
    <dl class="clearfix">
        <dt><label for="dknum">带看次数：</label></dt>
        <dd>
            <div class="input-prepend input-append">
                <input class="input-mini" type="number" name="dknum" id="dknum" value="{#$dknum#}" />
                <span class="add-on">次</span>
            </div>
        </dd>
    </dl>
    <dl class="clearfix">
        <dt><label for="cjnum">成交次数：</label></dt>
        <dd>
            <div class="input-prepend input-append">
                <input class="input-mini" type="number" name="cjnum" id="cjnum" value="{#$cjnum#}" />
                <span class="add-on">次</span>
            </div>
        </dd>
    </dl>
    <dl class="clearfix">
        <dt><label>自定义项：</label></dt>
        <dd>
            <div class="input-prepend input-append">
                <span class="add-on">标题</span>
                <input class="input-small" type="text" name="ext_title_1" id="ext_title_1" value="{#$ext_title_1#}" />
                <span class="add-on">内容</span>
                <input class="input-medium" type="text" name="ext_val_1" id="ext_val_1" value="{#$ext_val_1#}" />
            </div><br />
            <div class="input-prepend input-append">
                <span class="add-on">标题</span>
                <input class="input-small" type="text" name="ext_title_2" id="ext_title_2" value="{#$ext_title_2#}" />
                <span class="add-on">内容</span>
                <input class="input-medium" type="text" name="ext_val_2" id="ext_val_2" value="{#$ext_val_2#}" />
            </div>
        </dd>
    </dl>
  <dl class="clearfix formbtn">
    <dt>&nbsp;</dt>
    <dd><button class="btn btn-large btn-success" type="submit" name="button" id="btnSubmit">确认提交</button></dd>
  </dl>
</form>

{#$jsFile#}
</body>
</html>
