/* **************动画样式**************** */

canvas {
	display: block;
	position: absolute;
	bottom:.54rem;
	right: -.1rem;
	
	z-index:3;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/**
 * ----------------------------------------
 * animation wobble-hor-bottom
 * ----------------------------------------
 */
@-webkit-keyframes wobble-hor-bottom {
  0%,30%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  5% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  10% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  15% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  20% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  25% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  30%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  5% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  10% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  15% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  20% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  25% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}


/**
 * ----------------------------------------
 * animation shake-br
 * ----------------------------------------
 */
@-webkit-keyframes shake-br {
  0%,75%
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
    }
    78% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    84%,
    80%,
    88% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    80%,
    86%,
    90% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    93% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    96% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
  }
@keyframes shake-br {
  0%,75%
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  78% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  84%,
  80%,
  88% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  80%,
  86%,
  90% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  93% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  96% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}



/* ----------------------------------------------
 * Generated by Animista on 2020-7-17 16:39:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-top
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
}
@keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
}
