body,html{background-color:#F5F5F7}

.blackFix{position: fixed;top:.9rem;left:0;right:0;z-index: 0;background: #fff;height: 1rem;display: none;    box-shadow: 0 0.03rem 0.13rem 0 rgba(0, 0, 0, 0.05);overflow: hidden;}
.huoniao_iOS .blackFix{top: 0}
.blackFix.show{z-index: 100;display: block;}
.blackFix  .tab_ul{padding-top: .24rem}
.blackFix  .tab_ul li h2{margin-bottom: .4rem}
.huoniao_iOS .search-form{padding-top: .2rem}
.file_ImgUp{position: absolute; left: 0; right: 0; top: 0; bottom: 0; opacity: 0; width: 100%; height: 100%;}
.soutu{height: 1rem;line-height: 1rem;background: rgba(0,0,0,0.87);border-radius: .3rem;padding: 0 .45rem 0 .33rem;position: fixed;top: 50%;left: 50%;transform: translate(-50%,-50%);z-index: 1001;font-size: .24rem;color: #fff;display: none;}
.soutu i{display: inline-block;width: .6rem;height: .6rem;background: url('../images/soutu.png') no-repeat center;background-size:.6rem;margin-top: .2rem;animation: xuanzhuan 1s infinite linear;}
.soutu span{display: inline-block;vertical-align: top;margin-left: .08rem;}

.main_wrap{position: relative;z-index: 99;background: #fff;margin-top: 2.65rem;padding-top: .4rem}

.banner_wrap{margin-bottom: .22rem}
.banner_wrap .fixImg{width: 100%;height:4.32rem; position: fixed;top: 0;background: #fff;}
.banner_wrap .fixImg img{width: 100%;height:4.32rem;}
.huoniao_iOS .banner_wrap .fixImg{height: 3.52rem}
.huoniao_iOS .banner_wrap .fixImg img{width: 100%;height:3.52rem;}
.banner_wrap .header .header-search a{background: url('../images/header_down.png') no-repeat center;background-size:.4rem;}
.banner_wrap .header-l a{background: url('../images/header_l.png') no-repeat center;background-size:.4rem;}
.banner_wrap .header .header-address{color: #fff;}

/*头部幻灯片部分*/
.huoniao_iOS .banner{top: .7rem}
.banner{position: absolute;top:1.6rem;left: 0;right: 0;z-index: 100;  pointer-events: none; }
.banner .wrapper {position: relative;}
.banner .wrapper .swiper-container {color: #fff;text-align: center;padding-bottom:.8rem;overflow: hidden;padding-top: .35rem;  height: 2.8rem;}
.banner .wrapper .swiper-container .swiper-wrapper{pointer-events: all;}
.banner .wrapper .swiper-container .slideshow-item{transition: all .3s ease-in-out;-webkit-flex-shrink: 0; -ms-flex: 0 0 auto; flex-shrink: 0; width:6.5rem;position: relative;overflow: hidden; border-radius: .2rem;display: block;overflow: hidden;box-shadow:0px 10px 24px 0px rgba(106, 106, 106, 0.1); transform: scale(.91);}
/*.banner.initBanner .wrapper .swiper-container .slideshow-item:first-child{margin-left: calc(50vw - 3.25rem)}*/
.banner .wrapper .swiper-container .swiper-slide-active{ transform: scale(1);}
.banner .wrapper .siteAdvObj{width: 100%;height: 100%}
.banner .wrapper .siteAdvObj a{width: 100%;height: 100%;display: block;overflow: hidden;box-shadow:0px 6px 24px 0px rgba(106, 106, 106, 0.35);}
.banner .wrapper .swiper-wrapper img {display: block;width: 100%;border: none;border-radius: .2rem; height:100%; object-fit: cover;}
.banner .wrapper .swiper-wrapper .slideinfo {display: none;}
.banner .wrapper .pagination {position: absolute;z-index: 20;left: 0;bottom: .8rem;width: 100%;}
.banner .wrapper .swiper-pagination-switch {display: inline-block;width: 0.12rem;height: 0.12rem;border-radius: 0.16rem;background: #555;margin-right: 5px;opacity: 0.8;border: 1px solid #fff;cursor: pointer;}
.banner .wrapper .swiper-active-switch {background: #fff;}
.banner .wrapper .swiper-dynamic-links {text-align: center;}
.banner .wrapper .swiper-pagination-bullet-active{width: .2rem!important;height:.1rem;border-radius: .05rem!important;background: #EC3628!important;opacity: 1!important;}
.banner .wrapper .swiper-pagination-bullet{width: .1rem;height: .1rem;background: #fff;opacity: .7; border-radius: 100%; transition: all .4s ease-in-out;-ms-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;-webkit-transition: all .4s ease-in-out;-o-transition: all .3s ease-in-out;opacity: 1;}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{text-align: center;}
/*头部搜索框的覆盖页面*/
.banner_wrap .header{position: fixed;top: 0;left: 0;right: 0;overflow: hidden;background: none !important;padding: 0 .3rem;z-index: 1000;}
.banner_wrap .header.fixed{background:rgba(232,20,8,1) url('../images/banner_bg.png') no-repeat center !important;background-size: 100% auto !important;}
.banner_wrap .header.fixed i.header-sou{display: none;}
.banner_wrap .header i.header-sou{position: absolute;top:.26rem;right: 1rem;width: .4rem;height: .4rem;background:url('../images/head-sou.png') no-repeat center;background-size:.4rem;display: none;}
.header-l a,.header-search a{width: .4rem;}
.dropnav em{right: -.1rem}


.search-form.search-fixForm .inp{}
.search-fixForm p.fake-input{font-size: .24rem;color: #ADAFBA;padding-left: .5rem}
.search-fixForm p.fake-input i{position:relative;width:.4rem;height:.4rem;display:inline-block;vertical-align:middle;background:url('../images/inp_s.png') no-repeat center;background-size:.4rem;margin-top: -2px;}

.search-form.search-fixForm .areachose span{color: #000}
.search-form.search-fixForm .areachose {-webkit-box-flex: 3;}
.search-form.search-fixForm .imgsearch{    top: .1rem;right: .3rem;}
.search-form.search-fixForm .inp .inp_wrap{width:3.4rem ;background: none}
.search-form.search-fixForm .inp input{width: 100%}
.search-form.search-fixForm .typelist{top: .6rem; }
.search-form .clear_inp{width: .4rem;height: .4rem;position: absolute;top: .08rem;right: 1.1rem;display: none}
.search-form.search-fixForm  .clear_inp{top: .1rem}
.search-form.search-fixForm .clear_inp{right: .1rem;}
.search-form .clear_inp img{width: .4rem;height: .4rem;}
.search-form.search-fixForm.show .inp{-webkit-box-flex:3;}
.search-form.search-fixForm .areachose s {background:url('../images/chose-arr.png') no-repeat center;background-size:.2rem;}

.serach_cover{position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: #fff;z-index: 1000; display: none; -webkit-animation: rightFadeIn .1s ease-out; -moz-animation: rightFadeIn .1s ease-out; animation: rightFadeIn .1s ease-out;}
.serach_cover.show{display: block;}
.serach_cover .search-fixForm{position: absolute;background: #fff!important;height: .6rem;top: 0;left: 0;right: 0;padding:.15rem .4rem .15rem .3rem;}
.serach_cover .search-fixForm .sobj{width: 5.9rem;background: #F5F6FA;height: .6rem;border-radius: .3rem;line-height: .6rem}
.cancel_serach{float: right;position: absolute;right: .4rem;top: .24rem;font-size: .3rem;color: #000;font-weight: bold;}
.serach_cover .imgsearch .imgsearch-btn{ background: url('../images/top_camera.png'); background-size: .4rem; background-repeat: no-repeat;}
.sousuo{padding: .88rem .3rem 0;}
.serach_cover h2.ser-title{font-size: .26rem;color: #212121;font-weight: bold;margin-top: .62rem;margin-bottom: .25rem;padding-left: .07rem}
.serach_cover h2.ser-title i{display: inline-block;float: right;width: .4rem;height: .4rem;background: url('../images/del-histroy.png') no-repeat; background-size: .4rem; }
.serach_cover a{float: left;padding: 0 .37rem;height: .6rem;line-height: .6rem;border-radius: .3rem;background: #F5F6F8;margin-right: .2rem;margin-bottom: .18rem;}
.serach_cover a font{color: #49494D !important;}
.story-search{display: none;}
.hot-div{height: 1.5rem;overflow: hidden;}

.histroy-div{max-height: 1.5rem; overflow: hidden;}


/* 搜索 */
.search-form {padding:.1rem .32rem;position: relative;padding-top: 1rem; padding-left: .24rem}
.search-form .sobj {height:.56rem;;line-height:.56rem;display:-webkit-box;}
.search-form .areachose {position:relative;-webkit-box-flex:2;text-align: center; min-width: 1.2rem; display: flex; align-items: center; margin-right: .1rem; margin-top: .04rem}
.search-form .areachose a {display:block;font-size:.24rem;color:#333;}
.search-form .areachose span {display:inline-block;vertical-align:middle;min-width:.5rem;max-width:1.8rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size: .28rem;color: #fff; flex-shrink: 0; font-size: .32rem; font-weight: bold}
.search-form .areachose s {display:inline-block;vertical-align:middle;   width: .2rem;height: .2rem;margin-left: .05rem;margin-top: 0;background:url('../images/chose-arr.png') no-repeat center;background-size:.2rem;}
.search-form .inp {-webkit-box-flex:6; position: relative;}
.search-form .inp form {position:relative;display:block;color:#a0a0a0;  display: flex; align-items: center; justify-content: flex-start;}
.search-form .inp input{width: 65%;height: .5rem;border: none;background: none;}
.search-form .inp input::-webkit-input-placeholder {/* Chrome/Opera/Safari */color: #ADAFBA;font-size: .24rem}
.search-form .inp input::-moz-placeholder {/* Firefox 19+ */color: #ADAFBA;font-size: .24rem}
.search-form .inp input:-ms-input-placeholder {/* IE 10+ */color: #ADAFBA;font-size: .24rem}
.search-form .inp input:-moz-placeholder {/* Firefox 18- */color: #ADAFBA;font-size: .24rem}
.search-form .inp s {position:relative;width:.4rem;height:.4rem;display:inline-block;vertical-align:middle;background:url('../images/inp_s.png') no-repeat center;background-size:.4rem;margin-left: .17rem;margin-top: -2px;}
/*.search-form .inp #search {position:absolute;right:.1rem;top:0;color:#fff;font-size:.3rem;font-weight: bold;}*/
.search-form .inp #search {color:#fff;font-size:.3rem;font-weight: bold; flex-shrink: 0; margin-left: .3rem;}
.search-form .qiandao {float:left;margin-left:.1rem;width: 1rem; height: .76rem;line-height: .76rem;border-radius: .08rem;background: #ffc834;text-align: center; color: #fff;font-size: .3rem;}
.inp .inp_wrap{background: #fff;border-radius: .28rem;width: 4.7rem; flex-shrink: 1; }
.bigForm .inp_wrap{width: 100%}
/*搜索类型选择*/
.typelist{display:none;width: 1.9rem;height: 1.3rem;position: absolute;top:1.5rem;background: url('../images/type_bg.png'); background-size: 1.9rem 1.3rem;left: .2rem; z-index: 101}
.typelist.show{display: block;}
.typelist p{font-size: .28rem;color: #000;text-align: center;margin-top: .45rem}
.huoniao_iOS .typelist{top:.6rem;}
.qiandao a{color:#fff;}

.imgsearch {position: absolute; z-index: 10; top: .04rem; right: 1.2rem; width: .48rem; height: .48rem;}
.imgsearch .imgsearch-btn {width: .48rem; height: .48rem; display: block; background: url('../images/camera.png'); background-size: .48rem; background-repeat: no-repeat;}

/*模块链接*/
.module ul{padding-bottom: .5rem;}
.module li{width: 25%;float: left;text-align: center;padding-top:.5rem;}
.module li a{display: block;}
.module li span.icon-circle{display: block;margin: 0 auto; padding-bottom: .2rem;}
.module li span.icon-txt{font-size: .28rem;}
.module li span img{display: block;width: 1rem;height: 1rem;margin: 0 auto;}


/*滑动导航*/
.pub_wrap{padding: 0 0 .06rem 0;}
.pub_wrap .nav_wrap{background: #fff;}
.tcInfo{position: relative;overflow: hidden;padding: .2rem 0 .1rem}
.tcInfo ul{overflow: hidden;}
.pub_wrap li{ margin-bottom: .2rem;}
.pub_wrap li{width: 20%;float: left;text-align: center;}
.pub_wrap li a{display: block;}
.pub_wrap li span.icon-circle{display: block;margin: 0 auto;padding-top: .1rem; padding-bottom: .1rem;}
.pub_wrap li span.icon-txt{font-size: .26rem;color: #45464D;}
.pub_wrap li span img{display: block;width: 1rem;height: 1rem;margin: 0 auto;}

.tcInfo .swiper-wrapper{height: auto !important;}
.tcInfo .pagination {height: .08rem;width: .48rem;margin: 0 auto;border-radius: .04rem;overflow: hidden;}
.tcInfo .swiper-pagination-bullet{width: .2rem;height: .08rem;background: #E6E6E6;opacity: 1;    vertical-align: top;margin: 0!important;border-radius: 0}
.tcInfo .swiper-pagination-bullet-active{background: #F23729!important;opacity: 1!important;border-radius: .04rem;width: .28rem;}
/*领券中心*/
.otheroper{padding: .28rem .3rem .3rem;}
.otheroper ul{display: flex;justify-content: space-between;}
.otheroper li{float: left;width: 2.2rem;height: 1.3rem;border: 1px solid #f5f5f7;border-radius: .1rem;overflow: hidden;box-sizing: border-box;    text-align: left;margin-bottom: 0}
.otheroper li a{display: block;width: 100%;height: 100%;box-sizing: border-box;padding: .14rem .2rem;}
.otheroper li.linq a{background: url('../images/linq.png') no-repeat right bottom; background-size: .86rem .72rem;}
.otheroper li.findS a{background: url('../images/findS.png') no-repeat right bottom; background-size: .86rem .72rem;}
.otheroper li.tuij a{background: url('../images/tuij.png') no-repeat right bottom; background-size: .86rem .72rem;}
.otheroper li h3{font-size: .32rem;color: #333;font-weight: bold;}
.otheroper li p{font-size: .22rem;color: #999;}
/*广告位*/
.advBox1{margin: 0 .2rem; margin-bottom:.4rem;}
.advBox1 .wrapper {position: relative;}
.advBox1 .swiper-container {color: #fff;text-align: center;}
.advBox1 .swiper-container .slideshow-item {-webkit-flex-shrink: 0; -ms-flex: 0 0 auto; flex-shrink: 0; width: 100%; height: 100%; position: relative;margin-bottom: .42rem;}
.advBox1 .swiper-container .slideshow-item img{    display: block; width: 100%;}

.containerWrap{padding-bottom:calc(.8rem + constant(safe-area-inset-bottom));padding-bottom: calc(.8rem + env(safe-area-inset-bottom));background: #f5f5f7;z-index:2;position: relative;}
.containerWrap::before{content: '';display: block;position: absolute;top:0;left: 0;width: 100%;height: 1.55rem;background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);z-index: -1}
/*热门团购*/
.daodian{position: absolute;left: 0;top: 0;font-size: .2rem;color: #fff;padding: 0 .1rem;display: inline-block;line-height: .32rem;border-radius: .1rem 0px .1rem 0px;background: rgba(0,0,0,.6);}
.hotTuan{margin: 0 .3rem .3rem;background:#fff url('../images/tuan_bg.png') no-repeat top center;background-size: 100% auto; border-radius: .26rem;overflow: hidden;padding-bottom: .22rem;}
.hotTuan .hotTop{padding: .22rem .2rem .3rem .23rem;}
.hotTuan .hotTop>div{display: flex;align-items: center;justify-content: space-between;}
.hotTuan .hotTop>div.fn-hide{display: none;}
.hotTuan .hotTop strong{font-size: .38rem;color: #fff;}
.hotTuan .hotTop em{font-size: .22rem;color: rgba(255,255,255,.8);margin-left: .12rem;}
.hotTuan .hotTop a{font-size: .24rem;color: #fff;float: right;display: flex;align-items: center;}
.hotTuan .hotTop a s{display: inline-block;width: .39rem;height: .39rem;background: url('../images/tuan-more.png') no-repeat center; background-size: .39rem;margin-left: .1rem}
.hottuanlist{padding: 0 .2rem;}
.hottuanlist li {float: left;margin-right: .19rem;width: 2.04rem;}
.hottuanlist li:last-child{margin-right: 0}
.hottuanlist li a{display: block;}
.hottuanlist li .topImg{width: 100%;height: 2rem;border-radius: .1rem;overflow: hidden;position: relative;}
.hottuanlist li .topImg img{width: 100%;height: 100%;display: block;object-fit: cover}
.hottuanlist li .hottuanInfo{padding: .04rem .1rem 0 .04rem}
.hottuanlist li .hottuanInfo h2{font-size: .26rem;font-weight: bold;max-width: 100%;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.hottuanlist li .hottuanInfo h3{font-size: .22rem;color: #999;max-width: 100%;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;margin-bottom: .1rem}
.hottuanlist li .htuanPrice{white-space: nowrap;}
.hottuanlist li .htuanPrice span{color: #EC3628;font-size: .22rem;font-family:DINMit; }
.hottuanlist li .htuanPrice span strong{font-size: .32rem;}
.hottuanlist li .htuanPrice s{font-size: .2rem;color: #7A7B80;}
.hottuanlist li .htSale{display: flex;align-items: center;justify-content: space-between;margin-top: .08rem;}
.hottuanlist li .htSale em{font-size: .2rem;color: #999}
.hottuanlist li .htSale span{font-size: .24rem;color: #fff;background: linear-gradient(90deg, #F75F42 0%, #F22A18 100%);line-height: .44rem;border-radius: .22rem;padding: 0 .2rem;}
.hottuanlist li.htuan_ph{width: 2.04rem;height:3rem;background: #f2f2f2;border-radius: .1rem }
.hottuanlist .nodata{text-align: center;line-height: 1rem;font-size: .3rem;color: #999}
/*拼团特惠*/
.pinTuan{margin: 0 .3rem .3rem;background:#fff url('../images/pintuan_bg.png') no-repeat top center;background-size: 100% auto; border-radius: .26rem;overflow: hidden;}
.pinTuan .pinTop{padding: .3rem .2rem .3rem .27rem;}
.pinTuan .pinTop strong{font-size: .38rem;color: #222;}
.pinTuan .pinTop a{font-size: .24rem;color: #B37447;float: right;display: flex;align-items: center;}
.pinTuan .pinTop a s{display: inline-block;width: .38rem;height: .38rem;background: url('../images/pt-more.png') no-repeat center; background-size: .38rem;margin-left: .1rem}
.pintuanlist{ margin-bottom: .2rem;}
.pintuanlist .swiper-slide{width:1.7rem;margin-right: .2rem;text-align: center;padding-bottom: .26rem;}
.pintuanlist .swiper-slide:first-child{margin-left: .2rem;}
.pintuanlist .htuan_ph{height:3rem;background: #f2f2f2;border-radius: .1rem;}
.pintuanlist .top_img{width: 100%;height: 1.7rem;border-radius: .1rem;overflow: hidden;position: relative;}
.pintuanlist .top_img img{width: 100%;height: 100%;display: block;object-fit: cover}
.pintuanlist .top_img p{position: absolute;left: 0;right: 0;bottom: 0;border-radius: 0px 0px .1rem .1rem;font-size: .2rem;color: #fff;line-height: .32rem;background: rgba(243,36,32,.8);}
.pintuanlist .ptInfo{padding: .14rem .1rem 0;}
.pintuanlist .ptPrice span{color: #EC3628;font-size: .22rem;font-family:DINMit; display: block;text-align: center;}
.pintuanlist .ptPrice span strong{font-size: .32rem;}
.pintuanlist .ptPrice s{font-size: .2rem;color: #999;display: block;text-align: center;margin-top: -.1rem}
.pintuanlist .ptSale{font-size: .2rem;color: #FE6F37;line-height: .3rem;border-radius: .06rem;padding: 0 .12rem;display: inline-block;border: 1px solid #ff9e66
;border-radius: .06rem;margin-top: .14rem}
.pintuanlist .nodata{text-align: center;line-height: 1rem;font-size: .3rem;color: #999}

/*砍价*/
.kanWrap{border-radius:.26rem;background: #fff;margin: 0 .3rem;padding-bottom: .32rem;background: url(../images/kan_bg.png) center top no-repeat;background-size:100% auto;height: 3.48rem; box-sizing: border-box;}
.kanWrap .kantit{padding: .26rem .2rem .24rem .23rem;}
.kanWrap .kantit strong{font-size: .38rem;color: #fff;float: left;}
.kanWrap .kantit .swiper-container{float: left;height: .24rem;line-height: .24rem;margin-top: .16rem;margin-left: .1rem; max-width: 60%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.kanWrap .kantit .swiper-slide{font-size: .22rem;color: rgba(255,255,255,.8);}
.kanWrap .kantit a{float: right;font-size: .24rem;color: #fff;display: flex;align-items: center;    margin-top: .06rem;}
.kanWrap .kantit a s{display: inline-block;width: .38rem;height: .38rem;background: url('../images/kan-more.png') no-repeat center; background-size: .38rem;margin-left: .1rem}

/*.kanCon{padding-left: .2rem;}*/
.kanCon .swiper-slide:first-child{margin-left: .2rem;}
.kanCon .swiper-wrapper.widthAll .swiper-slide{width: auto;}
.kanCon .swiper-wrapper.widthAll .swiper-slide a{width: 100%}
.kanCon .swiper-wrapper.widthAll .swiper-slide .kanInfo .nPrice{background-size: cover; border-radius: .16rem; max-width: 3rem}
.swiper-wrapper.widthAll{display: block !important;}
.kanCon .swiper-slide{width: 4.85rem;margin-right: .2rem;background: #fff;border-radius: .1rem; }
.kanCon .swiper-slide a{display: block;box-sizing: border-box;padding:.2rem;width: 4.85rem;}
.kanCon .kanImg{width: 1.8rem;height: 1.8rem;border-radius:.1rem;float: left;overflow: hidden;box-sizing: border-box;}
.kanCon .kanImg img{width: 100%;height: 100%;object-fit: cover;}
.kanCon .kanInfo {margin-left: 2rem;height: 1.8rem;}
.kanCon .kanInfo h3{font-size: .28rem;font-weight: bold;max-width: 100%;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;    padding-top: .06rem;}
.kanCon .kanInfo .mPrice{font-size: .2rem;color: #A6A8B3;margin-top: .22rem;text-decoration: line-through; }
.kanCon .kanInfo .mPrice span{font-size: .26rem;}
.kanCon .kanInfo .nPrice{background: url(../images/nPrice.png) no-repeat center;background-size: 100% .66rem;line-height: .66rem;padding-left: .12rem;height: .66rem;margin-top: .12rem;    display: flex;align-items: center;justify-content: space-between;}
.kanCon .kanInfo .nPrice span{color: #fff;font-family: DINMit;font-size: .26rem;height: .66rem;display: flex;align-items: baseline;    line-height: .74rem;}
.kanCon .kanInfo .nPrice strong{font-size: .38rem;font-weight: normal;}
.kanCon .kanInfo .nPrice em{font-size: .28rem;}
.kanCon .kanInfo .nPrice b{font-size: .32rem;color: #682612;float: right;margin-right: .2rem}
.kanCon .kan_ph{height: 2.2rem;background: #f2f2f2}

/*限时抢购*/
.qgou{margin: .3rem .3rem 0;background: #fff url(../images/qgou_bg.png) no-repeat top center;border-radius: .26rem;overflow: hidden;background-size: 100% auto}

.qgou .boxTitle{padding:.4rem .26rem .25rem .24rem;font-size: 0;display: flex;align-items: center;justify-content: space-between;}
.qgou .boxTitle>div{display: flex;align-items: center;}
.qgou .boxTitle strong{font-size: .38rem;color: #fff;display: inline-block;line-height: 1}
.qgou .boxTitle span.qgTime{display: inline-block;color:#ED060D;margin-left: .07rem;line-height: .32rem;border-radius: .16rem;font-size: .2rem;font-weight: bold;padding: 0 .16rem;background: linear-gradient(90deg, #FFFFFF 0%, #FFE8E9 0%, #FFFFFF 100%);}

.qgou .boxTitle .jsTime {}
.qgou .boxTitle .jsTime span{float: left;width: .36rem;height: .36rem;line-height:.38rem;border-radius: .08rem;background-color: #fff;text-align: center;font-size: .24rem;color:#ED060C;font-family: "coregtd";}
.qgou .boxTitle .jsTime em{float: left;padding:0 .06rem;line-height: .36rem;font-size: .32rem;color: #fff}

.qgou .boxCon{padding: .2rem 0 .3rem .2rem;border-radius: .26rem;background: #fff}
.qgou .boxCon .activity-pl_h{width: 1.7rem;height: 3rem;background: #f2f2f2;margin-right: .2rem}

.qgou .boxCon .act{width: 1.7rem;margin-right: .2rem;display: inline-block;}
.qgou .boxCon .qg_img{width: 1.7rem;height: 1.7rem;border-radius: .1rem;overflow: hidden;position: relative;}
.qgou .boxCon .qg_img img{width: 100%;height: 100%;object-fit: cover;display: block;}

.qgou .qgInfo {padding-top: .1rem}
.qgou .qgInfo h3{font-size: .26rem;color: #17171A;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;width: 100%;white-space: pre-wrap;line-height: .32rem;height: .62rem}
.qgou .qgInfo .qgSale{width: 1.56rem;height: .22rem;line-height: .22rem;border-radius: .11rem;background: #FFC5C0;font-size: .18rem;color: #FFFEFE;position: relative;text-align: center;margin-top: .1rem;}
.qgou .qgInfo .qgSale i{position: absolute;display: inline-block;top: 0;left: 0;bottom: 0;background: linear-gradient(90deg, #FA4520 0%, #FA673F 100%);border-radius: .11rem;}
.qgou .qgInfo .qgSale label{display: inline-block;position: absolute;left: 0;bottom: 0;top: 0;background: url(../images/store/line.png) repeat center center;background-size: .18rem auto;}
.qgou .qgInfo .qgSale span{position: relative;z-index: 2}
.qgou .qgInfo .qgOther{display: flex;align-items: center;justify-content: space-between;margin-top: .2rem;}
.qgou .qgInfo .qgPrice span{color: #EC3628;font-size: .22rem;font-weight: bold;font-family: DINMit;display: block;}
.qgou .qgInfo .qgPrice strong{font-size: .32rem}
.qgou .qgInfo .qgPrice s{font-size: .2rem;color: #C2C4CC;display: block;margin-top: -.1rem}
.qgou .qgInfo .jiagou{display: inline-block;width: .46rem;height: .46rem;background: url(../images/qgsale.png) no-repeat center;background-size: .46rem;}
/*准点秒杀*/
.msha{background:#fff;border-radius: .26rem;position: relative;margin:.3rem .3rem 0;padding: .32rem .2rem .32rem;}
.msha .boxTitle{position: relative;display: flex;align-items: center;justify-content: space-between;}
.msha .boxTitle>div{display: flex;align-items: center;}
.msha .boxTitle .add-bg{width: .4rem;height: .4rem;background: url(../images/add-bg.png) no-repeat center;background-size: .4rem;display: inline-block;margin-right: .06rem}
.msha .boxTitle strong{display: inline-block;color: #222;font-size: .38rem;}
.msha .boxTitle a{font-size: .22rem;color: #2E2F33;float: right;display: flex;align-items: center;}
.msha .boxTitle a s{display: inline-block;width: .4rem;height: .4rem;background: url('../images/ms-more.png') no-repeat center; background-size: .4rem;margin-left: .1rem}

.msha .puBox{margin-top: .26rem;}
.msha .puBox .goodbox{width:2.02rem;float:left;position: relative;z-index: 1;}
.msha .puBox .goodbox:nth-child(2n){margin-right: .2rem;margin-left: .2rem;}

.msha .goodbox.mnostart span.ks_span{position: absolute;display: inline-block;top: 0;left: 0;height:.4rem;background:linear-gradient(90deg,rgba(255,40,156,1) 0%,rgba(138,0,255,1) 100%);
border-radius:.1rem 0px .2rem 0px;line-height: .4rem;padding: 0 .17rem;font-size: .22rem;font-weight: bold;color: #fff;}
.msha .goodbox .boxImg{width:100%;height:2.3rem;border-radius: .1rem;overflow: hidden;position: relative;}
.msha .goodbox .boxImg img{width: 100%;height: 100%;object-fit: cover;border-radius: .1rem;}
.msha .goodbox .boxText{position: absolute;left: 0;right: 0;bottom: 0;padding:0 .13rem 0 .1rem;height: .6rem;box-sizing: border-box;display: flex;align-items: center;background: url('../images/msprice.png') no-repeat center; background-size: 100% .6rem;justify-content: space-between;}
.msha .goodbox .boxText .msleft{padding-top: .04rem}
.msha .goodbox .boxText .msPrice{font-size: .2rem;font-family: DINMit;color: #FDFDFD;margin-top: -.04rem;}
.msha .goodbox .boxText .msPrice strong{font-size: .28rem;font-family: "coregtd";}
.msha .goodbox .boxText .msTime{font-size:0;color: rgba(253,253,253,.75);margin-top: -.11rem;}
.msha .goodbox .boxText .msTime span,.msha .goodbox .boxText .msTime em{font-size: .18rem}
.msha .goodbox .boxText .msTime span.kspan{margin-right: .06rem}
.msha .goodbox .boxText b{font-size: .26rem;color: #471B00}
.msha .goodbox .msTitle{font-size: .26rem;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;height: .64rem;margin-top: .1rem;line-height: .32rem;}
.msha .msha_ph{width: 2.02rem;height: 3rem;background: #f2f2f2;float: left;}
.msha .msha_ph:nth-child(2n){margin-right: .2rem;margin-left: .2rem;}

/*精选好物*/
.good_wrap{padding: 0 0;position: relative; padding-top: .36rem}
.good_wrap .loading{font-size: .24rem;color: #5C5C5E;line-height: .2rem;position:relative;}

.good_tab{min-height: .9rem}
.good_tab.fixed{position: fixed;    top: .9rem;z-index: 9;left: 0;right: 0;border-radius: 0;background: #fff;}
.tab_ul{display: flex;align-items: center;justify-content: space-between;padding: .3rem 1.5rem .22rem;position: relative;}
.tab_ul li{position: relative;}
.tab_ul li a{display: block;text-align: center;}
.tab_ul li h2{font-size: .36rem;color: #222;font-weight: bold;}
.tab_ul li span{font-size: .22rem;color: #666;height: .34rem;line-height: .34rem;padding: 0 .12rem;display: inline-block;margin-top: .04rem}
.tab_ul li.curr h2{color: #EC3628;}
.tab_ul li.curr span{background: linear-gradient(90deg, #F75F42 0%, #F22A18 100%);border-radius: .17rem 0px .17rem 0px;color: #fff;}
.shangquan{padding: 0 .24rem;}
.shangquan ul{height: .42rem;position: relative;overflow: hidden;}
.shangquan li{float: left;margin-right: .2rem}
.shangquan li a{display: flex;align-items: center;padding:0 .15rem 0 .05rem;height: .42rem;border-radius: .21rem;background: #fff;font-size: .22rem;color: #96979D;font-weight: bold;}
.shangquan li s{display: inline-block;width: .32rem;height: .32rem;background: url('../images/shangquan.png') no-repeat center; background-size: .32rem;margin-right: .07rem;}
.shangquan li i{display: inline-block;width: .2rem;height: .2rem;background: url('../images/sq-more.png') no-repeat center; background-size: .2rem;margin-left: .04rem;}
.shangquan li:last-child{margin-right: 0;}
.shangquan li:last-child a{padding: 0 .12rem 0 .18rem;}

.goodlist{position: relative;padding: 0 0 .8rem;}
.goodlist .comList{padding: 0 .24rem}
/*本地团购*/
.localList li{width: 3.42rem;border-radius: .16rem;background: #fff;margin-bottom: .2rem;}
.localList li a{display: block;}
.localList li .goodImg{width: 3.42rem;height: 3.42rem;position: relative;overflow: hidden;border-radius: .16rem .16rem 0 0;}
.localList li .goodImg img{width:100%;height: 100%;object-fit: cover;display: block;}
.localList li .goodInfo{padding: .12rem .18rem 0;}
.localList li .goodInfo .goodTitle{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;font-size: .28rem;color: #000;font-weight: bold;line-height: .34rem;}
.localList li .goodInfo .goodSale{display: flex;align-items: center;margin-top: .04rem;}
.localList li .goodInfo .goodSale span{font-size: .22rem;color: #9A9CA6;}
.localList li .goodInfo .goodSale em{width: 1px;height: .16rem;background: #ADAFB8;margin-left: .14rem;margin-right: .14rem;}
.localList li .goodPrice{margin-top: .12rem;display: flex; align-items: baseline;}
.localList li .goodPrice .newPrice{font-size: .26rem;font-family: DINMit;color: #EC3628;}
.localList li .goodPrice .newPrice strong{font-size: .36rem;font-weight: normal;}
.localList li .goodPrice .newPrice em{font-size: .28rem}
.localList li .goodPrice .oldPrice{font-size: .2rem;color: #A6A8B3;text-decoration: line-through;margin-left: .04rem;}
.localList li .goodPrice .oldPrice em{font-size: .24rem;}
.localList li .goodStore{padding: .16rem .2rem;max-width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-size: .22rem;color: #333;border-top: 1px solid #f5f5f7;margin-top: .16rem}

.localList li .juli{position: absolute;right: .16rem;bottom: .1rem;line-height: .36rem;border-radius: .18rem;background: rgba(0,0,0,.6);font-size: .22rem;color: #fff;padding: 0 .15rem;}
.localList li .storeAdr{font-size: .22rem;color: #666;max-width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;margin-top: .04rem;}
.localList li .goodHui{margin-top: .12rem;overflow: hidden;}
.localList li .goodHui:first-child{margin-top: .24rem}
.localList li .goodHui .hui{background: #FFEEED;border-radius: .06rem;overflow: hidden;height: .36rem;line-height: .36rem;white-space: nowrap;    float: left;margin-right: 0.1rem;}
.localList li .goodHui .hui em{display: inline-block;width: .36rem;text-align: center;background: linear-gradient(90deg, #F75F42 0%, #F22A18 100%);border-radius: .06rem;font-size: .2rem;color: #fff;}
.localList li .goodHui .hui span{display: inline-block;padding: 0 .08rem;font-size: .2rem;color: #F33521}
.localList li .goodHui .huiInfo{font-size: .22rem;color: #333;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;height: .36rem;line-height: .36rem;}
.localList li.storeLi .goodInfo{padding-bottom: .24rem;}
/*本地团购*/
/*.choiceList{margin-top: -.24rem;}*/
.choiceList li{width: 3.42rem;border-radius: .16rem;background: #fff;overflow: hidden;margin-bottom: .2rem;}
.choiceList li .goodImg{width: 3.42rem;height: 3.42rem;position: relative; background:#eee;}
.choiceList li .goodImg img{width:100%;height: 100%;object-fit: cover;display: block;}
.choiceList li .goodInfo{padding: .18rem .2rem .24rem;}
.choiceList li .goodInfo .goodTitle{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;font-size: .26rem;color: #000;font-weight: bold;line-height: .36rem;}
.choiceList .choicePrice.tesPrice{background: #FFF0EC;border-radius: .06rem;line-height: .5rem;overflow: hidden;font-size: 0;height: .5rem;margin-top: .14rem}
.choiceList .choicePrice .spePrice{background: linear-gradient(90deg, #F75F42 0%, #F22C1A 100%);width: 1.9rem;display: inline-flex;vertical-align: top;line-height: .5rem; height: .5rem; padding-left: .14rem; box-sizing: border-box; align-items: center; padding-top: .08rem }
.choiceList .choicePrice .newPrice{font-size: .26rem;font-family: DINMit;color: #EC3628;    }
.choiceList .choicePrice .newPrice strong{font-size: .36rem;font-weight: normal;}
.choiceList .choicePrice .newPrice em{font-size: .28rem;display: inline-block;}
.choiceList .choicePrice .oldPrice{font-size: .2rem;color: rgba(255,255,255,.7);margin-left: .05rem}
.choiceList .choicePrice .psPan{font-size: .22rem;color: #EC3628;display: inline-block;width: .9rem;text-align: center;    vertical-align: top;}
.choiceList .choicePrice.tesPrice .newPrice{color: #fff;line-height: .5rem;vertical-align: top; display: inline-block;}
.choiceList .choicePrice.tesPrice .pr-bg{display: inline-block;width: .2rem;height: .5rem;background: url('../images/price-bg.png') no-repeat center; background-size: .2rem .5rem;margin-left: -1px}
.choiceList .choicePrice.tesPrice .newPrice strong{display: inline-block; vertical-align: middle;}
.choiceList .choicePrice.tesPrice .newPrice em{vertical-align: middle;margin-top: .02rem}
.choiceList .choicePrice.tesPrice .oldPrice{    display: inline-block; vertical-align: top;}
.choiceList li .choiceSale{margin-top: .26rem;display: flex;justify-content: space-between;font-size: .22rem;color: #A6A8B2;align-items: center;}
.choiceList li.comLi .choicePrice{margin-top: .24rem}
.choiceList li.comLi .choiceSale{margin-top: .06rem}
.choiceList li .quanspan{display: inline-block;width: .3rem;height: .28rem;background: rgba(255, 236, 227, 0);border: 1px solid #FFC4CD;border-radius: .04rem;line-height: .28rem;box-sizing: border-box;font-size: .2rem;color: #EC3628;margin-left: .06rem;text-align: center;vertical-align: middle;margin-top: -.08rem;}

.choiceList li .tsTime{border: .01rem solid #DFE0E6;height: .3rem;box-sizing: border-box;padding: 0 .1rem;display: flex;align-items: center;border-radius: .06rem}
.choiceList li .tsTime i{display: inline-block;width: .2rem;height: .2rem;background: url('../images/clock.png') no-repeat center; background-size: .2rem;margin-right: .04rem;margin-top:.01rem}
.choiceList li .tsTime span,.choiceList li .tsTime em{font-size: .2rem;color: #737580;}
.choiceList li .xianshi{width: .72rem;height: .3rem;line-height: .3rem;text-align: center;font-size: .2rem;color: #fff;background: linear-gradient(90deg, #F643FF 0%, #6730F1 100%);border-radius: .06rem;display: inline-block;margin-right: .04rem; vertical-align: middle;}

 @font-face {
  	font-family: "DINMit";
  	src: url("/static/fonts/DINMittelschriftStd.woff2"),
       url("/static/fonts/DINMittelschriftStd.woff"),
       url("/static/fonts/DINMittelschriftStd.ttf"),
       url("/static/fonts/DINMittelschriftStd.eot"),
       url("/static/fonts/DINMittelschriftStd.otf");
}
@font-face {
  	font-family: "coregtd";
  	src: url("/static/fonts/coregtd6.woff2"),
       url("/static/fonts/coregtd6.woff"),
       url("/static/fonts/coregtd6.ttf"),
       url("/static/fonts/coregtd6.eot"),
       url("/static/fonts/coregtd6.otf");
}

/* 领券弹出层 */
.quan_mask{position: fixed; top: 0; right: 0; left: 0; bottom: 0; background: rgba(0,0,0,.6); z-index: 1000; display: none;}
.quan_pop{min-height: 4.52rem; width: 6.42rem; position: fixed; left: 0; right: 0; margin: auto; top: 20%; z-index: 1000; background: url(../images/quan/pop_quan.png) no-repeat top center/contain; display: none; animation: popup .3s}
.popquan_list{margin-top: 2rem; background: #FE1231; border-radius: .3rem; padding-bottom: .22rem; padding-top: .58rem}
.popquan_list li{margin: 0 .3rem; background: #fff; border-radius: .26rem;  height: 1.6rem; margin-bottom: .12rem;  position: relative;}
.popquan_list li .quan_amount{float: left; width: 1.7rem; height: 100%; text-align: center; font-size: .3rem; color: #FC1537; font-weight: bold; line-height: 1.6rem; }
.popquan_list li .quan_amount b{font-size: .72rem}
.popquan_list li .quan_amount::before,.popquan_list li .quan_amount::after{content: ''; display: block; width: .2rem; height: .2rem; background:  #FE1231; border-radius: 50%; position: absolute; left: 1.71rem; top: -.12rem}
.popquan_list li .quan_amount::after{top: auto; bottom: -.12rem;}
.popquan_list li .quan_info{margin-left: 1.7rem; padding-left: .12rem; position: relative; box-sizing: border-box; height: 100% ; display: flex; justify-content: center; flex-direction: column;}
.popquan_list li .quan_info h4{font-size: .32rem; font-weight: bold; color: #333; margin-bottom: .1rem; margin-right:1.2rem; overflow:hidden; text-overflow: ellipsis; white-space:nowrap;}
.popquan_list li .quan_info p{color: #999; font-size: .22rem;}
.popquan_list li .quan_info a{display: block; width: 1.2rem; height: .54rem; background: url(../images/quan/btn_bg.png) no-repeat center/cover; text-align: center; border-radius: .27rem; line-height: .54rem; color: #fff; position: absolute; right: .24rem; bottom: .38rem;}
.quan_pop .close_pop{display: block; width: .72rem; height: .72rem; background: url(../images/quan/close_pop.png) no-repeat center/cover; position: absolute; left: 0; right: 0; bottom: -1.14rem; margin: auto;}
.linkTo{display: block; margin-top: .26rem;}
.linkTo img{display: block; width: 100%;}

/*搜图弹窗*/
.mask_upfile{    position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,.5);z-index: 100000;display: none;}
.upfile_box{    position: fixed;bottom: 0;left: 0;  right: 0;  z-index: 100001;box-shadow: 0px -3px .13rem 0px rgba(25, 30, 59, 0.05);border-radius: .4rem .4rem 0px 0px;background: #fff;transform: translateY(100%); transition: transform .2s;  padding-bottom: constant(safe-area-inset-bottom); padding-bottom: env(safe-area-inset-bottom);} .upfile_box.upshow{transform: translateY(0);}
.upfile_box ul{}
.upfile_box ul li{height: 1rem;line-height: 1rem;text-align: center;font-size: .3rem;position: relative;}
.upfile_box ul li .selfcamera{position: absolute;left: 0;top: 0;bottom: 0;width: 100%;opacity: 0;}
.upfile_box ul li:first-child{border-bottom: 1px solid #f5f5f7}
.upfile_box .bgline{height: .2rem;background: #F5F5F7; }
.upfile_box .cancelUpFile{line-height: .9rem;text-align: center;font-size: .3rem;}


/* 轮播搜索 */

 .inp_wrap .hotSearch{height: .6rem !important;}
 .inp_wrap .swiper-container{width: 100%;}
.inp_wrap .swiper-item{height: .6rem !important; display: flex; align-items: center; justify-content: flex-start; color: #949599; width: 100%;}
.search-form .inp_wrap .swiper-item::before{content: ''; display: block; width: .36rem; height: .36rem; background: url(../images/inp_s.png) no-repeat center/cover; margin-right: .1rem; opacity: .6; margin-left: .18rem;}


/* 搜索页 */
.searchbox{height: 1rem; position: relative; box-sizing: border-box; padding-top: .18rem;}
.searchbox .inpbox{height: .64rem; border-radius: .32rem; background: #F7F7F7; display: flex; align-items: center; box-sizing: border-box; padding: 0 .28rem; width: 100%}
.searchbox .inpbox input{height: .64rem; background: none;}
.searchbox .inpbox::before{content: ''; display: block; width: .3rem; height: .3rem; background: url(../images/search_icon.png) no-repeat center/cover; margin-right: .07rem;}
.searchbox .inpbox input{border:none; width: 100%}
.cancel_btn{position: absolute; font-size: .3rem; color: #333; font-weight: bold; right: .3rem; top: 0; line-height: 1rem;}
.clear_inp{display: block; width: .34rem; height: .34rem; background: url(../images/clear_icon.png) no-repeat center/cover; flex-shrink: 0; margin-right: -.08rem;}
.clear_inp.fn-hide{display: none;}
.searchpage dl{margin: 0 .32rem 0;}
.searchpage dl.hot{margin-top:.44rem;}
.searchpage dl.hot dt{font-size: .32rem; color:#131626; font-weight: 800; margin-bottom: .32rem; font-style: italic;}
.searchpage dl.hot dt span{display: inline-block; position: relative; z-index: 2; vertical-align: middle; margin-left: -.04rem;}
.searchpage dl.hot dt::before{content: ''; display: inline-block; width: .4rem; height: .4rem; background: url(../images/hot1.png) no-repeat center/cover; vertical-align: middle; margin-bottom: .04rem;}
.searchPage .header-l a,.searchPage .header-search a{width: .9rem ;}
/* .searchpage dl.hot dt span::after{content:''; display: block; height: .16rem; border-radius: .08rem; background: #D8F9EA; position: absolute; left: 0; right: -.08rem; bottom: .02rem; z-index: -1; } */
.searchpage .history{margin-top: .3rem;}
.searchpage .history dt{font-size: .28rem; color: #131626; font-weight: bold; margin-bottom: .28rem; display: flex; align-items: center; justify-content: space-between;}
.searchpage .history dt .del_btn{display: block; width: .4rem; height: .4rem; background: url(../images/del_btn.png) no-repeat center/cover;}
.searchpage dd{display: inline-block; line-height: .56rem; border-radius: .28rem; background: #F5F6F8; padding: 0 .34rem; margin-bottom: .16rem; margin-right: .2rem; color: #303133; white-space: nowrap; overflow: hidden; box-sizing: border-box; text-overflow: ellipsis; max-width: 100%;}
.searchpage dd a{color: #333;}
.searchpage dd.hot a::before{content: ''; display: inline-block; width: .3rem; height: .3rem; background: url(../images/hot.png) no-repeat center/cover; vertical-align: middle; margin-right: .04rem; margin-bottom: .06rem;}
.searchPage{ background: #fff; position: fixed; left: 0; right: 0; top: 0; bottom: 0; z-index: -1; opacity: 0;}
.searchPage.showPage{z-index: 100001; opacity: 1;}
.searchPage .header{position: static;}
.searchPage .header::after {display: none; }
.formbox{display: flex; align-items: center; justify-content: space-between; margin-right: .3rem; margin-left: .3rem;}
.back_index{color: #999; font-size: .28rem; flex-shrink: 0; margin-left: .28rem; display: none;}

.huoniao_iOS .back_index{display: block;}

.fixed .header-address span{display: none}
.fixed .header-address .searchInp.inpbox{display: flex}
.searchInp.inpbox{height: .64rem; border-radius: .32rem; background: #fff; display: flex; align-items: center; box-sizing: border-box; padding: 0 .28rem;  margin-top: .13rem; font-size: .24rem; color: #949599;; font-weight: normal; display: none; margin-left: .2rem; margin-right: .2rem; position: relative}
.searchInp.inpbox input{height: .64rem; background: none;}
.searchInp.inpbox::before{content: ''; display: block; width: .3rem; height: .3rem; background: url(../images/search_icon.png) no-repeat center/cover; margin-right: .07rem;}
.searchInp.inpbox input{border:none; width: 100%}
.imgsearch-btn1 {width: .48rem; height: .48rem; display: block; background: url('../images/camera.png'); background-size: .48rem; background-repeat: no-repeat; position: absolute; right: .2rem; top: 0; bottom: 0; margin: auto; z-index: 999;}
