html,body{background: #F5F5F7;overflow: visible;}

.bgimg{width: 100%;position: relative;height: 7.5rem;position: absolute;left: 0;top: 0;}
.bgimg img{display: block;width: 100%;height: 100%;object-fit: cover;}
.bgimg .bgcover{display: block;position: absolute;left: 0;top: 0;right: 0;bottom: 0;background: rgba(0,0,0,.6);-webkit-backdrop-filter: blur(.06rem); backdrop-filter: blur(.06rem)}

.container{background: #F5F5F7;position: relative;border-radius: .5rem .5rem 0px 0px;margin-top: 1.4rem;z-index: 10;min-height: 7rem;}
.container::before{content: '';position: absolute;left: 0;top: 0;width: 100%;height:2.8rem;background:linear-gradient(180deg, #fff 92%, #F5F5F7 100%); border-radius: .5rem .5rem 0px 0px;z-index: 1}
.container .bgTitle{text-align: center;font-size: .26rem;color: #333;padding: .24rem 0 ;position: relative;z-index: 2}
.container .serImg{display: block;width: 1.4rem;height: 1.4rem;border-radius: .2rem;border: .06rem solid #fff;position: absolute;left: .24rem;top: -.65rem;z-index: 2; background: #fff;}
.container .serImg img{display: block;width: 100%;height: 100%;object-fit: cover; border-radius: .18rem;}
.filter{position: relative;z-index: 2;margin-top: .22rem}
.filter .bgfenlei{font-size: 0;width: 4.62rem;overflow-x: auto;margin-left: .24rem;float: left;white-space: nowrap;position: relative;}
.filter .bgfenlei::-webkit-scrollbar{display: none;}

.filter .bgfenlei a{display: inline-block;height: .54rem;line-height: .54rem;border-radius: .06rem;padding: 0 .15rem;font-size: .24rem;color: #666;background: #F8F8F8;margin-right: .1rem;}
.filter .bgfenlei a.curr{background: #F72A34;color: #fff;}
.filter .other{float: right;margin-right: .2rem;padding-top: .1rem;position: relative;font-size: 0}
.filter .other a{font-size: .24rem;margin-left: .28rem;position: relative;z-index: 2}
.filter .other a:first-child{margin-left: 0}
.filter .other a.curr{color: #F72A34}
.filter .other::after{content: '';width: 1.78rem;height: .8rem;position: absolute;right: .9rem;top: -.14rem;background:url('../images/search/bg.png') no-repeat center;background-size:cover;}
.filter .other a s{display: inline-block;width: .2rem;height: .2rem;background:url('../images/store/order.png') no-repeat center;background-size:cover;margin-left: .02rem;transition: all .3s;vertical-align: middle;margin-top: -.02rem;}
.filter .other a.up s{background:url('../images/store/order1.png') no-repeat center;background-size:cover;}
.filter .other a.down s{background:url('../images/store/order2.png') no-repeat center;background-size:cover;}
/*列表*/
.choiceList{position: relative;z-index: 2;margin-top: .34rem;padding: 0 .24rem;}

.choiceList li{width: 3.42rem;border-radius: .16rem;background: #fff;overflow: hidden;margin-top: .2rem;}
.choiceList li .goodImg{width: 3.42rem;height: 3.42rem;position: relative;}
.choiceList li .goodImg img{width:100%;height: 100%;object-fit: cover;display: block;}
.choiceList li .goodInfo{padding: .18rem .2rem .14rem;}
.choiceList li .goodInfo .goodTitle{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;font-size: .26rem;color: #000;font-weight: bold;line-height: .36rem;}

.choiceList .choicePrice .newPrice{font-size: .26rem;font-family: DINMit;color: #EC3628;    } 
.choiceList .choicePrice .newPrice strong{font-size: .36rem;font-weight: normal;} 
.choiceList .choicePrice .newPrice em{font-size: .28rem;display: inline-block;} 
.choiceList .choicePrice .oldPrice{font-size: .2rem;color: rgba(255,255,255,.7);margin-left: .05rem}
.choiceList .choicePrice .psPan{font-size: .22rem;color: #EC3628;display: inline-block;width: .9rem;text-align: center;    vertical-align: top;}

.choiceList li .choiceSale{display: flex;font-size: .22rem;color: #A6A8B2;align-items: center;flex-wrap: wrap;}
.choiceList li.comLi .choicePrice{margin-top: .18rem}
.choiceList li .choiceSale span{margin-top: .06rem;margin-bottom: .06rem;white-space: nowrap;}
.choiceList li .choiceSale span:last-child{margin-right: 0}
.choiceList li .comspan{display: inline-block;padding: 0 .06rem;height: .28rem;background: rgba(255, 236, 227, 0);border: 1px solid #FFC4CD;border-radius: .04rem;line-height: .28rem;box-sizing: border-box;font-size: .2rem;color: #EC3628;margin-right: .06rem;text-align: center;vertical-align: top;}

.choiceList li .hasSale{font-size: .22rem;color: #A6A8B2;margin-left: .1rem;}
.choiceList li .tsTime{border: .01rem solid #DFE0E6;height: .3rem;box-sizing: border-box;padding: 0 .1rem;display: flex;align-items: center;border-radius: .06rem}
.choiceList li .tsTime i{display: inline-block;width: .2rem;height: .2rem;background: url('../images/clock.png') no-repeat center; background-size: .2rem;margin-right: .04rem;margin-top:.01rem}
.choiceList li .tsTime span,.choiceList li .tsTime em{font-size: .2rem;color: #737580;}
.choiceList li .xianshi{width: .72rem;height: .3rem;line-height: .3rem;text-align: center;font-size: .2rem;color: #fff;background: linear-gradient(90deg, #F643FF 0%, #6730F1 100%);border-radius: .06rem;display: inline-block;margin-right: .04rem;vertical-align: top;}
.choiceList li .ptuan{width: .52rem;height: .28rem;line-height: .28rem;text-align: center;font-size: .2rem;color: #fff;background: linear-gradient(90deg, #F75F42 0%, #F22A18 100%);border-radius: .06rem;display: inline-block;margin-right: .04rem;vertical-align: top;}
.choiceList li .choiceStore{display: block;padding: 0 .2rem .22rem;}
.choiceList li .choiceStore span{font-size: .22rem;color: #666;margin-right: .08rem;display: inline-block;max-width: 2.1rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.choiceList li .choiceStore em{font-size: .22rem;color: #212121;display: inline-block;vertical-align: top;}
.choiceList li .choiceStore s{display: inline-block;width: .16rem;height: .2rem;background: url('../images/search/arr.png') no-repeat center; background-size: cover;vertical-align: middle;margin-top: -.04rem;}

.loading{text-align: center;line-height: .88rem;}
.emptyData{text-align: center;background: #fff;padding: .6rem 0 1.3rem;display: none; position: relative; z-index: 2 ;border-radius: 0 0 .3rem .3rem;}
.emptyData img{display: block;width: 5.1rem;height: 3.9rem;margin: 0 auto .38rem;}
.emptyData h2{font-size: .3rem;color: #333;font-weight: bold;}
.emptyData p{font-size: .22rem;color: #999;margin-top: .08rem;}

 @font-face {
  	font-family: "DINMit";
  	src: url("/static/fonts/DINMittelschriftStd.woff2"),
       url("/static/fonts/DINMittelschriftStd.woff"),
       url("/static/fonts/DINMittelschriftStd.ttf"),
       url("/static/fonts/DINMittelschriftStd.eot"),
       url("/static/fonts/DINMittelschriftStd.otf");
}