body,html{background: #f5f5f7;}
.l,.r{float: left;}
.ptCon{width: 100%;height: 5.86rem;background: url(../images/msha_bg.png) no-repeat top center;background-size:100% auto;position: relative;}
/*滚动信息*/
.buyGun{position: absolute;bottom: 1.74rem;left: .24rem;z-index: 1;display: none;height:.62rem;overflow: hidden;}
.buyGun .swiper-container{height: .62rem;}
.buyGun .swiper-wrapper .swiper-slide{height:.62rem;display: flex;align-items: center;}
.buyGun .swiper-wrapper .swiper-slide>div{background: rgba(0,0,0,0.8);border-radius: .28rem;padding: .04rem .2rem .04rem .05rem;height: .48rem;}
.buyGun .buyImg{width: .48rem;height: .48rem;border-radius: 50%;float: left;overflow: hidden;}
.buyGun .buyImg img{width: 100%;height: 100%;object-fit: cover;}
.buyGun p{margin-left: .56rem;font-size: .22rem;color: #ADAEB3;    line-height: .48rem; max-width: 5rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.buyGun p em{display: inline-block;max-width: 1rem;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;vertical-align: top;}

.msWrap{margin: -1.5rem .24rem 0;}
.msTab{position: sticky;top: 0;left: 0;font-size: 0;}
.msTab li{background: linear-gradient(-90deg, #FF265D 0%, #FF3A43 100%);width: 3.41rem;display: inline-block;text-align: center;vertical-align: top;position: relative;}
.msTab li:first-child{border-radius: .26rem 0 0 0}
.msTab li:last-child{border-radius: 0 .26rem 0 0}
.msTab li a{font-size: .28rem;color: #fff;display: block;height: .7rem;line-height: .7rem;font-weight: bold;}

.msTab li.curr{width: 3.61rem;}
.msTab .curr::after{content: '';display: block;width: 100%;height: .8rem;position: absolute;bottom: 0;left: 0;background: linear-gradient(0deg, #FFFFFF 0%, #FFEEE3 100%);border-radius: .26rem .26rem 0 0;}
.msTab .curr a{color: #FF270A;font-size: .32rem;position: relative;z-index: 2}


.miaoshabox{margin-top: -1px;}
.miaoshabox .ms_ph{background: #fff;height: 2rem;border-radius: 0 0 .26rem .26rem;position: relative;overflow: hidden;}
.miaoshabox .contbox{position:relative;background: #fff;border-radius: .26rem;padding:.26rem .18rem .26rem .26rem;overflow: hidden;margin-bottom: .22rem;}
.miaoshabox .contbox:first-child{margin-top: 0;border-radius: 0 0 .26rem .26rem;}

.miaoshabox .ttopbox{position: relative;margin-bottom: .16rem;}
.miaoshabox .jsTime span{float: left;min-width: .36rem;height: .36rem;line-height:.36rem;border-radius: .06rem;background-color: #F5F5F7;text-align: center;font-size: .24rem;color:#575966;box-sizing: border-box;padding: 0 .01rem;border: .01rem solid #E6E6E6;font-family: moneyNumber;}
.miaoshabox .jsTime em{float: left;padding:0 .08rem;line-height: .36rem;font-size: .32rem;color: #494B56;}
.miaoshabox .jsTime em.sepot{font-size: .22rem; line-height: .4rem}
.miaoshabox .jsTime i{float: left;font-size: .22rem;color: #575966;font-weight: bold;margin-left: .1rem;line-height: .4rem;}
.miaoshabox .imgbox{width: 2.26rem;height: 2.26rem;position: relative;}
.miaoshabox .imgbox img{width: 100%;height: 100%;display: block;object-fit: cover;border-radius: .1rem;}
.miaoshabox .imgbox span{display: inline-block;background: rgba(153, 153, 153, .8);width: 1.6rem;height: 1.6rem;line-height: 1.6rem;text-align: center;position: absolute;left: 50%;top: 50%;margin-top: -.8rem;margin-left: -.8rem;font-size: .3rem;color: #fff;font-weight: bold;border-radius: 50%;}
.miaoshabox .txtbox{margin-left: 2.48rem;}
.miaoshabox .txtbox .fibox{height:1.38rem;}
.miaoshabox .txtbox h3{font-size: .28rem;color: #212121;font-weight: bold;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;line-height: .34rem;}
.miaoshabox .txtbox h4{color:#333;line-height: .45rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: .22rem;color: #F7252C;max-width: 2.94rem;}
.miaoshabox .msPrice {width: 2.4rem;}
.miaoshabox .msPrice .price1{    white-space: nowrap;margin-bottom: .08rem}
.miaoshabox .msPrice .price1 span{color: #F7252C;}
.miaoshabox .contbox:first-child .msPrice .price1 span{color: #F7252C}
.miaoshabox .msPrice .price1 em{font-size: .24rem;}
.miaoshabox .msPrice .price1 strong{font-size: .42rem;display: inline-block;line-height: .5rem; font-family: moneyNumber}
.miaoshabox .msPrice .price1 s{font-size: .24rem;color: #ADAEB3; opacity: .7}
.miaoshabox .msPrice .price1 b{font-family: moneyNumber;}
.miaoshabox .msPrice .price2 i{display: inline-block;width: .4rem;height: .3rem;background: url(../images/pricedown.png) no-repeat center;background-size:cover;vertical-align: middle;margin-top: -.04rem;}
.miaoshabox .msPrice .price2 span{font-size: .24rem;color: #636366;font-weight: bold;    line-height: 1;display: inline-block;}

.miaoshabox .msOpe{position: absolute;right: .18rem;bottom: .26rem;}
.miaoshabox .msOpe p{font-size: .22rem;color: #ADAEB3;    text-align: center;}
.miaoshabox .msOpe span{display: inline-block;height: .64rem;line-height: .64rem;border-radius: .32rem;min-width: 1.56rem;text-align: center;box-sizing: border-box;padding: 0 .1rem;font-size: .28rem;color: #fff;font-weight: bold;background: linear-gradient(90deg, #F75F42 0%, #F22A18 100%);}
.miaoshabox .msOpe span.disabled{background: linear-gradient(90deg, #C2C2C2 0%, #C1C1C1 100%);}
