body,html{background: #fff;overflow: visible;}

.toptip{font-size: .26rem;color: #666;line-height: .36rem;padding: .2rem .4rem .4rem .24rem;}
.storeQuality{padding: 0 .3rem;}
.storeQuality .item{margin-bottom: .74rem;}
.storeQuality .item h2{font-size: .34rem;color: #000;font-weight: bold;padding-bottom: .2rem;}
.storeQuality .item img{display: block;max-width: 100%;margin: .2rem auto 0;}

.botTip{margin: 0 .28rem .4rem;display: flex;align-items: center;font-size: .24rem;color: #999}
.botTip i{display: inline-block;width: .3rem;height: .3rem;background: url(../images/store/tip2.png) no-repeat center center;background-size: 100%;margin-right: .05rem;}
