body{background: #f5f5f7 ;overflow: visible;}
.popupRightBottom{    bottom: 1.8rem;bottom: calc(1.8rem + constant(safe-area-inset-bottom));bottom: calc(1.8rem + env(safe-area-inset-bottom));}
.header{position: fixed;top: 0;left: 0;right: 0;}
.nos ,.nos body{overflow: hidden;}
.shopbgbox{ position:relative;height: 4.84rem;margin-top: .9rem;   z-index: 2; transition: all .5s;}
.sbcover{position: absolute; top:0;bottom:0;right:0;left:0;background-size: cover;z-index: -1;-webkit-filter: blur(3px);filter: blur(3px);}
.sbcover .bcover{background-color: rgba(0,0,0,.5);position: absolute; top:0;bottom:0;right:0;left:0;}
.sbcover .bottom{display:block;background: linear-gradient(rgba(242,242,242,.2), rgba(242,242,242,1));position: absolute;bottom:0;left:0;right:0;height: .6rem;}

/*头部*/

/*轮播图*/
.banner{width: 100%;position: relative;min-height: 2.5rem;height: 6.84rem;overflow: hidden;}
.banner .wrapper {position: relative;}
.banner .wrapper .swiper-container {color: #fff;text-align: center;height: 6.84rem;overflow: hidden;}
.banner .wrapper .swiper-container .swiper-slide {-webkit-flex-shrink: 0; -ms-flex: 0 0 auto; flex-shrink: 0; width: 100%; position: relative;}
.banner .wrapper .swiper-slide .bannerImg{display: block;height: 5.62rem}
.banner .wrapper .swiper-wrapper img {display: block;width: 100%;height: 5.62rem;object-fit: cover}
.banner .wrapper .swiper-wrapper .slideinfo {display: none;}
.banner .wrapper .pagination {position: absolute;z-index: 20;left: 0;bottom: 1.7rem;width: 100%;}
.banner .swiper-pagination-bullet{width: .14rem!important;height: .14rem; border-radius: .07rem; background: #fff;opacity: .6;    transition: all .4s ease-in-out;-ms-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;-webkit-transition: all .4s ease-in-out;-o-transition: all .3s ease-in-out;}
.banner .swiper-pagination-bullet-active{background: #fff!important;opacity: 1!important;}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 3px;}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{text-align: center;}
/*镜像*/
.banner .reflection{transform: scaleY(-1) ;width: 100%;  height: 5.62rem; overflow: hidden;margin-top: -1px}
.banner .reflection img{display: block;width: 100%;height: 5.62rem;object-fit: cover}

/*视频*/
.banner .wrapper .swiper-wrapper .imgplay{position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);}
.banner .wrapper .swiper-wrapper .imgplay img{width: 1rem!important;height: 1rem;}
/*全屏*/
.videoModal{width:100%;height:100%;position: fixed;z-index: -1;top: 0;left: 0;bottom:0;opacity: 0;}
.videoModal.vshow{opacity: 1;visibility: visible;z-index:999999 ;transition: all .4s;}
.videoModal .swiper-container{width: 100%;height: 100%;background: #000;}
.videoModal .vClose{position: absolute;top: .22rem;right: .2rem;width: .5rem;height: .5rem;display: block;background: url(../images/vclose.png) no-repeat center center;background-size: .5rem;z-index: 11;}
.videoModal .swiper-pagination{position: absolute;left: 50%;top: .25rem;width: auto;height: .45rem;line-height: .5rem;padding: .04rem .2rem;line-height: .4rem;text-align: right;color: #fff;border-radius: .4rem;font-size: .26rem;z-index: 9;margin-left:-.4rem;}
.videoModal .swiper-slide{width:100%!important;height: 100%}
.videoModal .swiper-slide img{width:100%;height:auto;position: relative;top: 50%; transform: translateY(-50%);-webkit-transform: translateY(-50%);}

.videoModal video{height: 4.4rem;position: absolute;top:50%;margin-top: -2.2rem;}
 .swiper-bg{    position: fixed; left: 0; right: 0; background: rgba(0,0,0,.5); height: 1rem; z-index: 9; pointer-events: none}

.shopCollect{position: absolute;bottom: 1.58rem;left: .28rem;right: .28rem;z-index: 10;display: flex;align-items: center;justify-content: space-between;}
.shopCollect .collectInfo{display: flex;align-items: center;height: .8rem;background: rgba(18,18,18,.85);border-radius: .12rem;padding: 0 .18rem;}
.shopCollect .collectInfo .ciocn{display: inline-block;width: .4rem;height: .4rem;background: url(../images/store/ciocn2.png) no-repeat center center;background-size: .4rem}
.shopCollect .collectInfo.cared .ciocn{background: url(../images/store/ciocn.png) no-repeat center center;background-size: .4rem}
.shopCollect .collectInfo .line{display: inline-block;width: 1px;height: .4rem;background: #FFD5B2;opacity: .2;margin-left: .13rem;margin-right: .16rem;}
.shopCollect .collectInfo .buscollect{}
.shopCollect .collectInfo .buscollect h2{font-size: .24rem;color: #FFD5B2;font-weight: bold;}
.shopCollect .collectInfo .buscollect p{font-size: .18rem;color: rgba(255,255,255,.7);}
.shopCollect .imgCout{height: .44rem;border-radius: .22rem;background: rgba(0,0,0,.4);font-size: .22rem;color: #fff;padding: 0 .2rem 0 .14rem;display: flex;align-items: center;}
.shopCollect .imgCout i{display: inline-block;width: .3rem;height: .3rem;background: url(../images/store/img.png) no-repeat center center;background-size: .3rem;margin-right: .05rem;}
.banner::after{content: '';display: block;width: 100%;height: 2.2rem;
background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 75%);position: absolute;left: 0;bottom: 0;z-index: 9;}

.container{position: absolute;top: 6.84rem;left: 0;right: 0}

/*店铺信息*/
.infoWrap{background: #fff;position: relative;}
.shopInfo{background: #fff;box-shadow: -1px .03rem .27rem 0px rgba(0, 0, 0, 0.08);border-radius: .26rem;margin: 0 .26rem;padding: .2rem 0 0 .26rem;margin-top: -1.42rem;position: relative;z-index: 10;}
.shopInfo .shopTop{position: relative;}
.shopInfo .shopTop h2{font-size: .36rem;color: #000;font-weight: bold;max-width: 80%;}
.shopInfo .shopTop p{margin-top: .12rem;display: flex;align-items: center;}
.shopInfo .shopTop p .renzheng{width: .9rem;height: .32rem;line-height: .32rem;background: url(../images/store/renzheng.png) no-repeat center center;background-size: 100%;padding-left: .3rem;box-sizing: border-box;color: #fff;font-size: .2rem;border-radius: .06rem;display: inline-block;}
.shopInfo .shopTop p .haoping {margin-left: .13rem;display: flex;align-items: center;}
.shopInfo .shopTop p .haoping i{display: inline-block;width: .3rem;height: .3rem;background: url(../images/store/star.png) no-repeat center center;background-size: .3rem;margin-right: .04rem;}
.shopInfo .shopTop p .haoping span{font-size: .32rem;font-family: "coregtd";line-height: 1}
.shopInfo .shopTop .rateInfo{font-size: 0;margin-left: .2rem;}
.shopInfo .shopTop .rateInfo em{font-size: .22rem;color: #636366;margin-right: .16rem}
.shopInfo .shopTop .topmore{display: inline-block;width: .3rem;height: .3rem;background: url(../images/store/arr2.png) no-repeat center center;background-size: .3rem;position: absolute;right: .15rem;top: 50%;margin-top: -.3rem;}

.shopInfo .openInfo{padding-top: .24rem;position: relative;}
.shopInfo .openInfo .openDet{font-size: .26rem;color: #2E2F33;font-weight: bold;}
.shopInfo .openInfo .openDet span{margin-right: .15rem}
.shopInfo .openInfo .other{margin-top: .1rem;font-size: 0; }
.shopInfo .openInfo .other span{display: inline-block;background: linear-gradient(90deg, #E8F0FC 0%, #F5F8FC 100%);height: .34rem;line-height: .34rem;margin-right: .08rem;padding: 0 .1rem;font-size: .22rem;color: #2E2F33;font-weight: bold;font-style: italic;margin-right: .08rem; border-radius: .04rem;}
.shopInfo .openInfo .other em{display: inline-block;background: #F5F7FA;height: .34rem;line-height: .34rem;margin-right: .08rem;padding: 0 .1rem;font-size: .22rem;color: #666;margin-right: .08rem;}
.shopInfo .openInfo .openmore{display: inline-block;width: .3rem;height: .3rem;background: url(../images/store/arr1.png) no-repeat center center;background-size: .3rem;position: absolute;right: .15rem;top: 50%;margin-top:0;}

.shopInfo .shopOther{display: flex;align-items: center;justify-content: space-between;height: 1.4rem;padding: 0 .3rem 0 0;margin-top: .18rem;border-top: 1px solid rgba(174,175,180,.1);position: relative;}
.shopInfo .shopOther::after{content: '';display: block;width: 4rem;height: 1.4rem;background: url(../images/store/adrbg.png) no-repeat right center;background-size: cover;opacity: .78;position: absolute;right: 0;top: 0;z-index: -1}
.shopInfo .shopOther .shopAddr h2{font-size: .28rem;color: #2E2F33;font-weight: bold;max-width: 4.8rem;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.shopInfo .shopOther .shopAddr p{font-size: .22rem;color: #969696;}
.shopInfo .shopOther .shopContact{font-size: 0;}
.shopInfo .shopOther .shopContact a{display: inline-block;width: .56rem;height: .56rem;}
.shopInfo .shopOther .shopContact .appMapBtn{background: url(../images/store/shopadr.png) no-repeat center center;background-size: .56rem;}
.shopInfo .shopOther .shopContact .shopTel{background: url(../images/store/shoptel.png) no-repeat center center;background-size: .56rem;margin-left: .24rem;}

@font-face {
  	font-family: "coregtd";
  	src: url("/static/fonts/coregtd6.woff2"),
       url("/static/fonts/coregtd6.woff"),
       url("/static/fonts/coregtd6.ttf"),
       url("/static/fonts/coregtd6.eot"),
       url("/static/fonts/coregtd6.otf");
}

.advBox{background: #fff;padding: 0 .26rem;padding-top: .2rem; /*margin-bottom: .1rem*/}
/*.advBox img{padding-bottom: .1rem}*/

/* 广告为 */
.advBox{ padding-bottom: .4rem;}
.advBox img{display: block; max-height: 2rem; object-fit: cover; width: 100%; border-radius: .26rem;}

.activity{background: #fff;position: relative;z-index: 2;}
.activity .baoreBox{padding-top: .3rem}

/*本店热销*/
.activity .saleOne{padding-bottom: .4rem;padding-right: .26rem;padding-left: .26rem;}
.activity .titTop{display: flex;align-items: center;}
.activity .titTop strong{font-size: .34rem;font-style: italic;}
.activity .titTop i{display: inline-block;width: .67rem;height: .31rem;background: url(../images/store/top1.png) no-repeat center center;background-size: 100%;margin-left: .12rem}
.saleGoods {height: 2.8rem;margin-top: .1rem}
.activity .saleImg{float: left;width: 2.6rem;height: 2.6rem;border-radius: .3rem 0px 0px .3rem;margin-top: .2rem;overflow: hidden;position: relative;background: #fff;}
.activity .saleImg img{display: block;width: 100%;height: 100%;object-fit: cover;}
.activity .saleImg::after{content: '';display: block;width: .34rem;height: .34rem;background: url(../images/store/radus.png) no-repeat center center;background-size: 100%;position: absolute;bottom: 0;right:.1rem ;z-index: 2}
.activity .saleInfo{margin-left: 2.5rem;border-radius: .4rem .4rem .3rem 0px;background: #fff;position: relative;padding: .28rem .3rem .32rem .3rem;box-shadow: -1px .03rem .5rem 0px rgba(0, 2, 29, 0.08);height: 2.8rem;box-sizing: border-box;}
.activity .saleInfo h2{font-size: .3rem;font-weight: bold;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden; height: .66rem; line-height: .34rem}
.saleGoods .saleInfo .cutdown{display: inline-block;height: .38rem;line-height: .38rem;
background: #FFEEEB;border-radius: .08rem;padding: 0 .1rem;font-size: .22rem;color: #EC3628;margin-top: .18rem;}
.activity .salePrice{position: absolute;left: .3rem;bottom: .32rem;right: .3rem}
.activity .newPrice{color: #F7262E;font-family: moneyNumber;font-size: .24rem;}
.activity .newPrice span{font-size: .44rem;}
.activity .newPrice em{font-size: .3rem;}
.activity .oldPrice{color: #9A9CA6;font-size: .22rem;}
.saleGoods .saleInfo .qg{display: inline-block;width: 1.2rem;text-align: center;height: .6rem;line-height: .6rem;font-size: .26rem;color: #fff;font-weight: bold;background: linear-gradient(90deg, #FA5E3E 0%, #F22A18 100%);border-radius: .3rem;position: absolute;right: 0;bottom: .4rem;}
.saleGoods .saleInfo .hssale{float: right; width: 1.2rem; text-align: center; display: flex; align-items: center; justify-content: center;}

/*爆热活动*/
.baoreBox .titTop{padding: 0 .26rem}
.baoreBox .huod{width: 2.22rem;height: .9rem;background: url(../images/store/hdbg.png) no-repeat center center;background-size: 100%;display: flex;position: absolute;right: .26rem;bottom: .36rem;justify-content: center;flex-direction: column;    box-sizing: border-box;padding-left: .06rem;}
.baoreBox .huod.qg{background-image: url(../images/quan/qgou1.png)}
.baoreBox .huod.disabled{background-image: url(../images/store/qgou2.png)}
.baoreBox .huod.disabled .huodTxt{background: none;-webkit-text-fill-color: #fff;}
.baoreBox .huod.disabled .huodState{color: #fff;}
.baoreBox .huod .huodTxt{background: linear-gradient(122deg, #FFCABA 0%, #FF9E91 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;font-size: .38rem;font-weight: bold;font-family: "source";font-style: italic;text-align: center;line-height: 1em}
.baoreBox .huod .huodState{font-size: .2rem;color: #FFC8B8;padding-left: .45rem;margin-top: .02rem}
.baoreBox .swiper-container{padding-bottom: .35rem;margin-top: -.4rem;}
.baoreBox .swiper-container .swiper-slide{width: 100%!important;padding:.5rem .26rem 0;box-sizing: border-box;}
.baoreBox .swiper-container .swiper-slide a{display: block;}
.baoreBox .pagination {height: .06rem;margin: 0 auto;border-radius: .03rem;overflow: hidden;bottom: .2rem;position: absolute;left: 0;right: 0;}
.baoreBox .swiper-pagination-bullet{width: .2rem;height: .06rem;background: #E6E6E6;opacity: 1;    vertical-align: top;margin: 0!important;border-radius: 0}
.baoreBox .swiper-pagination-bullet-active{background: #F7262E!important;opacity: 1!important;border-radius: .03rem;}

/*暴热--拼团*/
.baoreBox .pintuan a{height: 2.8rem; border-radius: .3rem; box-shadow: -.01rem .03rem .5rem 0px rgba(0, 2, 29, 0.08); box-sizing: border-box; padding: .15rem; position: relative;}

.baoreBox .pintuan .hd_img{width: 2.5rem; height: 2.5rem; border-radius: .2rem; background: #eee; float: left; overflow:hidden;}
.baoreBox .pintuan .hd_info{margin-left: 2.5rem; padding-left: .28rem; padding-top: .1rem;   height: 2.5rem; box-sizing: border-box; padding-bottom: .1rem;border-radius: 0;position: relative;}
.baoreBox .pintuan .hd_info h2{font-size: .3rem; color: #212121; font-weight: bold; line-height: .34rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.baoreBox .pintuan .hd_info .ptdjs{font-size: .26rem;color: #999;margin-top: .24rem;}
.baoreBox .pintuan .hd_info .ptdjs span{color: #212121}
.baoreBox .pintuan .pt_list{display: flex; align-items: center; margin-top: .26rem;}
.baoreBox .pintuan .pt_list li{width: .46rem; height: .46rem; background: #f5f5f5; border-radius: 50%; float: left; margin-right: -.1rem;overflow: hidden;}
.baoreBox .pintuan .pt_list li img{display: block; width: 100%; height: 100%; object-fit: cover;}
.baoreBox .pintuan .pt_list p{margin-left: .27rem; color: #999; font-size: .26rem;}
.baoreBox .pintuan .pt_list p span{color: #333;}
.baoreBox .pintuan .btn_pin{display: block; min-width: 1.4rem; height: .6rem; background: linear-gradient(-90deg, #F6252F 0%, #FF4621 100%); border-radius: .3rem; text-align: center; color: #fff; line-height: .6rem; font-size:.28rem; position: absolute; right: .3rem; bottom: .36rem;box-sizing: border-box;padding: 0 .26rem;}
.activity .pintuan .salePrice{left: .34rem;bottom: .08rem;}

.baoreBox .pintuan .btn_pin.disabled{background: linear-gradient(49deg, #FFC9C9 0%, #FFBEBA 100%);}

 @font-face {
  	font-family: "source";
  	src: url("/static/fonts/SourceHanSansCN-Heavy.woff2"),
       url("/static/fonts/SourceHanSansCN-Heavy.woff"),
       url("/static/fonts/SourceHanSansCN-Heavy.ttf"),
       url("/static/fonts/SourceHanSansCN-Heavy.eot");
}

/*速递到家*/
.sudiBox{padding: 0 .26rem .4rem;background: #fff;}
.sudiBox .sudi{display: inline-block;width: 1.12rem;height: .78rem;background: url(../images/store/sudi.png) no-repeat center center;background-size: 100%;margin-left: -.16rem}
.sudiBox a{display: flex;align-items: center;height: 1rem;background: #FFF8F2;border-radius: .2rem;justify-content: space-between;padding-right: .16rem;}
.sudiBox a>div{display: flex;align-items: center;}
.sudiBox strong{font-size: .3rem;margin-left: .14rem;}
.sudiBox span{font-size: .26rem;color: #B37E59;margin-left: .07rem;}
.sudiBox em{font-size: .2rem;color: #fff;display: inline-block;height: .38rem;line-height: .38rem;background: #FFA340;border-radius: .19rem;padding: 0 .15rem;}
.sudiBox s{display: inline-block;width: .22rem;height: .22rem;background: url(../images/store/arr3.png) no-repeat center center;background-size: 100%;margin-left: .04rem;}

.juliWrap{padding: 0 .24rem .24rem;background: #fff;}
.juliLong{height: .72rem;border-radius: .1rem;background: #FFF8F2;display: flex;align-items: center;padding: 0 .15rem; color: #5C5C5E}
.juliLong .city{color: #202021}
.juliLong i{display: inline-block;width: .3rem;height: .3rem;background: url(../images/store/tip.png) no-repeat center center;background-size: 100%;margin-right: .06rem;}
/*商品列表*/
.shop_container{ margin-top: -1px;}
.huoniao_iOS .headbox{top: 0}
.headbox{background: #fff;padding-top: .1rem;padding-bottom: .16rem;position: sticky;top: .9rem;left: 0;z-index: 10}
.headbox ul{display: flex;    justify-content: space-between; padding: 0 1.8rem;}
.headbox ul.singleLi{padding: 0 .28rem}
.headbox li{font-size: .34rem;font-weight: bold;text-align: center;}
eadbox ul.singleLi li::after{display: none;}
.headbox li::after{content: '';display: block;width: .4rem;height: .2rem;margin: .08rem auto 0}
.headbox li.curr::after{background: url(../images/store/tabbg.png) no-repeat center center;background-size: 100%;}
.shop_container .swiper-container{background: #f5f5f7;padding-bottom: 1.6rem;}


.proList{padding: 0 .15rem;position: relative;}
.proList::before{content: '';display: block;position: absolute;top:0;left: 0;width: 100%;height: 1rem;background: linear-gradient(0deg, #F5F5F7 0%, #FFFFFF 100%);z-index: -1}
.proList>ul{width: 50%; padding: 0 .09rem; box-sizing: border-box; float: left;}
.proList>ul li.pro_li{width: 100%; border-radius: .16rem; background: #fff; margin-bottom: .2rem;overflow: hidden;}
.proList .pro_li .pimg{overflow: hidden; position: relative;width: 3.42rem;height: 3.42rem;}
.proList .pro_li .pimg img{width: 100%; height: 100%;display: block; object-fit: cover;}
.proList .pro_li .pinfo{padding: .1rem .16rem .24rem .2rem; display: flex; justify-content: space-between; flex-direction: column;}
.proList .pro_li .pinfo h3{font-size: .28rem; color: #000; font-weight: bold; display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;line-height: .34rem}
.proList .pro_li .pinfo .saleBox{display: flex;align-items: center;margin-top: .1rem;}
.proList .pro_li .pinfo .saleBox span{font-size: .22rem;color: #9A9CA6; flex-shrink: 0}
.proList .pro_li .pinfo .saleBox span.txt_day{overflow: hidden; text-overflow: ellipsis; white-space: nowrap;  flex-shrink: 1;}
.proList .pro_li .pinfo .saleBox em{display: inline-block;width: 1px;height: .16rem;background: #ADAFB8;margin-left: .15rem;margin-right: .15rem;}
.proList .pro_li .pinfo .pricebox{display: flex; align-items: baseline;margin-top: .1rem; }
.proList .pro_li .pinfo .pricebox h4{font-size: .22rem; color: #EC3628; font-family: moneyNumber;}
.proList .pro_li .pinfo .pricebox b{font-size: .36rem; }
.proList .pro_li .pinfo .pricebox span{font-size: .24rem; }
.proList .pro_li .pinfo .mprice{color: #A6A8B3; font-size: .2rem; margin-left: .06rem;text-decoration: line-through;}
.proList .pro_li .pinfo .mprice span{font-size: .24rem;}
.proList .pro_li .pinfo .pricebox .quan_icon{display: inline-block;font-size: .2rem;color: #EC3628;height: .28rem;line-height: .28rem;box-sizing: border-box;background: #fff;border: 1px solid #FFC4CD;border-radius: .04rem;margin-left: .06rem;padding: 0 .03rem;margin-top: -.1rem; vertical-align: middle;}
.proList .pro_li .pinfo .pricebox .by_icon{display: inline-block;font-size: .2rem;color: #EC3628;height: .28rem;line-height: .28rem;box-sizing: border-box;background: #fff;border: 1px solid #FFC4CD;border-radius: .04rem;margin-left: .06rem;padding: 0 .03rem;margin-top: -.1rem; vertical-align: middle;}
.proList .pro_li .pinfo .pricebox  .hasSale{font-size: .22rem;color: #A6A8B2;}
/*同城配送*/
.proList .pro_li.tc_li .pinfo{padding-bottom: .28rem;}
.proList .pro_li.tc_li .pinfo .mprice{margin-top: .2rem;}
.proList .pro_li.tc_li .pinfo .pricebox {justify-content: space-between;margin-top: .04rem;}

/*拼团 抢购特有*/
.proList .pro_li .choicePrice.tesPrice{background: #FFF0EC;border-radius: .06rem;line-height: .5rem;overflow: hidden;font-size: 0;height: .5rem;margin-top: .14rem}
.proList .pro_li .choicePrice .spePrice{background: linear-gradient(90deg, #F75F42 0%, #F22C1A 100%);width: 1.9rem; padding-left: .16rem; display: inline-block;vertical-align: top;line-height: .5rem; height: .5rem;white-space: nowrap; box-sizing: border-box;}
.proList .pro_li .choicePrice .newPrice{font-size: .26rem;font-family: DLRG;color: #EC3628;    }
.proList .pro_li .choicePrice .newPrice strong{font-size: .36rem;font-weight: normal;}
.proList .pro_li .choicePrice .newPrice em{font-size: .28rem;display: inline-block;}
.proList .pro_li .choicePrice .oldPrice{font-size: .2rem;color: rgba(255,255,255,.7);margin-left: .05rem}
.proList .pro_li .choicePrice .psPan{font-size: .22rem;color: #EC3628;display: inline-block;width: .9rem;text-align: center;    vertical-align: top;}
.proList .pro_li .choicePrice.tesPrice .newPrice{color: #fff;line-height: 0.5rem;vertical-align: top;
    margin-top: 0; display: inline-block;}
.proList .pro_li .choicePrice.tesPrice .pr-bg{display: inline-block;width: .2rem;height: .5rem;background: url('../images/price-bg.png') no-repeat center; background-size: .2rem .5rem;margin-left: -1px}
.proList .pro_li .choicePrice.tesPrice .newPrice strong{display: inline-block; vertical-align: middle;}
.proList .pro_li .choicePrice.tesPrice .newPrice em{vertical-align: middle;margin-top: .02rem}
.proList .pro_li .choicePrice.tesPrice .oldPrice{    display: inline-block; vertical-align: top;padding-top: .04rem;}

.proList .pro_li .choiceSale{margin-top: .26rem;display: flex;justify-content: space-between;font-size: .22rem;color: #A6A8B2;align-items: center;}
.proList .pro_li .quanspan{display: inline-block;width: .3rem;height: .28rem;background: rgba(255, 236, 227, 0);border: 1px solid #FFC4CD;border-radius: .04rem;line-height: .28rem;box-sizing: border-box;font-size: .2rem;color: #EC3628;margin-left: .06rem;text-align: center;vertical-align: middle;margin-top: -.08rem;}

.proList .pro_li .tsTime{border: .01rem solid #DFE0E6;height: .3rem;box-sizing: border-box;padding: 0 .1rem;display: flex;align-items: center;border-radius: .06rem}
.proList .pro_li .tsTime i{display: inline-block;width: .2rem;height: .2rem;background: url('../images/clock.png') no-repeat center; background-size: .2rem;margin-right: .04rem;margin-top:.01rem}
.proList .pro_li .tsTime span,.proList .pro_li .tsTime em{font-size: .2rem;color: #737580;}
.proList .pro_li .xianshi{width: .72rem;height: .3rem;line-height: .3rem;text-align: center;font-size: .2rem;color: #fff;background: linear-gradient(90deg, #F643FF 0%, #6730F1 100%);border-radius: .06rem;display: inline-block;margin-right: .04rem;}


/*店铺信息*/
.sbotop{padding:.7rem .25rem;}
.sbleft{width: 1.07rem;height: 1.07rem;overflow:hidden;border-radius: .1rem;margin-right: .25rem;float: left;}
.sbleft img{width: 100%;height: 100%;}
.sbright{float: left;width: 81%;position: relative;}
.sbright h3{font-size: .28rem;color:#fff;line-height: .4rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.sbright p{font-size: .22rem;color:#fff;display: -webkit-box;}
.sbright p.goodcom{margin:.05rem 0;}
.sbright p.goodcom em{color:#ff3451;font-weight: 600;}
.sbright p span {margin-right: .7rem;color:#fff;-webkit-box-flex:1;}
.sbright p span i{display: block;width: .3rem;height: .3rem;display: inline-block;vertical-align: middle;margin-top:-.07rem;margin-right: .05rem;}
.rzcon i{background: url(../images/rzIcon.png) no-repeat center center;background-size: .3rem;}
.bzjcon i{background: url(../images/moneyIcon.png) no-repeat center center;background-size: .3rem;}
.wepay i{background: url(../images/wepay.png) no-repeat center center;background-size: .3rem;}

/*关注*/
.spinfoBox .btn-care{display: flex; font-size: .28rem; width: 1.5rem; height: .64rem; border-radius: .32rem; color: #fff; justify-content: center; align-items: center; position: static; background: linear-gradient(90deg, #F65338 0%, #F22A18 100%);}
.spinfoBox .btn-care::before{content: ''; display: block; width: .36rem; height: .36rem; background: url(../images/quan/soucang1.png) no-repeat center/cover; margin-right: .08rem;}
.spinfoBox .btn-care.cared::before{display: none}

.btn-care{position:absolute;right:0;top:0;display:block;width: 1.03rem;height: .42rem;line-height: .42rem;border-radius: .21rem;text-align: center;color:#fff;font-size: .22rem; background: -moz-linear-gradient( 0deg, rgb(255,68,125) 0%, rgb(255,64,91) 100%);background: -webkit-linear-gradient( 0deg, rgb(255,68,125) 0%, rgb(255,64,91) 100%); background: -ms-linear-gradient( 0deg, rgb(255,68,125) 0%, rgb(255,64,91) 100%);}
.btn-care i{display: inline-block;width: .19rem;height: .19rem;background: url(../images/careIcon.png) no-repeat;background-size:.19rem;margin-right:.1rem;}
/*.btn-care.cared{background:#999;}*/




/* 浏览器端扫码提示 */
.wechat-popup {position: fixed; width: 6.8rem; top: calc(50% - 3rem); left: calc(50% - 3.4rem); z-index: 99999; visibility: hidden;}
.wechat-popup:before {position: fixed; z-index: 1; display: block; content: ''; left: 0; top: 0; right: 0; bottom: 0; background: rgba(0,0,0,.5);}
.wechat-popup .con {display: -webkit-box; position: relative; z-index: 2; padding: 50px 10px 20px; background: #fff; -webkit-animation: topFadeIn .3s ease-out; -moz-animation: topFadeIn .3s ease-out; animation: topFadeIn .3s ease-out;}
.wechat-popup .close {position: absolute; right: .2rem; top: .2rem; width: .5rem; height: .5rem; border: 1px solid #dcdcdc; border-radius: 50%; line-height: .4rem; text-align: center; color: #dcdcdc; font-size: .5rem; font-weight: 100;}
.wechat-popup dl {-webkit-box-flex: 1; text-align: center; margin: 0 5px;}
.wechat-popup dl img {width: 94%; height: 94%; max-width: 3rem; max-height: 3rem; margin: 0 auto; padding: 3%; border: 1px solid #eee; display: block;}
.wechat-popup dd {line-height: 1.5em; padding-top: 5px;}

.mask{display: none;}


/* 砍价 */
.kanjiaBox{margin:0 .28rem; margin-top:.3rem;}
.baoreBox ~ .kanjiaBox{margin-top:0;padding-bottom: .2rem;padding-top: .1rem}
.kanjiaBox dt{height: 1.2rem; border-radius: .3rem; background: linear-gradient(90deg, #FFECD9 0%, #FFF1E8 100%); line-height: .9rem; display: flex; align-items: center; justify-content: space-between; padding: 0 .24rem; box-sizing: border-box; padding-bottom: .3rem;}
.kanjiaBox dt h2{font-size: .34rem; color: #000; font-weight: bold;}
.kanjiaBox dt .cutTime{display: flex; align-items: center; font-size: .22rem; color: #4D4D4D;}
.kanjiaBox dt .cutTime span{display: inline-block; width: .38rem; height: .38rem; border-radius: .04rem; background: rgba(0,0,0,.8); color: #fff; font-family: moneyNumber; line-height: .38rem; text-align: center; margin: 0 .1rem;}
.kanjiaBox dt .cutTime em{font-size: .24rem; color: #333;font-weight: bold;}
.kanjiaBox dd{margin-top: -.3rem;}
.kanjiaBox dd a{display: block; height: 2.8rem; background: #FF411C; border-radius: .3rem; box-sizing: border-box; padding: .15rem; position: relative; overflow: hidden;}
.kanjiaBox dd a::after{content: ''; display: block; width: 3.2rem; height: 2.8rem; background: url(../images/quan/bg_kj.png) no-repeat center/cover; position: absolute; right: 0; bottom: 0; pointer-events: none;}
.kanjiaBox dd a .kj_img{width: 2.5rem; height: 2.5rem; border-radius: .2rem; background: #fff; float: left; position: relative; }
.kanjiaBox dd a .kj_img label{position: absolute; width: 1.2rem; height: .6rem; background: url(../images/quan/label.png) no-repeat center/cover; font-size: .2rem; color: #999; line-height: .6rem; color: #fff; text-align: center; left: -.15rem; top: -.15rem;}
.kanjiaBox dd a .kj_img img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius:.2rem;}
.kanjiaBox dd a .kj_info{margin-left: 2.5rem; padding-left: .26rem; display: flex; justify-content: space-between; flex-direction: column; height: 2.5rem; box-sizing: border-box; padding-bottom: .4rem; box-sizing: border-box; padding-top: .1rem; position: relative; z-index: 2}
.kanjiaBox dd a .kj_info h2{color: #fff; font-size: .28rem; font-weight: bold; display: -webkit-box;-webkit-line-clamp: 2; -webkit-box-orient: vertical; white-space: normal;overflow: hidden; line-height: .32rem;}
.kanjiaBox dd a .priceBox .p_tit{width: 1rem; height: 1rem;  color: #fff; font-size: .4rem; font-weight: bold; border-radius: .1rem; text-align: center; line-height: 1.2em; float: left; background: url(../images/quan/jia.png) no-repeat rgba(0,0,0,.2) center/.8rem;}
.kanjiaBox dd a .priceBox .p_show{width: 2rem; height: 1rem;background: rgba(0,0,0,.2); float: left;  border-radius: .1rem; box-sizing: border-box; padding-left: .15rem; margin-left: .1rem; padding-top: .1rem;}
.kanjiaBox dd a .priceBox .p_show h4{font-size: .24rem; color: #fff; font-weight: bold; font-family: moneyNumber;}
.kanjiaBox dd a .priceBox .p_show h4 b{font-size: .44rem;}
.kanjiaBox dd a .priceBox .p_show h4 span{font-size: .3rem}
.kanjiaBox dd a .priceBox .p_show p{color: #fff; font-size: .2rem;}

/*底部*/
.contact_box{ height: 1.8rem;position: fixed; left:0; right:0; bottom: 0;padding-bottom: calc(-.3rem + constant(safe-area-inset-bottom));padding-bottom:calc(-.3 + env(safe-area-inset-bottom)); margin:auto; z-index:999;padding: .17rem .55rem 0;box-sizing: border-box;transition: all .3s}
.contact_box>div{width: 100%; background: #fff;border-radius: .5rem;position: relative;z-index: 1000; box-shadow: -4px .08rem .5rem 0px rgba(0, 4, 26, 0.08);  }
.contact_box::after{content: '';display: block;width: 100%;height: 1.8rem;
background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 60%);position: absolute;bottom: 0;left: 0; }
.contact_box .contactBus{display: inline-block;width: 1.9rem;text-align: center;line-height: 1rem;background: linear-gradient(-90deg, #152239 0%, #18263D 100%);font-size: .28rem;color: #fff;font-weight: bold;border-radius: 0 .5rem .5rem 0 }
.contact_box ul{float: left;width: 4.5rem;}
.contact_box ul li{float: left;width: 33.3%;text-align: center;position: relative;}
.contact_box ul li i{display: inline-block;width: .4rem;height: .4rem;}
.contact_box ul li a{display: block;width: 100%;height: 1rem;display: flex;align-items: center;flex-direction: column;justify-content: center;}
.contact_box ul li.collectBus i{background: url(../images/store/collectBus.png) no-repeat center/cover;}
.contact_box ul li.collectBus.cared i{background: url(../images/store/heart.png) no-repeat center/cover;}
.contact_box ul li.collectBus::after,.contact_box ul li.posBus::after{content: '';width: 1px;height: .3rem;background: #D9D9D9;display: inline-block;position: absolute;right: 0;top: 50%;margin-top: -.15rem}
.contact_box ul li.posBus i{background: url(../images/store/posBus.png) no-repeat center/cover;}
.contact_box ul li.telBus i{background: url(../images/store/telBus.png) no-repeat center/cover;}
.contact_box ul li p{font-size: .22rem;color: #4D4D4D;}

.contact_box ul li.collectBus.curr i{-webkit-animation: scale-up-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;animation: scale-up-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;background: url(../images/store/heart.png) no-repeat center/cover;}

@-webkit-keyframes scale-up-bottom {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
}
@keyframes scale-up-bottom {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
}


/* 店铺详细信息展示 */
.shopMask{position: fixed; top:0;left: 0;right: 0; bottom: 0; background: rgba(0,0,0,.5); z-index: 100000; display: none; }
.shopDetailBox{ position: fixed;  left: 0; right: 0;bottom: 0; z-index: 100000; overflow: auto; display: none; transform: translateY(100%); transition: transform .3s ease-in-out}
.proWrap{max-height: 10rem;overflow: auto;min-height: 5rem; margin-top: .2rem; }
.shopDetail{background: #f5f5f7; padding-top:.01rem; margin-top: 1.6rem; position: relative; pointer-events: all;}
.shopDetail::before{content: ''; display: block;  position: absolute; top: -1rem; left: 0; right: 0; background: url(../images/quan/hu_bg.png) no-repeat center/cover; height: 1rem;}
.spinfoBox{display: flex; align-items: center; justify-content: space-between; margin: 0 .28rem; height: 1.6rem; border-radius: .3rem; background: #fff;  padding: .26rem .3rem; box-sizing: border-box; margin-top: -1.24rem; position:relative; z-index:2; }
.spinfoBox .spinfo{display: flex; align-items: center; justify-content: center;}
.spinfoBox .spinfo .slogo{width: 1rem; height: 1rem; border-radius: .2rem; box-shadow: 0 .03rem .17rem 0 rgba(4, 6, 18, 0.05); float: left; margin-right: .18rem;}
.spinfoBox .spinfo .slogo img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: .2rem;}
.spinfoBox .spinfo .sdetail h2{font-size: .32rem; color: #000; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 3.2rem;}
.spinfoBox .spinfo .sdetail p{font-size: .22rem; margin-top: .12rem;}
.spinfoBox .spinfo .sdetail p span{font-size: .22rem;color: #969696;margin-left: .22rem;}

.zhizhaoBox{margin: 0 .28rem; margin-top: 0; border-radius: .3rem;  padding: .5rem .45rem .45rem .75rem; background: #fff;}
.zhizhaoBox li{margin-bottom: .45rem;position: relative;}
.zhizhaoBox li:last-child{margin-bottom: 0}
.zhizhaoBox h3{font-size: .3rem; color: #000; font-weight: bold; position: relative;}
.zhizhaoBox h3::before{content: ''; display: block; width: .4rem; height: .4rem; background: url(../images/quan/rz_icon.png) no-repeat center/cover; position: absolute; left: -.49rem; top: 0; bottom: 0; margin: auto;}
.zhizhaoBox .bzj h3::before{background-image: url(../images/quan/bzj_icon.png)}
.zhizhaoBox .zf h3::before{background-image: url(../images/quan/zf_icon.png)}
.zhizhaoBox p{color: #999; font-size: .24rem; line-height: .34rem; margin-top: .1rem}
.zhizhaoBox .zizhiMore{position: absolute;right: -.25rem;top:0;font-size: .24rem;color: #999;display: flex;align-items: center;}
.zhizhaoBox .zizhiMore i{display: inline-block;width: .2rem;height: .2rem;background: url(../images/store/arr4.png) no-repeat center/cover;margin-left: .06rem;}

/* 好评 */
.haopingBox{margin: 0 .28rem; margin-top: .2rem; border-radius: .3rem;  padding: .4rem .35rem; background: #fff;}
.haopingBox dt{font-size: .32rem; display: flex;align-items: center;justify-content: space-between; }
.haopingBox dt>div{display: flex;}
.haopingBox dt .sjpf{font-size: .32rem;}
.haopingBox .haoping {margin-left: .06rem;display: flex;align-items: center;}
.haopingBox .haoping i{display: inline-block;width: .3rem;height: .3rem;background: url(../images/store/star.png) no-repeat center center;background-size: .3rem;margin-right: .04rem;}
.haopingBox .haoping span{font-size: .32rem;font-family: "coregtd";margin-left: .02rem;line-height: 1}
.haopingBox .noPoint span{color: #999; font-size: .24rem; line-height: .34rem; }
.haopingBox dt p{float: right;font-size: .26rem;}
.haopingBox dt p strong{font-family: "coregtd";margin-left: .06rem;}
.haopingBox dd{display: flex; align-items: center; margin-top: .34rem;}
.haopingBox .label{font-size: .26rem; color: #333; font-weight: bold;}
.haopingBox .scoreLineBox{width: 3rem; height: .14rem; border-radius: .07rem; background: #EBEBED; margin-left: .4rem; margin-right: .24rem;}
.haopingBox .scoreLineBox .scoreLine{height: .14rem; border-radius: .07rem; width: 0; background: linear-gradient(90deg, #F22B19 0%, #FA00A8 50%, #8523FF 100%); transition: width .3s}
.haopingBox h3{font-size: .26rem; color: #333; font-family: moneyNumber; font-weight: bold;}
.haopingBox .noPoint  h3 {color: #999; font-size: .24rem; line-height: .34rem; font-weight: normal;}
/*营业信息*/
.yingyeBox{margin: 0 .28rem; margin-top: .2rem; border-radius: .3rem;  padding: .4rem .26rem; background: #fff;}
.yingyeBox dt{display: flex;align-items: flex-end;}
.yingyeBox dt span{font-weight: 600;font-size: .3rem;margin-right: .15rem; word-break: break-all;}
.yingyeBox dt span.label{flex-shrink: 0; display: flex; align-items: center; font-weight: bold;}
.yingyeBox dt span.label::before{display: inline-block;width: .36rem;height: .36rem;margin-right: .14rem; content: '';}
.yingyeBox .yytime dt span.label::before{background: url(../images/store/yingye.png) no-repeat center/cover;}
.yingyeBox .yyss dt span.label::before{background: url(../images/store/sheshi.png) no-repeat center/cover;}
.yingyeBox dd{margin-left: .5rem;}
.yingyeBox .yytime dd{margin-top: .22rem;font-size: .26rem;color: #4D4D4D}
.yingyeBox .yyss{margin-top: .47rem;}
.yingyeBox .yyss dd{margin-top: .2rem;}
.yingyeBox .yyss dd em{display: inline-block;height: .42rem;line-height: .42rem;background: #F2F5FA;border-radius: .04rem;padding: 0 .15rem;font-size: .24rem;color: #4D4D4D;margin: 0 .12rem .16rem 0}

/* 店铺介绍 */
.shopintroBox{margin: 0 .28rem; margin-top: .2rem; border-radius: .3rem; background: #fff; }
.shopintroBox .spTxt{margin: 0 .3rem; padding-top: .4rem; padding-bottom: .4rem;}
.shopintroBox .spTxt .jstitle{font-size: .32rem;font-weight: bold;}
.shopintroBox .spTxt .jieshao{color: #4D4D4D; font-size: .26rem; line-height: .36rem; margin-top: .4rem;}
.shopintroBox .spTxt .jieshao p{color: #4D4D4D !important; font-size: .26rem !important; line-height: .36rem !important;}
.shopintroBox .spTxt .jieshao span{color: #4D4D4D !important; font-size: .26rem !important; line-height: .36rem !important;text-decoration: none !important;}
.shopintroBox .spTxt .jieshao strong{font-weight: normal !important;color: #4D4D4D !important; font-size: .26rem !important; line-height: .36rem !important;}
.shopintroBox .spTxt ul{margin-top: .3rem;}
.shopintroBox .spTxt .lab{float: left; font-size: .26rem; color: #333; font-weight: bold; width: 1.5rem;}
.shopintroBox .spTxt li{margin-bottom: .26rem; }
.shopintroBox .spTxt li p{margin-left: 1.5rem; color: #4D4D4D; font-size: .26rem; line-height: .36rem; }

.seeYh{margin: 0 .3rem;height: 1.1rem;padding-top: .4rem; z-index: 3 }
.btn_to_pro{display: block;  height: .76rem; border-radius: .38rem; font-size:.26rem; background: linear-gradient(90deg, #F65338 0%, #F22A18 100%); font-weight: bold; color: #fff; text-align: center; line-height: .76rem;}

.img_page{bottom: .2rem !important; position: absolute; margin: auto; width: 1rem; height: .56rem; border-radius: .28rem; background: rgba(0,0,0,.6); text-align: center; color: #fff; font-family: moneyNumber; left: 0; right: 0; line-height: .56rem; z-index: 1;}
.img_page .swiper-pagination-current{font-size: .36rem; font-weight: bold;}


/*点赞*/
@-webkit-keyframes niceIn {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.5);
        transform: scale(1.5)
    }
    70% {
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}
@keyframes niceIn {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5)
    }
    70% {
        -webkit-transform: scale(.8);
        -ms-transform: scale(.8);
        transform: scale(.8)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
}

@-o-keyframes niceIn{
    0% {
        opacity: 1;
        -o-transform: scale(1);
        transform: scale(1)
    }
    50% {
        opacity: 1;
        -o-transform: scale(1.5);
        transform: scale(1.5)
    }
    70% {
        -o-transform: scale(.8);
        transform: scale(.8)
    }
    100% {
        opacity: 1;
        -o-transform: scale(1);
        transform: scale(1)
    }
}

@-moz-keyframes niceIn{
    0% {
        opacity: 1;
        -moz-transform: scale(1);
        transform: scale(1)
    }
    50% {
        opacity: 1;
        -moz-transform: scale(1.5);
        transform:scale(1.5)
    }
    70% {
        -o-transform: scale(.8);
        transform: scale(.8)
    }
    100% {
        opacity: 1;
        -moz-transform: scale(1);
        transform: scale(1)
    }
}
 .niceIn i{
    -webkit-animation:niceIn 0.8s .2s ease;
    -moz-animation:niceIn 0.8s .2s ease;
    -o-animation:niceIn 0.8s .2s ease;
    animation:niceIn 0.8s .2s ease;
}