body{background: #f2f2f2 ;}
.nos ,.nos body{overflow: hidden;}
.shopbgbox{ position:relative;height: 4.84rem;margin-top: .9rem;   z-index: 2; transition: all .5s;}
.sbcover{position: absolute; top:0;bottom:0;right:0;left:0;background-size: cover;z-index: -1;-webkit-filter: blur(3px);filter: blur(3px);}
.sbcover .bcover{background-color: rgba(0,0,0,.5);position: absolute; top:0;bottom:0;right:0;left:0;}
.sbcover .bottom{display:block;background: linear-gradient(rgba(242,242,242,.2), rgba(242,242,242,1));position: absolute;bottom:0;left:0;right:0;height: .6rem;}

/*头部*/
.absolute.header{position: fixed;}

.shoptop{padding: .15rem; position:relative; }
.proWrap{max-height: 10rem;overflow: auto;min-height: 5rem; }
/*搜索*/
.search-form form{width: 5.88rem;height: .6rem;position: relative;}
.search-form form .inp{width: 5.18rem;height: .64rem;line-height: .64rem;font-size: .26rem;background-color: rgba(242, 242, 242,0.2);border:none;border-radius: .32rem;padding-left: .7rem;color:#fff;}
.search-form form span{text-align: center;font-size: .3rem;color:#fff;margin-left: .34rem; display: inline-block;position: absolute;right:0;top: .09rem;margin-right: .32rem;}
.search-form form .isearch{ position: absolute;top: .19rem;left:.33rem;width:.24rem;height:.24rem;vertical-align:middle;}
.search-form form .isearch:before {position:absolute;content:"";left:0;top:0;width:.16rem;height:.16rem;border:1px solid #fff;border-radius:50%;}
.search-form form .isearch:after {position:absolute;content:"";left:.19rem;top:.15rem;transform:rotate(-45deg);width:1px;height:.08rem;overflow:hidden;background:#fff;}

.inp::-webkit-input-placeholder { color:rgba(255, 255, 255, 0.502);}
.inp:-moz-placeholder { color:rgba(255, 255, 255, 0.502);}
.inp::-moz-placeholder { color:rgba(255, 255, 255, 0.502);}
.inp:-ms-input-placeholder {color:rgba(255, 255, 255, 0.502);}


.shoptop .btn-fenlei{display: block;position: absolute;right: .15rem;top:.15rem;width: 1.1rem;height: .64rem;background: rgba(0,0,0,.3);border-radius: .32rem;line-height: .6rem;text-align: center;color:#fff;font-size: .3rem;}

/*店铺信息*/
.sbotop{padding:.7rem .25rem;}
.sbleft{width: 1.07rem;height: 1.07rem;overflow:hidden;border-radius: .1rem;margin-right: .25rem;float: left;}
.sbleft img{width: 100%;height: 100%;}
.sbright{float: left;width: 81%;position: relative;}
.sbright h3{font-size: .28rem;color:#fff;line-height: .4rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.sbright p{font-size: .22rem;color:#fff;display: -webkit-box;}
.sbright p.goodcom{margin:.05rem 0;}
.sbright p.goodcom em{color:#ff3451;font-weight: 600;}
.sbright p span {margin-right: .7rem;color:#fff;-webkit-box-flex:1;}
.sbright p span i{display: block;width: .3rem;height: .3rem;display: inline-block;vertical-align: middle;margin-top:-.07rem;margin-right: .05rem;}
.rzcon i{background: url(../images/rzIcon.png) no-repeat center center;background-size: .3rem;}
.bzjcon i{background: url(../images/moneyIcon.png) no-repeat center center;background-size: .3rem;}
.wepay i{background: url(../images/wepay.png) no-repeat center center;background-size: .3rem;}

/*关注*/
.btn-care{position:absolute;right:0;top:0;display:block;width: 1.03rem;height: .42rem;line-height: .42rem;border-radius: .21rem;text-align: center;color:#fff;font-size: .22rem; background: -moz-linear-gradient( 0deg, rgb(255,68,125) 0%, rgb(255,64,91) 100%);background: -webkit-linear-gradient( 0deg, rgb(255,68,125) 0%, rgb(255,64,91) 100%); background: -ms-linear-gradient( 0deg, rgb(255,68,125) 0%, rgb(255,64,91) 100%);}
.btn-care i{display: inline-block;width: .19rem;height: .19rem;background: url(../images/careIcon.png) no-repeat;background-size:.19rem;margin-right:.1rem;}
.btn-care.cared{background:#999;}


/*店铺首页*/
.shmain{ position: relative;top:-.7rem;z-index: 2;}
.shoptab{display: -webkit-box; width: 4rem; }

.shoptab li{-webkit-box-flex:1;text-align: center;color:#fff;font-size: .3rem;}
.shoptab li.active s{display:block;width:.4rem;height: 1px;background: #fff;border-radius: 2px;margin:.1rem auto; }
/*轮播*/
.shopcon{padding:.15rem .24rem .4rem;position: relative;/*top: -.7rem;*/display: none;-webkit-animation: rightFadeIn .3s ease-in-out;; -moz-animation: rightFadeIn .3s ease-in-out;; animation: rightFadeIn .3s ease-in-out;}
.shopcon.show{display: block;}
.shopcon .swiper-container {color: #fff;text-align: center;margin-bottom: .08rem;}
.shopcon .swiper-container .slideshow-item {-webkit-flex-shrink: 0; -ms-flex: 0 0 auto; flex-shrink: 0; width: 100%; height: 100%; position: relative;}
.shopcon .swiper-wrapper .swiper-slide{height: 3.2rem;border-radius: .08rem;}
.shopcon .swiper-wrapper img {display: block;width: 100%;border-radius: .08rem;}
.shopcon .pagination {position: absolute;z-index: 20;left: 0;bottom: .36rem;width: 100%;}
.shopcon .swiper-pagination-switch {display: inline-block;width: 0.12rem;height: 0.12rem;border-radius: 0.16rem;background: #555;margin-right: 5px;opacity: 0.8;border: 1px solid #fff;cursor: pointer;}
.shopcon .swiper-active-switch {background: #fff;}
.shopcon .swiper-dynamic-links {text-align: center;}
.shopcon .swiper-pagination-bullet{opacity: 0.7;}
.shopcon .swiper-pagination-bullet-active{width: .18rem!important;height:.08rem;border-radius: .04rem!important;background: #fff!important;opacity: 1!important;}
.shopcon .swiper-pagination-bullet{width: .09rem;height: .09rem;background: #fff;opacity: .7; border-radius: 50%; transition: all .4s ease-in-out;-ms-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;-webkit-transition: all .4s ease-in-out;-o-transition: all .3s ease-in-out;}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{text-align: center;}

/*商品*/
.goodscon .ptitle{font-size: .3rem;color:#333;font-weight: 600;padding:.2rem 0;}
.goodscon .ptitle .line{float:left;width:.05rem;height:.32rem;background: #ff3451;border-radius: 2px;margin-top:.06rem;margin-right: .16rem; }

/*商品列表*/
.goodlist{position: relative;/*padding: 0 .24rem*/}
.goodlist li{width:3.42rem;float:left;background-color:#fff;margin-right: .18rem;overflow:hidden;margin-bottom:.18rem;box-shadow:0px 3px 13px 0px rgba(4,6,18,0.07);border-radius:.16rem;position: relative;}

.goodlist li:nth-child(2n){margin-right: 0;}
.goodlist li a{display: block;width:100%;}
.goodlist li .goodImg{width: 100%; height: 3.42rem;}
.goodlist li .goodImg img{width:100%;height: 100%;object-fit: cover}
.goodInfo{padding:.16rem .2rem .22rem;}
.goodInfo h4{font-size: .26rem;line-height: .36rem;height: .7rem;display: -webkit-box;-webkit-line-clamp: 2; -webkit-box-orient: vertical; white-space: normal;overflow: hidden;margin-bottom: .3rem;}
.goodInfo .infobot {position: relative;}
.goodInfo .infobot .left{}
.goodInfo .infobot .left h5{font-size:.26rem;color:#F72A34; font-family: DLRG;font-weight: bold;}
.goodInfo .infobot .left h5 strong{font-size: .36rem;}
.goodInfo .infobot .left h5 em{font-size: .28rem;font-weight: bold;}
.goodInfo .infobot .left p.sellnum{font-size: .22rem;color:#A6A8B2;margin-top: .16rem}
.goodInfo .infobot .right{width:.66rem;height: .66rem ;border-radius: 50%;position: absolute;bottom: 0;right: 0;   background:linear-gradient(90deg,rgba(247,95,66,1) 0%,rgba(242,42,24,1) 100%);display: flex;align-items: center;justify-content: center;}
.goodInfo .infobot .right i.bIcart{display: inline-block;width: .44rem;height: .44rem;background: url(../images/cart.png) no-repeat center center;background-size: .44rem;}

/*查看更多*/
.morebox{height: .66rem;line-height: .66rem;border-radius: .04rem;background: #fff;text-align: center;}
.morebox a{font-size: .28rem;color:#808080;}

/*广告*/
.adbox{border-radius: .08rem;overflow: hidden;}
.adbox img{width: 100%;height: 100%;}

/*全部商品*/
.allgoods{padding:0;}
/*筛选框*/
.choose-tab{height: 0.88rem;line-height:.88rem;border-bottom: 1px solid #f2f2f2;background: #fff;display: -webkit-box;}
.choose-tab.topfixed{position: fixed;top: .9rem;left:0;right:0; z-index: 3; transition: all .3s;}
.choose-tab li{-webkit-box-flex:1;font-size: .3rem;text-align: center;position: relative;}
.choose-tab li a{display: block;height: .88rem;line-height: .88rem;font-size: .3rem;text-align: center;color: #565c67!important;padding: 0 6px;}
.choose-tab li.style1.active a span{color: #ff3451;}
.choose-tab li.orderby span:after{content: '';display: inline-block;width: .08rem;height: .25rem;background: url(../images/up.png) no-repeat center;background-size: cover;vertical-align: middle;margin-top: -.06rem;margin-left: .1rem;}
.choose-tab li.orderby.active span:after{content: '';display: inline-block;width: .08rem;height: .25rem;background: url(../images/down.png) no-repeat center;background-size: cover;vertical-align: middle;margin-top: -.06rem;margin-left: .1rem;}


/*商品列表*/
.list-box{background: #fff;}
.list-box li{position: relative; padding: .2rem;border-bottom: 1px solid #f2f2f2;}
.list-box li:last-child{border-bottom: 0;}
.list-box li a{display: block;}
.list-box .img-box{width: 2rem;height: 2rem;float: left;overflow:hidden;border-radius: .08rem;}
.list-box .img-box img{display: block;width: 100%;height: 100%;}
.list-box .txt-box{margin-left: 2.2rem;}
.list-box .txt-box h3{font-weight: 100;font-size: .3rem;;overflow: hidden;line-height: .4rem; display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;white-space: normal;color:#333;}
.list-box .txt-box .txt-price{margin-top: .3rem;}
.list-box .txt-box .txt-price span{line-height: .4rem;}
.list-box .txt-box .txt-price span.sprice{font-size: .34rem;color: #ff3451;margin-right: .2rem;}
.list-box .txt-box .txt-price span.sprice em{font-size: .26rem;}
.list-box .txt-box .txt-info{font-size: .24rem;color: #808080;margin-top: .1rem;display: -webkit-box;}
.list-box .txt-box .txt-info a{display: -webkit-box;}
.list-box .txt-box .txt-info span{-webkit-box-flex: 1;display: block;font-size: .24rem;color:#808080;}
.list-box .txt-box .txt-info span.spos{text-align: right;}

.list-box .loading{height:1rem;line-height: 1rem; text-align: center; font-size: .26rem; margin: 1px; }


/*全部分类*/
.fllist{padding: 0 .26rem;}
.listbox{padding:.3rem .16rem .24rem; background: #fff;border-radius: .2rem;margin-bottom: .22rem;}
.lbtitle{font-size: .3rem;color:#333;line-height: .4rem;font-weight: bold;padding-left: .04rem}
.lbtitle a{float: right;display: block;width: .22rem;height: .22rem;background: url(../images/store/arr3.png) no-repeat center;background-size: cover;margin-top: 0.08rem;}
.listbox ul li{width: 3.28rem;height:.9rem;line-height:.9rem;padding-left:.2rem;text-align:left;float: left;border-radius: .1rem;background-color: #f5f6fa;margin-right: .1rem;font-size: .26rem;color:#333; margin-bottom: .1rem;box-sizing: border-box;}
.listbox ul li:nth-child(2n){margin-right: 0;}
.listbox ul li:nth-child(1){margin-top: .26rem;}
.listbox ul li:nth-child(2){margin-top: .26rem;}


body.fLbox_show{background: #f5f5f7;}
body.fLbox_show .banner::after{background: linear-gradient(0deg, rgba(247, 248, 250, 1) 0,rgba(247, 248, 250, 0) 100%);}

.tjProlist h1{font-size: .24rem;color: #999;text-align: center;padding: .62rem .24rem}

/*遮罩层*/
.mask,.fenleimask{height: 100%;width: 100%;background: rgba(0,0,0,.6);position: fixed;top: 0;right: 0;z-index: -1;opacity: 0;}

/*安心购模态框*/
.modal-public{visibility: hidden;position: fixed;top:0;left:0;right:0;bottom:0;overflow:hidden;z-index: 999;}
.modal-public.curr {visibility: visible;}
.bgCover{ opacity: 0;visibility: hidden;overflow: hidden;background: #000;position: fixed;top: 0px;left: 0px;right: 0; bottom: 0;z-index: 99;-webkit-transition:none;transition:none;}
.curr > .bgCover {opacity: .6;visibility: visible;}
.modal-public .modal-main{display: none; position:relative!important;width: 5.42rem;height:4rem;padding:.5rem;text-align: center;margin:auto;height: auto;left:0;top:50%;right:0;z-index: 9999;-webkit-border-radius: 0.12rem;-moz-border-radius: 0.12rem;border-radius: 0.12rem;background: #fff ;margin-top: -2.5rem; }

.curr .modal-main {display: block;-webkit-animation: popup .3s ease-in;-moz-animation: popup .3s ease-in;animation: popup .3s ease-in;}
.modal-public .close{width:.25rem;height: .25rem;position: absolute;top:.24rem;right:.24rem;}
.modal-public .close img{width: 100%;}
.modal-public .modal-main h3{font-size: .34rem;text-align: center;}
.modal-public .modal-main .content img{width: .53rem;margin-top: .96rem;}
.modal-public .modal-main .content p{padding: 0 .5rem;font-size: .3rem; color:#808080;background: none;text-align: center;line-height:.5rem;}
.modal-public .modal-main .content p em{color:#ff3451;}
.modal-public .modal-main .call{margin:.1rem auto 0;width: 2.07rem;height: .57rem;line-height:.57rem;border-radius: 4px;background: #f86942;box-shadow: 0 .05rem .1rem rgba(255,142,73,.5);}
.modal-public .modal-main .call a{color:#fff;font-size: .28rem;}



/* 浏览器端扫码提示 */
.wechat-popup {position: fixed; width: 6.8rem; top: calc(50% - 3rem); left: calc(50% - 3.4rem); z-index: 99999; visibility: hidden;}
.wechat-popup:before {position: fixed; z-index: 1; display: block; content: ''; left: 0; top: 0; right: 0; bottom: 0; background: rgba(0,0,0,.5);}
.wechat-popup .con {display: -webkit-box; position: relative; z-index: 2; padding: 50px 10px 20px; background: #fff; -webkit-animation: topFadeIn .3s ease-out; -moz-animation: topFadeIn .3s ease-out; animation: topFadeIn .3s ease-out;}
.wechat-popup .close {position: absolute; right: .2rem; top: .2rem; width: .5rem; height: .5rem; border: 1px solid #dcdcdc; border-radius: 50%; line-height: .4rem; text-align: center; color: #dcdcdc; font-size: .5rem; font-weight: 100;}
.wechat-popup dl {-webkit-box-flex: 1; text-align: center; margin: 0 5px;}
.wechat-popup dl img {width: 94%; height: 94%; max-width: 3rem; max-height: 3rem; margin: 0 auto; padding: 3%; border: 1px solid #eee; display: block;}
.wechat-popup dd {line-height: 1.5em; padding-top: 5px;}

/* 从右往左缓冲显示 */
@-webkit-keyframes rightFadeIn{0%{opacity:0;-webkit-transform:translateX(10px)}100%{opacity:1;-webkit-transform:translateY(0)}}
@-moz-keyframes rightFadeIn{0%{opacity:0;-moz-transform:translateX(10px)}100%{opacity:1;-moz-transform:translateY(0)}}
@keyframes rightFadeIn{0%{opacity:0;transform:translateX(10px)}100%{opacity:1;transform:translateY(0)}}

/* 膨胀后变正常尺寸 */
@-webkit-keyframes popup{0%{-webkit-transform:scale(0)}60%{-webkit-transform:scale(1.1)}100%{-webkit-transform:scale(1)}}
@-moz-keyframes popup{0%{-moz-transform:scale(0)}60%{-moz-transform:scale(1.1)}100%{-moz-transform:scale(1)}}
@keyframes popup{0%{transform:scale(0)}60%{transform:scale(1.1)}100%{transform:scale(1)}}

/*从下往上展开*/
@-webkit-keyframes cd-move-in{0%{-webkit-transform:translateY(100vh)}100%{-webkit-transform:translateY(0vh)}}
@-moz-keyframes cd-move-in{0%{-moz-transform:translateY(100vh)}100%{-moz-transform:translateY(0vh)}}
@keyframes cd-move-in{0%{-webkit-transform:translateY(100vh);-moz-transform:translateY(100vh);-ms-transform:translateY(100vh);-o-transform:translateY(100vh);transform:translateY(100vh)}100%{-webkit-transform:translateY(0vh);-moz-transform:translateY(0vh);-ms-transform:translateY(0vh);-o-transform:translateY(0vh);transform:translateY(0vh)}}
/*从上往下收回*/
@-webkit-keyframes cd-move-out{0%{-webkit-transform:translateY(0vh)}100%{-webkit-transform:translateY(100vh)}}
@-moz-keyframes cd-move-out{0%{-moz-transform:translateY(0vh)}100%{-moz-transform:translateY(100vh)}}
@keyframes cd-move-out{0%{-webkit-transform:translateY(0vh);-moz-transform:translateY(0vh);-ms-transform:translateY(0vh);-o-transform:translateY(0vh);transform:translateY(0vh)}100%{-webkit-transform:translateY(100vh);-moz-transform:translateY(100vh);-ms-transform:translateY(100vh);-o-transform:translateY(100vh);transform:translateY(100vh)}}


.huoniao_iOS .shopbgbox{margin-top:0;}
.huoniao_iOS .choose-tab.topfixed{top: 0;}



/* 20211103 店铺改 */
.header.fixed{position: fixed;top: 0;left: 0;right: 0;}
.banner {position: relative;}
.banner .bannerImg{height: 5.36rem;width: 100%;}
.banner .bannerImg img{display: block;width: 100%;height: 100%;object-fit: cover;}
.banner .shopInfo{ position: relative; box-sizing: border-box;  position: absolute;top: 1.1rem;left: 0;right: 0}
.shopInfo .spbox {margin: 0 .3rem 0 .34rem;}
.banner::before{content: ''; position: absolute; left: 0; top: 0; bottom: 0;right: 0; background: rgba(0,0,0,.5)}
.banner::after{content: ''; display: block; height: 1.6rem; position: absolute; bottom: 0; left: 0; right: 0; background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0,rgba(255, 255, 255, 0) 100%);}

/*头部商铺信息*/
.shopInfo .shop_detail{display: flex; align-items: center;}
.shopInfo .shop_detail .shop_logo{width: 1rem; height: 1rem; background: #fff; border-radius: .2rem;}
.shopInfo .shop_detail .shop_logo img{display: block; width: 100%; height: 100%; object-fit: cover;  border-radius: .2rem;}
.shopInfo .shop_detail .shop_tit{padding-left: .18rem;}
.shopInfo .shop_detail .shop_tit h2{font-size: .34rem; color: #fff; font-weight: bold;white-space: nowrap;margin-bottom: .08rem;}
.shopInfo .shop_detail .shop_tit h2 span{display: inline-block; max-width: 3.6rem; overflow: hidden; text-overflow:ellipsis; white-space: nowrap;}
.shopInfo .shop_detail .shop_tit h2::after{content: ''; display: inline-block; width: .24rem; height: .24rem; background: url(../images/quan/arr_white.png) no-repeat center/cover; margin-left: .05rem;vertical-align: middle;margin-top: -0.16rem;}
.shopInfo .shop_detail .shop_tit span{line-height: .36rem;color: #fff;display: inline-block;vertical-align: top;}
.shopInfo .shop_detail .shop_tit span.renzheng{display: inline-block; min-width:.8rem; box-sizing: border-box; padding-left: .34rem; background: url(../images/quan/renzheng.png) no-repeat center/.8rem auto; font-size: .2rem; border-radius: .06rem; vertical-align: middle;}
.shopInfo .shop_detail .shop_tit span.haoping{padding:0 .08rem; border-radius: .06rem; font-size: .2rem; background: #B01C23; vertical-align: middle; display:inline-block;}
.shopInfo .spbox{display: flex; justify-content: space-between; align-items: center;  position: relative; z-index: 1; margin: 0 .34rem; }
.scbox{position: relative;}
.scbox .btn-care,.spinfoBox .btn-care{display: flex; font-size: .28rem; width: 1.5rem; height: .64rem; border-radius: .32rem; color: #fff; justify-content: center; align-items: center; position: static; background: linear-gradient(90deg, #F65338 0%, #F22A18 100%); line-height: .64rem;}

.scbox .btn-care::before,.spinfoBox .btn-care::before{content: ''; display: block; width: .36rem; height: .36rem; background: url(../images/quan/soucang1.png) no-repeat center/cover; margin-right: .08rem;}
.scbox .btn-care.cared::before,.spinfoBox .btn-care.cared::before{display: none}
.scbox p{text-align: center; position: absolute; left: 0; right: 0; margin: auto; top: .76rem; color: #fff;}

/*头部导航*/
.tabbox{display: flex; align-items: center; justify-content: space-between; position: relative; z-index: 1; padding: 0 .3rem; height: .9rem; margin-bottom: .2rem}
.tabbox .searchbox{min-width: 2.6rem; height: .62rem; border-radius: .31rem; background: rgba(255,255,255,.8); position: relative;transition: all .3s ease-out;}
.tabbox .searchbox::before{content: ''; display: block; width: .3rem; height: .3rem; background: url(../images/quan/search_icon.png) no-repeat center/cover; position: absolute;left: .66rem;top: .16rem;transition: all .3s ease-out;}
.tabbox .searchbox div{position: absolute;left: 1.05rem;right: .2rem;transition: all .3s ease-out;top: .18rem; }
.tabbox .searchbox input{background: none; border: none;width: 100%}

/* --清除谷歌浏览器下的 search 叉号  */
input::-webkit-search-cancel-button {
  display: none;
}
/* --清除IE下的 search 叉号  */
input[type="search"]::-ms-clear {
  display: none;
}
.tabbox .souStore{font-size: .3rem;color: #fff;font-weight: bold;position: absolute;right: .28rem;top: .24rem;border: none;background: none;display: none;}
.tabbox .searchbox.hasClick{width: 5.8rem;}
.tabbox .searchbox.hasClick::before{left: .2rem;}
.tabbox .searchbox.hasClick div{left:.6rem }
.headbox.topSpe .tabbox .souStore{color: #313233;}

.tabbox .searchbox.hasClick ~ .souStore{display: block;}

.tabbox ul{display: flex; align-items: center; font-size: .3rem; color: #fff;}
.tabbox ul li{margin: 0 .4rem;}
.tabbox ul li:last-child{margin-right: .2rem;}
.tabbox ul li.on{font-size: .34rem; font-weight: bold; position: relative;}
.tabbox ul li.on::before{content: ''; display: block; width: .4rem; height: .06rem; border-radius: .03rem; background: #fff; position: absolute; left: 0; right: 0; bottom: -.1rem; margin: auto;}
.tabbox ul.speHide{display: none;}

.huoniao_iOS .headbox{top: 0}
.headbox{position: sticky;top: .9rem;left: 0;right: 0;z-index: 99;margin-top: -2.6rem;}
.headbox.topSpe .tabbox{height: .9rem; background: #fff; margin-bottom: 0;}
.headbox.topSpe .tabbox ul{color: #313233}
.headbox.topSpe .searchbox{background: #F5F5F7}
.headbox.topSpe .tabbox ul li.on::before{background: linear-gradient(90deg, #FF6D1D 0%, #FF4133 100%);box-shadow: -.03rem .06rem .13rem 0 rgba(255, 28, 0, 0.25);}

/* 推荐 */
.mask{display: none;}
body{background: #fff;overflow: visible;}
.shop_container{ position: relative;  /*min-height: calc(100vh - 4.08rem);*/ }
.shop_container.topSpe{background: #fff;/*overflow: visible;*/}
.shop_container.topSpe .shop_container{margin-top:0;}
.shop_container.topSpe .recBox{    padding-top: 0.28rem;}


/*分类页*/
body.fLbox_show .shop_container.topSpe{background: #f5f5f7}
.fenleiBox{padding-bottom: 1.2rem;}
.tjProlist .proList{padding-bottom: 0}
.tjProlist .seeAll{padding: .24rem .24rem .6rem}
.tjProlist .seeAll a{display: block;height: .9rem;line-height: .9rem;background: #fff;border-radius: .16rem;font-size: .26rem;color: #333;text-align: center;}

.boxcon .advbox{margin: 0 .28rem; background: #f5f5f5; height: 2.2rem; box-shadow: -.01rem .03rem .27rem 0 rgba(0, 0, 0, 0.08); border-radius: .26rem; overflow: hidden; margin-bottom: .3rem;}
.boxcon .advbox img{display: block; max-height: 2.2rem; object-fit: cover;}
.boxcon .livebox {overflow: hidden; margin: 0 .28rem; height: 1.8rem; box-shadow: -.01rem .03rem .27rem 0 rgba(0, 0, 0, 0.08); border-radius: .26rem; background: #fff; display: block; margin-bottom: .3rem;}
.boxcon .livebox.fn-hide{display: none !important;}
.livebox .live_img{width: 1.8rem; height: 1.8rem; background: #f5f5f5;  float: left;}
.livebox .live_img img{display: block; width: 100%; height: 100%; object-fit: cover}
.livebox .live_detail{margin-left: 1.8rem; padding-left: .24rem; padding-top: .32rem; position: relative; }
.livebox .live_detail h2{font-size: .26rem; color: #000; font-weight: bold; margin-right: 1.97rem; line-height: .32rem;}
.livebox .live_detail .p{font-size: .22rem; color: #FF8633; margin-top: .3rem;}
.livebox .live_detail .p span{display: inline-block; line-height: .34rem; min-width: .78rem; background: #FF8633; color: #fff; font-size: .2rem; box-sizing: border-box; padding:0 .06rem; border-radius: .08rem; text-align: center; margin-right: .16rem;}
.livebox.tolive .live_detail .p span::before{content: ''; display: inline-block; width: .24rem; height: .24rem; vertical-align: middle; background: url(../images/quan/to_live.png) no-repeat center/cover; margin-right: .03rem; vertical-align: middle; margin-bottom: .04rem;}
.livebox.tolive .live_detail .live_tip{display: block; width: 1.4rem; height: .6rem; box-sizing: border-box; text-align: center; line-height: .58rem; color: #FF8633; border: solid 1px #FF8633; font-size: .26rem; font-weight: bold; position: absolute; top: .6rem; right: .28rem; border-radius: .3rem}
.livebox.living .live_detail .live_tip{display: none;}
.livebox.living .p{color: #FF1C55}

.livebox.living .p span{background: linear-gradient(90deg, #FF4775 0%, #FF0040 100%); line-height: .3rem; height: .34rem; overflow: hidden;box-sizing: border-box; padding-top: .02rem; vertical-align: middle; margin-bottom: .04rem;}
.live_go{display: flex; align-items: center; justify-content: center; position: absolute; top: .5rem; right: .3rem;}
.live_go::after{content: ''; display: block; width: .24rem; height: .24rem; background: url(../images/goShop.png) no-repeat center/cover;}
.live_go img{width: .8rem; height: .8rem; border-radius: .1rem; }

.quanbox{padding: 0 .28rem;}
.quanbox .swiper-wrapper{ box-sizing: border-box;}
.quanbox .quan{width: 5.84rem; height: 1.7rem; border-radius: .3rem;   box-sizing: border-box; position: relative; margin-right: .2rem}
.quanbox .quan.single_quan{width: 100%;height: 1.7rem;  border-radius: .3rem; position: relative; margin: 0;}
.quanbox .quan .q_amount{font-size: .36rem; color: #fff; font-family: moneyNumber;  text-align: center; width: 1.7rem; height: 1.7rem; line-height: 1.7rem; background: linear-gradient(90deg, #F6252F 0%, #FF4421 100%);border-radius: .3rem 0 0 .3rem}

.quanbox .quan.single_quan .q_amount{ width: 1.92rem; height: 1.7rem; }
.quanbox .quan .q_amount b{font-size: .7rem; font-family: Akrobat;}
.quanbox .quan .q_info{padding-left: .26rem; margin-left: 1.92rem; position: relative; padding-top: .22rem; box-sizing: border-box; height: 1.7rem;background: linear-gradient(90deg, #F94330 0%, #FF9333 100%);border-radius: 0 .3rem .3rem 0;}
.quanbox .quan.single_quan .q_info{padding-left: .35rem; margin-left: 1.95rem; position: relative;}
.quanbox .quan .q_line{  width: .22rem; height: 1.7rem; background: url(../images/yhline.png) no-repeat center/cover;}
.quanbox .quan .q_info h3{font-size: .32rem; color: #fff; font-weight: bold;}
.quanbox .quan:nth-child(2n) .q_amount{background: linear-gradient(90deg, #FFF6ED 0%, #FFEFDF 100%); color: #F21F20}
.quanbox .quan:nth-child(2n) .q_info{background: #FFF5EB;}
.quanbox .quan:nth-child(2n) .q_info h3{color: #333}
.quanbox .quan:nth-child(2n) .q_info p{color: #7C7C80; font-size: .18rem;}
.quanbox .quan:nth-child(2n) .q_line{ background: url(../images/yhline2.png) no-repeat center/cover;}
.quanbox .quan:last-child{margin-right: 0}
.quanbox .quan .q_info span{display: inline-block; line-height: .28rem; border-radius: .15rem; border: solid 1px #FFE2B9; color: #FFE2B9; font-size: .2rem; padding: 0 .1rem; margin-top: .1rem}
.quanbox .quan:nth-child(2n) span{color: #D9A357; border-color: #D68F2F}
.quanbox .quan .q_info p{color: #fff; font-size: .22rem; margin-top: .14rem;}
.quanbox .quan .q_info a.toget{display: block; width: 1.5rem; height: .6rem; border-radius: .3rem; color: #F21F20; font-size: .26rem; line-height: .6rem; position: absolute; right: .3rem; bottom: .4rem; background: #fff; text-align: center; font-weight: bold;}
.quanbox .quan:nth-child(2n) .q_info a.toget{background: linear-gradient(-90deg, #F6252F 0%, #FF4621 100%); color: #fff;}

.activity{padding-top: .24rem;border-radius: .4rem .4rem 0 0;background: #fff;}
/*本店热销*/
.saleOne{padding-bottom: .4rem;padding-right: .26rem;padding-left: .26rem;}
.saleOne .titTop{display: flex;align-items: center;}
.saleOne .titTop strong{font-size: .34rem;font-style: italic;}
.saleOne .titTop i{display: inline-block;width: .67rem;height: .31rem;background: url(../images/store/top1.png) no-repeat center center;background-size: 100%;margin-left: .12rem}
.saleGoods {height: 2.8rem;margin-top: .1rem}
.saleOne .saleImg{float: left;width: 2.6rem;height: 2.6rem;border-radius: .3rem 0px 0px .3rem;margin-top: .2rem;overflow: hidden;position: relative;background: #fff;}
.saleOne .saleImg img{display: block;width: 100%;height: 100%;object-fit: cover;}
.saleOne .saleImg::after{content: '';display: block;width: .34rem;height: .34rem;background: url(../images/store/radus.png) no-repeat center center;background-size: 100%;position: absolute;bottom: -.01rem;right:.08rem ;z-index: 2}
.saleOne .saleInfo{margin-left: 2.5rem;border-radius: .4rem .4rem .3rem 0px;background: #fff;position: relative;padding: .28rem .3rem .32rem .3rem;box-shadow: -1px .03rem .5rem 0px rgba(0, 2, 29, 0.08);height: 2.8rem;box-sizing: border-box;}
.saleOne .saleInfo h2{font-size: .3rem;font-weight: bold;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;line-height: .34rem; height: .66rem}
.saleGoods .saleInfo .cutdown{display: inline-block;height: .38rem;line-height: .38rem;
background: #FFEEEB;border-radius: .08rem;padding: 0 .1rem;font-size: .22rem;color: #EC3628;margin-top: .18rem;}
.saleOne .salePrice{position: absolute;left: .3rem;bottom: .32rem;right: .3rem}
.saleOne .newPrice{color: #F7262E;font-family: "moneyNumber";font-size: .24rem;}
.saleOne .newPrice span{font-size: .44rem;}
.saleOne .newPrice em{font-size: .3rem;}
.saleOne .oldPrice{color: #9A9CA6;font-size: .22rem;}
.saleGoods .saleInfo .qg{display: inline-block;width: 1.2rem;text-align: center;height: .6rem;line-height: .6rem;font-size: .26rem;color: #fff;font-weight: bold;background: linear-gradient(90deg, #FA5E3E 0%, #F22A18 100%);border-radius: .3rem;position: absolute;right: 0;bottom: .4rem;}
.saleGoods .saleInfo .hssale{float: right}

/* 爆热活动 */
.baoreBox{/*margin-top: .4rem;*/ padding-bottom:.35rem;}
.baoreBox>h1{font-size: .34rem; margin: 0 .28rem; color: #000; font-weight: bold; margin-bottom: .18rem; display: block;font-style: italic;}
.baoreBox .swiper-wrapper a{display: block; margin: 0 .28rem; position: relative;}
.baoreBox .xianshi{position: relative;}
.baoreBox .xianshi .hd_img{width: 2.66rem; height: 2.6rem; float: left; background: #eee; border-radius: .3rem 0 0 .3rem; margin-top: .2rem;}
.baoreBox .hd_img img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: .3rem 0 0 .3rem;}
.baoreBox .xianshi .hd_info{height: 2.8rem; margin-left: 2.6rem; padding: .3rem .3rem .38rem .32rem; display:flex; position: relative; z-index: 1;box-sizing: border-box; box-shadow: -.01rem .03rem .5rem 0 rgba(0, 2, 29, 0.08); flex-direction: column; justify-content: space-between; border-radius: .4rem .4rem .3rem 0; background: #fff;  }
.baoreBox .xianshi .hd_info::before{content: ''; display: block; width: .7rem; height: .7rem; background: url(../images/quan/jiao.png) no-repeat center/cover; position: absolute; bottom: 0; left: -.7rem}
.baoreBox .xianshi .hd_info h2{font-size: .3rem; color: #212121; font-weight: bold; line-height: .34rem;  display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden;}
.baoreBox .xianshi .btn_xs{width: 2.22rem; height: .9rem; position: absolute; bottom:.36rem; right: .1rem; z-index: 1; background: url(../images/quan/qgou1.png) no-repeat center/contain ; box-sizing: border-box; padding-left: .4rem; display: flex; justify-content: center; flex-direction: column;}
.baoreBox .xianshi .btn_xs h2{font-size: .38rem; color: #fff; font-family: source; font-style: italic; font-weight: bold; background: linear-gradient(122deg, #FFFFFF 0%, #FFE6E3 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; line-height: 1.2em;}
.baoreBox .xianshi .btn_xs.miaosha{background-image: url(../images/quan/qgou.png)}
.baoreBox .xianshi .btn_xs.miaosha p{color: #FFC8B8}
.baoreBox .xianshi .btn_xs.miaosha h2{background: linear-gradient(122deg, #FFCABA 0%, #FF9E91 100%); -webkit-background-clip: text; line-height: 1.2em; -webkit-text-fill-color: transparent;}
.baoreBox .xianshi .btn_xs p{color: #fff; font-size: .2rem;}
.baoreBox .hd_info .pricebox h3{color: #F7262E; font-family: moneyNumber; font-size: .24rem; font-weight: 800;}
.baoreBox .hd_info .pricebox h3 b{font-size: .44rem}
.baoreBox .hd_info .pricebox h3 span{font-size: .3rem}
.baoreBox .hd_info .pricebox p{color: #999; font-size: .2rem;}
.baoreBox .xianshi .btn_xs.disabled{background-image: url(../images/store/qgou2.png)}
.baoreBox .xianshi .btn_xs.disabled h2{background: none;-webkit-text-fill-color: #fff;}
/*暴热--拼团*/
.baoreBox .pintuan a{height: 2.8rem; border-radius: .3rem; box-shadow: -.01rem .03rem .5rem 0px rgba(0, 2, 29, 0.08); box-sizing: border-box; padding: .15rem; position: relative;}

.baoreBox .pintuan .hd_img{width: 2.5rem; height: 2.5rem; border-radius: .2rem; background: #eee; float: left; overflow:hidden;}
.baoreBox .pintuan .hd_info{margin-left: 2.5rem; padding-left: .28rem; padding-top: .1rem;   height: 2.5rem; box-sizing: border-box; padding-bottom: .1rem;border-radius: 0;position: relative;}
.baoreBox .pintuan .hd_info h2{font-size: .3rem; color: #212121; font-weight: bold; line-height: .34rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.baoreBox .pintuan .hd_info .ptdjs{font-size: .26rem;color: #999;margin-top: .24rem;}
.baoreBox .pintuan .hd_info .ptdjs span{color: #212121}
.baoreBox .pintuan .pt_list{display: flex; align-items: center; margin-top: .26rem;}
.baoreBox .pintuan .pt_list li{width: .46rem; height: .46rem; background: #f5f5f5; border-radius: 50%; float: left; margin-right: -.1rem;overflow: hidden;}
.baoreBox .pintuan .pt_list li img{display: block; width: 100%; height: 100%; object-fit: cover;}
.baoreBox .pintuan .pt_list p{margin-left: .27rem; color: #999; font-size: .26rem;}
.baoreBox .pintuan .pt_list p span{color: #333;}
.baoreBox .pintuan .btn_pin{display: block; min-width: 1.4rem; height: .6rem; background: linear-gradient(-90deg, #F6252F 0%, #FF4621 100%); border-radius: .3rem; text-align: center; color: #fff; line-height: .6rem; font-size:.28rem; position: absolute; right: .3rem; bottom: .36rem;box-sizing: border-box;padding: 0 .26rem;}
.activity .pintuan .pricebox{left: .34rem;bottom: .08rem;position: absolute;}
.baoreBox .pintuan .btn_pin.disabled{background: linear-gradient(49deg, #FFC9C9 0%, #FFBEBA 100%);}

.swiper-container-horizontal>.pagination.swiper-pagination-progressbar, .swiper-container-vertical>.pagination.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite{width: .4rem !important; height: .06rem !important; border-radius: .03rem; background: #E6E6E6; position: absolute; bottom: .2rem; left: 0; right: 0; margin: auto; top: auto !important;}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{background: #F7262E; border-radius: .03rem;}

/* 砍价 */
.kanjiaBox{margin:0 .28rem; }
.baoreBox ~ .kanjiaBox{margin-top:0;}
.kanjiaBox dt{height: 1.2rem; border-radius: .3rem; background: linear-gradient(90deg, #FFECD9 0%, #FFF1E8 100%); line-height: .9rem; display: flex; align-items: center; justify-content: space-between; padding: 0 .24rem; box-sizing: border-box; padding-bottom: .3rem;}
.kanjiaBox dt h2{font-size: .34rem; color: #000; font-weight: bold;}
.kanjiaBox dt .hasOver{float: right;font-size: .26rem;color: #8A7A7A;font-weight: bold;}
.kanjiaBox dt .cutTime{display: flex; align-items: center; font-size: .22rem; color: #4D4D4D;}
.kanjiaBox dt .cutTime span{display: inline-block; width: .38rem; height: .38rem; border-radius: .04rem; background: rgba(0,0,0,.8); color: #fff; font-family: moneyNumber; line-height: .38rem; text-align: center; margin: 0 .1rem;}
.kanjiaBox dt .cutTime em{font-size: .24rem; color: #333;font-weight: bold;}
.kanjiaBox dd{margin-top: -.3rem;}
.kanjiaBox dd a{display: block; height: 2.8rem; background: #FF411C; border-radius: .3rem; box-sizing: border-box; padding: .15rem; position: relative; overflow: hidden;}
.kanjiaBox dd a::after{content: ''; display: block; width: 3.2rem; height: 2.8rem; background: url(../images/quan/bg_kj.png) no-repeat center/cover; position: absolute; right: 0; bottom: 0; pointer-events: none;}
.kanjiaBox dd a .kj_img{width: 2.5rem; height: 2.5rem; border-radius: .2rem; background: #fff; float: left; position: relative; }
.kanjiaBox dd a .kj_img label{position: absolute; width: 1.2rem; height: .6rem; background: url(../images/quan/label.png) no-repeat center/cover; font-size: .2rem; color: #999; line-height: .6rem; color: #fff; text-align: center; left: -.15rem; top: -.15rem;}
.kanjiaBox dd a .kj_img img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius:.2rem;}
.kanjiaBox dd a .kj_info{margin-left: 2.5rem; padding-left: .26rem; display: flex; justify-content: space-between; flex-direction: column; height: 2.5rem; box-sizing: border-box; padding-bottom: .4rem; box-sizing: border-box; padding-top: .1rem; position: relative; z-index: 2}
.kanjiaBox dd a .kj_info h2{color: #fff; font-size: .28rem; font-weight: bold; display: -webkit-box;-webkit-line-clamp: 2; -webkit-box-orient: vertical; white-space: normal;overflow: hidden; line-height: .32rem;}
.kanjiaBox dd a .priceBox .p_tit{width: 1rem; height: 1rem;  color: #fff; font-size: .4rem; font-weight: bold; border-radius: .1rem; text-align: center; line-height: 1.2em; float: left; background: url(../images/quan/jia.png) no-repeat rgba(0,0,0,.2) center/.8rem;}
.kanjiaBox dd a .priceBox .p_show{min-width: 2rem; height: 1rem;background: rgba(0,0,0,.2); float: left;  border-radius: .1rem; box-sizing: border-box; padding-left: .15rem; margin-left: .1rem; padding-top: .1rem;padding-right: .15rem;}
.kanjiaBox dd a .priceBox .p_show h4{font-size: .24rem; color: #fff; font-weight: bold; font-family: moneyNumber;}
.kanjiaBox dd a .priceBox .p_show h4 b{font-size: .44rem;}
.kanjiaBox dd a .priceBox .p_show h4 span{font-size: .3rem}
.kanjiaBox dd a .priceBox .p_show p{color: #fff; font-size: .2rem;}

/* 店长推荐 */
.recList{padding: 0 .28rem; margin-bottom: .4rem;}
.recList>h2{color: #000; font-size: .34rem; font-weight: bold; padding-left: .14rem; margin-bottom: .24rem;}
.recList ul{display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap;}
.recList .loading{font-size: .26rem; color: #999; padding: .4rem 0}
.recList li{float: left; margin-bottom: .2rem;}
.recList a{display: block;}
.recList .rec_img{width: 3.4rem; height: 3.4rem; border-radius: .26rem; background: #f5f5f5; overflow: hidden;}
.recList .rec_img img{width: 100%; height: 100%; object-fit: cover;}
.recList .rec_info{width: 3.2rem; height: 1.4rem; border-radius: .3rem; box-shadow: -.01rem .03rem .5rem 0 rgba(0, 2, 29, 0.08); margin: auto; margin-top: -.58rem; background: #fff; padding: .2rem .3rem; box-sizing: border-box; position: relative; z-index: 1}

.recList .rec_info h3{font-size: .28rem; color: #333; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow:ellipsis;}
.recList .rec_info p{display: flex; align-items: center; margin-top: .24rem;}
.recList .rec_info p span.price{color: #F72A34; font-size: .22rem; font-family: moneyNumber; }
.recList .rec_info p span.price b{font-size: .34rem;}
.recList .rec_info p span.price em{font-size: .24rem; font-weight: bold;}
.recList .rec_info .yq{font-size: .2rem; color: #FF3B58; width: .78rem; line-height: .3rem; background: url(../images/quan/yqbg.png) no-repeat center/cover; text-align: center; margin-left: .1rem;}

.contact_box{width: 3.8rem; height: 1rem; background: linear-gradient(-90deg, #F6252F 0%, #FF4621 100%); box-shadow: -.03rem .06rem .5rem 0 rgba(0, 2, 29, 0.1); display: flex; align-items: center; justify-content: center; border-radius: .5rem; position: fixed; left:0; right:0; bottom:calc(1.2rem + constant(safe-area-inset-bottom)); bottom:calc(1.2rem + env(safe-area-inset-bottom)); margin:auto; z-index:8;}
.probox_show .contact_box{display:none;}

.contact_box .sp_logo{width: .8rem; height: .8rem; border-radius: .4rem; padding-right: .24rem; position: relative;}
.contact_box .sp_logo::after{content: ''; width: 1px; height: .36rem; background: #FF9682; position: absolute; right: 0; top: 0; bottom: 0; margin: auto;}
.contact_box .sp_logo img{width: 100%; height: 100%; object-fit: cover;  border-radius: .4rem;}
.contact_box .chat_to{width: 2.6rem; height: 100%; display: flex; align-items: center; justify-content: center; font-size: .28rem; font-weight: bold; color: #fff; position: static; background: none;}
.contact_box .chat_to:before{background-image: url(../images/quan/chat_icon.png); width: .44rem; height: .44rem; background-repeat: no-repeat; background-size: .44rem;}
.recBox{/*padding-bottom: 2.6rem !important; */animation: rightFadeIn .3s ease-in-out; position: relative;}
/* .show.proBox,.show.recBox{display: block !important;} */
/* .recBox::before{content: ''; display: block; position: absolute; left: 0; right: 0; top: 0; height: 1.5rem; background: #fff; border-radius: .4rem .4rem 0 0;} */
.proBox{animation: rightFadeIn .3s ease-in-out;}
.probox_show{min-height: 100vh}

.probox_show .shai_tab{height: .8rem; background: #fff; display: flex; align-items: center; color: #313233;font-size: .26rem; padding: 0 .5rem;    position: sticky;left: 0;top: 1.78rem;z-index: 99;}
.probox_show .shai_tab li{margin-right: .82rem; line-height: .9rem;}
.probox_show .shai_tab li.on_chose{color: #F7252C; font-weight: bold;}
.probox_show .shai_tab li.priceOrd::after{content: ''; display: inline-block; width:.2rem; height: .2rem; background: url(../images/quan/pord.png) no-repeat center/cover; vertical-align: middle; margin-bottom: .04rem; margin-left: .04rem}
.probox_show .shai_tab li.priceOrd.on_chose.ord1::after{background-image: url(../images/quan/pord1.png)}
.probox_show .shai_tab li.priceOrd.on_chose.ord2::after{background-image: url(../images/quan/pord2.png)}

.proBox .allTit{color: #000; font-size: .34rem; font-weight: bold;padding: .3rem .28rem .24rem}


.proList{padding: .2rem .14rem; padding-bottom: .8rem;background: #f5f5f7}
.proList>ul{width: 50%; padding: 0 .09rem; box-sizing: border-box; float: left;}
.proList>ul li.pro_li{width: 100%; border-radius: .16rem; background: #fff; margin-bottom: .2rem;overflow: hidden;}
.proList .pro_li .pimg{overflow: hidden; position: relative;width: 3.42rem;height: 3.42rem;}
.proList .pro_li .pimg img{width: 100%; height: 100%;display: block; object-fit: cover;}
.proList .pro_li .pinfo{padding: .1rem .16rem .24rem .2rem; display: flex; justify-content: space-between; flex-direction: column;}
.proList .pro_li .pinfo h3{font-size: .28rem; color: #000; font-weight: bold; display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;line-height: .34rem}

.proList .pro_li .pinfo .pricebox{display: flex; align-items: baseline;margin-top: .1rem; }
.proList .pro_li .pinfo .pricebox h4{font-size: .22rem; color: #EC3628; font-family: moneyNumber;}
.proList .pro_li .pinfo .pricebox b{font-size: .36rem; }
.proList .pro_li .pinfo .pricebox span{font-size: .24rem; }
.proList .pro_li .pinfo .mprice{color: #A6A8B3; font-size: .2rem; margin-left: .06rem;text-decoration: line-through;}
.proList .pro_li .pinfo .mprice span{font-size: .24rem;}
.proList .pro_li .pinfo .pricebox .quan_icon{display: inline-block;font-size: .2rem;color: #EC3628;height: .28rem;line-height: .28rem;box-sizing: border-box;background: #fff;border: 1px solid #FFC4CD;border-radius: .04rem;margin-left: .06rem;padding: 0 .03rem;margin-top: -.1rem; vertical-align: middle;}
.proList .pro_li .pinfo .pricebox .by_icon{display: inline-block;font-size: .2rem;color: #EC3628;height: .28rem;line-height: .28rem;box-sizing: border-box;background: #fff;border: 1px solid #FFC4CD;border-radius: .04rem;margin-left: .06rem;padding: 0 .03rem;margin-top: -.1rem; vertical-align: middle;}
.proList .pro_li .pinfo .pricebox  .hasSale{font-size: .22rem;color: #A6A8B2;}
.proList .pro_li.tc_li .pinfo{padding-bottom: .28rem;}
.proList .pro_li.tc_li .pinfo .mprice{margin-top: .2rem;}
.proList .pro_li.tc_li .pinfo .pricebox {justify-content: space-between;margin-top: .04rem;}

/*拼团 抢购特有*/
.proList .pro_li .choicePrice.tesPrice{background: #FFF0EC;border-radius: .06rem;line-height: .5rem;overflow: hidden;font-size: 0;height: .5rem;margin-top: .14rem}
.proList .pro_li .choicePrice .spePrice{background: linear-gradient(90deg, #F75F42 0%, #F22C1A 100%);width: 1.9rem;text-align: center;display: inline-block;vertical-align: top;line-height: .5rem; height: .5rem;white-space: nowrap;}
.proList .pro_li .choicePrice .newPrice{font-size: .26rem;font-family: DINMit;color: #EC3628;    }
.proList .pro_li .choicePrice .newPrice strong{font-size: .36rem;font-weight: normal;}
.proList .pro_li .choicePrice .newPrice em{font-size: .28rem;display: inline-block;}
.proList .pro_li .choicePrice .oldPrice{font-size: .2rem;color: rgba(255,255,255,.7);margin-left: .05rem}
.proList .pro_li .choicePrice .psPan{font-size: .22rem;color: #EC3628;display: inline-block;width: .9rem;text-align: center;    vertical-align: top;}
.proList .pro_li .choicePrice.tesPrice .newPrice{color: #fff;line-height: 1;vertical-align: top;
    margin-top: .12rem; display: inline-block;}
.proList .pro_li .choicePrice.tesPrice .pr-bg{display: inline-block;width: .2rem;height: .5rem;background: url('../images/price-bg.png') no-repeat center; background-size: .2rem .5rem;margin-left: -1px}
.proList .pro_li .choicePrice.tesPrice .newPrice strong{display: inline-block; vertical-align: middle;}
.proList .pro_li .choicePrice.tesPrice .newPrice em{vertical-align: middle;margin-top: .02rem}
.proList .pro_li .choicePrice.tesPrice .oldPrice{    display: inline-block; vertical-align: top;padding-top: .04rem;}

.proList .pro_li .choiceSale{margin-top: .26rem;display: flex;justify-content: space-between;font-size: .22rem;color: #A6A8B2;align-items: center;}
.proList .pro_li .quanspan{display: inline-block;width: .3rem;height: .28rem;background: rgba(255, 236, 227, 0);border: 1px solid #FFC4CD;border-radius: .04rem;line-height: .28rem;box-sizing: border-box;font-size: .2rem;color: #EC3628;margin-left: .06rem;text-align: center;vertical-align: middle;margin-top: -.08rem;}

.proList .pro_li .tsTime{border: .01rem solid #DFE0E6;height: .3rem;box-sizing: border-box;padding: 0 .1rem;display: flex;align-items: center;border-radius: .06rem}
.proList .pro_li .tsTime i{display: inline-block;width: .2rem;height: .2rem;background: url('../images/clock.png') no-repeat center; background-size: .2rem;margin-right: .04rem;margin-top:.01rem}
.proList .pro_li .tsTime span,.proList .pro_li .tsTime em{font-size: .2rem;color: #737580;}
.proList .pro_li .xianshi{width: .72rem;height: .3rem;line-height: .3rem;text-align: center;font-size: .2rem;color: #fff;background: linear-gradient(90deg, #F643FF 0%, #6730F1 100%);border-radius: .06rem;display: inline-block;margin-right: .04rem;}


.proList .loading{text-align: center; font-size: .24rem; color: #C6C7CC;padding:.6rem; clear: both;}

.liveboxNow{display: flex; min-width: .98rem; line-height: .32rem; border-radius: .16rem; color: #fff; font-size: .18rem; height: .32rem; background: linear-gradient(90deg, #FF4775 0%, #FF0040 100%); left: .2rem; bottom: .2rem; position: absolute; box-sizing: border-box; padding:0 .04rem;}
.liveboxNow .music{margin-top: .06rem; margin-left: .02rem}

/*分类页商品样式修改*/
.tjProlist .proList .pro_li .pinfo h3{font-size: .26rem; -webkit-line-clamp: 1;}

/* 店铺详细信息展示 */
.shopMask{position: fixed; top: 0; left: 0;right: 0; bottom: 0; background: rgba(0,0,0,.5); z-index: 100000; display: none; }
.shopDetailBox{ position: fixed;  left: 0; right: 0;bottom: 0; z-index: 100000;  display: none; transform: translateY(100%); transition: transform .3s ease-in-out}
.shopDetail{background: #f5f5f7; padding-top:.01rem;  margin-top: 1.6rem; position: relative; pointer-events: all;}
.shopDetail::before{content: ''; display: block;  position: absolute; top: -1rem; left: 0; right: 0; background: url(../images/quan/hu_bg.png) no-repeat center/cover; height: 1rem;}
.spinfoBox{display: flex; align-items: center; justify-content: space-between; margin: 0 .28rem; height: 1.6rem; border-radius: .3rem; background: #fff; box-shadow: 0 .03rem .27rem 0 rgba(4, 6, 18, 0.08); padding: .26rem .3rem; box-sizing: border-box; margin-top: -1.24rem; position:relative; z-index:2; }
.spinfoBox .spinfo{display: flex; align-items: center; justify-content: center;}
.spinfoBox .spinfo .slogo{width: 1rem; height: 1rem; border-radius: .2rem; box-shadow: 0 .03rem .17rem 0 rgba(4, 6, 18, 0.05); float: left; margin-right: .18rem;}
.spinfoBox .spinfo .slogo img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: .2rem;}
.spinfoBox .spinfo .sdetail h2{font-size: .32rem; color: #000; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 3.2rem;}
.spinfoBox .spinfo .sdetail p{font-size: .22rem; margin-top: .12rem;}

.zhizhaoBox{margin: 0 .28rem; margin-top: .2rem; border-radius: .3rem; box-shadow: 0 .03rem .27rem 0 rgba(4, 6, 18, 0.08); padding: .5rem .45rem .45rem .75rem}
.zhizhaoBox li{margin-bottom: .45rem;}
.zhizhaoBox li:last-child{margin-bottom: 0}
.zhizhaoBox h3{font-size: .3rem; color: #000; font-weight: bold; position: relative;}
.zhizhaoBox h3::before{content: ''; display: block; width: .4rem; height: .4rem; background: url(../images/quan/rz_icon.png) no-repeat center/cover; position: absolute; left: -.49rem; top: 0; bottom: 0; margin: auto;}
.zhizhaoBox .bzj h3::before{background-image: url(../images/quan/bzj_icon.png)}
.zhizhaoBox .zf h3::before{background-image: url(../images/quan/zf_icon.png)}
.zhizhaoBox p{color: #999; font-size: .24rem; line-height: .34rem; margin-top: .1rem}

/* 好评 */
.haopingBox{margin: 0 .28rem; margin-top: .2rem; border-radius: .3rem; box-shadow: 0 .03rem .27rem 0 rgba(4, 6, 18, 0.08); padding: .4rem .35rem;}
.haopingBox dt{font-size: .32rem; font-weight: bold;font-family: moneyNumber; }
.haopingBox dd{display: flex; align-items: center; margin-top: .34rem;}
.haopingBox .label{font-size: .26rem; color: #333; font-weight: bold;}
.haopingBox .scoreLineBox{width: 3rem; height: .14rem; border-radius: .07rem; background: #EBEBED; margin-left: .4rem; margin-right: .24rem;}
.haopingBox .scoreLineBox .scoreLine{height: .14rem; border-radius: .07rem; width: 0; background: linear-gradient(90deg, #F22B19 0%, #FA00A8 50%, #8523FF 100%); transition: width .3s}
.haopingBox h3{font-size: .26rem; color: #333; font-family: moneyNumber; font-weight: bold;}


/* 店铺介绍 */
.shopintroBox{margin: 0 .28rem; margin-top: .2rem; border-radius: .3rem; box-shadow: 0 .03rem .27rem 0 rgba(4, 6, 18, 0.08);}
.shopintroBox .bannerBox{height: 4.6rem;  border-radius: .3rem}
.shopintroBox .bannerBox img{display: block; width: 100%; height: 100%; object-fit: cover;}
.shopintroBox .spTxt{margin: 0 .3rem; padding-top: .4rem; padding-bottom: .3rem;}
.shopintroBox .spTxt .jieshao{color: #4D4D4D; font-size: .26rem; line-height: .36rem; }
.shopintroBox .spTxt ul{margin-top: .5rem;}
.shopintroBox .spTxt .lab{float: left; font-size: .26rem; color: #333; font-weight: bold; width: 1.5rem;}
.shopintroBox .spTxt li{margin-bottom: .26rem; }
.shopintroBox .spTxt li p{margin-left: 1.5rem; color: #4D4D4D; font-size: .26rem; line-height: .36rem; }

/*.btn_to_pro{display: block; margin: 0 .3rem; height: .76rem; border-radius: .38rem; font-size:.26rem; background: linear-gradient(90deg, #F65338 0%, #F22A18 100%); font-weight: bold; color: #fff; text-align: center; line-height: .76rem; position: fixed; left: 0; right: 0; bottom:calc(.1remrem + constant(safe-area-inset-bottom)); bottom:calc(.1rem + env(safe-area-inset-bottom)); z-index: 3}*/
.seeYh{margin: 0 .3rem;height: 1.1rem;padding-top: .4rem; z-index: 3 }
.btn_to_pro{display: block;  height: .76rem; border-radius: .38rem; font-size:.26rem; background: linear-gradient(90deg, #F65338 0%, #F22A18 100%); font-weight: bold; color: #fff; text-align: center; line-height: .76rem;}


.img_page{bottom: .2rem !important; position: absolute; margin: auto; width: 1rem; height: .56rem; border-radius: .28rem; background: rgba(0,0,0,.6); text-align: center; color: #fff; font-family: moneyNumber; left: 0; right: 0; line-height: .56rem; z-index: 1;}
.img_page .swiper-pagination-current{font-size: .36rem; font-weight: bold;}




.sc_tip{min-width: 2.9rem; height: .86rem; border-radius: .3rem; background: rgba(0,0,0,.95); display: flex; align-items: center; padding: 0 .2rem; box-sizing: border-box; position: absolute; font-size: .22rem;  right: -.1rem; top: .8rem; color: #fff; display: none; animation: topFadeIn .3s ease-in-out;}
.sc_tip.show{display: flex;}
.sc_tip::before{content: ''; display: block; width:.48rem; height: .48rem; background: url(../images/quan/tip_icon1.png) no-repeat center/cover; margin-right:.05rem; }
.sc_tip::after{content: ''; display: block; width: .36rem; height: .1rem; background: url(../images/quan/tip_arr.png) no-repeat center/cover; position: absolute; top: -.1rem; right: .65rem;}











/*音符跳动效果*/

.music {display:inline-block;vertical-align:baseline;font-size:0; margin-right: .1rem;}
.music li {background-color:#fff;margin-left:.03rem;display:inline-block;width:.03rem;height:.17rem;border-radius: .03rem}
.music .m1 {-webkit-animation:.8s .1s living linear infinite;animation:.8s .1s living linear infinite;-webkit-animation-delay:-1.1s;}
.music .m2 {-webkit-animation:.8s .3s living linear infinite;animation:.8s .3s living linear infinite;-webkit-animation-delay:-1.3s;}
.music .m3 {-webkit-animation:.8s .6s living linear infinite;animation:.8s .6s living linear infinite;-webkit-animation-delay:-1.6s;}

 @-webkit-keyframes living{
 0%{-webkit-transform:scaleY(1);transform:scaleY(1);-webkit-transform-origin:0 .17rem;transform-origin:0 .17rem}
 50%{-webkit-transform:scaleY(.3);transform:scaleY(.3);-webkit-transform-origin:0 .17rem;transform-origin:0 .17rem}
 100%{-webkit-transform:scaleY(1);transform:scaleY(1);-webkit-transform-origin:0 .17rem;transform-origin:0 .17rem}
 }
 @keyframes living{
 0%{-webkit-transform:scaleY(1);-ms-transform:scaleY(1);transform:scaleY(1);-webkit-transform-origin:0 .17rem;-ms-transform-origin:0 .17rem;transform-origin:0 .17rem}
 50%{-webkit-transform:scaleY(.3);-ms-transform:scaleY(.3);transform:scaleY(.3);-webkit-transform-origin:0 .17rem;-ms-transform-origin:0 .17rem;transform-origin:0 .17rem}
 100%{-webkit-transform:scaleY(1);-ms-transform:scaleY(1);transform:scaleY(1);-webkit-transform-origin:0 .17rem;-ms-transform-origin:0 .17rem;transform-origin:0 .17rem}
 }

/*底部2021-11-3*/
.bottom_box{ height: 1.8rem;position: fixed; left:0; right:0; bottom: 0;padding-bottom: calc(-.3rem + constant(safe-area-inset-bottom));padding-bottom:calc(-.3 + env(safe-area-inset-bottom)); margin:auto; z-index:999;padding: .17rem .55rem 0;box-sizing: border-box;transition: all .3s}
.bottom_box>div{width: 100%; background: #fff;border-radius: .5rem;position: relative;z-index: 1000; box-shadow: -4px .08rem .5rem 0px rgba(0, 4, 26, 0.08);  }
.bottom_box::after{content: '';display: block;width: 100%;height: 1.8rem;
background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 60%);position: absolute;bottom: 0;left: 0; }
.bottom_box .contactBus{display: inline-block;width: 1.9rem;text-align: center;line-height: 1rem;background: linear-gradient(-90deg, #152239 0%, #18263D 100%);font-size: .28rem;color: #fff;font-weight: bold;border-radius: 0 .5rem .5rem 0 }
.bottom_box ul{float: left;width: 4.5rem;}
.bottom_box ul li{float: left;width: 33.3%;text-align: center;position: relative;}
.bottom_box ul li i{display: inline-block;width: .4rem;height: .4rem;}
.bottom_box ul li a{display: block;width: 100%;height: 1rem;display: flex;align-items: center;flex-direction: column;justify-content: center;}
.bottom_box ul li.collectBus i{background: url(../images/store/collectBus.png) no-repeat center/cover;}
.bottom_box ul li.collectBus.cared i{background: url(../images/store/heart.png) no-repeat center/cover;}
.bottom_box ul li.collectBus::after,.bottom_box ul li.posBus::after{content: '';width: 1px;height: .3rem;background: #D9D9D9;display: inline-block;position: absolute;right: 0;top: 50%;margin-top: -.15rem}
.bottom_box ul li.posBus i{background: url(../images/store/goodsbus.png) no-repeat center/cover;}
.bottom_box ul li.telBus i{background: url(../images/store/fenleibus.png) no-repeat center/cover;}
.bottom_box ul li p{font-size: .22rem;color: #4D4D4D;}

.bottom_box ul li.collectBus.curr i{-webkit-animation: scale-up-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;animation: scale-up-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;background: url(../images/store/heart.png) no-repeat center/cover;}

@-webkit-keyframes scale-up-bottom {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
}
@keyframes scale-up-bottom {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
}




/*点赞*/
@-webkit-keyframes niceIn {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.5);
        transform: scale(1.5)
    }
    70% {
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}
@keyframes niceIn {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5)
    }
    70% {
        -webkit-transform: scale(.8);
        -ms-transform: scale(.8);
        transform: scale(.8)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
}

@-o-keyframes niceIn{
    0% {
        opacity: 1;
        -o-transform: scale(1);
        transform: scale(1)
    }
    50% {
        opacity: 1;
        -o-transform: scale(1.5);
        transform: scale(1.5)
    }
    70% {
        -o-transform: scale(.8);
        transform: scale(.8)
    }
    100% {
        opacity: 1;
        -o-transform: scale(1);
        transform: scale(1)
    }
}

@-moz-keyframes niceIn{
    0% {
        opacity: 1;
        -moz-transform: scale(1);
        transform: scale(1)
    }
    50% {
        opacity: 1;
        -moz-transform: scale(1.5);
        transform:scale(1.5)
    }
    70% {
        -o-transform: scale(.8);
        transform: scale(.8)
    }
    100% {
        opacity: 1;
        -moz-transform: scale(1);
        transform: scale(1)
    }
}
 .niceIn i{
    -webkit-animation:niceIn 0.8s .2s ease;
    -moz-animation:niceIn 0.8s .2s ease;
    -o-animation:niceIn 0.8s .2s ease;
    animation:niceIn 0.8s .2s ease;
}
