<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
<title>{#$pagetitle#}</title>
{#$cssFile#}
<script>
var thumbSize = {#$thumbSize#}, thumbType = "{#$thumbType#}", mapCity = "{#$mapCity#}", //缩略图配置
	modelType = "renovation", adminPath = "{#$adminPath#}";
</script>
</head>

<body>
<form action="" method="post" name="editform" id="editform" class="editform">
  <input type="hidden" name="dopost" id="dopost" value="{#$dopost#}" />
  <input type="hidden" name="id" id="id" value="{#$id#}" />
  <input type="hidden" name="token" id="token" value="{#$token#}" />
  <dl class="clearfix">
    <dt><label for="name">姓名：</label></dt>
    <dd>
      <input class="input-medium" type="text" name="name" id="name" value="{#$name#}" maxlength="30" data-regex=".{2,30}" />
      <span class="input-tips"><s></s>请输入姓名，2-30位</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="works">工龄：</label></dt>
    <dd>
      <div class="input-prepend input-append" style="margin:0;">
        <input class="input-mini" type="number" name="works" id="works" value="{#$works#}" data-regex="[1-9]\d*">
        <span class="add-on" style="margin-right:10px;">年</span>
        <span class="input-tips"><s></s>请输入工作经验年限</span>
      </div>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="works">年龄：</label></dt>
    <dd>
      <div class="input-prepend input-append" style="margin:0;">
        <input class="input-mini" type="number" name="age" id="age" value="{#$age#}" data-regex="[1-9]\d*">
        <span class="input-tips"><s></s>请输入年龄</span>
      </div>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="user">对应会员：</label></dt>
    <dd style="position:static;">
      <input class="input-medium" type="text" name="user" id="user" autocomplete="off" value="{#$username#}" />
      <input type="hidden" name="userid" id="userid" value="{#$userid#}" />
      <span class="input-tips"><s></s>此会员可以管理此工长信息</span>
      <div id="userList" class="popup_key"></div>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt>上传照片：</dt>
		<dd class="thumb clearfix listImgBox">
			<div class="uploadinp filePicker thumbtn{#if $litpic != ""#} hide{#/if#}" id="filePicker1" data-type="thumb"  data-count="1" data-size="{#$thumbSize#}" data-imglist=""><div></div><span></span></div>
			{#if $litpic != ""#}
			<ul id="listSection1" class="listSection thumblist clearfix" style="display:inline-block;"><li id="WU_FILE_0_1"><a href='{#$cfg_attachment#}{#$litpic#}' target="_blank" title=""><img alt="" src="{#$cfg_attachment#}{#$litpic#}&type=middle" data-val="{#$litpic#}"/></a><a class="reupload li-rm" href="javascript:;">删除图片</a></li></ul>
			{#else#}
			<ul id="listSection1" class="listSection thumblist clearfix"></ul>
			{#/if#}
			<input type="hidden" name="litpic" value="{#$litpic#}" class="imglist-hidden" id="litpic">
		</dd>
  </dl>

  <dl class="clearfix">
    <dt><label for="state">类型：</label></dt>
    <dd class="radio" id="typeid">
        {#html_radios name="type" values=$typearr checked=$type output=$typenames separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>
  <dl class="clearfix" id="company1" {#if $type == 0#} style="display: none;"{#/if#}>
    <dt><label for="company">所属公司：</label></dt>
    <dd style="position:static;">
      <input class="input-large" type="text" name="company" id="company" autocomplete="off" value="{#$company#}" />
      <input type="hidden" name="companyid" id="companyid" value="{#$companyid#}" />
      <span class="input-tips" style="display:inline-block;"><s></s>请输入所属公司(自由人不用填写)</span>
      <div id="companyList" class="popup_key"></div>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label>工种类别：</label></dt>
    <dd class="radio">
      {#html_radios name="style" values=$styleval checked=$style output=$stylelist separator="&nbsp;&nbsp;"#}
<!--      <br /><span class="label label-info checkAll" style="margin-top:5px;">全选</span>-->
    </dd>
  </dl>
  <dl class="clearfix">
      <dt><label for="addrid">现居地址：</label></dt>
      <dd>
        <div class="cityName addrBtn" data-field="addrid" data-ids="{#getPublicParentInfo tab='site_area' id=$addrid split=' '#}" data-id={#$addrid#}>
          {#if $addrid != '' && $addrid != "''"#}{#getPublicParentInfo tab='site_area' id=$addrid type='typename' split='/'#}{#else#}请选择{#/if#}
        </div>
        <input type="hidden" name="addrid"  id="addrid"  value={#$addrid#}>
      </dd>
    </dl>
<!--    <dl class="clearfix">-->
<!--      <dt><label for="address">住址：</label></dt>-->
<!--      <dd>-->
<!--        <input class="input-xlarge" type="text" name="address" id="addres" value="{#$address#}" data-regex=".{5,100}" />-->
<!--      </dd>-->
<!--    </dl>-->
  <dl class="clearfix">
    <dt><label for="idea">联系方式：</label></dt>
    <dd>
      <input class="input-xxlarge" type="text" name="tel" id="tel" value="{#$tel#}" maxlength="12" data-regex=".*" />
      <span class="input-tips"><s></s>请输入联系方式</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="note">个人介绍：</label></dt>
    <dd>
      <textarea name="note" id="note" class="input-xxlarge" rows="5">{#$note#}</textarea>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="click">浏览次数：</label></dt>
    <dd>
      <span><input class="input-mini" type="number" name="click" min="0" id="click" value="{#$click#}" /></span>
      <label class="ml30" for="weight">排序：</label><input class="input-mini" type="number" name="weight" id="weight" min="0" data-regex="[1-9]\d*" value="{#$weight#}" />
      <span class="input-tips"><s></s>必填，排序越大，越排在前面</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="state">性别：</label></dt>
    <dd class="radio">
        {#html_radios name="sex" values=$sexarr checked=$sex output=$sexnames separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="state">显示状态：</label></dt>
    <dd class="radio">
      {#html_radios name="state" values=$stateopt checked=$state output=$statenames separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>
  <dl class="clearfix formbtn">
    <dt>&nbsp;</dt>
    <dd><input class="btn btn-large btn-success" type="submit" name="submit" id="btnSubmit" value="确认提交" /></dd>
  </dl>
</form>

{#$jsFile#}
</body>
</html>
