.searchAddrBox{height: 1.2rem; padding: .2rem .2rem .28rem 0; box-sizing: border-box; background: #fff; position: relative; z-index: 2;  display: flex; align-items: center;}
.searchAddrBox .cityChose{max-width: 1.7rem; color: #171921; font-size: .3rem; font-weight: bold; display: flex; align-items: center; float: left; align-items: center; justify-content: center; height: .72rem; margin-left: .2rem}
.searchAddrBox .cityChose span{display: block; max-width: 1.5rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.searchAddrBox .cityChose::after{content: ''; display: block; width: .3rem; height: .3rem; background: url(../images/index/arr_d.png) no-repeat center/cover; flex-shrink: 0;}
.searchInp{margin-left: .2rem; height: .72rem; border-radius: .36rem; background: #F7F8FA; display: flex; align-items: center; padding: 0 .2rem; width: 100%; position: relative;}
.searchInp s{display: block; width: .4rem; height: .4rem; background: url(../images/index/clear_inp.png) no-repeat center/cover; position: absolute; right: .18rem; top: 0; bottom: 0; margin: auto; }
.hideClear.searchInp s{display: none;}
.searchInp::before{content: ''; display: block; width: .3rem; height: .3rem; background: url(../images/index/search_icon1.png) no-repeat center/cover; flex-shrink: 0;}
.addrInp{width: 100%; height: 100%; border-radius: none; background: none; font-size: .28rem; padding-left: .08rem; border: none; outline: none;}
.addrInp:placeholder{color: #B3B3B3;}

/* dl列表 */
.addressDlList dl{background: #fff; border-bottom: solid .16rem #F7F7F7; padding: 0 .3rem; animation: topFadeIn .3s;}
.addressDlList dl dt{font-size: .26rem; color: #ADAEB3; padding-top: .3rem;}
.addressDlList dl dd h4{font-size: .3rem; color: #313133; font-weight: bold; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-right: .12rem;}
.addressDlList dl dd{padding: .22rem 0;}
.addressDlList dl.currPosi  dd h4{font-size: .32rem;}
.addressDlList dl.currPosi dd{display:flex; align-items: center; justify-content: space-between; }
.addressDlList dl.currPosi dd .posi_btn{font-size: .26rem; color: #FF4422; display: flex; align-items: center; flex-shrink: 0}
.addressDlList dl.currPosi dd .posi_btn::before{content: ''; display: block; width: .36rem; height: .36rem; background: url(../images/index/posi_red.png) no-repeat center/cover; margin-right: .05rem;}


.addressDlList dl.myAddrList .allDD{overflow: hidden;max-height: 4.88rem;}

.addressDlList dl.myAddrList.opacityDiv,.addressDlList dl.nearbyList.opacityDiv{opacity: 0}
.addressDlList dl.myAddrList dd,.addressDlList dl.nearbyList dd{border-bottom: solid 1px #f5f5f7; box-sizing:border-box; height: 1.22rem;}
.addressDlList dl.myAddrList dd p,.addressDlList dl.nearbyList dd p{font-size: .24rem; color: #939499; margin-top: .1rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.addressDlList dl.myAddrList dd:last-of-type{border: none;}
.addressDlList .moreAddr{color: #616266; font-size: .26rem; display: flex; align-items: center; box-sizing: border-box; height: .8rem !important; justify-content: center; border-top: solid 1px #f5f5f7 !important;}
.addressDlList .moreAddr::after{content: ''; display: block; width: .26rem; height: .26rem; background: url(../images/index/arr_s_d.png) no-repeat center/cover; margin-left: .05rem;}
.addressDlList .moreAddr.noMore::after{background-image: url(../images/index/arr_s_u.png)}
.addressDlList dl.nearbyList dd{display: flex; align-items: end; justify-content: space-between;}
.addressDlList dl.nearbyList dd .leftAddr{overflow: hidden;}
.addressDlList dl.nearbyList dd .posi_distance{color: #939499; font-size: .22rem;}
.addressDlList dl:last-of-type{border: none;}
.btnbox{position: fixed; left: 0; right: 0; bottom: 0; background: #fff;padding-bottom:calc(-.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.3rem + env(safe-area-inset-bottom));}
.btnbox a.add_addr{display: flex; align-items: center; height: 1rem; color: #313133; font-size: .3rem; font-weight: bold; text-align: center; justify-content: center;}
.btnbox a.add_addr::before{content: ''; display: block; width: .4rem; height: .4rem; background: url(../images/index/add_addr.png) no-repeat center/cover; margin-right: .1rem;}

.addressDlList,.searchDlList{padding-bottom: 1.2rem}


.searchDlList li a{margin: 0 .3rem; height: 1.2rem; display: flex; align-items: flex-end; justify-content: space-between; padding: .16rem 0 .2rem; box-sizing: border-box; border-bottom: solid 1px #f5f5f7;}
.searchDlList li.toDefine.fixedBottom{position: fixed; left: 0; bottom: 0;padding-bottom:calc(-.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.3rem + env(safe-area-inset-bottom)); background: #fff; right: 0}

.searchDlList li.toDefine a{justify-content: flex-start; align-items: center;}
.searchDlList li.toDefine a::before{content: ''; display: block; width: .4rem; height: .4rem; background: url(../images/index/add_addr.png) no-repeat center/cover; margin-right: .1rem}
.searchDlList li h3{font-size: .3rem; color: #171921; font-weight: bold; margin-bottom: .06rem;     white-space: nowrap; max-width: 5rem; overflow: hidden; text-overflow: ellipsis;}
.searchDlList li p{white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 6rem;}
.searchDlList li p,.searchDlList li .addrDistance{color: #A6A7AB; font-size: .22rem;}
.searchDlList li.chosed .addrDistance{display: none;}

.cityMask{position: fixed; left: 0; right: 0; bottom: 0; top: 0; background: rgba(0,0,0,.3); z-index: 1000; display: none;}
.header{z-index: 999}
.siteCityListBox{position: fixed; bottom: 0; left: 0; right: 0;  background: #fff; border-radius: .4rem .4rem 0 0;  z-index: 1001; height: 60%;  padding-bottom: constant(safe-area-inset-bottom); padding-bottom: env(safe-area-inset-bottom); transform: translateY(100%); transition: transform .3s;}
.siteCityListBox .cityTitle{display: flex; align-items: center; justify-content: space-between; padding: 0 .24rem; height: 1rem;}
.siteCityListBox .cityTitle h4{font-size: .3rem; color: #171921; font-weight: bold;}
.siteCityListBox .cityTitle a{display: block; min-width: 1rem; text-align: center; height: 1rem; font-size: .28rem; line-height: 1rem;}
.siteCityListBox .cityTitle a.city_back{color: #999;}
.siteCityListBox .cityTitle a.city_sure{font-weight: bold;}
.siteCityListBox .cityList{height: calc(100% - 1rem); overflow: auto; position: relative;}
.right_szm{position: fixed; right: .2rem; z-index: 1; bottom: .5rem; line-height: .32rem; font-size: .22rem ;color: #666; text-align: center;}
.cityList dt{font-size: .22rem; color: #787878; background: #f0efed; line-height: .4rem; padding: 0 .3rem; position: sticky; top: 0}
.cityList dd{line-height: .8rem; background: #fff; padding: 0 .3rem; border-bottom: solid 1px #f5f5f7; font-size: .26rem;}

.jump_szm{position: absolute; left: 0;right: 0; bottom: 0; top: 0; width: .8rem; height: .8rem; border-radius: .08rem; background: rgba(0,0,0,.5); color: #fff; text-align: center; line-height: .8rem; margin: auto; z-index: 9; font-size: .28rem; font-weight:bold; display:none;}

.popupRightBottom{display: none; opacity: 0; pointer-events: none;}
