.Shell{width: 1200px;display: flex;justify-content: space-between;position: relative;margin: auto;}
.floorNav{width: 150px;height: 285px;background: #F5F5F7;border-radius: 6px;position: sticky;top: 196px;padding: 0px 20px;box-sizing: border-box;display: flex;flex-direction: column;justify-content: center;align-items: center;gap: 10px;}
.f-item{width: 100%;height: 40px;display: flex;align-items: center;justify-content: center;font-weight: 400;font-size: 14px;color: #9A9FB2;cursor: pointer;}
.f-item.active,.f-item:hover{color: white;background: #FD522E;box-shadow: 0px 8px 10px 0px rgba(253,82,46,0.2);border-radius: 6px;}
.infoTable{width: 1030px;}
.i-recommend{width: 100%;box-sizing: border-box;border: 1px solid #EEEEEE;height: 254px;padding: 0px 14px;box-sizing: border-box;margin-bottom: 10px;}
.ir-title{font-weight: 400;font-size: 14px;color: #999999;height: 46px;display: flex;align-items: center;}
.ir-list{display: flex;gap: 30px;overflow: hidden;}
.irl-item{flex-shrink: 0;}
.irl-item .picture{width: 176px;height: 130px;object-fit: cover;}
.irl-item .title{font-weight: bold;font-size: 14px;color: #212121;}
.irl-item .info{display: flex;justify-content: space-between;}
.irl-item .price{font-weight: 400;font-size: 13px;color: #F1370B;}
.irl-item .price span{font-weight: bold;}
.irl-item .btn{display: flex;align-items: center;cursor: pointer;}
.irl-item .btn img{width: 16px;height: 16px;margin-right: 4px;}
.irl-item .btn span{font-weight: 400;font-size: 12px;color: #999999;}
.i-compare{width: 100%;border-right: 1px solid #EEEEEE;border-bottom: 1px solid #EEEEEE;box-sizing: border-box;}
.i-compare td {border-left: 1px solid #EEEEEE;border-top: 1px solid #EEEEEE;box-sizing: border-box;}
.ic-search{height: 50px;}
.ic-search .title{width: 130px;font-weight: bold;font-size: 16px;color: #333333;padding-left: 36px;}
.ic-search .search{padding-left: 14px;height: 50px;position: relative;}
.ic-search .search input{width: 230px;height: 36px;background: #F5F5F7;padding-left: 10px;box-sizing: border-box;border: 0;outline: none;font-size: 14px;}
.ic-search .search input::placeholder{color: #999999;}
.ic-search .search .btn{display: inline-flex;align-items: center;justify-content: center;width: 79px;height: 36px;background: #FD522E;cursor: pointer;}
.ic-search .search .btn span{font-weight: 400;font-size: 18px;color: #FFFFFF;}
.ic-search .search .list{width: 230px;max-height: 220px;background: #FFFFFF;border: 1px solid #CCCCCC;box-sizing: border-box;overflow-y: auto;position: absolute;top: 36px;left: 14px;display: none;}
.ic-search .search .list .item{display: flex;align-items: center;padding: 0px 10px;width: 100%;box-sizing: border-box;border-bottom: 1px solid #EEEEEE;font-weight: 400;font-size: 13px;color: #333333;cursor: pointer;height: 36px;}
.ic-search .search .list .item:last-of-type{border-bottom: 0;}
.ic-search .search .list .item:hover{text-decoration: underline;color: #FD522E;}
.ic-search .search .list .none{display: flex;align-items: center;justify-content: center;height: 50px;}
.ic-name{height: 202px;}
.ic-name .title,.ic-price .title,.ic-info .title{font-weight: 400;font-size: 14px;color: #666666;width: 130px;padding-left: 36px;}
.ic-name .item{height: 100%;padding: 16px 22px;box-sizing: border-box;width: 224px;}
.ic-name .item .picture{width: 100%;height: 132px;object-fit: cover;}
.ic-name .item .name{display: flex;align-items: center;margin-top: 6px;}
.ic-name .item .name span{flex-grow: 1;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;word-break: break-all;font-weight: 400;font-size: 14px;color: #F64219;}
.ic-name .item .name img{flex-shrink: 0;width: 24px;height: 24px;cursor: pointer;}
.ic-line{width: 100%;background-color: #F5F5F7;box-sizing: border-box;}
.ic-line .title{font-weight: bold;font-size: 14px;color: #333333;height: 42px;padding-left: 36px;}
.ic-price{height: 54px;}
.ic-price .info{text-align: center;}
.ic-price .cell{font-weight: bold;font-size: 13px;color: #333333;}
.ic-price .text{font-weight: 400;font-size: 13px;color: #333333;}
.ic-price .price{font-weight: bold;color: #F1370B;}
.ic-info{min-height: 54px;}
.ic-info td{padding-top: 20px;padding-bottom: 20px;}
.ic-info .title{font-weight: 400;font-size: 14px;color: #999999;}
.ic-info .item{font-weight: 400;font-size: 13px;color: #333333;padding: 20px;}
.warnPop{position: fixed;top: 44%;left: 50%;transform: translateX(-50%);background-color: rgba(0,0,0,.8);min-width: 190px;height: 56px;font-weight: 400;font-size: 14px;color: #FFFFFF;display: inline-flex;justify-content: center;align-items: center;border-radius: 6px;padding: 0px 10px;box-sizing: border-box;display: none;}