html{background-color: #f5f5f7;}
body{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.priceBox {display: flex; align-items: center; justify-content: center; flex-direction: column; padding-top: .8rem; padding-bottom: .67rem;}
.priceBox h1{font-size: .36rem; color: #000; font-weight: bold; font-family: moneyNumber;}
.priceBox h1 span{font-size: .72rem;}
.priceBox .timeOut{font-size: .28rem; color: #000; min-width: 3rem; height: .74rem; border-radius: .37rem; background-color: #fff; line-height: .74rem; padding: 0 .4rem; margin-top: .34rem;}

.paybox{padding-bottom: 1.5rem;}
.pay_list{margin: 0 .3rem; background-color: #fff; border-radius: .2rem; margin-bottom: .2rem;}
.paytype li input[type=radio]{width: 100%; height: 100%; opacity: 0; position: absolute; left: 0; right: 0; top: 0; bottom: 0; }
.pay_list li{ height: 1.2rem; font-size: .3rem ; color: #151515; display: flex; align-items: center; justify-content: space-between; margin-left: .24rem;   padding-right: .28rem; border-bottom: solid 1px #f5f5f7; position: relative;}
.pay_list.otherType li{height: auto;padding: .38rem 0 ; padding-right: .28rem; align-items: flex-start;}
.pay_list li .left_txt{display: flex; align-items: flex-start;}

.pay_list li .left_txt .pay_tip{font-size: .26rem; color: #636466; margin-top: .2rem; display: none;}
.pay_list:not(.otherType) li::after,.pay_list.otherType li .right_txt::after{content: ''; display: block; width: .44rem; height: .44rem; background: url(../../images/pay/nochose.png) no-repeat center/.44rem;}
.pay_list.otherType li .right_txt{font-size: .24rem; color: #97989C; line-height: .44rem; display: flex; align-items: center;}
.pay_list.otherType li .right_txt .rtx{margin-right: .2rem; margin-top: .04rem; display: none;}

.pay_list li.selected::after,.pay_list.otherType li.selected .right_txt::after{background-image: url(../../images/pay/chose.png);}
.pay_img{width: .44rem; height: .44rem; background: no-repeat center/cover; flex-shrink: 0; margin-right: .1rem;}
.pay_img img{display: block; width: 100%; height: 100%; object-fit: cover;}
.pay_img.wxpay{background-image: url(../../images/pay/wxpay.png);}
.pay_img.alipay{background-image: url(../../images/pay/alipay.png);}
.pay_img.balance{background-image: url(../../images/pay/balance.png);}
.pay_img.point{background-image: url(../../images/pay/point.png);}
.pay_img.paypal{background-image: url(../../images/pay/paypal.png);}
.pay_img.daipay{background-image: url(../../images/pay/daipay.png);}

.bottom_box{position: fixed; left: 0; right: 0; bottom: 0; background-color: #fff; height: .9rem; border-radius: .4rem .4rem 0 0 ; padding-bottom: calc(.12rem + constant(safe-area-inset-bottom)); padding-bottom: calc(.12rem + env(safe-area-inset-bottom)); padding-top: .18rem;}
.bottom_box.noBottom{position: static; background: none; margin-top: .4rem}
.bottom_box .btn_tj{font-size: .32rem; color: #fff; margin: 0 .2rem; line-height: .9rem; border-radius: .45rem;background: linear-gradient(-90deg, #F6252F 0%, #FF4621 100%); text-align: center; display: block; }
.header{z-index: 9;}

.mask{position: fixed; left: 0; right: 0; top: 0; bottom: 0; background-color: rgba(0,0,0,.8); z-index: 10; display:none;}
.popset.pop_pwd{height: 4.22rem; border-radius: .4rem .4rem 0 0 ; background-color: #fff; position: fixed; left: 0; right: 0; bottom: 0; z-index: 10; }
.close_btn{width: .44rem; height: .44rem; background: url(../../images/pay/close.png) no-repeat center/cover; position: absolute; top: .2rem; right: .37rem; }
.popset.pop_pwd h5{font-size: .28rem; color: #4D4D4D; text-align: center; padding-top: .77rem;}
.popset.pop_pwd a.btn_set{margin: 0 .3rem; height: .88rem; color: #fff; font-size: .32rem; text-align: center; font-weight: bold; background: linear-gradient(-90deg, #F6252F 0%, #FF4621 100%); margin-top: .5rem; display: flex; border-radius: .44rem; align-items: center; justify-content: center;}
.popset.pop_pwd p{color: #9B9CA0; font-size: .22rem; text-align: center; margin-top: .6rem;}
.pop_pwd{height: 9.28rem; border-radius: .4rem .4rem 0 0 ; background-color: #fff; position: fixed; left: 0; right: 0; bottom: 0; z-index: 10; transform: translateY(100%); transition: transform .3s;}
.close_pop{width: .44rem; height: .44rem; background: url(../../images/pay/arr_back.png) no-repeat center/cover; position: absolute; left: .5rem; top: .5rem;}
.pwdbox h2{font-size: .48rem; color: #212121; font-weight: bold; text-align: center; line-height: 1.46rem;}
.pwdInp{display: flex; align-items: center; justify-content: center;border: solid 1px #E2E2E2;}
.pwd{margin: 0 .62rem;}
.pwd p{margin-bottom: .14rem;}
.pwdInp li{width: 1.04rem; height: 1.06rem; border-right: solid 1px #E2E2E2; display: flex; align-items: center; justify-content: center; font-size: .48rem; color: #333; font-weight: bold;}
.fpwtbox{text-align: right; margin-top: .1rem;}
.fpwt{font-size: .26rem; color: #97989C;}
.pwdInp li:last-of-type{border: none;}

.num_keyboard{height: 3.98rem; background-color: #eee;  padding-top: .3rem; position: fixed; left: 0; right: 0; bottom: 0; padding-bottom: env(safe-area-inset-bottom); z-index: 10; transform: translateY(100%); transition: transform .3s;}
.num_ul {display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap; margin: 0 .23rem; }
.num_ul li{display: flex; font-size: .5rem; color: #333; align-items: center; justify-content: center; width: 2.29rem; height: .88rem; border-radius: .1rem; background-color: #fff; margin-bottom: .09rem; box-shadow: 0 .02rem 0 0 rgba(109, 109, 109, 0.14); -webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.num_ul li.nobg{background: none; box-shadow: none;}
.num_ul li:active{background-color: #ccc !important;}
.num_ul li.del{background: url(../../images/pay/del_num.png) no-repeat center/.6rem;}
[v-cloak]{
    display: none !important;
}

.loading{display: block; width: 1.1rem; height: 1.1rem; border-radius: .3rem;  background: rgba(0,0,0,.9) ; background-size: .5rem; position: fixed; left: 0; right: 0; margin: auto; top: 50%;}
.loading::before{content: ''; background: url(../../images/login/loading.png) no-repeat center; background-size: .5rem; position: absolute; left: 0; right: 0; margin: auto; top: 0; bottom: 0; animation:rotate_ 1s infinite linear;}

.payTxt{text-align: center; color: #666; font-size: .28rem;}


@keyframes rotate_{
	0%{ transform: rotate(0deg);}
	50%{ transform: rotate(180deg);}
	100%{ transform: rotate(360deg);}
}
