<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
<title>{#$pagetitle#}</title>
{#$cssFile#}
<script>
var thumbSize = {#$thumbSize#}, thumbType = "{#$thumbType#}",  //缩略图配置
  atlasSize = {#$atlasSize#}, atlasType = "{#$atlasType#}",  //图集配置
	modelType = "job", adminPath = "{#$adminPath#}";
var service = 'job';
</script>
</head>

<body>
<form action="" method="post" name="editform" id="editform" class="editform">
  <input type="hidden" name="dopost" id="dopost" value="{#$dopost#}" />
  <input type="hidden" name="id" id="id" value="{#$id#}" />
  <input type="hidden" name="token" id="token" value="{#$token#}" />
  <dl class="clearfix">
    <dt><label for="title">套餐名称：</label></dt>
    <dd>
      <input class="input-xlarge" type="text" name="title" id="title" value="{#$title#}" maxlength="60" data-regex=".{2,60}" />
      <span class="input-tips"><s></s>请输入套餐名称，2-60位</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="title">有效期：</label></dt>
    <dd>
      {#html_radios name="valid_type" values=$valid_types checked=$valid_type output=$valid_type_names separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>
  <dl id="valid_type_val" class="clearfix hide">
    <dt><label for="title">有效期（天）：</label></dt>
    <dd>
      <input class="input-mini" type="number" min="1" name="valid" id="valid" value="{#$valid#}" /> 天
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="title">价格：</label></dt>
    <dd>
      <input class="input-mini" type="number" min="0" name="money" id="money" value="{#$money#}" /> 元
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="title">购买人数：</label></dt>
    <dd>
      <input class="input-mini" type="number" min="0" name="buy" id="buy" value="{#$buy#}" />
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="title">职位上架：</label></dt>
    <dd>
      {#html_radios name="job_type" values=$job_types checked=$job_type output=$job_type_names separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>
  <dl class="clearfix hide" id="job_type_val">
    <dt><label for="title">职位上架数：</label></dt>
    <dd>
      <input class="input-mini" type="number" min="1" name="job" id="job" value="{#$job#}" /> 个
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="title">简历下载：</label></dt>
    <dd>
      {#html_radios name="resume_type" values=$resume_types checked=$resume_type output=$resume_type_names separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>
  <dl class="clearfix" id="resume_type_val">
    <dt><label for="title">简历下载数：</label></dt>
    <dd>
      <input class="input-mini" type="number" min="0" name="resume" id="resume" value="{#$resume#}" /> 次（每天）
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="title">职位刷新：</label></dt>
    <dd>
      <input class="input-mini" type="number" min="0" name="refresh" id="refresh" value="{#$refresh#}" /> 次（每天）
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="title">置顶时长：</label></dt>
    <dd>
      <input class="input-mini" type="number" min="0" name="top" id="top" value="{#$top#}"/> 天
    </dd>
  </dl>
  <dl class="clearfix formbtn">
    <dt>&nbsp;</dt>
    <dd><input class="btn btn-large btn-success" type="submit" name="submit" id="btnSubmit" value="确认提交" /></dd>
  </dl>
</form>

{#$editorFile#}
{#$jsFile#}
</body>
</html>
