<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
    <title>{#$pagetitle#}</title>
    {#$cssFile#}
    <script>
        var fair_type = '{#$smarty.get.type#}'
        var modelType = "job", adminPath = "{#$adminPath#}", pics = {#$picture|default: '[]'#}, atlasSize = {#$atlasSize#}, atlasType = "{#$atlasType#}";
    </script>
</head>

<body>
   {#if !$id#}
   {#$type = $smarty.get.type#}
   {#/if#}
    <form action="" method="post" name="editform" id="editform" class="editform">
        <input type="hidden" name="dopost" id="dopost" value="{#$dopost#}" />
        <input type="hidden" name="id" id="id" value="{#$id#}" />
        <input type="hidden" name="token" id="token" value="{#$token#}" />
        <dl class="clearfix">
            <dt><label for="title">招聘会名称：</label></dt>
            <dd>
                <input class="input-xxlarge" type="text" name="title" id="title" value="{#$title#}" maxlength="50"
                    data-regex=".{2,50}" />
                <span class="input-tips"><s></s>请输招聘会名称，2-50个字</span>
            </dd>
        </dl>
        <dl class="clearfix">
            <dt><label for="fairs_type">招聘会类型：</label></dt>
            <dd class="radio" id="fairs_type">
                {#html_radios name="type" values=$types checked=$type output=$typenames
                separator="&nbsp;&nbsp;"#} <span
                    style="display: inline-block;color: grey; font-size: 12px;"></span>
            </dd>
        </dl>
        <dl class="clearfix">
            <dt><label for="fname">主办单位：</label></dt>
            <dd style="overflow: visible;position: relative;padding: 5px 80px 5px 140px;">
                <select class="col-sm-2 chosen-select" id="Config_type_id" data-placeholder="多选"
                    multiple="multiple" style="width:284px;">
                    {#foreach from=$typeArr item=type_i#}
                    <option value="{#$type_i.id#}" {#if $typeid && in_array($type_i.id, $typeid)#} selected{#/if#}>
                        {#$type_i.title#}</option>
                    {#/foreach#}
                </select>
                <input type="hidden" name="oid" id="oid" value="{#$oid#}" />
                <span class="input-tips" style="display:inline-block;"><s></s>请选择主办单位（可多选）</span>
            </dd>
        </dl>
        <dl class="clearfix">
            <dt><label for="fid">所在会场：</label></dt>
            <dd style="overflow: visible;position: relative;padding: 5px 80px 5px 140px;">
                <select class="chosen-select" id="fid" name="fid" style="width: 284px;">
                    <option value="">请选择</option>
                    {#foreach from=$jobFairCenters item=center#}
                    <option value="{#$center.id#}" {#if $fid==$center.id#} selected{#/if#}>{#$center.title#}</option>
                    {#/foreach#}
                </select>
                <span class="input-tips" style="display:inline-block;"><s></s>用于确定该招聘会的所属分站<br /><small>网络招聘会类型虽然没有会场的概念，但是为了分站归属问题，需要添加一个会场仅用于判定归属。</small></span>
            </dd>
        </dl>
        <dl class="clearfix">
            <dt><label>电脑端头图：</label></dt>
            <dd class="thumb fn-clear listImgBox">
                <div class="uploadinp filePicker thumbtn{#if $head_img != ''#} fn-hide{#/if#}" id="filePicker3"
                    data-type="logo" data-count="1" data-size="{#$thumbSize#}" data-imglist="">
                    <div></div><span></span>
                </div>
                {#if $head_img != ""#}
                <ul id="listSection3" class="listSection thumblist fn-clear" style="display:inline-block;">
                    <li id="WU_FILE_0_3"><a href='{#$head_img#}' target="_blank" title=""><img alt=""
                                src="/include/attachment.php?f={#$head_img#}" data-val="{#$head_img#}" /></a><a
                            class="reupload li-rm" href="javascript:;">{#$langData['siteConfig'][19][176]#}</a></li>
                </ul>
                {#else#}
                <ul id="listSection3" class="listSection thumblist fn-clear"></ul>
                {#/if#}
                <input type="hidden" name="head_img" value="{#$head_img#}" class="imglist-hidden">
                <br />
                <span style="font-size: 12px; padding-top: 10px; color: #999;"><s></s>尺寸建议：1920像素 * 340像素</span>
            </dd>
        </dl>
        <dl class="clearfix">
            <dt><label for="obj">面向对象：</label></dt>
            <dd>
                <input class="input-medium" type="text" name="obj" id="obj" value="{#$obj#}" data-regex=".{2,50}" />
                <span class="input-tips" style="display:inline-block;"><s></s>例如：2022应届生</span>
            </dd>
        </dl>
        <dl class="clearfix">
            <dt><label for="startdate">开始时间：</label></dt>
            <dd><input class="input-medium" type="text" name="startdate" id="startdate" value="{#$startdate#}" /></dd>
        </dl>
        <dl class="clearfix">
            <dt><label for="enddate">结束时间：</label></dt>
            <dd><input class="input-medium" type="text" name="enddate" id="enddate" value="{#$enddate#}" /></dd>
        </dl>
        <dl class="clearfix">
            <dt><label for="enddate">联系电话：</label></dt>
            <dd><input class="input-medium" type="text" name="phone" id="phone" value="{#$phone#}" /></dd>
        </dl>
        <dl class="clearfix">
            <dt><label for="click">浏览次数：</label></dt>
            <dd>
                <input class="input-mini" type="number" min="0" name="click" id="click" value="{#$click#}"
                    data-regex="[1-9]\d*" />
                <span class="input-tips"><s></s>请输入浏览次数，数字类型</span>
            </dd>
        </dl>
        <dl class="clearfix">
            <dt><label>招聘会图集：</label></dt>
            <dd class="listImgBox hide">
                <div class="list-holder">
                    <ul id="listSection2" class="clearfix listSection picColor"></ul>
                    <input type="hidden" name="picture" value='{#$picture#}' class="imglist-hidden">
                </div>
                <div class="btn-section clearfix">
                    <div class="uploadinp filePicker picture" id="filePicker2" data-type="pics" data-count="999"
                        data-size="{#$atlasSize#}" data-imglist="pics">
                        <div id="flasHolder"></div><span>添加图片</span>
                    </div>
                    <div class="upload-tip">
                        <p><a href="javascript:;"
                                class="hide deleteAllAtlas">删除所有</a>&nbsp;&nbsp;<span style="color: #999; font-size: 12px;">支持{#$atlasType|replace:"*.":""|replace:";":"、"#}&nbsp;&nbsp;单张最大{#$atlasSize/1024#}M，尺寸建议：750
                            * 500，第一张图默认为封面</span><span class="fileerror"></span></p>
                    </div>
                </div>
            </dd>
        </dl>
        <dl class="clearfix">
            <dt>招聘会说明：</dt>
            <dd>
                <script id="note" name="note" type="text/plain" style="width:85%;height:500px">{#$note#}</script>
            </dd>
        </dl>
        <div class="xianchang-obj">
            <dl class="clearfix typeitem" id="type">
                <dt><label for="join_type">参会信息数据类型：</label></dt>
                <dd class="radio" id="join_type">
                    {#html_radios name="join_type" values=$join_types checked=$join_type output=$join_typenames
                    separator="&nbsp;&nbsp;"#} <span
                        style="display: inline-block;color: grey; font-size: 12px;"><s></s>如果有详细的参会企业信息，建议使用数据录入</span>
                </dd>
            </dl>
            <dl class="clearfix typeitem typeitem1 joinitem joinitem1">
                <dt><label>参会企业信息：</label></dt>
                <dd>
                    <script id="join_img" name="join_img" type="text/plain"
                        style="width:85%;height:500px">{#$join_img#}</script>
                </dd>
            </dl>
            <dl class="clearfix typeitem typeitem1 joinitem joinitem2">
                <dt><label>参会信息：</label></dt>
                <dd>
                    <p style="font-size: 14px; padding-top: 5px;">当前页面无法直接录入，请先提交保存后，回到招聘会列表页面，点击当前招聘会操作列的【参会信息】，进行录入！</p>
                </dd>
            </dl>
        </div>
        <dl class="clearfix formbtn">
            <dt>&nbsp;</dt>
            <dd><input class="btn btn-large btn-success" type="submit" name="submit" id="btnSubmit" value="确认提交" /></dd>
        </dl>
    </form>

    {#$editorFile#}
    {#$jsFile#}
</body>

</html>