<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
<title>管理招聘职位</title>
{#$cssFile#}
</head>

<body>
<div class="search">
  搜索：
  <div class="choseCity"><input type="hidden" id="cityList" name="cityList" placeholder="请选择城市分站" value=""></div>&nbsp;
  <div class="btn-group" id="typeBtn" data-id="">
    <button class="btn dropdown-toggle" data-toggle="dropdown">全部分类<span class="caret"></span></button>
  </div>
  面试日期&nbsp;&nbsp;<input class="input-small" type="text" id="stime" placeholder="开始日期" autocomplete="off">&nbsp;到&nbsp;<input class="input-small" type="text" id="etime" placeholder="结束日期" autocomplete="off">
  <span>
    <select style="width: auto; border-right: 0; border-radius: 4px 0 0 4px; border-color: #dcdfe6;" name="searchType" id="searchType">
      <option value="rname">简历名称</option>
      <option value="pname">职位名称</option>
      <option value="uname">用户名[面]</option>
      <option value="cname">公司名</option>
    </select><input class="input-large" type="search" id="keyword" placeholder="搜索关键字" style="border-radius: 0 4px 4px 0!important;">
  </span>
  <button type="button" class="btn btn-success" id="searchBtn">立即搜索</button>&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="javascript:;" class="btn btn-warning" id="export">导出数据</a>
</div>

<div class="filter clearfix">
  <div class="f-left">
    <div class="btn-group" id="stateBtn"{#if $notice#} data-id="0"{#/if#}>
		{#if $notice#}
        <button class="btn dropdown-toggle" data-toggle="dropdown">待审核(<span class="state0"></span>)<span class="caret"></span></button>
        {#else#}
        <button class="btn dropdown-toggle" data-toggle="dropdown">全部信息(<span class="totalCount"></span>)<span class="caret"></span></button>
        {#/if#}
      <ul class="dropdown-menu">
        <li><a href="javascript:;" data-id="">全部信息(<span class="totalCount"></span>)</a></li>
        <li><a href="javascript:;" data-id="1">待面试(<span class="state1"></span>)</a></li>
        <li><a href="javascript:;" data-id="2">用户取消(<span class="state2"></span>)</a></li>
        <li><a href="javascript:;" data-id="3">沟通offer(<span class="state3"></span>)</a></li>
        <li><a href="javascript:;" data-id="4">待入职(<span class="state4"></span>)</a></li>
        <li><a href="javascript:;" data-id="5">不合适(<span class="state5"></span>)</a></li>
      </ul>
    </div>
  </div>
  <div class="f-right">
    <div class="btn-group" id="pageBtn" data-id="20">
      <button class="btn dropdown-toggle" data-toggle="dropdown">每页20条<span class="caret"></span></button>
      <ul class="dropdown-menu pull-right">
        <li><a href="javascript:;" data-id="10">每页10条</a></li>
        <li><a href="javascript:;" data-id="15">每页15条</a></li>
        <li><a href="javascript:;" data-id="20">每页20条</a></li>
        <li><a href="javascript:;" data-id="30">每页30条</a></li>
        <li><a href="javascript:;" data-id="50">每页50条</a></li>
        <li><a href="javascript:;" data-id="100">每页100条</a></li>
      </ul>
    </div>
    <button class="btn disabled" data-toggle="dropdown" id="prevBtn">上一页</button>
    <button class="btn disabled" data-toggle="dropdown" id="nextBtn">下一页</button>
    <div class="btn-group" id="paginationBtn">
      <button class="btn dropdown-toggle" data-toggle="dropdown">1/1页<span class="caret"></span></button>
      <ul class="dropdown-menu" style="left:auto; right:0;">
        <li><a href="javascript:;" data-id="1">第1页</a></li>
      </ul>
    </div>
  </div>
</div>

<ul class="thead t100 clearfix">
  <li class="row20 left">面试简历/联系方式</li>
  <li class="row30 left">职位名称/类别/薪资</li>
  <li class="row20 left">公司名称/联系电话</li>
  <li class="row20 left">面试会员/面试时间</li>
  <li class="row10 ">处理状态</li>
</ul>

<div class="list mt124" id="list" data-totalpage="1" data-atpage="1"><table><tbody></tbody></table><div id="loading" class="loading hide"></div></div>

<div id="pageInfo" class="pagination pagination-centered"></div>

<div class="hide">
  <span id="sKeyword"></span>
  <span id="sType"></span>
  <span id="start"></span>
  <span id="end"></span>
</div>

<script>
  var typeListArr = {#$typeListArr#}, adminPath = "{#$adminPath#}", cityList = {#$cityList#};
</script>
{#$jsFile#}
</body>
</html>
