<!DOCTYPE html>
<html style="background: green">
	<head>
		
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no, viewport-fit=cover" />
		<title>{#$langData['siteConfig'][19][313]#}</title> {#*   订单详情   *#}
		<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
		<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/waimaiOrderMap.css?v={#$cfg_staticVersion#}">
		<script src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
		<script type="text/javascript" src="{#$cfg_staticPath#}js/core/zepto.min.js?v={#$cfg_staticVersion#}"></script>
		<script src="{#$templets_skin#}js/vue.min.js?v={#$cfg_staticVersion#}"></script>
		<script>
			var site_map ='{#$site_map#}';
			var local = '{#$local#}';
		</script>
	</head>
	<body>
		<div id="page">
			<div class="head_box">
				<a href="javascript:;" class="back_btn goBack" onclick="javascript:history.go(-1);"></a>
				<span>订单地图</span>
			</div>
			<div class="mapbox" id="map" class="fn-hide"></div>
		</div>
		<div class="bottomPop">
			<div class="topHead">
				<h2> <span>尾号<em></em></span></h2>
				<a href="tel:0" class="tel"></a>
			</div>
			<div class="addrbox">
				<h3><span class="address"></span> <em class="juli"></em></h3>
				<p></p>
				<a href="javascript:;" class="toDaohang">开始派送 立即开始导航</a>
			</div>
		</div>
		<div class="mask"></div>
		{#include file="{#$HUONIAOROOT#}/templates/siteConfig/public_location.html"#}
		{#if $site_map=="google"#}
		<script src="{#$templets_skin#}js/markerwithlabel.js?v={#$cfg_staticVersion#}"></script>
		{#/if#}

		<script src="{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}"></script>
		<script src="{#$templets_skin#}js/waimaiOrderMap.js?v={#$cfg_staticVersion#}"></script>
	</body>
</html>
