.footer{margin-top: 0px;}
.Shell{line-height: 100%;}
.progress::after {content: '';display: block;overflow: hidden;width: 100%;height: 5px;background: #2691FF url('/static/js/webuploader/progress.png') repeat-x;transition: width 200ms linear;animation: progressmove 2s linear infinite;transform: translateZ(0);position: absolute;bottom: 0px;left: 0px;}
.needWarn{display: none;color: #ff4f38;font-size: 14px;align-items: center;margin-top: 8px;position: absolute;}
.needWarn img{width: 14px;height: 14px;margin-right: 4px;}
.s-top{height: 100px;width: 1200px;margin: auto;display: flex;justify-content: space-between;}
.st-logo{display: flex;align-items: center;}
.st-logo div{font-size: 18px;font-weight: 400;color: #333333;position: relative;padding-left: 19px;margin-left: 33px;}
.st-logo div::before{content: '';width: 1px;height: 18px;background: #E0E0E0;position: absolute;left: 0;top: 50%;transform: translateY(-50%);}
.st-logo a img{max-height: 60px;}
.st-hotline{display: flex;align-items: center;}
.st-hotline img{width: 33px;height: 34px;margin-right: 9px;}
.sth-phone{font-weight: 400;}
.sth-phone .title{color: #999999;font-size: 14px;}
.sth-phone .line{color: #333333;font-size: 18px;margin-top: 10px;}
.s-content{position: relative;background-color: #F7F8FA;}
.sc-content{width: 1200px;margin: auto;position: relative;padding-bottom: 50px;}
.sc-bgi{position: absolute;top: 0;left: 0;width: 100%;height: 150px;}
.sc-nav{height: 56px;display: flex;align-items: center;font-size: 14px;font-weight: 400;color: #848383;}
.sc-nav a{color: #848383;}
.sc-table{display: flex;gap: 10px;}
.sct-left{flex:1;background-color:white;padding: 40px 48px 83px;border-radius: 10px;}
.sct-left .title{font-size: 30px;font-weight: 400;color: #333333;}
.sct-left .name{font-size: 14px;font-weight: bold;color: #333333;}
.sct-left .carInfo{margin-top: 50px;padding-left: 42px;}
.sct-left .carInfo .item,.sct-left .connect .item{display: flex;}
.sct-left .carInfo .item.carPicture{margin-top: 33px;}
.sct-left .carInfo .item.carPicture .tip{padding-top: 6px;flex-shrink: 0;}
.sct-left .carInfo .item .tip,.sct-left .connect .item .tip{font-size: 14px;font-weight: 400;color: #666666;margin-right: 18px;}
.sct-left .carInfo .item .picture{display: flex;gap: 10px;flex-wrap: wrap;}
.sct-left .carInfo .item .picture .show {position: relative;width: 130px;height: 130px;}
.sct-left .carInfo .item .picture .show:hover .delete{display: block;}
.sct-left .carInfo .item .picture .show .pic{width: 100%;height: 100%;object-fit: cover;}
.sct-left .carInfo .item .picture .show .delete{width: 30px;height: 30px;position: absolute;bottom: 0;right: 0;display: none;cursor: pointer;}
.sct-left .carInfo .item .picture .upload{width: 130px;height: 130px;background: #FFFFFF;border: 1px solid #E5E5E5;display: flex;align-items: center;justify-content: center;flex-direction: column;cursor: pointer;transition: all .2s;}
.sct-left .carInfo .item .picture .upload:hover{border-color: #C0C4CC;}
.sct-left .carInfo .item .picture .upload img{width: 48px;height: 42px;}
.sct-left .carInfo .item .picture .upload span{font-size: 14px;font-weight: 400;color: #999999;margin-top: 16px;}
.sct-left .carInfo .item .picture .upload input{display: none;}
.sct-left .carInfo .item.type{display: flex;align-items: baseline;margin-top: 30px;}
.sct-left .carInfo .item textarea{width: 530px;min-height: 77px;background: #FFFFFF;border: 1px solid #E5E5E5;box-sizing: border-box;resize: none;font-size: 14px;padding: 10px 11px 0px;outline: none;transition: all .2s;}
.sct-left .carInfo .item textarea:hover{border-color: #C0C4CC;}
.sct-left .carInfo .item textarea:focus{border-color: #409EFF;}
.sct-left .carInfo .item textarea::placeholder{color: #A6A6A6;}
.sct-left .carInfo .item textarea::-webkit-scrollbar{width: 6px;background-color: white;}
.sct-left .carInfo .item textarea::-webkit-scrollbar-thumb{background-color: #D7D7D9;border-radius: 4px;}
.sct-left .carInfo .item textarea::-webkit-scrollbar-thumb:active{background-color: #cccccc;}
.sct-left .connect{margin-top: 58px;padding-left: 42px;}
.sct-left .connect .item{align-items: baseline;margin-top: 30px;padding-left: 14px;position: relative;}
.sct-left .connect .item .tip.need{position: relative;}
.sct-left .connect .item .tip.need::before{content: '\002a';color: #FF0000;font-size: 14px;position: absolute;top: 0;left: -10px;}
.sct-left .connect .item.check .needWarn{display: flex;}
.sct-left .connect input{width: 280px;height: 46px;background: #FFFFFF;border: 1px solid #E5E5E5;box-sizing: border-box;padding-left: 10px;outline: none;transition: all .2s;}
.sct-left .connect input::placeholder{font-size: 14px;font-weight: 400;color: #A6A6A6;}
.sct-left .connect input:hover{border-color: #C0C4CC;}
.sct-left .connect input:focus{border-color: #409EFF;}
.sct-left .connect .item.check input{border-color: #ff4f38;}
.sct-left .submit{width: 280px;height: 60px;background: #FB5845;border: 1px solid #FB5845;border-radius: 6px;box-sizing: border-box;display: flex;align-items: center;justify-content: center;font-size: 18px;font-weight: 400;color: #FFFFFF;margin-top: 52px;margin-left: 116px;cursor: pointer;}
.sct-left .submit:hover{opacity: .9;}
.sct-right{width: 290px;flex-shrink: 0;height: 340px;background-color: white;padding: 22px 20px;box-sizing: border-box;border-radius: 10px;position: relative;}
.sct-right::before{content: '';top: 0;left: 0;width: 100%;height: 101px;position: absolute;background: url(../images/scrapBg2.png) no-repeat;background-size: 100% auto;}
.sct-right .title{font-size: 20px;font-weight: bold;color: #222222;position: relative;}
.sct-right .phone{margin-top: 21px;font-size: 15px;font-weight: 400;color: #4D4D4D;position: relative;}
.sct-right .phone span{color: #FA513E;font-weight: bold;}
.sct-right .qrcode{display: flex;flex-wrap: wrap;justify-content: center;margin-top: 34px;position: relative;}
.sct-right .qrcode img{width: 160px;height: 160px;object-fit: contain;}
.sct-right .qrcode span{font-size: 14px;font-weight: 400;color: #999999;margin-top: 15px;}
@keyframes progressmove {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 17px 0;
    }
}