<?xml version="1.0" encoding="utf-8"?>
<root>
	<Data>
		<tplname><![CDATA[商家DIY模板]]></tplname>
		<copyright><![CDATA[火鸟门户]]></copyright>
		<router>1</router>
		<beforeEach>Ty5iZWZvcmVFYWNoKCh0byxmcm9tLG5leHQpPT57bGV0IHN0cj0iIjtjb25zb2xlLmxvZyh0byxmb3JtLG5leHQpaWYodG8ucXVlcnkhPXt9KXtsZXQgbGVuZ3RoPU9iamVjdC5rZXlzKHRvLnF1ZXJ5KS5sZW5ndGg7bGV0IGNvdW50PTA7Zm9yKGxldCBrZXkgaW4gdG8ucXVlcnkpeysrY291bnQ7c3RyKz1gJHtrZXl9PSR7dG8ucXVlcnlba2V5XX0ke2xlbmd0aD09Y291bnQ/IiI6IiYifWB9fWxldCBhcnI9W3t3ZWI6ImluZGV4Iix0YXJnZXQ6ImluZGV4In1dO2ZvcihsZXQgaT0wO2k8YXJyLmxlbmd0aDtpKyspe2xldCB3ZWI9YXJyW2ldLndlYjtsZXQgdGFyZ2V0PWFycltpXS50YXJnZXQ7aWYodG8ucGF0aC5pbmRleE9mKGAvJHt3ZWJ9YCk+LTEmJnRvLnBhdGghPWAvJHt3ZWJ9YCl7aWYodGFyZ2V0PT0iIil7dG8ucGF0aD1gLyR7dGFyZ2V0fT8ke3N0cn1gfWVsc2V7dG8ucGF0aD1gLyR7dGFyZ2V0fSR7c3RyLmluY2x1ZGVzKCI/Iik/IiYiOiI/In0ke3N0cn1gfW5leHQodG8ucGF0aCk7YnJlYWt9ZWxzZSBpZih0by5wYXRoPT1gL2JgfHx0by5wYXRoPT1gL2luZGV4YHx8dG8ucGF0aD09YGApe25leHQoIi8iKTtyZXR1cm59fW5leHQoKX0pOw==</beforeEach>
	</Data>
</root>
