[v-cloak]{
    display: none !important;
}
body,html{background-color: #F5F5F7;}
.top_box {position: absolute; left: 0; right: 0; top: 0; z-index: 5;  }
.top_box .headbox{background-color: #24262B; color: #fff; display: flex; justify-content: space-between; height: .88rem; line-height: .88rem; padding-right: .34rem; align-items: center; position: relative;}
.top_box .headbox  .h_url{position: relative; z-index: 1; color: #fff;}
.top_box .headbox a{position: relative; z-index: 3;}
.top_box .headbox .htitle{font-size: .32rem; color: #fff; font-weight: bold; position: absolute; left: 0; right: 0; top: 0; bottom: 0; text-align: center;}
.top_box .headbox .back_btn{width: .88rem; height: .88rem; background: url(../images/header_back_index.png) no-repeat center; background-size: .4rem auto; position: relative; z-index: 3;}
.top_box .headbox .changeorder{color: #fff; font-size: .3rem;}

.typeList{padding-top: .88rem;}
.typeList .type_li{margin:.28rem .3rem 0; background-color: #fff; border-radius: .16rem; box-shadow: 0 .03rem .1rem 0 rgba(0, 3, 18, 0.03); height: 2.4rem;}
.typeList .type_li .type_info{height: 1.5rem; box-sizing: border-box; border-bottom: solid 1px #f5f5f7; display: flex; justify-content: center; flex-direction: column; padding-left: .42rem; position: relative;}
.typeList .type_li .type_info h3{font-size: .34rem; color: #1A1B21; font-weight: bold;}
.typeList .type_li .type_info p{color: #949599; font-size: .24rem; font-weight: 500; margin-top: .1rem;}
/* 开关 */
.switch{background-color: #B1B1B3;display: block; width: 1.1rem; height: .56rem; border-radius: .28rem; margin-left: .27rem; position: absolute;  top: .36rem; right: .3rem; color: #fff; -webkit-font-size-delta: .22rem; font-weight: normal; text-align: right; line-height: .56rem; box-sizing: border-box; padding: 0 .05rem;}
.switch::before{content: ''; display: block; width: .5rem; height: .5rem; border-radius: 50%; background-color: #fff;box-shadow: 0 .05rem .07rem 0 rgba(56, 56, 59, 0.23); position: absolute; top: 0; bottom: 0; margin: auto; left: .03rem; transition: all .3s;}
.switch.active::before{left: .57rem;}
.switch.active{background: linear-gradient(-90deg, #FFAE00 0%, #FCBF1C 100%);box-shadow: 0 0 .07rem 0 inset rgba(92, 35, 0, 0.13); text-align: left;}


.typeList .type_li:first-of-type .up_btn{display: none !important;}
.typeList .type_li:last-of-type .down_btn{display: none !important;}
.typeList .type_li .f_detail{display: flex; align-items: center; line-height: .9rem; padding-left: .44rem;}
.typeList .type_li .f_detail p{color: #949599; max-width: 2.3rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.typeList .type_li .f_detail span{color: #1A1B21; font-weight: 500; margin-left: .1rem; /* display: flex; align-items: center; */ margin-bottom: -.02rem;}
.typeList .type_li .f_detail span em{font-family: moneyNumber;}
.typeList .type_li .f_detail span::after{content: ''; display: block; width: .24rem; height: .24rem; background: url(../images/arr_r.png) no-repeat center; background-size: cover; margin-left: .07rem; display: inline-block; vertical-align: middle;margin-bottom: .04rem;}

.typeList .type_li .t_order{display: flex; align-items: center; justify-content: space-between; color: #949599; font-size: .24rem; line-height: .9rem; padding: 0 .44rem;}
.typeList .type_li .t_order .r_btns{display: flex; align-items: center; }
.typeList .type_li .t_order .r_btns span{display: flex; align-items: center; margin-left: .46rem;}
.typeList .type_li .t_order .r_btns span.disabled{pointer-events: none;}
.typeList .type_li .t_order .r_btns span::before{content: ''; display:  block; width: .32rem; height: .32rem; background: url(../images/up.png) no-repeat center; background-size: cover;}
.typeList .type_li .t_order .r_btns span.down_btn::before{background-image: url(../images/down.png);}


.add_type,.save_btn{margin: .8rem .3rem; height: .8rem;background: linear-gradient(-90deg, #FFAE00 0%, #FCC01C 100%); border-radius: .4rem; color: #fff; font-size: .3rem; display: block; border: none; width: 6.9rem; font-weight: bold; display: flex; align-items: center; justify-content: center;}
.add_type::before{content: ''; display: inline-block; width: .4rem; height: .4rem; background: url(../images/add_1.png) no-repeat center; background-size: cover; margin-right: .1rem; }
.btn_box{position: fixed; bottom: 0; left: 0; right: 0; background-color: #f5f5f7;}
body{padding-bottom: 2.4rem;}
.btn_box .add_type,.btn_box .save_btn{margin-top: .4rem;}

@font-face {
	font-family: moneyNumber;
	src: url('/static/fonts/coregtd6.otf'),
		url('/static/fonts/coregtd6.TTF'),
		url('/static/fonts/coregtd6.svg'),
		 url('/static/fonts/coregtd6.woff'); /* IE9 */
}

@keyframes rotate_{
	0%{ transform: rotate(0deg);}
	50%{ transform: rotate(180deg);}
	100%{ transform: rotate(360deg);}
}

.slide-top {
	-webkit-animation: slide-top 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-bottom {
	-webkit-animation: slide-bottom 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bottom 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          display: block;
}
.slide-out-top {
  -webkit-animation: slide-out-top 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
          animation: slide-out-top 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
          display: block;
}
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-.8rem);
            transform: translateY(-.8rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-.8rem);
            transform: translateY(-.8rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}


@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-2.4rem);
            transform: translateY(-2.4rem);
    opacity: 0;
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-2.4rem);
            transform: translateY(-2.4rem);
    opacity: 0;
  }
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-2.68rem);
            transform: translateY(-2.68rem);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-2.68rem);
            transform: translateY(-2.68rem);
  }
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(2.68rem);
            transform: translateY(2.68rem);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(2.68rem);
            transform: translateY(2.68rem);
  }
}



/* 编辑分类  样式 */
.type_detail{background-color: #fff; margin-top: 1.08rem; min-height: 6rem; border-top: solid 1px #EBEBED; border-bottom: solid 1px #EBEBED;}
.type_detail .inpbox{display: flex; align-items: center; justify-content: space-between;margin: 0 .3rem; line-height: 1rem; border-bottom: solid 1px #f5f5f5;}
.type_detail li{margin: 0 .3rem;}
.type_detail li label{color: #7C7C80; font-size: .3rem; line-height: 1rem; display: flex; justify-content: space-between; align-items: center; margin-bottom: .1rem; }
.type_detail li label a{position: relative; top: 0; right: 0; font-size: .22rem;}
.type_detail .inpbox input{background: none; border: none; font-size: .3rem; text-align: right; font-size: .3rem; font-weight: bold; color: #202021;} 
.type_detail .inpbox input::placeholder{color: #C6C7CC;}
.type_detail .inpbox .right_box{display: flex; align-items: center;justify-content: center;}
.type_detail .inpbox .right_box input{display: inline-block; width: 1.2rem;}
.type_detail .inpbox.select_inp{position: relative; }
.type_detail .inpbox.select_inp:after{content: ''; display: block; width: .24rem; height: .24rem; background: url(../images/arr_r.png) no-repeat center; background-size: cover; position: absolute; top: 0; bottom: 0; right: 0; margin: auto;}
.type_detail .inpbox.select_inp .right_box{padding-right: .3rem;}
.type_detail .inpbox.select_inp .right_box input{text-align: center;}
.type_detail .weekList span{float: left; width: 2.16rem; height:.6rem; border-radius: .04rem;box-sizing: border-box; border: solid 1px #EBEBED; color: #202021; font-size: .28rem; margin-right: .2rem; text-align: center; line-height: .58rem; margin-bottom: .2rem;} 
.type_detail .weekList span:nth-of-type(3n){margin-right: 0;}
.type_detail .weekList span.chosed{border-color: #FFAE01; background-color: #FFF9ED;}
.btns_group button{margin-bottom: .5rem;}
.btns_group .del_btn{background: none; font-color: #595B66; font-size: .3rem; border: none; width: 6.9rem; margin: auto ; text-align: center; display: block; color: #595B66; font-weight: bold;}
.md-range-event .md-header {
    position: relative;
    background: #4ECCC4;
    padding: 1em;
    text-align: center;
    margin-bottom: 1em;
}

.mbsc-material.md-range-event .md-header,
.md-range-event .mbsc-material .md-header {
    background: #009688;
}

.mbsc-android-holo.md-range-event .md-header,
.md-range-event .mbsc-android-holo .md-header {
    background: #31c6e7;
}

.mbsc-ios-classic.md-range-event .md-header,
.mbsc-ios.md-range-event .md-header,
.md-range-event .mbsc-ios .md-header {
    background: #1272dc;
    margin: 0;
    z-index: 1;
}

.mbsc-ios-dark.md-range-event .md-header,
.md-range-event .mbsc-ios-dark .md-header {
    background: #ff8b0f;
    margin: 0;
    color: #a1a1a1;
}

.mbsc-wp.md-range-event .md-header,
.md-range-event .mbsc-wp .md-header {
    background: #1a9fe0;
}

.md-range-event .md-header .mbsc-header-txt {
    display: inline-block;
    color: #fff;
    font-size: 18px;
}

.md-range-event .md-header .mbsc-btn-flat {
    margin: 0;
    padding: 0 .5em 0 .5em;
    height: 30px;
    color: #fff;
    text-transform: capitalize;
}

.md-range-event .md-header .md-cancel-btn,
.md-range-event .md-header .md-add-btn {
    position: absolute;
    top: 50%;
    margin-top: -15px;
}

.md-range-event .md-header .mbsc-btn-flat.mbsc-active {
    background: rgba(255, 255, 255, 0.2);
}

.md-range-event .md-header .md-add-btn {
    right: .75em;
}

.md-range-event .md-header .md-cancel-btn {
    left: .75em;
}


.mbsc-fr-btn-cont{height: 1rem; background: #F7F8FA !important; border-radius: .2rem .2rem 0 0 ; overflow: hidden; border: none !important; }
.mbsc-ios .mbsc-fr-btn{line-height: 1rem;}
.mbsc-fr-popup.mbsc-ltr{background-color: #fff;border-radius: .2rem .2rem 0 0 ; overflow: hidden;}
.mbsc-calendar{position: relative; z-index: 999999; background-color: #fff;  overflow: hidden;}
.mbsc-fr-overlay{background: rgba(0,0,0,.5) !important;}
.mbsc-fr-popup{z-index: 99;}
.mbsc-ios .mbsc-range-btn-t {display: flex; height: 1rem; border-bottom: solid 1px #E6E7ED;}
.mbsc-ios .mbsc-range-btn-end,.mbsc-ios  .mbsc-range-btn-start{width: 50%; border: none; }
.mbsc-ios .mbsc-sc-itm .mbsc-sc-whl-c{font-size: .32rem !important;}
.mbsc-ios .mbsc-range-btn-v{background-color: #fff; left: 0; right: 0; top: 0; bottom: 0;text-align: center; line-height: 1rem;}
.mbsc-ios.mbsc-calendar .mbsc-fr-persp .mbsc-fr-w{background: #fff;  }
.mbsc-ios .mbsc-sc-whl-o, .mbsc-ios.mbsc-calendar .mbsc-sc-whl-o,.mbsc-ios.mbsc-fr-top .mbsc-sc-whl-o, .mbsc-ios.mbsc-fr-bottom .mbsc-sc-whl-o{background: none;}
.mbsc-ios .mbsc-fr-btn-w.mbsc-fr-btn-s .mbsc-fr-btn{color: #FFAE00; padding:0 .55rem;}
.mbsc-ios .mbsc-fr-btn-w.mbsc-fr-btn-c .mbsc-fr-btn{color: #999;  padding:0 .55rem;}
.mbsc-ios .mbsc-fr-w {padding-top: 1rem;}
.mbsc-ios .mbsc-range-btn-sel .mbsc-range-btn .mbsc-range-btn-v{font-weight: bold; color: #FFAE00; font-size: .36rem; }
.mbsc-ios .mbsc-range-btn{height: 100%; box-sizing: border-box;}
.mbsc-ios .mbsc-range-btn-v{font-weight: bold; font-size: .36rem;}
.mbsc-ios .mbsc-range-btn-sel .mbsc-range-btn .mbsc-range-btn-v:after{content: ''; display: block; width: .2rem; height: .2rem; background: url(../images/arr_d2.png) no-repeat center; background-size: cover; position: absolute; bottom: 0; left: 0; right: 0; margin: auto;}
.mbsc-ios .mbsc-range-btn-t::before{content: '至'; font-size: .26rem; color: #666 ; line-height: 1rem; left: 50%;  transform: translate(-50%, 0); position: absolute; z-index: 9;}
.mbsc-ios .mbsc-dt-whl-d .mbsc-sc-itm, .mbsc-ios .mbsc-dt-whl-h .mbsc-sc-itm, .mbsc-ios .mbsc-dt-whl-date .mbsc-sc-itm{text-align: center;}
.mbsc-ios .mbsc-dt-whl-m .mbsc-sc-itm{text-align: center;}
.mbsc-ios .mbsc-sc-itm{font-size: .3rem; font-weight: normal !important; }
/* .mbsc-ios .mbsc-sc-itm-sel{border-bottom: solid 1px #f5f5f7; border-top: solid 1px #f5f5f7; font-size: .32rem; font-weight: bold !important; } */
.mbsc-fr-aria.mbsc-fr-hdn{position: absolute;z-index: 1;left: 0;right: 0;top: 0; pointer-events: none;line-height: 1rem; color: #999; font-size: .28rem; height: 1rem !important; width: 100% !important;}
.mbsc-ios .mbsc-sc-whl-w .mbsc-sc-whl-l{display: block !important; border-color: #f5f5f7 !important;}


/* 错误提示1 */
.popErr {position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 100001; visibility: hidden;}
.popErr p {position: fixed; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: .3rem; line-height: 1.4; text-align: center; padding: .24rem .2rem; z-index: 9999; left: 0; top: 50%; margin-top: -.2rem;}
.disabled{pointer-events: none !important;}
/* 删除确认提示 */
.comfirm_mask{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,.5);}
.comfirm_box{position: fixed; bottom: 0; left: 0; right: 0;}
.comfirm_box dl{margin: 0 .3rem; border-radius: .3rem; background-color: #fff; height: 2.1rem;}
.comfirm_box dt{background-color: #F5F5F7; border-radius: .3rem .3rem 0 0; text-align: center; font-size: .26rem; color: #999; line-height: .9rem;}
.comfirm_box dd{font-size: .34rem; color: #FFAE00; font-weight: bold; line-height: 1.2rem; text-align: center;}
.comfirm_box .cancel_btn{margin: 0 .3rem; height: 1.2rem; background-color: #fff; border-radius: .3rem; text-align: center; line-height: 1.2rem; font-weight: bold; font-size: .34rem; margin-top: .2rem; margin-bottom: .5rem;}


.huoniao_iOS .headbox{padding-top: .5rem;}
.huoniao_iOS .top_box .headbox .htitle{top: .5rem;}
.huoniao_iOS .typeList{padding-top: 1.38rem}
.huoniao_iOS #submitForm{margin-top: 1.58rem}