[v-cloak]{
    display: none !important;
}
html,body{overflow: visible;}
.top_box {position: fixed; left: 0; right: 0; top: 0; z-index: 5;  }
 .headbox{background-color: #24262B; color: #fff; display: flex; justify-content: space-between; height: .88rem; line-height: .88rem; padding-right: .34rem; align-items: center; position: relative;}
 .headbox  .h_url{position: relative; z-index: 1; color: #fff;}
 .headbox a{position: relative; z-index: 3;}
 .headbox .htitle{font-size: .32rem; color: #fff; font-weight: bold; position: absolute; left: 0; right: 0; top: 0; bottom: 0; text-align: center;}
 .headbox .back_btn{width: .88rem; height: .88rem; background: url(../images/header_back_index.png) no-repeat center; background-size: .4rem auto; position: relative; z-index: 3;}
.top_box .tab_box{position: relative;}
.top_box .tab_box ul{height: .8rem; background-color: #24262C; display: flex; padding-left: .5rem;}
.top_box .tab_box li.on_chose{opacity: 1; font-size: .3rem; font-weight: bold;}
.top_box .tab_box li{color: #fff; font-size: .28rem; font-weight: normal; margin-right: 1.35rem; position: relative; line-height: .8rem; opacity: .6; vertical-align: bottom;}
.top_box .tab_box li em{font-size: .24rem; color: #B1B2B3;margin: auto; margin-left: .1rem; position: absolute; top: 0; bottom: 0; line-height: .9rem;}
.top_box .tab_box b{display: block; width: .56rem; height: .08rem; border-radius: .04rem;background: linear-gradient(-90deg, #FFAE00 0%, #FCC01C 100%);box-shadow: 1px 5px 13px 0px rgba(255, 176, 2, 0.37); position: absolute; bottom: 0; transition: left .3s; transform: translate(-50%,0);}
.top_box .tab_box h2{background-color: #24262C; font-size: .28rem; color: #fff; line-height: .8rem; padding-left: .4rem;}
.top_box .tab_box h2 em{color: #FFAE00; font-weight: bold;}

/* 底部 */
.bottom_box{  align-items: center;box-shadow: 0px -.03rem .15rem 0 rgba(4, 0, 0, 0.06);position: fixed; bottom: 0 ; left: 0; right: 0; padding: .36rem 0 ; background-color: #fff; z-index: 1;}
.bottom_box ul{display: flex; justify-content: space-evenly; }
.bottom_box ul a{display: flex; align-items: center; color: #1F1F21; font-size: .3rem; font-weight: 500; color: #1F1F21;}
.bottom_box ul a img{display: block; width: .4rem; height: .4rem; margin-right: .07rem;}
.bottom_box .save_sort{display: block; margin: 0 .3rem; line-height: .8rem; border-radius: .4rem; background: linear-gradient(-90deg, #FFAE00 0%, #FCBF1C 100%); color: #fff; font-size: .3rem; text-align: center; font-weight: bold;}

/*分类*/
.content_box{padding-top: 1.68rem; padding-bottom: 1.2rem;}
.content_box .menu_box{position: fixed; top: 0; bottom: 0; left: 0; width:1.6rem; background-color: #F2F3F5; padding-top: 1.68rem; padding-bottom: 1.2rem; overflow: auto;}
.content_box .menu_box li{padding:0 .26rem ; font-size: .26rem; color: #636366; height: 1rem; display: flex; justify-content: center; flex-direction: column;}
.content_box .menu_box li.fenlei_now{background-color: #fff; color: #202021; font-weight: bold;}
.content_box .list_box {padding-left: 1.6rem;}
.content_box .list_box .fenlei_dl dt{font-size: .24rem; height: 1rem; color: #636466; font-weight: bold; display: flex; justify-content: center; flex-direction: column; position: sticky; top: 1.68rem; background-color: #fff;padding: 0 .2rem; z-index: 1;}
.content_box .list_box .fenlei_dl:last-of-type{padding-bottom:8.5rem}
.content_box .list_box .fenlei_dl .ddlist{padding: 0 .2rem; padding-bottom: .56rem;}
.content_box .list_box .fenlei_dl .ddlist .fimg{width: 1.6rem; height: 1.6rem; background-color: #fff; border-radius: .06rem; float: left; position: relative;}
.content_box .list_box .fenlei_dl .ddlist .fimg .shangjia_tip{position: absolute; top: 0; left: 0; right: 0; bottom: 0.5rem; display: flex; align-items: center; justify-content: center; text-align: center; background-color: rgba(77,77,77,.6); border-radius: .06rem .06rem 0 0; color: #fff;}
.content_box .list_box .fenlei_dl .ddlist .fimg img{display: block; width: 100%; height: 100%; object-fit: cover; background-color: #f5f5f5; border-radius: .06rem; }
.content_box .list_box .fenlei_dl .ddlist .fimg.nostock img{opacity: .5;}
.content_box .list_box .fenlei_dl .ddlist .fimg.nostock span{position: absolute; left: 0; right: 0; background-color: #040809; border-radius: 0 0 .06rem .06rem; bottom: 0; line-height: .5rem; font-size: .22rem; color: #fff; text-align: center;}
.content_box .list_box .fenlei_dl .ddlist .fdetail{margin-left: 1.8rem;}
.content_box .list_box .fenlei_dl .ddlist .fdetail h2{font-size: .3rem; color: #1A1B21; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.content_box .list_box .fenlei_dl .ddlist .fdetail h2 .label{display: inline-block; line-height: .3rem;background: linear-gradient(30deg, #FF630D 0%, #FE3914 100%);border-radius: .1rem .1rem .1rem .02rem; color: #fff; font-size: .2rem; font-weight: normal;min-width: .6rem; text-align: center; vertical-align: middle; margin-bottom: .04rem;}
.content_box .list_box .fenlei_dl .ddlist .fdetail p{color: #98979C; font-size: .22rem; margin-top: .1rem;}
.content_box .list_box .fenlei_dl .btns_group{clear: both; display: flex; align-items: center; justify-content: flex-end; margin-top: .2rem;}
.content_box .list_box .fenlei_dl .btns_group .btn{min-width: 1.5rem; height: .64rem; border-radius: .06rem; display: flex; align-items: center; justify-content: center; flex-direction: column; box-sizing: border-box; margin-left: .3rem;}
.content_box .list_box .fenlei_dl .btns_group .btn.xiajia{border: solid 1px #B1B1B3; color: #5F6066; background-color: #fff; transition: width .3s;}
.content_box .list_box .fenlei_dl .btns_group .btn.xiajia .btn_shangjia{display: none !important;}
.content_box .list_box .fenlei_dl .btns_group .btn.xiajia.ckucun .btn_shangjia{display: flex !important; align-items: center; justify-content: space-between; width: 2.5rem; box-sizing: border-box; padding: 0 .24rem;}
.content_box .list_box .fenlei_dl .btns_group .btn.xiajia.ckucun .btn_shangjia input{width: 1.2rem; border: none; font-size: .24rem;margin-right: .2rem;}
.content_box .list_box .fenlei_dl .btns_group .btn.xiajia.ckucun .btn_shangjia input::placeholder{ color: #C6C7CC; }
.content_box .list_box .fenlei_dl .btns_group .btn.xiajia.ckucun .btn_shangjia a{color: #FFAE00; font-size: .24rem; font-weight: bold;}
.content_box .list_box .fenlei_dl .btns_group .btn.xiajia.ckucun .txt{display: none !important;}
.content_box .list_box .fenlei_dl .btns_group .btn.sort_up:before,
.content_box .list_box .fenlei_dl .btns_group .btn.sort_down:before{content: ''; display: inline-block; width: .32rem; height: .32rem; background: url(../images/down.png) no-repeat center; background-size: cover;}
.content_box .list_box .fenlei_dl dd:last-of-type .btns_group .btn.sort_down{display: none !important;}
.content_box .list_box .fenlei_dl dd:first-of-type .btns_group .btn.sort_up{display: none !important;}
.content_box .list_box .fenlei_dl .btns_group .btn.sort_up,
.content_box .list_box .fenlei_dl .btns_group .btn.sort_down{flex-direction:row ;}
.content_box .list_box .fenlei_dl .btns_group .btn.sort_up:before{background-image: url(../images/up.png);}
.content_box .list_box .fenlei_dl .btns_group .btn.edit{background-color: #FCBF1C; color: #fff;}
.content_box .list_box .fenlei_dl .ddlist .fdetail .price_show{margin-top: .3rem;}
.content_box .list_box .fenlei_dl .ddlist .fdetail .price_show .nprice{color: #FF4E45; font-size: .3rem; font-family: moneyNumber; font-weight: bold;}
.content_box .list_box .fenlei_dl .ddlist .fdetail .price_show .nprice em{font-size: .22rem;}
.content_box .list_box .fenlei_dl .ddlist .fdetail .price_show .oprice{color: #97989C; font-size: .22rem; font-weight: bold; margin-left: .09rem; font-family: moneyNumber;} 
.content_box .list_box .fenlei_dl .ddlist .fdetail .price_show .limit{color: #FF4F45; font-size: .22rem; margin-left: .16rem;}

.loading_icon{display: block; width: 1.1rem; height: 1.1rem; border-radius: .3rem;  background: rgba(0,0,0,.9) ; background-size: .5rem; position: fixed; left: 0; right: 0; margin: auto; top: 50%; z-index: 9;}
.loading_icon::before{content: ''; background: url(../images/loading.png) no-repeat center; background-size: .5rem; position: absolute; left: 0; right: 0; margin: auto; top: 0; bottom: 0; animation:rotate_ 1s infinite linear;}
.loadtip{text-align: center; font-size: .26rem; color: #ccc; padding: .2rem;}

/* 错误提示1 */
.popErr {position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 100001; visibility: hidden;}
.popErr p {position: fixed; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: .3rem; line-height: 1.4; text-align: center; padding: .24rem .2rem; z-index: 9999; left: 0; top: 50%; margin-top: -.2rem;}
.disabled{pointer-events: none !important;}

@font-face {
	font-family: moneyNumber;
	src: url('/static/fonts/coregtd6.otf'),
		url('/static/fonts/coregtd6.TTF'),
		url('/static/fonts/coregtd6.svg'),
		 url('/static/fonts/coregtd6.woff'); /* IE9 */
}

@keyframes rotate_{
	0%{ transform: rotate(0deg);}
	50%{ transform: rotate(180deg);}
	100%{ transform: rotate(360deg);}
}
.slide-top {
	-webkit-animation: slide-top 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-bottom {
	-webkit-animation: slide-bottom 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bottom 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          display: block;
}
.slide-out-top {
  -webkit-animation: slide-out-top 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
          animation: slide-out-top 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
          display: block;
}
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-.8rem);
            transform: translateY(-.8rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-.8rem);
            transform: translateY(-.8rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}


@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-2.92rem);
            transform: translateY(-2.92rem);
    opacity: 0;
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-2.92rem);
            transform: translateY(-2.92rem);
    opacity: 0;
  }
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-2.92rem);
            transform: translateY(-2.92rem);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-2.92rem);
            transform: translateY(-2.92rem);
  }
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(2.92rem);
            transform: translateY(2.92rem);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(2.92rem);
            transform: translateY(2.92rem);
  }
}


/* 新增商品 */
.grey{background-color: #f5f5f7;}
#formSumbmit{padding-top: .88rem; padding-bottom: 3rem;}
.btn_save{color: #FFAE00; font-size: .32rem; font-weight: bold;}
#formSumbmit .catybox{background-color: #fff;padding: 0 .3rem; margin-bottom: .2rem;}
#formSumbmit .imgBox{padding-bottom: .35rem; margin-bottom: 0;}
#formSumbmit .imgBox dt{font-size: .3rem; color: #7C7C80; line-height: 1rem;padding-left: .08rem;}
#formSumbmit .imgBox dd{width: 2.2rem; height: 2.26rem; border-radius: .12rem; float: left; margin-right: .15rem; box-sizing: border-box; position: relative; margin-bottom: .15rem;}
#formSumbmit .imgBox dd img{width: 100%; height: 100%; object-fit: cover; display: block; border-radius: .12rem;}
#formSumbmit .imgBox dd .del_btn{width: .4rem; height: .4rem; background: url(../images/del.png) no-repeat center; background-size: .4rem; position: absolute; top: 0; right: 0; margin-right: -.1rem; margin-top: -.1rem;}
#formSumbmit .imgBox dd.upbtn{border: dashed .03rem #BEBFC4; color: #717480; font-size: .24rem; display: flex; align-items: center; justify-content: center; flex-direction: column; text-align: center;} 
#formSumbmit .imgBox dd.upbtn input,#formSumbmit .imgBox dd.upbtn label{opacity: 0;}
#formSumbmit .imgBox dd.upbtn p{color: #BBBCC4 ; font-size: .22rem; margin-top: .06rem;}
#formSumbmit .imgBox dd.upbtn::before{content: ''; display: block; width: .54rem; height: .54rem; background: url(../images/add.png) no-repeat center; background-size: cover; margin-bottom: .1rem;}
#formSumbmit .imgBox dd:nth-of-type(3n){margin-right: 0;}
#formSumbmit .catybox li{display: flex; align-items: center; justify-content: space-between; height: 1rem; border-bottom: solid 1px #f5f5f7; position: relative;}
#formSumbmit .catybox li label,#formSumbmit .catybox.descr_box dt{font-size: .3rem; color: #7C7C80; font-weight: 500;}
#formSumbmit .catybox li input{border: none; height: 1rem;text-align: right; font-size: .3rem;}
#formSumbmit .catybox .select_inp input{padding-right: .3rem; font-weight: bold;}
#formSumbmit .catybox .select_inp::after{content: ''; display: block; width: .24rem; height: .24rem; background: url(../images/arr_r.png) no-repeat center; background-size: cover; position: absolute; right: 0; top: 0; bottom: 0; margin: auto; }
#formSumbmit .catybox li input::placeholder,#formSumbmit .catybox.descr_box textarea::placeholder{color: #C6C7CC; font-weight: 500;}
#formSumbmit .catybox li:last-child{border: none;}

#formSumbmit .catybox li.toggle_li label{font-weight: bold; color: #3B3B3B;}
#formSumbmit .catybox li.toggle_li .switch{display: block; width: 1rem; height: .56rem; border-radius: .28rem; box-shadow: 0 0 .07rem 0 rgba(92, 35, 0, 0.13) inset; position: relative; background-color: #B1B1B3;}
#formSumbmit .catybox li.toggle_li .switch::before{content: ''; display: block; width: .5rem; height: .5rem; background: #fff; border-radius: 50%;box-shadow: 0 .05rem .07rem 0 rgba(56, 56, 59, 0.23); position: absolute; top: 0; bottom: 0; margin: auto ; left: .03rem; transition: left .3s;}
#formSumbmit .catybox li.toggle_li .switch.active{background: linear-gradient(-90deg, #FFAE00 0%, #FCBF1C 100%); }
#formSumbmit .catybox li.toggle_li .switch.active::before{left: .47rem;}
#formSumbmit .catybox li.date_chose{display: block; height: auto; min-height: 1rem;}
#formSumbmit .catybox .select_inp{display: flex; align-items: center; justify-content: space-between; position: relative; }
#formSumbmit .catybox .time_list{text-align: right;}
#formSumbmit .catybox .time_list span{display: inline-block; width: 2rem; height: .64rem; box-sizing: border-box; line-height: .62rem; border: solid 1px #B1B1B3; border-radius: .06rem; text-align: center; color: #7C7C80; font-size: .26rem; margin-left: .2rem; position: relative; vertical-align: middle; margin-bottom: .22rem;}
#formSumbmit .catybox .time_list span.chose_inp em{display: block; width: .4rem; height: .4rem; background: url(../images/del.png) no-repeat center; background-size: .4rem; position: absolute; right: -.12rem; top: -.12rem;}

#formSumbmit .catybox.descr_box dt{line-height: 1rem; border-bottom: solid 1px #f5f5f7;} 
#formSumbmit .catybox.descr_box .textarea{resize: none; border: none; padding: .34rem .1rem; font-size: .3rem; height: 2.3rem; width: 100%; overflow: auto;}
#formSumbmit .catybox.descr_box .textarea img{max-width: 100%; }
#formSumbmit .catybox.descr_box .textarea:empty::before{content:attr(placeholder); color: #999; }
.del_pro{width: 6.9rem; display: block; height: .8rem; border-radius: .4rem; background-color: #E8E9EB; color: #595B66; font-size: .3rem; font-weight: bold; border: none; text-align: center; margin: -2.1rem auto 3rem;} 



.mbsc-fr-btn-cont{height: 1rem; background: #F7F8FA !important; border-radius: .2rem .2rem 0 0 ; overflow: hidden; border: none !important; }
.mbsc-ios .mbsc-fr-btn{line-height: 1rem;}
.mbsc-fr-popup.mbsc-ltr{background-color: #fff;border-radius: .2rem .2rem 0 0 ; overflow: hidden;}
.mbsc-calendar{position: relative; z-index: 999999; background-color: #fff;  overflow: hidden;}
.mbsc-fr-overlay{background: rgba(0,0,0,.5) !important;}
.mbsc-fr-popup{z-index: 99;}
.mbsc-ios .mbsc-range-btn-t {display: flex; height: 1rem; border-bottom: solid 1px #E6E7ED;}
.mbsc-ios .mbsc-range-btn-end,.mbsc-ios  .mbsc-range-btn-start{width: 50%; border: none; }
.mbsc-ios .mbsc-sc-itm .mbsc-sc-whl-c{font-size: .32rem !important;}
.mbsc-ios .mbsc-range-btn-v{background-color: #fff; left: 0; right: 0; top: 0; bottom: 0;text-align: center; line-height: 1rem;}
.mbsc-ios.mbsc-calendar .mbsc-fr-persp .mbsc-fr-w{background: #fff;  }
.mbsc-ios .mbsc-sc-whl-o, .mbsc-ios.mbsc-calendar .mbsc-sc-whl-o,.mbsc-ios.mbsc-fr-top .mbsc-sc-whl-o, .mbsc-ios.mbsc-fr-bottom .mbsc-sc-whl-o{background: none;}
.mbsc-ios .mbsc-fr-btn-w.mbsc-fr-btn-s .mbsc-fr-btn{color: #FFAE00; padding:0 .55rem;}
.mbsc-ios .mbsc-fr-btn-w.mbsc-fr-btn-c .mbsc-fr-btn{color: #999;  padding:0 .55rem;}
.mbsc-ios .mbsc-fr-w {padding-top: 1rem;}
.mbsc-ios .mbsc-range-btn-sel .mbsc-range-btn .mbsc-range-btn-v{font-weight: bold; color: #FFAE00; font-size: .36rem; }
.mbsc-ios .mbsc-range-btn{height: 100%; box-sizing: border-box;}
.mbsc-ios .mbsc-range-btn-v{font-weight: bold; font-size: .36rem;}
.mbsc-ios .mbsc-range-btn-sel .mbsc-range-btn .mbsc-range-btn-v:after{content: ''; display: block; width: .2rem; height: .2rem; background: url(../images/arr_d2.png) no-repeat center; background-size: cover; position: absolute; bottom: 0; left: 0; right: 0; margin: auto;}
.mbsc-ios .mbsc-range-btn-t::before{content: '至'; font-size: .26rem; color: #666 ; line-height: 1rem; left: 50%;  transform: translate(-50%, 0); position: absolute; z-index: 9;}
.mbsc-ios .mbsc-dt-whl-d .mbsc-sc-itm, .mbsc-ios .mbsc-dt-whl-h .mbsc-sc-itm, .mbsc-ios .mbsc-dt-whl-date .mbsc-sc-itm{text-align: center;}
.mbsc-ios .mbsc-dt-whl-m .mbsc-sc-itm{text-align: center;}
.mbsc-ios .mbsc-sc-itm{font-size: .3rem; font-weight: normal !important; }
/* .mbsc-ios .mbsc-sc-itm-sel{border-bottom: solid 1px #f5f5f7; border-top: solid 1px #f5f5f7; font-size: .32rem; font-weight: bold !important; } */
.mbsc-fr-aria.mbsc-fr-hdn{position: absolute;z-index: 1;left: 0;right: 0;top: 0; pointer-events: none;line-height: 1rem; color: #999; font-size: .28rem; height: 1rem !important; width: 100% !important;}
.mbsc-ios .mbsc-sc-whl-w .mbsc-sc-whl-l{display: block !important; border-color: #f5f5f7 !important;}
.mbsc-ios .mbsc-fr-w{background: #fff;}
.mbsc-fr-persp{height: auto !important;}
.mbsc-fr-popup.mbsc-ltr{top: auto !important; bottom: 0;}


.huoniao_iOS .headbox{padding-top: .5rem;}
.huoniao_iOS  .headbox .htitle{top: .5rem;}
.huoniao_iOS #formSumbmit{padding-top: 1.38rem}
.huoniao_iOS .content_box .menu_box,.huoniao_iOS  .content_box{padding-top: 2.18rem}
.huoniao_iOS .content_box .list_box .fenlei_dl dt{top: 2.16rem}


/* 图片预览 */
.swiper-box{position: fixed; top: 0; left: 0; right: 0;bottom: 0; background-color: #000; z-index: 5; }
.swiper-box .headbox{color: #fff; font-size: .32rem; position: absolute; top: 0; left: 0; right: 0;}
.swiper-box .headbox .htitle{z-index: 2;}
.swiper-box .swiper-container{height: 100%; width: 100%;}
.swiper-box .swiper-container img{max-height: 100%; max-width: 100%; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto;}
.swiper-box .del_img{width: .88rem; height: .88rem; background: url(../images/del_white.png) no-repeat center; background-size: .5rem; position: relative; z-index: 3;}
.swiper-box  .pagenation{position: absolute; left: 0;right:  0; bottom: .68rem; margin: auto; text-align: center; color: #fff; font-size: .22rem; font-weight: bold; z-index: 9;}
.swiper-box  .pagenation .swiper-pagination-current{font-size: .4rem;}
.swiper-box .set_btn{color: #202021; font-size: .28rem; position: absolute; left: .3rem; bottom: .6rem; line-height: .68rem; border-radius: .34rem; display: block; text-align: center; min-width: 1.6rem; box-sizing: border-box; padding: 0 .24rem; box-shadow: 0px -.03rem .13rem 0 rgba(0, 0, 0, 0.06); background-color: rgba(255,255,255,.9); z-index: 5;}


/*删除 弹出层*/
.delMask{position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,.57);z-index: 999;display: none;}
.delMask.show{display: block;}
.delAlert{position: fixed;top: 50%;left: 0;right: 0;z-index: 1000;overflow: hidden;height: 2.8rem;margin-top: -1.4rem;text-align: center;display: none;pointer-events: none; transform-origin: center !important; -webkit-animation: popup .3s ease-out; -moz-animation: popup .3s ease-out; animation: popup .3s ease-out;}
.delAlertCon{background: #fff;box-shadow:0px 7px 37px 0px rgba(0, 0, 0, 0.13);border-radius:.3rem;min-width: 4.8rem;display: inline-block;pointer-events: auto ; overflow: hidden;}
.delAlertCon>div{padding: .55rem .4rem .48rem}
.delAlert h2.delTile{font-size: .32rem;font-weight: bold;text-align: center;}
.delAlert p{font-size: .24rem;color: #333;text-align: center;margin-top: .05rem}
.delAlert ul{border-top: 1px solid #f5f5f7;}
.delAlert ul li{float: left;width: 50%;box-sizing: border-box;height: .86rem;line-height: .86rem;font-size: .3rem;font-weight: bold;text-align: center;}
.delAlert ul li a{display: block;color: 000;}
.delAlert ul li a.sureDel{color: #3B7CFF}
.delAlert ul li a:active{background-color: #f5f5f5;}
.delAlert ul li.firLi{border-right: 1px solid #f5f5f7}

/* 属性编辑 */
.addProp{color: #7C7C80; width: 2.2rem; line-height: .64rem; border: solid 1px #B1B1B3; border-radius: .06rem; display: block; margin: auto; text-align: center; margin-top: .4rem;} 
.propBox{padding-bottom: .5rem;}
.propBox dl .delProp{display: block; width: .3rem; height: .3rem; background: url(../images/del_btn.png) no-repeat center; background-size: cover; }
.propBox dt{display: flex; align-items: center ; justify-content: space-between; border-bottom: solid 1px #f5f5f7;}
.propBox dt .left_box{display: flex; align-items: center;  }
.propBox dt .right_box{display: flex; align-items: center; padding-right: .3rem;position: relative; justify-content: flex-end; color: #999}
.propBox dt .right_box:after{content: ''; display: block; width: .24rem; height: .24rem; background: url(../images/arr_r.png) no-repeat center; background-size: cover; position: absolute; right: 0; top: 0; bottom: 0; margin: auto; }

.propBox dt input{border: none; color: #202021; font-size: .32rem; font-weight: bold; width: 4rem; text-align: left; height: 1rem; margin-left: .12rem;}
.propBox dt input::placeholder{color: #C6C7CC; font-weight: 500;}
.propBox dt input.maxchoose{font-size: .26rem; font-weight: normal; width: .4rem; text-align: right;}
.propBox dl dd.add_btn{color: #7C7C80; width: 2.2rem; line-height: .64rem; border: solid 1px #B1B1B3; border-radius: .06rem; display: block; text-align: center; margin: .18rem 0;} 
#formSumbmit .propBox dl.catybox{padding-bottom: .2rem;}
.propBox dl .prop_value{display: flex; align-items: center; justify-content: space-between;}
.propBox dl .prop_value .inpArr{display: flex; align-items: center; height: 1rem;}
.propBox dl .prop_value .inpArr label{color: #7C7C80;font-weight: 500;margin-right: .1rem; font-size: .3rem;}
.propBox dl .prop_value input{border: none; font-size: .34rem; max-width: 2.5rem;}
.propBox dl .prop_value input::placeholder{color:#c6c7cc ; font-size: .24rem;}
.propBox dl .prop_value .prop_price{max-width: 1.8rem;}
.propBox dl .prop_value .del{display: block; width: .4rem; height: .4rem; background: url(../images/del.png) no-repeat center; background-size: .4rem;}
.abox{visibility: hidden;}
.mbsc-ios.mbsc-sel .mbsc-fr-w .mbsc-fr-hdr{display: block; padding-top: .34rem; }

.progress { position: absolute; right: 4px; bottom: 4px; height: 3px; left: 4px; height: 4px; overflow: hidden; z-index: 15; margin: 0; padding: 0; border-radius: 0; background: transparent; }

.progress span { display: block; overflow: hidden; width: 0; height: 100%; background: #499c00 url('/static/js/webuploader/progress.png') repeat-x; -webit-transition: width 200ms linear; -moz-transition: width 200ms linear; -o-transition: width 200ms linear; -ms-transition: width 200ms linear; transition: width 200ms linear; -webkit-animation: progressmove 2s linear infinite; -moz-animation: progressmove 2s linear infinite; -o-animation: progressmove 2s linear infinite; -ms-animation: progressmove 2s linear infinite; animation: progressmove 2s linear infinite; -webkit-transform: translateZ(0); }

@-webkit-keyframes progressmove {
  0% {background-position: 0 0;}
  100% {background-position: 17px 0;}
}
@-moz-keyframes progressmove {
  0% {background-position: 0 0;}
  100% {background-position: 17px 0;}
}
@keyframes progressmove {
  0% {background-position: 0 0;}
  100% {background-position: 17px 0;}
}


/* 属性图片 */
.propBox dl .prop_value .del{flex-shrink: 0;}
.propBox dl .prop_value .inpArr label{white-space: nowrap;}
.picbox{width: .54rem; height: .54rem; background: #FFFFFF; border-radius: .06rem; border: 1px solid #B1B1B2; margin-right: .2rem; position: relative;}
.picbox input[type="file"]{position: absolute; left: 0; right: 0; top: 0; bottom: 0; opacity: 0; z-index: 1;}
.picbox img{width: 100%; height: 100%; object-fit: cover; border-radius: .06rem; background-color: #fff;}
.picbox {background: url(../images/img_icon.png) no-repeat center/.32rem #fff;}
.prop_value .inpbox{display: flex; align-items: center;}
.prop_value .inpbox input{min-width: 0; flex-grow: 1; width: 100%;}