[v-cloak]{
    display: none !important;
}
body,html{background-color: #F5F5F7;}
.top_box {position: absolute; left: 0; right: 0; top: 0; z-index: 5;  }
.top_box .headbox{background-color: #24262B; color: #fff; display: flex; justify-content: space-between; height: .88rem; line-height: .88rem; padding-right: .34rem; align-items: center; position: relative;}
.top_box .headbox  .h_url{position: relative; z-index: 1; color: #fff;}
.top_box .headbox a{position: relative; z-index: 3;}
.top_box .headbox .htitle{font-size: .32rem; color: #fff; font-weight: bold; position: absolute; left: 0; right: 0; top: 0; bottom: 0; text-align: center;}
.top_box .headbox .back_btn{width: .88rem; height: .88rem; background: url(../images/header_back_index.png) no-repeat center; background-size: .4rem auto; position: relative; z-index: 3;}
.top_box .headbox .changeorder{color: #fff; font-size: .3rem;}

#submitBox{padding-top: .88rem;}
.desk_list .desk_li{margin:.28rem .3rem 0; background-color: #fff; border-radius: .16rem; box-shadow: 0 .03rem .1rem 0 rgba(0, 3, 18, 0.03); height: 2rem;}
.desk_list .desk_li .desk_info{display: flex; align-items: center; justify-content: space-between; padding: .3rem .3rem .35rem .35rem; }
.desk_list .desk_li .desk_info input,.desk_list .desk_li .desk_info h3{font-size: .36rem; font-weight: bold; color: #1A1B21; border: none;}
.desk_list .desk_li .desk_info input::placeholder{color: #C6C7CC; font-weight: 500;}
.desk_list .desk_li .desk_info .del{color: #949599; font-size: .24rem; display: flex; align-items: center; }
.desk_list .desk_li .desk_info .del::before{content: ''; display: block; width: .3rem; height: .3rem; background:url(../images/del_1.png) no-repeat center; background-size: cover; margin-right: .05rem;}

.desk_list .desk_li .btns_group{ display: flex; align-items: center; justify-content: flex-end;}
.desk_list .desk_li .btns_group a{display: block; height: .64rem; font-size: .26rem; border-radius: .08rem; line-height: .62rem; margin-right: .3rem; min-width: 1.7rem; box-sizing: border-box; padding: 0 .2rem; text-align: center;}
.desk_list .desk_li .btns_group a.edit{border: solid 1px #B1B1B3; color: #5F6066;}
.desk_list .desk_li .btns_group a.erCode{border: solid 1px #FFAE01; color: #FFAE00;}
.desk_list .desk_li .btns_group a.sureChange{width: 1.5rem; background-color: #FCBF1C; color: #fff;border: solid 1px #FCBF1C;}

.add_type,.save_btn{margin: .8rem .3rem; height: .8rem;background: linear-gradient(-90deg, #FFAE00 0%, #FCC01C 100%); border-radius: .4rem; color: #fff; font-size: .3rem; display: block; border: none; width: 6.9rem; font-weight: bold; display: flex; align-items: center; justify-content: center;}
.add_type::before{content: ''; display: inline-block; width: .4rem; height: .4rem; background: url(../images/add_1.png) no-repeat center; background-size: cover; margin-right: .1rem; }
.btn_box{position: fixed; bottom: 0; left: 0; right: 0; background-color: #f5f5f7;}
body{padding-bottom: 2.4rem;}
.btn_box .add_type,.btn_box .save_btn{margin-top: .4rem;}
.loading_icon{display: block; width: 1.1rem; height: 1.1rem; border-radius: .3rem;  background: rgba(0,0,0,.9) ; background-size: .5rem; position: fixed; left: 0; right: 0; margin: auto; top: 50%; z-index: 9;}
.loading_icon::before{content: ''; background: url(../images/loading.png) no-repeat center; background-size: .5rem; position: absolute; left: 0; right: 0; margin: auto; top: 0; bottom: 0; animation:rotate_ 1s infinite linear;}
.loadtip{text-align: center; font-size: .26rem; color: #ccc; padding: .2rem;}
@font-face {
	font-family: moneyNumber;
	src: url('/static/fonts/coregtd6.otf'),
		url('/static/fonts/coregtd6.TTF'),
		url('/static/fonts/coregtd6.svg'),
		 url('/static/fonts/coregtd6.woff'); /* IE9 */
}

@keyframes rotate_{
	0%{ transform: rotate(0deg);}
	50%{ transform: rotate(180deg);}
	100%{ transform: rotate(360deg);}
}


.eqcode_mask{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,.9); z-index: 6;}
.eqcode_mask i{display: block; width: .5rem; height: .5rem; position: absolute; top: 1.06rem; right: .5rem; background: url(../images/close_btn.png) no-repeat center; background-size: cover;}
.erCode_box{position: fixed; left: 0; right: 0; top: 0; bottom: 0; margin: auto; width: 4.6rem; height: 4.6rem; border-radius: .16rem; background-color: #fff; padding: .3rem; box-sizing: border-box; z-index: 6; animation: popup .3s ease-in-out;}
.erCode_box h3{position: absolute; left: 0; right: 0; top: -.9rem; color: #808080; font-size: .36rem; text-align: center; font-weight: bold;}
.erCode_box img{display: block; width: 100%; height: 100%; object-fit: cover;}
.erCode_box h3 em{color: #fff; font-weight: bold;}
.erCode_box p{ position: absolute; left: 0; right: 0; bottom: -.78rem; color: #fff; text-align: center;}

/* 错误提示1 */
.popErr {position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 100001; visibility: hidden;}
.popErr p {position: fixed; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: .3rem; line-height: 1.4; text-align: center; padding: .24rem .2rem; z-index: 9999; left: 0; top: 50%; margin-top: -.2rem;}
.disabled{pointer-events: none !important;}
/* 删除确认提示 */
.comfirm_mask{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,.5);}
.comfirm_box{position: fixed; bottom: 0; left: 0; right: 0;}
.comfirm_box dl{margin: 0 .3rem; border-radius: .3rem; background-color: #fff; height: 2.1rem;}
.comfirm_box dt{background-color: #F5F5F7; border-radius: .3rem .3rem 0 0; text-align: center; font-size: .26rem; color: #999; line-height: .9rem;}
.comfirm_box dd{font-size: .34rem; color: #FFAE00; font-weight: bold; line-height: 1.2rem; text-align: center;}
.comfirm_box .cancel_btn{margin: 0 .3rem; height: 1.2rem; background-color: #fff; border-radius: .3rem; text-align: center; line-height: 1.2rem; font-weight: bold; font-size: .34rem; margin-top: .2rem; margin-bottom: .5rem;}


.huoniao_iOS .headbox{padding-top: .5rem;}
.huoniao_iOS .top_box .headbox .htitle{top: .5rem;}
.huoniao_iOS .typeList,.huoniao_iOS.desk_list,.huoniao_iOS #submitBox{padding-top: 1.38rem}
.huoniao_iOS #submitForm{margin-top: 1.58rem}


#submitBox .detail_box.noMar{margin-top: 0; height: 1.4rem;}
#submitBox .detail_box{background-color: #fff; padding: 0 .36rem; margin-top: .2rem; position: relative;}
#submitBox .detail_box  label{color: #202021; font-size: .3rem; display: flex; align-items: center; font-weight: bold;}
#submitBox .left_label p{color: #ADAEB3; font-size: .22rem; font-weight: normal; margin-top: .08rem;}
#submitBox .detail_box .inpbox{display: flex; align-items: center; justify-content: space-between;}
#submitBox .detail_box .inpbox.more_h{height: 1.2rem;}
#submitBox .detail_box .inpbox.more_hi{height: 1.6rem;}
#submitBox .detail_box .inpbox .switch{display: block; width: 1rem; height: .56rem; border-radius: .28rem; box-shadow: 0 0 .07rem 0 rgba(92, 35, 0, 0.13) inset; position: relative; background-color: #B1B1B3;}
#submitBox .detail_box .inpbox .switch::before{content: ''; display: block; width: .5rem; height: .5rem; background: #fff; border-radius: 50%;box-shadow: 0 .05rem .07rem 0 rgba(56, 56, 59, 0.23); position: absolute; top: 0; bottom: 0; margin: auto ; left: .03rem; transition: left .3s;}
#submitBox .detail_box .inpbox{height: 1rem; border-bottom: solid 1px #f5f5f7;}
#submitBox .detail_box .inpbox.selectinp{position: relative; padding-right: .2rem;}
#submitBox .detail_box .inpbox.selectinp::after{content: ''; display: block; width: .24rem; height: .24rem; background: url(../images/arr_r.png) no-repeat center; background-size: cover; position: absolute; right: 0; top: 0; bottom: 0; margin: auto;}
#submitBox .detail_box .inpbox:last-child{border: none;}
#submitBox .detail_box .del_btn{display: block; width: .3rem; height: .3rem; background: url(../images/del_btn.png) no-repeat center; background-size: cover; position: absolute; left: .25rem; top: .35rem;}
#submitBox .detail_box .select input{width: 1.4rem; font-size: .3rem; text-align: center !important; font-weight: normal!important;}
#submitBox .detail_box .inpbox.normal input{text-align: left;}
#submitBox .detail_box .inpbox input{border: none; color: #202021; font-size: .32rem; font-weight: bold; text-align: right; }
#submitBox .detail_box .inpbox input::placeholder{color: #C6C7CC; font-weight: 500;}
#submitBox .detail_box .inpbox .switch.active{background: linear-gradient(-90deg, #FFAE00 0%, #FCBF1C 100%); }
#submitBox .detail_box .inpbox .switch.active::before{left: .47rem;}
#submitBox .detail_box.arr_box{padding-left: .7rem;}
.add_btn{color: #7C7C80; width: 2.2rem; line-height: .64rem; border: solid 1px #B1B1B3; border-radius: .06rem; display: block; margin: auto; text-align: center; margin-top: .4rem;} 
#submitBox .left_label{max-width: 4.8rem;}
#submitBox .left_label.all_show{min-width: 100%;}
#submitBox .left_label.all_show p{font-size: .24rem;}
#submitBox .left_label.all_show p span{color: #FFAE00;}
#submitBox .detail_box{overflow: hidden;}
#submitBox .detail_box .li_inp,#submitBox .detail_box .inp{display: flex; align-items: center;}
#submitBox .detail_box .li_inp .del{width: .36rem; height: .36rem; background: url(../images/del_btn.png) no-repeat center; background-size: cover;}
#submitBox .detail_box .li_inp{border-bottom:solid 1px #f5f5f7 ;}
#submitBox .detail_box .inp{margin-left: .16rem;}
#submitBox .detail_box .li_inp .inpbox{width: 50%; min-width: 2.5rem; justify-content: flex-start; margin-right: .1rem; border: none;}
#submitBox .detail_box .li_inp .inpbox label{color: #7C7C80; font-weight: 500; margin-right: .1rem;}
#submitBox .detail_box .li_inp .inpbox input{width: 2rem; font-size: .36rem; text-align: left;}
#submitBox .detail_box .li_inp .inpbox input::placeholder{font-size: .26rem;}
#submitBox .detail_box .add_btn{margin:.18rem 0;}
#submitBox .detail_box .right_inp{color: #202021; font-size: .3rem; font-weight: bold;}
#submitBox .detail_box .right_inp input{ margin-right: .06rem;}
#submitBox .detail_box .light.inpbox label{color: #7C7C80; font-weight: 500;}
#submitBox .detail_box .inpbox.selectinp input{padding-right: .06rem;}
#submitBox .detail_box .inpbox.only input{width: 100%;}


/* 配送 */
#submitBox .tabBox{padding: 0;}
#submitBox .tabBox .tab_ul{display: flex; align-items: center; background-color: #EBEBED;}
#submitBox .tabBox .tab_li{width: 48.2%; color: #202021; font-size: .3rem; text-align: center; opacity: .3; line-height: 1rem; font-weight: bold;}
#submitBox .tabBox .tab_li span{position: relative; z-index: 3;}
#submitBox .tabBox .tab_li.active_li{width: 51.8%; opacity: 1; position: relative;}
#submitBox .tabBox .tab_li.active_li:after{width: 100%; height: 100%; content: ''; display: block; position: absolute;background-color: #fff; top: 0; left: 0; right: 0; z-index: 0;} 
#submitBox .tabBox .tab_li:first-child.active_li:after{transform:  scaleY(1.1) perspective(.3em) rotateX(.4deg); transform-origin: bottom left;  border-radius: 0 .1rem 0 0;}
#submitBox .tabBox .tab_li:last-child.active_li:after{transform:  scaleY(1.1) perspective(.3em) rotateX(.4deg); transform-origin: bottom right;  border-radius: .1rem 0  0 0;}
#submitBox .tabBox .tab_con .con{margin: 0 .3rem; padding-top: .3rem;}
#submitBox .tabBox .tab_con p{color: #4A4B4D; font-size: .22rem; line-height: .3rem; margin-bottom: .13rem;}
#submitBox .tabBox .tab_con .inpbox .left_inp{color: #202021; font-size: .3rem; font-weight: bold;}
#submitBox .tabBox .tab_con .inpbox .left_inp input{width: 2.1rem; padding-left: .12rem;}
#submitBox .tabBox .tab_con .juli_con{margin: 0;}
#submitBox .tabBox .tab_con .juli_con p{margin: 0 .3rem; margin-bottom: .13rem;}
#submitBox .tabBox .tab_con .juli_con .inpbox input{width: 1.5rem; font-size: .3rem; padding: 0 .1rem;}
#submitBox .tabBox .tab_con .juli_con .inpArr{font-size: .3rem; color: #202021; font-weight: bold;}
#submitBox .tabBox .tab_con .juli_con .detail_box{border-top: solid .2rem #f5f5f7; margin-top: 0; padding-left: .7rem;}
#submitBox .tabBox .tab_con .juli_con .detail_box:first-of-type{border: none;}



.add_group{display: flex; align-items: center; justify-content: center;}
.add_group .add_btn{margin: 0 .15rem; margin-top: .4rem;}

/* 预设选项 */
#submitBox .detail_box.tipShow .del{width: .36rem; height: .36rem; background: url(../images/del_2.png) no-repeat center/cover; position: absolute; left: .22rem; top: .32rem;}
#submitBox .detail_box .inpbox .del_btn{position: static;}
#submitBox .detail_box .inpbox .left_input{display: flex; align-items: center; }
#submitBox .detail_box .inpbox .left_input input {padding-left: .24rem; font-size: .3rem;}
#submitBox .detail_box .inpbox .left_input label{font-size: .3rem; color: #7C7C80; font-weight: 500;}
.add_btn.sm_btn{width: 2rem;}
#submitBox .detail_box  .tipbox{border-radius: .3rem; background-color: #F2F7FF; padding: .2rem .28rem; margin-bottom: .3rem; display: flex; font-size: .24rem ; color: #313233;}
#submitBox .detail_box  .tipbox ul{margin-left: .24rem;}
#submitBox .detail_box  .tipbox li{display: flex; align-items: center; margin-bottom: .12rem;}
#submitBox .detail_box  .tipbox li label{font-size: .24rem; margin-right: .15rem;}
#submitBox .detail_box  .tipbox li p{color: #7C7C80; font-weight: 500;}
#submitBox .detail_box.tipShow .inplist{padding-left: .4rem; margin-bottom: .2rem;}
#submitBox .detail_box.tipShow .add_btn{margin-left: .4rem;}
#submitBox .detail_box.tipShow .inplist .inpbox .tip{color: #C6C7CC; font-size: .24rem;}
#submitBox .detail_box .inplist .inpbox:last-child{border-bottom: solid 1px #EBEBED;}
.bottom_fixed{position: fixed; bottom: 0; left: 0; right: 0; background-color: #f5f5f7;}
.bottom_btns{margin-top: 6rem;}
.trggle_mob input[type='text']{display: none;}

.fullScreen{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: #fff;}

.fullScreen #submitBox .detail_box.noMar{height: auto; padding-top: .6rem;}
.fullScreen #submitBox .detail_box.noMar label{margin-bottom: .3rem;}
.fullScreen #submitBox .detail_box.noMar .ptop{height: auto;}
.fullScreen #submitBox .detail_box.noMar .ptop p{line-height: .36rem;}