body{background: #F5F5F7; min-height: 100vh;}
#page{padding-bottom: 1.5rem; }
.top_box {position: fixed; left: 0; right: 0; top: 0; z-index: 5;  background-color: #24262B;}
.top_box .headbox{background-color: #24262B; color: #fff; display: flex; justify-content: space-between; height: .88rem; line-height: .88rem; padding-right: .34rem; align-items: center; position: relative;}
.top_box .headbox  .h_url{position: relative; z-index: 1; color: #fff;}
.top_box .headbox .htitle{font-size: .32rem; color: #fff; font-weight: bold; position: absolute; left: 0; right: 0; top: 0; bottom: 0; text-align: center;}
.top_box .headbox .back_btn{width: .88rem; height: .88rem; background: url(../images/header_back_index.png) no-repeat center; background-size: .4rem auto; position: relative; z-index: 3;}

.tab_box ul{display: flex; align-items: center; justify-content: space-between; padding: 0 .5rem; padding-right: .72rem; height: .8rem; position: relative;}
.tab_box ul li{color: #fff; font-size: .28rem; opacity: .6; text-align: center; position: relative; line-height: .9rem;}
.tab_box ul em{ height: .08rem; width: .52rem; border-radius: .04rem;box-shadow: 0 .05rem .2rem 0 rgba(254, 178, 7, 0.5); background-color: #FEB206; position: absolute;top: .72rem; transition: left .3s; left: 0; transform: translate(-50%, 0);}
.tab_box ul li span{color: #B1B1B3; font-size: .24rem; position: absolute; top: 0; bottom: 0; right: -.1rem; transform: translateX(100%);}

.rloading{display: none;}
.ListBox{padding-top: 1.68rem; z-index: 4;position: relative; }
.quan_li{margin: 0 .25rem; background: #fff; margin-top: .22rem; border-radius: .2rem .2rem 0 0;}
.quan_li .qDetail{padding: .28rem; display: block; position: relative; border-bottom: dashed .02rem #eee;}
.quan_li .qDetail::after,.quan_li .qDetail::before{content: ''; display: block; width: .26rem; height: .26rem; background: #F5F5F7; position: absolute; left: -.13rem; bottom: -.13rem; border-radius: .14rem;}
.quan_li .qDetail::after{right: -.13rem; left: auto;}
.quan_li.hasNone .qDetail h2 span{background: #FF5C50;}
.quan_li.releasing .qDetail h2 span{background: #FEB60D;}
.quan_li.hasEnd .qDetail h2 span{background: #9396A4;}
.quan_li .qDetail h2{font-size: .34rem; font-weight: bold; color: #1A1B21; align-items: center; line-height: .4rem; margin-bottom: .18rem; max-width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.quan_li .qDetail h2 span{font-size: .2rem; color: #fff; display: inline-block; line-height: .4rem; border-radius: .06rem; min-width: .9rem; text-align: center; box-sizing: border-box; padding: 0 .16rem; margin-right: .18rem; font-weight: normal; vertical-align: middle;}
.quan_li .qDetail p{font-size: .24rem; color: #999; line-height: .5rem;}

.quan_li .quanOpBox{height: .94rem; background: #f5f5f7 url(../images/quanline.png) no-repeat center/auto .94rem; display: flex; align-items: center; justify-content: flex-end;}
.quan_li .quanOpBox a{ display: block; padding:0 .56rem; color: #FFAE00; font-size: .28rem; position: relative;}
.quan_li .quanOpBox a::before{content: ''; display: block; width: 1px; background-color: #ddd; height: .28rem; position: absolute; left: 0; top: 0; bottom: 0; margin: auto;}
.quan_li .quanOpBox a:first-child::before{display: none;}
.loading_tip{text-align: center; padding: .6rem; color: #999; font-size: .26rem;}
.loading_icon{display: block; width: 1.1rem; height: 1.1rem; border-radius: .3rem;  background: rgba(0,0,0,.9) ; background-size: .5rem; position: fixed; left: 0; right: 0; margin: auto; top: 50%; z-index: 9;}
.loading_icon::before{content: ''; background: url(../images/loading.png) no-repeat center; background-size: .5rem; position: absolute; left: 0; right: 0; margin: auto; top: 0; bottom: 0; animation:rotate_ 1s infinite linear;}
.btn_new{display: flex; margin: 0 .3rem; height: .8rem; background: linear-gradient(-90deg, #FFAE00 0%, #FCBF1C 100%);  align-items:  center; justify-content: center; font-size: .3rem; color: #fff; font-weight: bold;  border-radius: .4rem;}
.btn_new::before{content: ''; display: block; width: .4rem; height: .4rem; background: url(../images/add_1.png) no-repeat center/cover; margin-right: .04rem;}
.btnsbox{position: fixed; left: 0; right: 0; bottom: 0; background: #f5f5f7; padding: .2rem 0 .5rem; z-index: 4}
.quanConfirm .delTile{margin-bottom: .2rem;}
.huoniao_iOS .top_box{padding-top: .88rem;}
.huoniao_iOS .ListBox{padding-top: 2.56rem;}
@keyframes rotate_{
	0%{ transform: rotate(0deg);}
	50%{ transform: rotate(180deg);}
	100%{ transform: rotate(360deg);}
}
