.top_box {position: absolute; left: 0; right: 0; top: 0; z-index: 3; height: 2.6rem; background: #24262B; }
.top_box .headbox{background-color: #24262B; color: #fff; display: flex; justify-content: space-between; height: .88rem; line-height: .88rem; align-items: center; position: relative;}
.top_box .headbox  .h_url{position: relative; z-index: 1;}
.top_box .headbox .htitle{font-size: .32rem; color: #fff; font-weight: bold; position: absolute; left: 0; right: 0; top: 0; bottom: 0; text-align: center;}
.back_btn{width: .88rem; height: .88rem; background: url(../images/header_back_index.png) no-repeat center; background-size: .4rem auto; position: relative; z-index: 3;}

.page_box{padding-top: .88rem; padding-bottom: 1.6rem;}
.page_box .shai_box{background-color: #24262B; color: #fff; min-height: 2.4rem; position: relative; z-index: 3;}
.page_box .shai_box .timeChose{display: flex; align-items: center;justify-content: space-evenly; padding-top: .5rem;}
.page_box .shai_box .timeChose b{background: none; border: none; color: #fff; font-size: .32rem; font-weight: bold; }
.page_box .shai_box .timeChose input{position: absolute; left: 0; top: 0; right: 0; bottom: 0; opacity: 0;}
.page_box .shai_box .timeChose .timebox{position: relative;}
.page_box .shai_box .timeChose em{color: #9CA0A9; font-size: .28rem;}
.page_box .shai_box .timeChose .timebox::after{content: ''; display: inline-block; width: .2rem; height: .2rem; background: url(../images/arr_d4.png) no-repeat center ; background-size: cover; margin-left: .08rem;}

.shai_btn{border: none; background: linear-gradient(-90deg, #FFAE00 0%, #FCBF1C 100%); height: .8rem; border-radius: .4rem; color: #1D1E21; font-size: .28rem; line-height: .8rem; display: block; width: 6.9rem; margin: auto ; margin-top: .58rem; font-weight: bold;}


.loading{display: block; width: 1.1rem; height: 1.1rem; border-radius: .3rem;  background: rgba(0,0,0,.9) ; background-size: .5rem; position: fixed; left: 0; right: 0; margin: auto; top: 50%; z-index: 9;}
.loading::before{content: ''; background: url(../images/loading.png) no-repeat center; background-size: .5rem; position: absolute; left: 0; right: 0; margin: auto; top: 0; bottom: 0; animation:rotate_ 1s infinite linear;}


@keyframes rotate_{
	0%{ transform: rotate(0deg);}
	50%{ transform: rotate(180deg);}
	100%{ transform: rotate(360deg);}
}

@font-face {
	font-family: moneyNumber;
	src: url('/static/fonts/coregtd6.otf'),
		url('/static/fonts/coregtd6.TTF'),
		url('/static/fonts/coregtd6.svg'),
		 url('/static/fonts/coregtd6.woff'); /* IE9 */
}



.mbsc-fr-btn-cont{display: flex; align-items: center; flex-direction: row-reverse; justify-content: space-between;}

.countBox{position: relative; z-index: 4;}
.countBox .countShow{margin-top: -.64rem;}
.countBox .countShow .count_box{margin: 0 .3rem; border-radius: .3rem; background-color: #F2F7FF; display: flex; align-items: center; justify-content: space-around; height: 1.6rem; margin-bottom: .22rem; text-align: center; font-size: .22rem; color: #999;}
.countBox .countShow .count_box h5{font-family: moneyNumber; font-size: .36rem; color: #1D1E21; font-weight: bold;}
.countBox .countShow .count_box .fail h5{color: #FF5262;}
.countBox .countShow .link_to{display: flex;align-items: center; justify-content: center; margin:0 .3rem ; height: 1rem; background-color: #fff; border-radius: .3rem; color: #99721F;box-shadow: 0 .05rem .27rem 0 rgba(0, 0, 0, 0.08);}
.countBox .countShow .link_to::after{content: '';display: block; width: .24rem; height: .24rem; background: url(../images/arr_c.png) no-repeat center; background-size: cover;}

.countBox .countTable{margin-top:.4rem ;}
.countBox .countTable>h6{color: #949599; font-weight: bold; font-size: .28rem; padding-left: .3rem; margin-bottom: .34rem;}
.tabelbox .table{overflow-x: auto; position: relative;}
.tabelbox>p{font-size: .24rem; color: #999; line-height: .68rem; background-color: #F5F5F7; padding-left: .26rem;}
.tabelbox>p::before{content: ''; display: inline-block; width: .1rem; background-color: #56B7F5; height: .1rem; border-radius: .05rem; margin-right: .06rem; vertical-align: middle;}
/* 表格 */
/* .tabelbox .thead{ background-color: #E8F6FF; overflow: visible;} */

.tabelbox .thead ul{display: -webkit-box; position: relative; z-index: 1; border-bottom: solid 1px #E6E7ED; width: fit-content;background-color: #E8F6FF;border-radius: .3rem 0 0 0;}
.tabelbox .thead ul li:first-child{border-radius: .3rem 0 0 0; font-size: .32rem; background-color: #E8F6FF; }
.tabelbox .thead ul li{width: 1.7rem; height: 1.18rem;  text-align: center; font-size: .28rem; font-weight: bold; color: #000; display: flex; align-items: center; justify-content: center; flex-direction: column;}
.tabelbox .thead ul li p{color: #999;}
.tabelbox .thead ul li.date_h,.tabelbox .tbody ul li.datatime{width: 1.4rem; font-weight: bold;}
.tabelbox .thead ul li.data_l1,.tabelbox .tbody ul li.data_l1{width: 1.2rem;}
 ::-webkit-scrollbar {
  display: none;
}
.tabelbox ul li:first-of-type{ left: 0;position: sticky; }
.tabelbox ul li:first-of-type::after{content: ''; width: 1rem; background:linear-gradient(90deg,rgba(0,0,0,.08) 0%, rgba(0,0,0,0) 50%) ; position: absolute; right: -1rem; top: 0; bottom: 0;}
.tabelbox .tbody ul{display: -webkit-box; width: fit-content;}
.tabelbox .tbody ul li{width: 1.7rem; height: .78rem;text-align: center; font-size: .28rem;  color: #000; display: flex; align-items: center; justify-content: center; flex-direction: column; border-left: solid 1px #E6E7ED;box-sizing: border-box; font-weight: normal; background-color: #fff;}
.tabelbox .tbody ul li:first-of-type{border: none;}
.tabelbox .tbody ul:nth-of-type(2n) li{background-color: #F5F5F7; }

/* 底部 */
.bottom_box{position: fixed; bottom: 0; left: 0; right: 0; padding-bottom:calc(-.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.3rem + env(safe-area-inset-bottom)); background: #fff; padding-top: .16rem; height: .88rem; z-index: 5;}

.bottom_box ul{display: flex; align-items: center; justify-content: space-between; padding: 0 .44rem;}
.bottom_box ul li{width: .8rem; height: .8rem; text-align: center; font-size: .26rem;}

.bottom_box li .img{width: .48rem; height: .48rem; margin: auto;}
.bottom_box li .img img{width: 100%; height: 100%; object-fit: cover;}
.bottom_box li.onTab p{color: #FFAE00;}
.bottom_box li.bigimg .img{width: 100%; height: 100%;}

.huoniao_iOS .top_box {padding-top: .6rem;}
.huoniao_iOS .shai_box{margin-top: .6rem}
html{height: 100%;}
body{min-height: 100%;padding-bottom: 1.5rem; }