body{padding-bottom: 0 !important;}
.top_box .headbox{background-color: #24262B; color: #fff; display: flex; justify-content: space-between; height: .88rem; line-height: .88rem; /* padding: 0 .34rem; */ align-items: center; position: relative;}
.top_box .headbox .htitle{font-size: .32rem; color: #fff; font-weight: bold; position: absolute; left: 0; right: 0; top: 0; bottom: 0; text-align: center;}
.top_box .headbox .back_btn{width: .88rem; height: .88rem; background: url(../images/header_back_index.png) no-repeat center; background-size: .4rem auto; position: relative; z-index: 3;}
.top_box .headbox a.oprint{color: #fff; padding-right: .24rem; position: relative; z-index: 4}
/*渲染成功之后才能显示*/
[v-cloak]{
    display: none;
}

.order_head{min-height: 1.5rem; background-color: #24262B; padding: 0 .3rem; padding-top: .12rem; box-sizing: border-box;}
.order_head .order_num,.order_head .order_state{display: flex;  align-items: center; justify-content: space-between;}
.order_head .order_num h3{color: #fff; font-family: moneyNumber; font-size: .28rem;}
.order_head .order_num h3 span{font-size: .64rem;}
.order_head .order_num p,.order_head .order_state p{color: #949599; font-size: .24rem;}
.order_head .order_num p span{font-weight: bold;}
.order_head .remarks,.order_head .ordernum{font-size: .26rem; color: #949599; margin-top: .2rem; min-height: 1.6rem;}
/* .order_head .remarks {padding-bottom: .6rem;} */
.order_head .remarks span{font-size: .4rem; font-weight: bold; color: #fff;}
.order_head .order_state h3{font-size: .56rem; font-weight: bold; color: #fff;}
.order_head .ordernum{min-height: 1rem;}


.orderDetailBox{background-color: #f5f5f7; margin-top: -.3rem; border-radius: .26rem .26rem 0 0;}
.orderDetailBox .odetailBox{background-color: #fff;box-shadow: 0 .03rem .25rem 0 rgba(0, 6, 33, 0.1);border-radius: .26rem;}


.orderDetailBox .odetailBox .pro_table dt{font-size: .26rem; color: #949599; display: flex; align-items: center; justify-content: space-between; line-height: 1rem;}
.orderDetailBox .odetailBox .pro_table dt .guige{display: block; width: 4.2rem;}
.orderDetailBox .odetailBox .pro_table{padding: 0 .3rem; padding-bottom: .1rem; border-bottom: dashed .02rem #EBEBED;}
.orderDetailBox .odetailBox .pro_table dd{display: flex; align-items: center; justify-content: space-between; margin-bottom: .2rem;}
.orderDetailBox .odetailBox .pro_table dd .pro_info{width: 4.3rem; display: flex; align-items: center; }
.orderDetailBox .odetailBox .pro_table dd .pro_info .pro_img{width: 1.2rem; height: 1.2rem; background-color: #f5f5f6; border-radius: .06rem; margin-right: .2rem; flex-shrink: 0;}
.orderDetailBox .odetailBox .pro_table dd .pro_info .pro_img img{width: 100%; height: 100%; object-fit: cover; border-radius: .06rem;}
.orderDetailBox .odetailBox .pro_table dd .pro_info .pro_name h3{width: 2.9rem; font-size: .3rem; color: #1A1B21; line-height: .36rem; font-weight: bold;  display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;word-break: break-all;}
.orderDetailBox .odetailBox .pro_table dd .pro_info .pro_name p{color: #43444C; font-size: .24rem; margin-top: .1rem; word-break: break-all;}
.orderDetailBox .odetailBox .pro_table dd .pro_num{font-size: .28rem; color: #43444C;}
.orderDetailBox .odetailBox .pro_table dd .pro_num.more{font-size: .36rem; color: #952EAB; font-weight: bold;}
.orderDetailBox .odetailBox .pro_table dd .pro_amount{font-size: .22rem; font-family: moneyNumber; font-weight: bold;}
.orderDetailBox .odetailBox .pro_table dd .pro_amount em{font-size: .3rem;}
.orderDetailBox .odetailBox .fee_table{padding-bottom: .17rem; border-bottom: dashed .02rem #EBEBED;}
.orderDetailBox .odetailBox .fee_table dt{display: flex; align-items: center;justify-content: space-between; padding: 0 .35rem; font-size: .26rem; line-height: .75rem; padding-top: .15rem;}
.orderDetailBox .odetailBox .fee_table dt .left_tit{width: 3.8rem; color: #43454D;}
.orderDetailBox .odetailBox .fee_table dt .p_count{font-size: .26rem; font-weight: bold; color: #962EAB;}
.orderDetailBox .odetailBox .fee_table dt .p_count b{font-size: .36rem;}
.orderDetailBox .odetailBox .fee_table dt .p_all{font-size: .22rem; font-family: moneyNumber; font-weight: bold;}
.orderDetailBox .odetailBox .fee_table dt .p_all em,.orderDetailBox .odetailBox .fee_table dd .right_det em{font-size: .28rem;}
.orderDetailBox .odetailBox .fee_table dd{line-height: .75rem; padding: 0 .36rem; display: flex; align-items: center; justify-content: space-between;}
.orderDetailBox .odetailBox .fee_table dd .left_tit{color: #43454D;}
.orderDetailBox .odetailBox .fee_table dd .right_det{font-size: .22rem; font-family: moneyNumber; font-weight: bold; color: #1A1B22;}
.orderDetailBox .odetailBox .fee_table dd.red .right_det{color: #F02438;}
.orderDetailBox .odetailBox .fee_table dd.red .right_det::before{content: '-'; display: inline; font-size: .28rem; font-weight: bold; }
.orderDetailBox .odetailBox .fee_table dd.red .right_det.jia::before{content: ''}
.orderDetailBox .odetailBox .fee_table:last-of-type{border-bottom: none;}
.orderDetailBox .odetailBox .fee_table dd.business .left_tit{font-size: .28rem; font-weight: bold;  color: #1A1B22;}

/* 顾客信息 */
.custom_detail,.peisong_detail{border-radius: .26rem; background-color: #fff; margin: .22rem 0; min-height: 2.8rem;box-shadow: .01rem .03rem .25rem 0 rgba(0, 6, 34, 0.1);}
.custom_detail h5,.peisong_detail h5{color: #959699; font-size: .26rem; padding: .3rem .35rem 0;}
.custom_detail .customer_info{padding:.28rem .32rem; /* border-bottom: dashed .02rem #EBEBED ; */}
.custom_detail .customer_info .customer_detail{display: flex; align-items: center; justify-content: space-between;}
.custom_detail .customer_info .customer_detail .customer_left h3{font-size: .4rem; color: #1A1B21; font-weight: bold; margin-bottom: .14rem;}
.custom_detail .customer_info .customer_detail .customer_left h3 span{color: #1A1B21; font-size: .28rem; font-weight: normal; margin-left: .1rem;}
.custom_detail .customer_info .customer_detail .customer_left p{font-size: .28rem; display: flex; align-items: center;}
.custom_detail .customer_info .customer_detail .customer_left p.address::after{display: none;}
.custom_detail .customer_info .customer_detail .customer_left p::after{content: ''; display: block; width: .24rem; height: .24rem; background: url(../images/arr_r.png) no-repeat center; background-size: cover;}

.custom_detail .customer_info .customer_detail .customer_right{display: block; width: .5rem; height: .5rem; background: url(../images/tel.png) no-repeat center; background-size: cover;}

.customer_info .customer_tab{display: flex; align-items: center; color: #949599; font-size: .24rem; margin-top: .15rem;}
.customer_info .customer_tab span{display: block; margin-right: .2rem; padding: 0 .13rem; line-height: .38rem; border: solid 1px #f5f5f7; border-radius: .04rem;}
.custom_detail .customer_info .custom_dright{display: flex; align-items: center; }
.custom_detail .customer_info .custom_dright .map_icon{display: block; width: .5rem; height: .5rem; background: url(../images/posi.png) no-repeat center; background-size: cover;margin-right: .7rem;}

.peisong_detail .peisong_info .qishou_info{display: flex; align-items: center; justify-content: space-between; padding: 0 .37rem; border-bottom: dashed .02rem #EBECEE; padding-bottom: .3rem; padding-top: .2rem; margin-bottom: .2rem;}
.peisong_detail .peisong_info .qishou_info .left_info{font-size: .4rem; color: #1A1B22; font-weight: bold;}
.peisong_detail .peisong_info .qishou_info .left_info span{display: inline-block;font-size: .24rem; color: #FFAF00; font-weight: normal;margin-left: .12rem; border: solid 1px #FFAE02; border-radius: .04rem; padding: 0 .12rem; line-height: .36rem; vertical-align: middle; margin-bottom: .04rem;}

.peisong_detail .peisong_info .qishou_info .right_info{display: flex; align-items: center;}
.peisong_detail .peisong_info .qishou_info .right_info a {display: block; width: .5rem; height: .5rem; background: url(../images/tel.png) no-repeat center; background-size: cover;}
.peisong_detail .peisong_info .qishou_info .right_info a.map_icon{background-image: url(../images/posi.png); margin-right: .7rem; }
.peisong_detail .peisong_info dd{font-size: .26rem; color: #323233; padding: .12rem .34rem;}
.peisong_detail .peisong_info{padding-bottom: .3rem;}
.peisong_detail .peisong_info dd .chaoshi_tip{color: #F02438; font-size: .26rem;}
/* 订单信息 */
.orderState{ background-color: #fff; border-radius: .26rem .26rem 0 0;box-shadow: .01rem .03rem .25rem 0 rgba(0, 6, 34, 0.1);}
.orderState .ostateList{padding-bottom: 2rem !important;}
.orderState .ostateList dt{font-size: .34rem; color: #1A1B22; font-weight: bold; margin-bottom: .2rem;}
.orderState .ostateList{padding: .34rem;}
.orderState .ostateList dd{line-height: .6rem; color: #323233; font-size: .26rem; display: flex; align-items: center; justify-content: space-between;}
.orderState .ostateList dd .rcolor{color: #FFAF00;}

/* 按钮 */
.orderState .btns_group{padding: .1rem .3rem; display: flex; align-items: center; justify-content: space-between;  padding-bottom:calc(.1rem + constant(safe-area-inset-bottom));padding-bottom: calc(.1rem + env(safe-area-inset-bottom)); position: fixed; bottom: 0; left: 0; right: 0; background: #fff; position: relative;}
.orderState .btns_group .fail{width: 1.8rem; height: .8rem; border-radius: .4rem; background-color: #EBECEE; color: #595B66; font-size: .3rem; line-height: .8rem; text-align: center; font-weight: bold;}
.orderState .btns_group.big_btn .fail{width: 100%;}
.orderState .btns_group .complete,
.orderState .btns_group .success{width: 4.9rem; line-height: .8rem; border-radius: .4rem; background: linear-gradient(-90deg, #FFAE00 0%, #FCC01C 100%); font-size: .3rem; font-weight: bold; color: #fff; text-align: center; margin: 0 auto;}


/* 优惠信息 */
.mask_youhui{position: fixed; left: 0; right: 0; top: 0; bottom: 0; background-color: rgba(0,0,0,.3); display: none;}
.mask_youhui.show{display: block;}
.youhui_box.tobottom{bottom: 0; }
.youhui_box{position: fixed; bottom: -7.7rem; left: 0; right: 0; height: 7.7rem; background-color: #fff; border-radius: .3rem .3rem 0 0; transition: bottom .3s;}
.youhui_box .yh_head{line-height: 1.23rem; font-size: .26rem; color: #949599; padding: 0 .36rem; text-align: right; border-bottom: dashed  .02rem #EBEBED;}
.youhui_box .yh_head span{font-family: moneyNumber; font-size: .26rem; color: #1A1B21; margin-left: .1rem;}
.youhui_box .yh_head span em{font-weight: bold; font-size: .32rem;}

.youhui_box .yh_detail,.youhui_box .yh_count{position: relative;padding: .5rem .43rem .8rem; }
.youhui_box .yh_detail dt,.youhui_box .yh_count dt{font-size: .3rem; color: #1A1B21; font-weight: bold; background-color: #fff; padding: 0 .16rem; padding-left: .34rem;  position: absolute; left: 0; top: -.26rem;}
.youhui_box .yh_detail dd{display: flex; align-items: center; justify-content: space-between; font-size: .28rem; padding:.18rem 0; color: #202021;}
.youhui_box .yh_detail .right_det{font-family: moneyNumber;color: #EF2437; font-size: .22rem;}
.youhui_box .yh_detail .right_det em{font-size: .28rem;}
.youhui_box .yh_detail b{width: .34rem; line-height: .28rem; font-size: .22rem; display: inline-block; color: #fff; text-align: center; font-weight: normal; vertical-align: middle; margin-bottom: .04rem; margin-right: .12rem;}
.youhui_box .yh_detail b.zhe{border-radius: .1rem 0 .1rem 0;  background: linear-gradient(135deg, #FF7571 0%, #FF5840 100%); }
.youhui_box .yh_detail b.man{border-radius: .1rem 0 .1rem 0;  background: linear-gradient(135deg, #ffd46e 0%, #FF9C34 100%);}
.youhui_box .yh_detail b.shou{border-radius: .1rem 0 .1rem 0;  background: linear-gradient(135deg, #53D75C 0%, #48C553 100%);}
.youhui_box .yh_detail b.quan{border-radius: .1rem 0 .1rem 0;  background: #FFF0EF; border: solid 1px #FF5E4D; color: #FF5E4D;}
.youhui_box .yh_detail b.ptai{border-radius: .04rem; background-color: #FF635C; position: relative;}
.youhui_box .yh_detail b.ptai::before{content: ''; display: block; width: .1rem; height: .1rem; border-radius: 50%; background-color: #fff;position: absolute; left: -.06rem; top: 0; bottom: 0; margin: auto;}
.youhui_box .yh_detail b.ptai::after{content: ''; display: block; width: .1rem; height: .1rem; border-radius: 50%; background-color: #fff;position: absolute; right: -.06rem; top: 0; bottom: 0; margin: auto;}
.youhui_box .yh_detail {border-bottom: dashed .02rem #EBEBED;}

.youhui_box .yh_count dd{display: inline-block; font-size: .28rem; color: #202021; margin-right: 1rem;}
.youhui_box .yh_count dd .right_det{font-size: .22rem; font-weight: bold; font-family: moneyNumber; margin-left: .1rem;}
.youhui_box .yh_count dd .right_det em{font-size: .28rem;}



/* 错误提示1 */
.popErr {position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 100001; visibility: hidden;}
.popErr p {position: fixed; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: .3rem; line-height: 1.4; text-align: center; padding: .24rem .2rem; z-index: 9999; left: 0; top: 30%; margin-top: -.2rem;}



@font-face {
	font-family: moneyNumber;
	src: url('/static/fonts/coregtd6.otf'),
		url('/static/fonts/coregtd6.TTF'),
		url('/static/fonts/coregtd6.svg'),
		 url('/static/fonts/coregtd6.woff'); /* IE9 */
}

/* .map_icon{display: none !important;} */ /* 暂时 */
.huoniao_iOS .top_box .headbox{padding-top: .6rem;}
.huoniao_iOS .top_box .headbox .htitle{top: .6rem;}

.pop_mask{position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 6; background-color: #000; opacity: .5;}
.pop_box{width: 6.6rem; height: 4.5rem; background-color: #fff; border-radius: .3rem; position: fixed; left: 0; right: 0; margin: auto; top: 0; bottom: 0; z-index: 6; box-sizing: border-box; padding:.6rem .5rem .4rem;}
.pop_box textarea{border: none; width: 100%; height: 1.9rem; font-size: .32rem; line-height: .46rem;}
.pop_box textarea::placeholder{color: #949599;}
.pop_box button{background: none; border: none; display: block; line-height: .8rem;}
.pop_box button.sure_btn{width: 3.8rem; color: #fff; font-size: .3rem; border-radius: .4rem; margin: auto ; background: linear-gradient(-90deg, #FFAE00 0%, #FCBF1C 100%); text-align: center;}
.pop_box button.cancel_btn{text-align: center;width: 3.8rem; font-size: .28rem; margin: auto;}


.order_head .txt{padding-bottom: .6rem; margin-top: .1rem;}
.order_head .txt p{margin-top: .2rem;}


span.preOrder_tip{position: absolute; display: flex; align-items: center; justify-content: flex-end; text-align: center; color: #FFAE00; left: 0; right:.52rem; transform: translateY(-100%); font-size: .26rem; line-height: .36rem; font-weight: bold; top: .3rem;}
span.preOrder_tip::before{content: ''; display: block; width: .36rem; height: .36rem; background: url(../images/tip_icon.png) no-repeat center/cover; margin-right: .08rem;}