{#include file="../../siteConfig/top1.html"#} 
    <div class="header-top">

        <header class="wrap header">
            <div class="auction-header">
                <div style="display: flex">
                  <a href="{#$paimai_channelDomain#}">
                    <img style="height: 50px" src="{#$paimai_logoUrl#}"/>
                  </a>
                  <div class="v-spacer"></div>
                </div>
                <div>
                    <div class="el-input el-input-group el-input-group--append auction-search">
                        <div class="el-input__wrapper">
                            <input class="el-input__inner searchInput" type="text" autocomplete="off" tabindex="0" placeholder="今日热搜：收藏见证" value="{#$keywords#}" >
                        </div>
                        <div class="el-input-group__append searchBtn" >
                            <button class="el-button" aria-disabled="false" type="button">
                                <i class="el-icon">
                                <svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="m795.904 750.72 124.992 124.928a32 32 0 0 1-45.248 45.248L750.656 795.904a416 416 0 1 1 45.248-45.248zM480 832a352 352 0 1 0 0-704 352 352 0 0 0 0 704z"></path></svg></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div> 
    <script>
        var masterDomain = "{#$cfg_basehost#}"
        var page_curr = '{#$page_curr#}';
        if(page_curr != 'list'){
            $(function(){
                $(".searchBtn").click(function(){
                    window.location.href = '{#$paimai_channelDomain#}/list.html?keywords='+encodeURIComponent($(".searchInput").val());
                })
            });
            
            $(".searchInput").on('keyup',function(e){
                if(e.keyCode == 13){
                    window.location.href = '{#$paimai_channelDomain#}/list.html?keywords='+encodeURIComponent($(".searchInput").val());
                }
            })
        }
    </script>
    <script src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>
