<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
		<title>招聘系统企业端</title>
		<meta name="keywords" content="{#$cfg_keywords#}">
		<meta name="description" content="{#$cfg_description#}">
		<link rel="stylesheet" type="text/css" media="all" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" />
		<!-- <link rel="stylesheet" href="{#$templets_skin#}css/index.css?v={#$cfg_staticVersion#}"> -->
		<link rel="stylesheet" href="{#$cfg_staticPath#}css/ui/element_ui_index.css?v={#$cfg_staticVersion#}">
		<link rel="stylesheet" href="{#$cfg_staticPath#}css/member/pub_supplier.css?v={#$cfg_staticVersion#}">
		<link rel="stylesheet" href="{#$templets_skin#}css/base_info.css?v={#$cfg_staticVersion#}">
		<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js?v={#$cfg_staticVersion#}"></script>
		<script type="text/javascript" src="{#$cfg_staticPath#}js/vue/vue.min.js?v={#$cfg_staticVersion#}"></script>
		<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/element_ui_index.js?v={#$cfg_staticVersion#}"></script>

		<script type="text/javascript">
            var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';
            var hideFileUrl = '{#$cfg_hideUrl#}';
            var cookiePre = '{#$cfg_cookiePre#}', cfg_clihost = '{#$cfg_clihost#}';
            var templets = '{#$templets_skin#}';
			var package_job = '{#$company_package_job|default:0#}'; //增值包
			var canJobs = '{#if $company_combo_job == -1#}999999{#else#}{#$company_canJobs#}{#/if#}'; //可以上架的职位
			var combo_id = '{#$company_combo_id#}'; //套餐id
			var combo_job = '{#if $company_combo_job == -1#}999999{#else#}{#$company_combo_job#}{#/if#}'; //套餐上架次数
			var combo_enddate = '{#$company_combo_enddate#}'; //套餐到期时间
			var pcount = '{#$company_pcount#}'
			var changeCheck = {#$company_state|default:1#}; //商家是否正在审核 0正在审核 1审核通过
			var state = '{#$detail_state#}';
			var cityid = '{#$siteCityInfo.cityid#}';
			var jobChannel = '{#$job_channelDomain#}';
			var ai_token = '{#$token#}';
		</script>
	</head>
	<body class="w1200">
		{#$pageTitle = '招聘系统企业端'#}
		<!-- 头部 -->
		{#include file="top.html" pageTitle=$pageTitle module='job' showMap=1#}
		<div id="page">

            <div class="conbox">
                <div class="left_box">
					<ul v-cloak>
						<li v-for=" (item,i) in navList" :class="[{'curr':i==currid || i === hoverid}]"  @mouseover="hoverid = i" @mouseleave="hoverid = ''">
							<a :href="item.link"  @click.prevent="goLink(item.link,i)">
								<s v-if="i!=currid && i !== hoverid"><img :src="'{#$templets_skin#}images/'+(i+1)+'.png'" ></s>
								<s v-else><img :src="'{#$templets_skin#}images/'+(i+1)+'_on.png'" ></s>
								<span>{{item.txt}}</span>
							</a>
						</li>
					</ul>
				</div>
				<!-- 右侧 -->
				<div class="right_box">
					<div class="rConBox">
						<h3>发布职位</h3>

						<div class="formbox">
							<el-form  :model="form"  label-width="138px" v-cloak>
								<!-- 职位基本信息 -->
								<dl class="form_item">
									<dt>职位基本信息<div class="vip_tip"><span class="tip"><i class="el-icon-info"></i>温馨提示</span>您当前是<em>{#if $company_combo_id#}{#$company_combo_title#}{#else#}免费会员{#/if#}</em>，还可上架{#if $company_combo_job==-1#}无限{#else#}{#$company_canJobs#}{#/if#}条职位</div></dt>
									<dd>
										<el-form-item label="职位类别"  :required="true" data-name="type">

											<el-cascader
											ref="cascaderType"
											:show-all-levels="false"
											:disabled="form.id&&!posttypeb"
											class="bigInp"
											v-model="form.typeArr"
											:props="{label:'title', value:'id', children:'lower'}"
                                            filterable
											popper-class="classify"
											@change="changeType"
											:options="categoryList">
											</el-cascader>
											<div class="err_tip onError" v-if="error.name == 'type' && error.onError"><i class="el-icon-info"></i>{{error.tip?error.tip:'请选择职位类别'}}</div>	
											<div v-else :class="['err_tip',{'onError': error.name == 'title' && error.onError}]"><i class="el-icon-info"></i>{{error.tip && error.name == 'title' ? error.tip : '提示：职位类别确认发布后将无法修改'}}</div>
										</el-form-item>

										<el-form-item label="职位名称" :required="true" data-name="title">
											<el-input v-model="form.title" name="title" placeholder="请填写" class="bigInp" :disabled="form.id" maxlength="30"></el-input>
											<div :class="['err_tip',{'onError': error.name == 'title' && error.onError}]"><i class="el-icon-info"></i>{{error.tip && error.name == 'title' ? error.tip : '提示：职位名称确认发布后将无法修改'}}</div>
										</el-form-item>
										<el-form-item label="招聘人数" data-name="number">
											<el-input v-model="form.number" type="tel"  suffix="人" name="number" :placeholder="needpeople?'选填':''" class="bigInp"  @input="checkNumber('number')" @focus="needpeople=false" @blur="needpeople=true"> 
												<em slot="suffix">人</em>
											</el-input>
											<div class="err_tip onError" v-if="error.name == 'number' && error.onError"><i class="el-icon-info"></i>{{error.tip?error.tip:'请输入招聘人数'}}</div>	
										</el-form-item>

										<!-- <el-form-item label="薪资待遇"  :required="true"  data-name="salary">
											<el-select v-model="form.min_salary" placeholder="最低薪资" class="medium_select">
												<el-option :label="item ? item : '面议'" v-if="item < form.max_salary || !form.max_salary" :value="item" v-for="item in salaryArr"></el-option>
												
											</el-select>
											<el-select v-model="form.max_salary" placeholder="最高薪资" class="medium_select">
												<el-option v-if="item >= form.min_salary || !item " :label="item ? item : '面议'" :value="item" v-for="item in salaryArr"></el-option>
											</el-select>
											<el-select v-model="form.dy_salary" placeholder="是否年终双薪" class="medium_select">
												<el-option :label="item.value + '薪'" :value="item.value" v-for="item in salaryArr_add"></el-option>
												
											</el-select>
											<div class="err_tip onError" v-if="error.name == 'salary' && error.onError"><i class="el-icon-info"></i>{{error.tip?error.tip:'请选择职位薪资'}}</div>	
										</el-form-item> -->
										<el-form-item label="职位性质"  :required="true" data-name="nature">
											<el-select v-model="form.nature" placeholder="请选择" class="bigInp" 											popper-class="classify">
												<el-option v-for="item in baseConfig.jobNature" :label="item.typename" :value="item.id"></el-option>
											</el-select>
											<div class="err_tip onError" v-if="error.name == 'nature' && error.onError"><i class="el-icon-info"></i>{{error.tip?error.tip:'请选择职位性质'}}</div>	
										</el-form-item>
										<el-form-item label="薪资待遇"  :required="true"  data-name="salary">
											<template v-if="form.salary_type === 2 && [2,4].includes(form.nature)">
												<el-input placeholder="最低时薪" class="mediumInp inlineInp" clearable @clear="salaryfocus(0)" suffix="{#echoCurrency type='short'#}" type="text" oninput ="value=value.replace(/^\D*(\d*(?:\.\d{0,1})?).*$/g, '$1')" v-model="form.min_salary" :disabled="form.mianyi==1?true:false"><em slot="suffix">{#echoCurrency type='short'#}</em></el-input>
												<span> - </span>
												<el-input placeholder="最高时薪" class="mediumInp inlineInp" clearable @clear="salaryfocus(1)" suffix="{#echoCurrency type='short'#}" type="text" oninput ="value=value.replace(/^\D*(\d*(?:\.\d{0,1})?).*$/g, '$1')" v-model="form.max_salary" :disabled="form.mianyi==1?true:false"><em slot="suffix">{#echoCurrency type='short'#}</em></el-input>
											</template>
											<template v-else>
												<el-input v-model="form.min_salary" placeholder="最低薪资" clearable @clear="salaryfocus(0)" popper-class="min_salary" style="width: auto;" oninput ="value=value.replace(/[^\d]/g,'');page.form.min_salary=value;" @change="adjustSalary(0)" :disabled="form.mianyi==1?true:false"></el-input>
												<span> - </span>
												<el-input v-model="form.max_salary" placeholder="最高薪资" clearable @clear="salaryfocus(1)" popper-class="max_salary" style="width: auto;" oninput ="value=value.replace(/[^\d]/g,'');page.form.max_salary=value;" @change="adjustSalary(1)" :disabled="form.mianyi==1?true:false"></el-input>
											</template>
											<el-select v-model="dy_salary" placeholder="是否年终n薪" class="medium_select" v-if="!form.nature || [1,3,5,6].includes(form.nature) " :disabled="form.mianyi==1?true:false" 											popper-class="classify">
												<el-option :label="item.label" :value="item.value" v-for="item in salaryArr_add" :disabled="!item.value"></el-option>
											</el-select>
											<a href="javascript:;" class="changeSalary" v-if="[2,4].includes(form.nature)" @click="form.salary_type = form.salary_type === 1 ? 2 : 1;$('.warntext span').hide();"><s></s>切换{{form.salary_type===1 ? '时' : '月'}}薪</a>
											<div class="err_tip onError" v-if="error.name == 'salary' && error.onError"><i class="el-icon-info"></i>{{error.tip?error.tip:'请选择职位薪资'}}</div>	
											<el-checkbox-group v-model="form.mianyi" class="checkInline">
												<el-checkbox label="薪资面议" name="mianyi" value="1" :checked="form.mianyi"></el-checkbox>
											</el-checkbox-group>
											<div class="warntext"><i class="el-icon-info" style="color: #1975FF;margin-right: 6px;"></i><span style="display: none;">月薪请考虑最低标准，</span>{{form.salary_type===1?'请取整数填写，如4500，12000':'最多添加一位小数'}}</div>
										</el-form-item>

										
										<el-form-item label="有效期"  :required="true" data-name="valid">
											<el-date-picker :editable="false" :picker-options="pickerOptions" v-model="validDate"   :class="['bigInp datePick',{'focus_shan': paramUrl == 'valid'  && shan}]" suffix-icon="el-icon-arrow-down" type="date" placeholder="选择日期"> </el-date-picker>
											<el-checkbox-group v-model="form.long_valid" class="checkInline">
												<el-checkbox label="长期招聘" name="long_valid" value="1" :checked="form.long_valid"></el-checkbox>
											</el-checkbox-group>
											<div class="err_tip onError" v-if="error.name == 'valid' && error.onError"><i class="el-icon-info"></i>{{error.tip?error.tip:'请选择职位有效期'}}</div>	
											<div class="err_tip" v-else-if="paramUrl == 'valid'"> <i class="el-icon-info"></i>请设置职位有效期后，选择提交发布</div>	
										</el-form-item>
										
									</dd>
								</dl>
								
								<!-- 职位要求 -->
								<dl class="form_item">
									<dt>职位要求</dt>
									<dd>
										<el-form-item label="学历要求" :required="true" data-name='educational'>
											<el-select v-model="form.educational" placeholder="请选择" class="bigInp" 											popper-class="classify">
												<el-option label="不限" :value="0"></el-option>
												<el-option :label="item.typename" :key="item.id" :value="item.id" v-for="item in baseConfig.education"></el-option>
											</el-select>
											<div class="err_tip onError" v-if="error.name == 'educational' && error.onError"><i class="el-icon-info"></i>{{error.tip?error.tip:'请选择学历'}}</div>	
										</el-form-item>
										<el-form-item label="经验要求" :required="true" data-name='experience'>
											<el-select 
											v-model="form.experience" 
											placeholder="请选择" 
											class="bigInp" 
											:disabled="form.nature==3?true:false" 											
											popper-class="classify">
												<el-option label="不限" :value="0"></el-option>
												<el-option :label="item.typename" :key="item.id" :value="item.id" v-for="item in baseConfig.experience"></el-option>
											</el-select>
											<span style="color: #A6A6A6;font-size: 13px;" v-show="form.nature==3?true:false">实习职位默认无经验要求</span>
										</el-form-item>
										<!-- <el-form-item label="年龄要求"    data-name="age">
											<el-select v-model="form.min_age" placeholder="最低年龄" class="medium_select">
												<el-option v-for="item in 65"  v-if="(item < form.max_age || !form.max_age) && item >= 18" :label="item ? (item + '岁') : '不限'" :key="item" :value="item" ></el-option>
												
											</el-select>
											<el-select v-model="form.max_age" placeholder="最高年龄" class="medium_select">
												<el-option  v-for="item in 65" v-if="(item >= form.min_age || !item) && item >= 18 " :label="item ? (item + '岁') : '不限'" :value="item" :key="item"></el-option>
											</el-select>
										</el-form-item> -->
										
										<el-form-item label="职位描述" :required="true" data-name='note' >
											<div class="aiFitContentBox" style="width:1050px;">
												<div class="aiBtnPlace">
													<el-input type="textarea" class="textarea" v-model="form.note" placeholder="请填写工作内容、岗位职责等（限800字）" maxlength="800"
													show-word-limit></el-input>
												</div>
												<div class="err_tip onError" v-if="error.name == 'note' && error.onError "><i class="el-icon-info"></i>{{error.tip?error.tip:'请填写'}}</div>	
											</div>
										</el-form-item>
										<el-form-item label="任职要求" data-name='claim'>
											<el-input type="textarea" class="textarea" v-model="form.claim" placeholder="请填写任职要求（限800字）" maxlength="800"
											show-word-limit></el-input>
											<p class="tip_inp" style="display: block;">温馨提示：根据《网络招聘服务管理规定》，职位描述中不允许出现民族、种族、性别、宗教信仰等方面的歧视性内容。</p>
										</el-form-item>

										<el-form-item label="职位标签" class="post_lab">
											<div class="labs">
												<el-tag type="info" :class="{'on_chose': form.tag.indexOf(item.typename) > -1}" v-for="item in baseConfig.jobTag" @click="addTag(item)">{{item.typename}}</el-tag>
											</div>
											<div class="selfaddBox">
												<el-tag  type="info" @click="showSelfInp" v-show="!selfAddLab" ><i class="el-icon-plus"></i>自定义</el-tag>
												<!-- 自定义标签 -->
												<div class="selfAddLad" v-if="selfAddLab">
													<el-row class="selfLabBox" v-if="selfTag && selfTag.length">
														<el-tag size="medium" closable v-for="(item,ind) in selfTag" @click="removeLab(item,ind)" disable-transitions>{{item}}</el-tag>
													</el-row>
													<el-input type="text" class="inp" size="medium" v-if="!selfTag || selfTag.length < 3 " placeholder="自定义标签，按回车键确定，每个最多6字" maxlength="6" :show-word-limit="selfLabFocus" @keyup.enter.native="addLab" v-model="currLab" @focus="selfLabFocus = true" @blur="selfLabFocus = false;addLab()"></el-input>
												</div>
											
											</div>
											<div class="err_tip"><i class="el-icon-info"></i>提示：最多添加3个职位标签</div>
										</el-form-item>
									</dd>
								</dl>

								<dl class="form_item">
									<dt>联系方式</dt>
									<dd>
										<el-form-item label="工作地址"  :required="true" :class="['postAddr',{'arrow':jobAddrList.length!=1}]"  data-name="job_addr_id" v-if="businessInfo.address">
											<el-select v-model="form.job_addr_id" placeholder="请选择" :disabled="jobAddrList.length==1" class="bigInp" popper-class="addressPop">
												<el-option
												v-for="item in jobAddrList"
													:key="item.id"
													:value="item.id"
													:label="item.address">
													<span style="float: left">{{ item.address }}</span>
													<span v-if="item.add" style="float: right; color: #BDC0C9; font-size: 12px">刚刚添加</span>
												</el-option>
												<el-option><a href="javascript:;" class="add_addr" @click="addNewAddr(0)"><i class="el-icon-plus"></i>选择其他地址</a></el-option>
											</el-select>
											<span class="edit_posi" v-if="form.job_addr_id===0" @click="addNewAddr(0)"><s></s>编辑/查看</span>
											<a href="javascript:;" class="add_addr blockBtn" @click="addNewAddr(0)" v-if="jobAddrList.length == 1"><i class="el-icon-plus"></i>选择其他地址</a>
											<div class="err_tip onError" v-if="error.name == 'job_addr_id' && error.onError"><i class="el-icon-info"></i>{{error.tip?error.tip:'请选择工作地址'}}</div>	
										</el-form-item>
										<div v-else>
											<el-form-item label="招聘联系人" :required="true" data-name="people">
												<div class="groupBox">
													<div class="inpGroup">
														<el-input v-model="companyForm.people" name="people" placeholder="请填写联系人称呼" class="bigInp"></el-input>
														<el-input v-model="companyForm.people_job" name="people_job" placeholder="请填写职位，如：HR" class="bigInp">
														</el-input>
													</div>
													<div class="headIconBox">
														<div class="photoBox">
															<img :src="companyForm.people_pic_url" alt=""
																v-if="companyForm.people_pic || companyForm.people_pic_url"
																onerror="this.src='/static/images/noPhoto_100.jpg'">
															<span class="text">头像</span>
															<div class="pbtns">
																<el-upload :action="uploadAction" data-name="avatar" class="uploadBtn" accept=".png,.jpg,.jpeg"
																	:limit="1" name="Filedata" :show-file-list="false" :on-success="handleSuccess"
																	:on-progress="handlePogress" :on-change="handleChange">
																	<div class="btn_up_photo">上传</div>
																</el-upload>
															</div>
														</div>
													</div>
												</div>
												<div class="err_tip onError" v-if="error.name == 'people' && error.onError"><i
														class="el-icon-info"></i>{{error.tip?error.tip:'请完善联系人信息'}}</div>
											</el-form-item>
											<el-form-item label="联系电话" :required="true" data-name="contact">
												<el-input v-model="companyForm.contact" name="contact" placeholder="请填写" class="bigInp" maxlength="11">
												</el-input>
												<div class="err_tip onError" v-if="error.name == 'contact' && error.onError"><i
														class="el-icon-info"></i>{{error.tip?error.tip:'请输入联系电话'}}</div>
											</el-form-item>
											<el-form-item label="公司地址" :required="true" data-name="address">
												<el-cascader v-model="companyForm.addrid_list" ref="cascaderAddr" :props="props" :options="options"
													collapse-tags clearable @change="changeArea" @expand-change="changeMapAreaText"></el-cascader>
												<div class="address_box">
													<el-input v-model="companyForm.address" name="address" placeholder="请填写详细地址" class="bigInp"></el-input>
													<input type="hidden" name="lng" :value="companyForm.lng">
													<input type="hidden" name="lat" :value="companyForm.lat">
													<a href="javascript:;" class="mapPop_btn" @click="addNewAddr(1)"></a>
												</div>
												<div class="err_tip onError" v-if="error.name == 'address' && error.onError"><i
														class="el-icon-info"></i>{{error.tip?error.tip:'请完善公司地址信息'}}</div>
											</el-form-item>
										</div>
									</dd>
								</dl>
								
								<!-- 底部 -->
								<el-row>
									<el-button type="primary" @click="checkFormRules" class="btn_submit" :loading="loading">{{loading ? '正在提交' : '发布职位'}}</el-button>
								</el-row>
							</el-form>
						</div>
					</div>
				</div>
            </div>
			<div class="foot">
				<div class="foot-bottom">
					<div class="bottom wrap">
						版权所有 © {#$smarty.now|date_format:'%Y'#} {#$cfg_shortname#}. All rights reserved.<br />
					</div>
				</div>
			</div>
		</div>
		<div>{#$cfg_statisticscode#}</div>
	</body>
	<script type="text/javascript" src="{#$cfg_staticPath#}js/vue/axios.min.js?v={#$cfg_staticVersion#}"></script>
	<script type="text/javascript" src="{#$cfg_staticPath#}js/ai2Con.js?v={#$cfg_staticVersion#}"></script>
	<script type="text/javascript" src="{#$templets_skin#}js/add_post.js?v={#$cfg_staticVersion#}"></script>
</html>
