<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$langData['siteConfig'][19][214]#} </title>   {#* 收货地址管理 *#}
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" href="{#$templets_skin#}css/address.css?v={#$cfg_staticVersion#}" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
	var urlParam = '{#$urlParam#}'
	var logitcpros_str = '&paramCode={#$smarty.get.paramCode#}'
	var logitcpros = decodeURIComponent(atob('{#$smarty.get.paramCode#}'))	
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';

	var hideFileUrl = "{#$cfg_hideUrl#}";
	var address_add = "{#getUrlPath service='member' type='user' template='address_add' param="from=addrlist"#}";  //列表
	var address_add_1 = '{#if $urlParam  && strpos($urlParam,'from=order') > -1#}{#getUrlPath service='member' type='user' template='address_add' #}{#else#}{#getUrlPath service='member' type='user' template='address_add' param="from=addrlist"#}{#/if#}'
	
</script>
</head>
{#$paramStr = ''#}
{#$paramStrr = '&logitcpros='#}
{#foreach from=$logitcpros item=kk key="k"#}
{#$paramStr = $paramStr|cat: '&pros[]='|cat:$kk#}
{#if $k < count($logitcpros)- 1#}
{#$paramStrr = $paramStrr|cat:$kk|cat:'|'#}
{#else#}
{#$paramStrr = $paramStrr|cat:$kk#}
{#/if#}
{#/foreach#}
<body>
{#include file="../../siteConfig/touch_top.html" pageTitle="收货地址"#}
<div class="wrap">
	<div class="addresslist">
			{#member action="address"#}
			{#$addidsarr = explode(' ',$row.addrids)#}
			<div class="item">
			<!-- 订单页过来的 -->
			{#if $urlParam && strpos($urlParam,'from=order') > -1#}
			<a href="{#getUrlPath service='shop' template='confirm-order' param="addresid={#$addidsarr[1]#}&adsid={#$row.id#}"#}"  data-lnglat="{#$row.lng#},{#$row.lat#}" data-posi="{#$row.posi#}" data-id="{#$row.id#}" data-ids="{#$row.addrids#}" data-addrid="{#$row.addrid#}" data-name="{#$row.person#}" data-tel="{#if $row.mobile != "" && $row.tel != ""#}{#$row.mobile#}{#elseif $row.mobile == "" && $row.tel != ""#}{#$row.tel#}{#else#}{#$row.mobile#}{#/if#}" data-addr="{#$row.addrname#}" data-address="{#$row.address#}" data-code="{#$row.areaCode#}" class="a_set_addr toMini" data-temp="confirm-order" data-module="shop" data-param="adsid={#$row.id#}&{#$urlParam#}" data-link="1">
			{#else#}
			<a href="javascript:;" class="a_set_addr" data-id="{#$row.id#}">
			{#/if#}
			

				<p><span>{#$row.person#}</span><em class="tel_num">{#if $row.mobile != "" && $row.tel != ""#}{#if $row.areaCode != '' && $row.areaCode != '86'#}+{#$row.areaCode#} {#/if#}{#$row.mobile#}{#elseif $row.mobile == "" && $row.tel != ""#}{#$row.tel#}{#else#}{#if $row.areaCode != '' && $row.areaCode != '86'#}+{#$row.areaCode#} {#/if#}{#$row.mobile#}{#/if#}</em></p>
				
				<p class="adrInfo">{#if $row.default == 1#}<span class="defaultT">默认</span>{#/if#}{#$row.addrname#}&nbsp;&nbsp;{#$row.address#}</p>
				<!-- <div class="btn_address fn-clear"><span>选择该收货地址</span></div> -->
			</a>
	
			{#if $urlParam && strpos($urlParam,'from=order') > -1#}
			<div class="edit edit_btn"><a href="{#getUrlPath service='member' type="user" template='address_add' param="addressid={#$row.id#}"#}"></a></div>
			{#else#}
			<div class="edit edit_btn"><a href="{#getUrlPath service='member' type="user" template='address_add' param="from=addrlist&addressid={#$row.id#}"#}"></a></div>
			{#/if#}
			<div class="edit delBtn"><a href="javascript:;" class="del_btn">删除</a></div>
		  </div>
		{#/member#}
		
		
		<div class="noData {#if $pageInfo.totalCount > 0#}fn-hide{#/if#}">
			<div class="img"><img src="{#$templets_skin#}/images/shop/noAddress.png" alt=""></div>
			<div class="text">
				<h4>您还没有收货地址哦</h4>
				<p>不要捉迷藏啦，快告诉我你在哪</p>
			</div>
			{#if $urlParam && strpos($urlParam,'from=order') > -1#}
			<a href="{#getUrlPath service='member' type='user' template='address_add' #}" class="add_btn">新增收货地址</a>
			{#else#}
			<a href="{#getUrlPath service='member' type='user' template='address_add' param="from=addrlist"#}" class="add_btn ">新增收货地址</a>
			{#/if#}
		</div>
		
	</div>
	{#if $pageInfo.totalCount > 0#}
	<div class="addAddress">
		
		{#if $urlParam  && strpos($urlParam,'from=order') > -1#}
		<a href="{#getUrlPath service='member' type='user' template='address_add'#}?" class="add_btn">新增收货地址</a>
		{#else#}
		<a href="javascript:;" class="manage_btn">管理</a>
		<a href="javascript:;" class="finish_btn">完成</a>
		<a href="{#getUrlPath service='member' type='user' template='address_add' param="from=addrlist"#}" class="add_btn ">新增收货地址</a>
		{#/if#}
	</div>
	{#/if#}

	<div class="bottomPopBox">
		<div class="bp_mask"></div>
		<div class="bottomPop">
			<h4>选择新增方式</h4>
			<ul>
				<li><a href="javascript:;" class="fromWx">导入微信地址</a></li>
				<li><a href="{#getUrlPath service='member' type='user' template='address_add' param="from=addrlist"#}" class="link">手动添加地址</a></li>
			</ul>
		</div>
	</div>
	<div class="loading">
		<div class="loadIcon"></div>
		<p>加载中...</p>
	</div>
</div>
<script>

var wxconfig = {
		"appId": '{#$wxjssdk_appId#}',
		"timestamp": '{#$wxjssdk_timestamp#}',
		"nonceStr": '{#$wxjssdk_nonceStr#}',
		"signature": '{#$wxjssdk_signature#}',
		"description": '地址管理',
		"title": '地址选择',
	};
</script>
<script type='text/javascript' src='{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}'></script>
<script type="text/javascript" src="{#$templets_skin#}js/address.js?v={#$cfg_staticVersion#}"></script>
   
</body>
</html>
