<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{#$langData['siteConfig'][16][123]#}</title>   {#* 商家入驻基本资料 *#}
<meta name="wap-font-scale" content="no">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$cfg_basehost#}/templates/member/touch/css/gz-fabu.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/mobiscroll.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/ui/mobiscroll.javascript.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/business-config.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
  var masterDomain = '{#$cfg_basehost#}', staticPath = cfg_staticPath = '{#$cfg_staticPath#}';
  var hideFileUrl = {#$cfg_hideUrl#}, atlasSize = 5 * 1024 *1024, atlasMax = 2;

  var service = "business";
  var detail = {
    cityid: {#$cityid#},
    addrid: {#$addrid|default:0#},
    circle: '{#$circle#}'
  }
  var typeid = '{#$typeid#}';
  var businessid = '{#$id#}';
</script>
</head>
<style type="text/css">
	/* body,html{overscroll-behavior:none !important;} */
</style>
<body>

	<div class="page_shopdetail">
		{#include file="../../siteConfig/touch_top.html" pageTitle="{#$langData['business'][9][11]#}" #}   {#*  店铺信息  *#}

		<form action="" id="submitForm">
            {#if $state == 2#}<div style="color: #f00; padding: .3rem .2rem; background: #fff;">{#$langData['siteConfig'][16][164]#}：{#$refuse#}</div>{#/if#}{#* 店铺资料审核失败 *#}
			<div class="module_box">
				<h3>{#$langData['siteConfig'][19][22]#} <span>{#$langData['business'][8][26]#}</span></h3> {#* 基本信息 修改基本信息需重新提交审核 *#}
				<ul class="form_ul">
					<li class="logobox">
						<label>{#$langData['siteConfig'][19][175]#}</label>{#* 店铺LOGO *#}
						<dl>
							<dt class="logoshow"><img src="{#if $logo#}{#$logo#}{#else#}{#$cfg_staticPath#}images/blank.gif{#/if#}" alt="" data-url="{#$logoSource#}"><i class="del_btn"></i></dt>
							<dd class="logo_container {#if $logo#}fn-hide{#/if#}">
								<div class="webuploader ">
								  <!-- {#* 重新上传 *#}
								  <a href="javascript:;" class="picker-btn">{#if $logo#}{#$langData['siteConfig'][6][59]#}{#else#}{#$langData['siteConfig'][6][126]#}{#/if#}</a>{#* 上传 *#} -->
								  <div class="input-img" id="up_logo">{#$langData['business'][9][12]#}</div>  {#* 上传Logo *#}
								  <input type="hidden" name="logo" value="{#$logoSource#}" id="logo">
								</div>
							</dd>
						</dl>

					</li>
					<li class="inpbox">
						<label>{#$langData['siteConfig'][19][174]#}</label>  {#* 店铺名称 *#}
						<div class="inp"><input type="text" id="shoptitle" placeholder="{#$langData['business'][9][13]#}" value="{#$title#}" name="title"></div>{#* 请输入 *#}
					</li>
					<li class="inpbox arrinpbox">
						<label>{#$langData['siteConfig'][19][177]#}</label>{#* 经营品类 *#}
						<div class="inp">
							<input type="text" readonly="readonly" placeholder="{#$langData['waimai'][1][239]#}" name="typename"  id="typename" value="{#$typename#}" >{#* 请选择 *#}
							<input type="hidden" readonly="readonly" placeholder="{#$langData['waimai'][1][239]#}" name="typeid" id="typeid" value="{#$typeid#}" >{#* 请选择 *#}
						</div>
					</li>
					<li class="inpbox arrinpbox">
						<label>{#$langData['siteConfig'][19][805]#}</label>{#* 企业地址 *#}
						  <div class="inp addrinp">
							  <input type="text" name="address_" value="{#$address#}" id="address_" placeholder="{#$langData['siteConfig'][27][144]#}" readonly="readonly">
							  <a href="{#getUrlPath service='member' type='user' template='choose_address' param='ser=business&act=updateStoreConfig'#}" class="link"></a>
						  </div>
					</li>
					<li class="inpbox">
						<label>{#$langData['siteConfig'][19][56]#}</label>{#* 联系电话 *#}
						<div class="inp"><input type="text" placeholder="{#$langData['business'][9][13]#}"  id="tel" name="tel" value="{#$tel#}"></div>{#* 请输入 *#}
					</li>
				</ul>
				<ul class="form_ul shopTag">
					<li class="labelbox">
						<label for="">{#$langData['siteConfig'][19][902]#}</label>{#* 店铺标签 *#}
						<div class="labels">
							{#if $tag_shopArr#}
							{#foreach from=$tag_shopArr item=tag#}
							<div class="label"><input autocomplete="off" type="" name="" value="{#$tag#}" placeholder="{#$langData['business'][9][14]#}"  /><div class="del_label"></div></div>   {#* 请输入标签 *#}
							{#/foreach#}
							{#/if#}

							<a href="javascript:;" class="add_label label">+{#$langData['siteConfig'][19][902]#}</a>{#* 店铺标签 *#}
						</div>
					</li>
				</ul>
			</div>
			<div class="module_box">
				<h3>{#$langData['business'][5][95]#}</h3>  {#*  营业信息  *#}
				<ul class="form_ul">
					<li class="inpbox arrinpbox">
						<label for="">{#$langData['siteConfig'][18][15]#}</label>{#* 营业时间 *#}
						<div class="inp"><input type="text" placeholder="请选择星期" name="weeks" readonly="readonly" id="yingyeTxt" value="{#$openweek_str#}"></div>
                        <input type="hidden" name="openweek" id="openweek" value="{#$openweek|join:','#}" />
					</li>
					<li class="labelbox">
						<label for="">{#$langData['business'][9][15]#}</label>   {#*  时间段  *#}
						<div class="time_list labels">
							{#if $opentimes#}
							{#foreach from=$opentimes item="time"#}
							{#$timeArr = "-"|explode:$time#}
							<span class="chose_inp label">{#$time#}<em class="del_time"></em><input type="hidden" name="limit_time[0][start]" value="{#$timeArr[0]#}"><input type="hidden" name="limit_time[0][stop]" value="{#$timeArr[1]#}"></span>
							{#/foreach#}
							{#/if#}
							<span class="add_btn label">{#$langData['business'][9][16]#}</span>  {#*  添加时间段  *#}
							<input type="hidden" name="stime" id="stime" class="mbsc-comp" readonly="" value="00:00"> <input type="hidden" name="etime" id="etime" class="mbsc-comp" readonly="" value="23:59"></div>
					</li>
					<li class="inpbox arrinpbox">
						<label for="">{#$langData['siteConfig'][26][54]#}</label> {#* 店铺介绍 *#}
						<div class="inp"><a href="{#getUrlPath service='member' type='user' template='business-config_profile'#}" class="link">{#if $body#}{#$langData['business'][9][17]#}{#else#}{#$langData['business'][9][13]#}{#/if#}</a></div>   {#* 点击修改  请输入 *#}
					</li>
				</ul>
			</div>
			<!-- 图片 -->
			<div class="module_box">
				<ul class="form_ul">
					<li class="logobox">
						<label>{#$langData['siteConfig'][16][167]#}</label>{#* 店铺幻灯片 *#}
						<div id="slideShow_choose">
							<div class="upload-file slideshow">
							 <!-- <p class="info">{#$langData['siteConfig'][16][172]#}</p> -->  {#* 请上传2-5张图片 *#}
							  <ul class="fn-clear slidebox">
							    <li class="addbtn" id="up_slideShow" data-extensions="jpg,jpeg,bmp,png,gif" data-mimetypes="image/*">上传图片</li>
							    {#if $bannerArr#}
							    {#foreach from=$bannerArr key=k item=pic#}
							    <li id="WU_FILE_has_{#$k#}"><img src="{#$pic.path#}" data-url="{#$pic.source#}" alt=""><a href="javascript:;" class="close"></a></li>
							    {#/foreach#}
							    {#/if#}
							  </ul>
							</div>
						</div>

					</li>
				</ul>
			</div>
			<!-- 视频 -->
			<div class="module_box">
				<ul class="form_ul">
					<li class="logobox">
						<label>{#$langData['siteConfig'][16][173]#}</label>{#* 视频展示 *#}
						<div id="videoShow_choose">
							<div class="upload-file slideshow">
							 <!-- <p class="info">{#$langData['siteConfig'][16][172]#}</p> -->  {#* 请上传2-5张图片 *#}
							  <ul class="fn-clear slidebox videoshow video">
							  {#if $videoArr#}
							  {#foreach from=$videoArr key=k item=pic#}
							  <li id="WU_FILE_has_{#$k#}" class="vid">
								  <video src="{#$pic.path#}" data-url="{#$pic.source#}"></video><a href="javascript:;" class="close"></a></li>
							  {#/foreach#}
							  {#/if#}
							  {#if $video_pic#}
							  <li id="WU_FILE_video_pic_{#$k#}" class="vpic"><img src="{#$video_pic#}" data-url="{#$video_picSource#}" /><a href="javascript:;" class="close"></a></li>
							  {#/if#}
							    <li class="addbtn {#if $videoArr#}fn-hide{#/if#}" id="up_videoShow" data-extensions="mp4,mov" data-mimetypes="video/*">{#$langData['siteConfig'][6][196]#}</li>
								<li class="addbtn {#if $video_pic#}fn-hide{#/if#}" id="up_videoPicShow" data-extensions="jpg,jpeg,bmp,png,gif" data-mimetypes="image/*">{#$langData['siteConfig'][6][211]#}</li>
							  </ul>
							</div>
						</div>

					</li>
				</ul>
			</div>
			<!-- 资质 -->
			<div class="module_box">
				<ul class="form_ul">
					<li class="logobox">
						<label>商家资质</label>{#* 商家资质 *#}
						<div id="qualityShow_choose">
							<div class="upload-file slideshow">
							  <ul class="fn-clear slidebox">
							    <li class="addbtn" id="up_qualityShow" data-extensions="jpg,jpeg,bmp,png,gif" data-mimetypes="image/*">上传图片</li>
							    {#if $qualityArr#}
							    {#foreach from=$qualityArr key=k item=pic#}
							    <li id="WU_FILE_has_{#$k#}"><img src="{#$pic.path#}" data-url="{#$pic.source#}" alt=""><a href="javascript:;" class="close"></a></li>
							    {#/foreach#}
							    {#/if#}
							  </ul>
							</div>
						</div>

					</li>
				</ul>
			</div>

			<div class="module_box">
				<ul class="form_ul">
					<li class="logobox">
						<label>{#$langData['siteConfig'][19][901]#}</label>{#* 特色标签 *#}
						<div class="p-tags serverTags fn-clear">
							{#foreach from=$businessTag_state item=tag#}
							<span {#if $tag.active#}class="active"{#/if#}><em>{#$tag.name#}</em></span>
							{#/foreach#}
						</div>
					</li>
				</ul>
			</div>

			<!-- 联系方式 -->
			<div class="module_box">
				<ul class="form_ul">
					<li class="inpbox">
						<label>联系QQ</label>
						<div class="inp"><input type="text" id="qq" placeholder="{#$langData['business'][9][13]#}" name="qq" value="{#$qq#}"></div>
					</li>
					<li class="inpbox">
						<label>微信号</label>
						<div class="inp"><input type="text" id="wechatcode" placeholder="{#$langData['business'][9][13]#}" name="wechatcode" value="{#$wechatcode#}" ></div>
					</li>
					<li class="logobox">
						<label>{#$langData['siteConfig'][19][184]#}</label>  {#* 微信二维码 *#}
						<dl class="fn-clear">
						  <dt class="logoshow qrbox{#if !$wechatqr#} fn-hide{#/if#}"><img src="{#if $wechatqr#}{#$wechatqr#}{#else#}{#$cfg_staticPath#}images/blank.gif{#/if#}" alt="" data-url="{#$wechatqrSource#}"><i class="del_btn"></i></dt>
						  <dd class="logo_container {#if $wechatqr#}fn-hide{#/if#}">
						    <p class="tips fn-hide">{#$langData['siteConfig'][20][156]|replace:'1':'5'#}</p>   {#* 注：上传的图片大小在1M以内，仅支持JPG、PNG格式 *#}
						    <div class="webuploader">
						      {#* 重新上传 *#}

						      <div class="input-img" id="up_wechatqr">{#$langData['siteConfig'][6][126]#}</div>
						      <input type="hidden" name="wechatqr" value="{#$wechatqrSource#}" id="wechatqr">
						    </div>
						  </dd>
						</dl>
					</li>
					<li class="inpbox">
						<label>短视频推广口令</label>
						<div class="inp"><input type="text" id="short_video_promote" placeholder="{#$langData['business'][9][13]#}" name="short_video_promote" value="{#$short_video_promote#}" ></div>
					</li>
				</ul>
			</div>

			<div class="fabuBtn"><a href="javascript:;" class="">{#$langData['siteConfig'][6][27]#}</a></div>   {#* 保存 *#}
		</form>
		<div class="pop_mask"></div>
		<div class="week_pop">
			<h3><a href="javascript:;" class="cancel">{#$langData['business'][0][48]#}</a>{#$langData['business'][9][18]#}<a href="javascript:;" class="sure">{#$langData['siteConfig'][6][1]#}</a></h3> {#*   取消   选择星期     确定   *#}
			<ul>
				<li data-id="1"{#if $openweek && in_array(1, $openweek)#} class="active"{#/if#}>{#$langData['siteConfig'][34][5][1]#}</li>  {#*    周一   *#}
				<li data-id="2"{#if $openweek && in_array(2, $openweek)#} class="active"{#/if#}>{#$langData['siteConfig'][34][5][2]#}</li>  {#*    周二   *#}
				<li data-id="3"{#if $openweek && in_array(3, $openweek)#} class="active"{#/if#}>{#$langData['siteConfig'][34][5][3]#}</li>  {#*    周三   *#}
				<li data-id="4"{#if $openweek && in_array(4, $openweek)#} class="active"{#/if#}>{#$langData['siteConfig'][34][5][4]#}</li>  {#*    周四   *#}
				<li data-id="5"{#if $openweek && in_array(5, $openweek)#} class="active"{#/if#}>{#$langData['siteConfig'][34][5][5]#}</li>  {#*    周五   *#}
				<li data-id="6"{#if $openweek && in_array(6, $openweek)#} class="active"{#/if#}>{#$langData['siteConfig'][34][5][6]#}</li>  {#*    周六   *#}
				<li data-id="7"{#if $openweek && in_array(7, $openweek)#} class="active"{#/if#}>{#$langData['siteConfig'][34][5][0]#}</li>  {#*    周日   *#}
				<li data-id="0">{#$langData['siteConfig'][6][28]#}</li>  {#*    全选   *#}
			</ul>
		</div>
	</div>




<script type='text/javascript' src='{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}'></script>
<script src="{#$cfg_staticPath#}js/webuploader/webuploader.js?v={#$cfg_staticVersion#}" type="text/javascript"></script>
<script src="{#$templets_skin#}js/gz-info.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$templets_skin#}js/upload.js?v={#$cfg_staticVersion#}"></script>
<script src='{#$cfg_staticPath#}js/ui/mobiscroll.custom-3.0.0-beta4.js?v={#$cfg_staticVersion#}'></script>
<script src="{#$templets_skin#}js/business-config.js?v={#$cfg_staticVersion#}" charset="utf-8"></script>
</body>
</html>
