<!DOCTYPE html>
{#$payname = ''#}
{#siteConfig action="payment"#}
{#if $row.pay_code == "huoniao_bonus"#}
{#$payname = {#$row.pay_name#}#}
{#/if#}
{#/siteConfig#}

<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$payname#}</title>
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" href="{#$templets_skin#}css/consume.css?v={#$cfg_staticVersion#}" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';
	var hideFileUrl = {#$cfg_hideUrl#};
	var recordurl = "{#getUrlPath service='member' type='user' template='consumeDetail'#}";
</script>
</head>
<body>

{#$pageTitle="{#$payname#}"#}
{#include file="top.html"#}
<div class="xfWrap">
	<div class="conTop">
		<h4>我的{#$payname#}({#echoCurrency type='short'#})</h4>
		<p class="xfmoney">{#$bonus#}</p>
		<a href="{#getUrlPath service='member' type='user' template='recharge'#}" class="recharge">我要充值</a>
		<ul class="fn-clear">
			<li>
				<p>本月已用额度({#echoCurrency type='short'#})</p>
				<strong>{#$usebonus#}</strong>
			</li>
			<li>
				<p>剩余消费额度({#echoCurrency type='short'#})</p>
				<strong>{#$surplusbonus#}</strong>
			</li>
		</ul>
	</div>
</div>
<!-- 消费明细 -->
<div class="xfList">
	<h2 class="tit"><strong>消费明细</strong><a href="{#getUrlPath service='member' type='user' template='consumebill'#}">查看全部明细</a></h2>
	<ul>

	</ul>
</div>
<div class="howxf">
	<h2 class="tit"><strong>教你花{#$payname#}</strong><a href="{#getUrlPath service='siteConfig' template='protocol' title='消费金使用协议'#}" target="_blank">使用协议</a></h2>
	<dl>
		<dt><em>问</em><span>什么是{#$payname#}？怎么使用？</span></dt>
		<dd>{#$huoniao_bonus_rule#}</dd>
	</dl>
</div>

<script type='text/javascript' src='{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}'></script>
<script type="text/javascript" src="{#$templets_skin#}js/consume.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
