<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="{#$cfg_soft_lang#}">
    <title>商家服务</title>{#* 商家入驻 *#}
    <meta name="keywords" content="{#$car_keywords#}">
    <meta name="description" content="{#$car_description#}">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/fuwu.css?v={#$cfg_staticVersion#}">
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/zepto.min.js?v={#$cfg_staticVersion#}"></script>
    <script type="text/javascript" src="{#$cfg_staticPath#}js/vue/vue.min.js?v={#$cfg_staticVersion#}"></script>

    <script>
    var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$car_channelDomain#}', staticPath = '{#$cfg_staticPath#}', templets_skin = '{#$templets_skin#}';
    var hideFileUrl = {#$cfg_hideUrl#};
    var cookiePre = '{#$cfg_cookiePre#}';
    var businessConfig = '{#json_encode($businessConfig)#}'
    var busiDomain = '{#$member_busiDomain#}';
    var iosVirtual= {#$cfg_iosVirtualPaymentState|default:0#}; //ios小程序端虚拟支付 只在小程序端起作用
    var cfg_iosVirtualPaymentTip = '{#$cfg_iosVirtualPaymentTip#}'
    </script>
</head>
<body>
    {#$pageTitle = '商家服务'#} {#*开通记录 *#}
    {#include file="../../siteConfig/touch_top.html"#}
    <div class="page" id="page" v-cloak>
        <div class="conBox">
            <div class="titleCon">
                <h1>开通商家会员</h1>
                <p>开通即享对应行业商家全部经营权益</p>
            </div>

            <!-- 外卖和商城 -->
            <div class="modBox specialBox">
                <div class="vicon"><img src="{#$templets_skin#}images/enter/v_icon.png" alt=""></div>
                <ul>
                    <li v-for="(item,key) in topObj" >
                        <a :href="`{#$member_busiDomain#}/servicemeal.html?mod=${key}`" >
                            <div class="mod_icon"><img :src="item.icon" alt=""></div>
                            <div class="mod_info">
                                <h4>{{item.title}}</h4>
                                <p>{{item.note}}</p>
                            </div>
                        </a>
                    </li>
                    <!-- <li v-if="businessConfig.store['shop']">
                        <a href="{#$member_busiDomain#}/servicemeal.html?mod=shop">
                            <div class="mod_icon"><img :src="businessConfig.store['shop'].icon" alt=""></div>
                            <div class="mod_info">
                                <h4>{{businessConfig.store['shop'].title}}</h4>
                                <p>{{businessConfig.store['shop'].note}}</p>
                            </div>
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>
        <div class="conBox bgBox">
            <div class="h4">更多商家套餐</div>
            <ul class="modBox modUl"> 
                {#if in_array("job", $installModuleArr)#}
                <li class="mod jobMod">
                    <a :href="`{#$cfg_basehost#}/supplier/job`" class="mod_link">
                        <div class="mod_info">
                            <h4>在线招聘</h4>
                            <p>线上沟通，邀请面试<br>随时随地招人才 </p>
                        </div>
                        <div class="supplier">
                            <h5>招聘工作台></h5>
                            <div class="mod_icon"><img src="/static/images/admin/nav/job.png" alt=""></div>
                        </div>
                    </a>
                </li>
                {#/if#}
                <template v-for="(item,key) in bottomObj" :key="key">
                    <li  class="mod" >
                        <a :href="`{#$member_busiDomain#}/servicemeal.html?mod=${key}`" class="mod_link">
                            <div class="mod_info">
                                <h4>{{item.title}}</h4>
                                <p>{{item.note}}</p>
                            </div>
                            <div class="mod_icon"><img :src="item.icon" alt=""></div>
                        </a>
                    </li>
                </template>
                
            </ul>
        </div>
        <div class="conBox bgBox gradient" v-if="privileges_no && (privileges_no['busi'] && privileges_no['busi'].length || (privileges_no['net'] && privileges_no['net'].length) )">
            <div class="h4">自选商家特权</div>
            <div class=" busiUl">
                <ul class="busiBox" v-if="privileges_no['busi'] && privileges_no['busi'].length">
                    <template  v-for="item in privileges_no['busi']"  :key="'busi_'+ ind">
                        <li class="busi">
                            <div class="mod_info">
                                <h4>{{item.title}}</h4>
                                <p class="price"><b>{{item.price}}</b>{#echoCurrency type="short"#}/{{businessConfig.joinTimesUnit == 0 ? '月' : '年'}}</span></p>
                            </div>
                            <div class="open_btn {#if $cfg_iosVirtualPaymentState#}iOS_miniprogram_nocash{#/if#}" @click="showSlidePop(item)">立即开通</div>
                        </li>
                    </template>
                </ul>
                <ul class="busiBox" style="margin-top: 0;" v-if="privileges_no['net'] && privileges_no['net'].length">
                    <template   v-for="item in privileges_no['net']"  :key="'net_'+ ind">
                        <li  clsss="busi fullBusi" >
                            <div class="mod_info">
                                <h4>{{item.title}}<span class="price"><b>{{item.price}}</b>{#echoCurrency type="short"#}/{{businessConfig.joinTimesUnit == 0 ? '月' : '年'}}</span></h4>
                                <p>{{item.note}}</p>
                            </div>
                            <div class="open_btn {#if $cfg_iosVirtualPaymentState#}iOS_miniprogram_nocash{#/if#}" @click="showSlidePop(item)">立即开通</div>
                        </li>
                    </template>
                </ul>
               
            </div>
        </div>
        <div class="conBox bgBox" v-if="serviceList && serviceList.length">
            <div class="h4">更多合作/服务</div>
            <ul class="sevBox sevUl"> 
                <li class="sev" v-for="item in serviceList">
                    <a class="sev_info" :href="item.link || 'javascript:;'">
                        <div class="box">
                            <div class="h4">
                                <h4>{{item.title}}</h4>
                            </div>
                            <p>{{item.desc}}</p>
                        </div>
                    </a>
                </li>
            </ul>
            <p class="loadTip">更多服务敬请期待…</p>
        </div>

        <div class="popBox">
            <div class="pop_mask_inner" v-show="slidePop "></div>
            <div :class="['popConBox',{'show':slidePop}]">
                <a href="javascript:;" class="close_pop" @click="slidePop = false;"></a>
                <div class="pop_header">
                    <h3>{{xu_modInfo.title}}</h3>
                    <p>选择商家会员开通时长</p>
                </div>
                <div class="pop_con">
                    <div class="ulBox">
                        <ul>
                            <li :class="['tc',{'on_chose':xu_choseTime.times == item.times}]" v-for="item in joinTimes" @click="changeTc(item)">
                                <div class="time">{{item.times}}{{businessConfig.joinTimesUnit ? '年' : '个月'}}</div>
                                <div class="price">
                                    <div class="currPrice">
                                        <span>{#echoCurrency type="symbol"#}</span><b>{{parseFloat((xu_modInfo.price * item.times * item.discount / 10).toFixed(2))}}</b>
                                    </div>
                                    <p v-if="xu_modInfo.mprice > xu_modInfo.price">{#echoCurrency type="symbol"#}{{parseFloat((xu_modInfo.mprice * item.times).toFixed(2))}}</p>
                                </div>
                                <div class="fuli" v-if="item.discount">立减{{parseFloat((xu_modInfo.price * item.times * ( 10 - item.discount) / 10).toFixed(2))}}元</div>
                                <div class="fuli" v-else-if="item.point">送{{item.point}}{#$cfg_pointName#}</div>
                            </li>
                           
                        </ul>
                    </div>
                </div>
                <div class="pop_foot">
                    <p :class="['tip p',{'agree':agree}]"><span @click="agree = !agree">请阅读并同意</span><a href="#">《商家入驻服务协议》</a></p>
                    <a href="javascript:;" class="btn" @click="buyModule()"><span v-if="xu_modInfo.totalAmount" >{#echoCurrency type="symbol"#}{{xu_modInfo.totalAmount}}</span> 立即开通</a>
                </div>
            </div>
            <div class="pop_mask_inner" v-show="agreePop "></div>

            <div class="popCenter" v-if="agreePop ">
                <div :class="['popCon',{'show':agreePop}]">
                    <h4>商家入驻服务协议</h4>
                    <p>请阅读并同意《商家入驻服务协议》</p>
                    <div class="btnsGroup">
                        <a href="javascript:;" class="agree_btn" @click="agree = true;agreePop = false;buyModule()">同意并继续</a>
                        <a href="javascript:;" class="refuse_btn" @click="agreePop = false">不同意</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#include file="{#$HUONIAOROOT#}/templates/member/touch/public-pay-pop.html"#}
</body>
<script type="text/javascript" src="{#$templets_skin#}js/fuwu.js?v={#$cfg_staticVersion#}"></script>
</html>