<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{#$langData['siteConfig'][23][5]#}</title>  {#*全部订单 *#}
<meta name="wap-font-scale" content="no">
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/enter-order.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$cfg_staticPath#}js/core/zepto.min.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
</head>
<body>

{#$pageTitle = "{#$langData['siteConfig'][23][5]#}"#}   {#*全部订单 *#}
{#include file="top.html"#}

<div class="list">
  <div class="item">
    <p class="item-tit fn-clear">{#$langData['siteConfig'][19][308]#}:112023455121<span>2017-6-2</span></p>   {#*订单号 *#}
    <ul class="item-module">
      {#*新闻投稿 *#}
      <li><span class="item-1">{#$langData['siteConfig'][19][235]#}</span><span class="item-2">4{#$langData['siteConfig'][13][14]#}{#*年 *#}</span><span class="item-3">{#echoCurrency type='symbol'#}3890.00</span></li>

      {#*新闻投稿 *#}
      <li><span class="item-1">{#$langData['siteConfig'][19][235]#}</span><span class="item-2">4{#$langData['siteConfig'][13][14]#}{#*年 *#}</span><span class="item-3">{#echoCurrency type='symbol'#}3890.00</span></li>

      {#*新闻投稿 *#}
      <li><span class="item-1">{#$langData['siteConfig'][19][235]#}</span><span class="item-2">4{#$langData['siteConfig'][13][14]#}{#*年 *#}</span><span class="item-3">{#echoCurrency type='symbol'#}3890.00</span></li>
    </ul>
    <ul class="item-info">
      {#*总计 *#}
      <li class="fn-clear">{#$langData['siteConfig'][19][664]#}<span class="blue">{#echoCurrency type='symbol'#}10000.00</span></li>

      {#*优惠金额 *#}
      <li class="fn-clear">{#$langData['siteConfig'][19][886]#}<span>{#echoCurrency type='symbol'#}700.00</span></li>

      {#*现金余额 *#}
      <li class="fn-clear">{#$langData['siteConfig'][19][667]#}<span>{#echoCurrency type='symbol'#}1000.00</span></li>

      {#*剩余支付方式(支付宝) *#}
      <li class="fn-clear">{#$langData['siteConfig'][39][63]#}<span>{#echoCurrency type='symbol'#}8300.00</span></li>
    </ul>
  </div>
  <div class="item">
    <p class="item-tit fn-clear">{#$langData['siteConfig'][19][308]#}:112023455121<span>2017-6-2</span></p>{#*订单号 *#}
    <ul class="item-module">
      {#*新闻投稿 *#}
      <li><span class="item-1">{#$langData['siteConfig'][19][235]#}</span><span class="item-2">4{#$langData['siteConfig'][13][14]#}{#*年 *#}</span><span class="item-3">{#echoCurrency type='symbol'#}3890.00</span></li>

      {#*新闻投稿 *#}
      <li><span class="item-1">{#$langData['siteConfig'][19][235]#}</span><span class="item-2">4{#$langData['siteConfig'][13][14]#}{#*年 *#}</span><span class="item-3">{#echoCurrency type='symbol'#}3890.00</span></li>
    </ul>
    <ul class="item-info">
      {#*总计 *#}
      <li class="fn-clear">{#$langData['siteConfig'][19][664]#}<span class="blue">{#echoCurrency type='symbol'#}10000.00</span></li>

      {#*优惠金额 *#}
      <li class="fn-clear">{#$langData['siteConfig'][19][886]#}<span>{#echoCurrency type='symbol'#}700.00</span></li>

      {#*现金余额 *#}
      <li class="fn-clear">{#$langData['siteConfig'][19][667]#}<span>{#echoCurrency type='symbol'#}1000.00</span></li>

      {#*剩余支付方式(支付宝) *#}
      <li class="fn-clear">{#$langData['siteConfig'][39][63]#}<span>{#echoCurrency type='symbol'#}8300.00</span></li>
    </ul>
  </div>
  <div class="item">
    <p class="item-tit fn-clear">{#$langData['siteConfig'][19][308]#}:112023455121<span>2017-6-2</span></p>{#*订单号 *#}
    <ul class="item-module">
      {#*新闻投稿 *#}
      <li><span class="item-1">{#$langData['siteConfig'][19][235]#}</span><span class="item-2">4{#$langData['siteConfig'][13][14]#}{#*年 *#}</span><span class="item-3">{#echoCurrency type='symbol'#}3890.00</span></li>
    </ul>
    <ul class="item-info">
      {#*总计 *#}
      <li class="fn-clear">{#$langData['siteConfig'][19][664]#}<span class="blue">{#echoCurrency type='symbol'#}10000.00</span></li>

      {#*优惠金额 *#}
      <li class="fn-clear">{#$langData['siteConfig'][19][886]#}<span>{#echoCurrency type='symbol'#}700.00</span></li>

      {#*现金余额 *#}
      <li class="fn-clear">{#$langData['siteConfig'][19][667]#}<span>{#echoCurrency type='symbol'#}1000.00</span></li>

      {#*剩余支付方式(支付宝) *#}
      <li class="fn-clear">{#$langData['siteConfig'][39][63]#}<span>{#echoCurrency type='symbol'#}8300.00</span></li>
    </ul>
  </div>
</div>


</body>
</html>
