  <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<title>{#$langData['siteConfig'][0][7]#} </title>
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/mcenter/fabu-house-baobei.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$cfg_staticPath#}js/core/zepto.min.js"></script>
<script type="text/javascript">
  var masterDomain = '{#$cfg_basehost#}', cookiePre = '{#$cfg_cookiePre#}';
  var joinBusiUrl = '{#getUrlPath service='member' type='user' template='enter'#}';
  var mdList = {#json_encode($memberModule.userModuleList)#};
  var userinfo = {#json_encode($userinfo)#}
  var baobeiList = "{#getUrlPath service='member' type='user' template='house_baobei'#}";

  var zjusercom = '{#$zjusercom#}';
</script>
</head>

<body>
  <div class="page" id="page">
    {#include file="../../siteConfig/touch_top.html" pageTitle='添加报备' #}
    <form class="formbox" id="form">
      <div class="loupan_info">
        <div class="loupan_detail">
          <h3>{#$loupantitle#}</h3>
          <p>{#$addr#}</p>
        </div>
        <div class="loupan_tip">
          <s class="dot"></s>
          <h4>{#$fenxiaotitle#}</h4>
          <p>{#$fenxiaotime#}前成交有效</p>
        </div>
      </div>
      <div class="form_box">
        <div class="inpbox required">
          <label for="">客户信息</label>
          <div class="inp">
            <input type="text" name="username" value="" placeholder="请填写客户姓名">
          </div>
          <div class="inp">
            <input type="text" name="usertel" value="" placeholder="请填写客户电话">
          </div>
          <input type="hidden" name="loupanid" class="inp" id="loupanid"  value="{#$loupanid#}" />
        </div>
        <div class="inpbox">
          <label for="">备注说明</label>
          <div class="inp">
            <textarea name="note" placeholder="如：签约情况、付款/贷款情况、楼栋/车位信息等"></textarea>
          </div>
        </div>
        <div class="inpbox required">
          <label for="">报备人信息</label>
          <div class="inp">
            <input type="text" readonly name="jjr" value="{#$userinfo.nickname#}" placeholder="请填写客户姓名">
          </div>
          <div class="inp">
            <input type="text" readonly name="tel" value="{#$userinfo.phone#}" placeholder="请填写客户电话">
          </div>
        </div>
      </div>
      <div class="bottomBox">
        <a href="javascript:;" class="submit" @click="formSubmit">确认提交</a>
      </div>
    </form>
  </div>

<script type='text/javascript' src='{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}'></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/vue/vue.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/vue/axios.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/mcenter/house_fx.js?v={#$cfg_staticVersion#}"></script>


</body>
</html>
