  <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="x-rim-auto-match" content="none">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<title>{#$langData['siteConfig'][0][7]#} </title>
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/mcenter/index_info.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$cfg_staticPath#}js/core/zepto.min.js"></script>
<script type="text/javascript">
  var masterDomain = '{#$cfg_basehost#}', cookiePre = '{#$cfg_cookiePre#}';
  var joinBusiUrl = '{#getUrlPath service='member' type='user' template='enter'#}';
  var mdList = {#json_encode($memberModule.userModuleList)#};
  var userinfo = {#json_encode($userinfo)#};

  	var serviceTime = "{#$smarty.now#}";
  	var jsTime = parseInt((new Date()).valueOf()/1000);
	var timeOffset = parseInt(jsTime - serviceTime);
</script>
{#if !$cfg_business_state#}
<style>
    .left_link {visibility: hidden;}
</style>
{#/if#}
</head>

<body class="shopBus">
	<div class="page_shop" id="self">
		<div class="bgbox" {#if $isByteMiniprogram#} style="height: 5rem;" {#/if#}>
			{#if $memberModule && (count($memberModule.userModuleList)>1 || count($memberModule.userModuleList)==0)#}
			<div class="top_box">
				{#if $userinfo#}
				{#*个人升级到商家*#}
					{#if $userinfo.userType == 1#}
						{#if !$is_ios_app || !$cfg_ios_shelf#}
						<a class="left_link {#if $cfg_iosVirtualPaymentState#}iosVirtualPaymentHide{#/if#}" href="{#getUrlPath service='member' type='user' template='enter'#}{#if $is_app#}?appIndex=1&appFullScreen{#/if#}#join">{#$langData['siteConfig'][50][0]#}></a>  {#*  切换商家版  *#}
						{#/if#}
					{#else#}
						<a class="left_link" href="{#getUrlPath service='member'  template='shop'  param="id={#$shopid#}"#}">{#$langData['siteConfig'][50][0]#}></a>  {#*  切换商家版  *#}
					{#/if#}
				{#else#}
				<a class="left_link" href="{#$member_busiDomain#}/?currentPageOpen=1&module=shop{#if $is_app#}&appIndex=1&appFullScreen{#/if#}">{#$langData['siteConfig'][50][0]#}></a>  {#*  切换商家版  *#}
				{#/if#}
				<a class="right_link" href="{#getUrlPath service='member' type='user' template='setting'#}"></a>
			</div>
			{#else#}
			<div class="top_box">
				{#if $userinfo#}
				{#*个人升级到商家*#}
					{#if $userinfo.userType == 1#}
						{#if !$is_ios_app || !$cfg_ios_shelf#}
						<a class="left_link {#if $cfg_iosVirtualPaymentState#}iosVirtualPaymentHide{#/if#}" href="{#getUrlPath service='member' type='user' template='enter'#}{#if $is_app#}?appIndex=1&appFullScreen{#/if#}#join">{#$langData['siteConfig'][50][0]#}></a>  {#*  切换商家版  *#}
						{#/if#}
					{#else#}
						<a class="left_link" href="{#getUrlPath service='member'  template='shop' param="id={#$shopid#}"#}">{#$langData['siteConfig'][50][0]#}></a>  {#*  切换商家版  *#}
					{#/if#}
				{#else#}
				<a class="left_link" href="{#$member_busiDomain#}/?currentPageOpen=1&module=shop{#if $is_app#}&appIndex=1&appFullScreen{#/if#}">入驻商家版></a>  {#*  切换商家版  *#}
				{#/if#}
				<a class="right_link" href="{#getUrlPath service='member' type='user' template='setting'#}"></a>
			</div>
			{#/if#}
			<div class="userinfo_box">
				<div class="uhead_box">
					{#if $userinfo#}
                    <a class="uheadImg" href="{#getUrlPath service='member' type='user' template='profile'#}"><img src="{#$userinfo.photo#}" onerror="this.src='/static/images/noPhoto_60.jpg'" alt=""></a>
					<a class="uinfo"  href="{#getUrlPath service='member' type='user' template='profile'#}">
						<h3>{#$userinfo.nickname#}</h3>
						<p>用户名：{#$userinfo.username#}</p>
					</a>
					{#else#}
                    <a class="uheadImg" href="{#getUrlPath service='siteConfig' template='login'#}"><img src="/static/images/noPhoto_60.jpg" alt=""></a>
					<a class="uinfo"  href="{#getUrlPath service='siteConfig' template='login'#}">
						<h3>登录/注册</h3>
					</a>
					{#/if#}
				</div>
			</div>

			<div class="module_data">
				<ul>
					<li>
						<a href="{#$member_userDomain#}/collection.html?module=shop&type=detail">
							<h4>{#$kechengzcount#}</h4>
							<p>收藏商品</p>
						</a>
					</li>
					<li>
						<a href="{#$member_userDomain#}/collection.html?module=shop&type=store-detail">
							<h4>{#$storegzcount#}</h4>
							<p>关注店铺</p>
						</a>
					</li>
					<li>
						<a href="{#$member_userDomain#}/history?module=shop">
							<h4>{#$todayzjcount#}</h4>
							<p>浏览足迹</p>
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="content_box">
			<!-- 我的分店 s-->
			{#if $branch#}
			<div class="myfd">
				<div class="fdcon">
					<div class="fdimg"><img src="{#$branchlogo#}" alt="" onerror="javascript:this.src='{#$cfg_staticPath#}images/noPhoto_100.jpg';this.onerror=this.src='{#$cfg_staticPath#}images/shop.png';"></div>
					<div class="fdinfo">
						<h2>{#$branchtitle#}</h2>
						<p><span class="people">{#$branchpeople#}</span> · <span>{#$branchtel#}</span></p>
					</div>
				</div>
				<a href="javascript:;" class="seeFd">我的分店<i></i></a>
			</div>
			<dl class="con first_con">
				<dt>
					<h5>分店订单</h5>
					<a href="{#getUrlPath service="member" template="order-shop" param="branchid={#$branchid#}"#}">查看全部订单</a>
				</dt>
				<dd>
					<ul class="orderType">
						<li class="newTip">
							<a href="{#getUrlPath service="member" template="order-shop" param="state=0&branchid={#$branchid#}"#}">
								<div class="icon_box"><img src="{#$templets_skin#}images/mcenter/busforPay.png" alt=""></div>
								<p>待支付</p>
							</a>
						</li>
						<li>
							<a href="{#getUrlPath service="member" template="order-shop" param="state=1&branchid={#$branchid#}"#}">
								<div class="icon_box"><img src="{#$templets_skin#}images/mcenter/forsure.png" alt=""></div>
								<p>待确认</p>
							</a>
						</li>
						<li>
							<a href="{#getUrlPath service="member" template="order-shop" param="state=6,2&branchid={#$branchid#}"#}">
								<div class="icon_box"><img src="{#$templets_skin#}images/mcenter/forShou.png" alt=""></div>
								<p>配送中</p>
							</a>
						</li>
						<li>
							<a href="{#getUrlPath service="member" template="order-shop" param="state=4,7&branchid={#$branchid#}"#}">
								<div class="icon_box"><img src="{#$templets_skin#}images/mcenter/forTui.png" alt=""></div>
								<p>退款/售后</p>
							</a>
						</li>
					</ul>

				</dd>
			</dl>
			{#/if#}
			<!-- 我的分店 e-->
			<!-- 我的订单 -->
			<dl class="con first_con">
				<dt>
					<h5>我购买的订单</h5>
					<a href="{#$member_userDomain#}/order-shop.html" class="toMini" data-temp="order" data-module="mcenter" data-param="mod=shop">查看全部订单</a>
				</dt>
				<dd>
					<ul class="orderType">
						<li>
							<a href="{#$member_userDomain#}/order-shop.html?state=0" class="toMini" data-temp="order" data-module="mcenter" data-param="mod=shop&state=0">
								<div class="icon_box"><img src="{#$templets_skin#}images/mcenter/forPay.png" alt=""></div>
								<p>待付款</p>
							</a>
						</li>

						
						<li class="newTip">
							<a href="{#$member_userDomain#}/order-shop.html?state=1" class="toMini" data-temp="order" data-module="mcenter" data-param="mod=shop&state=1">
								<div class="icon_box"><img src="{#$templets_skin#}images/mcenter/forFa.png" alt=""></div>
								<p>待发货</p>
							</a>
						</li>

						<li class="newTip">
							<a href="{#$member_userDomain#}/order-shop.html?state=6,3"  class="toMini" data-temp="order" data-module="mcenter" data-param="mod=shop&state=6,3">
								<div class="icon_box"><img src="{#$templets_skin#}images/mcenter/forUse.png" alt=""></div>
								<p>待使用</p>
							</a>
						</li>

						<li>
							<a href="{#$member_userDomain#}/order-shop.html?state=6"  class="toMini" data-temp="order" data-module="mcenter" data-param="mod=shop&state=6">
								<div class="icon_box"><img src="{#$templets_skin#}images/mcenter/forShou.png" alt=""></div>
								<p>待收货</p>
							</a>
						</li>

						<li>
							<a href="{#$member_userDomain#}/refundlist_shop.html" >
								<div class="icon_box"><img src="{#$templets_skin#}images/mcenter/forTui.png" alt=""></div>
								<p>退款/售后</p>
							</a>
						</li>
					</ul>
					{#if !empty($expTrack)#}
					<!-- <a class="latest_order" href="#">
						<h6>最新物流  <span class="order_date">{#$expTrack['datetime']#}</span></h6>
						<div class="oList fn-clear">
							<div class="oimg"><img src="{#$orderlitpic#}" alt=""></div>
							<div class="oinfo">
								<h4>{#$expTrack[0]['datetime']#}</h4>
								<p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{#$expTrack[0]['remark']#}</p>
							</div>
						</div>
					</a> -->
					{#/if#}
					{#if $proquanres !=0#}
					<div class="quanTip"><a href="{#$member_userDomain#}/order-shop.html?state=6,3"  class="toMini" data-temp="order" data-module="mcenter" data-param="mod=shop&state=6,3">
						<s></s><span>您有{#$proquanres#}个团购券即将过期，请尽快使用！</span><i></i>
					</a></div>
					{#/if#}
				</dd>
			</dl>

			<div class="proList">
				<ul>

					{#if !empty($kanjiaarr)#}
					<li class="kanLi kanprocess">
						<div class="proTop fn-clear">
							<span class="statusIng">正在砍价中</span>
							<div class="jsTime fn-clear" data-time="{#$kanjiaarr.enddate#}">
								<div>
									<i>仅剩：</i>
									<span class="day">00</span><em class="speDot">天</em>
									<span class="hour">00</span><em>时</em>
									<span class="minute">00</span><em>分</em>
									<span class="second">00</span><em>秒</em>
								</div>
							</div>
							<a href="{#getUrlPath service='shop'  template='bargain_list'#}" class="proSee toMini" data-temp="bargain_list" data-module="shop">查看全部</a>
						</div>
						<div class="proBot">
							<a href="{#$kanjiaarr.url#}" class="fn-clear toMini" data-temp="bargain_detail" data-id="{#$kanjiaarr.id#}" data-module="shop">
								<div class="proImg"><img src="{#$kanjiaarr.litpic#}" alt=""></div>
								<div class="proInfo">
									<h2>{#$kanjiaarr.title#}</h2>
									<div class="kanPro">
					                    <s style="left: 10.47%;"></s>
										<span class="kanSpan" style="left: 21%;">已砍至¥ <strong id="hasKan" data-price="56.01">{#$kanjiaarr.gnowmoney#}</strong></span>
					                    <i style="width: 10.47%;"></i>
					                </div>
									{#$gfinalmoneyarr = explode('.',$kanjiaarr.gfinalmoney)#}
					                <p class="nPrice"><em>¥</em><span>{#$gfinalmoneyarr[0]#}</span>.{#$gfinalmoneyarr[1]#}<i>可砍至</i></p>
					                <span class="gokan">继续砍价</span>
								</div>
							</a>
						</div>
					</li>
					{#/if#}

					{#if !empty($pintuanarr)#}
					<li class="tuanLi tuanprocess">
						<div class="proTop fn-clear">
							<span class="statusIng">正在拼团中</span>
							<div class="jsTime fn-clear" data-time="{#$pintuanarr.enddate#}">
								<div>
									<i>仅剩：</i>
									<span class="day">00</span><em class="speDot">天</em>
									<span class="hour">00</span><em>时</em>
									<span class="minute">00</span><em>分</em>
									<span class="second">00</span><em>秒</em>
								</div>
							</div>
							<a href="{#getUrlPath service='shop'  template='pintuan'#}" class="proSee toMini" data-temp="pintuan" data-module="shop">查看全部</a>
						</div>
						<div class="proBot">
							<a href="{#$pintuanarr.orderurl#}" class="fn-clear toMini" data-temp="dindan" data-id="{#$pintuanarr.pid#}" data-module="shop">
								<div class="proImg"><img src="{#$pintuanarr.litpic#}" alt=""></div>
								<div class="proInfo">
									<h2>{#$pintuanarr.title#}</h2>
									<div class="tuanPro fn-clear">
										<div class="tuanImg">
											{#foreach from=$pintuanarr.userarr item='upic' key = 'k'#}
											{#if $k <=2#}
											<img src="{#$upic#}" alt="" class="img{#$k+1#}">
											{#/if#}
											{#/foreach#}
										</div>
										<span>差<em>{#$pintuanarr.chanum#}</em>人</span>
					                </div>

					                <span class="goTuan">继续拼团</span>
								</div>
							</a>
						</div>
					</li>
					{#/if#}
				</ul>
			</div>

			<!-- 会员 -->
			{#if $userinfo.level > 0 && ($shoplevel || $quanstate) && 'vip'|in_array:$cfg_ucenterLinks#}
			<div class="vipTo {#if $cfg_iosVirtualPaymentState#}iosVirtualPaymentHide{#/if#}">
				<div class="left_text">
					<h3>{#$userinfo.levelName#}</h3>
					{#if $shoplevel#}
					<p>点亮标识畅享特权，更有{#$shoplevel#}折下单优惠</p>
					{#else if $quanstate #}
					<p>点亮标识畅享特权，赠券下单更优惠</p>
					{#/if#}
				</div>
				<a href="{#$member_userDomain#}/upgrade.html" class="right_to">{#$userinfo.expired|date_format:"%Y-%m-%d"#}{#$langData['siteConfig'][39][11]#} </a>
			</div>
			{#/if#}

			{#if $userinfo.userType == 2#}
			<!-- <div class="link_manage">
				<h5>商家管理<span>店铺、订单管理等请至商家后台</span></h5>
				<a href="{#$member_busiDomain#}/?currentPageOpen=1&module=shop{#if $is_app#}&appIndex=1&appFullScreen{#/if#}">立即前往</a>
			</div> -->
			{#/if#}


			

			{#if $userinfo.level=='0' && ($shoplevel || $quanstate) && 'vip'|in_array:$cfg_ucenterLinks#}
			<div class="vipTo {#if $cfg_iosVirtualPaymentState#}iosVirtualPaymentHide{#/if#}">
				<div class="left_text">
					<h3>超级VIP</h3>
					{#if $shoplevel#}
					<p>点亮标识畅享特权，更有{#$shoplevel#}折下单优惠</p>
					{#else if $quanstate #}
					<p>点亮标识畅享特权，赠券下单更优惠</p>
					{#/if#}
				</div>
				<a href="{#$member_userDomain#}/upgrade.html" class="right_btn">开通会员</a>
			</div>
			{#/if#}



			<dl class="con first_con">
				<dt><h5>常用功能</h5></dt>
				<dd>
					<ul class="orderType">
						{#if $cfg_fenxiaoState && 'fenxiao'|in_array:$cfg_ucenterLinks#}
						<li>
							<a href="{#getUrlPath service='member' type='user' template='fenxiao'#}">
								<div class="icon_box"><img src="{#$templets_skin#}images/mcenter/hehuo.png" alt=""></div>
								<p>{#$cfg_fenxiaoName#}</p>
							</a>
						</li>
						{#/if#}
						{#if !$cfg_ios_shelf#}
						<li class="newTip">
							<a href="{#if $userinfo#}{#getUrlPath service='member' type='user' template='pocket' param='dtype=0'#}{#else#}{#getUrlPath service='member' type='user' template='login' param="furl={#getUrlPath service='member' type='user' template='pocket' param='dtype=0'#}"#}{#/if#}">
								<div class="icon_box"><img src="{#$templets_skin#}images/mcenter/pocket.png" alt=""></div>
								<p>钱包</p>
							</a>
						</li>
						{#/if#}
						<li>
							<a href="{#getUrlPath service='member' type='user' template='address'#}">
								<div class="icon_box"><img src="{#$templets_skin#}images/mcenter/address.png" alt=""></div>
								<p>收货地址</p>
							</a>
						</li>
						 <li>
							<a href="{#getUrlPath service='member' type='user' template='quan_shop'#}">
								<div class="icon_box"><img src="{#$templets_skin#}images/mcenter/quan2.png" alt=""></div>
								<p>优惠券</p>
							</a>
						</li>
						{#if $cfg_kefu_touch_url#}
						<li>
							<a href="{#$cfg_kefu_touch_url#}">
								<div class="icon_box"><img src="{#$templets_skin#}images/mcenter/kefu.png" alt=""></div>
								<p>客服</p>
							</a>
						</li>
						{#/if#}
					</ul>
					{#if $userinfo && $cfg_qiandao_state#}
					<!-- 签到 -->
					<div class="qd_box">
						<span>{#$langData['siteConfig']['22'][112]#}{#$totalQiandao#}{#$langData['siteConfig']['13'][6]#}，{#if $todayQiandao#}{#$langData['siteConfig'][22][135]#}{#else#}{#$langData['siteConfig'][22][136]#}{#/if#}</span>  {#* 总签到-天，今日已签到，今日还未签到 *#}
						<a href="{#getUrlPath service='member' type='user' template='qiandao'#}">{#if $todayQiandao#}{#$langData['siteConfig'][6][175]#}{#else#}{#$langData['siteConfig'][50][10]#}{#/if#}</a>   {#* 去签到 *#}
					</div>
					{#/if#}
				</dd>
			</dl>
		</div>

	</div>
	<!-- 分店弹窗 s-->
	<div class="fdmask"></div>
	<div class="fdAlert">
		<div class="branchTop">
			<div class="branchImg"><img src="{#$branchlogo#}" alt="" onerror="javascript:this.src='{#$cfg_staticPath#}images/noPhoto_100.jpg';this.onerror=this.src='{#$cfg_staticPath#}images/shop.png';"></div>
			<div class="branchTit">
				<h2>{#$branchtitle#}</h2>
				<p>所属总店：{#$stitle#}</p>
			</div>
		</div>
		<div class="branchInfo">
			<dl>        
				<dt>分店名称：</dt><dd>{#$branchtitle#}</dd>
			</dl>
			<dl>
				<dt>所属行业：</dt><dd>{#$branchindustry#}</dd>
			</dl>
			<dl>
				<dt>商家地址：</dt><dd>{#$branchaddress#}</dd>
			</dl>
			<dl>
				<dt>主营项目：</dt><dd>{#$branchproject#}</dd>
			</dl>
			<dl>
				<dt>联系人：</dt><dd>{#$branchpeople#}</dd>
			</dl>
			<dl>
				<dt>联系电话：</dt><dd>{#if $branchtel#}{#$branchtel#}{#else#}-{#/if#}</dd>
			</dl>
			{#if $branchqq#}
			<dl>
				<dt>联系QQ：</dt><dd>{#if $branchqq#}{#$branchqq#}{#else#}-{#/if#}</dd>
			</dl>
			{#/if#}
			{#if $branchwechatcode#}
			<dl>
				<dt>微信号：</dt><dd>{#if $branchwechatcode#}{#$branchwechatcode#}{#else#}-{#/if#}</dd>
			</dl>
			{#/if#}
		</div>
		<a href="javascript:;" data-url="{#getUrlPath service='shop' template='store-detail' id=$storeid#}" class="goStore toMini" data-temp="store-detail" data-module="shop" data-id="{#$storeid#}">前往总店主页</a>
		
	</div>
	<!-- 分店弹窗 e-->

	{#include file="../../siteConfig/touch_bottom_5.0.html" active="fifthicon" bottom_module="shop"#}
<script type='text/javascript' src='{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}'></script>
<script type="text/javascript" src="{#$templets_skin#}js/mcenter/index_info.js?v={#$cfg_staticVersion#}"></script>


</body>
</html>
