<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<title>{#$langData['siteConfig'][0][7]#} </title>
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/mcenter/index_info.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$cfg_staticPath#}js/core/zepto.min.js"></script>
<script type="text/javascript">
  var masterDomain = '{#$cfg_basehost#}', cookiePre = '{#$cfg_cookiePre#}';
  var joinBusiUrl = '{#getUrlPath service='member' type='user' template='enter'#}';
  var mdList = {#json_encode($memberModule.userModuleList)#};
  var userinfo = {#json_encode($userinfo)#}
</script>

{#if $cfg_ios_shelf#}
<style>
	.header {visibility: hidden!important;}
</style>
{#/if#}
{#if !$cfg_business_state#}
<style>
    .left_link {visibility: hidden;}
</style>
{#/if#}
</head>

<body>
	<div class="page_waimai lower">
		<div class="bgbox {#if $userinfo#}logined{#/if#}">
			{#if $memberModule && (count($memberModule.userModuleList)>1 || count($memberModule.userModuleList)==0)#}
            {#if $isByteMiniprogram#}
            <script src="https://lf1-cdn-tos.bytegoofy.com/goofy/developer/jssdk/jssdk-1.0.3.js?v={#$cfg_staticVersion#}" type="text/javascript"></script>
            {#/if#}
			<div class="top_box">
				{#if $userinfo#}
				{#*个人升级到商家*#}
					{#if $userinfo.userType == 1#}
						{#if !$is_ios_app || !$cfg_ios_shelf#}
						<a class="left_link {#if $cfg_iosVirtualPaymentState#}iosVirtualPaymentHide{#/if#}" href="{#getUrlPath service='member' type='user' template='enter'#}{#if $is_app#}?appIndex=1&appFullScreen{#/if#}#join">{#$langData['siteConfig'][50][0]#}></a>  {#*  切换商家版  *#}
						{#/if#}
					{#else#}
						<a class="left_link" href="{#$member_busiDomain#}/?currentPageOpen=1&module=waimai{#if $is_app#}&appIndex=1&appFullScreen{#/if#}">{#$langData['siteConfig'][50][0]#}></a>  {#*  切换商家版  *#}
					{#/if#}
				{#else#}
				<a class="left_link" href="{#$member_busiDomain#}/?currentPageOpen=1&module=waimai{#if $is_app#}&appIndex=1&appFullScreen{#/if#}">{#$langData['siteConfig'][50][0]#}></a>  {#*  切换商家版  *#}
				{#/if#}
				<a class="right_link" href="{#getUrlPath service='member' type='user' template='setting'#}"></a>
			</div>
			{#else#}
			{#include file="../../siteConfig/touch_top.html" pageTitle='' headTheme="transparent"#}
			{#/if#}
			<div class="userinfo_box">
				<div class="uhead_box">
					<a class="uheadImg" href="{#getUrlPath service='member' type='user' template='profile'#}"><img src="{#$userinfo.photo#}" onerror="this.src='/static/images/noPhoto_60.jpg'" alt=""></a>
					{#if $userinfo#}
					<a class="uinfo"  href="{#getUrlPath service='member' type='user' template='profile'#}">
						<h3>{#$userinfo.nickname#}</h3>
						<p>用户名：{#$userinfo.username#}</p>
					</a>
					{#else#}
					<a class="uinfo"  href="{#getUrlPath service='member' type='user' template='login'#}">
						<h3>登录/注册</h3>
					</a>
					{#/if#}
				</div>
			</div>

		</div>

		<div class="content_box">

			{#if !$cfg_ios_shelf && 'vip'|in_array:$cfg_ucenterLinks#}
			<!-- vip -->
			{#if $userinfo.level > 0#}
			<div class="vipTo {#if $cfg_iosVirtualPaymentState#}iosVirtualPaymentHide{#/if#}">
				<div class="left_text">
					<h3>{#$userinfo.levelName#}</h3>
					<p>美食仅需{#$waimaizk#}折起{#if $quan>0#}，充即送订餐优惠券{#/if#}</p>
				</div>
				<a href="{#$member_userDomain#}/upgrade.html" class="right_to">{#$userinfo.expired|date_format:"%Y-%m-%d"#}{#$langData['siteConfig'][39][11]#} </a>{#* 到期 *#}
			</div>
			{#else#}
			<div class="vipTo {#if $cfg_iosVirtualPaymentState#}iosVirtualPaymentHide{#/if#}">
				<div class="left_text">
					<h3>超级VIP</h3>
					<p>美食仅需{#$waimaizk#}折起{#if $quan>0#}，充即送订餐优惠券{#/if#}</p>
				</div>
				<a href="{#$member_userDomain#}/upgrade.html" class="right_btn">开通会员</a>
			</div>
			{#/if#}
			{#if $memberModule && count($memberModule.userModuleList)==1#}
			<div class="link_manage">
				<h5>商家管理<span>店铺、订单管理等请至商家后台</span></h5>
				<a href="{#$member_busiDomain#}">立即前往</a>
			</div>
			{#/if#}
			{#/if#}

			<!-- 我的外卖 -->
			<dl class="con first_con">
				<dt>
					<h5>我的外卖</h5>
				</dt>
				<dd>
					<ul class="orderType">
						{#if !$cfg_ios_shelf && $userinfo#}
						<li>
							<a href="{#getUrlPath service='member' type='user' template='pocket' param="dtype=0"#}">
								<div class="icon_box"><img src="{#$templets_skin#}images/mcenter/pocket_waimai.png" alt=""></div>
								<p>钱包</p>
							</a>
						</li>
						{#/if#}
						<li>
							<a href="{#$member_userDomain#}/collection.html?module=waimai">
								<div class="icon_box"><img src="{#$templets_skin#}images/mcenter/shou_waimai.png" alt=""></div>
								<p>收藏的店</p>
							</a>
						</li>
						<li>
							<a href="{#getUrlPath service='member' type='user' template='address_waimai' param='from=user'#}">
								<div class="icon_box"><img src="{#$templets_skin#}images/mcenter/address_waimai.png" alt=""></div>
								<p>我的地址</p>
							</a>
						</li>
						<li>
							<a href="{#if $userinfo#}{#getUrlPath service='member' type='user' template='quan_waimai'#}{#else#}{#getUrlPath service='member' type='user' template='login' param="furl="#}{#getUrlPath service='member' type='user' template='quan_waimai'#}{#/if#}">
								<div class="icon_box"><img src="{#$templets_skin#}images/mcenter/quan_waimai.png" alt=""></div>
								<p>优惠券</p>
							</a>
						</li>
						{#if $cfg_kefu_touch_url#}
						<li>
							<a href="{#$cfg_kefu_touch_url#}">
								<div class="icon_box"><img src="{#$templets_skin#}images/mcenter/kefu_waimai.png" alt=""></div>
								<p>客服</p>
							</a>
						</li>
						{#/if#}
					</ul>
				</dd>
			</dl>

			{#if !$cfg_ios_shelf#}
			<dl class="con link_con">
				<dt>常用功能</dt>
				{#if $cfg_fenxiaoState && 'fenxiao'|in_array:$cfg_ucenterLinks#}<dd class="manage_fenxiao"><a href="{#getUrlPath service='member' type='user' template='fenxiao'#}"><h5>{#$cfg_fenxiaoName#}</h5><span>加入推广计划 轻松分享赚钱</span></a></dd>{#/if#}
				<dd class="manage_qishou"><a href="/?service=waimai&do=courier&template=login&type=reg"><h5>骑手招募</h5><span></span></a></dd>
				{#if $userinfo.userType!=2#}<dd class="manage_ruzhu"><a href="{#getUrlPath service='member' type='user' template='enter'#}{#if $is_app#}?appIndex=1{#/if#}#join"><h5>入驻商家</h5><span></span></a></dd>{#/if#}
                {#if !$cfg_ios_shelf && $userinfo#}<dd class="manage_pocket"><a href="{#getUrlPath service='member' type='user' template='pocket' param="dtype=0"#}"><h5>我的钱包</h5><span></span></a></dd>{#/if#}
				{#if $userinfo.userType == 1 && !$isByteMiniprogram#}
				{#/if#}
				<dd class="manage_kefu"><a href="tel:{#$cfg_hotline#}"><h5>客服电话</h5><span></span></a></dd> <!-- 在线客服 -->
				<dd class="manage_zizhi"><a href="{#getUrlPath service='siteConfig' template='protocol' title='服务资质'#}"><h5>服务资质</h5><span></span></a></dd>
				<dd class="manage_setting_red"><a href="{#getUrlPath service='member' type='user' template='setting'#}"><h5>系统设置</h5><span></span></a></dd>
			</dl>
			{#/if#}
		</div>

	</div>
	{#include file="../../siteConfig/touch_bottom_5.0.html" active="fourthicon" bottom_module="waimai"#}
<script type='text/javascript' src='{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}'></script>
<script type="text/javascript" src="{#$templets_skin#}js/mcenter/index_info.js?v={#$cfg_staticVersion#}"></script>


</body>
</html>
