  <!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<title>限时福利，赶快上车！</title>
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/invite.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$cfg_staticPath#}js/ui/html2canvas.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-2.1.1.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
  var masterDomain = '{#$cfg_basehost#}', cookiePre = '{#$cfg_cookiePre#}';
  var staticPath  = '{#$cfg_staticPath#}';
  var geetest = {#$cfg_geetest#};
  var Urltype = 'registe';  //表示当前页面为注册页
  var recRegisterGuide = {#$cfg_recRegisterGuide#};
</script>
</head>

<body>
<div class="container guestsBox">
	<div class="partone">
		<a href="{#getUrlPath service='siteConfig' template='protocol' title='邀请有礼活动规则'#}" class="guize">活动规则</a>
		<div class="ptitle">
			<div class="user_info">
				<div class="uphone"><img src="{#$userinfo.photo#}" onerror="this.src='/static/images/noPhoto_60.jpg'" alt=""></div>
				<p>{#$userinfo.nickname#}</p>
			</div>
			<div class="title_sm">
				<h4>好友邀请你</h4>
				<span>好友邀请你</span>
			</div>
			<div class="title_l">
				<h2>领现金红包</h2>
				<span>领现金红包</span>
			</div>
		</div>
		<div class="imgbox">
			<img src="{#$templets_skin#}images/yaoqing/bg1.png" alt="">
		</div>
		<div class="hbcon">
			<h1><em>{#echoCurrency type="symbol"#}</em><span>{#$regGivingQuan#}</span></h1>
			<p>无门槛优惠券</p>
			<div class="tip">
				注册成功即可领取
			</div>
		</div>
		<div class="regist">
			<h4>注册领取</h4>
			<form action="" method="post">
				<div class="inpbox inp">
					<span class="areacode" data-code="86"><em>+86</em></span>
					<input type="hidden" value="86" name="areaCode" id="areaCode" >
					<input type="tel" id="account" name="account" placeholder="请输入您的手机号码">
				</div>
				<div class="inpbox">
					<div class="inp">
						<input type="tel" maxlength="6" id="vcode" name="vcode" placeholder="请输入手机验证码">
					</div>
					<a href="javascript:;" class="getyzm">获取验证码</a>

				</div>
				<div class="btn_box">
					<a href="javascript:;" class="submit_btn"><span>立即领取礼包</span></a>
					<p id="protocol">我已阅读并同意<a href="{#getUrlPath service='siteConfig' template='protocol' title='会员注册协议'#}">《{#$langData['siteConfig'][12][0]#}》</a></label> </p>{#* 会员注册协议  *#}
				</div>
			</form>
		</div>
	</div>

</div>
<!-- 注册成功弹出层 -->
<div class="mask" ></div>
<div class="pop_success">
	<div class="success">
		<h4>恭喜您注册成功</h4>
		<p>已获得{#$regGivingQuan#}{#echoCurrency type="short"#}礼包</p>
		{#if $cfg_recRegisterGuide == 0#}
		<a href="{#$member_userDomain#}" class="btn_success btn_gzh"><span>立即查收</span></a>
		{#elseif $cfg_recRegisterGuide == 1#}
		<a href="{#getUrlPath service='member' type='user' template='inviteGzh'#}" class="btn_success btn_gzh"><span>立即查收</span></a>
		{#elseif $cfg_recRegisterGuide == 2#}
		<a href="javascript:;" class="btn_success btn_app"><span>前往APP查收</span></a>
		{#/if#}
	</div>
</div>
<!-- 区域选择 -->
<div class="popl_mask"></div>
<div class="popl_box anum_box">
	<h2>{#$langData['business'][1][4]#}   <a href="javascript:;" class="back">{#$langData['business'][1][5]#}</a></h2>     {#* 选择地区----返回 *#}
	<div class="areaList" id="areaList"><ul>
		{#siteConfig action='internationalPhoneSection' return="item"#}
		<li data-cn="{#$item.name#}" data-code="{#$item.code#}"><span>{#$item.name#}<span><em class="fn-right">+{#$item.code#}</em></li>
		{#/siteConfig#}
	</ul></div>
</div>

<script>
	var wxconfig = {
		"appId": '{#$wxjssdk_appId#}',
		"timestamp": '{#$wxjssdk_timestamp#}',
		"nonceStr": '{#$wxjssdk_nonceStr#}',
		"signature": '{#$wxjssdk_signature#}',
		"description": '',
		"title": '',
		"imgUrl": '',
		"link": '',
	};
	document.write(unescape("%3Cscript src='{#$cfg_staticPath#}js/publicShare.js?v="+~(-new Date())+"'type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.6.0.js?v=-834434905"></script>
<script type='text/javascript' src='{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}'></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/noscroll.js?v={#$cfg_staticVersion#}"></script>
{#if $cfg_geetest#}
{#if $cfg_geetest == 1#}
<script type="text/javascript" src="{#$cfg_secureAccess#}static.geetest.com/static/tools/gt.js"></script>
{#/if#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/captchaVerify.js?v={#$cfg_staticVersion#}"></script>
{#/if#}
<script type="text/javascript" src="{#$templets_skin#}js/inviteRegister.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
