<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="{#$cfg_soft_lang#}">
    <title>{#$title#}-{#$langData['live'][1][12]#}</title>{#* 自定义菜单 *#}
    <meta name="keywords" content="{#$title#}"/>
    <meta name="description" content="{#$title#}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}" />
	<link rel="stylesheet" href="{#$templets_skin#}css/livedetail_menu.css?v={#$cfg_staticVersion#}">
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/zepto.min.js?v={#$cfg_staticVersion#}"></script>
	<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js?v={#$cfg_staticVersion#}"></script>
    <script>
        var staticPath = '{#$cfg_staticPath#}', templatePath = '{#$templets_skin#}';
        var masterDomain = '{#$cfg_basehost#}', userDomain = '{#$member_userDomain#}',channelDomain = '{#$cfg_currentHost#}';
        var streamname='{#$streamname#}',livetime='{#$livetime#}',starttime='{#$starttime#}',liveLimitTime='{#$liveLimitTime#}',webUrl='{#$webUrl#}',litpic='{#$litpic#}',id='{#$id#}',pullUrl="{#$pullUrl#}",title="{#$title#}",pushurl="{#$pushurl#}",flowname="{#$flow#}",wayname="{#$way#}",editUrl = '{#getUrlPath service="member" type="user" template="fabu" action="$module"#}';
    </script>
</head>
<body>
{#$pageTitle = $langData['live'][1][12]#}
{#include file="top.html"#}
<!-- 不能拖拽的li加class="nodel_li" -->
<div class="container">
	<h3 class="tip fn-hide">{#$langData['live'][5][1]#}</h3>  {#*横屏模式下电脑端仅支持介绍、动态、自定义菜单排序*#}
	<ul class="menu_ul" id="multi">
		{#if $menu#}
		{#foreach from=$menu item='cfg' key='k'#}
		{#if $cfg.sys>-1#}
		<li data-idx="{#$k#}" class="menu_li intro_li nodel_li">
			<div class="menu">
				<div class="ml_text"><input class="ml_text" placeholder="{#$langData['live'][2][0]#}" type="text" name="menu[{#$k#}][name]" value="{#$cfg.name#}" /></div>
				<div class="mr_show">
					{#if $cfg.show == '1'#}
					<em>{#$langData['live'][1][40]#}</em> <span class="selected"><i></i></span>{#*  显示  *#}
					{#else#}
					<em>{#$langData['live'][1][50]#}</em> <span><i></i></span>{#*  隐藏  *#}
					{#/if#}
				</div>
			</div>
			<div class="op_box">
				<i class="px_btn"></i>
				<i class="del_btn"></i>
				<input type="hidden" name="menu[{#$k#}][show]" class="show" value="{#$cfg.show#}">
				<input type="hidden" name="menu[{#$k#}][sys]" class="sys" value="{#$cfg.sys#}">
			</div>
		</li>
		{#else#}
		<li data-idx="{#$k#}" class="menu_li self_li">
			<div class="menu">
				<input class="ml_text" type="text" placeholder="{#$langData['live'][2][0]#}" name="menu[{#$k#}][name]" value="{#$cfg.name#}">
				<div class="mr_show"><em>{#if $cfg.show == '1'#}{#$langData['live'][1][40]#}{#else#}{#$langData['live'][1][50]#}{#/if#}</em><span{#if $cfg.show == '1'#} class="selected"{#/if#}><i></i></span></div>
				<div class="inp_link">
					<input type="hidden" name="menu[{#$k#}][show]" class="show" value="{#$cfg.show#}">
					<input type="hidden" name="menu[{#$k#}][sys]" class="sys" value="0">
					<input type="text" class="mlink" placeholder="{#$langData['live'][2][1]#}" class="url" name="menu[{#$k#}][url]" value="{#$cfg.url#}">
				</div>
			</div>
			<div class="op_box"><i class="px_btn"></i><i class="del_btn" title="{#$langData['live'][0][36]#}"></i></div>
		</li>
		{#/if#}
		{#/foreach#}
		{#/if#}
		
	</ul>
	
	<a href="javascript:;" class="add_li">{#$langData['live'][5][2]#}</a>{#* 添加菜单  *#}
	<div class="bottom_box"><a href="javascript:;" class="save_btn">{#$langData['live'][2][18]#}</a></div>{#* 保存  *#}
	
</div>

	
<!-- 弹出层 -->
<div class="mask"></div>	
<div class="popsure_box">
	<div class="pop_sure pop_title fn-hide">
		<div class="pop_tip">
			<h3>{#$langData['live'][5][3]#}</h3>   {#* 确认删除此自定义菜单？  *#}
			<p>{#$langData['live'][5][4]#}</p>   {#* 一经删除不可恢复  *#}
		</div>
		<div class="btn_group fn-clear">
			<p class="cancel_btn">{#$langData['live'][0][9]#}</p>   {#* 取消  *#}
			<p class="sure_btn">{#$langData['live'][1][39]#}</p>   {#* 确认  *#}
		</div>
	</div>
	
</div>
	
	
	
	
<script type="text/javascript" src="{#$templets_skin#}js/Sortable.js?v={#$cfg_staticVersion#}"></script>	
<script type="text/javascript" src="{#$templets_skin#}js/livedetail_menu.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
