
{#if $ordertype == "1"#}
  {#$pageTitle = $langData['marry'][7][12]#} {#* 预约看店  *#}
{#else#}
  {#$pageTitle = $langData['marry'][7][43]#} {#* 套餐咨询  *#}
{#/if#}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{#$pageTitle#}</title>  {#* 装修频道 *#}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/fabu.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/marry-{#$module#}.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$cfg_staticPath#}js/core/zepto.min.js"></script>
<script src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}',templatePath = '{#$templets_skin#}';
	var hideFileUrl = {#$cfg_hideUrl#},state = "{#$ordertype#}";
    var module = '{#$module#}', atpage = 1, totalCount = 0, pageSize = 20,state = "{#$ordertype#}";
    var storeUrl = '{#getUrlPath service="marry" template="store-detail" id="%id%" #}';

</script>
</head>

<body>

{#$pageRight = '<a href="javascript:;" class="notMenu"> </a>'#}
{#include file="top.html"#}

{#include file="marry-$module.html"#}
<script type="text/javascript" src="{#$templets_skin#}js/marry-{#$module#}.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
