<script>
  var serviceTime = "{#$smarty.now#}";
  var jsTime = parseInt((new Date()).valueOf()/1000);
  var timeOffset = parseInt(jsTime - serviceTime);
  var cartUrl = '{#getUrlPath service='shop' template='cart'#}';     //购物车链接
  var wuliuUrl = '{#getUrlPath service='member' type='user' template='logistics'#}';     //物流详情
</script>
<link rel="stylesheet" href="{#$templets_skin#}css/order-shop.css?v={#$cfg_staticVersion#}">
<style>
  body, html{background: #F5F5F7}
</style>
<div class="ordershopForm">
  <form action="">
    <s></s>
    <input type="search" enterkeyhint="search" placeholder="搜索我的订单" id="keyword" name="keyword">
  </form>
</div>
<div class="tab ordershopTab">
  <ul data-url="{#getUrlPath service='member' type='user' template='orderdetail' module='shop' id="%id%"#}" data-refund="{#getUrlPath service='member' type='user' template='orderdetail' module='shop' id="%id%" param='rates=1'#}" data-comment="{#getUrlPath service='member' type='user' template='write-comment' module='shop' id="%id%"#}">
    <li data-id="" class="curr"><a href="javascript:;">{#$langData['siteConfig'][9][0]#}(<span id="all">0</span>)</a><p class="curr-line"><i></i></p></li>
  	<li data-id="0"><a href="javascript:;">{#$langData['siteConfig'][9][23]#}(<span id="topay">0</span>)</a><p class="curr-line"><i></i></p></li>
    {#*待使用*#}
    <li data-id="6,3" class="waituse"><a href="javascript:;">{#$langData['siteConfig'][45][29]#}(<span id="touse">0</span>)</a><p class="curr-line"><i></i></p></li>
    {#*待分享*#}
    <li data-id="6,4"><a href="javascript:;">待分享(<span id="toshare">0</span>)</a><p class="curr-line"><i></i></p></li>

  	<li data-id="1"><a href="javascript:;">{#$langData['siteConfig'][9][25]#}(<span id="tofahuo">0</span>)</a><p class="curr-line"><i ></i></p></li>
  	<li data-id="6"><a href="javascript:;">{#$langData['siteConfig'][9][26]#}(<span id="torecive">0</span>)</a><p class="curr-line"><i ></i></p></li>
    <li data-id="5"><a href="javascript:;">{#$langData['siteConfig'][9][28]#}(<span id="toComm">0</span>)</a><p class="curr-line"><i ></i></p></li>
    <li data-id="6,5"><a href="javascript:;">已过期(<span id="guoqi">0</span>)</a><p class="curr-line"><i ></i></p></li>
  </ul>
</div>
{#if $proquanres !=0#}
<div class="quanTip"><a href="javascript:;">
  <s></s><span>您有{#$proquanres#}个团购券即将过期，请尽快使用！</span><i></i>
</a></div>
{#/if#}
<!-- 加入购物车专用 -->
<div class="topcart" style="display:none;"><div class="cart-con"><div class="cartlist"><ul></ul></div></div></div>
<!-- 加购时 商品卖光弹窗 -->
<div class="nobuymask comshopmask"></div>
<div class="nobuyAlert comshopAlert">
  <h2 class="haspro">以下商品卖光啦，先将其他有货商品加入购物车？</h2>
  <h2 class="nopro">以下商品均卖光啦，暂无商品可加购物车！</h2>
  <div class="nobuyPro">
    
  </div>
  <div class="noproUl haspro">
    <ul>
      <li><a href="javascript:;" class="think">我再想想</a></li>
      <li><a href="javascript:;" class="addCart">加购物车</a></li>
    </ul>
  </div>
  <div class="noproUl nopro">
    <ul>
      <li><a href="javascript:;" class="think">我知道了</a></li>
    </ul>
  </div>
</div>
<!-- 确认收货弹窗 -->
<div class="sureshmask comshopmask"></div>
<div class="sureshAlert comshopAlert">
  <h2 class="haspro">{#$langData['siteConfig'][20][188]#}</h2>
  <div class="noproUl">
    <ul>
      <li><a href="javascript:;" class="cancelsh">取消</a></li>
      <li><a href="javascript:;" class="suresh" data-id="">确定</a></li>
    </ul>
  </div>
</div>

<!-- 取消订单弹窗 -->
<div class="cancelOrmask comshopmask"></div>
<div class="surecanOrAlert comshopAlert">
  <h2 class="haspro">确定取消订单?取消后将不可恢复！</h2>
  <div class="noproUl">
    <ul>
      <li><a href="javascript:;" class="cancelOr">暂不取消</a></li>
      <li><a href="javascript:;" class="surecanOr" data-id="">确定取消</a></li>
    </ul>
  </div>
</div>

<div class="no-data" style="{#if !$proquanres && $module == shop#}margin-bottom:-3rem;{#/if#} {#if $proquanres !=0#}margin-top: -3rem;{#/if#}">
  <img src="{#$templets_skin#}images/orderimag/nodata.png" />
  <div class="nodata_tip">
    <h3>您还没有相关订单</h3>
    <p>快去逛逛吧</p>
  </div>
</div>
<div class="list {#$module#} {#if !$proquanres && $module == shop#}shopNoquanlist {#/if#}" id="list" >


</div>

<div class="recBox command-list fn-hide">
  <div class="command-list-tit">
    <h2></h2>
    <span><i></i>为你推荐</span>
  </div>
  <div class="command-list-con fn-clear">
      <ul class="goodlist fn-left"></ul>
      <ul class="goodlist fn-left"></ul>
      <div class="loading">数据加载中~</div>
  </div>
</div>
<script src="{#$templets_skin#}js/shop_cart.js?v={#$cfg_staticVersion#}"></script>

{#include file="{#$HUONIAOROOT#}/templates/member/touch/public-pay-pop.html"#}