<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>分店信息 </title>   {#* 分店信息 *#}
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/shop-branch-detail.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';
	var hideFileUrl = {#$cfg_hideUrl#};
</script>
</head>
<body>
{#include file="../../siteConfig/touch_top.html" pageTitle='分店信息'#}
<div class="myfd">
	<div class="fdcon">
		<div class="fdimg"><img src="" alt="" onerror="javascript:this.src='{#$cfg_staticPath#}images/noPhoto_100.jpg';this.onerror=this.src='{#$branchlogo#}';"></div>
		<div class="fdinfo">
			<h2>{#$branchtitle#}</h2>
			<p>所属总店：{#$stitle#}</p>
			<span class="fdtype">{#$branchindustry#}</span>
		</div>
	</div>
	<dl>
		<dt>分店地址：</dt><dd>{#$branchaddress#}</dd>
	</dl>
	<dl>
		<dt>主营项目：</dt><dd>{#$branchproject#}</dd>
	</dl>
</div>
<p class="fdtip">如需修改基本信息可联系总店操作</p>
<form name="fabuForm" id="fabuForm" method="post" action="/include/ajax.php?service=shop&action=storeBranchConfig&oper=update&id={#$id#}" data-url="{#getUrlPath service='member' type='user' template='workPlatform'#}">

	{#* 联系方式 *#}
	<h1 class="btit btit2"><strong>{#$langData['siteConfig'][19][424]#}</strong></h1>
	<div class="formWrap" >
		<!-- 联系人 s -->                    
        <div class="f-item">
            <em>{#$langData['siteConfig'][19][642]#}</em><input type="tel" name="people" id="people" value="{#if $branchpeople#}{#$branchpeople#}{#/if#}" max-length="60" placeholder="{#$langData['siteConfig'][7][0]#}" >
        </div>                   
        <!-- 联系人 e -->
	    <!-- 联系电话 s -->
	    <div class="f-item">
	        <em>{#$langData['siteConfig'][19][56]#}</em><input type="tel" name="telphone" id="telphone" value="{#if $branchtel#}{#$branchtel#}{#/if#}" max-length="60" placeholder="{#$langData['siteConfig'][7][0]#}" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');">
	    </div>
	        
	    <!-- 联系电话 e -->
	    <!-- 联系QQ s -->
	    <div class="f-item">
	        <em>{#$langData['siteConfig'][26][30]#}</em><input type="text" name="qq" id="qq" value="{#if $branchqq#}{#$branchqq#}{#/if#}" max-length="60" placeholder="{#$langData['siteConfig'][7][0]#}">
	    </div>
	    <!-- 联系QQ e -->
	    <!-- 微信号 s -->
	    
	    <div class="f-item">
	        <em>{#$langData['shop'][5][84]#}</em><input type="text" name="wechatcode" id="wechatcode" value="{#if $branchwechatcode#}{#$branchwechatcode#}{#/if#}" max-length="60" placeholder="{#$langData['siteConfig'][7][0]#}">
	    </div>         
	    
	    <!-- 微信号 e -->

	</div>
	<div class="tjBtn"><a href="javascript:;">保存设置</a></div>
</form>

<script type='text/javascript' src='{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}'></script>
<script type="text/javascript" src="{#$templets_skin#}js/shop-branch-detail.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
