<!DOCTYPE html>
<html>

<head>
    <meta charset="{#$cfg_soft_lang#}">
    <title>经营类别</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/travel-manage.css?v={#$cfg_staticVersion#}">
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
    <script src="{#$cfg_staticPath#}js/core/zepto.min.js"></script>
    <script>
        var masterDomain = '{#$cfg_basehost#}';
        var userid = `{#$userinfo.userid#}`;
        var imgError = `{#$cfg_staticPath#}images/404.jpg?v={#$cfg_staticVersion#}`;
        var travelUrl = `{#getUrlPath service='member' type='user' template='travel'#}`;
        var userId = `{#$userinfo.userid#}`;
        if (!userId) {
            location.href = `${masterDomain}/login.html`;
        }
        if (!travelUrl.includes(document.referrer) || !document.referrer) { //上一个页面的路由不是商家中心
            history.go(-1)
        }
    </script>
</head>

<body>
    <div :class="['Shell',{'app':appBoolean}]" id="vue" v-cloak>
        <div class="topTitle">
            <div @click="backFn">
                <img src="{#$cfg_staticPath#}images/header_back.png">
            </div>
            <span>设置经营类别</span>
        </div>
        <div :class="`multipleItem _${index}`" v-for="(item,index) in typeList" :key="index">
            <div :class="['onlyOne',{'active':item.select}]" @click="selectFn(item)">
                <div class="o-title">{{item.title}}</div>
                <div class="o-tip">{{item.tip}}</div>
                <div class="select" v-if="item.btn"></div>
            </div>
            <div class="m-list" v-if="item.child">
                <div :class="['ml-item',{'active':itemc.select}]" v-for="(itemc,indexc) in item.child" :key="indexc"
                    @click="selectFn(itemc)">
                    <span>{{itemc.typename}}</span>
                    <div class="select"></div>
                </div>
            </div>
        </div>
        <div class="warnTip">
            <img src="{#$templets_skin#}images/travel/newWarn.png">
            <span>选择您需要经营的类目，后期也可根据需求修改</span>
        </div>
        <div :class="['saveBtn',{'ban':selectType.length==0}]" @click="saveFn(0)">确定保存</div>
        <!-- 弹窗提示 -->
        <div class="warnPop" @click="popb=false" v-if="popb">
            <div class="w-content" @click.stop>
                <div class="wc-title">
                    <div class="title">确定停止经营酒店/民宿？</div>
                    <div class="tip">此操作将下架所有相关信息</div>
                </div>
                <div class="wc-btn">
                    <div class="cancel" @click="popb=false">取消</div>
                    <div class="confirm" @click="saveFn(1)">停止经营</div>
                </div>
            </div>
        </div>
        <div class="popTip" v-if="warnb">{{info}}</div>
    </div>
</body>
<script type="text/javascript" src="{#$cfg_staticPath#}js/vue/vue.min.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/travel-manage.js?v={#$cfg_staticVersion#}"></script>

</html>