<!DOCTYPE html>
<html>
<head>
<meta charset="{#$cfg_soft_lang#}">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<title>{#$langData['siteConfig'][19][294]#} </title>
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/ui/vant/index.css" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/withdraw_log.css?v={#$cfg_staticVersion#}" media="all" />
<script src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/zepto.min.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/vue/vue.min.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/vant/vant.min.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/vue/axios.min.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';

	var hideFileUrl = {#$cfg_hideUrl#};
	var atpage = 1, totalCount = 0, pageSize = 15;
	var from = '{#$from#}';
</script>
<style>
    [v-cloak] {
        display: none;
    }
</style>
</head>
<body>

	{#include file="top.html" pageTitle="提现记录"#}

	<div id="app">
		<div class="contain" ref="wrapper">
			<div class="content" v-for="(detail,index) in withdrawDetailObj" :key='detail.timestmap'@click='toWithdrawDetail(detail.url)' v-cloak>
				<div class="left">
					<img v-if=" detail.bank == 'alipay' " src="{#$templets_skin#}images/withdraw/alipay.png" alt="">
					<img v-else-if=" detail.bank == 'weixin' " src="{#$templets_skin#}images/withdraw/weixin.png" alt="">
					<img v-else src="{#$templets_skin#}images/withdraw/bank.png" alt="">

					<div>
						<span v-cloak>提现到{{ formatWithdrawWay(detail) }}</span>
						<span v-cloak>{{ formatCurrDate(detail.tdate)}}</span>
					</div>
				</div>
				<div class="right">
					<span v-cloak :class='{refuseColor: detail.state == 2}'>{{detail.amount}}</span>
					<span v-cloak :class='{refuseColor: detail.state == 2}'>{{formatState(detail)}}</span>
				</div>
			</div>
		</div>
		<template>
			<div class="more" v-show="isLoading">加载中,请稍后...</div>
			<div class="more" v-show="!isLoading && !hasMoreData">已加载完全部信息!</div>
			<div class="more" v-show="isNoData">暂无相关信息!</div>
		</template>
	</div>

<script type='text/javascript' src='{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}'></script>
<script type="text/javascript" src="{#$templets_skin#}js/withdraw_log.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
