<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>工作台</title>
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" href="{#$templets_skin#}css/workPlatform.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/zepto.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';


</script>
{#* 微信分享 *#}
{#$Share_description = {#$cfg_description#}#}
{#$Share_title = {#$cfg_webname#}#}
{#$Share_img = {#$cfg_weblogo#}#}
{#$Share_url = {#$cfg_basehost#}#}
{#include file="{#$HUONIAOROOT#}/templates/siteConfig/public_share.html"#}
</head>

<body>
	{#include file="../../siteConfig/touch_top.html" pageTitle='工作台'#}
	<div class="container">
		<div class="infoBox userInfo">
			<div class="head">
				<img src="{#$userinfo.photo#}" onerror="this.src='/static/images/noPhoto_100.jpg'" alt="">
				<p class="post">{#$detail_jobname#}</p>
			</div>
			<h2 class="nickname">{#$userinfo.nickname#}</h2>
			<p>所属公司：{#$detail_companyname#}</p>
		</div>

		<!-- 模块 -->
		{#if $detail_auth && array_key_exists('shop',$detail_auth)#}
		<dl class="infoBox">
			<dt>{#$shop_channelName#}</dt>

			{#if in_array('1',$detail_auth['shop'])#}
			<dd>
				<a href="{#getUrlPath service='member' template='config' action='shop'#}">
					<div class="left_name"><s><img src="{#$templets_skin#}images/shop_manage.png" alt=""></s>店铺配置</div>
				</a>
			</dd>
			{#/if#}

			{#if in_array('2',$detail_auth['shop'])#}
			<dd>
				<a href="{#getUrlPath service='member' template='manage' action='shop'#}">
					<div class="left_name"><s><img src="{#$templets_skin#}images/info_manage.png" alt=""></s>管理商品</div>
				</a>
			</dd>
			{#/if#}

			{#if in_array('3',$detail_auth['shop'])#}
			<dd>
				<a href="{#getUrlPath service='member' template='order' action='shop'#}" >
					<div class="left_name"><s><img src="{#$templets_skin#}images/order_manage.png" alt=""></s>管理订单<em>{#$detail_authallarr['shopauth']['ordercount']#}</em></div>
				</a>
			</dd>
			{#/if#}
			{#if in_array('4',$detail_auth['shop'])#}
			<dd>
				<a href="{#getUrlPath service='member' template='verify' action='shop'#}">
					<div class="left_name"><s><img src="{#$templets_skin#}images/hexiao.png" alt=""></s>核销券</div>
				</a>
			</dd>
			{#/if#}
		</dl>
		{#/if#}
		{#if !$detail_auth && $branch == 1#}
		<!-- 商城分店 -->
		{#foreach from=$ret  item=tplItem#}
		<dl class="infoBox">
			<dt><strong>{#$tplItem.title#}</strong><span class="shopFd">商城分店</span></dt>
			<dd>
				<a href="{#getUrlPath service='member' type='user' template='shop_branch_detail' param="id={#$tplItem.branchid#}"#}">
					<div class="left_name"><s><img src="{#$templets_skin#}images/fendian_manage.png" alt=""></s>分店信息</div>
				</a>
			</dd>
			<dd>
				<a href="{#getUrlPath service='member' template='order' action='shop' param="branchid={#$tplItem.branchid#}"#}">
					<div class="left_name"><s><img src="{#$templets_skin#}images/order_manage.png" alt=""></s>管理订单<em>{#$detail_authallarr['shopauth']['ordercount']#}</em></div>
				</a>
			</dd>
		</dl>
		{#/foreach#}
		{#/if#}
		{#if $detail_auth && array_key_exists('huodong',$detail_auth) && in_array('1',$detail_auth['huodong'])#}
		<dl class="infoBox">
			<dt>{#$huodong_channelName#}</dt>
			{#if in_array('1',$detail_auth['huodong'])#}
			<dd>
				<a href="{#getUrlPath service='member' template='manage' action='huodong'#}">
					<div class="left_name"><s><img src="{#$templets_skin#}images/info_manage.png" alt=""></s>管理信息</div>
				</a>
			</dd>
			{#/if#}

			{#if in_array('2',$detail_auth['huodong']) && in_array('1',$detail_auth['huodong'])#}
			<dd>
				<a href="{#getUrlPath service='member' template='manage' action='huodong'#}">
					<div class="left_name"><s><img src="{#$templets_skin#}images/baoming_manage.png" alt=""></s>报名管理</div>
				</a>
			</dd>
			{#/if#}

			{#if in_array('3',$detail_auth['huodong']) && in_array('1',$detail_auth['huodong'])#}
			<dd>
				<a href="{#getUrlPath service='member' template='manage' action='huodong'#}">
					<div class="left_name"><s><img src="{#$templets_skin#}images/hexiao.png" alt=""></s>核销票</div>
				</a>
			</dd>
			{#/if#}
		</dl>
		{#/if#}

		{#if $detail_auth && array_key_exists('tuan',$detail_auth)#}
		<dl class="infoBox">
			<dt>{#$tuan_channelName#}</dt>
			{#if in_array('1',$detail_auth['tuan'])#}
			<dd>
				<a href="{#getUrlPath service='member' template='config' action='tuan'#}">
					<div class="left_name"><s><img src="{#$templets_skin#}images/shop_manage.png" alt=""></s>店铺配置</div>
				</a>
			</dd>
			{#/if#}
			{#if in_array('2',$detail_auth['tuan'])#}
			<dd>
				<a href="{#getUrlPath service='member' template='manage' action='tuan'#}">
					<div class="left_name"><s><img src="{#$templets_skin#}images/info_manage.png" alt=""></s>管理信息</div>
				</a>
			</dd>
			{#/if#}
			{#if in_array('3',$detail_auth['tuan'])#}
			<dd>
				<a href="{#getUrlPath service='member' template='order' action='tuan'#}">
					<div class="left_name"><s><img src="{#$templets_skin#}images/order_manage.png" alt=""></s>管理订单<em>{#$detail_authallarr['tuanauth']['ordercount']#}</em></div>
				</a>
			</dd>
			{#/if#}
			{#if in_array('4',$detail_auth['tuan'])#}
			<dd>
				<a href="{#getUrlPath service='member' template='verify' action='tuan'#}">
					<div class="left_name"><s><img src="{#$templets_skin#}images/hexiao.png" alt=""></s>核销券</div>
				</a>
			</dd>
			{#/if#}
		</dl>
		{#/if#}

		{#if $detail_auth && array_key_exists('travel',$detail_auth)#}
		<dl class="infoBox">
			<dt>{#$travel_channelName#}</dt>
			{#if in_array('1',$detail_auth['travel'])#}
			<dd>
				<a href="{#getUrlPath service='member' template='config' action='travel'#}">
					<div class="left_name"><s><img src="{#$templets_skin#}images/shop_manage.png" alt=""></s>店铺配置</div>
				</a>
			</dd>
			{#/if#}
			{#if in_array('2',$detail_auth['travel'])#}
			<dd>
				<a href="{#getUrlPath service='member' type='user' action='travel'#}">
					<div class="left_name"><s><img src="{#$templets_skin#}images/info_manage.png" alt=""></s>管理信息</div>
				</a>
			</dd>
			{#/if#}
			{#if in_array('3',$detail_auth['travel'])#}
			<dd>
				<a href="{#getUrlPath service='member' template='order' action='travel'#}">
					<div class="left_name"><s><img src="{#$templets_skin#}images/order_manage.png" alt=""></s>管理订单<em>{#$detail_authallarr['travelauth']['ordercount']#}</em></div>
				</a>
			</dd>
			{#/if#}
			{#if in_array('4',$detail_auth['travel'])#}
			<dd>
				<a href="{#getUrlPath service='member' template='verify' action='travel'#}">
					<div class="left_name"><s><img src="{#$templets_skin#}images/hexiao.png" alt=""></s>核销券</div>
				</a>
			</dd>
			{#/if#}
		</dl>
		{#/if#}
	</div>

















<script type="text/javascript" src="{#$templets_skin#}js/workPlatform.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
