<style>
.nav-tabs .tabs {display: inline-block; background-color: #E3E5E8; border-radius: 10px 10px 0 0; vertical-align: bottom; overflow: hidden;}
.nav-tabs .tabs .btn {margin: 0; border: 0; background-color: #E3E5E8; font-size: 14px;}
.nav-tabs .tabs .btn.add {background-color: #0099CD; border-radius: 10px 10px 0 0;}
.nav-tabs .tabs .btn:hover {border: 0; background: #E3E5E8;}
.nav-tabs .tabs .btn.add:hover {border: 0; background: #0099CD;}

.content {padding: 50px;}
.content h2 {font-size: 24px; color: #141414; margin-bottom: 40px;}
.content h2 .closeMaidan {display: inline-block; vertical-align: middle; font-size: 14px; color: #F21818; margin-left: 20px;}
.content h2 .closeMaidan i {display: inline-block; width: 15px; height: 15px; vertical-align: middle; margin: -2px 3px 0 0; background: url('/static/images/business/close.png') no-repeat center; background-size: cover;}
.content h2 small {display: inline-block; vertical-align: middle; font-size: 14px; color: #4d4d4d; margin-left: 20px;}
.content .mt40 {margin-top: 60px;}

.mrow .type {font-size: 14px; color: #4d4d4d; line-height: 30px;}
.mrow label {display: block; margin-bottom: 5px; font-size: 14px; color: #141414; line-height: 33px;}
.mrow label small {color: #999; font-size: 12px;}
.mrow .help-inline {color: #999; font-size: 12px; margin-left: 10px;}
.help p {color: #999; font-size: 12px; line-height: 1.8em;}

/* 前缀和附加输入框 */
.input-append {float: left; font-size: 0; white-space: nowrap; vertical-align: middle;}
.input-append input, .input-append select {float: left; position: relative; margin-bottom: 0; *margin-left: 0; font-size: 16px; border: 1px solid #d8d8d8; padding: 0 10px; height: 32px; line-height: 32px; vertical-align: top; -webkit-border-radius: 4px 0 0 4px; -moz-border-radius: 4px 0 0 4px; border-radius: 4px 0 0 4px; -webkit-transition: border linear .2s,box-shadow linear .2s; -moz-transition: border linear .2s,box-shadow linear .2s; -o-transition: border linear .2s,box-shadow linear .2s; transition: border linear .2s,box-shadow linear .2s;}
.input-prepend input { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;}
.input-append input:focus, .input-append select:focus {border-color:rgba(82,168,236,0.8);outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6)}
.input-append .add-bef, .input-append .add-aft, .input-append .add-center {float: left; display: block; width: auto; height: 24px; min-width: 20px; padding: 4px 5px; font-size: 14px; font-weight: normal; line-height: 24px; text-align: center; text-shadow: 0 1px 0 #fff; background-color: #eee; border: 1px solid #ccc; vertical-align: top;}
.input-append .add-bef {margin-right: -1px; -webkit-border-radius: 4px 0 0 4px; -moz-border-radius: 4px 0 0 4px; border-radius: 4px 0 0 4px;}
.input-append .add-aft {margin-left: -1px; -webkit-border-radius: 0 4px 4px 0; -moz-border-radius: 0 4px 4px 0; border-radius: 0 4px 4px 0;}

#maidan_youhui_limit {width: 250px; margin-left: 15px;}

#fenxiaoSel, #saleSel, #maidan_youhui_limit {display: none;}
#submit {background-color: #347CF7; border: 0;}
#submit.disabled {opacity: 0.3;}
#downloadMaidanTemp {background-color: #EDF4FF; border: 0; color: #3173F7; text-align: center; margin-left: 20px; width: 180px;}
#downloadMaidanTemp i {display: inline-block; width: 15px; height: 15px; vertical-align: middle; background: url('/static/images/business/download.png') no-repeat center; background-size: cover; margin: -2px 5px 0 0;}

.html2_node {position: fixed; left: -9999999px; width: 1181px; height: 1772px;}
.maidan_bg {position: absolute; left: 0; top: 0; right: 0; bottom: 0; z-index: 1;}
.maidan_qr {position: absolute; left: 266px; top: 620px; width: 650px; height: 650px; z-index: 2;}
.maidan_qr img {width: 100%; height: 100%; display: block;}
.maidan_title {position: absolute; left: 50px; top: 1335px; right: 50px; height: 90px; line-height: 90px; text-align: center; color: #fff; font-size: 58px; z-index: 2;}
</style>

<div class="nav-tabs fn-clear" style="margin-bottom: -1px;">
    <div class="tabs">
        <a href="{#getUrlPath service='member' template='business-maidan'#}" class="btn add">{#$langData['siteConfig'][19][511]#}</a>
        <a href="{#getUrlPath service='member' template='business-maidan-order'#}" class="btn">收款记录</a>
    </div>
</div>
<div class="container fn-clear">
	<div class="content" id="">
		<form action="/include/ajax.php?service=business&action=maidanSaveConfig" id="serviceFrom">

            <h2>买单管理<a href="javascript:;" class="closeMaidan"><i></i>{#if $maidan_state#}禁用收款码{#else#}当前收款码未开启{#/if#}</a></h2>

            <div class="mrow turn">
				<div class="type">开启买单优惠：</div>
				<div class="con">
					<label><input type="radio" name="maidanState" value="1"{#if $maidan_state && !$maidan_youhui_open#} checked{#/if#} id="maidanState1">无优惠</label>
					<label><input type="radio" name="maidanState" value="2"{#if $maidan_state && $maidan_youhui_open && !$maidan_not_youhui_open#} checked{#/if#} id="maidanState2">整单优惠</label>
					<label><input type="radio" name="maidanState" value="3"{#if $maidan_state && $maidan_youhui_open && $maidan_not_youhui_open#} checked{#/if#} id="maidanState3">部分优惠<small{#if $maidan_state == 1 && $maidan_youhui_open == 1 && $maidan_not_youhui_open == 1#} style="display: none;"{#/if#}>（如酒水锅底、包装等不参与折扣，可选此项）</small><input{#if $maidan_state == 1 && $maidan_youhui_open == 1 && $maidan_not_youhui_open == 1#} style="display: inline-block;"{#/if#} type="text" class="inp inp-large" placeholder="请填写优惠限制" name="maidan_youhui_limit" id="maidan_youhui_limit" value="{#$maidan_youhui_limit#}" /></label>
				</div>

                <input type="hidden" name="maidan_state" id="maidan_state" value="{#$maidan_state#}" />
                <input type="hidden" name="maidan_not_youhui_open" id="maidan_not_youhui_open" value="{#$maidan_youhui_open#}" />
                <input type="hidden" name="maidan_youhui_open" id="maidan_youhui_open" value="{#$maidan_youhui_open#}" />                

			</div>

			<div class="mrow turn" id="saleSel"{#if $maidan_state == 1 && $maidan_youhui_open#} style="display: block;"{#/if#}>
				<div class="type">设置优惠折扣：</div>
				<div class="con">
					<div class="input-append">
                        <input type="text" size="5" maxlength="5" autocomplete="off" value="{#((100-$maidan_youhui_value)/10)|string_format:"%.1f"#}" id="maidan_youhui_obj">
                        <span class="add-aft">折</span>
                    </div>
                    <span class="help-inline">如9.8折，最多填写一位小数</span>
                    <input type="hidden" name="maidan_youhui_value" id="maidan_youhui_value" value="{#$maidan_youhui_value#}" />
				</div>
			</div>

            <div id="fenxiaoSel"{#if $maidan_state == 1#} style="display: block;"{#/if#}>
                <h2 class="mt40">店铺推广<small>如需开启店铺推广请设置分佣比</small></h2>

                <div class="mrow turn">
                    <div class="type">设置优惠折扣：</div>
                    <div class="con">
                        <div class="input-append input-prepend">
                            <span class="add-bef">新客户</span>
                            <input type="text" name="maidan_XfenxiaoFee" size="5" maxlength="5" autocomplete="off" value="{#$maidan_XfenxiaoFee#}" id="maidan_XfenxiaoFee">
                            <span class="add-aft">%</span>
                        </div>
                        <div class="input-append input-prepend" style="margin-left: 10px;">
                            <span class="add-bef">老客户</span>
                            <input type="text" name="maidan_fenxiaoFee" size="5" maxlength="5" autocomplete="off" value="{#$maidan_fenxiaoFee#}" id="maidan_fenxiaoFee">
                            <span class="add-aft">%</span>
                        </div>
                        <span class="help-inline">如0.5%，最多填写一位小数</span>
                    </div>
                </div>
                <div class="mrow turn help">
                    <div class="type">&nbsp;</div>
                    <div class="con">
                        <p>用户推荐新客到店消费买单，可得实付金额的佣金比例；<br /><span id="fxFeeTips">可分别设置新客首次买单、及该客户后续每次买单时，推荐人可得比例</span></p>
                    </div>
                </div>
            </div>

            <div class="mrow turn" style="margin-top: 25px;">
				<div class="type">&nbsp;</div>
				<div class="con">
					<button class="submit{#if !$maidan_state#} disabled{#/if#}" id="submit">保存设置</button>
                    <a href="javascript:;" id="downloadMaidanTemp" class="submit"{#if !$maidan_state#} style="display: none;"{#/if#}><i></i>商家收款码</a>
				</div>
			</div>

			<div class="html2Wrap">
				<div class="html2_node" id="html2_node">
					<div class="maidan_qr"><img src="/include/qrcode.php?data={#getUrlPath service='business' template='maidan' id={#$id#}#}" /></div>
					<div class="maidan_title">{#$title#}</div>
					<div class="maidan_bg"><img src="{#$maidanTemp#}" /></div>
				</div>
			</div>

		</form>
	</div>
</div>

<script src="{#$cfg_staticPath#}js/ui/html2canvas.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$cfg_staticPath#}js/ui/FileSave.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
$(function(){

	$('#downloadMaidanTemp').click(function(){
		downloadMaidanTemp();
	});

	function downloadMaidanTemp(){
		const shareContent = document.getElementById('html2_node')
	    const rect = shareContent.getBoundingClientRect() // 获取元素相对于视口的
	    const scrollTop = document.documentElement.scrollTop || document.body.scrollTop // 获取滚动轴滚动的长度
	    var width = shareContent.offsetWidth;//dom宽
	    var height = shareContent.offsetHeight;//dom高 获取滚动轴滚动的长度
		html2canvas(document.querySelector("#html2_node"), {
	       'backgroundColor':'#fff',
	       'useCORS':true,
		   'dpi': window.devicePixelRatio * 2,
		   'scale': 2,
	       // 'x': rect.left, // 绘制的dom元素相对于视口的位置
	       // 'y': rect.top,
	       'width':width,
	       'heoght':height,
	       'scrollY': 0,
	       'scrollX': 0,
	       'taintTest':true,
	       // 'timeout': 500 // 加载延时
		}).then(function(canvas){
			var a = canvasToImage(canvas);
			// $('#html2canvas_fixed .html2_img').html(a);
			// $(".html2_mask img").hide();
			// $('.html2canvas_fixed').addClass('show');
		});
	}


	function canvasToImage(canvas) {
	    // var image = new Image();
		// image.setAttribute("crossOrigin",'anonymous')
		// var imageBase64 = canvas.toDataURL("image/png",0.6);
        // image.src = imageBase64;
        // return image;

		canvas.toBlob(function(blob) {
		    saveAs(blob, "{#$title#}买单收款码.png");
		});
	}
});
</script>
