{#if {#verifyModuleAuth module='pension'#}#}
<style>
#subway dd {max-height: 300px; overflow-x: hidden; overflow-y: auto;}
.ml30{margin-left: 15px; margin-right: 0;}
.move1{margin-left: 0px!important;}
</style>
<div class="w-form">
    {#if $detail_state == 0#}
    <p class="state0">{#$langData['siteConfig'][27][25]#}</p>
    {#elseif $detail_state == 2#}
    <p class="state0">{#$langData['siteConfig'][16][164]#}：{#$detail_refuse#}</p>
    {#/if#}
	<form name="fabuForm" id="fabuForm" method="post" action="/include/ajax.php?service=pension&action=storeConfig">
		<div class="thead" style="margin-top: 0;">{#$langData['siteConfig'][19][22]#}</div>
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>{#$langData['siteConfig'][19][0]#}：</dt>
			<dd>
				<input type="text" name="title" class="inp" id="title" size="60" data-title="{#$langData['siteConfig'][20][26]#}" value="{#if $detail_title#}{#$detail_title#}{#else#}{#$businessDetail_title#}{#/if#}" />
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>{#$langData['siteConfig'][42][30]#}：</dt>   {#*价格 *#}
			<dd>
				<div class="input-append">
					<input id="price" name="price" type="text" size="8" maxlength="7" data-title="{#$langData['siteConfig'][42][31]#}" value="{#$detail_price#}" />   {#*请输入价格 *#}
					<span class="add-aft">{#echoCurrency type="short"#}</span>
				</div>
				<span class="tip-inline"></span>
			</dd>
		</dl>
		{#if !$detail_addrid#}
        {#$detail_addrid = $businessDetail_addrid#}
        {#/if#}
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>{#$langData['siteConfig'][19][27]#}：</dt>
			<dd id="selAddr">
				<div class="sel-group" data-title="{#$langData['siteConfig'][20][68]#}">
					<div class="addrBtn" data-field="addrid" data-ids="{#getPublicParentInfo tab='site_area' id=$detail_addrid split=' '#}" data-id="{#$detail_addrid#}">{#if $detail_addrid#}{#getPublicParentInfo tab='site_area' id=$detail_addrid type='typename' split='/'#}{#else#}{#$langData['siteConfig'][7][2]#}{#/if#}</div>
				</div>
				<input type="hidden" name="addrid" id="addrid" value="{#$detail_circleAddrid#}" />
				<input type="hidden" name="cityid" id="cityid" value="{#$detail_cityid#}" />
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>{#$langData['siteConfig'][19][35]#}：</dt>
			<dd>
				<input type="text" name="address" class="inp" id="address" size="35" maxlength="60" data-title="{#$langData['siteConfig'][20][69]#}" value="{#if $detail_address#}{#$detail_address#}{#else#}{#$businessDetail_address#}{#/if#}" />
				<img src="/static/images/admin/markditu.jpg" id="mark" style="float: left; cursor: pointer; margin-left: 10px;" title="{#$langData['siteConfig'][6][92]#}">
				<span class="tip-inline"></span>
				<input type="hidden" name="lnglat" id="lnglat" value="{#if $detail_lnglat#}{#$detail_lnglat#}{#else#}{#$businessDetail_lng#},{#$businessDetail_lat#}{#/if#}">
			</dd>
		</dl>
		<dl class="fn-clear" data-required="1">
			<dt>{#$langData['siteConfig'][42][32]#}：</dt>   {#*最近车站 *#}
			<dd><input type="text" name="station" class="inp" id="station" size="60" value="{#$detail_station#}" /></dd>
		</dl>
		<dl class="fn-clear">
			<dt>{#$langData['siteConfig'][42][33]#}：</dt>   {#*交通方式 *#}
			<dd><textarea class="inp text" name="trans" id="trans" rows="3" cols="60" >{#$detail_trans#}</textarea></dd>
		</dl>
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>{#$langData['siteConfig'][19][56]#}：</dt>
			<dd>
				<input type="text" name="tel" class="inp" id="phone" size="25" maxlength="20" data-title="{#$langData['siteConfig'][20][433]#}" value="{#if $detail_tel#}{#$detail_tel#}{#else#}{#$businessDetail_phone#}{#/if#}" />
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>{#$langData['siteConfig'][28][30]#}：</dt>   {#*机构类型 *#}
			<dd>
				<div class="checkbox">
					{#foreach from=$jglx_type item=type#}
					<label><input type="checkbox" name="typeid[]"{#if $detail_typeid && $type.id|in_array:$detail_typeid#} checked{#/if#} value="{#$type.id#}">{#$type.typename#}</label>
					{#/foreach#}
				</div>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>{#$langData['siteConfig'][42][34]#}：</dt>   {#*服务内容 *#}
			<dd>
				<div class="checkbox">
					{#foreach from=$fwnr_type item=type#}
					<label><input type="checkbox" name="servicecontent[]"{#if $detail_servicecontent && $type.id|in_array:$detail_servicecontent#} checked{#/if#} value="{#$type.id#}">{#$type.typename#}</label>
					{#/foreach#}
				</div>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>{#$langData['siteConfig'][42][35]#}：</dt>   {#*照顾对象 *#}
			<dd>
				<div class="checkbox">
					{#foreach from=$zgdx_type item=type#}
					<label><input type="checkbox" name="targetcare[]"{#if $detail_targetcare && $type.id|in_array:$detail_targetcare#} checked{#/if#} value="{#$type.id#}">{#$type.typename#}</label>
					{#/foreach#}
				</div>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>{#$langData['siteConfig'][40][6]#}：</dt>   {#*房间类型 *#}
			<dd>
				<div class="checkbox">
					{#foreach from=$fjlx_type item=type#}
					<label><input type="checkbox" name="roomtype[]"{#if $detail_roomtype && $type.id|in_array:$detail_roomtype#} checked{#/if#} value="{#$type.id#}">{#$type.typename#}</label>
					{#/foreach#}
				</div>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>{#$langData['siteConfig'][42][36]#}：</dt>   {#*特殊服务 *#}
			<dd>
				<div class="checkbox">
					{#foreach from=$tsfw_type item=type#}
					<label><input type="checkbox" name="tag[]"{#if $detail_tag && $type.id|in_array:$detail_tag#} checked{#/if#} value="{#$type.id#}">{#$type.typename#}</label>
					{#/foreach#}
				</div>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt><span>*</span>{#$langData['siteConfig'][19][2]#}：</dt>
				<dd class="listImgBox fn-hide">
				<div class="list-holder">
					<ul id="listSection2" class="fn-clear listSection fn-hide"{#if $detail_pics || $businessDetail_banner#} style="display: block;"{#/if#}>
						{#if $detail_pics#}
						{#foreach from=$detail_pics key=k item=i#}
						<li class="fn-clear" id="WU_FILE_1_{#$k#}">
							<a class="li-rm" href="javascript:;">×</a>
							<div class="li-thumb" style="display: block;">
								<div class="r-progress"><s></s></div>
								<span class="ibtn">
									<a href="javascript:;" class="Lrotate" title="{#$langData['siteConfig'][23][43]#}"></a>
									<a href="javascript:;" class="Rrotate" title="{#$langData['siteConfig'][23][44]#}"></a>
									<a href="{#$i.path#}" target="_blank" class="enlarge" title="{#$langData['siteConfig'][23][45]#}"></a>
								</span>
								<span class="ibg"></span>
								<img data-val="{#$i.pathSource#}" data-url="{#changeFileSize url="{#$i.path#}" type="small"#}" src="{#changeFileSize url="{#$i.path#}" type="small"#}" />
							</div>
						</li>
						{#/foreach#}
						{#elseif $businessDetail_banner#}
						{#$bannerArr = ','|explode:$businessDetail_banner#}
						{#foreach from=$bannerArr key=k item=i#}
						<li class="fn-clear" id="WU_FILE_1_{#$k#}">
							<a class="li-rm" href="javascript:;">×</a>
							<div class="li-thumb" style="display: block;">
								<div class="r-progress"><s></s></div>
								<span class="ibtn">
									<a href="/include/attachment.php?f={#$i#}" target="_blank" class="enlarge" title="{#$langData['siteConfig'][23][45]#}"></a>
								</span>
								<span class="ibg"></span>
								<img data-val="{#$i#}" data-url="/include/attachment.php?f={#$i#}" src="/include/attachment.php?f={#$i#}" />
							</div>
						</li>
						{#/foreach#}
						{#/if#}
					</ul>
					<input type="hidden" name="pics" value="" class="imglist-hidden">
				</div>
				<div class="btn-section fn-clear">
					<div class="wxUploadObj fn-clear">
						<div class="uploadinp filePicker" id="filePicker2" data-type="album" data-count="{#$storeatlasMax#}" data-size="{#$atlasSize#}" data-imglist=""><div id="flasHolder"></div><span>{#$langData['siteConfig'][6][168]#}</span></div>
						<span class="upload-split fn-hide">{#$langData['siteConfig'][13][0]#}</span> {#* 或 *#}
						<dl class="wxUpload fn-hide fn-clear">
							<dt><img id="wxUploadImg" /></dt>
							<dd>{#$langData['siteConfig'][19][362]#}<em class="wx">{#$langData['siteConfig'][27][139]#}</em>{#$langData['siteConfig'][27][140]#}<br />{#$langData['siteConfig'][19][846]#}{#$cfg_weixinName#}{#$langData['siteConfig'][27][141]#}<br />{#$langData['siteConfig'][27][142]#}<em class="fs">{#$langData['siteConfig'][6][139]#}</em>{#$langData['siteConfig'][27][143]#}</dd>{#*使用-微信-扫描左侧二维码-关注-公众号后-将图片-发送-给公众号即可传图 *#}
						</dl>
					</div>
					<div class="upload-tip">
						<p><a href="javascript:;" class="fn-hide deleteAllAtlas"{#if $detail_pics#} style="display: inline-block;"{#/if#}>{#$langData['siteConfig'][6][79]#}</a>&nbsp;&nbsp;{#$langData['siteConfig'][20][10]|replace:'1':($atlasSize/1024)|replace:'2':$storeatlasMax#} <span class="fileerror"></span></p>
					</div>
				</div>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>{#$langData['siteConfig'][42][38]#}：</dt>  {#* 说明 *#}
			<dd><textarea class="inp text" name="explains" id="explains" rows="3" cols="60" >{#$detail_explains#}</textarea></dd>
		</dl>
		<dl class="fn-clear">
			<dt>{#$langData['siteConfig'][26][36]#}：</dt>  {#* 详细介绍 *#}
			<dd>
				<script id="body" name="desc" type="text/plain" style="width:90%;height:500px">{#if $detail_desc#}{#$detail_desc#}{#else#}{#$businessDetail_body#}{#/if#}</script>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>{#$langData['siteConfig'][42][39]#}：</dt>  {#* 其他设置 *#}
			<dd>
				<div class="checkbox">
					<label><input type="checkbox" name="visitday"{#if $detail_visitday==1#} checked{#/if#} value="1">{#$langData['siteConfig'][42][41]#}</label>  {#* 参观日 *#}
					<label><input type="checkbox" name="flag"{#if $detail_flag==1#} checked{#/if#} value="1">{#$langData['siteConfig'][42][42]#}</label>  {#* 提供试住 *#}
					<label><input type="checkbox" name="award"{#if $detail_award==1#} checked{#/if#} value="1">{#$langData['siteConfig'][42][43]#}</label>  {#* 入住有奖 *#}
				</div>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>{#$langData['siteConfig'][42][40]#}：</dt>  {#* 参观说明 *#}
			<dd><textarea class="inp text" name="visitdaydesc" id="visitdaydesc" rows="3" cols="60" >{#$detail_visitdaydesc#}</textarea></dd>
		</dl>
		<dl class="fn-clear">
			<dt>{#$langData['siteConfig'][42][44]#}：</dt>  {#* 入住有奖说明 *#}
			<dd><textarea class="inp text" name="awarddesc" id="awarddesc" rows="3" cols="60" >{#$detail_awarddesc#}</textarea></dd>
		</dl>
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>{#$langData['siteConfig'][42][45]#}：</dt>  {#* 入住奖励 *#}
			<dd>
				<div class="input-append">
					<input id="rzprice" name="rzprice" type="text" size="8" maxlength="7" data-title="{#$langData['siteConfig'][42][31]#}" value="{#$detail_rzprice#}" />  {#* 请输入价格 *#}
					<span class="add-aft">{#echoCurrency type="short"#}</span>
				</div>
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<div class="thead" style="margin-top: 0;">{#$langData['siteConfig'][42][46]#}</div>  {#* 费用详细 *#}
		<dl class="fn-clear">
			<dt>{#$langData['siteConfig'][19][84]#}：</dt>  {#* 类型 *#}
			<dd>
				<div class="checkbox">
					{#loop service="pension" action='catid_type' return='type'#}
					<label><input type="checkbox" name="catid[]"{#if $detail_catid && $type.id|in_array:$detail_catid#} checked{#/if#} value="{#$type.id#}">{#$type.typename#}</label>
					{#/loop#}
				</div>
			</dd>
		</dl>
		<div class="catid1 {#if empty($detail_catid) || '1'|in_array:$detail_catid#}{#else#}fn-hide{#/if#}">
			<dl class="fn-clear">
				<dt>{#$langData['siteConfig'][42][48]#}：</dt>  {#* 机构养老公告 *#}
				<dd><textarea class="inp text" name="institutionadesc" id="institutionadesc" rows="3" cols="60" >{#$detail_institutionadesc#}</textarea></dd>
			</dl>
			<dl class="fn-clear">
				<dt>{#$langData['siteConfig'][42][49]#}：</dt>  {#* 长住说明 *#}
				<dd><textarea class="inp text" name="longinstitutionadesc" id="longinstitutionadesc" rows="3" cols="60" >{#$detail_longinstitutionadesc#}</textarea></dd>
			</dl>
			<dl class="fn-clear">
				<dt>{#$langData['siteConfig'][42][50]#}：</dt>  {#* 入住费用 *#}
				<dd class="taocon">
					<div class="many longrzfee">
						<table class="tab">
							<tr>
							<td class="items">
								<table>
								<thead>
									<tr>
									<th width="15%"align="left">{#$langData['siteConfig'][19][84]#}</th>  {#* 类型 *#}
									<th width="50%">{#$langData['siteConfig'][42][38]#}</th>  {#* 说明 *#}
									<th width="15%">{#$langData['siteConfig'][23][122]#}</th>  {#* 费用 *#}
									<th width="20%">{#$langData['siteConfig'][6][11]#}</th>  {#* 操作 *#}
									</tr>
								</thead>
								<tbody>
									{#if !empty($detail_longexpensesArr)#}
									{#foreach from=$detail_longexpensesArr item=tr#}
									<tr>
									<td><input type="text" class="tit" value="{#$tr[0]#}" /></td>
									<td><input type="text" class="desc" value="{#$tr[1]#}" /></td>
									<td><input type="text" class="pric" value="{#$tr[2]#}" /></td>
									<td>
										<span class="btn move" title="{#$langData['siteConfig'][6][19]#}"><i></i></span><span class="btn del" title="{#$langData['siteConfig'][6][8]#}"><i></i></span><span class="btn add" title="{#$langData['siteConfig'][6][18]#}"><i></i></span>
									</td>
									</tr>
									{#/foreach#}
									{#else#}
									<tr>
									<td><input type="text" class="tit" value="" /></td>
									<td><input type="text" class="desc" value="" /></td>
									<td><input type="text" class="pric" value="" /></td>
									<td>
										<span class="btn move" title="{#$langData['siteConfig'][6][19]#}"><i></i></span><span class="btn del" title="{#$langData['siteConfig'][6][8]#}"><i></i></span><span class="btn add" title="{#$langData['siteConfig'][6][18]#}"><i></i></span>
									</td>
									</tr>
									{#/if#}
								</tbody>
								</table>
							</td>
							</tr>
						</table>
					</div>
				</dd>
			</dl>
			<dl class="fn-clear">
				<dt>{#$langData['siteConfig'][42][51]#}：</dt>  {#* 每月床位费 *#}
				<dd class="taocon">
					<div class="many longmouthfee">
						<table class="tab">
							<tr>
							<td class="items">
								<table>
								<thead>
									<tr>
									<th width="15%"align="left">{#$langData['siteConfig'][19][84]#}</th>  {#* 类型 *#}
									<th width="50%">{#$langData['siteConfig'][42][38]#}</th>  {#* 说明 *#}
									<th width="15%">{#$langData['siteConfig'][23][122]#}</th>  {#* 费用 *#}
									<th width="20%">{#$langData['siteConfig'][6][11]#}</th>  {#* 操作 *#}
									</tr>
								</thead>
								<tbody>
									{#if !empty($detail_longbedfeeArr)#}
									{#foreach from=$detail_longbedfeeArr item=tr#}
									<tr>
									<td><input type="text" class="tit" value="{#$tr[0]#}" /></td>
									<td><input type="text" class="desc" value="{#$tr[1]#}" /></td>
									<td><input type="text" class="pric" value="{#$tr[2]#}" /></td>
									<td>
										<span class="btn move" title="{#$langData['siteConfig'][6][19]#}"><i></i></span><span class="btn del" title="{#$langData['siteConfig'][6][8]#}"><i></i></span><span class="btn add" title="{#$langData['siteConfig'][6][18]#}"><i></i></span>
									</td>
									</tr>
									{#/foreach#}
									{#else#}
									<tr>
									<td><input type="text" class="tit" value="" /></td>
									<td><input type="text" class="desc" value="" /></td>
									<td><input type="text" class="pric" value="" /></td>
									<td>
										<span class="btn move" title="{#$langData['siteConfig'][6][19]#}"><i></i></span><span class="btn del" title="{#$langData['siteConfig'][6][8]#}"><i></i></span><span class="btn add" title="{#$langData['siteConfig'][6][18]#}"><i></i></span>
									</td>
									</tr>
									{#/if#}
								</tbody>
								</table>
							</td>
							</tr>
						</table>
					</div>
				</dd>
			</dl>
			<dl class="fn-clear">
				<dt>{#$langData['siteConfig'][42][53]#}：</dt>  {#* 其它月费 *#}
				<dd class="taocon">
					<div class="many longother">
						<table class="tab">
							<tr>
							<td class="items">
								<table>
								<thead>
									<tr>
									<th width="15%"align="left">{#$langData['siteConfig'][19][84]#}</th>  {#* 类型 *#}
									<th width="50%">{#$langData['siteConfig'][42][38]#}</th>  {#* 说明 *#}
									<th width="15%">{#$langData['siteConfig'][23][122]#}</th>  {#* 费用 *#}
									<th width="20%">{#$langData['siteConfig'][6][11]#}</th>  {#* 操作 *#}
									</tr>
								</thead>
								<tbody>
									{#if !empty($detail_longotherfeesArr)#}
									{#foreach from=$detail_longotherfeesArr item=tr#}
									<tr>
									<td><input type="text" class="tit" value="{#$tr[0]#}" /></td>
									<td><input type="text" class="desc" value="{#$tr[1]#}" /></td>
									<td><input type="text" class="pric" value="{#$tr[2]#}" /></td>
									<td>
										<span class="btn move" title="{#$langData['siteConfig'][6][19]#}"><i></i></span><span class="btn del" title="{#$langData['siteConfig'][6][8]#}"><i></i></span><span class="btn add" title="{#$langData['siteConfig'][6][18]#}"><i></i></span>
									</td>
									</tr>
									{#/foreach#}
									{#else#}
									<tr>
									<td><input type="text" class="tit" value="" /></td>
									<td><input type="text" class="desc" value="" /></td>
									<td><input type="text" class="pric" value="" /></td>
									<td>
										<span class="btn move" title="{#$langData['siteConfig'][6][19]#}"><i></i></span><span class="btn del" title="{#$langData['siteConfig'][6][8]#}"><i></i></span><span class="btn add" title="{#$langData['siteConfig'][6][18]#}"><i></i></span>
									</td>
									</tr>
									{#/if#}
								</tbody>
								</table>
							</td>
							</tr>
						</table>
					</div>
				</dd>
			</dl>
			<dl class="fn-clear">
				<dt>{#$langData['siteConfig'][42][54]#}：</dt>  {#* 短住说明 *#}
				<dd><textarea class="inp text" name="shortinstitutionadesc" id="shortinstitutionadesc" rows="3" cols="60" >{#$detail_shortinstitutionadesc#}</textarea></dd>
			</dl>
			<dl class="fn-clear">
				<dt>{#$langData['siteConfig'][42][50]#}：</dt>  {#* 入住费用 *#}
				<dd class="taocon">
					<div class="many shortrzfee">
						<table class="tab">
							<tr>
							<td class="items">
								<table>
								<thead>
									<tr>
									<th width="15%"align="left">{#$langData['siteConfig'][19][84]#}</th>  {#* 类型 *#}
									<th width="50%">{#$langData['siteConfig'][42][38]#}</th>  {#* 说明 *#}
									<th width="15%">{#$langData['siteConfig'][23][122]#}</th>  {#* 费用 *#}
									<th width="20%">{#$langData['siteConfig'][6][11]#}</th>  {#* 操作 *#}
									</tr>
								</thead>
								<tbody>
									{#if !empty($detail_shortexpensesArr)#}
									{#foreach from=$detail_shortexpensesArr item=tr#}
									<tr>
									<td><input type="text" class="tit" value="{#$tr[0]#}" /></td>
									<td><input type="text" class="desc" value="{#$tr[1]#}" /></td>
									<td><input type="text" class="pric" value="{#$tr[2]#}" /></td>
									<td>
										<span class="btn move" title="{#$langData['siteConfig'][6][19]#}"><i></i></span><span class="btn del" title="{#$langData['siteConfig'][6][8]#}"><i></i></span><span class="btn add" title="{#$langData['siteConfig'][6][18]#}"><i></i></span>
									</td>
									</tr>
									{#/foreach#}
									{#else#}
									<tr>
									<td><input type="text" class="tit" value="" /></td>
									<td><input type="text" class="desc" value="" /></td>
									<td><input type="text" class="pric" value="" /></td>
									<td>
										<span class="btn move" title="{#$langData['siteConfig'][6][19]#}"><i></i></span><span class="btn del" title="{#$langData['siteConfig'][6][8]#}"><i></i></span><span class="btn add" title="{#$langData['siteConfig'][6][18]#}"><i></i></span>
									</td>
									</tr>
									{#/if#}
								</tbody>
								</table>
							</td>
							</tr>
						</table>
					</div>
				</dd>
			</dl>
			<dl class="fn-clear">
				<dt>{#$langData['siteConfig'][42][51]#}：</dt>  {#* 每月床位费 *#}
				<dd class="taocon">
					<div class="many shortmouthfee">
						<table class="tab">
							<tr>
							<td class="items">
								<table>
								<thead>
									<tr>
									<th width="15%"align="left">{#$langData['siteConfig'][19][84]#}</th>  {#* 类型 *#}
									<th width="50%">{#$langData['siteConfig'][42][38]#}</th>  {#* 说明 *#}
									<th width="15%">{#$langData['siteConfig'][23][122]#}</th>  {#* 费用 *#}
									<th width="20%">{#$langData['siteConfig'][6][11]#}</th>  {#* 操作 *#}
									</tr>
								</thead>
								<tbody>
									{#if !empty($detail_shortbedfeeArr)#}
									{#foreach from=$detail_shortbedfeeArr item=tr#}
									<tr>
									<td><input type="text" class="tit" value="{#$tr[0]#}" /></td>
									<td><input type="text" class="desc" value="{#$tr[1]#}" /></td>
									<td><input type="text" class="pric" value="{#$tr[2]#}" /></td>
									<td>
										<span class="btn move" title="{#$langData['siteConfig'][6][19]#}"><i></i></span><span class="btn del" title="{#$langData['siteConfig'][6][8]#}"><i></i></span><span class="btn add" title="{#$langData['siteConfig'][6][18]#}"><i></i></span>
									</td>
									</tr>
									{#/foreach#}
									{#else#}
									<tr>
									<td><input type="text" class="tit" value="" /></td>
									<td><input type="text" class="desc" value="" /></td>
									<td><input type="text" class="pric" value="" /></td>
									<td>
										<span class="btn move" title="{#$langData['siteConfig'][6][19]#}"><i></i></span><span class="btn del" title="{#$langData['siteConfig'][6][8]#}"><i></i></span><span class="btn add" title="{#$langData['siteConfig'][6][18]#}"><i></i></span>
									</td>
									</tr>
									{#/if#}
								</tbody>
								</table>
							</td>
							</tr>
						</table>
					</div>
				</dd>
			</dl>
			<dl class="fn-clear">
				<dt>{#$langData['siteConfig'][42][53]#}：</dt>  {#* 其它月费 *#}
				<dd class="taocon">
					<div class="many shortother">
						<table class="tab">
							<tr>
							<td class="items">
								<table>
								<thead>
									<tr>
									<th width="15%"align="left">{#$langData['siteConfig'][19][84]#}</th>  {#* 类型 *#}
									<th width="50%">{#$langData['siteConfig'][42][38]#}</th>  {#* 说明 *#}
									<th width="15%">{#$langData['siteConfig'][23][122]#}</th>  {#* 费用 *#}
									<th width="20%">{#$langData['siteConfig'][6][11]#}</th>  {#* 操作 *#}
									</tr>
								</thead>
								<tbody>
									{#if !empty($detail_shortotherfeesArr)#}
									{#foreach from=$detail_shortotherfeesArr item=tr#}
									<tr>
									<td><input type="text" class="tit" value="{#$tr[0]#}" /></td>
									<td><input type="text" class="desc" value="{#$tr[1]#}" /></td>
									<td><input type="text" class="pric" value="{#$tr[2]#}" /></td>
									<td>
										<span class="btn move" title="{#$langData['siteConfig'][6][19]#}"><i></i></span><span class="btn del" title="{#$langData['siteConfig'][6][8]#}"><i></i></span><span class="btn add" title="{#$langData['siteConfig'][6][18]#}"><i></i></span>
									</td>
									</tr>
									{#/foreach#}
									{#else#}
									<tr>
									<td><input type="text" class="tit" value="" /></td>
									<td><input type="text" class="desc" value="" /></td>
									<td><input type="text" class="pric" value="" /></td>
									<td>
										<span class="btn move" title="{#$langData['siteConfig'][6][19]#}"><i></i></span><span class="btn del" title="{#$langData['siteConfig'][6][8]#}"><i></i></span><span class="btn add" title="{#$langData['siteConfig'][6][18]#}"><i></i></span>
									</td>
									</tr>
									{#/if#}
								</tbody>
								</table>
							</td>
							</tr>
						</table>
					</div>
				</dd>
			</dl>
		</div>
		<div class="catid2 {#if '2'|in_array:$detail_catid#}{#else#}fn-hide{#/if#}">
			<dl class="fn-clear">
				<dt>{#$langData['siteConfig'][42][55]#}：</dt>  {#* 居家养老公告 *#}
				<dd><textarea class="inp text" name="homecaredesc" id="homecaredesc" rows="3" cols="60" >{#$detail_homecaredesc#}</textarea></dd>
			</dl>
			<dl class="fn-clear">
				<dt>{#$langData['siteConfig'][42][56]#}：</dt>  {#* 居家养老说明 *#}
				<dd><textarea class="inp text" name="homecareagedesc" id="homecareagedesc" rows="3" cols="60" >{#$detail_homecareagedesc#}</textarea></dd>
			</dl>
			<dl class="fn-clear">
				<dt>{#$langData['siteConfig'][42][57]#}：</dt>  {#* 餐饮服务 *#}
				<dd class="taocon">
					<div class="many homecyfw">
						<table class="tab">
							<tr>
							<td class="items">
								<table>
								<thead>
									<tr>
									<th width="15%"align="left">{#$langData['siteConfig'][42][52]#}</th>  {#* 服务类型 *#}
									<th width="30%">{#$langData['siteConfig'][42][30]#}</th>  {#* 价格 *#}
									<th width="35%">{#$langData['siteConfig'][16][74]#}</th>  {#* 备注 *#}
									<th width="20%">{#$langData['siteConfig'][6][11]#}</th>  {#* 操作 *#}
									</tr>
								</thead>
								<tbody>
									{#if !empty($detail_homecyfwArr)#}
									{#foreach from=$detail_homecyfwArr item=tr#}
									<tr>
									<td><input type="text" class="tit" value="{#$tr[0]#}" /></td>
									<td><input type="text" class="desc" value="{#$tr[1]#}" /></td>
									<td><input type="text" class="pric" value="{#$tr[2]#}" /></td>
									<td>
										<span class="btn move" title="{#$langData['siteConfig'][6][19]#}"><i></i></span><span class="btn del" title="{#$langData['siteConfig'][6][8]#}"><i></i></span><span class="btn add" title="{#$langData['siteConfig'][6][18]#}"><i></i></span>
									</td>
									</tr>
									{#/foreach#}
									{#else#}
									<tr>
									<td><input type="text" class="tit" value="" /></td>
									<td><input type="text" class="desc" value="" /></td>
									<td><input type="text" class="pric" value="" /></td>
									<td>
										<span class="btn move" title="{#$langData['siteConfig'][6][19]#}"><i></i></span><span class="btn del" title="{#$langData['siteConfig'][6][8]#}"><i></i></span><span class="btn add" title="{#$langData['siteConfig'][6][18]#}"><i></i></span>
									</td>
									</tr>
									{#/if#}
								</tbody>
								</table>
							</td>
							</tr>
						</table>
					</div>
				</dd>
			</dl>

			<dl class="fn-clear">
				<dt>{#$langData['siteConfig'][42][58]#}：</dt>  {#* 照料护理 *#}
				<dd class="taocon">
					<div class="many homezlhl">
						<table class="tab">
							<tr>
							<td class="items">
								<table>
								<thead>
									<tr>
									<th width="15%"align="left">{#$langData['siteConfig'][42][52]#}</th>  {#* 服务类型 *#}
									<th width="30%">{#$langData['siteConfig'][42][30]#}</th>  {#* 价格 *#}
									<th width="35%">{#$langData['siteConfig'][16][74]#}</th>  {#* 备注 *#}
									<th width="20%">{#$langData['siteConfig'][6][11]#}</th>  {#* 操作 *#}
									</tr>
								</thead>
								<tbody>
									{#if !empty($detail_homezlhlArr)#}
									{#foreach from=$detail_homezlhlArr item=tr#}
									<tr>
									<td><input type="text" class="tit" value="{#$tr[0]#}" /></td>
									<td><input type="text" class="desc" value="{#$tr[1]#}" /></td>
									<td><input type="text" class="pric" value="{#$tr[2]#}" /></td>
									<td>
										<span class="btn move" title="{#$langData['siteConfig'][6][19]#}"><i></i></span><span class="btn del" title="{#$langData['siteConfig'][6][8]#}"><i></i></span><span class="btn add" title="{#$langData['siteConfig'][6][18]#}"><i></i></span>
									</td>
									</tr>
									{#/foreach#}
									{#else#}
									<tr>
									<td><input type="text" class="tit" value="" /></td>
									<td><input type="text" class="desc" value="" /></td>
									<td><input type="text" class="pric" value="" /></td>
									<td>
										<span class="btn move" title="{#$langData['siteConfig'][6][19]#}"><i></i></span><span class="btn del" title="{#$langData['siteConfig'][6][8]#}"><i></i></span><span class="btn add" title="{#$langData['siteConfig'][6][18]#}"><i></i></span>
									</td>
									</tr>
									{#/if#}
								</tbody>
								</table>
							</td>
							</tr>
						</table>
					</div>
				</dd>
			</dl>

			<dl class="fn-clear">
				<dt>{#$langData['siteConfig'][42][59]#}：</dt>  {#* 家政服务 *#}
				<dd class="taocon">
					<div class="many homejzfw">
						<table class="tab">
							<tr>
							<td class="items">
								<table>
								<thead>
									<tr>
									<th width="15%"align="left">{#$langData['siteConfig'][42][52]#}</th>  {#* 服务类型 *#}
									<th width="30%">{#$langData['siteConfig'][42][30]#}</th>  {#* 价格 *#}
									<th width="35%">{#$langData['siteConfig'][16][74]#}</th>  {#* 备注 *#}
									<th width="20%">{#$langData['siteConfig'][6][11]#}</th>  {#* 操作 *#}
									</tr>
								</thead>
								<tbody>
									{#if !empty($detail_homejzfwArr)#}
									{#foreach from=$detail_homejzfwArr item=tr#}
									<tr>
									<td><input type="text" class="tit" value="{#$tr[0]#}" /></td>
									<td><input type="text" class="desc" value="{#$tr[1]#}" /></td>
									<td><input type="text" class="pric" value="{#$tr[2]#}" /></td>
									<td>
										<span class="btn move" title="{#$langData['siteConfig'][6][19]#}"><i></i></span><span class="btn del" title="{#$langData['siteConfig'][6][8]#}"><i></i></span><span class="btn add" title="{#$langData['siteConfig'][6][18]#}"><i></i></span>
									</td>
									</tr>
									{#/foreach#}
									{#else#}
									<tr>
									<td><input type="text" class="tit" value="" /></td>
									<td><input type="text" class="desc" value="" /></td>
									<td><input type="text" class="pric" value="" /></td>
									<td>
										<span class="btn move" title="{#$langData['siteConfig'][6][19]#}"><i></i></span><span class="btn del" title="{#$langData['siteConfig'][6][8]#}"><i></i></span><span class="btn add" title="{#$langData['siteConfig'][6][18]#}"><i></i></span>
									</td>
									</tr>
									{#/if#}
								</tbody>
								</table>
							</td>
							</tr>
						</table>
					</div>
				</dd>
			</dl>

			<dl class="fn-clear">
				<dt>{#$langData['siteConfig'][42][60]#}：</dt>  {#* 精神关爱 *#}
				<dd class="taocon">
					<div class="many homejsga">
						<table class="tab">
							<tr>
							<td class="items">
								<table>
								<thead>
									<tr>
									<th width="15%"align="left">{#$langData['siteConfig'][42][52]#}</th>  {#* 服务类型 *#}
									<th width="30%">{#$langData['siteConfig'][42][30]#}</th>  {#* 价格 *#}
									<th width="35%">{#$langData['siteConfig'][16][74]#}</th>  {#* 备注 *#}
									<th width="20%">{#$langData['siteConfig'][6][11]#}</th>  {#* 操作 *#}
									</tr>
								</thead>
								<tbody>
									{#if !empty($detail_homejsgaArr)#}
									{#foreach from=$detail_homejsgaArr item=tr#}
									<tr>
									<td><input type="text" class="tit" value="{#$tr[0]#}" /></td>
									<td><input type="text" class="desc" value="{#$tr[1]#}" /></td>
									<td><input type="text" class="pric" value="{#$tr[2]#}" /></td>
									<td>
										<span class="btn move" title="{#$langData['siteConfig'][6][19]#}"><i></i></span><span class="btn del" title="{#$langData['siteConfig'][6][8]#}"><i></i></span><span class="btn add" title="{#$langData['siteConfig'][6][18]#}"><i></i></span>
									</td>
									</tr>
									{#/foreach#}
									{#else#}
									<tr>
									<td><input type="text" class="tit" value="" /></td>
									<td><input type="text" class="desc" value="" /></td>
									<td><input type="text" class="pric" value="" /></td>
									<td>
										<span class="btn move" title="{#$langData['siteConfig'][6][19]#}"><i></i></span><span class="btn del" title="{#$langData['siteConfig'][6][8]#}"><i></i></span><span class="btn add" title="{#$langData['siteConfig'][6][18]#}"><i></i></span>
									</td>
									</tr>
									{#/if#}
								</tbody>
								</table>
							</td>
							</tr>
						</table>
					</div>
				</dd>
			</dl>

			<dl class="fn-clear">
				<dt>{#$langData['siteConfig'][42][61]#}：</dt>  {#* 集体活动 *#}
				<dd class="taocon">
					<div class="many homejthd">
						<table class="tab">
							<tr>
							<td class="items">
								<table>
								<thead>
									<tr>
									<th width="15%"align="left">{#$langData['siteConfig'][42][52]#}</th>  {#* 服务类型 *#}
									<th width="30%">{#$langData['siteConfig'][42][30]#}</th>  {#* 价格 *#}
									<th width="35%">{#$langData['siteConfig'][16][74]#}</th>  {#* 备注 *#}
									<th width="20%">{#$langData['siteConfig'][6][11]#}</th>  {#* 操作 *#}
									</tr>
								</thead>
								<tbody>
									{#if !empty($detail_homejthdArr)#}
									{#foreach from=$detail_homejthdArr item=tr#}
									<tr>
									<td><input type="text" class="tit" value="{#$tr[0]#}" /></td>
									<td><input type="text" class="desc" value="{#$tr[1]#}" /></td>
									<td><input type="text" class="pric" value="{#$tr[2]#}" /></td>
									<td>
										<span class="btn move" title="{#$langData['siteConfig'][6][19]#}"><i></i></span><span class="btn del" title="{#$langData['siteConfig'][6][8]#}"><i></i></span><span class="btn add" title="{#$langData['siteConfig'][6][18]#}"><i></i></span>
									</td>
									</tr>
									{#/foreach#}
									{#else#}
									<tr>
									<td><input type="text" class="tit" value="" /></td>
									<td><input type="text" class="desc" value="" /></td>
									<td><input type="text" class="pric" value="" /></td>
									<td>
										<span class="btn move" title="{#$langData['siteConfig'][6][19]#}"><i></i></span><span class="btn del" title="{#$langData['siteConfig'][6][8]#}"><i></i></span><span class="btn add" title="{#$langData['siteConfig'][6][18]#}"><i></i></span>
									</td>
									</tr>
									{#/if#}
								</tbody>
								</table>
							</td>
							</tr>
						</table>
					</div>
				</dd>
			</dl>

			<dl class="fn-clear">
				<dt>{#$langData['siteConfig'][42][62]#}：</dt>  {#* 托老服务 *#}
				<dd class="taocon">
					<div class="many hometlfw">
						<table class="tab">
							<tr>
							<td class="items">
								<table>
								<thead>
									<tr>
									<th width="15%"align="left">{#$langData['siteConfig'][42][52]#}</th>  {#* 服务类型 *#}
									<th width="30%">{#$langData['siteConfig'][42][30]#}</th>  {#* 价格 *#}
									<th width="35%">{#$langData['siteConfig'][16][74]#}</th>  {#* 备注 *#}
									<th width="20%">{#$langData['siteConfig'][6][11]#}</th>  {#* 操作 *#}
									</tr>
								</thead>
								<tbody>
									{#if !empty($detail_hometlfwArr)#}
									{#foreach from=$detail_hometlfwArr item=tr#}
									<tr>
									<td><input type="text" class="tit" value="{#$tr[0]#}" /></td>
									<td><input type="text" class="desc" value="{#$tr[1]#}" /></td>
									<td><input type="text" class="pric" value="{#$tr[2]#}" /></td>
									<td>
										<span class="btn move" title="{#$langData['siteConfig'][6][19]#}"><i></i></span><span class="btn del" title="{#$langData['siteConfig'][6][8]#}"><i></i></span><span class="btn add" title="{#$langData['siteConfig'][6][18]#}"><i></i></span>
									</td>
									</tr>
									{#/foreach#}
									{#else#}
									<tr>
									<td><input type="text" class="tit" value="" /></td>
									<td><input type="text" class="desc" value="" /></td>
									<td><input type="text" class="pric" value="" /></td>
									<td>
										<span class="btn move" title="{#$langData['siteConfig'][6][19]#}"><i></i></span><span class="btn del" title="{#$langData['siteConfig'][6][8]#}"><i></i></span><span class="btn add" title="{#$langData['siteConfig'][6][18]#}"><i></i></span>
									</td>
									</tr>
									{#/if#}
								</tbody>
								</table>
							</td>
							</tr>
						</table>
					</div>
				</dd>
			</dl>
		</div>
		<div class="catid3 {#if '3'|in_array:$detail_catid#}{#else#}fn-hide{#/if#}">
			<dl class="fn-clear">
				<dt>{#$langData['siteConfig'][42][63]#}：</dt>  {#* 旅居养老公告 *#}
				<dd><textarea class="inp text" name="residentialdesc" id="residentialdesc" rows="3" cols="60" >{#$detail_residentialdesc#}</textarea></dd>
			</dl>
			<dl class="fn-clear">
				<dt>{#$langData['siteConfig'][42][64]#}：</dt>  {#* 旅居养老说明 *#}
				<dd><textarea class="inp text" name="residentialagedesc" id="residentialagedesc" rows="3" cols="60" >{#$detail_residentialagedesc#}</textarea></dd>
			</dl>
			<dl class="fn-clear">
				<dt>{#$langData['siteConfig'][42][65]#}：</dt>  {#* 每日床位费 *#}
				<dd class="taocon">
					<div class="many residentialmouthfee">
						<table class="tab">
							<tr>
							<td class="items">
								<table>
								<thead>
									<tr>
									<th width="15%"align="left">{#$langData['siteConfig'][42][52]#}</th>  {#* 服务类型 *#}
									<th width="30%">{#$langData['siteConfig'][42][30]#}</th>  {#* 价格 *#}
									<th width="35%">{#$langData['siteConfig'][16][74]#}</th>  {#* 备注 *#}
									<th width="20%">{#$langData['siteConfig'][6][11]#}</th>  {#* 操作 *#}
									</tr>
								</thead>
								<tbody>
									{#if !empty($detail_residentialbedfeeArr)#}
									{#foreach from=$detail_residentialbedfeeArr item=tr#}
									<tr>
									<td><input type="text" class="tit" value="{#$tr[0]#}" /></td>
									<td><input type="text" class="desc" value="{#$tr[1]#}" /></td>
									<td><input type="text" class="pric" value="{#$tr[2]#}" /></td>
									<td>
										<span class="btn move" title="{#$langData['siteConfig'][6][19]#}"><i></i></span><span class="btn del" title="{#$langData['siteConfig'][6][8]#}"><i></i></span><span class="btn add" title="{#$langData['siteConfig'][6][18]#}"><i></i></span>
									</td>
									</tr>
									{#/foreach#}
									{#else#}
									<tr>
									<td><input type="text" class="tit" value="" /></td>
									<td><input type="text" class="desc" value="" /></td>
									<td><input type="text" class="pric" value="" /></td>
									<td>
										<span class="btn move" title="{#$langData['siteConfig'][6][19]#}"><i></i></span><span class="btn del" title="{#$langData['siteConfig'][6][8]#}"><i></i></span><span class="btn add" title="{#$langData['siteConfig'][6][18]#}"><i></i></span>
									</td>
									</tr>
									{#/if#}
								</tbody>
								</table>
							</td>
							</tr>
						</table>
					</div>
				</dd>
			</dl>
			<dl class="fn-clear">
				<dt>{#$langData['siteConfig'][42][66]#}：</dt>  {#* 其它费用/天 *#}
				<dd class="taocon" data-id="1">
					<div class="many residentialoother">
						<table class="tab">
							<tr>
							<td class="items">
								<table>
								<thead>
									<tr>
									<th width="10%"align="left">{#$langData['siteConfig'][23][122]#}</th>  {#* 费用 *#}
									<th width="10%">{#$langData['siteConfig'][42][67]#}</th>  {#* 完全自理 *#}
									<th width="10%">{#$langData['siteConfig'][42][68]#}</th>  {#* 轻度失能 *#}
									<th width="10%">{#$langData['siteConfig'][42][69]#}</th>  {#* 中度失能 *#}
									<th width="10%">{#$langData['siteConfig'][42][70]#}</th>  {#* 重度失能 *#}
									<th width="10%">{#$langData['siteConfig'][42][71]#}</th>  {#* 失智长者 *#}
									<th width="22%">{#$langData['siteConfig'][6][11]#}</th>  {#* 操作 *#}
									</tr>
								</thead>
								<tbody>
									{#if !empty($detail_residentialotherfeesArr)#}
									{#foreach from=$detail_residentialotherfeesArr item=tr#}
									<tr>
									<td><input type="text" class="tit" value="{#$tr[0]#}" /></td>
									<td><input type="text" class="pric1" value="{#$tr[1]#}" /></td>
									<td><input type="text" class="pric2" value="{#$tr[2]#}" /></td>
									<td><input type="text" class="pric3" value="{#$tr[3]#}" /></td>
									<td><input type="text" class="pric4" value="{#$tr[4]#}" /></td>
									<td><input type="text" class="pric5" value="{#$tr[5]#}" /></td>
									<td>
										<span class="btn move" title="{#$langData['siteConfig'][6][19]#}"><i></i></span><span class="btn del" title="{#$langData['siteConfig'][6][8]#}"><i></i></span><span class="btn add" title="{#$langData['siteConfig'][6][18]#}"><i></i></span>
									</td>
									</tr>
									{#/foreach#}
									{#else#}
									<tr>
										<td><input type="text" class="tit" value="" /></td>
										<td><input type="text" class="pric1" value="" /></td>
										<td><input type="text" class="pric2" value="" /></td>
										<td><input type="text" class="pric3" value="" /></td>
										<td><input type="text" class="pric4" value="" /></td>
										<td><input type="text" class="pric5" value="" /></td>
									<td>
										<span class="btn move move1" title="{#$langData['siteConfig'][6][19]#}"><i></i></span><span class="btn del" title="{#$langData['siteConfig'][6][8]#}"><i></i></span><span class="btn add" title="{#$langData['siteConfig'][6][18]#}"><i></i></span>
									</td>
									</tr>
									{#/if#}
								</tbody>
								</table>
							</td>
							</tr>
						</table>
					</div>
				</dd>
			</dl>
			<dl class="fn-clear">
				<dt>{#$langData['siteConfig'][41][45]#}：</dt>  {#* 会员卡 *#}
				<dd class="taocon">
					<div class="many residentialcard">
						<table class="tab">
							<tr>
							<td class="items">
								<table>
								<thead>
									<tr>
									<th width="15%"align="left">{#$langData['siteConfig'][19][84]#}</th>  {#* 类型 *#}
									<th width="30%">{#$langData['siteConfig'][42][38]#}</th>  {#* 说明 *#}
									<th width="35%">{#$langData['siteConfig'][42][72]#}</th>  {#* 费用（元） *#}
									<th width="20%">{#$langData['siteConfig'][6][11]#}</th>  {#* 操作 *#}
									</tr>
								</thead>
								<tbody>
									{#if !empty($detail_residentialcardArr)#}
									{#foreach from=$detail_residentialcardArr item=tr#}
									<tr>
									<td><input type="text" class="tit" value="{#$tr[0]#}" /></td>
									<td><input type="text" class="desc" value="{#$tr[1]#}" /></td>
									<td><input type="text" class="pric" value="{#$tr[2]#}" /></td>
									<td>
										<span class="btn move" title="{#$langData['siteConfig'][6][19]#}"><i></i></span><span class="btn del" title="{#$langData['siteConfig'][6][8]#}"><i></i></span><span class="btn add" title="{#$langData['siteConfig'][6][18]#}"><i></i></span>
									</td>
									</tr>
									{#/foreach#}
									{#else#}
									<tr>
									<td><input type="text" class="tit" value="" /></td>
									<td><input type="text" class="desc" value="" /></td>
									<td><input type="text" class="pric" value="" /></td>
									<td>
										<span class="btn move" title="{#$langData['siteConfig'][6][19]#}"><i></i></span><span class="btn del" title="{#$langData['siteConfig'][6][8]#}"><i></i></span><span class="btn add" title="{#$langData['siteConfig'][6][18]#}"><i></i></span>
									</td>
									</tr>
									{#/if#}
								</tbody>
								</table>
							</td>
							</tr>
						</table>
					</div>
				</dd>
			</dl>
		</div>

		<div class="thead" style="margin-top: 0;">{#$langData['siteConfig'][42][73]#}</div>  {#* 机构信息 *#}
		<dl class="fn-clear tuantype-item">
			<dd>
				<div class="input-append input-prepend registration">
					<span class="add-bef">{#$langData['siteConfig'][42][74]#}</span>  {#* 注册日期 *#}
					<input id="registration" name="registration" size="18" type="text" value="{#$detail_registration#}" />
				</div>
				<div class="input-append input-prepend buildings" style="margin-left: 10px;">
					<span  class="add-bef">{#$langData['siteConfig'][42][75]#}</span>  {#* 建筑数量 *#}
					<input style="width: 74px;" id="buildings" name="buildings" size="18" type="number" value="{#$detail_buildings#}" />
					<span class="add-aft">{#$langData['siteConfig'][42][76]|replace:'1':''#}</span>  {#* 栋 *#}
				</div>
			</dd>
		</dl>
		<dl class="fn-clear tuantype-item">
			<dd>
				<div class="input-append input-prepend landarea">
					<span class="add-bef">{#$langData['siteConfig'][42][77]#}</span>  {#* 土地面积 *#}
					<input id="landarea" name="landarea" size="14" type="text" value="{#$detail_landarea#}" />
					<span class="add-aft">{#echoCurrency type='areasymbol'#}</span>
				</div>
				<div class="input-append input-prepend builtuparea" style="margin-left: 10px;">
					<span  class="add-bef">{#$langData['siteConfig'][42][78]#}</span>  {#* 建筑面积 *#}
					<input style="width: 74px;" id="builtuparea" name="builtuparea" size="18" type="text" value="{#$detail_builtuparea#}" />
					<span class="add-aft">{#echoCurrency type='areasymbol'#}</span>
				</div>
				<div class="input-append input-prepend builtuparea" style="margin-left: 10px;">
					<span  class="add-bef">{#$langData['siteConfig'][42][79]#}</span>  {#* 房间面积 *#}
					<input id="roomarea" name="roomarea" size="18" type="text" value="{#$detail_roomarea#}" />
				</div>
			</dd>
		</dl>
		<dl class="fn-clear tuantype-item">
			<dd>
				<div class="input-append input-prepend rooms">
					<span class="add-bef">{#$langData['siteConfig'][42][80]#}</span>  {#* 房间数量 *#}
					<input style="width: 127px;" id="rooms" name="rooms" size="14" type="number" value="{#$detail_rooms#}" />
					<span class="add-aft">{#$langData['siteConfig'][42][83]|replace:'1':''#}</span>  {#* 间 *#}
				</div>
				<div class="input-append input-prepend bednums" style="margin-left: 10px;">
					<span  class="add-bef">{#$langData['siteConfig'][42][81]#}</span>  {#* 床位数量 *#}
					<input style="width: 74px;" id="bednums" name="bednums" size="18" type="number" value="{#$detail_bednums#}" />
					<span class="add-aft">{#$langData['siteConfig'][42][84]|replace:'1':''#}</span>  {#* 张 *#}
				</div>
				<div class="input-append input-prepend peoplenums" style="margin-left: 10px;">
					<span  class="add-bef">{#$langData['siteConfig'][42][82]#}</span>  {#* 从业人数 *#}
					<input style="width: 127px;" id="peoplenums" name="peoplenums" size="18" type="number" value="{#$detail_peoplenums#}" />
					<span class="add-aft">{#$langData['siteConfig'][42][85]|replace:'1':''#}</span>  {#* 人 *#}
				</div>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>{#$langData['siteConfig'][42][86]#}：</dt>  {#* 自有医疗机构 *#}
			<dd><textarea class="inp text" name="ownedinstitutions" id="ownedinstitutions" rows="3" cols="60" >{#$detail_ownedinstitutions#}</textarea></dd>
		</dl>
		<dl class="fn-clear">
			<dt>{#$langData['siteConfig'][42][87]#}：</dt>  {#* 合作医疗机构 *#}
			<dd><textarea class="inp text" name="cooperativeinstitutions" id="cooperativeinstitutions" rows="3" cols="60" >{#$detail_cooperativeinstitutions#}</textarea></dd>
		</dl>
		<dl class="fn-clear">
			<dt>{#$langData['siteConfig'][42][88]#}：</dt>  {#* 是否接收特殊疾病长者 *#}
			<dd><textarea class="inp text" name="diseases" id="diseases" rows="3" cols="60" >{#$detail_diseases#}</textarea></dd>
		</dl>
		<dl class="fn-clear">
			<dt>{#$langData['siteConfig'][42][89]#}：</dt>  {#* 照护服务 *#}
			<dd><textarea class="inp text" name="careservices" id="careservices" rows="3" cols="60" >{#$detail_careservices#}</textarea></dd>
		</dl>
		<dl class="fn-clear">
			<dt>{#$langData['siteConfig'][42][90]#}：</dt>  {#* 生活服务 *#}
			<dd><textarea class="inp text" name="lifeservice" id="lifeservice" rows="3" cols="60" >{#$detail_lifeservice#}</textarea></dd>
		</dl>
		<dl class="fn-clear">
			<dt>{#$langData['siteConfig'][42][91]#}：</dt>  {#* 伙食情况 *#}
			<dd><textarea class="inp text" name="foodsituation" id="foodsituation" rows="3" cols="60" >{#$detail_foodsituation#}</textarea></dd>
		</dl>
		<dl class="fn-clear">
			<dt>{#$langData['siteConfig'][42][92]#}：</dt>  {#* 其他说明 *#}
			<dd><textarea class="inp text" name="othernotes" id="othernotes" rows="3" cols="60" >{#$detail_othernotes#}</textarea></dd>
		</dl>
		<dl class="fn-clear">
			<dt>&nbsp;</dt>
			<dd><button class="submit" id="submit">{#$langData['siteConfig'][6][63]#}</button></dd>
		</dl>
	</form>
</div>

<div class="map-pop" id="markPopMap">
	<a href="javascript:;" class="pop-close">&times;</a>
	<div class="pop-border"></div>
	<div class="pop-main">
		<div class="pop-title">{#$langData['siteConfig'][6][92]#}</div>
		<div class="pop-con">
			<iframe name="markDitu" id="markDitu" frameborder="0"></iframe>
			<div class="btns"><a href="javascript:;" id="okPop">{#$langData['siteConfig'][6][1]#}</a><a href="javascript:;" id="cloPop">{#$langData['siteConfig'][6][12]#}</a></div>
		</div>
	</div>
</div>

<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/calendar/WdatePicker.js?v={#$cfg_staticVersion#}"></script>
{#else#}
<div class="list" style="padding: 200px 0; text-align: center; font-size: 14px; color: red;">{#$langData['siteConfig'][20][403]#}</div>
{#/if#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/publicAddr.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.dragsort-0.5.1.min.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/publicUpload.js?v={#$cfg_staticVersion#}"></script>
<script>
	var circle = {#if $detail_circlelist#}{#$detail_circlelist#}{#else#}[]{#/if#}, subwaystation = {#if $detail_subwaystationlist#}{#$detail_subwaystationlist#}{#else#}[]{#/if#};
</script>
