{#if $do == "edit"#}
{#* 荣誉资质管理 *#}
{#$pageTitle = $langData['renovation'][15][58]|cat:" - "|cat:$detail_title|cat:" - "|cat:$cfg_webname#}
{#else#}
{#* 添加荣誉资质 *#}
{#$pageTitle = $langData['renovation'][10][14]|cat:" - "|cat:$cfg_webname#}
{#/if#}


<div class="w-form">
	<form action="/include/ajax.php?service=renovation&action={#if $id != ""#}editStoreaptitudes&id={#$id#}{#else#}addStoreaptitudes{#/if#}" id="fabuForm" data-url="{#getUrlPath service='member' template='renovation-honor'#}">

		{#* 标题 -- 请输入标题*#}
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>{#$langData['siteConfig'][19][0]#}：</dt>
			<dd id="selTeam">
				<input type="text" name="title" class="inp" id="title" size="60" maxlength="50" data-title="{#$langData['renovation'][7][7]#}" value="{#$detail_title#}" />
				<span class="tip-inline"></span>
			</dd>
		</dl>
		{#* 资质图片 *#}
		<dl class="fn-clear">
            <dt><span>*</span>{#$langData['renovation'][10][15]#}：</dt>
            <dd class="thumb fn-clear listImgBox">
                <div class="uploadinp filePicker thumbtn" id="filePicker" data-type="thumb"  data-count="1" data-size="{#$thumbSize#}" data-imglist=""><div></div><span></span></div>
                {#if $detail_litpicpath != ""#}
                <ul id="listSection" class="listSection thumblist fn-clear" style="display:inline-block;"><li id="WU_FILE_0_2"><a href='{#$detail_litpicpath#}' target="_blank" title=""><img alt="" src="{#$detail_litpicpath#}" data-val="{#$detail_litpic#}" style="max-width:300px;"/></a><a class="reupload li-rm" href="javascript:;">{#$langData['siteConfig'][19][176]#}</a></li></ul>
                {#else#}
                <ul id="listSection" class="listSection thumblist fn-clear"></ul>
                {#/if#}
                <input type="hidden" name="litpic" value="{#$detail_litpic#}" class="imglist-hidden" id="thumb">
            </dd>
        </dl>
		{#* 立即发布 *#}
		<dl class="fn-clear">
			<dt>&nbsp;</dt>
			<dd><button class="submit" id="submit">{#if $id == 0#}{#$langData['siteConfig'][11][19]#}{#else#}{#$langData['siteConfig'][6][122]#}{#/if#}</button></dd>{#* 立即投稿 - 提交修改 *#}
		</dl>


	</form>
</div>




