{#if $do == "edit"#}
{#* 套餐管理 *#}
{#$pageTitle = $langData['marry'][3][25]|cat:" - "|cat:$detail_title|cat:" - "|cat:$cfg_webname#}
{#else#}
{#* 发布套餐 *#}
{#$pageTitle = $langData['marry'][8][30]|cat:" - "|cat:$cfg_webname#}
{#/if#}

{#if $typeid == 9#}
{#$pageTit = $langData['marry'][2][14]#} {#*婚礼策划*#}
{#elseif $typeid == 4#}
{#$pageTit = $langData['marry'][2][9]#} {#*摄像跟拍*#}
{#elseif $typeid == 10#}
{#$pageTit = $langData['marry'][2][15]#} {#*租婚车*#}
{#elseif $typeid == 1#}
{#$pageTit = $langData['marry'][2][6]#} {#*婚纱摄影*#}
{#elseif $typeid == 2#}
{#$pageTit = $langData['marry'][2][7]#} {#*摄影跟拍*#}
{#elseif $typeid == 7#}
{#$pageTit = $langData['marry'][2][16]#} {#*婚礼主持*#}
{#elseif $typeid == 3#}
{#$pageTit = $langData['marry'][2][8]#} {#*珠宝首饰*#}
{#elseif $typeid == 5#}
{#$pageTit = $langData['marry'][2][10]#} {#*新娘跟妆*#}
{#elseif $typeid == 6#}
{#$pageTit = $langData['marry'][2][11]#} {#*婚纱礼服*#}
{#/if#}
<script>
	var stypeid = "{#$typeid#}";

	var editFlag = '{#if $id#}update&id={#$id#}{#else#}add{#/if#}';
    var mealUrl = "{#getUrlPath service='member' template='marry-casemeal' param='typeid=%typeid%'#}";
</script>
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/fabu-marry-menu.css?v={#$cfg_staticVersion#}">
<div class="w-form">
	<form name="fabuForm" id="fabuForm" method="post" action="/include/ajax.php?service=marry&action=operPlanmeal&oper={#if $id#}update&id={#$id#}{#else#}add{#/if#}" data-url="{#getUrlPath service='member' template='marry-casemeal' param="typeid=$typeid"#}">
		{#* 基本信息 *#}
		<div class="common-title">{#$langData['siteConfig'][19][22]#}</div>
		{#* 套餐分类 -- 请选择分类！*#}
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>{#$langData['marry'][7][47]#}：</dt>

			<dd id="selTeam">
				<div class="comBox">
					<input type="text" id="typename" name="typename" value="{#$pageTit#}" readonly class="inp {#if !$id#}tChoose{#/if#}" placeholder="{#$langData['siteConfig'][7][2]#}" data-title="{#$langData['marry'][4][4]#}"/> {#* 请选择*#}
					<span class="caret"></span>

					<input type="hidden" value="{#$typeid#}" id="typeid" name="typeid">
				</div>
				<div class="seList">
					{#* 婚礼策划 *#}
					<p data-value="9" {#if $typeid == 9#}class="selected" {#/if#}>{#$langData['marry'][2][14]#}</p>
					{#* 租婚车 *#}
					<p data-value="10" {#if $typeid == 10#}class="selected" {#/if#}>{#$langData['marry'][2][15]#}</p>
					{#* 婚纱摄影 *#}
					<p data-value="1" {#if $typeid == 1#}class="selected" {#/if#}>{#$langData['marry'][2][6]#}</p>
					{#* 摄影跟拍 *#}
					<p data-value="2" {#if $typeid == 2#}class="selected" {#/if#}>{#$langData['marry'][2][7]#}</p>
					{#* 婚礼主持 *#}
					<p data-value="7" {#if $typeid == 7#}class="selected" {#/if#}>{#$langData['marry'][2][16]#}</p>
					{#* 珠宝首饰 *#}
					<p data-value="3" {#if $typeid == 3#}class="selected" {#/if#}>{#$langData['marry'][2][8]#}</p>
					{#* 摄像跟拍 *#}
					<p data-value="4" {#if $typeid == 4#}class="selected" {#/if#}>{#$langData['marry'][2][9]#}</p>
					{#* 新娘跟妆 *#}
					<p data-value="5" {#if $typeid == 5#}class="selected" {#/if#}>{#$langData['marry'][2][10]#}</p>
					{#* 婚纱礼服 *#}
					<p data-value="6" {#if $typeid == 6#}class="selected" {#/if#}>{#$langData['marry'][2][11]#}</p>
				</div>
	
				<!-- <select name="typeid" id="typeid" class="inp fenlei" data-title="{#$langData['marry'][4][4]#}" {#if $id#}disabled="disabled"{#/if#}>
					<option value="">{#$langData['siteConfig'][7][2]#}</option> {#* 请选择 *#}
					{#* 婚礼策划 *#}
					<option value="2" {#if $typeid == 2#}selected {#/if#}>{#$langData['marry'][2][14]#}</option> 
					{#* 租婚车 *#}
					<option value="3" {#if $typeid == 3#}selected {#/if#}>{#$langData['marry'][2][15]#}</option> 
					{#* 婚纱摄影 *#}
					<option value="4" {#if $typeid == 4#}selected {#/if#}>{#$langData['marry'][2][6]#}</option> 
					{#* 摄影跟拍 *#}
					<option value="5" {#if $typeid == 5#}selected {#/if#}>{#$langData['marry'][2][7]#}</option> 
					{#* 婚礼主持 *#}
					<option value="6" {#if $typeid == 6#}selected {#/if#}>{#$langData['marry'][2][16]#}</option> 
					{#* 珠宝首饰 *#}
					<option value="7" {#if $typeid == 7#}selected {#/if#}>{#$langData['marry'][2][8]#}</option> 
					{#* 摄像跟拍 *#}
					<option value="8" {#if $typeid == 8#}selected {#/if#}>{#$langData['marry'][2][9]#}</option> 
					{#* 新娘跟妆 *#}
					<option value="9" {#if $typeid == 9#}selected {#/if#}>{#$langData['marry'][2][10]#}</option> 
					{#* 婚纱礼服 *#}
					<option value="10" {#if $typeid == 10#}selected {#/if#}>{#$langData['marry'][2][11]#}</option> 
 

				</select> -->
				<span class="tip-inline"></span>
			</dd>
		</dl>

		{#* 套餐标题 -- 请输入套餐标题！*#}
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>{#$langData['marry'][7][50]#}：</dt>
			<dd>
				<input type="text" name="title" class="inp" id="comname" size="60" maxlength="50" data-title="{#$langData['marry'][7][99]#}" value="{#$detail_title#}" />
				<span class="tip-inline"></span>
			</dd>
		</dl>
		{#* 价格 -- 请输入价格*#}
	    <dl class="fn-clear"  data-required="1">
			<dt><span>*</span>{#$langData['marry'][2][43]#}：</dt>
			<dd>
			    <div class="comBox">
			      <input id="price" name="price" type="text" size="8" maxlength="6" value="{#$detail_price#}" class="inp" data-title="{#$langData['marry'][4][14]#}" placeholder="{#$langData['siteConfig'][20][328]#}">
			      <span class="sym">{#echoCurrency type='short'#}</span> {#* 元 *#}
			    </div>
			    <span class="tip-inline"></span>
			</dd>
		</dl>
		<div class="filterWrap">
			<!-- 主持人 s-->
       		<div class="info filter-7" {#if $typeid == 7#}style="display:block"{#/if#}>
				{#* 选择风格 -- 请选择风格！*#}
				<dl class="fn-clear" data-required="1">
					<dt><span>*</span>{#$langData['marry'][7][51]#}：</dt>
					<dd>
						<select name="style_7" id="hstyle" class="inp fenlei" data-title="{#$langData['marry'][8][4]#}">
							{#html_options options=$zclist selected=$detail_style#}

						</select>
						<span class="tip-inline"></span>
					</dd>
				</dl>
			</div>
			<!-- 主持人 e-->

		<div class="filterWrap">
			<!-- 婚纱摄影 s-->
			<div class="info filter-7" {#if $typeid == 6#}style="display:block"{#/if#}>
			{#* 选择风格 -- 请选择风格！*#}
			<dl class="fn-clear" data-required="1">
				<dt><span>*</span>{#$langData['marry'][7][51]#}：</dt>
				<dd>
					<select name="style_6" id="style" class="inp fenlei" data-title="{#$langData['marry'][8][4]#}">
						{#html_options options=$zclist selected=$detail_style#}

					</select>
					<span class="tip-inline"></span>
				</dd>
			</dl>
		</div>
		<!-- 婚纱摄影 e-->
			<!-- 婚车 s-->
       		<div class="info filter-10" {#if $typeid == 10#}style="display:block"{#/if#}>
				{#* 选择类型 -- 请选择类型！*#}
				<dl class="fn-clear" data-required="1">
					<dt><span>*</span>{#$langData['marry'][7][60]#}：</dt>
					<dd>
						<select name="style_10" id="cartype" class="inp fenlei" data-title="{#$langData['marry'][8][8]#}">
							{#html_options options=$styleList selected=$detail_style#}

						</select>
						<span class="tip-inline"></span>
					</dd>
				</dl>
       		</div>
       		<!-- 婚车 e-->
       		<!-- 婚礼策划 s-->    
        	<div class="info filter-9" {#if $typeid == 9#}style="display:block"{#/if#}>
        		{#* 选择风格 -- 请选择风格！*#}
				<dl class="fn-clear" data-required="1">
					<dt><span>*</span>{#$langData['marry'][7][51]#}：</dt>
					<dd>
						<select name="style_9" id="planstyle" class="inp fenlei" data-title="{#$langData['marry'][8][4]#}">
							{#html_options options=$tclist selected=$detail_style#}

						</select>
						<span class="tip-inline"></span>
					</dd>
				</dl>
				{#* 选择婚礼类别 -- 请选择婚礼类别！*#}
				<dl class="fn-clear" data-required="1">
					<dt><span>*</span>{#$langData['marry'][7][64]#}：</dt>
					<dd>
						<select name="classification_9" id="plantype" class="inp fenlei" data-title="{#$langData['marry'][8][5]#}">
							{#html_options options=$hllist selected=$detail_classification#}
						</select>
						<span class="tip-inline"></span>
					</dd>
				</dl>
				{#* 选择颜色 -- 请选择颜色！*#}
				<dl class="fn-clear" data-required="1">
					<dt><span>*</span>{#$langData['marry'][7][65]#}：</dt>
					<dd>
						<select name="colour_9" id="plancolor" class="inp fenlei" data-title="{#$langData['marry'][8][6]#}">
							{#html_options options=$yslist selected=$detail_colour#}

						</select>
						<span class="tip-inline"></span>
					</dd>
				</dl>
        	</div>
        	<!-- 婚礼策划 e--> 
        	<!-- 婚纱摄影 s-->
        	<div class="info filter-1" {#if $typeid == 1#}style="display:block"{#/if#}>
        		{#* 选择风格 -- 请选择风格！*#}
				<dl class="fn-clear" data-required="1">
					<dt><span>*</span>{#$langData['marry'][7][51]#}：</dt>
					<dd>
						<select name="style_1" id="gownstyle" class="inp fenlei" data-title="{#$langData['marry'][8][4]#}">
							{#html_options options=$fg_archives_list selected=$detail_style#}
						</select>
						<span class="tip-inline"></span>
					</dd>
				</dl>
				{#* 选择场景 -- 请选择场景！*#}
				<dl class="fn-clear" data-required="1">
					<dt><span>*</span>{#$langData['marry'][7][71]#}：</dt>
					<dd>
						<select name="classification_1" id="gownscene" class="inp fenlei" data-title="{#$langData['marry'][8][7]#}">
							{#html_options options=$cj_archives_list selected=$detail_classification#}

						</select>
						<span class="tip-inline"></span>
					</dd>
				</dl>
        	</div>
        	<!-- 婚纱摄影 e-->
        	<!-- 摄影跟拍 s-->
        	<div class="info filter-2" {#if $typeid == 2#}style="display:block"{#/if#}>
				{#* 选择跟拍类别 -- 请选择跟拍类别！*#}
				<dl class="fn-clear" data-required="1">
					<dt><span>*</span>{#$langData['marry'][8][43]#}：</dt>
					<dd>
						<select name="style_2" id="phototype" class="inp fenlei" data-title="{#$langData['marry'][8][44]#}">
							{#html_options options=$leibielist selected=$detail_style#}

						</select>
						<span class="tip-inline"></span>
					</dd>
				</dl>
				{#* 选择风格 -- 请选择风格！*#}
				<dl class="fn-clear" data-required="1">
					<dt><span>*</span>{#$langData['marry'][7][51]#}：</dt>
					<dd>
						<select name="classification_2" id="photostyle" class="inp fenlei" data-title="{#$langData['marry'][8][4]#}">
							{#html_options options=$shexianglist selected=$detail_classification#}

						</select>
						<span class="tip-inline"></span>
					</dd>
				</dl>
        	</div>
        	<!-- 摄影跟拍 e-->
        	<!-- 珠宝首饰 s-->
        	<div class="info filter-3" {#if $typeid == 3#}style="display:block"{#/if#}>
				{#* 选择材质 -- 请选择材质！*#}
				<dl class="fn-clear" data-required="1">
					<dt><span>*</span>{#$langData['marry'][7][83]#}: </dt>
					<dd>
						<select name="style_3" id="material" class="inp fenlei" data-title="{#$langData['marry'][8][9]#}">
							{#html_options options=$caizhilist selected=$detail_style#}
						</select>
						<span class="tip-inline"></span>
					</dd>

				</dl>
				{#* 选择类型 -- 请选择类型！*#}
				<dl class="fn-clear" data-required="1">
					<dt><span>*</span>{#$langData['marry'][7][60]#}：</dt>
					<dd>
						<select name="classification_3" id="jewelrytype" class="inp fenlei" data-title="{#$langData['marry'][8][8]#}">
							{#html_options options=$zblist selected=$detail_classification#}

						</select>
						<span class="tip-inline"></span>
					</dd>
				</dl>
        	</div>
        	<!-- 珠宝首饰 e-->
        	<!-- 摄像跟拍 s-->
        	<div class="info filter-4" {#if $typeid == 4#}style="display:block"{#/if#}>
				{#* 选择类别 -- 请选择类别！*#}
				<dl class="fn-clear" data-required="1">
					<dt><span>*</span>{#$langData['marry'][8][48]#}：</dt>
					<dd>
						<select name="style_4" id="videotype" class="inp fenlei" data-title="{#$langData['marry'][8][49]#}">
							{#html_options options=$sx_leibielist  selected=$detail_style#}

						</select>
						<span class="tip-inline"></span>
					</dd>
				</dl>
				{#* 选择风格 -- 请选择风格！*#}
				<dl class="fn-clear" data-required="1">
					<dt><span>*</span>{#$langData['marry'][7][51]#}：</dt>
					<dd>
						<select name="classification_4" id="videostyle" class="inp fenlei" data-title="{#$langData['marry'][8][4]#}">
							{#html_options options=$sxlist selected=$detail_classification#}

						</select>
						<span class="tip-inline"></span>
					</dd>
				</dl>
        	</div>
        	<!-- 摄像跟拍 e-->
        	<!-- 新娘跟妆 s-->
       		<div class="info filter-5" {#if $typeid == 5#}style="display:block"{#/if#}>
				{#* 选择风格 -- 请选择风格！*#}
				<dl class="fn-clear" data-required="1">
					<dt><span>*</span>{#$langData['marry'][7][51]#}：</dt>
					<dd>
						<select name="style_5" id="mkstyle" class="inp fenlei" data-title="{#$langData['marry'][8][4]#}">
							{#html_options options=$xnlist selected=$detail_style#}

						</select>
						<span class="tip-inline"></span>
					</dd>
				</dl>
			</div>
			<!-- 新娘跟妆 e-->
<!--			&lt;!&ndash; 新娘跟妆 s&ndash;&gt;-->
<!--       		<div class="info filter-10" {#if $typeid == 5#}style="display:block"{#/if#}>-->
<!--				{#* 选择款式 &#45;&#45; 请选择款式！*#}-->
<!--				<dl class="fn-clear" data-required="1">-->
<!--					<dt><span>*</span>{#$langData['marry'][7][93]#}：</dt>-->
<!--					<dd>-->
<!--						<select name="drstyle" id="drstyle" class="inp fenlei" data-title="{#$langData['marry'][8][10]#}">-->
<!--							<option value="">{#$langData['siteConfig'][7][2]#}</option> {#* 请选择 *#}-->
<!--							{#loop service="renovation" action=type type=4 return=type#}-->
<!--							<option value="{#$type.id#}" {#if $drstyle == $type.id#}selected {#/if#}>{#$type.typename#}</option>-->
<!--							{#/loop#}-->
<!--						</select>-->
<!--						<span class="tip-inline"></span>-->
<!--					</dd>-->
<!--				</dl>-->
<!--			</div>-->
<!--			&lt;!&ndash; 新娘跟妆 e&ndash;&gt;-->
		</div>
		{#* 特色服务*#}
		<dl class="fn-clear">
			<dt>{#$langData['marry'][8][37]#}：</dt>
			<dd>
				<div class="checkbox">
					{#foreach from=$tagArr item=item#}
					<label><input type="checkbox" name="tag[]" value="{#$item#}"{#if $detail_tag && in_array($item, $detail_tagSel)#} checked{#/if#} />{#$item#}</label>
					{#/foreach#}
				</div> 
			</dd>
		</dl>


		<dl class="fn-clear" data-required="1">
			{#* 套餐图集 *#}
			<dt><span>*</span>{#$langData['marry'][7][52]#}：</dt>
			<dd class="listImgBox fn-hide">
				<div class="list-holder">
					<ul id="listSection1" class="fn-clear listSection fn-hide"{#if $detail_pics#} style="display: block;"{#/if#}>
						{#foreach from=$detail_pics key=k item=pic#}
						<li class="fn-clear pubitem" id="WU_FILE_1_{#$k#}">
							<span class="li-move" title="{#$langData['siteConfig'][23][42]#}">↕</span>
							<a class="li-rm" href="javascript:;">×</a>
							<div class="li-thumb" style="display: block;">
								<div class="r-progress"><s></s></div>
								<span class="ibtn">
									<a href="javascript:;" class="Lrotate" title="{#$langData['siteConfig'][23][43]#}"></a>
									<a href="javascript:;" class="Rrotate" title="{#$langData['siteConfig'][23][44]#}"></a>
									<a href="{#$pic.path#}" target="_blank" class="enlarge" title="{#$langData['siteConfig'][23][45]#}"></a>
								</span>
								<span class="ibg"></span>
								<img data-val="{#$pic.pathSource#}" data-url="{#changeFileSize url="{#$pic.path#}" type="small"#}" src="{#changeFileSize url="{#$pic.path#}" type="small"#}" />
							</div>
							<textarea class="li-desc" placeholder="{#$langData['siteConfig'][20][477]#}" style="display: inline-block;">{#$pic.title#}</textarea>
						</li>
						{#/foreach#}
					</ul>
					<input type="hidden" name="pics" value="" class="imglist-hidden" id="pics">
				</div>
				<div class="btn-section fn-clear">
					<div class="wxUploadObj fn-clear">
						<div class="uploadinp filePicker" id="filePicker1" data-type="desc" data-count="9" data-size="{#$atlasSize#}" data-imglist=""><div id="flasHolder"></div><span>{#$langData['siteConfig'][6][168]#}</span></div>
						<span class="upload-split fn-hide">{#$langData['siteConfig'][13][0]#}</span> {#* 或 *#}
						<dl class="wxUpload fn-hide fn-clear">
							<dt><img id="wxUploadImg" /></dt>
							<dd>{#$langData['siteConfig'][19][362]#}<em class="wx">{#$langData['siteConfig'][27][139]#}</em>{#$langData['siteConfig'][27][140]#}<br />{#$langData['siteConfig'][19][846]#}{#$cfg_weixinName#}{#$langData['siteConfig'][27][141]#}<br />{#$langData['siteConfig'][27][142]#}<em class="fs">{#$langData['siteConfig'][6][139]#}</em>{#$langData['siteConfig'][27][143]#}</dd>{#*使用-微信-扫描左侧二维码-关注-公众号后-将图片-发送-给公众号即可传图 *#}
						</dl>
					</div>
					<div class="upload-tip">
						{#* 删除所有 *#}  {#* 单张最大 1 M，最多 2 张 *#}
						<p><a href="javascript:;" class="fn-hide deleteAllAtlas"{#if $detail_pics#} style="display: inline-block;"{#/if#}>{#$langData['siteConfig'][6][79]#}</a>{#$langData['siteConfig'][54][19]|replace:' 1 ':($atlasSize/1024)|replace:' 2 ':'10'#} <span class="fileerror"></span></p>
						<p class="imgTip">{#$langData['marry'][7][36]#}</p> {#* 至少上传一张主图 *#}
					</div>
				</div>
			</dd>
		</dl>
		<dl class="fn-clear uploadVideo">
            <dt>{#$langData['siteConfig'][6][195]#}：</dt>   {#*上传视频 *#}
            <dd class="listImgBox fn-clear">
                <div class="list-holder">
                    <ul id="listSection3" class="fn-clear listSection">
                        {#if $detail_video#}
                        <li id="WU_FILE_00" class="pubitem complete">
                            <video class="video-js" id="WU_FILE_00" src="/include/attachment.php?f={#$detail_video#}" data-val="{#$detail_video#}"></video>
                            <div class="file-panel li-rm"><span class="cancel">{#$langData['siteConfig'][6][8]#}</span></div>   {#*删除 *#}
                            <span class="player"></span>
                        </li>
                        {#/if#}
                    </ul>
                    <input type="hidden" id="video" name="video" value="{#$detail_video#}" class="imglist-hidden">
                </div>
                <div class="btn-section fn-clear">
                    <div class="uploadinp filePicker" id="filePicker3" data-extensions="mp4" data-mime="video/mp4" data-type="filenail" data-type-real="video" data-count="1" data-size="{#$softSize#}" data-imglist=""><div id="flasHolder"></div><span>{#$langData['siteConfig'][6][196]#}</span><em>+</em></div> {#*添加视频 *#}
                </div>
            </dd>
        </dl>
        <dl class="fn-clear">
			{#* 视频封面 *#}
			<dt>{#$langData['siteConfig'][6][197]#}：</dt>
			<dd class="thumb fn-clear listImgBox">
				<div class="uploadinp filePicker thumbtn{#if $detail_cover != ""#} fn-hide{#/if#}" id="filePicker4" data-type="cover"  data-count="1" data-size="{#$thumbSize#}" data-imglist=""><div></div><span></span></div>
				{#if $detail_cover != ""#}
				<ul id="listSection4" class="listSection thumblist fn-clear" style="display:inline-block;"><li id="WU_FILE_0_1"><a href='{#$detail_cover#}' target="_blank" title=""><img alt="" src="{#$detail_cover#}" data-val="{#$detail_coverSource#}"/></a><a class="reupload li-rm" href="javascript:;">{#$langData['siteConfig'][19][176]#}</a></li></ul>
				{#else#}
				<ul id="listSection4" class="listSection thumblist fn-clear"></ul>
				{#/if#}
				<input type="hidden" name="cover" value="{#$detail_coverSource#}" class="imglist-hidden" id="cover">
			</dd>
		</dl>

		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>{#$langData['siteConfig'][19][56]#}：</dt>
			<dd class="fn-clear" >
				<span class="areaCode"><i>+{#if $detail_areaCode#}{#$detail_areaCode#}{#else#}{#if $businessDetail_areaCode#}{#$businessDetail_areaCode#}{#else#}{#$internationalPhoneSection[0]['code']#}{#/if#}{#/if#}</i><s></s></span>
				<input type="text" name="tel" class="inp" id="contact" size="25" maxlength="20" data-title="{#$langData['siteConfig'][20][433]#}" value="{#if $detail_tel#}{#$detail_tel#}{#else#}{#$businessDetail_phone#}{#/if#}" />
				<div class="areaCode_wrap">
		            <ul></ul>

	            </div>
	            <input type="hidden" name="areaCode" id="areaCode" value="{#if $detail_areaCode#}{#$detail_areaCode#}{#else#}{#if $businessDetail_areaCode#}{#$businessDetail_areaCode#}{#else#}{#$internationalPhoneSection[0]['code']#}{#/if#}{#/if#}">
	            <em class="telTip">{#$langData['marry'][8][36]#}</em> {#* 更换联系电话需重新验证 *#}
				<span class="tip-inline"></span>
			</dd>
		</dl>
		{#* 基本参数 *#}
		<div class="common-title spe_tit">{#$langData['marry'][6][27]#}</div>
		<div class="parmWrap">
			<!-- 主持人  s-->
        	<div class="parm-7 cominfo" {#if $typeid == 7#}style="display:block"{#/if#}>
				{#* 主持人*#}
				<dl class="fn-clear">
					<dt>{#$langData['marry'][2][63]#}：</dt>
					<dd>
						<select name="host_7" id="qualification" class="inp fenlei">
							{#html_options options=$hostlist selected=$detail_host#}

						</select>
					</dd>
				</dl>

				{#* 音乐督导*#}
				<dl class="fn-clear">
					<dt>{#$langData['marry'][6][61]#}：</dt>
					<dd>
						<select name="music_7" id="music" class="inp fenlei">
							<option value="">{#$langData['siteConfig'][7][2]#}</option> {#* 请选择 *#}
							{#* 有 *#}
							<option value="1" {#if $detail_music == 1#}selected {#/if#}>{#$langData['siteConfig'][31][25]#}</option>
							{#* 无 *#}
							<option value="0" {#if $detail_music == 0#}selected {#/if#}>{#$langData['siteConfig'][31][26]#}</option>
						</select>
					</dd>
				</dl>
				{#* 现场督导*#}
				<dl class="fn-clear">
					<dt>{#$langData['marry'][6][62]#}：</dt>
					<dd>
						<select name="scenesupervision_7" id="scene" class="inp fenlei">
							<option value="">{#$langData['siteConfig'][7][2]#}</option> {#* 请选择 *#}
							{#* 有 *#}
							<option value="1" {#if $detail_scenesupervision == 1#}selected {#/if#}>{#$langData['siteConfig'][31][25]#}</option>
							{#* 无 *#}
							<option value="0" {#if $detail_scenesupervision == 0#}selected {#/if#}>{#$langData['siteConfig'][31][26]#}</option>
						</select>
					</dd>
				</dl>
				{#* 主持特色*#}
				<dl class="fn-clear">
					<dt>{#$langData['marry'][6][63]#}：</dt>
					<dd>
						{#*请填写主持人特色，如声音磁性帅气有趣等*#}
						<textarea name="hoststyle_7" id="hostFeature" placeholder="{#$langData['marry'][7][55]#}">{#$detail_hoststyle#}</textarea>
					</dd>
				</dl>
				{#* 套餐内容*#}
				<dl class="fn-clear">
					<dt>{#$langData['marry'][6][64]#}：</dt>
					<dd>
						{#*请填写本套餐服务内容，如婚礼前沟通婚礼仪式； 制定完整婚礼仪式流程；  婚礼现场氛围把控等*#}
						<textarea name="planmealcontent_7" id="hostFeature" placeholder="{#$langData['marry'][7][56]#}">{#$detail_planmealcontent#}</textarea>
					</dd>
				</dl>
				{#* 服务特色*#}
				<dl class="fn-clear">
					<dt>{#$langData['marry'][6][65]#}：</dt>
					<dd>
						{#*请填写本套餐服务特色如婚礼大气、端庄、走心讲述属于新人自己的婚礼故事开场白， 专业双语主持*#}
						<textarea name="servicefeatures_7" id="hostFeature" placeholder="{#$langData['marry'][7][57]#}">{#$detail_servicefeatures#}</textarea>
					</dd>
				</dl>
			</div>
			<!-- 主持人  e-->
			<!-- 婚车  s-->
        	<div class="parm-10 cominfo" {#if $typeid == 10#}style="display:block"{#/if#}>
				{#* 使用时间 -- 请输入可用时间*#}
			    <dl class="fn-clear">
					<dt><span>*</span>{#$langData['marry'][6][48]#}：</dt>
					<dd>
					    <div class="comBox">
					      <input id="duration" name="duration_10" type="text" size="8" maxlength="6" value="{#$detail_duration#}" class="inp" placeholder="{#$langData['marry'][8][38]#}">
					      <span class="sym">{#$langData['marry'][1][1]#}</span> {#* 小时 *#}
					    </div>
					    <span class="tip-inline"></span>
					</dd>
				</dl>
				{#* 使用公里 -- 请输入可行驶公里数*#}
			    <dl class="fn-clear">
					<dt><span>*</span>{#$langData['marry'][6][49]#}：</dt>
					<dd>
					    <div class="comBox">
					      <input id="kilometre" name="kilometre_10" type="text" size="8" maxlength="6" value="{#$detail_kilometre#}" class="inp" placeholder="{#$langData['marry'][8][39]#}">
					      <span class="sym">{#$langData['marry'][1][2]#}</span> {#* 公里 *#}
					    </div>
					    <span class="tip-inline"></span>
					</dd>
				</dl>
				{#*车辆介绍*#}
                <dl class="fn-clear">
                    <dt>{#$langData['marry'][6][50]#}：</dt>
                    {#*请填写车辆情况介绍，如主婚车一辆宝马7系，3辆宝马5系跟车等*#}
                    <dd><textarea placeholder="{#$langData['marry'][7][61]#}" name="carintroduction_10" id="cardescrip">{#$detail_carintroduction#}</textarea></dd>
                </dl>

                {#*费用包含*#}
                <dl class="fn-clear">
                    <dt>{#$langData['marry'][6][51]#}：</dt>
                    {#*请填写此价格包含内容，如包司机包油，主婚车装饰不算时间等*#}
                    <dd><textarea placeholder="{#$langData['marry'][7][62]#}" name="costcontain_10" id="carprice">{#$detail_costcontain#}</textarea></dd>
                </dl>

                {#*费用不含*#}
                <dl class="fn-clear">
                    <dt>{#$langData['marry'][6][52]#}：</dt>
                    {#*请填写此价格不包含的内容，如不包高速费或者停车费等*#}
                    <dd><textarea placeholder="{#$langData['marry'][7][63]#}" name="costbarring_10" id="carnoprice">{#$detail_costbarring#}</textarea></dd>
                </dl>
        	</div>
        	<!-- 婚车  e-->
        	<!-- 婚礼策划  s-->
        	<div class="parm-9 cominfo" {#if $typeid == 9#}style="display:block"{#/if#}>
        		{#* 策划师*#}
				<dl class="fn-clear">
					<dt>{#$langData['marry'][6][31]#}：</dt>
					<dd>
						<select name="planner_9" id="planner" class="inp fenlei">
							{#html_options options=$plannerlist selected=$detail_planner#}
						</select>
					</dd>
				</dl>
				{#* 督导师*#}
				<dl class="fn-clear">
					<dt>{#$langData['marry'][6][32]#}：</dt>
					<dd>
						<select name="supervisor_9" id="supervisor" class="inp fenlei">
							{#html_options options=$supervisorlist selected=$detail_supervisor#}

						</select>
					</dd>
				</dl>
				{#* 主持人*#}
				<dl class="fn-clear">
					<dt>{#$langData['marry'][6][66]#}：</dt>
					<dd>
						<select name="host_9" id="planhost" class="inp fenlei">
							{#html_options options=$ch_hostlist selected=$detail_host#}

						</select>
					</dd>
				</dl>
				{#* 摄影师*#}
				<dl class="fn-clear">
					<dt>{#$langData['marry'][6][34]#}：</dt>
					<dd>
						<select name="photographer_9" id="photo" class="inp fenlei">
							{#html_options options=$photographerlist selected=$detail_photographer#}

						</select>
					</dd>
				</dl>
				{#* 摄像师*#}
				<dl class="fn-clear">
					<dt>{#$langData['marry'][6][35]#}：</dt>
					<dd>
						<select name="cameraman_9" id="camera" class="inp fenlei">
							{#html_options options=$cameramanlist selected=$detail_cameraman#}

						</select>
					</dd>
				</dl>
				{#*迎宾区*#}
                <dl class="fn-clear">
                    <dt>{#$langData['marry'][6][36]#}：</dt>
                    {#*请简单填写迎宾区情况，如迎宾背景框架搭建、精美软纱装饰定制婚礼主题迎宾牌2个等*#}
                    <dd><textarea placeholder="{#$langData['marry'][7][67]#}" name="explain_9" id="welcome">{#$detail_explain#}</textarea></dd>
                </dl>

                {#*仪式区*#}
                <dl class="fn-clear">
                    <dt>{#$langData['marry'][6][37]#}：</dt>
                    {#*请简单填写仪式区情况，如15mT台搭建两侧花艺装饰6个两侧主题路引道具6个等*#}
                    <dd><textarea placeholder="{#$langData['marry'][7][68]#}" name="explain_one_9" id="ceremony">{#$detail_explain_one#}</textarea></dd>
                </dl>

                {#*婚礼灯光*#}
                <dl class="fn-clear">
                    <dt>{#$langData['marry'][6][39]#}：</dt>
                    {#*请简单填写婚礼灯光情况，如舞台专业1200W绚彩追光灯2个等*#}
                    <dd><textarea placeholder="{#$langData['marry'][7][69]#}" name="explain_two_9" id="planlight">{#$detail_explain_two#}</textarea></dd>
                </dl> 
                {#*舞美道具*#}
                <dl class="fn-clear">
                    <dt>{#$langData['marry'][6][40]#}：</dt>
                    {#*请简单填写舞美道具情况，如时尚路引8个等*#}
                    <dd><textarea placeholder="{#$langData['marry'][7][70]#}" name="dance_9" id="dance">{#$detail_dance#}</textarea></dd>
                </dl>  
        	</div>
        	<!-- 婚礼策划  e-->
        	<!-- 婚纱摄影  s-->
        	<div class="parm-1 cominfo" {#if $typeid == 1#}style="display:block"{#/if#}>
        		{#* 新娘服装*#}
				<dl class="fn-clear">
					<dt>{#$langData['marry'][6][53]#}：</dt>
					<dd>
						<select name="xn_clothing_1" id="xn_clothing" class="inp fenlei">
							{#html_options options=$clothixn_list selected=$detail_xn_clothing#}
						</select>
					</dd>
				</dl>
				{#* 新郎服装*#}
				<dl class="fn-clear">
					<dt>{#$langData['marry'][6][54]#}：</dt>
					<dd>
						<select name="xl_clothing_1" id="xl_clothing" class="inp fenlei">
							{#html_options options=$xl_clothinglist selected=$detail_xl_clothing#}
						</select>
					</dd>
				</dl>
				{#*服装说明*#}
                <dl class="fn-clear">
                    <dt>{#$langData['marry'][6][55]#}：</dt>
                    {#*请填写服装情况，如精品白纱礼服，豪华晚礼服，特色服装，中式或民族服装不限套等*#}
                    <dd><textarea placeholder="{#$langData['marry'][7][73]#}" name="clothing" id="clothing">{#$detail_clothing#}</textarea></dd>
                </dl> 
                {#*造型说明*#}
                <dl class="fn-clear">
                    <dt>{#$langData['marry'][6][71]#}：</dt>
                    {#*请填写造型情况，如新娘顶级精致妆面一次新郎顶级男士妆面一次，新郎、新娘整体专业造型不限组数等*#}
                    <dd><textarea placeholder="{#$langData['marry'][7][74]#}" name="hairstyle" id="hairstyle">{#$detail_hairstyle#}</textarea></dd>
                </dl>
                {#* 拍摄场景*#}
				<dl class="fn-clear">
					<dt>{#$langData['marry'][6][72]#}：</dt>
					<dd>
						<select name="shot" id="shot" class="inp fenlei">
							{#html_options options=$shotlist selected=$detail_shot#}
						</select>
					</dd>
				</dl>
				{#* 内景数量*#}
				<dl class="fn-clear">
					<dt>{#$langData['marry'][6][73]#}：</dt>
					<dd>
						<select name="interior" id="interior" class="inp fenlei">
							{#html_options options=$interiorlist selected=$detail_interior#}

						</select>
					</dd>
				</dl>
				{#* 外景数量*#}
				<dl class="fn-clear">
					<dt>{#$langData['marry'][6][74]#}：</dt>
					<dd>
						<select name="location" id="location" class="inp fenlei">
							{#html_options options=$locationlist selected=$detail_location#}

						</select>
					</dd>
				</dl>
				{#*外景说明*#}
                <dl class="fn-clear">
                    <dt>{#$langData['marry'][6][75]#}：</dt>
                    {#*请填写外景介绍，如提供指定外景阳澄湖半岛，荡口古镇门票，车辆；苏州城市旅拍，苏州市外景不限等*#}
                    <dd><textarea placeholder="{#$langData['marry'][7][75]#}" name="explain_1" id="explain">{#$detail_explain#}</textarea></dd>
                </dl> 
                {#*内景说明*#}
                <dl class="fn-clear">
                    <dt>{#$langData['marry'][6][76]#}：</dt>
                    {#*请填写内景介绍，如我们拥有6000平米穿透式室内3D立体360度实景拍摄，几十个大的主题随您挑选等*#}
                    <dd><textarea placeholder="{#$langData['marry'][7][76]#}" name="explain_one_1" id="explain_one">{#$detail_explain_one#}</textarea></dd>
                </dl>
                {#* 拍摄天数*#}
				<dl class="fn-clear">
					<dt>{#$langData['marry'][6][77]#}：</dt>
					<dd>
						<select name="psday" id="psday" class="inp fenlei">
							{#html_options options=$psdaylist selected=$detail_psday#}

						</select>
					</dd>
				</dl>
				{#* 拍摄张数 -- 请输入拍摄数量*#}
			    <dl class="fn-clear">
					<dt>{#$langData['marry'][6][78]#}：</dt>
					<dd>
					    <div class="comBox">
					      <input id="shotnum" name="psnumber_1" type="text" size="8" maxlength="6" value="{#$detail_psnumber#}" class="inp" placeholder="{#$langData['marry'][8][40]#}">
					      <span class="sym">{#$langData['marry'][7][77]#}</span> {#* 张 *#}
					    </div>
					</dd>
				</dl>
				{#* 精修张数 -- 请输入精修数量*#}
			    <dl class="fn-clear">
					<dt>{#$langData['marry'][6][79]#}：</dt>
					<dd>
					    <div class="comBox">
					      <input id="refinenum" name="jxnumber_1" type="text" size="8" maxlength="6" value="{#$detail_jxnumber#}" class="inp" placeholder="{#$langData['marry'][8][41]#}">
					      <span class="sym">{#$langData['marry'][7][77]#}</span> {#* 张 *#}
					    </div>
					</dd>
				</dl>
				{#* 入册张数 -- 请输入入册数量*#}
			    <dl class="fn-clear">
					<dt>{#$langData['marry'][6][80]#}：</dt>
					<dd>
					    <div class="comBox">
					      <input id="printnum" name="rcnumber_1" type="text" size="8" maxlength="6" value="{#$detail_rcnumber#}" class="inp" placeholder="{#$langData['marry'][8][42]#}">
					      <span class="sym">{#$langData['marry'][7][77]#}</span> {#* 张 *#}
					    </div>
					</dd>
				</dl>
				{#* 相册数量*#}
				<dl class="fn-clear">
					<dt>{#$langData['marry'][6][81]#}：</dt>
					<dd>
						<select name="xcnumber_1" id="xcnumber" class="inp fenlei">
							{#html_options options=$xcnumberlist selected=$detail_xcnumber#}

						</select>
					</dd>
				</dl>
				{#* 相框数量*#}
				<dl class="fn-clear">
					<dt>{#$langData['marry'][6][82]#}：</dt>
					<dd>
						<select name="xknumber_1" id="xknumber" class="inp fenlei">
							{#html_options options=$xknumberlist selected=$detail_xknumber#}

						</select>
					</dd>
				</dl>

				{#* 化妆师*#}
				<dl class="fn-clear">
					<dt>{#$langData['marry'][6][33]#}：</dt>
					<dd>

						<select name="dresser_1" id="dresser" class="inp fenlei">
							<option value="">{#$langData['siteConfig'][7][2]#}</option> {#* 请选择 *#}
							{#* 有 *#}
							<option value="1" {#if $detail_dresser == 1#}selected {#/if#}>{#$langData['siteConfig'][31][25]#}</option>
							{#* 无 *#}
							<option value="0" {#if $detail_dresser == 0#}selected {#/if#}>{#$langData['siteConfig'][31][26]#}</option>
						</select>
					</dd>
				</dl>
				{#* 灯光师*#}
				<dl class="fn-clear">
					<dt>{#$langData['marry'][6][57]#}：</dt>
					<dd>
						<select name="judge_1" id="judge" class="inp fenlei">
							<option value="">{#$langData['siteConfig'][7][2]#}</option> {#* 请选择 *#}
							{#* 有 *#}
							<option value="1" {#if $detail_judge == 1#}selected {#/if#}>{#$langData['siteConfig'][31][25]#}</option>
							{#* 无 *#}
							<option value="0" {#if $detail_judge == 0#}selected {#/if#}>{#$langData['siteConfig'][31][26]#}</option>
						</select>
					</dd>
				</dl>
				{#* 化妆助理*#}
				<dl class="fn-clear">
					<dt>{#$langData['marry'][6][58]#}：</dt>
					<dd>
						<select name="pd_1" id="pd" class="inp fenlei">
							<option value="">{#$langData['siteConfig'][7][2]#}</option> {#* 请选择 *#}
							{#* 有 *#}
							<option value="1" {#if $detail_pd == 1#}selected {#/if#}>{#$langData['siteConfig'][31][25]#}</option>
							{#* 无 *#}
							<option value="0" {#if $detail_pd == 0#}selected {#/if#}>{#$langData['siteConfig'][31][26]#}</option>
						</select>
					</dd>
				</dl>
				{#*相册说明*#}
                <dl class="fn-clear">
                    <dt>{#$langData['marry'][6][59]#}：</dt>
                    {#*请填写相册情况介绍，如18寸希维尔相册一本（入册20张）12寸希维尔相册一本（入册20张）等*#}
                    <dd><textarea placeholder="{#$langData['marry'][7][78]#}" name="xcexplain" id="xcexplain">{#$detail_xcexplain#}</textarea></dd>
                </dl> 
                {#*相框说明*#}
                <dl class="fn-clear">
                    <dt>{#$langData['marry'][6][60]#}：</dt>
                    {#*请填写相框情况介绍，如60*120希维尔高端相框一幅24寸希维尔高端相框一幅 24寸希维尔高端相框一幅等*#}
                    <dd><textarea placeholder="{#$langData['marry'][7][79]#}" name="xkexplain" id="xkexplain">{#$detail_xkexplain#}</textarea></dd>
                </dl>
        	</div>
        	<!-- 婚纱摄影  e-->
        	<!-- 摄影跟拍  s-->
        	<div class="parm-2 cominfo" {#if $typeid == 2#}style="display:block"{#/if#}>
        		{#* 拍摄团队*#}
				<dl class="fn-clear">
					<dt>{#$langData['marry'][6][42]#}：</dt>
					<dd>
						<select name="sy_team_2" id="pteam" class="inp fenlei">
							{#html_options options=$sy_teamlist selected=$detail_sy_team#}
						</select>
					</dd>
				</dl>

				{#* 拍摄张数 -- 请输入拍摄数量*#}
			    <dl class="fn-clear">
					<dt>{#$langData['marry'][6][78]#}：</dt>
					<dd>
					    <div class="comBox">
					      <input id="phshotnum" name="psnumber_2" type="text" size="8" maxlength="6" value="{#$detail_psnumber#}" class="inp" placeholder="{#$langData['marry'][8][40]#}">
					      <span class="sym">{#$langData['marry'][7][77]#}</span> {#* 张 *#}
					    </div>
					</dd>
				</dl>
				{#* 精修张数 -- 请输入精修数量*#}
			    <dl class="fn-clear">
					<dt>{#$langData['marry'][6][79]#}：</dt>
					<dd>
					    <div class="comBox">
					      <input id="phfinenum" name="jxnumber_2" type="text" size="8" maxlength="6" value="{#$detail_jxnumber#}" class="inp" placeholder="{#$langData['marry'][8][41]#}">
					      <span class="sym">{#$langData['marry'][7][77]#}</span> {#* 张 *#}
					    </div>
					</dd>
				</dl>
				{#*拍摄器材*#}
                <dl class="fn-clear">
                    <dt>{#$langData['marry'][6][45]#}：</dt>
                    {#* 请填写拍摄器材介绍，如Nikon/Cacon全画幅单反+镜头3支1个等 *#}
                    <dd><textarea placeholder="{#$langData['marry'][7][80]#}" name="explain_2" id="equipment">{#$detail_explain#}</textarea></dd>
                </dl> 
                {#*摄影内容*#}
                <dl class="fn-clear">
                    <dt>{#$langData['marry'][6][46]#}：</dt>
                    {#*请填写拍摄内容介绍，如.新娘化妆，新娘肖像，伴娘，父母亲友合影等*#}
                    <dd><textarea placeholder="{#$langData['marry'][7][81]#}" name="explain_two_2" id="phcontent">{#$detail_explain_two#}</textarea></dd>
                </dl>
                {#*成品说明*#}
                <dl class="fn-clear">
                    <dt>{#$langData['marry'][6][47]#}：</dt>
                    {#*请填写成品介绍，如唯美电子相册一份 定制光盘一份等*#}
                    <dd><textarea placeholder="{#$langData['marry'][7][82]#}" name="explain_one_2" id="productnote">{#$detail_explain_one#}</textarea></dd>
                </dl>
        	</div>
        	<!-- 摄影跟拍  e-->
        	<!-- 珠宝首饰  s-->
        	<div class="parm-3 cominfo" {#if $typeid == 3#}style="display:block"{#/if#}>
        		{#* 图案/形状*#}
				<dl class="fn-clear">
					<dt>{#$langData['marry'][6][67]#}：</dt>
					<dd>
						<div class="comBox">
							<input id="shape" name="shape" type="text" size="8" maxlength="6" value="{#$detail_shape#}" class="inp" placeholder="{#$langData['marry'][6][67]#}">
						</div>
					</dd>
				</dl>


				{#* 重量 -- 请输入重量*#}
			    <dl class="fn-clear">
					<dt>{#$langData['marry'][6][68]#}：</dt>
					<dd>
					    <div class="comBox">
					      <input id="weight" name="sy_mv_3" type="text" size="8" maxlength="6" value="{#$detail_sy_mv#}" class="inp" placeholder="{#$langData['marry'][8][45]#}">
					      <span class="sym">{#$langData['marry'][7][77]#}</span> {#* g *#}
					    </div>
					</dd>
				</dl>
				{#* 是否商场同款*#}
				<dl class="fn-clear">
					<dt>{#$langData['marry'][6][69]#}：</dt>
					<dd>
						<select name="judge_3" id="same" class="inp fenlei">
							<option value="">{#$langData['siteConfig'][7][2]#}</option> {#* 请选择 *#}
							{#* 是 *#}
							<option value="1" {#if $detail_judge == 1#}selected {#/if#}>{#$langData['marry'][7][85]#}</option>
							{#* 否 *#}
							<option value="0" {#if $detail_judge == 0#}selected {#/if#}>{#$langData['marry'][7][86]#}</option>
						</select>
					</dd>
				</dl>
        	</div>
        	<!-- 珠宝首饰  e-->
        	<!-- 摄像跟拍  s-->
        	<div class="parm-4 cominfo" {#if $typeid == 4#}style="display:block"{#/if#}>
        		{#* 拍摄团队*#}
				<dl class="fn-clear">
					<dt>{#$langData['marry'][6][42]#}：</dt>
					<dd>
						<select name="sy_team_4" id="vteam" class="inp fenlei">
							{#html_options options=$sx_teamlist selected=$detail_sy_team#}

						</select>
					</dd>
				</dl>

				{#* 全程录像 -- 请输入录像时长*#}
			    <dl class="fn-clear">
					<dt>{#$langData['marry'][6][43]#}：</dt>
					<dd>
					    <div class="comBox">
					      <input id="videotime" name="sy_videotape_4" type="text" size="8" maxlength="6" value="{#$detail_sy_videotape#}" class="inp" placeholder="{#$langData['marry'][8][46]#}">
					      <span class="sym">{#$langData['siteConfig'][13][39]#}</span> {#* 分钟 *#}
					    </div>
					</dd>
				</dl>
				{#* MV时长 -- 请输入MV时长*#}
			    <dl class="fn-clear">
					<dt>{#$langData['marry'][6][44]#}：</dt>
					<dd>
					    <div class="comBox">
					      <input id="mvtime" name="sy_mv_4" type="text" size="8" maxlength="6" value="{#$detail_sy_mv#}" class="inp" placeholder="{#$langData['marry'][8][47]#}">
					      <span class="sym">{#$langData['siteConfig'][13][39]#}</span> {#* 分钟 *#}
					    </div>
					</dd>
				</dl>
				{#*拍摄器材*#}
                <dl class="fn-clear">
                    <dt>{#$langData['marry'][6][45]#}：</dt>
                    {#* 请填写拍摄器材介绍，如佳能5D3 1个 *#}
                    <dd><textarea placeholder="{#$langData['marry'][7][87]#}" name="explain_4" id="vequipment">{#$detail_explain#}</textarea></dd>
                </dl> 
                {#*摄影内容*#}
                <dl class="fn-clear">
                    <dt>{#$langData['marry'][6][46]#}：</dt>
                    {#*请填写拍摄内容介绍，如.新娘化妆，新郎接亲，与父母互动接亲环节 挤门做游戏敬茶 出外景 晚宴等*#}
                    <dd><textarea placeholder="{#$langData['marry'][7][88]#}" name="explain_two_4" id="vcontent">{#$detail_explain_two#}</textarea></dd>
                </dl>
                {#*成品说明*#}
                <dl class="fn-clear">
                    <dt>{#$langData['marry'][6][47]#}：</dt>
                    {#* 请填写成品介绍，如全程视频60分钟左右 精剪mv5分钟、电子相册一份 刻录dvd等 *#}
                    <dd><textarea placeholder="{#$langData['marry'][7][89]#}" name="explain_one_4" id="vpronote">{#$detail_explain_one#}</textarea></dd>
                </dl>
        	</div>
        	<!-- 摄像跟拍  e-->
        	<!-- 新娘跟妆  s-->
        	<div class="parm-5 cominfo" {#if $typeid == 5#}style="display:block"{#/if#}>
        		{#* 化妆师*#}
				<dl class="fn-clear">
					<dt>{#$langData['marry'][6][56]#}：</dt>
					<dd>
						<select name="sy_team_5" id="makeuper" class="inp fenlei">
							{#html_options options=$listnx selected=$detail_sy_team#}

						</select>
					</dd>
				</dl>

				{#* 化妆助理*#}
				<dl class="fn-clear">
					<dt>{#$langData['marry'][6][58]#}：</dt>
					<dd>
						<select name="pd_5" id="makehelp" class="inp fenlei">
							<option value="">{#$langData['siteConfig'][7][2]#}</option> {#* 请选择 *#}
							{#* 有 *#}
							<option value="1" {#if $detail_pd == 1#}selected {#/if#}>{#$langData['siteConfig'][31][25]#}</option>
							{#* 无 *#}
							<option value="0" {#if $detail_pd == 0#}selected {#/if#}>{#$langData['siteConfig'][31][26]#}</option>
						</select>
					</dd>
				</dl>

				{#* 新娘造型 -- 请输入新娘造型数量*#}
			    <dl class="fn-clear">
					<dt>{#$langData['marry'][6][84]#}：</dt>
					<dd>
					    <div class="comBox">
					      <input id="brideshape" name="jxnumber_5" type="text" size="8" maxlength="6" value="{#$detail_jxnumber#}" class="inp" placeholder="{#$langData['marry'][8][50]#}">
					      <span class="sym">{#$langData['marry'][2][22]#}</span> {#* 套 *#}
					    </div>
					</dd>
				</dl>
				{#* 新娘妆面 -- 请输入新娘妆面数量*#}
			    <dl class="fn-clear">
					<dt>{#$langData['marry'][6][85]#}：</dt>
					<dd>
					    <div class="comBox">
					      <input id="bridemake" name="rcnumber_5" type="text" size="8" maxlength="6" value="{#$detail_rcnumber#}" class="inp" placeholder="{#$langData['marry'][8][51]#}">
					      <span class="sym">{#$langData['marry'][2][22]#}</span> {#* 套 *#}
					    </div>
					</dd>
				</dl>

				{#* 试妆服务*#}
				<dl class="fn-clear">
					<dt>{#$langData['marry'][6][86]#}：</dt>
					<dd>
						<select name="dresser_5" id="mkservice" class="inp fenlei">
							<option value="">{#$langData['siteConfig'][7][2]#}</option> {#* 请选择 *#}
							{#* 有 *#}
							<option value="1" {#if $detail_dresser == 1#}selected {#/if#}>{#$langData['siteConfig'][31][25]#}</option>
							{#* 无 *#}
							<option value="0" {#if $detail_dresser == 0#}selected {#/if#}>{#$langData['siteConfig'][31][26]#}</option>
						</select>
					</dd>
				</dl>
				{#*试妆说明*#}
                <dl class="fn-clear">
                    <dt>{#$langData['marry'][6][87]#}：</dt>
                    {#* 请填写试妆说明，如请提前预约试妆时间，试妆时间大约在2至3小时左右等 *#}
                    <dd><textarea placeholder="{#$langData['marry'][7][90]#}" name="explain_5" id="trynote">{#$detail_explain#}</textarea></dd>
                </dl> 
                {#*化妆品*#}
                <dl class="fn-clear">
                    <dt>{#$langData['marry'][6][70]#}：</dt>
                    {#* 请填写化妆品介绍，如香奈儿散粉，迪奥,TF,香奈儿口红，RMK粉底液，罗拉妆前乳等 *#}
                    <dd><textarea placeholder="{#$langData['marry'][7][91]#}" name="explain_one_5" id="cosmetics">{#$detail_explain_one#}</textarea></dd>
                </dl>
                {#*成品说明*#}
                <dl class="fn-clear">
                    <dt>{#$langData['marry'][6][83]#}：</dt>
                    {#* 请填写饰品介绍，如提供所有跟妆过程中的配饰等 *#}
                    <dd><textarea placeholder="{#$langData['marry'][7][92]#}" name="explain_two_5" id="mkproduct">{#$detail_explain_two#}</textarea></dd>
                </dl>
        	</div>
        	<!-- 新娘跟妆  e-->
        	<!-- 婚纱礼服  s-->
        	<div class="parm-6 cominfo" {#if $typeid == 6#}style="display:block"{#/if#}>
        		{#* 套餐主推*#}
				<dl class="fn-clear">
					<dt>{#$langData['marry'][6][88]#}：</dt>
					<dd>
						<select name="classification_6" id="mainmeal" class="inp fenlei">
							{#html_options options=$hs_teamlist selected=$detail_classification#}

						</select>
					</dd>
				</dl>
				{#* 主推款式*#}
				<dl class="fn-clear">
					<dt>{#$langData['marry'][6][89]#}：</dt>
					<dd>
						<select name="xn_clothing_6" id="mainsty" class="inp fenlei">
							{#html_options options=$zt_teamlist selected=$detail_xn_clothing#}

						</select>
					</dd>
				</dl>
				{#* 主推领型 -- 请输入新娘造型数量*#}
			    <dl class="fn-clear">
					<dt>{#$langData['marry'][6][90]#}：</dt>
					<dd>
					    <div class="comBox">
					      <input id="collar" name="rcnumber_6" type="text" size="8" maxlength="6" value="{#$detail_rcnumber#}" class="inp" placeholder="{#$langData['marry'][8][52]#}">
					      <span class="sym">{#$langData['marry'][2][22]#}</span> {#* 套 *#}
					    </div>
					</dd>
				</dl>
				{#* 售卖方式*#}
				<dl class="fn-clear">
					<dt>{#$langData['marry'][6][91]#}：</dt>
					<dd>
						<select name="xl_clothing_6" id="sale" class="inp fenlei">
							{#html_options options=$cs_teamlist selected=$detail_xl_clothing#}

						</select>
					</dd>
				</dl>
				{#* 定制服务*#}
				<dl class="fn-clear">
					<dt>{#$langData['marry'][6][92]#}：</dt>
					<dd>
						<select name="dresser_6" id="custom" class="inp fenlei">
							<option value="">{#$langData['siteConfig'][7][2]#}</option> {#* 请选择 *#}
							{#* 支持 *#}
							<option value="1" {#if $detail_dresser == 1#}selected {#/if#}>{#$langData['marry'][7][95]#}</option>
							{#* 不支持 *#}
							<option value="0" {#if $detail_dresser == 0#}selected {#/if#}>{#$langData['marry'][7][94]#}</option>
						</select>
					</dd>
				</dl>
				{#* 免费试纱*#}
				<dl class="fn-clear">
					<dt>{#$langData['marry'][6][93]#}：</dt>
					<dd>
						<select name="pd_6" id="free" class="inp fenlei">
							<option value="">{#$langData['siteConfig'][7][2]#}</option> {#* 请选择 *#}
							{#* 有 *#}
							<option value="1" {#if $detail_pd == 1#}selected {#/if#}>{#$langData['siteConfig'][31][25]#}</option>
							{#* 无 *#}
							<option value="0" {#if $detail_pd == 0#}selected {#/if#}>{#$langData['siteConfig'][31][26]#}</option>
						</select>
					</dd>
				</dl>
				{#*服装说明*#}
                <dl class="fn-clear">
                    <dt>{#$langData['marry'][6][55]#}：</dt>
                    {#* 请填写服装介绍，如中式秀禾服一件 仪式拖尾主纱一件 敬酒礼服一件等*#}
                    <dd><textarea placeholder="{#$langData['marry'][7][96]#}" name="clothing_6" id="dressnote">{#$detail_clothing#}</textarea></dd>
                </dl>
                {#*试纱说明*#}
                <dl class="fn-clear">
                    <dt>{#$langData['marry'][6][95]#}：</dt>
                    {#* 请填写试纱说明，如敬请一定按预约时间到店试纱、请穿好合适的内衣等*#}
                    <dd><textarea placeholder="{#$langData['marry'][7][97]#}" name="explain_6" id="dresstry">{#$detail_explain#}</textarea></dd>
                </dl>
        	</div>
        	<!-- 婚纱礼服  e-->
		</div>

		{#* 购买须知*#}
		<dl class="fn-clear">
			<dt>{#$langData['marry'][6][41]#}：</dt>
			<dd>
				{#*请填写...*#}
				<textarea name="buynotice" id="mustKnow" placeholder="{#$langData['marry'][7][58]#}">{#$detail_buynotice#}</textarea>
			</dd>
		</dl>
		{#* 图文详情 *#}
		<div class="common-title spe_tit">{#$langData['marry'][1][11]#}</div>
		<dl class="fn-clear">
			{#* 图文详情 *#}
			<dt>{#$langData['marry'][1][11]#}：</dt>
			<dd>
				<script id="notepics" name="note" type="text/plain" style="width:90%;height:500px">{#$detail_note#}</script>
			</dd>
		</dl>

		{#* 立即发布 *#}
		<dl class="fn-clear">
			<dt>&nbsp;</dt>
			<dd><button class="submit" id="submit">{#if $id == 0#}{#$langData['siteConfig'][11][19]#}{#else#}{#$langData['siteConfig'][6][122]#}{#/if#}</button></dd>{#* 立即投稿 - 提交修改 *#}
		</dl>


	</form>
</div>

<!-- 修改分类弹出层 s -->
  <div class="delMask"></div>
  <div class="delAlert">
    <div class="delAlertCon">
      <div>
        <h2 class="delTile">确定修改分类吗？</h2>
        <p>修改后将重新填写资料</p>
      </div>
      <ul class="fn-clear">     
        <li class="firLi"><a href="javascript:;" class="cancelDel">{#$langData['siteConfig'][6][12]#}</a></li> {#* 取消 *#}
        <li><a href="javascript:;" class="sureDel">{#$langData['siteConfig'][6][0]#}</a></li> {#* 确认 *#}
      </ul>
    </div>
  </div>
  
  <!-- 修改分类弹出层 e -->


