{#if $do == "edit"#}
{#* 婚宴菜单管理 *#}
{#$pageTitle = $langData['marry'][8][22]|cat:" - "|cat:$detail_title|cat:" - "|cat:$cfg_webname#}
{#else#}
{#* 发布婚宴菜单 *#}
{#$pageTitle = $langData['marry'][8][21]|cat:" - "|cat:$cfg_webname#}
{#/if#}
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/fabu-marry-menu.css?v={#$cfg_staticVersion#}">

<div class="w-form">
	<form name="fabuForm" id="fabuForm" method="post" action="/include/ajax.php?service=marry&action=operHotelmenu&oper={#if $id#}update&id={#$id#}{#else#}add{#/if#}" data-url="{#getUrlPath service='member' template='marry-hotelmenu' #}">
		{#* 基本信息 *#}
		<div class="common-title">{#$langData['siteConfig'][19][22]#}</div>
		{#* 菜单名称 -- 请输入菜单名称！*#}
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>{#$langData['marry'][7][42]#}：</dt>
			<dd id="selTeam">
				<input type="text" name="title" class="inp" id="comname" size="60" maxlength="50" data-title="{#$langData['marry'][8][23]#}" value="{#$detail_title#}" />
				<span class="tip-inline"></span>
			</dd>
		</dl>
		{#* 价格 -- 请输入价格*#}
	    <dl class="fn-clear"  data-required="1">
			<dt><span>*</span>{#$langData['marry'][2][43]#}：</dt>
			<dd>
			    <div class="comBox">
			      <input id="price" name="price" type="text" size="8" maxlength="6" value="{#$detail_price#}" class="inp" data-title="{#$langData['marry'][4][14]#}" placeholder="{#$langData['siteConfig'][20][328]#}">
			      <span class="sym">{#echoCurrency type='short'#}</span> {#* 元 *#}
			    </div>
			    <span class="tip-inline"></span>
			</dd>
		</dl>	

		<!-- 菜品名称 s-->
		<dl class="fn-clear route-wrap">
			<dt><span>*</span>{#$langData['marry'][2][61]#}：</dt>{#* 菜品名称 *#}
			<dd>
				<div class="route">
		            {#if $detail_tagArr_#}
		            {#foreach from=$detail_tagArr_ key=k item=i#}
					<div class="route-div has fn-clear">
		           		<input type="text" placeholder="" value="{#$i#}" class="inp" name="dishname[]">
			           	<i class="del-route" style="display: block;"></i>
			        </div>
		        	{#/foreach#}
			        {#else#}
			        <div class="route-div fn-clear">
			            {#* 输入菜品名称*#}
		           		<input type="text" placeholder="{#$langData['marry'][8][24]#}" value="" class="inp" name="dishname[]">
			           	<i class="del-route"></i>
			        </div>
		        	{#/if#}
			        <span class="add-route">+{#$langData['siteConfig'][6][18]#}</span> {#* 添加 *#}
				</div>

			</dd>
		</dl>
		<!-- 菜品名称 e-->
		{#* 立即发布 *#}
		<dl class="fn-clear">
			<dt>&nbsp;</dt>
			<dd><button class="submit" id="submit">{#if $id == 0#}{#$langData['siteConfig'][11][19]#}{#else#}{#$langData['siteConfig'][6][122]#}{#/if#}</button></dd>{#* 立即投稿 - 提交修改 *#}
		</dl>


	</form>
</div>



