<script>
  var staffid = '{#$detail_id#}';
  var businessstaffurl = "{#getUrlPath service='member' template='business-staff'#}";
</script>
<div class="w-form">
  <form action="" id="fabuForm">
    <div class="form_item">
      <div class="form_title noLine">
        <h3>{#$langData['siteConfig'][56][15]#} <em class="account">{#$detail_username#}</em><span class="nick">（昵称：{#$detail_nickname#}）</span></h3> {#* 员工账号 *#}
<!--        <input type="hidden" name="username" value="处女座的双鱼">-->
<!--        <input type="hidden" name="userid" value="1451654655bhg">-->
      </div>
    </div>

    <div class="form_item">
      <div class="form_title">
        <h3>{#$langData['siteConfig'][19][22]#} </h3> {#* 基本信息 *#}
      </div>
      <dl class="fn-clear">
        <dt>{#$langData['siteConfig'][56][16]#}</dt>  {#* 员工姓名 *#}
        <dd class="fn-clear">
            <input type="text" name="username" class="inp" id="staff_name" size="34" maxlength="200" placeholder="{#$langData['siteConfig'][56][30]#}" value="{#$detail_staffname#}">
        </dd> {#* 请输入员工姓名 *#}
      </dl>
      <dl class="fn-clear">
        <dt>{#$langData['siteConfig'][56][32]#}：</dt>{#* 职位名称 *#}
        <dd class="fn-clear">
            <input type="text" name="postname" class="inp" id="staff_post" size="34" maxlength="200" placeholder="{#$langData['siteConfig'][56][31]#}" value="{#$detail_jobname#}">
        </dd>
      </dl>
      <dl class="fn-clear">
        <dt>{#$langData['siteConfig'][19][424]#}：</dt>{#* 联系方式 *#}
        <dd class="fn-clear">
            <input type="tel" name="staff_phone" class="inp" id="tel" size="34" maxlength="200" placeholder="{#$langData['siteConfig'][20][412]#}" value="{#$detail_staffphone#}">
        </dd>{#* 请输入联系方式 *#}
      </dl>
    </div>
    <div class="form_item">
      <div class="form_title">
        <h3>{#$langData['siteConfig'][56][33]#} </h3>{#* 权限分配 *#}
      </div>
      {#if in_array("shop", $installModuleArr)#}
      <dl class="fn-clear">
        <dt>{#$shop_channelName#}：</dt>
        <dd>
          <div class="checkbox">
            <label><input type="checkbox" name="auth[shop][]" value="1" {#if $detail_business_auth['shop'] && in_array('1',$detail_business_auth['shop'])#} checked="" {#/if#}>店铺配置</label>
            <label><input type="checkbox" name="auth[shop][]" value="2" {#if $detail_business_auth['shop'] && in_array('2',$detail_business_auth['shop'])#} checked="" {#/if#}>管理商品</label>
            <label><input type="checkbox" name="auth[shop][]" value="3" {#if $detail_business_auth['shop'] && in_array('3',$detail_business_auth['shop'])#} checked="" {#/if#}>管理订单</label>
            <label><input type="checkbox" name="auth[shop][]" value="4" {#if $detail_business_auth['shop'] && in_array('4',$detail_business_auth['shop'])#} checked="" {#/if#}>核销票</label>
          </div>
        </dd>
      </dl>
      {#/if#}
      {#if in_array("huodong", $installModuleArr)#}
      <dl class="fn-clear">
        <dt>{#$huodong_channelName#}：</dt>
        <dd>
          <div class="checkbox">
            <label><input type="checkbox" name="auth[huodong][]" value="1" {#if $detail_business_auth['huodong'] && in_array('1',$detail_business_auth['huodong'])#} checked="" {#/if#}>管理信息</label>
            <label><input type="checkbox" name="auth[huodong][]" value="2" {#if $detail_business_auth['huodong'] && in_array('2',$detail_business_auth['huodong'])#} checked="" {#/if#}>报名管理</label>
            <label><input type="checkbox" name="auth[huodong][]" value="3" {#if $detail_business_auth['huodong'] && in_array('3',$detail_business_auth['huodong'])#} checked="" {#/if#}>核销票</label>
          </div>
        </dd>
      </dl>
      {#/if#}
      {#if in_array("tuan", $installModuleArr)#}
      <dl class="fn-clear">
        <dt>{#$tuan_channelName#}：</dt>
        <dd>
          <div class="checkbox">
            <label><input type="checkbox" name="auth[tuan][]" value="1" {#if $detail_business_auth['tuan'] &&  in_array('1',$detail_business_auth['tuan'])#} checked="" {#/if#}>店铺配置</label>
            <label><input type="checkbox" name="auth[tuan][]" value="2" {#if $detail_business_auth['tuan'] &&  in_array('2',$detail_business_auth['tuan'])#} checked="" {#/if#}>管理信息</label>
            <label><input type="checkbox" name="auth[tuan][]" value="3" {#if $detail_business_auth['tuan'] &&  in_array('3',$detail_business_auth['tuan'])#} checked="" {#/if#}>管理订单</label>
            <label><input type="checkbox" name="auth[tuan][]" value="4" {#if $detail_business_auth['tuan'] &&  in_array('4',$detail_business_auth['tuan'])#} checked="" {#/if#}>核销券</label>
          </div>
        </dd>
      </dl>
      {#/if#}
      {#if in_array("travel", $installModuleArr)#}
      <dl class="fn-clear">
        <dt>{#$travel_channelName#}：</dt>
        <dd>
          <div class="checkbox">
            <label><input type="checkbox" name="auth[travel][]" value="1" {#if $detail_business_auth['travel'] &&  in_array('1',$detail_business_auth['travel'])#} checked="" {#/if#}>店铺配置</label>
            <label><input type="checkbox" name="auth[travel][]" value="2" {#if $detail_business_auth['travel'] &&  in_array('2',$detail_business_auth['travel'])#} checked="" {#/if#}>管理信息</label>
            <label><input type="checkbox" name="auth[travel][]" value="3" {#if $detail_business_auth['travel'] &&  in_array('3',$detail_business_auth['travel'])#} checked="" {#/if#}>管理订单</label>
            <label><input type="checkbox" name="auth[travel][]" value="4" {#if $detail_business_auth['travel'] &&  in_array('4',$detail_business_auth['travel'])#} checked="" {#/if#}>核销券</label>
          </div>
        </dd>
      </dl>
      {#/if#}
    </div>
    <dl class="fn-clear">
        <dt>&nbsp;</dt>
        <dd><button class="submit" id="submit">{#$langData['siteConfig'][6][63]#}</button></dd>{#* 保存设置 *#}
    </dl>
  </form>

</div>
