<script>
	var storeState = '{#$storeState#}';
	var yingye = '{#$yingye#}'
	var editModuleJoinCheck = '{#$editModuleJoinCheck#}'; //修改之后是否需要验证
    // var memberExpired = '1';
    var memberExpired = '{#$memberExpired#}';
    var memberExpiredDay  = '{#$memberExpiredDay#}';
	var  pageCurr = '{#$pageCurr#}'
</script>
<div class="head">
	<a class="flex_l" href="{#$member_busiDomain#}">
		<div class="busiHome">
			<img src="{#if $businesslogo#}{#$businesslogo#}{#else#}{#$templets_skin#}images/index2/icon_title.png{#/if#}" alt="">
		</div>
		{#if $pageCurr != 'index' && $pageCurr != ''#}
		<em class="line"></em>

		<span class="backHome">回到首页</span>
		{#/if#}
	</a>
	<div class="flex_r">
		<div class="menu_ul">
			<div class="li index"><a href="{#$cfg_basehost#}" target="_blank"><s></s>{#$langData['siteConfig'][0][5]#}</a></div>
			<div class="li personal"><a href="{#$member_userDomain#}" target="_blank"><s></s>{#$langData['siteConfig'][0][10]#}</a></div>
			<div class="li message has">
				<a href="javascript:;"><s></s>{#$langData['siteConfig'][19][239]#}{#if $userinfo.message#}<i class="msg_num">{#$userinfo.message#}</i>{#/if#}</a>
				<div class="popup">
					<s></s><b></b>
					<ul class="mlist" data-url="{#getUrlPath service='member' template='message_detail' id="%id"#}"></ul>
					<p class="toMsg"><a href="{#getUrlPath service='member' template='message'#}">{#$langData['siteConfig'][19][680]#}></a></p>
				</div>
			</div>
			<div class="li uinfo">
				<a href="javascript:;"><span>{#$userinfo.nickname#}</span><i></i></a>
				<div class="subnav">
					<ul>
						<li><a class="config" href="{#getUrlPath service='member' template='profile'#}"><i></i>{#$langData['siteConfig'][26][70]#}</a></li>
						<li><a class="security" href="{#getUrlPath service='member' template='security'#}"><i></i>{#$langData['siteConfig'][0][8]#}</a></li>
						<li><a class="connect" href="{#getUrlPath service='member' template='connect'#}"><i></i>社交账号绑定</a></li>
						<li><a class="record" href="{#getUrlPath service='member' template='loginrecord'#}"><i></i>{#$langData['siteConfig'][15][8]#}</a></li>
						<!-- <li><a href="{#$cfg_basehost#}/logout.html" class="logout">{#$langData['siteConfig'][6][123]#}</a></li> -->
					</ul>
					<div class="logoutBox"><a href="{#$cfg_basehost#}/logout.html" class="logout"><i></i>{#$langData['siteConfig'][6][123]#}</a></div>
				</div>
			</div>
		</div>
	</div>
	
</div>
<div class="sidebar  {#if $pageCurr#} openChild{#/if#}">
	<div class="main-bar">
		<div class="sidebar-content ">
			{#if $userinfo.is_staff!=1#}  {#* 员工用户不显示 *#}
			<dl class="item{#if $pageCurr == "config_business" || $pageCurr == "business_about" || $pageCurr == "fabu_business" || $pageCurr == "business_news" || $pageCurr == "business_albums" || $pageCurr == "business_video" || $pageCurr == "business_panor" || $pageCurr == "business_comment" || $pageCurr == "business_staff" || $pageCurr == "business_diancan" || $pageCurr == "business_dingzuo"|| $pageCurr == "business_paidui"|| $pageCurr == "business_maidan" || $pageCurr == 'business_custom_nav' || $pageCurr == 'business_custom_menu'#} active{#/if#}">
				<dt>{#$langData['siteConfig'][19][431]#}</dt>
				<dd>
					<a{#if $pageCurr == "config_business"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='business-config'#}">{#$langData['siteConfig'][19][432]#}</a>
	
					{#if $userinfo#}
					<a href="{#getUrlPath service='business' template='detail' id=$userinfo.busiId#}" target="_blank">{#$langData['siteConfig'][49][1]#}</a>  {#* 商家主页 *#}
					{#/if#}
	
					{#if $memberPackage && $memberPackage.package && 'daohang'|in_array:$memberPackage.package.moduleList#}
					<a{#if $pageCurr == "business_custom_nav" || ($pageCurr == "fabu_business" && $type == "custom_nav")#} class="curr"{#/if#} href="{#getUrlPath service='member' template='business-custom_nav'#}">{#$langData['siteConfig'][19][652]#}</a>{#* 自定义导航 *#}
					{#/if#}
	
					{#if $memberPackage && $memberPackage.package && 'caidan'|in_array:$memberPackage.package.moduleList#}
					<a{#if $pageCurr == "business_custom_menu" || ($pageCurr == "fabu_business" && $type == "custom_menu")#} class="curr"{#/if#} href="{#getUrlPath service='member' template='business-custom_menu'#}">{#$langData['siteConfig'][18][89]#}</a>{#* 自定义菜单 *#}
					{#/if#}
	
					<a{#if $pageCurr == "business_about" || ($pageCurr == "fabu_business" && $type == "about")#} class="curr"{#/if#} href="{#getUrlPath service='member' template='business-about'#}">{#$langData['siteConfig'][19][433]#}</a>
					<a{#if $pageCurr == "business_news" || ($pageCurr == "fabu_business" && $type == "news")#} class="curr"{#/if#} href="{#getUrlPath service='member' template='business-news'#}">{#$langData['siteConfig'][19][434]#}</a>
					<a{#if $pageCurr == "business_albums" || ($pageCurr == "fabu_business" && $type == "albums")#} class="curr"{#/if#} href="{#getUrlPath service='member' template='business-albums'#}">{#$langData['siteConfig'][19][435]#}</a>
					<a{#if $pageCurr == "business_video" || ($pageCurr == "fabu_business" && $type == "video")#} class="curr"{#/if#} href="{#getUrlPath service='member' template='business-video'#}">{#$langData['siteConfig'][19][436]#}</a>
					<a{#if $pageCurr == "business_panor" || ($pageCurr == "fabu_business" && $type == "panor")#} class="curr"{#/if#} href="{#getUrlPath service='member' template='business-panor'#}">{#$langData['siteConfig'][19][437]#}</a>
					<a{#if $pageCurr == "business_comment"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='business-comment'#}">{#$langData['siteConfig'][19][438]#}</a>
					<a{#if $pageCurr == "business_staff" || ($pageCurr == "fabu_business" && $type == "staff")#} class="curr"{#/if#} href="{#getUrlPath service='member' template='business-staff'#}">{#$langData['siteConfig'][56][13]#}</a> {#*  员工管理  *#}
					{#if 'food'|in_array:$cfg_ucenterLinks#}
					<div class="split_line"></div>
					{#if $memberPackage && $memberPackage.package && 'diancan'|in_array:$memberPackage.package.moduleList#}
					<a{#if $pageCurr == "business_diancan"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='business-diancan'#}">{#$langData['siteConfig'][19][439]#}</a>
					{#/if#}
					{#if $memberPackage && $memberPackage.package && 'dingzuo'|in_array:$memberPackage.package.moduleList#}
					<a{#if $pageCurr == "business_dingzuo"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='business-dingzuo'#}">{#$langData['siteConfig'][19][440]#}</a>
					{#/if#}
					{#if $memberPackage && $memberPackage.package && 'paidui'|in_array:$memberPackage.package.moduleList#}
					<a{#if $pageCurr == "business_paidui"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='business-paidui'#}">{#$langData['siteConfig'][19][441]#}</a>
					{#/if#}
					{#if $memberPackage && $memberPackage.package && 'maidan'|in_array:$memberPackage.package.moduleList#}
					<a{#if $pageCurr == "business_maidan"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='business-maidan'#}">{#$langData['siteConfig'][19][442]#}</a>
					{#/if#}
	
					{#/if#}
				</dd>
			</dl>
			{#/if#}
	
			{#if $memberPackage && $memberPackage.package && $memberPackage.package.modules.store#}
			{#foreach from=$memberPackage.package.modules.store key=index item=store#}
				{#if $userinfo.hidePackage && !in_array($store.name, $userinfo.hidePackage)#}
	
				{#* 新闻投稿 *#}
				{#if $store.name == 'article'#}
					<dl class="item{#if $pageCurr == "manage_article" || $pageCurr == "fabu_article"#} active{#/if#}">
						<dt>{#$store.title#}</dt>
						<dd>
							{#if $store.homepage != ''#}
							<a href="{#$store.homepage#}" target="_blank">{#$langData['siteConfig'][49][1]#}</a>  {#* 商家主页 *#}
							{#/if#}
							<a{#if $pageCurr == "manage_article"#} class="curr"{#/if#} href="{#getUrlPath service='member' type='user' template='manage' action='article'#}" target="_blank">{#$langData['siteConfig'][26][66]#}</a>
							<a{#if $pageCurr == "fabu_article"#} class="curr"{#/if#} href="{#getUrlPath service='member' type='user' template='fabu' action='article'#}" target="_blank">{#$langData['siteConfig'][16][16]#}</a>
						</dd>
					</dl>
	
				{#* 二手信息 *#}
				{#elseif $store.name == 'info'#}
					<dl class="item{#if $pageCurr == "manage_info" || $pageCurr == "fabu_info" || $pageCurr == "config_info"#} active{#/if#}">
						<dt>{#$store.title#}</dt>
						<dd>
							<a{#if $pageCurr == "config_info"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='config' action='info'#}">{#$langData['siteConfig'][6][190]#}</a>
							{#if $store.homepage != ''#}
							<a href="{#$store.homepage#}" target="_blank">{#$langData['siteConfig'][49][1]#}</a>  {#* 商家主页 *#}
							{#/if#}
							<a{#if $pageCurr == "manage_info"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='manage' action='info'#}">{#$langData['siteConfig'][16][20]#}</a>
							<a{#if $pageCurr == "fabu_info"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='fabu' action='info'#}">{#$langData['siteConfig'][6][143]#}</a>
							<a{#if $pageCurr == "order_info"#} class="curr"{#/if#} href="{#getUrlPath service='member' type='user' template='order' module='info'#}?type=out">{#$langData['siteConfig'][6][191]#}</a>
						</dd>
					</dl>
	
				{#* 团购秒杀 *#}
				{#elseif $store.name == 'tuan'#}
					<dl class="item{#if $pageCurr == "manage_tuan" || $pageCurr == "fabu_tuan" || $pageCurr == "config_tuan" || $pageCurr == "verify_tuan" || $pageCurr == "quan_tuan" || $pageCurr == "order_tuan"#} active{#/if#}">
						<dt>{#$store.title#}</dt>
						<dd>
							{#if $userinfo.is_staff == 1 && in_array('1',$userinfo.autharr['tuan']) || $userinfo.is_staff!=1#}
							<a{#if $pageCurr == "config_tuan"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='config' action='tuan'#}">{#$langData['siteConfig'][19][443]#}</a>
							{#/if#}
	
							{#if $store.homepage != '' && $userinfo.is_staff!=1#}
	
							<a href="{#$store.homepage#}" target="_blank">{#$langData['siteConfig'][49][1]#}</a>  {#* 商家主页 *#}
	
							{#/if#}
							{#if $userinfo.is_staff == 1 && in_array('2',$userinfo.autharr['tuan']) || $userinfo.is_staff!=1#}
							<a{#if $pageCurr == "manage_tuan" || $pageCurr == "fabu_tuan"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='manage' action='tuan'#}">{#$langData['siteConfig'][19][444]#}</a>
							{#/if#}
	
							{#if $userinfo.is_staff == 1 && in_array('4',$userinfo.autharr['tuan']) || $userinfo.is_staff!=1#}
							<a{#if $pageCurr == "verify_tuan"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='verify' action='tuan'#}">{#$langData['siteConfig'][19][445]#}</a>
							<a{#if $pageCurr == "quan_tuan"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='quan' action='tuan'#}">{#$langData['siteConfig'][19][446]#}</a>
							{#/if#}
	
							{#if $userinfo.is_staff == 1 && in_array('3',$userinfo.autharr['tuan']) || $userinfo.is_staff!=1#}
							<a{#if $pageCurr == "order_tuan"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='order' action='tuan'#}">{#$langData['siteConfig'][19][447]#}</a>
							{#/if#}
						</dd>
					</dl>
	
				{#* 房产信息 *#}
				{#elseif $store.name == 'house'#}
					<dl class="item{#if $pageCurr == "config_house" || $pageCurr == "house_broker" || $pageCurr == "house_entrust" || $pageCurr == "house_receive_broker" || $pageCurr == "house_liulan"#} active{#/if#}">
						<dt>{#$store.title#}</dt>
						<dd>
							<a{#if $pageCurr == "config_house"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='config' action='house'#}">{#$langData['siteConfig'][19][448]#}</a>
							{#if $store.homepage != ''#}
							<a href="{#$store.homepage#}" target="_blank">{#$langData['siteConfig'][49][1]#}</a>  {#* 商家主页 *#}
							{#/if#}
							<a{#if $pageCurr == "house_broker"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='house-broker'#}">{#$langData['siteConfig'][19][449]#}</a>
							<a{#if $pageCurr == "house_receive_broker"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='house_receive_broker'#}">{#$langData['siteConfig'][43][14]#}</a> {#* 入驻申请 *#}
							<a{#if $pageCurr == "house_entrust"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='house_entrust'#}">{#$langData['siteConfig'][41][4]#}</a>{#* 房源委托 *#}
							<a{#if $pageCurr == "house_liulan"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='house_liulan'#}">浏览记录</a>{#* 浏览记录 *#}
						</dd>
					</dl>
	
				{#* 商城 *#}
				{#elseif $store.name == 'shop'#}
					<dl class="item{#if $pageCurr== "fabu_shop_branch" || $pageCurr == "manage_shop_branch" || $pageCurr == "config_shop" || $pageCurr == "category_shop" || $pageCurr == "manage_shop" || $pageCurr == "fabu_shop" || $pageCurr == "order_shop" || $pageCurr == "logistic_shop" || $pageCurr== "shop_huodong" || $pageCurr == "shop_hasjoin" || $pageCurr == "fabu_shop_tuan" || $pageCurr == "fabu_shop_secKill" || $pageCurr == "fabu_shop_qianggou" || $pageCurr == "quan_shop" || $pageCurr == "fabu_shop_bargain" || $pageCurr== 'verify_shop' || $pageCurr== 'proquan_shop'#} active{#/if#}">
						<dt>{#$store.title#}</dt>
						<dd>
							{#if $userinfo.is_staff == 1 && in_array('1',$userinfo.autharr['shop']) || $userinfo.is_staff!=1#}
							<a{#if $pageCurr == "config_shop"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='config' action='shop'#}">{#$langData['siteConfig'][19][443]#}</a>
							{#/if#}
							{#if $store.homepage != '' && $userinfo.is_staff != 1#}
							<a href="{#$store.homepage#}" target="_blank">{#$langData['siteConfig'][49][1]#}</a>  {#* 商家主页 *#}
							{#/if#}
	
							{#if $userinfo.is_staff != 1#}
	
							{#if $custom_huodongshoptypeopen != 1#}
							<a{#if $pageCurr == "category_shop"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='category' action='shop'#}">{#$langData['siteConfig'][19][450]#}</a>
							{#/if#}
	
							{#if $shop_huodongopen#}
							<a{#if $pageCurr== "shop_huodong" || $pageCurr == "shop_hasjoin" || $pageCurr == "fabu_shop_tuan" || $pageCurr == "fabu_shop_secKill" || $pageCurr == "fabu_shop_qianggou" || $pageCurr == "fabu_shop_bargain"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='shop_huodong'#}">活动管理</a>
							{#/if#}
	
							{#/if#}
	
							{#if $userinfo.is_staff == 1 && in_array('2',$userinfo.autharr['shop']) || $userinfo.is_staff!=1#}
							<a{#if $pageCurr == "manage_shop" || $pageCurr == "fabu_shop"#} class="curr"{#/if#}  href="{#getUrlPath service='member' template='manage' action='shop'#}">{#$langData['siteConfig'][19][451]#}</a>
							{#/if#}
	
							{#if $userinfo.is_staff != 1 && $custom_huodongshoptypeopen != 1#}
							<a{#if $pageCurr== "fabu_shop_branch" || $pageCurr == "manage_shop_branch"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='manage' action='shop-branch'#}">{#$langData['shop'][5][83]#}</a>
							{#/if#}
	
							{#if $userinfo.is_staff == 1 && in_array('3',$userinfo.autharr['shop']) || $userinfo.is_staff!=1#}
							<a{#if $pageCurr == "order_shop"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='order' action='shop'#}">{#$langData['siteConfig'][19][447]#}</a>
							{#/if#}
							{#if $userinfo.is_staff != 1#}
							<a{#if $pageCurr == "quan_shop"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='quan-shop'#}">优惠券管理</a>
	
							{#if $custom_huodongshoptypeopen != 1#}
							<a{#if $pageCurr == "logistic_shop"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='logistic' action='shop'#}">{#$langData['siteConfig'][19][452]#}</a>
							{#/if#}
	
							{#/if#}
	
							{#if (($userinfo.is_staff == 1 && in_array('4',$userinfo.autharr['shop'])) || $userinfo.is_staff!=1) && $custom_huodongshoptypeopen != 2#}
							<a{#if $pageCurr == "verify_shop"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='verify' action='shop'#}">{#$langData['siteConfig'][19][924]#}</a>
							<a{#if $pageCurr == "proquan_shop"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='proquan' action='shop'#}">{#$langData['siteConfig'][19][925]#}</a>
							{#/if#}
	
	
						</dd>
					</dl>
	
					{#if $pageCurr== "fabu_shop_branch" || $pageCurr == "manage_shop_branch" || $pageCurr == "config_shop" || $pageCurr == "category_shop" || $pageCurr == "manage_shop" || $pageCurr == "fabu_shop" || $pageCurr == "order_shop" || $pageCurr == "logistic_shop" || $pageCurr== "shop_huodong" || $pageCurr == "shop_hasjoin" || $pageCurr == "fabu_shop_tuan" || $pageCurr == "fabu_shop_secKill" || $pageCurr == "fabu_shop_qianggou" || $pageCurr == "quan_shop" || $pageCurr == "fabu_shop_bargain" || $pageCurr== 'verify_shop' || $pageCurr== 'proquan_shop'#}
					<!-- 到期弹窗 -->
					<div class="daoqi_mask"></div>
					<div class="daoqiPop">
						<div class="title">
							<h3>尊敬的商家:</h3>
							{#if $memberExpired#}
							<h3>您的店铺已到期，请续费</h3>
							<p>店铺及商品已下架，订单可正常管理， 其余功能停用，续费后恢复正常</p> {#else#}
							<h3>您的店铺将在<b>{#$memberExpiredDay#}</b>后到期</h3>
							<p>店铺到期后，店铺将不能正常运营， 为避免造成损失，请及时续费</p> 
							{#/if#}
						</div>
						<a href="{#getUrlPath service='member' template='servicemeal'#}" class="btn_xu">立即续费</a>
						<a href="javascript:;" class="btn_close"></a>
					</div>
	
					{#/if#}
	
	
					{#elseif $store.name == 'paimai'#}
					<dl class="item{#if $pageCurr== "config_paimai" || $pageCurr== "manage_paimai" || $pageCurr== "fabu_paimai" #} active{#/if#}">
						<dt>{#$store.title#}</dt>
						<dd>
							<a{#if $pageCurr == "config_paimai"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='config' action='paimai'#}">{#$langData['education'][0][41]#}</a>  {#*公司配置 *#}
							{#if $store.homepage != ''#}
							<a href="{#$store.homepage#}" target="_blank">{#$langData['siteConfig'][49][1]#}</a>  {#* 商家主页 *#}
							{#/if#}
							<a{#if $pageCurr == "manage_paimai"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='manage-paimai'#}">商品管理</a> {#* 商品管理 *#}
				
							<a{#if $pageCurr== "fabu_paimai"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='fabu-paimai' #}">发布商品</a> {#* 发布商品 *#}
							<a{#if $pageCurr== "order_paimai"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='order-paimai' #}">订单管理</a> {#* 订单管理 *#}
				
						</dd>
					</dl>	
	
	
				{#elseif $store.name == 'awardlegou'#}
					<dl class="item{#if $pageCurr== "fabu_awardlegou_branch" || $pageCurr == "manage_awardlegou_branch" || $pageCurr == "config_awardlegou" || $pageCurr == "category_awardlegou" || $pageCurr == "manage_awardlegou" || $pageCurr == "fabu_awardlegou" || $pageCurr == "order_awardlegou" || $pageCurr == "logistic_awardlegou"#} active{#/if#}">
					<dt>{#$store.title#}</dt>
					<dd>
						<a{#if $pageCurr == "manage_awardlegou" || $pageCurr == "fabu_awardlegou"#} class="curr"{#/if#}  href="{#getUrlPath service='member' template='manage' action='awardlegou'#}">{#$langData['siteConfig'][19][451]#}</a>
	
						<a{#if $pageCurr == "order_awardlegou"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='order' action='awardlegou'#}">{#$langData['siteConfig'][19][447]#}</a>
	
					</dd>
					</dl>
				{#* 装修 *#}
				{#elseif $store.name == 'renovation'#}
					<dl class="item{#if $pageCurr == "config_renovation" || $pageCurr == "renovation_customer"  || $pageCurr == "renovation_zb"  || $pageCurr == "renovation_site" || $pageCurr == "renovation_dynamic" || $pageCurr == "renovation_honor" || $pageCurr == "team_renovation" || $pageCurr == "albums_renovation" || $pageCurr == "renovation_case" || $pageCurr == "booking_renovation"#} active{#/if#}">
						<dt>{#$store.title#}</dt>
						<dd>
							{#* 公司信息 *#}
							<a{#if $pageCurr == "config_renovation"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='config' action='renovation'#}">{#$langData['siteConfig'][19][453]#}</a>
							{#if $store.homepage != ''#}
							<a href="{#$store.homepage#}" target="_blank">{#$langData['siteConfig'][49][1]#}</a>  {#* 商家主页 *#}
							{#/if#}
	
							{#* 客户管理 *#}
							<a{#if $pageCurr == "renovation_customer"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='renovation' action='customer'#}">{#$langData['siteConfig'][50][25]#}</a>
							{#* 招标管理 *#}
							<a{#if $pageCurr == "renovation_zb"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='renovation' action='zb'#}">{#$langData['renovation'][9][17]#}</a>
	
							{#* 案例管理 *#}
							<a{#if $pageCurr == "renovation_case"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='renovation' action='case'#}">{#$langData['siteConfig'][26][22]#}</a>
							{#* 效果图管理 *#}
							<a{#if $pageCurr == "albums_renovation"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='albums' action='renovation'#}">{#$langData['renovation'][9][35]#}</a>
	
							{#* 工地管理 *#}
							<a{#if $pageCurr == "renovation_site"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='renovation' action='site'#}">{#$langData['renovation'][15][45]#}</a>
	
							{#* 团队管理 *#}
							<a{#if $pageCurr == "team_renovation"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='team' action='renovation'#}">{#$langData['siteConfig'][19][454]#}</a>
	
							{#* 公司动态 *#}
							<a{#if $pageCurr == "renovation_dynamic"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='renovation' action='dynamic'#}">{#$langData['renovation'][4][11]#}</a>
	
							{#* 荣誉资质 *#}
							<!-- <a{#if $pageCurr == "renovation_honor"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='renovation' action='honor'#}">{#$langData['renovation'][4][14]#}</a>
	 -->
						</dd>
					</dl>
	
				{#* 招聘 *#}
				{#elseif $store.name == 'job'#}
					<dl class="item{#if $pageCurr == "config_job" || $pageCurr == "post" || $pageCurr == "resume_job" || $pageCurr == "invitation_job" || $pageCurr == "collections_job"#} active{#/if#}">
						<dt>{#if $store.title#}{#$store.title#}{#else#}招聘工作台{#/if#}</dt>
						<dd>
							<a href="{#$cfg_basehost#}/supplier/job" target="_blank">招聘工作台</a>
						</dd>
					</dl>
	
				{#* 外卖 *#}
				{#elseif $store.name == 'waimai'#}
					<dl class="item{#if $pageCurr == "config_waimai" || $pageCurr == "waimai-menus" || $pageCurr == "fabu_waimai" || $pageCurr == "waimai-albums" || $pageCurr == "order_waimai"#} active{#/if#}">
						<dt>{#$store.title#}</dt>
						<dd>
							<a href="{#$cfg_basehost#}/wmsj?from={#getUrlPath service='member'#}" target="_blank">{#$langData['siteConfig'][19][463]#}</a>
						</dd>
					</dl>
	
				{#* 自助建站 *#}
				{#elseif $store.name == 'website'#}
					<dl class="item{#if $pageCurr == "config_website" || $pageCurr == "fabu_website" || $pageCurr == "website-guest" || $pageCurr == "website-honor" || $pageCurr == "website-job" || $pageCurr == "website-video" || $pageCurr == "website-qj" || $pageCurr == "website-custom_nav" || $pageCurr == "website-news" || $pageCurr == "website-product"#} active{#/if#}">
						<dt>{#$store.title#}</dt>
						<dd>
							<a{#if $pageCurr == "config_website"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='config' action='website'#}">{#$langData['siteConfig'][19][464]#}</a>
							<a href="{#getUrlPath service='member' template='dressup' action='website'#}" target="_blank">{#$langData['siteConfig'][19][465]#}</a>
							<a{#if $pageCurr == "website-news" || ($pageCurr == "fabu_website" && $type == 'news')#} class="curr"{#/if#} href="{#getUrlPath service='member' template='website-news'#}">{#$langData['siteConfig'][19][466]#}</a>
							<a{#if $pageCurr == "website-guest"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='website-guest'#}">{#$langData['siteConfig'][19][467]#}</a>
							<a{#if $pageCurr == "website-honor" || ($pageCurr == "fabu_website" && $type == 'honor')#} class="curr"{#/if#} href="{#getUrlPath service='member' template='website-honor'#}">{#$langData['siteConfig'][39][66]#}</a> {#* 企业荣誉 *#}
							<a{#if $pageCurr == "website-job" || ($pageCurr == "fabu_website" && $type == 'job')#} class="curr"{#/if#} href="{#getUrlPath service='member' template='website-job'#}">{#$langData['siteConfig'][43][15]#}</a> {#* 人才招聘 *#}
							<a{#if $pageCurr == "website-product" || ($pageCurr == "fabu_website" && $type == 'product')#} class="curr"{#/if#} href="{#getUrlPath service='member' template='website-product'#}">{#$langData['siteConfig'][43][16]#}</a> {#* 产品管理 *#}
							<a{#if $pageCurr == "website-custom_nav"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='website-custom_nav'#}">{#$langData['siteConfig'][19][652]#}</a> {#* 自定义导航 *#}
						</dd>
					</dl>
	
				{#* 贴吧 *#}
				{#elseif $store.name == 'tieba'#}
					<dl class="item{#if $pageCurr == "manage_tieba"#} active{#/if#}">
						<dt>{#$store.title#}</dt>
						<dd>
							<a{#if $pageCurr == "manage_tieba"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='manage' action='tieba'#}">{#$langData['siteConfig'][26][69]#}</a>
						</dd>
					</dl>
	
				{#* 投票 *#}
				{#elseif $store.name == 'vote'#}
					<dl class="item{#if $pageCurr == "manage_vote" || $pageCurr == "fabu_vote" || $pageCurr == "vote-join"#} active{#/if#}">
						<dt>{#$store.title#}</dt>
						<dd>
							<a{#if $pageCurr == "vote-join"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='vote-join' #}">{#$langData['siteConfig'][19][252]#}</a>
							<a{#if $pageCurr == "manage_vote"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='manage' action='vote'#}">{#$langData['siteConfig'][10][26]#}</a>
							<a{#if $pageCurr == "fabu_vote"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='fabu' action='vote'#}">{#$langData['siteConfig'][10][27]#}</a>
						</dd>
					</dl>
	
				{#* 活动 *#}
				{#elseif $store.name == 'huodong'#}
					<dl class="item{#if $pageCurr == "huodong-join" || $pageCurr == "manage_huodong"#} active{#/if#}">
						<dt>{#$store.title#}</dt>
						<dd>
							{#if $userinfo.is_staff != 1#}
							<a{#if $pageCurr == "huodong-join"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='huodong-join'#}">{#$langData['siteConfig'][19][252]#}</a>
							{#/if#}
							{#if $userinfo.is_staff == 1 && in_array('1',$userinfo.autharr['huodong']) || $userinfo.is_staff!=1#}
							<a{#if $pageCurr == "manage_huodong"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='manage' action='huodong'#}">{#$langData['siteConfig'][10][3]#}</a>
							<a href="{#getUrlPath service='huodong' template='fabu'#}" target="_blank">{#$langData['siteConfig'][6][170]#}</a>
							{#/if#}
						</dd>
					</dl>
	
	<!--		<pre>-->
			{#* 汽车门户 *#}
			{#elseif $store.name == 'car'#}
			<dl class="item{#if $pageCurr == "car_entrust" || $pageCurr == "car_receive_broker" || $pageCurr == "car_broker" || $pageCurr == "config_car" || $pageCurr == "manage_car" || $pageCurr == "fabu_car" || $pageCurr == "carappoint"#} active{#/if#}">
			<dt>{#$store.title#}</dt>
			<dd>
				<a{#if $pageCurr == "config_car"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='config' action='car'#}">{#$langData['car'][6][45]#}</a>
				{#if $store.homepage != ''#}
				<a href="{#$store.homepage#}" target="_blank">{#$langData['siteConfig'][49][1]#}</a>  {#* 商家主页 *#}
	
				{#/if#}
				<a {#if $pageCurr == "manage_car" || $pageCurr == "fabu_car"#} class="curr"{#/if#}href="{#getUrlPath service='member' template='manage' action='car'#}">{#$langData['car'][4][30]#}</a>  {#* 车源管理 *#}
				<a{#if $pageCurr == "car_broker"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='car-broker'#}">{#$langData['car'][6][44]#}</a>
				<a{#if $pageCurr == "car_receive_broker"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='car_receive_broker'#}">{#$langData['car'][6][46]#}</a>
				<a {#if $pageCurr == "carappoint"#} class="curr"{#/if#}href="{#getUrlPath service='member' template='carappoint'#}">{#$langData['car'][4][33]#}</a>  {#* 预约到店 *#}
			</dd>
			</dl>
	
			{#* 家政服务 *#}
			{#elseif $store.name == 'homemaking'#}
			<dl class="item{#if $pageCurr == "fabu_homemaking_nanny" || $pageCurr == "homemaking_nanny" || $pageCurr == "manage_homemaking" || $pageCurr == "fabu_homemaking" || $pageCurr == "config_homemaking" || $pageCurr == "order_homemaking" || $pageCurr == "homemaking_personal" || $pageCurr == "refund_homemaking"#} active{#/if#}">
			<dt>{#$store.title#}</dt>
			<dd>
				<a{#if $pageCurr == "config_homemaking"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='config' action='homemaking'#}">{#$langData['siteConfig'][19][443]#}</a>
				{#if $store.homepage != ''#}
				<a href="{#$store.homepage#}" target="_blank">{#$langData['siteConfig'][49][1]#}</a>  {#* 商家主页 *#}
				{#/if#}
				<a{#if $pageCurr == "manage_homemaking" || $pageCurr == "fabu_homemaking"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='manage' action='homemaking'#}">{#$langData['homemaking'][8][31]#}</a>
				{#*保姆/月嫂*#}
				<a{#if $pageCurr == "homemaking_nanny" || $pageCurr == "fabu_homemaking_nanny"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='homemaking-nanny'#}">保姆/月嫂</a>
				<a{#if $pageCurr == "homemaking_personal"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='homemaking-personal'#}">{#$langData['homemaking'][1][17]#}</a> {#* 服务人员 *#}
				<a{#if $pageCurr == "order_homemaking" || $pageCurr == "refund_homemaking"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='order' action='homemaking'#}">{#$langData['siteConfig'][19][447]#}</a>
			</dd>
			</dl>
	
				{#* 养老服务 *#}
				{#elseif $store.name == 'pension'#}
				<dl class="item{#if $pageCurr == "pension_invitation" || $pageCurr == "pension_award" || $pageCurr == "config_pension" || $pageCurr == "pension_albums" || $pageCurr == "fabu_pension_albums" || $pageCurr == "booking_pension"#} active{#/if#}">
					<dt>{#$store.title#}</dt>
					<dd>
						<a{#if $pageCurr == "config_pension"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='config' action='pension'#}">{#$langData['siteConfig'][19][443]#}</a>
						{#if $store.homepage != ''#}
						<a href="{#$store.homepage#}" target="_blank">{#$langData['siteConfig'][49][1]#}</a>  {#* 商家主页 *#}
						{#/if#}
						<a{#if $pageCurr == "pension_albums" || $pageCurr == "fabu_pension_albums"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='pension-albums'#}">{#$langData['siteConfig'][19][435]#}</a>
						<a{#if $pageCurr == "booking_pension"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='booking' action='pension'#}">{#$langData['siteConfig'][19][457]#}</a>
						<a{#if $pageCurr == "pension_award"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='pension-award'#}">{#$langData['siteConfig'][50][65]#}</a>{#* 入驻申请 *#}
						<a{#if $pageCurr == "pension_invitation"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='pension-invitation'#}">{#$langData['siteConfig'][43][17]#}</a>{#* 我的邀请 *#}
					</dd>
				</dl>
	
			{#* 婚嫁 *#}
			{#elseif $store.name == 'marry'#}
			<dl class="item{#if $pageCurr == "config_marry" || $pageCurr == "config_marry_hotel"  || $pageCurr == "marry_hotelfield"  || $pageCurr == "marry_hotelmenu" || $pageCurr == "marry_field" || $pageCurr == "marry_menu" || $pageCurr == "marry_casemeal" || $pageCurr == "marry_case" || $pageCurr == "marry_meal" || $pageCurr == "booking_renovation" || $pageCurr == "marry_customer"#} active{#/if#}">
			<dt>{#$store.title#}</dt>
			<dd>
				{#* 店铺配置 *#}
				<a{#if $pageCurr == "config_marry"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='config' action='marry'#}">{#$langData['siteConfig'][30][31]#}</a>
				{#if $store.homepage != ''#}
				<a href="{#$store.homepage#}" target="_blank">{#$langData['siteConfig'][49][1]#}</a>  {#* 商家主页 *#}
				{#/if#}
			{#foreach from=$store.custom key=index item=custom#}
	
				{#* 酒店管理 *#}
				{#if $custom == 8 #}
				<a{#if $pageCurr == "config_marry_hotel"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='config_marry_hotel'#}">{#$langData['marry'][2][2]#}</a>
				{#* 客户管理 *#}
				<a{#if $pageCurr == "marry_customer"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='marry-customer' #}">客户管理</a>
				{#* 婚宴场地 *#}
				<a{#if $pageCurr == "marry_hotelfield" || $pageCurr == "marry_field"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='marry-hotelfield' #}">{#$langData['marry'][2][44]#}</a>
	
				{#* 婚宴菜单 *#}
				<a{#if $pageCurr == "marry_hotelmenu" || $pageCurr == "marry_menu"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='marry' action='hotelmenu'#}">{#$langData['marry'][0][23]#}</a>
	
				{#elseif $custom == 7 #}
				{#* 婚礼主持 *#}
				<a{#if $pageActive == "marry_host"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='marry' action='casemeal' param="typeid=7"#}">{#$langData['marry'][2][16]#}</a>
	
				{#elseif $custom == 10 #}
				{#* 婚车管理 *#}
				<a{#if $pageActive == "marry_car"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='marry' action='casemeal' param="typeid=10"#}">{#$langData['marry'][2][4]#}</a>
	
				{#elseif $custom == 9#}
				{#* 婚礼策划 *#}
				<a{#if $pageActive == "marry_plan"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='marry' action='casemeal' param="typeid=9"#}">{#$langData['marry'][0][46]#}</a>
				{#elseif $custom == 1#}
				{#* 婚纱摄影 *#}
				<a{#if $pageActive == "marry_gown"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='marry' action='casemeal' param="typeid=1"#}">{#$langData['marry'][2][6]#}</a>
				{#elseif $custom == 2#}
				{#* 摄影跟拍 *#}
				<a{#if $pageActive == "marry_photo"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='marry' action='casemeal' param="typeid=2"#}">{#$langData['marry'][2][7]#}</a>
				{#elseif $custom == 3#}
				{#* 珠宝首饰 *#}
				<a{#if $pageActive == "marry_jewelry"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='marry' action='casemeal' param="typeid=3"#}">{#$langData['marry'][2][8]#}</a>
				{#elseif $custom == 4#}
				{#* 摄像跟拍 *#}
				<a{#if $pageActive == "marry_video"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='marry' action='casemeal' param="typeid=4"#}">{#$langData['marry'][2][9]#}</a>
				{#elseif $custom == 5#}
				{#* 新娘跟妆 *#}
				<a{#if $pageActive == "marry_makeup"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='marry' action='casemeal' param="typeid=5"#}">{#$langData['marry'][2][10]#}</a>
				{#elseif $custom == 6#}
				{#* 婚纱礼服 *#}
				<a{#if $pageActive == "marry_dress"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='marry' action='casemeal' param="typeid=6"#}">{#$langData['marry'][2][11]#}</a>
				{#/if#}
			{#/foreach#}
	
			</dd>
			</dl>
			{#elseif $store.name == 'awardlegou'#}
			<dl class="item{#if $pageCurr== "fabu_shop_branch" || $pageCurr == "manage_shop_branch" || $pageCurr == "config_shop" || $pageCurr == "category_shop" || $pageCurr == "manage_shop" || $pageCurr == "fabu_shop" || $pageCurr == "order_shop" || $pageCurr == "logistic_shop"#} active{#/if#}">
			<dt>{#$store.title#}</dt>
			<dd>
				<a{#if $pageCurr == "config_shop"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='config' action='shop'#}">{#$langData['siteConfig'][19][443]#}</a>
				{#if $store.homepage != ''#}
				<a href="{#$store.homepage#}" target="_blank">{#$langData['siteConfig'][49][1]#}</a>  {#* 商家主页 *#}
				{#/if#}
				<a{#if $pageCurr == "category_shop"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='category' action='shop'#}">{#$langData['siteConfig'][19][450]#}</a>
				<a{#if $pageCurr == "manage_shop" || $pageCurr == "fabu_shop"#} class="curr"{#/if#}  href="{#getUrlPath service='member' template='manage' action='shop'#}">{#$langData['siteConfig'][19][451]#}</a>
				<a{#if $pageCurr== "fabu_shop_branch" || $pageCurr == "manage_shop_branch"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='manage' action='shop-branch'#}">{#$langData['shop'][5][83]#}</a>
				<a{#if $pageCurr == "order_shop"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='order' action='shop'#}">{#$langData['siteConfig'][19][447]#}</a>
				<a{#if $pageCurr == "logistic_shop"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='logistic' action='shop'#}">{#$langData['siteConfig'][19][452]#}</a>
	
			</dd>
			</dl>
			{#elseif $store.name == 'travel'#}
			<dl class="item{#if $pageCurr== "config_travel" || $pageCurr== "travel_hotel" || $pageCurr== "travel_ticket" || $pageCurr== "travel_agency" || $pageCurr== "travel_visa" || $pageCurr== "travel_rentcar" || $pageCurr== "travel_strategy" || $pageCurr== "travel_video" || $pageCurr== "order_travel" || $pageCurr== "fabu_travel_hotel" || $pageCurr== "fabu_travel_ticket" || $pageCurr== "fabu_travel_rentcar" || $pageCurr== "fabu_travel_agency" || $pageCurr== "fabu_travel_visa" || $pageCurr== "fabu_travel_strategy" || $pageCurr== "fabu_travel_video" || $pageCurr == "verify_travel"#} active{#/if#}">
			<dt>{#$store.title#}</dt>
			<dd>
				{#if $userinfo.is_staff == 1 && in_array('1',$userinfo.autharr['travel']) || $userinfo.is_staff!=1#}
				<a{#if $pageCurr == "config_travel"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='config' action='travel'#}">{#$langData['siteConfig'][19][443]#}</a>
				{#/if#}
	
				{#if $store.homepage != '' && $userinfo.is_staff !=1#}
				<a href="{#$store.homepage#}" target="_blank">{#$langData['siteConfig'][49][1]#}</a>  {#* 商家主页 *#}
				{#/if#}
	
				{#if $userinfo.is_staff == 1 && in_array('2',$userinfo.autharr['travel']) || $userinfo.is_staff!=1#}
				{#foreach from=$store.custom key=index item=custom#}
				{#if $custom == 1#}
				<a{#if $pageCurr == "travel_hotel" || $pageCurr== "fabu_travel_hotel"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='travel' action='hotel'#}">{#$langData['travel'][11][1]#}</a> {#* 酒店管理 *#}
				{#/if#}
				{#if $custom == 2#}
				<a{#if $pageCurr == "travel_ticket"|| $pageCurr== "fabu_travel_ticket"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='travel' action='ticket'#}">{#$langData['travel'][11][2]#}</a> {#* 景点门票管理 *#}
				{#/if#}
	
				{#if $custom == 4#}
				<a{#if $pageCurr == "travel_agency" || $pageCurr== "fabu_travel_agency"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='travel' action='agency'#}">{#$langData['travel'][14][96]#}</a> {#* 周边游管理 *#}
				{#/if#}
	
				{#if $custom == 7#}
				<a{#if $pageCurr == "travel_visa" || $pageCurr== "fabu_travel_visa"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='travel' action='visa'#}">{#$langData['travel'][11][6]#}</a> {#* 签证管理 *#}
				{#/if#}
	
				{#if $custom == 3#}
				<a{#if $pageCurr == "travel_rentcar"|| $pageCurr== "fabu_travel_rentcar"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='travel' action='rentcar'#}">{#$langData['travel'][11][3]#}</a> {#* 租车管理 *#}
				{#/if#}
	
				{#if $custom == 6#}
				<a{#if $pageCurr == "travel_strategy" || $pageCurr== "fabu_travel_strategy"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='travel' action='strategy'#}">{#$langData['travel'][0][7]#}</a> {#* 旅游攻略 *#}
				{#/if#}
	
				{#if $custom == 5#}
				<a{#if $pageCurr == "travel_video" || $pageCurr== "fabu_travel_video"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='travel' action='video'#}">{#$langData['travel'][11][4]#}</a> {#* 视频管理 *#}
				{#/if#}
				{#/foreach#}
				{#/if#}
	
				{#if $userinfo.is_staff == 1 && in_array('3',$userinfo.autharr['travel']) || $userinfo.is_staff!=1#}
				<a{#if $pageCurr == "order_travel"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='order-travel'#}">{#$langData['siteConfig'][6][191]#}</a> {#* 订单管理 *#}
				{#/if#}
				{#if $userinfo.is_staff == 1 && in_array('4',$userinfo.autharr['travel']) || $userinfo.is_staff!=1#}
				<a{#if $pageCurr == "verify_travel"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='verify-travel'#}">{#$langData['travel'][13][51]#}</a> {#* 验证券码 *#}
				{#/if#}
			</dd>
			</dl>
			{#elseif $store.name == 'education'#}
			<dl class="item{#if $pageCurr== "config_education" || $pageCurr== "manage_education" || $pageCurr== "fabu_education_courses" || $pageCurr== "education_teacher" || $pageCurr== "fabu_education_teacher" || $pageCurr== "education_order"#} active{#/if#}">
			<dt>{#$store.title#}</dt>
			<dd>
				<a{#if $pageCurr == "config_education"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='config' action='education'#}">{#$langData['education'][0][41]#}</a>  {#*公司配置 *#}
				{#if $store.homepage != ''#}
				<a href="{#$store.homepage#}" target="_blank">{#$langData['siteConfig'][49][1]#}</a>  {#* 商家主页 *#}
				{#/if#}
				<a{#if $pageCurr == "manage_education"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='manage' action='education'#}">{#$langData['education'][4][8]#}</a> {#* 课程管理 *#}
	
				<a{#if $pageCurr== "fabu_education_courses"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='fabu-education' action='courses'#}">{#$langData['education'][4][15]#}</a> {#* 发布课程 *#}
	
				<a{#if $pageCurr == "education_teacher" || $pageCurr== "fabu_education_teacher"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='education' action='teacher'#}">{#$langData['education'][4][43]#}</a> {#* 教师管理 *#}
	
				<a{#if $pageCurr == "education_order"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='education' action='order'#}">{#$langData['education'][1][42]#}</a> {#* 报名管理 *#}
	
			</dd>
			</dl>
	
			
	
	
				{#/if#}
				{#/if#}
	
			{#/foreach#}
			{#/if#}
	
		</div>
	
		<div class="bottom-nav">
			{#if $userinfo.is_staff!=1#}  {#* 员工用户不显示 *#}
			{#if 'deposit'|in_array:$cfg_ucenterLinks || 'withdraw'|in_array:$cfg_ucenterLinks || ($cfg_pointState && 'convert'|in_array:$cfg_ucenterLinks) || 'record'|in_array:$cfg_ucenterLinks || ($cfg_pointState && ('transfer'|in_array:$cfg_ucenterLinks || 'point'|in_array:$cfg_ucenterLinks)) || 'checkout'|in_array:$cfg_ucenterLinks#}
			<dl class="bottom_item{#if $pageCurr == "deposit" || $pageCurr == "withdraw" || $pageCurr == "convert" || $pageCurr == "record" || $pageCurr == "transfer" || $pageCurr == "point" || $pageCurr == "checkout" || $pageCurr == "promotion" || $pageCurr == "checkout-order"#} active{#/if#}">
				<dt class="caiwu"><s class="icon"></s>财务</dt>
				<dd{#if $pageCurr == "deposit" || $pageCurr == "withdraw" || $pageCurr == "promotion" || $pageCurr == "convert" || $pageCurr == "record" || $pageCurr == "transfer" || $pageCurr == "point"#} style="display: block;"{#/if#}>
	
					{#if 'deposit'|in_array:$cfg_ucenterLinks#}
					<a{#if $pageCurr == "deposit"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='deposit'#}">{#$langData['siteConfig'][15][1]#}</a>
					{#/if#}
	
					{#if 'withdraw'|in_array:$cfg_ucenterLinks#}
					<a{#if $pageCurr == "withdraw"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='withdraw'#}">{#$langData['siteConfig'][19][471]#}</a>
					{#/if#}
	
					{#if $cfg_pointState && 'convert'|in_array:$cfg_ucenterLinks#}
					<a{#if $pageCurr == "convert"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='convert'#}">{#$langData['siteConfig'][19][726]|replace:'1':$cfg_pointName#}</a>
					{#/if#}
	
					{#if 'record'|in_array:$cfg_ucenterLinks#}
					<a{#if $pageCurr == "record"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='record'#}">{#$langData['siteConfig'][19][226]#}</a>
					{#/if#}
	
					{#if $cfg_pointState#}
					{#if 'transfer'|in_array:$cfg_ucenterLinks#}
					<a{#if $pageCurr == "transfer"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='transfer'#}">{#$cfg_pointName#}{#$langData['siteConfig'][19][730]#}</a>
					{#/if#}
	
					{#if 'point'|in_array:$cfg_ucenterLinks#}
					<a{#if $pageCurr == "point"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='point'#}">{#$cfg_pointName#}{#$langData['siteConfig'][23][78]#}</a>
					{#/if#}
					{#/if#}
	
					{#if 'checkout'|in_array:$cfg_ucenterLinks#}
					<a{#if $pageCurr == "checkout"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='checkout'#}">{#$langData['siteConfig'][16][38]#}</a>
					{#/if#}
					{#if 'order'|in_array:$cfg_ucenterLinks#}
					<a{#if $pageCurr == "checkout-order"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='checkout-order'#}">{#$langData['siteConfig'][19][879]#}</a>
					{#/if#}
					<a{#if $pageCurr == "promotion"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='promotion'#}">{#$langData['siteConfig'][19][473]#}</a>  {#* 保障金 *#}
				</dd>
			</dl>
			{#/if#}
	
			{#if 'business'|in_array:$cfg_ucenterLinks#}
			<dl class="bottom_item{#if $pageCurr == "module" #} active{#/if#}">
				<dt class="fuwu"><s class="icon"></s>商家服务</dt>
				<dd{#if $pageCurr == "module" #} style="display: block;"{#/if#}>
					<a href="{#getUrlPath service='member' template='servicemeal'#}" target="_blank">{#$langData['business'][8][17]#}</a>  {#* 我的套餐 *#}
					<!-- <a href="{#getUrlPath service='member' template='servicemeal'#}#log" target="_blank">{#$langData['siteConfig'][49][45]#}</a>  {#* 开通记录 *#}
					<a{#if $pageCurr == "promotion"#} class="curr"{#/if#} href="{#getUrlPath service='member' template='promotion'#}">{#$langData['siteConfig'][19][473]#}</a>  {#* 保障金 *#} -->
				</dd>
			</dl>
			{#/if#}
			{#/if#}
			<!-- <a href="javascript:;" class="custom-nav" id="custom-nav"><i></i>{#$langData['siteConfig'][43][18]#}</a>{#* 模块开关 *#} -->
		</div>
	</div>
	<div class="child-bar fn-hide">
		<div class="linkBox"></div>
	</div>
</div>

<script id="popupModuleList" type="text/html">
	<ul class="fn-clear">
		{#if $memberPackage && $memberPackage.package && $memberPackage.package.modules.store#}
		{#foreach from=$memberPackage.package.modules.store key=index item=store#}
		{#if $store.name != 'live'#}
		<li><label><input type="checkbox" value="{#$store.name#}"{#if $userinfo.hidePackage && !in_array($store.name, $userinfo.hidePackage)#} checked{#/if#} /> {#$store.title#}</label></li>
		{#/if#}
		{#/foreach#}
		{#/if#}
	</ul>
</script>
<script>
	var pageCurr = '{#$pageCurr#}';
	var upgradeUrl = '{#getUrlPath service='member' template='join_upgrade'#}';
</script>
