{#$pageTitle = $langData['homemaking'][1][17]|cat:" - "|cat:$cfg_webname#}
{#include file="head.html"#}
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/homemaking-personal.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript">
	var module = '{#$module#}', atpage = 1, totalCount = 0, pageSize = 30, type = '{#$type#}',store = '{#$store#}';
	var courierurl = '{#getUrlPath service="member" template="homemaking-courier" id="%id%"#}';
	var countrurl = '{#getUrlPath service="member" template="homemaking-count" id="%id%"#}';
</script>

</head>

{#$pageCurr = "homemaking_personal"#}

<body>
{#include file="headSidebar.html"#}

<div class="main">
	<div class="nav-tabs fn-clear">
		<ul class="fn-clear">
			{#* 服务人员 *#}
			<li data-id="" class="active"><a href="javascript:;">{#$langData['homemaking'][1][17]#} (<span id="total">0</span>)</a></li>
		</ul>
		<a href="javascript:;" class="addPeo">添加服务人员</a>
	</div>

	<div class="container fn-clear">
		<div class="list {#$module#}" id="list"><p class="loading"><img src="{#$cfg_staticPath#}images/ajax-loader.gif" />{#$langData['siteConfig'][20][184]#}...</p></div>
		<div class="pagination fn-clear"></div>
	</div>
</div>
<!-- 添加服务人员弹窗 s-->
<div class="fwMask"></div>
<div class="fwcodeWrap jzComWrap">
	<div class="fwcodeAlert">
		<h2 class="sureFwAlertTit">{#$langData['homemaking'][3][25]#}</h2>		{#* 添加服务人员 *#}
	 	<a href="javascript:;" class="close">×</a>	
	 	<dl class="fn-clear">  
	 		{#* 会员账号 *#}
	 		<dt>会员账号：</dt>
	 		{#* 请输入TA的账号 *#}
	 		<dd><input type="text" name="account" id="add_account" placeholder="{#$langData['homemaking'][3][27]#}"> 	</dd>
	 	</dl>
	 	 	
		<div class="scodesubmit">
			<a href="javascript:;">{#$langData['homemaking'][3][21]#}</a>		{#* 添加 *#}
		</div>
	</div>
</div>
<!-- 添加服务人员弹窗 e-->
{#include file="footer.html"#}
<script type="text/javascript" src="{#$templets_skin#}js/homemaking-personal.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
