{#$pageTitle = $langData['siteConfig'][11][12]|cat:" - "|cat:$cfg_webname#}
{#include file="head.html"#}
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/homemaking-nanny.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript">
	var module = '{#$module#}', atpage = 1, totalCount = 0, pageSize = 10, state = '{#$state#}', type = '{#$type#}';
	var editUrl = '{#getUrlPath service="member" template="fabu" action="homemaking-nanny"#}';
	var modelType = '{#$module#}', state = '{#$state#}', type = '{#$type#}', typeid = {#$typeid#}, uploadType = "thumb";
	var statisticsUrl = '{#getUrlPath service="member" type="user" template="statistics" action="$module"#}';
</script>
</head>

{#$pageCurr = "homemaking_nanny"#}

<body>
{#include file="headSidebar.html"#}

<div class="main jzbaomu">
	<div class="container fn-clear">
		<div class="con-title fn-clear">
			<div class="total">共<span>0</span>个月嫂/保姆</div>{#* 共1个月嫂/保姆 *#}
			<div class="opera">
				<form id="searchForm"><input type="text" class="keywords" placeholder=""><input type="submit" class="submit" value=""></form>
				<a href="{#getUrlPath service="member" template="fabu" action="homemaking-nanny"#}" class="add">添加月嫂/保姆</a>{#* 添加月嫂/保姆 *#}
			</div>
		</div>
		<div class="list fn-clear" id="list"><p class="loading"><img src="{#$cfg_staticPath#}images/ajax-loader.gif" />{#$langData['siteConfig'][20][184]#}...</p></div>
		<div class="pagination fn-clear"></div>
	</div>
</div>


{#include file="footer.html"#}

<script type="text/javascript" src="{#$templets_skin#}js/homemaking-nanny.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
