{#$pageTitle = $langData['siteConfig'][26][75]|cat:" - "|cat:$cfg_webname#}
{#include file="head.html"#}
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/index_iconfont.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/index2.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript">
	var house_com_id = {#$house_comid|string_format:"%d"#};
	var car_com_id = {#$car_comid|string_format:"%d"#};

	var staffid	   = '{#$userinfo.is_staff#}';
	var masterDomain = '{#$cfg_basehost#}'
	if(staffid =='1'){
		window.location.href = masterDomain+'/u'
	}
</script>
</head>

<body>
{#include file="headSidebar.html"#}

<div class="main">
	<div class="mainData">
		<div class="panel-title fn-clear">
			<h2 class="mainTit">主要数据</h2>
			<div class="nowRq"> {#$smarty.now|date_format:'%Y-%m-%d'#}</div>
		</div>
		<div class="panel-group fn-clear">
			<div class="card-pannel pannel1">
				<h3>支付订单数</h3>
				<span class="panNum">0</span>
				<div class="compared">
					<p>昨日：<span class="yesNum">0</span></p>
					<p>同比上周<span class="numUp calcNum"><span>0%</span><i class="iconUp"></i></span></p>
				</div>
			</div>
			<div class="card-pannel pannel2">
				<h3>支付金额</h3>
				<span class="panNum">0</span>
				<div class="compared">
					<p>昨日：<span class="yesNum">0</span></p>
					<p>同比上周<span class="numUp calcNum"><span>0%</span><i class="iconUp"></i></span></p>
				</div>
			</div>
			<div class="card-pannel pannel3">
				<h3>支付人数</h3>
				<span class="panNum">0</span>
				<div class="compared">
					<p>昨日：<span class="yesNum">0</span></p>
					<p>同比上周<span class="numUp calcNum"><span>0%</span><i class="iconUp"></i></span></p>
				</div>
			</div>
			<div class="card-pannel pannel4">
				<h3>访客数</h3>
				<span class="panNum">0</span>
				<div class="compared">
					<p>昨日：<span class="yesNum">0</span></p>
					<p>同比上周<span class="numUp calcNum"><span>0%</span><i class="iconUp"></i></span></p>
				</div>
			</div>
			<div class="card-pannel pannel5">
				<h3>关注店铺</h3>
				<span class="panNum">0</span>
				<div class="compared">
					<p>昨日：<span class="yesNum">0</span></p>
					<p>同比上周<span class="calcNum"><span>0%</span><i class="iconUp"></i></span></p>
				</div>
			</div>
		</div>

	</div>

	<div class="orderData">
		<div class="panel-title fn-clear">
			<h2 class="mainTit">支付订单</h2>
			<div class="orderDate"> 
				<span class="iconfont icon-rili"></span>
				<div class="dateDiv">
					<div class="dateItem">
						<input type="text" readonly autocomplete="off" placeholder="请选择" value="近7天">
						<span class="input_suffix"><span class="suffix-inner"><i class="iconfont icon-xiajiantouxi"></i></span></span>
					</div>
					<div class="downItem">
						<ul class="downList" data-id="1">
							<li data-id="lately7" class="selected"><span>近7天</span></li>
							<li data-id="lately30"><span>近30天</span></li>
							<li data-id="month"><span>本月</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="boxWrap">
			<div id="lineBox" class="chart-box"></div>
		</div>
		
	</div>

	<div class="custData fn-clear">
		<div class="custOrder">
			<div class="panel-title fn-clear">
				<h2 class="mainTit">成交客户</h2>
				<div class="orderDate"> 
					<span class="iconfont icon-rili"></span>
					<div class="dateDiv">
						<div class="dateItem">
							<input type="text" readonly autocomplete="off" placeholder="请选择"  value="近7天">
							<span class="input_suffix"><span class="suffix-inner"><i class="iconfont icon-xiajiantouxi"></i></span></span>
						</div>
						<div class="downItem">
							<ul class="downList"  data-id="2">
								<li data-id="lately7" class="selected"><span>近7天</span></li>
								<li data-id="lately30"><span>近30天</span></li>
								<li data-id="month"><span>本月</span></li>
								<li data-id="year"><span>本年</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="chart-wrapper">
				<div class="chartCon">
					<span class="chartgrid viewCus">访客-下单转化率：<em class="fkorderPer">28.00%</em></span>
					<span class="chartgrid orderCus">下单-支付转化率：<em class="xdorderPer">28.00%</em></span>
					<div class="chartCol">
						<div class="grid-content">
							<div class="lefttxt bg-blue col18">访客人数<span class="fkNum">141</span></div>
							<div class="rightTu blue col10"><span>访客</span></div>
						</div>
					</div>
					<div class="chartCol">
						<div class="grid-content">
							<div class="lefttxt bg-green col4">下单人数<span class="xdNum">141</span></div>
							<div class="lefttxt bg-green col4">下单金额<span class="xdmoneyNum">141</span></div>
							<div class="lefttxt speh bg-green col8"></div>
							<div class="rightTu green col10"><span>下单</span></div>
						</div>
					</div>
					<div class="chartCol">
						<div class="grid-content">
							<div class="lefttxt bg-dark col4">支付人数<span class="zfNum">141</span></div>
							<div class="lefttxt bg-dark col4">支付金额<span class="zfmoneyNum">141.11</span></div>
							<div class="lefttxt bg-dark col4">客单价<span class="kdNum">141</span></div>
							<div class="lefttxt speh bg-dark col2"></div>
							<div class="rightTu dark col10"><span>支付</span></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="custPercent">
			<div class="panel-title fn-clear">
				<h2 class="mainTit">成交客户占比</h2>
				<div class="orderDate"> 
					<span class="iconfont icon-rili"></span>
					<div class="dateDiv">
						<div class="dateItem">
							<input type="text" readonly autocomplete="off" placeholder="请选择"  value="近7天">
							<span class="input_suffix"><span class="suffix-inner"><i class="iconfont icon-xiajiantouxi"></i></span></span>
						</div>
						<div class="downItem">
							<ul class="downList"  data-id="3">
								<li data-id="lately7" class="selected"><span>近7天</span></li>
								<li data-id="lately30"><span>近30天</span></li>
								<li data-id="month"><span>本月</span></li>
								<li data-id="year"><span>本年</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="pieChart-switch">
				<button class="active" data-id="1"><span>金额</span></button>
				<button  data-id="2"><span>客户数</span></button>
			</div>
			<div id="pieBox" class="chart-box"></div>
		</div>
	</div>

	<div class="rankWrap">
		<div class="rankData payD col8">
			<div class="panel-title fn-clear">
				<h2 class="mainTit">商品支付排行</h2>
				<div class="orderDate"> 
					<span class="iconfont icon-rili"></span>
					<div class="dateDiv">
						<div class="dateItem">
							<input type="text" readonly autocomplete="off" placeholder="请选择" value="近7天">
							<span class="input_suffix"><span class="suffix-inner"><i class="iconfont icon-xiajiantouxi"></i></span></span>
						</div>
						<div class="downItem">
							<ul class="downList"  data-id="4">
								<li data-id="lately7" class="selected"><span>近7天</span></li>
								<li data-id="lately30"><span>近30天</span></li>
								<li data-id="month"><span>本月</span></li>
								<li data-id="year"><span>本年</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="rankTitle fn-clear">
				<div class="col4 tit spetit">排名</div>
				<div class="col16 tit">名称</div>
				<div class="col4 tit">支付数</div>
			</div>
			<div class="rankContent">
				
			</div>
		</div>
		<div class="rankData seeD col8">
			<div class="panel-title fn-clear">
				<h2 class="mainTit">商品访客排行</h2>
				<div class="orderDate"> 
					<span class="iconfont icon-rili"></span>
					<div class="dateDiv">
						<div class="dateItem">
							<input type="text" readonly autocomplete="off" placeholder="请选择" value="近7天">
							<span class="input_suffix"><span class="suffix-inner"><i class="iconfont icon-xiajiantouxi"></i></span></span>
						</div>
						<div class="downItem">
							<ul class="downList"  data-id="5">
								<li data-id="lately7" class="selected"><span>近7天</span></li>
								<li data-id="lately30"><span>近30天</span></li>
								<li data-id="month"><span>本月</span></li>
								<li data-id="year"><span>本年</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="rankTitle fn-clear">
				<div class="col4 tit spetit">排名</div>
				<div class="col16 tit">名称</div>
				<div class="col4 tit">访问数</div>
			</div>
			<div class="rankContent">
				
			</div>
		</div>
		<div class="rankData buyD col8">
			<div class="panel-title fn-clear">
				<h2 class="mainTit">商品加购排行</h2>
				<div class="orderDate"> 
					<span class="iconfont icon-rili"></span>
					<div class="dateDiv">
						<div class="dateItem">
							<input type="text" readonly autocomplete="off" placeholder="请选择" value="近7天">
							<span class="input_suffix"><span class="suffix-inner"><i class="iconfont icon-xiajiantouxi"></i></span></span>
						</div>
						<div class="downItem">
							<ul class="downList"  data-id="6">
								<li data-id="lately7" class="selected"><span>近7天</span></li>
								<li data-id="lately30"><span>近30天</span></li>
								<li data-id="month"><span>本月</span></li>
								<li data-id="year"><span>本年</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="rankTitle fn-clear">
				<div class="col4 tit spetit">排名</div>
				<div class="col16 tit">名称</div>
				<div class="col4 tit">支付数</div>
			</div>
			<div class="rankContent">
				
			</div>
		</div>
	</div>	


</div>

{#include file="footer.html"#}
<script type="text/javascript" src="{#$templets_skin#}js/echarts.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/index2.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
