
<script type="text/javascript">
	
	var editUrl = '{#getUrlPath service="member" template="fabu" action="marry-menu"#}';
</script>
<style media="screen">
.container .list {padding: 10px 30px 0;}
.container .list .price{font-size: 14px;color: #FF0000;margin-left: 17px;}
.container .list .price strong{font-size: 18px;}
.container .list .menuInfo .menuNum{float: left;font-size: 12px;color: #717171;}
.container .list .menuInfo em{font-size: 12px;color: #717171;margin-right: 10px;}

</style>

<div class="nav-tabs fn-clear">
	<ul class="fn-clear">
		{#* 全部场地 *#}
		<li data-id="" class="active"><a href="javascript:;">{#$langData['marry'][0][34]#} (<span id="total">0</span>)</a></li>
		<li data-id="1"><a href="javascript:;">{#$langData['siteConfig'][19][392]#} (<span id="audit">0</span>)</a></li>
		<li data-id="0"><a href="javascript:;">{#$langData['siteConfig'][9][21]#} (<span id="gray">0</span>)</a></li>
		<li data-id="2"><a href="javascript:;">{#$langData['siteConfig'][9][35]#} (<span id="refuse">0</span>)</a></li>
	</ul>
	{#* 发布婚宴菜单 *#}
	<a href="{#getUrlPath service='member' template='fabu' action='marry-menu' #}" class="btn add">{#$langData['marry'][8][21]#}</a>
</div>

