

{#$pageTitle = $langData['siteConfig'][26][126]|cat:" - "|cat:$cfg_webname#}

{#include file="head.html"#}
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/manage.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript">
	var module = '{#$module#}', atpage = 1, totalCount = 0, pageSize = 10, state = '{#$state#}', type = '{#$type#}' ,typeid='{#$typeid#}';
</script>

</head>

{#$pageCurr = "marry_{#$module#}"#}

{#if $typeid == 9#}
{#$pageActive = 'marry_plan'#}
{#elseif $typeid == 4#}

{#$pageActive = 'marry_video'#}
{#elseif $typeid == 10#}

{#$pageActive = 'marry_car'#}
{#elseif $typeid == 1#}

{#$pageActive = 'marry_gown'#}
{#elseif $typeid == 2#}

{#$pageActive = 'marry_photo'#}
{#elseif $typeid == 7#}

{#$pageActive = 'marry_host'#}
{#elseif $typeid == 3#}

{#$pageActive = 'marry_jewelry'#}
{#elseif $typeid == 5#}

{#$pageActive = 'marry_makeup'#}
{#elseif $typeid == 6#}

{#$pageActive = 'marry_dress'#}
{#/if#}

<body>
{#include file="headSidebar.html" #}

<div class="main">

	{#include file="marry-$module.html"#}
	<div class="container fn-clear">
		<div class="list {#$module#}" id="list"><p class="loading"><img src="{#$cfg_staticPath#}images/ajax-loader.gif" />{#$langData['siteConfig'][20][184]#}...</p></div>
		<div class="pagination fn-clear"></div>
	</div>
</div>

{#include file="footer.html"#}
<script type="text/javascript" src="{#$templets_skin#}js/marry-{#$module#}.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
