
<script>
	var state='0';
	var typeid = "{#$typeid#}";
</script>
{#if $typeid == 9#}
	{#$astit = $langData['marry'][2][14]#} {#*婚礼策划*#}

{#elseif $typeid == 4#}
	{#$astit = $langData['marry'][2][9]#} {#*摄像跟拍*#}

{#elseif $typeid == 10#}
	{#$astit = $langData['marry'][2][15]#} {#*租婚车*#}

{#elseif $typeid == 1#}
	{#$astit = $langData['marry'][2][6]#} {#*婚纱摄影*#}

{#elseif $typeid == 2#}
	{#$astit = $langData['marry'][2][7]#} {#*摄影跟拍*#}

{#elseif $typeid == 7#}
	{#$astit = $langData['marry'][2][16]#} {#*婚礼主持*#}

{#elseif $typeid == 3#}
	{#$astit = $langData['marry'][2][8]#} {#*珠宝首饰*#}

{#elseif $typeid == 5#}
	{#$astit = $langData['marry'][2][10]#} {#*新娘跟妆*#}

{#elseif $typeid == 6#}
	{#$astit = $langData['marry'][2][11]#} {#*婚纱礼服*#}

{#/if#}


<style>
	.item .price{font-size: 14px;color: #FF0000}
	.item .price strong{font-size: 18px;}
</style>
<div class="nav-tabs fn-clear">
	<ul class="fn-clear">
		{#* 套餐 --  发布套餐*#}
		<li data-id="" class="active" data-type="0" data-fabu="{#getUrlPath service='member' template='fabu' action='marry-meal' param="typeid=$typeid"#}" data-title="{#$langData['marry'][8][30]#}"><a href="javascript:;">{#$astit#}{#$langData['marry'][6][11]#}</a></li>

		{#* 案例 -- 发布案例*#}
		<li data-id="1" data-type="1" data-fabu="{#getUrlPath service='member' template='fabu' action='marry-case' param="typeid=$typeid"#}" data-title="{#$langData['marry'][8][31]#}"><a href="javascript:;">{#$astit#}{#$langData['marry'][0][47]#}</a></li>
	</ul>
	{#* 发布套餐 *#}
	<a href="{#getUrlPath service='member' template='fabu' action='marry-meal' param="typeid=$typeid"#}" class="btn add">{#$langData['marry'][8][30]#}</a>
</div>



