<div class="nav-tabs fn-clear">
	<ul class="fn-clear">
		<li data-id="1"><a href="javascript:;">已交保(<span id="unused">0</span>)</a></li>
		<li data-id="6"><a href="javascript:;">待发货(<span id="toFahuo">0</span>)</a></li>
		<li data-id="3"><a href="javascript:;">已发货 (<span id="recei">0</span>)</a></li>
		<li data-id="4"><a href="javascript:;">已完成(<span id="used">0</span>)</a></li>
		<li data-id="7"><a href="javascript:;">待付款 (<span id="topay">0</span>)</a></li>
		<li data-id="5"><a href="javascript:;">未获拍(<span id="refund">0</span>)</a></li>
	</ul>
</div>
