<style>
	.list {padding: 0 15px;}
</style>
  <script>

   var homemakingEditUrl = '{#getUrlPath service="member" template="orderdetail" action="homemaking" id="%id%"#}';
   var homemakingRefundUrl = '{#getUrlPath service="member" template="refund" action="homemaking" id="%id%"#}';


   var dispatchid = '';
  </script>
<div class="nav-tabs fn-clear">
	<ul class="fn-clear">
		{#* 全部 *#}
		<li data-id=""><a href="javascript:;">{#$langData['homemaking'][4][0]#} (<span id="alldA">0</span>)</a></li>
		{#* 待确认 *#}
		<li data-id="1"><a href="javascript:;">{#$langData['homemaking'][4][2]#} (<span id="unsured">0</span>)</a></li>
		{#* 待服务 *#}
		<li data-id="20"><a href="javascript:;">{#$langData['homemaking'][4][3]#} (<span id="unused">0</span>)</a></li>
		{#* 待验收 *#}
		<li data-id="5"><a href="javascript:;">待验收 (<span id="unreceive">0</span>)</a></li>
		{#* 服务完成 *#}
		<li data-id="6"><a href="javascript:;">{#$langData['homemaking'][9][93]#} (<span id="used">0</span>)</a></li>
		{#* 已结单 *#}
		<li data-id="11"><a href="javascript:;">已结单 (<span id="finished">0</span>)</a></li>
		{#* 退款/售后 *#}
		<li data-id="9"><a href="javascript:;">退款/售后 (<span id="refund">0</span>)</a></li>
	</ul>
</div>
<div class="hmsearchDiv">
	<span>订单编号：</span>
	<input type="text" placeholder="" id="searchTit" onkeypress="CheckInfo()" autocomplete="off">
	<button class="searchItem"></button>

</div>
<table class="oh">
	<colgroup>
		<col style="width:38%;">
		<col style="width:10%;">
		<col style="width:7%;">
		<col style="width:17%;">
		<col style="width:16%;">
		<col style="width:12%;">
	</colgroup>
	<tbody>
		<tr>
			<td>{#$langData['siteConfig'][16][25]#}</td>
			<td>{#$langData['siteConfig'][19][323]#}</td>
			<td>{#$langData['siteConfig'][19][324]#}</td>
			<td>{#$langData['siteConfig'][19][316]#}</td>
			<td>{#$langData['siteConfig'][19][307]#}</td>
			<td>{#$langData['siteConfig'][6][11]#}</td>
		</tr>
	</tbody>
</table>
<!-- 操作--弹窗 -->
{#include file="order_homemaking_common.html"#}
<!-- 维修保障卡 s-->
<div class="repairMask"></div>
<div class="repairWrap">
	<div class="repairAlert">
		<div class="repairCon">
			<a href="javascript:;" class="close">×</a>	
			{#*维修保修卡 *#}
			<h3 class="repair_title">{#$langData['homemaking'][4][22]#}</h3>
			
			<div class="repairGuar">服务完成后的保修期内，如此次维修服务发生了与本次服务内容完全相同、且非人为损坏的故障。 在商家上门确认后，将为你免费提供维修服务。注：检测、检修、 加氟不参保。</div>
			    
			<div class="repairDet">
				{#*订单编号 *#}
				<p>{#$langData['homemaking'][4][27]#}：<span class="ordtime">{#$detail_ordernum#}</span></p>
				{#*保修期限 *#}
				<p>{#$langData['homemaking'][4][23]#}：<span class="baotime">2019-03-13  10:20:54</span></p>
			</div>
			<div class="repairCon3 fn-clear">
				<a href="">
		          	<div class="rpleft_b"><img src="" alt="" onerror="javascript:this.src='{#$cfg_staticPath#}images/noPhoto_100.jpg';this.onerror=this.src='{#$cfg_staticPath#}images/404.jpg';"></div>
		          	<div class="rpright_b">
		            	<p class="jz_title"></p>
		            	<p class="jz_price"></p>
	          		</div>
	        	</a>
			</div>
			<div class="repairCon4">
				<p>{#$langData['homemaking'][4][24]#}：{#echoCurrency type='symbol'#}<span class="reOprice"></span></p>  {#*后续收费 *#}
				<p>{#$langData['homemaking'][4][25]#}：{#$detail_servicedesc#}</p>  {#*备注说明 *#}

				<div class="jztotal_price"><em>{#$langData['homemaking'][4][28]#}：</em>{#echoCurrency type='symbol'#}<span></span></div>	  {#*合计 *#}
			</div>
		</div>
	</div>
</div>
<!-- 维修保障卡 e-->