{#if {#verifyModuleAuth module='shop'#}#}
{#$module = 'shop'#}
{#$pageTitle = '优惠券管理'|cat:" - "|cat:$cfg_webname#}
{#include file="head.html"#}
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/quan-{#$module#}.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript">
	var modelType = 'shop';
  var module = 'shop', atpage = 1, totalCount = 0, pageSize = 7, state = '', type = '';

  var memberD = "{#$member_busiDomain#}";
</script>
</head>

{#$pageCurr = "quan_shop"#}

<body>
{#include file="headSidebar.html"#}

<div class="main">
	<div class="container fn-clear quan_container">
    <div class="tabbox">
      <div class="curr">全部优惠券</div>
      <div class="btn"><a href="{#getUrlPath service='member' template='fabuquan'#}">新建优惠券</a></div>
    </div>
    <div class="shaiBox">
      <div class="shai"><s class="arr"></s>
        <select name="" id="state">
          <option value="">全部状态</option>
  				<option value="1">领取中</option>
  				<option value="2">已领完</option>
  				<option value="3">已结束</option>
        </select>
      </div>
      <div class="search_box">
        <div class="search_inp"><input type="search" placeholder="优惠券名称"></div>
        <div class="search_btn"></div>
      </div>
    </div>

    <div class="tablebox">
      <table>
        <colgroup>
          <col width="15%">
          <col width="8%">
          <col width="8%">
          <col width="8%">
          <col width="13%">
          <col width="8%">
          <col width="15%">
          <col width="25%">
        </colgroup>
        <thead>
          <tr>
            <th class="txtleft">名称</th>
            <th>状态</th>
            <th>面额</th>
            <th>门槛</th>
            <th>使用时间</th>
            <th>限领</th>
            <th>已领取/发放量</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr class="alluser">
            <th class="txtleft">
              <h3>双十一优惠券</h3>
              <p class="lab">全店通用</p>
            </th>
            <th>领取中</th>
            <th>20元</th>
            <th>满200</th>
            <th>
              <p>起：2020-01-01</p>
              <p>止：2022-01-01</p>
            </th>
            <th>1</th>
            <th>10/200</th>
            <th>
              <a href="">查看</a>
              <a href="">修改</a>
              <a href="">结束</a>
              <a href="">链接</a>
            </th>
          </tr>
          <tr class="">
            <th class="txtleft">
              <h3>双十一优惠券</h3>
              <p class="lab">全店通用</p>
            </th>
            <th>领取中</th>
            <th>20元</th>
            <th>满200</th>
            <th>
              <p>起：2020-01-01</p>
              <p>止：2022-01-01</p>
            </th>
            <th>1</th>
            <th>10/200</th>
            <th>
              <a href="">查看</a>
              <a href="">修改</a>
              <a href="">结束</a>
              <a href="">链接</a>
            </th>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="pagination  fn-clear"></div>
    {#else#}
    <div class="list" style="padding: 200px 0; text-align: center; font-size: 14px; color: red;">{#$langData['siteConfig'][20][403]#}</div>
    {#/if#}
	</div>
</div>

<div class="stopdrag">{#$langData['siteConfig'][20][147]#}<a href="javascript:;">{#$langData['siteConfig'][6][27]#}</a></div>

{#include file="footer.html"#}
<script type="text/javascript" src="{#$templets_skin#}js/quan-{#$module#}.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/clipboard.min.js">
</body>
</html>
