<script>
	var photo = '{#$photo#}';
	var logo = '{#$logo#}';
</script>
<div class="refundLeft">
	<!-- 商家处理退款中 s-->
	<div id="cancelIng" {#if ($detail_orderstate == 6 || $detail_ret_state == 1) && $detail_ret_ptaudittype == 0 && $detail_orderstate != 7 #}class="refundPro"{#else#} class="fn-hide refundPro"{#/if#}>
		<div class="ingTop{#if $detail_userrefundtype == 2 && $detail_ret_ptaudittype == 0#} fn-hide{#/if#}">
			<div>
				{#if ($detail_orderstate == 6 || $detail_ret_state == 1) && $detail_ret_audittype == 0#}
				<strong class="stxt1 canApply">请处理退款申请</strong>
				{#elseif  $detail_ret_audittype == 1 && $detail_refundnumeber == 1#}

				<strong class="stxt1 refuseApply">您已拒绝退款申请</strong>
				{#/if#}
				<!-- <strong class="stxt1 tuihuoApply">请处理退货申请</strong> -->


				{#if $detail_ret_audittype == 2 && $detail_user_exptype == 0 #}
				<!-- 快递寄回 -->
				<strong class="stxt1 waitReturn">等待买家退货</strong>
				{#/if#}
				{#if $detail_user_expcompany != ''#}
				 <strong class="stxt1 waitReturn2">买家已退货，请确认收货并退款</strong>
				{#/if#}
				{#if $detail_ret_audittype == 2 && $detail_selftype == 1#}
				<!-- 自行送达 -->
				 <strong class="stxt1 waitSelf">买家自行退货，待送达</strong>
				{#/if#}
				{#if $detail_ret_audittype == 2 && $detail_selftype == 2#}
				 <strong class="stxt1 waitSelf2">买家自行退货，已送达</strong>
				{#/if#}
				<!-- 收到货之后拒绝 -->
				<!-- <strong class="stxt1 refuseApply2">您已拒绝退款</strong> -->

				<i></i>
				<div class="time-item" data-time="{#if ($detail_orderstate == 6 || $detail_ret_state == 1) && $detail_ret_audittype == 0#}{#$detail_autotuikuantime#}{#else#}{#$detail_closekuantime#}{#/if#}">
					<strong id="day_show">0</strong><span>天</span>
					<strong id="hour_show">0</strong><span>时</span>
					<strong id="minute_show">0</strong><span>分</span>
					<strong id="second_show">0</strong><span>秒</span>
					{#if $detail_orderstate == 6 && $detail_ret_audittype == 0#}
					<span class="canApply">自动同意退款</span>
					{#elseif $detail_ret_audittype == 1 && $detail_expDate == 0#}
					<span class="refuseApply">自动关闭本次退款</span>
					{#/if#}
					<!-- <span class="tuihuoApply">自动同意退货</span> -->
				</div>
			</div>
			{#if ($detail_orderstate == 6 || $detail_ret_state == 1) && $detail_ret_audittype == 0 && $detail_selftype == 0#}
			{#if $detail_refundnumeber == 1#}
			<p class="firstApply">请及时联系买家处理退款事宜</p>
			{#else#}
			<p class="hasChangeApply">买家已修改退款申请，退款原因：{#$detail_ret_type#}，退款金额：{#$detail_ret_amount#}元。</p>
			{#/if#}
			{#/if#}

			{#if  $detail_refundnumeber == 1  && $detail_status != 0#}
			<p class="refuseApply">等待买家处理</p>
			{#/if#}
			{#if $detail_ret_audittype == 2 && $detail_selftype == 0  && $detail_userrefundtype == 1 && $detail_user_expcompany == ''#}
			 <p class="waitReturn">您已同意买家退货申请，等待买家退回商品</p>
			{#/if#}
			{#if $detail_ret_audittype == 2 && $detail_user_exptype == 1 && $detail_user_exptime != 0#}
			 <p class="waitReturn2">快递寄回，物流公司：{#$detail_user_expcompany#}，物流单号：{#$detail_user_expnumber#}</p>
			{#/if#}
			{#if $detail_selftype == 1#}
			 <p class="waitSelf">买家选择自行退货，请及时与买家联系，处理退货</p>
			{#/if#}
			{#if $detail_selftype == 2 && $detail_status == 0#}
			 <p class="waitSelf2">买家已送达，送达时间：{#$detail_user_expoktime#}</p>
			{#/if#}
			{#if $detail_status != 0#}
			 <p class="refuseApply2">拒绝原因：{#$detail_refundinfo#}</p>
			{#/if#}
		</div>
		<div class="ingMiddle">

			{#if ($detail_refundnumeber == 1  && $detail_status != 0) || ($detail_refundnumeber == 2 && $detail_status != 0)#}
			{#if $detail_userrefundtype == 0  #}
			<div class="refuseApply">
				<p>· 如果买家逾期未处理，本次申请将自动关闭</p>
				<p>· 买家可以修改退款申请或申请客服介入处理</p>
			</div>
			{#/if#}
			{#/if#}

			{#if $detail_userrefundtype == 1 && $detail_selftype == 0 && $detail_ret_audittype == 0#}
			<div class="tuihuoApply">
				<p>· 如果您同意，买家将在规定时间内送出商品，否则自动关闭</p>
				<p>· 如果您拒绝，买家可以修改退款申请或申请客服介入处理</p>
				<p>· 如果您逾期未处理，系统将自动退款给买家</p>
			</div>
			{#elseif $detail_ret_audittype == 0 && $detail_selftype == 0#}
			<div class="canApply">
				<p>· 如果您同意将直接退款给买家</p>
				<p>· 如果您拒绝，买家可以修改退款申请或申请客服介入处理</p>
				<p>· 如果您逾期未处理，系统将自动退款给买家</p>
			</div>
			{#/if#}
			{#if $detail_userrefundtype == 2 && $detail_ret_ptaudittype == 0#}
			<!-- 平台处理结果 成功 s-->
			<h4 class="stxt4">买家已申请平台介入处理</h4>
			<!-- 平台处理结果 成功 e-->
			{#/if#}
			{#if $detail_ret_audittype == 2 && $detail_selftype == 0  && $detail_userrefundtype == 1 && $detail_user_expcompany == ''#}
			<div class="waitReturn">
				<p>· 收到买家退货时，请签收验货后同意退款</p>
				<p>· 如果买家在超时结束前未退货，退货申请将自动关闭</p>
			</div>
			{#/if#}
			{#if $detail_user_expcompany !=''#}
			 <div class="waitReturn2">
                <p>· 如果您收到买家退货，请签收验货后同意退款</p>
                <p>· 如果您拒绝退款，买家可以修改申请或申请客服介入处理</p>
                <p>· 如果您逾期未处理，系统将自动退款给买家</p>
            </div>
			{#/if#}
			<ul class="fn-clear canApply">

				<!--				{#if $detail_ret_audittype == 0#}-->
				<!--				{#if $detail_userrefundtype == 1#}-->
				<!--				<li class="agreeTuihuo"><a href="{#getUrlPath service="member" template="returngoods-{#$module#}" id={#$id#} param="proid={#$proid#}"#}">同意退货</a></li>-->
				<!--				{#else#}-->
				<!--				<li class="changeAply"><a href="javascript:;">同意退款</a></li>-->
				<!--				{#/if#}-->
				<!--				<li class="cancelApply"><a href="{#getUrlPath service="member" template="refuserefund-{#$module#}" id={#$id#} param="proid={#$proid#}"#}">拒绝申请</a></li>-->
				<!--				{#/if#}-->

				{#if $detail_ret_audittype == 0#}
				{#if $detail_userrefundtype == 1#}
				<li><a href="javascript:;" class="agreeTuihuo">同意退货</a></li>
				{#else#}
				<li><a href="javascript:;" class="agreeOk">同意退款</a></li>
				{#/if#}
				<li><a href="javascript:;" class="refuseRefund">拒绝申请</a></li>

				{#/if#}
				{#if  ($detail_selftype == 0  && $detail_userrefundtype == 1) || $detail_user_expcompany != ''#}
				 <li><a href="javascript:;" class="agreeOk">已收到货，同意退款</a></li>
				{#/if#}
				{#if  $detail_ret_audittype == 2 && $detail_user_exptype == 1 && $detail_user_exptime != 0#}
				<li><a href="javascript:;" class="agreeOk">已收到货，同意退款</a></li>
				 <li><a href="javascript:;" class="refuseTuikuan">拒绝退款</a></li>
				{#/if#}
				<!--				<li><a href="javascript:;" class="refuseRefund">拒绝申请</a></li>-->
				<!-- <li><a href="javascript:;" class="refuseTuikuan">拒绝退款</a></li> -->
			</ul>
		</div>
	</div>
	<!-- 商家处理退款中 e-->
	<!-- 商家处理结果 e-->
	<div id="cancelFinish" {#if ($detail_ret_ok_date != 0 || $detail_orderstate == 7)#} class="refundPro"{#else#}class="fn-hide refundPro" {#/if#}>
		{#if $detail_status==1 || $detail_ret_ptaudittype == 1 || $detail_ret_ok_date != 0 || $detail_orderstate == 7 #}
		<div class="finishTop successResult">
			<h4>退款成功</h4>
			<p>退款成功时间：{#$detail_retOkdate|date_format:"%Y-%m-%d %H:%M:%S"#}</p>
		</div>
		{#else#}
				<div class="finishTop failedResult ">
			<h4>退款失败</h4>
			<p>您拒绝此次退款申请</p>
		</div>
		{#/if#}
		{#if $detail_refundnumeber == 2 && $detail_ret_audittype == 0#}

		<div class="finishMid successResult fn-hide">
			<h4>退款总金额：<span>{#echoCurrency type='symbol'#}{#$detail_ret_amount#}</span></h4>
		</div>
		{#/if#}

		<div class="finishMid failedResult ">
<!--			<h3 class="stxt3">拒绝原因，商品已寄出，不支持退款</h3>-->

			{#*  买家申请平台处理时的情况 *#}
			{#if $detail_userrefundtype ==2 && $detail_ret_ptaudittype == 1#}
			<!-- 平台处理结果 成功 s-->
			<h4 class="stxt4">买家申请客服介入处理完成：已退款<span>{#echoCurrency type='symbol'#}{#$detail_ret_amount#}</span></h4>
			<!-- 平台处理结果 成功 e-->
			{#/if#}
			<!-- 平台处理结果 失败 s-->
			{#if $detail_orderstate == 6 && $detail_ret_audittype == 2 && $detail_user_exptype == 2 && $detail_user_exptim == 0#}
			<h4 class="stxt4">买家申请客服介入处理完成：因商品不支持七天无理由退款，协商完成，此次不予退款，</h4>
			<!-- 平台处理结果 失败 e-->
			{#/if#}

		</div>
	</div>
	<!-- 商家处理结果 e-->
	<!-- 协商历史 s-->
	<div class="talkList">
		<h2>协商历史</h2>
		<ul>

		</ul>
		<div class="pagination fn-clear"></div>
	</div>
	<!-- 协商历史 e-->
</div>

<!-- 同意退货 弹窗s -->
<div class="tuihuoMask"></div>
<div class="thWrap jzComWrap">
	<div class="thAlert">
		<h2 class="surethtTit">确认收货信息</h2>
		<a href="javascript:;" class="close"></a>
		<form action="" class="fabuform">
			<ul>

				<li class="name">
					<dl class="fn-clear">
						<dt>收&nbsp; 货 人：</dt>
						<dd class="fn-clear">
							<input id="person" type="text" name="person" value="" placeholder="请填写收货人姓名" /><span class="input-tips"><s></s>{#$langData['shop'][5][31]#}</span>
						</dd>
					</dl>
				</li>
				<li class="phone">
					<dl class="fn-clear">
						<dt>{#$langData['siteConfig'][3][6]#}：</dt>
						<dd class="fn-clear">
							<div class="inpbdr">
								<span class="areaCode" data-code="{#$internationalPhoneSection[0]['code']#}"><i>+{#$internationalPhoneSection[0]['code']#}</i><s></s></span>
								<input id="mobile" name="tel" type="text" value="" placeholder="请填写手机号码" />
							</div>
							<!--国际区号弹窗-->
							<div class="areaCode_wrap areaCode_wrap2">
								<ul>

								</ul>
							</div>
							<input type="hidden" name="areaCode" id="areaCode" value="{#$internationalPhoneSection[0]['code']#}">
							<span class="input-tips"><s></s>{#$langData['siteConfig'][20][315]#}</span>
						</dd>
					</dl>
				</li>
				<li class="address2">
					<dl class="fn-clear">
						<dt>{#$langData['siteConfig'][19][34]#}：</dt>
						<dd class="fn-clear" id="selAddr">
							<div class="sel-group" data-title="{#$langData['siteConfig'][20][68]#}">{#* 请选择所在区域 *#}
								<div class="city-title addrBtn" data-field="addrid" data-ids="" data-id=""><span style="color:#bbb;">请选择所在地区</span>
								</div>
								<input type="hidden" name="addrid" id="addrid" value="">
							</div>
							<span class="input-tips"><s></s>{#$langData['siteConfig'][23][118]#}</span>
						</dd>
					</dl>
				</li>
				<li class="detail">
					<dl>
						<dt>{#$langData['siteConfig'][19][35]#}：</dt>
						<dd class="fn-clear">
							<input id="address" type="text"  placeholder="" name="address" />
							<span class="input-tips"><s></s>{#$langData['shop'][5][30]#}</span>
						</dd>
					</dl>
				</li>
				<li class="noteTh">
					<dl>
						<dt>退货说明：</dt>
						<dd class="fn-clear">
							<textarea name="note" id="tuihuo_note"></textarea>
							<span class="input-tips"><s></s>{#$langData['shop'][5][30]#}</span>
						</dd>
					</dl>
				</li>

				<li>
					<dl>
						<dt></dt>
						<dd class="confirm"><a href="javascript:;" id="submit">确定</a></dd>
					</dl>
				</li>
			</ul>
		</form>
	</div>
</div>
<!-- 同意退货 弹窗e -->
<script type="text/javascript" src="{#$cfg_staticPath#}js/publicAddr.js?v={#$cfg_staticVersion#}"></script>