<!DOCTYPE html>
<html class="w1200">
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$langData['siteConfig'][49][42]#}</title>   {#* 我的商家服务 *#}
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/service-meal.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = cfg_staticPath = '{#$cfg_staticPath#}';
	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#};
	var promotions = [{#if $businessConfig.joinSale#}{#foreach from=$businessConfig.joinSale item=sale key=index#}[{#$sale.price#}, {#$sale.amount#}]{#if $index < $businessConfig.joinSale|@count-1#}, {#/if#}{#/foreach#}{#/if#}];  //满减
    var integrals = [{#if $businessConfig.joinPoint#}{#foreach from=$businessConfig.joinPoint item=point key=index#}[{#$point.month#}, {#$point.point#}]{#if $index < $businessConfig.joinPoint|@count-1#}, {#/if#}{#/foreach#}{#/if#}];  //积分
	var packageCurr = {#$memberPackage.package.id|string_format:"%d"#};
	var packageTitle = '{#$memberPackage.package.title#}';
	var usermoney  = '{#$userinfo.money#}';
	var mealUrl = "{#getUrlPath service='member' type='busi' template='servicemeal'#}"
</script>
</head>

<body>

{#include file="../../siteConfig/top1.html"#}
<div class="fixedwrap">
  	<!-- head s -->
    <div class="wrap header fn-clear">
    	<div class="logo">
		    <a href="{#$cfg_basehost#}" title="{#$cfg_webname#}"><img src="{#$cfg_weblogo#}" alt="{#$cfg_webname#}" /></a>
		</div>
		{#* 客服热线 *#}
		<div class="kefu">{#$langData['siteConfig'][19][275]#}<strong>{#$cfg_hotline#}</strong></div>
    </div>
    <!-- head e -->
</div>

<div class="wrap main fn-clear">
	<div class="left_fix fn-left">
		<ul>
			{#* 我的套餐 *#}
			<li class="active"><a href="javascript:;">已开服务</a></li>

			<!-- {#* 套餐外服务 *#}
			{#if $memberPackage.package.id !== '' && ($memberPackage.package.item.privilege || $memberPackage.package.item.store)#}
			<li><a href="javascript:;">{#$langData['siteConfig'][49][48]#}</a></li>
			{#/if#} -->

			{#* 开通记录 *#}
			<li><a href="javascript:;">{#$langData['siteConfig'][49][45]#}</a></li>

			{#* 未开服务 *#}
			{#if $notOpenModules['privilege'] || $notOpenModules['store']#}
			<li><a href="javascript:;">{#$langData['siteConfig'][49][51]#}</a></li>
			{#/if#}
		</ul>
	</div>
	<div class="container">
		<!-- 我的套餐 s-->
		<div class="right_con hide">
			<div class="topDiv">
				<div class="topDetail fn-clear">
					
					<div class="right_m fn-right">
						<div class="l_logo"><img src="{#$userinfo.photo#}" alt=""></div>
						<div class="r_name">{#$userinfo.nickname#}</div>
					</div>
				</div>
				<h1>我的商家会员</h1>
				<p>已开通  · {#count($memberPackage.package.item.privilege)#}项商家特权   · {#count($memberPackage.package.item.store)#}种行业店铺</p>
			</div>
			<div class="botDiv" style="display: none;">
				<h2 class="com-title">{#$langData['siteConfig'][49][44]#}</h2>  {#* 套餐详情 *#}

				{#if $memberPackage.package.id !== ''#}
				{#if $memberPackage.package.listArr.privilege#}
				<div class="bot_item bot_item1">
					<div class="bot_logo"><img src="{#$templets_skin#}images/pri-vip.png" alt=""></div>
					<div class="bot_con">
						<h3>{#$langData['siteConfig'][49][46]#}</h3>  {#* 商家特权 *#}
						<p>{#foreach from=$memberPackage.package.listArr.privilege key=index item=privilege#}{#$privilege.title#}{#if $index < $memberPackage.package.listArr.privilege|count - 1#}、{#/if#}{#/foreach#}</p>
					</div>
				</div>
				{#/if#}
				{#if $memberPackage.package.listArr.store#}
				<div class="bot_item bot_item2">
					<div class="bot_logo"><img src="{#$templets_skin#}images/store-vip.png" alt=""></div>
					<div class="bot_con">
						<h3>{#$langData['siteConfig'][49][47]#}</h3>  {#* 行业店铺 *#}
						<p>{#foreach from=$memberPackage.package.listArr.store key=index item=store#}{#$store.title#}{#if $index < $memberPackage.package.listArr.store|count - 1#}、{#/if#}{#/foreach#}</p>
					</div>
				</div>
				{#/if#}
				{#else#}
				{#if $memberPackage.package.item.privilege#}
				<div class="bot_item bot_item1">
					<div class="bot_logo"><img src="{#$templets_skin#}images/pri-vip.png" alt=""></div>
					<div class="bot_con">
						<h3>{#$langData['siteConfig'][49][46]#}</h3>  {#* 商家特权 *#}
						<p>{#foreach from=$memberPackage.package.item.privilege key=index item=privilege#}<span class="item_li" data-name="{#$privilege.name#}" data-price="{#$privilege.price#}">{#$privilege.title#}</span>{#if $index < $memberPackage.package.item.privilege|count - 1#}、{#/if#}{#/foreach#}</p>
					</div>
				</div>
				{#/if#}
				{#if $memberPackage.package.item.store#}
				<div class="bot_item bot_item2">
					<div class="bot_logo"><img src="{#$templets_skin#}images/store-vip.png" alt=""></div>
					<div class="bot_con">
						<h3>{#$langData['siteConfig'][49][47]#}</h3>  {#* 行业店铺 *#}
						<p>{#foreach from=$memberPackage.package.item.store key=index item=store#}<span class="item_li" data-name="{#$store.name#}" data-price="{#$store.price#}">{#$store.title#}</span>{#if $index < $memberPackage.package.item.store|count - 1#}、{#/if#}{#/foreach#}</p>
					</div>
				</div>
				{#/if#}
				{#/if#}
			</div>
		</div>
		<!-- 我的套餐 e-->

		{#if $memberPackage.package.id !== '' && ($memberPackage.package.item.privilege || $memberPackage.package.item.store)#}
		<!-- 套餐外服务 s-->
		<div class="right_con ser_out">

			{#* 套餐外服务  商家特权*#}
			{#if $memberPackage.package.item.privilege#}
			<h2 class="com-title">已开服务<span>- {#$langData['siteConfig'][49][46]#}</span></h2>
			<div class="privilege">
				<ul class="fn-clear">
					{#foreach from=$memberPackage.package.item.privilege item=item#}
					<li data-price='{#$item.price#}' data-name='{#$item.name#}' class="fullLine">
						<div class="flex_l">
							<div class="l_img"><img src="{#$templets_skin#}images/pri-vip.png" alt=""></div>
							<div class="l_info">
								<h3 class="com-txt">{#$item.title#}</h3>
								<p>{#$item.note#}</p>
							</div>
						</div>
						<div class="flex_r">
							<p>{#$langData['siteConfig'][19][733]#} {#$item.expired|date_format:"%Y-%m-%d"#}</p>{#* 到期时间 *#}
							<a href="javascript:;" class="xu_now a_single">{#$langData['siteConfig'][49][60]#}</a> {#* 立即续期 *#}
						</div>
					</li>
					{#/foreach#}
				</ul>
			</div>
			{#/if#}

			{#* 套餐外服务  行业店铺*#}
			{#if $memberPackage.package.item.store#}
			<h2 class="com-title com-title2">已开服务<span>- {#$langData['siteConfig'][49][47]#}</span></h2>
			<div class="trade">
				<ul class="fn-clear">
					{#foreach from=$memberPackage.package.item.store item=item#}
					<li data-price='{#$item.price#}' data-name='{#$item.name#}' class="{#$item.name#}-bg"><a href="javascript:;" class="a_single">
						<h4 class="trade_name com-txt">{#$item.title#}</h4>
						<p class="trade_p">{#$langData['siteConfig'][19][733]#}</p> {#* 到期时间 *#}
						<p class="trade_time">{#$item.expired|date_format:"%Y-%m-%d"#}</p>
						<div class="xu_aright">{#$langData['siteConfig'][49][60]#}</div> {#* 立即续期 *#}
					</a></li>
					{#/foreach#}
				</ul>
				<!-- 可开通2项及以上才有一键xx按钮 -->
				<!-- <div class="xuqi_div">
					<a href="javascript:;" class="all_xu all_a" data-price="0">{#$langData['siteConfig'][49][50]#}</a> {#* 一键续期 *#}
				</div>
				<p class="xu-tip">{#$langData['business'][8][18]#}</p> {#* 一键延长套餐外已购项目有效期 *#} -->
			</div>
			{#/if#}

		</div>
		<!-- 套餐外服务 e-->
		{#/if#}

		<!-- 开通记录 s-->
		<div class="right_con open_record" id="log">
			<h2 class="com-title">{#$langData['siteConfig'][49][45]#}</h2> {#* 开通记录 *#}
			<div class="record fn-clear">
				<dl class="fn-clear">
					<dt class="dl_time">{#$langData['business'][8][19]#}</dt> {#* 办理时间 *#}
					<dt class="dl_project">{#$langData['business'][8][20]#}</dt> {#* 开通项目 *#}
					<dt class="dl_detail">{#$langData['siteConfig'][15][13]#}</dt> {#* 时长 *#}
					<dt class="dl_endTime">{#$langData['siteConfig'][19][308]#}</dt> {#* 订单号 *#}
				</dl>
				<div class="list">

				</div>
				<!-- {#member action='joinOrder' page='1' pageSize='10' return='item'#}
				<dl class="fn-clear">
					<dd class="dl_time">{#$item.paydate|date_format:"%Y-%m-%d %H:%M"#}</dd>
					<dd class="dl_project">{#$item.title|default:'失效数据'#}</dd>
					<dd class="dl_detail">{#$item.times|default:'-'#}</dd>
					<dd class="dl_endTime">{#$item.ordernum#}</dd>
				</dl>
				{#/member#} -->

				{#if $pageInfo.totalCount == 0#}
			    <p class="loading">{#$langData['siteConfig'][20][126]#}</p>  {#* 暂无相关信息！ *#}
			    {#/if#}
				<div class="pagination hide fn-clear"></div>
			</div>

		</div>
		<!-- 开通记录 e-->

		{#if $notOpenModules['privilege'] || $notOpenModules['store']#}
		<!-- 未开服务 s-->
		<div class="right_con no_service">

			{#* 未开服务  商家特权*#}
			{#if $notOpenModules['privilege']#}
			<h2 class="com-title">{#$langData['siteConfig'][49][51]#}<span>- {#$langData['siteConfig'][49][46]#}</span></h2>
			<div class="privilege">
				<ul class="fn-clear">
					{#foreach from=$notOpenModules['privilege'] item=privilege#}
					<li data-price='{#$privilege.price#}' data-name='{#$privilege.name#}' class="halfLine">
						<div class="l_img"><img src="{#$templets_skin#}images/pri-vip.png" alt=""></div>
						<div class="r_info">
							<div class="title">
								<h3><span class="com-txt">{#$privilege.title#}</span></h3>
								<p>{#$privilege.note#}</p>
							</div>
							<div class="flex_l">
								<p><strong><em>{#echoCurrency type='symbol'#}</em>{#$privilege.price#}</strong>{#$langData['siteConfig'][19][836]#}</p>
								<a href="javascript:;" class="open_now a_single">{#$langData['siteConfig'][6][185]#}</a>  {#* 立即开通 *#}
							</div>
						</div>
					</li>
					{#/foreach#}
				</ul>
			</div>
			{#/if#}

			{#* 未开服务  行业店铺*#}
			{#if $notOpenModules['store']#}
			<h2 class="com-title com-title2">{#$langData['siteConfig'][49][51]#}<span>- {#$langData['siteConfig'][49][47]#}</span></h2>
			<div class="trade">
				<ul class="fn-clear">
					{#foreach from=$notOpenModules['store'] item=store#}
					<li data-price='{#$store.price#}' data-name='{#$store.name#}' class="{#$store.name#}-bg"><a href="javascript:;" class="a_single">
						<h4 class="trade_name com-txt">{#$store.title#}</h4>
						<p class="price_p"><strong><em>{#echoCurrency type='symbol'#}</em>{#$store.price#}</strong>{#$langData['siteConfig'][19][836]#}</p>
						<div class="xu_aright ">{#$langData['siteConfig'][6][185]#}</div> {#* 立即开通 *#}
					</a></li>
					{#/foreach#}
				</ul>
				<!-- 可开通2项及以上才有一键xx按钮 -->
				<!-- <div class="xuqi_div">
					<a href="javascript:;" class="all_open all_a" data-price="0">{#$langData['siteConfig'][49][38]#}</a> {#* 一键开通 *#}
				</div>
				<p class="xu-tip">{#$langData['business'][8][22]#}</p> {#* 一键开通以上未购项目 *#} -->
			</div>
			{#/if#}

		</div>
		<!-- 未开服务 e-->
		{#/if#}

	</div>
</div>
<div class="popBox">
	<div class="popMask"></div>
	<div class="popCon">
		<div class="close_pop"></div>
		<div class="pop_header">
			<h4>二手汽车续费</h4>
			<p>点餐、排队、买单等特权服务</p>
		</div>
		<div class="pop_con">
			<div class="qrBox">
				<img src="/include/qrcode.php?data=" alt="">
			</div>
		</div>
		<div class="pop_foot">
			<p>手机扫码立即开通</p>
		</div>
	</div>
</div>
{#include file='../../siteConfig/public_foot_v3.html' module='homemaking' theme='white'#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/service-meal.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
