input {
	border: none;
	outline: none;
	text-align: right;
	color: #000000 !important;
}

input::placeholder {
	text-align: right;
	color: #B3B3B3;
}

.same {
	width: 94%;
	margin: 0 auto;
	background-color: #fff;
}

.sameTitle {
	display: flex;
	align-items: center;
	line-height: 0.72rem;
	margin-top: 0.36rem;
}

.sameTitle>span:first-child {
	display: inline-block;
	width: 0.45rem;
	height: 0.45rem;
	margin-right: 0.1rem;
}

.sameTitle>span:last-child {
	color: #212121;
	font-weight: bold;
	font-size: 0.34rem;
}

.sameLi {
	line-height: 0.9rem;
	border: 1px solid #eee;
	border-radius: 10px;
	margin-top: 0.36rem;
}

.sameLi>label {
	font-size: 14px;
	color: #B3B3B3;
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
}

/*头部*/
.header{background-color: #f8f8f8 !important;;height: .9rem;display: -webkit-box;}
.header-l a{display: table-cell;vertical-align: middle;height: .9rem;width: 1rem;}
.header-l a img{display: block;height: .5rem;width: auto;margin: 0 auto;}
.header-c{-webkit-box-flex: 1;text-align: center;font-size: .34rem;line-height: .9rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;font-size: 0.34rem;font-weight: bold;}
.header-r{display: -webkit-box; visibility: hidden;}
.header-r a{display: table-cell;width: .8rem;height: .9rem;vertical-align: middle;}
.header-r .yun img{display: block;width: .55rem;height: auto;margin: 0 auto;}
.header-r .screen img{display: block;width: .45rem;height: auto;margin: 0 auto;}

.topBar {
	background-color: #F8F8F8;
	font-size: 0.29rem;
}

.topBar ul {
	overflow: hidden;
	width: 100%;
	line-height: 0.72rem;
	border-top-left-radius: 0.27rem;
	border-top-right-radius: 0.27rem;
	position: relative;
}

.topBar ul::after {
	content: "";
	display: inline-block;
	position: absolute;
	top: 65%;
	left: 53%;
	width: 0.27rem;
	height: 0.27rem;
	background: radial-gradient(circle at 0.27rem 0, transparent 0.27rem, #fff 10px);
}

.topBar ul::before {
	content: "";
	display: inline-block;
	position: absolute;
	top: 65%;
	right: 51%;
	width: 0.27rem;
	height: 0.27rem;
	background: radial-gradient(circle at 0 0, transparent 0.27rem, #fff 10px);
}

.topBar li {
	list-style: none;
	width: 50%;
	float: left;
	background-color: #EEE;
	text-align: center;
	border-radius: 0.36rem 0.36rem 0 0;
	font-weight: 800;
	color: #666;
}

.topBar .curr {
	position: relative;
	background: #fff;
	border-radius: 0.36rem 0.36rem 0 0;
	color: #000000;
}

.topBar .curr::after {
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
	right: -0.15rem;
	bottom: 0;
	width: 0.27rem;
	background: #fff;
	transform: skew(20deg);
	border-radius: 0.36rem 0.36rem 0 0;
}

.topBar .curr::before {
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	bottom: 0;
	width: 0.27rem;
	background: #fff;
	transform: skew(-20deg);
	border-radius: 0.36rem 0.36rem 0 0;
}

.alipayContnet>.sameTitle>span:first-child {
	background: url(../images/withdraw/alipay.png) no-repeat;
	background-size: cover;
}

.bankContent>.sameTitle>span:first-child {
	background: url(../images/withdraw/bank.png) no-repeat;
	background-size: cover;
}

.bankContent li span {
	color: #000000;
}


/* 提交按钮 */
.submitBtn {
	height: 0.9rem;
	width: 94%;
	margin: 0 auto;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 0.32rem;
	line-height: 0.9rem;
	border-radius: 40.1rem;
	background: linear-gradient(-90deg, #39342E 0%, #2B2721 100%);
	margin-top: 0.54rem;
}
