.openAiConBox{position: relative; z-index: 10;}
.disflex{display: flex;}
.a-c{align-items: center;}
.j-c{justify-content: center;}
.j-b{justify-content: space-between;}
.j-e{justify-content: flex-end;}
.aiBtn::before{content: ''; width: .7rem; height: .7rem; background: url(../images/ai/ai.gif) no-repeat center/cover;}
.ai_btn_con{width: 1.9rem; height: .58rem; background: linear-gradient(90deg, #FFEEEE 0%, #FFF2FB 47%, #F4F2FF 100%); border-radius: .45rem .29rem .29rem .02rem; font-size: .24rem; font-weight: bold;}
.aiBtn span{background: linear-gradient(-90deg, #200E7B 0%, #5400FF 41.1376953125%, #FF2F2F 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;}
.ai_mask{position: fixed; left: 0; right: 0; top: 0; bottom: 0; background-color: rgba(0,0,0,.5);}
.aiTipPop{position: fixed; left: 0; right: 0; bottom: 0; min-height: 4rem; background-color: #fff; border-radius: .5rem .5rem 0 0; transform: translateY(100%); transition: all .3s; }
.aiTipPop.show{transform: translateY(0);}
.aiTipPop .aipop_header{height: 1.2rem; display: flex; align-items: center; padding:0 .34rem; color: #131626; font-size: .34rem; font-weight: bold; justify-content: space-between;}
.aiTipPop .aipop_header h3{font-weight: bold;}
.aiTipPop .aipop_header span{background: linear-gradient(-90deg, #002AFF 0%, #5B0BFF 41.1376953125%, #FF2F2F 78.1494140625%, #FF894F 100%); -webkit-background-clip: text; font-size: .26rem; -webkit-text-fill-color: transparent; font-weight: 700; margin-left: .1rem;}
.aiTipPop .aipop_con{padding: 0 .32rem 1.6rem; max-height: 60vh; overflow: auto; }
.aiTipPop .aipop_con textarea{min-height: 1.62rem; font-size: .3rem; padding: .2rem 0; border: none; border-bottom: solid 1px #f5f5f7; width: 100%;}
.aiTipPop .aipop_con textarea::placeholder{color: #C2C4CC;}
.aiTipPop .aipop_con .otherInfo{margin-bottom: .4rem;}
.aiTipPop .aipop_foot{padding: 0 .45rem .4rem;}
.aiTipPop .aipop_foot .ai_btnSure{height: .88rem; background: linear-gradient(90deg, #FF6F08 0%, #FA3425 100%); border-radius: .44rem; color: #fff; font-size: .32rem; font-weight: bold;}

/* 结果弹窗 */

.aiResultPop .aipop_header{height: 1.2rem; display: flex; align-items: center; padding:0 .28rem; color: #131626; font-size: .34rem; font-weight: bold; justify-content: space-between; flex-shrink: 0; position: relative;}
.aiResultPop .aipop_header h3{font-weight: bold; display: flex; align-items: center;}
.aiResultPop.show{transform: translateY(0);}
.aiResultPop{height: 86vh; box-sizing: border-box; padding-bottom: .3rem; position: fixed; left: 0; right: 0; bottom: 0; background-color: #fff; border-radius: .5rem .5rem 0 0; transform: translateY(100%); animation: all .3s; display: flex; flex-direction: column;}
.aiResultPop .aipop_header h3::before{content: ''; display: block; width: .62rem; height: .62rem; background: url(../images/ai/ai3.png) no-repeat center/cover; margin-right: .12rem;}
.aiLoad.aiResultPop .aipop_header h3::before{background-image: url(../images/ai/ai2.gif),url(../images/ai/gif_bg.png); width: .7rem; height: .7rem; margin-right: .1rem;background-size: cover, .62rem .62rem;}
.aiResultPop .aipop_con{ margin-bottom: .14rem;  flex-grow: 1; min-height: 0; overflow: auto;}
.aiResultPop .aipop_con .aiConShow{min-height: 5rem;overflow: auto; margin-bottom: .2rem; font-size: .28rem; line-height: 1.5em; padding:  0 .36rem;}
.aiResultPop .aipop_con .aiConShow:empty::after{content: attr(placeholder); display: inline-block; color: rgba(69, 70, 77, .3); font-size: .28rem; vertical-align: middle; }
.aiResultPop .aipop_con .aiConShow:empty::before{content: ''; width: .02rem; height: .3rem; margin-right: .08rem; background-color: #333; vertical-align: middle; animation: shine 1s infinite steps(2); display: inline-block;}
.aiResultPop .aipop_foot{padding: 0 .3rem; flex-shrink: 0;}
.aiResultPop .aipop_foot .btns .setCon{height: .76rem; background: linear-gradient(-90deg, #266EFF 0%, #3381FF 100%); border-radius: .1rem; width: 2.2rem; color: #fff; font-weight: bold; color: #fff; font-size: .3rem;}
.aiResultPop .aipop_foot .btns .reGet{width: 1.8rem; height: .76rem; background: url(../images/ai/btn_bg.png) no-repeat center/cover; border-radius: .1rem; }
.aiResultPop .aipop_foot .btns .reGet span{background: linear-gradient(-90deg, #200E7B 0%, #5400FF 41.1376953125%, #FF2F2F 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-weight: bold; font-size: .3rem;}
.aiResultPop .aipop_foot .btns .btnsChange{width: 1.6rem; height: .76rem; background: #FFFFFF; box-shadow: 0px .1rem .15rem 0px rgba(0,0,77,0.05); border-radius: .1rem; border: 1px solid #E1E3E6; margin-left: .2rem;}
.aiResultPop .aipop_foot .btns .btnsChange em{display: flex; width: 1px; height: .48rem; background-color: #EDEDED;}
.aiResultPop .aipop_foot .btns .btnsChange a{flex-grow: 1; height: .76rem; background: url(../images/ai/last.png) no-repeat center/.32rem;}
.aiResultPop .aipop_foot .btns .btnsChange a.noClick{opacity: .3;}
.aiResultPop .aipop_foot .btns .btnsChange a.use_next{background-image: url(../images/ai/next.png);}
.aiResultPop .aipop_foot .aiconOptionsBox{height: 1.8rem; background: linear-gradient(139deg, #FFF7F7 0%, #FFF5FC 56.00000000000001%, #F7F5FF 100%); border-radius: .2rem; margin-top: .3rem;}
.aiResultPop .aipop_foot .aiconOptionsBox h5{color: #333B66; font-size: .28rem; padding: 0 .34rem; line-height: .92rem; font-weight: 500; font-weight: bold;}
.aiResultPop .aipop_foot .aioptions ul{padding: 0 .2rem;}
.aiResultPop .aipop_foot .aioptions li{height: .68rem; background: #FFFFFF; border-radius: .12rem; margin-right: .12rem; font-size: .28rem; color: #131626; padding: 0 .3rem; box-sizing: border-box; min-width: 1.4rem;}

.aiResultPop .aipop_foot .textboxContainer{height: 2rem;  border-radius: .2rem;  margin-top: .2rem; position: relative; background: #E1E3E6; position: relative;}
.aiResultPop .aipop_foot .textboxContainer .textbox{width: calc(100% - .04rem); height: calc(100% - .04rem); position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); background-color: #fff; border-radius: .18rem;}
.aiResultPop .aipop_foot .textboxContainer textarea{width: 100%; height: 100%; box-sizing: border-box; padding: .2rem; font-size: .3rem; border: none; background-color: transparent; border-radius: .2rem; resize: none;}
.aiResultPop .aipop_foot .textboxContainer:focus-within{background: linear-gradient(90deg, #337EFF, #A673FF, #C47FFF);}
.aiResultPop .aipop_foot .textboxContainer textarea::placeholder{color: #C2C4CC;}
.aiLoad.aiResultPop .aipop_foot .btns .setCon {opacity: .3;} 
.mask_noClick{position: fixed; left: 0; right: 0; top: 0; bottom: 0; z-index: 1;}
.textbox .btn_sub{width: .8rem; height: .8rem; background: url(../images/ai/btn_up.png) no-repeat center/cover; position: absolute; right: .06rem; bottom: .06rem;}

.openAiConBox .close_pop{display: block; width: .4rem; height: .4rem; background: url(../images/ai/close_ai.png) no-repeat center/cover;}
@keyframes shine{
	0%{ opacity: 0;}
	100%{ opacity: 1;}
}