html,body{background: #F5F5F7}
.header-search a{background:none !important;}
html.nodata,html.nodata body{background: #fff;}
.header{position: fixed;top: 0;left: 0;right: 0}
.filterMask{position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,.5);z-index: 4;display: none;}
/*筛选弹窗*/
.filterWrap{background: #fff;position: fixed;left: 0;right: 0;top: -100%;z-index: 5;    border-radius: 0 0 .4rem .4rem;}
.filterWrap .filterCon{padding-bottom: .4rem;padding-top: .2rem}
.filterWrap .filterCon::after{content: '';display: block;width: 100%;height: .8rem;background-image: -moz-linear-gradient( 90deg, rgb(255,255,255) 0%, rgba(255,255,255,0) 100%);background-image: -webkit-linear-gradient( 90deg, rgb(255,255,255) 0%, rgba(255,255,255,0) 100%);background-image: -ms-linear-gradient( 90deg, rgb(255,255,255) 0%, rgba(255,255,255,0) 100%);position: absolute;bottom: .3rem;left: 0;pointer-events: none;}

.filterWrap ul{max-height: 5.48rem;overflow-y: auto; padding-top: .22rem}
.filterWrap li{float: left;width: 50%;box-sizing: border-box;padding-left: .42rem;margin-bottom: .6rem;}
.filterWrap li a{display: block;font-size: .26rem;color: #000;position: relative;}
.filterWrap li.curr a{font-weight: bold;padding-left: .36rem}
.filterWrap li.curr a::before{content: '';display: inline-block;width: .3rem;height: .3rem;background: url(../images/collection/checked.png) no-repeat center;background-size: .3rem;margin-right: .06rem;position: absolute;left: 0;top: 0;}

.loading.empty img{width: 4.6rem;height: 3.01rem;margin: 4rem auto 0;display: block;}
.loading.empty p{text-align: center;font-size: .28rem;color: #B2B2B2;margin-top: .34rem}

.loading.hasCon p{font-size: .24rem;color: #999;text-align: center;margin: .7rem auto;}
/*全部模块头部*/

.alltabbox{background-color: #fff; position: fixed; top: .9rem; left: 0; right: 0; overflow: auto;  z-index: 9;display: flex;justify-content: space-between;align-items: center;height: 1rem;padding: 0 .25rem 0 .35rem}
.huoniao_iOS .alltabbox{top: 0;}
/* .huoniao_iOS .alltabbox{top: 1.4rem;} */
/* .huoniao_iOS.wx_miniprogram  .alltabbox,
.huoniao_iOS.qq_miniprogram .alltabbox,
.huoniao_iOS.baidu_miniprogram .alltabbox,
.huoniao_iOS.byte_miniprogram .alltabbox{top: 0;} */

.alltabbox ul{display: flex;align-items: center;}
.alltabbox ul li{float: left;font-size: .3rem;color: #313233;position: relative;margin-right: .5rem;padding-bottom: .14rem;}
.alltabbox ul li.curr{font-size: .34rem;color: #F53C1E;font-weight: bold;}
.alltabbox ul li.curr::after{content: '';display: inline-block;width: .3rem;height: .06rem;background: #F53C1E;position: absolute;left: 50%;margin-left: -.15rem;bottom: 0;border-radius: .03rem;}

.allFilter{padding-bottom: .14rem;display: flex;align-items: center;}
.allFilter a{font-size: .26rem;color: #949599;display: block;}
.allFilter s{display: inline-block;width: 1px;height: .2rem;background: rgba(148,149,153,.34);margin-left: .24rem;margin-right: .24rem;margin-top: .03rem}
.allFilter a.sxFilter{display: flex;align-items: center; color: #131626; font-size: .26rem;}
.allFilter a.sxFilter i{display: inline-block;width: .3rem;height: .3rem;background: url(../images/collection/filter_black.png) no-repeat center;background-size: .3rem;margin-left: .05rem;margin-top: .02rem}
.allFilter a.active{color: #F53C1E}
.allFilter a.sxFilter.active i{background: url(../images/collection/filter2.png) no-repeat center;background-size: .3rem;}

/*各模块头部*/
.tabbox{background-color: #fff; position: fixed; top: .9rem; left: 0; right: 0; overflow: auto;  z-index: 9;height: 1rem;padding: 0 .3rem 0 .35rem;display: flex;justify-content: space-between;align-items: center;}
/* .huoniao_iOS .header{display: -webkit-box !important; padding-top: .5rem !important;} */
 html.huoniao_iOS .tabbox{top:0;} 
.huoniao_iOS.wx_miniprogram .header,
.huoniao_iOS.qq_miniprogram .header,
.huoniao_iOS.baidu_miniprogram .header,
.huoniao_iOS.byte_miniprogram .header{display: none !important; padding-top: 0 !important;}
.tabbox::after{content: '';display: block;width: .5rem;height: 1rem;background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);position: absolute;right: 1.54rem;top: 0;}
.tabbox ul{width: 5.61rem;overflow-x:auto; float: left;white-space: nowrap;font-size: 0}
.tabbox ul::-webkit-scrollbar { display: none }
.tabbox ul li{font-size: .3rem;color: #313233;position: relative;margin-right: .5rem;padding-bottom: .14rem;display: inline-block;}
.tabbox ul li.curr{font-size: .34rem;color: #F53C1E;font-weight: bold;}
.tabbox ul li.curr::after{content: '';display: inline-block;width: .3rem;height: .06rem;background: #F53C1E;position: absolute;left: 50%;margin-left: -.15rem;bottom: 0;border-radius: .03rem;}

/*公共样式*/
.listBox{padding: 0 .2rem .5rem;margin-top: 2.1rem}
/* .huoniao_iOS .listBox{margin-top: 2.6rem;} */
/* .huoniao_iOS .filterWrap{margin-top: .5rem;} */
.huoniao_iOS .filterWrap{margin-top: 0}
.huoniao_iOS .listBox{margin-top: 1.2rem}
/* .huoniao_iOS.wx_miniprogram  .filterWrap,
.huoniao_iOS.qq_miniprogram .filterWrap,
.huoniao_iOS.baidu_miniprogram .filterWrap,
.huoniao_iOS.byte_miniprogram .filterWrap{margin-top: 0} */
/* .huoniao_iOS.wx_miniprogram  .listBox,
.huoniao_iOS.qq_miniprogram .listBox,
.huoniao_iOS.baidu_miniprogram .listBox,
.huoniao_iOS.byte_miniprogram .listBox{margin-top: 1.2rem} */
.listBox ul{margin-top: .2rem}
.listBox li{background: #fff;border-radius:.2rem;margin-bottom: .2rem;position: relative;}
.listBox li a{display: block;padding: .2rem;transition:  all .2s;overflow: hidden;}
.listBox li .leftImg{width: 2rem;height: 1.5rem;overflow: hidden;border-radius: .1rem;float: left;margin-right: .26rem;}
.listBox li .leftImg img{display: block;width: 100%;height: 100%;object-fit: cover;}
.listBox li .rInfo{position: relative;overflow: hidden;height:1.5rem;}
.listBox li .rInfo .comTitle{font-size: .3rem;color: #313233;font-weight: bold;max-width: 100%;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.listBox li .rInfo .comTitle.comTitle2{font-size: .28rem;color: #333;}
.listBox li .rInfo .comDetp{font-size: .22rem;color: #636366;padding: .07rem 0 .2rem;white-space: nowrap; max-width: 100%;overflow: hidden;text-overflow: ellipsis;}
.listBox li .rInfo .comDetp em{display: inline-block;width: 1px;height: .2rem;background: #ddd;margin: .02rem .15rem 0;vertical-align: middle;margin-top: -.04rem;}

.listBox li .rInfo .comPrice{color: #F53C1E;font-size: .26rem;font-weight: bold;display: flex; align-items: flex-end;}
.listBox li .rInfo .comPrice strong{font-family: "coregtd";font-size: .24rem;display: flex;align-items: flex-end;}
.listBox li .rInfo .comPrice strong span{font-size: .3rem;display: inline-block; line-height: 1;}
.listBox li .rInfo .comPrice strong em{font-size: .24rem;font-weight: bold;line-height: .28rem}
.listBox li .rInfo .comPrice em{font-size: .22rem;line-height: .3rem;}

.listBox li .comStoreInfo{overflow: hidden;}
.listBox li .comStoreInfo .storeImg{width: .4rem;height: .4rem;border-radius: 50%;overflow: hidden;float: left;}
.listBox li .comStoreInfo .storeImg img{display: block;width: 100%;height: 100%;object-fit: cover;}
.listBox li .comStoreInfo .rStoreinfo{margin-left: .53rem;height: .4rem;line-height: .4rem;}
.listBox li .comStoreInfo .rStoreinfo h3{font-size: .22rem;color: #313233;max-width: 100%;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

.listBox li .rInfo .cominfo{font-size: .24rem;display: flex;align-items: center;}
.listBox li .rInfo .cominfo strong{font-family: "coregtd";color: #F53C1E;margin-left: .06rem;font-size: .3rem}
.listBox li .rInfo .cominfo em{display: inline-block;width: 1px;height: .2rem;background: #ddd;margin: .02rem .15rem 0}
	/*管理*/
.listBox li .rInfo .indexStore{font-size: .28rem;color: #F53C1E;font-weight: bold;}
.listBox.on_manage li{position: relative;}
.listBox.on_manage li a{pointer-events: none;}
.listBox.on_manage li a{position: relative;margin-left: .7rem;}
.listBox.on_manage li::before{content: ''; display: block; width: .48rem; height: .48rem; border-radius: 50%; background: url(../images/collection/nochose.png) no-repeat  center/cover; position: absolute; left: .22rem; top: 50%;margin-top: -.24rem;}
.listBox.on_manage li.on_chose::before{background-image: url(../images/collection/chosed.png);}

.listBox li.businessLi .rInfo .indexStore{margin-top:.5rem }
	/*信息失效*/

.listBox li.disabled a{opacity: .6}
.listBox li.disabled::after{content: '';display: inline-block;width: 1.1rem;height: .7rem;background:url(../images/collection/infoguoqi.png) no-repeat center center;background-size:1.1rem .7rem;position: absolute;right: .23rem;bottom: .2rem}

	/*活动失效*/
.listBox li.finished::after{content: '';display: inline-block;width: 1.1rem;height: .7rem;background:url(../images/collection/hdguoqi.png) no-repeat center center;background-size:1.1rem .7rem;position: absolute;right: .23rem;bottom: .2rem}
	/*视频图标*/
.listBox li .leftImg.hasVideo{position: relative;}
.listBox li .leftImg.hasVideo::after{content: '';display: inline-block;width: .6rem;height: .6rem;background:url(../images/collection/tiebaVideo.png) no-repeat center center;background-size:.6rem;position: absolute;top: 50%;left: 50%;margin-top: -.3rem;margin-left: -.3rem;}
	/*失效*/
.listBox li h2.comTitle.sxttile{line-height: 75px}


/*顺风车*/
.listBox .sfcarLi a{padding:.24rem .2rem .22rem;display:block;}
.listBox .sfcarLi .li_top{font-size: 0;line-height: .36rem}
.listBox .sfcarLi h2.liTitle{display: inline;font-size: .3rem;color: #313233;font-weight: bold;}
.listBox .sfcarLi h2.liTitle s{display: inline-block;width: .48rem;height: .4rem;background:url(../images/collection/placeFan.png) no-repeat center center;background-size:.48rem .4rem;margin-left: .13rem;margin-right: .13rem;vertical-align: middle;    margin-top: -.02rem;}
.listBox .sfcarLi em.topFlag{display: inline-block;background:linear-gradient(90deg,rgba(255,228,161,1) 0%,rgba(255,217,135,1) 100%);border-radius:.18rem .15rem .15rem .02rem;height: .3rem;line-height: .32rem;font-size: .18rem;color: #8E5E26;font-weight: bold;margin-left: .09rem;padding: 0 .13rem;vertical-align: top;margin-top: .09rem;}
.listBox .sfcarLi .startTime{margin-top: 0;}
.listBox .sfcarLi .startTime strong.startDay{font-size: .24rem;color: #636366;margin-right: .02rem;font-weight: bold;}
.listBox .sfcarLi .startTime strong.startdayDay{font-size: .24rem;color: #636366;margin-right: .13rem}
.listBox .sfcarLi .startTime span.startWeek{font-size: .24rem;color: #636366;}
.listBox .sfcarLi .startTime span.pubTime{float: right;font-size: .22rem;color: #B2B2B2;margin-top: .06rem;}

.listBox .sfcarLi .carInfo {font-size: 0;padding: .26rem 0 0; }
.listBox .sfcarLi .carInfo span{display: inline-block;height: .4rem;line-height: .4rem;font-size: .22rem;color: #8990B3;background: #F0F1F7;border-radius: .06rem;margin-right: .1rem;padding: 0 .2rem;vertical-align: top;}
.listBox .sfcarLi .carInfo .car-type{color: #fff; background:linear-gradient(90deg,rgba(68,115,255,1) 0%,rgba(66,133,255,1) 100%);}


/*二手车*/
.listBox li.carLi .rInfo .carPrice{font-size: .26rem;color: #F53C1E;font-weight: bold;}
.listBox li.carLi .rInfo .carPrice span{font-family: "coregtd";}

/*资讯*/

.listBox li.articleLi .rInfo .cominfo{font-size: .22rem;}


/*二手信息*/
.listBox li.infoLi {position: relative;}

.listBox li.infoLi .rInfo p.infoDet{font-size: .22rem;color: #636366 !important;padding: .1rem 0 .1rem;display: flex;align-items: center;}
.listBox li.infoLi .rInfo p.infoDet.noColor{color: #636366}
.listBox li.infoLi .rInfo .infoPrice{font-size: .3rem;color: #F53C1E;font-weight: bold;}
.listBox li.infoLi .rInfo .infoPrice em{font-size: .24rem;}
.listBox li.infoLi .rInfo .infoPrice strong{font-family: "coregtd";}
.listBox li.infoLi .rInfo .infoPrice.noPrice{font-size: .28rem;padding-top: .04rem}


/*活动*/
.listBox li.huodongLi {position: relative;}




/*装修*/
.listBox li.jobLi .rInfo .comTitle.comTitle3{max-width: 60%}
.listBox li.jobLi .jobPrice{color: #F53C1E;font-size: .28rem;position: absolute;right: .2rem;top: 0;font-weight: bold;}
.listBox li.jobLi .jobPrice strong{font-size: .3rem;font-family: "coregtd";}
.listBox li.jobLi .salary{color: #F53C1E;font-size: .26rem;font-weight: bold;}
.listBox li.jobLi .salary strong{font-size: .3rem;font-family: "coregtd";}

/*团购*/
.listBox li.tuanLi .tuanPrice span{color: #F53C1E;font-size: .24rem;font-weight: bold;font-family: "coregtd";}
.listBox li.tuanLi .tuanPrice strong{font-size: .3rem;}
.listBox li.tuanLi .tuanPrice em{font-size: .22rem;color: #636366;margin-left: .14rem}
.listBox li.tuanLi .storeName{font-size: .26rem;color: #F53C1E;font-weight: bold;}
.listBox li.tuanLi p i.stroreP{max-width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
/*婚嫁*/
.listBox li.marryLi .hotelPrice{display: flex; align-items: flex-end;}
.listBox li.marryLi .hotelPrice span{color: #F53C1E;font-size: .24rem;font-weight: bold;font-family: "coregtd";display: flex; align-items: flex-end;}
.listBox li.marryLi .hotelPrice span em{font-weight: bold;font-size: .24rem;line-height: .28rem}
.listBox li.marryLi .hotelPrice strong{font-size: .3rem;line-height:1 }
.listBox li.marryLi .hotelPrice em{font-size: .22rem;color: #F53C1E;line-height: .3rem;}

/*房产*/
.listBox li.houseLi .housePrice span{color: #F53C1E;font-size: .26rem;font-weight: bold;}
.listBox li.houseLi .housePrice strong{font-size: .3rem;font-family: "coregtd";}
.listBox li.houseLi .housePrice em{font-size: .2rem;color: #B3B3B3;margin-left: .14rem}

/*旅游*/
.listBox li.travelLi .travelPrice{display: flex; align-items: flex-end;}
.listBox li.travelLi .travelPrice span{color: #F53C1E;font-size: .24rem;font-weight: bold;font-family: "coregtd";display: flex; align-items: flex-end;}
.listBox li.travelLi .travelPrice span em{font-weight: bold;font-size: .24rem;line-height: .28rem}
.listBox li.travelLi .travelPrice strong{font-size: .3rem;line-height:1}
.listBox li.travelLi .travelPrice em{font-size: .22rem;color: #F53C1E;line-height: .3rem;}
.listBox li.travelLi .comDetp i{display: inline-block;max-width: 100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;;}
/*教育*/
.listBox li.educationLi .eduPrice span{color: #F53C1E;font-size: .24rem;font-weight: bold;font-family: "coregtd";}
.listBox li.educationLi .eduPrice strong{font-size: .3rem;}
.listBox li.educationLi .eduPrice em{font-size: .22rem;color: #F53C1E;}
.listBox li.educationLi .rInfo .indexStore{font-size: .26rem;}

/*家政*/
.listBox li.homemakingLi .homePrice{display: flex; align-items: flex-end;}
.listBox li.homemakingLi .homePrice span{color: #F53C1E;font-size: .24rem;font-weight: bold;font-family: "coregtd";display: flex; align-items: flex-end;}
.listBox li.homemakingLi .homePrice span em{font-weight: bold;font-size: .24rem;line-height: .28rem}
.listBox li.homemakingLi .homePrice strong{font-size: .3rem;line-height:1}
.listBox li.homemakingLi .homePrice em{font-size: .22rem;color: #F53C1E;line-height: .3rem;}


/*外卖*/
.listBox li.waimaiLi{position: relative;}
.listBox li.waimaiLi .rInfo .shop_distance{font-size: .24rem;color: #B2B2B2;position: absolute;top: .1rem;right: .16rem;}
.listBox li.waimaiLi .rInfo .fen{color: #FFA800; font-size: .26rem; line-height: .28rem; margin-right: .3rem; vertical-align: middle;}
.listBox li.waimaiLi .rInfo .fen:before{content: ''; display: inline-block; width: .28rem; height: .28rem; background: url(../images/collection/star.png) no-repeat center; background-size: cover; margin-bottom: -.04rem; margin-right: .06rem;}
.listBox li.waimaiLi .rInfo .fen.no_com{font-size: .24rem; color: #999; }
.listBox li.waimaiLi .rInfo .fen.no_com:before{background-image: url(../images/collection/star_01.png)}

.listBox li.waimaiLi .rInfo .shop_sale{display: inline-block; vertical-align: middle;font-size: .24rem;color: #636466}
.listBox li.waimaiLi .rInfo .star_info{margin-top: .06rem;margin-bottom: .12rem}

/*商城*/
.listBox li.shopLi .shopPrice span{color: #F53C1E;font-size: .24rem;font-weight: bold;font-family: "coregtd";}
.listBox li.shopLi .shopPrice strong{font-size: .3rem;}

/*贴吧*/
.listBox li.tiebaLi .noImg{background: #F0F4FA;}
.listBox li.tiebaLi .noImg p{font-size: .72rem;font-weight: bold;color: #C8D3E6;font-family: "source";text-align: center;line-height: 1.5rem}
.listBox li.tiebaLi .rInfo h2{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;font-size: .3rem;color: #313233;font-weight: bold;}
.listBox li.tiebaLi .rInfo .comDetp{margin-top: .06rem}


/*底部按钮*/
.manageBox{position: fixed; background-color: #fff; bottom: 0; padding-bottom:calc(-.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.3rem + env(safe-area-inset-bottom)); height: 1.04rem; left: 0; right: 0;display: none;}
.manageBox .btns_group{margin-top: .2rem;display: flex; align-items: center; justify-content: space-between;padding: 0 .3rem 0 .43rem}
.manageBox .btn_clear{font-size: .3rem;color: #313233;display: flex; align-items: center;}
.manageBox .btn_clear i{display: inline-block; width: .48rem; height: .48rem; background: url(../images/collection/nochose.png) no-repeat center; background-size: cover;margin-right: .07rem;}
.manageBox .btn_clear.click i{background: url(../images/collection/chosed.png) no-repeat center; background-size: cover;}
.manageBox .btn_cancel{height: .64rem;line-height: .64rem;background: #F53C1E;border-radius: .32rem;font-size: .26rem;color: #fff;padding: 0 .32rem}
.manageBox .btns_group.fn-hide{display: none;}
.manageBox .btns_group .right_btn{display: flex; align-items: center;}
.huoniao_iOS .manageBox .btns_group .right_btn .btn_finish{display: flex; align-items: center; justify-content: center;  color: #F53C1E; font-size: .26rem; margin-left: .2rem; padding: 0 .2rem;}
/* .wx_miniprogram .manageBox .btns_group .right_btn .btn_finish,
.qq_miniprogram .manageBox .btns_group .right_btn .btn_finish,
.baidu_miniprogram .manageBox .btns_group .right_btn .btn_finish,
.byte_miniprogram .manageBox .btns_group .right_btn .btn_finish{display: flex; align-items: center; justify-content: center;  color: #F53C1E; font-size: .26rem; margin-left: .2rem; padding: 0 .2rem;} */
.manageBox .btns_group .right_btn .btn_finish{display: none;}
/*删除 弹出层*/
.delMask{position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,.57);z-index: 100000;display: none;}
.delAlert.show{display: block;}
.delAlert{position: fixed;top: 50%;left: 0;right: 0;z-index: 1000001;overflow: hidden;margin-top: -.95rem;text-align: center;display: none;pointer-events: none;-webkit-animation: popup .3s ease-out; -moz-animation: popup .3s ease-out; animation: popup .3s ease-out;}
.delAlertCon{background: #fff;box-shadow:0px 7px 37px 0px rgba(0, 0, 0, 0.13);border-radius:.3rem;min-width: 4.9rem;display: inline-block;pointer-events: auto}
.delAlertCon>div{padding: .35rem .2rem}
.delAlert h2.delTile{font-size: .3rem;font-weight: bold;text-align: center;color: #333}、
.delAlert h2.delTile em{font-weight: bold;}
.delAlert ul{border-top: 1px solid #f5f5f7;box-sizing: border-box;height: .8rem;line-height: .8rem;}
.delAlert ul li{float: left;width: 50%;font-size: .3rem;text-align: center;box-sizing: border-box;}
.delAlert ul li a{display: block;color: #333;}
.delAlert ul li a.sureDel{color: #E52222;font-weight: bold;}
.delAlert ul li.firLi{border-right: 1px solid #f5f5f7}


/* 关注公司 */
.listBox li.companyLi{margin:0 0 .2rem; background-color: #fff; border-radius: .2rem;}
.listBox li.companyLi a{padding: .2rem; display: flex;  transition:  all .2s;}
.listBox li.companyLi .clogo{width: 2rem; height: 1.5rem; border-radius: .1rem; background-color: #f5f5f5; flex-shrink: 0; margin-right: .26rem;}
.listBox li.companyLi .clogo img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius:.1rem;}
.listBox li.companyLi .cinfo{ max-width: calc(100% - 2.26rem);}
.listBox li.companyLi .cinfo h4{font-size: .32rem; color: #212121; font-weight: bold; margin-bottom: .12rem;white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.listBox li.companyLi .cinfo p.cinfo_detail{font-size: .22rem; color: #636366; margin-bottom: .26rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.listBox li.companyLi .cinfo p.cinfo_detail span{vertical-align: middle;}
.listBox li.companyLi .cinfo p.cinfo_detail em{vertical-align: middle; font-size: .18rem; color: #ccc; margin: 0 .1rem;}
.listBox li.companyLi .cinfo p.cjob{font-size: .24rem; color: #636366; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.listBox li.companyLi .cinfo p.cjob span{color: #313133;}
.listBox li.companyLi .cinfo p.cjob em{color: #3377FF;}
.listBox li.companyLi .cinfo p.cjob .salary{font-family: coregtd; font-weight: bold; color: #3377FF;}
.listBox li.companyLi .cinfo p.cjob .job_intention{font-weight: bold; font-size: .3rem;   color: #212121;}

/* .allFilter .manageA{position: fixed; } */
.header-search .manageA{color: #949599; font-size: .3rem; padding: 0 .1rem;}
.header-search .manageA.active{color: #E52222;}
@font-face {
  font-family: "DLRG";
  src: url("/static/fonts/DINMittelschriftStd.ttf"),
       url("/static/fonts/DINMittelschriftStd.eot"),
       url("/static/fonts/DINMittelschriftStd.otf");
}

@font-face {
  	font-family: "coregtd";
  	src: url("/static/fonts/coregtd6.woff"),
       url("/static/fonts/coregtd6.ttf"),
       url("/static/fonts/coregtd6.eot"),
       url("/static/fonts/coregtd6.otf");
}
@font-face {
  	font-family: "source";
  	src: url("/static/fonts/SourceHanSansCN-Heavy.woff"),
       url("/static/fonts/SourceHanSansCN-Heavy.ttf"),
       url("/static/fonts/SourceHanSansCN-Heavy.eot"),
       url("/static/fonts/SourceHanSansCN-Heavy.woff2");
}
.slide-in-bottom {
	display: block;
	-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation-delay: .2s        
}
.huoniao_iOS .manage_box
{display: flex;}
/* .wx_miniprogram .manage_box,
.qq_miniprogram .manage_box,
.baidu_miniprogram .manage_box,
.byte_miniprogram .manage_box
{display: flex;} */

.manage_box{display: none; align-items: center; justify-content: center;position: fixed; background-color: #fff; bottom: 0; padding-bottom:calc(-.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.3rem + env(safe-area-inset-bottom)); line-height: 1rem; left: 0; right: 0; z-index: 1;}
.manage_box .manage_btn.fn-hide,.manage_box .btns_group.fn-hide{display: none;}
.manage_box .manage_btn{width: 100%; display: block; text-align: center; height: 1rem; color: #4A4B4D; font-size: .3rem; }
.manage_box .btns_group{display: flex; align-items: center; justify-content: space-evenly; width: 100%; color: #4A4B4D; font-size: .3rem; font-weight: 500;}
.manage_box .btns_group span{display: block; width: 1px; height: .4rem; background-color: #EDEDED;}
.manage_box .btns_group .btn_del.disabled{opacity: .3; pointer-events: none;}
.manage_box .btns_group .btn_del,.manage_box .btns_group .btn_clear{color: #E62233;}
.listBox .zan_li a{display: flex; align-items: center;}
.listBox .zan_li .d_pic{width: 2rem; height: 1.5rem; border-radius: .1rem; background-color: #F0F4FA; display: flex; align-items: center; justify-content: center; font-size: .5rem; font-weight: bold; flex-shrink: 0; margin-right: .25rem; color: #C8D3E6;}
.listBox .zan_li .d_pic img{width: 100%; height: 100%; object-fit: cover; border-radius: .1rem;}
.listBox .zan_li .rInfo{flex-grow: 1; width: 0;}
.listBox .zan_li .rInfo h2.comTitle{display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; white-space: normal;}
.listBox .zan_li .rInfo .typename{color: #636366; font-size: .22rem; margin-top: .28rem;}
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1.04rem);
            transform: translateY(1.04rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1.04rem);
            transform: translateY(1.04rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}