html,body{background: #F5F5F7}
.xfWrap{background: #fff;border-radius: 0 0 .4rem .4rem;padding: .4rem .3rem;}
.conTop{border-radius: .2rem;box-shadow: 0px .16rem .38rem 0px rgba(232, 29, 23, 0.23);background: url(../images/consume_bg.png) no-repeat center; background-size: cover;padding: .3rem .3rem .36rem;}
.conTop h4{font-size: .26rem;color: rgba(255,255,255,.6);text-align: center;}
.conTop .xfmoney{font-size: .6rem;color: #fff;font-weight: bold;text-align: center;font-family: moneyNumber;line-height: 1;margin-top: .08rem;}
.conTop .recharge{font-size: .28rem;color: #806500;width: 1.8rem;height: .7rem;text-align: center;line-height: .7rem;background: linear-gradient(90deg, #FFBE22 0%, #FFD83D 100%);box-shadow: 0px .04rem .2rem 0px rgba(189, 49, 0, 0.37);border-radius: .1rem;margin: .18rem auto 0;display: block;font-weight: bold;}
.conTop ul{margin-top: .4rem;}
.conTop ul li{float: left;width: 45%;box-sizing: border-box;padding: 0 .1rem 0 5%;}
.conTop ul li:first-child{margin-right: 5%}
.conTop ul li p{font-size: .26rem;color: rgba(255,255,255,.6);margin-bottom: .08rem}
.conTop ul li strong{font-size: .3rem;color: #fff;font-family: moneyNumber;line-height: 1}

.xfList{margin: .3rem .2rem;background: #fff;border-radius: .3rem;display: none;}
.xfList .tit{padding: .36rem .28rem .3rem .33rem;}
.xfList .tit strong{display: inline-block;font-size: .36rem;position: relative;padding-bottom: .2rem;}
.xfList .tit strong::after{content: '';display: block;position: absolute;bottom: 0;left: 50%;width: .56rem;height: .08rem;border-radius: .04rem;margin-left: -.28rem;background: #FF4E54}
.xfList .tit a{display: inline-block;float: right;font-size: .24rem;color: #999;margin-top: .16rem;}
.xfList ul{padding: 0 .3rem .1rem;}
.xfList li{ }
.xfList li a{display: block;padding:.24rem 0 .24rem;border-bottom: 1px solid #f5f5f7; }
.xfList li:last-child a{border-bottom: none;}
.xfList li h3 span{font-size: .3rem;color: #3B3B3B;display: inline-block;max-width: 5rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.xfList li h3 strong{font-size: .32rem;color: #212121;font-family: moneyNumber;float: right;}
.xfList li h3 strong.plus{color: #FFA333}
.xfList li p{font-size: .22rem;color: #919191;margin-top: .04rem;}
.xfList li p em{margin-right: .1rem}

.howxf{margin: .3rem .2rem .8rem;background: #fff;border-radius: .3rem;}
.howxf .tit{padding: .36rem 0 .06rem .32rem;}
.howxf .tit strong{display: inline-block;font-size: .36rem;}
.howxf .tit a {color: #F73534; float: right; line-height: 2.3em; margin-right: 0.32rem;}
.howxf dl{padding: .38rem 0 .32rem;border-bottom: 1px solid #f5f5f7;margin: 0 .3rem}
.howxf dl:last-child{border-bottom: none;}
.howxf dl dt{font-size: 0;margin-left: -.02rem;}
.howxf dt em{font-size: .22rem;color: #806500;width: .36rem;height: .36rem;text-align: center;line-height: .36rem;background: #F7D349;border-radius: .06rem;display: inline-block;vertical-align: top;font-weight: bold;}
.howxf dt span{display: inline-block;vertical-align: top;margin-left: .12rem;font-size: .32rem;color: #222;line-height: .36rem;}
.howxf dl dd{margin-left: .46rem;font-size: .26rem;color: #777;line-height: .36rem;margin-top: .18rem;}