[v-cloak]{display: none !important;}
html,body{background: #F7F8FA}
div.leftCat{width: 1.7rem; position: fixed; top: 0; bottom: 0; left: 0; background: #fff; padding-top: 1.4rem; overflow: auto; padding-bottom: 1.2rem;}
.huoniao_iOS div.leftCat{padding-top: .6rem;}
div.leftCat li{color: #131626; font-size: .26rem; text-align: center; height: 1rem;}
div.leftCat li.nowShow{background: }
div.leftCat li a{display: inline-block; height: .56rem; border-radius: .28rem; padding: 0 .2rem}
div.leftCat li.nowShow a{background: #f66; color: #fff; line-height: .56rem; }
.rightCon{padding-left: 1.9rem; max-height: calc(100vh - .9rem); overflow: auto; box-sizing: border-box; padding-top: .2rem;}
.rightCon dl{margin-right: .2rem; background: #fff; border-radius: .2rem; margin-bottom: .2rem; padding: .3rem .1rem}
.rightCon dl dt{font-size: .34rem; color: #171921; font-weight: bold; padding-left: .17rem;}
.rightCon dl dd{float: left; margin-top: .32rem; width: 25%}
.rightCon dl dd a{display: block;}
.rightCon dl dd .icon_box{width: .92rem; height: .92rem; background: #f5f5f5; border-radius: 50%; margin: auto;}
.rightCon dl dd p{color: #131626; font-size: .24rem; margin-top: .15rem; text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: .3rem;}



/* 发布 */
#fabuPage{background: #F7F8FA}
.whiteCon{padding: 0 .3rem; background: #fff; padding-bottom: .35rem;}
.options_toChose.whiteCon{padding-right: 0;  border-radius:.2rem .2rem 0 0;}
.whiteCon:first-child{border-radius:  0 0 .2rem .2rem; margin-bottom: .22rem;}
#desc{font-size: .3rem; border:none; background: none; max-height: 3.23rem; overflow: auto; min-height: 1.6rem; padding-top:.14rem;}
#desc:empty::before{content: attr(placeholder); color: #C2C4CC;}
.btn_record{display: block; width: .56rem; height:.56rem; background: url(../images/info/micro_icon.png) no-repeat center/cover; position: relative;}
.recordtip{height: .58rem; padding: 0 .2rem 0 .24rem; animation: leftFadeIn .3s;
border-radius: .4rem .3rem .3rem .02rem; background: #EBEFF7; color: #45464D; font-size: .24rem; position: absolute; left: .59rem; top: 0; bottom: 0; white-space: nowrap; line-height: .58rem;}
.imgUpload{margin-top: .45rem;}
.upload_btn {border-radius: .12rem; border: dashed .03rem #BEBFC4; display: block; float: left; position: relative; overflow: hidden;}
.upload_btn input{opacity: 0;}
.upload_btn .up_txt{ display: flex; width: 2.14rem; height: 2.14rem; align-items: center; justify-content: center; flex-direction: column;}
.upload_btn .up_txt::before{content: ''; width: .6rem; height: .6rem; background: url(../images/add1.png) no-repeat center/cover;}
.upload_btn .up_txt h5{font-size: .24rem; color: #717480; font-weight: bold; margin-top: .1rem;}
.upload_btn .up_txt p{color: #BBBCC4; font-size: .22rem; }
.imgUpload .thumbnail{width: 2.2rem; height: 2.2rem; border-radius: .12rem; float: left; margin-right: .15rem; position: relative; margin-bottom: .2rem;}
.imgUpload .thumbnail img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: .12rem;}
.imgUpload .thumbnail .del_btn{display: block; width: .42rem; height: .42rem; background: url(../images/info/del_btn.png) no-repeat center/cover; position: absolute; right: -.12rem; top: -.12rem;}
.imgUpload>div:nth-child(3n){margin-right: 0}
.imgUpload .thumbnail .progress {position: absolute;  right: 4px; bottom: 4px; height: 3px; left: 4px; height: 4px; overflow: hidden; z-index: 15; margin:0; padding: 0; border-radius: 0; background: transparent;}
.imgUpload .thumbnail .progress span {display: block; overflow: hidden; width: 0; height: 100%; background: #499c00 url('/static/js/webuploader/progress.png') repeat-x; -webit-transition: width 200ms linear; -moz-transition: width 200ms linear; -o-transition: width 200ms linear; -ms-transition: width 200ms linear; transition: width 200ms linear; -webkit-animation: progressmove 2s linear infinite; -moz-animation: progressmove 2s linear infinite; -o-animation: progressmove 2s linear infinite; -ms-animation: progressmove 2s linear infinite; animation: progressmove 2s linear infinite; -webkit-transform: translateZ(0);}
@-webkit-keyframes progressmove {
    0% {background-position: 0 0;}
    100% {background-position: 17px 0;}
}
@-moz-keyframes progressmove {
    0% {background-position: 0 0;}
    100% {background-position: 17px 0;}
}
@keyframes progressmove {
    0% {background-position: 0 0;}
    100% {background-position: 17px 0;}
}

.addrShow{min-width: 2.3rem; line-height: .64rem; border-radius: .32rem; background: #F7F7F7; color: #797A80; font-size: .26rem; display: inline-flex; align-items: center; justify-content: flex-start; padding: 0 .2rem; box-sizing: border-box; margin-top: .2rem; margin-bottom: .4rem; }
.addrShow span{display: inline-block; vertical-align: middle;}
.addrShow::before{content: ''; width: .32rem; height:.32rem; background: url(../images/info/addr.png) no-repeat center/cover; display: inline-block; vertical-align: middle; margin-right: .05rem;}

.flexInp.inpbox{display: flex; align-items: center; margin:.25rem 0;}
.flexInp.inpbox input[type='text'],.flexInp.inpbox input[type='tel']{margin-left: .1rem; font-size: .3rem; border: none;}
.flexInp.inpbox label{width: 1.08rem; color: #131626; font-size: .3rem; font-weight: bold; text-align:justify;text-justify:distribute-all-lines;text-align-last:justify; padding: 0 .16rem}
.flexInp.inpbox input::placeholder{color: #C2C4CC;}

.otherInfo dt{font-size: .36rem; color: #131626; font-weight: bold; padding-top: .5rem;}
.otherInfo dt em{font-size: .22rem; color: #BBBCC4; margin-left: .1rem;}
.otherInfo label{float: left; padding-right: .26rem; text-align: right; width: 1.35rem; box-sizing: border-box; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.otherInfo dd{margin-top: .4rem; display: flex; align-items: center;}
.otherInfo dd label{color: #131626; font-size: .26rem; font-weight: bold; text-align: right; flex-shrink: 0; }
.otherInfo dd .add_btn{padding: 0 .32rem 0 .27rem; display: inline-flex; align-items: center; justify-content: center; height: .58rem; color: #45464D; font-size: .26rem ; box-sizing: border-box; border-radius: .29rem; border: solid 1px #E6E6E6;}
.otherInfo dd .labs{display: inline-block; }
.otherInfo dd .labs.on_edit{background: #FFF6ED; color: #F27B0C; font-weight: bold;}
.otherInfo dd .labs.on_edit::after{content: ''; display: inline-block; width: .24rem; height: .24rem; background: url(../images/info/edit_2.png) no-repeat center/cover; vertical-align: middle; margin-left: .08rem;}
.otherInfo dd .add_btn::before{content: ''; display: block; width: .18rem; height: .18rem; background: url(../images/info/add.png) no-repeat center/cover; margin-right: .04rem;}
.otherInfo dd .inpAll{white-space: nowrap; overflow: auto;}
.otherInfo dd .inpAll::-webkit-scrollbar{display: none;}
.otherInfo dd .inpAll.wrap{white-space: normal;}
.otherInfo dd .inpAll.wrap .inp{margin-bottom: .3rem;}
.otherInfo dd .inp{height: .58rem; background: #F7F7F7; color: #45464D; font-size: .26rem; border-radius: .29rem; padding: 0 .36rem; text-align: center; line-height: .58rem; display:inline-block; margin-right: .24rem;}
.otherInfo dd .inp.on_chose{background: #FFF6ED; color: #F27B0C; font-weight: bold;}

.feeContainer{background: #fff; padding: 0 .2rem ; }
.feeBox{height: 3.64rem; border-radius: .36rem; background: #F6432A url(../images/info/info_bg.png) no-repeat center/cover; position: relative;}
.feeBox::before{content: ''; display: block; width: 3.1rem; height: 1.54rem; background: url(../images/info/info_icon.png) no-repeat center/cover; position: absolute; right: .2rem; top: -.24rem; pointer-events: none;}
.feeBox .headTit{padding-left: .32rem; padding-top: .28rem;}
.feeBox .headTit h2{font-size: .36rem; color: #fff; font-weight: 800;}
.feeBox .headTit p{color: #fff; font-size: .24rem; opacity: .7; margin-top: .06rem;}
.feeBox .dlbox{margin: .09rem .1rem 0; background: #fff; box-shadow: 0 0 .3rem 0 rgba(255, 27, 0, 0.2) inset; height: 2.24rem; border-radius: .3rem; }
.feeBox .dlbox h2{font-size: .22rem; color: #AAABB3; display: flex; align-items: center; justify-content: space-between; padding:.28rem .28rem 0; margin-bottom: .2rem;}
.feeBox .dlbox h2 span{color: #303133; font-size: .28rem; font-weight: bold;}
.feeBox .dlbox ul{display: flex; align-items: center; justify-content: space-between; margin: 0 .23rem;}
.feeBox .dlbox ul li{width: 1.52rem; height: 1.2rem; background: #FFFAFA; border-radius: .12rem; box-shadow: 0 0 30px 0 rgba(255, 0, 0, 0.08) inset; display: flex; align-items: center; justify-content: center; flex-direction: column; box-sizing: border-box;}
.feeBox .dlbox ul li h3{font-size: .24rem; color: #303133}
.feeBox .dlbox ul li.forever h3{font-size: .3rem; color: #303133; font-weight: bold;}
.feeBox .dlbox ul li h3 b{font-family: moneyNumber; font-size: .42rem}
.feeBox .dlbox ul li p{color: #AB8E89;}
.feeBox .dlbox ul li.on_chose{border: solid .03rem #FC4F17;}
.btnBox{padding-top: .62rem; padding-bottom: .4rem; background: #fff;}
.btnBox p{font-size: .24rem; color: #45464C; text-align: center; margin-bottom: .2rem; }
.btnBox p em{color: #F27B0C; font-size: .26rem;}
#fb_sub{display: block; margin: auto; height: .8rem; background: #183359; color: #fff; border-radius: .4rem; text-align: center; width: 6.6rem; border: none; font-size: .3rem; font-weight: bold;}


.maskPopInp{position: fixed; left: 0; top: 0; bottom: 0;right: 0; background: rgba(0,0,0,.5)}
.popInp{position: fixed; left: .3rem;right: .3rem; top: 50%; height: 2.2rem; background: #fff; border-radius: .3rem; opacity: 0; pointer-events: none;}
.popInp.show{opacity: 1; pointer-events: all}
.popInp h4{font-size: .3rem; color: #131626; font-weight: bold; text-align: center; padding-top: .32rem;}
.popInp h4::before{content: ''; display: block; width: }
.popInp input{border: none; color: #131626; font-size: .32rem; padding: 0 .42rem; margin-top: .5rem; box-sizing: border-box; width: 100%;}
.popInp input::placeholder{color:rgba(19, 22, 38, .3);}
[v-cloak]{display: none !important;}

.TipBox.show{display: flex; }
.TipBox{position: fixed; top: 1.5rem;  margin: auto; left: 0; right: 0; display: none; align-items: center; justify-content: center; pointer-events: none; animation: topFadeIn .3s; width: 4.4rem; white-space: nowrap}
.popTip{line-height: .88rem; color: #45464C; font-size: .26rem; background: #F5F6F7; padding: 0 .32rem; border-radius: .2rem;  box-sizing: border-box; display: flex; align-items: center; justify-content: center;}
.popTip::before{content: ''; display: block; width: .36rem; height: .36rem; background: url(../images/info/tip_icon.png) no-repeat center/cover; margin-right: .05rem;}

.recordingMask{position: fixed; left: 0; right: 0; top: 0; bottom: 0; background: rgba(0,0,0,.2); z-index: 99}
.recordingTipBox{height: 1.54rem; border-radius: .4rem; background: #050313; position: fixed; left: .4rem; right: .4rem; top: 20%; margin: auto; display: flex; align-items: center; justify-content: space-between; z-index: 100; padding-right: .28rem; animation: topFadeIn .3s;}
.recordingTipBox .recordIcon{width: 1.46rem; height: 1.46rem; background: url(../images/info/y.gif) no-repeat center/cover;border-radius: .4rem; display: flex; align-items: center; justify-content: center;}
.recordingTipBox .txt{font-size: .28rem; color: #fff; display: flex; align-items: center;}
.recordingTipBox .btn_stop{font-size: .28rem; color: #131626; line-height: .72rem; border-radius: .36rem; min-width: 1.66rem; box-sizing: border-box; padding: 0 .12rem; display: block; text-align: center; background: #fff;}
.music {display:flex; align-items: center; justify-content: space-between; width: .28rem;vertical-align:baseline;font-size:0; }
.music li {background-color:#fff;margin-left:.03rem;display:inline-block;width:.04rem;height:.26rem;border-radius: .03rem; transform-origin: center;}
.music .m1 {-webkit-animation:.8s .1s living linear infinite;animation:.8s .1s living linear infinite;-webkit-animation-delay:-1.1s;}
.music .m2 {-webkit-animation:.8s .3s living linear infinite;animation:.8s .3s living linear infinite;-webkit-animation-delay:-1.3s;}
.music .m3 {-webkit-animation:.8s .6s living linear infinite;animation:.8s .6s living linear infinite;-webkit-animation-delay:-1.6s;}
.popErrAlert p{background: rgba(5, 3, 19, .9); border-radius: .3rem; font-size: .26rem;   min-width: 4rem; height: 1rem; padding: 0 .4rem; display:flex ; align-items: center; justify-content: center; margin-top: -3rem}

.huoniao_iOS .fabu_success{top: 0;}
.fabu_success{position: fixed; top: .9rem; left: 0; right: 0;bottom: 0; background: #fff; }
.tipCon {display: flex; align-items: center; justify-content: center; flex-direction: column; position: absolute; left: 0; right: 0; margin: auto; top: 16%}
.tipCon .tipIcon{width: 1.44rem;}
.tipCon .tipIcon img{display: block; width: 100%;}
.tipCon h3{font-size: .4rem; color: #171921; font-weight: bold; margin-top: .26rem;}
.tipCon p{color: #919399; font-size: .24rem; margin-top: .3rem;}
.header.fixed{position: fixed; left: 0; right: 0; top: 0; }

 @-webkit-keyframes living{
 0%{-webkit-transform:scaleY(1);transform:scaleY(1);-webkit-transform-origin:0 .17rem;transform-origin:0 .17rem}
 50%{-webkit-transform:scaleY(.3);transform:scaleY(.3);-webkit-transform-origin:0 .17rem;transform-origin:0 .17rem}
 100%{-webkit-transform:scaleY(1);transform:scaleY(1);-webkit-transform-origin:0 .17rem;transform-origin:0 .17rem}
 }
 @keyframes living{
 0%{-webkit-transform:scaleY(1);-ms-transform:scaleY(1);transform:scaleY(1);-webkit-transform-origin:0 .17rem;-ms-transform-origin:0 .17rem;transform-origin:0 .17rem}
 50%{-webkit-transform:scaleY(.3);-ms-transform:scaleY(.3);transform:scaleY(.3);-webkit-transform-origin:0 .17rem;-ms-transform-origin:0 .17rem;transform-origin:0 .17rem}
 100%{-webkit-transform:scaleY(1);-ms-transform:scaleY(1);transform:scaleY(1);-webkit-transform-origin:0 .17rem;-ms-transform-origin:0 .17rem;transform-origin:0 .17rem}
 }
