.page{min-height: calc(100vh - .9rem); background: url(../images/enter/fuwu_bg.png) no-repeat top center/100% auto ; background-color: #F7F8FA;}
/* ,url(../images/enter/v_icon.png) no-repeat 1.07rem */
.page .titleCon{padding: .8rem .4rem 0; margin-bottom: .7rem;}
.page .titleCon h1{font-size: .66rem; color: #fff; font-weight: 800;}
.page .titleCon p{font-size: .28rem; color: #FFEEDD; margin-top: .16rem;}
.page .specialBox{position: relative; margin: 0 .3rem;}
.page .specialBox .vicon{width: 2.2rem; height: 2rem; position: absolute; top: -1.72rem; right: -.05rem;}
.page .specialBox .vicon img{width: 100%; height: 100%;}
.page .specialBox li>a{height: 1.75rem; border-radius: .24rem; background: linear-gradient(90deg, rgba(255,255,255,.96) 0%, rgba(255,234,229,0.768) 100%); display: flex; align-items: center;  padding-right: .4rem; margin-bottom: .24rem;}
.page .specialBox li .mod_icon{width: 2.17rem; display: flex; align-items: center; justify-content: center;}
.page .specialBox li .mod_icon img{width: 1.4rem; height: 1.2rem; object-fit: contain;}
.page .specialBox li .mod_info h4{font-size: .34rem; color: #331303; font-weight: bold;}
.page .specialBox li .mod_info p{font-size: .22rem; color: #888; line-height: .32rem; margin-top: .14rem;}
.page .modBox.modUl{display: grid; grid-template-columns: repeat(2,1fr); column-gap: .2rem; row-gap: .2rem; margin-top: .32rem; grid-template-areas: 'a1 a2' 'a1 a3';}
.page .conBox.bgBox{background-color: #fff; border-radius: .3rem; padding: .42rem .3rem .5rem; margin-bottom: .2rem;}
.page .conBox.bgBox .h4{font-size: .34rem; font-weight: 800; color: #000; }
.page .modBox.modUl li.mod{width: 3.35rem; height: 1.42rem; border-radius: .2rem; background: rgba(247, 248, 250, .9); }
.page .modBox.modUl li.mod .mod_link{display: flex; align-items: center; justify-content: space-between; box-sizing: border-box; padding:.2rem; height: 1.42rem; }
.page .modBox.modUl li.mod.jobMod{grid-row: 1 / 2; height: 3.04rem; grid-area: a1;}
.page .modBox.modUl li.mod .mod_icon{width: .78rem; height: .78rem; flex-shrink: 0;}
.page .modBox.modUl li.mod.jobMod .mod_link{flex-direction: column; align-items: flex-start; height: 3.04rem;}
.page .modBox.modUl li.mod .mod_icon img{width: 100%; height: 100%; object-fit: cover; -webkit-mask-image: linear-gradient(#fff 0% , rgba(255,255,255,.5) 60%, rgba(255,255,255,.1) 100%); mask-image: linear-gradient(#fff 0% , rgba(255,255,255,.6) 60%, rgba(255,255,255,.1) 100%); }
.page .modBox.modUl li.mod .mod_info h4{font-size: .3rem; color: #000; font-weight: bold;}
.page .modBox.modUl li.mod .mod_info p{color: #9DA0A6; font-size: .22rem; margin-top: .12rem; display: -webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:2; overflow: hidden;}
.page .modBox.modUl li.mod.jobMod .supplier{display: flex; align-items: center; justify-content: space-between; width: 2.95rem; height: 1rem; background: linear-gradient(90deg, rgba(203, 243, 234, .1) 0%, rgba(203, 243, 234, .9) 100%); border-radius: .2rem;  box-sizing: border-box; padding-left: .18rem; padding-right: .14rem;}
.page .modBox.modUl li.mod.jobMod .supplier h5{color: #8D95A6; font-weight: bold; font-size: .24rem;} 
.page .sevBox.sevUl{margin-top: .32rem; display: grid; grid-template-columns: repeat(2,1fr); column-gap: .2rem; row-gap: .2rem;}
.page .sevBox.sevUl li.sev{}
.page .sevBox.sevUl li.sev .sev_info{flex-grow: 1; display: block; width: 3.35rem; height: 1.3rem; border-radius: .2rem; box-sizing: border-box; background-color: rgba(247, 248, 250, .9); display: flex; align-items: center; padding: 0 .14rem 0 .24rem;}
.page .sevBox.sevUl li.sev .sev_info .box{flex-grow: 1;}
.page .sevBox.sevUl li.sev .h4{display: flex; align-items: center;}
.page .sevBox.sevUl li.sev .h4::after{content: ''; display: block; width: .24rem; height: .24rem; background: url(../images/enter/arr-r.png) no-repeat center/cover;}
.page .sevBox.sevUl li.sev h4{font-size: .28rem; color: #000; font-weight: bold; width: 0; flex-grow: 1;}
.page .sevBox.sevUl li.sev p{font-size: .22rem; color:#9DA0A6; margin-top: .12rem;}
.loadTip{font-size: .24rem; color: #9DA0A6; padding: .6rem; text-align: center;}
.page .conBox.bgBox:last-of-type{border-radius: .3rem .3rem 0 0;}
.page .conBox.bgBox.gradient {background: linear-gradient(0deg, #FFFFFF 0%, #F5F5F7 15%, #F5F5F7 92%, #FFFFFF 100%);}
.page .conBox.bgBox .busiBox {display: flex; align-items: center; flex-wrap: wrap; margin-top: .3rem;}
.page .conBox.bgBox .busiBox li{min-width: 3.35rem; min-height: 1.4rem;  background-color: #fff; border-radius: .2rem;  margin-bottom: .2rem; flex-grow: 1; display: flex; align-items: center; justify-content: space-between; box-sizing: border-box; padding:  .28rem .18rem .3rem .2rem;}
.page .conBox.bgBox .busiBox li.busi:not(.fullBusi){margin-right: .2rem;}
.page .conBox.bgBox .busiBox li.busi:nth-child(2n){margin-right: 0;}
.page .conBox.bgBox .busiBox li.busi:last-of-type{margin-right: 0;}
.page .conBox.bgBox .busiBox li.fullBusi{width: 100%;}
.page .conBox.bgBox .busiBox li.fullBusi:last-of-type{margin-bottom: 0;}
.page .conBox.bgBox .busiBox li .mod_info{flex-grow: 1; margin-right: .1rem; min-width: 0;}
.page .conBox.bgBox .busiBox li h4{font-size: .3rem; color: #111112; font-weight: bold;}
.page .conBox.bgBox .busiBox li p{color: rgba(17, 17, 18, .6); font-size: .22rem;  max-width: 80%; line-height: 1.5em; margin-top: .1rem; word-break: break-all; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.page .conBox.bgBox .busiBox li .price{color: #111112; font-size: .22rem; font-weight: normal; white-space: nowrap; max-width: none;}
.page .conBox.bgBox .busiBox li .price b{color: #FF4144; font-size: .36rem; font-weight: bold; margin-right: .07rem;}
.page .conBox.bgBox .busiBox li span.price{margin-left: .2rem;}
.page .conBox.bgBox .busiBox li .open_btn{min-width: 1.1rem; height: .6rem; background: linear-gradient(90deg, #F6D396 0%, #EABB6B 100%); border-radius: .3rem; display: flex; align-items: center; justify-content: center; font-size: .26rem; color: #4A2708; padding: 0 .3rem; box-sizing: border-box; white-space: nowrap; flex-shrink: 0;}

.ulBox {overflow: auto;}
.ulBox ul{padding: 0 .3rem; align-items: center; white-space: nowrap; }
.ulBox::-webkit-scrollbar{display: none;}
.ulBox li{width: 2.7rem; height: 3.2rem; background: #FFFBF4; border-radius: .2rem; border: 1px solid #FFEBC7; position: relative; display: flex; box-sizing: border-box; padding-top: .3rem; flex-direction: column; flex-shrink: 0; margin-right: .2rem; display: inline-block;}
.ulBox li:last-of-type{margin-right: .3rem;}
.ulBox li .fuli{height: .68rem; display: flex; align-items: center; justify-content: center; position: absolute; left: 0; bottom: 0; right: 0; background-color: #FFF5E8; color: #A15703; font-size: .3rem; border-radius: 0 0 .2rem .2rem;}
.ulBox li .time{color: #111112; font-size: .36rem; font-weight: bold; text-align: center; margin-bottom: .3rem;}
.ulBox li .price p{font-size: .28rem; color: #999; text-align: center; text-decoration: line-through;}
.ulBox li .price .currPrice{font-weight: bold; color: #111112; font-size: .36rem; text-align: center;}
.ulBox li .price .currPrice b{font-size: .68rem; margin-left: .1rem;}
.ulBox li.on_chose{background: url(../images/enter/tc_bg.png) no-repeat center/cover; border: solid 1px transparent;}
.ulBox li.on_chose .fuli{background: linear-gradient(100deg, #FDD27A 0%, #FDD27A 74%, #FEE7B8 100%);}
.ulBox li.on_chose .time,.ulBox li.on_chose .price .currPrice,.ulBox li.on_chose .price p{color: #A15703;}

.pop_mask_inner{position: fixed; left: 0; right: 0; top: 0; bottom: 0; background-color: rgba(0,0,0,.6); z-index: 6; }
.popConBox.show{transform: translateY(0);}
.popConBox{height: 6.76rem; position: fixed; left: 0; right: 0; bottom: 0; background-color: #fff; border-radius: .5rem .5rem 0 0; z-index: 6; transform: translateY(100%); transition: .3s transform;}
.popConBox .pop_header{height: 1.58rem; display: flex; flex-direction: column; justify-content: center; padding: 0 .39rem;}
.popConBox .pop_header h3{font-size: .36rem; font-weight: bold;}
.popConBox .pop_header p{font-size: .26rem; color: #999;}
.popConBox .ulBox li{width: 2.1rem; height: 2.6rem; border-radius: .2rem;}
.popConBox .ulBox li .time{font-size: .32rem; margin-bottom: .2rem;}
.popConBox .ulBox li .price .currPrice b{font-size: .52rem; margin-left: 0;}
.popConBox .ulBox li .price p{font-size: .26rem;}
.popConBox .ulBox li .fuli{height: .5rem; font-size: .24rem;}
.close_pop{width: .4rem; height: .4rem; background: url(../images/enter/close_btn1.png) no-repeat center/cover; position: absolute; right: .3rem; top: .3rem;}
.pop_foot {padding-top: .26rem; margin-top: .22rem;}
.pop_foot .btn{margin: 0 .3rem; height: .96rem; display: flex; align-items: center; justify-content: center; border-radius: .48rem; font-size: .36rem; color: #4A2708; font-weight: bold; background: linear-gradient(90deg, #F4DDB4 0%, #EABB6B 100%); margin-top: .28rem;} 

.popCenter{position: fixed; left: 0; top: 0; right: 0; bottom: 0; display: flex; align-items: center; justify-content: center; z-index: 6;}
.popCenter .popCon{width: 5.8rem; height: 3.66rem; background: #FFFFFF; border-radius: .3rem; display: flex; align-items: center; flex-direction: column; justify-content: center; padding-top: .2rem; box-sizing: border-box; animation: popup .3s; display: none;}
.popCenter .popCon.show{display: flex;}
.popCenter .popCon h4{font-size: .32rem; color: #000; font-weight: bold; text-align: center; }
.popCenter .popCon p{font-size: .24rem; color: #999; text-align: center; margin-top: .2rem;}
.popCenter .popCon a{display: block; margin: auto; text-align: center;}
.popCenter .popCon a.agree_btn{width: 4rem; height: .76rem; background: #FC5E33; border-radius: .38rem; display: flex; align-items: center; justify-content: center; font-size: .28rem; margin-top: .5rem; font-weight: bold; color: #fff;}
.popCenter .popCon a.refuse_btn{color: #333; margin-top: .2rem;}
.bottom_btn{min-height: 1.5rem; padding-top: .4rem; background-color: #fff;}
.bottom_btn .btn_contact{display: flex; align-items: center; justify-content: center; font-size: .36rem; color: #FFD8B6; font-weight: bold; height: .96rem; background: linear-gradient(90deg, #23201F 0%, #5A524D 100%); margin: 0 .3rem; border-radius: .48rem;} 

.pop_foot .tip{color: #999; font-size: .24rem; display: flex; align-items: center; padding: 0 .46rem;}
.pop_foot .tip a{color: #D1975E;}
.pop_foot .tip span{display: flex; align-items: center;}
.pop_foot .tip span::before{content: ''; display: block; width: .26rem; height: .26rem; border: solid .02rem rgba(14, 4, 8, .5); margin-right: .1rem; border-radius: 50%;}
.pop_foot .tip.agree span::before{background: url(../images/enter/agree_icon.png) no-repeat center/cover; border: none; width: .28rem; height: .28rem;}
