body{background-color: #F7F8FA; box-sizing: border-box; min-height: 100vh;}
#page{padding-bottom: 1.4rem;}
html.huoniao_iOS  body:not(.previewPage) .memberBg{padding-top: .92rem;}
.memberBg{height: 4.6rem; position: absolute; left: 0; right: 0; top: 0; background-position: top center; background-size: cover;}
html.huoniao_iOS:not(.wx_miniprogram):not(.baidu_miniprogram):not(.qq_miniprogram):not(.byte_miniprogram) body:not(.previewPage) .memberInfo{padding-top: 1.02rem;}
.memberInfo {position: relative; z-index: 1; }
.headerTop{display: flex; align-items: center; justify-content: space-between; min-height: .88rem; box-sizing: border-box; padding-top: .1rem; padding-bottom: .2rem; margin-bottom: .1rem;}
.headerTop .left_top{display: flex; align-items: center; font-size: .26rem; color: #192233; line-height: .44rem;  font-weight: bold; }
.headerTop .left_top s{display: block; width: .4rem; height: .4rem; overflow: hidden;}
.headerTop .icon img{display: block; width: 100%; height: 100%; object-fit: cover; }
.headerTop  .right_top{display: flex; align-items: center; justify-content: flex-end; flex-shrink: 0;}
.headerTop  .right_top ul{white-space: nowrap;}
.headerTop  .right_top li{text-align: center; color: #45474D; }
.headerTop  .right_top li .icon{width: .44rem; height: .44rem; overflow: hidden; margin: auto;}

.headerTop .right_top .btns li{float: left; margin-left: .4rem}
.headerTop .right_top .btns li p{margin-top: .05rem; font-size: .2rem;  color: #45474D;}
.headerTop .right_top .btns li.floatItem{white-space: nowrap; float: none; display: inline-block;}
.headerTop .right_top .btns li.floatItem .icon{display: inline-block; vertical-align: middle;}
.headerTop .right_top .btns li.floatItem p{display: inline-block; vertical-align: middle; margin-top: 0; font-size: .24rem;}
 .headerTop.lowerHead{min-height: .1rem;}
/* 反白样式 */
.lightStyle .headerTop .right_top .btns li p{color: #fff;}
.lightStyle .headerTop .right_top li{color: #fff;}
.lightStyle .headerTop .left_top {color: #fff;}
.lightStyle .headerTop .icon img{transform: translateX(-100%); filter: drop-shadow(.44rem 0 0 #fff); }
.lightStyle .headerTop .left_top .icon img{transform: translateX(-100%); filter: drop-shadow(.4rem 0 0 #fff); }
.lightStyle.memberInfo .textCon h4{color: #fff !important;}
.lightStyle.memberInfo .headerTop p{color: #fff;}
.lightStyle.memberInfo .right_top .btns li p{color: #fff;}
.lightStyle.memberInfo .right_top .btns li .icon img{transform: translateX(-100%); filter: drop-shadow(.44rem 0 0 #fff); }
.memberInfo .right_top{flex-shrink: 0;}
.memberInfo .right_top .btns li,
.headerTop .right_top .btns li {float: left;margin-left: .4rem;}
.memberInfo .right_top .btns { white-space: nowrap; flex-shrink: 0; }
.memberInfo .right_top li .icon{width: .44rem; height: .44rem;}
.memberInfo .right_top li .icon img{width: 100%; height: 100%; object-fit: cover;}
.memberInfoCon { display: flex; align-items: center; justify-content: space-between; padding-bottom: .16rem;}
.memberInfoCon .mleftCon{display: flex; align-items: center; width: 100%; position: relative;}
.memberInfoCon .mleftCon .photoCon{width: 1.28rem; height: 1.28rem; border-radius: 50%; float: left; margin-right: .25rem; background-color: #fff;}
.memberInfoCon .mleftCon .photoCon img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.memberInfoCon .mleftCon .textCon{float: left; }
.memberInfoCon .mleftCon .textCon h4{font-size: .38rem; font-weight: bold; max-width: 3.6rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.memberInfoCon .mleftCon .textCon .vipIcon{display: inline-flex; align-items: center; font-size: .2rem; height: .32rem; border-radius: .18rem; padding-left:.04rem; padding-right: .12rem; color: #fff; }
.memberInfoCon .mleftCon .textCon .vipIcon s{display: inline-block; margin-right: .04rem;     display: inline-block; width: .28rem; height: 0.28rem; background: no-repeat center; background-size: 0.28rem; vertical-align: middle;}
.memberInfoCon .mleftCon .textCon .vipIcon s img{display: block; width: 100%; height: 100%; object-fit: cover;}
.memberInfoCon .mrightCon .rbtn{min-width: 1.3rem; white-space: nowrap; box-sizing: border-box; padding: 0 .2rem; height:.6rem; background: #FFFFFF; box-shadow: 0px .04rem .2rem 0px rgba(0,6,33,0.06); border-radius: .3rem;  font-size:.26rem; border-radius: .3rem; display: flex; align-items: center; justify-content: center; } 
.memberInfoCon .mrightCon .rbtn span{white-space: nowrap;}
.memberInfoCon .mrightCon .rbtn s{display: block; width: .3rem; height: .3rem; margin-right: .08rem;}
.memberInfoCon .mrightCon .rbtn s img{display: block; width: 100%; height: 100%; object-fit: cover;}
.memberInfoCon.lightStyle .mleftCon .textCon h4{color:#fff;}
/* 数字 */
.dataCount ul{height: 1.26rem; display: flex;  align-items: center; justify-content: space-evenly; text-align: center; column-gap: .04rem; }
.dataCount ul li{box-sizing: border-box; padding: 0 .1rem;}
.dataCount ul li s{display: block;}
.dataCount ul p{font-size:.24rem; color: #45474D;}
.dataCount ul h4{font-size: .34rem; font-family: moneyNumber; margin-bottom: .06rem;}
.dataCount ul li.line{width: 1px ; height: .72rem; background-color: #efefef; padding: 0;}


/* 样式1 */
.vipCardStyle1{height: 1rem;align-items: center; color: #EDF2FA; font-weight: bold; padding-right: 1.8rem; position: relative; position: relative; background-position: center; background-size: cover; background-repeat: no-repeat;} 
.vipCardStyle1 p{font-weight: normal; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: .22rem;}
.vipCardBox .vipIconBox{min-width: 1rem; box-sizing: border-box; padding: 0 .24rem; height: 1rem; position: relative; float: left; display: flex; align-items: center; justify-content: center; margin-right: .18rem;}
.vipCardBox .vipIconBox.hasLine::after { content: ''; display: block; width: 1px; height: .28rem; position: absolute; right: 0; top: 0; bottom: 0; margin: auto; background: rgba(255,255,255,.2); }
.vipCardBox .vipIconBox .imgbox{overflow: hidden;}
/* .vipCardBox .vipIconBox .imgbox.canWhite img{transform: translateX(-100%);} */
.vipCardBox .vipIconBox img{ max-width: 100%; max-height: .32rem; object-fit: contain; object-position: left center; display: block;}
/* .vipCardStyle1 .vipIconBox::after{content: ''; display: block; width: 1px; height: .2rem; position: absolute; right: 0; top: 0; bottom: 0; margin: auto; background: rgba(255,255,255,.2);} */
.vipCardBox .vipIconBox span{flex-shrink: 0; font-size: .34rem; font-style: italic; font-weight: bold; }
.vipCardStyle1 .vipScrollBox{padding-left: 1.9rem; line-height: .4rem; height: .4rem; padding-top: .3rem; margin-right: .2rem;}
.vipCardStyle3 .vipScrollBox{padding-top: .4rem;}
.vipCardStyle1 .vipScrollBox ~ .vipIconBox::after{content: ''; display: block; width: 1px; height: .2rem; position: absolute; right: 0; top: 0; bottom: 0; margin: auto; background: rgba(255,255,255,.2);}
.vipCardStyle1 .vip_btn{height: .5rem; color: #fff; font-size: .24rem; display: flex; align-items: center; justify-content: center; position: absolute; top: 0; bottom: 0; right: .26rem; margin: auto; min-width: 1.52rem; box-sizing: border-box; padding: 0 .2rem; overflow: hidden; border-radius: .26rem !important;}
.vipCardStyle1 .vip_btn s{    display: block; width: 100%; height: 100%; background: linear-gradient(90deg, rgba(255,255,255,.4) 0%, rgba(255,255,255,0) 100%); position: absolute; left: 0; right: 0; top: 0; bottom: 0; }
.van-swipe{height: 100%;}

.btnsGroupBox li {float: left;}
.btnsGroupBox li .icon{width: .9rem; height: .9rem; margin: auto; }
.btnsGroupBox li .icon img{display: block; width: 100%; height: 100%; object-fit: cover;}
.btnsGroupBox li p{text-align: center; color: #192233; font-size: .24rem;}

.otherContainer .partBox{position: relative;}
/* .otherContainer .partBox:hover::before{content: ''; display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; pointer-events: none; border: dashed .04rem #6CCFFF; z-index: 2;} */
.otherContainer .partBox.currEditPart::before{content: ''; display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; pointer-events: none; border: solid .04rem #6CCFFF; z-index: 2;}
.otherContainer .orderInfoBorderBox{position: relative;}
.otherContainer .orderInfoBorderBox .del_btn{position: absolute; right: 0; top: 0; transform: translateX(100%); cursor: pointer;}
.otherContainer .orderInfoBorderBox:hover  .del_btn{display: block;}
.otherContainer .orderInfoBox {background-color: #fff; padding-top: .26rem; padding-bottom: .26rem;}
.otherContainer .orderInfoBox.listInfoBox{padding-top: .08rem; padding-bottom: .08rem;}
.otherContainer .orderInfoBox .iconsInfoBox{min-height: .8rem;}
.otherContainer .orderInfoBox .orderHeader{display: flex; align-items: center; padding: 0 .24rem; justify-content: space-between; margin-bottom: .32rem;}
.otherContainer .orderInfoBox .orderHeader h4{font-size: .34rem; font-weight: bold;}
.otherContainer .orderInfoBox .orderHeader .more{font-size: .24rem; color: #A1A7B3;}
.otherContainer .orderInfoBox .orderHeader .more s{width: .2rem; height: .2rem; overflow: hidden; display: inline-block; vertical-align: middle; margin-bottom: .04rem; margin-left: .04rem; margin-right: -.12rem;}
.otherContainer .orderInfoBox .orderHeader .more s em{content: ''; display: block; width: .2rem; height: .2rem; background: url(/static/images/admin/siteMemberPage/more-arr.png) no-repeat center/cover;     filter: drop-shadow(.2rem 0 0 #A1A7B3); transform: translateX(-100%);}
.otherContainer .orderInfoBox ul{padding: 0 .36rem; display: grid; grid-template-columns: repeat(4,1fr); row-gap: .2rem;}
.otherContainer .orderInfoBox ul.gridbox5{padding: 0 .16rem; display: grid; grid-template-columns: repeat(5,1fr);}
.otherContainer .orderInfoBox ul.gridbox3{padding: 0 .16rem; display: grid; grid-template-columns: repeat(3,1fr);}
.otherContainer .orderInfoBox ul.gridbox2{ grid-template-columns: repeat(2,1fr);}
/* .otherContainer .orderInfoBox ul li{padding-top: .2rem;} */
.otherContainer .orderInfoBox ul li .icon{width: .8rem; height: .8rem; margin: auto; position: relative;}
.otherContainer .orderInfoBox ul li .icon img{display: block; width: 100%; height: 100%; object-fit: cover;}
.otherContainer .orderInfoBox ul li p{text-align: center; color: #192233; font-size: .24rem; margin-top: .04rem;}
.otherContainer .orderInfoBox ul li .tipNum{display: block; min-width: .36rem; height: .36rem; border-radius: .2rem; box-sizing: border-box; border: solid .04rem #fff; position: absolute; left: .4rem; top: 0; color: #fff; padding:0  .08rem; line-height: .3rem; font-size: .2rem; text-align: center;}
.otherContainer .orderInfoBox .qiandao{margin: .22rem .28rem 0; height: .8rem; border-radius: .4rem; padding: 0 .24rem; display: flex; align-items: center; position: relative;}
.otherContainer .orderInfoBox.listInfoBox .qiandao{ margin-bottom: .18rem;}
.otherContainer .orderInfoBox .qiandao s{display: flex; width: .56rem; height: 100%; margin-right: .12rem; align-items: center; justify-content: center;}
.otherContainer .orderInfoBox .qiandao s img{display: block; width: 100%; height: .56rem; object-fit: cover;}
.otherContainer .orderInfoBox .qiandao span.qtext{font-size: .24rem;  font-weight: bold;}
.otherContainer .orderInfoBox .qiandao .qbtn{font-size: .22rem; padding: 0 .18rem; height: .48rem; border-radius: .24rem; border: solid 1px #FFDBA1; font-weight: bold; display: block; position: absolute; right: .18rem; top: 0; bottom: 0; bottom: 0; margin: auto; line-height: .48rem;}
.otherContainer .orderInfoBox ul.list{display: block; padding: 0 .26rem;}
.otherContainer .orderInfoBox ul.list li{display: flex; align-items: center; justify-content: space-between; padding: 0; position: relative;}
.otherContainer .orderInfoBox ul.list .flex_li{display: flex; align-items: center; justify-content: space-between; padding: 0; position: relative; width: 100%; height: 100%;}
.otherContainer .orderInfoBox ul.list li .icon{width: .48rem; height: .48rem; margin-right: .12rem; flex-shrink: 0;}
.otherContainer .orderInfoBox ul.list li .icon img{width: 100%; height: 100%; object-fit: cover;}
.otherContainer .orderInfoBox ul.list li .flex_l,.otherContainer .orderInfoBox ul.list li .flex_r{display: flex; align-items: center;}
.otherContainer .orderInfoBox ul.list li .flex_l{font-size: .28rem; max-width: 60%;}
.otherContainer .orderInfoBox ul.list li .text{font-size: .28rem; font-weight: bold; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.otherContainer .orderInfoBox ul.list li .flex_r{font-size: .22rem; max-width: 40%;}
.otherContainer .orderInfoBox ul.list li .flex_r span{ display: block; max-width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.otherContainer .orderInfoBox ul.list li .flex_r s{ width: .24rem; height: .24rem; overflow: hidden; margin-left: .04rem; margin-bottom: .04rem;}
.otherContainer .orderInfoBox ul.list li .flex_r s em{display: block; transform: translateX(-100%); width: .24rem; height: .24rem; background: url(/static/images/admin/siteMemberPage/more-arr.png) no-repeat center/cover; }
.otherContainer .orderInfoBox ul.list li .line{display: block; position: absolute; left: 0; right: 0; height: 1px; background-color: #f5f5f7; bottom: 0;}
.financeInfo_ul{column-gap: .12rem;}
.financeInfo_ul li .numberShow{font-family: moneyNumber; font-size: .22rem; text-align: center;}
.financeInfo_ul li .numberShow b{font-size: .34rem; font-weight: 400;}
.financeInfo_ul li p{font-size: .24rem; text-align: center;}


.otherContainer .orderInfoBox.advInfoBox{background: none; padding: 0;}
.advInfoBox .advList.advList2{column-gap: .18rem;}
.advInfoBox .advList{display: grid; column-gap: .08rem; row-gap: .2rem; height: 100% !important; }
.advInfoBox .advList .adv{background-color: #fff; }
.advInfoBox .advList .adv a{height: 100%; width: 100%; display: block;}
.advInfoBox .advList .adv img{display: block; width: 100%; height: 100%; object-fit: cover;}


/* 分隔标题 */
.titleBox .showMore{margin-left: .72rem;}

.titleInfoBox{display: flex; justify-content: space-between; align-items: center; position: relative; padding-top: .2rem; box-sizing: border-box;}
.titleInfoBox .titleInfo{position: relative; display: flex; align-items: center;}
.titleInfoBox .titleInfo.alignCenter{position: absolute;  left: 0; right: 0; margin: auto; top: 0; bottom: 0; text-align: center; justify-content: center;} 
.titleInfoBox .titleInfo h4{position: relative; z-index: 1;}
.titleInfoBox .titleInfo h4 span{position: relative; z-index: 1;}
.titleInfoBox .titleInfo .icon{  object-fit: contain; object-position: left center; display: block; margin-right: .12rem;}
.titleInfoBox .titleInfo .icon img{max-width: 100%; max-height: .32rem; object-fit: cover; display: block;}
.titleInfoBox .titleInfo .tit_line{position: absolute; left: 0; right: 0; height: .1rem; bottom: .04rem;}
.titleInfoBox .moreInfo{font-size: .24rem; display: flex; align-items: center; justify-content: center;}
.titleInfoBox .moreInfo s{ width: .24rem; height: .24rem; overflow: hidden; display: inline-block; vertical-align: middle; margin-bottom: .04rem; margin-left: .04rem;}
.titleInfoBox .moreInfo s em{  content: ''; display: block; width: .24rem; height: .24rem; background: url(/static/images/admin/siteMemberPage/more-arr.png) no-repeat center/cover; filter: drop-shadow(.24rem 0 0 #A1A7B3); transform: translateX(-100%);}

/* 样式2 */
.vipCardStyle2{height: 1.26rem; border-bottom-left-radius: 0 !important; border-bottom-right-radius: 0 !important; clip-path: ellipse(120% 100% at 50% 0); display: flex; align-items: flex-start; flex-direction: column; padding-right: 2.24rem; padding-left: .4rem; justify-content: center; box-sizing: border-box; position: relative; background-size: 100% auto; background-position: top center;}
.vipCardStyle2 .vipIconBox{float: none; justify-content: flex-start; height: auto; padding-left: 0;}
/* .vipCardStyle2 .vipIconBox{float: none; justify-content: flex-start;} */

.vipCardStyle2 .vipScrollBox{width: 100%; line-height: .4rem; height: .4rem;}

.vipCardStyle2 .vip_btn{height: .58rem; color: #fff; font-size: .24rem; display: flex; align-items: center; justify-content: center; position: absolute; top: .3rem;  right: .26rem; margin: auto; min-width: 1.52rem; box-sizing: border-box; padding: 0 .2rem; overflow: hidden; font-weight: bold;}
.vipCardStyle2 .vip_btn.radius_btn s{display: block; width: 100%; height: 100%; background: linear-gradient(90deg, rgba(255,255,255,.4) 0%, rgba(255,255,255,0) 100%); position: absolute; left: 0; right: 0; top: 0; bottom: 0; }


/* 样式3 */
.vipCardStyle3 .vipCardStyle1{margin: 0 !important; height:1.2rem;}
.vipCardStyle3 .vipCardBox .vipIconBox{height:1.2rem;}
.vipCardStyle3  .vipCardStyle1 .vipScrollBox{line-height:1.2rem;}
.vipCardStyle3 .vipCardStyle1 p{font-weight: normal; line-height: .4rem;}
.vipCardStyle3 {background: linear-gradient(90deg, #2B2D40 0%, #262738 100%);}
.vipCardStyle3 .financeInfo{padding: 0 .28rem;}
.vipCardStyle3 .financeInfo ul{display: flex; align-items: center; justify-content: space-between; font-size: .24rem; color: #fff; height: .88rem;}
.vipCardStyle3 .financeInfo ul{text-align: center;}
.vipCardStyle3 .financeInfo li{white-space: nowrap;}
.vipCardStyle3 .financeInfo ul b{font-size: .3rem; color: #F0DEBD; font-family: moneyNumber; margin-left: .08rem;}

.vipCardBox .vip_btn.arrow_btn{background: none !important; padding: 0;}
.vipCardBox .vip_btn.arrow_btn s{background: none !important; width: .36rem; height: .36rem; overflow: hidden; position: static !important; margin-left: .1rem;}
.vipCardBox .vip_btn.arrow_btn s em{ width: .36rem; display: block; height: .36rem; background: url(/static/images/admin/siteMemberPage/arr_icon.png) no-repeat center/cover; transform: translateX(-100%); filter: drop-shadow(.36rem 0 0 #fff); } 

/* 按钮组 */
/* .vipCarCon3 .btnsGroupBox{height: 1.68rem; border-radius: .24rem; background-color: #fff; box-sizing: border-box; padding-top: .24rem;}
.btnsGroupBox li {float: left;}
.btnsGroupBox li .icon{width: .9rem; height: .9rem; margin: auto; }
.btnsGroupBox li .icon img{display: block; width: 100%; height: 100%; object-fit: cover;}
.btnsGroupBox li p{text-align: center; color: #192233; font-size: .24rem;}
.vipCarCon2 .btnsGroupBox{padding-top: .4rem; margin-top: -.2rem; background-color: #fff; padding-bottom: .24rem; border-top-right-radius: 0 !important; border-top-left-radius: 0 !important;} */

/* 按钮组 */
.vipCarCon3 .btnsGroupBox{height: 1.68rem; border-radius: .24rem; background-color: #fff; box-sizing: border-box; padding-top: .24rem;}
.btnsGroupBox{background-color: #fff; box-sizing: border-box; padding-top: .24rem; padding-bottom: .24rem;}
.btnsGroupBox ul{display: flex; align-items: center; justify-content: space-around;}
.btnsGroupBox li {float: left;}
.btnsGroupBox li .icon{width: .9rem; height: .9rem; margin: auto; }
.btnsGroupBox li .icon img{display: block; width: 100%; height: 100%; object-fit: cover;}
.btnsGroupBox li p{text-align: center; color: #192233; font-size: .24rem; margin-top: .06rem;}
.vipCarCon2 .btnsGroupBox{padding-top: .4rem; margin-top: -.2rem; background-color: #fff; padding-bottom: .24rem; border-top-right-radius: 0 !important; border-top-left-radius: 0 !important;}




.wechatInfoBox {display: flex; align-items: center; height: 1.1rem; box-sizing: border-box; padding: 0 .24rem; justify-content: space-between ;}
.wechatInfoBox .flex_l{display: flex; align-items: center;}
.wechatInfoBox .flex_l .icon{width: .76rem; height: .76rem; background: #F7F7F7; border-radius:.1rem; margin-right: .2rem; display: flex; align-items: center; justify-content: center;}
.otherContainer .orderInfoBox.iconsInfoBox ul li .icon{width: .64rem; height: .64rem; margin-bottom: .06rem;}
.otherContainer .orderInfoBox.iconsInfoBox ul{row-gap: .26rem; padding-bottom: .12rem;}
.wechatInfoBox .flex_l .icon img{display: block; max-width: 100%; max-height: 100%; border-radius: .1rem;}
.wechatInfoBox .flex_l  h4{font-size: .26rem; color: #070F21; font-weight: bold;}
.wechatInfoBox .flex_l p{color: #A1A7B3; font-size: .22rem;}
.wechatInfoBox .flex_r span{display: flex;width:.94rem; height: .48rem; background: #FFFFFF; border: 1px solid #0ECF4E; border-radius: .08rem; align-items: center; justify-content: center; color: #0ECF4E;}
.customWechat .wechatInfoBox .image{width: 100%; height: 100%; object-fit: cover;}
.customWechat .wechatInfoBox{padding: 0;}

/* 顶部固定 */
html.huoniao_iOS:not(.wx_miniprogram):not(.baidu_miniprogram):not(.qq_miniprogram):not(.byte_miniprogram)  body:not(.previewPage) .fixedTop{padding-top:.92rem ;}
.fixedTop{position: fixed; left: 0; right: 0; top: 0; background-color: #fff;  z-index: 10; animation: topFadeIn .2s; display: none;}
.fixedTop.show{display: block; animation: topFadeIn .2s;}
.fixedTop.fadeOut{display: block; animation: topFadeOut .2s;}
.fixedTop .top_header{height: .88rem; display: flex; align-items: center; justify-content: space-between;  position: relative;}
.fixedTop .top_header .flex_l{display: flex; align-items: center;}
.fixedTop .top_header .flex_l.flexCenter{justify-content: center; width: 100%;}
.fixedTop .top_header .flex_r{position: absolute; right: 0; top: 0; bottom: 0; margin: auto;}
.fixedTop .top_header .flex_r  ul{height: .88rem; display: flex; align-items: center;}
.fixedTop .top_header .flex_r li {margin-left: .4rem;}
.fixedTop .top_header .flex_r li .icon{width: .44rem; height: .44rem; overflow: hidden; display: block;}
.fixedTop .top_header .flex_r li .icon img{display: block; width: 100%; height: 100%; object-fit: cover; transform: translateX(-100%);}
.fixedTop .top_header .flex_l .infoBox{display: flex; align-items: center; font-size: .36rem;}
.fixedTop .top_header .flex_l .infoBox h4{ font-weight: bold; max-width: 4.2rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.fixedTop .top_header .flex_l.flexCenter .infoBox h4{max-width: 3rem;}
.fixedTop .top_header .flex_l .infoBox .photo{width: .48rem; height: .48rem; border-radius: 50%; margin-right: .12rem;}
.fixedTop .top_header .flex_l .infoBox .photo img{width: 100%; height: 100%; object-fit: cover; border-radius: 50%; }


/* 会员等级样式 */
.lBox{ line-height: .32rem; border-radius: .18rem; display: inline-block;  padding-right: .1rem; position: relative;  overflow: hidden; z-index: 2; vertical-align: middle; margin-top: .14rem;}
.lBox:before{background:rgba(0,0,0,.5); content: ''; display: block; width: 100%; height: 100%; position: absolute;right:0; top: 0; z-index: -2;}
.lBox:after{content: ''; display: block; width: 100%; height: .5rem;position: absolute;right: 0; top: -.16rem; z-index: -1; transform: rotate(-35deg); transform-origin: right center;}
.lBox a {display: block;}
.lBox i{display: inline-block; width: .32rem; height: .32rem;  background: no-repeat center; background-size: .36rem;vertical-align: middle; margin-bottom:.02rem; }
.lBox i img{display:block; width:100%; height:100%; object-fit:cover;}
/* .lBox i img{width: 100%; height: 100%; display: block;} */
.lBox span{vertical-align: middle; font-size: .2rem; color: #fff; }
/* 等级0 */
.lBox.level_0 span{color: #fff; position: relative;z-index: 2;}
.lBox.level_0:before{background: #6A7AB5;}
.memberInfoCon .mleftCon .textCon .vipIcon.lBox.level_0{padding-left: .12rem;}
/* 等级1 */
.lBox.level_1 span{color: #4581B1;}
.lBox.level_1:before{background: rgba(171,214,255,.77);}
.lBox.level_1:after{ background: rgba(65,154,237,.15); }
/* 等级2 */
.lBox.level_2 span{color: #AB7D27;}
.lBox.level_2:before{background: #FFE291; opacity: .77;}
.lBox.level_2:after{background: #B88400; opacity: .15;}
/* 等级3 */
.lBox.level_3:before{background: #4F493D; opacity: .77;}
.lBox.level_3:after{background: #000; opacity: .15;}
/* 等级4 */
.lBox.level_4:before{background: #414A54; opacity: .77;}
.lBox.level_4:after{background: #000; opacity: .15;}
/* 等级5 */
.lBox.level_5:before{background: #171615; opacity: .77;}
.lBox.level_5:after{background: #000; opacity: .15;}
.nolevel.lBox.level_5 {padding:0 .08rem; padding-right:.14rem;}


/* 公众号 */
.wx_mask{position: fixed; top: 0; left: 0; bottom: 0; right: 0; z-index: 98; background-color: rgba(0,0,0,.5);}
.wxPopBox.show{transform: translateY(0);}
.wxPopBox{height: 6.3rem; background: #FFFFFF; border-radius: .4rem .4rem 0px 0px; position: fixed; left: 0; right: 0; bottom: 0; z-index: 999; transform: translateY(100%); transition: transform .3s;}
.wxPopBox h4{font-size: .36rem; color: #000; font-weight: bold; text-align: center; height: 1.1rem; line-height: 1.1rem;}
.wxPopBox .wxQRImg{width: 3.6rem; height: 3.6rem; box-sizing: border-box; padding: .2rem; border-radius: .2rem; border: 1px solid #E4E4E4; margin:0 auto .3rem;} 
.wxPopBox .wxQRImg img{display: block; width: 100%; height: 100%; object-fit: cover;}
.wxPopBox .con h5{font-size: .3rem; color: #000; font-weight: bold; text-align: center;}
.wxPopBox .con p{font-size: .24rem; color: #999; text-align: center; margin-top:.1rem ;}
.van-swipe__indicator{width: .06rem; height: .06rem; border-radius: .03rem;}
.van-swipe__indicator.van-swipe__indicator--active{background-color: #fff; width: .1rem;}


.memberInfo4 .memberInfoCon .mleftCon .textCon .dataCount{display: flex; align-items: center; margin-top: .12rem;}
.memberInfo4 .memberInfoCon .mleftCon .textCon .dataCount li{font-size:.22rem; color: #5C5F66; margin-right: .24rem;}
.memberInfo4 .memberInfoCon .mleftCon .textCon .dataCount li span{font-family: moneyNumber; color: #070F21; font-size: .24rem;}
.lightStyle.memberInfo4 .memberInfoCon .mleftCon .textCon .dataCount li,.lightStyle.memberInfo4 .memberInfoCon .mleftCon .textCon .dataCount li span{color: #fff;}
.memberInfo4 .memberInfoCon .mleftCon .textCon .dataCount li em{font-weight: normal;}
.memberInfo4 .memberInfoCon .mleftCon .textCon .dataCount li:last-of-type{margin-right: 0;}

.memberInfo3{padding-top: .2rem;}
.memberInfo3 .dataCountBox{display: flex; align-items: center; justify-content: space-between; padding-bottom: .08rem; padding-left: .2rem;}
.memberInfo3 .dataCount {display: flex; align-items: center; padding-top: .1rem;}
.memberInfo3 .dataCount li{color: #5C5F66; font-size: .24rem; margin-right:.36rem;}
.memberInfo3 .dataCount li span{color: #070F21; font-size: .26rem; font-family: moneyNumber;}
.lightStyle.memberInfo3 .dataCount li,.lightStyle.memberInfo3 .dataCount li span{color: #fff;}
.memberInfo3 .dataCount li em{font-weight: normal;}
.memberInfo3 .dataCountBox .mrightCon .rbtn s{width: .44rem; height: .44rem;  display: block; margin-right: .08rem;}
.memberInfo3 .dataCountBox .mrightCon .rbtn s img{display: block; width: 100%; height: 100%; object-fit: cover;}
.memberInfo3 .dataCountBox .mrightCon .rbtn{display: flex; align-items: center; justify-content: center; height: .64rem; border-radius: .32rem 0 0 .32rem; padding-left: .24rem; padding-right: .3rem; color: #192233; font-weight: bold;}
.memberInfoCon .mleftCon s.arr{display: block; width: .3rem; height: .3rem; overflow: hidden; position: absolute; right: 0; bottom: 0; top: 0; margin: auto;}
.memberInfoCon .mleftCon s.arr em{width: .3rem; display: block; height: .3rem; background: url(/static/images/admin/siteMemberPage/arr_grey.png) no-repeat center/cover; transform: translateX(-100%); }
.memberInfo4 .mrightCon .rbtn s{width: .44rem; height: .44rem;  display: block; margin-right: .08rem;}
.memberInfo4 .mrightCon .rbtn s img{display: block; width: 100%; height: 100%; object-fit: cover;}
.memberInfo4 .mrightCon .rbtn{display: flex; align-items: center; justify-content: center; height: .64rem; border-radius: .32rem 0 0 .32rem; padding-left: .24rem; padding-right: .3rem; color: #192233; font-weight: bold;}
.vipicon{width: .82rem; height: .32rem; position: relative;}
.vipicon svg{position: absolute; left: 0;  top: 0; width: 100%; height: 100%;}

html.huoniao_iOS:not(.wx_miniprogram):not(.baidu_miniprogram):not(.qq_miniprogram):not(.byte_miniprogram)  body:not(.previewPage) .footer_4_3{display: none !important;}


/* 从上往下缓冲显示 */
@-webkit-keyframes topFadeOut{
    0%{opacity:1;	-webkit-transform:translateY(0);}
      100%{opacity:0;	-webkit-transform:translateY(-10px);}
  }
  
  @-moz-keyframes topFadeOut{
      0%{opacity:1;	-webkit-transform:translateY(0);}
      100%{opacity:0;	-webkit-transform:translateY(-10px);}
  }
  
  @keyframes topFadeOut{
      0%{opacity:1;	-webkit-transform:translateY(0);}
      100%{opacity:0;	-webkit-transform:translateY(-10px);}
  }
  
  .h5Show{display: block;}
  .h5Hide{display: none;}
  html.huoniao_iOS .noShow{display: none !important;}
  html.huoniao_iOS .h5Show{display: none !important;}
  html.huoniao_iOS .h5Hide{display: block !important;}

.backIndex{min-width: 2.1rem; height: .6rem; background: rgba(0,0,0,.5); border-radius: .3rem; font-size: .26rem; color: #fff; position: fixed; bottom: 1.5rem; left: .2rem; display: flex; align-items: center; box-sizing: border-box; padding: 0 .13rem; z-index: 10; transition: all .3s; white-space: nowrap; }
.toPreview.backIndex{text-align: center; justify-content: center;}
.backIndex .close_preview{width: .2rem; height: .2rem; margin-right: .05rem; }
.backIndex .close_preview img{display: block; width: 100%; height: 100%; object-fit: cover;}
.hidePreviewBack.backIndex{opacity: 0; transform: translateY(.1rem);}

.webFixed{position: fixed; left: 0; right: 0; top: 0; z-index: 3; display: none; }
.webFixed .headerTop{padding-bottom: 0;}