body, html{background: #f4f4f4;}

.list .item{background: #fff; margin-bottom: .3rem; box-shadow: 0 7px 10px -7px rgba(0,0,0,.4);}
.list a{display: block;}
.list dl{font-size: .28rem; padding: .1rem .2rem; background: #fff; display: -webkit-box;}
.list dt{display: block;width: 1.6rem;color: #666;}
.list dd {display: block;-webkit-box-flex: 1;}

.loading{font-size: .3rem; text-align: center; line-height: 1rem;}
.loading img {vertical-align: middle;}



/* 新版招聘 */
.container{padding-top: 1.68rem;}
.alignLeft.header{height: .88rem; line-height: .88rem;  position: fixed; left: 0; right: 0; top: 0; background: #f4f4f4 !important; z-index: 99;}
.alignLeft.header .header-l a{height: .88rem;}
.alignLeft.header .header-address{font-size: .36rem; font-weight: bold; line-height: .88rem;}
.header-search s{display: block; width: 1rem; height: .88rem;}

html.huoniao_iOS:not(.wx_miniprogram):not(.qq_miniprogram):not(.byte_miniprogram) .header{display: -webkit-box; padding-top: .5rem !important;}

.tabBox{font-size: .3rem; color: #000; height: .8rem; position: fixed; left: 0; right: 0; top: .88rem; background: #f4f4f4;  z-index: 9;}
.tabBox ul{display: flex; align-items: center; justify-content: flex-start; box-sizing: border-box; padding-top: .12rem; padding-left: .4rem;}
.tabBox i.line{display: block; width: .36rem; height: .08rem; border-radius: .04rem; background-color: #196DF3; position: absolute; left: 0; bottom: .1rem; left: .46rem; transition: left .3s;}
.tabBox ul li.on_chose{font-size: .32rem; font-weight: bold; color: #256CFA;}
.tabBox ul li{position: relative; margin-right: .64rem;}
.tabBox ul li em{display:block; position: absolute; width: .12rem; height: .12rem; border-radius: 50%; background-color: #FF476C; top: -.12rem; right: -.12rem;}
.tabBox ul li .num{display: block; min-width: .3rem; height: .3rem; width: auto; line-height: .31rem; padding: 0 .06rem; box-sizing: border-box; font-size: .22rem; text-align: center; color: #fff;}


.topBgBox{margin: .2rem .18rem 0; height: 2.8rem; background-color: #fff; border-radius: .2rem; padding: 0 .27rem;}
.topBgBox .tbHead{display: flex; align-items: center; justify-content: space-between; line-height: .7rem; padding-top: .05rem;}
.topBgBox .tbHead h4{font-size: .28rem; color: #212121; font-weight: bold;}
.topBgBox .tbCon img{display: block; width: 100%; height: 100%; object-fit: cover;}
.topBgBox .tbCon span{display: block; width: 50%; text-align: center; font-size: .24rem; color: #808080; float: left;}
.topBgBox .tbCon span:last-of-type{color: #FF6A00;}



/* 投递列表 */
.tdListBox {margin-top: .1rem;}
.tdListBox li{margin-bottom: .2rem;}
.tdListBox .tdInfoBox{height: 2.7rem; margin: 0 .2rem; background-color: #fff; border-radius: .2rem; display: block;}
.tdListBox .tdInfoBox .td_state{padding: 0 .25rem; border-bottom: solid 1px #F5F5F5; height: .75rem; display: flex; align-items: center; justify-content: space-between;} 
.tdListBox .tdInfoBox .td_state .left_info{display: flex; align-items: center;}
.tdListBox .tdInfoBox .td_state .right_info span{display: block; color: #999; font-size: .22rem; line-height: .28rem; background: #F7F9FC; border-radius: .06rem; border: solid 1px #d9d9d9; padding: 0 .08rem;}
.tdListBox .tdInfoBox.cancel_td .td_post h2,.tdListBox .tdInfoBox.cancel_td .td_post p.company{opacity: .4;}
.tdListBox .tdInfoBox .td_state h4{color: #5977B3; font-size: .26rem; font-weight: bold;}
.tdListBox .tdInfoBox .td_state span{color: #8D8E91; font-size: .22rem; margin-left: .16rem;}
.tdListBox .tdInfoBox .td_state.state2 h4{color: #FF6C03;}
.tdListBox .tdInfoBox .td_state.state4 h4{color: #999;}
.tdListBox .tdInfoBox .td_state.state3 h4{color: #256CFA;}
.tdListBox .tdInfoBox .td_state.state3 .td_time{color: #256CFA;}
.tdListBox .tdInfoBox.cancel_td  .td_time{opacity: .4;}
.tdListBox .tdInfoBox .td_state s{display: block; width: .3rem; height: .3rem; margin-right: .06rem;}
.tdListBox .tdInfoBox .td_state s img{display: block; width: 100%; height: 100%; object-fit: cover;}
/* .tdListBox .tdInfoBox .td_state::before{content: ''; display: block; width: .3rem; height: .3rem; } */
.tdListBox .tdInfoBox .td_post{padding: .2rem .24rem .32rem;}
.tdListBox .tdInfoBox .td_post h2{font-size: .32rem; color: #212121; font-weight: bold; display: flex; align-items: center; justify-content: space-between; margin-bottom: .2rem;}
.tdListBox .tdInfoBox .td_post h2 .title{max-width: 70%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: inline-block;}
.tdListBox .tdInfoBox .td_post h2 .salary{color: #1861F2; font-size: .32rem; font-family: DINMi;}  
.tdListBox .tdInfoBox.cancel_td .td_post .salary{color: #212121;}
.tdListBox .tdInfoBox .td_post h2 .salary s{text-decoration: none;}
.tdListBox .tdInfoBox .td_post h2 .salary b{font-size: .28rem;}
.tdListBox .tdInfoBox .td_post p.typename{font-size: .24rem; color: #797A80; display: flex; align-items: center; justify-content: space-between; margin-bottom: .24rem;}
.tdListBox .tdInfoBox.cancel_td  .td_post p.typename{color: rgba(196,196,196,.7);}
.tdListBox .tdInfoBox .td_post p.typename span{color: #C4C4C4; font-size: .22rem;}
.tdListBox .tdInfoBox .td_post p.company{font-size: .26rem; color: #212121;}

.loadingText{text-align: center; font-size: .26rem; color: #999; padding: .2rem;}
.noData {text-align: center; font-size: .26rem; color: #999;}
.noData .noDataImg{width: 4.8rem; height: 2.6rem; margin:.7rem auto; margin-top: 1.7rem;}
.noData .noDataImg img{display: block; width: 100%; height: 100%; object-fit: cover;}
.noData h4{font-size: .3rem; color: #333; font-weight: bold; text-align: center;}
@font-face {
	font-family: DINMi;
	src: url('/static/fonts/DINMittelschriftStd.otf'),
		url('/static/fonts/DINMittelschriftStd.TTF'),
		url('/static/fonts/DINMittelschriftStd.svg'),
		 url('/static/fonts/DINMittelschriftStd.woff'); /* IE9 */
}


.listBox{margin-top: .2rem;}
.listBox li{margin: 0 .18rem .18rem;}
.listBox li a{display: block; background-color: #fff; border-radius: .2rem;}

.listBox li .companyInfo{padding: .3rem .18rem; display: flex; align-items: center; position: relative;}
.listBox li .companyInfo .clogo{width: .8rem; height: .8rem; background: #FFF; border: 1px solid #F2F2F2; border-radius: .14rem; margin-right: .16rem; position: relative; }
.listBox li .companyInfo .clogo img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: .14rem;}
.listBox li .companyInfo .clogo span{font-size: .2rem; font-weight: bold; display: block; position: absolute; background-color: #FCE2A9; border: solid 1px #EDD49F; border-radius: .06rem; text-align: center; line-height: .3rem; left: 0; right: 0; bottom: 0;}
.listBox li .companyInfo .clogo span b{transform: skewX(-10deg); display: block;}
.listBox li .companyInfo h4{font-size: .34rem; color: #000; font-weight: bold;}
.listBox li .companyInfo p{color: #797A80; font-size: .24rem; margin-top: .1rem;}
.listBox li .companyInfo p span{vertical-align: middle;}
.listBox li .companyInfo p em{color: #ccc; font-size: .18rem; vertical-align: middle; margin: 0 .1rem;}
.listBox li .companyInfo .cAddr{position: absolute; bottom: .3rem; right: .24rem;}
.listBox li .companyState{display: flex; align-items: center; height: 1rem; border-top: solid 1px #eee; padding: 0 .26rem; }
.listBox li .companyState .cHeadImg{width: .48rem; height: .48rem; border: solid 1px #f2f2f2; border-radius: 50%; background-color: #f5f5f5; margin-right: .2rem;}
.listBox li .companyState .cHeadImg img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.listBox li .companyState .cName{font-size: .24rem; color: #333; font-weight: bold; margin-right: .12rem;}
.listBox li .companyState .cName span{display: inline-block; vertical-align: middle;  max-width: 1.2rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.listBox li .companyState .cState{display: block; line-height: .3rem; background: #EDF7FC; border: 1px solid #ABC7FF; border-radius: .06rem; padding: 0 .08rem; color: #256CFA; font-size: .2rem; margin-right: .14rem;}
.listBox li .companyState p{color: #8D8E91; font-size: .22rem;}
.listBox li .companyState p span{color: #256CFA;}

.noData .btn_toResume{display: block; width: 3rem; height: .8rem; border-radius: .4rem; text-align: center; line-height: .8rem; font-weight: bold; font-size: .3rem; color: #fff; margin:.56rem auto; background: linear-gradient(-90deg, #266EFF 0%, #3381FF 100%);}

.huoniao_iOS .container{padding-top: .8rem;}
.huoniao_iOS .tabBox{top: 0;}
html.huoniao_iOS:not(.wx_miniprogram):not(.qq_miniprogram):not(.byte_miniprogram)  .container{padding-top: 1.32rem;}
html.huoniao_iOS:not(.wx_miniprogram):not(.qq_miniprogram):not(.byte_miniprogram)  .tabBox{padding-top: .52rem;}
html.huoniao_Android:not(.wx_miniprogram):not(.qq_miniprogram):not(.byte_miniprogram)  .container{padding-top: 2.2rem;}
html.huoniao_Android:not(.wx_miniprogram):not(.qq_miniprogram):not(.byte_miniprogram)  .tabBox{padding-top: 1.4rem;}
html.huoniao_iOS .header{display: none !important}
html.huoniao_Android .header{display: -webkit-box !important;}