
body, html{background: #f4f4f4;}
/* .title{font-size: .3rem; padding: .2rem; border-bottom: 1px solid #f4f4f4; background: #fff;} */

/*列表*/
/* .list .list-tit{font-size: .3rem;margin: 0 .2rem;line-height: .8rem;border-bottom: 1px solid #e5e5e5;}
.list .item{margin-top: .2rem; background: #fff;}
.list .item a{display: block;margin: .2rem 0 0 0;}
.list .item .img-box{width: 16%;margin: 0 .2rem;}
.list .item .img-box img{display: block;width: 1.2rem;height: 1.2rem;}
.list .item .img-txt{width: 76%;border-bottom: 1px solid #f1f1f1;padding-bottom: .2rem;}
.list .item .img-txt h3{font-size: .3rem;}
.list .item .img-txt h3 em{color: #ff8731;}
.list .item .img-txt .grey{color: #999;margin-top: .06rem;}
.list .item .img-txt .grey .time{color: #ccc;}
.list .item .img-txt .area span{margin-right: .1rem;}
.list .item .img-txt .info em{color: #ccc;margin: 0 .1rem;	}
.list .item dl{padding: 0 .3rem .2rem;}
.list .item dl .overtime{font-size: .3rem;}
.list .item dl .item-type-2{color: #ccc; margin-top: .1rem;}

.item .checkbox{padding: .1rem .2rem 0; border-bottom: 1px solid #f4f4f4;}
.item .inp{ background: url(../images/ra2.png) left center no-repeat; background-size: .4rem auto; display: inline-block; width: .4rem; height: .5rem; padding: 0 .2rem;}
.item .inp.on{background: url(../images/ra1.png) left center no-repeat; background-size: .4rem auto;}
.item .del{float: right; display: block; width: .8rem; line-height: .5rem; text-align: right;}

.loading{font-size: .3rem; text-align: center; line-height: 1rem;}


.title #selectAll{background: url(../images/ra2.png) left center no-repeat; background-size: .4rem auto; padding-left: .5rem;}
.title #selectAll.on{background: url(../images/ra1.png) left center no-repeat; background-size: .4rem auto; padding-left: .5rem;} */


/* 新版招聘 */
.container{padding-top: 1.88rem;}
.alignLeft.header{height: .88rem; line-height: .88rem;  position: fixed; left: 0; right: 0; top: 0; z-index: 9;}
.alignLeft.header .header-l a{height: .88rem;}
.alignLeft.header .header-address{font-size: .36rem; font-weight: bold; line-height: .88rem;}
.header-search s{display: block; width: 1rem; height: .88rem;}


.tabBox{font-size: .3rem; color: #000; height: 1rem; position: fixed; left: 0; right: 0; top: .88rem; background: #fff;  z-index: 9; display: flex;  justify-content: space-between; align-items: center;}
.tabBox ul{display: flex; align-items: center; justify-content: flex-start; box-sizing: border-box; padding-top: .22rem; padding-left: .4rem; height: 100%; padding-bottom: .4rem;}
.tabBox i.line{display: block; width: .36rem; height: .08rem; border-radius: .04rem; background-color: #196DF3; position: absolute; left: 0; bottom: .18rem; left: .46rem; transition: left .3s;}
.tabBox ul li.on_chose{font-size: .32rem; font-weight: bold; }
.tabBox ul li{position: relative; margin-right: .64rem;}
.tabBox ul li em{display:block; position: absolute; width: .12rem; height: .12rem; border-radius: 50%; background-color: #FF476C; top: -.12rem; right: -.12rem;}
.tabBox ul li .num{display: block; min-width: .3rem; height: .3rem; width: auto; line-height: .31rem; padding: 0 .06rem; box-sizing: border-box; font-size: .22rem; text-align: center; color: #fff;}
.tabBox .manage_btn{font-size: .26rem; color: #949599; padding: 0 .3rem; display: block;}


.listBox ul{margin-top: .2rem}
.listBox li.jobLi{background: #fff;border-radius:.2rem; margin: 0 .2rem; margin-bottom: .2rem;position: relative;}
.listBox li.jobLi.disabled .rInfo .comTitle {color:rgba(0,0,0,.5);}
/* .listBox li.jobLi.disabled::after{content: ''; display: inline-block; width: 1.1rem; height: 0.7rem; background: url(../images/collection/infoguoqi.png) no-repeat center center; background-size: 1.1rem 0.7rem; position: absolute; right: 0.23rem; bottom: 0.2rem;} */
.listBox li.jobLi.disabled a{opacity: .6;}
.listBox li.jobLi.disabled .noFind{display: flex; align-items: center; justify-content: center; font-size: .22rem; color: #999; border:solid 1px #D9D9D9; background-color: #F7F9FC; border-radius: .06rem; position: absolute; right: .24rem; bottom: .32rem; padding: 0 .08rem; height: .28rem;} 
.listBox li.jobLi.state0::before{content: ''; display: block; position: absolute; left: 0; right: 0; top: 0; bottom: 0; z-index: 9; }
.listBox li.jobLi a{display: block;padding: .2rem;transition:  all .2s;overflow: hidden; padding-bottom: .28rem;}
.listBox li.jobLi .leftImg{width: 2rem;height: 1.5rem;overflow: hidden;border-radius: .1rem;float: left;margin-right: .26rem;}
.listBox li.jobLi .leftImg img{display: block;width: 100%;height: 100%;object-fit: cover;}
.listBox li.jobLi .rInfo{position: relative;overflow: hidden;height:1.5rem;}
.listBox li.jobLi .rInfo .comTitle{font-size: .3rem;color: #313233;font-weight: bold;max-width: 100%;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.listBox li.jobLi .rInfo .comTitle.comTitle2{font-size: .28rem;color: #333;}
.listBox li.jobLi .rInfo .comDetp{font-size: .22rem;color: #636366;padding: .12rem 0 .28rem;white-space: nowrap; max-width: 100%;overflow: hidden;text-overflow: ellipsis;}
.listBox li.jobLi .rInfo .comDetp em{display: inline-block;width: 1px;height: .2rem;background: #ddd;margin: .02rem .15rem 0;vertical-align: middle;margin-top: -.04rem;}

.listBox li.jobLi .rInfo .comPrice{color: #1861F2;font-size: .26rem;font-weight: bold;display: flex; align-items: flex-end;}
.listBox li.jobLi .rInfo .comPrice strong{font-family: "coregtd";font-size: .24rem;display: flex;align-items: flex-end;}
.listBox li.jobLi .rInfo .comPrice strong span{font-size: .3rem;display: inline-block; line-height: 1;}
.listBox li.jobLi .rInfo .comPrice strong em{font-size: .24rem;font-weight: bold;line-height: .28rem}
.listBox li.jobLi .rInfo .comPrice em{font-size: .22rem;line-height: .3rem;}

.listBox li.jobLi .comStoreInfo{overflow: hidden;}
.listBox li.jobLi .comStoreInfo .storeImg{width: .4rem;height: .4rem;border-radius: 50%;overflow: hidden;float: left;}
.listBox li.jobLi .comStoreInfo .storeImg img{display: block;width: 100%;height: 100%;object-fit: cover;}
.listBox li.jobLi .comStoreInfo .rStoreinfo{margin-left: .54rem;height: .4rem;line-height: .4rem;}
.listBox li.jobLi .comStoreInfo .rStoreinfo h3{font-size: .22rem;color: #636366;max-width: 100%;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

.listBox li.jobLi .rInfo .cominfo{font-size: .24rem;display: flex;align-items: center;}
.listBox li.jobLi .rInfo .cominfo strong{font-family: "coregtd";color: #1861F2;margin-left: .06rem;font-size: .3rem}
.listBox li.jobLi .rInfo .cominfo em{display: inline-block;width: 1px;height: .2rem;background: #ddd;margin: .02rem .15rem 0}
	/*管理*/
.listBox li.jobLi .rInfo .indexStore{font-size: .28rem;color: #1861F2;font-weight: bold;}
.listBox.on_manage li{position: relative;}
.listBox.on_manage li a{position: relative;margin-left: .7rem;}
.listBox.on_manage li::before{content: ''; display: block; width: .48rem; height: .48rem; border-radius: 50%; background: url(../images/collection/nochose.png) no-repeat  center/cover; position: absolute; left: .22rem; top: 50%;margin-top: -.24rem;}
.listBox.on_manage li.on_chose::before{background-image: url(../images/job/gou.png); background-size: .4rem;}
.listBox.on_manage li::after{content: ''; display: block; position: absolute; left: 0; top: 0; right: 0; bottom: 0; }

.listBox li.jobLi .rInfo .comTitle.comTitle3{max-width: 60%}
.listBox li.jobLi .jobPrice{color: #1861F2;font-size: .28rem;position: absolute;right: .2rem;top: 0;font-weight: bold; font-family: DINMi;}
.listBox li.jobLi .jobPrice strong{font-size: .3rem;font-family: "coregtd";}
.listBox li.jobLi .salary{color: #1861F2;font-size: .26rem;font-weight: bold;}
.listBox li.jobLi .salary strong{font-size: .3rem;font-family: "coregtd";}
.listBox li.jobLi.disabled .jobPrice,.listBox li.jobLi.disabled .rInfo,.listBox li.jobLi.disabled .comStoreInfo .rStoreinfo h3,.listBox li.jobLi.disabled .rInfo .comDetp,.listBox li.jobLi.disabled .comStoreInfo .rStoreinfo{color: rgba(0,0,0,.5) !important;}

/* 关注公司 */
.listBox li.companyLi{margin:0 .2rem .2rem; background-color: #fff; border-radius: .2rem;}
.listBox li.companyLi a{padding: .2rem; display: flex;  transition:  all .2s;}
.listBox li.companyLi .clogo{width: 2rem; height: 1.5rem; border-radius: .1rem; background-color: #f5f5f5; flex-shrink: 0; margin-right: .26rem;}
.listBox li.companyLi .clogo img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius:.1rem;}
.listBox li.companyLi .cinfo{ max-width: calc(100% - 2.26rem);}
.listBox li.companyLi .cinfo h4{font-size: .32rem; color: #212121; font-weight: bold; margin-bottom: .12rem;white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.listBox li.companyLi .cinfo p.cinfo_detail{font-size: .22rem; color: #636366; margin-bottom: .26rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.listBox li.companyLi .cinfo p.cinfo_detail span{vertical-align: middle;}
.listBox li.companyLi .cinfo p.cinfo_detail em{vertical-align: middle; font-size: .18rem; color: #ccc; margin: 0 .1rem;}
.listBox li.companyLi .cinfo p.cjob{font-size: .24rem; color: #636366; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.listBox li.companyLi .cinfo p.cjob span{color: #313133;}
.listBox li.companyLi .cinfo p.cjob em{color: #3377FF;}

.loadingText{text-align: center; font-size: .26rem; color: #999; padding: .2rem;}
.noData {text-align: center; font-size: .26rem; color: #999;}
.noData .noDataImg{width: 4.8rem; height: 2.6rem; margin:.7rem auto;}
.noData .noDataImg img{display: block; width: 100%; height: 100%; object-fit: cover;}
.noData h4{font-size: .3rem; color: #333; font-weight: bold; text-align: center;}


/*底部按钮*/
.manageBox{position: fixed; background-color: #fff; bottom: 0; padding-bottom:calc(-.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.3rem + env(safe-area-inset-bottom)); height: 1.04rem; left: 0; right: 0;display: none;}
.manageBox .btns_group{margin-top: .2rem;display: flex; align-items: center; justify-content: space-between;padding: 0 .3rem 0 .43rem}
.manageBox .btn_clear{font-size: .3rem;color: #313233;display: flex; align-items: center;}
.manageBox .btn_clear i{display: inline-block; width: .48rem; height: .48rem; background: url(../images/collection/nochose.png) no-repeat center; background-size: cover;margin-right: .07rem;}
.manageBox .btn_clear.click i{background: url(../images/job/gou.png) no-repeat center; background-size: .4rem;}
.manageBox .btn_cancel{height: .64rem;line-height: .64rem;background: #1861F2;border-radius: .32rem;font-size: .26rem;color: #fff;padding: 0 .32rem}

.slide-in-bottom {
	display: block;
	-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation-delay: .2s        
}
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1.04rem);
            transform: translateY(1.04rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1.04rem);
            transform: translateY(1.04rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.huoniao_iOS .container{padding-top:.98rem;}
.huoniao_iOS .tabBox{top: 0;}


.myConfirm .pubdelAlertCon p{    font-size: .26rem; line-height: .36rem; color: #999; margin-top: 0.16rem;}
.myConfirm .delTile s{    display: inline-block; width: 0.48rem; height: 0.48rem; background: url(../images/job/tip_icon.png) no-repeat center/cover; vertical-align: middle; margin-bottom: 0.04rem; margin-right: 0.06rem;}