/* 买单记录 */
html, body {background-color: #F5F5F7;}
.header {background: #F5F5F7!important;}

.maidan-search{position: fixed; top: .9rem; left: 0;right: 0; background: #F5F5F7; overflow: hidden; z-index: 99;padding: .1rem .3rem;}
.huoniao_iOS .maidan-search{top: 0;}
.maidan-search form{background: #EDEDF0;border-radius: .35rem;}
.maidan-search form s{display: inline-block;width: .32rem;height: .32rem;background: url(../images/orderimag/search.png) no-repeat center;background-size: cover;margin-left: .32rem;vertical-align: top;margin-top: .2rem;}
.maidan-search form input{background: none;border: none;outline: none;font-size: .28rem;padding: .2rem .18rem;width: 88%;padding-right: 0}
.maidan-search form input::-webkit-search-cancel-button {-webkit-appearance: none;position: relative;height: 20px;width: 20px;border-radius: 50%;background: url(../images/shop/clear_input.png) no-repeat center/cover;background-size: 100% 100%;
}
.maidan-search form input::placeholder{color: #8D8D95;}

#list.maidan .item {margin: .3rem .2rem; background: #fff; border-radius: .1rem; overflow: hidden; padding: .1rem .2rem .3rem; position: relative;}
#list.maidan .item .md-title {border-bottom: 1px solid #f0f0f2; line-height: .7rem; height: .7rem;}
#list.maidan .item .md-title h3 {float: left; max-width: 5rem; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; font-size: .3rem; color: #000; font-weight: 700;}
#list.maidan .item .md-title h3::before {content: ""; display: inline-block; margin: -.05rem .05rem 0 0; width: .36rem; height: .36rem; background: url('/static/images/business/business-icon.png'); vertical-align: middle; background-size: cover;}
#list.maidan .item .md-title span {float: right; color: #F5573E; font-size: .24rem;}
#list.maidan .item .md-info {padding-top: .3rem;}
#list.maidan .item .md-info .md-img {float: left; width: 1.5rem; height: 1.5rem; margin-right: .18rem;}
#list.maidan .item .md-info .md-img img {display: block; width: 1.5rem; height: 1.5rem; object-fit: cover; border-radius: 5px;}
#list.maidan .item .md-info .md-text {position: relative; overflow: hidden;}
#list.maidan .item .md-info .md-time {font-size: .26rem; color: #333; font-weight: 700; margin: .1rem 0 .2rem;}
#list.maidan .item .md-info .md-num {font-size: .24rem; color: #9A9AA0; line-height: 1.6em;}
#list.maidan .item .md-info .amount {position: absolute; right: 0; bottom: 0; font-size: .26rem; color: #333;}
#list.maidan .item .md-info .amount strong {font-size: .4rem; color: #000;}
#list.maidan .item .md-comment {float: right; width: 1.7rem; height: .6rem; background: linear-gradient(90deg, #FF6B26 1%, #FF362F 100%); border-radius: .3rem; color: #fff; text-align: center; line-height: .6rem; margin-top: -.25rem;}
#list.maidan .item .md-comment.hasyouhui {margin-top: .1rem;}