.showMask.mask_pop{display: block;}
.mask_pop{display: none;}
.pubPopBox.showPop{transform: translateX(0);}
.preview_mask{position: fixed; left: 0; right: 0; top: 0; bottom: 0; background: rgba(0,0,0,.5); z-index: 100; display: none;}
.pubPopBox{position: fixed; left: 0; right: 0; bottom: 0; background: #fff;  border-radius: .5rem .5rem 0 0 ; min-height: 4rem;z-index:100; padding-bottom: 1.2rem; box-sizing: border-box; transform: translateY(100%); transition: transform .3s; padding-bottom:calc(-.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.3rem + env(safe-area-inset-bottom));}
.pubPopBox .pop_head{display: flex; align-items: flex-start; justify-content: space-between; padding: .4rem; height: 1.5rem; box-sizing: border-box;}
.pubPopBox .pop_head h2{font-size: .4rem; color: #141933; font-weight: bold;}
.pubPopBox .pop_head a.close_pop{display:block; width: .24rem; height: .24rem; background: url(../images/close_btn1.png) no-repeat center/cover;}

.pubPopBox .pop_con{padding:.1rem 0; box-sizing: border-box; height: 6.1rem; overflow: auto;border-bottom: solid .2rem #fff; box-sizing: border-box;}
.pubPopBox .pop_con .selectUl li{display: flex; align-items: center; justify-content: space-between; padding: .24rem .4rem;}
.pubPopBox .pop_con .selectUl li label{font-size: .28rem; color: #141933; font-weight: bold;}
.pubPopBox .pop_con .selectUl li span{color: #919399; font-size: .28rem; display: flex; align-items: center;}
.pubPopBox .pop_con .selectUl li span::after{content: ''; display: block; width: .3rem; height: .3rem; background: url(../images/fxjoin-r.png) no-repeat center/cover; margin-left: .04rem;} 

.pubPopBox .pop_con .postLikeUl{margin: .2rem .4rem 0;}
.pubPopBox .pop_con .postLikeUl li{background-color: #F7F9FC; border-radius: .4rem; margin-bottom: .2rem; display: flex; align-items: center; justify-content: space-between; padding: .32rem .36rem; box-sizing: border-box; height: 1.5rem;}
.pubPopBox .pop_con .postLikeUl li h4{font-size: .32rem; color: #141933; font-weight: bold; margin-bottom: .1rem; }
.pubPopBox .pop_con .postLikeUl li p{font-size: .26rem; color: #616266;}
.pubPopBox .pop_con .postLikeUl li p em{color: #ccc;}
.pubPopBox .pop_con .postLikeUl li .right_btn a{display: block; width: .4rem; height: .4rem; background: url(../images/mcenter/edit_btn.png) no-repeat center/cover; }
.pubPopBox .pop_foot {margin: 0 .4rem;padding-bottom: .2rem;}
.pubPopBox .pop_foot a.btn_blue{height: .88rem; background: linear-gradient(-90deg, #266EFF 0%, #3381FF 100%); border-radius: .44rem; text-align: center; font-size: .3rem; display: flex; align-items: center; justify-content: center; color: #fff; font-weight: bold;}

.state_pop.showPop{transform: translateY(0);}
.state_mask{position: fixed; left: 0; top: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,.5);  z-index: 100; display: none;}
.state_pop>h3{font-size: .28rem; color: #999; text-align: center; padding-top: .3rem; padding-bottom: .3rem;}
.state_pop{position: fixed; left: 0; right: 0; bottom: 0;  z-index: 100; background: #fff; box-shadow: 0 -.03rem .13rem 0 rgba(25,30,59,0.05); border-radius: .4rem .4rem 0 0; transform: translateY(100%);transition: transform .3s;}
.state_pop .popCon{max-height: 7rem; overflow: auto; ;}
.state_pop .popCon li{font-size: .3rem; color: #000; text-align: center; line-height: 1rem; border-bottom: solid 1px #f5f5f7;}
.state_pop .popCon li.on_chose{color: #196DF3; font-weight: bold;}
.state_pop .popCon ul{border-bottom: solid #F7F9FC .16rem;}
.state_pop .popCon ul:last-of-type{border: none;}
.state_pop .btn_cancel{line-height: .96rem; font-size: .3rem; color: #808080; height: .96rem; text-align: center; display: block;}

.resumeShow_pop .pop_con .postLikeUl li p{font-size: .24rem;}
.resumeShow_pop .pop_con .postLikeUl li{opacity: .5; background: none; position: relative;}
.resumeShow_pop .pop_con .postLikeUl li.on_chose{opacity: 1; background-color: #F7F9FC;}
.resumeShow_pop .pop_con .postLikeUl li.on_chose::after{content: ''; display: block; width: .3rem; height: .3rem; background: url(../images/mcenter/gou.png) no-repeat center/cover; position: absolute; right: .2rem;}
.resumeShow_pop.pubPopBox .pop_con{max-height: 6rem; height: auto; min-height: 4.5rem}

.intention_mask{position: fixed; left: 0; right: 0; top: 0; bottom: 0; background: rgba(0,0,0,.5); z-index: 100; }

/* 选择职位  弹窗 */
/* .pubPopBox .pop_head a.close_text{font-size: .26rem; color: #949599;}
.intention_pop .pop_con{max-height: 9.6rem; height: auto; min-height: 6.2rem;}
.intention_pop .popTip{margin: 0 .3rem; height: .64rem; background: linear-gradient(90deg, #FCF4FE 0%, #EDF3FF 100%); border-radius: 32px; color: #6B7A99; font-size: .24rem; padding: 0 .36rem; line-height: .64rem;}
.intention_pop .pop_con .categoryList_ul li,.intention_pop .parentContainer .parentBox  .categoryList_ul li {line-height: 1rem; font-size: .3rem; color: #333; padding-left: .42rem; position: relative; display: flex; align-items: center; justify-content: flex-start;}
.intention_pop .pop_con .categoryList_ul li.on_chose::before,.intention_pop .parentContainer .parentBox  .categoryList_ul li.on_chose::before{border-left: solid .07rem #196DF3; position: absolute; left: 0; top: 0; bottom: 0; margin: auto; content: ''; height: .42rem;}
.intention_pop .pop_con .categoryList_ul li.on_chose,.intention_pop .parentContainer .parentBox  .categoryList_ul li.on_chose{color:#256CFA; font-weight:bold;}
.intention_pop .parentContainer{position: absolute; top: 1.5rem; left: 0; right: 0; bottom: 0; pointer-events: none;} 
.intention_pop .parentContainer.showLeftPop{pointer-events: auto;} 
.intention_pop .parentContainer .parent_mask{display: none; background-color: rgba(0,0,0,.6); height: 100%;}
.intention_pop .parentContainer.showLeftPop .parent_mask{display: block;}
.intention_pop .parentContainer .parentBox{position: absolute; left: .9rem; top: 0; bottom: 0; right: 0; background-color: #fff;}
.intention_pop .parentContainer .parentBox  .categoryList_ul{width: 100%; box-sizing: border-box; transition: width .3s; flex-shrink: 0; overflow: auto;}
.intention_pop .parentContainer .parentBox  .categoryList_ul li{font-size: .26rem; color: #4D4D4D; height: 1rem; line-height: .34rem;}
.intention_pop .parentContainer .parentBox.open  .categoryList_ul.parent_ul{width: 2.6rem; line-height: .34rem; padding-right: .4rem; box-sizing: border-box; }
.intention_pop .parentContainer .parentBox{display: flex; align-items: flex-start; transform: translateX(100%); transition: transform .3s;}
.intention_pop .parentContainer.showLeftPop .parentBox{transform: translateX(0);}
.intention_pop .parentContainer .parentBox .childrenBox{width: 100%; height: 100%; background-color: #F7F9FC; box-sizing: border-box; padding-right: .22rem; overflow: auto; }
.intention_pop .parentContainer .parentBox.open .childrenBox { visibility: visible;}
.intention_pop .parentContainer .parentBox .childrenBox li{padding-left: .56rem;}
.intention_pop .parentContainer .parentBox .childrenBox li h4{color: #4d4d4d; font-size: .26rem; max-width: 2.6rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.intention_pop .parentContainer .parentBox .childrenBox li.on_chose::before{display: none;}
.intention_pop .parentContainer .parentBox .childrenBox li.on_chose h4{color: #256CFA;} */
.pubPopBox.intention_pop .pop_con{overflow:unset; border-bottom: none;}
.pubPopBox.intention_pop .pop_foot{margin: 0;}
.pop_foot {border-top: solid 1px #eee;}
.pop_foot .hasChoseBox{display: flex; align-items: center; padding-left: .38rem; padding-top: .28rem; padding-bottom: .3rem; overflow: auto; }
.pop_foot .hasChoseBox::-webkit-scrollbar{display: none;}
.pop_foot .hasChoseBox .label{color: #666; font-size: .26rem; margin-right: .38rem; flex-shrink: 0;}
.pop_foot .hasChoseBox .label span{font-size: .26rem; color: #212121; margin-left: .1rem;}
.pop_foot .hasChoseBox .label span b{font-size: .3rem;}
.pop_foot .hasChoseBox .label span b.hasNum{color: #2A81FD;}
.pop_foot .hasChoseBox  .hasChose{white-space: nowrap; flex-shrink: 0; height: .56rem;}
.pop_foot .hasChoseBox  .hasChose span{display: inline-flex; min-width: 1.38rem; height: .56rem; border-radius: .28rem; background-color: #EBF1FF; font-size: .24rem; color: #256CFA; align-items: center; justify-content: center; box-sizing: border-box; padding: 0 .3rem; margin-right: .2rem;}
.pop_foot .hasChoseBox  .hasChose span s{display: block; width: .2rem; height: .2rem; background: url(../images/job/del_btn.png) no-repeat center/cover; margin-left: .14rem;}
.pop_foot .btn_groups a{display: block; width: 2.3rem; height: .88rem; border-radius: .44rem; background-color: #F5F6F7; color: #949699; font-size: .3rem; text-align: center; line-height: .88rem; font-weight: bold;}
.pop_foot .btn_groups a.sureBtn{ background: linear-gradient(-90deg, #266EFF 0%, #3381FF 100%); width: 4.2rem; color: #fff;}
.pop_foot .btn_groups {padding: 0 .4rem .2rem; display: flex; align-items: center; justify-content: space-between;}

.intention_pop {overflow-x: hidden;}
.intention_pop .headTit{height: 1.4rem; border-bottom: solid 1px #eee; padding-left: .4rem; padding-top: .32rem; box-sizing: border-box;}
.intention_pop .headTit h3{font-size: .36rem; color: #141933; font-weight: bold;}
.intention_pop .headTit p{color: #949599; font-size: .24rem; margin-top: .1rem;}
.intention_pop .headTit .close_pop{display: block;display: block; width: 0.4rem; height: 0.4rem; background: url(../images/mcenter/close_btn.png) no-repeat center/cover; position: absolute; right: 0.3rem; top: 0.3rem; position: absolute;}
.intention_pop .pop_con {position: relative; height: 8.3rem;}
.intention_pop .pop_con .categoryList_ul li,.intention_pop .parentContainer .parentBox  .categoryList_ul li {line-height: 1rem; font-size: .3rem; color: #333; padding-left: .42rem; position: relative; display: flex; align-items: center; justify-content: flex-start;}
.intention_pop .pop_con .categoryList_ul li.curr_chose::before,.intention_pop .parentContainer .parentBox  .categoryList_ul li.curr_chose::before{border-left: solid .07rem #196DF3; position: absolute; left: 0; top: 0; bottom: 0; margin: auto; content: ''; height: .42rem;}
.intention_pop .pop_con .categoryList_ul li.on_chose,.intention_pop .parentContainer .parentBox  .categoryList_ul li.on_chose{color:#256CFA; font-weight:bold;}
.intention_pop .parentContainer{position: absolute; top: 0; left: 0; right: 0; bottom: 0; pointer-events: none; z-index: 9;} 
.intention_pop .parentContainer.showLeftPop{pointer-events: auto;} 
.intention_pop .parentContainer .parent_mask{display: none; background-color: rgba(0,0,0,.6); height: 100%;}
.intention_pop .parentContainer.showLeftPop .parent_mask{display: block;}
.intention_pop .parentContainer .parentBox{position: absolute; left: .9rem; top: 0; bottom: 0; right: 0; background-color: #fff;}
.intention_pop .parentContainer .parentBox  .categoryList_ul{width: 100%; box-sizing: border-box; transition: width .3s; flex-shrink: 0;  position: relative;}
.intention_pop .parentContainer .parentBox  .categoryList_ul li{font-size: .26rem; color: #4D4D4D; height: 1rem; line-height: .34rem;}
.intention_pop .parentContainer .parentBox.open  .categoryList_ul.parent_ul{line-height: .34rem; padding-right: .4rem; box-sizing: border-box; }
.intention_pop .parentContainer .parentBox{display: flex; align-items: flex-start; transform: translateX(100%); transition: transform .3s;}
.intention_pop .parentContainer.showLeftPop .parentBox{transform: translateX(0);}
.intention_pop .parentContainer .parentBox .childrenBox{width: 100%; height: 100%; background-color: #F7F9FC; box-sizing: border-box; padding-right: .22rem; overflow: auto; }
.intention_pop .parentContainer .parentBox.open .childrenBox { visibility: visible;}
.intention_pop .parentContainer .parentBox .childrenBox li{padding-left: .56rem; position: relative;}
.intention_pop .parentContainer .parentBox .childrenBox li h4{color: #4d4d4d; font-size: .26rem; max-width: 2.6rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.intention_pop .parentContainer .parentBox .childrenBox li.on_chose::before{display: none;}
.intention_pop .parentContainer .parentBox .childrenBox li.on_chose h4{color: #256CFA;}
.intention_pop .parentContainer .parentBox .childrenBox li.on_chose::after{content: ''; display: block; width: .24rem; height: .24rem; background: url(../images/job/gou_2.png) no-repeat center/cover; position: absolute; right: .2rem; top: 0; bottom: 0; margin: auto;}
/* .intention_pop .root_ul{max-height: 100%; overflow-y: auto;} */

.userinfo_box .uhead_box .uinfo h3 span{display: inline-block; font-size: .2rem; font-weight: normal; line-height: .26rem; background: rgba(255,255,255,0); border: 1px solid #7F9EFE; border-radius: .04rem; padding: 0 .06rem;  margin-left: .1rem; vertical-align: middle; margin-bottom: .04rem; color: rgba(255,255,255,.7);}


/* 刷新置顶弹窗 */
.refresh_mask{position: fixed; left: 0; right: 0; top: 0; bottom: 0; background-color: rgba(0,0,0,.6); z-index: 1000; display: none;}
.refresh_mask.showPop,.refresh_pop.showPop{display: block;}
.refresh_pop{min-height: 7.5rem; position: fixed; left: .26rem; right: .26rem; bottom: calc(.26rem + constant(safe-area-inset-bottom)); z-index: 100001; bottom: calc(.26rem + env(safe-area-inset-bottom)); background-color: #fff; border-radius: .5rem; display: none; animation: bottomFadeIn .3s;}
.refresh_pop .top_tit{background: url(../images/job/pop_headbg.jpg) no-repeat center/cover; height: 1.7rem; border-radius: .5rem .5rem 0 0;}
.refresh_pop .top_tit h4{color: #fff; padding: .4rem .4rem;}
.refresh_pop .top_tit h4 b{font-size: .38rem; font-weight: bold; margin-right: .08rem;}
.refresh_pop .popCon{position: absolute; left: 0; right: 0; bottom: 0; top: 1.3rem; border-radius:.38rem .38rem .5rem .5rem ; background-color: #fff; padding-top: .2rem;}
/* .refresh_pop .popCon .popCon{max-height: 4.2rem; padding-top: .22rem;} */
.refresh_pop .popCon .popCon{max-height: 5rem; padding-top: .22rem;}
.refresh_pop .popCon .refresh_smart ul{max-height: 5rem;overflow: auto; padding: 0 .24rem; }
.refresh_pop .popCon .refresh_smart ul li{display: flex; align-items: center; justify-content: space-between; border: solid .03rem #fff;padding: 0 .42rem; height: 1rem; box-sizing: border-box; border-radius: .2rem; font-size: .28rem; color: #131626;}
.refresh_pop .popCon .refresh_smart ul li .leftinfo span{font-size: .26rem; color: #F27B0C; margin-left: .22rem;}
.refresh_pop .popCon .refresh_smart ul li .price_show{font-size: .24rem; font-weight: bold;}
.refresh_pop .popCon .refresh_smart ul li .price_show b{font-size: .32rem; font-family: moneyNumber;}
.refresh_pop .popCon .refresh_smart ul li.on_chose{ border: solid .03rem #FC4F17; background-color: #FFFAFA;}

.refresh_pop .popCon .btnBox{text-align: center; margin: 0 .65rem; position: absolute; left: 0; right: 0; bottom: .4rem;}
.refresh_pop .popCon .btnBox p{font-size: .24rem ; color: #45464C; margin-bottom: .14rem;}
.refresh_pop .popCon .btnBox span{color: #F27B0C; font-weight: bold;}
.refresh_pop .popCon .btnBox a{display: block; height: .9rem; border-radius: .45rem; color: #fff; background: linear-gradient(90deg, #FF6F08 0%, #FA3425 100%); font-size: .3rem; font-weight: bold; line-height: .9rem; }
.refresh_pop .popCon .btnBox a{background: #183359;}

.refresh_pop.totop_pop{min-height: 8.8rem;}
.refresh_pop.totop_pop .top_tit{background-image: url(../images/job/top_bg.jpg);}
/* .totop_pop.refresh_pop .popCon .refresh_smart{max-height: 5.22rem;}
.totop_pop.refresh_pop .popCon .refresh_smart ul{max-height: 5.22rem;} */
.refresh_pop .popCon:after { content: ''; display: block; position: absolute; left: 0; right: 0; top: 3.82rem; height: 0.6rem; bottom: 0; background: linear-gradient(0deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)); pointer-events: none;}
.refresh_pop.totop_pop .popCon:after{top: 5.03rem;}

.popCon .refreshBox{display: flex ; align-items: center; height: .62rem; border-radius: .31rem; background: linear-gradient(90deg, #DEEBFF 0%, #F5F9FF 100%); font-size: .24rem; color: #5C5E66; margin:0 .16rem .2rem; padding: 0 .18rem 0 .26rem;}
.totop_pop .popCon .refreshBox{ background: linear-gradient(90deg, #FFEDEB 0%, #FFFAFA 100%);}
.popCon .refreshBox span{display: flex; align-items: center; justify-content: center; color:#fff; background: linear-gradient(90deg, #1D6CF3 0%, #50A6FF 100%); padding: 0 .05rem 0 .03rem; border-radius: .06rem; margin-right: .06rem;}
.totop_pop .popCon .refreshBox span{ background: linear-gradient(90deg, #FF601A 0%, #FF8C25 100%);}
.popCon .refreshBox span::before{content: ''; display: block; width: .22rem; height: .22rem; background: url(../images/job/fresh_icon.png) no-repeat center/cover; }
.totop_pop .popCon .refreshBox span::before{background-image: url(../images/job/top_icon.png);}
.onfreshPop.refresh_pop {min-height: 8.52rem;}
.onfreshPop.refresh_pop .popCon:after{top: 4.84rem;}

.successPopMask{position: fixed; left: 0; right: 0; top: 0; bottom: 0; background-color: rgba(0, 0, 0, .5);z-index: 999999}
.successPop{height: 1.8rem; background: #FFFFFF; border-radius: .3rem; width: 5.6rem; position: fixed; left: 0; right: 0; top: 0; bottom: 0; margin: auto; display: flex; align-items: center; justify-content: center; flex-direction: column; text-align: center; z-index: 9999999;}
.successPop h4{font-size:.34rem; color: #000; font-weight: bold; display: flex; align-items: center; justify-content: center;}
.successPop h4 s{display: inline-block; width: .4rem; height: .4rem; background: url(../images/job/gou.png) no-repeat center/cover;}
.successPop p{color: #666; font-size: .26rem; margin-top: .2rem;}

.refreshNow_mask{position: fixed; left: 0; right: 0; top: 0; bottom: 0; background: rgba(0,0,0,.5); z-index: 100;}
.refreshNowPop{position: fixed; left: 0; right: 0; top: 0; bottom: 0; margin: auto; width: 6.2rem; z-index: 100; height: 3.3rem; background: #FFFFFF url(../images/job/refresh_bg.png) no-repeat center top/100% auto; box-shadow: 0px .07rem .37rem 0px rgba(0,0,0,0.13); border-radius: .3rem; box-sizing: border-box; padding-top: .52rem; animation: popup .3s;}
.refreshNowPop .refreshCon h4{font-size: .3rem; color: #000; font-weight: bold; text-align: center;}
.refreshNowPop .refreshCon h4 b{color: #3377FF;}
.refreshNowPop .refreshCon p{text-align: center; font-size: .26rem; color: #7E838C; margin-top: .26rem;}
.refreshNowPop .refreshCon p span{color: #5C5F66;}
.refreshNowPop .refreshCon a{display: flex; align-items: center; justify-content: center; width: 4.5rem; height: .8rem; background: linear-gradient(-90deg, #266EFF 0%, #3381FF 100%); border-radius: .4rem; color: #fff ; font-size: .3rem; margin: auto; margin-top: .5rem;}
.refreshNowPop a.close_pop{width: .64rem; height: .64rem; position: absolute; left: 0; right: 0 ; bottom: -.98rem; margin: auto; background: url(../images/job/close_pop.png) no-repeat center/cover; display: block;}
.rootBox{max-height: 100%; overflow: auto;}
.parentBoxS{height: 100%; overflow: auto; min-width: 2.6rem; flex-shrink: 0;}