body, html{background: #fff; opacity: 1; height: 100%;}
body {}
.header{border-bottom: none}

.topCon{border-radius: .2rem;box-shadow: 0px .16rem .38rem 0px rgba(232, 29, 23, 0.23);background: url(../images/xfj_cz.png) no-repeat center; background-size: cover;padding: .38rem .6rem .6rem;margin: .3rem .3rem .5rem;}
.topCon h4{font-size: .26rem;color: rgba(255,255,255,.6);text-align: center;}
.topCon .xfmoney{font-size: .6rem;color: #fff;font-weight: bold;text-align: center;font-family: moneyNumber;line-height: 1;margin-top: .08rem;}

.depositCon{margin: 0 .3rem;}
.depositCon h2.tit{font-size: .24rem;color: #999;padding-bottom: .46rem;padding-top: .2rem}
.depositCon h2.tit strong{font-size: .36rem;color: #000;margin-right: .1rem}


.deRightFadein{animation: rightFadeIn .3s ease-out;}

.depositConbot{display: none;}
.depositConbot.show{display: block;}
/*礼品卡*/
.depositCon input.giftpassword{font-size: .3rem;background: #F7F7F7;border-radius: .5rem;border: none;
    padding: .35rem .44rem;width: 6.02rem; height: .3rem;}
.depositCon input.giftpassword::placeholder{color: #999;}
p.depositTip{font-size: .24rem;color: #999;display: flex;align-items: center;justify-content: center;}
p.depositTip span{color: #F73534;}
p.depositTip::before{content: '';width: .32rem;height: .32rem;background: url(../images/login/gou.png) no-repeat;background-size: contain;margin-right: .06rem;}
p.depositTip.agree::before{background-image: url(../images/login/gou1.png);}

.depositCon .giftSure{margin-top: .68rem;margin-bottom: .3rem;}
.depositCon .giftSure a{display: block;width: 100%;height: .9rem;line-height: .9rem;border-radius: .45rem;background: rgba(57,52,46,1);font-size: .36rem;color: #fff;font-weight: bold;text-align: center;}
.depositCon .giftSure a.disabled{background: rgba(57,52,46,.35);}

.giftBox{position: relative;}
.giftBox s{display: inline-block;position: absolute;top: .25rem;right: .26rem;width: .5rem;height: .5rem;background: url(../images/account/closeInp.png) center center no-repeat;background-size: .5rem;display: none;}

.inpBox{border: 1px solid #eee;border-radius: .1rem;padding: .27rem 0;position: relative;}
.inpBox input{padding-left: .26rem;border: none;background: none;outline: 0;font-size: .28rem;color: #333;text-align: right;width: 66%;box-sizing: border-box;padding-right: .8rem;}
.inpBox label{margin-left: .26rem;font-size: .28rem;color: #333; flex-shrink: 0;}
.inpBox input::placeholder{color: #333;text-align: left;}
.inpBox span{font-size: .28rem;color: #999; /*position: absolute;right: .2rem;top: .26rem;*/}
.depositCon .inpBox input{padding-right: .55rem}



.right_inp { display: flex; align-items: center; justify-content: flex-end;}
b.selfNum{
  display:inline-block;min-width: 1rem; text-align: right;  height:.3rem; text-align:right; box-sizing:border-box; padding-right:.1rem;
  font-size: .28rem; font-weight: normal
}
b.focus::after {
    content: '|';
    color: #000;
    animation: blink .8s infinite steps(1, start);
}

#selfNumBox{display: flex; align-items: center; justify-content: space-between; padding-right: .16rem;}
@font-face {
  font-family: "coregtd";
  src: url("/static/fonts/coregtd6.woff2"),
       url("/static/fonts/coregtd6.woff"),
       url("/static/fonts/coregtd6.ttf"),
       url("/static/fonts/coregtd6.eot"),
       url("/static/fonts/coregtd6.otf");
}


@-webkit-keyframes scale-up-bottom {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 1;
  }
}
@keyframes scale-up-bottom {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
            opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
            opacity: 1;
  }
}
