body, html{background: #F5F5F5; font-size: .28rem;height: 100%}

/*.header-l{padding-right: .8rem;}*/
.header-r{visibility: visible;}
img{max-width: 100%}
.comTitle{font-size: .3rem ;color: #39393B;}

.wrap{margin: .2rem .24rem}
.wrap .wrap_content2{padding: .2rem .2rem 0 .2rem;box-sizing: border-box;background: #fff;border-radius: .16rem;margin-bottom: .2rem}

.content_top{position: relative; margin-bottom: .2rem;}
.content_top .left_b{width: 1.2rem;height: 1.2rem;float: left;}
.content_top .left_b img{width: 100%;height: 100%;object-fit: cover;border-radius: .1rem}
.content_top .right_b{margin-left:1.37rem;}
.right_b .jz_order_title{font-size: .28rem;color: #39393B;line-height: .4rem;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;}

.right_b .jz_order_time{color: #404040;margin-top: .3rem}
.right_b .jz_order_time span:first-child{font-size: .28rem;}
.right_b .jz_order_time span.yufu{margin-left: .15rem;font-size: .24rem;color: #fff;height: .34rem;line-height: .34rem;border-radius: .04rem;padding: 0 .1rem;background: #ff674e}
.right_b .jz_order_time span:last-child{font-size: .26rem;margin-left: .15rem;color: #919191}

.jz_order_price{height: 1rem;line-height: 1rem;border-top:1px solid #e8e8e8;background: #fff;font-size: .24rem;color: #3b3b3b;text-align: right;padding-right: .35rem;margin-bottom: .2rem}

.jz_order_price span{margin-left: .1rem}
.jz_order_price span:last-child{font-size: .32rem;font-weight: bold;}

.wrap .wrap_content3{box-sizing: border-box;}

.star{color: #ff4646;}
#cancel_price::placeholder{color: #3b3b3b;font-weight: bold;font-size: .3rem}
.cancel_info li{font-size: 0;padding: .22rem .2rem .24rem;background: #fff;margin-bottom: .2rem;border-radius: .16rem}
.cancel_info li.oneheight{padding: .25rem .2rem}

/*.cancel_info li span.name{font-size: .3rem;color: #39393B}*/

.cancel_info li span.name{font-size: .3rem;color: #39393B;margin-right: .1rem}

.cancel_info li em.sym{color: #E30000;font-size: .32rem}
.cancel_info li input{border: 0;font-size: .28rem;color: #333}
.cancel_info li input#reason{float: right;text-align: right;}
.cancel_info li input#cancel_price{color: #E30000;font-size: .32rem;}
.cancel_info li p.maxMoney{font-size: .26rem;color: #999;margin-top: .16rem;}


.com-box .fakeDiv{display: flex;float: right;align-items: center;margin-top: .02rem}
.com-box .choose .text{display: inline-block;color: #999;font-size: .28rem;}
.com-box .choose .text.fn-hide{display: none;}
/**/
/*确认服务申请售后*/
.com-box .cancel_reason,.com-box .tk_typeW{color: #45464f;}
.com-box .cancel_reason .name,.com-box .tk_typeW .name{float: left;}
.com-box .cancel_reason input,.com-box .tk_typeW input{float: right;text-align: right;border: 0;color: #45464f;background: #fff;}
.com-box .cancel_reason .choose,.com-box .tk_typeW .choose{float: right;}
.com-box .cancel_reason .choose i,.com-box .tk_typeW .choose i{display: inline-block;width: .14rem;height: .24rem;background:url("../images/homemaking/icon_next.png") no-repeat;background-size: contain;margin-left: .17rem;margin-top: .02rem}


.wrap_content4 .proof{font-size: .3rem;color: #404040}

/*图片上传*/
.wrap_content4{margin-top: .2rem;background: #fff;border-radius: .16rem;padding: .22rem .2rem;}

.img_box h3{margin-bottom: .32rem;}
.img_box li{width: 1.5rem; height: 1.5rem; border-radius: .1rem; float: left; position: relative; margin-bottom: .2rem;box-sizing: border-box;margin-right: .2rem;}
.img_box li.upload_btn{border: .02rem dashed #BABFCA;}
.img_box li:nth-child(4n){margin-right: 0; }
.img_show {width: 100%; height: 100%; border-radius: .1rem; overflow: hidden; position: relative;}
.del_btn{width: .32rem; height: .32rem; border-radius: 50%; background-color: rgba(0,0,0,1); position: absolute;top: -.1rem; right: -.1rem; color: #fff; font-size: .38rem; text-align: center;  font-style: normal; line-height: .32rem; transform: rotate(45deg);}
.img_box img,.img_show video{width: 100%;display: block; height: 100%; object-fit: cover;}
.imgshow_box p{ background-color: rgba(0,0,0,.8); color: #fff; position: absolute; bottom: 0; text-align: center; }
.upload_btn p,.addbtn p{font-size: .2rem; color: #BABFCA; text-align: center;width: 1.1rem; margin: auto; line-height: 1.25em;}
.upload_btn img,.addbtn img{width: .46rem; height: .46rem; margin: auto; display: block; margin-top: .22rem; margin-bottom: .1rem;}
.upload_btn input{width: 1.5rem; height: 1.5rem; position: absolute; top: 0; left: 0; opacity: 1;z-index: 10;}
.upload_btn,.addbtn{position: relative;}
#filePicker{height: 100%; overflow: hidden;}
.webuploader-element-invisible {position: absolute !important; clip: rect(1px,1px,1px,1px);}
.webuploader-container div {width: 1.5rem; height: 1.5rem;}


/**/
.cancel_desc{width: 100%;box-sizing: border-box;background: #fff;border-radius: .16rem;padding: .22rem .2rem}
.cancel_desc textarea{width: 100%;border: none;font-size: .26rem;color: #45464f;margin-top: .26rem;min-height: .74rem;resize: none}
.cancel_desc textarea::placeholder{color: #999}

.cancel_submit{margin: .36rem 0;}

/*.cancel_submit a{height:.88rem;line-height:.88rem;color:#fff;font-size:.32rem;text-align:center;display: block;width: 100%;border-radius: .44rem;background: #FA6353;}*/

.cancel_submit a{height:.88rem;line-height:.88rem;color:#fff;font-size:.32rem;text-align:center;display: block;width: 100%;border-radius: .44rem;background: linear-gradient(90deg, #FF5D28 0%, #FF2919 100%);}

.cancelprice:disabled{background-color: #fff;}


/*信息提示框*/

.error{position: fixed;  background-color: rgba(0,0,0,.87); border-radius: .2rem; color: #fff; font-size: .26rem;height: 1rem; line-height: 1rem; text-align: center; padding: 0 .5rem; z-index: 1000000; left: 50%; top: 50%; margin-top: -.5rem;transform: translate(-50%,-50%);white-space: nowrap;display: none;}


/*原因弹窗*/
.mobileSelect-show{    position: fixed;left: 0;right: 0;bottom: 0;}
.mobileSelect-show .content{border-radius:.2rem .2rem 0px 0px;overflow: hidden;position: absolute !important;}
.mobileSelect .content .btnBar{height: 1rem;line-height: 1rem;background: #F7F8FA;/*border-radius:.2rem .2rem 0px 0px;*/border-bottom: none}
.mobileSelect .content .btnBar .title{font-size: .28rem;color: #999;}
.mobileSelect .content .btnBar .ensure{color: #3378FF;font-size: .28rem;font-weight: bold;}
.mobileSelect .content .btnBar .cancel{font-size: .28rem;color: #999;font-weight: bold;}
.mobileSelect .content .panel .wheels{height: 246px}
.mobileSelect .content .panel .wheel .selectContainer li{font-size: .3rem;color: #808080}
.mobileSelect .content .panel .wheel .selectContainer li.onchose{font-weight: bold;color: #000;font-size: .36rem}

/*221-11-26商城新增退货退款选择*/
.tktype{padding-bottom: .2rem;}
.tktype .tkcon{background: #fff;border-radius: .16rem;margin-top: .2rem;position: relative;padding: .24rem .2rem .3rem .3rem;}
.tktype .tkcon h2{font-size: .36rem;color: #39393B;font-weight: bold;}
.tktype .tkcon p{font-size: .26rem;color: #999;margin-top: .14rem;}
.tktype .tkcon i{display: inline-block;width: .14rem;height: .24rem;background:url("../images/homemaking/icon_next.png") no-repeat;background-size: contain;position: absolute;top: 50%;right: .2rem;margin-top: -.12rem;}

.resonWrap.reson-hide{display: none;animation: rightFadeIn .3s ease-out;}

.tui_num{display: flex; align-items: center; justify-content: space-between; clear: both; padding-top: .3rem}
.tui_num .left_tit{font-size: .3rem; color: #39393B;}
.tui_num .left_tit span{font-size: .24rem; color: #E30000; margin-left: .22rem}
/*.tui_num .shop-info-num{position: absolute;right: 0;bottom: 0}*/
.tui_num .shop-info-num span{display: inline-block;vertical-align: top;}

.tui_num .rec{margin-right: .04rem;}
.tui_num .append{margin-left: .04rem;}
.tui_num .rec,.append{display: inline-block;width: .56rem;height: .56rem;margin: 0 auto;}
.tui_num .rec{background: url(../images/rec.png) center no-repeat;background-size: .56rem;}
.tui_num .append{background: url(../images/append.png) center no-repeat;background-size: .56rem;}
.tui_num .rec.disabled,.tui_num .append.disabled{opacity: 0.3; pointer-events: none}
.tui_num .num.disabled em{opacity: 0.3}
.tui_num .shop-info-num .num{height: .56rem;line-height: .56rem;background: #F5F5F7;width: 1.06rem;text-align: center;border-radius: .08rem}
.tui_num .shop-info-num .num em{font-weight: bold;font-size: .28rem;font-family: DLRG}

@font-face {
  font-family: "DLRG";
  src: url("/static/fonts/DINMittelschriftStd.woff2"),
       url("/static/fonts/DINMittelschriftStd.woff"),
       url("/static/fonts/DINMittelschriftStd.ttf"),
       url("/static/fonts/DINMittelschriftStd.eot"),
       url("/static/fonts/DINMittelschriftStd.otf");
}