<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
		<title>{#$langData['siteConfig'][19][488]#}</title> {#*   商品分类   *#}
		<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
		<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/goods-type.css?v={#$cfg_staticVersion#}">
		<script src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
		<script type="text/javascript" src="{#$cfg_staticPath#}js/core/zepto.min.js?v={#$cfg_staticVersion#}"></script>
		<script src="{#$templets_skin#}js/vue.min.js?v={#$cfg_staticVersion#}"></script>
		<script>
			var typeList = {#$list|json_encode#};
			var sid = "{#$sid#}"
		</script>
	</head>
	<body>
		<div id="page">
			<!-- 头部 s-->
			<div class="top_box">
				<div class="headbox">
					<a href="/wmsj/shop/store-detail.php?sid={#$sid#}&currentPageOpen=1"  class="back_btn"></a>
					<div class="htitle">{#$langData['siteConfig'][19][488]#}</div>    {#*   商品分类   *#}
					{#if count($list)>2#}
					<a href="javascript:;" v-if="!changeOrder" @click="changeOrder = !changeOrder" class="changeorder">分类排序</a>
					<a href="javascript:;" v-else @click="changeOrder = !changeOrder,cancelSort()" class="changeorder">取消</a>
					{#/if#}
				</div>
			</div>
			<!-- 头部 e-->
			<div class="typeList" :key="cancel_change">
				<ul v-cloak>
					<li class="type_li" v-for="(l,index) in typeLists" :data-id="l.id" :data-sort="l.sort" :data-index="typeLists.length-index" :data-url="'add-goodsType.php?sid={#$sid#}&id='+l.id" @click="toUrl">
						<div class="type_info">
							<h3>{{l.title}}</h3>
							<p>
								<span v-if="l.weekshow=='0' || l.week=='' || l.week.split('、').length==7">{#$langData['waimai'][11][107]#}</span> 
								<span v-else-if="l.weekshow=='1'">{{l.week}}</span> 
							    <span v-if="l.start_time=='00:00' && l.end_time=='23:59'">&nbsp;&nbsp;{#$langData['waimai'][11][108]#}</span>
								<span v-else>&nbsp;&nbsp;{{l.start_time}}-{{l.end_time}}</span>
							 </p>
							<a href="javascript:;" :class="['switch',{'active':l.status=='1'}]" :data-status="l.status" @click.stop="changeShow()">
								<span v-if="l.status=='1'">{#$langData['waimai'][1][120]#}</span>{#*   显示   *#}
								<span v-else>{#$langData['waimai'][11][81]#}</span>  {#*   隐藏   *#}
							</a>
						</div>
						<div class="f_detail" v-if="!changeOrder">
							<p><em v-for="(f,ii) in l.foods"><i v-if="ii!=0">、</i>{{f.title}}</em></p>
							<span>{#$langData['waimai'][1][43]#} <em>{{l.foodcount}}</em></span>{#*   商品   *#}
						</div>
						<div class="t_order" v-else>
							<span>{#$langData['waimai'][11][109]#}</span>{#*   排序   *#}
							<div class="r_btns">
								<span class="up_btn" @click.stop="changeSort" data-type="up">{#$langData['waimai'][11][110]#}</span>{#*   上移   *#}
								<span class="down_btn" @click.stop="changeSort"  data-type="down">{#$langData['waimai'][11][111]#}</span>{#*   下移   *#}
							</div>
						</div>
					</li>
				</ul>
				<div class="btn_box">
					<a href="add-goodsType.php?sid={#$sid#}" class="add_type" v-if="!changeOrder">{#$langData['waimai'][11][78]#}</a>  {#*   新增分类   *#}
					<button type="button" @click="saveChange()" class="save_btn" v-else>{#$langData['waimai'][2][52]#}</button>  {#*   保存   *#}
				</div>
				
			</div>
			<div class="loading_icon" c-cloak v-show="LOADING"></div>
		</div>
	</body>
	
	
	
	<script src="{#$templets_skin#}js/axios.min.js?v={#$cfg_staticVersion#}"></script>
	<script src="{#$templets_skin#}js/goods-type.js?v={#$cfg_staticVersion#}"></script>
</html>
