<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
		<title>{#$langData['siteConfig'][19][22]#}</title> {#*   店铺列表   *#}
		<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
		<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/base_info.css?v={#$cfg_staticVersion#}">
		<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/ui/swiper.min_4.2.2.css?v={#$cfg_staticVersion#}">
		<script src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
		<script type="text/javascript" src="{#$cfg_staticPath#}js/core/zepto.min.js?v={#$cfg_staticVersion#}"></script>
		<script src="{#$templets_skin#}js/vue.min.js?v={#$cfg_staticVersion#}"></script>
		<script>
			var status = {#$status#}; //店铺状态
			var ordervalid = {#$ordervalid#};  //外卖下单
			var shopid = '{#$sid#}';
			var shop_notice_used = {#$shop_notice_used#}
			var modelType = 'waimai';
			var thumbSize = {#$thumbSize#}, thumbType = '{#$thumbType#}', atlasSize = {#$atlasSize*1024*1024#}, atlasType = '{#$atlasType#}', atlasMax = 10;
			var staticPath  = '{#$cfg_staticPath#}';
			var imageList = {#json_encode($picsList)#}
		</script>
	</head>
	<body>
		<div id="page">
			<!-- 头部 s-->
			<div class="top_box">
				<div class="headbox">
					<a href="javascript:;" onclick="javascript:history.go(-1);" class="back_btn goBack"></a>
					<div class="htitle">{#$langData['waimai'][1][180]#}</div>    {#*   店铺图片   *#}
					
				</div>
			</div>
			<!-- 头部 e-->
			<form class="shop_detail" id="submitForm" >
				
				<dl class="detail_box shop_image fn-clear">
					<dt>{#$langData['waimai'][1][180]#}<em>({#$langData['waimai'][5][46]|replace:'1':'10'#})</em></dt> {#*最多1张*#} {#*   店铺图片   *#}
					
					{#foreach from=$picsList key=k item=i#}
					<dd class="litpic thumbnail" id="WU_FILE_0_{#$k#}" data-index="{#$k#}"><div class="del_btn" @click.stop="delimg"></div><img  src="{#changeFileSize url="{#$i.path#}" type='small'#}" data-val="{#$i.pathSource#}" data-url="{#changeFileSize url="{#$i.path#}" type='small'#}" @click="imgShow = !imgShow,imgshow({#$k#})"></dd>
					{#/foreach#}
					
					<dd class="upbtn"><div id="filePicker">{#$langData['waimai'][11][112]#}</div></dd> {#*  上传图片  *#}
				</dl>
				<input type="hidden" name="shop_banner" id="shop_banner" value="{#$picStr#}">
				<button type="button" class="save_btn" @click="submit" data-type="image-info">{#$langData['waimai'][2][52]#}</button>{#*  保存  *#}
			</form>
			<div class="loading_icon" v-cloak v-if="LOADING"></div>
			
			<!-- 图片预览 -->
			<template>
				<div class="swiper-box" v-show="imgShow">
					<div class="headbox">
						<a href="javascript:;"  class="back_btn" @click="imgShow = !imgShow"></a>
						<div class="htitle">{#$langData['waimai'][11][75]#}</div>    {#*   图片预览   *#}
						<a href="javascript:;" class="del_img" @click="show_delimg()"></a>
					</div>
					<div class="swiper-container">
						<div class="swiper-wrapper">
							{#foreach from=$picsList key=k item=i#}
							<div class="swiper-slide" data-index="{#$k#}">
								<img src="{#$i.path#}" alt="">
							</div>
							{#/foreach#}
						</div>
						<div class="pagenation"></div>
					</div>
					 <a href="javascript:;" class="set_btn" @click="setMain()">{#$langData['waimai'][11][76]#}</a>  {#* 设为主图   *#}
				</div>
			</template>
		</div>
	</body>
	
	<script src="{#$templets_skin#}js/zepto.deferred.js?v={#$cfg_staticVersion#}"></script>
	<script src="{#$cfg_staticPath#}js/webuploader/webuploader.js?v={#$cfg_staticVersion#}"></script>
	<script src="{#$cfg_staticPath#}js/ui/swiper.min_4.2.2.js?v={#$cfg_staticVersion#}"></script>
	<script src="{#$templets_skin#}js/axios.min.js?v={#$cfg_staticVersion#}"></script>
	<script src="{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}"></script>
	<script src="{#$templets_skin#}js/display-info.js?v={#$cfg_staticVersion#}"></script>
</html>
