<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0,viewport-fit=cover" >
		<title>{#$langData['waimai'][1][169]#}</title> {#*   订单提醒   *#}
		<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
		<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/mobiscroll.javascript.css?v={#$cfg_staticVersion#}">
		<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/manage-desk.css?v={#$cfg_staticVersion#}">
		<script src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
		<script type="text/javascript" src="{#$cfg_staticPath#}js/core/zepto.min.js?v={#$cfg_staticVersion#}"></script>
		<script src="{#$templets_skin#}js/vue.js?v={#$cfg_staticVersion#}"></script>
		<script>
			var sid = "{#$sid#}";
			var addservice = {#json_encode($addservice)#};  //增值服务
			var open_addservice = {#$open_addservice#};  //开启增值服务
			var open_promotion = '{#$open_promotion#}';  //开启满减
			var promotions = {#json_encode($promotions)#};  //满减
			var offline_limit = '{#$offline_limit#}' ;  //货到付款金额限制
			var paytype = '{#strstr($paytype, "1")#}';  //货到付款
			var smsvalid = '{#$smsvalid#}';  //短信通知
			var emailvalid = '{#$emailvalid#}';  //邮箱通知
			var weixinvalid = '{#$weixinvalid#}'; //微信通知
			var auto_printer = '{#$auto_printer#}'; //打印机自动打印
			var appvalid = '{#$appvalid#}'; //app订单提醒
			var selfdefine = {#json_encode($selfdefine)#}; //自定义
			var merchant_deliver = '{#$merchant_deliver#}'; //商家自配
			var delivery_fee_mode = "{#$delivery_fee_mode#}"; //配送模式
			var preset = {#json_encode($preset)#}
		</script>
	</head>
	<body>
		<div id="page">
			<!-- 头部 -->
			<div class="top_box">
				<div class="headbox">
					<a href="javascript:;" onclick="javascript:history.go(-1);" class="back_btn goBack"></a>
					<div class="htitle">{#$langData['waimai'][1][169]#}</div>    {#*   订单提醒   *#}
				</div>
			</div>
			
			<form action="" method="post" id="submitBox">
				<div class="detail_box">
					<div class="toggle  inpbox">
						<label for="">{#$langData['waimai'][11][136]#}</label> {#*   APP语音提醒   *#}
						<span :class="['switch',{'active':appvalid}]" @click="appvalid = !appvalid"></span>
						<input type="hidden" name="appvalid" :value="appvalid?1:0">
					</div>
				</div>
				<div class="detail_box fn-hide">
					<div class="toggle  inpbox">
						<input id="ytConfig_smsvalid" type="hidden" value="0" name="Config[smsvalid]">
						<label for="">{#$langData['waimai'][1][170]#}</label>
						<span :class="['switch',{'active':smsvalid}]" @click="smsvalid = !smsvalid"></span>
						<input class="ace" name="smsvalid" id="Config_smsvalid" :value="smsvalid?1:0" type="hidden">
					</div>
					<div class="inpbox light">
						<label for="">{#$langData['waimai'][1][171]#}</label>{#*  接收短信手机号  *#}
						<input type="text" name="sms_phone" placeholder="{#$langData['waimai'][11][137]#}" value="{#$sms_phone#}">{#*  请填写手机号  *#}
					</div>
				</div>
				<div class="detail_box fn-hide">
					<div class="toggle  inpbox">
						<input id="ytConfig_weixinvalid" type="hidden" value="0" name="Config[weixinvalid]">
						<label for="">{#$langData['waimai'][1][174]#}</label>{#*  微信订单提醒  *#}
						<span :class="['switch',{'active':weixinvalid}]" @click="weixinvalid = !weixinvalid"></span>
						<input class="ace" name="weixinvalid" id="Config_weixinvalid" :value="weixinvalid?1:0" type="hidden">
					</div>
					<div class="inpbox light">
						<label for="">{#$langData['waimai'][1][175]#}</label>{#*  顾客ID  *#}
						<input type="text" name="customerid" placeholder="{#$langData['waimai'][11][138]#}" value="{#$customerid#}">{#* 请填写顾客ID *#}
					</div>
				</div>
				<div class="detail_box fn-hide">
					<div class="toggle  inpbox">
						<input id="ytConfig_emailvalid" type="hidden" value="0" name="Config[emailvalid]">
						<label for="">{#$langData['waimai'][1][172]#}</label>{#*  邮箱订单提醒  *#}
						<span :class="['switch',{'active':emailvalid}]" @click="emailvalid = !emailvalid"></span>
						<input class="ace" name="emailvalid" id="Config_emailvalid" :value="emailvalid?1:0" type="hidden">
					</div>
					<div class="inpbox light">
						<label for="">{#$langData['waimai'][11][139]#}</label>{#*  邮箱  *#}
						<input type="text" name="email_address" placeholder="{#$langData['waimai'][11][140]#}" value="{#$email_address#}">{#*  请填写邮箱  *#}
					</div>
				</div>
				
				<div class="detail_box">
					<div class="toggle  inpbox">
						<input id="ytConfig_auto_printer" type="hidden" value="0" name="Config[auto_printer]">
						<label for="">{#$langData['waimai'][11][141]#}</label>{#*  打印机自动打印订单  *#}
						<span :class="['switch',{'active':auto_printer}]" @click="auto_printer = !auto_printer"></span>
						<input class="ace" name="auto_printer" id="Config_auto_printer" :value="auto_printer?1:0" type="hidden">
					</div>
					
				</div>
				
			</form>
			
			<a href="javascript:;" class="save_btn" data-type="notice"  @click="submitDate">{#$langData['waimai'][2][52]#}</a>{#*  保存  *#}
			<!-- 加载中 -->
			<div v-cloak class="loading_icon" v-if="LOADING"></div>
			<!-- 底部 -->
			
		</div>
	</body>
	<script src="{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}"></script>
	<script src="{#$templets_skin#}js/axios.min.js?v={#$cfg_staticVersion#}"></script>
	<script src="{#$templets_skin#}js/mobiscroll.custom-3.0.0-beta4.js?v={#$cfg_staticVersion#}"></script>
	<script src="{#$templets_skin#}js/manage-addservice.js?v={#$cfg_staticVersion#}"></script>

</html>
