<!-- 底部 -->
<script>
	var bottom_tab = [
		{'cn':"{#$langData['waimai'][2][54]#}","en":"order",'url':'/wmsj/order/waimaiOrder.php?currentPageOpen=1&sid={#if $smarty.get.sid#}{#$smarty.get.sid#}{#elseif $id#}{#$id#}{#else#}{#$shopid#}{#/if#}'},  //订单
		{'cn':"{#$langData['waimai'][1][237]#}","en":"shop",'url':'/wmsj/shop/store-detail.php?currentPageOpen=1&id={#if $smarty.get.sid#}{#$smarty.get.sid#}{#elseif $id#}{#$id#}{#else#}{#$shopid#}{#/if#}'},  //店铺
		{'cn':"{#$langData['waimai'][11][1]#}","en":"comment",'url':'/wmsj/message/waimaiCommon.php?currentPageOpen=1&sid={#if $smarty.get.sid#}{#$smarty.get.sid#}{#elseif $id#}{#$id#}{#else#}{#$shopid#}{#/if#}'},//评分
		{'cn':"{#$langData['waimai'][2][55]#}","en":"member",'url':'/wmsj/statistics/tj-waimai.php?currentPageOpen=1&sid={#if $smarty.get.sid#}{#$smarty.get.sid#}{#elseif $id#}{#$id#}{#else#}{#$shopid#}{#/if#}'},//我的
	];
			
</script>
<div class="bottom_box" v-cloak>
	<ul>
		<li v-for="tab in bottomtab" :class="[{'onTab':tab.en==currbTab},{bigimg:tab.en==currbTab && tab.en=='order'}]" :data-url="tab.url" @click="window.location.href=tab.url">
			<div class="img"><img :src="'{#$templets_skin#}images/'+tab.en+'_icon'+(tab.en==currbTab?'':'1')+'.png'" alt=""></div>
			<p v-if=" currbTab!='order' || (tab.en!='order' && currbTab=='order') ">{{tab.cn}}</p>
		</li>
		
	</ul>
</div>
