<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" href="{#$cfg_staticPath#}css/ui/element_ui_index.css?v={#$cfg_staticVersion#}">
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public_header.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/store.css?v={#$cfg_staticVersion#}" media="all" />
    <script src="{#$cfg_staticPath#}js/core/jquery-1.9.0.min.js"></script>
    <script src="{#$cfg_staticPath#}js/vue/vue.js"></script>
    <script src="{#$cfg_staticPath#}js/ui/element_ui_index.js?v={#$cfg_staticVersion#}"></script>
    <title>店铺详情</title>
    <script>
        var storeid = '{#$detail_id#}';
        var storename = '{#$detail_company#}'
    </script>
</head>

<body class="w1200">
    
    {#include file="public_top.html"#} 
    <div id="businessHome">
        <div class="wrap">

            <div class="sh-brand-wrap">
              <div class="sh-brand sh-hot-wrap" style="height:110px;">
                <div class="shop-logo-box" style="margin-top: -30px;">
                  <a href="{#getUrlPath service='paimai' templete='store' id="{#$detail_id#}"#}" class="shop-logo-link" target="_blank">
                    <img src="{#$detail_logo#}" onerror="this.src='/static/images/store.png'"/>
                  </a>
                </div>
                <div class="shop-name-box">
                  <span class="shop-name">{#$detail_company#}</span>
                </div>
              </div>
            </div>
            <div class="d-content J_htmlContent">
              {#myad title="拍卖_模板二_电脑端_广告二" #}
            </div>
            <div class="parent-304">
              <div class="d-goods">
                <div v-for="item in goodList" :key="item.id" class="d-item J-item" data-skuid=""
                    clstag="pageclick|keycount|pcICommonGood_304748142_1|604010"
                    style="width: 273.75px;">
                  <div class="d-img-node jPic" style="width: auto; height: auto;">
                    <a class="d-url" :data-area-sku="item.id" :href="item.url" target="_blank"
                       style="width: auto; height: auto;">
                      <img class="d-img"
                           :src="item.litpic"
                           style="width: 100%; height: auto;">
                    </a>
                  </div>
                  <div class="d-detail-node">
                    <!-- <div class="d-attention">
                      <div class="d-attention-main" module-function="attention" module-param="{attentType:'product'}">
        
                        <a href="javascript:;" class="J_attention d-attention-content" data-id="10034076141748" data-state="0"
                           data-type="1">关注</a>
                      </div>
                    </div> -->
                    <div class="d-name">
                      <a class="d-wname J-wname" :title="item.title" target="_blank">{{item.title}}</a>
                      <div class="d-price">
                          <span class="d-now-price" data-tsop="">
                          <span class="d-price-label">起拍价：</span>
                          <span class="p-text">{#echoCurrency type="symbol"#}</span><span data-areastock="true" class="p-num" data-sku-p="10034076141748" :preprice="item.cur_mon_start">{{item.cur_mon_start}}</span>
                        </span>
        
                      </div>
                    </div>
                  </div>
        
                  <div class="d-info-node">
                    <!-- <div class="d-sales">
                        <span class="d-sales-count">
                        <span>已售：</span>
                        <span>2</span>
                      </span>
                      <span class="d-goods-rate">
                        <span>好评率：</span>
                        <span class="d-percentage J_Completed">85%</span>
                      </span>
                    </div> -->
                    <!-- <div class="d-installment J-installment">
                    </div>
                    <div class="d-coupon-area">
                      <div class="d-coupon J-coupon" data-skuid="10034076141748" style="display: none;">
                        <span class="d-icon">券</span>
                        <span>¥</span>
                        <span class="d-coupon-num J-couponNum"></span>
                      </div>
                    </div> -->
                  </div>
                  <div class="d-btn-node">
                    <!-- <a class="d-add-cart" href="//cart.jd.com/gate.action?pid=10034076141748&amp;pcount=1&amp;ptype=1" target="_blank">
                      <i class="d-add-cart-icon"></i>
                      <span>加入购物车</span>
                    </a> -->
                    <a class="d-buy" :href="item.url" target="_blank">
                      <span>立即购买</span>
                    </a>
        
                  </div>
                </div>
              </div>
            </div>
        </div>
    
      </div>
    {#include file="foot.html"#} 
    <script src="{#$templets_skin#}js/store.js?v={#$cfg_staticVersion#}"></script>
</body>
