/*面包屑*/
.left{float: left}
.right{float: right;}
.bread{width:100%; height:45px; background: #fff;}
.bread p{width: 1000px; margin: 0 auto; line-height: 45px;}
.w1200 .bread p{width: 1200px;}
.bread p a{font-size: 13px; color: #666; margin: 0 3px;}

/*内容部分*/
.content{width:1000px; margin: 0 auto;   }
.w1200 .content{width:1200px; }
.sjLeft{overflow:hidden; background: #fff;}
/* .w1200 .sjLeft{width:928px;} */
.sjRight{width: 190px; }
.w1200 .sjRight{width: 250px;}
.select{background: #fff; margin:0 auto;  padding:10px 0 0;}
.select .tab{line-height: 30px; font-size: 14px; padding-bottom: 10px;}
.select p{margin-left:120px; line-height: 30px;}
.select span{display: inline-block; width: 100px; text-align: center;}
.select font{float: left; color: #e0e0e0}
.select p a{margin:0 15px; display: inline-block; }
.select p a.on{color:#ff2832 }

.codi{width: 100%; height: 30px; margin-top:15px; }
.codi .search{width:368px; color: #666; height: 28px; border:1px solid #ececec; margin-left: 18px; margin-right:10px; padding-left: 30px; line-height: 28px; font-size: 14px; background: url(../images/icon.png) -74px -56px no-repeat;}
.codi div{float: left; width: 82px; height: 28px; line-height: 28px; border:1px solid #ececec; padding:0 5px;}
.codi div input{width: 70px; height: 24px; border:0; line-height: 24px; vertical-align: middle;}
.codi div.line{width:15px; height: 14px; border:none; border-bottom:1px solid #ececec; margin:0 15px;}
.codi a{float: left; width:70px; height: 28px; line-height: 28px; font-size: 14px; text-align: center; border:1px solid #ececec; margin-left:10px;}

.sjlistD{margin-left: 16px; padding-top: 20px;}
.sjlistD li{float: left; width:179px;  margin:0 16px 15px 0; -webkit-transition:all 0.4s; -moz-transition:all 0.4s; -ms-transition:all 0.4s; transition:all 0.4s;}
.w1200 .sjlistD li{ width: 212px;}
.sjlistD li.empty, .w1200 .sjlistD li.empty {width: 100%; float: none; height: 500px; line-height: 250px; font-size: 14px; text-align: center;}
.sjlistD li img{display:block; width: 100%; background: #f5f5f5;height: 212px;}
.sjlistD li p{width:94%; height: 44px; line-height: 22px; font-size: 14px; overflow: hidden; margin:10px auto;}
.sjlistD li p a:hover{text-decoration: underline;}
.sjlistD li span em{ font-size: 16px; color: #ff2832 ; margin-left:3%}
.sjlistD li span s{font-size: 12px; color:#999}
.sjlistD li div{overflow: hidden; padding-bottom:5px; }
.sjlistD li:hover img{opacity: 0.8}
.sjlistD li:hover div{background: #e11f28}
.sjlistD li:hover p a,.sjlistD li:hover em,.sjlistD li:hover s{color:#fff}

.pagination {margin-top: 10px; text-align: right;}


/* 右侧部分 */
.sjInfo{position: relative;  background: #fff; padding-bottom: 15px; margin-bottom: 18px;}
.sjInfo .icon{position: absolute; right: -10px; top:38px; display: block; width: 18px; height: 14px; background: url(../images/icon.png) -82px -38px no-repeat}
.sjInfo h3{height: 44px; line-height: 44px; padding-left:20px; font-size: 16px; color: #333; border-bottom:1px dashed #ececec;}
.sjInfo .sjLogo{width: 100%; padding: 10px 0; text-align: center;}
.sjInfo .sjLogo s{ display: inline-block;height: 100%;vertical-align: middle;}
.sjInfo .sjLogo img{  max-width: 200px; max-height: 200px; display: inline; z-index: 0; vertical-align: middle; -ms-interpolation-mode: bicubic;}
.sjInfo p{text-align: center; margin-bottom: 20px;}
.sjInfo p em{display: inline-block;height:26px; line-height: 26px; /*background: #f6f6f6;*/ color: #666; font-size: 13px; padding: 0 20px; border-radius: 13px; }
.sjInfo span{display: block; line-height: 26px; color: #666; font-size: 13px; margin-top: 5px; padding:0 15px;}
.sjInfo span font{display: inline-block;  color: #666}
.sjInfo span em{ margin-left:54px; display: block;}

/*.hot{border:1px solid #ececec;}
.hot h3{border-bottom: 1px solid #ececec}
.hot ul{width: 90%; margin:15px auto 0;}
.hot ul li{position: relative; width: 90%; padding:10px 0 10px 10%; overflow: hidden; }
.hot ul li i{position: absolute; left:0; top:12px; width:14px; height: 16px;text-align: center; line-height: 12px; color: #fff; background: url(../images/icon.png) 0 -68px no-repeat}
.hot ul li i.red{background-position:0 -37px   }
.hot ul li p{ width: 100%; overflow: hidden; height: 16px; line-height:16px; font-size: 14px; color: #333; text-align: left; margin:0;}
.hot ul li p.on{display: none;}
.hot dl{width: 100%; height:100%; display: none;}
.hot dl.on{display: block;}
.hot dt{float: left; width: 64px; height: 74px;}
.hot dt img{width: 100%; height: 100%}
.hot dd{float: left; width: 60%; margin-left: 5%; height: 24px; font-size: 14px; line-height: 24px; color:#ff2832;}
.hot dd.t{height: 48px; overflow: hidden; color: #ff2832}*/
.fixedTop .detailComment{width: 968px}
.fixedTop .detailComment,.fixedTop .shopDetailBox{position: fixed; top: 0; z-index: 999}
.fixedTop .shopDetailBox{margin-left: 20px}
/* 商城商品详情页 */

/* .singleGoods{padding: 15px 20px 30px 15px;  overflow: hidden;} */
.singleGoods dt{float: left; width: 450px; }
.singleGoods dd{ margin-left: 480px }
/* .w1200 .singleGoods dd{width: 455px} */
.singleGoods dd.cartBuy{margin-top:28px; padding-left: 112px;}

/* 放大镜 */
.bigtobox{width:450px;}
.bigtobox .tb-booth a{display:table-cell;text-align:center;vertical-align:middle; width: 450px; height: 450px;}
.bigtobox .tb-booth a{*display:block;*font-family:Arial;*line-height:1;}
.bigtobox .thumblistBox{width: 450px; margin:10px auto 0;overflow:hidden;}
.bigtobox .tb-thumb{white-space: nowrap; overflow: auto;}
.bigtobox .tb-thumb::-webkit-scrollbar{display: none;}
.bigtobox .tb-thumb li{/*float:left;*/height:80px; width: 80px;margin:0 12px 0 0;overflow:hidden; box-sizing: border-box; border: solid 2px #fff; display: inline-block;}
.bigtobox .tb-thumb li:nth-child(5n){margin-right: 0;}
.bigtobox .tb-thumb img{vertical-align:middle; width: 76px; height: 76px; object-fit: cover;}
.bigtobox .tb-s310, .tb-s310 a{width:450px;height:450px;}
.bigtobox .tb-s310, .tb-s310 img{max-width:450px;max-height:450px;}
.bigtobox .tb-s310 a{*font-size:271px;}
.bigtobox .tb-s40 a{*font-size:35px;}
.bigtobox .tb-s40, .tb-s40 a{height:100%;width:100%;}
.bigtobox .tb-booth{position:relative;z-index:1;}
.bigtobox .tb-booth .state{display: inline-block;z-index: 6;width: 69px;height: 77px;position: absolute;}
.bigtobox .tb-booth .state .s1{font-size: 18px;font-weight: bold;text-align: center;color: #fff;margin-top: 15px;}
.bigtobox .tb-booth .state .s2{font-size: 14px;text-align: center;color: #fff;padding-left: 6px;margin-top: -3px;}
.bigtobox .tb-booth .q1,.bigtobox .tb-booth .m1{background: url("../images/detail_icon01.png") no-repeat;}
.bigtobox .tb-booth .q2,.bigtobox .tb-booth .m2,.bigtobox .tb-booth .m3,.bigtobox .tb-booth .q3{background: url("../images/detail_icon02.png") no-repeat;}
.bigtobox .tb-booth i{position: absolute; right: 0; bottom:0; width: 30px; height: 30px; background: url(../images/goods.png) -20px 0;}
/* .tb-thumb li img{ filter:alpha(opacity=50);opacity:0.5;} */
.bigtobox .tb-thumb .tb-selected{height:80px; border: solid 2px #FF5F5F; width: 80px;}
/* .bigtobox .tb-thumb .tb-selected img{ filter:alpha(opacity=100);opacity:1;} */
.bigtobox .tb-thumb .tb-selected div{background-color:#FFFFFF;border:medium none;}
div.zoomDiv{z-index:999;position:absolute;top:0px;left:0px;width:420px;height:420px;background:#ffffff;border:1px solid #CCCCCC;display:none;text-align:center;overflow:hidden;}
div.zoomMask{position:absolute;background:url("../images/mask.png") repeat scroll 0 0 transparent;cursor:move;z-index:1;}

/* 右侧商品信息 */
.singleGoods dd.title{ font-size:18px; line-height: 30px; color: #333;  font-weight: bold;}
.singleGoods dd.title em{font-size: 12px; color: #e11f28; margin-left: 10px;}
.singleGoods dd.info ul{position: relative;  }
.singleGoods dd.info ul em{position: absolute; right: 0; top:0; padding: 5px 10px;border:1px dashed #e11f28; border-width: 0 0 1px 1px; display: none;}
.singleGoods dd.info ul cite{color: #e11f28; float: left; height: 17px; line-height: 17px; margin:10px 0 0 20px;background: url(../images/icon-status.png) 0 -86px no-repeat; padding-left:20px;}

.singleGoods dd.info{border: 1px #fff solid; margin-top: 10px}
.singleGoods dd.info.on{border:1px solid #e11f28;}
.singleGoods dd.info.on ul em{display: block;}

.singleGoods dd.info li{line-height: 26px; font-size: 14px;color: #333; margin:10px 0;box-sizing: border-box; position: relative; overflow: hidden;}
.singleGoods dd.info li.q_li {overflow: inherit;}
.singleGoods dd.info li .pro{margin-left: 112px;}
.singleGoods dd li span{color: #666; margin-right: 15px;}
.singleGoods dd li span.left{line-height: 36px;}
.singleGoods dd.info li font{color: #e11f28; font-size:24px}
.singleGoods dd.info li .pro a{display: inline-block;  height: 34px; padding:1px 13px; border:1px solid #DCDCDC; margin:5px 5px 5px 0; text-align:center; line-height:32px; vertical-align: middle; color: #666; box-sizing: border-box;}
.singleGoods dd.info li a.pic{width: 60px; height: 60px; padding: 1px; position: relative; box-sizing: border-box;}
.singleGoods dd.info li a.pic.selected{border: solid 2px #FF5F5F; padding: 0}
/* .singleGoods dd.info li a.pic.selected:after{content: ''; display: block;position: absolute; left: 0; right: 0; top: 0; bottom: 0; background: url(../images/gou.png) right bottom no-repeat ; background-size: auto;} */
.singleGoods dd.info li a img{display: block; width: 100%; height: 100%; object-fit: cover; box-sizing: border-box; border: solid 1px #fff}
.singleGoods dd.info li a.selected{border: solid 2px #FF5F5F; padding: 0 12px;  line-height:32px;}
.singleGoods dd.info li a.disabled{border:1px dashed #ececec; background-color: #ccc; cursor: not-allowed; color: #999}
.singleGoods .count{ height: 36px; line-height: 30px; font-size: 14px;margin:20px 0; }
.singleGoods .count span{float: left; display: inline-block;color: #666; margin-right: 18px; }
.singleGoods dd .num{ float: left; position: relative; margin-right: 10px }
.singleGoods dd .count .left{color: #666; line-height: 36px;}
.singleGoods dd .count .left b{font-weight: normal;}
.singleGoods dd .num input{width:64px; padding: 0 5px; height: 36px; border:1px solid #dcdcdc; box-sizing: border-box; text-align: center; outline: none; margin-left: -1px; margin-right: -1px; vertical-align: middle;}
/* .singleGoods dd .num i{position: absolute; right: 0; top:0; cursor: pointer; width: 18px; height: 13px; background:url(../images/goods.png) no-repeat;}
.singleGoods dd .num i.down{top:auto; bottom:0; background-position: 0 -13px} */
 .singleGoods dd .num i{display:inline-block; width: 36px; height: 36px; box-sizing: border-box; border: solid 1px #dcdcdc; vertical-align: middle; position: relative; cursor: pointer;}
.singleGoods dd .num i span{display: block; width: 10px; height: 2px; background: #999; position: absolute; left: 0;right: 0; top: 0;bottom: 0; margin: auto;}
.singleGoods dd .num i span.shu{width: 2px; height: 10px;}
.singleGoods dd .num i.noclick{ cursor: not-allowed;}
.singleGoods dd .num i.noclick span{background: #D3D3D3}
.singleGoods dd.cartBuy a,.singleGoods dd.cartBuy .canjia_btn{ width: 210px; height:58px; background: linear-gradient(90deg, #FF424B 0%, #FB2731 100%) #FF424B; color:#fff; display: inline-block; margin-right: 10px; font-size: 22px; font-weight: bold; text-align: center; line-height: 56px;}
.singleGoods dd.cartBuy i{display: inline-block; width:32px; height: 32px; background: url(../images/cart_icon.png) no-repeat center/cover; vertical-align: middle; margin-right: 10px; margin-bottom: 4px;}
.singleGoods dd.cartBuy a.cart,.singleGoods dd.cartBuy a.yjbuy{display:inline-block; width: 210px; height: 58px;  color: #fff; background: #FFF6F6; color: #FB2933; border: solid 1px #FFCFD1}
.singleGoods dd.cartBuy .nostore{background: linear-gradient(90deg, #E8E8E8 0%, #DBDBDB 100%); color: #999} 
.singleGoods dd.info li .yhquan{display:inline-block;width: 54px;height: 20px;cursor:pointer;position:absolute;top:3px;left:156px;margin:0 0 0 0;line-height: 20px;text-align: center; color: #ff7a6e;font-size: 12px;background: url("../images/quan_bg2.png")no-repeat; }

.singleGoods dd.info li.buy_mincount{margin-bottom: 0;}
.singleGoods dd .mincoutDiv{position: relative;margin-left: 110px; }
.singleGoods dd .mincoutDiv span{color: #999;margin-right: 0}
.singleGoods dd .mincoutDiv .mincoutDiv2{position: relative;display: inline-block;vertical-align: middle;margin-top: 4px;}
.singleGoods dd .mincoutDiv .mincoutNote{display: inline-block;width: 18px;height: 18px; background: url(../images/tip1.png) no-repeat center/cover;}
.singleGoods dd .mincoutDiv .mincoutTip{position: absolute;padding: 18px 0;background: #fff;
    min-width: 248px;border: 1px solid #ebeef5;color: #606266;line-height: 1.4;text-align: justify;font-size: 14px;box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);word-break: break-all;top: -65px; left: 50%;margin-bottom: 12px;margin-left: -125px;display: none;text-align: center;}
.singleGoods dd .mincoutDiv .mincoutTip b{    position: absolute;display: block;width: 0;height: 0;border-color: transparent;border-style: solid;border-width: 6px;filter: drop-shadow(0 2px 12px rgba(0,0,0,.03));left: 50%;bottom: -18px;margin-left: -6px}
.singleGoods dd .mincoutDiv .mincoutTip s{position: absolute;
    display: block;width: 0;height: 0;border-color: transparent;border-style: solid;bottom: 1px;margin-left: -6px;border-top-color: #fff;border-bottom-width: 0;border-width: 6px;}
.singleGoods dd .mincoutDiv  .mincoutDiv2:hover .mincoutTip{display: block;}

/*领券窗口*/
.quandalog{position: fixed;top: 0;bottom: 0;right: 0;left: 0;z-index: 2; display: none;}
.quandalog .bg{position: absolute;top: 0;bottom: 0;right: 0;left: 0;background:#333;opacity: 0.3;}
.quandalog .quanbox{position: absolute;top: 0;bottom: 0;right: 0;left: 0;width:440px;height:520px;margin: auto;background: #f5f6f8;z-index: 3;padding: 0 20px;}
.quandalog .quanbox .closebtn{display: inline-block;width: 15px;height: 15px;background: url("../images/detail_icon.png") no-repeat;position: absolute;right: 13px;top: 13px;cursor: pointer;}
.quandalog .quanbox h2{font-size: 24px;color: #333;font-family: "SimHei";margin-top: 15px;margin-bottom: 15px;}
.quandalog .quanbox h2 span{font-size: 16px;color: #ababab;}
.quandalog .quanbox .quancon { height: 452px;overflow: auto;}
.quandalog .quanbox .quancon li{height: 130px;background: #fff;margin-bottom: 17px;}
.quandalog .quanbox .quancon li:hover{box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.07);}

.quandalog .quanbox .quancon li a{display:block;margin-bottom: 7px;background-color: #fff;position: relative;box-sizing: border-box;height: 130px;}
.quandalog .quanbox .quancon li .img{float: left;width: 130px;height: 130px;background: url("../images/quan_bg.png") no-repeat;text-align: center;color: #fff;padding-top: 12px;box-sizing: border-box;}
.quandalog .quanbox .quancon li .img .price{font-size: 46px;font-weight: bold;}
.quandalog .quanbox .quancon li .img .price e{font-size: 20px;}
.quandalog .quanbox .quancon li .img .contact{font-size: 15px;}
.quandalog .quanbox .quancon li .info{float:left;padding: 12px 15px;}
.quandalog .quanbox .quancon li .info .name{font-size: 15px;height: 14px;color: #3b3b3b;}
.quandalog .quanbox .quancon li .info .zhu{font-size: 12px;color: #919191;padding-top: 10px;margin-bottom: 30px;}
.quandalog .quanbox .quancon li .info .progress {display: block;float: left;margin-top:8px;width:130px;height: 6px;border-radius:4px;background: #e8e8e8;border:1px solid #f9f9f9;overflow: hidden;}
.quandalog .quanbox .quancon li .info .progress b {display: block;height:100%;background: #ffa1af;border-radius:4px;}
.quandalog .quanbox .quancon li .info .count{font-size: 12px;color: #919191;}
/*.lquan .slideBox .bd ul li .info .d,.lquan .slideBox .bd ul li .info .date{color: #333;}*/
.quandalog .quanbox .quancon li .info span{position: absolute;width: 80px;height: 28px;border-radius: 14px;background: #ff546e;text-align: center;line-height: 28px;color: #fff;font-size: 14px;right: 10px;bottom: 15px;}
.quandalog .quanbox .quancon li .info .curr{background-color: #c4c4c4;}



    /* 商品详情和商品评价 */
.detailComment{  width: 100%; height: 48px; line-height: 48px;  border:1px solid #eee; border-width: 1px 0; background: #f7f7f7; }
.detailComment .left a{ width: 138px; height: 49px; display: inline-block; border-right: 1px solid #eee; font-size: 16px;  text-align: center; margin-right: -4px}
.detailComment .left a.on{border-top:2px solid #FF4217; background: #fff; color: #FF4217; font-weight: bold; box-sizing: border-box;}
.detailComment .right{margin-right: 20px; cursor: pointer;}
.detailComment .right .newBtn_share:before{content: '';display: inline-block;width: 16px;height: 16px;background: url(/static/images/icon_share.png) center no-repeat;    vertical-align: middle;margin-top: -3px;margin-right: 4px;}
.allCon,.detailCon,.comentCon{width: 100%; overflow: hidden; padding:20px 0; box-sizing: border-box; }
.comentCon,.detailCon{padding:0 20px;  position: relative;}
.detailCon .videoBox {margin-bottom: 20px;}
.detailCon p{line-height: 30px; text-indent: 2em; font-size: 16px;}
.detailCon img{display: block; max-width: 90%; margin: auto;}
.comentCon .rate{overflow: hidden;}
.comentCon .score{width:85px; height:85px; font-size:40px; line-height: 70px; color: #FF4217; margin:20px 5% 0;}
.comentCon .score span{display: block; height: 60px; margin-top:3px; text-align: center;}
.comentCon .score em{font-size: 18px; font-weight: bold;}
.comentCon .score p{font-size: 12px; color: #999; line-height: 30px; text-align: center;}
.comentCon .score i{display: block; width: 12px; height: 13px; margin:0 auto; background: url(../images/goods.png) 0 -32px no-repeat;}
.comentCon .percent{width:78%;}
.comentCon .percent dl{width: 170px; float: left; margin:30px 60px 0 0}
.comentCon .percent dt{line-height: 36px; font-size: 12px;}
.comentCon .percent dt span{color: #999}
.comentCon .percent dd{width: 100%; height: 10px; background: #eee}
.comentCon .percent dd span{display: block; height: 10px; background:#FB2832}
.detailbody{position: relative;}
.detailCon_type{background: #F7F9FA; padding: 30px 20px 50px;  margin-bottom: 28px}
.detailCon_type ul li{float: left;width: 33.33%;font-size: 13px;text-align: left;margin-bottom: 10px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; color: #444;}
.detailCon_type ul li span{display: inline-block; color: #999; font-size: 13px;}

/* 商品详情页-评价 */
.all-comment{height: 46px; overflow: hidden; line-height: 46px; margin:40px auto 0; background: #F6F6F6}
.all-comment span{width: 80px; height: 40px; font-size: 16px; text-align: center; color: #333; }
.all-comment .commentSel a{display: inline-block;padding: 0 20px; margin:-1px 10px 0 0; font-size: 14px;}
.all-comment .commentSel a.on,.all-comment .commentSel a.on span{color:#FF4217; }

.comment-list{width: 100%;}

.comment-list .rate-item {border-bottom: 1px dotted #ddd; padding: 20px 10px 10px; color: #222; font-size: 14px;}
.comment-list .user-info {float: left; margin-right: 10px; width: 90px; text-align: center;}
.comment-list .user-info img {display: block; width: 50px; height: 50px; border-radius: 2px; margin: 0 auto;}
.comment-list .user-info p {margin: 8px 0 5px; color: #f76120; max-width: 90px; display: inline-block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; vertical-align: middle;}
.comment-list .review {overflow: hidden;}
.comment-list .review .info {margin-bottom: 10px; color: #999; line-height: 18px;}
.comment-list .review .info s, .comment-list .review .info s i {display: inline-block; height: 12px; background: url(../images/load1.png) repeat-x;}
.comment-list .review .info s {position: relative; width: 60px; vertical-align: top; margin: 3px 0;}
.comment-list .review .info s i {position: absolute; left: 0; top: 0; bottom: 0;  background: url(../images/load.png) repeat-x;}
.comment-list .review .info .rating1 {color: #8bc34a;}
.comment-list .review .info .rating2 {color: #999;}
.comment-list .review .info .rating3 {color: #f00;}
.comment-list .review .info .time {color: #999; margin: 0 10px;}
.comment-list .review .info .specation {color: #999; margin-left: 20px;}

.comment-list .review .view p {margin-bottom: 10px; font-size: 16px; word-break: break-all;}


.comment-list .loading {line-height: 300px; text-align: center;}
.comment-list .empty {padding: 100px 0; text-align: center; font-size: 16px;}



.comment-list .thumb {position: relative; overflow: hidden; }
.comment-list .thumb .plist {position: absolute; left: 0; right: 0; bottom: 0; z-index: 1; height: 100px;}
.comment-list .thumb li {float: left; margin-right: 13px; width: 100px;}
.comment-list .thumb li a {display: inline-block; zoom: 1; position: relative; width: 100%; height: 100%; background: url('/static/images/loading_16.gif') no-repeat center; overflow: hidden; border: 2px solid #fff; box-sizing: border-box;}
.comment-list .thumb li img {height: 98px; display: block; margin: 0 auto;}
.comment-list .thumb li a:hover, .comment-list .thumb li.on a {border: solid 2px #f76120;}
.comment-list .thumb .sprev, .comment-list .thumb .snext {position: absolute; top: 50%; z-index: 2; margin-top: -26px; width: 27px; height: 52px; background: url('../images/arrow.png') no-repeat;}
.comment-list .thumb .sprev {left: 0; background-position: 0 0;}
.comment-list .thumb:hover .sprev, .comment-list .thumb a:hover.sprev {background-position: 0 -53px;}
.comment-list .thumb .snext {right: 0; background-position: -28px 0;}
.comment-list .thumb:hover .snext, .comment-list .thumb a:hover.snext {background-position: -28px -53px;}
.comment-list .album {display: none; position: relative; margin-top: 10px; min-height: 250px; _height: 250px; text-align: center; background: url('../images/bg-tile.png');}
.comment-list .album .prev, .comment-list .album .next, .comment-list .album .close {position: absolute; top: 0; z-index: 2; width: 40%; height: 100%; _height: 250px; opacity: 0; background-color: #fff; filter: alpha(opacity=0);}
.comment-list .album .prev {left: 0; cursor: url('../images/cursor-rate-pic-prev.png'), url('../images/cursor-rate-pic-prev.cur'), auto;}
.comment-list .album .next {right: 0; cursor: url('../images/cursor-rate-pic-next.png'), url('../images/cursor-rate-pic-next.cur'), auto;}
.comment-list .album .close {width: 20%; left: 40%; cursor: url('../images/small.png'), url('../images/small.cur'), auto;}
.comment-list .album .albumlist {position: relative; z-index: 1; height: 100%;}
.comment-list .album .aitem {position: relative; display: block; width: 100%; height: 500px; overflow: hidden; background: url('/static/images/ui/loading.gif') no-repeat center; text-align: center;}
.comment-list .album .aitem i {display: inline-block; height: 100%; vertical-align: middle;}
.comment-list .album .aitem img {display: inline; z-index: 0; vertical-align: middle; max-width: 100%; max-height: 100%; -ms-interpolation-mode: bicubic;}



.pagination .inner {height: 50px; padding: 30px 0; text-align: center;}
.pagination-pages a, .pagination-pages span {display: inline-block; vertical-align: middle; min-width: 32px; height: 32px;  background-color: #fff; border: 1px solid #ddd; text-align: center; line-height: 32px; font-size: 12px; cursor: pointer; color: #333; text-decoration: none; margin-right: -1px; color:#968888;}
.pagination-pages .curr, .pagination-pages .interim {cursor: default;}
.pagination-pages .interim {border-color: transparent; background: transparent; box-shadow: none; padding: 0;}
.pagination-pages .curr {background: #f8f8f8; color: #968888; border-color: #ddd; cursor: no-drop;}
.pagination-pages a:hover {background-color: #f60; color: #fff; border-color: #f60;}
.pagination-pages .prev, .pagination-pages .next {padding: 0 8px;}
.pagination-pages .disabled {background-color: #999; color: #fff; cursor: default;}
.pagination-pages .redirect {display: inline-block; vertical-align: middle; margin-left: 20px; line-height: 40px; font-size: 14px;}
.pagination-pages .redirect i {font-style: normal; float: left;}
.pagination-pages .redirect input {float: left; width: 50px; margin: 0 5px; padding: 9px 5px; height: 20px; border: 1px solid #d9d9d9; box-shadow: 0 2px 2px #e7e7e7; border-radius: 3px; outline: 0; text-align: center;}
.pagination-pages .redirect button {float: left; height: 40px; padding: 9px 15px; margin-left: 10px; background-color: #fff; border: 1px solid #d9d9d9; line-height: 20px; outline: 0; box-shadow: 0 2px 2px #e7e7e7; border-radius: 3px; cursor: pointer; font-size: 14px;}
.pagination-pages .redirect button:hover {background-color: #f5f5f5;}
.singleGoods{min-height: 540px;}


/*收藏商品*/
.collectBtn {margin-top: 18px; clear: both; margin-bottom: 60px}
.collectBtn .collect,.shareBtn {color: #38383B; font-size:14px; margin-right: 32px;}
.collectBtn .collect i ,.shareBtn i{display: inline-block;width: 22px;height:22px;margin:-3px 2px 0 0;background: url('../images/collect_2.png');vertical-align: middle;}
.shareBtn i{background-image: url(../images/share_btn.png)}
.collectBtn .collect.has i {background: url('../images/collect_1.png');}
.collectBtn .collect.has {color: #fd5115;}

/*收藏店铺*/
.sjInfo a.collect i {display: inline-block;width: 16px;height:16px;margin:-3px 5px 0 0;background: url('../images/collect.png');vertical-align: middle;}
.sjInfo a.collect.has i {background-position: -16px 0;}
.sjInfo a.collect.has {color: #fd5115;}


/*聊天，发送链接*/
.chat_to-Link{display: block; width: 114px; height: 38px; border-radius: 19px; font-size: 14px; color: #565656; border: solid 1px #f5f5f7; box-shadow: 0 3px 3px rgba(10,9,47,.04); margin: auto; line-height: 38px !important; background: #fff; cursor: pointer;}
.chat_to-Link:before{content: ''; display: inline-block; width: 18px; height: 18px; background: url(../images/msgto.png) no-repeat;background-size: cover; vertical-align: middle; margin-right: 6px;}
/* .chat_to-Link:hover{ border: solid 1px #f2f2f5; background-color: #f2f2f5; color:#565656} */


/* 商品图片展示 */
.bigtobox .tb-pic .pro_show{position: absolute; background-color: #fff; top: 0; left: 0; right: 0; width: 450px; height: 450px; display: block; display: none;}
/* .bigtobox .tb-pic .pro_show a{display: none;} */
.pro_show img{position: absolute; left: 0; top: 0; right: 0; bottom: 0; margin: auto;}



.tui_txt{ color: #999; font-size:12px; line-height: 26px; display: inline-block; align-items: center; justify-content: flex-end;}
.tui_txt s{ display: inline-block; width: 15px; height: 26px; background: url(../images/dui_1.png) no-repeat center/15px; margin-right: 4px ; vertical-align: middle;}
.tui_txt.tui s{background-image:url(../images/dui.png) }

.singleGoods dd.info li.q_li label{display: inline-block;line-height: 28px; border-radius:6px;color: #F44536;font-size: 12px; border: solid 1px #F44536; padding: 0 8px; margin-right: 10px; position: relative; background: #fff;margin-bottom: 8px;}
/* .singleGoods dd.info li.q_li label::before,.singleGoods dd.info li.q_li label::after{content: ''; display: block; width: 10px; height: 10px; background: #fff; border-radius: 5px; position: absolute; left: -5px; top: 0; bottom: 0; margin: auto; border-top: solid 1px #F44536; border-right: solid 1px #F44536; box-sizing: border-box; transform:rotate(45deg)} */


.singleGoods dd.info li.q_li label::before{ position: absolute; right: -1px; top: 0; bottom: 0; margin: auto; content: ''; display: block; width: 5px; height: 10px; background: #FCFCFC; border: 1px solid #F44536; border-radius: 100% 0 0 100%/50%; border-right: none;}
.singleGoods dd.info li.q_li label::after{ position: absolute; left: -1px; top: 0; bottom: 0; margin: auto; content: ''; display: block; width: 5px; height: 10px; background: #FCFCFC; border: 1px solid #F44536; border-radius: 0 100% 100% 0/50%;   border-left: none;}





/* 新版商品详情 */
.shopInfo{padding-top: 36px; padding-bottom: 30px;}
.shopInfo .logobox{max-width: 238px; max-height: 78px; text-align: center; display: flex; align-items: center; justify-content: center;}
.shopInfo .logobox img{ max-width: 238px; max-height: 78px; }
.shopInfo .sDetail{padding-left: 18px; border-left: solid 1px #eee; margin-left: 44px; margin-top: 19px; height: 40px;}
.shopInfo .sDetail h2{font-size: 15px; font-weight: bold; color: #333;}
.shopInfo .sDetail .chat_to-Link{ color: #4E88FF; font-size: 13px;}
.shopInfo .chat_to-Link{box-shadow: none; height: auto; border: none; line-height: 1.5em !important;}
.shopInfo .erCodeBox{ height: 40px; padding-left: 10px; border-left: solid 1px #eee; margin-top: 20px; margin-left: 50px}
.shopInfo .erCodeBox p{font-size: 14px; color: #666;}
.shopInfo .erCodeBox .showCode{cursor: pointer;}
.shopInfo .erCodeBox .erIcon{width: 26px; height: 26px; background: url(../images/er_icon.png) no-repeat center/cover; position: relative;}
.shopInfo .erCodeBox .erIcon s{display: block; width: 0; height: 0; border: solid 5px rgba(0,0,0,0); border-top: solid 6px #bbb; position: absolute; right: -20px; top: 3px; bottom: 0; margin: auto;}
.shopInfo .rightbox{margin-top:21px}
.shopInfo .rightbox .searchInp{width: 384px; height: 32px; border: 2px solid #FB0F3A; display: inline-block; vertical-align: middle; margin-right: -1px;}
.shopInfo .rightbox .searchInp input{height: 32px; width: 100%;box-sizing: border-box; padding-left: 6px; border:none; outline: none;}
.shopInfo .rightbox .search{display: inline-block; min-width: 80px; line-height: 36px; background: #FB0F3A; color: #fff; font-size: 15px; font-weight: bold; text-align: center; margin-left: -3px; vertical-align: middle; margin-right: 1px; }
.shopInfo .rightbox .search.search_grey{background: #333;}
.shopInfo .chat_to-Link:before{width: 20px; height: 20px; background-image: url(../images/chat_icon.png)}

.navBoxContainer{height: 54px; line-height: 54px; background: #333;}
.navBoxContainer .allNav{float: left;}
.navBoxContainer .allNav dt{font-size: 16px; padding: 0 16px; background: rgba(255,255,255,.1); width: 210px; box-sizing: border-box; color: #fff; position: relative;}
.navBoxContainer .navShow{margin-left: 236px; height: 54px; overflow: hidden;}
.navBoxContainer .allNav .lines p{width: 14px; height: 2px; background: #fff; border-radius: 2px; margin-bottom: 3px;}
.navBoxContainer .allNav .lines{position: absolute; right: 16px; top: 0; bottom: 0; margin: auto; height: 12px;}
.navBoxContainer .navShow li{display: inline-block;}
.navShow a{color: #fff; font-size: 16px; display: block; padding: 0 28px;}


/* 详情 */
.singleGoods dd.title span{color: #999; font-size: 14px; font-weight: normal;}
.yhBox{width: 100%; background: url(../images/detbg.png) no-repeat top center/cover; position: relative; box-sizing: border-box; padding-top: 8px; padding-bottom: 10px}
.yhBox .label,.singleGoods dd li span.label,.express_fee .label{display: inline-block; width: 96px; text-align: right; color: #999; margin-right: 16px;}
.yhBox .txt{display: inline-block;}
.yhBox .txt i{font-style: normal;}
.yhBox .txt .moneyTxt{color: #E3393C; font-size: 16px}
.yhBox .txt .moneyTxt b{font-size: 32px; font-weight: bold;}
.yhBox .sales{position: absolute; right: 18px; top: 28px; color: #666; font-size: 14px;}
.yhBox.grey .sales span{color: #FB2832}
.express_fee{font-size: 14px; color: #666; line-height: 52px; border-bottom: dashed 1px #eee;}



/* 店铺相关信息 */
.detailBox .shopDetailBox{width: 210px;}

.detailBox .shopDetailBox .shopLogo{width: 150px; height: 150px; border-radius: 50%; border: 1px solid #eee; margin: 20px auto; }
.detailBox .shopDetailBox .shopLogo img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 50%}
.detailBox .shopDetail{border: 1px solid #eee;}
.detailBox .rightCon{ }

/* 热销 */
.hotSaleBox{margin-top: 20px; border: solid 1px #eee}
.hotSaleBox .probox{display: block; padding: 10px;}
.hotSaleBox .probox .proimg{width: 70px; height: 70px; float: left; position: relative; }
.hotSaleBox .probox .proimg img{display: block; width: 100%; height: 100%; object-fit: cover}
.hotSaleBox .probox .proimg .lab{display: block; width: 35px; height: 35px; background: url(../images/lab_bg.png) no-repeat center/cover; position: absolute; left: 0; top: 0; color: #fff; font-size: 12px; line-height: 14px; box-sizing: border-box; padding-left: 4px}
.hotSaleBox .probox .proinfo{margin-left: 76px;}
.hotSaleBox .probox .proinfo p{font-size: 13px; color: #666; line-height: 18px;  display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; }
.hotSaleBox .probox .proinfo h2{font-size: 14px; color: #E3393C; font-weight: bold; margin-top: 10px;}

/* 全列表 */
.q_li:hover .qlistbox{display: block;}
.q_li .qlistbox::before{content: ''; display: block; width: 100%; height: 20px; position: absolute; left: 0; top: -20px; background: none;}
.q_li .qlistbox{width: 610px; max-height: 270px; box-shadow: 0px 3px 29px 0px rgba(0, 0, 0, 0.1); border-radius: 6px; background: #fff; position: absolute; z-index: 2; box-sizing: border-box; margin-top: 0px;  padding-bottom: 20px; display:none; animation:topFadeIn .3s;}
.q_li .quan-list{ padding-bottom: 20px; padding: 20px;  padding-right:10px; height: 270; overflow: auto; box-sizing: border-box;}
.q_li .quan-list{ padding-bottom: 20px; padding: 20px;  padding-right:10px; height: 270px; overflow: auto; box-sizing: border-box;}
.q_li .quan-list::-webkit-scrollbar-thumb{border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px #bec0c4;
  background: #bec0c4;}
.q_li .quan-list::-webkit-scrollbar{
	width: 8px;
	height: 0;
	border-radius: 4px;
	background: none;
}
.q_li .quan-list .quan_dd{width: 275px; height: 100px; background: #FEF4F5; border-radius: 6px; box-sizing: border-box; float: left; margin-right: 20px; margin-bottom: 20px}
.q_li .quan-list .quan_dd:nth-child(2n){margin-right:0 }
.q_li .quan-list .quan_dd .quan_left{padding-left: 20px; float: left; position: relative; height: 100%; width: 210px}
.q_li .quan-list .quan_dd .toUse{float: right; height: 100%; width: 40px; text-align: center; writing-mode: vertical-lr; writing-mode: tb-lr; text-align: center; font-size: 13px; color: #fff; line-height: 40px; background: #FA9899; border-radius:0 6px 6px 0; position: relative;}
.q_li .quan-list .quan_dd .toUse s{display: block; width:4px ;position: absolute;left: -4px; top: 0; bottom: 0;}
.q_li .quan-list .quan_dd.shop_q  .toUse{background: #74D2D4}
.q_li .quan-list .quan_dd.guoqi{position: relative;}
.q_li .quan-list .quan_dd.guoqi .guoqi_icon{width: 48px; height: 48px; background: url(../images/guoqi.png) no-repeat center/cover; position: absolute; top: 0; left: 0;}
.q_li .quan-list .quan_dd.shop_q{background: #F1FAFB}
.q_li .quan-list .quan_dd.shop_q h2{color: #74D2D4 ; }
.q_li .quan-list .quan_dd h2{font-size: 14px; color: #FA9899;padding-top: 10px}
.q_li .quan-list .quan_dd h2 b{font-size: 26px; font-weight: bold;}
.q_li .quan-list .quan_dd h2 span{font-size: 13px; margin-left: 3px ;color:#FA9899 }
.q_li .quan-list .quan_dd.shop_q h2 span{ color: #74D2D4; }
.q_li .quan-list .quan_dd.no_has .state_icon{display:none;}
.q_li .quan-list .quan_dd .state_icon{width: 54px; height: 54px; background: url(../images/has_get_icon.png) no-repeat center/cover; position: absolute; right: 10px; bottom: 10px}
.q_li .quan-list .quan_dd.shop_q .state_icon{background-image: url(../images/has_get_icon1.png)}
.q_li .quan-list .quan_dd .useTip{font-size: 14px; color: #333; margin-top: -6px;}
.q_li .quan-list .quan_dd .usetime{font-size: 13px; color: #999; position: absolute; bottom: 10px}
.q_li .quan-list .quan_dd .newCuslab.fn-hide{display: none;}
.q_li .quan-list .quan_dd .newCuslab{display: inline-block; line-height: 22px; background: linear-gradient(90deg, #F75F50 0%, #F91A29 100%); color: #fff; border-radius: 4px; padding: 0 6px}
.detailComment .right{margin-right: 0}
.detailComment .right .cart,.detailComment .right .canjia_btn,.detailComment .right .nostore{display: block; width: 140px; height: 49px; background: linear-gradient(90deg, #FF424B 0%, #FB2731 100%); font-size: 16px; color: #fff; font-weight: bold; text-align: center; line-height: 49px; margin-right: -1px;}
.detailComment .right .nostore{background: linear-gradient(90deg, #E8E8E8 0%, #DBDBDB 100%); color: #999} /* 秒杀 */
.miaosha,.qianggou,.pintuan,.kanjia{height: 66px; background: url(../images/miaosha_bg.png) no-repeat center/cover}
.qianggou{background-image: url(../images/qianggou_bg.png)}
.pintuan{background-image: url(../images/pintuan_bg.png); position: relative;}
.pintuan .pNum{display: block; min-width: 60px; height: 34px; line-height: 34px; border-radius: 4px; background: #fff; font-size: 14px; color: #FB0F3A; font-weight: bold; position: absolute; left: 136px; top: 0; bottom: 0; margin: auto; text-align: center; box-sizing: border-box; padding-bottom: 6px;}
.pintuan .pNum s{display: block; width: 10px; height: 10px; border-radius: 2px; background: #fff; transform: rotate(45deg); position: absolute; left: -3px; top: 0; bottom: 0; margin: auto;}
.kanjia{background-image: url(../images/kanjia_bg.png)}
.miaosha .right,
.qianggou .right,
.kanjia .right,
.pintuan .right{padding-right: 24px; font-size: 14px; color: #fff; line-height: 66px;}
.miaosha .right span,
.qianggou .right span,
.kanjia .right span,
.pintuan .right span{font-size: 18px; font-weight: bold; color: #000}
.miaosha .right em,
.qianggou .right em,
.kanjia .right em,
.pintuan .right em{display: inline-block; min-width: 32px; padding: 0 4px; box-sizing: border-box; height: 32px; border-radius: 4px; background: #000; vertical-align: middle; margin: 0 10px; color: #fff;font-size: 16px; text-align: center; line-height: 32px; font-family: moneyNumber; }
.kanjia .right span{color: #fff}
.kanjia .right em{background: #fff; color: #EF491B}
@font-face {
	font-family: moneyNumber;
	src: url('/static/fonts/coregtd6.otf'),
		url('/static/fonts/coregtd6.TTF'),
		url('/static/fonts/coregtd6.svg'),
		 url('/static/fonts/coregtd6.woff'); /* IE9 */
}


/* 评论 */
.comment_li{padding: 20px 0; border-bottom: solid 1px #eee;}
.comment_li .leftBox{float: left; width: 160px; box-sizing: border-box; padding-left: 6px}
.comment_li .headIcon{width: 50px; height: 50px; display: inline-block;vertical-align: middle; border-radius: 50%; background: #f6f6f6;}
.comment_li .headIcon img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 50%}
.comment_li .leftBox .nickname{font-size: 14px; color: #333; vertical-align: middle; margin-left: 26px; display: inline-block; max-width: 78px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.comment_li .commCon{margin-left: 170px;}
.comment_li .commCon p.star{width: 90px; height: 18px; background: url(../images/star2.png) repeat-x center; margin-top: 4px; margin-bottom: 20px; background-size: 18px;}
.comment_li .commCon p.star i{    display: block; background: url(../images/star1.png) #fff; height: 18px; background-size: 18px;}
.comment_li .commCon .txtcon{font-size: 14px; color: #333; margin-bottom: 14px;}
.comment_li .commCon .carousel {margin-bottom:14px;}
.comment_li .commCon .imgList li{display: inline-block; width: 80px; height: 80px; vertical-align: middle; margin-right: 10px}
.comment_li .commCon .imgList li img{display: block; width: 100%; height: 100%; object-fit: cover;}
.comment_li .commCon .pro_chose{color: #999;  }

.commentBox{border: solid 1px #eee; border-top: none;}

/* 拼单样式 */
.singleGoods dd.cartBuy .zjbuy,.singleGoods dd.cartBuy .pindan{background: #FFF6F6; box-sizing: border-box; border: solid 1px #FFCFD1; line-height: 1.2em; vertical-align: middle; font-size: 14px; font-weight: bold; color: #FB2933;}
.singleGoods dd.cartBuy .zjbuy h4,.singleGoods dd.cartBuy .pindan h4{font-size:16px;  padding-top: 10px; font-weight: normal; margin-bottom: 4px}
.singleGoods dd.cartBuy .zjbuy h4 b,.singleGoods dd.cartBuy .pindan h4 b{font-weight: bold; font-size: 20px;}
.singleGoods dd.cartBuy .pindan{background: linear-gradient(90deg, #FF424B 0%, #FB2731 100%); color: #fff; border: none;}

.pindanListBox{margin-bottom: 25px; border: solid 1px #eee}
.pindanListBox h2{font-size: 16px; color: #fff; background: #F7F7F7; height: 50px; border-bottom: solid 1px #eee;}
.pindanListBox h2 span{display:block; float: left; padding: 0 25px; background: linear-gradient(90deg, #FF424B 0%, #FB2731 100%); line-height: 51px; margin-left: -1px;}
.pindanListBox ul{padding: 20px; overflow: hidden;}
.pindanListBox ul li{float: left; width: 450px; height: 96px; border-radius: 10px; background: #FFF6F6; margin-right: 14px; box-sizing: border-box;  padding: 23px 0; padding-right: 140px; position: relative; margin-bottom: 15px; padding-left: 16px;}
.pindanListBox ul li:nth-of-type(2n){margin-right: 0;}

.pindanList .headIcon{width: 50px; height: 50px; border-radius: 50%; display: inline-block; vertical-align: middle; background: #f00; margin-right: 10px;}
.pindanList .buyer p{display: inline-block; vertical-align: middle; font-size: 16px; color: #000;}
.pindanList .headIcon img{width: 100%; height: 100%; object-fit: cover; display: block;}
.pindanList .orderInfo h3{font-size: 14px; color: #000; margin-top: 6px}
.pindanList .orderInfo h3 span{color: #EC3628}
.pindanList .orderInfo .right p{color: #999; font-size: 14px;}
.pindanList a.pindan_btn{display: block; width: 94px; height: 40px; border-radius: 20px; color: #fff; text-align: center; background: linear-gradient(90deg, #F65338 0%, #F22A18 100%); font-size: 14px; line-height: 40px; position: absolute; left: 310px; right: 0; top: 0; bottom: 0; margin: auto; box-shadow: 0px 6px 16px 0px rgba(195, 14, 0, 0.25);}

.canjia_btn{position: relative;}
.right .canjia_btn .popCode{right: 90px; left: auto; z-index: 9}
.canjia_btn:hover .popCode{display: block;}
.popCode{width: 300px; height:320px; background: #FFF; box-shadow: 0px 6px 27px 0px rgba(119, 119, 119, 0.14); border-radius: 10px; position: absolute; left: 90px; top: 0; bottom: 0; margin: auto; display: none; animation: topFadeIn .3s}
.popCode .code{margin: 10px 20px; padding: 14px}
.popCode .code img{display: block; width: 100%; object-fit: cover; }
.popCode p{color: #666; font-size:15px; font-weight: normal; line-height: 1.2em; text-align: center;}

.showCode .popCode{width: 150px; height: 170px; top: 40px; left: 30px;}
.showCode .popCode .code{margin: 4px 10px; padding: 6px;}


.navBoxContainer .allNav{position: relative;}
.navBoxContainer .allNav:hover dd{display: block;}
.navBoxContainer .allNav dd{position: absolute; background: #fff; border: 2px solid #393939; box-shadow: 0px 3px 29px 0px rgba(0, 0, 0, 0.1);  left: 0; right: 0; z-index: 9; color: #fff;  animation: topFadeIn .2s; border-top: none; display:none; min-height:380px;}
.navBoxContainer .allNav dd a{color: #333; font-size: 16px; padding-left: 26px; display: block;}
.navBoxContainer .allNav dd .pul li{line-height: 40px; height: 40px;}
.navBoxContainer .allNav dd .pul>li{position: relative;}
.navBoxContainer .allNav dd .pul>li s{display: inline-block; width: 12px; height: 12px; background: url(../images/arr_black.png) no-repeat center/cover; position: absolute; right: 12px; top: 0; bottom: 0; margin: auto;}
.navBoxContainer .allNav dd .pul>li:hover s{background-image: url(../images/arr_white.png)}
.navBoxContainer .allNav dd .pul>li:hover>a{background: #383838; color: #fff; width: 110%}
.navBoxContainer .allNav dd .pul>li:hover .cul{display: block;}
.navBoxContainer .allNav dd .pul>li:hover .cul a{color: #fff;}
.navBoxContainer .allNav dd .cul{position: absolute; background: #383838; color: #fff;left: 208px; top: 0; width: 158px; display: none;}
.navBoxContainer .allNav dd .pul>li:hover .cul li:hover a{background: #fff; color:#383838; }
.navBoxContainer .navShow a:hover{background: #FC2831;}
/* 错误提示1 */
.popErrAlert {position: absolute; width: 100%; height: 100%; left: 0; top: 0; z-index: 100001; visibility: hidden;}
.popErrAlert p {position: absolute; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: 14px; line-height: 1.4; text-align: center; padding: 10px; z-index: 9999; left: 0; top: 50%; margin-top: 20px;}


/*分享赚样式*/
.yhBox .label{margin-right: 0px!important;}
.singleGoods dd.info li.fenxiao_share{padding:0 85px; font-size: 14px;color: #666}
.singleGoods dd.info li.fenxiao_share span{background: #FEEAE7;height: 26px;line-height: 26px;padding: 0 15px 0 10px;font-size: 14px;color: #F44536;font-weight: bold;display: inline-block;position: relative;margin-right: 10px;}
.singleGoods dd.info li.fenxiao_share span s.fx_icon{display: inline-block;width: 18px;height: 18px;background: url(../images/fx_icon.png) no-repeat center;vertical-align: middle;margin-top: -2px;margin-right: 2px;}
.singleGoods dd.info li.fenxiao_share span s.arr_icon{display: inline-block;width: 8px;height: 8px;background: #FEEAE7;position: absolute;right: -3px;top: 9px;transform: rotate(135deg);}
.singleGoods dd.info li.fenxiao_share  b{font-size: 14px;color: #F44536;font-weight: normal;}
.singleGoods dd.info li.fenxiao_share .yqzq{width: 6px;height: 6px;border: 1px solid transparent;border-top-color: #666;border-right-color: #666;    display: inline-block;transform: rotate(45deg);vertical-align: middle;margin-top: -2px;margin-left: 10px;cursor: pointer;}

.singleGoods dd.info li.q_li .newqbox{display: inline-block;vertical-align: top}
.singleGoods dd.info li.q_li .newqbox .vipIcon{display: inline-block;width: 22px;height: 22px;background: url(../images/vipicon.png) no-repeat center;vertical-align: middle;margin-top: -2px;margin-right: 5px}
.singleGoods dd.info li.q_li .newqbox .pointIcon{display: inline-block;width: 22px;height: 22px;background: url(../images/pointicon.png) no-repeat center;vertical-align: middle;margin-top: -2px;margin-right: 5px}
.singleGoods dd.info li.q_li .newqbox span{font-size: 14px;color: #333;}

/*2021-12-6 新增*/
.singleGoods dd.info .grey li.price{background:none; margin: 0; padding: 10 0px; }
.singleGoods dd.info .yhBox:not(.grey) li.price{background: url(../images/price_bg.png) no-repeat center;color: #fff;margin: 0;padding: 13px 0 10px;}
.singleGoods dd.info .yhBox:not(.grey) li.price label,.singleGoods dd.info li.price .txt{color: #fff!important;}
.singleGoods dd.info .yhBox:not(.grey) li.price span.label{color: #fff}
.singleGoods dd.info .yhBox:not(.grey) li.price .txt .moneyTxt{color: #fff;}
.yhBox .sales{top: 20px;}
.yhBox:not(.grey) .sales, .yhBox:not(.grey).sales span{color: rgba(255,255,255,.8) !important;}
.singleGoods dd.info ul.yhBox{padding-top: 0}
.tuiType{margin-top: 16px;padding-bottom: 10px;border-bottom: 1px solid #eee;}
.tuiType span{font-size: 12px;color: #666; margin-right: 16px;}
.tuiType i{display: inline-block;width: 26px;height: 26px;vertical-align: middle;margin-top: -4px; background-size: 26px}
.tuiType .tui1 i{background: url(../images/tui1.png) no-repeat center;}
.tuiType .tui2 i{background: url(../images/tui2.png) no-repeat center;}
.tuiType .notui i{background: url(../images/notui.png) no-repeat center;}
.tuiType .ps_to_home i{background: url(../images/ps_to_home.png) no-repeat center/26px;}
.tuiType .ps_to_home{color: #333; font-weight: bold;}
/* 店铺信息 */
.recBox {margin-bottom: 20px}
.recBox h2{font-size: 20px; color: #333; font-weight: bold;}
.storeCon{padding: 10px;border: 1px solid #eee;margin-top: 14px;}
.storeCon .storeImg{width: 120px;height: 120px;border: 1px solid #eee;box-sizing: border-box;float: left;border-radius: 50%;margin-left: 10px;margin-top: 10px; cursor: pointer;}
.storeCon .storeImg img{display: block;width: 100%;height: 100%;object-fit: cover;border-radius: 50%;}
.storeCon .storeInfo{float: left;margin-left: 12px;width: 476px;margin-top: 14px;height: 120px;  cursor: pointer;}
.storeCon .storeInfo h3 {}
.storeCon .storeInfo h3 span{display: inline-block; max-width: 500px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; vertical-align: middle;font-size: 20px;color: #333;font-weight: bold;}
.storeCon .storeInfo .otInfo{font-size: 13px;color: #666;margin-top: 4px;}
.storeCon .storeInfo .otInfo span{display: block;margin-bottom: 3px;overflow: hidden;}
.storeCon .storeInfo .otInfo font{display: inline-block;vertical-align: top;}
.storeCon .storeInfo .otInfo em{display: inline-block;max-width: 400px;vertical-align: top;}
.storeCon .storeInfo .chat_btn{display: inline-block; width: 20px; height: 20px; background: url(../images/chat_icon.png) no-repeat center/cover; vertical-align: middle; margin-left: 7px}
.storeCon .btns_group {text-align: center;float: left;margin-left: 12px;margin-top: 40px;}
.storeCon .btns_group a{display: inline-block; width: 90px; height: 36px; border: 1px solid #DDD; text-align: center; line-height: 36px;font-size: 12px; color: #666; background: #F5F5F7}
.storeCon .btns_group a s{display: inline-block; width: 20px; height: 20px; background: url(../images/home_icon.png) no-repeat center/cover; vertical-align: middle; margin-right: 4px; margin-bottom: 4px}
.storeCon .btns_group a.gz s{background-image: url(../images/cang_icon.png)}
.storeCon .storemap{float: right;}
.storeCon .storemap #allmap{width: 330px;height: 107px;}
.storeCon .storemap .appMapBtn{display: block;width: 100%;line-height: 32px;font-size: 12px;color: #666;background: #FBFBFB;text-align: center;}

.detailBox .rightCon{float: left;width: 970px;}
.hotSaleBox{margin-top: 0;}
.hotSaleBox h1{line-height: 40px;border-bottom: 1px solid #eee;background: #F7F7F7;padding: 0 12px;font-size: 14px;color: #333;font-weight: bold;}
.detailComment .left a span{color: #FF4217}

.mealCon{padding: 0 20px;}
.mealCon .mealTop{line-height: 50px;border: 1px solid #eee;background: #FCFCFC;font-size: 0}
.mealCon .mealTop strong{display: inline-block;font-size: 13px;color: #444;}
.mealCon .mealTop strong:first-child{padding-left: 20px;box-sizing: border-box;width: 666px;}
.mealCon .mealTop strong:nth-child(2){box-sizing: border-box;width: 110px;text-align: center;}
.mealCon .mealTop strong:nth-child(3){box-sizing: border-box;width: 150px;text-align: center;}
.mealCon .mealMid{}
.mealCon .mealMid>div{padding-bottom: 28px;border-bottom: 1px solid #eee;}
.mealCon .mealMid>div:last-child{border-bottom:none;}
.mealCon .mealMid h2{font-size: 14px;font-weight: bold;padding: 20px 20px 0;color: #000 }
.mealCon .mealMid p{font-size: 0;margin-top: 8px;}
.mealCon .mealMid p span{display: inline-block;}
.mealCon .mealMid p span:first-child{padding-left: 20px;box-sizing: border-box;width: 666px;font-size: 14px;color: #333;}
.mealCon .mealMid p span:nth-child(2){box-sizing: border-box;width: 110px;font-size: 14px;color: #999;text-align: center;}
.mealCon .mealMid p span:nth-child(3){box-sizing: border-box;width: 150px;font-size: 12px;color: #000;text-align: center;}
.comtit{font-size: 20px;font-weight: bold;padding: 26px 6px}
.comentCon .comtit{padding-bottom: 0}
.allCon .con{border-bottom: 1px solid #eee;padding-bottom: 40px;}
.allCon .con:last-child{border-bottom: none;}
.buyCon{padding: 0 26px}
.buyCon dl{font-size: 0;margin-bottom: 10px;}
.buyCon dl dt,.buyCon dl dd{font-size: 14px;display: inline-block; vertical-align: top;}
.buyCon dl dt{min-width: 70px;text-align: right;color: #333}
.buyCon dl dt{color: #333;}
.buyCon dl dd{color: #777;}

.nostore {background: #B3B3B3 !important; }