
.mainWrap{padding-bottom: 20px;}

.seTab{border-bottom: 3px solid #F52B21;margin-top: 10px;}
.seTab li{float: left;}
.seTab li a{display: block;padding: 0 33px;line-height: 44px;font-size: 16px;}
.seTab li.curr a,.seTab li:hover a{color: #fff;font-weight: bold;background: #F52B21}
.seTab li.fn-hide{display: none;}
.seResult{padding: 22px 0 20px;font-size: 13px;color: #666;border-bottom: 1px solid #eee;}
.seResult strong{color: #333;margin-right: 5px;}
.seResult .typeArr{display: inline-block;}
.seResult .typeArr span{display: inline-block; line-height: 24px; border: solid 1px #E8E8E8; padding:0 5px; padding-left: 7px; color: #666; font-size: 13px; margin-right: 8px;cursor: pointer;}
.seResult .typeArr span:hover{border-color: #F52B21;}
.seResult .typeArr span:hover s{background-image: url(../images/clear_2.png)}
.seResult .typeArr span s{display: inline-block; width: 12px; height: 12px; background: url(../images/clear_1.png) no-repeat center/cover; vertical-align: middle; margin-left: 12px;}
/*筛选条件*/
.left{float: left;}
.select{ background: #fff; margin:0 auto;}
.select .tab{line-height: 30px; font-size: 12px; padding-bottom: 10px; border-bottom:1px solid #f5f5f7; padding-top: 10px;position: relative;overflow: hidden;}
.select span{display: inline-block; width: 105px; text-indent: 10px;color: #999}
.select .downFilter{height: 30px;overflow: hidden;transition: all .3s;margin-left:105px;}
.select p{ line-height: 30px;margin-right: 100px;}
.select p a{margin:0 12px;    display: inline-block; }
.select p a.on{color:#F52B21 }
.select p.bot{border: none}

.seeMore{position: absolute;font-size: 13px;color: #333;right: 0;top: 10px;}
.seeMore i{ display: inline-block; width: 10px; height: 10px; background: url(../images/flarr.png) no-repeat center/cover;vertical-align: middle;margin-top: -4px;margin-left: 4px;transform: rotate(90deg);}
.seeMore.active i{transform: rotate(-90deg);}
.resultWrap{margin-top: 27px;}
.filterTab{background: #F8F8FA;padding-right: 20px;}
.filterTab .shaiX{float: left;margin-right: 10px;}
.filterTab .shaiX li{float: left;margin-right: 26px;}
.filterTab .shaiX a{font-size: 13px;padding: 0 22px;display: block;height: 40px;line-height: 40px;box-sizing: border-box;}
.filterTab .shaiX .curr a{border-bottom: 3px solid #F52B21;}
.filterTab .inpbox {float: left;margin-top: 5px;}
.filterTab .inpbox .p1, .filterTab .inpbox .p2 {width: 60px; padding: 0 4px; height: 28px; border: solid 1px #f0f2f7; line-height: 28px;  margin: 0 4px;background: #fff;outline: none;}
.filterTab .priceFilter{position: relative; }
.filterTab .priceFilter a{padding-right: 35px}
.filterTab .priceFilter i,.filterTab .priceFilter s{display: inline-block;width: 10px;height: 6px;background: url(../images/pr1.png) no-repeat center/cover;position: absolute;left: 55px;top: 14px;}
.filterTab .priceFilter s{background: url(../images/pr2.png) no-repeat center/cover;top:21px;}
.filterTab li.priceFilter.up i{background: url(../images/pr11.png) no-repeat center/cover;}
.filterTab li.priceFilter.down s{background: url(../images/pr22.png) no-repeat center/cover;}

.otherFilter{float: right;margin-top: 11px;display: none;}
.otherFilter.show{display: block;}
.otherFilter a{margin-left: 33px;}
.otherFilter a s{display: inline-block;width: 16px;height: 16px;border: 1px solid #eee;border-radius: 2px;background: #fff;vertical-align: middle;margin-top: -4px;margin-right: 4px;}
.otherFilter a span{font-size: 13px;color: #444;}
.otherFilter .curr s{border: 1px solid #F52B21;background:#F52B21 url(../images/gou.png) no-repeat center;background-size: 12px }

.filterPage{float: right;margin-top: 8px;font-size: 0;margin-left: 23px;display: none;}
.filterPage a,.filterPage span{display: inline-block;}
.filterPage span {font-size: 12px;color: #333;}
.filterPage span.currPa {font-size: 13px;color: #F52B21;font-weight: bold;}
.filterPage a{width: 14px;height: 14px;background: url(../images/addpa.png) no-repeat center/cover;vertical-align: middle;margin-top: -9px;}
.filterPage .recPa{transform: rotate(180deg);margin-right: 5px;}
.filterPage .addPa{margin-left: 5px;}
.filterPage .recPa.disabled{background: url(../images/recpa.png) no-repeat center/cover;transform: rotate(0deg);}
.filterPage .addPa.disabled{background: url(../images/recpa.png) no-repeat center/cover;transform: rotate(180deg);}
/*区域*/
.adrsubTab{display: none;}
/*品牌*/
.brand {}
.brand .downFilter{height: auto;border-top: 1px solid #F2F2F2;border-left: 1px solid #F2F2F2;margin-left: 117px;width: 960px;}
.brand .downFilter a{border-right: 1px solid #F2F2F2;border-bottom: 1px solid #F2F2F2;width: 120px;height: 50px;box-sizing: border-box;text-align: center;float: left; line-height: 50px;font-size: 12px;color: #006699;}
.brand .downFilter a img{display: inline-block;width: 72px;height: 30px;vertical-align: middle;object-fit: cover;margin-top: -4px;}
.brand .downFilter a.on{color: #F52B21}

/*列表*/
.goodList {padding: 20px 0 0;}
.goodList li.proLi{width: 238px;float: left;background: #fff;margin-bottom: 20px;transition: all .3s;-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;border: 1px solid #fff;}
.goodList li.proLi:nth-child(5n){margin-right: 0;}
.goodList li.proLi:hover{box-shadow: 0px 3px 13px 0px rgba(4, 6, 18, 0.05);-moz-box-shadow: 0px 3px 13px 0px rgba(4, 6, 18, 0.05);-webkit-box-shadow: 0px 3px 13px 0px rgba(4, 6, 18, 0.05);-ms-box-shadow: 0px 3px 13px 0px rgba(4, 6, 18, 0.05);transform: translate3d(0,-8px,0);-o-transform: translate3d(0,-8px,0);-webkit-transform: translate3d(0,-8px,0);transform: -moz-translate3d(0,-8px,0);border: 1px solid #eee;}

.goodList li.proLi a{display: block;padding: 10px 6px 0;}
.goodList li.proLi .goodImg{width: 225px;height: 225px;position: relative;overflow: hidden;}
.goodList li.proLi .goodImg img{width:100%;height: 100%;object-fit: cover;display: block;}
.goodList li.proLi .goodInfo{padding: 6px 5px 10px;}
.goodList li.proLi .goodInfo .goodTitle{width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: 15px;color: #000;font-weight: bold;}
.goodList li.proLi .goodInfo .goodSale{display: flex;align-items: center;margin-top: .04rem;}
.goodList li.proLi .goodInfo .xf{font-size: 12px;color: #A6A8B2;margin-top: 4px;}
.goodList li.proLi .goodInfo .xf em{display: inline-block;width: 1px;height: 12px;background: #ADAFB8;vertical-align: middle;margin: -4px 10px 0;}
.goodList li.proLi .goodInfo .goodSale span{font-size: .22rem;color: #9A9CA6;}
.goodList li.proLi .goodInfo .goodSale em{width: 1px;height: 12px;background: #ADAFB8;margin-left: .14rem;margin-right: .14rem;}
.goodList li.proLi .goodPrice{margin-top: 4px;display: flex; align-items: baseline;}
.goodList li.proLi .goodPrice .newPrice{font-size: 14px;color: #f52b21;} 
.goodList li.proLi .goodPrice .newPrice strong{font-size: 22px;font-family: moneyNumber;} 
.goodList li.proLi .goodPrice .newPrice em{font-size: 16px;font-family: moneyNumber;} 
.goodList li.proLi .goodPrice s{font-size: 14px;color: #A6A8B3;text-decoration: line-through;margin-left: 4px;} 
.goodList li.proLi .goodStore{max-width: 85%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-size: 14px;color: #666;margin-top: -2px;}

/*精选商品*/
.goodList li.proLi .hdSale{font-size: 12px;color: #A6A8B2;margin-top: 6px;}
.goodList.jxList li .goodInfo{padding-top: 10px;}
.goodList.jxList li .goodPrice{margin-top: 3px}
.goodList.jxList li.hdLi .goodPrice{margin-top: -1px}
.goodList.jxList .baoy{display: inline-block;height: 24px;border: 1px solid #EC3628;font-size: 12px;background: #fff;color:#EC3628;line-height: 24px;padding: 0 5px;border-radius: 2px;margin-left: 4px;}
/*特殊活动*/
.goodList li.proLi.hdLi .goodPrice{margin-top: -2px;}
.goodList li.proLi .comhd{font-size: 0;margin-top: 2px;}
.goodList li.proLi .comhd span{display: inline-block;height: 24px;border: 1px solid #EF0027;font-size: 12px;background: #fff;color:#EF0027;line-height: 24px;padding: 0 7px;border-radius: 0 2px 2px 0; }
.goodList li.proLi .comhd span.active{background: #EF0027;color: #fff;border-radius: 2px 0 0 2px; }

.goodList li.proLi .comhd.tuanhd span{border: 1px solid #891EE5;color:#8A1EE5; }
.goodList li.proLi .comhd.tuanhd span.active{background: linear-gradient(90deg, #A92DE7 0%, #871DE5 100%);color: #fff; }

.loading{line-height: 100px;text-align: center;font-size: 18px;}

.emptyData{text-align: center;background: #fff;display: none;padding-bottom: 100px}
.emptyData img{display: block;width: 510px;height: 390px;margin: 0 auto 40px;}
.emptyData h2{font-size: 18px;color: #333;font-weight: bold;}
.emptyData p{font-size: 14px;color: #999;margin-top: 10px;}

/*送到家列表*/
.goodList li.proLi.daojLi .goodInfo .goodTit{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;height: 30px;font-size: 13px;line-height: 20px;height: 40px;margin-top: 6px;margin-bottom: 8px;}
.goodList li.proLi.daojLi .goodInfo .hasale{font-size: 12px;color: #A6A8B2;}
.goodList li.proLi.daojLi .contactStore span{font-size: 12px;color: #666;display: inline-block;max-width: 200px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.goodList li.proLi.daojLi .contactStore i{display: inline-block;width: 20px;height: 20px;background: url(../images/imcon.png) no-repeat center/cover;vertical-align: middle;margin-top: -8px;overflow: hidden;margin-left: 5px;}
.goodList li.proLi.daojLi .goodInfo{padding-top: 0;padding-bottom: 0}
.goodList li.proLi.daojLi .goodInfo a{padding-top: 0;}
.goodList li.proLi.daojLi .contactStore a{padding: 8px 12px 18px}
/*商家列表*/
.reLeft{float: left;width: 930px;}
.goodList li.storeLi{padding: 15px 0;}

.goodList li.storeLi a{display: block;}
.goodList li.storeLi .storeImg{width: 170px;height: 170px;position: relative;float: left;overflow: hidden;border: 1px solid #EEEEF3;box-sizing: border-box;}
.goodList li.storeLi .storeImg a{display: flex;width: 170px;height: 170px; align-items: center; justify-content: center;}
.goodList li.storeLi .storeImg img{max-width:100%;max-height: 100%;object-fit: cover;display: block; transition: transform .3s}
.goodList li.storeLi:hover .storeImg img{transform: scale(1.1);}
.goodList li.storeLi .storeInfo{margin-left: 10px;float: left;width: 266px;position: relative;height: 170px;}
.goodList li.storeLi .storeInfo .storeTit{}
.goodList li.storeLi .storeInfo .storeTit strong{font-size: 17px;max-width:180px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;display: inline-block;}
.goodList li.storeLi .storeInfo .storeTit em{display: inline-block;vertical-align: top;width: 20px;height: 20px;background: linear-gradient(0deg, #FF4748 0%, #F21F20 100%);border-radius: 4px;font-size: 12px;color: #fff;text-align: center;margin-top: 4px;margin-left: 8px}
.goodList li.storeLi:hover .storeTit strong{color: #F52B21}
.goodList li.storeLi .pinf{margin-top: 6px;font-size: 0;}
.goodList li.storeLi .haoping{display: inline-block;vertical-align: top;margin-top: 4px;}
.goodList li.storeLi .haoping i{display: inline-block;width: 18px;height: 18px;background: url('../images/star.png') no-repeat center; background-size: cover; vertical-align: middle;}
.goodList li.storeLi .haoping em{font-size: 16px;font-family: moneyNumber;display: inline-block;line-height: 1;vertical-align: top;margin-top: 2px;}
.goodList li.storeLi .pinf span{display: inline-block;line-height: 26px;border-radius: 4px;padding: 0 10px;font-size: 14px;color: #666;background: #E9F1FC;margin-left: 10px;}
.goodList li.storeLi .pinf span.storeCollect{background: #FFEFEB;color: #F24730;}

.goodList li.storeLi .otTs{font-size: 14px;color: #999;max-width:230px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;margin-top: 10px;}

.goodList li.storeLi .storeAdr{margin-top: 30px;}
.goodList li.storeLi .storeAdr span{font-size: 14px;color: #666;max-width:160px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden; display: inline-block; vertical-align: middle;}
.goodList li.storeLi .storeAdr i{display: inline-block;width: 18px;height: 18px;background: url('../images/storeadr.png') no-repeat center; background-size: cover;vertical-align: middle;}
.goodList li.storeLi .storeAdr em{font-size: 14px;color: #999;float: right;}
.goodList li.storeLi .haoping s{font-size:12px; color:#999; font-style:normal; text-decoration:none; vertical-align: middle; margin-left: 2px;}

.goodList li.storeLi .storeBot{float: right;}
.goodList li.storeLi .storeBot dl{float: left;}
.goodList li.storeLi .storeBot dl:nth-child(2){margin-right: 15px;margin-left: 15px;}
.goodList li.storeLi .storeBot dl dt{position: relative;width: 140px;height: 140px;overflow: hidden;}
.goodList li.storeLi .storeBot dl dt img{display: block;width: 100%;height: 100%;object-fit: cover;}
.goodList li.storeLi .storeBot dl dt h2{position: absolute;left: 0;right: 0;bottom: 0;line-height: 24px;background: rgba(0,0,0,.6); }
.goodList li.storeLi .storeBot dl dt h2 span{font-size: 13px;color: #fff;max-width: 158px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;margin-left: 8px; display: block;}

.goodList li.storeLi .storeBot dl dd{padding: 10px 4px 0;color: #333;font-size: 14px;}
.goodList li.storeLi .choiceStore{position: absolute;left: 0;bottom: 14px;width: 264px;text-align: center;line-height: 37px;display: block;background: #2167F5;border-radius: 6px;font-size: 15px;color: #fff;font-weight: bold;display: none;}
.goodList li.storeLi .choiceStore a{color: #fff;}
.goodList li.storeLi:hover .choiceStore{display: block;}
.goodList li.storeLi:hover .storeAdr{display: none;}

/*猜你喜欢*/
.reRight{float: right;width: 225px;display: none;}
.reRight .reTit{font-size: 18px;color: #333;font-weight: bold;padding: 6px 0 10px;}
.likeList li {margin-bottom: 10px;}
.likeList li .likeImg{position: relative;width: 225px;height: 220px;overflow: hidden;}
.likeList li .likeImg img{display: block;width: 100%;height: 100%;object-fit: cover;}
.likeList li .likeInfo{padding: 6px 10px 10px;border: 1px solid #eee;border-top: none;}
.likeList li .likeInfo h2{font-size: 13px;color: #333;max-width: 100%;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.likeList li .likeInfo p{color: #f52b21;font-size: 0;font-family: moneyNumber}
.likeList li .likeInfo p span{font-size: 14px;}
.likeList li .likeInfo p strong{font-size: 16px;}
/* 分页 */
.sepagination {height: 50px; padding: 30px 20px; display: none;text-align: center;}
.pagination-pages {display: inline-block;}
.pagination-pages a, .pagination-pages span {float: left; min-width: 18px; height: 38px; padding: 0 10px; margin: 0 0 0 10px; background-color: #fff; border: 1px solid #d9d9d9; text-align: center; line-height: 38px; font-size: 14px; cursor: pointer; color: #333; text-decoration: none; border-radius: 3px; box-shadow: 0 2px 2px #e7e7e7;}
.pagination-pages .curr, .pagination-pages .interim {cursor: default;}
.pagination-pages .interim {border-color: transparent; box-shadow: none; padding: 0;}
.pagination-pages .curr {background: #f8f8f8; color: #ccc; border-color: #e9e9e9; cursor: no-drop;}
.pagination-pages a:hover {background-color: #f60; color: #fff; border-color: #f60;}
.pagination-pages .prev, .next {padding: 0 8px;}
.pagination-pages .disabled {background-color: #999; color: #fff; cursor: default;}
.pagination-pages .redirect {float: left; margin-left: 20px; line-height: 40px; font-size: 14px;}
.pagination-pages .redirect i {font-style: normal; float: left;}
.pagination-pages .redirect input {float: left; width: 50px; margin: 0 5px; padding: 9px 5px; height: 20px; border: 1px solid #d9d9d9; box-shadow: 0 2px 2px #e7e7e7; border-radius: 3px; outline: 0; text-align: center;}
.pagination-pages .redirect button {float: left; height: 40px; padding: 9px 15px; margin-left: 10px; background-color: #fff; border: 1px solid #d9d9d9; line-height: 20px; outline: 0; box-shadow: 0 2px 2px #e7e7e7; border-radius: 3px; cursor: pointer; font-size: 14px;}
.pagination-pages .redirect button:hover {background-color: #f5f5f5;}

.ensure{background: #f8f8f8;}
.footer.gray{background: #f8f8f8!important;}