/* .pageBox{padding-bottom: 1.5rem;}
.jobListBox li{ padding:.55rem .32rem .56rem; border-bottom:solid 1px #f5f7f9 ;}
.jobListBox li h4{font-size: .3rem; color: #141933; font-weight: bold; display: flex; align-items: flex-start; max-width: 80%;}
.jobListBox li h4::before{content: ''; display: block; width: .3rem; height: .3rem; background: url(../images/posi.png) no-repeat center/cover; margin-right: .15rem; transform: translateY(.06rem); flex-shrink: 0; }
.jobListBox li .editArr{width: .4rem; height: .4rem; background: url(../images/addr_edit.png) no-repeat center/cover; display: block;}
.jobListBox li .del{color: #FF4F38; font-size: .28rem;}
.jobListBox li .addr{display: flex; align-items: center; justify-content: space-between;}
.jobListBox li .lab{font-size: .22rem; color: #fff; display: inline-flex; align-items: center; justify-content: center; padding: 0 .06rem; height: .36rem; background-color: #3377FF; border-radius: .06rem; margin-left: .44rem; margin-top: .12rem; margin-bottom: -.2rem;}
.jobListBox li.company{padding-bottom: .4rem;}
.jobListBox li p{font-size: .24rem; color: #141933; margin-top: .2rem; padding-left: .44rem; }
.jobListBox li p.none{color:#999}
.bottomFixed{padding: .3rem .4rem; background-color: #fff; display: flex; align-items: center; justify-content: space-between; position: fixed; left: 0; right: 0; bottom: 0;}
.bottomFixed a{display: flex; align-items: center; justify-content: center; width: 2.2rem; height: .88rem; border-radius: .44rem; border: solid 1px #66A1FF; color: #256CFA; font-size: .3rem; flex-shrink: 0; box-sizing: border-box;}
.bottomFixed a.addAddr{ background: linear-gradient(-90deg, #266EFF 0%, #3381FF 100%); color: #fff; width: 100%; flex-shrink: 1; margin-left: .2rem; border: none;}

.myConfirmPop .pubdelAlert{width: 5.6rem; max-width: fit-content;}
.myConfirmPop .pubdelAlertCon{width: 5.6rem;}
.myConfirmPop .pubdelAlertCon p{margin-top: .12rem; color:#666;} */

body{min-height: 100vh; box-sizing: border-box; background-color: #f7f9fc;}
.formBox{padding: 0 .3rem .3rem; background-color: #fff; border-radius: .2rem; margin-top: .2rem;}
.formBox .form_item{height: 1.12rem; display: flex; align-items: center; border-top: solid 1px #F5F5F7;}
.formBox .form_item:first-of-type{border: none;}
.formBox .form_item label{color: #222; font-size: .3rem; font-weight: bold; flex-shrink: 0;}
.formBox .form_item input{background: none; width: 100%; background: none; border: none; font-size: .3rem; box-sizing: border-box; padding-left: .24rem;}
.formBox .form_item input::placeholder{color: #B3B3B3;}

.spotWrap{background: #F7F8FA;border-radius: .08rem;padding: .2rem;    overflow: hidden; min-height: 1.4rem; box-sizing: border-box;}
.spotWrap .selftxt{}
.spotWrap .selftxt{font-size: .24rem;color: #333;line-height: .4rem;}
.spotWrap .selftxt:empty:before{content: attr(placeholder);color: rgba(34, 34, 34, .3);}
.spotWrap .selftxt:focus{ content:none;}

.spotWrap .spotOper{display: flex;align-items: center;float: right;margin-top: .45rem;display: none;}
.spotWrap .spotOper .spotCancel{font-size: .26rem;color: #666;margin-right: .42rem;}
.spotWrap .spotOper .spotSure{font-size: .26rem;color: #fff;font-weight: bold;padding: 0 .38rem;line-height: .54rem;border-radius: .27rem;background: linear-gradient(-90deg, #266EFF 0%, #3381FF 100%);}

.formBox.noPad{padding-bottom: 0;}
.formBox.noPad .form_item{justify-content: space-between;}
.formBox.noPad p{color: #aaa; font-size: .22rem;}
.formBox.noPad a.switch{width: .8rem; height: .46rem; background: #E6E6E6; border-radius: .23rem; position: relative;}
.formBox.noPad a.switch::before{content: ''; display: block; width: .38rem; height: .38rem; background: #FFFFFF; box-shadow: 0px .03rem .03rem 0px rgba(123,123,123,0.23); border-radius: 50%; position: absolute;left: .04rem; top: 0; bottom: 0; margin: auto; transition: left .3s;}
.formBox.noPad a.switch.on::before{left: .38rem;}
.formBox.noPad a.switch.on{ background: linear-gradient(-90deg, #266EFF 0%, #3381FF 100%);}
.formBox.noPad a.switch.on.disabled{background: linear-gradient(-90deg, #266eff66 0%, #3381FF66 100%); pointer-events: none;}
.formBox .form_item .addr{display: flex; align-items: center; justify-content: center; font-size: .28rem; color: #256CFA; flex-shrink: 0;}
.formBox .form_item .addr::before{content: ''; display: block; width: .28rem; height: .28rem; background: url(../images/posi_blue.png) no-repeat center/cover;}

.saveAddr{display: flex; align-items: center; justify-content: center; margin: .5rem .3rem 0; background: linear-gradient(-90deg, #266EFF 0%, #3381FF 100%); color: #fff; font-size: .32rem; height: .88rem; border-radius: .44rem;}

/* 新增工作地 */
.mask_pop{position: fixed; left: 0; right: 0; top: 0; bottom: 0; background: rgba(0,0,0,.5); display: none; z-index: 100;}
.pubPopBox.showPop{transform: translateX(0);}
.pubPopBox{position: fixed; left: 0; right: 0; bottom: 0; background: #fff;  border-radius: .5rem .5rem 0 0 ; min-height: 4rem;z-index:100; padding-bottom: 1.2rem; box-sizing: border-box; transform: translateY(100%); transition: transform .3s; padding-bottom:calc(-.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.3rem + env(safe-area-inset-bottom)); z-index: 100;}
.pubPopBox .pop_head{display: flex; align-items: flex-start; justify-content: space-between; padding: .4rem; height: 1.5rem; box-sizing: border-box;}
.pubPopBox .pop_head h2{font-size: .4rem; color: #141933; font-weight: bold;}
.pubPopBox .pop_head a.close_pop{display:block; width: .24rem; height: .24rem; background: url(../images/close_btn1.png) no-repeat center/cover;}
.showMask.mask_pop{display: block;}
.addWorkPosiPop .popHeader{padding: 0 .3rem;}
.addWorkPosiPop .popHeader .btnsGroup{display: flex; align-items: center; justify-content: space-between; padding: 0 .1rem;}
.addWorkPosiPop .popHeader .btnsGroup a{display: block; font-size: .32rem; color: #999; font-weight: bold;}
.addWorkPosiPop .popHeader .btnsGroup a.sure_btn{color: #256CFA; line-height: 1rem;}
.addWorkPosiPop .popHeader .searchBox{height:.72rem; border-radius: .36rem; background-color: #F7F8FA; display: flex; align-items: center;  padding: 0 .2rem;}
.addWorkPosiPop .popHeader .searchBox::before{content: ''; display: block; width: .4rem; height: .4rem; background: url(../images/search_icon2.png) no-repeat center/cover;}
.addWorkPosiPop .popHeader .searchBox input{background: none; border: none; height:.72rem; width: 100%; box-sizing: border-box; padding: 0 .08rem;}
.addWorkPosiPop .popCon{padding-top: .15rem;}
.addWorkPosiPop .popCon .mapBox{ margin: 0 .3rem; height: 2.8rem; border-radius: .1rem; background-color: #f5f5f5; margin-bottom:.12rem; position: relative;}
.addWorkPosiPop .popCon .mapBox .mapdiv{height: 100%; height: 100%;}
.addWorkPosiPop .popCon .suggestList{height: 7rem; overflow: auto;}
.addWorkPosiPop .popCon .suggestList li,.addWorkPosiPop .popCon .searchPage li{margin: 0 .3rem; border-bottom: solid 1px #E6E7ED; padding: .2rem 0 .26rem; padding-right: 1.7rem; position: relative;}
.addWorkPosiPop .popCon .suggestList li h4,.addWorkPosiPop .popCon .searchPage li h4{font-size: .3rem; color: #171921; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.addWorkPosiPop .popCon .suggestList li p,.addWorkPosiPop .popCon .searchPage li p{color: #A6A7AB; font-size: .22rem; margin-top: .06rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.addWorkPosiPop .popCon .suggestList li.on_chose::after,.addWorkPosiPop .popCon .searchPage li.on_chose::after{content: ''; display: block; width: .48rem; height: .48rem; background: url(../images/gou_6.png) no-repeat center/cover; position: absolute; right: .33rem; top: 0; bottom: 0; margin: auto;}
.addWorkPosiPop .popCon .suggestList li.toDefine a,.addWorkPosiPop .popCon .searchPage li.toDefine a{justify-content: flex-start; align-items: center; display: flex;}
.addWorkPosiPop .popCon .suggestList li.toDefine a::before,.addWorkPosiPop .popCon .searchPage li.toDefine a::before{content: ''; display: block; width: .4rem; height: .4rem; background: url(../images/add_icon2.png) no-repeat center/cover; margin-right: .1rem}
.addWorkPosiPop .popCon .searchPage{overflow: auto; height: 9.92rem;}

.mapCenter{position:absolute;z-index:500;left:50%;top:50%;width:.8rem;height:.8rem;margin:-.4rem -.4rem; position: absolute; display: block; }
.mapCenter.animateOn::before{-webkit-animation: bounce 0.6s both   cubic-bezier(0.30, 1.80, 0.85, 1.85); animation: bounce 0.6s both   cubic-bezier(0.30, 1.80, 0.85, 1.85);}
.mapCenter.animateOn::after{-webkit-animation: shadow 0.6s both   cubic-bezier(0.30, 2.40, 0.85, 2.50); animation: shadow 0.6s both   cubic-bezier(0.30, 2.40, 0.85, 2.50);}
.mapCenter::before{content: ''; display: block; width: .8rem; height: .8rem; background: url(../images/mapposi_icon.png) no-repeat center/cover;  position: relative; z-index: 2}
.mapCenter::after{content: ''; display: block; width: .42rem; height: .2rem; background: url(../images/posi_shadow.png) no-repeat center/cover; position: absolute; left: 0; right: 0; bottom: -.1rem; margin: auto;}

.addWorkPosiMask,.addWorkPosiPopBox{z-index: 999;}

.popupRightBottom{display: none;}