body{min-height: 100vh; box-sizing: border-box; }
.indexBox{background: linear-gradient(0deg, #2E2E42 0%, #3C3D4F 100%); padding-bottom: 1.2rem;}
.headerBox{display: flex; align-items: center; justify-content: space-between; height: .88rem; }
html.huoniao_iOS:not(.huoniao_Android) .headerBox{height: .2rem; visibility: hidden;}
.headerBox a{display: block; width: 1rem; height: .88rem; background: url(/static/images/header_back_index.png) no-repeat center/.4rem;}
.headerBox a.setbtn{background-image: url(../images/set-icon.png); background-size: .48rem;}
.pageBox{padding-bottom: 1rem;}
html.huoniao_iOS:not(.huoniao_Android) .headerBox{visibility: hidden; height: .2rem;}
/* 公司相关信息 */
.companyInfoBox {padding-top: .1rem;}
.companyInfoBox .companyInfo{margin: 0 .3rem; display: flex; align-items: center; justify-content: space-between;}
.companyInfoBox .companyInfo a.toDetail{display: flex; align-items: center; justify-content: center; color: #fff; font-size: .24rem; background: linear-gradient(-90deg, #1C68FF 0%, #3385FF 100%); height: .62rem; border-radius: .31rem; width: 1.7rem;}
.companyInfoBox .companyInfo a.toDetail::before{content: ''; display: block; width: .3rem; height: .3rem; background: url(../images/home_icon.png) no-repeat center/cover;}
.companyInfoBox .companyInfo .cInfo .logo{width: 1.2rem; height: 1.2rem; border-radius: 50%; margin-right: .16rem; flex-shrink: 0; display: block;}
.companyInfoBox .companyInfo .cInfo .logo img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.companyInfoBox .companyInfo .cInfo{display: flex; align-items: center; }
.companyInfoBox .companyInfo .cInfo h4{font-size: .38rem; color: #fff; font-weight: 900; max-width: 3.5rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.companyInfoBox .companyInfo .cInfo p{color: rgba(255,255,255,.7); font-size: .22rem; margin-top: .1rem;}
.companyInfoBox .companyInfo .cInfo p .btn_buy{display: inline-flex; height: .3rem; border-radius: .15rem; border:  solid 1px #F5D99D ; color: #FFD3A9; font-size: .2rem; box-sizing: border-box; padding: 0 .12rem;align-items: center; justify-content: center; margin-left: .09rem;} 
.companyInfoBox .companyInfo .cText{max-width: 4rem; } 

/* 数据统计 */
.companyInfoBox .dataCount{display: flex; align-items: center; justify-content: space-around; text-align:center; margin-top: .32rem; margin-bottom: .42rem;}
.companyInfoBox .dataCount .tdNum{display: block;}
.companyInfoBox .dataCount p{color: rgba(255,255,255,.7); font-size: .26rem;}
.companyInfoBox .dataCount p.all{margin-bottom: .1rem;}
.companyInfoBox .dataCount h3{font-family: moneyNumber; font-size: .34rem; color: #fff;}

.companyInfoBox .toTalentBox{border-radius: .22rem; padding: .02rem; background: linear-gradient(0deg, #1971FF, #4393FA);  margin:0 .3rem 0; }
.companyInfoBox .toTalent{height: .78rem; background: url(../images/bg_index.png) no-repeat center/cover; display: flex; align-items: baseline; justify-content: space-between;border-radius: .22rem; padding: 0 .26rem;}
.companyInfoBox .toTalent b{color: #fff; font-size: .32rem; font-family: source; font-style: italic;}
.companyInfoBox .toTalent .flexL{display: flex; align-items: center; height: .78rem;}
.companyInfoBox .toTalent .flexL em{display: block; height: .26rem; width: 1px; background-color: #7EB1FC; margin: 0 .16rem; margin-left: .2rem;}
.companyInfoBox .toTalent .flexL span{color:rgba(178, 209, 255, .9);}
.companyInfoBox .toTalent .searchIcon{display: block; width: .3rem; height: .3rem; background: url(../images/search_icon_index.png) no-repeat center/cover;}


/* 白色区域 */
.greyBox{margin-top: -.96rem; position: relative; background-color: #F7F9FC; border-radius: .36rem .36rem 0 0; }
.greyBox .bg_white{ display: block; height: 3.06rem; border-radius: .36rem .36rem 0 0; background-color: #fff; position: absolute; top: 0; left: 0; right: 0; pointer-events: none;}
.greyBox .bg_white::after{content: ''; display: block; height: 1.34rem; background: linear-gradient(0deg, #F7F9FC 0%, #FFFFFF 100%); position: absolute; bottom: 0; left: 0; right: 0;}
.greyBox::after{height: 1.52rem; position: absolute; bottom: 0; right: 0; left: 0; background: linear-gradient(180deg, #F7F9FC 0%, #FFFFFF 100%); content: ''; display: block;}
.greyBox .dataPage{position: relative; z-index: 1;}
.greyBox .dataPage .resumeCount{display: flex; align-items: center; justify-content: space-around; margin: 0 .3rem; padding-top: .38rem;}
.greyBox .dataPage .resumeCount .count{display: flex; align-items: center; justify-content: center; flex-direction: column;}
.greyBox .dataPage .resumeCount .count .num{position: relative;}
.greyBox .dataPage .resumeCount .count b{font-size: .38rem; font-family: moneyNumber; color: #000;}
.greyBox .dataPage .resumeCount .count p{color: rgba(0,0,0,.7); font-size: .24rem; margin-top: .1rem;}
.greyBox .dataPage .resumeCount .count span{display: block; position: absolute; height: .3rem; border-radius: .15rem; border-radius: .15rem .15rem .15rem .02rem; background-color: #FF524D; padding: 0 .1rem; color: #fff; white-space: nowrap; left: 100%; font-size: .22rem;}



.jobManage {display: flex; align-items: center; justify-content: space-between; margin: .4rem .3rem 0;}
.jobManage .linkBox{display: flex; align-items: center; justify-content: space-between; height: 1.34rem; border-radius: .2rem; width: 3.35rem; background: linear-gradient(90deg, #FFF4E5 0%, #FFE7D6 100%); padding-left: .3rem; padding-right: .24rem; box-sizing: border-box;;}
.jobManage .linkBox h4{font-size: .32rem; color: #994200; font-weight: bold;}
.jobManage .linkBox p{color: #A68C76 ; font-size: .24rem; margin-top: .06rem;}
.jobManage .linkBox::after{content: ''; display: block; width: 1rem; height: 1rem; background: url(../images/job_icon_index.png) no-repeat center/cover;}
.jobManage .linkBox.refreshPost{ background: linear-gradient(90deg, #CFE2FF 0%, #E3F1FF 100%);}
.jobManage .linkBox.refreshPost h4{color: #2469F2;}
.jobManage .linkBox.refreshPost p{color:#7395C9;}
.jobManage .linkBox.refreshPost::after{background-image: url(../images/fresh_icon_index.png);}


/* 面试日程 */
.interviewListBox{margin:  .22rem .3rem 0; box-shadow: 0px .08rem .5rem 0px rgba(0,42,128,0.02); border-radius: .26rem;  background:#fff url(../images/bg_pop.png) no-repeat top center/100% auto;}
.interviewListBox .headbox{display: flex; align-items: center; justify-content: space-between; height: .96rem;}
.interviewListBox .headbox h2{font-size: .36rem; font-weight: bold; color: #000; padding-left: .33rem;}
.interviewListBox .headbox .link{color: #9DA0A6; font-size: .24rem; display: flex; align-items: center; justify-content: flex-end;}
.interviewListBox .headbox .link::after{content: ''; width: .2rem; height: .2rem; background: url(../images/arr_grey.png) no-repeat center/.2rem; padding-right: .2rem;}
.interviewList {margin:.2rem .32rem 0 .46rem; padding-bottom: .36rem;}
.interviewList a{display: block;}
.interviewList li{padding-left: .28rem; border-left: dashed 1px #CAD8ED; position:relative; padding-bottom: .4rem;}
.interviewList li::before{content: ''; display: block; width: .3rem; height: .3rem; background: url(../images/clock_blue.png) no-repeat center/cover; position: absolute;  left: -.15rem; top: -.02rem;}
.interviewList li:last-of-type{padding-bottom: 0;}
.interviewList .iDetail .date{font-size: .28rem; font-weight: bold; color: #0080FF; line-height: 1.1em; margin-bottom: .08rem;}
.interviewList .iDetail .remark{font-size: .24rem; color: #9DA0A6; margin-top: .2rem;}
.interviewList .iDetail h3{font-size: .3rem; color: #0F1A4D; font-weight: bold;}
.interviewList li .toChat{display: block; width: .4rem; height: .4rem; background: url(../images/chat_icon1.png) no-repeat center/cover; position: absolute; right: 0; top: .1rem;}


/* 续费 */
/* .hasBeVipBox{margin: .22rem .3rem 0; height: 1.3rem; background: url(../images/vip_bg.png) no-repeat center/cover; border-radius: .3rem;  padding: 0 .3rem; position: relative; }
.hasBeVipBox .vipBox{ height: 1.3rem; display: flex; justify-content: center; flex-direction: column;}
.hasBeVipBox h3{font-size: .32rem; font-weight: bold; background: linear-gradient(0deg, #FFF8EB 0%, #FEDEBD 100%); color: #FEE6CC; -webkit-background-clip: text; -webkit-text-fill-color: transparent;}
.hasBeVipBox p{opacity: 0.8; color: #FEE6CC; font-size: .24rem; background: linear-gradient(0deg, #FFF8EB 0%, #FEDEBD 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;}
.hasBeVipBox .renew_btn{position: absolute; color: #4C4947; font-weight: bold; position: absolute; top: .5rem; left: 5rem;} */

.hasBeVipBox {height: 1.3rem; margin: .22rem .3rem 0; border-radius: .24rem; background: url(../images/bg_black.png) no-repeat center; background-size: cover; box-sizing: border-box; padding: 0 .3rem; display: flex; align-items: center; justify-content: space-between;  box-shadow: 0 .04rem .2rem 0 rgba(0, 0, 0, 0.26);}
.hasBeVipBox .vipBox  h3{font-size: .36rem; color: #FEE6CC; background: linear-gradient(90deg, #FFF8EB 0%, #FEDEBD 80%);-webkit-background-clip: text;-webkit-text-fill-color: transparent; font-weight: 900; display: inline-block;}
.hasBeVipBox .vipBox  p{color: #FEE6CC; font-size: .24rem;background: linear-gradient(90deg, #FFF8EB 0%, #FEDEBD 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.hasBeVipBox .renew_btn{ min-width: 1.8rem; height: .6rem; border-radius: .3rem;  display: flex; align-items: center; justify-content: center; color: #4C4947; font-size: .24rem; background: linear-gradient(90deg, #FEE6CC, #FEDEBD); font-weight: bold;}
.hasBeVipBox  .renew_btn::after{content: ''; display: block; width: .3rem; height: .3rem; background: url(../images/arr.png) no-repeat center; background-size: cover; margin-left:.1rem ; }
.hasBeVipBox .vipBox .right_to{color: #A69380; font-size: .22rem; display: flex; align-items: center; }
.hasBeVipBox .vipBox .right_to:after{content: ''; display: block; width: .24rem; height: .24rem; background: url(../images/arr2.png) no-repeat center; margin-left: .1rem; background-size: cover;}


/* 工具 */
.jobItemBox{margin: 0 .2rem; padding-top: .4rem;}
.jobItemBox h3{font-size: .32rem; color: #000; font-weight: bold; margin-bottom: .36rem; padding-left: .2rem;}
.jobItemBox ul{display: grid; grid-template-columns: repeat(4,1fr);}
.jobItemBox ul li {margin-bottom: .52rem; position: relative;}
.jobItemBox ul li .icon{width: .64rem; height: .64rem; margin: auto;}
.jobItemBox ul li .icon img{display: block; width: 100%; height: 100%; object-fit: cover;}
.jobItemBox ul li h5{color: #6A6D80; font-size: .26rem; margin-top: .06rem; text-align: center;}


/* 认证 */
.zizhiBox{height: 1.3rem; background: linear-gradient(71deg, #CCDDFF 0%, #E3E9FF 100%); border-radius: .3rem; margin: 0 .3rem; display: flex; align-items: center; justify-content: space-between; padding-left: .4rem; padding-right: .22rem;  position: relative; margin-bottom: .18rem;}
.zizhiBox h4{font-size: .3rem; color: #000; font-weight: bold;}
.zizhiBox p{color: #787980; font-size: .24rem; margin-top: .1rem;}
.zizhiBox a.btn{ display: flex; height: .56rem; border-radius: .28rem; background-color: #2C2E5A; color: #fff; align-items: center; justify-content: center; padding: 0 .2rem;}
.zizhiBox .close_tip{display: block; width: .44rem; height: .44rem; background:url(../images/close_icon.png) no-repeat center/cover; position: absolute; left: 0; top: 0; border-radius: .3rem 0 0 0;}

/*  弹窗  */
.popMask{position: fixed; left: 0; top: 0; bottom: 0; right: 0; background: rgba(0,0,0,.6); z-index: 10;}
.contactPop{position: fixed; left: .3rem; right: .3rem; bottom: .3rem; height: 3.2rem; background: #fff url(../images/bg_pop_header.png) no-repeat center top/100% .8rem; box-shadow: 0px .05rem .2rem 0px rgba(0,0,0,0.1); border-radius: .4rem; z-index: 10; display: none; animation: popup .3s;}
.contactPop.showPop{display: block;}
.contactPop .pop_header{ height: .8rem; text-align: center; line-height: .8rem; font-size: .26rem; color: #999;}
.contactPop .pop_con li{height: 1.2rem; box-sizing: border-box; border-bottom: solid 1px #EDEDED;}
.contactPop .pop_con li .phone,.contactPop .pop_con li .chatLink{display: flex; align-items: center; height: 1.2rem; color: #256CFA; font-size: .34rem; font-weight: bold; justify-content: center;}
.contactPop .pop_con li .phone::before{content: ''; display: block; width: .4rem; height: .4rem; background: url(../images/phone_blue.png) no-repeat center/cover; margin-right: .04rem;}
.contactPop .pop_con li .chatLink{color: #1B1C21; font-size: .32rem; font-weight: bold; }
.contactPop .pop_con li .chatLink::before{content: ''; width: .4rem; height: .4rem; background: url(../images/chat_icon1.png) no-repeat center/cover; margin-right: .04rem; transform: translateY(.04rem);}
.contactPop .pop_con li:last-of-type,.companyInfoPop .pop_con li:last-of-type{border: none;}


/* 公司信息 */
.companyInfoPop.showPop{display: block;}
.companyInfoPop{ position: fixed; left: .3rem; right: .3rem; bottom: .3rem; background-color: #fff;  z-index: 10; border-radius: .4rem; box-shadow: 0px .05rem .2rem 0px rgba(0,0,0,0.1); animation: bottomFadeIn .3s; box-sizing: border-box; padding-top: .04rem; display: none;}
.companyInfoPop .pop_con li{height: 1.4rem; border-bottom: solid 1px #EDEDED; display: flex ; align-items: center; justify-content: center; flex-direction: column;}
.companyInfoPop .pop_con li a{display: block; width: 100%; text-align: center;}
.companyInfoPop .pop_con li h4{font-size: .32rem; color: #1B1C21; font-weight: bold; text-align: center}
.companyInfoPop .pop_con li p{color: #919399; font-size: .24rem; margin-top: .1rem;}

/* 刷新职位提示弹窗 */
.refreshPostPop.showPop{display: block;}
.refreshPostPop.refreshFromBtn{height: 3.5rem;}
.refreshPostPop{width: 5.8rem; height: 4.1rem; background: #FFF url(../images/bgPop_sm.png) no-repeat center top/ 100% 1.4rem; box-shadow: 0 .07rem .37rem 0 rgba(0,0,0,0.13); border-radius: .3rem; position: fixed; left: 0; right: 0; top: -3.8rem; bottom: 0; margin: auto; animation: popup .3s; z-index: 10; display: none;}
.popupBox .close_pop,.confirmModelPop .close_pop{width: .64rem; height: .64rem; background: url(../images/close_pop.png) no-repeat center/cover; position: absolute; left: 0; right: 0; bottom: -.84rem; margin: auto;}
.refreshPostPop::before{content: ''; display: block; width: 1rem; height: 1rem; background: url(../images/refreshAll.png) no-repeat center/cover; position: absolute; left: 0; right: 0; top: -.5rem; margin: auto;}
.refreshPostPop .refreshCon{padding-top: .6rem;}
.refreshPostPop .refreshCon h3{font-size: .34rem; font-weight: bold; color: #000; text-align: center; margin-bottom: .13rem; }
.refreshPostPop .refreshCon p{color: #7E838C; font-size: .26rem; line-height: .36rem; text-align: center; margin-bottom: .42rem;}
.refreshPostPop.refreshFromBtn .refreshCon p{margin-bottom: .56rem;}
.refreshPostPop .refreshALl{margin: 0 .65rem; height: .8rem; border-radius: .4rem; background: linear-gradient(-90deg, #266EFF 0%, #3381FF 100%); font-size: .3rem; color: #fff; display: flex; align-items: center; justify-content: center;}
.refreshPostPop .close_btn{display: flex; align-items: center; justify-content: center; height: .8rem; border-radius: .4rem; color: #B3B3B3; font-size: .26rem;}

.confirmModelPop{width: 6rem; height: 4.5rem; background: #FFF url(../images/bgPop_sm.png) no-repeat center top/ 100% 1.4rem; box-shadow: 0 .07rem .37rem 0 rgba(0,0,0,0.13); border-radius: .3rem; position: fixed; left: 0; right: 0; top: -3.8rem; bottom: 0; margin: auto; animation: popup .3s; z-index: 10; display: none; }
.confirmModelPop .confrimCon{padding-top: .36rem;}
.confirmModelPop .icon{display: block; width: .64rem; height: .64rem; background: url(../images/gou_big.png) no-repeat center/cover; margin: auto; margin-bottom: .12rem;}
.confirmModelPop .confrimCon h3{font-size: .34rem; color: #000; font-weight: bold;  text-align: center; margin-bottom: .14rem;}
.confirmModelPop .confrimCon .confirmtip{color: #7E838C; font-size: .26rem; text-align: center; margin-bottom: .57rem;}
.confirmModelPop .confrimCon .confirmtip span{color: #FF4F38;}
.confirmModelPop .confrimCon .tip{font-size: .22rem; color: #A1A7B3; text-align: center; margin-bottom: .2rem;}
.confirmModelPop .confrimCon .btn_buy{margin: 0 .75rem; display: flex; align-items: center; justify-content: center; flex-direction: column; height: .92rem; border-radius: .46rem; background-color: #071D56;}
.confirmModelPop .confrimCon .btn_buy h6{font-size: .3rem; color: #fff;}
.confirmModelPop .confrimCon .btn_buy p{font-size: .2rem; color: rgba(255,255,255,.5);}


/* 审核状态 */
.cState{margin: 0 .3rem .2rem; height: .8rem; border-radius: .4rem; background: linear-gradient(90deg, #FFD6DB 0%, #FFF0F0 100%); display: flex; align-items: center; justify-content: space-between; padding: 0 .25rem;}
.cState .flex_left{font-size: .28rem; font-weight: bold; color: #F23A30; display: flex; align-items: center;}
.cState .flex_left::before{content: ''; display: block; width: .32rem; height: .32rem; background: url(../images/res_tip.png) no-repeat center/cover; margin-right: .1rem;}
.cState a{display: flex; align-items: center;  font-size: .24rem; color: #E67373;}
.cState a::after{content: ''; display: block; width: .2rem; height: .2rem; background: url(../images/arr_red.png) no-repeat center/cover;}

.maskDirection{position: fixed; left: 0; top: 0; bottom: 0; right: 0; background-color: rgba(0,0,0,.5); z-index: 10; display: none;}
.maskDirection .contentBox{height: 11.2rem; position: absolute; left: 0; right: 0; bottom: 0;}
.maskDirection .contentBox a{position: absolute; left: 0; right: 0 ; bottom: 1rem; margin: auto; width: 4.4rem; height: .84rem; background: rgba(255,255,255,0.1); border: .02rem solid #FFFFFF; border-radius: .42rem; font-size: .3rem; color: #fff; text-align: center; display: flex; align-items: center; justify-content: center;}
.maskDirection .contentBox img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: .5rem .5rem 0 0;}

html.huoniao_iOS:not(.wx_miniprogram):not(.byte_miniprogram):not(.baidu_miniprogram):not(.qq_miniprogram):not(.huoniao_Android) .headerBox{padding-top: 0rem;justify-content: flex-end;}
html.huoniao_iOS:not(.wx_miniprogram):not(.byte_miniprogram):not(.baidu_miniprogram):not(.qq_miniprogram):not(.huoniao_Android) .header_l{display: none;}
.huoniao_Android .header_l{justify-content: space-between;}
html.huoniao_Android:not(.wx_miniprogram):not(.byte_miniprogram):not(.baidu_miniprogram):not(.qq_miniprogram) .headerBox{padding-top: .5rem;}
/* html.huoniao_iOS:not(.wx_miniprogram):not(.byte_miniprogram):not(.baidu_miniprogram):not(.qq_miniprogram) .footer_4_3{display: none; opacity: 0; visibility: hidden;} */
.footer_4_3{z-index: 9;}

.resumeCount,.interviewListBox,.dbox {position: relative;}
.resumeCount .bg_mask,.interviewListBox .bg_mask,.jobItemBox ul li .bg_mask,.dbox .bg_mask{position: absolute; left: 0; right: 0; top: 0; bottom: 0; z-index: 10;}
.myConfirm p{color:#999; margin-top: .2rem;} 
.myConfirm h2 s{display: inline-block; width: .48rem; height: .48rem; background: url(../images/gou_big.png) no-repeat center/cover; vertical-align: middle; margin-right: .06rem; margin-bottom: .04rem;}
.myConfirm  .cancelDel{font-weight: normal;}
.myConfirm .pubdelAlert h2.delTile::before{content: ''; display: inline-block; width: .48rem; height: .48rem; background: url(../images/tip_icon1.png) no-repeat center/cover; margin-right: .1rem; vertical-align: middle; margin-bottom: .04rem;}
.myConfirm1 .pubdelAlertCon{width: 5.4rem;}