body{min-height: 100vh; box-sizing: border-box; background-color: #F7F9FC;}
.pageBox{padding-top: 1.78rem;}
.fixedTop{background-color: #fff; position: fixed; top: 0; left: 0;  right: 0; z-index: 9;}
.headerBox{height: .88rem; display: flex; align-items: center; justify-content: space-between; padding-right: .3rem; padding-left: .12rem;}
.headerBox .flexRight{display: flex; align-items: center; }
.headerBox .flexRight a,.headerBox .date_btn{display: block; width: .4rem; height: .4rem; background: url(../images/search_icon.png) no-repeat center/cover; margin-left: .4rem;}
.headerBox .flexRight a.date_btn,.headerBox .date_btn{background-image: url(../images/date_icon.png);}
.headerBox .flexLeft {display: flex; align-items: center;}
.headerBox .flexLeft a.goBack,.headerBox .goBack{display: block; width: .5rem; height: .88rem; background: url(/static/images/header_back.png) no-repeat center/.4rem; margin-right: .18rem;}
.headerBox .flexLeft h4{display: flex; font-size: .36rem; color: #000; font-weight: bold; align-items: center;}
.headerBox .flexLeft .interviewTip{min-width: 2.64rem; height: .64rem; border-radius: .32rem; background: linear-gradient(90deg, #EDF6FF 0%, #F7FBFF 100%); color: #666; font-size: .26rem; display: flex; align-items: center; justify-content: flex-start; padding: 0 .18rem; box-sizing: border-box; line-height: .64rem; margin-left: .1rem;}
.headerBox .flexLeft .interviewTip span{color: #198CFF; margin-left: .04rem;}
.headerBox .flexLeft .interviewTip::before{content: ''; display: block; width: .3rem; height: .3rem; background: url(../images/ring_icon.png) no-repeat center/cover; margin-right: .05rem; margin-bottom: .04rem;} 

.filterBox {height: .9rem; display: flex; align-items: center; justify-content: space-between; padding: 0 .3rem;}
.filterBox ul{display: flex; align-items: center; justify-content: flex-start; font-size: .26rem; color: #3B3A39;}
.filterBox ul li{margin-right: .44rem;}
.filterBox ul li span{opacity: .5; font-size: .26rem; margin-left: .08rem;}
.filterBox ul li.on_chose{font-size: .32rem; color: #1F2021; font-weight: bold;}
.filterBox ul li.on_chose span{opacity: 1;}

.filterBox .shai_btn.btn_state{font-size: #3B3A39; font-size: .26rem;}
.filterBox .shai_btn span{display: block; max-width: 1.5rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.filterBox .shai_btn,.filterBox .btn_filter{color: #212121 ; font-size: .3rem; display: flex; align-items: center; }
.filterBox .shai_btn::after{content: ''; display: block; width: .2rem; height: .2rem; background: url(../images/arr_down.png) no-repeat center/cover; margin-left: .08rem;}


/* 列表 */
.listBox .list_li.today .item{background: linear-gradient(22deg, #fff 50% ,#CFF1F5 100%); }
.listBox .list_li .item{display: block; margin-left: .16rem; margin-right:.22rem; box-shadow: 0px .06rem .4rem 0px rgba(0,8,51,0.02); border-radius: .2rem;  background-color: #fff; position: relative;}
/* margin-top: .4rem; padding-top: 1px; */
.listBox .list_li dl{margin-left: .3rem; border-left: dashed 1px #CAD8ED;padding-top: 1px; }

.listBox.interviewBox .list_li {padding-top: .4rem; margin-bottom: .3rem;}
.listBox .list_li {margin-top: .2rem;}
.listBox .list_li dt{font-size: .28rem; color: #256CFA; padding-left: .2rem; position: relative; font-weight: bold;  margin-bottom: .22rem; margin-top: -.28rem; }
.listBox .list_li dl:first-of-type dt{font-size: .32rem;}
.listBox .list_li dl:first-of-type dt span{font-size: .36rem; font-family: DINMi;  font-weight: normal}
.listBox .list_li.today dl dt{color: #00BBFF;}
.listBox .list_li dl dt::before{content: ''; display: block; width: .11rem; height: .11rem; background: #256CFA; border-radius: 50%; position: absolute; position: absolute; left: 0; top: 0; bottom: 0; margin: auto; transform: translateX(-50%);}
.listBox .list_li.today dl dt::before{background-color: #00BBFF;}
.listBox .list_li dl:first-of-type dt::before{width: .3rem; height: .3rem; background: url(../images/clock.png) no-repeat center/cover #fff;}
.listBox .list_li dl dd{padding-bottom: .5rem;}
.listBox .list_li dl:last-of-type dd{padding-bottom: 0;}
.item .resumeInfo{margin: 0 .3rem; margin-left: .26rem; padding-top: .3rem; border-bottom: solid 1px #eee; padding-bottom: .1rem;}
.item .resumeInfo .photo{width: 1.1rem; height: 1.1rem; border-radius: 50%; position: relative; background-color: #f7f9fc; margin-right: .18rem; display: block; flex-shrink: 0; float: left;}
.item .resumeInfo .photo .sex{width: .3rem; height: .3rem; background: url(../images/sex_0.png) no-repeat center/cover; position: absolute; left: 0; right: 0; bottom: -.16rem; margin: auto;}
.item .resumeInfo .photo .sex.sex1{background-image: url(../images/sex_1.png);}
.item .resumeInfo .photo img{display: block; width: 100%; height: 100%; border-radius: 50%; object-fit: cover;}
.item .resumeInfo .rdetail{margin-left: 1.3rem; padding-bottom: .12rem;}
.item .resumeInfo .rdetail h4{font-size: .32rem; color: #000 ; font-weight: bold; vertical-align: middle;}

.item .resumeInfo .rdetail p {margin-top: .1rem; margin-bottom: .22rem;}
.item .resumeInfo .rdetail p span{font-size: .24rem; color: #333; vertical-align: middle;}
.item .resumeInfo .rdetail p em{color: #ccc; font-size: .18rem; margin: 0 .1rem; vertical-align: middle;}
.item .mark{font-size: .24rem; color: #6B7A99; line-height: .36rem;}
.item .mark label{color: #256CFA;}

.item .resumeInfo .rdetail .rIntention{margin-bottom: .08rem; font-size: .26rem; color: #666; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: calc(100% - .18rem);}
.item .resumeInfo .rdetail .rIntention .salary{color: #256CFA; font-size: .32rem; font-weight: bold; font-family: DINMi;}
.item .resumeInfo .rdetail .rIntention  .jobs{font-size: .28rem; color: #212121; font-weight: bold; margin-left: .14rem;}
.item .btnsBox{display: flex; align-items: center; justify-content: flex-end; height: 1.08rem; padding: 0 .22rem;}
.item .btnsBox .btn{display: flex; align-items: center; justify-content: center; height: .6rem; border-radius: .3rem; color:#797979; font-size: .26rem; width: 1.4rem; border: solid 1px #E3E4E6;} 
.item .btnsBox .btn.callPhone{background-color: #3377FF; color: #fff; width: 1.6rem; border: none; margin-left: .16rem;}
.item .btnsBox .changeBtn{width: 2rem;}
.listBox .list_li.today .item .btnsBox .btn.callPhone{background-color: #2ED3E5;}

.listBox .list_li .state{position: absolute; right: .26rem; top: .3rem;}
.listBox .list_li .state.state_0{color: #5283CC;}
.listBox .list_li .state.state_1{color: #999;}
.listBox .list_li .state.state_2{color: #FF4F38;}
/* 历史面试记录 */
.interview_history{padding-top: .3rem}
.interview_history>h3{font-size: .32rem; color:#1F2533; font-weight: bold; display: flex; align-items: center; padding: 0 .14rem; margin-bottom: .36rem;}
.interview_history>h3::before{content: ''; display: block; width: .3rem; height: .3rem; background: url(../images/clock.png) no-repeat center/cover; margin-right: .08rem;}
.interview_history li .item{ margin: 0 .24rem .2rem; background-color: #fff; border-radius: .2rem; display: block;}
.item .item_header{height: .74rem; display: flex; align-items: center; justify-content: space-between; font-size: .24rem; color: #999; margin: 0 .26rem; padding-left:.06rem ; position: relative;}
.item .item_header::after{content: ''; display: block; position: absolute; height: 1px; left: 0; right: 0; bottom: 0; background: linear-gradient(90deg, #EEEEEE 0%, #FFFFFF 100%);}
.item .item_header .istate{color: #0DBEFF;}
.interview_history li .item .item_header .istate.state1{color: #FF4F38;}
.interview_history li .item .item_header .istate.state2{color: #5283CC;}
.interview_history li .item .btnsBox .btn.callPhone{background-color: #EBF3FF; color: #256CFA;}
.interview_history li .item.noFit_item .rdetail h4{opacity: .6;}
.interview_history li .item.noFit_item .rdetail p{opacity: .5;}
.interview_history li .item.noFit_item .rdetail .rIntention label{opacity: .5;}
.interview_history li .item.noFit_item .rdetail .rIntention .jobs{opacity: .4;}
.interview_history li .item.noFit_item .rdetail .mark,.interview_history li .item.noFit_item .rdetail .mark label{color: #999;}
.interview_history li .item .tip{color: #FF4F38; height: 1.08rem; display: flex; align-items: center; justify-content: flex-start; padding:0 .3rem; line-height: .4rem;}
.interview_history li .item .tip span{color: #999;}
.item .rIntention .hasRZ{color: #00BBFF; font-size: .28rem;}
.item .rIntention .hasRZ span{font-size: .32rem; font-family: DINMi;}


.popContainer .mask_pop{position: fixed; left: 0; right: 0; top: 0; bottom: 0; background: rgba(0,0,0,.5); z-index: 1;}
.popContainer .slidePop{max-height: 8rem; position: fixed; left: 0; right: 0; top: 1.78rem; min-height: 3rem; z-index: 8; background-color: #fff; border-radius:0 0 .3rem .3rem; padding-bottom: .2rem; transform: translateY(-150%); transition: transform .3s;}
.popContainer .slidePop.showPop{transform: translateY(0);}
.popContainer .slidePop ul.selectUl{max-height: 6.5rem; overflow: auto;}
.popContainer .slidePop .selectUl li{font-size: .28rem; color:#333; display: flex; align-items: center; justify-content: space-between; padding: 0 .38rem; line-height: .9rem;}
.popContainer .slidePop .selectUl li.on_chose::after{content: ''; display: block; width: .24rem; height: .24rem; background: url(../images/gou_5.png) no-repeat center/cover;}
.popContainer .slidePop .selectUl li.on_chose{font-weight: bold;}

/* 没数据 */
.noData {text-align: center; padding-top: 2.3rem; margin-bottom: 1.5rem;}
.noData .img{width: 4.4rem; height: 2.52rem; margin: auto;}
.noData .img img{display: block; width: 100%; height: 100%; object-fit: cover;}
.noData h4{font-size: .3rem; color: #333; font-weight: bold; margin-top: -.04rem;}
.noData p{color: #999; font-size: .26rem; margin-top: .22rem; }
.noData a{display: flex; align-items: center; justify-content: center; width: 3rem; height: .8rem; background: linear-gradient(-90deg, #266EFF 0%, #3381FF 100%); border-radius: .4rem; color: #fff; font-weight: bold; font-size: .28rem; margin: auto; margin-top: .4rem;}

.interviewBox.listBox{padding-top: .22rem;}
html.huoniao_iOS:not(.wx_miniprogram):not(.byte_miniprogram):not(.baidu_miniprogram):not(.qq_miniprogram)  .dateChange{top: 1.78rem;}
.dateChange{height: 1rem; background-color: #F7F9FC; position: fixed; left: 0; right: 0; top: 1.28rem; z-index: 3; line-height: 1rem; padding-top: .5rem;}
.dateChange::before{content: ''; display: block; width: 1px; border-left: dashed 1px #CAD8ED; position: absolute; left:.3rem; bottom: 0; top: 60%;}
.dateChange h4{font-size: .32rem; color: #256CFA; font-weight: bold; display: flex; align-items: center; height: 1rem; padding-left: .15rem; position: relative;}
.dateChange h4 span{font-family: DINMi; font-size: .36rem; transform: translateY(.02rem);}
.dateChange h4::before{content: ''; display: block; width: .3rem; height: .3rem; background:#F7F9FC url(../images/clock.png) no-repeat center/cover; margin-right: .06rem;}
.dateChange h4:after{content:''; display: block; width: .2rem; height: .2rem; background: url(../images/arr_down.png) no-repeat center/cover; margin-left: .1rem;}
.dateChange.today h4{color: #00BBFF;}

/* 底部弹窗 */
/* .popContainer{position: relative; z-index:9;} */
.popContainer .zIndex{z-index: 9;}
.bottomPop.showPop{transform: translateY(0);}
.bottomPop{position: fixed; left: 0; right: 0; bottom: 0; min-height: 5.6rem; background-color: #fff; z-index: 9; border-radius: .5rem .5rem 0 0; transform: translateY(100%); transition: transform .3s; }
.delResumePop .pop_header  {padding: .4rem .35rem;}
.bottomPop .pop_header h4,.delResumePop .pop_header h4{display: flex; align-items:center; font-size: .34rem; color: #141933; font-weight: bold; }
.bottomPop .pop_header h4 span{color: #999; font-size: .22rem; font-weight: normal;}
.bottomPop .pop_header h4 s{display: block; width: .3rem; height:.3rem; background: url(../images/noFit_icon.png) no-repeat center/cover; margin-right: .1rem;}

.bottomPop .pop_header h4{padding: 0 .35rem; height: 1.12rem;}
.bottomPop .pop_header h4 span,.bottomPop .pop_header h4 b{height: 1.12rem; line-height: 1.12rem;}

.bottomPop .close_pop{width: .4rem; height: .4rem; background: url(../images/close_btn1.png) no-repeat center/cover; position: absolute; right: .32rem; top:.32rem;}
.bottomPop .pop_con .state_invitation{margin: 0 .3rem;}
.bottomPop .pop_con .state_invitation ul.state_ul {display: grid; grid-template-columns: repeat(4,1fr); column-gap: .14rem;}
.bottomPop .pop_con .state_invitation .state_ul li{width: 1.64rem; height: 1.46rem; border-radius: .2rem; background: #F7F8FA; display: flex; align-items: center; justify-content: center; flex-direction: column; font-size: .22rem; color: #616266;}
.bottomPop .pop_con .state_invitation .state_ul  li .icon{width: .52rem; height: .52rem; margin-bottom: .1rem;}
.bottomPop .pop_con .state_invitation .state_ul  li .icon img{display: block; width: 100%; height: 100%; object-fit: cover;}
.bottomPop .pop_con .state_invitation .state_ul  li.on_chose{color: #1975FF; background-color: #F0F6FF;}
.bottomPop .pop_con .state_invitation .state_ul  li.on_chose.state_2,.bottomPop .pop_con .state_invitation .state_ul  li.on_chose.state_5,.bottomPop .pop_con .state_invitation .state_ul  li.on_chose.state_6{color: #F52D5C; background-color: #FFF0F3}
.bottomPop .pop_con .formFields{border-radius: .12rem; border: solid 1px #E3E3E3; margin-top: .32rem;}
.bottomPop .pop_con .formFields .van-field{background: none;}
.bottomPop .pop_con .state_invitation .inputBox{height: .88rem; border-radius: .12rem; border: solid 1px #E3E3E3; display: flex; align-items: center; justify-content: space-between; font-size: .28rem; color: #666; padding: 0 .2rem; margin-top: .3rem;}
.bottomPop .pop_con .state_invitation .inputBox label{flex-shrink: 0;}
.bottomPop .pop_con .state_invitation .inputBox label em{color: #b3b3b3;}
.bottomPop .pop_con .state_invitation .inputBox .inp{display: flex; align-items: center; justify-content: flex-end;}
.bottomPop .pop_con .state_invitation .inputBox .inp input{ background: none; border: none; outline: none; text-align: right; width: 100%;}
.bottomPop .pop_con .state_invitation .inputBox .inp::after{content: ''; display: block; width: .24rem; height: .24rem; background: url(../images/arr_1.png) no-repeat center/cover; flex-shrink: 0;}
.bottomPop .pop_con .van-field__word-limit{font-size: .22rem;}
.bottomPop .pop_con .van-field__word-num{color: #256CFA;}
.bottomPop .pop_con .errTip{font-size: .26rem; color: #F52D5C; margin-top: .6rem ;}
.bottomPop .pop_con .errTip::before{content: ''; display: inline-block; width: .3rem; height: .3rem; background: url(../images/err_icon.png) no-repeat center/cover; vertical-align: middle; margin-bottom: .02rem; margin-right: .02rem;}
.bottomPop .pop_con {min-height: 5.1rem;}
.bottomPop .pop_bottom {    padding-bottom: constant(-.3rem + safe-area-inset-bottom); padding-bottom: env(-.3rem + safe-area-inset-bottom); }
.bottomPop .pop_bottom .btn_sure{display: flex; align-items: center; justify-content: center; height: .84rem; border-radius: .42rem; background: linear-gradient(-90deg, #266EFF 0%, #3381FF 100%); color: #fff; font-weight: bold; margin: 0 .4rem; font-size:.28rem; margin-bottom: .3rem;} 
.bottomPop .pop_bottom .btn_sure.red_btn{ background: linear-gradient(-90deg, #FC4367 0%, #FF5C77 100%);}
.markBottom{min-height: 7.4rem;}
/* .markBottom.focusIn.bottomPop{position: absolute;} */

/* 时间选择器 */
.bottomPop .van-datetime-picker{background: none;}
.popupRightBottom{display: none;}

/* 日历 */
.calendarPop .pop_header.calendar_tit{display: flex; align-items: center; justify-content: space-between; padding: 0 .33rem; font-size: .32rem; color: #202021; height: 1.12rem;}
.calendarPop .pop_header.calendar_tit span{font-size: .38rem;  color: #202021; font-family: DINMi; display: block; }
.calendarPop .pop_header.calendar_tit b{font-family: DINMi; display: block;}
.calendarPop .pop_header.calendar_tit a{display: block; width: .4rem; height: .4rem; background: url(../images/arr_black_l.png) no-repeat center/cover;}
.calendarPop .pop_header.calendar_tit a.arr_r{background-image: url(../images/arr_black_r.png);}
.calendarPop .pop_con .weeks {margin: 0 .2rem; background-color: #F7F9FC; height: .58rem; border-radius: .29rem;}
.calendarPop .pop_con .weeks ul{display: flex; align-items: center; color: #202021; font-size: .28rem; justify-content: space-around; font-weight: bold;  height: .58rem;}
.calendarPop .pop_con .weeks ul li.on_chose{color: #198CFF;}
.calendarPop .pop_con .dateBox{margin: 0 .2rem;}
.calendarPop .pop_con .dateBox .week{height: 1.58rem;  overflow: hidden; border-top: solid 1px #f5f5f7;}

/* .calendarPop .pop_con .dateBox .week::after{content: ''; display: block; position: absolute; left: .25rem; right: .25rem; top: 0; height: 1px; background-color: #f5f5f7;} */
.calendarPop .pop_con .dateBox li{width: 1.04rem; height: 1.1rem; color: #ADAEB3; box-sizing: border-box; padding-top: .2rem; display: flex; align-items: center;flex-direction: column; margin-top: .09rem;}
.calendarPop .pop_con .dateBox ul{display: flex; align-items: center;}
.calendarPop .pop_con .dateBox li h4{ font-weight: bold; font-size: .26rem;}
.calendarPop .pop_con .dateBox li.hasInterview  h4{ color: #141933; font-size: .32rem;}
.calendarPop .pop_con .dateBox li.hasInterview{background-color: #EDF6FF;  border: solid .02rem #EDF6FF; box-sizing: border-box;}
.calendarPop .pop_con .dateBox .week_1 li.hasInterview {background-color: #EBFAFC; border-color: #EBFAFC;}
.calendarPop .pop_con .dateBox .week_2 li.hasInterview {background-color: #FFF2F3;border-color: #FFF2F3;}
.calendarPop .pop_con .dateBox .week_3 li.hasInterview {background-color: #F7EDFF; border-color: #F7EDFF;}
.calendarPop .pop_con .dateBox .week_4 li.hasInterview {background-color: #FFF7EE; border-color: #FFF7EE;}
.calendarPop .pop_con .dateBox li.hasInterview p{font-size: .24rem; color: #1981FF;}
.calendarPop .pop_con .dateBox .week_1 li.hasInterview  p{color: #16BADB;}
.calendarPop .pop_con .dateBox .week_2 li.hasInterview  p{color: #FF6699;}
.calendarPop .pop_con .dateBox .week_3 li.hasInterview  p{color: #BB65FC;}
.calendarPop .pop_con .dateBox .week_4 li.hasInterview  p{color: #FFA03B;}
/* .calendarPop .pop_con .dateBox li.hasInterview + .hasInterview{border-radius: 0 .16rem .16rem 0;} */
.calendarPop .pop_con .dateBox  li.borderLeft{border-radius: .16rem 0 0 .16rem;}
.calendarPop .pop_con .dateBox  li.borderRight{border-radius:0 .16rem .16rem 0;}
.calendarPop .pop_con .dateBox  li.borderLeft.borderRight{border-radius: .16rem;}
.calendarPop .pop_con .dateBox  li.today{border:solid .02rem #8CC5FF; background-color: #fff; border-radius: .16rem; color: #198CFF;}
.calendarPop .pop_con .dateBox  li.today + li{border-top-left-radius: .16rem;border-bottom-left-radius: .16rem;}
.calendarPop .pop_con .dateBox  li.today.hasInterview{background-color: #1975FF; color: #fff; border-color: #1975FF;}
.calendarPop .pop_con .dateBox  li.today.hasInterview h4,.calendarPop .pop_con .dateBox  li.today.hasInterview p{color: #fff;}
.allDates{max-height: 60vh; overflow: auto; position: relative;}
.allDates h2{font-size: .32rem; color: #202021; font-weight: bold; margin: 0 .45rem; padding-bottom: .12rem; margin-top: .44rem;}
.allDates h2 span{font-size: .38rem; font-family: DINMi;}
/* .calendarPop .pop_con .dateBox .week:last-of-type::after{display: none;} */
.noscrll{overflow: hidden;}

/* 返回全部数据 */
.bottomBox.fixBottom{position: fixed; left: 0; right: 0; padding: .3rem; bottom:0; background: #F7F9FC; z-index: 6;}
.bottomBox.fixBottom a{display: flex; align-items: center; justify-content: center; height: .84rem; border-radius: .42rem; box-sizing: border-box; border: solid 1px #3377FF; font-size: .28rem; color: #256CFA;}
.loading{text-align: center; font-size: .24rem; color: #999; padding: .4rem;}

/* 入职弹窗 */
.ruzhiPop .labBox{display: flex; align-items: center; justify-content: flex-start; padding-left: .3rem;}
.ruzhiPop .labBox li{min-width: 1.66rem; height: .76rem; border-radius: .16rem; background-color: #F7F8FA; font-size: .26rem; color: #616266; display: flex; align-items: center; justify-content: center; box-sizing: border-box; padding: 0 .2rem; margin-right: .15rem;}
.ruzhiPop .labBox li.on_chose{background-color: #F0F6FF; color: #256CFA;}
.bottomPop.ruzhiPop .pop_con .state_invitation .inputBox label{flex-shrink: 0;}
.bottomPop.ruzhiPop .pop_con .state_invitation .inputBox .inp{width: 100%; margin-top: .06rem;}
.bottomPop.ruzhiPop .pop_con .state_invitation .inputBox .inp input{width: 100%; text-align: left; box-sizing: border-box; padding-left: .12rem;}


.hideSearch{flex-shrink: 0; display: block; white-space: nowrap;     color: #666; font-size: .28rem;}

.searchBox{width: 100%; margin-right: .3rem; height: .64rem; border-radius: .32rem; background-color: #F5F5F7; display: flex; align-items: center; position: relative;}
.searchBox input{background: none; height: .64rem; border:none; color: #303133; font-size: .26rem; width: 100%; box-sizing: border-box; padding-right: .54rem;}
.searchBox::before{content: ''; width: .32rem; height: .32rem; background: url(../images/search_icon1.png) no-repeat center/cover; margin-right: .1rem; margin-left: .24rem; flex-shrink: 0; margin-top: -.02rem;}
.searchBox .clear_btn{width: .4rem; height: .4rem; background: url(../images/clear_icon.png) no-repeat center/cover; position: absolute; right: .12rem; top: 0; bottom: 0; margin: auto;}
.headerBox>.goBack{padding-left: .12rem; margin-right: .2rem;}

html.huoniao_iOS:not(.wx_miniprogram):not(.byte_miniprogram):not(.baidu_miniprogram):not(.qq_miniprogram) .fixedTop {padding-top: 0rem;}
html.huoniao_iOS:not(.wx_miniprogram):not(.byte_miniprogram):not(.baidu_miniprogram):not(.qq_miniprogram) .goBack {display: none;}
html.huoniao_iOS:not(.wx_miniprogram):not(.byte_miniprogram):not(.baidu_miniprogram):not(.qq_miniprogram) .flexLeft{margin-left: .18rem;}
html.huoniao_iOS:not(.wx_miniprogram):not(.byte_miniprogram):not(.baidu_miniprogram):not(.qq_miniprogram)  .pageBox{padding-top: 2.28rem;}
html.huoniao_iOS:not(.wx_miniprogram):not(.byte_miniprogram):not(.baidu_miniprogram):not(.qq_miniprogram) .popContainer .slidePop {top: 2.28rem;}
html.huoniao_Android:not(.wx_miniprogram):not(.byte_miniprogram):not(.baidu_miniprogram):not(.qq_miniprogram) .fixedTop {padding-top: .5rem;}
html.huoniao_Android:not(.wx_miniprogram):not(.byte_miniprogram):not(.baidu_miniprogram):not(.qq_miniprogram) .goBack {display: block;}

.wx_miniprogram .goBack,.byte_miniprogram .goBack,.baidu_miniprogram .goBack,.qq_miniprogram .goBack{display: none !important;}
.wx_miniprogram .headerBox,.byte_miniprogram .headerBox,.baidu_miniprogram .headerBox,.qq_miniprogram .headerBox{padding-right: 0; }
.wx_miniprogram .headerBox .date_btn,.byte_miniprogram .headerBox .date_btn,.baidu_miniprogram .headerBox .date_btn,.qq_miniprogram .headerBox .date_btn{margin-left: .16rem; margin-right: .12rem;}