.pageBox{padding-bottom: 1.5rem;}
 .jobListBox li{ padding:.55rem .32rem .56rem; border-bottom:solid 1px #f5f7f9 ;}
.jobListBox li h4{font-size: .3rem; color: #141933; font-weight: bold; display: flex; align-items: flex-start; max-width: 80%;}
.jobListBox li h4::before{content: ''; display: block; width: .3rem; height: .3rem; background: url(../images/posi.png) no-repeat center/cover; margin-right: .15rem; transform: translateY(.06rem); flex-shrink: 0; }
.jobListBox li .editArr{width: .4rem; height: .4rem; background: url(../images/addr_edit.png) no-repeat center/cover; display: block;}
.jobListBox li .del{color: #FF4F38; font-size: .28rem;}
.jobListBox li .del.disabled{opacity: .5;}
.jobListBox li .addr{display: flex; align-items: center; justify-content: space-between;}
.jobListBox li .lab{font-size: .22rem; color: #fff; display: inline-flex; align-items: center; justify-content: center; padding: 0 .06rem; height: .36rem; background-color: #3377FF; border-radius: .06rem; margin-left: .44rem; margin-top: .12rem; margin-bottom: -.2rem;}
.jobListBox li.company{padding-bottom: .4rem;}
.jobListBox li p{font-size: .24rem; color: #141933; margin-top: .2rem; padding-left: .44rem; }
.jobListBox li p.none{color:#999}
.bottomFixed{padding: .3rem .4rem; background-color: #fff; display: flex; align-items: center; justify-content: space-between; position: fixed; left: 0; right: 0; bottom: 0;}
.bottomFixed a{display: flex; align-items: center; justify-content: center; width: 2.2rem; height: .88rem; border-radius: .44rem; border: solid 1px #66A1FF; color: #256CFA; font-size: .3rem; flex-shrink: 0; box-sizing: border-box;}
.bottomFixed a.addAddr{ background: linear-gradient(-90deg, #266EFF 0%, #3381FF 100%); color: #fff; width: 100%; flex-shrink: 1; margin-left: .2rem; border: none;}
.bottomFixed a.addAddr::before{content: ''; display: block; width: .36rem; height: .36rem; background: url(../images/add_icon3.png) no-repeat center/cover; margin-right: .1rem;}


.myConfirmPop .pubdelAlert{width: 5.6rem; max-width: fit-content;}
.myConfirmPop .pubdelAlertCon{width: 5.6rem;}
.myConfirmPop .pubdelAlertCon p{margin-top: .12rem; color:#666;}