body{min-height: 100vh; box-sizing: border-box; background: url(../images/tc_head_bg.png) no-repeat center -.88rem /100% auto;}
.transparent .header-address{color: #fff !important;}
.transparent.header{position: absolute; left: 0; right: 0; top: 0;background: url(../images/tc_head_bg.png) no-repeat center -.88rem /100% auto !important;}
/* .pageBox{padding-bottom: 2.2rem;} */

/* 套餐展示 */
.tcContainer{min-height: 5.3rem; background: linear-gradient(0deg, #1B1638 0%, #312E54 100%); padding-top: 1rem; padding-bottom: .84rem; box-sizing: border-box;}
.tcContainer .tcBox{margin: 0 .3rem;}
.tcContainer .tcInfo{ margin: 0 .2rem; height: 2rem; background: linear-gradient(90deg, #E8C488 0%, #FFEAC9 63%, #F4D8AA 100%); border-radius: .2rem; box-sizing: border-box; padding-bottom: .6rem; display: flex; align-items: flex-start; justify-content: center; flex-direction: column; padding-left: .3rem; position: relative; background: url(../images/tc_bg.png) no-repeat center top/cover;}
.tcContainer .tcInfo .state{display: block; width: 1.3rem; height: .52rem; position: absolute; right: 0; top: 0; border-radius:0 .2rem 0 0; color: #fff; text-align: right; background: url(../images/state_bg.png) no-repeat center/cover; box-sizing: border-box; padding-right: .15rem; padding-top: .04rem;}
.tcContainer .tcInfo .state.state1{background-image: url(../images/state_bg1.png);}
.tcContainer .tcInfo h4{font-size: .38rem; background: linear-gradient(0deg, #7D4613 0%, #A0713E 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-weight: bold; display: flex; align-items: center; font-style: italic;}
.tcContainer .tcInfo h4 span{display: block; max-width: 80%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.tcContainer .tcInfo h4::before{content: ''; display: block; width: .48rem; height: .48rem; background: url(../images/vipIcon.png) no-repeat center/cover; margin-right: .05rem; flex-shrink: 0;}
.tcContainer .tcInfo p{font-size: .26rem; padding-left: .08rem; background: linear-gradient(0deg, #7D4613 0%, #A0713E 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; margin-top: .1rem;}
.tcContainer .tcCon{background: linear-gradient(0deg, #302c4dcb 0%, #343159cb 100%); border-radius: .2rem; height: 3rem; margin-top: -.6rem; position: relative; z-index: 1; position: relative;}
.tcContainer .tcCon::before{content: ''; display: block; position: absolute; left: 0; top: 0; right: 0; border-radius: .2rem; background: url(../images/tcCon_bg.png) no-repeat center/cover; height: 1.28rem; pointer-events: none; }

.tcContainer .tcCon h3{font-size: .3rem; background: linear-gradient(0deg, #EED8B5 0%, #FFFCF7 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; text-align: center; display: flex; align-items: center; justify-content: center; padding-top: .3rem;}
.tcContainer .tcCon h3::before,.tcContainer .tcCon h3::after{content: ''; display: block; width: .34rem; height: .03rem; background: linear-gradient(90deg, #E6DCCC00 0%,#E6DCCC 100%); margin: 0 .1rem; }
.tcContainer .tcCon h3::after{background: linear-gradient(90deg, #E6DCCC 0%,#E6DCCC00 100%);}

@supports (-webkit-backdrop-filter:none) or (backdrop-filter:none) {
    .tcContainer .tcCon,.tcContainer .tcLeft{-webkit-backdrop-filter: blur(.2rem); backdrop-filter: blur(.2rem);
    }
 }

.tcContainer .tcCon ul,.tcContainer .tcLeft ul{display: grid; align-items: center; justify-content: space-around;  text-align: center; margin-top: .36rem; grid-template-columns: repeat(4,1fr); padding: 0 .1rem;}
.tcContainer .tcCon ul li .icon{width: .8rem; height: .8rem; margin: auto; margin-bottom: .05rem;}
.tcContainer .tcCon ul li .icon img{display: block; width: 100%; height: 100%; object-fit: cover;}
.tcContainer .tcCon ul li h6{font-size: .28rem; color: #D5D5D9; font-weight: bold; margin-bottom: .02rem;}
.tcContainer .tcCon ul li p{font-size: .22rem; color: #999;}
.tcContainer .tcLeft {height: .8rem; background: linear-gradient(0deg, #302C4Dcb 0%, #343159cb 100%); border-radius: .2rem; font-size: .24rem; color: #D5D5D9;}
.tcContainer .tcLeft ul{margin-top: 0; }
.tcContainer .tcLeft li{line-height: .8rem;}
.tcContainer .tcLeft ul li.none{opacity: .4;}

/* 套餐列表 */
.tcListBox{ background-color: #F7F9FC; margin-top: -.54rem; border-radius:.4rem .4rem 0 0; padding-top: .14rem; padding-bottom: .6rem;}
.tcList{padding-top: .26rem; padding-right: .4rem;}
.tcList ul{margin-left: .3rem;}
.tcList li{min-width: 2.8rem; width: auto; height: 2.34rem; border-radius: .2rem ; border: .02rem solid #F6EBD6; background-color: #fff;  padding: .02rem; margin-right: .2rem; box-sizing: border-box; position: relative;}
.tcList li.bg_grey{background: #fff; border: none;}
.tcList li h4{font-size: .32rem; color: #6B3B20; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 3.5rem; padding: 0 .2rem;}
.tcList li p.date{color: rgba(96, 38, 17, .7); font-size: .22rem;}
.tcList li p.hasBuy{font-size: .2rem;color: rgba(96, 38, 17, .5);}
.tcList li .price{font-size: .22rem; color: #6B3B20; font-family: Akrobat; font-weight: bold; margin-top: .2rem; margin-bottom: .2rem;}
.tcList li .price b{font-size: .48rem; line-height: .47rem;}
.tcList li .tcCon{display: flex; align-items: center; justify-content: center; flex-direction: column; text-align: center;  height: 100%; position: relative; }
.tcList li .tcCon .rec{display: flex; align-items: center; justify-content: center; position: absolute; left: 0; top: -.26rem; padding: 0 .16rem; height: .44rem; border-radius: .2rem .16rem .16rem 0; background-color: #25262C; color: #fff; }
.tcList li.on_chose{border: solid .04rem #E6C697; background: linear-gradient(127deg, #FBF7EF 0%, #FAF0E1 100%); padding: 0;}
.tcList li.on_chose .tcCon{border: none;}
.tcList li.on_chose .tcCon .price{color: #FF5039;}
.tcListBox .btns p,.bottom_btns p{color: #9795A9; font-size: .26rem; display: flex; align-items: center; justify-content: center; margin-top: .28rem; }
.tcListBox .btns p a{color: #333;}
.tcListBox .btns p::before,.bottom_btns p::before{content: ''; display: block; width: .4rem; height: .4rem; background: url(../images/gou_yellow.png) no-repeat center/cover; margin-right: .08rem;}
.tcListBox .btns p.on_chose::before,.bottom_btns p.on_chose::before{background-image: url(../images/gou_yellow_on.png);}
.tcListBox .btn_buy{display: flex; align-items: center; justify-content: center; font-size: .34rem; color: #774B23; font-weight: bold; margin: .4rem .3rem 0; background: linear-gradient(90deg, #F5D99D 0%, #E4B862 100%); box-shadow: 0px .06rem .2rem 0px rgba(255,195,94,0.4); height: .9rem; border-radius: .45rem; position: relative;}
.tcListBox .btn_buy em{margin-right: .1rem;}
.tcListBox .btn_buy b{font-family: Akrobat; font-size: .48rem;}
.tcListBox .btn_buy span{display: flex;height: .38rem; border: .02rem solid #FFF; background: linear-gradient(90deg, #FF6536 0%, #FF3C22 100%); border-radius: .2rem; padding: 0 .16rem; position: absolute; top: -.2rem; right: .06rem; color: #fff; font-size: .22rem; font-weight: normal; align-items: center; justify-content: center;}
.tcListBox .btn_buy span::before{content: ''; display: block; width: .18rem; height: .1rem; background: url(../images/arr_white.png) no-repeat center/cover; position: absolute; left: .22rem; bottom: -.1rem;}
/* 增值服务 */
.pageBox .packageBox{min-height: 3rem; background-color: #fff; border-radius: .3rem; margin-top: 0; margin-top: -.4rem; padding-bottom: 1.5rem;}
.instr_package_box{margin: 0 .34rem 0; padding-top: .3rem;}
.instr_package_box h3{font-size: .3rem; color: #333; font-weight: bold; margin-bottom: .24rem;}
.instr_package_box dl{border-radius: .2rem; background-color: rgba(240, 244, 252, .6); padding: .2rem .28rem .24rem .28rem;}
.instr_package_box dt{font-size: .26rem; color: #333; font-weight: bold; margin-bottom: .12rem;}
.instr_package_box dd{font-size: .22rem; color: #9FA4B0; line-height: .36rem;}

.packageCon h3.title{color: #333; font-size: .34rem; font-weight: bold; position: relative; padding: .2rem .3rem;}
.packageCon h3.title span{font-size: .22rem; color: #B4B6BF; text-align: center; margin-top: 0.05rem; font-weight: normal; margin-left: .12rem;}
.packageCon .tab{display: flex; align-items: center; justify-content: space-around; margin: 0 .3rem; height: 1.6rem;}
.packageCon .tab.noPackage{height: .4rem;}
.packageCon .tab.noPackage li{display: none;}
.packageCon .tab li{font-size: .32rem; color: #666;}
.packageCon .tab li.on_chose{color: #333; font-size: .34rem; font-weight: bold; position: relative;}
.packageCon .tab li.on_chose::before{content: ''; display: block; width: .4rem; height: .2rem; background: url(../images/chose_on.png) no-repeat center/cover; position: absolute; left: 0; right: 0; bottom: -.28rem; margin: auto;}

/* .packageCon .swiper-container.package-container{margin-top: .5rem;} */
.yxPackage li{margin: 0 .3rem .2rem; background: linear-gradient(180deg, #E7F3FF 0%, #FFFFFF 29%); box-shadow: 0px .01rem .4rem 0px rgba(29,61,125,0.05); border-radius: .2rem; padding: .3rem .26rem; box-sizing: border-box; padding-bottom: .06rem; position: relative;}
.yxPackage li h3{font-size: .3rem; color: #333; font-weight: bold;}
.yxPackage li h3 .rec{padding: 0 .14rem; display: inline-flex; align-items: center; justify-content: center; background: linear-gradient(90deg, #458CFF 0%, #0565FF 100%); border-radius: .17rem .16rem .15rem 0px; height:.32rem; font-size: .18rem; color: #fff;}
.yxPackage li .price{font-size: .24rem; color: #A9A9A9;}
.yxPackage li .price .nprice{color: #FF5039; font-family: Akrobat;}
.yxPackage li .price .nprice b{font-size: .48rem;}
.yxPackage li .pcon{font-size: .24rem; color: #737780;  margin-top: .5rem;} 
/*  display: grid; grid-template-columns: repeat(3,1fr); row-gap: .32rem; */
.yxPackage li .pcon span{font-size: .28rem; color: #FF5039;}
.yxPackage li .pcon p{width: 33.33%; float: left; margin-bottom: .32rem;}

.yxPackage li .btns{position: absolute; top: .3rem; right: .2rem;}
.yxPackage li .btns a{display: flex; align-items: center; justify-content: center; background: linear-gradient(90deg, #DEEEFF 0%, #CCE0FF 100%); height: .72rem; border-radius: .36rem; color: #145BCC; font-size: .28rem; font-weight: bold; min-width: 1.1rem; box-sizing: border-box; padding: 0 .5rem;}
.yxPackage li .btns p{font-size: .22rem; color: #B4B6BF; text-align: center; margin-top: .05rem;}


.bottom_btns{ left: 0; right: 0; bottom: 0; background-color: #fff; padding-bottom: .3rem; z-index: 10; padding-top: .3rem; margin-top: .3rem;}
.bottom_btns a.btn_buy{display: flex; margin: 0 .3rem; height: .9rem; border-radius: .45rem; background: linear-gradient(90deg, #F5D99D 0%, #E4B862 100%); box-shadow: 0px 6px 20px 0px rgba(255,195,94,0.4); justify-content: space-between; padding-left: .5rem; align-items: center;}
.bottom_btns a.btn_buy .price{font-size: .24rem; color: #774B23;}
.bottom_btns a.btn_buy .price span{font-family: Akrobat;}
.bottom_btns a.btn_buy .price b{font-size: .48rem;}
.bottom_btns a.btn_buy .block{height: .9rem; border-radius: 0 .45rem .45rem 0; color: #FFF7E8; font-size: .34rem; font-weight: bold; text-align: center; line-height: .9rem; background: linear-gradient(114deg, transparent .45rem, #3C3636 0%, #1B1F28 100%); width: 2.92rem; box-sizing: border-box; padding-left: .2rem;}

.singlePackage .package_li{display: flex; align-items: center; margin: 0 .3rem .2rem; background: #FFF; box-shadow: 0px .01rem .4rem 0px rgba(29,61,125,0.05); border-radius: .14rem; justify-content: space-between; padding: 0 .24rem;  height: 1.3rem;}
.singlePackage .package_li::after{content: ''; display: block; width: .48rem; height: .48rem; background: url(../images/arr_circle.png) no-repeat center/cover;}
.singlePackage .package_li .flex_left{display: flex; align-items: center; }
.singlePackage .package_li .flex_left h4{font-size: .3rem; color: #000;}
.singlePackage .package_li .flex_left p{color: #B0B4BF ; font-size: .24rem;}
.singlePackage .package_li .flex_left .icon{width: .6rem; height: .6rem; margin-right: .16rem;}
.singlePackage .package_li .flex_left .icon img{display: block; width: 100%; height: 100%;}


/* 已购买过套餐，修改 */
.tcListBox_sm{background-color: #fff; border-radius: .3rem; padding: .28rem 0; margin-top: .46rem;}
.tcListBox_sm .box-header{padding: 0 .2rem 0 .3rem; display: flex; align-items: center; justify-content: space-between;}
.tcListBox_sm .box-header h5{font-size: .28rem; color: #6B3B20; font-weight: bold;}
.tcListBox_sm .box-header a{display: flex; align-items: center; justify-content: flex-end; font-size: .24rem; color: #999;}
.tcListBox_sm .box-header a::after{content: ''; display: block; width: .2rem; height: .2rem; background:url(../images/arr_1.png) no-repeat center/cover ;}
.tcListBox_sm .box-container{margin-top: .28rem; padding-right: .3rem;}
.tcListBox_sm .box-container ul{margin-left: .3rem; }
.tcListBox_sm .box-container li{height: 1.3rem; border: 1px solid #F6EBD6; background: linear-gradient(90deg, #FFFCF7 0%, #FFF8EA 100%); border-radius: .2rem; display: flex; align-items: center; padding-left: .1rem; padding-right: .2rem; min-width: 2.2rem; box-sizing: border-box; width: auto; margin-right: .12rem;}
.tcListBox_sm .box-container li::before{display: block; content: ''; width: .4rem; height: .4rem; background: url(../images/vipIcon1.png) no-repeat center/cover; margin-right: .1rem;}
.tcListBox_sm .box-container li h4{ font-size: .3rem; color: #6B3B20;}
.tcListBox_sm .box-container li p{ font-size: .22rem; color: #B3927E ; margin-top: .06rem;}


/* 修改套餐 弹窗 */
.tc_mask{position: fixed; left: 0; right: 0; top: 0; bottom: 0; background-color: rgba(0,0,0,.5); z-index: 10;}
.tcBoxPop{position: fixed; left: 0; right: 0; bottom: 0; background-color: #fff; border-radius: .5rem .5rem 0 0; z-index: 10; min-height: 7rem; transform: translateY(100%); transition: transform .3s;}
.tcBoxPop.showPop,.currTcConShowPop.showPop{transform: translateY(0);}
.tcBoxPop .close_pop{display: block; width: .4rem; height: .4rem; background: url(../images/close_btn1.png) no-repeat center/cover; position: absolute; right: .3rem; top: .4rem;}
.tcBoxPop .pop_header{height: 1.36rem; box-sizing: border-box; padding-bottom: .04rem; display: flex;justify-content: center; flex-direction: column; padding-left: .35rem;}
.tcBoxPop .pop_header h4{font-size: .38rem; color: #000; font-weight: bold;}
.tcBoxPop .pop_header p{color: #999; font-size: .22rem; margin-top: .06rem;}
.tcBoxPop .pop_con{height: 5.6rem;}
.tcBoxPop .currShowInfo{margin: .35rem .3rem 0; height: 1.2rem; border-radius: .2rem; background-color: #FFF8EA; position: relative; }
.tcBoxPop .currShowInfo::before{content: ''; display: block; width: .3rem; height: .16rem; background: url(../images/arr_top.png) no-repeat center/cover; position: absolute; left: .75rem; top: -.16rem; }
.tcBoxPop .currShowInfo ul{display: grid; grid-template-columns: repeat(4,1fr);}
.tcBoxPop .currShowInfo ul li{display: flex; align-items: center; justify-content: center; text-align: center; flex-direction: column; height: 1.2rem;}
.tcBoxPop .currShowInfo ul li h6{font-size: .28rem; color: #4D3123; font-weight: bold;}
.tcBoxPop .currShowInfo ul li p{color: #A6A09D; font-size: .24rem; margin-top: .05rem;}

.tcBoxPop .pop_bottom {padding-bottom: .3rem; padding-top: .2rem;}
.tcBoxPop .pop_bottom a.btn_buy{display: flex; margin: 0 .3rem 0; height: .9rem; border-radius: .45rem; background: linear-gradient(90deg, #F5D99D 0%, #E4B862 100%);  justify-content: space-between; padding-left: .5rem; align-items: center;}
.tcBoxPop .pop_bottom a.btn_buy .price{font-size: .24rem; color: #774B23;}
.tcBoxPop .pop_bottom a.btn_buy .price span{font-family: Akrobat;}
.tcBoxPop .pop_bottom a.btn_buy .price b{font-size: .48rem;}
.tcBoxPop .pop_bottom a.btn_buy .block{height: .9rem; border-radius: 0 .45rem .45rem 0; color: #FFF7E8; font-size: .34rem; font-weight: bold; text-align: center; line-height: .9rem; background: linear-gradient(114deg, transparent .45rem, #3C3636 0%, #1B1F28 100%); width: 2.92rem; box-sizing: border-box; padding-left: .2rem;}


/* 弹窗样式 */
.myConfirmPop .pubdelAlert{max-width:fit-content !important;}
.myConfirmPop .pubdelAlertCon{width: 6.2rem; min-height: 1rem;}
.myConfirmPop .pubdelAlertCon h2 b{color: #3377FF;}
.myConfirmPop .confirmTip{display: block; border: none; padding-top: .2rem;}
.myConfirmPop .confirmTip li{font-size: .24rem; color: #999; font-weight: normal; line-height: .42rem; height: auto; text-align: left;}
.myConfirmPop .confirmTip li::before{content: ''; display: inline-block; width: .08rem; height: .08rem; border-radius: 50%; background-color: #7FB2FF; margin-right: .1rem; vertical-align: middle;}
.myConfirmPop .confirmTip li em{color: #333;}

/* 套餐剩余 */
.currTcConShowPop{position: fixed; left: 0; right: 0; bottom: 0; min-height: 7rem; background-color: #fff; border-radius: .5rem .5rem 0 0; z-index: 11; transform: translateY(100%); transition: transform .3s;}
.currTcConShowPop .pop_header{height: 1.2rem; display: flex;  justify-content: center; flex-direction: column;}
.currTcConShowPop .pop_header h4{font-size: .34rem; color: #141933; font-weight: bold; padding-left: .45rem;}
.currTcConShowPop .pop_con .tabChange ul{margin: 0 .3rem; display: grid; grid-template-columns: repeat(3,1fr); column-gap: .15rem;}
.currTcConShowPop .pop_con .tabChange li{height: 1.5rem;border: 1px solid #F6EBD6; background: linear-gradient(90deg, #FFFCF7 0%, #FFF8EA 100%);  border-radius: .2rem; padding-left: .28rem; box-sizing: border-box; display: flex; justify-content: center; flex-direction: column;}
.currTcConShowPop .pop_con .tabChange li.on_chose{box-shadow: 0px .1rem .2rem 0px rgba(0,0,0,0.06);  border: .02rem solid #E6D2B8; position: relative;}
.currTcConShowPop .pop_con .tabChange li.on_chose::after{content: ''; display: block; width: .12rem; height: .12rem; border: solid .02rem #E6D2B8; position: absolute; left: 0 ; right: 0; bottom: -.08rem; background: linear-gradient(90deg, #FFFCF7 0%, #FFF8EA 100%); transform: rotate(45deg); margin: auto; border-left: none; border-top: none;}
.currTcConShowPop .pop_con .tabChange li h5{font-size: .26rem; color: #99694C;}
.currTcConShowPop .pop_con .tabChange li .leftCon{font-size: .26rem; color: #323233;}
.currTcConShowPop .pop_con .tabChange li .leftCon b{font-size: .5rem; font-family: DINMi;}
.currTcConShowPop .pop_con .currCon{margin:  .24rem .3rem 0; font-size: .26rem; line-height: .48rem; height: 1.5rem; background: #F7F9FC; border-radius: .2rem; color: #666; display: flex; justify-content: center; flex-direction: column; padding-left: .26rem;}
.currTcConShowPop .pop_con .currCon span{color: #333;}
.currTcConShowPop .pop_con .currCon em{color: #99694C;}
.currTcConShowPop .pop_con .tip_buy{margin-top: .5rem; color: #999; font-size: .24rem; padding: 0 .42rem;}
.currTcConShowPop .pop_con .tip_buy span{color: #666; text-decoration: underline;}
.transparent.header{z-index: 1;}
html.huoniao_iOS:not(.wx_miniprogram):not(.byte_miniprogram):not(.baidu_miniprogram):not(.qq_miniprogram) .transparent.header{display: none;}
html.huoniao_iOS:not(.wx_miniprogram):not(.byte_miniprogram):not(.baidu_miniprogram):not(.qq_miniprogram) .tcContainer {padding-top: .62rem;}
html.huoniao_Android:not(.wx_miniprogram):not(.byte_miniprogram):not(.baidu_miniprogram):not(.qq_miniprogram) .transparent.header {display: -webkit-box !important; padding-top: .5rem !important;}
html.huoniao_Android:not(.wx_miniprogram):not(.byte_miniprogram):not(.baidu_miniprogram):not(.qq_miniprogram) .tcContainer {padding-top: 1.5rem;}
.packageCon .swiper-wrapper{padding-top: .4rem;}
.packageCon .swiper-container{margin-top: -.4rem;}
.popupRightBottom{z-index: 9;}


/* .yxPackage,.singlePackage  {padding-bottom: .4rem;} */