body{background-color: #F7F9FC; min-height: 100vh; box-sizing: border-box;}
.fixedTop{position: fixed; left: 0; right: 0; top: 0; background-color: #fff; z-index: 9;}
.header-search s{display: block; width: 1rem; height: .9rem; background: url(../images/search_icon.png) no-repeat center/.4rem;}
.header {display: flex; align-items: center; justify-content: space-between;}
.header .searchBox{width: 100%; margin-right: .3rem; height: .64rem; border-radius: .32rem; background-color: #F5F5F7; display: flex; align-items: center; position: relative;}
.header .searchBox input{background: none; height: .64rem; border:none; color: #303133; font-size: .26rem; width: 100%; box-sizing: border-box;padding: .16rem 0; padding-right: .54rem; line-height: .32rem;}
.header .searchBox::before{content: ''; width: .32rem; height: .32rem; background: url(../images/search_icon1.png) no-repeat center/cover; margin-right: .1rem; margin-left: .24rem; flex-shrink: 0; margin-top: -.02rem;}
.header .searchBox .clear_btn{width: .4rem; height: .4rem; background: url(../images/clear_icon.png) no-repeat center/cover; position: absolute; right: .12rem; top: 0; bottom: 0; margin: auto;}
.header .header-l{flex-shrink: 0;}

.tabBox{background-color: #fff; height: .8rem; padding: 0 .28rem;  position: relative;}
.tabBox ul{white-space: nowrap;}
.tabBox li{margin-right: .86rem; font-size: .28rem; color: #1F2021; line-height: .74rem; display: inline-block; position: relative;}
.tabBox li em{color:rgba(31, 32, 33, .5); font-size: .28rem; margin-left: .08rem; position: absolute;}
.tabBox li.on_chose{font-size: .32rem; color: #256CFA; font-weight: bold;}
.tabBox li.on_chose em{color: #256CFA; font-weight: bold;}
.tabBox s{display: inline-block; width: .34rem; height: .08rem; border-radius: .04rem; background-color: #256CFA; position: absolute; transition: left .3s; left: 0;}

.listBox{padding-top: 1.9rem; padding-bottom: 1.5rem;}
/* 列表数据 --- 招聘中 */
.list_item {margin: 0 .2rem .22rem; min-height: 1.5rem; background-color: #fff; border-radius: .2rem;}
.list_item a.postInfo{display: block; border-bottom: solid 1px #f5f5f7; padding: .26rem .2rem .32rem;}
.list_item a.postInfo .ptitle{display: flex; align-items: center; justify-content: space-between;}
.list_item a.postInfo .ptitle h2{font-size: .32rem; color: #212121; font-weight: bold; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 80%; margin-right: .4rem;}
.list_item a.postInfo .ptitle .salary{font-size: .28rem; color: #FF4F38; font-weight: bold; font-family: DINMi;}
.list_item a.postInfo .pinfo{color: #8D8E91; font-size:.24rem; display: flex; align-items: center; justify-content: space-between;margin-top: .14rem; }
.list_item a.postInfo .pinfo em{display: inline-block; width: 1px; height: .2rem; background-color: #D4D4D4; margin: 0 .1rem;}
.list_item a.postInfo .pinfo .paddr{font-size: .22rem; color: #B3B3B3;}
.list_item a.postInfo .pCountBox{display: grid; grid-template-columns:repeat(3,1fr); grid-column-gap:.33rem; margin-top: .22rem;}
.list_item a.postInfo .pCountBox .pnum{width: 2rem; height: 1rem; border-radius: .14rem; background-color: #F2F8FF; display: flex; align-items: center; justify-content: center; flex-direction: column;}
.list_item a.postInfo .pCountBox .pnum h4{font-size: .32rem; color: #256CFA; font-family: moneyNumber; margin-bottom: .04rem;}
.list_item a.postInfo .pCountBox .pnum p{font-size: .22rem; color: #5F646F;}
.list_item a.postInfo  .endTime{font-size: .26rem; color: #8D8E91; margin-top: .22rem;}
.list_item a.postInfo .pCountBox .endTime{margin-top: 0;}
.list_item a.postInfo .endTime span{color: #256CFA;}
.list_item .btnsGroup{display: grid;  grid-template-columns:repeat(5,1fr);  height: 1.34rem;}
.list_item .btnsGroup .btn{display: flex; align-items: center; font-size: .22rem; color: #535353; text-align: center;  flex-direction: column; justify-content: center; position: relative; }
.list_item .btnsGroup .btn::before{content: ''; display: block; width: .4rem; height: .4rem; background: url(../images/tg.png) no-repeat center/.4rem; margin-bottom: .06rem;}
.list_item .btnsGroup .btn.btn_pp::before{background-image: url(../images/pp.png);}
.list_item .btnsGroup .btn.btn_fresh::before{background-image: url(../images/fresh.png);}
.list_item .btnsGroup .btn.btn_share::before{background-image: url(../images/share.png);}
.list_item .btnsGroup .btn.btn_more::before{background-image: url(../images/more.png);}
.list_item .btnsGroup .optBox{width: 2.2rem; height: 3rem; background: #FFFFFF; box-shadow: 0 .08rem .6rem 0 rgba(0,10,51,0.08); border-radius: .2rem; position: absolute; top: .8rem; right: .24rem; display: none; animation: popup .3s; transform-origin: top right;}
.list_item .btnsGroup .optBox.show{display: block;}
.list_item .btnsGroup .optBox .btn{flex-direction: row; font-size: .28rem; color: #666; height: 1rem; margin: 0 .3rem;}
.list_item .btnsGroup .optBox .btn::before{width: .36rem; height: .36rem; margin-right: .08rem; margin-bottom: 0;}
.list_item .btnsGroup .optBox .btn_edit::before{background-image: url(../images/edit.png);}
.list_item .btnsGroup .optBox .btn_del::before{background-image: url(../images/del.png);}
.list_item .btnsGroup .optBox .btn_off::before{background-image: url(../images/off.png);}
.list_item .showFreshTop{padding: 0 .22rem;}
.list_item .showFreshTop .tg_item{display: flex; align-items: center; justify-content: space-between; height: .7rem; border-radius: .14rem; background: linear-gradient(90deg, rgba(255, 108, 6, .1) 0%, rgba(255,255,255,.1) 100%); margin-top: .16rem; padding: 0 .16rem; color: #A6A19D; font-size: .22rem;}
.list_item .showFreshTop .tg_item label{font-weight: bold; color: #FF6C06; font-size: .26rem; display: flex; align-items: center; justify-content: flex-start;}
.list_item .showFreshTop .tg_item label::before{content: ''; display: block; width: .42rem; height: .42rem; background: url(../images/topping.png) no-repeat center/cover; margin-right: .05rem;}
.list_item .showFreshTop .tg_item.fresh label::before{background-image: url(../images/fresh1.png);}
.list_item .showFreshTop .tg_item.fresh label{color: #196DF3;}
.list_item .showFreshTop .tg_item.fresh{background:linear-gradient(90deg,  rgba(29, 115, 255, .1) 0%, rgba(255,255,255,.1) 100%);}


/* 已下架 */
.hasOff.list_item  a.postInfo .ptitle .salary{color: #7A8199;}
.hasOff.list_item  a.postInfo .pCountBox{display: block; font-size: .26rem; color: #8D8E91; margin-top: .32rem;}
.hasOff.list_item  a.postInfo .pCountBox em{color: #636466;}
.hasOff.list_item  a.postInfo .pCountBox p{display: inline-block;}
.hasOff.list_item  a.postInfo .pCountBox s{display: inline-block; width: 1px; height: .2rem; background-color: #D4D4D4; margin: 0 .1rem;}
.hasOff.list_item  a.postInfo .pCountBox>div{margin-bottom: .2rem;}
.hasOff.list_item  .btnsGroup{display: flex; align-items: center; justify-content: space-between; padding: 0 .2rem;}
.hasOff.list_item  .btnsGroup a{width: 1.4rem; height: .6rem; border-radius: .3rem; border: solid 1px #E3E4E6; display: flex; align-items: center; justify-content: center; font-size: .26rem;}
.hasOff.list_item  .btnsGroup a.off::before{display: none;}
.hasOff.list_item  .btnsGroup a.off{width: 1.7rem;}
.hasOff.list_item  .btnsGroup a::before{content: '';display: block; width: .3rem; height: .3rem; background: url(../images/del.png) no-repeat center/cover;}
.hasOff.list_item  .btnsGroup a.btn_edit::before{background-image: url(../images/edit.png);}
.hasOff.list_item  .btnsGroup a.reOff::before{display: none;}
.hasOff.list_item  .btnsGroup a.reOff{width: 1.7rem; border-radius: .3rem; background: #3377FF; color: #fff; border: none; margin-left: .18rem;}
.hasOff.list_item  .btnsGroup .btns{display: flex; align-items: center; justify-content: space-between;}
.hasOff.list_item a.postInfo .refuseMsg{color: #FF4F38; font-size: .26rem; display: flex; align-items: flex-start; justify-content: flex-start; line-height: .48rem;}
.hasOff.list_item a.postInfo .refuseMsg label{flex-shrink: 0;}

/* 未通过 */
.hasRefuse.hasOff.list_item .btnsGroup,.noPass.hasOff.list_item .btnsGroup{justify-content: flex-end;}

.bottomFixed{position: fixed; left: 0; right: 0; bottom: 0; background-color: #fff;  height: 1.16rem; padding:.14rem .3rem; padding-bottom: constant(-.3rem + safe-area-inset-bottom); padding-bottom: env(-.3rem + safe-area-inset-bottom); display: flex; align-items: center; justify-content: space-between; box-sizing: border-box; z-index: 9;}
.bottomFixed a{border: none; background: none; width: 2.4rem; height: .8rem; border-radius: .4rem; border: solid 1px #66A1FF; color: #256CFA; font-size: .26rem; box-sizing: border-box; display: flex; text-align: center; align-items: center; justify-content: center;  flex-shrink: 0; line-height: .8rem;} 
.bottomFixed a.add_btn{width: 100%; margin-left: .2rem;background: linear-gradient(-90deg, #266EFF 0%, #3381FF 100%); border: none; flex-shrink: 1; color: #fff;}

.listBox.loadPage::before{content: ''; display: block; height: 100%; position: absolute; left: 0; right: 0; bottom: 0; top: 0; background: rgba(255,255,255,.6); z-index: 1;}
.listBox.loadPage::after{content: ''; background: url(/static/images/siteSearch_touch/loadIcon.png) no-repeat center; background-size: .8rem;  left: 0; right: 0; margin: auto; top: 0; bottom: 0; animation:rotate_ 1.6s infinite linear; position: fixed;width: .8rem; height: .8rem; z-index: 2;}
.listBox.loadPage{position: relative; min-height: 100vh; box-sizing: border-box;}
.nodata{padding-top: 2.6rem;}
.nodata .noData_img{width: 4.4rem; height: 2.52rem; object-fit: cover; margin: auto;}
.nodata .noData_img img{display: block; width: 100%; height: 100%; object-fit: cover;}
.nodata h4{text-align: center; font-size: .3rem; font-weight: bold;}
.nodata p {font-size: .26rem; color: #999; text-align: center; margin-top: .2rem;}
.noscroll{overflow: hidden;}


/* 各类弹窗 */
.pop_mask.pickerMask,.popContainerBox .pop_mask{position: fixed; left: 0; right:0; top: 0; bottom: 0; background: rgba(0,0,0,.5); z-index: 11;}
.popBox{position: fixed; z-index: 11; left: 0; right: 0; bottom: 0; background: url(../images/bg_pop.png) no-repeat top center/100% auto; background-color: #ffff; border-radius: .5rem .5rem 0 0; min-height: 5rem; padding-bottom: constant(safe-area-inset-bottom); padding-bottom: env(safe-area-inset-bottom); transform: translateY(150%); transition: transform .3s;}
/* 推广弹窗 */
.popBox.tgPopBox { background:#fff url(../images/tg_bg.png)  no-repeat top center/100% auto;}
.popBox.show{transform: translateY(0);}
.tgPopBox .popHeader{height: 1.48rem; padding: .3rem .5rem 0; box-sizing: border-box;}
.tgPopBox .popHeader h2{font-size: .36rem; color: #683D15; font-weight: bold;}
.tgPopBox .popHeader p{color: #A68C74; font-size: .24rem;}
.tgPopBox .tg_ul li{display: flex; align-items: center; justify-content: flex-start; position: relative; height: 1.76rem; border-radius: .2rem; background-color: #fff; box-shadow: 0px 10px 70px 0px rgba(137,93,34,0.07); margin: 0 .3rem .3rem; padding-left: .3rem;}
.tgPopBox .tg_ul li h3{font-size:.3rem ; color:#000;}
.tgPopBox .tg_ul li p{color: #A7A7A7; font-size: .24rem; margin-top: .12rem;}
.tgPopBox .tg_ul li::before{content: ''; display: block; width: .84rem; height: .84rem; background: url(../images/reftrsh_icon.png) no-repeat center/cover; margin-right: .2rem;}
.tgPopBox .tg_ul li.toTop::before{background-image: url(../images/totop_icon.png);}
.tgPopBox .tg_ul li::after{content: ''; display: block; width: .32rem; height: .32rem; background: url(../images/arr_right.png) no-repeat center/cover; position: absolute; right: .4rem; top:0; bottom: 0; margin: auto;}
.tgPopBox .btn_cancel{display: block; height: .9rem; background: #F6F6F6; border-radius: .16rem; text-align: center; line-height: .9rem; color: #949699; font-size: .3rem; margin: 0 .3rem .3rem; }

/* 推广详情 */
.tgDetailBox {min-height: 6.8rem;}
.tgDetailBox .popHeader{padding: 0 .3rem; height: 1.3rem;  box-sizing: border-box; padding-top: .3rem;}
.tgDetailBox .popHeader h3{font-size: .34rem; color: #141933; font-weight: bold; display: flex; align-items: center;} 
.tgDetailBox .popHeader h3::before{content: ''; display: inline-block; width: .5rem; height: .5rem; background: url(../images/sfresh_icon.png) no-repeat center/cover; margin-right: .06rem;}
.tgDetailBox .popHeader a{display: block; width: .4rem; height: .4rem; background: url(../images/close.png) no-repeat center/cover; position: absolute; right: .3rem; top: .4rem;}
.tgDetailBox .popCon{margin: 0 .36rem; min-height: 3.6rem;}
.tgDetailBox .popCon dt{font-size: .28rem; color: #202021; font-weight: bold; margin-bottom: .26rem;}
.tgDetailBox .popCon dd{font-size: .26rem; color: #7C7C80; display: flex; align-items: flex-start; line-height: .56rem;}
.tgDetailBox .popCon dd p{color: #313233;}
.tgDetailBox .popCon dd p.freshNext{color: #256CFA;}
.tgDetailBox .btn_sure{display: block; height: .84rem;background: linear-gradient(-90deg, #266EFF 0%, #3381FF 100%); border-radius: .42rem; text-align: center; line-height: .84rem; color: #fff; font-size: .3rem; margin: .6rem .3rem .3rem; }

/* 设置推广 */
.setTgBox .popBox{background: #fff;}
.setTgBox .popHeader{height: 1.7rem; padding: 0 .35rem; background: url(../images/pop_headbg.jpg) no-repeat center/cover; border-radius: .5rem .5rem 0 0 ;}
.setTgBox .popHeader h3{font-size: .38rem; color: #fff; font-weight: bold; padding-top: .4rem;}
.setTgBox .popHeader h3 span{font-size: .24rem; font-weight: normal; opacity: .5; margin-left: .12rem;}
.setTgBox .popCon{border-radius: .38rem .38rem 0 0; min-height: 3rem; margin-top: -.4rem; background-color: #fff;}
.setTgBox .popCon.popForm>h4{font-size: .3rem; color: #333; font-weight: bold; margin: 0 .4rem; padding-top: .3rem;}
.setTgBox .popCon.popForm>h4 span{color: #45464C; font-size: .24rem; font-weight: normal;}
.setTgBox .popCon.popForm>h4 span em{color: #FF7E05;}
.setTgBox .popCon.popForm .interview{ margin: 0 .35rem; margin-top: .3rem; margin-right: 0;}
.setTgBox .popCon.popForm .interview li{height: .8rem; border-radius: .16rem; width: 1.54rem; background-color: #F7F9FC; color: #333; font-size: .28rem; text-align: center; line-height: .74rem; border: solid .03rem #F7F9FC; box-sizing: border-box; float: left; margin-right: .2rem; margin-bottom: .2rem;}
.setTgBox .popCon.popForm .interview li.on_chose{background-color: #FFF6F0; border-color: #FFBE99; color: #FF7E05; font-weight: bold;}
.setTgBox .popCon.popForm .interview li.inp{width: 2.6rem;display: flex; align-items: center; padding-right: .2rem;}
.setTgBox .popCon.popForm .interview li.inp.on_chose {font-weight: normal;}
.setTgBox .popCon.popForm .interview li.inp.on_chose span{color: #666;}
.setTgBox.toTopBox  .popCon.popForm .interview li.inp{display: flex; align-items: center; padding-right: .2rem;}
.setTgBox .popCon.popForm .interview li.inp input,.setTgBox .popCon.popForm .flexBox .right_inp .inp input{border: none; background: none; height: 100%; width: 100%; box-sizing: border-box; padding: 0 .1rem 0 .3rem; font-size: .28rem;}

.setTgBox .popCon.popForm .interview li.inp input::placeholder,.setTgBox .popCon.popForm .flexBox .right_inp .inp input::placeholder{color: #ADAFB3;}
.setTgBox .popCon.popForm .flexBox{display: flex; align-items: center; justify-content: space-between; border: 1px solid #DFE1E6; border-radius: 10px; margin: 0 .36rem; height: .84rem; padding: 0 .2rem; margin-bottom: .2rem; font-weight: normal;}
.setTgBox .popCon.popForm .flexBox label{color: #666; font-size: .28rem;}
.setTgBox .popCon.popForm .flexBox .right_inp{display: flex; align-items: center; justify-content: flex-end; height: 100%; color: #B3B3B3;}
.setTgBox .popCon.popForm .flexBox .right_inp .inp{width: 2rem; height: 100%;}
.setTgBox .popCon.popForm .flexBox .right_inp .inp input{text-align: center; padding-left: .1rem; padding-right: .2rem; color: #333;}
.setTgBox .popCon.popForm .flexBox .right_inp::after{content: ''; display: block; width: .24rem; height: .24rem; background: url(../images/arr_1.png) no-repeat center/cover;}
.setTgBox .popCon.popForm .flexBox.timeArea .right_inp .inp{width: 3rem; text-align: right;}
.setTgBox .popCon.popForm .flexBox.timeArea .right_inp .inp input{text-align: right;}
.setTgBox .ptip{margin: 0 .35rem; color: #8C6957; font-size: .26rem; margin-top: .4rem;}
.setTgBox .ptip::before{content: ''; display: inline-block; width: .4rem; height: .4rem; background: url(../images/gou_3.png) no-repeat center/cover; vertical-align: middle; margin-right: .05rem; margin-bottom: .02rem;}
.setTgBox .ptip em{color: #FF4F38; font-size: .28rem;}
.setTgBox .btn_submit{display: block;  height: .84rem; border-radius: .42rem; background-color: rgba(24, 51, 89, 1); color: #fff; font-weight: bold; text-align: center; line-height: .84rem; font-size:.3rem; width: 100%; }
.setTgBox .btn_submit.disabled{background-color: rgba(24, 51, 89, .3);}
.setTgBox .btnsBox{display: flex; align-items: center; margin: 0 .3rem; margin-bottom: .3rem; margin-top: 1.1rem;}
.setTgBox .btnsBox .priceCount{font-size: .24rem; color: #999; flex-shrink: 0; width: 2.5rem;}
.setTgBox .btnsBox .priceCount span{font-size: .24rem; color: #FF5039; font-family: Akrobat; font-weight: bold;}
.setTgBox .btnsBox .priceCount span b{font-size: .5rem;}
.setTgBox .btnsBox .priceCount span b.sm{font-size: .32rem;}

.setTgBox.toTopBox  .popHeader{background-image: url(../images/top_bg.jpg);}
.setTgBox.toTopBox .popCon.popForm .interview.noleft li{width: 2.1rem; height: 1.34rem; border-radius: .14rem; margin-right: .22rem; display: flex; align-items: center; justify-content: center; flex-direction: column; line-height: 1.5em;}
.setTgBox.toTopBox .popCon.popForm .interview.noleft li p{color: #666; font-size: .3rem;}
.setTgBox.toTopBox .popCon.popForm .interview.noleft li h4{font-size: .24rem; color: #333;}
.setTgBox.toTopBox .popCon.popForm .interview.noleft li h4 b{font-size: .48rem; font-family: Akrobat;}
.setTgBox.toTopBox .popCon.popForm .interview.noleft li.on_chose p{color: #664D3D; font-weight: normal;}
.setTgBox.toTopBox .popCon.popForm .interview.noleft li.on_chose h4{color: #FF5039;}
.setTgBox.toTopBox .popCon.popForm .interview.noleft li .inp{display: flex; align-items: center; color: #636466; font-size: .3rem; margin: 0 .4rem; font-weight: normal;}
.setTgBox.toTopBox .popCon.popForm .interview.noleft li input{background: none; width:100%; border: none; font-size: .3rem; text-align: right; padding: 0 .04rem;}
.setTgBox.toTopBox .popCon.popForm .interview.noleft li input::placeholder{color: rgba(102, 77, 61, .3);}


.pickerPop{overflow: hidden; background: #fff;}
.pickerPop .van-picker__toolbar{font-size: .28rem; padding: 0 .18rem; height: 1rem;}
.pickerPop .van-picker__toolbar .van-picker__title{font-size: .28rem;}
.pickerPop .van-picker__toolbar button{padding: 0 .4rem; font-weight: bold; font-size: .28rem;}
.pickerPop .van-picker__confirm{color: #256CFA; font-weight: bold; font-size: .28rem;}

.pickerPop .popHeader .flexBox{display: flex; align-items: center; justify-content: space-between; font-size: .28rem; padding: 0 .18rem; line-height: 1rem;}
.pickerPop .popHeader .flexBox a{display: block; font-weight: bold; color: #999; padding: 0 .4rem;}
.pickerPop .popHeader .flexBox a.sure_btn{color: #256CFA;}
.pickerPop .popHeader .tip{margin: 0 .4rem; color: #527ACC; font-size: .24rem; line-height: .6rem; background-color: #F7F9FC; border-radius: .3rem; text-align: center;}
.pickerPop .popCon.flexBox{display: flex; padding: 0 .3rem;} 
.pickerPop .popCon .van-picker{width: 50%;}
.pickerPop .popCon .van-picker-column__item--selected{font-size: .32rem; color: #000; font-weight: bold;}
.pickerPop .popCon .van-picker__frame{left: 0; right: 0; }
.pickerPop .popCon .van-picker__frame::before{content: ':'; display: block; position: absolute; left: 0; right: 0; top: 0; bottom: 0; pointer-events: none;font-size: .32rem; color: #000; line-height: 42px; text-align: center; }
.pickerPop .popCon.flexBox .line{display: flex; align-items: center; justify-content: center; font-size: .32rem;}

.smartFreshConfirm.showPop{display: block;}
.smartFreshConfirm{width: 6rem; height: 4.22rem; background-color: #fff; border-radius: .3rem; box-shadow: 0px .07rem .37rem 0px rgba(0,0,0,0.13); position: fixed; left: 0; right: 0; top: 0; bottom: 0; margin: auto; animation: popup .3s; z-index: 10; box-sizing: border-box; padding: .48rem .3rem; display: none;}
.smartFreshConfirm h3,.partSuccessPop h3{font-size: .32rem; color: #212121; font-weight: bold; text-align: center;}
.smartFreshConfirm h3 span{color: #256CFA;}
.smartFreshConfirm p{color: #919399; font-size: .24rem; text-align: center; margin-top: .2rem;}
.smartFreshConfirm .btnsGroup{padding-top: .42rem;}
.smartFreshConfirm .btnsGroup a{display: block; margin: 0 .3rem; height: .8rem; border-radius: .4rem; background-color: #266EFF; color: #fff; text-align: center; line-height: .8rem; font-size: .3rem;}
.smartFreshConfirm .btnsGroup a.freshNow{color: #1975FF; background-color: #E9F2FF; margin-top: .3rem;}
.smartFreshConfirm a.close_pop,.partSuccessPop .close_pop{display: block; width: .64rem; height: .64rem; background: url(../images/close_pop.png) no-repeat center/cover; position: absolute; left: 0; right: 0; bottom: -1rem; margin: auto;}

.smartFreshConfirm.freshConfirm{width: 6.2rem; height: 3.3rem; background:#fff url(../images/bgPop_sm.png) no-repeat top center/100% 1.5rem; padding-top: .58rem;}
.smartFreshConfirm.freshConfirm h3{font-size: .3rem;}
.smartFreshConfirm.freshConfirm .freshNow{display: block; width: 4.5rem; height: .8rem; text-align: center; line-height: .8rem; border-radius: .4rem; color: #fff; font-size: .3rem; background: linear-gradient(-90deg, #266EFF 0%, #3381FF 100%); margin: auto; margin-top: .5rem;}
.smartFreshConfirm p em{color:#5C5F66;}

.showPop.partSuccessPop{display: block;}
.partSuccessPop{position: fixed; left: 0; right: 0; top: 0; bottom: 0; margin: auto; width: 6rem; height: 4.52rem; border-radius: .3rem; background: #fff url(../images/bgPop_sm.png) no-repeat top center/ 100% 1.6rem; z-index: 11; box-sizing: border-box; padding-top: .36rem; display: none; animation: popup .3s;}
.partSuccessPop::before{content: ''; display: block; width: .64rem; height: .64rem; background:url(../images/gou_big.png) no-repeat center/cover ; margin: auto; margin-bottom: .2rem;}
.partSuccessPop>p{color: #7E838C; font-size: .26rem; text-align: center; text-align: center; margin-top: .16rem;}
.partSuccessPop>p span{color:#FF4F38;}
.partSuccessPop .tip{color:#A1A7B3; font-size: .22rem; text-align: center; margin-top: .52rem;}
.partSuccessPop .btns_buy{display: flex; width: 4.5rem; height: .92rem; background: #071D56; border-radius: .46rem; align-items: center; justify-content: center; flex-direction: column; margin: auto; margin-top: .2rem;}
.partSuccessPop .btns_buy h5{font-size: .3rem; color: #fff; font-weight: bold;}
.partSuccessPop .btns_buy p{color: rgba(255,255,255,.5); font-size: .2rem;}


/* 确认弹窗样式 */
.delConfirmPop .pubdelAlertCon{width: 5.4rem;}
.delConfirmPop .pubdelAlertCon p{color: #666; margin-top: .26rem;}

/* 有效期 */
.popContainerBox  .valid_mask{z-index: 13;}
.validPop {background:#fff; z-index: 13;}
.validPop .popHeader{display: flex; align-items: center; justify-content: space-between; padding: 0 .3rem;}
.validPop .popHeader a{display: block; line-height: 1rem; padding: 0 .26rem; font-size: .28rem ; color: #999; font-weight: bold;}
.validPop .popHeader a.btn_sure{color:#256CFA;}
.validPop .popHeader h4{color: #333; font-size: .28rem;}
.validPop .shortCutOptions{overflow: auto; margin-bottom: .2rem;}
.validPop .shortCutOptions::-webkit-scrollbar{display: none;}
.validPop .shortCutOptions ul{white-space: nowrap; margin-left: .3rem;}
.validPop .shortCutOptions li{display: inline-block; height: .62rem; border-radius: .1rem; background-color: #F5F5F5; color: #666; font-size: .26rem; padding: 0 .3rem; min-width: 1.26rem; box-sizing: border-box; margin-right: .14rem; line-height: .62rem; text-align: center;}
.validPop .shortCutOptions li.on_chose{background-color: #EDF3FF; color: #256CFA; font-weight: bold;}
.validPop .van-picker-column__item.van-picker-column__item--selected{font-size: .32rem; font-weight: bold; color: #000;}


/* 职位增值包 */
.upPostPackagePop.packageBoxPop{background: #fff;}
.upPostPackagePop .popHeader {height: 1rem; background: linear-gradient(180deg, #F3F5FE 0%, #EDF0FC 100%); border-radius: .38rem .38rem 0px 0px;}
.upPostPackagePop .popHeader .swicthBox h4{width: 50%; display: block; float: left; font-size: .32rem; color: #666; line-height: 1rem; text-align: center; position: relative;}
.upPostPackagePop .popHeader .swicthBox h4.on_chose{color: #131626; font-size: .34rem; font-weight: bold;}
.upPostPackagePop .popHeader .swicthBox h4.on_chose span{position: relative;}
.upPostPackagePop .popHeader .swicthBox h4.on_chose::before{content: ''; display: block; width: 4.2rem; height: 1.12rem; background: url(../images/tab_bg.png) no-repeat center/cover; position: absolute; left: 0; bottom: 0;}
.upPostPackagePop .popHeader .swicthBox h4.on_chose:last-of-type::before{transform: rotateY(180deg); left: auto; right: 0;}
.upPostPackagePop .popHeader .swicthBox h4::after{content: ''; display: none; width: .4rem; height: .2rem; background: url(../images/tab_icon.png) no-repeat center/cover; position: absolute;left: 0; right: 0; bottom: 0; margin: auto;}
.upPostPackagePop .popHeader .swicthBox h4.on_chose::after{display: block; animation: popup .3s;}

.upPostPackagePop .directUpCon{margin: 0 .36rem;}
.upPostPackagePop .switchCon>p{color: rgba(89, 98, 128, .6); font-size: .24rem; padding: 0 .12rem; margin-top: .4rem;}
.upPostPackagePop .directUpCon .upPostItem{height: 2.58rem; border-radius: .3rem; border: 3px solid #99C2FF; background: url(../images/upPost_bg.png) no-repeat center/cover; box-sizing: border-box; padding: .3rem .36rem; margin-top: .45rem;}
.upPostPackagePop .directUpCon .upPostItem p{font-size: .28rem; color: #666;}
.upPostPackagePop .directUpCon .upPostItem h4{font-size: .32rem; color: #333; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-top: .14rem;}
.upPostPackagePop .directUpCon .upPostItem .price{color: #FF5039; font-size: .24rem; margin-top: .34rem;}
.upPostPackagePop .directUpCon .upPostItem .price b{font-size: .54rem; font-family: Akrobat;  }
.upPostPackagePop .directUpCon .validShow{height: .84rem; background: #FFFFFF; border: 1px solid #DFE1E6; border-radius: .1rem; display: flex; align-items: center; justify-content: space-between; margin-top: .3rem; padding:0 .16rem 0 .24rem;}
.upPostPackagePop .directUpCon .validShow input{border: none; background: none; font-size: .28rem; color: #333; text-align: right; width: 100%;}
.upPostPackagePop .directUpCon .validShow input::placeholder{color: #B3B3B3;}
.upPostPackagePop .directUpCon .validShow .inp{display: flex; align-items: center; justify-content: flex-end;}
.upPostPackagePop .directUpCon .validShow .inp::after{content: ''; display: block; width: .24rem; height: .24rem; background: url(../images/arr_1.png) no-repeat center/cover; }
.upPostPackagePop .directUpCon .validShow label{color: #666; font-size: .28rem; flex-shrink: 0;}
.upPostPackagePop .directUpCon .btn_submit{display: block; height: .88rem; background: linear-gradient(-90deg, #266EFF 0%, #3381FF 100%); border-radius: .44rem; color: #fff; text-align: center; line-height: .88rem; font-size: .3rem; font-weight: bold; margin: 0 .4rem;}
.upPostPackagePop .directUpCon .btn_submit.disabled{opacity: .3;}
.upPostPackagePop .directUpCon .bottomBtns{position: absolute; left: 0; right: 0; bottom: 0; padding-bottom: .2rem;}

.upPostPackagePop .packageCon{ background: #F7F9FC; height: 7.7rem;}
.upPostPackagePop .packageCon>p{padding: 0 .48rem; margin-top: 0; line-height: .9rem;  background: linear-gradient(0deg, #F7F9FC 0%, #FFFFFF 100%);}
.upPostPackagePop .popCon .itemWrap{padding-left: .38rem;}
.upPostPackagePop .popCon .itemWrap li{width: 2.12rem; height: 2.3rem; box-sizing: border-box; border: solid .03rem #fff; border-radius: .14rem; background-color: #fff; text-align: center; position: relative; padding-top: .36rem; float: left; margin-right: .22rem; margin-bottom: .2rem;}
.upPostPackagePop .popCon .itemWrap li>p{color: #666; font-size: .3rem;}
.upPostPackagePop .popCon .itemWrap li .price h5{font-size: .24rem; color: #333;}
.upPostPackagePop .popCon .itemWrap li .price h5 b{font-size: .54rem; font-family:Akrobat;}
.upPostPackagePop .popCon .itemWrap li .price p{color: #ACACAC; font-size: .2rem; text-align: center; text-decoration: line-through;}
.upPostPackagePop .popCon .itemWrap li .save{position: absolute; left: -.03rem; right: -.03rem; bottom: -.03rem; line-height: .34rem; background-color: #DEF0FF; border-radius: 0px 0px .14rem .12rem; font-size: .22rem; color: #4686EB;}
.upPostPackagePop .popCon .itemWrap li.on_chose .save{ background: linear-gradient(90deg, #458CFF 0%, #0565FF 100%);  color: #fff;}
.upPostPackagePop .popCon .itemWrap li.on_chose{ background: linear-gradient(-44deg, #DEEBFF 0%, #F2F9FF 100%); border-color: #99C2FF;}
.upPostPackagePop .popFooter{position: absolute; left: 0; right: 0; bottom: .2rem;}
.upPostPackagePop .popFooter .btn{display: flex; align-items: center; justify-content: center; margin:  0 .4rem; height: .88rem; background: linear-gradient(90deg, #CCE7FF 0%, #BFD8FF 100%); border-radius: .44rem; color: #145BCC; font-size: .32rem; font-weight: bold;}
.upPostPackagePop .popFooter .pay_amount{color: #7B7B7B; font-size: .24rem; padding: 0 .4rem; margin-bottom: .2rem;}
.upPostPackagePop .popFooter .pay_amount span{color: #FF5039; font-size: .24rem;}
.upPostPackagePop .popFooter .pay_amount span b{font-size: .44rem; font-family: Akrobat;}

/* 不置顶 */
.noTopPop .popCon {padding-top: .28rem;}
.noTopPop .popCon ul{display: grid; grid-template-columns: repeat(3,1fr); margin: 0 .32rem; row-gap: .18rem; column-gap: .18rem;}
.noTopPop .popCon ul li{width: 2.16rem; height: .68rem; border-radius: .1rem; font-size: .28rem; color: #4A4B4D; background-color: #F7F7F7; line-height: .68rem; text-align: center;}

.noTopPop .popCon ul li.on_chose{ background-color: #F0F5FF; color: #256CFA;}


#fastNav{display: none;}
/* 磨砂玻璃效果 */
@supports (-webkit-backdrop-filter:none) or (backdrop-filter:none) {
    .listBox.loadPage::before{-webkit-backdrop-filter: blur(.06rem); backdrop-filter: blur(.06rem);}
}

.hideSearch{flex-shrink: 0; display: block; white-space: nowrap;     padding: 0 0.2rem 0 0; color: #666; font-size: .28rem;}

.popupRightBottom{z-index: 10;}

html.huoniao_iOS .header{display: flex !important; opacity: 1 !important;}
html.huoniao_iOS:not(.wx_miniprogram):not(.byte_miniprogram):not(.baidu_miniprogram):not(.qq_miniprogram) .fixedTop{padding-top: 0rem;}
html.huoniao_iOS:not(.wx_miniprogram):not(.byte_miniprogram):not(.baidu_miniprogram):not(.qq_miniprogram) .listBox {padding-top: 1.9rem;}
html.huoniao_iOS:not(.wx_miniprogram):not(.byte_miniprogram):not(.baidu_miniprogram):not(.qq_miniprogram) .header.alignLeft{justify-content: flex-end;}
html.huoniao_iOS:not(.wx_miniprogram):not(.byte_miniprogram):not(.baidu_miniprogram):not(.qq_miniprogram) .header-l{display: none;}
html.huoniao_iOS:not(.wx_miniprogram):not(.byte_miniprogram):not(.baidu_miniprogram):not(.qq_miniprogram) .header-address{display: none;}
html.huoniao_Android:not(.wx_miniprogram):not(.byte_miniprogram):not(.baidu_miniprogram):not(.qq_miniprogram) .header-l{display: block;}
html.huoniao_Android:not(.wx_miniprogram):not(.byte_miniprogram):not(.baidu_miniprogram):not(.qq_miniprogram) .header-address{display: block;}
html.huoniao_Android:not(.wx_miniprogram):not(.byte_miniprogram):not(.baidu_miniprogram):not(.qq_miniprogram) .header.alignLeft{justify-content: space-between;}
html.huoniao_Android:not(.wx_miniprogram):not(.byte_miniprogram):not(.baidu_miniprogram):not(.qq_miniprogram) .listBox {padding-top: 2.4rem;}
html.huoniao_Android:not(.wx_miniprogram):not(.byte_miniprogram):not(.baidu_miniprogram):not(.qq_miniprogram) .fixedTop{padding-top: .5rem;}
.pubdelAlert h2.delTile::before{content: ''; display: inline-block; width: .48rem; height: .48rem; background: url(../images/tip_icon1.png) no-repeat center/cover; margin-right: .1rem; vertical-align: middle; margin-bottom: .04rem;}

.wx_miniprogram .goBack,.byte_miniprogram .goBack,.baidu_miniprogram .goBack,.qq_miniprogram .goBack{display: none;}
.wx_miniprogram .searchBox,.byte_miniprogram .searchBox,.baidu_miniprogram .searchBox,.qq_miniprogram .searchBox{margin-left: .3rem;}