.mask_package{position: fixed; left: 0; right: 0; top: 0; bottom: 0; z-index: 12; background: rgba(0,0,0,.6);}
.packageBoxPop.showPop{transform: translateY(0);}
.packageBoxPop{height: 8.7rem; border-radius: .5rem .5rem 0 0; position: fixed; left: 0; right: 0; bottom: 0; background: #F9F7F5; box-shadow: 0px .1rem .4rem 0px rgba(0,0,0,0.08); z-index: 12; transform: translateY(150%); transition: transform .3s;}
.packageBoxPop.bluePop .bg_package{background: url(../images/blue_bg.png) no-repeat center top/100% auto;}
.packageBoxPop .bg_package{height: 2rem; background: linear-gradient(0deg, rgba(255,238,212,0) 0%, rgba(255,238,212,1) 100%); border-radius: .5rem .5rem 0px 0px; pointer-events: none; position: absolute; left: 0; right: 0; top: 0; }
.packageBoxPop .packageBox{position: relative ; z-index: 1; height: 100%;}
.packageBoxPop .packageBox .popHeader h4{height: 1.12rem; font-size: .36rem; color: #603213; font-weight: bold; padding: 0 .34rem; line-height: 1.12rem;}
.packageBoxPop.bluePop .packageBox .popHeader h4{color: #131626;}
.packageBoxPop .packageBox .popHeader span{color: rgba(96, 50, 19, .5); font-weight: normal; font-size: .24rem; margin-left: .12rem;}
.packageBoxPop.bluePop .packageBox .popHeader span{color: rgba(89, 98, 128, .5);}
.packageBoxPop .packageBox .popCon .itemWrap{padding-left: .38rem;}
.packageBoxPop .packageBox .popCon .itemWrap li{width: 2.12rem; height: 2.3rem; box-sizing: border-box; border: solid .03rem #fff; border-radius: .14rem; background-color: #fff; text-align: center; position: relative; padding-top: .36rem; float: left; margin-right: .22rem; margin-bottom: .2rem;}
.packageBoxPop .packageBox .popCon .itemWrap li>p{color: #666; font-size: .3rem;}
.packageBoxPop .packageBox .popCon .itemWrap li .price h5{font-size: .24rem; color: #7C4911;}
.packageBoxPop.bluePop .packageBox .popCon .itemWrap li .price h5{color:#333;}
.packageBoxPop .packageBox .popCon .itemWrap li .price h5 b{font-size: .54rem; font-family:Akrobat;}
.packageBoxPop .packageBox .popCon .itemWrap li .price p{color: #ACACAC; font-size: .2rem; text-align: center; text-decoration: line-through;}
.packageBoxPop .packageBox .popCon .itemWrap li .save{position: absolute; left: -.03rem; right: -.03rem; bottom: -.03rem; line-height: .34rem; background-color: #FFEFDA; border-radius: 0px 0px .14rem .12rem; font-size: .22rem; color: #D4934A;}
.packageBoxPop.bluePop  .packageBox .popCon .itemWrap li .save{background-color: #DEF0FF; color: #4686EB;}
.packageBoxPop.bluePop  .packageBox .popCon .itemWrap li.on_chose .save{ background: linear-gradient(90deg, #458CFF 0%, #0565FF 100%); color: #fff;}
.packageBoxPop .packageBox .popCon .itemWrap li.on_chose .save{background: linear-gradient(90deg, #444951 0%, #363A3D 100%);  color: #F5D192;}
.packageBoxPop .packageBox .popCon .itemWrap li.on_chose{ background: linear-gradient(-40deg, #FFF0D9 0%, #FFF9ED 100%); border-color: #F7D194;}
.packageBoxPop.bluePop  .packageBox .popCon .itemWrap li.on_chose{ background: linear-gradient(-44deg, #E0ECFF 0%, #F2F9FF 100%); border-color: #99C2FF;}
.packageBoxPop .packageBox .popFooter{position: absolute; left: 0; right: 0; bottom: .2rem;}
.packageBoxPop .packageBox .popFooter .btn{display: flex; align-items: center; justify-content: center; margin:  0 .4rem; height: .88rem; background: linear-gradient(90deg, #FFE7B9 0%, #FFD493 100%); border-radius: .44rem; color: #602611; font-size: .32rem; font-weight: bold;}
.packageBoxPop.bluePop .packageBox .popFooter .btn{ background: linear-gradient(90deg, #CCE7FF 0%, #BFD8FF 100%); color: #145BCC}
.packageBoxPop .packageBox .popFooter .pay_amount{color: #7B7B7B; font-size: .24rem; color: #7B7B7B; padding: 0 .4rem; margin-bottom: .2rem;}
.packageBoxPop .packageBox .popFooter .pay_amount span{color: #FF5039; font-size: .24rem;}
.packageBoxPop .packageBox .popFooter .pay_amount span b{font-size: .44rem; font-family: Akrobat;}

/* 开通套餐 */
.taocanBox{position: fixed; left: 0; right: 0; bottom: 0; top: 0; margin: auto; height: 7.4rem; width: 6.4rem; background: url(../images/vipBoxIcon.png) no-repeat center/cover; box-sizing: border-box; z-index: 12; display: none; animation: popup .3s;}
.taocanBox .pop_header{padding-top: .8rem; padding-left: .86rem;}
.taocanBox .pop_header p{color:rgba(255,255,255,.8); font-size: .22rem;}
.taocanBox .pop_header h4{font-weight: bold; color: #fff; font-size: .4rem;}
.taocanBox .pop_con{padding-left: 1.44rem; padding-top: .84rem;}
.taocanBox .pop_con li{display: flex; align-items: center; margin-bottom: .38rem;}
.taocanBox .pop_con li:nth-of-type(2)::before{background-image: url(../images/tc_icon2_1.png);}
.taocanBox .pop_con li:nth-of-type(3)::before{background-image: url(../images/tc_icon3_1.png);}
.taocanBox .pop_con li::before{content: ''; display: block; width: .76rem; height: .76rem; background: url(../images/tc_icon1_1.png) no-repeat center/cover; margin-right: .14rem;}
.taocanBox .pop_con li h5{font-size: .28rem; color: #2A2A2A; font-weight: bold;}
.taocanBox .pop_con li p{font-size: .22rem; color: #999;}
.taocanBox .pop_footer a{display: flex; align-items: center; justify-content: center; font-size: .3rem; color: #fff; font-weight: bold; background: linear-gradient(90deg, #F5CB87 0%, #D9A250 100%); box-shadow: 0px .06rem .16rem 0px rgba(255,195,94,0.4); height: .84rem; border-radius: .42rem; margin: 0 1rem;}
.taocanBox .close_btn{display: block; width: .64rem; height: .64rem; background: url(../images/close_btn.png) no-repeat center/cover; position: absolute; left: 0; right: 0; bottom: -.84rem; margin: auto;}

/* 续费套餐 */
.taocanKeepBox.showPop,.taocanBox.showPop{display: block;}
.taocanKeepBox{height: 6.9rem; width: 5.8rem; position: fixed; left: 0; right: 0; bottom: 0; top: 0; margin: auto; background:#fff url(../images/tcBg.png) no-repeat top center/100% auto ; box-sizing: border-box; z-index: 12; border-radius: .4rem; display: none; animation: popup .3s}
.taocanKeepBox .pop_header{padding:  0 .34rem; box-sizing: border-box; height: 1.45rem; display: flex;  justify-content: center; flex-direction: column;}
.taocanKeepBox .pop_header h4{font-size: .34rem; color: #fff; font-weight: bold;}
.taocanKeepBox .pop_header h4 b{font-size: .46rem; color: #FFE2BF;}
.taocanKeepBox .pop_header p{color: rgba(255,255,255,.8); font-size: .22rem;}
.taocanKeepBox .pop_con{padding-left: 1.06rem; padding-top: .6rem;}
.taocanKeepBox .pop_con li{display: flex; align-items: center; margin-bottom: .38rem;}
.taocanKeepBox .pop_con li:nth-of-type(2)::before{background-image: url(../images/tc_icon2.png);}
.taocanKeepBox .pop_con li:nth-of-type(3)::before{background-image: url(../images/tc_icon3.png);}
.taocanKeepBox .pop_con li::before{content: ''; display: block; width: .76rem; height: .76rem; background: url(../images/tc_icon1.png) no-repeat center/cover; margin-right: .14rem;}
.taocanKeepBox .pop_con li h5{font-size: .28rem; color: #2A2A2A; font-weight: bold;}
.taocanKeepBox .pop_con li p{font-size: .22rem; color: #999;}
.taocanKeepBox .pop_footer a{display: flex; align-items: center; justify-content: center; font-size: .3rem; color: #fff; font-weight: bold;
    background: linear-gradient(-90deg, #266EFF 0%, #3381FF 100%); height: .84rem; border-radius: .42rem; margin: 0 .7rem;}
.taocanKeepBox .close_btn{display: block; width: .64rem; height: .64rem; background: url(../images/close_btn.png) no-repeat center/cover; position: absolute; left: 0; right: 0; bottom: -.84rem; margin: auto;}


/* 分享弹窗 */
.share_mask{position: fixed; left: 0; right: 0; top: 0; bottom: 0; background: rgba(0, 0, 0, .5); z-index: 10;}
.sharePopBox{position: fixed; left: 0; right: 0; bottom: 0; background-color: #fff; min-height: 6.7rem; border-radius: .5rem .5rem 0 0; z-index: 10; transform: translateY(120%); transition: transform .3s;}
.sharePopBox.showPop{transform: translateY(0);}
.sharePopBox .pop_header{font-size: .28rem; font-weight: bold; line-height: .88rem; text-align: center; font-weight: bold;}
.sharePopBox .pop_con .share_btns{margin:  0 .3rem; padding-bottom: .5rem; padding-top: .1rem; border-bottom: solid 1px #f5f5f7;}
.sharePopBox .pop_con .share_btns:last-of-type{border: none;}
.sharePopBox .pop_con ul{display: flex; margin: 0 .1rem;}
.sharePopBox .pop_con ul li{margin-right: .4rem; padding-bottom: .5rfem;}
.sharePopBox .pop_con ul li .icon{width: .96rem; height: .96rem; display: flex; align-items: center; justify-content: center;}
.sharePopBox .pop_con ul li .icon img{display: block; width: .64rem; height: .64rem; object-fit: cover;}
.sharePopBox .pop_con ul li p{font-size: .24rem; color: #212121; text-align: center; margin-top: .18rem;}


/* */
.qrCodePopBox,.posterPopBox,.posterShowJobsConBox{position: fixed; left: 0; right: 0; bottom: 0; background-color: #fff; min-height: 5.8rem; border-radius: .5rem .5rem 0 0; z-index: 10;  transform: translateY(120%); transition: transform .3s; }
.qrCodePopBox .pop_con .qrBox{display: flex; align-items: center; padding-top: .8rem; justify-content: center;}
.qrCodePopBox .pop_con .qrBox img{display: block; width: 2.6rem; height: 2.6rem; background: #f5f5f5;}
.qrCodePopBox .pop_con p{color: #666; font-size: .26rem; text-align: center; margin-top: .26rem; }
.qrCodePopBox .pop_footer .cancel_share{background: #777; opacity: 0.3; border-radius: 42px; display: flex; align-items: center; justify-content: center; margin: 0 .3rem; font-size: .3rem; color: #fff; border-radius: .42rem; height: .84rem;}

.qrCodePopBox .pop_footer{position: absolute; bottom: 0; left: 0; right: 0; padding-bottom: .3rem;}
.qrCodePopBox.showPop,.posterPopBox.showPop,.posterShowJobsConBox.showPop{transform: translateY(0);}

.posterPopBox{ padding-bottom: .3rem;}
.posterPopBox::before{content: ''; display: block; position: absolute; left: 0; right: 0; top: 0; height: 4rem; background: linear-gradient(0deg, #FFFFFF 0%, #D7F3FE 100%); border-radius: .4rem .4rem 0 0;}
.posterPopBox::after{content: ''; display: block; width:4rem ; height: 3rem; background: url(../images/bg_poster.png) no-repeat center/cover; position: absolute; top: 0; right: 0;}
.posterPopBox .popConBox{position: relative; z-index: 1; height: 100%;}
.posterPopBox .popConBox .btn_close{display: block; width: .4rem; height: .4rem; background: url(../images/close_btn2.png) no-repeat center/cover; position: absolute; right: .3rem; top: .3rem;}
.posterPopBox .popConBox .popHead{padding: .52rem .38rem 0;}
.posterPopBox .popConBox .popHead h4{font-size: .38rem; font-weight: bold;}
.posterPopBox .popConBox .popHead p{font-size: .26rem; color: #212121; margin-top: .12rem; line-height: .38rem;}
.posterPopBox .popConBox .posterShowJobsBox{height: .8rem; border-radius: .1rem; border: solid 1px #ccc; margin: 0 .4rem; display: flex; align-items: center; justify-content: space-between; padding-left: .2rem; padding-right: .12rem; margin-top: .4rem;}
.posterPopBox .popConBox .posterShowJobsBox .btn_change{color: #666; font-size: .28rem; display: flex; align-items: center; justify-content: space-between;} 
.posterPopBox .popConBox .posterShowJobsBox .btn_change::after{content: ''; display: block; width: .2rem; height: .2rem; background: url(../images/arr_grey.png) no-repeat center/cover;}
.posterPopBox .popConBox .posterShowJobsBox .jobChosed{color: #212121; font-size: .28rem; max-width: 70%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.posterModelBox h4 { font-size: .34rem; color: #000; font-weight: 700; padding: 0 0.4rem; }
.posterModelBox {margin-top: .5rem;}
.posterModelBox h4{font-size: .34rem; color: #000; font-weight: bold; padding: 0 .4rem;}
.posterModelBox  .model_ul{margin-top: .22rem; padding: 0 .4rem;}
.posterModelBox .model_li{width: 3.2rem; height: 6.1rem; background-color: #fff; border-radius: .1rem; position: relative;  padding: .04rem; margin-right: .2rem; box-sizing: border-box;}
.posterModelBox .model_li .posterImg{height: 100%;width: 100%; border-radius: .08rem; background-color: #f5f5f5;}
.posterModelBox .model_li .posterImg img{display: block; width: 100%; height: 100%; object-fit: cover;  border-radius: .08rem;}
.posterModelBox .model_li .choseBox{width: 3.2rem; height: 1.6rem; background: linear-gradient(0deg, #00000000 0%,#00000058 50%,#00000058 60%,#00000000 100%);  border-radius:0 0 .1rem .1rem; position: absolute; left: 0; right: 0; bottom: 0; display: flex; align-items: center; justify-content: center;}
.posterModelBox .model_li .choseBox button{width: 2.4rem; height: .7rem; background: linear-gradient(-90deg, #266EFF 0%, #3381FF 100%); border-radius: .16rem; border: none; font-size: .28rem; color: #fff; font-weight:bold; display: flex; align-items: center; justify-content:center;}
.posterPopBox .btnBox{margin-top: .58rem !important;}

.postShowMask{position: fixed; left: 0; right: 0; top: 0; bottom: 0; background: rgba(0, 0, 0, .8); z-index: 10; display: flex; align-items: center; justify-content: center;}
.postShowPop{position: fixed; left: .85rem; right: .85rem; bottom: 0; top: 0; margin: auto; display: flex; align-items: center; justify-content: center; flex-direction: column; z-index: 201; animation:popup .3s;}
.postShowPop .postShow{max-height: 8.7rem; width:100%; min-height: 6rem; border-radius: .4rem; overflow-y: auto; overflow-x: hidden;}
.postShowPop .postShow img{    display: block; border: none; transform: scale(1.005); width: 100%;}
.postShowPop .posterText{margin-top: .2rem;}
.postShowPop .posterText .close_btn{display: block; width: 0.5rem; height: 0.5rem; background: url(../images/close_btn.png) center center no-repeat; background-size: 0.5rem; right: auto; top: auto; margin: 0 auto 0.4rem;}
.postShowPop  .posterText p{font-size:.24rem; color: #fff; text-align: center;}
.postShowMask .postLoading{font-size: .26rem; color: #fff; text-align: center;}
.postShowMask .postLoading s{display: block; margin: auto; width: .8rem; height: .8rem; background: url(/static/images/load.png) no-repeat center/cover; animation: rotate_ 1s infinite linear; margin-bottom: .1rem;}


.posterShowJobsConBox {height: 80vh;}
.posterShowJobsConBox .btn_close{display: block; width: .4rem; height: .4rem; background: url(../images/close_btn1.png) no-repeat center/cover; position: absolute; right: .3rem; top: .3rem;}

.posterShowJobsConBox .popHead{padding: .52rem .38rem 0;}
.posterShowJobsConBox .popHead h1{font-size: .38rem; font-weight: bold;}
.posterShowJobsConBox .popHead p{font-size: .26rem; color: #949599; margin-top: .12rem; line-height: .38rem;}
.posterShowJobsConBox .popCon{height: calc(100% - 3.7rem); margin-top: .5rem; overflow-y: auto; margin-bottom: .2rem;}
.posterShowJobsConBox .popCon li{display: flex; align-items: center; justify-content: space-between ; margin: 0 .4rem; font-size: .3rem; color: #333; height: 1rem;}
.posterShowJobsConBox .popCon li .leftCon{max-width: 80%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.posterShowJobsConBox .popCon li .chose_btn{display: block; width: .4rem; height: .4rem; background: url(../images/chosePost_icon.png) no-repeat center/cover;}
.posterShowJobsConBox .popCon li.on_chose .chose_btn{background-image: url(../images/chosedPost_icon.png);}
.posterShowJobsConBox .btnBox,.posterPopBox .btnBox{margin: 0 .4rem;}
.posterShowJobsConBox .btn_chose,.posterPopBox .btnBox button.btn_poster{height: .84rem; background: linear-gradient(-90deg, #266EFF 0%, #3381FF 100%); border-radius: .42rem; border: none; color: #fff; font-weight: bold; font-size: .3rem; width: 100%;}

.posterModelBox .swiper-container{padding-right: .5rem;}
.tencentShare{display: block; width: 5.38rem; height: 2.68rem; position: fixed; top: 0; right: 0; z-index: 10;}
.tencentShare img{width: 100%; height: 100%; object-fit: cover;}
.html2canvas_fixed{background: none !important;}