body{background: #f7f9fc; min-height: 100vh; box-sizing: border-box; }
.header.greyHeader{background-color: #f7f9fc !important;}
.pageBox dl{margin-top: .33rem; padding-bottom: 1px;}
.pageBox dt{font-size: .34rem; color: #000; font-weight: bold; display: flex; align-items: center;margin-bottom: .27rem; padding:0 .32rem;}
.pageBox dt span{font-weight: normal; font-size: .24rem; color: #527ACC; margin-left: .18rem;}
.pageBox dt::before{content: ''; display: block; width: .4rem; height: .4rem; background: url(../images/email_icon.png) no-repeat center/cover; margin-right: .1rem;}
.pageBox dt.msg::before{background-image: url(../images/msg.png);}
.pageBox dt.limit::before{background-image: url(../images/limit.png);}
.pageBox dt.filter::before{background-image: url(../images/filter.png);}
.pageBox dd{padding: 0 .26rem; border-radius: .2rem; background-color: #fff; margin: 0 .18rem .2rem;}
.pageBox dd .form_item{min-height: 1rem; display: flex; align-items: center; justify-content: space-between; border-bottom:1px solid #f5f5f7;}
.pageBox dd .form_item:last-of-type{border: none;}
.pageBox dd .form_item input{height: 1.2rem; border: none; background: none; color: #212121; font-size: .32rem;}
.pageBox dd .form_item input::placeholder{color: rgba(33,33,33,.3);}
.pageBox dd .form_item.sm_height p{color: #666; font-size: .28rem;}
.pageBox dd .form_item.sm_height::after{content: ''; display: block; width: .2rem; height: .2rem; background: url(../images/arr_1.png) no-repeat center/cover;}
.pageBox dd .form_item.switchBox{height: 1.5rem;}
.pageBox dd .form_item.switchBox h4{font-size: .3rem; color: #000;}
.pageBox dd .form_item.switchBox p{font-size: .24rem; color: #A6A6A6; margin-top: .1rem;}
.pageBox dd .form_item a.switch{width: .8rem; height: .46rem; background: #E6E6E6; border-radius: .23rem; position: relative;}
.pageBox dd .form_item a.switch::before{content: ''; display: block; width: .38rem; height: .38rem; background: #FFFFFF; box-shadow: 0px .03rem .03rem 0px rgba(123,123,123,0.23); border-radius: 50%; position: absolute;left: .04rem; top: 0; bottom: 0; margin: auto; transition: left .3s;}
.pageBox dd .form_item a.switch.on::before{left: .38rem;}
.pageBox dd .form_item a.switch.on{ background: linear-gradient(-90deg, #266EFF 0%, #3381FF 100%);}
.savedata{display: flex; align-items: center; justify-content: center; height: .88rem; border-radius: .44rem; margin: 0 .45rem; background: linear-gradient(-90deg, #266EFF 0%, #3381FF 100%); color: #fff; font-size: .3rem;}
.bottomBox {position: fixed; left: 0; right: 0; bottom: 0; padding: .3rem 0; background-color: #f7f9fc;}

.pageBox dd .form_item label{font-size: .3rem; color: #808080; flex-shrink: 0;}
.pageBox dd .form_item .flexRight input{text-align: right;}
.pageBox dd .form_item .flexRight input::placeholder{color: rgba(33,33,33,.3);}
.pageBox dd .form_item .flexRight span.check{font-size: .3rem; color: #212121; display: inline-flex; align-items: center; margin-left: .54rem;}
.pageBox dd .form_item .flexRight span.check::before{content: ''; display: flex; width: .36rem; height: .36rem; background: url(../images/gou_filter1.png) no-repeat center/cover; margin-right: .06rem; transform: translateY(.04rem);}
.pageBox dd .form_item .flexRight span.check.on_chose::before{background-image: url(../images/gou_filter.png) ;}
.pageBox dd .form_item .flexRight{display: flex; align-items: center;}
.pageBox dd .form_item.flex_item .flexRight::after{content: ''; display: block; width: .2rem; height: .2rem; background: url(../images/arr_1.png) no-repeat center/cover; flex-shrink: 0; margin-left: .1rem;}
.pageBox dd .form_item .flexRight .age{width: 1.3rem;}
.pageBox dd .form_item .flexRight .ge{margin: 0 .1rem; color: #808080; }

.myConfirmPop .pubdelAlert{width: 5.6rem; max-width: fit-content;}
.myConfirmPop .pubdelAlertCon{width: 5.6rem;}
.myConfirmPop .pubdelAlertCon p{margin-top: .12rem; color:#666;} 

.mask_pop{position: fixed; left: 0; right: 0; top: 0; bottom: 0; background-color: rgba(0,0,0,.5);}
.popBox{position: fixed; left: 0; right: 0; bottom: 0; min-height: 5.7rem; background-color: #fff; border-radius: .4rem .4rem 0 0; transform: translateY(100%) ; transition: transform .3s; box-sizing: border-box; padding-bottom: .3rem;}
.popBox.showPop{transform: translateY(0);}
.popBox .pop_header{display: flex; align-items: center; justify-content: space-between; padding: 0 .35rem; height: 1rem;}
.popBox .pop_header h4{font-size: .28rem; color: #333;}
.popBox .pop_header a{display: block; font-size: .28rem; color: #999; padding: 0 .12rem; font-weight: normal;}
.popBox .pop_header a.btn_sure{color: #256CFA;}

.salaryPop .pop_con .options{padding-top: .2rem;}
.salaryPop .pop_con .options li{margin: 0 .3rem .3rem; height: 1rem; background-color: #FAFAFA; border-radius: .2rem; font-size: .3rem; color: #666; padding: 0 .28rem 0 .4rem; display: flex; align-items: center; justify-content: space-between; border:solid 1px #FAFAFA;}
.popupRightBottom{display: none;}
.salaryPop .pop_con .options li.on_chose{ background: #F5F9FF; color: #000; font-weight: bold;}
.salaryPop .pop_con .options li.on_chose.select::after{content: ''; display: block; width: .24rem; height: .24rem; background: url(../images/gou_5.png) no-repeat center/cover;}
.salaryPop .pop_con .options li .flexRight{display: flex; align-items: center;}
.salaryPop .pop_con .options li .flexRight input{border: none;  background: none; padding: 0 .04rem;}
.salaryPop .pop_con .options li label,.salaryPop .pop_con .options li span{flex-shrink: 0;}
.salaryPop .pop_con .options li.inputBox{background: none; border:solid 1px #E3E3E3;}
.salaryPop .pop_con .options li.inputBox.on_chose{border-color: #7FB2FF; background-color: #F5F9FF;}
.salaryPop .pop_con .options li.inputBox.on_chose span{font-weight: normal;}
.salaryPop .pop_con .options li.inputBox.on_chose input{color: #256CFA; font-weight: bold; font-size: .3rem; line-height: .4rem; height: .4rem; transform: translateY(-.04rem);}
.salaryPop .pop_con .options li.inputBox input{width: 2rem; text-align: right;}
.salaryPop .pop_con .options li span{color: rgba(0,0,0,.5); transform: translateY(-.04rem);}
/* .salaryPop .pop_con .options li.inputBox:focus{border-color: #f00;} */

.salaryPop .pop_con .options.completeOptions li{height: 1.24rem;}
.salaryPop .pop_con .options.completeOptions li.normalHeight{height: 1rem;}
.salaryPop .pop_con .options.completeOptions h4{font-size: .3rem; color: rgba(0,0,0,.5); font-weight: bold;}
.salaryPop .pop_con .options.completeOptions p{color: rgba(97, 98, 102, .5); font-size: .24rem; margin-top: .06rem; font-weight: normal;}
.salaryPop .pop_con .options.completeOptions li.on_chose p{color: #616266;}
.salaryPop .pop_con .options.completeOptions li.on_chose h4{color: #000;}

.salaryPop .pop_con .scrollTip{margin: .1rem .4rem .3rem; height: .6rem; border-radius: .3rem; color: #527ACC; text-align: center; font-size: .24rem; line-height: .6rem; background-color: #F7F9FC;}