<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$job_title#}</title>
<meta name="keywords" content="招聘会,招聘网,招聘信息,互联网招聘" />
<meta name="description" content="招聘会,招聘网,求职网,互联网招聘,{#$cfg_shortname#}招聘是互联网领域垂直招聘网站,互联网职业机会尽在{#$cfg_shortname#}招聘" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/index.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/ui/swiper.min_4.2.2.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$job_channelDomain#}', staticPath = '{#$cfg_staticPath#}',member_userDomain='{#$member_userDomain#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#};
	var addr = {#$addr|string_format:"%d"#};
    var job_cid='{#$job_cid#}';
</script>
</head>
<body style="background-color: #F7F9FC;">
{#include file="top.html"#}
    <!-- 导航栏 -->
    <div class="navBar">
        <div class="n-shell">
            <div class="n-address">
                <img src="{#$templets_skin#}images/landmarkW.png" class="na-mark">
                <span class="siteCityInfo name">{#$siteCityInfo['name']#}</span>
                <span class="changeCityBtn name">
                    [<a href="javascript:;" style="color: white;font-size: 12px;">切换</a>]      {#* 切换城市 *#}
                    <div class="changeCityList">
                        <p class="setwidth"></p>
                        <div class="boxpd">
                            <div class="sj"><i></i></div>
                            <div class="box">
                                <div class="content fn-clear">
                                    <p class="tit">{#$langData['siteConfig'][37][3]#}：</p>      {#* 请选择您所在的城市 *#}
                                    <ul></ul>
                                  </div>
                          <div class="morecontent fn-hide">
                                    <dl class="hot">
                                        <dt>{#$langData['siteConfig'][37][79]#}</dt>      {#* 热门 *#}
                                        <dd></dd>
                                    </dl>
                                    <div class="more">
                                        <dl class="pytit">
                                            <dt>{#$langData['siteConfig'][19][892]#}</dt>      {#* 城市 *#}
                                            <dd></dd>
                                        </dl>
                                        <div class="list"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
            <ul class="ns-items">
                <li><a href="{#$job_channelDomain#}">首页</a></li>
                <li><a href="{#getUrlPath service='job' template='job-list'#}">全职</a></li>
                <li><a href="{#getUrlPath service='job' template='general'#}">{#$job_pgCustomName#}</a></li>
                <li><a href="{#getUrlPath service='job' template='partjob'#}">兼职</a></li>
                <li><a href="{#getUrlPath service='job' template='school'#}">校招实习</a></li>
                <li><a href="{#getUrlPath service='job' template='talent'#}">人才库</a></li>
                <li><a href="{#getUrlPath service='job' template='zhaopinhui'#}">招聘会</a></li>
                <li><a href="{#getUrlPath service='job' template='company-list'#}">招聘企业</a></li>
                <li><a href="{#getUrlPath service='job' template='news'#}">职场资讯</a></li>
            </ul>
            <a class="ns-label" href="{#$cfg_basehost#}/login.html" target="_blank">企业版</a>
        </div>
    </div>
    <!-- 头部搜索 -->
    <div style="background: linear-gradient(to bottom, #E3F0FF 0%, #F7F9FC 100%);padding-bottom:200px">
        <div class="topSearch">
            <img src="{#$job_logoUrl#}" class="logo">
            <!-- 搜索框 -->
            <form class="t-search" action="{#getUrlPath service='job' template='job-list'#}">
                <div><input type="text" placeholder="搜索职位、公司" name="keyword"></div>
                <span><img src="{#$templets_skin#}images/searchBlu.png"></span>
            </form>
            <!-- 扫码下载 -->
            <div class="t-scan">
                <div class="ts-left">
                    <p class="scan">{#if $cfg_app_ios_download || $cfg_app_android_download#}扫码下载app{#else#}扫码访问移动端{#/if#}</p>
                    <p class="text">随时随地找工作，招人才</p>
                </div>
                <div class="ts-right">
                    <img src="/include/qrcode.php?data={#if $cfg_app_ios_download || $cfg_app_android_download#}{#$cfg_basehost#}/mobile.html{#else#}{#$job_channelDomain#}{#/if#}" onerror="this.src='/static/images/404.jpg'">
                </div>
            </div>
        </div>
    </div>
    <div class="Shell">
        <!-- 导航用户信息板 -->
        <div class="detPlate">
            <!-- tab列表 -->
            <ul class="d-left">
                {#job service="job" action="type" son="1" return="jobtype" page=1 pageSize=9#}
                {#if $jobtype.lower#}
                <li>
                    <span>{#$jobtype.title#}</span>
                    <div class="dl-con">
                        {#foreach from=$jobtype.lower item=item#}
                        <div class="dlc-item">
                            <p>{#$item.title#}</p>
                            {#if $item.lower#}
                            <div>
                                {#foreach from=$item.lower item=kid#}
                                <a href="{#getUrlPath service='job' template='job-list'#}?type={#$kid.id#}">{#$kid.title#}</a>
                                {#/foreach#}
                            </div>
                            {#/if#}
                        </div>
                        {#/foreach#}
                    </div>
                </li>
                {#/if#}
                {#/job#}
                <li>
                    <a href="{#getUrlPath service='job' template='job-list'#}" style="color: white !important;">全部职位</a>
                </li>
            </ul>
            <!-- 显示内容 -->
            <div class="d-center">
                <!-- swiper-slide -->
                <div class="swiper-wrapper swiper-no-swiping">
                    {#{#myad title="招聘求职_模板八_电脑端_广告一" type="slide"#}|replace: "slideshow-item":"swiper-slide"#}  
                </div>
                <div class="dc-next"></div> 
                <div class="dc-prev"></div>
                <div class="dc-pagination"></div>
            </div>
            <!-- 用户信息 -->
            <div class="d-right">
                <!-- 未登录 -->
                <div class="dr-user">
                    <a class="dru-photo" href="{#$cfg_basehost#}/login.html">
                        <img src="/static/images/noPhoto_100.jpg">
                        <p>Hi，下午好~</p>
                        <span>立即登录，发现更多好职位</span>
                    </a>
                    <!-- 按钮 -->
                    <div class="dru-btn" >
                        <a href="{#$job_channelDomain#}/job-list.html" class="jobs" data-state="0">我要找工作</a>
                        <a href="{#$job_channelDomain#}/talent.html" class="hire" data-state="1">我要招人</a>
                    </div>
                </div>
                <!-- 登录无简历 -->
                <div class="dr-user noResume" style="display: none;">
                    <div class="dru-photo">
                        <!-- 此处内容在js的str1 -->
                    </div>
                    <!-- 按钮 -->
                    <div class="dru-btn" >
                        <a href="{#$job_channelDomain#}/job-list.html" class="jobs" data-state="0">我要找工作</a>
                        <a href="{#$job_channelDomain#}/talent.html" class="hire" data-state="1">我要招人</a>
                    </div>
                </div>
                <!-- 登录有简历 -->
                <div class="dr-usered" style="display: none;">
                    <!-- 头像昵称信息 -->
                    <a class="dru-base" href="{#$cfg_basehost#}/u" target="_blank">
                        <!-- 此处内容在js的str2 -->
                    </a>
                    <!-- 简历投递信息 -->
                    <ul class="dru-resume">
                       <li>
                           <a href="{#$member_userDomain#}/job-resume.html" target="_blank">
                               <img src="{#$templets_skin#}images/files.png">
                               <p>我的简历</p>
                           </a>
                       </li> 
                       <li>
                           <a href="{#$member_userDomain#}/job-delivery.html" target="_blank">
                               <span>{#$deliveryCount|default:"0"#}</span>
                               <p>职位投递记录</p>
                           </a>
                       </li> 
                       <li>
                           <a href="{#$member_userDomain#}/job-invitation.html" target="_blank">
                               <span>{#$interviewCount|default:"0"#}</span>
                               <p>面试日程</p>
                           </a>
                       </li> 
                       <li>
                           <a href="{#$member_userDomain#}/job-collections.html" target="_blank">
                               <span>{#$collectCount|default:"0"#}</span>
                               <p>我的收藏</p>
                           </a>
                       </li> 
                    </ul>
                </div>
                <!-- 资讯 -->
                <div class="dr-news" style="{#if !$hasResume#}border-top: 1px solid #EDEDED{#/if#}">
                    <div class="drn-title" style="{#if $hasResume#}margin: 8px 0px 13px;{#/if#}">最新资讯</div>
                    {#job service="job" action="fairs" return="zplist" pageSize=2#}
                    <a class="drn-item" href="{#$zplist.url#}" target="_blank">
                        <p style="-webkit-line-clamp: 2;"><span>[{#if $zplist.type==1#}现场招聘会{#else#}网络招聘会{#/if#}]</span>{#$zplist.title#}</p>
                        <div><span>面向人群：</span>{#$zplist.obj#}</div>
                    </a>
                    {#/job#}
                    {#job service="job" action="news" return="newsdatas" page=1 pageSize=2#}
                    <a class="drn-item" href="{#$newsdatas.url#}" target="_blank" {#if (2<=$pageInfo.totalCount)||(1<=$pageInfo.totalCount&&$_bIndex.newsdatas!=1)#}style="display: none;"{#/if#}>
                        <p style="-webkit-line-clamp: 2;"><span>[{#$newsdatas.typename#}]</span>{#$newsdatas.title#}</p>
                        <div>{#$newsdatas.body#}</div>
                    </a>
                    {#/job#}  
                </div>
            </div>
        </div>
        <!-- 广告位1 -->
        <div class="advPlace">
            <ul class="a-title">{#myad title="招聘求职_模板八_电脑端_广告二"#}</ul>
            <ul class="a-text">{#myad title="招聘求职_模板八_电脑端_广告三"#}</ul>
            <ul class="a-con">{#myad title="招聘求职_模板八_电脑端_广告四"#}</ul>
        </div>
        <!-- 热招企业 -->
        <div class="hotCompany">
            {#job service="job" action="companyList" page="1" pageSize="3" return="hot" pcount="2" famous="1"#}
            {#if count($hot.jobs)>=2#}
            <div class="h-item">
                <!-- 公司名称 -->
                <a class="hi-company"  href="{#$hot.url#}" target="_blank">
                    <div class="hic-left">
                        <img src="{#$hot.logo_url#}" onerror="this.src='/static/images/404.jpg'">
                    </div>
                    <div class="hic-right">
                        <div>{#$hot.title#}</div>
                        <p>{#$hot.scale#}<span></span>{#$hot.industry[0]#}</p>
                    </div>
                </a>
                <!-- 招聘职位 -->
                <div class="hi-jobs">
                    {#foreach from=$hot.jobs item=hitem key="index"#}
                    {#if $index<=1#}
                    <a class="hij-item" href="{#$hitem.url#}" target="_blank">
                        <div class="left">
                            <span class="text">热招</span>
                            <span style="color: #DFE0E6;font-size: 12px;margin: 0px 12px;">|</span>
                            <span style="color: #3377FF;max-width: 150px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{#$hitem.title#}</span>
                        </div>
                        <div class="right">{#if $hitem.mianyi#}面议{#else#}{#$hitem.show_salary#}{#if $hitem.dy_salary>12#}·{#$hitem.dy_salary#}<span>薪</span>{#/if#}{#/if#}</div>
                    </a>
                    {#/if#}
                    {#/foreach#}
                </div>
                <!-- 名企标签 -->
                {#if $hot.famous==1#}<div class="hi-label">名企热招</div>{#/if#}
            </div>
            {#/if#}
            {#/job#}
        </div>
        <!-- 精选职位 -->
        <div class="recJobs">
            <div class="r-title">精选职位</div>
            <!-- tab切换 -->
            <ul class="r-tabs">
                <li class="active">推荐职位</li>
                {#job service="job" action="industry" return="industry"#}
                <li data-id="{#$industry.id#}">{#$industry.typename#}</li>
                {#/job#}
            </ul>
            <!-- 切换信息 -->
            <div class="r-details active">
                {#job service="job" action="postList" page="1" pageSize="12" return="detail"#}
                <div class="rd-item">
                    <!-- 职位介绍 -->
                    <a class="rdi-job" href="{#getUrlPath service='job' template='job' id=$detail.id#}" target="_blank">
                        <div class="job">
                            <div class="name">{#$detail.title#}</div>
                            <div class="salary">
                                {#if $detail.mianyi#}<em>面议</em>{#else#}<em>{#$detail.show_salary#}</em>
                                {#if $detail.dy_salary>12#}<em>·{#$detail.dy_salary#}</em><span>薪</span>{#/if#}
                                {#/if#}
                            </div>
                        </div>
                        <div class="require">
                            {#$detail.job_addr_detail.addrName[0]#}{#if $detail.job_addr_detail.addrName[0]#}<span> | </span>{#/if#}{#$detail.experience|default:"经验不限"#}<span> | </span>{#$detail.educational|default:"学历不限"#}
                        </div>
                        <div class="label">
                            <div>{#$detail.nature#}</div>
                            {#foreach from=$detail.tag item=item#}
                            <div>{#$item#}</div>
                            {#/foreach#}
                        </div>
                    </a>
                    <!-- 公司介绍 -->
                    <a class="rdi-company" href="{#$detail.companyDetail.url#}" target="_blank">
                        <div class="logo">
                            <img src="{#$detail.companyDetail.logo#}" onerror="this.src='/static/images/404.jpg'">
                        </div>
                        <div class="right">
                            <div class="name">{#$detail.companyDetail.title#}</div>
                            <div class="nature">{#$detail.companyDetail.nature_name#}<span> | </span>{#$detail.companyDetail.industry_name#}</div>
                        </div>
                    </a>
                </div>
                {#/job#}
                <!-- 更多职位按钮 -->
                <div style="width: 100%;"><a class="rd-btn" href="{#getUrlPath service='job' template='job-list'#}">更多职位</a></div>
            </div>
            {#job service="job" action="industry" return="industries"#}
            <div class="r-details" data-aaid="{#$industries.id#}">
                {#job service="job" action="postList" page="1" pageSize="12" industry={#$industries.id#} return="details"#}
                <div class="rd-item">
                    <!-- 职位介绍 -->
                    <a class="rdi-job" href="{#getUrlPath service='job' template='job' id=$details.id#}" target="_blank">
                        <div class="job">
                            <div class="name">{#$details.title#}</div>
                            <div class="salary">
                                {#if $details.mianyi#}<em>面议</em>{#else#}<em>{#$details.show_salary#}</em>
                                {#if $details.dy_salary>12#}<em>·{#$details.dy_salary#}</em><span>薪</span>{#/if#}
                                {#/if#}
                            </div>
                        </div>
                        <div class="require">
                            {#$details.job_addr_detail.addrName[0]#}{#if $details.job_addr_detail.addrName[0]#}<span> | </span>{#/if#}{#$details.experience|default:"经验不限"#}<span> | </span>{#$details.educational|default:"学历不限"#}
                        </div>
                        <div class="label">
                            <div>{#$details.nature#}</div>
                            {#foreach from=$details.tag item=item#}
                            <div>{#$item#}</div>
                            {#/foreach#}
                        </div>
                    </a>
                    <!-- 公司介绍 -->
                    <a class="rdi-company" href="{#$details.companyDetail.url#}" target="_blank">
                        <div class="logo">
                            <img src="{#$details.companyDetail.logo#}" onerror="this.src='/static/images/404.jpg'">
                        </div>
                        <div class="right">
                            <div class="name">{#$details.companyDetail.title#}</div>
                            <div class="nature">{#$details.companyDetail.nature_name#}<span> | </span>{#$details.companyDetail.industry_name#}</div>
                        </div>
                    </a>
                </div>
                {#/job#}
                <!-- 更多职位按钮 -->
                <div style="width: 100%;"><a class="rd-btn" href="{#getUrlPath service='job' template='job-list'#}">更多职位</a></div>
            </div>
            {#/job#}
        </div>  
        <div class="advPlace">
            <ul class="a-title">
                {#myad title="招聘求职_模板八_电脑端_广告五"#}                  
            </ul>
        </div>
        <!-- 极速招聘 -->
        <div class="fasHire">
            <!-- 标题 -->
            <div class="f-title">
                <a class="ft-left" href="{#getUrlPath service='job' template='general'#}">
                    <p><span>极速</span>招聘</p>
                    <span>{#$job_pgCustomName#}，{#$job_pgCustomDescription#}</span>
                </a>
                <div class="ft-right">快速发布，只需3分钟> <a style="margin-left: 10px;" href="{#$member_userDomain#}/fabu_job_seek.html?type=0" target="_blank"> 发布招聘 </a><span> / </span><a href="{#$member_userDomain#}/fabu_job_seek.html?type=1" target="_blank"> 发布求职</a></div>
            </div>
            <!-- 招聘 -->
            <div class="f-content">
                <div class="fc-tabs">
                    <ul>
                        <li class="active"><a href="javascript:;" class="item">最近热招</a></li>
                        {#job service="job" action="type" tb="pg" return="pgtype" page=1 pageSize=10#}
                        <li>
                            <a href="{#getUrlPath service='job' template='general' param="stype={#$pgtype.id#}&sname={#$pgtype.typename#}"#}" class="item" target="_blank">{#$pgtype.title#}</a>
                            <div class="pglist">
                                {#job service="job" action="pgList" return="pgdata" pageSize=24 stype="{#$pgtype.id#}"#}
                                <a href="{#getUrlPath service='job' template='general-detailzg' param="id={#$pgdata.id#}"#}" target="_blank">
                                    <div class="title">
                                        <div>{#$pgdata.title#}</div>
                                        <div style="color: #FF5040;flex-shrink: 0;">{#$pgdata.min_salary#}-{#$pgdata.max_salary#}{#if $pgdata.nature==1#}元/月{#else#}元/小时{#/if#}</div>
                                    </div>
                                    <div class="require">{#$pgdata.description|default:'学历不限 年龄不限'#}</div>
                                </a>
                                {#/job#}
                            </div>
                        </li>
                        {#/job#}
                    </ul>
                    <a href="{#getUrlPath service='job' template='general'#}" class="text" target="_blank">进入<span>极速招聘</span>专区</a>
                </div>
                <ul class="fc-detail">
                    {#job service="job" action="pgList" return="pgdata" pageSize=24#}
                    <li class="item">
                        <a href="{#getUrlPath service='job' template='general-detailzg' param="id={#$pgdata.id#}"#}" target="_blank">
                            <div class="title">
                                <div>{#$pgdata.title#}</div>
                                <div style="color: #FF5040;flex-shrink: 0;">{#$pgdata.min_salary#}-{#$pgdata.max_salary#}{#if $pgdata.nature==1#}元/月{#else#}元/小时{#/if#}</div>
                            </div>
                            <div class="require">{#$pgdata.description|default:'学历不限 年龄不限'#}</div>
                        </a>
                    </li>
                    {#/job#}
                </ul>
            </div>
        </div>
        <!-- 最新资讯 -->
        <div class="newNews">
            <!-- tab切换 -->
            <div class="n-tabs">
                <ul>
                    <li class="active"><a href="{#getUrlPath service='job' template='news'#}">最新资讯</a></li>
                    {#job action="newsType" return="item" son=1 pageSize="5"#}
                    <li><a href="{#getUrlPath service='job' template='news' typeid={#$item.id#}#}" target="_blank">{#$item.typename#}</a></li>
                    {#/job#}
                </ul>
                <a href="{#getUrlPath service='job' template='news'#}" class="nt-more" target="_blank">更多招聘资讯</a>
            </div>
            <div class="n-detail">
                <div class="nd-left">
                    <div class="ndl-swiper">
                        <div class="swiper-wrapper swiper-no-swiping">
                            {#{#myad title="招聘求职_模板八_电脑端_广告六" type="slide"#}|replace: "slideshow-item":"swiper-slide"#}
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <div class="ndl-news">
                        {#job action="news" return="newsitem" son=1 page=2 pageSize="5"#}
                        {#if $_bindex.newsitem==1#}
                        <a class="title" href="{#$newsitem.url#}" target="_blank">{#$newsitem.title#}</a>
                        {#else#}
                        <p><a href="{#$newsitem.url#}" target="_blank">{#$newsitem.title#}</a></p>
                        {#/if#}
                        {#/job#}
                    </div>
                </div>
                <div class="nd-center">
                    {#job action="news" return="picitem" son=1 page=1 pageSize="1" orderby=5 hasPicture=1#}
                    <a class="ndc-picture" href="{#$picitem.url#}" target="_blank">
                        <img src="{#$picitem.litpic#}" onerror="this.src='/static/images/404.jpg'">
                        <div>{#$picitem.title#}</div>
                    </a>
                    {#/job#}
                    <ul>
                        {#job action="news" return="newsitem" son=1 page=1 pageSize="5"#}
                        <li>
                            <a href="{#$newsitem.url#}" target="_blank"><span>{#$newsitem.title#}</span></a>
                        </li>
                        {#/job#}
                    </ul>
                </div>
                <div class="nd-right">
                    {#job service="job" action="fairs" return="zpdata" pageSize=4#}
                    <a class="ndr-item" href="{#$zpdata.url#}" target="_blank">
                        <div class="left">
                            <p><span>[{#if $zpdata.type==2#}网络招聘会{#else#}现场招聘会{#/if#}]</span>{#$zpdata.title#}</p>
                            <div>{#$zpdata.noteText#}</div>
                        </div>
                        <img src="{#$zpdata.picture[0].pic#}" class="right" onerror="this.src='/static/images/404.jpg'">
                    </a>
                    {#/job#}
                    {#job service="job" action="news" return="newsdata" page=3 pageSize=4#}
                    <a class="ndr-item" href="{#$newsdata.url#}" target="_blank">
                        <div class="left">
                            <p>{#$newsdata.title#}</p>
                            <div>{#$newsdata.body#}</div>
                        </div>
                        <img src="{#$newsdata.litpic#}" class="right" onerror="this.src='/static/images/404.jpg'">
                    </a>
                    {#/job#}
                </div>
            </div>
        </div>
        <!-- 创建简历 -->
        <div class="creResume">
            <div class="c-item">
                <div class="ci-left">
                    <p>创建简历，找好工作</p>
                    <a href="{#$member_userDomain#}/job-resume.html	" target="_blank">创建简历</a>
                </div>
                <img src="" class="ci-right">
            </div>
            <div class="c-item">
                <div class="ci-left">
                    <p>企业入驻，招人无忧</p>
                    <a href="{#$cfg_basehost#}/supplier/job/company_info.html" target="_blank">企业注册/登录</a>
                </div>
                <img src="" class="ci-right">
            </div>
        </div>
    </div>
{#include file="footer.html" theme="white"#}
</body>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/swiper.min_4.2.2.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/index.js?v={#$cfg_staticVersion#}"></script>
<script>
    if(!$('.drn-item')[0]){
        $('.dr-news').hide();
    }
    $('.changeCityBtn').eq(0).remove(); //移除第一个城市切换按钮（多余会造成js不生效）
</script>
</html>