<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>人才库-{#$job_title#}</title>
<meta name="keywords" content="找人才,找简历,招聘网,招聘信息,互联网招聘" />
<meta name="description" content="找人才,找简历,招聘网,求职网,互联网招聘,{#$cfg_shortname#}招聘是互联网领域垂直招聘网站,互联网职业机会尽在{#$cfg_shortname#}招聘" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/talent.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$job_channelDomain#}', staticPath = '{#$cfg_staticPath#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#};
	var addr = {#$addr|string_format:"%d"#};
    var userid='{#$userinfo.userid#}' //勿删
    var cid={#$job_cid#};
</script>
</head>
<body style="background: linear-gradient(to bottom, #F0F6FF 0%,#F7F9FC 35%);">

{#*
$education <!-- 学历 -->
$work_jy<!-- 工作经验 -->
$min_age <!-- 最大年龄 -->
$max_age <!-- 最小年龄 --> 
$min_salary <!-- 最小薪资 -->
$max_salary <!-- 最大薪资 -->
$startWork <!-- 到岗时间 -->
$order
$key<!-- 搜索关键字 -->
*#}

{#include file="top.html"#}
    <div class="Shell">
        <!-- 顶部搜索 -->
        <div class="searchTop">
            <div class="s-left">
                <span>人才库</span>
                <img src="{#$templets_skin#}images/talentLogo.png">
            </div>
            <form class="s-right">
                <input type="text" placeholder="搜索职位、人才关键字" name="key" value="{#$key#}">
                <div>
                    <img src="{#$templets_skin#}images/searchBlu.png">
                </div>
            </form>
        </div>
        <!-- 筛选 -->
        <div class="d-filter">
            <!-- 职位 -->
            <div class="df-job">
                <span>职位：</span>
                <div>请选择职位</div>
            </div>
            <!-- 学历 -->
            <div class="df-area">
                <div>学历：</div>
                <ul>
                    <li {#if !$education#}class="active"{#/if#}>不限</li>
                    {#foreach from=$jobItems.education item=item#}
                    <li data-id="{#$item.id#}" {#if $item.id==$education#}class="active"{#/if#}>{#$item.typename#}</li>
                    {#/foreach#}
                </ul>
            </div>
            <!-- 经验 -->
            <div class="df-welfare">
                <div>经验：</div>
                <ul>
                    <li {#if !$work_jy#}class="active"{#/if#}>不限</li>
                    {#foreach from=$jobItems.experience item=item#}
                    <li data-id="{#$item.id#}" {#if $item.id==$work_jy#}class="active"{#/if#}>{#$item.typename#}</li>
                    {#/foreach#}
                </ul>
            </div>
            <!-- 年龄 -->
            <div class="df-age">
                <div class="dfs-left">
                    <div>年龄：</div>
                    <ul>
                        <li {#if !$min_age&&!$max_age#}class="active"{#/if#}>不限</li>
                        <li data-min="18" data-max="20" {#if $min_age==18&&$max_age==20#}class="active"{#/if#}>18-20岁</li>
                        <li data-min="20" data-max="25" {#if $min_age==20&&$max_age==25#}class="active"{#/if#}>20-25岁</li>
                        <li data-min="25" data-max="30" {#if $min_age==25&&$max_age==30#}class="active"{#/if#}>25-30岁</li>
                        <li data-min="30" data-max="35" {#if $min_age==30&&$max_age==35#}class="active"{#/if#}>30-35岁</li>
                        <li data-min="35" data-max="40" {#if $min_age==35&&$max_age==40#}class="active"{#/if#}>35-40岁</li>
                        <li data-min="40" data-max="45" {#if $min_age==40&&$max_age==45#}class="active"{#/if#}>40-45岁</li>
                        <li data-min="45" data-max="50" {#if $min_age==45&&$max_age==50#}class="active"{#/if#}>45-50岁</li>
                        <li data-min="50" {#if $min_age==50&&!$max_age#}class="active"{#/if#}>50岁以上</li>
                    </ul>
                </div>
                <div class="dfs-right">
                    <span style="margin-right: 8px;">自定义</span>
                    <div class="inputs">
                        <input type="text" class="minSalary" value="{#$min_age#}">
                    </div>
                    <span style="margin: 0px 3px;">-</span>
                    <div class="inputs" style="margin-right:6px;">
                        <input type="text" class="maxSalary" value="{#$max_age#}">
                    </div>
                    <span style="margin-right: 15px;">岁</span>
                    <div class="btn">确定</div>
                </div>
            </div>
            <!-- 薪资 -->
            <div class="df-salary">
                <div class="dfs-left">
                    <div>薪资：</div>
                    <ul>
                        <li {#if !$min_salary&&!$max_salary#}class="active"{#/if#}>不限</li>
                        <li data-max="4000" {#if $max_salary==4000&&!$min_salary#}class="active"{#/if#}>4000以下</li>
                        <li data-min="4000" data-max="6000" {#if $min_salary==4000&&$max_salary==6000#}class="active"{#/if#}>4000-6000</li>
                        <li data-min="6000" data-max="8000" {#if $min_salary==6000&&$max_salary==8000#}class="active"{#/if#}>6000-8000</li>
                        <li data-min="8000" data-max="10000" {#if $min_salary==8000&&$max_salary==10000#}class="active"{#/if#}>8000-10000</li>
                        <li data-min="10000" data-max="15000" {#if $min_salary==10000&&$max_salary==15000#}class="active"{#/if#}>10000-15000</li>
                        <li data-min="15000" data-max="25000" {#if $min_salary==15000&&$max_salary==25000#}class="active"{#/if#}>15000-25000</li>
                        <li data-min="25000" {#if $min_salary==25000&&!$max_salary#}class="active"{#/if#}>25000以上</li>
                    </ul>
                </div>
                <div class="dfs-right">
                    <span style="margin-right: 8px;">自定义</span>
                    <div class="inputs">
                        <span>￥</span>
                        <input type="text" class="minSalary" value="{#$min_salary#}">
                    </div>
                    <span style="margin: 0px 3px;">-</span>
                    <div class="inputs" style="margin-right:10px;">
                        <span>￥</span>
                        <input type="text" class="maxSalary" value="{#$max_salary#}">
                    </div>
                    <div class="btn">确定</div>
                </div>
            </div>
            <!-- 到岗 -->
            <div class="df-time">
                <div>到岗：</div>
                <ul>
                    <li {#if !$startWork#}class="active"{#/if#}>不限</li>
                    {#foreach from=$jobItems.startWork item=item#}
                    <li data-id="{#$item.id#}" {#if $item.id==$startWork#}class="active"{#/if#}>{#$item.typename#}</li>
                    {#/foreach#}
                </ul>
            </div>
        </div>
        <!-- tab筛选 -->
        <div class="tabFilter">
            <div class="t-left">
                <div class="tl-tab">
                    <div {#if !$order#}class="active"{#/if#}>智能排序</div>
                    <div data-order="2" {#if $order==2#}class="active"{#/if#}>更新时间</div>
                </div>
                <div class="tl-filter">
                    <span>过滤</span>
                    <div class="purchase active">已购买</div>
                    <div class="dislike active">不合适</div>
                </div>
            </div>
            <div class="t-right">
                <div class="tr-pre {#if $page==1#}none{#/if#}"></div>
                <div class="tr-page"><span>1</span> / <p style="display: inline-block;">20</p></div>
                <div class="tr-next"></div>
            </div>
        </div>
        <!-- 人才信息 -->
        <ul class="listdata">
            {#job service="job" action="resumeList" pageSize="5" return="listdata" min_age="$min_age" max_age="$max_age" min_salary="$min_salary" max_salary="$max_salary" education="$education" work_jy="$work_jy" startWork="$startWork" order="$order"  key="$key"#}
            <li>
                <a href="{#$listdata.url#}" target="_blank">
                    <div class="l-left">
                        <img src="{#$listdata.photo_url#}" onerror="this.src='/static/images/noPhoto_100.jpg'">
                        <div class="ll-right">
                            <div class="name"><span>{#$listdata.name#}</span>{#if $listdata.urgent!=0#}<div>急求职</div>{#/if#}</div>
                            <div class="state">{#$listdata.age#}岁<span> | </span>{#$listdata.edu_tallest_name#}<span> | </span>{#$listdata.work_jy_name#}<span> | </span>{#$listdata.workState_name#}</div>
                            <div class="salary"><span>{#$listdata.show_salary#}</span>{#foreach from=$listdata.job_name item=job key="index"#}{#$job#}{#if count($listdata.job_name)!=$index +1#}、{#/if#}{#/foreach#}</div>
                            <div class="label">
                                {#foreach from=$listdata.ad_tag item=label#}
                                <div>{#$label#}</div>
                                {#/foreach#}
                            </div>
                            <p>{#$listdata.advantage#}</p>
                        </div>
                    </div>
                    <div class="r-right">
                        <div class="rr-exp">
                            {#if $listdata.work_jy==0&&count($listdata.work_jl)==0#}
                            <div class="title">暂无工作经历</div>
                            {#elseif $listdata.work_jy==0&&count($listdata.work_jl)>0#}
                            <div class="title">做过{#count($listdata.work_jl)#}份工作</div>
                            {#elseif $listdata.work_jy!=0&&count($listdata.work_jl)==0#}
                            <div class="title">工作{#$listdata.work_jy_name#}</div>
                            {#else#}
                            <div class="title">工作{#$listdata.work_jy_name#}，做过{#count($listdata.work_jl)#}份工作</div>
                            {#/if#}
                            <div class="text">
                                <p>{#foreach from=$listdata.work_jl item=work key="index"#}
                                    {#$work.company#}({#$work.work_time_count#}){#if count($listdata.work_jl)!=$index +1#}、{#/if#}
                                    {#/foreach#}
                                </p>
                                {#if  $listdata.collect==0#}
                                <div data-id="{#$listdata.id#}">收藏</div>
                                {#else#}
                                <div data-id="{#$listdata.id#}" class="has">已收藏</div>
                                {#/if#}
                            </div>
                        </div>
                        <div class="rr-school">
                            <div class="title">{#$listdata.edu_school#} ▪ {#$listdata.edu_tallest_name#}</div>
                            <p>{#$listdata.edu_profession#}</p>
                        </div>
                    </div>
                </a>
            </li>
            {#/job#}
            {#if $pageInfo.totalCount==0#}
            {#job service="job" action="resumeList" pageSize="5" return="listdata"#}
            <li>
                <a href="{#$listdata.url#}" target="_blank">
                    <div class="l-left">
                        <img src="{#$listdata.photo_url#}" onerror="this.src='/static/images/noPhoto_100.jpg'">
                        <div class="ll-right">
                            <div class="name"><span>{#$listdata.name#}</span>{#if $listdata.urgent!=0#}<div>急求职</div>{#/if#}</div>
                            <div class="state">{#$listdata.age#}岁 <span>|</span> {#$listdata.edu_tallest_name#} <span>|</span> {#$listdata.work_jy_name#} <span>|</span> {#$listdata.workState_name#}</div>
                            <div class="salary"><span>{#$listdata.show_salary#}</span>{#foreach from=$listdata.job_name item=job key="index"#}{#$job#}{#if count($listdata.job_name)!=$index +1#}、{#/if#}{#/foreach#}</div>
                            <div class="label">
                                {#foreach from=$listdata.ad_tag item=label#}
                                <div>{#$label#}</div>
                                {#/foreach#}
                            </div>
                            <p>{#$listdata.advantage#}</p>
                        </div>
                    </div>
                    <div class="r-right">
                        <div class="rr-exp">
                            <div class="title">工作{#$listdata.work_time_count#}年，做过{#count($listdata.work_jl)#}份工作</div>
                            <div class="text">
                                <p>{#foreach from=$listdata.work_jl item=work key="index"#}
                                    {#$work.company#}({#$work.work_time_count#}){#if count($listdata.work_jl)!=$index +1#}、{#/if#}
                                    {#/foreach#}
                                </p>
                                {#if  $listdata.collect==0#}
                                <div data-id="{#$listdata.id#}">收藏</div>
                                {#else#}
                                <div data-id="{#$listdata.id#}" class="has">已收藏</div>
                                {#/if#}
                            </div>
                        </div>
                        <div class="rr-school">
                            <div class="title">{#$listdata.edu_school#} ▪ {#$listdata.edu_tallest_name#}</div>
                            <p>{#$listdata.edu_profession#}</p>
                        </div>
                    </div>
                </a>
            </li>
            {#/job#}
            {#/if#}
        </ul>
        <!-- 企业会员 -->
        <div class="companyVip">
            {#if !$userinfo.userid#}
            <div style="text-align: center;">
                <div class="c-title">成为企业会员，高效挑选人才</div>
                <div class="c-text">仅对企业会员开放人才库，请先登录或注册，高效检索人才、一键邀请面试！</div>
                <a class="c-btn" href="{#$cfg_basehost#}/login.html">企业注册/登录</a>
            </div>
            {#elseif !$job_cid#}
            <div style="text-align: center;">
                <div class="c-title">成为企业会员，高效挑选人才</div>
                <div class="c-text">仅对企业会员开放人才库，请先申请成为招聘企业，高效检索人才、一键邀请面试！</div>
                <a class="c-btn" href="{#$cfg_basehost#}/supplier/job">申请企业招聘</a>
            </div>
            {#else#}
            <div style="text-align: center;">
                <div class="c-title">您已是企业会员，立即开启人才筛选</div>
                <div class="c-text">前往企业端人才库，高效检索人才、在线沟通职位、一键邀请面试！</div>
                <a class="c-btn" href="{#$cfg_basehost#}/supplier/job/personList.html">前往企业招聘端</a>
            </div>
            {#/if#}
            <div class="c-kefu">客服帮助热线<span>{#$jobConfig.hotline#}</span></div>
        </div>
        {#if $pageInfo.totalPage>1#}
        <!-- 分页 -->
        <div class="dll-page">
            <ul>
                <li class="prev"><</li>
                <li class="active">1</li>
                <li>2</li>
                <li>3</li>
                <li class="more">...</li>
                <li>16</li>
                <li class="next">></li>
            </ul>
            <!-- 输入框跳转 -->
            <div style="display: flex;align-items: center;">
                <!-- 输入框 -->
                <div>
                    <span>前往</span>
                    <input type="text" value="{#$page#}">
                    <span>页</span>
                </div>
                <!-- 按钮 -->
                <div class="btn">跳转</div>
            </div>
        </div>
        {#/if#}
        <!-- 弹窗 -->
        <div class="warnpop">
            <div class="p-con">
                <img src="{#$templets_skin#}images/close_pop.png">
                <p>成为企业会员，高效挑选人才</p>
                <span>仅对企业会员开放人才库，请先申请成为招聘企业</span>
                <em>高效检索人才、一键邀请面试！</em>
                <a href="{#$cfg_basehost#}/supplier/job">申请企业招聘</a>
            </div>
            <div class="p-href">
                <p>您已是企业会员，可直接在<span>企业端</span>使用人才库</p>
                <div>正在为您跳转…</div>
            </div>
        </div>
    </div>
{#include file="footer.html" theme="white"#}
</body>
<script type="text/javascript" src="{#$templets_skin#}js/talent.js?v={#$cfg_staticVersion#}"></script>
<script>
    var jobItems = {#json_encode($jobItems)#};
    var pageInfo='{#$pageInfo.totalPage#}';
</script>
</html>