<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>楼盘对比</title>
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}"
        media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}"
        media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/loupan-compare.css?v={#$cfg_staticVersion#}">
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
    <script>
        var templets_skin='{#$templets_skin#}';
        var cfg_staticVersion='{#$cfg_staticVersion#}';
        var symbolShort=`{#echoCurrency type='short'#}`; //金钱单位
        var symbolArea=`{#echoCurrency type='areasymbol'#}`; //面积单位
        var pageId='{#$smarty.get.id#}';
    </script>
</head>

<body class="w1200">
    {#include file="../../siteConfig/top1.html"#}
    {#include file="top.html"#}
    <div class="wrap crumb fn-clear">
        <div class="cl">
            <a href="{#$house_channelDomain#}" target="_blank">网站首页</a> > <a
                href="{#getUrlPath service='house' template='loupan'#}" target="_blank">楼盘</a> > <a
                href="javascript:;">楼盘对比</a>
        </div>
    </div>
    <div class="Shell">
        <div class="floorNav">
            <div class="f-item" data-type="priceInfo">价格信息</div>
            <div class="f-item" data-type="detailsInfo">基础信息</div>
            <div class="f-item" data-type="houseTypeInfo">户型信息</div>
            <div class="f-item" data-type="sellInfo">销售信息</div>
            <div class="f-item" data-type="positionInfo">位置信息</div>
        </div>
        <div class="infoTable">
            <div class="i-recommend">
                <div class="ir-title">温馨提示：为您推荐与 xxx 对比次数最多的楼盘</div>
                <div class="ir-list">
                    {#loop service="house" action="loupanList" filter="hot" page="1" pageSize="10" return="item"#}
                    <a href="{#$item.url#}" target="_blank" data-id="{#$item.id#}" class="irl-item">
                        <img src="{#$item.litpic#}" class="picture" onerror="this.src='/static/images/404.jpg'">
                        <div class="title">{#$item.title#}</div>
                        <div class="info">
                            {#if $item.price>0#}
                            <span class="price">均价：<span>{#$item.price#}{#if $item.ptype == 1#}{#echoCurrency type='short'#}/{#echoCurrency type='areasymbol'#}{#else#}万{#echoCurrency type='short'#}/套{#/if#}</span></span>
                            {#else#}
                            <span class="price">
                                <span>待定</span>
                            </span>
                            {#/if#}
                            <div class="btn" data-id="{#$item.id#}">
                                <img src="{#$templets_skin#}images/addGray.png?v={#$cfg_staticVersion#}">
                                <span>对比</span>
                            </div>
                        </div>
                    </a>
                    {#/loop#}
                </div>
            </div>
            <table class="i-compare">
                <tbody>
                    <!-- 楼盘对比 -->
                    <tr class="ic-search" data-skip="1">
                        <td class="title">楼盘对比</td>
                        <td class="search" colspan="4">
                            <div style="display: flex;">
                                <input type="text" placeholder="请输入楼盘名">
                                <div class="btn">
                                    <span>+对比</span>
                                </div>
                                <div class="list"></div>
                            </div>
                        </td>
                    </tr>
                    <!-- 楼盘名称 -->
                    <tr class="ic-name">
                        <td class="title">楼盘名称</td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"> </td>
                    </tr>
                    <!-- 价格 -->
                    <tr class="ic-line" id="priceInfo" data-skip="1">
                        <td class="title" colspan="5">价格</td>
                    </tr>
                    <tr class="ic-price">
                        <td class="title">楼盘均价</td>
                        <td class="info"></td>
                        <td class="info"></td>
                        <td class="info"></td>
                        <td class="info"></td>
                    </tr>
                    <!-- 基本信息 -->
                    <tr class="ic-line" id="detailsInfo" data-skip="1">
                        <td class="title" colspan="5">基本信息</td>
                    </tr>
                    <tr class="ic-info developers">
                        <td class="title">开发商</td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                    </tr>
                    <tr class="ic-info types">
                        <td class="title">建筑类别</td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                    </tr>
                    <tr class="ic-info areas">
                        <td class="title">建筑面积</td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                    </tr>
                    <tr class="ic-info equitys">
                        <td class="title">产权</td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                    </tr>
                    <tr class="ic-info decorations">
                        <td class="title">装修状况</td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                    </tr>
                    <tr class="ic-info accommodates">
                        <td class="title">容积率</td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                    </tr>
                    <tr class="ic-info greens">
                        <td class="title">绿化率</td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                    </tr>
                    <tr class="ic-info plans">
                        <td class="title">规划户数</td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                    </tr>
                    <tr class="ic-info cars">
                        <td class="title">车位数</td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                    </tr>
                    <tr class="ic-info companys">
                        <td class="title">物业公司</td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                    </tr>
                    <tr class="ic-info moneys">
                        <td class="title">物业费</td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                    </tr>
                    <!-- 户型信息 -->
                    <tr class="ic-line" id="houseTypeInfo" data-skip="1">
                        <td class="title" colspan="5">户型信息</td>
                    </tr>
                    <tr class="ic-info houseTypes">
                        <td class="title">户型</td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                    </tr>
                    <!-- 销售信息 -->
                    <tr class="ic-line" id="sellInfo" data-skip="1">
                        <td class="title" colspan="5">销售信息</td>
                    </tr>
                    <tr class="ic-info sellStarts">
                        <td class="title">开盘时间</td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                    </tr>
                    <tr class="ic-info sellEnds">
                        <td class="title">交房时间</td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                    </tr>
                    <tr class="ic-info sellStates">
                        <td class="title">销售状态</td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                    </tr>
                    <!-- 位置信息 -->
                    <tr class="ic-line" id="positionInfo" data-skip="1">
                        <td class="title" colspan="5">位置信息</td>
                    </tr>
                    <tr class="ic-info positions">
                        <td class="title">楼盘位置</td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="warnPop">弹窗提醒</div>
    </div>
    {#include file="footer.html"#}
    <script type="text/javascript" src="{#$templets_skin#}js/loupan-compare.js?v={#$cfg_staticVersion#}"></script>
</body>

</html>