<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$detail_title#}-楼盘详情-{#$house_title#}</title>
<meta name="keywords" content="{#$detail_title#},{#$siteCityInfo['name']#}{#$detail_title#},{#$detail_title#}楼盘详情" />
<meta name="description" content="{#$cfg_shortname#}提供{#$detail_title#}售楼电话({#$detail_tel#})、最新房价、地址、交通和周边配套、开盘动态、户型图、实景图等楼盘信息。{#$cfg_shortname#}提供{#$detail_title#}最新、最及时的价格走势，最活跃、集聚最多人气的{#$detail_title#}业主论坛，最全最及时的{#$detail_title#}楼盘信息尽在{#$cfg_shortname#}!" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/loupan_public.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$house_channelDomain#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}';

	var pageData_ = {
		id: '{#$detail_id#}',
		panName: '{#$detail_title#}',
		address: '{#$detail_address#}',
		lat: '{#$detail_latitude#}',
		lng: '{#$detail_longitude#}',
		url: '{#getUrlPath service="house" template="loupan-detail" id={#$detail_id#}#}'
	};
	var imconfig = {
            'mod': 'house',
            'chatid': ``, //聊天对象id
            'title': `{#$detail_title#}`, //当前页标题
            'description': '{#$detail_address#}',
            "link": `{#getUrlPath service="house" template="loupan-detail" id={#$detail_id#}#}`, //详情url
        };
	var site_map = "{#$site_map#}";
</script>
</head>

<body class="w1200">
{#include file="../../siteConfig/top1.html"#}

{#$pageCurr = 'loupan'#}
{#include file="top.html"#}

{#$loupanNav = 4#}
{#$crumbTitle = "新房顾问"#}
{#include file="loupan_top.html"#}

<div class="xfAdvisers">
	<div class="x-Shell wrap">
	{#foreach from=$detail_gw item=gw#}
	<div class="xs-box">
		<div class="x-slitem">
			<div class="itemImg fn-left">
				<img src="{#$gw.photo#}" onerror="this.src='/static/images/noPhoto_100.jpg'"">
			</div>
			<div class="itemInfo fn-left">
				<p class="pitem fn-clear"><span class="itname">{#$gw.nickname#}</span>{#if $gw.post#} <span 	class="ittag">{#$gw.post#}</span>{#/if#}</p>
				{#if $gw.ext_title_1#}
				<p class="scount hovered">{#$gw.ext_title_1#}：{#$gw.ext_val_1#}</p>
				{#elseif $gw.ext_title_2#}
				<p class="scount hovered">{#$gw.ext_title_2#}：{#$gw.ext_val_2#}</p>
				{#elseif $gw.see>0||$gw.suc>0#}
				<p class="scount hovered"><span>本楼盘带看 {#$gw.see|string_format:"%d"#} 次</span>成交 {#$gw.suc|string_format:"%d"#} 单</p>
				{#/if#}
				{#if $gw.ext_title_1#}
				<p class="scount hover">{#$gw.ext_title_1#}：{#$gw.ext_val_1#}</p>
				{#/if#}
				{#if $gw.ext_title_2#}
				<p class="scount hover">{#$gw.ext_title_2#}：{#$gw.ext_val_2#}</p>
				{#/if#}
				{#if $gw.see>0||$gw.suc>0#}
				<p class="scount hover"><span>本楼盘带看 {#$gw.see|string_format:"%d"#} 次</span>成交 {#$gw.suc|string_format:"%d"#} 单</p>
				{#/if#}
				<!-- <p class="contel"> <b>{#$gw.phone#}</b></p> -->
				<div class="label">
					<div class="scan" data-tel="{#$gw.showMobile#}">
						<img src="{#$templets_skin#}images/scanRed.png" class="sacn-icon">
						<span>扫码咨询</span>
						<div class="x-pop">
							<img src="{#$cfg_basehost#}/include/qrcode.php?data={#urlencode("{#getUrlPath service="house" template="loupan-detail" param="id={#$detail_id#}"#}&tel={#$gw.showMobile#}")#}">				
						</div>
					</div>
					<div class="chat chat_to-Link" data-userid="{#$gw.userid#}">
						<img src="{#$templets_skin#}images/msg_icon2.png">
						<span>在线咨询</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	{#/foreach#}
	</div>
</div>
<!-- 新房顾问 s-->
<!-- <div class="wrap xfAdviser">
	<ul class="fn-clear">
        {#house action=gwUserList loupanid=$detail_id pageSize=100 return=gw#}
		<li class="fn-clear">
    		<div class="itemImg fn-left">
    			<img src="{#$gw.photo#}" alt="">
    		</div>
    		<div class="itemInfo fn-left">
    			<p class="pitem fn-clear"><span class="itname">{#$gw.nickname#}</span>{#if $gw.post#} <span class="ittag">{#$gw.post#}</span>{#/if#}</p>
    			<p class="scount"><span>本楼盘带看 {#$gw.see#} 次</span>成交 {#$gw.suc#} 单</p>
               <p class="contel"> <b>{#$gw.phone#}</b></p>
    		</div>
		</li>
        {#/house#}
        <div class="empty">抱歉，该楼盘暂无顾问！</div>  		
	</ul>
	
</div> -->
<!-- 新房顾问 e-->






{#include file="footer.html"#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.qrcode.min.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.dragImg.js"></script>
{#if ($site_map!="google"&&$http_domestic==1)||$http_domestic==0#}
<script type="text/javascript" src="{#$site_map_apiFile#}"></script>
{#/if#}
<script type="text/javascript" src="{#$templets_skin#}js/loupan_public.js?v={#$cfg_staticVersion#}"></script>
<script>
	$(function () {
		$('.xfAdvisers').height($('.x-Shell').innerHeight());
		$('.x-slitem .itemInfo .label .chat').click(function () {
			let userid = $(this).attr('data-userid');
			imconfig.chatid = userid;
		});
		// 顾问二维码弹窗调整
		$('.x-slitem .itemInfo .label .scan').click(function () {
			event.stopPropagation();
			if ($('.x-pop').css('display') == 'flex') { //已显示，隐藏
				$(this).find('.x-pop').hide();
			} else {//已隐藏，显示
				$(this).find('.x-pop').css({'display':'flex'});
			}
			$(document).one('click',function(){
				$(this).find('.x-pop').hide();
			})
		});
	})
</script>
</body>
</html>
