.lnav .category-popup{display: none;}
.lnav:hover .category-popup{display: block;}

.bannerBox{width: 100%;height: 400px; background: #f5f5f7; position: relative;}
.bannerBox .txt{padding-top: 50px;}
.bannerBox .txt p{margin-bottom: 10px;}
.bannerquanbox.topCenter .txt{padding-top: 120px;}
.bannerquanbox {position: relative; height: 100%;z-index: 1}
.bannerquanbox .quanbox {position: absolute; bottom: 16px; left: 0}
.bannerquanbox .quanbox li{float: left; width: 94px; height: 120px; border-radius: 16px 0px 16px 0px; background: #fff; position: relative; margin-right: 10px}
.bannerquanbox .quanbox li h4{font-size: 48px; color: #F9533D;font-weight: bold; text-align: center; font-family: Akrobat; margin-left: -10px}
.bannerquanbox .quanbox li h4 sup{font-size: 18px; vertical-align: super; }
.bannerquanbox .quanbox>p{color:#fff; font-weight: bold; font-size: 14px; margin-top: 10px}
.bannerquanbox .quanbox li p{text-align: center; color: 12px; color: #666; margin-top: -8px}
.bannerquanbox .quanbox .getQuan{display: block; position: absolute; left: 0; right: 0;bottom: 0; background: #FFA636; font-size: 15px; color: #fff; line-height: 30px; text-align: center; border-radius: 0 0px 16px 0px;}
.bannerBox>img{display: block; width: 100%; height: 400px; object-fit: cover; position: absolute; object-position: center; min-width: 1200px}
@font-face {
  	font-family: "Akrobat";
  	src: url("/static/fonts/Akrobat-Black.woff2"),
       url("/static/fonts/Akrobat-Black.woff"),
       url("/static/fonts/Akrobat-Black.ttf"),
       url("/static/fonts/Akrobat-Black.eot"),
       url("/static/fonts/Akrobat-Black.otf");
}

.quanContainer{width: 100%; min-width: 1000px; min-height: 600px;background: #F7F7F7; padding-bottom: 50px;}
.quanContainer .container_tit{height: 180px; width: 100%; background: #fff; box-sizing: border-box; padding-top: 54px;}
.quanContainer .container_tit .wrap{position: relative;}
.quanContainer .container_tit .myQuan{min-width: 120px; height: 38px; line-height: 38px; border: solid 1px #E6E6E6; border-radius: 4px; color: #333; font-size: 14px; display: block; position: absolute; right: 0; top: 0; text-align: center;}
.quanContainer .container_tit .myQuan s{display: inline-block; width: 24px; height: 24px; background: url(../images/quan_icon_2.png) no-repeat center/cover; vertical-align: middle; margin-right: 3px}
.quanContainer .container_tit h2,.quanlistbox>h2{font-size: 24px; color: #333; font-weight: bold; text-align: center; margin-bottom: 26px;}
.quanContainer .container_tit h2 s ,.quanlistbox>h2 s{display: inline-block; width: 64px; height: 22px; background: url(../images/dot_icon.png) no-repeat center/cover; margin: 0 12px; vertical-align: middle; margin-bottom: 4px}
.quanContainer .container_tit .navbox{height: 60px; border-top: solid 4px #F73942;overflow: hidden;}
.quanContainer .container_tit .navbox ul{overflow: hidden; position: relative;}
.quanContainer .container_tit .navbox li{display: inline-block; margin-right: 50px; font-size: 14px; line-height: 60px; cursor: pointer;}
.quanContainer .container_tit .navbox li.more_show{position: absolute; right: 50px; top: 0}
.quanContainer .container_tit .navbox li:last-of-type{margin-right: 0}
.quanContainer .container_tit .navbox li:hover{color: #F73942}
.quanContainer .container_tit .navbox li.curr{color:#F73942; font-weight: bold;}
.quanContainer .quanlistbox li{float: left; width: 50%; height: 180px; margin-top: 30px;}
.quanContainer .quanlistbox li a{display: block; background: #fff; height: 100%;}
.quanContainer .quanlistbox li a:hover{box-shadow: 0px 11px 37px 0px rgba(0, 4, 26, 0.1);}
.quanContainer .quanlistbox li:nth-child(2n-1) a{ margin-right: 20px }
.quanContainer .quanlistbox li:nth-child(2n) a{margin-left: 20px }
.quanlistbox .right_btn{width: 90px; height: 180px; background: url(../images/get_user_bg.png) no-repeat center/cover; float: right; font-size: 22px; color: #fff; text-align: center; writing-mode: tb-rl; line-height: 90px; text-align: center;}
.quanlistbox .noQuan .right_btn{background-image: url(../images/get_use_bg1.png)}
.quanlistbox .hasget .get_icon{display: block; width: 54px; height: 54px; position: absolute;  right: 20px; top: 40px; background: url(../images/has_get_icon.png) no-repeat center/cover}
.quanlistbox .left_info{margin-right: 90px; position: relative;}
.quanlistbox .left_info .quan_img{width: 110px; height: 110px; float: left;  padding: 35px; padding-right: 30px;}
.quanlistbox .left_info .quan_img img{display: block; width: 100%; height:100%; object-fit: cover;}

.quanlistbox .left_info .quan_detail{margin-left: 175px;}
.quanlistbox .left_info .quan_detail h1{font-size: 20px; color: #F73942; font-weight: bold; padding-top: 15px}
.quanlistbox .zhekou .left_info .quan_detail h1{font-size: 15px}
.quanlistbox .left_info .quan_detail h1 span{font-size: 46px;  font-family: Arial; vertical-align: baseline;}
.quanlistbox .left_info .quan_detail h1 em{font-size: 15px; margin-left: 8px; vertical-align: baseline;}
.quanlistbox .left_info .quan_detail h4{font-size: 15px; color: #3B3B3B; margin-top: -6px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.quanlistbox .left_info .quan_detail p{color: #919191; font-size: 12px; margin-top: 2px;}
.quanlistbox .left_info .quan_detail .quan_num{color: #919191}
.quanlistbox .left_info .quan_detail .quan_num .all{display: inline-block; width: 170px; height: 6px; border-radius: 3px; background: #EDEDED; position: relative; margin-right: 16px; margin-top: 30px}
.quanlistbox .left_info .quan_detail .quan_num .all s{display: block; width: 0; height: 6px; border-radius: 3px; position: absolute; left: 0; top: 0; transition: width .3s; background: #F73942; }
.quanlistbox .more_quan{display: block; width: 180px; height: 44px; border-radius: 22px; border: solid 1px #B37327; color: #B37327; font-size: 15px; margin: auto; margin-top: 33px; line-height: 42px; text-align: center;}
.quanlistbox .more_quan s{display: inline-block; width: 20px; height: 20px; background: url(../images/arr_d.png) no-repeat center/cover; vertical-align: middle; margin-bottom: 4px; margin-left: 6px}

.tongyong_quanbox{margin-top: 38px; }
.tongyong_quanbox h2{height: 100px;}
.tongyong_quanbox h2 img{display: block; width: 100%; height: 100%; object-fit: cover; object-position: center;}
.tongyong_quanbox .quanlist{height: 260px; box-sizing: border-box; padding: 20px; background: #F8472D}
.tongyong_quanbox .quanlist .dl{height: 220px; box-sizing: border-box; padding: 6px; background: #D11802; position: relative; padding-left: 191px}
.tongyong_quanbox .quanlist .dt{ background: #fff; position: absolute; left: 6px; top: 6px; right: 6px; bottom: 6px; border-radius: 4px}
.tongyong_quanbox .quanlist .dt .titbox{width: 185px; height: 100%; text-align: center;}
.tongyong_quanbox .quanlist .dt .titbox h3{font-size: 26px; font-weight: bold; padding-top: 56px;}
.tongyong_quanbox .quanlist .dt .titbox p{color: #4D4D4D; font-size:18px; }
.tongyong_quanbox .quanlist .dt .titbox p span{color: #D11802 }
.tongyong_quanbox .quanlist .dd{overflow: auto; height: 100%; position: relative; z-index: 2}
.tongyong_quanbox .quanlist .dd ul{height: 100%; white-space: nowrap;}
.tongyong_quanbox .quanlist .dd li{width: 158px;  height: 100%; display: inline-block; border-left: dotted 2px #B37327}
.tongyong_quanbox .quanlist .dd li .qbox{width: 100%; height: 100%; text-align: center;}
.tongyong_quanbox .quanlist .dd .qbox h4{font-size: 52px; color: #000; font-weight: bold; font-family: Akrobat; padding-top: 28px}
.tongyong_quanbox .quanlist .dd .qbox p{font-size: 15px; color: #4D4D4D; margin-top: -6px}
.tongyong_quanbox .quanlist .dd li .getQuan{display:block; width: 80px; height: 30px; color: #fff; text-align: center; line-height: 30px; border-radius: 15px; background: linear-gradient(180deg, #F42E37 0%, #D71700 100%); margin:0 auto; vertical-align: middle; margin-top: 20px;}

.quanlistbox{margin-top: 60px;}

.tongyong_quanbox .quanlist .dd::-webkit-scrollbar{width:180px;height: 6px}
.tongyong_quanbox .quanlist .dd::-webkit-scrollbar-thumb{ background: rgba(0,0,0,.3); width: 6px; opacity: 0.4; border-radius: 7px; z-index: 99; }

.loading{font-size:14px; color: #808080; text-align: center; padding: 60px; clear:both;}
.loading s{display: block; width: 40px; height: 40px; background: url(../images/loading_icon.png) no-repeat center/cover; margin: auto; margin-bottom: 4px}



/* 领券详情 */
.quanDetailbox{height: 356px; position: relative;}
.quanDetailbox img{width: 100%; height: 100%; object-fit: cover; object-position: center;}
.quanDetailbox .quanDtl{width: 800px; height: 184px; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; background: url(../images/quanbg_detail.png) no-repeat center/cover}
.quanDetailbox .quanDtl .left_img{width: 214px; height: 146px; float: left; margin-top: 19px; border-right: dashed 1px #FEC8A4; box-sizing: border-box; padding-top: 23px}
.quanDetailbox .quanDtl .left_img img{display: block; width: 100px; height: 100px; border-radius: 50%; object-fit: cover; margin: auto; background: #f5f5f5;}
.quanDetailbox .quanDtl .right_info{margin-left: 214px; padding-left: 20px; padding-top: 30px}
.quanDetailbox .quanDtl .right_info h4{font-size: 16px; color: #fff; font-weight: bold;}
.quanDetailbox .quanDtl .right_info h1{font-size: 24px; color: #fff; font-weight: bold;}
.quanDetailbox .quanDtl .right_info h1 em{font-size: 14px; color: #fff;margin-left: 12px}
.quanDetailbox .quanDtl .right_info h1 b{font-size: 48px; color: #fff; font-family: Akrobat;}
.quanDetailbox .quanDtl .right_info p{color: #FFBCA8; font-size: 14px;}
.quanDetailbox .quanDtl .right_info a.toget{display: block; width: 150px; height: 50px; border-radius: 25px; text-align: center; background: linear-gradient(180deg, #FFE185 0%, #FFB24D 100%); box-shadow: 0px 6px 20px 0px rgba(100, 0, 7, 0.3);  font-size: 16px; color: #C71414; font-weight: bold; line-height: 50px; position:absolute; right: 20px; top: 68px;}

.quanDetailforBox .quanDetailfor{height: 110px; background: url(../images/bg_grey.png) no-repeat center/cover #fff; box-sizing: border-box; padding-top: 15px;}
.quanDetailforBox .quanDetailfor .quaninfo{height: 80px; background: url(../images/bg_hb.png) no-repeat center/cover}
.quanDetailforBox .quanDetailfor .quanamount b{font-size: 48px; font-weight: bold; font-family: Akrobat}
.quanDetailforBox .quanDetailfor .quanamount{width: 160px; height: 80px ;text-align: center; color: #FC2A34; font-size: 16px; float: left;}
.quanDetailforBox .quanDetailfor .quanuse{margin-left:160px; padding-left: 40px; color: #FFD7D7; font-size: 14px; box-sizing: border-box; padding-top:16px;}
.quanDetailforBox .quanDetailfor .quanuse h5{margin-bottom: 6px}
.quanDetailforBox .quanDetailfor .quanuse span{color: #fff}
.quanDetailforBox .bread{background: #fff; height: 56px; line-height: 56px; font-size: 14px; color: #333}


.quanDetailforBox .bread .left{float: left;}
.quanDetailforBox .bread span.left{position: relative; padding:0 25px; font-size: 14px; line-height: 56px; color: #333;float: left; cursor: pointer;}
.quanDetailforBox .bread ul{position: absolute; left:0px; top:-2px; width: 130px; padding: 7px 0; overflow: hidden; z-index:20; background: #fff; border:2px solid #e8e8e8;}
.quanDetailforBox .bread span.left:hover{z-index: 1}
.quanDetailforBox .bread ul li{padding:0 21px; line-height: 30px; text-align: center;}
.quanDetailforBox .bread ul li a{font-size:14px;}
.quanDetailforBox .bread span em.on,.quanDetailforBox .bread span.on a{color: #ff2832}
.quanDetailforBox .bread a.on{color: #ff2832}
.quanDetailforBox .bread font{color: #e0e0e0; }
.quanDetailforBox .bread .right{display:none; margin-right:12px; line-height: 44px}
.quanDetailforBox .bread .right span{margin-right: 10px;}
.quanDetailforBox .bread .right em{color: #ff2832}
.quanDetailforBox .bread .right a{display: inline-block; text-align: center; line-height: 19px; width:23px; height: 19px; border: 1px solid #ececec; color: #9c9c9c}
.quanDetailforBox .bread .right a.pre{border-right:none;}
.quanDetailforBox .bread .right a.on{color: #9c9c9c;background: #f7f7f7}
.quanDetailforBox .bread i.arrow-bottom{ position: absolute; right:10px; top:26px; width: 0px; height: 0px; border:4px solid transparent; border-top-color:#333;}
.quanDetailforBox .bread i.arrow-bottom em{content: ""; position: absolute;left:-4px; top:-5px; width: 0px; height: 0px; border:4px solid transparent;  border-top-color:#fff}
.quanDetailforBox .bread .price{float: left; width: 62px; height: 28px; line-height: 28px; border:1px solid #ececec; padding:0 5px; margin-top: 7px}
#search {float: left; width: 70px; height: 28px; line-height: 28px; font-size: 14px; text-align: center; border: 1px solid #ececec; margin: 7px 0 0 10px;}
.quanDetailforBox .bread .price input{width: 50px; height: 24px; border:0; line-height: 24px; vertical-align: middle;}
.quanDetailforBox .bread .line{float: left; width:15px; height: 14px; border:none; border-bottom:1px solid #ececec; margin:7px 10px;}
.prolistbox{padding: 10px; background: #EDF0F2}
.prolistbox ul.list{width:1000px; border: 1px solid #ececec; margin-top: 15px;}
.w1200 ul.list{width: 1200px}
.prolistbox ul.list li{position: relative; float: left; width:200px; overflow: hidden; z-index: 1; -webkit-transition:all 0.4s; -moz-transition:all 0.4s; -ms-transition:all 0.4s; transition:all 0.4s;}
.w1200 .prolistbox ul.list li{width: 228px;height: 335px; background: #fff;margin-right: 15px;margin-bottom: 15px;box-sizing: border-box;border: 1px solid #fff;}
.w1200 .prolistbox ul.list li:nth-child(5n){margin-right: 0;}
.w1200 .prolistbox  ul.list li:hover{border: 1px solid #ff546e;}

.prolistbox ul.list li .con{padding:10px;}
.w1200 .prolistbox  ul.list li.empty, ul.list li.empty {float: none; width: 100%; height: 500px; line-height: 400px; font-size: 14px; text-align: center;}
.w1200 .prolistbox  ul.list li.empty:hover, ul.list li.empty:hover {box-shadow: none;}
.prolistbox ul.list li img{display: block; width: 100%; height: 206px;}
.prolistbox ul.list li p{padding-top:10px; width: 92%; margin: 0 auto; height: 40px; line-height:20px; color: #333; font-size:14px; overflow: hidden;}
.prolistbox ul.list li span{display: block;  width:92%; margin:20px auto 0; font-size: 15px; color: #ff2832}
.prolistbox ul.list li span em{float: right;display: inline-block;width: 54px;height: 20px;color: #ff7a6e; font-size: 12px;background: url("../images/quan_bg2.png") no-repeat;text-align: center;}
.prolistbox ul.list li i{display: none;width: 90px;height: 30px;border-radius: 2px;background-color: rgb(255, 59, 88);box-shadow: inset 0px 0px 5px 0px rgba(244, 0, 63, 0.35);color: #fff;text-align: center;line-height: 30px;font-style: normal;margin-top: 28px;}
.prolistbox ul.list li .show{display: block;animation: bottomFadeIn .3s ease-out;}
.prolistbox ul.list li .hide{animation: topFadeOut .3s ease-out;}

.prolistbox ul.list li strong{font-size: 16px;}
.prolistbox ul.list li a {display: block; padding-bottom: 15px;}
.prolistbox ul.list li em.hide{display: none;}


/*分页*/
.page{width: 100%; overflow: hidden; text-align: center; padding: 35px 0 20px;}
.page a{font-size: 14px;color: #333; }
.page a.pg{display: inline-block; width:26px; height: 26px; line-height:26px; text-align: center; }
.page a.pg1{ cursor: auto; }
.page a.on{background: #333; color: #fff}
.page a.next{margin: 0 15px;}
