.lnav .category-popup{display: none;}
.lnav:hover .category-popup{display: block;}
.lnav .t-category{background: #333 !important;margin-bottom: -3px !important;height: 44px !important;line-height: 44px !important;}
.bannerImg img{width: 100%;display: block;}
.mainWrap{background: #F7F7F7;padding-bottom: 100px;}
.good_tab{background: #fff;}
.good_tab.fixed{position: fixed;    top: .9rem;z-index: 9;left: 0;right: 0;border-radius: 0;background: #fff;}
.tab_ul{position: relative;}
.tab_ul li{position: relative;width: 50%;float: left;}
.tab_ul li a{display: block;text-align: center;padding: 12px 0 7px;border-bottom: 3px solid #fff;}
.tab_ul li h2{font-size: 24px;color: #222;font-weight: bold;}
.tab_ul li span{font-size: 14px;color: #666;height: 24px;line-height: 24px;padding: 0 12px;display: inline-block;margin-top: 0}
.tab_ul li.curr a{border-bottom: 3px solid #EC3628;}
.tab_ul li.curr h2{color: #EC3628;}
.tab_ul li.curr span{background: rgba(236, 54, 40, .07);border-radius: 12px;color: #F22D1A;}

/*列表*/
.proList{padding-top: 20px;}
.proList li{float: left;margin-bottom:14px;margin-right: 13px;width: 290px;background: #fff;transition: all .3s; height: 400px;}
.proList li a{display: block;padding: 25px 12px 24px;}
.proList li:hover{box-shadow: 0px 20px 40px 0px rgba(37, 37, 113, 0.06);}
.proList li:nth-child(4n){margin-right: 0}
.proList li .topImg{width: 220px;height: 220px;position: relative;margin: 0 auto}
.proList li .topImg img{display: block;width: 100%;height: 100%;object-fit: cover;}
.proList li .topImg span{position: absolute;width: 160px;height: 160px;left: 50%;top: 50%;margin-top: -80px;margin-left: -80px;border-radius: 50%;background: rgba(153, 153, 153, .8);font-size: 18px;color: #fff;text-align: center;line-height: 160px}


.proList li .goodInfo{position: relative;padding: 18px 0 0;}
.proList li .goodInfo .goodTit{overflow: hidden;font-size: 15px;color: #000;line-height: 1;white-space: nowrap;text-overflow: ellipsis;}
.proList li .goodInfo .subTit{overflow: hidden;font-size: 12px;color: #F7252C;line-height: 1;white-space: nowrap;text-overflow: ellipsis;margin-top: 14px;}
.proList li .goodBot{overflow: hidden;margin-top: 36px;}
.proList li .goodBot>div{width: 166px;float: left;}
.proList li .goodBot .xstxt{font-size: 14px;color: #666;line-height: 1;margin-top: 4px;}
.proList li .goodBot .xstxt i{display: inline-block;background: url("../images/ms_down.png") no-repeat;background-size: cover;width: 24px;height: 20px;vertical-align: middle;margin-top: -4px;}
.proList li .goodBot .nprice {white-space: nowrap;}
.proList li .goodBot .pr{font-size: 14px;color: #F52B21;display: inline-block;line-height: 1;}
.proList li .goodBot .pr strong{font-size: 24px;font-family: moneyNumber}
.proList li .goodBot .nprice s{font-size: 14px;color: #A6A8B2;display: inline-block;vertical-align: middle;margin-top: -8px;line-height: 1}
.proList li .goodBot .qg{display: inline-block;width: 100px;height: 40px;line-height: 40px;text-align: center;font-size: 16px;color: #fff;font-weight: bold;background: linear-gradient(90deg, #F75F42 0%, #F22A18 100%);border-radius: 4px;margin-top: 4px;}
.proList li .goodBot .qg.disabled{background: #C1C1C1;}

.proList li .jins{font-size: 12px;color: #A6A8B2;position: absolute;right: 0;bottom: 44px;width: 100px;text-align: center;}
.proList li .jins em{font-size: 16px;color: #E6281E}

.loading{text-align: center;padding: 40px 0;font-size: 12px;color: #999}
.loading i{display: inline-block;background: url("../images/qg/load.png") no-repeat;background-size: cover;width: 26px;height: 26px;vertical-align: middle;margin-top: -4px;margin-right: 3px;}
.emptyData{text-align: center;background: #fff;display: none;padding-bottom: 100px}
.emptyData img{display: block;width: 510px;height: 390px;margin: 0 auto 40px;}
.emptyData h2{font-size: 18px;color: #333;font-weight: bold;}
.emptyData p{font-size: 14px;color: #999;margin-top: 10px;}
@font-face {
  	font-family: "Akrobat";
  	src: url("/static/fonts/Akrobat-Black.woff2"),
       url("/static/fonts/Akrobat-Black.woff"),
       url("/static/fonts/Akrobat-Black.ttf"),
       url("/static/fonts/Akrobat-Black.eot"),
       url("/static/fonts/Akrobat-Black.otf");
}
