.lnav .category-popup{display: none;}
.mainWrap {padding-bottom: 65px;}
.listWrap .bgWrap{height: 284px; background: #F4B338;}
.listWrap .bgWrap h1{font-size: 72px; font-weight: bold; color: #fff; line-height: 164px; text-align: center; position: relative; z-index: 1;}
.listWrap .bgWrap h3{font-weight: 900; font-size: 80px; text-align: center; opacity: .1; color: #fff; margin-top: -120px; text-transform:uppercase; font-family: source}

.listWrap .busiWrap{box-shadow: 0px 1px 21px 0px rgba(91, 91, 91, 0.16); border-radius: 20px; background: #fff; min-height: 200px; margin-top: -122px; padding: 0 10px; }
.fn-clear:after{content: ''; clear: both; display: block;}
.listWrap .busiArea{padding: 40px 0; margin: 0 10px; }
.listWrap .busiArea label,.detailWrap .shopWrap .shaiBox label{float: left; font-size: 14px; color: #999; width:110px ; text-align: center;}
.listWrap .busiArea ul{margin-left: 110px;}
.listWrap .busiArea ul li,.detailWrap .shopWrap .shaiBox li{float: left;  border-radius: 13px; color: #444; font-size: 14px; padding: 0 12px; height: 26px; line-height: 26px; margin-right: 8px; margin-bottom: 4px; cursor: pointer;}
.listWrap .busiArea ul li.curr,.detailWrap .shopWrap .shaiBox li.curr,.detailWrap .shopWrap .shaiBox li:hover{color: #fff; font-weight: bold; background: #F52B21;}

.listWrap .shaiBox{height: 44px; background: #F8F8FA; padding:  6px 13px 6px 0; box-sizing: border-box; margin: 0 10px;}
.listWrap .shaiBox .left_shai a{display: block; width: 80px; text-align: center; font-size: 15px; color: #333; line-height: 32px; float: left; margin-right: 20px;}
.listWrap .shaiBox .left_shai a.curr{font-weight: bold; position: relative;}
.listWrap .shaiBox .left_shai a.curr s{display: block; position: absolute; left: 0; right: 0; bottom: -6px; height: 3px; background: #F52B21;}
.listWrap .shaiBox .right_search{position: relative;}
.listWrap .shaiBox .right_search input{width: 221px; height: 32px; background: #FFFFFF; border: 1px solid #EEEEEE; border-radius: 16px; box-sizing: border-box; padding: 0 30px 0 16px; font-size: 13px; display: block;}
.shaiBox .right_search input:placeholder{color: #aaa;}
.listWrap .shaiBox .right_search .searchBtn{width: 43px; height: 32px; border-radius: 16px; background: #F52B21 url(../images/search_icon.png) no-repeat center/20px; position: absolute; right: 0; top: 0; bottom: 0;}

.listWrap .listBox{margin-top: 32px;}
.listWrap .listBox li{float: left; width: 50%; margin-bottom: 20px}
.listWrap .listBox .busi{display: block; background: #FFF; border: 1px solid #EEE; border-radius: 10px; margin:0 10px; position: relative;}
.listWrap .listBox .busi .busi_img{width: 170px; height: 170px; float: left; border-radius: 10px 0 0 10px; position: relative;}
.listWrap .listBox .busi .busi_img .shopLen{ font-size: 14px; color: #FFFFFF; line-height: 24px; padding: 0 8px; background: rgba(0,0,0,.6); position: absolute; left: 10px; bottom: 10px; border-radius: 4px;}
.listWrap .listBox .busi .busi_img img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 10px 0 0 10px;}
.listWrap .listBox .busi .busi_info{padding-left: 15px; padding-top: 10px; margin-left: 170px;}

.listWrap .listBox .busi .busi_info h2{font-size: 20px; color: #000; font-weight: bold; margin-bottom: 8px;}
.listWrap .listBox .busi .busi_info .labs{margin-bottom: 30px;}
.listWrap .listBox .busi .busi_info .labs span
,.detailWrap .busiWrap .busiInfo .labs span{display: inline-block; vertical-align: middle; padding: 0 8px; line-height: 26px; border-radius: 6px; color: #B99F6E; font-size: 14px; margin-right: 6px; background: #FAF3DE;}
.listWrap .listBox .busi .busi_info p{font-size: 14px; color: #666; margin-bottom: 8px; white-space: nowrap;  overflow: hidden; text-overflow: ellipsis; max-width: 260px;}
.listWrap .listBox .busi .busi_info p s{display: inline-block; width: 20px; height: 20px; background: url(../images/clock.png) no-repeat center/cover; margin-right: 3px; vertical-align: middle; margin-bottom: 4px;}
.listWrap .listBox .busi .busi_info p.yy_addr s{background-image: url(../images/posi_3.png)}
.listWrap .listBox .busi .btn_go{display: block; position: absolute; top: 66px; right: 16px; padding: 0 23px; font-weight: bold; height: 40px; background: linear-gradient(90deg, #F75F42 0%, #F22A18 100%); box-shadow: 0px 6px 20px 0px rgba(181, 16, 0, 0.19); border-radius: 20px; font-size: 16px; color: #FFF; line-height: 40px; }

/* 详情 */
.detailWrap .bgWrap{ height: 310px}
.detailWrap .bgWrap img{display: block; width: 100%; height: 100%;}
.detailWrap .busiWrap{background: #FFF; box-shadow: 0px 1px 21px 0px rgba(91, 91, 91, 0.16); border-radius: 20px; padding: 20px; min-height: 200px; margin-top: -200px;position:relative;}
.detailWrap .busiWrap .busiImg{width: 350px; height: 262px; border-radius: 10px; float: right; background: #f5f5f5; }
.detailWrap .busiWrap .busiInfo{margin-right: 350px; padding-right: 28px;}
.detailWrap .busiWrap .busiImg img{display: block; width: 100%; height: 100%;}
.detailWrap .busiWrap .busiInfo h2{font-size: 32px; color: #000; font-weight: bold;}
.detailWrap .busiWrap .busiInfo .labs span.shopLen{ background: linear-gradient(90deg, #F75F42 0%, #F22A18 100%); color:#fff;}
.detailWrap .busiWrap .busiInfo .labs{margin-bottom: 26px; margin-top: 10px;}
.detailWrap .busi_detail {padding-top: 26px; border-top: solid 1px #eee;}
.detailWrap .busi_detail p{font-size: 15px; color: #666; line-height: 40px;}
.detailWrap .busi_detail span{margin-left: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: inline-block; vertical-align: middle;}
.detailWrap .busi_detail label{display: inline-block; width: 80px; text-align-last: justify;}
.detailWrap .busi_detail .map a{color: #3478FF; font-size: 14px;}
.detailWrap .busi_detail .map s{display: inline-block; width: 20px; height: 20px; background: url(../images/posi_4.png) no-repeat center/cover; margin-left: 3px; vertical-align: middle; margin-bottom: 4px;}

.detailWrap .shopWrap{margin-top: 20px;}
.detailWrap .tabBox li{float: left; font-size: 20px; color: #333; line-height: 54px; margin-right: 42px; cursor: pointer;}
.detailWrap .tabBox li.curr{font-weight: bold; font-size: 24px; position: relative;}
.detailWrap .tabBox li.curr s{display: block; width: 96px; height: 4px; background: #F52B21; position: absolute; left: 0; right: 0; bottom: 0}
.detailWrap .shaiBox{margin-top: 30px;}
.detailWrap .shopWrap .shaiBox label{width: 80px; text-align: left;}
.detailWrap .listBox{padding-top: 20px; border-top: solid 1px #eee; margin-top: 32px;}
.detailWrap .listBox>.dataCon{animation: rightFadeIn .3s;}
.detailWrap .listBox .recList li{width: 20%; float: left; margin-bottom: 10px;}
.detailWrap .listBox .recList li a{display: block; padding: 10px; border: 1px solid #fff;}
.detailWrap .listBox .recList li:hover a{border: 1px solid #EEEEEE; box-shadow: 0px 3px 13px 0px rgba(4, 6, 18, 0.05);}
.detailWrap .listBox .recList li a .shop_logo{display: block; width: 100%; height: 225px; background: #f5f5f5;}
.detailWrap .listBox .recList li a .shop_logo img{display: block; width: 100%; height: 100%; object-fit: cover;}
.detailWrap .listBox .recList li .shop_info h3{font-size: 15px; color: #000; font-weight: bold; margin-top: 6px; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; }
.detailWrap .listBox .recList li .shop_info .price{color: #A6A8B3; font-size: 14px;}
.detailWrap .listBox .recList li .shop_info .price b{color: #F52B21; font-size: 22px; font-family: moneyNumber; margin-right: 5px;}
.detailWrap .listBox .recList li .shop_info .price b em{font-size: 14px;}
.detailWrap .listBox .recList li .shop_info p{color: #666; font-size: 14px;}

.detailWrap .listBox .busiList li{width: 50%; float: left; margin-bottom: 12px;}
.detailWrap .listBox .busiList li:nth-of-type(2n) a{margin-left: 10px}
.detailWrap .listBox .busiList li:nth-of-type(2n + 1) a{margin-right: 10px}
.detailWrap .listBox .busiList li a{display: block; height: 180px; border: 1px solid #EEE; border-radius: 6px;}
.detailWrap .listBox .busiList li .shop_logo{width: 180px; height: 180px; float: left; background: #f5f5f5; border-radius: 6px 0 0 6px; margin-right: 12px;}
.detailWrap .listBox .busiList li .shop_logo img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 6px 0 0 6px; margin-right: 12px;}
.detailWrap .listBox .busiList li .shop_info {padding-top: 12px;}
.detailWrap .listBox .busiList li .shop_info h3{font-size: 24px; color: #000; font-weight: bold; margin-bottom: 8px;}
.detailWrap .listBox .busiList li .shop_info .star_info{margin-bottom: 20px;}
.detailWrap .listBox .busiList li .shop_info .star_info .star{font-size: 16px; font-family: moneyNumber; color: #333; font-weight: bold; line-height: 20px;}
.detailWrap .listBox .busiList li .shop_info .star_info .star s{display: inline-block; width: 20px; height: 20px; background: url(../images/star1.png) no-repeat center/cover; vertical-align: middle; margin-bottom: 6px; margin-right: 2px;}
.detailWrap .listBox .busiList li .shop_info .star_info .youhui{color: #999; font-size: 14px; margin-left: 20px;}
.detailWrap .listBox .busiList li .shop_detail p{font-size: 14px; color: #666; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-bottom: 12px;}
.detailWrap .listBox .busiList li .shop_detail .price{font-size: 16px; color: #EC3628; margin-right: 10px;}
.detailWrap .listBox .busiList li .shop_detail .price s.icon{display: inline-block; width: 20px; height: 20px; background: url(../images/shop_icon.png) no-repeat center/cover; vertical-align: middle; margin-right: 3px; margin-bottom: 4px;}
.detailWrap .listBox .busiList li .shop_detail .price .oprice{font-size: 14px; color: #A6A8B3; margin-left: 4px;}


/* 分页 */
.pagination {height: 28px; padding: 30px; display: none;}
.pagination-pages {float: right;}
.pagination-pages a, .pagination-pages span {float: left; min-width: 20px; height: 30px; padding: 0 5px; margin: 0 0 0 4px; background-color: #f7f7f7; text-align: center; line-height: 30px; font-size: 14px; cursor: pointer; color: #999; text-decoration: none; border: solid 1px #EDEDED; border-radius: 2px;}
.pagination-pages .curr, .pagination-pages .interim {cursor: default;}
.pagination-pages .curr { color: #F52B21; border: solid 1px #fff; background: #fff;}
.pagination-pages a:hover {background-color: #fff; color: #F52B21; border: solid 1px #fff;}
.pagination-pages .prev, .next {padding: 0 8px;}
.pagination-pages .disabled {background-color: #999; color: #fff; cursor: default;}

@font-face {
	font-family: source;
	src: url('/static/fonts/SourceHanSansCN-Heavy.eot'),
		url('/static/fonts/SourceHanSansCN-Heavy.ttf'),
		url('/static/fonts/SourceHanSansCN-Heavy.woff'),
		 url('/static/fonts/SourceHanSansCN-Heavy.woff2'); /* IE9 */
}
