.mianWrap{background: #F5F5F7;padding-bottom: 40px;}
/*面包屑*/
.bread{width:100%; height:45px;}
.bread p{ line-height: 45px;}
.bread p a{font-size: 13px; color: #666; margin: 0 3px;}

/*店铺信息*/
.shopDet{background: #fff;box-shadow: 0px 7px 22px 0px rgba(0, 0, 0, 0.05);border-radius: 10px;overflow: hidden;}
.shopDet{padding: 24px 20px 0;}
.shopDet .shopDetCon{}
.shopDet .shopLip{position: relative;}
.shopDet .shopImg{display: block;width: 160px;height: 120px;}
.shopDet .shopImg img{display: block;width: 100%;height: 100%;object-fit: cover;}

.shopDet .shopTop{padding: 0 0 20px;border-bottom: 1px solid #eee;}
.shopDet .shopTop .rStore{margin-left: 172px;min-height: 120px;position: relative;}
.shopDet .shopTop h2{font-size: 24px;color: #333;font-weight: bold;}
.shopDet .shopTop .hpbox{margin-top: 6px;}
.shopDet .shopTop .haoping i{display: inline-block;width: 20px;height: 20px;background: url(../images/store/star.png) no-repeat center center;background-size: 100%;vertical-align: middle;margin-top: -8px;}
.shopDet .shopTop .haoping span{font-size: 16px;color: #000;font-family: moneyNumber;}
.shopDet .shopTop .renzheng{display: inline-block;width: 20px;height: 20px;background: url(../images/store/rz.png) no-repeat center center;background-size: 100%;vertical-align: middle;margin-top: -8px;margin-left: 4px;}

.shopDet .shopTop .other{font-size: 0;margin-top: 18px;}
.shopDet .shopTop .other span,.shopDet .shopTop .other em{display: inline-block;line-height: 28px;border-radius: 4px;padding: 0 11px;border-radius: 4px;font-size: 14px;margin-right: 12px;}
.shopDet .shopTop .other span{color: #333;background: linear-gradient(90deg, #E8F0FC 0%, #F5F8FC 100%);}
.shopDet .shopTop .other em{color: #666;background: #F5F7FA}
.shopDet .conBtn{position: absolute;right: 13px;bottom: 38px;}
.shopDet .conBtn a{display: inline-block; width: 98px; height: 34px; background: #FFFFFF; border: 1px solid #F92931; border-radius: 6px; font-size: 14px; color: #F92931; text-align: center; line-height: 34px}
.shopDet .conBtn a s{display: inline-block; width: 20px; height: 20px; background: url(../images/store/collect_icon.png) no-repeat center/cover; vertical-align: middle; margin-bottom: 4px; margin-right: 4px}
.shopDet .conBtn a.contact{ margin-right: 10px;background: #F92931;color: #fff;}
.shopDet .conBtn a.contact s{background-image: url(../images/store/im_icon.png); margin-bottom: 0;}

.shopDet .shopBot{height: 80px;display: flex;align-items: center;justify-content: space-between;}
.shopDet .shopBot>div{display: flex;align-items: center;}
.shopDet .shopBot strong{font-size: 14px;color: #333;margin-right: 12px;}
.shopDet .shopBot .firAdr{font-size: 13px;color: #999;}
.shopDet .shopBot .chooseAdr{display: inline-block;background: #F5F5F7;line-height: 36px;border-radius: 18px;padding: 0 16px;font-size: 14px;color: #333;font-weight: bold;margin-left: 12px;}
.shopDet .shopBot .yfp{font-size: 14px;color: #999}
/*.shopDet .shopBot .hasAdr{display: none;}*/
.shopDet .shopBot .hasAdr h3{font-size: 14px;color: #333}
.shopDet .shopBot .hasAdr p{font-size: 13px;color: #999;margin-top: 0px;}



.mainCon {margin-top: 35px;}

/*列表*/
.comCon{background: #fff;padding-bottom: 20px;margin-bottom: 16px;}
.comTit{height: 58px;color: #333;font-size:16px;line-height: 58px;padding-left: 16px;box-sizing: border-box;position: relative; border-bottom: solid 1px #eee;}
.comTit strong{float: left; position: relative;padding: 0 4px;}
.comTit em{display: block;background-color: #E3393C;width: 100%;height: 3px;position: absolute;left: 0; bottom: 0;}
.comTit span{font-size: 14px;color: #999;margin-left: 6px;}

.chooseTab{padding: 15px 20px;}
.chooseTab li{float: left;margin-right: 10px;}
.chooseTab a{font-size: 13px;padding: 0 27px;display: block;height: 40px;line-height: 40px;box-sizing: border-box;}
.chooseTab .curr a{color: #E3393C;font-weight: bold;}
.chooseTab .chosePrice{position: relative;}
.chooseTab .chosePrice i,.chooseTab .chosePrice s{display: inline-block;width: 10px;height: 6px;background: url(../images/pr1.png) no-repeat center/cover;position: absolute;right: 6px;top: 14px;}
.chooseTab .chosePrice s{background: url(../images/pr2.png) no-repeat center/cover;top:21px;}
.chooseTab li.chosePrice.up i{background: url(../images/pr11.png) no-repeat center/cover;}
.chooseTab li.chosePrice.down s{background: url(../images/pr22.png) no-repeat center/cover;}


.proList {padding-left: 20px;padding-bottom: 20px;}
.proList li{float: left;margin-bottom: 20px;margin-right: 14px;width: 220px;}
.proList li:nth-child(5n){margin-right: 0}
.proList li .leftImg{width: 220px;height: 220px;}
.proList li .leftImg img{display: block;width: 100%;height: 100%;object-fit: cover;}
.proList li .rInfo{position: relative;padding: 4px 0 0}
.proList li .rInfo h3{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;font-size: 15px;color: #333;line-height: 22px;height: 44px;}
.proList li .godPrice{margin-top: 10px;}
.proList li .godPrice .nprice{font-size: 18px;color: #FF2832;font-weight: bold;}
.proList li .godPrice .nprice strong{font-size: 18px;}

.loading{font-size: 16px;text-align: center;line-height: 100px;color: #333;}

.emptyData{text-align: center;background: #fff;display: none;padding-bottom: 100px}
.emptyData img{display: block;width: 510px;height: 390px;margin: 0 auto 40px;}
.emptyData h2{font-size: 18px;color: #333;font-weight: bold;}
.emptyData p{font-size: 14px;color: #999;margin-top: 10px;}

/*地址弹窗*/
.adrMask{position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 99;background: rgba(0,0,0,.67);display: none;}
.adrAlert{background: #fff;border-radius: 10px;padding: 30px 30px 30px;z-index: 100;position: fixed;top: 50%;left: 50%;width: 950px;transform: translate(-50%,-50%);box-sizing: border-box;display: none; max-height: 80%; overflow: auto; padding-right: 20px;}
.adrAlert::-webkit-scrollbar{width:8px;height:8px;}
.adrAlert::-webkit-scrollbar-track-piece{background:transparent;border-radius:2px;}
.adrAlert::-webkit-scrollbar-thumb{border-radius:4px;background-color:#DBDBDB;}
.adrAlert::-webkit-scrollbar-thumb:hover{background-color:#666;}
.adrAlert.show{display: block;}
.adrAlert h1{font-size: 20px;color: #000;font-weight: bold;text-align: center;padding-bottom: 10px;}
.adrAlert .adrItem{width: 282px;height: 120px;float: left;margin-right: 20px;background: url(../images/confirmadr1.png) no-repeat center/cover;position: relative;box-sizing: border-box;padding: 0 20px 0 14px;margin-top: 20px;}
.adrAlert .adrItem a{display: block;width: 100%;height: 100%;}
.adrAlert .adrItem.active{background: url(../images/confirmadr2.png) no-repeat center/cover;}
.adrAlert .adrItem:nth-child(3n){margin-right: 0}
.adrAlert .adrItem h2{padding: 17px 0 10px;font-weight: bold;color: #313233;font-size: 0;border-bottom: 1px dashed #E8E8E8;}
.adrAlert .adrItem h2 strong{font-size: 18px;}
.adrAlert .adrItem h2 span{font-size: 16px;margin-left: 14px;}
.adrAlert .adrItem p{font-size: 14px;color: #313233;line-height: 20px;padding-top: 8px;}
.adrAlert .adrItem i{display: block;width: 34px;height: 34px;right: 0;bottom: 0;position: absolute;}
.adrAlert .adrItem.active i{background: url(../images/adrchose.png) no-repeat center/cover;}
.adrAlert .adrBtn{text-align: center;font-size: 0;margin-top: 40px;}
.adrAlert .adrBtn a{display: inline-block;width: 104px;height: 34px;line-height: 34px;text-align: center;background: #F52B21;border-radius: 3px;color: #fff;box-sizing: border-box;font-size: 14px;font-weight: bold;}
.adrAlert .adrBtn a.adrCancel{background: #fff;color:#F52B21;border: 1px solid  #F52B21;margin-right: 20px;}

/* 分页 */
.sepagination {height: 50px; padding: 30px 20px; display: none;text-align: center;}
.pagination-pages {display: inline-block;}
.pagination-pages a, .pagination-pages span {float: left; min-width: 18px; height: 38px; padding: 0 10px; margin: 0 0 0 10px; background-color: #fff; border: 1px solid #d9d9d9; text-align: center; line-height: 38px; font-size: 14px; cursor: pointer; color: #333; text-decoration: none; border-radius: 3px; box-shadow: 0 2px 2px #e7e7e7;}
.pagination-pages .curr, .pagination-pages .interim {cursor: default;}
.pagination-pages .interim {border-color: transparent; box-shadow: none; padding: 0;}
.pagination-pages .curr {background: #f8f8f8; color: #ccc; border-color: #e9e9e9; cursor: no-drop;}
.pagination-pages a:hover {background-color: #f60; color: #fff; border-color: #f60;}
.pagination-pages .prev, .next {padding: 0 8px;}
.pagination-pages .disabled {background-color: #999; color: #fff; cursor: default;}
.pagination-pages .redirect {float: left; margin-left: 20px; line-height: 40px; font-size: 14px;}
.pagination-pages .redirect i {font-style: normal; float: left;}
.pagination-pages .redirect input {float: left; width: 50px; margin: 0 5px; padding: 9px 5px; height: 20px; border: 1px solid #d9d9d9; box-shadow: 0 2px 2px #e7e7e7; border-radius: 3px; outline: 0; text-align: center;}
.pagination-pages .redirect button {float: left; height: 40px; padding: 9px 15px; margin-left: 10px; background-color: #fff; border: 1px solid #d9d9d9; line-height: 20px; outline: 0; box-shadow: 0 2px 2px #e7e7e7; border-radius: 3px; cursor: pointer; font-size: 14px;}
.pagination-pages .redirect button:hover {background-color: #f5f5f5;}

 @font-face {
  	font-family: "source";
  	src: url("/static/fonts/SourceHanSansCN-Heavy.woff2"),
       url("/static/fonts/SourceHanSansCN-Heavy.woff"),
       url("/static/fonts/SourceHanSansCN-Heavy.ttf"),
       url("/static/fonts/SourceHanSansCN-Heavy.eot");
}