<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
<title>配置支付方式</title>
{#$cssFile#}
<style media="screen">
    .editform dt {width: 200px;}
</style>
<script>
var adminPath = "{#$adminPath#}";
</script>
</head>

<body>
{#if $pay_code == 'alipay' || $code == 'alipay'#}
<div class="alert alert-success" style="margin:10px;"><button type="button" class="close" data-dismiss="alert">×</button>支付宝配置教程：<a href="https://help.kumanyun.com/help-51-719.html" target="_blank">https://help.kumanyun.com/help-51-719.html</a><br />新接口升级教程：<a href="https://help.kumanyun.com/help-66-742.html" target="_blank">https://help.kumanyun.com/help-66-742.html</a><br />服务商分账教程：<a href="https://help.kumanyun.com/help-51-767.html" target="_blank">https://help.kumanyun.com/help-51-767.html</a></div>
{#/if#}

{#if $pay_code == 'wxpay' || $code == 'wxpay'#}
<div class="alert alert-success" style="margin:10px;"><button type="button" class="close" data-dismiss="alert">×</button>微信扫码支付配置教程：<a href="https://help.kumanyun.com/help-51-13.html" target="_blank">https://help.kumanyun.com/help-51-13.html</a><br />微信APP支付配置教程：<a href="https://help.kumanyun.com/help-51-61.html" target="_blank">https://help.kumanyun.com/help-51-61.html</a><br />微信服务商配置教程：<a href="https://help.kumanyun.com/help-51-755.html" target="_blank">https://help.kumanyun.com/help-51-755.html</a></div>
{#/if#}

<form action="" method="post" name="editform" id="editform" class="editform">
  <input type="hidden" name="action" id="action" value="{#$action#}" />
  <input type="hidden" name="id" id="id" value="{#$id#}" />
  <input type="hidden" name="code" id="code" value="{#$code#}" />
  <input type="hidden" name="token" id="token" value="{#$token#}" />
  <dl class="clearfix">
    <dt><label for="pay_name">支付方式名称：</label></dt>
    <dd>
      <input class="input-large" type="text" name="pay_name" id="pay_name" data-regex=".{2,30}" maxlength="30" value="{#$pay_name#}" />
      <span class="input-tips"><s></s>请输入支付方式名称，2-30个字符。</span>
    </dd>
  </dl>
  <div id="payConfig" style="margin-top: 30px;">
    {#$pay_config#}
  </div>
  <dl class="clearfix" style="margin-top: 50px;">
    <dt><label for="pay_desc">支付方式说明：</label></dt>
    <dd>
      <textarea class="input-xxlarge" rows="5" name="pay_desc" id="pay_desc" data-regex=".*">{#$pay_desc#}</textarea>
      <span class="input-tips"><s></s>请输入支付方式说明。</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt>状态：</dt>
    <dd class="radio">
      {#html_radios name="state" values=$stateList checked=$state output=$stateName separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>
  <dl class="clearfix formbtn">
    <dt>&nbsp;</dt>
    <dd><button class="btn btn-large btn-success" type="submit" name="button" id="btnSubmit">确认提交</button></dd>
  </dl>
</form>

{#$jsFile#}
</body>
</html>
