<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$langData['business'][0][0]#}</title>{#* 商家入驻 *#}
<meta name="keywords" content="{#$cfg_keywords#}" />
<meta name="description" content="{#$cfg_description#}" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" media="all" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/enter_v2.css?v={#$cfg_staticVersion#}" />
<link rel="stylesheet" href="{#$cfg_staticPath#}css/ui/swiper.min.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
  var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';
  var hideFileUrl = '{#$cfg_hideUrl#}';
</script>
</head>

<body class="w1200">
<!--顶部-->
{#include file="{#$HUONIAOROOT#}/templates/siteConfig/top1.html"#}
<div class="page">
	<div class="wrap pageCon">
		 <div class="titleCon ruzhu_title">
			<h1>商家入驻 轻松开店</h1>
			<div class="sub_title">快速拥有自己的线上店铺</div>
			<p>全方位经营场景，助力商家生意新增长</p>
		 </div>
		 <div class="titleCon hide buyMod_title">
			<h1>开通商家会员</h1>
			<div class="sub_title">开通即享频道商家特权</div>
			<p>发布更多内容 / 享优先曝光...</p>
		 </div>
		 <div class="showCon">
			<div class="leftCon">
				<ul>
					<li>
						<div class="icon">
							<img src="{#$templets_skin#}/images/enter_v2/icon1.png" alt="">
						</div>
						<div class="info">
							<h5>特权升级</h5>
							<p>新增更多商家超值特权</p>
						</div>
					</li>
					<li>
						<div class="icon">
							<img src="{#$templets_skin#}/images/enter_v2/icon2.png" alt="">
						</div>
						<div class="info">
							<h5>数据服务</h5>
							<p>数据直观展示，一目了然</p>
						</div>
					</li>
					<li>
						<div class="icon">
							<img src="{#$templets_skin#}/images/enter_v2/icon3.png" alt="">
						</div>
						<div class="info">
							<h5>强势推流</h5>
							<p>曝光更多，专属流量扶持</p>
						</div>
					</li>
					<li>
						<div class="icon">
							<img src="{#$templets_skin#}/images/enter_v2/icon4.png" alt="">
						</div>
						<div class="info">
							<h5>专属店铺</h5>
							<p>独立频道专属店铺主页</p>
						</div>
					</li>
					<li>
						<div class="icon">
							<img src="{#$templets_skin#}/images/enter_v2/icon5.png" alt="">
						</div>
						<div class="info">
							<h5>内容发布</h5>
							<p>享更多内容发布权益</p>
						</div>
					</li>
					<li>
						<div class="icon">
							<img src="{#$templets_skin#}/images/enter_v2/icon6.png" alt="">
						</div>
						<div class="info">
							<h5>头像加V</h5>
							<p>专属企业v标识，更信赖</p>
						</div>
					</li>
					
				</ul>
			</div>
			<div class="rightCon">
				<div class="qrBox ruzhuQr">
					<div class="qrImg">
						<img src="/include/qrcode.php?data={#getUrlPath service='member' type='user' template='enter'#}" alt="">
					</div>
					<div class="qrText">
						扫码至移动端申请入驻
					</div>
				</div>
				<div class="qrBox buyModQr hide">
					<div class="qrImg">
						<img src="/include/qrcode.php?data={#getUrlPath service='member' type='user' template='enter_contrast'#}" alt="">
					</div>
					<div class="qrText">
						扫码至移动端开通商家会员
					</div>
				</div>
				<div class="telbox">客服电话：<span>{#$cfg_hotline#}</span></div>
			</div>
		 </div>
	</div>
</div>



<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/enter_v2.js"></script>
</body>
</html>
