<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
	<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
	<title>{#$langData['business'][1][10]#}</title>  {#*单选套餐 *#}
	<meta name="keywords" content="{#$cfg_keywords#}" />
	<meta name="description" content="{#$cfg_description#}" />
	<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" media="all" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" />
	<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/enter_single.css?v={#$cfg_staticVersion#}" />
	<link rel="stylesheet" href="{#$cfg_staticPath#}css/ui/swiper.min.css?v={#$cfg_staticVersion#}">
	<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.9.0.min.js?v={#$cfg_staticVersion#}"></script>
	<script type="text/javascript">
	  var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';
	  var hideFileUrl = '{#$cfg_hideUrl#}';
	  var userid = '{#$userinfo.id#}';
	   var geetest = {#$cfg_geetest#}, service = "business";
 	  var phonecheck = '{#$userinfo.phoneCheck#}';
 	  var cfg_pointName = '{#$cfg_pointName#}';
 	  var promotions = [{#if $businessConfig.joinSale#}{#foreach from=$businessConfig.joinSale item=sale key=index#}[{#$sale.price#}, {#$sale.amount#}]{#if $index < $businessConfig.joinSale|@count-1#}, {#/if#}{#/foreach#}{#/if#}];  //满减
 	  var integrals = [{#if $businessConfig.joinPoint#}{#foreach from=$businessConfig.joinPoint item=point key=index#}[{#$point.month#}, {#$point.point#}]{#if $index < $businessConfig.joinPoint|@count-1#}, {#/if#}{#/foreach#}{#/if#}];  //积分
 	  var usermoney  = '{#$userinfo.money#}';
	</script>
	</head>
	<body class="w1200">
		{#include file="{#$HUONIAOROOT#}/templates/siteConfig/top1.html"#}

		<div class="MenuBox allBox">
			<img class="bg" src="{#$templets_skin#}images/enter_4.9/bg3.png" >
			<div class="head">
				<h1>{#$langData['business'][1][32]#}</h1>    {#*  特权升级 尊享服务  *#}
				<p>{#$langData['business'][1][43]#}</p>   {#*  自选套餐详情  *#}
			</div>

			<div class="table_box">
				<div class="table_left">
					<h2>
						{#$langData['business'][1][44]#}{#*  可选项目  *#}
						<i class="icon_1"><img src="{#$templets_skin#}images/enter_4.9/l_top.png"></i>
						<i class="icon_2"><img src="{#$templets_skin#}images/enter_4.9/l_top2.png"></i>
					</h2>
					<div class="tb_con">
						<dl>
							<dt class="dt_tit"><img src="{#$templets_skin#}images/enter_4.9/t1.png"></dt>
							{#foreach from=$businessConfig.privilege item=privilege#}
							<dd class="dd_item item_name{#if $privilege.note#} show_desc{#/if#}">
								<h4>{#$privilege.title#}</h4>
								{#if $privilege.note#}<p title="{#$privilege.note#}">{#$privilege.note#}</p>{#/if#}
								<span class="price_item">{#echoCurrency type='symbol'#}{#$privilege.price#}<small>{#echoCurrency type='short'#}/{#$langData['siteConfig'][13][18]#}</small></span>
							</dd>
							{#/foreach#}
						</dl>
						<dl class="chosed_item">
							<dt class="dt_tit"><img src="{#$templets_skin#}images/enter_4.9/t2.png"></dt>
							{#foreach from=$businessConfig.store item=store key=name#}
							<dd class="dd_item item_name{#if $store.note#} show_desc{#/if#}{#if $module == $name#} curr chosed{#/if#}">
								<h4>{#$store.title#}</h4>
								{#if $store.note#}<p title="{#$store.note#}">{#$store.note#}</p>{#/if#}
								<span class="price_item">{#echoCurrency type='symbol'#}{#$store.price#}<small>{#echoCurrency type='short'#}/{#$langData['siteConfig'][13][18]#}</small></span>
							</dd>
							{#/foreach#}
						</dl>
					</div>
				</div>
				<div class="table_right">
					<div class="tb_title">
						<h2>{#$langData['business'][1][11]#}</h2>   {#*  单行业自选  *#}
						<p>{#$langData['business'][1][45]#}</p>   {#*  助力商家专而精地经营一个行业，同样享有满减优惠  *#}
						<i class="icon3"><img src="{#$templets_skin#}images/enter_4.9/r_top.png"></i>
					</div>
					<div class="tb_con">
						<dl>
							<dt class="dt_tit"></dt>
							{#foreach from=$businessConfig.privilege key=name item=privilege#}
							<dd class="dd_item item_chose" data-name="{#$name#}" data-price="{#$privilege.price#}">
								<i></i><span>{#$langData['business'][1][35]#}</span>    {#* 勾选 *#}
							</dd>
							{#/foreach#}
						</dl>
						<dl class="chosed_item">
							<dt class="dt_tit"></dt>
							{#foreach from=$businessConfig.store item=store key=name#}
							<dd class="dd_item item_chose{#if $module == $name#} curr chosed{#/if#}" data-name="{#$name#}" data-price="{#$store.price#}">
								<i></i><span>{#if $module == $name#}{#$langData['business'][1][36]#}{#else#}{#$langData['business'][1][35]#}{#/if#}</span>    {#* 勾选 *#}
							</dd>
							{#/foreach#}
						</dl>
					</div>
				</div>
				<p class="toall_link"><a href="javascript:;">{#$langData['business'][1][46]#}</a></p>   {#*  查看所有行业 ↓  *#}
			</div>

			<div class="agree_box">
				<i class="agreed"></i>{#$langData['business'][0][39]#}<a href="{#getUrlPath service='siteConfig' template='protocol' title='商家入驻服务协议'#}" target="_blank">{#$langData['business'][0][40]#}</a>{#*  我一同意 --- 《商家入驻服务协议》 *#}
			</div>
		</div>

		<!-- 联系我 -->
		<div class="fixedBox">
			<div class="contact_box">
		        {#if $cfg_server_wx#}
				<div class="QR_code contact">
					<h3>{#$langData['business'][1][29]#}</h3>    {#* 微信客服 *#}
					<div class="qr_img">
						<img src="{#$cfg_server_wxQr#}" />
					</div>
				</div>
		        {#/if#}
		        {#if $cfg_server_qq#}
				<div class="QQ contact">
					<h3>{#$langData['business'][1][30]#}</h3>    {#* QQ客服 *#}
		            {#foreach from=$cfg_server_qq item=qq#}
					<p><a href="tencent://Message/?Uin={#$qq#}&websiteName={#$cfg_basehost#}=&Menu=yes">{#$qq#}</a></p>
		            {#/foreach#}
					<i class="d_line"></i>
				</div>
		        {#/if#}
		        {#if $cfg_server_tel#}
				<div class="phone contact">
					<h3>{#$langData['business'][1][31]#}</h3>   {#* 客服热线 *#}
		            {#foreach from=$cfg_server_tel item=tel#}
					<p>{#$tel#}</p>
		            {#/foreach#}
				</div>
		        {#/if#}
			</div>
			<div class="fixed_btn">   {#* 有疑问？找我咨询哦 *#}
				<img src="{#$templets_skin#}images/enter_4.9/per.png" />
				{#$langData['business'][0][31]#}
			</div>
		</div>

		<!-- 统计价格 -->
		<div class="count_box show">
			<div class="tc_name tc_info">{#$langData['business'][1][37]#}<span>单行业自选</span></div>   {#* 已选： *#}
			<div class="tc_time tc_info" data-year="{#$businessConfig.joinTimes[0].month#}">
				{#$langData['business'][1][6]#}：<input type="text" id="time" readonly value="{#$businessConfig.joinTimes[0].title#}" placeholder="{#$langData['business'][0][46]#}" />{#* 请选择时长 *#}
				<ul class="time_chose">
					{#foreach from=$businessConfig.joinTimes item=times#}
					<li data-year="{#$times.month#}">{#$times.title#}</li>
					{#/foreach#}
				</ul>
			</div>
			<div class="tc_price tc_info">
				{#$langData['business'][1][40]#}：<span class="all_price"><i>{#echoCurrency type='symbol'#}</i><em class="p_num">0</em>.00</span>
				<span class="hui_tip fn-hide">
					{#$langData['business'][1][38]#}<em class="num_show">0.00</em>   {#* <i>满减</i>已优惠 *#}
					<div class="tip_detail">
						<h3>{#$langData['business'][1][39]#}</h3>   {#* 限时满减活动，即刻入驻，立享优惠 *#}
						<p>{#foreach from=$businessConfig.joinSale item=sale#}{#$langData['siteConfig'][21][14]#}{#$sale.price#}-{#$sale.amount#}；{#/foreach#}</p>
						<em class="arr"></em>
					</div>
				</span>
				<span class="point_tip fn-hide">
					<i>{#$langData['siteConfig'][13][60]#}{#$cfg_pointName#}</i><em class="integral_show"></em>{#* 送积分 *#}
					<div class="tip_detail">
						<h3>{#$langData['business'][1][50]|replace:'积分':$cfg_pointName#}</h3>  {#* 限时返积分活动，即刻入驻，立享优惠 *#}
						<p>{#foreach from=$businessConfig.joinPoint item=point#}{#$langData['siteConfig'][21][14]#}{#$point.month#}{#$langData['siteConfig'][13][31]#}{#$langData['siteConfig'][13][60]#}{#$point.point#}{#$cfg_pointName#}；{#/foreach#}</p>
						<p class="i_tip">注：1{#echoCurrency type='name'#}={#$cfg_pointRatio#}{#$cfg_pointName#}</p>
						<em class="arr"></em>
					</div>

				</span>
			</div>
			<div class="right_btn publicpaybtn"><a href="javascript:;">{#$langData['business'][1][41]#}</a></div>   {#* 付款 *#}
		</div>

		<!-- 弹出层 -->
		<div class="mask"></div>
		<div class="pop_box">
			<i class="close_btn"></i>
			<h3>{#$langData['business'][0][49]#}</h3>   {#* 请绑定您的手机号 *#}
			<p>{#$langData['business'][0][50]#}</p>  {#* 入驻商家需先绑定手机号，请输入您本人的常用手机号 *#}
			<form id="form_box">
				<div class="tel_box">
					<div class="left_area">
						<span>+86</span>
						<i></i>
						<input type="hidden" name="areaCode" id="areaCode"  value="86" />
					</div>
					<div class="right_tel">
						<input type="tel" placeholder="{#$langData['business'][1][0]#}" id="tel" name="tel" >   {#* 手机号 *#}
						<i class="code_tip">{#$langData['business'][1][42]#}</i>   {#* 验证码错误 *#}
					</div>
					<!-- 区号弹出层 s -->
					<div class="areaList" id="areaList">
					    <ul></ul>
					</div>
					<i class="fn-line"></i>
				</div>
				<div class="code_box">
					<div class="right_tel">
						<input type="text" placeholder="{#$langData['business'][1][2]#}" id="code" name="code" >  {#* 验证码 *#}
						<i class="code_tip">{#$langData['business'][1][42]#}</i>  {#* 验证码错误 *#}
					</div>
					<button type="button" class="acc_code">{#$langData['business'][1][1]#}</button>  {#* 获取 *#}
					<i class="fn-line"></i>
				</div>
				<button type="button" class="disabled sure_btn">{#$langData['business'][1][3]#}</button>  {#* 确认 *#}
			</form>
		</div>
		 {#include file="{#$HUONIAOROOT#}/templates/member/public-pay-pop.html"#}
		<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>
		<script type='text/javascript' src='{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}'></script>
		{#if $cfg_geetest#}
		{#if $cfg_geetest == 1#}
		<script type="text/javascript" src="{#$cfg_secureAccess#}static.geetest.com/static/tools/gt.js"></script>
		{#/if#}
		<script type="text/javascript" src="{#$cfg_staticPath#}js/captchaVerify.js?v={#$cfg_staticVersion#}"></script>
		{#/if#}
		<script type="text/javascript" src="{#$templets_skin#}js/noscroll.js?v={#$cfg_staticVersion#}"></script>
		<script type="text/javascript" src="{#$templets_skin#}js/enter_single.js?v={#$cfg_staticVersion#}"></script>
	</body>
</html>
