{#include file="sidebar.html"#}
<script>
	var map_city = '{#$cfg_mapCity#}', site_map = "{#$site_map#}";
</script>
<div class="main">
	<ul class="main-tab"><li class="curr"><a href="{#getUrlPath service='member' type='user' template='fabu-pension-elderly'#}">{#$langData['siteConfig'][38][62]#}</a></li></ul>  {#* 老人信息 *#}
	<div class="box">
		<div class="step2 w-form">
			<form name="fabuForm" id="fabuForm" method="post" action="{#$cfg_basehost#}/include/ajax.php?service=pension&action=elderlyConfig">
				{#if $pensionState==1#}
					{#if $detail_state == 0#}
						<p class="state0">{#$langData['siteConfig'][16][168]#}</p>{#* 您的资料正在审核中，请耐心等待 *#}
					{#elseif $detail_state == 2#}
						<p class="state2">{#$langData['siteConfig'][28][12]#}</p>{#* 您的入驻申请已被拒绝，请重新提交 *#}
					{#/if#}
				{#/if#}
				<dl class="fn-clear" data-required="1">
					<dt><span>*</span>{#$langData['siteConfig'][38][63]#}：</dt>  {#* 老人姓名 *#}
					<dd>
						<input type="text" name="elderlyname" class="inp" id="elderlyname" size="20" maxlength="50" data-title="{#$langData['siteConfig'][38][64]#}" value="{#$detail_elderlyname#}" />  {#* 请输入老人姓名 *#}
						<span class="tip-inline"></span>
					</dd>
				</dl>
				<dl class="fn-clear" data-required="1">
					<dt>{#$langData['siteConfig'][19][7]#}：</dt>  {#* 性别 *#}
					<dd>
						<div class="radio">
							<span data-id="0" {#if $detail_sex==0#}class="curr"{#/if#}>	{#$langData['siteConfig'][13][5]#}</span>  {#* 女 *#}
							<span data-id="1" {#if $detail_sex==1#}class="curr"{#/if#}>	{#$langData['siteConfig'][13][4]#}</span>  {#* 男 *#}
							<input type="hidden" name="sex" id="sex" value="{#$detail_sex#}">
						</div>
					</dd>
				</dl>
				<dl class="fn-clear" data-required="1">
					<dt>{#$langData['siteConfig'][19][12]#}：</dt>  {#* 年龄 *#}
					<dd>
						<div class="input-prepend input-append mr10">
							<input id="price" name="age" type="text" size="4" maxlength="7" value="{#$detail_age#}">
						</div>
					</dd>
				</dl>
				<dl class="fn-clear">
					<dt>{#$langData['siteConfig'][19][13]#}：</dt>  {#* 头像 *#}
					<dd class="thumb fn-clear listImgBox">
						<div class="uploadinp filePicker thumbtn{#if $detail_photo != ""#} fn-hide{#/if#}" id="filePicker1" data-type="thumb"  data-count="1" data-size="{#$thumbSize#}" data-imglist=""><div></div><span></span></div>
						{#if $detail_photo != ""#}
						<ul id="listSection1" class="listSection thumblist fn-clear" style="display:inline-block;"><li id="WU_FILE_0_1"><a href='{#$detail_photoSource#}' target="_blank" title=""><img alt="" src="{#changeFileSize url="$detail_photoSource" type="small"#}" data-val="{#$detail_photo#}"/></a><a class="reupload li-rm" href="javascript:;">{#$langData['siteConfig'][19][176]#}</a></li></ul>{#* 删除图片 *#}
						{#else#}
						<ul id="listSection1" class="listSection thumblist fn-clear"></ul>
						{#/if#}
						<div>
							<div class="variable variable-2 variable-3" style="font-size:14px;color:#999;">{#$langData['siteConfig'][31][1]#}</div>{#* 本地上传视频可以不上传缩略图，系统将会选取视频第一帧作为封面（会有一定延迟） *#}
						</div>
						<input type="hidden" name="photo" value="{#$detail_photo#}" class="imglist-hidden">
					</dd>
				</dl>
				<dl class="fn-clear" data-required="1">
					<dt>{#$langData['siteConfig'][38][65]#}：</dt>  {#* 期望入住形式 *#}
					<dd>
						<div class="radio">
							{#loop service="pension" action='accommodation_type' return='type'#}
							<span data-id="{#$type.id#}" {#if $detail_accommodation==$type.id#}class="curr"{#/if#}>	{#$type.typename#}</span>
							{#/loop#}
							<input type="hidden" name="accommodation" id="accommodation" value="{#$detail_accommodation#}">
						</div>
					</dd>
				</dl>
				<dl class="fn-clear">
					<dt><span>*</span>{#$langData['siteConfig'][38][66]#}：</dt>  {#* 期望养老地域 *#}
					<dd id="selAddr">
					<div class="sel-group" data-title="{#$langData['siteConfig'][20][68]#}">
						<div class="city-title addrBtn" data-field="addrid" data-ids="{#getPublicParentInfo tab='site_area' id=$detail_addrid split=' '#}" data-id="{#$detail_addrid#}">{#if $detail_addrid#}{#getPublicParentInfo tab='site_area' id=$detail_addrid type='typename' split='/'#}{#else#}{#$langData['siteConfig'][7][2]#}{#/if#}</div>{#* 请选择 *#}
					</div>
						<input type="hidden" name="addrid" id="addrid" value="{#$detail_addrid#}" />
						<input type="hidden" name="cityid" id="cityid" value="{#$detail_cityid#}" />
						<span class="tip-inline"></span>
					</dd>
				</dl>
				<dl class="single fn-clear">
					<dt>{#$langData['siteConfig'][19][35]#}：</dt>  {#* 详细地址 *#}
					<dd>
						<input class="inp" type="text" name="address" id="addr" data-title="{#$langData['siteConfig'][38][81]#}" value="{#$detail_address#}">  {#* 请填写详细地址 *#}
						<img src="/static/images/admin/markditu.jpg" id="mark" title="{#$langData['siteConfig'][6][92]#}">  {#* 标注地图位置 *#}
						<input type="hidden" name="lnglat" id="lnglat" value="{#$detail_lnglat#}">
					</dd>
				</dl>
				<dl class="fn-clear" data-required="1">
					<dt>{#$langData['siteConfig'][38][67]#}：</dt>  {#* 入住费用预算低价 *#}
					<dd>
						<div class="input-prepend input-append mr10">
							<input id="rzminprice" name="rzminprice" type="text" size="4" maxlength="7" data-title="{#$langData['siteConfig'][20][479]#}" value="{#$detail_rzminprice#}">  {#* 价格必须为数字型 *#}
							<span class="add-aft">{#$langData['car'][6][20]#}</span>{#* 万 *#}
						</div>
						<div class="input-prepend input-append mr10">
							<span class="add-bef">{#$langData['siteConfig'][38][68]#}</span>  {#* 高价 *#}
							<input id="rzmaxprice" name="rzmaxprice" type="text" size="4" maxlength="3" onkeyup="value=value.replace(/\D+/ig,'')" value="{#$detail_rzmaxprice#}">
							<span class="add-aft">{#$langData['car'][6][20]#}</span>{#* 万 *#}
						</div>
						<span class="tip-inline"></span>
					</dd>
				</dl>
				<dl class="fn-clear" data-required="1">
					<dt>{#$langData['siteConfig'][38][69]#}：</dt>  {#* 月费用预算低价 *#}
					<dd>
						<div class="input-prepend input-append mr10">
							<input id="monthminprice" name="monthminprice" type="text" size="4" maxlength="7" data-title="{#$langData['siteConfig'][20][479]#}" value="{#$detail_monthminprice#}">  {#* 价格必须为数字型 *#}
							<span class="add-aft">{#echoCurrency type="short"#}</span>
						</div>
						<div class="input-prepend input-append mr10">
							<span class="add-bef">{#$langData['siteConfig'][38][68]#}</span>  {#* 高价 *#}
							<input id="monthmaxprice" name="monthmaxprice" type="text" size="4" maxlength="3" onkeyup="value=value.replace(/\D+/ig,'')" value="{#$detail_monthmaxprice#}">
							<span class="add-aft">{#echoCurrency type="short"#}</span>
						</div>
						<span class="tip-inline"></span>
					</dd>
				</dl>
				<dl class="fn-clear" data-required="1">
					<dt><span>*</span>{#$langData['siteConfig'][19][642]#}：</dt>  {#* 联系人 *#}
					<dd>
						<input type="text" name="people" class="inp" id="people" size="20" maxlength="50" data-title="{#$langData['siteConfig'][27][138]#}" value="{#$detail_people#}" />  {#* 请输入联系人 *#}
						<span class="tip-inline"></span>
					</dd>
				</dl>
				<dl class="fn-clear" data-required="1">
					<dt><span>*</span>{#$langData['siteConfig'][19][424]#}：</dt>  {#* 联系方式 *#}
					<dd class="fn-clear">
						<span class="areaCode"><i>+{#if $detail_areaCode#}{#$detail_areaCode#}{#else#}{#$internationalPhoneSection[0]['code']#}{#/if#}</i><s></s></span>
						<input type="text" name="tel" class="inp" id="tel" size="20" maxlength="50" data-title="{#$langData['siteConfig'][20][412]#}" value="{#$detail_tel#}" />  {#* 请输入联系方式 *#}
						<span class="tip-inline"></span>
						<!--国际区号弹窗-->
						<div class="areaCode_wrap">
							<ul>
								
							</ul>
						</div>
						<input type="hidden" name="areaCode" id="areaCode" value="{#if $detail_areaCode#}{#$detail_areaCode#}{#else#}{#$internationalPhoneSection[0]['code']#}{#/if#}">
					</dd>
				</dl>
				<dl class="fn-clear" data-required="1">
					<dt><span>*</span>{#$langData['siteConfig'][27][139]#}：</dt>  {#* 微信 *#}
					<dd>
						<input type="text" name="wx" class="inp" id="wx" size="20" maxlength="50" data-title="{#$langData['siteConfig'][38][70]#}" value="{#$detail_wx#}" />  {#* 请输入微信 *#}
						<span class="tip-inline"></span>
					</dd>
				</dl>
				<dl class="fn-clear" data-required="1">
					<dt><span>*</span>{#$langData['siteConfig'][3][0]#}：</dt>  {#* 邮箱 *#}
					<dd>
						<input type="text" name="email" class="inp" id="email" size="20" maxlength="50" data-title="{#$langData['siteConfig'][38][73]#}" value="{#$detail_email#}" />  {#* 请输入邮箱 *#}
						<span class="tip-inline"></span>
					</dd>
				</dl>
				<dl class="fn-clear" data-required="1">
					<dt><span>*</span>{#$langData['siteConfig'][38][71]#}：</dt>  {#* 亲属关系 *#}
					<dd>
						<input type="text" name="relationship" class="inp" id="relationship" size="40" maxlength="50" data-title="{#$langData['siteConfig'][38][72]#}" value="{#$detail_relationship#}" />  {#* 请输入亲属关系 *#}
						<span class="tip-inline"></span>
					</dd>
				</dl>
				<dl class="fn-clear" data-required="1">
					<dt>{#$langData['siteConfig'][38][74]#}：</dt>  {#* 照护对象 *#}
					<dd>
						<div class="radio">
							{#loop service="pension" action='pensionitem' type='1' return='type'#}
							<span data-id="{#$type.id#}" {#if $detail_targetcare==$type.id#}class="curr"{#/if#}>	{#$type.typename#}</span>
							{#/loop#}
							<input type="hidden" name="targetcare" id="targetcare" value="{#$detail_targetcare#}">
						</div>
					</dd>
				</dl>
				<dl class="fn-clear" data-required="1">
					<dt>{#$langData['siteConfig'][38][75]#}：</dt>  {#* 期望养老形式 *#}
					<dd>
						<div class="radio">
							{#loop service="pension" action='catid_type' return='type'#}
							<span data-id="{#$type.id#}" {#if $detail_catid==$type.id#}class="curr"{#/if#}>	{#$type.typename#}</span>
							{#/loop#}
							<input type="hidden" name="catid" id="catid" value="{#$detail_catid#}">
						</div>
					</dd>
				</dl>
				<dl class="single fn-clear">
					<dt>{#$langData['siteConfig'][38][76]#}：</dt>  {#* 期望养老级别 *#}
					<dd><textarea name="level" id="level" class="inp profile">{#$detail_level#}</textarea></dd>
				</dl>
				<dl class="single fn-clear">
					<dt>{#$langData['siteConfig'][38][77]#}：</dt>  {#* 个人情况 *#}
					<dd><textarea name="personalsituation" id="personalsituation" class="inp profile">{#$detail_personalsituation#}</textarea></dd>
				</dl>
				<dl class="single fn-clear">
					<dt>{#$langData['siteConfig'][38][78]#}：</dt>  {#* 疾病情况 *#}
					<dd><textarea name="situation" id="situation" class="inp profile">{#$detail_situation#}</textarea></dd>
				</dl>
				<dl class="single fn-clear">
					<dt>{#$langData['siteConfig'][38][79]#}：</dt>  {#* 需求说明 *#}
					<dd><textarea name="desc" id="desc" class="inp profile">{#$detail_desc#}</textarea></dd>
				</dl>
              	<dl class="fn-clear" data-required="1">
					<dt>{#$langData['siteConfig'][38][80]#}：</dt>  {#* 开关 *#}
					<dd>
						<div class="radio">
							<span data-id="0" {#if $detail_switch==0#}class="curr"{#/if#}>	{#$langData['siteConfig'][6][23]#}</span>  {#* 关闭 *#}
							<span data-id="1" {#if $detail_switch==1#}class="curr"{#/if#}>	{#$langData['siteConfig'][6][24]#}</span>  {#* 开启 *#}
							<input type="hidden" name="switch" id="switch" value="{#$detail_switch#}">
						</div>
					</dd>
				</dl>
				<dl class="fn-clear">
					<dt>&nbsp;</dt>
					<dd><button class="submit" id="submit">{#if $id == 0#}{#$langData['siteConfig'][11][0]#}{#else#}{#$langData['siteConfig'][6][122]#}{#/if#}</button></dd>  {#* 发布 *#}
				</dl>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript" src="{#$cfg_staticPath#}js/publicAddr.js?v={#$cfg_staticVersion#}"></script>


