{#if $type == "demand"#}
{#$type_ = "demand"#}
{#$ptitle = $langData['siteConfig'][23][49]#}{#* 求租、求购 *#}
{#elseif $type == "qzu" || $type == "qgou"#}
{#$type_ = $type#}
{#$type = "demand"#}
{#$ptitle = $langData['siteConfig'][23][49]#}{#* 求租、求购 *#}
{#elseif $type == "sale"#}
{#$ptitle = $langData['siteConfig'][19][218]#}{#* 二手房 *#}
{#elseif $type == "zu"#}
{#$ptitle = $langData['siteConfig'][19][219]#}{#* 租房 *#}
{#elseif $type == "xzl"#}
{#$ptitle = $langData['siteConfig'][19][220]#}{#* 写字楼 *#}
{#elseif $type == "sp"#}
{#$ptitle = $langData['siteConfig'][19][221]#}{#* 商铺 *#}
{#elseif $type == "cf"#}
{#$ptitle = $langData['siteConfig'][19][222]#}{#* 厂房、仓库 *#}
{#elseif $type == "cw"#}
{#$ptitle = $langData['siteConfig'][31][7]#}{#* 车位 *#}
{#elseif $type == "baobei"#}
{#$ptitle = '报备'#}{#* 报备 *#}
{#/if#}
{#if $type!='baobei'#}
<script type="text/javascript">
	var service = "house";
	var payReturn = "{#getUrlPath service='member' type='user' template='manage' action='house' dopost=$type#}";
	var geetest = {#$cfg_geetest#};
	var customFabuCheckPhone = {#$customFabuCheckPhone#};
	var zjusercom = '{#$zjusercom#}'; //是否是经纪人
	var mcenterUrl = '{#$member_userDomain#}';
	var usermoney = '{#$userinfo.money#}';
	var ordernum = '';
    if(typeof(zjusercom)!='undefined' && zjusercom=='1'){
    	var htext = `
    		<div class="mpop_tip popup"></div>
			<div class="alertbox">
				<div class="alert_con">
					<h3>您当前不是经纪人，将以个人身份发布信息<br/>不能享受刷新置顶套餐服务</h3>
				</div>
				<div class="btns">
					<a href="javascript:;"  class="reset">继续发布</a>
					<a href="`+mcenterUrl+`/house_meallist.html"  class="sure">申请成为经纪人</a>
				</div>
			</div>
    	`
    	$("body").append(htext);

    	 //经纪人取消
	    $('body').delegate('.reset,.mpop_tip','click',function(){
	    	$(".mpop_tip").hide();
	    	$(".alertbox").hide();
	    });
    }

</script>

<ul class="main-tab">
	<li class="curr"><a href="javascript:;">{#if $do == "edit"#}{#$langData['siteConfig'][6][4]#}【{#$ptitle#}】{#$langData['siteConfig'][16][26]#}{#else#}{#$langData['siteConfig'][11][0]#}【{#$ptitle#}】{#$langData['siteConfig'][16][26]#}{#/if#}</a></li>{#* 修改-房源-发布 *#}
	<li><a href="{#getUrlPath service='member' type='user' template='manage' action='house' dopost=$type#}">{#$langData['siteConfig'][23][50]#}</a></li>{#* 我的全部房源 *#}
</ul>
{#else#}
<ul class="main-tab">
	<li class="curr"><a href="javascript:;">添加报备</a></li>
	<li ><a href="{#getUrlPath service='member' type='user' template='house_baobei'#}">报备管理</a></li>
</ul>

{#/if#}
<div class="w-form">
	<form name="fabuForm" id="fabuForm" method="post" action="/include/ajax.php?service=house&type={#$type#}&action={#if $do == "edit"#}edit&id={#$id#}{#else#}put{#/if#}" data-url="{#getUrlPath service='member' type='user' template='manage' action='house' dopost=$type#}">
		{#* 求租、求购 *#}
		{#if $type == "demand" || $type == "qzu" || $type == "qgou"#}

		{#include file="fabu-house-demand.html"#}

		{#* 其它正常情况 *#}
		{#else#}

		{#include file="fabu-house-$type.html"#}

		{#/if#}

		{#if $type!='baobei'#}
		<dl class="fn-clear">
			<dt>&nbsp;</dt>
			<dd><button class="submit" type="submit" id="submit">{#if $id == 0#}{#$langData['siteConfig'][11][19]#}{#else#}{#$langData['siteConfig'][6][122]#}{#/if#}</button></dd>{#* 立即发布--提交修改 *#}
		</dl>
		{#else#}
		<dl class="fn-clear">
			<dt>&nbsp;</dt>
			<dd><button class="submit" type="button" id="submit">立即报备</button></dd>
		</dl>
		{#/if#}
	</form>
</div>
<script>
var zjuserMealInfo = '{#$zjuserMealInfo#}';
var buymealUrl = '{#getUrlPath service='member' type='user' template='house_meallist'#}';
</script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/publicAddr.js?v={#$cfg_staticVersion#}"></script>
{#if $cfg_geetest#}
{#if $cfg_geetest == 1#}
<script type="text/javascript" src="{#$cfg_secureAccess#}static.geetest.com/static/tools/gt.js"></script>
{#/if#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/captchaVerify.js?v={#$cfg_staticVersion#}"></script>
{#/if#}
{#if $type != 'baobei'#}
<script src="{#$templets_skin#}js/fabu-house-codetest.js?v={#$cfg_staticVersion#}"></script>
{#/if#}
