
<ul class="main-tab">
	<li class="curr"><a href="javascript:;">家教信息</a></li>{#* 家教信息 *#}
	<li><a href="{#getUrlPath service='member' type='user' template='fabu-education'  action='setup'#}">{#$langData['education'][4][41]#}</a></li>{#* 授课设置 *#}
</ul>

<div class="w-form" id="educationForm" >
	{#if $educationState == 1#}
    {#if $detail_state == 0#}
    <p class="state0" style="color: #f00">{#$langData['education'][7][9]#}</p> <!-- 审核中 -->
    {#elseif $detail_state == 2#}
    <p class="state0" style="color: #f00">{#$langData['education'][7][10]#}</p>  <!-- 审核失败 -->
    {#/if#}
    {#/if#}
	<form name="fabuForm" id="fabuForm" method="post" action="/include/ajax.php?service=education&action=operTutor&type=1">
		<h2 class="comTit">基本信息</h2>
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>{#$langData['education'][0][40]#}：</dt>{#* 姓名 *#}
			<dd>
				<input type="text" name="username" class="inp" id="title" size="60" maxlength="50" data-title="{#$langData['siteConfig'][0][8]#}" value="{#$detail_username#}" />{#* 请填写姓名 *#}
				<span class="tip-inline"></span>
			</dd>
		</dl>
		

		<dl class="fn-clear">
			<dt><span>*</span>{#$langData['siteConfig'][19][7]#}：</dt> {#* 性别 *#}
			<dd>
				<div class="radio">

					<span data-id="0" {#if $detail_sex == 0#}class="curr"{#/if#} >{#$langData['siteConfig'][13][5]#}</span> {#*女*#}
					<span data-id="1" {#if $detail_sex == 1#}class="curr"{#/if#}>{#$langData['siteConfig'][13][4]#}</span> {#*男*#}

					<input type="hidden" name="sex" value="{#$detail_sex#}" id="usersex" />
				</div>
				<span class="tip-inline"></span>
			</dd>
		</dl>
		{#* 所在区域 *#}
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>{#$langData['siteConfig'][19][27]#}：</dt>
			<dd id="selAddr">
				<div class="sel-group" data-title="{#$langData['siteConfig'][20][68]#}">
					<div class="addrBtn carAddrbtn" data-field="addrid" data-ids="{#getPublicParentInfo tab='site_area' id=$detail_addrid split=' '#}" data-id="{#$detail_addrid#}">{#if $detail_addrid#}{#getPublicParentInfo tab='site_area' id=$detail_addrid type='typename' split='/'#}{#else#}{#$langData['siteConfig'][7][2]#}{#/if#}</div>
				</div>
				<input type="hidden" name="addrid" id="addrid" value="{#$detail_circleAddrid#}" />
				<input type="hidden" name="cityid" id="cityid" value="{#$detail_cityid#}" />
				<span class="tip-inline"></span>
			</dd>
		</dl>

		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>{#$langData['education'][7][11]#}：</dt>{#* 课程分类 *#}
			<dd>
				<div class="down-div">
					<div class="time-div">
						{#*请选择 *#}
		                <input type="text" id="typename" class="inp" autocomplete="off" placeholder="{#$langData['siteConfig'][7][2]#}" value="{#if $detail_catid#}{#$detail_catname#}{#/if#}" data-title="请选择课程分类" readonly>
		            </div>{#*请选择课程分类 *#}

					<div class="time_choose fn-clear">
		                <div class="pro-choose ">
		                	{#loop service="education" action="educationtype" value=1 return="type"#}
		                    <p {#if $detail_typeid == $type.id#}class="curr"{#/if#}> <a href="javascript:;" data-id="{#$type.id#}">{#$type.value#}</a> </p>
		                    {#/loop#}
		                </div>
		            </div>
		            <span class="caret"></span>
		            <input type="hidden" name="catid" id="catid" value="{#$detail_catid#}">
		        </div>
				<span class="tip-inline"></span>
			</dd>
		</dl>

		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>上传头像：</dt>{#* 上传头像 *#}
			<dd class="thumb fn-clear listImgBox fn-hide">
				<div class="uploadinp filePicker thumbtn{#if $detail_photo != ""#} fn-hide{#/if#}" id="filePicker1" data-type="thumb"  data-count="1" data-size="{#$thumbSize#}" data-imglist=""><div></div><span></span></div>

				{#if $detail_photo != ""#}
				<ul id="listSection1" class="listSection thumblist fn-clear" style="display:inline-block;">
					<li id="WU_FILE_0_1">
						<a href='{#$detail_photoSource#}' target="_blank" title=""><img alt="" src="{#$detail_photoSource#}"  data-val="{#$detail_photo#}"/></a>
						<a class="reupload li-rm" href="javascript:;">{#$langData['siteConfig'][19][176]#}</a>{#* 删除图片 *#}
					</li>
				</ul>
				{#else#}
				<ul id="listSection1" class="listSection thumblist fn-clear"></ul>
				{#/if#}
				<input type="hidden" name="photo" value="{#$detail_photo#}" class="imglist-hidden" id="photo">
			</dd>
		</dl>

		<h2 class="comTit comTit2">{#$langData['education'][1][20]#}</h2>  {#*教育背景*#}
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>{#$langData['education'][2][15]#}：</dt>{#* 毕业院校 *#}
			<dd>
				<input type="text" name="university" class="inp" id="school_name" size="60" maxlength="50" data-title="{#$langData['education'][5][24]#}" value="{#$detail_university#}" />{#* 请填写毕业院校 *#}
				<span class="tip-inline"></span>
			</dd>
		</dl>

		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>{#$langData['education'][2][16]#}：</dt>{#* 最高学历 *#}
			<dd>
				<div class="down-div">
					<div class="time-div">
						{#*请选择 *#}
		                <input type="text" id="educationname" class="inp" autocomplete="off" placeholder="{#$langData['siteConfig'][7][2]#}" value="{#if $detail_education#}{#$detail_educationname#}{#/if#}" data-title="请选择最高学历" readonly>
		            </div>{#*请选择最高学历 *#}

					<div class="time_choose fn-clear">
		                <div class="pro-choose ">
		                	{#loop service="education" action="educationitem" value=1 type=1 return="type"#}
		                    <p {#if $detail_typeid == $type.id#}class="curr"{#/if#}> <a href="javascript:;" data-id="{#$type.id#}">{#$type.value#}</a> </p>
		                    {#/loop#}
		                </div>
		            </div>
		            <span class="caret"></span>
		            <input type="hidden" name="education" id="educations" value="{#$detail_education#}">
		        </div>
				<span class="tip-inline"></span>
			</dd>
		</dl>

		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>{#$langData['education'][1][17]#}：</dt>{#* 教龄 *#}
			<dd>
				<div class="down-div">
					<div class="time-div">
						{#*请选择 *#}
		                <input type="text" id="teachingagename" class="inp" autocomplete="off" placeholder="{#$langData['siteConfig'][7][2]#}" value="{#if $detail_teachingage#}{#$detail_teachingagename#}{#/if#}" data-title="请选择教龄" readonly>
		            </div>{#*请选择教龄 *#}

					<div class="time_choose fn-clear">
		                <div class="pro-choose ">
		                	{#loop service="education" action="educationitem" value=1 type=2 return="type"#}
		                    <p {#if $detail_typeid == $type.id#}class="curr"{#/if#}> <a href="javascript:;" data-id="{#$type.id#}">{#$type.value#}</a> </p>
		                    {#/loop#}
		                </div>
		            </div>
		            <span class="caret"></span>
		            <input type="hidden" name="teachingage" id="teachingage" value="{#$detail_teachingage#}">
		        </div>
				<span class="tip-inline"></span>
			</dd>
		</dl>

		{#* 教学科目 *#}
		<dl class="fn-clear add_feature">
            <dt><span>*</span>{#$langData['education'][1][27]#}：</dt>
            <dd>
                <div class="tags" id="tags">
                    {#if $detail_subjects#}
                    {#$subArr = ","|explode:$detail_subjects#}
                    {#foreach from=$subArr key=k item=tag#}
                    <span class="tag" data-val="{#$tag#}">{#$tag#}<button class="close" type="button">×</button></span>
                    {#/foreach#}
                    {#/if#}
                    <input id="tag_shop" type="text" value="{#$detail_subjects#}" name="subjects" style="display: none;"/>
                    <input type="text" placeholder="请输入精简描述，例：少儿英语" class="tags_enter" autocomplete="off"/>
                </div>
            </dd>
		</dl>

		<h2 class="comTit comTit2">认证资料</h2>
		<dl class="fn-clear">
			<dt>{#$langData['education'][5][27]#}：</dt> {#*实名认证*#}
			<dd>
				<div class="f-body fn-clear">
					<div class="license-item listImgBox">
						<input type="hidden" name="idcardFront" id="idcardFront" value="{#$detail_idcardFront#}">
						<ul id="listSection2" class="listSection thumblist fn-clear">{#if $detail_idcardFront#}<li id="WU_FILE_02" class="pubitem"><a href="{#$detail_idcardFrontSource#}" target="_blank" title="" class="enlarge"><img src="{#$detail_idcardFrontSource#}" data-val="{#$detail_idcardFront#}" data-url="{#$detail_idcardFront#}"></a><a class="reupload li-rm" href="javascript:;">{#$langData['siteConfig'][19][176]#}</a></li>{#/if#}</ul>{#* 删除图片 *#}
						<div class="up_area filePicker thumbtn" id="filePicker2" data-type="thumb" data-count="1" data-size="{#$thumbSize#}" data-imglist="">
							<div class="pic"><span class="l1"></span><span class="l2"></span></div>
							<p class="tit">{#$langData['education'][5][28]#}</p> {#* 点击上传身份证正面 *#}
						</div>
						
					</div>
					<div class="license-item listImgBox">
						<input type="hidden" name="idcardBack" id="idcardBack" value="{#$detail_idcardBack#}">
						<ul id="listSection3" class="listSection thumblist fn-clear">{#if $detail_idcardBack#}<li id="WU_FILE_03" class="pubitem"><a href="{#$detail_idcardBackSource#}" target="_blank" title="" class="enlarge"><img src="{#$detail_idcardBackSource#}" data-val="{#$detail_idcardBack#}" data-url="{#$detail_idcardBack#}"></a><a class="reupload li-rm" href="javascript:;">{#$langData['siteConfig'][19][176]#}</a></li>{#/if#}</ul>
						<div class="up_area filePicker thumbtn" id="filePicker3" data-type="thumb" data-count="1" data-size="{#$thumbSize#}" data-imglist="">
							<div class="pic"><span class="l1"></span><span class="l2"></span></div>
							<p class="tit">{#$langData['education'][5][29]#}</p> {#* 点击上传身份证背面 *#}
						</div>
						
					</div>
				</div>
			</dd>
		</dl>

		<dl class="fn-clear">
			<dt>{#$langData['education'][5][30]#}：</dt> {#*学历认证*#}
			<dd>
				<div class="f-body fn-clear">
					<div class="license-item listImgBox">
						<input type="hidden" name="degree" id="degree" value="{#$detail_degree#}">
						<ul id="listSection4" class="listSection thumblist fn-clear">{#if $detail_degree#}<li id="WU_FILE_04" class="pubitem"><a href="{#$detail_degreeSource#}" target="_blank" title="" class="enlarge"><img src="{#$detail_degreeSource#}" data-val="{#$detail_degree#}" data-url="{#$detail_degree#}"></a><a class="reupload li-rm" href="javascript:;">{#$langData['siteConfig'][19][176]#}</a></li>{#/if#}</ul>{#* 删除图片 *#}
						<div class="up_area filePicker thumbtn" id="filePicker4" data-type="thumb" data-count="1" data-size="{#$thumbSize#}" data-imglist="">
							<div class="pic"><span class="l1"></span><span class="l2"></span></div>
							<p class="tit">{#$langData['education'][5][31]#}</p>  {#*点击上传学位证*#}
						</div>
						
					</div>
					<div class="license-item listImgBox">
						<input type="hidden" name="diploma" id="diploma" value="{#$detail_diploma#}">
						<ul id="listSection5" class="listSection thumblist fn-clear">{#if $detail_diploma#}<li id="WU_FILE_05" class="pubitem"><a href="{#$detail_diplomaSource#}" target="_blank" title="" class="enlarge"><img src="{#$detail_diplomaSource#}" data-val="{#$detail_diploma#}" data-url="{#$detail_diploma#}"></a><a class="reupload li-rm" href="javascript:;">{#$langData['siteConfig'][19][176]#}</a></li>{#/if#}</ul>
						<div class="up_area filePicker thumbtn" id="filePicker5" data-type="thumb" data-count="1" data-size="{#$thumbSize#}" data-imglist="">
							<div class="pic"><span class="l1"></span><span class="l2"></span></div>
							<p class="tit">{#$langData['education'][5][32]#}</p>  {#*点击上传毕业证*#}
						</div>
						
					</div>
				</div>
			</dd>
		</dl>
		

		<dl class="fn-clear">
			<dt>&nbsp;</dt>
			<dd><button class="submit" type="submit" id="submit" {#if $educationState == 1 && ($detail_state == 0 || $detail_state == 2)#}data-fabu="1"{#/if#}>{#if $educationState == 1 && ($detail_state == 0 || $detail_state == 2)#}提交审核{#else#}立即发布{#/if#}</button></dd>
		</dl>
	</form>
</div>

<script type="text/javascript" src="{#$cfg_staticPath#}js/publicAddr.js?v={#$cfg_staticVersion#}"></script>