<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>打印带访确认单 - {#$cfg_webname#}</title>
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<style>
#printPage {background: url('/include/attachment.php?f={#$receipt["image"]#}') no-repeat left top; width: {#$width#}px; height: {#$height#}px; position: relative; transform: scale(0.75); transform-origin: 0px 0px; margin-top: 6mm;}
#printPage .item {position: absolute; line-height: 1.2em;}
#printPage .item img {width: 100%; height: 100%; vertical-align: middle;}
</style>
</head>

<body>
<div id="printPage">
    {#foreach from=$receipt['data'] item=item#}
    <div class="item" style="width:{#$item.width#}px;height:{#$item.height#}px;left:{#$item.left#}px;top:{#$item.top#}px;font-size:{#$item.fontsize#}px;color:{#$item.color#};">
        {#if $item.id == 'name'#}
        {#$name#}
        {#elseif $item.id == 'tel'#}
        {#$tel#}
        {#elseif $item.id == 'channel'#}
        {#$channel#}
        {#elseif $item.id == 'seller'#}
        {#$seller#}
        {#elseif $item.id == 'time'#}
        {#$time#}
        {#elseif $item.id == 'note'#}
        {#$note#}
        {#elseif $item.id == 'loupan'#}
        {#$loupan#}
        {#elseif $item.id == 'custom'#}
            {#if $item.pic#}
            <img src="/include/attachment.php?f={#$item.pic#}" />
            {#else#}
            {#$item.note#}
            {#/if#}
        {#/if#}
    </div>
    {#/foreach#}
</div>
<script language="javascript">
    function remove_ie_header_and_footer() {
      let HKEY_Root, HKEY_Path, HKEY_Key;
      HKEY_Root = "HKEY_CURRENT_USER";
      HKEY_Path = "\\Software\\Microsoft\\Internet Explorer\\PageSetup\\";
      try {
        let RegWsh = new ActiveXObject("WScript.Shell");
        HKEY_Key = "header";
        RegWsh.RegWrite(HKEY_Root + HKEY_Path + HKEY_Key, "");
        HKEY_Key = "footer";
        RegWsh.RegWrite(HKEY_Root + HKEY_Path + HKEY_Key, "");
      }
      catch (e) {}
    }
    function printPage(printpage){
      if (!!window.ActiveXObject || "ActiveXObject" in window) {
        remove_ie_header_and_footer();
      }
      window.print();
      return false;
    }
</script>
</body>
</html>
