<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/manage-info.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/noscroll.js?v={#$cfg_staticVersion#}"></script>
{#$jili_bili = .1#}
<script type="text/javascript">
	var jili_bili = '{#$jili_bili#}';
	var usermoney = {#$userinfo.money#};
	var ordertype ='payEncourage';
</script>

<ul class="main-tab">
	<li data-id=""><a href="javascript:;">{#$langData['siteConfig'][19][391]#} (<span id="total">0</span>)</a></li>{#* 全部信息  *#}
	<li data-id="1"><a href="javascript:;">{#$langData['siteConfig'][19][392]#} (<span id="audit">0</span>)</a></li>{#* 已审核  *#}
	<li data-id="0"><a href="javascript:;">{#$langData['siteConfig'][9][21]#} (<span id="gray">0</span>)</a></li>{#* 未审核  *#}
	<li data-id="2"><a href="javascript:;">{#$langData['siteConfig'][9][35]#} (<span id="refuse">0</span>)</a></li>{#* 审核拒绝  *#}
	<li data-id="4"><a href="javascript:;">{#$langData['siteConfig'][9][29]#} (<span id="expire">0</span>)</a></li>{#* 已过期  *#}
	<li class="add"><a href="{#getUrlPath service='member' type='user' template='fabu' action='info'#}">{#$langData['siteConfig'][6][143]#}</a></li>{#* 发布信息  *#}
</ul>


<div class="extendMask"></div>
<div class="extendPop">
	<h2 class="popTit">{#$langData['info'][3][62]#} <a href="javascript:;" class="close_pop"></a></h2>
	<form action="/include/ajax.php?service=siteConfig&action=encourage" class="jiliForm setBox fn-hide"  id="formBox">{#* 用户激励 *#}
		{#if $hongbao#}
		<dl class="dlbox readBox">
			<dt>
				<div class="dt_left">
					<s class="icon"></s>
					<h5>{#$langData['info'][3][66]#}</h5>  {#* 阅读红包 *#}
					<p>{#$langData['info'][3][100]#}</p>  {#* 设置红包激发用户阅读与分享欲望 *#}
				</div>
				<div class="dt_gou"><input type="hidden" name="readInfo" value="0"></div>
			</dt>
			<dd>
				<ul>
					<li class="fn-clear inpItem">
						<label for="">{#$langData['info'][3][2]#}</label>  {#* 红包总额 *#}
						<div class="inp prefixInp"><span class="prefix">{#echoCurrency type="symbol"#}</span><input type="text" placeholder="0.00" name="hbAmount"></div>
					</li>
					<li class="fn-clear inpItem">
						<label for="">{#$langData['info'][4][3]#}</label>   {#* 红包个数 *#}
						<div class="inp ">{#* 请输入红包个数 *#}
							<input type="text" placeholder="{#$langData['info'][4][87]#}" name="hbNum">
							<div class="selectBox">
								<ul>
									<li></li>
								</ul>
							</div>
						</div>
					</li>
					<li class="fn-clear inpItem">
						<label for="">{#$langData['info'][4][88]#}</label>  {#* 设置口令 *#}
						<div class="inp "><input type="text" placeholder="{#$langData['info'][4][4]#}" name="hbMessage"></div>  {#* 填写后需输入口令才可领取 (选填) *#}
					</li>
				</ul>
			</dd>
		</dl>
		<dl class="dlbox readBox hasSet fn-hide">
			<dt>
				<div class="dt_left">
					<s class="icon"></s>
					<h5>{#$langData['info'][3][66]#}</h5>  {#* 阅读红包 *#}
				</div>
				<div id="hongbao"  class="hb_detail">
					{#$langData['info'][3][67]#}<b class="hb_left">{#echoCurrency type="symbol"#}<span>56.50</span></b>，{#$langData['info'][4][0]#}<b class="hbnum_left">5</b>{#* 红包余额  剩余个数 *#}
				</div>
			</dt>
			<dd>
				<ul>
					<li class="fn-clear inpItem">
						<label for="">{#$langData['info'][4][1]#}</label>  {#* 追加金额 *#}
						<div class="inp prefixInp"><span class="prefix">{#echoCurrency type="symbol"#}</span><input type="text" placeholder="0.00" name="addhbAmount"></div>
					</li>
					<li class="fn-clear inpItem">
						<label for="">{#$langData['info'][4][2]#}</label> {#* 追加个数 *#}
						<div class="inp ">
							<input type="text" placeholder="{#$langData['info'][4][87]#}" name="addhbnum">  {#* 请输入红包个数 *#}
							<div class="selectBox">
								<ul>
									<li>20 <s></s></li>
									<li>50 <s></s></li>
									<li>200 <s></s></li>
									<li>500 <s></s></li>
									<li>1000 <s></s></li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</dd>
		</dl>
		{#/if#}
		{#if $bao#}
		<dl class="dlbox sharejliBox ">
			<dt>
				<div class="dt_left">
					<s class="icon"></s>
					<h5>{#$langData['info'][3][71]#}</h5>   {#* 分享有奖 *#}
					<p>{#$langData['info'][4][9]#}</p>   {#* 设置分享奖励，转发传播率飞升的秘诀 *#}
				</div>
				<div class="dt_gou"><input type="hidden" name="shareInfo" value="0"></div>
			</dt>
			<dd>
				<ul>
					<li class="fn-clear inpItem">
						<label for="">{#$langData['info'][4][13]#}</label> {#* 奖励金额 *#}
						<div class="inp prefixInp"><span class="prefix">{#echoCurrency type="symbol"#}</span><input type="text" placeholder="0.88" name="shareAmount"></div>
					</li>
					<li class="fn-clear inpItem">
						<label for="">{#$langData['info'][4][15]#}</label>  {#* 奖励人次 *#}
						<div class="inp "><input type="text" placeholder="{#$langData['info'][4][89]#}" name="hbAddshareNum"></div> {#* 请输入奖励人次 *#}
					</li>

				</ul>
			</dd>
		</dl>
		<dl class="dlbox sharejliBox hasSet fn-hide">
			<dt>
				<div class="dt_left">
					<s class="icon"></s>
					<h5>{#$langData['info'][3][71]#}</h5>  {#* 分享有奖 *#}
				</div>
				<div class="hb_detail">
					{#$langData['info'][4][90]#}<b class="hb_left">{#echoCurrency type="symbol"#}<span>56.50</span></b>，{#$langData['info'][4][10]#}<b class="hbnum_left">5</b> {#* 每次金额 剩余次数 *#}
				</div>
			</dt>
			<dd>
				<ul>

					<li class="fn-clear inpItem">
						<label for="">{#$langData['info'][4][15]#}</label>  {#* 奖励人次 *#}
						<div class="inp "><input type="text" placeholder="{#$langData['info'][4][89]#}" name="shareAddNumber"></div> {#* 请输入奖励人次 *#}
					</li>

				</ul>
			</dd>
		</dl>
		{#/if#}
		<div class="bottom_btns">
			<p class="tip1 ">{#$langData['info'][4][91]#}</p>  {#* 两种激励方式任选，也可都设置效果翻倍！ *#}
			<p class="tip2 fn-hide">{#$langData['info'][3][85]#}<span>{#echoCurrency type="symbol"#}<em class="spendAmount">23.00</em></span>{#$langData['info'][4][92]|replace:"0":($jili_bili * 100|cat:'%')#}</p>{#* 预计花费 平台将收取0服务费*#}
			<p class="tip3 fn-hide">{#$langData['info'][4][93]#}</p> {#* 请填写需要追加奖励的项目 *#}
			<a href="javascript:;" class="publicpaybtn btn-check">{#$langData['info'][4][19]#}</a>{#* 塞钱进红包 *#}
		</div>
	</form>
	<div class="tips_set fn-hide">{#$langData['info'][3][85]#}<span>{#echoCurrency type="symbol"#}<em class="spendAmount">23.00</em></span>{#$langData['info'][4][92]|replace:"0":"10%"#}</div>{#* 预计花费 平台将收取0服务费*#}
	<div class="jiliShow ">
		<dl class="hbShow">
			<dt class="fn-clear">
				<h5>{#$langData['info'][3][66]#}</h5>    {#* 阅读红包 *#}
				<span class="set">{#$langData['info'][3][61]#}</span> {#* 已设置 *#}
			</dt>
			<dd>
				<ul class="item_show fn-clear">
					<li id="hongbaoPrice">
						<p>{#$langData['info'][3][67]#}</p>  {#* 红包余额 *#}
						<h6>{#echoCurrency type="symbol"#}<b>0.88</b></h6>
					</li>
					<li id="countHongbao">
						<p>{#$langData['info'][4][3]#}</p>  {#* 红包个数 *#}
						<h6><b>20</b></h6>
					</li>
					<li id="priceCount">
						<p>{#$langData['info'][3][68]#}(个)</p>  {#* 红包已领(个) *#}
						<h6><b>20</b></h6>
					</li>
					<li id="">
						<p>{#$langData['info'][4][94]#}</p>  {#* 增加阅读 *#}
						<h6><b>20</b></h6>
					</li>
				</ul>
				<div id="desc"  class="hbMsg">
					<p class="msg">聚会就去长谷深度沉浸密室</p>
					<a href="javascript:;" class="sethb">{#$langData['info'][3][70]#}</a>   {#* 修改口令 *#}
					<a href="javascript:;" class="save_msg">{#$langData['info'][4][95]#}</a>   {#* 保存 *#}
				</div>
			</dd>
		</dl>
		<dl class="shareShow">
			<dt class="fn-clear">
				<h5>{#$langData['info'][3][71]#}</h5>  {#* 分享有奖 *#}
				<span class="set">{#$langData['info'][3][61]#}</span> {#* 已设置 *#}
			</dt>
			<dd>
				<ul class="item_show fn-clear">
					<li id="rewardPrice">
						<p>{#$langData['info'][3][72]#}</p>{#* 奖励金额/次 *#}
						<h6>{#echoCurrency type="symbol"#}<b>0.88</b></h6>
					</li>
					<li id="countFenxiang">
						<p>{#$langData['info'][3][73]#}</p> {#* 已分享(人) *#}
						<h6><b>20</b></h6>
					</li>
					<li id="rewardCount">
						<p>{#$langData['info'][3][74]#}</p>  {#* 奖励剩余(次) *#}
						<h6><b>20</b></h6>
					</li>
					<li id="">
						<p>{#$langData['info'][4][94]#}</p>   {#* 增加阅读 *#}
						<h6><b>20</b></h6>
					</li>
				</ul>

			</dd>
		</dl>
		<div class="bottom_btns">
			<p class="tip1 fn-hide">{#$langData['info'][4][91]#}</p>{#* 两种激励方式任选，也可都设置效果翻倍！ *#}
			<p class="tip2">{#$langData['info'][3][75]#}</p> {#* 传播效果不错，红包剩余不多了哦 *#}
			<a href="javascript:;" class="addIn btn-check">{#$langData['info'][3][76]#}</a>  {#* 追加红包 *#}
		</div>
	</div>
</div>
<form action="/include/ajax.php" method="get" id="payEncourage">
	<input type="hidden" name="service" id="service" value="siteConfig">
	<input type="hidden" name="action" id="action" value="">
	<input type="hidden" name="type" id="type" value="">
	<input type="hidden" name="module" id="module" value="info">
	<input type="hidden" name="act" id="act" value="{#$act#}">
	<input type="hidden" name="paytype" id="paytype" value="{#$paytype#}">
	<input type="hidden" name="aid" id="aid" value="{#$id#}" />
	<input type="hidden" name="amount" id="amount" value="" />
	<input type="hidden" name="useBalance" id="useBalance" value="" />
	<input type="hidden" name="config" id="config" value="" />
	<input type="hidden" name="tourl" id="tourl" value="{#$tourl#}" />
</form>
