<ul class="main-tab" data-url="">
	<li data-id="" class="curr"><a href="{#getUrlPath service='member' type='user' template='travel' action='strategy'#}">{#$langData['siteConfig'][51][21]#}</a></li>{#* 旅游攻略  *#}
	<li data-id="1"><a href="{#getUrlPath service='member' type='user' template='travel' action='video'#}">{#$langData['siteConfig'][51][20]#}</a></li>{#* 旅游视频  *#}
	<li class="add"><a href="{#getUrlPath service='member' type='user' template='fabu-travel' action='strategy'#}" target="_blank">{#$langData['siteConfig'][6][143]#}</a></li>{#* 发布信息  *#}
</ul>
<ul class="navTab">
	<li data-id=""><a href="javascript:;">{#$langData['siteConfig'][9][0]#} (<span id="total">0</span>)</a></li>{#* 全部  *#}
	<li data-id="1"><a href="javascript:;">{#$langData['siteConfig'][19][556]#} (<span id="audit">0</span>)</a></li>{#* 待审核  *#}
	<li data-id="0"><a href="javascript:;">{#$langData['siteConfig'][26][73]#} (<span id="gray">0</span>)</a></li>{#* 审核通过  *#}
	<li data-id="2"><a href="javascript:;">{#$langData['siteConfig'][9][35]#} (<span id="refuse">0</span>)</a></li>{#* 审核拒绝  *#}
</ul>