<div class="fixedwrap FestivalAD_header">
    <div class="fixedpane">
        <!-- head s -->
        <div class="wrap header fn-clear">
            <div class="logo">
                <a href="{#$marry_channelDomain#}" title="{#$marry_channelName#}"><img src="{#$marry_logoUrl#}" alt="{#$marry_channelName#}" /></a>
            </div>
            <div class="searchwrap y-linear">
                <div class="search">
                    <div class="FormBox">
                        <form action="{#getUrlPath service='marry' template='search_list'#}" class="form">
                            {#*输入您想搜索的关键词*#}
                            <div class="inpbox"><input type="text" name="keywords" class="searchkey" placeholder="{#$langData['marry'][8][56]#}" value="{#$keywords#}" /></div>
                            <input type="hidden" name="contype" value="1">
                            {#*搜索*#}
                            <div class="subbox search-btn">
                                <input type="submit" class="submit" value="{#$langData['siteConfig'][6][109]#}">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="searchkey searchkeys">
                    {#*热门搜索*#}
                    <span>{#$langData['marry'][8][57]#}：</span>
                    {#siteConfig module="marry" action="hotkeywords" return="hotkeywords"#}
                    <a href="{#$hotkeywords.href#}"{#if $hotkeywords.target==0#} target="_blank"{#/if#}>{#$hotkeywords.keyword#}</a>
                    {#/siteConfig#}
                </div>
            </div>

            <div class="infobox">
                {#*商家入驻*#}
                <a href="{#$member_busiDomain#}" class="fbbox"><i class="ifabu"></i><span>{#$langData['siteConfig'][19][789]#}</span></a>
            </div>
            {#*客服热线*#}
            <div class="kefu"><s><img src="{#$templets_skin#}images/call.png?v={#$cfg_staticVersion#}"></s><p>{#$langData['siteConfig'][19][275]#}</p>{#$marry_hotline#}</div>
        </div>
        <!-- head e -->

        <div class="nav-con n-linear ">
            <div class="wrap fn-clear">
                <ul class="fn-clear nav_ul">
                    {#*首页*#}
                    <li class="active"><a href="{#$marry_channelDomain#}" {#if $pageCurr == "index"#} class="curr"{#/if#}>{#$langData['siteConfig'][0][0]#}</a></li>                    
                    <li><a href="{#getUrlPath service="marry" template="hotellist"#}" {#if $pageCurr == "hotellist"#} class="curr"{#/if#}>
                        {#$langData['marry'][2][13]#}</a>{#*婚宴酒店*#}
                    </li>
                    <li><a href="{#getUrlPath service="marry" template="list" typeid="9"#}" {#if $pageCurr == "planlist"#} class="curr"{#/if#}>
                        {#$langData['marry'][2][14]#}</a>{#*婚礼策划*#}
                    </li>

                    <li><a href="{#getUrlPath service="marry" template="list" typeid="4"#}" {#if $pageCurr == "videolist"#} class="curr"{#/if#}>
                        {#$langData['marry'][2][9]#}</a>{#*摄像跟拍*#}
                    </li>

                    <li><a href="{#getUrlPath service="marry" template="list" typeid="10"#}" {#if $pageCurr == "rentallist"#} class="curr"{#/if#}>
                        {#$langData['marry'][2][15]#}</a>{#*租婚车*#}
                    </li>
                    <li><a href="{#getUrlPath service="marry" template="list" typeid="1"#}" {#if $pageCurr == "photolist"#} class="curr"{#/if#}>
                        {#$langData['marry'][2][6]#}</a>{#*婚纱摄影*#}
                    </li>
                    <li><a href="{#getUrlPath service="marry" template="list" typeid="2"#}" {#if $pageCurr == "shootlist"#} class="curr"{#/if#}>
                        {#$langData['marry'][2][7]#}</a>{#*摄影跟拍*#}
                    </li>
                    <li><a href="{#getUrlPath service="marry" template="list" typeid="7"#}" {#if $pageCurr == "hostlist"#} class="curr"{#/if#}>
                        {#$langData['marry'][2][16]#}</a>{#*婚礼主持*#}
                    </li>
                    <li><a href="{#getUrlPath service="marry" template="list" typeid="3"#}" {#if $pageCurr == "jewelrylist"#} class="curr"{#/if#}>
                        {#$langData['marry'][2][8]#}</a>{#*珠宝首饰*#}
                    </li>
                    
                    <li><a href="{#getUrlPath service="marry" template="list" typeid="5"#}" {#if $pageCurr == "makeuplist"#} class="curr"{#/if#}>
                        {#$langData['marry'][2][10]#}</a>{#*新娘跟妆*#}
                    </li>
                    <li><a href="{#getUrlPath service="marry" template="list" typeid="6"#}" {#if $pageCurr == "dresslist"#} class="curr"{#/if#}>
                        {#$langData['marry'][2][11]#}</a>{#*婚纱礼服*#}
                    </li>
                    <li><a href="{#getUrlPath service="marry"  template="storelist"#}" {#if $pageCurr == "store"#} class="curr"{#/if#}>{#$langData['marry'][8][59]#}</a></li>  {#*找商家*#}   
                </ul>
            </div>
        </div>

    </div>
</div>
