<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>{#$langData['marry'][2][13]#}</title>   {#* 婚宴酒店 *#}
    <meta name="keywords" content="{#$marry_keywords#}" />
    <meta name="description" content="{#$marry_description#}" />
    <link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/list_filter.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/hotellist.css?v={#$cfg_staticVersion#}" media="all" />
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$marry_channelDomain#}', staticPath = '{#$cfg_staticPath#}';
        var hideFileUrl = {#$cfg_hideUrl#};
        var cookiePre = '{#$cfg_cookiePre#}', numArr = [];
    </script>

</head>

<body class="w1200">
{#$pageCurr = "hotellist"#}
{#include file="../../siteConfig/top1.html"#}
<!-- 导航 s-->
{#include file="header.html"#}

<!-- 导航 e-->
<div class="main_wrap">

    <div class="wrap crumbs fn-clear">
        {#* 婚宴酒店 *#}
        <div class="cont">
            <a href="javascript:;">{#$langData['marry'][8][68]#}</a> {#*您的位置：*#}
            <a href="{#$marry_channelDomain#}">{#$langData['siteConfig'][0][0]#}</a> {#*首页*#}
            <span>></span>
            {#$langData['marry'][2][13]#}
        </div>
    </div>
    <div class="adv_wrap wrap">
        <div class="slideBox slideBox1">
          <div class="slidewrap">
            <div class="slide">
              <div class="bd">
                <div class="slideobj">
                {#myad title="婚嫁_模板二_电脑端_列表_广告一" type="slide"#}
                </div>
              </div>
              <div class="hd"><ul></ul></div>
            </div>
          </div>
        </div>
    </div>
	<!-- 筛选 s-->
    <div class="filter_box wrap">
        <div class="filter">
            <!-- 区域 s-->
            <dl class="fn-clear" id="addr">
                <dt>{#$langData['marry'][6][0]#}：</dt>     {#* 酒店区域 *#}
                <dd class="chooseClass" data-chose="quyu">
                    <a href="{#getUrlPath service='marry' template='hotellist' param="addrid=0&business=0&typeid=$typeid&ctypeid=$ctypeid&price=$price&keywords=$keywords"#}" {#if $addrid == 0#} {#$addridName=$langData['marry'][5][39]#} class="curr" {#/if#}>{#$langData['marry'][5][39]#}
                    </a>                                       {#* 不限 *#}
                    {#marry action="addr" return="addr" son="once"#}
                    {#if $addr.id == $addrid#}
                    {#$addridName = $addr.typename#}
                    {#/if#}
                    <a href="{#getUrlPath service='marry' template='hotellist'
                    param="addrid={#$addr.id#}&business=0&typeid=$typeid&order$order&price=$price" #}" data-id="{#$addr.id#}" {#if $addrid == $addr.id#} class="curr"{#/if#}>{#$addr.typename#}{#if $addr.lower#}{#/if#}</a>
                    {#/marry#}

                    {#if $addrid != 0#}
                    <div class="subnav fn-clear">
                        <div id="addr{#$addr1.id#}" class="chooseClass" data-chose="quyu_sub">
                            <a href="
                            {#getUrlPath service='marry' template='hotellist'
                            param="addrid=$addrid&business=0&typeid=$typeid&order$order&price=$price" #}"
                            data-id="{#$addr1.id#}" {#if $business == 0#} {#$businessName = '不限'#} class="curr" {#/if#}>{#$langData['marry'][3][17]#}</a>      {#* 不限 *#}
                            {#marry action="addr" return="addr2" type=$addrid#}
                            {#if $addr2.id == $business#}
                            {#$businessName = $addr2.typename#}
                            {#/if#}
                            <a href="{#getUrlPath service='marry' template='hotellist' param="addrid=$addrid&business={#$addr2.id#}&typeid=$typeid&order$order&price=$price" #}" data-id="{#$addr2.id#}"
                            {#if $business==$addr2.id#} class="curr" {#/if#} >{#$addr2.typename#}</a>
                            {#/marry#}
                        </div>
                    </div>
                    {#/if#}
                </dd>
            </dl> 
            <!-- 区域 e-->
            <!-- 酒店类型 s -->
            <dl class="fn-clear">
                <dt>{#$langData['marry'][6][1]#}：</dt>     {#* 酒店类型 *#}
                <dd class="chooseClass" data-chose="study" id="studyChoose">
                    <a href="{#getUrlPath service='marry' template='hotellist' param="business=0&type=&price=$price&order=$orde"#}"{#if !$typeid#} class="curr"{#/if#}>{#$langData['marry'][5][39]#}</a>     {#* 不限 *#}
                    {#marry action="type" return="type"#}
                     <a href="{#getUrlPath service='marry' template='hotellist' param="business=0&type={#$type.id#}&price=&order=$orde"#}"{#if $typeid == $type.id#} class="curr"{#/if#} data-id="{#$type.id#}">{#$type.typename#}</a>
                    {#/marry#}
                </dd>
            </dl>
            <!-- 酒店类型 e -->
            <!-- 费用  s-->
            <dl class="fn-clear">
                <dt>{#$langData['marry'][6][2]#}：</dt>     {#* 每桌价格 *#}
                <dd class="chooseClass" data-chose="price" id="priceChoose">
                    <a href="{#getUrlPath service='marry' template='hotellist' param="business=0&type=$typeid&price=&order=$orde"#}" data-id=""     {#if $price==""#}  class="curr" {#/if#}>{#$langData['marry'][5][39]#}</a>      {#* 不限 *#}
                    <a href="{#getUrlPath service='marry' template='hotellist' param="business=0&type=$typeid&addrid=$addrid&price=,2000&order=$orde"#}" data-id=",2000" {#if $price==",2000"#}  class="curr" {#/if#} >2000{#echoCurrency type='short'#}以下</a>
                    <a href="{#getUrlPath service='marry' template='hotellist' param="business=0&type=$typeid&addrid=$addrid&price=2000,3000&order=$orde"#}" data-id="2000,3000" {#if $price=="2000,3000"#}  class="curr" {#/if#}>2000-3000{#echoCurrency type='short'#}</a>
                    <a href="{#getUrlPath service='marry' template='hotellist' param="business=0&type=$typeid&addrid=$addrid&price=3000,4000&order=$orde"#}" data-id="3000,4000" {#if $price=="3000,4000"#}  class="curr" {#/if#}>3000-4000{#echoCurrency type='short'#}</a>
                    <a href="{#getUrlPath service='marry' template='hotellist' param="business=0&type=$typeid&addrid=$addrid&price=4000,5000&order=$orde"#}" data-id="4000,5000" {#if $price=="4000,5000"#}  class="curr" {#/if#}>4000-5000{#echoCurrency type='short'#}</a>
                    <a href="{#getUrlPath service='marry' template='hotellist' param="business=0&type=$typeid&addrid=$addrid&price=5000,&order=$order"#}" data-id="5000," {#if $price=='5000,'#}   class="curr" {#/if#}>5000{#echoCurrency type='short'#}以上</a>

                    <div class="inpbox inp_price">
                        <input type="input" class="p1" id="priceLow" placeholder="{#echoCurrency type='symbol'#}" maxlength="6" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"><em>-</em>
                        <input type="input" class="p2" id="priceTop" placeholder="{#echoCurrency type='symbol'#}" maxlength="6" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');">
                        <button class="btn btn_price" id="price_sure">{#$langData['siteConfig'][6][1]#}</button>      {#* 确定 *#}
                        {#if $priceArr[0] !=0 &&  $priceArr[1] ==0#}
                        {#$priceTitle=$priceArr[0]|cat:'元以上'#}
                        {#else if $priceArr[0] !=0 &&  $priceArr[1] !=0#}
                        {#$priceTitle=$priceArr[0]|cat:'-'|cat:$priceArr[1]|cat:'元'#}
                        {#else $priceArr[0]==0 && $priceArr[1]!=0#}
                        {#$priceTitle=$priceArr[1]|cat:'元以下'#}
                        {#/if#}
                    </div>

                </dd>
            </dl>
            <!-- 费用  s-->
        </div>
        <div class="deletebox">
            <dl class="fi-state fn-clear" >
                <dt>{#$langData['marry'][6][3]#}：</dt>     {#* 已选 *#}
                <dd class="fn-clear">
                </dd>
                <a class="btn_clear" href="javascript:;">{#$langData['education'][8][50]#}</a>     {#* 重置条件 *#}
            </dl>
        </div>
    </div>
    <!-- 筛选 e-->
	<!-- 列表 s-->
	<div class="wrap class_wrap fn-clear">
        <div class="sort">
            <ul class="fn-clear">
                <li class="st curr" data-sort=""><a href="{#getUrlPath service='marry' template='hotellist' param="business=0&type=$typeid&car=$car&addrid=$addrid&price=$price&orderby="#}">{#$langData['marry'][0][14]#}</a></li> {#* 默认排序 *#}
                <li class="st" data-sort="2"><a href="{#getUrlPath service='marry' template='hotellist' param="business=0&type=$typeid&car=$car&addrid=$addrid&price=$price&orderby=2"#}">{#$langData['marry'][0][16]#}</a></li> {#* 最新上架 *#}
                <li class="st" data-sort="5"><a href="{#getUrlPath service='marry' template='hotellist' param="business=0&type=$typeid&car=$car&addrid=$addrid&price=$price&orderby=5"#}">{#$langData['marry'][0][17]#}</a></li> {#* 价格最高 *#}
            </ul>
        </div>
		<!-- 列表左 s-->
	    <div class="list_left">
	        <ul class="list_ul">
                {#marry action="storelist" return="list"  addr={#$addrid#} orderby={#$orderby#} price={#$price#} filter=8 typeid={#$typeid#} page={#$page#} pageSize=10#}
				<li class="fn-clear">
                    <a href="{#$list.url#}" target="_blank">
    	                <div class="left_b">
    	                	<img src="{#if $list.litpic#}{#$list.litpic#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" alt="" onerror="javascript:this.src='{#$cfg_staticPath#}images/noPhoto_100.jpg';this.onerror=this.src='{#$cfg_staticPath#}images/404.jpg';">    	                	
    	                </div>
                        <div class="right_b">
                            <p class="price"><span>{#echoCurrency type='symbol'#}{#$list.hotelprice|string_format:"%.0f"#}</span>起</p>
                            <h2 class="hotel_title">{#$list.title#}</h2>
                            <div class="tableInfo">
                                <p>{#$list.typename#}&nbsp;|&nbsp;0-10桌</p>
                                {#* 地址 *#}
                                <p>{#$langData['marry'][0][20]#}：{#if $list.addrname#}{#$list.addrname[$list.addrname|count-2]#}{#$list.addrname[$list.addrname|count-1]#}{#/if#}{#$list.address#}</p>
                            </div>
                            <div class="hotelInfo">
                                {#foreach from= $list.flagAll item=flag #}
                                <span class="{#$flag.py#}">{#$flag.jc#}</span>
                                {#/foreach#}
                            </div>
                            <div class="hotelbottom">
                                <span class="tel" data-call="{#$list.tel#}">{#$list.telNum_#}</span>
                                {#* 点击查看完整电话 *#}
                                <span class="seePhone">{#$langData['marry'][6][23]#}</span>
                            </div>
                            {#* 查看酒店详情 *#}
                            <span class="seeDetail">{#$langData['marry'][6][25]#}</span>    
                        </div>	
                    </a>                
	            </li>
	           {#/marry#}
	            {#if $pageInfo.totalCount == 0#}

	            <li class="empty failed"><img src="{#$templets_skin#}images/icon_faild.png"><span>{#$langData['marry'][6][21]#}</span></li> {#* 没有找到符合条件的结果 *#}
	            {#/if#}
	        </ul>
	        {#getPageList service='marry' template='hotellist' pageType='dynamic' param="page=#page#"#}
	    </div>
	    <!-- 列表左 e-->
	    <!-- 列表右 s-->
	    <div class="list_r">
         <div class="adv_r">{#myad title="婚嫁_模板二_电脑端_列表_广告二"#}</div>   
         <div class="listr_con">
            {#* 热门酒店推荐 *#}
            <h2 class="newr_tit">{#$langData['marry'][6][26]#}</h2>
            <ul>
                {#marry action="storeList" return="list" orderby="7" filter=8 page=1 pageSize=8#}
                <li><a href="{#$list.url#}">
                    <div class="r_left">
                        <img src="{#if $list.litpic#}{#changeFileSize url={#$list.litpic#} type='small'#}{#else#}{#$cfg_staticPath#}/images/404.jpg{#/if#}" onerror="javascript:this.src='{#$cfg_staticPath#}images/noPhoto_100.jpg';this.onerror=this.src='{#$cfg_staticPath#}images/404.jpg';" />
                    </div>
                    <div class="rInfo">
                        <h3 class="rTitle">{#$list.title#}</h3>
                        <p class="star">{#$list.typename#}</p>
                        <p class="hPrice">{#echoCurrency type='symbol'#}{#$list.hotelprice|string_format:"%.0f"#}起</p>
                    </div>
                </a></li>
                {#/marry#}
            </ul>
         </div>
        </div>
	    <!-- 列表右 e-->

	</div>
	<!-- 列表 e-->
</div>
{#include file="bottom.html"#}
<script>
    var totalCount = {#$pageInfo.totalCount|string_format:"%d"#};
    var priceUrl ="{#getUrlPath service='marry' template='list' param="addrid=$addrid&business=$business&typeid=$typeid&ctypeid=$ctypeid&price=pricePlaceholder&keywords=$keywords"#}";
</script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/list_filter.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/hotellist.js?v={#$cfg_staticVersion#}"></script>

</body>
</html>
