.listbox .adviser_ul li{width: 180px; height: 240px; background: #FFFFFF; box-shadow: 0px 4px 24px 0px rgba(101, 115, 129, 0.21); border-radius: 6px; float: left; margin-right: 20px; position: relative; margin-bottom: 20px; z-index: 1;}
.listbox .adviser_ul li:hover {z-index: 2;}
.listbox .adviser_ul li.upload_li  a{padding-top: 83px}
.listbox .adviser_ul li a{display: block; width: 100%; height: 100%; box-sizing: border-box; cursor: default;}
.listbox .adviser_ul li s{display: block; width: 48px; height: 48px; background: url(../images/adviser_icon.png) no-repeat center/cover; margin: auto;}
.listbox .adviser_ul li.upload_li p{font-size: 14px; color: #306BFF; text-align: center;}
.listbox .adviser_ul li .imgbox{height: 180px; background: #f5f5f5}
.listbox .adviser_ul li .imgbox img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 6px 6px 0 0; }
.listbox .adviser_ul li .adv_info {margin: 0 14px;}
.listbox .adviser_ul li .adv_info h3{font-size:14px; color: #333; margin-top: 8px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.listbox .adviser_ul li .adv_info p{color: #999; font-size: 13px;}
.listbox .adviser_ul li .opt_btn{width: 20px; height: 20px; background: url(../images/seticon.png) no-repeat center/cover; position: absolute; bottom: 10px; right: 12px; cursor: pointer;}
.listbox .adviser_ul li .opt_btn:hover .opbox{display: block;}
.listbox .adviser_ul li .opt_btn .opbox{width: 120px;  background: #FFFFFF; box-shadow: 0px 4px 24px 0px rgba(101, 115, 129, 0.21); border-radius: 6px; padding:8px 0 ; box-sizing: border-box; position: absolute; right: -12px; top: 15px; display: none;}
.listbox .adviser_ul li .opt_btn .opbox a{display: block; font-size: 14px; color: #333; padding-left: 14px;line-height: 32px}
.listbox .adviser_ul li .opt_btn .opbox a:hover{background: #F5F5F7; color: #2672EC; }
.listbox .adviser_ul li .opt_btn .opbox a s{display: inline-block; width: 20px; height: 20px; background: url(../images/edit.png) no-repeat center/cover; vertical-align: middle; margin-right: 4px }
.listbox .adviser_ul li .opt_btn .opbox a.del_btn s{background-image: url(../images/del_1.png);}



.noData{text-align: center; color: #999; font-size: 14px; line-height: 20px; padding: 50px}
/* 确认弹窗 */
.pop_mask{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,.6); z-index: 5; display:none;}
.Popbox{position: fixed; top: 0; left: 0; right: 0; bottom: 0; margin: auto; z-index: 5; animation: popup .3s ease-in-out; background: #fff; border-radius: 10px;  display: none;}

.confirm_del{width: 370px; height: 215px; box-sizing: border-box; padding-top: 40px}
.confirm_del h3{font-size: 18px; color: #333; margin: 0 30px; font-weight: bold; text-align: center;}
.confirm_del p{font-size: 14px; color: #666; text-align: center; margin-top: 10px;}
.confirm_del.Popbox .btn_group{text-align: center; margin-top: 30px}
.confirm_del.Popbox .btn_group a{width: 140px; display: inline-block; float: none; margin: 0 10px}
.confirm_del.Popbox .btn_group a.cancel_del{background: #DEDEE0; color: #666;}
.confirm_del .btn_group a{display: block; width: 120px; height: 46px; border-radius: 4px; float: left; line-height: 46px; font-size: 16px; color: #fff; text-align: center; background: linear-gradient(90deg, #306BFF 0%, #4281FF 100%); margin-right: 10px;}
.confirm_del .btn_group a.btn_edit{background: none;box-sizing: border-box; border: solid 1px #306BFF; color: #306BFF; line-height: 44px; position: relative;}
.confirm_del .btn_group a.btn_edit:hover .optbox{display: block;}
.confirm_del .btn_group a.btn_edit .optbox::before{content: ''; display:block; width: 120px; height: 10px; position: absolute; top: -6px; }
.confirm_del .btn_group a.btn_edit .optbox{width: 120px; background: #fff; box-shadow: 0px 4px 24px 0px rgba(101, 115, 129, 0.21); border-radius: 6px; padding: 8px 0; text-align: left; position: absolute; top: 50px; display: none; animation: topFadeIn .3s ease-in-out; z-index:3;}
.confirm_del .btn_group a.btn_edit .optbox span{display: block; font-size: 14px; color: #333; padding-left: 20px; line-height: 38px;}
.confirm_del .btn_group a.btn_edit .optbox span:hover{background: #F5F5F7; color: #2672EC;}
.confirm_del .btn_group a.btn_edit .optbox span s{display: inline-block; width: 20px; height: 20px; background: url(../images/edit.png) no-repeat center/cover ; vertical-align: middle; margin-right: 10px}
.confirm_del .btn_group a.btn_edit .optbox span.del_album s{background-image: url(../images/del_1.png);}
