.listbox{margin-top: 36px}

.uploadBox,.album{width: 250px; height: 292px; background: #FFFFFF; box-shadow: 0px 4px 24px 0px rgba(101, 115, 129, 0.21); border-radius: 6px; box-sizing: border-box; padding-top: 100px ; float: left; margin-right: 20px; margin-bottom: 20px}
.uploadBox s{display: block; width: 48px; height: 48px; background: url(../images/uploadimg.png) no-repeat center/cover; margin: auto; }
.uploadBox p,.upvideo p{text-align: center; font-size: 14px; color: #306BFF; margin-top: 14px}
/*.album:nth-child(6n){margin-right: 0;}*/
.album{padding:15px; }

.album .litpic_box{height: 165px; border-radius: 4px; background-color:  #f5f5f5 ;position: relative;}
.album .litpic_box img,.album .img img{width: 100%; height: 100%; object-fit: cover; border-radius: 2px}
.album .litpic_box img{border-radius: 4px}
.album_info{height: 84px; background: linear-gradient(180deg, rgba(0,0,0,.6) 0%, rgba(0, 0, 0, 0) 100%); position: absolute; left: 0; top: 0; right: 0; color: #fff;padding: 10px; box-sizing: border-box; border-radius: 4px}
.album_info h3{font-size: 14px; font-weight: bold;}
.album.noimg .album_info h3{color: #666}
.album.noimg .album_info p{color: #999}
.album.noimg .album_info,.album.noimg .litpic_box{background: none;}
.album.noimg .litpic_box,.album.noimg .img{border: solid 1px #eee; box-sizing: border-box; background: none;}
.album.noimg .album_info
.album_info p{font-size: 12px; margin-top: 4px}
.imglist {height: 52px; margin-top: 5px;}
.imglist .img{width: 70px; height: 52px; border-radius: 2px; float: left; background: #f5f5f5; margin-right: 5px;}
.imglist .img:last-of-type{margin-right: 0}
.album .btn_group{margin-top: 10px}
.album .btn_group a{display: block; font-size: 12px; text-align: center; color: #666; }
.album .btn_group a.edit_btn{float: left; width: 130px; height: 30px; background-color: #EEE;  line-height: 30px;}
.album .btn_group a.read_img{width: 80px; height: 30px; border: solid
 1px #eee; box-sizing: border-box; float: right; line-height: 28px;}

/* 视频 */
.video_upload .listSection{display: block !important;}
.webuploader-pick{height: 100%; display: flex !important; flex-direction: column; justify-content: center;}
.video_ul li{float: left; width: 250px; height: 250px; background: #fff; box-shadow: 0px 4px 24px 0px rgba(101, 115, 129, 0.21); border-radius: 6px; position: relative; margin-right: 20px; margin-bottom: 20px}
.video_ul li.upvideo{padding-top: 89px; box-sizing: border-box;}
.video_ul li.upvideo s{display: block; width: 48px; height: 48px; background: url(../images/add_video.png) no-repeat center/cover; margin:auto;}
/*.video_ul li:nth-child(6n){margin-right: 0}*/
.video_ul li.upvideo p{margin-top: 0;}
.video_ul li.video .opt_btn{width: 20px; height: 20px; background: url(../images/seticon.png) no-repeat center/cover; position: absolute; bottom: 10px; right: 12px; cursor: pointer;}
.video_ul li.video .opt_btn:hover .opbox{display: block;}
.video_ul li.video .opt_btn .opbox{width: 120px;  background: #FFFFFF; box-shadow: 0px 4px 24px 0px rgba(101, 115, 129, 0.21); border-radius: 6px; padding:8px 0 ; box-sizing: border-box; position: absolute; right: -12px; top: 20px; display: none; animation: topFadeIn .3s ease-in-out;z-index:1}
.video_ul li.video .opt_btn .opbox a{display: block; font-size: 14px; color: #333; padding-left: 14px;line-height: 32px}
.video_ul li.video .opt_btn .opbox a:hover{background: #F5F5F7; color: #2672EC; }
.video_ul li.video .opt_btn .opbox a s{display: inline-block; width: 20px; height: 20px; background: url(../images/edit.png) no-repeat center/cover; vertical-align: middle; margin-right: 4px }
.video_ul li.video .opt_btn .opbox a.del_btn s{background-image: url(../images/del_1.png);}
.video_ul .vimg{height: 187px; background: #f5f5f5; position: relative;}
.video_ul .vimg img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 4px 4px 0 0;}
.video_ul .vimg s{display: block; width: 52px;height:52px; background: url(../images/v-icon.png) no-repeat center/cover; position: absolute; top: 0; bottom: 0; left: 0;right: 0; margin: auto;}
.video_ul .vinfo{padding-left: 14px; padding-top: 10px}
.video_ul .vinfo h5{font-size: 14px; color: #333; font-weight: bold;white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
 margin-right: 10px; }
.video_ul .vinfo p{font-size: 12px; color: #999;margin-top:4px}

.videoinp{margin-top: 24px}
.inp_div{ margin-left: 158px}
.img_upload.inp_div .upload_btn{width: 150px; height: 107px; border: solid 1px #E5E5E5; color: #306BFF; box-sizing: border-box; font-size: 12px; border-radius: 4px; text-align: center;  display: flex; align-items: center; flex-direction: column; justify-content: center; overflow: hidden; position: relative; background: none; float: left; position: relative; z-index: 1;}
.img_upload.inp_div .upload_btn p{margin: 0}
.img_upload.inp_div .upload_btn label,.img_upload.inp_div .upload_btn input{width: 100%; height: 100%; position: absolute; left: 0; top: 0; bottom: 0; right: 0; opacity: 0;}
.img_upload.inp_div .upload_btn.hide{display: none;}
.img_upload.inp_div .upload_btn s{display: block; width: 60px; height: 50px; background: url(../images/upload.png) no-repeat center/cover; margin:0 auto; }
.inpbox .tip{font-size: 12px; color: #A6A6A6; margin-top: 10px; padding-bottom: 10px;}
.img_upload.inp_div.video_upload .upload_btn s{width: 40px; height: 40px; background: url(../images/add_video.png) no-repeat center/40px}
.img_upload.inp_div .imgShow{width: 150px; height: 107px;  border-radius: 4px; position: relative;}
.img_upload.inp_div .imgShow .pubitem{width: 150px; height: 107px;  border-radius: 4px; position: relative;}
.img_upload.inp_div .imgShow img,.img_upload.inp_div .imgShow video{width: 100%; height: 100%; object-fit: cover; border-radius: 4px}
.player{display: block; width: 40px; height: 40px; position: absolute; left: 0; right: 0; bottom: 30px;top: 0; background: url(../images/v-icon.png) no-repeat center/cover; margin: auto;}
.img_upload.inp_div video{background: #f5f5f5; object-fit: scale-down !important;}
.player.ing{display: none;}
.img_upload.inp_div .info{font-size: 12px; display: none;}
.img_upload.inp_div .imgShow .li-rm{position: absolute; left: 0; right: 0; bottom: 0; line-height: 30px; color: #fff; background-color: rgba(0,0,0,.6); border-radius: 0 0 4px 4px; font-size: 12px; text-align: center;}
.img_upload.inp_div .tip{font-size: 12px; color: #A6A6A6; margin-top: 10px; padding-bottom: 10px;}

.radiobox.inp_div li,.checkbox.inp_div li{display: inline-block; line-height: 46px; position: relative; height: 46px; overflow: hidden; font-size: 14px; color: #333; margin-right: 30px;}
.radiobox.inp_div li s,.checkbox.inp_div li s{display: inline-block; width: 20px; height: 20px; background: url(../images/radio.png) no-repeat center/cover; vertical-align: middle; margin-right: 6px;}
.checkbox.inp_div li s{background-image: url(../images/check.png);}
.checkbox.inp_div li.check s{background-image: url(../images/check_chose.png);}
.radiobox.inp_div li.chose s{background-image: url(../images/radio_chose.png);}
.radiobox.inp_div li input[type='radio'],.checkbox.inp_div li input[type='checkbox']{width: 100%; height: 46px; position: absolute; left: 0; right: 0; top: 0; bottom: 0; opacity: 0;}



/* 全景列表 */
.quanjing_ul.video_ul li.upvideo s{background-image: url(../images/up_quanjing.png)}
.quanjing_ul.video_ul .vimg s{background-image: url(../images/vr-icon.png)}
.Popbox.pop_quanjing{width:810px; height: 546px;}
.Popbox.pop_quanjing label{width: 110px;}
.Popbox.pop_quanjing.localVR{height: 666px;}
.Popbox.pop_quanjing .videoinp .inp,.Popbox.pop_quanjing .inp_div{margin-left: 128px}
.video_upload.img_upload.inp_div .upload_btn{width: 130px !important; height: 92px !important; }
.Popbox.pop_quanjing .submit{margin-left: 128px}
.vrShow{padding-top: 102px; height: 70px; position: relative;}
.vrShow .listSection{position: relative; z-index: 3}
.vrShow li{float: left; width: 100px; height: 70px; border-radius: 4px; border: 1px solid #E5E5E5; margin-right: 9px; background: #F9F9F9; box-sizing: border-box; font-size:12px; color: #666; text-align: center; }
.vrShow .bg{ position: absolute; line-height: 68px; top: 102px}
.Popbox.pop_quanjing .listSection{width: 100%; height: 100%; object-fit: cover;}
.Popbox.pop_quanjing #listSection2 .li-rm{position: absolute; width: 20px; height: 20px; background: url(../images/del_2.png) no-repeat center/cover; right:0; top: 0;}
.Popbox.pop_quanjing #listSection2 .li-thumb{height: 70px; }
.Popbox.pop_quanjing #listSection2 .li-thumb img{width: 100%; height: 100%; object-fit: cover;border-radius: 4px}
.Popbox.pop_quanjing #listSection2 li::before{content: '前'; position: absolute; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,.6); text-align: center; color: #fff; line-height: 26px; font-size: 12px;}
.Popbox.pop_quanjing #listSection2 li:nth-of-type(2)::before{content: '右'; }
.Popbox.pop_quanjing #listSection2 li:nth-of-type(3)::before{content: '后'; }
.Popbox.pop_quanjing #listSection2 li:nth-of-type(4)::before{content: '左'; }
.Popbox.pop_quanjing #listSection2 li:nth-of-type(5)::before{content: '顶'; }
.Popbox.pop_quanjing #listSection2 li:nth-of-type(6)::before{content: '底'; }


/* 户型 */
.huxing_ul{}
.huxing_ul li{float: left; width: 250px; height: 290px; box-shadow: 0px 4px 24px 0px rgba(101, 115, 129, 0.21); border-radius: 6px; margin-right: 20px; margin-bottom: 20px;}
/*.huxing_ul li:nth-child(6n){margin-right: 0}*/
.huxing_ul .add_huxing{padding-top: 108px; text-align: center; color: #306BFF; font-size: 14px; box-sizing: border-box; position: relative;}
.huxing_ul .add_huxing a{display: block; width: 100%; height:100%; position: absolute; left: 0; right: 0; top: 0; bottom: 0; padding-top: 108px; box-sizing: border-box;}
.huxing_ul .add_huxing s{width: 48px; height: 48px; background: url(../images/hx_upicon.png) no-repeat center/cover;  display: block; margin: auto; margin-bottom: 2px;}
.huxing_ul li .himg{height: 187px; background: #f5f5f5}
.huxing_ul li .himg img{display:block; width: 100%; height: 100%; object-fit: cover; border-radius: 6px}
.huxing_ul li .hinfo{margin: 0 14px}
.huxing_ul li h3{font-size: 14px; color: #333; margin-top: 10px}
.huxing_ul li p{font-size: 12px; color: #999; margin-top: 2px}
.huxing_ul li .btn_group{margin-top: 8px}
.huxing_ul li .btn_group a{display: block; width: 130px; height: 30px; font-size: 12px;color: #666; text-align: center; line-height: 30px; background-color: #eee; float: left; border-radius: 2px}
.huxing_ul li .btn_group a.read_btn{width: 80px; box-sizing: border-box; border: solid 1px #eee; line-height: 28px; float: right; background: none}
