.ListContainer{margin: 30px 35px; padding-bottom: 35px}
.headbox .right{float: right;}
.headbox::after{content: ''; clear: both; display: block;}
.btn_add{width: 120px; height: 46px; border-radius: 4px; background: linear-gradient(90deg, #306BFF 0%, #4281FF 100%); color:#fff; text-align: center; font-size: 16px; line-height: 46px; display: block; float: left;}
.btn_add:hover{color: #fff}
.btn_opt{display: inline-block; width: 100px; height: 46px; box-sizing: border-box; border-radius: 4px; text-align: center; color: #3471FF; font-size: 16px; line-height: 42px; border:solid 1px #3471FF; vertical-align: middle;}
.btn_opt:hover{color: #3471FF;}
.searchBox{display: inline-block; vertical-align: middle;}
.searchBox .inpbox{width: 220px; height: 46px; border-radius: 4px 0px 0px 4px; border:solid 1px #eee; display: inline-block; vertical-align: middle; box-sizing: border-box;}
.searchBox.bg_grey{margin-right: 16px}
.searchBox.bg_grey .inpbox{background: #F5F5F7}
.searchBox .inpbox input{width: 100%; height: 100%; border: none; font-size: 14px; box-sizing: border-box; padding-left: 10px; outline: none; background: none;}
.searchBox .search_btn{width: 60px; background: linear-gradient(90deg, #306BFF 0%, #4281FF 100%); border-radius: 0px 4px 4px 0px; height: 46px; display: inline-block; vertical-align: middle; margin-left: -4px}
.searchBox .search_btn i{display:block; width: 100%; height: 100%; background: url(../images/searchIcon1.png) no-repeat center/22px; }

.listbox{margin-top: 25px; min-height: 450px; border: solid 1px #eee;}
.listbox .titlebox{height: 50px; background: #F5F5F7; font-size: 14px; color: #333; border-bottom: solid 1px #eee;}
.listbox .cell{ line-height: 48px;float: left; font-size: 14px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.listbox .cell.blue{color: #2672EC !important;}
.listbox .cell.grey{color: #999 !important;}
.listbox .col5{width: 50%; box-sizing: border-box; padding-left: 3.6vw ;}
.listbox .col4{width: 40%;}
.listbox .col3{width:30%; box-sizing: border-box; padding-left: 20px;}
.listbox .col1{width: 10%; text-align: center;}
.listbox .col2{width: 25%; text-align: center;}
.listbox .col2_{width: 20%}
.listbox .col15_{width: 15%}
.listbox .alignRight{text-align: left !important; padding-left: 20px; box-sizing: border-box;}
.listbox .table_row{border-bottom:solid 1px #eee; height: 50px; box-sizing: border-box;}
/* .listbox .table_row:last-of-type{border: none;} */
.listbox .table_row .cell.hding{color:#2672EC;}
.listbox .table_row .cell.hdend{color:#999;}
.listbox .table_row .cell em{color: #999; font-size: 14px}
.listbox .table_row .title{ color: #333; padding-left: 30px;}
.listbox .table_row .date{color: #999;}
.listbox .table_row .opt.cell{color:#666; overflow: visible;}
.listbox .table_row .title{overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.listbox .table_row .title span{vertical-align: middle;}
.listbox .table_row .checkbox{display: inline-block; width: 20px; height: 20px; background: url(../images/check.png) no-repeat center/cover; margin-right: 24px; position: relative;}
.listbox .table_row .checkbox input[type="checkbox"]{width: 100%; height:100%;opacity: 0; position: absolute; left: 0; right: 0; top:0; bottom: 0;}
.listbox .table_row .checkbox.check{background-image: url(../images/check_chose.png) ;}
.listbox .table_row .opt a{display: inline-block; margin: 0 10px; position: relative;}
.listbox .table_row .opt.alignRight a{margin: 0}
.listbox .table_row .opt.alignRight{padding-left: 18px}
.listbox .table_row .opt .btngroup{width: 112px; min-height: 82px;box-shadow: 0px 4px 24px 0px rgba(101, 115, 129, 0.21); border-radius: 6px; position: absolute; box-sizing: border-box; padding:8px 0 ;display: none; animation: topFadeIn .3s ease-in-out; background: #fff;  z-index: 9}
.listbox .table_row .opt .btngroup span{display: block; line-height: 32px; color: #333; font-size: 14px; text-align: center;}
.listbox .table_row .opt .btngroup span:hover{background: #F5F5F7; color: #2672EC; }
.listbox .table_row .opt.alignRight a:hover  .btngroup{display: block;}

.listbox .table_row .opt s{display: inline-block; width: 20px; height: 20px; background: url(../images/edit.png) no-repeat center/cover; vertical-align: middle; margin-right: 4px}
.listbox .table_row .opt span{vertical-align: middle;}
.listbox .table_row .opt .del_btn s{background-image: url(../images/del_1.png);}


/* 分页 */
.pagination {height: 28px; padding: 30px;}
.pagination-pages {float: right;}
.pagination-pages a, .pagination-pages span {float: left; min-width: 20px; height: 30px; padding: 0 5px; margin: 0 0 0 4px;  text-align: center; line-height: 30px; font-size: 14px; cursor: pointer; color: #999; text-decoration: none; border: solid 1px #EDEDED; border-radius: 2px;}
.pagination-pages .curr, .pagination-pages .interim {cursor: default;}
.pagination-pages .curr {background: #027CFF; color: #fff; border: solid 1px #027CFF;}
.pagination-pages a:hover {background-color: #027CFF; color: #fff; border: solid 1px #027CFF;}
.pagination-pages .prev, .next {padding: 0 8px;}
.pagination-pages .disabled {background-color: #999; color: #fff; cursor: default;}

/* 头部筛选 */
.shaixuan{float: left; line-height: 46px}
.shaixuan span{display: inline-block; font-size: 16px; color: #333; margin-right: 50px; cursor: pointer;}
.shaixuan span.curr{color: #4281FF; font-weight: bold; position: relative;;}
.shaixuan span.curr s{display: block; width: 100%; height: 3px; border-radius: 2px; background: #4281FF; position: absolute;bottom: 0; left: 0 ; right: 0;}


.noData{text-align: center; color: #999; font-size: 14px; line-height: 20px; padding: 50px}
/* 确认弹窗 */
.pop_mask{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,.6); z-index: 5; display:none;}
.Popbox{position: fixed; top: 0; left: 0; right: 0; bottom: 0; margin: auto; z-index: 5; animation: popup .3s ease-in-out; background: #fff; border-radius: 10px;  display: none;}

.confirm_del{width: 370px; height: 215px; box-sizing: border-box; padding-top: 40px}
.confirm_del h3{font-size: 18px; color: #333; margin: 0 30px; font-weight: bold; text-align: center;}
.confirm_del p{font-size: 14px; color: #666; text-align: center; margin-top: 10px;}
.confirm_del.Popbox .btn_group{text-align: center; margin-top: 30px}
.confirm_del.Popbox .btn_group a{width: 140px; display: inline-block; float: none; margin: 0 10px}
.confirm_del.Popbox .btn_group a.cancel_del{background: #DEDEE0; color: #666;}
.confirm_del .btn_group a{display: block; width: 120px; height: 46px; border-radius: 4px; float: left; line-height: 46px; font-size: 16px; color: #fff; text-align: center; background: linear-gradient(90deg, #306BFF 0%, #4281FF 100%); margin-right: 10px;}
.confirm_del .btn_group a.btn_edit{background: none;box-sizing: border-box; border: solid 1px #306BFF; color: #306BFF; line-height: 44px; position: relative;}
.confirm_del .btn_group a.btn_edit:hover .optbox{display: block;}
.confirm_del .btn_group a.btn_edit .optbox::before{content: ''; display:block; width: 120px; height: 10px; position: absolute; top: -6px; }
.confirm_del .btn_group a.btn_edit .optbox{width: 120px; background: #fff; box-shadow: 0px 4px 24px 0px rgba(101, 115, 129, 0.21); border-radius: 6px; padding: 8px 0; text-align: left; position: absolute; top: 50px; display: none; animation: topFadeIn .3s ease-in-out; z-index:3;}
.confirm_del .btn_group a.btn_edit .optbox span{display: block; font-size: 14px; color: #333; padding-left: 20px; line-height: 38px;}
.confirm_del .btn_group a.btn_edit .optbox span:hover{background: #F5F5F7; color: #2672EC;}
.confirm_del .btn_group a.btn_edit .optbox span s{display: inline-block; width: 20px; height: 20px; background: url(../images/edit.png) no-repeat center/cover ; vertical-align: middle; margin-right: 10px}
.confirm_del .btn_group a.btn_edit .optbox span.del_album s{background-image: url(../images/del_1.png);}

.noData s{display: block; width: 338px; height: 250px; background: url(../images/noData.png) no-repeat center/cover; margin: auto;}
[v-cloak]{display: none !important;}
