
/* 右侧 */
.right_box{margin-left:210px;   padding-top: 90px; /* background-color: #0000FF; height: 100vh;*/ box-sizing: border-box;}
.welcomeBox {height: 360px; border-radius: 10px; background-color: #fff; margin: 0 20px;}
.welcomeBox >h3{font-size: 18px; font-weight: bold; color: #333; line-height: 52px; border-bottom: solid 1px #eee; padding-left: 20px; } 
.loupan_info {padding: 18px 20px;}
.loupan_info .loupan_left{float: left; width: 80%;}
.loupan_info .loupan_left .loupan_img{width: 160px; height: 116px; border-radius: 6px; background-color: #f5f5f5; float: left;}
.loupan_info .loupan_left .loupan_img img{display: block; width: 100%; height: 100%; object-fit: cover;}
.loupan_info .btn_home{float: right; display: block; width: 150px; height: 44px; border-radius: 6px; color: #fff; line-height: 44px; background-color: #306BFF; font-size: 15px; text-align: center; margin-top: 30px;}
.loupan_info .loupan_detail{height: 116px; margin-left: 172px; box-sizing: border-box; padding-top: 8px;}
.loupan_info .loupan_detail h2{font-size: 20px; color: #333; font-weight: bold;}
.loupan_info .loupan_detail p{color: #666; font-size: 14px; margin-top: 10px;}
.loupan_info .loupan_detail p span{vertical-align: middle;}
.loupan_info .loupan_detail p em{font-size: 12px; color: #999; vertical-align: middle;}
.loupan_about{display: flex; align-items: center; justify-content: space-between; margin: 0 20px; margin-top: 10px;}
.loupan_about li{ width: 19.7vw; height: 110px; background-color: #fff; box-shadow: 0px 3px 16px 0px rgba(0, 24, 144, 0.08);border-radius: 6px; max-width: 389px; display: inline-block; box-sizing: border-box; padding: 26px 20px;}
.loupan_about li .left_icon{float: left;}
.loupan_about li .left_icon .icon{width: 56px; height: 56px; display: inline-block;  vertical-align: middle; margin-right: 15px;}
.loupan_about li .left_icon .icon img{display: block; width: 100%; height: 100%;}
.loupan_about li .left_icon .txt{display: inline-block;vertical-align: middle;}
.loupan_about li .left_icon .txt h4{color: #192229; font-size: 13px;}
.loupan_about li .left_icon .txt h4 b{font-size: 36px; line-height: 1em;}
.loupan_about li .add_btn{float: right; width: 74px; height: 36px; border-radius: 18px; box-sizing: border-box; border: solid 1px #306BFF; color: #306BFF; text-align: center; font-size: 15px; line-height: 34px; margin-top: 10px;}
.loupan_about li .left_icon .txt p{font-size: 13px; color: #999; margin-top: 4px;}

/* 统计图 */
.tongjiBox{display: flex; align-items: center; justify-content: space-between; margin: 20px;}
.tongjiBox .chartsbox{width: 42.8vw; height: 387px;background: #FFFFFF;box-shadow: -1px 1px 20px 0px rgba(59, 55, 85, 0.03);border-radius: 10px; display: inline-block; box-sizing: border-box; padding: 12px 20px;}
.tongjiBox .chartsbox .titleBox{overflow: hidden;}
.tongjiBox .chartsbox .titleBox h3{font-size: 18px; color: #333; float: left; font-weight: bold;}
.tongjiBox .chartsbox .titleBox .date_chose{font-size: 12px; color: #999; float: right; margin-top: 8px;} 
.tongjiBox .chartsbox .titleBox .date_chose span{display: inline-block; margin: 0 12px; cursor: pointer;}
.tongjiBox .chartsbox .titleBox .date_chose span.curr_chose{color: #0986FF; font-weight: bold;}
.tongjiBox .charts{height: 320px; margin-top: 20px;}

[v-cloak]{display: none;}