html{overflow: overlay;}
.el-button{line-height: normal !important;}
.el-button--primary:hover{background-color: #4089ff !important;}
.navBox ul li:nth-of-type(8) a{color: #256CFA;}
.companyInfoBox{background-color: #F5F9FF; padding-top: 50px; padding-bottom: 12px;}
.companyInfoBox .info_left .clogo{width: 100px; height: 100px; background-color: #fff; border-radius: 6px;}
.companyInfoBox .info_left .clogo img{width: 100%;height: 100%;object-fit: contain;border-radius: 6px;}
.companyInfoBox .info_left .cdetail{padding-left: 16px;}
.companyInfoBox .info_left .cdetail h2{font-size: 28px; color: #0F1C4D; font-weight: bold;}
.companyInfoBox .info_left .cdetail h2 b{display: inline-block; max-width: 700px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; vertical-align: middle;}
.companyInfoBox .info_left .cdetail h2 span{display: inline-block; background: #FCE2A9; border: 1px solid #EDD49F; border-radius: 4px; font-style: italic; color: #4D3B14; font-size: 12px; padding-left: 6px; padding-right: 8px; vertical-align: middle; margin-left: 6px;}
.companyInfoBox .info_left .cdetail h2 .icon{display: inline-block; width: 14px; height: 14px; background: url(../images/shieldGreen.png) no-repeat center/cover; vertical-align: middle; margin-left: 7px;}
.companyInfoBox .info_left .cdetail .internet{color: #1975FF; font-size: 13px; margin: 4px 0; display: block;}
.companyInfoBox .info_left .cdetail .internet:hover{text-decoration: underline;}
.companyInfoBox .info_left .cdetail .internet s{display: inline-block; width: 16px; height: 16px; background: url(../images/hrefBl.png) no-repeat center/cover; vertical-align: middle; margin-bottom: 2px; margin-right: 3px;}
.companyInfoBox .info_left .cdetail p{color: #828B99; font-size: 13px; line-height: 24px;}
.companyInfoBox .info_left .cdetail p em{font-size: 11px; color: #CFD8E6; margin: 0 10px;}
.companyInfoBox .info_right {margin-top: 26px;}

.companyInfoBox .info_right .btn_care{width: 250px; height: 50px; border-radius: 25px; font-size: 16px; font-weight: bold;background-color: #2176FF;color: white;line-height: 50px;text-align: center;cursor: pointer;}
.companyInfoBox .info_right .btn_care:hover{background-color: #4089ff;}
.companyInfoBox .info_right .btn_care .no_care{display: inline;}
.companyInfoBox .info_right .btn_care .has_care{display: none;}
.companyInfoBox .info_right .btn_care img{width: 20px;height: 20px;object-fit: cover;vertical-align: sub;}
.companyInfoBox .info_right .btn_care.has_care{width: 250px;height: 50px;background-color: white;border: 1px solid #2176FF;border-radius: 25px;font-size: 16px;color: #2176FF;cursor: pointer;box-sizing: border-box;font-weight: bold;}
.companyInfoBox .info_right .btn_care.has_care .has_care{display: inline;}
.companyInfoBox .info_right .btn_care.has_care .no_care{display: none;}
.companyInfoBox .info_left .tabBox,.fixedTop  .tabBox{font-size: 16px; color: #212121; margin-top: 40px; clear: both; padding-bottom: 20px; position: relative; }
.companyInfoBox .info_left .tabBox s.line,.fixedTop .tabBox s.line{display: block; width: 67px; height: 3px; background-color: #2278FF; position: absolute; left: 0; bottom: 0; transition: transform .3s;}
.companyInfoBox .info_left .tabBox a,.fixedTop .tabBox a{display: inline-block; margin-right: 94px;} 
.companyInfoBox .info_left .tabBox a:hover,.fixedTop .tabBox a:hover{color: #2278FF !important;}
.companyInfoBox .info_left .tabBox a.currOn,.fixedTop .tabBox a.currOn{color: #2278FF; font-weight: bold;}
.companyInfoBox .info_left .tabBox a.currOn:hover,.fixedTop .tabBox a.currOn:hover{color: #2278FF !important;}
.btnGroups {text-align: center; margin-top: 70px;}
.btnGroups .el-button{color: #808080; font-size: 14px;position: relative;}
.btnGroups .el-button s{display: inline-block; width: 18px; height: 18px; background: url(../images/pictureG.png) no-repeat center/cover; vertical-align: middle; margin-bottom: 4px; margin-right: 4px;}
.btnGroups .el-button.btn_share s{background-image:  url(../images/share.png);}

.conWrap{padding-top: 34px;}
.conWrap .conDl {margin-bottom: 50px;}
.conWrap .conDl dt{font-size: 18px; color: #212121; font-weight: bold; margin-bottom: 20px; }
.conWrap .conDl dd .text_con{font-size: 14px; color: #666; line-height: 22px; max-height: 320px; background-color: #fff;overflow: hidden;}
.conWrap .left_wrap{width: calc(100% - 320px); float: left; border-right: solid 1px #F2F2F2; box-sizing: border-box; padding-right: 40px;}
.conWrap .right_wrap{width: 320px; float: right;}
.conWrap .left_wrap .con .btn_open{height: 36px; background: #F5F8FC; opacity: 0.8; border-radius: 6px; color: #999; text-align: center; font-size: 14px; display: block; line-height: 36px; margin-top: 20px;}
.conWrap .left_wrap .con .btn_open i{margin-left: 6px;}
.conWrap .swiperBox {margin-top: 32px; text-align: center;margin-right: 80px;}
.conWrap .swiperBox .left_swiper{width: 536px; height: 300px; position: relative; display: inline-block; overflow: hidden;margin-right: 2px;}
.conWrap .swiperBox .left_swiper .swiper-slide{width: 536px; height: 300px; background: #EAEAEA; border-radius: 6px; }
.conWrap .swiperBox .img-swiper:hover .button-next{display: block;animation: rightFadeIn .3s;}
.conWrap .swiperBox .img-swiper:hover .button-prev{display: block;animation: leftFadeIn .3s;}
.conWrap .swiperBox .img-swiper .button-next:hover{background-color: rgba(0,0,0,.8);}
.conWrap .swiperBox .img-swiper .button-prev:hover{background-color: rgba(0,0,0,.8);}
.conWrap .swiperBox .left_swiper .swiper-slide img{display: block; width: 100%; height: 100%; object-fit: cover;border-radius: 6px;}
.conWrap .swiperBox .left_swiper .button-next,.conWrap .swiperBox .left_swiper .button-prev{width: 28px; height: 40px; background: rgba(0,0,0,.6) url(../images/arr_left_white.png) no-repeat center/20px; position: absolute; left: 0; top: 0; bottom: 0; margin: auto; display: block; z-index: 1; cursor: pointer;display: none;}
.conWrap .swiperBox .left_swiper .button-next{background-image: url(../images/arr_right_white.png) ; left: auto; right: 0;}
.conWrap .swiperBox .right_swiper{height: 300px; position: relative; width: 102px; display: inline-block; overflow: hidden;border-radius: 4px 8px 8px 4px;}
.conWrap .swiperBox .right_swiper .thumb-swiper{height: 330px;}
.conWrap .swiperBox .right_swiper .swiper-slide{width: 100px; height: 56px !important; cursor: pointer;border-radius: 6px;}
.conWrap .swiperBox .right_swiper .swiper-slide img{border-radius: 4px;}
.conWrap .swiperBox .right_swiper .swiper-slide.swiper-slide-thumb-active{ background-color: #f00;position: relative;}
.conWrap .swiperBox .right_swiper .swiper-slide.swiper-slide-thumb-active::after{position: absolute;top: 0;left: 0;content: '';width: 100%;height: 100%;box-sizing: border-box;border: 2px solid #408cff;border-radius: 4px;}
.conWrap .swiperBox .right_swiper .button-next,.conWrap .swiperBox .right_swiper .button-prev{width: 100px; height: 26px; background: #F7F7F7 url(../images/arr_up_grey.png) no-repeat center/14px; position: absolute; left: -2px; right: 0; top: 0; margin: auto; display: block; z-index: 1; cursor: pointer; border: 1px solid #E6E6E6;border-radius: 4px 4px  0px 0px; box-sizing: border-box;width: calc(100% - 2px);}
.conWrap .swiperBox .right_swiper .button-next{background-image: url(../images/arr_down_grey.png) ; top: auto; bottom: 0; border-top: none; border-radius: 0px 0px 4px 4px;  }
.conWrap .swiperBox .right_swiper .button-prev{border-bottom: none;}

.conDl .lab.el-tag--plain{border: 1px solid #C9D7EC; color: #668FCC; font-size: 13px; margin-right: 4px; padding: 0 14px;margin-bottom: 8px;}

.conDl .gs_item {line-height: 28px; float: left;}
.conDl .gs_item label{font-size: 14px; color: #888; width: 90px; display: inline-block; vertical-align: middle;}
.conDl .gs_item span{font-size: 14px; color: #333; display: inline-block; width: 260px; padding-right: 10px; box-sizing: border-box; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; vertical-align: middle;}
.conDl .gs_item span img{width: 20px;height: 20px;vertical-align: sub;border-radius: 4px;margin-left: 5px;}


/* 招聘职位 */
.postListBox .shaixuanBox .area,.jobs{display: flex;}
.postListBox .shaixuanBox label{display: inline-block; font-size: 14px; color: #333; font-weight: bold;flex-shrink: 0;}
.postListBox .shaixuanBox .inline_div{display: inline-block; font-size: 13px; color: #666; }
.postListBox .shaixuanBox .inline_div span{display: inline-block; border-radius: 4px; line-height: 26px; padding: 0 4px; margin-right: 18px; cursor: pointer;margin-bottom: 10px;}
.postListBox .shaixuanBox .inline_div span.on{color: #fff; background-color: #2176FF;}
.postListBox .shaixuanBox .inline_div span:hover{color: #fff; background-color: #2176FF;}
.shai_divider{margin:8px 0 18px ; background-color: #F2F2F2;}
.dl_divider{background-color: #F2F2F2;}



.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li{width: 30px; height: 30px; background: #FFFFFF; border: 1px solid #EDEDED; border-radius: 4px; font-weight: normal;}
.el-pagination.is-background .el-pager li:not(.disabled).active{background:#2278FF;}
.el-pagination.is-background .btn-next:hover{color: #2278FF;}
.el-pagination.is-background .btn-prev:hover{color: #2278FF;}
.el-pagination.is-background .btn-next[disabled=disabled]:hover{color: #c0c4cc;}
.el-pagination.is-background .btn-prev[disabled=disabled]:hover{color: #c0c4cc;}

/* 右侧 */
.right_wrap{padding-left: 32px; box-sizing: border-box;}
.conWrap .company_addr dt{position: relative; overflow: hidden;}
.conWrap .company_addr dt .el-divider{margin: 14px 0;}
.company_addr dt b{position: absolute; top: 0; bottom: 0; left: 0; margin: auto; background-color: #fff; z-index: 1; padding-right: 12px; line-height: 30px;}
.company_addr dd p{color: #666; font-size: 13px;}
.company_addr dd .mapbox{height: 200px; background-color: #f5f5f5; margin-top: 24px; position: relative;display: block;}
.company_addr dd .mapbox img{display: block; width: 100%; height: 100%; object-fit: cover;}
.company_addr dd .mapbox .to_map{display: block; position: absolute; right: 0; bottom: 0; line-height: 30px; background-color: rgba(0,0,0,.4); color: #fff; font-size: 12px;padding-left: 4px; padding-right: 6px;}
.company_addr dd .mapbox .to_map s{display: inline-block ; width: 16px; height: 16px; background: url(../images/w-search.png) no-repeat center/cover; vertical-align: middle; margin-right: 1px; margin-bottom: 2px; }
.workInfo.company_addr dd p{font-size: 15px; margin-bottom: 18px;}
.workInfo.company_addr dd p s{display: inline-block; width: 16px; height: 16px; background: url(../images/clockBla.png) no-repeat center/cover; vertical-align: middle; margin-bottom: 2px; margin-right: 8px;}
.workInfo.company_addr dd p.weekenday_Getaway s{background-image: url(../images/calendarB.png);}
.workInfo.company_addr dd.advBox .adv{height: 140px; background-color: #f5f5f5; border-radius: 8px; margin-bottom: 20px;display: block;}


/* 顶部固定 */
.fixedTop{position: fixed; left: 0; right: 0; top: 0; z-index: 1003; background-color: #fff; box-shadow: 0px 5px 20px 0px rgba(0,4,26,0.05);}
.fixedTop .companyInfoBox{background: none; padding-top: 20px; height: 120px; box-sizing: border-box; border-bottom: solid 1px #EDEDED;}
.fixedTop .companyInfoBox .clogo{width: 80px; height: 80px; border-radius: 6px;}
.fixedTop .companyInfoBox .cdetail h2{font-size: 26px; margin-bottom: 10px;}
.fixedTop  .tabBox{margin-top: 0; padding-bottom: 0; line-height: 60px;}

.clh-items{margin-bottom: 20px;margin-top: 8px;}
.clh-items li{margin-bottom: 15px;}
.clh-items li a{display: flex;justify-content: space-between;background-color: #F7F9FC;border-radius: 10px;padding: 20px 19px 14px 22px;border: 1px solid #F7F9FC;cursor: pointer;}
.clh-items li:last-child{margin-bottom: 0px;}
.clh-items li a:hover{border: 1px solid #3385FF;background-color: white;}
.clh-items li a:hover .right .btn{display:flex;}
.clh-items li a:hover .right .time{display:none;}
.clh-items li .left .title{color: #333333;font-size: 15px;display: flex;align-items: center;margin-bottom: 4px;margin-right: 10px;}
.clh-items li .left .title span{overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;word-break: break-all;max-width: 360px;}
.clh-items li .left .title div{border: 1px solid #1975FF;color: #1975FF;background-color: white;border-radius: 4px;font-size: 13px;padding: 0px 3px 0px 2px;margin-left: 3px;flex-shrink: 0;margin-right: 30px;}
.clh-items li .left .title div::before{content: '';width: 16px;height: 16px;background: url(../images/talkBlu.png) no-repeat center/cover;display: inline-block;vertical-align: text-bottom;margin-right: 2px;}
.clh-items li .left .salary{color: #FF5040;font-size: 18px;font-weight: bold;margin-bottom: 6px;font-family: DINMi;display: flex;}
.clh-items li .left .salary span{font-size: 15px;padding-top: 2px;}
.clh-items li .left .require{font-size: 14px;color: #666666;display: flex;align-items: center;margin-bottom: 12px;}
.clh-items li .left .require span{font-size: 12px;color: #DEDEDE;margin: 0px 6px;}
.clh-items li .left .label{display: flex;}
.clh-items li .left .label div{height: 26px;border: 1px solid #E6E6E6;border-radius: 4px;line-height: 26px;font-size: 13px;color: #9D9FA6;padding: 0px 9px;margin-right: 8px;}
.clh-items li .right .name{color: #4D4D4D;font-size: 14px;text-align: right;overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;word-break: break-all;max-width: 260px;}
.clh-items li .right .name::before{content: '';width: 16px;height: 16px;background: url(../images/company3.png) no-repeat center/cover;display: inline-block;vertical-align: sub;margin-bottom: 1px;margin-right: 4px;}
.clh-items li .right .time{color: #999999;font-size: 12px;text-align: right;margin-top: 10px;}
.clh-items li .right.had .time{display: block !important;}
.clh-items li .right.had .btn{margin-top: 14px;display: flex;}
.clh-items li .right.had .btn .collect{display: none;}
.clh-items li a:hover .right.had .btn .collect{display: block;animation: bottomFadeIn .3s;}
.clh-items li .right .btn{display: flex;align-items: center;justify-content: flex-end;margin-top: 20px;display: none;animation: bottomFadeIn .3s;}
.clh-items li .right .btn .collect{color: #666666;font-size: 14px;}
.clh-items li .right .btn .collect::before{content: '';width: 20px;height: 20px;background: url(../images/starG.png) no-repeat center/cover;display: inline-block;vertical-align: sub;margin-right: 4px;}
.clh-items li .right .btn .collect.has::before{content: '';width: 20px;height: 20px;background: url(../images/StarO.png) no-repeat center/cover;display: inline-block;vertical-align: sub;margin-right: 4px;}
.clh-items li .right .btn .pub{width: 120px;height: 36px;line-height: 36px;background-color: #2176FF;border-radius: 18px;color: white;font-size: 14px;text-align: center;margin-left: 30px;}
.clh-items li .right .btn .pub:hover{background-color: #4089ff;}
.clh-items li .right .btn .pub::before{content: '';width: 14px;height: 14px;background: url(../images/join.png) no-repeat center/cover;display: inline-block;vertical-align: sub;margin-right: 4px;margin-bottom: 1px;}
.clh-items li .right .btn .hadpub{width: 48px;height: 20px;background: #EDF7FC;border: 1px solid #ABC7FF;border-radius: 4px;color: #256CFA;font-size: 12px;text-align: center;margin-left: 30px;flex-shrink: 0;}
/* 招聘海报 */ 
.poster{position: fixed;top: 0px;left: 0px;right: 0px;bottom: 0px;background-color: rgba(0,0,0,.5);z-index: 1003;display: none;justify-content: center;align-items: center;}
.p-produce{width: 990px;height: 620px;padding: 24px 0px 30px 30px;border-radius: 16px;background: linear-gradient(to bottom, #EDF4FF 0%, #FFFFFF 30%);position: absolute;box-sizing: border-box;display: flex;flex-direction: column;padding-right: 6px;animation: topFadeIn .3s;}
.p-produce::after{content: '';width: 100%;height: 30px;background: linear-gradient(to top,white 0%,rgba(255,255,255,0) 100%);position: absolute;bottom: 28px;left: 0px;}
.pp-close{position: absolute;right: 18px;top: 16px;cursor: pointer;object-fit: cover;width: 30px;height: 30px;z-index: 1;}
.pp-close:hover{opacity: .7;}
.pp-title{font-size: 20px;font-weight: bold;color: #222222;margin-bottom: 10px;}
.pp-steps{overflow-y: auto;}
.pp-steps::-webkit-scrollbar{width: 6px;cursor: pointer;}
.pp-steps::-webkit-scrollbar-thumb{background: #E7E7E7;border-radius: 3px;}
.pp-steps::-webkit-scrollbar-thumb:hover{background:#cccccc;}
.pp-steps::-webkit-scrollbar-thumb:active{background: #b2b2b2;}
.pp-steps .step1{margin-bottom: 18px;}
.pp-steps .step1 .title,.pp-steps .step2 .title{font-size: 14px;color: #666666;margin-bottom: 10px;}
.pp-steps .step1 ul{display: flex;flex-wrap: wrap;}
.pp-steps .step1 ul{overflow: hidden;}
.pp-steps .step1 ul li{border: 1px solid #EDEDED;border-radius: 6px;display: flex;align-items: center;height: 38px;padding: 0px 20px 0px 10px;box-sizing: border-box;margin-right: 10px;margin-bottom: 12px;cursor: pointer;}
.pp-steps .step1 ul li:hover{border-color: #b3b3b3;}
.pp-steps .step1 ul li .select{width: 14px;height: 14px;background: #FFFFFF;border: 1px solid #DFE3EB;border-radius: 50%;box-sizing: border-box;margin-right: 6px;}
.pp-steps .step1 ul li span{color: #666666;font-size: 14px;margin-right: 30px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 300px;}
.pp-steps .step1 ul li div{color: #999999;font-size: 13px;}
.pp-steps .step1 ul .active{border: 1px solid #99BBFF;background-color: #F5F9FF;}
.pp-steps .step1 ul .active:hover{border-color: #99BBFF;}
.pp-steps .step1 ul .active span{color: #212121;}
.pp-steps .step1 ul .active .select{background: url(../images/confirmW.png) no-repeat center/cover #2278FF;border-color: #2278FF;}
.pp-steps .step1 ul .unfold,.pp-steps .step1 ul .fold{border-color: #EDEDED;background-color: #F5F7FA;color: #999999;font-size: 14px;margin: 0px;align-items: center;justify-content: center;padding: 0px 8px 0px 14px;display: none;}
.pp-steps .step1 ul .unfold::after{content: '';width: 16px;height: 16px;background: url(../images/posterd.png) no-repeat center/cover;}
.pp-steps .step1 ul .fold::after{content: '';width: 16px;height: 16px;background: url(../images/posterd.png) no-repeat center/cover;transform: rotateZ(180deg);}
.pp-steps .step2{display: none;}
.pp-steps .step2 ul{display: flex;flex-wrap: wrap;}
.pp-steps .step2 ul li{width: 160px;height: 350px;margin-right: 20px;margin-bottom: 20px;position: relative;animation: leftFadeIn .3s;}
.pp-steps .step2 img{object-fit: cover;width: 100%;height: 100%;border-radius: 4px;}
.pp-steps .step2 ul li:hover .btn{display: block;}
.pp-steps .step2 ul li .btn{position: absolute;bottom: 0px;left: 0px;height: 100%;width: 100%;background: linear-gradient(to top, rgba(0,0,0,.6) 0%,rgba(0,0,0,0) 35%);border-radius: 4px;display: none;cursor: pointer;}
.pp-steps .step2 ul li .btn div{width: 120px;height: 36px;background: #3F7EFC;border-radius: 6px;line-height: 36px;text-align: center;font-size: 14px;color: white;position: absolute;bottom: 18px;left: calc(50% - 60px);cursor: pointer;animation: bottomFadeIn .3s;}
.pp-steps .step2 ul li .btn div:hover{background-color: #4089ff;}
.p-save{position: fixed;top: 0;left: 0;right: 0;bottom: 0;background-color: rgba(0,0,0,.2);z-index: 1110;display: none;}
.pp-poster{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
.pp-loading{width: 340px;height: 640px;background: #F5F7FA;box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.4);border-radius: 6px;display: flex;align-items: center;justify-content: center;flex-direction: column;}
.pp-loading img{width: 68px;height: 57px;object-fit: cover;border-radius: 16px;margin-bottom: 16px;}
.pp-loading p{font-size: 14px;color: #999999;text-align: center;}
.pp-poster a{width: 120px;height: 38px;background: #3F7EFC;border-radius: 6px;text-align: center;line-height: 38px;color: white;font-size: 14px;margin: auto;cursor: pointer;display: block;margin-top: 15px;animation: topFadeIn .2s;}
.pp-show{max-height: 640px;overflow-y: overlay;display: none;border-radius: 6px;box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.4);}
.pp-show::-webkit-scrollbar{width: 6px;position: absolute;right: 0px;}
.pp-show::-webkit-scrollbar-thumb{width: 6px;background: rgba(231,231,231,.5);border-radius: 3px;opacity: .7;}
.ppp-showimg{width: 340px;object-fit: cover;border-radius: 6px;display: block;}
.pp-drag{position: absolute;top: 0px;width: 100%;height: 64px;left: 0px;cursor: all-scroll;}
.p-warning{background-color: rgba(51, 51, 51, .9);border-radius: 10px;position: fixed;top: 43%;left: 50%;transform: translate(-50%,-50%);color: white;font-size: 14px;display: none;padding: 26px 40px;}
/* 分享 */
.shareListPop{width: 330px;border-radius: 8px; position: absolute; right: -10px; top: 24px; box-sizing: border-box; z-index: 9; display:none; animation: topFadeIn .3s;padding-top: 10px;cursor: auto;}
.shareBox:hover .shareListPop{display: block;}
.sh-con{background-color:white;padding-top: 18px;padding-bottom: 29px;border-radius: 8px;box-shadow: 0px 7px 20px 0px rgba(0, 6, 18, 0.1);}
.shareListPop::before{content: ''; display: block; height: 10px; position: absolute; left: 0; right: 0; top: -10px;}
.shareListPop h5{font-size: 14px; color: #4D4D4D; padding-left: 26px;}
.shareListPop .shareWayBox{overflow: hidden;}
.shareListPop .shareWayBox>div{width: 50%; float: left; box-sizing: border-box;  margin-top: 20px;}
.shareListPop .shareWayBox .wxQrShare{box-sizing: border-box; border-right: solid 1px #f2f2f2; padding: 3px 0;}
.shareListPop .shareWayBox .wxQr{width: 106px; height: 106px; background: #f5f5f5; margin: auto; background: #f4f4f4;}
.shareListPop .shareWayBox .wxQr img{display: block; width: 100%; height: 100%; object-fit: cover;}
.otherShare{padding-top: 4px;}
.otherShare  li{margin-bottom: 14px;}
.otherShare a {padding-left: 36px; display: block; background: url('/static/images/share_icon.png') no-repeat; font-size: 14px; color: #4D4D4D; text-align: left;}
.otherShare a:hover{color: #212121}
.otherShare .qzone a {background-position: 13px -33px;}
.otherShare .qq a {background-position: 13px -59px;}
.otherShare .sina a {background-position: 13px -85px;}
/* 投递成功弹窗 */
.sendpop{width: 100%;height: 100%;position: fixed;top: 0;left: 0;background-color: rgba(0,0,0,.13);z-index: 9;display: none;z-index: 1004;}
.sendpop .s-same,.sendpop .s-different,.sendpop .s-appsucceed,.sendpop .s-succeed,.sendpop .s-had,.s-certificate,.sendpop .s-company{display: none;position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;animation: topFadeIn .3s;}
/* 确认投递（相同职位类型） */
.s-company{width: 460px;height: 220px;background-color: white;border-radius: 16px;padding-top: 37px;box-sizing: border-box;}
.s-company .ss-title p{color: #000000;font-size: 16px;font-weight: bold;}
.s-company .ss-text{color: #666666;font-size: 13px;text-align: center;line-height: 26px;margin-bottom: 48px;}
.s-company .ss-text p{color: #999999;font-size: 14px;}
.s-company .ss-btn{display: flex;justify-content: center;}
.s-company .ss-btn .cancel{width: 200px;height: 42px;background: #3377FF;border-radius: 6px;color: white;font-size: 14px;}
.s-company .ss-btn .cancel:hover{background-color: #4089ff;}
.s-same,.s-certificate{width: 410px;height: 180px;background-color: white;border-radius: 16px;padding-top: 30px;}
.s-certificate{height: 150px;}
.ss-close{width: 24px;height: 24px;object-fit: cover;position: absolute;top: 11px;right: 11px;cursor: pointer;}
.ss-title{display: flex;align-items: center;justify-content: center;margin-bottom: 8px;}
.ss-title img{width: 26px;height: 26px;object-fit: cover;margin-right: 7px;}
.ss-title p{color: #000000;font-size: 16px;font-weight: bold;}
.ss-title p span{color: #1975FF;}
.ss-text{color: #666666;font-size: 13px;text-align: center;line-height: 26px;margin-bottom: 25px;}
.ss-text p span{color: #3377FF;display: inline-block;max-width: 156px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;vertical-align: bottom;}
.ss-btn{display: flex;padding: 0px 60px;justify-content: space-between;}
.ss-btn div{width: 140px;height: 40px;text-align: center;line-height: 40px;border-radius: 6px;font-size: 14px;cursor: pointer;}
.ss-btn .cancel{background-color: #F2F2F2;color: #666666;}
.ss-btn .confirm{background-color: #3377FF;color: white;}
.s-same.no .ss-title img{display: none;}
/* 投递成功（有app） */
.s-appsucceed{width: 540px;height: 400px;background-color: white;border-radius: 16px;background: linear-gradient(to bottom,#F2F7FF 0%, white 30%);box-sizing: border-box;padding: 45px 0px 0px;}
.sa-close{position: absolute;top: 11px;right: 11px;width: 24px;height: 24px;cursor: pointer;}
.sa-close img{object-fit: cover;width: 100%;height: 100%;}
.sa-title{display: flex;align-items: center;justify-content: center;color: #212121;font-size: 18px;font-weight: bold;margin-bottom: 30px;}
.sa-title img{width: 40px;height: 40px;object-fit: cover;margin-right: 9px;}
.sa-text{color: #666666;font-size: 14px;font-weight: 400;text-align: center;}
.sa-mobile{width: 220px;height: 220px;margin: 12px auto 0px;}
.sa-mobile img{object-fit: cover;width: 100%;height: 100%;}
/* 投递成功（无app） */
.s-succeed{width: 400px;height: 220px;background-color: white;border-radius: 16px;background: linear-gradient(to bottom,#F2F7FF 0%, white 30%);box-sizing: border-box;padding: 27px 0px 0px;}
.s-succeed img{object-fit: cover;width: 136px;height: 108px;margin: auto;display: block;margin-bottom: 10px;}
.s-succeed p{color: #333333;font-size: 16px;font-weight: bold;text-align: center;}
/* 已经投递过 */
.s-had{width: 320px;height: 60px;background: #FFFFFF;border-radius: 10px;}
.s-had div{display: flex;align-items: center;justify-content: center;height: 100%;}
.s-had img{width: 26px;height: 26px;object-fit: cover;margin-right: 7px;}
.s-had p{color: #000000;font-size: 14px;font-weight: bold;}
.pp-nopost{display: none;flex-direction: column;justify-content: center;align-items: center;flex: 1;}
.pp-nopost img{width: 220px;object-fit: cover;margin-bottom: 20px;}
.pp-nopost a{border-radius: 20px;background-color: #3377FF;height: 40px;width: 200px;color: white !important;text-align: center;line-height: 40px;font-size: 16px;display: block;}
.pp-nopost a:hover{background-color: #4089ff;}
.pp-nopost p{color: #909399;font-size: 14px;margin-bottom: 20px;}
.moreResume{background-color: rgba(0,0,0,.13);position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index:3;display:none}
.mr-content{width: 420px;height: 190px;background: #FFFFFF;border-radius: 16px;position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;animation: topFadeIn .2s;}
.mr-close{width: 24px;height: 24px;object-fit: cover;position: absolute;top: 11px;right: 11px;cursor: pointer;}
.mr-title{color: #000000;font-size: 18px;font-weight: bold;text-align: center;padding-top: 32px;}
.mr-title img{width: 26px;height: 26px;object-fit: cover;margin-right: 7px;}
.mr-title p span{color: #1975FF;}
.mr-title div{display: flex;align-items: center;justify-content: center;}
.mr-btn{display: flex;justify-content: center;margin-top: 36px;}
.mr-btn .change{width: 140px;height: 40px;background: #F2F2F2;border-radius: 6px;color: #666;font-size: 14px;text-align: center;line-height: 40px;margin-right: 10px;cursor: pointer;}
.mr-btn .close{width: 140px;height: 40px;background: #3377FF;border-radius: 6px;font-size: 14px;color: white;text-align: center;line-height: 40px;cursor: pointer;}
.mr-select{width: 420px;height: 210px;background: #FFFFFF;border-radius: 16px;position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;animation: topFadeIn .2s;display: none;}
.mrs-title{color: #000000;font-size: 16px;font-weight: bold;margin-top: 18px;padding-left: 18px;}
.mrs-select{display: flex;align-items: center;margin-top: 18px;justify-content: center;}
.mrs-select span{color: #333333;font-size: 14px;}
.mrs-input{position: relative;}
.mrs-input ul{position: absolute;background: #FFFFFF;border: 1px solid #EDEDED;box-shadow: 1px 5px 20px 0px rgba(0,8,26,0.1);border-radius: 6px;width: 100%;box-sizing: border-box;z-index: 1;transition: all .2s;border: 0;overflow: hidden;display: none;}
.mrs-input ul li{height: 38px;cursor: pointer;color: #333;padding-left: 19px;font-size: 14px;line-height: 38px;}
.mrs-input ul .noSend{color: #666;pointer-events: none;}
.mrs-input ul .noSend span{color: #999999;font-size: 12px;}
.mrs-input ul li:hover{background: #F0F6FF;color: #1975FF;}
.mrs-input ul .active{background: #F0F6FF;color: #1975FF;}
.mrs-input input{width: 300px;height: 50px;background: #FFFFFF;border: 1px solid #EDEDED;border-radius: 6px;outline: none;box-sizing: border-box;font-size: 14px;padding: 0px 11px;cursor: pointer;}
.mrs-input input::placeholder{color: #333333;opacity: .3;}
.mrs-input i{background: url(../images/posterd.png) no-repeat;background-size: cover;position: absolute;top: 50%;transform: translateY(-50%);right: 11px;width: 20px;height: 20px;opacity: .5;}
.mrs-btn{display: flex;margin-top: 34px;justify-content: center;}
.mrs-btn .cancel{width: 140px;height: 40px;background: #F2F2F2;border-radius: 6px;margin-right: 10px;color: #666666;font-size: 14px;text-align: center;line-height: 40px;cursor: pointer;}
.mrs-btn .confirm{width: 140px;height: 40px;background: #3377FF;border-radius: 6px;text-align: center;line-height: 40px;font-size: 14px;color: white;opacity: 0.3;}
.mrs-btn .confirm.has{opacity: 1;cursor: pointer;}
@keyframes bottomFadeOut{
	0%{opacity:1;	transform:translateY(0px);}
	100%{opacity:0; transform:translateY(-20px);}
}
@font-face {
	font-family: DINMi;
	src: url('../../../../static/fonts/DINMittelschriftStd.eot'),
        url('../../../../static/fonts/DINMittelschriftStd.otf'),
        url('../../../../static/fonts/DINMittelschriftStd.ttf'),
        url('../../../../static/fonts/DINMittelschriftStd.woff'),
        url('../../../../static/fonts/DINMittelschriftStd.woff2') /* IE9 */
}