html{overflow: overlay;}
.header-line{width: 100%;height: 6px;background: #F5F9FF;}
.b-title{width: 1200px;margin: auto;background:white;display: flex;justify-content: space-between;align-items: center;padding: 13px 0px 10px 0px;}
.bt-left{display: flex;flex-direction: column;justify-content: space-around;}
.bt-left .title{font-size: 16px;font-family: Microsoft YaHei;font-weight: bold;color: #111421;}
.bt-left .time{font-size: 14px;font-family: Microsoft YaHei;font-weight: bold;color: #1975FF;margin-top: 5px;}
.bt-right p{font-size: 12px;font-family: Microsoft YaHei;font-weight: 400;color: #666B80;}
.bt-right p span{font-size: 14px;font-family: Microsoft YaHei;font-weight: bold;color: #1975FF;margin-left: 4px;}
#dragbox{width: 1200px;margin: auto;min-height: 600px;position: relative;overflow: hidden;background-color: #f7f7f7;max-height: 1200px;display: flex;
align-items: center;justify-content: center;}
#dragbox .scaleimg{object-fit: cover;position: absolute;transition: transform .5s;transform: scale(1);transform-origin: center;}
#dragbox .scaleshield{cursor: all-scroll;position: absolute;z-index: 1;transform: scale(1);transform-origin: center;}
.scaleInput{z-index: 2;position: absolute;bottom: 20px;right: 18px;}
.scaleInput input{width: 126px;height: 40px;background: #FFFFFF;border: 1px solid #E3E3E6;box-shadow: 0px 4px 8px 0px rgba(0,17,51,0.08);border-radius: 6px;outline: none;text-align: center;padding: 0px 38px;box-sizing: border-box;color: #192233;font-size: 14px;}
.scaleInput div{width: 30px;height: 30px;border: 0px solid #E3E3E6;border-radius: 6px;position: absolute;top: 50%;cursor: pointer;display: flex;justify-content: center;align-items: center;transform: translateY(-50%);}
.scaleInput div img{width: 16px !important;height: 16px !important;}
.scaleInput div:hover{background-color: #EDF0F3;}
.scaleInput .dec{left: 5px;}
.scaleInput .add{right: 5px;}
.warn{position: fixed;top: 50%;left: 50%;transform: translate(-50%,-50%);width: 100px;height: 28px;background: rgba(0,0,0,0.5);border: 1px solid #FFFFFF;box-shadow: 0px 4px 8px 0px rgba(0,17,51,0.08);border-radius: 14px;font-size: 13px;color: white;display: none;text-align: center;line-height: 28px;}