.navBox ul li:nth-of-type(3) a{color: #256CFA;}
.topSearch{width: 100%;background: url(../images/zgBanner.png) no-repeat;background-size: cover;margin-bottom: 20px;padding: 20px 0px 26px;box-sizing: border-box;height: 200px;}
.t-contant{display: flex;align-items: center;justify-content: space-between;width: 1200px;margin: auto;}
.tcl-title{font-size: 46px;color: white;font-weight: bold;margin-bottom: 4px;}
.tcl-text{margin-bottom: 10px;font-size: 18px;color: rgba(255, 255, 255, .9);}
.tcl-btn{background-color: #3FB9D9;border-radius: 22px;width: 150px;height: 44px;line-height: 44px;font-weight: bold;color: white !important;font-size: 16px;text-align: center;display: block;}
.tcr-search{display: flex;margin-bottom: 10px;}
.tcr-search .inputs{width: 584px;height: 46px;line-height: 46px;background-color: white;border-radius: 23px;display: flex;align-items: center;padding: 0px 13px 0px 0px;box-sizing: border-box;font-size: 14px;margin-right: 8px;border: 2px solid #323999;}
.tcr-search .inputs input{outline: none;border: 0;flex: 1;background-color: white;height: 100%;border-radius: 23px 0px 0px 23px;text-indent: 1.5em;}
.tcr-search .inputs img{width: 30px;height: 30px;object-fit: cover;cursor: pointer;}
.tcr-label{display: flex;}
.tcr-label .item{background-color: rgba(78, 134, 217, .6);border-radius: 12px;margin-right: 6px;}
.tcr-label .item a{color: rgba(247, 247, 247, .9);font-size: 12px;display: block;padding: 3px 14px;}
.tcr-label .item:hover{background-color: rgba(78, 134, 217, 1);}
.tcr-label .item:hover a{color: rgba(247, 247, 247, 1);}
/* 详细内容 */
.detailContent{width: 1200px;margin: auto;}
/* 筛选条件 */
.d-filter{padding: 25px 26px 18px 27px;background-color: white;border-radius: 8px;margin-bottom: 12px;}
.df-area{display: flex;}
.df-area div{margin-right: 10px;flex-shrink: 0;font-size: 14px;}
.df-area ul{display: flex;flex-wrap: wrap;}
.df-area ul li{color: #212121;font-size: 13px;margin-right: 30px;margin-bottom: 26px;cursor: pointer;}
.df-area ul li:hover{color: #2278FF;}
.df-area ul li:last-child{margin-right: 0px;}
.df-area ul .active{color: #2278FF;font-weight: bold;}
.df-more{display: flex;justify-content: space-between;margin-bottom: 18px;}
.dfm-left{display: flex;align-items: center;}
.dfm-left span{color: #666666;font-size: 14px;}
.dfm-left .item{min-width: 112px;height: 38px;border: 1px solid #EEEEEE;border-radius: 4px;padding: 0px 10px;display: flex;align-items: center;justify-content: space-between;box-sizing: border-box;margin-left: 10px;cursor: pointer;position: relative;}
.dfm-left .item.age{transition: all .5s;}
.dfm-left .item.age:hover{border-color: #C0C4CC;}
.dfm-left .item .fItem{position: absolute;top: 36px;background-color: white;border: 0px solid #EBEEF2;box-shadow: 0px 0px 40px 0px rgba(0,15,77,0.08);border-radius: 4px;min-width: 100%;left: 0px;color: #333333;font-size: 13px;box-sizing: border-box;overflow: auto;padding: 0px;white-space: nowrap;animation: topFadeIn .3s;display: none;}
.dfm-left .item .fItem::-webkit-scrollbar{width: 6px;}
.dfm-left .item .fItem::-webkit-scrollbar-thumb{background-color: rgba(0,0,0,.2);border-radius: 4px;}
.dfm-left .item:hover .fItem{max-height: 300px;padding: 8px 0px;border: 1px solid #EBEEF2;display: block;}
.dfm-left .item .fItem div{padding: 8px 20px;}
.dfm-left .item .fItem div:hover{color: #2278FF;background-color: rgba(51, 119, 255, .1);}
.dfm-left .item input{font-size: 13px;color: #333333;outline: none;border: 0;width: 40px;}
.dfm-left .item:first-of-type{margin-left: 0px;}
.dfm-left .item img{width: 10px;height: 10px;object-fit: cover;}
.dfm-left .item span{color: #333333;font-size: 13px;}
.dfm-left .btn{background-color: #3377FF;border-radius: 4px;font-size: 14px;color: #FFFFFF;text-align: center;height: 38px;line-height: 38px;width: 60px;margin-left: 4px;cursor: pointer;}
.dfm-left .btn:hover{background-color: #4089ff;}
.dfm-right{display: flex;align-items: center;color: #666666;font-size: 14px;cursor: pointer;}
.dfm-right img{width: 16px;height: 16px;object-fit: cover;margin-right: 3px;}
.dfm-right a{color: #666666;}
.dfm-right:hover a{color: #1975FF;}
/* 列表 */
.d-list{display: flex;width: 100%;}
.dl-left{margin-right: 12px;flex: 1;border-radius: 8px 8px 0px 0px;}
.dl-right{width: 300px;}
.dll-tab{display: flex;padding: 0px 19px;height: 50px;line-height: 50px;background-color: white;border-radius: 8px 8px 0px 0px;}
.dll-tab a{color: #666666;font-size: 14px;margin-right: 45px;cursor: pointer;display: block;}
.dll-tab a:hover{color: #2278FF;}
.dll-tab .active{font-size: 14px;font-weight: bold;color: #2278FF;position: relative;}
.dll-tab .active::before{content: '';position: absolute;background-color: #2278FF;height: 3px;bottom: 0px;left: 0px;right: 0px;}
.dll-text{display: none;text-align: center;color: #909399;font-size: 14px;margin-top: 20px;padding-bottom: 20px;}
.dll-list{background-color:white;}
.dll-list li{padding: 18px 34px 23px 30px;border-top: 1px solid #F7F7F7;}
.dll-list .none{display: flex;flex-direction: column;justify-content: center;align-items: center;}
.dll-list .none img{width: 200px;height: 80px;object-fit: cover;margin-bottom: 30px;}
.dll-list .none span{color: #666666;font-size: 14px;}
.dll-list li a{display: flex;justify-content: space-between;align-items: center;}
.dll-list li .left .title{font-size: 20px;font-weight: bold;color: #212121;margin-bottom: 9px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;word-break: break-all;overflow: hidden;}
.dll-list li:hover .left .title{color: #2278FF;}
.dll-list li .left .name{display: flex;align-items: center;margin-bottom: 15px;}
.dll-list li .left .name img{width: 20px;height: 20px;object-fit: cover;border-radius: 50%;margin-right: 5px;flex-shrink: 0;}
.dll-list li .left .name span{color: #333333;font-size: 14px;flex-shrink: 0;}
.dll-list li .left .name .ages{font-size: 12px;color: #666666;width: 570px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;display: flex;}
.dll-list li .left .name .ages .description{display: flex;}
.dll-list li .left .name .ages .description div{margin-left: 6px;}
.dll-list li .left .label{display: flex;align-items: center;}
.dll-list li .left .label .item{background-color: #F0F6FF;border-radius: 12px;padding: 0px 12px;color: #5977B3;font-size: 13px;margin-right: 6px;height: 24px;line-height: 24px;}
.dll-list li .left .label span{color: #999999;font-size: 12px;}
.dll-list li .left .label span span{color: #E6E6E6;margin: auto 4px;}
.dll-list li .right{background-color: #3377FF;border-radius: 18px;text-align: center;height: 36px;line-height: 36px;width: 106px;font-size: 14px;color: white;flex-shrink: 0;margin-left: 105px;}
.dll-list li .right:hover{background-color: #4089ff;}
.cl-none{height: calc(100% - 50px);background-color: white;display: flex;align-items: center;justify-content: center;color: #909399;font-size: 14px;flex-direction: column;}
.cl-none img{width: 220px;object-fit: cover;margin-bottom: 20px;}
/* 底部翻页 */
.dll-page{display: flex;justify-content: center;margin-top: 32px;}
.dll-page span{font-size: 13px;color: #666666;}
.dll-page input{width: 60px;background-color: white;border: 0;outline: none;height: 30px;font-size: 13px;text-align: center;border-radius: 4px;padding: 0px 10px;box-sizing: border-box;}
.dll-page .btn{width: 60px;height: 30px;background-color: #3377FF;color: white;text-align: center;line-height: 30px;border-radius: 4px;margin-left: 10px;cursor: pointer;}
.dll-page .btn:hover{background-color: #4089ff;}
.pagination .inner ul{display: flex;justify-content: center;}
.pagination .inner ul li{min-width: 20px;height: 30px;padding: 0 5px; line-height: 30px;text-align: center;background: #FFFFFF;border-radius: 4px; overflow: hidden; font-size: 13px;margin-right: 10px;}
.pagination .inner ul .page_current{cursor: default !important;}
.pagination .inner ul li a{width: 100%;height: 100%;display: block;}
.pagination .inner ul li:hover {color: white;background-color: #37f;cursor: pointer;}
.pagination .inner ul li:hover a {color: #fff;}
.pagination .inner .page_info{display: none;}
.pagination .inner ul li.page_more {background-color: #fff; color: #333; cursor: default;}
.pagination .inner ul li.page_disabled, .pagination .inner ul li.page_current {background-color: #f0f0f0; color: #ccc; cursor: no-drop;}
.page_current{background-color: #2278FF !important;}
.page_current span{color: white;}
/* 验证手机 */
.dlr-btn{height: 66px;line-height: 66px;text-align: center;color: white !important;font-weight: bold;font-size: 18px;border-radius: 8px;display: block;background: linear-gradient(90deg, #99D9ED 0%, #44B8D5 100%);margin-bottom: 12px;text-decoration: none;}
.dlr-manage{background-color: white;border-radius: 8px;margin-bottom: 12px;}
.dlr-manage .title{font-size: 18px;color: #222222;font-weight: bold;height: 75px;line-height: 75px;background: linear-gradient(to bottom, rgba(101, 173, 191, .2) 0%, rgba(255, 255, 255, .7) 100%);text-align: center;border-radius: 8px 8px 0px 0px;}
.dlr-manage .phone{display: flex;align-items: center;margin-bottom: 22px;position: relative;}
.dlr-manage .phone .warn{position: absolute;top: 41px;left: 58px;font-size: 12px;color: #F53D3D;display: none;}
.dlr-manage .phone span{color: #777777;font-size: 14px;flex-shrink: 0;}
.dlr-manage .phone input{border: 1px solid #EBEEF2;border-radius: 6px;outline: none;flex: 1;font-size: 14px;height: 38px;padding: 0px 14px;box-sizing: border-box;}
.dlr-manage .phone input:hover{border-color: #C0C4CC;}
.dlr-manage .phone input:focus{border-color: #93D7EB;}
.dlr-manage .confirm{background: linear-gradient(90deg, rgba(150, 220, 243, .7) 0%, rgba(53, 189, 223, .7) 100%);border-radius: 6px;color: white;font-size: 14px;font-weight: bold;text-align: center;height: 40px;line-height: 40px;margin-left: 6px;cursor: pointer;}
.dlr-manage .code{display: flex;align-items: center;margin-bottom: 24px;position: relative;}
.dlr-manage .code span{color: #777777;font-size: 14px;}
.dlr-manage .code input{outline: none;border: 1px solid #EBEEF2;border-radius: 6px;width: 98px;font-size: 14px;margin-right: 10px;height: 38px;box-sizing: border-box;padding: 0px 14px;}
.dlr-manage .code input:hover{border-color: #C0C4CC;}
.dlr-manage .code input:focus{border-color: #93D7EB;}
.dlr-manage .code div{background-color: rgba(63, 144, 252, .1);border-radius: 6px;color: #2577FA;font-size: 14px;height: 38px;line-height: 38px;flex: 1;text-align: center;cursor: pointer;}
.dlr-manage .code .resend{background-color: #f5f5f5;color: #999;cursor: auto;}
.dlr-manage .code em{position: absolute;top: 42px;left: 58px;font-size: 12px;color: #F53D3D;display: none;}
/* 浏览历史 */
.dlr-history{background-color: white;border-radius: 8px;margin-bottom: 12px;}
.dlr-history .title{color: #333333;font-size: 16px;font-weight: bold;display: flex;align-items: center;padding: 0px 13px;height: 50px;}
.dlr-history .title img{width: 20px;height: 20px;margin-right: 4px;}
.dlr-history .item{padding: 21px 16px 18px 18px;border-top: 1px solid #EEEEEE;display: block;}
.dlr-history .item .jobs{display: flex;justify-content: space-between;margin-bottom: 16px;}
.dlr-history .item .jobs div{color: #000000;font-size: 14px;}
.dlr-history .item:hover .jobs div{color: #2278FF;}
.dlr-history .item .jobs span{color: #FF5039;font-size: 14px;}
.dlr-history .item .address{color: #999999;font-size: 12px;}
.dlr-history .item .address span{color: #E6E6E6;margin-right: 5px;margin-left: 3px;}
/* 手机扫一扫 */
.dlr-scan{padding: 25px;background:white;border-radius: 8px;display: flex;align-items: center;}
.dlr-scan img{width: 90px;height: 90px;object-fit: cover;margin-right: 24px;}
.dlr-scan div{line-height: 22px;}
.dlr-scan p{color: #000000;font-size: 14px;}

