.pubTop{display: none;}
.topInfo{margin-bottom: 0px;}
.siteCityInfo{display: none;}
.changeCityBtn{display: none;}
/* 头部导航栏 */
.navBar{background-color: #3377FF;height: 50px;}
.n-address{flex: 1;color: white;display: flex;align-items: center;}
.siteCityInfo.name{display: block;font-size: 15px;font-weight: bold;margin-right: 6px;}
.changeCityBtn.name{display: block;}
.na-mark{width: 16px;height: 16px;object-fit: cover;}
.n-shell{width: 1200px;margin: auto;display: flex;align-items: center;height: 100%;justify-content: flex-end;}
.ns-items{display: flex;}
.ns-items li{margin-right: 50px;}
.ns-items a{color: white;font-size: 15px;font-weight: bold;}
.ns-label{width: 98px;height: 26px;line-height: 26px;text-align: center;color: white !important;background:url(../images/toplabel.png) no-repeat;background-size: cover;margin-left: 50px;display: block;}
/* 头部搜索 */
.topSearch{height: 100px;align-items: center;display: flex;justify-content: flex-end;width: 1200px;margin: auto;}
.topSearch .logo{width: 180px;height: 50px;margin-right: auto;object-fit: cover;}
.t-search{width: 665px;height: 50px;border: 1px solid #E3F0FF;border-radius: 25px;display: flex;align-items: center;justify-content: space-between;margin-right: 62px;background-color: #2278FF;padding: 1px;box-sizing: border-box;}
.t-search input{font-size: 14px;outline: none;border: 0;width: 100%;padding-right: 10px;height: 100%;border-radius: 25px 0px 0px 25px;text-indent: 2em;}
.t-search div{position: relative;flex: 1;height: 100%;}
.t-search div::after{width: 1px;height: 16px;content: '';background-color: #E6E6E6;position: absolute;top: 50%;transform: translateY(-50%);right: 0;}
.t-search input::placeholder{color: #B3B3B3;}
.t-search span{padding-left: 30px;padding-right: 37px;height: 100%;background-color: white;border-radius: 0px 25px 25px 0px;display: flex;align-items: center;}
.t-search img{width: 24px;height: 24px;object-fit: cover;cursor: pointer;}
.t-scan{display: flex;align-items: center;}
.ts-left{margin-right: 15px;}
.ts-left .scan{color: #2278FF;font-size: 13px;margin-bottom: 4px;text-align: right;}
.ts-left .text{color: #9CA0AD;font-size: 12px;}
.ts-right{background-color: white;border: 1px solid #E2E3E7;padding: 4px 4px 4px 6px;width: 60px;height: 60px;position: relative;border-radius: 4px;}
.ts-right::before{content: '';width: 8px;height: 8px;background-color: white;border-left: 1px solid #E2E3E7;border-bottom: 1px solid #E2E3E7;position: absolute;left: -8px;top: 50%;box-sizing: border-box;transform: rotateZ(45deg) translateY(-50%);}
.ts-right img{width: 60px;height: 60px;object-fit: cover;}
.Shell{width: 1200px;margin: auto;margin-top: -200px;}
/* 用户信息板 */
.detPlate{display: flex;margin-bottom: 26px;position: relative;justify-content: space-between;height: 460px;}
.d-left{width: 238px;background-color: #2E2F33;border-radius: 8px 0px 0px 8px;padding: 10px 0px;position: relative;flex-shrink: 0;}
.d-left li{height: 10%;text-align: center;color: #FFFFFF;font-size: 14px;cursor: pointer;display: flex;align-items: center;padding-left: 30px;justify-content: space-between;padding-right: 18px;}
.d-left li:last-child{padding: 0px;}
.d-left li:last-child a{flex: 1;text-align: left;padding: 0px 18px 0px 30px;height: 100%;display: flex;align-items: center;justify-content:space-between;}
.d-left li:last-child a::after{content: '';width: 14px;height: 14px;background: url(../images/triangle_white_right.png) no-repeat center/cover;margin-top: 1px;}
.d-left li:last-child::after{display: none;}
.d-left li::after{content: '';width: 14px;height: 14px;background: url(../images/triangle_white_right.png) no-repeat center/cover;margin-top: 1px;}
.d-left li:hover{background-color: rgba(0,0,0,.25);}
.d-left li:hover::after{transform: rotateZ(0deg);}
.d-left li:hover .dl-con{display: block;}
.dl-con{position: absolute;left: 100%;top: 0px;background-color: white;width: 700px;height: 528px;display: none;color: black;box-shadow: 1px 8px 40px 0px rgba(46,107,230,0.1);height: 100%;box-sizing: border-box;padding: 30px;overflow-y: auto;cursor: auto;z-index: 2;}
.dl-con::-webkit-scrollbar{width: 4px;background: white;}
.dl-con::-webkit-scrollbar-thumb{background-color: #D7D7D9;border-radius: 2px;}
.dlc-item{margin-bottom: 30px;animation: leftFadeIn .3s;}
.dlc-item p{color: #212121;font-size: 14px;font-weight: bold;text-align: left;margin-bottom: 20px;}
.dlc-item div{display: grid;grid-template-columns: repeat(4,1fr);text-align: left;gap: 10px;color: #333333;font-size: 14px;}
.dlc-item div a:hover{color: #3377FF;cursor: pointer;}
.d-center{flex: 1;overflow: hidden;position: absolute;top: 0px;bottom: 0px;left: 238px;right: 262px;}
.d-center img{object-fit: cover;height: 100%;}
.d-center:hover .dc-next,.d-center:hover .dc-prev{display: block;}
.dc-pagination{position: absolute;bottom: 20px !important;z-index: 10;display: flex;justify-content: center;}
.dc-pagination span{width: 8px;height: 8px;background-color: #EEEEEE;opacity: 0.5;transition: all .2s;border-radius: 50%;}
.dc-pagination .swiper-pagination-bullet-active{width: 16px;opacity: 1;border-radius: 5px;}
.dc-next{position: absolute;top: calc(50% - 24px);right: 16px;width: 48px;height: 48px;border-radius: 50%;background: url(../images/arr_right_white.png) no-repeat center/cover rgba(0,0,0,.4);z-index: 10;background-size: 20px 20px;background-position-x: 16px;display: none;animation: rightFadeIn .3s;cursor:pointer}
.dc-next:hover{background-color: rgba(0,0,0,.6);}
.dc-prev{position: absolute;top: calc(50% - 24px);left: 16px;width: 48px;height: 48px;border-radius: 50%;background: url(../images/arr_left_white.png) no-repeat center/cover rgba(0,0,0,.4);z-index: 10;background-size: 20px 20px;background-position-x: 13px;display: none;animation: leftFadeIn .3s;cursor:pointer}
.dc-prev:hover{background-color: rgba(0,0,0,.6);}
.siteAdvObj{height: 100%;}
.siteAdvObj img{width: 100%;object-fit: cover; display: block;}
.d-right{width: 262px;background-color: white;border-radius: 0px 8px 8px 0px;padding: 25px 20px 26px;box-sizing: border-box;flex-shrink: 0;display: flex;
flex-direction: column;justify-content: space-between;}
.dr-user{padding-bottom: 29px;padding-top: 7px;}
.dru-photo{text-align: center;margin-bottom: 20px;display: block;}
.dru-photo img{width: 76px;height: 76px;object-fit: cover;border-radius: 50%;margin-bottom: 4px;}
.dru-photo p{font-size: 14px;color: #333333;margin-bottom: 8px;}
.dru-photo span{color: #999999;font-size: 12px;}
.dru-btn{display: flex;justify-content: space-between;}
.dru-btn .jobs{width: 94px;height: 36px;text-align: center;line-height: 36px;color: white;font-size: 14px;border-radius: 6px;background-color: #3377FF;margin-left: 12px;cursor:pointer}
.dru-btn .jobs:hover{background-color: #4089ff;}
.dru-btn .hire{width: 94px;height: 36px;border: 1px solid #6699FF;box-sizing: border-box;background-color: white;color: #2278FF;font-size: 14px;border-radius: 6px;margin-right: 12px;line-height: 36px;text-align: center;cursor:pointer}
.dru-btn .hire:hover{color: white;border-color: white;background-color: #2278FF;}
.dr-news{overflow: hidden;}
.drn-title{color: #212121;font-size: 15px;font-weight: bold;display: block;margin: 16px 0px 13px;}
.drn-item{display: flex;height: 64px;flex-direction: column;justify-content: end;}
.drn-item:first-of-type{height: auto;}
.drn-item p{color: #333333;font-size: 13px;line-height: 20px;margin-bottom: 4px;overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;}
.drn-item p span{color: #3377FF;}
.drn-item:hover p{text-decoration: underline;color: #3377FF;}
.drn-item div{color: #666666;font-size: 13px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.drn-item div span{color: #999999;font-size: 13px;}
.dr-usered{margin-bottom: 19px;animation: leftFadeIn .3s;display: none;}
.dru-base{display: flex;align-items: center;margin-bottom: 24px;}
.dru-base .left{width: 52px;height: 52px;object-fit: cover;margin-right: 10px;border-radius: 50%;flex-shrink: 0;}
.dru-base .right p{color: #333333;font-size: 14px;margin-bottom: 2px;}
.dru-base .right span{color: #999999;font-size: 12px;}
.dru-resume{display: grid;grid-template-columns: repeat(2,1fr);grid-template-rows: repeat(2,1fr);gap: 10px;}
.dru-resume li a{height: 74px;background: #FFFFFF;border: 1px solid #F0F2F5;border-radius: 4px;display: flex;flex-direction: column;justify-content: center;align-items: center;}
.dru-resume li:hover a p{color: #3377FF !important;}
.dru-resume li img{width: 20px;height: 20px;object-fit: cover;}
.dru-resume li p{color: #333333;font-size: 13px;margin-top: 4px;}
.dru-resume li span{color: #3377FF;font-size: 16px;font-weight: bold;}
/* 广告位 */
/* .advPlace{margin-bottom: 24px;} */
.a-title{margin-bottom: 15px;border-radius: 6px;}
.a-text{display: grid;grid-template-columns: repeat(2,1fr);gap: 15px;margin-bottom: 15px;}
.a-con{display: grid;grid-template-columns: repeat(6,1fr);gap: 15px;}
.a-adv{margin-bottom: 24px;display: grid;grid-column: repeat(2,1fr);column-gap: 15px;}
.a-title:empty,.a-text:empty{margin-bottom: 0;}
/* 热招企业 */
.hotCompany{display: grid;grid-template-columns: repeat(3,1fr);column-gap: 15px;margin-top: 20px;}
.h-item{box-shadow: 0px 3px 30px 0px rgba(0,17,51,0.02);border: 0px solid #99BBFF;position: relative;display: block;transition: all .2s;border-radius: 10px;}
.h-item:hover{box-shadow: 1px 8px 40px 0px rgb(0 15 77 / 6%);}
.hi-company{display: flex;padding: 18px;background-color: white;border-radius: 10px 10px 0px 0px;align-items: center;height: 100px;box-sizing: border-box;}
.hi-company:hover .hic-right div{color: #1975FF;}
.hic-left{width: 64px;height: 64px;border: 1px solid #EEEEEE;box-sizing: border-box;margin-right: 10px;border-radius: 6px;flex-shrink: 0;}
.hic-left img{width: 100%;height: 100%;object-fit: contain;border-radius: 6px;}
.hic-right div{color: #333333;font-size: 16px;margin-bottom: 4px;word-break: break-all;overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;}
.hic-right p{color: #9CA0AD;font-size: 13px;word-break: break-all;overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;}
.hic-right p span{margin: 0px 10px 0px 8px;position: relative;}
.hic-right p span::before{content:'';background-color: #DFE0E6;width: 1px;height: 12px;position: absolute;top: 50%;transform: translateY(-50%);margin-top: 1px;}
.hi-jobs{padding: 0px 18px;border-radius: 0px 0px 10px 10px;background: url(../images/homeitem.png) no-repeat center/cover;}
.hij-item{display: flex;justify-content: space-between;padding: 20px 0px;}
.hij-item:last-of-type{padding-top: 0px;}
.hij-item:last-child{margin-bottom: 0px;}
.hij-item .left{font-size: 15px;display: flex;align-items: center;flex-shrink: 0;}
.hij-item .left .text{color: #666666;flex-shrink: 0;}
.hij-item .right{color: #333333;font-size: 15px;word-break: break-all;white-space: nowrap;}
.hij-item .right span{font-size: 14px;}
.hij-item:hover .left .text,.hij-item:hover .right{color: #3377FF !important;}
.hi-label{width: 82px;height: 30px;line-height: 30px;text-align: center;background: linear-gradient(90deg, #AE7435 0%, #CFA966 100%);color: white;font-size: 13px;font-weight: bold;border-radius: 6px;position: absolute;top: 4px;left: 4px;}
/* 精选职位 */
.r-title{color: #333333;font-size: 28px;font-weight: bold;text-align: center;margin: 50px 0 32px;}
.r-tabs{display: flex;background-color: white;height: 64px;overflow: hidden;border-radius: 6px;padding: 0px 16px;margin-bottom: 16px;flex-wrap: wrap;}
.r-tabs li{color: #666666;font-size: 14px;font-weight: bold;height: 100%;line-height: 64px;margin-right: 40px;cursor: pointer;position: relative;white-space: nowrap;}
.r-tabs li:hover{color: #1975FF;}
.r-tabs .active{color: #1975FF;font-size: 15px;position: relative;}
.r-tabs li::before{content: '';height: 3px;background-color: #3377FF;position: absolute;bottom: 0px;transform: scaleX(0);transform-origin: center;width: 100%;}
.r-tabs .active::before{transform: scaleX(1);transition: all .3s;}
.r-details{display: none;flex-wrap: wrap;margin-bottom: 26px;}
.r-details.active{display: flex;}
.rd-item{border-radius: 6px;background-color: white;padding: 22px 16px 22px;width: 390px;box-sizing: border-box;margin-right: 15px;display: block;margin-bottom: 15px;transition: all .2s;}
.rd-item:hover{background-color: white;box-shadow: 1px 8px 40px 0px rgb(0 15 77 / 6%);position: relative;z-index: 1;} 
.rd-item:nth-child(3n){margin-right: 0px;}
.rdi-job{border-bottom: 1px solid #EEEEEE;padding-bottom: 12px;margin-bottom: 20px;display: block;}
.rdi-job .job{display: flex;justify-content: space-between;margin-bottom: 4px;}
.rdi-job .job .name{color: #000000;font-size: 18px;word-break: break-all;overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;margin-right: 10px;}
.rdi-job .job .salary{font-size: 18px;color: #1975FF;flex-shrink: 0;display: flex;}
.rdi-job .job .salary span{font-size: 15px;margin-top: 1px;font-weight: bold;}
.rdi-job .job .salary em{font-family: DINMi;font-weight: bold;}
.rdi-job .require{color: #9CA0AD;font-size: 13px;margin-bottom: 14px;}
.rdi-job .require span{color: #DFE0E6;font-size: 12px;}
.rdi-job .label{display: flex;min-height: 26px;}
.rdi-job .label div{background-color: #F5F5F7;border-radius: 4px;color: #8E929E;font-size: 12px;padding: 4px 8px;margin-right: 8px;}
.rdi-job .label div:last-child{margin-right: 0px;}    
.rdi-company{display: flex;align-items: center;}
.rdi-company .logo{width: 50px;height: 50px;border: 1px solid #EEEEEE;box-sizing: border-box;border-radius:6px;margin-right: 9px;flex-shrink: 0;}
.rdi-company .logo img{width: 100%;height: 100%;object-fit: contain;border-radius:6px}
.rdi-company .right{padding-right: 40px;}
.rdi-company .right .name{color: #666666;font-size: 14px;margin-bottom: 8px;overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;}
.rdi-company .right .nature{color: #9CA0AD;font-size: 12px;display: -webkit-box;overflow: hidden;-webkit-line-clamp: 1;-webkit-box-orient: vertical;}
.rdi-company .right .nature span{color: #DFE0E6;}
.rd-btn{width: 184px;height: 40px;line-height: 40px;text-align: center;border-radius: 10px;background-color: #DEEBFF;color: #1975FF !important;font-size: 14px;margin: 24px auto 0px;cursor: pointer;display: block;}
.rd-btn:hover{background-color: #1975FF;color: white !important;}
/* 快速招聘 */
.fasHire{background-color: white;border-radius: 6px;margin-bottom: 30px;}
.f-title{display: flex;justify-content: space-between;padding: 20px 30px 30px;}
.ft-left{display: block;}
.ft-left p{color: #333333;font-size: 28px;font-weight: bold;font-style: italic;margin-bottom: 6px;}
.ft-left p span{color: #3377FF;font-size: 28px;}
.ft-left span{color: #9CA0AD;font-size: 14px;}
.ft-right{color: #9CA0AD;font-size: 14px;}
.ft-right a{color: #1975FF;}
.ft-right a:hover{text-decoration: underline;}
.ft-right span{color: #5C5E66;margin: 0px 10px;}
.f-content{display: flex;}
.fc-tabs{width: 200px;box-sizing: border-box;border-radius: 6px;background: linear-gradient(-90deg, rgba(247, 248, 250, .7) 0%, rgba(255, 255, 255, .7) 100%);padding:10px 10px 30px;display: flex;flex-direction: column;justify-content: space-between;min-height: 590px;margin-right: 20px;flex-shrink: 0;}
.fc-tabs ul{position: relative;}
.fc-tabs ul li .item{height: 40px;line-height: 40px;color: #666666;font-size: 14px;border-radius: 6px;cursor: pointer;padding-left: 24px;margin-bottom: 5px;display: block;text-align: left;}
.fc-tabs ul .active .item{color: white;background-color: #3377FF;}
.fc-tabs .text{color: #999999;font-size: 14px;text-align: center;}
.fc-tabs .text span{color: #3377FF;}
.fc-tabs ul .active .pglist{display: flex;}
.fc-detail,.fc-tabs ul li .pglist{display: flex;flex-wrap: wrap;max-height: 530px;overflow: auto;align-content:baseline}
.fc-tabs ul li .pglist{position: absolute;width: 980px;height: 530px;top: -10px;left: calc(100% + 30px);z-index: 1;background-color: white;font-size: 15px;display: none;}
.fc-detail::-webkit-scrollbar,.fc-tabs ul li .pglist::-webkit-scrollbar{width: 8px;}
.fc-detail::-webkit-scrollbar-thumb,.fc-tabs ul li .pglist::-webkit-scrollbar-thumb{background: #D7D7D9;border-radius: 20px;}
.fc-detail::-webkit-scrollbar-thumb:hover,.fc-tabs ul li .pglist::-webkit-scrollbar-thumb:hover{background:#cccccc;}
.fc-detail::-webkit-scrollbar-thumb:active,.fc-tabs ul li .pglist::-webkit-scrollbar-thumb:active{background: #b2b2b2;}
.fc-detail .item{background-color: #F7F9FC;border: 1px solid #F5F5F7;margin-bottom: 15px;margin-right: 5px;width: 314px;height: 94px;box-sizing: border-box;}
.fc-tabs ul li .pglist a{background-color: #F7F9FC;border: 1px solid #F5F5F7;margin-bottom: 15px;margin-right: 5px;width: 314px;height: 94px;box-sizing: border-box;padding: 0px 13px 0px 19px;display: flex;flex-direction: column;justify-content: center;animation: leftFadeIn .2s;}
.fc-detail .item a{padding: 0px 13px 0px 19px;display: flex;flex-direction: column;justify-content: center;height: 100%;transition: all .2s;}
.fc-detail .item a:hover,.fc-tabs ul li .pglist a:hover{background-color: white;box-shadow: 1px 8px 40px 0px rgba(0,15,77,0.08);position: relative;z-index: 1;}
.fc-detail .item .title,.fc-tabs ul li .pglist a .title{display: flex;justify-content: space-between;margin-bottom: 13px;}
.fc-detail .item .title div,.fc-tabs ul li .pglist a.title div{color: #333333;font-size: 15px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.fc-detail .item .require,.fc-tabs ul li .pglist a .require{color: #9CA0AD;font-size: 12px;overflow: hidden;text-overflow: ellipsis;max-width: 90%;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;}
.fc-detail .item .require div{margin-left: 8px;display: inline-block;color: #9CA0AD !important;}
.fc-detail .item .require .model{overflow: hidden;margin-left: 0px;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;}
.fc-detail .item .require .model div:first-child{margin-left: 0px;}
/* 最新资讯 */
.newNews{background-color: white;border-radius: 6px;padding: 25px 30px 30px;margin-bottom: 30px;}
.n-tabs{display: flex;justify-content: space-between;align-items: flex-end;margin-bottom: 30px;}
.n-tabs a{color: #333333;font-size: 14px;margin-bottom: 5px;}
.n-tabs li:first-child:hover a{color: black;}
.n-tabs li:hover a{color: #1975FF;}
.n-tabs ul{display: flex;align-items: flex-end;}
.n-tabs ul li{color: #333333;font-size: 15px;margin-right: 40px;cursor: pointer;margin-bottom: 4px;}
.n-tabs ul li:first-child{margin-bottom: 0px;}
.n-tabs ul .active a{font-size: 28px;font-weight: bold;font-style: italic;position: relative;}
.n-tabs ul .active a::before{content: '';height: 6px;border-radius: 3px;background-color: #3377FF;bottom: -5px;left: 47px;right: 45px;position: absolute;}
.n-tabs .nt-more{color: #999;}
.n-tabs .nt-more:hover{color: #1975FF;}
.n-detail{display: flex;}
.nd-left{width: 420px;margin-right: 30px;}
.ndl-swiper{height: 180px;margin-bottom: 36px;border-radius: 3px;overflow: hidden;position: relative;}
.ndl-swiper .swiper-pagination{left: 168px !important;}
.ndl-swiper .swiper-pagination span{background-color: rgba(238, 238, 238, .6);border-radius: 3px;transition: all .2s;}
.ndl-swiper .swiper-pagination .swiper-pagination-bullet-active{background: #EEEEEE;width: 16px;border-radius: 3px;}
.ndl-news{line-height: 32px;}
.ndl-news .title{color: black;font-weight: bold;font-size: 16px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin-bottom: 10px;max-width: 95%;display: block;}
.ndl-news a:hover{text-decoration: underline;color: #1975FF;}
.ndl-news p{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;color: #616266;font-size: 14px;}
.ndl-news p::before{content: '·';display: inline-block;margin-right: 3px;}
.nd-center{width: 266px;margin-right: 36px;}
.ndc-picture{height: 180px;border-radius: 6px;position: relative;margin-bottom: 36px;display: block;}
.ndc-picture img{width: 100%;height: 100%;object-fit: cover;border-radius: 6px;}
.ndc-picture div{position: absolute;bottom: 0px;font-size: 14px;color: #EEEEEE;font-weight: bold;width: 100%;box-sizing: border-box;padding-left: 13px;background: linear-gradient(to top, rgba(0,0,0,.6) -10%,transparent 100%);border-radius: 0 0 6px 6px;height: 70px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;line-height: 90px;}
.nd-center ul{line-height: 40px;}
.nd-center ul li{color: #333333;font-size: 14px;display: flex;align-items: center;}
.nd-center ul li a{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.nd-center ul li a:hover span{text-decoration: underline;color: #1975FF;}
.nd-center ul li::before{content: '';background-color: #FF6600;width: 4px;height: 4px;border-radius: 50%;margin-right: 4px;flex-shrink: 0;}
.nd-right{flex: 1;overflow: hidden;height: 416px;overflow: hidden;}
.ndr-item{display: flex;margin-bottom: 30px;align-items: center;justify-content: space-between;}
.ndr-item:last-child{margin-bottom: 0px;}
.ndr-item .left{margin-right: 10px;}
.ndr-item .left p{color: #333333;font-size: 15px;font-weight: bold;display:-webkit-box;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:1;-webkit-box-orient:vertical;margin-bottom: 8px;}
.ndr-item .left p span{color: #1975FF;}
.ndr-item .left div{color: #9CA0AD;font-size: 12px;display:-webkit-box;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;line-height:20px;}
.ndr-item .right{width: 120px;height: 80px;object-fit: cover;border-radius: 6px;flex-shrink: 0;}
.ndr-item:hover .left p{color: #1975FF;text-decoration: underline;}
/* 创建简历 */
.creResume{height: 160px;border-radius: 10px;display: flex;align-items: center;background: url(../images/botbgi.png) no-repeat #1866FF center/cover;}
.c-item{flex: .5;margin-left: 65px;position: relative;}
.ci-left p{color: white;font-weight: bold;font-size: 24px;margin-bottom: 16px;}
.ci-left a{width: 160px;height: 40px;line-height: 40px;text-align: center;font-size: 15px;border-radius: 4px;background: rgba(255,255,255,0.2);border: 1px solid rgba(255,255,255,.5);color: white;display: block;}
.ci-left a:hover{background-color: rgba(255,255,255,0.3);}
/* 地址弹出层 */
.changeCityBtn {position: relative;}
.changeCityList {display: none;position: absolute;left:-14px;top:20px;min-width:400px;max-width:900px;z-index: 10;font-size: 14px;color: #999;line-height: 24px;background: transparent;animation: topFadeIn .3s;}
.changeCityBtn:hover .changeCityList, .changeCityBtn:hover .changeCityList {display: block !important;}
.setwidth {height:0;opacity:0;padding: 0 45px 0 65px;overflow: hidden;white-space: nowrap;}
.setwidth span{display: inline-block; width: 30px; text-align: center; margin: 0 5px 0 0;}
.changeCityBtn:hover .changeCityList {display: block;}
.changeCityList a:hover, .changeCityList a.curr {text-decoration: none;color: #FF6402;}
.changeCityBtn .changeCityList .boxpd {position: relative;padding-top: 12px;}
.changeCityBtn .changeCityList .boxpd .sj {position: absolute;left:22px;top:-7px;display: block;width: 0;height:0;border: 10px solid transparent;border-bottom-color: #ddd;}
.changeCityBtn .changeCityList .boxpd .sj i {position: absolute;left:-9px;top:-7px;display: block;width: 0;height: 0;border:9px solid transparent;border-bottom-color: #fff;}
.changeCityList .box {padding: 15px 0 5px;border:1px solid #ddd;box-shadow: 0 2px 6px 0 rgba(0,0,0,0.16);background: #fff;}
.changeCityBtn .changeCityList .hot {margin-bottom: 15px;padding-bottom: 10px;border-bottom: #E5E5E5 solid 1px;}
.changeCityBtn .changeCityList dt {display: inline-block;width:65px;float: left;text-align: center;color: #B0B3B4;}
.changeCityBtn .changeCityList dd a {float: left;margin:0 20px 6px 0;white-space: nowrap;}
.changeCityBtn .changeCityList .hot dt {color: #FF6402;}
.changeCityList dd {overflow: hidden;}
.changeCityList .more {position: relative;}
.changeCityList .pytit {padding-right: 25px;margin-bottom: 10px;line-height: 26px;white-space: nowrap;}
.changeCityBtn .changeCityList .pytit span {width: 30px;text-align: center;float: left;margin: 0 5px 0 0;cursor:pointer;}
.changeCityBtn .changeCityList .pytit span:hover, .changeCityBtn .changeCityList .pytit span.curr {background: #FF6402;color: #fff;}
.changeCityBtn .changeCityList .pytit dd {border-bottom: 1px solid #FF6402;}
.changeCityBtn .changeCityList .list {position: relative;max-height: 280px;overflow-y: auto;}
.changeCityBtn .changeCityList .list dl {line-height: 30px;}
.changeCityBtn .changeCityList .content {padding:10px 20px;}
.changeCityBtn .changeCityList .content li {float:left;}
.changeCityBtn .changeCityList .content a {margin: 0 15px 15px 0;}
.changeCityBtn .changeCityList .content .tit {margin-bottom: 20px;}
.changeCityBtn .changeCityList .content li a {display: block; position: relative; font-size: 11px; padding: 0 20px;border: 1px solid #eaeaea; border-radius: 3px;}
.changeCityBtn .changeCityList .content li a:hover {text-decoration: none; border-color: #0ab7f9; color: #0ab7f9;}
.changeCityBtn .changeCityList .content li a s {position: absolute; width: 17px; height: 17px; right: 0; bottom: 0; display: none;}
.changeCityBtn .changeCityList .content li a s img {display: block; width: 100%; height: 100%;}
.changeCityBtn .changeCityList .content li a:hover s {display: block;}
.changeCityBtn .changeCityList .content li a.curr {border-color: #0ab7f9; color: #0ab7f9;}
.changeCityBtn .changeCityList .content li a.curr s {display: block;}
@font-face {
	font-family: DINMi;
	src: url('../../../../static/fonts/DINMittelschriftStd.eot'),
        url('../../../../static/fonts/DINMittelschriftStd.otf'),
        url('../../../../static/fonts/DINMittelschriftStd.ttf'),
        url('../../../../static/fonts/DINMittelschriftStd.woff'),
        url('../../../../static/fonts/DINMittelschriftStd.woff2') /* IE9 */
};
@keyframes centerIn{
        0%{left:50%;right: 50%;position: absolute;}
        100%{left: 0%;right: 0%;position: absolute;}
};
