.footer{margin-top: 0px;}
.navBox ul li:nth-of-type(9) a{color: #256CFA;}
/* 最外部盒子（中心内容） */
.content{width: 1144px;padding: 20px 26px 25px 30px;overflow: hidden;margin: auto;display: flex;flex-direction: column;background-color: white;border-radius: 8px;margin-bottom: 52px;}
.content img {max-width: 100%;}
/* 面包屑样式设置 */
.bread{width: 1200px;margin: auto;padding: 24px 0px 20px 14px;}
.bread a{color: #999999;font-size: 12px;}
.bread a:hover{color: black;}
.bread .home::after,.detail::after{content: '>';}
/* 左边部分 */
.content .content-left{width: 69%;}
/* 顶部标题 */
.content .content-left .title{font-weight: bold;font-size: 24px;margin: 10px 0px 15px 0px;text-align: center;}
/* 下面小标题 */
.content .content-left .time{width: 322px;height: 15px;margin-top: 15px;margin: auto;display: flex;justify-content: space-between;}
/* 研究生公告 */
.content .content-left .announcement{width: 100%;border-top: 1px solid #EDEDED;margin-top: 29px;padding-top: 25px;}
.content .content-left .announcement .title{font-weight: bold;font-size: 15px;text-align: left;margin-bottom: 0px;}
.content .content-left .announcement .articleBody{line-height: 2em;font-size: 15px;}
/* 底部翻页 */
.content .content-left .changepage{height: 49px;display: flex; justify-content: space-between;align-items: center ;width: 100%; margin-top: 105px;border-top: 1px solid #EDEDED;border-bottom: 1px solid #EDEDED;font-size: 14px;}
.content .content-left .uppage{width: 275px;height: 18px;overflow: hidden;}
.content .content-left .uppage span::before{content: '上一篇';color: #4D4D4D;margin-right: 10px;}
.content .content-left .uppage a span{color: #1975FF;}
.content .content-left .uppage a span:hover em{text-decoration: underline;}
.content .content-left .nextpage{width: 275px;height: 18px;overflow: hidden;}
.content .content-left .nextpage span::before{content: '下一篇';color: #4D4D4D;margin-right: 10px;}
.content .content-left .nextpage a span{color: #1975FF;}
.content .content-left .nextpage a span:hover em{text-decoration: underline;}
/* 更多推荐 */
.content .content-left .more{font-weight: bold;font-size: 16px;margin: 20px 0px 24px 0px;color: #333333;background-color: #F7F7F7;padding: 15px 20px;}
/* 更多推荐内容 */
.content .content-left .more-text{width: 343px;height: 21px;font-size: 14px;overflow: hidden;float: left;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;margin-bottom: 16px;}
.content .content-left .more-text a:hover{color: #1975FF;}
.content .content-left .more-text::before{content: "·";margin-right: 10px;}
/* 右边部分 */
.content .content-right{width: 26%;}
/* 推荐文章 -头部标题 */
.content .content-right .cr-rank .ranktop{margin: 14px 0px 20px 0px;}
.content .content-right .cr-rank .ranktop img{vertical-align: -3px;}
.content .content-right .cr-rank .ranktop span{font-weight: bold;font-size: 18px;}
.content .content-right .cr-rank .ranktop a:hover{color:#FF9409;}
/* 内容 */
.content .content-right .rankcontent li{text-align: center;margin-bottom: 14.5px;}
.content .content-right .rankcontent li a{display: flex;align-items: center;}
.content .content-right .rankcontent li .ranknumber{width: 18px;height: 18px;line-height: 18px;background-color: #CED2D9;font-size: 12px;border-radius: 2px;color:white;}
.content .content-right .rankcontent li:nth-child(2) .ranknumber, .content .content-right .rankcontent li:nth-child(3) .ranknumber {background-color: #FF9409;}
.content .content-right .rankcontent li:first-child .ranknumber {background-color: #FA3939;}
.content .content-right .rankcontent li a .rankamount{font-size: 12px;flex-grow: 1;text-align: right;color: #A6A6A6;}
/* 旁边榜1 */
.content .content-right .rankcontent li .ranknumber.active1{background-color: #FA3939;border-radius: 2px;}
/* 排行榜23 */
.content .content-right .rankcontent li .ranknumber.active2{background-color: #FF9409;border-radius: 2px;}
/* 排行榜信息 */
.content .content-right .rankcontent li a .rankmail{width:220px;height: 21px;text-indent: 1.2em;text-align: left;font-size: 14px;color: #333333;overflow: hidden;}
.content .content-right .rankcontent li a .rankmail:hover{color: #1975FF;}
/* 微信二维码 */
.wxcode{width: 100%;box-sizing: border-box;display: flex;align-items: center;flex-wrap: wrap;border: 1px solid #EEEEEE;border-radius: 8px;padding: 15px 18px;margin-top: 30px;}
.wxcode div{font-weight: bold;font-size: 14px;}
.wxcode img{width:90px;height: 90px;object-fit: cover;margin-right: 23px;}