html{overflow: overlay;}
.navBox ul li:nth-of-type(4) a{color: #256CFA;}
.shell{width: 1200px;margin: auto;}
/* 头部搜索 */
.topSearch{display: flex;justify-content: center;margin: 24px 0px;}
.t-input{width: 638px;height: 50px;border: 1px solid #F7F9FC;border-radius: 25px;margin-right: 12px;display: flex;background-color: #2278FF;align-items: center;justify-content: space-between;box-sizing: border-box;padding: 1px;}
.t-input input{font-size: 14px;outline: none;border: 0;flex: 1;padding-right: 5px;height: 100%;border-radius: 25px 0px 0px 25px;text-indent: 2em;}
.t-input input::placeholder{color: #B3B3B3;}
.t-input div{color: #B3B3B3;font-size: 14px;display: flex;align-items: center;height: 100%;background-color: white;cursor: pointer;}
.t-input div .active{color: #212121;}
.t-input div:hover em{color: #2278FF;}
.t-input div img{width: 14px;height: 14px;object-fit: cover;margin-left: 9px;}
.t-input div::after{content: '';display: inline-block;width: 1px;height: 16px;background-color: #E6E6E6;margin: 0px 27px 0px 14px;}
.t-input span{padding-right: 33px;height: 100%;background-color: white;border-radius: 0px 25px 25px 0px;display: flex;align-items: center;}
.t-input .image{width: 24px;height: 24px;object-fit: cover;cursor: pointer;}
.t-btn{width: 250px;height: 50px;background-color: #2176FF;border-radius: 25px;line-height: 50px;text-align: center;color: white !important;font-size: 14px;display: block;}
.t-btn:hover{background-color: #4089ff;}
.t-login{display: flex;align-items: center;width: 885px;height: 50px;background: #FFFFFF;border: 1px solid #F7F9FC;border-radius: 24px;box-sizing: border-box;background-color: #1975FF;padding: 1px;border-right: 0px !important;}
.t-login input{flex: 1;outline: none;border: 0px;font-size: 14px;color: #333333;padding-right: 10px;height: 100%;border-radius: 25px 0px 0px 25px;text-indent: 2em;}
.t-login input::placeholder{color: #B3B3B3;}
.t-login .btn{width: 106px;height: 48px;background: #1975FF;border-radius: 0px 24px 24px 0px;display: flex;align-items: center;justify-content: center;cursor: pointer;box-sizing: border-box;margin-right: -1px;}
.t-login .btn:hover{background-color: #4089ff;}
.t-login .btn img{width: 24px;height: 24px;object-fit: cover;}
.t-login .filter{color: #B3B3B3;font-size: 14px;display: flex;align-items: center;padding-right: 20px;background-color: white;height: 100%;cursor: pointer;}
.t-login .filter .active{color: #212121;}
.t-login .filter:hover span{color: #2278FF;}
.t-login .filter img{width: 14px;height: 14px;object-fit: cover;cursor: pointer;margin-left: 12px;}
/* 筛选条件 */
.d-filter{padding: 24px 26px 2px 27px;background-color: white;border-radius: 8px;margin-bottom: 14px;}
.df-area,.df-welfare,.df-salary,.dfs-left,.df-experience{display: flex;}
.df-area div,.df-welfare div,.dfs-left div,.df-experience div{margin-right: 10px;flex-shrink: 0;font-size: 14px;color: #666666;}
.df-area ul,.df-welfare ul,.dfs-left ul,.df-experience ul{display: flex;flex-wrap: wrap;}
.df-area ul li,.df-welfare ul li,.df-experience ul li{color: #212121;font-size: 13px;margin-right: 26px;margin-bottom: 20px;cursor: pointer;}
.df-area ul li:hover,.df-welfare ul li:hover,.df-experience ul li:hover{color: #2278FF;}
.df-area ul li:last-child,.df-welfare ul li:last-child,.dfs-left ul li:last-child,.df-experience ul li:last-child{margin-right: 0px;}
.df-welfare ul .active,.dfs-left ul .active,.df-experience ul .active{color: #2278FF;font-weight: bold;}
.df-area ul .active{color: #2278FF;font-weight: bold;}
.df-salary{align-items: center;margin-bottom: 18px;}
.dfs-left ul li{color: #212121;font-size: 13px;margin-right: 26px;cursor: pointer;}
.dfs-left ul li:hover{color: #2278FF;}
.dfs-left{margin-right: 40px;}
.dfs-right{display: flex;align-items: center;}
.dfs-right span{font-size: 14px;color: #999999;}
.dfs-right .inputs{width: 72px;height: 28px;border-radius: 4px;border: 1px solid #EEEEEE;box-sizing: border-box;display: flex;align-items: center;padding: 0px 10px 0px 4px;font-size: 14px;transition: all .5s;}
.dfs-right .inputs:hover{border-color: #C0C4CC;}
.dfs-right .inputs input{width: 100%;border: 0;outline: none;}
.dfs-right .btn{width: 56px;height: 28px;border: 1px solid #EEEEEE;border-radius: 14px;box-sizing: border-box;text-align: center;line-height: 28px;color: #212121;font-size: 12px;cursor: pointer;transition: all .2s;}
.dfs-right .btn:hover{border-color: #1975FF;color: #1975FF;}
.df-more{display: flex;justify-content: space-between;margin-bottom: 18px;align-items: center;}
.dfm-left{display: flex;align-items: center;}
.dfm-left span{color: #666666;font-size: 14px;}
.dfm-left .item{max-width: 160px;height: 38px;border: 1px solid #EEEEEE;border-radius: 4px;padding: 0px 10px;display: flex;align-items: center;justify-content: space-between;margin-right: 10px;box-sizing: border-box;cursor: pointer;position: relative;}
.dfm-left .item .fItem{position: absolute;top: 36px;background-color: white;border: 0px solid #EBEEF2;box-shadow: 0px 0px 40px 0px rgba(0,15,77,0.08);border-radius: 4px;min-width: 100%;left: 0px;color: #333333;font-size: 13px;box-sizing: border-box;overflow-y: auto;padding: 0px;white-space: nowrap;animation: topFadeIn .3s;display: none;}
.dfm-left .item .fItem::-webkit-scrollbar{width: 6px;}
.dfm-left .item .fItem::-webkit-scrollbar-thumb{background-color: rgba(0,0,0,.2);border-radius: 4px;}
.dfm-left .item:hover .fItem{max-height: 290px;padding: 8px 0px;border: 1px solid #EBEEF2;z-index: 1;display: block;}
.dfm-left .item .fItem div{padding: 8px 20px;}
.dfm-left .item .fItem div:hover{color: #2278FF;background-color: rgba(51, 119, 255, .1);}
.dfm-left div img{width: 10px;height: 10px;object-fit: cover;}
.dfm-left div span{color: #333333;font-size: 13px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin-right: 28px;}
.dfm-right{color: #999999;font-size: 14px;display: block;}
.dfm-right:hover{color: #1975FF;}
.dfm-right span{color: #1975FF;}
/* 列表 */
.conList{display: flex;}
/* 左侧列表页 */
.c-left{flex: 1;}
.cl-tab{display: flex;height: 60px;align-items: center;font-size: 14px;background-color: rgba(255,255,255,.7);border-radius: 8px 8px 0px 0px;justify-content: space-between;}
.clt-sort{display: flex;}
.clt-sort div{color: #666666;margin: 0px 24px;cursor: pointer;}
.clt-sort .active{color: #1975FF;font-weight: bold;}
.clt-sort div:hover{color: #1975FF;}
.clt-all{display: none;align-items: center;margin-left: 18px;height: 100%;}
.clt-fixed{position: fixed;bottom: 0px;z-index: 999;width: 908px;height: 68px;background: #FFFFFF;box-shadow: 0px -8px 40px 0px rgba(0,15,77,0.06);display: none;animation: bottomFadeIn .3s;}
.clt-all{display: flex;}
.clt-all .select{display: flex;align-items: center;margin-right: 60px;cursor: pointer;}
.clt-all .select div{width: 14px;height: 14px;background: #FAFAFA;border: 1px solid #CCCCCC;border-radius: 4px;box-sizing: border-box;margin-right: 9px;}
.clt-all .select .active{width: 14px;height: 14px;background: #EDEDED;border: 1px solid #D9D9D9;border-radius: 4px;box-sizing: border-box;margin-right: 9px;border: 0;}
.clt-all .select .selected{width: 14px;height: 14px;background: url(../images/confirmW.png) no-repeat center/cover #1966FF;border-radius: 4px;margin-right: 9px;border: 0;}
.clt-all p{color: #666666;font-size: 14px;}
.clt-all .btn{width: 130px;height: 36px;background: #2176FF;border-radius: 18px;color: #FFFFFF;font-size: 14px;text-align: center;line-height: 36px;cursor: pointer;}
.clt-all .btn:hover{background-color: #4089ff;}
.clt-all .btn::before{content: '';display: inline-block;background: url(../images/join.png) no-repeat center/cover;width: 16px;height: 16px;vertical-align: text-top;margin-top: 1px;}
.cl-tab span{color: #1975FF;margin-right: 31px;margin-left: auto;cursor: pointer;}
.cl-items li{position: relative;transition: all 0.3s;}
.cl-items li:hover{box-shadow: 0px 3px 13px 0px rgba(0,4,26,0.1);z-index: 1;}
.cl-items li a{display: flex;justify-content: space-between;background-color: white;padding: 23px 28px 22px 18px;margin-top: 1px;}
.cl-items li a .select{width: 14px;height: 14px;background: #FAFAFA;border: 1px solid #CCCCCC;border-radius: 4px;margin-top: 8px;box-sizing: border-box;display: none;}
.cl-items li a .active{width: 14px;height: 14px;background: #EDEDED;border: 1px solid #D9D9D9;border: 1px solid #CCCCCC;border-radius: 4px;margin-top: 5px;box-sizing: border-box;display: none;}
.cl-items li a .selected{width: 14px;height: 14px;background: url(../images/confirmW.png) no-repeat center/cover #1966FF;border-radius: 4px;margin-top: 8px;}
.cl-items li a .left{margin-left: 19px;}
.cl-items li a .left .title{display: flex;align-items: center;margin-bottom: 5px;max-width: 518px;}
.cl-items li a .left .title span{color: #333333;font-size: 18px;font-weight: bold;margin-right: 6px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.cl-items li a .left .title.gray span{color: #C5C5C5 !important;}
.cl-items li a .left .title .talk{background-color: white;border: 1px solid #1975FF;border-radius: 4px;font-size: 12px;color: #1975FF;margin-right: 4px;padding: 0px 3px 0px 2px;position: relative;flex-shrink: 0;}
.cl-items li a .left .title .talk:hover .qrcode{display: flex;animation: topFadeIn .3s;}
.cl-items li a .left .title .talk .qrcode{position: absolute;left: 0px;top: 20px;background-color: white;width: 450px;box-shadow: 0px 3px 13px 0px rgba(0,4,26,0.1);box-sizing: border-box;padding: 13px 20px 20px 18px;display: none;z-index: 4;}
.cl-items li a .left .title .talk .qrcode .photo{position: relative;margin-right: 19px;}
.cl-items li a .left .title .talk .qrcode .photo img{width: 50px;height: 50px;object-fit: cover;border-radius: 50%;}
.cl-items li a .left .title .talk .qrcode .photo div{width: 60px;height: 20px;background: #EDF4FF;border-radius: 4px;color: #256CFA;font-size: 12px;text-align: center;line-height: 20px;position: absolute;top: 42px;left: 50%;transform: translateX(-50%);}
.cl-items li a .left .title .talk .qrcode .detail{display: flex;flex-direction: column;}
.cl-items li a .left .title .talk .qrcode .detail .text{color: #666666;font-size: 12px;margin-top: 10px;}
.cl-items li a .left .title .talk .qrcode .detail .name{color: #333333;font-size: 14px;margin-top: 7px;}
.cl-items li a .left .title .talk .qrcode .code img{width: 80px;height: 80px;object-fit: cover;}
.cl-items li a .left .title .talk img{width: 16px;height: 16px;object-fit: cover;vertical-align: sub;}
.cl-items li a .left .title .up{background: linear-gradient(90deg, #FE7B5E 0%, #FA5A4B 100%);border-radius: 4px;font-size: 12px;color: white;padding: 0px 4px 0px 2px;flex-shrink: 0;}
.cl-items li a .left .title .up img{width: 10px;height: 12px;object-fit: cover;vertical-align: sub;margin-bottom: 1px;}
.cl-items li a .left .salary{margin-bottom: 12px;display: flex;}
.cl-items li a .left .salary span{color: #FF5040;}
.cl-items li a .left .salary .address{color: #666666;font-size: 12px;padding-top: 6px;}
.cl-items li a .left .salary .address span{color: #E0E0E0;margin: 0px 3px}
.cl-items li a .left .welfare{display: flex;overflow: hidden;max-width: 510px;flex-wrap: wrap;height: 24px;}
.cl-items li a .left .welfare div{background-color: #F5F6F7;border-radius: 12px;color: #808080;font-size: 13px;height: 24px;line-height: 24px;padding: 0px 12px;margin-right: 6px;}
.cl-items li a .right{display: flex;flex-direction: column;justify-content: space-between;align-items: flex-end;margin-left: auto;}
.cl-items li a .right .title{color: #333333;font-size: 14px;max-width: 270px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.cl-items li a .right .title img{width: 16px;height: 16px;object-fit: cover;vertical-align: sub;margin-right: 4px;}
.cl-items li a .right .nature{color: #666666;font-size: 12px;}
.cl-items li a .right .nature span{color: #E0E0E0;margin: 0px 6px;}
.cl-items li a .right .time{color: #999999;font-size: 12px;margin-bottom: 5px;}
.cl-items li a .right .label{width: 48px;height: 20px;background: #EDF7FC;border: 1px solid #ABC7FF;border-radius: 4px;color: #256CFA;font-size: 12px;text-align: center;margin-left: 30px;}
.cl-items li a .right .care{align-items: center;margin-bottom: 6px;display: none;animation: bottomFadeIn .2s;}
.cl-items li a .right .care .star{color: #666666;font-size: 14px;display: flex;align-items: center;}
.cl-items li a .right .care .star:hover{color: #333;}
.cl-items li a .right .care .star::before{content:'';width: 20px;height: 20px;object-fit: cover;margin-right: 4px;vertical-align: sub;background: url(../images/starG.png) no-repeat center/cover;}
.cl-items li a .right .care .star.has::before{content:'';width: 20px;height: 20px;object-fit: cover;margin-right: 4px;vertical-align: sub;background: url(../images/StarO.png) no-repeat center/cover;display: inline-block;}
.cl-items li a .right .care .btn{width: 120px;height: 36px;text-align: center;line-height: 36px;color: white;font-size: 14px;background-color: #2176FF;border-radius: 18px;margin-left: 30px;}
.cl-items li a .right .care .btn:hover{background-color: #4089ff;}
.cl-items li a .right .care .btn img{width: 16px;height: 16px;object-fit: cover;margin-right: 2px;vertical-align: sub;}
.cl-items li:hover a .left .title span{color: #1975FF;}
.cl-items li:hover a .nature,li:hover a .time{display: none;}
.cl-items .pub:hover a .nature{display: block !important;}
.cl-items .pub .care{margin-bottom: 6px;}
.cl-items li:hover a .care{display: flex;}
.cl-items li:hover .cli-detail{box-shadow: 0px 8px 13px 0px rgba(0,4,26,0.1);}
.cl-items .none:hover a .nature{display: block;}
.cl-items .none:hover a .right .care .star{display: flex;}
.cl-items .none .care{display: flex !important;}
.cl-items .none a .right .care .star{display: none;animation: bottomFadeIn .2s;}
.cl-none{height: calc(100% - 60px);background-color: white;display: flex;align-items: center;justify-content: center;color: #909399;font-size: 14px;flex-direction: column;min-height: 600px;}
.cl-none img{width: 220px;object-fit: cover;margin-bottom: 20px;}
.cli-detail{background: #F7FAFF;position: absolute;top: 100%;left: 0px;z-index: 3;padding: 38px 27px;justify-content: space-between;color: #666666;font-size: 13px;line-height: 28px;transform: scaleY(0);display: flex;transition: all .2s;transform-origin: top;width: 100%;box-sizing: border-box;}
.cli-detail .text{display:-webkit-box;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:6;-webkit-box-orient:vertical;width: 50%;box-sizing: border-box;}
/* 右侧其他 */
.c-right{width: 280px;margin-left: 12px;}
.cr-create{height: 150px;object-fit: cover;border-radius: 8px;margin-bottom: 12px;}
/* 浏览历史 */
.dlr-history{background-color: white;border-radius: 8px;margin-bottom: 12px;}
.dlr-history .title{color: #333333;font-size: 15px;font-weight: bold;display: flex;align-items: center;padding: 0px 13px;height: 50px;}
.dlr-history .title img{width: 20px;height: 20px;margin-right: 4px;}
.dlr-history .item{padding: 21px 16px 20px 18px;border-top: 1px solid #EEEEEE;display: block;}
.dlr-history .item:hover .jobs div{color: #1975FF;}
.dlr-history .item .jobs{display: flex;justify-content: space-between;margin-bottom: 10px;}
.dlr-history .item .jobs div{color: #000000;font-size: 14px;max-width: 150px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;margin-right: 10px;}
.dlr-history .item .jobs span{color: #FF5039;font-size: 15px;font-weight: bold;white-space: nowrap;font-family: DINMi;letter-spacing: .3px;display: flex;}
.dlr-history .item .jobs span span{font-size: 13px;padding-top: 1.5px;}
.dlr-history .item .jobs span em{margin: 0px 2px;}
.dlr-history .item .address{color: #999999;font-size: 12px;display: flex;align-items: center;}
.dlr-history .item .address div{max-width: 100px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.dlr-history .item .address span{color: #E6E6E6;margin: 0px 8px;}
/* 二维码 */
.dr-code{background-color: white;border-radius: 8px;display: flex;padding: 25px;align-items: center;}
.dr-code img{width: 90px;height: 90px;object-fit: cover;margin-right: 24px;}
.dr-code div{color: black;font-size: 14px;line-height: 22px;}
/* 吸顶头部 */
.fixTop{position: fixed;top: 0px;width: 100%;background-color: white;box-shadow: 0px 5px 20px 0px rgba(0,4,26,0.05);left: 0px;transition: height .2s; overflow: hidden;z-index: 3;}
.f-shell{width: 1200px;margin: auto;}
.fs-search{display: flex;align-items: center;padding: 24px 0px;}
.t-addr{color: #212121;font-size: 15px;margin-right: 68px;margin-left: 16px;cursor: pointer;}
.t-addr img{width: 12px;height: 12px;object-fit: cover;margin-left: 9px;}
.fs-address{display: flex;flex-wrap: wrap;color: #666666;font-size: 13px;padding-left: 16px;padding-bottom: 19px;}
.fs-address li{margin-right: 20px;cursor: pointer;}
.fs-address li:hover{color: #1975FF;}
.fs-address .active{color: #1975FF;font-weight: bold;}
.fs-shell{display: flex;justify-content: space-between;align-items: center;border-top: 1px solid #F2F2F2;background:white;transition: all .2s;}
.fs-filter{display: flex;height: 52px;align-items: center;padding-left: 16px;}
.fs-filter li{color: #333333;font-size: 14px;position: relative;cursor: pointer;height: 100%;line-height: 52px;width: 152px;white-space: nowrap;display: flex;align-items: center;}
.fs-filter .active{color: #1975FF;overflow: hidden;text-overflow: ellipsis;}
.fs-filter li .arrow{width: 12px;height: 12px;object-fit: cover;margin-left: 4px;margin-bottom: 2px;}
.fs-filter li .close{width: 16px;height: 16px;object-fit: cover;margin-right: 3px;}
.fsf-items{min-width: 100%;background-color: white;border: 0px solid #EBEEF2;border-radius: 4px;position: absolute;top: 52px;left: 0px;overflow: hidden;transition: all .2s;display: none;max-height: 300px;}
.fsf-items .item{height: 36px;line-height: 36px;padding: 0px 22px;color: #666666;font-size: 14px;cursor: pointer;}
.fsf-items .item:hover{color: #1975FF;background-color: #F0F6FF;border-radius: 4px;}
.fsf-items .item.active{background-color: #1975FF;border-radius: 4px;color: white;}
.fsf-items::-webkit-scrollbar{width: 6px;}
.fsf-items::-webkit-scrollbar-thumb{background-color: #D7D7D9;border-radius: 8px;}
.fsf-items::-webkit-scrollbar-thumb:hover{background-color: #cccccc;}
.fsf-items::-webkit-scrollbar-thumb:active{background-color: #b2b2b2;}
.fsf-items .label{width: 300px;height: 30px;background: #F5F8FC;border-radius: 4px;line-height: 30px;}
.fsf-items .label span{display: inline-block;width: 50%;font-size: 12px;color: #A1A8B3;margin-left: 22px;}
.fsf-items .msalary li,.tsalary li{width: auto;}
.fsf-items .msalary{width: 50%;box-sizing: border-box;border-right: 1px solid #EBEEF2;float: left;}
.fsf-items .tsalary{width: 50%;box-sizing: border-box;float: right;}
.fs-clear{color: #999999;font-size: 14px;}
.fs-clear span{color: #1975FF;}
/* 底部翻页 */
.dll-page{display: flex;justify-content: center;margin-top: 32px;}
.dll-page.right{justify-content: flex-end;}
.dll-page span{font-size: 13px;color: #666666;}
.dll-page input{width: 60px;background-color: white;border: 0;outline: none;height: 30px;font-size: 13px;text-align: center;border-radius: 4px;padding: 0px 10px;box-sizing: border-box;}
.dll-page .btn{width: 60px;height: 30px;background-color: #3377FF;color: white;text-align: center;line-height: 30px;border-radius: 4px;margin-left: 10px;cursor: pointer;}
.pagination .inner ul{display: flex;justify-content: center;}
.dll-page .btn:hover{background-color: #4089ff;}
.pagination .inner ul li{min-width: 20px;height: 30px;padding: 0 5px; line-height: 30px;text-align: center;background: #FFFFFF;border-radius: 4px; overflow: hidden; font-size: 13px;margin-right: 10px;}
.pagination .inner ul .page_current{cursor: default !important;}
.pagination .inner ul li:last-child{margin-right: 0px;}
.pagination .inner ul li a{width: 100%;height: 100%;display: block;}
.pagination .inner ul li:hover {color: white;background-color: #37f;cursor: pointer;}
.pagination .inner ul li:hover a {color: #fff;}
.pagination .inner .page_info{display: none;}
.pagination .inner ul li.page_more {background-color: #fff; color: #333; cursor: default;}
.pagination .inner ul li.page_disabled, .pagination .inner ul li.page_current {background-color: #f0f0f0; color: #ccc; cursor: no-drop;}
.page_current{background-color: #2278FF !important;}
.page_current span{color: white;}
.topage{display: flex;align-items: center;margin-left: 18px;}
.pagination .inner .drop{cursor: no-drop;}
/* 职位类型弹窗 */
.jobtype{background-color: rgba(0,0,0,.5);position: fixed;left: 0;right: 0;top: 0;bottom: 0;z-index: 10000;display: none;align-items: center;justify-content: center}
.j-pop{width: 830px;background-color: white;border-radius: 16px;animation: topFadeIn .3s;}
.jp-top{height: 60px;padding: 0px 22px;position: relative;line-height: 60px;border-bottom: solid 1px #eee;}
.jp-top p{color: #333;font-size: 18px;font-weight: bold;}
.jp-top img{width: 24px;height: 24px;object-fit: cover;position: absolute;top: 11px;right: 11px;cursor: pointer;}
.jp-top img:hover{opacity: .6;}
.jp-select{height: 390px;border-bottom: solid 1px #eee;position: relative;}
.jp-select ul{width: 210px;box-sizing: border-box;padding: 10px 0;border-right: solid 1px #eee;height: 100%;overflow-y: overlay;box-sizing: border-box;}
.jp-select ul li{line-height: 40px;color: #666;font-size: 13px;padding: 0 18px;cursor: pointer;}
.jp-select ul li:hover{background: #F5F8FF;color: #1975FF;}
.jp-select ul li em{display: none;}
.jp-select ul li span{display:-webkit-box;overflow:hidden;-webkit-line-clamp:1;-webkit-box-orient:vertical;word-break: break-all;}
.jp-select ul::-webkit-scrollbar{width: 6px;}
.jp-select ul::-webkit-scrollbar-thumb{background-color: #D7D7D9;border-radius: 4px;}
.jp-select ul .active{background: #F5F8FF;color: #1975FF;}
.jp-select ul .active .jps-con{display: block;}
.jp-select ul .actives{color: #1975FF;}
.jp-select ul .actives em{display: inline;}
.jps-con{position: absolute;left: 210px;top: 0px;background-color: white;width: 620px;display: none;color: black;height: 100%;box-sizing: border-box;padding: 10px 30px 10px;overflow-y: overlay;cursor: auto;z-index: 2;}
.jps-con::-webkit-scrollbar{width: 6px;background: white;}
.jps-con::-webkit-scrollbar-thumb{background-color: #D7D7D9;border-radius: 4px;}
.jps-con::-webkit-scrollbar-thumb:hover{background:#cccccc;}
.jps-con::-webkit-scrollbar-thumb:active{background: #b2b2b2;}
.jps-con .item{margin-bottom: 20px;animation: leftFadeIn .3s;}
.jps-con .item p{color: #212121;font-size: 14px;font-weight: bold;text-align: left;}
.jps-con .item div{display: grid;grid-template-columns: repeat(3,1fr);text-align: left;column-gap: 10px;color: #333333;font-size: 14px;}
.jps-con .item div a{display:-webkit-box;overflow:hidden;-webkit-line-clamp:1;-webkit-box-orient:vertical;word-break: break-all;}
.jps-con .item div a:hover{color: #1975FF;cursor: pointer;}
.jps-con .item div .activeitem{color: #1975FF;}
.jbp-warn{font-size: 13px;display: flex;align-items: center;color: #245bdb;display: none;flex: 1;}
.jbp-warn::before{content: '';background: url(../images/warncir.png) no-repeat;width: 16px;height: 16px;background-size: cover;margin-top: 1px;margin-right: 5px;}
.jpb-btn{display: flex;justify-content: flex-end;padding: 30px 32px 30px 20px;}
.jpb-btn .text{align-items: center;display: none;}
.jpb-btn .text span{font-size: 14px;color: #666666;}
.jpb-btn .text div{min-width: 88px;height: 32px;box-sizing: border-box;border: 1px solid #D0E0FF;background-color: #F5F8FF;color: #1975FF;font-size: 13px;border-radius: 4px;text-align: center;line-height: 30px;padding: 0px 10px;animation: leftFadeIn .3s;}
.jpb-btn .btn{display: flex;}
.jpb-btn .btn div{height: 40px;width: 160px;font-size: 14px;border-radius: 4px;text-align: center;line-height: 40px;cursor: default;}
.jpb-btn .cancel{background-color: #F2F2F2;color: #666;cursor: pointer;}
.jpb-btn .confirm{margin-left: 10px;background-color: rgba(63,126,252,.3);;color: white;}
.jpb-btn .confirm.had{background-color: rgba(63,126,252,1);cursor: pointer;}
.jpb-btn .confirm.had:hover{background-color: #4089ff !important;}
/* 投递成功弹窗 */
.sendpop{width: 100%;height: 100%;position: fixed;top: 0;left: 0;background-color: rgba(0,0,0,.13);z-index: 9;display: none;}
.sendpop .s-same,.sendpop .s-different,.sendpop .s-appsucceed,.sendpop .s-succeed,.sendpop .s-had,.s-certificate,.sendpop .s-company{display: none;position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;animation: topFadeIn .3s;}
/* 确认投递（相同职位类型） */
.s-company{width: 460px;height: 220px;background-color: white;border-radius: 16px;padding-top: 37px;box-sizing: border-box;}
.s-company .ss-title p{color: #000000;font-size: 16px;font-weight: bold;}
.s-company .ss-text{color: #666666;font-size: 13px;text-align: center;line-height: 26px;margin-bottom: 48px;}
.s-company .ss-text p{color: #999999;font-size: 14px;}
.s-company .ss-btn{display: flex;justify-content: center;}
.s-company .ss-btn .cancel{width: 200px;height: 42px;background: #3377FF;border-radius: 6px;color: white;font-size: 14px;}
.s-company .ss-btn .cancel:hover{background-color: #4089ff;}
.s-same,.s-certificate{width: 410px;height: 180px;background-color: white;border-radius: 16px;padding-top: 30px;}
.s-certificate{padding-top: 37px;}
.ss-close{width: 24px;height: 24px;object-fit: cover;position: absolute;top: 11px;right: 11px;cursor: pointer;}
.ss-close:hover{opacity: .6;}
.ss-title{display: flex;align-items: center;justify-content: center;margin-bottom: 8px;}
.ss-title img{width: 26px;height: 26px;object-fit: cover;margin-right: 7px;}
.ss-title p{color: #000000;font-size: 18px;font-weight: bold;}
.ss-title p span{color: #1975FF;}
.ss-text{color: #666666;font-size: 13px;text-align: center;line-height: 26px;margin-bottom: 46px;}
.ss-text p span{color: #3377FF;display: inline-block;max-width: 156px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;vertical-align: bottom;}
.ss-btn{display: flex;padding: 0px 60px;justify-content: space-between;}
.ss-btn div,.ss-btn a{width: 140px;height: 40px;text-align: center;line-height: 40px;border-radius: 6px;font-size: 14px;cursor: pointer;}
.ss-btn .cancel{background-color: #F2F2F2;color: #666666;}
.ss-btn .cancel:hover{background-color: #ebebeb;}
.ss-btn .confirm,.ss-btn .certificate{background-color: #3377FF;color: white;display: block;}
.ss-btn .confirm:hover,.ss-btn .certificate:hover{background-color: #4089ff;}
.s-same.no .ss-title img{display: none;}
/* 投递成功（有app） */
.s-appsucceed{width: 540px;height: 400px;background-color: white;border-radius: 16px;background: linear-gradient(to bottom,#F2F7FF 0%, white 30%);box-sizing: border-box;padding: 45px 0px 0px;}
.sa-close{position: absolute;top: 11px;right: 11px;width: 24px;height: 24px;cursor: pointer;}
.sa-close img{object-fit: cover;width: 100%;height: 100%;}
.sa-title{display: flex;align-items: center;justify-content: center;color: #212121;font-size: 18px;font-weight: bold;margin-bottom: 14px;}
.sa-title img{width: 40px;height: 40px;object-fit: cover;margin-right: 9px;}
.sa-text{color: #666666;font-size: 14px;font-weight: 400;text-align: center;margin-bottom: 8px;}
.sa-mobile{width: 220px;height: 220px;margin: 12px auto 0px;}
.sa-mobile img{object-fit: cover;width: 100%;height: 100%;}
/* 投递成功（无app） */
.s-succeed{width: 400px;height: 220px;background-color: white;border-radius: 16px;background: linear-gradient(to bottom,#F2F7FF 0%, white 30%);box-sizing: border-box;padding: 27px 0px 0px;}
.s-succeed img{object-fit: cover;width: 136px;height: 108px;margin: auto;display: block;margin-bottom: 10px;}
.s-succeed p{color: #333333;font-size: 16px;font-weight: bold;text-align: center;}
/* 已经投递过 */
.s-had{width: 320px;height: 60px;background: #FFFFFF;border-radius: 10px;}
.s-had div{display: flex;align-items: center;justify-content: center;height: 100%;}
.s-had img{width: 26px;height: 26px;object-fit: cover;margin-right: 7px;}
.s-had p{color: #000000;font-size: 14px;font-weight: bold;}
/* 弹窗提示 */
.reminding{width: 290px;height: 80px;background: #333333;border-radius: 10px;color: white;font-size: 14px;position: fixed;top: 50%;left: 43%;transform: translate(-50%,-50%);text-align: center;line-height: 80px;display: none;z-index: 9;}
.moreResume{background-color: rgba(0,0,0,.13);position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index:3;display:none}
.mr-content{width: 420px;height: 190px;background: #FFFFFF;border-radius: 16px;position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;animation: topFadeIn .2s;}
.mr-close{width: 24px;height: 24px;object-fit: cover;position: absolute;top: 11px;right: 11px;cursor: pointer;}
.mr-title{color: #000000;font-size: 18px;font-weight: bold;text-align: center;padding-top: 32px;}
.mr-title img{width: 26px;height: 26px;object-fit: cover;margin-right: 7px;}
.mr-title p span{color: #1975FF;}
.mr-title div{display: flex;align-items: center;justify-content: center;}
.mr-btn{display: flex;justify-content: center;margin-top: 36px;}
.mr-btn .change{width: 140px;height: 40px;background: #F2F2F2;border-radius: 6px;color: #666;font-size: 14px;text-align: center;line-height: 40px;margin-right: 10px;cursor: pointer;}
.mr-btn .close{width: 140px;height: 40px;background: #3377FF;border-radius: 6px;font-size: 14px;color: white;text-align: center;line-height: 40px;cursor: pointer;}
.mr-select{width: 420px;height: 210px;background: #FFFFFF;border-radius: 16px;position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;animation: topFadeIn .2s;display: none;}
.mrs-title{color: #000000;font-size: 16px;font-weight: bold;margin-top: 18px;padding-left: 18px;}
.mrs-select{display: flex;align-items: center;margin-top: 18px;justify-content: center;}
.mrs-select span{color: #333333;font-size: 14px;}
.mrs-input{position: relative;}
.mrs-input ul{position: absolute;background: #FFFFFF;border: 1px solid #EDEDED;box-shadow: 1px 5px 20px 0px rgba(0,8,26,0.1);border-radius: 6px;width: 100%;box-sizing: border-box;z-index: 1;transition: all .2s;border: 0;overflow: hidden;display: none;}
.mrs-input ul li{height: 38px;cursor: pointer;color: #333;padding-left: 19px;font-size: 14px;line-height: 38px;}
.mrs-input ul .noSend{color: #666;}
.mrs-input ul .noSend span{color: #999999;font-size: 12px;}
.mrs-input ul li:hover{background: #F0F6FF;color: #1975FF;}
.mrs-input ul .active{background: #F0F6FF;color: #1975FF;}
.mrs-input input{width: 300px;height: 50px;background: #FFFFFF;border: 1px solid #EDEDED;border-radius: 6px;outline: none;box-sizing: border-box;font-size: 14px;padding: 0px 11px;cursor: pointer;}
.mrs-input input::placeholder{color: #333333;opacity: .3;}
.mrs-input i{background: url(../images/posterd.png) no-repeat;background-size: cover;position: absolute;top: 50%;transform: translateY(-50%);right: 11px;width: 20px;height: 20px;opacity: .5;}
.mrs-btn{display: flex;margin-top: 34px;justify-content: center;}
.mrs-btn .cancel{width: 140px;height: 40px;background: #F2F2F2;border-radius: 6px;margin-right: 10px;color: #666666;font-size: 14px;text-align: center;line-height: 40px;cursor: pointer;}
.mrs-btn .confirm{width: 140px;height: 40px;background: #3377FF;border-radius: 6px;text-align: center;line-height: 40px;font-size: 14px;color: white;opacity: 0.3;}
.mrs-btn .confirm.has{opacity: 1;cursor: pointer;}
@font-face {
	font-family: DINMi;
	src: url('../../../../static/fonts/DINMittelschriftStd.eot'),
        url('../../../../static/fonts/DINMittelschriftStd.otf'),
        url('../../../../static/fonts/DINMittelschriftStd.ttf'),
        url('../../../../static/fonts/DINMittelschriftStd.woff'),
        url('../../../../static/fonts/DINMittelschriftStd.woff2') /* IE9 */
}
@keyframes bottomFadeOut{
	0%{opacity:1;	transform:translateY(0px);}
	100%{opacity:0; transform:translateY(-20px);}
}