.navBox li:nth-of-type(6) a{color: #256CFA;}
.Shell{width: 1200px;margin: auto;}
/* 更新日期 */
.update{color: #999999;font-size: 12px;margin: 24px 0px 20px;}
.update span{margin-left: 20px;}
/* 简历内容 */
.conResume{display: flex;}
/* 简历详情 */
.c-left{flex: 1;display: flex;flex-direction: column;}
.cl-details{padding: 31px 30px 24px;background-color: white;border-radius: 8px;margin-bottom: 12px;position: relative;overflow: hidden;}
.cld-base{display: flex;padding-bottom: 24px;border-bottom: 1px solid #EEEEEE;margin-bottom: 18px;}
.cld-base .left{width: 100px;height: 100px;position: relative;border: 1px solid #EEEEEE;border-radius: 50%;box-sizing: border-box;margin-right: 30px;position: relative;}
.cld-base .left i{content: '';width: 100%;height: 100%;border-radius: 50%;background-color: rgba(0,0,0,.4);position: absolute;top: 0px;left: 0px;}
.cld-base .left img{width: 100%;height: 100%;object-fit: cover;border-radius: 50%;}
.cld-base .left div{width: 65px;height: 20px;background: #18D5F2;border-radius: 10px;text-align: center;line-height: 20px;color: white;font-size: 12px;position: absolute;bottom: -5px;left: 50%;transform: translateX(-50%);}
.cld-base .left .gray{background-color: #C4C4C4;}
.cld-base .right .name{margin-bottom: 5px;display: flex;align-items: center;}
.cld-base .right .name p{color: #111421;font-size: 24px;font-weight: bold;margin-right: 6px;}
.cld-base .right .name .label{width: 48px;height: 20px;background: #EDF7FC;border: 1px solid #ABC7FF;border-radius: 4px;text-align: center;line-height: 20px;color: #256CFA;font-size: 12px;position: relative;cursor: pointer;}
.cld-base .right .name .label:hover .remind{display: block;cursor: auto;}
.cld-base .right .name .remind{position: absolute;top: 24px;left: -1px;padding: 24px;background-color: white;border: 1px solid #EBEEF2;box-shadow: 1px 8px 40px 0px rgba(0,15,77,0.08);border-radius: 4px;font-size: 14px;color: #666666;width: 370px;display: none;text-align: left;}
.cld-base .right .name .remind span{color: #1975FF;}
.cld-base .right .exp{color: #666666;font-size: 14px;margin-bottom: 15px;padding-left: 4px;}
.cld-base .right .exp span{color: #CCCCCC;font-size: 13px;margin: 0px 8px;}
.cld-base .right ul li{margin-bottom: 5px;}
.cld-base .right ul li img{width: 20px;height: 20px;object-fit: cover;vertical-align: bottom;margin-right: 8px;}
.cld-base .right ul li span{color: #111421;font-size: 14px;}
.cld-base .right ul li span span{color: #4D70B5;font-size: 12px;}
.cld-other p{color: #666666;font-size: 14px;margin-bottom: 10px;display: flex;}
.cld-other p span{color: #333333;flex-shrink: 0;}
.cld-other ul{display: flex;margin-bottom: 20px;}
.cld-other ul li{height: 28px;line-height: 28px;border-radius: 14px;border: 1px solid #94AFDA;background-color: rgba(245, 249, 255, .5);color: #668FCC;font-size: 13px;padding: 0px 16px;margin-right: 8px;}
.cld-other .label{height: 40px;background: #F0F5FF;border-radius: 8px;display: flex;align-items: center;padding: 0px 20px;}
.cld-other .label span{color: #111421;font-size: 14px;font-weight: bold;margin-right: 33px;}
.cld-other .label .item{display: flex;align-items: center;color: #4D70B5;font-size: 12px;margin-right: 15px;}
.cld-other .label img{width: 20px;height: 20px;object-fit: cover;margin-top: 1px;}
.cld-label{background-color: #EDF5FC;color: #256CFA;font-size: 12px;position: absolute;top: 10px;right: -30px;width: 100px;text-align: center;transform: rotateZ(40deg);}
.cl-exp{background-color: white;border-radius: 8px;padding: 30px;flex:1}
.cle-purpose{margin-bottom: 35px;}
.cle-purpose .title{color: #111421;font-size: 18px;font-weight: bold;margin-bottom: 18px;}
.cle-purpose .salary{color: #333333;font-size: 16px;font-weight: bold;margin-bottom: 8px;margin-left: 4px;}
.cle-purpose .salary span{color: #1975FF;font-weight: bold;font-size: 18px;margin-right: 10px;font-family: DINMi;}
.cle-purpose .exp{color: #666666;font-size: 14px;margin-left: 4px;}
.cle-purpose .exp span{color: #CCCCCC;margin:0px 8px;}
.cle-edu {margin-bottom: 30px;}
.cle-edu .title,.cle-exp .title{color: #111421;font-size: 18px;font-weight: bold;margin-bottom: 30px;}
.cle-edu ul,.cle-exp ul{border-left: 1px dashed rgba(184, 207, 230, .6);padding-left: 22px;margin-left: 6px;}
.cle-edu ul li{transform: translateY(-10px);margin-bottom: 20px;}
.cle-edu ul p,.cle-exp ul p{color: #333333;font-size: 15px;font-weight: bold;position: relative;margin-bottom: 10px;}
.cle-edu ul p::before,.cle-exp ul p::before{content: '';width: 7px;height: 7px;border: 2px solid #2278FF;border-radius: 50%;position: absolute;left: -26px;top: 50%;transform: translateY(-50%);box-sizing: border-box;}
.cle-edu ul div,.cle-exp ul .edu{color: #666666;font-size: 14px;}
.cle-edu ul div span,.cle-exp ul .edu span{color: #CCCCCC;margin: 0px 8px;}
.cle-exp ul .edu {margin-bottom: 18px;}
.cle-exp ul .job{color: #666666;font-size: 14px;margin-right: 40px;word-break: break-all;}
.cle-exp ul li{transform: translateY(-10px);margin-bottom: 30px;}
.cle-ability{margin-bottom: 40px;}
.cle-ability .title{color: #111421;font-size: 18px;font-weight: bold;margin-bottom: 18px;}
.cle-ability li{margin-bottom: 16px;}
.cle-ability li .name{color: #333333;font-size: 15px;font-weight: bold;margin-right: 15px;}
.cle-ability li .intro{color: #808080;font-size: 13px;}
.cle-ability li .intro span{color: #CCCCCC;margin: 0px 8px;}
/* 简历操作 */
.c-right{margin-left: 16px;width: 318px;}
.cr-operate{padding: 26px 24px 0px;background-color: white;border-radius: 8px;margin-bottom: 12px;}
.cro-talk{padding-bottom: 37px;}
.cro-talk p{color: #333333;font-size: 18px;font-weight: bold;margin-bottom: 44px;}
.cro-talk div{display: flex;justify-content: space-around;}
.cro-talk div span{color: rgba(51, 51, 51, .6);font-size: 14px;position: relative;}
.cro-talk div span::before{content: '';width: 7px;height: 7px;background-color: #B8CFE6;border-radius: 50%;position: absolute;top: -21px;left: 50%;transform: translateX(-50%);}
.cro-talk div span::after{content: '';position: absolute;top: -18px;left: -52px;border-top: 1px dashed #B8CFE6;width: 69px;}
.cro-talk div span:first-child::after{display: none;}
.cro-talk div .active{color: #333333;}
.cro-talk div .active::before{background-color: #2278FF;}
.cro-talk div .active::after{border-color: #2278FF;}
.cro-btn{padding: 29px 0px;border-top: 1px solid #EEEEEE;}
.cro-btn .btn1{display: flex;justify-content: space-between;flex-wrap: wrap;margin-bottom: 45px;}
.cro-btn .btn1 .invite{width: 100%;height: 46px;background: #3F7EFC;border-radius: 6px;color: #FFFFFF;font-size: 15px;display: flex;align-items: center;justify-content: center;margin-bottom: 16px;cursor: pointer;}
.cro-btn .btn1 .invite img{width: 24px;height: 24px;object-fit: cover;vertical-align: sub;margin-right: 5px;}
.cro-btn .btn1 .invite p{display: none;}
.cro-btn .btn1 .invite.had{background-color:rgba(63, 126, 252, .4);cursor: default;}
.cro-btn .btn1 .invite.had span{display: none;}
.cro-btn .btn1 .invite.had p{display: block;}
.cro-btn .btn1 .talk{width: 82px;height: 40px;background: #EAF1FF;border-radius: 6px;color: #2278FF;font-size: 14px;text-align: center;line-height: 40px;cursor: pointer;}
.cro-btn .btn1 .talk img{width: 18px;height: 18px;object-fit: cover;vertical-align: -3px;margin-right: 4px;}
.cro-btn .btn1 .phone{width: 82px;height: 40px;background: rgba(234,241,255,0);border: 1px solid rgba(63, 126, 252, .4);border-radius: 6px;color: #2278FF;font-size: 14px;text-align: center;line-height: 40px;cursor: pointer;}
.cro-btn .btn1 .shield,.cro-btn .btn1 .cancelIn{width: 82px;height: 40px;background: #FFFFFF;border: 1px solid #E6E6E6;border-radius: 6px;color: #333333;font-size: 14px;text-align: center;line-height: 40px;cursor: pointer;position: relative;box-sizing: border-box;flex-grow: 0.5;}
.cro-btn .btn1 .shield .btnPop,.cro-btn .btn3 .shield .btnPop{width: 430px;background: #FFFFFF;border: 1px solid #EDEDED;box-shadow: 1px 8px 40px 0px rgba(0,15,77,0.08);border-radius: 8px;position: absolute;top: 42px;right: 0px;z-index: 1;padding: 20px 24px;box-sizing: border-box;text-align: left;cursor: auto;display: none;animation: topFadeIn .3s;}
.cro-btn .btn1 .shield .btnPop::before,.cro-btn .btn3 .shield .btnPop::before{content: '';position: absolute;top: -4px;right: 35px;border-top: 1px solid #EDEDED;border-right: 1px solid #EDEDED;width: 8px;height: 8px;background-color: white;transform: rotateZ(-45deg);}
.cro-btn .btn1 .shield .btnPop p,.cro-btn .btn3 .shield .btnPop p{color: #333333;font-size: 16px;font-weight: bold;}
.cro-btn .btn1 .shield .btnPop .reason,.cro-btn .btn3 .shield .btnPop .reason{position: relative;}
.cro-btn .btn1 .shield .btnPop .reason::before,.cro-btn .btn3 .shield .btnPop .reason::before{position: absolute;top: 50%;transform: translateY(-50%);content: '';width: 16px;height: 16px;background: url(../images/triangleDG.png) no-repeat center/cover;right: 11px;}
.cro-btn .btn1 .shield .btnPop .reason ul,.cro-btn .btn3 .shield .btnPop .reason ul{position: absolute;top: 40px;width: 100%;border: 1px solid #EEEEEE;box-shadow: 1px 5px 20px 0px rgba(0,8,26,0.1);border-radius: 6px;background-color: white;box-sizing: border-box;transform: scaleY(0);transition: all .2s;transform-origin: top;}
.cro-btn .btn1 .shield .btnPop .reason ul li,.cro-btn .btn3 .shield .btnPop .reason ul li{font-size: 14px;padding-left: 20px;cursor: pointer;}
.cro-btn .btn1 .shield .btnPop .reason ul li:hover,.cro-btn .btn3 .shield .btnPop .reason ul li:hover{background-color: #F0F6FF;color: #1975FF;}
.cro-btn .btn1 .shield .btnPop input,.cro-btn .btn3 .shield .btnPop input{width: 100%;height: 40px;background: #FFFFFF;border: 1px solid #EEEEEE;border-radius: 6px;outline: none;cursor: auto;font-size: 14px;color: #666666;box-sizing: border-box;padding: 0px 27px 0px 11px;transition: all .3s;cursor: pointer;}
.cro-btn .btn1 .shield .btnPop input:hover,.cro-btn .btn3 .shield .btnPop input:hover{border-color: #C0C4CC;}
.cro-btn .btn1 .shield .btnPop input:focus,.cro-btn .btn3 .shield .btnPop input:focus{border-color: #409EFF;}
.cro-btn .btn1 .shield .btnPop input::placeholder,.cro-btn .btn3 .shield .btnPop input::placeholder{color: #999999;font-size: 14px;}
.cro-btn .btn1 .shield .btnPop .btn,.cro-btn .btn3 .shield .btnPop .btn{display: flex;margin-top: 50px;justify-content: end;}
.cro-btn .btn1 .shield .btnPop .btn div,.cro-btn .btn3 .shield .btnPop .btn div{width: 110px;height: 44px;text-align: center;line-height: 42px;border-radius: 6px;font-size: 15px;cursor: pointer;}
.cro-btn .btn1 .shield .btnPop .btn .callback,.cro-btn .btn3 .shield .btnPop .btn .callback{background: #FFFFFF;border: 1px solid #EDEDED;color: #333333;margin-right: 20px;}
.cro-btn .btn1 .shield .btnPop .btn .callback:hover,.cro-btn .btn3 .shield .btnPop .btn .callback:hover{border-color: #C0C4CC;}
.cro-btn .btn1 .shield .btnPop .btn .confirm,.cro-btn .btn3 .shield .btnPop .btn .confirm{background: #3F7EFC;border-radius: 6px;color: white;}
.cro-btn .btn1 .shield .btnPop .btn .confirm:hover,.cro-btn .btn3 .shield .btnPop .btn .confirm:hover{background-color: #4089ff;}
.cro-btn .btn1 .cancelIn .btnPop,.cro-btn .btn3 .cancelIn .btnPop{width: 440px;box-sizing: border-box;border: 1px solid #EDEDED;box-shadow: 1px 8px 40px 0px rgba(0,15,77,0.08);border-radius: 8px;position: absolute;top: 50px;right: 0px;background-color: white;z-index: 1;text-align: left;padding: 18px 24px 24px;animation: topFadeIn .3s;display: none;cursor: auto;}
.cro-btn .btn1 .cancelIn .btnPop::before,.cro-btn .btn3 .cancelIn .btnPop::before{content: '';position: absolute;top: -4px;right: 32px;border-top: 1px solid #EDEDED;border-right: 1px solid #EDEDED;width: 8px;height: 8px;background-color: white;transform: rotateZ(-45deg);}
.cro-btn .btn1 .cancelIn .btnPop p,.cro-btn .btn3 .cancelIn .btnPop p{color: #333333;font-size: 16px;font-weight: bold;}
.cro-btn .btn1 .cancelIn .btnPop span,.cro-btn .btn3 .cancelIn .btnPop span{color: #FF5039;font-size: 13px;display: flex;align-items: center;}
.cro-btn .btn1 .cancelIn .btnPop span::before,.cro-btn .btn3 .cancelIn .btnPop span::before{content: '';width: 16px;height: 16px;background: url(../images/warn_orange_circle.png) no-repeat center/cover;margin-right: 3px;}
.cro-btn .btn1 .cancelIn .btnPop .btn,.cro-btn .btn3 .cancelIn .btnPop .btn{display: flex;margin-top: 50px;justify-content: flex-end;}
.cro-btn .btn1 .cancelIn .btnPop .btn div,.cro-btn .btn3 .cancelIn .btnPop .btn div{width: 110px;height: 44px;text-align: center;line-height: 42px;border-radius: 6px;font-size: 14px;cursor: pointer;}
.cro-btn .btn1 .cancelIn .btnPop .btn .callback,.cro-btn .btn3 .cancelIn .btnPop .btn .callback{background: #FFFFFF;border: 1px solid #EDEDED;color: #333333;margin-right: 20px;}
.cro-btn .btn1 .cancelIn .btnPop .btn .callback:hover,.cro-btn .btn3 .cancelIn .btnPop .btn .callback:hover{border-color: #C0C4CC;}
.cro-btn .btn1 .cancelIn .btnPop .btn .confirm,.cro-btn .btn3 .cancelIn .btnPop .btn .confirm{background: #3F7EFC;border-radius: 6px;color: white;}
.cro-btn .btn1 .cancelIn .btnPop .btn .confirm:hover,.cro-btn .btn3 .cancelIn .btnPop .btn .confirm:hover{background-color: #4089ff;}
.cro-btn .btn2{display: flex;}
.cro-btn .btn2 .item{color: #666666;font-size: 12px;text-align: center;cursor: pointer;width: 25%;position: relative;}
.cro-btn .btn2 .item:hover .popver_app{display: block;}
.cro-btn .btn2 .item.collected .had{display: inline;}
.cro-btn .btn2 .item.collected .have{display: none;}
.cro-btn .btn2 .item p{margin-top: 5px;}
.cro-btn .btn2 img{width: 24px;height: 24px;object-fit: cover;}
.cro-btn .btn2 .item .had{display: none;}
.cro-btn .cancel{height: 46px;background: #C4C4C4;border-radius: 6px;line-height: 46px;text-align: center;color: white;font-size: 15px;display: none;cursor: pointer;}
.cro-btn .cancel span{font-size: 12px;}
.cro-btn .btn3{margin-bottom: 42px;display: none;}
.cro-btn .btn3 .text{height: 46px;background: #C4C4C4;border-radius: 6px;font-size: 15px;color: white;text-align: center;line-height: 46px;margin-bottom: 16px;}
.cro-btn .btn3 .btn{display: flex;justify-content: space-between;}
.cro-btn .btn3 .btn span{cursor: pointer;}
.cro-btn .btn3 .talk{width: 82px;height: 40px;background: #EAF1FF;border-radius: 6px;text-align: center;line-height: 40px;font-size: 14px;color: #2278FF;}
.cro-btn .btn3 .invite{width: 82px;height: 40px;background: rgba(234,241,255,0);border: 1px solid rgba(63, 126, 252, .4);border-radius: 6px;box-sizing: border-box;text-align: center;line-height: 40px;color: #2278FF;font-size: 14px;}
.cro-btn .btn3 .shield{width: 82px;height: 40px;background:#FFFFFF;border: 1px solid #E6E6E6;border-radius: 6px;box-sizing: border-box;text-align: center;line-height: 40px;color: #333333;font-size: 14px;position: relative;}
.cro-label{padding: 34px 0px;border-top: 1px solid #EEEEEE;}
.cro-label .title{display: flex;justify-content: space-between;}
.cro-label .title span{color: #333333;font-size: 18px;}
.cro-label .title .add{display: flex;align-items: center;color: #575A66;font-size: 14px;cursor:pointer;position: relative;}
.cro-label .title .add img{width: 20px;height: 20px;object-fit: cover;margin-right: 2px;}
.cro-label .title .add .addpop{position: absolute;top: 30px;right: 0px;width: 540px;background: #FFFFFF;border: 1px solid #EDEDED;box-shadow: 1px 8px 40px 0px rgba(0,15,77,0.08);border-radius: 8px;box-sizing: border-box;padding: 16px 24px 24px;cursor: auto;animation: topFadeIn .3s;display: none;z-index: 1;}
.cro-label .title .add .addpop::before{content: '';position: absolute;top: -4px;right: 35px;border-top: 1px solid #EDEDED;border-right: 1px solid #EDEDED;width: 8px;height: 8px;background-color: white;transform: rotateZ(-45deg);}
.cro-label .title .add .addpop p{color: #333333;font-size: 16px;font-weight: bold;margin-top: 0px;}
.invite-title{display: flex;align-items: center;margin: 12px 0px 24px;position: relative;}
.invite-title img{width: 20px;height: 20px;object-fit: cover;padding-top: 2px;vertical-align: -4px;}
.it-img:hover .it-explain{z-index: 2;display: block;}
.invite-title .it-explain{background: #FFFFFF;border: 1px solid #EDEDED;box-shadow: 1px 8px 40px 0px rgba(0,15,77,0.08);border-radius: 8px;position: absolute;left: 70px;top: 26px;padding: 20px 18px;box-sizing: border-box;transition: all .3s;z-index: -1;display: none;}
.invite-title .it-explain::before{content: '';position: absolute;width: 6px;height: 6px;border-top:#EDEDED 1px solid;border-left:#EDEDED 1px solid;background:white;top: -4px;left: 110px;transform: rotate(45deg);}
.invite-title .it-explain em{flex-shrink: 0;color: #1975FF;}
.cro-label .title .add .addpop .label{display: flex;margin: 20px 0px;position: relative;z-index: 1;}
.cro-label .title .add .addpop .label li{background: #F5F7FA;border-radius: 4px;color: #8D91A6;font-size: 14px;padding: 0px 12px;height: 32px;line-height: 30px;margin-right: 10px;cursor: pointer;}
.cro-label .title .add .addpop .label .active{background-color: #F0F6FF;color: #1975FF;}
.cro-label .title .add .addpop.invite .label .active.ban{background-color: #FFEDF1;color: #F52D5C;}
.cro-label .title .add .addpop.invite .label li:nth-of-type(3):hover{background-color: #FFEDF1;color: #F52D5C;}
.cro-label .title .add .addpop .refuse,.cro-label .title .add .addpop .explain{display: none;}
.cro-label .title .add .addpop.talk .refuse{display: none;}
.cro-label .title .add .addpop.talk .explain{display: block;}
.cro-label .title .add .addpop.talk #calendar{display: none;}
.cro-label .title .add .addpop.shield .refuse{display: block;}
.cro-label .title .add .addpop.shield .explain{display: none !important;}
.cro-label .title .add .addpop.shield #calendar{display: none;}
.cro-label .title .add .addpop.access .refuse{display: none;}
.cro-label .title .add .addpop.access .explain{display: none;}
.cro-label .title .add .addpop.access #calendar{display: block;width: 100%;margin-bottom: 15px;}
.cro-label .title .add .addpop .el-icon-plus{color: #B3B3B3;font-size: 14px;cursor: pointer;margin-top: 14px;}
.cro-label .title .add .addpop .el-icon-plus:hover{color: #1975FF;}
.cro-label .title .add .addpop .label li:hover{background-color: #F0F6FF;color: #1975FF;}
.cro-label .title .add .addpop .label li:last-child{margin-right: 0px;}
.cro-label .title .add .addpop textarea{width: 492px;height: 66px;background: #FFFFFF;border: 1px solid #EDEDED;border-radius: 6px;resize: none;outline: none;box-sizing: border-box;padding: 6px 10px;margin-bottom: 6px;transition: all .3s;}
.cro-label .title .add .addpop textarea::placeholder{color: #B3B3B3;font-size: 14px;}
.cro-label .title .add .addpop textarea:hover{border-color: #C0C4CC;}
.cro-label .title .add .addpop textarea:focus{border-color:#409EFF}
.cro-label .title .add .addpop .number{color: #999999;font-size: 14px;font-weight: 400;padding-left: 4px;}
.cro-label .title .add .addpop .number span{color: #666666;font-size: 16px;}
.cro-label .title .add .addpop .btn{display: flex;justify-content: flex-end;}
.cro-label .title .add .addpop .btn div{width: 110px;height: 44px;text-align: center;line-height: 42px;border-radius: 6px;font-size: 14px;cursor: pointer;}
.cro-label .title .add .addpop .btn .callback{background: #FFFFFF;border: 1px solid #EDEDED;color: #333333;margin-right: 20px;}
.cro-label .title .add .addpop .btn .callback:hover{border-color: #C0C4CC;}
.cro-label .title .add .addpop .btn .confirm{background: #3F7EFC;border-radius: 6px;color: white;}
.cro-label .title .add .addpop .btn .confirm:hover{background-color: #4089ff;}
.cro-label .title .add .addpop .btn .confirm.none{opacity: .3;}
.cro-label .title .add .addpop .refuse{position: relative;display: none;margin-bottom: 61px;}
.cro-label .title .add .addpop .refuse::before{position: absolute;top: 50%;transform: translateY(-50%);content: '';width: 16px;height: 16px;background: url(../images/triangleDG.png) no-repeat center/cover;right: 11px;}
.cro-label .title .add .addpop .refuse input{width: 100%;height: 40px;background: #FFFFFF;border: 1px solid #EEEEEE;border-radius: 6px;outline: none;cursor: auto;font-size: 14px;color: #666666;box-sizing: border-box;padding: 0px 27px 0px 11px;transition: all .3s;cursor: pointer;}
.cro-label .title .add .addpop .refuse input:hover{border-color: #C0C4CC;}
.cro-label .title .add .addpop .refuse input:focus{border-color: #409EFF;}
.cro-label .title .add .addpop .refuse input::placeholder{color: #999999;font-size: 14px;}
.cro-label .title .add .addpop .refuse ul{position: absolute;top: 40px;width: 100%;border: 1px solid #EEEEEE;box-shadow: 1px 5px 20px 0px rgba(0,8,26,0.1);border-radius: 6px;background-color: white;box-sizing: border-box;transform: scaleY(0);transition: all .2s;transform-origin: top;}
.cro-label .title .add .addpop .refuse ul li{font-size: 14px;padding-left: 20px;cursor: pointer;color: black !important;line-height: 40px;}
.cro-label .title .add .addpop .refuse ul li:hover{background-color: #F0F6FF;color: #1975FF !important;}

.cro-label p{color: #828799;font-size: 14px;margin-top: 12px;word-break: break-all;}
.cro-history{padding-bottom: 50px;padding-top: 30px;border-top: 1px solid #EEEEEE;display: none;}
.cro-history .title{color: #333333;font-size: 18px;font-weight: bold;margin-bottom: 36px;}
.cro-history ul{border-left: 1px dashed rgba(184, 207, 230, .6);padding-left: 22px;}
.cro-history ul li{transform: translateY(-10px);margin-bottom: 25px;}
.cro-history ul li:last-child{margin-bottom: 0px;}
.cro-history ul p{color: #333333;font-size: 15px;font-weight: bold;position: relative;margin-bottom: 5px;}
.cro-history ul p::before{content: '';width: 7px;height: 7px;background: #FFFFFF;border: 2px solid #2278FF;border-radius: 50%;position: absolute;left: -26px;top: 50%;transform: translateY(-50%);box-sizing: border-box;}
.cro-history ul div{color: #828799;font-size: 14px;margin-bottom: 10px;}
.cro-history ul span{color: #828799;font-size: 12px;}
.cr-complain{background-color: white;border-radius: 8px;padding: 24px 14px;}
.cr-complain img{width: 20px;height: 20px;object-fit: cover;vertical-align: middle;}
.cr-complain span{color: #666666;font-size: 12px;}
.cr-complain span a{color: #F15C38;text-decoration: underline;}
.cr-complain span span{color: #F15C38;}
/* 提示 */
.warning{background-color: rgba(51, 51, 51, .9);border-radius: 10px;position: fixed;top: 50%;left: 50%;transform: translate(-50%,-50%);color: white;font-size: 14px;display: none;}
.warning.collect{padding: 17px;display: flex;flex-direction: column;align-items: center;}
.warning.collect::before{content: '';width: 24px;height: 24px;background:url(../images/StarO.png) no-repeat center/cover;margin-bottom: 2px;}
.warning.filter{padding: 28px 38px;display: flex;align-items: center;}
.warning.filter::before{content: '';width: 24px;height: 24px;background:url(../images/cirCloseW.png) no-repeat center/cover;margin-right: 2px;}
.warning.cancel{padding: 34px 40px;}
/* 分享 */
.popver_app::before{content: ''; display: block; width: 20px; height: 10px; background: url(../images/arr_white_1.png) no-repeat center/cover; position: absolute; left: 66px; top: -10px;}
.popver_app::after{content: ''; display: block; height: 10px; position: absolute; left: 0; top: -10px; right: 0;}
.popver_app{width: 340px; min-height: 230px; background: #FFFFFF; border: 1px solid #EDEDED; box-shadow: 1px 8px 40px 0px rgba(0,15,77,0.08); border-radius: 8px; position: absolute; left: -42px; top:60px; color: #333; box-sizing: border-box; padding-top: 20px; padding-bottom: 20px; display: none; animation: topFadeIn .3s;z-index: 1;} 
.popver_app h4{font-size: 14px; color: #333; display: flex; align-items: center; justify-content: center;}
.popver_app h4::before,.popver_app h4::after{content: ''; display: block; width: 60px; height: 1px; background-color: #EDEDED; margin: 0 10px;}
.popver_app .qrCode{width: 120px; height: 120px; background-color: #fff; padding: 4px; margin: 10px auto 0;}
.popver_app .qrCode img{display: block; width: 100%; height: 100%; object-fit: cover;}
.popver_app p{color: #666; font-size: 12px; text-align: center; margin-top: 12px;}
.popver_app p span{color: #1975FF;}
/* 下载简历弹窗 */
.resumeContainer .resumePop{position: fixed; left: 0; right: 0; top: 0; bottom: 0; margin: auto; width: 600px; height: 390px; background-color: #fff; border-radius: 16px; display: none; animation: popup .3s;}
.resumeContainer .resumePop.showPop{display: block;} 
.resumeContainer .resumePop::before{display: block; content: ''; pointer-events:none; position: absolute; left: 0; top: 0; right: 0; height: 130px; background: linear-gradient(0deg, #FFFFFF 0%, #EDF4FF 100%); border-radius: 16px 16px 0 0;}
.resumeContainer .resumePop .resumeCon{position: relative;}
.resumeContainer .resumePop .resumeHead{text-align: center; padding-top: 28px; margin-bottom: 28px;}
.resumeContainer .resumePop .resumeHead h3{font-size: 20px; color: #222; font-weight: bold;}
.resumeContainer .resumePop .resumeHead p{text-align: center; font-size: 14px; color: #999;}
.resumeContainer .resumePop .resumeDetail{margin: 0 50px; height: 110px; background: #F7F9FC; border-radius: 20px; box-sizing: border-box; padding: 15px 20px; display: flex; align-items: center;}
.resumeContainer .resumePop .resumeDetail .rPhoto{width: 80px; height: 80px; margin-right: 18px; border-radius: 50%; background-color: #fff;}
.resumeContainer .resumePop .resumeDetail h3 b{font-size: 18px; color: #333; align-items: center; margin-right: 10px;}
.resumeContainer .resumePop .resumeDetail h3 {font-size: 12px; color: #666;}
.resumeContainer .resumePop .resumeDetail h3 em{color: #E0E0E0; font-size: 11px; margin: 0 6px; align-items: center;}
.resumeContainer .resumePop .resume_tip{font-size: 14px; color: #666; margin-left: 55px; margin-top: 20px; }
.resumeContainer .resumePop .resume_tip span{color: #1975FF;}
.resumeContainer .resumePop .btnsGroup{display: flex; align-items: center; justify-content: center; margin-top: 40px;}
.resumeContainer .resumePop .el-button{width: 160px; height: 48px; position: relative; font-size: 15px;}
.resumeContainer .resumePop .el-button .rec{color: #fff; font-size: 12px; height: 20px; background: linear-gradient(90deg, #FF6669 0%, #FF5988 100%); border-radius: 10px 10px 10px 2px; padding: 0 6px; position: absolute; right: -6px; top: -6px; line-height:20px;}
.resumeContainer .resumePop .btn_dark{ background: linear-gradient(90deg, #00195A 0%, #2C3146 100%); color: #fff; font-size: 16px; border: none;}
.resumeContainer .resumePop .el-button em{color: rgba(255,255,255,.5); font-size: 14px;}
.resumeContainer .resumePop .btn_big{width: 280px;}
/* 保存至本地的弹窗 */
.popwarn{width: 100%;height: 100%;background-color: rgba(0,0,0,.13);z-index: 9;position: fixed;top: 0;left: 0;display: none;}
.pw-con{width: 390px;height: 180px;background: #FFFFFF;border-radius: 16px;box-sizing: border-box;position: absolute;top: 0;left: 0;bottom:0;right:0;margin:auto;padding: 34px 0px 26px;text-align: center;transition: all .2s;transform: scale(0);}
.pw-con img{width: 24px;height: 24px;position: absolute;top: 11px;right: 11px;object-fit: cover;cursor: pointer;}
.pw-con img:hover{opacity: .6;}
.popwarn p{font-size: 16px;font-weight: bold;color: black;margin-bottom: 9px;}
.popwarn span{color: #3377FF;font-size: 13px;font-weight: 400;}
.popwarn .btn{display: flex;justify-content: center;align-items: center;margin-top: 30px;text-align: center;line-height: 40px;}
.popwarn .confirm{width: 140px;height: 40px;background: #F2F2F2;border-radius: 6px;font-size: 14px;color: #666666;margin-right: 10px;cursor: pointer;}
.popwarn .confirm:hover{background-color: #e5e5e5;}
.popwarn .purchase{width: 140px;height: 40px;background: #3377FF;border-radius: 6px;background-color: #3377FF;font-size: 14px;color: white;font-weight: 400px;cursor: pointer;}
.popwarn .purchase:hover{background-color: #4089ff;}
.addpop.invite.access .el-date-editor.el-input{display: block;}
.flash{border: 1px solid #66A3FF !important;box-shadow: 0px 1px 6px 0px rgba(69,165,255,0.2);}
.inviteDate{display: none !important;transition: all .3s;}
/* 企业注册 */
.cregister{position: fixed;top: 0px;left: 0px;background-color: rgba(0, 0, 0, .5);width: 100%;height: 100%;z-index: 10;display: none;}
.cg-con{width: 480px;height: 320px;background: #FFFFFF;box-shadow: 0px 3px 30px 0px rgba(0,4,26,0.06);border-radius: 16px;position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;box-sizing: border-box;padding: 29px 27px 0px;animation: topFadeIn .3s;}
.cgc-close{position: absolute;width: 24px;height: 24px;right: 7px;top: 7px;cursor: pointer;}
.cgc-title{display: flex;align-items: center;color: #212121;font-size: 18px;font-weight: bold;margin-bottom: 6px;}
.cgc-title::before{content: '';background: url(../images/warning_icon.png) no-repeat center/cover;width: 30px;height: 30px;margin-right: 5px;}
.cgc-text{color: #999999;font-size: 14px;margin-bottom: 24px;}
.cgc-btn{width: 200px;height: 42px;background: #FFFFFF;border: 1px solid #B2D1FF;border-radius: 6px;color: #1975FF;font-size: 14px;text-align: center;line-height: 42px;margin: 34px auto 0px;cursor: pointer;}
.cgc-btn:hover{color: white;background-color: #1975FF;border-color: white;}
.cgc-step1,.cgc-step2{display: flex;justify-content: space-between;width: 416px;height: 50px;align-items: center;box-sizing: border-box;background-color: #F7FAFF;padding: 0px 15px;margin: auto;}
.cgc-step1{border-radius: 4px 4px 0px 0px;border-bottom: 1px solid #EBF0F7;}
.cgc-step2{border-radius: 0px 0px 4px 4px;}
.cgc-step1 .name,.cgc-step2 .name{color: #212121;font-size: 15px;display: flex;align-items: center;}
.cgc-step1 .name::before,.cgc-step2 .name::before{content: '';width: 16px;height: 16px;background: url(../images/circle_close_blue.png) no-repeat center/cover;margin-right: 5px;margin-top: 1px;}
.cgc-step1 .step,.cgc-step2 .step{color: #1975FF;font-size: 14px;}
.cgc-step2 .step{opacity: .3;user-select: none;}
@font-face {
	font-family: DINMi;
	src: url('../../../../static/fonts/DINMittelschriftStd.eot'),
        url('../../../../static/fonts/DINMittelschriftStd.otf'),
        url('../../../../static/fonts/DINMittelschriftStd.ttf'),
        url('../../../../static/fonts/DINMittelschriftStd.woff'),
        url('../../../../static/fonts/DINMittelschriftStd.woff2') /* IE9 */
}