.navBox ul li:nth-of-type(7) a{color: #256CFA;}
/* 头部 */
.h-bread{width: 1200px;margin: auto;overflow: hidden;padding-top: 25px;}
.h-bread li{float: left;}
.h-bread li a{font-size: 12px;font-family: Microsoft YaHei;font-weight: 400;color: #999999;}
.h-bread li span{margin: 0px 5px;color: #999999;}
/* 正文-头部 */
.content-header{width: 1140px;padding: 30px;margin: 20px auto;border-radius: 10px;background-color: white;position: relative;}
.ch-text{font-size: 12px;font-family: Microsoft YaHei;font-weight: 400;color: #999999;margin: -3px 0px 22px 0px;}
.ch-text .browser{margin-left: 35px;}
.ch-content{width: 100%;position: relative;}
.ch-content .chc-soon, .ch-content .chc-doing {position: relative; height: 200px; float: left; margin-right: 24px;}
.chc-doing img,.chc-soon img,.chc-done img{width: 300px;height: 200px;border-radius: 4px;float: left;object-fit: cover;}
.chc-doing::before,.chc-soon::before,.chc-done::before{content: '';width: 300px;height: 30px;background: linear-gradient(90deg, #00C07D 0%, #36CE99 100%);opacity: 0.8;border-radius: 0px 0px 4px 4px;position: absolute;bottom: 0px;left: 0px;text-align: center;line-height: 30px;}
.chc-soon::before{background: linear-gradient(90deg, #1F48F8 0%, #496BF9 100%);}
.chc-done::before{background: #555555;}
.chc-doing span,.chc-soon span,.chc-done span{position: absolute;left:129px;bottom: 4.5px;font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #FFFFFF;}
.chc-right{display: flex;flex-direction: column; padding-right: 270px; margin-left: 320px;}
.chc-right p{font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #666666;margin-bottom: 13px;}
.chc-right .title{font-size: 24px;font-family: Microsoft YaHei;font-weight: bold;color: #111421;margin-bottom: 19px;display: -webkit-box;overflow: hidden;-webkit-line-clamp: 1;-webkit-box-orient: vertical;word-break: break-all;}
.chc-right .time{font-size: 18px;font-family: JDZhengHT-EN;font-weight: 400;color: #4C6699;margin-bottom: 18px;}
.chc-right p span{color: #666666;font-weight: bold;}
.chc-right p span:hover{color: #1975FF;cursor: pointer;}
.chc-right p em:hover{color: #1975FF;cursor: pointer;}
.chc-right .forobj{margin-bottom: 13px;}
.chc-join{width: 240px;height: 50px;line-height: 50px; background: #2176FF;border-radius: 25px;float: right;text-align: center;font-size: 16px;font-family: Microsoft YaHei;font-weight: bold;color: #FFFFFF;text-decoration: none;margin-top: 75px; position: absolute; right: 0; bottom: 0;}
.chc-isjoin{width: 240px;height: 50px;line-height: 50px; background: #b3cffc;border-radius: 25px;float: right;text-align: center;font-size: 16px;font-family: Microsoft YaHei;font-weight: bold;color: #FFFFFF;text-decoration: none;margin-top: 75px; position: absolute; right: 0; bottom: 0;}
.chc-isjoin:hover {color: white;}
.chc-join:hover{color: white;background-color: #4089ff;}
.chc-join img{width: 20px;height: 20px;vertical-align: text-top;}
.ch-phonebrowser,.ch-share{font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #808080;position: absolute;top: 30px;z-index: 10;}
.ch-phonebrowser{right: 114px;}
.ch-share{right:34px;cursor: pointer;}
.ch-phonebrowser img,.ch-share img{width: 20px;height: 20px;margin-right: 3px;vertical-align: text-bottom;}
/* 正文-详细信息 */
.content-detail{width: 1200px;margin: 0px auto 72px;}
/* 左边部分 */
.cd-left{width: 880px;float: left;}
.cdl-header{width: 100%;height: 59px;border-bottom: 1px solid #EDEDED;border-radius: 8px 8px 0px 0px;background-color: white;position: sticky;top: -1px;z-index: 10;}
.cdl-header li{float: left;font-size: 16px;font-family: Microsoft YaHei;font-weight: 400;color: #333333;width: 140px;height: 100%;text-align: center;line-height: 59px;cursor: pointer;}
.cdl-header li:hover{color: #1975FF;}
.cdl-header .active{font-weight: bold;color: #1975FF;position: relative;}
.cdl-header .active::before{content: '';width: 67px;height: 3px;background: #2278FF;position: absolute;bottom: 0px;left: 36px;}
.cdl-body{padding: 39px 39px 70px 39px;position: relative;border-radius: 0px 0px 8px 8px;background-color: white;}
.cdl-body .title{font-size: 20px;font-family: Microsoft YaHei;font-weight: bold;color: #111421;margin-bottom: 39px;}
.cdl-body .content{overflow: hidden;font-size: 15px;max-height: 500px;line-height: 32px;}
.cdl-body .content img{display: inline-block; vertical-align: middle; margin-top: -2px;}
.cdl-body .extend{width: 802px;height: 66px;background: linear-gradient(0deg, #FFFFFF 0%, rgba(255,255,255,0) 100%);position: absolute;bottom: 90px}
.cdl-body .checkall{text-align: center;font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #1975FF;cursor: pointer;}
.cdl-body .checkall img{width: 16px;height: 16px;object-fit: cover;}
.cdl-company{width: 820px;background-color: #FFFFFF;margin-top: 20px;padding: 22px 30px 72px;border-radius: 8px;}
.cdl-company .header{display: flex;justify-content: space-between;align-items: center;}
.cdl-company .header .title{font-size: 20px;font-family: Microsoft YaHei;font-weight: bold;color: #111421;}
.cdl-company .header .search{position: relative;}
.cdl-company .header .search::before{content: '';width: 1px;height: 18px;background: #E6E6E6;position: absolute;top: 12px;right: 43px;}
.cdl-company .header input{width: 175px;height: 18px;background: #FFFFFF;border: 1px solid #EEEEEE;border-radius: 4px;padding: 11px 44px 11px 9px;outline: none;}
.cdl-company .header input::placeholder{font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #A3A9BF;}
.cdl-company .header img{position: absolute;top:11px;right: 12px;cursor: pointer;width: 20px;height: 20px;object-fit: cover;}
.cdl-company .searchResult .noneResults{font-size: 13px;font-family: Microsoft YaHei;font-weight: 400;color: #9CA0AD;text-align: center;margin: 78px 0px;display: none;}
.cdl-company .company{margin-top: 20px;width: 100%;}
.cdl-company .company .title{width: calc(100% - 32px);height: 50px;background: linear-gradient(0deg, #F2F7FF 0%, #EDF4FF 100%);line-height: 50px;padding: 0px 16px;}
.cdl-company .company .title .ltext{font-size: 16px;font-family: Microsoft YaHei;font-weight: 400;color: #111421;float: left;}
.cdl-company .company .title .rtext{font-size: 12px;font-family: Microsoft YaHei;font-weight: 400;color: #999999;float: right;}
.cdl-company .company .title .rtext span{font-size: 16px;font-weight: bold;color: #111421;margin-left: 7px;vertical-align: bottom;}
.cdl-company .company ul li{width: calc(100% - 32px);background: white;display: flex;padding: 10px 16px;}
.cdl-company .company ul li:nth-child(2n){background: #F7F7F7;}
.cdl-company .company ul li span{font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #666666;height: 100%;}
.cdl-company .company ul li .number{width: 84px;padding-right: 20px;}
.cdl-company .company ul li .detail{flex: 1;}
.cdl-company .loading{text-align: center;font-size: 14px;line-height: 60px;}
.cdl-company .initial{display: flex;align-items: center;justify-content: center;flex-direction: column;font-size: 14px;color: #9CA0AD;height: 300px;display: none;}
.cdl-company .initial img{width: 200px;height: 80px;object-fit: cover;}
.cdl-company .text{font-size: 15px;line-height: 32px;margin-top: 39px; overflow-x: auto;}
.cdl-company .text img{width: 100% !important;height: auto !important;}
.cdl-company .text table {border-left: 1px solid #ddd !important; border-top: 1px solid #ddd !important; background-color: transparent!important;}
.cdl-company .text table td {padding: 5px!important; border-right: 1px solid #ddd !important; border-bottom: 1px solid #ddd !important; background-color: transparent!important; line-height: 1.5em !important; font-size: 14px !important; white-space: nowrap !important; word-break: break-all !important;}
/* 右边部分 */
.cd-right{width: 300px;float: right;position: sticky;top: 0px;}
.cdr-company{border-radius: 8px;background-color: #FFFFFF;}
.cdr-company .header{width: calc(100% - 40px);height: 60px;line-height: 60px;border-bottom: 1px solid #EEEEEE;padding: 0px 20px;}
.cdr-company .header span{font-size: 13px;font-family: Microsoft YaHei;font-weight: 400;color: #999999;}
.cdr-company .header .title{font-size: 16px;font-family: Microsoft YaHei;font-weight: bold;color: #333333;float: left;}
.cdr-company .header .more{float: right;cursor: pointer;}
.cdr-company .header .more:hover{color: #1975FF;}
.cdr-company .content{padding: 20px 20px 24px;}
.cdr-company .content .text{display: flex;flex-direction: column;justify-content: space-between;font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #666666;}
.cdr-company .content .text div{max-height: 125px;overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 4;line-height: 26px;margin-bottom: 20px;}
.cdr-company .content .text .title{font-weight: bold;color: #333333;margin-bottom: 10px;}
.cdr-company .content .swiper{width: 260px;border-radius: 6px;position: relative;overflow: hidden;margin-bottom: 16px;}
.cdr-company .content .swiper ul{transition: all .5s;}
.cdr-company .content .swiper ul li{display: inline-block;cursor: pointer;width: 260px;height: 164px;}
.cdr-company .content .swiper ul li img{width: 100%;height: 100%;border-radius: 6px;object-fit: cover;}
.cdr-company .content .swiper .leftarrow,.rightarrow{width: 28px;height: 40px;opacity: 0.8;position: absolute;top: calc(50% - 20px);text-align: center;line-height: 50px;cursor: pointer;display: none;}
.cdr-company .content .swiper .rightarrow{right: 0px;background: url(../images/rightarrow.png) no-repeat #000000 center;background-size: 20px 20px;z-index: 9;}
.cdr-company .content .swiper .leftarrow{background: url(../images/leftarrow.png) no-repeat #000000 center;background-size: 20px 20px;z-index: 9;}
.cdr-company .content .swiper:hover .leftarrow{animation: leftFadeIn .3s;display:block;}
.cdr-company .content .swiper:hover .rightarrow{animation: rightFadeIn .3s;display:block;}
.cdr-company .content .addimg{width: 260px;height: 40px;;background: #F4F8FF;border: 1px solid #97BFFF;border-radius: 6px;font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #2278FF;text-align: center;line-height: 40px;cursor: pointer;display: inline-block;}
.cdr-company .content .addimg:hover{background-color: white;}
.cdr-company .content .addimg img{vertical-align: -5px;width: 20px;height: 20px;object-fit: cover;}
.cdr-address{margin-top: 20px;background-color: #FFFFFF;border-radius: 8px;display: block;}
.cdr-address .header{width: calc(100% - 40px);height: 60px;line-height: 60px;border-bottom: 1px solid #EEEEEE;padding: 0px 20px;}
.cdr-address .header .title{font-size: 16px;font-family: Microsoft YaHei;font-weight: bold;color: #333333;float: left;}
.cdr-address .content{padding: 20px 20px 33px;}
.cdr-address .content .address{font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #888888;}
.cdr-address .content .address span{color: #333333;}
.cdr-address .content .address em:hover{color:#1975FF;cursor: pointer;}
.cdr-address .content .map{width: 248px;height: 170px;position: relative;text-align: center;margin: 18px auto 22px;display: block;}
.cdr-address .content .map .openmap{position: absolute;bottom: 7px;left: 88px; font-size: 13px;font-family: Microsoft YaHei;font-weight: 400;color: #FFFFFF;}
.cdr-address .content .map .openmap img{width: 16px;height: 16px;vertical-align: text-top;}
.cdr-address .content .map img{width: 100%;height: 100%;object-fit: cover;margin: auto;}
.cdr-address .content .map::before{content: '';width: 248px;height: 30px;background: #89BAE5;opacity: 0.8;position: absolute;bottom: 0px;}
.cdr-address .content .route .title{font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #333333;}
.cdr-address .content .route .text{font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #666666;margin-top: 18px;}
/* 底部广告条 */
.ad-banner-bottom{width: 100%;height: 80px;position: fixed;bottom: 0px;z-index: 10;display: block;}
.ad-banner-bottom::before{content: '';width: 100%;height: 80px;background: #000000;opacity: 0.5;position: fixed;bottom: 0px;z-index: 0;}
.ad-banner-bottom .content{position: relative;width: 1248px;height: 100%;margin: auto;}
.ad-banner-bottom .content .banner1{position: absolute;bottom: 0px;left: 0px;z-index: 1;}
.ad-banner-bottom .content .banner2{position: absolute;bottom: 0px;right: 0px;z-index: 1;}
.ad-banner-bottom .content .text{width: 100%;height: 100%;}
.ad-banner-bottom .content .text span{font-size: 22px;font-family: Microsoft YaHei;font-weight: bold;color: #FFFFFF;position: absolute;top:20px;left: 399px;}
.ad-banner-bottom .content .text div{width: 200px;height: 50px;line-height: 50px; background: #3377FF;border-radius: 6px;font-size: 16px;font-family: Microsoft YaHei;font-weight: bold;color: #FFFFFF;text-align: center;position: absolute;top: 14px;right: 194px;z-index: 13;cursor: pointer;}
/* 查看更多 */
.browsing-more-background{width: 100%;height: 100%;background: #000000;opacity: 0.5;position: fixed;z-index: 9999;top: 0px;display: none;}
.browsing-more{width: 800px;height: 600px !important;background: #FFFFFF;border-radius: 16px;position: fixed;top:0;left: 0;right:0;bottom:0;margin: auto;z-index: 10000;padding: 34px 5px 34px 40px;display: none;animation: topFadeIn .3s;box-sizing: border-box;}
.browsing-more .scroll{height: 100%;overflow-y: auto;padding-right: 29px;}
.browsing-more .scroll::-webkit-scrollbar{width: 11px;height: 0;}  
.browsing-more .scroll::-webkit-scrollbar-thumb{background: rgba(153, 153, 153, .2);}
.bm-title{width: 500px;font-size: 20px;font-family: Microsoft YaHei;font-weight: bold;color: #222222;display: flex;justify-content: center;text-align: center;position: relative;margin: auto;}
.bmt-company{white-space: nowrap;position: relative;}
.bmt-company::before{content: "";width: 50px;height: 12px;background: url(../images/top-left.png);position: absolute;top: 10px;left: -59px;}
.bmt-origin{color:#1975FF;position: relative;}
.bmt-origin::after{content: "";width: 50px;height: 12px;background: url(../images/top-right.png);position: absolute;top: 10px;right: -59px;}
.browsing-more.detail .bmt-origin::after{right: -59px;}
.bm-close{text-align:right;margin:0px 8px;text-align: right;cursor: pointer;position:absolute;right: 0px;top: 13px;}
.bm-close img{width: 30px;height: 30px;object-fit: cover;}
.bm-ctitle{width: calc(100% - 22px);height: 38px;line-height: 38px; background: linear-gradient(0deg, #FFFFFF 0%, #EDF4FF 100%);font-size: 14px;font-family: Microsoft YaHei;font-weight: bold;color: #333333;padding-left: 22px;margin-top: 36px;}
.bm-ctext{width: calc(100% - 44px);font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #666666;padding: 0px 22px;margin: 15px 0px 44px 0px;}
.bm-ctext .address{color: #999999;line-height: 28px;}
.bm-ctext .address span{color: #333333;}
.browsing-more.detail .bm-close{right: 7px;}
.browsing-more.img{height: auto;padding-right: 40px;padding-bottom: 25px;}
.bm-img{width: 720px;margin-top: 30px;}
.bm-img img{width: 100%;height: 420px;object-fit: cover;}
.bm-img p{font-size: 14px;font-weight: normal;color: #999999;text-align: center;letter-spacing: -2px;}
.bm-img .swiper{width: 720px;height: 460px;border-radius: 6px;position: relative;overflow: hidden;}
.bm-img .swiper ul{transition: all .5s;}
.bm-img .swiper ul li{display: inline-block;}
.bm-img .swiper ul li img{width: 720px;height: 460px;border-radius: 6px;object-fit: cover;}
.bm-img .swiper .leftarrow,.rightarrow{width: 28px;height: 40px;opacity: 0.8;position: absolute;top: calc(50% - 20px);text-align: center;line-height: 50px;cursor: pointer;}
.bm-img .swiper .rightarrow{right: 0px;background: url(../images/rightarrow.png) no-repeat #000000 center;display: block;background-size: 20px 20px;z-index: 9;}
.bm-img .swiper .leftarrow{background: url(../images/leftarrow.png) no-repeat #000000 center;background-size: 20px 20px;z-index: 9;}
.swiper-pagination-current{color: #333333;font-size: 20px;}
/* 报名 */
.background{width: 100%;height: 100%;background: rgba(0, 0, 0, .5);position: fixed;top: 0px;z-index: 9999;display:none}
.b-jobsjoin{width: 640px;height: 480px;background: linear-gradient(to top, #FFFFFF 60%, #EDF4FF 100%);border-radius: 16px;position: absolute;top: 0%;left: 0%;padding: 0px 30px;animation: topFadeIn .3s;right: 0;bottom: 0;margin: auto;}
.bj-title{height: 80px;line-height: 80px;position: relative;}
.bj-title .classify{font-size: 20px;font-family: Microsoft YaHei;font-weight: bold;color: #222222;}
.bj-title .help,.phone{font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #666666;}
.bj-title .phone{color: #2278FF;}
.bj-title img{position: absolute;top: 10px;right: -14px;cursor: pointer;width: 28px;height: 28px;object-fit: cover;}
.bj-plate{width: 558px;height: 60px;background: #FFFFFF;box-shadow: 0px 5px 30px 0px rgba(127,170,255,0.06);border-radius: 10px;margin: auto;padding: 14px 0px 14px 12px;}
.bj-plate img{width: 90px;  height: 60px; border-radius: 6px;float: left;margin-right: 15px;object-fit: cover;}
.bj-plate .title{height: 100%;font-size: 16px;font-family: Microsoft YaHei;font-weight: 400;color: #333333;display: flex;flex-direction: column;justify-content: space-around;}
.bj-plate .title p span{font-size: 14px;font-family: Microsoft YaHei;font-weight: bold;color: #16C689;}
.bj-plate .title .time{font-size: 13px;color: #333333;}
.bj-zhaopin{margin-top: 40px;text-align: center;font-size: 14px;}
.bj-zhaopin span{font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #666666;}
.bj-zhaopin input{width: 470px;height: 56px;background: #FFFFFF;border: 1px solid #D9D9D9;border-radius: 6px;margin-left: 15px;outline: none;padding:0px 14px;box-sizing: border-box;}
.bj-zhaopin input::placeholder{font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #C0C2CC;}
.bj-zhaopin .had{background-color:#F7F9FC;border: 0px;color: #333333;}
.bj-tel{margin-top: 16px;text-align: center;position: relative;}
.bj-tel span{font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #666666;}
.bj-tel input{outline: none;padding:0px 14px;}
.bj-tel input::placeholder{font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #C0C2CC;}
.bj-tel .tel{width: 310px;height: 56px;background: #FFFFFF;border: 1px solid #D9D9D9;border-radius: 6px;margin: 0px 7px 0px 15px;padding-right: 94px;font-size: 14px;box-sizing: border-box;}
.bj-tel .code{width: 150px;height: 56px;background: #FFFFFF;border: 1px solid #D9D9D9;border-radius: 6px;font-size: 14px;box-sizing: border-box;}
.bj-tel .getcode{font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #668FCC;position: absolute;top: 17px;right: 240px;cursor: pointer;}
.bj-tel .resend{color: #999;cursor: auto;}
.bj-submit{width: 240px;height: 48px;line-height: 48px;margin:52px auto 0px;background: #3F7EFC;border-radius: 6px;font-size: 16px;font-family: Microsoft YaHei;font-weight:400;color: #FFFFFF;text-align: center;cursor: pointer;}
.i-see{width: 200px;height: 42px;background: #3F7EFC !important;border-radius: 6px;font-family: Microsoft YaHei;font-weight: 400 !important;color: #FFFFFF !important;}
.bj-concat{margin: 35px 0px 0px 0px;padding-left: 46px;}
.bj-concat span{font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #666666;}
.bj-concat .name,.phone{font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #333333;}
.bj-concat .changedetail{font-size: 13px;font-family: Microsoft YaHei;font-weight: 400;color: #668FCC;}
.b-success{position: fixed;width: 100%;height: 100%;background-color: rgba(0, 0, 0, .5);display: none;}
.bs-con{width: 400px;height: 210px;background: #FFFFFF;box-shadow: 0px 3px 30px 0px rgba(0,4,26,0.06);border-radius: 16px;position: absolute;top: 0px;left: 0px;right: 0px;bottom: 0px;margin: auto;animation: topFadeIn .3s;text-align: center;box-sizing: border-box;padding-top: 31px;}
.bs-con .close{width: 28px;height: 28px;object-fit: cover;position: absolute;right: 6px;top: 6px;cursor: pointer;}
.bs-con .title{display: flex;justify-content: center;align-items: center;font-size: 18px;font-weight: bold;color: black;margin-bottom: 20px;}
.bs-con .title::before{content: '';width: 26px;height: 26px;object-fit: cover;background: url(../images/confirmW.png) no-repeat center/cover #1975FF;border-radius: 50%;margin-right: 8px;}
.bs-con .text{font-size: 14px;color: #666666;margin-bottom: 35px;}
.bs-con .btn{width: 200px;height: 42px;background: #3F7EFC;border-radius: 6px;color: white;font-size: 14px;line-height: 42px;margin: auto;cursor: pointer;}
.bs-con .btn:hover{background-color: #4089ff;}
/* 手机看视频 */ 
.ch-phonebrowser:hover .codeBox{display: block;}
.codeBox{width: 250px;background: rgba(255,255,255,.98);position: absolute;bottom: -280px;left:-50px;box-sizing: border-box;-webkit-animation: topFadeIn 0.3s;-moz-animation: topFadeIn 0.3s;animation: topFadeIn 0.3s; border-radius: 8px; display: none; box-shadow: 0px 7px 20px 0px rgb(0 6 18 / 10%);}
.codeBox:after,.shareBox:after{content: ''; display: block; width: 100%; height: 16px; position: absolute; top: -16px; left: 0; right: 0; background: #fff; opacity: 0;}
.codeBox h5{text-align: center; color: #5C5C5E; font-size: 14px; line-height: 62px;}
.codeBox h5 i{display: inline-block; width: 40px; height: .5px; background-color: #8D8E91; vertical-align: middle; margin: 0 4px;}
.codeBox p{text-align: center; color: #5C5C5E; font-size: 12px; line-height: 40px;}
.codeBox p em{color: #3B9DFF; line-height: 40px; margin-bottom: 4px; display: inline-block;}
.codeBox h2{line-height: 50px;  padding: 0 24px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #2A6FB5; height: 50px; background-color: #EDF4FF; border-radius: 0 0 8px 8px; text-align: center; }
.codeBox i.arr1 {display: block; width: 0; height: 0; border: solid 6px rgba(0,0,0,0); border-bottom: solid 6px rgba(255,255,255,1); position: absolute; left: 60px; top: -12px;}
.report_btn{position: relative;}
.codeBox .code{width: 110px;height: 110px;overflow: hidden;background: #fff;box-sizing: border-box; margin: auto;}
.codeBox .code img{width: 100%;height: 100%;object-fit: cover;}
/* 分享 */
.shareListPop{width: 330px;border-radius: 8px; position: absolute; right: -10px; top: 24px; box-sizing: border-box; z-index: 9; display:none; animation: topFadeIn .3s;padding-top: 10px;cursor: auto;}
.shareBox:hover .shareListPop{display: block;}
.sh-con{background-color:white;padding-top: 18px;padding-bottom: 29px;border-radius: 8px;box-shadow: 0px 7px 20px 0px rgba(0, 6, 18, 0.1);}
.shareListPop::before{content: ''; display: block; height: 10px; position: absolute; left: 0; right: 0; top: -10px;}
.shareListPop h5{font-size: 14px; color: #4D4D4D; padding-left: 26px;}
.shareListPop .shareWayBox{overflow: hidden;}
.shareListPop .shareWayBox>div{width: 50%; float: left; box-sizing: border-box;  margin-top: 20px;}
.shareListPop .shareWayBox .wxQrShare{box-sizing: border-box; border-right: solid 1px #f2f2f2; padding: 3px 0;}
.shareListPop .shareWayBox .wxQr{width: 106px; height: 106px; background: #f5f5f5; margin: auto; background: #f4f4f4;}
.shareListPop .shareWayBox .wxQr img{display: block; width: 100%; height: 100%; object-fit: cover;}
.otherShare{padding-top: 4px;}
.otherShare  li{margin-bottom: 14px;}
.otherShare a {padding-left: 36px; display: block; background: url('/static/images/share_icon.png') no-repeat; font-size: 14px; color: #4D4D4D;}
.otherShare a:hover{color: #212121}
.otherShare .qzone a {background-position: 13px -33px;}
.otherShare .qq a {background-position: 13px -59px;}
.otherShare .sina a {background-position: 13px -85px;}
/* 企业注册 */
.cregister{position: fixed;top: 0px;left: 0px;background-color: rgba(0, 0, 0, .5);width: 100%;height: 100%;z-index: 10;display: none;}
.cg-con{width: 480px;height: 320px;background: #FFFFFF;box-shadow: 0px 3px 30px 0px rgba(0,4,26,0.06);border-radius: 16px;position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;box-sizing: border-box;padding: 29px 27px 0px;animation: topFadeIn .3s;}
.cgc-close{position: absolute;width: 24px;height: 24px;right: 7px;top: 7px;cursor: pointer;}
.cgc-title{display: flex;align-items: center;color: #212121;font-size: 18px;font-weight: bold;margin-bottom: 6px;}
.cgc-title::before{content: '';background: url(../images/warning_icon.png) no-repeat center/cover;width: 30px;height: 30px;margin-right: 5px;}
.cgc-text{color: #999999;font-size: 14px;margin-bottom: 24px;}
.cgc-btn{width: 200px;height: 42px;background: #FFFFFF;border: 1px solid #B2D1FF;border-radius: 6px;color: #1975FF;font-size: 14px;text-align: center;line-height: 42px;margin: 34px auto 0px;cursor: pointer;}
.cgc-btn:hover{color: white;background-color: #1975FF;border-color: white;}
.cgc-step1,.cgc-step2{display: flex;justify-content: space-between;width: 416px;height: 50px;align-items: center;box-sizing: border-box;background-color: #F7FAFF;padding: 0px 15px;margin: auto;}
.cgc-step1{border-radius: 4px 4px 0px 0px;border-bottom: 1px solid #EBF0F7;}
.cgc-step2{border-radius: 0px 0px 4px 4px;}
.cgc-step1 .name,.cgc-step2 .name{color: #212121;font-size: 15px;display: flex;align-items: center;}
.cgc-step1 .name::before,.cgc-step2 .name::before{content: '';width: 16px;height: 16px;background: url(../images/circle_close_blue.png) no-repeat center/cover;margin-right: 5px;margin-top: 1px;}
.cgc-step1 .step,.cgc-step2 .step{color: #1975FF;font-size: 14px;}
.cgc-step2 .step{opacity: .3;user-select: none;}
/* 保存至本地的弹窗 */
.popwarn{width: 100%;height: 100%;background-color: rgba(0,0,0,.13);z-index: 10;position: fixed;top: 0;left: 0;display: none;}
.pw-con{width: 390px;height: 180px;background: #FFFFFF;border-radius: 16px;box-sizing: border-box;position: absolute;top: 0;left: 0;bottom:0;right:0;margin:auto;padding: 34px 0px 26px;text-align: center;animation: topFadeIn .3s;}
.pw-con img{width: 24px;height: 24px;position: absolute;top: 11px;right: 11px;object-fit: cover;cursor: pointer;}
.popwarn p{font-size: 16px;font-weight: bold;color: black;margin-bottom: 9px;}
.popwarn span{color: #3377FF;font-size: 13px;font-weight: 400;}
.popwarn .btn{display: flex;justify-content: center;align-items: center;margin-top: 30px;text-align: center;line-height: 40px;}
.popwarn .confirm{width: 140px;height: 40px;background: #F2F2F2;border-radius: 6px;font-size: 14px;color: #666666;margin-right: 10px;cursor: pointer;}
.popwarn .confirm:hover{background-color: #e5e5e5;}
.popwarn .purchase{width: 140px;height: 40px;background: #3377FF;border-radius: 6px;background-color: #3377FF;font-size: 14px;color: white;font-weight: 400px;cursor: pointer;}
.popwarn .purchase:hover{background-color: #4089ff;}
@keyframes bottomFadeOut{
	0%{opacity:1;	transform:translateY(0px);}
	100%{opacity:0; transform:translateY(-20px);}
}