html{overflow: overlay;}
.navBox ul li:nth-of-type(7) a{color: #256CFA;}
/* 头部 */
.h-bread-wrap {height: 40px; background-color: #3476FF;}
.h-bread{width: 1200px;height: 40px;line-height: 40px;margin: auto;overflow: hidden;font-size: 12px;font-family: Microsoft YaHei;font-weight: 400;color: #FFFFFF;}
.h-bread li{float: left;}
.h-bread li a{font-size: 12px;font-family: Microsoft YaHei;font-weight: 400;color: #FFFFFF;}
.h-bread li span{margin: 0px 5px;}
.navBox ul li:nth-of-type(7) a{color: #256CFA;}
.footer{margin-top: 0px;}
.im-pro_description{display: none;}
/* 找品牌 */
.company-brand{width: 1140px;margin: auto;background-color: white;border-radius: 10px;padding: 30px 30px 0px;position: relative;margin-top: -30px;}
.cb-left{position: relative;float: left;width: 300px;height: 200px;margin-right: 25px;border-radius: 4px;margin-bottom: 34px;}
.cb-left::after{content: '';width: 300px;height: 30px;background: linear-gradient(90deg, #00C07D 0%, #36CE99 100%);opacity: 0.8;border-radius: 0px 0px 4px 4px;position: absolute;bottom: 0px;left: 0px;}
.cb-left img{width: 300px;height: 200px;margin-right: 25px;box-sizing: border-box;object-fit: cover;width: 100%;height: 100%;border-radius: 4px;}
.cb-left span{position: absolute;bottom: 5px;left: 129px;z-index: 1;font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #FFFFFF;}
.cb-left.end::after{background: rgba(85, 85, 85, .5);opacity: 1;}
.cb-left.end::before{content: '';width: 100%;height: 100%;position: absolute;top: 0;left: 0px;background-color: rgba(10, 18, 51, .3);border-radius: 4px;}
.cb-right{display: flex;flex-direction: column;}
.cb-doing{display: flex;align-items: center;}
.cb-doing .title{font-size: 24px;font-family: Microsoft YaHei;font-weight: bold;color: #111421;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;padding-right: 200px;}
.cb-detail{font-size: 17px;font-family: Microsoft YaHei;font-weight: 400;color: #606E83;display: flex;margin-top: 29px;align-items: center;}
.cb-detail::before{content: '';width: 6px;height: 6px;background: #C1DAF6;border-radius: 3px;margin-right: 6px;float: left;}
.cb-detail .text{max-width: 659px;overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;}
.cb-detail .detail{font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #1975FF;cursor: pointer;line-height: 26px;margin-bottom: 4px;}
.cb-detail .detail img{vertical-align: -2px;width: 14px;height: 14px;object-fit: cover;}
.cb-time{font-size: 18px;font-family: JDZhengHT-EN;font-weight: 400;color: #6B79B3;margin: 12px 0px 12px;}
.cb-forobj{font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #666666;}
.cb-datas{width: 1200px;height: 100px;background: linear-gradient(90deg, #EBF6FF 0%, #EDEDF7 50%, #FFF4ED 100%);border-radius: 0px 0px 10px 10px;margin-left: -30px;overflow: hidden;}
.cb-datas li{width: 240px;height: 100%;float: left;position: relative;text-align: center;display: flex;flex-direction: column;justify-content: center;}
.cb-datas li::after{content: '';width: 1px;height: 43px;background: #CCCCCC;opacity: 0.3;position: absolute;top: 24px;right: -1px}
.cb-datas li .title{font-size: 30px;font-family: Microsoft YaHei;font-weight: bold;color: #1F284D;}
.cb-datas li .text{font-size: 15px;font-family: Microsoft YaHei;font-weight: 400;color: #666B80;opacity: 0.9;}
.cb-phone,.cb-share{position: absolute;top: 40px;right: 30px;cursor: pointer;}
.cb-phone{right: 114px;}
.cb-phone img,.cb-share img{margin-right: 3px; vertical-align: -5px;width: 20px;height: 20px;object-fit: cover;}
/* 参会企业 */
.join-company{width: 1176px;min-height: 322px;background: linear-gradient(0deg, #C9E2FD 0%, #2B91FF 100%);border-radius: 12px;margin: 20px auto 0px;padding: 0px 12px 10px;}
.jc-header{height: 70px;display: flex;justify-content: space-between;align-items: center;}
.jch-left{display: flex;position: relative;}
.jch-left .title{font-size: 20px;font-family: Microsoft YaHei;font-weight: bold;color: #FFFFFF;margin-top: -3px;}
.jch-left .swiper-name{background-color: rgba(0, 89, 187, .5);border-radius: 14px;margin-left: 14px;height: 28px;padding: 0px 15px;overflow: hidden;}
.jch-left ul{text-align: left;}
.jch-left ul li{display: flex;align-items: center;}
.jch-left .notice{font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #FFFFFF;margin-bottom: 1px;display: flex;}
.jch-left .notice .n-looking{color: #91C0F2;}
.jch-left .notice .company{max-width: 145px;overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;word-break: break-all;font-size: 14px;color: white;}
.jch-right{font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #FFFFFF;display: flex;align-items: center;}
.jch-right span:hover{cursor: pointer;text-decoration: underline;}
.jch-right em{margin: 0px 8px;}
.jch-right div:hover{cursor: pointer;text-decoration: underline;}
.jc-company{overflow: hidden}
.jc-company li{width: 384px;height: 248px;background: #FFFFFF;border-radius: 8px;float: left;}
.jc-company li:nth-child(2){margin: 0px 12px;}
.jc-company li .content{width: calc(100% - 32px);height: calc(100% - 32px);display: inline-block;padding: 16px;display: block; position: relative;}
.jc-company li .content .com-name{width: 100%;height: 60px;display: inline-block;}
.jc-company li .content .com-name img{width: 60px;height: 60px;object-fit: cover;float: left;margin-right: 11px;border-radius: 6px;}
.jc-company li .content .com-name div{padding-top: 8px;}
.jc-company li .content .com-name div p{font-size: 15px;font-family: Microsoft YaHei;font-weight: 400;color: #333333;overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;word-break: break-all;}
.jc-company li .content .com-name div p span{font-size: 12px;font-family: Microsoft YaHei;font-weight: 400;color: #999999;}
.jc-company li .content .com-name div p .species{position: relative;margin-right: 10px;}
.jc-company li .content .com-name div p .species::after{content: '';width: 1px;height: 10px;background-color: #E6E6E6;position: absolute;right: -8px;bottom: 2px;}
.jc-company li .content .job-name{width: calc(100% - 28px);height: 44px;line-height: 44px; background: #F7FAFF;border-radius: 4px;margin: 10px 0px;display: flex;justify-content: space-between;padding: 0px 14px;}
.jc-company li .content .job-name .job{font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #333333;}
.jc-company li .content .job-name .salary{font-size: 16px;font-weight: bold;color: #FF5833;font-family: DINMi;}
.jc-company li .content .job-number{height: 44px;line-height: 44px;position: absolute; left: 16px; bottom: 10px; right: 16px}
.jc-company li .content .job-number a{font-size: 13px;font-family: Microsoft YaHei;font-weight: 400;color: #999999;}
.job-number .homepage,.nowtalk{height: 36px;line-height: 36px;border-radius: 18px;float: right;margin-top: 4px;text-align: center;font-size: 14px !important;color: #FFFFFF !important;}
.job-number .homepage{width: 96px;background: #2176FF;float: right;margin-right: 8px;}
.job-number .nowtalk{width: 102px;background: #16C689;float: right;cursor: pointer;}
.job-number .nowtalk img{vertical-align: middle;margin-right: 3px;}
.job-number .total:hover{color: #1975FF !important;}
/* 职位展示和搜索 */
.jobs-search{width: 1140px;margin: 20px auto 0px;padding: 0px 30px;background-color: #FFFFFF;border-radius: 8px;}
.js-header{height: 80px;display: flex;justify-content: space-between;align-items: center;position: sticky;top: 0;background-color: white;z-index: 1;}
.js-header li{height: 100%;width: 138px;line-height: 80px;text-align: center;float: left;font-size: 16px;font-family: Microsoft YaHei;font-weight: 400;color: #111421;position: relative;cursor: pointer;}
.js-header li:first-child::after{content: '';width: 1px;height: 18px;background: #EDEDED;position: absolute;top: 34px;right: -1px;}
.js-header .active{font-size: 20px;font-family: Microsoft YaHei;font-weight: bold;color: #111421;}
.js-header .active::before{content: '';width: 67px;height: 3px;background: #2278FF;position: absolute;bottom: 0px;left: 36px;}
.js-header form{position: relative;}
.js-header form::after{content: '';width: 1px;height: 18px;background: #E6E6E6;position: absolute;top: 11px;right:42px;}
.js-header input{float: right;width: 175px;height: 40px;background: #FFFFFF;border: 1px solid #EEEEEE;border-radius: 4px;outline: none;font-size: 14px;padding: 0px 44px 0px 9px;transition: all .2s;}
.js-header input:hover{border-color: #C0C4CC;}
.js-header input:focus{border-color:rgb(64,158,255)}
.js-header input::placeholder{font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #A3A9BF;}
.js-header .search{position: absolute;top: 12px;right: 11px;cursor: pointer;width: 20px;height: 20px;object-fit: cover;}
.js-header .clear{position: absolute;top: 13px;right: 55px;cursor: pointer;width: 16px;height: 16px;object-fit: cover;display: none;}
.js-number{height: 50px;line-height:50px;padding: 0px 15px;background: linear-gradient(0deg, #F2F7FF 0%, #EDF4FF 100%);font-size: 15px;font-family: Microsoft YaHei;font-weight: 400;color: #5977B3;}
.js-position{animation: topFadeIn .3s;}
.js-company{display: none;animation: topFadeIn .3s;margin-top: 18px;}
.js-addr,.js-jobs{width: 100%;display: flex;margin-top: 30px;border-bottom: 1px solid #F2F2F2;padding-bottom: 18px;}
.js-jobs{border-bottom: 0;}
.js-jobs{margin-top: 18px;}
.js-addr div,.js-jobs div{font-size: 14px;font-family: Microsoft YaHei;font-weight: bold;color: #333333;line-height: 26px;}
.js-addr ul,.js-jobs ul{flex: 1;}
.js-addr li,.js-jobs li{height: 26px;padding: 0px 3px;line-height: 26px;float: left;font-size: 13px;font-family: Microsoft YaHei;font-weight: 400;color: #666666;text-align: center;margin-right: 15px;cursor: pointer;}
.js-addr .active,.js-jobs .active{background: #2176FF;border-radius: 4px;color: white;}
.js-alljobs{width: 100%;padding-bottom: 24px;}
.jsa-li{width: 368px;height: 120px;background: #FFFFFF;border: 1px solid #EDEDED;border-radius: 10px;float: left;margin-bottom: 15px;transition: all .2s;box-sizing: border-box;}
.jsa-li:nth-child(3n-1){margin: 0px 15px;}
.jsa-li:hover{box-shadow: 1px 8px 40px 0px rgba(0,15,77,0.08);}
.jsa-li a{display: inline-block;width: calc(100% - 38px);height: calc(100% - 16px);padding: 16px 16px 0px 22px;}
.jsa-li .title,.jsa-li .detail{display: flex;justify-content: space-between;align-items: center;}
.jsa-li .title .jobsname{font-size: 15px;font-family: Microsoft YaHei;font-weight: bold;color: #1975FF;word-break: break-all;overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;margin-right: 20px;}
.jsa-li .title .salary{font-size: 18px;font-weight: bold;color: #FF5039;font-family: DINMi;white-space: nowrap;}
.jsa-li .detail{font-size: 12px;font-family: Microsoft YaHei;font-weight: 400;color: #999999;overflow: hidden;margin: 3px 0px 16px;}
.jsa-li .detail ul{color: #919499;}
.jsa-li .detail li{float: left;position: relative;margin-left: 18px;}
.jsa-li .detail li::before{content: '';width: 1px;height: 10px;background-color: #999999;position: absolute;top: 4px;left: -9px;}
.jsa-li .detail li:first-child{margin-left: 0px;}
.jsa-li .detail li:first-child::before{left: -1px;}
.jsa-li .company{font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #666666;word-break: break-all;overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;}
.js-noneresults{display: none;flex-direction: column;align-items: center;padding: 161px 0px 154px;}
.js-noneresults img{width: 200px;height: 80px;margin-bottom: 46px;}
.js-noneresults span{font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #666666;}
.js-warning{font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #A3A9BF;text-align: center;padding-bottom:42px;}
.js-company .jc-company{display: grid;gap:15px;grid-template-columns: repeat(3,1fr);overflow: visible;padding-bottom: 39px;}
.js-company .jc-company li{width: 370px;border: 1px solid #EDEDED;border-radius: 10px;box-sizing: border-box;transition: all .2s;margin: 0px;}
.js-company .jc-company li:hover{box-shadow: 1px 8px 40px 0px rgba(0,15,77,0.08);}
.js-company .jc-company li:hover .nowtalk{display: block;}
.js-company .jc-company .job-number{display: flex;justify-content: space-between;}
.js-company .jc-company .job-number .nowtalk{float: left;display: none;animation: topFadeIn .3s;}
.js-company .jc-company .job-number a{float: left;}
/* 底部报名 */
.bottom-background{width: 100%;height: 100px;background: #000000;opacity: 0.4;position: fixed;bottom: 0px;z-index: 99;}
.bottom-signup{width: 460px;height: 50px;position: fixed;bottom: 26px;left:calc(50% - 220px);z-index: 100;display: flex;justify-content: space-between;}
.bottom-signup .apply{width: 220px;height: 50px;background: #16C689;border-radius: 6px;text-align: center;line-height: 50px;font-size: 16px;font-family: Microsoft YaHei;font-weight: bold;color: #FFFFFF;}
.bottom-signup .apply:hover{background-color: #3dd09d;}
.bottom-signup .company{width: 220px;height: 50px;background: #2176FF;border-radius: 6px;text-align: center;line-height: 50px;font-size: 16px;font-family: Microsoft YaHei;font-weight: bold;color: #FFFFFF;}
.bottom-signup .company:hover{background-color: #3b89ff;}
.bottom-signup .apply img,.bottom-signup .company img{vertical-align: -8px;}
/* 弹窗介绍 */
.pop-background{width: 100%;height: 100%;background: rgba(242, 245, 250, .7);position: fixed;z-index: 1004;top: 0px;display: none;}
.pop-detail{width: 1120px;height: 800px;background: white;position: fixed;top: 0;bottom: 0px;left: 0;right: 0px;margin: auto; z-index: 9999;padding: 42px 40px 0px;display: none;animation: topFadeIn .3s;}
.pop-detail::-webkit-scrollbar{width: 11px;height: 0;}  
.pop-detail::-webkit-scrollbar-thumb{background: rgba(153, 153, 153, .2);border-radius: 20px;}
.pd-header{border-bottom: 1px solid #EDEDED;padding-bottom: 33px;position: relative;margin-bottom: 50px;}
.pd-header .title{font-size: 22px;font-family: Microsoft YaHei;font-weight: 400;color: #111421;}
.pd-header .time{font-size: 18px;font-family: JDZhengHT-EN;font-weight: 400;color: #6B79B3;margin: 25px 0px 15px 0px;}
.pd-header .obj,.company{font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #666666;}
.pd-header .company{margin-top: 15px;display: flex;}
.pd-header .phone,.share{position: absolute;bottom: 57px;right: 11px;cursor: pointer;}
.pd-header .phone{right: 80px;}
.pd-header .phone img,.share img{vertical-align: -5px;width: 20px;height: 20px;object-fit: cover;}
.pd-content{width: calc(100% + 11px); max-height: 500px;overflow-y: auto;padding-right: 10px;font-size: 15px;}
.pd-content::-webkit-scrollbar{width: 6px;}
.pd-content::-webkit-scrollbar-thumb{background: #E7E7E7;border-radius: 3px;}
.pd-content::-webkit-scrollbar-thumb:hover{background:#cccccc;}
.pd-content::-webkit-scrollbar-thumb:active{background: #b2b2b2;}
.pop-close{position: absolute;top: -9px;right: -68px;z-index: 9999;cursor: pointer;display: none;width: 32px;height: 32px;object-fit: cover;}
/* 报名 */
.joinfairs{width: 100%;height: 100%;position: fixed;top: 0px;z-index: 9999;display: none;}
.jf-background{width: 100%;height: 100%;position: fixed;top: 0px;background-color: rgba(0, 0, 0, .5);}
.jfb-plate{width: 700px;height: 480px;background: linear-gradient(to top, #FFFFFF 40%, #EDF4FF 100%);;border-radius: 16px;position: absolute;top: 0%;left: 0%;right: 0;bottom: 0px;margin: auto;animation: topFadeIn .3s;display: none}
.jfb-plate .header{height: 80px;line-height: 80px;padding: 0px 31px;position: relative;}
.jfb-plate .header .title{font-size: 20px;font-family: Microsoft YaHei;font-weight: bold;color: #222222;margin-right: 6px;}
.jfb-plate .header .help,.phone{font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #666666;}
.jfb-plate .header .phone{color: #2278FF;}
.jfb-plate .header img{position: absolute;top: 12px;right: 18px;cursor: pointer;width: 30px;height: 30px;object-fit: cover;}
.jfb-plate .content{width: 570px;margin: auto;}
.jfb-plate .content .plate{width: 558px;height: 60px;background: #FFFFFF;box-shadow: 0px 5px 30px 0px rgba(127,170,255,0.06);border-radius: 10px;padding: 14px 12px;}
.jfb-plate .content .plate .left{float: left;}
.jfb-plate .content .plate .left img{width: 90px;height: 60px;margin-right: 15px;border-radius: 6px;}
.jfb-plate .content .plate .right{height: 100%;display: flex;flex-direction: column;justify-content: space-around;}
.jfb-plate .content .plate .right .title{font-size: 16px;font-family: Microsoft YaHei;font-weight: 400;color: #333333;}
.jfb-plate .content .plate .right .text span{font-size: 14px;font-family: Microsoft YaHei;font-weight: bold;color: #1975FF;}
.jfb-plate .content .plate .right .text .time{font-size: 13px;color: #333333;margin-left: 9px;}
.jfb-plate .content .jobs{width: 570px;margin: auto;display: flex;align-items: center;}
.jfb-plate .content .jobs span{font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #333333;margin-left: 14px;}
.jfb-plate .content .jobs div{width: 451px;height: 54px;line-height: 54px;background: #FFFFFF;border: 1px solid #D9D9D9;border-radius: 6px;outline: none;margin:40px 0px 35px 15px;font-size: 14px;}
.jfb-plate .content .concat{width: 570px;}
.jfb-plate .content .concat span{font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #666666;}
.jfb-plate .content .concat .name,.phone{font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #333333;}
.jfb-plate .content .concat .changedetail{font-size: 13px;font-family: Microsoft YaHei;font-weight: 400;color: #668FCC;}
.jfb-plate .content .submit{width: 240px;height: 48px;background: #3F7EFC;border-radius: 6px;font-size: 16px;font-family: Microsoft YaHei;font-weight: 400;color: #FFFFFF;text-align: center;line-height: 48px;margin: 70px auto 0px;cursor: pointer;}
.jfb-plate .content .submit:hover{background-color: #4089ff;}
.b-success{position: fixed;width: 100%;height: 100%;background-color: rgba(0, 0, 0, .5);display: none;}
.bs-con{width: 440px;height: 220px;background: #FFFFFF;box-shadow: 0px 3px 30px 0px rgba(0,4,26,0.06);border-radius: 16px;position: absolute;top: 0px;left: 0px;right: 0px;bottom: 0px;margin: auto;animation: topFadeIn .3s;text-align: center;box-sizing: border-box;padding-top: 31px;}
.bs-con .close{width: 28px;height: 28px;object-fit: cover;position: absolute;right: 6px;top: 6px;cursor: pointer;}
.bs-con .title{display: flex;justify-content: center;align-items: center;font-size: 18px;font-weight: bold;color: black;margin-bottom: 10px;}
.bs-con .title::before{content: '';width: 26px;height: 26px;object-fit: cover;background: url(../images/confirmW.png) no-repeat center/cover #1975FF;border-radius: 50%;margin-right: 8px;}
.bs-con .text{font-size: 14px;color: #666666;margin-bottom: 28px;line-height: 24px;}
.bs-con .btn{width: 200px;height: 42px;background: #3F7EFC;border-radius: 6px;color: white;font-size: 14px;line-height: 42px;margin: auto;cursor: pointer;}
.bs-con .btn:hover{background-color: #4089ff;}
.b-failed{position: fixed;width: 100%;height: 100%;display: none;animation: topFadeIn .3s;}
.bf-con{width: 440px;height: 220px;background: #FFFFFF;box-shadow: 0px 3px 30px 0px rgba(0,4,26,0.06);border-radius: 16px;position: absolute;top: 0;left: 0;bottom: 0;right: 0;margin: auto;text-align: center;box-sizing: border-box;padding-top: 40px;}
.bf-con .close{width: 28px;height: 28px;object-fit: cover;position: absolute;right: 6px;top: 6px;cursor: pointer;}
.bf-con .title{display: flex;justify-content: center;align-items: center;font-size: 18px;font-weight: bold;color: black;margin-bottom: 20px;}
.bf-con .title::before{content: '';width: 26px;height: 26px;object-fit: cover;background: url(../images/warning_icon.png) no-repeat center/cover;border-radius: 50%;margin-right: 8px;}
.bf-con .text{font-size: 14px;color: #666666;margin-bottom: 35px;line-height: 24px;}
.bf-con .btn{display: flex;margin: auto;line-height: 42px;font-size: 14px;justify-content: center;}
.bf-con .btn .callback{width: 140px;height: 42px;background: #F2F2F2;border-radius: 6px;color: #666666;margin-right: 20px;cursor: pointer;}
.bf-con .btn .pub,.bf-con .btn .manage{width: 140px;height: 42px;background: #1975FF;border-radius: 6px;color: white;cursor: pointer;}
.bf-con .btn .pub:hover,.bf-con .btn .manage:hover{background-color: #4089ff;}
/* 分享 */
.shareListPop{width: 330px;border-radius: 8px; position: absolute; right: -10px; top: 24px; box-sizing: border-box; z-index: 9; display:none; animation: topFadeIn .3s;padding-top: 10px;cursor: auto;}
.shareBox:hover .shareListPop{display: block;}
.sh-con{background-color:white;padding-top: 18px;padding-bottom: 29px;border-radius: 8px;box-shadow: 0px 7px 20px 0px rgba(0, 6, 18, 0.1);}
.shareListPop::before{content: ''; display: block; height: 10px; position: absolute; left: 0; right: 0; top: -10px;}
.shareListPop h5{font-size: 14px; color: #4D4D4D; padding-left: 26px;}
.shareListPop .shareWayBox{overflow: hidden;}
.shareListPop .shareWayBox>div{width: 50%; float: left; box-sizing: border-box;  margin-top: 20px;}
.shareListPop .shareWayBox .wxQrShare{box-sizing: border-box; border-right: solid 1px #f2f2f2; padding: 3px 0;}
.shareListPop .shareWayBox .wxQr{width: 106px; height: 106px; background: #f5f5f5; margin: auto; background: #f4f4f4;}
.shareListPop .shareWayBox .wxQr img{display: block; width: 100%; height: 100%; object-fit: cover;}
.otherShare{padding-top: 4px;}
.otherShare  li{margin-bottom: 14px;}
.otherShare a {padding-left: 36px; display: block; background: url('/static/images/share_icon.png') no-repeat; font-size: 14px; color: #4D4D4D;}
.otherShare a:hover{color: #212121}
.otherShare .qzone a {background-position: 13px -33px;}
.otherShare .qq a {background-position: 13px -59px;}
.otherShare .sina a {background-position: 13px -85px;}
/* 手机看视频 */ 
.cb-phone:hover .codeBox,.pd-header .phone:hover .codeBox{display: block;}
.codeBox{width: 250px;background: rgba(255,255,255,.98);position: absolute;bottom: -280px;left:-50px;box-sizing: border-box;-webkit-animation: topFadeIn 0.3s;-moz-animation: topFadeIn 0.3s;animation: topFadeIn 0.3s; border-radius: 8px; display: none; box-shadow: 0px 7px 20px 0px rgb(0 6 18 / 10%);}
.codeBox:after,.shareBox:after{content: ''; display: block; width: 100%; height: 16px; position: absolute; top: -16px; left: 0; right: 0; background: #fff; opacity: 0;}
.codeBox h5{text-align: center; color: #5C5C5E; font-size: 14px; line-height: 62px;}
.codeBox h5 i{display: inline-block; width: 40px; height: .5px; background-color: #8D8E91; vertical-align: middle; margin: 0 4px;}
.codeBox p{text-align: center; color: #5C5C5E; font-size: 12px; line-height: 40px;}
.codeBox p em{color: #3B9DFF; line-height: 40px; margin-bottom: 4px; display: inline-block;}
.codeBox h2{line-height: 50px;  padding: 0 24px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #2A6FB5; height: 50px; background-color: #EDF4FF; border-radius: 0 0 8px 8px; text-align: center; }
.codeBox i.arr1 {display: block; width: 0; height: 0; border: solid 6px rgba(0,0,0,0); border-bottom: solid 6px rgba(255,255,255,1); position: absolute; left: 60px; top: -12px;}
.report_btn{position: relative;}
.codeBox .code{width: 110px;height: 110px;overflow: hidden;background: #fff;box-sizing: border-box; margin: auto;}
.codeBox .code img{width: 100%;height: 100%;object-fit: cover;}
/* 企业注册 */
.cregister{position: fixed;top: 0px;left: 0px;background-color: rgba(0, 0, 0, .5);width: 100%;height: 100%;z-index: 10;display: none;}
.cg-con{width: 480px;height: 320px;background: #FFFFFF;box-shadow: 0px 3px 30px 0px rgba(0,4,26,0.06);border-radius: 16px;position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;box-sizing: border-box;padding: 29px 27px 0px;animation: topFadeIn .3s;}
.cgc-close{position: absolute;width: 24px;height: 24px;right: 7px;top: 7px;cursor: pointer;}
.cgc-title{display: flex;align-items: center;color: #212121;font-size: 18px;font-weight: bold;margin-bottom: 6px;}
.cgc-title::before{content: '';background: url(../images/warning_icon.png) no-repeat center/cover;width: 30px;height: 30px;margin-right: 5px;}
.cgc-text{color: #999999;font-size: 14px;margin-bottom: 24px;}
.cgc-btn{width: 200px;height: 42px;background: #FFFFFF;border: 1px solid #B2D1FF;border-radius: 6px;color: #1975FF;font-size: 14px;text-align: center;line-height: 42px;margin: 34px auto 0px;cursor: pointer;}
.cgc-btn:hover{color: white;background-color: #1975FF;border-color: white;}
.cgc-step1,.cgc-step2{display: flex;justify-content: space-between;width: 416px;height: 50px;align-items: center;box-sizing: border-box;background-color: #F7FAFF;padding: 0px 15px;margin: auto;}
.cgc-step1{border-radius: 4px 4px 0px 0px;border-bottom: 1px solid #EBF0F7;}
.cgc-step2{border-radius: 0px 0px 4px 4px;}
.cgc-step1 .name,.cgc-step2 .name{color: #212121;font-size: 15px;display: flex;align-items: center;}
.cgc-step1 .name::before,.cgc-step2 .name::before{content: '';width: 16px;height: 16px;background: url(../images/circle_close_blue.png) no-repeat center/cover;margin-right: 5px;margin-top: 1px;}
.cgc-step1 .step,.cgc-step2 .step{color: #1975FF;font-size: 14px;}
.cgc-step2 .step{opacity: .3;user-select: none;}
/* 保存至本地的弹窗 */
.popwarn{width: 100%;height: 100%;background-color: rgba(0,0,0,.13);z-index: 10;position: fixed;top: 0;left: 0;display: none;}
.pw-con{width: 390px;height: 180px;background: #FFFFFF;border-radius: 16px;box-sizing: border-box;position: absolute;top: 0;left: 0;bottom:0;right:0;margin:auto;padding: 34px 0px 26px;text-align: center;animation: topFadeIn .3s;}
.pw-con img{width: 24px;height: 24px;position: absolute;top: 11px;right: 11px;object-fit: cover;cursor: pointer;}
.popwarn p{font-size: 16px;font-weight: bold;color: black;margin-bottom: 9px;}
.popwarn span{color: #3377FF;font-size: 13px;font-weight: 400;}
.popwarn .btn{display: flex;justify-content: center;align-items: center;margin-top: 30px;text-align: center;line-height: 40px;}
.popwarn .confirm{width: 140px;height: 40px;background: #F2F2F2;border-radius: 6px;font-size: 14px;color: #666666;margin-right: 10px;cursor: pointer;}
.popwarn .confirm:hover{background-color: #e5e5e5;}
.popwarn .purchase{width: 140px;height: 40px;background: #3377FF;border-radius: 6px;background-color: #3377FF;font-size: 14px;color: white;font-weight: 400px;cursor: pointer;}
.popwarn .purchase:hover{background-color: #4089ff;}
/* 磨砂玻璃效果*/
@font-face {
	font-family: DINMi;
	src: url('../../../../static/fonts/DINMittelschriftStd.eot'),
        url('../../../../static/fonts/DINMittelschriftStd.otf'),
        url('../../../../static/fonts/DINMittelschriftStd.ttf'),
        url('../../../../static/fonts/DINMittelschriftStd.woff'),
        url('../../../../static/fonts/DINMittelschriftStd.woff2') /* IE9 */
}
@keyframes bottomFadeOut{
	0%{opacity:1;	transform:translateY(0px);}
	100%{opacity:0; transform:translateY(-20px);}
}
@supports (-webkit-backdrop-filter:none) or (backdrop-filter:none) {
    .pop-background{-webkit-backdrop-filter: blur(.06rem); backdrop-filter: blur(.06rem)};
}; 
