.navBox ul li:nth-of-type(7) a{color: #256CFA;}
.footer{margin-top: 0px;}
/* 头部 */
.h-bread-wrap {height: 40px; background-color: #3476FF;}
.h-bread{width: 1200px;margin: auto;overflow: hidden;}
.h-bread li{float: left;}
.h-bread li a{font-size: 12px;font-family: Microsoft YaHei;font-weight: 400;color: #999999;}
.h-bread li span{margin: 0px 5px;}
/* 正文-头部 */
.content-header{width: 1140px;height: 230px;padding: 30px;margin: 0px auto;border-radius: 10px;background-color: white;position: relative;margin: 0px auto 20px;}
.ch-text{font-size: 12px;font-family: Microsoft YaHei;font-weight: 400;color: #999999;margin: -3px 0px 22px 0px;}
.ch-text .browser{margin-left: 35px;}
.ch-content{width: 100%;height: 200px;position: relative;}
.chc-soon img{width: 300px;height: 200px;border-radius: 4px;float: left;margin-right: 24px;object-fit: cover;}
.chc-soon::before{content: '';width: 300px;height: 30px;background: linear-gradient(90deg, #1F48F8 0%, #496BF9 100%);opacity: 0.8;border-radius: 0px 0px 4px 4px;position: absolute;bottom: 0px;left: 0px;text-align: center;line-height: 30px;}
.chc-soon span{position: absolute;left:129px;bottom: 4.5px;font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #FFFFFF;}
.chc-right{width: 520px;height: 100%;float: left;}
.chc-right p{font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #666666;display: flex;}
.chc-right .title{font-size: 24px;font-family: Microsoft YaHei;font-weight: bold;color: #111421;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;}
.chc-right .time{font-size: 18px;font-family: JDZhengHT-EN;font-weight: 400;color: #4C6699;margin: 25px 0px 23px 0px;}
.chc-right p em{color: #333333;font-weight: bold;cursor: pointer;}
.chc-right p .addr:hover em{color: #1975FF;}
.chc-right .addrtitle{color: #666666;font-weight: 400;}
.chc-right .addr{flex: 1;}
.chc-right .addr .extend{font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #606E83;cursor: pointer;}
.chc-right .forobj{margin-bottom: 15px;}
.chc-join{width: 240px;height: 50px;line-height: 50px; background: #2176FF;border-radius: 25px;float: right;text-align: center;font-size: 16px;font-family: Microsoft YaHei;font-weight: bold;color: #FFFFFF;text-decoration: none;margin-top: 100px;}
.chc-isjoin{width: 240px;height: 50px;line-height: 50px; background: #b3cffc;border-radius: 25px;float: right;text-align: center;font-size: 16px;font-family: Microsoft YaHei;font-weight: bold;color: #FFFFFF;text-decoration: none;margin-top: 75px; position: absolute; right: 0; bottom: 0;}
.chc-isjoin:hover {color: white;}
.chc-join:hover{background-color: #4089ff;color: white;}
.chc-join img{width: 20px;height: 20px;vertical-align: text-top;}
.ch-phonebrowser,.ch-share{font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #808080;position: absolute;top: 30px;z-index: 10;cursor: pointer;}
.ch-phonebrowser{right: 114px;}
.ch-share{right:34px}
.ch-phonebrowser img,.ch-share img{width: 20px;height: 20px;margin-right: 3px;vertical-align: text-bottom;}
/* 正文-招聘会详情 */
.content-detail{width: 1200px;margin: 0px auto 20px;background-color: white;border-radius: 0px 0px 8px 8px;position: relative;}
.cd-header{overflow: hidden;border-bottom: 1px solid #EDEDED;background-color: white;position: sticky;top: 0;width: 1200px;margin: auto;border-radius: 8px 8px 0px 0px;z-index: 9;}
.cd-header li{width: 138px;height: 60px;line-height: 60px;font-size: 16px;font-family: Microsoft YaHei;font-weight: 400;color: #111421;opacity: 0.6;float: left;text-align: center;position: relative;cursor: pointer;}
.cd-header li:first-child:after{content: '';width: 1px;height: 18px;background: #EDEDED;position: absolute;right: 0px;top: 21px;}
.cd-header .active{font-weight: bold;color: #1975FF;opacity: 1;}
.cd-header .active::before{content: '';width: 67px;height: 3px;background: #2278FF;position: absolute;bottom: 0px;left: 35.5px;}
.cd-text {width: 1120px;;min-height: 500px;padding: 40px 40px 70px;font-size: 14px;}
/* 参会企业 */
.joinCompany{width: 100%;background-color: #EEF6FF;padding-top: 89px;margin-top: -89px;}
.jc-company{width: 1200px;margin: 0px auto;border-radius: 12px;min-height: 800px;}
.jcc-top{background: linear-gradient(0deg, #C9E2FD 0%, #2B91FF 100%);padding-bottom: 10px;border-radius: 12px 12px 0px 0px;}
.jcc-top .title{width: calc(100% - 41px); height: 80px;line-height: 80px;padding: 0px 20px 0px 21px;}
.jcc-top .title span{font-size: 26px;font-weight: bold;color: #FFFFFF;vertical-align: sub;margin-right: 9px;}
.jcc-top .title span em{content: '+参会企业';color: white;font-size: 20px;vertical-align: 3px;font-weight: bold;}
.jcc-top .title .zhaomu{width: 135px;height: 28px;line-height: 28px;background: #FFEDD7;border-radius: 14px;font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #4F3A3A;display: inline-block;text-align: center;}
.jcc-top .title .rukou{font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #FFFFFF;float: right;}
.jcc-top .company{overflow: hidden;padding: 0px 12px;}
.jcc-top .company li{width: 384px;height: 248px;background: #FFFFFF;border-radius: 8px;float: left;}
.jcc-top .company li:nth-child(2){margin: 0px 12px;}
.jcc-top li a{width: calc(100% - 32px);height: calc(100% - 32px);display: inline-block;padding: 16px;}
.jcc-top li a .com-name{width: 100%;height: 60px}
.jcc-top li a .com-name img{width: 60px;height: 60px;object-fit: cover;float: left;margin-right: 11px;border-radius: 6px;}
.jcc-top li a .com-name div{padding-top: 8px;}
.jcc-top li a .com-name div p{font-size: 15px;font-family: Microsoft YaHei;font-weight: 400;color: #333333;}
.jcc-top li a .com-name div p span{font-size: 12px;font-family: Microsoft YaHei;font-weight: 400;color: #999999;}
.jcc-top li a .com-name div p .species{position: relative;margin-right: 10px;}
.jcc-top li a .com-name div p .species::after{content: '';width: 1px;height: 10px;background-color: #E6E6E6;position: absolute;right: -8px;bottom: 2px;}
.jcc-top li a .job-name{width: calc(100% - 28px);height: 44px;line-height: 44px; background: #F7FAFF;border-radius: 4px;margin: 10px 0px;display: flex;justify-content: space-between;padding: 0px 14px;transition: all .2s;}
/* .job-name:hover{box-shadow:1px 8px 40px 0px rgb(0 15 77 / 8%);z-index: 1;position: relative;background-color: #1975FF;} */
.jcc-top li a .job-name .job{font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #333333;}
.jcc-top li a .job-name .salary{font-size: 16px;font-weight: bold;color: #FF5833;font-family: DINMi;}
.jcc-top li a .job-number{width: 100%;height: 44px;line-height: 44px;font-size: 13px;font-family: Microsoft YaHei;font-weight: 400;color: #999999;}
.jcc-top li a .job-number:hover{color: #1975FF;}
.jcc-bottom{overflow: hidden;background: #C7E1FD;border-radius: 0px 0px 12px 12px;padding: 0px 12px;}
.jcc-bottom li{width: 384px;height: 142px;background: #FFFFFF;border-radius: 8px;float: left;margin-bottom: 12px;}
.jcc-bottom li:nth-child(3n-1){margin: 0px 12px;}
.jcc-bottom li a{width: calc(100% - 32px);height: calc(100% - 15px);overflow: hidden;padding: 15px 16px 0px;display: flex;flex-direction: column;justify-content: space-between;}
.jcc-bottom li a .com-name{width: 100%;height: 60px;}
.jcc-bottom li a .com-name img{width: 60px;height: 60px;float: left;margin-right: 11px;border-radius: 8px;}
.jcc-bottom li a .com-name div{padding-top: 8px;}
.jcc-bottom li a .com-name div p{font-size: 15px;font-family: Microsoft YaHei;font-weight: 400;color: #333333;overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;word-break: break-all;}
.jcc-bottom li a .com-name div p span{font-size: 12px;font-family: Microsoft YaHei;font-weight: 400;color: #999999;}
.jcc-bottom li a .com-name div p .species{position: relative;margin-right: 10px;}
.jcc-bottom li a .com-name div p .species::after{content: '';width: 1px;height: 10px;background-color: #E6E6E6;position: absolute;right: -8px;bottom: 2px;}
.jcc-bottom li a .job-name span{font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #999999;}
.jcc-bottom li a .job-name{border-top: 1px solid #EBEEF2;margin-top: 10px;flex-grow: 1;line-height: 57px;overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1}
.jcc-bottom li a .job-name .jobs{color: #333333;}
.jcc-bottom li a .job-name:hover .jobs{color: #1975FF;}
.jcc-bottom li a .job-name .number{font-weight: bold;color: #FF5833;font-size: 16px;}
/* 分页 */
.pagination .inner ul{display: flex;justify-content: center;margin-top: 29px;padding-bottom: 45px;}
.pagination .inner ul li{min-width: 20px;height: 30px;padding: 0 5px; line-height: 30px;text-align: center;background: #FFFFFF;border: 1px solid #EEEEEE;border-radius: 4px; overflow: hidden; font-size: 13px;margin-right: 10px;}
.pagination .inner ul .page_current{cursor: default !important;}
.pagination .inner ul li a{width: 100%;height: 100%;display: block;}
.pagination .inner ul li:hover {color: white;background-color: #37f;cursor: pointer;}
.pagination .inner ul li:hover a {color: #fff;}
.pagination .inner .page_info{display: none;}
.pagination .inner ul li.page_more {background-color: #fff; color: #333; cursor: default;}
.pagination .inner ul li.page_disabled, .pagination .inner ul li.page_current {background-color: #f0f0f0; color: #ccc; cursor: no-drop;}
/* 报名 */
.joinfairs{width: 100%;height: 100%;position: fixed;top: 0px;z-index: 9999;display: none;}
.jf-background{width: 100%;height: 100%;position: fixed;top: 0px;background-color: rgba(0, 0, 0, .5);}
.jfb-plate{width: 700px;height: 480px;background: linear-gradient(to top, #FFFFFF 40%, #EDF4FF 100%);;border-radius: 16px;position: absolute;top: 0%;left: 0%;right: 0;bottom: 0px;margin: auto;animation: topFadeIn .3s;}
.jfb-plate .header{height: 80px;line-height: 80px;padding: 0px 31px;position: relative;}
.jfb-plate .header .title{font-size: 20px;font-family: Microsoft YaHei;font-weight: bold;color: #222222;margin-right: 6px;}
.jfb-plate .header .help,.phone{font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #666666;}
.jfb-plate .header .phone{color: #2278FF;}
.jfb-plate .header img{position: absolute;top: 12px;right: 18px;cursor: pointer;width: 30px;height: 30px;object-fit: cover;}
.jfb-plate .content{width: 570px;margin: auto;}
.jfb-plate .content .plate{width: 558px;height: 60px;background: #FFFFFF;box-shadow: 0px 5px 30px 0px rgba(127,170,255,0.06);border-radius: 10px;padding: 14px 12px;}
.jfb-plate .content .plate .left{float: left;}
.jfb-plate .content .plate .left img{width: 90px;height: 60px;margin-right: 15px;border-radius: 6px;}
.jfb-plate .content .plate .right{height: 100%;display: flex;flex-direction: column;justify-content: space-around;}
.jfb-plate .content .plate .right .title{font-size: 16px;font-family: Microsoft YaHei;font-weight: 400;color: #333333;}
.jfb-plate .content .plate .right .text span{font-size: 14px;font-family: Microsoft YaHei;font-weight: bold;color: #1975FF;}
.jfb-plate .content .plate .right .text .time{font-size: 13px;color: #333333;margin-left: 9px;}
.jfb-plate .content .jobs{width: 570px;margin: auto;display: flex;align-items: center;}
.jfb-plate .content .jobs span{font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #333333;margin-left: 14px;}
.jfb-plate .content .jobs div{width: 451px;height: 54px;line-height: 54px;background: #FFFFFF;border: 1px solid #D9D9D9;border-radius: 6px;outline: none;margin:40px 0px 35px 15px;font-size: 14px;}
.jfb-plate .content .concat{width: 570px;}
.jfb-plate .content .concat span{font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #666666;}
.jfb-plate .content .concat .name,.phone{font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #333333;}
.jfb-plate .content .concat .changedetail{font-size: 13px;font-family: Microsoft YaHei;font-weight: 400;color: #668FCC;}
.jfb-plate .content .submit{width: 240px;height: 48px;background: #3F7EFC;border-radius: 6px;font-size: 16px;font-family: Microsoft YaHei;font-weight: 400;color: #FFFFFF;text-align: center;line-height: 48px;margin: 70px auto 0px;cursor: pointer;}
.jfb-plate .content .submit:hover{background-color: #4089ff;}
.b-success{position: fixed;width: 100%;height: 100%;background-color: rgba(0, 0, 0, .5);display: none;}
.bs-con{width: 440px;height: 220px;background: #FFFFFF;box-shadow: 0px 3px 30px 0px rgba(0,4,26,0.06);border-radius: 16px;position: absolute;top: 0px;left: 0px;right: 0px;bottom: 0px;margin: auto;animation: topFadeIn .3s;text-align: center;box-sizing: border-box;padding-top: 31px;}
.bs-con .close{width: 28px;height: 28px;object-fit: cover;position: absolute;right: 6px;top: 6px;cursor: pointer;}
.bs-con .title{display: flex;justify-content: center;align-items: center;font-size: 18px;font-weight: bold;color: black;margin-bottom: 10px;}
.bs-con .title::before{content: '';width: 26px;height: 26px;object-fit: cover;background: url(../images/confirmW.png) no-repeat center/cover #1975FF;border-radius: 50%;margin-right: 8px;}
.bs-con .text{font-size: 14px;color: #666666;margin-bottom: 28px;line-height: 24px;}
.bs-con .btn{width: 200px;height: 42px;background: #3F7EFC;border-radius: 6px;color: white;font-size: 14px;line-height: 42px;margin: auto;cursor: pointer;}
.bs-con .btn:hover{background-color: #4089ff;}
.b-failed{position: fixed;width: 100%;height: 100%;background-color: rgba(0, 0, 0, .5);display: none;animation: topFadeIn .3s;}
.bf-con{width: 440px;height: 220px;background: #FFFFFF;box-shadow: 0px 3px 30px 0px rgba(0,4,26,0.06);border-radius: 16px;position: absolute;top: 0;left: 0;bottom: 0;right: 0;margin: auto;text-align: center;box-sizing: border-box;padding-top: 40px;}
.bf-con .close{width: 28px;height: 28px;object-fit: cover;position: absolute;right: 6px;top: 6px;cursor: pointer;}
.bf-con .title{display: flex;justify-content: center;align-items: center;font-size: 18px;font-weight: bold;color: black;margin-bottom: 20px;}
.bf-con .title::before{content: '';width: 26px;height: 26px;object-fit: cover;background: url(../images/warning_icon.png) no-repeat center/cover;border-radius: 50%;margin-right: 8px;}
.bf-con .text{font-size: 14px;color: #666666;margin-bottom: 35px;line-height: 24px;}
.bf-con .btn{display: flex;margin: auto;line-height: 42px;font-size: 14px;justify-content: center;}
.bf-con .btn .callback{width: 140px;height: 42px;background: #F2F2F2;border-radius: 6px;color: #666666;margin-right: 20px;cursor: pointer;}
.bf-con .btn .pub,.bf-con .btn .manage{width: 140px;height: 42px;background: #1975FF;border-radius: 6px;color: white;cursor: pointer;}
.bf-con .btn .pub:hover,.bf-con .btn .manage:hover{background-color: #4089ff;}
/* 分享 */
.shareListPop{width: 330px;border-radius: 8px; position: absolute; right: -10px; top: 24px; box-sizing: border-box; z-index: 9; display:none; animation: topFadeIn .3s;padding-top: 10px;cursor: auto;}
.shareBox:hover .shareListPop{display: block;}
.sh-con{background-color:white;padding-top: 18px;padding-bottom: 29px;border-radius: 8px;box-shadow: 0px 7px 20px 0px rgba(0, 6, 18, 0.1);}
.shareListPop::before{content: ''; display: block; height: 10px; position: absolute; left: 0; right: 0; top: -10px;}
.shareListPop h5{font-size: 14px; color: #4D4D4D; padding-left: 26px;}
.shareListPop .shareWayBox{overflow: hidden;}
.shareListPop .shareWayBox>div{width: 50%; float: left; box-sizing: border-box;  margin-top: 20px;}
.shareListPop .shareWayBox .wxQrShare{box-sizing: border-box; border-right: solid 1px #f2f2f2; padding: 3px 0;}
.shareListPop .shareWayBox .wxQr{width: 106px; height: 106px; background: #f5f5f5; margin: auto; background: #f4f4f4;}
.shareListPop .shareWayBox .wxQr img{display: block; width: 100%; height: 100%; object-fit: cover;}
.otherShare{padding-top: 4px;}
.otherShare  li{margin-bottom: 14px;}
.otherShare a {padding-left: 36px; display: block; background: url('/static/images/share_icon.png') no-repeat; font-size: 14px; color: #4D4D4D;}
.otherShare a:hover{color: #212121}
.otherShare .qzone a {background-position: 13px -33px;}
.otherShare .qq a {background-position: 13px -59px;}
.otherShare .sina a {background-position: 13px -85px;}
/* 手机看视频 */ 
.ch-phonebrowser:hover .codeBox{display: block;}
.ch-phonebrowser .codeBox{width: 250px;background: rgba(255,255,255,.98);position: absolute;bottom: -280px;left:-50px;box-sizing: border-box;-webkit-animation: topFadeIn 0.3s;-moz-animation: topFadeIn 0.3s;animation: topFadeIn 0.3s; border-radius: 8px; display: none; box-shadow: 0px 7px 20px 0px rgb(0 6 18 / 10%);}
.ch-phonebrowser .codeBox:after,.shareBox:after{content: ''; display: block; width: 100%; height: 16px; position: absolute; top: -16px; left: 0; right: 0; background: #fff; opacity: 0;}
.ch-phonebrowser .codeBox h5{text-align: center; color: #5C5C5E; font-size: 14px; line-height: 62px;}
.ch-phonebrowser .codeBox h5 i{display: inline-block; width: 40px; height: .5px; background-color: #8D8E91; vertical-align: middle; margin: 0 4px;}
.ch-phonebrowser .codeBox p{text-align: center; color: #5C5C5E; font-size: 12px; line-height: 40px;}
.ch-phonebrowser .codeBox p em{color: #3B9DFF; line-height: 40px; margin-bottom: 4px; display: inline-block;}
.ch-phonebrowser .codeBox h2{line-height: 50px;  padding: 0 24px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #2A6FB5; height: 50px; background-color: #EDF4FF; border-radius: 0 0 8px 8px; text-align: center; }
.ch-phonebrowser .codeBox i.arr1{display: block; width: 0; height: 0; border: solid 6px rgba(0,0,0,0); border-bottom: solid 6px rgba(255,255,255,1); position: absolute; left: 60px; top: -12px;}
.report_btn{position: relative;}
.ch-phonebrowser .codeBox .code{width: 110px;height: 110px;overflow: hidden;background: #fff;box-sizing: border-box; margin: auto;}
.ch-phonebrowser .codeBox .code img{width: 100%;height: 100%;object-fit: cover;}
/* 查看更多 */
.browsing-more-background{width: 100%;height: 100%;background: #000000;opacity: 0.5;position: fixed;z-index: 9999;top: 0px;display: none;}
.browsing-more{width: 720px;height: 472px;background: #FFFFFF;border-radius: 16px;position: fixed;top:0;left: 0;right:0;bottom:0;z-index: 10000;padding: 34px 5px 34px 40px;display: none;margin: auto;animation: topFadeIn .3s;}
.browsing-more .scroll{height: 100%;overflow-y: auto;padding-right: 29px;}
.browsing-more .scroll::-webkit-scrollbar{width: 11px;height: 0;}  
.browsing-more .scroll::-webkit-scrollbar-thumb{background: rgba(153, 153, 153, .2);}
.bm-title{width: 500px;font-size: 20px;font-family: Microsoft YaHei;font-weight: bold;color: #222222;display: flex;justify-content: center;text-align: center;position: relative;margin: auto;}
.bmt-company{white-space: nowrap;position: relative;}
.bmt-company::before{content: "";width: 50px;height: 12px;background: url(../images/top-left.png);position: absolute;top: 10px;left: -59px;}
.bmt-origin{color:#1975FF;position: relative;}
.bmt-origin::after{content: "";width: 50px;height: 12px;background: url(../images/top-right.png);position: absolute;top: 10px;right: -59px;}
.browsing-more.detail .bmt-origin::after{right: -59px;}
.bm-close{text-align:right;margin:0px 8px;text-align: right;cursor: pointer;position:absolute;right: 0px;top: 13px;}
.bm-close img{width: 30px;height: 30px;object-fit: cover;}
.bm-ctitle{width: calc(100% - 22px);height: 38px;line-height: 38px; background: linear-gradient(0deg, #FFFFFF 0%, #EDF4FF 100%);font-size: 14px;font-family: Microsoft YaHei;font-weight: bold;color: #333333;padding-left: 22px;margin-top: 36px;}
.bm-ctext{width: calc(100% - 44px);font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #666666;padding: 0px 22px;margin: 15px 0px 44px 0px;}
.bm-ctext .address{color: #999999;line-height: 28px;}
.bm-ctext .address span{color: #333333;}
/* 底部报名 */
.bottom-background{width: 100%;height: 100px;background: #000000;opacity: 0.4;position: fixed;bottom: 0px;z-index: 99;}
.bottom-signup{width: 460px;height: 50px;position: fixed;bottom: 26px;left:calc(50% - 220px);z-index: 100;display: flex;justify-content: space-between;}
.bottom-signup .apply{width: 220px;height: 50px;background: #16C689;border-radius: 6px;text-align: center;line-height: 50px;font-size: 16px;font-family: Microsoft YaHei;font-weight: bold;color: #FFFFFF;}
.bottom-signup .apply:hover{background-color: #3dd09d;}
.bottom-signup .company{width: 220px;height: 50px;background: #2176FF;border-radius: 6px;text-align: center;line-height: 50px;font-size: 16px;font-family: Microsoft YaHei;font-weight: bold;color: #FFFFFF;}
.bottom-signup .company:hover{background-color: #3b89ff;}
.bottom-signup .apply img,.bottom-signup .company img{vertical-align: -8px;}
/* 企业注册 */
.cregister{position: fixed;top: 0px;left: 0px;background-color: rgba(0, 0, 0, .5);width: 100%;height: 100%;z-index: 10;display: none;}
.cg-con{width: 480px;height: 320px;background: #FFFFFF;box-shadow: 0px 3px 30px 0px rgba(0,4,26,0.06);border-radius: 16px;position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;box-sizing: border-box;padding: 29px 27px 0px;animation: topFadeIn .3s;}
.cgc-close{position: absolute;width: 24px;height: 24px;right: 7px;top: 7px;cursor: pointer;}
.cgc-title{display: flex;align-items: center;color: #212121;font-size: 18px;font-weight: bold;margin-bottom: 6px;}
.cgc-title::before{content: '';background: url(../images/warning_icon.png) no-repeat center/cover;width: 30px;height: 30px;margin-right: 5px;}
.cgc-text{color: #999999;font-size: 14px;margin-bottom: 24px;}
.cgc-btn{width: 200px;height: 42px;background: #FFFFFF;border: 1px solid #B2D1FF;border-radius: 6px;color: #1975FF;font-size: 14px;text-align: center;line-height: 42px;margin: 34px auto 0px;cursor: pointer;}
.cgc-btn:hover{color: white;background-color: #1975FF;border-color: white;}
.cgc-step1,.cgc-step2{display: flex;justify-content: space-between;width: 416px;height: 50px;align-items: center;box-sizing: border-box;background-color: #F7FAFF;padding: 0px 15px;margin: auto;}
.cgc-step1{border-radius: 4px 4px 0px 0px;border-bottom: 1px solid #EBF0F7;}
.cgc-step2{border-radius: 0px 0px 4px 4px;}
.cgc-step1 .name,.cgc-step2 .name{color: #212121;font-size: 15px;display: flex;align-items: center;}
.cgc-step1 .name::before,.cgc-step2 .name::before{content: '';width: 16px;height: 16px;background: url(../images/circle_close_blue.png) no-repeat center/cover;margin-right: 5px;margin-top: 1px;}
.cgc-step1 .step,.cgc-step2 .step{color: #1975FF;font-size: 14px;}
.cgc-step2 .step{opacity: .3;user-select: none;}
/* 保存至本地的弹窗 */
.popwarn{width: 100%;height: 100%;background-color: rgba(0,0,0,.13);z-index: 10;position: fixed;top: 0;left: 0;display: none;}
.pw-con{width: 390px;height: 180px;background: #FFFFFF;border-radius: 16px;box-sizing: border-box;position: absolute;top: 0;left: 0;bottom:0;right:0;margin:auto;padding: 34px 0px 26px;text-align: center;animation: topFadeIn .3s;}
.pw-con img{width: 24px;height: 24px;position: absolute;top: 11px;right: 11px;object-fit: cover;cursor: pointer;}
.popwarn p{font-size: 16px;font-weight: bold;color: black;margin-bottom: 9px;}
.popwarn span{color: #3377FF;font-size: 13px;font-weight: 400;}
.popwarn .btn{display: flex;justify-content: center;align-items: center;margin-top: 30px;text-align: center;line-height: 40px;}
.popwarn .confirm{width: 140px;height: 40px;background: #F2F2F2;border-radius: 6px;font-size: 14px;color: #666666;margin-right: 10px;cursor: pointer;}
.popwarn .confirm:hover{background-color: #e5e5e5;}
.popwarn .purchase{width: 140px;height: 40px;background: #3377FF;border-radius: 6px;background-color: #3377FF;font-size: 14px;color: white;font-weight: 400px;cursor: pointer;}
.popwarn .purchase:hover{background-color: #4089ff;}
@keyframes bottomFadeOut{
	0%{opacity:1;	transform:translateY(0px);}
	100%{opacity:0; transform:translateY(-20px);}
}
@font-face {
	font-family: DINMi;
	src: url('../../../../static/fonts/DINMittelschriftStd.eot'),
        url('../../../../static/fonts/DINMittelschriftStd.otf'),
        url('../../../../static/fonts/DINMittelschriftStd.ttf'),
        url('../../../../static/fonts/DINMittelschriftStd.woff'),
        url('../../../../static/fonts/DINMittelschriftStd.woff2') /* IE9 */
}