#printPage{background-color: white;}
.printBox{width: 100%; page-break-inside: avoid;font-family: "Microsoft Yahei","微软雅黑","Microsoft Yahei UI","\5FAE\8F6F\96C5\9ED1";}
.personInfoBox{ -webkit-print-color-adjust:exact;
    -moz-print-color-adjust:exact;
    -ms-print-color-adjust:exact;
    print-color-adjust:exact;}
.personInfoBox .personInfoCon{position: relative;height: 210px;}
.personInfoBox .personInfoCon .photo{ width: 140px; height: 140px; box-sizing: border-box; padding: 5px;background-color: #E7EFFF; border-radius: 50%; -webkit-print-color-adjust:exact;
    -moz-print-color-adjust:exact;
    -ms-print-color-adjust:exact;
    print-color-adjust:exact;}
    .personInfoBox .personInfoCon .photo img{width: 130px; height: 130px; border-radius: 50%; object-fit: cover;}
.personInfoBox .personInfoCon .info{margin-left: 166px;}
.personInfoBox .personInfoCon .info h4{font-size: 32px; color: #000;font-weight: bold;}
.personInfoBox .personInfoCon .info p.userInfo{color: black; font-size: 15px; margin-top: 8px;font-weight: bold;white-space: nowrap;}
.personInfoBox .personInfoCon .info p.userInfo em{color: #999; font-size: 10px; vertical-align: middle; margin: 0 8px;font-weight: 0;}
.personInfoBox .personInfoCon .info p.userInfo span{vertical-align: middle;}

.personInfoBox .personInfoCon .info p.userContact{color: #000; font-size: 16px; margin-top: 24px;}
.personInfoBox .personInfoCon .info p.userContact span{margin-right: 36px;display: block;margin-bottom: 5px;}
.personInfoBox .personInfoCon .info p.userContact span s{display: inline-block; vertical-align: middle; margin-bottom: 2px; margin-right: 4px;}
.personInfoBox .personInfoCon .info p.userContact .phone{font-size: 20px;font-weight: bold;}



.personInfoBox .personInfoCon .info .userContact span img{width: 20px; height: 20px;vertical-align: -4px;margin-right: 4px;}
.personInfoBox .personInfoCon .post_in{color:#333; font-size: 16px; font-weight: bold;}


.resumeDetailContainer{background-color: #fff; padding-top: 30px; padding-bottom: 64px; -webkit-print-color-adjust:exact;
    -moz-print-color-adjust:exact;
    -ms-print-color-adjust:exact;
    print-color-adjust:exact;}
.resumeDetailBox .advantage,.advantage{font-size: 14px; color: #666;}
.advantage{height: 120px;position: relative;background-color: #EDEFF2 !important;}
.resumeDetailBox .advantage b,.advantage b{color: #000;}
.resumeDetailBox p.labs,.advantage p.labs{margin-top: 12px;}

.resumeDetailBox p.labs span,.advantage p.labs span{background-color: #94AFDA !important;display: inline-block;border-radius: 17px;margin-right: 8px;padding: 1.5px;}
.resumeDetailBox p.labs em,.advantage p.labs em{display: inline-block; height: 28px; background: #FFFFFF;  border-radius: 14px; padding: 0 16px; color: #0041c4; font-size: 16px; line-height: 26px; box-sizing: border-box;  -webkit-print-color-adjust:exact;
    -moz-print-color-adjust:exact;
    -ms-print-color-adjust:exact;
    print-color-adjust:exact;}
.resumeDetail dl{margin-top: 30px;}
.resumeDetail dl dt{font-size: 24px; color: #111421; font-weight: bold; position: relative;}
.resumeDetail dl dd{padding-bottom: 20px;}
.resumeDetail dl dt span{padding-right: 20px; z-index: 1; position: relative; display: inline-block; background-color: #fff;}
.resumeDetail dl dt s{display: block; position: absolute; right: 0; top: 6px; bottom: 0; margin: auto; height: 1px; background-color: #eee; left: 0;}
.resumeDetail dl.intention dd{padding-top: 8px;}
.resumeDetail dl.intention .left_info{font-size: 16px; min-width: 240px; box-sizing: border-box; padding-left: 24px; line-height: 36px;color: black !important;} 
.resumeDetail dl.intention .left_info span{color: black !important;}

.resumeDetail dl dd.timeline_dd{padding-top: 32px; padding-left: 24px;}
.el-timeline .el-timeline-item__tail{border:none;border-left: dashed 1px #B8CFE6; width: 0;}
.el-timeline .el-timeline-item__node { width: 7px; height: 7px; background: #FFFFFF; border: 2px solid #2278FF; border-radius: 50%; box-sizing: border-box; left: 1px; }
.resumeDetail dl dd.timeline_dd h4{font-size: 17px; color: black; font-weight: bold; transform: translateY(-4px);}
.resumeDetail dl dd.timeline_dd p{color: black; font-size: 16px; margin-top: 10px;}
.resumeDetail dl dd.timeline_dd span{vertical-align: middle;}
.resumeDetail dl dd.timeline_dd em{vertical-align: middle; color: #ccc ; font-size: 12px; margin: 0 14px;}
.el-timeline-item{padding-bottom: 38px;}
.el-timeline .el-timeline-item:last-child {padding-bottom: 6px;}
.el-timeline .el-timeline-item:last-child .el-timeline-item__tail{display: block;}
.resumeDetail dl dd.timeline_dd .workCon{color: black; font-size: 16px; margin-top: 22px;}
.resumeDetail dl dd.timeline_dd .workCon h5{margin-bottom: 6px;}
.resumeDetail dl dd.timeline_dd .workCon .work_content{line-height: 30px;}
.resumeDetail dl.work_jl dd.timeline_dd p{margin-top: 4px;}
.resumeDetail dl.work_jl{margin-top: 20px;}
.resumeDetail dl .ul_text {padding-left: 18px;}
.resumeDetail dl .ul_text li{margin-top: 16px;font-size: 16px;color: black;}
.resumeDetail dl .ul_text label{display: inline-block; font-size: 17px; font-weight: bold; margin-right: 16px;}
.resumeDetail dl .ul_text p{display: inline-block; color: black; font-size: 16px;vertical-align: 2px;}
.resumeDetail dl .ul_text p em{font-size: 10px; color: #ccc; vertical-align: middle; margin: 0 12px;}
.resumeDetail dl .ul_text p span{vertical-align: middle;}


.bottomInfoCon{background-color: #EDEFF2; height: 80px; -webkit-print-color-adjust:exact; -moz-print-color-adjust:exact; -ms-print-color-adjust:exact; print-color-adjust:exact; page-break-inside: avoid;}
.bottomInfoCon .masterInfo {padding-top: 20px;}
.bottomInfoCon .masterInfo .logo{width: 140px; height: 40px; float: left; margin-right: 16px;}
.bottomInfoCon .masterInfo .logo img{display: block; width: 100%; height: 100%; object-fit: cover;}
.bottomInfoCon .masterInfo p{font-size: 16px; color: #212121; line-height: 40px; float: left;}
.bottomInfoCon .masterInfo em{font-size: 11px; color: #ccc; margin-right: 14px;}
.bottomInfoCon .resumeInfo span{font-size: 15px; color: #212121; margin-right: 30px; line-height: 80px;}
.bottomInfoCon .resumeInfo span b,.bottomInfoCon .resumeInfo span em{color: #333;}


/* #printPage{display: none;} */
@media print{
    body{
        page-break-inside: avoid;
        -webkit-print-color-adjust:exact;
        -moz-print-color-adjust:exact;
        -ms-print-color-adjust:exact;
        print-color-adjust:exact;
    }
    #printPage{display: block;}
    .w1200 .wrap{width: 1000px;}
    .noPrint,.im-panel_box,.im-msg_tip,.im-tip_p,.im-big_img,.im-notes_panel,.im-photo,.im-video_box{display: none !important; visibility: hidden; opacity: 0;}
    @page {
        size: A4 portrait;
    }
} 


/* 预览 */
.resumeWrapBox {background-color: #F7F9FC;}
.resumeWrapBox p.resumeTip span{color: #999; font-size: 12px; line-height: 56px;}
.resumeInfoContainer{width: 866px; box-sizing: border-box; }
.resumeWrapBox .personInfoBox {background-color: #fff; padding: 30px; padding-bottom: 24px; max-height: 320px; box-sizing: border-box; border-radius: 8px; margin-bottom: 12px;}
.resumeWrapBox .personInfoBox .personInfoCon{padding: 0; height: auto; border-bottom: solid 1px #eee; padding-bottom: 28px; margin-bottom: 20px;}
.resumeWrapBox .personInfoBox .personInfoCon .photo{width: 100px; height: 100px; background: rgba(255,255,255,0); border: 1px solid #EEEEEE; border-radius: 50px; padding: 0; position: relative;}
.resumeWrapBox .personInfoBox .personInfoCon .photo .onLine{display: inline-block; line-height: 20px; border-radius: 10px; background-color: #18D5F2; color: #fff; padding:  0 8px;}
.resumeWrapBox .personInfoBox .personInfoCon .photo .onlineBox{position:absolute; left: 0; right: 0; text-align: center; bottom: -6px;}
.resumeWrapBox .personInfoBox .personInfoCon .photo img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 50%;} 
.resumeWrapBox .personInfoBox .personInfoCon .info { margin-left: 130px; }
.resumeWrapBox .personInfoBox .personInfoCon .info h4{color: #111421; font-weight: bold; font-size: 24px;}
.resumeWrapBox .personInfoBox .personInfoCon .info .userInfo{margin-top: 0;}
.resumeWrapBox .personInfoBox .personInfoCon .info .userContact{font-size: 14px; margin-top: 16px;}
.resumeWrapBox .personInfoBox .personInfoCon .info .userContact span s{width: 20px; height: 20px; background: url(../images/phone_icon.png) no-repeat center/cover;}
.resumeWrapBox .personInfoBox .personInfoCon .info .userContact .email s{background-image: url(../images/email_icon.png);}
.resumeWrapBox .personInfoBox .personInfoCon .info .userContact .wechat s{background-image: url(../images/wechat_icon.png);}
.resumeWrapBox .personInfoBox .resumeCheck{margin-top: 16px;}


.resumeInfoContainer .resumeDetailContainer{padding: 30px; margin-bottom: 52px ; border-radius: 8px;}
.resumeInfoContainer .resumeDetailContainer .intention{margin-top: 0;}


/* 右侧 */
.rightInfo{width: 318px;}
.interactBox{max-height: 914px; background-color: #fff; border-radius: 8px; padding:20px 22px 20px 24px;}
.interactBox .postInfo>h4{font-size: 18px; font-weight: bold; color: #333;}
.interactBox .steps{padding-bottom: 30px; padding-top: 20px; border-bottom: solid 1px #eee;}
.interactBox .steps li{width: 33.3%; text-align: center; font-size: 14px; color: rgba(51, 51, 51, 0.6); position: relative;}
.interactBox .steps li s.dot{display: block; width: 10px; height: 10px; background:#B8CFE6; border: 2px solid #fff; border-radius: 50%; margin: auto; box-sizing: border-box; margin-bottom: 12px; position: relative; z-index: 1;}
.interactBox .steps li s.line{display: block;width: 50%; height: 0; border-top:dashed 2px #B8CFE6 ; position: absolute; top: 4px; left: 0; ;}
.interactBox .steps li s.line_right{left: auto; right: 0;}
.interactBox .steps li.on s.line_left{border-top: solid 2px #2278FF; opacity: 1;}
.interactBox .steps li.on s.line_right{border-top: solid 2px #2278FF; opacity: 1;}
.interactBox .steps li.on s.line_left ~ s.line_right{border-top:dashed 2px #B8CFE6;}
.interactBox .steps li.on s.dot{background: #2278FF;}
.interactBox .steps li.on { color: #333 }

.interactBox .btnGroupsBox{padding-top: 28px; border-bottom: solid 1px #eee;}
.interactBox .btnGroupsBox .invite_btn{width: 100%; height: 46px; background-color: #3F7EFC; color: #fff;}
.interactBox .btnGroupsBox .invite_btn s{display: inline-block; width: 24px; height: 24px; background: url(../images/invite_icon.png) no-repeat center/cover; vertical-align: middle; margin-right: 5px;}
.interactBox .btnGroupsBox .btn_groups .el-button{width: 82px; height: 40px; margin: 0; padding: 0; text-align: center;}
.interactBox .btnGroupsBox .btn_groups{margin-top: 16px; display: flex; align-items: center; justify-content: space-between; margin-bottom: 20px;}
.optBox{padding-top: 25px; padding-bottom: 32px; }
.optBox ul li{width: 25%; float: left; cursor: pointer;}
.optBox ul li p{font-size: 12px; color: #666; text-align: center;}
.optBox ul li s{display: block; width: 24px; height: 24px; margin: auto; margin-bottom: 8px; background: url(../images/share_btn.png) no-repeat center/cover;}
.optBox ul li.collect_btn s{background-image: url(../images/collect_btn.png);}
.optBox ul li.save_btn s{background-image: url(../images/save_btn.png);}
.optBox ul li.print_btn s{background-image: url(../images/print_btn.png);}

/* 人才标记 */
.interactBox .markBox{padding: 30px 0; border-bottom: solid 1px #eee;}
.interactBox .markBox h3,.interactBox .recordBox h3{font-size: 18px; color: #333; font-weight: bold; position: relative;}
.interactBox .markBox a{display: block; font-size: 14px; color: #575A66; position: absolute; font-weight: normal; right: 0; top: 0; line-height: 26px;}  
.interactBox .markBox a s{display: inline-block; width: 20px; height: 20px; background: url(../images/mark_icon.png) no-repeat center/cover; vertical-align: middle;}
.interactBox .markBox p{color: #828799; font-size: 14px; margin-top: 16px; letter-spacing: 0;}

.interactBox .recordBox{padding-top: 30px; padding-bottom: 50px;}
.interactBox .recordBox .el-timeline{margin-top: 36px;}
.interactBox .recordBox h4{font-size: 15px; color: #333; font-weight: bold; transform: translateY(-6px); margin-bottom: -6px;}
.interactBox .recordBox p{font-size: 14px; color: #828799; margin-top: 6px;} 
.interactBox .recordBox p.datetime{font-size: 12px;}
.interactBox .recordBox .el-timeline-item:last-child{padding-bottom: 0;}

.jubaoBox{background-color: #fff; border-radius: 8px; padding: 20px 14px; color: #666; font-size: 12px; margin-top: 12px;}
.jubaoBox a{color: #F15C38;text-decoration: underline;}
.jubaoBox s{display: inline-block; width: 20px; height: 20px; background: url(../images/jubao_icon.png) no-repeat center/cover; vertical-align: middle;}



/* 简历用户自己查看 */
.userSelf .fn-right.rightInfo{display: none;}
.userSelf .resumeInfoContainer{width: 100%;}
.userSelf .personInfoBox{position: relative;}
.userSelf .optBox{position: absolute; right: 0; top: 0; width: 200px; }
.userSelf .optBox li{width: 33.3%; }