.searchBox .tips{color: #919399; font-size: 12px; height: 40px; background: #F5FAFF; border-radius: 6px; overflow: hidden; line-height: 40px; padding-left: 14px; padding-right: 30px;}
.searchBox .tips span{color: #3377FF;}
.searchBox .tips h5{float: left;}
.searchBox .tips h5 em{display: inline-block; width: 16px; height: 16px; background: url(../images/tip_icon.png) no-repeat center/cover; margin-right: 6px; vertical-align: middle;}
.searchBox .tips p{float: left; margin-left: 14px;}
.table_head{height: 60px; line-height: 60px; background: #F7F9FC; border-radius: 10px; margin: 0 20px; font-size: 13px; color: #8D93A6;}
.table_head .fairDetail_head{max-width: 70%; box-sizing: border-box; padding-left: 35px; float: left;}
.fn-right{float: right;}
.table_head .fairType_head,.table_head .fairOpt_head{width: 200px; text-align: center; float: left;}
.fairlistBox {margin: 0 20px; min-height: 200px;}
.fairlistBox li{margin-bottom: 20px; border: solid 1px #eee; border-radius: 8px; margin-top: 20px;  padding: 18px 0; box-sizing: border-box;}
.fairlistBox .fairDetail{max-width: 70%;  box-sizing: border-box; padding-left: 20px;}
.fairlistBox .fairType,.fairlistBox .fairOpt{width: 200px; text-align: center; float: left;}
.fairlistBox .fairDetail .pic{width: 195px; height: 130px; background: #f5f5f5; border-radius: 6px; float: left; margin-right: 15px; position: relative;}
.fairlistBox .fairDetail .info{height: 130px; overflow: hidden;}
.fairlistBox .fairDetail .info h2{font-size: 18px; color: #333; font-weight: bold; line-height: 24px; margin-bottom: 12px; margin-top: 6px; max-width: 360px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.fairlistBox .fairDetail .info p {font-size: 14px; color: #666; line-height: 28px;}
.fairlistBox .fairDetail .info p.actime{color: #737680; font-size: 14px; font-weight: bold; margin-bottom: 6px;}
.fairlistBox .fairDetail .info p.actime.acIng span{color: #16C689;}
.fairlistBox .fairDetail .info p.actime.acEnd span{color: #999;}
.fairlistBox .fairDetail .info p.actime span{color: #1975FF;}
.fairlistBox .fairDetail .info p label{color: #999;}
.fairlistBox .fairDetail .fairDetailBox{overflow: hidden; position: relative;}
.fairlistBox .fairDetail .fairDetailBox .lab{color: #fff; font-size: 12px; background-color: #18D5F2; display: block; position: absolute; left: -20px; top: 8px; line-height: 20px; padding: 0 30px; transform: rotate(-45deg);transform-origin: bottom ;  z-index: 1;}
.fairlistBox .fairType h2{font-size: 20px; color: #212121; font-weight: bold; text-align: center;}
.fairlistBox .fairType span{color: #5283CC; font-size: 13px; }
.fairlistBox .fairType p{color: #8D93A6; font-size: 13px; text-align: center; margin-top: 10px;}
.fairlistBox .fairType,.fairlistBox .fairOpt{display: flex; align-items: center; justify-content: center; flex-direction: column; height: 130px;}
.fairlistBox .fairOpt{flex-direction: row;}
.jobfairContainer .tableBottom{margin: 0 30px; padding-top: 20px;}
.jobfairContainer .tableBottom .lOptBox{float: left;}
.jobfairContainer .tableBottom .lOptBox a{color: #1975FF; font-size: 14px;}
.jobfairContainer .tableBottom .pageBox{float: right; margin-top: 30px;}
.jobfairContainer .tableBottom .pageBox .el-pagination{font-weight: normal;}
.jobfairContainer .tableBottom .pageBox .el-pagination .el-pager li{background: none; border: solid 1px #DCDAD9; min-width: 26px; color: #666;}
.jobfairContainer .tableBottom .pageBox .el-pagination .el-pager li:not(.disabled).active{border: none; background-color: #347CFF; color: #fff;}
.jobfairContainer .tableBottom .pageBox .el-pagination  .btn-prev:not(.disabled),.jobfairList .tableBottom .pageBox .el-pagination  .btn-next:not(.disabled){padding: 0 12px; border: solid 1px #DCDAD9; background:none; color: #666;}

.jobfairList .noData,.myJoinRecordList .noData{padding-top: 30px; height: 334px; box-sizing: border-box;}
.jobfairList .icon_nodata,.myJoinRecordList .icon_nodata{width: 148px; height: 110px; margin: auto;}
.jobfairList .icon_nodata img,.myJoinRecordList .icon_nodata img{display: block; width: 100%; height: 100%; object-fit: cover;}
.jobfairList .noData h3,.myJoinRecordList .noData h3{font-size: 14px ;color: #333; font-weight: bold; text-align: center;}
.jobfairList .noData p,.myJoinRecordList .noData p{color: #9CA0AD; font-size: 13px; margin-top: 10px; text-align: center;}
.jobfairList .table_head .goLink{color: #B3B3B3; font-size: 14px;}
.jobfairList .table_head .areaChose {line-height: 60px; max-width: 80%;}
.jobfairList .table_head .areaChose label{color: #333; font-size: 14px; font-weight: bold; display: inline-block;}
.jobfairList .table_head .areaChose ul{display: inline-block; overflow: hidden; height: 62px; vertical-align: middle; max-width: 80%;}
.jobfairList .table_head .areaChose ul li{display: inline-block; font-size: 13px; color: #666; margin-right: 24px; cursor: pointer;}
.jobfairList .table_head .areaChose ul li.on_chose{color: #2278FF; font-weight: bold;}
.jobfairList .table_head.padd{padding: 0 24px;}
.fairlistBox.recfairList li{position: relative;}
.fairlistBox.recfairList .fairDetail {max-width: 100%;}
.fairlistBox.recfairList .toDetail{position: absolute; right: 30px; top: 0; bottom: 0; margin: auto; width: 128px; height: 44px; box-sizing: border-box; border-radius: 22px; padding: 0; line-height: 44px;}

.fairlistBox .fairDetail .pic .endLab{width: 80px; height: 38px; box-sizing: border-box; border: solid 1px #fff; font-size: 20px; color: #fff; text-align: center; padding: 1px;left: 0; top: 0; bottom: 0; right: 0; margin: auto; position: absolute; transform: rotate(-24deg); transform-origin: center;}
.fairlistBox .fairDetail .pic .endLab span{display: block; height: 34px; border: dashed .9px #fff; text-align: center; line-height: 32px; box-sizing: border-box; }




/* 报名记录 */
.myJoinRecordList .fairDetail_head{max-width: 44%; }
.myJoinRecordList .table_head .fn-right>div{width: 250px;  float: left; text-align: center;}
.myJoinRecordList .table_head .fn-right>div.fairDate_head{width: 300px; }
.myJoinRecordList .recordBox{margin: 0 20px;}
.myJoinRecordList .recordBox .fairDetail{max-width: 44%; box-sizing: border-box; padding-left: 10px;}
.myJoinRecordList .recordBox .rightBox>div.fairDate{width: 300px; color: #666;}
.myJoinRecordList .recordBox .rightBox>div.fairState p.ing{color: #16C689;}
.myJoinRecordList .recordBox .rightBox>div.fairState p{color: #1975FF;}
.myJoinRecordList .recordBox li.offDate .rightBox>div{color: #999 !important;}
.myJoinRecordList .recordBox li.offDate .rightBox>div p{color: #999;}
.myJoinRecordList .recordBox .rightBox>div{float: left; width: 250px; text-align: center; font-size: 14px; display: flex; align-items: center; justify-content: center; flex-direction: column; height: 68px; color: #666;}
.myJoinRecordList .recordBox li{padding: 20px 0; border-bottom: solid 1px #F5F5F7;}
.myJoinRecordList .recordBox .fairDetail .pic{width: 100px ; height: 68px; border-radius: 4px; background-color: #f7f7f7; float: left; margin-right: 16px;}
.fairDetail .pic img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 4px;}
.myJoinRecordList .recordBox .fairDetail .info {height: 68px; box-sizing: border-box; padding-top: 4px; overflow: hidden;}
.myJoinRecordList .recordBox .fairDetail .info h2{font-size: 16px; color: #333; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.myJoinRecordList .recordBox .fairDetail .info p{font-size: 12px; color: #666; margin-top: 14px;}

.myJoinRecordList .recordBox{min-height: 500px;}


.sh-con{background-color:white;padding-top: 8px;padding-bottom: 12px;border-radius: 8px; width: 300px;}
.shareListPop::before{content: ''; display: block; height: 10px; position: absolute; left: 0; right: 0; top: -10px;}
.sh-con h5{font-size: 14px; color: #4D4D4D; padding-left: 26px;}
.shareWayBox{overflow: hidden;}
.shareWayBox>div{width: 50%; float: left; box-sizing: border-box;  margin-top: 20px;}
.shareWayBox .wxQrShare{box-sizing: border-box; border-right: solid 1px #f2f2f2; padding: 3px 0;}
.shareWayBox .wxQr{width: 106px; height: 106px; background: #f5f5f5; margin: auto; background: #f4f4f4;}
.shareWayBox .wxQr img{display: block; width: 100%; height: 100%; object-fit: cover;}
.otherShare{padding-top: 4px;}
.otherShare  li{margin-bottom: 14px;}
.otherShare a {padding-left: 36px; display: block; background: url('/static/images/share_icon.png') no-repeat; font-size: 14px; color: #4D4D4D;}
.otherShare a:hover{color: #212121}
.otherShare .qzone a {background-position: 13px -33px;}
.otherShare .qq a {background-position: 13px -59px;}
.otherShare .sina a {background-position: 13px -85px;}
.share_btn{margin-left: 10px;}