.rConBox{padding-bottom: 30px; min-width: 1200px;display: flex;flex-direction: column;}
.rConBox .tabBox{padding:0 26px; position: relative; overflow: hidden; display: flex; align-items: center; justify-content: space-between; height: 85px;}
.rConBox .tabBox .tabCOn{margin-top: 12px;}
.rConBox .tabBox .tabCOn s{bottom: 20px;}
.rConBox .tabBox ul{float: left; height: 34px; overflow: hidden; }
.rConBox .tabBox li.curr{font-weight: bold; color: #333;}
.rConBox .tabBox li{float: left; font-size: 15px; color: #333; padding: 0 26px; padding-top: 0; padding-bottom: 12px; cursor: pointer;}
.rConBox .tabBox s{display: block;width: 30px; height: 5px; background: #2278FF; border-radius: 3px; position: absolute; left: 0; bottom: 25px; transform: translateX(66px); transition: transform .3s;}

.searchBox {float: right; display: flex; align-items: center;}
.searchBox>.el-input{width: 268px ; height: 40px; margin-right: 6px;}
.searchBox .add_post_btn{width: 120px; background-color: #2278FF;}
.searchBox .add_post_btn:hover{background: #165bc4;}
.searchBox .refresh_post_btn{ background-color: #EDF3FF; color: #1975FF; border-color: #EDF3FF;}
.searchBox .add_post_btn::before,.searchBox .refresh_post_btn::before{font-weight: bold; margin-right: 5px;}

.tableBox{margin: 0 20px;display: flex;flex-direction: column;flex: 1;}
.tableBox .el-table .has-gutter{background-color: #F7F9FC !important; color: #8D93A6; font-size: 13px;}
.tableBox .el-table  .has-gutter td,.tableBox .el-table   .has-gutter th.is-leaf{border: none;}
.el-table th.is-leaf .el-checkbox{display: none;}
.tableBox .el-table th,.tableBox .el-table tr{background: none;}
.tableBox .el-table tr{height: 70px;}
/* .tableBox .el-table th:nth-last-child(2),.tableBox .el-table th:nth-last-child(3){text-align: center;} */
.tableBox .el-table th:nth-of-type(2){text-align: left; box-sizing: border-box; padding-left: 4px;}
.tableBox .el-table__row td .postName{color: #2278FF; font-weight: bold; max-width: 300px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; cursor: pointer;font-size: 15px;}
.tableBox .el-table__row td .postName b{color: #333; font-family: DINMittelschriftStd;}
/* .tableBox .el-table__row td:last-of-type,.tableBox .el-table__row td:nth-last-child(2){text-align: center;} */
.tableBox .el-button{font-size: 14px;}
.tableBox .el-button.remarright{margin-right: 18px;}
.tableBox .el-button.el-button--text{color: #1975FF;}
.tableBox .confirmTip2{margin-left: 0;}
.tableBox .el-button.grey.el-button--text{color: #9CA0AD;}
.tableBox .el-button.grey.el-button--text:hover{color: #5c5e66;}

.tableBox .recOptBtns{display: inline-flex; align-items: center; justify-content: flex-start;}
.tableBox .recOptBtns p{font-size: 12px; color: #666; text-align: centere;}
/* .tableBox .recOptBtns .swicth{text-align: left; width: 100px;} */
.tableBox .recOptBtns .swicth_box{width: 80px; }
.tableBox .recOptBtns .swicth{text-align: center; display: inline-block; cursor: pointer;}
.tableBox .recOptBtns .swicth.on p{color: #1975FF;}
.tableBox .recOptBtns .swicth span{display: block; font-size: 12px; margin-top: 4px;}
.tableBox .recOptBtns .swicth .small_switch{width: 22px; height: 14px; background: #FFFFFF; border: 1px solid #BFBFBF; border-radius: 7px; box-sizing: border-box; padding: 2px; cursor: pointer; box-sizing: border-box; margin: auto;}
.tableBox .recOptBtns .swicth.on .small_switch{ background: linear-gradient(90deg, #67C4FF 0%, #50B5FF 100%); border: 1px #fff solid;border: none;padding: 3px;}
.tableBox .recOptBtns .toTop_btn.swicth.on .small_switch{ background: linear-gradient(90deg, #FF5039 0%, #FF7D95 100%); border-color: none;}
.tableBox .recOptBtns .swicth .small_switch .switch_dot{width: 8px; height: 8px; background: #BFBFBF; border-radius: 4px; display: block; transition: transform .2s;}
.tableBox .recOptBtns .swicth.on .small_switch .switch_dot{transform: translateX(8px); background-color: #fff;}

.tableBox .tableBottom{padding-top: 28px;}
/* .tableBox .tableBottom .lOptBox{float: left;} */
.tableBox .tableBottom .lOptBox .el-checkbox{margin-right: 14px;}
.tableBox .tableBottom .lOptBox .el-button{height: 28px; line-height: 26px; padding:  0 16px; background: none;}
.tableBox .tableBottom .lOptBox .el-button:focus{border-color: #DCDFE6;}
.tableBox .tableBottom .lOptBox .el-button.releasebtn{color: #737680;}
.tableBox .tableBottom .lOptBox .el-button.disables_btn{background: #EDEDED; border: 1px solid #E8E8E8; color: rgba(83, 83, 83, .5); cursor:no-drop;}
.tableBox .tableBottom .lOptBox .el-button.disables_btn:hover{border-color: #e8e8e8;}
.tableBox .tableBottom .lOptBox .el-button.releasebtn:hover{ border-color: #B3B3B3;}
.tableBox .tableBottom .pageBox{float: right; margin-top: 30px;}
.tableBox .tableBottom .pageBox .el-pagination{font-weight: normal;}
.tableBox .tableBottom .pageBox .el-pagination .el-pager li{background: none; border: solid 1px #DCDAD9; min-width: 26px; color: #666;}
.tableBox .tableBottom .pageBox .el-pagination .el-pager li:not(.disabled).active{border: none; background-color: #347CFF; color: #fff;}
.tableBox .tableBottom .pageBox .el-pagination  .btn-prev:not(.disabled),.tableBox .tableBottom .pageBox .el-pagination  .btn-next:not(.disabled){padding: 0 12px; border: solid 1px #DCDAD9; background:none; color: #666;}
.el-popconfirm .el-popconfirm__main{margin: 12px 0 !important;}
.el-pagination.is-background .btn-next.disabled, .el-pagination.is-background .btn-next:disabled, .el-pagination.is-background .btn-prev.disabled, .el-pagination.is-background .btn-prev:disabled, .el-pagination.is-background .el-pager li.disable{color: #C0C4CC !important;}
.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li{height: 30px; line-height: 28px;}
.el-table--enable-row-hover .el-table__body tr:hover {
    /* background-color: #F7F9FC; */
    background: linear-gradient(90deg, rgba(247,249,252,0) 0%,rgba(247,249,252,1) 6%,rgba(247,249,252,1) 94%,rgba(247,249,252,0) 100%) !important;
}
.el-table--enable-row-hover .el-table__body tr:hover>td{background: none;}
/* 温馨提示 */
.confirmTipBox{background-color: #fff; border-radius: 10px; padding: 30px 30px 40px; margin: 20px;}
.confirmTipBox .title{font-size: 15px; color: #333; font-weight: bold; margin-bottom: 20px;}
.confirmTipBox .tipCon{font-size: 14px; color: #888; line-height: 30px;}
.confirmTipBox .tipCon span{color: #FF6C06; margin: 0 2px;}


/* 简历管理 */
.tabsBox.bold{height: 54px; font-size: 15px; color: #6C7180; font-weight: bold; padding-left: 20px; line-height: 54px; border-bottom: solid 1px #eee;} 
.tabsBox.bold span{cursor: pointer;  margin-right: 55px;}
.tabsBox.bold span.onTab{font-size: 18px; color: #333;}
.shaiBox .el-input{width: 228px;}
.shaiBox .el-select .el-input{width: 188px;}
.shaiBox .el-checkbox{margin-right: 30px;}
.shaiBox .el-checkbox.rightPosi{position: absolute; right: 26px; top: 50%; transform: translateY(-50%); margin: auto;}
.shaiBox .el-checkbox.rightPosition{position: absolute;right: 140px; top: 50%; transform: translateY(-50%); margin: auto;}
.shaiBox .el-checkbox__inner{border-radius: 4px;}
/* .shaiBox .el-checkbox__inner{width: 16px; height: 16px;  line-height: 16px; } */
/* .shaiBox .el-checkbox__inner::after{top: 1px; left: 5px; border-width: 2px;} */
/* .shaiBox .is-checked .el-checkbox__inner{border: none; background: none;}
.shaiBox .is-checked .el-checkbox__inner::after{content: ''; display: block; transform: none !important; background: url(../images/gou.png) no-repeat center/cover; width: 16px; height: 16px; position: static; } */
/* .el-checkbox__input.is-checked .el-checkbox__inner{border-radius: 4px;} */
.shaiBox  .el-checkbox__input.is-checked+.el-checkbox__label{color: #6C7080; font-size: 14px;}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{background-color: #3166FF;}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{border-color: #3166FF;}


/* 表格相关样式 */
.tableBox .optBtns .el-button{margin:0 10px; color: #1975FF;}

.tableBox .optBtns .el-button:last-child{margin-right: 0px;}
.tableBox .el-button.download{height: 34px; background-color: #3377FF; padding-top: 0;  padding-bottom: 0; font-size: 13px; border: none; width: 100px;}
.tableBox .el-button.hasDown{height: 34px; background-color: rgba(229, 240, 255, .5); color: #999;  padding-top: 0;  padding-bottom: 0; font-size: 13px; border: none; min-width: 100px;}
.tableBox .el-button.hasDown span{display: flex;align-items: center;}
.tableBox .el-button.hasDown div{color: #1975FF;font-size: 14px;display: flex;align-items: center;}
.tableBox .el-button.hasDown div i{width: 16px;height: 16px;background: url(../images/tel_blue.png) no-repeat;background-size: cover;margin-right: 4px;}
.tableBox .el-button.hasDown div::before{content: '';height: 14px;width: 1px;background-color: #D9D9D9;margin:0px 10px;}
.tableBox .resumeMemberInfoBox .mphoto{width: 70px ; height: 82px; position: relative; float: left;}
.tableBox .resumeMemberInfoBox .mphoto.noFit .photo_mask{display: block;}
.tableBox .resumeMemberInfoBox .mphoto.noFit .sex::before{opacity: .5;}
.tableBox .resumeMemberInfoBox .mphoto .sex{background-color: #fff; margin: -18px auto; position: relative; width: 20px; height: 20px; border-radius: 50%;}
.tableBox .resumeMemberInfoBox .mphoto .sex::before{content: ''; display: block; width: 22px; height: 22px;background: url(../images/sex_0.png) no-repeat center/cover;     position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
.tableBox p.textCon{line-height: 28px;}
.tableBox.resumeListBox p.textCon{line-height: 28px; color: #AAACB3;overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;word-break: break-all;}
.tableBox .resumeMemberInfoBox .mphoto .sex_1::before{background-image: url(../images/sex_1.png);}
.tableBox .resumeMemberInfoBox .mphoto .photo_mask{position: absolute; left: 0; right: 0; top: 0; background-color: rgba(130,130,130,.6); width: 70px; height: 70px; border-radius: 50%; display: none;}
.tableBox .resumeMemberInfoBox .mInfo{margin-left: 90px; color: #333; font-weight: normal; padding: 10px 0;}
.tableBox .resumeMemberInfoBox .mInfo h3{font-size: 16px; margin-bottom: 10px;}
.tableBox .resumeMemberInfoBox .mInfo .tag{border: solid 1px #1975FF; line-height: 16px; margin-left: 4px; padding:  0 4px; height:18px ; vertical-align: middle; font-size: 12px; background-color: #F0F6FF; color: #1975FF; cursor: pointer;}
.tableBox .resumeMemberInfoBox .mInfo .tag.marktag{background-color: #F2F3F5; border-color: #EBECED; color: #999; vertical-align: middle; margin-bottom: 5px;}
.tableBox .resumeMemberInfoBox .mInfo .tag.marktag i{display: inline-block; width: 13px; height: 13px; background: url(../images/mark_icon.png) no-repeat center/cover; vertical-align: middle; margin-bottom: 2px; margin-right: 1px;}
.tableBox .resumeMemberInfoBox .mInfo .tag.marktag.hasDel{background-color: #C6C8CC; border-color: #C6C8CC; color: #fff;}
.tableBox .resumeMemberInfoBox .mInfo .tag.marktag.private{background-color: #fff; border-color: #D2D4D9; color: #8D93A6;}
.tableBox .resumeMemberInfoBox .mInfo .tag.marktag.tdtag{background-color: #F0F6FF; border-color: #99C2FF; color: #1975FF;}
.tableBox .resumeMemberInfoBox .mInfo p{font-size: 13px; color: #737680; font-weight: normal; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;display: flex;}
.tableBox .resumeMemberInfoBox .mInfo span{vertical-align: middle;  margin-bottom: 5px;}
.tableBox .resumeMemberInfoBox .mInfo p em{ margin: 0 10px;display: flex;align-items: center;}
.tableBox .resumeMemberInfoBox .mInfo p em::before{content: '';height: 12px;background-color: #E0E0E0;width: 1px;}
/*.resumeListBox.tableBox  .el-table td{padding-top: 22px; padding-bottom: 10px; }
.resumeListBox.tableBox .el-table td.el-table-column--selection{padding-bottom: 22px;} */
.el-table td div.resumeMemberInfoBox{padding-top: 12px;}
.resumeListBox.tableBox  .el-table .postTitle{font-size: 14px; color: #333; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow:ellipsis;}
.resumeListBox.tableBox  .el-table .postTitle.noFit{color: #9CA0AD;}
.resumeListBox.tableBox  .el-table .salary{font-size: 13px; color: #9CA0AD;}
.resumeListBox.tableBox  .el-table .salary b{font-family: DINMittelschriftStd; font-size: 16px; color: #1975FF;}
.resumeListBox.tableBox  .el-table .salary.noFit b{ color: #9CA0AD;}
.resumeListBox.tableBox  .el-table .postState{color: #5283CC; font-size: 14px;}
.resumeListBox.tableBox  .el-table .postState.state1{color:#18D5F2}
.resumeListBox.tableBox  .el-table .postState.state2{color:#C355AA}

.tabBox_2.tabBox{height: 60px;}
.tabBox_1.tabBox{height: 74px;}

.tips_resume{height: 40px; background-color: #F5FAFF; border-radius: 6px; padding:0 12px; display: flex; align-items: center; box-sizing: border-box; margin: 12px 20px 0; color: #919399;}
.tips_resume em{color: #FF5039;}
.tips_resume h4{font-size: 14px; color: #3377FF; margin-right: 16px;}
.tips_resume h4 s{display: inline-block; width: 16px; height: 16px; background: url(../images/tip_icon.png) no-repeat center/cover; margin-right: 5px; vertical-align: middle; margin-bottom: 4px;}
.resumeListBox.tableBox td .tel{font-size: 14px; color: #5C5E66;}
.resumeListBox.tableBox td .tel s{display: inline-block; width: 20px; height: 20px; background: url(../images/tel_icon.png) no-repeat center/cover; margin-right: 3px; vertical-align: middle;}
.resumeListBox.tableBox td .tel span,.resumeListBox.tableBox td .tel em{vertical-align: middle; cursor: default;}
/* .resumeListBox.tableBox td .tel em.mark1{color: #5283CC;} */
.resumeListBox.tableBox td .tel em.mark3{color: #2BD9D9;}
.resumeListBox.tableBox td .tel em.mark5{color: #C355AA;}
.resumeListBox.tableBox td .tel em.mark2{color: #7357D9;}
.resumeListBox.tableBox td .tel em.mark4{color: #5283CC;}
.resumeListBox.tableBox td .tel span.mark{font-size: 14px; color: #9CA0AD; display: inline-block; max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap ; margin-bottom: 2px; }

.markBox.noPadding{padding-right: 10px;}
.markBox {max-width: 460px; padding-right: 50px; box-sizing: border-box; padding-left: 10px;}
.markBox h4{font-size: 13px; color: #5283CC; margin-bottom: 14px;  position: relative;}
.markBox h4 em{color: #C2C4CC; font-size: 12px;}
.markBox h4::before{content: '•'; color: #3579FF; position: absolute; left: -12px; top: 0; bottom: 0; margin: auto;}
.markBox p{line-height: 24px; color: #666;}
.markBox.tdInfo li{line-height: 24px;}
.remarkPop{border: 1px solid #EDEDED; box-shadow: 1px 8px 40px 0px rgba(0,15,77,0.08); border-radius: 8px; width: 370px;}


/* 面试 */
.tableBox .interviewTime{color: #1975FF; font-size: 16px; font-weight: bold;display: inline-block;cursor: pointer;}
.tableBox .interviewTime.before{color: #6C7080;}
.tableBox .interviewTime s{display: inline-block; width: 16px; height: 16px; background: url(../images/clock.png) no-repeat center/cover; vertical-align: middle; margin-bottom: 2px; margin-right: 5px;}
.tableBox .interviewTime .edit_time,.joinDate  .edit_time {display: inline-block; width: 20px; height: 20px; background-color: #f00; margin-left: 4px; vertical-align: middle; background: url(../images/edit_icon.png) no-repeat center/cover; cursor: pointer;} 
.joinDate  .edit_time{margin-right: 2px; margin-bottom: 4px;}
.tableBox .interviewTime .edit_time{display: none;}
.tableBox .interviewTime:hover .edit_time{display: inline-block;}
.tableBox .interviewTime.before s{background-image: url(../images/clock_1.png) ;}
/* .tableBox.interviewLits  .el-table th:nth-last-child(3){text-align: left;} */
.tableBox  .stateBox{text-align: left;}
.tableBox  .stateBox .mark{white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: inline-block; color: #9CA0AD; font-size: 14px;}
.tableBox  .stateBox .mark::before{content: '*';}
.tableBox .posiInfo{line-height: 28px; display: block;}
.tableBox .posiInfo.noFit h4,.tableBox .posiInfo.noFit p,.tableBox .posiInfo.noFit .salary{color: #9CA0AD !important;}
.tableBox .posiInfo h4{font-size: 14px; color: #333; font-weight: bold;}
.tableBox .posiInfo p{font-size: 13px; color: #9CA0AD;}
.tableBox .stuffInfo{display: block;}
.tableBox .posiInfo .salary,.tableBox .stuffInfo h4 span .salary{color: #1975FF; font-size: 16px; font-family: DINMittelschriftStd; }
.tableBox .stuffInfo h4{font-size: 16px; color: #333; margin-bottom: 10px;}
.tableBox .stuffInfo h4 span{color: #9CA0AD; font-size: 13px; margin-left: 4px;}
.tableBox .stuffInfo p{color: #737680; font-size: 13px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.tableBox .stuffInfo p span{vertical-align: middle;}
.tableBox .stuffInfo p em{font-size: 10px; color: #CED0D9; vertical-align: middle; margin: 0 8px;}
.tableBox .stuffInfo.noFit h4 span .salary{color: #9CA0AD;}
.tableBox  .tel{font-size: 14px; color: #5C5E66; } 
.tableBox  .tel s{display: inline-block; width: 20px; height: 20px; background: url(../images/tel_icon.png) no-repeat center/cover; margin-right: 3px; vertical-align: middle; margin-bottom: 4px;}
/* .tableBox.interviewLits .cell{padding: 26px 0;} */
.tableBox  .stateBox .join_state {font-size: 14px; margin-bottom: 10px;}
.tableBox  .stateBox .join_state.state1{color: #5283CC;}
.tableBox  .stateBox .join_state.state2{color: #2BD9D9;}
.tableBox  .stateBox .join_state.state3{color: #C355AA;}

.dropDown.el-button s{text-decoration: none; color: #9CA0AD;}
.dropDown.el-button s.el-select__caret{-webkit-transform: rotateZ(180deg); transform: rotateZ(180deg);}
.dropDown.el-button s.el-select__caret.is-reverse{-webkit-transform: rotateZ(0); transform: rotateZ(0);}

/* 待入职 */
.tableBox.stuffJoinList .cell{padding:0 ; }
.tableBox.stuffJoinList .stuffInfo  {padding-top: 10px ; }
.tableBox .stuffInfo .stuff_photo{width: 70px ; height: 82px; position: relative; float: left; margin-right: 18px;}
.tableBox .stuffInfo .stuff_photo .sex{width: 22px; height: 22px;background: url(../images/sex_0.png) no-repeat center/cover; margin: -16px auto; position: relative;}
.tableBox .stuffInfo .stuff_photo .sex.sex_0{background-image: url(../images/sex_1.png);}
.tableBox .stuffInfo .stuff_info{height: 70px; padding-top: 10px;}
.tableBox .posiInfo h4 em{color: #9CA0AD;}
.tableBox .joinDate{font-size: 14px; color: #1975FF; font-weight: bold;}
.tableBox .joinDate.before{color: #6C7080;}
.tableBox .noBorde input{border: none; width: 0; min-width: 100px; text-align: right; background: none;}
.tableBox .noBorde.state0 input{color: #5283CC;}
.tableBox .noBorde.state1 input{color: #2BD9D9;}
.tableBox .noBorde.state2 input{color: #C355AA;}
.noBold .el-select-dropdown__item.selected{font-weight: normal;}

.joinCount{display: inline-block; color: #737680; font-size: 12px; margin-right: 27px;}
.joinCount span{vertical-align: middle;}
.joinCount em{font-size: 10px; color: #CED0D9; margin: 0 10px; vertical-align: middle;}


.optPopover .el-select{width: 100%; margin-top: 10px;}
.selectBox .el-select-dropdown__item.hover,.selectBox .el-select-dropdown__item:hover{background:#F0F6FF !important; color: #1975FF !important;}
.selectBox.el-popper .popper__arrow{display: none;}
.selectBox.el-popper[x-placement^=bottom]{margin-top: 0px;}

.tip_icon{display: inline-block; width: 16px; height: 16px; background: url(../images/tip_icon1.png) no-repeat center/cover; margin-left: 4px; vertical-align: middle;}


/* 职位管理 新增 */
.tableBox .el-table__row td .opt_btns{padding-top: 2px;}
.tableBox .el-table__row td .opt_btns a{display: block; color: #737680; font-size: 13px; line-height: 18px; margin-top: 8px;}
.tableBox .el-table__row td .opt_btns a s{display: inline-block ; width: 18px; height: 18px; background: url(../images/icon_pic.png) no-repeat center/cover; margin-right: 5px; margin-bottom: 2px; vertical-align: middle;}
.tableBox .el-table__row td .opt_btns a.job_share{display: inline-block;}
.tableBox .el-table__row td .opt_btns a.job_share s{background-image: url(../images/icon_share.png);}
.tableBox .el-table td.selection_item{vertical-align: text-top;}
.tableBox .el-table .post_info{font-size: 14px; color: #8D93A6; line-height: 30px;}
.tableBox .el-table .post_info .fn-left:nth-child(1){margin-right: 60px;}
.tableBox .el-table .post_info em{color: #2278FF;}
.hover_tip{color: #666; font-size: 14px; line-height: 24px;}
.hover_tip em{color: #1975FF;}

.tableBox .el-table .optBtns .el-button--plaint{min-width: 68px; margin: 0 4px; color: #737680; font-size: 14px; border-color: #eee; background: none;} 
.tableBox .el-table .optBtns .el-button--plaint:hover{border-color: #B3B3B3;}
.tableBox .el-table .optBtns .el-button--plaint.goLink{color: #1975FF; border-color: #B2D1FF;}
.tableBox .el-table .optBtns .el-button--plaint.goLink:hover{border-color: #4C94FF;}

.noData{padding: 80px;}
.noData img{width: 220px;}
.noData p{line-height: 20px;}
.noData p a{color: #1975FF;}
.tableBox .el-table td.selection_item{padding-top: 16px;}
.job_data{color: #ACB1BF; font-size: 14px;}
.job_data s{text-decoration: none; color: #8D93A6;}
.job_data span{vertical-align: middle;}
.job_data em{color: #CED0D9; font-size: 10px; margin: 0 10px; vertical-align: middle;}

.el-table-column--selection{width: 55px !important;}
/* 下架确认弹窗 */
.confirmPop.pop_error.confirmPop_2.showPop.confirmOffPost{width: 420px; box-sizing: border-box; min-height: 180px;}
.confirmPop.pop_error.confirmPop_2.showPop.confirmOffPost .ptext{color: #999;}
.confirmPop.pop_error.confirmPop_2.showPop.confirmOffPost .el-button{width: 140px; height: 42px; }
.confirmPop.pop_error.confirmPop_2.showPop.confirmOffPost .el-button.btn_cancel{background-color: #fff; border-color: #EDEDED; color: #666;}
.confirmPop.pop_error.confirmPop_2.showPop.confirmOffPost .el-button.btn_cancel:hover{background: #f5f5f7;border-color: #f5f5f7;}
.confirmPop.pop_error.confirmPop_2.showPop.confirmOffPost .el-button.btn_sure{margin-left: 20px;}

.el-select .el-input.focus_shan .el-input__inner{border-color: #409EFF; animation: blink .4s 2 steps(1,end); }

@keyframes blink {
	0%, 100% {
        border-color: #409EFF;
    }
    50% {
        border-color: #ededed;
    }

}


/* 删除简历弹窗 */
.confirmDelPost.confirmPop.confirmPop_2 {width: 400px;}
.confirmDelPost.confirmPop.confirmPop_2 .btnsGroup_2 .el-button{width: 140px; height: 42px; border-radius: 6px;}
/* .confirmDelPost.confirmPop.confirmPop_2 .btnsGroup_2 .el-button .el-button.btn_cancel{} */


/* 标注 */
.popoverBox .markBox{padding-right: 8px;}
.markBox{position: relative; margin-top: 30px; min-width: 500px; padding-right: 20px;}
.markBox:first-child{margin-top: 0;}
.markBox .editBtns {width: 90px; height: 48px; background: #FFF; border: 1px solid #EDEDED; box-shadow: 3px 15px 25px 0px rgba(0,15,77,0.08); border-radius: 8px; position: absolute;  right: -5px; bottom: 0; display: none;}
.popoverBox  .markBox p{display: none;}
.popoverBox .markBox .showText p{display: block;}
.markBox .showText:hover .editBtns{display: block;}
.markBox .editBtns span{width: 50%; float: left; box-sizing: border-box; padding: 14px; cursor: pointer; position: relative;}
.markBox .editBtns span:first-child::after{content: ''; display: block; width: 1px; height: 30px; background: linear-gradient(0deg, #FFFFFF 0%, #EDEDED 50%, #FFFFFF 100%); position: absolute; right: -1px; top: 0; bottom: 0; margin: auto;}
.markBox .editBtns span s{display: block; width: 20px; height: 20px; background: url(../images/del.png) no-repeat center/cover;}
.markBox .editBtns span.edit_btn s{background-image: url(../images/edit.png)  ;}

.popoverBox .btns_group{text-align: right; margin-top: 14px;}
.popoverBox .btns_group .el-button{width: 110px; height: 44px; border-radius: 6px;  font-size: 15px;}
.popoverBox .btns_group .el-button.el-button.btn_cancel{border-color: #ededed; color: #333;}

.tableBox.interviewLits .optBtns .el-button.state1{color: #5283CC;}
.tableBox.interviewLits .optBtns .el-button.state2{color: #C355AA;}
.tableBox.interviewLits .optBtns .el-button.state3{color: #2BD9D9;}
.tableBox.interviewLits .optBtns .el-button.state4{color: #5283CC;}
.tableBox.interviewLits .optBtns .el-button.state5{color: #C355AA;}
.tableBox.interviewLits .optBtns .el-button.grey{color: #9CA0AD;}


.refuseInfo{font-size: 14px; color: #9CA0AD;}
.refuseInfo span{color: #C355AA;}

.btn_dot.el-button{padding: 0;}
.btn_dot.el-button::before{ display: inline-block; content: ''; width: 20px; height: 20px; background: url(../images/dot_icon.png) no-repeat center 4px/cover;}
.optPopover.optGroupPopover{ box-sizing: border-box; padding: 0; border: 1px solid #EBEEF2; box-shadow: 1px 8px 40px 0px rgba(0,15,77,0.08); 
    border-radius: 4px;}
.optPopover .optbtnGroup{ font-size: 14px; color: #666;}
.optPopover .optbtnGroup li{height: 44px; line-height: 44px; cursor: pointer; padding: 0 15px;}
.optPopover .optbtnGroup li:hover{color: #1975FF;}
.optPopover .optbtnGroup li s{display: inline-block;  width: 20px; height: 20px; background: url(../images/download_icon.png) no-repeat center/cover; vertical-align: middle; margin-right: 8px;}
.optPopover .optbtnGroup li:hover s{background-image: url(../images/download_icon1.png);}
.optPopover .optbtnGroup li.sendEmail s{background-image: url(../images/send_icon.png);}
.optPopover .optbtnGroup li.sendEmail:hover s{background-image: url(../images/send_icon1.png);}
.optPopover .optbtnGroup li.jubao {background:#FAFAFA; border-top: solid 1px #EBEEF2;}
.optPopover .optbtnGroup li.jubao s{background-image: url(../images/jubao_icon.png);}
.optPopover .optbtnGroup li.jubao:hover s{background-image: url(../images/jubao_icon1.png);}

.tableBox .resumeMemberInfoBox .mInfo .item .el-badge__content.is-dot{width: 6px; height: 6px; top: -.8em;}

.remarkPop .markBox{min-width: auto;}
.remarkPop .markBox .chat_to{text-decoration: underline !important; color: #666;}
.tdResumePop.confirmPop   h3{font-size: 16px; margin-bottom: 6px;}
.tdResumePop .ptext .tdResume_tip{margin-top: 20px;}
.tdResumePop .tdResume_tip h4{font-size: 15px; color: #1975FF; font-weight: bold;}
.tdResumePop .tdResume_tip h4 span{font-weight: normal; font-size: 14px;}
.tdResumePop .tdResume_tip p{color: #666; font-size: 13px; }
.tdResumePop.confirmPop   .cancelReadResume{width: 240px; height: 42px; color: #666; border-color: #EDEDED;}
.tdResumePop.confirmPop  .cancelReadResume:hover{color: #1975FF; border-color: #2278FF;}
.tdResumePop.confirmPop  .btnsGroup {margin-top: 20px;}


.topFresh{position: absolute; white-space: nowrap; bottom: 20px;}
.topFresh .post_manage{height: 28px; border-radius: 6px; background: linear-gradient(90deg, rgba(204,235,255,.35) 0%, rgba(224,233,255,.35) 100%); font-size: 14px; color: #969DB3; margin-right: 8px; display: inline-block; min-width: 600px; box-sizing: border-box; padding:0 10px; line-height: 28px;}
.topFresh .post_manage label{color: #1975FF;}
.topFresh .post_manage span{color: #6C7180;}
.topFresh .post_manage.top_post label{color: #FF4F38;}
.topFresh .post_manage.top_post{ background: linear-gradient(90deg, #FFEDED 0%, #FFF5F8 100%);}
.bottomPadding{padding-bottom: 48px;}


/* 刷新弹窗的样式 */
.refreshTipPop.confirmPop {width: 460px !important; height: 260px !important;}
.refreshTipPop.confirmPop::before{content: ''; display: block; width: 100%; height: 100px; background: linear-gradient(0deg, #FFFFFF 0%, #EDF4FF 100%); border-radius: 16px 16px 0 0; position: absolute; left: 0; top: 0; right: 0;}
.refreshTipPop.confirmPop h3 s{background-image: url(../images/refresh_icon.png);}
.refreshTipPop.confirmPop h3,.refreshTipPop.confirmPop p,.refreshTipPop.confirmPop .btnsGroup  {position: relative;}
.refreshTipPop.confirmPop.pop_error .ptext{color: #999 !important; margin: 0 52px; line-height: 24px; margin-top: 10px;}
.refreshTipPop.confirmPop .el-button--primary{width: 180px;}

/* 成功刷新提示 */
.successTipPop .btn_self{position: relative; margin-right: 20px;}
.successTipPop .btn_self .el-button{width: 180px; height: 42px; background: linear-gradient(90deg, #00195A 0%, #2C3146 100%); border-radius: 6px; color: #fff; font-size: 14px;}
.successTipPop .btn_self span.btn_tip{padding: 0 6px; height: 20px; background: linear-gradient(90deg, #FF6669 0%, #FF5988 100%); border-radius: 10px 10px 10px 2px; color: #fff; font-size: 12px; position: absolute; left: 50px; top: -14px; white-space: nowrap;}

.rConBox .tableBox .el-table{min-height:40vh;}
.rConBox.jobfairContainer {min-height: calc(100vh - 170px);}
.el-table td div.optBtns{white-space: nowrap;display: flex;justify-content: center;}
/* 招聘海报 */ 
.poster{position: fixed;top: 0px;left: 0px;right: 0px;bottom: 0px;background-color: rgba(0,0,0,.5);z-index: 1003;display: none;justify-content: center;align-items: center;}
.p-produce{width: 990px;height: 620px;padding: 24px 0px 30px 30px;border-radius: 16px;background: linear-gradient(to bottom, #EDF4FF 0%, #FFFFFF 30%);position: absolute;box-sizing: border-box;display: flex;flex-direction: column;padding-right: 6px;animation: topFadeIn .3s;}
.p-produce::after{content: '';width: 100%;height: 30px;background: linear-gradient(to top,white 0%,rgba(255,255,255,0) 100%);position: absolute;bottom: 28px;left: 0px;}
.pp-close{position: absolute;right: 18px;top: 16px;cursor: pointer;object-fit: cover;width: 30px;height: 30px;z-index: 1;}
.pp-close:hover{opacity: .7;}
.pp-title{font-size: 20px;font-weight: bold;color: #222222;margin-bottom: 10px;}
.pp-steps{overflow-y: auto;}
.pp-steps::-webkit-scrollbar{width: 6px;cursor: pointer;}
.pp-steps::-webkit-scrollbar-thumb{background: #E7E7E7;border-radius: 3px;}
.pp-steps::-webkit-scrollbar-thumb:hover{background:#cccccc;}
.pp-steps::-webkit-scrollbar-thumb:active{background: #b2b2b2;}
.pp-steps .step1 .title,.pp-steps .step2 .title{font-size: 14px;color: #666666;margin-bottom: 10px;}
.pp-steps .step1 ul{display: flex;flex-wrap: wrap;}
.pp-steps .step1 ul{overflow: hidden;}
.pp-steps .step1 ul li{border: 1px solid #EDEDED;border-radius: 6px;display: flex;align-items: center;height: 38px;padding: 0px 20px 0px 10px;box-sizing: border-box;margin-right: 10px;margin-bottom: 12px;cursor: pointer;}
.pp-steps .step1 ul li:hover{border-color: #b3b3b3;}
.pp-steps .step1 ul li .select{width: 14px;height: 14px;background: #FFFFFF;border: 1px solid #DFE3EB;border-radius: 50%;box-sizing: border-box;margin-right: 6px;}
.pp-steps .step1 ul li span{color: #666666;font-size: 14px;margin-right: 30px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 300px;}
.pp-steps .step1 ul li div{color: #999999;font-size: 13px;}
.pp-steps .step1 ul .active{border: 1px solid #99BBFF;background-color: #F5F9FF;}
.pp-steps .step1 ul .active:hover{border-color: #99BBFF;}
.pp-steps .step1 ul .active span{color: #212121;}
.pp-steps .step1 ul .active .select{background: url(../images/confirmW.png) no-repeat center/cover #2278FF;border-color: #2278FF;}
.pp-steps .step1 ul .unfold,.pp-steps .step1 ul .fold{border-color: #EDEDED;background-color: #F5F7FA;color: #999999;font-size: 14px;margin: 0px;align-items: center;justify-content: center;padding: 0px 8px 0px 14px;display: none;}
.pp-steps .step1 ul .unfold::after{content: '';width: 16px;height: 16px;background: url(../images/posterd.png) no-repeat center/cover;}
.pp-steps .step1 ul .fold::after{content: '';width: 16px;height: 16px;background: url(../images/posterd.png) no-repeat center/cover;transform: rotateZ(180deg);}
.pp-steps .step2 ul{display: flex;flex-wrap: wrap;}
.pp-steps .step2 ul li{width: 160px;height: 350px;margin-right: 20px;margin-bottom: 20px;position: relative;animation: leftFadeIn .3s;}
.pp-steps .step2 img{object-fit: cover;width: 100%;height: 100%;border-radius: 4px;}
.pp-steps .step2 ul li:hover .btn{display: block;}
.pp-steps .step2 ul li .btn{position: absolute;bottom: 0px;left: 0px;height: 100%;width: 100%;background: linear-gradient(to top, rgba(0,0,0,.6) 0%,rgba(0,0,0,0) 35%);border-radius: 4px;display: none;cursor: pointer;}
.pp-steps .step2 ul li .btn div{width: 120px;height: 36px;background: #3F7EFC;border-radius: 6px;line-height: 36px;text-align: center;font-size: 14px;color: white;position: absolute;bottom: 18px;left: calc(50% - 60px);cursor: pointer;animation: bottomFadeIn .3s;}
.pp-steps .step2 ul li .btn div:hover{background-color: #4089ff;}
.p-save{position: fixed;top: 0;left: 0;right: 0;bottom: 0;background-color: rgba(0,0,0,.2);z-index: 1110;display: none;}
.pp-poster{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
.pp-loading{width: 340px;height: 640px;background: #F5F7FA;box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.4);border-radius: 6px;display: flex;align-items: center;justify-content: center;flex-direction: column;}
.pp-loading img{width: 68px;height: 57px;object-fit: cover;border-radius: 16px;margin-bottom: 16px;}
.pp-loading p{font-size: 14px;color: #999999;text-align: center;}
.pp-poster a{width: 120px;height: 38px;background: #3F7EFC;border-radius: 6px;text-align: center;line-height: 38px;color: white;font-size: 14px;margin: auto;cursor: pointer;display: block;margin-top: 15px;animation: topFadeIn .2s;}
.pp-show{max-height: 640px;overflow-y: overlay;display: none;border-radius: 6px;box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.4);}
.pp-show::-webkit-scrollbar{width: 6px;position: absolute;right: 0px;}
.pp-show::-webkit-scrollbar-thumb{width: 6px;background: rgba(231,231,231,.5);border-radius: 3px;opacity: .7;}
.ppp-showimg{width: 340px;object-fit: cover;border-radius: 6px;display: block;}
.pp-drag{position: absolute;top: 0px;width: 100%;height: 64px;left: 0px;cursor: all-scroll;}
.p-warning{background-color: rgba(51, 51, 51, .9);border-radius: 10px;position: fixed;top: 43%;left: 50%;transform: translate(-50%,-50%);color: white;font-size: 14px;display: none;padding: 26px 40px;}
.tableBox .el-button.download:hover{background-color: #4089ff !important;}
.downloadTab{padding-left: 50px !important;}
/* .el-button.grey.off.el-button--text.el-button--small.el-popover__reference{margin-right: 15px !important;} */
.el-button.el-button--text.el-button--small.off.dropDown.state6{color: #C355AA;font-size: 14px;}
.el-table__row.active{background: linear-gradient(90deg, rgba(247,249,252,0) 0%,rgba(247,249,252,1) 6%,rgba(247,249,252,1) 94%,rgba(247,249,252,0) 100%) !important;}
.el-table__row.active .edit_time{display: inline-block;}
/* .optPopover.state{min-height: 332px;} */
.gray:hover{background-color: #f2f2f2 !important;color: #333;border-color: #f2f2f2;}
.grey.addMark.plustext:hover{color: #1975FF !important;}
.interviewPop{width: 420px;}
.interviewPop .cancel:hover{background-color: #f2f2f2;border-color: #f2f2f2;color: #333;}
.interviewPop .cancel{width: 140px;box-sizing: border-box;}
.interviewPop .topub{width: 140px;box-sizing: border-box;}
.el-avatar>img{width: 100%;}
/* .el-button:focus{border-color:#DCDFE6;} */
.el-table .cell{overflow: visible;}
.addTip{cursor: pointer;color: #999;font-size: 14px;}
.el-icon-plus{font-size: 13px;font-weight: bold;}
.inviteMark .textTitle{color: #666666;font-size: 14px;display: flex;align-items: center;flex-shrink: 0;}
.inviteMark .textTitle::before{content: '*';color: #FF4F38;}
.timeAndPost{display: flex;align-items: center;justify-content: flex-end;}
.inviteAddress{display: flex;align-items: center;margin-top: 12px;justify-content: flex-end;}
.inviteAddress .el-select{margin-top: 0px;width: 448px !important;}
.invitPost{margin-top: 0px !important;width: 230px !important;}
.invitPost .el-icon-arrow-up,.inviteAddress .el-icon-arrow-up{display: flex;align-items: center;justify-content: center;transform: none !important;}
.invitPost .el-icon-arrow-up:before,.inviteAddress .el-icon-arrow-up:before{content: '' !important;width: 10px;height: 10px;background: url(../images/triangle_icon.png) no-repeat; background-size: cover;display: block;}
.inviteTime{margin-right: 8px;width: 210px !important;flex-shrink: 0;}
.add_addr{color: #1975FF !important;}
.addInvite{position: relative;}
.addInvite s{width: 18px;height: 18px;background: url(../images/tip_icon1.png) no-repeat;background-size: cover;display: inline-block;vertical-align: -4px;margin-left: 5px;}
.addInvite s:hover div{display: block;}
.addInvite div{background: #FFFFFF;border: 1px solid #EDEDED;box-shadow: 1px 8px 40px 0px rgba(0,15,77,0.08);border-radius: 8px;position: absolute;top: 28px;right: 0px;color: #666666;font-size: 14px;font-weight: 400;padding: 25px 20px;z-index: 1;width: 430px;display: none;}
.addInvite div::before{width: 12px;height: 12px;background-color: white;border-top: 1px solid #EDEDED;border-left: 1px solid #EDEDED;position: absolute;top: -6px;left: 27px;content: '';box-sizing: border-box;transform: rotateZ(45deg);}
.addInvite div span{color: #1975FF;}
.sendInvite{display: flex;align-items: center;color: #212121;font-size: 14px;width: 100%;height: 46px;background: #F7FAFF;border-radius: 4px;padding: 0px 16px;box-sizing: border-box;justify-content: space-between;margin-bottom: 20px;cursor:pointer}
.sendInvite div{display: flex;align-items: center;}
.sendInvite i{width: 16px;height: 16px;background: url(../images/tip_blue.png) no-repeat; background-size: cover;margin-right: 6px;}
.sendInvite span{color: #1975FF;font-size: 12px;}
@keyframes bottomFadeOut{
	0%{opacity:1;	transform:translateY(0px);}
	100%{opacity:0; transform:translateY(-20px);}
}








/*20231107 简历 新增高级筛选 和 导出Excel */
.btnToExcel{display: inline-flex; align-items: center; justify-content: center; width: 120px; height: 40px; background: #FFFFFF; border: 1px solid #3377FF; border-radius: 4px; color: #1975FF; font-size: 13px; box-sizing: border-box; cursor: pointer; vertical-align: bottom;} 
.btnToExcel:hover{background-color: #e0ebff;  color: #1975FF;}
.btnToFilter{width: 120px; height: 40px; background: #3377FF; border-radius: 4px; display: inline-flex; align-items: center; justify-content: center; color: #fff; font-size: 13px; margin-right: 10px; border-color: #3377FF; cursor: pointer;  vertical-align: sub}
.btnToFilter:hover{color: #fff; background-color: #1355d7;}
.btnToFilter::before{content: ''; width: 18px; height: 18px; background: url(../images/filter_icon.png) no-repeat center/cover;}
.filterContainer{padding: 0; border-radius:20px;}
.filterContainer .filterConBox{height: 310px;}
.filterContainer .filterConBox .filterHead{padding-bottom: 20px; height: 70px; display: flex; align-items: center; padding-left: 30px; font-size: 14px; color: #7C808A; background: url(../images/filter_bg.png) no-repeat  496px 10px/ 260px 60px; background-color: #F2F7FF; border-radius: 20px 20px 0 0; position: relative;}
.filterContainer .filterConBox .filterHead h4{font-size: 20px; color: #212121; font-weight: bold; margin-right: 6px; }
.filterContainer .filterConBox .filterHead .closeIcon{width: 20px; height: 20px; background: url(../images/close_icon1.png) no-repeat center/cover; position: absolute; display: block; right: 16px; top: 16px;}
.filterContainer .filterCon {padding:26px 20px 30px 40px;}
.popoverBox_age,.popoverBox_salary {width: 278px !important; background: #FFFFFF; border: 1px solid #EBEEF2; box-shadow: 1px 8px 40px 0px rgba(0,15,77,0.08); border-radius: 4px; box-sizing: border-box; padding-left: 20px;}
.popoverBox_age .chose_age span{display: inline-block; width: 32%; line-height: 36px; cursor: pointer; font-size: 14px; color: #666;}
.popoverBox_age .chose_age{display: grid; grid-template-columns: repeat(3,1fr); white-space: nowrap;}
.popoverBox_salary .chose_salary span{display: inline-block; width: 48%; line-height: 36px; cursor: pointer; font-size: 14xp; color: #666;}
.popoverBox_age .chose_age span:hover{color: #1975FF;}
.popoverBox_salary .chose_salary span:hover{color: #1975FF;}
.popoverBox_age .self_defined input,.popoverBox_salary .self_defined input{height: 30px; margin-top: 10px;}
.popoverBox_age .btn_sure,.popoverBox_salary .btn_sure{background-color: #E8F1FF; border: solid 1px #E8F1FF; color: #3377FF; font-size: 12px; width: 50px; text-align: center; box-sizing: border-box;padding-left: 0; padding-right: 0; }
.popoverBox_age .self_defined .inp,.popoverBox_salary .self_defined .inp{display: inline-block; width: 72px;}
.filterContainer .filterCon{background-color: #fff; border-radius: 20px; transform: translateY(-20px);}
.filterContainer .filterConBox .shaiBox{display: flex; align-items: center; flex-wrap: wrap;}
.filterContainer .filterConBox  .shaiBox .el-select .el-input{width: 100%;}
.filterContainer .filterConBox  .shaiBox .inpbox{width: 150px; margin-right: 10px;}
.filterContainer .filterConBox  .shaiBox .inpbox .el-input{width: 100%;}
.filterContainer .filterConBox  .shaiBox .inpbox.xlInp{width: 140px;}
.filterContainer .filterConBox  .shaiBox .zyInp{width: 280px;}
.filterContainer .filterCon .smInp.inpbox{width: 120px;}
.datePickerBox{margin-top: 18px;}
.datePickerBox .el-input{width: 180px;}

.filterConBox .filterBtns{display: flex; justify-content: flex-end; align-items: center; margin-top: 30px; }
.filterConBox .filterBtns a{display: flex; align-items: center; justify-content: center; width: 140px; height: 42px; background: #FFFFFF; border: 1px solid #EDEDED; border-radius: 6px; font-size: 14px; color: #4D4D4D; margin: 0 10px;}
.filterConBox .filterBtns a.reset_filter:hover{background-color: #f5f5f7;}
.filterConBox .filterBtns a.confirm_filter{background-color: #3377FF; border-color: #3377FF; color: #fff;}
.filterConBox .filterBtns a.confirm_filter:hover{opacity: .8;}
/* .selectItem{margin-right: 10px;} */
.filterContainer.el-popper[x-placement^=bottom] .popper__arrow::after{border-bottom-color: #F2F7FF;}
.filterContainer.el-popper[x-placement^=bottom]{transform: translateX(-22px);}
.searchBox>.el-input{margin-right: 10px;}
.shaiBox .el-select .el-input{margin-right: 10px;}