body {font-family: 'microsoft yahei';}

/* .form {color: #3b3b3b; line-height: 25px; padding: 20px 0;}
.form dt {float: left; width: 95px; padding: 5px 0; text-align: right;}
.form dt span {color: #f00;}
.form dd {margin-left: 95px; padding: 5px 0 5px 10px;position: relative;}

#type {float: left; min-width: 100px; font-size: 14px; border: 1px solid #cecece; padding: 5px 4px 5px 3px; color: #4b4b4b; outline: 0;}
#desc {float: left; width: 300px; height: 75px; padding: 5px; border: 1px solid #cecece; outline: 0; font-size: 14px; resize: none;}
.form .inp {float: left; height: 28px; padding: 0 5px; border: 1px solid #cecece; line-height: 28px; font-size: 14px; outline: 0;}
.form .inpbdr{border: 1px solid #cecece;position: relative;height: 28px;line-height: 28px;width: 310px;}
.form .inp#phone{padding-left: 70px;border: none;width: 234px;}
.form .areaCode_wrap{top: -157px;left: 10px;height: 140px;}
.form .areaCode{border-right: 1px solid #cecece;font-size: 12px;}
#vdimgck {width: 60px;}
#verifycode {float: left; height: 30px; margin-left: 5px; cursor: pointer;}
#submit {height: 30px; line-height: 30px; padding: 0 15px; color: #fff; background-color: #f97d11; border: 0; font-family: 'microsoft yahei'; font-size: 14px; cursor: pointer; outline: 0;} */

/* 输入提示 */
.tip-inline {display: none; font-size: 14px; }
.tip-inline s {float: left; width: 16px; height: 16px; margin: 3px 3px 0 0; background: url("/static/images/ui/inputTipnew.png?v=1") no-repeat;background-size: 16px 48px;}
.tip-inline.focus {color: #FF4F38; display: block;}
.tip-inline.success {font-size: 0; display: block;}
.tip-inline.success s {background-position: 0 -16px;}
.tip-inline.error {color: #FF4F38; display: block;}
.tip-inline.error s {background-position: 0 -32px;}

.JuTel,.Juvdimgck dd {position: relative;}
.JuTel .tip-inline,.Juvdimgck dd .tip-inline {position: absolute; left: 300px; white-space: nowrap; top:10px;}

/* 举报相关 */
/* .JuMask{position: fixed; left: 0; right: 0; top: 0; bottom: 0; background: rgba(0,0,0,.4); z-index: 1100; display: none;} */


/*此处是旧版*/
/*.JuPop{width: 670px; height: 430px; position: fixed; left: 0; top: 0; bottom: 0; background: #FFFFFF;
border-radius: 8px; margin: auto; z-index: 1100; right: 0;}
.JuPop .JuHead{font-size: 20px; color: #222;  position: relative; margin-bottom: 40px;}
.JuPop .JuHead h2{padding-top: 16px; font-weight: bold; text-align: center;}
.JuPop .JuHead a{display: block; width: 20px; height: 20px; background: url(/static/images/jubao/ju_close.png) no-repeat center/20px; right: 16px; top: 16px; position: absolute;}
.JuPop .JuContent{margin: 0 44px 0 20px;}
.JuPop .JuDl{margin-bottom: 20px;}
.JuPop .JuDl.JuReason{margin-bottom: 10px;}
.JuPop .JuDl .JuList ul{display: none; max-height: 80px; overflow: auto;}*/
/*此处是旧版*/


.JuPop .JuHead{font-size: 20px; color: #222;  position: relative; margin-bottom: 40px;}
.JuPop .JuHead h2{padding-top: 16px; font-weight: bold; text-align: center;}
.JuPop .JuHead a{display: block; width: 20px; height: 20px; background: url(/static/images/jubao/ju_close.png) no-repeat center/20px; right: 16px; top: 16px; position: absolute;}
.JuPop .JuContent{margin: 0 44px 0 20px;}
.JuPop .JuDl{margin-bottom: 16px;}
.JuPop .JuDl .JuList ul{display: none; max-height: 116px; overflow: auto;}
.JuPop .JuDl .JuList ul::-webkit-scrollbar{width: 6px;}
.JuPop .JuDl .JuList ul::-webkit-scrollbar-thumb{background: #E7E7E7;border-radius: 3px;}
.JuPop .JuDl .JuList ul::-webkit-scrollbar-thumb:hover{background:#cccccc;}
.JuPop .JuDl .JuList ul::-webkit-scrollbar-thumb:active{background: #b2b2b2;}
/* .JuPop .JuDl .JuList ul:nth-child(1){display: block;} */
.JuPop .JuDl dt{float: left; width: 86px; text-align: right; font-size: 14px; color: #333;}
.JuPop .JuDl.JuDescBox dt,.JuPop .JuDl.Juvdimgck dt{padding-top:10px }
.JuPop .JuDl dt b{color: #f00;}
.JuPop .JuDl dd{margin-left: 92px;}
.JuPop .JuDl.JuReason dd li{float: left; margin-right: 20px; font-size: 14px; margin-bottom: 14px; cursor: pointer;}
.JuPop .JuDl.JuReason dd li.juChose s{ border: 1px solid #F6262E; position: relative;}
.JuPop .JuDl.JuReason dd li s::before{content: '';transform: scale(0);transition: all .2s;display: block; width: 8px;height: 8px; border-radius: 50%; background:#F6262E; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto;}
.JuPop .JuDl.JuReason dd li.juChose s::before{transform: scale(1);}
.JuPop .JuDl.JuReason dd li.juChose {color: #FF4F38}
.JuPop .JuDl.JuReason dd li s{display: inline-block;width: 14px; height: 14px; background: #FFFFFF; border: 1px solid #D1D1D1; border-radius: 50%; vertical-align: middle; margin-right: 6px;position: relative;}
.JuPop .JuDl dd.JuText{height: 90px; background: #FFFFFF; border: 1px solid #E1E1E1; border-radius: 6px; position: relative;}
.JuPop .JuDl dd.JuText textarea{border: none; resize: none; width: 100%; height: 100%; padding: 10px; font-size: 13px; border: none; box-sizing: border-box; background: none; outline: none; }
.JuPop .JuDl dd.JuText textarea::placeholder{color: #B2B6BC}
.JuPop .JuDl dd.JuText .JuTextCount{color: #B2B6BC; font-size: 12px; position: absolute; right: 10px; bottom: 10px;}
.JuPop .JuDl .JuTel{width: 290px; height: 40px; background: #FFFFFF; border: 1px solid #E1E1E1; border-radius: 6px; box-sizing: border-box; padding:8px 0; position: relative;}
.JuPop .JuDl .JuTel .Ju_areaCode{width: 86px; text-align:center; display: inline-block; vertical-align: middle; border-right: 1px solid #eee; cursor: pointer; font-size: 14px; color: #333;}
.JuPop .JuDl .JuTel .Ju_areaCode s{display: inline-block; width: 12px; height: 12px; vertical-align: middle; background: url(/static/images/jubao/arr_d_pc.png) no-repeat center/cover; margin-left: 6px; margin-bottom: 4px;}
.JuPop .JuDl .JuTel input{border: none; background: none; padding-left: 14px; font-size: 14px; vertical-align: middle;}
.JuPop .JuDl .JuTel input::placeholder{color: #B2B6BC;}
.JuPop .JuDl input{outline: none;}
.JuPop .JuDl .vdInp{width: 150px; height: 40px; background: #FFFFFF; border: 1px solid #E1E1E1; border-radius: 6px; box-sizing: border-box; padding: 0 10px; box-sizing: border-box;}
.JuPop .JuDl #verifycode{display: inline-block; vertical-align: middle; margin-left: 4px; width: 132px; height: 40px; margin-bottom: 4px;}
.JuPop .JuSubmit{width: 190px; height: 46px; background: linear-gradient(-90deg, #FF4F38 0%, #FF4621 100%); border-radius: 6px; color:#fff; font-weight: bold; font-size: 16px; display: block; margin: 30px auto 0px; line-height: 46px; text-align: center;}
.JuPop .Ju_areaCode_wrap{top: -157px;left: 10px;height: 140px;}
.JuPop .Ju_areaCode_wrap{position: absolute; left: 0; top: 41px; width: 200px; max-height: 300px; background: #fff; border: 1px solid #ebebeb; box-shadow: 0 5px 20px rgba(26,26,26,.1); z-index: 10; overflow-y: auto; padding: 10px 0; display: none;}
.JuPop .Ju_areaCode_wrap ul{margin-top: 0!important;width: 100%}
.JuPop .Ju_areaCode_wrap li {padding: 0 20px!important; line-height: 30px!important; cursor: pointer;margin-top: 0!important;height: auto!important;width: auto!important;font-size: 12px!important;}
.JuPop .Ju_areaCode_wrap li:hover {background: #f5f5f5;}
