body{background-color: #f7f7f7;  box-sizing: border-box;}
.el-select-dropdown__item.selected{font-weight: normal !important;}
.pubTop .navBox li:nth-of-type(3) a{color: #2176FF !important;}
.userinfo{font-size: 14px; color: #333; margin-bottom: -16px; margin-top: 16px;}
.userinfo span{font-weight: bold; color: #2278FF; font-size: 15px; }
.pubTop{background: #fff; margin-top: -16px; padding-bottom: 16px; padding-top: 16px;}
.pubTop .cfglogo{width: 180px; height: 54px; margin-right: 60px;}
.pubTop .cfglogo img{display: block; max-width: 100%; height: 100%; object-fit: contain;}
.pubTop .navBox li{float: left; margin-right: 38px;}
.pubTop .navBox li:last-of-type{margin-right: 0;}
.pubTop .navBox li a{display: block; color: #333; font-size: 15px; font-weight: bold; line-height: 54px;}
.pubTop .navBox li a:hover{color: #2176FF;}
.pubTop .btn_to {margin-top: 8px;}
.pubTop .btn_to a{width: 124px; height: 36px; border-radius: 16px; line-height: 36px; color: #fff; font-weight: bold; font-size: 16px;background: url('../images/job/toplabel.png') no-repeat;background-size: cover; display: block; text-align: center;}
@font-face {
	font-family: DINMittelschriftStd;
	src: url('/static/fonts/DINMittelschriftStd.eot'),
		url('/static/fonts/DINMittelschriftStd.ttf'),
		url('/static/fonts/DINMittelschriftStd.otf'),
		 url('/static/fonts/DINMittelschriftStd.woff'); /* IE9 */
}

.pageTop{height: 130px; background: url(../images/job/zgBanner.png) no-repeat top center/cover; box-sizing: border-box; padding-top: 10px;}
.pageTop h1{font-size: 46px; color: #fff; font-weight: bold;}
.pageTop p{color: #fff; font-size: 18px;}

.pageBox{min-height: 100px;margin-bottom: 30px;}
.fabuBox{background-color: #fff; border-radius: 8px;margin-top: 30px;}
.refuseAudit{margin-top: 14px;height: 52px;background: #FCF2F2;border: 1px solid #FCD7D7;box-shadow: 1px 5px 16px 0px rgba(0,15,77,0.04);border-radius: 8px;box-sizing: border-box;display: flex;align-items: center;color: #4C5059;font-size: 15px;padding: 0px 18px;}
.refuseAudit i{width: 20px;height: 20px;object-fit: cover;background: url(../images/job/warncirred.png) no-repeat;background-size: cover;margin-right: 8px;}
.fabuBox .tabBox {height: 68px; border-bottom: solid 1px #F2F2F2; box-sizing: border-box; padding-left: 22px;}
.fabuBox .tabBox span{font-size: 20px; color: #666; margin-right: 50px; line-height: 68px; position: relative; display: inline-block; cursor: pointer;}
.fabuBox .tabBox span::before{width: 79px; height: 3px; background: #2278FF; content: ''; display: block; position: absolute; left: 0; right: 0; bottom: 0; margin: auto; transition: all .3s; transform: scaleX(0); }
.fabuBox .tabBox span.on_tab{color: #2278FF; font-weight: bold;}
.fabuBox .tabBox span.on_tab::before{transform: scaleX(1);}
.tabCon{padding-bottom: 40px;    box-sizing: border-box; border: solid 1px #fff;}
.formpart dt{padding: 0 66px; margin-top: 40px;}
.formpart dt b{font-size: 18px; color: #222; font-weight: bold;}
.formpart dt span.wtip{color: #919399; font-size: 13px; margin-left: 12px;}
.formpart dt span.wtip a{color: #919399;text-decoration: underline;}
.formpart dt span.wtip a:hover{color: #1975FF;}
.formpart dd{padding-left: 26px;}
.formpart dd .form_item{margin-top: 26px;}
.formpart dd .form_item label{width: 124px; text-align: right; font-size: 14px; color: #666; line-height: 40px;}
.formpart dd .form_item .inputBox{width: 428px; height: 40px; }
.rightBox{display: inline-block;margin-left: 2px;}
.rightBox .el-select{margin-right: 4px;}
.rightBox input{color: #333;}
.deletion{display: inline-block;margin-left: 10px;color: #ff4f38;display: none;font-size: 14px;}
.deletion::before{content: '';display: inline-block;width: 14px;height: 14px;background: url(../images/job/warncirred.png) no-repeat;background-size: cover;vertical-align: -3px;margin-right: 5px;}
.formpart dd .form_item .inputBox input{width: 100%; height: 40px; border: solid 1px #EBEEF2; border-radius: 6px; padding: 0 10px; box-sizing: border-box; font-size: 14px; outline: none;}
.formpart dd .form_item .inputBox input::placeholder{color: #C2C4CC;}
.formpart dd .form_item .inputBox input:hover{border-color: #C0C4CC;}
.formpart dd .form_item .inputBox input:focus{border-color: #2176FF;}
.formpart dd .form_item .inputBox.selectBox input{padding-right: 34px;cursor: pointer;}
.formpart dd .form_item .inputBox.selectBox::after{content: ''; display: block; width: 10px; height: 10px; background: url(../images/job/arr_down.png) no-repeat center/cover; position: absolute; right: 10px; top: 0; bottom: 0; margin: auto;}
.formpart dd .form_item .inputBox.selectBox{position: relative;}
.formpart dd .form_item  .optionsBox span{color: #666; font-size: 14px; display: inline-block; line-height: 40px; margin-right: 26px; cursor: pointer;}
.formpart dd .form_item  .optionsBox span s{display: inline-flex; width: 14px; height: 14px; background: #FAFAFA; border: 1px solid #C6C9CC; border-radius: 50%; vertical-align: middle;  margin-right: 4px; box-sizing: border-box; box-sizing: border-box; align-items: center; justify-content: center; margin-bottom: 2px;}
.formpart dd .form_item  .optionsBox span.on_chose s{border-color: #2278FF;}
.formpart dd .form_item  .optionsBox span.on_chose s::before{content: ''; display: block; width: 8px; height: 8px; background: #2278FF; border: 1px solid #055EEB; border-radius: 50%; margin: auto; box-sizing: border-box;}
.formpart dd .form_item  .labelRight .label{width: 88px; height: 40px; background: #F2F2F2; border-radius:0 6px 6px 0; color: #666; text-align: center; line-height: 40px;  font-size: 14px; border-right: solid 1px #EBEEF2; float: right;}
.formpart dd .form_item  .labelRight .inputLeft{width: 338px; height: 40px; color: #919399; font-size: 14px;}
.formpart dd .form_item  .labelRight .inputLeft .inpBox{width: 160px; display: inline-block;}
.formpart dd .form_item  .labelRight .inputLeft .inpBox input{border: none;color: #333;}
.formpart dd .form_item  .labelRight {width: 428px; height: 40px; border: 1px solid #EBEEF2; border-radius: 6px; display: inline-block; vertical-align: middle;}
.formpart dd .form_item  .changeTab{display: inline-block; vertical-align: middle; margin-left: 14px; font-size: 14px; color: #919399; cursor: pointer;}
.formpart dd .form_item  .changeTab:hover{color: #333;}
.formpart dd .form_item  .changeTab s{display: inline-block; vertical-align: middle; width: 20px; height: 20px; vertical-align: middle; margin-right: 2px; background: url(../images/job/changTab.png) no-repeat center/cover;} 
.formpart dd .form_item .inputBox input.el-input__inner{padding-right: 30px;color: #333;}
.formpart dd .form_item .inputBox .el-input__suffix{line-height: 40px; padding-right: 8px;}
.formpart dd .form_item .inputBox .el-select{width: 100%;}
.formpart dd .form_item  .el-select .el-input__suffix .el-input__suffix-inner,.formpart dd .form_item  .el-cascader .el-input__suffix .el-input__suffix-inner{display: none;}
.formpart dd .form_item  .el-select .el-input__suffix::after,.formpart dd .form_item  .el-cascader .el-input__suffix::after{content: ''; display: block; width: 10px; height: 10px; background: url(../images/job/arr_down.png) no-repeat center/cover; position: absolute; right: 10px; top: 0; bottom: 0; margin: auto;}
.formpart dd .form_item .inlineInput{max-width: 538px; display: inline-block; width: 538px; margin-left:4px;}
.formpart dd .form_item .inlineInput input{color: #333;}
.formpart dd .form_item .addrChose{width: 278px;}
.formpart dd .form_item .addrChose input{color: #333;}
.formpart dd .inputBox  .el-cascader,.formpart dd .smInpBox  .el-select{width: 100%;}
.formpart dd .inlineDiv{display: inline-block;}
/* 招聘信息 */
.formpart dd .form_item .bigInpBox{width: 820px;}
.formpart dd .form_item .bigInpBox input{color: #333;}
.formpart dd .form_item .item_tip{font-size: 14px; color: #919399; line-height: 40px;}
.formpart dd .form_item .item_tip a{color: #2278FF; padding-right: 5px; }
.formpart dd .form_item .textareaBox .textArea{min-height: 200px; max-height: 340px; overflow: auto;border: 1px solid #EBEEF2; border-radius: 6px; padding: 12px; outline: none; font-size: 14px;color: #333;}
.formpart dd .form_item .textareaBox .textArea:empty::before{content: attr(placeholder); font-size:14px; color:#919399;}
.formpart dd .form_item .textareaBox .textArea:focus{border-color: #409EFF;}
.formpart dd .form_item .textareaBox{position: relative;}
.formpart dd .form_item .textareaBox .placeholderText{font-size: 14px; color: #C2C4CC; line-height: 24px; position: absolute; top: 0; padding: 12px; pointer-events: none;}
.formpart dd .form_item .labUl li{line-height: 26px; padding: 0 14px; box-sizing: border-box; min-width: 54px; border-radius: 13px; font-size: 13px; color: #666; background-color: #F2F3F5; margin-right: 8px; margin-bottom: 8px; float: left; cursor: pointer;}
.formpart dd .form_item .labUl li:hover{background-color: #EDF4FF;color: #2278FF;}
.formpart dd .form_item .labUl li.on_chose{background-color: #EDF4FF; color: #2278FF;}
.formpart dd .form_item.welfare label{line-height: 26px;}
.formpart dd .form_item .wtip{color: #919399; font-size: 13px; }
.formpart dd .form_item .wtip s{display: inline-block; width: 14px; height: 14px; background: #F2F2F2; border: 1px solid #A1A7B3; border-radius: 50%; vertical-align: middle; box-sizing: border-box; margin-right: 3px;}
/* 联系方式 */
.formpart dd .form_item .smInpBox{width: 278px; position: relative;}
.formpart dd .form_item .smInpBox.phoneCodeIpt input{padding-left: 64px;}
.formpart dd .form_item .smInpBox.phoneCodeBox input{padding-right: 110px;}
.formpart dd .form_item .smInpBox.phoneCodeBox .getPhoneCode{font-size: 14px; color: #2278FF; display: inline-block; text-align: center; width: 104px; position: absolute; top: 0; right: 0; bottom: 0; line-height: 40px;}
.formpart dd .form_item .smInpBox .acodeChose{width: 60px; text-align: center;  line-height: 40px; position: absolute; left: 0; top: 0; bottom: 0; z-index: 9; cursor: pointer;font-size: 14px;}
.formpart dd .form_item .smInpBox .acodeChose s{display: inline-block; width: 10px; height: 10px; background: url(../images/job/arr_down1.png) no-repeat center/cover; vertical-align: middle; margin-left: 2px;}
.areaCode_wrap {display: block; animation: topFadeIn .3s;}
input:-webkit-autofill { box-shadow: 0 0 0 1000px #fff inset; }

/* 职位选择弹窗 */
.jobTypeChose.el-popover{padding: 0; margin-top: 0; height: 540px; border-radius: 12px;}
.jobTypeChose.el-popover .popper__arrow{display: none;}
.jobTypePop .popHeader{height: 60px; border-bottom: solid 1px #eee; padding: 0 20px; position: relative;}
.jobTypePop .popHeader h2{font-size: 18px; color: #212121; font-weight: bold; line-height: 60px;}
.jobTypePop .popHeader h2 span{font-size: 13px; color: #666; font-weight: normal; margin-left: 10px; cursor: pointer;} 
.jobTypePop .popHeader h2 span s{display: inline-block; width:16px ; height: 16px; background: url(../images/job/tip_icon1.png) no-repeat center/cover; vertical-align: middle; margin-bottom: 2px;}
.jobTypePop .popHeader .close_btn{display: block; width: 26px; height: 26px; background: url(../images/job/close_icon.png) no-repeat center/cover; opacity: .7; position: absolute; right: 16px; top: 0; bottom: 0; margin: auto;}
.jobTypePop .popHeader .close_btn:hover{opacity: .4;}
.jobTypePop .popCon{height: 418px; border-bottom: solid 1px #eee;}
.jobTypePop .popCon .parList{width: 210px; box-sizing: border-box; border-right: solid 1px #eee; padding-top: 10px; overflow: auto; height: 100%; float: left;}
.jobTypePop .popCon .parList li{font-size: 13px; color: #666; line-height: 40px; padding: 0 18px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; cursor: pointer;  }
.jobTypePop .popCon .parList li:hover,.jobTypePop .popCon .parList li.currChosecategory{background-color: #F5F8FF; color: #1975FF;}

.jobTypePop .popCon .parList::-webkit-scrollbar-thumb,.jobTypePop .popCon .allLowerList::-webkit-scrollbar-thumb,.agePopover.el-popper ul::-webkit-scrollbar-thumb{ border-radius: 5px; -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.1); background: rgba(0,0,0,.1); }
.jobTypePop .popCon .parList::-webkit-scrollbar,.jobTypePop .popCon .allLowerList::-webkit-scrollbar,.agePopover.el-popper ul::-webkit-scrollbar{width: 8px; height: 0; border-radius: 4px; background: none;}
.jobTypePop .popCon .allLowerList{margin-left: 210px; max-height: 100%; overflow: auto;padding-bottom: 30px;box-sizing: border-box;position: relative;}
.jobTypePop .popCon .allLowerList dt{font-size: 13px; color: #333; font-weight: bold; padding-left: 14px; padding-top: 20px; padding-bottom: 10px;}
.jobTypePop .popCon .allLowerList ul{overflow: hidden;}
.jobTypePop .popCon .allLowerList li{width: 25%; box-sizing: border-box; padding-left: 14px; float: left; line-height: 40px; cursor: pointer;}
.jobTypePop .popCon .allLowerList li.on_chose{color:#1975FF;}

.jobTypePop .popFoot {padding: 12px 20px; box-sizing: border-box; height: 60px;}
.jobTypePop .popFoot .chosedShow{float: left;}
.jobTypePop .popFoot .chosedShow h4{font-size: 13px; color: #666; margin-right: 30px;}
.jobTypePop .popFoot .chosedShow h4 span{color: #333; font-size: 17px;}
.jobTypePop .popFoot .chosedShow h4 em{color: #999; font-size: 12px;}
.jobTypePop .popFoot .chosedShow .ctit{display: inline-block;height: 32px;line-height: 32px;}
.jobTypePop .popFoot .chosedShow .chosedUl{display: inline-block;}
.jobTypePop .popFoot .chosedShow .el-tag{color: #1975FF; font-size: 13px; border-color: #D0E0FF; background-color: #F5F8FF; margin-right: 6px;transition: none;cursor: pointer;} 
.jobTypePop .popFoot .chosedShow .el-tag .el-icon-close::before{display: none;}
.jobTypePop .popFoot .chosedShow .el-tag .el-icon-close{background:url(../images/job/close_tag_icon.png) no-repeat center/cover; pointer-events: none;}
.jobTypePop .popFoot .chosedShow .el-tag:hover .el-icon-close{background-image:url(../images/job/close_tag_hover_icon.png);}

.jobTypePop .popFoot  .btn_sure{float: right; width: 120px; height: 36px; background: #3377FF; border-radius: 4px; color: #fff; text-align: center; line-height: 36px; }
.jobTypePop .popFoot  .btn_sure:hover{background-color: #4089ff;}
.jobTypePop .popFoot  .btn_none{float: right; width: 120px; height: 36px; background: #3377FF; border-radius: 4px; color: #fff; text-align: center; line-height: 36px; opacity: .3;cursor: default;}
.jbp-warn{font-size: 13px;align-items: center;color: #245bdb;display: none;flex: 1;float: right;line-height: 36px;margin-right: 10px;}
.jbp-warn::before{content: '';background: url(../images/job/warncir.png) no-repeat;width: 16px;height: 16px;background-size: cover;margin-top: 1px;margin-right: 5px;}
.el-popper.el-select-dropdown{margin-top: 0;}
.el-popper.el-select-dropdown .popper__arrow,.agePopover.el-popper .popper__arrow{display: none;}
.el-popper.el-select-dropdown .el-select-dropdown__item{line-height: 36px; }
.el-popper.el-select-dropdown .el-select-dropdown__item.hover{background-color: #F0F6FF; color: #2278FF; font-size: 14px; font-weight: normal;}
.ageInput{width: 188px;cursor: pointer !important;margin-right: 4px;}
.ageInput::after{content: '';background: url(../images/job/arr_down.png) no-repeat;background-size: cover;width: 10px;height: 10px;object-fit: cover;position: absolute;right: 14px;top: 50%;transform: translateY(-50%);}
.ageInput input{cursor: pointer;color: #333;}
.agePopover.el-popper{margin-top: 0; padding: 0;}
.agePopover.el-popper dl{padding: 0 10px  10px;  box-sizing: border-box;}
.agePopover.el-popper .li{line-height: 36px; cursor: pointer; padding-left: 12px;}
.agePopover.el-popper .li.on_chose,.agePopover.el-popper .li:hover,.agePopover.el-popper li.on_chose,.agePopover.el-popper li:hover{background-color: #F0F6FF; color: #2278FF; font-size: 14px;}
.agePopover.el-popper ul{height: 168px; width: 74px; background: #FFFFFF; border: 1px solid #EBEEF2; border-radius: 4px; float: left; overflow: overlay; box-sizing: border-box;}
.agePopover.el-popper span {float: left; width: 18px; text-align: center; font-size: 14px; color: #919399; padding-top: 6px;}
.agePopover.el-popper dt{font-size: 14px; color: #666; line-height: 32px;}
.agePopover.el-popper ul{padding: 4px 0 4px 0 ;}
.agePopover.el-popper li{padding-left: 12px; cursor: pointer; line-height: 26px;}

.fabu{width: 280px; height: 48px; background: #2278FF; border-radius: 6px; font-size: 16px; color: #fff; font-weight: bold; border: none; margin-left: 150px;cursor: pointer;}
.fabu:hover{background-color: #4089ff;}
.fabuBox{padding-bottom: 50px;}

.cl-none{height: calc(100% - 50px);background-color: white;display: flex;align-items: center;justify-content: center;color: #909399;font-size: 14px;flex-direction: column; padding: 20px 0; min-height: 300px;}
.cl-none img{width: 220px;object-fit: cover;margin-bottom: 20px;}


.pop_confirmBox{width: 330px; height: 152px; background: #FFF; box-shadow: 0px 2px 7px 0px rgba(0,8,26,0.15); position: absolute; box-sizing: border-box; padding: 14px 20px 20px; z-index: 9999; left: 88px; top: 52px;}
.pop_confirmBox h4{font-size: 12px; color: #333;}
.pop_confirmBox .inp{height: 46px; margin-top: 14px;}
.pop_confirmBox .inp textarea{border: none; font-size: 14px; height: 100%; width: 100%; resize: none; padding: 6px 10px; box-sizing: border-box; outline: none;border: 1px solid #F2F2F2; border-radius: 4px;transition: all .3s;}
.pop_confirmBox .inp textarea:focus{border-color: #055EEB !important;}
.pop_confirmBox .inp textarea:hover{border-color: #C0C4CC;}
.pop_confirmBox .inp textarea::placeholder{color: #C2C4CC;}
.pop_confirmBox .btnGroups {text-align: right; margin-top: 12px;}
.pop_confirmBox .btnGroups a{display: inline-block; width: 90px; height: 32px; border-radius: 4px; font-size: 12px; color: #808080; background-color: #EDEDED; text-align: center; line-height: 32px; margin-left: 12px;}
.pop_confirmBox .btnGroups a:hover{background-color: #F2F2F2;}
.pop_confirmBox .btnGroups a.sure_btn{background-color:#2278FF ; color: #fff;}
.pop_confirmBox .btnGroups a.sure_btn:hover{background-color: #4089ff;}
.mask_pop_confirmBox{position: absolute; left: 0; right: 0; top: 0; bottom: 0; z-index: 9998;}
.pop_confirmBox .sicon{width: 30px; height: 30px; background: url(../images/job/gou2.png) no-repeat center/cover; float: left; margin-right: 10px;}
.pop_confirmBox .successTip p{font-size: 12px; color: #666;}
.pop_confirmBox .successTip{float: left;}
.successTipBox{padding-top: 34px; padding-left: 50px; padding-right: 50px;}
.postArea .el-cascader-menu__wrap{height: 300px;}
.fabuSuccess{position: fixed;width: 100%;height: 100%;background-color: rgba(0,0,0,.15);top: 0px;left: 0px;display: none;}
.fS-con{width: 260px;height: 80px;background: #FFFFFF;box-shadow: 0px 3px 30px 0px rgba(0,4,26,0.06);border-radius: 10px;position: absolute;top: 50%;transform: translate(-50%,-50%);left: 50%;color: #212121;font-size: 16px;font-weight: bold;display: flex;align-items: center;justify-content: center;box-sizing: border-box;}
.fS-con i{width: 30px;height: 30px;object-fit: cover;background: url('../images/job/successTip_icon.png') no-repeat;background-size: cover;display: block;margin-right: 6px;}
.findJob .el-cascader-menu__wrap{height: 300px !important;}