.w-form#travelForm .caret {position: absolute;right: 10px;top: 14px;display: inline-block; width: 0; height: 0;  vertical-align: top; border-top: 4px solid #000; border-right: 4px solid transparent; border-left: 4px solid transparent; content: "";}
.w-form#travelForm .inp{width: 493px;}
.w-form#travelForm #body{float: left;}
/*下拉选择*/
.w-form#travelForm .down-div{position: relative;width: 150px;font-size: 14px;}
.w-form#travelForm .down-div .inp{cursor: pointer;width: 128px}
.w-form#travelForm .down-div .time_choose{position: absolute;top: 34px;left: 0;padding: 10px 0;width: 150px; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;border: 1px solid #E5E5E5;z-index: 99999;background: #fff;display: none;border-top: none}
.w-form#travelForm .down-div .time_choose.active{display: block;}
.w-form#travelForm .pro-choose{max-height: 220px;overflow: auto}
.w-form#travelForm .pro-choose::-webkit-scrollbar{width:4px;height:4px;}
.w-form#travelForm .pro-choose::-webkit-scrollbar-track-piece{background:#EAEAEA;border-radius:2px;}/*//底部*/
.w-form#travelForm .pro-choose::-webkit-scrollbar-thumb{border-radius:2px;background-color:#ABABAB;}/*//滚动*/
.w-form#travelForm .pro-choose::-webkit-scrollbar-thumb:hover{background-color:#666;}
.w-form#travelForm .pro-choose p a{height: 30px;line-height: 30px;padding-left: 12px;font-size: 14px;color: #666;display: block;}
.w-form#travelForm .pro-choose p:hover a,.pro-choose p.curr a{background: #FFF7F2;color: #FB5845}
