
.w-form#educationForm h2.comTit{font-size: 18px;color: #333;font-weight: bold;padding-bottom: 12px;border-bottom: 1px solid #E9E9E9;margin-bottom: 20px;}
.w-form#educationForm h2.comTit.comTit2{margin-top: 50px;}

.w-form#educationForm .caret {position: absolute;right: 10px;top: 14px;display: inline-block; width: 0; height: 0;  vertical-align: top; border-top: 4px solid #000; border-right: 4px solid transparent; border-left: 4px solid transparent; content: "";}
.w-form#educationForm .inp{width: 233px;font-size: 14px;}
.w-form#educationForm #body{float: left;}
.w-form#educationForm dt{width: 128px;}
.w-form#educationForm dd{margin-left: 133px;}



/*所在区域*/
.addrBtn{border-radius: 5px!important;width: 243px!important;font-size: 14px !important;}

/*价格*/
.input-append input#price{width: 164px;}
.input-append .add-aft{    padding: 4px 10px;}

/*授课时间*/
.classTime table{border:solid #D8D8D8; border-width:1px;width:530px;text-align: center;font-size: 15px;float: left;}
.classTime table tr{background-size: #fff}
.classTime table td{border:solid #E6E8ED; border-width:0px 1px 1px 0px;color: #ABABAB;height: 53px;cursor: pointer;}
.classTime table th{border:solid #E6E8ED; border-width:0px 1px 1px 0px;text-align: center;color: #3B3B3B;font-weight: bold;height: 60px;}
.classTime table tr img{width: 28px;height: auto;    margin-top: 12px;}

.w-form#educationForm textarea.input_area {width: 65%; height: 126px; min-height: 126px; border: 1px solid #d9d9d9; padding: 5px 10px; resize: vertical;border-radius: 4px;font-size: 14px;float: left;}
.w-form#educationForm textarea.input_area::placeholder{color: #999;}

/*国际手机号样式*/
.w-form#educationForm dd .areaCode{border-right:1px solid #d8d8d8 ;left: 13px;top: 9px;bottom: 15px;width: 60px;font-size: 14px;}
.w-form .inp#contact{padding-left: 70px;width: 143px;}
.w-form#educationForm dd .areaCode_wrap{left: 10px;width: 195px;}
.w-form#educationForm span.codeTip{font-size: 14px;color: #999;margin-left: 12px;float: left;}

/*验证码*/
.w-form#educationForm .vercode{overflow: hidden;}
.w-form#educationForm .code_div{width:225px;height:36px;background:#fff;line-height: 36px;font-size: 14px;border: 1px solid #E5E5E5; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;display: inline-block;vertical-align: middle;font-size: 0;float: left;}
.w-form#educationForm .code_div input{border: none;width: 110px;padding-right: 0;padding-left: 0;vertical-align: top;padding-left: 10px;}
.w-form#educationForm .code_div .test_btn{cursor: pointer;display: inline-block;}
.w-form#educationForm .code_div .test_btn button{border: none;background: none;font-size: 14px;display: inline-block;height: 36px;line-height: 36px;vertical-align: top;width: 96px;border-left: 1px solid #E5E5E5;text-align: center;color: #FB5845;cursor: pointer;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
