.detailBoxWrap{min-height: calc(100vh - 256px);}
.detailBoxWrap .wrap_title{padding: 24px 26px 14px;}
.detailBoxWrap .wrap_title h3{font-size: 18px; color: #000; font-weight: bold; font-weight: bold;}
.detailBoxWrap .wrap_con{min-height: 300px; margin: 0 20px; border: solid 1px #EBEEF2; background-color: #F3F9FF; border-radius: 10px; box-sizing: border-box; padding: 18px;}
.detailBoxWrap .wrap_con .invitation_state h3{font-size: 24px; color: #1975FF; font-weight: bold;}
.detailBoxWrap .wrap_con .invitation_state h5{font-size: 18px; color: #1975FF; font-weight: bold;}
.detailBoxWrap .wrap_con .invitation_state .btnBox{margin-top: 20px;}
.detailBoxWrap .wrap_con .invitation_state button{width: 110px; height: 38px; background: #FFFFFF; border: 1px solid #EDEDED; border-radius: 8px; font-size: 14px; color: #4D4D4D; line-height: 36px; cursor: pointer;}
.detailBoxWrap .wrap_con .invitation_state button s{display: inline-block; width: 20px; height: 20px; background: url(../images/job/close_icon_1.png) no-repeat center/cover; vertical-align: middle; margin-right: 2px; margin-bottom: 2px;}

.detailBoxWrap .wrap_con .invitationPostInfo{min-height: 200px; border-radius: 10px; background-color: #fff; margin-top: 20px;}
.detailBoxWrap .wrap_con .invitationPostInfo .companyInfo{margin: 0 20px; padding: 20px 0; border-bottom:solid 1px #eee ; display: block; cursor: pointer;}
.detailBoxWrap .wrap_con .invitationPostInfo .companyInfo .clogo{width: 60px; height: 60px; background: #FFFFFF; border: 1px solid #EEEEEE; border-radius: 6px; float: left;}
.detailBoxWrap .wrap_con .invitationPostInfo .companyInfo .clogo img{display: block; width: 100%; height: 100%; object-fit: cover;  border-radius: 6px;}
.detailBoxWrap .wrap_con .invitationPostInfo .companyInfo .cinfo{margin-left: 72px;}
.detailBoxWrap .wrap_con .invitationPostInfo .companyInfo .cinfo h4{font-size: 16px; color: #333;}
.detailBoxWrap .wrap_con .invitationPostInfo .companyInfo .cinfo p{font-size: 12px; color: #999; margin-top: 10px;}
.detailBoxWrap .wrap_con .invitationPostInfo .companyInfo .cinfo em{color: #ccc; font-size: 10px; margin: 0 10px; vertical-align: middle;}
.detailBoxWrap .wrap_con .invitationPostInfo .companyInfo .cinfo span{vertical-align: middle;}
.detailBoxWrap .wrap_con .invitationPostInfo .invitationCon{margin: 0 28px; padding: 20px 0;}
.detailBoxWrap .wrap_con .invitationPostInfo .invitationCon .info{display: inline-block; font-size: 14px; color: #333;}
.detailBoxWrap .wrap_con .invitationPostInfo .invitationCon label{width: 70px; font-size:14px; color:  #999; display: inline-block; text-align: right; line-height: 40px;}
.detailBoxWrap .wrap_con .invitationPostInfo .invitationCon .salary_show{display: inline-block; font-weight: bold; font-family: moneyNumber;color: #1975FF;  }
.detailBoxWrap .wrap_con .invitationPostInfo .invitationCon .salary_show b{font-size: 15px;}
.detailBoxWrap .wrap_con .invitationPostInfo .invitationCon h4{display: inline-block; font-weight: bold; font-size: 15px; color: #212121;}
.detailBoxWrap .wrap_con .invitationPostInfo .invitationCon .mapbox{max-width: 584px; height: 120px; background: #BDD5FF; border: 1px solid #EDEDED; border-radius: 6px; margin: 20px 0;}
.detailBoxWrap .pass_invitation.wrap_con .invitation_state h3{color: #4D5562;}
.detailBoxWrap .pass_invitation.wrap_con .invitation_state p{font-size: 14px; color: #8A8D99;} 
/* .detailBoxWrap .pass_invitation.wrap_con .invitationCon .mapbox{display: none;} */

.refuse_mask{position: fixed; left: 0; right: 0; top: 0; bottom: 0; background: rgba(0,0,0,.5); display: none;}
.refuse_pop{width: 470px; height: 270px; background: #FFFFFF; border-radius: 16px; position: fixed; left: 0; right: 0; bottom: 0; top: 0; margin: auto; animation: popup .3s;  display: none;}
.refuse_pop.showPop,.refuse_mask.showPop{display: block;}
.refuse_pop h4{font-size: 18px; color: #000; font-weight: bold; text-align: center; margin-top: 30px;}
.refuse_pop p{color: #666; font-size: 13px; text-align: center; margin-top: 10px;}
.refuse_pop p span{color: #1975FF;}
.refuse_pop .selectBox{text-align: center; margin-top: 24px;}
.refuse_pop .el-select{width: 330px; height: 46px; margin: auto;}
.refuse_pop .el-select input{height: 46px;}
.refuse_pop .btnGroups{text-align: center; margin-top: 45px;}
.refuse_pop .btnGroups button{ width: 140px; height: 40px; border: none; border-radius: 6px; background: #3377FF; color: #fff; font-size: 14px; margin: 0 4px;}
.refuse_pop .btnGroups button.cancel_btn{color: #666; background-color: #F2F2F2;}
.refuse_pop .close_btn{width: 24px; height: 24px; background: url(../images/job/close_icon.png) no-repeat center/cover; position: absolute; right: 10px; top: 10px;}

.popSuccessTip{width: 200px; height: 80px; display: flex; align-items: center; top: 0; bottom: 0;  border-radius: 15px;  background: rgba(0,0,0,.95); box-shadow: 0 .05rem 15px 0 rgba(0, 0, 0, 0.1); position: fixed; z-index: 9999999; left: 0; right: 0; margin: auto; box-sizing: border-box;padding:16px 0;  justify-content: center; animation: popup .3s}
.popSuccessTip.vertical{width:140px; height: 88px; background: rgba(0,0,0,.8);border-radius: 15px; flex-direction: column; box-sizing: border-box; }
.popSuccessTip .ps_tip_icon{width: 58px; height: 58px; margin-right: 7px;}
.popSuccessTip.vertical .ps_tip_icon{width: 25px; height: 25px; margin: 0 auto 7px; }
.popSuccessTip .ps_tip_icon img{width:58px; height:58px; object-fit: cover;}
.popSuccessTip.vertical .ps_tip_icon img{display: block; width: 100%; height: 100%; object-fit: cover;}
.popSuccessTip .popSuccessText h2{color: #fff; font-size: 16px; font-weight: bold; margin-bottom: 4px;}
.popSuccessTip.vertical h2{font-size: 14px; font-weight: bold;}
.popSuccessTip.vertical p{display: none;}
.popSuccessTip .popSuccessText p{color: #fff; font-size: 14px; opacity: .6;}

.BMapLabel{background:none !important; border: none !important;}
.markerBox .marker_customn{width: 20px; height: 20px; background: #3377FF; border: 3px solid #FFFFFF; box-shadow: 0px 2px 5px 0px rgba(0,9,54,0.08); border-radius: 50%; box-sizing: border-box; margin: auto;}
.markerBox {position: relative;}
.markerBox .address{background: #FFFFFF; box-shadow: 0px 7px 15px 0px rgba(0,9,54,0.07); border-radius: 19px; font-size: 14px; color: #4D4D4D;  width: 200px; position: absolute; left: 50%; bottom: 22px; transform: translateX(-50%); text-align: center; line-height: 38px; padding: 0 15px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

.update_time{font-size: 12px; color: #616266; margin-top: 30px;}

/* 投递步骤 */
.deliverySteps {padding:  0 20px; margin-top: 38px;}
.deliverySteps ul{}
.deliverySteps li{position: relative; padding-left: 18px; border-left: dashed 1px rgba(207, 214, 230, .8); padding-bottom: 30px;}
.deliverySteps li h4{font-size: 15px; color: #141933;}
.deliverySteps li p{font-size: 12px; color: #616266; margin-top: 10px;}
.deliverySteps li p span{color: rgba(97, 98, 102, .6); margin-left: 8px;}
.deliverySteps li s{display: block; width: 10px; height: 10px; background: #FFFFFF; border: 2px solid #256CFA; border-radius: 50%; box-sizing: border-box; position: absolute; left: -5px; top: 0;}
.deliverySteps li:last-of-type{border: none;}
.deliverySteps li .textCon{transform: translateY(-6px);}

.contentWrap {display: flex;}
/* 推荐职位 */
.postResBox ul{margin: 0 20px;}
.postResBox  .post {float: left; width: 50%; padding: 0 6px ; box-sizing: border-box; margin-bottom: 12px; }
.postResBox  .post:nth-child(2n - 1){padding-left: 0;}
.postResBox  .post:nth-child(2n){padding-right: 0;}
.postResBox  .post a{display: block; background-color: #fff; border-radius: 10px; border: 1px solid #EDEDED; padding: 22px 20px;}
.postResBox  .post h3{font-size: 15px; color: #333; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 300px; }
.postResBox  .post .pSalary{color: #1975FF; font-size: 18px; font-weight: bold;}
.postResBox  .post .pSalary b{font-size: 15px;}
.postResBox  .post .pRequire span{font-size: 13px; color: #666; vertical-align: middle;}
.postResBox  .post .pRequire em{vertical-align: middle; font-size: 11px; color: #ccc; margin: 0 10px;}
.postResBox  .post .pdetail{margin-top: 6px;}
.postResBox  .post .pdetail .paddr{font-size: 12px; color: #999;}
.postResBox  .post .p_company{font-size: 14px; color: #666; margin-top: 18px;}
.postResBox  .wrap_title{font-size: 18px; color: #000; font-weight: bold; margin-bottom: 20px;}

.postResBox .pltd_btn{width: 200px; height: 42px; background: #1975FF; border-radius: 6px; margin: auto; font-size: 15px; color: #fff; text-align: center; line-height: 42px; display: block; margin-top: 26px;}
.postResBox {padding-bottom: 42px;}
.postResBox  .post.can_chose a{padding-left: 44px; position: relative;}
.postResBox  .post.can_chose a s.chose_btn{content: ''; display: block; width: 20px; height: 20px; background: url(../images/job/gou_1.png) no-repeat center/cover; position: absolute; top: 0; bottom: 0; left: 14px; margin: auto;}
.postResBox  .post.can_chose.on_chose a s.chose_btn{background-image: url(../images/job/gou_2.png);}
.postResBox  .post.can_chose.has_delivery a s.chose_btn{background-image: url(../images/job/gou_2.png); opacity: .3;}
.postResBox .pltd_btn.has_delivery {opacity: .3;}

/* 投递成功 */
.tdSuccessMask{position: fixed; left: 0; right: 0; top: 0; bottom: 0; z-index: 9; background: rgba(0,0,0,.13);}
.tdSuccessPop{width: 400px; height: 220px; background: linear-gradient(0deg, #FFFFFF 0%, #F2F7FF 100%); border-radius: 16px; position: fixed; left: 0; right: 0; top: 0; bottom: 0; z-index: 9; margin: auto;  padding-top: 26px; box-sizing: border-box; animation: popup .3s;}
.tdSuccessPop h4{color: #333; font-weight: bold; font-size: 16px; text-align: center;}
.tdSuccessPop .imgicon{width: 136px; height: 108px; margin: auto;}
.tdSuccessPop .imgicon img{display: block; width: 100%; height: 100%; object-fit: cover;}

.pageWrap{padding-bottom: 50px;}