.contentWrap{display: flex;}
.finishInfoTipBox{height: 80px; background: #F2F7FF; border: 1px solid #DEEBFF; box-shadow: 1px 5px 16px 0px rgba(0,15,77,0.04); border-radius: 8px; padding: 12px 10px; margin-bottom: 20px; box-sizing: border-box; position: relative; cursor: pointer;display: block;}
.finishInfoTipBox .iconbox{width: 48px; height: 48px; margin-right: 10px; }
.finishInfoTipBox .iconbox img{display: block; width: 100%; height: 100%;}
.finishInfoTipBox h3{font-size: 16px; color: #333; margin-bottom: 4px;}
.finishInfoTipBox h3 span{color: #1975FF;}
.finishInfoTipBox  p{color: #999; font-size: 13px;}
.finishInfoTipBox .goLink{width: 100px; height: 34px; background: #3377FF; border-radius: 17px; display: block; font-size: 14px; color: #fff; text-align: center; line-height: 34px; position: absolute; right: 30px; top: 0; bottom: 0; margin: auto;}


.wrapJob{padding:22px 20px ;}
.wrapJob .wrap_title{font-size: 24px; color: #000; font-weight: bold; margin-bottom: 20px;}
.wrapJob .gridWrap{display: flex;}
.wrapJob .gridWrap .icon{width: 52px; height: 52px; float: left;}
.wrapJob .gridWrap .icon img{display: block; width: 100%; height: 100%; object-fit: cover;}

.wrapJob .gridWrap .grid-content{height: 100px; border-radius: 8px; box-sizing: border-box; padding:24px 20px; width: 278px; float: left; width: 100%; margin-right: 12px; box-sizing: border-box; position: relative; }
.wrapJob .gridWrap .grid-content:last-of-type{margin-right: 0; }
.wrapJob .gridWrap .grid-content .con{padding-left: 65px;}
.wrapJob .gridWrap .grid-content h4{font-size: 16px; color:#333; line-height: 1.3em;}
.wrapJob .gridWrap .grid-content.green{ background: linear-gradient(90deg, #F3FAFA 0%, #F0FCF9 100%);}
.wrapJob .gridWrap .grid-content.blue{ background: linear-gradient(90deg, #F8F9FD 0% ,#F2F7FF 100%);}
.wrapJob .gridWrap .grid-content.purple{ background: linear-gradient(90deg,#FBF8FD 0%, #F9F2FF 100%);}
.wrapJob .gridWrap .grid-content.blue2{ background: linear-gradient(90deg, #F7FCFC 0% ,#F0F8FC 100%);  }
.wrapJob .gridWrap .grid-content .msg_tip{font-size: 22px; font-weight: bold; color: #000; line-height: 1.1em; margin-top: 6px;}
.wrapJob .gridWrap .grid-content .msg_tip.new::after{content: ''; display: inline-block; width: 8px; height: 8px; background: #FF476C; border-radius: 4px; vertical-align: super; transform: translateY(-4px);}
.wrapJob .gridWrap .grid-content .add_post{font-size: 14px; color: #fff; font-weight: bold; width: 104px; height: 40px; border-radius: 20px; background-color: #3377FF; display: flex; align-items: center; justify-content: center; position: absolute; right: 28px; top: 0; bottom: 0; margin: auto; text-align: center;} 
.wrapJob .gridWrap .grid-content .add_post s{display: inline-block; width: 12px; height: 12px; background: url(../images/add_btn.png) no-repeat center/cover;  vertical-align: middle; margin-right: 2px;}


/* 我的简历 */
.wrapResume{padding: 24px; margin-top: 12px;display: block;cursor: default !important;}
.wrapResume .wrap_title,.interestInfo .wrap_title,.myInterviewBox .wrap_title{font-size: 18px; color: #000; font-weight: bold; margin-bottom: 20px;}
.wrapResume .wrap_con{position: relative;}
.wrapResume .wrap_con .resume_photo{width: 64px; height: 64px; border-radius: 50%; float: left; background-color: #d2d2d2; background: url(/static/images/noPhoto_100.jpg) no-repeat center/cover;cursor: pointer;}
.wrapResume .wrap_con .resume_photo img{display: block; width: 100%; height: 100%; border-radius: 50%; object-fit: cover;}
.wrapResume .wrap_con .resume_con h4{font-size: 20px; color: #333;}
.wrapResume .wrap_con .resume_con h4 .resume_detail {display: inline-block; margin-left: 10px;}
.wrapResume .wrap_con .resume_con h4 .resume_detail span{font-size: 13px; color: #666; vertical-align: middle;}
.wrapResume .wrap_con .resume_con h4 .resume_detail em{vertical-align: middle; font-size: 11px; color: #ccc; margin: 0 10px;}
.wrapResume .wrap_con .resume_con{margin-left: 12px;display: inline-block;cursor: pointer; width: 90%;}
.wrapResume .wrap_con .resume_con p{color: #999; font-size: 14px; margin-top: 8px;}
.wrapResume .wrap_con .btn_groups{ position: absolute; right: 24px;top: -6px; display: flex; align-items: center;}
.wrapResume .wrap_con .create_resume{padding-left: 14px; padding-right: 16px; height: 36px; border: solid 1px #DFE0E6; border-radius: 6px; display: block; line-height: 36px; font-size: 15px; color: #292B33; margin-left: 10px;}
.wrapResume .wrap_con .create_resume s{display: inline-block; width: 20px; height: 20px; background: url(../images/job/edit_icon_black.png) no-repeat center/cover; margin-right: 4px; vertical-align: middle; margin-bottom: 2px;}
.wrapResume .wrap_con .create_resume.resumeLevelUp s{background-image: url(../images/job/level_up.png);}
.wrapResume .wrap_con .resume_detail_lab {margin-top: 6px;}
.wrapResume .wrap_con .resume_detail_lab span{line-height: 26px; border-radius: 4px; padding: 0 10px; font-size: 12px; color: #797B80; background-color: #F5F5F5; display: inline-block; margin-right: 6px;}
.wrapResume .wrap_con .resume_detail_lab span.nature{background-color: #F2F7FF; color: #6B83B3;}
.wrapResume .wrap_con .intention{font-size: 16px; color: #212121; margin-top: 20px; line-height: 25px;}
.wrapResume .wrap_con .intention .salary_show{font-size: 18px; font-family: moneyNumber; margin-right: 6px; vertical-align: bottom; }


/* 我的面试日程 */
.myInterviewBox{margin-top: 12px; padding: 22px; display: flex; align-items: flex-start; justify-content: space-between;}
.myInterviewBox .wrapInterview {width: 100%;}
.myInterviewBox .wrapInterview .noData{height: 344px; background: #FAFBFC; border: 1px solid #EDEDED; border-radius: 10px; box-sizing: border-box; padding-top: 100px;}
.myInterviewBox .wrapInterview .noData img{width: 120px; height: 90px; display: block; margin: auto;}
.myInterviewBox .wrapInterview .noData p{font-size: 14px; color: #999; text-align: center; margin-top: 14px;}
.myInterviewBox .wrapInterview .post {margin-bottom: 12px;}
.myInterviewBox .wrapInterview .post h3{font-size: 15px; color: #333; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 300px; }
.myInterviewBox .wrapInterview .post .pSalary{color: #1975FF; font-size: 18px; font-weight: bold;}
.myInterviewBox .wrapInterview .post .pSalary b{font-size: 15px;}
.myInterviewBox .wrapInterview .post .pRequire span{font-size: 13px; color: #666; vertical-align: middle;}
.myInterviewBox .wrapInterview .post .pRequire em{vertical-align: middle; font-size: 11px; color: #ccc; margin: 0 10px;}
/* .myInterviewBox .wrapInterview .post .pdetail{margin-top: 4px;} */
.myInterviewBox .wrapInterview .post .pdetail .paddr{font-size: 12px; color: #999;}
.myInterviewBox .wrapInterview .post .p_company{font-size: 14px; color: #666; margin-top:6px;}
.myInterviewBox .wrapInterview .post a{display: block; background: linear-gradient(0deg,rgba(247, 248, 250, 0) 0%, #F7F8FA 100%); border-radius: 10px; border: 1px solid #EDEDED; padding: 12px 26px; box-sizing: border-box; height: 140px; }
.all_count{font-size: 14px; color: #737580; background-color: #F2F7FF; line-height: 40px; border-radius: 8px; text-align: center;}
.myInterviewBox .wrapInterview .interview_state{font-size: 17px; color: #1975FF; font-weight: bold; margin-top: 12px;}
/* 单个面试 */
.single_interview{height: 344px; border: solid 1px #EDEDED; border-radius: 10px; box-sizing: border-box; box-sizing: border-box; padding: 20px 24px;}
.single_interview .interview_info{position: relative; display: block;}
.single_interview .interview_info h4{font-size: 17px; color: #212121; font-weight: bold;}
.single_interview .interview_info p{color: #999; font-size: 12px; margin-top: 6px;}
.single_interview .interview_info p em{color: #ccc; margin: 0 10px;}
.single_interview .interview_info .salary_show{font-size: 18px; color: #1975FF; font-family: moneyNumber; position: absolute; top: 0; right: 0; font-weight: bold;}
.single_interview .interview_info .salary_show b{font-size: 16px;}
.single_interview .mapBox{height: 186px; background: linear-gradient(0deg, #FFFFFF 0%, #F5F9FF 100%); margin-top: 20px; border-radius: 8px;}
.single_interview .mapBox .company_info{padding: 10px 16px; box-sizing: border-box; height: 66px;}
.single_interview .mapBox .company_info h6{font-size: 14px; color: #333;}
.single_interview .mapBox .company_info p{color: #999; font-size: 12px; margin-top: 6px;}
.single_interview .mapBox .map{height: 120px; background-color: #f5f5f5; border-radius: 0px 0px 8px 8px;}
.myInterviewBox .wrapInterview .single_interview  .interview_state{margin-top: 20px;}

.myInterviewBox .wrapDelivery {width:300px; flex-shrink: 0; margin-left: 20px;}
.myInterviewBox .wrapDelivery li{margin-bottom: 10px;}
.myInterviewBox .wrapDelivery li>a{padding: 16px; border: solid 1px #EDEDED; background: linear-gradient(0deg, #f7f7f700 100%, #F7F7F7 100%); height: 108px; border-radius: 8px; display: block; box-sizing: border-box; position: relative;}
.myInterviewBox .wrapDelivery li>a h5 .dstate_text{font-size: 14px; color: #5977B3; font-weight: bold;}
.myInterviewBox .wrapDelivery li>a h5 .dstate_text s{display: inline-block; width: 18px; height: 18px; background: url(../images/job/dicon3.png) no-repeat center/cover; vertical-align: middle; margin-right: 4px; margin-bottom: 2px;}
.myInterviewBox .wrapDelivery li.state0>a h5 .dstate_text s{background-image: url(../images/job/dicon0.png);}
.myInterviewBox .wrapDelivery li.state1>a h5 .dstate_text s{background-image: url(../images/job/dicon1.png);}
.myInterviewBox .wrapDelivery li.state2>a h5 .dstate_text s{background-image: url(../images/job/dicon2.png);}
.myInterviewBox .wrapDelivery li.state4>a h5 .dstate_text s{background-image: url(../images/job/dicon4.png);}
.myInterviewBox .wrapDelivery li.state5>a h5 .dstate_text s{background-image: url(../images/job/dicon5.png);}
.myInterviewBox .wrapDelivery li.state6>a h5 .dstate_text s{background-image: url(../images/job/dicon6.png);}
.myInterviewBox .wrapDelivery li.state2>a h5 .dstate_text{ color: #FF6C03;}
.myInterviewBox .wrapDelivery li.state3>a h5 .dstate_text{ color: #1975FF;}
.myInterviewBox .wrapDelivery li.state4>a h5 .dstate_text{ color: #999;}
.myInterviewBox .wrapDelivery li>a h5 .update_time{font-size: 12px; color: #999; margin-left: 10px;}
.myInterviewBox .wrapDelivery li>a h4{font-size: 14px; color: #333; margin-top: 10px;}
.myInterviewBox .wrapDelivery li>a p{font-size: 12px; color: #797A80; margin-top: 4px;}
.myInterviewBox .wrapDelivery li>a .salary_show{color: #1975FF; font-size: 16px; font-family: moneyNumber; position: absolute; top: 48px; right: 10px; font-weight: bold;}

/* 感兴趣 */
.interestInfo{padding: 0px 22px 30px; margin-top: 20px;}
.interestInfo .zphBox{padding-top: 30px; padding-bottom: 12px;}
.interestInfo .zphBox .zph{margin-bottom: 10px;}
.interestInfo .zphBox .zph.live_zph>a .zph_con h3 b{color: #1975FF;}
.interestInfo .zphBox .zph>a{display: block; padding: 12px; box-sizing: border-box; height: 120px; background: url(../images/job/bg.png) no-repeat center/cover; padding-right: 100px; position: relative;  border-radius: 8px;}
.interestInfo .zphBox .zph>a .zph_img{width: 150px; height: 98px; border-radius: 4px; background-color: #fff; float: left; margin-right: 20px;}
.interestInfo .zphBox .zph>a .zph_img img{display: block; width: 100%; height: 100%; object-fit: cover;}
.interestInfo .zphBox .zph>a .zph_con{padding-left: 150px;}
.interestInfo .zphBox .zph>a .zph_con h3{font-size: 16px; color: #333; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.interestInfo .zphBox .zph>a .zph_con h3 b{color: #01CF62; font-weight: bold;}
.interestInfo .zphBox .zph>a .zph_con p{color: #999; font-size: 12px; padding-left: 26px; margin-top: 4px;}
.interestInfo .zphBox .zph>a .zph_con .zph_start{color: #292C33; font-size: 18px; font-family: DINMittelschriftStd; padding-left: 26px;  margin-top: 20px} 
.interestInfo .zphBox .zph>a .btn_to{display: block; width: 52px; height: 52px; background: url(../images/job/arr_green.png) no-repeat center/cover; position: absolute; top: 0; bottom: 0; right: 38px; margin: auto; border: none; cursor: pointer;}
@font-face {
	font-family: DINMittelschriftStd;
	src: url('/static/fonts/DINMittelschriftStd.eot'),
		url('/static/fonts/DINMittelschriftStd.ttf'),
		url('/static/fonts/DINMittelschriftStd.otf'),
		 url('/static/fonts/DINMittelschriftStd.woff'); /* IE9 */
}


/* 推荐职位 */    
.interestInfo  .post {float: left; width: 50%; padding: 0 6px ; box-sizing: border-box; margin-bottom: 12px; }
.interestInfo  .post:hover{transition: all .2s;box-shadow: 1px 8px 40px 0px rgb(0 15 77 / 6%);}
.interestInfo  .post:nth-child(2n - 1){padding-left: 0;}
.interestInfo  .post:nth-child(2n){padding-right: 0;}
.interestInfo  .post a{display: block; background-color: #fff; border-radius: 10px; border: 1px solid #EDEDED; padding: 18px 20px;}
.interestInfo  .post h3{font-size: 16px; color: #333; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 300px; }
.interestInfo  .post .pSalary{color: #1975FF; font-size: 18px; font-weight: bold;}
.interestInfo  .post .pSalary em{font-weight: bold;}
.interestInfo  .post .pSalary b{font-size: 15px;vertical-align: 2px;}
.interestInfo  .post .pRequire span{font-size: 13px; color: #919499; vertical-align: middle;}
.interestInfo  .post .pRequire em{vertical-align: middle; font-size: 11px; color: #ccc; margin: 0 10px;}
.interestInfo  .post .pdetail{margin-top: 4px;}
.interestInfo  .post .pdetail .paddr{font-size: 12px; color: #999;}
.interestInfo  .post .p_company{font-size: 14px; color: #666; margin-top: 14px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}


/* 简历升级的弹窗 */
.resumeUpDateBox .resume_mask{position: fixed; left: 0; right: 0; top: 0; bottom: 0; background-color: rgba(0,0,0,.5);}
.resumeUpDatePop{width: 950px; height: 700px; position: fixed; margin: auto; left: 0; top: 0; bottom: 0; right: 0; background-color: #fff; border-radius: 20px; animation: popup .3s; z-index:1001;}
.resumeUpDatePop .resumeHeader{height: 170px; background: linear-gradient(90deg, #292D33 0%, #4F6780 100%); border-radius: 20px 20px 0px 0px; padding: 0 30px; }
.resumeUpDatePop .resumeHeader h5{font-size: 20px; color: #fff; font-weight: bold; line-height: 80px;}
.resumeUpDatePop .resumeHeader h5 span{color: #A1A6B3; font-weight: normal; font-size: 14px; margin-left: 6px;}
.resumeUpDatePop .resumeHeader a.close_btn{display: block; width: 20px; height: 20px; background: url(../images/job/close_white.png) no-repeat center/cover; position: absolute;  top: 17px; right: 17px;}
.resumeTab{margin-top: -90px; background: url(../images/job/tab1_bg.png) no-repeat center bottom/cover; height: 60px;}
.resumeTab.resumeBg1{background-image: url(../images/job/tab1_bg1.png);}
.resumeTab.resumeBg2{background-image: url(../images/job/tab1_bg2.png);}
.resumeTab li.onTab {padding-left: 20px;}
.resumeTab li{float: left; width: 50%; box-sizing: border-box; padding-left: 30px; padding-top: 6px; cursor: pointer; position: relative;}
.resumeTab li.onTab s{display: inline-block; width: 32px; height: 32px; background: url(../images/job/resume_icon1.png) no-repeat center/cover; vertical-align: middle;}
.resumeTab li.onTab .icon.up{background: url(../images/job/resume_icon2.png) no-repeat center/cover;}
.resumeTab li.onTab .textCon{display: inline-block; vertical-align: middle;}
.resumeTab li.onTab p,.resumeTab li.onTab .p {color: #fff;}
.resumeTab li h4{font-size: 20px; color: #fff;}
.resumeTab li h4 span.lab{display: inline-block; background: linear-gradient(90deg, #FF6669 0%, #FF5988 100%); border-radius: 10px 10px 10px 2px; font-size: 12px; color: #fff; line-height: 20px; min-width: 26px; box-sizing: border-box; padding: 0 4px; vertical-align: middle; mask-border-width: 4px; margin-left: 2px; text-align: center;} 
.resumeTab li p,.resumeTab li .p{font-size: 12px; color: #959AA6;}
.resumeTab li .p .tip{display: inline-block; width: 16px; height: 16px; background: url(../images/job/tip_icon.png) no-repeat center/cover; vertical-align: middle; margin-left: 4px;}
.resumeTab li .p .tip::after{content: ''; display: block; width: 50px; height: 50px;  position: absolute; top: 0;}
.resumeTab li .p .tip:hover .tipConBox{display: block;}
.resumeTab li .tipConBox{width: 498px; height: 156px; background: #FFFFFF; border: 1px solid #EDEDED; box-shadow: 0px 8px 40px 0px rgba(0,15,77,0.2); border-radius: 8px; position: absolute ; padding: 20px 22px 0; z-index: 9; top: 60px; left: 30px; display: none; animation: topFadeIn .3s; box-sizing: border-box;}
.resumeTab li .tipConBox h4{font-size: 12px; color: #666; line-height: 24px;}
.resumeTab li .tipConBox h4 b{color: #1975FF;}
.resumeTab li .tipConBox p{color: #999; line-height: 24px; margin-top: 20px;}

.resumeCon{height: 560px; background-color: #fff; border-radius: 0 0 20px 20px; position: relative; z-index: 1;}
.resumeCon::before{content: ''; height: 166px; background: linear-gradient(0deg, #3385FF00 0% ,#3385FF 100%); position: absolute; left: 0; top: 0; right: 0;}
.resumeCon .resumeTabCon{position: relative; z-index: 1;}
.resumeCon .rConBox{padding-top: 18px;}
.resumeCon .rConBox .imgShow{margin: 0 40px;}
.resumeCon .rConBox .imgShow img{display: block; width: 100%;}

.resumeCon .rRefreshCon .refreshTcBox{margin: 28px 15px 0 35px; }
.resumeCon .rRefreshCon .refreshTcBox>h6{font-size: 15px; color: #7C808A;} 
.resumeCon .rRefreshCon .refreshTcBox .refreshTC{padding-left: 75px; padding-right: 30px; position: relative; margin-top: -24px; min-height: 128px;}
.resumeCon .rRefreshCon .refreshTcBox .refreshTC .tcBox{ width: 200px; height: 118px; background: #FFFFFF; border: 1px solid #EEEEEE; border-radius: 8px; position: relative; margin-right: 10px; margin-bottom: 10px; cursor: pointer; float: left; box-sizing: border-box; padding-top: 2px; }
.resumeCon .rRefreshCon .refreshTcBox .refreshTC .next,.resumeCon .rRefreshCon .refreshTcBox .refreshTC .prev{width: 30px; height: 48px; background: url(../images/job/prev.png) no-repeat center/cover; position: absolute; left: 40px; top: 0; bottom: 0; margin: auto; cursor: pointer;}
.resumeCon .rRefreshCon .refreshTcBox .refreshTC .next{background-image: url(../images/job/next.png); right: 0; left: auto; z-index: 99; padding: 0;  }
.resumeCon .rRefreshCon .refreshTcBox .refreshTC .tcBox .borderBox{width: 196px; height: 92px; background: #FFFFFF; border-radius: 6px; box-sizing: border-box; padding-left: 15px; padding-top: 16px; margin: auto;}
.resumeCon .rRefreshCon .refreshTcBox .refreshTC .tcBox.noBottom .borderBox{height: 112px;}
.resumeCon .rRefreshCon .refreshTcBox .refreshTC .tcBox p{font-size: 15px; color: #666; }
.resumeCon .rRefreshCon .refreshTcBox .refreshTC .tcBox p span{color: #333;}
.resumeCon .rRefreshCon .refreshTcBox .refreshTC .tcBox h3{margin-top: 6px;}
.resumeCon .rRefreshCon .refreshTcBox .refreshTC .tcBox h3 span{color: #FF5039; font-size: 15px; font-weight: bold;}
.resumeCon .rRefreshCon .refreshTcBox .refreshTC .tcBox h3  span b{font-size: 24px;}
.resumeCon .rRefreshCon .refreshTcBox .refreshTC .tcBox h3  s{font-size: 13px; color: #A9A9A9;}
.resumeCon .rRefreshCon .refreshTcBox .refreshTC .tcBox  .tip{position: absolute; left: 0; bottom: -1px; right: 0; background-color: #E0EDFF; color: #7693CF; font-size: 12px; line-height: 24px; height: 24px; text-align: center; border-radius: 0 0 8px 8px;}
.resumeCon .rRefreshCon .refreshTcBox .refreshTC .tcBox.on_chose,.resumeCon .rRefreshCon .refreshTcBox .refreshTC .tcBox:hover{ background: linear-gradient(120deg, #83C6FF 0%, #5392FF 100%); border-color: #83C6FF; }
.resumeCon .rRefreshCon .refreshTcBox .refreshTC .tcBox.on_chose .tip,.resumeCon .rRefreshCon .refreshTcBox .refreshTC .tcBox:hover  .tip{background: none; color: #fff;}
.resumeCon .rRefreshCon .refreshTcBox .refreshTC .tcBox .rec{display: inline-block; line-height: 20px; color: #7C4D20; background: linear-gradient(90deg, #F2BD61 0%, #FFE8C1 45%, #EBB352 100%);
	border-radius: 0px 6px 0px 6px; min-width: 38px; text-align: center; box-sizing: border-box; padding: 0 4px; position: absolute; right: -1px; top: -1px;}
.parInfoBoxShow{margin:0 35px;}
.parInfoBoxShow .pay_count {margin-top: 40px; }
.parInfoBoxShow .pay_count span{ color: #666; font-size: 14px; font-weight: normal; margin-right: 10px;}
.parInfoBoxShow .pay_count{ color: #FF5039; font-size: 14px; font-weight: bold;}
.parInfoBoxShow .pay_count b{font-size: 22px;}
.parInfoBoxShow .QRBox{width: 220px; height: 220px; background: #FFFFFF; border: 1px solid #EDEDED; border-radius: 6px; padding: 10px; box-sizing: border-box; margin-right: 15px; margin-top: -40px; position: relative; }
.parInfoBoxShow .QRBox .loading{ background-color: rgb(0,0,0,.8); border-radius: 6px; position: absolute; top: 0; bottom: 0; left: 0; right: 0;}
.parInfoBoxShow .QRBox .loading s{display: block; width: 20px; height: 20px; background: url(/static/images/loading.png) no-repeat center/cover; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; animation: rotate_ infinite linear .8s;}

.parInfoBoxShow .QRConBox{padding-left: 260px;}
.parInfoBoxShow .QRBox img{display: block; width: 100%; height: 100%; object-fit: cover;}
.parInfoBoxShow .wxCode {padding-top: 18px;}
.parInfoBoxShow .wxCode p{font-size: 14px; color: #7C808A; line-height: 1.2em; margin-top: 12px;}
.parInfoBoxShow .wxCode a{color: #3377FF; font-size: 14px; line-height: 1.2em; margin-top: 28px; display: block;} 
.parInfoBoxShow .wxCode .iconBox img{width: 48px; height: 48px; margin-right: 4px;}


/* 投递置顶 */
.resumeCon .rRefreshCon.dTopCon .refreshTcBox .refreshTC .tcBox .borderBox{width: 186px;}
.resumeCon .rRefreshCon.dTopCon .refreshTcBox .refreshTC .tcBox {width: 190px;}
.resumeCon .rRefreshCon.dTopCon .refreshTcBox .refreshTC{padding-right: 0; height: 300px; overflow: auto;}
/* .btnsGroup.parInfoBoxShow{overflow: auto; height: 304px;} */
.btnsGroup.parInfoBoxShow::-webkit-scrollbar{width: 8px; height: 0; border-radius: 4px; background: none;}
.btnsGroup.parInfoBoxShow::-webkit-scrollbar-thumb{ border-radius: 5px; -webkit-box-shadow: inset 0 0 5px #bec0c4; background: #bec0c4; }
.btnsGroup.parInfoBoxShow .pay_count{ float: left;}
.btnsGroup.parInfoBoxShow .btn_toPay{width: 240px; height: 50px; background: #3377FF; border-radius: 25px; text-align: center; font-size: 18px; line-height: 48px; float: right; color: #fff; margin-top: 40px;}
@keyframes rotate_{
	0%{ transform: rotate(0deg);}
	50%{ transform: rotate(180deg);}
	100%{ transform: rotate(360deg);}
}

.BMapLabel{background:none !important; border: none !important;}
.markerBox .marker_customn{width: 20px; height: 20px; background: #3377FF; border: 3px solid #FFFFFF; box-shadow: 0px 2px 5px 0px rgba(0,9,54,0.08); border-radius: 50%; box-sizing: border-box; margin: auto;}
.markerBox {position: relative;}
.markerBox .address{background: #FFFFFF; box-shadow: 0px 7px 15px 0px rgba(0,9,54,0.07); border-radius: 19px; font-size: 14px; color: #4D4D4D;  width: 200px; position: absolute; left: 50%; bottom: 22px; transform: translateX(-50%); text-align: center; line-height: 38px; padding: 0 15px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}


/*支付成功之后的弹窗 */
.paySuccessMask{position: fixed; left: 0; right: 0; top: 0; bottom: 0; background: rgba(0,0,0,.5); z-index: 10;}
.paySuccessPop{width: 410px; height: 150px; background: #FFFFFF; box-shadow: 0px 3px 30px 0px rgba(0,4,26,0.06); border-radius: 16px; display: flex; align-items: center; justify-content: center; flex-direction: column; position: fixed; left: 0 ; top: 0; bottom: 0; right: 0; margin: auto; z-index: 11; animation: popup .3s;}
.paySuccessPop.smPop{width: 260px; height: 80px;}
.paySuccessPop .close_btn{display: block; width: 48px; height: 48px; background: url(../images/job/close_icon.png) no-repeat center/24px; position: absolute; top: -6px; right: -2px;}
.paySuccessPop h3{font-size: 16px; color: #212121; font-weight: bold; text-align: center;}
.paySuccessPop s{display: inline-block; width: 30px; height: 30px; background: url(../images/job/successTip_icon.png) no-repeat center/cover; vertical-align: middle; margin-right: 4px;}
.paySuccessPop p{font-size: 14px; color: #666; margin-top: 20px; text-align: center;}

.resumeUpState{margin-top: 16px;}
.resumeUpState .resumeState{max-width: 430px; width: 48%; height: 30px; background: linear-gradient(90deg, #F0F9FF 0%, #F5F8FF 100%); border-radius: 6px;  float: left; line-height: 30px; font-size: 14px; color: #969DB3; box-sizing: border-box; padding-left: 10px; position: relative; cursor: pointer;}
.resumeUpState .resumeState::after{content: ''; display: block; width: 12px; height: 12px; background: url(../images/job/arr_grey1.png) no-repeat center/cover; position: absolute; right: 10px; top: 0; bottom: 0; margin: auto;}
.resumeUpState .resumeState em{color: #6C7180;}
.resumeUpState .resumeState span.title{color: #1975FF;}
.resumeUpState .toTop_state.resumeState{ background: linear-gradient(90deg, #FFEDED 0%, #FFF7FA 100%); margin-left: 10px;}
.resumeUpState .toTop_state.resumeState span.title{color: #FF4F38;} 
.auditting{height: 60px;background: #F2F7FF;border: 1px solid #D4E4FF;box-shadow: 1px 5px 16px 0px rgba(0,15,77,0.04);border-radius: 8px;display: flex;align-items: center;color: #4C5059;font-size: 15px;box-sizing: border-box;padding-left: 20px;margin-bottom: 15px;}
.auditting img,.aduitRefused img{width: 20px;height: 20px;object-fit: cover;margin-right: 8px;}
.aduitRefused{height: 60px;background: #FCF2F2;border: 1px solid #FCD7D7;box-shadow: 1px 5px 16px 0px rgba(0,15,77,0.04);border-radius: 8px;display: flex;align-items: center;color: #4C5059;font-size: 15px;box-sizing: border-box;padding-left: 20px;margin-bottom: 15px;}
/* 投递成功弹窗 */
.sendpop{width: 100%;height: 100%;position: fixed;top: 0;left: 0;background-color: rgba(0,0,0,.13);z-index: 9;display: none;}
.s-certificate{position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;animation: topFadeIn .3s;}
/* 确认投递（相同职位类型） */
.s-certificate{width: 410px;background-color: white;border-radius: 16px;padding: 40px 0px 34px;}
.ss-close{width: 24px;height: 24px;object-fit: cover;position: absolute;top: 11px;right: 11px;cursor: pointer;}
.ss-close:hover{opacity: .6;}
.ss-title{display: flex;align-items: center;justify-content: center;margin-bottom: 18px;}
.ss-title img{width: 26px;height: 26px;object-fit: cover;margin-right: 7px;}
.ss-title p{color: #000000;font-size: 18px;font-weight: bold;}
.ss-title p span{color: #1975FF;}
.ss-text{color: #666666;font-size: 13px;text-align: center;line-height: 26px;margin-bottom: 40px;}
.ss-text p span{color: #3377FF;display: inline-block;max-width: 156px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;vertical-align: bottom;}
.ss-btn{display: flex;padding: 0px 60px;justify-content: space-between;}
.ss-btn div,.ss-btn a{width: 140px;height: 40px;text-align: center;line-height: 40px;border-radius: 6px;font-size: 14px;cursor: pointer;}
.ss-btn .cancel{background-color: #F2F2F2;color: #666666;}
.ss-btn .cancel:hover{background-color: #ebebeb;}
.ss-btn .certificate{background-color: #3377FF;color: white;display: block;}
.ss-btn .certificate:hover{background-color: #4089ff;}
.s-same.no .ss-title img{display: none;}
.confirmDel .el-button--text{width: 58px;height: 28px;background: #FFFFFF;border: 1px solid #E6E6E6;border-radius: 4px;box-sizing: border-box;color: #777777;font-size: 12px;}
.confirmDel .el-button--text:hover{color: #777777;border: 1px solid #E6E6E6;}
.confirmDel .el-button--danger{width: 58px;height: 28px;background: #FD687A;border-radius: 4px;}