.extendMask{display: block; position: fixed; left: 0; right: 0; bottom: 0; top: 0; background: rgba(0,0,0,.4); z-index: 1001; display: none;}
.extendPop{position: fixed; width: 680px;  left: 0; right: 0; top:20%;  margin: auto; background: #fff; border: 1px solid #E0E0E0; box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.05); border-radius: 8px; z-index: 1001; padding-bottom: 22px;  animation:popup .3s; display: none;}
.extendPop .popTit{text-align: center;font-size: 16px; font-weight: 400; color: #333; line-height: 40px; padding-top: 10px;}
.extendPop .popTit .close_pop{width: 20px; height: 20px; background: url(../images/info/close_pop.png) no-repeat center/cover; position: absolute; right: 14px; top: 14px;}
.extendPop .jiliForm{margin-top: 20px;}
.extendPop dl{margin-bottom: 20px;}
.extendPop .jiliForm dt{ height: 70px; background: #FFFCFA; border: 1px solid #FCD2BD; border-radius: 6px; margin:auto;padding: 0 24px 0 10px; box-sizing: border-box; margin:0 20px;}
.extendPop .jiliForm dd{margin: 0 20px; padding:0 8px; box-sizing: border-box;}
.extendPop .jiliForm .dt_left{float: left; padding-top: 11px;}
.extendPop .jiliForm .dt_left s{display: inline-block; width: 48px; height: 48px; background: url(../images/info/hb_icon.png) no-repeat center/cover; vertical-align: middle;}
.extendPop .jiliForm .sharejlBox .dt_left s{background-image: url(../images/info/share_icon.png)}
.extendPop .jiliForm .dt_left h5{font-size: 18px ; color: #333; font-weight: bold; display: inline-block; vertical-align: middle;}
.extendPop .jiliForm .dt_left p{font-size: 12px; color: #808080; display: inline-block; vertical-align: middle;}
.extendPop .jiliForm .dt_gou{float: right; width: 20px; height: 20px; background: url(../images/info/nogou.png) no-repeat center/cover; margin-top: 25px;}
.extendPop .jiliForm .dt_gou.hasgou{background-image: url(../images/info/gou.png);}
.extendPop .jiliForm .hb_detail{float: right; font-size: 14px; color: #808080; line-height: 70px;}
.extendPop .jiliForm .hb_detail b{color: #333}
.extendPop li.inpItem{margin-top: 20px;}
.extendPop label{float: left; font-size: 14px; color: #808080;}
.extendPop label{margin-right: 28px;}
.extendPop input{border: none; background: none; font-size: 14px;}
.extendPop .prefixInp span,.extendPop .prefixInp input {font-size: 16px; font-weight: bold;}
.extendPop input::placeholder,.extendPop .prefixInp span.prefix{color: #B3B3B3}
.bottom_btns {margin-top: 10px;}
.bottom_btns .btn-check{display: block; width: 200px; height: 48px; border-radius: 6px; background: #FF6600; font-size: 16px; font-weight: 400; color: #FFF; text-align: center; line-height: 48px; margin: auto;}
.bottom_btns p{color: #999; text-align: center; margin-bottom: 6px;}
.bottom_btns p span{color: #F76300;}

.jiliShow{margin-top: 10px;}
.jiliShow dl{margin: 0 20px 20px; }
.jiliShow dl.shareShow{margin-bottom: 28px;}
.jiliShow dt{padding: 10px 0}
.jiliShow dt h5{font-size: 18px; font-weight: bold; color: #333; line-height: 34px; float: left;}
.jiliShow dt span{float: right; font-size: 14px; color: #F76300; line-height: 36px;}
.jiliShow dd{background: #FFFCFA; border: 1px solid #FCD2BD; border-radius: 6px; min-height: 86px;}
.jiliShow .item_show li{float: left; width: 25%; text-align: center; height: 86px; position: relative; padding-top: 22px; box-sizing: border-box;}
.jiliShow .item_show li:last-child::before{content: ''; display: block; width: 1px; height: 28px; position: absolute; left: 0; top: 0; bottom: 0; margin: auto; background: #FCECE3;}
.jiliShow .item_show li p{font-size: 14px; color: #808080;}
.jiliShow .item_show li h6{font-size: 16px; color: #333; font-weight: bold;}
.jiliShow .hbMsg{padding-left: 24px; line-height: 52px; border-top: solid 1px #FCECE3; font-size: 14px; color: #333; position: relative;}
.jiliShow .hbMsg p{display: inline-block; }
.jiliShow .hbMsg a.sethb{color: #F76300; margin-left: 8px;}
.jiliShow .hbMsg .save_msg.show{display: block;}
.jiliShow .hbMsg .save_msg{display: none; min-width: 78px; line-height: 32px; height: 32px; background: #F60; color: #fff; text-align: center; border-radius: 6px; font-size: 14px; position: absolute; right: 10px; bottom: 10px;}
.extendPop .inp {position: relative; }
.extendPop .inp input:focus ~ .selectBox{display: block;}
.selectBox{width: 210px;background: #fff;border: 1px solid #E0E0E0; box-shadow: 0px 2px 4px 0px rgba(0, 6, 33, 0.08); border-radius: 4px; position: absolute; z-index: 9; left: 80px; display: none;}
.selectBox li{height: 34px; line-height: 34px; font-size: 14px; color: #666; padding-left: 14px; box-sizing: border-box; cursor: pointer;}
.selectBox li.on_chose {color: #F76300;}
.selectBox li.on_chose s{display: block; width: 12px; height: 12px; background: url(../images/info/gou.png) no-repeat center/cover; position: absolute; right: 10px; top: 0;bottom: 0; margin: auto;}
.selectBox li:hover{background: #F5F5F5;}

.tips_set{color: #999; font-size: 12px; text-align: center; line-height: 60px;background: #fff; position: absolute; left: 0 ;right: 0; bottom: -100px; border: 1px solid #E0E0E0; box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.05); border-radius: 8px;}
.tips_set span{color: #F76300;}

.item .o a.jili s{background-image: url(../images/info/jili.png);}
.item .sd .jiliDetail{cursor: pointer; display: inline-block; margin-left: 6px; color: #f60;  font-size: 12px;}
.item .sd p{display: inline-block; font-size: 12px;}
.item .sd .jiliDetail s {display: inline-block; width: 20px; height: 20px; background: url('../images/topPlanIcon.png'); vertical-align: middle; margin: -3px 0 0 5px;}
html.noscroll,html.noscroll body {overflow: hidden;}
html.noscroll body {position: relative;}
