
.toprefundTab ul{overflow: hidden;}
.toprefundTab li{float: left;width: 33.3%;background: #ccc;height: 44px;line-height: 44px;text-align: center;font-size: 15px;font-weight: bold;position: relative;}
.toprefundTab li a{display: block;color: #fff;position: relative;}
.toprefundTab li span{display: inline-block;width: 20px;height: 20px;text-align: center;line-height: 20px;font-size: 14px;color: #B5B5B5;font-weight: bold;background: #fff;border-radius: 50%;margin-right: 10px;}
.toprefundTab li s{display: inline-block;width: 30px;height: 30px;border-top: 4px solid #fff;border-right: 4px solid #fff;border-bottom: 4px solid transparent;border-left: 4px solid transparent;background: #ccc;position: absolute;top: 3px;right:-15px;transform: rotate(45deg);-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);z-index: 2;}
.toprefundTab li.active{background: #027CFF;}
.toprefundTab li.active s{background: #027CFF;}
.toprefundTab li.active span{color:#027CFF;}

.refundCon{margin-top: 20px;}
.refundLeft {float: left;width: 819px;padding: 26px 28px 26px 0;border-right: 1px solid #ddd;}
.refundLeft dl{margin-bottom: 20px}
.refundLeft dl dt{font-size: 14px;color: #333;width: 120px;text-align: right;float: left;line-height: 36px;}
.refundLeft dl.spedl1 dt{padding-top: 30px; }
.refundLeft dl dt span.star{color: #ff4646}
.refundLeft dl dd{margin-left: 130px;position: relative;}
.refundLeft .inp {height: 20px; border: 1px solid #d8d8d8; border-radius: 5px; padding: 6px 10px; line-height: 20px; -webkit-transition: border linear .2s,box-shadow linear .2s; -moz-transition: border linear .2s,box-shadow linear .2s; -o-transition: border linear .2s,box-shadow linear .2s; transition: border linear .2s,box-shadow linear .2s;width: 246px;}
.refundLeft .inp:focus {border-color:rgba(82,168,236,0.8);outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6)}
.refundLeft dl dd p.maxMoney{font-size: 12px;color: #999;margin-top: 9px;}
.refundLeft .inp#cancel_price{color: #FF0000;padding-left: 24px;width: 232px;}
.refundLeft dl dd span.carsym{color: #FF0000;position: absolute;left: 12px;top: 8px;}

.refundLeft textarea#cancel_desc{border: 1px solid #d8d8d8;padding: 10px;font-size: 12px;border-radius: 5px;width: 486px;height: 88px;resize: none;}
.refundLeft a.tjbtn{background: #027CFF;border-radius: 4px;height: 42px;line-height: 42px;display: inline-block;padding: 0 38px;font-size: 16px;color: #fff}

/*商品详情*/
.refundLeft .proimg{width: 80px;height: 80px;float: left;}
.refundLeft .proimg a{width: 80px;height: 80px;display: block;}
.refundLeft .proimg img{display: block;width: 100%;height: 100%;object-fit: cover;}
.refundLeft .proInfo{margin-left: 92px;height: 80px;}
.refundLeft .proInfo h3{font-size: 14px;padding-top: 6px;}
.refundLeft .proInfo p{font-size: 12px;padding-top: 10px;color: #333;}
.refundLeft .proInfo em{display: inline-block;line-height: 23px;}
.refundLeft .proInfo span.yufu{display: inline-block;padding: 0 8px;border-radius: 4px; font-size: 12px;color: #FF5D2F;border: 1px solid #FFC8BF;background: #FFEFEA;height: 21px;line-height: 21px;vertical-align: top;margin-left: 5px;}

/*下拉选择*/
dl dd .down-div{position: relative;width: 268px;font-size: 14px;}
dl dd .down-div .inp{cursor: pointer;  }
dl dd .down-div .time_choose{position: absolute;top: 34px;left: 0;padding: 10px 0;width: 265px; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;border: 1px solid #E5E5E5;z-index: 2;background: #fff;display: none;border-top: none}
dl dd .down-div .time_choose.active{display: block;}
dl dd .down-div .pro-choose{max-height: 220px;overflow: auto}
dl dd .down-div .pro-choose::-webkit-scrollbar{width:4px;height:4px;}
dl dd .down-div .pro-choose::-webkit-scrollbar-track-piece{background:#EAEAEA;border-radius:2px;}
dl dd .down-div .pro-choose::-webkit-scrollbar-thumb{border-radius:2px;background-color:#ABABAB;}
dl dd .down-div .pro-choose::-webkit-scrollbar-thumb:hover{background-color:#666;}
dl dd .down-div .pro-choose p a{height: 30px;line-height: 30px;padding-left: 12px;font-size: 14px;color: #666;display: block;}
dl dd .down-div .pro-choose p:hover a,.pro-choose p.curr a{background: #FFF7F2;color: #FB5845}
dl dd .down-div span.choseIcon{display: inline-block;width: 12px;height: 12px;background: url(../images/homemaking/down.png);position: absolute;right: 9px;top: 12px;}
dl dd .down-div.hasc span.choseIcon{background: url(../images/homemaking/up.png);}

/*订单详情*/
.refundRight {margin-left: 846px;padding: 0 8px 0 20px;}
.refundRight h3.refundH{padding: 10px 0 14px;border-bottom: 1px solid #ddd;font-size: 16px;}
.refundRight .orderCon{padding: 14px 0 20px;border-bottom: 1px solid #ddd;}
.refundRight .proimg{width: 60px;height: 60px;float: left;}
.refundRight .proimg a{width: 60px;height: 60px;display: block;}
.refundRight .proimg img{display: block;width: 100%;height: 100%;object-fit: cover;}
.refundRight .proInfo{margin-left: 70px;height: 60px;}
.refundRight .proInfo h3{font-size: 12px;padding-top: 6px;}

.storeCon{padding-top: 20px;}
.storeCon dl {font-size: 0;margin-bottom: 6px;}
.storeCon dl dt,.storeCon dl dd{display: inline-block;font-size: 12px;color: #999;}
.storeCon dl dd{color: #333;max-width: 76%;vertical-align: top;}
.storeCon dl dd span.storeTit{max-width: 150px;display: inline-block;vertical-align: top;}
.storeCon dl dd a.contactStore{display: inline-block;width: 20px;height: 20px;background: url(../images/homemaking/imIcon.png);background-size: cover;vertical-align: middle;margin-left: 8px;margin-top: -3px;}

.storeCon.tuiCon{border-top: 1px solid #ddd;margin-top: 30px;}


/*商家处理退款中*/
#cancelIng .ingTop{padding-top: 10px;padding-bottom: 28px;border-bottom: 1px solid #ddd;}
#cancelIng .ingTop strong.stxt1{font-size: 18px;color: #333;}

#cancelIng .ingTop i{display: inline-block;width: 22px;height: 22px;background: url(../images/homemaking/clock.png);background-size: cover;vertical-align: middle;margin-left: 8px;margin-top: -3px;}
#cancelIng .ingTop .time-item{display: inline-block;font-size: 0;color: #E30000;font-weight: bold;}
#cancelIng .ingTop .time-item strong,#cancelIng .ingTop .time-item span{font-size: 16px;}
#cancelIng .ingTop p{font-size: 14px;color: #666;margin-top: 10px;}
#cancelIng .ingMiddle{padding: 12px 5px 18px;border-bottom: 1px solid #ddd;min-height: 166px;}
#cancelIng .ingMiddle p{font-size: 14px;color: #999;margin-bottom: 5px;}
#cancelIng .ingMiddle p.stxt2{color: #666;font-size: 14px;margin-top: 18px;}
#cancelIng .ingMiddle p.stxt2 a{color: #027CFF;margin-left: 10px;}
#cancelIng a.changeAply{background: #027CFF;border-radius: 4px;height: 42px;line-height: 42px;display: inline-block;padding: 0 38px;font-size: 16px;color: #fff;margin-top: 28px;}
/*协商历史*/
.talkList h2{padding: 16px 4px 4px;font-size: 18px;color: #333;font-weight: bold;}
.talkList li{padding: 20px 0;border-bottom: 1px solid #ddd;}
.talkList li .userImg{width: 50px;height: 50px;float: left;}
.talkList li .userImg img{display: block;width: 100%;height: 100%;object-fit: cover;}
.talkList li .userIxt{margin-left: 60px;min-height: 50px;}
.talkList li .userIxt h3{font-size: 14px;color: #666}
.talkList li .userIxt h3 span{color: #999;font-size: 13px;float: right;}
.talkList li .userIxt p{font-size: 14px;color: #333;margin-top: 4px;}

/*商家处理结果*/
.finishTop{padding-bottom: 28px;border-bottom: 1px solid #ddd;}
.finishTop h4{font-size: 18px;color: #333;font-weight: bold;}
.finishTop p{font-size: 14px;color: #666;margin-top: 12px;}
.finishMid{border-bottom: 1px solid #ddd;padding-top: 32px;min-height: 164px;}
.finishMid h4{font-size: 16px;color: #333;}
.finishMid h4 span{color: #FF0000}
.finishMid p{font-size: 14px;color: #999;margin-top: 12px;}
.finishMid a.fanhui{background: #027CFF;border-radius: 4px;height: 42px;line-height: 42px;display: inline-block;padding: 0 38px;font-size: 16px;color: #fff;margin-top: 30px;}

.failedApply h4.stxt3{font-size: 14px;color: #999;padding-top: 16px;margin-bottom: 38px;}
.finishBot{border-bottom: 1px solid #ddd;height: 197px;}
.finishBot p{font-size: 14px;color: #999;}
.finishBot p a{color: #027CFF}

.successJoin,.failedJoin{}
.successJoin h4,.failedJoin h4{font-size: 16px;color: #333;}
.successJoin h4 span,.failedJoin h4 span{color: #FF0000}
.successJoin p,.failedJoin p{font-size: 14px;color: #999;margin-top: 6px;}
/*申请平台介入*/
.joinMask {position: fixed;left:0;top:0;right:0;bottom:0;background: rgba(0,0,0,.2);z-index: 4;display: none;}
.kefuJoinWrap {position: fixed;left:0;top:0;right:0;bottom:0;z-index: 5;display: flex;align-items: center;display: none;pointer-events: none;}
.kefuJoinWrap .kefuJoinAlert{position: fixed;left:50%;top:auto;width: 670px;margin-left: -335px;padding: 28px 0 35px;background-color: rgb(255, 255, 255);z-index: 100; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;pointer-events: auto;}
.kefuJoinWrap .jstxt{text-align: center;font-size: 20px;color: #333;font-weight: bold;}
.kefuJoinWrap .closeJoin {position: absolute;right:10px;top:10px;display: block;width:20px;height:20px;z-index: 3;background: url(../images/homemaking/close.png);background-size: cover;}
#joinForm{margin-top: 34px;}
#joinForm dl{margin-bottom: 20px}
#joinForm dl dt{font-size: 14px;color: #333;width: 100px;text-align: right;float: left;line-height: 36px;}
#joinForm dl dt span{color: #ff4646}
#joinForm dl dd{margin-left: 110px;position: relative;}
#joinForm .inp {height: 20px; border: 1px solid #d8d8d8; border-radius: 5px; padding: 6px 10px; line-height: 20px; -webkit-transition: border linear .2s,box-shadow linear .2s; -moz-transition: border linear .2s,box-shadow linear .2s; -o-transition: border linear .2s,box-shadow linear .2s; transition: border linear .2s,box-shadow linear .2s;width: 246px;}
#joinForm .inp:focus {border-color:rgba(82,168,236,0.8);outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6)}
#joinForm dl dd p.maxMoney{font-size: 12px;color: #999;margin-top: 9px;}
#joinForm .inp#cancelprice{color: #FF0000;padding-left: 24px;width: 232px;}
#joinForm dl dd span.carsym{color: #FF0000;position: absolute;left: 12px;top: 8px;}

#joinForm textarea#cancel_desc2{border: 1px solid #d8d8d8;padding: 10px;font-size: 12px;border-radius: 5px;width: 486px;height: 88px;resize: none;}
#joinForm a.joinbtn{background: #027CFF;border-radius: 4px;height: 42px;line-height: 42px;display: inline-block;padding: 0 38px;font-size: 16px;color: #fff}
#joinForm dl dd p.stxt4{font-size: 12px;color: #999;}
/*上传图片*/
.filePicker{width: 90px!important;height: 90px!important;border: 1px dashed #666;border-radius: 4px;}
.filePicker .webuploader-pick{height: 90px;background: #fff;text-align: center;}
.filePicker .webuploader-pick img{width: 25px;height: 25px;margin: 12px auto 2px;}
.filePicker .webuploader-pick p{font-size: 12px;color: #999;}
.thumblist img{width: 90px;height: 90px;object-fit: cover;display: block;border-radius: 4px;}
.imgList .listSection{float: left;}
.thumblist li{margin-right: 10px;margin-bottom: 10px;}
.thumblist .li-rm{position: absolute;right: -9px;top: -9px;background: #000;color: #fff;width: 18px;height: 18px;border-radius: 50%;text-align: center;font-size: 14px;
    line-height: 18px;}

/*分页*/

.pagination-pages a, .pagination-pages span{box-shadow: none;border: 1px solid #D4D4D4;background: #fff;min-width: 18px;padding: 0 10px;height: 38px;line-height: 38px;}
.pagination-pages .curr{border: 1px solid #027CFF;background: #fff;color: #027CFF}
.pagination-pages a:hover {background-color: #fff; color: #027CFF; border-color: #027CFF;}