.wrap {width: 1000px; margin: 0 auto;}
.w1200 .wrap {width: 1200px;}

/* LGOO */
.header {margin:40px auto 20px;}
.header .logo {float: left;width: 270px;height: 61px; margin-top: -5px;}
.header .logo a {display: block;overflow: hidden;}
.header .logo a:hover {text-decoration: none;}
.header .logo h2 {float: none;margin-bottom: 6px;line-height: 47px;font-size: 24px;color: #333; margin-top: 8px; display: none;}
.header .shortname p{font-size: 16px; color: #b5b5b5; display: none;}
.header .logo span {font-size: 13px;color: #999;}
.header .logo img {float: left;height: 60px;margin-right: 10px;vertical-align: middle;}

.header .kefu {float: right; margin-top: 0;}
.header .kefu dt ,.header .kefu dd {float: left;}
.header .kefu dd {margin-left: 15px;}
.header .kefu dt img {margin-top: 3px;width: 44px;height: 43px;}
.header .kefu p {white-space: nowrap;}
.header .kefu .p1 {font-size: 14px;color: #333;}
.header .kefu .p2 {font-size: 20px;color: #ff8800;}



.to_daipay_box,.daipay_box,.daipay_return{height: 400px; background-color: #fff; box-shadow: 0px 4px 40px 0px rgba(184, 184, 184, 0.35); margin-top: 80px; border-radius: 10px;}
.to_daipay_box .pay_info{padding-left: 22.5%; padding-top: 70px;}
.to_daipay_box .pay_info h2{color: #1FACEE; font-size: 18px; font-weight: bold;}
.to_daipay_box .pay_info h2 s.icon{display: inline-block; width: 50px; height: 50px; background: url(../images/to_daipay.png) no-repeat center/cover; vertical-align: middle; margin-right: 14px;}
.to_daipay_box .pay_info p{color: #666; font-size: 14px; line-height: 14px; padding-left: 64px; margin-top: 4px;}
.to_daipay_box .pay_info p span{display: inline-block; padding: 0 26px;}
.to_daipay_box .pay_info p span.price{border-right: solid 1px #eee; padding-left: 0;}
.to_daipay_box .pay_info p em{color: #E30000;}

.to_daipay_box .linkbox{margin-left: 22.5%; padding-left: 64px; margin-top: 40px;}
.to_daipay_box .linkbox p{width: 620px; height: 44px ; box-sizing: border-box; background-color: #F0FAFF; border: solid 1px #B4E6FF; padding: 0 13px; color: #666; font-size: 14px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: 42px;}
.to_daipay_box .linkbox .btns {margin-top: 20px;}
.to_daipay_box .linkbox .btns a{display: inline-block;  vertical-align: middle; color: #1FACEE; font-size: 14px;}
.to_daipay_box .linkbox .btns a.btn_copy{width: 170px; height: 40px; background: linear-gradient(90deg, #FF6B26 1%, #FF362F 100%); border-radius: 2px; color: #fff; text-align: center; line-height: 40px; margin-right: 10px;}

.daipay_box .pay_info{padding-left: 22.5%; padding-top: 70px;}
.daipay_box .pay_info .headicon{width: 50px; height: 50px; border-radius: 50%; background-color: #f5f5f5; float: left; overflow: hidden;}
.daipay_box .pay_info .headicon img{display: block; width: 100%; height: 100%; object-fit: cover; }
.daipay_box .pay_info .detail{float: left; margin-left: 12px;}
.daipay_box .pay_info .detail h2{font-size: 18px; color: #000; font-weight: bold; margin-top: -4px;}
.daipay_box .pay_info .detail p{color: #FF6826; font-size: 18px; margin-top: -18px; height: 40px;}
.daipay_box .pay_info .detail p b{font-size: 30px; display: inline-block; vertical-align: middle; font-family: moneyNumber;}
.daipay_box .pay_info .detail p b:last-of-type{margin-top: 30px;}
.daipay_box .pay_info .pay_num{clear: both; font-size: 14px; color: #666; padding-left: 34px; margin-top: 60px;}
.daipay_box .pay_info .pay_num span{display: inline-block; padding: 0 28px; line-height: 14px; }
.daipay_box .pay_info .pay_num  span em{color: #E30000;}
.daipay_box .pay_info .pay_num span.timeCut b{color: #333;}
.daipay_box .pay_info .pay_num span:first-child{border-right: solid 1px #eee;}
.pay_detail{margin-left: 22.5%; padding-left: 62px; max-width: 62.5%; margin-top: 60px;}
.pay_detail .pay_tip s{float: left; width: 20px; height: 20px; background: url(../images/gou.png) no-repeat center/20px; margin-top: 2px;}
.pay_detail.pay_success .pay_tip s{background-image: url(../images/gou_1.png); width: 30px; height: 30px; margin-top: -4px;}
.pay_detail.pay_fail .pay_tip s{background-image: url(../images/gou_2.png); width: 30px; height: 30px; margin-top: -4px;}
.pay_detail .pay_tip  p{margin-left: 24px; color: #999; font-size: 13px; line-height: 24px; }
.pay_detail .btn_pay{display: block; width: 190px; height: 50px; background: linear-gradient(90deg, #FF6B26 1%, #FF362F 100%); color: #fff; font-size: 18px; line-height: 50px ; text-align: center; margin-top: 42px; border-radius: 2px;}
@font-face {
	font-family:moneyNumber;
	src: url('/static/fonts/coregtd6.otf'),
		url('/static/fonts/coregtd6.TTF'),
		url('/static/fonts/coregtd6.svg'),
		 url('/static/fonts/coregtd6.woff'); /* IE9 */
}

.QR_Mask{position: fixed; left: 0; right: 0; top: 0; bottom: 0; background-color: rgba(0,0,0,.3); z-index: 1002; display: none;}
.QR_box{ width: 338px; height: 386px; background-color: #fff; border-radius: 10px; position: fixed; left: 0; right: 0; top: 0; bottom: 0 ; margin: auto; z-index: 1003; box-sizing: border-box; padding-top: 56px; box-shadow: 0px 4px 76px 0px rgba(184, 184, 184, 0.64); display: none; animation: popup .3s;}
.QR_box .close{display: block; width: 20px; height: 20px; background: url(../images/close_daifu.png) no-repeat center/cover; position: absolute; top: 14px; right: 14px;}
.QR_box .QR{width: 250px; height: 250px; padding: 26px;  box-sizing: border-box; margin: auto;}
.QR_box .QR .QRshow{width: 100%; height: 100%;  background-color: #f5f5f5;}
.QR_box .QR img{display: block; width: 100%; height: 100%; object-fit: cover;}
.QR_box p{text-align:  center; font-size: 16px; color: #333;  }
.QR_box p s{display: inline-block; width: 36px; height: 36px; background: url(../images/phone_icon.png) no-repeat center/cover; vertical-align: middle;}

.daipay_return {padding-top: 74px;}
.daipay_return .icon{display: block; width: 66px; height: 66px; background: url(../images/gou_big.png) no-repeat center/cover; margin: auto ; }
.daipay_return .icon img{display: block; width: 100%; height: 100%;}
.daipay_return h5{font-size: 24px; color: #212121; text-align: center; margin-top: 14px;}
.daipay_return p{text-align: center; color: #999; font-size: 16px; margin-top: 10px;}
.daipay_return a{display: block; width: 170px; height: 40px; text-align: center; color: #fff; background: linear-gradient(90deg, #FF6B26 1%, #FF362F 100%); font-size: 14px; line-height: 40px; margin: auto; margin-top: 52px;}
