input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
.contain {
	/* background-color: #fff; */
	font-size: 15px;
	/* width: 800px; */
	/* height: 800px; */
	/* margin: 50px; */
	/* padding: 50px; */
}

.tip {
	background-color: #f7f7f7;
	line-height: 20px;
	padding: 10px;
	font-size: 14px;
	color: #999999;
	margin-bottom: 35px;
}
.tip p{
	margin: 5px;
}

.contain dt {
	float: left;
	width: 95px;
	text-align: right;
	color: #333;
	line-height: 45px;
}

.contain dd {
	position: relative;
	overflow: hidden;
	padding: 0 0 22px 15px;
	line-height: 45px;
}

.amount {
	padding-bottom: 0;
}

.amount div {
	display: inline-block;
	border: 1px solid #E1E1E1;
	border-radius: 5px;
}

.amount div span {
	padding: 10px 2px 10px 10px;
}

.amount input {
	width: 290px;
	font-size: 18px;
	border: none;
	font-weight: bold;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.amount input::placeholder {
	font-size: 14px;
	font-weight: normal;
}
.allWithdraw {
	margin-left: 10px;
	color: #2B91E3;
	cursor: pointer;
}

.price {
	color: #FF6600;

}
.price em{
	font-size: 25px;
	font-weight: 600;
}
.rate {
	color: #666666;
	font-size: 12px;
}
.rateColor{
	color: #ff6600;
}

.withdrawWay >span {
	display: inline-block;
	width: 100px;
	height: 40px;
	border: 1px solid #e1e1e1;
	text-align: center;
	line-height: 40px;
	margin-right: 5px;
	border-radius: 5px;
	cursor: pointer;
}

.withdrawWay .curr {
	border: 2px solid #FF6600;
	position: relative;
}

.withdrawWay .curr::after {
	content: '';
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #FF6600;
	transform: rotate(135deg);
	position: absolute;
	right: -10px;
	bottom: -3px;
}
.withdrawWay .curr::before {
	content: "";
	position: absolute;
	bottom: 4px;
	right: 1px;
	width: 8px;
	height: 4px;
	border: 2px solid #fff;
	border-top: none;
	border-right: none;
	transform: rotate(300deg);
	z-index: 99;
}
.historyList{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 320px;
	background-color: #fff;
	border: 6px solid #F5F5F5;
	border-radius: 5px;
	z-index: 9999;
	margin-left: 350px;
	margin-top: 50px;
}
.historyList ul li{
	padding: 3px 5px 3px 15px;
	cursor: pointer;
}
.historyList ul li:hover .deleteAccount{
	display: block !important; 
}
.deleteAccount{
	display: none !important; 
}
.historyList ul li:nth-child(2n){
	background-color: #F5F7F9;
}
.historyList ul li span:first-child{
	display: inline-block;
	color: #333;
	font-weight: bold;
	margin-right: 10px;
	width: 50px;
}
.historyList div{
	width: 260px;
	display: inline-block;
}
.historyList .deleteAccount{
	float: right;
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url('../images/see-me-delete.png') no-repeat;
	margin-top: 10px;
}
.noData{
	margin-left: 110px;
}

.record{
	background-color: #E6E6E6;
	position: relative;
	text-align: left !important; 
}
.record::after{
	content: '';
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 7px solid #39393A;
	border-radius: 3px;
	position: absolute;
	top: 50%;
	right: 5px;
	transform: translateY(-50%);
	margin-right: 5px;
}
.record em{
	margin-left: 13px;
}
.weixin input, .alipay input, .bank input {
	width: 315px;
    height: 45px;
	border: 1px solid #e1e1e1;
	border-radius: 5px;
	font-size: 18px;
	padding-left: 10px;
}
.selectBank{
	width: 325px;
	height: 47px;
	border: 1px solid #e1e1e1;
	border-radius: 5px;
	position: relative;
	cursor: pointer;
}
.selectBank span{
	font-size: 18px;
	margin-left: 15px;
}
.selectBank .noBank{
	font-size: 14px;
	color: #C6C6C6;
}
.selectBank::after{
	content: '';
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid #39393A;
	border-radius: 3px;
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
}
.weixin input::placeholder {
	padding-left: 10px;
}
.selectBankContent{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 550px;
	max-height: 300px;
	background-color: #fff;
	border: 6px solid #F5F5F5;
	border-radius: 5px;
	z-index: 9999;
	padding: 20px;
	margin-top: 55px;
	margin-left: 15px;
	overflow-y: scroll;
	padding-bottom: 5px;
}
.selectBankContent ul{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	margin-bottom: 5px;
	margin-right: 15px;
	cursor: pointer;
}
.selectBankContent ul li{
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}
.selectBankContent ul li img{
	width: 30px;
	height: 30px;
	margin-right: 5px;
}

label {
	margin-right: 10px;
	cursor: pointer;
}

.contain a {
	color: #2B91E3;
}

.submit {
	width: 180px;
	height: 45px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	background-color: #f60;
	border-radius: 3px;
	border: 0;
	cursor: pointer;
}


.wxQrMask{position: fixed; inset: 0; background-color: rgba(0,0,0,.3); z-index: 1001;}
.wxQrPop{width: 400px; height: 450px; box-sizing: border-box; padding: 0 50px 50px; border-radius: 20px; position: fixed; inset: 0; margin: auto;  z-index: 1001; background-color: #fff; display: none; animation: popup .3s;}
.wxQrPop.show{display: block;}
.wxQrPop .pop_header{height: 100px; text-align: center; line-height: 100px; font-size: 18px; color: #333; font-weight: bold;}
.wxQrPop .qrBox{width: 300px; height: 300px; margin: auto;}
.close_pop{position: absolute; right: 15px; top: 15px; width: 30px; height: 30px; background: url(/static/images/close_2.png) no-repeat center/16px; opacity: .5; cursor: pointer; }
.close_pop:hover{opacity: 1;}

