<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0,viewport-fit=cover" >
		<title>{#$langData['waimai'][10][56]#}</title> {#*  收入统计  *#}
		<script src="{#$templets_skin#}js/vue.min.js?v={#$cfg_staticVersion#}"></script>
		<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
		<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/mobiscroll.javascript.css?v={#$cfg_staticVersion#}">
		<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/tj-waimai.css?v={#$cfg_staticVersion#}">
		<script src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
		<script type="text/javascript" src="{#$cfg_staticPath#}js/core/zepto.min.js?v={#$cfg_staticVersion#}"></script>

		<script src="{#$templets_skin#}js/axios.min.js"></script>
		<script>

		</script>
	</head>
	<body>
		<div class="page_box" id="page" v-cloak>
			<div class="top_box">
				<div class="headbox">
					<div class="userinfo">
						<div class="uhead"><img src="{#$photo#}" onerror="this.onerror=this.src='/static/images/404.jpg';javascript:this.src='/static/images/noPhoto_100.jpg';" alt=""></div>
						<h4>{#$userinfo.company#}</h4>
					</div>
					<a href="/wmsj/index.php?action=setting" class="toSet"></a>
				</div>
			</div>
			<div class="today_count"  v-cloak>
				<div class="dataCount">
					<div class="order_count">
						<h5>{#$todayarr.totalSuccess#}</h5>
						<p>{#$langData['waimai'][11][195]#}</p>{#* 成功订单 *#}

					</div>
					<div class="yingye_count">
						<h5>{#$todayarr.totalAmount#}</h5>
						<p>{#$langData['waimai'][11][196]#}({#echoCurrency type='short'#})</p>{#* 营业额 *#}
					</div>
					<div class="fencheng_count">
						<h5>{#$todayarr.business#}</h5>
						<p>{#$langData['waimai'][11][197]#}({#echoCurrency type='short'#})</p>{#* 分成收入 *#}
					</div>
				</div>

				<div class="account_box">
					<div class="acc_show">{#$langData['waimai'][11][198]#}<em>{#$money#}</em>{#echoCurrency type='short'#}</div>{#* 账号余额 *#}
					<a href="{#$cfg_basehost#}/u/withdraw.html?from=wmsj" class="tx_btn">{#$langData['waimai'][11][199]#}</a> {#* 余额提现 *#}
				</div>
			</div>
			<div class="countBox" v-cloak>
				<!-- waimai -->

				<dl class="waimai count_box" >
					<dt>{#$langData['waimai'][11][200]#}</dt>{#* 今日订单统计 *#}
					<dd class="tlist">
						<div class="online">
							<h5>{#$todayarr['online']#}</h5>
							<p>{#$langData['waimai'][11][201]#}</p>{#* 在线支付(单) *#}
						</div>
						<div class="daohuo">
							<h5>{#$todayarr['totaldelivery']#}</h5>
							<p>{#$langData['waimai'][11][202]#}</p>{#* 到付(单) *#}
						</div>
						<div class="ziqu">
							<h5>{#$todayarr['totalself']#}</h5>
							<p>{#$langData['waimai'][11][203]#}</p>{#* 自取(单) *#}
						</div>
						<div class="fail">
							<h5>{#$todayarr['totalFailed']#}</h5>
							<p>{#$langData['waimai'][11][204]#}</p>{#* 失败(单) *#}
						</div>
					</dd>

				</dl>
				<div class="historyBox" v-cloak>
					<div class="hhead">
						<div class="chose_time">
							<input type="hidden" name="time" id="time"/>
							<span class="inp_text">{#$langData['waimai'][10][34]#}</span>{#* 本月 *#}
						</div>
						<p>{#$langData['waimai'][11][205]#}</p>   {#* 选择时间查看阶段统计 *#}
					</div>
					<div class="hcon">
						<div class="count_box">
							<div class="success">
								<h5>{#$allarr['totalSuccessall']#}</h5>
								<p>{#$langData['waimai'][11][195]#}</p>{#* 成功订单(单) *#}
							</div>
							<div class="allamount">
								<h5>{#$allarr['totalAmountall']#}</h5>
								<p>{#$langData['waimai'][11][196]#}({#echoCurrency type='short'#})</p>{#* 营业额(元) *#}
							</div>
							<div class="fcamount">
								<h5>{#$allarr['businessall']#}</h5>
								<p>{#$langData['waimai'][11][197]#}({#echoCurrency type='short'#})</p>{#* 分成收入(元) *#}
							</div>
						</div>
						<div class="count_box">
							<div class="online">
								<h5>{#$allarr['onlineall']#}</h5>
								<p>{#$langData['waimai'][11][201]#}</p>{#* 在线支付(单) *#}
							</div>
							<div class="daohuo">
								<h5>{#$allarr['totaldeliveryall']#}</h5>
								<p>{#$langData['waimai'][11][202]#}</p>{#* 到付(单) *#}
							</div>
							<div class="ziqu">
								<h5>{#$allarr['totalselfall']#}</h5>
								<p>{#$langData['waimai'][11][203]#}</p>{#* 自取(单) *#}
							</div>
							<div class="fail">
								<h5>{#$allarr['totalFailedall']#}</h5>
								<p>{#$langData['waimai'][11][204]#}</p>{#* 失败(单) *#}
							</div>
						</div>
						<form action="waimaiStatisticsChartrevenue.php" method="post" id="form">
							<input type="hidden" name="beginDate" id="beginDate" value="">
							<input type="hidden" name="endDate" id="endDate" value="">
						</form>
						<a href="javascript:;" @click="document.getElementById('form').submit()" class="link_to">{#$langData['waimai'][11][206]#}</a>{#*详细统计数据 *#}
					</div>
				</div>
			</div>
			<div v-if="LOADING" class="loading_icon"></div>
			{#include file='../_footer.html' curr='order' toppage=1#}
		</div>
	</body>
	<script type='text/javascript' src='{#$cfg_basehost#}/include/json.php?action=lang'></script>
	<script src="{#$templets_skin#}js/mobiscroll.custom-3.0.0-beta4.js?v={#$cfg_staticVersion#}"></script>
	<script src="{#$templets_skin#}js/axios.min.js"></script>
	<script type="text/javascript" src="{#$templets_skin#}/js/tj-waimai.js?v={#$cfg_staticVersion#}"> </script>
</html>
