
<form action="" method="post" name="editform" id="editform" class="editform">
    <input type="hidden" name="dopost" id="dopost" value="{#$dopost#}" />
    <input type="hidden" name="id" id="id" value="{#$id#}" />
    <input type="hidden" name="token" id="token" value="{#$token#}" />
    <input type="hidden" name="typeid" id="typeid" value="{#$typeid#}" />
    <dl class="clearfix">
        <dt><label for="sort">套餐类型：</label></dt>
        <dd>
            <select name="planmealstyle" id="planmealstyle" class="input-medium">
                {#html_options options=$sylist selected=$planmealstyle#}
            </select>
        </dd>
    </dl>
    <dl class="clearfix">
        <dt><label for="style">选择类别：</label></dt>
        <dd>
            <select name="style" id="style" class="input-medium">
                {#html_options options=$leibielist selected=$style#}
            </select>
            <span class="input-tips"><s></s>请选择风格</span>
        </dd>
    </dl>

    <dl class="clearfix">
        <dt><label for="classification">选择风格：</label></dt>
        <dd>
            <select name="classification" id="classification" class="input-medium">
                {#html_options options=$shexianglist selected=$classification#}
            </select>
            <span class="input-tips"><s></s>请选择风格</span>
        </dd>
    </dl>
    <dl class="clearfix">
        <dt><label for="title">标题：</label></dt>
        <dd>
            <input class="input-xxlarge" type="text" name="title" id="title" value="{#$title#}" data-regex=".{1,60}"/>
            <span class="input-tips"><s></s>请输入2-30字</span>
        </dd>
    </dl>
    <dl id="companyInfo" class="clearfix">
        <dt><label for="zjcom">婚嫁公司：</label></dt>
        <dd style="position:static;">
            <input class="input-xlarge" type="text" name="zjcom" id="zjcom" value="{#$zjcom#}" autocomplete="off" />
            <input type="hidden" name="comid" id="comid" value="{#$comid#}" />
            <span class="input-tips"><s></s>请选择所在婚嫁公司</span>
            <div id="comList" class="popup_key"></div>
        </dd>
    </dl>

    <dl class="clearfix">
        <dt>价格：</dt>
        <dd>
            <div class="input-prepend input-append" style="margin-bottom:0">
                <input class="input-mini" id="price" name="price" type="text" data-regex="0|\d*\.?\d+" value="{#$price#}" />
                <span class="add-on">{#echoCurrency type="short"#}</span>
            </div>
        </dd>
    </dl>

    <dl class="clearfix">
        <dt>图集：</dt>
        <dd class="listImgBox hide">
            <div class="list-holder">
                <ul id="listSection4" class="clearfix listSection piece"></ul>
                <input type="hidden" name="pics" value='{#$pics#}' class="imglist-hidden">
            </div>
            <div class="btn-section clearfix">
                <div class="uploadinp filePicker" id="filePicker4" data-type="album" data-count="{#$atlasMax#}" data-size="{#$atlasSize#}" data-imglist="imgpics"><div id="flasHolder"></div><span>添加图片</span></div>
                <div class="upload-tip">
                    <p><a href="javascript:;" class="hide deleteAllAtlas">删除所有</a>&nbsp;&nbsp;{#$atlasType|replace:"*.":""|replace:";":"、"#}&nbsp;&nbsp;单张最大{#$atlasSize/1024#}M<span class="fileerror"></span></p>
                </div>
            </div>
        </dd>
    </dl>
    <dl class="clearfix" id="type0">
        <dt>上传视频：</dt>
        <dd>
            <input name="video" type="hidden" id="video" value="{#$video#}" />
            <div class="spic{#if !$video#} hide{#/if#}">
                <div class="sholder" id="videoPreview">
                    {#if $video != ""#}
                    <a href="/include/videoPreview.php?f=" data-id="{#$video#}">预览视频</a>
                    {#/if#}
                </div>
                <a href="javascript:;" class="reupload">重新上传</a>
            </div>
            <iframe src ="/include/upfile.inc.php?mod=marry&type=video&obj=video&filetype=video" style="width:100%; height:25px;{#if $video != ""#} display: none;{#/if#}" scrolling="no" frameborder="0" marginwidth="0" marginheight="0"></iframe>
        </dd>
    </dl>

    <dl class="clearfix">
        <dt><label for="tel">联系电话：</label></dt>
        <dd>
            <input class="input-xlarge" type="text" name="tel" id="tel" value="{#$tel#}" data-regex=".{1,60}"/>
            <span class="input-tips"><s></s>请输入联系方式</span>
        </dd>
    </dl>
    <dl class="clearfix">
        <dt><label for="sy_team">拍摄团队：</label></dt>
        <dd>
            <select name="sy_team" id="sy_team" class="input-medium">
                {#html_options options=$sy_teamlist selected=$sy_team#}
            </select>
            <span class="input-tips"><s></s>请选择团队</span>
        </dd>
    </dl>
    <dl class="clearfix">
        <dt><label for="psnumber">拍摄张数：</label></dt>
        <dd>
            <div class="input-prepend input-append">
                <input class="input-xxlarge" type="text" name="psnumber" id="psnumber" value="{#$psnumber#}" placeholder="请输入拍摄数量" />
                <span class="add-on">张</span>
            </div>
            <span class="input-tips"><s></s>请输入2-30字</span>
        </dd>
    </dl>
    <dl class="clearfix">
        <dt><label for="jxnumber">精修张数：</label></dt>
        <dd>
            <div class="input-prepend input-append">
                <input class="input-xxlarge" type="text" name="jxnumber" id="jxnumber" value="{#$jxnumber#}" placeholder="请输入精修数量" />
                <span class="add-on">张</span>
            </div>
            <span class="input-tips"><s></s>请输入2-30字</span>
        </dd>
    </dl>
    <dl class="clearfix">
        <dt><label for="explain">摄像器材：</label></dt>
        <dd><textarea id="explain" name="explain" rows="3" class="input-xxlarge">{#$explain#}</textarea></dd>
    </dl>
    <dl class="clearfix">
        <dt><label for="explain_one">成品说明：</label></dt>
        <dd><textarea id="explain_one" name="explain_one" rows="3" class="input-xxlarge">{#$explain_one#}</textarea></dd>
    </dl>
    <dl class="clearfix">
        <dt><label for="explain_two">摄影内容：</label></dt>
        <dd><textarea id="explain_two" name="explain_two" rows="3" class="input-xxlarge">{#$explain_two#}</textarea></dd>
    </dl>
    <dl class="clearfix">
        <dt><label for="buynotice">购买须知：</label></dt>
        <dd><textarea id="buynotice" name="buynotice" rows="3" class="input-xxlarge">{#$buynotice#}</textarea></dd>
    </dl>

    <dl class="clearfix">
        <dt><label>特色标签：</label></dt>
        <dd>
            {#foreach from=$tagArr item=item#}
            <label><input type="checkbox" name="tag[]" value="{#$item#}"{#if $tag && in_array($item, $tagSel)#} checked{#/if#} />{#$item#}</label>&nbsp;&nbsp;
            {#/foreach#}
        </dd>
    </dl>

    <dl class="clearfix">
        <dt><label for="click">浏览次数：</label></dt>
        <dd>
            <span><input class="input-mini" type="number" name="click" min="0" id="click" value="{#$click#}" /></span>
            <label class="ml30" for="weight">排序：</label><input class="input-mini" type="number" name="weight" id="weight" min="0" data-regex="[1-9]\d*" value="{#$weight#}" />
            <span class="input-tips"><s></s>必填，排序越大，越排在前面</span>
        </dd>
    </dl>
    <dl class="clearfix">
        <dt><label for="state">显示状态：</label></dt>
        <dd class="radio">
            {#html_radios name="state" values=$stateopt checked=$state output=$statenames separator="&nbsp;&nbsp;"#}
        </dd>
    </dl>

    <dl class="clearfix">
        <dt>图文详情：</dt>
        <dd><script id="note" name="note" type="text/plain" style="width:85%;height:500px">{#$note#}</script></dd>
    </dl>
    <dl class="clearfix formbtn">
        <dt>&nbsp;</dt>
        <dd><input class="btn btn-large btn-success" type="submit" name="submit" id="btnSubmit" value="确认提交" /></dd>
    </dl>
</form>