*{padding: 0;margin: 0;}
body{font-family:Microsoft YaHei,Helvetica,STHeiti,Droid Sans Fallback;font-size: .24rem;max-width: 1080px;margin: 0 auto;-webkit-tap-highlight-color:rgba(0,0,0,0);}
html{background-color: #f5f5f5;}
a,li{text-decoration: none;list-style: none;color: #333;outline: 0;}
.l{float: left;}
.r{float: right;}
em,i{font-style: normal;}
.mt10{margin-top: .2rem;}
.padTop20 .l_btn{height: 1rem;margin-top: 20px;}
.padTop20 .r_btn{height: 1rem;margin-top: 20px;}

#p2 {height: 100%;}

/*提示*/
.add-tip{height: .8rem;background: rgb(255,245,225);position: relative;}
.add-tip p{padding: .2rem 1rem .2rem .2rem;line-height: .36rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: .28rem;}
.add-tip i{display: inline-block;width: .64rem;height: 100%;background: url(../images/close.png) center center no-repeat;background-size: .32rem .32rem;position: absolute;top: 0;right: .3rem;}



/*地址信息*/
.address{background: #fff;overflow: hidden;font-size: .28rem;border-radius: .2rem;position: relative;}
.address a{display: block;}
.address .address-box{padding: .25rem .6rem .28rem .33rem;position: relative;}

.address .address-info{}
.address .address-info.empty {padding: .44rem 0;font-size: .36rem;color: #313233;font-weight: bold;}
.address .address-info .addrName{font-size: .24rem;color: #313233;}
.address .address-info .defaultT{font-size: .2rem;color: #fff;background: #F72A34;border-radius: .04rem;display: inline-block;padding: 0 .06rem;line-height: .26rem;margin-right: .06rem;}
.address .address-info .name{font-size: .24rem;color: #313233;}
.address .address-info .tel{font-size: .24rem;color: #838383}
.address .address-info .address-txt{width: 100%;display: block;color: #313233;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size: .36rem;margin-top: .18rem;font-weight: bold;}
.address .address-info .addrPerson{margin-top: .06rem;}
.address .address-info .address-txt-top{float: left;margin-top: .1rem;}
.address .icon-right{width: .3rem;height: .3rem;position: absolute;right: .13rem;top: 50%;background: url(../images/confirm/right_icon.png);background-size: cover;margin-top: -.15rem}



/*头部tab*/
.confirmTab{background: #F0EEEF;margin: .43rem .2rem 0;border-radius: .2rem .2rem 0 0;}

.confirmTab ul{display: flex;}
.confirmTab li{position: relative;}
.confirmTab li a{display: block;width: 3.28rem;text-align: center;line-height: .68rem;font-size: .3rem;color: #98979C;position: relative;z-index: 2;}
.confirmTab li.active a{width: 3.82rem;color: #222;font-weight: bold;}
.confirmTab li.active::after{content: "";width: 100%;height: .8rem;display: block;position: absolute;left: 0;bottom: 0;background: url(../images/confirm/tabbg1.png) center center no-repeat;background-size: cover;}
.confirmTab li:last-child.active::after{transform: rotateY(180deg);}
.twoWrap{background: #fff;margin: 0 .2rem;border-radius: 0 0 .2rem .2rem;    overflow: hidden;}
.twoWrap.twoWrap1{margin-top: .2rem;}
.address.addressTwo{margin-top: 0;}
.twoWrap .comTwo{display: none;position: relative;}
.twoWrap .comTwo.twoshow{display: block;}
.twoWrap .comTwo::after{content: '';display: block;width: 100%;height: .06rem;background: url(../images/confirm/linebg.png);background-size: cover;position: absolute;left: 0;bottom: 0;}

.twoWrap .busInfo{padding: .32rem .3rem;}
.twoWrap .busInfo .bustxt{font-size: .24rem;color: #636466;}
.twoWrap .busInfo .busaddress{font-size: .36rem;color: #222;font-weight: bold;margin-top: .05rem;}
.twoWrap .busInfo .busmap{width: 100%;height: 1.96rem;margin-top: .26rem;}
.twoWrap .busTel{margin: .4rem 0 .26rem}
.twoWrap .busTel label{font-size: .26rem;color: #333;margin-right: .2rem;}
.twoWrap .busTel input{font-size: .26rem;color: #333;;border: none;width: 82%}
.twoWrap .busTel input::placeholder{color: #ccc;}

/*地图标注*/

.newMarker span{position: absolute;top: -.3rem;left: 50%;transform: translateX(-50%);display: inline-block;background: #fff;height: .6rem;line-height: .6rem;white-space: nowrap;border-radius: .1rem;box-shadow: 0px 0px 6px #ccc;min-width: 1.8rem;text-align: center;box-sizing: border-box;padding: 0 .22rem;font-size: .28rem;color: #000;}
.newMarker span::after {position:absolute;content:'';left:50%;overflow:hidden;pointer-events:none;-webkit-transform:rotate(45deg);-mz-transform:rotate(45deg);transform:rotate(45deg);width: .18rem;height: .18rem;margin-left: -.09rem;background:#fff;box-shadow:none;bottom: -.06rem}

/*商品详情*/
.cart-main{margin: .2rem 0 1.2rem 0;}
.cart-main li{background: #fff;}
.cart-list{background: #fff;border-radius: .2rem;margin: .2rem}
.cart-main .otherInfoLi{background: #fff;border-radius: .2rem;margin: .2rem;overflow: hidden;}
.shop-list-li{}
.cart-main li a{display: block;}
.cart-main li .shop-name{height: .8rem;line-height: .8rem;padding-left: .2rem;}
.shop-name-circle{padding: .2rem;float: left;}
.shop-list .shop-name-circle{padding: .8rem .2rem;}
.shop-name-circle span{display: block;width: .34rem;height: .34rem;background: url(../images/spw.png);background-size: .34rem .34rem;}
.shop-name-circle.active span{background: url(../images/spw1.png);background-size: .34rem .34rem;}
.shop-name .shop-name-info a{/*display: -webkit-box;*/max-width: 5rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.shop-name .shop-name-info span{display: block;font-size: .28rem;background: url(../images/confirm/store.png) center left no-repeat;background-size: .32rem;padding-left: .45rem;font-weight: bold;}
.shop-name .shop-name-info i{width: .4rem;height: .8rem;display: block;background: url(../images/right.png) center center no-repeat;background-size: .4rem .4rem;}
.shop-list ul{/*padding: 0 .2rem;*/}
.shop-list ul li{padding: .32rem 0 .2rem;}
.shop-list ul li.speLi{border-bottom: 1px solid #f5f5f7}
.cart-main .shop-list li a{padding: 0 .2rem .1rem;}
.shop-info a{display: -webkit-box;}
.shop-info .shop-info-img{width: 1.6rem;height: 1.6rem;float: left;margin-right: .2rem;}
.shop-info .shop-info-img img{display: block;width: 100%;height: 100%;object-fit: cover;border-radius: .1rem;overflow: hidden;}
.shop-info .shop-info-txt{height: 1.6rem;}
.shop-info .shop-info-txt .shop-info-guige{float: left;max-width: 3rem;height: 1.6rem;position: relative;}
.shop-info .shop-info-txt h3{font-weight: 100;font-size: .24rem;margin-bottom: .18rem;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;color: #333;}
.shop-info .shop-info-txt .shop-info-color{margin-bottom: .2rem;}
.shop-info .shop-info-txt .shop-info-color span{display: inline-block;background: #F5F5F7;line-height: .36rem;border-radius: .18rem;padding: 0 .23rem;font-size: .22rem;color: #808080;max-width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap}
.shop-info .shop-info-txt .evertimeTui{position: absolute;bottom: -.1rem;left: 0;font-size: 0;width: 4rem;}
.shop-info .shop-info-txt .evertimeTui span{display: inline-block;line-height: .36rem;border-radius: .18rem;padding: 0 .18rem;background: #FFF3F4;font-size: .22rem;color: #F72A34;margin-right: .1rem;}
.shop-info .shop-info-txt .shop-info-price{float: right;text-align: right;}
.shop-info .shop-info-txt .shop-info-price .price{font-size: 0;}
.shop-info .shop-info-txt .shop-info-price .price em{font-size: .22rem;}
.shop-info .shop-info-txt .shop-info-price .price strong{font-size: .28rem;font-family: moneyNumber}
.shop-info .shop-info-txt .shop-info-price .price span{font-size: .22rem;font-family: moneyNumber}
.shop-info .shop-info-txt .shop-info-price .num{font-size: .2rem;color: #808080}
.shop-info .shop-info-txt .shop-info-num{color: #9b9b9b;}
.cart-list .shop-item{color: #60656f;padding: .2rem .2rem;font-size: 0;position: relative;}
.cart-list .shop-item label{display: inline-block;font-size: .24rem;color: #333;width: 1.6rem;text-align: right;margin-right: .18rem;}
.cart-list .shop-item .midDesc{font-size: .24rem;color: #808080;}
.cart-list .shop-item .rope em{font-size: .24rem;color: #333;/*margin-right: .3rem;*/}
.cart-list .shop-item .rope i{display: inline-block;width:.24rem; height: .24rem; background: url(../images/quan/arr.png) no-repeat center/cover; position: absolute;right: .14rem;top: 50%;margin-top: -.12rem;}
.cart-list .shop-msg{color: #60656f;font-size: 0;padding: 0 .2rem}
.cart-list .shop-msg.mrt{margin-top: .2rem;}
.cart-list .shop-msg  label{display: inline-block;font-size: .24rem;color: #333;width: 1.6rem;text-align: right;}
/*.cart-list .shop-msg form{display: inline-block;width: 75%;}*/
.cart-list .shop-msg .shop-msg-input{width: 75%;padding: .16rem 0;border: none;margin: 0;text-indent: .18rem;background: #fff;font-size: .24rem;}
.cart-list .shop-msg .shop-msg-input::placeholder{color: #808080}

.cart-list .shop-item-price{text-align: right;font-size: 0;padding:.1rem .2rem .4rem;}
.cart-list .shop-item-price label{font-size: .2rem;color: #999}
.cart-list .shop-item-price .midji{font-size: .2rem;color: #333;margin-left: .2rem}
.cart-list .shop-item-price .shoptprice{font-size: 0;color: #F72A34;display: inline-block;}
.cart-list .shop-item-price .shoptprice em{font-size: .22rem;}
.cart-list .shop-item-price .shoptprice strong{font-size: .28rem;font-family: moneyNumber}
.cart-list .shop-item-price .shoptprice span{font-size: .22rem;font-family: moneyNumber}
/*底部*/
.footer{position: fixed;bottom: 0;background: #fff;height: 1rem;left: 0;right: 0;display: flex; align-items: center; justify-content: space-between; padding-bottom: calc(-.3rem + constant(safe-area-inset-bottom)); padding-bottom: calc(-0.3rem + env(safe-area-inset-bottom));}
.footer .shop-name-circle{display: -webkit-box;line-height: .8rem;}
.footer .shop-name-circle span{background: url(../images/spw.png) center no-repeat;height: .8rem;background-size: .34rem .34rem;}
.footer .shop-name-circle.active span{background: url(../images/spw1.png) center no-repeat;background-size: .34rem .34rem;}
.footer .shop-name-circle em{margin-left: .2rem;font-size: .3rem;}
.footer .account-btn{ flex-shrink: 0;font-size: 0;margin-right: .2rem;}
.footer .disabled{background: #b6b6b6;}
.footer .account-btn a{display: inline-block;font-size: .26rem;color: #fff;line-height: .76rem;text-align: center; border-radius: .38rem;}
.footer .account-btn a.shareTo{width: 1.7rem;  background: linear-gradient(90deg, #FF8400 0%, #FFAE00 100%);margin-right: .1rem;}
.footer .account-btn a.submit{width: 1.9rem;   background: linear-gradient(90deg, #F75F42 0%, #F22A18 100%);}

.footer .total-num{font-size: .28rem;display: flex; align-items: baseline; padding-left: .2rem; width: 100%;}
.footer .total-num span em{color: #e73b53;font-size: .36rem;}
.footer .total-num.verAlign{flex-direction: column-reverse;}
.footer .total-num.verAlign .totheji{color: #666}
.footer .total-num.verAlign .totNum{display: none !important;}
.footer .totNum{font-size: .2rem;color: #999;}
.footer .totheji{font-size: .24rem;color: #000;}

.footer .totPrice{font-size: 0;color: #F72A34;display: inline-block;}
.footer .totPrice em{font-size: .24rem;}
.footer .totPrice strong{font-size: .4rem;font-family: moneyNumber}
.footer .totPrice span{font-size: .26rem;font-family: moneyNumber}


.hide {display: none;}
/* 头部 */
.header {background: #fff;box-shadow: 0px .03rem .13rem 0px rgba(25, 30, 59, 0.05);}
.header .title h2 {font-size: .3rem;color: #666;}
.header {height: 1rem;text-align: center;}
.header.bbline {border-bottom: 1px solid #d2d2d2;}
.header.bgcf9 {background: #f9f9f9;}
.header .l_btn , .header .r_btn {position: absolute;top:0;height: 100%;line-height: 1rem;z-index: 2;color: #999;font-size: .3rem;}
.header .l_btn a , .header .r_btn a {color: #999;}
.header .l_btn {left:0;line-height: 1rem;}
.header .r_btn {right: 0;}
.header .l_btn .goback {display: block;}
.header .l_btn .goback img {width: .28rem;margin:0 .2rem;vertical-align: middle;}
.header .l_btn .goback1 img {width: .48rem;margin:0.28rem 0.28rem;}
.header .r_btn a {display: inline-block;}
.header .title {width: 100%;font-size: .36rem;}
.header .title h2 {line-height: 1rem;padding:0 1.5rem;white-space: nowrap;text-overflow:ellipsis;overflow: hidden;font-size: .34rem}
.header .title.fs3fc6 {font-size: .3rem;color: #666;}
.header .title input {border:0;outline:0;}
.header .keyword {width: 100%;height: .6rem;line-height: .6rem;margin:.2rem 0;padding:0 .2rem;background: #fff;border-radius:.4rem;font-size: .26rem;}
.header .submit {position: absolute;right:0.2rem;top:50%;margin-top: -.13rem;display: block;width: .26rem;height: .26rem;background: url(../images/search.png) center center no-repeat;background-size: contain;font-size: 0;}
.header .logo {display: block;height: 100%;}
.header .logo img {width: 1.12rem;height: auto;margin:0 .1rem;vertical-align: middle;}
.r_btn .icon-list {display: block;width: .4rem;height: .4rem;margin:.3rem .2rem;background: url(../images/list.png) center center no-repeat;background-size: contain;}
.r_btn .icon-list-h {display: block;width: .4rem;height: .4rem;margin:.3rem .2rem;background: url(../images/list_h.png) center center no-repeat;background-size: contain;}
.r_btn .icon-showbtm {display: block;width: .4rem;height: .4rem;margin:.3rem .2rem;background: url(../images/list2.jpg) center center no-repeat;background-size: contain;}



/* 选择收货地址 */
.header .r_btn a {padding:0 .2rem;color: #666;font-size: .3rem;padding-right: 0.3rem;font-size: .24rem;}



/*.fixed body {position: fixed; width: 100%; height: 100%; overflow: hidden; left: 0; top: 0;}

h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:500}
a.gz-addr-header-btn:hover{color: #fff;}*/

/* sprite */
/*.gz-addr-header-back:after{background: url('../images/header_back.png') no-repeat; background-size: .4rem auto;}
.gz-rbtn:after,
.gz-addr-active s:after,
.gz-addr-seladdr dd:after,
.gz-sel-addr-close:after,
.gz-sel-addr-list li:after {background: url('/templates/member/touch/images/addressIcons.png?v=1') no-repeat; background-size: 1.57rem 1.08rem;}

.gz-address {position: absolute; z-index: 50; width: 100%; height: 100%; left: 0; top: 0; overflow: hidden; background: #3d3d3d;}
.gz-addr-wrap {position: absolute; z-index: 1; left: 0; top: 0; right: 0; bottom: 0; background: #eee;}*/

/* 头部 */
/*.gz-addr-header {position: relative; height: 1rem; line-height: 1rem; background: #fff; border-bottom: 1px solid #f2f2f2;}
.gz-addr-header-back {position: absolute; left: 0; top: 0; bottom: 0; width: 1rem;}
.gz-addr-header-back:after {content: ''; display: block; height: .5rem; margin: 0.33rem 0 0 .3rem;}
.gz-addr-header h2 {padding: 0 1.5rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; text-align: center; font-size: .34rem;}
.gz-addr-header-btn {position: absolute; right: 0; top: 0; bottom: 0; width: 1.2rem; text-align: center; font-size: .24rem;}
a:hover.gz-addr-header-btn {text-decoration: none;}*/

/* 地址列表 */
.gz-addr-list {position: absolute; left: 0; top: 1rem; right: 0; bottom: .96rem; margin-top: 1px; overflow-y: auto;}
.gz-addr-list .empty {position: relative; top: 4rem; height: .4rem; line-height: .4rem; font-size: .3rem; text-align: center;}
.gz-addr-list article {position: relative; background: #fff; border-bottom: 1px solid #eee; padding: .4rem 1.17rem .4rem .3rem;}
.gz-linfo {padding-right: .3rem;}
.gz-linfo s {display: none;}
.gz-linfo h5 {height: .6rem; line-height: .6rem; font-size: .3rem;}
.gz-linfo h5 sup {font-size: .26rem; margin-left: .24rem; top: -.05em;}
.gz-linfo p {font-size: .24rem; line-height: .32rem; color: #666;}
.gz-rbtn {position: absolute; right: 0; top: .4rem; bottom: .4rem; width: 1.17rem; border-left: 1px solid #eee; text-align: center;}
.gz-rbtn:after {content: ''; position: absolute; top: 50%; left: 50%; width: .36rem; height: .38rem; margin: -.19rem 0 0 -.19rem; border: 0;}
.gz-rbtn-edit:after {background-position: -.53rem -.1rem;}
.gz-rbtn-del:after {background-position: -1.11rem -.1rem;}

/* 地址选中 */
.gz-addr-list .gz-addr-active {padding-left: 1rem;}
.gz-addr-active s {display: block; position: absolute; left: .3rem; top: .4rem; bottom: .4rem; width: .65rem;}
.gz-addr-active s:after {position: absolute; left: 0; top: 50%; content: ''; width: .4rem; height: .28rem; margin-top: -.07rem; background-position: -1.11rem -.68rem;}
.gz-addr-active .gz-linfo h5, .gz-addr-active .gz-linfo h5 sup {color: #ff472e;}

/* 新增地址按钮 */
.gz-addr-addnewbtn {position: absolute; bottom: 0; left: 0; right: 0; width: 100%; height: .96rem; background: #ff472e; text-align: center; line-height: .96rem; font-size: .35rem; color: #fff; border: 0;}

/* 新增地址 */
 {-webkit-transition: -webkit-transform 0.5s; transition: transform 0.5s;}
.gz-addr-addnew {margin: .3rem 0; background: #fff;}
.gz-addr-addnew dl {border-bottom: 1px solid #eee; line-height: .65rem; padding: .23rem 0; font-size: .26rem;}
.gz-addr-addnew dt {float: left; width: 1.78rem; text-align: center; color: #333;}
.gz-addr-addnew dd {position: relative; overflow: hidden; padding: 0 .28rem;}
.gz-addr-addnew dd input {width: 100%; height: .65rem; border: 0; line-height: .65rem; font-size: .26rem; outline: 0;}
.gz-no-sel dd {color: #a9a9a9;}
.gz-addr-seladdr dd {padding-right: .5rem; white-space: nowrap; text-overflow: ellipsis;}
.gz-addr-seladdr dd:after {background: url('/templates/member/touch/images/addressIcons.png?v=1') no-repeat; background-size: 1.57rem 1.08rem;content: ''; position: absolute; right: .28rem; top: 50%; width: .09rem; height: .18rem; margin-top: -.09rem; background-position: -.09rem -.74rem;}
.gz-addr-safenewbtn {display: block; width: 100%; height: .96rem; background: #ff472e; text-align: center; line-height: .96rem; font-size: .35rem; color: #fff; border: 0;}


/* 选择区域 */
.gz-sel-addr {position: absolute; z-index: 100002; left: 0; right: 0; bottom: 0; height: 8.3rem; background: #fff; font-size: .25rem; -webkit-transition: all 0.5s; transition: all 0.5s;}
.gz-sel-addr-hide {bottom: -8.3rem;}
.gz-sel-addr-header {position: relative; height: .9rem; line-height: .9rem;}
.gz-sel-addr-header h3 {position: absolute; left: .77rem; top: 0; right: .77rem; bottom: 0; text-align: center; font-size: .3rem; color: #848689;}
.gz-sel-addr-close {position: absolute; top: 0; right: 0; bottom: 0; width: .77rem; text-align: center; border: 0; background: none;}
.gz-sel-addr-close:after {content: ''; position: absolute; top: 50%; left: 50%; width: .21rem; height: .21rem; margin: -.1rem 0 0 -.1rem; border: 0; background-position: -.76rem -.72rem;}
.gz-sel-addr-nav {width: 1000%; height: .58rem; border-bottom: 1px solid #d9d9d9; line-height: .58rem;}
.gz-sel-addr-nav li {float: left; padding: 0 .3rem;}
.gz-sel-addr-nav li span {display: block; padding: 0 .07rem;}
.gz-sel-addr-nav .gz-curr span {border-bottom: 1px solid #f23131; color: #f23131;}
.gz-sel-addr-list {position: absolute; left: 0; top: 1.7rem; right: 0; bottom: .05rem; overflow-y: auto; -webkit-overflow-scrolling:touch;}
.gz-sel-addr-list li.loading {height: 5rem; line-height: 5rem; text-align: center;}
.gz-sel-addr-list li.loading:after, .gz-sel-addr-list li.n:after {display: none;}
.gz-sel-addr-list li {position: relative; height: .76rem; padding: 0 .32rem; line-height: .76rem;}
.gz-sel-addr-list li:after {content: ''; position: absolute; top: 50%; right: .32rem; width: .08rem; height: .15rem; margin: -.07rem 0 0 -.04rem; border: 0; background-position: -.42rem -.76rem;}
.gz-sel-addr-list li.gz-curr {color: #f23131;}


/* 遮罩 */
.gz-sel-addr-active {-webkit-transform: scale(.85,.85); transform: scale(.85,.85) translateY(-.3rem);}
.gz-sel-addr-mask {display: none; position: absolute; z-index: 100001; left: 0; top: 0; right: 0; bottom: 0; background: rgba(0,0,0,.5);}

/* 错误提示 */
.gzAddrErr {position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 1000; visibility: hidden;}
.gzAddrErr p {position: fixed; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: 16px; line-height: 1.4; text-align: center; padding: 12px 10px; z-index: 9999; left: 0; top: 50%; margin-top: -50px;}

.huoniao_iOS .gz-addr-header{padding-top: 20px;}
.huoniao_iOS .gz-addr-list{top: calc(1rem + 20px);}
.huoniao_iOS .gz-addr-header-btn, .huoniao_iOS .gz-addr-header-back{top: 20px;}

#p3{position: fixed; width: 100%; height: 100%; overflow: hidden; left: 0; top: 0;background: #eee;}
.add_bac{position: absolute;z-index: 50;  width: 100%;height: 100%;left: 0;top: 0;overflow: hidden;background: #3d3d3d;display: none;}
.add_list{    -webkit-transition: -webkit-transform 0.5s;transition: transform 0.5s;}


/* 地图 */
.pageitem {display: none; height: 100%; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 50; background: #fff;}

.lead{ position: relative; text-align: center; height: 1rem; line-height: 1rem; background: #fff; margin-bottom: 0.2rem;}
.lead p{ width: .5rem; height: .5rem; position: absolute; left: .15rem; top: .25rem; background: url(../images/Arrow_left.png) no-repeat center; background-size: .4rem;}
.lead span{ font-size: .36rem;}
.lead b a{ position: absolute; right: 0.1rem; top: 0rem; color: #e83829; font-size: 0.28rem; width: 1rem;}

.lead input { height: .7rem; border: 1px solid #e8e8e8; border-radius: 0.1rem; width: 75%; margin-left: 0.2rem; padding-left: 0.5rem; background: url(../images/search_1.png) no-repeat 0.1rem; background-size: .4rem; text-indent: 0.2rem; font-size: 0.28rem;}

.map { position: relative; width: 100%; height: 5.5rem; background: #ccc; margin-top: -.2rem;}
#mapdiv { position: absolute; left: 0; right: 0; top: 0; bottom: 0; z-index: 1;}
.mapcenter { position: absolute; z-index: 2; left: 50%; top: 50%; width: .6rem; height: .6rem; margin: -.4rem 0 0 -.3rem; background: url('../images/local.png'); background-size: cover;}

.mapresults { display: none; position: absolute; top: 6.5rem; left: 0; right: 0; bottom: 0; background: #fff; overflow-y: auto; -webkit-overflow-scrolling: touch;}
.mapresults li { position: relative; padding: .1rem .2rem .1rem .6rem; border-bottom: 1px solid #efefef;}
.mapresults li:before { position: absolute; content: ""; left: .1rem; top: .2rem; width: .4rem; height: .4rem; background: url('../images/local.png'); background-size: cover;}
.mapresults li h5 { font-size: .3rem; line-height: .5rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.mapresults li p { font-size: .24rem; color: #999; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.elseStreet { display: block; width: 80%; margin: .3rem auto; border: 2px solid #f00; height: .6rem; line-height: .6rem; border-radius: .5rem; color: #f00; font-size: .3rem; text-align: center;}
.tangram-suggestion-main{z-index: 999;}

.goPrev {display: block; text-align: center; line-height: 1rem; height: 1rem; margin-top: .2rem; background: #f5f5f5;}


.addaddress .edit li span.areacode_span{float: right;padding-right: .35rem ;margin-right: .2rem}

/*购买数量*/
.cart-list .shop-item.buyItem{padding-right: 0}
.cart-list .shop-item.buyItem label{line-height: .56rem;}
.buyItem .shop-info-num{float: right;}
.buyItem .shop-info-num span{display: inline-block;vertical-align: top;}
.rec{margin-right: .04rem;}
.append{margin-left: .04rem;}
.rec,.append{display: inline-block;width: .56rem;height: .56rem;margin: 0 auto;}
.rec{background: url(../images/rec.png) center no-repeat;background-size: .56rem;}
.append{background: url(../images/append.png) center no-repeat;background-size: .56rem;}
.rec.disabled,.append.disabled{opacity: 0.3}
.num.disabled em{opacity: 0.3}
.shop-info-num .num{height: .56rem;line-height: .56rem;background: #F5F5F7;width: 1.06rem;text-align: center;border-radius: .08rem}
.shop-info-num .num em{font-weight: bold;font-size: .28rem;font-family: DLRG}
.noClick{pointer-events: none !important;}

/* 领券 */
.cart-list .quan-item{padding-right: .5rem;}
.cart-list .quan-item.quan-item2.fn-hide{display: none !important;}
.cart-list .quan-item .quanNochose{display: flex; align-items: center; justify-content: flex-end;display: none;}
.cart-list .quan-item::before{ content: ''; display: inline-block; width:.24rem; height: .24rem; background: url(../images/quan/arr.png) no-repeat center/cover; position: absolute;right: .14rem;top: 50%;margin-top: -.12rem;}
.shop-item .quan_touse{display: inline-block; line-height: .4rem; color: #fff; padding:0 .1rem; border-radius: .03rem; background: linear-gradient(90deg, #F65338 0%, #F22A18 100%);font-size: .22rem;}
.shop-item .quan_touse.fn-hide{display:none;}
.shop-item .quan_use{color:#E31126; font-family:moneyNumber;}

.cart-list .quan-item .qdprice{display: inline-block;float: right;}
.cart-list .quan-item .qdprice em{font-size: .22rem;color: #F72A34}
.cart-list .quan-item .qdprice strong{font-family: moneyNumber;font-size: .26rem;color: #F72A34}
.cart-list .quan-item .qdprice span{font-size: .22rem;color: #F72A34;    font-weight: bold;}



.quan_mask{position: fixed; left: 0;right: 0;bottom: 0;top: 0; background: rgba(0,0,0,.5); display: none; z-index: 2;}
.quan_pop{height: 9.5rem; position: fixed; left: 0;right: 0; bottom: 0; background: #fff; border-radius: .3rem .3rem 0 0 ; transform: translateY(9.5rem); transition: transform .3s; z-index: 3;}
.quan_pop .pop_tit{height: 1.06rem; padding: 0 .28rem 0 .4rem; display: flex; align-items: center; justify-content: space-between;}
.quan_pop .pop_tit b{font-size: .36rem; color: #000;}
.quan_pop .pop_tit a{color: #ADAEB2; font-size: .22rem;}
.qtab_box{padding-top: .18rem; display: flex; align-items: center; justify-content: center; font-size: .26rem; flex: none;}
.qtab_box a{margin: 0 .6rem;  color: #7C7C80; height: .48rem}
.qtab_box a.on_tab{font-weight: bold; color: #333; position: relative;}
.qtab_box a.on_tab::after{content: ''; display: block; width: .5rem; height: .08rem; border-radius: .04rem; background: linear-gradient(90deg, #F65338 0%, #F22A18 100%); position: absolute; left: 0; right: 0; bottom: 0; margin: auto;}
.qtab_con{margin-top: .4rem;}
.qtab_con ul{overflow: auto; max-height: 7.4rem; box-sizing: border-box; padding-bottom: .3rem;}
.qtab_con ul.quseList{padding-bottom: 1.6rem}
.qtab_con .quseList li{margin: 0 .28rem; height: 1.9rem; background: #FFF6ED; border-radius: .3rem; margin-bottom: .26rem; position: relative;}
.qtab_con .quseList li::after{content: ''; display: block; width: .48rem; height: .48rem; background: url(../images/quan/no_chose.png) no-repeat center/cover; position: absolute; right: .3rem; top: .7rem}
.qtab_con .quseList li.chosed::after{background-image: url(../images/quan/chosed.png)}
.qtab_con .quseList li.platformQuan{box-shadow: -.01rem .03rem 0.31rem 0px rgb(0 2 26 / 6%); background:#fff;}
.qtab_con .quseList .q_amount{width: 1.9rem; height: 1.4rem; float: left; border-right: dashed .04rem #ECCB9E; font-size: .36rem; margin-top: .24rem ; text-align: center; color: #F21F20; font-family: moneyNumber}
.qtab_con .quseList .q_amount b{font-size: .7rem; font-family: Akrobat; line-height: 1.2rem}

.qtab_con .quseList .q_amount::before,.qtab_con .quseList .q_amount::after{content: '';display: block;position: absolute;left: 1.74rem;top: 0;width: .3rem;height: .15rem;background:url(../images/yuan1.png) center center no-repeat;background-size:.3rem .15rem;}


.qtab_con .quseList .q_amount::after{background: url(../images/yuan2.png) center center no-repeat; background-size: 0.3rem 0.15rem; bottom: 0 !important; top: auto;}

.qtab_con .quseList .q_info{margin-left: 1.9rem; padding-left:.24rem ;padding-top: .2rem;}
.qtab_con .quseList .q_info h4{font-size: .32rem; font-weight: bold; color: #333; margin-bottom: .1rem;}
.qtab_con .quseList .q_info .lab{display: inline-block; color: #E3AA5B; font-size: .2rem; line-height: .3rem; border: solid 1px #D68F2F; border-radius: .16rem; padding: 0 .1rem; margin-bottom: .3rem}
.qtab_con .quseList .q_info p{color: #ADAEB3; font-size: .24rem}
.btn_box{padding-top: .23rem; padding-bottom: .6rem; background: #fff; position: absolute; left: 0;right: 0; bottom: 0}
.quan_pop .btn_sure{display:block; margin: 0 .3rem; height: .72rem; font-size: .26rem; font-weight: bold; color: #fff; background: linear-gradient(90deg, #F65338 0%, #F22A18 100%); border-radius: .36rem; text-align: center; line-height: .72rem;}

.qnouseListBox li.quan{margin: 0 .28rem; height: 2.1rem; background: #F6F6F6; border-radius: .3rem; overflow: hidden; position: relative;}
.qnouseListBox li.quan .q_amount{width: 1.92rem; height: 100%; float: left; background: #979899; color: #fff; font-size: .36rem; padding-top: .4rem ; text-align: center; font-family: moneyNumber}
.qnouseListBox li.quan .q_amount b{font-size: .7rem; font-family: Akrobat; line-height: 1.2rem}
.qnouseListBox li.quan .q_amount::before,.qnouseListBox li.quan .q_amount::after{content: ''; display: block; width: .3rem; height: .3rem; border-radius: 50%; background: #fff; position: absolute; left: 1.76rem; top: -.18rem;}
.qnouseListBox li.quan .q_amount::after{top: auto; bottom: -.18rem;}
.qnouseListBox li.quan .q_info{margin-left: 1.92rem; padding-left:.24rem ;padding-top: .2rem;}
.qnouseListBox li.quan .q_info h4{font-size: .32rem; font-weight: bold; color: #333; margin-bottom: .1rem;}
.qnouseListBox li.quan .q_info .lab{display: inline-block; color: #E3AA5B; font-size: .2rem; line-height: .3rem; border: solid 1px #D68F2F; border-radius: .16rem; padding: 0 .1rem; margin-bottom: .17rem}
.qnouseListBox li.quan .q_info p{color: #ADAEB3; font-size: .24rem}
.qnouseListBox li.quan .q_info p.tip_no{font-size:.2rem;}
.qnouseListBox li.quan .q_info p.tip_no::before{content: ''; display: inline-block; width: .26rem; height: .26rem; background: url(../images/quan/tip.png) no-repeat center/cover; margin-right: .04rem; vertical-align: middle;}
.qnouseListBox li.quan {margin-bottom: .26rem;}


/*.cart-main .otherInfoLi{padding-top: .17rem}*/

.jfdi {padding: .15rem .48rem .15rem .3rem;position: relative;font-size: 0;display: flex;align-items: center;justify-content: space-between;}
.jfdi .jfleft{display: flex;align-items: center;}
.jfdi .jficon{ display: inline-block; width: .44rem; height: .44rem; background: url(/templates/member/touch/images/jifen_icon.png) no-repeat center/cover;  margin-right: .08rem}
.jfdi .jftip{font-size: .26rem;color: #333;}
.jfdi .jianPrice{float: right;}
.jfdi .jianPrice em{font-size: .22rem;color: #F72A34}
.jfdi .jianPrice .jian{display: inline-block;}
.jfdi .jianPrice .jian strong{font-family: moneyNumber;font-size: .26rem;color: #F72A34}
.jfdi .jianPrice .jian span{font-size: .22rem;color: #F72A34;    font-weight: bold; font-weight: bold; font-family: moneyNumber;}
.jfdi::after{content:'';display: inline-block;width:.24rem; height: .24rem; background: url(../images/quan/arr.png) no-repeat center/cover; position: absolute;right: .14rem;top: 50%;margin-top: -.1rem;}
.jfdi .jfright{font-size: .26rem;color: #999;display: none;}
.cart-main .otherInfoLi>div:first-of-type{padding-top: .32rem !important; padding-bottom: .15rem !important;}
.cart-main .otherInfoLi>div:last-of-type{padding-top: .15rem !important; }

.vipJian{font-size:.26rem; color: #60656F; padding: .15rem .48rem .38rem .3rem; display: flex; align-items: center;justify-content: space-between;}
.vipJian .vipleft{display: flex;align-items: center;}
.vipJian .vipicon{content: ''; display: inline-block; width: .44rem; height: .44rem; background: url(/templates/member/touch/images/vip_shop.png) no-repeat center/cover; margin-right: .14rem;}
/*.vipJian span{color: #E31126; font-size: .24rem; margin-left: .22rem}*/
.vipJian .vipdescPrice{font-size: 0;}
.vipJian .vipdescPrice em{font-size: .22rem;color: #F72A34}
.vipJian .vipdescPrice .vip_jian{display: inline-block;}
.vipJian .vipdescPrice .vip_jian strong{font-family: moneyNumber;font-size: .26rem;color: #F72A34}
.vipJian .vipdescPrice .vip_jian span{font-size: .22rem;color: #F72A34;    font-weight: bold;}

/*支付方式*/
.shoppayLi{background: #fff;border-radius: .2rem;height: 1rem;line-height: 1rem;padding: 0 .4rem 0 .3rem;margin: 0 .2rem;position: relative;}
.shoppayLi label{font-size: .24rem;color: #333;}
.shoppayLi .shoppayt{float: right;}
.shoppayLi .shoppayt span{font-size: .24rem;color: #333;}
.shoppayLi .shoppayt i{display: inline-block;width:.24rem; height: .24rem; background: url(../images/quan/arr.png) no-repeat center/cover; position: absolute;right: .14rem;top: 50%;margin-top: -.12rem;}
/*手机号*/
.telLi{background: #fff;border-radius: .2rem;margin: .2rem;height: 1rem;overflow: hidden;padding: 0 .3rem;font-size: 0;}
.telLi label{font-size: .24rem;color: #333;margin-right: .26rem;}
.telLi input{font-size: .24rem;color: #333;padding: .36rem 0;border: none;width: 82%}
.telLi input::placeholder{color: #ccc;}

/*积分抵现弹窗*/
.jifMask{position: fixed; left: 0;right: 0;bottom: 0;top: 0; background: rgba(0,0,0,.5); display: none;}
.jf_pop{position: fixed; left: 0;right: 0; bottom: 0; background: #fff; border-radius: .3rem .3rem 0 0 ; transform: translateY(100%); transition: transform .3s}
.jf_pop .jfTop{padding: .3rem .34rem;}
.jf_pop .jfTop strong{font-size: .36rem;}
.jf_pop .jfTop span{font-size: .36rem;margin-left: .3rem;font-size: .22rem;color: #ADAEB2;}
.jf_pop .myjf{margin:.16rem .3rem;height: .8rem;line-height: .8rem;border-radius: .1rem;background: #FFF6ED;padding: 0 .23rem;font-size: .28rem;color: #F21F20}
.jf_pop .myjf strong{font-family: moneyNumber}
.jf_pop ul{padding: 0 .3rem;}
.jf_pop ul li{border-bottom: 1px solid #f5f5f7;}
.jf_pop ul li:last-child{border: none;}
.jf_pop ul .nousejf{}
.jf_pop ul .nousejf a{display: flex;justify-content: space-between;padding: .32rem 0;}
.jf_pop ul .nousejf em{font-size: .26rem;color: #333;}
.jf_pop ul .integral{font-size: .26rem;color: #333;}
.integral{ height: .9rem; background: #fff;  display: flex; align-items: center; justify-content: space-between; }
.integral .left{display: flex; align-items: center;}
.jf_pop ul li .gou{display: block; width: .48rem; height: .48rem; background: url(/templates/member/touch/images/gou_gray.png) no-repeat center/cover;}
.jf_pop ul li .gou.hasgou{background-image: url(/templates/member/touch/images/gou_red.png) }
.jf_pop .jfsure{padding: .23rem .3rem; }
.jf_pop .jfsure a{display: block;background: linear-gradient(90deg, #F65338 0%, #F22A18 100%);line-height: .72rem;border-radius: .36rem;font-size: .26rem;color: #fff;font-weight: bold;text-align: center;}
/*支付方式弹窗*/
.zhifMask{position: fixed; left: 0;right: 0;bottom: 0;top: 0; background: rgba(0,0,0,.5); display: none;}
.zhif_pop{position: fixed; left: 0;right: 0; bottom: 0; background: #fff; border-radius: .3rem .3rem 0 0 ; transform: translateY(100%); transition: transform .3s}
.zhif_pop .zhifTop{padding: .3rem .34rem;}
.zhif_pop .zhifTop strong{font-size: .36rem;}
.zhif_pop ul{padding: 0 .3rem;}
.zhif_pop ul li a{border-bottom: 1px solid #f5f5f7;display: flex;justify-content: space-between;padding: .32rem 0;align-items: center;}
.zhif_pop ul li:last-child a{border-bottom: none;}
.zhif_pop ul li em{font-size: .26rem;color: #333;}

.zhif_pop ul li .gou{display: block; width: .48rem; height: .48rem; background: url(/templates/member/touch/images/gou_gray.png) no-repeat center/cover;}
.zhif_pop ul li .gou.hasgou{background-image: url(/templates/member/touch/images/gou_red.png) }
.zhif_pop .zhifsure{padding: .23rem .3rem; }
.zhif_pop .zhifsure a{display: block;background: linear-gradient(90deg, #F65338 0%, #F22A18 100%);line-height: .72rem;border-radius: .36rem;font-size: .26rem;color: #fff;font-weight: bold;text-align: center;}
/*配送方式弹窗*/
.psMask{position: fixed; left: 0;right: 0;bottom: 0;top: 0; background: rgba(0,0,0,.5); display: none;}
.ps_pop{position: fixed; left: 0;right: 0; bottom: 0; background: #fff; border-radius: .3rem .3rem 0 0 ; transform: translateY(100%); transition: transform .3s}
.ps_pop .psTop{padding: .3rem .34rem;text-align: center;}
.ps_pop .psTop strong{font-size: .36rem;}
.ps_pop ul{padding: 0 .3rem;min-height: 3rem;}
.ps_pop ul li a{border-bottom: 1px solid #f5f5f7;display: flex;justify-content: space-between;padding: .32rem 0;align-items: center;}
.ps_pop ul li:last-child a{border-bottom: none;}
.ps_pop ul li em{font-size: .26rem;color: #333;}
.ps_pop ul li .psspan{font-size: .26rem;color: #333;    margin-left: .08rem;}
.ps_pop ul li .gou{display: block; width: .48rem; height: .48rem; background: url(/templates/member/touch/images/gou_gray.png) no-repeat center/cover;}
.ps_pop ul li .gou.hasgou{background-image: url(/templates/member/touch/images/gou_red.png) }
.ps_pop .pssure{padding: .23rem .3rem; }
.ps_pop .pssure a{display: block;background: linear-gradient(90deg, #F65338 0%, #F22A18 100%);line-height: .72rem;border-radius: .36rem;font-size: .26rem;color: #fff;font-weight: bold;text-align: center;}
.error {display: none;position: fixed;top: 50%;left: 50%;transform: translate(-50%,-50%);}
.error p{display: inline-block;padding: 0 .66rem;height: 1rem;line-height: 1rem;background:rgba(0,0,0,.77);border-radius: .2rem;z-index: 2;font-size: .26rem;color: #fff}

@font-face {
  font-family: "DLRG";
  src: url("/static/fonts/DINMittelschriftStd.woff2"),
       url("/static/fonts/DINMittelschriftStd.woff"),
       url("/static/fonts/DINMittelschriftStd.ttf"),
       url("/static/fonts/DINMittelschriftStd.eot"),
       url("/static/fonts/DINMittelschriftStd.otf");
}

.cart-list .shop-item .rope em{vertical-align: middle;}
.ps_yh{display: inline-block; vertical-align: middle; font-size: .22rem;}
.ps_yh.fn-hide,.cart-list .shop-item .rope.fn-hide{display:none;}
.ps_yh span{display: inline-block; line-height: .4rem; padding: 0 .08rem; background-color: #FBF4EC; color: #A88F62; border-radius: .04rem; margin-right: .1rem;}
.ps_yh s{color: #97989C; display: inline-block; vertical-align: middle; margin-right: .1rem;}
.ps_yh s b{font-weight: normal; font-size: .24rem;}