html,body{background: #FF5E29;padding-bottom: .7rem;}
.popupRightBottom{display: none}
.content1{height: 8.33rem;background: url(../images/kanjia/kanBg.png) no-repeat;background-size: 100% auto;position: relative;}
.content1 .rule{position: absolute;display: inline-block;top: .27rem;right: 0;z-index: 1;background: rgba(238,70,27,0.8);font-size: .26rem;color: #FBE5AB;width: .56rem;text-align: center;padding: .13rem 0;
border-radius: .06rem 0px 0px .06rem;}
/*滚动信息*/
.buyGun{height: .54rem;background: rgba(238,70,27,0.8);border-radius:0 .27rem .27rem 0;line-height: .54rem;box-sizing: border-box;padding: .07rem .3rem .07rem .2rem;position: absolute;top: .18rem;left: 0;z-index: 1;overflow: hidden;display: none}
.buyGun.redbuyGun{background: linear-gradient(90deg, rgba(246,83,56,.6) 0%, rgba(242,42,24,.6) 100%);}
.buyGun .swiper-wrapper{height: .4rem;}
.buyGun .buyImg{width: .4rem;height: .4rem;border-radius: 50%;float: left;overflow: hidden;border: .02rem solid #fff;box-sizing: border-box;}
.buyGun .buyImg img{width: 100%;height: 100%;object-fit: cover;} 
.buyGun p{margin-left: .6rem;font-size: .24rem;color: #FBE5AB;    line-height: .4rem;}
/*.buyGun p em{display: inline-block;max-width: 1rem;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;vertical-align: top;}*/
.detInfo{position: absolute;top: 3.36rem;left: 0;right: 0;}
.detInfo .detImg{width: 1.3rem;height: 1.3rem;border-radius: 50%;overflow: hidden;border: .04rem solid #fff;box-sizing: border-box;margin: 0 auto;}
.detInfo .detImg img{width: 100%;height: 100%;object-fit: cover;} 
.detInfo h3.detName{font-size: .3rem;color: #313233;font-weight: bold;text-align: center;}
.detInfo .detP{margin: .2rem .75rem .3rem;height: .6rem;line-height: .6rem;border-radius: .3rem;background: #FFEEEE;font-size: .28rem;color: #EC3628;text-align: center;}
.detInfo .detP.disabled{background: #eee;color: #666}
.detInfo .goodCon{margin: 0 .75rem;}
.detInfo .goodCon .goodImg{width: 1.4rem;height: 1.4rem;border-radius:.1rem;float: left;overflow: hidden;box-sizing: border-box;}
.detInfo .goodCon .goodImg a{display: block;width: 100%;height: 100%;}
.detInfo .goodCon .goodImg img{width: 100%;height: 100%;object-fit: cover;}
.detInfo .goodCon .goodInfo{margin-left: 1.56rem;height: 1.4rem}
.detInfo .goodCon .goodInfo h4 a{height: .7rem;overflow: hidden;font-size: .28rem;color: #000;font-weight: bold;line-height: .36rem;}
.detInfo .goodCon .goodInfo p{color: #EC3628;font-family: DINMit;font-size: .3rem;margin-top: .2rem;}
.detInfo .goodCon .goodInfo p em{font-size: .28rem;}
.detInfo .goodCon .goodInfo p span{font-size: .44rem;}
.detInfo .goodCon .goodInfo p i{display: inline-block;width: .83rem;height: .34rem;background: url(../images/kanjia/kez.png) center center no-repeat;background-size: .83rem .34rem;margin-left: .13rem}
.content2 {padding-top: .38rem;overflow: hidden;}
.content2 .kanCon{position: relative;background: #fff;border-radius: .3rem;box-shadow: 0px .06rem .49rem 0px rgba(43, 4, 0, 0.15), 0px .07rem .32rem 0px rgba(252, 93, 40, 0.52) inset;margin: 0 .3rem;padding: .92rem .25rem .5rem;height: 4.85rem;box-sizing: border-box;}
.content2 .kanCon .jsTime{text-align: center;width: 5.33rem;height: 1.2rem;background: url(../images/kanjia/timebg.png) center center no-repeat;background-size: 5.33rem 1.2rem;    position: absolute;left: 50%;transform: translateX(-50%);top: -.38rem;}
.content2 .kanCon .jsTime>div{display: inline-block;    padding-top: .36rem;}
.content2 .kanCon .jsTime i{float: left;font-size: .26rem;color: #000}
.content2 .kanCon .jsTime span{float: left;min-width: .4rem;height: .4rem;line-height: .4rem;font-size: .26rem;color: #fff;font-family: coregtd;background: #000;text-align: center;border-radius: .04rem;padding: 0 .04rem;box-sizing: border-box;}
.content2 .kanCon .jsTime em{float: left;font-size: .24rem;color: #000;font-weight: bold;margin-left: .08rem;margin-right: .08rem;line-height: .4rem}
.content2 .kanCon .kanT{font-size: .34rem;font-weight: bold;text-align: center;}
.content2 .kanCon .kanT::before,.content2 .kanCon .kanT::after{content: '';display: inline-block;width: 1.1rem;height: 1px;background: #f5f5f7;vertical-align: middle;margin-top: -.02rem}
.content2 .kanCon .kanT::before{margin-right: .15rem;}
.content2 .kanCon .kanT::after{margin-left: .15rem;}
.content2 .hasCon{margin-top: 1.2rem}
.content2 .hasCon .kanPro{height: .22rem;border-radius: .11rem;background: #eee;position: relative;}
.content2 .hasCon .kanPro i{width: 0;height: .22rem;background: #FF5105;border-radius: .11rem;position: relative;display: block;}
.content2 .hasCon .kanPro .kanSpan{position: absolute;left:0;transform: translateX(-50%);background: #FF5105;border-radius: .1rem;font-size: .24rem;color: #fff;padding: 0 .14rem;height: .56rem;line-height: .56rem;bottom: .48rem;white-space: nowrap;z-index: 2}

.content2 .hasCon .kanPro s{display: block;position: absolute;left: 0;bottom: .15rem;transform: translateX(-50%);width: 0;height: 0;border:.2rem solid transparent;border-top-color:#FF5105;z-index: 1}

.content2 .hasTip{position: absolute;top: 1.76rem;left: 0;width: 100%;font-size: .28rem;color: #000;text-align: center;}
.content2 .hasCon .yPrice{font-size: .24rem;color: #999;margin-top: .12rem}
.content2 .hasCon .yPrice em{font-size: .26rem;}
.content2 .hasCon .yPrice em.nPrice{color: #EC3628;}

.content2 .selfBuy{position: absolute;left: 50%;transform: translateX(-50%);bottom: .6rem;width: 6.4rem;}
.content2 .selfBuy a{display: block;width: 100%;height: .78rem;line-height: .78rem;font-size: .3rem;font-weight: bold;color: #fff;text-align: center;background: linear-gradient(90deg, #FEB53C 0%, #FF4F03 100%);box-shadow: 0px .12rem .32rem 0px rgba(209, 34, 0, 0.33);border-radius: .39rem;}

.content2 .buyNow{position: absolute;left: 50%;transform: translateX(-50%);bottom: .6rem;width: 6.4rem;}
.content2 .buyNow a{display: block;width: 100%;height: .78rem;line-height: .78rem;font-size: .3rem;font-weight: bold;color: #fff;text-align: center;background: linear-gradient(90deg, #FEB53C 0%, #FF4F03 100%);box-shadow: 0px .12rem .32rem 0px rgba(209, 34, 0, 0.33);border-radius: .39rem;}
.content2 .buyDiv.disabled .invite{background: linear-gradient(90deg, #C6C6C6 0%, #979797 100%);box-shadow: 0px .12rem .32rem 0px rgba(0, 0, 0, 0.2);}
/*砍价过期*/
.content2 .hasCon.disabled .kanPro i{background: #B5B5B5}
.content2 .hasCon.disabled .kanPro .kanSpan{background: #999;}
.content2 .hasCon.disabled .kanPro s{border-top-color:#999;}

/*好友助力榜*/
.content3{overflow: hidden;margin:0 .3rem;padding-bottom: .4rem}
.content3 h2.peoTit{font-size: .36rem;font-weight: bold;text-align: center;margin-top: .4rem}
.content3 h2.peoTit::before,.content3 h2.peoTit::after{content: '';display: inline-block;width: .28rem;height: .26rem;vertical-align: middle;margin-top: -.02rem}
.content3 h2.peoTit::before{margin-right: .15rem;background: url(../images/kanjia/yuan2.png) center center no-repeat;background-size: .28rem .26rem;}
.content3 h2.peoTit::after{margin-left: .15rem;background: url(../images/kanjia/yuan1.png) center center no-repeat;background-size: .28rem .26rem;}
.content3 li{position: relative;padding: .2rem;overflow: hidden;background: #FFF;box-shadow: 0px .06rem .49rem 0px rgba(43, 4, 0, 0.15);border-radius: .3rem;margin-bottom: .3rem}
.content3 .goodImg{width: 2rem;height: 2rem;border-radius:.1rem;float: left;overflow: hidden;box-sizing: border-box;}
.content3 .goodImg a{display: block;width: 100%;height: 100%;}
.content3 .goodImg img{width: 100%;height: 100%;object-fit: cover;}
.content3 .goodInfo{margin-left: 2.17rem;height: 2rem}
.content3 .goodInfo h4 {height: .7rem;overflow: hidden;font-size: .28rem;color: #000;font-weight: bold;line-height: .36rem;}
.content3 .goodInfo p.mPrice{font-size: .26rem;color: #999;margin-top: .26rem}
.content3 .goodInfo p.nPrice{color: #EC3628;font-family: DINMit;font-size: .3rem;margin-top: .18rem;}
.content3 .goodInfo p.nPrice em{font-size: .28rem;}
.content3 .goodInfo p.nPrice span{font-size: .44rem;}
.content3 .goodInfo p.nPrice i{display: inline-block;width: .83rem;height: .34rem;background: url(../images/kanjia/kekan.png) center center no-repeat;background-size: .83rem .34rem;margin-left: .13rem}
.content3 span.kanSpan{position: absolute;right: .3rem;bottom: .42rem;height: .56rem;line-height: .56rem;background: linear-gradient(90deg, #FEB53C 0%, #FF4F03 100%);box-shadow: 0px .05rem .12rem 0px rgba(209, 34, 0, 0.25);border-radius: .28rem;padding: 0 .25rem;font-size: .26rem;color: #fff;}

.loading{text-align: center;line-height: .88rem;padding-top: .2rem;color: #fff;font-weight: bold;}
/*弹窗*/
.comMask{position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 999999;background: rgba(0,0,0,.57);display: none}
.selfAlert{position: fixed;top:  50%;left: 50%;margin-left: -2.6rem;margin-top: -2rem;z-index: 1000000;width: 5.2rem;display: none;animation: popup .3s ease-out;}
.selfAlert.show{display: block;}
.selfAlert .selefCon{background: #fff;height: 3.62rem;border-radius: .3rem;position: relative;padding: 0 .28rem 0 .42rem;}
.selfAlert .selefCon s.gongx{display: block;position: absolute;left: 50%;top: -2.1rem;margin-left: -2rem;width: 4.01rem;height: 2.65rem;background: url(../images/kanjia/gongxi.png) center center no-repeat;background-size: 4.01rem 2.65rem;}

.selfAlert .selefCon h2{padding-top: .98rem;font-size: .36rem;font-weight: bold;text-align: center;}
.selfAlert .selefCon h2 strong{color: #EC3628;}
.selfAlert .selefCon p{font-size: .24rem;color: #888;text-align: center;margin-top: .2rem}
.selfAlert .selefCon a{display: block;width: 100%;text-align: center;font-size: .32rem;color: #fff;
background: linear-gradient(90deg, #FEB53C 0%, #FF4F03 100%);height: .8rem;line-height: .8rem;border-radius: .4rem;margin-top: .5rem;}
.selfAlert .closeAlert{display: block;margin: .25rem auto;width: .5rem;height: .5rem;background: url(../images/kanjia/close.png) center center no-repeat;background-size: .5rem;}
/*规则弹窗*/
.ruleAlert{position: fixed;top:  50%;left: 50%;margin-left: -2.9rem;z-index: 1000000;width: 5.8rem;box-sizing: border-box;background: linear-gradient(0deg, #FFF0CE 0%, #FFF9EB 100%);border-radius: .3rem;display: none;transform: translateY(-50%);/*animation: popup .3s ease-out;*/}
.ruleAlert.show{display: block;}
.ruleAlert .closeAlert{display: block;width: .5rem;height: .5rem;background: url(../images/kanjia/closeRule.png) center center no-repeat;background-size: .5rem;position: absolute;top: -.17rem;right: -.17rem;}
.ruleAlert .ruleT{height: 1.24rem;line-height: 1.24rem;text-align: center;font-size: .48rem;color: #5C3213;font-weight: bold;border-bottom: 1px solid #F8E6BF;}
.ruleAlert .ruleCon{padding: .3rem ;max-height: 5rem;overflow: auto;font-size: .28rem;color: #8F5716;line-height: .42rem;padding-bottom: 0}
.ruleAlert h4.ruleh{height: .88rem;line-height: .88rem;text-align: center;font-size: .24rem;color: #C5A783;}

/*砍价成功榜单*/
.content4{padding: 0 .3rem;}
.comTit{font-size: .4rem;color: #fff;font-weight: bold;text-align: center;margin: .64rem auto .48rem}
.comTit strong{font-size: .47rem;}
.comTit h2{display: inline-block;position: relative;}
.comTit span{position: relative;z-index: 2;font-weight: bold;}
.comTit i{display: block;width: 100%;padding: 0 .09rem;position: absolute;top: .36rem;left: 50%;transform: translateX(-50%);background: linear-gradient(90deg, #FCBE3B 0%, #FE8A04 100%);border-radius: .12rem;height: .23rem}
.comTit::before,.comTit::after{content: '';display: inline-block;width: .6rem;height: .6rem;vertical-align: middle;margin-top: -.04rem}
.comTit::before{margin-right: .15rem;background: url(../images/kanjia/money1.png) center center no-repeat;background-size: .6rem;}
.comTit::after{margin-left: .15rem;background: url(../images/kanjia/money2.png) center center no-repeat;background-size:.6rem;}

.content4 .peLi{background: rgba(255,255,255,.2);border-radius: .4rem;padding: .07rem .28rem .07rem .09rem;overflow: hidden;margin-bottom: .2rem;box-sizing: border-box;}
.content4 .peLi .peo_img{width: .66rem;height: .66rem;border-radius:50%;float: left;overflow: hidden;box-sizing: border-box;border: .02rem solid #fff;}
.content4 .peLi .peo_img img{width: 100%;height: 100%;object-fit: cover;}
.content4 .peLi p{height: .66rem;float: left;margin-left: .13rem;overflow: hidden;line-height: .66rem;max-width: 3.4rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size: .28rem;color: #fff;}
.content4 .peLi span {float: right;height: .66rem;line-height: .66rem;font-size: .24rem;color: #fff;}
.content4 .swiper-wrapper {max-height:2.8rem;}

/*缩放效果*/
 @keyframes scaleDraw {  
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(1.03);
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(1.03);
    }
}
@font-face {
  	font-family: "DINMit";
  	src: url("/static/fonts/DINMittelschriftStd.woff2"),
       url("/static/fonts/DINMittelschriftStd.woff"),
       url("/static/fonts/DINMittelschriftStd.ttf"),
       url("/static/fonts/DINMittelschriftStd.eot"),
       url("/static/fonts/DINMittelschriftStd.otf");
}