body,html{background: #f5f5f7;overflow: visible;}
.header-address span{color: #fff;}
.ptCon{background: linear-gradient(90deg, #F7143D 0%, #F7231B 100%) !important;}
.ptCon.speAdv{    padding-bottom: 0.6rem;}
.banner{padding: .06rem .24rem 0;position: absolute;top: 0.9rem;left: 0;}
.huoniao_iOS .banner{top: 0}
.banner::after{content: '';display: block;width: 100%;height: 1.4rem;background: linear-gradient(180deg,#F7231B 0%, #F5F5F7 100%);position: absolute;left: 0;top: 0;}
.banner .siteAdvObj{z-index: 2}
.banner .siteAdvObj a{display: block;width: 100%;height: 100%;border-radius: .26rem;overflow: hidden;}
.banner .siteAdvObj img{display: block;}
.banner.noAdv{padding: 0;display: none;}
.banner.noAdv::after{display: none;padding: 0;}

.qgTab{margin-top: 3.12rem;    position: sticky;top: 0;left: 0;z-index: 99;padding: .36rem 0 .27rem .34rem;background: #f5f5f7;}

.qgTab.speTab{margin-top: -0.4rem;border-radius: 0.4rem;}
.qgTab .backTxt{float: left;font-family:source ;font-size: .44rem;font-weight: bold;color: #313233;background:#313233 url(../images/txt_bg.png) no-repeat top left;background-origin: border-box; -webkit-background-clip: text; -webkit-text-fill-color: transparent;font-style: italic;background-size: .33rem .58rem;   line-height: .44rem;
    padding-right: 0.2rem;}
.qgTab .tabDiv{width: 5.82rem;overflow-x: auto;margin-left: 1.34rem;overflow-y: hidden;height: 0.9rem;display: flex;align-items: center;}
.qgTab ul{white-space: nowrap;font-size: 0}
.qgTab .tabDiv::-webkit-scrollbar{display: none;}
.qgTab ul li{display: inline-block;margin-right: .3rem;text-align: center;}
.qgTab ul li a{display: block;}
.qgTab strong{font-family: "Akrobat";font-size: .42rem;color: #313233;display: block;}
.qgTab p{font-size: .22rem;color: #636366;text-align: center;display: inline-block;min-width: 1.06rem;height: .32rem;line-height: .32rem;}
.qgTab ul li.curr strong{color: #F70A0E}
.qgTab ul li.curr p{background: linear-gradient(90deg, #FF0302 0%, #FF2D5E 100%);border-radius: .16rem;color: #fff;}

/*列表*/

.glistbox li{margin:0 .24rem;background: #fff;border-radius: .2rem;margin-bottom: .2rem;}
.glistbox li a{display: block;padding: .3rem .24rem .3rem .28rem;}
.glistbox .imgbox{float: left;width: 2.3rem;height: 2.3rem;margin-top: .06rem;position: relative;}
.glistbox ul li .imgbox img{width: 100%;height: 100%;display: block;object-fit: cover;border-radius: .1rem;}
.glistbox ul li .txtbox{margin-left: 2.52rem;}
.glistbox .txtbox h4{font-size: .28rem;color: #212121;font-weight: bold;max-width: 100%;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.glistbox .txtbox .mprice{margin-top: .28rem;}
.glistbox .txtbox .mprice span{font-size: .22rem;color: rgba(124, 124, 128, .7);}
.glistbox .txtbox .mprice span:last-child{float: right}
.glistbox .txtbox .downPrice{width: 3.92rem;height: .4rem;background:url(../images/newqg_down1.png) no-repeat top left;background-size: cover;position: relative;}
.glistbox .txtbox .downPrice span{text-align: center;font-size: .22rem;color: #fff;background:url(../images/newqg_down2.png) no-repeat top left;background-size: cover;width: 1rem;height: .8rem;display: block;position: absolute;left: 1.33rem;bottom: .15rem;box-sizing: border-box;padding-top: .1rem;}

.glistbox .txtbox .tjPrice{background: linear-gradient(90deg, #3D2324 0%, #3B1C17 50%);height: .94rem;border-radius: .12rem;margin-top: .04rem;padding-right: 1.8rem;position: relative;display: inline-block;}
.glistbox .txtbox .tjPrice .tjLeft{padding-left: .16rem;height:.94rem;float: left;padding-top: .1rem;box-sizing: border-box; min-width: 2.14rem;padding-right: .16rem;}
.glistbox .txtbox .tjPrice .tjLeft .price1,.glistbox .txtbox .tjPrice .tjLeft .price2{white-space: nowrap;}
.glistbox .txtbox .tjPrice .tjLeft .price1 em{font-size: .22rem;color: #FDE4BB;margin-left: .04rem;}
.glistbox .txtbox .tjPrice .tjLeft .price1 span{font-size: .24rem;color: #FDE4BB;font-family: moneyNumber;display: inline-block; line-height: 1;}
.glistbox .txtbox .tjPrice .tjLeft .price1 strong{font-size: .42rem;}
.glistbox .txtbox .tjPrice .tjLeft .price2{font-size: .22rem;color: #ADAEB3;margin-top: .02rem;line-height: 1}
.glistbox .txtbox .tjPrice .tjLeft .price2 em{margin-left: .06rem;}
.glistbox .txtbox .tjPrice .tjRt{font-size: .3rem;color: #fff;height:.94rem;background: url(../images/newqg_down3.png) center no-repeat;background-size: cover;position: absolute;right: -2px;top: 0;width: 1.8rem;text-align: right;padding-right: .18rem;box-sizing: border-box;display: flex;align-items: center;justify-content: flex-end;border-radius: 0 .12rem .12rem 0;}

.glistbox .hasBegain .imgbox .hotTag{position: absolute;top: -.04rem;left: -.07rem;font-size: .22rem;color: #fff;font-weight: bold;background: linear-gradient(90deg, #FF158E 0%, #FF0303 100%);height: .32rem;line-height: .32rem;border-radius: .16rem;padding: 0 .09rem 0 .38rem;}

.glistbox .hasBegain .imgbox .hotTag i{display: inline-block;width: .4rem;height: .4rem;background:url(../images/hotqg.png) no-repeat top left;background-size: cover;position: absolute;bottom: 0;left: -.02rem;}

.glistbox .hasBegain .txtbox .downPrice,.glistbox .hasSaleout .txtbox .downPrice{background:url(../images/newqg_down5.png) no-repeat top left;background-size: cover;}
.glistbox .hasBegain .txtbox .downPrice span,.glistbox .hasSaleout .txtbox .downPrice span{background:url(../images/newqg_down6.png) no-repeat top left;background-size: cover;}
.glistbox .hasBegain .txtbox .downPrice strong,.glistbox .hasSaleout .txtbox .downPrice strong{display: block;margin-top: -.04rem}
.glistbox .hasBegain .txtbox .tjPrice .tjRt{background: url(../images/newqg_down4.png) center no-repeat;background-size: cover;}
.glistbox .hasBegain .txtbox .tjPrice .tjRt>div{text-align: center;}
.glistbox .hasBegain .txtbox .tjPrice .tjRt strong{font-size: .32rem;}
.glistbox .hasBegain .txtbox .tjPrice .tjRt p{font-size: .22rem;color: rgba(255, 255, 255, .7)}

.glistbox .hasSaleout .txtbox .tjPrice .tjRt{background: url(../images/newqg_down7.png) center no-repeat;background-size: cover;}
.glistbox .hasSaleout .imgbox .outTag{display: inline-block;background: rgba(153, 153, 153, .8);width: 1.6rem;height: 1.6rem;line-height: 1.6rem;text-align: center;position: absolute;left: 50%;top: 50%;margin-top: -.8rem;margin-left: -.8rem;font-size: .3rem;color: #fff;font-weight: bold;border-radius: 50%;}

.qgTab .noChangci strong{font-size: .36rem;}