body,html{background: #f5f5f7;}
.quanDetail{max-height: 4.34rem; min-height: 3rem; background: linear-gradient(8deg, #FF5F33 0%, #F6252F 100%); border-radius: .3rem; margin: 0 .28rem; margin-top: .2rem; position: relative;}
.quanDetail .shop_info{height: 1.36rem; margin:0 .2rem; padding: 0 .04rem; border-bottom:  .02rem dashed #FEC8A4; display: flex; align-items: center; }
.quanDetail .shop_info .shop_logo{width: .84rem; height: .84rem; background: #fff; border-radius: 50% ;margin-right: .18rem}
.quanDetail .shop_info .shop_logo img{display: block; width: 100%; height: 100%; object-fit: cover;}
.quanDetail .shop_info .shop_detail{display: flex; justify-content: center; flex-direction: column;  color: #fff;}
.quanDetail .shop_info .shop_detail h2{font-size: .36rem; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow:ellipsis; }
.quanDetail .shop_info .shop_detail p{font-size: .22rem; margin-top: .1rem; padding-left: .05rem; white-space: nowrap; overflow: hidden; text-overflow:ellipsis;}
.quanDetail .shop_info::after,.quanDetail .shop_info::before{content: ''; display: block; width: .2rem; height: .2rem; border-radius: .1rem; background: #f5f5f7; position: absolute; top: 1.26rem; left: -.1rem;}
.quanDetail .shop_info::after{left: auto; right: -.1rem;}
.quanDetail .quan_info.noget{height: 1.64rem; padding: 0 .38rem; box-sizing: border-box; padding-top: .2rem;}
.quanDetail .quan_info .lab{font-size: .22rem; color: #fff;}
.quanDetail .quan_info .q_detail{display: flex; align-items: center; justify-content: space-between;}
.quanDetail .quan_info .q_amount{font-size: .3rem; font-weight: bold; font-family: moneyNumber; color: #fff; line-height: .3rem;}
.quanDetail .quan_info .q_amount b{font-size: .9rem; font-family: Akrobat; margin-right: .1rem; line-height: 1em;}
.quanDetail .quan_info .q_amount span{font-size: .36rem; font-family: moneyNumber;}
.quanDetail .quan_info .q_detail .btn_link{display: block; width: 1.6rem; height: .6rem; border-radius: .3rem; background: #fff; text-align: center; line-height: .6rem; font-size: .26rem; font-weight: bold; color: #F21F20;}
.quanDetail .quan_info.hasget{padding: 0 .38rem;  box-sizing: border-box; padding-top: .2rem; padding-bottom: .3rem;}
.quanDetail .quan_info.hasget .q_detail{justify-content: flex-start; color: #fff;}
.quanDetail .quan_info.hasget .q_detail .right_txt{ margin-left: .4rem;}
.quanDetail .quan_info.hasget .q_detail .right_txt h4{font-size: .3rem;}
.quanDetail .quan_info.hasget .q_detail .right_txt p{font-size: .2rem; margin-top: .06rem}
.quanDetail .quan_info.hasget .btn_box p{text-align: center; font-size: .22rem; color: #FFBCA8; margin-top: .1rem;}
.quanDetail .quan_info.hasget .btn_box a{display: block; width: 4rem; height: .8rem; border-radius: .4rem; background: linear-gradient(180deg, #FFE185 0%, #FFB24D 100%); box-shadow: 0 .13rem .33rem 0 rgba(100, 0, 7, 0.37); text-align: center; line-height: .8rem; color: #C71414; font-size: .3rem; font-weight: bold; margin: auto; margin-top: .16rem;}
.quanDetail .quan_info.hasget .btn_box a.click{background: #C4C4C4; box-shadow: 0 .13rem .33rem 0 rgba(100, 0, 7, 0.37); color: #fff;}
.prolist{margin: 0 .28rem; margin-top: .2rem; background: #fff; border-radius: .3rem; padding: .3rem .2rem}
.prolist dt{font-size: .28rem; color: #333; margin-bottom: .06rem}
.prolist dd{border-bottom: solid 1px #EDEDED}
.prolist dd:last-child{border-bottom: none;}
.prolist .pro_dd{padding: .2rem 0; height: 1.8rem; display: block;}
.prolist .pro_img{width: 1.8rem; height: 1.8rem; background: #f5f5f5; border-radius: .1rem; float: left;}
.prolist .pro_img img{display: block; width: 100%; height: 100%; object-fit: cover}
.prolist .pro_info{height: 1.8rem; margin-left: 1.8rem; padding-left: .22rem; display: flex; justify-content: space-between; flex-direction: column; box-sizing: border-box; padding-bottom: .06rem; position: relative;}
.prolist .pro_info h2{font-size: .28rem; font-weight: bold;display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden;}
.prolist .pro_info .qa_price{font-size: .22rem; color: #F72A34; font-weight: bold; font-family: moneyNumber; line-height: 1.2em}
.prolist .pro_info .qa_price b{font-size: .36rem;}
.prolist .pro_info .qa_price em{font-size: .24rem;  font-weight: bold;}
.prolist .pro_info .tip{font-size: .22rem; color: #F72A34; margin-bottom: .1rem;}
.prolist .pro_info s{font-size: .22rem; color: #999;}
.prolist .pro_info .btn{width: 1.4rem; height: .64rem; border-radius: .32rem; background: linear-gradient(-90deg, #F6252F 0%, #FF4621 100%); color: #fff; font-size: .26rem; font-weight: bold; line-height: .64rem; text-align: center; position: absolute; right: .14rem; bottom: .15rem;}
