body,html{background: #F5F5F7;overflow: visible;}
/*轮播图*/
.banner{width: 100%;position: relative;min-height: 2.5rem;height: 5.62rem;overflow: hidden;}
.banner .wrapper {position: relative;}
.banner .wrapper .swiper-container {color: #fff;text-align: center;height: 5.62rem;overflow: hidden;}
.banner .wrapper .swiper-container .swiper-slide {-webkit-flex-shrink: 0; -ms-flex: 0 0 auto; flex-shrink: 0; width: 100%; position: relative;}
.banner .wrapper .swiper-slide .bannerImg{display: block;height: 5.62rem}
.banner .wrapper .swiper-wrapper img {width:100%;height:auto;position:relative;top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%);}

.banner .wrapper .swiper-wrapper .slideinfo {display: none;}
.banner .wrapper .pagination {position: absolute;z-index: 20;left: auto;bottom: .53rem;width: auto;right: .2rem;display: inline-block;padding: 0 .2rem;background: rgba(0,0,0,.6);height: .36rem;line-height: .36rem;border-radius: .18rem;font-size: .2rem;color: rgba(255,255,255,.6);font-family: moneyNumber;}
.banner .swiper-pagination-current{color: rgba(255,255,255,1);}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{text-align: center;}
.banner .swiper-wrapper .swiper-slide::after{content: '';display: block;width: 100%;height: 2.65rem;background: linear-gradient(0deg, #1E1D2B 0%, rgba(34, 30, 44, 0) 100%);position: absolute;left: 0;bottom: 0;z-index: 9;}



.shopCollect{position: absolute;bottom: .62rem;left: .3rem;right: 1.1rem;z-index: 10;}
.shopCollect .shopImg{display: block;width: 1rem;height: 1rem;float: left;border-radius: .1rem;overflow: hidden;}
.shopCollect .shopImg img{display: block;width: 100%;height: 100%;object-fit: cover}
.shopCollect .shopInfo{margin-left: 1.22rem;padding-right: .22rem;}
.shopCollect .shopInfo h2{font-size: .36rem;font-weight: bold;max-width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color: #fff;}
.shopCollect .openTime{margin-top: .16rem;display: flex;align-items: center;}
.shopCollect .openTime em{background: linear-gradient(90deg, #F75F42 0%, #F22A18 100%);height: .28rem;line-height: .28rem;border-radius: .06rem;display: inline-block;padding: 0 .1rem;font-size: .2rem;color: #fff;}
.shopCollect .openTime span{font-size: .22rem;color: rgba(255,255,255,.8);margin-left: .1rem;}

.shopOther{padding: .33rem .3rem;border-radius: .3rem .3rem 0 0;margin-top: -.2rem;    position: relative;z-index: 20;background: #f5f5f7;}
.shopOther>div{display: flex;align-items: center;justify-content: space-between;height: 1.5rem;padding: 0 .17rem 0 .24rem;position: relative;border-radius: .2rem;background: #fff;box-sizing: border-box;}
.shopOther .shopAddr{padding-left: .46rem;position: relative;}
.shopOther .shopAddr::after{content: '';display: block;width: .36rem;height: .36rem;background: url(../images/shangquan/pos2.png) no-repeat right center;background-size: cover;position: absolute;left: 0;top: .06rem;}
.shopOther .shopAddr h2{font-size: .28rem;color: #222;font-weight: bold;max-width: 4.2rem;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;line-height: .33rem;}
.shopOther .shopAddr p{font-size: .24rem;color: #777880;}
.shopOther .shopContact{font-size: 0;}
.shopOther .shopContact a{display: inline-block;width: .6rem;height: .6rem;}
.shopOther .shopContact .appMapBtn{background: url(../images/shangquan/shopadr.png) no-repeat center center;background-size: .6rem;}
.shopOther .shopContact .shopTel{background: url(../images/shangquan/shoptel.png) no-repeat center center;background-size: .6rem;margin-left: .2rem;}

/*商品列表*/
.shop_container{ margin-top: -1px;}

.headbox{background: #f5f5f7;padding-top: .3rem;padding-bottom: .3rem;position: sticky;top: 0;left: 0;z-index: 10}
.headbox ul{display: flex;    padding: 0 .4rem;align-items: center;}
.headbox li{text-align: center;margin-right: .77rem;}
.headbox li a{font-size: .3rem;color: #666}
.headbox li::after{content: '';display: block;width: .5rem;height: .08rem;margin: .08rem auto 0;background: none;border-radius: .04rem;}
.headbox li.curr a{font-size: .36rem;color: #222;font-weight: bold;}
.headbox li.curr::after{background: #F72A34;}

.typemore{padding: 0 .2rem;font-size: 0;}
.typemore a{display: inline-block;margin-right: .2rem;height: .5rem;line-height: .5rem;padding: 0 .22rem;background: #E6E6EB;border-radius: .25rem;font-size: .24rem;color: #666;}
.typemore a.curr{background: linear-gradient(90deg, #F75F42 0%, #F22A18 100%);color: #fff;}

/*推荐优惠列表*/
.proBox .proList{padding: 0 .24rem;}
.proUl li{width: 3.42rem;border-radius: .16rem;background: #fff;margin-top: .2rem;}
.proUl li a{display: block;}
.proUl li .goodImg{width: 3.42rem;height: 3.42rem;position: relative;overflow: hidden;border-radius: .16rem .16rem 0 0;}
.proUl li .goodImg img{width:100%;height: 100%;object-fit: cover;display: block;}
.proUl li .goodInfo{padding: .12rem .18rem 0;}
.proUl li .goodInfo .goodTitle{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;font-size: .28rem;color: #000;font-weight: bold;line-height: .34rem;}
.proUl li .goodPrice{margin-top: .12rem;display: flex; align-items: baseline;}
.proUl li .goodPrice .newPrice{font-size: .26rem;color: #EC3628;} 
.proUl li .goodPrice .newPrice strong{font-size: .36rem;font-weight: normal;font-family: moneyNumber;} 
.proUl li .goodPrice .newPrice em{font-size: .28rem;font-family: moneyNumber;} 
.proUl li .goodPrice .oldPrice{font-size: .2rem;color: #A6A8B3;text-decoration: line-through;margin-left: .04rem;} 
.proUl li .goodPrice .oldPrice em{font-size: .24rem;}
.proUl li .goodStore{padding: .16rem .2rem;max-width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-size: .22rem;color: #666;border-top: 1px solid #f5f5f7;margin-top: .16rem}
/*相关商家*/
.storeBox .proList{padding: .2rem .24rem;}
.storeUl li{background: #fff;border-radius: .2rem;margin-bottom: .2rem;}
.storeUl li a{display: block;padding: .24rem .2rem .3rem;}
.storeUl li .storeImg{width: 1.4rem;height: 1.4rem;position: relative;overflow: hidden;border-radius: .06rem;float: left;}
.storeUl li .storeImg img{width:100%;height: 100%;object-fit: cover;display: block;}
.storeUl li .busInfo{margin-left: 1.6rem;}
.storeUl li .busInfo h2{font-size: .36rem;font-weight: bold;max-width: 100%;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.storeUl li .starbox{display: flex;align-items: center;justify-content: space-between;margin-top: .1rem}
.storeUl li .starbox>div{display: flex;align-items: center;}
.storeUl li .starbox em{font-size: .22rem;color: #999;line-height: 1}
.storeUl li .starbox s{display: inline-block;width: 1px;height: .16rem;background: #E6E6E6;margin-left: .13rem;margin-right: .16rem;}
.storeUl .haoping {display: flex;align-items: center;}
.storeUl .haoping i{display: inline-block;width: .26rem;height: .26rem;background: url(../images/shangquan/star.png) no-repeat center center;background-size: .26rem;margin-right: .04rem;vertical-align: middle}
.storeUl .haoping span{font-size: .24rem;font-family: "moneyNumber";margin-left: .02rem;line-height: .28rem;font-weight: bold;height: .26rem;vertical-align: middle;display: inline-block;}
.storeUl .juli{font-size: .24rem;color: #777880;}
.storeUl .tuanInfo{padding-top: .06rem;}
.storeUl .tuanInfo>div{max-width: 100%;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;font-size: .24rem;color: #666;margin-top: .16rem;}
.storeUl .tuanInfo>div i{display: inline-block;width: .3rem;height: .3rem;background: url(../images/shangquan/gift.png) no-repeat center center;background-size: .3rem;margin-right: .04rem;vertical-align: middle;margin-top: -.04rem;}
.storeUl .tuanInfo>div span{font-size: .26rem;color: #EC3628}
.storeUl .tuanInfo>div s{font-size: .22rem;color: #A6A8B3}

.loading{line-height: 1rem;text-align: center;font-size: .26rem;}