*{margin: 0;padding: 0;-webkit-tap-highlight-color: rgba(255,0,0,0);}
body{max-width: 1080px;margin: 0 auto; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; -webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-font-smoothing:antialiased; font-size: .24rem;}
body.fixed{position: fixed; left: 0; right: 0;}
i,em{font-style: normal;}
html, body {height: 100%;}
body{position: fixed; left: 0; right: 0; top: 0; bottom: 0;}
.BMap_scaleCtrl{left: 1.4rem !important; bottom: 0 !important;}
.absolute.header {position: fixed;}
.anchorBL{display:none;}
/* .BMap_noprint{display: block!important;} */
.BMap_Marker{display: block;}
.BMap_Marker img{width:.6rem;height:.6rem;}
/*地图*/
.map-box{position: fixed; top: -1rem; bottom: 0;left: 0;right: 0;}
.huoniao_iOS .map-box{top:0;}
#map{overflow: auto; top: 0; bottom: 0; left: 0; right: 0; height: 100%;}
/*筛选框*/
.allData{position: absolute;top: .98rem;right: .2rem;width: .76rem;	height: .7rem;border: 1px solid #eee; border-radius: .1rem;box-shadow:0px 0px 10px 0px rgba(132,132,132,0.3);z-index: 9;background: #fff;line-height: .7rem;font-size: .22rem;color: #333;text-align: center;box-sizing: border-box;}
.allData.active{color: #fe4215}
.map-tab{position: absolute;top: 1.76rem;right: .2rem;border: 1px solid #f5f5f7; border-radius: .1rem;box-shadow:0px 0px 10px 0px rgba(132,132,132,0.3);z-index: 9;background: #fff;width: .76rem;padding: 0 .12rem .02rem;box-sizing: border-box;}
.map-tab li{width: 100%;border-bottom: 1px solid #e5e5e5;padding: .13rem 0 .16rem;text-align: center;font-size: .22rem;color: #222;}
.map-tab li.active{color: #fe4215}
.map-tab li:last-child{border-bottom: none;}
.map-tab li i{display: block;width: .44rem;height: .44rem;    margin: 0 auto;}
.map-tab li.service i{background: url(../images/map/service.png) center center no-repeat;  background-size: .44rem;}
.map-tab li.busShop i{background: url(../images/map/busShop.png) center center no-repeat;  background-size: .44rem;}
.map-tab li.tuangou i{background: url(../images/map/tuangou.png) center center no-repeat;  background-size: .44rem;}
.map-tab li.fenlei i{background: url(../images/map/fenlei.png) center center no-repeat;  background-size: .44rem;}

.map-tab li.service.active i{background: url(../images/map/service2.png) center center no-repeat;  background-size: .44rem;}
.map-tab li.busShop.active i{background: url(../images/map/busShop2.png) center center no-repeat;  background-size: .44rem;}
.map-tab li.tuangou.active i{background: url(../images/map/tuangou2.png) center center no-repeat;  background-size: .44rem;}
.map-tab li.fenlei.active i{background: url(../images/map/fenlei2.png) center center no-repeat;  background-size: .44rem;}


.fixed{position: fixed;left: 0;right: 0;}
.header.fixed{top: 0}
/*搜索页*/
.search_box{height:.88rem; position: relative;background: #fff;position: fixed;left: 0;right: 0;top: .9rem;z-index: 10000;}
.huoniao_iOS .search_box{top: 0; }
.form_search{margin:.15rem .26rem 0 ; border-radius: .32rem; height: .64rem;background:no-repeat .3rem center url(../images/search/search_icon.png); background-size: .3rem; background-color: #F5F6FA;position: relative;}
.form_search input{width: 100%; box-sizing: border-box;border: none; background: none; font-size: .26rem; padding: .17rem .6rem .17rem .62rem;}
.form_search input::-webkit-input-placeholder{color: #aaa;}
.search_box .cancel_btn{float: right; margin-right: .33rem; font-size: .3rem;font-weight: bold;}
.search_box span{color: #333; line-height: .88rem;}

.filterTab{    position: sticky;top: 1.78rem;left: 0;z-index: 9999;}
.huoniao_iOS .filterTab{top: .88rem}

.filterTop{padding: 0 .3rem 0 .47rem;position: relative;height: 1.06rem;background: #fff;display: flex;align-items: center;justify-content: space-between;z-index: 102}
.filterTop .comdiv{float: left;}
.filterTop a{display: inline-block;font-size: .28rem;color: #333;margin-right: 1.2rem;}
.filterTop a s{display: inline-block;width: .14rem;height: .14rem;background:url('../images/shangquan/down.png') no-repeat center;background-size:.14rem;margin-left: .06rem;transition: all .3s}
.filterTop a.curr s{transform: rotate(180deg);}
.filterTab .shaixuan{font-size: .28rem;color: #333;   position: relative;z-index: 9;}
.filterTab .shaixuan s{display: inline-block;width: .24rem;height: .24rem;background:url('../images/search/shaixuan.png') no-repeat center;background-size:.24rem;margin-left: .05rem;vertical-align: middle;margin-top: -.04rem;}
.filterTab .shaixuan.curr{color: #F72A34}
.filterTab .shaixuan.curr s{background:url('../images/search/shaixuan2.png') no-repeat center;background-size:.24rem}

.filterBot{position: fixed;top: 2.84rem;left: 0;right: 0;transform: translateY(-100%);transition: all 0.5s;}
.huoniao_iOS .filterBot{top: 1.84rem}
.filterBot.show{transform: translateY(0);}
.filerAlert{background: #fff;max-height: 6.4rem;border-radius: 0px 0px .3rem .3rem;z-index: 101;    padding-bottom: .2rem;display: none;}
.filerAlert.show{display: flex;}
.filerAlert li a{display: block;padding: .2rem .4rem;font-size: .28rem;position: relative;}
.filerAlert li.curr a{color: #F72A34;font-weight: bold;}
.filerAlert li.curr a s{display: inline-block;width: .3rem;height: .3rem;background:url('../images/search/checked.png') no-repeat center;background-size:.3rem;position: absolute;right: .32rem;top: 50%;margin-top: -.15rem;}
.filerAlert ul{max-height: 6.4rem;overflow: auto;}
.filerAlert .chooseLeft{width: 100%}
.quyuAlert.active .chooseLeft,.fenleiAlert.active .chooseLeft{width: 40%;}
.quyuAlert.active .chooseRight,.fenleiAlert.active .chooseRight{width: 60%}

/*筛选弹窗*/
.sxAlert{display: none;background: #fff;padding-bottom: .4rem;border-radius: 0px 0px .3rem .3rem;z-index: 101;}
.sxAlert.show{display: block;}
.sxTop{max-height:5.1rem;padding: .4rem .3rem 0; overflow-y: auto;}
.sxTop dl{margin-bottom: .4rem;}
.sxTop dl dt{font-size: .28rem;font-weight: bold;margin-bottom: .3rem;}
.sxTop dl dt.moreInfo s{display: inline-block;float: right;width: .16rem;height: .2rem;background:url('../images/search/arr.png') no-repeat center;background-size:cover;transform: rotate(90deg);margin-top: .1rem}

.sxTop dl dd{font-size: 0;}
.sxTop dl dd a{display: inline-block;background: #F5F6FA;border-radius: .08rem;height: .62rem;line-height: .62rem;box-sizing: border-box;border: 1px solid #F5F6FA;text-align: center;margin-right: .12rem;font-size: .24rem;margin-bottom: .1rem;position: relative;}
.sxTop dl dd a.active{border: 1px solid #F72A34;color: #F72A34;background: #fff;}
.sxTop dl dd a.active::after{content: '';display: block;width: .34rem;height: .32rem;background:url('../images/search/gou.png') no-repeat center;background-size:cover;position: absolute;right: 0;bottom: 0;}
.sxTop dl.bidl dd a{width: 1.95rem;}
.sxTop dl.bidl dd a:nth-child(3n){margin-right: 0}
.sxTop dl.smdl dd a{width: 1.63rem;}
.sxTop dl.smdl dd a:nth-child(4n){margin-right: 0}

.sxBot{padding: 0 .3rem}
.sxBot li a{display: block;width: 3.3rem;text-align: center;box-sizing: border-box;font-size: .26rem;font-weight: bold;border-radius: .72rem;height: .72rem;line-height: .72rem;}
.sxBot li a.reset{border: 1px solid #E6E7ED;color: #000}
.sxBot li a.sure{background: linear-gradient(90deg, #F75F42 0%, #F22A18 100%);color: #fff}
.sxTop dl dd a.ttime.last{width: 1.83rem;}


/*自定义缩放*/
.zoom-ctrl {font-size: .5rem; position: absolute; z-index: 2; right: .2rem; bottom: 2.4rem; width: .72rem; text-align: center; border: 1px solid #e6e6e6; border-bottom-width: 0; background: #fff; color: #007aff; border-radius: .1rem;}
.zoom-ctrl span {display: block; height: .85rem; border-bottom: 1px solid #e6e6e6; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; position: relative;}
.zoom-ctrl .zoom-plus:before, .zoom-ctrl .zoom-minus:before {display: block; content: ''; width: .48rem; height: .04rem; position: absolute; top: .46rem; left: .14rem; background: #007aff;}
.zoom-ctrl .zoom-plus:after {display: block; content: ''; height: .46rem; width: .04rem; position: absolute; top: .24rem; left: .36rem; background: #007aff;}

/*左下角定位*/
.zoom-local{width: .7rem; height: .7rem; border: 1px solid #eee; border-radius: .1rem; position: absolute; left: .2rem; top: 0; background: #fff url(../images/map/local.png) center center no-repeat;  background-size: .44rem;box-shadow:0px 0px 10px 0px rgba(132,132,132,0.3);z-index: 9;}
/*.zoom-local.active{background: #fff url(../images/map/local2.png) center center no-repeat;  background-size: .44rem;}*/
/*右下角区域*/
.zoom-addr{width: .9rem; height: .9rem; border: 1px solid #eee; border-radius: .1rem; position: absolute; right: .2rem; bottom: .65rem; background: #fff;box-shadow:0px 0px 10px 0px rgba(132,132,132,0.3);font-size: .22rem;color: #333;z-index: 9;text-align: center;}
.zoom-addr i{display: block;width: .44rem;height: .44rem;background: url(../images/map/addr.png) center center no-repeat;  background-size: .44rem;    margin: .08rem auto 0;}

/*区域弹窗*/
.mobileSelect-show .content{border-radius:.4rem .4rem 0px 0px}
.mobileSelect .content .btnBar{height: .88rem;line-height: .88rem;border-bottom: 1px solid #E6E6E6}
.mobileSelect .content .btnBar .title{font-size: .36rem;color: #000;}
.mobileSelect .content .btnBar .ensure{color: #337DF7;font-size: .3rem;}
.mobileSelect .content .btnBar .cancel{font-size: .3rem;color: #666}
/* 区域气泡 */
.bubble {-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; text-align: center;}
.bubble p {white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
/*.bubble-1 {overflow: hidden; border-radius: .25rem }*/
.bubble-1 .name {font-size: .26rem;  margin-top: -.1rem;width: 2.15rem;height: .46rem;line-height: .46rem;border-radius: .23rem;text-align: center;box-sizing: border-box;padding: 0 .24rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;color: #333;background: #fff;border:1px solid #f5f5f7;box-shadow: 0px .03rem .13rem 0px rgba(80, 80, 80, 0.16);}


/*一级地图时各类型商家图标*/
.bubble-1 span{display: inline-block;width: .68rem;height: .68rem;}
.bubble-1 span a{display: inline-block;width: .68rem;height: .68rem;}
.bubble-1 span.homemaking{background: url(../images/map/homemaking.png) center center no-repeat;background-size: cover;}
.bubble-1 span.shop{background: url(../images/map/shop.png?v=1) center center no-repeat;background-size: cover;}
.bubble-1 span.tuan{background: url(../images/map/tuan.png) center center no-repeat;background-size: cover;}
.bubble-1 span.info{background: url(../images/map/info.png) center center no-repeat;background-size: cover;}
/*二级地图时各类型商家图标*/
.bubble-2 span{display: inline-block;width: .68rem;height: .68rem;}
.bubble-2 span a{display: inline-block;width: .68rem;height: .68rem;}
.bubble-2 span.homemaking{background: url(../images/map/homemaking.png) center center no-repeat;background-size:cover;}
.bubble-2 span.shop{background: url(../images/map/shop.png?v=1) center center no-repeat;background-size: cover;}
.bubble-2 span.tuan{background: url(../images/map/tuan.png) center center no-repeat;background-size: cover;}
.bubble-2 span.info{background: url(../images/map/info.png) center center no-repeat;background-size: cover;}


/*遮罩层*/
.mask{width: 100%;background: rgba(0,0,0,.6);position: fixed;top: 0;right: 0;z-index: 999;display: none;bottom: 0}

/*商家列表*/
.storeList{position: absolute;bottom: 0;left: 0;right: 0;z-index: 99;padding-top: 1rem}
.storeList .storeWrap{box-shadow: 0px -.03rem .27rem 0px rgba(25, 30, 59, 0.08);border-radius: .3rem .3rem 0px 0px;    background: #fff;}
.storeList .showmore{height: .86rem;border-bottom: 1px solid #f5f5f7;padding-top: .14rem;box-sizing: border-box;}
.storeList .showmore s{display: block;width: .64rem;height: .1rem;border-radius: .05rem;background: #E0E0E0;margin: 0 auto .12rem;}
.storeList .showmore p{font-size: .24rem;color: #999;text-align: center;}

.showresult{position: absolute;top: 0;left: 50%;transform: translateX(-50%);height: .6rem;line-height: .6rem;background: #fff;border: 1px solid #eee;box-shadow: 0px .03rem .13rem 0px rgba(80, 80, 80, 0.16);border-radius: .3rem;padding: 0 .28rem;font-size: .26rem;color: #333;display: none;}
.showresult.reshow{display: inline-block;}

.storeList ul{padding: .2rem .3rem;max-height: 8rem;overflow: auto;}
.storeList li{margin-bottom: .3rem;}
.storeList li a{display: block;}
.storeList li .storeImg{width: 1.5rem;height: 1.5rem;position: relative;overflow: hidden;border-radius: .06rem;float: left;}
.storeList li .storeImg img{width:100%;height: 100%;object-fit: cover;display: block;}
.storeList li .busInfo{margin-left: 1.7rem;height: 1.5rem;}
.storeList li .busInfo h2{padding-top: .06rem;}
.storeList li .busInfo h2 span{font-size: .3rem;font-weight: bold;max-width: 100%;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;display: inline-block;}
.storeList li .busInfo h2 em{display: inline-block;line-height: .3rem;background: #F64F36;border-radius: .04rem;width: .3rem;text-align: center;font-size: .2rem;color: #fff;overflow: hidden;vertical-align: top;margin-top: .06rem;margin-left: .08rem;}
.storeList li .starbox{display: flex;align-items: center;justify-content: space-between;margin-top: .1rem}
.storeList li .starbox>div{display: flex;align-items: center;}
.storeList li .starbox em{font-size: .22rem;color: #999;line-height: 1}
.storeList li .starbox s{display: inline-block;width: 1px;height: .16rem;background: #E6E6E6;margin-left: .13rem;margin-right: .16rem;}
.storeList .haoping {display: flex;align-items: center;}
.storeList .haoping i{display: inline-block;width: .26rem;height: .26rem;background: url(../images/shangquan/star.png) no-repeat center center;background-size: .26rem;vertical-align: middle; transform: translateY(-.02rem);}
.storeList .haoping span{font-size: .24rem;font-family: "moneyNumber";margin-left: .02rem;line-height: .28rem;font-weight: bold;height: .26rem;vertical-align: middle;display: inline-block;}
.storeList .starbox .infospan{display: inline-block;padding: 0 .12rem;line-height: .32rem;border-radius: .04rem;background: #FFEFEB;font-size: .2rem;color: #F24730;white-space: nowrap;margin-left: .14rem;}

.storeList .addressInfo{padding-top: .2rem;}
.storeList .addressInfo i{display: inline-block;width: .26rem;height: .26rem;background: url(../images/shangquan/pos.png) no-repeat center center;background-size: cover;margin-right: .04rem;vertical-align: top;margin-top: .02rem;overflow: hidden;}
.storeList .addressInfo span{font-size: .22rem;color: #666;max-width: 3.85rem;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;display: inline-block;}
.storeList .addressInfo em{font-size: .24rem;color: #777880;float: right;}

/*搜索结果*/
.searchResult{position: fixed;top: 1.78rem;left: 0;right: 0;background: #fff;z-index: 10000;bottom: 0;    display: none;overflow: auto;}
.searchResult .resultList{padding-left: .28rem;}
.searchResult .item{border-bottom: 1px solid #f5f5f7}
.searchResult .item a{display: block;padding: .28rem .3rem .28rem 0;}
.searchResult .item .adrIcon{float: left;width: .3rem;height: .3rem;background: url(../images/map/pos2.png) no-repeat center center;background-size: cover;    margin-top: .06rem;}
.searchResult .item .adrInfo{margin-left: .5rem;}
.searchResult .item .adrInfo .adrtitle{overflow: hidden;}
.searchResult .item .adrInfo h2{font-size: .28rem;color: #212121;font-weight: bold;max-width: 4.4rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;float: left;}
.searchResult .item .adrInfo h2 strong{color: #EC3628;}
.searchResult .item .adrtitle span{font-size: .24rem;color: #666;float: right;margin-top: .04rem}
.searchResult .item .adress{font-size: .24rem;max-width: 5.4rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color: #999;margin-top: .06rem;}

.allresult{padding-left: .28rem;}
.allresult a{height: .84rem;line-height: .84rem;box-sizing: border-box;padding-right: .3rem;display: block;border-bottom: 1px solid #f5f5f7}
.allresult s{display: inline-block;width: .3rem;height: .3rem;background: url(../images/map/ser.png) no-repeat center center;background-size: cover;margin-right: .12rem;vertical-align: middle;margin-top: -.06rem;}
.allresult strong{font-size: .28rem;font-weight: bold;color: #212121;}
.allresult span{float: right;font-size: .24rem;color: #666;}