<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>安全跳转提醒-{#$cfg_webname#}</title>
    <link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico?v={#$cfg_staticVersion#}" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/middlejump.css?v={#$cfg_staticVersion#}" />
</head>

<body>
<div class="content">
    <div class="logo-img"><img src="{#$cfg_weblogo#}" alt="{#$cfg_webname#}"></div>

    <div class="wrapper">
        <h2>您即将离开{#$cfg_shortname#}</h2>
        <p class="info"><img src="{#$templets_skin#}images/tips.png">请注意您的账号和财产安全</p>
        <p class="link">{#$target#}</p>
        <div class="btns fn-clear">
            <a href="{#$target_link#}">继续访问</a>
        </div>
    </div>
</div>

</body>
</html>