<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
    <title>聊天记录</title>
    {#$cssFile#}
</head>

<body>
    <!-- 筛选/搜索 -->
    <div class="search">
        <!-- 好友筛选 -->
        <label>是否是好友：
            <div class="btn-group" id="isfriend" data-id="-1">
              <button class="btn dropdown-toggle" data-toggle="dropdown">全部<span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="javascript:;" data-id="-1">全部</a></li>
                <li><a href="javascript:;" data-id="0">否</a></li>
                <li><a href="javascript:;" data-id="1">是</a></li>
              </ul>
            </div>
        </label>
        <!-- 发起者/接收者筛选 -->
        <div class="select-group">
          <label>用户筛选：
            <div class="btn-group" id="userFilter" data-id="1">
              <button class="btn dropdown-toggle" data-toggle="dropdown">用户ID<span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="javascript:;" data-id="1">用户ID</a></li>
                <li><a href="javascript:;" data-id="2">发起者ID/接收者ID</a></li>
              </ul>
            </div>
          </label>
          <input class="input-mini" type="text" id="userid1" placeholder="用户ID">
          <input class="input-mini" type="text" id="userid2" placeholder="接收者ID" style="display: none;">
        </div>
        <!-- 聊天日期 -->
        &nbsp;&nbsp;聊天从&nbsp;&nbsp;<input class="input-small" type="text" id="chatStart" placeholder="开始日期">&nbsp;&nbsp;到&nbsp;&nbsp;<input class="input-small" type="text" id="chatEnd" placeholder="结束日期">&nbsp;&nbsp;
        <!-- 添加好友日期 -->
        &nbsp;&nbsp;添加好友从&nbsp;&nbsp;<input class="input-small" type="text" id="addStart" placeholder="开始日期">&nbsp;&nbsp;到&nbsp;&nbsp;<input class="input-small" type="text" id="addEnd" placeholder="结束日期">&nbsp;&nbsp;
        <button type="button" class="btn btn-success" id="searchBtn">立即搜索</button>
    </div>
    <!-- 分页 -->
    <div class="filter clearfix">
        <div class="f-right">
          <div class="btn-group" id="pageBtn" data-id="50">
            <button class="btn dropdown-toggle" data-toggle="dropdown">每页50条<span class="caret"></span></button>
            <ul class="dropdown-menu pull-right">
              <li><a href="javascript:;" data-id="10">每页10条</a></li>
              <li><a href="javascript:;" data-id="15">每页15条</a></li>
              <li><a href="javascript:;" data-id="20">每页20条</a></li>
              <li><a href="javascript:;" data-id="30">每页30条</a></li>
              <li><a href="javascript:;" data-id="50">每页50条</a></li>
              <li><a href="javascript:;" data-id="100">每页100条</a></li>
            </ul>
          </div>
          <button class="btn disabled" data-toggle="dropdown" id="prevBtn">上一页</button>
          <button class="btn disabled" data-toggle="dropdown" id="nextBtn">下一页</button>
          <div class="btn-group" id="paginationBtn">
            <button class="btn dropdown-toggle" data-toggle="dropdown">1/1页<span class="caret"></span></button>
            <ul class="dropdown-menu" style="left:auto; right:0;">
              <li><a href="javascript:;" data-id="1">第1页</a></li>
            </ul>
          </div>
        </div>
    </div>
    <!-- 表头 -->
    <ul class="thead t100 clearfix">
        <li class="row3">&nbsp;</li>
        <li class="row20 left">发起人</li>
        <li class="row20 left">接收人</li>
        <li class="row10 left">是否为好友</li>
        <li class="row15 left sort"><a href="javascript:;" data-id="1">添加好友时间<i></i></a></li>
        <li class="row15 left sort"><a href="javascript:;" class="curr" data-id="0">最后聊天时间<i></i></a></li>
        <li class="row17 left">操作</li>
    </ul>
    <!-- 列表 -->
    <div class="list mt124" id="list" data-totalpage="1" data-atpage="1"><table><tbody></tbody></table><div id="loading" class="loading hide"></div></div>
    <div id="pageInfo" class="pagination pagination-centered"></div>
    <div id="chatDetailBody"></div>
</body>
<script>
  var mapSet = {
    mapType: '{#$site_map#}',
    mapKey: '{#$site_map_key#}'
  };
</script>
{#$jsFile#}
</html>