html{ height: 100vh}

body{ box-sizing: border-box; min-height: 100vh;  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */}
body::before{content: ''; display: block; height: 2.87rem;  position: fixed; left: 0; right: 0; top: 0; transition: opacity .3s; opacity: 1;background: url(../images/bg_msg.png) no-repeat center top/100% auto;}
body.bg_white::before{ opacity: 0}
.topFixed{position: fixed; left: 0; right: 0; top: 0; z-index: 2;  background: #fff;}
.topFixed::before{content: '';display: block; width: 100%; height: 1rem; background: url(../images/bg_msg.png) no-repeat top/100% auto; position: absolute; left: 0; right: 0; top: 0; pointer-events: none; opacity: 1; transition: opacity .3s;}
.topFixed.bg_white::before{opacity: 0}

/* .headTop{height: .98rem; display: flex; align-items: center; justify-content: space-between; padding: 0 .34rem; background: url(../images/bg_msg.png) no-repeat center -.88rem/100% auto} */
.listBox{position: relative; z-index: 1}
.headTop{height: .98rem; display: flex; align-items: center; justify-content: space-between; padding: 0 .34rem; position: relative; z-index:2}
/*html.huoniao_iOS:not(.wx_miniprogram):not(.byte_miniprogram):not(.baidu_miniprogram):not(.qq_miniprogram) .headTop{padding-top: .88rem;}*/
.headTop .head_left,.headTop .right_btns{display: flex; align-items: center; }
.headTop h2{font-size: .42rem; color: #192233; font-weight: bold; margin-right: .24rem;}
.headTop .head_left a{color: #737780; font-size: .24rem; display: flex; align-items: center;}
.headTop .head_left a::before{content: ''; display: block; width: .42rem; height: .42rem; background: url(../images/clear_msg.png) rgba(190, 190, 204, .4) no-repeat center/cover; margin-right: .08rem; border-radius: 50%;}
.headTop .right_btns a{display: block; width: .48rem ;height: .48rem; background: url(../images/add_friend.png) no-repeat center/cover; margin-left: .42rem;}
.headTop .right_btns a.f_list{background-image: url(../images/friend_list.png)}

.pushMessage .openInform{display: flex;}
.openInform{display: none; align-items: center; justify-content: space-between; background: linear-gradient(90deg, #E0E7FC 0%, #EFF5FD 100%); height: .7rem; font-size: .26rem; color: #468BE7; padding: 0 .24rem 0 .2rem; }
.openInform .toOpen{font-size: .26rem; color: #468BE7; height: .44rem; border-radius: .22rem; box-sizing: border-box; line-height: .42rem; border: solid .02rem #468BE7; display: block; min-width: 1.06rem; padding:0 .06rem; text-align: center;}
.openInform span{display: flex; align-items: center;}
.openInform span::before{content: ''; display: block; width:.3rem; height: .3rem; background: url(../images/ring_tip.png) no-repeat center/cover; margin-right: .06rem;}
/* .pushMessage .listBox{padding-top: 2.18rem;} */
.listBox{padding-top: 1.08rem; padding-bottom: 1.5rem;}
/*html.huoniao_iOS:not(.wx_miniprogram):not(.byte_miniprogram):not(.baidu_miniprogram):not(.qq_miniprogram) .listBox{padding-top: 2.66rem}*/
/* .huoniao_iOS .pushMessage .listBox{padding-top: 3.06rem;} */
.tabBox{display: flex; align-items: center; justify-content: space-around; padding-bottom: .4rem;}
.tabBox a{display: block; text-align: center; color: #192233; font-size: .28rem; font-weight: bold;}
.tabBox .iconsBox{width: 1.12rem; height: 1.12rem; border-radius: 50%; display: flex; align-items: center; justify-content: center; position: relative; background: linear-gradient(0deg, #20C58E 0%, #15BC84 100%); margin-bottom: .16rem;}
.tabBox .iconsBox .count{height: .3rem; border-radius: .16rem .16rem .16rem .01rem; background: linear-gradient(90deg, #FC2B35 0%, #FF4621 100%); color: #fff; font-size: .2rem; font-weight: bold; line-height: .26rem; border: .02rem #fff solid; text-align: center; min-width: .38rem; box-sizing: border-box; position: absolute; left: .78rem; top: 0; padding:0 .08rem;}
.tabBox .iconsBox .count:empty{display: none;}
.tabBox .commtBox .iconsBox{ background: linear-gradient(0deg, #7394FF 0%, #4572FF 100%);}
.tabBox .fansBox .iconsBox{ background: linear-gradient(0deg, #AB69FE 0%, #8C29FE 100%);}
.tabBox .icon{width:.6rem; height: .6rem; background: url(../images/zan_icon.png) no-repeat center/cover;}
.tabBox .commtBox .icon{background-image: url(../images/cmmt_icon.png)}
.tabBox .fansBox .icon{background-image: url(../images/fans_icon.png)}
.msgBox .msgLi{display: flex; align-items: center; justify-content: flex-start;}
.delBox{padding: 0 .3rem; flex-shrink: 0;}
.touchOn{background: #F7F7F7 !important;}
.msgCon{box-sizing: border-box; padding:.31rem .3rem; display: flex; align-items: flex-start; position: relative; width: 100%; flex-shrink: 0; -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */}
.msgCon .icon{width: .98rem; height: .98rem; position: relative; background: url(/static/images/noPhoto_100.jpg) no-repeat center/cover; border-radius: 50%;}
.msgCon .icon .img{width: 100%; height: 100%; position: relative;}
.msgCon .icon .img::before{content: ''; display: block; width: 100%; height: 100%; position: absolute; left: 0; right: 0; top: 0; bottom: 0; border-radius: 50%; border: solid 0.01rem rgba(0,0,0,.05); box-sizing: border-box; pointer-events: none;}
.msgCon .icon img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.sysMsg .icon{background: url(../images/system_msg.png) no-repeat center/cover; border-radius: 50%}
.msgCon .icon .mNum{display: flex; align-items: center; justify-content: center;min-width: .32rem; height:.32rem; border-radius: .16rem; color: #fff; background: linear-gradient(90deg, #FC2B35 0%, #FF4621 100%); font-size: .22rem; position: absolute; left: .72rem; top: -.06rem; text-align: center; padding: 0 .06rem; box-sizing: border-box;  text-decoration: none; z-index: 3;}
.msgCon .icon .mNum:empty{display: none;}
.msgCon .msgInfo {margin-left: .24rem; -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */}
.msgCon .msgInfo .nick{font-size: .32rem; color: #192233; font-weight: bold; white-space: nowrap;overflow: hidden; text-overflow: ellipsis; line-height: 1.6em; max-width: 3.8rem;}
.msgCon .msgInfo p{font-size: .26rem; color: #737780; margin-top: .08rem; max-width: 4.4rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; min-height: .3rem;-webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */}
.msgTime{font-size: .22rem; color: #9BA3B3; position: absolute; top: .3rem; right: .3rem;}

.del_btn{width: .98rem; height: .98rem; background: linear-gradient(90deg, #FC2B35 0%, #FF3D28 100%); border-radius: .2rem; display: flex; align-items: center; justify-content: center;}
.del_btn::before{content: ''; display: block; width: .4rem; height: .4rem; background: url(../images/del_btn.png) no-repeat center/cover; margin: auto;}
.loading{text-align: center; font-size: .26rem; color: #999; padding: .6rem;}
.noData {padding-top: 1.68rem;}
.noData img{display: block; width: 4.1rem; height: 3.1rem; object-fit: cover; margin: auto;}
.noData p{text-align: center; color: #919499; font-synthesis: .24rem; padding-top: .4rem;}
.huoniao_iOS .topFixed{padding-top: .56rem;}
.huoniao_iOS .topFixed::before{padding-top: .56rem;}
.huoniao_iOS .listBox{padding-top: 1.64rem;}