
.w-form#educationForm h2.comTit{font-size: 18px;color: #333;font-weight: bold;padding-bottom: 12px;border-bottom: 1px solid #E9E9E9;margin-bottom: 20px;}
.w-form#educationForm h2.comTit.comTit2{margin-top: 50px;}

.w-form#educationForm .caret {position: absolute;right: 10px;top: 14px;display: inline-block; width: 0; height: 0;  vertical-align: top; border-top: 4px solid #000; border-right: 4px solid transparent; border-left: 4px solid transparent; content: "";}
.w-form#educationForm .inp{width: 493px;}
.w-form#educationForm #body{float: left;}
.w-form#educationForm dt{width: 128px;}
.w-form#educationForm dd{margin-left: 133px;}
/*下拉选择*/
.w-form#educationForm .down-div{position: relative;width: 150px;font-size: 14px;}
.w-form#educationForm .down-div .inp{cursor: pointer;width: 128px}
.w-form#educationForm .down-div .time_choose{position: absolute;top: 34px;left: 0;padding: 10px 0;width: 150px; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;border: 1px solid #E5E5E5;z-index: 99999;background: #fff;display: none;border-top: none}
.w-form#educationForm .down-div .time_choose.active{display: block;}
.w-form#educationForm .pro-choose{max-height: 220px;overflow: auto}
.w-form#educationForm .pro-choose::-webkit-scrollbar{width:4px;height:4px;}
.w-form#educationForm .pro-choose::-webkit-scrollbar-track-piece{background:#EAEAEA;border-radius:2px;}/*//底部*/
.w-form#educationForm .pro-choose::-webkit-scrollbar-thumb{border-radius:2px;background-color:#ABABAB;}/*//滚动*/
.w-form#educationForm .pro-choose::-webkit-scrollbar-thumb:hover{background-color:#666;}
.w-form#educationForm .pro-choose p a{height: 30px;line-height: 30px;padding-left: 12px;font-size: 14px;color: #666;display: block;}
.w-form#educationForm .pro-choose p:hover a,.pro-choose p.curr a{background: #FFF7F2;color: #FB5845}

/*.listImgBox.oneUploadTip .oneUploadObj,.listImgBox.oneUploadTip .listSection{float: left;}*/
.listImgBox.oneUploadTip .upload-tip{float: none;margin-left: 0;line-height: 25px;}

/*课程安排*/
.classWrap{background: #F8F8F8;margin: 20px 42px;padding: 20px;}
.classWrap dl{float: left;}
.w-form#educationForm .classWrap dt{width: 112px;}
.w-form#educationForm .classWrap dd{margin-left: 112px;}

.w-form#educationForm .classWrap .speTime .inp{width: 130px;float: left;text-align: center;font-size: 14px;color: #3B3B3B;}
.w-form#educationForm .classWrap .speTime em{float: left;margin-right: 7px;margin-left: 8px;font-size: 14px;}
.w-form#educationForm .classWrap .inp.class_com{width: 303px;font-size: 14px;color: #3B3B3B;}
.w-form#educationForm .classWrap .inp.class_com.class_teacher{cursor: pointer;}
.classWrap .input-append input.class_com2{width: 258px}
.classWrap .input-append .add-aft{padding: 4px 12px;}

.comBox{position: relative;}
.w-form#educationForm textarea.input_area {width: 65%; height: 126px; min-height: 126px; border: 1px solid #d9d9d9; padding: 5px 10px; resize: vertical;border-radius: 4px;font-size: 14px;}
.w-form#educationForm textarea.input_area::placeholder{color: #999;}

/*多个班级*/
.classContainer{display: none;}
.w-form#educationForm .classWrap .inp.class_name{width: 458px;}
.classWrap1{padding: 0;padding-right: 44px;position: relative;background: #F2F2F2;}
.classWrap1 .classCon{background: #F8F8F8;padding: 20px 0 20px 20px;}

.classWrap1 .btn {position: absolute; right: 11px; width: 20px; height: 20px; cursor: pointer;}
.classWrap1 .btn i {display: block; margin: 0 auto; background: url('../images/tuaneditbtn.png') no-repeat;}
.classWrap1 .move {top: 30px; cursor: move;}
.classWrap1 .btn.move i {width: 17px; height: 17px;}
.classWrap1 .btn.move:hover i {background-position: -18px 0;}
.classWrap1 .del { top: 70px;}
.classWrap1 .btn.del i {width: 9px; height: 9px; background-position: -4px -36px;}
.classWrap1 .btn.del:hover i {background-position: -22px -36px;}
.classWrap1 .add {top: 100px;}
.classWrap1 .btn.add i {width: 13px; height: 13px; background-position: -2px -66px;}
.classWrap1 .btn.add:hover i {background-position: -20px -66px;}
.w-form#educationForm .classWrap1 textarea.input_area{width: 620px;}
a.addMore{background: #F1F1F1;border: 1px solid  #D8D8D8;height: 32px;line-height: 32px;padding: 0 12px;font-size: 16px;color: #3B3B3B;margin: 0 186px;display: inline-block;}
a.addMore{display: none;}
/*选择教师*/
.teMask{position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,.67);z-index: 9999;display: none;}
.teacherWrap{position: fixed;top: 0;left: 0;right: 0;bottom: 0;pointer-events: none;display: flex;align-items: center;justify-content: center;z-index: 10000;display: none;}
.teacherWrap .teacherCon{background: #fff;border-radius: 5px;pointer-events: auto;position: relative;width: 620px;}
.teacherWrap .tecClose{    width: 16px;height: 16px;position: absolute;right: -36px;top: 0;background:  url('../images/close_alert.png') no-repeat;background-size: 16px;}
.teacherWrap .tecTop{height: 73px;line-height: 73px;border-bottom: 1px solid #E9E9E9;font-size: 24px;color: #333;text-align: center;}
.teacherWrap .tecMid{max-height: 468px;overflow: auto;border-bottom: 1px solid #E9E9E9;padding: 0 20px;}
.teacherWrap .tecMid li a{display: block;padding:20px 0;border-bottom: 1px solid #E9E9E9; }
.teacherWrap .tecMid li:last-child a{border-bottom: none;}
.teacherWrap .tecMid .left_img{width: 100px;height: 100px;border-radius: 50%;float: left;overflow: hidden;}
.teacherWrap .tecMid .left_img img{display: block;width: 100%;height: 100%;object-fit: cover;}
.teacherWrap .tecMid .r_info{margin-left: 118px;min-height: 100px;}
.teacherWrap .tecMid .r_info .r_name{font-size: 18px;color: #333;max-width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.teacherWrap .tecMid .r_info .r_other{font-size: 0;margin-top: 4px;}
.teacherWrap .tecMid .r_info .r_other span{display: inline-block;height: 22px;line-height: 22px;padding: 0 8px;font-size: 12px;color: #fff;margin-right: 10px;border-radius: 3px;}
.teacherWrap .tecMid .r_info .r_other span.cerRz{background: #3276FF}
.teacherWrap .tecMid .r_info .r_other span.eduRz{background: #02D5A5}
.teacherWrap .tecMid .r_info .r_class{font-size: 0;padding-top: 2px;}
.teacherWrap .tecMid .r_info .r_class span{display: inline-block;height: 32px;line-height: 32px;padding: 0 16px;font-size: 14px;color: #999;margin-right: 10px;border: 1px solid #D8D8D8;box-sizing: border-box;margin-top: 10px;position: relative;}
.teacherWrap .tecMid .r_info .r_class span.curr{border: 1px solid #FF6600;}
.teacherWrap .tecMid .r_info .r_class span.curr::after{content: '';font-size: 0px;position: absolute;width: 12px;height: 12px;right: 0px;bottom: 0px;background: url(../images/chech.png);background-size: 12px;}
.teacherWrap .tecBot{padding: 18px 0 24px;text-align: center;}
.teacherWrap .tecBot ul{display: inline-block;font-size: 0;}
.teacherWrap .tecBot ul li{display: inline-block;}
.teacherWrap .tecBot ul li.tecCancel{margin-right: 10px;}
.teacherWrap .tecBot ul li a{display: block;width: 136px;height: 42px;line-height: 42px;box-sizing: border-box;text-align: center;border: 1px solid #FF6600;font-size: 16px;color: #FF6600 ;border-radius: 3px;}

.teacherWrap .tecBot ul li.active a{background:#FF6600;color: #fff; }

/*日历弹窗*/
.dropdown-menu{position: absolute;top: 100%;left: 0;z-index: 100000;display: none;float: left;min-width: 150px;padding: 5px 0;margin: 2px 0 0;list-style: none;background-color: #fff;border: 1px solid #ccc;border: 1px solid rgba(0,0,0,0.05);*border-right-width: 2px;*border-bottom-width: 2px;-webkit-border-radius: 0 0 6px 6px;-moz-border-radius: 0 0 0 6px 6px;border-radius: 0 0 6px 6px;-webkit-box-shadow: 0 5px 50px rgb(0 0 0 / 30%);-moz-box-shadow: 0 5px 50px rgba(0,0,0,0.3);box-shadow: 0 5px 50px rgb(0 0 0 / 30%);-webkit-background-clip: padding-box;-moz-background-clip: padding;background-clip: padding-box;}
.table-condensed th, .table-condensed td{padding: 4px 5px;}  

.icon-arrow-left{display: inline-block;width: 14px;height: 14px;margin-top: 1px;*margin-right: .3em;line-height: 14px;vertical-align: text-top;background-image: url(/static/images/admin/glyphicons-halflings.png);background-repeat: no-repeat;background-position: -240px -96px;}
.icon-arrow-right{display: inline-block;width: 14px;height: 14px;margin-top: 1px;*margin-right: .3em;line-height: 14px;vertical-align: text-top;background-image: url(/static/images/admin/glyphicons-halflings.png);background-repeat: no-repeat;background-position: -264px -96px;}
.datetimepicker td, .datetimepicker th{font-size: 14px;color: #333;}
.datetimepicker th{font-weight: bold;}
.datetimepicker table tr td.disabled,
.datetimepicker table tr td.disabled:hover {
  background: none !important;
  color: #999999 !important;
  cursor: default !important;
  font-weight: normal !important;
}
