
.w-form#educationForm h2.comTit{font-size: 18px;color: #333;font-weight: bold;padding-bottom: 12px;border-bottom: 1px solid #E9E9E9;margin-bottom: 20px;}
.w-form#educationForm h2.comTit.comTit2{margin-top: 50px;}

.w-form#educationForm .caret {position: absolute;right: 10px;top: 14px;display: inline-block; width: 0; height: 0;  vertical-align: top; border-top: 4px solid #000; border-right: 4px solid transparent; border-left: 4px solid transparent; content: "";}
.w-form#educationForm .inp{width: 233px;}
.w-form#educationForm #body{float: left;}
.w-form#educationForm dt{width: 128px;}
.w-form#educationForm dd{margin-left: 133px;}
/*下拉选择*/
.w-form#educationForm .down-div{position: relative;width: 255px;font-size: 14px;}
.w-form#educationForm .down-div .inp{cursor: pointer;}
.w-form#educationForm .down-div .time_choose{position: absolute;top: 34px;left: 0;padding: 10px 0;width: 100%; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;border: 1px solid #E5E5E5;z-index: 99999;background: #fff;display: none;border-top: none}
.w-form#educationForm .down-div .time_choose.active{display: block;}
.w-form#educationForm .pro-choose{max-height: 220px;overflow: auto}
.w-form#educationForm .pro-choose::-webkit-scrollbar{width:4px;height:4px;}
.w-form#educationForm .pro-choose::-webkit-scrollbar-track-piece{background:#EAEAEA;border-radius:2px;}/*//底部*/
.w-form#educationForm .pro-choose::-webkit-scrollbar-thumb{border-radius:2px;background-color:#ABABAB;}/*//滚动*/
.w-form#educationForm .pro-choose::-webkit-scrollbar-thumb:hover{background-color:#666;}
.w-form#educationForm .pro-choose p a{height: 30px;line-height: 30px;padding-left: 12px;font-size: 14px;color: #666;display: block;}
.w-form#educationForm .pro-choose p:hover a,.pro-choose p.curr a{background: #FFF7F2;color: #FB5845}

/*.listImgBox.oneUploadTip .oneUploadObj,.listImgBox.oneUploadTip .listSection{float: left;}*/
.listImgBox.oneUploadTip .upload-tip{float: none;margin-left: 0;line-height: 25px;}


/*所在区域*/
.addrBtn{border-radius: 5px!important;width: 243px!important;font-size: 14px !important;}

/*国际手机号样式*/
.w-form#educationForm dd .areaCode{border-right:1px solid #d8d8d8 ;left: 13px;top: 9px;bottom: 15px;width: 60px;font-size: 14px;}
.w-form .inp#contact{padding-left: 70px;width: 173px;}
.w-form#educationForm dd .areaCode_wrap{left: 10px;width: 255px;}
.w-form#educationForm span.codeTip{font-size: 14px;color: #999;margin-left: 12px;float: left;}
.w-form#educationForm textarea.input_area {width: 65%; height: 126px; min-height: 126px; border: 1px solid #d9d9d9; padding: 5px 10px; resize: vertical;border-radius: 4px;font-size: 14px;float: left;}
.w-form#educationForm textarea.input_area::placeholder{color: #999;}
