/* 列表 */
.list tbody td a.del {margin: 0;}

.opera {display: none; height: 28px; line-height: 28px; margin: 20px 0 0 11px;}
.opera label {float: left; margin: 0 0 0 10px; cursor: pointer;}
.opera label input {vertical-align: middle;}
.opera a {float: left; margin-left: 15px;}

.pagination {margin-top: -28px;}




/* 新版招聘 --- 收藏 */
.whiteBGWrap.collectionsWrap {min-height: calc(100vh - 256px);}
.whiteBGWrap.collectionsWrap .wrap_header{padding: 26px 26px 28px ; position: relative;}
.whiteBGWrap.collectionsWrap .wrap_title {font-size: 16px; color: #858C92;}
.whiteBGWrap.collectionsWrap .wrap_title .tab{display: inline-block; margin-right: 40px; cursor: pointer;}
.whiteBGWrap.collectionsWrap .wrap_title span{font-size: 14px; }
.whiteBGWrap.collectionsWrap .wrap_title s{display: block; width: 40px; height: 3px; border-radius: 2px; background-color: #1975FF; position: absolute; bottom: 18px; left: 0; transition: transform .3s;}
.whiteBGWrap.collectionsWrap .wrap_title .onTab{font-size: 20px; font-weight: bold; color: #333; cursor: pointer;}
.whiteBGWrap.collectionsWrap .wrap_title .onTab span{font-size: 14px;}
.whiteBGWrap.collectionsWrap .wrap_header .shai_tab span{display: inline-block; font-size: 14px; color: #666; padding: 0 15px; line-height: 14px; border-right: solid 1px #E0E0E0; margin-top: 10px ; cursor: pointer;}
.whiteBGWrap.collectionsWrap .wrap_header .shai_tab span:last-of-type{border: none; padding-right: 0;}
.whiteBGWrap.collectionsWrap .wrap_header .shai_tab span.on_chose{color: #1975FF;}


.contentBox{padding: 0 20px;}
.tableConBox{min-height: 800px;}
.contentBox .tableBox.el-table .has-gutter  { background: #F7F9FC !important; color: #8D93A6; font-size: 13px; border-radius: 6px; border-bottom: none !important; }
.contentBox .tableBox.el-table .has-gutter th.is-leaf { border: none; }
.contentBox .el-table .cell{padding-left: 18px;}
.contentBox .tableBox.el-table th,.contentBox .tableBox.el-table tr{background: none;}
/* .contentBox .tableBox.el-table .has-gutter th.is-leaf:first-of-type>.cell{padding-left: 32px; box-sizing: border-box;} */
.contentBox .tableBox.el-table .postInfo{cursor: pointer;}
.contentBox .tableBox.el-table .postInfo .ptitle{font-size: 16px; color: #212121;     overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.contentBox .tableBox.el-table .postInfo .ptitle span.salary_show{font-size: 16px; color: #1975FF; font-weight: bold; font-family: DINMittelschriftStd; margin-right: 2px;}
.contentBox .tableBox.el-table .postInfo p{font-size: 12px; color: #999;}
.el-table th.is-leaf .el-checkbox{display: none;}

.contentBox .tableBox.el-table .optBox .borderBox{width: 100px; height: 34px; display: inline-block;  margin-right: 40px;}
.contentBox .tableBox.el-table .optBox .borderBox span.hasDel{color: #B3B3B3; font-size: 12px; line-height: 34px;}
.contentBox .tableBox.el-table .optBox .borderBox span.has_delivery{ display: inline-block; font-size: 12px; color: #1975FF; background-color: #D9E8FF; border-radius: 4px; padding: 0 10px; margin-top: 6px;}
.contentBox .tableBox.el-table .optBox .delivery_btn{width: 100px; height: 34px; background: #FFFFFF; border: 1px solid #99C2FF; border-radius: 6px; color: #1975FF; font-size: 14px; cursor: pointer; margin-right: 40px;}
.contentBox .tableBox.el-table .optBox .delivery_btn s{display: inline-block; width: 14px; height: 14px; background: url(../images/job/delivery_icon.png) no-repeat center/cover; vertical-align: middle; margin-right: 2px;}
.contentBox .tableBox.el-table .optBox .delivery_btn:hover{background-color: #1975FF; color: #fff;}
.contentBox .tableBox.el-table .optBox .delivery_btn:hover s{background-image: url(../images/job/delivery_icon_whte.png) ;}
.contentBox .tableBox.el-table .optBox .del_btn{width: 34px; height: 34px; background: url(../images/job/del_icon_grey.png) no-repeat center/16px; opacity: .5; border: none; vertical-align: middle; cursor: pointer;}
.contentBox .tableBox.el-table .optBox .del_btn:hover{opacity: 1;}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{background-color: #266EFF !important; border-color: #266EFF !important;}  
.el-table--enable-row-hover .el-table__body tr:hover {
    /* background-color: #F7F9FC; */
    background: linear-gradient(90deg, rgba(247,249,252,0) 0%,rgba(247,249,252,1) 6%,rgba(247,249,252,1) 94%,rgba(247,249,252,0) 100%) !important;
}
.el-table--enable-row-transition .el-table__body td{height: 80px;}

.contentBox .tableBottom{padding-top: 28px;}
/* .contentBox .tableBottom .lOptBox{float: left;} */
.contentBox .tableBottom .lOptBox .el-checkbox{margin-right: 14px;}
.contentBox .tableBottom .lOptBox .el-button{height: 28px; line-height: 26px; padding:  0 16px; color: #737680; background: none;}
.contentBox .tableBottom .lOptBox .el-button.disables_btn{background: #EDEDED; border: 1px solid #E8E8E8; color: rgba(83, 83, 83, .5); cursor:no-drop;}
.contentBox .tableBottom .lOptBox .el-button.disables_btn:hover{border-color: #e8e8e8;}
.contentBox .tableBottom .lOptBox .el-button:hover{ border-color: #B3B3B3;}
.contentBox .tableBottom .pageBox{float: right; margin-top: 30px;}
.contentBox .tableBottom .pageBox .el-pagination{font-weight: normal;}
.contentBox .tableBottom .pageBox .el-pagination .el-pager li{background: none; border: solid 1px #DCDAD9; min-width: 26px; color: #666;}
.contentBox .tableBottom .pageBox .el-pagination .el-pager li:not(.disabled).active{border: none; background-color: #347CFF; color: #fff;}
.contentBox .tableBottom .pageBox .el-pagination  .btn-prev:not(.disabled),.contentBox .tableBottom .pageBox  .el-pagination  .btn-next:not(.disabled){padding: 0 12px; border: solid 1px #DCDAD9; background:none; color: #666;}
.contentBox .tableBottom .pldel_btn{font-size: 14px; margin-right: 6px;}
.contentBox .tableBottom .pltd_btn{border: none; color: #1975FF; font-size: 14px; background: none; cursor: pointer;}
.contentBox .tableBottom .pltd_btn.disabled{opacity: .5; cursor: no-drop;}
.contentBox .tableBottom .pltd_btn::before{content: ''; display: inline-block; width: 14px; height: 14px; background:  url(../images/job/delivery_icon.png) no-repeat center/cover; vertical-align: middle;}
.el-pagination.is-background .btn-next.disabled, .el-pagination.is-background .btn-next:disabled, .el-pagination.is-background .btn-prev.disabled, .el-pagination.is-background .btn-prev:disabled, .el-pagination.is-background .el-pager li.disable{color: #C0C4CC !important;}
.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li{height: 30px; line-height: 28px;}

.contentBox .tableBox.el-table .disabeldRow .salary_show,.contentBox .tableBox.el-table .disabeldRow .postInfo .ptitle,.contentBox .tableBox.el-table .disabeldRow .postInfo p,.contentBox .tableBox.el-table .disabeldRow .postAddr{color: #B3B3B3  !important;}
/* .contentBox .tableBox.el-table .disabeldRow .el-checkbox__inner,.contentBox .tableBox.el-table .is-disabled .el-checkbox__inner{pointer-events: none; background-color: #e6e6e6; border-color: #ccc; cursor: no-drop;}
.contentBox .tableBox.el-table .disabeldRow .el-checkbox .el-checkbox__input,.contentBox .tableBox.el-table .disabeldRow .el-checkbox ,.is-disabled .el-checkbox{ pointer-events: none;}
.contentBox .tableBox.el-table .disabeldRow .selection_item .cell{cursor: no-drop;}
.contentBox .tableBox.el-table .is-disabled{cursor: no-drop !important;} */


/* 企业收藏 */
.contentBox .tableBox.el-table .companyInfo {cursor: pointer;}
.contentBox .tableBox.el-table .companyInfo .clogo{width: 60px; height: 60px; border-radius: 6px; border: solid 1px #eee; float: left;}
.contentBox .tableBox.el-table .companyInfo .clogo img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 6px;}
.contentBox .tableBox.el-table .companyInfo .cInfo{margin-left: 72px; padding-top: 6px;}
.contentBox .tableBox.el-table .companyInfo .cInfo h4{font-size: 16px; color: #212121; }
.contentBox .tableBox.el-table .companyInfo .cInfo p{color: #999; font-size: 12px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.contentBox .tableBox.el-table .companyInfo .cInfo p span{vertical-align: middle;}
.contentBox .tableBox.el-table .companyInfo .cInfo em{font-size: 11px; color: #ccc; vertical-align: middle; margin: 0 10px;}

.contentBox .tableBox.el-table .companyCount .salary{ font-size: 14px; color: #666; font-weight: bold;}
.contentBox .tableBox.el-table .companyCount .salary b{font-family: moneyNumber; color: #1975FF;}
.contentBox .tableBox.el-table .companyCount em{color: #ccc; font-size: 12px; margin: 0 10px;}
.contentBox .tableBox.el-table .companyCount .job{font-size: 14px; color: #1975FF; font-weight: bold;}

.el-popconfirm__main{margin-bottom: 12px;}
.popConfirmBox .popConfirm_mask{position: fixed; left: 0; top: 0; bottom: 0; right: 0; background-color: rgba(0,0,0,.5); z-index: 9999;}
.popConfirmBox .popConfirm a.btn_close{display: block; width: 24px; height: 24px; background: url(../images/job/close_icon.png) no-repeat center/cover; position: absolute; top: 10px; right: 10px;}
.popConfirmBox .popConfirm{position: fixed; left: 0; top: 0; bottom: 0;right: 0; z-index: 9999; margin: auto; animation: popup .3s; background-color: #fff; border-radius: 16px;  box-sizing: border-box; box-sizing: border-box; padding-top: 30px;}
.popConfirmBox .popConfirm .pop_title{font-size: 16px; color: #000; font-weight: bold; text-align: center;}
.popConfirmBox .popConfirm p{color: #666; font-size: 13px; text-align: center; margin-top: 6px;}
.popConfirmBox .popConfirm .btns_group{text-align: center; margin-top: 30px;}
.popConfirmBox .popConfirm .btns_group button{width: 140px; height: 40px; border-radius: 6px; text-align: center; font-size: 14px; color: #999; border: none; background-color: #F2F2F2; margin: 0 4px; cursor: pointer;}
.popConfirmBox .popConfirm .btns_group button.sure_btn{background-color: #3377FF; color: #fff;}
.popConfirmBox .popConfirm .error{color: #FC4C60;}
.disabeldRow .el-checkbox__inner{background-color: #E6E6E6 !important;border-color: #CCCCCC !important;cursor: default !important;}

/* 暂无数据 */
.noData {padding-top: 50px;}
.noData .nodata_img{width: 220px; height: 126px; margin: auto;}
.noData .nodata_img img{display: block; width: 100%; height: 100%; object-fit: cover;}
.noData p{color: #909399; font-size: 12px; text-align: center;line-height: normal;}
.noData a.btn_link{display: block; width: 168px; height: 42px; background: #1975FF; border-radius: 6px; font-size: 14px; color: #fff; text-align: center; line-height: 42px; margin: auto; margin-top: 20px;}
.noData .allDataNone{margin-top: 16px;}

/* 投递成功弹窗 */
.sendpop{width: 100%;height: 100%;position: fixed;top: 0;left: 0;background-color: rgba(0,0,0,.13);z-index: 9;display: none;}
.invalidPop{width: 100%;height: 100%;position: fixed;top: 0;left: 0;background-color: rgba(0,0,0,.13);z-index: 9;display: none;}
.invalidPop .ss-text p{color: #999;}
.invalidPop .ss-btn{justify-content: center;}
.s-invalid{width: 410px;height: 150px;background-color: white;border-radius: 16px;padding: 40px 0px 34px;}
/* 确认投递（相同职位类型） */
.s-certificate,.s-invalid{position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;animation: topFadeIn .3s;}
.s-certificate{width: 410px;background-color: white;border-radius: 16px;padding: 40px 0px 34px;}
.ss-close{width: 24px;height: 24px;object-fit: cover;position: absolute;top: 11px;right: 11px;cursor: pointer;}
.ss-close:hover{opacity: .6;}
.ss-title{display: flex;align-items: center;justify-content: center;margin-bottom: 18px;}
.ss-title img{width: 26px;height: 26px;object-fit: cover;margin-right: 7px;}
.ss-title p{color: #000000;font-size: 18px;font-weight: bold;}
.ss-title p span{color: #1975FF;}
.ss-text{color: #666666;font-size: 13px;text-align: center;line-height: 26px;margin-bottom: 30px;}
.ss-text p span{color: #3377FF;display: inline-block;max-width: 156px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;vertical-align: bottom;}
.ss-btn{display: flex;padding: 0px 60px;justify-content: space-between;}
.ss-btn div,.ss-btn a{width: 140px;height: 40px;text-align: center;line-height: 40px;border-radius: 6px;font-size: 14px;cursor: pointer;}
.ss-btn .cancel{background-color: #F2F2F2;color: #666666;}
.ss-btn .cancel:hover{background-color: #ebebeb;}
.ss-btn .certificate{background-color: #3377FF;color: white;display: block;}
.ss-btn .certificate:hover{background-color: #4089ff;}
.s-same.no .ss-title img{display: none;}
.confirmDel .el-button--text{width: 58px;height: 28px;background: #FFFFFF;border: 1px solid #E6E6E6;border-radius: 4px;box-sizing: border-box;color: #777777;font-size: 12px;}
.confirmDel .el-button--text:hover{color: #777777;border: 1px solid #E6E6E6;}
.confirmDel .el-button--danger{width: 58px;height: 28px;background: #FD687A;border-radius: 4px;}
.el-checkbox__inner::after{border-width: 1.5px !important;}
.selectAll.is-checked .el-checkbox__label{color: #1975FF;}
.el-table::before{height: 0 !important;}
.moreResume{background-color: rgba(0,0,0,.13);position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index:3;display:none}
.mr-content{width: 420px;height: 190px;background: #FFFFFF;border-radius: 16px;position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;animation: topFadeIn .2s;}
.mr-close{width: 24px;height: 24px;object-fit: cover;position: absolute;top: 11px;right: 11px;cursor: pointer;}
.mr-title{color: #000000;font-size: 18px;font-weight: bold;text-align: center;padding-top: 32px;}
.mr-title img{width: 26px;height: 26px;object-fit: cover;margin-right: 7px;}
.mr-title p span{color: #1975FF;}
.mr-title div{display: flex;align-items: center;justify-content: center;}
.mr-btn{display: flex;justify-content: center;margin-top: 36px;}
.mr-btn .change{width: 140px;height: 40px;background: #F2F2F2;border-radius: 6px;color: #666;font-size: 14px;text-align: center;line-height: 40px;margin-right: 10px;cursor: pointer;}
.mr-btn .close{width: 140px;height: 40px;background: #3377FF;border-radius: 6px;font-size: 14px;color: white;text-align: center;line-height: 40px;cursor: pointer;}
.mr-select{width: 420px;height: 210px;background: #FFFFFF;border-radius: 16px;position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;animation: topFadeIn .2s;display: none;}
.mrs-title{color: #000000;font-size: 16px;font-weight: bold;margin-top: 18px;padding-left: 18px;}
.mrs-select{display: flex;align-items: center;margin-top: 18px;justify-content: center;}
.mrs-select span{color: #333333;font-size: 14px;}
.mrs-input{position: relative;}
.mrs-input ul{position: absolute;background: #FFFFFF;border: 1px solid #EDEDED;box-shadow: 1px 5px 20px 0px rgba(0,8,26,0.1);border-radius: 6px;width: 100%;box-sizing: border-box;z-index: 1;transition: all .2s;border: 0;overflow: hidden;display: none;}
.mrs-input ul li{height: 38px;cursor: pointer;color: #333;padding-left: 19px;font-size: 14px;line-height: 38px;}
.mrs-input ul .noSend{color: #666;}
.mrs-input ul .noSend span{color: #999999;font-size: 12px;}
.mrs-input ul li:hover{background: #F0F6FF;color: #1975FF;}
.mrs-input ul .active{background: #F0F6FF;color: #1975FF;}
.mrs-input input{width: 300px;height: 50px;background: #FFFFFF;border: 1px solid #EDEDED;border-radius: 6px;outline: none;box-sizing: border-box;font-size: 14px;padding: 0px 11px;cursor: pointer;}
.mrs-input input::placeholder{color: #333333;opacity: .3;}
.mrs-input i{background: url(../images/job/posterd.png) no-repeat;background-size: cover;position: absolute;top: 50%;transform: translateY(-50%);right: 11px;width: 20px;height: 20px;opacity: .5;}
.mrs-btn{display: flex;margin-top: 34px;justify-content: center;}
.mrs-btn .cancel{width: 140px;height: 40px;background: #F2F2F2;border-radius: 6px;margin-right: 10px;color: #666666;font-size: 14px;text-align: center;line-height: 40px;cursor: pointer;}
.mrs-btn .confirm{width: 140px;height: 40px;background: #3377FF;border-radius: 6px;text-align: center;line-height: 40px;font-size: 14px;color: white;opacity: 0.3;}
.mrs-btn .confirm.has{opacity: 1;cursor: pointer;}