.subtitle {position: relative; font-size: 28px; border-bottom: 1px solid #ddd; margin-bottom: 10px; padding-bottom: 10px;}
.subtitle a {position: absolute; top: 12px; right: 5px; font-size: 14px; color: #027cff;}


/* 订单基本信息 */
.info-section {margin: 0 0 10px; padding: 8px 16px; font-size: 14px; border: 1px solid #f5d8a7; background: #fff6db; color: #666; overflow: hidden; zoom: 1; line-height: 1.8em;position: relative;}
.info-text {font-weight: 700; color: #d00;}
.operation {margin-top: 5px; font-size: 15px; font-weight: 700;}
.operation a {margin-right: 15px;}
.apply-refund-link {float: right; font-size: 12px; font-weight: 700; color: #d00;}

.info-section .oprDd{position: absolute;right: 25px;top: 20px;}
.info-section .oprDd a{font-size: 14px;font-weight: bold;color: #333;margin-left: 14px;}
.info-section .oprDd a.clred{color: #E30000}

/* 订单详细信息 */
.bunch-section {margin: 0 0 10px; font-size: 12px; background: #fff; border: 1px solid #e5e5e5; overflow: hidden; zoom: 1; font-size: 14px;}
.bunch-section dt {padding: 8px 10px; font-size: 14px; font-weight: 700; color: #333; background: #eee;}
.bunch-section dd {padding: 10px;}

.bunch-section ul.jzinfoUl{padding-bottom: 10px;}
.bunch-section ul.jzinfoUl li{color: #3B3B3B;font-size: 14px;}
.bunch-section ul.jzinfoUl li span:first-child{color: #808080;}


.flow-list {line-height: 1.8em;}
.flow-list li {float: left; width: 25%; zoom: 1;}

.editAddr {display: inline-block; padding: 10px 0; color: #027cff;}


.comment {margin: 10px 0 25px 10px;}

.btns {padding: 0 0 15px 10px;}
.btns .cbtn {width: 130px; height: 38px; font-size: 18px; color: #fff; background-color: #ff3c3c; border-radius: 3px; border: 0; cursor: pointer;}
.btns .cbtn:disabled {background-color: #d8d8d8;}
.btns .cancel {color: #027cff; margin-left: 20px;}

.paydetail {text-align: right; font-size: 12px; padding: 10px 70px 10px 0; color: #999;}


/* 退款说明 */
.refund .tk-tips {padding-top: 20px; color: #999;}
.tuikuan, .huifu{margin-right: 15px;color: #333;font-weight: 700;}

/*商品*/
.bunch-section dt.proInfo{font-size: 0}
.bunch-section dt.proInfo span{display: inline-block;font-size: 14px;}
.bunch-section dt.proInfo span:nth-child(1){width: 35%}
.bunch-section dt.proInfo span:nth-child(2){width: 15%;text-align: center;}
.bunch-section dt.proInfo span:nth-child(3){width: 36%;text-align: center;}
.bunch-section dt.proInfo span:nth-child(4){width: 14%;text-align: center;}

.shop-pro ul{overflow:hidden;}
.shop-pro ul.jzsp{padding: 10px 0 10px 0;}
.shop-pro ul.jzsp li{float: left; font-size: 12px;line-height: 18px;}
.shop-pro ul.jzsp li:nth-child(1){width: 35%}
.shop-pro ul.jzsp li:nth-child(2){width: 15%;text-align: center;}
.shop-pro ul.jzsp li:nth-child(3){width: 36%;text-align: center;}
.shop-pro ul.jzsp li:nth-child(4){width: 14%;text-align: center;color: #E5201C;}
.shop-pro ul.jzsp li a.proImg{display: block;width: 82px;height: 82px;float: left;}
.shop-pro ul.jzsp li a.proImg img{display: block;width: 100%;height: 100%;object-fit: cover;}
.shop-pro ul.jzsp li a.proTit{font-size: 12px;float: left;margin-left: 15px;    max-width: 60%;line-height: 18px;}

.shop-pro .sum{padding-left: 25px; font-size: 14px; margin: 10px; background:#fff; padding-right: 36px;}
.shop-pro .sum .right{float: none; text-align: right; margin-top: 10px;}
.shop-pro .sum .right span{display: inline-block; line-height: 55px; font-size: 14px; color: #333}
.shop-pro .sum .right em,.shop-pro .sum .right font{color:#e11f28 }
.shop-pro .sum .right font{font-size: 26px; }
/*商家信息*/
.bunch-section dd.storeInfo{padding-bottom: 30px;}
.storeInfo .storeImg{width: 86px;height: 86px;float: left;}
.storeInfo .storeImg a{display: block;width: 86px;height: 86px;}
.storeInfo .storeImg a img{display: block;width: 100%;height: 100%;object-fit: cover;}
.storeInfo .storeTxt{margin-left: 96px;height: 86px;}
.storeInfo .storeTxt a.titlea{font-size: 14px;}

.storeInfo .storeTxt a.contactStore{font-size: 14px;color: #017BFF;}
.storeInfo .storeTxt a.contactStore i{display: inline-block;width: 20px;height: 20px;background: url(../images/homemaking/imIcon.png);background-size: cover;vertical-align: middle;    margin-right: 2px;
    margin-top: -2px;}

.storeInfo .storeTxt p.telStore{font-size: 14px;color: #FF5D2F;    margin-top: 6px;}
.storeInfo .storeTxt p.telStore i{display: inline-block;width: 20px;height: 20px;background: url(../images/homemaking/tel.png);background-size: cover;vertical-align: middle;margin-right: 3px;}
.storeInfo .storeTxt .adrStore{font-size: 14px;color: #3B3B3B;margin-top: 10px;}

.priceDetail{margin-top: 20px; border-top: solid 1px #eee; margin-right: 20px; padding-right: 10px; padding-top: 16px;}
.priceDetail li{text-align: right; color: #666; font-size: 14px; line-height: 40px;}
.priceDetail li span.pjian{display: inline-block; width: 150px; }
.priceDetail li.priceAll{color: #E1262E}
.priceDetail li.priceAll .pjian{font-size: 18px; color: #E11F28; font-weight: bold;}
