/* :root{
	--placeholder-color:#f00;
}
input.colorChangeInp::placeholder{color: var(--placeholder-color);} */
body,html{ height: 100vh; min-width: 1200px;}
body,html{background-color: #F7F7F7;}
.pageBox {background-color: #fff; min-height: calc(100vh - 200px); clear: both;}
[v-cloak]{display: none !important;}
.fn-hide{display: none !important; pointer-events: none !important;}
.fn-hide .truePage{ pointer-events: none !important;}
.fn-clear::after{content: ''; display: block; width: 1px; clear: both;}
.headBox{height: 60px; background: #fff; padding: 0 30px;  box-sizing: border-box; position: relative; z-index: 1006; padding-left: 24px; box-shadow: 0px 8px 16px 0px rgba(26,32,59,0.04);}
.headBox h3{float: left; font-size: 14px; color: #2C333B; line-height: 60px; }
.headBox .backHome{display: inline-block; width: 20px; height: 20px; background: url(/static/images/admin/backhome.png) no-repeat center/cover; vertical-align: middle; }
.headBox .line1{display: inline-block; width: 1px; height: 16px; background: #E3E4E6; vertical-align: middle; margin-left: 10px; margin-right: 30px}
.headBox .btnsGroup{float: right; padding-top: 10px; position: relative;}
.headBox .btnsGroup a{display: block; width: 110px; height: 40px; float: left; font-size: 14px; text-align: center; line-height: 40px; border-radius: 4px; color: #FCFEFF; background: #2672EC; margin-left: 10px; cursor: pointer; position: relative;}
.headBox .btnsGroup a.save:hover{background: #265EED;}
/* .headBox .btnsGroup a:hover::before{content: ''; display: block; position: absolute; left: 0; right: 0; top: 0; bottom: 0; background: rgba(0,0,0,.1); pointer-events: none; border-radius: 4px;} */
.headBox .btnsGroup a.preview{background: #F6F7F9; color: #2C333B;}
.headBox .btnsGroup a.preview:hover{background: #E6E7E8;}
.headBox .btnsGroup a.preview s{display: inline-block; width: 16px; height: 16px; background: url(/static/images/admin/qr.png) no-repeat center/cover; vertical-align: middle; margin-right: 3px; margin-bottom: 2px;}
.previewBox{width: 190px; height: 236px; background: #FFFFFF; box-shadow: 0px 3px 20px 0px rgba(26, 32, 59, 0.13); border-radius: 6px; position: absolute; left: 0; top: 56px; box-sizing: border-box; padding: 30px; display: none; z-index: 10;}
.previewBox .qrBox{width: 130px; height: 130px; margin: auto;}
.previewBox .qrBox img{display: block; width: 100%; height: 100%; object-fit: cover;}
.previewBox h5{font-size: 12px; color: #2C343B; text-align: center; margin-top: 12px;}
.previewBox p{color: #AAAEB3; text-align: center; margin-top: 6px}
.previewBox p.blue{color: #2672EC;}
.previewBox p s{display: inline-block; width: 16px; height: 16px; background: url(/static/images/admin/loading_blue.png) no-repeat center/cover; vertical-align: middle; margin-right: 2px; animation:linear rotate_ .6s infinite;margin-bottom: 2px;}
.headBox .btnsGroup .success_tip.show,.previewBox.show,.headBox .btnsGroup .error_tip.show{display: block; animation: topFadeIn .3s;}
.headBox .btnsGroup .success_tip,.changeLayout,.failTip,.headBox .btnsGroup .error_tip{height: 70px; width: 240px; background: #fff; box-shadow: 0px 3px 15px 0px rgba(26, 32, 59, 0.13); border-radius: 6px; position: absolute; color: #2C333B; font-size: 14px; text-align: center; box-sizing: border-box; padding-top: 20px; top: 58px; right: 0; z-index: 9; display: none;}
.changeLayout,.failTip{width: 480px; height: 70px; left: 0; right: 0; margin: auto; top: auto; bottom:-70px ; opacity: 0; display: block; transition: bottom .4s,opacity .2s; }
.changeLayout.fadeIn,.failTip.fadeIn{opacity: 1; bottom: 100px}
.headBox .btnsGroup .success_tip s,.changeLayout s,.failTip s,.headBox .btnsGroup .error_tip s{display: inline-block; width: 30px; height: 30px; background: url(/static/images/admin/gou.png) no-repeat center/cover; vertical-align: middle; margin-right: 8px;}
.headBox .btnsGroup .error_tip s,.failTip s{background-image: url(/static/images/admin/error.png)}
.headBox .btnsGroup .success_tip p,.changeLayout p,.failTip p,.headBox .btnsGroup .error_tip p{display: inline-block; vertical-align: middle;}

.top{height: 34px; position: relative; pointer-events: none; margin-bottom: 1px;}
.top::after{content: ''; display: block; position: absolute; left: 0; right: 0; top: 0; bottom: 0;}

.headerBox{border-bottom: solid 1px #f5f5f5;}
.headerBox .header{height: 90px; display: flex; align-items: center; justify-content: space-between;}
.headerBox .header .logo{width: 208px; height: 71px;  cursor: pointer; border: 1px dashed transparent; display: block;}
.headerBox .header .logo img{width: 100%; height: 100%; object-fit: contain;}
/* .headerBox .header .logo:hover{border: 1px dashed #6CCFFF;} */
.headerBox .header .stepBox ul{display: flex; align-items: center;}
.headerBox .header .stepBox ul li{height: 90px; font-weight: bold; font-size: 18px; color: #333; display: flex; align-items: center; margin-left: 96px;}
.headerBox .header .stepBox ul li.on_chose{width: 218px; margin-left: 0; margin-right: -96px; color: #07BF77; border: dashed transparent 1px; cursor: pointer; position: relative;}
.headerBox .header .stepBox ul li span{width: 24px; height: 24px; background: #CCC; border-radius: 50%; display: flex; align-items: center; justify-content: center; font-size: 14px; color: #fff; margin-right: 12px;} 
.headerBox .header .stepBox ul li.on_chose span{background:#07BF77;}
.headerBox .header .stepBox ul li.on_chose .line_after{ display: block; height: 2px; background-color: #07BF77; position: absolute; left: 0; right: 0; bottom: 0;}
/* 设置 */
.conBox .setBox{position: fixed; left: 20px; top: 245px; z-index: 1;}
.conBox .setBox{width: 98px; height: 60px; background: #FFF; box-shadow: 0px 15px 30px 0px rgba(26,32,59,0.1); border-radius: 30px; border: 1px solid #F2F5FA; transition: all .3s ease-in-out; overflow: hidden;}
.conBox .setBox.showSet{width: 320px;  height: auto; background: #FFF; box-shadow: 0px 15px 30px 0px rgba(26,32,59,0.1); border-radius: 12px; border: 1px solid #F2F5FA;}
.conBox .set_btn{ width: 98px; height: 60px; border-radius: 30px; color: #2C333B; font-size: 15px; color: #2C333B; font-weight: bold; display: flex; align-items: center; justify-content: center; cursor: pointer;}
.conBox .set_btn i{display: block; width: 20px; height: 20px; background: url(/static/images/admin/fabuPage/open_icon.png) no-repeat center/cover; margin-left: 5px;}
.conBox .set_btn:hover{background-color: #3377FF; color: #fff;}
.conBox .set_btn:hover i{background-image: url(/static/images/admin/fabuPage/open_icon_white.png);}
.conBox .set_pop{width: 320px;     border-radius: 12px; }
.conBox .set_pop .set_header{padding: 0 16px 0 24px; box-sizing: border-box; height: 60px; display: flex; align-items: center; justify-content: space-between;}
.conBox .set_pop .set_header h4{font-size: 15px; color: #2C333B; font-weight: bold;}
.conBox .set_pop .set_header .close_btn{width: 26px; height: 26px; background: url(/static/images/admin/fabuPage/close_icon.png) no-repeat center/20px; border-radius: 6px;}
.conBox .set_pop .set_header .close_btn:hover{background-color:#EDEEF0;}
.conBox .set_pop .set_con{margin: 0 24px; box-sizing: border-box; padding-bottom: 20px;}
.conBox .set_pop .set_con .tab_ul{display: flex; align-items: center; justify-content: center;}
.conBox .set_pop .set_con .tab_ul li{width: 131px; height: 42px; background: #F6F7F9; border-radius: 4px; color: #5E6773; font-size: 14px;display: flex; align-items: center; justify-content: center; margin-right: 5px;}
.conBox .set_pop .set_con .tab_ul li:last-of-type{margin-left: 5px;}
.conBox .set_pop .set_con .tab_ul li.on_chose{background-color: #2672EC; color: #fff;}
.conBox .set_pop .set_con dl{margin-top: 30px;}
.conBox .set_pop .set_con dl dt {margin-bottom: 16px; display: flex; align-items: center; }
.conBox .set_pop .set_con dl dt .resetItem{display: flex; align-items: center; color: #8A8F99; font-size: 14px; margin-left: 14px;}
.conBox .set_pop .set_con dl dt .resetItem::before{content: ''; display: block; width: 20px; height: 20px; background: url(/static/images/admin/siteConfigPage/backStep.png) no-repeat center/cover; opacity: .4;}
.conBox .set_pop .set_con dl dt h4{font-size: 15px; color: #2C333B; font-weight: bold;}
.conBox .set_pop .set_con dl ul{display: grid; grid-template-columns: repeat(3,1fr); column-gap: 10px; row-gap: 10px;}
.conBox .set_pop .set_con dl ul li{display: flex; align-items: center; justify-content: center; width: 84px; height: 38px; background: #F6F7F9; border-radius: 4px; color: #5E6773; font-size: 12px; cursor: pointer; box-sizing: border-box; border: 2px solid #F6F7F9;}
.conBox .set_pop .set_con dl ul li.on_chose{border: 2px solid #2672EC; }
.conBox .set_pop .set_con dl .item_set{display: flex; align-items: center; margin-bottom: 22px;}
.conBox .set_pop .set_con dl .item_set label{font-size: 14px; color: #2C333B;}
.conBox .set_pop .set_con dl .item_set .radioBox{font-size: 14px; color: #626973; display: flex; align-items: center;}
.conBox .set_pop .set_con dl .item_set label{font-size: 14px; color: #2C333B;}
.conBox .set_pop .set_con dl .item_set .radioBox .radio{margin-right: 24px; display: flex; align-items: center; justify-content: center; cursor: pointer;}
.conBox .set_pop .set_con dl .item_set .radioBox .radio span{display: block;width: 16px; height: 16px; background: #FFFFFF; border-radius: 50%; border: 1px solid #AFB0B3; margin-right: 6px; box-sizing: border-box;}
.conBox .set_pop .set_con dl .item_set .radioBox .radio.on_chose span{border-color: #2672EC; display: flex; align-items: center; justify-content: center; position: relative;}
.conBox .set_pop .set_con dl .item_set .radioBox .radio.on_chose span::before{content: ''; display: block; width: 10px; height: 10px; background: #2672EC; border-radius: 50%; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); }
.conBox .set_pop .set_con dl .item_set .radioBox .radio.disabled{opacity: .6; pointer-events: none;}

/* 中间内容 */
.conMid{ min-height: 1000px; box-sizing: border-box; padding-bottom: 20px;}
.conMid .fabuListBox{padding-top: 34px; box-sizing: border-box;}
.conMid .fabuListBox .add_group{height: 60px; background: #FFFFFF; border-radius: 10px; border: 1px dashed #E3E6E8; font-size: 26px; color: #ADAFB3; display: flex; align-items: center; justify-content: center; cursor: pointer;}
.conMid .fabuListBox .add_group:hover{border-color:#6CCFFF; color: #59C8FF;}
.conMid .fabuListBox .fabu_dl{ box-sizing: border-box; border: dashed 1px transparent;}
.conMid .fabuListBox .fbList_title .fontSize{width: 50px; height: 34px; background: #F7F8FA; border-radius: 4px; color: #2E3033; box-sizing: border-box; padding:0 7px ; font-size: 14px;}
.conMid .fabuListBox .fabu_dl.onEdit,.conMid .fabuListBox .fabu_dl.onHover{border: dashed 1px #6CCFFF; border-radius: 0;}
.conMid .fabuListBox .fbList_title{margin-bottom: 10px;  display: inline-flex; align-items: center; min-height: 30px; position: relative;}
.conMid .fabuListBox .fbList_title .h4{color: #292C33; font-size: 16px; font-weight: bold;border: dashed 1px transparent; padding: 0 4px;}
.conMid .fabuListBox .fbList_title input{border: none; padding: 0; outline: none; }
.conMid .fabuListBox .fbList_title.onHover .h4,.conMid .fabuListBox .fbList_title.onEdit .h4,.conMid .fabuListBox .fb_ul .fb_li.onHover,.conMid .fabuListBox .fb_ul .fb_li.onEdit{border: dashed 1px #6CCFFF; border-radius: 0 !important;}
.conMid .fabuListBox .fb_ul .fb_li{border: dashed 1px transparent;}

.conMid .fabuListBox .fb_ul{display: flex; align-items: center; flex-wrap: wrap;}
.conMid .fabuListBox .fb_ul li.fb_li{margin-right: 10px; margin-bottom: 10px; position: relative; overflow: hidden;}
.conMid .fabuListBox .fb_ul li.fb_li  .fb_btn::before{content: ''; display: block; position: absolute; left: 0;right: 0; top: 0; bottom: 0; background-color: rgba(255,255,255,.4); pointer-events: none; border-radius: 4px ; z-index: 8; display: none;}
.conMid .fabuListBox .fabu_dl.fabu1 .fb_ul li.fb_li  .fb_btn::before{background-color: rgba(0,0,0,.03);}
.conMid .fabuListBox .fb_ul li.fb_li:hover .fb_btn::before{display: block;}
.conMid .fabuListBox .fb_ul li.fb_li .fb_icon{position: relative; z-index: 10;}
.conMid .fabuListBox .fb_ul li.fb_li  .fb_btn .flex_right{position: relative; z-index: 10;}

.conMid .fabuListBox .fb_ul .fb_btn{display: flex; align-items: center; justify-content: center; min-width: 100px; min-height: 34px; box-sizing: border-box; position: relative; border-radius: 4px;}
.conMid .fabuListBox .fb_ul .fb_btn .flexBox{display: flex; align-items: center; flex-grow: 1; }
.conMid .fabuListBox .fb_ul .fb_li.add_btn .fb_btn{background: none; border: dashed 1px #E3E6E8; font-size: 20px; font-weight: bold; color: #ADAFB3;}
.conMid .fabuListBox .fb_ul .fb_li.add_btn.onHover .fb_btn{color: #59C8FF;}
.conMid .fabuListBox .fb_ul .fb_btn  .flex_right{flex-grow: 1; width: 0;}
.conMid .fabuListBox .fb_ul .fb_btn  .flex_right .alignCenter{text-align: center;}
.conMid .fabuListBox .fb_ul .fb_btn  .flex_right input{width: 100%;}
.conMid .fabuListBox .fb_ul .btn_icon{flex-shrink: 0; width: 36px; height: 36px; box-sizing: border-box; margin-right: 5px;  margin-left: 20px; position: relative; border: 1px dashed transparent; position: relative; z-index: 10;}
.conMid .fabuListBox .fb_ul .btn_icon.onEdit,.conMid .fabuListBox .fb_ul .btn_icon.onHover{border: 1px dashed #6CCFFF;}
.conMid .fabuListBox .fb_ul .btn_icon img{width: 100%; height: 100%; object-fit: cover;}
.conMid .fabuListBox .fb_ul .typename{font-size: 14px;}
.conMid .fabuListBox .fb_ul .subname{font-size: 14px;}
.conMid .fabuListBox .fb_ul .fb_btn .flex_right{position: relative; height: 100%; align-items: center; display: flex;}
.conMid .fabuListBox .fb_ul .fb_btn .flex_right .colorDivBox{height: 100%; position: absolute; left: 0; right: 0; top: 0; bottom: 0; display: flex; align-items: center; justify-content: center; flex-direction: column; pointer-events: none;}
.conMid .fabuListBox .fb_ul .fb_btn .flex_right .colorDivBox .colorDiv{width: 100%;}
.conMid .fabuListBox .fb_ul input{border: none; background: none; font-size: 14px; width: 0; flex-grow: 1; outline: none; cursor: pointer;}
.conMid .fabuListBox .fb_ul input.alignCenter{text-align: center;}
.conMid .fabuListBox .fabu_dl.fabu2 .fb_btn{min-width: 188px; height: 50px; border-radius: 4px; background: #FFF4EE; position: relative;}
.conMid .fabuListBox .fabu_dl.fabu2 .fb_btn input{ color: #FF7123; cursor:text;}
.conMid .fabuListBox .fabu_dl.fabu2 .fb_btn input[readonly]{cursor: pointer;}
.conMid .fabuListBox .fabu_dl.fabu1 .fb_btn{min-width: 100px; height: 34px; background-color: #F7F8FA; color: #737780;}
.conMid .fabuListBox .fabu_dl.fabu3 .fb_btn{min-width: 287px; height: 72px; border-radius: 4px; background: linear-gradient(90deg, #F7F8FA 0%, #F5F7FA 100%);}
.conMid .fabuListBox .fabu_dl.fabu3 .fb_btn .typename{font-size: 16px; color: #525866; font-weight: bold; caret-color:#4CC3FF;}
.conMid .fabuListBox .fabu_dl.fabu3 .fb_btn .subname{color: #9DA0A6; font-size: 13px;}
.conMid .fabuListBox .fabu_dl.fabu3 .fb_btn .subname::placeholder{opacity: .8;}
.fontPopver{padding: 0 15px; box-sizing: border-box; margin-bottom: 6px !important; position: absolute; left: 0; top: -54px; background-color: #fff; box-shadow: 0px 0px 9px 0px rgba(0,10,51,0.22); border-radius: 6px; width: 240px;}
.fontPopver::before{content: ''; display: block; width: 400px; height: 200px;position: absolute; left: -200px; bottom: -6px;}
.fontPopver .fontArr{position: relative; z-index: 1;}
.fontPopver .fontArr ul{display: flex; align-items: center; justify-content: space-between; height: 48px; }
.fontPopver .fontArr ul li{cursor: pointer; color: #737780; font-size: 14px;}
.fontPopver .fontArr ul li:hover{color: #3377FF;}

.conMid .fabuListBox  .fabu_dl{position: relative; margin-bottom: 20px;}
/* 总设置 */

.conMid .fabuListBox  .fabu_dl .setStyle{display: flex; align-items: center; padding: 0 9px; position: relative; flex-grow: 1;}
.conMid .fabuListBox  .fabu_dl .setStyle::after{content: ''; display: block; width: 1px; height: 20px; background-color: #E8EAED; position: absolute; right: 0; top: 0; bottom: 0; margin: auto;}
.conMid .fabuListBox  .fabu_dl  .colorSet{flex-grow: 1; min-width: 34px; }
.conMid .fabuListBox  .fabu_dl  .colorSet .selectText{height: 48px; display: flex; align-items: center; justify-content: center; cursor: pointer;}
.conMid .fabuListBox  .fabu_dl  .colorSet .selectText ul{display: flex; align-items: center; justify-content: center;}
.conMid .fabuListBox  .fabu_dl  .colorSet .selectText ul li{width: 16px; height: 16px; box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2); border-radius: 50%;}
.conMid .fabuListBox  .fabu_dl  .colorSet .selectText ul li:nth-child(2){margin-left: -6px;}
.conMid .fabuListBox  .fabu_dl  .colorSet .selectText ul li:last-child{margin-left: -6px;}

.color_picke .el-color-picker{width: 100%;  height: 100%;}
.color_picke .el-color-picker .el-color-picker__trigger{width: 100%; height: 100%;}
.conMid .fabuListBox  .fabu_dl  .setStyle .colorSet .selectPover .color_li .color_picke{position: absolute; left: 0; right: 0; top: 0; bottom: 0; opacity: 0;}
.conMid .fabuListBox  .fabu_dl  .setStyle .icon_btn,.conMid .fabuListBox  .fabu_dl .del_btn{display: block; width: 34px; height: 34px; background: url(/static/images/admin/fabuPage/copy_icon.png) no-repeat center/24px; border-radius: 4px; cursor: pointer; margin-right: 3px;} 
.conMid .fabuListBox  .fabu_dl  .setStyle .icon_btn:hover{background-image: url(/static/images/admin/fabuPage/copy_icon_on.png); background-color: #EDF4FF;}
.conMid .fabuListBox  .fabu_dl  .setStyle .icon_btn.reset_btn{background-image: url(/static/images/admin/fabuPage/reset_icon.png)}
.conMid .fabuListBox  .fabu_dl  .setStyle .icon_btn.reset_btn:hover{background-image: url(/static/images/admin/fabuPage/reset_icon_on.png); }
.conMid .fabuListBox  .fabu_dl  .delItem{width: 50px; display: flex; align-items: center; justify-content: center;}
.conMid .fabuListBox  .fabu_dl  .del_btn{background-image: url(/static/images/admin/fabuPage/del_icon.png);}
.conMid .fabuListBox  .fabu_dl  .del_btn:hover{background-image: url(/static/images/admin/fabuPage/del_icon_on.png); background-color: #EDF4FF;}
/* 单项设置 */

.conMid .fabuListBox  .fabu_dl  .setStyle .icon_btn.img_btn .icon-uploader{width: 100%; height: 100%; opacity: 0; } 
.conMid .fabuListBox  .fabu_dl  .setStyle .icon_btn.img_btn .icon-uploader .el-upload{width: 100%; height: 100%; }
.conMid .fabuListBox  .fabu_dl  .setStyle .icon_btn.img_btn{background-image: url(/static/images/admin/fabuPage/img_icon.png)}
.conMid .fabuListBox  .fabu_dl  .setStyle .icon_btn.img_btn:hover{background-image: url(/static/images/admin/fabuPage/img_icon_on.png); }
.conMid .fabuListBox  .fabu_dl  .setStyle .icon_btn.link_btn{background-image: url(/static/images/admin/fabuPage/link_icon.png); position: relative;}
.conMid .fabuListBox  .fabu_dl  .setStyle .icon_btn.link_btn:hover{background-image: url(/static/images/admin/fabuPage/link_icon_on.png); }
.conMid .fabuListBox  .fabu_dl  .setStyle .icon_btn.link_btn .toolTip{height: 36px; background: #292A33; box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.16); border-radius: 4px; background-color: rgba(0,0,0,.98); padding: 0 8px; position: absolute; left: 50%; top: -50px; transform: translateX(-50%); color: #fff; font-size: 14px; line-height: 36px; white-space: nowrap; display: none;}
.conMid .fabuListBox  .fabu_dl  .setStyle .icon_btn.link_btn:hover .toolTip{display: block;}
.conMid .fabuListBox  .fabu_dl  .setStyle .icon_btn.link_btn .toolTip::after{content: ''; display: block; width: 0; height: 0; border: solid 5px transparent; border-top-color:rgba(0,0,0,.98) ; position: absolute; left: 0; right: 0; margin: auto; top: 36px; }

.linkSetPop{width: 360px; height: 52px; background: #FFFFFF; box-shadow: 0px 0px 9px 0px rgba(0,10,51,0.22); border-radius: 6px; box-sizing: border-box; padding: 0;}
.linkSetPop .linkSet{height: 52px; padding:  7px; box-sizing: border-box;}
.linkSetPop .linkSet .el-input {height: 40px; display: flex; align-items: center; position: relative;}
.linkSetPop .linkSet .el-input i.el-input__icon.link_icon{display: block; width: 20px; height: 20px; background: url(/static/images/admin/link.png) no-repeat center/cover; position: absolute; left: 7px; top: 0; bottom: 0; margin: auto; }
.linkSetPop .linkSet .el-input i.el-input__icon.del_icon{display: block; width: 20px; height: 20px; background: url(/static/images/admin/del_btn3.png) no-repeat center/cover; position: absolute; right: 7px; top: 0; bottom: 0; margin: auto; opacity: .8; }
.linkSetPop .linkSet .el-input i.el-input__icon.del_icon:hover{opacity: 1;}
.linkSetPop .linkSet .el-input input{border: none; background-color: #F7F8FA; border-radius: 4px; color: #3377FF;  height: 100%; outline: none; width: 100%; padding-left: 34px; padding-right: 34px;}
.linkSetPop .linkSet .el-input input::placeholder{color: rgba(51, 119, 255, .6);}
.linkSetPop .linkSet{display: flex; align-items: center;}
.linkSetPop .linkSet .el-input{flex-grow: 1; }
.linkSetPop .linkSet label{color: #A2A6AB; font-size: 13px; white-space: nowrap; padding-left: 5px;}
.linkSetPop .linkSet .el-input__prefix{display: flex; align-items: center;}
.linkSetPop .linkSet .el-input__prefix .link_icon{ display: block; width: 20px; height: 20px; background: url(/static/images/admin/link.png) no-repeat center/cover;}

.el-color-picker__panel.colorPickerPop{transform: translate(68%, -50px);}
.el-color-picker__panel.colorPickerPop.tStyleColorPicker {transform: translate(0, 0);}

/* 底部 */
.footer-login {margin-top: 40px;}
.footer-login p {line-height: 38px;text-align: center;font-size: 14px;color: #666;}
.footer-login a {color: #666;}
.footer-login a:hover {color: #f60;text-decoration: underline;}
.footer-login .pice {margin:0 14px;color: #ddd;}






.guidePop{padding: 20px 15px !important; box-sizing: border-box; box-shadow: 0px 2px 13px 0px rgba(0,10,51,0.22);
	border-radius: 6px;}
.guidePop .imgBox img{width: 100%;}
@keyframes rotate_{
	0%{ transform: rotate(0deg);}
	50%{ transform: rotate(180deg);}
	100%{ transform: rotate(360deg);}
}
@keyframes focus {
  0%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* 从上往下缓冲显示 */
@-webkit-keyframes topFadeIn{
	0%{opacity:0;	-webkit-transform:translateY(-30px);}
	100%{opacity:1;	-webkit-transform:translateY(0);}
}

@-moz-keyframes topFadeIn{
	0%{opacity:0;	-moz-transform:translateY(-30px);}
	100%{opacity:1; -moz-transform:translateY(0);}
}

@keyframes topFadeIn{
	0%{opacity:0;	transform:translateY(-30px);}
	100%{opacity:1; transform:translateY(0);}
}
/* 从下往上缓冲显示 */
@-webkit-keyframes bottomFadeIn{
	0%{opacity:0;	-webkit-transform:translateY(10px);}
	100%{opacity:1;	-webkit-transform:translateY(0);}
}

@-moz-keyframes bottomFadeIn{
	0%{opacity:0;	-moz-transform:translateY(10px);}
	100%{opacity:1; -moz-transform:translateY(0);}
}

@keyframes bottomFadeIn{
	0%{opacity:0;	transform:translateY(10px);}
	100%{opacity:1; transform:translateY(0);}
}
