.fade-enter-active, .fade-leave-active {
	opacity:1;
    -webkit-transform:scaleY(1);
    transform:scaleY(1);
    -webkit-transition:opacity .3s cubic-bezier(.23, 1, .32, 1), -webkit-transform .3s cubic-bezier(.23, 1, .32, 1);
    transition:opacity .3s cubic-bezier(.23, 1, .32, 1), -webkit-transform .3s cubic-bezier(.23, 1, .32, 1);
    transition:transform .3s cubic-bezier(.23, 1, .32, 1), opacity .3s cubic-bezier(.23, 1, .32, 1);
    transition:transform .3s cubic-bezier(.23, 1, .32, 1), opacity .3s cubic-bezier(.23, 1, .32, 1), -webkit-transform .3s cubic-bezier(.23, 1, .32, 1);
    -webkit-transform-origin:center top;
    transform-origin:center top
}

.fade-enter, .fade-leave-to {
	opacity:0;
    -webkit-transform:scaleY(0);
    transform:scaleY(0)
}

.container{
	display: flex;
}
.main{
	overflow: visible;
	flex: 1;
}
.contain {
	font-size: 15px;
	margin-top: 20px;
}
.footer{
	font-size: 14px;
}
.topBar{
	height: 130px;
	position: relative;
	box-shadow: 0px 3px 12px 0px rgba(0,3,17,0.05);
	border-radius: 5px;
	margin-bottom: 13px;
}
.moneyInfo{
	width: 330px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	top: 50%;
	left: 50px;
	transform: translateY(-50%);
}
.amount,.line,.allAmount{
	display: flex;
	flex-direction: column;
	float: left;
}
.amount span:first-child,.allAmount span:first-child{
	font-size: 22px;
	font-weight: bold;
	color: #000;
}
.amount span:last-child,.allAmount span:last-child{
	font-size: 13px;
	color: #999;
}
.line {
  width: 1px;
  height: 40px;
  background-color: #EEEEEE;
}
.moneyButton{
	height: 50px;
	position: absolute;
	top: 50%;
	right: 50px;
	transform: translateY(-50%);
}
.deposit ,.withdraw{
	width: 110px;
	height: 40px;
	line-height: 40px;
	float: left;
	margin-left: 10px;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid #027CFF;
}
.deposit{
	background-color: #027CFF;
	color: #FFFFFF;
}
.withdraw{
	background-color: #fff;
	color: #027CFF;
	
}

.filterTab{
	margin-top: 35px;
}
.filterTab .left{
	float: left;
	color: #333333;
	
}
.filterTab .left span{
	float: left;
	width: 75px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	border: 1px solid #d9d9d9;
	cursor: pointer;
	margin-right: -1px;
	position: relative;
	z-index: 1;
}
.filterTab .left .filterCurr{
	border-color: #027cff !important;
	background-color: #027cff;
	color: #fff;
	z-index: 2;
}
.filterTab .left span:first-child{
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.filterTab .left span:last-child{
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.filterTab .right{
	float: right;
}
.typeContentBox,.amountContentBox,.el-date-editor.el-input{
	display: inline-block;
	height: 32px;
	line-height: 32px;
	border: 1px solid #d9d9d9;
	border-radius: 3px;
	position: relative;
	cursor: pointer;
	margin-left: 8px;
	padding-top: 3px;
}
.dateContentBox{
	position: relative;
	display: inline-block;
}
.el-date-editor.el-input{
	width: 100px !important;
}
.el-date-editor.el-input input{
	padding-left: 10px;
	font-size: 15px;
	color: inherit;
	height: 32px;
	border: none;
	cursor: pointer;
}
.el-date-editor.el-input input::placeholder{
	font-size: 15px;
	color: inherit;
}
.el-input__prefix{
	display: none;
	margin-right: -10px;
}
.el-input__inner{
	color: inherit;
}
.el-input__inner::placeholder{
	color: inherit;
}
.el-picker-panel{
	box-shadow: 0px 2px 16px 0px rgba(186,187,198,0.53) !important;
	margin-top: 3px !important;
	/* top: 232px !important; */
	/* left: 472px !important; */
}
.el-picker-panel .popper__arrow{
	display: none;
}
.el-picker-panel__footer{
	/* display: block !important; */
}
.el-popper[x-placement^=bottom] .popper__arrow{
	display: none !important;
}
.custom-class{
	display: none !important;
}
.typeContentBox>span,.amountContentBox>div{
	padding-right: 25px;
}
.filterTab .right span:last-child{
	width: 70px;
}
.right em{
	margin-left: 13px;
}
.sj::after{
	content: '';
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 7px solid #39393A;
	border-radius: 3px;
	position: absolute;
	top: 50%;
	right: 5px;
	transform: translateY(-50%);
	margin-right: 5px;
}
.filterRotate::after{
	transform: rotate(180deg) translateY(80%) !important;
	border-radius: 3px;
	margin-bottom: 10px;
	border-top: 7px solid #027CFF;
}
.filterCurrColor{
	color: #027CFF !important;
}
.dateBox{
	width: 200px;
	height: 200px;
	background: #FFFFFF;
	position: absolute;
	right: -1px;
	box-shadow: 0px 2px 16px 0px rgba(186,187,198,0.53);
	border-radius: 6px;
	margin-top: 5px;
	z-index: 999;
}
.typeContentBox{
	padding-top: 3px;
}
.typeContentBox ul{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 10px 0;
	cursor: pointer;
	text-align: center;
	background: #FFFFFF;
	position: absolute;
	right: -1px;
	box-shadow: 0px 2px 16px 0px rgba(186,187,198,0.53);
	border-radius: 6px;
	margin-top: 5px;
	z-index: 999;
}
.typeContentBox ul li{
	width: 100px;
	padding: 5px;
	border-right: 1px solid #EDEDED;
}
.amountContentBox .amountBox{
	display: flex;
	padding: 10px 0;
	cursor: pointer;
	background: #FFFFFF;
	position: absolute;
	right: -1px;
	box-shadow: 0px 2px 16px 0px rgba(186,187,198,0.53);
	border-radius: 6px;
	padding: 30px;
	margin-top: 5px;
}
.amountBox span{
	margin-left: 5px;
}
.amountBox input{
	width: 100px;
	border: none;
	display: inline-block;
}
.amountBox input::placeholder {
	font-size: 14px;
	color: #CCCCCC;
	font-weight: normal;
}
.tAmount,.bAmount{
	width: 160px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #E1E1E1;
	border-radius: 4px;
}
.amountBox div:nth-child(2){
	width: 20px;
	line-height: 40px;
	border-color: #f00;
	text-align: center;
}
.submitAmount {
	width: 90px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	text-align: center;
	background: linear-gradient(-53deg, #106AE9 0%, #2681FF 100%);
	border-radius: 4px;
	margin-left: 10px;
}
.filterList{
	margin-top: 20px;
}
.billTitle{
	height: 40px;
	line-height: 40px;
	background-color: #E6EDFA;
	color: #667EA1;
}
.billDetaiTitle span{
	padding-left: 20px;
}
.billDetaiTitle,.billDetaiTab,.billDetailList{
	width: 50%;
	float: left;
}
.billDateTitle,.billDateTab,.billDateList{
	width: 20%;
	float: left;
}
.billDateTitle{
	text-align: left;
}
.billDateTitle span{
	padding-left: 30px;
}
.billAmountTitle,.billAmountList{
	/* width: 30%; */
	float: left;
}
.billAmountTitle{
	text-align: right;
}
.billAmountTitle span{
	padding-left: 40px;
}
.billBalanceTitle,.billBalanceList{
    float: right;
}
.billBalanceTitle span{
    padding-right: 40px;
}
.billBalanceList span{
    padding-right: 45px;
}
.billTab{
	background-color: #F7F7F7;
	line-height: 60px;
}
.billDetaiTab span{
	color: #333333;
	font-weight: bold;
	padding-left: 20px;
}
.billDateTab{
	text-align: center;
}
.billAmountTab{
	text-align: right;
	color: #666666;
}
.billAmountTab span{
	padding-right: 40px;
}
.billList{
	line-height: 50px;
	border-bottom: 1px solid #EDEDED;
}
.billDetailList{
	height: 50px;
}
.billDetailList span{
	padding-left: 14px;
	display: inline-block;
	height: 50px;
	width: 350px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-right: 30px;
}
.nbspSpan{
	padding-left: 20px !important;
}
.billAmountList{
	font-weight: bold;
    width: 115px;
}
.billAmountList span{
	padding-left: 50px;
}
.incomeColor{
	font-size: 18px;
	color: #FF6600;
}
.noData{
	width: 100px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin: 30px auto;
}
.paging{
	float: right;
	margin-top: 15px;
	margin-bottom: 15px;
}
