input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
.contain {
	font-size: 15px;
	margin-top: 30px;
}

.contain dt {
	float: left;
	width: 95px;
	text-align: right;
	color: #333;
	line-height: 45px;
}

.contain dd {
	position: relative;
	overflow: hidden;
	padding: 0 0 22px 15px;
	line-height: 45px;
}


.price {
	color: #FF6600;

}
.price em{
	font-size: 25px;
	font-weight: 600;
}

.price span:last-child{
	margin-left: 10px;
	color: #999;
}

.amount >span {
	display: inline-block;
	width: 100px;
	height: 40px;
	border: 1px solid #e1e1e1;
	text-align: center;
	line-height: 40px;
	margin-right: 5px;
	border-radius: 5px;
	cursor: pointer;
}

.amount .curr {
	border: 2px solid #FF6600;
	position: relative;
}

.amount .curr::after {
	content: '';
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #FF6600;
	transform: rotate(135deg);
	position: absolute;
	right: -10px;
	bottom: -3px;
}
.amount .curr::before {
	content: "";
	position: absolute;
	bottom: 4px;
	right: 1px;
	width: 8px;
	height: 4px;
	border: 2px solid #fff;
	border-top: none;
	border-right: none;
	transform: rotate(300deg);
	z-index: 99;
}


.userAmount {
	padding-bottom: 0;
}

.userAmount div {
	display: inline-block !important;
	border: 1px solid #E1E1E1;
	border-radius: 5px;
	width: 250px;
	display: flex;
	align-items: center;
}

.userAmount div span {
	width: 30px;
	text-align: center;
}

.userAmount input {
	width: 200px;
	font-size: 18px;
	border: none;
	font-weight: bold;
	padding-left: 10px;
	border-radius: 5px;
}
.userAmount input::placeholder {
	padding-left: 10px;
	font-size: 14px;
	font-weight: normal;
}

.userPhoto{
	width: 30px;
	height: 30px;
	background-color: #fcc;
	border-radius: 50%;
	background: url(../static/1.png) no-repeat center;
}

label {
	margin-right: 10px;
	cursor: pointer;
}

.contain a {
	color: #2B91E3;
}
.ddInput{
	display: block !important;
}
.ddInput input {
	width: 239px;
	font-size: 18px;
	font-weight: bold;
	padding-left: 10px;
	border-radius: 5px;
	border: 1px solid #E1E1E1;
}
.ddInput input::placeholder {
	padding-left: 10px;
	font-size: 14px;
	font-weight: normal;
	
}
.needAmount span:first-child{
	color: #FF6600;
	font-size: 18px;
	font-weight: bold;
	margin-right: 10px;
}
.needAmount span:last-child{
	color: #999;
	font-size: 14px;
}
.submit {
	width: 180px;
	height: 45px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	background-color: #f60;
	border-radius: 3px;
	border: 0;
	cursor: pointer;
}
