/*渲染成功之后才能显示*/
[v-cloak]{
    display: none !important;
}
body,html{background-color: #F5F5F7;}
.top_box {position: fixed; left: 0; right: 0; top: 0; z-index: 5;  }
.top_box .headbox{background-color: #24262B; color: #fff; display: flex; justify-content: space-between; height: .88rem; line-height: .88rem; padding-right: .34rem; align-items: center; position: relative;}
.top_box .headbox  .h_url{position: relative; z-index: 1; color: #fff;}
.top_box .headbox .htitle{font-size: .32rem; color: #fff; font-weight: bold; position: absolute; left: 0; right: 0; top: 0; bottom: 0; text-align: center;}
.top_box .headbox .back_btn{width: .88rem; height: .88rem; background: url(../images/header_back_index.png) no-repeat center; background-size: .4rem auto; position: relative; z-index: 3;}

.bodyCon{padding-top: .88rem;}
.save_btn{margin: .8rem .3rem; height: .8rem;background: linear-gradient(-90deg, #FFAE00 0%, #FCC01C 100%); border-radius: .4rem; color: #fff; font-size: .3rem; display: block; border: none; width: 6.9rem;font-weight: bold;}

.shop_detail .detail_box{background-color: #fff; padding: 0 .36rem; margin-top: .2rem; position: relative;}
.shop_detail .detail_box.grey::before{content: '';display: block; position: absolute; left: 0; right: 0; top: 0; bottom:0 ; background-color: rgba(0,0,0,.2); z-index: 9;}
.shop_detail .detail_box.grey{opacity: .5;}
.shop_detail .detail_box .inpbox{border-bottom: solid 1px #f5f5f7; height: 1rem; display: flex; align-items: center; justify-content: space-between; position: relative;}
.shop_detail .detail_box  label{color: #202021; font-size: .3rem; display: flex; align-items: center; font-weight: bold;}
.shop_detail .detail_box  input{background: none; text-align: right; border: none; height: 1rem; color: #212122; font-size: .3rem; font-weight: bold; text-overflow: ellipsis; white-space: nowrap;}
.shop_detail .detail_box  input::placeholder{color: #C6C7CC; font-weight: 500;}
.shop_detail .detail_box .inpbox:last-of-type,.date_chose .inpbox{border: none;}
.shop_detail .detail_box .select_inp:after{content: ''; display: block; width: .24rem; height: .24rem; background: url(../images/arr_r.png) no-repeat center; background-size: cover; position: absolute; right: -.05rem; top: 0; bottom: 0; margin: auto;}
.shop_detail .detail_box .select_inp input{padding-right: .28rem;}

.shop_detail .detail_box .inpbox .switch{display: block; width: 1rem; height: .56rem; border-radius: .28rem; box-shadow: 0 0 .07rem 0 rgba(92, 35, 0, 0.13) inset; position: relative; background-color: #B1B1B3;}
.shop_detail .detail_box .inpbox .switch::before{content: ''; display: block; width: .5rem; height: .5rem; background: #fff; border-radius: 50%;box-shadow: 0 .05rem .07rem 0 rgba(56, 56, 59, 0.23); position: absolute; top: 0; bottom: 0; margin: auto ; left: .03rem; transition: left .3s;}
.shop_detail .detail_box .inpbox .switch.active{background: linear-gradient(-90deg, #FFAE00 0%, #FCBF1C 100%); }
.shop_detail .detail_box .inpbox .switch.active::before{left: .47rem;}
.shop_detail .detail_box .date_chose{display: block; height: auto; min-height: 1rem;}
.shop_detail .detail_box .select_inp{display: flex; align-items: center; justify-content: space-between; position: relative; }
.shop_detail .detail_box .time_list{text-align: right;}
.shop_detail .detail_box .time_list span,.shop_detail .detail_box .date_box .add_btn{display: inline-block; min-width: 1.8rem; height: .64rem; box-sizing: border-box; line-height: .62rem; border: solid 1px #B1B1B3; border-radius: .06rem; text-align: center; color: #7C7C80; font-size: .26rem; margin: .2rem; position: relative; vertical-align: middle; margin-right: 0; padding: 0 .1rem;}
.shop_detail .detail_box .date_box .add_btn{margin: 0; width: 2.2rem;}
.shop_detail .detail_box .time_list span.chose_inp em{display: block; width: .4rem; height: .4rem; background: url(../images/del.png) no-repeat center; background-size: .4rem; position: absolute; right: -.12rem; top: -.12rem;}

.shop_detail .module_box{margin-top: .36rem;}
.shop_detail .module_box dt{font-size: .28rem; color: #7C7C80; display: flex; align-items: center;}
.shop_detail .module_box dt::before{content: ''; display: block; width: .08rem; height: .36rem; border-radius: .04rem;background: linear-gradient(-90deg, #FFAE00 0%, #FCBF1C 100%);box-shadow: 0 .05rem .13rem 0 rgba(255, 175, 2, 0.37); margin-right: .16rem;}
.shop_detail .module_box .left_label p{color: #ADAEB3; font-size: .22rem; font-weight: normal; margin-top: .08rem;}
.shop_detail  .inpbox.more_h{height: 1.2rem;}
.shop_detail  .inpbox.normal{justify-content: start;}
.shop_detail .inpbox.normal label{font-weight: normal; color: #7C7C80; font-size: .28rem;}
.shop_detail .inpbox.normal input{font-weight: normal;text-align: left; font-size: .28rem;}

/* loading */
.loading_icon{display: block; width: 1.1rem; height: 1.1rem; border-radius: .3rem;  background: rgba(0,0,0,.9) ; background-size: .5rem; position: fixed; left: 0; right: 0; margin: auto; top: 50%; z-index: 9;}
.loading_icon::before{content: ''; background: url(../images/loading.png) no-repeat center; background-size: .5rem; position: absolute; left: 0; right: 0; margin: auto; top: 0; bottom: 0; animation:rotate_ 1s infinite linear;}
/* 错误提示1 */
.popErr {position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 100001; visibility: hidden;}
.popErr p {position: fixed; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: .3rem; line-height: 1.4; text-align: center; padding: .24rem .2rem; z-index: 9999; left: 0; top: 50%; margin-top: -.2rem;}
.disabled{pointer-events: none !important;}

@keyframes rotate_{
	0%{ transform: rotate(0deg);}
	50%{ transform: rotate(180deg);}
	100%{ transform: rotate(360deg);}
}


.mbsc-fr-btn-cont{height: 1rem; background: #F7F8FA !important; border-radius: .2rem .2rem 0 0 ; overflow: hidden; border: none !important; }
.mbsc-ios .mbsc-fr-btn{line-height: 1rem;}
.mbsc-fr-popup.mbsc-ltr{background-color: #fff;border-radius: .2rem .2rem 0 0 ; overflow: hidden;}
.mbsc-calendar{position: relative; z-index: 999999; background-color: #fff;  overflow: hidden;}
.mbsc-fr-overlay{background: rgba(0,0,0,.5) !important;}
.mbsc-fr-popup{z-index: 99;}
.mbsc-ios .mbsc-range-btn-t {display: flex; height: 1rem; border-bottom: solid 1px #E6E7ED;}
.mbsc-ios .mbsc-range-btn-end,.mbsc-ios  .mbsc-range-btn-start{width: 50%; border: none; }
.mbsc-ios .mbsc-sc-itm .mbsc-sc-whl-c{font-size: .32rem !important;}
.mbsc-ios .mbsc-range-btn-v{background-color: #fff; left: 0; right: 0; top: 0; bottom: 0;text-align: center; line-height: 1rem;}
.mbsc-ios.mbsc-calendar .mbsc-fr-persp .mbsc-fr-w{background: #fff;  }
.mbsc-ios .mbsc-sc-whl-o, .mbsc-ios.mbsc-calendar .mbsc-sc-whl-o,.mbsc-ios.mbsc-fr-top .mbsc-sc-whl-o, .mbsc-ios.mbsc-fr-bottom .mbsc-sc-whl-o{background: none;}
.mbsc-ios .mbsc-fr-btn-w.mbsc-fr-btn-s .mbsc-fr-btn{color: #FFAE00; padding:0 .55rem;}
.mbsc-ios .mbsc-fr-btn-w.mbsc-fr-btn-c .mbsc-fr-btn{color: #999;  padding:0 .55rem;}
.mbsc-ios .mbsc-fr-w {padding-top: 1rem;}
.mbsc-ios .mbsc-range-btn-sel .mbsc-range-btn .mbsc-range-btn-v{font-weight: bold; color: #FFAE00; font-size: .36rem; }
.mbsc-ios .mbsc-range-btn{height: 100%; box-sizing: border-box;}
.mbsc-ios .mbsc-range-btn-v{font-weight: bold; font-size: .36rem;}
.mbsc-ios .mbsc-range-btn-sel .mbsc-range-btn .mbsc-range-btn-v:after{content: ''; display: block; width: .2rem; height: .2rem; background: url(../images/arr_d2.png) no-repeat center; background-size: cover; position: absolute; bottom: 0; left: 0; right: 0; margin: auto;}
.mbsc-ios .mbsc-range-btn-t::before{content: '至'; font-size: .26rem; color: #666 ; line-height: 1rem; left: 50%;  transform: translate(-50%, 0); position: absolute; z-index: 9;}
.mbsc-ios .mbsc-dt-whl-d .mbsc-sc-itm, .mbsc-ios .mbsc-dt-whl-h .mbsc-sc-itm, .mbsc-ios .mbsc-dt-whl-date .mbsc-sc-itm{text-align: center;}
.mbsc-ios .mbsc-dt-whl-m .mbsc-sc-itm{text-align: center;}
.mbsc-ios .mbsc-sc-itm{font-size: .3rem; font-weight: normal !important; }
/* .mbsc-ios .mbsc-sc-itm-sel{border-bottom: solid 1px #f5f5f7; border-top: solid 1px #f5f5f7; font-size: .32rem; font-weight: bold !important; } */
.mbsc-fr-aria.mbsc-fr-hdn{position: absolute;z-index: 1;left: 0;right: 0;top: 0; pointer-events: none;line-height: 1rem; color: #999; font-size: .28rem; height: 1rem !important; width: 100% !important;}
.mbsc-ios .mbsc-sc-whl-w .mbsc-sc-whl-l{display: block !important; border-color: #f5f5f7 !important;}
.mbsc-ios .mbsc-fr-w{background: #fff;}
.mbsc-fr-persp{height: auto !important;}
.mbsc-fr-popup.mbsc-ltr{top: auto !important; bottom: 0;}
































/* 弹出层 */
.mask_scroll{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,.6); z-index: 50; display: none;}
.scroll_box{min-height: 5.4rem; position: fixed; bottom: -6.6rem; left: 0; right: 0; border-radius: .4rem .4rem 0 0; background-color: #fff; z-index: 51; transition: bottom .3s ease-in-out; }
.scroll_box .scroll_head{line-height: 1rem; display: flex; align-items: center; justify-content: space-between; padding:0 .54rem; font-size: .3rem; font-weight: bold; color: #999;}
.scroll_box .scroll_head .htitle{font-size: .28rem; font-weight: normal; color: #949599;}
.scroll_box .scroll_head .sure_btn{color: #FFAE00;}
.select_box ul{margin-left: .3rem;max-height: 5rem; overflow: auto;}
.scroll_box .select_box{padding: .3rem 0;}
.select_box li.chosed{border-color: #FFAE01; background-color: #FFF9ED;}
.select_box li{float: left; width: 2.16rem; height:.6rem; border-radius: .04rem;box-sizing: border-box; border: solid 1px #EBEBED; color: #202021; font-size: .28rem; margin-right: .2rem; text-align: center; line-height: .58rem; margin-bottom: .2rem;} 


.huoniao_iOS .headbox{padding-top: .5rem;}
.huoniao_iOS .top_box .headbox .htitle{top: .5rem;}
.huoniao_iOS #submitForm{padding-top: .5rem}