body{padding-bottom:calc(.4rem + constant(safe-area-inset-bottom));padding-bottom: calc(.4rem + env(safe-area-inset-bottom));}
html{height: 100%;}
/*渲染成功之后才能显示*/

[v-cloak]{
    display: none !important;
}
.top_box {position: absolute; left: 0; right: 0; top: 0; z-index: 5; height: 3.36rem; /* background-color: #24262B; */ background: url(../images/bbg.png) no-repeat bottom ; background-size: 100% auto;}
.top_box .headbox{background-color: #24262B; color: #fff; display: flex; justify-content: space-between; height: .88rem; line-height: .88rem; padding-right: .34rem; align-items: center; position: relative;}
.top_box .headbox  .h_url{position: relative; z-index: 1; color: #fff;}
.top_box .headbox .htitle{font-size: .32rem; color: #fff; font-weight: bold; position: absolute; left: 0; right: 0; top: 0; bottom: 0; text-align: center;}
.top_box .headbox .back_btn{width: .88rem; height: .88rem; background: url(../images/header_back_index.png) no-repeat center; background-size: .4rem auto; position: relative; z-index: 3;}

.top_box .headbox .change_shop{font-size: .24rem; color: #fff; display: flex; align-items: center; }
.top_box .headbox a{position: relative; z-index: 3;}
.top_box .headbox .change_shop:after{content: '' ; display: block; width: .3rem; height: .3rem; background: url(../images/change.png) no-repeat center; background-size: cover; margin-left: .05rem;}

.shopCard_box{position: relative; z-index: 5; margin-top: .88rem;}
.shopCard{margin: 0 .24rem; background: url(../images/bbg1.png) no-repeat center; background-size: cover; height: 4rem; border-radius: .3rem; box-sizing: border-box; padding: .3rem;}
.shopCard .shopInfo {display: flex; align-items: center;}
.shopCard .shopInfo .llogo{width: 1.4rem; height: 1.4rem; background-color: #fff; border-radius: .2rem; margin-right: .22rem;}
.shopCard .shopInfo .llogo img,.shop_list .shop_li a .llogo img{width: 100%; height: 100%; object-fit: cover; display: block; border-radius: .2rem;}
.shopCard .shopInfo .rdetail h2{font-size: .4rem; font-weight: bold; margin-bottom: .2rem; max-width:4.5rem; overflow: hidden; text-overflow: ellipsis;white-space: nowrap;}
.shopCard .shopInfo .rdetail .shop_state{display: flex; align-items: center; }
.shopCard .shopInfo .rdetail .shop_state .star{font-size: .26rem; display: flex; align-items: center; margin-right: .3rem;}
.shopCard .shopInfo .rdetail .shop_state .star::before{content: ''; display: block; width: .3rem; height: .3rem; background: url(../images/star.png) no-repeat center; background-size: cover; margin-right: .05rem;}
.shopCard .shopInfo .rdetail .shop_state .yingye_state{line-height: .36rem; font-size: .2rem; border-radius: .18rem; display: flex; align-items: center; background-color: #24262B;  color: #FFC945; padding: 0 .08rem; padding-right: .14rem;}
.shopCard .shopInfo .rdetail .shop_state .yingye_state::before{content: ''; display: block; width: .24rem; height: .24rem; border-radius: 50%; margin-right: .06rem;background-color: #FC3F31;}
.shopCard .shopInfo .rdetail .shop_state .yingye_state.ying{background-color: #24262B; color: #FFC945;  }
.shopCard .shopInfo .rdetail .shop_state .yingye_state.ying::before{background-color: #1DCE2E;}
.shopCard .orderCount{height: 1.7rem; background: linear-gradient(90deg, #FCCD5D 0%, #FCC24E 100%); border-radius: .2rem; margin-top: .3rem; display: flex; align-items: center; position: relative;  }
.shopCard .orderCount .shopIncome,.shopCard .orderCount .shopOrder{width: 48%; box-sizing: border-box; padding-left: .6rem;}
.shopCard .orderCount .shopIncome p,.shopCard .orderCount .shopOrder p{color: #806533; font-size: .22rem; margin-bottom: .12rem;}
.shopCard .orderCount .shopIncome h4,.shopCard .orderCount .shopOrder h4{font-size: .46rem; font-family: moneyNumber;}
.golink{width: .24rem; height: .24rem; background: url(../images/arr_r.png) no-repeat center; background-size: cover; position: absolute; right: .32rem; top: 0; bottom: 0; margin: auto; border: none;}

.shopCard_box .shop_op{padding: 0 .14rem; padding-top: .2rem; background: #fff;}
.shopCard_box .shop_op li{width: 25%; float: left; margin: .21rem 0;}
.shopCard_box .shop_op li .icon{ width: .96rem; height: .96rem; border-radius: 50%; /* background-color: #f5f5f5; */margin: auto; margin-bottom: .18rem;}
.shopCard_box  li .icon img{display: block; width: 100%; height: 100%; object-fit: cover;}
.shopCard_box .shop_op li p{color: #202021; font-size: .26rem; text-align: center;}

.shop_service{margin: 0 .3rem; height: 1.8rem; border-radius: .3rem;box-shadow: 0 .03rem .25rem 0 rgba(0, 6, 33, 0.08); background-color: #fff; margin-top: .2rem; box-sizing: border-box; padding: 0 .2rem; padding-top: .36rem; position: relative;}
.shop_service li{display: block; float: left;  width:20%; }
.shop_service li .icon{width: .56rem; height: .56rem; margin: auto;}
.shop_service li:last-of-type{margin: 0;}
.shop_service li p{font-size: .24rem; color: #202021; text-align: center;}
.shop_service .pagination{position: absolute; left: 0; right: 0; bottom: .2rem !important; margin: auto; width: .6rem !important; height: .06rem; border-radius: .03rem; background-color: #E3E3E5;}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{background-color: #FFBD16 !important; border-radius: .03rem;}

/* 店铺开关 */
.shop_switch{ margin: 0 .3rem ; margin-top: .5rem;}
.shop_switch h5{font-size: .26rem; color: #949599; margin-bottom: .25rem;}
.shop_switch ul{background-color: #fff; border-radius: .3rem;box-shadow: 0 .03rem .25rem 0 rgba(0, 6, 33, 0.08); padding: 0 .3rem;}
.shop_switch ul li{display: flex; align-items: center; height: 1.1rem; justify-content: space-between; border-bottom: solid 1px #f5f5f7;}
.shop_switch ul li .label{font-size: .32rem; color: #333; font-weight: bold;}
.shop_switch ul li .switch_box{display: flex; align-items: center;}
.shop_switch ul li .switch_box em{font-size: .24rem; color: #949599;}
.shop_switch ul li .switch_box .switch.active{background: linear-gradient(-90deg, #FFAE00 0%, #FCBF1C 100%);box-shadow: 0 0 .07rem 0 inset rgba(92, 35, 0, 0.13);}
.shop_switch ul li .switch_box .switch{background-color: #B1B1B3;display: block; width: 1rem; height: .56rem; border-radius: .28rem; margin-left: .27rem; position: relative;}
.shop_switch ul li .switch_box .switch::before{content: ''; display: block; width: .5rem; height: .5rem; border-radius: 50%; background-color: #fff;box-shadow: 0 .05rem .07rem 0 rgba(56, 56, 59, 0.23); position: absolute; top: 0; bottom: 0; margin: auto; left: .03rem; transition: all .3s;}
.shop_switch ul li .switch_box .switch.active::before{left: .47rem;}
.shop_switch ul li:last-of-type{border: none;}


/* 切换店铺 */
.mask_change{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,.5); z-index: 5;}
.shop_list{position: fixed; bottom: 0; left: 0; right: 0; max-height: 7rem; overflow: auto; z-index: 6;}

.shop_list .shop_li{margin: 0 .25rem; margin-bottom: .24rem; height: 1.6rem; border-radius: .36rem; background-color: #fff;}
.shop_list .shop_li a{display: flex; align-items: center; padding: .3rem; position: relative;}
.shop_list .shop_li a .llogo{width: 1rem; height: 1rem; background: #fff; border-radius: .16rem; box-shadow: 0 .03rem .15rem 0 rgba(4, 0, 0, 0.08); margin-right: .28rem;}
.shop_list .shop_li a .rdetail h2{font-size: .36rem; font-weight: bold;}
.shop_list .shop_li a .rdetail .shop_state{display: flex; align-items: center; margin-top: .12rem;}
.shop_list .shop_li a .rdetail .shop_state .star{font-size: .26rem;  color: #1D1E21 ;}
.shop_list .shop_li a .rdetail .shop_state .star::before{content: ''; display: inline-block; width: .3rem; height: .3rem; background: url(../images/star1.png) no-repeat center; background-size: cover; margin-right: .05rem; vertical-align: middle; margin-bottom: .12rem;}

.shop_list .shop_li a .rdetail .shop_state .yingye_state{line-height: .36rem;  padding: 0 .08rem; border-radius: .18rem; background-color: #FFE1DE; color: #4A4B4D; font-size: .2rem; margin-left: .24rem; display: flex; align-items: center; padding-right: .18rem;}
.shop_list .shop_li a .rdetail .shop_state .yingye_state::before{content: '';display: block; width: .24rem; height: .24rem; border-radius: 50%; background-color: #FD4032; margin-right: .08rem;}
.shop_list .shop_li a .rdetail .shop_state .yingye_state.ying{background-color: #D7F7DA;}
.shop_list .shop_li a .rdetail .shop_state .yingye_state.ying::before{content: ''; background-color: #1DCE2E;}
.shop_list .shop_li a:after{content: ''; display: block; width: .24rem; height: .24rem; background: url(../images/arr_r.png) no-repeat center; background-size: cover; position: absolute; right: .4rem; top: 0; bottom: 0; margin: auto;}
.loading_icon{display: block; width: 1.1rem; height: 1.1rem; border-radius: .3rem;  background: rgba(0,0,0,.9) ; background-size: .5rem; position: fixed; left: 0; right: 0; margin: auto; top: 50%; z-index: 9;}
.loading_icon::before{content: ''; background: url(../images/loading.png) no-repeat center; background-size: .5rem; position: absolute; left: 0; right: 0; margin: auto; top: 0; bottom: 0; animation:rotate_ 1s infinite linear;}

/* 底部 */
.bottom_box{position: fixed; bottom: 0; left: 0; right: 0; padding-bottom:calc(-.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.3rem + env(safe-area-inset-bottom)); background: #fff; padding-top: .16rem; height: .88rem; z-index: 5;}

.bottom_box ul{display: flex; align-items: center; justify-content: space-between; padding: 0 .44rem;}
.bottom_box ul li{width: .8rem; height: .8rem; text-align: center; font-size: .26rem;}

.bottom_box li .img{width: .48rem; height: .48rem; margin: auto;}
.bottom_box li .img img{width: 100%; height: 100%; object-fit: cover;}
.bottom_box li.onTab p{color: #FFAE00;}
.bottom_box li.bigimg .img{width: 100%; height: 100%;}
body{padding-bottom: 1.2rem;}
@font-face {
	font-family: moneyNumber;
	src: url('/static/fonts/coregtd6.otf'),
		url('/static/fonts/coregtd6.TTF'),
		url('/static/fonts/coregtd6.svg'),
		 url('/static/fonts/coregtd6.woff'); /* IE9 */
}

@keyframes rotate_{
	0%{ transform: rotate(0deg);}
	50%{ transform: rotate(180deg);}
	100%{ transform: rotate(360deg);}
}

.huoniao_iOS .top_box{height: 3.86rem;}
.huoniao_iOS .top_box .headbox{padding-top: .6rem;}
.huoniao_iOS .top_box .headbox .htitle{top: .6rem;}
.huoniao_iOS .shopCard_box{margin-top: 1.48rem;}


/* 20211227新增 */
#page{background: #F7F8FA;}
.shop_service{box-shadow: none;}
.foodManage{display: flex; align-items: center; justify-content: space-between; padding: 0 .3rem; padding-top: .18rem; position: relative; background: #fff;}
.foodManage::before{content: ''; display: block; position: absolute; top: .67rem; left: 0; right: 0; height: 1rem;
background: linear-gradient(0deg, #F7F8FA 0%, #FFFFFF 100%);}
.foodManage>a{width: 3.35rem; height: 1.32rem; border-radius: .2rem; display: flex; align-items: center; justify-content: space-between; padding: 0 .26rem; box-sizing: border-box; position: relative; z-index: 1}
.foodManage>a .icon{width: .98rem; height: .98rem}
.foodManage>a .icon img{display: block; width: 100%; height: 100%; object-fit: cover;}
.foodManage>a h3{font-size: .32rem; font-weight: bold;}
.foodManage>a p{font-size: .26rem;}
.foodManage>a.category{background: linear-gradient(90deg, #FFCAB9 0%, #FFDED2 100%); color: #772D2E;}
.foodManage>a.category p{opacity: .7}
.foodManage>a.food{background: linear-gradient(90deg, #FFE09E 0%, #F9EABF 100%); color:#714B1C;}
.foodManage>a.food p{opacity: .7}
