<script>
	var Identity   = {#json_encode($Identity)#}; /*身份(工长/设计师/公司)*/
</script>
<ul class="main-tab">
	<li class="curr">
		<a href="javascript:;">{#if $do == "edit"#}{#$langData['renovation'][15][76]#}{#else#}{#$langData['renovation'][7][3]#}{#/if#}</a>
		{#* 修改文章-发布文章 *#}
	</li>
	<li><a href="{#getUrlPath service='member' type='user' template='renovation' action='article'#}">{#$langData['renovation'][15][77]#}</a></li>{#* 我的全部文章 *#}
</ul>


<div class="w-form">
	<form name="fabuForm" id="fabuForm" method="post" action="/include/ajax.php?service=renovation&action={#if $id != ""#}editArticle&id={#$id#}{#else#}addArticle{#/if#}" data-url="{#getUrlPath service='member' type="user" template='renovation' action="article" param="type={#$typename#}"#}">
		{#* 基本信息 *#}
		<div class="common-title">{#$langData['renovation'][2][44]#}</div>

		{#* 标题 -- 请输入标题*#}
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>{#$langData['siteConfig'][19][0]#}：</dt>
			<dd id="selTeam">
				<input type="text" name="title" class="inp" id="title" size="60" maxlength="50" data-title="{#$langData['renovation'][7][7]#}" value="{#$detail_title#}" />
				<span class="tip-inline"></span>
			</dd>
		</dl>
	<input type="hidden" name = "fid"   value="{#if $id != ''#} {#$detail_fid#} {#else#} {#$fid#} {#/if#}">
	<input type="hidden" name = "ftype" value="{#if $id != ''#} {#$detail_type#} {#else#} {#$ftype#} {#/if#}">

		{#* 文章详情 *#}
		<dl class="fn-clear">
			<dt><span>*</span>{#$langData['renovation'][7][8]#}：</dt>
			<dd>
				<script id="body" name="body" type="text/plain" style="width:750px;height:300px">{#$detail_note#}</script>
			</dd>
		</dl>
    
		
		<dl class="fn-clear">
			<dt>&nbsp;</dt>
			<dd><button class="submit" id="submit">{#if $id == 0#}{#$langData['shop'][1][7]#}{#else#}{#$langData['siteConfig'][6][122]#}{#/if#}</button></dd>
		</dl>
	</form>
</div>

<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/calendar/WdatePicker.js"></script>
