<script type="text/javascript">
	var payReturn = "{#getUrlPath service='member' type='user' template='manage' action='car'#}";
	var mold = {#$detail_mold|default:0#};
	var detail = {
		videotype: {#$detail_videotype|default:0#}
	}
	var geetest = {#$cfg_geetest#};
	var thumbSize = {#$thumbSize#}, thumbType = '{#$thumbType#}', atlasSize = {#$atlasSize*1024*1024#}, atlasType = '{#$atlasType#}', atlasMax = 9;
</script>
<style>
	.variable {display: none;}
	.variable-{#$detail_mold|default:0#} {display: block;}
	#listSection1 {display:block !important;}
	#listSection1:empty {}
</style>
<ul class="main-tab">
	<li class="curr"><a href="javascript:;">{#if $do == "edit"#}{#$langData['siteConfig'][16][157]#}{#else#}{#$langData['car'][6][4]#}{#/if#}</a></li>
	<li><a href="{#getUrlPath service='member' type='user' template='manage' action='car'#}">{#$langData['car'][6][7]#}</a></li>
</ul>

<div class="form_con">
            <form name="fabuForm" id="fabuForm" method="post" action="/include/ajax.php?service=car&action={#if $do == "edit"#}edit&id={#$id#}{#else#}put{#/if#}" data-url="{#getUrlPath service='member' type='user' template='manage' action='car'#}">
                {#*车辆图片 *#} {#*至少上传一张正45°主图照片 *#} {#*图片参考 *#}
                <p class="form-tit"><span class="tit">{#$langData['car'][8][51]#}</span><em>{#$langData['car'][8][52]#} - </em><em class="reference">{#$langData['car'][8][53]#}</em></p>
                <div class="img_con">
                    <div class="img_head">
                        {#*上传图片 *#} {#*上传照片 最多9张 *#}
                        <label><span class="star">*</span><em>{#$langData['car'][8][55]#}</em></label><span class="img-tip">{#$langData['car'][8][54]#}</span>
                    </div>
                    <div class="store-imgs img_box">
                        <ul class="uploader-list fn-clear" id="fileList">
                          {#foreach from=$detail_imglist item=val key=k#}
                          <li id="WU_FILE_{#$k#}" class="thumbnail imgshow_box">
                            <div class="img_show">
                              <img src="{#$val.path#}" data-val="{#$val.pathSource#}" data-url="{#$val.path#}">
                            </div><i class="del_btn">+</i>
                          </li>
                          {#/foreach#}
                            <li class="upload_btn" id="uploadbtn">
                                <div id="filePicker" class="webuploader-container">
                                    <img src="{#$templets_skin#}images/add_car.png" />
                                    <p class="img-p2">{#$langData['car'][8][56]#}</p>  {#*点击上传图片 *#}
                                </div>
                            </li>
                            <div class="kong"></div>
                        </ul>
                        <input type="hidden" name="imglist" id="pics" value="{#$detail_pics#}" class="imglist-hidden">
                        <p class="error" id="img-error"><i></i>{#$langData['car'][8][38]#}</p>  {#*请至少上传一张车辆照片 *#}
                    </div>
                </div>

                {#*车辆基本信息 *#}
                <p class="form-tit"><span class="tit">{#$langData['car'][8][49]#}</span></p>
                <ul class="form-ul">

                    {#*标题 *#}
                   <!--  <li class="li-name">
                       <label for="car-name"><span class="star">*</span><em>{#$langData['car'][8][50]#}</em></label>
                       <input type="text" placeholder="{#$langData['car'][8][39]#}"
                       {#if $do == "edit"#} value="{#$detail_#}" {#/if#} name="car-name" id="car-name" maxlength="30">  {#*请输入标题 *#}
                    </li> -->

                   {#*品牌 *#}
                    <li class="li-brand">
                        <label for="type"><span class="star">*</span><em>{#$langData['car'][0][12]#}</em></label>
                        <div class="input_div type">
                          <input type="text" id="type"  {#if $do == "edit"#} value="{#$detail_titlename#}" {#/if#} name="titlename" placeholder="{#$langData['car'][4][1]#}" value="" readonly>{#*请选择品牌 *#}
                          <i></i>
                        </div>
                    </li>
                    <input type="hidden" name="brand" id="brand" value="{#$detail_brand#}" />
                    <input type="hidden" name="model" id="model" value="{#$detail_model#}" />

                    {#*标题 *#}
                    <li class="li-title">
                        <label for="type"><span class="star">*</span><em>{#$langData['siteConfig'][19][0]#}</em></label>
                        <div class="input_div">
                          <input type="text" id="title-text"  {#if $do == "edit"#} value="{#$detail_title#}" {#/if#} name="title" placeholder="{#$langData['siteConfig'][20][26]#}" value="">{#*请输入标题 *#}
                        </div>
                    </li>
                    {#*颜色 *#}
                    <li class="li-color">
                        <label for="color"><span class="star">*</span><em>{#$langData['car'][3][5]#}</em></label>
                        <div class="colorPick_wrap fn-clear">
                                {#*黑 *#}
                              <a  class="colorTag {#if $detail_colorname=='黑'#} colorPicked {#/if#}"  href="javascript:void(0)" data-color='黑'>
                                <span>
                                  <em style="background-color:black"></em>{#$langData['car'][8][57]#}</span><i></i></a>

                              {#*白 *#}
                              <a  class="colorTag {#if $detail_colorname=='白'#} colorPicked {#/if#} "  href="javascript:void(0)" data-color='白'>
                                <span>
                                  <em style="background-color:white"></em>{#$langData['car'][8][58]#}</span><i></i></a>

                              {#*银/灰 *#}
                              <a  class="colorTag {#if $detail_colorname=='银/灰'#} colorPicked {#/if#}"  href="javascript:void(0)" data-color='银/灰'>
                                <span>
                                  <em style="background-color:#E6E6E6"></em>{#$langData['car'][8][59]#}</span><i></i></a>

                              {#*红 *#}

                              <a class="colorTag  {#if $detail_colorname=='红'#} colorPicked {#/if#}" href="javascript:void(0)" data-color='红'>
                                <span>
                                  <em style="background-color:red"></em>{#$langData['car'][8][60]#}</span><i></i></a>

                              {#*蓝 *#}
                              <a class="colorTag {#if $detail_colorname=='蓝'#}  colorPicked {#/if#}" href="javascript:void(0)" data-color='蓝'>
                                <span>
                                  <em style="background-color:#3399FF"></em>{#$langData['car'][8][61]#}</span><i></i></a>

                              {#*黄 *#}
                              <a class="colorTag  {#if $detail_colorname=='黄'#} colorPicked {#/if#}" href="javascript:void(0)" data-color='黄'>
                                <span>
                                  <em style="background-color:#FFFF00"></em>{#$langData['car'][8][62]#}</span><i></i></a>

                              {#*褐 *#}
                              <a class="colorTag  {#if $detail_colorname=='褐'#} colorPicked {#/if#}" href="javascript:void(0)" data-color='褐'>
                                <span>
                                  <em style="background-color:#996600"></em>{#$langData['car'][8][63]#}</span><i></i></a>

                              {#*绿 *#}
                              <a  class="colorTag {#if $detail_colorname=='绿'#} colorPicked {#/if#}" href="javascript:void(0)" data-color='绿'>
                                <span>
                                  <em style="background-color:#0DCF6E"></em>{#$langData['car'][8][64]#}</span><i></i></a>

                              {#*橙 *#}
                              <a class="colorTag {#if $detail_colorname=='橙'#} colorPicked {#/if#}" href="javascript:void(0)" data-color='橙'>
                                <span>
                                  <em style="background-color:#FF6600"></em>{#$langData['car'][8][65]#}</span><i></i></a>

                              {#*紫 *#}
                              <a class="colorTag  {#if $detail_colorname=='紫'#} colorPicked {#/if#}" href="javascript:void(0)" data-color='紫'>
                                <span>
                                  <em style="background-color:#CC3399"></em>{#$langData['car'][8][66]#}</span><i></i></a>

                              {#*香槟 *#}
                              <a  class="colorTag  {#if $detail_colorname=='香槟'#} colorPicked {#/if#}"  href="javascript:void(0)" data-color='香槟'>
                                <span>
                                  <em style="background-color:#F3EEAA"></em>{#$langData['car'][8][67]#}</span><i></i></a>

                              {#*其他 *#}

                              <a  class="colorTag  {#if $detail_colorname=='其他'#} colorPicked {#/if#}"  href="javascript:void(0)" data-color='其他'>
                                <span class="other">{#$langData['car'][8][68]#}</span><i></i></a>
                        </div>
                        <input type="hidden" id="colorInput" name="colorname">
                        <p class="error" id="img-error2"><i></i>{#$langData['car'][4][2]#}</p> {#*请选择颜色 *#}
                    </li>

                    {#* 所在区域 *#}
                    <li class="li-addr">
                        <label for="selAddr"><span class="star">*</span><em>{#$langData['car'][8][69]#}</em></label>
                        <div id="selAddr " class="input_div" style="vertical-align: middle;">
                            <div class="cityName" style="">
                            <div class="city-title addrBtn" data-field="addrid" data-type="addr" data-ids="{#getPublicParentInfo tab='site_area' id=$detail_addrid split=' ' action='area'#}" data-id="{#$detail_addrid#}">{#if $detail_addrid != ""#}{#getPublicParentInfo tab='site_area' id=$detail_addrid type='typename' split='/' action='area'#}{#else#}{#$langData['siteConfig'][7][2]#}{#/if#}</div>  {#* 请选择 *#}
                            <i></i>
                        </div>
                        <input type="hidden" name="addr" id="addrid" value="{#$detail_addrid#}" />
                        <input type="hidden" name="cityid" id="cityid" value="{#$detail_cityid#}" />
                        <input type="hidden" name="location" id="location" value="{#$detail_location#}" />
                        </div>
                    </li>

                    {#*上牌时间 *#}
                    <li class="">
                        <label for="card-time"><span class="star">*</span><em>{#$langData['car'][6][33]#}</em></label>
                        <div class="down-div input_div2">
                            <div class="time-div" data-type="old"><input autocomplete="off" type="text" id="card-time" name="cardtime" {#if $do == "edit"#} value="{#date('Y年m月',$detail_cardtime)#}" {#/if#}  placeholder="{#$langData['car'][6][34]#}" readonly="" class="time-input"><i></i></div>{#*请选择上牌时间 *#}
                            <div class="time_choose fn-clear">
                                <div class="time_year fn-left year">
                                    <h3 class="brand-tit">{#$langData['car'][8][42]#}</h3>  {#*请选择年份 *#}
                                    <div class="time-aside">

                                    </div>
                                </div>
                                <div class="time_month fn-right month">
                                    <h3 class="brand-tit">{#$langData['car'][8][43]#}</h3> {#*请选择月份 *#}
                                    <div class="time-aside">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="li-mill">
                        <label for="mill"><span class="star">*</span><em>{#$langData['car'][6][18]#}</em></label>  {#*行驶里程 *#}
                        <div class="input_div input_div2">
                          <input type="text" id="mill" name="mileage" autocomplete="off" {#if $do == "edit"#} value="{#$detail_mileage#}" {#/if#} placeholder="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');">
                          <em>{#$langData['car'][3][11]#}</em>  {#*万公里 *#}
                        </div>
                    </li>
                    <li class="">
                        <label for="guohu"><span class="star">*</span><em>{#$langData['car'][0][24]#}</em></label>  {#*过户次数 *#}
                        <div class="input_div input_div2">
                          <input type="text" id="guohu" placeholder="" name="transfertimes" autocomplete="off" {#if $do == "edit"#} value="{#$detail_transfertimes#}" {#/if#} onkeyup="this.value=this.value.replace(/[^0-9]/g,'');">
                          <em>{#$langData['car'][6][60]#}</em>  {#*次 *#}
                        </div>
                    </li>
                    <li class="">
                        <label for="yearly-time"><span class="star">*</span><em>{#$langData['car'][7][54]#}</em></label>
                        <div class="down-div input_div2">
                            <div class="time-div" data-type="new"><input type="text" id="yearly-time" autocomplete="off" name="njendtime"  {#if $do == "edit"#} value="{#date('Y年m月',$detail_njendtime)#}" {#/if#}  placeholder="{#$langData['car'][8][41]#}" readonly class="time-input"><i></i></div>{#*请选择年检时间 *#}
                            <div class="time_choose fn-clear noCheck">
                                <div class="time_year2 fn-left year">
                                    <h3 class="brand-tit">{#$langData['car'][8][42]#}</h3>  {#*请选择年份 *#}
                                    <div class="time-aside">

                                    </div>
                                </div>
                                <div class="time_month2 fn-right month">
                                    <h3 class="brand-tit">{#$langData['car'][8][43]#}</h3> {#*请选择月份 *#}
                                    <div class="time-aside">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {#*交强险到期时间 *#}
                    <li class="">
                        <label for="compulsory-time"><span class="star">*</span><em>{#$langData['car'][6][29]#}</em></label>
                        <div class="down-div input_div2">
                            <div class="time-div" data-type="new">
                                <input type="text" id="compulsory-time" name="jqxendtime" autocomplete="off" placeholder="{#$langData['car'][6][39]#}" {#if $do == "edit"#}  value="{#date('Y年m月',$detail_jqxendtime)#}" {#/if#} class="time-input">
                                <i></i>
                            </div>{#*请选择交强险到期时间 *#}

                            <div class="time_choose fn-clear noCheck2">
                                <div class="time_year2 fn-left year">
                                    <h3 class="brand-tit">{#$langData['car'][8][42]#}</h3>  {#*请选择年份 *#}
                                    <div class="time-aside">

                                    </div>
                                </div>
                                <div class="time_month2 fn-right month">
                                    <h3 class="brand-tit">{#$langData['car'][8][43]#}</h3> {#*请选择月份 *#}
                                    <div class="time-aside">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    {#*商业险到期时间 *#}
                    <li class="">
                        <label for="commercial-time"><span class="star">*</span><em>{#$langData['car'][6][30]#}</em></label>
                        <div class="down-div input_div2">
                            <div class="time-div" data-type="new">
                                <input type="text" name="businessendtime" id="commercial-time" autocomplete="off" placeholder="{#$langData['car'][6][40]#}" {#if $do == "edit"#} value="{#date('Y年m月',$detail_businessendtime)#}" {#/if#} class="time-input">
                                <i></i>
                            </div>{#*请选择商业险到期时间 *#}

                            <div class="time_choose fn-clear noCheck3">
                                <div class="time_year2 fn-left year">
                                    <h3 class="brand-tit">{#$langData['car'][8][42]#}</h3>  {#*请选择年份 *#}
                                    <div class="time-aside">

                                    </div>
                                </div>
                                <div class="time_month2 fn-right month">
                                    <h3 class="brand-tit">{#$langData['car'][8][43]#}</h3> {#*请选择月份 *#}
                                    <div class="time-aside">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    {#*车辆性质 *#}
                    <li class="pro_li">
                        <label for="propertyture"><span class="star">*</span><em>{#$langData['car'][3][8]#}</em></label>
                        <div class="down-div input_div2">
                            <div class="time-div">
                                <input type="text" id="propertyture" autocomplete="off" placeholder="{#$langData['car'][4][6]#}" {#if $do == "edit"#} value="{#if $detail_nature==0#}{#$langData['car'][3][10]#}{#else#}{#$langData['car'][3][9]#}{#/if#}" {#/if#} >
                                <i></i>
                            </div>{#*请选择车辆性质 *#}

                            <div class="time_choose fn-clear">
                                <div class="pro-choose ">
                                    <p>{#$langData['car'][3][10]#}</p>{#*非营运 *#}
                                    <p>{#$langData['car'][3][9]#}</p>{#*营运 *#}
                                </div>

                            </div>
                        </div>
                    </li>
                    <input type="hidden" class="naturecl" name="nature" value="{#$detail_nature#}">
                </ul>
                <p class="form-tit"><span class="tit">{#$langData['car'][8][44]#}</span></p> {#*车辆售价信息 *#}
                <ul class="form-ul">
                    <li class="">
                        <label for="price_text"><span class="star">*</span><em>{#$langData['car'][0][13]#}</em></label>  {#*价格 *#}
                        <div class="input_div input_div2">
                          <input type="text" id="price_text" name="price" autocomplete="off" placeholder="" {#if $do == "edit"#} value="{#$detail_price#}" {#/if#} />
                          <em>{#$langData['car'][3][12]#}</em> {#*万元 *#}
                        </div>
                        {#*可分期 *#}   {#*含税 *#}
                        <input type="hidden" name="staging" id="staging" value="{#$detail_staging|default:0#}" />
                        <input type="hidden" name="tax" id="tax" value="{#$detail_tax|default:0#}" />
                        <div class="price-type"><span   class="installment {#if $detail_staging==1#} active {#/if#}" >{#$langData['car'][3][18]#}</span><span class="tax {#if $detail_tax==1#} active {#/if#} ">{#$langData['car'][6][14]#}</span></div>
                    </li>
                    <li class="price-li">
                        <label for="payments-text"><span class="star">*</span><em>{#$langData['car'][3][19]#}</em></label>  {#* 首付金额 *#}
                        <div class="down-div input_div2">
                            <div class="time-div price-div">
                                <span class="car-price">{#$detail_price*$detail_downpayment#}{#$langData['car'][3][12]#}</span>
                                <input type="text" id="payments-text"   name="downpayment" placeholder="{#$langData['car'][3][20]#}" readonly value="{#$detail_downpayment#}">
                                <i></i>

                            </div>{#*请选择首付比例 *#}

                            <div class="time_choose fn-clear">
                                <div class="radio-choose">
                                    <p>0.2</p>
                                    <p>0.3</p>
                                    <p>0.4</p>
                                    <p>0.5</p>
                                    <p>0.6</p>
                                    <p>0.7</p>
                                    <p>0.8</p>
                                </div>

                            </div>
                        </div>
                    </li>
                   <!--  <li class="">
                        <label for="totalprice"><em>{#$langData['car'][0][17]#}</em></label>  {#*新车总价 *#}
                        <div class="input_div input_div2">
                          <input type="text" id="totalprice" placeholder="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');">
                          <em>{#$langData['car'][3][12]#}</em> {#*万元 *#}
                        </div>
                    </li>
                    <li class="">
                        <label for="ckprice"><em>{#$langData['car'][0][16]#}</em></label>  {#*参考价 *#}
                        <div class="input_div input_div2">
                          <input type="text" id="ckprice" placeholder="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');">
                          <em>{#$langData['car'][3][12]#}</em> {#*万元 *#}
                        </div>
                    </li> -->
                </ul>
                 {#*车况信息 *#}
                <p class="form-tit"><span class="tit">{#$langData['car'][8][48]#}</span></p>
                <ul class="form-ul">
                    <li>
                        <label for="explain" class="label_spe"><span class="star">*</span><em>{#$langData['car'][6][31]#}</em></label>  {#* 车况说明 *#}
                        <div class="con">
                            <textarea name="note" id="explain" placeholder="{#$langData['car'][8][47]#}"> {#if $do == "edit"#} {#$detail_note#} {#/if#} </textarea>
                        </div>
                        {#* 我的车外观有无剐蹭喷漆、发动机、变速箱有无故障、电子系统是否正常 *#}

                        <p class="error" id="img-error3"><i></i>{#$langData['car'][4][8]#}</p> {#*请填写车辆说明 *#}

                    </li>
                </ul>
                {#* 联系方式 *#} {#* 更改联系方式需重新验证 *#}
                <p class="form-tit"><span class="tit">{#$langData['car'][4][48]#}</span><em>{#$langData['car'][3][17]#} </em></p>

                <ul class="form-ul form-ul2">
                    <li>
                        <label for="contact-name"><span class="star">*</span><em>{#$langData['car'][3][14]#}</em></label>  {#* 联系人 *#}
                        <input type="text" {#if $do == "edit"#} value="{#$detail_username#}" {#/if#} placeholder="{#$langData['car'][5][32]#}" name="person"  id="contact-name" minlength="2" maxlength="6">  {#* 请输入2-6个字 *#}
                    </li>
                    <li>
                        <label for="contact"><span class="star">*</span><em>{#$langData['car'][3][15]#}</em></label>  {#* 手机号 *#}
                        <div class="inpbdr">
                          <span class="areaCode"><i>+{#$internationalPhoneSection[0]['code']#}</i><s></s></span>
                          <input type="text" value="{#if $detail_contact != ""#}{#$detail_contact#}{#else#}{#$userinfo.phone#}{#/if#}" placeholder="{#$langData['car'][8][45]#}" name="tel" id="contact" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');">  {#* 请输入手机号 *#}
                          <div class="areaCode_wrap areaCode_wrap2">
                            <ul>

                            </ul>
                          </div>
                        </div>
                        <input type="hidden" name="areaCode" id="areaCode" value="{#$internationalPhoneSection[0]['code']#}">

                    </li>
                    <li class="vercode fn-hide"{#if $detail_contact && $detail_contact != $userinfo.phone#} style="display: block;"{#/if#}>
                        <label for="vercode"><span class="star">*</span><em>{#$langData['car'][8][46]#}</em></label>  {#* 验证码 *#}
                        <div class="code_div">
                            <input type="text" placeholder="{#$langData['car'][4][11]#}" name="testcode" id="vercode" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');">   {#* 请输入验证码 *#}
                            <p class="test_btn"><button type="button" class="getCodes">{#$langData['car'][3][16]#}</button></p>{#* 发送验证码 *#}
                            <button style="display: none;" id="button" type="button"></button>

                        </div>
                    </li>
                </ul>
                <p class="fabu-submit">{#$langData['car'][3][21]#}</p>  {#* 发布 *#}
            </form>
        </div>
        <!--品牌弹出层 s-->
<div class="brand-wrap fn-clear">
    <img src="{#$templets_skin#}images/close_alert.png" alt="" class="close_alert">
    <div class="wrap-con fn-clear">
        <div class="brand-con choose">
            <h3 class="brand-tit">{#$langData['car'][4][1]#}</h3>  {#* 请选择品牌 *#}
            <div class="aside block-brand fn-clear">
                <div class="jump-tag szm navbar">
                      <ul class="jump-ul">
                          <li class="jump-li"><a href="javascript:;" data-id="jump-li-hot">{#$langData['car'][8][8]#}</a></li> {#* 热 *#}
                          {#$firstword=''#}
                          {#loop service="car" action="typeList" return='type' son="1" orderby="3" pageSize=9999 #}
                          {#if $firstword==$type.firstword #}

                          {#else#}
                              {#$firstword=$type.firstword#}
                              <li class="jump-li"><a href="javascript:;" data-id="jump-li-{#$type.firstword#}">{#$type.firstword#}</a></li>
                          {#/if#}
                          {#/loop#}
                      </ul>
                </div>
                <div class="aside-main">
                    <h3 class="tt" id='jump-li-hot'>{#$langData['car'][8][31]#}</h3>{#*热门 *#}
                    <ul class="list-brand fn-clear list-hot">
                        {#loop service="car" action="type" return='type' hot="1" pageSize=10 #}
                        <li data-id="{#$type.id#}">{#$type.typename#}</li>
                        {#/loop#}
                    </ul>
                    {#$firstword=''#}
                    {#loop service="car" action="typeList" return='type' son="1" orderby="3" pageSize=9999 #}
                    {#if $firstword==$type.firstword #}
                    <li data-id="{#$type.id#}">{#$type.typename#}</li>
                    {#else#}
                        </ul>
                        {#$firstword=$type.firstword#}
                        <h3 id="jump-li-{#$type.firstword#}">{#$type.firstword#}</h3>
                        <ul class="list-line list-line-logo">
                            <li data-id="{#$type.id#}">{#$type.typename#}</li>
                    {#/if#}
                    {#/loop#}
                </div>


            </div>
        </div>
        <div class="cartype-con choose">
            <h3 class="brand-tit">{#$langData['car'][8][74]#}</h3> {#*请选择车系 *#}
            <!--车系 s-->
            <div class="aside block-cartype">
            </div>
            <!--车系 e-->
        </div>
        <div class="sub-con choose">
            <h3 class="brand-tit">{#$langData['car'][5][26]#}</h3> {#*请选择车型 *#}
            <!--车型 s-->
            <div class="aside cartype-sub">
            </div>
            <!--车型 e-->
        </div>
    </div>
    <div class="ul_wrap">
        <ul class="fn-clear choose_ul">
            <li class="cancel">{#$langData['car'][1][14]#}</li> {#*取消 *#}
            <li class="confirm">{#$langData['car'][1][15]#}</li> {#*确定 *#}
        </ul>
    </div>

</div>
<!--品牌弹出层 e-->

<!--图片参考弹出层 s-->
<div class="img_contanier">
    <img src="{#$templets_skin#}images/close_alert.png" alt="" class="close_alert">
    <p class="img-p">{#$langData['car'][8][53]#}</p>    {#* 图片参考 *#}
    <img src="{#$templets_skin#}images/imgck.png" alt="" class="imgck">
    <p class="img-tip2">{#$langData['car'][8][73]#}</p>  {#* 可以参考以上角度为爱车拍照！ *#}
</div>
<!--图片参考弹出层 e-->

<!--预约成功弹窗 s-->

<div class="mask"></div>
<!--预约成功弹窗 e-->
<script>
		var userinfo = {
			phone: '{#$userinfo.phone#}',
			phoneCheck: {#$userinfo.phoneCheck#}
		};
		var detail = {
			contact: '{#$detail_contact#}'
		}
	</script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/publicAddr.js?v={#$cfg_staticVersion#}"></script>
{#if $cfg_geetest#}
{#if $cfg_geetest == 1#}
<script type="text/javascript" src="{#$cfg_secureAccess#}static.geetest.com/static/tools/gt.js"></script>
{#/if#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/captchaVerify.js?v={#$cfg_staticVersion#}"></script>
{#/if#}
<script type="text/javascript" src="{#$templets_skin#}js/codetest.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$cfg_staticPath#}js/webuploader/webuploader.js?v={#$cfg_staticVersion#}" type="text/javascript"></script>
<script type="text/javascript" src="{#$templets_skin#}touch/js/upload-img.js?v={#$cfg_staticVersion#}"></script>
