<script>
	var templatePath ='{#$templets_skin#}';
</script>
<ul class="main-tab">
	<li><a href="{#getUrlPath service='member' type='user' template='fabu-education'  action='tutor'#}">家教信息</a></li>{#* 家教信息 *#}
	<li class="curr"><a href="javascript:;">{#$langData['education'][4][41]#}</a></li>{#* 授课设置 *#}
</ul>

<div class="w-form" id="educationForm">
	<form name="fabuForm" id="fabuForm" method="post" action="/include/ajax.php?service=education&action=operTutor&type=2">
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>{#$langData['education'][5][6]#}：</dt>{#* 价格 *#}
			<dd>
				<div class="input-append">
                    <input type="text" name="price" value="{#if $detail_price > 0#}{#$detail_price#}{#/if#}" onkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')" id="price" data-title="请输入价格">
                    <span class="add-aft">{#echoCurrency type='short'#}/小时</span> {#* 元/小时 *#}
                </div>
				<span class="tip-inline"></span>
			</dd>
		</dl>
		

		<dl class="fn-clear  clasType">
			<dt><span>*</span>{#$langData['education'][5][7]#}：</dt> {#* 授课方式 *#}
			<dd>
				<div class="radio">

					<span data-id="0" {#if $detail_typeid == 0#}class="curr"{#/if#} >{#$langData['education'][5][9]#}</span>  {#*老师上门*#}
					<span data-id="1" {#if $detail_typeid == 1#}class="curr"{#/if#}>{#$langData['education'][5][8]#}</span>  {#*老师提供场地*#}

					<input type="hidden" value="{#if $detail_typeid==1#}{#$detail_typeid#}{#else#}0{#/if#}" name="typeid" id="typeid">
				</div>
				<span class="tip-inline"></span>
			</dd>
		</dl>
		{#* 授课区域 *#}
		<dl class="fn-clear clasQuy" data-required="1" {#if $detail_typeid==1#}style="display: none;"{#else#}style="display: block;"{#/if#}>
			<dt><span>*</span>{#$langData['siteConfig'][19][27]#}：</dt>
			<dd id="selAddr">
				<div class="sel-group">
					<div class="addrBtn carAddrbtn" data-field="addrid" data-ids="{#getPublicParentInfo tab='site_area' id=$detail_areaaddrid split=' '#}" data-id="{#$detail_areaaddrid#}">{#if $detail_areaaddrid#}{#getPublicParentInfo tab='site_area' id=$detail_areaaddrid type='typename' split='/'#}{#else#}{#$langData['siteConfig'][7][2]#}{#/if#}</div>
				</div>
				<input type="hidden" name="areaaddrid" id="areaaddrid" value="{#$detail_areaaddrid#}">
                <input type="hidden" name="areacityid" id="areacityid" value="{#$detail_areacityid#}">
				<span class="tip-inline"></span>
			</dd>
		</dl>
		
		{#*授课地址*#}
		<dl class="fn-clear clasAdr"  data-required="1" {#if $detail_typeid==0#}style="display: none;"{#else#}style="display: block;"{#/if#}>
			<dt><span>*</span>{#$langData['education'][5][11]#}：</dt>
			<dd>
				<input type="text" id="class_address" placeholder="{#$langData['education'][5][12]#}" name="area" value="{#$detail_area#}" class="inp" data-title="{#$langData['education'][5][12]#}">{#*请填写授课地址*#}
				<span class="tip-inline"></span>

			</dd>
		</dl>
		{#*授课时间*#}
		<dl class="fn-clear classTime"  data-required="1">
			<dt><span>*</span>{#$langData['education'][5][13]#}：</dt>
			<dd>
				<table>
                    <tr>
                        <th>{#$langData['education'][2][20]#}</th>    {#* 周一 *#}
                        <th>{#$langData['education'][2][21]#}</th>    {#* 周二 *#}
                        <th>{#$langData['education'][2][22]#}</th>    {#* 周三 *#}
                        <th>{#$langData['education'][2][23]#}</th>    {#* 周四 *#}
                        <th>{#$langData['education'][2][24]#}</th>    {#* 周五 *#}
                        <th>{#$langData['education'][2][25]#}</th>    {#* 周六 *#}
                        <th>{#$langData['education'][2][26]#}</th>    {#* 周日 *#}
                    </tr>
                    <tr>
                        {#for $foo=1 to 7#}
                        <td{#if $detail_teachingtimeAll[{#$foo#}][1] == 1#} class="on"{#/if#}><span {#if $detail_teachingtimeAll[{#$foo#}][1] == 1#}style="display: none;" {#/if#} data-name="teachingtime[{#$foo#}][1]" data-id="1">上午</span>{#if $detail_teachingtimeAll[{#$foo#}][1] == 1#}<img src="{#$templets_skin#}images/edubook.png" alt="" class="td_img">{#/if#}</td>
                        {#/for#}
                    </tr>
                    <tr>
                        {#for $foo=1 to 7#}
                        <td{#if $detail_teachingtimeAll[{#$foo#}][2] == 2#} class="on"{#/if#}><span {#if $detail_teachingtimeAll[{#$foo#}][2] == 2#}style="display: none;" {#/if#} data-name="teachingtime[{#$foo#}][2]" data-id="2">下午</span>{#if $detail_teachingtimeAll[{#$foo#}][2] == 2#}<img src="{#$templets_skin#}images/edubook.png" alt="" class="td_img">{#/if#}</td>
                        {#/for#}
                    </tr>
                    <tr>
                        {#for $foo=1 to 7#}
                        <td{#if $detail_teachingtimeAll[{#$foo#}][3] == 3#} class="on"{#/if#}><span {#if $detail_teachingtimeAll[{#$foo#}][3] == 3#}style="display: none;" {#/if#} data-name="teachingtime[{#$foo#}][3]" data-id="3">晚上</span>{#if $detail_teachingtimeAll[{#$foo#}][3] == 3#}<img src="{#$templets_skin#}images/edubook.png" alt="" class="td_img">{#/if#}</td>
                        {#/for#}
                    </tr>
                </table>
				<span class="tip-inline"></span>
			</dd>
		</dl>

		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>{#$langData['education'][1][30]#}：</dt>  {#* 教师简介 *#}
			<dd>
				<textarea class="input_area" id="note" name="note" placeholder="{#$langData['education'][5][14]#}" data-title="请输入教师简介">{#$detail_note#}</textarea>  {#* 补充说明教育背景，教育理念，教学特长等 *#}
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>{#$langData['siteConfig'][3][6]#}：</dt>{#* 手机号码 *#}
			<dd class="fn-clear">
				 <span class="areaCode"><i>+{#$internationalPhoneSection[0]['code']#}</i><s></s></span>
				<input type="text" name="tel" class="inp" id="contact" size="20" data-title="{#$langData['siteConfig'][20][463]#}" onkeyup="value=value.replace(/\D+/ig,'')" value="{#if $detail_telNum != ""#}{#$detail_telNum#}{#else#}{#$userinfo.phone#}{#/if#}" />{#* 请输入手机号码 *#}
				<span class="codeTip">! 更改联系方式需重新验证</span>
				<span class="tip-inline"></span>
				<div class="areaCode_wrap areaCode_wrap2">
	              <ul>

	              </ul>
	            </div>
	            <input type="hidden" name="areaCode" id="areaCode" value="{#$internationalPhoneSection[0]['code']#}">
			</dd>
		</dl>
		<dl class="vercode fn-hide"{#if $detail_contact && $detail_contact != $userinfo.phone#} style="display: block;"{#/if#}>
            <dt><span class="star">*</span>{#$langData['car'][8][46]#}：</dt>  {#* 验证码 *#}
            <dd>
	            <div class="code_div">
	                <input type="text" placeholder="{#$langData['car'][4][11]#}" name="testcode" id="vercode" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" class="inp" data-title='请输入验证码'>   {#* 请输入验证码 *#}
	                <p class="test_btn"><button type="button" class="getCodes">{#$langData['car'][3][16]#}</button></p>{#* 发送验证码 *#}
					

	            </div>
	            <span class="tip-inline"></span>
            </dd>
            
        </dl>

		<dl class="fn-clear">
			<dt>&nbsp;</dt>
			<dd><button class="submit" type="submit" id="submit">{#if $id == 0#}{#$langData['siteConfig'][11][19]#}{#else#}{#$langData['siteConfig'][6][122]#}{#/if#}</button></dd>{#* 立即发布--提交修改 *#}
		</dl>
	</form>
</div>
<script>
	var userinfo = {
		phone: '{#$userinfo.phone#}',
		phoneCheck: {#$userinfo.phoneCheck#}
	};
	var geetest = {#$cfg_geetest#};
</script>
{#if $cfg_geetest#}<script type="text/javascript" src="{#$cfg_secureAccess#}static.geetest.com/static/tools/gt.js"></script>{#/if#}
<script type="text/javascript" src="{#$templets_skin#}js/codetest.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/publicAddr.js?v={#$cfg_staticVersion#}"></script>