
<ul class="main-tab">
	<li class="curr"><a href="javascript:;">{#$langData['education'][4][31]#}</a></li>{#* 发布留言 *#}

</ul>

<div class="w-form" id="educationForm" >
	<form name="fabuForm" id="fabuForm" method="post" action="/include/ajax.php?service=education&action=operWord&oper=add" data-url="{#getUrlPath service='education' template='word'#}">
		<h2 class="comTit">{#$langData['education'][4][32]#}</h2> {#* 留言详情 *#}
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>{#$langData['education'][4][33]#}：</dt>{#* 留言标题 *#}
			<dd>
				<input type="text" name="title" class="inp" id="title" size="60" maxlength="50" data-title="请填写留言标题" value="{#$detail_title#}" />{#* 请填写留言标题 *#}
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>{#$langData['education'][4][34]#}：</dt>{#* 求教科目 *#}
			<dd>
				<input type="text" name="subjects" class="inp" id="subjects" size="60" maxlength="50" data-title="请求教科目" value="{#$detail_subjects#}" />{#* 请求教科目 *#}
				<span class="tip-inline"></span>
			</dd>
		</dl>

		{#* 所在区域 *#}
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>{#$langData['siteConfig'][19][27]#}：</dt>
			<dd id="selAddr">
				<div class="sel-group" data-title="{#$langData['siteConfig'][20][68]#}">
					<div class="addrBtn carAddrbtn" data-field="addrid" data-ids="{#getPublicParentInfo tab='site_area' id=$detail_addrid split=' '#}" data-id="{#$detail_addrid#}">{#if $detail_addrid#}{#getPublicParentInfo tab='site_area' id=$detail_addrid type='typename' split='/'#}{#else#}{#$langData['siteConfig'][7][2]#}{#/if#}</div>
				</div>
				<input type="hidden" name="addrid" id="addrid" value="{#$detail_circleAddrid#}" />
				<input type="hidden" name="cityid" id="cityid" value="{#$detail_cityid#}" />
				<span class="tip-inline"></span>
			</dd>
		</dl>

		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>{#$langData['education'][4][36]#}：</dt>{#* 身份要求 *#}
			<dd>
				<div class="down-div">
					<div class="time-div">
						{#*请选择 *#}
		                <input type="text" id="educationname" class="inp" autocomplete="off" placeholder="{#$langData['siteConfig'][7][2]#}" value="{#if $detail_education#}{#$detail_educationname#}{#/if#}" data-title="请选择身份要求" readonly>
		            </div>{#*请选择身份要求 *#}

					<div class="time_choose fn-clear">
		                <div class="pro-choose ">
		                	{#loop service="education" action="educationitem" value=1 type=1 return="type"#}
		                    <p {#if $detail_typeid == $type.id#}class="curr"{#/if#}> <a href="javascript:;" data-id="{#$type.id#}">{#$type.value#}</a> </p>
		                    {#/loop#}
		                </div>
		            </div>
		            <span class="caret"></span>
		            <input type="hidden" name="education" id="educations" value="{#$detail_education#}">
		        </div>
				<span class="tip-inline"></span>
			</dd>
		</dl>

		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>{#$langData['education'][4][37]#}：</dt> {#* 性别要求 *#}
			<dd>
				<div class="radio">
					<span data-id="2" {#if $detail_sex == 2#}class="curr"{#/if#} >不限</span> {#*不限*#}
					<span data-id="0" {#if $detail_sex == 0#}class="curr"{#/if#} >{#$langData['siteConfig'][13][5]#}</span> {#*女*#}
					<span data-id="1" {#if $detail_sex == 1#}class="curr"{#/if#}>{#$langData['siteConfig'][13][4]#}</span> {#*男*#}

					<input type="hidden" name="sex" value="{#$detail_sex#}" id="usersex" />
				</div>
				<span class="tip-inline"></span>
			</dd>
		</dl>

		<dl class="fn-clear">
			<dt>{#$langData['education'][4][38]#}：</dt>{#* 上课时间 *#}
			<dd>
				<input type="text" name="subjectstime" class="inp" id="subjectstime" size="60" maxlength="50" value="{#$detail_subjectstime#}" />
			</dd>
		</dl>
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>{#$langData['education'][4][39]#}：</dt> {#* 授课次数 *#}
			<dd>
				<div class="input-append">
                    <input type="text" name="lecturesnums" value="" onkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')" class="class_price class_com2" id="lecturesnums" data-title="请输入授课次数">
                    <span class="add-aft">{#$langData['siteConfig'][40][3]|replace:'1':''#}</span> {#*1次/每周*#}
                </div>
                <span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>{#$langData['education'][4][40]#}：</dt> {#*预期费用 *#}
			<dd>
				<div class="input-append">
                    <input type="text" name="price" value="" onkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')" class="class_price class_com2" data-title="请输入预期费用" id="price">
                    <span class="add-aft">{#$langData['siteConfig'][40][4]|replace:'1':''#}</span> {#*1元/小时*#}
                </div>
                <span class="tip-inline"></span>
			</dd>
		</dl>
		
		<h2 class="comTit comTit2">{#$langData['education'][2][10]#}</h2>  {#*联系方式*#}
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>{#$langData['siteConfig'][3][6]#}：</dt>{#* 手机号码 *#}
			<dd class="fn-clear">
				 <span class="areaCode"><i>+{#$internationalPhoneSection[0]['code']#}</i><s></s></span>
				<input type="text" name="tel" class="inp" id="contact" size="20" data-title="{#$langData['siteConfig'][20][463]#}" onkeyup="value=value.replace(/\D+/ig,'')" value="{#if $detail_telNum != ""#}{#$detail_telNum#}{#else#}{#$userinfo.phone#}{#/if#}" />{#* 请输入手机号码 *#}
				<span class="tip-inline"></span>
				<div class="areaCode_wrap areaCode_wrap2">
	              <ul>

	              </ul>
	            </div>
	            <input type="hidden" name="areaCode" id="areaCode" value="{#$internationalPhoneSection[0]['code']#}">
			</dd>
		</dl>

		<h2 class="comTit comTit2">{#$langData['education'][0][4]#}</h2>  {#*其他说明*#}
		<dl class="fn-clear">
			<dt>{#$langData['education'][0][4]#}：</dt>  {#* 其他说明 *#}
			<dd>
				<textarea class="input_area" id="note" name="note" placeholder="{#$langData['education'][5][5]#}">{#$detail_note#}</textarea>   {#*请填写补充说明(选填)*#}
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>&nbsp;</dt>
			<dd><button class="submit" type="submit" id="submit">{#if $id == 0#}{#$langData['siteConfig'][11][19]#}{#else#}{#$langData['siteConfig'][6][122]#}{#/if#}</button></dd>{#* 立即发布--提交修改 *#}
		</dl>
	</form>
</div>

<script type="text/javascript" src="{#$cfg_staticPath#}js/publicAddr.js?v={#$cfg_staticVersion#}"></script>