{#if $type =='strategy'#}
	{#$ptit = $langData['siteConfig'][51][21]#} {#* 旅游攻略 *#}
	{#$ptitt = $langData['travel'][14][81]#} {#* 我的全部攻略 *#}
	{#$oprtxt = 'operStrategy'#}
{#elseif $type =='video'#}
    {#$ptit = $langData['siteConfig'][51][20]#} {#* 旅游视频 *#}
    {#$ptitt = $langData['travel'][14][82]#} {#* 我的全部视频 *#}
    {#$oprtxt = 'operVideo'#}
{#/if#}


<ul class="main-tab">
	<li class="curr"><a href="javascript:;">{#if $id#}{#$langData['siteConfig'][6][4]#}{#else#}{#$langData['siteConfig'][11][0]#}{#/if#}{#$ptit#}</a></li>{#* 修改-发布 -- 旅游攻略 *#}
	<li><a href="{#getUrlPath service='member' type='user' template='travel' action=$type#}">{#$ptitt#}</a></li>{#* 我的全部攻略/我的全部视频 *#}
</ul>

<div class="w-form" id="travelForm">
	<form name="fabuForm" id="fabuForm" method="post" action="/include/ajax.php?service=travel&action={#$oprtxt#}&oper={#if $id#}update&id={#$id#}{#else#}add{#/if#}" data-url="{#getUrlPath service='member' type='user' template='travel' action=$type#}">

		{#include file="fabu-travel-{#$type#}.html"#}

		<dl class="fn-clear">
			<dt>&nbsp;</dt>
			<dd><button class="submit" type="submit" id="submit">{#if $id == 0#}{#$langData['siteConfig'][11][19]#}{#else#}{#$langData['siteConfig'][6][122]#}{#/if#}</button></dd>{#* 立即发布--提交修改 *#}
		</dl>
	</form>
</div>


