
<dl class="fn-clear" data-required="1">
	<dt><span>*</span>{#$langData['siteConfig'][19][0]#}：</dt>{#* 标题 *#}
	<dd>
		<input type="text" name="title" class="inp" id="title" size="60" maxlength="50" data-title="{#$langData['siteConfig'][20][40]#}" value="{#$detail_title#}" />{#* 请输入信息标题，2-50个字 *#}
		<span class="tip-inline"></span>
	</dd>
</dl>
<dl class="fn-clear" data-required="1">
	<dt><span>*</span>{#$langData['travel'][6][13]#}：</dt>{#* 攻略类型 *#}
	<dd>
		<div class="down-div">
			<div class="time-div">
				{#*请选择 *#}
                <input type="text" id="typename" class="inp" autocomplete="off" placeholder="{#$langData['siteConfig'][7][2]#}" value="{#if $detail_typeid#}{#$detail_typename#}{#/if#}" data-title="{#$langData['travel'][6][14]#}" readonly>
            </div>{#*请选择攻略类型 *#}

			<div class="time_choose fn-clear">
                <div class="pro-choose ">
                	{#loop service="travel" action="strategytype" value=1 return="type"#}
                    <p {#if $detail_typeid == $type.id#}class="curr"{#/if#}><a href="javascript:;" data-id="{#$type.id#}">{#$type.value#}</a> </p>
                    {#/loop#}
                </div>
            </div>
            <span class="caret"></span>
            <input id="typeid" name="typeid" value="{#if $detail_typeid#}{#$detail_typeid#}{#/if#}" type="hidden">
        </div>
		<span class="tip-inline"></span>
	</dd>
</dl>
<dl class="fn-clear" data-required="1">
	<dt><span>*</span>{#$langData['siteConfig'][19][19]#}：</dt>{#* 缩略图 *#}
	<dd class="thumb fn-clear listImgBox fn-hide">
		<div class="uploadinp filePicker thumbtn{#if $detail_litpic != ""#} fn-hide{#/if#}" id="filePicker1" data-type="thumb"  data-count="1" data-size="{#$thumbSize#}" data-imglist=""><div></div><span></span></div>

		{#if $detail_pics != ""#}
		<ul id="listSection1" class="listSection thumblist fn-clear" style="display:inline-block;">
			<li id="WU_FILE_0_1">
				<a href='{#$detail_pics[0].path#}' target="_blank" title=""><img alt="" src="{#changeFileSize url="{#$detail_pics[0].path#}" type="small"#}"  data-val="{#$detail_pics[0].pathSource#}"/></a>
				<a class="reupload li-rm" href="javascript:;">{#$langData['siteConfig'][19][176]#}</a>{#* 删除图片 *#}
			</li>
		</ul>
		{#else#}
		<ul id="listSection1" class="listSection thumblist fn-clear"></ul>
		{#/if#}
		<input type="hidden" name="pics" value="{#$detail_pics[0].pathSource#}" class="imglist-hidden" id="pics">
	</dd>
</dl>

<dl class="fn-clear" data-required="1">
	<dt><span>*</span>{#$langData['siteConfig'][19][1]#}：</dt>{#* 内容 *#}
	<dd>
		<script id="body" name="note" type="text/plain" style="width:750px;height:300px">{#$detail_note#}</script>
		<span class="tip-inline"></span>
	</dd>
</dl>










