
<dl class="fn-clear" data-required="1">
	<dt><span>*</span>{#$langData['siteConfig'][19][0]#}：</dt>{#* 标题 *#}
	<dd>
		<input type="text" name="title" class="inp" id="title" size="60" maxlength="50" data-title="{#$langData['siteConfig'][20][40]#}" value="{#$detail_title#}" />{#* 请输入信息标题，2-50个字 *#}
		<span class="tip-inline"></span>
	</dd>
</dl>

<dl class="fn-clear" data-required="1">
	<dt><span>*</span>{#$langData['travel'][12][48]#}：</dt>{#* 视频封面 *#}
	<dd class="thumb fn-clear listImgBox fn-hide">
		<div class="uploadinp filePicker thumbtn{#if $detail_litpic != ""#} fn-hide{#/if#}" id="filePicker1" data-type="thumb"  data-count="1" data-size="{#$thumbSize#}" data-imglist=""><div></div><span></span></div>
		{#if $detail_litpic != ""#}
		<ul id="listSection1" class="listSection thumblist fn-clear" style="display:inline-block;"><li id="WU_FILE_0_1"><a href='{#$detail_litpic#}' target="_blank" title=""><img alt="" src="{#changeFileSize url="$detail_litpic" type="small"#}" onerror="this.src='{#$detail_litpic#}'" data-val="{#$detail_litpicSource#}"/></a><a class="reupload li-rm" href="javascript:;">{#$langData['siteConfig'][19][176]#}</a></li></ul>{#* 删除图片 *#}
		{#else#}
		<ul id="listSection1" class="listSection thumblist fn-clear"></ul>
		{#/if#}
		<input type="hidden" name="litpic" value="{#$detail_litpicSource#}" class="imglist-hidden" id="pics">
	</dd>
	</dd>
</dl>
<dl class="fn-clear" data-required="1" id="box_videotype">
	<dt><span>*</span>{#$langData['siteConfig'][31][2]#}：</dt>{#* 视频类型 *#}
	<dd>
		<div class="radio">
			<span data-id="0"{#if !$detail_videotype#} class="curr"{#/if#}>&nbsp;&nbsp;&nbsp;{#$langData['siteConfig'][31][3]#}&nbsp;&nbsp;&nbsp;</span>{#* 本地 *#}
			<span data-id="1"{#if $detail_videotype == 1#} class="curr"{#/if#}>{#$langData['siteConfig'][31][4]#}</span>{#* 外站调用 *#}
			<input type="hidden" name="videotype" id="videotype" value="{#$detail_videotype|default:0#}" />
		</div>
		<span class="tip-inline"></span>
	</dd>
</dl>
<dl class="fn-clear uploadVideo fn-hide" id="video_1" {#if !$detail_videotype#} style="display: block;"{#/if#}>
	<dt><span>*</span>{#$langData['travel'][12][65]#}：</dt>{#* 旅游视频 *#}
	<dd class="listImgBox fn-clear">
		<div class="list-holder">
			<ul id="listSection3" class="fn-clear listSection">
				{#if $detail_video#}
				<li id="WU_FILE_00" class="pubitem complete">
					<video class="video-js" id="WU_FILE_00" src="/include/attachment.php?f={#$detail_video#}" data-val="{#$detail_video#}"></video>
      <div class="file-panel li-rm"><span class="cancel">{#$langData['siteConfig'][6][195]#}</span></div>{#* 删除 *#}
      <span class="player"></span>
				</li>
				{#/if#}
			</ul>
			<input type="hidden" name="video" value="{#$detail_video#}" class="imglist-hidden">
		</div>
		<div class="btn-section fn-clear">
			<div class="uploadinp filePicker" id="filePicker3" data-extensions="mp4" data-mime="video/mp4" data-type="filenail" data-type-real="video" data-count="1" data-size="{#$softSize#}" data-imglist=""><div id="flasHolder"></div><span>{#$langData['siteConfig'][6][196]#}</span><em>+</em></div>{#* 添加视频 *#}
		</div>
	</dd>
</dl>
<dl id="video_2" class="fn-clear fn-hide variable variable-2" {#if $detail_videotype == 1#} style="display: block;"{#/if#} data-required="1">
	<dt><span>*</span>{#$langData['siteConfig'][19][476]#}：</dt>{#* 视频地址 *#}
	<dd>
	    <input type="text" name="videourl" class="inp" id="videourl" size="60" maxlength="300" placeholder="{#$langData['siteConfig'][31][5]#}" value="{#if $detail_videotype == 1#}{#$detail_videoSource#}{#/if#}" data-title="{#$langData['siteConfig'][20][121]#}"/>{#* 目前仅支持第三方平台的通用代码播放 -- 请输入视频地址 *#}
	    <span class="tip-inline"></span>
	</dd>
</dl>











