<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$cfg_fenxiaoName#}</title>
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/fenxiao.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = cfg_staticPath = '{#$cfg_staticPath#}',templetSkin = '{#$templets_skin#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#};
	var cookiePre = '{#$cfg_cookiePre#}';
	var module = 'member', atpage = 1, totalCount = 0, pageSize = 10, state = '{#$state#}', type = '{#$type#}';
	var joinDate ="2015-01";
	var detailurl = '{#getUrlPath service='member' type='user' template='fenxiao_commission_detail' param="id="#}'

    var pointname = '{#$cfg_pointName#}';
</script>
</head>

<body>
{#$pageTitle = $cfg_fenxiaoName#}
{#include file="top.html"#}

<div class="wrap">
	<div class="container fn-clear">

		{#include file="sidebar.html"#}

		<div class="main">
			<div class="top">
				<span class="topBg"></span>
			    <div class="info-box fn-clear">
			        <div class="logo fn-left">
			            <img src="{#$userinfo.photo|default:'/static/images/noPhoto_100.jpg'#}" alt="">
			            {#if $fxLevelName#}<span>{#$fxLevelName#}</span>{#/if#}
			        </div>
			        <div class="info fn-left">
			            <p class="name">{#$userinfo.username#}</p>
			            <div class="fn-clear">
			            	<span class="id-box"><i></i> {#$langData['siteConfig'][35][0]#}ID：{#$from_userid|default:$langData['siteConfig'][13][20]#}</span>{#* 推荐人 / 无 *#}
			            	<div class="code-box"><a href="{#getUrlPath service="member" type="user" template="fenxiao_code"#}"><i></i><span>{#$langData['siteConfig'][54][28]#}</span></a></div> {#* 我的二维码*#}
			            </div>

			        </div>

			        <div class="px">
				    	<a href="{#getUrlPath service="member" type="user" template="fenxiao_charts"#}">
				    		<i></i>{#$langData['siteConfig'][54][30]#} {#* 佣金收入排行榜 *#}
					    </a>
					</div>
			    </div>

			    <div class="money-wrap fn-clear">
			        <div class="history fn-left">
			        	<p class="money">{#$totalAmount#}</p>
			            <p class="tit">{#$langData['siteConfig'][35][2]#}</p> {#* 历史成功佣金 *#}

			        </div>

			        <div class="cash-draw fn-right">
			        	<p class="money">{#$userinfo.money#}</p>
			            <p class="tit">{#$langData['siteConfig'][54][29]#}<a class="btn fn-right" href="{#getUrlPath service='member' type='user' template='withdraw'#}">{#$langData['siteConfig'][16][12]#}</a></p>{#* 可提现佣金 -- 提现*#}
			        </div>
			    </div>



			</div>
			<div class="nav_tab">
				<ul class="fn-clear">
					{#* 佣金明细 *#}
					<li class="active" data-type="1"><a href="javascript:;">{#$langData['siteConfig'][35][3]#}</a></li>

					{#* 我的下线 *#}
					<li data-type="2"><a href="javascript:;">{#$langData['siteConfig'][35][4]#}</a></li>
				</ul>
			</div>
			<div class="mainCon">
				<div class="yjCon hideCon show">
					<div class="comTop">
						<div class="month fn-left">
							{#* 全部时间 *#}
							<div class="monthC" data-date=""><span>{#$langData['siteConfig'][54][68]#}</span><i></i></div>
							<div class="dateWrap">
								<div class="dateTop">
									<a href="javascript:;" class="minusDate fn-left"></a>
									<h2></h2> <!-- 年份 -->
									<a href="javascript:;" class="addDate fn-right disabled"></a>
								</div>
								<div class="dateCon">
									{#* 查看全部 *#}
									<h3 class="seeAll"><a href="javascript:;">{#$langData['siteConfig'][16][3]#}</a></h3>
									<ul class="fn-clear">
										<li><a href="javascript:;" data-id="01">{#$langData['siteConfig'][14][13]#}</a></li>  {#* 一月 *#}
										<li><a href="javascript:;" data-id="02">{#$langData['siteConfig'][14][14]#}</a></li>  {#* 二月 *#}
										<li><a href="javascript:;" data-id="03">{#$langData['siteConfig'][14][15]#}</a></li>  {#* 三月 *#}
										<li><a href="javascript:;" data-id="04">{#$langData['siteConfig'][14][16]#}</a></li>  {#* 四月 *#}
										<li><a href="javascript:;" data-id="05">{#$langData['siteConfig'][14][17]#}</a></li>  {#* 五月 *#}
										<li><a href="javascript:;" data-id="06">{#$langData['siteConfig'][14][18]#}</a></li>  {#* 六月 *#}
										<li><a href="javascript:;" data-id="07">{#$langData['siteConfig'][14][19]#}</a></li>  {#* 七月 *#}
										<li><a href="javascript:;" data-id="08">{#$langData['siteConfig'][14][20]#}</a></li>  {#* 八月 *#}
										<li><a href="javascript:;" data-id="09">{#$langData['siteConfig'][14][21]#}</a></li>  {#* 九月 *#}
										<li><a href="javascript:;" data-id="10">{#$langData['siteConfig'][14][22]#}</a></li>  {#* 十月 *#}
										<li><a href="javascript:;" data-id="11">{#$langData['siteConfig'][14][23]#}</a></li>  {#* 十一月 *#}
										<li><a href="javascript:;" data-id="12">{#$langData['siteConfig'][14][24]#}</a></li>  {#* 十二月 *#}
									</ul>
								</div>
							</div>
						</div>
						<div class="monthMoney fn-right">
							{#* 当月 --  佣金*#}
							<dl><dt><span id="dy">{#$langData['siteConfig'][54][70]#}</span>{#$langData['siteConfig'][35][7]#}</dt><dd id="dyMoney"></dd></dl>
						</div>
					</div>
				</div>
				<div class="xxCon hideCon ">
					<div class="comTop fn-clear">
						<div class="searchDiv fn-left">
							<input type="text" id="serKey" placeholder="输入用户名搜索">
							<s></s>
						</div>
						<div class="fn-right">
							<div class="timeOrder fn-left" data-order="">
								{#* 按时间倒序 *#}
								<div class="moreOr"><span>{#$langData['siteConfig'][35][15]#}</span><i></i></div>
								<div class="orderChoose">
									{#* 按时间倒序 *#}
									<p data-id="">{#$langData['siteConfig'][35][15]#}</p>
									{#* 按时间正序 *#}
									<p data-id="1">{#$langData['siteConfig'][35][16]#}</p>
								</div>
							</div>
							<div class="offlineAll fn-right">共<span id="peoNum">0</span>人</div>
						</div>
						
					</div>
				</div>
			</div>
			<div class="list {#$module#}" id="list">
				<p class="loading"><img src="{#$cfg_staticPath#}images/ajax-loader.gif" />{#$langData['siteConfig'][20][184]#}...</p>
			</div>{#* 加载中，请稍候 *#}

			<div class="list"></div>
			<div class="pagination fn-clear"></div>
		</div>
	</div>
</div>
<div class="fakeMask"></div>
{#include file="footer.html"#}
<script type="text/javascript" src="{#$templets_skin#}js/fenxiao.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
