
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$cfg_fenxiaoName#}-{#$langData['siteConfig'][54][32]#}</title>{#* 佣金排行榜 *#}
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/fenxiao_charts.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = cfg_staticPath = '{#$cfg_staticPath#}',templetSkin = '{#$templets_skin#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#};
	var cookiePre = '{#$cfg_cookiePre#}';
	var uid = {#$userinfo.userid#};
</script>
</head>

<body>
{#$pageTitle = $cfg_fenxiaoName#}
{#include file="top.html"#}

<div class="wrap">
	<div class="container fn-clear">

		{#include file="sidebar.html"#}

		<div class="main">

			<div class="nav_tab">
				<ul class="fn-clear">
					 {#* 佣金排行榜 *#}
					<li class="active" data-type="1"><a href="javascript:;">{#$langData['siteConfig'][54][32]#}</a></li>
				</ul>
			</div>
			<div class="mainCon">
			    <div class="topWrap">
			        <i class="pxBg"></i>
			        {#* 最后更新时间 *#}
			        <p>{#$langData['siteConfig'][54][33]#}：<span>{#$smarty.now|date_format:"%Y.%m.%d %H:%M"#}</span></p>
			    </div>
			    <div class="scoreWrap">
			    	<span class="rankList">总排行榜</span>
				    <div class="score fn-clear">
				        {#* 我的成绩 *#}
				        <span class="myScore">{#$langData['siteConfig'][54][34]#}</span>
				        <div class="logo"><img src="{#$userinfo.photo|default:'/static/images/noPhoto_100.jpg'#}" alt=""></div>
				        <div class="userIn">{#$userinfo.username#}</div>
				        <div class="fn-right myMoney">
				        	<!-- <em>{#$langData['siteConfig'][54][35]#}</em> {#* 您暂未上榜，再接再厉哦 *#} -->
				            <em id="paiming" class="fn-hide">{#$langData['siteConfig'][54][39]|replace:'1':'<strong>0</strong>'#}</em> {#* 榜单排名第9！继续加油哦！ *#}

				            <!-- <em>{#$langData['siteConfig'][54][40]#}</em> {#* 恭喜您！荣登榜首！ *#} -->
				        	<i class="line"></i>
					        <span>
					            <strong>{#$totalAmount#}</strong>{#echoCurrency type='short'#}
					        </span>
				        </div>

				    </div>
				    <div class="chart_list bd_list">
				        <dl>
				            <dt class="table_th">
				                <div class="t_num">{#$langData['siteConfig'][54][36]#}</div>   {#* 排名 *#}
				                <div class="t_user">{#$langData['siteConfig'][54][37]#}ID</div>   {#* 用户 *#}
				                <div class="t_count">{#$langData['siteConfig'][54][38]#}({#echoCurrency type='short'#})</div>   {#* 总收入 *#}
				            </dt>
				        </dl>
				        <div class="loading"><span></span></div>
				    </div>
			    </div>


			</div>

		</div>
	</div>
</div>

{#include file="footer.html"#}
<script type="text/javascript" src="{#$templets_skin#}js/fenxiao_charts.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
