<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/manage_worker.css?v={#$cfg_staticVersion#}" media="all" />
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js?v={#$cfg_staticVersion#}"></script>
    <script type="text/javascript" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>

    <title>管理招聘信息</title>
    <script type="text/javascript">
        var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$job_channelDomain#}', staticPath = '{#$cfg_staticPath#}';
        var memberDomain = '{#$member_userDomain#}'
        var criticalPoint = 1240, criticalClass = "w1200";
        $("html").addClass($(window).width() > criticalPoint ? criticalClass : "");
    
        var hideFileUrl = {#$cfg_hideUrl#};
        var addr = {#$addr|string_format:"%d"#};
        var userid='{#$userinfo.userid#}' //勿删
        var totalBalance ='{#$userinfo.money|default:0#}';
        var type = {#if $smarty.get.type#}1{#else#}0{#/if#};
        var pgCount = {#$pgCount|default:0#};
        var qzCount = {#$qzCount|default:0#};

        if(pgCount == 0 && qzCount == 0){
            window.location.href = memberDomain + '/fabu_job_seek.html?noData=1'
        }
    </script>
</head>
<body>
    {#include file="{#$HUONIAOROOT#}/templates/siteConfig/top1.html"#}
    {#$page = $smarty.get.page#}
    <div class="pubTop w1200">
        <div class="wrap fn-clear">

            <div class="top_left fn-left">
                <div class="cfglogo fn-left"><a href="{#$job_channelDomain#}" title="{#$job_channelName#}"><img src="{#$job_logoUrl#}" alt="{#$job_channelName#}" /></a></div>
                <div class="navBox fn-left">
                    <ul>
                        <li><a href="{#getUrlPath service='job' template='index'#}">首页</a></li>
                        <li><a href="{#getUrlPath service='job' template='job-list'#}">全职</a></li>
                        <li><a href="{#getUrlPath service='job' template='general'#}">{#$job_pgCustomName#}</a></li>
                        <li><a href="{#getUrlPath service='job' template='partjob'#}">兼职</a></li>
                        <li><a href="{#getUrlPath service='job' template='school'#}">校招实习</a></li>
                        <li><a href="{#getUrlPath service='job' template='talent'#}">人才库</a></li>
                        <li><a href="{#getUrlPath service='job' template='zhaopinhui'#}">招聘会</a></li>
                        <li><a href="{#getUrlPath service='job' template='company-list'#}">招聘企业</a></li>
                        <li><a href="{#getUrlPath service='job' template='news'#}">职场资讯</a></li>
                    </ul>
                </div>
            </div>
            <div class="btn_to fn-right"><a href="{#$cfg_basehost#}/supplier/job">企业版</a></div>
        </div>
    </div>	
    <!-- 顶部搜索 -->
    <div class="topSearch">
        <!-- 顶部板内容 -->
        <div class="t-contant">
            <!-- 左侧文字 -->
            <div class="tc-left">
                <div class="tcl-title">{#$job_pgCustomName#}专区</div>
                <div class="tcl-text">快速发布招聘/求职信息，找好工作！找满意人才！</div>
                <a class="tcl-btn" target="_blank" href="{#$member_userDomain#}/fabu_job_seek.html">立即发布</a>
            </div>
            <!-- 右侧搜索 -->
            <div class="tc-right">
                <!-- 搜索 -->
                <div class="tcr-search">
                    <form class="inputs">
                        <input type="text" placeholder="搜素岗位/行业等" name="keyword" value="{#$keyword#}">
                        <input type="hidden" name="type" value="0">
                        <input type="hidden" name="page" value="1">
                        <span><img src="{#$templets_skin#}images/job/searchBl.png"></span>
                    </form>
                </div>
                <!-- 标签 -->
                <ul class="tcr-label">
                    <li class="item"><a href="{#getUrlPath service='job' template='general' param="type={#$type#}&keyword=普工"#}">普工</a></li>
                    <li class="item"><a href="{#getUrlPath service='job' template='general' param="type={#$type#}&keyword=保姆保洁"#}">保姆保洁</a></li>
                    <li class="item"><a href="{#getUrlPath service='job' template='general' param="type={#$type#}&keyword=司机货运"#}">司机货运</a></li>
                    <li class="item"><a href="{#getUrlPath service='job' template='general' param="type={#$type#}&keyword=保安"#}">保安</a></li>
                    <li class="item"><a href="{#getUrlPath service='job' template='general' param="type={#$type#}&keyword=电工"#}">电工</a></li>
                    <li class="item"><a href="{#getUrlPath service='job' template='general' param="type={#$type#}&keyword=搬运工"#}">搬运工</a></li>
                    <li class="item"><a href="{#getUrlPath service='job' template='general' param="type={#$type#}&keyword=厨师"#}">厨师</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="wrap">
        <h4 class="userinfo"><span>{#$userinfo.nickname#}</span>的发布</h4>
        <!-- 列表 -->
        <div class="d-list">
            <!-- 左侧列表 -->
            <div class="dl-left">
                <!-- tab切换 -->
                <div class="dll-tab">
                    <a {#if !$smarty.get.type#} class="active" {#/if#} href="{#if $smarty.get.type#}{#$member_userDomain#}/manage_worker.html?type=0{#else#}javascript:;{#/if#}">招聘信息</a>
                    <a {#if $smarty.get.type#} class="active" {#/if#} href="{#if !$smarty.get.type#}{#$member_userDomain#}/manage_worker.html?type=1{#else#}javascript:;{#/if#}">求职信息</a>
                </div>
                <!-- 列表内容 -->
                {#if !$smarty.get.type#}
                <ul class="dll-list">
                    {#loop service='job' action="pgList" return="listdata" page=$smarty.get.page  pageSize="10" u='1' order="2"#}
                    <li class="pgList">
                        <a href="{#if $listdata.state==1#}{#$listdata.url#}{#elseif $listdata.state==2#}{#$member_userDomain#}/fabu_job_seek.html?type=0&id={#$listdata.id#}{#else#}javascript:;{#/if#}" class="link" {#if $listdata.state==0#}style="cursor: default;"{#/if#}>
                            <div class="left">
                                <div class="title">{#$listdata.title#}</div>
                                <div class="job_info">

                                    <div class="salary"><span>{#if $listdata.min_salary==$listdata.max_salary#}{#$listdata.min_salary#}{#else#}{#$listdata.min_salary#}-{#$listdata.max_salary#}{#/if#}</span>{#if $listdata.nature==1#}元/月{#else#}元/小时{#/if#}</div>
                                    <div class="label">
                                        {#if $listdata.education_name#}<div class="active">{#$listdata.education_name#}</div>{#/if#}
                                        {#if $listdata.experience_name#}<div class="active">{#$listdata.experience_name#}经验</div>{#/if#}
                                        {#if count($listdata.welfare_name)!=0#}
                                        {#foreach from=$listdata.welfare_name item=item#}
                                        <div>{#$item#}</div>
                                        {#/foreach#}
                                        {#else#}
                                        <span>{#$listdata.description#}</span>
                                        {#/if#}
                                    </div>
                                </div>
                                <p class="fb_info">
                                    <span class="pbdate" style="{#if $listdata.state!=1#}color:#ff5039;{#/if#}">{#if $listdata.state==0#}审核中{#elseif $listdata.state==1#}{#$listdata.pubdate|date_format:"%Y-%m-%d"#}发布{#else#}审核拒绝{#/if#}</span><em>|</em><span>{#$listdata.nickname#}</span>
                                </p>
                            </div>
                        </a>
                        <div class="right">
                            <div class="btn_groups">
                                <a target="_blank" href="{#$member_userDomain#}/fabu_job_seek.html?type=0&id={#$listdata.id#}" class="edit_btn">修改</a>
                                <em>|</em>
                                <a href="javascript:;" class="del_btn">
                                    <span>删除</span>
                                    <div class="delConfirm">
                                        <h4>确定删除该信息？</h4>
                                        <div class="btns">
                                            <span class="cancel_btn">取消</span>
                                            <span class="sure_btn" data-id="{#$listdata.id#}">删除</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </li>
                    {#/loop#}
                </ul>
                {#else#}
                <ul class="dll-list">
                    {#loop action="qzList" service="job" return="listdata" page="$page" pageSize="10" u='1' orderby="2"#}
                    <li class="pgList">
                        <a href="{#if $listdata.state==1#}{#$listdata.url#}{#elseif $listdata.state==2#}{#$member_userDomain#}/fabu_job_seek.html?type=1&id={#$listdata.id#}{#else#}javascript:;{#/if#}" class="link" {#if $listdata.state==0#}style="cursor: default;"{#/if#}>
                            <div class="left">
                                <div class="title">{#$listdata.title#}</div>
                                <div class="job_info">
                                    <div class="label">
                                        {#if $listdata.education_name#}<div class="active">{#$listdata.education_name#}</div>{#/if#}
                                        {#if $listdata.age#}<div class="active">{#$listdata.age#}岁</div>{#/if#}
                                        {#if $listdata.experience_name#}<div class="active">{#$listdata.experience_name#}经验</div>{#/if#}
                                        
                                    </div>
                                </div>
                                <p class="fb_info">
                                    <span class="pbdate" style="{#if $listdata.state!=1#}color:#ff5039;{#/if#}">{#if $listdata.state==0#}审核中{#elseif $listdata.state==1#}{#$listdata.pubdate|date_format:"%Y-%m-%d"#}发布{#else#}审核拒绝{#/if#}</span><em>|</em><span>{#$listdata.nickname#}</span>
                                </p>
                            </div>
                        </a>
                        <div class="right">
                            <div class="btn_groups">
                                <a target="_blank" href="{#$member_userDomain#}/fabu_job_seek.html?type=1&id={#$listdata.id#}" class="edit_btn">修改</a>
                                <em>|</em>
                                <a href="javascript:;" class="del_btn">
                                    <span>删除</span>
                                    <div class="delConfirm">
                                        <h4>确定删除该信息？</h4>
                                        <div class="btns">
                                            <span class="cancel_btn">取消</span>
                                            <span class="sure_btn" data-id="{#$listdata.id#}">删除</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </li>
                    {#/loop#}
                </ul>
                {#/if#}
                {#if $pageInfo.totalPage==0#}
                <!-- 无数据 -->
                <div class="cl-none">
                    <img src="{#$templets_skin#}images/job/nonesearch.png">
                    <p>您还没有发布过招工/求职信息，立即发布一条吧</p>
                </div>
                {#else#}
                <div class="dll-text">已显示全部结果</div>
                {#/if#}
                <!-- 分页 -->
                {#if $pageInfo.totalPage>1#}
                <div class="dll-page">
                    {#getPageList service='member' type="user" template='manage_worker' pageType='dynamic' param="page=#page#&type={#$smarty.get.type#}"#}
                    <!-- 输入框跳转 -->
                    <div style="display: flex;align-items: center;">
                        <!-- 输入框 -->
                        <div>
                            <span>前往</span>
                            <input type="text" value="{#$smarty.get.page#}">
                            <span>页</span>
                        </div>
                        <!-- 按钮 -->
                        <div class="btn">跳转</div>
                    </div>
                </div>
                {#/if#}
            </div>
            <!-- 右侧其他 -->
            <div class="dl-right">
                {#if $smarty.get.type#}
                <a class="dlr-btn"  target="_blank" href="{#$member_userDomain#}/fabu_job_seek.html?type=1">发布求职信息</a>
                {#else#}
                <a class="dlr-btn" target="_blank" href="{#$member_userDomain#}/fabu_job_seek.html?type=0">发布招聘信息</a>
                {#/if#}
                <!-- 手机扫一扫 -->
                <div class="dlr-scan">
                    <img src="/include/qrcode.php?data={#getUrlPath service='job' template='index'#}" onerror="this.src='/static/images/404.jpg'">
                    <div>
                        <p>手机微信扫一扫</p>
                        <p>随时随地找工作</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {#include file='../siteConfig/public_foot_v3.html' module='job' theme='white'#}
</body>
<script type="text/javascript" src="{#$templets_skin#}js/manage_worker.js?v={#$cfg_staticVersion#}"></script>
<script>
    let pg='{#$pgCount#}';
    let qz='{#$qzCount#}';
    var type = '{#$smarty.get.type#}'
    if(!type && pg == 0){
        location.href = '?type=1'
    }
    if(pg==0){
        $('.dll-tab a').eq(0).hide();
    }else{
        $('.dll-text').show();
    };
    if(qz==0){
        $('.dll-tab a').eq(1).hide();
    }else{
        $('.dll-text').show();
    }
    // console.log('{#$pgCount#}-{#$qzCount#}')
</script>
</html>