
<script type="text/javascript">

	var module = '{#$module#}', atpage = 1, totalCount = 0, pageSize = 8,state = "{#$ordertype#}";
	var storeUrl = '{#getUrlPath service="marry" template="store-detail" id="%id%" #}';
</script>

<ul class="main-tab">
	<li data-id="1"><a href="{#getUrlPath service='member' type='user' template='marry' action='order' param="ordertype=1"#}">预约看店</a></li>
	<li data-id="2"><a href="{#getUrlPath service='member' type='user' template='marry' action='order' param="ordertype=2"#}">套餐咨询</a></li>

</ul>



