<script>
	var usermoney = '{#$useinfo.money#}';
</script>
<ul class="main-sub-tab" data-url="{#getUrlPath service='member' type='user' template='orderdetail' module='paimai' id="%id%"#}">
	<li data-id="" class="curr"><a href="javascript:;">{#$langData['siteConfig'][9][0]#} (<span id="total">0</span>)</a></li>{#* 全部 *#}
	<li class="fn-hide" data-id="1"><a href="javascript:;">已交保(<span id="haspaid">0</span>)</a></li>
  	<li class="fn-hide" data-id="7"><a href="javascript:;">待补款(<span id="toFa">0</span>)</a></li>
  	<li class="fn-hide" data-id="6"><a href="javascript:;">待发货(<span id="expired">0</span>)</a></li>
  	<li class="fn-hide" data-id="3"><a href="javascript:;">配送中(<span id="used">0</span>)</a></li>
  	<li class="fn-hide" data-id="4"><a href="javascript:;">已完成(<span id="hasget">0</span>)</a></li>
  	<li class="fn-hide" data-id="5"><a href="javascript:;">未获拍(<span id="refund">0</span>)</a></li>
</ul>

{#include file="{#$HUONIAOROOT#}/templates/member/public-pay-pop.html"#}