<script>
	var travelEditUrl = '{#getUrlPath service="member" type="user" template="orderdetail-travel" id="%id%"#}';
	var cancelUrl = "{#getUrlPath service='member' type='user' template='travel-canceldetail' id="%id%"#}";
	var travelcancelticketUrl = "{#getUrlPath service='member' type='user' template='travel-cancelticket' id="%id%"#}";
	var travelcancelhotelUrl = "{#getUrlPath service='member' type='user' template='travel-cancelhotel' id="%id%"#}";
	var usermoney = '{#$useinfo.money#}';
</script>


<ul class="main-sub-tab">
	{#* 全部 *#}
	<li data-id="" class="curr"><a href="javascript:;">{#$langData['siteConfig'][9][0]#} (<span id="state">0</span>)<s></s></a></li>
	<li data-id="0"><a href="javascript:;">{#$langData['travel'][5][23]#}(<span id="state0">0</span>)<s></s></a></li>{#*  未付款   *#}
	<li data-id="1"><a href="javascript:;">{#$langData['travel'][5][24]#}(<span id="state1">0</span>)<s></s></a></li>{#*  已付款   *#}
	<li data-id="8"><a href="javascript:;">{#$langData['siteConfig'][9][27]#}(<span id="state8">0</span>)<s></s></a></li>{#*  退款中   *#}
	<li data-id="9"><a href="javascript:;">{#$langData['siteConfig'][9][34]#}(<span id="state9">0</span>)<s></s></a></li>{#*  退款成功   *#}
	<li data-id="3"><a href="javascript:;">{#$langData['travel'][5][26]#}(<span id="state3">0</span>)<s></s></a></li>{#*  成功   *#}
</ul>


<table class="oh">
	<colgroup>
		<col style="width:43%;">
		<col style="width:12%;">
		<col style="width:17%;">
		<col style="width:16%;">
		<col style="width:12%;">
	</colgroup>
	<tbody>
		<tr>
			<td>{#$langData['siteConfig'][16][25]#}</td>{#* 商品 *#}
			<td>{#$langData['siteConfig'][19][324]#}</td>{#* 数量 *#}
			<td>{#$langData['siteConfig'][19][316]#}</td>{#* 实付款 *#}
			<td>{#$langData['siteConfig'][19][307]#}</td>{#* 状态 *#}
			<td>{#$langData['siteConfig'][6][11]#}</td>{#* 操作 *#}
		</tr>
	</tbody>
</table>
{#include file="{#$HUONIAOROOT#}/templates/member/public-pay-pop.html"#}

