<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/order_homemaking_common.css?v={#$cfg_staticVersion#}">

<!-- 我买的--服务码 弹窗s-->
<div class="fwMask"></div>
<div class="buycodeWrap jzComWrap">
	<div class="buycodeAlert">
		<a href="javascript:;" class="close">×</a>	
		<h2 class="sureFwAlertTit">服务码</h2>
		<div class="fwcodeCon">
			<ol></ol>
			<p>商家上门后告知对方</p>
			<p>服务码一经验证 ,预付金将不可退还</p>
			<a href="javascript:;" class="knowA">我知道了</a>
		</div>
	</div>
</div>
<!-- 我买的--服务码 弹窗e-->

<!-- 我服务的---服务码弹窗 s-->
<div class="fwcodeWrap jzComWrap">
	<div class="fwcodeAlert">
		<h2 class="sureFwAlertTit">验证服务码</h2>
	 	<a href="javascript:;" class="close">×</a>	
	 	<input type="text" name="cardnum" id="confim_sure" placeholder="{#$langData['homemaking'][3][40]#}">   {#* 请输入服务码 *#}	 	
		<div class="scodesubmit"  data-id="">
			<a href="javascript:;">{#$langData['homemaking'][3][41]#}</a>		{#* 验证服务码 *#}
		</div>
		{#* 上门后向顾客获取服务码 *#} {#* 验证成功后预付金将转入您的账户 *#}
	 	<p class="fwcodeTip">{#$langData['homemaking'][3][38]#}，{#$langData['homemaking'][3][39]#}</p>
	</div>
</div>
<!-- 我服务的---服务码弹窗 e-->

<!-- 待服务 -- 申请售后--弹窗 s-->
<div class="saleAfterWrap jzComWrap">
	<div class="saleAlert">
		<a href="javascript:;" class="close">×</a>	
		<h2 class="sureFwAlertTit">申请售后</h2>
		<div class="saleAfterCon">
			<p class="tptxt">{#$langData['homemaking'][6][17]#}</p>   {#* 本次订单商家已确认，预付金不可退 *#}
			<ul class="fn-clear">
	         	<li class="sale_cancel" data-id=""><a href="javascript:;">{#$langData['homemaking'][6][19]#}</a></li>    {#* 取消订单 *#}
	         	<li class="sale_confirm"><a href="javascript:;">{#$langData['homemaking'][6][20]#}</a></li>   {#* 继续服务 *#}
	       	</ul>
		</div>
		
	</div>
</div>
<!-- 待服务 -- 申请售后--弹窗 e-->

<!-- --维修保障卡 s-->
<div class="repairMask"></div>
<div class="repairWrap">
	<div class="repairAlert">
		<div class="repairCon">
			<a href="javascript:;" class="close">×</a>	
			{#*维修保修卡 *#}
			<h3 class="repair_title">{#$langData['homemaking'][4][22]#}</h3>
			<div class="repairGuar">服务完成后的保修期内，如此次维修服务发生了与本次服务内容完全相同、且非人为损坏的故障。 在商家上门确认后，将为你免费提供维修服务。注：检测、检修、 加氟不参保。</div>
			<div class="repairDet">
				{#*订单编号 *#}
				<p>{#$langData['homemaking'][4][27]#}：<span class="ordtime">{#$detail_ordernum#}</span></p>
				{#*保修期限 *#}
				<p>{#$langData['homemaking'][4][23]#}：<span class="baotime">2019-03-13  10:20:54</span></p>
			</div>
			<div class="repairCon3 fn-clear">
				<a href="{#getUrlPath service='homemaking' template='detail' id={#$detail_product['id']#}#}">
		          	<div class="rpleft_b"><img src="{#changeFileSize url={#$detail_product['litpic']#} type='small'#}" alt="" onerror="javascript:this.src='{#$cfg_staticPath#}images/noPhoto_100.jpg';this.onerror=this.src='{#$cfg_staticPath#}images/404.jpg';"></div>
		          	<div class="rpright_b">
		            	<p class="jz_title">{#$detail_product['title']#}</p>
		            	<p class="jz_price">{#echoCurrency type='symbol'#}{#$detail_product['price']#}</p>
	          		</div>
	        	</a>
			</div>
			<div class="repairCon4">
				<p>{#$langData['homemaking'][4][24]#}：{#echoCurrency type='symbol'#}<span class="reOprice">{#$detail_orderprice#}</span></p>  {#*后续收费 *#}
				<p>{#$langData['homemaking'][4][25]#}：{#$detail_servicedesc#}</p>  {#*备注说明 *#}

				<div class="jztotal_price"><em>{#$langData['homemaking'][4][28]#}：</em>{#echoCurrency type='symbol'#}<span>{#$detail_totalmoney#}</span></div>	  {#*合计 *#}
			</div>
			<!-- 我买的 专有 s-->
			<div class="repairCon5 fn-hide"><a href="javascript:;">联系商家保修</a></div>
			<!-- 我买的 专有 e-->
		</div>
	</div>
</div>
<!-- --维修保障卡 e-->

<!-- 我服务的 -- 无效弹窗 s-->
<div class="jznouseWrap jzComWrap">
  <div class="jznouseAlert">
  	<h2 class="sureFwAlertTit">确认无效</h2>
  	<a href="javascript:;" class="close">×</a>
    {#* 请填写订单失败原因 *#}
    <div class="nouse_note"><textarea name="failnote" id="nouse_tip" placeholder="{#$langData['homemaking'][5][24]#}"></textarea>
  </div>

 	<div class="snousesubmit"  data-id="">
		<a href="javascript:;">确认无效</a>		{#* 确认无效 *#}
	</div>
  </div>
</div>
<!-- 我服务的 -- 无效弹窗 e-->
<!-- 我服务的 -- 确认服务弹窗 s-->
<div class="fwWrap jzComWrap">
	<div class="sureFwAlert">
		<h2 class="sureFwAlertTit">确认服务收费</h2>
	 	<a href="javascript:;" class="close">×</a>	
		<div class="wrhomeCon wrhomeCon1 fn-clear">
			<p>{#$langData['homemaking'][7][1]#}：</p>		{#* 确认服务 *#}
			<div class="sfRule">
				<ul class="no_pay fn-clear">
					<li data-id="0" class="active">{#$langData['homemaking'][7][2]#}</li>		{#* 无后续收费 *#}
					<li data-id="1">{#$langData['homemaking'][7][3]#}</li>		{#* 有后续收费 *#}
				</ul>
				<ul class="need_pay fn-clear">
					<li data-id="0" class="active">{#$langData['homemaking'][7][4]#}</li>		{#* 线上收费 *#}
					<li data-id="1">{#$langData['homemaking'][7][5]#}</li>		{#* 线下收费 *#}
				</ul>
			</div>
			
		</div>
		<div class="wrhomeCon wrhomeCon2 fn-clear">
			<p>{#$langData['homemaking'][7][4]#}：</p>		{#* 线上收费 *#}
			<div class="onlinPrice">
				<div><input type="text" id="price" placeholder="{#$langData['homemaking'][7][7]#}"> <span>元</span></div>	{#* 请输入金额 *#}		
				<div><input type="text" id="demo" placeholder="{#$langData['homemaking'][7][8]#}"></div> {#* 收费备注(例：材料费) *#}
			</div>			
		</div>
		<div class="wrhomeCon wrhomeCon3 fn-clear">
			<p>{#$langData['homemaking'][7][6]#}：</p>		{#* 保修情况 *#}
			<div>
				{#* 例：在3个月保修期内，若发生了与本次服务内容完全相同、且非人为损坏的故障，商家将免费提供维修服务。 *#}
				<textarea name="guarantee" id="guarantee" placeholder="{#$langData['homemaking'][5][25]#}"></textarea>
			</div>		
		</div>
		<p class="wrhometip">{#$langData['homemaking'][7][9]#}</p>	{#* 提交后请确保顾客当面结清所有费用 *#}
		<div class="surefwsubmit"  data-id="">
			<a href="javascript:;">{#$langData['homemaking'][7][1]#}</a>		{#* 确认服务 *#}
		</div>
	</div>
</div>
<!-- 我服务的 -- 确认服务弹窗 e-->

<!-- 验收完成 s-->
<div class="jzysWrap jzComWrap">
	<div class="jzysAlert">
		<h2 class="sureFwAlertTit">验收完成</h2>
		<a href="javascript:;" class="close">×</a>
		<div><img src="/include/qrcode.php?data={#getUrlPath service='member' type='user' template='order-homemaking'#}" alt=""></div>
		<p>请前往移动端验收完成服务 </p>
	</div>
</div>
<!-- 验收完成 e-->

