<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$langData['siteConfig'][19][294]#} - {#$cfg_webname#}</title>{#* 提现记录 *#}
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/withdraw_log.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/ui/element_ui_index.css" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/vue/vue.min.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/vue/axios.min.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/element_ui_index.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#};
	var atpage = 1, totalCount = 0, pageSize = 15;
</script>
</head>

<body>
{#$pageTitle = $langData['siteConfig'][19][294]#}{#* 提现记录 *#}
{#include file="top.html"#}

<div class="wrap">
	<div class="container fn-clear">

		{#include file="sidebar.html"#}

		<div class="main" id="main">

			<ul class="main-tab">
				<li><a href="{#getUrlPath service='member' type='user' template='record'#}">{#$langData['siteConfig'][43][74]#}</a></li>{#* 我的账户 *#}
				<li><a href="{#getUrlPath service='member' type='user' template='deposit'#}">{#$langData['siteConfig'][19][292]#}</a></li>{#* 在线充值 *#}
				<li><a href="{#getUrlPath service='member' type='user' template='withdraw'#}">{#$langData['siteConfig'][19][293]#}</a></li>{#* 我要提现 *#}
				<li class="curr"><a href="{#getUrlPath service='member' type='user' template='withdraw_log'#}">{#$langData['siteConfig'][19][294]#}</a></li>{#* 提现记录 *#}
			</ul>

			<div id="app" class="contain" v-cloak>
				<div class="content fn-clear">
					<div class="filterTab fn-clear">
						<div class="left">
							<span :class="{filterCurr:filterCurrBill==1}" @click='allBill'>全部</span>
							<span :class="{filterCurr:filterCurrBill==2}" @click='checkBill'>审核中</span>
							<span :class="{filterCurr:filterCurrBill==3}" @click='succssBill'>成功</span>
							<span :class="{filterCurr:filterCurrBill==4}" @click='failBill'>失败</span>
						</div>
					</div>
					<div class="filterList fn-clear" v-loading="loading">
						<div class="billTitle">
							<div class="billDateTitle"><span>时间</span></div>
							<div class="billAccount"><span>提现账号</span></div>
							<div class="billAmount"><span>金额</span></div>
							<div class="billState"><span>状态</span></div>
							<div class="billDetail"><span>操作</span></div>
						</div>
						<div class="billData" v-for="item in billData" >
							<div class="billList fn-clear">
								<div class="billDateTitle">
									<span>{{formatYearMonth(item.tdate)}}</span>
								</div>
								<div class="billAccount">
									<span>{{formatAccount(item)}}</span>
								</div>
								<div class="billAmount">
									<span class="">{{item.amount}}</span>
								</div>
								<div class="billState">
									<span :class="{state0Color:item.state ==0,state1Color:item.state ==1,state2Color:item.state ==2}">{{formatState(item.state)}}</span>
								</div>
								<div class="billDetail">
									<a :href="item.url" target="_blank">详情</a>
								</div>
							</div>
						</div>
						<div class="noData" v-show='isNoData'>暂无数据~</div>
					</div>
					<div class="paging" v-show='isPageNoData'>
						<el-pagination
						prev-text="上一页"
						next-text="下一页"
						  layout="prev, pager, next"
						  :page-count="pageInfo.totalPage"
						pager-count="5"
						:current-page="pageInfo.page"
						@current-change="pagingChange"
						>
					</el-pagination>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

{#include file="footer.html"#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/element_ui_index.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/withdraw_log.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
