/*找工作公司概况*/
.jobCompanyName{width:100%;height:80px;background:url(../images/zph-findjob-companyname.jpg) no-repeat;color:#fff;font-size:18px;line-height:80px;text-align:center;position:relative;}
.jobCompanyName i{width:50px;height:50px;display:inline-block;background:url(../images/zph-mq.png) no-repeat;background-size:100%;position:absolute;top:2px;right:2px;}
.jobLinkNav{height:35px;background:#f5f5f5;line-height:35px;position:relative;}
.jobLinkNav::before{position:absolute;content:"";bottom:0;left:0;width:100%;height:1px;background:#e2e2e2;transform:scaleY(0.5);}
.jobLinkNav span{width:50%;display:inline-block;float:left;box-sizing:border-box;text-align:center;height:100%;}
.jobLinkNav span a{padding:0 20px;height:100%;display:inline-block;font-size:16px;color:#666;}
.jobLinkNav span.active a{color:#f03732;border-bottom:2px solid #f03732;}
.companyBox .companyMsg{background:#fff;}
.companyBox .companyMsg ul{padding:5px 10px 10px 10px;}
.companyBox .companyMsg li{padding-top:10px;color:#999;}
.companyBox .companyMsg li span{color:#333;}
.companyBox .companyMsg .comAddress{height:40px;padding:0 10px;overflow:hidden;color:#999;line-height:40px;font-size:14px;position:relative;}
.companyBox .companyMsg .comAddress::before{position:absolute;content:"";top:0;left:0;width:100%;height:1px;background:#e2e2e2;transform:scaleY(0.5);}
.companyBox .companyMsg .comAddress i{font-size:14px;vertical-align:middle;}
.companyBox .companyMsg .comAddress span{color:#999;}
.companyBox .companyDes{background:#fff;margin-top:10px;padding:0 10px;color:#333;font-size:14px;line-height:160%;}
.companyBox h2{color:#999;height:40px;line-height:40px;position:relative;padding-left:10px;}
.companyBox h2:after{content:"";position:absolute;left:0;bottom:0;width:100%;height:1px;background-color:#e5e5e5;-webkit-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:scaleY(0.5);transform:scaleY(0.5);}
.companyBox h2:before{content:"";height:16px;position:absolute;width:3px;background:#f60;left:0;top:12px;}
.companyBox .companyDes p{padding:10px 10px 0 10px;color:#333;font-size:14px;line-height:160%;display:-webkit-box;-webkit-line-clamp:5;-webkit-box-orient:vertical;overflow:hidden;word-break:break-word}
.companyBox .companyDes .showHide{font-size:16px;padding:8px 0;display:block;text-align:center;color:#999;position:relative;transform:rotate(0deg);-webkit-transform:rotate(0deg);position:relative;transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;}
.companyBox .companyDes .showHide.active{transform:rotate(180deg);-webkit-transform:rotate(180deg);position:relative;transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;}
.companyPhoto{margin-top:10px;background:#fff;border-top:1px solid #e2e2e2;border-bottom:1px solid #e2e2e2;padding:0 10px;}
.companyPhoto .pDiv .picwrap{padding:10px 0 10px;margin-bottom:0;border-bottom:none;}
.companyPhoto .photo-box .photo-box-list{overflow:hidden;}
.photo-box-list li{width:100px;height:78px;float:left;padding-right:5px;position:relative;}
.photo-box ul.photo-box-list li{margin-left:0;}
.photo-box-list li img{width:100px;height:75px;max-height:100px;}
.photo-box::-webkit-scrollbar{height:3px;}
.photo-box::-webkit-scrollbar-track{background-color:#ccc;}
.photo-box::-webkit-scrollbar-thumb{background-color:#f90;}
.companyBox .companyContact{margin-top:10px;background:#fff;padding:0 10px;}
.companyBox .companyContact .comList ul{padding:5px 10px 10px 10px;}
.companyBox .companyContact .comList li{padding-top:10px;color:#999;}
.companyBox .companyContact .comList li span{color:#333;}
.companyBox .companyContact .comList li a{vertical-align:top}
.companyBox .companyContact .comList li span.lanse{color:#09f;}

/*公司职位*/
.companyJob{padding:0 10px;background:#fff;}
.companyJob ul>div{line-height:40px!important;}
.companyJob ul li{padding:10px 0;border-bottom:1px solid #e2e2e2;}
.companyJob ul li:last-child{border:none;}
.companyJob ul li .pType{font-size:16px;}
.companyJob ul li .pNum{color:#999;margin-top:5px;display:block;}
.companyJob ul li .pMoney{color:#666;padding-top:5px;overflow:hidden;color:#f00;}
.companyJob ul li .pMoney i{float:right;color:#ccc;font-size:12px;}

/*普通企业*/
.comOriMsg{height:56px;color:#333;font-size:18px;background:#fff;line-height:56px;text-align:center;position:relative;}
.comOriMsg:after{content:" ";position:absolute;left:0;bottom:0;width:100%;height:1px;background-color:#e2e2e2;-webkit-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:scaleY(0.5);transform:scaleY(0.5);}
.companyBox .comContactOri{margin-top:10px;background:#fff;padding:0 10px;}
.comContactOri ul{padding:0 10px;}
.comContactOri ul li{padding:10px 0;position:relative;}
.comContactOri ul li:after{content:" ";position:absolute;left:0;bottom:0;width:100%;height:1px;background-color:#e5e5e5;-webkit-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:scaleY(0.5);transform:scaleY(0.5);}
.comContactOri ul li .pType{font-size:16px;}
.comContactOri ul li .pNum{color:#999;margin-top:5px;display:block;font-size:14px}
.comContactOri ul li .pMoney{color:#666;padding-top:5px;overflow:hidden;font-size:16px;color:#f00;}
.comContactOri ul li .pMoney i{float:right;color:#ccc;font-size:14px;}

/*2018-01-12lt新增申请按钮*/
.comContactOri ul li .shenqing{z-index:10;width:50px;height:26px;line-height:26px;text-align:center;display:block;color:#fff;font-size:16px;background:#f90;border-radius:5px;position:absolute;right:0;top:25px;}
.comContactOri ul li .shenqing.gray{background:#d6d6d6;}

/*企业报名*/
.companySign{background:#fff;padding:0 10px;border-bottom:1px solid #e2e2e2;}
.companySign ul li{height:50px;border-bottom:1px solid #e2e2e2;line-height:50px;font-size:16px;position:relative;display:-webkit-box;display:flex;display:-webkit-flex;}
.companySign ul li input{height:49px;border:none;color:#333;font-size:16px;-webkit-box-flex:1;-webkit-flex:1;flex:1;}
.companySign ul li span{color:#666;width:80px;display:inline-block;}
.companySign ul li select{height:49px;border:none;color:#333;font-size:16px;-webkit-box-flex:1;-webkit-flex:1;flex:1;background-color:#fff;-webkit-appearance:none;}
.companySign ul li i{position:absolute;right:0;top:0;font-size:22px;color:#d3d3d3;}
.comDesBox{padding:15px 0;}
.comDesBox p{font-size:16px;}
.comDesBox textarea{resize:none;height:150px;border:1px solid #e2e2e2;width:100%;box-sizing:border-box;padding:6px;margin-top:10px;color:#333;}
.contactSec{background:#fff;border-top:1px solid #e2e2e2;padding:0 10px;border-bottom:1px solid #e2e2e2;margin-top:10px;}
.contactSec ul li{height:50px;border-bottom:1px solid #e2e2e2;line-height:50px;font-size:16px;position:relative;display:-webkit-box;display:flex;display:-webkit-flex;}
.contactSec ul li input{height:49px;border:none;color:#333;font-size:16px;-webkit-box-flex:1;-webkit-flex:1;flex:1;}
.contactSec ul li span{color:#666;width:80px;display:inline-block;}
.contactSec ul li:last-child{border:none;}
.sqFooter{padding:20px 10px;}
.sqFooter input{height:35px;background:#f90;border-radius:5px;width:100%;border:none;box-sizing:border-box;color:#fff;display:inline-block;text-align:center;line-height:35px;font-size:18px;-webkit-appearance:none;appearance:none;}
.bmHotLine{width:43px;height:51px;display:inline-block;background:url(../images/baoming.png) no-repeat;background-size:100%;position:fixed;right:10px;bottom:300px;}

/*招聘会专题*/
.reMettingSec{background:#1d095f;color:#fff;}
.reMettingSec .reMeetType{position:relative;min-height:260px;}
.reMettingSec .reMeetType .reTit{width:100%;height:210px;background:url(../images/zph-banner.png) no-repeat;background-size:100%;}
.reMettingSec .reMeetType .reTit h2{padding:40px 10px 0 10px;text-align:center;font-size:30px;font-weight:bold;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;}
@media screen and (min-width:320px){
	.reMettingSec .reMeetType .reTit h2{padding:40px 10px 0 10px}
}
@media screen and (min-width:375px){
	.reMettingSec .reMeetType .reTit h2{padding:60px 10px 0 10px}
}
@media screen and (min-width:414px){
	.reMettingSec .reMeetType .reTit h2{padding:70px 10px 0 10px}
}
.reMettingSec .reMeetType .reList{padding:0 25px;font-size:16px;margin-top:-50px;}
.reMettingSec .reMeetType  .reList li{padding-top:10px;overflow:hidden;display:-webkit-box;display:-webkit-flex;display:flex;}
.reMettingSec .reMeetType  .reList li .left{float:left;width:80px;display:inline-block;}
.reMettingSec .reMeetType  .reList li .right{float:left;-webkit-box-flex:1;flex:1;-webkit-flex:1;text-align:left;}
.reMettingSec .reMeetNum{height:40px;background:#3f2e77;margin-top:10px;font-size:16px;color:#fff;}
.reMettingSec .reMeetNum span{margin:10px 0;width:50%;display:inline-block;float:left;box-sizing:border-box;text-align:center;border-right:2px solid #8c82ad;}
.reMettingSec .reMeetNum span:last-child{border-right:none;}
.reMettingSec .reMeetNum span i{color:#fe3c3b;}
.reMettingSec .reMeetDes{padding:20px 10px 0 10px;}
.reMettingSec .reMeetDes .desContent{color:#e5e5e5;line-height:22px;height:90px;overflow:hidden;word-break:break-word;}
.reMettingSec .reMeetDes .showHide{font-size:22px;display:block;text-align:center;color:#e5e5e5;transform:rotate(0deg);-webkit-transform:rotate(0deg);position:relative;transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;}
.reMettingSec .reMeetDes .showHide.active{transform:rotate(180deg);-webkit-transform:rotate(180deg);transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;}
.reMettingSec .reMeetComName{padding:10px;}
.reMettingSec .reMeetComName .ComcontentList{margin-top:10px;}
.reMettingSec .reMeetComName .ComcontentList:first-child{margin-top:0;}
.reMettingSec .reMeetComName .divTName{height:30px;width:100%;background:url(../images/zph-companyQy.png) no-repeat;background-size:100%;margin-bottom:10px;}

/*2018-02-02新增VIP展位*/
.reMettingSec .reMeetJob .divTName1{height:30px;width:100%;background:url(../images/zph-companyJob1.png) no-repeat;background-size:100%;margin-bottom:10px;}
.customize-banner{width:100%;max-width:100%;position:relative;}
.customize-banner img{width:100%;max-width:100%;}
.customize-banner .xicon-end{background:url(../images/xicon_end20200908.png);background-size:100% 100%;position:absolute;bottom:-40px;height:90px;width:120px;right:50px;}
.customize-top{width:100%;padding:25px 0;height:auto;position:relative;}
.customize-top .tit{width:230px;margin:0 auto 5px;font-size:20px;text-align:center;line-height:30px;font-weight:bold;color:#fff;opacity:0.8;}
.customize-top .time{font-size:14px;text-align:center;color:#fff;opacity:0.8;}
.customize-footer{width:100%;height:38px;background:rgba(0,0,0,0.7);padding:15px 0;position:fixed;bottom:0;left:0;display:flex;justify-content:center;}
.customize-footer .shouye-btn{width:38px;height:38px;border-radius:50%;background:#5dc9ff;color:#fff;text-align:center;margin-right:15px;display:flex;flex-direction:column;justify-content:center;align-items:center;}
.customize-footer .shouye-btn i{font-size:16px;}
.customize-footer .shouye-btn span{position:relative;top:-2px;left:0;font-size:12px;}
.customize-footer .lef-btn{width:130px;height:38px;line-height:38px;text-align:center;font-size:20px;color:#fff;font-weight:bold;border-radius:500px;background:linear-gradient(to right,#ff2757,#f02524);background:-webkit-linear-gradient(to right,#ff2757,#f02524);margin-right:15px;}
.customize-footer .rig-btn{width:130px;height:38px;line-height:36px;text-align:center;font-size:20px;color:#fff;font-weight:bold;border-radius:500px;background:linear-gradient(to right,#f60,#f90);background:-webkit-linear-gradient(to right,#f60,#f90);}
.customize-share{width:68px;height:68px;background:url(../images/customize-share.png);background-size:100%;display:block;position:fixed;right:10px;bottom:150px;}
.reMettingSec .reMeetComName .checkMore1{width:100px;height:25px;display:inline-block;border-radius:18px;background:#f13841;color:#fff;font-size:16px;text-align:center;}
.reMettingSec .DivMore1{margin-top:15px;text-align:center;}
.reMettingSec .DivMore1 .checkMore1{width:140px;height:35px;line-height:35px;display:inline-block;border-radius:500px;background:rgba(255,255,255,0.2);color:#fff;opacity:0.8;font-size:16px;text-align:center;}
.reMettingSec .ComcontentList .topList img{height:60px;width:100%;border-top-left-radius:4px;border-top-right-radius:4px;}
.reMettingSec .ComcontentList .topList{background:rgba(255,255,255,0.2);border-top-left-radius:4px;border-top-right-radius:4px;height:60px;color:#fff;font-size:18px;text-align:center;line-height:58px;}
.reMettingSec .ComcontentList .topList a{color:#fff;}
.reMettingSec .ComcontentList .btList{height:40px;background:#f0f0f0;border-bottom-left-radius:4px;border-bottom-right-radius:4px;line-height:40px;}
.reMettingSec .ComcontentList .btList a{width:100%;height:100%;color:#fe3c3b;font-size:16px;display:block;text-align:center;}
.reMettingSec .ComcontentList .conList{background:#fff;margin-top:-4px;}
.reMettingSec .ComcontentList .conList.close{display:none;}
.reMettingSec .ComcontentList .conList li{padding:0 10px;height:57px;line-height:57px;}
.reMettingSec .ComcontentList .conList li a{display:-webkit-box;display:-webkit-flex;display:flex;}
.reMettingSec .ComcontentList .conList li:first-child{padding-top:0;}
.reMettingSec .ComcontentList .conList li .zwLeft{-webkit-box-flex:1;flex:1;-webkit-flex:1;font-size:16px;color:#333;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-right:4px;}
.reMettingSec .ComcontentList .conList li .moneyRight{width:100px;display:inline-block;font-size:14px;color:#fe3c3b;}
.reMettingSec .reMeetComName .checkMore{width:100px;height:25px;display:inline-block;border-radius:18px;background:#f13841;color:#fff;font-size:16px;text-align:center;}
.reMettingSec .DivMore{margin-top:15px;text-align:center;}
.reMettingSec .DivMore .checkMore{width:120px;height:30px;line-height:30px;display:inline-block;border-radius:18px;background:#f13841;color:#fff;font-size:16px;text-align:center;}
.reMettingSec .reMeetJob{padding:10px;}
.reMettingSec .reMeetJob .divTName{height:30px;width:100%;background:url(../images/zph-companyJob.png) no-repeat;background-size:100%;margin-bottom:10px;}
.reMettingSec .DivMore{margin-top:15px;text-align:center;}
.reMettingSec .DivMore .checkMore{width:120px;height:30px;line-height:30px;display:inline-block;border-radius:18px;background:#f13841;color:#fff;font-size:16px;text-align:center;}
.reMettingSec .reMeetJob .jobContentList .jobList{background:#fff;border-radius:4px;margin-top:10px;}
.reMeetJob .jobContentList .jobList:first-child{margin-top:0;}
.reMettingSec .reMeetJob .jobContentList .jobList ul{padding:15px 10px;}
.reMettingSec .reMeetJob .jobContentList .jobList li{padding-top:10px;color:#666;overflow:hidden;}
.reMettingSec .reMeetJob .jobContentList .jobList li span{float:right;color:#ff3030;}
.reMettingSec .reMeetJob .jobContentList .jobList li:first-child{padding-top:0;font-size:16px;color:#333;}
.reMettingSec .reMeetJob .jobContentList .jobList li:last-child{color:#999;}
.zphFooter{height:50px;background:#09031c;text-align:center;width:100%;position:fixed;bottom:0;left:0;}
.zphFooter a{width:130px;height:38px;border-radius:18px;line-height:38px;color:#fff;font-size:16px;display:inline-block;text-align:center;margin-top:6px;}
.zphFooter .comRes{background:#f13841;}
.zphFooter .reResume{background:#ff9900;margin-left:30px;}
.newStyleI{background:#f90;color:#fff;font-size:12px;width:15px;height:15px;text-align:center;border-radius:4px;line-height:15px;vertical-align:middle;margin-right:5px;display:inline-block;}
.toshare{width:50px;height:47px;padding-top:3px;border-radius:50%;background:#e13243;position:fixed;bottom:190px;right:10px;text-align:center;color:#fff;}
.toshare i{position:relative;display:block;height:23px;line-height:28px;font-weight:bold;display:block;}
.toshare p{font-size:12px}
.hairlines .contactSec ul li,.hairlines .contactSec,.hairlines .comDesBox textarea,.hairlines .companySign ul li,.hairlines .companySign,.hairlines .comContactOri ul li,.hairlines .comContactOri,.hairlines .comOriMsg,.hairlines .companyJob ul li,.hairlines .companyBox .companyContact,.hairlines .companyPhoto,.hairlines .companyBox  h2,.hairlines .companyBox .companyDes,.hairlines .companyBox .companyMsg .comAddress,.hairlines .companyBox .companyMsg,.hairlines .jobLinkNav span.active a,.hairlines .jobLinkNav{border-width:0.5px;}

/*2018-02-01lt新增展位预览链接*/
.booth-review{background:#fff;padding:0 10px;margin-top:10px;height:40px;line-height:40px;color:#333;font-size:14px;}
.booth-review a{display:-webkit-box;display:flex;display:-webkit-flex;}
.booth-review p{-webkit-box-flex:1;-webkit-flex:1;flex:1;display:-webkit-box;overflow:hidden;white-space:inherit;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:1;}
.booth-review span{color:#09f;}
.pop-cover{width:100%;height:100%;position:fixed;top:0;left:0;background:rgba(0,0,0,0.5);z-index:999;display:none;}
.pop-box{width:230px;border-radius:10px;background:#fff;position:absolute;left:50%;top:50%;margin:-95px 0 0 -115px;}
.pop-title{height:50px;line-height:50px;font-size:16px;color:#000;font-weight:bold;text-align:center;}
.pop-body{padding:0 12px 0;max-height:300px;color:#999;overflow-y:auto;overflow-x:hidden;}
.pop-info input{display:block;width:90%;height:38px;line-height:38px;margin:0 auto 10px;padding-left:5px;border:1px solid #ccc;border-radius:5px;box-sizing:border-box;}
.pop-info input.noborder{width:100%;height:36px;line-height:36px;border:none;}
.pop-info p{height:38px;line-height:38px;font-size:14px;color:#333;position:relative;}
.pop-info p s{color:#ed4b4a;text-decoration:none;margin-left:5px;}
.pop-info p:after{content:" ";position:absolute;left:0;bottom:0;width:100%;height:1px;background-color:#f0f0f0;-webkit-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:scaleY(0.5);transform:scaleY(0.5);}
.pop-info p:first-child:before{content:" ";position:absolute;left:0;top:0;width:100%;height:1px;background-color:#f0f0f0;-webkit-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:scaleY(0.5);transform:scaleY(0.5);}
.pop-info p i.icon-nan{font-size:20px;color:#5ebaf5;margin:0 3px 0 5px;}
.pop-info p i.icon-nv{font-size:22px;color:#f56cf0;}
.pop-info p span,span.choice{float:right;width:16px;height:16px;margin-top:10px;border:1px solid #ccc;border-radius:50%;position:relative;}
.pop-info p span.on{border:1px solid #f90;background:#f90;}
.pop-info p span.on:after{content:"";width:7px;height:10px;border-right:1px solid #fff;border-bottom:1px solid #fff;-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);-webkit-transform:rotate(45deg);transform:rotate(45deg);position:absolute;top:1px;left:4px;}
.pop-info p span input{width:16px;height:16px;position:absolute;top:0;left:0;opacity:0;}
.pop-bottom{height:50px;line-height:50px;margin-top:20px;font-size:20px;text-align:center;padding:0 10px;height:45px;color:#245dff;position:relative;}
.pop-bottom:before{content:" ";position:absolute;left:0;top:0;width:100%;height:1px;background-color:#e2e2e2;-webkit-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:scaleY(0.5);transform:scaleY(0.5);}
.pop-bottom a{color:#09f;}
.pop-bottom span{display:block;line-height:45px;}
.pop-bottom div{height:45px;line-height:45px;}
.pop-bottom span:active{background:#f0f0f0}
.pop-btn{display:table;width:100%;}
.pop-btn span{display:table-cell;width:50%;position:relative;}
.pop-btn span:before{content:" ";position:absolute;right:0;top:0;width:1px;height:100%;background-color:#e2e2e2;-webkit-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:scaleX(0.5);transform:scaleX(0.5);}
.pop-btn span:last-of-type:before{content:" ";background-color:#fff;}

/*展位报名成功弹窗*/
.pop-cover1{width:100%;height:100%;position:fixed;top:0;left:0;background:rgba(0,0,0,0.5);z-index:999;}
.pop-box1{width:240px;border-radius:10px;background:#fff;position:absolute;left:50%;top:50%;margin:-120px 0 0 -120px;}
.pop-close{width:100%;height:20px;}
.pop-close span{width:12px;height:12px;background:url(../images/close.png);background-size:100%;float:right;margin:10px 10px 0 0;}
.pop-box1 .tip{font-size:18px;color:#000;text-align:center;}
.pop-box1 .child{width:70px;height:62px;display:block;background:url(../images/jianli-perfect.png);background-size:100%;margin:18px auto;}
.pop-box1 .tip2{font-size:14px;color:#666;line-height:20px;text-align:center;padding:0 15px;}
.pop-box1 .btn-box{padding:10px 15px 20px;}
.pop-box1 .btn-box a{display:inline-block;width:100px;height:28px;line-height:28px;text-align:center;border-radius:500px;background:linear-gradient(to right,#ff2757,#f02524);background:-webkit-linear-gradient(to right,#ff2757,#f02524);font-size:14px;color:#fff;box-shadow:0 1px 0 #999;}
.pop-box1 .btn-box .fabu{margin-left:10px;background:linear-gradient(to right,#f60,#f90);background:-webkit-linear-gradient(to right,#f60,#f90);}
.dialog-p-huifu{text-align:center;}

/*2018-02-02新增VIP展位*/
.reMettingSec1 .reMeetComName .divTName1{height:34px;width:100%;background:url(../images/zph-companyQy1.png) no-repeat;background-size:100%;margin-bottom:10px;}
.reMettingSec1 .reMeetComName .divTName2{height:34px;width:100%;background:url(../images/zph-companyQy2.png) no-repeat;background-size:100%;margin:10px auto;}
.reMettingSec1 .reMeetJob .divTName1{height:30px;width:100%;background:url(../images/zph-companyJob1.png) no-repeat;background-size:100%;margin-bottom:10px;}
.reMettingSec1 .reMeetComName .checkMore1{width:100px;height:25px;display:inline-block;border-radius:18px;background:#f13841;color:#fff;font-size:16px;text-align:center;}
.reMettingSec1 .DivMore1{margin-top:5.6vw;text-align:center;}
.reMettingSec1 .DivMore1 .checkMore1{width:39vw;height:9.7vw;line-height:9.7vw;display:inline-block;border-radius:49vw;background:rgba(255,255,255,0.2);color:#fff;font-size:4.2vw;text-align:center;}
.ComcontentList{background:#fff;border-radius:6px;border:2px solid #fff;position:relative;}
.reMettingSec1 .ComcontentList .topList img{display:block;height:15vw;width:100%;border-top-left-radius:4px;border-top-right-radius:4px;}
.reMettingSec1 .ComcontentList .topList{background:rgba(255,255,255,0.2);border-top-left-radius:4px;border-top-right-radius:4px;color:#fff;font-size:18px;position:relative;text-align:center;}
.reMettingSec1 .ComcontentList .topList:after{background:url(../images/xicon_zph_vip.png);background-size:cover;content:'';height:15vw;position:absolute;right:0;top:0;width:15vw;}
.reMettingSec1 .ComcontentList .topList1{overflow:hidden;padding:4vw 3.4vw 1vw;position:relative;text-overflow:ellipsis;white-space:nowrap;}
.reMettingSec1 .ComcontentList .topList1:after{background:url(../images/xicon_zph_vip.png);background-size:cover;content:'';height:15vw;position:absolute;right:0;top:0;width:15vw;}
.reMettingSec1 .ComcontentList .topList1 .img{border:1px solid #f0f0f0;border-radius:1.38vw;height:13.8vw;vertical-align:middle;width:13.8vw}
.reMettingSec1 .ComcontentList .topList1 .tit{color:#333;font-size:4.4vw;font-weight:bold;margin-left:2vw}
.reMettingSec1 .ComcontentList .topList a{color:#fff;}
.reMettingSec1 .ComcontentList .btList{height:9.8vw;background:#eee;border-bottom-left-radius:4px;border-bottom-right-radius:4px;line-height:9.8vw}
.reMettingSec1 .ComcontentList .btList a{width:100%;height:100%;color:#f33;font-size:3.3vw;display:block;text-align:center;}
.reMettingSec1 .ComcontentList .conList{background:#fff;padding:3vw 0;}
.reMettingSec1 .ComcontentList .conList.close{display:none;}
.reMettingSec1 .ComcontentList .conList li{font-size:3.3vw;padding:0 10px;height:7.5vw;line-height:7.5vw;}
.reMettingSec1 .ComcontentList .conList li a{display:-webkit-box;display:-webkit-flex;display:flex;align-items:center;}
.reMettingSec1 .ComcontentList .conList li:first-child{padding-top:0;}
.reMettingSec1 .ComcontentList .conList li .zwLeft{-webkit-box-flex:1;flex:1;-webkit-flex:1;color:#333;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-right:4px;}
.reMettingSec1 .ComcontentList .conList li .moneyRight{display:inline-block;color:#f33;}
.reMettingSec1 .reMeetComName .checkMore{width:100px;height:25px;display:inline-block;border-radius:18px;background:#f13841;color:#fff;font-size:16px;text-align:center;}
.reMettingSec1 .DivMore{margin-top:15px;text-align:center;}
.reMettingSec1 .DivMore .checkMore{width:120px;height:30px;line-height:30px;display:inline-block;border-radius:18px;background:#f13841;color:#fff;font-size:16px;text-align:center;}
.reMettingSec1 .reMeetJob{padding:10px;}
.reMettingSec1 .reMeetJob .divTName{height:30px;width:100%;background:url(../images/zph-companyJob.png) no-repeat;background-size:100%;margin-bottom:10px;}
.reMettingSec1 .DivMore{margin-top:15px;text-align:center;}
.reMettingSec1 .DivMore .checkMore{width:120px;height:30px;line-height:30px;display:inline-block;border-radius:18px;background:#f13841;color:#fff;font-size:16px;text-align:center;}

/*招聘会首页参会情况*/
.reMettingSec1{color:#fff;}
.reMeetBox{-webkit-align-items:center;align-items:center;background:rgba(255,255,255,0.2);border-radius:1.3vw;font-size:3.9vw;height:21.3vw;line-height:4.2vw;margin:4.2vw 3.2vw 0;}
.reMeetBox .item{position:relative;text-align:center;width:25%;}
.reMeetBox .item+.item:before{background:rgba(255,255,255,.2);content:'';height:6.6vw;left:0;margin-top:-3.3vw;position:absolute;transform:scaleX(.5);transform-origin:left top;top:50%;width:1px}
.reMeetBox .item .num{margin-top:2vw}
.reMeetBoxWrap{position:relative;}
.reMeetBoxWrap .endicon{position:absolute;top:9vw;right:57px;background:url(../images/xicon_end20200908.png);background-size:100% 100%;height:90px;width:120px;}
.reMeetType1{margin:5vw 3.2vw;position:relative;}
.reMeetType1 .reTit{width:100%;}
.reMeetType1 .reTit h2{text-align:center;font-size:6.1vw;font-weight:bold;line-height:8vw;}
.reMeetType1 .reList{font-size:3.9vw;margin-top:5vw}
.reMeetType1 .reList li{overflow:hidden;display:-webkit-box;display:-webkit-flex;display:flex;}
.reMeetType1 .reList li+li{margin-top:3vw}
.reMeetType1 .reList li .iconfont{font-size:3.9vw;margin-right:2.6vw}
.reMeetType1 .reList li .right{-webkit-box-flex:1;flex:1;-webkit-flex:1;text-align:left;}
.reMettingSec1 .reMeetNum1{height:40px;background:rgba(255,255,255,0.2);margin:10px 0 20px;font-size:16px;color:#fff;}
.reMettingSec1 .reMeetNum1 span{margin:10px 0;width:50%;display:inline-block;float:left;box-sizing:border-box;text-align:center;border-right:2px solid rgba(255,255,255,0.2);}
.reMettingSec1 .reMeetNum1 span:last-child{border-right:none;}
.reMettingSec1 .reMeetDes{padding:20px 10px 0 10px;}
.reMettingSec1 .reMeetDes .desContent{color:#e5e5e5;line-height:22px;height:90px;overflow:hidden;word-break:break-word;}
.reMettingSec1 .reMeetDes .showHide{font-size:22px;display:block;text-align:center;color:#e5e5e5;transform:rotate(0deg);-webkit-transform:rotate(0deg);position:relative;transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;}
.reMettingSec1 .reMeetDes .showHide.active{transform:rotate(180deg);-webkit-transform:rotate(180deg);transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;}
.comNameList .ComcontentList+.ComcontentList{margin-top:3vw;}
.customize-cen{margin:0 3.2vw;background:rgba(255,255,255,0.2);border-radius:1.3vw;}
.customize-cen .con-box{padding:5vw 3vw 4vw;color:#fff;word-break:break-all;}
.customize-cen .con-box .tit{font-size:4.4vw;text-align:center;font-weight:bold;}
.customize-cen .con{font-size:16px;line-height:24px;margin-top:10px}
.customize-cen .con img{max-width:100%;}
.customize-cen .con .on{overflow:hidden;max-height:104px;line-height:24px;}
.customize-cen .con .js-des *{color:#fff!important}
.customize-cen .con .js-des a{color:#fff!important}
.customize-cen .three_line_show{text-align:center;height:20px;line-height:25px;color:#fff;font-weight:bold;font-size:3.7vw;}
.customize-cen .three_line_show i{font-size:3.3vw;font-weight:normal;margin-left:1vw}

/*搜索*/
.zph-searchForm{margin:3vw 3.2vw 0;position:relative;}
.zph-searchForm .input{background:rgba(255,255,255,0.2);border:none;border-radius:5.5vw;box-sizing:border-box;color:#fff;height:11vw;line-height:11vw;outline:none;padding:0 10vw 0 4vw;width:100%;}
.zph-searchForm .input::-webkit-input-placeholder{color:#fff;}
.zph-searchForm .iconfont{font-size:6vw;height:100%;line-height:11vw;position:absolute;right:0;text-align:center;top:0;width:10vw}
.zph-tit1{-webkit-align-items:center;align-items:center;color:#fff;display:-webkit-flex;display:flex;font-size:4.4vw;font-weight:bold;justify-content:center;margin-top:5vw}
.zph-tit1 .i1{background:url(../images/zph_titicon_20200311.png);background-size:cover;height:20px;width:25px;}
.zph-tit1 .i2{background:url(../images/zph_titicon_20200311.png);background-position:-30px 0;background-size:cover;height:20px;width:25px;}
.zph-tit1 .text{margin:0 4vw;}
.comNameList{margin:5vw 3.2vw 0}
.com-joinBox{display:-webkit-flex;display:flex;flex-wrap:wrap;justify-content:space-between;margin:1vw 3.2vw 0;}
.com-joinBox.qy{padding-bottom:;}
.com-joinBox .item{background:#fff;border-radius:1.38vw;margin-top:4vw;position:relative;width:45.8vw}
.com-joinBox .item.vip:after{background:url(../images/xicon_zph_vip.png);background-size:cover;content:'';height:15vw;position:absolute;right:2px;top:2px;width:15vw;}
.com-joinBox .item .con{padding:5.7vw 3.5vw 3vw;}
.com-joinBox .item .img{border:1px solid #f0f0f0;border-radius:1.38vw;display:block;height:13.8vw;margin:0 auto;width:13.8vw;}
.com-joinBox .item .tit{color:#333;font-size:3.9vw;font-weight:bold;height:9.6vw;line-height:4.8vw;margin-top:2.5vw;text-align:center;display:-webkit-box;overflow:hidden;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:2;}
.com-joinBox .item .listBox{height:20.1vw;margin-top:2vw;overflow:hidden;}
.com-joinBox .item .list{color:#333;font-size:3.3vw;height:6.7vw;line-height:6.7vw;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.com-joinBox .btList{height:9.8vw;background:#eee;border-bottom-left-radius:4px;border-bottom-right-radius:4px;line-height:9.8vw}
.com-joinBox .btList a{width:100%;height:100%;color:#f33;font-size:3.3vw;display:block;text-align:center;}
.jobContentList{margin:5vw 3.2vw 0;}
.jobContentList .jobList{background:#fff;border-radius:4px;}
.jobContentList .jobList+.jobList{margin-top:3vw}
.jobContentList .jobList ul{padding:4vw 3.5vw;}
.jobContentList .jobList .tit{display:-webkit-box;overflow:hidden;font-size:3.8vw;font-weight:bold;color:#333;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:2;}
.jobContentList .jobList li{color:#666;font-size:3.3vw;overflow:hidden;}
.jobContentList .jobList li span{float:right;color:#f33;font-size:3.9vw;}
.jobContentList .jobList .type{padding-top:2.4vw;}
.jobContentList .jobList .date{color:#999;padding-top:2.4vw;}
/* .bmHotLine1{width:43px;height:48px;display:inline-block;background:url(https://img.pccoo.cn/wap/webapp/images/baoming.jpg) no-repeat;background-size:100%;position:fixed;right:10px;top:300px;}
.zph-hb-btn{box-shadow:0 0 5px rgba(101,38,217,0.52);width:50px;height:50px;border-radius:50%;background:url(https://img.pccoo.cn/wap/webapp/images/zph_hb_btn.png);background-size:cover;position:fixed;bottom:130px;right:10px;text-indent:-9999px;z-index:2} */
.zph-hb-btn.type2{bottom:192px;background-image:url(../images/zph-zb.png);}
.zph-hb-btn.type3{bottom:192px;background-image:url(../images/zph-qz.png);}
.zph-hb-btn.type2+.zph-hb-btn.type3{bottom:254px;}
.zph-holder{height:68px}
.zph-zp-searchBox{margin:0 3.2vw;padding-top:4vw;position:relative;}
.zph-zp-searchBox .input{border:none;border-radius:5.5vw;box-sizing:border-box;height:11vw;line-height:11vw;outline:none;padding:0 10vw 0 4vw;width:100%;}
.zph-zp-searchBox .iconfont{font-size:6vw;height:11vw;line-height:11vw;position:absolute;right:0;text-align:center;bottom:0;width:10vw}

/*招聘会iframe视频*/
.jobiframe-wrap{width:100%;height:46vw;}
.jobiframe-box{width:100%;}
.jobiframe-box.on{position:fixed;left:0;top:0;right:0;z-index:9;}
.jobiframe-box iframe{width:100%;height:46vw;border:none;}

/*加群弹窗*/
.zp-qunDia{background:#fff;-webkit-border-radius:6px;border-radius:6px;padding:24px 10px;position:relative;width:160px;}
.zp-qunDia .imgBox{height:130px;margin:0 auto;width:130px}
.zp-qunDia .imgBox .img{display:block;height:100%;-webkit-object-fit:cover;object-fit:cover;width:100%}
.zp-qunDia .info{color:#333;font-size:14px;margin-top:10px;overflow:hidden;text-align:center;text-overflow:ellipsis;white-space:nowrap;}
.zp-qunDia .closeBtn{color:#999;height:24px;line-height:24px;position:absolute;right:0;top:0;text-align:center;width:24px}
.zp-qunDia .closeBtn .iconfont{font-size:12px}

/*全职招聘列表*/
.selboxwrap+.jobContentList{margin-top:0}
.new_search{padding:8px 12px;position:relative;}
.new_search input{height:35px;width:100%;border:none;border-radius:40px;padding:0 10px;box-sizing:border-box;font-size:14px;}
.new_search i{position:absolute;right:15px;top:10px;width:30px;height:35px;text-align:center;line-height:35px;color:#999;}
.selboxwrap{height:40px;position:relative}
#selctebox2{width:100%;height:18px;display:table;padding:11px 0;position:absolute;left:0;top:0;z-index:30;}
#selctebox2 li{height:18px;line-height:18px;cursor:pointer;display:table-cell;position:relative;font-size:14px;color:#fff;vertical-align:middle;text-align:center;}
#selctebox2 li:before{content:" ";position:absolute;right:0;top:50%;width:1px;height:12px;margin-top:-6px;background:rgba(255,255,255,.5);-webkit-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:scaleX(0.5);transform:scaleX(0.5);}
#selctebox2 li:last-child:before{content:" ";background:none;}
#selctebox2 li i{width:0;height:0;border-top:6px solid #fff;border-right:5px solid transparent;border-left:5px solid transparent;position:relative;transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;display:inline-block;vertical-align:middle;}
#selctebox2 span{display:inline-block;padding:0 10px;text-align:center;}
#selctebox2 li.open i{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);transform:rotate(180deg);border-top:7px solid #f30}
.gb_showption #opadiv{top:138px;}
.gb_showption #seleoption{top:141px;}
.gb_showption #seleoption.appon{top:95px!important;}
#contact_info{bottom:0;padding:0;}
#contact_info ul{font-size:12px;display:-webkit-flex;height:50px;}
#contact_info ul a{color:#999;}
#contact_info ul li.sqzw{flex:1;text-align:center;}
#contact_info ul li.gdkd{width:90px;text-align:center;}
#contact_info ul li.gdkd i{display:block;color:#df2f30;font-size:24px;line-height:30px;margin-top:3px;}
#contact_info ul li.gdkd:first-child{border-right:1px solid #e2e2e2;}
#contact_info ul li.sqzw{background:#df2f30;line-height:50px;}
#contact_info ul li.sqzw.on{background:#ccc}
#contact_info ul li.sqzw span{color:#fff;font-size:16px;}
#contact_info ul li.sqzw i{color:#fff;font-size:14px}
#opadiv{background:#333;position:absolute;width:100%;height:100%;left:0;top:83px;opacity:0.5;z-index:10;display:none}
#seleoption{position:absolute;top:86px;left:0;width:100%;background:#fff;z-index:20;overflow:hidden;display:none;-webkit-transition:top 0.5s ease-in-out}
#seleoption .morediv{padding:0 10px;}
#seleoption .checkbox p{margin:0 10px;}
#seleoption .radiobox p{margin:0 10px;}
#seleoption a{display:block;height:40px;line-height:40px;padding-left:10px;color:#666;margin:0 10px;position:relative;}
#seleoption a::after{position:absolute;content:"";bottom:0;left:0;width:100%;height:1px;background:#e2e2e2;transform:scaleY(0.5);}
#seleoption dl{color:#666;}
#seleoption dt{height:40px;line-height:40px;position:relative;text-indent:10px;margin:0 10px;}
#seleoption dt:after{content:'';position:absolute;bottom:0;left:0;width:100%;height:1px;border-bottom:1px solid #e2e2e2;-webkit-transform:scaleY(0.5);transform:scaleY(0.5);}
#seleoption dd{position:absolute;width:50%;min-height:100%;right:0;top:0;background:#fff;border-left:1px solid #e2e2e2;z-index:9;display:none}
#seleoption dl.cur dt{height:40px;line-height:40px;z-index:10;background:#fff;width:calc(50% - 10px);border-bottom:none;margin:0;padding-left:10px;}
#seleoption dl.cur dd{display:block}
#seleoption a.cur{color:#f30;}
#seleoption a.cur span{float:right;width:20px;height:20px;border:1px solid #df2f30;border-radius:100%;margin:9px 10px 0 0;position:relative;box-shadow:0 0 1px #df2f30 inset;background:#df2f30;}
#seleoption a.cur span::after{content:"";position:absolute;left:7px;top:2px;width:5px;height:11px;border-right:2px solid #fff;border-bottom:2px solid #fff;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-moz-transform:rotate(45deg);transform:rotate(45deg);}
#seleoption ul{margin-bottom:100px;}
#seleoption ul li{width:auto;height:38px;line-height:38px;padding:0 30px 0 10px;color:#666;position:relative;}
#seleoption ul li:before{content:'';position:absolute;bottom:0;left:0;width:100%;height:1px;border-bottom:1px solid #e2e2e2;-webkit-transform:scaleY(0.5);transform:scaleY(0.5);}
#seleoption ul li::after{content:"";width:10px;height:10px;position:absolute;border-top:1px solid #a9a9a9;border-right:1px solid #a9a9a9;-webkit-transform:rotate(45deg);transform:rotate(45deg);right:10px;top:13px}
#seleoption ul li span{float:right;color:#999;font-size:14px;width:50%;overflow:hidden;height:38px;text-align:right;text-overflow:ellipsis;white-space:nowrap}
#seleoption .button{height:35px;background:#df2f30;border:none;color:#fff;margin:0 auto;display:block;border-radius:5px;margin-bottom:20px;-webkit-appearance:none;width:94%;}
.nothavemore{color:#999;font-size:12px;text-align:center;height:40px;line-height:40px;}
.stor_page{color:#999;margin:8px 12px;height:38px;line-height:38px;text-align:center;font-size:14px;}
#seleoption .back{height:35px;background:#f6f6f6;border:1px solid #e2e2e2;color:#666;width:128px;border-radius:5px}
#seleoption p{height:38px;line-height:38px;padding-left:10px;color:#666;position:relative;display:block;}
#seleoption p:after{content:'';position:absolute;bottom:0;left:0;width:100%;height:1px;border-bottom:1px solid #e2e2e2;-webkit-transform:scaleY(0.5);transform:scaleY(0.5);}
#seleoption p i{padding:0;width:20px;height:20px;background:#fff;border:1px solid #cdcdcd;display:inline-block;border-radius:3px;position:relative;float:right;margin:10px 10px 0 0}
#seleoption p i.check{border:1px solid #df2f30;box-shadow:0 0 1px #df2f30 inset;background:#df2f30;}
#seleoption p i.check::after{content:"";position:absolute;width:5px;height:11px;border-right:2px solid #fff;border-bottom:2px solid #fff;-webkit-transform:rotate(45deg);left:7px;top:2px;}
#seleoption p input{display:none}
#seleoption .radiobox p i{border-radius:100%;}
#seleoption .btn{padding:20px 10px 0}
.top_tipBox{width:100%;height:50px;background:rgba(0,0,0,0.7);position:fixed;top:0;left:0;color:#fff;font-size:16px;line-height:50px;text-align:center;z-index:10000;}

/*海报页*/
.zph_hbBox{background-size:cover;padding-top:177.77%;position:relative;}
.zph_hbBox .siteBox{background:#fff;border-radius:4.6vw;color:#333;font-size:3.9vw;height:10vw;left:4.5vw;line-height:10vw;padding:0 4vw;position:absolute;top:8.4vw;}
.zph_hbBox .siteBox .img{height:7vw;vertical-align:middle;}
.zph_hbBox .site-info{bottom:0;color:#fff;font-size:3.3vw;height:12vw;line-height:12vw;left:0;position:absolute;text-align:center;width:100%}
.zph_hbBox .con{background:#fff;border-radius:5.5vw;bottom:12vw;left:4.5vw;padding:6.5vw 5vw;position:absolute;right:4.5vw;}
.zph_hbBox .con .tit{color:#333;font-size:4.8vw;font-weight:bold;max-height:14vw;line-height:7vw;overflow:hidden;color:#333;text-align:left;letter-spacing:1px}
.zph_hbBox .con .infoBox{color:#333;font-size:3.3vw;margin-top:7vw}
.zph_hbBox .con .infoBox .item{-webkit-align-items:flex-start;align-items:flex-start;display:-webkit-flex;display:flex;}
.zph_hbBox .con .infoBox .item+.item{margin-top:3vw}
.zph_hbBox .con .infoBox .item .name{flex-shrink:0}
.zph_hbBox .con .maBox{-webkit-align-items:center;align-items:center;display:-webkit-flex;display:flex;-webkit-justify-content:space-between;justify-content:space-between;margin-top:4vw;padding-right:2vw}
.zph_hbBox .con .maBox .btn{-webkit-align-items:center;align-items:center;display:-webkit-flex;display:flex;background:#f8552f;border-radius:3.7vw;color:#fff;font-size:2.8vw;height:7.4vw;line-height:7.4vw;padding:0 3vw;}
.zph_hbBox .con .maBox .xicon{background:#fff;border-radius:50%;color:#f8552f;display:inline-block;height:16px;line-height:16px;margin-left:5px;text-align:center;vertical-align:1px;width:16px;}
.zph_hbBox .con .maBox .xicon .iconfont{font-size:12px}
.zph_hbBox .con .maBox .imgBox{height:17vw;width:17vw}
.zph_hbBox .con .maBox .imgBox .img{display:block;height:100%;width:100%}

/*无数据*/
.fxNodata{text-align:center;padding-top:100px;}
/* .fxNodata i{width:120px;height:113px;display:block;background:url(https://img.pccoo.cn/wap/webapp/images/fc-nodata.png) no-repeat;background-size:100%;margin:0 auto 15px auto;} */
.fxNodata p{color:#fff;}

/*2021-04-13招聘会*/
.zph-shbox{position:relative;border-radius:2px;color:#fff;background:rgba(0,0,0,0.8);border-radius:2px;position:fixed;bottom:78px;left:12px;right:12px;z-index:999;padding:12px 15px;}
.zph-shbox .label{display:inline-block;padding:0 5px;height:16px;line-height:15px;font-size:10px;color:#f90;margin-left:10px;box-sizing:border-box;border:1px solid #f90;vertical-align:middle;}
.zph-shbox .label.green{background:#20C871;color:#fff;border:none;line-height:16px;}
.zph-shbox .titbox{font-size:13px;color:#fff;}
.zph-shbox .txtbox{font-size:10px;color:rgba(255,255,255,0.6);margin-top:10px;line-height:20px;}
.zph-shbox .close{width:13px;height:12px;background:url(../images/zph-close.png);background-size:contain;display:inline-block;cursor:pointer;position:absolute;right:10px;top:10px;}
.zph-shbox .close:after{content:'';position:absolute;right: -8px;top: -8px;width:30px;height:30px;}
.reMeetBox.type2{text-align:center;padding:36px 0 32px;height:auto;}
.reMeetBox.type2 .tit{font-size:15px;color:#fff;}
.reMeetBox.type2 .tit b{font-weight:bold;}
.reMeetBox.type2 .tit i{display:inline-block;width:15px;height:22px;line-height:22px;text-align:center;margin:0 1px;background:url('../images/zph-djs.png');background-size:contain;}
.reMeetBox.type2 .btn{display:inline-block;width:104px;height:31px;line-height:30px;margin-top:15px;background:linear-gradient(0deg,#C2D6F6 0%,#FFFFFF 100%);border:1px solid #FFFFFF;box-shadow:0px 1px 5px 0px rgba(0,50,133,0.5);border-radius:16px;font-size:14px;color:#3677E3;box-sizing:border-box;}
.reMeetBox.type2 .btn.off{border:1px solid #fff;color:#fff;background:none;opacity:0.6;box-shadow:unset;}
.customize-cen .con-box.type2{padding:3vw;}
.customize-cen .con-box .com-label{margin:0 25px 0 0;line-height:25px;font-size:13px;}
.zph-tit-tip{font-size:10px;text-align:center;margin:5px 0 10px;}
.zphsh-list{position:relative;padding:0 12px;height:56px;line-height:56px;font-size:13px;color:#333;align-items:center;}
.zphsh-list:after{content:'';background:#e6e6e6;bottom:0;height:1px;left:0;position:absolute;-webkit-transform:scaleY(.5);transform:scaleY(.5);-webkit-transform-origin:left bottom;transform-origin:left bottom;width:100%}
.zphsh-list i{font-size:16px;color:#f33;font-weight:bold;margin:0 5px;}
.zphsh-list select{position:relative;width:94px;height:35px;line-height:35px;padding:0 15px;box-sizing:border-box;background:#fff;border:1px solid #ccc;border-radius:4px;}
.zphsh-list .selbox{position:relative;}
.zphsh-list .selbox:after{content:'';width:0;height:0;border-left:2px solid transparent;border-right:2px solid transparent;border-top:3px solid #666;position:absolute;right:15px;top:50%;}
.zphsh-ulbox ul{padding:0 12px;}
.zphsh-ulbox li{padding:15px 0;position:relative;}
.zphsh-ulbox li:after{content:'';background:#e6e6e6;bottom:0;height:1px;left:0;position:absolute;-webkit-transform:scaleY(.5);transform:scaleY(.5);-webkit-transform-origin:left bottom;transform-origin:left bottom;width:100%}
.zphsh-ulbox .p1{font-size:15px;color:#333;line-height:22px;}
.zphsh-ulbox .label{display:inline-block;padding:0 6px;height:17px;line-height:17px;background:#FF0020;border-radius:2px;margin-right:10px;font-size:10px;color:#fff;vertical-align:1px;}
.zphsh-ulbox .label.orange{background:#f90;}
.zphsh-ulbox .label.grey{background:#ccc;}
.zphsh-ulbox .p2{font-size:13px;color:#666;margin-top:10px;}
.zphsh-ulbox .p3{font-size:10px;color:#999;margin-top:10px;}
.zphsh-ulbox .p3 i{font-size:12px;margin-right:6px;color:#666;}
.x-noData{padding:30px 0;text-align:center}
/* .x-noData .xicon{background:url(https://img.pccoo.cn/wap/webapp/images/nodata20200527.png);background-size:cover;display:block;height:118px;margin:0 auto;width:158px} */
.x-noData .info{color:#999;font-size:14px;line-height:30px;margin-top:15px}