@charset "utf-8";

/* CSS Document */
html *{-webkit-text-size-adjust: none;}
*{margin:0;padding:0;outline:none;}
body,html{width:100%;height:100%;-webkit-tap-highlight-color:transparent;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
body{font-family:'Microsoft Yahei','微软雅黑',Arial,Helvetica,sans-serif;font-size:14px;color:#666;background:#F0F0F0;-webkit-text-size-adjust:none;min-width:310px;}
img{border:0;}
ul,li{list-style-type:none;}
a{color:#333;text-decoration:none;-webkit-touch-callout:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
button,input,select,textarea{font-size:14px;font-family:'Microsoft Yahei','Simsun','微软雅黑';vertical-align:middle;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-appearance:none;}
header,footer,article,section,nav,menu,hgroup,time{display:block;clear:both;}
input[type=search]::-webkit-search-cancel-button{-webkit-appearance:none;}
input::placeholder{color:#999;}
input{-webkit-appearance:none;}
h1,h2,h3,h4,h5,h6{font-size:16px;font-weight:400;}
i,em{font-style:normal;}
b{font-weight:400;}
div,span{cursor:pointer;}
span.backtop{display:none;position:fixed;bottom:70px;right:10px;width:48px;height:48px;border-radius:50%;padding-top:10px;box-sizing:border-box;font-size:12px;color:#fff;text-align:center;background:rgba(0,0,0,.5);z-index:990}
span.backtop.flindex{bottom:125px;}
span.backtop img{display:block;width:18px;margin:0 auto;}

.top_tipBox{width:100%;height:50px;background:rgba(0,0,0,0.7);position:fixed;top:0;left:0;color:#fff;font-size:16px;line-height:50px;text-align:center;z-index:10000;}
/*海报页*/
.zph_hbBox{background-size:cover;padding-top:177.77%;position:relative;}
.zph_hbBox .siteBox{background:#fff;border-radius:4.6vw;color:#333;font-size:3.9vw;height:10vw;left:4.5vw;line-height:10vw;padding:0 4vw;position:absolute;top:8.4vw;}
.zph_hbBox .siteBox .img{height:7vw;vertical-align:middle;}
.zph_hbBox .site-info{bottom:0;color:#fff;font-size:3.3vw;height:12vw;line-height:12vw;left:0;position:absolute;text-align:center;width:100%}
.zph_hbBox .con{background:#fff;border-radius:5.5vw;bottom:12vw;left:4.5vw;padding:6.5vw 5vw;position:absolute;right:4.5vw;}
.zph_hbBox .con .tit{color:#333;font-size:4.8vw;font-weight:bold;max-height:14vw;line-height:7vw;overflow:hidden;color:#333;text-align:left;letter-spacing:1px}
.zph_hbBox .con .infoBox{color:#333;font-size:3.3vw;margin-top:7vw}
.zph_hbBox .con .infoBox .item{-webkit-align-items:flex-start;align-items:flex-start;display:-webkit-flex;display:flex;}
.zph_hbBox .con .infoBox .item+.item{margin-top:3vw}
.zph_hbBox .con .infoBox .item .name{flex-shrink:0}
.zph_hbBox .con .maBox{-webkit-align-items:center;align-items:center;display:-webkit-flex;display:flex;-webkit-justify-content:space-between;justify-content:space-between;margin-top:4vw;padding-right:2vw}
.zph_hbBox .con .maBox .btn{-webkit-align-items:center;align-items:center;display:-webkit-flex;display:flex;background:#f8552f;border-radius:3.7vw;color:#fff;font-size:2.8vw;height:7.4vw;line-height:7.4vw;padding:0 3vw;}
.zph_hbBox .con .maBox .xicon{background:#fff;border-radius:50%;color:#f8552f;display:inline-block;height:16px;line-height:16px;margin-left:5px;text-align:center;vertical-align:1px;width:16px;}
.zph_hbBox .con .maBox .xicon .iconfont{font-size:12px}
.zph_hbBox .con .maBox .imgBox{height:17vw;width:17vw}
.zph_hbBox .con .maBox .imgBox .img{display:block;height:100%;width:100%}

.fn-hide{display: none !important;}
         .mask_load.opacity{background-color: rgba(255,255,255,.5); }
        .mask_load{position: fixed; left: 0; right: 0; top: 0; bottom: 0; z-index: 1; background-color: #fff; display: flex; align-items: center; justify-content: center; flex-direction: column;}
        .mask_load .rotate_icon{width: 10vw; height: 10vw; background-color: rgba(0,0,0,.8); border-radius: 10px;}
        .mask_load .rotate_icon::before{content: ''; display: block; width: 10vw; height: 10vw; background: url(/templates/member/touch/images/login/loading.png) no-repeat center center/6vw;  animation: rotate_ infinite 1s linear;}
        .mask_load .load_text{font-size: 3.6vw; color: #333; margin-top: 2vw;}
        @keyframes rotate_ {
            0% {
                transform: rotate(0deg);
            }

            50% {
                transform: rotate(180deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }