<?xml version="1.0" encoding="utf-8"?>
<root>
	<Data>
		<tplname><![CDATA[vue-模板一]]></tplname>
		<copyright><![CDATA[火鸟门户]]></copyright>
		<router>1</router>
		<beforeEach>YmVmb3JlRWFjaCgodG8sZnJvbSxuZXh0KT0+e2xldCBuZXdQYXRoPScnO2xldCBwYXJhbXM9bG9jYXRpb24uc2VhcmNoLnJlcGxhY2UoJz8nLCcmJyk7bGV0IGFjY2Vzcz1bJy9tYW5hZ2UnLCcvb3JkZXInXTtmb3IobGV0IGk9MDtpPGFjY2Vzcy5sZW5ndGg7aSsrKXtsZXQgaXRlbT1hY2Nlc3NbaV07aWYodG8ucGF0aD09aXRlbSl7bmV4dCgpO2JyZWFrfWVsc2UgaWYodG8ucGF0aC5pbmRleE9mKGAke2l0ZW19LWApPi0xKXtsZXQgcnVsZT1uZXcgUmVnRXhwKGAke2l0ZW19LShbXFxzXFxTXSopYCk7bGV0IG1vbGQ9dG8ucGF0aC5zcGxpdCgnLicpWzBdLm1hdGNoKHJ1bGUpWzFdO25ld1BhdGg9YCR7aXRlbX0ke3BhcmFtc30mbW9sZD0ke21vbGR9JmNvZGU9MSZtb2Q9JHttb2xkfWAucmVwbGFjZSgnJicsJz8nKTticmVha31lbHNlIGlmKHRvLnBhdGguaW5kZXhPZihgJHtpdGVtfS5odG1sYCk+LTEpe25ld1BhdGg9YCR7aXRlbX0ke3BhcmFtc31gLnJlcGxhY2UoJyYnLCc/Jyk7YnJlYWt9fWlmKG5ld1BhdGg9PScnKXtuZXh0KCl9ZWxzZXtuZXh0KG5ld1BhdGgpfX0p</beforeEach>
	</Data>
</root>
