<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>租房对比</title>
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}"
        media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}"
        media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/zu-compare.css?v={#$cfg_staticVersion#}">
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
    <script>
        var templets_skin = '{#$templets_skin#}';
        var cfg_staticVersion = '{#$cfg_staticVersion#}';
        var symbolShort = `{#echoCurrency type='short'#}`; //金钱单位
        var symbolArea = `{#echoCurrency type='areasymbol'#}`; //面积单位
        let url = location.search;
        let params = new URLSearchParams(url.slice(1));
        var pageId = params.get('id');
    </script>
</head>

<body class="w1200">
    {#include file="../../siteConfig/top1.html"#}
    {#include file="top.html"#}
    <div class="wrap crumb fn-clear">
        <div class="cl">
            <a href="{#$house_channelDomain#}" target="_blank">网站首页</a> > <a
                href="{#getUrlPath service='house' template='sale'#}" target="_blank">出租房</a> > <a
                href="javascript:;">房源对比</a>
        </div>
    </div>
    <div class="Shell">
        <div class="infoTable">
            <table class="i-compare">
                <tbody>
                    <!-- 房源信息 -->
                    <tr class="ic-line" id="detailsInfo" data-skip="1">
                        <td class="title" colspan="5">房源信息</td>
                    </tr>
                    <!-- 房源名称 -->
                    <tr class="ic-name">
                        <td class="title">房源名称</td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"> </td>
                    </tr>
                    <tr class="ic-info houseTypes">
                        <td class="title">户型</td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                    </tr>
                    <tr class="ic-info areas">
                        <td class="title">面积</td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                    </tr>
                    <tr class="ic-info rent">
                        <td class="title">租金</td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                    </tr>
                    <tr class="ic-info paytypes">
                        <td class="title">付款方式</td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                    </tr>
                    <tr class="ic-info leases">
                        <td class="title">租赁方式</td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                    </tr>
                    <tr class="ic-info decorations">
                        <td class="title">装修</td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                    </tr>
                    <tr class="ic-info directions">
                        <td class="title">朝向</td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                    </tr>
                    <tr class="ic-info floors">
                        <td class="title">楼层</td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                    </tr>
                    <tr class="ic-info matchs">
                        <td class="title">房源配套</td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                        <td class="item"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="warnPop">弹窗提醒</div>
    </div>
    {#include file="footer.html"#}
    <script type="text/javascript" src="{#$templets_skin#}js/zu-compare.js?v={#$cfg_staticVersion#}"></script>
</body>

</html>