body,html{background-color: #FCF1E3;}
.bannerBox {position: relative;}
.bannerBox img{display: block; width: 100%;}
.bannerBox .butie_box{position: absolute;}
.bannerBox p{position: absolute; left: 0; right: 0; bottom: .9rem; text-align: center; color: #FCF1E3; font-size: .24rem;}
.bannerBox p span{font-weight: bold;font-size: .26rem;}
.bannerBox .butie_box{position: absolute; left: .72rem; right: .72rem; bottom: 1.96rem; display: flex; align-items: center; }
.btgz{font-size: .22rem; color: #A75136; display: block; position: absolute; top: 0; right: .1rem; width: 1.16rem; line-height: .4rem; border-radius: .2rem; background-color: #F8D9D0; text-align: center;}
.bannerBox .butie_box .butie_hb,
.bannerBox .butie_box .butie_lp{width: 50%; box-sizing: border-box; padding-left: .25rem;}
.bannerBox .butie_box .butie_hb{border-right: dashed .02rem rgba(247, 117, 100, .3);}
.bannerBox .butie_box h6{color: #663D14; font-size: .28rem; font-weight: bold; margin-bottom: .1rem;}
.bannerBox .butie_box h3{font-size: .34rem; color: #EF4C37; font-weight: bold; display: flex; align-items: center;}
.bannerBox .butie_box h3 span{font-size: .64rem;}

/* 列表 */
.proListBox{background-color: #FCF1E3; border-radius: .3rem .3rem 0 0;  box-shadow: 0px -.11rem .31rem 0 rgba(241, 141, 146, 0.53); min-height: 5rem; margin-top: -.75rem; position: relative;}

.proListBox .tab_box{overflow: auto; padding-left:;}
.proListBox .tab_ul {white-space: nowrap; margin-left: .34rem;}
.proListBox .tab_ul li{display: inline-block; color: #663D14; font-size: .24rem; line-height: 1.18rem; margin-right: .4rem;}
.proListBox .tab_ul li.curr{font-weight: bold; font-size: .34rem; position: relative;}
::-webkit-scrollbar{display: none;}
.proListBox .tab_ul li.curr::after{display: block; width: .5rem; height: .1rem; border-radius: .05rem; background: linear-gradient(90deg, #FF5D28 0%, #FF2919 100%); position: absolute; left: 0; right: 0; bottom: .32rem; content: ''; margin:
auto;}

.proListBox .swiper_ListBox .pro_li{margin-bottom: .24rem;}
.proListBox .swiper_ListBox .pro_li a{display: block; padding: .12rem; border-radius: .26rem; background-color: #fff; margin: 0 .24rem; position: relative; }
.proListBox .swiper_ListBox .pro_li .imgbox{width: 2.36rem; height: 2.36rem; border-radius: .16rem; background-color: #f5f5f5; float: left; overflow: hidden;}
.proListBox .swiper_ListBox .pro_li .imgbox img{display: block; width: 100%; height: 100%; object-fit: cover;}
.proListBox .swiper_ListBox .pro_li dt{font-size: .22rem; color: #F95349; margin-bottom: .04rem;}
.proListBox .swiper_ListBox .pro_li dd{color: #FF2A1D; }
.proListBox .swiper_ListBox .pro_li dd b{font-size: .36rem; }
.proListBox .swiper_ListBox .pro_li dd .qian{font-family: moneyNumber;}
.proListBox .swiper_ListBox .pro_li dd .jfen{font-size: .28rem;font-family: moneyNumber;}
.proListBox .swiper_ListBox .pro_li dd .yuan{color: #999; font-size: .2rem; text-decoration: line-through; margin-left: .05rem;}
.proListBox .swiper_ListBox .pro_li .pro_info{margin-left: 2.56rem;}
.proListBox .swiper_ListBox .pro_li .pro_info h4{font-size: .32rem; color: #212121; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-bottom: .2rem;}
.proListBox .swiper_ListBox .pro_li .btn {width: 4.14rem; height: .72rem; border-radius: .1rem; background-color: #FFF0ED; position: absolute; right: .2rem; bottom: .18rem; box-sizing: border-box; padding-left: .42rem; line-height: .72rem; display: flex; align-items: center; justify-content: space-between;}
.proListBox .swiper_ListBox .pro_li .btn.gift_btn{padding-left: .06rem;}
.proListBox .swiper_ListBox .pro_li .btn.gift_btn .l_txt img{width: .6rem; height: .6rem; background-color: #fff; border-radius: .1rem; margin-right: .09rem;}
.proListBox .swiper_ListBox .pro_li .btn.gift_btn .l_txt{display: flex; align-items: center;}
.proListBox .swiper_ListBox .pro_li .btn .l_txt{color: #B86A2A; font-size: .26rem; font-weight: bold;}
.proListBox .swiper_ListBox .pro_li .btn .r_txt{font-size: .28rem; color: #fff; width: 1.86rem; height: 100%; background: url(../images/icon_btn.png) no-repeat center/cover; border-radius: 0 .1rem .1rem 0; display: block; box-sizing: border-box; /* padding-left: .48rem; */ text-align: center; font-weight: bold;}
.proListBox .swiper_ListBox .loading{text-align: center; font-size: .24rem; color: #957E6A; padding: .6rem;}

.gz_mask{position: fixed; left: 0; right: 0; bottom: 0; top: 0; background-color: rgba(0,0,0,.5); display: none; z-index: 3;}
.gzPop{position: fixed;  left: 0; right: 0; background: linear-gradient(-40deg, #FEF9F3 0%, #FEF6E6 100%); min-height: 5rem; border-radius: .4rem .4rem 0 0 ;padding-bottom: .4rem; bottom: -9rem; transition: bottom .3s; z-index: 4;}

.gzPop h2{font-size: .44rem; color: #99593D; font-weight: 800; text-align: center; line-height: 1.4rem;}
.gzPop .conbox{margin: 0 .54rem; color: #99593D; line-height: .44rem; min-height: 4rem; padding-bottom: 1.28rem; max-height: 6rem; overflow: auto;}
.gzPop .con{margin-bottom: .26rem;}
.gzPop .conbox span{font-size: .26rem; color: #99593D; font-weight: bold;}
.gzPop .conbox b{color: #F22F24; font-size: .28rem;}
.gzPop .btn_cancel{display: block; margin: 0 .3rem; height: .88rem; text-align: center; background: linear-gradient(90deg, #F65338 0%, #F22A18 100%); color: #fff; border-radius: .44rem; font-size: .32rem; font-weight: bold; line-height: .88rem; position: absolute; left: 0 ;right: 0; bottom: .3rem;}
