/* 地图层 */
#shadowlayer {display: none; position: fixed; _position: absolute; width: 100%; height: 100%; background-color: #000; filter: alpha(opacity=15); opacity: .15; top: 0; left: 0; z-index: 9000;}
.map-pop {position: fixed; _position: absolute; left: 50%; top: 50%; z-index: 9001; display: none; width: 900px; height: 630px; margin: -320px 0 0 -450px;}
.map-pop a.pop-close {display: block; width: 22px; height: 22px; font-size: 25px; line-height: 22px; overflow: hidden; position: absolute; right: 12px; top: 8px; z-index: 1004; text-align: center; color: #666;}
.map-pop a.pop-close:hover {background-position: 0 -14px;}
.pop-border {background-color: #000; filter: alpha(opacity=30); opacity: .3; position: absolute; left: -5px; top: -5px; right: -5px; bottom: -5px; z-index: 1002; border-radius: 5px;}
.pop-main {width: 100%; height: 100%; background-color: #fff; position: relative; z-index: 1003;}
.pop-title {height: 39px; border-bottom: 1px solid #e0e0e0; color: #3d3d3d; background-color: #f7f7f7; padding-left: 15px; font: 700 14px/39px Microsoft Yahei;}
.pop-con {padding: 10px;}
#markDitu {width: 100%; height: 515px;}
.pop-con .btns {margin-top: 10px; border-top: 1px solid #e0e0e0; padding-top: 15px; font: 12px/18px '\5b8b\4f53';}
.pop-con .btns a {float: right; margin-left: 15px; color: #506eaa; line-height: 25px; padding: 0 20px; background-color: #efefef; letter-spacing: 2px; box-shadow: 0 1px 0 #ddd; border-radius: 3px;}
.pop-con .btns #okPop {background-color: #ff7e00; box-shadow: 0 1px 0 #eb5e00; color: #fff; font-weight: 700; font-size: 14px;}
/*国籍区号*/
.w-form dd{position: relative;}
.w-form dd .areaCode{line-height: 34px;top: 11px;left: 12px;bottom: 17px;font-size: 16px;border-right: 1px solid #f3f3f3;width: 70px;}
.w-form dd input#contact{padding-left: 80px;width: 145px;}
.w-form dd .areaCode_wrap{width: 265px;top: 43px;z-index: 100}

/*#listSection1 li{width: 150px; height: 150px;}*/
#listSection1 li img{width: 150px; height: 150px; object-fit: cover}
/*2021-12-20*/
.main{padding: 0 !important;margin: 20px 20px 0 340px !important; background-color: #fff;}
.w-form#shopConfig{padding-top: 0}
.w-form#modpage dt{color: #333;font-weight: bold;padding: 10px 0}

.moduleWrap{margin-bottom: 80px;}
.moduleWrap .choseTab li{height: 44px;box-sizing: border-box;line-height: 44px;border: 1px solid #ddd;border-radius: 4px;position: relative;overflow: hidden;margin-right: 16px;}
.moduleWrap .choseTab li a{display: block;font-size: 16px;color: #333;padding: 0 28px 0 13px;}
.moduleWrap .choseTab li i{width: 20px;height: 20px;border-radius: 50%;border: 1px solid #aaa;display: inline-block;background: #fff;box-sizing: border-box;position: relative;vertical-align: top;margin-top: 12px;margin-right: 15px;}
.moduleWrap .choseTab li i s{display: inline-block;background: #aaa;width: 12px;height:12px;border-radius: 50%;position: absolute;left: 50%;top: 50%;margin-left: -6px;margin-top: -6px;}
.moduleWrap .choseTab li.active i{border: 1px solid #347DF6;}
.moduleWrap .choseTab li.active i s{background: #347DF6;}
.moduleWrap .choseTab li.active{border: 1px solid #347DF6;}

.choseCon{margin-top: 22px;}
.choseCon .comCon{display: none;position: relative;animation: rightFadeIn .3s;}
.choseCon .comCon.comshow{display: block;}

.choseCon .advice{background: #F5F5F7;border-radius: 6px;box-sizing: border-box;padding: 0 18px; position: relative; display: inline-block;}
.choseCon .advice i{display: inline-block;width: 24px;height: 24px;background: url(../images/shop/advice.png) center center no-repeat;background-size: cover;vertical-align: top;margin-top: 12px;}
.choseCon .advice span{display: inline-block;vertical-align: top;font-size: 14px;color: #999;line-height:50px;margin-left: 6px;}
.choseCon .advice s{content: '';display: block;width: 15px;height:10px;background: url(../images/shop/arrow.png) center center no-repeat;background-size: cover;vertical-align: top;position: absolute;left: 60px;top: -10px;}
.choseCon .comCon.onlineCon .advice s{left: 224px;}


.choseCon .advWrap {margin-top: 13px;}
.advWrap .leftAdv{float: left;margin-right: 20px;}
.advWrap .img{width: 223px;height: 492px;overflow: hidden;position: relative;box-sizing: border-box;border: 1px solid #eee;border-radius: 10px;}
.advWrap .img img{display: block;width: 100%;}
.advWrap p{font-size: 14px;color: #333;margin-top: 18px;text-align: center;}
.advWrap .rightAdv{float: left;}
.advWrap .rightAdv .img{width: 523px;}
.advWrap .img i{content: '';position: absolute;width: 30px;height: 30px;background: url(../images/shop/seemore.png) center center no-repeat;background-size: cover;top: 9px;right: 9px;}
.advWrap .img a.seeBig{content: '';position: absolute;width: 30px;height: 30px;background: url(../images/shop/seemore.png) center center no-repeat;background-size: cover;top: 9px;right: 9px;}

.saleItem{margin-bottom: 35px;}
.saleItem.disabled{background: none;}
.w-form .saleWrap dd{padding-top: 20px;}
.saleItem label{width: 16px;height: 16px;border: 1px solid #BBBCC4;;border-radius: 2px;margin-right: 6px;float: left;    margin-top:0 ;box-sizing: border-box;cursor: pointer;}
.saleItem div{margin-left: 22px;}
.saleItem div h3{font-size: 16px;color: #333;line-height: 1}
.saleItem div h3 em{font-size: 13px;color: #393A5C;}
.saleItem div p{font-size: 14px;color: #999;   margin-top: 6px;line-height: 1}
.saleItem div .changep{display: inline-block;}
.saleItem div .changePs{font-size: 14px;color: #347DF6;display: inline-block;}
.saleItem.curr label{background: #3478FF;position: relative;border: none;}
.saleItem.curr label s{content: '';display: inline-block;width: 12px;height: 12px;background: url(../images/shop/gou.png) center center no-repeat;background-size: cover;position: absolute;top: 50%;left: 50%;margin-top: -6px;margin-left: -6px;}
.saleItem.curr.disabled label{background: #E4E8EE;border: 1px solid #C9D1E1;}
.saleItem.curr.disabled label s{background: url(../images/shop/nochange.png) center center no-repeat;background-size: cover;}
.saleWrap .saleTip{font-size: 14px;color: #999;margin-top: 40px;}
.saleWrap .saleTip i{display: inline-block;width: 20px;height: 20px;background: url(../images/shop/tip.png) center center no-repeat;background-size: cover;vertical-align: top;margin-right: 1px;margin-top: 6px;}
.nextStep{margin-top: 30px}
.nextStep a{display: block;width: 160px;height: 45px;line-height: 45px;text-align: center;font-size: 20px;color: #fff;background: #7EB933;border: 1px solid #76AE30;border-radius: 4px;}

/*提示弹窗*/
.tipMask{position: fixed;top:0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,.5);z-index: 9;display: none;}
.tipAlert{position: fixed;left: 50%;margin-left: -210px;width: 420px;background: #fff;border-radius: 10px;box-sizing: border-box;padding: 30px 33px;top: 50%;z-index: 10;margin-top: -110px;display: none;animation: popup .3s;}
.tipAlert.show{display: block;}
.tipAlert .tipClose{display: block;width: 14px;height: 14px;background: url(../images/shop/close_alert.png) center center no-repeat;background-size: cover;position: absolute;top: 12px;right: 12px;}
.tipAlert h3{font-size: 16px;color: #333;text-align: center;line-height: 1}
.tipAlert .tipp{font-size: 14px;color: #999;margin-top: 20px;line-height: 20px;}
.tipAlert.changeToBus .tipp,.tipAlert.changeToBus .changeToPt{height: 60px;}
.tipAlert .tipKnow{display: block;width: 160px;height: 40px;text-align: center;line-height: 40px;font-size: 15px;color: #fff;background: #347DF6;border-radius: 10px;margin: 34px auto 0}

/*基本资料 tab*/
.formTab{border-bottom: 1px solid #eee;padding-left: 47px;padding-top: 10px;position: fixed;top:70px;left: 340px;right: 20px;background: #fff;z-index: 9}
.formTab li{float: left;margin-right: 64px;}
.formTab li a{font-size: 16px;color: #333;border-bottom: 2px solid #fff;line-height: 50px;display: block;}
.formTab li.active a{color: #347DF6;font-weight: bold;border-bottom: 2px solid #347DF6;}

.pro1{background: #F7F8FA;margin: 93px 30px 0;padding: 28px 46px 30px 40px;}
.pro1 .leftMod p{line-height: 1}
.pro1 .leftMod p:first-child{margin-bottom: 10px;}
.pro1 .leftMod p em{font-size: 15px;color: #666}
.pro1 .leftMod p span{font-size: 15px;color: #333}
.pro1 .changeMod{display: block;padding: 0 16px;height: 36px;line-height: 36px;background: #347DF6;border-radius: 4px;font-size: 15px;color: #fff;margin-top: 5px;}
.compage{padding-bottom: 50px;}
.compage .comTit{border-bottom: 1px solid #E1E1E1;margin: 0 30px 30px;font-size: 16px;color: #333;font-weight: bold;padding: 20px 0;line-height: 1}

.compage .comTit em{font-size: 14px;color: #999;margin-left: 12px;}
.w-form .compage dt{width: 175px;}
.w-form .compage dd{margin-left: 180px;}
.w-form .compage #note{border: 1px solid #D8D8D8;border-radius: 4px;min-width: 517px; width:90%; max-width:710px;min-height: 120px;padding: 10px;box-sizing: border-box;font-size: 14px;}
 
.addtime{float: left; min-width: 92px; height: 32px; border: dashed #A1C0FF 1px ; color: #477EEE !important; font-size: 14px; text-align: center; line-height: 30px; background-color: #EFF4FF; border-radius: 3px; margin-top: -1px; }
.timelist .input-prepend {margin-right: 10px; margin-bottom: 10px; position: relative;}
.timelist .input-prepend .add-aft{border-radius: 0;}
.timelist .input-prepend input:nth-of-type(2){border-radius: 0 4px 4px 0; border-left: 0;}
.timelist .input-prepend input:nth-of-type(1){border-radius:  4px 0 0 4px ;}
.timelist .del_time{width: 20px; height: 20px; background: url(/static/images/im/del_01.png) no-repeat center/cover; position: absolute; display: block; right: 0;cursor: pointer; right: -6px; top: -6px; border-radius: 50%; }

/*商家图集*/
#listSection3 .uploadinp{position: relative;}
#listSection3 .btn-section label,#listSection3 .btn-section input{position: absolute; left: 0; right: 0; bottom: 0; top: 0; width: 100% !important; height: 100% !important; }
#filePicker3{position: relative;}
#filePicker3>div:not(.webuploader-pick){position: absolute; left: 0; right: 0; bottom: 0; top: 0; width: 100%; height: 100%;}
.listImgBox .upTip{font-size: 14px; color:#999; }

#listSection3 .wxUploadObj .uploadinp{width:145px;height:126px;background-image: none;background-color: #fff;border-color: #f1884e;}
#listSection3 .wxUploadObj .uploadinp em {position: absolute;left:0;right:0;top:30px;text-align: center;font-size: 64px;}
#listSection3 .wxUploadObj .uploadinp span,#listSection3 .wxUploadObj .uploadinp em{color: #f1884e;
    bottom: 15px;}
#listSection3 .wxUploadObj .uploadinp label,#listSection3 .wxUploadObj .uploadinp input[type="file"]{width: 100%; height: 100%; position: absolute; left: 0; top: 0; cursor: pointer;}

/*图片*/
#listSection3 .pubitem{width: 147px; height: 128px; position: relative; float: left;margin-right: 20px; margin-bottom: 10px;}
#listSection3 .pubitem img{width: 100%; height: 100%; object-fit: cover;}
#listSection3 .pubitem .li-rm {position: absolute;right:0;top:0;display: block;height:20px;line-height: 20px;padding: 0 15px;background-color: rgba(0,0,0,.4);margin:0;color:#fff;z-index: 2;font-size: 12px;text-align: center;}

.listSection#listSection3  .pubitem:first-child .setMain{display: none !important; }
.listSection#listSection3  .pubitem:first-child .mainImg{display: block !important; }
#listSection3 .pubitem .setMain,#listSection3 .pubitem .mainImg{font-size: 12px; color: #fff; position: absolute; left: 0; bottom: 0;right: 0; line-height: 28px; background: rgba(0,0,0,.7) ; display: none; text-align: center;}
#listSection3 .pubitem:hover .setMain{display: block;}

/*广告*/
.ggbox .btn-section>div{float: left;}
.ggbox .wxUploadObj + .upload-tip{margin-left: 14px;}

.ggbox .deleteAllAtlas{margin-right: 10px;}
.ggbox .upTip{padding-top: 16px;}
.ggbox .upTip{font-size: 14px;color: #999}
.ggbox .list-holder li .li-input input[type=text]{font-size: 14px;line-height: 25px;}
.ggbox .list-holder li .li-input input{display: none !important;}
.ggbox .list-holder li .li-input .help-inline{display: none;}
.ggbox .list-holder li .li-input input.i-link{width: 100% !important; display: block !important; float: none}
.ggbox .list-holder li .li-input input[type=text]::placeholder{color: #999}
.ggbox .list-holder li .li-input .help-inline{font-size: 14px;color: #999;}
.ggbox .list-holder li .li-input .help-inline label{font-size: 14px;color: #999;}
.ggbox .list-holder li .li-input .help-inline label input{vertical-align: middle;margin-top: -4px;margin-right: 6px;}
/*示例弹窗*/
.case_mask{position: fixed;top:0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,.5);z-index: 9;display: none;}
.caseWrap{pointer-events: none;display: none;animation: popup .3s;position: fixed;left: 0;right: 0;top: 50%;margin-top: -330px;z-index: 10;text-align: center;}
.caseWrap.show{display: block;}
.caseAlert{background: #fff;border-radius: 10px;box-sizing: border-box;padding: 30px 22px 13px;pointer-events: auto;display: inline-block;position: relative;}

.caseAlert .close_case{display: block;width: 30px;height: 30px;background: url(../images/shop/close_adv.png) center center no-repeat;background-size: cover;position: absolute;top: -8px;right: -8px;}

.caseAlert h3{font-size: 22px;color: #333;font-weight: bold;margin-bottom: 18px;line-height: 1}
.caseAlert .caseImg{width: auto;height: 576px;}
.caseAlert .caseImg img{display: none;height: 576px;width: auto;}
.caseAlert .caseImg img.show{display: block;}

/*爆热活动商品*/
.baoreBox dt{padding-top: 12px;}
.goodlist {}

.goodlist li.goodLi{float: left;position: relative;margin-right: 20px;margin-bottom: 20px;}
.goodlist li .goodImg{width: 130px;height: 130px;border-radius: 6px;overflow: hidden;}
.goodlist li .goodImg img{display: block;width: 100%;height: 100%;object-fit: cover;}
.goodlist li.goodLi p{font-size: 12px;color: #fff;position: absolute;left: 0;right: 0;bottom: 0;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;box-sizing: border-box;padding: 0 12px 0 9px;line-height: 32px;background: rgba(0,0,0,.6);border-radius: 0 0 6px 6px;}
.goodlist li .goodDel{display: block; width: 20px; height: 20px; background: url(../images/shop/delbtn.png) no-repeat center/cover; position: absolute; top:-11px; right: -11px; }
.goodlist .choseLi{float: left;}
.goodlist .choseLi a{display: inline-block;line-height: 40px;text-align: center; border-radius: 6px;font-size: 16px;color: #fff;padding: 0 24px;background: #347DF6;}
.goodlist .choseLi.hasGoods{padding-top: 48px;}

/*选择商品弹窗*/
.mask_pl{position: fixed; top: 0; left: 0; right: 0 ; bottom: 0; background: rgba(0,0,0,.7); z-index: 100000; display: none;}
::-webkit-scrollbar{width:4px;height:4px;}
::-webkit-scrollbar-track-piece{background:#EAEAEA;border-radius:2px;}
::-webkit-scrollbar-thumb{border-radius:2px;background-color:#ABABAB;}
::-webkit-scrollbar-thumb:hover{background-color:#666;}

.link_pro{height: 70%; position: fixed; top:50%; left: 50%; background: #fff; z-index: 100001; border-radius: 10px;width: 586px;display: none;transform: translate(-50%,-50%);}
.link_pro.noDatapro{height: 56%}
.link_pro a.cancel_btn{display: block;width: 32px; height: 32px; background: url(../images/shop/f_close.png) no-repeat center; background-size: cover; position: absolute; top: -10px; right: -10px;z-index: 2}
.link_pro h1{font-size: 22px; color: #333; text-align: center; position: relative; line-height: 82px; font-weight: bold;height: 77px}

.link_pro .kanjiaTip{height: 40px;line-height: 40px;background: #FFF0EF;text-align: center;font-size: 14px;color: #EC3628;margin-top: 10px;}

.pro_box{overflow: hidden; position: absolute; top: 127px; bottom: 0;  box-sizing: border-box; left: 0; right: 0;-webkit-overflow-scrolling: touch;border-radius: 10px;padding: 14px 0; padding-bottom: 80px}
.pro_box.kanpro_box{top: 153px;}
.pro_box ul{margin: 0;height: 100%;overflow: auto;margin-right: 5px;}
.pro_box ul .pro_li{padding: 0 20px; overflow: hidden; position: relative;}
.pro_box ul .pro_li:hover{background: #f9f9f9;}
.pro_box ul .pro_li a{display: block;border-bottom: 1px solid #eee;padding: 20px 0;}
.pro_box ul .pro_li .left_proimg{width: 60px; height: 60px; float: left; position: relative;}
.pro_box ul .pro_li .left_proimg img{width: 100%; height: 100%; object-fit: cover; border-radius: 4px;}
.pro_box ul .pro_li .right_info{margin-left: 72px; height: 60px}
.pro_box ul .pro_li .right_info h2{font-size: 16px; color: #000; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;margin: 0;line-height: 26px;width: 90%}
.pro_box ul .pro_li .right_info p{color: #EC3628; font-size: 16px;  margin-top: 10px}
.pro_box ul .pro_li .right_info p span{display: inline-block;padding: 0 6px;line-height: 24px;font-size: 12px;color: #fff;border-radius: 2px;margin-right: 8px;vertical-align: middle;margin-top: -4px;}
.pro_box ul .pro_li .right_info p span.qgou,.pro_box ul .pro_li .right_info p span.msha{background: #EC3628}
.pro_box ul .pro_li .right_info p span.kanjia,.pro_box ul .pro_li .right_info p span.tuan{background: linear-gradient(90deg, #A92DE7 0%, #871DE5 100%);}

.pro_box ul .pro_li .hasChoseIcon{display: block; width: 20px; height: 20px; border: solid 1px #ddd; box-sizing: border-box; position: absolute; top: 50%; margin: auto; right: 22px; border-radius: 50%;margin-top: -10px;}
.pro_box ul .pro_li.selected{position: relative;}
.pro_box ul .pro_li.selected s.hasChoseIcon{background: url(../images/shop/f_chose.png) no-repeat center; background-size: cover; border: none;}



.btnbox{position: absolute; left: 0; bottom: 0; right: 0; height: 80px; background: #F7F8FA ; border-radius: 0 0 10px 10px}
.btnbox a{display:block; width: 185px; height: 50px; border-radius: 4px; color: #fff; text-align: center; font-size: 18px; line-height: 50px; margin: auto; margin-top: 15px; background: #307CFC; }


.loading{text-align: center;}
.loading .emptyImg{width: 268px;height: 222px;background:url("../images/shop/empty.png") no-repeat;background-size:cover;margin: 40px auto 32px;}
.loading h2{font-size: 20px;color: #000;font-weight: bold;}
.loading p{font-size: 16px;color: #999;margin-top: 10px;font-weight: normal;}
/*错误信息*/
.errorTip{color: #fff; background: rgba(0,0,0,.8); border-radius: 6px;  position: fixed; z-index: 100002; top: 50%; padding: 6px 10px; text-align: center; left: 50%;  display: none; font-size: 14px;transform:translateX(-50%);margin-top: -15px;}



.alertPopMask{position: fixed;top:0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,.5);z-index: 9; display: none;}
.alertPop{position: fixed;left: 50%;margin-left: -210px; width: 420px;background: #fff;border-radius: 10px;box-sizing: border-box;padding: 30px 33px;top: 50%;z-index: 10;margin-top: -110px;animation: popup .3s;  display: none;}
.alertPop.show,.alertPopMask.show{display: block;}
.alertPop .tipClose{display: block;width: 14px;height: 14px;background: url(../images/shop/close_alert.png) center center no-repeat;background-size: cover;position: absolute;top: 12px;right: 12px;}
.alertPop h3{font-size: 16px;color: #333;text-align: center;line-height: 1.3;}
.alertPop .alertPopText{font-size: 14px;color: #999;margin-top: 20px;line-height: 20px;}
/* .alertPop.changeToBus .tipp,.alertPop.changeToBus .changeToPt{height: 60px;} */
/* .alertPop .alertPop_sure{display: block;width: 160px;height: 40px;text-align: center;line-height: 40px;font-size: 15px;color: #fff;background: #347DF6;border-radius: 10px;margin: 34px auto 0} */
.alertPop .alertPopBtns{text-align: center; margin-top: 26px;}
.alertPop .alertPopBtns a{display: inline-block; width: 120px; height: 40px;text-align: center;line-height: 40px; font-size: 15px;color: #fff;background: #347DF6;border-radius: 10px; margin: 0 10px; cursor: pointer;}
.alertPop .alertPopBtns a.alertPop_cancel{background-color: #ccc; }

.alertPop .popIcon{width: 200px; height: 135px;margin: auto;}
.alertPop .popIcon img{display: block;  object-fit: cover; width: 100%; height: 100%;}
.imgAlertPop .alertPop h3{font-size: 20px; font-weight: bold; margin-top: 10px;}
.imgAlertPop .alertPop p{text-align: center; margin-top: 6px;}
.alertPop .alertPopBtns a{width: 120px;}
.alertPop .alertPopBtns.singleBtns a{width: 160px;}

