
/*发布活动 公共*/
.shop_hdCom.w-form{padding-bottom: 180px;}
.shop_hdCom h3.tuanTip{height: 40px;line-height: 40px;background: #F0F0F0;padding: 0 24px;font-size: 14px;color: #aaa;margin: 0 20px;}
.shop_hdCom #fabuForm {padding-top: 28px;}
.shop_hdCom #fabuForm .chooseGoods{display: inline-block;height: 40px;line-height: 40px;padding: 0 24px;background: #347DF6;border-radius: 5px;font-size: 16px;color: #fff;}
.shop_hdCom #fabuForm dt{font-size: 16px;color: #222;}
.shop_hdCom #fabuForm dt .star{color: #FF010D;}
.shop_hdCom #fabuForm .input-append .add-aft{padding: 4px 7px;}

.shop_hdCom #fabuForm .input-append input{width: 137px;font-size: 14px;}
.shop_hdCom #fabuForm input#market{width: 172px;color: #EC3628;font-size: 14px;background: #F5F5F5;
border: 1px solid #D8D8D8;}
.shop_hdCom #fabuForm input#pintime{width: 129px;}
.shop_hdCom #fabuForm .time-tip{font-size: 14px;color: #999;margin-left: 14px;float: left;}
.w-form.shop_hdCom #fabuForm .inp.disabled{background: #F5F5F5;color: #999;font-size: 14px;}
.w-form.shop_hdCom #fabuForm .pintuanPrice{display: none}
.shop_hdCom #fabuForm input#fakeInp{width: 172px;}
.shop_hdCom #fabuForm .icon-time{display: inline-block;width: 14px;height: 14px;margin-top: 4px;line-height: 14px;vertical-align: text-top;background-image: url(/static/images/admin/glyphicons-halflings.png);background-position: -48px -24px;background-repeat: no-repeat;}

.shop_hdCom #fabuForm .add-on{display: inline-block;width: auto;height: 24px;min-width: 16px;padding: 4px 5px;font-size: 14px;font-weight: normal;line-height: 24px;text-align: center;text-shadow: 0 1px 0 #fff;background-color: #eee;border: 1px solid #ccc;vertical-align: top;margin-left: -1px;-webkit-border-radius: 0 4px 4px 0;-moz-border-radius: 0 4px 4px 0;border-radius: 0 4px 4px 0;}
.shop_hdCom #fabuForm .form_datetime .add-aft{padding: 4px 5px;min-width: 16px;}
.shop_hdCom #fabuForm .form_datetime.input-append input{width: 142px;cursor: pointer;}
.shop_hdCom #fabuForm .form_datetime.input-append{cursor: pointer;}
/*已选商品*/
.goodsDl{display: flex;align-items: center;}
.w-form .goodsDl dd{margin-left: 0;display: flex;align-items: center;}
.goodsCon {float: left;overflow: hidden;}
.goodsCon .goodImg{width: 60px; height: 60px; float: left; position: relative;}
.goodsCon .goodImg img{width: 100%; height: 100%; object-fit: cover; border-radius: 10px;}
.goodsCon .goodInfo{margin-left: 72px; height: 60px;margin-right: 92px;display: flex;align-items: center;}
.goodsCon .goodInfo h4{font-size: 16px; color: #000;line-height: 26px;max-width: 268px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.pinBot{display: none;}
.pinBot .pintip{font-size: 14px;color: #999;    margin-bottom: 10px;}
.mask_pl{position: fixed; top: 0; left: 0; right: 0 ; bottom: 0; background: rgba(0,0,0,.7); z-index: 100000; display: none;}
::-webkit-scrollbar{width:4px;height:4px;}
::-webkit-scrollbar-track-piece{background:#EAEAEA;border-radius:2px;}
::-webkit-scrollbar-thumb{border-radius:2px;background-color:#ABABAB;}
::-webkit-scrollbar-thumb:hover{background-color:#666;}

/* 商品链接关联 */
/* .mask_pl{display: block;} */
.link_pro{height: 70%; position: fixed; top:50%; left: 50%; background: #fff; z-index: 100001; border-radius: 10px;width: 586px;display: none;transform: translate(-50%,-50%);}
.link_pro.noDatapro{height: 56%}
.link_pro a.cancel_btn{display: block;width: 32px; height: 32px; background: url(../images/shop/f_close.png) no-repeat center; background-size: cover; position: absolute; top: -10px; right: -10px;z-index: 2}
.link_pro h1{font-size: 22px; color: #333; text-align: center; position: relative; line-height: 77px; font-weight: bold;}
.link_pro .search_box{margin: 0 20px; background: #F2F2F2; border-radius: 10px; position: relative;}
.link_pro .search_box s{ display: block; width: 20px; height: 20px; background: url(../images/shop/f_search.png) no-repeat center; background-size: cover;position: absolute; left: 10px; top: 10px;}
.link_pro .search_box input{background: none; border: none; width: 100%; box-sizing: border-box; font-size: 14px; padding: 9px 55px; box-shadow: none;color: #000 }
.link_pro .kanjiaTip{height: 40px;line-height: 40px;background: #FFF0EF;text-align: center;font-size: 14px;color: #EC3628;margin-top: 10px;}
/*商品列表*/
.pro_box{overflow: hidden; position: absolute; top: 104px; bottom: 0;  box-sizing: border-box; left: 0; right: 0;-webkit-overflow-scrolling: touch;border-radius: 10px;padding: 14px 0;}
.pro_box.kanpro_box{top: 153px;}
.pro_box ul{margin: 0;height: 100%;overflow: auto;margin-right: 5px;}
.pro_box ul .pro_li{padding: 0 20px; overflow: hidden; position: relative;}
.pro_box ul .pro_li:hover{background: #f9f9f9;}
.pro_box ul .pro_li a{display: block;border-bottom: 1px solid #eee;padding: 20px 0;}
.pro_box ul .pro_li .left_proimg{width: 60px; height: 60px; float: left; position: relative;}
.pro_box ul .pro_li .left_proimg img{width: 100%; height: 100%; object-fit: cover; border-radius: 4px;}
.pro_box ul .pro_li .right_info{margin-left: 72px; height: 60px}
.pro_box ul .pro_li .right_info h2{font-size: 16px; color: #000; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;margin: 0;line-height: 26px}
.pro_box ul .pro_li .right_info p{color: #FC3A4A; font-size: 16px; font-weight: 500; margin-top: 10px}
.pro_box ul .pro_li.chosed{position: relative;}
.pro_box ul .pro_li.chosed s.hasChoseIcon{display: block; width: 20px; height: 20px; background: url(../images/shop/f_chose.png) no-repeat center; background-size: cover; position: absolute; right: 34px; bottom: 40px;}

/* 已选的 商品链接 */
.pro_show ul{margin-left: 0;padding: 0;}
.pro_show li { position: relative; margin-top: 10px;border-radius: 8px; padding: 10px;background: #F5F5F5;float: left;width: 450px;margin-right: 10px;-moz-user-select:none; -webkit-user-select:none; -ms-user-select:none; -khtml-user-select:none; user-select:none;min-height:18px;list-style: none}
.pro_show li.holder {background:none;}
.pro_show .li_show .l_img{float: left; width: 80px; height: 80px; border-radius: 10px; overflow: hidden;}
.pro_show .li_show .l_img img{width: 100%; height: 100%; object-fit: cover;}
.pro_show .li_show .r_info{margin-left: 110px;}
.pro_show .li_show .r_info h2{color: #333; font-size: 15px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; margin-right: 80px;line-height: 20px}
.pro_show .li_show .r_info p{color: #999; font-size: 14px; margin-top: 12px}
.pro_show .li_show i.clear{display: block; top: 36px; right: 10px; }
.pro_show .li_show[data-type="link"] .r_info p{display: none;}

/*批量设定表单*/

.speTab {float: left; width: auto; max-height: 500px; padding-right: 5px; overflow: hidden; border:  0; overflow-y: auto; display: inline-block; vertical-align: middle;margin-bottom: 10px}
.speTab table {vertical-align: middle; color: #333; font-size: 14px; border-left: 1px solid #d7d7d7; border-bottom: 1px solid #d7d7d7;}
.speTab th {height: 44px; text-align: center; vertical-align: middle; font-weight: 500; border: 1px solid #d7d7d7; border-left: none; border-bottom: none; background: #ededed;}
.speTab td {padding: 5px; min-width: 90px; text-align: center; vertical-align: middle; border: 1px solid #d7d7d7; border-left: none; border-bottom: none; background: #fff; white-space: nowrap;}
.speTab td input {width: 65px; height: 15px; margin: 0; float: none; text-align: center;}
#speList .piliang{line-height: 34px; display: inline-block; float: left; margin-left: 10px; padding:0 16px; border-radius: 4px; background-color: #347DF6; color: #fff; font-size: 14px; margin-top: 10px;}
#speList .piliang:hover{background-color: #1a67e7;}

.pl_fill{width: 86px; height: 34px; box-sizing: border-box; line-height: 32px; border: solid 1px #D8D8D8; border-radius: 5px; margin: auto; background-color: #fff;}
.pl_fill input{border: none; width: 100%; box-sizing: border-box; padding:0 4px;display: none; text-align: center;}

.loading{text-align: center;}
.loading .emptyImg{width: 268px;height: 222px;background:url("../images/shop/empty.png") no-repeat;background-size:cover;margin: 40px auto 32px;}
.loading h2{font-size: 20px;color: #000;font-weight: bold;}
.loading p{font-size: 16px;color: #999;margin-top: 10px;font-weight: normal;}
/*日历弹窗*/
.dropdown-menu{position: absolute;top: 100%;left: 0;z-index: 100000;display: none;float: left;min-width: 150px;padding: 5px 0;margin: 2px 0 0;list-style: none;background-color: #fff;border: 1px solid #ccc;border: 1px solid rgba(0,0,0,0.05);*border-right-width: 2px;*border-bottom-width: 2px;-webkit-border-radius: 0 0 6px 6px;-moz-border-radius: 0 0 0 6px 6px;border-radius: 0 0 6px 6px;-webkit-box-shadow: 0 5px 50px rgb(0 0 0 / 30%);-moz-box-shadow: 0 5px 50px rgba(0,0,0,0.3);box-shadow: 0 5px 50px rgb(0 0 0 / 30%);-webkit-background-clip: padding-box;-moz-background-clip: padding;background-clip: padding-box;}
.table-condensed th, .table-condensed td{padding: 4px 5px;}  

.icon-arrow-left{display: inline-block;width: 14px;height: 14px;margin-top: 1px;*margin-right: .3em;line-height: 14px;vertical-align: text-top;background-image: url(/static/images/admin/glyphicons-halflings.png);background-repeat: no-repeat;background-position: -240px -96px;}
.icon-arrow-right{display: inline-block;width: 14px;height: 14px;margin-top: 1px;*margin-right: .3em;line-height: 14px;vertical-align: text-top;background-image: url(/static/images/admin/glyphicons-halflings.png);background-repeat: no-repeat;background-position: -264px -96px;}
.datetimepicker td, .datetimepicker th{font-size: 14px;color: #333;}
.datetimepicker th{font-weight: bold;}

.hdtimeTip{font-size: 14px;color: #666;float: left;margin-left: 10px;margin-right: 10px;}
.form_datetime .time-tip{font-size: 14px;color: #999;margin-left: 14px;}
/*整点场样式*/
.qianggouHour{position: relative;}
.whatTime{position: absolute;top: 100%;left: 163px;z-index: 100000;display: none;float: left;min-width: 194px;margin: 2px 0 0;list-style: none;background-color: #fff;border: 1px solid #ccc;border: 1px solid rgba(0,0,0,0.05);*border-right-width: 2px;*border-bottom-width: 2px;-webkit-border-radius: 0 0 6px 6px;-moz-border-radius: 0 0 0 6px 6px;border-radius: 0 0 6px 6px;-webkit-box-shadow: 0 5px 50px rgb(0 0 0 / 30%);-moz-box-shadow: 0 5px 50px rgba(0,0,0,0.3);box-shadow: 0 5px 50px rgb(0 0 0 / 30%);-webkit-background-clip: padding-box;-moz-background-clip: padding;background-clip: padding-box;}
.whatTime::before{content: '';display: inline-block;border-left: 7px solid transparent;border-right: 7px solid transparent;border-bottom: 7px solid #ccc;border-bottom-color: rgba(0, 0, 0, 0.2);position: absolute;top: -7px;left: 6px;}
.whatTime::after{content: '';display: inline-block;border-left: 6px solid transparent;border-right: 6px solid transparent;border-bottom: 6px solid #ffffff;position: absolute;top: -6px;left: 7px;}
.whatTime>div{max-height: 306px;overflow: auto;padding: 5px 16px 5px 6px;}
.whatTime p{font-size: 14px;}
.whatTime p a{display: block;color: #333;padding: 0 12px;}
.whatTime p span.red{color: #EC3628}
.whatTime p.nochose a{color: #999;cursor:not-allowed;}
.whatTime p:not(.nochose):hover{background-color: #0044cc;background-image: -moz-linear-gradient(top, #0088cc, #0044cc);background-image: -ms-linear-gradient(top, #0088cc, #0044cc);background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);background-image: -o-linear-gradient(top, #0088cc, #0044cc);background-image: linear-gradient(top, #0088cc, #0044cc);background-repeat: repeat-x;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);border-color: #0044cc #0044cc #002a80;border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);color: #fff;    border-radius: 4px;}
.whatTime p:not(.nochose):hover a{color: #fff}

.whatTime p.active{background-color: #0044cc;background-image: -moz-linear-gradient(top, #0088cc, #0044cc);background-image: -ms-linear-gradient(top, #0088cc, #0044cc);background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);background-image: -o-linear-gradient(top, #0088cc, #0044cc);background-image: linear-gradient(top, #0088cc, #0044cc);background-repeat: repeat-x;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);border-color: #0044cc #0044cc #002a80;border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);color: #fff;    border-radius: 4px;}
.whatTime p.active a{color: #fff}

/*砍价*/
.tit1{background: #F9F9F9; line-height: 33px; margin: 30px 20px 0; border-top: solid 2px #CACACA; border-bottom:solid 1px #E5E5E5 ; padding-left: 14px; color: #999; margin-bottom: 20px;}
.w-form .radio#setBarule{float: none}
.bargainWrap{width: 558px;}
#bargain0 p{font-size: 14px;color: #999}
/*砍价规则--自由设置*/
.kanWrap {position: relative;}
.kanWrap .deleteKan{display: block;width: 20px;height: 20px;background:url("../images/shop/delete.png") no-repeat;background-size: 20px;display: none;position: absolute;bottom: 6px;right: 30px;}
.bargain-info2{background: #F6F5F5;padding: 10px 20px 32px;margin-top: 12px}
.bargain-info2 h2{font-size: 16px;color: #222;}
.bargain-info2 h2 em{color: #FF5E29}
.bargain-info2 p.bargaintip{font-size: 13px;color: #999;margin-top: -6px;}
.bargain-info2 p.bargaintip a{color: #FF5E29}
.bargain-info2 ul{padding-right: 30px;padding-top: 10px}
.bargain-info2 ul li{font-size: 0;margin-bottom: 20px;display: flex;}
.bargain-info2 ul li>div.beforeDao{width: 110px;display: flex;align-items: center;}
.bargain-info2 ul li span.kanspan{height: 34px;line-height: 34px;background: #eee;border-radius: 5px;border: none;min-width:52px;padding: 0 10px;text-align: center;display: inline-block; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;font-size: 16px;color: #222}
.bargain-info2 ul li span.dao{font-size: 16px;color: #222;margin-left: 10px;}
.bargain-info2 ul li input{text-align: center;}
.bargain-info2 ul li div.endP{margin-left: 11px;margin-right: 34px}
.bargain-info2 ul li div.priceP{margin-left: 14px;}
.shop_hdCom #fabuForm .input-append input.endKan{width: 45px}
.shop_hdCom #fabuForm .input-append input.priceKan{width: 95px;}
.bargain-info2 ul li em.zhi{font-size: 14px;color: #666;}

.addKan a{display:inline-block;min-width: 110px;text-align: center;font-size: 16px;color: #fff;height: 40px;line-height: 40px;border-radius: 6px; box-sizing: border-box;    -moz-box-sizing: border-box;    -webkit-box-sizing: border-box;-ms-box-sizing: border-box; -o-box-sizing: border-box;background: #347DF6;padding: 0 10px;}

.commask{position: fixed; top: 0; left: 0; right: 0 ; bottom: 0; background: rgba(0,0,0,.7); z-index: 100000; display: none;}
/*砍价弹窗*/
.bargainAlert{position: fixed;left: 370px;bottom: 113px;z-index: 100001;display: none;width: 434px;-webkit-animation: popup .3s ease-out; -moz-animation: popup .3s ease-out; animation: popup .3s ease-out;}
.bargainAlert.show{display: block;}
.bargainAlert .bargainItem{padding: 2px;border: 1px dashed #fff;border-radius: 8px;margin-top: 14px;margin-left: 6px;width: 400px;}
.bargainAlert dl{background:#fff ;padding:0 14px;height: 54px;line-height: 54px;border-radius: 6px;}
.bargainAlert dl dt{font-size: 16px;color: #222;float: left;}
.bargainAlert dl dt em{color: #FF010D;}
.bargainAlert dl dd{float: right;font-size: 14px;color: #999;}
.bargainAlert dl dd span{font-size: 16px;color: #000;margin-right: 6px;}
.bargainAlert ul{background:#fff ;padding:12px 0 12px 20px;border-radius: 6px}
.bargainAlert ul li{padding: 8px 0;font-size: 0}
.bargainAlert ul li span.kanspan{display: inline-block;font-size: 16px;color: #000;text-align: center;}
.bargainAlert ul li span.dao{font-size: 14px;color: #999;margin-left: 15px;margin-right: 23px}
.bargainAlert ul li p{display: inline-block;position: relative;border: 1px solid #B1B1B2;border-radius: 6px;padding: 0 16px;font-size: 16px;color: #000;height: 38px;line-height: 38px;box-sizing: border-box;}
.bargainAlert ul li p.endP{margin-left: 26px;margin-right: 32px;width: 80px}
.bargainAlert ul li p.priceP{margin-left: 13px;width: 110px;padding-left: 12px;}

.bargainAlert ul li p i{font-size: 14px;color: #999;position: absolute;top: 11px;line-height: 1;right: 16px;font-style: normal;}
.bargainAlert ul li em{font-size: 14px;color: #333;}
.bargainAlert i.kanIcon{display: block;width: 72px;height: 48px;background:url("../images/shop/kanIcon.png") no-repeat;background-size:cover;margin: 7px 0 10px 8px;}
.bargainAlert h3{font-size: 16px;color: #fff;margin: 0 68px 0 4px;}
.bargainAlert p.bargaintip2{font-size: 14px;color: rgba(255,255,255,.6);margin-top: 15px;}
.bargainAlert a.closeBargain{display: block;margin-top: 23px;width: 160px;text-align: center;height: 46px;line-height: 46px;background: linear-gradient(90deg, #67A0FF 0%, #347DF6 100%);font-size: 16px;color: #fff;font-weight: bold;border-radius: 23px;margin-left: 6px;}
