.container {padding: 30px 30px 0;}

.main-sub-tab {height: 45px; font-size: 14px; line-height: 45px;  overflow: hidden;}
.main-sub-tab li {position: relative; float: left;}
.main-sub-tab li a {display: block; padding: 0 13px;}
.main-sub-tab li.curr a {color: #017BFF;}
.main-sub-tab li:hover a {color: #017BFF;}

