.navFilter{background: #fff;padding: 30px 20px;}
.navFilterItem{float: left;height: 34px;line-height: 34px;border: 1px solid #E1E1E1;border-radius: 2px;margin-right: 10px;padding: 0 10px;position: relative;}
.navFilterItem.orderitem{min-width: 138px;}
.navFilterItem.typeitem{min-width: 98px;}
.navFilterItem h3{cursor: pointer}
.navFilterItem h3 a{font-size: 14px;color: #333;margin-right: 13px;}
.navFilterItem h3 i{display: inline-block;width: 14px;height: 14px;background: url('../images/shop/down.png') no-repeat center;background-size:cover;position: absolute;right: 10px;top:10px; }
.navFilterItem.curr h3 i{background: url('../images/shop/up.png') no-repeat center;background-size:cover;}
.navFilterItem .navFilterDown{background: #fff;border: 1px solid #F2F2F2;box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.08);border-radius: 0px 0px 2px 2px;position: absolute;top: 35px;left: 0;right: 0;z-index: 2;padding: 12px 0 5px;display: none;}
.navFilterItem .navFilterDown>div{max-height: 318px;overflow: auto;padding: 0 10px}
.navFilterItem .navFilterDown.show{display: block;}
.navFilterItem .navFilterDown>div::-webkit-scrollbar {width: 20px;height: 8px;}
.navFilterItem .navFilterDown>div::-webkit-scrollbar-thumb {border-radius: 12px;border: 6px solid rgba(0, 0, 0, 0);box-shadow: 8px 0 0 #e1e1e8 inset;}
.navFilterItem .navFilterDown>div::-webkit-scrollbar-thumb:hover {box-shadow: 8px 0 0 #e1e1e8 inset;}
.navFilterItem .navFilterDown p{font-size: 14px;color: #666;}
.navFilterItem .navFilterDown p a{color: #666;}
.navFilterItem .navFilterDown p.active a{color: #347DF6;}
.navFilterItem .navFilterDown p:hover a{color: #347DF6;}
.navFilter .searchItem{float: left;font-size: 0;}
.navFilter .searchItem input{background: none;border: 1px solid #E1E1E1;border-radius: 2px 0px 0px 2px;padding: 7px 10px 6px;display: inline-block;vertical-align: top;font-size: 14px;color: #333;}
.navFilter .searchItem input::-webkit-input-placeholder {/* Chrome/Opera/Safari */color: #999;}
.navFilter .searchItem input::-moz-placeholder {/* Firefox 19+ */color: #999;}
.navFilter .searchItem input:-ms-input-placeholder {/* IE 10+ */color: #999;}
.navFilter .searchItem input:-moz-placeholder {/* Firefox 18- */color: #999;}
.navFilter .searchItem button{background: #347DF6 url('../images/shop/searchIcon1.png') no-repeat center center;background-size:22px;border: none;display: inline-block;width: 60px;height: 36px;border-radius: 0px 2px 2px 0px;vertical-align: top;}


/*各活动*/
.item p .pintuanIng{color: #9A4DF3}
.item p .miaoshaIng{color: #1B9FFF}
.item p .kanjiaIng{color: #FF8A00}
.item p .qianggouIng{color: #FF0059}

.item .o a.noBaom i {display: inline-block; width: 18px; height: 18px; vertical-align: middle; margin: -2px 2px 0 0; background-image: url(../images/shop/baomIcon.png); background-repeat: no-repeat;}
