
/*活动*/
.content1 .con{background: #fff;padding: 28px 0;border-bottom: 1px solid #eee;margin: 0 30px;position: relative;}
.content1 .conTop .topImg{float: left;width: 164px;height: 114px;}
.content1 .conTop .topImg img{width: 100%;height: 100%;object-fit: cover;}
.content1 .conTop .huodong_topInfo{margin-left: 181px;height: 114px;}
.content1 .conTop .huodong_topInfo h3{font-size: 24px;color: #333;font-weight: bold;padding-top: 2px;}
.content1 .conTop .huodong_topInfo p{font-size: 14px;color: #666;margin-top: 3px;}
.content1 .conTop .huodong_topInfo h4{font-size: 14px;color: #999;margin-top: 14px;}

.content1 .conBot{position: absolute;right: 0;top: 50%;margin-top: -20px;}
.content1 .conBot a{display: block;height: 40px;line-height: 40px;font-size: 18px;color: #fff;background: #1A67E7;box-shadow: 0px 3px 10px 0px rgba(26, 103, 231, 0.29);border-radius: 44px;padding: 0 34px;}

/*已报名*/
/*选项卡*/
.joincomTab{padding: 50px 30px 0px;}
.joincomTab ul.stateUl{padding:0px 6px;}
.joincomTab ul.stateUl li{ position: relative;text-align: center;  font-size: 16px; float: left;margin-right: 74px;}
.joincomTab ul.stateUl li a{display: block;padding-bottom:10px;}
.joincomTab ul.stateUl li.active a{color: #347DF6;font-weight: bold;}
.joincomTab ul.stateUl li s{display: inline-block;width: 36px;height: 4px;background: #fff;position: absolute;bottom: 0;left: 50%;margin-left: -18px;}
.joincomTab ul.stateUl li.active s{background: #347DF6;}
.joincomTab ul.stateUl li:hover a{color: #347DF6;font-weight: bold;}
.joincomTab ul.stateUl li:hover s{background: #347DF6;}
.joincomTab ul.typeUl{margin: 23px 0px 10px;}
.joincomTab ul.typeUl li{float: left;margin-right:10px;border-radius: 4px;border: 1px solid #eee;font-size: 16px}
.joincomTab ul.typeUl li a{color: #666;display: block;padding: 0 18px;height: 38px;line-height: 38px;}
.joincomTab ul.typeUl li:hover{border: 1px solid #347DF6;background:#347DF6;}
.joincomTab ul.typeUl li:hover a{color: #fff}
.joincomTab ul.typeUl li.active{border: 1px solid #347DF6;background:#347DF6; }
.joincomTab ul.typeUl li.active a{color: #fff;}
.joincomTab .search{display: flex;}
.joincomTab .search input{outline: none;width: 205px;height: 36px;background: #FFFFFF;border: 1px solid #E1E1E1;border-radius: 2px 0px 0px 2px;box-sizing: border-box;padding-left: 10px;font-size: 14px;}
.joincomTab .search input::placeholder{font-weight: 400;color: #999999;}
.joincomTab .search div{width: 60px;height: 36px;background: #347DF6;border-radius: 0px 2px 2px 0px;display: flex;align-items: center;justify-content: center;cursor: pointer;}
.joincomTab .search div:hover{opacity: .9;}
.joincomTab .search div img{width: 22px;height: 22px;}

.shop_join .item{margin: 0 30px;padding: 20px 0;}
.shop_join .item .p{width: 100px;height: 100px;border-radius: 6px;overflow: hidden;margin-left: 0;}
.shop_join .item .p a{width: 100px;height: 100px;}
.shop_join .item .p span{display: inline-block;position: absolute;left: 0;bottom: 0;padding: 0 14px;height:28px ;line-height: 28px;font-size: 14px;color: #fff;border-radius: 0px 6px 0px 6px;background: rgba(0,0,0,.6);}
.shop_join .item .p a img{width: 100%;height: 100%;object-fit: cover;display: block;}
.shop_join .item .i h5 {margin-top: 6px;}
.shop_join .item .i h5 span{display: inline-block;height: 24px;padding: 0 8px;line-height: 24px;
border-radius: 6px 0px 6px 0px;margin-right: 5px;font-size: 14px;color: #fff;overflow: hidden;    vertical-align: top;}
.shop_join .item .i h5 span.tuan{background: #9A4DF3}
.shop_join .item .i h5 span.miaosha{background: #1B9FFF}
.shop_join .item .i h5 span.bargain{background: #FF8A00}
.shop_join .item .i h5 span.qianggou{background: #FF0059}
.shop_join .item .i .priceDiv{}
.shop_join .item .i .priceDiv span{color: #EC3628;font-size: 14px}
.shop_join .item .i .priceDiv span strong{font-size: 22px;}
.shop_join .item .i .priceDiv s{font-size: 16px;color: #666;margin-left:7px}

.shop_join .item .i p{font-size: 14px;color: #999;margin-top: 4px;}

.shop_join .item .o a.yulan i {display: inline-block; width: 18px; height: 18px; vertical-align: middle; margin: -2px 2px 0 0; background-image: url(../images/shop/icon_see.png); background-repeat: no-repeat;}


.shop_join .item .i .ingDiv{background: #F8F8F8;border-radius: 4px;padding: 0 20px;margin-top: 10px;position: relative;font-size: 0;}
.shop_join .item .i .ingDiv dl{display: inline-block;font-size: 0;margin-right: 42px;height: 40px;line-height: 40px;}
.shop_join .item .i .ingDiv dl dt{display: inline-block;font-size: 16px;color: #999;margin-right:10px;}
.shop_join .item .i .ingDiv dl dd{display: inline-block;font-size: 16px;color: #347DF6;font-weight: bold;}

