<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
<title>管理活动</title>
{#$cssFile#}
<style>
    .search .input-append, .search .input-prepend {margin-bottom: 0;}
    .search .add-on.sel {padding: 0!important; height: 33px;}
    .search .add-on.sel select {border: 0; background: transparent; width: 90px; height: 32px;}
    .search .input-prepend input {border-radius: 0!important;}
</style>
</head>

<body>
<div class="alert alert-success" style="margin:10px 100px 0 10px;"><button type="button" class="close" data-dismiss="alert">×</button><font color="#ff0000">注意：参加了活动的商品将不再参与分销返佣金！</font><br />商城活动配置教程：<a href="https://help.kumanyun.com/help-207-731.html" target="_blank">https://help.kumanyun.com/help-207-731.html</a></div>

<div class="search">
  <label>搜索：</label>
  <div class="input-prepend input-append">
    <span class="add-on sel">
        <select id="searchtypeBtn">
            <option value="1">商品标题</option>
            <option value="2">店铺名称</option>
        </select>
    </span>
    <input class="input-large" type="search" id="keyword" placeholder="请输入要搜索的关键字" value="">
  </div>
  &nbsp;&nbsp;活动时间&nbsp;&nbsp;<input class="input-medium" type="text" id="stime" placeholder="开始时间">&nbsp;&nbsp;-&nbsp;&nbsp;<input class="input-medium" type="text" id="etime" placeholder="结束时间">&nbsp;&nbsp;
<!--  <div class="btn-group" id="typeBtn" data-id="">-->
<!--    <button class="btn dropdown-toggle" data-toggle="dropdown">全部分类<span class="caret"></span></button>-->
<!--  </div>-->
<!--  <div class="choseCity"><input type="hidden" id="cityList" name="cityList" placeholder="请选择城市分站" value=""></div>-->
  <button type="button" class="btn btn-success" id="searchBtn">立即搜索</button>
</div>

<div class="filter clearfix">
  <div class="f-left">
    <div class="btn-group" id="selectBtn">
      <button class="btn dropdown-toggle" data-toggle="dropdown"><span class="check"></span><span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="javascript:;" data-id="1">全选</a></li>
        <li><a href="javascript:;" data-id="0">不选</a></li>
      </ul>
    </div>
    <button class="btn" data-toggle="dropdown" id="delBtn">删除</button>
    <div class="btn-group" id="stateBtn"{#if $notice#} data-id="0"{#/if#}>
      {#if $notice#}
      <button class="btn dropdown-toggle" data-toggle="dropdown">待审核(<span class="totalGray"></span>)<span class="caret"></span></button>
      {#else#}
      <button class="btn dropdown-toggle" data-toggle="dropdown">全部信息(<span class="totalCount"></span>)<span class="caret"></span></button>
      {#/if#}
      <ul class="dropdown-menu">
        <li><a href="javascript:;" data-id="">全部信息(<span class="totalCount"></span>)</a></li>
        <li><a href="javascript:;" data-id="0">待审核(<span class="totalGray"></span>)</a></li>
        <li><a href="javascript:;" data-id="1">已审核(<span class="totalAudit"></span>)</a></li>
        <li><a href="javascript:;" data-id="2">拒绝审核(<span class="totalRefuse"></span>)</a></li>
      </ul>
    </div>
<!--    <button class="btn" data-toggle="dropdown" id="addProperty">添加属性</button>-->
<!--    <button class="btn" data-toggle="dropdown" id="delProperty">删除属性</button>-->
    <div class="btn-group hide" id="batchAudit">
      <button class="btn dropdown-toggle" data-toggle="dropdown">批量审核<span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="javascript:;" data-id="待审核">待审核</a></li>
        <li><a href="javascript:;" data-id="已审核">已审核</a></li>
        <li><a href="javascript:;" data-id="拒绝审核">拒绝审核</a></li>
      </ul>
    </div>
    <div class="btn-group" id="propertyBtn">
      <button class="btn dropdown-toggle" data-toggle="dropdown">全部<span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="javascript:;" data-id="">全部</a></li>
        <li><a href="javascript:;" data-id="1">准点抢购</a></li>
        <li><a href="javascript:;" data-id="2">特价秒杀</a></li>
        <li><a href="javascript:;" data-id="3">砍价狂欢</a></li>
        <li><a href="javascript:;" data-id="4">拼团</a></li>
      </ul>
    </div>
  </div>
  <div class="f-right">
    <div class="btn-group" id="pageBtn" data-id="20">
      <button class="btn dropdown-toggle" data-toggle="dropdown">每页20条<span class="caret"></span></button>
      <ul class="dropdown-menu pull-right">
        <li><a href="javascript:;" data-id="10">每页10条</a></li>
        <li><a href="javascript:;" data-id="15">每页15条</a></li>
        <li><a href="javascript:;" data-id="20">每页20条</a></li>
        <li><a href="javascript:;" data-id="30">每页30条</a></li>
        <li><a href="javascript:;" data-id="50">每页50条</a></li>
        <li><a href="javascript:;" data-id="100">每页100条</a></li>
      </ul>
    </div>
    <button class="btn disabled" data-toggle="dropdown" id="prevBtn">上一页</button>
    <button class="btn disabled" data-toggle="dropdown" id="nextBtn">下一页</button>
    <div class="btn-group" id="paginationBtn">
      <button class="btn dropdown-toggle" data-toggle="dropdown">1/1页<span class="caret"></span></button>
      <ul class="dropdown-menu" style="left:auto; right:0;">
        <li><a href="javascript:;" data-id="1">第1页</a></li>
      </ul>
    </div>
  </div>
</div>

<ul class="thead t100 clearfix">
  <li class="row3">&nbsp;</li>
  <li class="row20 left">商品</li>
  <li class="row15 left">店铺</li>
  <li class="row10 left">分类</li>
  <li class="row10 left">活动价格</li>
  <li class="row10 left">活动库存</li>
  <li class="row12">开始/结束时间</li>
  <li class="row10">状态</li>
  <li class="row10">操作</li>
</ul>

<div class="list mt124" id="list" data-totalpage="1" data-atpage="1"><table><tbody></tbody></table><div id="loading" class="loading hide"></div></div>

<div id="pageInfo" class="pagination pagination-centered"></div>

<div class="hide">
  <span id="sKeyword"></span>
  <span id="start"></span>
  <span id="end"></span>
  <span id="sType"></span>
  <span id="sAddr"></span>
  <span id="searchtype"></span>
</div>
<script id="propertyForm" type="text/html">
  <form action="" class="quick-editForm" name="editForm">
    <dl class="clearfix">
      <dt>自定义属性：</dt>
      <dd class="clearfix">
        <label><input type="checkbox" name="flags" value="0" />热门</label>&nbsp;&nbsp;
        <label><input type="checkbox" name="flags" value="1" />推荐</label>
      </dd>
    </dl>
  </form>
</script>
<script>
  var typeListArr = {#$typeListArr#}, cityList = {#$cityList#},action = '{#$action#}',addrListArr = {#$addrListArr#}, adminPath = "{#$adminPath#}";
</script>
{#$jsFile#}
</body>
</html>
