<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
<title>限购场次设置</title>
{#$cssFile#}
  <style>
    body{background:#fff;}
    #list .root input.semdinput{width: 60%}
    .list .tr div.input-append{padding-top: 2px}
    .list .tr{padding-top: 10px}
  </style>
</head>

<body>
<div class="alert alert-success" style="margin:10px 100px 0 10px;"><button type="button" class="close" data-dismiss="alert">×</button>商城活动配置教程：<a href="https://help.kumanyun.com/help-207-731.html" target="_blank">https://help.kumanyun.com/help-207-731.html</a></div>

<ul class="thead clearfix" style="margin:10px 10px 0;">
  <li class="row30 left">&nbsp;&nbsp;&nbsp;&nbsp;名 称</li>
  <li class="row50 left">时 间</li>
  <li class="row10 left">名 额</li>
  <li class="row10 left">操 作</li>
</ul>

<form class="list mb50" id="list">
  <input type="hidden" id="token" value="{#$token#}" />
  <ul class="root">
    {#if $levelList neq ""#}
    {#foreach from=$levelList key=k item=i#}
    <li class="clearfix tr">
      <div class="row30 left">&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="hname{#$k#}" data-id="{#$i.id#}" value="{#$i.title#}" /></div>
      <div class="row50 left">
        <input class="chooseTime" id="start_time{#$k#}" type="text" value="{#$i.ktime#}" name="start_time{#$k#}" />至
        <input class="chooseTime" id="stop_time{#$k#}" type="text" value="{#$i.etime#}" name="end_time{#$k#}" />
        <div class="errorMessage" id="Config_shop_start_time_em_" style="display:none"></div>
        <div class="errorMessage" id="Config_shop_stop_time_em_" style="display:none"></div>
        </div>
      <div class="row10 left"><input type="text" class="semdinput" value="{#$i.number#}"></div>
      <div class="row10 left"><a href="javascript:;" class="del" title="删除">编辑删除</a></div>
    </li>
    {#/foreach#}
    {#/if#}

  </ul>
  <div class="tr clearfix">
    <div class="row80 left">&nbsp;&nbsp;<a href="javascript:;" class="add-type" style="display:inline-block;" id="addNew">新增限购场次</a></div>
  </div>
  <button type="button" class="btn btn-success" id="saveBtn">保存</button>
</form>

<script>
  var adminPath = "{#$adminPath#}";
</script>
{#$jsFile#}
</body>
</html>
