<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
<title>家政分类</title>
<style type="text/css">
  .sholder img{width: 300px; height: 200px};
</style>
{#$cssFile#}
</head>

<body>
<div class="search" style="position:relative;">
  <label>搜索：<input class="input-xlarge" type="search" id="keyword" placeholder="请输入要搜索的关键字"></label>
  <button type="button" class="btn btn-success" id="searchBtn">搜索</button>
  <button type="button" class="btn btn-danger" id="batch" style="margin-left: 50px;">批量删除</button>
  <div class="tool">
    <a href="javascript:;" class="add-type" style="display:inline-block;" id="addNew_">添加新分类</a>
  </div>
</div>

<ul class="thead clearfix" style="position:relative; top:0; left:0; right:0; margin:0 10px;">
  <li class="row3">&nbsp;</li>
  <li class="row60 left">分类名称</li>
  <li class="row20">排序</li>
  <li class="row17 left">&nbsp;&nbsp;操 作</li>
</ul>

<form class="list mb50" id="list" style="margin-top:-10px;">
  <ul class="root"></ul>
  <div class="tr clearfix">
    <div class="row3"></div>
    <div class="row80 left"><a href="javascript:;" class="add-type" style="display:inline-block;" id="addNew">添加新分类</a></div>
  </div>
</form>
<div class="fix-btn"><button type="button" class="btn btn-success" id="saveBtn">保存</button></div>

<script>
  var typeListArr = {#$typeListArr#}, action = '{#$action#}', adminPath = "{#$adminPath#}";
</script>
<script id="editForm" type="text/html">

  <form action="" class="quick-editForm" name="editForm">
    <dl class="clearfix">
      <dt>标题：</dt>
      <dd><input class="input-xlarge" type="text" name="title" id="title" maxlength="30" value="" /></dd>
    </dl>
    <dl class="clearfix variable variable-2" id="type0">
    <dt>上传图片：</dt>
      <dd>
        <input name="litpic" type="hidden" id="litpic_" value="" />
        <div class="spic{#if $litpic == "" #} hide{#/if#}">
          <div class="sholder" id="litpic_Preview">
             <!-- <a href="javascript:;" class="reupload" onclick="cxsc()">重新上传</a> -->
          </div>
        </div>
        <iframe id="iframe" src ="/include/upfile.inc.php?mod=homemaking&type=thumb&obj=litpic_&filetype=image" style="width:100%; height:25px; scrolling="no" frameborder="0" marginwidth="0" marginheight="0"></iframe>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt>详细信息：</dt>
      <dd><textarea name="note" class="input-xlarge" id="note"></textarea></dd>
    </dl>
  </form>
<!-- 
  <script type="text/javascript">
      function cxsc(){
      var t = $(this), parent = t.parent(), input = parent.prev("input"), iframe = parent.next("iframe"), src = iframe.attr("src");
      delFile(input.val(), false, function(){
        input.val("");
        t.prev(".sholder").html('');
        parent.hide();
        iframe.attr("src", src).show();
      });
    }
  </script> -->
</script>
{#$jsFile#}
</body>
</html>
