.btn_group a{display: block; width: 120px; height: 46px; border-radius: 4px; float: left; line-height: 46px; font-size: 16px; color: #fff; text-align: center; background: linear-gradient(90deg, #306BFF 0%, #4281FF 100%); margin-right: 10px;}
.btn_group a.btn_edit{background: none;box-sizing: border-box; border: solid 1px #306BFF; color: #306BFF; line-height: 44px; position: relative;}
.btn_group a.btn_edit:hover .optbox{display: block;}
.btn_group a.btn_edit .optbox::before{content: ''; display:block; width: 120px; height: 10px; position: absolute; top: -6px; }
.btn_group a.btn_edit .optbox{width: 120px; background: #fff; box-shadow: 0px 4px 24px 0px rgba(101, 115, 129, 0.21); border-radius: 6px; padding: 8px 0; text-align: left; position: absolute; top: 50px; display: none; animation: topFadeIn .3s ease-in-out; z-index:3;}
.btn_group a.btn_edit .optbox span{display: block; font-size: 14px; color: #333; padding-left: 20px; line-height: 38px;}
.btn_group a.btn_edit .optbox span:hover{background: #F5F5F7; color: #2672EC;}
.btn_group a.btn_edit .optbox span s{display: inline-block; width: 20px; height: 20px; background: url(../images/edit.png) no-repeat center/cover ; vertical-align: middle; margin-right: 10px}
.btn_group a.btn_edit .optbox span.del_album s{background-image: url(../images/del_1.png);}

.imgList_ul{margin-top: 20px;}
.imgList_ul>li{width: 250px; height: 190px; float: left; margin-bottom: 20px; background: #f5f5f5; margin-right: 20px;position: relative;border-radius: 4px}
.imgList_ul>li img{width: 100%; height: 100%; border-radius: 4px; object-fit: cover;}
.img_upload{margin-right:20px; float: left;}
.img_upload .upload_btn{width: 250px; height: 190px; border: solid 1px #E5E5E5; color: #306BFF; box-sizing: border-box; font-size: 12px; border-radius: 4px; text-align: center;  display: flex; align-items: center; flex-direction: column; justify-content: center; overflow: hidden; float: left;  position: relative; background: none;  box-sizing: border-box; z-index:1;}
/*.imgList_ul>li:nth-child(6n){margin-right: 0}*/
.img_upload .upload_btn p{margin: 0}
.img_upload .upload_btn label,.img_upload .upload_btn input{width: 100%; height: 100%; position: absolute; left: 0; top: 0; bottom: 0; right: 0; opacity: 0;}
.img_upload .upload_btn.hide{display: none;}
.img_upload .upload_btn s{display: block; width: 60px; height: 50px; background: url(../images/upload.png) no-repeat center/cover; margin:0 auto; }
.inpbox .tip{font-size: 12px; color: #A6A6A6; margin-top: 10px; padding-bottom: 10px;}
.img_upload.video_upload .upload_btn s{width: 40px; height: 40px; background: url(../images/add_video.png) no-repeat center/40px}
.img_upload .imgShow{width: 250px; height: 190px;  border-radius: 4px; position: relative;}
.img_upload .imgShow .pubitem{width: 250px; height: 190px;  border-radius: 4px; position: relative;}
.img_upload .imgShow img,.img_upload .imgShow video{width: 100%; height: 100%; object-fit: cover; border-radius: 4px;}
.player{display: block; width: 40px; height: 40px; position: absolute; left: 0; right: 0; bottom: 30px;top: 0; background: url(../images/v-icon.png) no-repeat center/cover; margin: auto;}
.img_upload video{background: #f5f5f5; object-fit: scale-down !important;}
.player.ing{display: none;}
.img_upload .info{font-size: 12px; display: none;}
.img_upload .imgShow .li-rm{position: absolute; left: 0; right: 0; bottom: 0; line-height: 30px; color: #fff; background-color: rgba(0,0,0,.6); border-radius: 0 0 4px 4px; font-size: 12px; text-align: center;}
.img_upload .tip{font-size: 12px; color: #A6A6A6; margin-top: 10px; padding-bottom: 10px;}
.imgList_ul>li .del{display: block; width: 28px; height: 28px; background: url(../images/del_2.png) no-repeat center/cover; position: absolute; top: 10px; right: 10px;}

/* 修改上传图片样式 */
.li-move,.li-info{display: none !important;}
.li-thumb{width: 100%; height: 100%;}
.imgList_ul>li .del_btn{display: block; width: 28px; height: 28px; background: url(../images/del_2.png) no-repeat center/cover; position: absolute; top: 10px; right: 10px;}

.imgList_ul>li s{ width: 20px; height: 20px; background: url(../images/radio.png) no-repeat center/cover; position: absolute; left: 8px; top: 8px; display: none;}
.imgList_ul>li.chosed s{background-image: url(../images/radio_chose.png);}
.imgList_ul.piliang>li .del_btn{display: none;}
/* 全选管理 */
.btn_group a.btn_piliang{margin-right: 24px;}
.piliang.imgList_ul>li s{display: block;}
.btn_group .eidt_groups span{display: inline-block; vertical-align: middle; font-size: 14px; color: #666; margin-right: 34px; line-height: 46px; cursor: pointer;}
.btn_group .eidt_groups span s{display: inline-block; width: 16px; height: 16px; background: url(../images/check1.png) no-repeat center/cover; margin-right: 7px; vertical-align: middle; margin-bottom: 2px}
.btn_group .eidt_groups span.chosed s{background-image:url(../images/check_chose.png) }
.btn_group .eidt_groups span.all_del s{background-image: url(../images/del_3.png); width: 18px;}
.disabled_btn{pointer-events: none}
.li-desc{display: none !important;}

.formbox {padding-top: 20px;}
.formbox .img_upload .upload_btn.album_img{width: 130px; height: 92px;}
.formbox .img_upload{margin-left: 20px}
.formbox .pubitem{width: 130px; height: 92px; position: relative; border-radius: 6px; margin-right: 10px}
.formbox .pubitem img{width: 100%; height: 100%;  border-radius: 6px; object-fit: cover}
.formbox .pubitem .ibtn,.formbox .pubitem .li-desc{display: none !important;}
.formbox .pubitem .li-rm{display: block; width: 20px; height: 20px; background: url(../images/del_img.png) no-repeat center/cover; position: absolute; top: -6px; right: -6px;}
#listSection1{display: block !important;}