/* 表单样式 */
ul{margin: 0;}
a:hover{text-decoration: none;}
.formbox{padding-top: 37px; padding-bottom: 45px;}
.inpbox{min-height: 46px; margin-bottom: 20px;}
.inpbox label{font-size: 14px; color: #666; float: left; width: 140px; text-align: right; line-height: 46px; box-sizing: border-box; padding-left: 20px;}
.inpbox label em{color: #FF0000; display: none;}
.inpbox.required label em{display: inline;}
.inpbox .inp_div{margin-left: 158px; }
.inpbox .inp{width: 450px; height: 46px; border: solid 1px #E5E5E5; box-sizing: border-box; position: relative; }
.inpbox .inp_textarea{width: 700px; height: 266px;}
.inpbox .inp_textarea textarea{width: 100%; height: 100%; border: none; resize: none; border: solid 1px #E5E5E5; box-sizing: border-box; outline: none; padding: 12px 10px; font-size: 14px;}
.inpbox .inp_textarea textarea::placeholder{color: #B1B7CC; }
.inpbox .inp .addrBtn{background: none;line-height: 46px; font-size: 14px; overflow: hidden; width: 100%; height: 100%; border: none; padding-left: 11px;}
.inpbox .inp input{font-size: 14px; height: 44px; border: none; padding-left: 11px; width: 100%; outline: none; box-sizing: border-box;}
.inpbox input::placeholder{color: #B1B7CC;}
.inpbox .inp_div.sel_inp .inp input{padding-right: 30px;}
.inpbox .inp_div.sel_inp .inp s{display: block; width: 36px; height: 16px; background: url(../images/arr_1.png) no-repeat center/16px #fff; position: absolute; right: 0; top: 0; bottom: 0;margin: auto; pointer-events: none;}
.inpbox .inp_div.addr_inp .inp{display: inline-block; width: 400px; vertical-align: middle;}
.addr_btn{display: inline-block; width: 36px; height: 36px; background: url(../images/addr.png) no-repeat center/cover; vertical-align: middle; margin-left: 10px;}

.inpbox.bottom_low{margin-bottom: 10px;}
.inpbox .route_inp ul li{display: inline-block; font-size: 14px; color: #858999; height: 46px; box-sizing: border-box; border-radius: 4px; border: dashed 1px #D7D7D9;  line-height: 44px; padding-left: 10px; padding-right: 40px; margin-right: 10px; background-color: #F9F9F9; position: relative; margin-bottom: 8px;}
.inpbox .route_inp ul li .del_route{display: block; width: 18px; height: 18px; background: url(../images/del.png) no-repeat center/cover; position: absolute; right: 8px; top: 0; bottom: 0; margin: auto;}
.inpbox .route_inp .chose_route{display: inline-block; width: 90px; height: 46px; border-radius: 4px; background-color: #4281FF; color: #fff; text-align: center; line-height: 46px; font-size: 16px; margin-bottom: 10px;}

.inp_div.img_upload{margin-top: 8px;}
.img_upload.inp_div .upload_btn{width: 150px; height: 107px; border: solid 1px #E5E5E5; color: #306BFF; box-sizing: border-box; font-size: 12px; border-radius: 4px; text-align: center;  display: flex; align-items: center; flex-direction: column; justify-content: center; overflow: hidden; position: relative; background: none; float: left; position: relative; z-index: 1;}
.img_upload.inp_div .upload_btn p{margin: 0}
.img_upload.inp_div .upload_btn label,.img_upload.inp_div .upload_btn input{width: 100%; height: 100%; position: absolute; left: 0; top: 0; bottom: 0; right: 0; opacity: 0;}
.img_upload.inp_div .upload_btn.hide{display: none;}
.img_upload.inp_div .upload_btn s{display: block; width: 60px; height: 50px; background: url(../images/upload.png) no-repeat center/cover; margin:0 auto; }
.inpbox .tip{font-size: 12px; color: #A6A6A6; margin-top: 10px; padding-bottom: 10px;}

.img_upload.inp_div .imgShow{width: 150px; height: 107px;  border-radius: 4px; position: relative;}
.img_upload.inp_div .imgShow .pubitem{width: 150px; height: 107px;  border-radius: 4px;}
.img_upload.inp_div .imgShow img{width: 100%; height: 100%; object-fit: cover;}
.img_upload.inp_div .imgShow .reupload{position: absolute; left: 0; right: 0; bottom: 0; line-height: 30px; color: #fff; background-color: rgba(0,0,0,.6); border-radius: 0 0 4px 4px; font-size: 12px; text-align: center;}

.sale_inp.inp_div .inp{display: inline-block; width: 305px; vertical-align: middle;}
.sale_inp.inp_div .selecte_box{display: inline-block; width: 100px; height: 46px; border: solid 1px #E5E5E5; border-left: none; vertical-align: middle; margin-left: -4px; box-sizing: border-box; position: relative;}
.sale_inp.inp_div .selecte_box select,.selecte_box select{border: none; font-size: 14px; color: #333; width: 100%; height: 100%; text-align: center; outline: none;}
.sale_inp.inp_div .txt{display: inline-block; width: 44px; text-align: center; line-height: 46px; height: 46px; vertical-align: middle; border: solid 1px #E5E5E5; background-color: #F9F9F9; color: #666; font-size: 14px; margin-left: -4px; box-sizing: border-box;}
.sale_inp.inp_div .last_tip{display: inline-block; margin-left: 10px; color: #A6A6A6; line-height: 46px; vertical-align: middle;}

.sale_inp.inp_div .selecte_box s{display: block; width: 20px; height: 16px; background: url(../images/arr_1.png) no-repeat left center/16px #fff; position: absolute; right: 0; top: 0; bottom: 0;margin: auto;}

.checkbox{padding-left: 0;}
.radiobox.inp_div li,.checkbox.inp_div li{display: inline-block; line-height: 46px; position: relative; height: 46px; overflow: hidden; font-size: 14px; color: #333; margin-right: 30px;}
.radiobox.inp_div li s,.checkbox.inp_div li s{display: inline-block; width: 20px; height: 20px; background: url(../images/radio.png) no-repeat center/cover; vertical-align: middle; margin-right: 6px;}
.checkbox.inp_div li s{background-image: url(../images/check.png);}
.checkbox.inp_div li.check s{background-image: url(../images/check_chose.png);}
.radiobox.inp_div li.chose s{background-image: url(../images/radio_chose.png);}
.radiobox.inp_div li input[type='radio'],.checkbox.inp_div li input[type='checkbox']{width: 100%; height: 46px; position: absolute; left: 0; right: 0; top: 0; bottom: 0; opacity: 0;}

.submit{display: block; width: 160px; height: 46px; border-radius: 4px; background: linear-gradient(90deg, #306BFF 0%, #4281FF 100%); color: #fff; font-size: 16px; text-align: center; line-height: 46px; margin-left: 158px;}
.submit:hover{text-decoration: none; color: #fff;}
.huxing_sub.submit{display: inline-block; vertical-align: middle;}
.huxing_sub.del{display: inline-block; width: 160px; height: 46px; border-radius: 4px; font-size: 16px; vertical-align: middle; line-height: 46px; text-align: center; background: #f5f5f5; margin-top: 20px; margin-left: 10px; color: #666;}

/* 选择标签 */
.nav-tabs>li>a{padding-top: 8px;padding-bottom: 8px;line-height: 20px;border: 1px solid transparent;-webkit-border-radius: 4px 4px 0 0;-moz-border-radius: 4px 4px 0 0;border-radius: 4px 4px 0 0; color: #2672ec; transition: all .2s linear; margin-right: 2px;}
.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus{color: #555;cursor: default;background-color: #fff;border: 1px solid #ddd;border-bottom-color: transparent;}
.nav-tabs {border-bottom: 1px solid #ddd; margin-bottom:10px !important; }
.nav-tabs>li, .nav-pills>li{float: left; height: auto; line-height: 25px;}
.selectTags a:hover {text-decoration:none;}
.selectTags .nav-tabs a{    padding: 5px 8px; font-size: 12px;}
.selectTags .nav-tabs::after{content: ''; display: block; clear: both;}
.selectTags .selectedTags {width: 100%; padding:0 0 6px; line-height:25px;}
.selectTags .selectedTags span {display:inline-block; background-color:#81befb; border:1px solid #70b0f0; padding:0 5px; color:#fff; margin:0 4px 4px 0;}
.selectTags .selectedTags span a {font-size:10px; color:#fff; line-height:25px; padding-left:5px; display:inline-block; vertical-align:bottom;}
.selectTags .nav-tabs a {padding:5px 8px; font-size:12px;}
.selectTags .tag-list span {display:inline-block; margin:0 4px 4px 0; padding:0 5px; color:#a0a0a0; line-height:25px; border:1px solid #e6e6e6; background-color:#fff; cursor:pointer;}
.selectTags .tag-list span a {font-size:10px; color:#a0a0a0; line-height:25px; padding-left:5px; display:inline-block; vertical-align:bottom;}
.selectTags .tag-list span.checked {background:#a4d2ff; border-color:#a4d2ff; color:#000;}
.selectTags .tag-list span.checked a {color:#000;}

/* 营业时间 */
.input-prepend {margin-right: 10px; margin-bottom: 10px;}
.input-prepend .add-aft{border-radius: 0;}

/* 前缀和附加输入框 */
.input-append {float: left; font-size: 0; white-space: nowrap; vertical-align: middle;}
.input-append input {float: left; position: relative; margin-bottom: 0;  font-size: 14px; border: 1px solid #d8d8d8;  height: 46px; line-height: 32px; vertical-align: top;  width: 112px;   box-sizing: border-box;  padding-left: 10px;}
.input-append select {padding-right: 0;}
.input-prepend input { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }
.input-append input:focus, .input-append select:focus {outline:0;}
.input-append .add-aft{float: left; display: block; width: auto; height: 46px; width: 50px;  font-size: 14px; font-weight: normal; line-height: 44px; text-align: center;  background-color: #F9F9F9; border: 1px solid #e5e5e5; vertical-align: top; box-sizing: border-box; border-right: none;}

.input-append .add-aft {margin-left: -1px; }
.input-append .add-center {margin-left: -1px; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;}
.input-append .add-right {-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; margin-left: -1px;}

.inpbox .inp_div.sm_inp .inp{width: 212px; display: inline-block; vertical-align: middle;}
.inpbox .inp_div.sm_inp.nodw .inp{width: 261px;}
.inpbox .inp_div span.dw{width: 50px; height: 46px; background-color: #f9f9f9; border: solid 1px #E5E5E5; box-sizing: border-box; line-height: 44px; text-align: center; display: inline-block;  vertical-align: middle; margin-left: -1px; font-size: 14px; color: #333;}

/* 配套 */
.peitaoList dl{margin-bottom: 10px;}
.inp_div .icon_inp{position: relative;}
.inp_div .icon_inp i.del_dl{display: block; width: 20px; height: 20px; background: url(../images/del_1.png) no-repeat center/cover; position: absolute; right: -25px; top: 0; bottom: 0; margin: auto;}
.inp_div .con_inp{height: 116px; margin-top: -1px;}
.inp_div .con_inp textarea{height: 100%; border: none; width: 100%; resize: none; font-size: 14px; box-sizing: border-box; padding-top: 14px; padding-left: 10px; outline: none;}
.inp_div .con_inp textarea::placeholder{color: #B1B7CC;}

.add_peitao{width: 450px; height: 46px; box-sizing: border-box; background-color: #F0F4FF; color: #4281FF; font-size: 16px; text-align: center; line-height: 44px; border:dashed 1px #C6CEEA;  display: block;}
.add_peitao:hover{color:#4281FF; }


/* 新增户型 */
.inline_inp.inp_div .inp{display: inline-block; width: 92px; height: 46px; vertical-align: middle;}
.inline_inp.inp_div li .dw{margin-left: -5px;}
.inline_inp.inp_div li{display: inline-block; margin-right: 8px;}
.inline_inp.inp_div li select{box-sizing: border-box; padding-left: 6px;}

.pics_upload.img_upload.inp_div .upload_btn{width:130px; height: 92px;}
.pics_upload.img_upload.inp_div .upload_btn s{width: 50px; height: 34px;}
.pics_upload.img_upload.inp_div .imgShow{width:130px; height: 92px;}
.inp_div.xs_inp .inp{width: 112px; height: 46px; display: inline-block; vertical-align: middle;}
.inp_div.xs_inp span.dw{margin-left: -5px !important; }
.inp_div.xs_inp.selecte_box .inp{width: 162px}
.inp_div.xs_inp.selecte_box .inp select{box-sizing: border-box; padding-left: 6px;}
.xs_inp.inp_textarea{width: 520px; height: 126px}


/* 上传户型 */
.picsInp .li-move,.picsInp .li-info,.picsInp .inputVal{display: none !important;}
.picsInp li{position: relative;}
.picsInp .upload_btn{margin-right: 10px;}
.picsInp .li-thumb{width: 100%; height: 92px; }
.picsInp .li-thumb img{width: 100%; height: 100%; object-fit: cover; border-radius: 4px; display: block;}
.picsInp .thumblist li{width: 130px; height: 92px; background: #FFF3E5; border: 1px solid #E5E5E5; border-radius: 4px; margin-right: 10px; margin-bottom: 10px;}
.picsInp .li-rm{display: block; width: 20px; height: 20px; background: url(../images/del_img.png) no-repeat center/cover; position: absolute; right:-6px; top: -6px; }
.picsInp .tip{margin-top: 0}


#container{min-height: 500px ;width: 100%}



/* 上传多张图片样式修改 */
.img_upload.inp_div .imgShow img{border-radius: 4px;}
.li-thumb{height: 100%; width: 100%;}
.onepicsInp .li-rm .hide.rtxt{display: block; color: #fff; text-align: center;}
.li-info,.li-move{display: none !important;}
.onepicsInp .pubitem{position: relative;}
.onepicsInp .li-rm{position: absolute; left: 0; right: 0; bottom: 0; line-height: 30px; color:  rgba(0,0,0,.6); background-color: rgba(0,0,0,.6); border-radius: 0 0 4px 4px; font-size: 12px; text-align: center; height: 30px}




/* 确认弹窗 */
.pop_mask{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,.6); z-index: 5; display:none;}
.Popbox{position: fixed; top: 0; left: 0; right: 0; bottom: 0; margin: auto; z-index: 5; animation: popup .3s ease-in-out; background: #fff; border-radius: 10px; }
.confirm_del{width: 370px; height: 215px; box-sizing: border-box; padding-top: 40px}
.confirm_del h3{font-size: 18px; color: #333; margin: 0 30px; font-weight: bold; text-align: center;}
.confirm_del p{font-size: 14px; color: #666; text-align: center; margin-top: 10px;}
.confirm_del.Popbox .btn_group{text-align: center; margin-top: 30px}
.confirm_del.Popbox .btn_group a{width: 140px; display: inline-block; float: none; margin: 0 10px}
.confirm_del.Popbox .btn_group a.cancel_del{background: #DEDEE0; color: #666;}
.confirm_del .btn_group a{display: block; width: 120px; height: 46px; border-radius: 4px; float: left; line-height: 46px; font-size: 16px; color: #fff; text-align: center; background: linear-gradient(90deg, #306BFF 0%, #4281FF 100%); margin-right: 10px;}
.confirm_del .btn_group a.btn_edit{background: none;box-sizing: border-box; border: solid 1px #306BFF; color: #306BFF; line-height: 44px; position: relative;}
.confirm_del .btn_group a.btn_edit:hover .optbox{display: block;}
.confirm_del .btn_group a.btn_edit .optbox::before{content: ''; display:block; width: 120px; height: 10px; position: absolute; top: -6px; }
.confirm_del .btn_group a.btn_edit .optbox{width: 120px; background: #fff; box-shadow: 0px 4px 24px 0px rgba(101, 115, 129, 0.21); border-radius: 6px; padding: 8px 0; text-align: left; position: absolute; top: 50px; display: none; animation: topFadeIn .3s ease-in-out; z-index:3;}
.confirm_del .btn_group a.btn_edit .optbox span{display: block; font-size: 14px; color: #333; padding-left: 20px; line-height: 38px;}
.confirm_del .btn_group a.btn_edit .optbox span:hover{background: #F5F5F7; color: #2672EC;}
.confirm_del .btn_group a.btn_edit .optbox span s{display: inline-block; width: 20px; height: 20px; background: url(../images/edit.png) no-repeat center/cover ; vertical-align: middle; margin-right: 10px}
.confirm_del .btn_group a.btn_edit .optbox span.del_album s{background-image: url(../images/del_1.png);}
