.imgBox{width: 700px; height: 570px;background: #F9F9F9; border: 1px solid #EEEEEE; border-radius: 10px; position: relative; overflow: hidden; float: left; user-select: none;}
.upload_img#filePicker1{width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column;position: relative;background: none; border: none; z-index: 1}
.upload_img s{display: block; width: 48px; height: 48px; background: url(../images/upload.png) no-repeat center/cover; margin: 0 auto;}
.upload_img  p{text-align: center; font-size: 14px; color: #306BFF; }
.upload_img label,.upload_img input{opacity: 0; position: absolute; left: 0; top: 0; bottom: 0; right:0;}
#form{margin:38px 34px 0; padding-bottom:70px}
.listSection{width: 100%; height: 100%; margin: 0; overflow: hidden;position: absolute; pointer-events: none}
#dzshapan{width: 700px; height: 570px;background: #F9F9F9; position: relative;}
#shapan-box{position: absolute;}
.listSection img.shapan-obj,#shapan-obj img{max-width: none;}
#dzshapan .reupload{position: absolute; left: 0; right: 0; bottom: 0; height: 44px; text-align: center; line-height: 44px; color: #fff; background: rgba(0,0,0,.6); border-radius: 0 0 6px 6px; z-index: 11; /*display: none*/;}

.leftCon{margin-left: 726px}
.tab_box{margin-bottom: 20px;}
.tab_box li{display: inline-block; min-width: 80px; border: solid 1px #2672EC; box-sizing: border-box; border-radius: 4px; height: 40px; margin-right: 15px; color: #4281FF; font-size: 16px; text-align: center; line-height: 38px; padding:0 4px; margin-bottom: 10px; cursor: pointer; position: relative; vertical-align: top;}
.tab_box li.chosed{background: #2672EC; color: #fff}
.tab_box li s{display: block; width: 18px; height: 18px; background: url(../images/del_img.png) no-repeat center/cover; position: absolute; top: -7px; right: -7px}
.tab_box li#add{font-size: 14px; min-width: 90px; border: dashed 1px #C6CEEA; background: #F0F4FF}
.tab_list .form .inpbox{margin-bottom: 10px}
.tab_list .form .inpbox label{float: left; font-size: 14px; color: #666; line-height: 46px; width: 70px; text-align: right;}
.tab_list .form .inpbox label em{color: #f00; margin-right: 2px;font-style: normal;}
.tab_list .form .inpbox .inp_div{margin-left: 84px; }
.tab_list .form .inp{width: 252px; height: 46px; border: solid 1px #E5E5E5; position: relative;}
.tab_list .form .inp.xs_inp{width: 122px; display: inline-block;}
.tab_list .form .inp input{width: calc(100% - 50px); height: 100%; border: none; background: none; height: 46px; color: #333; font-size: 14px ;padding: 0; outline: none !important; padding-left: 12px; box-shadow: none;}
.tab_list .form .inp input:focus{box-shadow: none; outline: none;}
.tab_list .form .inp input::placeholder{color: #B1B7CC}
.tab_list .form .inp span{width: 50px; height: 100%; background-color: #F9F9F9; color: #333; text-align: center; line-height: 46px; position: absolute; right: 0; top: 0; bottom: 0; margin: auto; display: block; font-size: 14px; border-left: 1px solid #e5e5e5}
.radiobox.inp_div li,.checkbox.inp_div li{display: inline-block; line-height: 46px; position: relative; height: 46px; overflow: hidden; font-size: 14px; color: #333; margin-right: 30px;}
.radiobox.inp_div li s,.checkbox.inp_div li s{display: inline-block; width: 20px; height: 20px; background: url(../images/radio.png) no-repeat center/cover; vertical-align: middle; margin-right: 6px;}
.radiobox.inp_div li.chose s{background-image: url(../images/radio_chose.png);}
.radiobox.inp_div li input[type='radio']{width: 100%; height: 46px; position: absolute; left: 0; right: 0; top: 0; bottom: 0; opacity: 0;}
.tab_list .form .sel_inp s{width: 16px; height: 16px; display: block; background:url(../images/arr_1.png) no-repeat center/cover; position: absolute; right: 10px; top: 0; bottom: 0; margin: auto; }


.pop_tip{width: 350px; height: 94px; background:#fff; box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.5); opacity: 0.97; border-radius: 10px; position: absolute; left: 0; right: 0; bottom:62px; box-sizing: border-box; padding-top: 20px; margin:auto; display:none; animation:bottomFadeIn .3s;}
.pop_tip h5{text-align: center; font-size: 15px; color: #333; font-weight: bold; margin: 0;}
.pop_tip p{text-align: center; color: #999; font-size: 14px; margin-top: 4px}
.submit{display: block; width: 160px; height: 46px; background: linear-gradient(90deg, #306BFF 0%, #4281FF 100%);
border-radius: 4px; color: #fff; text-align: center; line-height: 46px; font-size: 16px; margin-left: 84px ; margin-top: 30px}

.drag {position: absolute; background: #1f87ff; height: 26px; user-select: none;padding: 0 5px; min-width: 38px; cursor: move; top: 120px; text-align: center; line-height: 26px; z-index: 99; border-radius: 3px;  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); color:#fff;}
.drag i{position: absolute; width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 6px solid #1f87ff; top: 26px; left: 50%; margin-left: -5px;}
.drag.drag_1,.tab_box li.tab_1.chosed {background: #1f87ff; color:#fff; }
.tab_box li.tab_0{border: solid 1px #FF9A1F; color:#FF9A1F;}
.tab_box li.tab_1{border: solid 1px #2672EC; color:#2672EC;}
.tab_box li.tab_2{border: solid 1px #A8A8A8; color:#A8A8A8;}
.drag.drag_1 i{border-top: 6px solid #1f87ff;}
.drag.drag_0 ,.tab_box li.tab_0.chosed{background: #FF9A1F; color:#fff;}
.drag.drag_0 i{border-top: 6px solid #FF9A1F;}
.drag.drag_2 ,.tab_box li.tab_2.chosed{background: #A8A8A8; color:#fff;}
.drag.drag_2 i{border-top: 6px solid #A8A8A8;}
#shapan-box .drag.on{-webkit-animation: swing .5s linear 0s infinite alternate; -moz-animation: swing .5s linear 0s infinite alternate; animation: swing .5s linear 0s infinite alternate; z-index: 3}
#shapan-box .drag{z-index: 1}
@-moz-keyframes swing{0%{transform:translate3d(0,-4px,0)}100%{transform:translate3d(0,4px,0)}}
@-webkit-keyframes swing{0%{transform:translate3d(0,-4px,0)}100%{transform:translate3d(0,4px,0)}}
@keyframes swing{0%{transform:translate3d(0,-4px,0)}100%{transform:translate3d(0,4px,0)}}

.chzn-container {vertical-align: middle; width: 250px !important;}
.chzn-container-multi .chzn-choices {width: 240px; border: 0; padding: 0; box-shadow: none;}
.chzn-container-multi .chzn-choices .search-choice span {position: relative; width: auto; height: auto; background: transparent; line-height: 25px;}