#MobileBusinessHome .banner{
    padding: 0.2rem;
    display: flex;
    font-size: .36rem;
    font-weight: bold;
    /* background-color: rgb(51,51,51); */
}

#GoodCard{
    width: calc(50% - .16rem);
    background-color: #fff;
    margin: 0 .08rem .14rem;
    border-radius: .16rem;
    overflow: hidden;
    position: relative;
    box-shadow: 0 .04rem .1rem rgba(0,0,0,.1);
}
#GoodCard .inner{
    height: 3.6rem;
    background-color: rgb(255, 255, 255);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% center;
    position: relative;
}
#GoodCard .inner img{display: block; width: 100%; height: 100%; object-fit: cover;}
.goodCard .inner span{position: absolute;bottom:.1rem;right:.1rem; padding: 0 .08rem; color: #fff; font-size: .24rem; background-color: #969799; border-radius: .04rem; line-height: .32rem;}
.goodCon{display: flex; flex-wrap: wrap; padding-top: 0.2rem;}
.goodCard .textCon{padding: .2rem .16rem;}
.goodCard .textCon .tit{display: -webkit-box; margin: .06rem 0 0; padding: 0; color: rgb(38, 38, 38); font-size: .26rem; line-height: .34rem; overflow: hidden; text-overflow: ellipsis; overflow-wrap: break-word; -webkit-line-clamp: 2; -webkit-box-orient: vertical; height: .68rem; white-space: normal;}
.goodCard .priceCon{display: flex;flex-direction: row; margin-top: .2rem; margin-bottom: .06rem;}
.goodCard .priceText{display: inline-block; margin: 0; padding: .14rem 0 0; flex-shrink: 0; font-size: .2rem; line-height:.2rem; color: rgb(242, 39, 12);}
.goodCard .symbol{display: inline-block; margin: 0 0 0 .1rem; padding: .12rem 0 0; font-size: .24rem; line-height: .24rem; color: rgb(242, 39, 12);}
.goodCard .price{margin: 0 0 0 .04rem; padding: .04rem 0 0; font-size: 18px; line-height: 18px; color: rgb(242, 39, 12); overflow: hidden; text-overflow: ellipsis; overflow-wrap: break-word; -webkit-box-orient: vertical; max-height: 36px; white-space: normal;}
.goodCard .enddate{font-size: .22rem; white-space: nowrap;}
.goodCard .enddate span{color: rgb(132, 132, 132); }
.loading{text-align: center; color: #999; padding: .6rem; width: 100%;}