.navBox ul li:nth-of-type(8) a{color: #256CFA;}
.substance{width: 1200px;margin: auto;}
/* 顶部搜索 */
.topSearch{width: 860px;height: 50px;box-sizing: border-box;border: 1px solid #E6E6E6;border-radius: 25px;display: flex;align-items: center;padding: 0px 37px 0px 0px;background-color: white;margin: 24px auto 22px;}
.topSearch input{font-size: 14px;outline: none;border: 0;flex: 1;height: 100%;border-radius: 25px 0px 0px 25px;text-indent: 1.5em;}
.topSearch input::placeholder{color: #B3B3B3;}
.topSearch div{display: flex;align-items: center;}
.topSearch div::before{content: '';width: 1px;height: 16px;background-color: #E6E6E6;display: inline-block;margin-right: 30px;margin-left: 5px;}
.topSearch img{width: 20px;height: 20px;object-fit: cover;cursor: pointer;}
/* 筛选 */
.conFilter{background-color: white;border-radius: 8px;padding: 25px 20px 18px 27px;margin-bottom: 12px;}
.c-area{display: flex;}
.c-area span{flex-shrink: 0;color: #666666;font-size: 14px;margin-right: 10px;}
.c-area ul{display: flex;color: #212121;font-size: 13px;align-items: center;flex-wrap: wrap;margin-bottom: 15px;}
.c-area ul li{margin-right: 30px;cursor: pointer;margin-bottom: 10px;}
.c-area ul li:hover{color: #1975FF;}
.c-area ul .active{color: #1975FF;font-weight: bold;}
.c-more{display: flex;justify-content: space-between;align-items: flex-end;}
.c-more a{margin-bottom: 2px;}
.c-more img{width: 16px;height: 16px;object-fit: cover;margin-right: 5px;vertical-align: text-bottom;}
.c-more .clear{color: #999999;font-size: 14px;}
.c-more .clear:hover{color: #1975FF;}
.c-more .clear em{color: #1975FF;}
.cm-filter{display: flex;align-items: center;} 
.cm-filter .cmf-text{color: #666666;font-size: 14px;margin-right: 10px;}
.cm-filter ul{display: flex;}
.cm-filter ul li{max-width: 160px;height: 38px;color: #333333;font-size: 13px;border: 1px solid #EEEEEE;border-radius: 4px;display: flex;align-items: center;justify-content: space-between;padding: 0px 10px;box-sizing: border-box;margin-right: 10px;cursor: pointer;position: relative;}
.cm-filter ul li:last-child{margin-right: 0px;}
.cm-filter ul li img{width: 12px;height: 12px;object-fit: cover;margin-top: 2px;margin-right: 0px;}
.cm-filter ul li span{margin-right: 26px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.cm-filter ul li .fItem{position: absolute;top: 36px;background-color: white;border: 0px solid #EBEEF2;box-shadow: 0px 0px 40px 0px rgba(0,15,77,0.08);border-radius: 4px;left: 0px;color: #333333;font-size: 13px;box-sizing: border-box;overflow: auto;padding: 0px;white-space: nowrap;min-width: 100%;display: none;animation: topFadeIn .3s;}
.cm-filter ul li .fItem::-webkit-scrollbar{width: 6px;}
.cm-filter ul li .fItem::-webkit-scrollbar-thumb{background-color: rgba(0,0,0,.2);border-radius: 4px;}
.cm-filter ul li:hover .fItem{max-height: 290px;padding: 8px 0px;border: 1px solid #EBEEF2;display: block;}
.cm-filter ul li .fItem div{padding: 8px 20px;}
.cm-filter ul li .fItem div:hover{color: #2278FF;background-color: rgba(51, 119, 255, .1);}
.cm-filter ul li .fItem .active{color: #2278FF;}
/* 列表 */
.detList{display: flex;}
/* 左侧 */
.d-left{flex: 1;}
.dl-tab{height: 60px;background-color: rgba(255,255,255,.7);border-radius: 8px 8px 0px 0px;display: flex;align-items: center;color: #666666;font-size: 14px;margin-bottom: 1px;}
.dl-tab div{padding: 0px 24px;cursor: pointer;}
.dl-tab div:hover{color: #2176FF;}
.dl-tab .active{color: #2176FF;font-weight: bold;}
.dl-list li{border-radius: 8px;background-color: white;}
.dl-list li:first-child{border-radius: 0px 0px 8px 8px;}
.dl-list li{margin-bottom: 11px;transition: all .3s;}
.dl-list li:hover{box-shadow: 1px 8px 40px 0px rgb(0 15 77 / 8%);position: relative;z-index: 1;}
.dl-list li a{display: block;padding: 24px 30px 26px;}
.dl-list li:last-child{margin-bottom: 0px;}
.cl-none{height: calc(100% - 60px);background-color: white;display: flex;align-items: center;justify-content: center;color: #909399;font-size: 14px;flex-direction: column;}
.cl-none img{width: 220px;object-fit: cover;margin-bottom: 20px;}
.topPart{display: flex;justify-content: space-between;}
.dll-left{display: flex;}
.dll-left .logo{width: 70px;height: 70px;padding:3px;margin-right: 14px;overflow: hidden;border-radius: 6px; background: #fff; border: 1px solid #f3f3f3;}
.dll-left .logo img{width: 100%;height: 100%;object-fit: contain;border-radius: 6px;overflow: hidden;transition: all .3s;}
.dl-list li:hover .dll-left .logo img{transform: scale(1.2);}
.dll-left .detail .title{display: flex;align-items: center;margin-bottom: 5px;}
.dll-left .detail .title span{color: #333333;font-size: 18px;font-weight: bold;margin-right: 6px;display: inline-block;max-width: 360px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.dll-left .detail .title span:hover{color: #1975FF;}
.dll-left .detail .title .label{width: 36px;height:18px;background-color: #FCE2A9;border: 1px solid #EDD49F;box-sizing: border-box;text-align: center;line-height: 17px;color: #4D3B14;font-size: 12px;font-style: italic;border-radius: 4px;font-weight: bold;margin-right: 4px;}
.dll-left .detail .title img{width: 16px;height: 16px;object-fit: cover;}
.dll-left .detail .require{color: #999999;font-size: 12px;margin-bottom: 10px;}
.dll-left .detail .require span{color: #E0E0E0;margin: 0px 6px;}
.dll-left .detail .welfare{display: flex;overflow: hidden;max-width: 510px;flex-wrap: wrap;height: 26px;}
.dll-left .detail .welfare .item{height: 26px;line-height: 26px;background-color: #F5F9FF;border-radius: 13px;color: #668FCC;font-size: 13px;padding: 0px 12px;margin-right: 6px;}
.dll-right{display: flex;flex-direction: column;justify-content: space-between;align-items: flex-end;}
.dll-right .salary{display: flex;align-items: center;}
.dll-right .salary div{color: #666666;font-size: 12px;margin-right: 2px;}
.dll-right .salary p{color: #1975FF;font-size: 20px;font-weight: bold;font-family: DINMi;margin-left: 4px;}
.dll-right .salary span{color: #E6E6E6;font-size: 12px;margin: 0px 15px;}
.dll-right .btn{width: 80px;height: 36px;background-color: #2176FF;border-radius: 4px;color: white;font-size: 14px;line-height: 36px;text-align: center;margin-bottom: 6px;}
.dll-right .btn:hover{background-color: #4089ff;}
.dll-right .btn img{width: 16px;height: 16px;object-fit: cover;vertical-align: sub;}
.dll-right .btn.has{background-color: #F5F5F5;border-radius: 4px;width: 80px;height: 36px;line-height: 36px;text-align: center;color: #656565;font-size: 14px;display: block;margin-bottom: 6px;}
.dll-right .btn.has img{display: none;}
.botPart{display: flex;font-size: 14px;max-width: 70%;padding-top: 20px;}
.botPart span{color: #999999;flex-shrink: 0;margin-top: 1px;}
.botPart .items{display: flex;flex-wrap: wrap;line-height: 26px;}
.botPart .items .item{color: #4D4D4D;margin-right: 20px;cursor: pointer;max-width: 170px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.botPart .items .item:hover{color: #1975FF;}
/* 右侧 */
.d-right{width: 280px;margin-left: 12px;}
.dr-fabu{border-radius: 4px;margin-bottom: 12px;display: block;}
.dr-fabu img{height: 140px;object-fit: cover;width: 100%;border-radius: 4px;}
/* 热招企业 */
.dr-hot{background: linear-gradient(to bottom, #FFF6F0 0%, white 20%);border-radius: 8px;margin-bottom: 12px;}
.drh-title{color: #333333;font-size: 16px;font-weight: bold;font-style: italic;padding: 18px 18px 0px;} 
.drh-title span{color: #FF6600;}
.dr-hot .item{padding: 20px 12px 18px 18px;border-bottom: 1px solid #F2F2F2;display: block;}
.dr-hot .item:hover .title .job{color: #1975FF;}
.dr-hot .item:last-child{border-bottom: 0px;}
.dr-hot .item .title{display: flex;justify-content: space-between;margin-bottom: 10px;align-items: center;}
.dr-hot .item .title .job{color: black;font-size: 14px;}
.dr-hot .item .title .salary{color: #FF5833;font-size: 12px;}
.dr-hot .item .title .salary span{font-size: 15px;font-weight: bold;}
.dr-hot .item .name{color: #666666;font-size: 12px;width: 150px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.dr-hot .item .name img{width: 16px;height: 16px;object-fit: cover;margin-right: 4px;vertical-align: sub;}
/* 二维码 */
.dr-code{background-color: white;border-radius: 8px;display: flex;padding: 25px;align-items: center;}
.dr-code img{width: 90px;height: 90px;object-fit: cover;margin-right: 24px;}
.dr-code div{color: black;font-size: 14px;line-height: 22px;}
/* 底部翻页 */
.dll-page{display: flex;justify-content: center;margin-top: 32px;}
.dll-page span{font-size: 13px;color: #666666;}
.dll-page input{width: 60px;background-color: white;border: 0;outline: none;height: 30px;font-size: 13px;text-align: center;border-radius: 4px;padding: 0px 10px;box-sizing: border-box;}
.dll-page .btn{width: 60px;height: 30px;background-color: #3377FF;color: white;text-align: center;line-height: 30px;border-radius: 4px;margin-left: 10px;cursor: pointer;}
.pagination .inner ul{display: flex;justify-content: center;}
.pagination .inner ul li{min-width: 20px;height: 30px;padding: 0 5px; line-height: 30px;text-align: center;background: #FFFFFF;border-radius: 4px; overflow: hidden; font-size: 13px;margin-right: 10px;}
.pagination .inner ul .page_current{cursor: default !important;}
.pagination .inner ul li a{width: 100%;height: 100%;display: block;}
.pagination .inner ul li:hover {color: white;background-color: #37f;cursor: pointer;}
.pagination .inner ul li:hover a {color: #fff;}
.pagination .inner .page_info{display: none;}
.pagination .inner ul li.page_more {background-color: #fff; color: #333; cursor: default;}
.pagination .inner ul li.page_disabled, .pagination .inner ul li.page_current {background-color: #f0f0f0; color: #ccc; cursor: no-drop;}
.page_current{background-color: #2278FF !important;}
.page_current span{color: white;}
@font-face {
	font-family: DINMi;
	src: url('../../../../static/fonts/DINMittelschriftStd.eot'),
        url('../../../../static/fonts/DINMittelschriftStd.otf'),
        url('../../../../static/fonts/DINMittelschriftStd.ttf'),
        url('../../../../static/fonts/DINMittelschriftStd.woff'),
        url('../../../../static/fonts/DINMittelschriftStd.woff2') /* IE9 */
}