.navBox ul li:nth-of-type(3) a{color: #256CFA;}
.disabled{color: white !important;}
.detContent{width: 1200px;margin: auto;}
/* 导航 */
.tabNav,.tabNav a{font-size: 14px;color: #666666 !important;}
.tabNav{padding: 30px 0px 15px;}
/* 求职详情 */
.details{display: flex;margin-bottom: 45px;}
.d-left{margin-right: 10px;flex: 1;}
.dl-plate{background-color: white;border-radius: 10px;padding: 20px 30px 37px;margin-bottom: 12px;}
.j-time{display: flex;justify-content: space-between;margin-bottom: 13px;}
.jt-left{color: #999999;font-size: 12px;margin-bottom: 10px;}
.jt-right{display: flex;align-items: flex-end;}
.jt-right .report,.shareBox{font-size: 14px;color: #808080;display: flex;align-items: center;margin-left: 38px;cursor: pointer;}
.jt-right .report:hover,.shareBox:hover{color: #333333;}
.jt-right div img{width: 20px;height: 20px;object-fit: cover;margin-right: 5px;}
.jt-right .shareBox{position: relative;}
.dlp-job{display: flex;justify-content: space-between;padding-bottom: 24px;border-bottom: 1px solid #F2F2F2;}
.dlp-job .left .title{font-size: 26px;color: black;font-weight: bold;margin-bottom: 20px;}
.dlp-job .left .name{color: #333333;font-size: 15px;display: flex;align-items: center;margin-bottom: 15px;}
.dlp-job .left .name img{width: 20px;height: 20px;object-fit: cover;border-radius: 50%;margin-right: 5px;}
.dlp-job .left .name span{color: #787878;font-size: 14px;}
.dlp-job .left .education{line-height: 30px;}
.dlp-job .left .education p{color: #777777;font-size: 14px;}
.dlp-job .left .education p span{color: #333333;}
.dlp-warn{font-size: 14px;color: #999999;margin-top: 24px;}
.dlp-warn a{color: #999999 !important;text-decoration: underline;}
.dlp-warn a:hover{color: #FF5039 !important;}
.dlp-job .right{width: 164px;height: 46px;line-height: 46px;text-align: center;background-color: #3377FF;border-radius: 23px;color: white;font-size: 18px;margin-top: 50px;cursor: pointer;}
.dlp-job .right:hover{background-color: #4089ff;}
.dl-desc{background-color: white;border-radius: 10px;padding: 37px 32px;}
.dld-title{color: black;font-weight: bold;font-size: 20px;margin-bottom: 35px;}
.dld-class,.dld-desc{color: #4D4D4D;font-size: 14px;line-height: 30px;}
.dld-desc span{color: #999999;}
.j-right{width: 300px;}
.jr-btn{margin-bottom: 12px;border-radius: 8px;background: url(../images/fabuBlu.png) no-repeat;background-size: cover;padding: 20px 0px 16px;}
.jr-btn p{font-size: 22px;color: white;font-weight: bold;margin-bottom: 10px;text-align: center;}
.jr-btn .text{font-size: 14px;color: rgba(255,255,255,.8);margin-bottom: 18px;padding: 0px 58px;font-weight: 400;}
.jrb-btn{width: 150px;height: 40px;background-color: white;border-radius: 6px;box-shadow: 0px 4px 6px 0px rgba(0,82,240,0.14);line-height: 40px;text-align: center;color: #0A2354;font-size: 15px;font-weight: bold;margin: 0px auto;}
/* 浏览历史 */
.dlr-history{background-color: white;border-radius: 8px;margin-bottom: 12px;}
.dlr-history .title{color: #333333;font-size: 16px;font-weight: bold;display: flex;align-items: center;padding: 0px 13px;height: 50px;}
.dlr-history .title img{width: 20px;height: 20px;margin-right: 4px;}
.dlr-history .item{padding: 16px 16px 16px 18px;border-top: 1px solid #EEEEEE;display: block;}
.dlr-history .item:hover .name{color: #256CFA !important;}
.dlr-history .item .name{color: #212121 !important;font-size: 14px;font-weight: bold;margin-bottom: 10px;}
.dlr-history .item .name span{color: #666666;font-weight: 100;font-family: "微软雅黑";}
.dlr-history .item .exp{color: #999999;font-size: 12px;}
.dlr-history .item .exp span{color: #E6E6E6;margin: 0px 4px;}
/* 手机扫一扫 */
.dlr-scan{padding: 25px;background:white;border-radius: 8px;display: flex;align-items: center;}
.dlr-scan img{width: 90px;height: 90px;object-fit: cover;margin-right: 24px;}
.dlr-scan div{line-height: 22px;}
.dlr-scan p{color: #000000;font-size: 14px;}
/* 兴趣推荐 */
.i-title{font-size: 24px;color: black;text-align: center;margin-bottom: 30px;}
.i-item{display: grid;grid-template-columns: repeat(3,1fr);gap: 10px;}
.i-item li a{background-color: white;border-radius: 8px;padding: 27px 21px;display: block;transition: all .2s;}
.i-item li a:hover{box-shadow: 1px 8px 40px 0px rgb(0 15 77 / 6%);position: relative;z-index: 1;}
.i-item li .name{color: black;font-size: 20px;margin-bottom: 8px;}
.i-item li .name span{color: #666666;font-size: 14px;}
.i-item li .time{color: #999999;font-size: 12px;margin-bottom: 8px;}
.i-item li .time span{color: #E6E6E6;}
.i-item li .job{color: #256CFA;font-size: 16px;}
/* 分享 */
.shareListPop{width: 330px;border-radius: 8px; position: absolute; right: -10px; top: 24px; box-sizing: border-box; z-index: 9; display:none; animation: topFadeIn .3s;padding-top: 10px;cursor: auto;}
.shareBox:hover .shareListPop{display: block;}
.sh-con{background-color:white;padding-top: 18px;padding-bottom: 29px;border-radius: 8px;box-shadow: 0px 7px 20px 0px rgba(0, 6, 18, 0.1);}
.shareListPop::before{content: ''; display: block; height: 10px; position: absolute; left: 0; right: 0; top: -10px;}
.shareListPop h5{font-size: 14px; color: #4D4D4D; padding-left: 26px;}
.shareListPop .shareWayBox{overflow: hidden;}
.shareListPop .shareWayBox>div{width: 50%; float: left; box-sizing: border-box;  margin-top: 20px;}
.shareListPop .shareWayBox .wxQrShare{box-sizing: border-box; border-right: solid 1px #f2f2f2; padding: 3px 0;}
.shareListPop .shareWayBox .wxQr{width: 106px; height: 106px; background: #f5f5f5; margin: auto; background: #f4f4f4;}
.shareListPop .shareWayBox .wxQr img{display: block; width: 100%; height: 100%; object-fit: cover;}
.otherShare{padding-top: 4px;}
.otherShare  li{margin-bottom: 14px;}
.otherShare a {padding-left: 36px; display: block; background: url('/static/images/share_icon.png') no-repeat; font-size: 14px; color: #4D4D4D;}
.otherShare a:hover{color: #212121}
.otherShare .qzone a {background-position: 13px -33px;}
.otherShare .qq a {background-position: 13px -59px;}
.otherShare .sina a {background-position: 13px -85px;}
.tdt-label{box-shadow: none !important; border: none !important; background: transparent !important;}