/* ****************************弹窗**************************** */

/* 地图相关  */
.dialogBox .el-dialog{border-radius: 16px;}
.dialogBox .el-dialog__title{color: #212121; font-size: 18px; font-weight:bold;}
.mapAreaBox.el-dialog--center .el-dialog__body{ padding: 0;}
.mapAreaBox .btns_tips{margin: 0 32px; overflow: hidden; display: flex; align-items: center; justify-content: space-between; padding: 26px 0 36px 0;}
.mapAreaBox .btns_tips .btn_sure{width: 180px; height: 46px; background: linear-gradient(90deg, #306BFF 0%, #4281FF 100%); border-radius: 4px; color: #fff; font-size: 16px; float: right;}
.mapAreaBox .btns_tips .btn_sure.is-disabled{opacity: .3;}
.mapAreaBox .btns_tips .btn_sure p{float: left; color: #666;}
.mapAreaBox .btns_tips .btn_sure em{color: #999;}
.mapAreaBox .btns_tips .btn_groups a{display: inline-block; font-size: 14px; color: #333;  line-height: 16px;  vertical-align: middle;}
.mapAreaBox .btns_tips a.del_btn{color: #FC4C60;}
.mapAreaBox .btns_tips .btn_groups em{display: inline-block; width: 1px; height: 16px; background: #EDEDED; margin: 0 14px; vertical-align: middle;}
.dialogBox .el-dialog__header{padding-bottom: 20px !important;}
.close_btn{ display: block; width: 24px; height: 24px; background: url(../images/close_icon.png) no-repeat center/cover; position: absolute; top: 11px; right: 11px;}
.mapContainer{width: 680px; height: 380px; background-color: #f5f5f5; margin: auto; position:relative;}

.mapContainer .moveBtn{width: 40px; height: 40px;  border: 1px solid #EDEDED; box-shadow: 1px 8px 16px 0px rgba(0,8,26,0.08); border-radius: 8px; background: #fff url(../images/posi_icon.png) no-repeat center/20px ; position: absolute; left: 12px; bottom: 12px; cursor: pointer;}
.mapContainer .mapSearch{position: absolute; left: 40px; right: 40px; top: 18px; width: 600px; height: 46px; background: #FFFFFF; border: 1px solid #EDEDED; box-shadow: 1px 8px 16px 0px rgba(0,8,26,0.08); border-radius: 8px; background-color: #fff; z-index: 9;}
.mapContainer .mapSearch .detail_address {overflow: hidden; height: 100%; line-height: 46px;}
.mapContainer .mapSearch .detail_address label{float: left; height: 100%; background: #E8F1FF; border-radius: 8px 0 0 8px; padding: 0 10px; color: #266EFF;  font-size: 14px; }
.mapContainer .mapSearch .detail_address p{max-width: 530px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 14px; color: #333; float: left; padding: 0 14px; box-sizing: border-box;}
.mapContainer .mapSearch.lrborder{border-bottom-left-radius: 0;}
.mapContainer .mapSearch .addridBox{width: 240px; position: relative;}
.mapContainer .mapSearch .addridBox .areaTextShow{font-size: 14px; color: #4D4D4D; line-height: 46px; display: block; white-space: nowrap; max-width: 120px; overflow: hidden; text-overflow: ellipsis; box-sizing: border-box; }
.mapContainer .mapSearch .addridBox input{height: 46px; border: none;}
.mapContainer .mapSearch .el-cascader input,.mapContainer .mapSearch .el-cascader .el-input{width: 100%;}
/* .mapContainer .mapSearch .el-cascader{opacity: 0; position: absolute; left: 0; right: 0;} */
.mapContainer .mapSearch .el-cascader,.mapContainer .mapSearch .el-button{flex-shrink: 0; height: 46px;}
.mapContainer .mapSearch .el-cascader::after{content: ''; display: block; width: 1px; height: 16px; background-color: #EDEDED; position: absolute; right: 0; top: 0; bottom: 0; margin: auto;}
.mapContainer .mapSearch .el-button {border-radius: 0 8px 8px 0; background: linear-gradient(90deg, #306BFF 0%, #4281FF 100%); font-size: 14px; border: none; width: 90px;}
.mapContainer .mapSearchInp{display: flex; align-items: center; justify-content: flex-end;}
.mapContainer .mapSearchInp .inputBox{width: 100%; height: 46px;}
.mapContainer .mapSearchInp .inputBox input{width: 100%; border: none; outline: none; height: 46px; padding-left: 16px; font-size: 14px; box-sizing: border-box;}
.mapContainer .mapSearchInp .inputBox input::placeholder{color: #B3B3B3;}
#map{width: 100%; height: 100%;}
.mainContect  img{max-width: none;}

.BMap_Marker{position: relative;}
.BMap_Marker img{display: block; width: 100%; height: 100%; object-fit: cover; position: relative; z-index: 1;}
.BMap_Marker:not(.BMap_noprint)::after{content: ''; display: block; width: 48px; height: 30px; background: url(../images/bottom_shadow.png) no-repeat center/cover; position: absolute; top: 30px; left: 0; right: 0;}
.mapAreaBox{width: 740px; position: fixed; left: 0; right: 0; top: 15vh; background-color: #fff; border-radius: 16px; margin: auto; z-index: 9; animation: popup .3s ; display: none;}
.mapAreaBox h3{font-size: 18px; font-weight: bold; line-height: 64px; text-align: center;}
.mask_map{z-index: 8; position: fixed; left: 0; right: 0; top: 0; bottom: 0; background-color: rgba(0,0,0,.5); display: none;}
.mapAreaBox .btns_tips p{color: #666;}
.mapAreaBox .btns_tips p em{color: #999;}
.suggestionList{position: absolute; left: -1px; right: 90px; height: 100px; border: solid 1px #EDEDED; box-shadow: 1px 4px 4px 0px rgba(0,8,26,0.08); border-radius: 0px 0px 8px 8px; background-color: #fff; display: none;} 
.tangram-suggestion-main{z-index: 999999; }
.hideMapSuggest.tangram-suggestion-main{display: none !important;}
.tangram-suggestion::-webkit-scrollbar{width: 8px; height: 0; border-radius: 4px; background: none;}
.tangram-suggestion::-webkit-scrollbar-thumb{ border-radius: 5px; -webkit-box-shadow: inset 0 0 5px #bec0c4; background: #bec0c4; }
.tangram-suggestion{border-radius: 0 0 8px 8px; height: 200px; background: #FFFFFF; border: 1px solid #EDEDED; box-shadow: 1px 4px 4px 0px rgba(0,8,26,0.08); min-height: 200px; padding:  10px 0; overflow-y: auto;}
.tangram-suggestion .route-icon{padding-left: 0 !important; background: none !important; font-size: 14px; color: #333;}
.tangram-suggestion .route-icon .tangram-suggestion-grey{color: #999; max-width: 300px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: inline-block; vertical-align: middle; margin-left: 13px;}
.tangram-suggestion table tr td{height: 40px !important;}
.mask_map.showPop{display: block;}
.mapAreaBox.showPop{display: block;}


/* 弹窗提示 */
#public_mapContainer{z-index: 999999; position: relative;}
.popConfirmContainer{position: relative; z-index: 20;}
.confirmPop_mask{position: fixed; left: 0; right: 0; top: 0; bottom: 0; background-color: rgba(0,0,0,.5); display: none;}
.confirmPop_mask.showPop{display: block;}
.confirmPop.showPop{display: block;}
.confirmPopBox{position: fixed; left: 0; right: 0; top: 0; bottom: 0; pointer-events: none; display: flex; align-items: center; justify-content: center;}
.confirmPop{width: 400px; min-height: 220px; background: #FFFFFF; box-shadow: 0px 3px 30px 0px rgba(0,4,26,0.06); border-radius: 16px;  padding-top: 40px; box-sizing: border-box; display: none; animation: popup .3s; pointer-events: all; padding-bottom: 20px; position: relative;}
.confirmPop.confirmPop_2{width: 440px;}
.confirmPop.confirmPop_3{width: 470px; min-height: 240px;}
.confirmPop .close_btn{width: 24px; height: 24px; background: url(../images/close_icon.png) no-repeat center/cover; position: absolute; right: 7px; top: 7px;}
.confirmPop h3{font-size: 18px; color: #212121; font-weight: bold; text-align: center;}
.confirmPop h3 s{display: inline-block ; width: 30px; height: 30px; background: url(../images/warning_icon.png) no-repeat center/cover; vertical-align: middle; margin-bottom: 4px; margin-right:6px;}
.confirmPop.pop_success h3 s{display: inline-block ; width: 30px; height: 30px; background: url(../images/success_icon.png) no-repeat center/cover;}
.confirmPop .ptext{text-align: center; margin: 0 10px; color: #999; font-size: 14px; margin-top: 12px; position: relative;}
.confirmPop .btnsGroup{display: flex; align-items: center; justify-content: center; margin-top: 40px;}
.confirmPop .btnsGroup_3{margin-top: 50px;}
.confirmPop .btnsGroup .el-button{border-radius: 6px; height: 42px;}
.confirmPop .btnsGroup.btnsGroup_3 .el-button{height: 52px;}
.confirmPop .btnsGroup .el-button.el-button--primary{background-color: #1975FF; border-color: #1975FF;}
.confirmPop .btnsGroup_3 .el-button.el-button--primary:nth-child(2){background-color: rgba(25, 117, 255, .1); border-color: rgba(178, 209, 255, .1); color: #1975FF;}
.confirmPop .btnsGroup_3 .el-button:nth-child(3){border-color: #B2D1FF; background-color: #fff; color: #1975FF;}
/* 标注弹窗样式 */
.mapContainerBox{position: relative; z-index: 15;}
.markContainerBox h4{font-size: 14px; color: #333; font-weight: bold; margin-bottom: 20px;}
.markContainerBox .labs .lab{display: inline-block; padding: 0 14px; line-height: 32px; border-radius: 4px; background-color: #F5F7FA; font-size: 14px; color: #8D91A6; margin-right: 6px; margin-bottom: 10px; cursor: default;}
.markContainerBox .addMark{color: #B3B3B3;  font-size: 14px;}
.markContainerBox .addMark i{font-size: 12px; font-weight: 900; margin-right: 4px;}
.markContainerBox .labs .lab.lab5:hover,.markContainerBox .labs .lab.lab5:hover{background-color: #FFEDF1; color: #F52D5C;}
.markContainerBox .labs .lab:hover,.markContainerBox .labs .lab.on_chose{background-color: #F0F6FF; color: #1975FF;}
.markContainerBox .btns_group{margin-top: 40px; text-align: right;}
.markContainerBox .btns_group .el-button{height: 44px; width: 110px; border-radius: 6px;}
.optPopover{padding: 24px; border-radius: 8px;}
.tooltipBox{width: 310px; min-height: 56px; border-radius: 10px; background-color: rgba(51,51,51,.9); font-size: 14px; color: #fff ; font-weight: bold; position: fixed; left: 50%; top: 50%; transform: translate(-50%); margin: auto; z-index: 15;  text-align: center; box-sizing: border-box; padding-top: 16px; animation: fadeIn .3s;}
.tooltipBox span{vertical-align: middle;}
.tooltipBox s{width: 26px; display: inline-block; height: 26px; background: url(../images/warning_icon1.png) no-repeat center/cover; margin-right: 5px; vertical-align: middle; }
.tooltipBox  h3{font-size: 14px; font-weight: bold; color: #fff;}
.tooltipBox p{font-size: 14px; color: #eee; font-weight: normal; padding-bottom: 18px;}
.el-button--primary{background-color: #3F7EFC; border-color: #3F7EFC;}
.markContainerBox .pickerDate{width: 100%;}
.errorTip{font-size: 13px; color: #FF5039; margin-top: 10px;}
.errorTip s{display: inline-block; width: 16px; height: 16px; background: url(../images/errorTip_icon.png) no-repeat center/cover; vertical-align: middle; margin-bottom: 2px; margin-right: 3px;}

.formPopContainer{position: relative; z-index: 14;}
.formPop {width: 720px; height: 550px; border-radius: 16px; position: fixed; left: 0; right: 0; top: 22%; margin: auto; background-color: #fff; display: none; animation: popup .3s ;}
.formPop .popHead::before{content: ''; display: block; height: 130px; background: linear-gradient(0deg, #FFF 0%, #EDF4FF 100%); border-radius: 16px; position: absolute; top: 0; left: 0; right: 0; pointer-events: none;}
.formPop.showPop{display: block;}
.formPop .popHead{text-align: center; padding-top: 28px;}
.formPop .popHead h2{font-size: 20px; color: #222; font-weight: bold; position: relative; z-index: 1;}
.formPop .popHead p{font-size: 14px; color: #999; position: relative; z-index: 1; margin-top: 8px;}
.formPop .resumeAddr .bigInp{width: 100%;}
.addressPop .add_addr{color: #1975FF;}
.close_pop{width: 30px; height: 30px; background: url(../images/close_pop.png) no-repeat center/cover; position: absolute; right: 12px; top: 12px; display: block; z-index: 2; }

.formPop .pop_form{margin: 30px 20px 0; position: relative; z-index: 1;}
.formPop .pop_form .el-form-item__content{margin-right: 64px;}
.formPop .form_datePiceker .el-form-item__label{line-height: 50px;}
.formPop .datePicker {width: 100%; height: 50px;}
.formPop .datePicker.el-input input{height: 50px;  padding-left: 12px !important;}
.formPop .datePicker.el-input input::placeholder,.formPop .datePicker.el-input input,.formPop .form_select .inpBox .placeholder{color: #1975FF; font-size: 18px; font-weight: bold; line-height: 48px;}
.formPop .datePicker.el-input .el-input__prefix,.formPop .datePicker.el-input .el-input__suffix{display: none;}
.formPop .datePicker.el-input::after{content: ''; display: block; width: 20px; height: 20px; background: url(../images/date_icon1.png) no-repeat center/cover; position: absolute; right: 12px; top: 0; bottom: 0; margin: auto;}

.el-input__inner{border-color: #ededed;}
.formPop .form_select .el-form-item__label{line-height: 50px;}
.formPop .form_select .inpBox{width: 100%; height: 50px; box-sizing: border-box; border: solid 1px #EDEDED; border-radius: 6px; padding-left: 12px;}
.successBox {position: fixed; top: 0; bottom: 0; right: 0; left: 0; z-index: 15 ; display: flex; align-items: center; justify-content: center;}
.successBox .successTip{width: 260px; height: 80px; background: #FFFFFF; box-shadow: 1px 8px 40px 0px rgba(0,15,77,0.06); border-radius: 10px; font-size: 16px; font-weight: bold; color: #333; line-height: 24px; display: flex; align-items: center; justify-content: center;}
.successTip.fn-hide{display: none;}
.successBox .successTip s{display: block; width: 30px; height: 30px; background: url(../images/successTip_icon.png) no-repeat center/cover; margin-right: 6px;}
.successBox .successTip.tip_warning s{display: block; width: 40px; height: 40px; background: url(../images/warning_icon.png.png) no-repeat center/cover; margin-right: 6px;}
.successBox .successTip.tip_success2 s{display: block; width: 40px; height: 40px; background: url(../images/successTip.png) no-repeat center/cover; margin-right: 6px;}

.formPop .resumeAddr p{display: inline-block; margin-right: 4px; max-width: 380px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; vertical-align: middle; color: #333; font-size: 14px;}
.formPop .resumeAddr .el-button{color: #668FCC; font-size: 13px; vertical-align: middle;}
.formPop .form_textarea .el-form-item__label{line-height: 1;}
.formPop .contactInfo span.contact_person,.formPop .contactInfo span.contact_phone{font-size: 14px; color: #333; line-height: 40px; vertical-align: middle;}
.formPop .contactInfo span.contact_phone{margin-left: 36px;}
.formPop .contactInfo .el-button{margin-left: 22px; color: #668FCC; font-size: 13px; vertical-align: middle;}

.formPop .btn_box{text-align: center;}
.formPop .btn_box .sentInfo{width: 240px; height: 48px;  border-radius: 6px; margin: auto; font-size: 16px; }
/* 职位列表 */
.postListPop{width: 476px; box-sizing: border-box; padding: 0; margin-top: 0;}
.postListPop .postList ul{max-height: 260px; overflow: auto; overflow: overlay;}
.postListPop .searchInp .el-input input{border-radius: 4px 4px 0 0; border: none; border-bottom: solid 1px #EDEDED; color: #666;}
.postListPop li{line-height: 42px; font-size: 14px; color: #333; padding: 0 20px; cursor: pointer;}
.postListPop li:hover{background-color: #F0F6FF; color: #1975FF;}
.postListPop li:hover .sala{color: #1975FF;}
.postListPop li .sala{color: #405580;}
.postListPop .popper__arrow{display: none;}
.postListPop.el-popper[x-placement^=bottom]{margin-top: 0;}

.postListPop .postList ul::-webkit-scrollbar{width: 12px; height: 0; border-radius: 4px; background: none;}
.postListPop .postList ul::-webkit-scrollbar-thumb{width: 12px;background: rgba(153, 153, 153, .2);}
div::-webkit-scrollbar{width: 12px; height: 0; border-radius: 4px; background: none;}
div::-webkit-scrollbar-thumb{width: 12px;background: rgba(153, 153, 153, .2);}



/* 刷新制定弹窗 */
.popularPop{width: 680px; height: 450px; background: linear-gradient(90deg, #F5F8FC 0%, #F7F9FC 100%); border-radius: 16px; position: fixed; left: 0; top: 0; bottom: 0; right: 0; margin: auto; animation: popup .3s;}
.popularPop.resfreshConPop{height: 460px;}
.popularPop .headbox{height: 100%; background: url(../images/head_bg.png) no-repeat right/auto 100px; height: 100px; border-radius: 16px 16px 0 0; padding: 20px 38px 0; box-sizing: border-box;}
.popularPop .headbox h2{font-size: 20px; color: #212121; font-weight: bold;} 
.popularPop .headbox p{color: #7C808A; font-size: 14px; margin-top: 4px;}
.popularPop .popularPopConBox{height: 350px; border-radius: 16px; background-color: #fff; box-sizing: border-box; padding: 20px 30px; overflow: overlay;}
.popularPop.resfreshConPop .popularPopConBox{height: 360px;}
.popularPop .popular_tip{height: 42px; background-color: #FFF5F0; border-radius: 6px; padding: 0 10px; margin-bottom: 28px;}
.popularPop .popular_tip span.lab{display: inline-block; line-height: 16px; border-radius: 4px; background: linear-gradient(90deg, #FE7B5E 0%, #FA5A4B 100%); color: #fff; padding-left: 2px; padding-right: 4px; font-size: 12px; margin-right: 6px;}
.popularPop .popular_tip span.lab s{display: inline-block; width: 10px; height: 12px; background: url(../images/toTop_icon.png) no-repeat center/cover; vertical-align: middle; margin-right: 1px;}
.popularPop .popular_tip.refresh span.lab s{background-image: url(../images/refresh_icon1.png);}
.popularPop .popular_tip span.text{color: #8C6957; font-size: 14px; line-height: 42px;}
.popularPop .popular_tip span.text b{color: #FF4F38;}
.popularPop .popular_tip  span .tip_icon{display: inline-block; width: 16px; height: 16px; background: url(../images/tip_icon2.png) no-repeat center/cover; vertical-align: middle; margin-bottom: 2px;}
.refresh_tip {font-size: 13px; color: #666;}
.refresh_tip em{color: #FE4F38; font-size: 13px;}
.popularPop .popular_tip .link_to{font-size: 14px; color: #B39B8F; line-height: 42px; }
.popularPop .popular_tip .link_to s{display: inline-block; width: 20px; height: 20px; background: url(../images/right_arr_circle.png) no-repeat center/cover; margin-left: 6px; vertical-align: middle;}

.popularPop .topDays .topDay_item{width: 90px; height: 40px; background: #FFF; border: 1px solid #EDEDED; border-radius: 6px; font-size: 14px; color: #3D424D; box-sizing: border-box; padding-left: 12px; margin-right: 10px; float: left; cursor: pointer; margin-bottom: 12px;}
.popularPop .topDays .topDay_item s{display: inline-block;width: 15px; height: 15px; background: #FFF; border: 1px solid #999; border-radius: 50%; vertical-align: middle; margin-right: 16px; box-sizing: border-box; padding: 3px 2px; margin-bottom: 4px;}
.popularPop .topDays .topDay_item:hover,.popularPop .topDays .topDay_item.on_chose{border-color: #99C2FF; color: #3377FF;}
.popularPop .topDays .topDay_item:hover s,.popularPop .topDays .topDay_item.on_chose s{border-color: #3377FF;}
.popularPop .topDays .topDay_item:hover s::before,.popularPop .topDays .topDay_item.on_chose s::before{content: ''; display: block; width: 8px; height: 8px; background-color: #3377FF; margin: auto; border-radius: 50%;}
.popularPop .topDays .self_define{width: 160px; }
.popularPop .topDays .self_define.focus .el-input__inner{border-color: #99C2FF; }
.popularPop .topDays .self_define input{border-radius: 6px;}
.popularPop .topDays .self_define .unit_text{padding-right: 6px;}

.popularPop .topDays .topTimeSet .el-checkbox__inner{border-radius: 4px;}
.popularPop .topDays .topTimeSet .el-checkbox__input.is-checked .el-checkbox__inner,.popularPop .topDays .topTimeSet  .el-checkbox__input.is-indeterminate .el-checkbox__inner{background-color: #266EFF; border-color: #266EFF;}
.popularPop .topDays .topTimeSet .el-checkbox__input.is-checked+.el-checkbox__label{color: #3D424D;}
.popularPop .topDays .topTimeSet .el-checkbox{color: #3D424D; margin-right: 20px;}
.popularPop .topDays .topTimeSet .el-checkbox__label{padding-left: 5px;}
.popularPop .topDays .topTimeSet .showOther{color: #ADAFB3; font-size: 14px;}
.popularPop .topDays .topTimeSet .showOther:hover{color: #7C808A;}
.popularPop .toTop_btn{width: 240px; font-size: 14px; border-radius: 6px;}
.popularPop .toTop_btn .pay_count{font-size: 14px; font-weight: bold; margin-left: 2px; height: 46px; border-radius: 6px;}
.popularPop .toTop_btn .pay_count b{font-size: 18px;}
.popularPop .btn_box{text-align: center;}


/* 刷新相关样式调整 */
.popularPop .resfreshCon .topDays .topDay_item s{margin-right: 6px;}
.popularPop .resfreshCon .topDays .self_define{width: 110px;}
.popularPop .resfreshCon .refresh_inp .topDays .el-input{width: 160px;}
.popularPop .refresh_inp .unit_text{padding-right: 6px;}
.popularPop .refresh_inp .el-form-item.topDays {min-width: 44%;}
/* .popularPop .refresh_inp .el-form-item.timePicker .el-input{width: 110px;} */
.popularPop .refresh_inp .el-form-item.timePicker .el-input__prefix{display: none;}
.popularPop .refresh_inp .el-form-item.timePicker .el-input__inner{padding: 0 10px;}
.el-popper .el-scrollbar__wrap{margin-bottom: 0 !important;}
.popularPop .refresh_inp .el-form-item.timePicker .showTip s{display: inline-block; width: 16px; height: 16px; background: url(../images/tip_icon1.png) no-repeat center/cover; vertical-align: middle; margin-bottom: 2px; margin-right: 2px;}
.tipBlue.el-popper{padding: 0 12px; line-height: 26px; color: #8A8E99; font-size: 12px; background: #F0F6FF; border-color: #F0F6FF; margin-top: 0 !important;}
.tipBlue.el-popper[x-placement^=bottom] .popper__arrow::after{border-bottom-color: #F0F6FF;}
.tipBlue.el-popper[x-placement^=bottom] .popper__arrow{border-bottom-color: #F0F6FF;}
.popularPop .opciaty{visibility: hidden; opacity: 0;}

/* 调整日期选择的样式 */
.datePicker.el-date-editor{padding: 0 !important; border: none; max-width: 250px; margin-right: 10px; position: relative;}
.datePicker.el-date-editor .el-range__close-icon{position: absolute; right: 4px; top: 2px; bottom: 0; margin: auto;}
.datePicker .el-icon-date{display: none;}
.datePicker .el-range-separator{padding: 0;}
.datePicker .el-range-input{width: 118px; height: 40px; background: #FFFFFF; border: 1px solid #EDEDED; border-radius: 6px; box-sizing: border-box; text-align: left; padding: 0 10px;}
.popularPop .resfreshCon .refresh_inp .topDays .timePickerContainer{margin-left: 88px; border: solid 1px #EDEDED; border-radius: 6px; width: 170px;}
.popularPop .resfreshCon .refresh_inp .topDays .timePickerContainer .el-input{border: none; width: 70px; padding-right: 4px;}
.popularPop .resfreshCon .refresh_inp .topDays .timePickerContainer .el-input input{border: none;}


/* 刷新置顶增值包弹窗 */
.popularAddPop{width: 840px; height: 580px; background-color: #fff; border-radius: 20px; position: fixed; left: 0; right: 0; top: 0; bottom: 0; margin: auto; animation: popup .3s ;}
.popularAddPop .headbox{height: 100px; background: #F8FAFD; border-radius: 16px 16px 0 0; padding: 20px 38px 0; box-sizing: border-box;}
.popularAddPop .headbox h2{font-size: 20px; color: #212121; font-weight: bold;} 
.popularAddPop .headbox p{color: #7C808A; font-size: 14px; margin-top: 4px;}
.popularAddPop .headbox em{color: #FF5039;}
.popularAddPop .popularAddConBox {padding-top: 22px;}
.popularAddPop .popularAddConBox .tabBox{padding:0 30px 28px;}
.popularAddPop .popularAddConBox .tabBox>ul>li{width: 220px; height: 70px; background-color: #F2F2F2; float: left; margin-right: 20px; border-radius: 10px; box-sizing: border-box; padding-left: 16px; padding-top: 8px; cursor: pointer; position: relative;}
.popularAddPop .popularAddConBox .tabBox>ul>li .rec{width: 40px; height: 20px; background: linear-gradient(90deg, #FF6669 0%, #FF5988 100%); border-radius: 10px 10px 10px 2px; font-size: 12px; color: #fff; padding: 0 8px; position: absolute; top: -11px; right: -3px; box-sizing: border-box;}
.popularAddPop .popularAddConBox .tabBox>ul>li:last-of-type{width: 160px;}
.popularAddPop .popularAddConBox .tabBox>ul>li.on_chose{background-color: #3377FF;}
.popularAddPop .popularAddConBox .tabBox>ul>li.on_chose p,.popularAddPop .popularAddConBox .tabBox>ul>li.on_chose h3{color: #fff;}
.popularAddPop .popularAddConBox .tabBox h3{font-size: 20px; color: #5C5F66;}
.popularAddPop .popularAddConBox .tabBox p{font-size: 13px; color:rgba(92, 95, 102, .6);}
/* .popularAddPop .tabCon{padding-top: 22px;} */
.popularAddPop .el-form-item__label{box-sizing: border-box; padding-left: 8px; text-align: left;}
.popularAddPop .topDays .topDay_item{min-width: 90px; height: 40px; background: #FFF; border: 1px solid #EDEDED; border-radius: 6px; font-size: 14px; color: #3D424D; box-sizing: border-box; padding-left: 12px; margin-right: 10px; float: left; cursor: pointer; margin-bottom: 12px; box-sizing: border-box; padding-right: 20px; margin-bottom: 2px;}
.popularAddPop .topDays .labs .tips{font-size: 12px; color: #8A8E99;}
.popularAddPop .topDays .labs .tips s{display: inline-block; width: 16px; height: 16px; background: url(../images/tip_icon1.png) no-repeat center/cover; vertical-align: middle; margin-right: 0;}
.popularAddPop .topDays .topDay_item s{display: inline-block;width: 14px; height: 14px; background: #FFF; border: 1px solid #999; border-radius: 50%; vertical-align: middle; margin-right: 16px; box-sizing: border-box; padding: 2px; margin-bottom: 4px;}
.popularAddPop .topDays .topDay_item:hover,.popularAddPop .topDays .topDay_item.on_chose{border-color: #99C2FF; color: #3377FF;}
.popularAddPop .topDays .topDay_item:hover s,.popularAddPop .topDays .topDay_item.on_chose s{border-color: #3377FF;}
.popularAddPop .topDays .topDay_item:hover s::before,.popularAddPop .topDays .topDay_item.on_chose s::before{content: ''; display: block; width: 8px; height: 8px; background-color: #3377FF; margin: auto; border-radius: 50%;}
.popularAddPop .topDays .self_define{width: 160px; }
.popularAddPop .topDays .self_define input{border-radius: 6px;}
.popularAddPop .topDays .self_define .unit_text{padding-right: 6px;}
.popularAddPop .el-form.singleForm .el-form-item .pay_count{ color: #FF5039; font-size: 14px; font-weight: bold;}
.popularAddPop .el-form.singleForm .el-form-item .pay_count b{font-size: 22px;}
.popularAddPop .el-form.singleForm .QRBox{width: 220px; height: 220px; background: #FFFFFF; border: 1px solid #EDEDED; border-radius: 6px; padding: 10px; box-sizing: border-box; margin-right: 15px;}
.popularAddPop .el-form.singleForm .QRConBox{padding-left: 140px;}
.popularAddPop .el-form.singleForm .QRBox img{display: block; width: 100%; height: 100%; object-fit: cover;}
.popularAddPop .el-form.singleForm .wxCode {padding-top: 48px;}
.popularAddPop .el-form.singleForm .wxCode p{font-size: 14px; color: #7C808A; line-height: 1.2em;}
.popularAddPop .el-form.singleForm .wxCode a{color: #5C5F66; font-size: 14px; line-height: 1.2em}
.popularAddPop .el-form.singleForm .wxCode .iconBox img{width: 48px; height: 48px; margin-right: 4px;}



/* 增值包 */
.popularAddPop .tabConBox{padding: 0 28px;}
.popularAddPop .tabCon_add .tabChoseBox li{width: 180px; height: 58px; background: #F8FAFD; margin-bottom: 10px; border-radius: 6px; box-sizing: border-box; padding:10px 16px; position: relative; padding-right: 32px; cursor: pointer;}
.popularAddPop .tabCon_add .tabChoseBox li h3{font-size: 14px; color: #212121; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.popularAddPop .tabCon_add .tabChoseBox li p{color: #B0B4BF; font-size: 12px;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.popularAddPop .tabCon_add .tabChoseBox li.on_chose,.popularAddPop .tabCon_add .tabChoseBox li:hover{ background: linear-gradient(90deg, #83C6FF 0%, #5392FF 100%); border-radius: 6px; color: #fff;}
.popularAddPop .tabCon_add .tabChoseBox li.on_chose h3,
.popularAddPop .tabCon_add .tabChoseBox li.on_chose p
,.popularAddPop .tabCon_add .tabChoseBox li:hover h3
,.popularAddPop .tabCon_add .tabChoseBox li:hover p{color: #fff;}
.popularAddPop .tabCon_add .tabChoseBox li s{display: block; width: 20px; height: 20px; background: url(../images/right_arr_circle.png) no-repeat center/cover; position: absolute; right: 16px; top: 0; bottom: 0; margin: auto;}
.popularAddPop .tabCon_add .tabChoseBox li.on_chose s,.popularAddPop .tabCon_add .tabChoseBox li:hover s{background-image: url(../images/arr_white_circle.png);}

.popularAddPop .tabChoseConBox{margin-left: 200px; max-height: 310px; overflow: overlay;}
.popularAddPop .longLiCon li{ padding: 1px; border-radius: 12px; height: 90px; box-sizing: border-box; border: solid 1px #F2F2F2; position: relative; overflow:hidden; cursor: pointer ; margin-bottom: 12px;}
.popularAddPop .longLiCon li>div.liCon{padding: 20px 0; height: 100%; box-sizing: border-box; background-color: #fff;}
.popularAddPop .longLiCon li.on_chose,.popularAddPop .longLiCon li:hover{background: linear-gradient(90deg, #02A1FF, #2DD4FF); padding: 2px; border: none; }
.popularAddPop .longLiCon li.on_chose>div.liCon,.popularAddPop .longLiCon li:hover>div.liCon{height: 100%; background-color: #F7FBFF; border-radius: 10px; padding: 20px 0;}
.popularAddPop .longLiCon li.on_chose .rec,.popularAddPop .longLiCon li:hover .rec{left: -35px; top: 7px; }
.popularAddPop .longLiCon li .rec{font-size: 12px; font-weight: bold; color: #fff; background: linear-gradient(90deg, #F2C26E 0%, #EBB352 100%); width: 100px; position: absolute; left: -36px; top: 6px; transform: rotate(-40deg); text-align: center;}
.popularAddPop .longLiCon .addP_info{width: 130px; position: relative; height: 100%; box-sizing: border-box; padding-left: 22px;}
.popularAddPop .longLiCon .addP_info::after{content: ''; display: block; width: 1px; height: 50px; background: linear-gradient(0deg, rgba(204,204,204,0) 0%,rgba(204,204,204,1) 50%,rgba(204,204,204,0) 100%); opacity: 0.3; position: absolute; right: 0; top: 0; bottom: 0; margin: auto;}
.popularAddPop .longLiCon .addP_info h4{font-size: 14px; color: #212121;}
.popularAddPop .longLiCon .addP_info p{font-size: 13px; color: #AAABB3;}
.popularAddPop .longLiCon .addP_info p span{color: #FF5039; font-size: 16px; font-weight: bold;margin-right: 2px;}
.popularAddPop .longLiCon .addP_info p span b{font-size: 22px;}
.popularAddPop .longLiCon .addP_detail{width: 278px; font-size: 14px; box-sizing: border-box; padding-left: 13px; display: flex; align-items: center;  flex-wrap: wrap; height: 100%;}
.popularAddPop .longLiCon .addP_detail .detail_item{display: inline-block; margin-right: 16px;}
.popularAddPop .longLiCon .addP_detail label{color: #919399;}
.popularAddPop .longLiCon .addP_detail span{color: #333;}
.popularAddPop .longLiCon .btnsbox .el-button{border-color: #99C2FF; color: #3377FF; width: 74px; height: 32px; padding: 0; line-height: 32px; font-size: 14px;}
.popularAddPop .longLiCon .btnsbox{padding-right: 18px; padding-top: 30px; position: absolute; right: 0; top: 0; bottom: 0; margin: auto;} 
.popularAddPop .longLiCon li.on_chose .btnsbox,.popularAddPop .longLiCon li:hover .btnsbox{padding-right: 19px; padding-top: 31px;}
.popularAddPop .longLiCon .btnsbox span.hasGou{color: #A1A4B3; margin-right: 14px;}
.popularAddPop .longLiCon .btnsbox span.hasGou s{ display: inline-block; width: 12px; height:12px ; background: url(../images/icon_shou.png) no-repeat center/cover; margin-right: 1px; vertical-align: middle;}
.popularAddPop .longLiCon li.on_chose .btnsbox .el-button,.popularAddPop .longLiCon li:hover .btnsbox .el-button{background-color: #3377FF; color: #fff; border-color: #3377FF;}

.popularAddPop .tabChoseCon.shortLiCon li{width: 286px; height: 94px; background: #FFFFFF; border: 1px solid #F2F2F2; border-radius: 10px; box-sizing: border-box; margin-bottom: 12px; margin-right: 12px; padding: 1px; cursor: pointer;}
.popularAddPop .tabChoseCon.shortLiCon li:nth-child(2n){margin-right: 0;}
.popularAddPop .tabChoseCon.shortLiCon .shortCon {padding: 0 18px; border-radius: 8px;  height: 100%;}
.popularAddPop .tabChoseCon.shortLiCon .shortCon h3{font-size: 14px; color: #212121; line-height: 40px; border-bottom:solid 1px rgba(204, 204, 204, .3) ;}
.popularAddPop .tabChoseCon.shortLiCon .shortCon .info{padding-top: 10px;}
.popularAddPop .tabChoseCon.shortLiCon .shortCon .info .left_price{float: left;}
.popularAddPop .tabChoseCon.shortLiCon .shortCon .info .left_price .price{color: #FF5039; font-size: 14px; font-weight: bold;}
.popularAddPop .tabChoseCon.shortLiCon .shortCon .info .left_price .price b{font-size: 20px;}
.popularAddPop .tabChoseCon.shortLiCon .shortCon .info .oprice{font-size: 13px; color: #AAABB3; margin-left: 2px;}
.popularAddPop .tabChoseCon.shortLiCon .shortCon .info .money_save{font-size: 12px; color: #CF9B77; display: inline-block; background-color: #FFEDDE; border-radius: 2px; line-height: 18px; padding: 0 2px;} 

.popularAddPop .tabChoseCon.shortLiCon .shortCon .info .right_info{float: right; color: #A1A4B3; font-size: 12px; line-height: 32px;}
.popularAddPop .tabChoseCon.shortLiCon .shortCon .info .right_info span s{ display: inline-block; width: 12px; height:12px ; background: url(../images/icon_shou.png) no-repeat center/cover; margin-right: 1px; vertical-align: middle;}
.popularAddPop .tabChoseCon.shortLiCon .shortCon .info .right_info .el-button{ color: #fff; width: 74px; height: 32px; padding: 0; line-height: 32px; font-size: 14px; background-color: #3377FF; display: none; border-color: #3377FF;}

.popularAddPop .tabChoseCon.shortLiCon li:hover,.popularAddPop .tabChoseCon.shortLiCon li.on_chose {background:  linear-gradient(-90deg, #02A1FF, #2DD4FF); border: none; padding: 2px;}
.popularAddPop .tabChoseCon.shortLiCon li:hover .shortCon ,.popularAddPop .tabChoseCon.shortLiCon li.on_chose .shortCon{background-color: #F7FBFF;}
.popularAddPop .tabChoseCon.shortLiCon li:hover .el-button,.popularAddPop .tabChoseCon.shortLiCon li.on_chose .el-button{display: block !important;}
.popularAddPop .tabChoseCon.shortLiCon li:hover .hasGou,.popularAddPop .tabChoseCon.shortLiCon li.on_chose .hasGou{display: none;}


/* 好友助力 */
.popularAddPop .tabCon_help{height: 318px; border-radius: 6px; border: 1px solid #F2F2F2; margin-top: 22px; box-sizing: border-box; padding: 32px;}
.popularAddPop .tabCon_help h3{font-size: 18px; color: #212121; text-align: center;}
.popularAddPop .tabCon_help>p{color: #AAABB3; font-size: 14px; text-align: center; margin-top: 6px;}
.popularAddPop .tabCon_help .helpCon{min-height: 100px; background: linear-gradient(90deg, #FFFAF7 0%, #FFFAF5 100%); border-radius: 6px; margin-top: 18px; padding-left: 100px; padding-top:10px;}
.popularAddPop .tabCon_help .helpCon li{display: inline-block; color: #757880; font-size: 14px; margin-right: 35px; padding-top: 14px;}
.popularAddPop .tabCon_help .helpCon li em{color: #333;}
.popularAddPop .tabCon_help .helpCon li span{color: #FF5039;}
.popularAddPop .tabCon_help .btn-box {margin-top: 22px; text-align: center;}
.popularAddPop .tabCon_help .btn-box .el-button{width: 220px; height: 44px; border-radius: 6px; font-size: 15px;}

.inviteQRcodePop{box-sizing: border-box; padding: 28px 0;}
.inviteQRcodePop .qrCode{width: 120px; height: 120px; margin: auto;}
.inviteQRcodePop .qrCode img{display: block; height: 100%; width: 100%; object-fit: cover;}
.inviteQRcodePop .qrCodeBox p em{font-size: 12px; color: #1975FF;}
.inviteQRcodePop .qrCodeBox p {font-size: 12px; color: #666; text-align: center; margin-top: 14px;}
.inviteQRcodePop .qrCodeBox .el-divider{font-size: 14px; color: #333; margin: 24px 50px; white-space: nowrap; width: auto;}


/* 购买套餐弹窗 */
.buyMealPop{width: 656px; height: 480px; background: url(../images/pop_bg.png) no-repeat center/cover; position: fixed; left: 0; right: 0; top: 0; bottom: 0; margin: auto; display: none; animation:  popup .3s; z-index: 15; }
.buyMealPop.showPop{display: block;}
.buyMealPop .close_btn{width: 36px; height: 36px; background: url(../images/closePop_icon.png) no-repeat center/cover; position: absolute; top: 38px; right: -7px; left: auto;}
.buyMealPop .buyMeal_head{position: absolute; left: 73px; top: 70px;}
.buyMealPop .buyMeal_head h3{font-size: 22px; color: #fff; font-weight: bold;}
.buyMealPop .buyMeal_head h3 s{display: inline-block; width: 32px; height: 32px; background: url(../images/icon_meal.png) no-repeat center/cover; margin-right: 3px; vertical-align: middle; margin-bottom: 2px;} 
.buyMealPop .buyMeal_head p{font-size: 14px; color: #fff;}
.buyMealPop .buyMeal_con{margin: 0 60px; position: absolute; left: 0; right: 0; top: 218px;}
.buyMealPop .buyMeal_con li{width: 33.3%; float: left; text-align: center;}
.buyMealPop .buyMeal_con li .iconbox{width: 64px; height: 64px; margin: auto;}
.buyMealPop .buyMeal_con li .iconbox img{display: block; width: 100%; height: 100%; object-fit: cover;}
.buyMealPop .buyMeal_con li h4{font-size: 14px; font-weight: bold; color: #2E344D; margin-top: 8px;}
.buyMealPop .buyMeal_con li h4 b{color: #266EFF;}
.buyMealPop .buyMeal_con li p{color: #999; font-size: 13px; margin-top: 8px;}
.buyMealPop .buyMeal_con .btn_to{display: block; width: 180px; height: 42px; background: #FFF; border: 1px solid #EDEDED; border-radius: 6px; font-size: 14px; color: #666; text-align: center; line-height: 40px; box-sizing: border-box; margin: 26px auto;}
.buyMealPop .buyMeal_con .btn_to:hover{background-color: #EDF4FF; color: #266EFF; border-color: #EDF4FF; }


.el-select-dropdown__item.hover, .el-select-dropdown__item:hover{background-color: #F0F6FF; color: #1975FF;}


.chosedPost{height: 50px; font-size: 16px; font-weight: bold; color: #333; line-height: 50px;}
.chosedPost span.sala{font-size: 18px; font-family: DINMittelschriftStd; color: #405580;}
.chosedPost span.sala b{font-size: 16px;}

.readResumePop.confirmPop {width: 400px;}
.readResumePop.confirmPop  .btnsGroup .el-button{width: 140px; height: 42px; margin: 0 10px;}
.readResumePop.confirmPop .ptext{color: #1975FF;}

.el-select-dropdown__item.selected{font-weight: normal; color: #1975FF;}


.resumeAddr{display: flex; align-items: center; justify-content: flex-start;}
.resumeAddr .edit_posi{display: inline-block; font-size: 14px; color: #1975FF; margin-left: 12px; cursor: pointer; flex-shrink: 0;}
.resumeAddr .edit_posi s{display: inline-block; width: 28px; height: 28px; background: url(../images/map_btn.png) no-repeat center/cover; vertical-align: middle; margin-bottom: 2px; margin-right: 2px;}

.payMask{z-index: 2002;}


/* 下载简历弹窗 */
.resumeContainer .resumePop{position: fixed; left: 0; right: 0; top: 0; bottom: 0; margin: auto; width: 600px; height: 390px; background-color: #fff; border-radius: 16px; display: none; animation: popup .3s;}
.resumeContainer .resumePop.showPop{display: block;} 
.resumeContainer .resumePop::before{display: block; content: ''; pointer-events:none; position: absolute; left: 0; top: 0; right: 0; height: 130px; background: linear-gradient(0deg, #FFFFFF 0%, #EDF4FF 100%); border-radius: 16px 16px 0 0;}
.resumeContainer .resumePop .resumeCon{position: relative;}
.resumeContainer .resumePop .resumeHead{text-align: center; padding-top: 28px; margin-bottom: 28px;}
.resumeContainer .resumePop .resumeHead h3{font-size: 20px; color: #222; font-weight: bold;}
.resumeContainer .resumePop .resumeHead p{text-align: center; font-size: 14px; color: #999;}
.resumeContainer .resumePop .resumeDetail{margin: 0 50px; height: 110px; background: #F7F9FC; border-radius: 20px; box-sizing: border-box; padding: 15px 20px; display: flex; align-items: center;}
.resumeContainer .resumePop .resumeDetail .rPhoto{width: 80px; height: 80px; margin-right: 18px; border-radius: 50%; background-color: #fff;}
.resumeContainer .resumePop .resumeDetail h3 b{font-size: 18px; color: #333; align-items: center; margin-right: 10px;}
.resumeContainer .resumePop .resumeDetail h3 {font-size: 12px; color: #666;}
.resumeContainer .resumePop .resumeDetail h3 em{color: #E0E0E0; font-size: 11px; margin: 0 6px; align-items: center;}
.resumeContainer .resumePop .resumeDetail p{color: #333; font-size: 14px; font-weight: bold; margin-top: 6px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.resumeContainer .resumePop .resume_tip{font-size: 14px; color: #666; margin-left: 55px; margin-top: 20px; }
.resumeContainer .resumePop .resume_tip span{color: #1975FF;}
.resumeContainer .resumePop .btnsGroup{display: flex; align-items: center; justify-content: center; margin-top: 40px;}
.resumeContainer .resumePop .el-button{width: 160px; height: 48px; position: relative; font-size: 15px;}
.resumeContainer .resumePop .el-button .rec{color: #fff; font-size: 12px; height: 20px; background: linear-gradient(90deg, #FF6669 0%, #FF5988 100%); border-radius: 10px 10px 10px 2px; padding: 0 6px; position: absolute; right: -6px; top: -6px; line-height:20px;}
.resumeContainer .resumePop .btn_dark{ background: linear-gradient(90deg, #00195A 0%, #2C3146 100%); color: #fff; font-size: 16px; border: none;}
.resumeContainer .resumePop .el-button em{color: rgba(255,255,255,.5); font-size: 14px;}
.resumeContainer .resumePop .btn_big{width: 280px;}

/* 邮箱绑定 */
.addEmailPop{width: 430px; height: 240px; background: #FFFFFF; box-shadow: 1px 8px 40px 0px rgba(0,15,77,0.08); border-radius: 16px; position: fixed; left: 0; right: 0; top: 0; bottom: 0; margin: auto; display: none; animation: popup .3s;}
.addEmailPop.showPop{display: block;}
.addEmailPop>h3{font-size: 18px; color: #000; font-weight: bold; padding: 10px 20px 0;}
.addEmailPop .emailForm{margin: 20px 25px 0;}
.addEmailPop .emailForm p{font-size: 13px; color: #999; margin-top: 8px;}
.addEmailPop .emailForm .btn_groups{text-align: center; margin-top: 40px;}
.addEmailPop .emailForm .btn_groups .el-button{width: 140px; }
.addEmailPop .emailForm .btn_groups .el-button.cancel{background-color: #F2F2F2; color: #666; border-color: #F2F2F2;}


/* 下载简历弹窗成功提示 */
.confirmPop.confirmPop_2.downloadSuccess .close_btn{right: 10px; top: 10px; background-image: url(../images/close_pop.png); background-size: 30px;}
.confirmPop.confirmPop_2.downloadSuccess{width: 500px; height: 276px; padding-top: 32px;}
.confirmPop.confirmPop_2.downloadSuccess.success2{width: 480px;}
.confirmPop.confirmPop_2.downloadSuccess h3{font-size: 16px;}
.confirmPop.confirmPop_2.downloadSuccess h3 s{background-image: url(../images/successTip.png); background-size: 40px; width: 40px; height: 40px;}
.confirmPop.confirmPop_2.downloadSuccess .rInfo{display: inline-block; background-color: rgba(25, 117, 255, .05); padding: 10px; border-radius: 6px; min-height: 70px; box-sizing: border-box;}
.confirmPop.confirmPop_2.downloadSuccess .rInfo h3{font-size: 16px; color: #1975FF; }
.confirmPop.confirmPop_2.downloadSuccess .btnsGroup{margin-top: 34px;}
.confirmPop.confirmPop_2.downloadSuccess .el-button{width: 180px; height: 46px; }
.confirmPop.confirmPop_2.downloadSuccess .btn_symple{border-color: #1975FF; color: #1975FF;}

.el-table .cell{text-overflow:clip;}

/* 成功提示补充 */
.successContainer{position: relative;}

.popularPopAddContainer{position: relative; z-index: 1;}
.confirmPop .btnsGroup .el-button.btn_mid_140{width: 140px;}
.confirmPop .btnsGroup .el-button.btn_big{width: 180px;}