.navBox li:nth-of-type(6) a{color: #256CFA;}
.Shell{width: 1200px;margin: auto;}
/* 顶部搜索 */
.searchTop{display: flex;justify-content: space-between;margin: 24px 0px 20px;}
.s-left{display: flex;align-items: center;}
.s-left span{color: #333333;font-size: 30px;font-weight: bold;}
.s-left img{width: 120px;height: 38px;object-fit: cover;vertical-align: sub;}
.s-right{display: flex;align-items: center;width: 500px;height: 42px;background: #FFFFFF;border: 1px solid #2278FF;border-radius: 21px;padding: 0px 30px 0px 0px;box-sizing: border-box;}
.s-right input{border: 0px;outline: none;flex: 1;font-size: 14px;margin-right: 5px;height: 100%;border-radius: 21px 0px 0px 21px;padding-left: 21px;}
.s-right input::placeholder{color: #B3B3B3;}
.s-right div::before{content: '';width: 1px;height: 16px;display: inline-block;background-color: #E6E6E6;}
.s-right img{width: 24px;height: 24px;object-fit: cover;vertical-align: sub;cursor: pointer;margin-left: 20px;}
/* 筛选条件 */
.d-filter{padding: 25px 26px 4px 27px;background-color: white;border-radius: 8px;margin-bottom: 12px;}
.df-job{display: flex;align-items: center;margin-bottom: 25px;}
.df-job span{color: #666666;font-size: 14px;margin-right: 10px;}
.df-job div{width: 300px;height: 38px;background: #F0F6FF;border: 1px solid #B2D1FF;border-radius: 4px;color: #1975FF;font-size: 13px;line-height: 38px;text-align: center;cursor: pointer;}
.df-area,.df-welfare,.df-salary,.dfs-left,.df-age,.df-time{display: flex;}
.df-area div,.df-welfare div,.dfs-left div,.df-time div{margin-right: 10px;flex-shrink: 0;font-size: 14px;}
.df-area ul,.df-welfare ul,.dfs-left ul,.df-time ul{display: flex;flex-wrap: wrap;}
.df-area ul li,.df-welfare ul li,.df-time ul li{color: #212121;font-size: 13px;margin-right: 30px;margin-bottom: 22px;cursor: pointer;}
.df-area ul li:hover,.df-welfare ul li:hover,.df-time ul li:hover{color: #2278FF;}
.df-area ul li:last-child,.df-welfare ul li:last-child,.dfs-left ul li:last-child,.df-time ul li:last-child{margin-right: 0px;}
.df-welfare ul .active,.dfs-left ul .active,.df-time ul .active{color: #2278FF;font-weight: bold;}
.df-area ul .active{color: #2278FF;font-weight: bold;}
.df-salary,.df-age{align-items: center;margin-bottom: 22px;}
.dfs-left ul li{color: #212121;font-size: 13px;margin-right: 30px;cursor: pointer;}
.dfs-left ul li:hover{color: #2278FF;}
.dfs-left{margin-right: 60px;}
.dfs-right{display: flex;align-items: center;}
.dfs-right span{font-size: 14px;color: #999999;}
.dfs-right .inputs{width: 72px;height: 28px;border-radius: 4px;border: 1px solid #EEEEEE;box-sizing: border-box;display: flex;align-items: center;padding: 0px 10px 0px 4px;font-size: 14px;transition: all .5s;}
.dfs-right .inputs:hover{border-color: #C0C4CC;}
.dfs-right .inputs input{width: 100%;border: 0;outline: none;}
.dfs-right .btn{width: 56px;height: 28px;border: 1px solid #EEEEEE;border-radius: 14px;box-sizing: border-box;text-align: center;line-height: 25px;color: #212121;font-size: 12px;cursor: pointer;transition: all .2s;}
.dfs-right .btn:hover{border-color: #C0C4CC;}
/* tab筛选 */
.tabFilter{display: flex;justify-content: space-between;height: 60px;background-color: rgba(255,255,255,.7);border-radius: 8px 8px 0px 0px;padding-right: 26px;}
.t-left{display: flex;align-items: center;}
.tl-tab{display: flex;color: #666666;font-size: 14px;}
.tl-tab div{padding: 0px 24px;cursor: pointer;}
.tl-tab div:hover{color: #1975FF;}
.tl-tab .active{color: #1975FF;font-weight: bold;}
.tl-filter{margin-left: 33px;display: flex;align-items: center;}
.tl-filter div{margin-right: 19px;display: flex;align-items: center;cursor: pointer;font-size: 14px;}
.tl-filter div::before{content: '';width: 14px;height: 14px;border:1px solid #CCCCCC;background-color: #FAFAFA;box-sizing: border-box;display: inline-block;border-radius: 4px;margin-right: 3px;}
.tl-filter .active::before{content: '';width: 14px;height: 14px;background: url(../images/confirmW.png) no-repeat #266EFF;background-size: cover;box-sizing: border-box;border: 1px solid #266EFF;}
.tl-filter span{color: #333333;font-size: 14px;margin-right: 12px;}
.t-right{display: flex;align-items: center;}
.tr-page{color: #9A9A9A;font-size: 13px;margin: 0px 14px;}
.tr-page span{color: #1975FF;}
.tr-pre{height: 6px;width: 6px;border-left: 2px solid #666666;border-bottom: 2px solid #666666;border-radius: 2px;transform: rotateZ(45deg);cursor: pointer;}
.tr-pre.none{border-color: #999999 !important;}
.tr-pre:hover{border-color: #1975FF;}
.tr-next{height: 6px;width: 6px;border-top: 2px solid #666666;border-right: 2px solid #666666;border-radius: 2px;transform: rotateZ(45deg);cursor: pointer;}
.tr-next:hover{border-color: #1975FF;}
.tr-next.none{border-color: #999999 !important;}
/* 人才信息 */
.listdata li{margin-bottom: 12px;border-radius: 8px;background-color: white;}
.listdata li:first-child{border-radius: 0px 0px 8px 8px;}
.listdata li a{display: flex;justify-content: space-between;padding: 26px 43px 24px 20px;position: relative;border-radius: 8px;transition: all .2s;}
.listdata li a:hover{box-shadow: 1px 8px 40px 0px rgb(0 15 77 / 6%);position: relative;z-index: 1;}
.l-left{display: flex;margin-right: 80px;width: 618px;}
.l-left img{width: 100px;height: 100px;object-fit: cover;border: 1px solid #D2D2D2;border-radius: 50%;box-sizing: border-box;margin-right: 18px;}
.ll-right .name{display: flex;align-items: center;margin-bottom: 5px;}
.ll-right .name span{color: #333333;font-size: 18px;font-weight: bold;margin-right: 3px;}
.ll-right .name div{width: 48px;height: 20px;background: #FFF5F0;border: 1px solid #FF6A00;border-radius: 4px;text-align: center;line-height: 20px;color: #FF6A00;font-size: 12px;}
.ll-right .state{color: #666666;font-size: 12px;margin-bottom: 8px;}
.ll-right .state span{color: #E0E0E0;margin: 0px 4px;}
.ll-right .salary{color: #333333;font-size: 14px;font-weight: bold;margin-bottom: 11px;}
.ll-right .salary span{color: #1975FF;font-size: 18px;font-weight: bold;margin-right: 13px;font-family: DINMi;}
.ll-right .label{display: flex;margin-bottom: 15px;}
.ll-right .label div{height: 28px;background: rgba(245, 249, 255, .5);border: 1px solid #94AFDA;border-radius: 4px;padding: 0px 15px;line-height: 28px;color: #668FCC;font-size: 13px;margin-right: 8px;}
.ll-right p{color: #999999;font-size: 14px;max-width: 500px;}
.r-right{flex: 1;}
.rr-exp{margin-bottom: 24px;padding-top: 9px;}
.rr-exp .title{font-size: 14px;color: #333333;position: relative;}
.rr-exp .title::before{content: '';position: absolute;top: 0px;left: -30px;width: 22px;height: 22px;background: url(../images/toolGray.png) no-repeat center/cover;}
.rr-exp .text{display: flex;font-size: 14px;justify-content: space-between;}
.rr-exp .text p{margin-right: 64px;color: #999999;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 330px;}
.rr-exp .text div{color: #666666;flex-shrink: 0;}
.rr-exp .text div::before{content: '';width: 20px;height: 20px;background: url(../images/starG.png) no-repeat center/cover;display: inline-block;vertical-align: text-top;margin-right: 5px;}
.rr-exp .text .has::before{content: '';width: 20px;height: 20px;background: url(../images/StarO.png) no-repeat center/cover;display: inline-block;vertical-align: text-top;margin-right: 5px;}
.rr-school .title{color: #333333;font-size: 14px;position: relative;}
.rr-school .title::before{content: '';position: absolute;top: 0px;left: -30px;width: 22px;height: 22px;background: url(../images/hatGray.png) no-repeat center/cover;}
.rr-school .p{color: #999999;}
/* 企业会员 */
.companyVip{height: 444px;background:linear-gradient(to bottom, rgba(102, 163, 255, .23) 0%,rgba(255, 255, 255, 1) 50%);;border-radius: 8px;display: flex;align-items: center;justify-content: center;flex-direction: column;background: url(../images/talentbg.png) no-repeat center/cover;}
.c-title{font-size: 24px;color: #222222;font-weight: bold;margin-bottom: 6px;}
.c-text{color: #999999;font-size: 14px;margin-bottom: 42px;}
.c-btn{width: 220px;height: 46px;background: #3F7EFC;border-radius: 23px;color: #FFFFFF !important;font-size: 16px;text-align: center;line-height: 46px;display: block;margin: auto;}
.c-kefu{color: #666666;font-size: 14px;}
.c-kefu span{color: #2278FF;cursor: pointer;}
.c-btn{margin-bottom: 20px;}
/* 底部翻页 */
.dll-page{display: flex;justify-content: center;margin-top: 32px;}
.dll-page span{font-size: 13px;color: #666666;}
.dll-page input{width: 60px;background-color: white;border: 0;outline: none;height: 30px;font-size: 13px;text-align: center;border-radius: 4px;padding: 0px 10px;box-sizing: border-box;}
.dll-page .btn{width: 60px;height: 30px;background-color: #3377FF;color: white;text-align: center;line-height: 30px;border-radius: 4px;margin-left: 10px;cursor: pointer;}
.dll-page ul{display: flex;}
.dll-page ul li{min-width: 20px;height: 30px;padding: 0 5px;line-height: 30px;text-align: center;background: #FFFFFF;border-radius: 4px;overflow: hidden;font-size: 13px;margin-right: 10px;}
.dll-page ul li{cursor: pointer;}
.dll-page ul li:hover{background-color: #2278FF;color: white;}
.dll-page ul .more:hover{background-color: white;color: #333;}
.dll-page ul .prev{background-color: #f0f0f0 !important;color: #666666 !important;cursor: no-drop;pointer-events: none;}
.dll-page ul .active{cursor: no-drop;background-color: #2278FF;color: white;}
/* 弹窗 */
.warnpop{position: fixed;width: 100%;height: 100%;background-color: rgba(0,0,0,.5);z-index: 10000;top: 0px;left: 0px;display: none;}
.p-con{width: 500px;height: 260px;background:url(../images/talent_pop.png) no-repeat top/cover #FFFFFF;box-shadow: 1px 8px 40px 0px rgba(0,15,77,0.08);border-radius: 16px;position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;background-size: 100% 110px;animation: topFadeIn .3s;text-align: center;box-sizing: border-box;padding: 40px 0px 38px;display: none;}
.p-con img{position: absolute;top: 10px;right: 10px;width: 32px;height: 32px;cursor: pointer;}
.p-con p{color: #212121;font-size: 20px;font-weight: bold;margin-bottom: 20px;}
.p-con span{color: #1975FF;font-size: 14px;}
.p-con em{color: #999999;font-size: 14px;display: block;margin-top: 5px;}
.p-con a{width: 180px;height: 46px;background: #3377FF;border-radius: 23px;color: white !important;font-size: 14px;text-align: center;line-height: 46px;margin: 39px auto 0px;display: block;}
.p-href{width: 440px;height: 110px;background: #FFFFFF;box-shadow: 1px 8px 40px 0px rgba(0,15,77,0.08); border-radius: 10px;position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;box-sizing: border-box;padding-top: 28px;animation: topFadeIn .3s;display: none;}
.p-href p{color: #212121;font-size: 16px;font-weight: bold;text-align: center;}
.p-href p span{color: #1975FF;}
.p-href div{color: #999999;font-size: 14px;text-align: center;margin-top: 10px;}
@keyframes bottomFadeOut{
	0%{opacity:1;	transform:translateY(0px);}
	100%{opacity:0; transform:translateY(-20px);}
}
@font-face {
	font-family: DINMi;
	src: url('../../../../static/fonts/DINMittelschriftStd.eot'),
        url('../../../../static/fonts/DINMittelschriftStd.otf'),
        url('../../../../static/fonts/DINMittelschriftStd.ttf'),
        url('../../../../static/fonts/DINMittelschriftStd.woff'),
        url('../../../../static/fonts/DINMittelschriftStd.woff2') /* IE9 */
}