body{overflow: visible;}
[v-cloak]{display: none;}
.header{position: sticky;top: 0;}
.Shell{background-color: #F5F5F7;padding-bottom: calc(env(safe-area-inset-bottom) + 1.52rem);min-height: calc(100vh - .9rem);box-sizing: border-box;}
/* 楼盘 */
.s-store{background-color: white;flex-shrink: 0;overflow: hidden;}
.ss-loupan,.ss-sale,.ss-zu{overflow: hidden;position: relative;padding-left: .94rem;display: flex;box-sizing: border-box;}
.ss-loupan.drag,.ss-sale.drag,.ss-zu.drag{width: calc(100vw + 1.3rem);transition: transform .3s;}
.ss-loupan.active::before,.ss-sale.active::before,.ss-zu.active::before{display: none;}
.ss-loupan.active .ssl-icon,.ss-sale.active .sss-icon,.ss-zu.active .ssz-icon{display: block;}
.ss-loupan::before,.ss-sale::before,.ss-zu::before{content: '';width: .32rem;height: .32rem;background: #FFFFFF;border-radius: .16rem;border: .02rem solid #CCCCCC;position: absolute;top: 50%;left: .42rem;box-sizing: border-box;transform: translateY(-50%);}
.ssl-icon,.sss-icon,.ssz-icon{width: .34rem;height: .34rem;position: absolute;top: 50%;left: .42rem;display: none;transform: translateY(-50%);}
.ssl-content,.sss-content,.ssz-content{display: flex;padding: .2rem 0rem;border-bottom: .01rem solid #EEEEEE;width: 100%;padding-right: .26rem;box-sizing: border-box;}
.ssl-content .picture,.sss-content .picture{width: 1.92rem;height: 1.46rem;margin-right: .2rem;flex-shrink: 0;object-fit: cover;}
.ssl-content .details,.sss-content .details,.ssz-content .details,.ssz-content .details{display: flex;justify-content: space-between;flex-direction: column;}
.ssl-content .details .title,.sss-content .details .title span,.ssz-content .details .title{font-weight: bold;font-size: .32rem;color: #333333;display: -webkit-box;word-break: break-all;overflow: hidden;-webkit-box-orient: vertical;-webkit-line-clamp: 1;}
.ssl-content .details .price{display: flex;align-items: baseline;}
.ssl-content .details span,.ssz-content .details .address{font-weight: 300;font-size: .24rem;color: #A0A0A0;}
.ssl-content .details span span{color: #F35712;font-size: .3rem;font-weight: bold;margin-right: .08rem;}
.ssl-delete,.sss-delete,.ssz-delete{width: 1.3rem;background: #EB4D3D;font-weight: 500;font-size: .28rem;color: #FFFFFF;display: flex;align-items: center;justify-content: center;flex-shrink: 0;}
.s-list{margin-top: .2rem;background-color: white;flex-grow: 1;}
.sl-tab{display: flex;height: .9rem;align-items: center;border-bottom: .01rem solid #EEEEEE;position: sticky;top: .9rem;z-index: 1;background-color: white;}
.slt-item{font-weight: 500;font-size: .28rem;color: #999999;position: relative;flex-grow: .5;text-align: center;}
.slt-item.active{font-weight: bold;font-size: .3rem;color: #000000;}
.slt-item.active::before{content: '';width: .3rem;height: .05rem;background: #F35712;border-radius: .03rem;position: absolute;bottom: -.16rem;left: 50%;transform: translateX(-50%);}
.s-loading{text-align: center;line-height: .9rem;}
/*二手房*/
.sss-content .details .title{display: flex;align-items: center;}
.sss-content .details .title .label{font-weight: 300;font-size: .2rem;color: #FFFFFF;width: .56rem;height: .3rem;background: linear-gradient(45deg, #FF3E8D 0%, #FF9721 100%);border-radius: .04rem;display: flex;align-items: center;justify-content: center;position: relative;margin-right: .12rem;}
.sss-content .details .title .label::before{content: '';border-top: .08rem solid transparent;border-right: .08rem solid transparent;border-bottom: .08rem solid transparent;border-left: .08rem solid #FF9721;position: absolute;top: 50%;right: -.14rem;transform: translateY(-50%);}
.sss-content .details .price .text{font-weight: 300;font-size: .24rem;color: #333333;}
.sss-content .details .price .money{font-weight: bold;font-size: .3rem;color: #F35712;margin-right: .2rem;}
.sss-content .details .name{font-weight: 300;font-size: .24rem;color: #A0A0A0;}
/* 租房 */
.ssz-content .picture{width: 1.92rem;height: 1.46rem;margin-right: .2rem;flex-shrink: 0;position: relative;}
.ssz-content .picture .exhibition{width: 100%;height: 100%;object-fit: cover;display: block;}
.ssz-content .picture .icon{width: .55rem;height: .55rem;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
.ssz-content .details .price{font-weight: bold;font-size: .3rem;color: #F35712;}
/* 对比按钮 */
.compareBtn{padding: .28rem .3rem;box-shadow: 0px 3px 21px 0px rgba(0,0,0,0.13);position: fixed;bottom: 0;left: 0;width: 100%;box-sizing: border-box;background-color: white;}
.compareBtn div{height: .96rem;background: linear-gradient(90deg, #F1502A 0%, #FF6647 100%);border-radius: .48rem;display: flex;align-items: center;justify-content: center;font-weight: 800;font-size: .32rem;color: #FFFFFF;}
.popWarn{position: fixed;z-index: 2;top: 40%;background: rgba(0,0,0,.8);border-radius: .2rem;font-weight: 500;font-size: .24rem;color: #FFFFFF;left: 50%;transform: translateX(-50%);padding: .26rem .3rem;display: none;}