[v-cloak]{display: none;}
.Shell{padding-bottom: calc(env(safe-area-inset-bottom) + 1.92rem);}
.s-card{display: flex;position: relative;margin: .1rem .3rem 0rem;}
.sc-pk{position: absolute;top: 1rem;left: 50%;width: .95rem;height: .95rem;transform: translateX(-50%);}
.sc-item{background: #FFFFFF;box-shadow: 0 0 .18rem 0 rgba(38,38,38,0.07);border-radius: .2rem;padding: .26rem .3rem .3rem;display: flex;flex-direction: column;align-items: center;line-height: 1;margin-right: .26rem;}
.sc-item:last-of-type{margin-right: 0;}
.sci-picture{width: 2.7rem;height: 2.4rem;object-fit: cover;}
.sci-title{font-weight: bold;font-size: .32rem;color: #333333;margin-top: .15rem;display: -webkit-box;overflow: hidden;word-break: break-all;-webkit-box-orient: vertical;-webkit-line-clamp: 1;}
.sci-price{font-weight: 500;font-size: .24rem;color: #F35712;margin-top: .16rem;}
.sci-address{font-weight: 300;font-size: .24rem;color: #A0A0A0;margin-top: .1rem;display: -webkit-box;overflow: hidden;word-break: break-all;-webkit-box-orient: vertical;-webkit-line-clamp: 1;}
.sci-btn{width: 2rem;height: .6rem;background: linear-gradient(90deg, #F1502A 0%, #FF6647 100%);border-radius: .48rem;font-weight: 500;font-size: .3rem;color: #FFFFFF;display: flex;align-items: center;justify-content: center;margin-top: .2rem;}
.s-info{padding: 0rem .3rem 0rem .2rem;}
.si-title{height: 1rem;line-height: 1rem;font-weight: bold;font-size: .32rem;color: #333333;}
.si-table{border-top: .01rem solid #E5E6EB;border-right: .01rem solid #E5E6EB;box-sizing: border-box;}
.sit-items{display: flex;min-height: 1rem;}
.sit-items .item,.sit-items .name{border-left: .01rem solid #E5E6EB;border-bottom: .01rem solid #E5E6EB;display: flex;align-items: center;font-weight: 500;font-size: .26rem;flex-wrap: wrap;}
.sit-items .name{width: 1.6rem;background: #F8F8F8;color: #666666;padding-left: .3rem;box-sizing: border-box;flex-shrink: 0;}
.sit-items .item{width: 50%;padding: .1rem .24rem;color: #333333;}
.sit-items .item span{color: #F1370B;}
.sit-items .item div{width: 100%;}
.s-warn{font-weight: 500;font-size: .2rem;color: #999999;padding: .12rem .3rem 0rem .2rem;}
/* 对比按钮 */
.compareBtn{padding: .28rem .3rem;box-shadow: 0px 3px 21px 0px rgba(0,0,0,0.13);position: fixed;bottom: 0;left: 0;width: 100%;box-sizing: border-box;background-color: white;}
.compareBtn div{height: .96rem;background: linear-gradient(90deg, #F1502A 0%, #FF6647 100%);border-radius: .48rem;display: flex;align-items: center;justify-content: center;font-weight: 800;font-size: .32rem;color: #FFFFFF;}
.popWarn{position: fixed;z-index: 2;top: 40%;background: rgba(0,0,0,.8);border-radius: .2rem;font-weight: 500;font-size: .24rem;color: #FFFFFF;left: 50%;transform: translateX(-50%);padding: .26rem .3rem;display: none;}