<?xml version="1.0" encoding="utf-8"?>
<root>
	<Data>
		<tplname><![CDATA[vue-模板一]]></tplname>
		<copyright><![CDATA[火鸟门户]]></copyright>
        <router>1</router>
		<beforeEach>YmVmb3JlRWFjaCgodG8sZnJvbSxuZXh0KT0+e2xldCBzdHI9IiI7aWYodG8ucXVlcnkhPXt9KXtsZXQgbGVuZ3RoPU9iamVjdC5rZXlzKHRvLnF1ZXJ5KS5sZW5ndGg7bGV0IGNvdW50PTA7Zm9yKGxldCBrZXkgaW4gdG8ucXVlcnkpeysrY291bnQ7c3RyKz1gJHtrZXl9PSR7dG8ucXVlcnlba2V5XX0ke2xlbmd0aD09Y291bnQ/IiI6IiYifWB9fWxldCBhcnI9W3t3ZWI6ImluZGV4Iix0YXJnZXQ6ImluZGV4IixwYXJhbToiIn0se3dlYjoibXkiLHRhcmdldDoibXkiLHBhcmFtOiIifSx7d2ViOiJsaXN0Iix0YXJnZXQ6Imxpc3QiLHBhcmFtOiIifSx7d2ViOm1vbGROYW1lLHRhcmdldDoiaW5kZXgifSxdO2ZvcihsZXQgaT0wO2k8YXJyLmxlbmd0aDtpKyspe2xldCB3ZWI9YXJyW2ldLndlYjtsZXQgdGFyZ2V0PWFycltpXS50YXJnZXQ7aWYodG8ucGF0aC5pbmRleE9mKGAvJHt3ZWJ9YCk+LTEmJnRvLnBhdGghPWAvJHt3ZWJ9YCYmKHRvLnBhdGghPScvdGFza21hbmFnZScmJnRvLnBhdGghPScvdGFza2RldGFpbCcpKXtpZih0YXJnZXQ9PSIiKXt0by5wYXRoPWAvJHt0YXJnZXR9PyR7c3RyfWB9ZWxzZXt0by5wYXRoPWAvJHt0YXJnZXR9JHtzdHIuaW5jbHVkZXMoIj8iKT8iJiI6Ij8ifSR7c3RyfWB9bmV4dCh0by5wYXRoKTticmVha31lbHNlIGlmKHRvLnBhdGg9PWAvJHttb2xkTmFtZX1gfHx0by5wYXRoPT1tb2xkTmFtZSl7bmV4dChgLz8ke3N0cn1gKTticmVha319bmV4dCgpfSk7</beforeEach>
	</Data>
</root>
