
.header{border-bottom: none;}
/* 新版地址 */
html,body{background-color:#fff;}
/* 地址列表 */
.null {margin-top: 1.6rem;text-align: center;}
.null p {font-size: .3rem;color: #666;}
.add_address {background-color: #e53a3c; border-radius: 5px; width: 2.54rem; height: .6rem; line-height: .6rem; overflow: hidden; display: block; margin: .16rem auto 0; color: #fff; text-align: center;}
.addresslist .item {border-bottom: 1px solid #f5f5f7;padding: .3rem 1.27rem .48rem .3rem;font-size: .24rem;overflow: hidden; background-color: #fff; position: relative;transition: all .3s; }
.addresslist .item .a_set_addr {display: block;}
.addresslist .item p {font-size: 0}
.addresslist .item p span {margin-right: .22rem;font-size: .36rem;color: #333;font-weight: bold;}
.addresslist .item .defaultT{font-size: .2rem;color: #fff;background: #F72A34;border-radius: .04rem;display: inline-block;padding: 0 .06rem;line-height: .26rem;margin-right: .06rem;font-weight: normal;}
.addresslist .item p .tel_num {font-size: .24rem;color: #666}
.addresslist .item .adrInfo{font-size: .28rem;color: #212121;line-height: .34rem;margin-top: .14rem;}
.btn_address {margin-top: .1rem; line-height: .44rem;overflow: hidden;}
.btn_address span {color: #999;float: right;background:rgb(208, 25, 0);color: #fff;padding: 3px 8px;border-radius: 5px;}
.addresslist .item .edit{position:absolute;right:0;top:50%;width:.4rem;height:.4rem;margin-top: -.2rem;background:url(../images/adredit.png) no-repeat center;background-size: cover;}
.addresslist .item .edit_btn {right: .3rem;}
.addresslist .item .delBtn{font-size: .26rem; color: #F22F1C; }
.addresslist .item .delBtn.edit{background: none; width: auto; right: .25rem; display: none;}
.editwrap .addresslist .item .delBtn.edit{display: block;}
.editwrap .addresslist .item .edit_btn{display: none;}
.addresslist .item .delBtn a{color: #F22F1C; }
.addresslist .item .edit_btn a{display: block;width: .4rem;height: .4rem;}
.addresslist .item .edit.del {border-left: 0; width: 1rem;}
.addresslist .item.active{padding-left: .9rem;}
.addresslist .item.active::after{content: '';display: block;width: .36rem;height: .36rem;position: absolute;left: .3rem;top: 50%;margin-top: -.18rem;background:url(../images/adrchose.png) no-repeat center;background-size: cover;}
/* 管理 */
.manager .btn_address a {float: right;margin-right: .3rem;line-height: .44rem;color: #999;}
.manager .btn_address a i {display: inline-block;width: .5rem;height: .32rem;float: left;margin-top:.06rem;background-position:center center;background-repeat: no-repeat;background-size: contain;}


.addresslist .empty {margin-top: 1.6rem;text-align: center;}
.addresslist .empty p {font-size: .3rem;color: #666;}

.addAddress{position:fixed;;bottom:0;left:0;right:0;box-sizing: border-box;padding: .16rem .24rem; justify-content: flex-start; display: flex; background: #fff; padding-bottom: .3rem}
.addAddress .manage_btn,.addAddress .finish_btn{display: block; width: 2.2rem; height: .88rem; border-radius: .44rem; box-sizing: border-box; text-align: center; line-height: .86rem ; border: solid .02rem #CECECE; font-size: .32rem; margin-right: .2rem;}
.editwrap .addAddress .manage_btn{display: none;}
.editwrap .addAddress .finish_btn{display: block;}
.addAddress .finish_btn{display: none; border: solid .02rem #F75D41; color: #F65D41;}
.addAddress a.add_btn{display: block;width:100%;height:.88rem;background: linear-gradient(90deg, #F75F42 0%, #F22A18 100%);text-align:center;line-height:.88rem;font-size:.32rem;color:#fff;border-radius: .44rem; display: flex; align-items: center; justify-content: center;}
.addAddress a.add_btn::before{content: ''; display: block; width: .36rem; height: .36rem; background: url(../images/shop/add_icon.png) no-repeat center/cover; margin-right: .1rem;}
.addresslist{margin-bottom: 1.96rem;}
.goPrev {position: fixed; left: 0; bottom: 0; right: 0; text-align: center; height: 1rem; line-height: 1rem;}

.noData{padding-top: 2rem;}
.noData .img{width: 5.1rem; height: 3.9rem; margin: auto;}
.noData .img img{display: block; width: 100%; height: 100%; object-fit: cover;}
.noData .text{margin-top: .5rem;}
.noData h4{font-size: .3rem; color: #333; text-align: center; font-weight: bold;}
.noData p{font-size: .22rem; color: #999; text-align: center;}
.noData .add_btn{display: block; width: 3.3rem; height: .8rem; border-radius: .4rem; font-size: .26rem; color: #fff; font-weight: bold;  background: linear-gradient(90deg, #F75F42 0%, #F22A18 100%); margin: .62rem auto; text-align: center; line-height: .8rem;}



/* 新增地址 选择方式的弹窗 */
.bottomPopBox.show .bp_mask{display: block;}
.bottomPopBox.show .bottomPop{transform: translateY(0);}
.bp_mask{position: fixed; left: 0 ; right: 0; top: 0; bottom: 0; background-color: rgba(0,0,0,.5); display: none;}
.bottomPop{position: fixed; left: 0; right: 0; background-color: #fff; height: 3.6rem; border-radius: .3rem .3rem 0 0; bottom: 0; box-sizing: border-box; padding: 0 .3rem; transform: translateY(calc(120% + constant(safe-area-inset-bottom)))); transform: translateY(calc(120% + env(safe-area-inset-bottom))); transition: transform .3s; display: none}
.bottomPop li a{font-size: .3rem; color: #333; text-align: center; line-height: 1rem; display: block; text-align: center;}
.bottomPop li{border-bottom: solid 1px #f5f5f5;}
.bottomPop li:last-of-type{border: none;}
.bottomPop h4{font-size: .36rem; font-weight: bold; color: #333; text-align: center; padding: .2rem .2rem; text-align: center; margin-bottom: .2rem;}

.loading{width: 2.4rem; height: 2.4rem; border-radius: .3rem;  position: fixed; left: 0; right: 0; margin: auto; top: 50%; z-index: 999; background: rgba(0,0,0,.87) ; color: #fff; font-size: .28rem; text-align: center; display: flex; align-items: center; justify-content: center; flex-direction: column; display: none;}

/* loading */
.loadIcon { display: block; width: 1.1rem; height: 1.1rem; position: relative; background-size: .5rem; }

.loadIcon::before { content: ''; background: url(../images/loading.png) no-repeat center; background-size: .5rem; position: absolute; left: 0; right: 0; margin: auto; top: 0; bottom: 0; animation: rotate_ 1s infinite linear; }