

/* 配置页 */
.page_config {min-height: 100vh; background: url(../images/business_config/bg.png) no-repeat top center/100% auto; padding-bottom: .4rem; background-color: #F5F5F5; overflow: hidden;}
.page_config .transparent.header .header-l a{background-image: url(/static/images/header_back.png?v=2)}
.page_config .transparent.header .header-address{color: #000;}
.page_config .transparent.header .header-search a{background-image: url(/static/images/header_la.png?v=1)}

.page_config .com_info{display: flex; align-items: center; margin: 0 .3rem; padding: 0 .1rem; margin-top: .6rem;}
.page_config .com_info .com_logo{width: 1.4rem; height: 1.4rem; border-radius: 50%; background: url(../images/business_config/default.png) no-repeat center/cover;background-color: #fff; box-shadow: 0 0 .24rem 0 rgba(0, 0, 0, 0.04); margin-right: .2rem; overflow: hidden;}
.page_config .com_info .com_logo img{display: block; width: 100%; object-fit: cover; height: 100%;}
.page_config .com_info  h3{color: #333; font-size: .3rem; font-weight: bold; max-width: 5rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.page_config .com_info  a{color: #999; font-size: .28rem; margin-top: .1rem; display: block;}
.page_config .com_info  a::after{content: ''; display: inline-block; width: .3rem; height: .3rem; background: url(../images/business_config/edit_icon.png) no-repeat center/cover; vertical-align: middle; margin-left: .04rem; margin-bottom: .04rem;}
.page_config .funBox {margin-top: .45rem;}
.page_config .funBox ul{margin:0 .3rem; background-color: #fff; border-radius: .2rem; margin-bottom: .2rem;}
.page_config .funBox ul li{ line-height: .99rem; border-bottom: solid 1px #f5f5f7; padding: 0 .18rem;}
.page_config .funBox ul li:last-child{border: none;}
.page_config .funBox ul li a{justify-content: space-between;}
.page_config .funBox ul li a,.page_config .funBox ul li a .left_con{display: flex; align-items: center;}
.page_config .funBox ul li a .left_con::before{content: ''; display: block; width: .5rem; height: .5rem;background: url(../images/business_config/nav.png) no-repeat center/cover; margin-right: .2rem;}
.page_config .funBox ul li a:after{content: '' ; display: block; width: .24rem; height: .24rem; background: url(../images/business_config/right_arr.png) no-repeat center/cover;}
.page_config .funBox ul li.slef_menu .left_con::before{background-image:  url(../images/business_config/menu.png);}

.page_config .funBox ul li.mange_jiesha .left_con::before{background-image:  url(../images/business_config/jieshao.png);}
.page_config .funBox ul li.mange_dongtai .left_con::before{background-image:  url(../images/business_config/dongtai.png);}
.page_config .funBox ul li.mange_xiangce .left_con::before{background-image:  url(../images/business_config/xiangce.png);}
.page_config .funBox ul li.mange_shipin .left_con::before{background-image:  url(../images/business_config/shipin.png);}
.page_config .funBox ul li.mange_diancan .left_con::before{background-image:  url(../images/business_config/diancan.png);}
.page_config .funBox ul li.mange_dingzuo .left_con::before{background-image:  url(../images/business_config/dingzuo.png);}
.page_config .funBox ul li.mange_paidui .left_con::before{background-image:  url(../images/business_config/paidui.png);}
.page_config .funBox ul li.mange_maidan .left_con::before{background-image:  url(../images/business_config/maidan.png);}
.page_config .funBox ul li.mange_dianping .left_con::before{background-image:  url(../images/business_config/dianping.png);}


/* 店铺信息修改页面 */
.page_shopdetail{background-color: #F5F5F7;}
.page_shopdetail .module_box{padding-top: .2rem; border-bottom: solid 1px #f5f5f7;}
.page_shopdetail .module_box h3{font-size: .36rem; color: #000; font-weight: bold; padding: .2rem;}
.page_shopdetail .module_box h3 span{color: #999; font-size: .24rem; font-weight: normal;}
.page_shopdetail .module_box .form_ul{background-color: #fff;}
.page_shopdetail .module_box .form_ul>li{border-bottom: solid 1px #f5f5f7; padding: 0 .3rem; min-height: 1rem;}
.page_shopdetail .module_box .form_ul>li.logobox{padding: .3rem; padding-bottom: .4rem;}
.page_shopdetail .module_box .form_ul>li.logobox .webuploader{position: relative;}
.page_shopdetail .module_box .form_ul>li.logobox .logo_container{margin-top: .38rem;}
.page_shopdetail .module_box .form_ul>li.logobox .logo_container .input-img{width: 1.4rem; height: 1.4rem; font-size: .2rem; color: #B5B5B5; font-weight: 500; text-align: center; display: flex; align-items: center; justify-content: center; flex-direction: column; position: relative; background-color: #F8F8F8; border: dashed 1px #E5E5E5; border-radius: .08rem;}
.page_shopdetail .module_box .form_ul>li.logobox .logo_container .input-img::before{content: ''; display: block; width: .52rem; height: .52rem; background:  url(../images/business_config/add_icon.png) no-repeat center/cover; margin-bottom: .14rem;}
.page_shopdetail .module_box .form_ul>li.logobox .logo_container .input-img input,.page_shopdetail .module_box .form_ul li.logobox .logo_container .input-img label{opacity: 0; position: absolute; left: 0; right: 0; top: 0; bottom: 0;}
.page_shopdetail .module_box .form_ul>li.logobox .logoshow{width: 1.4rem; height: 1.4rem;margin-top: .38rem; position: relative;}
.page_shopdetail .module_box .form_ul>li.logobox .logoshow img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: .08rem;}
.page_shopdetail .module_box .form_ul>li.logobox .logoshow .del_btn{display: block; width: .36rem; height: .36rem; background: url(../images/business_config/del_btn.png) no-repeat center/cover; position: absolute; top: -.13rem; right: -.09rem; }


.page_shopdetail .module_box .form_ul .inpbox{display: flex; align-items: center; justify-content: space-between;}
.page_shopdetail .module_box .form_ul>li label{color: #333; font-size: .28rem; font-weight: bold;}
.page_shopdetail .module_box .form_ul .inpbox input{border: none; font-size: .26rem; text-align: right; color: #333;}
.page_shopdetail .module_box .form_ul .inpbox input[name=address]{width: 5rem;}
.page_shopdetail .module_box .form_ul .inpbox input::placeholder{color: #A0A0A0;}
.page_shopdetail .module_box .form_ul .inpbox .link{color: #A0A0A0; font-size: .26rem;}
.page_shopdetail .module_box .form_ul .inpbox .addrinp {position: relative;}
.page_shopdetail .module_box .form_ul .inpbox .addrinp .link{position: absolute; left: 0; right: 0; top: 0; bottom: 0;}
#typename{position: absolute; right: .3rem;}
.page_shopdetail .module_box .form_ul .inpbox.arrinpbox .inp {display: flex; justify-content: flex-end; align-items: center; position: relative;}
.page_shopdetail .module_box .form_ul .inpbox.arrinpbox .inp:after{content: ''; display: block; width: .14rem; height: .24rem; background: url(../images/business_config/icon_next.png) no-repeat center/cover; margin-left: .06rem;}

.page_shopdetail .module_box .form_ul .labelbox{padding: .3rem;}
.page_shopdetail .module_box .form_ul .labelbox .labels{padding-top: .1rem; display: flex; align-items: center;flex-wrap: wrap;}
.page_shopdetail .module_box .form_ul .labelbox .label{display: block; width: 2.1rem; height: .68rem; border-radius: .08rem; color: #7C7C80; font-size: .26rem; text-align: center; border:solid 1px #B1B1B3; box-sizing: border-box; padding: 0 .22rem; line-height: .66rem; margin-top: .2rem; margin-right: .2rem; position: relative;} 
.page_shopdetail .module_box .form_ul .labelbox input::placeholder{color: #ccc; font-size: .26rem;}
.page_shopdetail .module_box .form_ul .labelbox input{width: 100%; border: none;}
.page_shopdetail .module_box .form_ul .labelbox .del_label,.page_shopdetail .module_box .form_ul .labelbox .del_time{display: block; width: .36rem; height: .36rem; background: url(../images/business_config/del_btn.png) no-repeat center/cover; position: absolute; top: -.14rem; right: -.14rem;}

#slideShow_choose .slidebox,#videoShow_choose .slidebox,#qualityShow_choose .slidebox{margin-top: .4rem;}
#slideShow_choose .slidebox li,#videoShow_choose .slidebox li,#qualityShow_choose .slidebox li{width: 1.4rem; height: 1.4rem; font-size: .2rem; color: #B5B5B5; font-weight: 500; text-align: center; display: flex; align-items: center; justify-content: center; flex-direction: column; position: relative; background-color: #F8F8F8; border-radius: .08rem; float: left; margin-right: .25rem; margin-bottom: .2rem;}
#slideShow_choose .slidebox li.addbtn,#videoShow_choose .slidebox li.addbtn,#qualityShow_choose .slidebox li.addbtn{ border: dashed 1px #E5E5E5; box-sizing: border-box;}
#slideShow_choose .slidebox li.addbtn.fn-hide,#videoShow_choose .slidebox li.addbtn.fn-hide,#qualityShow_choose .slidebox li.addbtn.fn-hide{display: none !important;}
#slideShow_choose .slidebox li.addbtn::before,
#videoShow_choose .slidebox li.addbtn::before,
#qualityShow_choose .slidebox li.addbtn::before{content: ''; display: block; width: .52rem; height: .52rem; background:  url(../images/business_config/add_icon.png) no-repeat center/cover; margin-bottom: .14rem;}
#slideShow_choose .slidebox li.addbtn label,#slideShow_choose .slidebox li.addbtn input,
#videoShow_choose .slidebox li.addbtn label,#videoShow_choose .slidebox li.addbtn input,
#qualityShow_choose .slidebox li.addbtn label,#qualityShow_choose .slidebox li.addbtn input{opacity: 0;}
#slideShow_choose .slidebox li img,#videoShow_choose .slidebox li video,#videoShow_choose .slidebox li img,#qualityShow_choose .slidebox li img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: .08rem;}
#videoShow_choose .slidebox li.vid::before{content: ''; display: block; width: .52rem; height: .52rem; background: url(../images/business_config/vicon.png) no-repeat center/cover; position: absolute; left: 0; right: 0; bottom: 0; top: 0; margin: auto;}
#slideShow_choose .slidebox li .close,#videoShow_choose .slidebox li .close,#qualityShow_choose .slidebox li .close{display: block; width: .36rem; height: .36rem; background: url(../images/business_config/del_btn.png) no-repeat center/cover; position: absolute; top: -.13rem; right: -.09rem; }

/* .module_box .serverTags{margin-top: .3rem;} */
.module_box .serverTags span{float: left; width: 1.5rem; height: .52rem; border-radius: .04rem; background-color: #F4F4F4; color: #333; font-size: .26rem; text-align: center; line-height: .5rem; margin-right: .3rem; margin-top: .3rem; border: solid 1px #F4F4F4; box-sizing: border-box;}
.module_box .serverTags span:nth-child(4n){margin-right: 0;}
.module_box .serverTags span.active{border: solid 1px #FF8693; background-color: #FFEDEF; color: #F9384D;}

.fabuBtn{display: block; position: fixed; left: 0; right: 0; bottom: 0; 
background: linear-gradient(90deg, #F9374E 0%, #FC6150 100%); line-height: 1rem; font-size: .3rem; font-weight: bold; text-align: center;}
.fabuBtn a{display: block; color: #fff;}
.page_shopdetail{padding-bottom: 1.6rem;}


.mbsc-fr-btn-cont{height: 1rem; background: #F7F8FA !important; border-radius: .2rem .2rem 0 0 ; overflow: hidden; border: none !important; }
.mbsc-ios .mbsc-fr-btn{line-height: 1rem;}
.mbsc-fr-popup.mbsc-ltr{background-color: #fff;border-radius: .2rem .2rem 0 0 ; overflow: hidden;}
.mbsc-calendar{position: relative; z-index: 999999; background-color: #fff;  overflow: hidden;}
.mbsc-fr-overlay{background: rgba(0,0,0,.5) !important;}
.mbsc-fr-popup{z-index: 99;}
.mbsc-ios .mbsc-range-btn-t {display: flex; height: 1rem; border-bottom: solid 1px #E6E7ED;}
.mbsc-ios .mbsc-range-btn-end,.mbsc-ios  .mbsc-range-btn-start{width: 50%; border: none; }
.mbsc-ios .mbsc-sc-itm .mbsc-sc-whl-c{font-size: .32rem !important;}
.mbsc-ios .mbsc-range-btn-v{background-color: #fff; left: 0; right: 0; top: 0; bottom: 0;text-align: center; line-height: 1rem;}
.mbsc-ios.mbsc-calendar .mbsc-fr-persp .mbsc-fr-w{background: #fff;  }
.mbsc-ios .mbsc-sc-whl-o, .mbsc-ios.mbsc-calendar .mbsc-sc-whl-o,.mbsc-ios.mbsc-fr-top .mbsc-sc-whl-o, .mbsc-ios.mbsc-fr-bottom .mbsc-sc-whl-o{background: none;}
.mbsc-ios .mbsc-fr-btn-w.mbsc-fr-btn-s .mbsc-fr-btn{color: #F9384D; padding:0 .55rem;}
.mbsc-ios .mbsc-fr-btn-w.mbsc-fr-btn-c .mbsc-fr-btn{color: #999;  padding:0 .55rem;}
.mbsc-ios .mbsc-fr-w {padding-top: 1rem;}
.mbsc-ios .mbsc-range-btn-sel .mbsc-range-btn .mbsc-range-btn-v{font-weight: bold; color: #F9384D; font-size: .36rem; }
.mbsc-ios .mbsc-range-btn{height: 100%; box-sizing: border-box;}
.mbsc-ios .mbsc-range-btn-v{font-weight: bold; font-size: .36rem;}
.mbsc-ios .mbsc-range-btn-sel .mbsc-range-btn .mbsc-range-btn-v:after{content: ''; display: block; width: .2rem; height: .2rem; background: url(../images/arr_d2.png) no-repeat center; background-size: cover; position: absolute; bottom: 0; left: 0; right: 0; margin: auto;}
.mbsc-ios .mbsc-range-btn-t::before{content: '至'; font-size: .26rem; color: #666 ; line-height: 1rem; left: 50%;  transform: translate(-50%, 0); position: absolute; z-index: 9;}
.mbsc-ios .mbsc-dt-whl-d .mbsc-sc-itm, .mbsc-ios .mbsc-dt-whl-h .mbsc-sc-itm, .mbsc-ios .mbsc-dt-whl-date .mbsc-sc-itm{text-align: center;}
.mbsc-ios .mbsc-dt-whl-m .mbsc-sc-itm{text-align: center;}
.mbsc-ios .mbsc-sc-itm{font-size: .3rem; font-weight: normal !important; }
/* .mbsc-ios .mbsc-sc-itm-sel{border-bottom: solid 1px #f5f5f7; border-top: solid 1px #f5f5f7; font-size: .32rem; font-weight: bold !important; } */
.mbsc-fr-aria.mbsc-fr-hdn{position: absolute;z-index: 1;left: 0;right: 0;top: 0; pointer-events: none;line-height: 1rem; color: #999; font-size: .28rem; height: 1rem !important; width: 100% !important;}
.mbsc-ios .mbsc-sc-whl-w .mbsc-sc-whl-l{display: block !important; border-color: #f5f5f7 !important;}
.mbsc-ios .mbsc-fr-w{background: #fff;}
.mbsc-fr-persp{height: auto !important;}
.mbsc-fr-popup.mbsc-ltr{top: auto !important; bottom: 0;}
.mbsc-sc-lbl{display: none;}
#typeList_dummy{opacity: 0;}
.pop_mask{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,.5); display: none;}
.week_pop{height: 5.4rem; background-color: #fff; border-radius: .4rem .4rem 0 0; position: fixed; bottom: -5.4rem; left: 0; right: 0; transition: transform .3s;}
.week_pop h3{font-size: .28rem; color: #949599; display: flex; align-items: center; justify-content: space-between; padding: 0 .54rem; line-height: 1.12rem;}
.week_pop h3 a{font-size: .3rem; color: #999; font-weight: bold;}
.week_pop h3 a.sure{color: #010101;}
.week_pop ul{margin: 0 .3rem;}
.week_pop li{display: block; width: 2.16rem; height: .6rem; border: solid 1px #EBEBED; line-height: .58rem; color: #202021; font-size: .28rem; text-align: center; float: left; margin-right: .2rem; margin-top: .2rem; box-sizing: border-box;}
.week_pop li:nth-child(3n){margin-right: 0;}
.week_pop li.active{border-color: #FF8693; color: #F9384D; background-color: #FFEDEF;}
.progress {position: absolute; right: 0; bottom: 0; height: 2px; left: 0; bottom: 0; overflow: hidden; z-index: 15; margin:0; padding: 0; border-radius: 0; background: #cfd7e6;}
.progress span {display: block; overflow: hidden; width: 0; height: 100%; background: #2b73f8;}

@-webkit-keyframes progressmove {
    0% {background-position: 0 0;}
    100% {background-position: 17px 0;}
    100% {background-position: 17px 0;}
}
@-moz-keyframes progressmove {
    0% {background-position: 0 0;}
    100% {background-position: 17px 0;}
}
@keyframes progressmove {
    0% {background-position: 0 0;}
    100% {background-position: 17px 0;}
}


