html,body{background-color: #fff !important;}
#chpsd_page .header,#register_success_page .header{display: flex; align-items: center; border-bottom: none !important;}

#chpsd_page .arr_back{background:url(/static/images/header_back.png) no-repeat center/cover ; width: .9rem; height: .9rem; background-size: .4rem; margin-left: .1rem; }
#chpsd_page .form_title{ display: flex; align-items: flex-end; padding: 0 .38rem; position: relative; font-weight: bold; font-size: .48rem; color: #212121;}
.regbox{padding-top: 5vh;}

.inputbox {border-bottom: solid 1px #eee;  margin-bottom: .2rem; position: relative;}
.inputbox input{height: .86rem; font-size: .36rem; color: #000; border: none; width: 100%; box-sizing: border-box;}
.labelInp.inputbox input{ padding-left: 1.46rem;}
.inputbox input::placeholder{color: #BBBBC1; font-size: .28rem !important;}
.inputbox label{position: absolute; left: 0; top: 0; bottom: 0; font-size: .28rem; color: #212121; line-height: .86rem;}
.formbox{margin: 0 .65rem; margin-top: .7rem;}

.psd_tip{font-size: .24rem; color: #BABAC1; line-height: .36rem; display: flex; padding-top: .1rem;}
.psd_tip::before{content: ''; display: block; width: .32rem ; height: .32rem; background: url(../images/login/tip.png) no-repeat center/cover; margin-right: .2rem; flex-shrink:0;}

.btn_tochange{display: block; height: .88rem; border-radius: .44rem; text-align: center; color: #fff; font-size: .32rem; background: linear-gradient(-90deg, #F6252F 0%, #FF4621 100%); line-height: .88rem; margin-top: 1.2rem;}
.link_to{text-align: center; display: block; font-size: .26rem; color: #212121; margin-top: .6rem;}



/* 协议弹窗 */
.pop_mask{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,.57); z-index: 100001; display: none;}
.pop_agree .box{text-align: center; margin: 0 .67rem; padding-top: .67rem; margin-bottom: .3rem; }
.pop_agree{width: 5.9rem; height: 3rem; border-radius: .2rem; background-color: #fff; position: fixed; left: 0; right: 0; top: 0; bottom: 0; margin: auto; z-index: 100001; display: none; animation: popup .3s; transform-origin: center !important;}
.pop_agree .btn_group{display: flex; align-items: center; justify-content: center;}
.pop_agree .btn_group a{display: flex; width: 2.3rem; height: .7rem; font-size: .28rem; color: #333; text-align: center; align-items: center; justify-content: center; margin: .07rem; border: solid 1px #E1E1E1; box-sizing: border-box; border-radius: .35rem; font-weight: bold;}
.pop_agree .btn_group a.keep_login{color: #fff; background: linear-gradient(-90deg, #F6252F 0%, #FF4621 100%); border: none;}

.loadIcon{display: block; width: 1.1rem; height: 1.1rem; border-radius: .3rem;  background: rgba(0,0,0,.9) ; background-size: .5rem; position: fixed; left: 0; right: 0; margin: auto; top: 50%;}
.loadIcon::before{content: ''; background: url(../images/login/loading.png) no-repeat center; background-size: .5rem; position: absolute; left: 0; right: 0; margin: auto; top: 0; bottom: 0; animation:rotate_ 1s infinite linear;}


@keyframes rotate_{
	0%{ transform: rotate(0deg);}
	50%{ transform: rotate(180deg);}
	100%{ transform: rotate(360deg);}
}