body,html{}
body{padding-bottom: 0;}
#page{min-height: 100vh; box-sizing: border-box;}
#page .fabuPage{padding-bottom: 2.5rem; background-color: #F7F9FC; min-height: 100vh; box-sizing: border-box;}
#page .jobChosePage{ min-height: 100vh; box-sizing: border-box; background-color: #fff;}
.hideEle{opacity: 0; visibility: hidden; pointer-events: none;}
.form_item_box{margin: .2rem .2rem 0; background-color: #fff; border-radius: .2rem;}
.form_item_box .form_item{border-bottom: solid 1px #f5f5f5;  padding: 0 .2rem 0 .28rem; min-height: 1.1rem; box-sizing: border-box;}
/* .form_item_box .form_item.flex_align{display: flex; align-items: center; justify-content: space-between;} */
.form_item_box .form_item.flex_item{ display: flex; align-items: center; justify-content: space-between; padding: 0 .2rem 0 .28rem;}
.form_item_box .form_item label{font-size: .32rem; color: #333; font-weight: bold; white-space: nowrap; margin-right: .16rem;}
.form_item_box .form_item .selectBox{display: flex; align-items: center; justify-content: flex-end;  width: 70%;}
.form_item_box .form_item .selectBox input{width: 100%;}
.form_item_box .form_item .selectBox::after{content: ''; display: block; width: .24rem; height: .24rem; background: url(../images/job/arr_1.png) no-repeat center/cover;}
.form_item_box .form_item input{border: none; background: none; text-align: right; font-size: .28rem; padding-right: .08rem;  color: #333; box-sizing: border-box; width: 100%; }
.form_item_box .form_item input::placeholder{color: #BFBFBF;}
.form_item_box .form_item .alignLeft input{text-align: left; width: 100%;}
.form_item_box .form_item .alignLeft label{display: block; margin-bottom: .12rem;}
.form_item_box .form_item .alignLeft{padding: .36rem 0;}

.form_item_box .form_item .textareaBox{width: 100%;}
.form_item_box .form_item_dl dt{padding: 0 .3rem;}
.form_item_box .form_item .textareaBox dt,.form_item_box .form_item_dl dt{padding-top: .3rem;}
.form_item_box .form_item_dl dt{padding-bottom: .12rem;}
.form_item_box .form_item .textareaBox dt h4,.form_item_box .form_item_dl dt h4{font-size: .4rem; color: #000; font-weight: bold;}
.form_item_box .form_item .textareaBox dt p,.form_item_box .form_item_dl dt p{font-size: .26rem; color: #666;}
.form_item_box .form_item .textareaBox dd{position: relative; padding-bottom: .2rem;}
.form_item_box .form_item .textareaBox .textarea{min-height: 3.6rem; padding: .2rem 0; margin-top: .24rem; line-height: .44rem; font-size: .3rem; color: #333;}
.form_item_box .form_item .textareaBox .placeholderText{font-size: .3rem; color: #ccc; line-height: .44rem; padding: .2rem 0;  position: absolute; top: 0; pointer-events: none;}
.form_item_box .form_item .flexBox{display: flex; align-items: center; flex-grow: 1;}
.form_item_box .form_item .leftInfo{display: flex; align-items: center;}
.form_item_box .form_item .leftInfo .telCode{width: 1.3rem;font-size: .3rem; color: #212121; text-align: center; display: flex; align-items: center; justify-content: center; border-right: solid 1px #eee; height: .32rem;}
.form_item_box .form_item .leftInfo .telCode::after{content: ''; display: block;     width: 0.3rem; height: 0.3rem; background: url(../images/hitch/codearr.png) no-repeat center center; background-size: 0.3rem; }
.form_item_box .form_item .flex_left input{text-align: left; padding-left: .2rem;}
.form_item_box .form_item .getCode{color: #256CFA; font-size: .28rem; font-weight: bold; padding: 0 .06rem; white-space: nowrap;}
.usePhoneTip{padding: 0 .24rem; color: #666; font-size: .24rem;  margin-top: .26rem; }
.usePhoneTip::before{content: ''; display: inline-block; width: .36rem; height: .36rem; background: url(../images/job/chose_2.png) no-repeat center/cover; margin-right: .04rem; vertical-align: middle; margin-bottom: .04rem;}
.usePhoneTip.on_chose::before{background-image: url(../images/job/chose_2.png) ;}

.bottomBox{background-color: #fff; padding: .22rem .3rem; min-height: 1rem; position: fixed; left: 0; right: 0; bottom: 0;  padding-bottom: constant(safe-area-inset-bottom); padding-bottom: env(safe-area-inset-bottom);}
.bottomBox .btn_fabu{display: flex; align-items: center; height: .84rem; border-radius: .42rem; font-size: .28rem; background: linear-gradient(-90deg, #266EFF 0%, #3381FF 100%); color: #fff; font-weight: bold; justify-content: center;}

.mobsciPop {height: 5.7rem;}
.mobsciPop .van-popup__close-icon{display: none;}
.mobsciPop .mobsci_header{display: flex; align-items: center; justify-content: space-between; font-size: .28rem; color: #333; line-height: 1.02rem;}
.mobsciPop .mobsci_header span{font-weight: bold; display: block; width: 1.68rem; text-align: center; color: #999;}
.mobsciPop .mobsci_header span.sure{color: #256CFA;}
.mobsciPop .mobsci_con {padding: 0 .4rem;}
.mobsciPop .mobsci_con  .titBox{display: flex; align-items: center; justify-content: center; text-align: center; background-color: #F7F9FC; line-height: .6rem; border-radius: .3rem; flex: none; width: 100%;}
.mobsciPop .mobsci_con  .titBox span{display: block; width: 50%; font-size: .28rem; color: #333;}
.mobsciPop .mobsci_con  .pickerBox{padding-top: .5rem;}
.van-picker-column__item.van-picker-column__item--selected{font-weight: bold;}
.pop_box,.popl_box{background-color: #fff; padding: 0 .24rem; border-radius: .3rem .3rem 0 0; height: 8.2rem; padding-bottom:calc(-.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(-.3rem + env(safe-area-inset-bottom)); box-sizing: border-box;}
.popl_box h2 .back{color: #999; font-size: .3rem; position: absolute; right: .58rem; font-weight: normal;}
.areacodeList,.timeList{padding-top: 1.4rem; height: 100%; box-sizing: border-box; top: 0; left: 0; right: 0; position: absolute; }
.areacodeList ul,.timeList ul{height: 100%; overflow: auto;}
.areacodeList ul li,.timeList ul li{margin: 0 .3rem; line-height: .88rem; color: #333; font-size: .3rem;  border-radius: .1rem; padding: 0 .2rem;}
.areacodeList ul li.achose,.timeList ul li.achose{background: #F0F0F2; font-weight: bold;}

.anum_box h2{line-height: 1.1rem; text-align: center; font-size: .34rem; color: #000; font-weight: bold; border-bottom: solid 1px #f5f5f8; position: relative; z-index: 10;}
.anum_box h2 .cancel,.pop_box h2 .back{color: #999; font-size: .3rem; position: absolute; right: .58rem; font-weight: normal;}
.anum_box h2 .back{left: .43rem; right: auto; position: absolute;  }
.form_item_box .form_item.flex_item .flex_left{display: flex; align-items: center;}


.pageCon .headtip{font-size: .24rem; color: #999; padding: 0 .22rem; height: .8rem; box-sizing: border-box; padding-top: .12rem;}

.pageCon .typeListBox {position: relative; height: calc(100vh - 3.92rem); display: flex;}
.huoniao_iOS  .pageCon .typeListBox {position: relative; height: calc(100vh - 3.04rem); display: flex;}
.pageCon .typeListBox.open .root_ul{width: 3.1rem; flex-shrink: 0;}
.pageCon .typeListBox .categoryList_ul li,.pageCon .typeListBox .parentContainer .parentBox  .categoryList_ul li {height: 1.06rem; font-size: .28rem; color: #333; padding-left: .42rem; position: relative; display: flex; align-items: center; justify-content: flex-start;}
.pageCon .typeListBox .categoryList_ul li.chose_line::before,.pageCon .typeListBox .parentContainer .parentBox  .categoryList_ul li.chose_line::before{border-left: solid .07rem #196DF3; position: absolute; left: 0; top: 0; bottom: 0; margin: auto; content: ''; height: .42rem;}
.pageCon .typeListBox .categoryList_ul li.chose_line,.pageCon .typeListBox .parentContainer .parentBox  .categoryList_ul li.chose_line{color:#256CFA;}
.pageCon .typeListBox .parentContainer .parentBox  .categoryList_ul li.on_chose{color:#256CFA; }
.pageCon .typeListBox .parentContainer .parentBox  .categoryList_ul li.on_chose{font-weight: bold;}
.pageCon .typeListBox .parentContainer .parentBox  .categoryList_ul{width: 100%; box-sizing: border-box; transition: width .3s; flex-shrink: 0; overflow: auto;}
.pageCon .typeListBox .parentContainer .parentBox  .categoryList_ul li{font-size: .28rem; color: #4D4D4D; height: 1rem; line-height: .34rem;}
.pageCon .typeListBox .parentContainer .parentBox.open  .categoryList_ul.parent_ul{width: 2.6rem; line-height: .34rem; padding-right: .4rem; box-sizing: border-box; }
.pageCon .typeListBox .parentContainer .parentBox{display: flex; align-items: flex-start;}
.pageCon .typeListBox .parentContainer.showLeftPop .parentBox{transform: translateX(0);}
.pageCon .typeListBox .parentContainer .parentBox .childrenBox{width: 100%; height: 100%; box-sizing: border-box; padding-right: .22rem; overflow: auto; }
.pageCon .typeListBox .parentContainer .parentBox.open .childrenBox { visibility: visible;}
.pageCon .typeListBox .parentContainer .parentBox .childrenBox li{padding-left: .56rem; position: relative;}
.pageCon .typeListBox .parentContainer .parentBox .childrenBox li h4{color: #4d4d4d; font-size: .26rem; max-width: 2.6rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.pageCon .typeListBox .parentContainer .parentBox .childrenBox li.on_chose::before{display: none;}
.pageCon .typeListBox .parentContainer .parentBox .childrenBox li.on_chose h4{color: #256CFA;}
.pageCon .typeListBox .parentContainer .parentBox .childrenBox li.on_chose::after{content: ''; display: block; width: .24rem; height: .24rem; background: url(../images/job/gou_2.png) no-repeat center/cover; position: absolute; right: .2rem; top: 0; bottom: 0; margin: auto;}
.pageCon .typeListBox .root_ul{ overflow-y: auto; width: 100%; background-color: #F7F9FC;}
.pageCon .typeListBox .categoryList_ul {  height: 100%;}
.parentContainer{width: 100%; height: calc(100vh - 3.92rem); overflow: auto;}

.pop_foot {border-top: solid 1px #eee; position: fixed; left: 0; right: 0; bottom: 0; background-color: #fff;}
.pop_foot .hasChoseBox{display: flex; align-items: center; padding-left: .38rem; padding-top: .28rem; padding-bottom: .3rem; overflow: auto; }
.pop_foot .hasChoseBox::-webkit-scrollbar{display: none;}
.pop_foot .hasChoseBox .label{color: #666; font-size: .26rem; margin-right: .38rem; flex-shrink: 0;}
.pop_foot .hasChoseBox .label span{font-size: .26rem; color: #212121; margin-left: .1rem;}
.pop_foot .hasChoseBox .label span b{font-size: .3rem;}
.pop_foot .hasChoseBox .label span b.hasNum{color: #2A81FD;}
.pop_foot .hasChoseBox  .hasChose{white-space: nowrap; flex-shrink: 0; height: .56rem;}
.pop_foot .hasChoseBox  .hasChose span{display: inline-flex; min-width: 1.38rem; height: .56rem; border-radius: .28rem; background-color: #EBF1FF; font-size: .24rem; color: #256CFA; align-items: center; justify-content: center; box-sizing: border-box; padding: 0 .3rem; margin-right: .2rem;}
.pop_foot .hasChoseBox  .hasChose span s{display: block; width: .2rem; height: .2rem; background: url(../images/job/del_btn.png) no-repeat center/cover; margin-left: .14rem;}
.pop_foot .btn_groups a{display: block; width: 2.3rem; height: .88rem; border-radius: .44rem; background-color: #F5F6F7; color: #949699; font-size: .3rem; text-align: center; line-height: .88rem; font-weight: bold;}
.pop_foot .btn_groups a.sureBtn{ background: linear-gradient(-90deg, #266EFF 0%, #3381FF 100%); width: 100%; color: #fff;}
.pop_foot .btn_groups {padding: 0 .4rem .2rem; display: flex; align-items: center; justify-content: space-between;}

.job_Chose{font-size: .24rem; color: #999; line-height: .72rem; padding: 0 .4rem; margin-bottom: -.2rem;}
.job_Chose span{color: #666;}

.successPop .popCon:not(.noBtn) {width: 6rem; height: 3rem; animation: popup .3s;}
.successPop .popCon:not(.noBtn) { animation: popup .3s;}
.successPop .popCon  .successTip{height: 2rem; box-sizing: border-box; display: flex; align-items: center; justify-content: center; flex-direction: column; border-bottom: solid 1px #EDEDED;}
.successPop h3{font-size: .34rem; color: #000; font-weight: bold; }
.successPop h3::before{content: ''; display: inline-block; width: .46rem; height: .46rem; background: url(../images/job/gou.png) no-repeat center/cover; vertical-align: middle; margin-bottom: .04rem; margin-right: .12rem;}
.successPop p{font-size: .26rem; color: #666; margin-top: .2rem;}
.successPop a{display: flex; align-items: center; justify-content: center; height: 1rem; font-size: .3rem; font-weight: bold; color: #256CFA;}
.successPop .popCon.noBtn{height: 1.1rem; width: auto; min-width: 3.6rem; padding: 0 .2rem; text-align: center; box-sizing: border-box;} 
.successPop .popCon.noBtn .successTip{height: 1.1rem;}


/* 招聘相关 */
.form_item_box .form_item.noArr{padding-right: .28rem;}
.form_item_box .form_item .postNatureBox{display: flex; align-items: center; justify-content: flex-end; padding-right: .08rem;}
.form_item_box .form_item .postNatureBox span{display: flex; align-items: flex-end; font-size: .3rem ;color: #333; margin-left: .6rem;}
.form_item_box .form_item .postNatureBox span::before{content: ''; display: block; width: .36rem; height: .36rem; background: url(../images/job/chose_2.png) no-repeat center /cover; margin-right: .06rem;} 
.form_item_box .form_item .postNatureBox span.checked::before{background-image: url(../images/job/chose_1.png);}
.form_item_box .form_item .salaryBox {font-size: .3rem; color: #333;}
.form_item_box .form_item .salaryBox .sm_inp{width: 1.4rem; border: none; font-size: .3rem; text-align: left; box-sizing: border-box; padding: 0 .1rem;} 
.form_item_box .form_item .salaryBox .sm_inp::placeholder{color: #BFBFBF;}
.form_item_box .form_item .salaryChange{color: #5977B3; font-size: .28rem; display: inline-flex; align-items: center; vertical-align: middle; margin-bottom: .02rem;}
.form_item_box .form_item .salaryChange s{display: block; width:.24rem ; height: .24rem; background: url(../images/job/change_icon.png) no-repeat center/cover;} 
.form_item_box .form_item .alignLeft{text-align: left;}
.form_item_box .form_item .tagBox ul {overflow: hidden;}
.form_item_box .form_item .tagBox li {display: block; width: 1.5rem; line-height: .62rem; background-color: #F5F5F5; border-radius: .1rem; box-sizing: border-box; padding: 0 .12rem; text-align: center; font-size: .26rem; color: #4D4D4D; text-align: center; float: left; margin-right: .12rem; margin-bottom: .2rem;}
.form_item_box .form_item .tagBox ul li:last-of-type{margin-right: auto;}
.form_item_box .form_item .tagBox ul li.on_chose{background-color: #EDF3FF; color: #256CFA; font-weight: bold;}
.form_item_box .form_item .tagBox{padding-bottom: .18rem;}

.pageCon .typeListBox .categoryList_ul  li span{display: inline-block; height: .34rem; min-width: .34rem; border-radius: .17rem; background-color: #3377FF; color: #fff; font-weight: normal; font-size: .24rem; line-height: .34rem; text-align: center; padding: 0 .1rem; box-sizing: border-box; margin-left: .1rem;}
.ages_con .van-picker::after{content: '-'; display: flex; position: absolute; top: 0; bottom: 0; left: 0; right: 0; color: #000; pointer-events: none; align-items: center; justify-content: center; z-index: 999; font-size: .4rem;}
.textareaBox dt{position: relative; }
.textareaBox dt a{display: block; font-size: .26rem; color: #256CFA; position: absolute; right: .08rem; top: .32rem;}