.huoniao_iOS .choose-box{top: 1.7rem;}
.huoniao_iOS .show{display: block;}
.huoniao_iOS .searchDiv{top: 0}
.huoniao_iOS .nav{top: .9rem}
.huoniao_iOS .list-box{padding-top: 1.7rem}
html{background: #f0f0f2;}
.header{position: fixed;top: 0;left: 0;right: 0; z-index: 98;}
.searchDiv{padding: .1rem .3rem .2rem;background: #fff;position: fixed;top: .9rem;left: 0;right: 0;z-index: 2;}
.searchDiv div{height: .6rem;border-radius: .3rem;background: #F1F1F3;box-sizing: border-box;padding-left: 3rem;transition: all .3s}
.searchDiv input{border: none;background: none;display: inline-block;vertical-align: top;margin-top: .18rem;margin-left: .1rem;}
.searchDiv s{display: inline-block;width: .28rem;height:.28rem;background:url("../images/fenxiao_search.png") no-repeat;background-size:contain;    vertical-align: top;margin-top: .16rem;}
.nav{padding: 0 .34rem;height: .8rem;line-height: .8rem;color: rgb(59, 59, 59);font-size: .28rem;background: #fff;border-bottom: 1px solid #f5f5f7;padding-top: .1rem;position: fixed;top: 1.8rem;left: 0;right: 0; z-index: 10;}
.nav .filter i{display: inline-block;width: .19rem;height:.11rem;background:url("../images/icon_down.png") no-repeat;background-size:contain;}
.nav .active i{display: inline-block;width: .19rem;height:.11rem;background:url("../images/icon_up.png") no-repeat;background-size:contain;}
.choose-box{position: fixed;top: 2.7rem;bottom: 0;left: 0;right: 0;z-index: 101;display: none;}
.show{display: block;}
.choose-box li{padding: .3rem .24rem;border-top: 1px solid #ebebeb;font-size: .3rem;color: #8d8e91;}
.choose-box li.curr{color: #ff653b;}
.choose-box .choose-sort{background: #fff;}
.mask {position: fixed;left: 0;top: 2.7rem;width: 100%;height: 100%;transition: all 0.5s;background: rgba(0,0,0,0.6);opacity: 1;z-index:100;-webkit-backface-visibility: hidden;-webkit-transform-style: preserve-3d;}
.mask-hide{display: none;}
.list-box{padding-top: 2.7rem}
/* .list-box li{padding: .27rem .24rem .17rem;background: #fff;margin-bottom: .2rem;} */
.list-box .img-box{width: .96rem;height: .96rem;border-radius: 50%;overflow: hidden;margin-right: .2rem;}
.list-box .img-box img{width: 100%;height: 100%;object-fit: cover;}
.list-box .info {position: relative; overflow: hidden; line-height: 1.5em;}
.list-box .info p.name{font-size: .32rem;color: rgb(59, 59, 59);margin-bottom: .15rem;}
.list-box .info p.name span{color: rgb(145, 145, 145);font-size: .24rem;}
.list-box .info p.name .blue{color: #027CFF}
.list-box .info p.con{font-size: .24rem;color: rgb(145, 145, 145); margin-bottom: .1rem;}
.list-box .info p.con em{color: #ffab47;}
.list-box .info p.con .line{margin: 0 .18rem}

.loading {text-align: center;color: #a6a6a6;height: .9rem;line-height: .9rem;}


.list-box li{margin:.2rem .18rem 0; border-radius: .3rem; background-color: #fff;}
.list-box li .item_info, .popDetailBox .detailBox .item_info{padding: .26rem .2rem; border-bottom: solid 1px #f5f5f6; display: flex; align-items: center; justify-content: space-between;}
.list-box li .item_info .left_info, .popDetailBox .detailBox .left_info{display: flex; align-items: center;}
.list-box li .item_info .right_info, .popDetailBox .detailBox .right_info{font-size: .22rem; color: #808080; display: flex; align-items: center;}
.list-box li .item_info .imgbox, .popDetailBox .detailBox .imgbox, .popDetailBox .detailChild .childList li .imgbox{width: .96rem; height: .96rem; border-radius: 50%; background-color: #f5f5f5; margin-right: .2rem;}
.list-box li .item_info .imgbox img, .popDetailBox .detailBox .imgbox img, .popDetailBox .detailChild .childList li .imgbox img{display: block; width: 100%; height: 100%; object-fit: cover;  border-radius: 50%;}
.list-box li .item_info .fx_info h3, .popDetailBox .detailBox .fx_info h3,.popDetailBox .detailChild .childList .fx_info h3{font-size: .32rem; color: #212121; font-weight: bold; margin-bottom: .16rem;}
.list-box li .item_info .fx_info p, .popDetailBox .detailBox .fx_info p,.popDetailBox .detailChild .childList .fx_info p{font-size: .22rem; color: #B3B3B3; white-space: nowrap;}
.list-box li .item_info .right_info b, .popDetailBox .detailBox .right_info b{color: #FFA73B; font-size: .34rem; font-family: moneyNumber; margin-left: .1rem;}
.list-box li .item_info .right_info::after{content: ''; display: block; width: .2rem; height: .2rem; background: url(../images/arr_right1.png) no-repeat center/cover; margin-left: .08rem;}
.list-box li  .item_text{display: flex; align-items: center; height: .8rem; padding-left: 1.36rem;}
.list-box li  .item_text.headAlign{padding-left: .2rem;}
.list-box li  .item_text span{margin-right: .36rem; color: #808080; font-size: .22rem;}
.list-box li  .item_text span b{font-size: .26rem; color: #212121; font-weight: bold; font-family: moneyNumber ; margin-left: .04rem;}

.mask_detail{position: fixed; left: 0; right: 0; top: 0; bottom: 0; background-color: rgba(0,0,0,.5); z-index: 99; display: none;}
.popDetailBox{max-height: 80vh; position: fixed; left: 0; right:0 ; bottom: 0; background-color: #fff; border-radius: .4rem .4rem 0 0; min-height: 60vh; z-index: 100; box-sizing: border-box; padding-bottom: constant(safe-area-inset-bottom); padding-bottom: env(safe-area-inset-bottom); transform: translateY(100%); transition: transform .3s; }
.popDetailBox .popTit{display: flex; align-items: center; justify-content: space-between; padding: 0 .26rem;  height: 1.1rem;  background-color: #fff; border-radius: .4rem .4rem 0 0;}
.popDetailBox .popTit h3{font-size: .38rem; font-weight: bold;}
.popDetailBox .popTit .arr_down{display: block; width: .3rem; height: .3rem; background: url(../images/arr_down2.png) no-repeat center/cover;}
.popDetailBox .scrollBox{max-height: calc(80vh - 1.1rem); overflow: auto;}
.popDetailBox .detailBox .currInfo{padding: 0 .06rem;}
.popDetailBox .detailBox{margin:0 .2rem;}
.popDetailBox .detailBox .imgbox{width: .7rem; height: .7rem ; margin-right: .16rem;}
.popDetailBox .detailBox .fx_info h3{margin-bottom: .06rem; font-size: .26rem;}
.popDetailBox .detailBox .item_info{border: none; padding: .26rem .06rem;}
.popDetailBox .detailBox .item_text{height: .7rem; border-radius: .35rem; background-color: #F7F9FC; display: flex; align-items: center; justify-content: space-between; padding: 0 .28rem;}
.popDetailBox .detailBox .item_text span{color: #808080; font-size: .22rem; margin-right: .22rem;}
.popDetailBox .detailBox .item_text span b{color: #212121; font-size: .26rem; font-weight: bold;}
.popDetailBox .detailChild{padding: .4rem 0 0;}
.popDetailBox .detailChild .childCount{color: #808080; font-size: .26rem; font-weight: bold; padding-left: .26rem; padding-bottom: .2rem; }
.popDetailBox .detailChild .childList {padding-bottom: 4rem;}
.popDetailBox .detailChild .childList li{display: flex; align-items: start; padding: .26rem; justify-content: space-between; position: relative;}
/* .popDetailBox .detailChild .childList{max-height: calc(80vh - 4rem); overflow: auto;} */
.popDetailBox .detailChild .childList li .left_info{display: flex; align-items: center;}
.popDetailBox .detailChild .childList .fx_info h3{    margin-bottom: 0.12rem; max-width: 4rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;} 
.popDetailBox .detailChild .childList .right_phone{color: #808080; font-size: .24rem; padding-top: .08rem; position: absolute; top: .26rem; right:.26rem;}
.popDetailBox .detailChild .childList .fx_info b{color: #212121; font-size: .24rem; font-family: moneyNumber;}
.popDetailBox .detailChild .childList .fx_info span{margin-right: .28rem;}
.popDetailBox .popTop{position: absolute; top: 0; left: 0; right: 0; background-color: #fff; border-radius: .4rem .4rem 0 0 ; padding-bottom: .2rem; z-index: 2;}
.popDetailBox .detailChild .childList .fx_info p::after{content: ''; display: inline-block; width: .2rem; height: .2rem; background: url(../images/arr_right1.png) no-repeat center/cover; vertical-align: middle; margin-bottom: .04rem;}

.childDetail_mask{position: absolute; left: 0; right: 0; top: 1.1rem; bottom: 0; background-color: rgba(0,0,0,.6); display: none;}
.childDetail_pop{position: absolute; left: .9rem; right: 0; top: 1.1rem; bottom: 0; background-color: #fff; transform: translateX(100%); transition: transform .3s;}
p.noArr::after{display: none !important;}