body,html{background-color: #F7F9FC;}
.container{padding-top: 1.98rem;}
.alignLeft.header{height: .88rem; line-height: .88rem;  background: none !important; z-index: 9; overflow: hidden;}
.alignLeft.header .header-l.white_arr a{height: .88rem; background-image: url(/static/images/header_back_index.png);}
.alignLeft.header .header-address{text-align: left; font-size: .44rem; font-weight: bold; line-height: .88rem;}

.bg_blue{height: 7.66rem; background: linear-gradient(0deg, #F7F9FC 0%, #196DF3 48%, #196DF3 100%); position: fixed; left: 0; top: 0; right: 0;}
.bg_ligntblue{height: 7.4rem; background: linear-gradient(-90deg, #D4E6FE 0%, #DBECFF 100%); position: fixed; left: 0; top: 0; right: 0;}
.bg_ligntblue::after{content: ''; display: block; height: 3rem; position: absolute; left: 0; right: 0; top: 4.4rem; background: linear-gradient(0deg, #F7F9FC 0%, rgba(247, 249, 252, 0) 100%);}
#page .pageCon{position: relative; min-height:90vh;}

.invitationStateBox {display: flex; align-items: flex-start; justify-content: space-between; color: #fff; padding-left: .34rem; padding-right: .2rem; padding-top: .12rem;}
.invitationStateBox .invitationState{width: 100%; display: flex; align-items: center; justify-content: space-between;}
.invitationStateBox h2{font-size: .48rem; font-weight: bold;}
.invitationStateBox p{color: .32rem; font-weight: bold; margin-top: .12rem;}
.invitationStateBox .btn_resolve{display: flex; min-width: 1.5rem; height: .6rem; border-radius: .6rem; background-color: rgba(255,255,255,.1); font-size: .24rem; color: #fff; padding: 0 .3rem; justify-content: center; align-items: center; box-sizing: border-box; }
.invitation_state0 .invitationStateBox .btn_resolve{background-color: rgba(255,255,255,.1); color: white;}
.invitationStateBox .resolve_btnBox{position: relative; z-index: 9;}
.invitationStateBox .resolve_btnBox .remarkbox{width: 2.7rem; max-height: 2.2rem; background-color: #fff; border-radius: .2rem; box-shadow: 0 .1rem .5rem 0 rgba(0,4,26,0.08); position: absolute;  right: .1rem; top: .8rem; animation: popup .2s; transform-origin: right top;}
.invitationStateBox .resolve_btnBox .remarkbox li{color: #565D6C; font-size: .3rem; text-align: center; line-height: 1.04rem;} 
.invitationStateBox .resolve_btnBox .remarkbox li:first-of-type{border-bottom: solid .1rem #F7F9FC;}
.invitation_state0 .invitationStateBox .btn_resolve::before{background-image: url(../images/job/ding_white.png);}
.invitationStateBox .btn_resolve::before{content: ''; display: block; width: .3rem; height: .3rem; background: url(../images/job/ding.png) no-repeat center/cover; margin-right: .06rem;}
.invitationStateBox .btn_refuse{width: 2.7rem; height: 1.2rem; background: #FFF; box-shadow: 0 .1rem .5rem 0 rgba(0,4,26,0.06); border-radius: .2rem; display: none; align-items: center; justify-content: center; font-size: .3rem; color: #565D6C; position: absolute;  right: .1rem; top: .8rem; animation: popup .2s; transform-origin: right top;} 
.invitationStateBox .btn_refuse::before{content: ''; display: block; width: .4rem; height: .4rem; background: url(../images/job/refuse_icon.png) no-repeat center/cover; margin-right: .1rem;}
.invitationStateBox .btn_refuse.showBtn{display: flex;}

/* .invitation_state0 .invitationStateBox h2{color: white;}
.invitation_state0 .invitationStateBox p{color: white; font-size: .26rem; font-weight: normal;}
.invitation_state0 .invitationStateBox .resolve_btnBox p{font-size: .22rem;} */

/* 0410修改 */
.invitation_state0 .invitationStateBox .btn_resolve::before{background-image: url(../images/job/ding_grey.png);}
.invitation_state0 .invitationStateBox h2{color: #000;}
.invitation_state0 .invitationStateBox p{color: #565D6C; font-size: .26rem; font-weight: normal;}
.invitation_state0 .invitationStateBox .resolve_btnBox p{font-size: .22rem;}
.invitation_state0 .invitationStateBox .btn_resolve{background-color:#C0D2F0; color: #565D6C;}

/* 公司信息 */

.invitation_state0 .companyInfoBox .td_company{min-height: auto;}
.invitation_state0 .companyInfoBox {padding-bottom: .48rem; }
.companyInfoBox{margin: .36rem .2rem 0; min-height: 2rem; border-radius: .4rem ; background-color: #fff; padding-bottom: 1rem;}
.companyInfoBox .td_company{min-height: 2.6rem; padding: 0 .24rem; border-radius: .4rem; box-sizing: border-box;}
.companyInfoBox .td_company .tdComInfo{padding: .28rem 0; border-bottom: solid 1px #EDEDED; display: flex; align-items: center;  }
.companyInfoBox .td_company .tdComInfo .clogo{width: .8rem; height: .8rem; background: #D6F9EB; box-shadow: 0 .03rem .11rem  0 rgba(0,0,0,0.05); border-radius: .1rem; margin-right: .18rem; flex-shrink: 0;}
.companyInfoBox .td_company .tdComInfo .clogo img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: .1rem;}
.companyInfoBox .td_company .tdComInfo .cinfo{max-width: calc(90% - .98rem);}
.companyInfoBox .td_company .tdComInfo h4{font-size: .28rem; color: #212121; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.companyInfoBox .td_company .tdComInfo p{color: #616266; font-size: .22rem;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.companyInfoBox .td_company .tdComInfo span{vertical-align: middle;}
.companyInfoBox .td_company .tdComInfo em{vertical-align: middle; color: #ccc; font-size: .18rem; }
.companyInfoBox .td_company .td_post{padding-top: .4rem; display: flex; align-items: center; justify-content: space-between; }
.companyInfoBox .td_company .invitation_item label{font-size: .28rem; color: #999; vertical-align: middle; flex-shrink: 0; }
.companyInfoBox .td_company .td_post span{vertical-align: middle;}
.companyInfoBox .td_company .td_post .salary {font-family: DINMi; color: #1861F2; font-size: .32rem;}
.companyInfoBox .td_company .td_post .salary.otherColor{color: #5977B2;}
.companyInfoBox .td_company .td_post .salary b{font-size: .28rem;}
.companyInfoBox .td_company .td_post .ptitle{font-size: .28rem; color: #333; font-weight: bold; overflow: hidden; text-overflow: ellipsis;}
.companyInfoBox .td_company .td_post::after{content: ''; display: inline-block; width: .24rem; height: .24rem; background: url(../images/job/arr_1.png) no-repeat center/cover; flex-shrink: 0;}
.companyInfoBox .td_company .td_post .text_con{width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: inline-flex; vertical-align: middle; align-items: center; }
.companyInfoBox .td_company .invitation_item label span{display: inline-block; width: 1.2rem; text-align-last:justify;text-align:justify;text-justify:distribute-all-lines;}
.companyInfoBox .td_company .invitation_item {display: flex; align-items: baseline; padding-top: .4rem;}
.companyInfoBox .td_company .invitation_item p{width: 100%; color: #333; line-height: .48rem; font-size: .28rem; padding-right: .14rem; box-sizing: border-box;}
.companyInfoBox .td_company .invitation_item .address{display: flex; align-items: center; justify-content: space-between; width: 100%;}
.companyInfoBox .td_company .invitation_item .address::after{content: ''; display: block; width: .24rem; height: .24rem; background: url(../images/job/arr_1.png) no-repeat center/cover;}

.invitation_state0 .contactInfoBox .contactInfo h4 span{ color: #565D6C;}

.contactInfoBox{display: flex; align-items: center; margin: .2rem .2rem 0; height: 1.6rem; border-radius: .4rem; background-color: #fff; padding: 0 .2rem;}
.contactInfoBox .headImg{display: block; width: .8rem; height: .8rem; border-radius: 50%; background-color: #f5f5f5; margin-right: .2rem;}
.contactInfoBox .headImg img{display: block; width: 100%; height: 100%; object-fit: cover; }
.contactInfoBox .contactInfo h4{font-size: .28rem; font-weight: bold; color: #333;}
.contactInfoBox .contactInfo h4 span{font-size: .26rem; font-weight: normal; color: #256CFA; margin-left: .1rem;}
.contactInfoBox .contactInfo p{color: #999; font-size: .24rem;}

.btn_bottom{position: fixed; left: 0; right: 0; bottom: 0; padding-bottom: constant(safe-area-inset-bottom); padding-bottom: env(safe-area-inset-bottom); height: 1.46rem; box-sizing: border-box; padding-top: .2rem; background-color: #fff;}
.btn_bottom a,.btn_blue{display: block; margin: 0 .3rem; height: .88rem; background: linear-gradient(-90deg, #266EFF 0%, #3381FF 100%); color: #fff ; text-align: center; font-size: .3rem; color: #fff; border-radius: .44rem; line-height: .88rem;}

.recPostBox{margin-top: .56rem; padding-bottom: 1.8rem;}
.recPostBox .recPostList{margin: 0 .2rem; background-color: #fff; border-radius: .3rem;}
.recPostBox .recPostList a{padding-right: .26rem; display: block; padding-top: .36rem; padding-bottom: .3rem; position: relative; width: 100%;}
.recPostBox .recPostList a.hastou{padding-left: .35rem;}
.recPostBox >h4{font-size: .28rem; color: #000; font-weight: bold; margin-bottom: .22rem; padding-left: .36rem;}
.recPostBox .recPost .postInfo h2{font-size: .32rem; color: #000; font-weight: bold; margin-bottom: .23rem;}
.recPostBox .recPost .companyInfo {display: flex; align-items: center; }
.recPostBox .recPost .companyInfo .clogo{width: .5rem; height: .5rem; background-color: #f5f5f5;  border-radius: .08rem; margin-right: .12rem;}
.recPostBox .recPost .companyInfo .clogo img{display: block; width: 100%; height: 100%; object-fit: cover;}
.recPostBox .recPost .companyInfo h4{font-size: .24rem; color: #212121; margin-right: .22rem; max-width: 1.6rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.recPostBox .recPost .companyInfo p{color: #8D8E91; font-size: .24rem;}
.recPostBox .recPost .companyInfo span{vertical-align: middle;}
.recPostBox .recPost .companyInfo em{color: #ccc; font-size: .22rem; margin: 0 .1rem; vertical-align: middle;}
.recPostBox .recPost .postInfo .labs {margin-top: .2rem;}
.recPostBox .recPost .postInfo .labs span{display: inline-block; padding: 0 .16rem; background-color: #F5F5FA; color: #49494D; font-size: .22rem; line-height: .4rem; border-radius: .04rem; margin-right: .1rem;}
.recPostBox .recPost .postInfo .salary{font-size: .32rem; color: #1861F2; font-family: DINMi; position: absolute; right: .26rem; top: .45rem;} 
.recPostBox .recPost .postInfo .salary b{font-size: .28rem;}
.recPostBox .recPost{position: relative; display: flex; align-items: flex-start;}
.recPostBox .recPost .left_area{ width: .85rem; height: 2.4rem; flex-shrink: 0; box-sizing: border-box; padding-top: .82rem;}
.recPostBox .recPost .left_area .chose_btn{width: .4rem; height: .4rem; background: url(../images/job/gou1.png) no-repeat center/cover; display: block; margin: auto; }
.recPostBox .recPost.on_chose .left_area .chose_btn{background-image: url(../images/job/gou.png);}
.recPostBox .recPostList .recPost::after{content: ''; display: block; height: 1px; background-color: #F5F5F7; position: absolute; left: 0.2rem; right: .2rem; bottom: 0; }
.recPostBox .recPostList .recPost:last-of-type::after{display: none;}

/* .recPostBox .recPostList .recPost::after{content: ''; display: block; height: 1px; background-color: #F5F5F7; position: absolute; left: 0.2rem; right: .2rem; bottom: 0;} */

.popSuccessTip.successTip{height: .9rem; width: 2.6rem; border-radius: .2rem;}
.popSuccessTip.successTip h2{font-size: .24rem; color: #fff; font-weight: normal; margin-bottom: 0;}
.popSuccessTip.successTip .ps_tip_icon{width: .4rem; height: .4rem;}
.popSuccessTip.successTip .ps_tip_icon img{width: 100%; height: 100%;}

.refuse_mask{position: fixed; left: 0; top: 0; bottom: 0; right: 0; background: rgba(0,0,0,.5); z-index: 10;}
.refuse_pop{position: fixed; left: 0; right: 0; bottom: 0; height: 7rem; border-radius: .5rem .5rem 0 0; background-color: #fff; z-index: 10; transform: translateY(100%); transition: transform .3s;}
.refuse_pop.showPop{transform: translateY(0);}
.refuse_pop .pop_head{display: flex; align-items: flex-start; justify-content: space-between; padding: .4rem; height: 1.5rem; box-sizing: border-box;}
.refuse_pop .pop_head h2{font-size: .4rem; color: #141933; font-weight: bold;}
.refuse_pop .pop_head p{color: #949599; font-size: .26rem;}
.refuse_pop .pop_head a.close_pop{display:block; width: .24rem; height: .24rem; background: url(../images/close_btn1.png) no-repeat center/cover;}
#scollObj{height: 4rem !important; position: relative; margin: 0 .4rem;}
.scrollBox.mbsc-comp.mbsc-sel-hdn{}
#scollObj_dummy{display: none;}
#scollObj .mbsc-fr-persp{top: auto !important; bottom: 1.8rem; padding: 0 .3rem;}
#scollObj .mbsc-sc-whl-w{width: 100%; }

.nask_hide{position: fixed; left: 0; top: 0; right: 0; bottom: 0; }


.huoniao_Fullscreen:not(.wx_miniprogram) .header{display: flex !important; padding-top: .5rem !important;}

.myConfirm .pubdelAlertCon p{    font-size: .26rem; line-height: .36rem; color: #999; margin-top: 0.16rem;}
.myConfirm .delTile s{    display: inline-block; width: 0.48rem; height: 0.48rem; background: url(../images/job/tip_icon.png) no-repeat center/cover; vertical-align: middle; margin-bottom: 0.04rem; margin-right: 0.06rem;}
