body, html{background: #f4f4f4;}

.list .item{background: #fff; margin-bottom: .3rem; box-shadow: 0 7px 10px -7px rgba(0,0,0,.4);}
.list a{display: block;}
.list dl{font-size: .28rem; padding: .1rem .2rem; background: #fff; display: -webkit-box;}
.list dt{display: block;width: 1.6rem;color: #666;}
.list dd {display: block;-webkit-box-flex: 1;}

.loading{font-size: .3rem; text-align: center; line-height: 1rem;}
.loading img {vertical-align: middle;}



/* 新版招聘 */
.container{padding-top: 1.68rem;}
.alignLeft.header{height: .88rem; line-height: .88rem;  position: fixed; left: 0; right: 0; top: 0; background: #f4f4f4 !important; z-index: 9;}
.alignLeft.header .header-l a{height: .88rem;}
.alignLeft.header .header-address{text-align: left; font-size: .44rem; font-weight: bold; line-height: .88rem;}

.tabBox{font-size: .3rem; color: #000; height: .8rem; position: fixed; left: 0; right: 0; top: .88rem; background: #f4f4f4;  z-index: 9;}
.tabBox ul{display: flex; align-items: center; justify-content: space-around; box-sizing: border-box; padding-top: .12rem;}
.tabBox i.line{display: block; width: .36rem; height: .08rem; border-radius: .04rem; background-color: #196DF3; position: absolute; left: 0; bottom: .1rem; left: .46rem; transition: left .3s;}
.tabBox ul li.on_chose{font-size: .32rem; font-weight: bold;}
.tabBox ul li{position: relative;}
.tabBox ul li em{display:block; position: absolute; width: .12rem; height: .12rem; border-radius: 50%; background-color: #FF476C; top: -.12rem; right: -.12rem;}
.tabBox ul li .num{display: block; min-width: .3rem; height: .3rem; width: auto; line-height: .31rem; padding: 0 .06rem; box-sizing: border-box; font-size: .22rem; text-align: center; color: #fff;}


.resumeTab {display: flex; align-items: center; margin: 0 .2rem; padding: .2rem 0;}
.resumeTab span{display: flex; justify-content: center; align-items: center; min-width: 1.6rem; height: .6rem; border-radius: .3rem; background-color: #fff; font-size: .28rem; color: #5C5D66; margin-right: .2rem; line-height: .6rem;}
.resumeTab span em{color: #9C9EAF; font-size: .24rem; line-height: .6rem;}
.resumeTab span.on_chose{color: #256CFA; background-color: #E0EBFF;}
.resumeTab span.on_chose em{color: #256CFA;}

/* 投递列表 */
.tdListBox {margin-top: .1rem;}
.tdListBox li{margin-bottom: .2rem;}
.tdListBox .tdInfoBox{min-height: 2.7rem; margin: 0 .2rem; background-color: #fff; border-radius: .2rem; display: block;}
.tdListBox .tdInfoBox .td_state{padding: 0 .25rem; border-bottom: solid 1px #F5F5F5; height: .75rem; display: flex; align-items: center; justify-content: space-between;} 
.tdListBox .tdInfoBox .td_state .left_info{display: flex; align-items: center;}
.tdListBox .tdInfoBox .td_state .right_info span{display: block; color: #999; font-size: .22rem; line-height: .28rem; background: #F7F9FC; border-radius: .06rem; border: solid 1px #d9d9d9; padding: 0 .08rem;}
.tdListBox .tdInfoBox.cancel_td .td_post h2,.tdListBox .tdInfoBox.cancel_td .td_post p.company{opacity: .4;}
.tdListBox .tdInfoBox .td_state h4{color: #5977B3; font-size: .26rem; font-weight: bold;}
.tdListBox .tdInfoBox .td_state span{color: #8D8E91; font-size: .22rem; margin-left: .16rem;}
.tdListBox .tdInfoBox .td_state.state2 h4{color: #FF6C03;}
.tdListBox .tdInfoBox .td_state.state4 h4{color: #999;}
.tdListBox .tdInfoBox .td_state.state3 h4{color: #256CFA;}
.tdListBox .tdInfoBox .td_state.state3 .td_time{color: #256CFA;}
.tdListBox .tdInfoBox.cancel_td  .td_time{opacity: .4;}
.tdListBox .tdInfoBox .td_state s{display: block; width: .3rem; height: .3rem; margin-right: .06rem;}
.tdListBox .tdInfoBox .td_state s img{display: block; width: 100%; height: 100%; object-fit: cover;}
/* .tdListBox .tdInfoBox .td_state::before{content: ''; display: block; width: .3rem; height: .3rem; } */
.tdListBox .tdInfoBox .td_post{padding: .2rem .24rem .32rem;}
.tdListBox .tdInfoBox .td_post h2{font-size: .32rem; color: #212121; font-weight: bold; display: flex; align-items: center; justify-content: space-between; margin-bottom: .2rem;}
.tdListBox .tdInfoBox .td_post h2 .title{max-width: 70%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: inline-block;}
.tdListBox .tdInfoBox .td_post h2 .salary{color: #1861F2; font-size: .32rem; font-family: DINMi;}  
.tdListBox .tdInfoBox.cancel_td .td_post .salary{color: #212121;}
.tdListBox .tdInfoBox .td_post h2 .salary s{text-decoration: none;}
.tdListBox .tdInfoBox .td_post h2 .salary b{font-size: .28rem;}
.tdListBox .tdInfoBox .td_post p.typename{font-size: .24rem; color: #797A80; display: flex; align-items: center; justify-content: space-between; margin-bottom: .24rem;}
.tdListBox .tdInfoBox.cancel_td  .td_post p.typename{color: rgba(196,196,196,.7);}
.tdListBox .tdInfoBox .td_post p.typename span{color: #C4C4C4; font-size: .22rem;}
.tdListBox .tdInfoBox .td_post p.company{font-size: .26rem; color: #212121;}

.loadingText{text-align: center; font-size: .26rem; color: #999; padding: .2rem;}
.noData {text-align: center; font-size: .26rem; color: #999;}
.noData .noDataImg{width: 4.8rem; height: 2.6rem; margin:.7rem auto;}
.noData .noDataImg img{display: block; width: 100%; height: 100%; object-fit: cover;}
.noData h4{font-size: .3rem; color: #333; font-weight: bold; text-align: center;}
@font-face {
	font-family: DINMi;
	src: url('/static/fonts/DINMittelschriftStd.otf'),
		url('/static/fonts/DINMittelschriftStd.TTF'),
		url('/static/fonts/DINMittelschriftStd.svg'),
		 url('/static/fonts/DINMittelschriftStd.woff'); /* IE9 */
}

.mask_tdInfo{position: fixed; left: 0; right: 0; top: 0; bottom: 0; background-color: rgba(0,0,0,.5); z-index: 10; display: none;}
.tdPop{position: fixed; left: 0; right: 0; bottom: 0; z-index: 10; background-color: #fff; border-radius: .5rem .5rem 0 0; max-height: 9.8rem; min-height: 5rem; transform: translateY(100%); transition: transform .3s;}
.tdPop.showPop{ transform: translateY(0);}
.mask_tdInfo.showMask{display: block;}
.tdPop .pop_head{display: flex; align-items: flex-start; justify-content: space-between; padding: .4rem; height: 1.5rem; box-sizing: border-box;}
.tdPop .pop_head h2{font-size: .4rem; color: #141933; font-weight: bold;}
.tdPop .pop_head a.close_pop{display:block; width: .24rem; height: .24rem; background: url(../images/close_btn1.png) no-repeat center/cover;}

.tdPop .pop_con{max-height: 8rem; overflow: auto;}
.tdPop .pop_con .td_company{margin: 0 .2rem; height: 2.6rem; background-color: #F7F9FC; padding: 0 .25rem; border-radius: .4rem; box-sizing: border-box;}
.tdPop .pop_con .td_company .tdComInfo{padding: .28rem 0; border-bottom: solid 1px #EDEDED; display: flex; align-items: center;  }
.tdPop .pop_con .td_company .tdComInfo .clogo{width: .8rem; height: .8rem; background: #D6F9EB; box-shadow: 0 .03rem .11rem  0 rgba(0,0,0,0.05); border-radius: .1rem; margin-right: .18rem;}
.tdPop .pop_con .td_company .tdComInfo .clogo img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: .1rem;}
.tdPop .pop_con .td_company .tdComInfo h4{font-size: .28rem; color: #212121; font-weight: bold;}
.tdPop .pop_con .td_company .tdComInfo p{color: #616266; font-size: .22rem;}
.tdPop .pop_con .td_company .tdComInfo span{vertical-align: middle;}
.tdPop .pop_con .td_company .tdComInfo em{vertical-align: middle; color: #ccc; font-size: .18rem; }
.tdPop .pop_con .td_company .td_post{padding-top: .4rem; display: flex; align-items: center; justify-content: space-between; }
.tdPop .pop_con .td_company .td_post label{font-size: .28rem; color: #999; vertical-align: middle; }
.tdPop .pop_con .td_company .td_post span{vertical-align: middle;}
.tdPop .pop_con .td_company .td_post .salary {font-family: DINMi; color: #1861F2; font-size: .32rem;}
.tdPop .pop_con .td_company .td_post .salary b{font-size: .28rem;}
.tdPop .pop_con .td_company .td_post .ptitle{font-size: .28rem; color: #333; font-weight: bold; }
.tdPop .pop_con .td_company .td_post::after{content: ''; display: inline-block; width: .24rem; height: .24rem; background: url(../images/job/arr_1.png) no-repeat center/cover; flex-shrink: 0;}
.tdPop .pop_con .td_company .td_post .text_con{width: 100; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: inline-block; vertical-align: middle;}
.tdPop .pop_con .td_process li h2{font-size: .32rem; color: #141933; font-weight: bold;}
.tdPop .pop_con .td_process li p{font-size: .26rem; color: #616266; margin-top: .1rem;}
.tdPop .pop_con .td_process{padding:  0 .2rem .5rem; margin-top: .82rem;}
.tdPop .pop_con .td_process li{margin-left: .26rem; padding-left: .3rem; border-left: dashed .02rem #CFD6E6; padding-bottom: .3rem; position: relative;}
.tdPop .pop_con .td_process li s.dot{width: .18rem; height: .18rem; background: #FFFFFF; border: .04rem solid #256CFA; border-radius: 50%; box-sizing: border-box; display: block; position: absolute; left: -.1rem; top: -.1rem;}
.tdPop .pop_con .td_process li .process_con{transform: translateY(-.2rem);  opacity: .4;}
.tdPop .pop_con .td_process li:first-of-type .process_con{opacity: 1;}
.tdPop .pop_con .td_process li:last-of-type{border: none;}
html.huoniao_iOS:not(.wx_miniprogram) .header{display: flex; padding-top: .5rem !important; }
html.huoniao_iOS:not(.wx_miniprogram) .tabBox{top: 1.38rem;}
html.huoniao_iOS:not(.wx_miniprogram) .container{padding-top: 2.18rem;}
html.huoniao_iOS:not(.wx_miniprogram) .header {display: -webkit-box; padding-top: .5rem !important;}

.wx_miniprogram .tabBox{top: 0;}
.wx_miniprogram .container{padding-top: .8rem;}
.wx_miniprogram .header{padding-top: 0;}


.myConfirm .pubdelAlertCon p{    font-size: .26rem; line-height: .36rem; color: #999; margin-top: 0.16rem;}
.myConfirm .delTile s{    display: inline-block; width: 0.48rem; height: 0.48rem; background: url(../images/job/tip_icon.png) no-repeat center/cover; vertical-align: middle; margin-bottom: 0.04rem; margin-right: 0.06rem;}
html.huoniao_iOS .header{display: none !important}
html.huoniao_Android .header{display: -webkit-box !important;}
html.huoniao_iOS:not(.wx_miniprogram) .container{padding-top:.8rem}
html.huoniao_Android:not(.wx_miniprogram) .container{padding-top:2.18rem}
html.huoniao_iOS:not(.wx_miniprogram) .tabBox{top: 0rem;}
html.huoniao_Android:not(.wx_miniprogram) .tabBox{top: 1.38rem;}