html.huoniao_iOS:not(.wx_miniprogram):not(.byte_miniprogram):not(.baidu_miniprogram):not(.qq_miniprogram) .alignLeft{padding-top: .0rem;}
html.huoniao_iOS:not(.wx_miniprogram):not(.byte_miniprogram):not(.baidu_miniprogram):not(.qq_miniprogram) .alignLeft .header-l{display: none;}
html.huoniao_iOS:not(.wx_miniprogram):not(.byte_miniprogram):not(.baidu_miniprogram):not(.qq_miniprogram)  .pageCon{padding-top: 0rem;}
html.huoniao_iOS:not(.wx_miniprogram):not(.byte_miniprogram):not(.baidu_miniprogram):not(.qq_miniprogram) .header-address{padding-left: .3rem;}
html.huoniao_Android:not(.wx_miniprogram):not(.byte_miniprogram):not(.baidu_miniprogram):not(.qq_miniprogram) .alignLeft{padding-top: .5rem;}
html.huoniao_Android:not(.wx_miniprogram):not(.byte_miniprogram):not(.baidu_miniprogram):not(.qq_miniprogram) .alignLeft .header-l{display: block;}
html.huoniao_Android:not(.wx_miniprogram):not(.byte_miniprogram):not(.baidu_miniprogram):not(.qq_miniprogram)  .pageCon{padding-top: .5rem;}
html.huoniao_iOS:not(.wx_miniprogram):not(.byte_miniprogram):not(.baidu_miniprogram):not(.qq_miniprogram)  .header{display: -webkit-box; padding-top: .5rem !important;}
html.huoniao_iOS .header{display: none !important}
html.huoniao_Android .header{display: -webkit-box !important;}
.alignLeft {display: -webkit-box; line-height: .88rem; max-width: none; height: .88rem; position: fixed; left: 0; right: 0; top: 0; background: url(../images/job/bg_resume.png) no-repeat top center/100% auto; z-index: 9999999; overflow: hidden;} 
.alignLeft .header-search .btn_new{width: 1.84rem; background: linear-gradient(0deg, #F4FDFE 0%, #F8FDFF 100%); box-sizing: border-box; padding: 0 .1rem; font-size: .28rem; color: #000; font-weight: bold;}
.alignLeft .header-address{flex-shrink: 0; overflow-x: auto;}
.alignLeft .header-address ul{ white-space: nowrap; text-align: left;}
.alignLeft .header-address li{font-size: .28rem; color: rgba(0,0,0,.5); display: inline-block;  font-weight: normal; margin-right: .6rem; position: relative; max-width: 1.8rem; overflow: hidden; text-overflow: ellipsis;} 
.alignLeft .header-address li.on_chose{color: #000; font-weight: bold;}
.alignLeft .header-address li.on_chose span{position: relative; z-index: 2;}
.alignLeft .header-address li.on_chose::after{content: ''; display: block; position: absolute; left: 0; right: 0; height: .1rem; background: linear-gradient(90deg, #1A73FE 0%, #FFFFFF 100%); bottom: .26rem;}
.alignLeft .header-address::-webkit-scrollbar{display: none}
.alignLeft .header-search{position: relative; z-index: 3;}

.pageCon {padding-bottom: 1.5rem;}
.pageCon .resume_brief.refuseResume{height: 4rem;}
.pageCon .resume_brief {padding: 0 .5rem; padding-top: 1.2rem; box-sizing: border-box; /*height: 4.7rem*/ height: 4.3rem;background: url(../images/job/bg_resume.png) no-repeat top center/100% auto; position: relative;}
.pageCon .resume_brief .edit_resume_btn{display: block; width: .4rem; height: .4rem; background: url(../images/job/edit_icon.png) no-repeat center/cover; position: absolute; right: .32rem; top: 1.3rem;}
.pageCon .resume_brief h2{font-size: .44rem; color: #000 ; font-weight: bold;} 
.pageCon .resume_brief h2 span{font-size: .22rem; color: #6B7399; font-weight: normal; line-height: .4rem; border-radius: .06rem; background-color: rgba(198, 210, 247, .5); display: inline-block; padding: 0 .11rem; vertical-align: middle;}
.pageCon .resume_brief .resume_tip {border: .02rem solid #fff; background-color: #fff; border-radius: .2rem; min-height: 1.2rem; box-sizing: border-box; padding: .24rem; margin-top: .2rem;} 
.pageCon .resume_brief .resume_tip.flex_tip{display: flex; align-items: center; padding: .1rem .2rem;}
.pageCon .resume_brief .resume_tip.flex_tip span{display: block; width: 1rem; height: 1rem; background: url(../images/job/level_up.png) no-repeat center/cover; margin-right: .2rem;}
.pageCon .resume_brief .resume_tip p{font-size: .24rem; color: #A6A6A6; margin-top: .1rem;}
.pageCon .resume_brief .resume_tip h5{font-size: .28rem; color: #525866; font-weight: bold;}
.pageCon .resume_brief .resume_tip:not(.flex_tip) p::after,.pageCon .resume_brief .resume_tip.flex_tip:after{content: ''; display: inline-block; width:.2rem; height: .2rem; background: url(../images/job/arr_down.png) no-repeat center/cover; vertical-align: middle; margin-left: .04rem;}
.pageCon .resume_brief .resume_tip.flex_tip:after{transform: rotate(-90deg);}
.pageCon .resume_detail{min-height: 3rem; background-color: #fff; border-radius: .3rem .3rem 0 0; margin-top: -.64rem; position: relative;}
.pageCon .resume_detail .rdetail_item{padding: .32rem .4rem .42rem;  position: relative;}
/* .pageCon .resume_detail .rdetail_item .jd_item{margin-bottom: .44rem;} */
.pageCon .resume_detail .rdetail_item .jd_item{margin-bottom: .2rem;}
.pageCon .resume_detail .rdetail_item::after{content: ''; display: block; position: absolute; left: .45rem; right: .45rem; bottom: 0; height: 1px; background-color: #eee;}
.pageCon .resume_detail .rdetail_item:last-of-type::after , .pageCon .resume_detail .rdetail_item.noBorder::after{display: none;}
.pageCon .resume_detail .rdetail_item h2{font-size: .4rem; color: #000; font-weight: bold;}
.pageCon .resume_detail .rdetail_item h2 s.edit_btn{display: inline-block; width: .4rem; height: .4rem; background: url(../images/job/edit_icon.png) no-repeat center/cover; opacity: .5; vertical-align: middle; margin-left: .1rem; margin-bottom: .02rem;}
.pageCon .resume_detail .rdetail_item h2 span.lab{background-color: #196DF3; border-color: #196DF3; color: #fff;}
.pageCon .resume_detail .rdetail_item .headTitle{display: flex; align-items: center; justify-content: space-between;}
.pageCon .resume_detail .rdetail_item .headTitle .right_btn{display: flex; align-items: center; justify-content: space-between;}
.pageCon .resume_detail .rdetail_item .headTitle .right_btn.flex_btn{ color: #333; transform: translateY(.04rem);}
.pageCon .resume_detail .rdetail_item .headTitle .right_btn.flex_btn .add_btn{background: url(../images/job/arr_1.png) no-repeat center/.24rem; margin-top: 0;}
.pageCon .resume_detail .rdetail_item .headTitle .right_btn .tip{color:#256CFA ;}
.pageCon .resume_detail .rdetail_item .headTitle .right_btn a.btn_edit{display: block; width: .4rem; height: .4rem; background: url(../images/job/edit_icon.png) no-repeat center/cover; margin-left: .09rem;}
.pageCon .resume_detail .rdetail_item .headTitle  a.add_btn{display: block; width: .4rem; height: .4rem; background: url(../images/job/add_btn_gray.png) no-repeat center/cover;}
.pageCon .resume_detail .rdetail_item .person_info {display: flex; align-items: center; justify-content: space-between;}
.pageCon .resume_detail .rdetail_item .person_info p{color: #A6A6A6; margin-top: .2rem;}
.pageCon .resume_detail .rdetail_item .person_info p span{color: #333; font-size: .28rem; vertical-align: middle;}
.pageCon .resume_detail .rdetail_item .person_info p em{color: #9C9EAF; font-size: .24rem; margin: 0 .1rem;}
.pageCon .resume_detail .rdetail_item .checkInfo{font-size: .28rem; color: #333; padding-top: .24rem; padding-bottom: .12rem;}
.pageCon .resume_detail .rdetail_item .checkInfo li{margin-top: .3rem;}
.pageCon .resume_detail .rdetail_item .checkInfo li::before{content: ''; display: inline-block; width: .3rem; height: .3rem; background: url(../images/job/phone_check.png) no-repeat center/cover; vertical-align: middle; margin-right: .26rem; margin-bottom: .02rem;}
.pageCon .resume_detail .rdetail_item .checkInfo li.email_check::before{background-image: url(../images/job/email_check.png);}
.pageCon .resume_detail .rdetail_item .person_info .photo{width: 1.4rem; height: 1.4rem; background: #E5E5E5; border: 1px solid #F3F3F3; border-radius: 50%; position: relative;}
.pageCon .resume_detail .rdetail_item .person_info .photo img{display: block; width: 1.4rem; height: 1.4rem; object-fit: cover; border-radius: 50%;}
.pageCon .resume_detail .rdetail_item .person_info .photo s{display: block; width: .32rem; height: .32rem; background: url(../images/job/sex_0.png) no-repeat center/cover ; position: absolute; left: 0; right: 0; margin: auto; bottom: -.1rem;}
.pageCon .resume_detail .rdetail_item .person_info .photo s.sex_1{background-image: url(../images/job/sex_1.png);}
.pageCon .resume_detail .rdetail_item h2 span{display: inline-block; line-height: .28rem; border: 1px solid #FF523B; border-radius: .08rem; font-size: .2rem; color: #FF523B; text-align: center; padding:0 .08rem; vertical-align: middle; margin-left: .12rem; font-weight: normal;}
.pageCon .resume_detail .rdetail_item .add_btn{height: 1.4rem; background: #F7F9FC; border-radius: .42rem; margin-top: .2rem; display: flex; align-items: center; justify-content: center; color: #256CFA; font-size: .26rem; font-weight: bold;}
.pageCon .resume_detail .rdetail_item .add_btn s{display: block; width: .4rem; height: .4rem; background: url(../images/job/add_btn.png) no-repeat center/cover; margin-right: .1rem;}

.pageCon .resume_detail .rdetail_item .job_like{padding-top: .2rem;}
.pageCon .resume_detail .rdetail_item .job_like h3{font-size: .3rem; color: #000; font-weight: bold; margin-bottom: .18rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.pageCon .resume_detail .rdetail_item .job_like p span{color: #9EA0B1; vertical-align: middle;}
.pageCon .resume_detail .rdetail_item .job_like p em{color: #D6D7E3; font-size: .18rem; vertical-align: middle; margin: 0 .1rem;}
.pageCon .resume_detail .rdetail_item.noPadding{ padding-left: 0; padding-right: 0;}
.pageCon .resume_detail .rdetail_item.noPadding h2{padding: 0 .4rem; margin-bottom: .32rem;}
.pageCon .resume_detail .rdetail_item.noPadding .labWrap{overflow: auto;}
.pageCon .resume_detail .rdetail_item.noPadding .labWrap ul{padding: 0 .4rem; width: 200%; }
.pageCon .resume_detail .rdetail_item.noPadding ul li{display: inline-block; min-width: 1.78rem; color: #4B4B4C; font-size: .26rem; background: #F7F7F7; padding: 0 .22rem; border-radius: .1rem; margin-right: .16rem; margin-bottom: .18rem; line-height: .68rem; text-align: center; box-sizing: border-box;}
.pageCon .resume_detail .rdetail_item.noPadding ul li.on_chose{background-color: #F0F5FF; color: #256CFA;}
.pageCon .resume_detail .rdetail_item.noPadding .labWrap::-webkit-scrollbar{display: none}

/* 工作经验 */
.pageCon .resume_detail .rdetail_item .companyInfoBox{padding-top: .5rem;}
.pageCon .resume_detail .rdetail_item .companyInfoBox h3{display: flex; align-items: center; justify-content: space-between; font-size: .32rem; color: #000; font-weight: bold;}
.pageCon .resume_detail .rdetail_item .companyInfoBox h3 span{display: block; max-width: calc(100% - .5rem); overflow: hidden; text-overflow: ellipsis; white-space: nowrap; justify-content: space-between;}
.pageCon .resume_detail .rdetail_item .companyInfoBox h3::after{content: ''; display: block; width: .3rem; height: .3rem; background: url(../images/job/arr_1.png) no-repeat center/cover;}
.pageCon .resume_detail .rdetail_item .companyInfoBox p span{vertical-align: middle; color: #666;  font-size: .24rem;}
.pageCon .resume_detail .rdetail_item .companyInfoBox p span.work_time{color: #9EA0B1;}
.pageCon .resume_detail .rdetail_item .companyInfoBox p em{color: #ccc; vertical-align: middle; font-size: .18rem;}
.pageCon .resume_detail .rdetail_item .work_con{font-size: .26rem; color: #666; line-height: .38rem; padding: .4rem 0;}
.pageCon .resume_detail .rdetail_item li:last-of-type  .work_con{padding-bottom: 0;}

/* 教育经历 */
.pageCon .resume_detail .rdetail_item .edu_jy_list .school_info{display: flex; align-items: center; justify-content: space-between; padding-top: .3rem; margin-bottom: .2rem;}
.pageCon .resume_detail .rdetail_item .edu_jy_list .school_info h2{font-size: .3rem; color: #000; font-weight: bold;}
.pageCon .resume_detail .rdetail_item .edu_jy_list .school_info span{font-size: .24rem; color: #9EA0B1; display: flex; align-items: center;} 
.pageCon .resume_detail .rdetail_item .edu_jy_list .school_info span::after{content: ''; display: block; width: .3rem; height: .3rem; background: url(../images/job/arr_1.png) no-repeat center/cover; margin-left: .1rem;}
.pageCon .resume_detail .rdetail_item .edu_jy_list li{padding: .2rem 0;}
.pageCon .resume_detail .rdetail_item .edu_jy_list li:last-of-type{padding-bottom: 0;}
.pageCon .resume_detail .rdetail_item .job_con{font-size: .26rem; color: #666; line-height: .38rem; padding-top: .4rem;}
.pageCon .resume_detail .rdetail_item .headTitle a.add_btn.edit_btn{background-image: url(../images/job/edit_icon.png);}
.pageCon .resume_detail .rdetail_item .job_con.skill_list{padding-top: .26rem;}
.pageCon .resume_detail .rdetail_item .job_con.skill_list li{display: flex; align-items: center; justify-content: space-between; padding: .26rem 0;}
.pageCon .resume_detail .rdetail_item .job_con.skill_list li h4{font-size: .3rem; color: #000;}
.pageCon .resume_detail .rdetail_item .job_con.skill_list li:after{content: ''; display: block; width: .3rem; height: .3rem; background: url(../images/job/arr_1.png) no-repeat center/cover; margin-left: .1rem;}
.pageCon .resume_detail .rdetail_item .job_con.skill_list ul:last-of-type li:last-of-type{padding-bottom: 0;}

.pageCon .resume_detail .rdetail_item .selfDefineBox{display: flex; align-items: center; padding: 0 .45rem;}
.pageCon .resume_detail .rdetail_item  .btn_selfDefine{min-width: 1.78rem; height: .68rem; border-radius: .1rem; border: 1px solid #256CFA; display: inline-flex; align-items: center; justify-content: center; padding: 0 .1rem; font-size: .26rem; color: #256CFA; box-sizing: border-box; margin-right: .18rem; }
.pageCon .resume_detail .rdetail_item  .btn_selfDefine::before{content: ''; display: block; width: .24rem; height: .24rem; background: url(../images/job/add_btn_mid.png) no-repeat center/cover; margin-right: .09rem;}
.pageCon .resume_detail .rdetail_item .selfDefineBox .inpBox{width: 3.2rem; height: .68rem; background: #F0F5FF; border-radius: .1rem; position: relative;}
.pageCon .resume_detail .rdetail_item .selfDefineBox .inpBox input{width: 100%; box-sizing: border-box; height: 100%; background: none; border:none; padding-right: .8rem; padding-left: .26rem;}
.pageCon .resume_detail .rdetail_item .selfDefineBox .inpBox span{color: #666; font-size: .26rem; padding:0 .2rem; position: absolute; top: 0; bottom: 0; right: 0; line-height: .68rem;}
.pageCon .resume_detail .rdetail_item .selfDefineBox .inpBox span em{color: #017BFF; }
.pageCon .resume_detail .rdetail_item .selfDefineBox .inpBox .edit_btn_sm{width: .24rem; height: .24rem; background: url(../images/job/edit_icon1.png) no-repeat center/.24rem; display: block; width: .8rem; height: .68rem; position: absolute; top: 0; right: 0;}
.btnGroups{display: flex; align-items: center; padding: .2rem .3rem; position: fixed; left: 0; right: 0; bottom: 0; background-color: #fff;}
.btnGroups.rightAlign{ justify-content: flex-end;}
.btnGroups a{display: flex; width: 2.4rem; background: none; box-sizing: border-box; border: solid 1px #E6E6E6; height: .8rem; text-align: center; align-items: center; justify-content: center; font-size: .3rem; color: #000; font-weight: bold; border-radius: .4rem; margin: 0 .08rem;}
.btnGroups a.btn_blue{background: linear-gradient(-90deg, #266EFF 0%, #3381FF 100%); border:none; color: #fff; flex-shrink: 0;}
.btnGroups a.resumeLevelUp{width: 100%; }
.btnGroups a.resumeLevelUp::before{content: ''; display: block; width: .32rem; height: .32rem; background: url(../images/job/levelup_icon.png) no-repeat center/cover; margin-right: .12rem;}



/* 基本信息 */
.page_basicInfo{padding-bottom: 1.5rem; min-height: 100vh;}
.page_basicInfo .btn_save{position: absolute; left: 0; right: 0; bottom: .3rem; background: linear-gradient(-90deg, rgb(38 110 255 / 90%) 0%, rgb(51 129 255 / 90%) 100%);}
.header {height: .88rem; line-height: .88rem; overflow: hidden; z-index: 9;}
.header-address{line-height: .88rem;}
.header .header-search{width: 1rem;}
.header .header-search .save_btn{color: #256CFA; font-weight: bold; font-size: .3rem;}
.formBox {padding: 0 .4rem;}
.formBox .upPhotoBox{display: flex; align-items: center; justify-content: space-between; padding: .25rem 0; padding-left: .05rem;}
.formBox .upPhotoBox .photo{width: 1.3rem; height: 1.3rem; border-radius: 50%; background: url(/static/images/noPhoto_100.jpg) no-repeat center/cover;}
.formBox .upPhotoBox .photo img{display: block; width: 1.3rem; height: 1.3rem; border-radius: 50%; object-fit: cover;} 
.formBox .upPhotoBox .photo .mask_upload{display: flex; align-items: center; justify-content: center; position: absolute; left: 0; top: 0; bottom: 0; right: 0; background: rgba(0,0,0,.6); color: #fff; border-radius: 50%;} 

.formBox .upPhotoBox h4{font-size: .34rem; color: #212121;}
.formBox .upPhotoBox p{color: #999; font-size: .24rem; margin-top: .2rem;}
.formBox .upPhotoBox p span{color: #256CFA;}

.formBox .form_item{padding: .3rem 0 .18rem; margin: 0 .05rem; border-bottom: solid 1px #eee;}
/* .formBox .form_item{padding: .3rem 0; margin: 0 .05rem; border-bottom: solid 1px #eee;} */
.formBox .form_item.flex_item{display: flex; align-items: center; justify-content: space-between;}
.formBox .form_item.flex_item.endFlex{align-items: flex-end;}
.formBox .form_item label{font-size: .26rem; color: #808080; margin-bottom: .22rem; display: block; height: .4rem;}
.formBox .form_item input{display: block; border: none; background: none; max-width: 2rem; font-size: .3rem;}
.formBox .form_item input.personname{font-size: .36rem; font-weight: bold; color: #212121; max-width: 3rem;}
.formBox .form_item input::placeholder{color: #ddd; font-weight: normal;}
.formBox .form_item .inpbox{width: 100%;}
.formBox .form_item .inpbox.salaryitem{position: relative;}
.formBox .form_item .inpbox.salaryitem #salaryList_dummy{position: absolute; left: 0; bottom: 0; right: 0; opacity: 0; max-width: none; height: 1rem;}
/* .formBox .form_item .inpbox.salaryitem  */
.formBox .form_item .capacity_lab{display: flex; flex-shrink: 0; white-space: nowrap;}
.formBox .form_item .capacity_lab span{display: inline-block; min-width: 1.36rem; height: .62rem; background: #F5F5F5; color: #333; font-weight: bold; box-sizing: border-box; padding: 0 .26rem; line-height: .62rem; border-radius: .1rem; text-align: center; margin-left: .14rem;}
.formBox .form_item .capacity_lab span.on_chose{color: #256CFA; background-color: #EDF3FF;}
.formBox .form_item input.big_small{max-width: none; width: 100%; text-overflow: ellipsis;}
.formBox .form_item.arr_form::after{content: ''; display: block; width: .24rem; height: .24rem; background: url(../images/job/arr_1.png) no-repeat center/cover; margin-bottom: .04rem;}
.formBox .form_item .btn{color: #256CFA; font-size: .26rem;}

.capacityCard{margin: .8rem .4rem 0; height: 2.2rem; background: linear-gradient(90deg, #FCF4FE 0%, #EDF3FF 100%); border-radius: .3rem; position: relative; padding: .36rem .4rem; box-sizing: border-box;}
.capacityCard .textbox{margin-right: 2rem;}
.capacityCard h2{font-size: .36rem; color: #212121; font-weight: bold;}
.capacityCard p{color: #666; font-size: .26rem; margin-top: .12rem; line-height: .34rem;}
.capacityCard .imgbox{width: 2.6rem; height: 2.5rem; position: absolute; right: 0; bottom: 0;}
.capacityCard .imgbox img{display: block; width: 100%; height: 100%; object-fit: cover;}

.btn_save{display: block; margin: 0 .45rem; height: .88rem; text-align: center; line-height: .88rem; font-size: .3rem; font-weight: bold; color: #fff; background: linear-gradient(-90deg, #266EFF 0%, #3381FF 100%); margin-top: .84rem; border-radius: .44rem;}
/* .mbsc-ios .mbsc-fr-btn-c, .mbsc-ios .mbsc-rtl .mbsc-fr-btn-w{font-size: .28rem; font-weight: bold;} */
.mbsc-ios .mbsc-fr-btn-w.mbsc-fr-btn-c .mbsc-fr-btn{font-size: .28rem; font-weight: bold; line-height: .8rem;}
.mbsc-ios .mbsc-fr-btn-w.mbsc-fr-btn-s .mbsc-fr-btn{color: #256CFA; font-size: .28rem; line-height: .8rem} 
.mbsc-ios .mbsc-fr-hdr{display: block !important; font-size: .28rem; color: #333; font-weight: normal; padding: .36rem; }


/* 意向 */
.page_jobLike .formBox .formtip{color: #6B7A99; font-size: .24rem; line-height: .64rem; background: linear-gradient(90deg, #FCF4FE 0%, #EDF3FF 100%); padding: 0 .3rem; border-radius: .32rem; margin-top: .2rem;}
.formBox.borderBottom{border-bottom: solid .2rem #F5F5F7;}
.formBox.borderBottom .form_item:last-of-type{border: none;}

.industryPop  .van-icon-close,.intention_pop .van-icon-close{display: block; width: .4rem; height: .4rem; background: url(../images/mcenter/close_btn.png) no-repeat center/cover; position: absolute; right: 0.2rem;  top: .2rem;}
.industryPop  .van-icon-close::before,.intention_pop  .van-icon-close::before{content: ''; display: none;}

.industryPop .headTit{height: 1.4rem; border-bottom: solid 1px #eee; padding-left: .4rem; padding-top: .32rem; box-sizing: border-box;}
.industryPop .headTit h3{font-size: .36rem; color: #141933; font-weight: bold;}
.industryPop .headTit p{color: #949599; font-size: .24rem; margin-top: .1rem;}

.industryPop .pop_con .categoryList_ul li,.industryPop  .parentBox  .categoryList_ul li {line-height: 1rem; font-size: .3rem; color: #333; padding-left: .42rem; position: relative; display: flex; align-items: center; justify-content: flex-start;}
.industryPop .pop_con .categoryList_ul li.on_chose::before,.industryPop  .parentBox  .categoryList_ul li.on_chose::before{border-left: solid .07rem #196DF3; position: absolute; left: 0; top: 0; bottom: 0; margin: auto; content: ''; height: .42rem;}
.industryPop .pop_con .categoryList_ul li.on_chose,.industryPop  .parentBox  .categoryList_ul li.on_chose{color:#256CFA; font-weight:bold;}
.industryPop .pop_con{height: 8.3rem; }
.industryPop  .parentBox  .categoryList_ul{width: 100%; box-sizing: border-box; transition: width .3s; flex-shrink: 0;}
.industryPop  .parentBox  .categoryList_ul li{font-size: .28rem; color: #4D4D4D; height: 1.06rem; line-height: .34rem;}
.industryPop  .parentBox.open  .categoryList_ul.parent_ul{width: 3.1rem; line-height: .34rem; padding-right: .18rem; box-sizing: border-box; max-height: 8.3rem; overflow: auto; }
.industryPop  .parentBox{display: flex; align-items: flex-start; /* transform: translateX(100%); */ transition: transform .3s;}
/* .industryPop .showLeftPop .parentBox{transform: translateX(0);} */
.industryPop  .parentBox .childrenBox{width: 100%; height: 8.3rem; background-color: #F7F9FC; box-sizing: border-box; padding-right: .22rem; overflow: auto; }
.industryPop  .parentBox.open .childrenBox { visibility: visible;}
.industryPop  .parentBox .childrenBox li{padding-left: .56rem;}
.industryPop  .parentBox .childrenBox li h4{color: #4d4d4d; font-size: .26rem; max-width: 3.1rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.industryPop  .parentBox .childrenBox li.on_chose::before,.industryPop .pop_con .categoryList_ul li.noLower.on_chose::before{display: none;}
.industryPop  .parentBox .childrenBox li.on_chose h4{color: #256CFA;}
.industryPop .pop_con .categoryList_ul li.noLower.on_chose::after,.industryPop  .parentBox .childrenBox li.on_chose::after{content: ''; display: block; width: .24rem; height: .24rem; background: url(../images/mcenter/gou_1.png) no-repeat center/cover; position: absolute; right: .22rem; top: 0; bottom: 0; margin: auto;}
.industryPop .pop_con .categoryList_ul li span{display: inline-block; height: .34rem; min-height: .34rem; border-radius: .17rem; background-color: #3377FF; color: #fff; font-weight: normal; font-size: .24rem; line-height: .34rem; text-align: center; padding: 0 .1rem; box-sizing: border-box;}
.formBox .form_item input.mbsc-control{width: 100%; max-width: none; display: none;}
.formBox .form_item input.mbsc-control:first-of-type{display: block;}

.pop_foot {border-top: solid 1px #eee;}
.pop_foot .hasChoseBox{display: flex; align-items: center; padding-left: .38rem; padding-top: .28rem; padding-bottom: .3rem; overflow: auto; }
.pop_foot .hasChoseBox::-webkit-scrollbar{display: none;}
.pop_foot .hasChoseBox .label{color: #666; font-size: .26rem; margin-right: .38rem; flex-shrink: 0;}
.pop_foot .hasChoseBox .label span{font-size: .26rem; color: #212121; margin-left: .1rem;}
.pop_foot .hasChoseBox .label span b{font-size: .3rem;}
.pop_foot .hasChoseBox .label span b.hasNum{color: #2A81FD;}
.pop_foot .hasChoseBox  .hasChose{white-space: nowrap; flex-shrink: 0; height: .56rem;}
.pop_foot .hasChoseBox  .hasChose span{display: inline-flex; min-width: 1.38rem; height: .56rem; border-radius: .28rem; background-color: #EBF1FF; font-size: .24rem; color: #256CFA; align-items: center; justify-content: center; box-sizing: border-box; padding: 0 .3rem; margin-right: .2rem;}
.pop_foot .hasChoseBox  .hasChose span s{display: block; width: .2rem; height: .2rem; background: url(../images/job/del_btn.png) no-repeat center/cover; margin-left: .14rem;}
.pop_foot .btn_groups a{display: block; width: 2.3rem; height: .88rem; border-radius: .44rem; background-color: #F5F6F7; color: #949699; font-size: .3rem; text-align: center; line-height: .88rem; font-weight: bold;}
.pop_foot .btn_groups a.sureBtn{ background: linear-gradient(-90deg, #266EFF 0%, #3381FF 100%); width: 4.2rem; color: #fff;}
.pop_foot .btn_groups {padding: 0 .4rem .2rem; display: flex; align-items: center; justify-content: space-between;}

.intention_pop {overflow-x: hidden;}
.intention_pop .headTit{height: 1.4rem; border-bottom: solid 1px #eee; padding-left: .4rem; padding-top: .32rem; box-sizing: border-box;}
.intention_pop .headTit h3{font-size: .36rem; color: #141933; font-weight: bold;}
.intention_pop .headTit p{color: #949599; font-size: .24rem; margin-top: .1rem;}
.intention_pop .pop_con {position: relative; height: 8.3rem;}
.intention_pop .pop_con .categoryList_ul li,.intention_pop .parentContainer .parentBox  .categoryList_ul li {line-height: 1rem; font-size: .3rem; color: #333; padding-left: .42rem; position: relative; display: flex; align-items: center; justify-content: flex-start;}
.intention_pop .pop_con .categoryList_ul li.chose_line::before,.intention_pop .parentContainer .parentBox  .categoryList_ul li.chose_line::before{border-left: solid .07rem #196DF3; position: absolute; left: 0; top: 0; bottom: 0; margin: auto; content: ''; height: .42rem;}
.intention_pop .pop_con .categoryList_ul li.on_chose,.intention_pop .parentContainer .parentBox  .categoryList_ul li.on_chose{color:#256CFA; font-weight:bold;}
.intention_pop .parentContainer{position: absolute; top: 0; left: 0; right: 0; bottom: 0; pointer-events: none;} 
.intention_pop .parentContainer.showLeftPop{pointer-events: auto;} 
.intention_pop .parentContainer .parent_mask{display: none; background-color: rgba(0,0,0,.6); height: 100%;}
.intention_pop .parentContainer.showLeftPop .parent_mask{display: block;}
.intention_pop .parentContainer .parentBox{position: absolute; left: .9rem; top: 0; bottom: 0; right: 0; background-color: #fff;}
.intention_pop .parentContainer .parentBox  .categoryList_ul{width: 100%; box-sizing: border-box; transition: width .3s; flex-shrink: 0; overflow: auto;}
.intention_pop .parentContainer .parentBox  .categoryList_ul li{font-size: .26rem; color: #4D4D4D; height: 1rem; line-height: .34rem;}
.intention_pop .parentContainer .parentBox.open  .categoryList_ul.parent_ul{width: 2.6rem; line-height: .34rem; padding-right: .4rem; box-sizing: border-box; }
.intention_pop .parentContainer .parentBox{display: flex; align-items: flex-start; transform: translateX(100%); transition: transform .3s;}
.intention_pop .parentContainer.showLeftPop .parentBox{transform: translateX(0);}
.intention_pop .parentContainer .parentBox .childrenBox{width: 100%; height: 100%; background-color: #F7F9FC; box-sizing: border-box; padding-right: .22rem; overflow: auto; }
.intention_pop .parentContainer .parentBox.open .childrenBox { visibility: visible;}
.intention_pop .parentContainer .parentBox .childrenBox li{padding-left: .56rem; position: relative;}
.intention_pop .parentContainer .parentBox .childrenBox li h4{color: #4d4d4d; font-size: .26rem; max-width: 2.6rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.intention_pop .parentContainer .parentBox .childrenBox li.on_chose::before{display: none;}
.intention_pop .parentContainer .parentBox .childrenBox li.on_chose h4{color: #256CFA;}
.intention_pop .parentContainer .parentBox .childrenBox li.on_chose::after{content: ''; display: block; width: .24rem; height: .24rem; background: url(../images/job/gou_2.png) no-repeat center/cover; position: absolute; right: .2rem; top: 0; bottom: 0; margin: auto;}
.intention_pop .root_ul{max-height: 100%; overflow-y: auto;}
.mbsc-ios .mbsc-sc-lbl{display: none;}

/* 工作经验 */
.page_workjy .form_item .line{display: block; width: .28rem; height: .04rem; background-color: #333; margin-right: .4rem; transform: translateY(.3rem);}
.opacity{opacity: 0;}
.page_workjy .form_item .editBox{min-height: 3rem; position: relative; padding-bottom: .1rem;}
.page_workjy .form_item .editBox .placeText{color: #ddd; font-size: .3rem; line-height: .5rem; position: absolute; top: 0; left: 0; right: 0; pointer-events: none;}
.page_workjy .form_item .editBox .textarea{min-height: 3rem; position: relative; z-index: 1; font-size: .3rem; line-height: .5rem; color: #212121;}
.page_workjy .form_item .text_count{text-align: right; font-size: .24rem; color: #999; position: absolute; right: 0; bottom: 0;}
.page_workjy .form_item .text_count span{color: #256CFA;}
.page_workjy  .note_tip{font-size: .24rem ; color: #212121; display: flex; align-items: center; padding-top: .28rem;}
.page_workjy  .note_tip::before,.page_workjy  .note_tip::after{content: ''; display: block; width: .3rem; height: .3rem; background: url(../images/job/eye.png) no-repeat center/cover; margin-right: .05rem;}
.page_workjy .note_tip::after{background-image: url(../images/job/right_arr.png); margin-left: .05rem; }

.page_workjy .exampleCon{background-color: #F5F5F7; border-radius: .14rem; padding: .32rem; margin-top: .22rem; position: relative;}
.page_workjy .exampleCon::before{content: ''; display: block; width: 0; height: 0; border: solid .1rem rgba(255,255,255,0); border-bottom-color: #f5f5f7; position: absolute; top: -.2rem; left: .5rem;}
.page_workjy .exampleCon .exp_head{display: flex; align-items: center; justify-content: space-between;}
.page_workjy .exampleCon .exp_head h4{font-size: .28rem; color: #212121;}
.page_workjy .exampleCon .exp_head .changeExp{font-size: .26rem; color: #256CFA; font-weight: bold;}
.page_workjy .exampleCon .exp_con{font-size: .24rem; color: #666; line-height: .36rem; margin-top: .3rem;display: none;}
.page_workjy .exampleCon .exp_con p{display: none;}
.page_workjy .exampleCon .exp_con.active{display: block;}

/* 滚轮弹窗 */
.mobsciPop {height: 5.7rem;}
.mobsciPop .van-popup__close-icon{display: none;}
.mobsciPop .mobsci_header{display: flex; align-items: center; justify-content: space-between; font-size: .28rem; color: #333; line-height: 1.02rem;}
.mobsciPop .mobsci_header span{font-weight: bold; display: block; width: 1.68rem; text-align: center; color: #999;}
.mobsciPop .mobsci_header span.sure{color: #256CFA;}

.mobsciPop .mobsci_con{height: 4rem; margin: 0 .3rem;}
.mobsciPop .mobsci_con .scrollBox{height: 4rem; display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap;}
.mobsciPop .mobsci_con .scrollBox .titBox{display: flex; align-items: center; justify-content: center; text-align: center; background-color: #F7F9FC; line-height: .6rem; border-radius: .3rem; flex: none; width: 100%;}
.mobsciPop .mobsci_con .scrollBox .titBox span{display: block; width: 50%; font-size: .28rem; color: #333;}
.mobsciPop .mobsci_con .scrollBox .leftScroll,.mobsciPop .mobsci_con .scrollBox .rightScroll{height: 4rem; width: 50%; position: relative;}
.mobsciPop .mobsci_con .scrollBox span.line{display: block; font-size: .32rem; color: #000; font-weight: bold; flex-shrink: 0; position: absolute; left: 0; right: 0; text-align: center; margin: auto; z-index: 1; pointer-events: none;}
.mobsciPop .mobsci_con .mbsc-fr-persp{ position: absolute !important;}
.mobsciPop .mobsci_con .mbsc-fr-btn-cont{display: none;}
.mobsciPop .mobsci_con .mbsc-ios .mbsc-fr-w{padding: 0;}
.mobsciPop .mobsci_con .mbsc-fr-hdr{display: none !important;}
.mobsciPop .mobsci_con .mbsc-ios .mbsc-sc-whl-gr{padding-left: 0; padding-right: 0;}

.mobsciPop .mobsci_con .van-picker{height: 100%; width: 100%;}
.mobsciPop .mobsci_con [class*=van-hairline]::after{border-color: #E6E7ED !important;}
.mobsciPop .mobsci_con .van-picker__frame{left: 0; right: 0;}
.mobsciPop .mobsci_con .van-picker-column__item{font-size: .3rem;}
.mobsciPop .mobsci_con .van-picker-column__item.van-picker-column__item--selected{font-size: .32rem; font-weight: bold;} 
.page_workjy .bottom_btn_group,.page_eduInfo .bottom_group,.page_skill .bottom_group {display: flex; align-items: center; justify-content: space-between; margin-top: 1rem; padding: .2rem 0;}
.page_workjy .bottom_btn_group a,.page_eduInfo .bottom_group .btn_del,.page_skill .bottom_group .btn_del{display: block; width: 2.2rem; height: .88rem; border-radius: .44rem; background: #F5F5F5; color: #666; font-weight: bold; text-align: center; flex-shrink: 0; line-height: .88rem; margin-right: .2rem; font-size: .3rem;}
.page_workjy .bottom_btn_group a.btn_save{width: 100%;  flex-shrink: 1; background: linear-gradient(-90deg, #266EFF 0%, #3381FF 100%);  color: #fff; margin-top: 0; margin-right: 0; margin-left: 0;}
.page_workjy .bottom_btn_group{position: fixed; left: 0; right: 0; padding: .2rem .4rem .5rem; background-color: #fff; bottom: 0;}
/* 个人优势 */
.form_item.noPadding{padding-bottom: 0;}
.form_item.noPadding  .van-field.van-cell{padding: 0; padding-bottom: .16rem;}
.page_agvantage .form_item .van-field.van-cell{padding: 0; padding-bottom: .16rem;}
.van-field__word-limit .van-field__word-num{color: #256CFA !important;}
.bottom_group .btn_save{margin-top: .4rem; padding: 0 .4rem;}
.bottom_group .btn_save.disabled{opacity: .3;}
.page_eduInfo .btn_save,.page_skill .btn_save{margin: 0; width: 100%; margin-right: 0;  margin-left: 0;}
.page_eduInfo .bottom_group,.page_skill .bottom_group{padding: .2rem .4rem;}
.page_eduInfo .form_item .line{display: block; width: .28rem; height: .04rem; background-color: #333; margin-right: .4rem; transform: translateY(.3rem);}


.page_skill .tabbox{display: flex; align-items: center; padding-top: .32rem; }
.page_skill .tabbox span{display: block; height: .62rem; border-radius: .1rem; background-color: #f5f5f7; border: solid 1px #eee; color: #212121; font-size: .26rem; min-width: 1.6rem; text-align: center; line-height: .6rem; margin-right: .18rem; box-sizing: border-box; padding: 0  .1rem;}
.page_skill .tabbox.disabled {display: none;}
.page_skill .tabbox.disabled span:not(.on_chose){display: none;}
.page_skill .tabbox span.on_chose{background-color: #EDF3FF; color: #0B53FE; border-color: #EDF3FF;}
.formBox .item_tip{font-size: .24rem; color: #808080; line-height: .3rem; margin-top: .2rem; margin-bottom: .12rem;}

.page_skill .hotCertificateBox{padding: .64rem .26rem 0 .46rem;}
.page_skill .hotCertificateBox h5{font-size: .26rem; color: #212121; font-weight: bold; padding: 0 .04rem; margin-bottom: .26rem;}

.page_skill .hotCertificateBox ul li{display: inline-block; line-height: .56rem; color: #808080; font-size: .26rem;  padding: 0 .2rem; text-align: center; min-width: 1.06rem; background: #F5F5F7; border-radius: .1rem; margin-right: .2rem; margin-bottom: .2rem;}

/* 创建简历 */
.page_newResume .form_item ,.setPop_con  .form_item {position: relative; padding-bottom: .2rem;}
.page_newResume .form_item label span,.setPop_con  .form_item  label span{font-size: #B3B3B3; font-size: .24rem;}
.page_newResume .form_item .textCount,.setPop_con  .form_item .textCount{position: absolute; right: 0; bottom: .18rem; margin: auto; font-size: .28rem; color: #666; }
.page_newResume .form_item .textCount span,.setPop_con  .form_item .textCount span{color: #017BFF;}

.page_newResume .copySelectBox{padding-top: .5rem;}
.page_newResume .copySelectBox .titBox h3{font-size: .34rem; color: #333; font-weight: bold;}
.page_newResume .copySelectBox .titBox p{color: #999; font-size: .24rem; margin-top: .1rem;}
.page_newResume .copySelectBox li{font-size: .28rem; color: #4D4D4D; line-height: .94rem;}
.page_newResume .copySelectBox li s{display: inline-block; width: .32rem; height: .32rem; background: url(../images/job/gou_sm.png) no-repeat center/cover; vertical-align: middle; margin-bottom: .02rem; margin-right: .1rem; margin-left: .04rem;}
.page_newResume .copySelectBox li::before{content: ''; display: inline-block; width: .42rem; height: .42rem; background: url(../images/job/border.png) no-repeat center/cover; vertical-align: middle; margin-bottom: .02rem; margin-right: .2rem;}
.page_newResume .copySelectBox li.on_chose::before{background-image: url(../images/job/gou_big.png);}
.page_newResume .copySelectBox li.disabled{pointer-events: none;}
.bottomFixed{position: fixed; left: 0; right: 0; bottom: 0; padding-bottom: .5rem;}
.submit_mask{position: fixed; z-index: 9999999; position: fixed; left: 0; right: 0; top: 0; bottom: 0;}

/* 设置弹窗 */
.resume_setting .setPop_header{padding:.4rem .34rem; display: flex; align-items: center; justify-content: space-between;  }
.resume_setting .setPop_header h3{font-size: .36rem; color: #141933; font-weight: bold;}
.resume_setting .setPop_header a{color: #F21818; font-size: .28rem; padding: 0 .06rem; font-weight: bold;}
.delConfirmPop .pubdelAlertCon p{color: #999; margin-top: .2rem;}
.delConfirmPop .pubdelAlert ul li a{font-weight: normal;}


/* 简历预览 */
body{overflow: visible;}
.page_preview{background-color: #F7F8FA; min-height: 100vh; box-sizing: border-box; padding-bottom: 2rem;}
.page_preview .header{position: sticky; top: 0;}
.page_preview .basicInfo { background: linear-gradient(0deg, rgba(255,255,255,0) 0%, #FFFFFF 100%);}
.page_preview .basicInfo .photo{width: 1.2rem; height: 1.2rem; border-radius: 50%; position: relative;}
.page_preview .basicInfo .photo img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.page_preview .basicInfo .photo .photo_bottom{position: absolute; left: 50%; transform: translateX(-60%); font-size: .2rem; color: #256CFA; display: flex; align-items: center; bottom: -.1rem;}
.page_preview .basicInfo .photo .photo_bottom span{display: block; white-space: nowrap; border: solid 1px #ABC7FF; background-color: #EDF7FC; line-height: .28rem; border-radius: .06rem; padding:0 .08rem;}
.page_preview .basicInfo .photo .photo_bottom s{display: block; width: .32rem; height: .32rem; background: url(../images/job/sex_0.png) no-repeat center/cover; margin-right: .05rem;}
.page_preview .basicInfo .photo .photo_bottom s.sex_1{background-image: url(../images/job/sex_1.png);}
.page_preview .basicInfo .flexInfo{padding: .2rem .3rem .34rem .4rem; display: flex; align-items: flex-start; justify-content: space-between;}
.page_preview .basicInfo .flexInfo .left_info{padding-top: .16rem;}
.page_preview .basicInfo .flexInfo h3{ font-size: .48rem; color: #000; font-weight: bold; display: flex; align-items: center; }
.page_preview .basicInfo .flexInfo h3 span{font-weight: normal; font-size: .18rem; color: #FF6A00; border: solid 1px #FF6A00; background-color: #FFF5F0; border-radius: .06rem; height: .3rem; box-sizing: border-box; display: inline-flex; align-items: center; justify-content: center; padding: 0 .08rem; margin-left: .12rem;}
.page_preview .basicInfo .flexInfo p{display: flex; align-items: center; margin-top: .26rem;} 
.page_preview .basicInfo .flexInfo p span{font-size: .24rem; color: #7F818F; }
.page_preview .basicInfo .flexInfo p em{font-size: .22rem; color: #ccc; margin: 0 0.08rem; }
.page_preview .basicInfo .flexInfo p.tagBox span{color: #256CFA; display: block; background-color: #E5EEFF; height: .56rem; line-height: .56rem; border-radius: .06rem; padding: 0 .2rem; min-width: 1rem; text-align: center; box-sizing: border-box; margin-right: .18rem;}
.page_preview .basicInfo .infoCheck{padding: .12rem .33rem .2rem;  background-color: #DEE9FD; border-radius: .3rem; height: 1.1rem; box-sizing: border-box; margin: 0 .2rem; position: relative; overflow: hidden;}
.page_preview .basicInfo .infoCheck h4{font-size: .3rem; color: #000; font-weight: 900; transform: skewX(-14deg);}
.page_preview .basicInfo .infoCheck h4 span{color: #4F85F7;}
.page_preview .basicInfo .infoCheck p {margin-top: .1rem;}
.page_preview .basicInfo .infoCheck p span{font-size: .22rem; color: #3D5499; margin-right: .2rem; display: inline-flex; align-items: center;}
.page_preview .basicInfo .infoCheck p span::before{content: ''; display: block; width: .24rem; height: .24rem; margin-right: .1rem; background: url(../images/job/check_icon.png) no-repeat center/cover;}
.page_preview .basicInfo .infoCheck::after{content: ''; display: block; width: 2.3rem; height: 1.1rem; position: absolute; top: 0; right: 0; pointer-events: none; background: url(../images/job/bg.png) no-repeat center/cover;}

.page_preview .modCon{margin: .2rem .2rem 0; padding: .36rem .3rem .44rem  .3rem; border-radius: .3rem; background: #fff;}
.page_preview .modCon .mod_tit{font-size: .36rem; color: #000; font-weight: bold; margin-bottom: .3rem;}
.page_preview .modCon .advantageCon{font-size: .26rem; color: #4D4D4D; line-height: .48rem;}
/* .page_preview .modCon .intentionCon{margin-bottom: .5rem;} */
.page_preview .modCon .intentionCon h4{font-size: .3rem; color: #000; font-weight: bold;}
.page_preview .modCon .intentionCon h4 span.salary{font-size: .32rem; color: #1861F2; font-family: 'DINMi'; margin-right: .16rem;}
.page_preview .modCon .intentionCon p{margin-top: .16rem;}
.page_preview .modCon .intentionCon p.post_info span{color: #9EA0B1; font-size: .26rem; vertical-align: middle;}
.page_preview .modCon .intentionCon p.post_info em{color: #ccc; font-size: .18rem; vertical-align: middle; margin: 0 .1rem;}
.page_preview .modCon .intentionCon p.type_info{white-space: nowrap; overflow: auto;}
.page_preview .modCon .intentionCon p.type_info::-webkit-scrollbar{display: none;}
.page_preview .modCon .intentionCon p.type_info span{display: inline-flex; padding:0 .24rem; background-color: #F5F5F7; color: #333; line-height: .56rem; border-radius: .06rem; margin-right: .12rem;}
.page_preview .modCon.workjl h4 {display: flex; align-items: center; justify-content: space-between;}
.page_preview .modCon.workjl h4 b{font-size:.3rem ; color: #212121; }
.page_preview .modCon.workjl h4 span{color: #999; font-size: .22rem; font-weight: normal;}
.page_preview .modCon.workjl li{margin-bottom: .7rem;}
.page_preview .modCon.workjl.edujl li{margin-bottom: .5rem;}
.page_preview .modCon.workjl li:last-of-type{margin-bottom:0;}
.page_preview .modCon.workjl .job_info{font-size: .24rem; color: #212121; display: flex; align-items: center; margin-top: .2rem;}
.page_preview .modCon.workjl .job_info em{color: #ccc; font-size: .18rem; margin: 0 .12rem;}
.page_preview .modCon.workjl .job_detail{color: #4d4d4d; font-size: .26rem; line-height: .48rem; margin-top: .3rem;}
.page_preview .modCon.workjl.edujl .job_info{font-size: .26rem; color: #666;}
.page_preview .modCon.workjl.edujl .job_info em{margin: 0 .16rem;}
.page_preview .bottomFixBox{position: fixed; left: 0; right: 0; bottom: 0; background: #fff;  padding-bottom: constant(safe-area-inset-bottom); padding-bottom: env(safe-area-inset-bottom);}
.page_preview .bottomFixBox .flexBox{padding: .2rem .36rem; display: flex; align-items: center; justify-content: space-between; height: 1rem; }
.page_preview .bottomFixBox .download_resume{display: flex; align-items: center; flex-direction: column; font-size: .22rem; color: #5C5D66; margin-right: .44rem; flex-shrink: 0;}
.wx_miniprogram .page_preview .bottomFixBox .download_resume{display: none;}
.page_preview .bottomFixBox .download_resume::before{content: ''; display: block; width: .4rem; height: .4rem; background: url(../images/job/download_icon.png) no-repeat center/cover;}
.page_preview .bottomFixBox .btn_edit{width: 100%; height: .84rem; border-radius: .42rem; display: flex; align-items: center; justify-content: center; font-size: .28rem; color: #fff; font-weight: bold; text-align: center; background: linear-gradient(-90deg, #266EFF 0%, #3381FF 100%);}
.page_preview .bottomFixBox .btn_edit::before{content: ''; display: block; width: .4rem; height: .4rem; background: url(../images/job/edit_icon2.png) no-repeat center/cover; margin-right: .12rem;} 

.alignLeft .header-address li.on_chose::after{-webkit-animation: scale-in-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;}

.loading_mask{position: fixed; left: 0; top: 0; right: 0; bottom: 0; background: rgba(0,0,0,.6); z-index: 999999999; display: flex; align-items: center; justify-content: center;}
.loading_mask::before{content: ''; display: block; width: 1rem; height: 1rem; background: url(/static/images/load.png) no-repeat center/cover;  animation:rotate_ 1s infinite linear;}

.state_pop.showPop{transform: translateY(0);}
.state_mask.showMask{display: block;}
.state_mask{position: fixed; left: 0; top: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,.5);  z-index: 100; display: none;}
.state_pop>h3{font-size: .28rem; color: #999; text-align: center; padding-top: .3rem; padding-bottom: .3rem;}
.state_pop{position: fixed; left: 0; right: 0; bottom: 0;  z-index: 100; background: #fff; box-shadow: 0 -.03rem .13rem 0 rgba(25,30,59,0.05); border-radius: .4rem .4rem 0 0; transform: translateY(100%);transition: transform .3s;}
.state_pop .popCon{max-height: 7rem; overflow: auto; ;}
.state_pop .popCon li{font-size: .3rem; color: #000; text-align: center; line-height: 1rem; border-bottom: solid 1px #f5f5f7;}
.state_pop .popCon li.on_chose{color: #196DF3; font-weight: bold;}
.state_pop .popCon ul{border-bottom: solid #F7F9FC .16rem;}
.state_pop .popCon ul:last-of-type{border: none;}
.state_pop .btn_cancel{line-height: .96rem; font-size: .3rem; color: #808080; height: .96rem; text-align: center; display: block;}

.advantageBox{margin-top: .3rem;}


/* 审核不通过的样式 */
.resume_state{ border-radius: .2rem;  background: linear-gradient(0deg, #FFFFFF 0%,#FFFFFF00 100%); color: #525866; font-size: .26rem; padding: .02rem; margin-top: .26rem;}
.resume_state .refuseText{height: .8rem; display: flex; align-items: center; padding: 0 .2rem; background-color: #fff; border-radius: .2rem; }
.resume_state .refuseText::before{content: ''; display: block; width: .3rem; height: .3rem; background: url(../images/job/tip_blue.png) no-repeat center/cover; margin-right: .04rem; }
.resume_state.resume_refuse .refuseText::before{background-image: url(../images/job/tip_red.png);}
.resume_state.resume_refuse .refuseText{background: linear-gradient(90deg, #FFEDED 0%, #FFF7F7 100%); box-shadow: 0px 7px 20px 0px rgba(0,55,213,0.06);}

.setConfirmPop .pubdelAlertCon{width: 5.8rem;}
.setConfirmPop .pubdelAlertCon p{color: #999; font-size: .26rem; margin-top: .2rem;}
.setConfirmPop .pubdelAlertCon .delTile::before{content: ''; display: inline-block; width: .48rem; height: .48rem; background: url(../images/job/tip_icon.png) no-repeat center/cover; vertical-align: middle; transform: translateY(-.04rem); margin-right: .08rem;}

.showCard{opacity: 0; transition: all .3s;}
.showCard.show{opacity: 1;}
.skillYear.van-picker div:nth-child(2).van-picker-column{display: none !important;}
/* ----------------------------------------------
 * Generated by Animista on 2022-11-8 11:37:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
                transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
}
@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
                transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
}
  