html,body{background: #F5F5F7;}
html{height: 100%;}
.tabs{background: #fff; height: .9rem; line-height: .88rem;  position: relative;}
.tabs s{ display: block; width: .4rem; height: .08rem; border-radius: .04rem; background: linear-gradient(90deg, #FF6D1D 0%, #FF4133 100%); position: absolute; bottom: 0; left: 0; transition: transform .3s;}
.tabs a{display: inline-block; margin-right: .8rem; color: #1F2021; font-size: .3rem; position: relative;}
.tabs a:first-child{margin-left: .42rem}
.tabs a:last-of-type{margin-right: 0}
.tabs a.curr{font-weight: bold; font-size: .32rem; }
.tabs a.curr span.buble{font-weight: bold;}
/* .tabs a span.buble{min-width: .3rem; line-height: .3rem; border-radius: .15rem; background: #F9412E; display: block; color: #fff; font-size: .22rem; padding: 0 .06rem; text-align: center;box-sizing: border-box; position: absolute; right:0; top: .1rem; transform: translateX(50%); } */
.tabs a span.buble{min-width: .3rem; line-height: .3rem; height: .3rem; display: block; font-size: .26rem; padding: 0 .06rem; text-align: center;box-sizing: border-box; position: absolute; right:0; top: 0; font-weight: normal; color: #1F2021; bottom: 0; margin: auto; transform: translateX(100%)}

.listBox li{background: #fff; border-radius: .3rem; margin: 0 .24rem; margin-top: .24rem}
.listBox li.info_li.addValid_curr{border: .03rem solid #FFCBAD;}
.listBox li a.infoCon{padding: .2rem; display: block;}
.listBox li a.infoCon .pic{width: 2rem; height: 2rem; background: #f5f5f5; float: left; border-radius: .16rem;}
.listBox li a.infoCon .pic img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: .16rem;}
.listBox li a.infoCon .dtail{margin-left: 2.22rem;}
.listBox li a.infoCon .dtail h2{font-size: .3rem; color: #1A1B21; font-weight: bold;display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; height: .9rem;}
.listBox li a.infoCon .dtail p{color: #A6A8B3; font-size: .22rem; margin-top: .12rem; white-space: nowrap;}
.listBox li a.infoCon .dtail p span{margin-right: .22rem;}
.listBox li a.infoCon .dtail p span.info_state{color:#FA3B1E;}
.listBox li .refreshTopBox{margin: 0 .2rem; min-height: .78rem; background: #F8F8F8; border-radius: .2rem;  font-size: .24rem; color: #303133; display: flex;  justify-content: center; flex-direction: column; line-height: .42rem; box-sizing: border-box; padding: .1rem .24rem; margin-bottom: .22rem; position: relative;}
.listBox li .refreshTopBox label{color: #F27B0C; font-weight: bold; margin-right: .16rem; }
.listBox li .refreshTopBox::after{content: ''; display: block; width: .3rem; height: .3rem; background: url(../images/info/arr_grey.png) no-repeat center/cover; position: absolute; right: .13rem; top: 0; bottom: 0; margin: auto;}
/* .listBox li .optBox{display: flex; align-items: center; justify-content: space-between; padding-bottom: .3rem;} */
.listBox li .optBox{padding-bottom: .3rem; margin: 0 .26rem; margin-top: .2rem}
.listBox li .btnRight{display: flex; align-items: center; float: right;}
.listBox li .btnRight a{display: flex; min-width: 1.4rem; height: .6rem; border-radius: .3rem; align-items: center; justify-content: center; margin-left: .24rem}
.listBox li .btnRight a.offSet_info{background-color: #F5F5F7; color: #999;}
.listBox li .btnRight a.up_info{background-color: #E1FAF1; color: #54B291;}
.listBox li .btnRight a.delay_btn{border: solid 1px #E3E4E6; color: #1A1A1A; padding: 0 .12rem;}
.listBox li .btnRight a.btnicon{border: solid 1px #E3E4E6; box-sizing: border-box; color: #1A1A1A;}
.listBox li .btnRight a.btnicon::before{content: ''; display: block; width: .32rem; height: .32rem; background: url(../images/info/edit.png) no-repeat center/cover; margin-right: .04rem;}
.listBox li .btnRight a.btnicon.delInfo::before{background-image: url(../images/info/del.png)}
.listBox li .btnRight a.btnicon.extendInfo::before{background-image: url(../images/info/extend.png)}
.listBox li .btnRight a.btnicon.refreshInfo{border: none;}
.listBox li .btnRight a.btnicon.refreshInfo::before{background-image: url(../images/info/refresh.png)}
.listBox li .btnRight a.btnbg{background: linear-gradient(90deg, #FD5813 0%, #FA3425 100%); color: #fff; }
.listBox li .btnLeft{width:.6rem; height: .6rem; border-radius: 50%; border:solid 1px #E3E4E6; background: url(../images/info/opt_btn.png) no-repeat center/.32rem; float: left; box-sizing: border-box;}


.optMask,.exMask,.topMask,.refreshMask,.plantopMask,.jlMask,.delayValidMask{position: fixed; left: 0; right: 0; top: 0; bottom: 0; background: rgba(0,0,0,.5); display: none; z-index: 100000}
.optPop{position: fixed; left: 0; right: 0; bottom: 0; min-height: 4.2rem; background: #fff; z-index: 100000; border-radius: .4rem .4rem 0 0; box-sizing: border-box; padding-top: .6rem; transform: translateY(100%); transition: transform .3s; padding-bottom:calc(.3rem + constant(safe-area-inset-bottom));padding-bottom: calc(.3rem + env(safe-area-inset-bottom));}


.optPop.slideUp{transform: translateY(0);}
.optPop a{display: flex; align-items: center; justify-content: center; color: #1A1A1A; font-size: .3rem; line-height: .88rem;}
.optPop a em{font-size: .22rem; color: #F23D18; }
.optPop .delay_btn em{margin-right:-1.1rem }
.optPop ul li{margin-bottom: .3rem;}
.optPop ul a::before{content: ''; display: block; width: .36rem; height: .36rem; background: url(../images/info/edit.png) no-repeat center/cover; margin-right: .1rem}
.optPop ul a.delbtn::before{background-image: url(../images/info/del.png)}
.optPop ul a.delaybtn::before{background-image: url(../images/info/delay_icon.png)}
.optPop a.cancelbtn{margin: 0 .3rem; line-height: .88rem; background: #F5F5F5;  border-radius: .44rem; margin-top: .1rem;}


/* 推广弹窗 */
.extendPop{position: fixed; left: 0; right: 0; bottom: 0; background: #FCF6F5; border-radius: .5rem .5rem 0 0 ; z-index: 100001;  padding-bottom: .4rem; transform: translateY(100%); transition: transform .3s}
.extendPop.slideUp{transform: translateY(0);}
.extendPop .popBg{height: 5.7rem;  border-radius: .5rem .5rem 0 0; position: absolute; left: 0; top: 0;right: 0; pointer-events: none; background: url(../images/info/extendBg.png?v=1) no-repeat center/cover;}
.popCon{position: relative; z-index: 1}
.extendPop .popCon>h2{font-size: .34rem; font-weight: bold; color: #fff; text-align: center; padding-top: .3rem; padding-bottom: .12rem;}
.extendPop .popCon>h2 s{display: inline-block; width: .3rem; height: .3rem; background: url(../images/info/tip_show.png) no-repeat center/cover; vertical-align: middle; margin-left: .06rem;}
.extendPop .popCon .popTip{text-align: center; font-size: .26rem; color: #fff; margin-top: .2rem; animation: topFadeIn .3s}
.extendPop li a{display: flex; margin:.3rem; height: 1.6rem; border-radius: .3rem; align-items: center; padding-left: 1.62rem; background: #fff; position: relative;}
.extendPop li s{display: block; width: .8rem; height: .8rem; border-radius: 50%; background: #FCF1ED url(../images/info/jili.png) no-repeat center/.5rem; margin-right: .2rem; }
.extendPop li .btn_toTop s{background-image: url(../images/info/totop.png)}
.extendPop li .btn_fresh s{background-image: url(../images/info/fresh.png)}
.extendPop li h5{font-size: .32rem ;font-weight: bold; color: #000; }
.extendPop li p{color: #A6A6A6; font-size: .22rem; margin-top: .1rem;}
.extendPop li .hasSet{display: block; width: .92rem; height: .46rem; background: url(../images/info/lab_icon.png) no-repeat center/cover; position: absolute; top: -.08rem; left: -.1rem; color: #fff; font-size: .2rem;  line-height: .38rem; box-sizing: border-box ; text-align: center;}


/* 激励弹窗 */
.jiliPop{position: fixed; left: .26rem; right: .26rem; bottom: calc(.26rem + constant(safe-area-inset-bottom));
    bottom: calc(.26rem + env(safe-area-inset-bottom)); min-height: 5rem; background: #fff ;  border-radius: .4rem; box-shadow: 0 .1rem .4rem 0 rgba(0, 0, 0, 0.08); display: none; animation: popup .3s; transform-origin: bottom center; z-index: 100001;  }
.jiliPop.slideUp{display: block;}
.jiliPop::before{content: ''; display: block; width: 100%; height: 2.5rem; position: absolute; left: 0; top: 0; right: 0; pointer-events: none; background: url(../images/info/blue_bg.png) no-repeat center/cover; border-radius: .4rem .4rem 0 0; }
.jiliPop .jiliCon{position: relative; z-index: 1; margin: 0 .24rem; padding-bottom: .4rem;}
.jiliPop .jiliCon>h2{font-size: .36rem; color: #131626; font-weight: bold; text-align: center; padding-top: .4rem;}
.jiliPop dl{margin-bottom: .3rem;}
.jiliPop dt{font-size: .3rem; color: #131626; font-weight: bold; padding-left: .1rem;}
.jiliPop dd{background: #FFFAF7; border-radius: .2rem; margin-top: .2rem;}
.jiliPop dd .hbDetail{height: 1.5rem; display: flex; align-items: center; justify-content: space-around; text-align: center;}
.jiliPop dd .hbDetail h3{font-size: .36rem; color: #131626; font-size:.24rem; }
.jiliPop dd .hbDetail h3 b{ font-family: moneyNumber; font-size: .36rem;}
.jiliPop dd .hbDetail p{color: #2E2F33; font-size: .22rem;}
.jiliPop dd .hbDetail .hbLeft.orange h3{color: #F27B0C;}
.jiliPop dd .hb_txt{margin: 0 .3rem; display: flex; align-items: center; justify-content: space-between; color: #2E2F33; font-size: .26rem; height: .88rem; border-top: solid 1px #EDE8E6;}
.jiliPop dd .hb_txt a{color: #F27B0C; font-weight: bold;}
#hbMsg{border: none; background: none; pointer-events: none;}
#hbMsg.setMsg{border: none; background: none; pointer-events: auto;}

.jiliPop .btnBox,.timeChose .btnBox,.refreshPop .topCon .top_smart .btnBox,.delayValidPop  .topCon .top_smart .btnBox{margin: 0 .65rem; text-align: center;}
.jiliPop .btnBox p,.timeChose .btnBox p,.refreshPop .topCon .top_smart .btnBox p,.delayValidPop  .topCon .top_smart .btnBox p{font-size: .22rem; color: #2E2F33; margin-bottom: .2rem;}
.jiliPop .btnBox a,.toTopPop .toTop_now .btnBox  a,.timeChose .btnBox a,.delayValidPop .btnBox a,.refreshPop .topCon .top_smart .btnBox a{display: block; height: .9rem; border-radius: .45rem; color: #fff; background: linear-gradient(90deg, #FF6F08 0%, #FA3425 100%); font-size: .3rem; font-weight: bold; line-height: .9rem; }


/* 置顶弹窗 */
.toTopPop.slideUp,.refreshPop.slideUp,.topPlanPop.slideUp,.delayValidPop.slideUp{display: block;}
.toTopPop,.refreshPop,.topPlanPop,.delayValidPop{position: fixed; left: .26rem; right: .26rem; bottom: calc(.26rem + constant(safe-area-inset-bottom)); z-index: 100001;
    bottom: calc(.26rem + env(safe-area-inset-bottom)); min-height: 8.6rem; background: #fff; box-shadow: 0 .1rem .4rem 0 rgba(0, 0, 0, 0.08); border-radius: .4rem; display: none; animation: bottomFadeIn .3s; transform-origin: bottom center;}
.toTopPop .top_tabs,.refreshPop .top_tit,.delayValidPop .top_tit{height: 1.7rem;  background: linear-gradient(-90deg,  #FA4632 0%, #FF7519 100%); border-radius: .4rem .4rem 0 0; color: #fff; box-sizing: border-box; padding-bottom: .4rem; display: flex; align-items: center; justify-content: center; }
.toTopPop .top_tabs a{display: block; color: #fff; font-size: .3rem; margin: 0 .48rem; position: relative;}
.toTopPop .top_tabs a.chosed{font-weight: bold; font-size: .36rem;}
.toTopPop .top_tabs a::before{display: none; width: .4rem; height: .2rem; background: url(../images/info/border.png) no-repeat center/cover; position: absolute; left: 0; right: 0; margin: auto; content: ''; bottom: 0; margin-bottom: -.26rem; animation: popup .1s; transform-origin: top center;}
.toTopPop .top_tabs a.chosed::before{display: block;}
.toTopPop .topCon,.refreshPop .topCon,.delayValidPop .topCon{ background: #fff;  border-radius: .4rem; position: absolute; top: 1.3rem; bottom: 0; left: 0; right: 0;}
.toTopPop .toTop_now,.refreshPop .topCon .top_smart,.delayValidPop .topCon .top_smart {padding-top: .22rem;}
.toTopPop .toTop_now li,.refreshPop .topCon .top_smart li,.delayValidPop .topCon li {display: flex; align-items: center; justify-content: space-between; margin: 0 .24rem;  height: 1rem; color: #131626; font-size: .28rem; padding: 0 .4rem; border: solid .03rem #fff; box-sizing: border-box;}
.toTopPop .toTop_now li.chosed_top,.refreshPop .topCon .top_smart li.chosed_top,.delayValidPop .topCon li.chosed_top{border: solid .03rem #FC4F17; border-radius: .2rem; background: #FFFAFA; }
.toTopPop .toTop_now,.refreshPop .topCon .top_smart,.delayValidPop .topCon .top_smart {max-height: 4.2rem; overflow: hidden; }
.toTopPop .toTop_now::after,
.refreshPop .topCon .top_smart::after,
.delayValidPop .topCon .top_smart::after{content: ''; display: block; position: absolute; left: 0; right: 0; top: 3.82rem; height: .6rem; bottom: 0;background: linear-gradient(0deg, rgba(255, 255, 255, 1),  rgba(255, 255, 255, 0)); pointer-events: none;}
.delayValidPop .topCon .top_smart li:last-child {margin-bottom: .3rem;}
.toTopPop .toTop_now,.refreshPop .topCon .top_smart>ul,.delayValidPop .topCon .top_smart>ul{height: 4.2rem; overflow: auto;}
.toTopPop .toTop_now li .topTime span,.refreshPop .topCon .top_smart li .topTime span,.delayValidPop .topCon .top_smart li .topTime span{color: #F27B0C; font-size: .26rem; margin-left: .14rem;}
.toTopPop .toTop_now li .topPrice,.refreshPop .topCon .top_smart li .topPrice,.delayValidPop .topCon .top_smart li .topPrice{font-size: .24rem; color: #131626}
.toTopPop .toTop_now li .topPrice b,.refreshPop .topCon .top_smart li .topPrice b,.delayValidPop .topCon .top_smart li .topPrice b{font-size: .32rem; font-family: moneyNumber;}
.toTopPop .toTop_now .btnBox ,.refreshPop .topCon .top_smart .btnBox,.delayValidPop .topCon .top_smart .btnBox{text-align: center; margin: 0 .65rem; position: absolute; left: 0; right: 0; bottom: .4rem;}
.toTopPop .toTop_now .btnBox p,.refreshPop .topCon .top_smart .btnBox p,.delayValidPop .topCon .top_smart .btnBox p{font-size: .24rem ; color: #45464C; margin-bottom: .14rem;}
.toTopPop .toTop_now .btnBox p span,.refreshPop .topCon .top_smart .btnBox span,.delayValidPop .topCon .top_smart .btnBox span{color: #F27B0C; font-weight: bold;}
.toTopPop .toTop_now .btnBox a,.refreshPop .topCon .top_smart .btnBox a,.delayValidPop .topCon .top_smart .btnBox a{background: #183359;}


/* 日期选择 */
.dateChose h3{text-align: center; font-size: .3rem; color: #313233; font-weight: bold; line-height: 1.02rem; position: relative;}
.dateChose h3 .btn_back{display: block; width: .3rem; height: .3rem; background: url(../images/info/arr_r.png) no-repeat center/cover; transform: rotate(180deg); position: absolute; left: .2rem; top: 0; bottom: 0; margin: auto; display: none;}
.dateChose h3 .btn_back.show{display: block;}
.dateChose  .bottmTip{width: 2.3rem; height: .62rem; border-radius: .1rem; background: rgba(0,0,0,.6) ; color: #fff; font-size: .26rem; text-align: center;  position: absolute; left: 0; right: 0; bottom: .2rem; margin: auto; line-height: .62rem;}
.dateChose .weeks,.topPlanPop .weeks{height: .54rem; margin: 0 .2rem; display: flex; align-items: center; justify-content: space-around; color: #7A7F99; font-size: .26rem; font-weight: bold; background: #F7F7F7; border-radius: .27rem;}
.dateChose .dateArr{max-height: 5.74rem; overflow-y: auto;}
.dateChose .dateArr dl{margin: 0 .2rem; padding-top: .42rem;}
.dateChose .dateArr dl dt{font-size: .38rem; color: #313233; font-weight: bold; padding-left: .12rem; margin-bottom: .2rem; display: flex; align-items: center; }
.dateChose .dateArr dl dt .year_txt{margin-left: .2rem; }
.dateChose .dateArr dl dt span{flex-shrink: 0}
.dateChose .dateArr dl dt:after{content: ''; display: block; width: 100%; height: 1px; background: #EDEDED; margin-left: .35rem;}
.dateChose .dateArr dl li.noClick{color:#B3B3B3;pointer-events: none;}
.dateChose .dateArr dl li span{position: relative; z-index: 1}
.dateChose .dateArr dl li{float: left; width: .94rem; line-height: .64rem; color: #313233; font-size: .28rem; text-align: center; height: .64rem; margin-bottom: .08rem;}
.dateChose .dateArr dl li.currDay::before{content: '';display: inline-block; width: .08rem; height: .08rem; border-radius: .04rem; background: linear-gradient(129deg, #FF720D 0%, #FC3B2A 100%); margin-right: .1rem; vertical-align: middle; margin-bottom: .06rem;}

/* noClick 不能点击的时间   currDay 今天   chosed_start开始时间  chosed_end结束时间  includeTime  在区间内的时间*/
.dateChose .dateArr dl li.chosed_start{border-radius: .32rem 0 0 .32rem; background: #E6EEF7; border-top-left-radius:.32rem !important; border-bottom-left-radius:.32rem !important;}
.dateChose .dateArr dl li.chosed_end{border-radius:  0 .32rem .32rem 0 ; background: #E6EEF7; border-top-right-radius:.32rem !important; border-bottom-right-radius:.32rem !important;}
.dateChose .dateArr dl li.chosed_start,.dateChose .dateArr dl li.chosed_end{ color: #fff; position: relative;}
.dateChose .dateArr dl li.chosed_start::before,.dateChose .dateArr dl li.chosed_end::before{content: '';display: inline-block; width: .08rem; height: .08rem; border-radius: .04rem; background: #fff; margin-right: .1rem; vertical-align: middle; margin-bottom: .06rem; position: relative; z-index: 1}
.dateChose .dateArr dl li.includeTime{background: #E6EEF7;}
.dateChose .dateArr dl li.chosed_start::after,.dateChose .dateArr dl li.chosed_end::after{content: ''; position: absolute; left: 0;right: 0;top: 0; bottom: 0;background: #183359; border-radius: .32rem; }
.dateChose .dateArr dl li.borderRadiusL{border-radius: .06rem 0 0 .06rem;}
.dateChose .dateArr dl li.borderRadiusR,.dateChose .dateArr dl li:last-of-type{border-radius: 0 .06rem .06rem 0 ;}


/* 时间选择 */
.timeChose .h3{display: flex; align-items: center; justify-content: space-between; color: #313233; font-size: .3rem; font-weight: bold; padding: .34rem .26rem;}
.timeChose .h3 .timeinpbox span{vertical-align: middle; display: inline-block; margin: 0 .24rem;}
.timeChose .h3 .timeinpbox::after{content: ''; display: inline-block; width: .3rem; height: .3rem; background: url(../images/info/arr_r.png) no-repeat center/cover; vertical-align: middle; margin-bottom: .04rem;}
.timeChose .weekTime{max-height:4.2rem;  position: relative; overflow: hidden;}
.timeChose .weekTime::after{content: ''; display: block; height: .6rem; position: absolute; left: 0; right: 0; bottom: 0; background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); pointer-events: none;}
.timeChose .weekTime ul{padding-bottom: .6rem; max-height:4.2rem; overflow: auto;}
.timeChose li{display: flex; align-items: center; justify-content: space-between; margin: 0 .2rem .16rem; font-size: .3rem; color: #313233; padding-left: .2rem;}
.timeChose li .timeTabBox{color: #45464D; font-size: .26rem; }
.timeChose li .timeTabBox .timetab{padding: 0 .32rem; text-align: center; line-height: .58rem; border: solid 1px #F7F7F7; background: #F7F7F7; box-sizing: border-box; margin-left: .24rem; border-radius: .29rem; display: inline-block;}
.timeChose li .timeTabBox .timetab.onChose{color: #F27B0C; font-weight: bold; min-width:1.18rem; border: solid 1px #FFC4A6; background: #FFF6ED;}
.timeChose .btnBox{position: absolute; left: 0;  right: 0; bottom: .4rem;}
.timeChose .btnBox a{background: #183359; color: #fff;}
.timeChose .btnBox p{color: #45464C; font-size: .26rem}
.timeChose .btnBox p span{color: #F27B0C; font-weight: bold;}
.timeChose{background: #fff; top: 0; position: absolute; left: 0; right: 0; bottom: 0; z-index: 9; border-radius: .4rem;}


/* 智能刷新 */
.refreshPop,.delayValidPop{min-height:7.5rem; }
.refreshPop .top_tit,.delayValidPop .top_tit{ padding-left: .44rem; justify-content: flex-start; }
.refreshPop .top_tit h3,.delayValidPop .top_tit h3{font-size: .36rem; color: #fff; font-weight: bold; margin-right: .13rem}
.refreshPop .top_tit p,.delayValidPop .top_tit p{margin-top: .16rem;}


/* 置顶计划 */
.topPlanPop{min-height: 8.7rem;}
.topPlanPop .titleTop{position: absolute;font-size: .36rem; font-weight: 900; color: #fff; left: 0; top: -.68rem;}
.topPlanPop .headBox{height: 2.3rem;  background: url(../images/info/blue_bg.png) no-repeat center/cover; border-radius: .4rem .4rem 0 0;}
.topPlanPop .topTit{display: flex; align-items: center; justify-content: space-between; padding: .06rem .32rem 0; height: .92rem; color: #313233; font-size: .36rem; font-weight: bold;}
.topPlanPop .topTit a{display: block; width: .4rem; height: .4rem; background: url(../images/info/next_icon.png) no-repeat center/cover}
.topPlanPop .topTit a.prevM{background-image: url(../images/info/prev_icon.png)}
.topPlanPop .weeks{height: .58rem; background: #fff; color: #7A7F99; font-size: .28rem; border-radius: .29rem;}
.topPlanPop .monthShow{margin: 0 .2rem; margin-top: -.36rem; margin-bottom: 1.8rem;}
.topPlanPop .monthShow li{width: .94rem; height: .9rem; float: left; text-align: center; margin-bottom: .08rem;}
.topPlanPop .monthShow li .txtBox{width: .9rem; height: .9rem; border-radius: 50%; margin: auto; text-align: center; display: flex; align-items: center; justify-content: center; flex-direction: column;}
.topPlanPop .monthShow li .txtBox h4{color: #313233; font-size: .3rem; font-weight: bold; line-height: 1.2em}
.topPlanPop .monthShow li .txtBox p{color: #9B9FB3; font-size: .2rem; }
.topPlanPop .monthShow li .txtBox p.orage{color: #F27B0C; font-size: .22rem;}
.topPlanPop .monthShow li.endPlan .txtBox{background: linear-gradient(129deg, #FF720D 0%, #FC3B2A 100%);}
.topPlanPop .monthShow li.endPlan .txtBox p{color: #fff !important;}
.topPlanPop .monthShow li.endPlan .txtBox h4{color: #fff !important;}
.topPlanPop .btnBox{position: absolute; left: 0 ;right: 0; bottom: .4rem}
.topPlanPop .btnBox p{text-align: center; color: #9B9FB3; font-size: .22rem; margin-bottom: .2rem;}
.topPlanPop .btnBox a{margin: 0 .6rem; display: block; height: .9rem ;border-radius: .45rem; text-align: center; line-height: .9rem; color: #fff; font-size: .3rem; font-weight: bold; background: #183359;}
[v-cloak]{display: none !important;}
.loadIcon{display: block; width: 1.1rem; height: 1.1rem; border-radius: .3rem;  background: rgba(0,0,0,.9) ; background-size: .5rem; position: fixed; left: 0; right: 0; margin: auto; top: 50%; z-index: 999}
.loadIcon::before{content: ''; background: url(../images/loading.png) no-repeat center; background-size: .5rem; position: absolute; left: 0; right: 0; margin: auto; top: 0; bottom: 0; animation:rotate_ 1s infinite linear;}
@keyframes rotate_{
	0%{ transform: rotate(0deg);}
	50%{ transform: rotate(180deg);}
	100%{ transform: rotate(360deg);}
}

.loadText{padding: .6rem; color: #7C7C80; text-align: center; clear: both;flex: none;}

.header{position: fixed; left: 0; top: 0; right: 0;}
#page{padding-top: 1.8rem; padding-bottom: .5rem;}
#page>.tabs{position: fixed; left: 0; top: .9rem; right: 0; z-index: 9}
.huoniao_iOS #page{padding-top: .9rem;}
.huoniao_iOS #page>.tabs{ top: 0;}

.noDataBox{padding-top: 3.3rem;}
.noDataBox .noDataIcon{width:3.88rem; height: 2.6rem; margin: auto;}
.noDataBox .noDataIcon img{display: block; width: 100%; height: 100%; object-fit: cover;}
.noDataBox p{text-align: center; font-size: .26rem; color: #999; margin-top: .5rem;}
.noDataBox a{display: block; width: 2.4rem; height: .84rem; border-radius: .42rem; background: linear-gradient(90deg, #FD5813 0%, #FA3425 100%); color: #fff; text-align: center; line-height: .84rem; font-size: .3rem; font-weight: bold; margin:.3rem auto;}

