
body,html{background: #F5F5F7}

.box{background: #fff; border-radius: .2rem; margin-top:.18rem; padding: 0 .3rem;}
.box .fItem{min-height: 1rem; border-bottom: solid 1px #F5F5F7; display: flex; align-items: center; position: relative; box-sizing: border-box; padding: .26rem 0;}
.box .fItem:last-of-type{border: none;}
.box .fItem .fLeft{font-size: .28rem; color: #222; font-weight: bold; width: 1.4rem; }
.box .fItem.hasSet{align-items: flex-start; padding-top: .28rem}
.box .fItem .fRight{width: calc(100% - 1.4rem)}
.box .fItem .fRight.addrChose::after{content: ''; display: block; width: .26rem; height: 1rem; background: url(../images/waimai/arr_r.png) no-repeat center/.26rem; position: absolute; right: -.1rem; top: 0; }
.addr_placeholder{font-size: .28rem; color: #B3B3B3; display: flex; align-items: center; }
.addr_placeholder::before{content: ''; display: block; width: .28rem; height: .28rem; background: url(../images/waimai/addrPosi.png) no-repeat center/cover; margin-right: .06rem; }
.box .fItem input{font-size: .28rem; color: #222; background: none; border: none; outline: none; width: 100%;}
.box .fItem input::placeholder{color: #B3B3B3; }
.box .fItem .pCode{display: flex; align-items: center;}
.box .fItem .pCode .phoneCode{flex-shrink: 0; color: #666; font-size: .28rem; margin-right: .12rem;}
.box .fItem .pCode .phoneCode::before{content: '+';}
.box .fItem .pCode .phoneCode::after{content: ''; display: inline-block; width: .2rem; height: .2rem; background: url(../images/waimai/arr_d.png) no-repeat center/cover; vertical-align: middle; margin-left: .04rem;}
.box .fItem h2{color: #222; font-size: .26rem; font-weight: bold; margin-right: .3rem; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden;}
.box .fItem.addrChose h2{font-weight: normal;}
.box .fItem p{font-size: .22rem; color:#aaa; margin-top: .04rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-right: .3rem}
.box .fItem .switch{width: .8rem; height: .46rem; background: #E6E6E6; border-radius: .23rem; position: relative;}
.box .fItem .switch s{display: block; width: .38rem; height: .38rem; background: #FFF; box-shadow: 0 .03rem .13rem 0 rgba(123, 123, 123, 0.23); border-radius: 50%; position: absolute; top: .04rem; left: .04rem; transition: left .3s }
.box .fItem.switchItem{height: 1.18rem; justify-content: space-between;}
.box .fItem.switchItem .open.switch s{left: .38rem;}
/* .box .fItem.switchItem .open.switch{ background: linear-gradient(90deg, #F75F42 0%, #F22A18 100%);} */
.box .fItem.switchItem .open.switch{
  background: -webkit-linear-gradient(-41deg,rgba(255,174,0,1) 0%,rgba(252,191,28,1) 100%); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(-41deg,rgba(255,174,0,1) 0%,rgba(252,191,28,1) 100%); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(-41deg,rgba(255,174,0,1) 0%,rgba(252,191,28,1) 100%); /* Firefox 3.6 - 15 */
	background:linear-gradient(-41deg,rgba(255,174,0,1) 0%,rgba(252,191,28,1) 100%);}

.saveBtn{display: block; margin: .42rem .3rem; height: .84rem; border-radius: .42rem;
background: linear-gradient(90deg, #F75F42 0%, #F22A18 100%); color: #fff; font-size: .3rem; line-height: .84rem; text-align: center;}
.delAddr{display: block; margin: .42rem .3rem; height: .84rem; border-radius: .42rem;
background: #fff; color: #999; font-size: .3rem; line-height: .84rem; text-align: center; box-sizing: border-box; border: solid 1px rgba(252,191,28,.5);}
.saveBtn{
  background: -webkit-linear-gradient(-41deg,rgba(255,174,0,1) 0%,rgba(252,191,28,1) 100%); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(-41deg,rgba(255,174,0,1) 0%,rgba(252,191,28,1) 100%); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(-41deg,rgba(255,174,0,1) 0%,rgba(252,191,28,1) 100%); /* Firefox 3.6 - 15 */
	background:linear-gradient(-41deg,rgba(255,174,0,1) 0%,rgba(252,191,28,1) 100%);
}
