
body, html{background: #Fff;}
a:hover{text-decoration: none;}

.info-section{background: #fffaeb; margin-bottom: .2rem; padding: .2rem; font-size: .28rem; color: #666; border-bottom: 1px solid #fff6db;}
.info-section .info-text{color: #d00;}
.info-section .last{font-size: .24rem; margin-top: .1rem;}

.topState{background: url(../images/shop/topbg.png) center top no-repeat; background-size: 100% auto;padding: 0 .3rem .45rem .55rem;min-height: 2.26rem;box-sizing: border-box;display: flex;align-items: center;}
.topState .topIcon{float: left;width: .8rem;height: .8rem;}
.topState .topIcon.topIcon-0{background: url(../images/shop/waitpay.png) center center no-repeat; background-size: cover;}
.topState .topIcon.topIcon-1{background: url(../images/shop/nofahuo.png) center center no-repeat; background-size: cover;}
.topState .topIcon.topIcon-3{background: url(../images/shop/finish.png) center center no-repeat; background-size: cover;}
.topState .topIcon.topIcon-6{background: url(../images/shop/waish.png) center center no-repeat; background-size: cover;}
.topState .topIcon.topIcon-10{background: url(../images/shop/jyclose.png) center center no-repeat; background-size: cover;}
.topState .topIcon.topIcon-7{background: url(../images/shop/jyclose.png) center center no-repeat; background-size: cover;}
.topState .topInfo{margin-left:.15rem; }
.topState .topInfo h2{font-size: .36rem;color: #fff;font-weight: bold;}
.topState .topInfo .topOther{font-size: .3rem;color: #fff;margin-top: .06rem;}
.topState .topInfo .topOther .jsTime>div{font-size: 0}
.topState .topInfo .topOther .jsTime i,.topState .topInfo .topOther .jsTime span,.topState .topInfo .topOther .jsTime em{font-size: .24rem;}


.blockWrap{margin-top: -.46rem;margin-bottom: 1rem; background: #f5f5f7}
.blockWrap .info-block{border-radius: .4rem;overflow: hidden;background: #fff; margin-bottom: .2rem;}
.blockWrap .info-block:last-child{margin-bottom: 0;border-radius: .4rem .4rem 0 0;}
/*物流信息*/

.info-block .loc_info{padding: .2rem;font-size: .28rem;}
.info-block .loc_info .picbox{width: 1rem;height: 1.5rem;display: inline-block;padding: .5rem 0rem;box-sizing: border-box;margin-right: .1rem}
.info-block .loc_info .picbox img{display:inline-block;width: .7rem;}
.info-block .loc_info .txtbox{height:.5rem;line-height: .5rem;}
.info-block .loc_info .tim{color: #888;}
.info-block .more{border-top: 1px solid #eee;font-size: .32rem;text-align: center;height: .77rem;line-height: .77rem;color: #888;}
.info-block .more i{display: inline-block;width: .5rem;height: .5rem;margin: 0 0 -8px 5px;background: url("../images/more.png") no-repeat;background-size: contain;}

.loc_name_box{animation: topFadeIn .5s ease-out;display: none;}
.info-block .loc_name{height: .82rem;line-height: .82rem;font-size: .28rem;color: #888;padding: .1rem .2rem;}

.wInfo_box{display: none;}
.loc_scroll_box{padding-left: .9rem;padding-top: .2rem;animation: bottomFadeIn .5s ease-out;}
.loc_scroll_box .loc_scroll{border-bottom: 1px solid #eee;position: relative;font-size: .28rem;padding: .1rem 0;}
.loc_scroll_box .loc_scroll img{position: absolute;top: .26rem;left: -.47rem;z-index: 2}
.loc_scroll_box .loc_scroll:before{content: "";display:inline-block; position: absolute;left: -.42rem;border-left: 1px solid #ededed;z-index: 1; top: 0; bottom: 0;}
.loc_scroll_box .loc_scroll:first-child:after{content: "";display: inline-block;position: absolute;width: .17rem;height: 13px;background: #fff;left: -25px;top: 0;z-index: 2}
.loc_scroll_box .loc_scroll:last-child{border-bottom: 0;}
.loc_scroll_box .loc_scroll:last-child:before{height: 16px;}
.loc_scroll_box .loc_scroll .loc{line-height: .44rem}
.loc_scroll_box .loc_scroll .date{color: #888;height: .44rem;line-height: .44rem}

.info-block .more_active{border-top: 1px solid #eee;font-size: .32rem;text-align: center;height: .77rem;line-height: .77rem;color: #ff6000;}
.info-block .more_active i{display: inline-block;width: .5rem;height: .5rem;margin: 0 0 -8px 5px;background: url("../images/more_up.png") no-repeat;background-size: contain;background-size: contain;}
.show{display: block;}
.hide{display: none;}


.info-block .info-title{font-size: .3rem; border-bottom: 1px solid #f4f4f4; padding: .1rem .2rem;}
.info-block .info-content{padding: .44rem .2rem .3rem;}
.info-block .info-content dl{ display: -webkit-box; padding: .12rem .2rem;    line-height: .32rem;}
.info-block .info-content dt{display: block; width: 1.3rem; color: #666;font-size: .24rem;color: #333;}
.info-block .info-content dd{display: block; -webkit-box-flex: 1;font-size: .24rem;color: #333;font-weight: bold; }

.retUl{margin-top: .2rem;}
.retUl li{margin-top: .1rem;}
.last .store{margin-top: .2rem; padding-top: .1rem; border-top: 1px solid #ddd;}
.retPics{display: -webkit-box;}
.retPics label{vertical-align: top; display: block;}
.retPics .picbox{-webkit-box-flex: 1;}
.retPics .picbox a{display: inline-block; margin-right: .2rem;}
.retPics .picbox a:last-child{margin-right: 0;}
.retPics .picbox img{display: inline-block; width: 1rem; height: 1rem; vertical-align: middle;}
.quan .info-content{padding: .1rem .2rem;}
p.coupon-field-tip{color: #777; margin-bottom: .1rem;}
.noquan{font-size: .28rem;}
.noquan .go_btn{color: #fff; padding: .04rem .1rem; background-color: #ff4930; border-radius: .04rem;}

.paydetail{color: #999; text-align: right; padding: 0 .2rem .2rem 0;}


.item{background: #fff;margin-bottom: .28rem}
.item .domain{padding: .2rem; font-size: .26rem; border-bottom: 1px solid #f4f4f4; }
.item .state{color: #ff6800;}
.item .info{padding: .2rem; }
.item .imgbox{width: 1.4rem; overflow: hidden; height: 1.4rem; margin: 0 .2rem 0 0;}
.item .imgbox a{display: block;width: 1.4rem;height: 1.4rem;}
.item .imgbox img{width: 100%; display: block;height: 100%;object-fit: cover;}
.item .txtbox{position: relative; overflow: hidden;}
.item .title{height: .78rem;}
.item .title h3{display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;float: left;max-width: 3.67rem;font-size: .24rem;color: #333;}
.item .title p{float: right;text-align: right;}
.item .title p span{font-size: .22rem;color: #333;display: block;}
.item .title p span strong{font-size: .28rem;}
.item .title p em{font-size: .24rem;color: #999;}

.item .number{color: #a1a1a1; margin: .1rem 0;}
.item .number span{color: #999;}

.item .date{color: #a1a1a1;}
.item .opbtn{text-align: right;padding: 0 .3rem;}
.item a.gray{border: 1px solid #D3D3D3; border-radius: .3rem;  display: inline-block; background: #fff;width: 1.7rem;text-align: center;height: .6rem;line-height: .6rem;box-sizing: border-box;}

.calcDiv{height: 0;overflow: hidden;transition: height .3s}
.calculate{padding: .33rem .33rem .34rem .4rem;}
.calculate li{margin-bottom: .2rem;}
.calculate li:last-child{margin-bottom: 0}
.calculate em{font-size: .24rem;color: #333;}
.calculate span{float: right;font-size: .22rem; color: #333;}
.calculate span.red{color: #E30000;}
.calculate span strong{font-size: .24rem;}
.calculate span.priceS i{margin-left: .05rem;}

.sum{padding: 0 .3rem .34rem .3rem; font-size: .24rem;color: #333;overflow: hidden;border-bottom: 1px solid #f5f5f7;position: relative;display: flex;align-items: center;justify-content: flex-end;}
.sum::after{content: '';display: block;width: .3rem;height: .3rem;background: url(../images/shop/arr.png) center center no-repeat; background-size: cover;transform: rotate(90deg);transition: all .3s;transform-origin: center;}
.sum.curr::after{transform: rotate(-90deg);vertical-align: middle;margin-top: -.1rem}
.sum span{color: #E30000; font-family: "coregtd";}
.sum span strong{font-size: .36rem;}

.btn.sh {background: #79d800; padding: 2px 10px; color: #fff;}

/*申请退款*/
.layer{position: fixed; top: 0; bottom: 0; left: 100%; right: 0; background: #fff; z-index: 999; }
.layer.show{display: block;}
.layer .top{height: 1rem; background: #fff; line-height: 1rem; font-size: .3rem; border-bottom: 1px solid #f2f2f2; display: -webkit-box;}
.layer .top-l{position: relative;}
.layer .top-l a{padding-left: .5rem;}
.layer .top-l a:before{content: ''; position: absolute; top: 50%; left: 10px; border: 2px solid #a0a0a0; border-width: 2px 0 0 2px; width: 8px; height: 8px; margin: -5px 0 0 0; -webkit-transform: scale(1) rotate(-50deg) skew(-10deg) translateZ(0); transform: scale(1) rotate(-50deg) skew(-10deg) translateZ(0);}
.layer .top-r{width: 1.1rem;}
.layer .top-c{-webkit-box-flex: 1; text-align: center;}

/* 上传图片 */
.addimg ul{padding: .4rem .2rem;}
/*.addimg .noimg{margin: 0 auto;}*/
.addimg li{position: relative; width: 1.6rem; height: 1.6rem; float: left; margin: 0 .17rem .2rem 0; overflow: hidden; }
.addimg li.item {background:#fff url('/static/images/ajax-loader.gif') center no-repeat;}
.addimg li img{height: 1.6rem;margin:0 auto; overflow: hidden;}
.addimg li .cancel{position: absolute; width: .32rem; height: .32rem; background: url(../images/close.png) center center no-repeat; background-size: contain; z-index: 99; top: 0; right: 0;}
.addimg .add{background: url(../images/add.png) center center no-repeat; background-size: contain;}
.addimg .add input{width: 1.6rem; height: 1.6rem; opacity: 0;}
.imgbox {margin-bottom: .6rem;}
.imgbox .uploader-btn{text-align: center; color: #565667; font-size: .22rem; padding: 0 .4rem;}

.inpbox{display: table; font-size: .26rem; border-bottom: 1px solid #f4f4f4; width: 100%; padding: .1rem 0; line-height: .6rem;}
.inpbox dt{display: table-cell; width: 1.6rem; color: #83868f; vertical-align: top;}
.inpbox dt span{padding-left: .2rem;}
.inpbox dd{display: table-cell; padding-right: .4rem; position: relative;}
.inpbox dd input{width: 100%; border: 0; outline: 0;}
.inpbox dd .flexbox{color: #b3b6be;}
.inpbox dd .shortinp input{width: 1.6rem; border: 1px solid #f4f4f4; margin: 0 .1rem; height: .5rem; text-indent: .1rem;}
.inpbox dd .unit{position: absolute; right: .4rem; color: #b3b6be; top: 0;}
.inpbox .facility li{display: inline; padding: 0 .1rem; margin: 0 .1rem .2rem 0; color: #83868f; border: 1px solid #e3e7ed; border-radius: .04rem; white-space: nowrap;}
.inpbox .facility li.on{border: 1px solid #129bf0; color: #129bf0;}
.inpbox dd .textarea{width: 100%; height: 2rem; padding-top: .1rem; border: 0; outline: 0;}

/*错误提示*/
.error{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1000; display: none;}
.error p{position: fixed; width: 150px; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: 16px; line-height: 1.4; text-align: center; padding: 12px 10px; z-index: 9999; left: 50%; margin-left: -75px; top: 50%; margin-top: -24px;}

.submit{padding: 20px 14px;}
.submit a{display: block; width: 100%; height: .7rem; line-height: .7rem; background: #df3031; color: #fff; border-radius: .04rem; text-align: center; font-size: .28rem;}
/* 规格展示 */

.item .info{position: relative;}
.item .chosed{color: #999; font-size: .24rem;  margin-top: .04rem;}
/*2021-7-5*/
.info-block .psTit{font-size: .3rem;color: #333;padding: .26rem .36rem 0;}
.info-block .psTit span{margin-left: .2rem;}
.info-block .qsTit{font-size: .24rem;color: #333;padding: .34rem .36rem 0}
.info-block .qsTit strong{font-size: .26rem;color: #F21E01;margin-right: .2rem}
.info-block .psInfo a{display: block;padding: .4rem .3rem .24rem;border-bottom: 1px solid #f5f5f7;position: relative;}
.info-block .psInfo.qsInfo a{padding-top: .3rem;}
.info-block .psIcon{float: left;width: .5rem;height: .5rem;background: url(../images/shop/psicon.png) center center no-repeat; background-size: cover;}
.info-block .psTxt{margin-left: .62rem;margin-right: .5rem}
.info-block .pspro{font-size: .26rem;color: #4582FF;font-weight: bold;line-height: .32rem;}
.info-block .pspro.nopro{line-height: .5rem}
.info-block .psTime{font-size: .24rem;color: #999;margin-top: .38rem;}
.info-block .psInfo a.link::after{content: '';display: block;width: .3rem;height: .3rem;position: absolute;right: .2rem;top: 50%;margin-top: -.15rem;background: url(../images/shop/arr.png) center center no-repeat; background-size: cover;}
.info-block .psInfo .waitTxt{font-size: .26rem;color: #333;line-height: .5rem}

.info-block .shInfo{padding: .3rem .33rem .38rem;}
.info-block .shInfo .shIcon{float: left;width: .5rem;height: .5rem;background: url(../images/shop/pos.png) center center no-repeat; background-size: cover;}
.info-block .shTxt{margin-left: .62rem;}
.info-block .shName{font-size: .3rem;color: #333;padding-top: .04rem;}
.info-block .shName span{margin-left: .2rem;}
.info-block .shAddr{font-size: .26rem;color: #333;margin-top: .2rem;}

.info-block .storeInfo a{display: block;padding: 0 .36rem;height: .96rem;display: flex;align-items: center;}
.info-block .storeInfo .shopIcon{width: .4rem;height: .4rem;background: url(../images/shop/shopicon.png) center center no-repeat; background-size: cover;}

.info-block .storeInfo  .shopTit{font-size: .3rem;color: #333;font-weight: bold;margin-left: .13rem}
.info-block .storeInfo i{display: inline-block;width: .3rem;height: .3rem;background: url(../images/shop/arr.png) center center no-repeat; background-size: cover;margin-left: .24rem;}

.contactStore li{width: 50%;box-sizing: border-box;font-size: .28rem;color: #4582FF;float: left;}
.contactStore li a{color: #4582FF;display: flex;align-items: center;justify-content: center;height: .9rem;}
.contactStore li.lianxi{border-right: 1px solid #f5f5f7;}
.contactStore li i{display: inline-block;width: .44rem;height: .44rem;}
.contactStore li.lianxi i{background: url(../images/shop/imicon.png) center center no-repeat; background-size: cover;}
.contactStore li.totel i{background: url(../images/shop/tel.png) center center no-repeat; background-size: cover;}

.bottomOper{position: fixed;bottom: 0;left: 0;right: 0;border-top: 1px solid #f5f5f7;text-align: right;background: #fff;box-sizing: border-box;padding: .18rem .3rem 0;font-size: 0;height: calc(1rem+constant(safe-area-inset-bottom));height: calc(1rem + env(safe-area-inset-bottom));}
.bottomOper a{display: inline-block;width: 2rem;height: .66rem;line-height: .66rem;box-sizing: border-box;border-radius: .33rem;text-align: center;border: 1px solid #B0B0B0;font-size: .26rem;color: #666;margin-left: .2rem;}
.bottomOper a.hasbg{background: linear-gradient(268deg, #EE1206 0%, #F8480D 99%);border: none;color: #fff;}
.bottomOper  a.shareTo{width: 1.7rem;  background: linear-gradient(90deg, #FF8400 0%, #FFAE00 100%); color: #fff; border:none; }

/*电子券码*/
.quanTop{padding: .26rem .3rem .36rem;border-bottom: 1px solid #f5f5f7;position: relative;}
.quanTop .quanIcon{width: .4rem;height: .4rem;background: url(../images/shop/code.png) center center no-repeat; background-size: cover;float: left;}
.quanTop .quanTxt{margin-left: .52rem;}
.quanTop .quanTxt h2{font-size: .3rem;color: #333;font-weight: bold;line-height: .4rem;}
.quanTop .quanTxt p{font-size: .24rem;color: #A0A0A0;margin-top: .04rem;}

.quanTop .alppy{display: inline-block;width: 1.7rem;height: .6rem;line-height: .6rem;box-sizing: border-box;border-radius: .3rem;text-align: center;border: 1px solid #D3D3D3;font-size: .24rem;color: #333;position: absolute;right: .3rem;top: 50%;margin-top: -.3rem;}
.quanBot{padding: .35rem 0;}
.quanBot .codeImg{margin: 0 auto .3rem;width: 2.5rem;height: 2.5rem;padding: .05rem;border: 1px solid #E5E5E5;border-radius: .1rem;}
.quanBot .codeImg img{display: block;width: 100%;height: 100%;object-fit: cover;}
.quanBot li{margin-bottom: .13rem;text-align: center;}
.quanBot li a{display: inline-block;padding: 0 .34rem;background: #F5F5F7;height: .6rem;line-height: .6rem;border-radius: .3rem;font-size: 0}
.quanBot li span{font-size: .26rem;color: #333;margin-right: .24rem;}
.quanBot li strong{font-size: .28rem;color: #333;}
.quanBot p.quanTip{font-size: .22rem;color: #A0A0A0;text-align: center;margin-top: .35rem;}
.quanBot li.invalid a{color: #999;}
.quanBot li.invalid a span{color: #999;text-decoration: line-through;}
.quanBot li.invalid a strong{color: #999;text-decoration: line-through;}
.quanBot li.invalid em{font-size: .28rem;color: #999;margin-left: .06rem;font-weight: bold;}

/*商家地址*/
.busInfo {padding: 0 .4rem .46rem;}
.busInfo .busTit{font-size: .3rem;color: #333;font-weight: bold;padding: .3rem 0;}
.busInfo .busTop{padding: 0 .1rem;position: relative;display: flex;align-items: center;}
.busInfo .busTop .busIcon{width: .4rem;height: .4rem;background: url(../images/shop/buspos.png) center center no-repeat; background-size: cover;float: left;}
.busInfo .busTop .busTxt{margin-left: .06rem;width: 72%}
.busTop .busTxt h3{font-size: .26rem;color: #333;}
.busTop .busTxt p{font-size: .22rem;color: #999;margin-top: .04rem;display: none;}
.busTop .busOper{font-size: 0}
.busTop .busOper a{display: inline-block;width: .44rem;height: .44rem;}
.busTop .busOper a.busIm{background: url(../images/shop/imicon.png) center center no-repeat;background-size: cover;}
.busTop .busOper a.busTel{background: url(../images/shop/tel.png) center center no-repeat;background-size: cover;margin-left: .36rem}
#orderMap{width: 100%;height: 2.44rem;margin-top: .36rem;display: none;}
/* 地图图标 */
.busmap .orderbubble{width: .68rem; height: .68rem; position: relative;background: url('../images/shop/start.png') no-repeat center;background-size:cover;}
.busmap .orderbubble.shop{background: url('../images/shop/end.png') no-repeat center;background-size: cover;}

/*团购券退款*/
.quanRefund{padding: .25rem .3rem .36rem}
.quanRefund .quanreTit{}
.quanRefund .quanreTit strong{font-size: .3rem;color: #333;}
.quanRefund .quanreTit a{float: right;font-size: .24rem;color: #999;display: flex;align-items: center;}
.quanRefund .quanreTit a::after{content: '';display: block;width: .3rem;height: .3rem;background: url(../images/shop/arr.png) center center no-repeat; background-size: cover;margin-left: .1rem;}
.quanRefund .quanreInfo{margin-top: .16rem;border: 1px solid #eee;}
.quanreInfo .quanreTop{padding: .2rem .2rem .18rem;border-bottom: .02rem dashed #eee;}
.quanreInfo .quanreTop h3{font-size: .26rem;color: #333;font-weight: bold;}
.quanreInfo .quanreTop p{font-size: .24rem;color: #A0A0A0;}
.quanreInfo .quanreBot{padding: .14rem .1rem .1rem;position: relative;}
.quanreInfo .quanreBot p{text-align: center;font-size: .24rem;color: #999;text-decoration: line-through;font-weight: bold;margin-bottom: .08rem}
.quanreInfo .quanreBot p span{font-size: .26rem;}
.quanreInfo .quanreBot::before,.quanreInfo .quanreBot::after{content: '';display: block;width: .06rem;height: .12rem;background: #fff;border-radius: 100% 0 0 100%/50%;position: absolute;border:1px solid #eee;    }
.quanreInfo .quanreBot::before{left: 0;top: -.06rem;border-left: none;margin-left: -1px;border-radius: 0 100% 100% 0/50%;}
.quanreInfo .quanreBot::after{right:0;top: -.06rem;border-right: none;margin-right: -1px}

.quanreTit .quanIcon{width: .4rem;height: .4rem;background: url(../images/shop/code.png) center center no-repeat; background-size: cover;float: left;}
/*券码退款成功*/
.refundSuc .quanRefund .quanreTit {padding-top: .05rem;padding-bottom: .04rem;}

/*拼团中 还未成功*/
.tuanIng{padding: .22rem .3rem .5rem .32rem; }
.tuanInTop .tuanIcon{width: .5rem;height: .5rem;background: url(../images/shop/tuanin.png) center center no-repeat; background-size: cover;float: left;}
.tuanInTop .tuaninTxt{margin-left: .58rem;font-size: .3rem;color: #333;font-weight: bold;line-height: .5rem;}
.tuanIng .tuaninTxt .jsTime2{display: inline-block;}
.tuanInTop .jsTime2>div{font-size: 0}
.tuanInTop .jsTime2 i,.tuanInTop .jsTime2 span,.tuanInTop .jsTime2 em{font-size: .3rem;font-weight: bold;}
.tuanInBot{padding-left: .56rem;margin-top: .16rem;}
.tuanIng .tuanInBot .tuanInimg{float: left;}
.tuanInBot .tuanInimg>div{width: .8rem;height: .8rem;border-radius: 50%;position: relative;float: left;margin-right: .3rem;box-sizing: border-box;}
.tuanInBot .tuanInimg>div img{display: block;width: 100%;height: 100%;object-fit: cover;border-radius: 50%;}
.tuanInBot .tuanInimg>div.nopeo{border: .02rem dashed #E5E5E5;background: url(../images/shop/nopeo.png) center center no-repeat; background-size: .5rem;}
.tuanInBot .tuanInimg>div span{display: inline-block;position: absolute;bottom: -.14rem;left: 50%;margin-left: -.38rem;width: .76rem;text-align: center;height: .34rem;line-height: .34rem;border-radius: .17rem;background: #FF4930;font-size: .22rem;color: #fff;}
.tuanInBot .inviteTuan{display: inline-block;padding: 0 .23rem;height: .6rem;line-height: .6rem;border-radius: .3rem;background: #FF4930;font-size: .26rem;color: #fff;margin-top: .17rem;}

/*拼团成功*/
.tuanSuc{padding: .22rem .3rem .5rem; }
.tuanSuc .tuanInBot{padding-left: 0;text-align: center;margin-top: .22rem;}
.tuanSuc .tuanInBot .tuanInimg{display: inline-block;}

/*砍价成功*/
.kanSuc{padding: .28rem .3rem .5rem .36rem;}
.kanTop .kanIcon{width: .4rem;height: .4rem;background: url(../images/shop/kan.png) center center no-repeat; background-size: cover;float: left;}
.kanTop .kanTxt{margin-left: .53rem;font-size: .3rem;color: #333;font-weight: bold;line-height: .4rem;}
.kanTop .kanTxt .kanDet{float: right;font-size: .26rem;font-weight: normal;}
.kanTop .kanTxt .kanDet::after{content: '';display: inline-block;width: .3rem;height: .3rem;background: url(../images/shop/arr.png) center center no-repeat; background-size: cover;margin-left: .1rem;vertical-align: middle;margin-top: -.04rem;}
.kanSuc .kanBot{text-align: center;}
.kanSuc .kanBot .kanImg{display: inline-block;margin-top: .3rem;position: relative;}
.kanBot .kanImg>div{width: .8rem;height: .8rem;border-radius: 50%;position: relative;float: left;box-sizing: border-box;margin-left: -.3rem;border: .02rem solid #fff;}
.kanBot .kanImg>div:first-child{margin-left: 0}
.kanBot .kanImg>div img{display: block;width: 100%;height: 100%;object-fit: cover;border-radius: 50%;}
.kanSuc .kanBot .kanImg::after{content: '';display: block;position: absolute;width: 100%;height: .75rem;bottom: 0;left: 0;background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);z-index: 2}
.kanBot .kanTip{font-size: .28rem;color: #666;margin-top: .1rem;}

/*邀请好友拼单*/
.modal-public {visibility:hidden;position:fixed;top:0;left:0;right:0;bottom:0;overflow:hidden;z-index:999;}
.modal-public.curr {visibility:visible;}
.bgCover {opacity:1;visibility:hidden;overflow:hidden;background:#000;position:fixed;top:0px;left:0px;right:0;bottom:0;z-index:99;-webkit-transition:none;transition:none;}
.curr > .bgCover {opacity:.6!important;visibility:visible!important;}

.inviting_friends {display:block;width:5.26rem;text-align:center;height:auto;position:fixed;right:50%;margin-right:-2.63rem;top:25%;background:#fff;z-index:9999;-webkit-border-radius:0.04rem;-moz-border-radius:0.04rem;border-radius:0.08rem;}

.curr .inviting_friends {-webkit-animation:popup .3s ease-in;-moz-animation:popup .3s ease-in;animation:popup .3s ease-in;}
.inviting_friends .inviting_txt {padding-top:.4rem;font-size:.3rem;text-align:center;font-weight:bold;}
.inviting_friends .inviting_txt em {color:#ff4930;}
.inviting_friends .inviting_title {padding:.2rem 0;font-size:.26rem;color:#a0a0a0;}
.inviting_friends .inviting_img {padding:.1rem .36rem .4rem .36rem;}
.inviting_friends .inviting_img ul li {display:inline-block;float:left;width:1.5rem;color:#a0a0a0;font-size:.25rem;margin-top:.2rem;}
.inviting_friends .inviting_img ul li img {width:.7rem;height:.7rem;}
.inviting_friends .inviting_img ul li p {margin-top:.04rem;}

/*商品卖光弹窗*/
.comshopmask{position:fixed;top:0;left:0;right:0;bottom:0;overflow:hidden;z-index:999;background: rgba(0,0,0,.67);display: none;}
.comshopAlert{background: #fff;position: fixed;top:50%;left: 50%;transform: translate(-50%,-50%);width: 6.5rem;border-radius: .2rem;overflow: hidden;box-sizing: border-box;padding: .3rem .4rem;z-index:10000; display: none;}
.comshopAlert.show{display: block;}
.comshopAlert h2{font-weight: bold;font-size: .3rem;color: #333;}
.comshopAlert .nobuyPro{ margin-top: .14rem}
.comshopAlert .nobuyPro .noproitem{padding: .2rem 0;display: flex;align-items: center;}
.noproitem .noproimg{width: 1rem;height: 1rem;border-radius: .1rem;overflow: hidden;}
.noproitem .noproimg img{display: block;width: 100%;height: 100%;object-fit: cover}
.noproitem .noproTit{font-size: .26rem;columns: #666;line-height: .3rem;margin-left: .2rem}
.noproUl{text-align: center;margin-top: .2rem}
.noproUl.nopro{display: none;}
.noproUl ul{display: inline-block;font-size: 0;}
.noproUl ul li{display: inline-block;}
.noproUl ul li a{display: inline-block;width: 2rem;height: .66rem;line-height: .66rem;box-sizing: border-box;border-radius: .33rem;text-align: center;border: 1px solid #F8480D;font-size: .26rem;color: #F8480D;}
.noproUl ul li a.addCart,.noproUl ul li a.suresh,.noproUl ul li a.surecanOr,.noproUl ul li a.suredelOr{background: linear-gradient(268deg, #EE1206 0%, #F8480D 99%);border: none;color: #fff;margin-left: .3rem}

/*确认收货弹窗*/
.comshopAlert.sureshAlert,.comshopAlert.surecanOrAlert,.comshopAlert.suredelOrAlert{width: 6rem;}
.comshopAlert.sureshAlert .noproUl,.comshopAlert.surecanOrAlert .noproUl,.comshopAlert.suredelOrAlert .noproUl{margin-top: .3rem;}


@font-face {
  	font-family: "coregtd";
  	src: url("/static/fonts/coregtd6.woff2"),
       url("/static/fonts/coregtd6.woff"),
       url("/static/fonts/coregtd6.ttf"),
       url("/static/fonts/coregtd6.eot"),
       url("/static/fonts/coregtd6.otf");
}

/*团购订单新增 2021-11-11*/
.mealWrap{position: relative;overflow: hidden;transition: all .3s;margin-bottom: .2rem;padding-bottom: .92rem;border-radius: 0 0 .4rem .4rem;}
.mealCon{background: #fff;border-radius: .4rem;margin-bottom: .2rem;padding-bottom: .18rem;}
.mealCon .mealH1{font-size: .3rem;font-weight: bold;padding: .28rem .4rem .4rem;color: #333}
.mealCon dl{padding: 0 .35rem;margin-bottom: .3rem;}
.mealCon dl dt{font-size: .26rem;font-weight: bold;margin-bottom: .1rem;}
.mealCon dl dt::before{content: '';display: inline-block;width: .06rem; height: .06rem; background: #333;border-radius: 50%;margin-right: .13rem;vertical-align: middle;
    margin-top: -.04rem;}
.mealCon dd{padding-left: .19rem;}
.mealCon dd>div{margin-bottom: .1rem;}
.mealCon dd .mealname{font-size: .24rem;color: #212121;display: inline-block;max-width: 3.1rem;}
.mealCon dd em{font-size: .22rem;color: #999;}
.mealCon dd .mealPrice{font-size: .18rem;color: #000;float: right;font-family: moneyNumber;}
.mealCon dd .mealPrice strong{font-size: .28rem;}

/*购买须知*/
.buynoteCon {background: #fff;border-radius: .4rem;margin-bottom: .2rem;padding-bottom: .18rem;}
.buynoteCon .buyH1{font-size: .3rem;color: #333;font-weight: bold;padding: .28rem .4rem .4rem;}
.buynoteCon dl{padding: 0 .4rem;margin-bottom: .3rem}

.buynoteCon dl dt{font-size: .24rem;color: #333;margin-bottom: .1rem;font-weight: bold;}
.buynoteCon dl dd{font-size: .24rem;color: #333}
.buynoteCon dl dd .otNote{line-height: .4rem;}
.buynoteCon dl dd p::before{content: '';display: inline-block;width: .06rem; height: .06rem; background: #333;border-radius: 50%;margin-right: .13rem;vertical-align: middle;
    margin-top: -.04rem;}
/*详情介绍*/
.detailBox {background: #fff;border-radius: .4rem;margin-bottom: .2rem;}

.detailBox .detIt{font-size: .3rem;color: #333;font-weight: bold;padding: .28rem .4rem .36rem;}
.det-con.picshow{background: #fff;}
.det-con.picshow img{width: auto!important; height: auto!important; max-width: 100%!important; max-height: 100%!important; display: block;}
.det-con.picshow p{font-size: .24rem!important;color:#666!important;padding:0 .4rem;line-height: .42rem!important;}
.det-con.picshow p span,.det-con.picshow p strong{font-size: .24rem!important;color:#666!important;line-height: .42rem!important;font-weight: normal!important;}

.mealWrap .seeOtnote{text-align: center;display: block;font-size: .24rem;position: absolute;bottom: 0;left: 0;right: 0;border-radius: 0px 0px .4rem .4rem;background: #fff;padding: .2rem 0 .4rem;color: #999;display: none;}
.mealWrap .seeOtnote i{display: inline-block;width: .2rem;height: .2rem;background: url(../images/shop/seenote.png) no-repeat center/cover;vertical-align: middle;margin-top: -.04rem;margin-left: .08rem;transition: all .3s;}
.mealWrap .seeOtnote.hst i{    transform: rotate(180deg);}


.buynoteCon .useRules{background: #F5F5F7;border-radius: .1rem;padding: .3rem;text-align: center;margin-top: .2rem;}
.buynoteCon .useRules ul{display: inline-block;}
.buynoteCon .useRules li{float: left;text-align: center;margin-right: .5rem;position: relative;}
.buynoteCon .useRules li:last-child{margin-right: 0}
.buynoteCon .useRules li::after{content: '';display: block;width: .7rem;height: .2rem;background: url(../images/rulearr.png) no-repeat center/cover;position: absolute;top: .1rem;right: -.6rem;}
.buynoteCon .useRules li:last-child::after{display: none;}
.buynoteCon .useRules li span{display: block;margin: 0 auto .08rem;width: .4rem;height: .4rem}
.buynoteCon .useRules li span img{display: block;width: .4rem;height: .4rem;}
.buynoteCon .useRules li p{font-size: .24rem;color: #0F0F0F;}