body,html{min-height: 100%;}
select{appearance:none; -moz-appearance:none; -webkit-appearance:none; border: 0; outline: 0; background: transparent;}
input{-webkit-appearance: none;}
::-webkit-input-placeholder {color:#b3b6be;}
:-moz-placeholder {color:#b3b6be;}
::-moz-placeholder {color:#b3b6be;}
:-ms-input-placeholder {color:#b3b6be;}

/* 头像等基本信息 */

.imgbox{ margin: .2rem 0; position: relative; border-radius: .2rem;overflow: hidden;background: #fff;padding-left: .3rem;}
.imgbox .inpbox.imgInp{padding: .2rem 0;line-height: .8rem;position: relative;}
.imgbox .btn{position: absolute; left: 50%; margin-left: -0.8rem; top: -1.4rem; width: 1.1rem; height: .8rem; border: 0; outline: 0; opacity: 0;}
.txImg{width: .8rem;height: .8rem;float: right;border-radius: 50%;overflow: hidden}
.txImg img{width: 100%;height: 100%;object-fit: cover;}
.imgbox .inpbox:last-child,#fabuForm .inpbox:last-child{border-bottom: none;}

/*2019-01-16 .3rem*/
#fabuForm{background: #fff;border-radius: .2rem;padding-left: .3rem}
.inpbox{display: table; font-size: .28rem; border-bottom: 1px solid #f5f6f7; width: 100%;padding:.1rem 0; line-height: .66rem; }
.inpbox dt{display: table-cell; width: 1.8rem; color: #333; vertical-align: top;}
.inpbox dd{display: table-cell; padding-right: .26rem; position: relative;text-align: right;color:#333;}
.logintime dd{color: #999;}
.inpbox dd .inreview {position: absolute; left: 0; top: 0; color: #f00; z-index: 10;}
.inpbox dd input{width: 100%; border: 0; outline: 0;text-align: right;color:#333;}
.inpbox dd .flexbox{color: #b3b6be;}
.inpbox dd .shortinp input{width: 1.6rem; border: 1px solid #e8e8e8; margin: 0 .1rem; height: .5rem; text-indent: .1rem;}
.inpbox dd .unit{position: absolute; right: .4rem; color: #b3b6be;}
.inpbox dd.facility li{display: inline; padding: 0 .1rem; margin: 0 .1rem .2rem 0; color: #83868f; border: 1px solid #e3e7ed; border-radius: .04rem; white-space: nowrap;}
.inpbox dd.facility li.on{border: 1px solid #129bf0; color: #129bf0;}
.inpbox dd .textarea{width: 100%; height: 2rem; padding-top: .1rem; border: 0; outline: 0;}
.inpbox dd .radioBox{position: absolute; right: 0; top: 0;}
.inpbox dd .radioBox a{display: inline-block; height: .6rem; margin-right: .4rem; color: #0c0d0e;}
.inpbox dd .radioBox a:before{content: ""; width: .32rem; height: .32rem; background: url(../images/radio2.png) center center no-repeat; background-size: contain; display: inline-block; vertical-align: -0.06rem; margin-right: .1rem;}
.inpbox dd .radioBox a.active:before{background-image: url(../images/radio1.png);}
.inpbox dd .code{position: absolute; right: .4rem; top: 0; height: .6rem;}
select.w100{width: auto;padding-left: 5%;}
select.w30{width: 30%;}


.editForm input{text-align:left!important;}

.inpbox dd i {width:.24rem;height:.24rem;background:url(../images/arrowRight2.png) no-repeat center;background-size:.24rem;position: absolute;right: .2rem;top: .2rem}
.gz-addr-seladdr.inpbox dd,.speInp.inpbox dd{padding-right: .5rem}

/*出生日期*/
.mbsc-mobiscroll .dwwr{background-color: #fff;}
.dwc{width: 100%;}
.dw-li.dw-v{opacity: .5;filter: Alpha(Opacity=50);font-size: .32rem;}
.dw-li.dw-v.dw-sel{opacity: 1;filter: Alpha(Opacity=100);font-size: .34rem;}
.mbsc-mobiscroll .dwb-s .dwb{font-size: .32rem;color:#3b7cff;}
.mbsc-mobiscroll .dwb-c {float: left;}
.mbsc-mobiscroll .dwb-c .dwb{font-size: .32rem;color:#212121;}
.mbsc-mobiscroll .dwbc{border-bottom: solid 1px #e6e7ed;}
.mbsc-mobiscroll .dwwol{border-top: 1px solid #cdcdcd;border-bottom: 1px solid #cdcdcd;}
/*错误提示*/
.error{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1000; display: none;}
.error p{position: fixed; width: 3.6rem; background-color: rgba(0,0,0,.77); border-radius: 5px; color: #fff; font-size: 16px; line-height: 1.4; text-align: center; padding: .2rem; z-index: 9999; left: 50%; margin-left: -2rem; top: 50%; margin-top: -24px;}

.submit{margin-bottom: .2rem;margin-top: .2rem}
.submit a{display: block; width: 100%; height: .88rem; line-height: .88rem; color: #333; border-radius: .2rem; text-align: center; font-size: .3rem;background: #fff;}

#litpic {position:absolute;right: .26rem;}
.goupphoto {position: absolute;left:0;top:0;right:0;bottom:0;z-index:2;}



.fixed body {position: fixed; width: 100%; height: 100%; overflow: hidden; left: 0; top: 0;}
