html,body{background: #F6F5F5;}
.header{position: fixed;left: 0;right: 0}

.topNav {background: #fff;z-index: 1000;position: fixed;top: .9rem;left: 0;right: 0;border-radius: 0px 0px .16rem .16rem; }
.huoniao_iOS .topNav{top: 0}
.topNav .navT{height: .88rem;line-height: .88rem;background: #fff;padding-right: .35rem}
.topNav .navT ul{float: left;padding-left: .55rem;height: .88rem;}
.topNav .navT ul li{float: left;margin-right: .5rem;position: relative;}
.topNav .navT ul li a{font-size: .28rem;color: #636466;}
.topNav .navT ul li.curr a{font-size: .32rem;color: #FF5C50;font-weight: bold;}
.topNav .navT ul li.curr:after{content: '';display: block;width: .38rem;height: .06rem;background: #FF5C50;box-shadow: 0px 3px 7px 0px rgba(255, 92, 80, 0.27);border-radius: .03rem;position: absolute;bottom: 0;left: 50%;margin-left: -.19rem;}
.topNav .navT p.px{float: right;font-size: .28rem;}
.topNav .navT p.px a{color: #39393B;display: inline-block;}
.topNav .navT p.px:after{content: '';width:.22rem;height:.22rem; background: url('../images/quan/down.png') no-repeat;background-size: .22rem;display: inline-block;margin-left: .04rem;vertical-align: middle;margin-top: -.04rem}
.topNav .navT p.px.active:after{content: ''; background: url('../images/quan/up.png') no-repeat;background-size: .22rem;}


.topNav .pxCon{padding: 0 .32rem 0 .4rem;overflow: hidden;width: 100%;box-sizing: border-box;height: 0;overflow: hidden;}
.topNav .pxCon ul{padding-bottom: .55rem}
.topNav .pxCon li{margin-top: .55rem}
.topNav .pxCon li a{font-size: .28rem;color: #636466;}
.topNav .pxCon li.curr a{color: #39393B;font-weight: bold;}
.topNav .pxCon li.curr:after{content: '';width:.3rem;height:.3rem; background: url('../images/quan/checked.png') no-repeat;background-size: .3rem;display: inline-block;vertical-align: middle;margin-top: -.04rem;float: right;}

/*列表*/
.list {padding: 0 .1rem;padding-top: 2rem}
.huoniao_iOS .list{padding-top: 1.1rem}
.list li{position: relative;margin-bottom: .05rem;}
.list li a{display: block;}
.list li .linBg1{width: 100%;height: .3rem;background: url('../images/quan/line3.png') no-repeat;background-size: 100% .3rem;}
.list li .topCon{background: url('../images/quan/line2.png') repeat;background-size: contain;padding: .12rem .45rem}
.list li .quanMa{background: url('../images/quan/line2.png') repeat;background-size: contain}

.list li em.useTime{display: block;width: .98rem;height: 1.06rem;background: url('../images/quan/guoqi.png') no-repeat;background-size: cover;position: absolute;right: .15rem;top: .1rem;}

.list .title h2{display: inline-block;max-width: 4.35rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size: .34rem;color: #39393B;font-weight: bold;}
.list .title span.typeName{display: inline-block;height: .4rem;line-height: .4rem;padding: 0 .13rem;border-radius: .04rem;font-size: .24rem;color: #268EFF;background: #F1F8FF;    vertical-align: top;
    margin-top: .04rem;margin-left: .1rem}
.list .title span.typeName.waimai{color: #FF5C50;background: #FFEFEE;}
.list .quanNum{font-size: .24rem;color: #A7A7AC;margin-top: .2rem}
.list .quanNum em{margin-left: .2rem;margin-right: .2rem;}
.list li .qLine{width: 100%;height: .48rem;background: url('../images/quan/line.png') no-repeat;background-size: 100% .48rem;margin: 0 auto;}

.list .quanMa{padding: 0 .45rem .2rem;position: relative;}

.list .hideCon{padding: .1rem 0 0;position: relative;height: .4rem;overflow: hidden;}
.list .hideCon s.erwei{float: right;display: inline-block;width: .4rem;height: .4rem;background: url('../images/quan/erwei.png') no-repeat;background-size: cover;position: absolute;right: 0;top: .1rem}
.list .hideCon p{font-size: .32rem;color: #39393B;margin-bottom: .36rem;}
.list .hideCon p:last-child{margin-bottom: 0}
.list .hideCon p.hasUse{color: #ccc;}
.list .hideCon p.hasUse span{float: right;}
.list .moreQuan{text-align: right ;font-size: .26rem;color: #999;margin-top: .36rem}
.list .moreQuan i{display: inline-block;width: .34rem;height: .34rem;background: url('../images/quan/moreD.png') no-repeat;background-size: cover;margin-left: .1rem;    vertical-align: middle;margin-top: -.1rem;}
.list .moreQuan.click i{background: url('../images/quan/moreU.png') no-repeat;background-size: cover;}
.list .line{width: 100%;height: .32rem;background: url('../images/quan/blue.png?v={#$cfg_staticVersion#}') no-repeat;background-size: 100% .32rem;}
.list .line.orange{background: url('../images/quan/orange.png?v={#$cfg_staticVersion#}') no-repeat;background-size: 100% .32rem;}
.maskPx{position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,.5);z-index: 999;display: none}

.loading{text-align: center;line-height: .88rem}

/*团购团购券码*/
.tymodal {position:fixed;top:50%;left:.75rem;right:.75rem;-moz-transform:translate(0,-50%);-webkit-transform:translate(0,-50%);transform:translate(0,-50%);z-index:1008;padding:.4rem .26rem .5rem;background-color:#fff;border-radius:.16rem;text-align:center;font-size:.32rem;}
.tymodal .title {margin-bottom:.36rem;font-size:.28rem;color: #39393B;}
.tymodal img {width:4.28rem;vertical-align:top;display:block;margin:0 auto;}
.tymodal b {font-weight:normal;color:#2c8cd6;}
.tymodal .close {width:.3rem;height:.3rem; background: url('../images/quan/close.png') no-repeat;background-size: .3rem;display: inline-block;float: right;position: absolute;top: .45rem;right: .26rem}
.disk {background-color: #000;opacity: .7!important;top: 0;left: 0;bottom: 0;width: 100%;z-index: 1001;position: fixed;display: none;}


