body, html{background: #F5F5F5; font-size: .28rem;height: 100%}

/*.header-l{padding-right: .8rem;}*/
.header-r{visibility: visible;}
img{max-width: 100%}
.comTitle{font-size: .3rem ;color: #39393B;}

.wrap{margin: .3rem .24rem}

.wrap .wrap_content3{box-sizing: border-box;}

.star{color: #ff4646;}
#cancel_price::placeholder{color: #3b3b3b;font-weight: bold;font-size: .3rem}
.cancel_info li{font-size: 0;padding: .24rem .2rem .26rem;background: #fff;margin-bottom: .25rem;border-radius: .16rem}
.cancel_info li.oneheight{padding: .25rem .2rem}

.cancel_info li span.name{font-size: .3rem;color: #39393B;margin-right: .1rem}
.cancel_info li input{border: 0;font-size: .28rem;color: #333}
.cancel_info li input::placeholder{color: #BABFCA}

.com-box .fakeDiv{display: flex;float: right;align-items: center;margin-top: .02rem}
.com-box .choose .text{display: inline-block;color: #BABFCA;font-size: .28rem;}
.com-box .choose .text.fn-hide{display: none;}
/**/
/*确认服务申请售后*/
.com-box .cancel_reason,.com-box .tk_typeW{color: #45464f;}
.com-box .cancel_reason .name,.com-box .tk_typeW .name{float: left;}
.com-box .cancel_reason input,.com-box .tk_typeW input{float: right;text-align: right;border: 0;color: #45464f;background: #fff;}
.com-box .cancel_reason .choose,.com-box .tk_typeW .choose{float: right;}
.com-box .cancel_reason .choose i,.com-box .tk_typeW .choose i{display: inline-block;width: .14rem;height: .24rem;background:url("../images/homemaking/icon_next.png") no-repeat;background-size: contain;margin-left: .17rem;margin-top: .02rem}



.cancel_submit{margin: .4rem 0;}
.cancel_submit a{height:.88rem;line-height:.88rem;color:#fff;font-size:.32rem;text-align:center;display: block;width: 100%;border-radius: .44rem;background: #FA6353;}
.cancel_submit a.disabled{background: #ccc}
.cancelprice:disabled{background-color: #fff;}


/*信息提示框*/

.error{position: fixed;  background-color: rgba(0,0,0,.87); border-radius: .2rem; color: #fff; font-size: .26rem;height: 1rem; line-height: 1rem; text-align: center; padding: 0 .5rem; z-index: 1000000; left: 50%; top: 50%; margin-top: -.5rem;transform: translate(-50%,-50%);white-space: nowrap;display: none;}


/*原因弹窗*/
.mobileSelect-show{    position: fixed;left: 0;right: 0;bottom: 0;}
.mobileSelect-show .content{border-radius:.2rem .2rem 0px 0px;overflow: hidden;position: absolute !important;}
.mobileSelect .content .btnBar{height: 1rem;line-height: 1rem;background: #F7F8FA;/*border-radius:.2rem .2rem 0px 0px;*/border-bottom: none}
.mobileSelect .content .btnBar .title{font-size: .28rem;color: #999;}
.mobileSelect .content .btnBar .ensure{color: #3378FF;font-size: .28rem;font-weight: bold;}
.mobileSelect .content .btnBar .cancel{font-size: .28rem;color: #999;font-weight: bold;}
.mobileSelect .content .panel .wheels{height: 246px}
.mobileSelect .content .panel .wheel .selectContainer li{font-size: .3rem;color: #808080}
.mobileSelect .content .panel .wheel .selectContainer li.onchose{font-weight: bold;color: #000;font-size: .36rem}

