body, html{background: #F5F5F5; font-size: .28rem;height: 100%}

/*.header-l{padding-right: .8rem;}*/
.header-r{visibility: visible;}
img{max-width: 100%}
.comTitle{font-size: .3rem ;color: #39393B;}

.wrap{margin: .2rem .24rem}
.wrap .wrap_content2{padding: .2rem;box-sizing: border-box;background: #fff;border-radius: .16rem;margin-bottom: .2rem}

.content_top{position: relative;}
.content_top .left_b{width: 1.2rem;height: 1.2rem;float: left;}
.content_top .left_b img{width: 100%;height: 100%;object-fit: cover;border-radius: .1rem}
.content_top .right_b{margin-left:1.37rem;}
.right_b .jz_order_title{font-size: .28rem;color: #39393B;line-height: .4rem;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;}

.right_b .jz_order_time{color: #404040;margin-top: .3rem}
.right_b .jz_order_time span:first-child{font-size: .28rem;}
.right_b .jz_order_time span.yufu{margin-left: .15rem;font-size: .24rem;color: #fff;height: .34rem;line-height: .34rem;border-radius: .04rem;padding: 0 .1rem;background: #ff674e}
.right_b .jz_order_time span:last-child{font-size: .26rem;margin-left: .15rem;color: #919191}

.jz_order_price{height: 1rem;line-height: 1rem;border-top:1px solid #e8e8e8;background: #fff;font-size: .24rem;color: #3b3b3b;text-align: right;padding-right: .35rem;margin-bottom: .2rem}

.jz_order_price span{margin-left: .1rem}
.jz_order_price span:last-child{font-size: .32rem;font-weight: bold;}

.wrap .wrap_content3{box-sizing: border-box;}

.star{color: #ff4646;}
#cancel_price::placeholder{color: #3b3b3b;font-weight: bold;font-size: .3rem}
.cancel_info li{font-size: 0;padding: .22rem .2rem .24rem;background: #fff;margin-bottom: .2rem;border-radius: .16rem}
.cancel_info li.oneheight{padding: .25rem .2rem}
.cancel_info li span.name{font-size: .3rem;color: #39393B;  margin-right: .1rem }
.cancel_info li span.name.lianxi{display: inline-block;width: 1.2rem;text-align: right}
/*.cancel_info li.oneheight span.name{ width: 1.4rem; text-align: right;display: inline-block;margin-right: }*/
.cancel_info li em.sym{color: #E30000;font-size: .32rem}
.cancel_info li input{border: 0;font-size: .28rem;color: #333}
.cancel_info li input#reason{float: right;text-align: right;}
.cancel_info li input#cancel_price{color: #E30000;font-size: .32rem;}
.cancel_info li p.maxMoney{font-size: .26rem;color: #999;margin-top: .16rem;}

.com-box .fakeDiv{display: flex;float: right;align-items: center;margin-top: .02rem}
.com-box .choose .text{display: inline-block;color: #999;font-size: .28rem;}

/**/
/*确认服务申请售后*/
.com-box .cancel_reason3{color: #45464f;}
.com-box .cancel_reason3 .name{float: left;}
.com-box .cancel_reason3 input{float: right;text-align: right;border: 0;color: #45464f;background: #fff;}
.com-box .cancel_reason3 .choose{float: right;}
.com-box .cancel_reason3 .choose i{display: inline-block;width: .14rem;height: .24rem;background:url("../images/homemaking/icon_next.png") no-repeat;background-size: contain;margin-left: .17rem;margin-top: .02rem}

.spec_li{background: #f5f5f7}
.spec_li input{background: #f5f5f7;width: 75%}

.wrap_content4 .proof{font-size: .3rem;color: #404040}

/*图片上传*/
.wrap_content4{margin-top: .2rem;background: #fff;border-radius: .16rem;padding: .22rem .2rem}

.img_box h3{margin-bottom: .32rem;}
.img_box li{width: 1.5rem; height: 1.5rem; border-radius: .1rem; float: left; position: relative; margin-bottom: .2rem;box-sizing: border-box;margin-right: .2rem;}
.img_box li.upload_btn{border: .02rem dashed #BABFCA;}
.img_box li:nth-child(4n){margin-right: 0; }
.img_show {width: 100%; height: 100%; border-radius: .1rem; overflow: hidden; position: relative;}
.del_btn{width: .32rem; height: .32rem; border-radius: 50%; background-color: rgba(0,0,0,1); position: absolute;top: -.1rem; right: -.1rem; color: #fff; font-size: .38rem; text-align: center;  font-style: normal; line-height: .32rem; transform: rotate(45deg);}
.img_box img,.img_show video{width: 100%;display: block;}
.imgshow_box p{ background-color: rgba(0,0,0,.8); color: #fff; position: absolute; bottom: 0; text-align: center; }
.upload_btn p,.addbtn p{font-size: .2rem; color: #BABFCA; text-align: center;width: 1.1rem; margin: auto; line-height: 1.25em;}
.upload_btn img,.addbtn img{width: .46rem; height: .46rem; margin: auto; display: block; margin-top: .22rem; margin-bottom: .1rem;}
.upload_btn input{width: 1.5rem; height: 1.5rem; position: absolute; top: 0; left: 0; opacity: 1;z-index: 10;}
.upload_btn,.addbtn{position: relative;}
#filePicker{height: 100%; overflow: hidden;}
.webuploader-element-invisible {position: absolute !important; clip: rect(1px,1px,1px,1px);}
.webuploader-container div {width: 1.5rem; height: 1.5rem;}


/*提交*/
.cancel_desc{width: 100%;box-sizing: border-box;background: #fff;border-radius: .16rem;padding: .22rem .2rem}
.cancel_desc textarea{width: 100%;border: none;font-size: .26rem;color: #45464f;margin-top: .26rem;min-height: .74rem;resize: none}
.cancel_desc textarea::placeholder{color: #999}

.cancel_submit{margin: .36rem .24rem;}
.cancel_submit a{height:.88rem;line-height:.88rem;color:#fff;font-size:.32rem;text-align:center;display: block;width: 100%;border-radius: .44rem;background: #FA6353;}
.cancelprice:disabled{background-color: #fff;}


/*信息提示框*/
.error{position: fixed;  background-color: rgba(0,0,0,.87); border-radius: .2rem; color: #fff; font-size: .26rem;height: 1rem; line-height: 1rem; text-align: center; padding: 0 .5rem; z-index: 1000000; left: 50%; top: 50%; margin-top: -.5rem;transform: translate(-50%,-50%);white-space: nowrap;display: none;}



/*原因弹窗*/
.mobileSelect-show{    position: fixed;left: 0;right: 0;bottom: 0;}
.mobileSelect-show .content{border-radius:.2rem .2rem 0px 0px;overflow: hidden;position: absolute !important;}
.mobileSelect .content .btnBar{height: 1rem;line-height: 1rem;background: #F7F8FA;/*border-radius:.2rem .2rem 0px 0px;*/border-bottom: none}
.mobileSelect .content .btnBar .title{font-size: .28rem;color: #999;}
.mobileSelect .content .btnBar .ensure{color: #3378FF;font-size: .28rem;font-weight: bold;}
.mobileSelect .content .btnBar .cancel{font-size: .28rem;color: #999;font-weight: bold;}
.mobileSelect .content .panel .wheels{height: 246px}
.mobileSelect .content .panel .wheel .selectContainer li{font-size: .3rem;color: #808080}
.mobileSelect .content .panel .wheel .selectContainer li.onchose{font-weight: bold;color: #000;font-size: .36rem}

