[v-cloak]{display: none !important;}
.Shell{min-height: 100vh;background-color: #F7F9FC;}
.Shell.app .topTitle{display: none;}
.Shell.app .multipleItem._0{margin-top: 0;}
.select{width: .32rem;height: .32rem;background: #FFFFFF;border-radius: .08rem;border: .02rem solid #BBBCC4;position: absolute;top:50%;right: .3rem;box-sizing: border-box;transform: translateY(-50%);}
.active .select{border: 0;background: url(../images/travel/newConfirm.png) no-repeat;background-size: cover;}
.topTitle{position: relative;display: flex;align-items: center;justify-content: center;height: .88rem;background-color: white;}
.topTitle div{width: 1rem;height: .9rem;position: absolute;left: 0;top: 50%;transform: translateY(-50%);display: flex;align-items: center;justify-content: center;}
.topTitle div img{width: .4rem;height: .4rem;}
.topTitle span{font-weight: bold;font-size: .36rem;color: #000000;}
.onlyOne{width: 100%;background: #FFFFFF;border-radius: .2rem;position: relative;display: flex;box-sizing: border-box;flex-direction: column;justify-content: center;}
.o-title{font-weight: bold;font-size: .36rem;color: #171921;}
.o-tip{font-weight: 500;font-size: .28rem;color: #999999;margin-top: .1rem;}
.multipleItem{background: #FFFFFF;border-radius: .2rem;margin-top: .2rem;padding: .3rem .3rem .4rem;}
.m-list{background: #FFFFFF;border-radius: .20rem;border: .01rem solid #EEEEEE;overflow: hidden;margin-top: .3rem;}
.ml-item{height: .98rem;display: flex;align-items: center;justify-content: space-between;padding: 0rem .3rem;position: relative;border-bottom: .01rem solid #EEEEEE;}
.ml-item span{font-weight: 500;font-size: .28rem;color: #333333;}
.ml-item.active span{color: #00B365;}
.ml-item:last-of-type{border: 0;}
.warnTip{display: flex;align-items: center;margin-top: .28rem;padding-left: .4rem;}
.warnTip span{font-weight: 500;font-size: .24rem;color: #9DA0A6;}
.warnTip img{width: .26rem;height: .26rem;margin-right: .06rem;}
.saveBtn{height: .8rem;width: calc(100% - .6rem);;background: linear-gradient(90deg, #00CB72 0%, #00AF62 100%);border-radius: .4rem;margin: 0rem .32rem 0rem .28rem;display: flex;align-items: center;justify-content: center;font-weight: bold;font-size: .32rem;color: #FFFFFF;position: fixed;left: 0;bottom: calc(env(safe-area-inset-bottom) + .2rem);}
.saveBtn.ban{opacity: .3;}
.popTip{width: 3rem;height: .9rem;background: rgba(26, 26, 26, .95);border-radius: .2rem;position: fixed;top: 40%;left: 50%;transform: translate(-50%,-50%);display: flex;align-items: center;justify-content: center;font-weight: 500;font-size: .26rem;color: #FFFFFF;}
.warnPop{position: fixed;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0, .5);z-index: 100;display: flex;align-items: center;justify-content: center;}
.w-content{width: 5.6rem;background: #FFFFFF;box-shadow: 0 .07rem .37rem 0rem rgba(0,0,0,0.13);border-radius: .3rem;display: flex;flex-direction: column;animation: show .3s;padding-top: .5rem;margin-bottom: 3rem;}
.wc-title{flex: 1;display: flex;flex-direction: column;align-items: center;justify-content: center;}
.wc-title .title{font-weight: bold;font-size: .34rem;color: #000000;}
.wc-title .tip{font-weight: 500;font-size: .26rem;color: #FF4F38;margin-top: .2rem;}
.wc-btn{height: .88rem;box-sizing: border-box;border-top: .01rem solid #DCDCDE;display: flex;margin-top: .6rem;}
.wc-btn div{display: flex;align-items: center;justify-content: center;font-weight: bold;font-size: .3rem;width: 50%;}
.wc-btn .cancel{color: #000000;border-right: .01rem solid #DCDCDE;box-sizing: border-box;}
.wc-btn .confirm{color: #FF4F38;}
@keyframes show{
    from{
      opacity: 0;
      transform: translateY(.1rem);
    }
    to{
      opacity: 1;
      transform: translateY(0rem);
    }
  }