input,button{
	border: none;
	outline: none;
}

.same {
	width: 94%;
	margin: 0 auto;
	background-color: #fff;
}

/*头部*/
.header{background: #fff;height: .9rem;display: -webkit-box;border-bottom:none}
.header-l a{display: table-cell;vertical-align: middle;height: .9rem;width: 1rem;}
.header-l a img{display: block;height: .5rem;width: auto;margin: 0 auto;}
.header-c{-webkit-box-flex: 1;text-align: center;font-size: .34rem;line-height: .9rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;font-size: 0.34rem;font-weight: bold;}
.header-r{display: -webkit-box; visibility: hidden;}
.header-r a{display: table-cell;width: .8rem;height: .9rem;vertical-align: middle;}
.header-r .yun img{display: block;width: .55rem;height: auto;margin: 0 auto;}
.header-r .screen img{display: block;width: .45rem;height: auto;margin: 0 auto;}


.sameBox {
	line-height: 1.4rem;
	background-color: #F7F7F7;
	border-radius: 0.3rem;
	margin-top: 0.2rem;
	display: flex;
	justify-content: space-between;
}

.sameDiv {
	font-size: 0.3rem;
	display: flex;
	font-weight: bold;
	margin-left: 0.4rem;
	align-items: center;
}

.sameDiv>div {
	display: flex;
	flex-direction: column;
	line-height: 0.4rem;
}

.sameDiv>div>em {
	font-size: 0.3rem;
	font-weight: bold;
}

.sameDiv>div>span {
	font-size: 0.26rem;
	color: #999999;
}

.sameBox .arrow::after {
	content: '';
	display: inline-block;
	box-sizing: border-box;
	width: 0.2rem;
	height: 0.2rem;
	border-color: rgb(153, 153, 153);
	border-style: solid;
	border-width: 0.05rem 0.05rem 0 0;
	transform: rotate(45deg);
	margin-right: 0.3rem;
}

.sameIcon {
	display: inline-block;
	width:0.72rem;
	height:0.72rem;
	margin-bottom:0.036rem;
	margin-right:0.18rem;
}
.selectAccountContent:last-child{
	margin-bottom: 0.5rem;
}
.selectAccount .selectAccountTitlte {
	width:3.6rem;
	margin: 0 auto;
	text-align: center;
	color: #999;
	line-height: 0.9rem;
}
.addNewAccount{
	width: 5.45rem;
	margin: 0 auto;
	text-align: center;
	color: #999;
	line-height: 0.9rem;
}
.addNewAccount::after{
	content: '';
	display:inline-block;
	border-bottom: 1px solid #E6E6E6;
	width: 1.6rem;
	margin-left: 0.18rem;
	margin-bottom: 0.1rem;
}
.addNewAccount::before{
	content: '';
	display:inline-block;
	border-bottom: 1px solid #E6E6E6;
	width: 1.6rem;
	margin-right: 0.18rem;
	margin-bottom: 0.09rem;
}
.weixin div>span:first-child {
	background: url(../images/withdraw/weixin.png) no-repeat;
	background-size: cover;
}

.alipay>div>span:first-child {
	background: url(../images/withdraw/alipay.png) no-repeat;
	background-size: cover;
}

.bank>div>span:first-child {
	background: url(../images/withdraw/bank.png) no-repeat;
	background-size: cover;
}
.weixinTip{
	margin-top: 0.18rem;
	font-size: 0.23rem;
	color: #999999;
	margin-bottom: 0.3rem;
	text-align: center;
}
.weixinTip span{
	font-size: 0.25rem;
	color: #F6272E;
}
.addAlipayorBank{
	height: 0.9rem;
	width: 94%;
	margin: 0 auto;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 0.26rem;
	line-height: 0.9rem;
	border-radius: 0.8rem;
	background: linear-gradient(-90deg, #39342E 0%, #2B2721 100%);
	margin-top: 0.54rem;
	margin-bottom: 0.36rem;
}
.content {
	margin-top: 0.36rem;
}

.content>span {
	font-size: 0.26rem;
	color: #333;
}

.amount {
	margin-top: 0.18rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #eee;
	padding-bottom: 0.18rem;
}

.amount label {
	display: flex;
	align-items: center;
}

.amount div {
	font-weight: bold;
}

.amount span:first-child {
	font-size: 0.5rem;
	line-height: 0.36rem;
}

.amount input {
	font-size: 0.56rem;
	width: 80%;
}

.amount span:nth-child(2),.amount span:nth-child(3) {
	width: 3rem;
	font-size: 0.25rem;
	color: #999;
	text-align: right;
}

.maxAmount {
	margin-top: 0.27rem;
	font-size: 0.26rem;
}

.maxAmount span:first-child {
	color: #999;
}

.maxAmount .allWithdraw {
	color: #39342E;
	font-weight: bold;
}
.withdrawLimit{
	display: flex;
	width: 4.5rem;
	line-height: 0.8rem;
	align-items: center;
	justify-content: center;
	background-color: #FFF0F0;
	margin-left: 0.18rem;
	margin-top: 0.28rem;
	border-radius: 0.28rem;
}
.withdrawLimit span:first-child {
	display: inline-block;
	width: 0.36rem;
	height: 0.36rem;
	background: url(../images/withdraw/withdrawLimit.png);
	background-size: cover;
	margin-right: 0.1rem;
}
.withdrawLimit span:last-child{
	color: #DE2C2C;
	font-size: 0.27rem;
}
.withdrawTips {
	margin-top: 0.9rem;
	color: #808080;
}

.withdrawTips div:first-child {
	display: flex;
	align-items: center;
	margin-bottom: 0.27rem;
}

.withdrawTips span:first-child {
	display: inline-block;
	width: 0.36rem;
	height: 0.36rem;
	background: url(../images/withdraw/query.png) no-repeat;
	background-size: cover;
}

.withdrawTips span:last-child {
	font-size: 0.32rem;
}

.withdrawText {
	font-size: 0.24rem;
}
.rageColor{
	color: #F6262F;
}
/* 提交按钮 */
.submitBtn {
	height: 0.9rem;
	width: 94%;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 0.3rem;
	line-height: 0.9rem;
	border-radius: 0.45rem;
	background: linear-gradient(-90deg, #F6252F 0%, #FF4621 100%);
	position: fixed;
	bottom: 0.54rem;
	left: 50%;
	transform: translateX(-50%);
}

.btnNoClick{
	opacity: 0.3;
}