.same {
	width: 90%;
	margin: 0 auto;
	background-color: #fff;
}
html{
	background-color: #f7f7f7 !important;
}

/*头部*/
.header{background: #fff;height: .9rem;display: -webkit-box;}
.header-l a{display: table-cell;vertical-align: middle;height: .9rem;width: 1rem;}
.header-l a img{display: block;height: .5rem;width: auto;margin: 0 auto;}
.header-c{-webkit-box-flex: 1;text-align: center;font-size: .34rem;line-height: .9rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;font-size: 0.34rem;font-weight: bold;margin-left: -0.36rem;}
.header-r{display: -webkit-box; visibility: hidden;}
.header-r a{display: table-cell;width: .8rem;height: .9rem;vertical-align: middle;}
.header-r .yun img{display: block;width: .55rem;height: auto;margin: 0 auto;}
.header-r .screen img{display: block;width: .45rem;height: auto;margin: 0 auto;}

.content{
	background-color: #fff;
	overflow: hidden;
	margin-top: 0.18rem;
	border-radius: 0.27rem;
	padding-top: 0.27rem;
	padding-bottom: 0.27rem;
}
.left{
	float: left;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 0.27rem;
}
.right{
	float: right;
	display: flex;
	flex-direction: column;
	margin-top: 0.03rem;
	margin-right: 0.27rem;
}
.content span{
	margin-top: 0.15rem;
}
.left img{
	width: 0.72rem;
	height: 0.72rem;
	margin-right: 0.18rem;
}
.left >div {
	display: flex;
	flex-direction: column;
}
.left >div>span:first-child {
	font-size: 0.32rem;
	color: #212121;
}
.left >div>span:last-child {
	color: #B3B3B3;
	font-size: 0.22rem;
}
.right span:first-child{
	font-size: 0.32rem;
	font-weight: bold;
	text-align: right;
}
.right span:last-child{
	text-align: center;
	font-size: 0.22rem;
	color: #B3B3B3;
}
.refuseColor{
	color: #F6262F !important;
}
/* .more{
	width: 1.8rem;
	height: 0.54rem;
	text-align: center;
	line-height: 0.54rem;
	color: #B3B3B3;
	margin: 0.54rem auto;
} */

.more{
	line-height: 2rem; 
	text-align: center; 
	font-size: .3rem;
}
