
body, html{background: #f4f4f4;}
a:hover{text-decoration: none;}

.header-r{visibility: hidden;}

/*文字评价*/
.txtbox{display: -webkit-box; padding: .2rem; background: #fff;}
.txtbox dt{margin-right: .2rem;}
.txtbox dt img{width: 1.5rem; height: 1.5rem; display: block;}
.txtbox dd{-webkit-box-flex: 1;}
.txtbox dd textarea{width: 100%; min-height: 1.5rem; border: 0; outline: 0; font-size: .28rem;}

/*评价状态*/
.widgt{padding: .2rem 0; border-top: 1px solid #e4e4e4; background: #fff; margin-bottom: .2rem; border-bottom: 1px solid #e4e4e4;}
.widgt ul{display: -webkit-box;}
.widgt li{-webkit-box-flex: 1; text-align: center; font-size: .3rem;}
.widgt li a{color: #666;}
.widgt li.hao a{display: inline-block; padding-left: .6rem; background: url(../images/hua1.png) left center no-repeat; background-size: .5rem auto;}
.widgt li.cha a{display: inline-block; padding-left: .6rem; background: url(../images/hua3.png) left center no-repeat; background-size: .5rem auto;}
.widgt li.hao.on a{background: url(../images/hua2.png) left center no-repeat; background-size: .5rem auto; color: #ff6800;}
.widgt li.cha.on a{background: url(../images/hua4.png) left center no-repeat; background-size: .5rem auto; color: #ff6800;}
.imgbox{background: #fff; margin-bottom: 0; padding-bottom: .6rem; border-bottom: 0;}

/*店铺评分*/
.ping{background: #fff;}
.ping .title{font-size: .3rem; padding: .2rem;}
.ping li{padding: 0 .2rem .4rem;}
.ping li span{float: left; font-size: .28rem;}
.ping li .pingfen{float: right; height: .5rem;}
.ping li .pingfen i{ background: url(../images/star.png) center center no-repeat; background-size: contain; display: inline-block; width: .5rem; height: .5rem;}
.ping li .pingfen i.on{ background: url(../images/star1.png) center center no-repeat; background-size: contain;}

.addimg ul{padding: .4rem .2rem;}
.addimg .noimg{width: auto; margin: auto;}

#commonBtn{display: block; width: 100%; text-align: center; padding: .2rem 0; font-size: .3rem; background: #ff6800; color: #fff; margin-top: .2rem;}
.error{line-height: 1rem; font-size: .28rem; text-align: center;}

/*2021-11-11*/
/*商城评价*/
.comment.shop{padding: .2rem;}
.comment.shop .topWrap{background: #fff;border-radius: .2rem;margin-bottom: .2rem;}
.comment.shop .proBox {padding: .2rem 0;margin: 0 .25rem;border-bottom: 1px solid #f5f5f7;}
.comment.shop .proBox .leftImg{width: .8rem;height: .8rem;border-radius: .1rem;overflow: hidden;float: left;}
.comment.shop .proBox .leftImg img{display: block;width: 100%;height: 100%;object-fit: cover;}

.comment.shop .proBox .rInfo{margin-left: .92rem;height: .8rem;}
.comment.shop .proBox .rInfo h3{font-size: .24rem;color: #333;max-width: 100%;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.comment.shop .proBox .rInfo p{font-size: .22rem;color: #808080;margin-top: .18rem;}

.pleased{margin: .2rem .24rem;}
.pleased h2{font-size: .24rem;color: #333;}
.pleased ul{display: flex;margin: .4rem 0;padding: 0 .8rem;justify-content: space-between;}
.pleased li a{display: block;}
.pleased li i{display: block;width: .9rem;height: .9rem;margin: 0 auto }
.pleased li.cha i{background: url(../images/shop/cha.png) center center no-repeat; background-size: cover;}
.pleased li.midPj i{background: url(../images/shop/yiban.png) center center no-repeat; background-size: cover;}
.pleased li.hao i{background: url(../images/shop/good.png) center center no-repeat; background-size: cover;}
.pleased li.cha.on i{background: url(../images/shop/cha2.png) center center no-repeat; background-size: cover;}
.pleased li.midPj.on i{background: url(../images/shop/yiban2.png) center center no-repeat; background-size: cover;}
.pleased li.hao.on i{background: url(../images/shop/good2.png) center center no-repeat; background-size: cover;}

.pleased li p{text-align: center;font-size: .22rem;color: #626366}
.selftxt{font-size: .24rem;color: #333;line-height: .4rem;padding: 0 .24rem;min-height: 2.1rem;-webkit-user-select: auto;}
.selftxt:empty::after{content: attr(placeholder);color:#aaa;}
.selftxt:empty::before{content: '';display: inline-block;width: .3rem;height: .3rem;background: url(../images/shop/pjedit.png) center center no-repeat; background-size: cover;vertical-align: middle;margin-top: -.1rem}
.selftxt:focus{ content:none;}


.comment.shop .addimg ul{padding: 0 .18rem .2rem;}
.comment.shop .imgbox,.comment.shop .img-box{background: none;padding-bottom: 0}

.comment.shop .img-box li.uploadbtn{width: 2.1rem;height: 2.1rem;box-sizing: border-box;border: .02rem dashed #DFDFDF;border-radius: .2rem;background: #FAF9FB; overflow: hidden;}

.comment.shop .img-box li {position: relative; float: left; margin: .2rem .2rem 0 0; width: 2.1rem; height: 2.1rem; box-shadow: none;border-radius: .2rem;}

.comment.shop .img-box li:nth-child(3n){margin-right: 0} 
.comment.shop .img-box .thumbnail img{border-radius: .2rem}
.comment.shop .webuploader-container div {width: 2.1rem; height: 2.1rem;}
.comment.shop .webuploader-pick img{display: block;width: .5rem;height: .5rem;margin: .55rem auto .16rem;}
.comment.shop .webuploader-pick p{text-align: center;font-size: .24rem;color: #424344;line-height: 1}
.img-box .thumbnail .file-panel .cancel{width: .36rem;height: .36rem;background: rgba(0,0,0,.85);margin: -.2rem 0 0 -.14rem;-webkit-transform:rotate(0deg);}
.img-box .thumbnail .file-panel .cancel:before{display: none;}
.img-box .thumbnail .file-panel .cancel:after{width: .2rem;height: .2rem;background: url(../images/off-close.png) center center no-repeat; background-size: cover;    margin: -0.1rem 0 0 -0.1rem;}


.anony{margin: 0 .18rem;font-size: .24rem;color: #424344;padding-bottom: .46rem;}
.anony i{display: inline-block;width: .3rem;height: .3rem;background: url(../images/shop/pjni.png) center center no-repeat; background-size: cover;vertical-align: middle;margin-top: -.04rem;margin-right: .1rem;}
.anony.curr i{background: url(../images/shop/pjni2.png) center center no-repeat; background-size: cover;}

.comment.shop .ping{border-radius: .2rem;padding: .38rem .38rem 0}
.comment.shop .ping li{padding: 0 0 .4rem;display: flex;align-items: center;}
.comment.shop .ping li span{font-size: .26rem;color: #424344}
.comment.shop .ping li .pingfen{margin-left: .36rem;}
.comment.shop .ping li .pingfen i{width: .48rem;height: .48rem;background: url(../images/shop/star1.png) center center no-repeat; background-size: cover;}
.comment.shop .ping li .pingfen i.on{background: url(../images/shop/star2.png) center center no-repeat; background-size: cover;}

.btnCon{padding: .2rem .3rem .6rem;background: #fff;margin-top: .1rem;}
.btnCon #commonBtn{background: linear-gradient(90deg, #F75F42 0%, #F22A18 100%);border-radius: .44rem;padding: .24rem 0;margin-top: 0;font-weight: bold;}

.shopcomSuc{text-align: center;display: none;}
.shopcomSuc img{display: block;width: .74rem;height: .74rem;margin: .7rem auto .25rem;}
.shopcomSuc h2{font-size: .42rem;color: #111;font-weight: bold;}
.shopcomSuc p{font-size: .24rem;color: #999;margin-top: .1rem;}
.shopcomSuc .fanOrder{text-align: center;margin-top: .6rem}
.shopcomSuc .fanOrder a{display: inline-block;border: .01rem solid #E1E1E1;border-radius: .32rem;padding: .13rem .44rem;font-size: .28rem;color: #666;}