body,html{background-color: #F5F5F7; min-width: 1200px;}
ul,a{margin: 0; text-decoration: none !important;}
input{background: none;}
/* body{padding-bottom: 120px} */
/* 头部 */
.topBox{height: 70px; width: 100%; box-shadow: 0px 3px 16px 0px rgba(0, 6, 37, 0.06); background-color: #fff; position: fixed; top: 0; left: 0; right: 0; z-index: 19999; min-width: 1000px;}
.topBox .left_con .line{width: 1px; height: 26px; background-color: #EEEEEE; margin-top: 22px;}
.topBox .left_con .logobox{width: 180px; height: 70px;  vertical-align: middle; text-align: center;}
.topBox .left_con .logobox img{display: inline-block; max-width: 130px; max-height: 100%;  vertical-align: middle;}
.topBox .left_con .logobox s{ display: inline-block; vertical-align: middle; width: 1px; height: 70px;}
.topBox .left_con .title{color: #333; font-size: 18px; padding-left: 24px; line-height: 70px;}
/* .topBox .left_con .title{color: #333; font-size: 22px; padding-left: 24px; line-height: 70px;} */
.topBox .left_con div{float: left; align-items: center;}
.topBox .right_con{float: right; padding-right: 18px; position: relative;display: flex;align-items: center;}
.topBox .right_con .link_to{float: left; margin-left: 30px; font-size: 14px; color: #626366; line-height: 72px; position: relative;}
.topBox .right_con .link_to a{color: #626366;}
.topBox .right_con .link_to s{display: inline-block; width: 18px; height: 18px; background: url(/static/images/supplier/home_icon.png) no-repeat center/cover; vertical-align: middle; margin-right: 4px; margin-bottom: 2px;}
.topBox .right_con .link_to.message_to s{background-image: url(/static/images/supplier/message_icon.png);}
.topBox .right_con .link_to.message_to:hover .hoverbox{display: block;}
.topBox .right_con .link_to.message_to .hoverbox{width: 200px; min-height: 150px; background-color: #fff; border-radius: 8px; border: 1px solid #EDEDED; box-shadow: 0px 8px 40px 0px rgba(0,15,77,0.1); position: absolute; right: -33px; display: none;  -webkit-animation: topFadeIn .3s ease-out; -moz-animation: topFadeIn .3s ease-out; animation: topFadeIn .3s ease-out;}
.topBox .right_con .link_to.message_to .hoverbox li a{line-height: 44px !important; color: #333; line-height: 44px; padding: 0 22px; display: block; position: relative;}
.topBox .right_con .link_to.message_to .hoverbox li:hover{background: #F0F6FF;}
.topBox .right_con .link_to.message_to .hoverbox li em{display: block; float: right; line-height: 16px; border-radius: 8px; color: #fff; background-color: #FF476C; font-size: 12px; padding: 0 4px; position: absolute; right: 20px; top: 0; bottom: 0; margin: auto; height: 16px;}
.topBox .right_con .link_to.message_to .link em{display: block; float: right; line-height: 16px; border-radius: 8px; color: #fff; background-color: #FF476C; font-size: 12px; padding: 0 4px; position: absolute; left: 100%; top: 24px; margin-left: -2px;}

.topBox .right_con .user{cursor: pointer; float: left;margin-left: 52px; position: relative;}
.topBox .right_con .user_icon{width: 36px; height: 36px; display: inline-block; vertical-align: middle; margin-right: 4px;}
.topBox .right_con .user_icon img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.topBox .right_con .nickname{font-size: 15px; color: #333; display: inline-block; vertical-align: middle; line-height: 72px; max-width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.topBox .right_con .arr{display: inline-block; width: 12px; height: 12px; background: url(/static/images/supplier/arr.png) no-repeat center/cover; vertical-align: middle;}
.topBox .change_account{font-size: 14px;  width: 130px; height: 60px; box-shadow: 0px 2px 8px 0px rgba(101, 115, 129, 0.3);border-radius: 6px;  text-align: center; line-height: 60px; position: absolute; right: 12px; display: none; -webkit-animation: topFadeIn .2s ease-out; -moz-animation: topFadeIn .2s ease-out; animation: topFadeIn .2s ease-out; background-color: #fff; box-sizing: border-box; padding: 9px 0;}
.topBox .change_account a{display: block; color: #848999; height: 42px; line-height: 42px;}
.topBox .change_account a:hover{color: #2672EC; background-color: #F5F5F7;}
.topBox .change_account a:hover s{background-image: url(/static/images/supplier/change1.png);}
.topBox .change_account s{display: inline-block; width: 20px; height: 20px; background: url(/static/images/supplier/change.png) no-repeat center/cover; vertical-align: middle; margin-right: 5px; }
.right_con .user:hover .change_account{display: block;}

/* 左侧 */
.left_box{width: 210px; height: 100vh; background-color: #fff; position: fixed; left: 0; top: 0; box-sizing: border-box; padding-top: 95px; z-index: 11;}
.left_box li{font-size: 14px; margin-bottom: 8px; }
.left_box li a{display: block; color: #555; padding-left: 24px; width: 170px; height: 40px; line-height: 40px; margin: auto; box-sizing: border-box;}
.left_box li.curr a{color: #fff; background: #306BFF;box-shadow: 0px 8px 10px 0px rgba(6, 112, 214, 0.2);border-radius: 6px;}
.left_box li s{display: inline-block; width: 20px; height: 20px; vertical-align: middle;}
.left_box li s img{display: block; width: 100%; height: 100%; object-fit: cover; }


/* 右侧公共 */
.right_box{margin-left:210px;   padding-top: 90px;}
.rConBox{min-height: 83vh; border-radius: 10px; background-color: #fff; margin: 0 20px; box-sizing: border-box; }
.rConBox>h3{font-size: 18px; font-weight: bold; color: #333; line-height: 52px; border-bottom: solid 1px #eee; padding-left: 20px; }
.rConBox>h3 span{color: #B1B7CC; font-size: 12px; font-weight: normal; margin-left: 14px}
.rConBox>h3 span em{color: #595C66}
[v-cloak]{display: none !important;}
.foot-bottom .bottom{margin-top: 40px;padding: 10px 0 20px;  padding-left: 210px; font-size: 14px; color: #999; text-align: center; }

@font-face {
	font-family: DINMittelschriftStd;
	src: url('/static/fonts/DINMittelschriftStd.eot'),
		url('/static/fonts/DINMittelschriftStd.ttf'),
		url('/static/fonts/DINMittelschriftStd.otf'),
		 url('/static/fonts/DINMittelschriftStd.woff'); /* IE9 */
}