<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
	<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
	<title>{#$detail_title|default:'简历详情'#}-{#$job_title#}</title>
	<meta name="keywords" content="{#$detail_name#}的个人简历,找人才,找简历,,招聘网,招聘信息,互联网招聘" />
	<meta name="description"
		content="{#$detail_name#}的个人简历,找人才,找简历,,招聘网,求职网,互联网招聘,{#$cfg_shortname#}招聘是互联网领域垂直招聘网站,互联网职业机会尽在{#$cfg_shortname#}招聘" />
	<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}"
		media="all" />
	<link rel="stylesheet" href="{#$cfg_staticPath#}css/ui/swiper-bundle.min.css?v={#$cfg_staticVersion#}">
	<link rel="stylesheet" href="{#$cfg_staticPath#}css/ui/element_ui_index.css?v={#$cfg_staticVersion#}">
	<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}"
		media="all" />
	<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/resume-detail.css?v={#$cfg_staticVersion#}"
		media="all" />
	{#if !$preview#}
	<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/resume-firm.css?v={#$cfg_staticVersion#}"
		media="all" />
	{#/if#}
	<script type="text/javascript" src="{#$cfg_staticPath#}js/vue/vue.min.js?v={#$cfg_staticVersion#}"></script>
	<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/element_ui_index.js?v={#$cfg_staticVersion#}"></script>
	<script type="text/javascript"
		src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js?v={#$cfg_staticVersion#}"></script>
	<script type="text/javascript">
		var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$job_channelDomain#}', staticPath = '{#$cfg_staticPath#}';

		var criticalPoint = 1240, criticalClass = "w1200";
		$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");
		var id = '{#$detail_id#}';
		var userid = '{#$userinfo.userid#}' //勿删
		var imconfig = {
			'mod': 'job',
			'chatid': "{#$detail_userid#}", //职位发布者id
			'description': '',
			"link": '{#getUrlPath service="job" template="resume" id=$detail_id#}', //详情id
		};
		var cid = "{#$job_cid#}";
		var details = {
			'id': {#$detail_id#},
			'unSuit': {#$detail_unSuit#},
			'invitation': {#$detail_invitation#},
			'download': {#$detail_download#},
			'delivery': {#$detail_delivery#},
			'userid': {#$detail_userid#}
		};
		var preview='{#$preview#}';
		if(preview==1&&userid!=details.userid){
			alert('您无法预览他人简历，页面即将关闭');
			window.close();
		};
	</script>
</head>

<body class="w1200" style="background-color: #F7F9FC;">
	{#include file="top.html"#}
	{#if $preview#}
	<div class="noPrint">
		{#$pageMark = "company"#}
		<div class="pagebox" id="page">
			<div class="resumeWrapBox userSelf" v-loading="!resumeDetail" v-cloak>
				<div class="wrap fn-clear">
					<p class="resumeTip" style="margin:24px 0px 20px"><span
							style="margin-right: 20px;">最近更新：{#$detail_update_time|date_format:"%Y-%m-%d"#}</span><span>浏览：{{resumeDetail.click}}</span>
					</p>
					<div class="fn-left resumeInfoContainer">
						<div class="personInfoBox" style="padding-bottom: 28px;">

							<div class="personInfoCon" style="padding-bottom: 0px;">
								<div class=" personInfo">
									<div class="photo fn-left">
										<el-avatar :size="100" :src="resumeDetail.photo_url" shape="circle">
											<img src="/static/images/noPhoto_100.jpg" />
										</el-avatar>
										<div class="onlineBox"><span class="onLine">当前在线</span></div>
									</div>
									<div class="info">
										<h4 class="username">{{resumeDetail.name}}</h4>
										<p class="userInfo"><span>{{resumeDetail.sex_name}}</span><em v-if="resumeDetail.edu_tallest_name">|</em><span>{{resumeDetail.edu_tallest_name}}</span><em>|</em><span v-if="resumeDetail.work_jy_name">{{resumeDetail.work_jy_name.replace('工作经验','')}}工作经验</span><em>|</em><span>{{resumeDetail.workState_name}}</span>
										</p>
										<p class="userContact">
											<span class="phone"><s></s>{{resumeDetail.phone}}{#if $detail_phoneCheck==1#}<span style="display: inline;color: #4D70B5;font-size: 12px;">(已验证)</span>{#/if#}</span>
											{#if $detail_userid==$userinfo.userid||$detail_buy==1#}
											<span class="email" v-if="resumeDetail.email"><s></s>{{resumeDetail.email}}</span>
											<span class="wechat" v-if="resumeDetail.wechat"><s></s>{{resumeDetail.wechat}}</span>
											{#/if#}
										</p>
									</div>
								</div>

								<div class="optBox">
									<ul class="fn-clear">
										<li class="share_btn">
											<s class="icon"></s>
											<p class="text">分享</p>
											<div class="popver_app">
												<h4>转发分享简历</h4>
												<div class="qrCode">
													<img src="/include/qrcode.php?data={#getUrlPath service='job' template='resume' param="
														id=$detail_id&{#if $userinfo &&
														$userinfo.userid#}fromShare={#$userinfo.userid#}{#/if#}"#}">
												</div>
												<p><span>手机/微信</span>扫码转发简历</p>
											</div>
										</li>
										<li class="save_btn">
											<a href="{#if $detail_download!=0||$userinfo.userid==$detail_userid#}/include/ajax.php?service=job&action=downloadResume&id={#$detail_id#}&local=1{#else#}javascript:;{#/if#}"
												@click="saveFn()">
												<s class="icon"></s>
												<p class="text">存至本地</p>
											</a>
										</li>
										<li class="print_btn" @click="printFn()">
											<s class="icon"></s>
											<p class="text">打印</p>
										</li>
									</ul>
								</div>
							</div>
							{#if $detail_advantage&&count($detail_ad_tag)>0#}
							<!-- 个人优势 -->
							<div class="superiority">
								{#if $detail_advantage#}
								<div>个人优势：<span>{#str_replace("\n","<br>",$detail_advantage)#}</span></div>
								{#/if#}
								{#if count($detail_ad_tag)>0#}
								<ul>
									{#foreach from=$detail_ad_tag item="item"#}
									<li>{#$item#}</li>
									{#/foreach#}
								</ul>
								{#/if#}
							</div>
							{#/if#}
							<!-- 简历核验 -->
							<div class="advantage"
								v-if="resumeDetail.certifyState || resumeDetail.phoneCheck"
								style="height: 40px;background: linear-gradient(to right,#F0F5FF 0%,white 100%);border-radius: 8px;padding: 0px 21px;margin-top: 16px;">
								<p style="color:#111421;font-size: 14px;font-weight: bold;margin-right: 35px;">简历核验</p>
								<div style="color:#4D70B5;font-size:12px;display: flex;align-items: center;margin-right: 18px;" v-if="resumeDetail.certifyState">
									<img src="{#$templets_skin#}images/name_icon.png"
										style="width: 20px;height: 20px;">实名认证</div>
								<div style="color:#4D70B5;font-size:12px;display: flex;align-items: center;" v-if="resumeDetail.phoneCheck"><img
										src="{#$templets_skin#}images/phone_icon1.png"
										style="width: 20px;height: 20px;">手机认证</div>
							</div>
						</div>

						<!-- 简历详情 -->
						<div class="resumeDetailContainer">
							<div class="resumeDetailBox">


								<!-- 简历详情 -->
								<div class="resumeDetail">
									<!-- 求职意向 -->
									<dl class="intention">
										<dt><span>求职意向</span></dt>
										<dd class="fn-clear" style="padding-bottom: 10px;">
											<div>
												<p class="salary" style="color: #333333;font-weight: bold;font-size: 16px;"><span style="color: #1975FF;font-size: 16px;margin-right: 10px;">{#if $detail_min_salary||$detail_max_salary#}{#$detail_show_salary#}{#else#}暂未填写薪资要求{#/if#}</span>{#foreach from=$detail_job_name
													item="item" key="index"#}{#$item#}{#if count($detail_job_name)!=$index
													+1#}、{#/if#}{#/foreach#}
												</p>
												{#if $detail_type_name||$detail_addr_list_Name||$detail_nature_name||$detail_startWork_name#}
												<p class="exp" style="color: #666666;font-size: 14px;margin-top: 8px;">{#foreach from=$detail_addr_list_Name item=item key="index"#}{#if count($detail_addr_list_Name)-3<$index#}{#$item#}{#/if#}{#/foreach#}
													{#$detail_startWork_name#} <span style="font-size: 12px;color: #CCCCCC;margin: 0px 8px;">|</span> {#foreach from=$detail_type_name item=item
													key=index#}{#$item#}{#if count($detail_type_name)!=$index +1#}、{#/if#}{#/foreach#}
													<span style="font-size: 12px;color: #CCCCCC;margin: 0px 8px;">|</span> {#$detail_nature_name#}
												</p>
												{#/if#}
											</div>
										</dd>
									</dl>

									<!-- 教育背景 -->
									<dl>
										<dt><span>教育背景</span></dt>
										<dd class="timeline_dd">
											<el-timeline v-if="resumeDetail&&resumeDetail.education.length>0">
												<el-timeline-item v-for="item in resumeDetail.education"
													:hide-timestamp="true" :timestamp="item.start" placement="top">
													<h4>{{item.school}} <span
															style="margin-left:10px;vertical-align: 0px;">{{item.zy}}</span>
													</h4>
													<p><span>{{item.xl}}</span><em>|</em><span>{{item.start.replace(/-/g,'.')}}
															- {{item.end.replace(/-/g,'.')}}</span></p>
												</el-timeline-item>
											</el-timeline>
											<div v-else  style="font-size: 14px;color: #666666;">暂无教育背景</div>
										</dd>
									</dl>

									<!-- 工作经历 -->
									<dl class="work_jl">
										<dt><span>工作经历</span></dt>
										<dd class="timeline_dd">
											<el-timeline v-if="resumeDetail.work_jl && resumeDetail.work_jl.length">
												<el-timeline-item v-for="item in resumeDetail.work_jl"
													:hide-timestamp="true" :timestamp="item.start" placement="top">
													<h4>{{item.company}} <span
															style="margin-left:10px;vertical-align: 0px;">{{item.job}}</span>
													</h4>
													<p><span>{{item.department}}</span><em
															v-if="item.department&&(item.work_start||item.work_end)">|</em><span>{{item.work_start.replace(/-/g,'.')}}
															- {{item.work_end.replace(/-/g,'.')}}
															({{item.work_time_count}})</span></p>
													<div class="workCon" v-if="item.content">
														<h5>工作内容：</h5>
														<div class="work_content" v-html="item.content.replaceAll('\r\n','<br>')"></div>
													</div>
												</el-timeline-item>
											</el-timeline>
											<div v-else  style="font-size: 14px;color: #666666;">暂无工作经历</div>
										</dd>
									</dl>
									<!-- 语言能力 -->
									<dl
										v-if="resumeDetail.skill && resumeDetail.skill.lng && resumeDetail.skill.lng.length">
										<dt><span>语言能力</span></dt>
										<dd>
											<ul class="ul_text">
												<li v-for="lng in resumeDetail.skill.lng"><label
														for="">{{lng.lang}}</label>
													<p>
														<span>掌握程度：听说{{lng.level_speak}}
															读写{{lng.level_read}}</span><span v-if="lng.certificate"><em>|</em><span>证书：{{lng.certificate}}</span></span>
													</p>
												</li>
											</ul>
										</dd>
									</dl>
									<!-- 专业证书 -->
									<dl
										v-if="resumeDetail.skill && resumeDetail.skill.ski && resumeDetail.skill.ski.length" style="margin-bottom: 40px;">
										<dt><span>专业证书</span></dt>
										<ul class="ul_text">
											<li v-for="ski in resumeDetail.skill.ski">
												<p><span style="font-weight: bold;font-size: 17px;margin-right: 16px;color: #333;">{{ski.certificateType}}</span><span v-if="ski.cer_fullName"><span>证书：{{ski.cer_fullName}}</span><em>|</em></span><span>获取时间：{{ski.time}}年</span>
												</p>
											</li>
										</ul>
									</dl>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{#else#}
	<div class="Shell">
		<!-- 更新日期 -->
		<div class="update">{#if $detail_update_time#}最近更新：{#$detail_update_time|date_format:"%Y-%m-%d"#}{#/if#}<span>浏览：{#$detail_click#}</span></div>
		<!-- 简历内容 -->
		<div class="conResume">
			<!-- 简历详情 -->
			<div class="c-left">
				<!-- 求职者信息 -->
				<div class="cl-details">
					<!-- 基本信息 -->
					<div class="cld-base">
						<div class="left">
							<img src="{#$detail_photo_url#}" onerror="this.src='/static/images/noPhoto_100.jpg'">
							{#if $detail_loginState==1#}
							<div>当前在线</div>
							{#elseif $detail_loginState==2#}
							<div>今日活跃</div>
							{#elseif $detail_unSuit==1#}
							<i></i>
							<div class="gray">不合适</div>
							{#/if#}
						</div>
						<div class="right">
							<div class="name">
								<p>{#$detail_name#}</p>
								{#if $detail_delivery==1#}
								<div class="label">
									已投递 <div class="remind"><span>投递标识：</span>表示该求职者已向我司投递简历，如选择回绝，将通知对方且无法撤回，请谨慎操作
									</div>
								</div>
								{#/if#}
							</div>
							<div class="exp">
								{#$detail_sex_name#}{#if $detail_sex_name&&$detail_age#}<span>|</span>{#/if#}{#$detail_age#}岁{#if $detail_age&&$detail_edu_tallest_name#}<span>|</span>{#/if#}{#$detail_edu_tallest_name#}{#if $detail_edu_tallest_name&&$detail_work_jy_name#}<span>|</span>{#/if#}{#str_replace("工作经验","",$detail_work_jy_name)#}工作经验{#if $detail_work_jy_name&&$detail_workState_name#}<span>|</span>{#/if#}{#$detail_workState_name#}
							</div>
							{#if $detail_buy==1#}
							<ul>
								<li>
									<img src="{#$templets_skin#}images/phone_icon.png">
									<span>{#$detail_phone#} {#if $detail_phoneCheck==1#}<span>(已验证)</span>{#/if#}</span>
								</li>
								{#if $detail_email#}
								<li>
									<img src="{#$templets_skin#}images/email_icon.png">
									<span>{#$detail_email#}</span>
								</li>
								{#/if#}
								{#if $detail_wechat#}
								<li>
									<img src="{#$templets_skin#}images/wechat_icon.png">
									<span>{#$detail_wechat#}</span>
								</li>
								{#/if#}
							</ul>
							{#else#}
							<ul>
								<li>
									<img src="{#$templets_skin#}images/phone_icon.png">
									<span>{#$detail_phone#} {#if $detail_phoneCheck==1#}<span>(已验证)</span>{#/if#}</span>
								</li>
							</ul>
							{#/if#}
						</div>
					</div>
					<!-- 其他信息 -->
					<div class="cld-other">
						{#if $detail_advantage#}
						<p><span>个人优势：</span>{#str_replace("\n","<br>",$detail_advantage)#}</p>
						{#/if#}
						{#if count($detail_ad_tag)>0#}
						<ul>
							{#foreach from=$detail_ad_tag item="item"#}
							<li>{#$item#}</li>
							{#/foreach#}
						</ul>
						{#/if#}
						{#if $detail_certifyState||$detail_phoneCheck#}
						<div class="label">
							<span>简历核验</span>
							{#if $detail_certifyState==1#}
							<div class="item">
								<img src="{#$templets_skin#}images/name_icon.png">
								<div>实名认证</div>
							</div>
							{#/if#}
							{#if $detail_phoneCheck==1#}
							<div class="item">
								<img src="{#$templets_skin#}images/phone_icon1.png">
								<div>手机验证</div>
							</div>
							{#/if#}
						</div>
						{#/if#}
					</div>
					<!-- 购买标签 -->
					{#if $detail_download==1#}<div class="cld-label">已购买</div>{#/if#}
				</div>
				<!-- 详情 -->
				<div class="cl-exp">
					<!-- 求职意向 -->
					<div class="cle-purpose">
						<p class="title">求职意向</p>
						<div>
							<p class="salary"><span>{#if $detail_min_salary||$detail_max_salary#}{#$detail_show_salary#}{#else#}暂未填写薪资要求{#/if#}</span>{#foreach from=$detail_job_name
								item="item" key="index"#}{#$item#}{#if count($detail_job_name)!=$index
								+1#}、{#/if#}{#/foreach#}</p>
							{#if $detail_addr_list_Name||$detail_startWork_name||$detail_type_name||$detail_nature_name#}
							<p class="exp">{#foreach from=$detail_addr_list_Name item=item key="index"#}{#if count($detail_addr_list_Name)-3<$index#}{#$item#}{#/if#}{#/foreach#}
								{#$detail_startWork_name#} <span>|</span> {#foreach from=$detail_type_name item=item
								key=index#}{#$item#}{#if count($detail_type_name)!=$index +1#}、{#/if#}{#/foreach#}
								<span>|</span> {#$detail_nature_name#}</p>
							{#/if#}
						</div>
					</div>
					<!-- 教育背景 -->
					<div class="cle-edu">
						<p class="title">教育背景</p>
						{#if count($detail_education)>0#}
						<ul>
							{#foreach from=$detail_education item=item#}
							<li>
								<p>{#$item.school#} <span
										style="margin-left:10px;vertical-align: 0px;">{#$item.zy#}</span></p>
								<div>{#$item.xl#} <span>|</span>
									{#'-'|str_replace:'.':$item.start#}-{#'-'|str_replace:'.':$item.end#}</div>
							</li>
							{#/foreach#}
						</ul>
						{#else#}
						<div style="font-size: 14px;color: #666666;margin-top: -10px;">暂无教育背景</div>
						{#/if#}
					</div>
					<!-- 工作经历 -->
					<div class="cle-exp">
						<p class="title">工作经历</p>
						{#if count($detail_work_jl)>0#}
						<ul>
							{#foreach from=$detail_work_jl item=item#}
							<li>
								<p>{#$item.company#} <span style="margin-left:10px">{#$item.job#}</span></p>
								<div class="edu">{#$item.department#} {#if
									($item.work_start||$item.work_end)&&$item.department#}<span>|</span>{#/if#}
									{#'-'|str_replace:'.':$item.work_start#} - {#'-'|str_replace:'.':$item.work_end#} ({#$item.work_time_count#})</div>
								{#if $item.content#}
								<div class="job">
									<div style="margin-bottom: 8px;">工作内容：</div>
									<div style="line-height: 26px;">{#$item.content#}</div>
								</div>
								{#/if#}
							</li>
							{#/foreach#}
						</ul>
						{#else#}
						<div style="font-size: 14px;color: #666666;margin:-10px 0px 30px;">暂无工作经历</div>
						{#/if#}
					</div>
					<!-- 语言能力 -->
					{#if $detail_skill->lng#}
					<div class="cle-ability">
						<p class="title">语言能力</p>
						<ul>
							{#foreach from=$detail_skill->lng item=item#}
							<li>
								<span class="name">{#$item->lang#}</span>
								<span class="intro">掌握程度：听说{#$item->level_speak#} 读写{#$item->level_read#} <span>|</span>
									证书：{#$item->certificate#}</span>
							</li>
							{#/foreach#}
						</ul>
					</div>
					{#/if#}
					<!-- 专业证书 -->
					{#if $detail_skill->ski#}
					<div class="cle-ability">
						<p class="title">专业证书</p>
						<ul>
							{#foreach from=$detail_skill->ski item=item#}
							<li>
								<span style="font-size: 15px;font-weight: bold;">{#$item->certificateType#}</span>
								<span class="name">{#$item->certificate#}</span>
								<span class="intro">证书：{#$item->cer_fullName#} <span>|</span>
									获得时间：{#$item->time#}年</span>
							</li>
							{#/foreach#}
						</ul>
					</div>
					{#/if#}
				</div>
			</div>
			<!-- 简历操作 -->
			<div class="c-right">
				<!-- 上半部分 -->
				<div class="cr-operate">
					<!-- 沟通 -->
					<div class="cro-talk">
						<p>招聘意向</p>
						<div>
							<span class="active">沟通职位</span>
							<span class="active">购买简历</span>
							<span {#if $detail_invitation==1#}class="active" {#/if#}>邀请面试</span>
						</div>
					</div>
					<!-- 按钮操作 -->
					<div class="cro-btn">
						<!-- 面试相关的按钮 -->
						<div class="btn1" {#if $detail_unSuit==1#}style="display: none;" {#/if#}>
							<div class="invite {#if $detail_invitation==1#}had{#/if#}">
								<img src="{#$templets_skin#}images/talkW.png">
								<span>邀请面试</span>
								<p>已邀请面试</p>
							</div>
							{#if $detail_download==0#}
							<div class="talk chat_to-Link">聊一聊</div>
							{#else#}
							<div class="talk chat_to-Link" {#if
								$detail_download==1#}style="margin-right:12px;flex-grow:.5" {#/if#}>
								<img src="{#$templets_skin#}images/talkBlu.png">聊一聊
							</div>
							{#/if#}
							{#if $detail_download==0#}<div class="phone">查看电话</div>{#/if#}
							{#if $detail_invitation==1#}
							<div class="cancelIn">
								<span>取消面试</span>
								<div class="btnPop">
									<p>面试状态-取消面试</p>
									<span>务必与求职者达成一致后才可取消面试</span>
									<div class="btn">
										<div class="callback">取消</div>
										<div class="confirm">确定取消</div>
									</div>
								</div>
							</div>
							{#else#}
							<div class="shield">
								<span>不合适</span>
								<div class="btnPop" onclick="event.stopPropagation()">
									<p>选择拒绝原因</p>
									<div class="reason">
										<input type="text" readonly placeholder="请选择拒绝原因" value="简历与职位高度不符">
										<ul>
											<li>简历与职位高度不符</li>
											<li>职位已停止招聘</li>
										</ul>
									</div>
									<div class="btn">
										<div class="callback">取消</div>
										<div class="confirm">确定拒绝</div>
									</div>
								</div>
							</div>
							{#/if#}
						</div>
						<div class="btn3">
							<div class="text">面试已取消</div>
							<div class="btn">
								<span class="talk chat_to-Link">聊一聊</span>
								<span class="invite">重新约面</span>
								<span class="shield">
									<span>不合适</span>
									<div class="btnPop" onclick="event.stopPropagation()">
										<p>选择拒绝原因</p>
										<div class="reason">
											<input type="text" readonly placeholder="请选择拒绝原因" value="简历与职位高度不符">
											<ul>
												<li>简历与职位高度不符</li>
												<li>职位已停止招聘</li>
											</ul>
										</div>
										<div class="btn">
											<div class="callback">取消</div>
											<div class="confirm">确定拒绝</div>
										</div>
									</div>
								</span>
							</div>
						</div>
						<!-- 对简历操作的按钮 -->
						<div class="btn2" {#if $detail_unSuit==1#}style="display: none;" {#/if#}>
							<div class="item">
								<img src="{#$templets_skin#}images/share_btn.png">
								<p>分享</p>
								<div class="popver_app">
									<h4>转发分享简历</h4>
									<div class="qrCode">
										<img src="/include/qrcode.php?data={#getUrlPath service='job' template='resume' param="
											id=$detail_id&{#if $userinfo &&
											$userinfo.userid#}fromShare={#$userinfo.userid#}{#/if#}"#}">
									</div>
									<p><span>手机/微信</span>扫码转发简历</p>
								</div>
							</div>
							<div data-id="{#$detail_id#}" class="item {#if $detail_collect==1#}collected{#/if#}">
								<img src="{#$templets_skin#}images/StarO.png" class="had">
								<img src="{#$templets_skin#}images/starBla.png" class="have">
								<p>{#if $detail_collect==1#}已{#/if#}收藏</p>
							</div>
							<a class="item"
								href="{#if $detail_download!=0#}/include/ajax.php?service=job&action=downloadResume&id={#$detail_id#}&local=1{#else#}javascript:;{#/if#}">
								<img src="{#$templets_skin#}images/save_btn.png">
								<p>存至本地</p>
							</a>
							<div class="item print" data-id="{#$detail_id#}">
								<img src="{#$templets_skin#}images/print_btn.png">
								<p>打印</p>
							</div>
						</div>
						<!-- 不合适取消按钮 -->
						{#if $detail_delivery==0#}
						<div class="cancel" {#if $detail_unSuit==1#}style="display: block;" {#/if#}>
							不合适<span>(可点击取消)</span></div>
						{#else#}
						<div class="cancel" {#if $detail_unSuit==1#}style="display: block;" {#/if#}>
							已回绝对方投递<span>(不可取消)</span></div>
						{#/if#}
					</div>
					<!-- 人才标记 -->
					{#if $detail_download#}
					<div class="cro-label">
						<div class="title">
							{#if $detail_remark.remark_invitation_time==0#}
							<span>人才标记</span>
							<div class="add">
								<img
									src="{#$templets_skin#}images/{#if !$detail_remark.remark_type#}collectBlu.png{#else#}mark_blue.png{#/if#}">
								{#if $detail_remark.remark_type==1#}已约面
								{#elseif $detail_remark.remark_type==2#}未接通
								{#elseif $detail_remark.remark_type==3#}待回复
								{#elseif $detail_remark.remark_type==4#}待拨打
								{#else#}添加标记
								{#/if#}
								<div class="addpop remark">
									<p>添加标记（仅自己可见）</p>
									<ul class="label">
										<li data-type="1" {#if $detail_remark.remark_type==1#}class="active" {#/if#}>已约面
										</li>
										<li data-type="2" {#if $detail_remark.remark_type==2#}class="active" {#/if#}>未接通
										</li>
										<li data-type="3" {#if $detail_remark.remark_type==3#}class="active" {#/if#}>待回复
										</li>
										<li data-type="4" {#if $detail_remark.remark_type==4#}class="active" {#/if#}>待拨打
										</li>
									</ul>
									<textarea placeholder="添加备注，最多50个字"
										maxlength="50">{#$detail_remark.remark_resume#}</textarea>
									<div class="number">
										<span>{#strlen($detail_remark.remark_resume)|default:0#}</span>/50</div>
									<div class="btn">
										<div class="callback">取消</div>
										<div class="confirm">确定</div>
									</div>
								</div>
							</div>
							{#else#}
							<span>面试状态</span>
							<div class="add">
								<img src="{#$templets_skin#}images/collectBlu.png">标记状态
								<div class="addpop invite">
									<div class="invite-title">
										<p>面试状态（仅自己可见）</p>
										<div class="it-img">
											<img src="{#$templets_skin#}images/quesMark.png">
											<div class="it-explain">
												<em>面试结果通知：</em>面试结果、入职时间都需招聘方自行通知到位，此处仅为方便招聘人员管理面试进度与入职信息</div>
										</div>
									</div>
									<ul class="label">
										<li data-type="4">已录取，待入职</li>
										<li data-type="3">沟通offer</li>
										<li data-type="5">已面试，不合适</li>
									</ul>
									<div id="calendar">
										<el-date-picker v-model="value" type="date" class="inviteDate"
											placeholder="选择日期" style="width: 100%;" :editable="false"
											:clearable="false">
										</el-date-picker>
										<div class="el-icon-plus">添加备注</div>
									</div>
									<div class="explain">
										<textarea placeholder="添加备注，最多50个字"
											maxlength="50">{#$detail_remark.remark_invitation#}</textarea>
										<div class="number">
											<span>{#strlen($detail_remark.remark_invitation)|default:0#}</span>/50</div>
									</div>
									<!-- <div class="refuse">
										<input type="text" readonly placeholder="请选择拒绝原因">
										<ul>
											<li>简历与职位高度不符</li>
											<li>职位已停止招聘</li>
										</ul>
									</div> -->
									<div class="btn">
										<div class="callback">取消</div>
										<div class="confirm none">确定</div>
									</div>
								</div>
							</div>
							{#/if#}
						</div>
						{#if $detail_invitation==0#}
						<p>
							{#if !$detail_remark#}分组/标记，可以在人才管理中快速定位人才
							{#else#}{#$detail_remark.remark_resume#}
							{#/if#}
						</p>
						{#else#}
						<p>
							{#if !$detail_remark#}分组/标记，可以在人才管理中快速定位人才
							{#else#}{#$detail_remark.remark_invitation#}
							{#/if#}
						</p>
						{#/if#}
					</div>
					{#/if#}
					<!-- 处理记录 -->
					<div class="cro-history">
						<p class="title">处理记录</p>
						<ul>
						</ul>
					</div>
				</div>
				<!-- 举报 -->
				<div class="cr-complain">
					<img src="{#$templets_skin#}images/complainO.png">
					<span>若简历无效、或含虚假诈骗信息，请<a href="javascript:;">立即举报</a><span>!</span></span>
				</div>
			</div>
		</div>
		<!-- 提示 -->
		<div class="warning">
			<p>已取消不合适，可继续操作此简历</p>
		</div>
		<!-- 保存至本地的弹窗 -->
		<div class="popwarn">
			<div class="pw-con">
				<img src="{#$templets_skin#}images/close_icon.png">
				<p>确定保存简历至本地</p>
				<span>未购买的简历不含求职者联系方式，建议购买后再保存</span>
				<div class="btn">
					<div class="confirm">仍然保存</div>
					<div class="purchase">购买简历</div>
				</div>
			</div>
		</div>
		<!-- 企业注册 -->
		<div class="cregister">
			<div class="cg-con">
				<img src="{#$templets_skin#}images/close_icon.png" class="cgc-close">
				<div class="cgc-title">温馨提示</div>
				<div class="cgc-text">尊敬的企业用户您好，请先按顺序完成一下操作，即可下载简历</div>
				<a class="cgc-step1" href="{#$cfg_basehost#}/supplier/job/company_info.html" target="_blank">
					<div class="name">完善企业信息</div>
					<div class="step">立即完善></div>
				</a>
				<div class="cgc-step2">
					<div class="name">发布招聘职位</div>
					<div class="step">立即发布></div>
				</div>
				<div class="cgc-btn">我已完成以上操作</div>
			</div>
		</div>
		{#include file="resumePop.html"#}
	</div>
	{#/if#}
	<!-- 打印内容 -->
	<div class="printBox" id="printPage" v-if="resumeDetail">
		<!-- 个人信息 -->
		<div class="personInfoBox">
			<div class="wrap personInfoCon" style="padding:5px 50px 24px;">
				<div class="fn-left fn-clear personInfo" style="max-width: 600px;word-break: break-all;">
					<div class="photo fn-left">
						<el-avatar :size="130" :src="resumeDetail.photo_url" shape="circle">
							<img src="/static/images/noPhoto_100.jpg" />
						</el-avatar>

					</div>
					<div class="info">
						<h4 class="username">{{resumeDetail.name}}</h4>
						<p class="userInfo">
							<span>{{resumeDetail.sex_name}}</span><em>|</em><span>{#$detail_age#}岁({#$detail_birth|date_format:"Y年n月"#})</span><em>|</em><span>{{resumeDetail.edu_tallest_name}}</span><em>|</em><span>{{resumeDetail.work_jy_name.replace('工作经验','')}}工作经验</span><em>|</em><span>{{resumeDetail.workState_name}}</span>
						</p>
						<p class="userContact">
							<span class="phone"><s></s>{{resumeDetail.phone}}</span>
							{#if $detail_userid==$userinfo.userid||$detail_buy==1#}
							<span class="email" v-if="resumeDetail.email"><s></s>{{resumeDetail.email}}</span>
							<span class="wechat" v-if="resumeDetail.wechat"><s></s>{{resumeDetail.wechat}}</span>
						</p>
						{#/if#}
					</div>
				</div>
				<div class="fn-right post_in" style="word-break: break-all;text-align: right;padding-bottom: 20px;">
					<div style="line-height: 34px;color: #000000;">
						<div v-for="(item,index) in resumeDetail.job_name"
							style="text-align: right;max-width: 250px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
							{{item}}
						</div>
					</div>
					<p style="font-weight: normal;font-size: 15px;color: #212121;margin-top: 8px;">
						期望薪资：{#$detail_min_salary#}-{#$detail_max_salary#}</p>
				</div>
			</div>
		</div>
		<!-- 个人优势 -->
		<div class="advantage" v-if="resumeDetail.advantage || (resumeDetail.ad_tag && resumeDetail.ad_tag.length)">
			<div style="width: 1200px;margin: 0px auto;padding: 0px 50px;font-size: 16px;">
				<h4 v-if="resumeDetail.advantage" style="margin-bottom: 10px;"><b>个人优势：</b><span
						style="color: black;">{{resumeDetail.advantage}}</span></h4>
				<p class="labs" v-if="resumeDetail.ad_tag && resumeDetail.ad_tag.length"
					style="padding: 0px calc(50% - 600px);margin:auto;">
					<span v-for="item in resumeDetail.ad_tag"><em>{{item}}</em></span>
				</p>
			</div>
		</div>
		<!-- 简历详情 -->
		<div class="resumeDetailContainer">
			<div class="wrap resumeDetailBox" style="padding: 0px 50px;">
				<!-- 简历详情 -->
				<div class="resumeDetail">
					<!-- 求职意向 -->
					<dl class="intention">
						<dt><span>求职意向</span><s class="line_divider"></s></dt>
						<dd class="fn-clear" style="padding-bottom: 6px;">
							<div class="left_info fn-left">
								<p><label for="">工作性质：</label><span>{{resumeDetail.nature_name}}</span></p>
								<p><label for="">期望地区：</label><span
										v-if="resumeDetail && resumeDetail.addr_list_Name">{{resumeDetail.addr_list_Name.join('')}}</span></p>
							</div>
							<div class="left_info fn-left">
								<p><label for="">到岗时间：</label><span>{{resumeDetail.startWork_name}}</span></p>
								<p><label for="">期望行业：</label><span>{#join('、',$detail_type_name)#}</span></p>
							</div>
						</dd>
					</dl>

					<!-- 教育背景 -->
					<dl>
						<dt><span>教育背景</span><s class="line_divider"></s></dt>
						<dd class="timeline_dd">
							<el-timeline>
								<el-timeline-item v-for="item in resumeDetail.education" :hide-timestamp="true"
									:timestamp="item.start" placement="top">
									<h4>{{item.school}} <span
											style="margin-left:10px;vertical-align: 0px;">{{item.zy}}</span></h4>
									<p><span>{{item.xl}}</span><em>|</em><span>{{item.start.replace(/-/g,'.')}} -
											{{item.end.replace(/-/g,'.')}}</span></p>
								</el-timeline-item>
							</el-timeline>

						</dd>
					</dl>

					<!-- 工作经历 -->
					<dl class="work_jl" style="margin-top: 20px;">
						<dt><span>工作经历</span><s class="line_divider"></s></dt>
						<dd class="timeline_dd">
							<el-timeline  v-if="resumeDetail.work_jl && resumeDetail.work_jl.length">
								<el-timeline-item v-for="item in resumeDetail.work_jl" :hide-timestamp="true"
									:timestamp="item.start" placement="top">
									<h4>{{item.company}} <span
											style="margin-left:10px;vertical-align: 0px;">{{item.job}}</span></h4>
									<p><span>{{item.department}}</span><em v-if="item.department">|</em><span>{{item.work_start.replace(/-/g,'.')}}
											- {{item.work_end.replace(/-/g,'.')}} 
											<em style="font-weight: bold;color: black;font-size: 16px;vertical-align: 0px;">({{item.work_time_count}})</em></span>
									</p>
									<div class="workCon" v-if="item.department">
										<h5>工作内容：</h5>
										<div class="work_content" v-html="item.content.replaceAll('\r\n','<br>')"></div>
									</div>
								</el-timeline-item>
							</el-timeline>
							<div v-else  style="font-size: 16px;color: black;">暂无工作经历</div>
						</dd>
					</dl>
					<!-- 语言能力 -->
					<dl v-if="resumeDetail.skill && resumeDetail.skill.lng && resumeDetail.skill.lng.length">
						<dt><span>语言能力</span><s class="line_divider"></s></dt>
						<dd>
							<ul class="ul_text">
								<li v-for="lng in resumeDetail.skill.lng"><label for="">{{lng.lang}}</label>
									<p><span>掌握程度：听说{{lng.level_speak}} 读写{{lng.level_read}}</span><em>|</em><span>证书：{{lng.certificate}}</span></p>
								</li>
							</ul>
						</dd>
					</dl>
					<!-- 专业证书 -->
					<dl v-if="resumeDetail.skill && resumeDetail.skill.ski && resumeDetail.skill.ski.length">
						<dt><span>专业证书</span><s class="line_divider"></s></dt>
						<ul class="ul_text">
							<li v-for="ski in resumeDetail.skill.ski">
								<p><span style="font-weight: bold;font-size: 17px;margin-right: 16px;">{{ski.certificateType}}</span><span>证书：{{ski.cer_fullName}}</span><em>|</em><span>获取时间：{{ski.time}}年</span></p>
							</li>
						</ul>
					</dl>
				</div>
			</div>
		</div>
		<!-- 底部信息 -->
		<div class="bottomInfoCon">
			<div class="wrap">
				<div class="fn-left masterInfo">
					<div class="logo"><img src="{#$job_logoUrl#}" alt=""></div>
					<p><em>|</em>专业招聘平台 <span>{#$job_hotline#}</span></p>
				</div>
				<div class="fn-right resumeInfo">
					<span>{#$detail_name#}-简历ID：<b>{#$detail_id#}</b></span>
					<span>简历更新：{#$detail_update_time|date_format:"%Y-%m-%d"#}</span>
					<span class="downloadtime">下载时间：{#$smarty.now|date_format:"%Y-%m-%d"#}</span>
				</div>
			</div>
		</div>
	</div>
	{#include file="footer.html" theme='white'#}
	<script type="text/javascript" src="{#$cfg_staticPath#}js/vue/axios.min.js?v={#$cfg_staticVersion#}"></script>
	<script type="text/javascript" src="{#$templets_skin#}js/resume-detail.js?v={#$cfg_staticVersion#}"></script>
	{#if !$preview#}
	<script type="text/javascript" src="{#$templets_skin#}js/resume-firm.js?v={#$cfg_staticVersion#}"></script>
	{#/if#}
</body>

</html>