<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>招聘会-{#$job_title#}</title>
<meta name="keywords" content="招聘会,招聘网,招聘信息,互联网招聘" />
<meta name="description" content="招聘会,招聘网,求职网,互联网招聘,{#$cfg_shortname#}招聘是互联网领域垂直招聘网站,互联网职业机会尽在{#$cfg_shortname#}招聘" />
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/zhaopinhui.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$job_channelDomain#}', staticPath = '{#$cfg_staticPath#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#};
	var addr = {#$addr|string_format:"%d"#};
</script>
</head>
{#$bool = true#}
{#$pageUrl = {#getUrlPath service='job' template='zhaopinhui'#}#}
<!-- 如果url内无type，则给其设置成1 -->
{#if !$type#}
	{#$type=1#}
{#/if#}

<body class="w1200" style="background-color: #F7F9FC;">
{#$pageMark = "zhaopinhui"#}
{#include file="top.html"#}
	<!-- 头部 -->
	<div style="background: linear-gradient(to right,#2581ff 0%,#2480ff 100%);border-top: 6px solid #B2D1FE;display: flex;justify-content: center;">
		<div class="header">
			<!-- 头部内容 -->
			<div class="h-content">
				<p class="hc-title">{#$siteCityInfo['name']#}人才招聘会</p>
				<p class="hc-text">——企业与人才的双向选择，把握机会成就人生</p>
				<!-- tab切换 -->
				<div class="hc-tab">
					<!-- 左切换 -->
					<a href="{#getUrlPath service='job' template='zhaopinhui' param='type=1'#}" class="hct-left">
						<div style="position: absolute;z-index: 1;">
							<span>现场招聘会</span>
							<span class="text">第一时间面对面</span>
						</div>
						{#if $type==1#}
						<img src="{#$templets_skin#}images/leftclick.png">
						{#/if#}
					</a>
					<!-- 右切换 -->
					<a href="{#getUrlPath service='job' template='zhaopinhui' param='type=2'#}" class="hct-right">
						<div style="position: absolute;z-index: 1;">
							<span>网络招聘会</span>
							<span class="text">随时随地 省力高效</span>
						</div>
						{#if $type==2#}
						<img src="{#$templets_skin#}images/rightclick.png">
						{#/if#}
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- 具体内容 -->
	<div class="content">
		<!-- 顶部地址 -->
		<div class="c-address">
			<div class="ca-content">
                {#if $type==1#}
				<div class="none">地区:</div>
				<!-- 地址 -->
				<ul class="cac-area">
					<li {#if !{#$addrid#}#} class="active" {#/if#}><a href="{#getUrlPath service='job' template='zhaopinhui' param="type={#$type#}"#}">全部</a></li>
					{#job action="addr" type="{#$siteCityInfo['cityid']#}" service="job" return="address"#}
					<li {#if {#$addrid#}=={#$address.id#}#} class="active" {#/if#}><a href="{#getUrlPath service='job' template='zhaopinhui' param="type={#$type#}&addrid={#$address.id#}"#}">{#$address.typename#}</a></li>
					{#/job#}
				</ul>
                {#else#}
                <ul class="cac-area"><li>&nbsp;</li></ul>
                {#/if#}
				<!-- 分页 -->
				<div class="cac-pages">
					<a {#if $page!=1#} href="{#getUrlPath service='job' template='zhaopinhui' param="type={#$type#}&page={#$page -1#}"#}" class="left-arrow active"{#else#}class="left-arrow"{#/if#}></a>
					<span class="number"><span class="nowpage">{#$page#}</span> / <span class="allcount">200</span></span>
					<a class="right-arrow"></a>
				</div>
			</div>
		</div>
		<div class="c-items">
			<!-- 进行中 -->
			{#job action="fairs" service="job" return="itemcontent" type=$type addrid={#$addrid#} page={#$page#} pageSize="8"#}
			{#if $itemcontent.stating==1#}
			<a href="{#$itemcontent.url#}&type={#$type#}" target="_blank" class="c-zhaopin">
				<!-- 左侧图片 -->
				<div class="doing">
					<img src="{#$itemcontent.picture[0].pic#}" onerror="this.src='/static/images/404.jpg'">
					<span>进行中</span>
				</div>
				<!-- 右侧文本 -->
				<div style="height: 100%;display: flex;align-items: center;justify-content: space-between;">
					<div class="cz-content">
						<p class="title">{#$itemcontent.title#}</p>
						<p>面向对象：{#$itemcontent.obj#}</p>
						<p>
							主办方/地址：{#$itemcontent.fairs.title#}
							<span class="detailaddr">({#$itemcontent.fairs.address#})</span>
						</p>
						<p>联系电话：{#$itemcontent.phone#}</p>
						<p class="time">{#$itemcontent.show_text#}</p>
					</div>
					<div class="cz-detail">查看详情</div>
				</div>
			</a>
			{#elseif $itemcontent.stating==0#}
			<!-- 即将开始 -->
			<a href="{#$itemcontent.url#}&type={#$type#}" target="_blank" class="c-zhaopin">
				<div class="soon">
					<img src="{#$itemcontent.picture[0].pic#}" onerror="this.src='/static/images/404.jpg'">
					<span>即将开始</span>
				</div>
				<div style="height: 100%;display: flex;align-items: center;justify-content: space-between;">
					<div class="cz-content">
						<p class="title">{#$itemcontent.title#}</p>
						<p>面向对象：{#$itemcontent.obj#}</p>
						<p>主办方/地址：{#$itemcontent.fairs.title#}<span class="detailaddr">({#$itemcontent.fairs.address#})</span>
						</p>
						<p>联系电话：{#$itemcontent.fairs.tel#}</p>
						<p class="time" style="color:#1975FF;"><span>{#$itemcontent.show_text#}</span></p>
					</div>
					<div class="cz-detail">查看详情</div>
				</div>
			</a>
			{#else#}
			<!-- 往期招聘会 -->
			{#if $_bindex.itemcontent==1&&$itemcontent.stating==2#}{#$bool = false#}
			{#elseif $bool#}<div class="c-timeout" href="javascript:;">往期招聘会</div>
			{#/if#}
			<a href="{#$itemcontent.url#}&type={#$type#}" target="_blank" class="c-zhaopin">
				<div class="done">
					<img src="{#$itemcontent.picture[0].pic#}" onerror="this.src='/static/images/404.jpg'">
					<span>往期招聘会</span>
					<!-- 图片背景层 -->
					<div class="ended">
						<div>已结束</div>
					</div>
				</div>
				<div style="height: 100%;display: flex;align-items: center;justify-content: space-between;">
					<div class="cz-content">
						<p class="title">{#$itemcontent.title#}</p>
						<p>面向对象：{#$itemcontent.obj#}</p>
						<p>主办方/地址：{#$itemcontent.fairs.title#}<span class="detailaddr">({#$itemcontent.fairs.address#})</span></p>
						<p>联系电话：{#$itemcontent.fairs.tel#}</p>
						<p class="time" style="color:#999999"><span>{#$itemcontent.show_text#}</span></p>
					</div>
				</div>
			</a>
			{#/if#}
			{#/job#}
			{#if $pageInfo.totalCount==0#}
			<div class="c-none">
				<img src="{#$templets_skin#}images/nonesearch.png">
				<p>很抱歉，暂无相关招聘会信息</p>
			</div>
			{#/if#}
		</div>
	</div>
	<!-- 分页 -->
	{#getPageList service='job' template='zhaopinhui' pageType='dynamic' param="type=$type&page=#page#"#}
{#include file="footer.html" theme="white"#}
<script type="text/javascript">
	var totalCount = {#$pageInfo.totalCount|string_format:"%d"#}, totalPage = {#$pageInfo.totalPage|string_format:"%d"#}, atPage = {#$page#};
	var pageUrl = '{#getUrlParam url={#$pageUrl#} data="{#$pageParam#}&page=pagePlaceholder"#}#J_crumbs';
	// 翻页操控
	var pagedownUrl='{#getUrlPath service='job' template='zhaopinhui' param="type={#$type#}&page={#$page +1#}"#}'
	$('.cac-pages .number .allcount').text(totalPage)
	if(atPage<totalPage){
		$('.cac-pages .right-arrow').prop('href',pagedownUrl);
		$('.cac-pages .right-arrow').addClass('active');
	}
	if(atPage==totalPage){
		$('.cac-pages .right-arrow').css({borderColor:'#999999'});
	}
	if(atPage!=1){
		$('.cac-pages .left-arrow').css({borderColor:'#666666'});
	}
</script>
<script type="text/javascript" src="{#$templets_skin#}js/zhaopinhui.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
