:root {
    --van-black: #000;
    --van-white: #fff;
    --van-gray-1: #f7f8fa;
    --van-gray-2: #f2f3f5;
    --van-gray-3: #ebedf0;
    --van-gray-4: #dcdee0;
    --van-gray-5: #c8c9cc;
    --van-gray-6: #969799;
    --van-gray-7: #646566;
    --van-gray-8: #323233;
    --van-red: #ee0a24;
    --van-blue: #1989fa;
    --van-orange: #ff976a;
    --van-orange-dark: #ed6a0c;
    --van-orange-light: #fffbe8;
    --van-green: #07c160;
    --van-gradient-red: linear-gradient(to right, #ff6034, #ee0a24);
    --van-gradient-orange: linear-gradient(to right, #ffd01e, #ff8917);
    --van-primary-color: var(--van-blue);
    --van-success-color: var(--van-green);
    --van-danger-color: var(--van-red);
    --van-warning-color: var(--van-orange);
    --van-text-color: var(--van-gray-8);
    --van-text-color-2: var(--van-gray-6);
    --van-text-color-3: var(--van-gray-5);
    --van-text-link-color: #576b95;
    --van-active-color: var(--van-gray-2);
    --van-active-opacity: .6;
    --van-disabled-opacity: .5;
    --van-background-color: var(--van-gray-1);
    --van-background-color-light: var(--van-white);
    --van-padding-base: 4px;
    --van-padding-xs: 8px;
    --van-padding-sm: 12px;
    --van-padding-md: 16px;
    --van-padding-lg: 24px;
    --van-padding-xl: 32px;
    --van-font-size-xs: 10px;
    --van-font-size-sm: 12px;
    --van-font-size-md: 14px;
    --van-font-size-lg: 16px;
    --van-font-weight-bold: 500;
    --van-line-height-xs: 14px;
    --van-line-height-sm: 18px;
    --van-line-height-md: 20px;
    --van-line-height-lg: 22px;
    --van-base-font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Segoe UI, Arial, Roboto, "PingFang SC", "miui", "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
    --van-price-integer-font-family: Avenir-Heavy, PingFang SC, Helvetica Neue, Arial, sans-serif;
    --van-animation-duration-base: .3s;
    --van-animation-duration-fast: .2s;
    --van-animation-timing-function-enter: ease-out;
    --van-animation-timing-function-leave: ease-in;
    --van-border-color: var(--van-gray-3);
    --van-border-width-base: 1px;
    --van-border-radius-sm: 2px;
    --van-border-radius-md: 4px;
    --van-border-radius-lg: 8px;
    --el-input-border-radius: 4px;
    --el-border-color: #dcdfe6;
    --van-border-radius-max: 999px;}
body{
    background-color: #f5f5f5;
    min-height: 100vh;
    box-sizing: border-box;
    padding-bottom: 50px;
}
.topInfo{
   margin-bottom: 0; 
}
.header-top{background-color: #fff; }
.header{
    background-color: #fff;
    padding: 2px 0;
    border-bottom: solid 2px #000;
}

.auction-header {
    margin: 20px 0 10px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.v-spacer {
    float: left;
    width: 1px;
    height: 50px;
    margin: 0 0 0 16px;
    background: #E9E3E3;
    overflow: hidden;
}

.el-input-group {
    display: inline-flex;
    width: 100%;
    align-items: stretch;
}


.auction-search {
    width: 285px;
    height: 30px;
    border-radius: 15px;
}

.auction-search>.el-input__wrapper {
    float: left;
    width: 175px;
    height: 30px;
    line-height: 30px;
    color: #A5A5A5;
    padding: 4px 25px;
    border: none;
    border-radius: 19px 0 0 19px;
    background: #f4f4f4;
    outline: 0;
    font-size: 12px;
    box-shadow: none;
}

.auction-search>.el-input-group__append {
    float: left;
    width: 61px;
    height: 38px;
    border: none;
    line-height: 1;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    background: #C71622;
    border-radius: 0 19px 19px 0;
    padding: 0;
}

.el-input-group__append {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 0 1px 0 0 var(--el-input-border-color) inset,0 -1px 0 0 var(--el-input-border-color) inset,-1px 0 0 0 var(--el-input-border-color) inset;
}
.el-input-group__append, .el-input-group__prepend {
    background-color: var(--el-fill-color-light);
    color: var(--el-color-info);
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    border-radius: var(--el-input-border-radius);
    padding: 0 20px;
    white-space: nowrap;

}
.el-input__inner.searchInput {
    --el-input-inner-height: calc(var(--el-input-height, 32px) - 2px);
    width: 100%;
    flex-grow: 1;
    -webkit-appearance: none;
    color: var(--el-input-text-color,var(--el-text-color-regular));
    font-size: inherit;
    height: var(--el-input-inner-height);
    line-height: var(--el-input-inner-height);
    padding: 0;
    outline: 0;
    border: none;
    background: 0 0;
    box-sizing: border-box;
}

.el-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    height: 32px;
    white-space: nowrap;
    cursor: pointer;
    color: var(--el-button-text-color);
    text-align: center;
    box-sizing: border-box;
    outline: 0;
    transition: .1s;
    font-weight: var(--el-button-font-weight);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -webkit-appearance: none;
    padding: 8px 15px;
    font-size: var(--el-font-size-base);
    border-radius: var(--el-border-radius-base);
}


.el-input-group__append button.el-button, .el-input-group__append button.el-button:hover, .el-input-group__append div.el-select .el-input__wrapper, .el-input-group__append div.el-select:hover .el-input__wrapper, .el-input-group__prepend button.el-button, .el-input-group__prepend button.el-button:hover, .el-input-group__prepend div.el-select .el-input__wrapper, .el-input-group__prepend div.el-select:hover .el-input__wrapper {
    border-color: transparent;
    background-color: transparent;
    color: inherit;
}
.el-button:not(.is-text,.is-link,.el-button--text) {
    background-color: var(--el-button-bg-color);
    border: var(--el-border);
    border-color: var(--el-button-border-color);
}

.el-input-group__append .el-button, .el-input-group__append .el-select, .el-input-group__prepend .el-button, .el-input-group__prepend .el-select {
    display: inline-block;
    margin: 0 -20px;
}


.el-button {
    --el-button-font-weight: var(--el-font-weight-primary);
    --el-button-border-color: var(--el-border-color);
    --el-button-bg-color: var(--el-fill-color-blank);
    --el-button-text-color: var(--el-text-color-regular);
    --el-button-disabled-text-color: var(--el-disabled-text-color);
    --el-button-disabled-bg-color: var(--el-fill-color-blank);
    --el-button-disabled-border-color: var(--el-border-color-light);
    --el-button-divide-border-color: rgba(255, 255, 255, 0.5);
    --el-button-hover-text-color: var(--el-color-primary);
    --el-button-hover-bg-color: var(--el-color-primary-light-9);
    --el-button-hover-border-color: var(--el-color-primary-light-7);
    --el-button-active-text-color: var(--el-button-hover-text-color);
    --el-button-active-border-color: var(--el-color-primary);
    --el-button-active-bg-color: var(--el-button-hover-bg-color);
}

.el-icon {
    --color: inherit;
    height: 1em;
    width: 1em;
    line-height: 1em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    fill: currentColor;
    color: var(--color);
    font-size: inherit;
}


#Footer h3 {
    font-size: 24px;
    font-weight: 400;
}

#Footer .mc {
    margin-top: 20px;
    padding: 20px;
    background: #fff;
}
.el-row {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    box-sizing: border-box;
}
[class*=el-col-].is-guttered {
    display: block;
    min-height: 1px;
}

#Footer .el-card {
    --el-card-padding: 0;
    border: none;
    text-align: center;
    height: 100px;
    padding-top: 20px;
}

.el-card__body {
    padding: var(--el-card-padding);
}

#Footer .el-card a {
    display: block;
    width: 100%;
    cursor: pointer;
}

img {
    object-fit: cover;
}

#Footer .p-name {
    margin-top: 10px;
    height: 18px;
    overflow: hidden;
    transition: all .25s linear;
    font-size: 12px;
}

#Footer .el-card {
    --el-card-padding: 0;
    border: none;
    text-align: center;
    height: 100px;
    padding-top: 20px;
}

.el-col-4 {
    max-width: 16.6666666667%;
    flex: 0 0 16.6666666667%;
}
.footer{background-color: #f5f5f5;}

#Footer .first-t {
    font-size: 32px;
    color: #C71622;
}
[class*=el-col-] {
    float: left;
    box-sizing: border-box;}

#Footer .el-card.is-hover-shadow{box-shadow: 2px 2px 10px rgba(255,255,255,0); transition: box-shadow .3s , border-bottom .3s; border-bottom: solid 3px #c7162200;}
#Footer .el-card.is-hover-shadow:focus,#Footer .el-card.is-hover-shadow:hover{ border-bottom: solid 3px #C71622; box-shadow:2px 2px 10px rgba(0,0,0,.1);}

[v-cloak]{display:none !important;}
.help .helplist dl dt{color: #333;}
button{border: none !important;}
.help .qr .qr-img{color: #999;}